[2021-08-30 08:13] gengjiawen commented on #1004
You can send a PR to https://github.com/gitpod-io/workspace-images.

[2021-08-30 08:22] geropl commented on #5414
How is this related to this PR we recently deployed? https://github.com/gitpod-io/gitpod/pull/5322

[2021-08-30 08:36] #5405 closed

[2021-08-30 08:51] laushinka commented on #5315
@atduarte Could we find out how many users unsubscribed from the DevX mail in these two weeks?

[2021-08-30 09:08] atduarte commented on #5315
The users that changed the `unsubscribe_devx` attribute are listed [here](https://fly.customer.io/env/106338/activity_logs/identified?name=unsubscribed_devx&type=attribute_change). There are only two of them as of now, and one of them is invalid (not sure how it appeared in customer.io).

[2021-08-30 09:35] laushinka commented on #5315
@atduarte Hmm. I wonder why `unsubscribed_changelog` (previously `unsubscribed`) isn't there, while `unsubscribed` is still generating events even today. I'm only cc-ing @jakobhero because he's on vacation, but maybe this is something that needs to be looked into.

[2021-08-30 09:56] dac09 commented on #5198
Just leaving a suggestion here: I don't think dotfiles should necessarily be provided in the gitpod.yml - because it's highly personal. I'd much prefer to set the dotfiles on _my_ account only, and not force my team to use my dotfiles too :)

[2021-08-30 10:28] laushinka commented on #5315
@ChristinFrohne From the link that @atduarte sent, it looks like hundreds of unsubscriptions are happening, and it could be the ones for Changelog. We don't know because `unsubscribed_changelog` isn't part of the dropdown, so we have to investigate whether something went wrong.

There are two things that I propose should happen:
1. Figure out whether something went wrong downstream. @jakobhero or

[2021-08-30 11:43] gtsiolis commented on #5309
Thanks @Cahllagerfeld! Using a search input could suffice here although skipping search could be also ok given this list will most probably remain finite. I've spent some time on how this could look like, see [design specs](https://www.figma.com/file/oBYyoZsASNu1jHLXQUHNfc/New-Workspace-Modal-Search-3534?node-id=0%3A1). Posting below some screenshots:

| Modal with search input | Modal with no res

[2021-08-30 11:47] atduarte commented on #5315
@laushinka `unsubscribed_changelog` does not show up because there was no "Attribute Change" event that affected it

[2021-08-30 11:50] Cahllagerfeld commented on #5309
They look amazing!

[2021-08-30 12:16] gtsiolis commented on #4196
Option A could be resolved with https://github.com/gitpod-io/gitpod/pull/5399.

[2021-08-30 12:17] jankeromnes commented on #1703
@akosyakov @ghuntley do you know if Gitpod is still affected by this bug?

[2021-08-30 12:24] akosyakov commented on #1703
@jankeromnes 🤷‍♂️

[2021-08-30 12:36] atduarte commented on #3564
Duplicate of #4196.

[2021-08-30 12:36] #3564 closed

[2021-08-30 12:45] laushinka commented on #5315
@atduarte I thought that too, but then I triggered it using my account (laurie@gitpod.io), and it still doesn't show up in the logs..

[2021-08-30 13:04] akosyakov opened #5437 "[code] gitpod desktop extension hangs on windows"
### Bug description

Try to start VS Code desktop from latest VS Code Web.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-30 13:04] akosyakov commented on #5437
/schedule

[2021-08-30 13:09] gtsiolis commented on #3403
Feel good to come back to this issue! Adding below some design specs on how we could add feature preview back to the dashboard in a more scalable way to support more features in the future.

| User indicator | User dropdown |
|-|-|
| <img width="1440" alt="Menu" src="https://user-images.githubusercontent.com/120486/131343283-deab55bf-7304-4bb2-8ebd-2294577f77aa.png"> | <img width="1440" alt="Menu-

[2021-08-30 13:41] shaal commented on #3738
Requesting to add `meta: never-stale` label to this issue

[2021-08-30 13:56] ChristinFrohne commented on #5315
It's quite important as without that change we would miss out to send DevX Emails to +110k existing users that formerly allowed these emails.

Can we not activate the devX checkbox for everyone that allows "changelog" emails minus the two users that recently unsubscribed from DevX?

[2021-08-30 14:20] gtsiolis commented on #3738
Added never-stale label although providing an ETA still sounds hard to tackle and potentially has a low impact for the users.

Instead focusing on improving the a) user experience and b) perceived performance of the loading screen while c) minimizing the start-up time sounds more realistic and impactful. ↪️

[2021-08-30 14:50] laushinka commented on #5315
@ChristinFrohne I will do this. For the two that recently unsubscribed I will ask @atduarte to do this manually, since it will be easier than a DB migration script.

[2021-08-30 16:00] atduarte opened #5440 "Attribute changes (e.g. unsubscribing) on customer.io are failing"
### Bug description

As seen in the [customer.io Activity Logs](https://fly.customer.io/env/106338/activity_logs/identified?type=failed_attribute_change) there is a huge number of "Failed Attribute Change" entries. The affected users are unable to unsubscribe—even though the Gitpod dashboard may show they did—or update the name used in the emails.

Example error message:
[code]

I'm unable to dete

[2021-08-30 16:15] atduarte opened #5441 "Thousands of customer.io users have no associated email"
### Bug description

While investigating #5440 with @laushinka, we noticed her email was not showing up in customer.io. The entry was created without any email as can be seen [here](https://fly.customer.io/env/106338/people/e2be060e8f38b0891a).

That led us to notice that there are [thousands of customer.io users without email](https://fly.customer.io/env/106338/people?filters=JTdCJTIyYW5kJTIyJTNB

[2021-08-30 16:34] atduarte commented on #5315
@laushinka we can activate for everyone and use the new /unsubscribe URL to manually unsubscribe the required users. Although, I should warn that at the moment given #5440 we are unable to determine whether we had more users unsubscribing.

[2021-08-30 17:17] aledbf opened #5443 "Remove gitpod_ws_daemon_workspace_cpu_limit_sec metric"
### Bug description

**Reasons:**

- Scalability is an issue due to the number of workspaces
- The metric is not being used
- We also log when a change in the CPU limit is configured. In this case, a log makes sense because of the additional context
- The metric is not removed after a workspace is disposed
- Reduce cost of self-hosted instances

### Steps to reproduce

-

### Expected behavior

_N

[2021-08-30 17:17] aledbf commented on #5443
/schedule
/assign

[2021-08-30 17:17] roboquat commented on #5443
@aledbf: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5443#issuecomment-908527476):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behav

[2021-08-30 17:18] aledbf commented on #5443
/team workspace

[2021-08-30 17:18] aledbf commented on #5443
/schedule

[2021-08-30 17:18] aledbf commented on #5443
/assign

[2021-08-30 17:22] filiptronicek commented on #3771
Can we please add Docker to the list?
![image](https://user-images.githubusercontent.com/29888641/131379049-46a0f416-61a6-4756-838b-18a270322a93.png)

/cc @gtsiolis

[2021-08-30 17:35] M-Gonzalo opened #5445 "psql not working"
### Bug description

I'm having an issue with my postgresql server, which won't start.
Message:

`createdb: error: could not connect to database template1: FATAL:  role "gitpod" does not exist`

### Steps to reproduce

sudo update && sudo apt install postgresql
psql

### Expected behavior

postresql prompt

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-30 17:50] shaal commented on #3738
Thank you @gtsiolis.
ETA would be great, but if it's not possible to know the exact numbers, I would suggest a visual ETA.

Currently, when waiting for workspace to start, Gitpod displays 3 bars, with 1 written status line above it. There's no way to know if it's going to take 5 seconds or 30.

I think the display, when starting a workspace can be improved by:
* Display the list of all steps that

[2021-08-30 20:07] aledbf opened #5446 "Remove duplication of GRPC configuration (client and server)"

[2021-08-30 20:07] aledbf commented on #5446
/team workspace

[2021-08-30 20:07] aledbf commented on #5446
/assign

[2021-08-30 20:10] RobinHoutevelts commented on #5411
I have a gitlab instance I share with friends.

I also have a paid gitpod account but most friends don't. If I add the integration, and my friends connect with their own account does it share data/workspaces with my friends?

- Are they going to be able to create workspaces by crafting an url?
- Are those in any way going to be billed to me?
- Are they going be able to create workspaces for projec

[2021-08-30 20:46] aledbf commented on #5446
/schedule

[2021-08-31 01:37] ghuntley commented on #5040
Terminal is indeed broke on b7 until gpuAcceleration is set to off. As soon as toggled to off the terminals instantly reload and work.

![PXL_20210831_013352986.jpg](https://user-images.githubusercontent.com/127353/131427320-b7cde82d-581a-4e73-80d0-12c4eea0bf82.jpg)

![PXL_20210831_013408741.jpg](https://user-images.githubusercontent.com/127353/131427325-1e1b8cf6-0909-431b-aea4-a09edd679445.jpg)

[2021-08-31 02:08] ghuntley opened #5448 "iPadOS15b7 Terminal does not focus input on tap"
nb: I have gpuAcceleration turned off at the moment otherwise terminal won't render.

https://user-images.githubusercontent.com/127353/131430176-1814cfd6-fb87-414c-9b6d-313e2fa056d3.mp4

[2021-08-31 02:11] ghuntley commented on #5445
0. 👋
1. Can you please create a repository which replicates this?
2. Are you using your own Dockerfile?
3. What does your .gitpod.yml look like :)

[2021-08-31 03:12] ghuntley commented on #1703
Unable to reproduce on iPadOSb7. Closing it out. Please raise another issue if it manifests again.

https://user-images.githubusercontent.com/127353/131435617-4fed3cc9-733f-44f0-bf21-aad199316873.mp4

[2021-08-31 03:13] #1703 closed

[2021-08-31 03:23] ghuntley opened #5450 "Support for AWS CodeCommit"
Often AWS Customers are left with Cloud9 as their only choice because other products do not support AWS CodeCommit. Adding support for AWS CodeCommit into Gitpod would solve this pain point.

https://aws.amazon.com/codecommit/

## SDK

NPM can be found at https://www.npmjs.com/package/@aws-sdk/client-codecommit

## Authentication

https://docs.aws.amazon.com/codecommit/latest/userguide/auth-and-ac

[2021-08-31 05:12] rl-gitpod commented on #5042
/werft run

[2021-08-31 05:59] csweichel commented on #5414
I reckon this mostly relates to server as the workspaces fail to start in the first place. I.e. their `StartWorkspace` request never makes it to ws-manager.

[2021-08-31 06:22] #4858 closed

[2021-08-31 06:57] ajhalili2006 opened #5451 "Support for env vars at Git host level"
## About this Issue

In the current state, the user-specific secrets/variables are only scoped at the namespace/organization and repository level. One can do `*/*` to include at the global level within their account but the problem is some repos can have the same namespace-repository path if mirrored to other Git hosts (e.g. `RecapTime/verify` in GitHub also exists in GitLab SaaS as the same names

[2021-08-31 07:29] JohannesLandgraf commented on #4889
Any progress/update on this issue? cc @leodido @csweichel

[2021-08-31 08:08] ghuntley opened #5452 "[Dashboard] Make www.gitpod.io redirect work for logged out users"
### Bug description

If a user is NOT logged in then:

- `https://gitpod.io/chat` does not redirect to `https://www.gitpod.io/chat`

Same for any 404.

When the user is logged in 404's redirect to the website.

### Steps to reproduce

As above

### Expected behavior

`https://gitpod.io` always redirects to `https://www.gitpod.io/` if 404

### Example repository

_No response_

### Anything else?

[2021-08-31 08:18] ghuntley opened #5453 "join discord server button on https://gitpod.io/login/"
Opening for discussion. Not sure how to integrate it (visually) but if we can integrate some sort of secondary flow where people either a) signup/signin for gitpod b) join community to learn more about gitpod if they are hesitant about scenario a).

Maybe completely not worth doing...

<img width="717" alt="2021-08-31_18-13-00" src="https://user-images.githubusercontent.com/127353/131467257-be6d53

[2021-08-31 08:33] #5368 closed

[2021-08-31 09:00] atduarte commented on #5440
The cause seems to be that the "event triggered campaigns" in customer.io were not updated to take the introduction. of the `unsubscribed_*` attributes into consideration.

As such, the next steps are:
- [ ] Fix customer.io "event triggered campaigns"
- [ ] Check if the issue is solved
- [ ] Manually reimport data into customer.io (Note: Include email in order to fix #5441)

[2021-08-31 10:34] atduarte commented on #5440
Problem solved. Subscription status in customer.io are now all up to date.

We keep having logs for "Failed Attribute Change" when there's no `full_name` defined but that's not a problem. I will investigate with customer.io how to avoid it though.

We were unable to successfully export the email list, not fixing #5441. It's not as urgent.

[2021-08-31 10:34] #5440 closed

[2021-08-31 10:53] gtsiolis commented on #3771
Thanks for noticing @filiptronicek! 🐳

Cross-checked [13], see https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/.

Cross-checked [14].

Cc @jankeromnes because of a [relevant discussion](https://gitpod.slack.com/archives/C01LDA27WJC/p1626765401029000) (internal).

Once [20] is resolved we can close this issue. Cc @ChristinFrohne @JohannesLandgraf

[2021-08-31 11:55] gtsiolis commented on #5452
Thanks for opening this @ghuntley! This is because `chat` could be a top-level URL now with **Teams & Projects** as a team.

However, we have already added some forbidden slugs that could conflict with the dashboard pages.

https://github.com/gitpod-io/gitpod/blob/4d9754ecc7bc2105a7ad19b60ea1b8f96fca72d2/components/gitpod-db/src/typeorm/team-db-impl.ts#L19-L50

Maybe it could make sense to also ad

[2021-08-31 12:04] #5443 closed

[2021-08-31 12:10] ghuntley commented on #5452
💭 this smells of future problems related to namespace/naming conflicts as we grow.

Instead of having teams on / what if they were /team/$name?

[2021-08-31 12:10] JohannesLandgraf opened #5458 "Make DB queries from Gitpod Admin Dashboard magnitudes faster"
Currently querying for workspaces in the admin dashboard is extremely slow to the point where you need to context switch waiting for the query to finish.

[2021-08-31 12:11] aledbf commented on #5458
Closing. Duplicate https://github.com/gitpod-io/gitpod/issues/4988

[2021-08-31 12:11] #5458 closed

[2021-08-31 12:24] csweichel opened #5460 "Terminal keyboard language/layout"
### Bug description

Originally reported here: https://community.gitpod.io/t/terminal-keyboard-language-layout/4852

Have not tried to reproduce yet.

### Steps to reproduce

Start a workspace with a non-US layout.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-31 12:24] csweichel commented on #5460
/schedule

[2021-08-31 12:24] roboquat commented on #5460
@csweichel: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5460#issuecomment-909188034):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-08-31 12:26] csweichel commented on #5460
More details: https://gitpod.slack.com/archives/C020VCB0U5A/p1630333975039400

[2021-08-31 12:26] corneliusludmann commented on #5460
Related: https://github.com/gitpod-io/gitpod/issues/5017

I have the same problem in all of my workspaces.

[2021-08-31 12:42] svenefftinge opened #5461 "[configurator] Endless spinning when user has no access"
I created two users User A with GitLab token and User B with GitHub token.
User A created a team & project (connected to a gitlab repo) and invites user B.
User B  goes to the configuration page and sees:

<img width="678" alt="Screenshot 2021-08-31 at 14 39 16" src="https://user-images.githubusercontent.com/372735/131504288-73003eff-406f-4b34-969f-4c7fee2e7102.png">

[2021-08-31 12:42] svenefftinge commented on #5461
cc @jankeromnes

[2021-08-31 12:47] gtsiolis commented on #5452
This was also briefly discussed in a [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1625064176314500?thread_ts=1625063886.313200&cid=C021Q4BL8E8) (internal) but didn't move forward.

Cc @AlexTugarev @svenefftinge because **Teams & Projects** crew. 🧑‍🚀

Cc @jankeromnes because https://github.com/gitpod-io/gitpod/issues/4469#issuecomment-894016435

Cc @corneliusludmann because

[2021-08-31 14:29] hgye commented on #3497
@cyrilcros Could you share details about how you changed? Because I'm also facing the same error, logs from image builder, service container.
[code]

GUI report

I'm also using harbor as private registry.

Thanks a lot.

[2021-08-31 14:38] atduarte commented on #3738
Another benefit of changing the loading screen could be that we make the distinction between when a prebuild is used and when it's not clearer.

Example interface (from Vercel) with process steps, time, and some associated logs:

| Default  | Expanded |
| ------------- | ------------- |
| ![image](https://user-images.githubusercontent.com/666176/131521440-8c3aac1b-3743-4104-b6af-5575cdb76343.png)

[2021-08-31 15:11] JanKoehnlein commented on #4919
/hold

[2021-08-31 15:12] jankeromnes commented on #5452
Hmm, actually the not-redirected-when-guest problem is because this code:

https://github.com/gitpod-io/gitpod/blob/b4f362a123a280329412763977b417d03c4d3ee5/components/dashboard/src/App.tsx#L125-L127

is above this code:

https://github.com/gitpod-io/gitpod/blob/b4f362a123a280329412763977b417d03c4d3ee5/components/dashboard/src/App.tsx#L234-L245

A cheap fix could be to catch `/chat` before both of

[2021-08-31 15:18] jankeromnes commented on #5452
Also, it's worth noting that team slugs are only active for logged-in users who are a member off that team.

So if I still somehow manage to create a team with a problematic slug, it would only affect me & anyone that accepted to join my team. (Also, the order of precedence is 1. dashboard pages, 2. teams, 3. 404, so I'd only affect pages that would normally be 404 for the app.)

[2021-08-31 15:28] cyrilcros commented on #3497
Using gitpod 0.9, I switched to the docker-registry. What I now do is use Harbor for the `imagePrefix` after creating a Harbor docker registry cache for GCR. The gitpod build process doesn't use it.

----------------------------
    imagePrefix: core.harbor.XXXX/gcr-cache/gitpod-io/self-hosted
----------------------------
    docker-registry:
          enabled: true
          authentication:

[2021-08-31 15:44] svenefftinge opened #5464 "[configurator] changed config isn't saved"
In the configurator for a project without `.gitpod.yml` I see the inference running again on every load.
Even after I have manually changed the configuration.

[2021-08-31 15:54] svenefftinge commented on #5452
👍  Given the potential name clash issues I agree compromising on the URL shortness makes sense.

[2021-08-31 15:55] svenefftinge commented on #5452
@jankeromnes this is not specific to /chat but a general issue for all redirects.

[2021-08-31 15:58] svenefftinge opened #5465 "[teams] move team URLs in its own slug (namespace)"
To avoid name clashes we should introduce a `/team/` segment to the team URLs.
E.g. `gitpod.io/team/<team-name>`

[2021-08-31 16:11] NormalGaussian opened #5466 "gitpod.yml warning with (marketplace) extensions installed as .vsix"
### Bug description

I am using a custom build of a VSCode extension and adding it as a vsix file (to get the nightly version whilst waiting for an upstream release with the fix I need). gitpod.yml lets me install this via HTTP but does not recognise that the installed extension is specified in the list.

I get this warning: `asvetliakov.vscode-neovim extension is not synced, but not added in .git

[2021-08-31 16:14] jankeromnes commented on #5452
- Currently, no redirects work when a user isn't logged in (except specifically `gitpod.io` + no hash)
- When they're logged in, it's all 404 pages that redirect to `www.`

What is the proposed solution to make redirects work for not-logged-in users?

a. Make a list of specific redirects that sits above the `if (!user) { return <Login />; }` code (just like in https://github.com/gitpod-io/gitpod/p

[2021-08-31 16:49] #5344 closed

[2021-08-31 18:36] eddiejaoude commented on #5198
Yep, I would not want my team to have the same dotfiles either, but I would like my dotfiles to load automatically into my gitpod environment - this is similar to CodeSpaces.

[2021-08-31 19:48] Mjboothaus opened #5467 "No longer able to select kernel for Jupyter notebook"
### Bug description

I have a environment defined in .gitpod.yml file that creates a conda Python environment (including Jupyter notebooks). It has been working fine for a while now.

### Steps to reproduce

When I fired up Gitpod today (from https://github.com/DataBooth/db-hello-gitpod) I can no longer select a Jupyter kernel.

This is the workspace instance - https://green-bass-o31gml56.ws-us15.

[2021-08-31 21:30] #1337 closed

[2021-08-31 23:54] jgallucci32 commented on #5410
We have been using RKE since 0.5.0 and have been running stable with 0.6.0 for the entire year. We just upgraded from RHEL7 to RHEL8 on our RKE nodes and it appears to be working just the same. What exactly isn't working for you?

[2021-09-01 00:03] Mjboothaus commented on #5467
So trying to work out what has changed and broken this (as there were no changes in the .gitpod.yml file).

Here are the Editor: Help -> About details:

[code]

[2021-09-01 00:04] Mjboothaus commented on #5467
So I assume it is something in the Gitpod (custom) VS Code editor build that has broken this functionality. I will try opening the notebooks via `jupyter notebook` in the command line as a work-a-round.

[2021-09-01 00:11] Mjboothaus commented on #5467
So work-a-round not working at least initially as the notebook via browser is not able to find the kernel.

This might be a Jupyter config issue in this setup - although it is puzzling.

[2021-09-01 00:12] Mjboothaus commented on #5467
So this is certainly a blocker -- I'm wondering where I can see release details for Gitpod releases, VS Code releases etc. in a centralised way so that it is easier to pinpoint what part of the chain has been broken.

[2021-09-01 00:20] Mjboothaus commented on #5467
Hmmm...

Select Interpreter to Start Jupyter server

`Installed kernelspec ENV_NAME in /home/gitpod/.local/share/jupyter/kernels/ENV_NAME` where ENV_NAME is the label I use for my conda env

`@id:ms-toolsai.jupyter`

[2021-09-01 00:29] rl-gitpod commented on #5042
/unassign

[2021-09-01 00:32] Mjboothaus commented on #5467
Maybe this is related to these types of issues:

https://github.com/microsoft/vscode-jupyter/issues/513

https://github.com/microsoft/vscode-jupyter/issues/2282

[2021-09-01 01:23] #4279 closed

[2021-09-01 07:17] ghuntley opened #5470 "Press "." on the workspace stopping/stopped screen to navigate to the context / git repo"
If we start adding keyboard shortcuts then this is high up on my wish list.

[2021-09-01 07:19] svenefftinge commented on #5243
We have had this yesterday again. It affects every workspace start that is based on a custom image or dockerfile. Even for restarts of existing workspaces. [Logs from yesterday.](https://cloudlogging.app.goo.gl/3dQAwDX33LnUYjwf9)

[2021-09-01 07:22] csweichel opened #5471 "[server] Inline the gitpod-yml-inferrer in our repo"
We maintain the [gitpod.yml inferrer](https://github.com/gitpod-io/gitpod-yml-inferrer) in a repo separate to gitpod-io/gitpod. This comes from a time when gitpod wasn't open source yet.

We've been open source for quite some time now, and should bring the gitpod-yml inferrer home.

I'd propose we move the code from https://github.com/gitpod-io/gitpod-yml-inferrer to a package within `components/s

[2021-09-01 07:22] svenefftinge commented on #5470
Seems a bit arbitrary to me. Would love to hear more voices on this. FWIW I usually start the workspace again when I go to a tab that is in stopping mode.

[2021-09-01 07:41] JohannesLandgraf opened #5472 "Write down Gitpod's take on Security"
Large customers and the community are asking for a summary on how we secure our containers at Gitpod.

Things that should be addressed:
- Namespace isolation (related to this talk: https://www.youtube.com/watch?v=l4I2TVAnBuw)
- Network policies
- Source code encryption at rest
- Encryption of variables
- Organizations that stress/pen-test our system (e.g. GitLab's Security Team)

Context: https://

[2021-09-01 08:04] geropl opened #5473 "[cleanup] Remove code and config for "trial license" creation"
This involves removing code and config from `server` and maybe `dashboard`, across gitpod-io/gitpod as well as gitpod-com/gitpod.

[2021-09-01 08:06] csweichel commented on #5253
/assign

[2021-09-01 08:11] svenefftinge commented on #5472
Since engineering is swamped atm, it would be great if someone else could draft a first version with feedback from engineering.

[2021-09-01 08:12] akosyakov commented on #5466
That's indeed a bug, but we don't have capacity to tackle it right now.

[2021-09-01 08:14] gtsiolis commented on #5470
The `.` character does seem a bit arbitrary. If we want to dive into shortcuts a more sensible one, like `g` + `c`, could work.

Using `g` + `c` opens **commits** in GitLab and **code** in GitHub. We could use `g` + `c` for opening **context** in Gitpod.

[2021-09-01 08:16] csweichel commented on #5467
/schedule

[2021-09-01 08:16] roboquat commented on #5467
@csweichel: We have more than 16 cards scheduled. Above 0 only scheduler can perform this action. Those are:

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5467#issuecomment-910053141):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions re

[2021-09-01 08:17] csweichel commented on #5467
/schedule

[2021-09-01 08:17] roboquat commented on #5467
@csweichel: We have more than 16 cards scheduled. Above 0 only scheduler can perform this action. Those are:

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5467#issuecomment-910054143):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions re

[2021-09-01 08:24] akosyakov commented on #5467
Maybe related to these changes: https://github.com/gitpod-io/workspace-images/pull/461 cc @aledbf @AlexTugarev could it be related?

[2021-09-01 08:26] csweichel opened #5475 "[image-builder] Roll out mk3 in production"
We need to roll out mk3 in production to rid ourselves of the dreaded out-of-disk-space issues.

To this end we need to:
1. prebuild the workspace images of the last 7 days prior to making the switch
2. update the server config to use the new image builder

[2021-09-01 08:26] csweichel commented on #5473
/team meta

[2021-09-01 08:26] AlexTugarev opened #5476 "Invite more users to Teams & Projects"
We want users to see Teams & Projects enabled as soon as they visit `/new` or follow the team invitation link.

Internal [pingback](https://gitpod.slack.com/archives/C021Q4BL8E8/p1630483304047400?thread_ts=1630483011.047300&cid=C021Q4BL8E8)

[2021-09-01 08:33] svenefftinge commented on #5476
We need to have a server-side signal from `/new` that lets us enable the flag on the server side and also reload the user. If that is too strange, we can move to an explicit call. But in that case it needs to move to a feature flag.

[2021-09-01 08:43] jankeromnes commented on #5461
I guess this is the same bug as described in https://github.com/gitpod-io/gitpod/pull/5433#issuecomment-909319798:

[2021-09-01 09:02] svenefftinge commented on #80
Integrating with OAuth2 provider mode (https://docs.gitea.io/en-us/oauth2-provider/) it looks like this would be relatively low hanging.
@AlexTugarev WDYT? can you provide a rough estimation?

[2021-09-01 09:03] csweichel commented on #5243
We have a number of measures in place that address stability:
- w.r.t. to this concrete issue we're about to [roll out a new version of the image builder](https://github.com/gitpod-io/gitpod/issues/5475) which does not suffer from the out-of-disk space issue by design
- we are heavily investing in more thorough testing prior to new deployments to avoid breaking things on updates - at the same time

[2021-09-01 09:06] svenefftinge commented on #5303
@akosyakov don't we forward also those services to `localhost` when tunneling through the local app?

[2021-09-01 09:06] JohannesLandgraf commented on #5472
cc @phimae @ghuntley maybe you can pair with Andre and then get feedback on the draft from engineering?

[2021-09-01 09:09] ghuntley commented on #5472
Confirmed. Let's continue at [internal link](https://docs.google.com/document/d/18P_Wd4ax5eUi9ePeoulKoEmQfrPLRGfr_upcnueFMZc/edit?usp=sharing).

[2021-09-01 09:10] JohannesLandgraf commented on #5472
Great! Any ETA on this that I can communicate externally?

[2021-09-01 09:14] svenefftinge commented on #5451
Thanks for the very detailed feature description. We have lots of things scheduled at the moment, so I'm unscheduling this until we see more demand for supporting this.
@anyone : if you think this is important, please add a comment outlining your use case.

[2021-09-01 09:23] akosyakov commented on #5303
We do tunnel.

[2021-09-01 09:29] svenefftinge commented on #5453
Adding more options/choice is potentially compromising conversion.
I'd think we should add a nudge to join the community to our loading screen again.
But isn't community => https://community.gitpod.io?

[2021-09-01 09:31] laushinka commented on #5183
I'm not sure how to reproduce this or how to work on this, so based on [this Slack thread](https://gitpod.slack.com/archives/C01KGM9AW4W/p1630318615053600) and discussion with @JanKoehnlein I will assign this issue to Product.

[2021-09-01 09:51] akosyakov opened #5478 "[code] open context command is broken"
### Bug description

Try to run this command.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-01 09:52] akosyakov commented on #5478
/schedule

[2021-09-01 09:52] roboquat commented on #5478
@akosyakov: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5478#issuecomment-910123252):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please

[2021-09-01 10:02] gtsiolis commented on #4195
Bumping this up in Engineering Groundwork but feel free to remove from the board if needed. 🌬️

[2021-09-01 10:03] JanKoehnlein commented on #5478
/schedule

[2021-09-01 10:03] roboquat commented on #5478
@JanKoehnlein: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5478#issuecomment-910131999):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, ple

[2021-09-01 10:05] JanKoehnlein commented on #5478
/team IDE

[2021-09-01 10:05] roboquat commented on #5478
@JanKoehnlein: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5478#issuecomment-910134091):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or su

[2021-09-01 10:08] JanKoehnlein commented on #5478
/schedule

[2021-09-01 10:08] roboquat commented on #5478
@JanKoehnlein: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5478#issuecomment-910137000):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, ple

[2021-09-01 10:32] JanKoehnlein commented on #5478
/schedule

[2021-09-01 10:32] roboquat commented on #5478
@JanKoehnlein: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5478#issuecomment-910153936):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-09-01 10:47] JohannesLandgraf commented on #4984
Would be great to get an update @wulfthimm

[2021-09-01 11:39] #5476 closed

[2021-09-01 11:43] atduarte commented on #5472
We (me, @ghuntley, and @phimae) are aiming to have the Notion page completed by tomorrow's EOD.

Draft structure of the document, for early feedback:
1. How Gitpod makes you more secure
   - No IP in employees’ laptops or BYOD devices
   - No arbitrary code running in devices with access to production
2. How we make Gitpod more secure
   - Compliance (SOC 2, GDPR)
   - Encryption (Backups, Env var

[2021-09-01 11:55] meysholdt commented on #5414
re-opening, [because in the logs I see this happened again on eu15 this morning](https://console.cloud.google.com/logs/query;query=logName%3D%22projects%2Fgitpod-191109%2Flogs%2Fcloudsql.googleapis.com%252Fmysql-general.log%22%0AtextPayload:%22DEADLINE_EXCEEDED:%20Deadline%20exceeded%22%0AtextPayload:%22UPDATE%22;timeRange=2021-08-31T20:48:00.000Z%2F2021-09-01T02:16:00.000Z;summaryFields=jsonPaylo

[2021-09-01 11:58] AlexTugarev commented on #5183
Some additional hints on where to start:
 * the [redirect](https://github.com/gitpod-io/gitpod/blob/main/components/server/src/auth/generic-auth-provider.ts#L366) to the sorry page to be replaced (it's the `UnconfirmedUserException` case we're handling)
 * [example](https://github.com/gitpod-io/gitpod/blob/main/components/server/src/auth/generic-auth-provider.ts#L349) for error propagation back to

[2021-09-01 12:07] gtsiolis commented on #5204
Thanks for opening this @filiptronicek!

This is correct! 👀 🦅

I'd vote for not replacing the icon on click for now. Instead, getting this component updated sounds optimal.

🍊 🍊 🍊 🍊

FWIW, This component has been improved already in **Teams & Projects** to be released in the next few weeks. The improved version is visible when inviting new members to a team. See also screenshots below.

https://gi

[2021-09-01 12:10] ghuntley commented on #5453
www.gitpod.io/chat is seeing more growth than the forums and _feels_ like a community whereas `community.gitpod.io` due to the real-time interactions that people prefer. I kinda want to see us renaming `community.gitpod.io` to `discuss.gitpod.io`

[2021-09-01 12:13] ghuntley commented on #5470
`.` was chosen to mimic the GitHub.dev convention. Making it a universal way to go backwards/forwards between code+editing. Have been thinking about adding a user-configurable toggle override to the Gitpod browser extension that makes `.` open in Gitpod instead of github.dev

[2021-09-01 12:16] ghuntley commented on #5470
I see stopping all the time because my development loop often involves restarting the workspace when doing initial template bootstrapping:

1. ctrl+shift+p -> stop workspace
2. click the context link with mouse
3. click edit in gitpod button again

Thus some form of "rebuild workspace, execute gitpod yml, do a prebuild" option from ctrl+shift+p would speed up my loop. Codespaces has similar functi

[2021-09-01 12:17] gtsiolis commented on #4486
Since today (Sep 1), the message we have in _Preferences_ (`/preferences`) for deprecating Theia is running a bit late. 😅

<img width="584" alt="Screenshot 2021-09-01 at 3 16 30 PM" src="https://user-images.githubusercontent.com/120486/131669676-969e3d11-af4a-449a-9158-014a19dbd144.png">

[2021-09-01 12:36] gtsiolis commented on #4717
Thanks for taking a look at this @jankeromnes! Most design issues here have been resolved with the changes in https://github.com/gitpod-io/gitpod/pull/5120 and https://github.com/gitpod-io/gitpod/pull/5098 as some nested elements with rounded corners have been removed and colors have been updated.

Added https://github.com/gitpod-io/gitpod/pull/5481 to resolve the rest of the minor issues here.

C

[2021-09-01 12:43] #5478 closed

[2021-09-01 13:17] #4717 closed

[2021-09-01 13:53] M-Gonzalo commented on #5445
Hi! Sorry for the delay
1) How do I do that?
2) Nope.
3) gitpod.yml
[code]

.gitpod.Dockerfile:
[code]

[2021-09-01 13:58] csweichel commented on #4988
/team meta

[2021-09-01 15:44] #5446 closed

[2021-09-01 15:49] techknowlogick commented on #80
FWIW, Gitea's OIDC now allows for logging into sourcegraph. The only thing missing now is pulling repos automatically, similar to how github integration works.

[2021-09-01 16:08] jeanp413 commented on #5467
@Mjboothaus do you have a public repo that I can try to reproduce? I can't access https://github.com/DataBooth/db-hello-gitpod

[2021-09-01 17:20] apolopena commented on #4306
please mark never-stale

[2021-09-01 19:44] kevinraymond commented on #5410
@jgallucci32 - I saw in a different issue (don't have it handy but from January I think) that y'all were struggling with Gitpod+Harbor ... did y'all ever get Harbor working? I've got Gitpod 0.10.0 working well on RKE2 2.59 except for this registry issue. 😞

[2021-09-01 20:14] Mjboothaus commented on #5467
Hello Jean Pierre

Yes - I meant to publish it as a public repo. Will try to do that shortly.

Cheers,
Michael

[2021-09-01 20:17] rfay commented on #5303
I confirm that if I run `php -S localhost:8888` in gitpod, the port is opened and properly proxied.

I guess the issue is this doesn't seem to be true with *docker* binding on localhost only?

[2021-09-01 20:39] Mjboothaus commented on #5467
https://github.com/DataBooth/public-hello-gitpod

Is a public version of the repo

I have just tested it in Gitpod i.e. opened the notebook in the notebook directory and I still can’t Select Kernel.

Cheers :)

[2021-09-01 20:40] aledbf opened #5488 "Reduce noisy `Readiness probe failed` log error"
### Bug description

workspace probes are too low.  Each workspace produces ~24 events about probes

### Steps to reproduce

Internal link https://cloudlogging.app.goo.gl/DmSXHBNyhnX5Z8Qx8

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-01 20:40] aledbf commented on #5488
/team groundwork

[2021-09-01 20:40] roboquat commented on #5488
@aledbf: The label(s) `team: groundwork` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5488#issuecomment-910725802):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or s

[2021-09-01 20:41] jgallucci32 commented on #5410
@kevinraymond I can confirm partially Harbor is working, as we have our images pulled from there (we repackage workspace-full with our private SSL certs and store in Harbor). The part which I think you are referring to is the image-builder part of creating the workspace images with the Gitpod layer. I recall trying to do this in Harbor but switched to using GitLab Registry and I cannot recall the

[2021-09-01 20:58] kevinraymond commented on #5410
@jgallucci32 - yep, the image-builder part is where I was stuck, specifically with that registry creation. I saw another comment about pushing up `workspace-full` tagged as `workspace-images`, which worked, though I had to tag it with `23f6ab84f910d55110992124adb21f7fe3e6494aa225e76497c5669327fee9d2` or workspace creation failed looking for that specific tag. 🤷🏻‍♂️

I might have to look at switchi

[2021-09-01 20:58] rfay commented on #5303
Ah, it's when *docker* binds to localhost.

Try this in a gitpod session. it just runs a php self-contained webserver.

[code]
You get `hi there, I'm bound to all interfaces`

Now try the same thing with docker binding to localhost only:
[code]

You get `curl: (56) Recv failure: Connection reset by peer`

Note that in both of these cases, port 8888 is shown as available in gitpod, and it's happy t

[2021-09-01 23:30] aledbf opened #5490 "Remove duplication of GRPC configuration (typescript)"
/team workspace
/assign

[2021-09-01 23:31] aledbf commented on #5490
/schedule

[2021-09-02 03:07] hgye opened #5491 "[self-hosted][v.0.10.0] builtin registry reverse proxy is not right."
### Bug description

I'm using non-default kubedomain.

Try to access builtin registry, it will failed with

And logs from proxy container

[code]

### Steps to reproduce

I'm trying to install gitpod self-hosted service via helm, verison 0.10.0, my values.custom.yaml as below:
[code]

after installation. I find configmap proxy-config are still using svc.cluster.local instead of svc.my-company.clu

[2021-09-02 06:36] akosyakov opened #5492 "[code] pull request view does not open by default"
### Bug description

Try to open any PR.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-02 06:37] akosyakov commented on #5492
/schedule

[2021-09-02 06:39] #5437 closed

[2021-09-02 06:50] #5488 closed

[2021-09-02 06:53] AlexTugarev commented on #80
The overview looks good, but it the [lack of scopes](https://docs.gitea.io/en-us/oauth2-provider/#scopes) let me wonder how to integrate it nicely. The `authorize` URL from the example lacks the `scope` parameter, and I'm not sure if this is mandatory in the passportjs libs. The Git Integrations page (and the backend) does not support the "empty scopes" case.

That said, though it looks fairly eas

[2021-09-02 06:54] #5232 closed

[2021-09-02 06:57] akosyakov commented on #5492
It was fixed by https://github.com/gitpod-io/gitpod/pull/5479

[2021-09-02 06:57] #5492 closed

[2021-09-02 07:01] csweichel opened #5493 "Move image-builder to the workspace side"
image-builder sits awkwardly between meta and workspace. mk3 does little to change this situation, because it does not actually integrate with pluggable workspaces but instead assumes it's connected to a single never changing workspace side.

Originally we had image-builder as part of meta (server even) because we need to tie down the base, and while it existed, workspace image. We could instead m

[2021-09-02 07:03] svenefftinge opened #5494 "[staging] missing db table"
Seems like [this migration](https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-db/src/typeorm/migration/1628160315471-AddPrebuildInfo.ts) was not applied on staging.

[code]

[2021-09-02 07:05] akosyakov commented on #5467
@Mjboothaus which version of python extension do you run? Latest from Open VSX?

[2021-09-02 07:09] #5490 closed

[2021-09-02 07:17] AlexTugarev commented on #5494
Yeah, there was a newer migration created in the meantime.

[2021-09-02 07:29] #5494 closed

[2021-09-02 07:29] Mjboothaus commented on #5467
Hi Anton — thanks for your question.

As per the conda environment.yml file in the repo:

dependencies:
  - python >=3.8,<3.9

Currently conda is installing:

conda 4.10.3
Python 3.8.10

in the (conda) environment.

Cheers,
Michael

[2021-09-02 07:33] akosyakov commented on #5467
Python extension in Open VSX is old and not compatible with VS Code 1.59 anymore. I can upgrade it but it does not seem to fix the problem. I'm looking into whether `Select Kernel` requires another extension right now or it is misconfiguration in our workspace image.

[2021-09-02 07:34] geropl commented on #4650
While a biggest chunk has been merged, there are still some ToDos left:
 - [ ] deploy to prod
 - [ ] cleanup gitpod-com
 - [ ] cleanup gitpod-io

[2021-09-02 07:35] Mjboothaus commented on #5467
![image](https://user-images.githubusercontent.com/956433/131802215-75d2f23d-b2de-4c3e-8b31-09c0d998b508.png)

[2021-09-02 07:36] Mjboothaus commented on #5467
Thanks @akosyakov -- just looked up the MS Jupyter extension history and it seems some work is happening there currently.

[2021-09-02 07:37] Mjboothaus commented on #5467
I feel the 2.5 star rating for the extension is a little harsh :)

[2021-09-02 07:42] akosyakov commented on #5467
Yes, I mean there it is out-dated

VS Code 1.59 was released, but we don't have smoke tests for notebooks yet 🙈

[2021-09-02 07:48] Mjboothaus commented on #5467
Seems I'm smoking... (whether I like it or not) 🚬

[2021-09-02 08:03] jankeromnes commented on #5374
Thanks for this idea @gtsiolis!

I agree that a modal could be a good idea (separately), but it doesn't answer the question: What should the UI show between the moment the user clicked on `Trigger Prebuild` (or accepted the modal), and the moment we hear back from the server that a prebuild was started? This can take a few seconds, which as @atduarte described can be stressful / confusing for user

[2021-09-02 08:05] jankeromnes commented on #5374
Maybe a minimal viable change could be disabling the `Trigger Prebuild` button and adding [a spinner](https://tailwindcss.com/docs/animation#spin) to it while we wait for the server to call back?

[2021-09-02 08:07] csweichel commented on #5401
/team workspace

[2021-09-02 08:07] csweichel commented on #5401
/schedule

[2021-09-02 08:07] roboquat commented on #5401
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5401#issuecomment-911352854):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-02 08:07] geropl commented on #5084
The code is #5480, but needs to be tested. Was blocked by some problems with `nodeAffinity` of `imagebuild` workspaces.

[2021-09-02 08:08] roboquat commented on #4195
@csweichel: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4195#issuecomment-911353841):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-02 08:09] csweichel commented on #4486
/schedule

[2021-09-02 08:09] roboquat commented on #4486
@csweichel: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4486#issuecomment-911354700):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-09-02 08:09] csweichel commented on #4486
/assign @laushinka

[2021-09-02 08:10] csweichel commented on #4988
/schedule

[2021-09-02 08:13] geropl opened #5497 "[image-builder] mkIII: imagebuild workspaces seem to ignore "workspace templates""
While testing https://github.com/gitpod-io/gitpod/pull/5480 I was blocked because an `imagebuild` got scheduled to a NodePool where no suitable `ws-daemon` was running (context: https://github.com/gitpod-io/gitpod/pull/5432).

On inspection of the `imagebuild` it did not contain a `nodeAffinity`, but the `workspace-template` ConfigMap did:
 - not for `default`
 - but for all specific workspace typ

[2021-09-02 08:18] csweichel commented on #5497
/schedule

[2021-09-02 08:18] roboquat commented on #5497
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5497#issuecomment-911364524):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-02 08:58] laushinka commented on #4486
To clarify, this ticket only comprises removing the option in the Dashboard settings? Removing references and functionality in the codebase is not part of the scope?

[2021-09-02 09:01] akosyakov commented on #4486
Correct, we will fist remove UI and wait some time to see that everybody completely switched to VS Code, after that we will remove underlying functionality.

[2021-09-02 09:02] akosyakov commented on #4486
Of course, users with Theia selected now should also get Code, i.e. theia alias should point to the same image as code alias.

[2021-09-02 09:24] akosyakov commented on #5467
Yes, it helps in testing environments:
<img width="1904" alt="Screenshot 2021-09-02 at 11 23 15" src="https://user-images.githubusercontent.com/3082655/131818834-75b035d6-4981-4c31-adc2-c482a0bc58b5.png">

Working on fixing publishing to Open VSX.

[2021-09-02 10:04] AlexTugarev opened #5500 "[projects] Prebuilds are not shown"
While testing the current state on staging, I've noticed that prebuilds are disappearing once finished.

[2021-09-02 10:04] #4290 closed

[2021-09-02 10:35] simsim2006 commented on #898
Hi guys,

I don't know if it would be the best place to give feedback about this feature request: support for multi tenant application url. I explain myself:

I sell my saas software to big companies, where multiple end users (employees of those companies) are sharing the same environment. Each of those environments have some separation logic (eg: 1 database per customer). Each of those environmen

[2021-09-02 10:54] Mjboothaus commented on #5467
👍🏻

[2021-09-02 11:15] #5315 closed

[2021-09-02 12:05] svenefftinge opened #5501 "[configurator] Buttons don't do anything"
When looking at the configurator of a git-configured project, the "Run Prebuild" button is disabled.
Also, the "Open Workspace" button doesn't do anything.

[2021-09-02 12:06] jankeromnes commented on #5501
Thanks for the feedback @svenefftinge!

Please note that the buttons in the Configurator are being heavily reworked in https://github.com/gitpod-io/gitpod/pull/5474

[2021-09-02 12:13] svenefftinge commented on #5501
does it mean this is solved then? in that case please assign the issue (and all others that are reflected in your PR).

[2021-09-02 13:11] AlexTugarev commented on #5500
Turns out it's a problem with `db-sync` not recovering after a db migration failed.

[2021-09-02 13:11] #5500 closed

[2021-09-02 13:57] JanKoehnlein commented on #4486
@akosyakov to clarify: Users with Theia will still get Theia, there just shouldn't be an option to switch to Theia anymore, right?

[2021-09-02 13:59] akosyakov commented on #4486
I think they should get stable VS Code, we don't have Theia anymore.

[2021-09-02 14:03] gtsiolis commented on #4486
Agree. 💯

[2021-09-02 14:34] corneliusludmann commented on #5394
Since the image-builder is crash looping, could you please provide the logs for this pod as well?

[2021-09-02 14:39] corneliusludmann commented on #4815
/dont-schedule

Un-schedule this for now since we cannot work on this until the MySQL upgrade has been performed.

[2021-09-02 14:42] akosyakov commented on #4968
Code pointers:
- grpc interface: https://github.com/gitpod-io/gitpod/blob/2c70b97ac1ed5b5ec8856e49f5c0551637a37092/components/supervisor/pkg/terminal/service.go#L257-L277
- test: https://github.com/gitpod-io/gitpod/blob/2c70b97ac1ed5b5ec8856e49f5c0551637a37092/components/supervisor/pkg/terminal/terminal_test.go#L24

We should reactivate tests, fix them and make stable.

[2021-09-02 14:42] JanKoehnlein commented on #4889
I am not sure who's working on this ATM. Maybe remove the `groundwork: in progress` label?

[2021-09-02 14:51] corneliusludmann commented on #5377
/assign

[2021-09-02 14:52] akosyakov opened #5507 "[code] add python/jupyter notebook smoke tests"
It should be a first integration test to repo running against the production server.

[2021-09-02 14:55] MrSimonEmms opened #5508 "Allow MySQL username to be configurable"
Currently, Gitpod hard-codes the MySQL database username as `gitpod`. In Azure, this is problematic as the managed MySQL instance forces the username to be in the format `<username>@<hostname>`.

My proposal is to use an envvar `DB_USERNAME` and maintain the default as `gitpod`

[2021-09-02 15:03] aledbf opened #5509 "Update buildkit image to latest stable version"
In preparation for the new image builder mk3 and future features like stargz support

[2021-09-02 15:03] aledbf commented on #5509
/team workspace

[2021-09-02 15:14] gtsiolis commented on #5374
Adding this to the [**Teams & Projects** crew board](https://github.com/gitpod-io/gitpod/projects/4). Cc @jankeromnes @AlexTugarev @svenefftinge

[2021-09-02 15:19] gtsiolis commented on #3403
Removing this from the crew board for now as we can invite community members to try this by joining a team or visiting `/new` with https://github.com/gitpod-io/gitpod/pull/5477 and https://github.com/gitpod-io/gitpod/issues/5476. Cc @jankeromnes @AlexTugarev @svenefftinge

We can come back to the designs in https://github.com/gitpod-io/gitpod/issues/3403#issuecomment-908328663 if we want to reintr

[2021-09-02 15:31] csweichel commented on #5401
should be fixed by #5449

[2021-09-02 15:34] csweichel commented on #5497
An additional test in [`create_test.go`](https://github.com/gitpod-io/gitpod/blob/main/components/ws-manager/pkg/manager/create_test.go) could also be used to verify this. Looks like we're missing the case for image-builds though.

[2021-09-02 15:38] csweichel commented on #5381
we should also be able to reproduce this using a unit test against https://github.dev/gitpod-io/gitpod/blob/2c70b97ac1ed5b5ec8856e49f5c0551637a37092/components/ws-daemon/pkg/internal/session/workspace.go

[2021-09-02 15:44] gtsiolis commented on #5374
On it. Will post here the SVG tomorrow. Thanks for noticing! 👀

[2021-09-02 16:58] jgallucci32 opened #5512 "[self-hosted] Couldn't start RabbitMQ in background"
### Bug description

When redeploying the `messagebus` pod, it fails to redeploy with the following error message (with BITNAMI_DEBUG=true)
[code]

### Steps to reproduce

1. Deploy Gitpod 0.10.0 to a self-hosted Kubernetes cluster using Helm chart
2. Redeploy the `messagebus` pod (alternatively scale down to 0 then to 1)

### Expected behavior

The `messagebus` pod restarts successfully

### Exam

[2021-09-02 17:26] jgallucci32 commented on #5512
Currently the best workaround I can find for now is to set the `messagebug` StatefulSet to `0` and then to run `helm upgrade` on the chart.

[2021-09-02 17:29] JanKoehnlein commented on #4919
First shot can be tested on https://github.com/gitpod-io/gitpod-test-repo

I am not sure whether the [conventional commits](https://www.conventionalcommits.org/en/v1.0.0/) syntax buys us something here:
1) CC is meant for complete commit messages. In our case we extract the note exclusively form a block.
2) Body and footer don't make much sense here for the same reason.
3) In a continuous changelo

[2021-09-02 17:37] mikenikles commented on #4919
From a www.gitpod.io/changelog perspective, I'm :+1: for the simpler format as all we need there is a way to highlight breaking changes.

I use CC in personal projects at the commit level where it makes sense to be granular with types & scopes. We apply it at a PR level and a PR can easily span multiple types or scopes.

[2021-09-02 18:02] mikenikles commented on #4919
Thanks Jan for helping me test https://github.com/gitpod-io/gitpod-test-repo/pull/142. This PR has two contributors, but the changelog only lists me - I opened the PR.

To make sure we mention all contributors, we should find a way to comma-separate all PR contributors in `CHANGELOG.md`

[2021-09-02 18:39] corneliusludmann commented on #5377
The actual problem is pretty clear:

- [`adminForceStopWorkspace` ](https://github.com/gitpod-io/gitpod/blob/757a1594c6e5f14a268833b75411e449637c9d40/components/server/ee/src/workspace/gitpod-server-impl.ts#L639) calls `internalStopWorkspace`
- [`internalStopWorkspace`](https://github.com/gitpod-io/gitpod/blob/757a1594c6e5f14a268833b75411e449637c9d40/components/server/src/workspace/gitpod-server-i

[2021-09-02 20:41] jgallucci32 commented on #3102
Has everyone on this thread tried adding the following to `answers.yaml` to run the init container which enables the shiftfs module for Ubuntu-based container hosts?
[code]
It is disabled by default as it assumes the `shiftfs` module is already loaded on your container host. When enabled, an initi container is added to `ws-daemon` which installs the kernel module into the host and enables it.

[2021-09-02 21:18] jgallucci32 commented on #3909
I am currently seeing the same issue with v0.10.0 on RHEL 8 with Docker CE 20.10.7. I understand Docker is not officially supported, but it has been working for over a year with 0.6.0 on both RHEL7 and RHEL8 hosts.

[2021-09-02 22:32] #4254 closed

[2021-09-02 22:42] rl-gitpod commented on #5413
/assign

[2021-09-02 23:38] jgallucci32 commented on #3909
I found a workaround for the first issue (hard-coded "k8s.io" namespace). You can change the default with the docker daemon as follows
[code]
Reboot the host for changes to take effect. This will change the default namespace for all containers to be "k8s.io". This also allows you to use the default nodeRoot in the Helm chart.

[2021-09-02 23:55] jgallucci32 commented on #3909
Regarding the second issue, I see labels for `io.kubernetes.container.name` and `io.kubernetes.pod.name` on the running container, but I do NOT seem them for `io.cri-containerd.kind` which is the third constant in that section of the code for labels.

This seems to be less a containerd issue and more a CRI plugin issue for containerd since `containerd-cri` is required for Gitpod per https://github

[2021-09-03 00:50] jgallucci32 commented on #4587
@csweichel Can you point me in the right direction where in the code the breaking change was made for docker-shim? Gitpod v0.6.0 runs on Docker CE 20.10.07, but somewhere between that and v0.10.0 it stopped working.

[2021-09-03 02:17] hgye commented on #5491
By now, does it any workaround to fix this problem?

[2021-09-03 05:08] #5467 closed

[2021-09-03 06:20] akosyakov opened #5515 "Upgrade to VS Code 1.60.0"
Please follow to upgrade: https://www.notion.so/gitpod/Gitpod-VS-Code-1aa1dfcfdc5147869ec5ffcf86f430a6

[2021-09-03 06:20] akosyakov commented on #5515
/schedule

[2021-09-03 06:20] roboquat commented on #5515
@akosyakov: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5515#issuecomment-912288504):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please

[2021-09-03 06:42] JanKoehnlein commented on #5515
/schedule

[2021-09-03 06:42] roboquat commented on #5515
@JanKoehnlein: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5515#issuecomment-912297264):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, ple

[2021-09-03 06:51] JanKoehnlein commented on #5515
/schedule

[2021-09-03 06:51] roboquat commented on #5515
@JanKoehnlein: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5515#issuecomment-912301841):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, ple

[2021-09-03 06:53] JanKoehnlein commented on #5515
/schedule

[2021-09-03 06:53] roboquat commented on #5515
@JanKoehnlein: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5515#issuecomment-912302712):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, ple

[2021-09-03 06:54] JanKoehnlein commented on #5515
/schedule

[2021-09-03 06:54] roboquat commented on #5515
@JanKoehnlein: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5515#issuecomment-912303276):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, ple

[2021-09-03 06:58] JanKoehnlein commented on #5515
/schedule

[2021-09-03 06:58] roboquat commented on #5515
@JanKoehnlein: Cannot schedule issue - no configuration for the IDE team available.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5515#issuecomment-912304899):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, ple

[2021-09-03 06:59] JanKoehnlein commented on #5515
/schedule

[2021-09-03 06:59] roboquat commented on #5515
@JanKoehnlein: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5515#issuecomment-912305375):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-09-03 07:02] rl-gitpod commented on #5413
Note that #5407 appears to have fixed this issue, however it does not pass every time (1/10 👋 ) as the second workspace start times out, with the workspace never becoming marked as ready, it stays in WorkspacePhase_INITIALIZING. I'm currently rabbit-holing on why this is the case.

[2021-09-03 07:17] #4195 closed

[2021-09-03 07:36] wulfthimm commented on #4938
Is this still an issue as we are now using a raid0 with XFS?

[2021-09-03 07:54] #5314 closed

[2021-09-03 07:57] #5471 closed

[2021-09-03 07:59] gtsiolis opened #5516 "Adding a project named projects breaks the navigation"
### Bug description

If you add a project named _projects_, visiting the project page breaks the navigation for the personal account and teams.

### Steps to reproduce

1. Create a team.
2. Add a project named _projects_.
3. Go to project page for the project _projects_.

| Example Project A | Example Project B |
|-|-|
| <img width="340" alt="nav-1" src="https://user-images.githubusercontent.com/1

[2021-09-03 08:00] svenefftinge commented on #5452
a. create a list of level-one slugs (features, pricing, blog, docs, etc.) that cause a redirect.

[2021-09-03 08:04] laushinka commented on #5183
@AlexTugarev Thank you for the very helpful steps! I was able to reproduce it 🙌🏽 Will attempt to work on this then. If I have more questions I will let you know :)

[2021-09-03 08:10] gtsiolis commented on #5374
Incoming SVG for the spinner (loading icon)! 🍕

[code]

Cc @jankeromnes

[2021-09-03 08:13] corneliusludmann commented on #5491
I think the only option you have right now is to download the charts from the 0.10.0 release, path them, and run helm with your local patched charts. You could try to hard-code your registry hostname in `chart/templates/proxy-configmap.yaml` until we figured out what went wrong.

[2021-09-03 08:25] csweichel commented on #5491
/schedule

[2021-09-03 08:25] JanKoehnlein commented on #5491
/schedule

[2021-09-03 08:25] roboquat commented on #5491
@csweichel: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5491#issuecomment-912357799):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my be

[2021-09-03 08:25] roboquat commented on #5491
@JanKoehnlein: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5491#issuecomment-912357811):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-09-03 08:25] csweichel commented on #5491
/schedule

[2021-09-03 08:25] roboquat commented on #5491
@csweichel: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5491#issuecomment-912358117):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-09-03 08:26] csweichel commented on #5475
/assign

[2021-09-03 10:04] JanKoehnlein commented on #4919
Done.

[2021-09-03 10:38] gtsiolis opened #5517 "Remove project webhook when removing a project from the dashboard"
### Problem to solve

Currently, when a user adds a project in a team through the dashboard for a GitLab repository, a webhook is installed. See relevant docs[[1](https://www.gitpod.io/docs/gitlab-integration#enabling-prebuilds)] for enabling prebuilds.

However, when a user removes a project from a team in the the dashboard the webhook is left behind.

### Proposal

Let's remove the project webho

[2021-09-03 10:49] gtsiolis opened #5518 "Later prebuild timestamp is inaccurate on the project card"
### Problem to solve

The latest prebuild timestamp information on the project cards is inaccurate. See screenshot below where a prebuild was triggerred _an hour ago_ while the latest prebuild timestamp reads _14 hours ago_.

| Example Card | Example Latest Peebuild |
|-|-|
| <img width="373" alt="Screenshot 2021-09-03 at 1 46 21 PM" src="https://user-images.githubusercontent.com/120486/131993757-

[2021-09-03 11:01] gtsiolis opened #5519 "Persist team selection on reload"
### Problem to solve

Currently, clicking on the Gitpod logo or (re)loading `gitpod.io` redirects to the personal account default page.

### Proposal

Let's persist team selection when clicking on the Gitpod logo or reloading `gitpod.io`.

[2021-09-03 11:10] svenefftinge commented on #5518
What I missed is the meta information (repository link) on the overview page of a project. I know we don't have one but maybe we can add the repo URL to the description header?

[2021-09-03 11:23] gtsiolis commented on #5518
The repository link is already in the header but we recently masked it behind the project name for brevity and scalability. Do you think using the full URL would be better here? 🙈

| A (Current) | B |
|-|-|
| <img width="1420" alt="header-a" src="https://user-images.githubusercontent.com/120486/131997704-9bc140ef-712a-44ce-b00a-0a9a927260c0.png"> | <img width="1420" alt="header-b" src="https://use

[2021-09-03 11:25] chuck-alt-delete opened #5520 "Launch workspace with open preview of a markdown file"
Hey folks, big fan! Small request:

## Feature request

I’d like my students to click the “Open in Gitpod” button and have the workspace IDE show the preview of the readme.md file on launch. This could include options to have the preview open on left, right, or whole pane.

## Use Case

The idea is that students open the workspace and then the directions in the readme are right there for them to f

[2021-09-03 11:40] chuck-alt-delete opened #5521 "Add support for multiple .gitpod.yml files in one repo"
Hey, thanks for working on this product — big fan!

## Feature Request

Support .gitpod.yml files on a per directory basis instead of a per repo basis. This would work similarly to how docker-compose.yml does. With docker-compose.yml, docker first looks for the file in the current directory, and then recurses up the directory hierarchy until it finds one.

How it would work with gitpod is if the U

[2021-09-03 11:43] #4423 closed

[2021-09-03 11:43] #5392 closed

[2021-09-03 11:43] #5501 closed

[2021-09-03 11:56] jankeromnes opened #5522 "When starting a new workspace from the Project Configurator, sometimes the config file is not present in the workspace"
### Bug description

When a Project has a configuration saved in the Project DB, and there is no `.gitpod.yml` in the repository, the Project DB configuration should always be added into workspaces for that repository (as an untracked `.gitpod.yml` file).

However, in some cases, it seems that the Project DB config is not added to the workspaces.

### Steps to reproduce

The expected flow is:

1.

[2021-09-03 11:57] gtsiolis commented on #5465
Cross-posting from the [relevant and recent product sync meeting](https://www.notion.so/gitpod/Product-Sync-b0369cb3611e4920a5a64e92157d569e#5e39c885fee74f499848217edd3c7a5a) (internal).

[2021-09-03 12:07] jankeromnes opened #5523 "Improve or remove `New Workspace` button in the Prebuild page"
Follow-up to https://github.com/gitpod-io/gitpod/pull/5474

In the Prebuild page, there is a `New Workspace` button, with the intent to allow starting workspaces from a Prebuild.

<img width="1447" alt="Screen Shot 2021-09-03 at 11 09 34" src="https://user-images.githubusercontent.com/914497/131980841-41ba17a7-7034-4792-8eea-d2d78b73f0cb.png">

Currently, the button opens the original context URL

[2021-09-03 12:13] jankeromnes opened #5524 "Improve repository-provider selection UX (when adding a new Project)"
When adding a new Project, you need to select a repository, and first you need to select which Git provider you'd like to view repositories from.

## Current UX

<img width="600" alt="Screenshot 2021-09-03 at 14 10 29" src="https://user-images.githubusercontent.com/599268/132003065-7be2b79f-f722-474e-a6ef-57625f964726.png">

There is an option at the bottom of the repository-owner dropdown to swit

[2021-09-03 12:19] jankeromnes commented on #5524
Personally (but this is very subjective), I find this link to be in the most noticeable spot, and I don't think it would confuse me.

When an app is in an unexpected state (e.g. it's showing me GitHub repositories when I actually want to select a GitLab repository) I tend to look for clues as to why it's in the wrong state. Here, that clue is the bold `github.com` in the sub-title. Immediately aft

[2021-09-03 12:29] jankeromnes opened #5525 "Format elapsed Prebuild time better below the Prebuild Logs ("05:06" instead of "306s")"
## The specs (https://github.com/gitpod-io/gitpod/issues/4423)

<img width="167" alt="Screenshot 2021-09-03 at 14 26 10" src="https://user-images.githubusercontent.com/599268/132004997-b9f4cfc4-c8da-4dba-8262-c5eb26b73861.png">

## The current implementation (after https://github.com/gitpod-io/gitpod/pull/5474)

https://github.com/gitpod-io/gitpod/pull/5474#discussion_r701733130

[2021-09-03 12:36] jankeromnes opened #5526 "Remove or adjust Prebuild status in the Prebuild page header (now duplicates the bottom status)"
Follow-up to https://github.com/gitpod-io/gitpod/pull/5474:

https://github.com/gitpod-io/gitpod/pull/5474#discussion_r701740216

---

Also, the top status is based on the prebuild ([PrebuiltWorkspaceState](https://github.com/gitpod-io/gitpod/blob/8aab84e62d0d9013eed1d624539eb5f697ca3ced/components/gitpod-protocol/src/protocol.ts#L622-L632)), while the bottom status is based on the instance ([Work

[2021-09-03 12:39] svenefftinge opened #5527 "Improve Inferrer Performance"
See https://github.com/gitpod-io/gitpod/pull/5474#discussion_r701848907

[2021-09-03 12:47] gtsiolis commented on #5309
Removing this from **Product Groundwork** as design specs are already in place in https://github.com/gitpod-io/gitpod/issues/5309#issuecomment-908272776 but engineering bandwidth is limited for the next couple of weeks. Added help wanted label in case any community member would like to contribute with this change. 🌳

[2021-09-03 13:10] thaysom22 commented on #605
Any update on this?

[2021-09-03 15:42] #4486 closed

[2021-09-03 18:23] atduarte commented on #898
Given the impossibility of having truly stable and global URLs, because we may potentially have multiple users and workspaces of the same project running at a given moment, my suggestion is that we continue focused on improving the local companion app (e.g. making it run as daemon) and close this issue.

Using the [local companion app](https://www.gitpod.io/blog/local-app), it's possible to use `l

[2021-09-03 18:25] atduarte commented on #2700
We discussed this internally and realized the effort would be quite significant. It is indeed something we want to address, but unfortunately at this time, we don't have the capacity to execute.

[2021-09-04 02:11] 0Grit commented on #3463
Indicating our interest in this feature.

[2021-09-04 02:39] 0Grit commented on #3463
Strong interest. Willing to assist. @beriberikix @alvarowolfx

[2021-09-04 11:34] dragonDScript commented on #1147
I already made https://gitlab.com/dragonDScript/gitlab-desktop a long time ago.

[2021-09-04 11:36] dragonDScript commented on #1147
Why is servo different to chromium?

[2021-09-04 13:49] beriberikix commented on #3463
Are there any technical blockers from enabling this? IE is microsoft/vscode#116761 relevant or some other security policy?

[2021-09-04 23:39] M-Gonzalo opened #5532 "WINE not working"
### Bug description

I'm getting a `Bad system call` message every time I'm trying to run wine

### Steps to reproduce

[code]

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-05 00:24] andymac4182 commented on #5450
Is there a breakdown of the minimum implementation for a new git provider?

[2021-09-05 03:07] #2616 closed

[2021-09-05 12:06] #4332 closed

[2021-09-05 14:02] jarviska opened #5533 "Terminal is there and working but it’s blank (iPad)"
### Bug description

On iPad, the terminal is there and working but it’s blank. When typing in command, there’s action there, but no text are visible. When I copy the terminal area, the text can be pasted into the editor. This proves that the terminal is working but just that the text are not visible.

I tried all the color pattern within terminal and the VSC theme, none of the setting makes any d

[2021-09-05 14:50] hm2075 commented on #3102
same issue on centos8,     worked fine on 0.5.0,  thought I would revist gitpod  and got more or less everything working and then cant start workspace

[2021-09-05 15:23] songzhm commented on #5533
I got the same problem on my iPad just now. Hope this can be fixed soon.

[2021-09-05 17:50] pattacini commented on #1777
Hi,

I've seen that most of the requests made through this issue are somehow already addressed in the [roadmap](https://github.com/gitpod-io/roadmap/issues/15).

Any plan for supporting GPU as well?

[2021-09-06 03:19] jgallucci32 commented on #3102
@hm2075 I made some progress with RHEL 8. I found out the `shiftfs` module is only compatible with Ubuntu so you have to use the `fuse-overlayfs` module by setting this value in answers.yaml:
[code]
When you install `docker-ce` on RHEL 8 it will install `fuse-overlayfs` as a dependency. Additionally you must configure Docker to use `k8s.io` as the default workspace, as gitpod is looking for worksp

[2021-09-06 04:00] ghuntley opened #5534 "Gitpod Singapore (sg) region"
_edit: :wave: hey there, please refer to https://github.com/gitpod-io/gitpod/issues/7489 as the source of truth for supporting more regions than just EU and US._

We have discussed internally regarding creating a new region a few times since the team has expanded to include two employees in Australia but a feature request has never been logged.

I've always found Gitpod workable when connecting fr

[2021-09-06 04:16] joshuabezaleel commented on #5534
Hi Geoff, the name's Joshua from Indonesia. Been a fan of what Gitpod is working on for quite some time. All the best to the Gitpod team. Hope this helps.
![image](https://user-images.githubusercontent.com/7043511/132159857-f95edae9-f026-4f8b-9fe7-629135bdeade.png)
![image](https://user-images.githubusercontent.com/7043511/132159881-12bd87b9-25de-4baa-bfe5-51fe67472ac3.png)

[2021-09-06 04:35] axonasif commented on #5534
Hi, it feels awesome to know that gitpod is finally going to have a Singaporean cluster! I'm from Bangladesh and I have been using gitpod for a 4G mobile network.
Thanks!

![Screenshot_20210906-102807](https://user-images.githubusercontent.com/39482679/132160828-57e10995-e7dc-4f6d-b823-e3be3b30605c.png)

![Screenshot_20210906-103306](https://user-images.githubusercontent.com/39482679/132161155-ab8

[2021-09-06 05:10] glennsarti commented on #5534
From Perth, Western Australia

Wired VDSL (17/7 down/up Mbps)

Appears my traffic is being routed via East Coast AU instead of direct to Singapore.  Rough speed test shows 53ms from me to NewMedia Express SG which is what I'd expect.

![image](https://user-images.githubusercontent.com/5819622/132163345-c59049e8-1148-4583-8148-43d3a76d7757.png)

[2021-09-06 05:26] bigint commented on #5534
![image](https://user-images.githubusercontent.com/69431456/132164909-e82d475e-c060-4587-85bf-addad22c690a.png)

![image](https://user-images.githubusercontent.com/69431456/132165007-1222683f-131a-417c-80ec-4b3bb81c658f.png)

[2021-09-06 05:32] DevEnable commented on #5534
Melbourne fibre connection (not NBN).

![Screen Shot 2021-09-06 at 3 28 31 pm](https://user-images.githubusercontent.com/5424648/132165224-e1a17746-ad83-475a-9936-83d2b9306306.png)

[2021-09-06 06:08] geropl opened #5535 "[content-service] nil deref on deleteusercontent"
- `DeleteUserContent: failed`: https://console.cloud.google.com/errors/CJO2u-nKrbfI9gE?time=P7D&project=gitpod-191109
- `panic: runtime error: invalid memory address or nil pointer dereference`
  - https://console.cloud.google.com/errors/CMOphKWj6OOuYg?time=P7D&project=gitpod-191109
  - https://console.cloud.google.com/errors/CL2L5M22uqDOmwE?time=P7D&project=gitpod-191109

[2021-09-06 06:22] akosyakov opened #5536 "[code] Error: Unexpected SIGPIPE as ide/out/bootstrap.js:1:370"
### Bug description

[code]

There are many such errors. We should figure out what is the cause and impact.
<img width="1904" alt="Screenshot 2021-09-06 at 08 16 19" src="https://user-images.githubusercontent.com/3082655/132169730-0fadda35-c803-42b9-b155-d32dad9cb489.png">

### Steps to reproduce

See above

### Expected behavior

_No response_

### Example repository

_No response_

### Anything

[2021-09-06 06:24] akosyakov opened #5537 "less verbose "passing environment variable to IDE""
Right now we log it for each env variable, so logs full of `passing environment variable to IDE`.

[2021-09-06 08:08] gtsiolis commented on #4413
In case we're still interested in this, adding search could be also helpful given the list of the examples. See https://github.com/gitpod-io/gitpod/issues/5309 and https://github.com/gitpod-io/gitpod/issues/5309#issuecomment-908272776.

[2021-09-06 08:09] JanKoehnlein commented on #5535
/schedule

[2021-09-06 08:09] roboquat commented on #5535
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5535#issuecomment-913440211):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-06 08:15] svenefftinge commented on #5537
This is `debug`level. So maybe we just don't send debug level logs in prod?

[2021-09-06 08:22] csweichel opened #5538 "Switch to INFO log level by default"
We have too much noise in our logs. To curb this flood of data we'll switch to INFO by default.

[2021-09-06 08:22] csweichel commented on #5538
/schedule

[2021-09-06 08:22] roboquat commented on #5538
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5538#issuecomment-913449828):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-06 08:23] svenefftinge commented on #5537
going to be fixed by #5538

[2021-09-06 08:23] #5537 closed

[2021-09-06 10:46] hgye commented on #5491
@corneliusludmann
When I using a local helm to upgrade my gitpod, I get following errors again:
[code]

Any idea?

[2021-09-06 11:01] #5452 closed

[2021-09-06 11:38] #5414 closed

[2021-09-06 11:46] #5377 closed

[2021-09-06 12:24] #5084 closed

[2021-09-06 14:06] gtsiolis commented on #3463
Re-opening for future reference. Thanks @akosyakov!

[2021-09-06 14:14] #5527 closed

[2021-09-06 14:22] #5129 closed

[2021-09-06 14:27] csweichel opened #5549 "[ws-manager] Log event trace log messages on INFO level"

[2021-09-06 14:27] csweichel commented on #5549
/schedule

[2021-09-06 14:27] roboquat commented on #5549
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5549#issuecomment-913691384):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-06 14:27] csweichel commented on #5549
/assign

[2021-09-06 14:30] ArthurSens commented on #4182
Reopening because it is still valid

[2021-09-06 14:46] #5549 closed

[2021-09-06 14:46] JanKoehnlein opened #5551 "[meta] revise levels of logging statements"
In the engineering sync we agreed on globally setting the log level to info in two weeks (20th of September).

To avoid we're losing important messages we should go through all meta-components and revise the log messages and their levels.

- [x] server
- [ ] dashboard
- [x] content-service
- [x] payment-endpoint
- [ ] dbsync
- [ ] db-sync
- [x] ws-manager-bridge
- [ ] image-builder

[2021-09-06 15:37] akosyakov opened #5552 "local app does not handle invalid bad ws requests sometimes"
### Bug description

[code]

I got outputs like that after completely recreating envs, but it does not stop the local app. We should exit in such cases.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-06 15:37] akosyakov commented on #5552
/schedule

[2021-09-06 15:38] akosyakov commented on #5536
Removing if from the groundwork for now.

[2021-09-06 16:19] #4650 closed

[2021-09-06 17:05] tommygonzaleza opened #5553 "It is not letting me get in the workspace"
### Bug description

I'm trying to open a workspace but this shows up:
[code]

![image](https://user-images.githubusercontent.com/56565994/132247495-a758c402-462d-4472-ab0d-ac4b8e8e2c5a.png)

### Steps to reproduce

I'm just opening the workspaces

### Expected behavior

Open the workspace correctly

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-06 17:16] firecraftgaming opened #5554 "Not able to install on single node cluster"
### Bug description

Hi I am not able to install gitpod self hosted on kubernetes on a 1 node cluster as I get `0/1 nodes are available: 1 node(s) had taint {node-role.kubernetes.io/master: }, that the pod didn't tolerate.`

### Steps to reproduce

install gitpod self hosted on a 1 node kubernetes cluster

### Expected behavior

not getting the message at kubectl describe

### Example repository

[2021-09-06 17:24] svenefftinge commented on #5553
Looks like internet connection issues. Can you share the repo you are trying to open?

[2021-09-06 17:46] OLibutzki commented on #5182
I have a [similar issue](https://community.gitpod.io/t/error-loading-webview/4905).

It doesn't work with Chrome 93.0.4577.63, but it works with Firefox 91.0.2.

[2021-09-06 17:53] OLibutzki commented on #5182
Here are some logs from the console
[code]

[2021-09-06 18:16] corneliusludmann commented on #5554
In general, installing Gitpod on a single node cluster should work. Which Kubernetes distribution do you use? Have you configured something special in the `values.yaml` file?

[2021-09-06 18:20] firecraftgaming commented on #5554
I havent set anything special in `values.yaml` and I installed the latest kubernetes using `kubelet`, `kubeadm` on Ubuntu 20.10

[2021-09-06 18:28] corneliusludmann commented on #5554
Have you tried to remove the taint from the node to check if it would work then?

[code]

[2021-09-06 20:02] notsleepily commented on #2615
Any updates? it's been months since last reply and i myself would really like to see this being supported so i can add gitpod to my local networks.

[2021-09-06 20:24] jgallucci32 commented on #2615
@notsleepily I'm stuck getting a working 0.10.0 instance going so I can rebase the PR and validate the configuration. I've got a dev cluster going with RHEL 8 / Docker CE 20.10.7 / RKE 1.19.7 which works perfectly find with Gitpod v0.6.0, but after the upgrade (and reinstall from scratch) I cannot start workspaces.

The good news is I am not seeing any x509 certificate errors in any of the pods an

[2021-09-06 21:05] firecraftgaming commented on #5554
So that works now they arent pending anymore but it still timeouts on db migration but gonna have to debug that some more

[2021-09-06 21:42] jgallucci32 opened #5558 "[self-hosted] Image builder MK3 fails to build with error: exit code 1"
### Bug description

Gitpod fails to create new workspace using the new MK3 image building service with the following error
[code]

### Steps to reproduce

1. Deploy Gitpod onto a self-hosted Kubernetes cluster
2. Launch workspace

### Expected behavior

Gitpod successfully builds and launches a new workspace

### Example repository

n/a

### Anything else?

Logs from `ws-daemon`
[code]

Logs from

[2021-09-06 22:46] jgallucci32 commented on #2691
I wanted to add a note here that `dockershim` does in fact work with Gitpod v0.6.0 using both Docker CE 19.03 and 20.10 on both RHEL 7 & 8 distributions. I'm actively trying to track down the breaking change in later Gitpod releases to determine if there is a plausible workaround.

[2021-09-07 01:51] hgye commented on #5491
hi,
I'm using
[code]
Thanks.

[2021-09-07 04:07] axonasif commented on #5198
Agreed ;)

[2021-09-07 04:47] shaal opened #5560 "Running `brew update` is causing workspace to shut down 😱"
### Bug description

- Open any Gitpod workspace
- Run in terminal `brew update`

Workspace shuts down.

### Steps to reproduce

- Open any Gitpod workspace (ie. https://gitpod.io/#https://github.com/gitpod-io/template-typescript-node)
- Run in terminal `brew update`

Workspace shuts down.

### Expected behavior

_No response_

### Example repository

https://gitpod.io/#https://github.com/gitpod-i

[2021-09-07 06:51] csweichel opened #5561 "[workspacekit] Reduce log verbosity"
workspacekit logs a lot as `info` that should be `debug`, e.g. all of its syscall handling.

[2021-09-07 06:51] akosyakov commented on #5515
web-server branch was rebased to 1.60. We need to fix some issues in Open VSX before updating gp-code:
- python extension cannot be installed, because latest jupyter extension cannot be published
- vim extension is not installed as web extension anymore (generally handling of web extensions is broken)

[2021-09-07 06:57] csweichel opened #5562 "[supervisor] Reduce log noise level during shutdown"
When supervisor shuts down it's very noisy about being unable to terminate child processes, e.g.
[code]

This need not be an error because the child process no longer exists. It certainly should not be a warning.

[2021-09-07 07:06] csweichel opened #5563 "[ws-manager] modifyFinalizer is too loud if pod no longer exists"
If the pod no longer exists and we want to remove the finalizer that's not really an error, because the pod is actually gone and it's good that way.

[2021-09-07 07:07] csweichel opened #5564 "[ws-manager] Make config part of the API"
to help build future prototypes of e.g. the installer or CRD-based ws-manager.

[2021-09-07 07:07] csweichel commented on #5564
/schedule

[2021-09-07 07:07] csweichel commented on #5564
/assign

[2021-09-07 07:07] roboquat commented on #5564
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5564#issuecomment-914048291):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-07 07:27] AlexTugarev commented on #5560
Duplicate of https://github.com/gitpod-io/gitpod/issues/5280

[2021-09-07 07:27] #5560 closed

[2021-09-07 07:40] geropl commented on #5473
Ok, this was quick. I double checked, but all hints have already been removed by either me or @wulfthimm in previous PRs.

[2021-09-07 07:40] #5473 closed

[2021-09-07 08:06] JanKoehnlein commented on #5551
/schedule

[2021-09-07 08:06] roboquat commented on #5551
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5551#issuecomment-914085136):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-07 08:10] JanKoehnlein commented on #5562
/schedule
/assign

[2021-09-07 08:10] roboquat commented on #5562
@JanKoehnlein: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5562#issuecomment-914088326):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-09-07 08:35] akosyakov opened #5565 "[code] independent deployment of VS Code"
It at least should be possible if we don't have any server API changes in components used by supervisor, cli or VS Code like Gitpod Server.

I think we will need help of @gitpod-io/engineering-meta since it is mostly config map changes of the server, blobserve.

[2021-09-07 10:28] #5465 closed

[2021-09-07 11:20] hgye commented on #5491
@corneliusludmann

Finally, I found builtin-registry-certs-secert are right.

But I'm noticed the registry pods aren't effective after this secrets changed. I must re-scale deployments registry from 1->0 ,then 0->1. Then I get response
[code]

BTW: I'm using vault as root ca, and vault as issuer to *.gitpod.company.domain, about 3 days the https-certificates will re-issue again.
I'm also need to m

[2021-09-07 11:42] akosyakov commented on #4848
@csweichel Can we listen to ssh tcp port and activate the server if one tries to connect, i.e. have some kind of proy?

[2021-09-07 11:55] geropl opened #5569 "[staging] Access to (offline) headless logs does not work for non-owners"
With the introduction of "Teams & Projects" we use the API for accessing logs for headless workspaces which are offline the first time. This has been tested and basically works, but apparently not for non-owners.

[2021-09-07 12:06] gengjiawen opened #5571 "prettier extension load failed"
[code]

[2021-09-07 12:35] #5569 closed

[2021-09-07 12:40] AlexTugarev opened #5573 "No logs for short prebuilds"
If a prebuild is very short, i.e. doesn't take a while to be built, it appears to not be shown with logs and logs are not persisted in the storage.

How to reproduce? Just create a project for a not yet configured repo in your account and use the simples `echo something` template form the project configurator.

[2021-09-07 12:41] AlexTugarev commented on #5573
cc. @geropl, because he already had a suspicion about this.

[2021-09-07 12:46] geropl commented on #5573
Could https://github.com/gitpod-io/gitpod/commit/a1da634398a89ced4733e9fb568ecdd97272e86d be the cause?
We no longer wait for `c.State.Running == nil` for the workspace container, which includes proper shutdown of `supervisor`, including writing of terminal logs. @csweichel

[2021-09-07 12:52] svenefftinge opened #5574 "[ws-daemon] Workspace start fails with "cannot connect to daemon""
[This error](https://console.cloud.google.com/errors/CI6hwq2sg6bx4AE?time=PT1H&project=gitpod-191109) happens quite often (> 6000 entries in the last 7 days) and seems to be user-facing (i.e. error message on start workspace).
At least that what I just saw myself.

[2021-09-07 13:01] #5535 closed

[2021-09-07 13:02] #5348 closed

[2021-09-07 13:02] #5552 closed

[2021-09-07 13:17] akosyakov commented on #5571
@gengjiawen Unfortunately I cannot reproduce. Do you have a workspace id for which it happened and when? Could you use `Open Window Log File` in such workspace and collect logs for the session when it happened? You can send them to anton@gitpod.io

[2021-09-07 13:36] bmnave commented on #2615
Hey @jgallucci32,

Any chance you could share the values.yaml that you are using?  I've been trying to play with the 0.10.0 release again as well.  I have a private registry, so I did have to mount certs into the image-builder for docker. But I was able to get it mostly running without adding any of your helm template changes.  I'm having trouble getting a few of the deployments to start up, but i

[2021-09-07 13:39] gtsiolis commented on #4453
A good improvement here could be to a) separating teams and individual plans which are currently mixed and b) surfacing a more clear acton button for managing individual subscription as described in https://github.com/gitpod-io/gitpod/issues/3948#issuecomment-869453517. Cc @JanKoehnlein

[2021-09-07 13:52] shaal commented on #4537
@akosyakov I added devtools inspect details here -
https://github.com/microsoft/vscode/issues/131382

Also, the issue is specifically with Edge Chromium browser on mobile device (and not with Chrome browser).

[2021-09-07 13:56] geropl opened #5576 "[proxy] Fix CORS issues"
We're currently using `redir`, which is an internal redirect. It should be a internal one.

[2021-09-07 14:04] jgallucci32 commented on #2615
@bmnave Yes here is a sanitized version of the values.yaml file I am using
[code]

These are also the patch commands I run to fix each element after the Helm chart is deployed

**blobserve**
[code]
**image-builder**
[code]
**registry-facade**
[code]
**server**
[code]
**ws-daemon**
[code]

[2021-09-07 14:20] JanKoehnlein commented on #4453
Does it make sense to look into this when we'll release the new teams and projects soon anyway?

[2021-09-07 14:27] gtsiolis commented on #4453
@JanKoehnlein Yes! For the separation of the individual and team plans, I'd expect the new **Teams & Projects** feature to resolve most of the pain points here. However, surfacing a more clear action to manage the subscription could be a small nice improvement.

[2021-09-07 15:07] biozal commented on #5090
any word on when this will be resolved?

[2021-09-07 16:35] dragonDScript opened #5577 "Add payment methods: PayPal and PaySafeCard"
PayPal is a known payment method. Paysafecard is a way to pay with cash on the internet. I'd love to pay gitpod, however I'm underage and I don't own a PayPal or credit card.

[2021-09-07 18:57] shaal commented on #5280
Is there any update on this issue?
By the way, when running `brew update` during image prebuild, there's no error.

[2021-09-07 19:20] arxanas opened #5578 "Setting `GIT_EXEC_PATH` causes "content initializer failed""
### Bug description

This Gitpod Dockerfile causes workspace initialization to fail.

[code]

The error message says this:

### Steps to reproduce

1. Create `.gitpod.yml` using the above `Dockerfile`. See linked commit.
2. Push to Github.
3. Check out the commit from Github in Gitpod.

### Expected behavior

_No response_

### Example repository

https://github.com/arxanas/git-branchless/commit/e

[2021-09-07 20:06] maksimr commented on #3259
Could not install the latest version of Vim extension on gitpod.io. Download locally and drop to extensions panel also doesn't work

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/616193/132404177-9d3c9919-2ad4-4cbe-a6a1-f920be2af607.png">

[2021-09-07 20:55] bmnave commented on #2615
Thanks @jgallucci32! OMG I've been searching for examples of how to to configure the imageBuilder.registry.name and workspace.defaultImage.* stuff FOREVER!  So I have some questions! (Sorry to hijack your ticket, I'm happy to take this off of here and move to Slack/Email/Whatev - just let me know)

It looks like you have a Harbor Registry, which is awesome, because I am also running a Harbor Regis

[2021-09-07 21:31] jgallucci32 commented on #2615
@bmnave Head over to the new Discord chat setup for these types of discussions
https://www.gitpod.io/chat

I created a sub-thread to #gitpod-self-hosted called `ca-certificates` so we can discuss in detail.

[2021-09-08 01:33] gengjiawen commented on #5571
Repo: https://github.com/gengjiawen/ts-scaffold
ID: https://apricot-bonobo-gzwejvag.ws-us15.gitpod.io/

Window Log File

<details>

[code]

</details>

[2021-09-08 01:45] gengjiawen commented on #5515
Hope this get fixed soon. Really painful for heavy-vim user.

[2021-09-08 04:48] BkrmDahal commented on #5102
I have the same issue. Were you able to solve this?

[2021-09-08 05:59] akosyakov commented on #5515
@gengjiawen In production it runs in web worker already. Nothing changed. It is only about fixing for upcoming release.

[2021-09-08 06:06] akosyakov commented on #5571
I was able reproduce it sometimes.

[2021-09-08 06:09] svenefftinge commented on #4413
I think this was done already

[2021-09-08 06:09] #4413 closed

[2021-09-08 06:13] gengjiawen commented on #5515
I am pretty positive vsvim already broken on production.

[code]

[2021-09-08 06:13] csweichel commented on #5565
This points towards having "composite" component configurations where the config reloads automatically, e.g.
- [ ] server, where the IDE config comes from a separate configMap that hot-reloads
- [ ] blobserve needs to hot-reload its entire configuration
- [ ] registry-facade already does that

In addition we need to find a means to deploy local app independently of the dashboard. Possible paths fo

[2021-09-08 06:14] akosyakov commented on #5515
I agree, i just said that it is irrelevant to this issue.

[2021-09-08 06:16] svenefftinge opened #5583 "Create new project by cloning a template"
The new project flow, should allow users to pick a template and create a fresh project based on that.

As a result, a user should be able to create a fresh repository with the initial scaffolding provided by the picked template. The repo should be added to the githoster the user chose and live under the org/group the user had chosen during the project creation flow.

As with imported projects the

[2021-09-08 06:23] meysholdt opened #5584 ""server" should reload Configmap if it changes"
When deploying a new version, https://gitpod.io/api/version no longer shows the new version even though it is deployed.

This seems to be because the value of "version" is now passed into server via configmap and no longer via ENV variable on the container. This means k8s will no longer restart server if the value changes and we need to do this ourselves.

proposal:
a) server should reload the con

[2021-09-08 06:24] svenefftinge commented on #5534
Cool! thanks for all the comments. Let's do this!
@meysholdt can you take over and share a plan for rolling this out?

[2021-09-08 06:31] svenefftinge opened #5585 "[projects] Allow navigation on branches and commits"
The branches view as well as the preview, shows branches, but don't allow going to the context (git repo).

[2021-09-08 06:31] gengjiawen opened #5586 "`code .` hung up forever"
Repo: https://github.com/gengjiawen/ts-scaffold

After wait `yarn test` init task finished. `cd sample_out/ && code .`

I have used this a few days ago. Looks like a regression.

[2021-09-08 06:34] gengjiawen commented on #5571
Bit of off-topic, should I create an issue for vim extension issue in https://github.com/gitpod-io/gitpod/issues/5515.

[2021-09-08 06:45] akosyakov commented on #5571
@gengjiawen For now not, I think it maybe related to some general Open VSX incident.

[2021-09-08 06:48] meysholdt commented on #5534
happy to do so. There are two possible setups for this:
a) setup a workspace-cluster in Singapore, hook it up to the us-meta-cluster and have have our server component route starting workspaces to the geographically closest workspace cluster (Singapore or US).
b) setup a workspace-clusters, a meta-clusters, and a database in Singapore and have the GCP LoadBalancer route users to the geographically

[2021-09-08 06:56] svenefftinge opened #5588 "Cannot uninstall extensions"
I'm having issues with my vscode extensions. I realized that I have collected a lot of extensions that seem to sync to my account (I guess due to the bug we had in prod two weeks ago?).
Now I wanted to clean this up and uninstalled those extensions. But they are not gone. I see them again in fresh workspaces. Any idea?

[2021-09-08 07:09] akosyakov commented on #5584
@csweichel will it be covered as part of https://github.com/gitpod-io/gitpod/issues/5565#issuecomment-914949316?

[2021-09-08 07:10] akosyakov commented on #3259
@maksimr We are looking into it. It seems to be some issue with Open VSX.

[2021-09-08 07:30] akosyakov commented on #5588
It maybe related to unresponsiveness of Open VSX right now.

[2021-09-08 07:46] bigint commented on #5534
@meysholdt If that sounds difficult, it would be great to add a preference in user settings to choose the data center they want. WDYT?

[2021-09-08 07:47] akosyakov commented on #5571
https://www.gitpodstatus.com/incidents/vyf7zqrxvldv

[2021-09-08 07:56] akosyakov commented on #5571
@gengjiawen Let's file another issue for VIM. I don't think it is related. But I can now install/uninstall prettier extensions after Open VSX was scaled up. Could you try?

[2021-09-08 07:56] akosyakov commented on #5588
@svenefftinge could you try again?

[2021-09-08 07:59] bravoalpha79 opened #5589 "Dependencies lost upon workspace reopening"
### Bug description

Upon starting an existing workspace today, three students report (and I confirmed it with `pip3 freeze --local`) that all installed dependencies are gone. The workspaces were opened from the Gitpod Dashboard.

`pip3 install -r requirements.txt` reinstalled all dependencies as expected, but they should never have been gone to begin with.

### Steps to reproduce

1. Open workspa

[2021-09-08 08:02] gengjiawen commented on #5571
Everything works now.

[2021-09-08 08:02] #5571 closed

[2021-09-08 08:03] maksimr commented on #5571
@akosyakov I have tried to download the latest version of VIM extension from **VS Code marketplace** and install it manually, but it still doesn't work.

[2021-09-08 08:03] gengjiawen opened #5590 "vim broken"
cc @akosyakov

This works yesterday.

Log

[code]

[2021-09-08 08:04] #5475 closed

[2021-09-08 08:04] gengjiawen commented on #5571
https://github.com/gitpod-io/gitpod/issues/5590

[2021-09-08 08:05] akosyakov commented on #5571
@maksimr yes, the format of extension was changed, and now our VS Code cannot understand format of latest VIM published although it is engine compatible 🙈 Could you open a new issue please?

[2021-09-08 08:08] JanKoehnlein commented on #5574
/schedule

[2021-09-08 08:08] roboquat commented on #5574
@JanKoehnlein: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5574#issuecomment-915015531):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agai

[2021-09-08 08:11] gtsiolis opened #5591 "Allow users to open a new workspace when configuration is Git-based"
### Bug description

When configuration is stored in git but is invalid, users importing the project cannot open a new workspace. See also [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1631085405146200) (internal).

### Steps to reproduce

1. Add a project with an invalid configuration (`.gitpod.yml`)
2. In the `/configuration` page you can not run a prebuild due to the conf

[2021-09-08 08:12] maksimr opened #5592 "Can not install VIM extension"
### Bug description

Can not install VIM extension from Open marketplace or manually

### Steps to reproduce

STR:

- Open gitpod
- Open [Install extensions]
- Find [VIM] extension
- Try to install

STR 2:
- Download VIM extension from VS Code marketplace
- Open [Install extensions]
- Install local extension

### Expected behavior

It should be possible to install VIM extension

### Example reposi

[2021-09-08 08:14] Jays-T commented on #5589
Same issue with another student and same steps taken to produce the error, below is affected workspace:
https://bronze-orca-cznmphft.ws-eu15.gitpod.io/

[2021-09-08 08:14] maksimr commented on #5571
@akosyakov Done #5592

[2021-09-08 08:16] akosyakov commented on #5592
duplicate of https://github.com/gitpod-io/gitpod/issues/5590

[2021-09-08 08:16] #5592 closed

[2021-09-08 08:27] JanKoehnlein commented on #5565
To unbock team IDE with JetBrains integration, the first step is changing the config in server.

/schedule

[2021-09-08 08:27] roboquat commented on #5565
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5565#issuecomment-915029296):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-08 08:30] JanKoehnlein commented on #5584
Closed as duplicate of #5565

[2021-09-08 08:31] JanKoehnlein commented on #5591
/schedule

[2021-09-08 08:31] roboquat commented on #5591
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5591#issuecomment-915032039):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-08 08:32] JanKoehnlein commented on #5590
/schedule

[2021-09-08 08:32] roboquat commented on #5590
@JanKoehnlein: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5590#issuecomment-915032427):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-09-08 08:33] akosyakov commented on #5588
I remove it from the groundwork, I think it is related to an incident. Please retry, and add again if it is not fixed yet.

[2021-09-08 08:40] bravoalpha79 commented on #5589
One more workspace impacted by the same issue:
https://moccasin-cricket-fkkxz0tu.ws-eu15.gitpod.io/

[2021-09-08 08:41] DaveEvans-FanBox opened #5593 "Homebrew not working"
### Bug description

The `brew` command is no longer available from the terminal. It worked on Sept 7th '21 but not on Sept 8th '21.
https://www.gitpod.io/blog/brew

### Steps to reproduce

1. GitPod against https://github.com/gitpod-io/template-typescript-node
2. Open a new terminal.
3. Type `brew`

### Expected behavior

On opening a terminal, and typing `brew` I see
[code]

### Example reposito

[2021-09-08 08:41] davidwindell opened #5594 "[image-builder] workspace images' environment variables are broken"
### Bug description

Did any deployments or changes to Gitpod take place last night?

Since this morning, none of our workspaces are starting as all of the environment variables (ENV in the Dockerfile) from the base image appear to be being wiped out somehow.

### Steps to reproduce

https://gitpod.io/#https://github.com/davidwindell/gitpod-test

### Expected behavior

_No response_

### Example r

[2021-09-08 08:43] Jays-T commented on #5589
And another workspace affected:
https://salmon-condor-3u077sv0.ws-eu15.gitpod.io/

[2021-09-08 08:44] Wings30306 commented on #5589
And another one:
![image](https://user-images.githubusercontent.com/40639285/132476755-822f8a54-37b4-4c92-b5de-d220c7934924.png)
from workspace https://tomato-thrush-3619mlgr.ws-eu15.gitpod.io/ - error appearing on attempting to re-install dependencies. Student is attempting to re-install in a new workspace as we speak, so 🤞🏻 - TBC

[2021-09-08 08:45] akosyakov commented on #5590
I think it is the issue on Open VSX side which breaks downloading of web extensions' resources.

[2021-09-08 08:49] DaveEvans-FanBox commented on #5593
Might be related to this change? https://github.com/gitpod-io/workspace-images/commit/ec14e4dbfd953ce9d2baf9b4c6b166fc94052364

[2021-09-08 08:54] akosyakov commented on #5590
Please follow this Open VSX issue for updates: https://github.com/EclipseFdn/open-vsx.org/issues/633

[2021-09-08 08:57] csweichel opened #5595 "[server] Offer API through gRPC and gRPC web"
Currently server offers it's API through JSON-RPC. While convenient at the beginning we're facing more and more issues with this approach:
1. we have to maintain the RPC stack ourselves, rather than just including someone else's work.
2. producing clients for different languages involves a lot of manual effort, e.g. for Go we once generated a stub out of TypeScript and maintained the client manual

[2021-09-08 08:57] DaveEvans-FanBox commented on #5593
This line seems to install HomeBrew : (https://github.com/gitpod-io/workspace-images/blob/583181ebf3fd68f66f4c32a7d4e61d52362948a3/full/Dockerfile#L67)

I ran this command on it's own in the terminal
[code]

After about 30 seconds, the GitPod workspace self-terminated and dumped me back to the dashboard.

[2021-09-08 08:58] corneliusludmann commented on #5594
Thanks for reporting. I can confirm the issue with your sample repo. Thanks a lot for that! I'm currently investigating.

[2021-09-08 08:59] meysholdt opened #5596 "Automatically choose workspace-cluster based on lowest latency."
Context: https://github.com/gitpod-io/gitpod/issues/5534#issuecomment-914967098

## Problem Statement
We currently have workspace clusters in one region in the EU and one region in the US. To offer service at a good latency (e.g. < 100ms), we will need more clusters, maybe as many as one or two per continent. See https://gcping.com/ for your personal latency to every google cloud region. See the [

[2021-09-08 09:00] corneliusludmann commented on #5589
Thanks for reporting. We are investing.

[2021-09-08 09:05] meysholdt commented on #5534
Here is a proposal on how we could do automated latency-based workspace-cluster-selection: https://github.com/gitpod-io/gitpod/issues/5596

[2021-09-08 09:15] corneliusludmann commented on #5589
https://www.gitpodstatus.com/incidents/fk6prflgvvth

[2021-09-08 09:17] bravoalpha79 commented on #5589
Almost certainly related, installation of dependencies shows some weird warnings, and causes issues subsequently:
![image](https://user-images.githubusercontent.com/45522344/132480836-7743adff-5123-4efd-9221-450d5b4f098c.png)
https://jade-orangutan-vyo2dp1j.ws-eu15.gitpod.io/

[2021-09-08 09:20] corneliusludmann commented on #5594
https://www.gitpodstatus.com/incidents/fk6prflgvvth

[2021-09-08 09:31] corneliusludmann commented on #5593
https://github.com/gitpod-com/gitpod/pull/5899

[2021-09-08 09:31] corneliusludmann commented on #5593
https://www.gitpodstatus.com/incidents/fk6prflgvvth

[2021-09-08 09:47] corneliusludmann commented on #5594
@iQQBot Do you have more information about this? Or is it just a guess?

[2021-09-08 09:51] geropl commented on #5594
Thanks everybody for reporting (especially @davidwindell), we identified and are basically rolling back our changes from this morning. We keep this issues around until this is fixed.

Link to incident: https://www.gitpodstatus.com/incidents/fk6prflgvvth

[2021-09-08 09:55] geropl commented on #5589
Closing as dupe of #5594. We're ~currently rolling~ rolled out a fix: https://github.com/gitpod-io/gitpod/issues/5594#issuecomment-915091895

Sorry for the inconvenience, and thank a lot for reporting this @bravoalpha79 and @Jays-T ! :pray:

[2021-09-08 09:55] #5589 closed

[2021-09-08 09:59] kiselev-nikolay commented on #3727
I'm missing the "send incident report" and the indicator of gitpod status. Because of #5594 I've been running into this problem since early this morning, and you seem to have only found out about it an hour ago. 💔

[2021-09-08 10:03] geropl opened #5597 "[image-builder-mk3] Does not carry over env vars from base images"
The underlying issues seems to be that env variables from base iamges are not carried over to the resulting image.
For instance, workspaces on `gitpod-io/gitpod` could not find `gcloud` because it was not in the `PATH` (but in the image).
Switching to old `image-builder` did fix this.

Incident: https://www.gitpodstatus.com/incidents/fk6prflgvvth

User reports:
 - https://github.com/gitpod-io/gitp

[2021-09-08 10:04] #5594 closed

[2021-09-08 10:04] corneliusludmann commented on #5594
We mitigated the issue for now. Please restart a workspace and try again, @davidwindell. Let us know if it does not work.

[2021-09-08 10:07] DaveEvans-FanBox commented on #5593
I've re-tested following the resolution of the above incident, and it works for me. Thanks for the quick turnaround.

[2021-09-08 10:08] #5593 closed

[2021-09-08 10:13] kiselev-nikolay commented on #5594
I had this problem too. I just checked. It looks like you fixed the problem. Thanks, gitpod team!

It would be great if such updates would not interfere with all users. Please add a separate "insiders" mode, which will be used by those who care about the "latest" updates. The work of developers (who entrusted gitpod) depends on you. I would not want to waste time because of such things in the futu

[2021-09-08 10:13] semiribrahim commented on #5090
Our try it on gitpod option on github is currently on halt because of this issue. Any update when it might be resolved would be greatly appreciated.

[2021-09-08 10:17] davidwindell commented on #5594
@corneliusludmann thank you for the quick resolution, I can confirm this has fixed the issue for our team.

[2021-09-08 10:17] gtsiolis commented on #5534
Agree, this is something that would provide unnecessary complexity for the user. 🐼

[2021-09-08 10:43] ChristinFrohne opened #5598 "automatically forward newsletter sign ups to customer.io"
With the newsletter signup widget, website visitors have the option to sign up for emails without logging into Gitpod.
Right now we are collecting these email addresses in a [spreadsheet](https://docs.google.com/spreadsheets/d/1DrgFXvDsLmu6kUoBHMfgYqBtqyT9kr4OHqcKX31FbXw/edit#gid=722237941). There are currently >150 email addresses. So far these email addresses are not used and forwarded to custom

[2021-09-08 10:43] gtsiolis commented on #3727
Thanks for the feedback @kiselev-nikolay!

❓ **question**: Is the missing _send incident report_ referring to the _file an issue_ link that used to be found on the loading screen during an error?

Not sure if we ever had a gitpod status indicator in the dashboard but we recently discussed how system status visibility within the dashboard could look like in https://github.com/gitpod-io/gitpod/issue

[2021-09-08 11:54] gtsiolis opened #5601 "Prompt users to contribute with missing extensions and themes inside the editor"
### Problem to solve

We regularly see incoming requests for missing VS Code **themes** and **extensions**. The relevant existing docs[[1](https://www.gitpod.io/docs/vscode-extensions#where-do-i-find-extensions)] could be updated or take into account the relevant Open VSX docs[[2](https://github.com/open-vsx/publish-extensions)] but the documentation could still remain hard to discover. See [relev

[2021-09-08 11:57] geropl commented on #5565
FYI: we have a similar mechanism in place for "chargebee config": https://github.com/gitpod-io/gitpod/blob/267448b4b07b731ab96f949f62597fd426fce305/components/server/src/config.ts#L171-L205

[2021-09-08 11:58] meysholdt commented on #5597
we can re-enable image builder mk3 on staging, in case that is helpful: https://github.com/gitpod-com/gitpod/pull/5901 Thx @wulfthimm for the PR.

[2021-09-08 12:05] akosyakov opened #5602 "Investigate ssh proxy (For: JetBrains integration, VSCode Desktop)"
Right now we have to generate an additional ssh config which is not integrated with user ssh config file. It is troublesome since user has to switch between them, and in case of VS Code Desktop integration we have to mess with remote ssh settings as well.

There is `ProxyCommand` allowing to dynamically resolve host names for fake names, see https://blog.jverkamp.com/2017/12/18/ssh-config-proxycom

[2021-09-08 12:16] akosyakov commented on #5586
It does work for me. Maybe it was caused by this incident: https://www.gitpodstatus.com/incidents/fk6prflgvvth Since code CLI relies on some env vars.

[2021-09-08 12:22] akosyakov commented on #5565
It is not JetBrains integration, but able to release latest VS Code independent from server. 😉

[2021-09-08 12:24] gengjiawen commented on #5586
Yeap. Works for me now too.

[2021-09-08 12:24] #5586 closed

[2021-09-08 13:01] akosyakov commented on #5565
@meysholdt Does hot reload without server restart work for you?

[2021-09-08 13:13] geropl commented on #5584
Re-opening because this is not necessarily a duplicate of #5565, and can be easily fixed independently.

[2021-09-08 13:17] akosyakov opened #5603 "java api for supervisor/local app grpc"

[2021-09-08 13:18] akosyakov commented on #5603
/schedule

[2021-09-08 13:30] #5584 closed

[2021-09-08 13:57] michael-bowen-sc commented on #5321
We are heavily invested in Azure DevOps and would like to see it supported as well.

[2021-09-08 14:32] #5183 closed

[2021-09-08 14:34] songzhm commented on #5533
This worked! Thanks!

[2021-09-08 14:38] csweichel commented on #5574
At first glance this looks like an issue with ws-daemon serving the IWS socket in time. We might have a problem with the dispatch mechanism here.

[2021-09-08 15:14] csweichel commented on #5574
@aledbf and I were looking into this issue and found that this issue is mostly a workspace shutdown issue and "should not" happen during startup.

We've found that the due to a change in ws-manager's status machinery we called `DisposeWorkspace` too early which in turn races the IWS call in workspacekit ring0, producing this error message.

[2021-09-08 15:14] csweichel commented on #5574
/assign @aledbf

[2021-09-08 15:32] geropl commented on #5597
An integration test for this: https://github.com/gitpod-io/gitpod/pull/5609

[2021-09-08 15:32] geropl commented on #5597
Note that work on this on `devstaging` will likely be blocked by this PR: https://github.com/gitpod-io/gitpod/issues/5497

[2021-09-08 15:36] csweichel commented on #5597
/schedule

[2021-09-08 15:36] roboquat commented on #5597
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5597#issuecomment-915347620):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-08 15:50] #4919 closed

[2021-09-08 16:46] meysholdt commented on #5565
❤️

I strongly recommend the "serve local-app from a separate service within a meta cluster" suggestion, because this fits well with deploying Kubernetes applications: Deploy by applying yaml to a clusters.

Deploying to a GCP bucket leads to all kinds of question that better be avoided: rollback? cleanup? deploy gitpod-self-hosted? If a GCP bucket really is needed, it may be the cleanest solution

[2021-09-08 16:47] gtsiolis opened #5611 "Some failed prebuilds use a wrong status label"
### Bug description

Some failed prebuilds use a wrong status label.

| Prebuilds List | Prebuild Page |
|-|-|
| <img width="1015" alt="Screenshot 2021-09-08 at 7 43 36 PM" src="https://user-images.githubusercontent.com/120486/132550714-424ee41f-3990-4f3c-90cb-e09c6a452278.png"> | <img width="936" alt="Screenshot 2021-09-08 at 7 43 48 PM" src="https://user-images.githubusercontent.com/120486/13255

[2021-09-08 16:54] #4140 closed

[2021-09-08 16:55] #3748 closed

[2021-09-08 16:55] #4094 closed

[2021-09-08 18:04] gtsiolis opened #5612 "Allow users to cancel pending or running prebuilds for projects"
### Problem to solve

Currently, users cannot cancel a `PENDING` or `RUNNING` prebuild on the a) project a) Configuration page, b) Prebuilds list, and c) Prebuild page.

See also https://github.com/gitpod-io/gitpod/pull/5474 and https://github.com/gitpod-io/gitpod/issues/5392#issuecomment-906271953 for initial specs. 🖍️

Also, canceling on the Prebuilds list triggers an alert which ideally could b

[2021-09-08 18:24] gtsiolis commented on #5464
Can reproduce this. Opening a new workspace with changed configuration does not load the changed configuration into the workspace.  ✔️

[2021-09-08 21:05] maksimr commented on #5590
@akosyakov I have tried and now it works so looks like the problem is gone after updating CORS headers. Thanks a lot

[2021-09-09 00:09] #4348 closed

[2021-09-09 01:38] gengjiawen commented on #5590
Works on my side too.

[2021-09-09 01:38] #5590 closed

[2021-09-09 02:49] Murasame233 commented on #544
Still have this problem.
I am debuging rust.
I set ASLR off solved one problem.
But the ptrace still not working.
[code]

[2021-09-09 06:17] ghuntley opened #5618 "Contributing to Gitpod"
👋 Howdy folks,

Whilst Gitpod is an open-source project, the contributing experience isn’t as good as it should be. We are working on making improvements to this but for now I highly recommend starting a discussion over at www.gitpod.io/chat in the #contributing discussion room whilst our CONTRIBUTING.md is built and knowledge is transferred.

#  Topics to cover:

- [ ] Fundamental knowledge (leew

[2021-09-09 06:33] akosyakov opened #5620 "[code] streamline terminal integration"
We spent a lot of time in the past to align our terminal implementation to work again supervisor instead we would like to use the default implementation from web-server. The following steps:
- remove our implementation and hook in web-server implementation
- move task terminals from gitpod-remote to gitpod-shared and enable for both remote and web targets
- there was a new proposed terminal API wh

[2021-09-09 06:34] akosyakov commented on #5533
duplicate of https://github.com/gitpod-io/gitpod/issues/5040

[2021-09-09 06:34] #5533 closed

[2021-09-09 07:19] AlexTugarev commented on #5611
@gtsiolis does it stay like this on the Prebuild Page on reload after +10 seconds?

[2021-09-09 07:21] gtsiolis commented on #5611
@AlexTugarev yes, you can also try this using the example link above:

[2021-09-09 07:26] #4853 closed

[2021-09-09 08:27] akosyakov commented on #5620
/schedule

[2021-09-09 08:27] roboquat commented on #5620
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5620#issuecomment-915874948):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-09 08:27] csweichel commented on #5596
Excellent idea - but we really don't have time for this right now.
We'll want to revisit workspace cluster selection once we make a decision on multi-meta.

[2021-09-09 08:48] #5562 closed

[2021-09-09 09:17] csweichel commented on #5597
That's indeed the problem. `llb.Image` does nothing with the source image's metadata. We need fetch the metadata ourselves and add it to the image.

[2021-09-09 09:31] JanKoehnlein commented on #5280
There used to be a problem with agent smith killing the workspace as `brew update` produced a log line for `xmrig` independent of the actual usage of `xmrig`. Anything in the logs?

[2021-09-09 10:03] AlexTugarev opened #5628 "Unshare workspaces on stop"
To prevent unwanted access after restart.

[2021-09-09 11:30] ntziolis commented on #4456
Any updates?

[2021-09-09 11:41] ArthurSens opened #5631 "[ws-manager] `gitpod_ws_manager_workspace_phase_total` not exposed when there 0 workspaces running."
When making deployments, we often see `no data` shown in panels that use this metric in the dashboard `Gitpod / Overview`.

Since this dashboard is our main source of truth to tell if Gitpod is healthy or not, seeing `no data` confuse us... Is Gitpod not running at all or is it just that no workspaces were started in this cluster?

The `no data` is shown in grafana because the metric `gitpod_ws_ma

[2021-09-09 14:05] domderen commented on #3860
Hey I'd like to reopen this issue. I just tried gitpod with an open source Kubernetes project, where I'd like to run such a `.gitpod.yaml`:

[code]

To create a kubernetes development environment, with K3D default cluster up & running.

Unfortunately, in the above case, the last `init` command `k3d cluster create` fails with:

[code]

[2021-09-09 14:59] atduarte opened #5632 "Local companion app logs everything to stderr"
### Bug description

The local companion app logs all levels to stderr

### Steps to reproduce

`./gitpod-local-companion-darwin > /dev/null`

And notice that logs continue to show up

### Expected behavior

Only warnings and errors show be written to stderr.

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-09 15:08] broopdias commented on #5460
Looking forward to see this issue fixed.
I have the same problem in all of my workspaces.

[2021-09-09 17:02] corneliusludmann commented on #5460
By the way: Independent from Gitpod, I see the same behavior in the GCP Cloud Shell (e.g. when in the Google Cloud Platform Console when I go to SQL and select Open Cloud Shell). I don't have it when I connect to a node (via the SSH button in the Google Cloud Platform Console).

[2021-09-09 19:37] aledbf commented on #5563
/assign

[2021-09-09 19:37] aledbf commented on #5563
/schedule

[2021-09-09 19:37] roboquat commented on #5563
@aledbf: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5563#issuecomment-916381298):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-09-09 19:41] aledbf commented on #5509
Closing. Already done.

[2021-09-09 19:41] #5509 closed

[2021-09-09 19:41] aledbf commented on #5561
/assign

[2021-09-09 19:42] aledbf commented on #5561
/schedule

[2021-09-09 19:42] roboquat commented on #5561
@aledbf: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5561#issuecomment-916384296):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-09-09 19:48] doppeldenken opened #5636 "SOPS is not working in custom image"
### Bug description

SOPS is not working in my custom image. I get the following error:

[code]

I had previously encrypted the file with no problems:

[code]

### Steps to reproduce

[code]

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

[code]

[code]

I did not install `gpg`. I did install SOPS, like so:

[code]

[Here](https://gitlab.com/treuze

[2021-09-09 21:28] #3953 closed

[2021-09-09 21:28] #4369 closed

[2021-09-09 21:28] #4009 closed

[2021-09-09 23:02] chuck-alt-delete commented on #5520
This works at least with a readme file using VS code’s `startupEditor` setting. I’ll close this. See https://community.gitpod.io/t/open-readme-in-preview-on-start-launch/4892 for more details

[2021-09-09 23:02] #5520 closed

[2021-09-10 00:55] rl-gitpod commented on #5280
Confirming that this is still the case when running 'brew update':

`"user ran  blacklisted command: /bin/bash [/home/linuxbrew/.linuxbrew/Homebrew/Library/Homebrew/shims/scm/gitcat-fileblobe811be8b63d911c2e1f479 9e46ec6ee4 e849f :Formula/xmrig.rb
`

[2021-09-10 02:04] smacintyre opened #5638 "Public Ports are returning 401"
### Bug description

All public ports are returning 401

### Steps to reproduce

Run a web server, say node, make the port public. Try to visit using another browser

You will get a 401

### Expected behavior

The other browser should be able to visit it

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-10 02:34] jgallucci32 commented on #2691
I was able to get `containerd-cri` enabled using an installation of Docker CE. To enable it you must do the following:
1. Enable CRI plugin by modifying `/etc/containerd/config.toml` as follows
[code]
2. Run `systemctl restart containerd`
3. Verify `cri` plugin is enabled by running `ctr plugins ls | grep cri`
3. Modify `kubelet` to use containerd instead of dockershim (this example is for RKE clu

[2021-09-10 02:37] jgallucci32 commented on #3909
I was able to get `containerd-cri` enabled using an installation of Docker CE. To enable it you must do the following:
1. Enable CRI plugin by modifying `/etc/containerd/config.toml` as follows
[code]
2. Run `systemctl restart containerd`
3. Verify `cri` plugin is enabled by running `ctr plugins ls | grep cri`
3. Modify `kubelet` to use containerd instead of dockershim (this example is for RKE clu

[2021-09-10 02:41] jgallucci32 commented on #4587
I was able to get `containerd-cri` enabled using an installation of Docker CE. To enable it you must do the following:
1. Enable CRI plugin by modifying `/etc/containerd/config.toml` as follows
[code]
2. Run `systemctl restart containerd`
3. Verify `cri` plugin is enabled by running `ctr plugins ls | grep cri`
3. Modify `kubelet` to use containerd instead of dockershim (this example is for RKE clu

[2021-09-10 02:43] jgallucci32 commented on #5558
@csweichel This ticket can be closed. By enabling `cri-containerd` using the steps explained in #2691 Gitpod is now able to detect the workspace.

I am still having issues with cgroups in ring2 of the workspacekit, but I'll open a separate ticket for that since it is a different problem.

[2021-09-10 03:34] objec7 commented on #1426
This is not stale this is a constant problem. Stop closing without answering the questions or FIXING the issue. Gitpod still has this issue. Just hangs nothing loads. And when it does finally decide to work it's slow and clunky at the best of times. My advice get off of Gitpod and back in your local dev environment. This is not a viable solution for serious developers with production projects.

[2021-09-10 03:47] ghuntley opened #5639 "Gitpod extension for the GitHub CLI"
👋 @gitpod-io/product and @gitpod-io/engineering-ide over at https://github.com/gitpod-io/gh-gp you will find an extension for https://github.blog/2021-08-24-github-cli-2-0-includes-extensions/.

I'd like to open it up to the public but before doing so let's run it through a review phase:

# review

1. naming of the extension and CLI method of invoking "gh gp" (current) vs "gh gitpod"
1. when you a

[2021-09-10 06:08] akosyakov commented on #5602
The special file to discover current daemons also would be helpful to reuse daemons across different clients, i.e. VS Code or VS Code Insiders, or even JetBrains products.

[2021-09-10 06:14] akosyakov commented on #5638
I just tried and could not reproduce. Could it be that the app itself has some auth?

[2021-09-10 06:19] akosyakov commented on #5595
We decided that we don't go with it yet, but for now use https://github.com/eclipse/lsp4j/tree/master/org.eclipse.lsp4j.jsonrpc to expose sendHearbeat message for JetBrains integration.

[2021-09-10 06:55] #5574 closed

[2021-09-10 08:04] #4904 closed

[2021-09-10 08:29] atduarte opened #5641 "Add local IDEs (vscode and jetbrains) options to the user settings"
The user should be able to select what IDE they prefer and the options should be:
* vscode in the browser
* vscode in the desktop + vscode in the browser (fallback)
* pycharm + vscode in the browser (fallback)
* webstorm + vscode in the browser (fallback)
* intellij + vscode in the browser (fallback)
* ...

Additionally, the user should be able to select the version for each IDE. (e.g. desktop vsc

[2021-09-10 08:31] JanKoehnlein commented on #4689
I moved this to platform as it seems the action is on them

[2021-09-10 08:39] atduarte opened #5642 "Create and use jetbrains' workspace images"
As defined in https://github.com/gitpod-io/gitpod/issues/5641, users will be able to select Jetbrains IDEs as their preferred IDE. When that is the case, starting (a new) workspace should make Gitpod install and run the appropriate Jetbrains IDE backend and lead the user to a page similar to the following:

<img src="https://user-images.githubusercontent.com/666176/132825724-2c11bed5-8447-4e47-b21

[2021-09-10 08:47] atduarte opened #5643 "Implement workspace heartbeats for Jetbrains IDEs"
To avoid the workspace timing out while the user is using the Jetbrains local IDE, we must send heartbeats to Gitpod when there's user activity locally.

**Proposed solution**
Install a plugin in the Jetbrains IDE backend that listens to activities such as "FileOpened" and sends heartbeats to the Gitpod server.

[2021-09-10 08:54] corneliusludmann commented on #4173
This seems to be related: https://community.gitpod.io/t/unable-to-delete-workspace/4956

[2021-09-10 08:55] atduarte opened #5644 "Support Jetbrains' remote development server-to-client flow (remove code with me relay)"
Without using _code with me_ servers as a relay.

See https://youtrack.jetbrains.com/issue/IDEA-226455#focus=Comments-27-5125731.0-0

We will use HTTP links that trigger a Custom Connector in the local Gateway/IDE. Details pending. [[1](https://gitpod.slack.com/archives/C02BRJLGPGF/p1633951005117700?thread_ts=1633596972.116200&cid=C02BRJLGPGF)]

[2021-09-10 09:14] ujjal-zaman opened #5645 "Allocating resources …"
i have delete browser local storage, cache , update browser, although this problem is solved. i have buy premium package also. please solve this issue .
gitpod is not opening. it's showing this loading message allocating resources...

[2021-09-10 09:16] akosyakov commented on #5106
merging into https://github.com/gitpod-io/gitpod/issues/5641

[2021-09-10 09:16] #5106 closed

[2021-09-10 09:17] wulfthimm commented on #5645
We are currently investigating that incident. Please follow our updates on https://www.gitpodstatus.com/.

[2021-09-10 09:48] smacintyre commented on #5638
@akosyakov It seems to be working properly again. There is no authentication on the endpoints. It was failing this morning, but now all good.

[2021-09-10 10:00] wulfthimm commented on #5645
We have identified the problem and have taken actions to mitigate the problem.

[2021-09-10 11:17] corneliusludmann commented on #5645
@ujjal-zaman I'll gonna close this issue for now. Feel free to ping me if there is still an issue.

[2021-09-10 11:18] svenefftinge opened #5646 "[ws-manager-bridge] Reset 'pending' workspaces"
When something goes wrong during on the meta side during workspace starting a workspace instance would hang in pending for ever. We have clean up code, but it only works for 'running' instances.

[2021-09-10 11:30] ujjal-zaman commented on #5645
Hello.
The issue isn't solved yet.
Its still showing as before.
Right now it's also appear and disappear too .
Please properly resolve this issue.after confirmation you can mark as resolve.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Cornelius A. Ludmann ***@***.***>
Sent: Friday, September 10, 2021 5:17:45 PM
To: gitpod-io/gitpod ***@***.***>
Cc: Ujjal

[2021-09-10 11:48] corneliusludmann commented on #5645
@ujjal-zaman Have you tried to re-open a workspace again?

[2021-09-10 11:53] ujjal-zaman commented on #5645
Yes .i tried reopen workspace.its still as before.
I have tried login and logout also.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Cornelius A. Ludmann ***@***.***>
Sent: Friday, September 10, 2021 5:49:03 PM
To: gitpod-io/gitpod ***@***.***>
Cc: Ujjal Zaman ***@***.***>; Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Allocating resources … (#5645)

[2021-09-10 12:36] jgallucci32 opened #5647 "[self-hosted] Workspace will not start with error: cannot mount proc"
### Bug description

When starting a workspace it hangs at the "pulling container image..." screen and fails to start with the error message "cannot mount proc" reported by both the `ws-daemon` and the workspace pod.

**ws-daemon**
[code]
**workspace**
[code]

### Steps to reproduce

1. Deploy Gitpod on self-hosted k8s cluster
2. Launch new workspace

### Expected behavior

Workspace successfully

[2021-09-10 13:16] aledbf opened #5649 "[code] server writes on closed web socket"
### Bug description

~If there is any connection issue, the workspace tries to reconnect constantly.~ See https://github.com/gitpod-io/gitpod/issues/5649#issuecomment-916905123

[code]

### Steps to reproduce

-

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-10 13:16] aledbf commented on #5649
/assign @akosyakov

[2021-09-10 13:18] akosyakov commented on #5649
We already have back-off again both Gitpod and Code servers. How can I reproduce these errors?

[2021-09-10 13:28] akosyakov commented on #5649
Looking at logs, client closed the websocket, but VS Code still tried to push some messages through them and Node.js complains.

[2021-09-10 13:39] #5249 closed

[2021-09-10 14:04] aledbf opened #5653 "Improve WorkspaceStarter.startWorkspace logs"

[2021-09-10 14:05] #5653 closed

[2021-09-10 14:08] jgallucci32 commented on #5647
This might be caused by the same issue with runc 1.0.1 fixed in PR https://github.com/gitpod-io/gitpod/pull/5139.

[2021-09-10 14:39] jgallucci32 commented on #5647
Still getting the same error message with `0.10.0-nightly`. The iws.go module is still throwing the error "cannot mount proc". The PR mentioned above only fixes the notification from the workspacekit, but ws-daemon is still throwing an error in this case.

[2021-09-10 14:54] ujjal-zaman commented on #5645
Hrllo there
Will you please solve the issue?
I are very argent.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Ujjal Zaman ***@***.***>
Sent: Friday, September 10, 2021 5:53:05 PM
To: gitpod-io/gitpod ***@***.***>; gitpod-io/gitpod ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Allocating resources … (#5645)

Yes .i tried reopen works

[2021-09-10 15:10] corneliusludmann commented on #5645
Hi @ujjal-zaman! I'm very sorry that you have trouble with the workspaces. The problem with your workspaces is not the same as we saw with the incident. However, it could be that the workspaces are in a bad shape for some reason due to the incident. I'm here to help you to get your workspaces up again but I need your assistance.

1. Do you have unsaved changes in your workspace? If not, the easies

[2021-09-10 15:37] ujjal-zaman commented on #5645
Hello ludmann.
Thanks for your response.
I have followed your all instructions.
Delete all of workspace.and create new one.
That was showing this message for the long time
Opening IDE......

Waiting for your first response.
Thanks.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Cornelius A. Ludmann ***@***.***>
Sent: Friday, September 10, 2021 9:10:39 PM
To

[2021-09-10 15:40] corneliusludmann commented on #5645
What I can see is that you created new workspaces and that the workspaces are running. E.g. currently there is a workspace `brown-baever-......` that is running. However, when I understand you correctly, it shows `Opening IDE` for you and you can't get into the workspace. I'll have a look …

[2021-09-10 15:41] ujjal-zaman commented on #5645
Exactly.new workspace created.but it's not opening code editor.
Showing opening ide...

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Cornelius A. Ludmann ***@***.***>
Sent: Friday, September 10, 2021 9:40:20 PM
To: gitpod-io/gitpod ***@***.***>
Cc: Ujjal Zaman ***@***.***>; Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Allocating resources … (#5645)

[2021-09-10 16:07] aledbf opened #5655 "Unexpected error `Unknown workspace manager`"
### Bug description

After the deployment of a new version in `meta` clusters we see this error
`"Request sendHeartBeat failed with internal server error"` and the details point to an unknown workspace manager located in a different cluster.

After ten minutes there are no more messages about this error.

Internal link https://cloudlogging.app.goo.gl/Pb3377zCWGjX516D6

### Steps to reproduce

-

#

[2021-09-10 16:14] ujjal-zaman commented on #5645
Hello is that resolve ?

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Ujjal Zaman ***@***.***>
Sent: Friday, September 10, 2021 9:41:41 PM
To: gitpod-io/gitpod ***@***.***>; gitpod-io/gitpod ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Allocating resources … (#5645)

Exactly.new workspace created.but it's not opening code editor.
S

[2021-09-10 16:26] corneliusludmann commented on #5645
Unfortunately, I have no updates yet. Logs look good so far, your workspace starts fine. Could you do me a favor and try again starting a workspace while you have the JavaScript console open (e.g. in Chrome with the Developer Tools that you get with `F12`) and tell me if you see error messages there?

![Screenshot_2021-09-10_18-25-34](https://user-images.githubusercontent.com/24960040/132886199-0d

[2021-09-10 16:30] ujjal-zaman commented on #5645
Wait a minute.lamme try it

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Cornelius A. Ludmann ***@***.***>
Sent: Friday, September 10, 2021 10:26:32 PM
To: gitpod-io/gitpod ***@***.***>
Cc: Ujjal Zaman ***@***.***>; Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Allocating resources … (#5645)

Unfortunately, I have no updates yet. Logs look good so f

[2021-09-10 16:37] ujjal-zaman commented on #5645
Console is clear.
Didn't show anything like that .
It's taking time as starting - opening IDE

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Ujjal Zaman ***@***.***>
Sent: Friday, September 10, 2021 10:30:21 PM
To: gitpod-io/gitpod ***@***.***>; gitpod-io/gitpod ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Allocating resources … (#5

[2021-09-10 17:01] ujjal-zaman commented on #5645
Hello there
Finally opened code editor and working while it's taking lots of time
However, it's ruin our almost a day.
In future if we stuck any kinds of this error we will contact you .

Thank you so much your cooperation.
Nice to meet you man.
Have a good day.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Ujjal Zaman ***@***.***>
Sent: Friday, September

[2021-09-10 17:07] corneliusludmann commented on #5645
Good to hear that it finally works for you again. And sorry again for the inconvenience.

[2021-09-10 17:07] #5645 closed

[2021-09-10 17:09] ThomasOrlita opened #5657 "Prevent navigation when using backwards/forwards mouse buttons"
### Bug description

In VS Code you can navigate through cursor history using `alt+left` and `alt+right`. The same behaviour is possible with Button 4 and Button 5 on mouses that support it.
In GitPod, the editor navigates correctly after the mouse button presses, but then Chrome immediately navigates the page away.

### Steps to reproduce

Press mouse button 4 or 5 to navigate through code

### E

[2021-09-10 17:58] jgallucci32 commented on #5647
The offending line of code is here https://github.com/gitpod-io/gitpod/blob/f496a745a08e9b8a2be23d8c0b5a326af09b69bc/components/ws-daemon/nsinsider/main.go#L286

Per the Linux manuals, the syscall `open_tree()` required Linux kernel version 5.2 or greater. This means CentOS and older Ubuntu distros will be unsupported for Gitpod.
https://man7.org/linux/man-pages/man2/syscalls.2.html

[2021-09-10 18:21] aledbf commented on #5647
Yes, this is documented https://www.gitpod.io/docs/self-hosted/latest/requirements#minimum-kubernetes-requirements
Also, keep in mind components as `agent-smith` uses eBPF (one of the reasons for the kernel version)

[2021-09-10 18:28] jgallucci32 commented on #5409
Given the current requirement for Gitpod is Linux Kernel >= 5.4 it will likely mean OpenShift will not work until RHEL9 is released.

[2021-09-10 18:45] adam-tylr opened #5659 "Periodically Save Workspace State and alert user to failure"
Right now workspace state is only saved when the workspace times out. If something happens to the workspace while it's running or if the save fails and I have not pushed my changes recently, they are lost.

Ideally the workspace would save the state periodically to some durable storage and alert the user if that fails so they know it's not safe to continue working.

[2021-09-10 18:50] jgallucci32 commented on #5410
@ghuntley @kevinraymond I have made significant progress getting Gitpod to run RKE and got past the Docker CE issue. See https://github.com/gitpod-io/gitpod/issues/3909#issuecomment-916585668 for details.

I'm stuck as we've only ever deployed RKE with RHEL. There is a hard requirement for Linux Kernel >= 5.4 due to recent syscalls being added, so I'm exploring getting RKE on Ubuntu to see if I ca

[2021-09-10 19:00] kevinraymond commented on #5410
@jgallucci32 @ghuntley Good timing - I was searching for more about the tag I mentioned above (23f6ab84f910d55110992124adb21f7fe3e6494aa225e76497c5669327fee9d2), which is the only real annoying blocker at this point while deploying.

I've got Gitpod 0.10.0 running on RKE2 (v1.21.4+rke2r2) with Ubuntu 20.04 (latest AMI). I'm going to try making time over the weekend so I can share everything I've g

[2021-09-10 19:02] Moritz-Hoeppner opened #5660 "Docker bridge network is missing Gateway"
### Bug description

The Docker bridge network does not provide a gateway.
This makes it hard to have docker containers which communicate.
<img width="880" alt="Screen Shot 2021-09-10 at 3 00 25 PM" src="https://user-images.githubusercontent.com/43564759/132904052-92b8307c-bc0d-4c34-945a-280ebd842687.png">

### Steps to reproduce

Run: `docker network inspect bridge`

### Expected behavior

Docker

[2021-09-10 19:48] jgallucci32 commented on #5647
@aledbf Thanks for theinfo. What besides the `SYS_OPEN_TREE` system call is driving the newer kernel requirements?

[2021-09-10 21:01] aledbf commented on #5647
two things are user namespace support for FUSE > v4.18 and OverlayFS > v3.18

@csweichel ping for additional info

[2021-09-10 22:11] ghuntley commented on #5647
Added to https://github.com/gitpod-io/website/pull/955

[2021-09-10 22:28] #805 closed

[2021-09-10 22:28] #4381 closed

[2021-09-10 22:28] #4382 closed

[2021-09-10 23:06] jkaye2012 opened #5661 "SSH via local companion not working on Ubuntu"
### Bug description

First time attempting to use the local companion, something seems to be off with SSH auth.

Prior to running anything, I've had default keys set up (and working) for quite some time. The companion runs normally, connecting to the workspace and populating keys and config files:

[code]

I tried starting a new pod, so you see the second set of keys there.

Then, the unfortunate

[2021-09-10 23:19] aledbf commented on #5647
@ghuntley not sure that is necessary. Requiring a kernel >  v5.4 is enough.

[2021-09-11 00:26] aledbf commented on #4938
@csweichel can we prioritize this change? A side effect of not having quotas is that when we create backups, is the error `maximum size exceeded` and the memory spike after that task.

[2021-09-11 05:40] kevinraymond commented on #5410
I created [this gist](https://gist.github.com/kevinraymond/bd8c6513555e41d84d108aaae0acaee3) with a bunch of stuff that, hopefully, will help some people along the way. Happy to provide more details as necessary.

[2021-09-11 10:48] gengjiawen opened #5663 "[Feature request] open-preview support suffix"
I am doing lots of graphql-server on gitpods

My current config is
[code]

But it's quite inconvenient, because you usually open `baseurl\graphql` to test schema.
I am wondering we can add a new field for such

Thx. Great experience with backend development with gitpods.

[2021-09-11 11:54] akosyakov commented on #3733
We will implement Gitpod auth as a part of the Gitpod extension for VS Code Desktop, and distribute this extension as built-in for VSCode Web Server in order to resolve https://github.com/gitpod-io/vscode/issues/29 as well.

[2021-09-11 15:21] robartsd commented on #666
I'm having difficulty with this as well. Initially I had difficulty generating keys in the container without sudo. I learned that the gpg needed write access to the terminal (owned by root:nogroup with file mode 640) for the passphrase prompt. I can change the file mode with `sudo chmod 666 $(tty)` which allowed key generation to work. I've also seen errors when the terminal window was too small f

[2021-09-12 00:50] timon-schelling opened #5666 "Database not persistent in between runs (gitpod self-hosted inside docker)"
Dear all,

first, thanks for creating this awesome tool.

### Bug description

The default mysql database seems to be none persistent in between runs (gitpod self-hosted inside docker).

This is indicated by the following error on the gitpod main page:

[code]

Gitpod works perfectly fine after first startup with a `docker-compose.yml` that looks something like this:

[code]
(and certs in place)

[2021-09-12 03:43] #4392 closed

[2021-09-12 03:53] shaal commented on #4054
Requesting `meta: never-stale` to be added to this issue.

[2021-09-12 09:45] tnir commented on #4780
3 weeks passed, any updates? @akosyakov

[2021-09-12 10:56] #4394 closed

[2021-09-12 14:34] akosyakov commented on #4780
We think that major issues were addressed and targeting to release preview version on Tuesday.

[2021-09-12 14:35] axonasif commented on #4780
I'm excited to test it out!

[2021-09-12 14:49] tnir commented on #4780
Great!

[2021-09-12 17:00] samcday commented on #5102
I ran into this as well, managed to figure it out.

The `0.10.0` release needs explicit registry auth configuration. That information is buried in the [0.10.0 upgrade notes](https://www.gitpod.io/docs/self-hosted/latest/updating#upgrading-gitpod-from-v0.9.0-to-v0.10.0). I suspect perhaps the others who ran into this issue did so the same way I did, by following [these installation steps](https://w

[2021-09-12 19:57] poltj18 opened #5667 "Installation of gregoire.dance extension fails"
### Bug description

When attempting to install the gregoire.dance VS code extension, an error is encountered.

### Steps to reproduce

Attempt to install the gregoire.dance VS code extension via the Extensions page in the GitPod console.

The following error message is produced:
[code]

### Expected behavior

The extension is installed successfully.

### Example repository

_No response_

### Any

[2021-09-12 23:18] UnrealApex commented on #5212
While that will keep Firebase installed, won't I need to login everytime?

[2021-09-13 05:21] #5564 closed

[2021-09-13 06:22] ajhalili2006 commented on #5661
Probably try to do `ssh-add /tmp/gitpod_workspace-id-here/rsa` first, as the GNOME keyring (or your desktop environment's keyring if you're not using the stock DE) may not know the private key yet.

[2021-09-13 06:35] akosyakov commented on #5649
Removing if from the groundwork, and add later when we have more capacity. It maybe has the same cause like https://github.com/gitpod-io/gitpod/issues/5536

[2021-09-13 06:35] akosyakov commented on #3733
/schedule

[2021-09-13 06:35] roboquat commented on #3733
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/3733#issuecomment-917884570):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-13 06:48] akosyakov commented on #5667
This extension does not look like web extension, strange that VS Code tried to download it as one.

[2021-09-13 06:53] akosyakov commented on #5657
I think you need to raise this issue in the upstream: https://github.com/microsoft/vscode

[2021-09-13 07:00] svenefftinge opened #5669 "Investigate clustered call patterns of the ControlPort call"
@aledbf found concerning patterns in jaeger, where it seems like at times requests would take a long time (20secs).
since this happens when there are DB calls involved, It looks a little DB calls sometimes take that long.

We should investigate why that is. At the same time it might make sense to investigate if we can skip a few unnecessary calls.

[2021-09-13 07:21] svenefftinge opened #5670 "Unreliable GRPC Connection"
[Last Friday's incident](https://www.gitpodstatus.com/incidents/m0153qbtsz6w) was caused by a GRPC connection between one instance of server (US cluster) and ws-manager. Requests to ws-manager to startWorkspace would never be answered.
The requests also didn't time out.

[2021-09-13 08:01] ChristinFrohne opened #5672 "Create email unsubscribe link for onboarding emails"
The unsubscribe link is necessary for users to unsubscribe from emails with a single click. This is required according to GDPR. We already have email unsubscribe links for DevX and Changelog. And we'd need another link for the onboarding email. When clicking on the unsubscribe link the notification preferences need to be updated and the updates need to be forwarded to customer.io.

The format woul

[2021-09-13 08:10] csweichel commented on #5670
/schedule

[2021-09-13 08:10] roboquat commented on #5670
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5670#issuecomment-917947076):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-13 08:22] JanKoehnlein commented on #5598
/schedule

[2021-09-13 08:22] roboquat commented on #5598
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5598#issuecomment-917956679):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-13 08:22] akosyakov commented on #5667
We will have a look after upgrade.

[2021-09-13 08:27] JanKoehnlein commented on #5669
Example Jaeger trace https://www.notion.so/gitpod/Engineering-Sync-df0b15c73505414abee40e399ca01cb6#588f6328cc87496e991664ee5be9c3eb

[2021-09-13 08:29] csweichel commented on #5669
/schedule

[2021-09-13 08:29] roboquat commented on #5669
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5669#issuecomment-917961881):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-13 08:36] JanKoehnlein commented on #5672
/schedule

[2021-09-13 08:36] roboquat commented on #5672
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5672#issuecomment-917966892):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-13 08:38] akosyakov commented on #5661
Could you start the app with `--version` and share it here?

[2021-09-13 09:56] aledbf commented on #5670
That's the goal in https://github.com/gitpod-io/gitpod/pull/5664. Before any change (if needed) we need to gather more data from the GRPC state.

[2021-09-13 10:01] gtsiolis opened #5673 "Accessible prebuilds leak into other projects"
### Bug description

Some prebuilds from other project you may have access to show up in the prebuilds list within a project if you leave the page open for a while. ⏱️

Reloading the page removes the leaked prebuild events. 💡

### Steps to reproduce

Potentially doing the following would reproduce the issue:

1. Add two projects to enable prebuilds for both.
2. Go to the prebuilds page for one of

[2021-09-13 10:13] corneliusludmann opened #5675 "Handle / fix failing `git stash` in `prebuild.go`"
### Bug description

There are cases where content initializer for prebuilds fails during `git stash` here:

https://github.com/gitpod-io/gitpod/blob/6e5b4c719b396e0affd4e9ca7f09700398c6b6be/components/content-service/pkg/initializer/prebuild.go#L96

For example this error (see how to reproduce below):
[code]

This seems to be related: https://github.com/gitpod-io/gitpod/issues/4203#issuecomment-8

[2021-09-13 10:43] svenefftinge commented on #5534
We discussed that we would want to go with the solution outline in #5596. Give our priorities atm this will have to wait a few weeks. Let's aim at scheduling this by mid October.

[2021-09-13 10:45] #5563 closed

[2021-09-13 10:46] #5561 closed

[2021-09-13 10:52] hgye opened #5676 "[self-hosted][v.0.10.0]workspace failed to startup, error"cannot find in-container PID 12 on the node""
### Bug description

workspace failed to startup

### Steps to reproduce

using helm to install gitpod self-hosted version v0.10.0,
cluster node info
[code]
trying to start up a new github integration gitpod workspace instance. But failed.

Logs from kubernetes events:
[code]

pods wait status
[code]

ws-daeomon logs
[code]

pods yaml
[code]

Any idea of what happed?

Thanks

### Expected behavior

[2021-09-13 11:39] #5673 closed

[2021-09-13 12:59] jkaye2012 commented on #5661
Thanks for the quick response!

ssh-add'ing the identity did not work unfortunately. From what I can tell, this doesn't look like it would rely on the keyring (as the identity file is being provided explicitly via the config), but I did give it a shot:

[code]

Here's the version output as requested:

[code]

I installed this on Friday using this command:

[code]

[2021-09-13 13:05] gtsiolis commented on #3294
Re-opening this as it's still an issue and adding to engineering groundwork in case there is an easy fix for this. 🏓

[2021-09-13 14:45] #5565 closed

[2021-09-13 14:47] akosyakov opened #5680 "independent local-app deployment"
We need to find a means to deploy local app independently of the dashboard. Possible paths forward are:

- serve local-app from a GCP bucket,
- serve local-app from a separate service within a meta cluster (e.g. Caddy)

[2021-09-13 14:50] akosyakov opened #5681 "ide deployment in blobserve and registry facade"
- [ ] blobserve needs to hot-reload its entire configuration
- [ ] registry-facade already does that

@csweichel I assume that blobserve's k8s resources can be completely moved to the IDE application on Argo CD. It seems to be mainly all about ide images and supervisor. What about registry facade?

[2021-09-13 14:51] akosyakov commented on #5565
I extracted remaining tasks in https://github.com/gitpod-io/gitpod/issues/5681 and https://github.com/gitpod-io/gitpod/issues/5680

[2021-09-13 15:24] JanKoehnlein commented on #5672
/assign

[2021-09-13 16:30] CarterQC opened #5683 "Allow customization of issue generated branch names"
Currently gitpod only allows for creating a workspace and branch from an issue with this naming scheme:
`<your-username>/<issue-title>-<issue-number>`

But since many teams use different branch naming schemes, it would be very nice to be able to customize this. Ideally something we could just set in the .gitpod.yml with optional pre-defined variables (issue-title, username, issue-number, etc.) ava

[2021-09-13 16:37] csweichel commented on #5597
I've filed an issue with buildkit: https://github.com/moby/buildkit/issues/2362

[2021-09-13 16:47] #5672 closed

[2021-09-13 18:34] aledbf commented on #5670
Check the impact to use https://grpc.io/blog/a-short-introduction-to-channelz/ as an additional tool for inspecting GRPC

[2021-09-13 19:05] PEZ opened #5684 "Cache images based on dockerfile contents"
When creating a new repository based on a template and then launching Gitpod from the new repository, the user has to wait for the docker image to be built. This can take quite a while.

What if Gitpod could fingerprint the dockerfile contents used and cache the image based on that? Then the image would just need to be pulled as long as the user does not change the dockerfile.

I am working on a t

[2021-09-14 00:06] #3097 closed

[2021-09-14 03:30] chuck-alt-delete opened #5686 "Add some simple user analytics"
I’d love a simple dashboard that shows the number of users who launch workspaces from my public repos. I understand super granular data or data from activity inside the workspace might violate user privacy. I’m not talking about that. I’m talking about just some simple statistics about how many people are launching my workspaces.

I understand if I want more detailed information, I can do things l

[2021-09-14 05:55] akosyakov commented on #3294
It seems to browser quirks and VS Code team does not want to do anything about it: https://github.com/microsoft/vscode/issues/120908 I remove it from the groundwork, we are already full and this issue does not seem to be actionable.

[2021-09-14 06:25] kiselev-nikolay commented on #3727
@gtsiolis I didn't know there was the support page. Tried to find it but didn't find it before. Thanks, that will be enough, leave a link to the support page on dashboard. The badge idea is good, that would be great. Thank you very much

[2021-09-14 07:08] geropl commented on #5551
I will start working on this, starting out with the `server` part (and all referenced libraries)

[2021-09-14 08:09] csweichel commented on #5675
/schedule

[2021-09-14 08:09] roboquat commented on #5675
@csweichel: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5675#issuecomment-918916766):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my be

[2021-09-14 08:10] csweichel commented on #5675
/team workspace

[2021-09-14 08:10] csweichel commented on #5675
/schedule

[2021-09-14 08:10] roboquat commented on #5675
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5675#issuecomment-918917137):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-14 08:14] geropl opened #5689 "Workspaces falsely reports "last backup failed: workspace does not exist. Please contact support if you need the workspace data.""
### Bug description

On workspace timeout, the users sees `last backup failed: workspace does not exist. Please contact support if you need the workspace data.`.
But on checking, the backup is there, and also re-produced on startup.

Exmaples:
 - fuchsia-spider-384e445r (13.09., around 13:20 CEST)
 - black-sheep-xvsk5brx (14.09., around 09:05 CEST)

Internal slack discussion: https://gitpod.slack.

[2021-09-14 08:15] akosyakov commented on #5661
/schedule

[2021-09-14 08:15] roboquat commented on #5661
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5661#issuecomment-918921454):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-14 08:16] akosyakov commented on #5661
Could you share logs of the local app please? You can send them to anton@gitpod.io. The local app auto generates keys for each workspace and uploads it to the server. It could be that key does not make it to the workspace for some reason.

[2021-09-14 08:43] svenefftinge opened #5690 "[self-hosted] Allow unlimited users in free tier"
The free version of Gitpod self-hosted is currently limited to 10 users. This however limits adoption and purpose to contribute to our open-source code-base. Instead, we should allow all features for up to 10 users and simply disable the enterprise features (prebuilds, admin dashboard, workspace snapshots and sharing, flexible timeouts) when the 11th user joined. Best of both worlds.

[2021-09-14 09:01] empz commented on #2630
I'm having the same issue. After workspace is suspended, I go back to work on it and node/npm are broken.

Just typing `node` or `npm` in the shell throws that error.

More info here: https://community.gitpod.io/t/node-not-working-in-existing-workspace/4994/2

[2021-09-14 09:06] #5576 closed

[2021-09-14 10:46] Shigetorum635 opened #5692 "VNC GPU Not detected on repo."
### Bug description

When trying to launch the VNC, the container reports that there is no GPU in the PCI slot.

### Steps to reproduce

1. Clone https://github.com/Shigetorum635/Watson
2. Launch with gitpod
3. Experience bug

### Expected behavior

To launch the firefox VNC

### Example repository

https://github.com/Shigetorum635/Watson

### Anything else?

Great app

[2021-09-14 10:57] AlexTugarev commented on #5042
Looking at the [code](https://github.com/gitpod-io/gitpod/blob/08361795be7298d06caf306840b8ae5b4bc605fb/components/dashboard/src/start/StartPage.tsx#L99) this is not a websocket connection issue at all.

 That error is propagated from server to the frontend.

[2021-09-14 11:26] AlexTugarev commented on #5176
Looking into the old solution for now: https://github.com/gitpod-io/gitpod/blob/main/components/server/ee/src/prebuilds/prebuild-queue-maintainer.ts

I hope, @csweichel or @geropl find time to provide more details on this, please 🙏🏻

[2021-09-14 12:18] ArthurSens opened #5694 "Deploy monitoring-satellite alongside preview environments"
Aiming to decrease the friction between implementing new metrics and actually seeing them in action, we want to deploy monitoring satellite alongside our preview environments (by default or opt-in)

[2021-09-14 13:40] JanKoehnlein commented on #5598
A few questions on this, as I am not familiar how we use Segment.
1) In case of an unregistered user, should we use `userId: <email>` or the `anonymousId: <anonymousId>` in the `identify` event? For the `unsubscribe` route, we use the former, while the latter keeps the association of the signup with the current session.
2) Should we use the `traits: { email_untrusted: <email> }` as used on the web

[2021-09-14 13:54] akosyakov commented on #4199
According to data 2.5% of window sessions never see running state or take more than 1 mins for regular workspaces. After looking at the code I think there is a race in the supervisor frontend and cause missing ready event sometimes.

[2021-09-14 13:56] akosyakov commented on #5460
We can reproduce this issue with any application embedding xterm: https://github.com/xtermjs/xterm.js/issues/3459

@broopdias could you try https://github.com/gitpod-io/gitpod/issues/5017#issuecomment-889428853 as a work around?

[2021-09-14 14:20] akosyakov commented on #3733
I assigned myself for now, but @filiptronicek is working on it.

[2021-09-14 15:08] #5515 closed

[2021-09-14 15:43] csweichel commented on #5497
/assign

[2021-09-14 15:43] csweichel commented on #5597
/assign

[2021-09-14 17:38] chuck-alt-delete commented on #2459
I'm running a docker-compose to do some ansible testing over the docker connection. I have this as a volume mapping:

[code]

This isn't permitted in gitpod. I am thinking this might never be allowed in gitpod for security reasons. Is that right?

[2021-09-14 22:28] Kronifer opened #5699 ".gitpod.yml tasks not running"
### Bug description

Literally just the title. The workspace is created but the tasks in .gitpod.yml aren't run

### Steps to reproduce

Just create a new workspace.

### Expected behavior

_No response_

### Example repository

github.com/kronifer/sir-lancebot/tree/gitpod

### Anything else?

_No response_

[2021-09-15 06:29] akosyakov commented on #5031
I don't think it is fixed. We have a proxy right now but it always works against open-vsx.org

[2021-09-15 06:34] akosyakov commented on #5699
Indeed there is no task terminal while .gitpod.yml is valid.

[2021-09-15 06:43] akosyakov commented on #5699
On staging env I see following in logs:
[code]

[2021-09-15 06:46] akosyakov commented on #5699
@Kronifer try: `PIP_USER: "false"` as a workaround

[2021-09-15 06:58] svenefftinge commented on #5453
I don't think it makes sense to lift up the joining community into our primary conversion channel. As I said, there might be other places where we can highlight/suggest joining it, though.

[2021-09-15 07:03] svenefftinge commented on #5663
We are effectively calling `gp open` here. Should we allow to specify full shell commands, that are executed on port open?

[2021-09-15 07:05] corneliusludmann commented on #5031
You can set the host of the OpenVSX instance in the `values.yaml` file:

https://github.com/gitpod-io/gitpod/blob/cfb528c5daf5115b666ec7404bfe25d9fc9598d6/chart/values.yaml#L137

Please give it a try!

[2021-09-15 07:09] svenefftinge commented on #5639
Sounds all fine to me.

[2021-09-15 07:11] svenefftinge commented on #5602
Sounds good to me. Would the ProxyCommand then call the local companion app CLI? I.e. is that something that needs to be built first?

[2021-09-15 07:16] svenefftinge commented on #5303
I think we should not just skip such ports but instead tell users that it cannot be exposed.
@akosyakov is this doable and how hard would it be to detect such ports and show users that these port?

[2021-09-15 07:19] svenefftinge commented on #5684
@csweichel can you share the security concerns you outlined when we discussed this a few weeks ago?

[2021-09-15 07:34] jakobhero commented on #5598
We should use both. Customer.io dictates that our users must be identified via either user ID or email. Thus, we should pass the email as userId whenever the user is not signed up yet / logged in (see [here](https://customer.io/docs/segment-destination/#converting-leads-to-customers)). We should also pass the anonymousId for the reasons you mentioned (it's not an either / or decision, userId and a

[2021-09-15 07:42] akosyakov commented on #5699
Now the local app is failing for me because I have a workspace with bogus envars when it tries to call `getWorkspaces`:
[code]

[2021-09-15 07:47] csweichel commented on #5689
Is this really bound to workspace timeout? I'd expect to this issue appear on any kind of regular workspace stop, although it may be racy, hence not happen always.

That said, as [@geropl pointed out](https://github.com/gitpod-io/gitpod/pull/5688/files#r708026135) the issue may have been introduced in a recent attempt to fix the unmount issue in ws-daemon.

The underlying issue that the unmount of

[2021-09-15 08:01] csweichel commented on #5689
/schedule

[2021-09-15 08:01] roboquat commented on #5689
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5689#issuecomment-919791443):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-15 08:05] geropl commented on #5689
Ah, makes sense then. :+1:

[2021-09-15 08:10] gengjiawen commented on #5663
How do I know the base url in this case ?

[2021-09-15 08:19] akosyakov commented on #5601
Unfortunately we don't have capacity right now, please try in a week.

[2021-09-15 08:20] roboquat commented on #5699
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5699#issuecomment-919804865):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-15 08:21] akosyakov commented on #5602
We will first do https://github.com/gitpod-io/gitpod/issues/4781 and later come back to this issue.

[2021-09-15 08:21] akosyakov commented on #4781
/schedule

[2021-09-15 08:21] roboquat commented on #4781
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4781#issuecomment-919805986):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-15 09:03] geropl opened #5701 "[ws-manager-bridge] Logs DEADLOCK"
Needs further investigation.

Source: https://console.cloud.google.com/errors/CIPaw6rG2q23mgE?service=ws-manager-bridge&time=P30D&project=gitpod-191109&folder&organizationId&supportedpurview=project

[2021-09-15 09:07] geropl opened #5702 "[payment-endpoint] Revise handling of GitHub plans"
`payment-endpoint` currently logs excessive warnings/errors during regular syncing. We should have a closer look and check if the logic is still correct, or we can remove/simplify, or simply disable logging.

Reference: https://console.cloud.google.com/errors?service=payment-endpoint&time=P30D&order=COUNT_DESC&resolution=OPEN&resolution=ACKNOWLEDGED&project=gitpod-191109&folder&organizationId&supp

[2021-09-15 09:09] bravoalpha79 opened #5703 "Workspace stuck on "Building image" upon opening"
### Bug description

Trying to open an existing workspace, the workspace hangs in "Building image" state indefinitely.

Sample affected workspaces:
- https://gitpod.io/start/#crimson-tahr-4aem9tho
- https://gitpod.io/start/#aquamarine-urial-ux3oh178

Note: the issue appears to be random (or selective), as some workspaces opened without issues, e.g.: https://chocolate-salamander-7mfmle79.ws-eu16.gi

[2021-09-15 09:15] AmyOShea commented on #5703
https://gitpod.io/start/#tan-reptile-pak1u3u8

Same issue

[2021-09-15 09:15] daisygunn commented on #5703
https://teal-cardinal-3kcfmnn2.ws-eu16.gitpod.io/ also having the same issue

[2021-09-15 09:19] Joan-Amudu commented on #5703
https://gitpod.io/start/#copper-fox-4ccmlt50

same issue

[2021-09-15 09:19] Franciskadtt commented on #5703
My workspace is also stuck on "building image". https://gitpod.io/start/#tomato-sloth-tmnqobb5

[2021-09-15 09:20] MaggieDaisy commented on #5703
https://gitpod.io/start/#tan-gayal-yxzxw2ez      hi there, having the same issue

[2021-09-15 09:25] Eva-Kuk commented on #5703
Hi, I'm having the same issue https://gitpod.io/start/#violet-platypus-6zaw7721

[2021-09-15 09:32] vinnieOrdobas commented on #5703
HI, I'm having the same issue https://gitpod.io/start/#green-chicken-oed2sbr1

[2021-09-15 09:45] ghuntley commented on #5703
Hello 👋 everyone in this thread; we have heard you and can confirm that we are experiencing service interruptions currently related to deployment. An incident has been called and our best folks are investigating. Unfortunately, it appears the problem is related to the meta-cluster which spans across our deployments which makes rollback/mitigation trickier. Please accept our apologies and follow al

[2021-09-15 09:57] gengjiawen opened #5705 "Make lldb debug work to debug with cpp and rust"
Repo: https://github.com/gengjiawen/node-debug
Gitpod: https://gitpod.io/#https://github.com/gengjiawen/node-debug

debug config:

[code]

Current status: not working
[code]

Working container config: `    "runArgs": [ "--cap-add=SYS_PTRACE", "--security-opt", "seccomp=unconfined" ],` https://github.com/gengjiawen/node-debug/blob/f1aaeea4aed61a037f28397aa11d907525ce35fc/.devcontainer/devcontainer.

[2021-09-15 10:33] neuronick commented on #5014
My current solution, which fixes the font problem for me on MacOS Mojave + Chrome:
```"terminal.integrated.gpuAcceleration": "canvas"```

This works event better than lineHeight / letterSpacing proposed earlier.

Without this setting:
![image](https://user-images.githubusercontent.com/838476/133417809-6e15a1d5-1ab1-4bbb-98b6-440b43881d76.png)

With this setting:
![image](https://user-images.github

[2021-09-15 10:40] meysholdt opened #5706 "Logs: Log entries related content initialiser should be findable when searching for a workspace"
When searching for the log entries that explain why content init failed, they can be not found when searching for workspace name or ID.

[2021-09-15 10:45] meysholdt commented on #5706
[example log entry](https://console.cloud.google.com/logs/query;query=insertId%3D%22n81rhh2gq5tjlp8q%22;timeRange=PT1H;pinnedLogId=2021-09-15T09:51:17Z%2Finqgrrh1e7sz8dr2;cursorTimestamp=2021-09-15T09:51:16Z?project=gitpod-191109)

[2021-09-15 10:50] ghuntley commented on #5703
We have seen multiple issues and believe to have mitigated the one reported in this thread. I would love to hear back from @vinnieOrdobas, @Eva-Kuk, @MaggieDaisy, @Franciskadtt, @Joan-Amudu @daisygunn, @AmyOShea and @bravoalpha79 if you are still experiencing issues.

I’m hanging out over in www.gitpod.in/chat in the #build-in-the-open room if you wish to chat. I would love to see you there.

[2021-09-15 10:54] csweichel commented on #5706
/schedule

[2021-09-15 10:54] roboquat commented on #5706
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5706#issuecomment-919913891):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-15 10:56] csweichel opened #5707 "[image-builder-api] Enable client-side gRPC metrics for interacting with image-builder"
Implemented in TypeScript and Golang.

[2021-09-15 10:57] csweichel opened #5708 "[ws-manager-api] Implement client-side gRPC metrics"
Implemented in TypeScript and Go

[2021-09-15 10:59] JanKoehnlein commented on #5707
/schedule

[2021-09-15 10:59] roboquat commented on #5707
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5707#issuecomment-919917399):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-15 11:06] ghuntley commented on #5703
The incident has progressed to a [status of monitoring](https://www.gitpodstatus.com/incidents/63jf08vzf3nz). If you are still experiencing service issues please open a new GitHub issue. Thank-you for your patience and apologies for the outage. We have identified areas in our telemetry/tracing that need improvement and you’ll see pull-requests landing on trunk shortly.

[2021-09-15 11:06] #5703 closed

[2021-09-15 11:37] csweichel commented on #5708
/schedule

[2021-09-15 11:37] roboquat commented on #5708
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5708#issuecomment-919941139):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-15 11:37] csweichel commented on #5708
/assign

[2021-09-15 12:43] poltj18 commented on #5667
Thanks! I appreciate it.

[2021-09-15 13:04] rfay commented on #5303
They should either be usable or be skipped. Making them usable would be a fine thing.

[2021-09-15 13:05] akosyakov commented on #4199
Looking closer at data, it does not seem that our events are complete, i.e. we are missing initial ready signal and there are different issues with status_rendered and vscode_session events. Going to fix them in: https://github.com/gitpod-io/gitpod/pull/5710 After that we will need to wait for new meta deployment and some time to collect new data. So I'm putting this issue unhold.

[2021-09-15 13:10] jkaye2012 commented on #5661
Sure, sending these over now.

I mentioned this in the original issue, but I did verify that the keys appeared to be present in the workspace (and that they matched the keys that were generated locally).

[2021-09-15 13:23] ajimix commented on #5638
I'm running into the same issue.

This is the `.gitpod.yml` config:

[code]

And the url works fine if I'm logged in, but opening in incognito returns 401

[2021-09-15 13:35] akosyakov commented on #5667
@poltj18 We rolled new VS Code for testing this week as latest. Could you try? You can switch here: https://gitpod.io/preferences

[2021-09-15 13:55] akosyakov commented on #5638
@ajimix Could you share the workspace id and time when it happened?

[2021-09-15 14:00] akosyakov commented on #5661
I see logs like `/home/gitpod must be owned by user or root, and not writable by others` in your workspace. It seems to come from dropbear (ssh server). Could you check what are permissions for this folder? Do you try to manipulate permissions somehow for home direction in your repo?

[2021-09-15 14:10] jkaye2012 commented on #5661
Nope, have not modified anything in the workspace or repo.

[code]

Looks like that is 777 somehow though. When I start a new pod, those are the same permissions that are set somehow. Any idea what could cause that?

[2021-09-15 14:17] kevinraymond commented on #5690
This sounds like a sensible path to consider - would the enterprise features instantly be disabled? I'm thinking about the scenario where a team of 10 adds an 11th member and all enterprise features suddenly turn off, which could upset workflow if prebuilds and sharing are being used heavily. As long as there is a way to transition smoothly (e.g., obvious warnings when adding the 11th user or a sh

[2021-09-15 14:18] akosyakov commented on #5661
Could you try on another repo? like https://github.com/akosyakov/parcel-demo? by default user's group should not have write access. I was assuming something is going in your Dockerfile or something. But I will check with the rest of team.

[2021-09-15 14:18] akosyakov commented on #5661
I can reproduce it by doing `chmod g+w /home/gitpod`.

[2021-09-15 14:39] jkaye2012 commented on #5661
Can confirm that 755 on /home/gitpod seems to be working.

[2021-09-15 14:40] jkaye2012 commented on #5661
I'll check with my team to see if there's something odd that we're doing in the Dockerfile. I'm new to this project, so it's definitely possible. Will report back.

[2021-09-15 14:42] akosyakov commented on #5661
@csweichel Do we guarantee: `/home/gitpod must be owned by user or root, and not writable by others` It seems that dropbear breaks otherwise.

[2021-09-15 15:59] gtsiolis opened #5712 "Feedback Issue: VS Code Desktop Support 💬"
### Objective

The aim of this issue is to gather feedback on the **VS Code Desktop Support** feature to be released in September 2021. Any feedback is welcome! See [relevant docs](https://www.gitpod.io/docs/develop/vscode-desktop-support). 🔖

### Background

The upcoming **VS Code Desktop Support** feature aims to enable software developers to use familiar local tools like [VS Code](https://code.

[2021-09-15 21:06] #4415 closed

[2021-09-16 01:58] #1871 closed

[2021-09-16 03:20] shaal commented on #4534
Requesting adding a label `meta: never-stale`

[2021-09-16 03:25] shaal commented on #4535
Requesting adding a label `meta: never-stale`

@akosyakov What I suggest, is that when running Gitpod Local Companion app, the preview button in Ports Panel should either:
* Not appear at all, because previewing localhost:8080 in vscode cannot be opened
or
* Because it's preview inside VSCode, open the port like `gp url 8080` instead of localhost:8080.

[2021-09-16 05:18] akosyakov commented on #5661
We are going to patch dropbear for our case to remove this check.

[2021-09-16 06:02] akosyakov commented on #4535
It is a bug which should be fixed.

[2021-09-16 06:03] akosyakov commented on #4534
Not sure what should be done here. Added to the product groundwork to figure it out.

[2021-09-16 06:04] akosyakov commented on #3282
by now you can use the local app to tunnel localhost and VS Code Web knows about it, you can also use VS Code Desktop.

[2021-09-16 06:04] #3282 closed

[2021-09-16 06:07] cloudsbird commented on #5712
Feedback:
1.  Isn't it better to open workspace in the dashboard so we don't need to wait till the gitpod workspaces is loaded in browser. So, we  just need to wait in VSCode Desktop
2. Inside of VSCode, will you allow to manage the workspace inside VSCode Desktop? for example I have workspaces pinned in the Gitpod Dashboard and I only open my VSCode and bam I open pinned workspaces!

anyway Nice

[2021-09-16 06:08] akosyakov commented on #5031
@corneliusludmann Do you mean in self hosted? I am not sure whether this issue about self hosting or allow on gitpod.io for some repos. @ntziolis could you clarify?

[2021-09-16 06:35] akosyakov commented on #5712
Please follow https://github.com/gitpod-io/gitpod/issues/5641. We are targeting mid October to bring it.

Could you file an issue? It makes sense but we decided against it because of time constraints for now.

Actually it is the same. It is just in the web version we disable the local echo by default, because it break docker run. You can still enable it: https://code.visualstudio.com/updates/v1_51

[2021-09-16 06:36] jankeromnes commented on #1871
FYI, the problematic Gitpod layer has been entirely removed in https://github.com/gitpod-io/gitpod/pull/4923

[2021-09-16 06:44] akosyakov opened #5715 "[code] enable local echo"
We disabled local echo becuase it breaks output of docker exec. But we seen many complaints about bad perceived performance in terminals. So instead we enable it again and document in docs how to troubleshoot docker exec.

[2021-09-16 06:44] akosyakov commented on #5715
/schedule

[2021-09-16 06:47] cloudsbird opened #5716 "Manage the Workspaces from VSCode Desktop"
Based on issues #5712
Inside of VSCode, will you allow to manage the workspace inside VSCode Desktop? for example I have workspaces pinned in the Gitpod Dashboard and I only need to open my VSCode. I see the pinned workspaces, and click it, it will load the workspaces

[2021-09-16 06:51] ntziolis commented on #5031
We have enterprise customers that have a policy that only allows them to deploy extensions from sources they fully control. Meaning they will be running their own ovsx instance that largely just uses the public open vsx as upstream source but with an approval process attached.

This is not a requirement we can control and that we have seen in lots of enterprise customers in Germany.

[2021-09-16 07:12] akosyakov commented on #4968
It works with latest VS Code 1.60.0 again

[2021-09-16 07:12] #4968 closed

[2021-09-16 07:19] jankeromnes commented on #5596
FYI, that proposal is to _temporarily_ gather ping times to _all_ possible GCP regions, in order to decide "where should we create a brand new cluster next?"

The proposal was not to collect ping times in order to decide "which workspace cluster should be used right now?" -- doesn't GCP's load balancer already do that automatically? How does the US vs EU selection work right now? (I assume it's no

[2021-09-16 07:21] jankeromnes commented on #5534
FYI, one more data point from @tnir in https://community.gitpod.io/t/cannot-open-ide/3633/8?u=jan (from Japan, I believe) :

[2021-09-16 07:27] asthomasdk commented on #5690
I also think it would be good if there was an easy way of definig users in groups for a given Gitpod installation. is that what Teakms are for - or is that a different feature all together?

[2021-09-16 07:44] AlexTugarev opened #5717 "[code] new gitpod-protocol method leads to (non-critical) errors"
Recently introduced `onPrebuildUpdate` notification is not understood by the older version of `gitpod-protocol` currently used in code (or Gitpod extension.) Errors like this are logged on frontend whenever a prebuild update event is pushed from server to client.

[code]

cc. @akosyakov

[2021-09-16 07:53] akosyakov commented on #5717
/schedule

[2021-09-16 08:07] AlexTugarev opened #5718 "[dashboard/server] broken condition ensureWorkspaceAuth on start"
The following screenshot shows how often the `auth/workspace-cookies` resource is fetched on workspace starts.

The `ensureWorkspaceAuth` seems to have a [condition](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/start/StartWorkspace.tsx#L197) for fetching this, but it's broken because the cooke isn't accessible from JS (`httpOnly`)

⚠️  Each fetch of this resource causes `

[2021-09-16 08:22] csweichel commented on #5701
/team meta

[2021-09-16 08:29] akosyakov commented on #4535
/schedule

[2021-09-16 08:29] roboquat commented on #4535
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4535#issuecomment-920699302):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-16 08:57] bigint commented on #5596
I think the selection algorithm is broken, Im from India the nearby location is EU but whenever I fire a new workspace it gets created in the US region.

Also I tried with VPN from Vienna that time it created under EU region

🤔

[2021-09-16 10:07] ajimix commented on #5638
@akosyakov I tried again now and now it works. I did nothing other than just starting the workspace again (which was automatically stopped due to timeout). Strangely enough, is the same that @smacintyre experienced. First, it didn't work, some hours later it worked 🤨

[2021-09-16 10:10] akosyakov commented on #5638
@ajimix When it happens next time please have a look at the remote explorer view and state of ports there. Maybe it was not exposed at all yet, also remember the workspace id and your local time. If you share them I can check what was going in your workspace and the system at that time.

[2021-09-16 10:10] JanKoehnlein commented on #5612
/schedule

[2021-09-16 10:10] roboquat commented on #5612
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5612#issuecomment-920769235):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-16 10:21] gtsiolis commented on #3836
Still an issue. Adding never-stale label.

[2021-09-16 10:21] gtsiolis commented on #3930
Still an issue. Adding never-stale label.

[2021-09-16 14:05] jkaye2012 commented on #5661
I also patched our environment to set the permissions correctly.

Another thing I noticed this morning is that the new "Open in VS Code" command from gitpod edits the local VS Code remote ssh configuration to point to a specific ssh config file. Something I did for myself earlier this week is add the following to my `~/.ssh/config`:

[code]

This makes all active workspaces automatically discovera

[2021-09-16 14:19] JanKoehnlein commented on #5701
/schedule

[2021-09-16 14:19] roboquat commented on #5701
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5701#issuecomment-920945497):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-16 14:56] #3946 closed

[2021-09-16 15:36] akosyakov commented on #5715
In the supervisor we also can figure out when a user going to use docker first time and notify VS Code about that it checks user settings and suggest to disable local echo. @svenefftinge wdyt?

[2021-09-16 15:53] svenefftinge commented on #5715
I have no data or feel on how big this problem actually is. Does it always break terminal output when running docker?

[2021-09-16 17:52] scottbradybuckii commented on #5261
@akosyakov I am still getting the errors in the initial post of this issue and am unable to execute multiple programs that should be in my PATH env, but are not.

We are using a custom Docker image, but I made sure that it is using the latest `gitpod/workspace-full` image, published on September 12th - and it barely changes that image, it just adds a few programs using apt.

I've also downloaded a

[2021-09-17 01:49] jeanp413 commented on #4978
I can install `CodeTour` without any errors. It seems this got fixed with the update to 1.60.0 and the latest fixes to openvsx.
@ghuntley can you confirm this?

[2021-09-17 02:04] jeanp413 commented on #5182
I cannot reproduce either
Code version: 1.60.0
Chrome version: 93.0.4577.63

[2021-09-17 03:09] jgallucci32 commented on #5690
The best way to handle the mixed use is to offer a free license key for enterprise features by registering for a 10-user license. This allows you to ship a community build which defaults to unlimited users with enterprise features disabled and no license key requirements. This avoids any situation involving adding an 11th user which could cause disruption and confusion.

The registration method fo

[2021-09-17 06:22] akosyakov commented on #4978
Yeah, it makes sense there is not need for web flag anymore, so VS Code can figure it out. I am closing it. Please use latest VS Code 1.60 for now, next week it is going to become stable.

[2021-09-17 06:22] #4978 closed

[2021-09-17 06:23] akosyakov commented on #5715
Yes, I think it breaks any `docker run/exec`: https://github.com/microsoft/vscode/issues/110232

[2021-09-17 06:27] akosyakov commented on #5261
No, downloading the latest local companion should be enough. Could you share the reproducible repo?

[2021-09-17 06:32] akosyakov commented on #5661
Yes, we considered it, but unfortunately there is a bug in Remote SSH which corrupts user ssh config with includes: https://github.com/microsoft/vscode-remote-release/issues/5449. That's said we find mangling with remote ssh settings also not nice from user perspective. And look in alternative solutions which does not require code generation, like using ssh proxy command: https://github.com/gitpod

[2021-09-17 07:02] dejan9393 commented on #2956
We're having an issue with the ws-daemon on our RKE cluster - one of our worker nodes successfully schedules the pod and starts the container, but the other one is met with the error "1 node(s) didn't have free ports for the requested pod ports". I'm assuming this is due to `hostPort: 8080`. `lsof`, `netstat`, `telnet`, and any other method we've tried do not show anything running on port 8080 on

[2021-09-17 07:17] akosyakov opened #5732 "[code] show notification to open in VS Code Desktop"
@svenefftinge Should we show it once? Or each time and with additional action `Don't show again`? The second approach could be useful as well right now since you always end up in VS Code Web and can get into VS Code Desktop with one click.