[2021-10-04 07:27] akosyakov commented on #5934
We used to have it via the upstream VS Code, but then it was removed because of security considerations. I am not sure whether we would like to introduce something like that in our `code` cli. We need to understand security implications as well, i.e. any script which you run then can call any VS Code commands potentially doing some in GitHub for instance on your behalf.

And we for sure won't add

[2021-10-04 07:29] akosyakov commented on #5931
User settings are stored in browser cache for the given workspace, not on the disk. They are auto synched between workspaces.

[2021-10-04 07:29] AlexTugarev opened #6004 "High Database Load (Continuation)"
A follow up to #5906, see https://github.com/gitpod-io/gitpod/issues/5906#issuecomment-932077812

<img width="1156" alt="Screen Shot 2021-10-01 at 11 33 49" src="https://user-images.githubusercontent.com/914497/135599121-4dd17458-e6ed-443f-8b5c-e4716a98a2f0.png">
<img width="1478" alt="Screen Shot 2021-10-01 at 11 35 57" src="https://user-images.githubusercontent.com/914497/135599124-7f52e9ad-9202

[2021-10-04 07:29] AlexTugarev commented on #5906
Closing with follow up https://github.com/gitpod-io/gitpod/issues/6004

[2021-10-04 07:29] #5906 closed

[2021-10-04 07:46] akosyakov commented on #5892
You are not using any adblockers, firewalls or antivirus software? https://www.gitpod.io/docs/troubleshooting#incompatible-browser-extensions

[2021-10-04 07:54] davemecha commented on #5984
Yeah, I saw this too. As mentioned above, there is the [workaround](https://stackoverflow.com/questions/21181231/server-certificate-verification-failed-cafile-etc-ssl-certs-ca-certificates-c/21181447#21181447) to allow all certificates for the domain. Unfortunately this a security issue.

I wonder whether the GitLab server needs to be updated somehow or if the problem needs to be fixed by GitPod.

[2021-10-04 08:03] csweichel commented on #5992
/schedule

[2021-10-04 08:03] roboquat commented on #5992
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5992#issuecomment-933241822):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-04 08:16] pawlean commented on #5949
We closed this issue so I don't think this is related. Is this still ongoing for you?

[2021-10-04 08:20] pawlean commented on #5946
Update: @jankeromnes added 100 extra credits to this user, which seemed to be a temporary fix. Because they have this same issue again:

<img width="753" alt="2021-10-04 at 09 17 53 - Google Chrome" src="https://user-images.githubusercontent.com/17087373/135817268-69c9bc5a-66b1-4073-90e8-1a1e4289b85c.png">

[2021-10-04 09:22] princerachit commented on #5945
I looked around if I can find something relevant and stumbled upon [this issue](https://github.com/docker/cli/issues/297). I found [this comment](https://github.com/docker/cli/issues/297#issuecomment-335102886) relatable. The issue is closed and an issue exists [here](https://github.com/moby/moby/issues/35879).

Can you share the docker compose file and the docker files used by you in this project

[2021-10-04 09:56] laushinka opened #6008 "Workspace evicted: low on resource memory"
### Bug description

While running Telepresence into the Dashboard, RAM spiked and caused a couple of workspaces such as [these](https://gitpod.slack.com/archives/C01KGM9AW4W/p1633339864446100?thread_ts=1633339114.444300&cid=C01KGM9AW4W) to be evicted. After that the workspace is also removed from the Dashboard.

<img width="543" alt="Screenshot 2021-10-04 at 11 18 10" src="https://user-images.git

[2021-10-04 09:58] konne commented on #5931
@akosyakov thanks for the answer. But this does not solve my issue to handle settings that should be only applied to users of the repo in gitpod and not in the local vscode users.

I have two feature ideas to solve that issue:
1. introduce another level of settings file that is only applied to the gitpod vscode system. Like you do with the install in the yaml file
2. Can you then introduce a possi

[2021-10-04 10:01] konne commented on #5934
@akosyakov
Okay, I fully understand your concern about being agnostic to the editor.

I don't see the security issue, because I could develop my own extension for vscode that can do that and just add this as a preinstall task. I just like to avoid this overhead to do such simple things.

[2021-10-04 10:03] konne commented on #5950
The biggest USP that I see in tools like gitpod is to have a centralized managed developer experience.
So if you only add these features to the CLI client this is again not centralized managed.
Can you please add this argument into your local internal PM discussion?

thx

[2021-10-04 10:45] JanKoehnlein commented on #5598
I am closing this without merging the proposed change because in the meta team we have serious concerns that this would inflict a bunch of security problems in the application
1) We'd allow operations to unauthorized users that cause DB changes.
2) We'd identify users by their (unverified) email address.
3) We're missing GDPR consent, in particular because email addresses are not verfied.
We shoul

[2021-10-04 10:45] #5598 closed

[2021-10-04 10:53] konne commented on #5945
@princerachit
Thanks for linking the issue. I already read them before I was filling out my issue:
1. we have a closed project and I will share the docker-compose a little bit anonymized
2. for me this is a different issue because we have never seen that before on any different docker cluster and it just sometimes happens, but in most cases, it works just perfect.

We just run it with the followin

[2021-10-04 10:57] #5932 closed

[2021-10-04 10:59] konne commented on #6003
Hi,

this would also solve the auth0 problem here: https://community.gitpod.io/t/auth0-and-gitpod/2392 if you would support that also for your gitpod provided service.

If you search with auth0 in the issue you will find another two more with the same problem, which could be then solved.

bye

[2021-10-04 11:23] dominik4545 commented on #6003
good to hear, that I am not the only one with this issue - which leads me to the point, that this feature becomes more priority? ;)

[2021-10-04 13:14] aledbf opened #6009 "There are no alerts when a workspace cluster is not reachable from meta cluster"
If, for some reason, the `ws-manager` service cannot be reached by `ws-manager-bridge` we are not triggering any alert.
This could be a temporal problem or a more permanent one, like a change in the k8s Service.

[2021-10-04 13:26] jldec opened #6010 "'Beta' tag in UI for new teams and projects"
As a user discovering the new teams and projects capabilities, it would be good to know that the the UI for this is still evolving.

The notification does not need to jarringly obvious, just clear enough for someone who is paying attention.

Extra: offering an easy link to the best place to provide feedback would also be nice.

[2021-10-04 13:48] gtsiolis commented on #5118
Closing this, we went with option 3 and renamed the feature.

FWIW, we decided to go with _Team Plans_ instead of _Subscriptions_, see https://github.com/gitpod-io/gitpod/pull/6011. Cc @gitpod-io/engineering-meta

[2021-10-04 13:48] #5118 closed

[2021-10-04 13:48] jankeromnes commented on #5464
Closing as "working as intended" (i.e. please click on `Run Prebuild` at least once so that the generated config gets saved).

Otherwise, please re-open as a feature request to auto-save the first generated configuration (and possibly to generate it earlier when adding a Project, not just when loading the Configurator page).

[2021-10-04 13:48] #5464 closed

[2021-10-04 13:54] jankeromnes opened #6014 "[projects] Running new Prebuilds from the Project Configurator should always trigger new Prebuilds when the configuration has changed"
### Bug description

When adding a new Project via the `/new` flow, you end up on the Project Configurator page.

This page allows you to auto-generate, edit, and test a `.gitpod.yml` configuration for your project.

However, if there is already a Prebuild for the latest commit of your project, a new Prebuild will not be triggered with your configuration.

For example, if you test a configuration,

[2021-10-04 14:02] csweichel commented on #5876
/schedule

[2021-10-04 14:02] roboquat commented on #5876
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5876#issuecomment-933517165):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-04 14:20] #5066 closed

[2021-10-04 14:22] JanKoehnlein commented on #5926
/schedule

[2021-10-04 14:22] roboquat commented on #5926
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5926#issuecomment-933536975):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-04 14:24] #6004 closed

[2021-10-04 14:28] JanKoehnlein commented on #5975
Sounds like we can only do 1)

@gtsiolis can you provide us with a better error message?

/schedule

[2021-10-04 14:28] roboquat commented on #5975
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5975#issuecomment-933542907):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-04 14:46] JanKoehnlein commented on #5980
Given our current workload, I would not prioritize this ATM. Feel free to bring it up again

[2021-10-04 14:47] JanKoehnlein commented on #6014
/schedule

[2021-10-04 14:47] roboquat commented on #6014
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6014#issuecomment-933559856):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-04 15:07] gtsiolis opened #6016 "Deleting a team does not remove access to team pages and resources"
### Bug description

Changes in https://github.com/gitpod-io/gitpod/pull/5966 (Cc @laushinka @JanKoehnlein) introduced the ability to delete teams. However, deleting a team 🅰️ does not actually remove the rest of the team members and 🅱️ the rest of the team previously added as members or owners can still access team page, add projects, open workspaces, and trigger prebuilds.

### Steps to reproduc

[2021-10-04 15:25] laushinka commented on #6016
@JanKoehnlein and I tested it just now and when a team was deleted, I got a 404 when I tried to access any of the team's pages, and I tried it again just now. Could you show me?

[2021-10-04 15:29] gtsiolis commented on #6016
@laushinka have you tried access the deleted team as an invited team member?

[2021-10-04 15:34] laushinka commented on #6016
I will look into this.

[2021-10-04 16:02] Kaushik-Kalesh opened #6019 "Not able to make ports public"
### Bug description

I tried making ports of my web servers public in my gitpod workspace (like I do everyday for testing) But now the button (in Remote Explorer) to make it public (Make Public) doesn't seem to be working. Also, I am getting this error in the notifications (`Error running command gitpod.ports.makePublic: Running the contributed command: 'gitpod.ports.makePublic' failed.. This is l

[2021-10-04 16:41] jgallucci32 commented on #4053
I have 0.10.0 running on Ubuntu 20.04 with RKE 1.20.11 using containerd 1.4.9. Took some work figuring out the Helm answers but it appears to be fairly stable.

What info do you need to verify RKE 1.20.11 as a supported platform?

[2021-10-04 16:46] jgallucci32 opened #6021 "[self-hosted] Support for Docker 20.10"
This issue is to track the required changes to make Docker 20.10 work for self-hosted installation. It was fixed in production and reported in issue https://github.com/gitpod-io/gitpod/issues/3051 but does not work for self-hosted (yet).

Error when running Docker 20.10 on Gitpod 0.10.0
[code]

Current workaround is to downgrade to Docker 19.03. This can be done with the following custom workspace

[2021-10-04 17:21] gtsiolis commented on #6016
Cross-posting a closely related edge case from https://github.com/gitpod-io/gitpod/pull/5894#issuecomment-928936514 for visibility in case we also need to handle (remove) the deleted team from the local storage:

Because of https://github.com/gitpod-io/gitpod/pull/5854 (Cc @AlexTugarev) this issue impacts also users coming back to the dashboard after some time to load and access the team pages eve

[2021-10-04 18:31] corneliusludmann commented on #6019
Is it just a specific workspace that is affected? If yes, could you please provide the workspace ID?

I tried it with a fresh workspace and I'm not able to reproduce the problem.

[2021-10-04 18:41] LinqLover commented on #5873
Ah, seems as if this is not related to time-outs but to terminal sessions. Simple steps to reproduce:

1. Open https://github.com/LinqLover/downstream-repository-mining/tree/102882a89864f25eab5c2e54843b175d32dd9e01 in a new gitpod container
2. In the terminal, you can see that node v16 has been installed via the `.gitpod.yml` file. Assert that by typing `nvm version` and seeing `v16.10.0`.
3. Open

[2021-10-04 19:44] Mjboothaus opened #6024 "Trying to open repo and get error/warning Limit Reached and asked to upgrade??"
### Bug description

Trying to open repo and get error/warning to upgrade??

### Steps to reproduce

Trying to open the following in Safari - Version 15.0 (16612.1.29.41.4, 16612) / macOS Big Sur 11.6

https://gitpod.io/#https://github.com/DataBooth/data-beach

and it is failing with the following error screen shot (it used to work 4 weeks ago on Safari) and I tested in Chrome and it works fine (a

[2021-10-04 20:50] gtsiolis commented on #6024
Hey @Mjboothaus! Could not reproduce this with a private repository on GitHub.com. Are you sure there no typo in the example repository you linked in the issue description? 💭

[2021-10-04 20:53] jamiesteven commented on #1781
I agree. I'd prefer to use Blink to SSH into my workspace to run commands, than use the Terminal in VSCode.

[2021-10-04 21:01] Mjboothaus commented on #6024
Thanks George — I was doing it 5am local time - so will retest & report back

On Tue, 5 Oct 2021 at 7:50 am, George Tsiolis ***@***.***>
wrote:

[2021-10-04 21:26] gtsiolis commented on #5997
Nice catch @hm2075! We recently fixed this issue for a similar modal in https://github.com/gitpod-io/gitpod/pull/5248 (see also #4556).

The fix should be relatively simple if you're interested in contributing with a fix. Something like the followign could suffice. 🏓

[code]

[2021-10-04 22:30] jgallucci32 commented on #5410
The following instructions enable you to deploy Gitpod 0.10.0 onto RKE (tested with RKE 1.20.11)
1. Review instructions for deploying RKE here https://rancher.com/docs/rke/latest/en/installation/
2. On every host with Docker installed, enable CRI plugin by modifying `/etc/containerd/config.toml` as follows
[code]
3. Run `systemctl restart containerd`
4. Verify `cri` plugin is enabled by running `c

[2021-10-05 00:13] DetachHead opened #6028 "`GIT_COMMITTER_EMAIL` environment variable doesn't work"
### Bug description

setting the `GIT_COMMITTER_EMAIL` doesn't work, and it instead uses my private email

### Steps to reproduce

1. set the environment variable
   ![image](https://user-images.githubusercontent.com/57028336/135940823-1998302a-dc02-4513-aa59-83b271d3d76b.png)

2. start a workspace
3. run `git config user.email` and `echo $GIT_COMMITTER_EMAIL` to verify that the variable was set

[2021-10-05 04:57] DetachHead commented on #6028
@iQQBot when i commit, it still uses my private email

[2021-10-05 05:20] ajhalili2006 opened #6032 "[local app} Add an option to regenerate SSH configuration"
## About this Issue

In the current situation where the Gitpod Remote extension jsut modifies `remote.SSH.configFile` (which is currently there's no Windows or Linux-specific way to configure it, lemme find that issue in `Microsoft/vscode-remote-release` repo) instead of dumping configuration to `~/.ssh/config`, sometimes that configuration in `/tmp` directory (`%USERPROFILE%\AppData\Local\Temp` i

[2021-10-05 05:37] #5830 closed

[2021-10-05 06:31] konne opened #6033 "brew update in running workspace kills the workspace"
### Bug description

If I open any even a nearly empty repo and put into the terminal:

`brew update`
It prints out some lines and then just stopping the workspace. Example in your logs. 05/10/21 08:29 CET

![image](https://user-images.githubusercontent.com/1100969/135971777-263184e8-245a-42eb-8c1f-73267606a1b5.png)

bye

### Steps to reproduce

see desc

### Expected behavior

_No response_

###

[2021-10-05 07:00] julkhami commented on #5602
So you're working on this and you'll update here when it's set up? That'd be great, thank you

[2021-10-05 07:44] #5042 closed

[2021-10-05 07:47] #5280 closed

[2021-10-05 07:50] geropl commented on #5862
I'm not sure this will be an issue anymore with the [recent changes to websocket](https://github.com/gitpod-io/gitpod/issues/5042) (to be deployed). The MessageConnection stays intact depsite the underlying transport (websocket) is reconnecting, so we should still receive the response after reconnect and have the long-running call return. Will try to test and verify.

[2021-10-05 07:51] gtsiolis opened #6035 "Team member count is missing for some users"
### Bug description

In some cases, the team scope selector dropdown cannot surface the team count. See also [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1629112257217400) (internal).

<img width="346" alt="teams-missing-count-issue" src="https://user-images.githubusercontent.com/120486/135982308-abeb8300-aaa1-42b2-abc6-ffbd1da5db94.png">

Also, the following console error

[2021-10-05 07:53] jankeromnes commented on #6035
Many thanks for filing this issue @gtsiolis! I can take a look at this.

[2021-10-05 07:54] akosyakov commented on #6032
Is not it a dup of https://github.com/gitpod-io/gitpod/issues/5889 The answer is the same like here https://github.com/gitpod-io/gitpod/issues/5889#issuecomment-928932036 We should not override `remote.SSH.configFile`.

[2021-10-05 07:57] gtsiolis opened #6037 "Cannot switch between team projects"
### Bug description

In the latest deployment, I can not switch between or browse any team pages including Projects, Workspaces, etc. The menu does to get updated and every tab links back to the personal account.

| Personal Account | Team |
|-|-|
| <img width="386" alt="scope-1" src="https://user-images.githubusercontent.com/120486/135983268-7e32567b-491f-4ce2-b05c-e5fbf9553f3e.png"> | <img width

[2021-10-05 07:59] akosyakov commented on #4588
It has to be resolved in the upstream: https://github.com/microsoft/vscode-pull-request-github/issues/2807 Currently the team does not have capacity to deal with it. If someone does a PR there it eventually will make to Gitpod.

[2021-10-05 08:04] jankeromnes commented on #6035
@gtsiolis I notice that you've censored out the user ID. Could you please share it? (I wonder if this has something to do about a member in one of your teams deleting their account...)

[2021-10-05 08:05] gtsiolis commented on #6035
@jankeromnes the user ID is visible in the linked discussion above, see [relevant message](https://gitpod.slack.com/archives/C021Q4BL8E8/p1629112265217500?thread_ts=1629112257.217400&cid=C021Q4BL8E8) (internal).

[2021-10-05 08:07] laushinka commented on #6016
/assign @laushinka

[2021-10-05 08:10] gtsiolis commented on #4656
Hey @aggmoulik! Feel free to open a PR to resolve this. 🏓

[2021-10-05 08:18] geropl commented on #5954
@meysholdt Do we have a way now to add dashboards to Grafana from within the gitpod-io/gitpod repository? Or are we supposed to make the changes to the gitpod-io/ops repo? :thinking:

[2021-10-05 08:23] princerachit commented on #5992
Hi @smacintyre Can you provide us more information on:
1. Repos for which you did not see prebuilds
2. If you are still seeing all the mentioned issues

[2021-10-05 08:27] jankeromnes commented on #6035
@gtsiolis Thanks! I can confirm that this user has since been deleted.

I believe we should chain-delete all team memberships when a user account is deleted.

Also, maybe it's a good idea to make the Teams UI more resilient to errors (i.e. don't break all your Team pages when a single member in one of your teams throws an error).

[2021-10-05 08:30] geropl commented on #4988
@csweichel Could you share examples of what kind of queries you'd expect to be faster? :thinking: The queries are not "instant", but also far from slow to me (~1s). But maybe we're using it differently...?

[2021-10-05 08:52] Poonam11Dwivedi commented on #3946
HI Team , I am not able to find the functionality to rename the workspace name . Also how to delete the wrongly added workspace?
Could anyone please guide me in this?

[2021-10-05 08:54] princerachit commented on #5992
On Saturday (3rd October), there was spike in CPU utilization in the workspace pool for a short time. Along with high CPU utilization there was also increased failure rate of prebuilds.

Prebuilds:
![image](https://user-images.githubusercontent.com/32481722/135986156-1d756e6a-532a-4827-aad9-4ad530e7de63.png)

[2021-10-05 08:59] laushinka commented on #3946
@Poonam11Dwivedi Hi, you can click on the dropdown on the right-side of the /workspaces page and choose Rename. There is an option to delete there too.

<img width="582" alt="Screenshot 2021-10-05 at 10 57 40" src="https://user-images.githubusercontent.com/8015191/135992942-08dbac2a-3570-4237-8ac8-cb2d1c8c0572.png">
:

[2021-10-05 09:09] GalaxyGamingBoy opened #6040 "Error “The process tried to write to a nonexistent pipe.” When openning with VSCode Desktop"
### Bug description

When I click open on VSCode Desktop it shows “The process tried to write to a nonexistent pipe.”

### Steps to reproduce

1) Click Open on VSCode Desktop
2) Allow site to open vscode3
3) When VSCode opens it asks for operating system and I click linux. ( Have also tried mac and windows )
4) Error

### Expected behavior

Connect to GitPod and work as a project

### Example repo

[2021-10-05 09:10] akosyakov commented on #6040
Could you attach logs please? They were helpful, there was something about broken permissions for a file which we generate.

[2021-10-05 09:11] GalaxyGamingBoy commented on #6040
https://pastebin.com/y25MjaUb

[2021-10-05 09:11] akosyakov commented on #6040
Which operating system is installed on your machine?

[2021-10-05 09:11] GalaxyGamingBoy commented on #6040
Windows

[2021-10-05 09:13] JanKoehnlein commented on #6037
/schedule

[2021-10-05 09:13] roboquat commented on #6037
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6037#issuecomment-934220881):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-05 09:14] akosyakov commented on #6040
Windows 10 or 11?

[2021-10-05 09:14] JanKoehnlein commented on #6035
/schedule

[2021-10-05 09:14] roboquat commented on #6035
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6035#issuecomment-934221580):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-05 09:15] GalaxyGamingBoy commented on #6040
10

[2021-10-05 09:37] jankeromnes commented on #6037
This is another symptom for the same underlying problem of https://github.com/gitpod-io/gitpod/issues/6035 (fixed in https://github.com/gitpod-io/gitpod/pull/6041)

[2021-10-05 09:52] akosyakov commented on #4199
Around 0.1% is actually failure to fetch supervisor info endpoint or load some html resources. I don't think we can do something about them. In such case a user should see the error page and reload.

[2021-10-05 10:18] princerachit commented on #5945
@konne Thanks for sharing the files. Do you have the logs of the failure stored somewhere, Can you redact sensitive info and share rest of the log with us. If you don't have the logs and you see this issue again please take a dump of the log and share it with us.

[2021-10-05 10:23] JanKoehnlein commented on #5066
@laushinka looks like our process doesn't support reopening issues that have been automatically closed. Please add another issue and PR for your fixes and schedule it in groundwork.

[2021-10-05 10:25] laushinka commented on #5066
@JanKoehnlein Yes [this issue]([https://github.com/gitpod-io/gitpod/issues/6016]) was opened. I think it's correct to leave this one closed.

[2021-10-05 10:50] csweichel commented on #5970
/schedule

[2021-10-05 10:50] roboquat commented on #5970
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5970#issuecomment-934294348):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-05 10:51] csweichel opened #6044 "[agent-smith] Add unit test for recently added allowList"
We need to have unit tests for the recently added `allowList` in #6025

[2021-10-05 10:51] csweichel commented on #6044
/schedule

[2021-10-05 10:51] roboquat commented on #6044
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6044#issuecomment-934295123):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-05 10:56] csweichel commented on #6028
@akosyakov would it make sense to populate this environment variable by default?

[2021-10-05 10:59] jankeromnes opened #6045 "Rename "Workspaces" to "My Workspaces" in Team pages"
Currently, Team menus have these pages:
- Projects (of the entire team)
- Workspaces (of just you)
- Members (of the entire team)
- Settings (of the entire team)

As you can see, Workspaces is the only one that is special (they're not the Workspaces of the entire team, just your own Workspaces for Projects that happen to be in the Team).

Hence, it would make the UI less confusing to call the tab

[2021-10-05 11:00] csweichel opened #6046 "[installer] Build workspace templates"
ws-manager uses a set of workspace templates. These need to be added to the installer.

[2021-10-05 11:00] csweichel commented on #6046
/schedule

[2021-10-05 11:00] roboquat commented on #6046
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6046#issuecomment-934302107):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-05 11:00] csweichel commented on #6046
/assign

[2021-10-05 11:02] jankeromnes commented on #5050
Now that the feature flag has been removed, we can fix this issue. I'll give it a go.

[2021-10-05 11:05] jldec commented on #6045
Yes please - I would suggest doing this for both teams and users to help reinforce the idea that workspaces are always something you create and "own" for yourself, and only share under special circumstances.

[2021-10-05 11:07] Poonam11Dwivedi commented on #3946
Hi

![image](https://user-images.githubusercontent.com/89123188/136011566-419e02e6-9933-4ae1-8c05-05f34c281245.png)
Please find the image for the reference .

Here I am not getting any dropdown to change the workspace name or delete it. Please guide me accordingly

[2021-10-05 11:20] jankeromnes commented on #5050
/schedule

[2021-10-05 11:20] roboquat commented on #5050
@jankeromnes: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5050#issuecomment-934315465):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-10-05 11:36] laushinka commented on #3946
@Poonam11Dwivedi That's not Gitpod but Gitscrum :)

[2021-10-05 11:46] Poonam11Dwivedi commented on #3946
Could you please guide me the steps for GItscrum?

[2021-10-05 11:47] Poonam11Dwivedi commented on #3946
Could you please guide me the steps for GItscrum?

[2021-10-05 11:50] konne commented on #5945
@princerachit I don't have the log and I have unfortunately the workspace already deleted.
What logs do you need?
Where can I find these logs?

It happens at least once a week, so I only need this info and then I will share the logs.

[2021-10-05 11:53] trashhalo commented on #5040
Confirmed to be happening on MacBook M1 running 11.6 (20G165)

[2021-10-05 12:04] gtsiolis opened #6049 "Roboquat does not move issues to review column in groundwork even if labels are applied correctly"
### Bug description

When https://github.com/gitpod-io/gitpod/pull/6048 was opened, @roboquat requested reviews in https://github.com/gitpod-io/gitpod/pull/6048#event-5410036429 and labels were updated in the corresponding issue in https://github.com/gitpod-io/gitpod/issues/5050#event-5410036607, however, the issue was not moved to the review column in groundwork[[1](https://github.com/orgs/gitpod

[2021-10-05 12:19] smacintyre commented on #5992
@princerachit Load averages are better, in the 10-20 range. But still seeing issues with prebuilds. For example on the repo  `arctian/kpop-project` -- note all repos I deal with are private. Last changes on this repo were on the morning of Monday Oct 4th (Bangkok time). I can't find **any** repo that has commits since the start of Monday that has working prebuilds.

[2021-10-05 13:35] #6035 closed

[2021-10-05 13:35] #6037 closed

[2021-10-05 15:27] gtsiolis opened #6054 "Improve team deletion modal"
### Problem to solve

When deleting a team, the product requires from the user to enter the team slug but it's not clear where to get the slug during  team deletion. For example, for a team like XYZ (`gitpod.io/t/xyz/`) the slug required is `xyz`.

See also [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1633444705301500) (internal).

### Proposal

Changing the input label ins

[2021-10-05 16:16] csweichel opened #6056 "[ws-scheduler] ws-scaler has wrong ghost count"
ws-scaler's state on how many ghosts we have running is wrong.
See [monitoring](https://grafana.gitpod.io/explore?orgId=1&left=%5B%221632846602029%22,%221633451062446%22,%22VictoriaMetrics%22,%7B%22exemplar%22:true,%22expr%22:%22gitpod_ws_scaler_driver_setpoint%7Bcluster%3D%5C%22prod-ws-us18%5C%22%7D%22,%22hide%22:true%7D,%7B%22exemplar%22:true,%22expr%22:%22gitpod_ws_scaler_ghost_count%7Bcluster%

[2021-10-05 16:16] csweichel commented on #6056
/schedule

[2021-10-05 16:16] roboquat commented on #6056
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6056#issuecomment-934557339):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-05 18:51] laushinka commented on #6054
/assign @laushinka

[2021-10-05 20:43] metcalfc commented on #5690
Too keep things as simple as possible for the small teams self hosting and the would be evaluation teams; It makes a lot of sense to allow the features by default for up to ten users and then hard shut them off at 11. If you cross over at 11 and want those features then both sides agree there is value and its time to pay.

I think that displaying the path to 10 users clearly makes a lot of sense.

[2021-10-06 05:23] Poonam11Dwivedi commented on #3946
Could you please guide me the steps for GItscrum?

[2021-10-06 05:44] princerachit commented on #6033
Hi please refer to the duplicate issue which is awaiting deployment https://github.com/gitpod-io/gitpod/issues/5280

[2021-10-06 05:44] #6033 closed

[2021-10-06 06:05] ajhalili2006 opened #6060 "[teams and projects] Use Git host repository IDs instead of their repo names/slugs"
## About this Issue

The current form of URLs for projects may break if there are two repos with same name (but on different namespaces/orgs), similar to this one below:

[code]

Instead, project URLs in Gitpod should be in form of `https://gitpod-host.here.tld/projects/git{hub,lab}/repo-id`, where:

* `git{hub,lab}` - is the Git provider configured by the instance admin (currently instance admins

[2021-10-06 06:16] jankeromnes commented on #6060
Many thanks for the helpful feedback!

- [x] Relatedly, we're currently discussing using GitLab's project URL slugs instead of full-text name in URLs: https://github.com/gitpod-io/gitpod/issues/5847

- [ ] I agree that there should also be a de-duplication check (e.g. to append a `-1` to the slug if the new slug already exists in your Team -- we even had that because we added two projects called "

[2021-10-06 06:30] akosyakov commented on #5952
I removed team IDE since I am not sure what else can be done from our side. As far as I know additionally to back-off in the supervisor we also have rate limiters for control port in server and ws-manager. Maybe we should try to tune them next time when an incident is happening?

[2021-10-06 06:33] #6000 closed

[2021-10-06 06:51] csweichel opened #6061 "[ws-manager] Last backup failed; no available endpoint"
### Bug description

Sometimes workspaces don't get a backup even though there's a ws-daemon available, and they have the nodeName annotation set. The endpoint list at that time also had ws-daemon available on that node.

For example: https://cloudlogging.app.goo.gl/KXj5La1ne9cCTqs77

### Steps to reproduce

unsure

### Expected behavior

_No response_

### Example repository

_No response_

### A

[2021-10-06 06:51] csweichel commented on #6061
/schedule

[2021-10-06 06:51] roboquat commented on #6061
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6061#issuecomment-935597834):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-06 06:55] jankeromnes commented on #6014
/help

[2021-10-06 06:58] jankeromnes commented on #6014
/status in-progress

[2021-10-06 06:59] jankeromnes commented on #6014
/assign

[2021-10-06 07:00] AlexTugarev commented on #4988
@geropl the simple listing of users seems to be slow.

[2021-10-06 07:22] geropl commented on #4988
@AlexTugarev Sorry, not sure what you mean with that. :grimacing: If I search for a user with a id or name it's definitely <2s. What kind of list do you mean?

[2021-10-06 08:20] akosyakov commented on #3733
@mikenikles This one is tricky in the sense of CHANGELOG, the PR is done against another repo. So there is no automation.

[2021-10-06 08:53] laushinka commented on #3946
@Poonam11Dwivedi We are not Gitscrum so I'm not sure how we can help you here.

[2021-10-06 08:58] svenefftinge opened #6062 "Sort projects by activity"
Currently, the projects on the projects list don't seem to be ordered.
I think they should be ordered by the least recent activity.

[2021-10-06 09:24] laushinka commented on #5954
I'll pick this up to learn the ropes.

[2021-10-06 09:25] laushinka commented on #5954
/assign @laushinka

[2021-10-06 10:07] JanKoehnlein commented on #3109
Thanks for your thorough analysis. Unfortunately, we're currently swamped. Would you mind bringing it up again at a later stage?

[2021-10-06 10:08] JanKoehnlein commented on #6062
/schedule

[2021-10-06 10:08] roboquat commented on #6062
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6062#issuecomment-935897597):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-06 10:28] meysholdt commented on #5869
not tackling right now because it's not blocking anybody. GCP resolved their incident and we mitigated it by using network=host in docker.

[2021-10-06 10:30] meysholdt commented on #5826
@wulfthimm is there something left to do here?

[2021-10-06 10:43] meysholdt commented on #5534
removing from Platform Inbox because this depends on https://github.com/gitpod-io/gitpod/issues/5596. See [Sven's comment](https://github.com/gitpod-io/gitpod/issues/5534#issuecomment-918067331) on how we should proceed.

[2021-10-06 11:01] AlexTugarev commented on #5888
Perhaps this is related to the bogus status problem. I'm trying to reproduce once more and update the details.
What I checked few minutes ago with https://gitlab.com/AlexTugarev/demo123 which is simply an instance of the Express template on GitLab, and there I started a prebuild with the detected project configuration. After a few seconds the state was reported as `READY` this remained for a coupl

[2021-10-06 11:40] AlexTugarev commented on #5888
<img width="1269" alt="Screen Shot 2021-10-06 at 13 28 12" src="https://user-images.githubusercontent.com/914497/136194178-8cf608fe-f963-4691-b004-4ad602f6316c.png">

It really looks like the prebuild workspace is finished OK and ws-manager reports the STOPPED phase as it supposed to.

[2021-10-06 11:55] jankeromnes commented on #5888
Aha, many thanks for confirming @AlexTugarev ! I also started suspecting this this morning when seeing a finished Prebuild randomly become running again (only in the instance-based status)

[2021-10-06 13:04] gtsiolis opened #6068 "Cannot fetch branches, trigger prebuilds, and configure projects in a subgroup for GitLab"
### Bug description

This prevents users from a) loading branches for a project, b) triggering prebuilds from the dashboard, and c) configuring the project from the dashboard.

🅰️  No error or feedback is returned when trying to load projects branches.

🅱️  The following error is returned in the browser console when trying to trigger a prebuild from the prebuilds page or the configuration page:

[

[2021-10-06 13:13] #5826 closed

[2021-10-06 13:15] #4938 closed

[2021-10-06 13:31] gabbieatangan40 opened #6070 "Gitpod"

[2021-10-06 13:57] akosyakov opened #6071 "active workspace is not shown if repo belongs to a project"
### Bug description

I have a running workspace `azure-manatee-c68g905h`, but I cannot find among workspaces in the dahsboard.

### Steps to reproduce

(at:) as a user which is NOT a member of a team A do the following
1. create a workspace for a repo which is set up as a project of team A
2. see the workspace running
3. go to gitpod.io/workspaces and see no active workspace

### Expected behavior

[2021-10-06 14:05] roboquat commented on #6071
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6071#issuecomment-936299953):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-06 14:48] jankeromnes commented on #6070
Indeed! 🎯

[2021-10-06 14:48] #6070 closed

[2021-10-06 15:06] gtsiolis commented on #5335
Updating description as linking to commits is also described in https://github.com/gitpod-io/gitpod/issues/5923.

[2021-10-06 15:08] gtsiolis commented on #5335
/assign @gtsiolis
/team meta
/schedule

[2021-10-06 15:08] roboquat commented on #5335
@gtsiolis: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5335#issuecomment-936462000):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-10-06 16:19] gtsiolis commented on #5978
Looking for a flexpert[[1](https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Flexbox)] to help here!

[2021-10-06 17:20] gtsiolis commented on #1484
Hey @chuck-confluent! Since a lot has changed since last year (May 2020) could you open a new bug report issue about this?

[2021-10-06 17:25] chuck-confluent opened #6078 "Suppressing notifications using port ranges does not work"
### Bug description

See https://github.com/gitpod-io/gitpod/issues/1484

### Steps to reproduce

See https://github.com/gitpod-io/gitpod/issues/1484 and for another example, see https://github.com/confluentinc/cp-demo/pull/390/files/e0fe5903a9ab2ff439abb262554238058d97c9ac#r723075729

### Expected behavior

`onOpen: ignore` should work for port ranges. Instead, you have to set ignore on individua

[2021-10-06 17:37] #3976 closed

[2021-10-07 02:36] ghuntley opened #6091 "[iPadOS15] Copy and Paste into Terminals does not work."
### Bug description

On iPadOS15.

1. Copy text to clipboard from another browser tab.
2. Paste text via Cmd+V into IDE (it works)
3. Paste text via Cmd +V into Terminal:

3a. Paste operation is interrupted by operating system “Paste” button and requires user interaction before the operation

![A2D53292-A9D0-4047-95FE-360D7C0DEB8A](https://user-images.githubusercontent.com/127353/136311327-d6638bb

[2021-10-07 02:38] ghuntley opened #6092 "[iPadOS] IDE asks to open workspace in Visual Studio Code Desktop when on an iPad"
### Bug description

See bottom right

![35EF5976-4E3D-4E39-97BC-0E72CF6E44A8](https://user-images.githubusercontent.com/127353/136311443-86af65d6-c61e-4427-b11f-f9fe7a545efc.png)

### Steps to reproduce

Open workspace on an iPad

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-07 03:00] ghuntley commented on #6091
Update: this sometimes also manifests in the VSCode IDE editor itself.

I suspect, potentially, it’s related to the type of data that is being pasted? I had no issues copying and pasting from a notepad but from a webpage into the IDE editor the problem I saw in the terminal manifested in the editor.

[2021-10-07 03:26] ghuntley opened #6093 "Add extensions to .gitpod.yml by default when installing them"
Today I discovered the “add to .gitpod.yml” context menu by accident. Can we hook the installation feature, remove the “add to .gitpod.yml” context menu and instead add the extension to the .gitpod.yml by default?

![009D647D-001F-4397-8E3E-7C5E494CBC40](https://user-images.githubusercontent.com/127353/136315616-b0b4eac3-bf49-4630-b213-5081b9490f4e.png)

[2021-10-07 05:41] akosyakov commented on #6093
I think we discussed it in the past and decided that installing extension and adding to .gitpod.yml are 2 different things. The same way like running apt-get and adding it to Dockerfile. Instead we added a validation to .gitpod.yml to show if some extensions are installed as no sync but missing in .gitpod.yml. cc @svenefftinge @loujaybee

Besides that we don't take new feature requests for now.

[2021-10-07 05:43] akosyakov commented on #6078
dup of https://github.com/gitpod-io/gitpod/issues/5929

[2021-10-07 05:43] #6078 closed

[2021-10-07 07:02] akosyakov commented on #5823
@corneliusludmann Is it still something actionable or it is invalid since we have a new proxy now?

[2021-10-07 07:27] akosyakov commented on #5814
I tend to close it, since there is a work around and it is upstream issue.

[2021-10-07 07:53] #6071 closed

[2021-10-07 08:25] jankeromnes opened #6098 "[UX] Add direct link to active workspaces in other teams"
Following https://github.com/gitpod-io/gitpod/issues/4921 and https://github.com/gitpod-io/gitpod/pull/5555, workspaces opened against a specific project are now listed under the project's team workspaces, and no longer under the "personal workspaces" list (i.e. they're no longer in `/workspaces` but in `/t/TEAM/workspaces`).

This is initially surprising to many users:
- https://community.gitpod.

[2021-10-07 08:35] #6062 closed, assigned to JanKoehnlein

[2021-10-07 10:03] roboquat commented on #5978
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5978#issuecomment-937643572):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-07 11:12] akosyakov opened #6100 "setup argo application for IDE components to deploy OpenVSX proxy independent"

[2021-10-07 11:53] csweichel opened #6102 "[installer] Validate configuration"
installer should be able to validate the user-provided configuration. Rules to check are:
- valid values in all enum fields
- all required values are present
- configuration is not contradictory (e.g. we can only install full clusters with an internal docker registry)

[2021-10-07 12:20] csweichel opened #6104 "[installer] Integrate with versions during build"
We'll want to produce an installer per build and embed the versions file in that installer.
Hence we need to integrate the `installer:app` package with the `versions` mechanism we have in place.

[2021-10-07 12:33] JanKoehnlein opened #6105 "[dashboard] allow to bulk (re-)assign team subscriptions"
We've just been swamped by codeinstitute that have automated updating their team slots almost bringing down our system entirely. Their usecase - bulk updating their team slots when a new course cycle starts - is valid but not yet covered well by us.

We should offer such customers an interface to upload a CSV with the email addresses of their users. We could do that behind a feature flag if we nee

[2021-10-07 13:31] jankeromnes commented on #6098
Here is a proof-of-concept of what this could look like (current state of https://github.com/gitpod-io/gitpod/pull/6103):

| No running team workspaces | One running team workspace |
| --- | --- |
| <img width="1438" alt="Screenshot 2021-10-07 at 15 28 55" src="https://user-images.githubusercontent.com/599268/136394173-3bb4ffee-aff2-4190-a9fc-c6f36b8a9d8e.png"> | <img width="1436" alt="Screenshot

[2021-10-07 13:53] JanKoehnlein opened #6108 "[server] set rate limit for expensive team subscription queries"
We just had an incident of serious system degradation due to a user scripting an update of their team subscription slots. See [internal log](https://gitpod.slack.com/archives/C02HPHT4UHW)
We should
- extract sensible rate limits for Api calls from this case using grafana
[code]
- enforce these rate limits on the server API calls in our [rate limter](https://github.com/gitpod-io/gitpod/blob/main/co

[2021-10-07 14:02] akosyakov commented on #6108
Configuration is here: https://github.com/gitpod-io/gitpod/blob/77b98d24a3c6e4a931a853aeb7f2e230ddf38430/chart/values.yaml#L356-L369

[2021-10-07 14:04] jgallucci32 opened #6109 "[self-hosted] Ability to customize Gitpod layer"
## What
Ability to customize the contents of the Gitpod layer before a workspace image is launched. Preferably the customization would be using Dockerfile-style content after the Gitpod layer is added but before any other layers are added if specified by the .gitpod.yml file.

## Why
For self-hosted installations which require customizations to the workspace images (i.e. corporate network behind f

[2021-10-07 15:20] jankeromnes commented on #6098
Good point. I don't perceive the imbalance with the message on top, however the fact that it never moves could make me progressively ignore it. So I also prefer your earlier concepts. 🔼

[2021-10-07 15:51] ArthurSens opened #6111 "[grafana dashboards] Unit tests for datasource variables"
There is variance in the prometheus datasource used between all our environments. Where some of them use long term storages and our previews use vanilla prometheus.

If we want dashboards to work everywhere, the datasource name for dashboards cannot be hardcoded. We should have unit test that asserts datasources are not hardcoded.

/team platform

[2021-10-07 19:07] #6098 closed, assigned to jankeromnes

[2021-10-07 20:34] AjXUthaya commented on #5752
Still an issue on eu18 from what i can see
![Screenshot 2021-10-07 at 22 34 10](https://user-images.githubusercontent.com/53090349/136458155-ab0dea4d-ad99-4d0f-8abc-e1b821c8d48a.png)

[2021-10-08 02:26] shaal commented on #5862
I created a minimal repo to replicate this bug.
When `/workspace` storage space is 4GB or larger - snapshot fails.
When `/workspace` storage space is 3GB or smaller - snapshot successful.
https://github.com/shaal/gitpod-test-failing-snapshot

[2021-10-08 06:52] akosyakov commented on #6028
I changed the team since it is changes to the dashboard.

[2021-10-08 07:53] csweichel opened #6115 "[ws-manager-api] Support fallback in client provider"
Currently when workspace start requests fail (e.g. because we hit the rate limiter), we have nothing to fall back on.
The `ClientProvider` should provide means to get a start manager that excludes one we've already tried, e.g. modify
https://github.com/gitpod-io/gitpod/blob/c2b701b391f94a224cd4d519ea004fa5e0045da1/components/ws-manager-api/typescript/src/client-provider.ts#L38
to
[code]

This way

[2021-10-08 08:08] #5888 closed

[2021-10-08 08:50] jankeromnes opened #6116 "[projects] Fix workspace/project association when based on a prebuild"
### Bug description

Follow-up to https://github.com/gitpod-io/gitpod/issues/6071 and https://github.com/gitpod-io/gitpod/pull/6097

When starting a workspace without a prebuild, the Project association is now correct.

However, when starting a workspace based on a prebuild, it automatically gets associated to the same Project as the prebuild (which can be a now-deleted Project, a project you're n

[2021-10-08 08:50] roboquat commented on #6116
@jankeromnes: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6116#issuecomment-938463823):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-10-08 09:05] jankeromnes commented on #6116
/state in-review

[2021-10-08 09:05] jankeromnes commented on #6116
/status in-review

[2021-10-08 09:53] jankeromnes opened #6119 "Select Running Workspace doesn't work"
### Bug description

When you start a workspace for a context where you already have a workspace running, clicking on the running workspace doesn't work (it takes you back to dashboard)

### Steps to reproduce

1. Start a workspace for a context
2. Start another workspace for the same context
3. In the "Select Running Workspace" pop-up, try to open the already-running workspace

### Expected behav

[2021-10-08 10:02] gtsiolis commented on #6119
Could not reproduce this. 🤷

[2021-10-08 10:08] jankeromnes commented on #6119
Hmm, I know this happened to me in the past, but I also couldn't reproduce it just now. 🤔

[2021-10-08 10:33] akosyakov commented on #5320
@axonasif please update Gitpod extension in local VS Code and try again, it should wokr now

Thanks to @iQQBot

[2021-10-08 10:33] #5320 closed

[2021-10-08 10:33] akosyakov commented on #5872
@YosanAI  please update Gitpod extension in local VS Code and try again, it should wokr now

Thanks to @iQQBot

[2021-10-08 10:48] svenefftinge opened #6121 "Make project order stable"
The project sorting needs to be stable currently one can watch projects jumping around when loading because information needed is fetched asynchronously. Maybe getting the projects sorted from the backend is the way to go.

https://user-images.githubusercontent.com/372735/136544025-6d9546c0-fcbe-4fac-87ac-25d201704846.mov

follow up of https://github.com/gitpod-io/gitpod/issues/6062

[2021-10-08 10:51] AlexTugarev commented on #6121
Addressed in https://github.com/gitpod-io/gitpod/pull/6118 🤞🏻

[2021-10-08 11:15] MrSimonEmms opened #6122 "[Installer]: handle DB migrations"
Currently, DB migrations are handled by a Helm hook. The Installer needs to have a way of handling these natively

[2021-10-08 11:18] mrsimonemms opened #6123 "[Installer]: allow configuration of dependent services"
Including, but not limited to

 - Database
 - RabbitMQ
 - ObjectStore
 - ContainerRegistry

[2021-10-08 11:18] JanKoehnlein commented on #6119
Cannot reproduce either.

[2021-10-08 11:23] roboquat commented on #6115
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6115#issuecomment-938563548):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-08 11:36] mrsimonemms opened #6125 "[Installer]: add leeway build"

[2021-10-08 11:57] JanKoehnlein opened #6126 "[monitoring] create a Team Meta ops dashboard"
Now that we took over ops responsibility for our components, we should create one (or more, but a good primary one) Grafana dashboard for monitoring meta.

Let's collect ideas here.

[2021-10-08 12:23] #6121 closed

[2021-10-08 12:45] akosyakov opened #6127 "[code-desktop] stop the local app when uninstalling extension"
The VSCode plugin for the local companion app / remote VSCode spawns a process that is not removed or cleaned up when the extension is subsequently uninstalled. Removal of the VSCode extension should also close the process.

[2021-10-08 14:43] empz opened #6130 "dotnet development completely broken"
### Bug description

Trying to build/run any dotnet project results in the following error:

[code]

### Steps to reproduce

Open official template in Gitpod: https://gitpod.io/#https://github.com/gitpod-io/template-dotnet-core-cli-csharp

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-08 17:22] hm2075 commented on #6130
https://community.gitpod.io/t/dotnet-core-on-self-hosted/5265

That should help

[2021-10-09 02:20] hrithikrtiwari commented on #5014
@wolfy01 can you tell how to do it, I tried disabling the adblocker but it doesn't work, also check this https://community.brave.com/t/i-keep-getting-reports-due-to-canvas-fingerprint-prevention/288876

[2021-10-09 16:42] #6019 closed

[2021-10-09 20:16] #4667 closed

[2021-10-09 20:16] #4676 closed

[2021-10-09 20:47] 0Grit opened #6135 "Exit in init task causing prebuild to fail without true failure indication"
### Bug description

Prebuild saved 3 minutes. But the init task didn't complete fully

![image](https://user-images.githubusercontent.com/24318071/136673184-fcaa2ecd-db95-4788-9318-5a4bdda96850.png)

Also the pre-build apparently doesn't exist

![image](https://user-images.githubusercontent.com/24318071/136673164-f77d94d0-4a87-4362-9920-8fd52a7a7dd8.png)

### Steps to reproduce

Dealing with this

[2021-10-10 08:57] meysholdt opened #6136 "Error "error while loading and attaching bpf program""
[Context](https://gitpod.slack.com/archives/C01KPEPNBD0/p1633852796142800)

We see the following error in the logs: `error while loading and attaching bpf program`
[code]

[Example1](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-10-10T08:48:23Z;query=resource.labels.container_name%3D%22agent-smith%22%0Aresource.labels.cluster_name%3D%22gp-prod-ws-us18-us-west1%22%0Atimestamp%3D%

[2021-10-10 09:01] meysholdt opened #6137 "Error: "cannot open executable to check signatures""
[Context](https://gitpod.slack.com/archives/C01KPEPNBD0/p1633852796142800)

Message: `cannot open executable to check signatures`
Error: `open /proc/508982/exe: permission denied`

[Example1](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-10-10T08:48:35Z;query=resource.labels.container_name%3D%22agent-smith%22%0Aresource.labels.cluster_name%3D%22gp-prod-ws-us18-us-west1%22%0Atime

[2021-10-10 09:51] meysholdt opened #6138 "AgentSmith no longer audits already-running processes"
[Context](https://gitpod.slack.com/archives/C01KPEPNBD0/p1633852796142800)

Steps to reproduce:

1. observer that there is a new minter (or many of them!) running in some workspace(s).
2. edit the agent smith config to ban the miner.
3. restart agent-smith.
4. observe that the old miner processes keep running.
5. observe that if you start new miners, they will be killed by smith.

Expectation: If

[2021-10-10 16:53] hinddeep opened #6139 "Gitpod in Mumbai region"
_Issue tracked as part of https://github.com/gitpod-io/gitpod/issues/7489._

The latency experienced by me in Rajkot, Gujarat, India is about 300ms. This leads to a subpar experience. I'm on an FTTH connection whose bandwidth is 80Mbps down and 40Mbps up. Please refer to the attached screenshots. I've also attached a screenshot showing the latency of various GCP regions from my location.

It would

[2021-10-10 17:09] hinddeep opened #6140 "Text in terminal not visible on Safari"
### Bug description

I'm not able to view the text in the terminal when I use Safari. However, the font color doesn't seem to be a problem with google chrome. I tried switching between light and dark themes but to no avail.

<img width="1280" alt="Screenshot 2021-10-10 at 10 31 16 PM" src="https://user-images.githubusercontent.com/22722365/136706123-927a55d5-37b2-4bb2-ad47-64dbbacc4284.png">
<img

[2021-10-11 00:29] ghuntley commented on #6130
Howdy @empz, indeed .NET is currently broken (😕). We are tracking this over at https://github.com/gitpod-io/gitpod/issues/5090.

[2021-10-11 00:29] #6130 closed

[2021-10-11 00:34] ghuntley commented on #6139
Adding more regions is something we desire and intend to do. Currently we operate clusters in the US and EU with future expansion plans for Singapore. There’s some engineering work that needs to happen first - see https://github.com/gitpod-io/gitpod/issues/5534#issuecomment-935949050.

[2021-10-11 03:09] goodking-bq opened #6141 "No connection established"
same issue ,have any  suggest？

_Originally posted by @goodking-bq in https://github.com/gitpod-io/gitpod/issues/4218#issuecomment-939640801_

[2021-10-11 04:25] ghuntley commented on #6141
Howdy @goodking-bq,

We don’t have any service interruptions AFAIK; I’m investigating.

Can you please share with me the workspace name/URL?

Regards,
Geoff

[2021-10-11 05:22] #6137 closed

[2021-10-11 06:40] goodking-bq commented on #6141
thanks your time @ghuntley
i'm running gitpod self-hosted in k8s cluster.  when i create a workspace by visit [https://gitpod.xxx.com/#https://gitlab.xxx.com/golden/stock/-/tree/master/](https://gitpod.xxx.com/#https://gitlab.xxx.com/golden/stock/-/tree/master/). out put that error . and server pod print a error log :
[code]

[2021-10-11 07:36] geropl commented on #5774
@AlexTugarev Since you IMO have the best overview: Could you share a list of cookies that we should have and what to use them for (so everyone in the team can tackle this issue)?

[2021-10-11 09:08] jankeromnes opened #6145 "Cache prebuilds locally (to a region)"
Caching prebuilds locally in all regions could make Gitpod both faster and cheaper when starting new workspaces from prebuilds.

## Current situation

- A Prebuild is built and stored in one region (typically the US)
- It is then never cached in other regions (e.g. the EU)
- When starting a workspace on the same commit as a Prebuild, the Prebuild is always downloaded from the original "source" reg

[2021-10-11 09:59] csweichel commented on #5993
Alternatively, would it make sense to install the packages as part of an `init` task during prebuilds?

[2021-10-11 10:18] corneliusludmann commented on #5031
Indeed, we needed to change the config. The new config looks like this:

https://github.com/gitpod-io/gitpod/blob/37435335ae86eef44eb9fee7f53f62b7e156c8e1/chart/values.yaml#L437-L462

I'll suggest a change at https://github.com/gitpod-io/website/pull/1058.

[2021-10-11 12:09] laushinka commented on #5956
/assign @laushinka

[2021-10-11 13:18] dsbowen opened #6151 "Flask redirect doesn't work with in-browser IDE"
### Bug description

Flask's `redirect` function doesn't work in the in-browser IDE.

### Steps to reproduce

Using gitpod's flask template, add `app.py` in the root directory.

[code]

Run the app and navigate to "/redirect" in the browser.

### Expected behavior

You should be redirected to the "/endpoint" URL. Actual behavior: You get the 302 response but are not redirected (no subsequent 200 r

[2021-10-11 13:24] akosyakov commented on #6151
It has hardcoded localhost somewhere:
<img width="834" alt="Screenshot 2021-10-11 at 15 23 25" src="https://user-images.githubusercontent.com/3082655/136797543-475cded8-4c7a-44cd-af48-e44c653e8d71.png">

You should reconfigure the project using exposed ports, i.e.  the value from `gp url 5000`.
Or use [the local companion](https://www.gitpod.io/blog/local-app) to access everything from localhost a

[2021-10-11 14:45] gtsiolis opened #6153 "Mark canceled prebuilds as canceled instead of failed"
### Problem to solve

Follow up from https://github.com/gitpod-io/gitpod/pull/5865#discussion_r721506485:

Cross-posting from https://github.com/gitpod-io/gitpod/pull/5865#discussion_r724191698:

[2021-10-11 15:06] gtsiolis opened #6154 "Allow users to invite team members by email"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4490, we've added the ability to invite team members by sharing a unique invite URL. See relevant specs in https://github.com/gitpod-io/gitpod/issues/4421.

The initial specs included a way to invite team members by email which we decided to drop to limit the implementation scope in the spirit of MVC (minimum viable chage).

Fr

[2021-10-11 15:54] dragonDScript opened #6155 "Make it possible to use keyboard shortcuts: Ctrl+W, Ctrl+Tab..."
When I press Ctrl+W it just closes the current tab. It should close the current file instead. Same with Ctrl+Tab and other shortcuts... I know that it's a browser limitation, but it's possible to change it... (e.g. with gitpod's extension)

See this little browser I made to demonstrate it (currently only ctrl+w works but it could be applied with other shortcuts): https://gitlab.com/dragonDScript/g

[2021-10-11 15:59] csweichel commented on #5602
We've look at SSH gateways in the past and found them to be rather involved. Is there a package you have in mind for building this?

[2021-10-11 16:38] shaal opened #6156 "Project missing when I was added as contributor, but repo doesn't belong to a team"
### Bug description

My brother created a private project - https://github.com/ashaal/electronil
He added me as contributor, and I can push code to that repo.

When I try to add that repo in https://gitpod.io/new, I cannot find it there.
I can see all the repos I created; I can also see all repos that teams/companies shared with me.
But I cannot choose my brother's Github user, in order to find th

[2021-10-11 18:04] dragonDScript commented on #6155
That's okay!

[2021-10-11 18:04] #6155 closed

[2021-10-12 00:06] jldec opened #6168 "New Project flow fails detection on private repos if oauth is fresh"
### Bug description

A totally new user will not be asked for repo scope when they log in the first time but they may grant access to a private repo to the Gitpod app during the new project onboarding flow. This results in the following errors

<img width="1272" alt="Screenshot 2021-10-11 at 23 20 21" src="https://user-images.githubusercontent.com/849592/136869277-45340915-03fb-4749-b655-0da8f4c89

[2021-10-12 02:09] dsbowen commented on #6151
I fixed the issue by writing a custom `redirect` function.

[code]

So the entire `app.py` file is

[code]

[Snapshot](https://gitpod.io#snapshot/67e15a3a-2db8-42a7-931b-1b2cbe557c2a). [Repo](https://github.com/dsbowen/flask-redirect-test).

[2021-10-12 02:09] #6151 closed

[2021-10-12 06:14] AlexTugarev commented on #6156
That's true, we missed to communicated this. You need to be an owner of an organization/account on GitHub/GitLab in order to create projects, as this requires setting up webhooks for prebuild events.

[2021-10-12 08:14] jldec commented on #6168
/schedule

[2021-10-12 08:37] akosyakov commented on #5460
I removed it from in progress, since it is upstream issues in Chromium. Please follow https://bugs.chromium.org/p/chromium/issues/detail?id=1245196&q=keyboard%20french&can=2

[2021-10-12 09:04] AlexTugarev opened #6172 "Improve discoverability of GitHub repos for New Project"
In cases where my team member already added Gitpod's GItHub App on some organization, I'd like to see its repositories in the New Project wizard in order to select/add them as a new project.

Currently this is not possible due to the limitations of the OAuth/organization rule set.

Let's consider privacy and security here, just to make sure this isn't a loophole of any kind. A team is founded on t

[2021-10-12 09:26] #6100 closed

[2021-10-12 10:18] #5508 closed

[2021-10-12 11:27] #6111 closed, assigned to ArthurSens

[2021-10-12 11:37] #6140 closed, assigned to nobody

[2021-10-12 13:44] #6123 closed, assigned to nobody

[2021-10-12 13:44] #6125 closed, assigned to nobody

[2021-10-12 13:49] mrsimonemms opened #6176 "[Installer]: PodSecurityPolicies now deprecated - explore replacements"
PodSecurityPolicies are [now deprecated](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) in Kubernetes v1.21 and will be removed in v1.25. As we have a lot of these in our Kubernetes files, we will need to make appropriate changes.

As this is a wide-ranging and potentially breaking change, we will need representation from all Gitpod teams

The v1.25 release is [currently schedule

[2021-10-12 14:05] geropl commented on #5862
@akosyakov We have multiple options how to solve this; none of which I find super-nice because they're rather involving. Happy to re-iterate in sync, but here's the alternatives:
 - we could add a `state` to `DBSnapshot` and communicate over this table. Pro is that the operation becomes stateful, con is that we'd have to use polling - unless we make ws-manager stream snapshot state as well
 - we m

[2021-10-12 14:09] MrSimonEmms commented on #6176
@aledbf that's good advice.

My guess is that we'd start looking at this ticket in about March of 2022 with a view to getting something released by about June so that we're just ahead of the August deadline.

[2021-10-12 14:13] geropl opened #6177 "Upgrade node.js to a more recent version (current: 12)"
We should come to a more regular update/upgrade cadence with our core components, especially the node.js runtime.

There is a [PR which upgrade to node.js 14](https://github.com/gitpod-io/gitpod/pull/6057) (:pray: to @iQQBot for this), however we should be aware that such a change would require some room for testing and fixing upcoming bugs/issues.

Given this overhead, we could consider waiting f

[2021-10-12 15:05] rajin100000 opened #6179 "The IDE cannot create the directory"
### Bug description

When I create a Clion IDE inside gitpod from this template [https://github.com/gitpod-io/template-jetbrains-clion](url), it shows some error...

![clion_error1](https://user-images.githubusercontent.com/79511984/136980479-b9aaa199-e64f-45c4-afd8-dfc0ffdb8600.png)

And when I click `OK` button, it says:

![clion_error2](https://user-images.githubusercontent.com/79511984/1369808

[2021-10-12 16:30] ntziolis commented on #5031
@ghuntley First of let me say this requirement is born out of enterprise process and regulation stupidity.

Lets forget gitpod for a second and think node packages:
- a lot of enterprises we work with do not allow installing directly from the public npm registry
- their corporate IT demands that a private npm registry is used
- that said the npm feed uses the public npm feed as upstream source
- t

[2021-10-12 18:50] csweichel commented on #6136
will be fixed in #6150

[2021-10-12 20:05] #6138 closed, assigned to nobody

[2021-10-12 23:00] aangelinsf commented on #5980
I don't understand why there an option for bitbucket integration on the Integration pages if there is no way to add a project.

Is there a way to use BB that isn't obvious to use BB users?

[2021-10-13 01:49] RpxdYTX opened #6184 "Messed keyboard inputs when digiting"
### Bug description

Whenever you try to digit something it can sometimes appear really messed up, such as this in c++: `const` appearing as this while you digit: `stcon`, this however goes back to normal if you press space.

On terminal it is a different story, digiting these characters: `.`, `/`, ` ` and others, just surround whatever you are doing in them: normal -> `cd src/Build` in gitpod ter

[2021-10-13 05:38] ntziolis commented on #5031
@jgallucci32 Sry for skipping over your comment earlier. If I understood correctly you plan to support private repositories / feds via the third party artifactory service? If I misunderstood that point most of what I have written below is mood.

I think providing any path is already a huge step forward. That said I do foresee considerable push back from enterprise clients if they are not already u

[2021-10-13 07:33] JanKoehnlein commented on #5980
Sure, you can still prefix the repository URLs with `gitpod.io/#` or use the Gitpod browser extension to start workspaces on BitBucket repos. They also show up in the "Workspaces" list of your individual account as before.

Just the new Teams and Projects UI doesn't work with BitBucket projects yet.

[2021-10-13 08:26] #5864 closed

[2021-10-13 08:35] geropl commented on #5774
@AlexTugarev got it. So it's a `"gitpod-marketing-website-visited=true" OR has "gitpod-user=loggedIn"`, right?

BTW, the semantics of `gitpod-user=loggedIn` are effectively "has logged in with gitpod.io within the last year", which is not really close to being "loggedIn". Should we change that value to sth more descriptive? Or is that not worth the trouble?

[2021-10-13 08:36] jankeromnes opened #6186 "Unnecessary extra Terminal in IDE"
### Bug description

When your `.gitpod.yml` implements a certain number of `tasks`, there is now always an extra Terminal open in VS Code.

For example, the Gitpod repository specifies **three** tasks (also known as Terminals):

https://github.com/gitpod-io/gitpod/blob/9d4bfb577bc3fe76534fef16aad6c0664357b0b0/.gitpod.yml#L38-L46

However, when opening Gitpod in Gitpod, we observe **four** Termina

[2021-10-13 08:47] akosyakov commented on #6184
Could you provide info about versions of device, os?

[2021-10-13 09:29] JanKoehnlein commented on #6177
/schedule

[2021-10-13 09:43] JanKoehnlein commented on #6172
Do you want to see all projects of the org or just the ones for which the app has been enabled?

[2021-10-13 10:49] JanKoehnlein commented on #6172
Thanks for clarifying. What change do you propose?

[2021-10-13 12:23] AlexTugarev commented on #5774
Thanks for the clarification @geropl!

[2021-10-13 14:33] shanehughes1990 opened #6191 "Self hosted install via helm chart not functioning"
### Bug description

Where do I start, Running on GKE trying to install the helm chart, I have db-migrations pods erroring
[code]
ws-daemon never gets past init
[code]
I followed the gitpod docs on generic kubernetes install via helm chart, did the https-certificate and created the k8s secret. for whatever reason I just can't seem to get this chart deployed in a state where I can actually start us

[2021-10-13 15:00] mikenikles commented on #5774
Fantastic, that works and we'll make the necessary changes to the website.

@iQQBot thanks for testing! The pre-rendered pages situation definitely applies to our case, I'll have a look at that.

[2021-10-13 15:40] csweichel opened #6192 "[agent-smith] Add excessive CPU back in"
We recently removed the excessive CPU check. We should add it back in.

[2021-10-13 17:16] mikenikles opened #6194 "Can't start workspace due to `content initializer failed`"
### Bug description

I ran a prebuild for https://github.com/mikenikles/example-application/tree/gitpod. Since then, I can't open new workspaces due to a `Oh, no! Something went wrong! cannot initialize workspace: cannot initialize workspace: content initializer failed` error.

### Steps to reproduce

1. Open the `gitpod` branch at https://github.com/mikenikles/example-application/tree/gitpod in G

[2021-10-13 17:36] meysholdt opened #6195 "`cannot initialize workspace` error"
Random find in the logs when looking for the cause of https://github.com/gitpod-io/gitpod/issues/6194.

[code]

[Example1](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-10-13T17:13:31Z;query=%22cannot%20initialize%20workspace%22%0Aresource.labels.container_name%3D%22ws-daemon%22%0Atimestamp%3D%222021-10-13T17:09:31Z%22%0AinsertId%3D%22kpjdragmjtudo870%22;summaryFields=resource%2

[2021-10-13 17:39] meysholdt commented on #6194
[Is this the cause](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-10-13T17:35:40Z;query=%22brown-swordtail-wojm47aq%22%0Atimestamp%3D%222021-10-13T17:35:40Z%22%0AinsertId%3D%2293i9yfgh46k5j0bz%22;summaryFields=resource%252Flabels%252Fcluster_name:false:32:beginning;timeRange=PT30M?project=gitpod-191109)?

[code]

[2021-10-13 19:22] julkhami commented on #3733
I’d like to be able to keep the same layout in my VS code when I reopen GitPod and someone directed me to this thread.
Is it currently possible, if I drag closed the file explorer, to save those settings? Or is this feature ongoing? Thanks very much

[2021-10-13 23:49] 0Grit commented on #6194
Related to #5675 ?

[2021-10-14 03:19] gengjiawen opened #6199 "[BUG] vim 1.21.8 broken on gitpod"
Released on October 12, `1.21.7` works fine.

https://open-vsx.org/extension/vscodevim/vim

I have checked chrome console, not find something suspious.

[2021-10-14 04:57] #6199 closed, assigned to nobody

[2021-10-14 05:04] akosyakov commented on #3733
Is it currently possible, if I drag closed the file explorer, to save those settings? Or is this feature ongoing? Thanks very much

This issue is about auto synching with VS Code Desktop settings. Settings Sync in VS Code Web already enabled by default. Please consult VS Code settings docs for possible layout customizations.

[2021-10-14 06:52] #5978 closed

[2021-10-14 08:09] csweichel commented on #5951
/assign

[2021-10-14 08:22] JanKoehnlein opened #6201 "[payment] decrease cost of team slot assignment"
For a many team subscription operations, we calculate an account statement to get the remaining hours, e.g. for the previous assignment of a slot. This is very expensive and not necessary for unlimited plans (currently all of our team plans are).

Skipping this calculation will save us a lot of effort, make the UI faster and decrease the probability that our system's performance is degrading when

[2021-10-14 08:43] C-Undritz opened #6203 "Unable to open workspace: Error: build failed: rpc error: code = Internal desc"
### Bug description

Opening workspace, screen displays 'building image' for a few seconds, then followed by a message in red text:
"Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume:"

Button available below that 'Continue with default image'.  When clicked, same message display.
![Screenshot 2021-10-14 093923](https://user-images.github

[2021-10-14 08:48] jojo157 commented on #6203
I am having the exact same issue

[2021-10-14 09:04] jankeromnes commented on #6203
Hi all, thank you for these reports. We've opened an incident and are currently investigating: https://www.gitpodstatus.com/incidents/b01t094hrzlq

[2021-10-14 09:27] #6119 closed

[2021-10-14 09:38] csweichel opened #6204 "[observability] Add workspace failure SLO"
We need to know how many workspaces fail in total, including requests and running workspaces.

[2021-10-14 09:38] csweichel commented on #6204
/schedule

[2021-10-14 09:38] roboquat commented on #6204
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6204#issuecomment-943188409):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-14 09:38] csweichel commented on #6204
/assign

[2021-10-14 09:46] C-Undritz commented on #6203
Yes the workspace is working now.   Thank you for the swift response.

[2021-10-14 09:53] bravoalpha79 commented on #6203
It is working at my end now too. Thank you @jankeromnes!

[2021-10-14 09:54] #6203 closed

[2021-10-14 10:30] MrSimonEmms opened #6207 "[Installer]: add cert-manager command"
[cert-manager](https://cert-manager.io) is a dependency for Gitpod. This will not necessarily need installing for every instance and certainly not be required to be installed more than once, so put as a separate command

[2021-10-14 10:53] mrsimonemms opened #6209 "[Installer]: add AWS/GCP/Azure TLS solvers to cert-manager config"
# ACME DNS

As we need to use wildcard certificates, cert-manager requires configuration for DNS ACME solvers (eg, [GCP](https://github.com/gitpod-io/gitpod-gke-guide/blob/9e43a5b41123146aa5b5e71c5fd05b3acf8bf259/charts/assets/issuer.yaml)).

Extend the `dependency cert-manager` command to configure the following providers as a minimum:
 - AWS
 - GCP
 - Azure

Cert-manager supports [many providers

[2021-10-14 10:54] csweichel opened #6210 "[installer] Check target cluster for installation prerequisites"
Prior to installing Gitpod, we should have a check available which ensures that given a configuration Gitpod will likely install and run well. Things to check (not comprehensive):
- kernel version (> 5.4)
- containerd used as CRI
- cert-manager is available
- nodes with all affinity labels are available

[2021-10-14 12:30] jankeromnes opened #6211 "Allow using deleted team name"
Currently, in the context of the new Teams & Projects UI, there are two problems related to the deletion of a Team:

- [ ] When you delete a Team, it is not possible to create a new Team that has the same slug as the deleted Team (e.g. a Team with the same name)

To fix this, the TeamsDB should ignore all teams that have `markedDeleted: true` when looking at existing teams / existing team slugs /

[2021-10-14 13:33] csweichel opened #6212 "Tie "paying customer" to user level admission preference"
So that paying customers can get their own workspace clusters.

Also, fix up the remaining comments from https://github.com/gitpod-io/gitpod/pull/6164#pullrequestreview-779493651

[2021-10-14 13:42] #6201 closed, assigned to JanKoehnlein

[2021-10-14 14:14] jankeromnes opened #6213 "Add new workspace condition "stoppedByRequest""
### Bug description

When we call `stopWorkspace` with a `StopWorkspaceRequest` on some workspace, the stopped workspace should come back to the bridge with a new type of condition attached: for example called `conditions.stoppedByRequest` (in addition to the existing conditions `timeout`, `failed` and `headlessTaskFailed`).

This would allow cancelling prebuilds (because when a `StopWorkspaceRequ

[2021-10-14 15:00] AlexTugarev commented on #6213
Just for completeness, let's not call this "manual cancellation" but just generic "cancellation" in code, or prepare a field for a reason. Any further improvements towards of prebuild queues would also require to "skip" even potentially running prebuilds, thus cancellation might be requested.

[2021-10-14 18:06] ArthurSens opened #6216 "[werft] Build should not fail if observability-related ingress don't start"
Our build jobs are hard-failing if the ingress deployed when setting `/werft with-observability` fails to start.

This behavior was introduced by https://github.com/gitpod-io/gitpod/pull/6089, which made the job wait for the ingress completion, however the hard fail was not intended

[2021-10-14 21:11] maksimr opened #6220 "VIM extension stop working"
### Bug description

Vim extension stop working. If run `Vim: Toggle vim mode` action, it says

### Steps to reproduce

Browser: Safari, Chrome

- Install `Vim` extension

ER: Should enable vim mode
AR: Nothing happens

STR 2:

- Install `Vim` extension
- Run `Vim: Toggle vim mode`

AR: Exception

### Workspace affected

_No response_

### Expected behavior

Vim extension should work

### Example

[2021-10-14 21:12] #6213 closed

[2021-10-15 02:29] hu00yan opened #6223 "Firefox: Terminal font display is truncated"
### Bug description

![图片](https://user-images.githubusercontent.com/36443438/137422530-bd835603-fd33-4fea-9694-0899f14b1f6f.png)
It doesn't happen on Edge, same machine.

### Steps to reproduce

System: Windows 10 pro 20H2
Firefox: 93.0

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-15 02:48] kevinadhiguna opened #6224 "[Question] How to format code using Prettier in Gitpod ?"
### Bug description

I installed Prettier successfully in Gitpod. Usually in VSCode in my machine, I press `ctrl + shift + P` so that a prompt appears and I can format documents using Prettier.

However, `ctrl + shift + P` opens me a new tab in Firefox. What should I do?

### Steps to reproduce

1) Install Prettier. Make sure it has been installed successfully.

After that I have not used that for

[2021-10-15 07:03] akosyakov commented on #6224
Yeah, unfortunately browsers don't allow to override all keybindings. You have several options:
- use the command pallette to trigger formatting, i.e. F1 -> Format document
- change the keybinding for Format Document
- use VS Code Desktop: https://www.gitpod.io/docs/develop/vscode-desktop-support

[2021-10-15 07:27] maksimr commented on #6220
@akosyakov thanks! You can close this issue

But before report this issue, I tried to find an open related to VIM but without luck and I didn't think to try to search in closed issues 😕

[2021-10-15 07:28] akosyakov commented on #6220
I will keep it, since users ask and I'm bored to answer the same 😆

[2021-10-15 07:41] Decipher opened #6226 "Add ability to "Pin" a workspace from within the workspace"
## User story

As a user I want the ability to pin a workspace from within the workspace so that I don't forget to pin it and don't lose the work that I've done.

[2021-10-15 07:43] Decipher opened #6227 "Display Gitpod context prominently in UI"
## User story

As a user that runs multiple Gitpod instances consecutively I want to see the Context (repository, branch, etc) in a prominent location in the UI so I don't mistake one pod for another.

[2021-10-15 09:29] corneliusludmann opened #6229 "[openvsx-proxy] Add Grafana dashboard for the OpenVSX proxy component"

[2021-10-15 09:34] #6229 closed

[2021-10-15 11:10] loujaybee commented on #6227
This is an interesting one, thanks for the suggestion, @Decipher we'll take a look into it 🔍

[2021-10-15 11:55] akosyakov opened #6233 "[code] create slack notification when a new release branch is created in upstream"
There should a nightly job which checks whether there is a new feature branch in upstream which is missing in openvscode-server repo.

We can create such job in https://github.com/gitpod-io/openvscode-releases

[2021-10-15 13:26] MrSimonEmms opened #6236 "[Installer]: allow for air-gapped cluster installation"
Air-gapped installations are crucial in order for self-hosted to be a valid choice for corporations. We need to enable an Installation to be successful when there is only a connection to the cluster is available. Clusters may also be isolated from the internet and other data sources meaning that they may only be able to get their container images from a specific container registry with credentials

[2021-10-15 13:39] jankeromnes commented on #6153
/assign

[2021-10-15 13:47] ArthurSens opened #6237 "[observability] Broken jsonnetfmt CI check"
Jsonnetfmt check is not failing CI, even though the check is not passing.

We should encourage good code formatting in a more assertive way. Good readability improves productivity! That means that the CI should hard-fail if we commit badly formatted code.

[2021-10-15 13:50] ArthurSens opened #6238 "[observability] Add unit-test for alerts with `description` annotation."
The way we configured our Alertmanager's alert template requires us to always have a description for every alert.

When reviewing https://github.com/gitpod-io/gitpod/pull/6205, I've noticed that there is nothing stopping us from merging alerts without the `description` annotation.

[2021-10-15 13:53] ArthurSens opened #6239 "[observability] Improve documentation about deploying merged dashboards/alerts to production"
After merging dashboards and alerts to the `main` branch, we still need some manual effort to get them into production.

It's just a couple of mouse clicks, but this should be well documented to enable complete self-service to the product teams

[2021-10-15 14:14] 0Grit opened #6240 "Local companion expose port of local machine to remote machine"
I need to debug embedded targets that are physically connected to my local machine and or network.

The path of least resistance for the moment is to have a gdbserver listening on port 2331 waiting for a gdb client within the remote workspace to connect.

[2021-10-15 14:43] 0Grit commented on #6240
The GDB server I am using now fails to start after succesfully ssh forwarding the port.

[2021-10-15 15:01] 0Grit commented on #6240
Just realized the original command gae me an ssh connection on the command line into the remote workspace.

![image](https://user-images.githubusercontent.com/24318071/137509144-1065c30f-b4f4-46ab-a929-0497bddc9db9.png)

[2021-10-15 15:05] 0Grit commented on #6240
Will try

[2021-10-15 15:31] #5876 closed

[2021-10-15 18:02] jankeromnes opened #6243 "Please increase the maximum allowed workspace size to 50GB"
**Feature request**: Please bump the maximum allowed workspace size from 30GB to 50GB.

I've put a lot of thought into this number, and I believe this is the right trade-off. 50GB would enable a few very cool projects to work on Gitpod (e.g. Unreal Engine, LibreOffice, etc. there is a whole class of those that used to work on Gitpod but we currently block with our 30GB limit). It would also not ha

[2021-10-15 18:05] #6239 closed, assigned to ArthurSens

[2021-10-15 19:06] mikenikles opened #6244 "[Prebuilds] Ready and failed at the same time"
### Bug description

I'm part of a team where the prebuild logs show the following:

![image](https://user-images.githubusercontent.com/788827/137539173-009c7be4-9486-4cf3-9e36-2824b6aebb57.png)

In the list of Prebuilds, it shows as **Failed**.

Based on the screenshot, the prebuild seems to take 46s longer than 1h. Given the 1h timeout, could it be that the prebuild timed out and did indeed fail

[2021-10-15 19:58] ila-embsys commented on #6240
I described found approach in Discord and want to repost it here because spend a lot of time getting it to works.

Companion App should be run with 'auto-tunnel=false'.

"gitpod-local-companion-windows.exe --auto-tunnel=false".
And then get SSH Remote Port Forwarding:
"ssh -R 3333:localhost:3333 -F C:\Users\<SomeUser>\AppData\Local\Temp\gitpod_ssh_config <gitpod-instance-id>"

Pay attention to run

[2021-10-15 20:25] mikenikles opened #6246 "Command links don't work in the in-workspace onboarding"
### Bug description

Links such as `command:gitpod.ports.reveal` have their href elements stripped. Thanks @filiptronicek for investigating that.

<details>
  <summary>Screenshot</summary>
  <img src="https://user-images.githubusercontent.com/788827/137549109-7116cc5e-299e-4791-bc17-2456a59d7451.png" alt="A screenshot of the HTML anchor without href tag"/>
</details>

### Steps to reproduce

1. Se

[2021-10-15 20:53] 0Grit opened #6247 "Local Companion App - Exposing local port to remote workspace doens't work"
### Bug description

![image](https://user-images.githubusercontent.com/24318071/137549697-52fae529-43fa-4850-b6d2-c7e3f6c83ca7.png)

### Steps to reproduce
1. Start GDB server (Jlinkgdbserver) on port 2331 on local machine

![image](https://user-images.githubusercontent.com/24318071/137552039-79f030a4-6145-4215-bfb0-396928a7ff2f.png)

2. `PS C:\Users\Grit\Downloads> ./'.\gitpod-local-companion-wi

[2021-10-16 00:11] ila-embsys commented on #6247
I have found where the problem is.

Local Companion App do forward from the remote side to the local side with the right ports but use ipv6. However, in my example OpenOCD app uses ipv4. So the Windows reject the connection.

When I had tried an app that listens to ipv6, everything had working as expected.

[2021-10-16 04:15] 0Grit commented on #6247
@ila-embsys was it ipv6 or the fact that localhost is resolving incorrectly?

[2021-10-16 11:56] flisanp opened #6249 "Cmd+Z does not work"
### Bug description

cmd+z does not work properly.
<img width="933" alt="2021-10-16 kl  13 37 04" src="https://user-images.githubusercontent.com/70511857/137586507-a94119d5-c42c-4eba-9929-18abfdc61e09.png">

### Steps to reproduce

It's working if I write something and I immidiately want to erase it, but if I erase a block of text and I want to undo, then it's not working.

### Workspace affected

[2021-10-16 17:14] ila-embsys commented on #6247
On my system, the hostname "hocalhost" resolves to ipv6 address "::1". So replacing the "localhost" hostname to direct ipv4 address "127.0.0.1" resolves the problem.

[2021-10-16 17:40] shaal opened #6250 "Timed-out workspace screen includes a bad link to open workspace"
### Bug description

After a workspace timed out, I see this screen (which is expected0
![image](https://user-images.githubusercontent.com/22901/137596797-d9df8fa6-662f-4ecb-893b-b11422f01eca.png)

`Open Workspace` has a link that works -
`https://gitpod.io/start/#yellow-stoat-zcjeks4f`

But under `yellow-stoat-zcjeks4f`, there's another link to the workspace -
`https://gitpod.io/start/DP_PROJECT_

[2021-10-17 02:40] #4757 closed

[2021-10-17 06:32] #4735 closed

[2021-10-17 10:19] DDproducts2 opened #6251 "gitpod is very slow today ."
### Bug description

Today Gitpod is very slow in creating apps or adding depedencies from yarn or npm please fix it as soon as possible

When i creates react apps on gitpod it takes only 40 to 50 sec but today it takes almost 25min . adding depedencies takes only 5 to 10 sec but today it taken 15min . please fix it as soon as possible
### Steps to reproduce

Performance should be increased intern

[2021-10-17 14:45] AlCalzone commented on #4456
It would already be immensely helpful to be able to define (public) env variables in .gitpod.yml without any UI whatsover.

Our repo is using `yarn` to manage dependencies. The repo is configured to use a global `yarn` cache, but this does not work with gitpod prebuilds because only `/workspace` is persisted.

So we're changing the yarn config in the prebuilds to use a local (persisted) cache, but

[2021-10-17 17:16] Bulletninja commented on #2973
For me it seems it broke permanently for Brave. Have to use Safari now...

[2021-10-17 23:47] tculp commented on #2385
I don't think this should be marked as stale, this is still a reasonable need

[2021-10-18 00:33] 0Grit opened #6254 "Retain terminal history and state of 'resumed' workspaces"
I have gotten distracted in the middle working on something within a workspace and then had the workspace timeout.

While this is a good lesson on why to limit context switching I do think it would be convenient for a resumed workspace to come back up in the same state it was left.

[2021-10-18 01:28] #6251 closed

[2021-10-18 01:42] DDproducts2 opened #6256 "WHATS HAPPENING WITH YARN IT DOSNT WORK NOW ."
### Bug description

  YESTERDAY SLOW SPEED . NOW YARN NOT WORK PROPERLY

![image](https://user-images.githubusercontent.com/90947621/137656200-640bf26c-5e8f-4ad8-8674-2cd48b197082.png)
WHAT THE HELL . I CREATED A REACT-APP ONLY AND IT DOSNT CREATE A REACT APP FOR ME . I DONT KNOW ITS GITPOD ERROR OR YARN ERROR.

i cant even add a depedencie through yarn .
i use npm or npx it also uses yarn please

[2021-10-18 01:47] #6256 closed, assigned to nobody

[2021-10-18 02:38] csweichel commented on #6251
Hi, sorry for these issues. We've just brought a change online which should help matters.

[2021-10-18 03:06] ghuntley opened #6258 "Support for github.dev: https://gitpod.io/#https://github.dev/org/repository"
If someone has a repository open in GitHub.dev then they should be able to open it in Gitpod by appending https://gitpod.io# onto it.

[2021-10-18 04:15] princerachit opened #6259 "Allow option to block a domain from admin dashboard"
Violators often use a dedicated domain to create multiple user accounts which breach our Terms of Use. To block them we endup running a mysql command to block that domain. This leads to excess permission grants to the administrator of gitpods.

Instead I propose that admin dashboard has a button which allows us to block a domain from the UI.
<img width="1401" alt="Screenshot 2021-10-18 at 09 43 38

[2021-10-18 07:22] JanKoehnlein opened #6262 "[ide] Gitpod no longer opens PR view in PR context on some repos"
### Bug description

When started on a PR on GitHub Gitpod sometimes doesn't set the PR context appropriately.

### Steps to reproduce

1) Open https://gitpod.io/#https://github.com/gitpod-io/gitpod/pull/6252
2) The PR is not activated out int the GitHub view and the PR view does not pop up

For smaller repos this seems to work

### Workspace affected

_No response_

### Expected behavior

_No res

[2021-10-18 08:12] #6153 closed, assigned to jankeromnes

[2021-10-18 08:14] laushinka commented on #6211
/assign

[2021-10-18 08:40] #5237 closed

[2021-10-18 09:58] geropl opened #6267 "[agent-smith] Better detect miner binaries by scanning strings, too"
Today again we saw running miners that built their binaries with "stripped" symbols, making it impossible for AS to detect them.

A solution would be to look for hardcoded strings as well, which are hard to remove from the binary without breaking it.

Miner repo: https://bitbucket.org/jkhjkhgkj/resa/src/master/.gitpod.yml
Draft PR that impls that for older AS: https://github.com/gitpod-io/gitpod/p

[2021-10-18 10:01] laushinka opened #6268 "Cannot add a new project when having two accounts"
### Bug description

When trying to add a new GitLab project under gitpod.io/new, I could not move forward and received no error messages. Supposedly this is caused by having two Gitpod accounts.

https://www.loom.com/share/ba9d0b291d1e491baafe7a1bd7db9ed3

### Steps to reproduce

As the above video:
 1. Have GitHub and GitLab accounts.
 2. Log in via GitHub.
 3. Go to https://gitpod.io/projects a

[2021-10-18 10:02] jldec commented on #6211
@laushinka I have scheduled #4623 since there was already some work done there on the last-member deletion UX.

cc: @gtsiolis

[2021-10-18 10:26] loujaybee opened #6269 "Local Companion App does not keep workspace alive via SSH"
### Bug description

When using SSH via the companion app the workspace is not kept alive.

### Steps to reproduce

* Install the local companion app: https://www.gitpod.io/blog/local-app
* Connect to a workspace using SSH.
* Wait approximately 30 minutes (https://www.gitpod.io/docs/life-of-workspace#timeouts)
* The workspace should stop

### Workspace affected

_No response_

### Expected behavio

[2021-10-18 10:29] #6269 closed, assigned to nobody

[2021-10-18 10:52] gtsiolis commented on #2973
Hey @Bulletninja! I could open the _Workspaces_ list successfully with Brave. Could you open a new issue with more details if you are still experiencing this issue? Is this on Gitpod.io or a self hosted instance, etc.

[2021-10-18 13:35] JanKoehnlein commented on #6268
/schedule

[2021-10-18 13:36] roboquat commented on #6268
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6268#issuecomment-945775347):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-10-18 14:36] #6211 closed, assigned to laushinka

[2021-10-18 14:42] #6210 closed, assigned to mrsimonemms

[2021-10-18 15:27] Merith-TK opened #6275 "[FEATURE] User Specific Default gitpod configs"
So this stems from an issue I recently encountered where I found myself having to do alot of configuration every time I open a repo just to make it work, (usually involves a fork+pr to add gitpod config)

So why not just give a user the option to setup a default gitpod.yml in their `github.com/username/username` repo or in a repo called `github.com/username/gitpod-default-config` (allow this repo

[2021-10-18 15:37] MrSimonEmms opened #6276 "[Installer]: successfully deploy to GKE with InCluster configuration"
- [x] configure InCluster DB
- [x] configure InCluster RabbitMQ
- [x] configure InCluster ObjectStore
- [x] configure InCluster ContainerRegistry
- [x] configure InCluster Jaeger
- [x] get versions from currently deployed Prod
- [x] agent-smith
- [x] blobserve
- [x] content-service
- [x] dashboard
- [x] image-builder-mk3
- [x] openvsx
- [x] proxy
- [x] registry-facade
- [x] server
- [x] workspace

[2021-10-18 15:38] mrsimonemms opened #6277 "[Installer]: configure InCluster objectstore"

[2021-10-18 15:40] mrsimonemms opened #6278 "[Installer]: configure InCluster container registry"

[2021-10-18 15:49] akaFTS opened #6279 "Keys randomly stop working on iPadOS"
### Bug description

iPadOS support has improved significantly in the last few weeks, thanks to some fixes in VS Code upstream (likely due to GitHub Codespaces launch) and to these new persisting workspaces in Gitpod where your uncommited work is saved until your next session (was it always like that? I remember having to clone the repo from scratch on every session start).

However, there are sti

[2021-10-18 15:52] MrSimonEmms commented on #6276
- [ ] configure InCluster DB
- [ ] configure InCluster ObjectStore
- [ ] configure InCluster ContainerRegistry
- [ ] configure InCluster Jaeger

[2021-10-18 15:54] #6278 closed, assigned to nobody

[2021-10-18 15:54] #6277 closed, assigned to nobody

[2021-10-19 00:49] ghuntley commented on #6259
Supportive of this. As well as exposing a ban subdomain option can we also please do an initial import of banned domains from one of the many lists available such as https://gist.github.com/nocturnalgeek/1b8fa44283314544c487

[2021-10-19 01:52] ghuntley opened #6282 "Gitpod integrations in Raycast"
As part of https://github.com/raycast/extensions/pull/32 Gitpod was added into the GitLab extension. How else could Gitpod be integrated with Raycast (and similar things such as Alfred?). Does it make sense to build our own extension and list in the store? Let's discuss!

[2021-10-19 02:36] eByte23 commented on #5090
Hi all, is there any update on where is at? Or a complete workaround?

This is stopping me from becoming a paying customer as can't use gitpods as working IDE for .NET.

[2021-10-19 02:58] Grunet commented on #5095
It was a little awkward to have to create a team for myself just to get to setting up a prebuild for a repo (or maybe I missed how to skip that?).

~~It also wasn't immediately clear to me how the prebuilds would work by branch, nor is it still (though I feel like if I look in the docs that may be mentioned somewhere?) .~~ Actually nvm I found the Branches page...

Can't say I noticed the performa

[2021-10-19 03:25] mikenikles opened #6283 "[Prebuilds] Increase timeout and/or make it configurable"
The current prebuild timeout is set to 1h. I'm working with some large projects that require more time to compile everything, up to 3 hours given current estimates.

Related to this, it would be a good user experience to allow a configurable timeout per project.

[2021-10-19 06:21] hrpatel opened #6284 "Minio sub chart"
Hi,

I notice that the minio sub chart has now been deprecated in favour of the operator based chart. See: https://github.com/minio/charts

The current sub chart now deploys an 8 month old version of minio.

Are there plans to move to the operator based minio charts?

Thank you in advance!

[2021-10-19 07:29] pawlean commented on #5090
Hi folks! Thank you for your patience. 🙏🏼 We're aware that this issue persists and are looking at a workaround. Please bear with us!

[2021-10-19 08:58] JanKoehnlein commented on #6068
/schedule

[2021-10-19 08:58] roboquat commented on #6267
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6267#issuecomment-946505223):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-19 09:14] princerachit opened #6285 "Filtered email domains are not working"
### Bug description

I added entry to `d_b_email_domain_filter`. The entry was synced across DBs. However, new users from that domain name were able to signup.

### Steps to reproduce

I haven't reproduced it by explicitly adding a domain but I believe it should be:
1. Add an entry to the table
2. Try signing up with that domain email id

### Workspace affected

_No response_

### Expected behavio

[2021-10-19 10:31] loujaybee opened #6287 "Improve UX of SSH using companion app (e.g a single command + select workspaces from a list)"
Currently to SSH using the local companion, you have to run a command like:

`ssh -F /tmp/gitpod_ssh_config <your-workspace-id e.g.apricot-harrier-####>`

This has some friction:
* It requires two running terminal sessions (it would be nice to consolidate this into one)
* It requires the user to know / go get their workspace ID
* It requires the user to reference the SSH config file

It would be g

[2021-10-19 10:39] gtsiolis commented on #5095
@Grunet you can also add repositories as a projects under your personal account. No need to create a separate team for that unless you're interested in inviting and giving access to the project for other collaborators. Cc @iQQBot

[2021-10-19 11:19] jldec commented on #6168
Yes, prompting at the time of the failure (instead of spinning and failing silently unless you open the console) should be good for now.

For the future, it would be good to validate the permissions as early as possible i.e. right after selecting the repo.

[2021-10-19 12:55] MrSimonEmms opened #6289 "[Installer]: verify that Gitpod has successfully installed"
In Helm, you can verify that an installation/upgrade has successfully completed. We need some way of implementing this function with the Installer

[2021-10-19 12:58] MrSimonEmms opened #6290 "[Installer]: uninstallation"
In Helm, you can uninstall an application with `helm uninstall <name>`. The Installer should have a `gitpod-installer uninstall` command - this must work whether the application has been installed via `render` or (the future) `install` command.

We may be able to achieve this by storing the top part of the rendered YAML in a ConfigMap: eg
[code]

I think this is enough for `kubectl delete -f -` to

[2021-10-19 14:20] meysholdt opened #6291 "[preview-envs] avoid letsencrypt rate limit error"
we sometimes see the following error in Werft:

src: https://gitpod.slack.com/archives/C01KGM9EBD4/p1634246511455700?thread_ts=1634228500.454400&cid=C01KGM9EBD4
discussion: https://community.letsencrypt.org/t/5-already-issued-for-this-exact-set-of-domains-in-the-last-168-hours/153169

On https://crt.sh/?CN=gitpod-dev.com we can see wich certificates have been issues to us. Advanced Search -> mark

[2021-10-19 14:26] MrSimonEmms opened #6292 "[Installer]: allow custom config to be entered into Helm dependencies"
Whilst this might seem counterintuitive on the face of it, I think that the number of different options we would otherwise have to support would make it limiting. Suggest adding a `helm` object underneath the config and passing data in as-is. For instance:

[code]

[2021-10-19 15:13] #6267 closed, assigned to csweichel

[2021-10-19 15:49] mrsimonemms opened #6294 "[Installer]: persist data between renderings"
When a random string is generated for a password etc, some objects (eg Minio) [update an annotation](https://github.com/minio/charts/blob/master/minio/templates/deployment.yaml#L57) that forces the pod to be reprovisioned. The `kubectl apply` can then create a new pod, but fails to delete the old one

I suspect that this will affect updating of many objects

[2021-10-19 17:18] filiptronicek commented on #6246
Wondering if maybe it's a problem with our build step, with it stripping any invalid links.

[2021-10-19 18:36] filiptronicek opened #6296 "Workspace onboarding is being triggered too often"
### Bug description

When opening a new workspace and closing all open editors, the onboarding screen is shown, even though it was marked as done.

### Steps to reproduce

1. Choose the Insiders version in your preferences (https://gitpod.io/preferences)
2. Open a workspace
3. Close all open editors
4. Click mark as done on the bottom
5. Refresh the page

### Workspace affected

_No response_

###

[2021-10-19 19:52] csweichel opened #6297 "[agent-smith] Too many memory allocations thanks to procfs"
The use of prometheus/procfs leads to too many memory allocations. We should rewrite this bit with more targeted implementations.

![image](https://user-images.githubusercontent.com/3210701/137980747-9ad2ca2e-e7f6-40db-8daf-1d6a3811667e.png)

[2021-10-19 19:52] roboquat commented on #6297
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6297#issuecomment-947056041):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-19 20:01] MrSimonEmms opened #6299 "[Installer]: clarify the AffinityLabels for the nodes"
The [proposed affinities](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/common/common.go#L27) has 5 different variants. With [self-hosted](https://github.com/gitpod-io/gitpod-gke-guide/blob/main/setup.sh#L356), we have only been advising two.

Questions:
- Do we actually want to increase the number of required affinities?
- We currently only use `AffinityLabelWorkspacesRegular` and `

[2021-10-19 20:51] mfulton26 opened #6300 "Increase timeouts for shared running workspaces"
When [sharing a running workspace](https://www.gitpod.io/docs/sharing-and-collaboration#sharing-running-workspaces) if I don't do anything in the workspace for ~30 minutes then it times out and stops. At such point the person(s) who were using the workspace I shared with them are no longer able to access it. Sharing a running workspace is great because I don't have to share access to code projects

[2021-10-19 20:56] mfulton26 opened #6301 "Basic chatting for shared running workspaces"
It would be great to be able to see who is view/using my [shared running workspaces](https://www.gitpod.io/docs/sharing-and-collaboration#sharing-running-workspaces) and to be able to even chat with them!

My primary use case at the moment is for using Gitpod for conducting remote software engineering programming tests (see #6300) but I could see this being applied for folks wanting to confirm wit

[2021-10-19 21:01] aerioeus opened #6302 "jupyter notebook not rendering"
### Bug description

the jupyternotebooks are not rendering: I get the following error:

Error loading preloads:
Could not find renderer
![bug](https://user-images.githubusercontent.com/23232503/137989841-4d8e70a9-caa3-4e2d-a455-2bf20c599fec.png)

### Steps to reproduce

start jupyter notebook imported from github

### Workspace affected

_No response_

### Expected behavior

_No response_

### Ex

[2021-10-19 22:38] jldec opened #6303 "Enable "New Workspace" button in Project Configuration without first having to use "Run Prebuild" button"
When I create a new Project, I may not wish to configure a Prebuild before opening a Workspace.

The `New Workspace` button is currently disabled, until a Prebuild is run. Let's enable it always.

![Screenshot 2021-10-19 at 23 28 31](https://user-images.githubusercontent.com/849592/137999807-059cc7dc-0146-4516-bcec-c7f727462723.png)

[2021-10-19 22:47] jldec opened #6304 "Provide valid .gitpod.yml when project type can't be detected"
When the project type cannot be detected, the Project Configuration defaults to YAML which is not parseable, and clicking on `Run Prebuild` produces an error. This can be confusing, especially for those users who are less familiar with YAML.

[code]

It would be better to offer devault YAML which is valid, perhaps by commenting out entire lines instead of just the string values. The default YAML c

[2021-10-19 23:19] jldec opened #6305 "Project Configuration - Run Prebuild always shows "Connecting to workspace Logs...""
This is possibly a duplicate of #5573

Successful prebuilds should either show a log, or a message that there was no stdout.

Users are confused by the message "Connecting to workspace logs..." which persists even if the prebuild succeeds.

![Screenshot 2021-10-20 at 00 15 48](https://user-images.githubusercontent.com/849592/138003435-079c66d1-0635-4eec-876e-3ad6153484d5.png)

![Screenshot 2021-10

[2021-10-20 00:25] Grunet commented on #5095
Ahh I see. I may've been confused/too excited reading through the email I got about it, and naively followed the new onboarding workflow thinking it was the only way to get there. Thank you both for clearing that up!

[2021-10-20 01:43] Bulletninja commented on #5014
@hrithikrtiwari I just clicked the brave icon and disabled it.
![Screen Shot 2021-10-19 at 19 41 59](https://user-images.githubusercontent.com/71659/138013871-3bde3a5a-a0d3-4169-9e9b-96e78deaf289.jpg)

[2021-10-20 02:34] jwaldrip commented on #6068
Running into this as well. :-( without prebuilds, spinning things up is rather slow.

[2021-10-20 03:05] shaal commented on #4879
Is there a solution for this issue?

[2021-10-20 03:10] ghuntley opened #6307 "Cannot copy and paste errors from prebuild logs to clipboard"
### Bug description

On IPadOS15 I cannot select nor copy the contents.

Tried:
- select via mouse and finger then Cmd + c
- command a then Cmd + c

### Steps to reproduce

Break breabuilds by using something like

http://github.com/ghuntley/gitpod-kali-oscp

### Workspace affected

_No response_

### Expected behavior

To not have to attach screenshots when interacting with /support.

![A4B5B39F-

[2021-10-20 03:15] chuck-alt-delete opened #6308 "Support .env files in profile settings variables"
It’s tedious to create a new variable entry in my profile settings for each variable I want to define. I’d love to paste in a “.env style” text file, like

[code]

The use case I have is setting up secrets to access managed services. If my managed service has a bunch of different api keys and such, I want one simple way to define them all at once rather than one at a time.

[2021-10-20 03:16] ghuntley opened #6309 "Make build logs failures more useful than “Adding Gitpod layer failed with return code -1”"
I'm playing around with https://hub.docker.com/r/kalilinux/kali-rolling over at https://github.com/ghuntley/gitpod-kali-oscp/tree/trunk

![226F6640-B6BF-44F0-AE84-8E109361F65B](https://user-images.githubusercontent.com/127353/138022239-a18da7f2-c506-4a49-80a4-979a403eef2b.png)

Why the build failed is less interesting than the user experience that results.

1. The build has failed? Who's fault is

[2021-10-20 03:24] gengjiawen commented on #6220
New release: https://github.com/VSCodeVim/Vim/releases/tag/v1.21.10. Not synced to openvsx yet.

[2021-10-20 03:25] gengjiawen opened #6310 "[feature request] allow global extension lock version"
Issues like https://github.com/gitpod-io/gitpod/issues/6199 can have huge impact on user experiences.

So gitpod may provide a way to lock global extension version.

I also run into this problem with other extensions.

In the long run this will make extension more usable.

[2021-10-20 03:37] johndunderhill commented on #6186
FWIW, I'm having the same problem: I run a setup script when the workspace is started or restarted.  This script detects Gitpod, and sets up the environment for development and testing.  On bare metal, the script configures the environment for staging/production, loading a bunch of additional drivers that don't work on Gitpod.  The configuration is reflected in a collection of environment variable

[2021-10-20 06:07] bigint commented on #6212
Do `Professional open source plan` users will get their own workspace clusters?

[2021-10-20 06:30] gtsiolis opened #6311 "Clean up member-less teams"
### Bug description

While we now delete teams from the database when a user deletes a team (see https://github.com/gitpod-io/gitpod/pull/6273) we still have not resolved what happens to teams when the last team ~owner~ member tries to leave the team (see #4623).

This causes some confusion as users can not reuse a team name after leaving a team as the last team member, see https://github.com/gitp

[2021-10-20 08:06] JanKoehnlein commented on #6285
/schedule

[2021-10-20 08:12] JanKoehnlein commented on #5071
/schedule

[2021-10-20 08:13] #6220 closed, assigned to nobody

[2021-10-20 08:19] akosyakov opened #6313 "[code] web socket errors when opening new workspaces"
### Bug description

It seems to start happening from time to time with 1.61.0 VS Code:
<img width="583" alt="Screenshot 2021-10-19 at 9 10 30 PM" src="https://user-images.githubusercontent.com/3082655/138055321-7393b9fa-855d-4b5f-af72-65b827241a7b.png">

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

Web socket failure is fine, but there should n

[2021-10-20 09:19] loujaybee commented on #6308
If you want, you could programatically by copying your environment variables to a workspace then running [`gp env`](https://www.gitpod.io/docs/environment-variables#using-the-command-line) for each line (example below). Use carefully, though as this will overwrite any named existing variables 🙏

[code]

Are your secrets coming from a single secrets source, if so which app/service are you using?

[2021-10-20 09:21] gengjiawen commented on #6310
unfortunately they are different issues. I mean global extension links to user. not ones put in `.gitpod.yml`.

[2021-10-20 09:33] JorisPaarde opened #6314 "port doesn't spin"
### Bug description

![image](https://user-images.githubusercontent.com/70574649/138067637-6083b822-398e-4c5b-9059-5e8e78ec1030.png)
![image](https://user-images.githubusercontent.com/70574649/138067676-fbf10bb5-0055-4800-a507-dd08c9f31c46.png)

### Steps to reproduce

in terminal:  python3 manage.py runserver.
open port 8000 in browser

### Workspace affected

https://black-flea-91abj8my.ws-eu17.

[2021-10-20 09:56] MrSimonEmms opened #6315 "Prometheus workspace startup time buckets show count 0"
### Bug description

In Grafana, the workspace startup time buckets all show a count of 0 when hovering over the detail.

It appears that there is data in there as the buckets are scattered, but the specific detail isn't visible.

### Steps to reproduce

Go to [Grafana](https://grafana.gitpod.io/?orgId=1&var-datasource=VictoriaMetrics&var-cluster=prod-ws-eu17&refresh=30s) and hover over the bucket

[2021-10-20 10:40] JorisPaarde commented on #6314
i made it private and then public again and now it works.

[2021-10-20 11:32] davidwindell commented on #5460
This has been resolved in Chromium 95+ as per https://github.com/xtermjs/xterm.js/issues/3459#issuecomment-947505784

[2021-10-20 11:37] geropl commented on #6126
Question on slack:

We have some pieces, but need to:
 1. defined what "API" means and
 2. stitch sth. together (incl. filter for non-relevant stuff, etc.).

For instance, we do measure response times for HTTP responses ([gitpod_server_http_request_duration_seconds](https://github.com/gitpod-io/gitpod/blob/eed37839c4b1da0c9760dad40a27b7a81b5c1456/components/server/src/server.ts#L103-L104)) but tha

[2021-10-20 11:40] chuck-alt-delete opened #6316 "More flexible environment variable wildcard scopes"
Right now, I can do \*/\*, \*/{repo}, or {org}/{repo}, but I’d like to do something like {org}/{repo prefix}-\* to scope my variables for all repos in an org that start with {repo prefix}.

My particular use case is education. I’d like for my learners to be able to enter environment variables once and have them available in all repos prefixed with `training-` so they only have to do a one time env

[2021-10-20 11:48] #6302 closed, assigned to jeanp413

[2021-10-20 11:52] JorisPaarde commented on #6314
![image](https://user-images.githubusercontent.com/70574649/138087493-13416b43-3eff-429f-9e2e-e1f04f4782cf.png)
ok, now it doesn't get serverd at all..

[2021-10-20 12:11] jldec commented on #5886
Thanks for that feedback @bsideup !

[2021-10-20 12:13] #4639 closed

[2021-10-20 14:04] JanKoehnlein opened #6320 "Test (please ignore)"
- [ ] #6311

[2021-10-20 14:46] loujaybee opened #6321 "Add analytics for desktop IDE preferences (enable/disable)"
As we release the Jetbrains integration, we need to have analytics / behavioural events in place so that we can start to measure any user behaviours from the integration. Also, we need this data to track whether users are discovering IDE configurations as part of their onboarding process.

[2021-10-20 16:49] hrithikrtiwari commented on #5014
Ohh great, I tried it on youtube and it works

[2021-10-20 18:23] aledbf opened #6325 "[ws-proxy] Refactor to simplify dependencies and troubleshooting"
The reverse proxy in `ws-proxy` relies on two things to send traffic to the workplaces: DNS and Services.
We should remove those two variables using a pod informer, filtering workspace pods, and send traffic directly to the IP address.

[2021-10-20 18:26] aledbf opened #6326 "[ws-proxy] Prometheus metrics are not exported (prod)"
### Bug description

There are no ws-propxy pods in prometheus targets.

### Steps to reproduce

port-forward to prometheus and check the targets

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-20 18:28] aledbf opened #6327 "[ws-proxy] Add alert for CPU utilization"
`ws-proxy` is not CPU intensive, but in case of misbehaving (`"no workspace info found - redirecting to start"`) we see high CPU utilization (>100m). We should have an alert for this scenario.

[2021-10-20 19:48] filiptronicek commented on #6246
Tested a bunch of things today and this issue occurs with the [official example for Walkthroughs](https://github.com/microsoft/vscode-extension-samples/tree/main/getting-started-sample). I reported this issue to https://github.com/microsoft/vscode/issues/135505.

[2021-10-20 21:18] jldec commented on #5071
Notes from design discussion with @gtsiolis 🙏

- This applies to users who sign up via a the website (`Sign Up` or `Try Now` CTA)

- Instead of an intermediate webiste page, visitors will go straight to https://gitpod.io/new in the dashboard.

- This starts a `New Project` flow which would currently begin with the git provider `Log in to Gitpod` page (1st screenshot below), but could be adjusted t

[2021-10-20 23:01] mikenikles opened #6328 "Allow a project owner to disable shared workspaces"
Based on feedback we received via the docs feedback widget: "Can we disable sharing globally for teams (as a security measure)?"

[2021-10-21 00:15] DentonGentry commented on #3258
This would be quite useful for Tailscale, a Mesh VPN: https://tailscale.com
https://github.com/DentonGentry/gitpod

[2021-10-21 01:52] #6184 closed

[2021-10-21 01:54] RpxdYTX commented on #6184
I Toke advantage of the doubled characters, it only lower my productivity, but it is still usable.

[2021-10-21 06:54] csweichel commented on #6309
Indeed, mk3 will fix this / remove this problem

[2021-10-21 06:54] #6309 closed

[2021-10-21 07:24] gtsiolis commented on #6328
FYI, This is also cross-linked[[1](https://github.com/gitpod-io/website/pull/1099/files#diff-3c423c6d609dfc045e5444ad67533272fd5f4d419bb0e2efea1a991d6c6e10fcR61)] in the docs. 🎗️

[2021-10-21 08:33] konne opened #6329 "Evicted the node was low on resources and killed all saved changes in the Workspace"
### Bug description

Hi,

we had two days ago this issue that a workspace was shut down from your side with this error message.

![image](https://user-images.githubusercontent.com/1100969/138241135-c37a21f4-aebd-47fe-a40f-36ac5ebe96fb.png)

This is not cool, but the *real* issue was after we could restart that workspace some hours later, all "code" changes
that there stored in the /workspace/REPON

[2021-10-21 08:37] laushinka opened #6330 "Build stuck on installing node-exporter"
[A build](https://werft.gitpod-dev.com/job/gitpod-build-laushinka-meta-dashboard-6126.6) was running for around one hour and stuck in installing node-exporter phase.

It was unstuck after [all the pods in the same namespace were removed](https://gitpod.slack.com/archives/C020VCB0U5A/p1634804805003000?thread_ts=1634803616.001800&cid=C020VCB0U5A).

[2021-10-21 09:42] princerachit opened #6331 "[ws-deployment] Make workspace cluster creation automated"
Creating a workspace cluster should be as simple as running a cli with config

[2021-10-21 09:44] princerachit commented on #6331
/schedule

[2021-10-21 09:44] roboquat commented on #6331
@princerachit: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6331#issuecomment-948439315):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agai

[2021-10-21 09:48] princerachit opened #6332 "[ws-deployment] Make gitpod installation on a workspace cluster automated"
The ws-deployment cli should support deploying installing a gitpod version on a newly created workspace cluster.

This should happen in the following manner:
* The workspace cluster creation step should be executed first
* The gitpod installation step should
  * Fetch the kubeconfig of this cluster
  * It should create appropriate values.yaml files based on the environment, region, cluster etc
  *

[2021-10-21 09:48] princerachit commented on #6332
/assign

[2021-10-21 09:50] princerachit opened #6333 "[ws-deployment] Make jaeger installation on a workspace cluster automated"
The ws-deployment cli should support installing a jaeger on a newly created workspace cluster.

This should happen in the following manner:

* The workspace cluster creation step should be executed first
* The jaeger installation step should
  * Fetch the kubeconfig of this cluster
  * It should create appropriate override files based on the environment, region, cluster etc
  * It should execute a

[2021-10-21 09:52] princerachit opened #6334 "[ws-deployment] Make monitoring-satellite installation on a workspace cluster automated"
The ws-deployment cli should support installing a monitoring-satellite on a newly created workspace cluster.

This should happen in the following manner:

* The workspace cluster creation step should be executed first
* The monitoring-satellite installation step should
  * Fetch the kubeconfig of this cluster
  * It should create appropriate override files based on the environment, region, cluster

[2021-10-21 09:57] princerachit opened #6335 "[ws-deployment] Automatically run smoke test on newly created gitpod workspace cluster"
The ws-deployment cli should support running smoke test on newly created gitpod workspace cluster

This should happen in the following manner:

* The gitpod installation step should be executed first
* The smoke test step should
  * Fetch the kubeconfig of this cluster
  * It should use appropriate config files (if required)
  * It should run a smoke test and show results

[2021-10-21 09:59] princerachit opened #6336 "[ws-deployment] Automatically run smoke test on newly created gitpod workspace cluster"
The ws-deployment cli should support registering a gitpod workspace cluster to given list of meta clusters

This should happen in the following manner:

* The gitpod installation step should be executed first
* The cluster registration step should
  * Fetch the kubeconfig of this cluster
  * Use gpctl to download certs
  * Fetch the kubeconfig of meta cluster
  * Register workspace cluster to meta

[2021-10-21 10:01] princerachit opened #6337 "[ws-deployment] Automatically shift traffic to workspace cluster"
The ws-deployment cli should support shifting traffic from old ws cluster to the newly registered ws cluster

This should happen in the following manner:

* The cluster registration step should be executed first
* The traffic shift step should
  * Fetch the kubeconfig of meta cluster
  * Use gpctl to shift traffic gradually to new cluster
  * Eventually there should be 100% traffic on the new clus

[2021-10-21 11:00] loujaybee opened #6339 "Support scopes flag in `gp env`"
Currently `gp env` allows you to set an environment variable, but it [automatically sets the scope](https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-cli/cmd/env.go#L101) (of the environment variable) as the current repo, we should extend the command to allow any wildcard to be input.

Steps to replicate:
* Go to a workspace
* Run `gp env SCOPE_TEST=temp`
* View the environment varia

[2021-10-21 13:12] #6238 closed, assigned to ArthurSens

[2021-10-21 14:05] 0Grit commented on #6186
@akosyakov my workspace is struggling to start...

[2021-10-21 14:17] #6297 closed, assigned to csweichel

[2021-10-21 14:27] jgallucci32 opened #6341 "[self-hosted] Unable to install 'ms-toolsai.jupyter' extension because it is not compatible with the current version of VS Code (version 1.57.1)"
### Bug description

When installing the extension `ms-toolsai.jupyter` in Gitpod self-hosted, the following error given
![image](https://user-images.githubusercontent.com/9018897/138298297-bcc76fcc-b1a4-40cd-b70c-7e3a0838a203.png)

### Steps to reproduce

1. Deploy Gitpod self-hosted
2. Launch workspace
3. Install extension `ms-toolsai.jupyter`

### Workspace affected

n/a

### Expected behavior

[2021-10-21 14:56] #6237 closed, assigned to ArthurSens

[2021-10-21 15:53] loujaybee opened #6342 "Compile a spreadsheet of emails for the private BETA of Jetbrains"
Seems that people have found their way to this issue already 😆

If you're interested, stick a comment on the issue👇  and we'll get in touch 🙏

**EDIT:** Please also leave your Discord username, see [this message below](https://github.com/gitpod-io/gitpod/issues/6342#issuecomment-967006894)

Note: We already have an internal list of people who expressed interest, so we may already have your name/co

[2021-10-21 16:08] toddewilliams opened #6344 "Can't install extension from local VSIX file"
### Bug description

Any attempt to install an extension from a VSIX file results in a "No Servers" dialog in the bottom right corner of the main window. No additional information appears to be available.

<img width="464" alt="Screen Shot 2021-10-21 at 10 29 25 AM" src="https://user-images.githubusercontent.com/61880410/138313579-0bc2af5b-4841-40c2-a9d2-1d6e75f7bc85.png">

### Steps to reproduce

[2021-10-21 16:12] gtsiolis opened #6345 "New Project page should show message and link to /workspaces when authorized only with Bitbucket"
### Bug description

Teams & Projects rolled out with support for GitLab and GitHub projects. The natural next step here is to add support for adding projects from Bitbucket.org git provider, see https://github.com/gitpod-io/gitpod/issues/5980.

However, if you have a Gitpod account that is only connected with a Bitbucket account, adding a project is not possible, see screenshot below.

![Screensh

[2021-10-21 18:29] j-frost opened #6347 "Empty SCM repository that cannot be closed"
### Bug description

Sometimes when opening a workspace, I get an additional "empty" (missing name) repository in SCM. I cannot close this repository either. It does seem to mirror the behaviour of the actual git source. When I check out a different branch in one, it also changes the other.

![image](https://user-images.githubusercontent.com/6002677/138335052-51e90a07-f3de-4710-b844-b20d855de6ee.p

[2021-10-21 21:11] johndunderhill commented on #6186
@akosyakov Thanks for your help with this.  I switched to the 'Insider' track in preferences and created a new workspace for an affected repo.  This seems to work--no extra terminal, and the environment variables are present.

![startup](https://user-images.githubusercontent.com/25628891/138356864-729f450f-d1b9-4e14-a5ee-c15a4640180d.png)

[2021-10-22 03:13] #4790 closed

[2021-10-22 07:34] JanKoehnlein opened #6349 "[code] IDE reports "Workspace does not exist""
### Bug description

When opening a repo like `gitbot`, I sometimes get an error by the ID

<img width="533" alt="Screen Shot 2021-10-21 at 14 15 57" src="https://user-images.githubusercontent.com/377752/138416274-37a29d10-c337-48ef-ab05-52cb9d46b2f7.png">

### Steps to reproduce

Open https://gitpod.io/#https://github.com/gitpod-io/gitbot

### Workspace affected

plum-owl-55o6xcew

### Expected b

[2021-10-22 08:27] geropl opened #6351 "Allow admin users to download workspaces"
We once had a "Download workspace content" button on the admin dashboard which was quite handy when trying to analyze abuse. Would be nice to have it again!

![missing-button](https://user-images.githubusercontent.com/32448529/138421008-57e8593e-a290-4334-b775-24ca679c2f4a.png)

- [x] Add download button to admin dashboard
- [ ] Adjust the [workspace download route config](https://github.com/gitpo

[2021-10-22 08:44] csweichel opened #6352 "[agent-smith] Describe how to add signatures"
Add an entry to the readme as to how to add and test signatures

[2021-10-22 08:58] sgurlt opened #6353 "Prebuild - Headless task failed - Context canceled"
### Bug description

When I am trying to run a prebuild on by repository, I am getting the error message:
`Headless task failed - Context canceled`

![image](https://user-images.githubusercontent.com/8554668/138425588-86a82f5f-2295-4afa-b38a-a5669655890e.png)

### Steps to reproduce

I am not sure how I can hand this over to you since the repository contains sensitive information which I can not s

[2021-10-22 09:35] loujaybee opened #6356 "Add analytics tracking to VSCode"
Add first analytics events to VSCode on the command palette

[2021-10-22 10:05] MrSimonEmms opened #6357 "[Installer]: add the number of replicas required for a deployment in the config"
Currently, all of the deployments have a replica value of `1` (with a `todo` above them). This needs to be configurable.

Config change proposal:
 - Add a default number of replicas, which should default to `2`. Suggest putting this under `workspace.replicas.default`
 - Add in an optional map of key/value pairs under `workspace.components[$componentName].replicas`. This would then be extensible fo

[2021-10-22 10:10] MrSimonEmms opened #6358 "[Installer]: remove the container registry from the config and add it to the binary"
Observation:

As the versions for each component are baked into each binary and these are non-sequential build numbers, it would be unlikely that any third-party wanting to use their own repository would have images with these tags in. I can imagine that there would be future support requests for using their own repositories.

Proposal:

Remove the registry URL from the configuration.yaml and trea

[2021-10-22 11:03] sgurlt opened #6359 "Add possibility to set workspace description from CLI"
When you are starting up several workspaces, it is very helpful to set the description per workspace.
To simplify things even more, it would be helpful to allow setting this description using the Gitpod CLI

[2021-10-22 11:06] sgurlt opened #6360 "Allow setting the page title"
When you are working in several workspaces at the same time, it gets hard to figure out which workspace is the one you are looking for:

![image](https://user-images.githubusercontent.com/8554668/138443790-fe53e0f0-3ff8-46a5-ab5b-18e4c219fe9b.png)

To get rid of this, it would be very helpful if users will be able to set the workspace name from the GUI and the CLI and display it afterwards within

[2021-10-22 11:55] akosyakov opened #6361 "proxy should respect LOG_LEVEL env var"
Right now one has to create a dummy commit to enable debug logging. Also maybe just have it enabled on prev env?

[2021-10-22 12:09] #6331 closed, assigned to princerachit

[2021-10-22 12:18] #6352 closed, assigned to csweichel

[2021-10-22 12:54] akosyakov opened #6362 "[code] installing from vsix file does not work in insiders"
### Bug description

Try to install extension from vsix file on your machine.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-22 14:13] #6126 closed, assigned to laushinka

[2021-10-22 18:02] #6296 closed, assigned to filiptronicek

[2021-10-22 18:24] #6246 closed, assigned to filiptronicek

[2021-10-22 21:00] tiagodinis33 opened #6370 "Visual bug with underlines"
### Bug description

the background color of underlines and the next character becomes black
![imagem](https://user-images.githubusercontent.com/92828847/138522279-89ec7254-c0cd-41b9-b9d6-1148b09e461a.png)

### Steps to reproduce

write a underline followed by a character

### Workspace affected

_No response_

### Expected behavior

normal background color

### Example repository

_No response_

[2021-10-23 01:41] AjXUthaya commented on #5411
I don't think this as intuitive to have to start a project to be able to integrate for a new user, i nor my colleague though this so at the very least there should some more information instead of "Provider for this host alread exists". That just seems like an error from my point of view where i have to disconnect for someone else to be able to connect their account.

Seems like this product aims

[2021-10-23 12:49] gtsiolis opened #6371 "Focus on the first modal input when renaming a workspace"
### Problem to solve

Following the changes in https://github.com/gitpod-io/gitpod/pull/5695 that re-introduced the ability to rename the workspace context description, however, triggering the modal does not focus on the first input element within the modal.

In general, for modals it's a good practice to auto-focus on the first focusable item. 💡

### Proposal

When triggering the modal to rename

[2021-10-23 13:15] gtsiolis opened #6372 "Introduce sign-up restrictions"
### Problem to solve

Given that the role of self-hosted in our strategy becomes more relevant over time, more feature requests and needs will show up in the long run. See [relevant RFC](https://www.notion.so/gitpod/Self-Hosted-at-Gitpod-dc1e8b741f8049ea9b23df3a969d459f) (internal).

One of these needs is the ability to provide more fine grained control over sign ups. See [relevant discussion](htt

[2021-10-23 13:19] yusufali94 opened #6373 "0.11.0 release"
So it has been on 0.10.0 for quite some time now and I see alot of new features. When can we expect the next release onto selfhosted?

[2021-10-24 02:18] fntlnz commented on #3258
Alll righty, just made it happen. Here's how I did it:

In a gitpod workspace, open three terminals.

Terminal #1:

[code]

Terminal #2:

[code]

Now, in terminal #1 you will end up in a situation like this:

[code]

From here you can start tailscale just fine, moving everything state to tmp to avoid permissions issues on the mount namespace.

[code]

Now in Terminal #3

[code]

It will prompt log

[2021-10-24 10:26] gengjiawen opened #6374 "vim broken on gitpod"
![image](https://user-images.githubusercontent.com/3759816/138589907-ac694118-e3b2-47da-ad86-07387f9ec812.png)

[code]

[2021-10-24 19:54] geropl opened #6375 "A user got his account deleted (triggered by server restarted)"
The user had:
 - a GitHub account he never used since January
 - a GitLab account he used regularly

On a server restart (triggered to mitigate another issue) this user's Gitpod Account got deleted. After trying to re-connect to his workspace, he obviously was not able to access his workspaces from the old (deleted) account.

@AlexTugarev Any idea what might have happened?

Details incl. IDs can b

[2021-10-25 01:29] tnir opened #6377 "Error: 4 DEADLINE_EXCEEDED: Deadline exceeded"
In some cases, we see the following error:

![](https://community.gitpod.io/uploads/default/optimized/2X/5/544da6d26783f4cf761dd84f153be6611c39c526_2_690x388.jpeg)

Image courtesy of https://community.gitpod.io/u/coder2195text

That does not provide any information worth resolving the problem.

## Solution

Update the (error) message to make (end) users take some actions to resolve the problem.

#

[2021-10-25 06:45] konne opened #6379 "Show invited users"
If we add users and add for them a license we can not easily check who has not signed in and ping him again.
In the manage Team we just have this fields.
On top, it would be great to just see the last used date for the license.

![image](https://user-images.githubusercontent.com/1100969/138647252-96bd9f33-e437-4cc4-b93f-e81ad03d1348.png)

[2021-10-25 07:00] geropl opened #6380 "Potential websocket leak in server"
### Bug description

This weekend we saw yet another increase in `server` RAM and `messagebus` "Total Queues" to the point where one of our alerts triggered: https://gitpod.pagerduty.com/incidents/Q15EWAMFLLPAP1?utm_source=slack&utm_campaign=channel

We should investigate and fix this.

### Steps to reproduce

Have `server` running long enough (~7-10 days) in prod

### Workspace affected

_No resp

[2021-10-25 07:48] geropl opened #6381 "https://gitpod.io/favicon.ico returns 404"
### Bug description

https://console.cloud.google.com/logs/query;cursorTimestamp=2021-10-25T07:28:16.982179712Z;query=resource.labels.container_name%3D%22proxy%22%0Atimestamp%3D%222021-10-25T07:28:16.720706875Z%22%0AinsertId%3D%22l2c868ll1n9gp0de%22?project=gitpod-191109

We should definitely serve an icon there.

### Steps to reproduce

click https://gitpod.io/favicon.ico

### Workspace affected

[2021-10-25 07:54] #6375 closed, assigned to nobody

[2021-10-25 08:19] #6314 closed, assigned to nobody

[2021-10-25 08:40] gtsiolis opened #6383 "Do not submit form on enter when there's no focus when deleting user or team"
### Bug description

Users can delete their account by going to [`/account`](https://gitpod.io/account), clicking _Delete Account_, and then clicking enter without even focusing on the modal or on any input or button within the modal. ⚠️

This is also bypassing the disabled state of the primary action button within the confirmation modal that requires the user to type their email to confirm. ❗

Th

[2021-10-25 08:45] #6374 closed, assigned to corneliusludmann

[2021-10-25 09:25] filiptronicek opened #6384 "Have the Gitpod walkthroughs featured on the home page"
Currently, the Walkthroughs by Gitpod are just placed among others on the welcome page of VS Code. This issue wants to make it featured before every other walkthrough to make it more visible and easier to access.

[2021-10-25 10:50] corneliusludmann opened #6386 "Add SLO/alerts for VSCode extension installations"
@corneliusludmann Should we close it and open a new issue with SLO for extension installation and alert based on it?

_Originally posted by @akosyakov in https://github.com/gitpod-io/gitpod/issues/6190#issuecomment-950704203_

[2021-10-25 13:07] tobiasdiez opened #6388 "Installing pari using brew and giving linuxbrew priority in $PATH breaks new bash console"
### Bug description

Installing pari using brew and giving linuxbrew priority in `$PATH` breaks the creation of the bash console.

### Steps to reproduce

- `brew install pari`
- PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
- Create a new bash console
- Get the following error
[code]
Reason is that
https://github.com/gitpod-io/gitpod/blob/4dd5268d6889f0f01c34af37cda7ce521b49143a/components/image-bu

[2021-10-25 16:58] shaal opened #6391 "Various prebuild issues"
### Bug description

I've been working a lot with prebuilds, and some issues are still not resolved:

1. When creating a PR and running a prebuild for the FIRST time, you can go to the Gitpod's URL of the project (ie:  https://gitpod.io/#https://github.com/drud/ddev) and you can see all the commands that the prebuild is running.
But when making new commits after that, and you'll only see "Connecti

[2021-10-25 18:13] loujaybee opened #6392 "Add a feature banner to hosted VSCode"
The release of [https://vscode.dev/](https://vscode.dev/) came with an update banner shown above the IDE.

![Screenshot 2021-10-25 at 19 08 29](https://user-images.githubusercontent.com/5528307/138747643-685c0c6f-1d6f-4ab6-bc19-cd6ba8b6ff46.png)

This would be useful functionality to have in Gitpod to surface news, features, or general announcements.

We have [similar functionality in the Gitpod w

[2021-10-25 18:37] csweichel opened #6393 "Wrap workspace ring2 in network namespace"
The network namespace of workspaces is the network namespace of the Kubernetes pod. Hence the `CAP_SYS_ADMIN` and `CAP_NET_*` capabilities we afford to users are of no worth w.r.t. to networking. For docker we specifically create a new network namespace using slirp4netns and use the a facade to the docker userland proxy to enable port-detection and forwarding into the outer (Kubernetes pod) networ

[2021-10-25 20:02] gtsiolis opened #6395 "Change dashboard default theme to system for new users"
### Problem to solve

The default dashboard theme currently is set to _Light_.

However, the dashboard supports syncing the theme with the dashboard, including workspace loading and login pages, using [`prefers-color-scheme`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme).

This setting could be hard to discover and automatically using the system theme can improve UX

[2021-10-26 06:01] princerachit opened #6396 "[ws-deployment] Create werft job configuration for cluster creation automation"
Create werft job configuration to automate creation of clusters.
This job should accept:
1. Configuration file path
1. Gitpod commit sha

It should build ws-deployment and use it to create cluster

[2021-10-26 07:14] Happypig375 opened #6398 "Make the .NET Notebooks extension available"
https://marketplace.visualstudio.com/items?itemName=ms-dotnettools.dotnet-interactive-vscode

[2021-10-26 07:42] #6398 closed, assigned to nobody

[2021-10-26 08:22] #6396 closed, assigned to princerachit

[2021-10-26 10:57] MrSimonEmms opened #6400 "Replace hard-coded gitpod.io links with envvar-driven links"
I have found a couple of links in the dashboard which have a hard-coded reference to "gitpod.io". These should be replaced to use the `GITPOD_DOMAIN` envvar supplied at runtime - this will give self-hosted users a fully native experience.

- [ ] [Dashboard workspaces](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/workspaces/Workspaces.tsx#L208)
- [ ] [Dashboard start works

[2021-10-26 10:59] #6356 closed, assigned to loujaybee

[2021-10-26 11:08] MrSimonEmms opened #6401 "[Installer] support auth config passed in via config.yaml"
GitHub config entered from the webpage works fine, but putting the same config into the `config.yaml` causes the server to break. Example error below:

[code]

[2021-10-26 14:12] jgallucci32 opened #6402 "[self-hosted] Unable to load schema from 'https://gitpod.io/schemas/gitpod-schema.json': No content."
### Bug description

When launching a Gitpod workspace, the `.gitpod.yml` file will sometimes report this error in VS Code
![image](https://user-images.githubusercontent.com/9018897/138895996-44bd165f-e8ce-4a7f-b8fa-8aed92bfd043.png)

This was previously mentioned in https://github.com/gitpod-io/gitpod/issues/4967 but was not reproduceable.

It is worth noting the endpoint is actually available wi

[2021-10-26 14:12] gtsiolis opened #6403 "Change workbench preferred color themes"
### Problem to solve

1. We currently default to Gitpod Light theme for VS Code.

2. VS Code 1.42 introduced[[1](https://code.visualstudio.com/updates/v1_42#_auto-switch-theme-based-on-os-color-scheme)] the ability to auto switch theme based on OS color scheme, using the following settings:

[code]

3. Current workbench defaults for preferred color themes still use the default Light+ and Dark+ the

[2021-10-26 16:01] mrsimonemms opened #6404 "Invalid value used for ws-manager node affinity"
### Bug description

API version: `main.1640`
WS Manager: `commit-93170cc9bf3c9c08dc9c50c5522b480cfc27e5ab`

![image](https://user-images.githubusercontent.com/275848/138916414-0e5154aa-3486-4f8c-bf5d-487b72491deb.png)

[code]

### Steps to reproduce

Use the Installer to create an InCluster environment and open an example workspace.

cc @cs

### Workspace affected

_No response_

### Expected beh

[2021-10-26 18:16] mikenikles opened #6410 "Track how many people use `from-referrer` and end up with an error message"
While https://gitpod.io/from-referrer/ is a convenient way to create an "Open in Gitpod" button, it is broken in browsers like Brave and results in a bad user experience.

I'd like to track how many people end up seeing the error message saying "No Referrer Found" ([source code](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/FromReferrer.tsx)).
I'd also like to track how ma

[2021-10-27 02:16] jwpjrdev opened #6415 "Desktop view for workspaces"
It'd be really nice to be able to set up say KDE to interact with workspaces through a GUI and view it in a VS Code or browser window. I personally would use it to interact with QEMU. This would be disabled by default since it would consume extra resources and I would think that most people wouldn't use it.

[2021-10-27 05:20] princerachit opened #6416 "[ws-deployment] Create a service account to run terraform scripts"
We need a service account with right permissions to enable creation of terraform resources through the script/modules generated in the werft job.
The existing service account do not have enough permissions and fail with 403 forbidden access error.

[2021-10-27 07:49] #6381 closed, assigned to iQQBot

[2021-10-27 08:42] JanKoehnlein opened #6421 "[teams] strange behavior when changing the Gitpod GitHub app config"
### Bug description

I just tried to change the watched repos of the Gitpod-Staging GitHub app, switching from all in the org to just specific ones.
1) It brought up the "Install GitHub App page in Gitpod
<img width="592" alt="Screen Shot 2021-10-27 at 10 37 43" src="https://user-images.githubusercontent.com/377752/139031443-0251a1d0-93b0-4c4e-ba76-aa167500e914.png">
2) Clicking on "Install App" r

[2021-10-27 10:06] #6371 closed, assigned to iQQBot

[2021-10-27 12:36] #6209 closed, assigned to nobody

[2021-10-27 12:38] MrSimonEmms opened #6422 "[Installer]: update guides to use new Installer process"
- [ ] AWS
- [x] GKE
- [x] Azure

[2021-10-27 12:40] MrSimonEmms opened #6423 "[Installer]: MVP combinations of successful installs"
- [x] GKE + InCluster #6276
- [x] GKE + external
- [x] Azure + InCluster
- [x] Azure + external
- [ ] AWS + InCluster
- [ ] AWS + external

Makes sense to be done with #6422

[2021-10-27 20:28] James-VT opened #6429 "Unable to open workspace"
### Bug description

My workspace is currently "hanging." First it was stuck in stopping, now it's stuck in starting.

### Steps to reproduce

It made the transition from "stopping" to "starting" when I tried closing the tab for it and reopening via Github which I now realise I should not have done, but having done that, it's now stuck in "Starting" instead of "stopping." Fortunately the workspace

[2021-10-28 04:37] #6404 closed, assigned to nobody

[2021-10-28 08:18] filiptronicek opened #6434 "All terminals in a workspace open to the side"
### Bug description

Gitpod opens all configured terminals in one tab, although they should be in separate ones.

![image](https://user-images.githubusercontent.com/29888641/139214241-c98b2849-e8c0-4aa1-bf7a-289074052410.png)

Also applicable to the Insiders build of desktop VS Code via the local app: (thanks to @bigint for the recording and reporting the issue in [our Discord](https://gitpod.io/c

[2021-10-28 09:05] geropl opened #6435 "DisposeWorkspace never called form short-lived prebuilds"
### Bug description

For shortlived prebuilds, `ws-daemon.DisposeWorkspace` is never called, resulting in missing backup/snapshot and logs.

Causes: #5573

### Steps to reproduce

 - create a test-team on gitpod.io
 - add project https://github.com/geropl/test-repo
 - "run prebuild" and wait until it's done
 - lookup the prebuild in the DB to get/verify instanceId/ownerId/workspaceId
 - Go to GClo

[2021-10-28 09:44] akosyakov opened #6436 "[code] port links validation in .gitpod.yml from server to gitpod-web extension"
### Bug description

We disable it temporarily https://github.com/gitpod-io/openvscode-server/blob/f14b5f5730b57a05656c1fef9de2f2c22ee8a0c1/extensions/gitpod-web/src/extension.ts#L845

but we should recover it before next stable release.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anyth

[2021-10-28 10:25] akosyakov opened #6437 "[code] webview host is not replaced in web worker extension host"
### Bug description

It is the same in production, but it means that webviews from web workers are not going to work always. Not super critical, but we should fix in blobserve.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-28 10:31] loujaybee opened #6438 "Small UI changes for Desktop IDE configuration dashboard (JetBrains)"
A collection of smaller UI suggestions for the JetBrains dashboard.

Changes:

1. Update the `IdeReady` helper text when IDE is loading from `Your Workspace is Ready` to be: `Running` ([Source](https://github.com/gitpod-io/gitpod/pull/6270#discussion_r734677553))

2. Update `Use Desktop IDE` text on the configuration page to be: `Open in Desktop IDE` ([source](https://github.com/gitpod-io/gitpod/p

[2021-10-28 13:42] csweichel opened #6441 "[ws-proxy] Don't use DNS but service endpoints"
Right now we use the kubernetes internal DNS to resolve endpoints for workspaces. This incurs the DNS propagation delays and is a bit fickle. Instead we could use the service endpoints, or even pods directly to determine where a request should go.

[2021-10-28 21:43] #6303 closed, assigned to AlexTugarev

[2021-10-28 21:48] mikenikles opened #6445 "gitpod.io/<project-url> no longer works, # is required"
### Bug description

From a user via the docs feedback widget.

### Steps to reproduce

Click https://gitpod.io/https://github.com/gitpod-io/website

### Workspace affected

All

### Expected behavior

A Gitpod workspace starts

### Example repository

Any

### Anything else?

_No response_

[2021-10-28 23:52] rfay opened #6446 "Docker network bridge gateway is not functional (and `docker0` interface not provided on host)"
### Bug description

In docker networking, it's normal to have a way to access a listener on the host side from inside the container. On macOS and Windows this is normally provided as `host.docker.internal`

Docker 20.10+ provides a way to provide this as an extra_host by referring to `host-gateway`

So if you run `docker run --add-host host.docker.internal:host-gateway busybox sh` then you should

[2021-10-29 04:43] ghuntley opened #6447 "A Gitpod experience via Native Mobile Applications (iOS, iPadOS, Android)"
👋 I'm putting together an RFC within Gitpod for engaging a mobile development freelancer to potentially build native wrappers for Android and iOS which if built would be open-source.

If a native experience with Gitpod for mobile was to happen it would likely be:

- App startup time matters thus likely ruling out x-plat solutions.
- Android via Kotlin
- iOS via Swift
- Keyboard hooked so all hotke

[2021-10-29 08:13] gbraad opened #6449 "Add support for Fedora and EL (RHEL, CentOS) based workspace images"
Adding support for Fedora and EL, like CentOS/RHEL should be easy, as the detection already handles Amazon Linux. Changes would need to be made to https://github.com/gitpod-io/gitpod/tree/1cf441ab78ef5d9d23eb5ef31ffaaf5f330da1e5/components/image-builder/workspace-image-layer to detect the distro type and pick the correct appended dockerfile.

https://github.com/gitpod-io/gitpod/blob/1cf441ab78ef5d

[2021-10-29 08:31] ghuntley opened #6450 "Make Gitpod prebuilds show up as GitHub Status checks"
Q: “How do I get gitpod prebuilds to show up in my git commit checks?”

![E320DD41-D4F6-4A5B-9A35-C9364E5F84B7](https://user-images.githubusercontent.com/127353/139402802-35ebd398-f1fc-42c6-9916-04fee8fd0a12.png)

[2021-10-29 09:09] #6416 closed, assigned to princerachit

[2021-10-29 09:10] zuernBernhard opened #6452 "VSCode Desktop with Multiple Accounts not possible"
### Bug description

Hi, I am working for different Clients and have different bitbucket accounts for them. thats I have to have different Gitpod Accounts. I have used one to work local in VSCode Desktop. Now i want to open a workspace in the other account in my local vscode or vscode insiders and can not connect
what can I do ?

`
Could not even solve this by creating a team and adding both users

[2021-10-29 12:43] ghost opened #6454 "Gitpod for VScode not opening"
### Bug description

[code]

### Steps to reproduce

1. On a machine in the EU,
2. open a gitpod repo
3. click "open in vscode"
4. Wait for it to open
5. see error

### Workspace affected

All of them but I'm working on tomato-krill-ms1405co.ws-eu18

### Expected behavior

_No response_

### Example repository

https://gitpod.io/#https://gitlab.com/going-ide/going-ide.gitlab.io

### Anything else?

[2021-10-29 12:45] #6454 closed, assigned to nobody

[2021-10-29 12:47] #6168 closed, assigned to AlexTugarev

[2021-10-29 13:17] ArthurSens opened #6455 "[preview-envs/observability] Prometheus CRD fails to install"
Monitoring satellite fails 100% of the time right now because it fails to apply the Prometheus Custom Resource Definition into the cluster, with the following error:
[code]

[2021-10-29 14:39] akosyakov opened #6456 "[code] source maps should be available for production build"

[2021-10-29 17:01] fjolne opened #6457 "[tailscale] MagicDNS doesn't work"
### Bug description

Tailscale MagicDNS doesn't work inside Gitpod workspace.

### Steps to reproduce

[code]

### Workspace affected

https://cyan-tuna-u17vs9pt.ws-eu18.gitpod.io/

### Expected behavior

[code]

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-29 18:25] anugrahsinghal commented on #6342
Please add me !! ♥️

[2021-10-29 19:00] woehrl01 commented on #5090
Hi all,

I also have now put a lot of time into workaround this bug. I found the following working reliably:

`.gitpod.Dockerfile`
[code]

and
`.gitpod.yml`
[code]

Still a huge bummer as a first impression (miles away from GitHub Codespaces), considering that this issue is known for many months. In combination, that each rebuild cycle is pretty annoying and takes numerous clicks. Please put up a

[2021-10-29 19:37] ankushg commented on #6342
interested as well 😄

[2021-10-29 19:42] fjolne opened #6459 "Ability to add custom hosts (via e.g. /etc/hosts)"
Related to https://github.com/gitpod-io/gitpod/issues/2739, but the `tasks` solution doesn't currently work for not self-hosted workspaces:
[code]
and `hostAliases` solution isn't applicable.

It's possible to write to `/etc/hosts` from `USER root` via custom Docker image, but it gets overwritten by Kubernetes (as it [rightfully should](https://kubernetes.io/docs/tasks/network/customize-hosts-file

[2021-10-29 21:54] jeanp413 commented on #6434
I cherry picked it and pushed it to `gp-code/main` as it seems it won't me merge for this release

[2021-10-29 22:54] ghuntley opened #6460 "Known issues with .NET Core and a workaround"
# Overview

.NET compilation currently fails with the following error:

[code]

As an [old-school .NET developer](https://github.com/dotnet-foundation/website/pull/968/files) I understand your pain and apologize. Google GKE released a Linux kernel update that broke [/proc/pid/maps](https://github.com/gitpod-io/gitpod/issues/5090) with .NET. Our engineers are working towards a path of moving off GK

[2021-10-29 22:57] ghuntley commented on #5090
Heard loud and clear, I agree. Thank you very much for putting in the time to identify a workaround. A notice has been posted at https://github.com/gitpod-io/gitpod/issues/6460 and is now pinned on GitHub.

[2021-10-29 23:05] kreditor0815 commented on #5090
just a little side-note. I tried my existing dotnet project today and Omnisharp was installing successfully. I did not apply the suggested workaround here - just a plain dotnet project as linked in the original issue description.

- self hosted environment here

[2021-10-30 03:51] DentonGentry commented on #6457
Odd: I had checked MagicDNS at one point, but a lot happened in a very short period of time and I don't know how this happened.

Anyway, this:

`- dns: rename /etc/resolv.conf /etc/resolv.pre-tailscale-backup.conf: device or resource busy`

should be fixed by this: https://github.com/tailscale/tailscale/pull/3015

which you can get by changing the Dockerfile from the stable channel:
`RUN curl -fsS

[2021-10-30 03:51] DentonGentry commented on #6457
Oh: I think it probably happened because I was [building from source for a while](https://github.com/tailscale/gitpod/commit/73c6374bb99d7e34db61710e4a5f47a471f6bda1) from a branch which contained the /etc/resolv.conf fix.

[2021-10-30 05:15] mbildner commented on #6342
Please add me!

[2021-10-30 09:05] smeijer commented on #6342
Sweet! Sign me up!

[2021-10-30 09:14] bigint commented on #6342
Add me to the queue 🤗

[2021-10-30 10:57] buggtb commented on #6342
Hook me up!

[2021-10-30 11:21] #4898 closed

[2021-10-30 12:17] loujaybee commented on #6342
A note that: https://twitter.com/yogicodes sent me a message on Twitter, so I have his contact separately.

[2021-10-30 13:25] woehrl01 commented on #5090
@kreditor0815 this issue only persists on GKS. If you self hosted you'll likely have a different kernel.

[2021-10-30 13:37] murratore commented on #5090
When I start this Repo I got errors
`Microsoft.Build.Exceptions.InvalidProjectFileException: The SDK 'Microsoft.NET.Sdk' specified could not be found.  /workspace/template-dotnet-core-cli-csharp/dotnetcore.csproj`

[2021-10-30 14:22] #4893 closed

[2021-10-30 14:56] normcrandall commented on #6342
Please add me.

[2021-10-30 15:00] fjolne commented on #6457
@DentonGentry Thanks! Unfortunately, the solution with `unstable` branch doesn't appear to work as it fetches a Tailscale version [right before](https://github.com/tailscale/tailscale/commit/85fa1b0d616b27fd294316d66178730feae33680) the [merge commit](https://github.com/tailscale/tailscale/commit/a320d706141d8da93e158c5b54c229a0acc417f5) of the mentioned PR.
[code]

Building from source seems to b

[2021-10-30 16:57] DentonGentry commented on #6457
I built a new unstable release from today's HEAD, which includes tailscale/tailscale#3015
https://pkgs.tailscale.com/unstable/

[2021-10-30 19:04] SilvanCodes commented on #1413
Just wanted to inform I managed to install chromium via nix.
It's quite a stretch but if you really need it, here you go. ¯\\_(ツ)_/¯

I installed nix in the Dockerfile by adapting the official image here: https://github.com/NixOS/docker/blob/master/Dockerfile

[code]

and then having the following `shell.nix`:

[code]
After running `nix-shell` you have a working chromium.

[2021-10-30 19:07] SilvanCodes commented on #4456
Looking forward to see this land! 👍🏼

[2021-10-30 20:05] jdiala commented on #6342
Please add me. Thanks!

[2021-10-30 20:42] fjolne commented on #6457
Still no luck:
[code]

[2021-10-31 01:35] #4892 closed

[2021-10-31 03:33] exemaitch commented on #6342
Would love to get in on this!  Thanks!

[2021-10-31 05:18] spkane opened #6465 "Unable to set default Application User settings"
### Bug description

I am installing `openvscode-server` on an Ubuntu server and am trying to set some of the default User settings, so that all session have these set by default.

In particular I'd like to set these four:

[code]

I can easily set them in a running session, but can not figure out a way to make these the default behavior for all sessions.

### Steps to reproduce

1) Try to create

[2021-10-31 07:42] Koch commented on #6342
Very very interested :)

[2021-10-31 13:47] csweichel commented on #5231
/schedule

[2021-10-31 13:47] roboquat commented on #5231
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5231#issuecomment-955704259):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-31 13:47] csweichel commented on #5231
/assign @aledbf

[2021-10-31 13:56] csweichel commented on #6441
/schedule

[2021-10-31 13:56] roboquat commented on #6441
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6441#issuecomment-955705728):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-31 13:56] csweichel commented on #6441
/assign @aledbf

[2021-10-31 13:57] #6429 closed

[2021-10-31 13:58] csweichel commented on #6402
This strikes me as either a CORS issue on the endpoint (@gitpod-io/engineering-meta) or something we should change in the IDE (@gitpod-io/engineering-ide).

@akosyakov wdyt?

[2021-10-31 14:01] csweichel commented on #6008
The workspace content state loss is most likely related to the resource pressure situation and the main thing we'd want to focus on. At the moment there is no good way to provide better memory resource isolation, but we must handle this case gracefully.

[2021-10-31 14:01] csweichel commented on #6008
/schedule

[2021-10-31 14:01] roboquat commented on #6008
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6008#issuecomment-955706440):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-31 14:01] jithinjks commented on #6455
is this solved, am stuck with this issue.

`g708ltrv@g708ltrv-Latitude-5400:~/Documents/workspace/deployment-artifactory/monitoring/production/new_bundle$ k apply -f bundle.yaml
customresourcedefinition.apiextensions.k8s.io/alertmanagerconfigs.monitoring.coreos.com created
customresourcedefinition.apiextensions.k8s.io/alertmanagers.monitoring.coreos.com created
customresourcedefinition.apiextensio

[2021-10-31 14:01] csweichel commented on #5381
We've been unable to reproduce this.

[2021-10-31 14:01] #5381 closed

[2021-10-31 14:04] csweichel commented on #6192
This has been done already.

[2021-10-31 14:04] #6192 closed

[2021-10-31 14:09] csweichel commented on #6457
In a Gitpod workspace `/etc/resolve.conf` is provided by Kubernetes can hence cannot be overwritten. We could add a feature that makes it writable though: instead of just bind-mounting the "outer" `resolv.conf`, we'd copy its content into a writeable file in the ring2 mount namespace.

I'll prep a change to evaluate this option.

[2021-10-31 14:09] csweichel commented on #6457
/schedule

[2021-10-31 14:09] roboquat commented on #6457
@csweichel: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6457#issuecomment-955707780):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my be

[2021-10-31 14:09] csweichel commented on #6457
/assign @csweichel

[2021-10-31 14:09] csweichel commented on #6457
/team workspace

[2021-10-31 14:09] csweichel commented on #6457
/schedule

[2021-10-31 14:09] roboquat commented on #6457
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6457#issuecomment-955707849):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-31 14:15] DentonGentry commented on #6457
tailscaled reads in /etc/resolv.conf to determine if the system is using a DNS system capable of handling Split-DNS (i.e. able to configure one set of DNS servers to be used for example.com queries, and a different set of servers to use for everything else). This includes:
- systemd-resolved
- NetworkManager

If neither of those appears to be in use, we assume libc resolv support is being used whi

[2021-10-31 14:17] gtsiolis opened #6466 "Epic: Improve Community Contributor Experience"
This epic is a placeholder that captures the improvements we'd like to do as part of making it easier for everyone to contribute to Gitpod.

### Objective 🥅

Guide community contributors step-by-step from opening a pull request to merging a contribution, while leveraging a combination of automation (see [`gitbot`](https://github.com/gitpod-io/gitbot), etc) and interactions with the Gitpod team mem

[2021-10-31 14:19] csweichel commented on #6457
That explains this case perfectly, as running systemd in workspaces would be highly unusual. AFAIK systemd expects to be PID 1, which for Gitpod workspaces is always supervisor. I also haven't seen anyone use NetworkManager yet.

[2021-10-31 14:46] rm-jamotion commented on #6342
Please add 🤝

[2021-10-31 14:46] gtsiolis commented on #5258
Cross-posting from https://github.com/gitpod-io/roadmap/issues/27#issuecomment-947010907:

💭 **thought**: I've tried to outline some distinct next steps we'd like to work on as part of making it easier for everyone to contribute to Gitpod in https://github.com/gitpod-io/gitpod/issues/6466 and this includes also what we think is a good first MVC (minimum viable change) which is to document how to c

[2021-10-31 14:54] csweichel opened #6468 "[image-builder-mk3] Don't expect a backup when running an image build"
### Bug description

Backups are irrelevant when building a workspace image. We should fail workspace image-builds because of missing backups.

### Steps to reproduce

1. Start a workspace on a repo with a failing image build
2. Continue with default image
3. Have the workspace fail without receiving a backup
4. Try to restart the workspace, it will fail because of the failing content init during

[2021-10-31 15:00] csweichel commented on #6457
Making `resolv.conf` writeable indeed does the trick:
![image](https://user-images.githubusercontent.com/3210701/139589560-3310e6d6-2c38-4be3-97c0-a426a9338542.png)

[2021-10-31 15:06] #6457 closed

[2021-10-31 16:18] somehowchris opened #6469 "Support for remote workspaces on nova"
Hey there,

I came across nova.app cause its a macOS native app and uses a hell of a lot less resources as vs code, it has built in support for remote bound workspaces, according to their webpage.

It would be lovely if we could have a setup just like the ones for jet brain tools

[2021-10-31 16:56] ad-si commented on #4971
Has this been fixed?

[2021-10-31 21:36] Dev-Time commented on #6342
Very interested in this feature.

[2021-10-31 22:15] ghuntley commented on #6469
First time I've heard of Nova.app!

Looks like it supports extensions (here's the source code of [TabNine](https://github.com/alexanderflink/nova-tabnine)). The path would involve something like...

- community/nova authors implementing an extension that connects into Gitpod via SSH and remotely editing files (similar to a SFP fuse mount).
- community/nova authors integrating https://www.gitpod.io

[2021-10-31 22:22] ghuntley commented on #5258
Some additional thoughts:

📝 The destination for a `CONTRIBUTING.md` should be `gitpod-io/.github/CONTRIBUTING.md`
📝 `CONTRIBUTING.md` purpose is to direct people to `https://www.gitpod.io/docs/contributing`
📝 Content existing at `https://www.gitpod.io/docs/contributing` enables capture of feedback (via widgets) and that drives continual improvements.

[2021-10-31 22:42] ghuntley commented on #6450
Have asked for more information. I think `addcheck: true` should be changed to be the default behaviour.

[2021-11-01 00:34] tnir commented on #5534
@jankeromnes Any updates?

[2021-11-01 01:10] ghuntley opened #6471 "Keyboard shortcut to open exposed port in a browser"
Crtl+Shift+P should yield a dropdown like this

<img width="1195" alt="2021-11-01_11-08-23" src="https://user-images.githubusercontent.com/127353/139608410-07298244-1f30-4ab5-b93d-b292fb014d7b.png">

Searching for "port" should present an option

A user would then press enter at which point an a list of forwarded ports are displayed

When a user presses enter on a port a new browser window is open

[2021-11-01 02:48] ghuntley commented on #5258
Have started scaffolding towards above via:
- https://github.com/gitpod-io/.github/blob/main/CONTRIBUTING.md
- https://github.com/gitpod-io/website/pull/1187

[2021-11-01 05:22] gbraad commented on #6449
I made a PR with mostly symlinking, as the files would be identical for amazon, centos/rhel and fedora. the different detection might benefit the identifying process, but the copying would not be.

[2021-11-01 06:19] bigint commented on #5534
Waiting for this very hard 🤩

[2021-11-01 07:23] svenefftinge commented on #6466
Thanks, George, this is great!

I believe contributing should work self-served instead of applying and waiting for getting access to our infrastructure. I think @iQQBot has a local setup using minikube. With a streamlined installation, a self-hosted instance on my own machine or cloud should be a great preview environment.
@iQQBot can you maybe write down the steps to get to such a dev environment

[2021-11-01 07:37] svenefftinge commented on #6466
@iQQBot cool! 🎉  It's not about minikube, even better if you use a standard kubernetes cluster. Also, we are happy to help, if you could just write down the steps someone can verify them and streamline the docs.

[2021-11-01 07:54] akosyakov commented on #4971
@ad-si Could you try? If not please open the issue int the upstream: https://github.com/microsoft/vscode

[2021-11-01 07:54] #4971 closed

[2021-11-01 08:19] JanKoehnlein opened #6474 "[extensions] tailwind CSS extension crashes"
### Bug description

Starting the a workspace on the gitpod repo, I get the following error in the IDE
<img width="444" alt="Screen Shot 2021-11-01 at 09 13 29" src="https://user-images.githubusercontent.com/377752/139642079-046dba3d-ff50-43e1-b5d1-f7226b6d7a71.png">

### Steps to reproduce

Open https://gitpod.io/#https://github.com/gitpod-io/gitpod and wait for the IDE to initialize (VS Code Ins

[2021-11-01 08:22] meysholdt opened #6475 "Ability to rotate certs for pluggable workspace clusters"
For the connection between meta and workspace, we use two certs to secure the gRPC connection: ws-manager-tls, ws-manager-client-tls.  They're signed with self-signed root CA which will expire next year.

What would be the process to rotate these certs without imposing downtime?

If there is a process that I'm not aware of: awesome!
if there is no process yet: Maybe ws-manager-bridge can hold a ce

[2021-11-01 08:22] jldec commented on #6410
I wonder how trackable this right now. Don't Brave users without referrer also block segment with a privacy blocker?

[2021-11-01 08:28] akosyakov commented on #6402
We are running quite outdated yaml extension in VS Code (3 months old). It would be good first to update it.

[2021-11-01 08:29] akosyakov opened #6476 "[code] update product.json"
It should run latest yaml extension, also other attributes should be checked, [see](https://www.notion.so/gitpod/Gitpod-VS-Code-1aa1dfcfdc5147869ec5ffcf86f430a6#4300cbdff6444d9fa92786cb36bc56c2). Please also add `genuitecllc.codetogether` in a list of extensions allowed to use proposed APIs.

[2021-11-01 08:29] JanKoehnlein commented on #6460
/team workspace

[2021-11-01 08:30] schickling commented on #6450
Facing the same problem here: https://github.com/contentlayerdev/contentlayer/blob/main/.gitpod.yml

[code]

Doesn't show up in the checks:

![CleanShot 2021-11-01 at 09 29 14](https://user-images.githubusercontent.com/1567498/139643622-26ad9796-8998-4067-a174-9d74f935c2f5.gif)

However it seems to be working in the Gitpod dashboard:

<img width="905" alt="image" src="https://user-images.githubuse

[2021-11-01 08:30] akosyakov commented on #6476
/schedule

[2021-11-01 08:30] roboquat commented on #6476
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6476#issuecomment-956035548):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-11-01 08:34] akosyakov commented on #6402
What interesting though that this error reported only if content was not empty, on network error there will be another error: https://github.com/redhat-developer/yaml-language-server/blob/6df37d38dfe7bedce12aee4175fbe7da05b8e333/src/languageservice/services/yamlSchemaService.ts#L601-L634 I am not sure how that can be happen.

[2021-11-01 08:40] svenefftinge commented on #5583
Now, that new users land in the /new flow, we should allow them to pick a template to start fresh projects rather than only importing existing projects. I think it could be cool to design this feature, so that I can use a context URL with an archive or so, that is used. So people can build links to easily start projects based on their own templates.

[2021-11-01 08:41] JanKoehnlein commented on #6349
I've been using insiders already, but couldn't reproduce it yet with the current version. I am closing this and reopening with raised priority when it happens again

[2021-11-01 08:41] #6349 closed

[2021-11-01 08:41] svenefftinge commented on #5583
@jldec @JanKoehnlein happy to jump on a call to explore this in more depth.

[2021-11-01 08:42] csweichel opened #6478 "[supervisor] Disable gRPC debug logs for the status server"
Right now the supervisor logs are littered with messages like
[code]

We should disable them or only print them when `SUPERVISOR_DEBUG` is enabled

[2021-11-01 08:46] csweichel opened #6479 "Add `gpctl debug <component>` which enables the debug log level for a component"
For most components that would be equivalent to
[code]

For supervisor we'd modify the default workspacetemplate and set `SUPERVISOR_DEBUG` to `true`.

[2021-11-01 08:46] akosyakov commented on #6471
Just fyi:
- F1
- Focus on Gitpod Workspaces View
- Select a port with up/arrow and press enter to select, then tab to focus inline actions
- Use left/right arrow to select action and press enter

The command palette would be nice, also when the port is selected the command palette could provide commands for inline actions.

[2021-11-01 08:47] csweichel commented on #6479
/schedule

[2021-11-01 08:47] roboquat commented on #6479
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6479#issuecomment-956044236):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-01 08:47] csweichel commented on #6479
/assign

[2021-11-01 08:47] akosyakov commented on #6478
It is the case right now, not?

[2021-11-01 08:50] akosyakov commented on #6434
confirmed that it works now

[2021-11-01 08:50] #6434 closed

[2021-11-01 08:52] akosyakov commented on #6474
Did you capture any logs from browser or the output channel?

I tried the link and it works for me on Insiders:
<img width="1904" alt="Screenshot 2021-11-01 at 09 40 35" src="https://user-images.githubusercontent.com/3082655/139645037-31159d3d-bd94-4366-ad27-b2951c721e98.png">

[2021-11-01 09:00] JanKoehnlein commented on #6402
Nit: Removing all team labels moves an issue into Nirvana from my perspective

[2021-11-01 09:06] akosyakov commented on #6478
I removed for now from the groundwork, I am not sure what else should be done. As far as I know it is already implemented. We see them indeed in prev env, but only because debug is always on there on purporse.

[2021-11-01 09:21] AlexTugarev commented on #6410
It's not just the brave browser.

Recent versions of Safari.app won't work either, because the `from-referrer` url is missing the `path` part.

Perhaps we should just drop that feature.

[2021-11-01 09:26] akosyakov commented on #6436
Generally it seems to work, but there are following regressions, i.e. it works if you use stable version:
- [ ] the following reported like extension is not found in Open VSX when it is there:
[code]
- [ ] if you add following and try to use install quick fix it fails:
[code]

[2021-11-01 09:27] ghuntley commented on #6471
I’m on an iPad that doesn’t have F1 :/

[2021-11-01 09:29] akosyakov commented on #6436
I think it is a good candidate for integration testing. Since [there are many cases](https://github.com/gitpod-io/gitpod/pull/4646) and easy to cause regressions.

[2021-11-01 10:33] aledbf opened #6482 "[supervisor] Only ports listening in 0.0.0.0 should be auto exposed"
### Bug description

If an application uses 127.0.0.1 to bind some port, we should not see the expose port dialog

### Steps to reproduce

Open https://gitpod.io/#https://github.com/gitpod-io/template-sveltejs
After the workspace starts we should not see port 5000 exposed

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anythi

[2021-11-01 10:35] akosyakov commented on #6482
Why? many setups expose by default on localhost and 127.0.0.1. We install local proxy on purpose to make them work.

[2021-11-01 12:24] ArthurSens commented on #6455
hey @jithinjks are you asking about the issue in this repository or about installing the CRDs?

BThe problem on our preview environments will be solved soon by #6458. but if you've come here to understand the CRD problems, just use `kubectl create -f` instead of `kubectl apply -f` and it should work

[2021-11-01 13:09] konne commented on #5945
happen again:

crimson-silverfish-87dr8961

![image](https://user-images.githubusercontent.com/1100969/139676607-e9abc431-4301-4823-b9de-c68fa85ad87b.png)

[2021-11-01 14:25] loujaybee opened #6485 "Open up JetBrains without admin flag (feature preview flag)"

[2021-11-01 14:27] loujaybee opened #6486 "Implement logos for Jetbrains IDEs"
The JetBrains logos should be updated to use the official JetBrains ones within the dashboard.

[2021-11-01 14:30] loujaybee commented on #6486
It looks like this one is already complete?

CC: @corneliusludmann / @atduarte could you confirm there's nothing else required, if so let's close the issue 🙏

[2021-11-01 14:31] loujaybee opened #6487 "Investigate / fix port-forwarding"
Relates to: https://github.com/gitpod-io/gitpod/issues/5644

[2021-11-01 14:38] loujaybee opened #6488 "Add VSCode Desktop and VSCode Insiders to Desktop IDE's configuration"
Currently we only have the two JetBrains IDE's showing as desktop IDE's, but we need to add Desktop VSCode and Desktop VSCode insiders to this list, also.

![Screenshot 2021-11-01 at 14 28 04](https://user-images.githubusercontent.com/5528307/139689340-72a91800-fef1-4d92-8878-3f1905c6b01e.png)

[2021-11-01 14:40] loujaybee commented on #5641
Given that JetBrains is now showing in the dashboard, I've extracted @akosyakov's point about the VSCode Desktop IDE's here: https://github.com/gitpod-io/gitpod/issues/6488 so I'll go ahead and close this issue for now.

[2021-11-01 14:40] #5641 closed

[2021-11-01 14:41] MrSimonEmms commented on #6358
I'm closing this issue. We need allow the container registry so that mirrored container registries can be used - useful for air-gapped installations

[2021-11-01 14:41] #6358 closed

[2021-11-01 14:42] loujaybee commented on #5831
We can now track this work as part of the IDE project board: https://github.com/orgs/gitpod-io/projects/13/views/1

So will close this epic 🙏  thanks @atduarte ! 🚀

[2021-11-01 14:42] #5831 closed

[2021-11-01 14:55] adrian-goe commented on #6342
i'm interested 😊

[2021-11-01 14:58] MrSimonEmms opened #6489 "[Installer]: replace old Minio Helm chart with new Minio operator"
See [issue](https://helm.min.io/) for details

This will hopefully sort the issue with Minio not updating correctly

[2021-11-01 15:05] laushinka commented on #6383
Wow great catch, @gtsiolis 😨

[2021-11-01 15:16] loujaybee opened #6490 "Announcement blog post VSCode 1.62"
Discussing the changes we made to our server implementation in [openvscode-server](https://github.com/gitpod-io/openvscode-server) in response to [the open-sourced server implementation from Microsoft](https://github.com/microsoft/vscode/commit/822f995357f725216cdee6e05f1f1552ccbbd882).

Give some background to OpenVSCode Server, and Gitpod's role in the community and how we got to the current sta

[2021-11-01 15:17] #6383 closed, assigned to iQQBot

[2021-11-01 15:25] #6479 closed

[2021-11-01 15:29] MrSimonEmms opened #6491 "[Installer]: ws-daemon service account error"
[code]

[2021-11-01 15:55] #5034 closed

[2021-11-01 16:37] JanKoehnlein commented on #6474
Nope unfortunately I already closed the WS tab

Sent via Superhuman iOS ***@***.***>

On Mon, Nov 1 2021 at 9:53 AM, Anton Kosyakov ***@***.***>
wrote:

[2021-11-01 17:27] csweichel opened #6492 "[blowtorch] Update dependencies and make it build again"
Right now it uses outdated dependencies. We should make it build again

[2021-11-01 18:22] ArthurSens commented on #6291
Preview environments are now live for 2 days thanks to https://github.com/gitpod-io/gitpod/pull/6440, so maybe this issue does not exist anymore because we were hitting the "daily rate limit".

Let's keep an eye open, and continue the work if we see this problem happening again

[2021-11-01 18:44] #6492 closed

[2021-11-01 19:29] huweiATgithub opened #6494 "Local Companion App cannot bind ports due to Windows reserved and command line argument not work"
### Bug description

Both the Open in VS Code and the standalone local-companion app (it seems vscode extension also download and use this app) cannot bind its default ports.
local-companion app's logs show:
`
time="2021-11-02T03:02:29+08:00" level=info msg="Could not open port:n got error:listen tcp4 127.0.0.1:63329: bind: An attempt was made to access a socket in a way forbidden by its access pe

[2021-11-01 20:24] filiptronicek commented on #6456
Should be fixed by https://github.com/gitpod-io/openvscode-server/commit/e4d6a7096cc60a9fc1c187197edf7a61c9e0bdae.

[2021-11-01 20:42] jgallucci32 commented on #6402
@csweichel I enabled debugging tools in the browser and do not see any errors relating to CORS. In fact I am not seeing any browser-based errors with regards to the schema not loading properly.

@akosyakov What is the best way to get more detailed logs for this error?

[2021-11-01 23:16] Auft-Community commented on #6342
Using Gitpod with Jetbrains would far increase my workflow, I love Gitpod, but don't want to have to migrate to VSCode. Let me know if I can try out this Beta.

[2021-11-02 03:02] #4776 closed

[2021-11-02 03:02] #4931 closed

[2021-11-02 04:06] ghuntley commented on #6279
I've seen this over the last couple days on arrow keys in vscode and terminal. I'm using the insider release of VSCode on Gitpod (see account settings). Are you using the magic keyboard? I've found disconnecting the keyboard and reconnecting fixes. Strange huh?

[2021-11-02 04:13] ghuntley commented on #6191
Hey @shanehughes1990, I would love to figure out what's going on here. Out of interest is there any reason why the 1-click GKE installer hasn't being used? Have you tried it?

https://github.com/gitpod-io/gitpod-gke-guide

[2021-11-02 07:15] akosyakov commented on #6402
@jgallucci32 It is done by yaml vscode extension in the remote extension host process. You can go to the output view and inspect channels for yaml, remote extension host process, remote server and window.

[2021-11-02 07:19] akosyakov commented on #6494
@filiptronicek @ghuntley It was not the issue for you when you tried on windows? The thing here that we need to hardcode redirect URL in Gitpod Server, we cannot allow a user to reconfigure them.

[2021-11-02 07:29] akosyakov commented on #6471
then `Crtl+Shift+P` 😄

[2021-11-02 07:36] akosyakov commented on #6456
Unfortunately it is still not the case in VS Code Insiders, although changes are there.

Could you please provide steps which you run locally to create distributable and verify source maps?

[2021-11-02 07:40] akosyakov commented on #6456
It does not seem that js.map are bundled:
<img width="616" alt="Screenshot 2021-11-02 at 08 40 20" src="https://user-images.githubusercontent.com/3082655/139805228-e485d898-2f59-41cd-908c-6a883d368f65.png">

I think we should adjust web gulp scripts to include them.

[2021-11-02 08:06] loujaybee opened #6499 "Heuristic for "workspace engagement" - PLG phase 3.1 (VS Code browser)"
### Context

As part of the funnel 2.0 ([internal link](https://www.notion.so/gitpod/Funnel-2-0-Dev-Turns-Champion-Turns-Superteam-19a2574eb4bc4499b0a78250310378c0) - phase 3.1), we need to establish, and implement a metric that defines when a user has "explored the workspace".

**Challenges:**
* We have multiple IDE's, how do we include this in our metric? (Option: make this issue about VS Code a

[2021-11-02 08:48] loujaybee opened #6501 "Heuristic for "first meaningful action" - PLG phase 4.1 (VS Code browser)"
### Context

As part of the funnel 2.0 ([internal link](https://www.notion.so/gitpod/Funnel-2-0-Dev-Turns-Champion-Turns-Superteam-19a2574eb4bc4499b0a78250310378c0) - phase 4.1), we need to establish and implement a metric that defines when a user has achieved "value adoption".

**Open Questions:**
* How often does a user need to use Gitpod in order for it to be considered value adoption?
* Can we

[2021-11-02 08:50] loujaybee commented on #6499
/schedule

[2021-11-02 08:50] roboquat commented on #6499
@loujaybee: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6499#issuecomment-957231010):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-11-02 08:50] loujaybee commented on #6501
/schedule

[2021-11-02 08:50] roboquat commented on #6501
@loujaybee: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6501#issuecomment-957231062):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-11-02 08:50] loujaybee commented on #6490
/schedule

[2021-11-02 08:50] roboquat commented on #6490
@loujaybee: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6490#issuecomment-957231098):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-11-02 08:50] loujaybee commented on #6486
/schedule

[2021-11-02 08:50] roboquat commented on #6486
@loujaybee: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6486#issuecomment-957231449):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-11-02 09:04] shanehughes1990 commented on #6191
So the one click installer I ended up using but I had to modify the preemtable flags out of the Dockerfile for it to work properly. It was a few days ago now sorry I don't have the exact error any longer. But i essentially commented that part out of the script and build that container changed the make file to point to that image.

[2021-11-02 09:04] atduarte commented on #6487
If I understand the one you opened correctly—having the workspace ports from the user exposed locally when using jetbrains—these two are different. Jetbrains IDEs are expected to handle this issue. The other issue is something we will need to do in order to replace the Code with Me connection with the custom HTTP links.

[2021-11-02 09:09] geropl opened #6502 "Test Plan #6433"
PR: https://github.com/gitpod-io/gitpod/pull/6433

# Areas to cover
 - [x] typeorm/DB
   - [x] check `db-sync` logs
   - [x] check `server` logs
   - [x] check `ws-manager-bridge` logs
   - [x] ~check DB slow logs~ slow logs are not enabled in staging. CPU usage patterns after/before deployment look good, though
   - [x] check common queries with `EXPLAIN` to see if indexes are being hit
 - [x] li

[2021-11-02 09:16] #6482 closed

[2021-11-02 09:32] corneliusludmann commented on #6486
Yes, it's fixed already.

[2021-11-02 09:32] #6486 closed

[2021-11-02 09:34] JanKoehnlein commented on #6502
/schedule

[2021-11-02 09:34] roboquat commented on #6502
@JanKoehnlein: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6502#issuecomment-957266597):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-11-02 09:35] JanKoehnlein commented on #6502
/schedule

[2021-11-02 09:35] roboquat commented on #6502
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6502#issuecomment-957267150):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-02 09:49] csweichel opened #6504 "[installer] Establish convention for the image repository"
We need to establish a convention for the `repository` field in the installer.

Two options:
1. We could normalise the repository to either always have a trailing slash or never have one when loading the config.
2. We could add a validation that enforces one or the other convention.

[2021-11-02 10:02] corneliusludmann commented on #6485
I'm in favor of removing the feature flag and making it clear in the description that it's a BETA feature (was also proposed by Sven).

[2021-11-02 10:17] loujaybee opened #6506 "Integrate gp cli (open, preview) with IntelliJ"
We need some way to open a file or preview in the current thin client, or a new browser window.

The `gp cli` delegates to a program configured via env vars ([see this file](https://github.com/gitpod-io/gitpod/blob/5f84be7c096ea6aa1edf5aa674d98a02aff719b6/components/ide/code/leeway.Dockerfile)).

The 3 use-cases:

1. Open a file -> Can be done via `idea $FILE`
2. Open an embedded browser -> ??
3.

[2021-11-02 10:24] corneliusludmann commented on #6438
I had intentionally chosen to take a longer text instead of just "Running". I'm afraid that the short "running" can be quickly overlooked (in particular compared to the other short status texts) and users wait for something to finally happen. The idea was to make the text stand out a bit more.

| Long, explicit text | Short text |
| --------------------|------------|
| ![image](https://user-images

[2021-11-02 10:31] #5847 closed

[2021-11-02 10:45] loujaybee commented on #5644
Adding the blocked label to this one ([internal link](https://gitpod.slack.com/archives/C02CBKZEVS8/p1635848425045900?thread_ts=1635847455.044200&cid=C02CBKZEVS8)) as we're still waiting on JetBrains to come back to us regarding the fix/solution for this.

[2021-11-02 10:46] #4623 closed

[2021-11-02 10:48] #5904 closed

[2021-11-02 10:55] fjolne commented on #6459
Mitigated by the added ability to write to `/etc/resolv.conf` https://github.com/gitpod-io/gitpod/issues/6457#issuecomment-955716047, so one can setup custom DNS (e.g. Tailscale's MagicDNS).

[2021-11-02 10:56] #5975 closed

[2021-11-02 10:56] #6268 closed

[2021-11-02 10:56] corneliusludmann commented on #6485
Do you have any suggestions for the actual text for the BETA box, @loujaybee?

![image](https://user-images.githubusercontent.com/24960040/139833875-07586903-eea6-4bde-921c-d04dd16db0e4.png)

[2021-11-02 11:10] atduarte opened #6508 "Allow users to define Jetbrains plugins to be installed on a given project"
When using Jetbrains Remote Dev what runs locally is just a Thin Client. If you want to install plugins you must install them in the backend—that runs in Gitpod.

As some plugins require the IDE to restart we should have them installed during the initialization of the workspace.

To do so, and focusing for now on the plugins that are directly associated with a project (not the user), we will need

[2021-11-02 11:15] ChristinFrohne opened #6509 "Newsletter sign up integration"
Instead of collecting newsletter signups separately (which would include Google Sheet, Zapier, customer.io and DB updates), we decided that the user needs to log in in order to subscribe for the newsletter. By that we can use the existing data flow. This should reduce the implementation effort a lot.
Note: I randomly researched a few newsletter signups and most of them are already existing users.

[2021-11-02 12:00] #6122 closed

[2021-11-02 12:26] akosyakov commented on #6476
fixed in Insiders

[2021-11-02 12:26] #6476 closed

[2021-11-02 12:30] jldec commented on #5583
### MVP design ideas
cc: @gtsiolis

*How about reusing the list of [docs quickstart](https://www.gitpod.io/docs/quickstart) template repos from the website?*

1. Render the quickstart templates in a single-page view with names, icons?, short descriptions? (something nicer than a dropdown, no need for pagination but a simple in-page search would be nice)

2. Use the github template generate feature

[2021-11-02 12:59] #5901 closed

[2021-11-02 12:59] #6177 closed

[2021-11-02 13:15] akosyakov opened #6512 "deploy supervisor image via server ide config"
We should move configuration of the supervisor image to the IDE service in Gitpod Server.

[2021-11-02 13:17] akosyakov opened #6513 "Clean up the heartbeat Jetbrains's plugin"
It should use the supervisor info endpoint instead of env vars to get information about workspace.

[2021-11-02 13:33] loujaybee commented on #6485
So the important things to note:

1. A mention of the password

[2021-11-02 13:34] MrSimonEmms commented on #6489
Have pulled into MVP as I think this partly what's responsible for preventing the output YAML from doing a `kubectl apply` update

[2021-11-02 13:44] loujaybee commented on #6485
So the important things we should note _either_ on this page or in our docs are:

1. It's currently "password" protected, and what the password is.
1. The implementation _will_ put data through Code With Me / JetBrains servers.
1. Where to submit feedback (we don't yet have a GitHub issue, we need to make one)

Is there anything I'm missing? Also cc: @atduarte

The [new page has a footer](https://