[2022-05-06 14:54] sasdallas opened #9832 "VNC and ports closing randomly"
### Bug description

I work with QEMU a lot in my workspace, and sometimes when I’m in the middle of typing a command, all ports suddenly close, and “No ports open” displays in the bottom right. I have no choice but to close and reopen the workspace.

### Steps to reproduce

1. Code for a bit(average 30 mins)
2. Wait for ports to close

### Workspace affected

No, not a specific workspace.

### Ex

[2022-05-06 14:54] sasdallas commented on #9832
This isn’t a critical bug, by the way, only happens sometimes.

[2022-05-06 15:06] mickmister opened #9833 "Feature Request: Support renaming a workspace from the vscode editor view"
## Is your feature request related to a problem? Please describe

I like to rename workspaces, but AFAIK I have to do this in the Dashboard.

## Describe the behaviour you'd like

In the command palette, I'd like an option to rename the current workspace.

[2022-05-06 15:11] gtsiolis opened #9834 "Improve alert component accessibility (colors, icons, etc)"
### Problem to solve

The new [alert component](https://github.com/gitpod-io/gitpod/blob/deba0f9745d576195aa6d3ed4448253ab5677c07/components/dashboard/src/components/Alert.tsx) introduced back in https://github.com/gitpod-io/gitpod/pull/8783 was the next iteration of the alert component improved for https://github.com/gitpod-io/gitpod/issues/7613.

:a: We're tracking in  https://github.com/gitpod-

[2022-05-06 15:24] #8045 closed

[2022-05-06 15:35] aledbf opened #9835 "Unexpected supervisor timeout connection in ring0 against ws-daemon"
### Bug description

Error:

[code]

[code]

### Steps to reproduce

Not clear. The side effect of this issue is the workspace stays in `Terminating` state until the finalizer is removed.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-06 15:48] lucasvaltl commented on #9821
Created PRs for this script all around:

https://github.com/gitpod-io/gitpod-eks-guide/pull/52
https://github.com/gitpod-io/gitpod-gke-guide/pull/29
https://github.com/gitpod-io/gitpod-microsoft-aks-guide/pull/26
https://github.com/gitpod-io/website/pull/1996

[2022-05-06 18:32] janpio commented on #8467
That would bery very useful indeed.

I have a use case where I want to install a debug build of an extension automatically on GitPod, but then have to uninstall the related extensions that might conflict with it and which are there for me in the workspace as I installed them manually in GitPod before (so they are synced across all workspaces - which is awesome!). When I do that with `code --uninst

[2022-05-06 19:02] nberlette commented on #9798
@gtsiolis that's the exact screen I'm expecting to see (just didn't have a screen grab of it). This started around the time of the blackout from April 12-14.

I'll try to get a snapshot, or something that might have some logs you guys can look at. It's tricky though, as of now I haven't been able to get _into_ any stalled workspaces.. I've had to start a whole new one.

Thanks George

[2022-05-06 19:38] mads-hartmann commented on #9659
@kylos101 Thanks for the report Kyle. I have opened a PR that fixes a few things related to this, please see the PR for details https://github.com/gitpod-io/gitpod/pull/9837

[2022-05-06 19:45] #9659 closed

[2022-05-06 20:01] hm2075 commented on #9728
user error,   seems fine

[2022-05-06 20:01] #9728 closed

[2022-05-06 20:03] mrzarquon opened #9838 "Helm's --cleanup-on-fail option makes troubleshooting a failed deploy impossible"
### Bug description

When a deploy fails, or fails too fast for helm, it proceeds to delete all pods associated with the installation.

https://github.com/gitpod-io/gitpod/blob/main/install/kots/manifests/gitpod-installer-job.yaml#L276

Editing and removing this line from my failed install and doing a redeploy allowed it to be successful, eventually, it just took longer for the migration pod to co

[2022-05-06 20:06] hm2075 commented on #9670
yes but the pod for the vsx proxy doesnt actually startup  if using the installer

![image](https://user-images.githubusercontent.com/53794682/167209489-f8e06076-d66b-4a19-8cd0-1905daecd8bd.png)

[2022-05-06 20:14] corneliusludmann commented on #9838
Independent (?) of this, would it make sense to increase the 5 minute timeout to give the DB migration more time?

[2022-05-06 21:47] szab100 opened #9839 "VSCode various random issues when loading extensions from gitpod.yml"
### Bug description

I have the following list of extensions to be loaded for a spring-boot project that is using Lombok, so needs pre-processing before Java compilation.
[code]
The experience seems quite random, depending on whether the Lombok extension was loaded before / after the vscode-java-pack extension, it sometimes prompts the user twice with the following popups:
- Java Extension Contrib

[2022-05-07 01:53] jeanp413 commented on #9839
Hi @szab100, extensions activate depending on the events listed in the [`activationEvents` entry in package.json](https://github.com/GabrielBB/vscode-lombok/blob/1757f0af1fbffdffdd04af9fe8eabf2e1dae3e69/package.json#L24-L28), there's no way to specify the ordering, unless some extension requires some exposed API from another extension and request for it.
In the case of the Lombok extension I took

[2022-05-07 03:49] nberlette commented on #9798
@gtsiolis Okay, made some progress tonight! It's got something to do with my dotfiles repository that I have setup with Gitpod... I cleared the dotfiles setting out, and the problem went away. However, after immediately re-applying the dotfiles repository I get the same error again.

### Without dotfiles
<img width="500" alt="gitpod-error-1" src="https://user-images.githubusercontent.com/11234104/

[2022-05-07 08:08] meysholdt opened #9842 "Delete the Helm chart"
Now that the WebApp and IDE components are deployed using the installer, we no longer need the helm chart. I did take a quick look at what needs to be done to delete it and found:

### Blockers
* [ ] https://github.com/gitpod-io/gitpod/issues/9844
* [ ] https://github.com/gitpod-io/gitpod/issues/9845

### Optional but nice cleanup:
* [ ] https://github.com/gitpod-io/gitpod/issues/9843
* [ ] https:

[2022-05-07 08:20] meysholdt opened #9843 "Move db-init-scripts out of Helm chart"
## Is your feature request related to a problem? Please describe
As a preparation to delete the helm chart (https://github.com/gitpod-io/gitpod/issues/9842) move the [chart/config/db/init](https://github.com/gitpod-io/gitpod/tree/main/chart/config/db/init) out of the helm chart because they are still needed elsewhere.

They are needed by:
* The `db-migrations`:
https://github.com/gitpod-io/gitpod/

[2022-05-07 08:25] meysholdt opened #9844 "Remove "with-helm=true" support from Preview Environments"
## Is your feature request related to a problem? Please describe

In preparation to delete the Helm Chart (https://github.com/gitpod-io/gitpod/issues/9842), delete the `with-helm` annotation support from Werft Jobs. With that change, Helm can no longer be used in preview environments.

## Describe the behaviour you'd like
Delete all code that implements the following flag:

https://github.com/gitp

[2022-05-07 08:34] meysholdt opened #9845 "Remove Helm chart from Werft "publish release" jobs"
## Is your feature request related to a problem? Please describe
In preparation to delete the Helm chart (https://github.com/gitpod-io/gitpod/issues/9842) and because the helm chart is no longer part of a [Gitpod release](https://github.com/gitpod-io/gitpod/releases/tag/2022.04.1), the Werft Jobs should no longer do anything with the chart.

References I found via quick search:
* https://github.co

[2022-05-07 08:43] meysholdt opened #9846 "Contrib:gitpod-image: remove dependency on Helm chart"
## Is your feature request related to a problem? Please describe
As a preparation to delete the Helm chart (https://github.com/gitpod-io/gitpod/issues/9842), we should remove the dependency to the helm chart from [contrib/docker/gitpod-image](https://github.com/gitpod-io/gitpod/tree/main/contrib/docker/gitpod-image).

Example References:
https://github.com/gitpod-io/gitpod/blob/dbc5805c386ab7ae7d0

[2022-05-07 09:34] meysholdt commented on #9844
* [WebApp](https://gitpod.slack.com/archives/C02EN94AEPL/p1651914635055569)
* [IDE](https://gitpod.slack.com/archives/C01KGM9BH54/p1651914659857559)
* [Self-Hosted](https://gitpod.slack.com/archives/C01KLC56NP7/p1651914686904279)

[2022-05-07 21:23] jamezrin commented on #7700
Look at the message above you, it looks like they gave up on this issue.
Maybe some day gitpod sees interest on implementing this instead of relying on community efforts

[2022-05-08 01:00] buggtb opened #9848 "Refresh workspace page or revisit it and you end up in jetbrains spawning hell"
### Bug description

If you leave the workspace page and return to it, and, I beleive also just refresh the page. It starts spawning new instances to which there is no escaping.

### Steps to reproduce

Leave open workspace page, return to open workspace page

![Screenshot 2022-05-08 015708](https://user-images.githubusercontent.com/103544/167277294-94fcded9-5b5c-4dae-ba84-4ee9c83fded5.png)

### W

[2022-05-08 02:28] david-bakin opened #9849 "Settings/Plans should show billing date (== plan hours reset date) for plans having limited hours"
Since the Open Source and Personal plans have limited hours, and reset the counter based on the billing date, I suggest (for convenience) that the Settings/Plans page for those types of accounts show that date.

[2022-05-08 10:32] ccll commented on #9188
@shaoye Nope, still waiting the canonical solution.

Right now I workaround this by manually `docker build & docker push` to a container registry and reference the pushed image there.

[2022-05-08 12:27] jldec commented on #7925
Hi @gtsiolis, I have a couple more suggestions.

1. I have changed the description to include this feature on Error screens as well (to match our G&Rs)
1. I would prefer to keep the `Docs` link visible in Dashboard (not move into user dropdown menu)
1. Let's not link to issue tracker - but I think we do have to mention privacy policy (as in docs)

If you are ok with these changes, could you update

[2022-05-08 12:39] nooobcoder commented on #6576
Exactly, I too have the same issue, @ChristianHuff-DEV I too need a solution for this to work with monorepos, for `code` this is not an issue, but with Jbr Gateway, it simple does not allow me to open a folder as the project root.

[2022-05-09 01:05] utam0k commented on #8901
The dotnet image has been included in the workaround I suggested, so this issue was closed at once. Please feel free to open, up if you encountered the related problem.

[2022-05-09 02:01] utam0k commented on #7358
@RedstoneWizard08 Thanks for your great information.

It should be correct in most cases.

[2022-05-09 02:52] utam0k commented on #8106
Hi, @iQQBot, Was no3 finished? Can we go to the next step?

[2022-05-09 04:48] utam0k commented on #8106
@iQQBot Thank you. I made the last PR open.
https://github.com/gitpod-io/gitpod/pull/9214

[2022-05-09 04:57] jeanp413 commented on #4281
I created the repo https://github.com/gitpod-io/gitpod-vscode-theme
Need to setup the secrets so I can publish to the MS marketplace and open vsx
@gtsiolis maybe you want to create a new icon for the extension to differentiate it from gitpod-desktop and gitpod-remote extensions

[2022-05-09 05:30] Pothulapati commented on #9801
:wave:  Hmm, So, The issue is that GKE’s `update-containred-certificates` fails causing initialisation errors! Even after initialisation, The image pulls may not work (as `registry-facade` is self-signed and the containerd doesn’t trust the cert) but that can be fixed by manually loading certs onto nodes (by ssh’ing).

Simon did test this out on GKE, and same with me. So, I’m guessing it might be

[2022-05-09 06:10] meysholdt opened #9855 "Make "with-payment" flag work on harvester preview envs"
## Is your feature request related to a problem? Please describe
This is a prerequisite for https://github.com/gitpod-io/gitpod/issues/9844.

## Describe the behaviour you'd like
<img width="524" alt="image" src="https://user-images.githubusercontent.com/239422/167350396-7190909c-7f3e-45b6-85b5-671b69d4e5d5.png">

[2022-05-09 06:46] akosyakov commented on #9839
@szab100 I think you don't need the lombook extension which was not maintained for one year and has severe issues which can break Java integration like https://github.com/GabrielBB/vscode-lombok/issues/49

This extension also does only 2 things:
- installs lombook
- and configures `java.jdt.ls.vmargs` to point to it

Instead in your Dockerimage you can install lombook and then configure `java.jdt.

[2022-05-09 07:19] svenefftinge opened #9856 "[IntelliJ] Clicking "repair IDE" destroys session"
When in IDEA connected to a remote Gitpod workspace and clicking the action "repair IDE".
When click on step 2 "reopen project" the IDE window closes and you end up with
<img width="375" alt="Screenshot 2022-05-09 at 09 14 33" src="https://user-images.githubusercontent.com/372735/167359574-fa5c919e-da10-4c95-9534-2bcf0e695ef0.png">

[2022-05-09 07:27] jankeromnes opened #9857 "Performance bug: ws-manager sometimes takes 4+ minutes to create a pod"
### Bug description

Symptom: Starting a workspace remains stuck in the "Checking" screen and `Pending` phase for 4+ minutes (used to be < 10 seconds)

| Users are stuck in this screen | Workspace is stuck in Pending | Goes to Initializing after 5 minutes(!) |
| --- | --- | --- |
| <img width="439" alt="Screenshot 2022-05-09 at 09 08 01" src="https://user-images.githubusercontent.com/599268/167359

[2022-05-09 07:52] easyCZ commented on #9752
https://github.com/gitpod-io/ops/pull/2190 enables the public api

[2022-05-09 08:01] akosyakov commented on #9434
closed in favor fo https://github.com/gitpod-io/gitpod/issues/7525

[2022-05-09 08:02] #9434 closed

[2022-05-09 08:34] #9719 closed

[2022-05-09 09:04] meysholdt commented on #9844
Mads: Confirm that "with-observability" works with the installer in core-dev or decide that we don't support that in core-dev.

[2022-05-09 09:05] meysholdt commented on #9844
`with-payment` should also work before we can remove with-helm:
* https://github.com/gitpod-io/gitpod/issues/9855

[2022-05-09 09:06] meysholdt commented on #9844
related: https://github.com/gitpod-io/gitpod/pull/9858.

[2022-05-09 09:47] loujaybee commented on #9286
Removing from project as associated to epic: https://github.com/gitpod-io/gitpod/issues/9262

[2022-05-09 09:54] mustard-mh commented on #9670
Have you tried this step? It works for my self-hosted one

[2022-05-09 10:00] loujaybee commented on #9568
Relates to: https://github.com/gitpod-io/openvscode-server/pull/346

[2022-05-09 10:07] loujaybee commented on #9700
Thanks for raising @DRSchlaubi, we are currently discussing with JetBrains about this. We are expecting some updates to JetBrains Gateway etc that hopefully will make this possible in the next version 🙏

[2022-05-09 10:09] lucasvaltl opened #9861 "New Integration on Integrations page worded poorly for Self-Hosted installations"
### Bug description

Currently, on the integrations page it says: "Manage Git integrations for self-managed instances of GitLab, GitHub, or Bitbucket." - this makes it _seem_ like this functionality is limited to self-managed SCM instances, and does not allow you to add public SCM provider instances (i.e. SaaS versions):
<img width="1448" alt="Screenshot 2022-05-09 at 11 59 42" src="https://user-i

[2022-05-09 10:09] loujaybee commented on #7096
We should probably wait for: https://github.com/gitpod-io/gitpod/issues/9038 before implementing this. 🙏

[2022-05-09 11:59] krise86 opened #9864 "Error: Command failed: oci-tool --timeout 30s resolve gitpod/code:nightly"
### Bug description

Gitpod KOTS self-hosted with external registry (goHarbor)
All images are hosted on external registry and pods are spun up from this registry without problems.

When starting a new workspace the following error is noted in the browser
`Request startWorkspace failed with message: 13 INTERNAL: cannot resolve base image: hostname required`

Error from server pod

[code]

Error fro

[2022-05-09 12:04] mteam88 opened #9865 "Build gitpod.Dockerfile in terminal as if starting a workspace"
## Is your feature request related to a problem? Please describe
When using Gitpod to develop my application, I am forced to restart the workspace on every edit to the .gitpod.Dockerfile or use the #imagebuild url trick. This takes a lot of time and the logs are not super accessible.

## Describe the behaviour you'd like
In the Gitpod command prompt (Ctrl+Shift+P) a command could be like `Gitpod:

[2022-05-09 12:14] easyCZ opened #9866 "Epic: WorkspaceService public API and validate usage from IDE"
# Summary

This epic we implement the first service to be consumed by an internal client (IDE) and validate it.

# Context

Prior epic: #7900.

Extensively summed up in the [design doc](https://www.notion.so/gitpod/Design-Doc-Public-Gitpod-API-15cdeb5d3496448ca3b61187a8aac53f).

# Value
- provide a uniform, reliable, stable and versioned API
- potential to consolidate our tech stack (e.g. replace

[2022-05-09 12:50] AlexTugarev commented on #7781
@shaal, can we close this issue now?

I think, once the web application firewall is setup correctly on Drupal's self-hosted Gitlab it should be good. We've verified with 2 different GitLab installations by now.

Please reopen or create another more specific follow up.

[2022-05-09 13:10] krise86 commented on #9864
tried to use the new image-builder-mk3 image. error message now reads

`Request startWorkspace failed with message: 16 UNAUTHENTICATED: cannot resolve image`

still unsure about what image and tag the builder is referring to.

[2022-05-09 13:14] gtsiolis commented on #9849
@david-bakin Although a bit hidden, we do show the billing cycle dates when hovering over the remaining hours.

Also, @ionutale has opened a community contribution to improve this area and make it clearer and more accessible, see relevant comment https://github.com/gitpod-io/gitpod/pull/9716#discussion_r864044339.

[2022-05-09 13:16] geropl opened #9872 "[prebuild] Run inside user's region"
Currently prebuild are mainly executed in the US cluster because it's closed to GitHub exit nodes. This means all prebuild's snapshots are stored in `us-west1`. This is bad because for all EU workspaces based on a prebuild we have to pay egress traffic on a) when the prebuild is run and b) on every workspace start.

We know which region:
 - a user first connected with (user bucket region)  is in w

[2022-05-09 13:19] #9534 closed

[2022-05-09 13:47] jankeromnes commented on #6650
I think we should raise the priority of this issue, because:
- We see a sharp uptake in Prebuilds, some of them with Incremental Prebuilds enabled
- Many projects with Incremental Prebuilds enabled do this:

1. Start new prebuild in US
2. Download old prebuild (base) from the EU bucket ($$$)
3. Build the new increment in US
4. Upload the new snapshot back to the EU bucket ($$$)

... repeated on ev

[2022-05-09 13:52] geropl commented on #6650
Ah, didn't look long enough to find this one, but created a fresh one: https://github.com/gitpod-io/gitpod/issues/9872

@jankeromnes Could you please replace the new issue with this one? And place in on top ot the "scheduled" column? :pray:

[2022-05-09 13:54] jankeromnes commented on #9872
Thanks for scheduling this!

Closing as duplicate of https://github.com/gitpod-io/gitpod/issues/6650 and scheduling that one instead.

[2022-05-09 13:54] #9872 closed

[2022-05-09 14:33] princerachit commented on #9575
Thanks @csweichel. That sounds like the easier way to check supervisor status. I will use this approach.

I disabled the supervisor bit and proceeded to check on the agent instrumentation part where it checks if the file from the init tasks are created. I saw `Unauthorized Error` while the agent binary was attempted to be copied to the workspace pod. I am debugging this further.

[2022-05-09 15:06] axonasif commented on #9865
Duplicate of https://github.com/gitpod-io/gitpod/issues/7671

[2022-05-09 15:07] #9865 closed

[2022-05-09 15:08] MrSimonEmms opened #9873 "Wording on new Git integration page incorrect"
### Bug description

The "new Git integration" page says "configure a GitLab or GitHub instance", but Bitbucket is now available.

![image](https://user-images.githubusercontent.com/275848/167439687-b105a171-1c88-4b80-9624-a763d6cee96a.png)

### Steps to reproduce

Go to a fresh installation with no integrations configured

### Workspace affected

_No response_

### Expected behavior

Should say "

[2022-05-09 15:10] akosyakov opened #9874 "investigate how to speed up prebuilds on gitpod repo"
### Bug description

Right now there is a suspicion that gradle projects and Intellij indexing of them takes a lot of time. We should confirm whether it is true by profiling prebuilds somehow and understand why incremental prebuilds simply does not reuse dependencies and caches from last prebuild. We change these projects very rare.

### Steps to reproduce

Run a prebuild on this repo.

### Worksp

[2022-05-09 15:48] axonasif opened #9875 "Error: headless task failed, on imagebuild"
### Bug description

I was trying to open this repo https://gitpod.io/#https://github.com/axonasif/wrover-experimental/tree/wokwi-test after adding a custom dockerfile
<img width="1060" alt="Screenshot 2022-05-09 at 9 47 51 PM" src="https://user-images.githubusercontent.com/39482679/167447779-5597c636-d1ca-4219-af77-b61ec55d81b4.png">

### Steps to reproduce

Open https://github.com/axonasif/wrove

[2022-05-09 16:43] #9849 closed

[2022-05-09 16:43] oss901 opened #9876 "Self Hosted: Can add one more user than I should as per license"
### Bug description

This is specific to self-hosted. I was able to add one more user than I should have as per the seats on my license. Note that this occurred when I had 2 seats allowed on my license and then tried to add a third (which worked) and a fourth (which was blocked).

### Steps to reproduce

Created a loom video to walk you through it: https://www.loom.com/share/6d1d3e1324cc40a389b936

[2022-05-09 17:02] sinansonmez commented on #7751
Is there any expected time of arrival for other IDEs support?

[2022-05-09 17:37] #9652 closed

[2022-05-09 18:36] Craftzman7 commented on #8901
Dotnet is still broken for me. Getting the following output when running `dotnet build`
[code]

[2022-05-09 18:42] sagor999 commented on #9798
@nberlette did you fix issue with your dotfiles?
I just tried to use them and was able to open this project without any problems using my desktop VS code:
https://github.com/gitpod-io/template-golang-cli

[2022-05-09 19:09] jldec opened #9878 "[Self-hosted] domain whitelist feature should disallow signup from non-matching emails"
The current behavior of the auto-blocking with an email domain whitelist is to block but not prevent sign-up or login.
For self-hosted it would be better to disallow signups entirely so that those users do not consume license seats.
This would also reduce confusion for users who don't realize their account is blocked until they start a workspace.

[2022-05-09 19:50] felladrin commented on #9874
I've noticed `components/ide/jetbrains/gateway-plugin:publish` is being triggered every time due to this `publishToJBMarketplace: true` in [WORKSPACE.yaml](https://github.com/gitpod-io/gitpod/blob/a766836727e7e9e0340332947d14a2a32b8dde8d/WORKSPACE.yaml). (Take [this Werft build log](https://werft.gitpod-dev.com/job/gitpod-build-main.3179/raw) as example)

Using GitHub Code Search you can see that

[2022-05-09 20:11] szab100 commented on #9839
@akosyakov yes, thank you, your suggested workaround seems to be working fine (fetching lombok.jar and add the agent to vmargs).

On the other hand, sometimes I see other issues that are seemingly happening because of how VSCode loads extensions. I understand there is no way to specify order or making sure an extension only gets installed if a set of extensions are already installed / loaded up.

[2022-05-09 20:58] Juice2007 commented on #7700
What happened to gitpod arm repo. i need an arm version for oracle cloud. If any arm servers needed to do build send me a dm on discord Snyder#6365 I will freely give u my vps for how long it takes to compile.

[2022-05-09 21:00] gtsiolis commented on #4281
@jeanp413 Good point! I think we can be playful and use something like the following. What do you think?

| Image | Image in context |
|-|-|
| ![image](https://user-images.githubusercontent.com/120486/167497548-4593f2eb-6607-47d9-9c18-c834d31b08b3.png) | <img width="602" alt="Screenshot 2022-05-09 at 11 53 41 PM" src="https://user-images.githubusercontent.com/120486/167497562-89c58b5d-22d5-464e-b9

[2022-05-09 22:33] gtsiolis commented on #7925
@jldec

1. ❗ I'm trying to understand the value of having the feedback functionality on the error pages given this will also introduce a separate system to maintain and monitor for user feedback. Posting some thoughts and questions below, let me know what you think.
    - Regarding using the emojis on the error pages, do we expect to ever see any positive feedback submissions on workspace or login

[2022-05-09 22:36] gtsiolis commented on #9873
This seems to be different from what is visible in production in `/integrations`. In case the same options are available also in self hosted we could probably use the same copy here.

Cc @AlexTugarev @jldec because https://github.com/gitpod-io/gitpod/pull/9135.

| Integrations > New Git Integration |
|-|
| <img width="494" alt="Screenshot 2022-05-09 at 7 37 00 PM" src="https://user-images.githubus

[2022-05-09 23:30] utam0k commented on #9575
Hi, this is a workspace network architecture. It may help you to investigate.
[code]

[2022-05-09 23:31] sgarner commented on #9262
If I can make a suggestion/feature request here... Would it be feasible to show open ports on the Gitpod "Running Workspace" page? i.e. the ports could be listed here:

<img width="606" alt="image" src="https://user-images.githubusercontent.com/904004/167513978-98b1ca46-04b0-4c5d-8ca9-221db0bf7264.png">

I imagine it's a common use case that people run a web server in Gitpod when developing web pr

[2022-05-09 23:56] utam0k commented on #8901
@Craftzman7 Thanks for your report. What tag do you use? If you use the `latest`, please use `gitpod/workspace-dotnet:2022-05-08-14-31-53` and give it try again 🙏

[2022-05-10 00:10] Craftzman7 commented on #8901
Was using latest, After trying with that tag it seems to have worked.

[2022-05-10 00:36] utam0k commented on #8901
@Craftzman7 I'm glad to hear that. Sorry for my explanation was a shortage.

[2022-05-10 01:11] bbhxwl opened #9884 "How should I debug Vue remotely?"
How should I debug Vue remotely?

I don't know how to run the project, open the web address, or submit the modified code to Git

[2022-05-10 01:14] bbhxwl opened #9885 "Invalid Host header"
### Bug description

I run my nodejs project, Vue, open the preview, don't show anything, only errors.

### Steps to reproduce

I run my nodejs project, Vue, open the preview, don't show anything, only errors.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-10 01:41] zhangshoucheng1 commented on #26
great

[2022-05-10 01:42] jenting commented on #9575
I encountered this as well. Debugging...

[2022-05-10 02:09] #8106 closed

[2022-05-10 02:43] kylos101 commented on #9673
Alejandro created this issue, which was another manifestation of this issue:
https://github.com/gitpod-io/gitpod/issues/9835

[2022-05-10 02:55] shaal commented on #9223
I experienced the same thing (GITPOD_REPO_ROOT value is `/workspace` instead of `/workspace/<name_of_repo>`) when loading a Gitpod snapshot, see https://github.com/gitpod-io/gitpod/issues/9804

[2022-05-10 03:11] shaal commented on #9804
A temporary hack to fix the issue in DrupalPod -
Added a start-task in `.gitpod.yml` that sets GITPOD_REPO_ROOT with the correct value.
😢

[code]

[2022-05-10 03:18] aboqasem commented on #8524
Hi! I can't find a guide on how to contribute to the repository (e.g. running the project locally). When I try to `yarn` I get an error because a command requires `go`. I `brew install go` and rerun `yarn`:

[code]

A guide on how to install would be appreciated, then I would try to work on this issue.

[2022-05-10 04:33] jldec opened #9887 "Concurrent "yarn install" may fail in concurrent .gitpod.yaml tasks"
This is more of an FYI

It is quite common (eg. for multi-repo scenarios) to run multiple concurrent gitpod init and command tasks.
If there are multiple concurrent `yarn install` commands, those may fail in unpredictable ways.
See https://github.com/yarnpkg/yarn/issues/683

One workaround is to serialize commands with `gp sync-await` and `gp sync-done`
See https://www.gitpod.io/docs/command-line-

[2022-05-10 04:38] jldec commented on #9887
Nice tip for the docs perhaps.
cc: @Nancy-Chauhan

[2022-05-10 05:20] Explosion-Scratch commented on #9874
Yeah prebuilds are taking a really long time for me (+10min). It would be nice to simply not wait for the prebuild but instead see the progress of it in the editor via terminal

[2022-05-10 05:41] ionutale commented on #9849
hi @david-bakin,
@gtsiolis said "[We're currently working towards a usage-based pricing](https://github.com/gitpod-io/gitpod/issues/9702#issuecomment-1115807375)", so I think that the billing period will start from 1st of the month for everyone.

I do agree that is not very obvious to hover to see the billing period.

@gtsiolis and @david-bakin  what do you think about an info button next to the r

[2022-05-10 06:02] lucasvaltl commented on #9876
Closing this as I created this under the wrong account.

[2022-05-10 06:02] #9876 closed

[2022-05-10 06:04] lucasvaltl opened #9888 "Self Hosted: Can add one more users than my license allows me to"
### Bug description

This is specific to self-hosted. I was able to add one more user than I should have as per the seats on my license. Note that this occurred when I had 2 seats allowed on my license and then tried to add a third (which worked) and a fourth (which was blocked).

### Steps to reproduce

Created a loom video to walk you through it: https://www.loom.com/share/6d1d3e1324cc40a389b936

[2022-05-10 06:48] ChamMach commented on #9875
+1, same for me 🤔

[2022-05-10 07:12] david-bakin commented on #9849
The info button looks good to me: it's a visible thing, and people are used to that circle-i style icon as an "additional information" button on many websites so it's an obvious target for a click.

---

And now for an off-topic remark: I didn't want to comment right on the "usage based pricing" epic - since it's a long-term tracking issue - but I'm hopeful that there will still be room for the _i

[2022-05-10 07:43] jankeromnes commented on #9857
Copy/pasting some outstanding findings from @iQQBot in [Slack](https://gitpod.slack.com/archives/C03EAFMQU7N/p1652118645035959?thread_ts=1652082462.796769&cid=C03EAFMQU7N) (internal):

[2022-05-10 07:47] gtsiolis commented on #9849
@ionutale Using an icon with a tooltiop could be a viable solution although it'd be preferable to avoid using icons, tooltips as much as possible for accessibility reasons, etc. Let's move this discussion to the open PR in https://github.com/gitpod-io/gitpod/pull/9716 instead of using this closed issue.

🍊 🍊 🍊 🍊

Thanks for the feedback, @david-bakin! I'll circle your feedback also internally with

[2022-05-10 07:56] #9855 closed

[2022-05-10 08:18] MrSimonEmms commented on #9820
Yeah, what @corneliusludmann says I'm afraid - this is controlled entirely by Replicated. There's even things like, because we only have one logo we can use, it looks a bit rubbish in the favicon if we make it look good for the logo.

I've suggested a feature request with Replicated that allows us to style these pages. As far as I know, there's not been one raised but maybe ask them to do that in

[2022-05-10 08:24] MrSimonEmms opened #9890 "[KOTS]: Add preflight checks to verify DB, Storage, Registry connections"
KOTS doesn't have any native verification for the connections to the external dependencies in the config. Add a series of preflight checks to ensure that the values the user has entered are correct.

- [x] #9931
- [x] #10337
- [x] #9933

This will likely require some custom container images building to handle our complexity (eg, CloudSQL support for DB). It would be good to export the script anywa

[2022-05-10 08:45] akosyakov commented on #9839
I don't think it is going to help, error come from loading/activation which happen on each page reload, not only one install. Besides it sounds like working around issues with an extension. I think we should rather investigate and reach out to authors about concrete issues. Both java debug and test extensions are well-maintained.

[2022-05-10 08:54] geropl commented on #9857
Found another instance (no pun intended): `1faf2bef-f3f6-45f0-81d6-13d34c8aff69`

Also, found the [trace](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/4XgmxsRqHj4/trace/CKiBTgrv9Gu?span=acd3ac56b31e1197): We receive a [lot events](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/4XgmxsRqHj4) (read: 1139) for "pending" (while only seeing a couple of pod-retries).

[2022-05-10 09:13] meysholdt opened #9891 "Preview Envs on Harvester: Delete when inactive"
## Is your feature request related to a problem? Please describe
Our Harvester cluster keeps filling up close to its max capacity. We should delete preview environments when they're inactive, just as we do for core-dev.

## Describe the behavior you'd like
Implement
https://github.com/gitpod-io/gitpod/blob/539414d0e40d318de07abfc8b047f60a4f7969fc/.werft/platform-delete-preview-environments-cron.ts

[2022-05-10 09:21] meysholdt commented on #9891
It would be lice if the job would also log which db rows are the cause for considering an env active. This can help to understand if we're looking at the right signals.

Example: Change
https://github.com/gitpod-io/gitpod/blob/539414d0e40d318de07abfc8b047f60a4f7969fc/.werft/platform-delete-preview-environments-cron.ts#L174

to
[code]

[2022-05-10 09:42] CompeyDev commented on #5532
This same error occurs with me, except I'm unable to install it in the first place.
![image](https://user-images.githubusercontent.com/74418041/167599693-b8177111-4ddb-47f0-b284-2b6774e8ef5a.png)

[2022-05-10 09:47] #9824 closed

[2022-05-10 10:04] geropl opened #9893 "[ws-daemon] Stops on SIGINT + restarts, leaves workspace pods in "terminating""
ws-daemon seems to:
 1. [receive SIGNIT](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-05-10T07:06:35Z;query=resource.labels.container_name%3D%22ws-daemon%22%0Aresource.labels.pod_name%3D%22ws-daemon-qhcfc%22%0Atimestamp%3D%222022-05-10T06:28:15Z%22%0AinsertId%3D%22p5933lls8f0qijxn%22;summaryFields=jsonPayload%252FinstanceId:false:32:beginning:false;timeRange=2022-05-10T06:00:00

[2022-05-10 10:04] akosyakov commented on #9874
@felladrin Is it the same effect in prebuilds?

[2022-05-10 10:30] krise86 commented on #1594
same here, reverse proxy terminates on tls and fwd to backend with http always. Is there any way to tell gitpod to use tls on backend

[2022-05-10 10:36] krise86 opened #9897 "Allow Gitpod to expose ports with tls on backend"
## Is your feature request related to a problem? Please describe
When a workspace i started and i want to expose ports on the container it always terminates the connection on the reverse proxy with tls and uses none tls connection to the pod port. this causes issues when backend service is running with TLS

`Client sent an HTTP request to an HTTPS server.`

## Describe the behaviour you'd like
all

[2022-05-10 10:38] jldec opened #9898 "Epic: Require a Gitpod project for prebuilds"
Now that projects are usable across git providers, Gitpod should limit prebuilds to repos with a project.

- [ ] Check for project before running prebuild
- [ ] Change documentation to explain that prebuilds require a project
- [ ] Post announcement about new prebuild requirement in changelog

[2022-05-10 11:15] meysholdt opened #9899 "Consider making Preview Envs Opt-In"
## Is your feature request related to a problem? Please describe
By eliminating unneeded preview envs, we can (either, or a mixture):
* save costs by running a smaller Harvester cluster
* increase developer velocity by running preview envs longer.

## Describe the behaviour you'd like
Add a `with-preview` flag to the Werft job to enable preview envs.
Also, add a convenient checkbox to our PR templ

[2022-05-10 11:26] gtsiolis commented on #9899
Yes, please! 💯

This is also aligned with our async remote culture.

Sometimes there's no need to run a preview environment altogether depending on files changes (`README.md`, etc) and given how we work asynchronously keeping a preview environment alive until the reviewer can come back to it becomes unessasary as they have to trigger another deployment, which only takes a few minutes. ⏱️

This has

[2022-05-10 11:31] jldec commented on #9849
Hi @david-bakin,
Regarding usage-based billing, if you we charged you monthly by usage and provided a "Spending Limit" mechanism which you could configure with a fixed amount (to prevent surprises), would that alleviate some of your concerns?

[2022-05-10 11:40] Furisto opened #9901 "Workspaces started with loadgen can be gracefully terminated via gpctl stop"

[2022-05-10 12:44] buggtb opened #9902 "Intellij plugin docs seem incorrect"
### Bug description

According to the docs you can add

[code]
and

[code]

to your gitpod yaml file, but surely the plugins block is missing a plugins descriptor or something? Cause that doesn't look like it would make a valid yaml file.

### Steps to reproduce

Read the docs

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### A

[2022-05-10 14:17] loujaybee commented on #9902
If you need @buggtb, the JSON schema is here: https://gitpod.io/schemas/gitpod-schema.json

We are also missing either:
1. Updating the main reference page -> https://www.gitpod.io/docs/references/gitpod-yml
2. Note about current state of the property: https://www.gitpod.io/docs/ides-and-editors/intellij#indexing-using-prebuilds

[2022-05-10 14:24] laushinka commented on #7925
We can ask "Was this error message helpful?"

[2022-05-10 14:50] andreafalzetti commented on #9902
Thanks for flagging. Earlier today I've [fixed](https://github.com/gitpod-io/website/issues/2014) the docs adding the `plugins` key, the change is already live.

[2022-05-10 15:15] andreafalzetti opened #9908 "Handle port notifications in JetBrains"
### Summary

Show a notification in JetBrains IDEs when a port is ready and exposed

### Context

At the moment, `open-preview` and `open-browser` do not work automatically. The user can run `gp url <PORT>` and get the URL manually, however there is no information or notification about the port/URL being ready.

This is a feature that we have in VS Code, so we should handle supervisor notification

[2022-05-10 16:16] froboy opened #9909 "Not able to move Bitbucket integration between accounts"
### Bug description

I have a GitPod account (with the Open Source Professional level) that I created via GitHub login and then I inadvertently created a duplicate with a Bitbucket account. I would like to remove the BB integration from that account and move it to my GitHub-based account.

I've attempted to remove the Bitbucket integration in the list, but I don't see a "remove" button
![Integrati

[2022-05-10 16:37] jmgilman commented on #666
It's unfortunate that this appears to not have any intention of being supported in an official capacity. Signing commits is not an uncommon practice and is used across many organizations. The lack of this feature is prohibiting me from adopting Gitpod and I suspect has been a gating factor for others as well.

[2022-05-10 16:48] csweichel commented on #8716
Gitpod workspaces support `fuse` out of the box. You can use that to mount [S3 buckets](https://github.com/s3fs-fuse/s3fs-fuse), [SSH](https://en.wikipedia.org/wiki/SSHFS) or [NFS](https://github.com/sahlberg/fuse-nfs) (did not test the latter)

[2022-05-10 16:54] bbhxwl opened #9910 "Net core environment, can only set net6? It seems that you can't set net core3.1?"
Net core environment, can only set net6? It seems that you can't set net core3.1?

[2022-05-10 17:14] shaoye opened #9911 "KOTS: S3 external object storage is not working"
### Bug description

Specifying s3 as the external object storage is not working. Minio is still using in-cluster volume(8Gi) and no s3 bucket was created.

Not sure if this is the root cause, but we found a typo here about the s3 secret name? https://github.com/gitpod-io/gitpod/blob/2022.04.1/install/kots/manifests/gitpod-storage-s3-secret.yaml#L7

Also the Username and Password input fileds are

[2022-05-10 17:14] shaoye commented on #9911
cc @MrSimonEmms

[2022-05-10 17:44] woss commented on #666
As for the native support, i totally get the gitpod tech team being reluctant to do this. First, if they would keep your private key they are responsible for its security, storage, retrieval etc ... This would also make them a highly centralized solution and very likely a  target of the `baddies`.

@jmgilman them holding your key, or generating one keypair for you would go to the same bucket as i

[2022-05-10 17:51] mustard-mh commented on #9874
As you can see in this prebuild job https://hw-gradle-research.preview.gitpod-dev.com/projects/gitpod/c4d70b3b-fc76-4df4-8312-b2eed367b452

|Task|StartTime|EndTime| Cost|
|:-:|:-:|:-:|:-:|
|gradle|Tue 10 May 2022 03:43:35 PM UTC|Tue 10 May 2022 03:45:04 PM UTC| 1:30|
|yarn & build|Tue 10 May 2022 03:43:16 PM UTC|Tue 10 May 2022 03:48:07 PM UTC|5:00|
|go|Tue 10 May 2022 03:44:44 PM UTC|Tue 10 May 2

[2022-05-10 17:53] mustard-mh commented on #9874
incremental prebuilds will download pre-prebuild (`base`) result first, and this step will cost a lot of time too => prebuild in `US cluster` but `base` storage in `EU cluster`

[2022-05-10 17:56] mustard-mh commented on #9874
The road will be like this

1. Trigger incremental prebuild in `US cluster`
2. Workspace download `base` which storage in `EU cluster`
3. After prebuild, upload result to `EU cluster` ( in a `US cluster` workspace 😅
4. Start a workspace, to make user access in IDE, which will download prebuild result in `EU cluster` to `US cluster` workspace

[2022-05-10 18:07] mustard-mh commented on #9874
How to improve it?

- we need `node_modules` for code intelligent, `yarn build` can only work in component like `gitpod-protocol`. component like `dashboard` **don't need** to build first
- `gradle` should not be inside prebuild, it will gen folder about 7G, and every start will download it, and every stop will store it, it cost a lot.
- `gradle` can be gen after ws start, it'll only cost around 5

[2022-05-10 18:11] mustard-mh commented on #9874
incremental prebuilds got some conditions, you can check them out here https://github.com/gitpod-io/gitpod/blob/81a79af4ec3f9a5de53f40370ab455bf8a054c85/components/server/ee/src/workspace/workspace-factory.ts#L194

[2022-05-10 18:25] mustard-mh commented on #9874
This result **maybe** caused by the trigger of prebuild - Github, is in US🙈

[2022-05-10 18:36] jmgilman commented on #666
Understood, but I wouldn't expect them to tackle it this way. As others have mentioned, if you're working via the browser, tying into the Github API would be a nice alternative. However, like others here, I use a smart card to sign my commits so that solution wouldn't work for my setup. In that case, support for forwarding the GPG agent to the container would work. If I recall, the VSCode Remote C

[2022-05-10 22:56] kylos101 commented on #9775
@atduarte certainly, just updated the epic description with an Other section with references to internal Slack threads

[2022-05-10 23:04] kylos101 commented on #9673
Internal Slack references [[1](https://gitpod.slack.com/archives/C0201TXMV54/p1652118990939579)][[2](https://gitpod.slack.com/archives/C0201TXMV54/p1651483044084359)][[3](https://gitpod.slack.com/archives/C01TNS8EVQT/p1651754208011489?thread_ts=1651754203.695529&cid=C01TNS8EVQT)]

[2022-05-10 23:11] kylos101 commented on #9673
@utam0k one way to start researching this issue, may be to look at the [occurrences](https://github.com/gitpod-io/gitpod/issues/9673#issuecomment-1122995224) for when it happened (roughly) and check for high CPU, memory, or garbage collection [in Grafana](https://grafana.gitpod.io/d/ws-daemon/gitpod-component-ws-daemon?orgId=1&refresh=30s), to see if maybe there is a related trend?

Grafana for ws

[2022-05-10 23:24] kylos101 commented on #9673
[Starting here](https://github.com/gitpod-io/gitpod/issues/9893#issue-1230919250) is probably the best.

[2022-05-10 23:39] kylos101 commented on #9688
One thing to think about for this issue, is that in JetBrains we want to see resource usage for the container and the node. If we were to do this for the container, how would that impact our ability to share node details?

[2022-05-11 00:35] kylos101 commented on #9775
@Furisto we have this placeholder epic out there to fully support cgroup v2. Is there anything you'd recommend we add or change?

I was talking with @utam0k today, and we added two issues for consideration:
1. https://github.com/gitpod-io/ops/issues/2028
2. https://github.com/gitpod-io/gitpod/issues/9688

[2022-05-11 03:32] akosyakov commented on #9874
@felladrin It will imply that we need to wait 7 mins to work on backend plugin each time? 5 mins full gralde build + 2 mins of intellij indexing?

[2022-05-11 03:42] akosyakov commented on #9874
@mustard-mh I did not entirely understand this point. But please file a new issue for that and add to webapp inbox. cc @jankeromnes @geropl

[2022-05-11 03:48] akosyakov commented on #9902
https://github.com/gitpod-io/website/issues/2003 is a dup?

[2022-05-11 04:25] cookiii opened #9920 "Workspace stuck on stopping screen"
### Bug description

After briefly losing my internet connection, I haven't be able to reopen the workspace I was working on. Instead it always say it's "stopping". I need to get the uncommited code. Can you please force stop the workspace so I can open it.

What happened:

- I lost my internet connection while working on my workspace (arctian-nxity-c2rxykqeypp)
- When reconnected, I try refresh t

[2022-05-11 04:51] cookiii commented on #9920
I solve issue by download the workspace and open in local.

[2022-05-11 04:51] #9920 closed

[2022-05-11 04:54] utam0k commented on #9673
- [ws-daemon is causing multiple restarts](https://cloudlogging.app.goo.gl/WJZj3AihMANnuasm6)
- [Go Routine leaks](https://grafana.gitpod.io/d/ws-daemon/gitpod-component-ws-daemon?orgId=1&from=1651234789948&to=1651446296610&var-cluster=us43xl&var-node=headless-ws-us43xl-pool-qqcx&var-pod=ws-daemon-lqjhs&var-grpc_method=Check&var-grpc_method=DisposeWorkspace&var-grpc_method=TakeSnapshot&var-datasou

[2022-05-11 05:27] bbhxwl opened #9921 "Vue configuration problem"
If I modify Vue config. JS is configured as follows:,

Then I can debug on gitpod, and I can't automatically refresh and debug locally. How can I write a configuration file?
 devServer: {
    allowedHosts: 'all',
      client: {
      webSocketURL: {
       protocol: 'wss',
        port: 443
       }
    }
  },

[2022-05-11 06:58] bbhxwl commented on #7489
I am in China and hope to have Hong Kong, Taiwan, Japan or Singapore

[2022-05-11 07:00] bbhxwl commented on #5534
![image](https://user-images.githubusercontent.com/26525599/167788372-5ee9d60f-f0b2-4882-b370-39b1dec3cfd7.png)

[2022-05-11 07:14] easyCZ opened #9923 "Implement GetOwnerToken RPC on WorkspaceService"
Implement Owner Token retrieval.

To do this, we need to do the following:
* [x] Extend the protobuf definitions to add `GetOwnerToken` rpc in [protobuf definitions](https://github.com/gitpod-io/gitpod/blob/main/components/public-api/gitpod/v1/workspaces.proto#L17) - this should be a seperate PR and should include the generated code (see `generate.sh` in the `public-api` component)
  * (https://gi

[2022-05-11 07:27] jankeromnes commented on #9857
6 minutes of this 😕

<img width="400" alt="Screenshot 2022-05-09 at 09 08 01" src="https://user-images.githubusercontent.com/599268/167792639-0be14bdf-afbd-4269-8997-eb38a907754e.png">

<img width="1116" alt="Screenshot 2022-05-11 at 09 23 51" src="https://user-images.githubusercontent.com/599268/167792899-9f4d00d1-1394-43d7-abf4-e120fc3c939b.png">

https://gitpodio-gitpod-aoc77xgu9kq.ws-eu44xl.gi

[2022-05-11 07:29] csweichel commented on #9874
The trade-off that we're looking at today is: "spend 10 minutes for everyone outside of the EU region to download the prebuild + egress cost" vs "spend 7 minutes for anyone who wants to work on JB, without the egress cost".

Hence, removing the gradle command for now makes 💯 sense. Moving to another repo - as you pointed out - does not solve the issue.
This prebuild performance problem will hopefu

[2022-05-11 07:31] mustard-mh opened #9925 "Disable incremental prebuild when JetBrains caching changed"
### Bug description

Now gitpod have new `.gitpod.yml` support for JetBrains IDE caching (key `jetbrains`)

Once users change this field, we also need to disable incremental prebuild next time(like this PR https://github.com/gitpod-io/gitpod/pull/9830

Related code https://github.com/gitpod-io/gitpod/blob/81a79af4ec3f9a5de53f40370ab455bf8a054c85/components/server/ee/src/workspace/workspace-factory

[2022-05-11 07:33] akosyakov commented on #9874
ok @mustard-mh could you make a PR about moving command and we pause on it for now

[2022-05-11 08:34] lucasvaltl opened #9926 "Allow for Replicated Snapshot, Rollback, & Restore"
## Is your feature request related to a problem? Please describe
As a customer, I want to be able to rollback after I upgrade my gitpod installation using replicated. I also want to be able to periodically backup my application to help with disaster recovery.

## Describe the behaviour you'd like
- Fully implement Replicate's Snapshot, Rollback, & Restore feature to work with and for Gitpod

## De

[2022-05-11 08:38] jldec commented on #7453
yes - closing - thanks @AlexTugarev

[2022-05-11 08:38] #7453 closed

[2022-05-11 08:42] mustard-mh commented on #9874
moving to command doesn't seem to be enough, because it would make everyone who opens the gitpod repo generate 6GB of gradle cache, which is also costly to store on GS, and we advocate the concept of workspace use it up, so a lot of useless storage would be wasted, so I think we So I think we can add a command like `read -p "Press enter to continue"` to make the gradle not run by default, and the

[2022-05-11 08:45] jldec commented on #9873
@MrSimonEmms is this just a case of the self-hosted release being behind the commits on gitpod main?
If so, we don't need this issue right?

[2022-05-11 08:47] andreafalzetti commented on #9902
Closing as the original issue has been fixed - we'll follow up with #2003 cc @akosyakov @loujaybee

[2022-05-11 08:47] #9902 closed

[2022-05-11 08:51] andreafalzetti commented on #9817
Fixed with https://github.com/gitpod-io/browser-extension/pull/61

Pending action: release extension

[2022-05-11 08:51] #9817 closed

[2022-05-11 08:57] akosyakov commented on #9874
@mustard-mh Could we introduce a env variable to control it? I can enable it for me always with settings then.

[2022-05-11 09:00] mustard-mh commented on #9874
@akosyakov That's fine

[2022-05-11 09:20] laushinka opened #9928 "Implement feedback modal"
<img width="740" alt="154722195-8fbfc38e-df99-492e-aade-83c6c2c38116" src="https://user-images.githubusercontent.com/8015191/167818885-6da1b3dc-0d01-48e4-9b56-e3becd7b002d.png">

[2022-05-11 09:29] gtsiolis commented on #9873
@jldec I had the same thought but it seems we still use the old copy here in the setup step. Cc @AlexTugarev

https://github.com/gitpod-io/gitpod/blob/b5175874e7e685f2a9bf9720743b3450f403ffe8/components/dashboard/src/Setup.tsx#L36

[2022-05-11 09:34] lucasvaltl opened #9929 "Epic: Self-Hosted via KOTS/Replicated M2 "bicycle""
### Summary

This is a follow up epic on #to make the replicated installation experience even more smooth and feature complete.

### Context

The is a follow up milestone on our journey to fully implement Replicated/kots as the way to main way to install Self-Hosted Gitpod. The goal is to increase maturity and incorporate user feedback.

### Value

- Further solidify installation experience
- Full

[2022-05-11 09:40] lucasvaltl commented on #9072
Closing this and moving open issues to #9929 - the goal here of making replicated the default has been reached. We will further solidify and improve on the installation experience via #9929.

[2022-05-11 09:40] #9072 closed

[2022-05-11 09:47] loujaybee opened #9930 "gp ports command"
Currently, in IDE's such as JetBrains, and when SSH'ing into Gitpod it's not (yet) possible to manage your Gitpod ports (e.g. list open ports). This issue is to introduce a `gp` CLI command which allows a user to modify and manipulate the ports of their workspace. Ideally, in the long run, the functionality available in each of the IDE's and `gp` CLI is mirrored / consistent.

[2022-05-11 10:02] MrSimonEmms opened #9931 "KOTS database preflight checks"

[2022-05-11 10:19] loujaybee opened #9932 "Epic: Upload users SSH keys to Gitpod"
### Context

Local companion dynamically creates SSH keys for users, to grant SSH access, and the copy/paste SSH method for Gitpod uses an access code from within the workspace, and you can even manually inject your SSH public key using dotfiles. Whilst both of these approaches work, it would be better to allow users to upload their own SSH public keys to Gitpod to access their workspace using a m

[2022-05-11 10:22] MrSimonEmms opened #9933 "Storage - check connection, can upload a file to storage"

[2022-05-11 10:28] loujaybee opened #9934 "Track when Desktop IDE URI redirect fails"
When redirecting to JetBrains or other Desktop IDE's we use a redirect URI, however, it has been observed that on occasions that this redirect does not work as expected, sometimes where an exception is thrown with no user action implied. This is especially challenging during a users onboarding journey where they're likely to bounce/churn if they cannot easily set up a desktop IDE.

The following i

[2022-05-11 10:56] jldec commented on #7925
@gtsiolis
- I think feedback on our error messages will be useful (we included this in our G&Rs)
- Thank you for confirming that the top nav is ok with Docs and Feedback for now.
- I prefer to keep the privacy policy link in the form for consistency with the docs feedback. (see https://github.com/gitpod-io/website/issues/1709) - cc: @MircoatGitpod
- I very much like @laushinka's suggestion to ask

[2022-05-11 11:13] atduarte commented on #6145
If I understand correctly, we are now using IPFS to cache the container images per workspace cluster (not exactly per region) which mostly covers what is proposed in this issue. @aledbf could you please confirm my understanding is correct?

[2022-05-11 11:15] aledbf commented on #6145
That's correct.

That said, prebuilds are stored in GCS, not a container image.

[2022-05-11 11:26] jldec opened #9935 "Infinite loop refetching headless-logs in prebuild log page with system error"
The prebuild log page appears to have an infinite loop when there is a system error.
I reproduced this in a preview environment with incorrectly configured minio.

Navigating to the prebuild log page will trigger the loop and the dev console will show repeated messages like below:
The websocket will show continuously repeated requests hitting our server.

[code]

The original cause of the error in

[2022-05-11 11:27] jenting commented on #9575
If we switch back to core-dev env, running TestRegularworkspaceTasks against the core-dev env, no more `Unauthorized Error`. Perhaps it's an environment issue rather than code level issue.

[2022-05-11 11:31] jldec commented on #9935
The source of the error in my repro case above appears to [PrebuildLogs.tsx:121:20](https://alex-self-b68dfaed52.preview.gitpod-dev.com/static/js/components/PrebuildLogs.tsx)

[2022-05-11 11:58] jankeromnes commented on #6145
FYI, I've edited the [top comment](https://github.com/gitpod-io/gitpod/issues/6145#issue-1022452768) to link to an internal Slack discussion about trade-offs between caching ourselves in all GCP regions and using Cloudflare R2.

[2022-05-11 12:11] akosyakov commented on #9874
Let's keep this issue opened and mark tech debt till the situation with prebuild is storage is not improved. Then we should put everythin back and try agin.

[2022-05-11 12:26] lucasvaltl opened #9937 "Remove License <> Domain restriction"
We want to remove the coupling of a license being tied to a domain to speed up sales cycles - see internal [here](https://www.notion.so/gitpod/Customer-Experience-Sync-dad831305b0a4577abafaa8df5afbb82#081bcdaac3e042a2af03ce66e4026749) and [here](https://gitpod.slack.com/archives/C035763SNSE/p1651855642520889?thread_ts=1651846315.350509&cid=C035763SNSE)

[2022-05-11 12:37] MrSimonEmms commented on #9937
Will this be just for the [Replicated licensor](https://github.com/gitpod-io/gitpod/blob/main/components/licensor/ee/pkg/licensor/replicated.go), or for the [Gitpod licensor](https://github.com/gitpod-io/gitpod/blob/main/components/licensor/ee/pkg/licensor/gitpod.go) as well?

If the former, this should be fairly straightforward. If the latter included, this may have unintended consequences.

[2022-05-11 12:44] akosyakov commented on #9688
I don't think it is good idea. I just have a following case when VM crashed but from perspective of cgroups for particular workspace container it looked alright. A user should know consumption of node, container and for java user heap to really understand performance. I don't think hiding is a way.

Example just took in one workspace, memory consumption on Node is quite high, but from point of a c

[2022-05-11 12:49] akosyakov commented on #8704
In https://github.com/gitpod-io/gitpod/pull/9796 I'm adding an env var `JETBRAINS_BACKEND_XMX`. I wonder whether something like that can work or we would rather allow to configure it for each product individually via .gitpod.yml? Something like:
[code]

[2022-05-11 12:54] loujaybee commented on #9932
Closing as duplicate of: https://github.com/gitpod-io/gitpod/issues/6794

[2022-05-11 13:03] loujaybee commented on #9932
Re-opening as https://github.com/gitpod-io/gitpod/issues/6794 looks to be about `gitpod -> external service`, whereas this issue was intended to be about `user -> gitpod connection`.

[2022-05-11 13:05] Seenox commented on #9188
Same issue here and the aforementioned workaround wouldn't work for our use cases.
Could someone from GitPod Team help here, please?

[2022-05-11 13:09] julia-leyton commented on #9937
IMHO this should only apply to Replicated

[2022-05-11 13:19] #9172 closed

[2022-05-11 13:49] Clemog commented on #8623
Hi ! I am tring to deal with multi repos in the same workspace but adding the following lines in my gitpod config file doesn't clone the second repo ...
(for development, there are no task to do in the imported repo, it juste have to be a the same root)

Do i have something else to do to make the second repo appear in my workspace ?

[code]

[2022-05-11 14:02] princerachit commented on #9575
The unauthorized error is indeed affecting other tests as well e.g. https://github.com/gitpod-io/gitpod/blob/301190db53305cfebb8f7150fd53f8a99a23adc1/test/tests/components/ws-manager/content_test.go#L23-L24

[2022-05-11 14:39] aledbf commented on #6145
That is not GA (yet) and it seems only to support Cloudflare workers

[2022-05-11 15:32] Pothulapati commented on #9911
Thanks @shaoye for not only raising the issue, but also finding the problem. Raised https://github.com/gitpod-io/gitpod/pull/9942 to fix it. :)

[2022-05-11 15:34] loujaybee commented on #2419
Whilst it seems very unlikely this issue will be picked up in the short-term, I'm keen to keep the issue open, to hear of other use-cases from other communities who might want to leverage this type of functionality.

[2022-05-11 15:36] loujaybee commented on #9387
I believe this request is similar to: https://github.com/gitpod-io/gitpod/issues/2419 so I'm going to close the issue as a duplicate. The API for custom IDE's is not documented nor stable right now. If you want to share more details of your use case on the other issue, please do 🙏

[2022-05-11 15:36] #9387 closed

[2022-05-11 15:45] loujaybee commented on #9473
The ability to explicitly focus on a terminal could make sense as a gitpod.yml property. How often does this issue affect you? Is there a reason why opening up the editor and needing the focus is more important? Is this whilst stopping and starting a workspace to update `.gitpod.yml` or similar? Or just for general work?

[2022-05-11 15:46] sagor999 commented on #9857
This particular issue is addressed as part of this PR:
https://github.com/gitpod-io/gitpod/pull/9475
https://github.com/gitpod-io/gitpod/blob/3d4eed6b5740bc150769e1078800e14c543d7ae4/components/ws-manager/pkg/manager/manager.go#L263
Where instead of re-creating pod every 5 seconds it will let it sit for 60 seconds now.
That might help with autoscaler as well.

But I think for this particular issue

[2022-05-11 15:49] loujaybee commented on #9069
Will close this now, @CompeyDev unless others replicate or the issue persists. This might be something like a workspace misbehaving or an unfortunate workspace scheduling mishap. However, will continue to keep an eye out for reports, thanks a lot for raising 🙏

[2022-05-11 15:49] #9069 closed

[2022-05-11 15:49] sinansonmez commented on #9473
When starting workspace, I am opening multiple terminal (run server, run react based front end and others).

In one of the terminal, I am asking user to enter some inputs such as github username. That is why I want to focus on this terminal so user see the request and enter the requested information.

[2022-05-11 15:51] loujaybee commented on #9364
Thanks for the feedback, @mashuk999. We're not actively focusing on the collaboration features currently, but it is still an experience we really do want to improve. Whilst not a perfect workaround (and if you're happy with a 3rd party service, you could look into the different plugins to see if they meet your needs) in the mean time: https://www.gitpod.io/docs/sharing-and-collaboration#external-c

[2022-05-11 15:54] kylos101 commented on #9857
Short term: @Furisto reduced the memory requests, this should help more workspace pods lands on nodes w/o needing to auto scale so often, but we'll still need to auto scale.

Long term: @aledbf changed the auto scaler config to [hold onto nodes longer](https://github.com/gitpod-io/gitpod-packer-gcp-image/pull/83). @aledbf is there a change you're thinking of for the over-provisioner?

Next steps:

[2022-05-11 15:56] richardfrankza commented on #7671
Loving the product overall, but as a newbie to gitpod customising my workspace image - it has been painfully slow to iterate and get it right. I look forward to this feature.

[2022-05-11 15:58] sagor999 commented on #8309
This particular error is fixed with this: https://github.com/gitpod-io/gitpod/pull/9803

[2022-05-11 15:58] #8309 closed

[2022-05-11 15:58] jimmybrancaccio commented on #9307
I am not sure where the issue in this is, but I figured I would mention it still exists after updating to KOTS v1.70.0.

[2022-05-11 15:59] loujaybee commented on #9739
You can edit or customize your shell using dotfiles support: https://www.gitpod.io/docs/config-dotfiles#dotfiles.

I think this type of functionality is probably best distributed through existing package managers like:

https://github.com/ohmyzsh/ohmyzsh/wiki/Themes
https://github.com/oh-my-fish/oh-my-fish

As it'll be hard to agree a standard convention for Gitpod, however a default (kumquat oran

[2022-05-11 15:59] #9739 closed

[2022-05-11 16:08] #9842 closed

[2022-05-11 16:11] loujaybee commented on #9089
@EthanDevelops can you elaborate on what the restriction for you? ports? networking? a protocol issue?

If it's a network issue, you could consider investigating using tailscale for that:
https://www.gitpod.io/docs/configure/tailscale#network-bridging

If it's a port you need to forward, you can do that via SSH on the command-line, also:
https://www.gitpod.io/docs/ides-and-editors/command-line

[2022-05-11 16:16] loujaybee commented on #6127
Should be addressed in: https://github.com/gitpod-io/gitpod/issues/8513
PR open: https://github.com/gitpod-io/openvscode-server/pull/346

[2022-05-11 16:19] loujaybee commented on #9930
Relates to: https://github.com/gitpod-io/gitpod/issues/9286

[2022-05-11 16:20] #9401 closed, assigned to nobody

[2022-05-11 16:28] loujaybee commented on #5765
@filiptronicek could you take a look into this one?

[2022-05-11 16:33] #9676 closed

[2022-05-11 16:53] shaoye commented on #9911
Thanks @Pothulapati, btw, I modified the kots yamls manually for `upstream/gitpod-storage-s3-secret.yaml` and triggered a new deploy on kots admin console. But it didn't work. or should it to be a fresh reinstall?

<img width="824" alt="image" src="https://user-images.githubusercontent.com/15662193/167904657-42e260da-ef07-4279-a88f-51a22015d7a4.png">
<img width="1212" alt="image" src="https://user

[2022-05-11 18:35] Furisto opened #9945 "Support config reload for ws-manager"
## Is your feature request related to a problem? Please describe
ws-manager should reload its config, once changes are detected. Otherwise ws-manager needs to be restarted which breaks workspace success metrics.

## Describe the behaviour you'd like
ws-manager should pick up changes to the config map automatically instead of needing a restart.

[2022-05-11 18:41] Furisto opened #9946 "Fire alert when nodes are added too quickly"
## Is your feature request related to a problem? Please describe
If many nodes are added in a short time, fire an alert. This would have helped us detect the recent situation where autoscaler added 23 nodes.

## Describe the behaviour you'd like
Look at grafana to assess to finetune the alert. A good starting point would be something like an increase of 60% (but at least 6 nodes) over the last 10

[2022-05-11 20:24] kylos101 commented on #7934
@Furisto we should also see if we can make it so that when loadgen is used, that it can actually backup to object storage. Right now it cannot, I believe because the userid doesn't relate to an actual bucket. I will add as an issue to this epic meow.

[2022-05-11 21:07] kylos101 opened #9948 "Stopping workspaces can upload their backup to object storage"

[2022-05-11 22:23] gtsiolis opened #9950 "Use the published gitpod theme in gitpod"
### Bug description

Following up from https://github.com/gitpod-io/gitpod/issues/4281, when you install the newly published **Gitpod Theme**[[1](https://open-vsx.org/extension/gitpod/gitpod-theme)], users end up with duplicate theme entries.

<img width="619" alt="Screenshot 2022-05-12 at 1 19 14 AM" src="https://user-images.githubusercontent.com/120486/167957286-62da961c-6921-499a-a8fe-6bf00f38b

[2022-05-11 23:28] jenting opened #9953 "Enhance the workspace integration tests TestUploadDownloadBlob and TestUploadDownloadBlobViaServer"
### Bug description

Enhance the workspace integration tests **TestUploadDownloadBlob** and **TestUploadDownloadBlobViaServer** to make it available to run in locally, without necessary to build a container image and run a Pod within the Kubernetes cluster. If we run these two locally, it'd failed at DNS lookup the MinIO server `minio.default.svc.cluster.local:9000` since there is no MinIO server

[2022-05-12 01:01] jeanp413 commented on #9839
After investigation it's a vscode bug, created an upstream issue https://github.com/microsoft/vscode/issues/149309

[2022-05-12 01:07] felladrin commented on #9874
Now that #9927 has been merged, I've noticed that even if I don't press enter to start the Java task, I still have intellisense for kotlin files in `backend-plugin` and `gateway-plugin` when I open Gitpod Repo on IntelliJ IDEA. 🤔 Makes me wonder if we actually need to run that task.

- #9927

[2022-05-12 01:54] kylos101 commented on #9575
@princerachit this was marked as done, moving back to in-progress, not sure if you meant to mark as done.

[2022-05-12 02:21] jenting commented on #9575
I think it's because I close this issue by accident :sweat_smile: (clicks the wrong button) , and I forget to moving back to in-progress status, sorry about that.

[2022-05-12 03:28] akosyakov commented on #9839
@jeanp413 Would you be able to have a look into fix for this please? 🙏

[2022-05-12 03:33] akosyakov commented on #9874
@felladrin How fast is your dev loop when you try changes? gradle build is not relevant for IntelliJ, but for testing

[2022-05-12 03:51] akosyakov opened #9955 "terminate IDEs gracefully on workspace shutdown"
### Bug description

Right now we send SIGKILL to all process of IDE group. Here is a feedback about it from JB folks:

Instead we should call `remote-dev-server.sh exit /path/to/project`. Not doing can lead to broken indexes and it is most likely a reason why we see reindexing sometime on workspace restart.

cc @csweichel

### Steps to reproduce

see above

### Workspace affected

_No response_

[2022-05-12 05:49] jeanp413 commented on #4281
Still needs publishing to MS marketplace, need new key to publish

[2022-05-12 05:49] jeanp413 commented on #9950
Yes, I will remove the ones that are built-in inside gp-code

[2022-05-12 06:02] jenting commented on #9575
@princerachit If I comment out this [line](https://github.com/gitpod-io/gitpod/blob/791163b5ccfd79c7e5154c48b1c82a40360429d9/test/pkg/integration/integration.go#L49), the integration test pass on preview environment without `Unauthorized error`.

So, what you assumption is correct, there is a bit different on k3s vs GKE cluster.

[2022-05-12 06:04] kylos101 commented on #9544
Hi @jeffrey-zhang , my apologies for the delay!

May I ask you to try with this version of the installer? I think it will help you with the evaluation.

[code]

I branched from our [April release](https://github.com/gitpod-io/gitpod/releases/tag/2022.04.1), and [cherry-picked](https://github.com/gitpod-io/gitpod/tree/9544-patch) the relevant fixes for you. Let us know?

CC: @corneliusludmann

[2022-05-12 06:10] ghuntley opened #9956 "Menu item in VSCode to stop workspace and start a new one aka rebuild workspace"
## Is your feature request related to a problem? Please describe
## Describe the behaviour you'd like

<img width="514" alt="Screen Shot 2022-05-12 at 4 08 42 pm" src="https://user-images.githubusercontent.com/127353/168003290-e2ca40cd-5332-4ff1-b330-2b98ec2414c2.png">

From: https://twitter.com/hrittikhere/status/1524630369575702528?s=20&t=jmOoNX6wzNVo0bJV93clDQ

## Additional

- [Internal discus

[2022-05-12 06:12] #9244 closed

[2022-05-12 06:51] princerachit commented on #9575
I suspect this is probably because we have different method of authorization, with core-dev we use `access-token` to authorize but with k3s we use `client-certificate-data` and `client-key-data`.

[2022-05-12 07:00] princerachit commented on #9575
So here is the issue the `config rest.Config` object being passed to [this function](https://github.com/gitpod-io/gitpod/blob/77d12d7a8fddd7247680f3cd5099c1d70f78698f/test/pkg/integration/integration.go#L45) can either have an access-token for auth or a TLSConfig containing the  `client-certificate-data` and `client-key-data`.

When the method is set to access-token we can override the TLSConfig w

[2022-05-12 07:04] jeffrey-zhang commented on #9544
@corneliusludmann and @kylos101 , thanks for your support. let's try it first and feedback to you later.

[2022-05-12 07:06] kylos101 commented on #9544
:pray: you should be able to get the binary like so:

[code]

[2022-05-12 07:20] hrittikhere commented on #9956
So, to understand this issue, we need to understand where I am coming from first. I am using codespace since Day 2 and got introduced to GitPod much later. I like gitpod for the `.gitpod` yaml and the containers are a bit more robust if compared to codespaces.

One of the good features of codespaces is allowing for rebuilding containers with a click:

![image](https://user-images.githubusercontent

[2022-05-12 07:23] jenting commented on #9575
We could delete the line
https://github.com/gitpod-io/gitpod/blob/791163b5ccfd79c7e5154c48b1c82a40360429d9/test/pkg/integration/integration.go#L49
because we are able to use secure TLS config to interact with kube-apiserver on core-dev env as well as preview env.

[2022-05-12 07:24] CompeyDev commented on #9069
It seems to happen with random workspaces though, it has nothing consistent to it.

[2022-05-12 08:05] AlexTugarev opened #9962 "Revert "Revert "[prebuilds] no prebuilds for inactive repos"""
We need to undo the revert of https://github.com/gitpod-io/gitpod/pull/9959 as soon as its impact on DB performance is well understood.

[2022-05-12 08:06] YesmanMaxim commented on #5095
Hello!
Getting started with gitpod and noticed that when creating Project from the bitbucket cloud repository in "Branches" available only 10 branches. Probably caused because of [default bitbucket pagination](https://developer.atlassian.com/cloud/bitbucket/rest/intro/#pagination)

P.S. gitpod is really nice tool

Thanks in advance

[2022-05-12 08:07] atduarte commented on #9775
@kylos101 aren't those references related with the benefits of cgroup v2? Was trying to understand why cgroup v1 will need to be maintained.

[2022-05-12 08:35] loujaybee commented on #9955
Seems related, or could possibly be implemented with the end task functionality: https://github.com/gitpod-io/gitpod/issues/3966

[2022-05-12 08:37] gtsiolis commented on #5095
Thanks for the feedback, @YesmanMaxim!

We deliberately surface only the _10 most active branches_ for projects until we figure out a better way how to fetch more branches efficiently with proper pagination or caching, see https://github.com/gitpod-io/gitpod/issues/5038. Let us know if you are not seeing this for the Bitbucket repository.

You can also search through other active branches that are

[2022-05-12 08:46] YesmanMaxim commented on #5095
@gtsiolis, thanks for the answer, but
1. search for branches works only for those 10 branches, which are shown on a page (see screenshot)
2. _most inactive branches_ are shown in the preview (a few years ago of the latest activity)
<img width="1401" alt="Screenshot 2022-05-12 at 10 41 51" src="https://user-images.githubusercontent.com/13819569/168030529-068d44b8-ee59-43cd-b359-e39b42d20630.png">
S

[2022-05-12 08:59] aledbf commented on #9775
For self-hosted, having only v2 could be an issue for managed solutions

[2022-05-12 09:26] bbhxwl commented on #8901
My project is net core 3 1 can't be used. It seems that it can only be 6.0

[2022-05-12 09:39] utam0k commented on #9673
This is one scenario I've considered.

1. Add some new nodes by the autoscaler
2. The workspace starts up all at once
3. Write load (and CPU utilization) increases all at once, causing file creation to be delayed
4. Slower generation of IWS services, i.e., creating uds file(`daemon.sock`)  is delayed.
5. workspacekit attempts to connect to the IWS service, but the file for uds does not exist.

[2022-05-12 10:00] loujaybee opened #9967 "Track language usage (via file extensions) in Gitpod"
Track the language (file extension) of edited files, by firing an event with the file extension (language) when a user opens and edits. a file. We only need to fire a single event per language, per workspace, as more events are not needed.

[2022-05-12 11:44] #9844 closed

[2022-05-12 11:58] #9575 closed

[2022-05-12 11:59] jenting commented on #9782
Reopen because the test `TestParallelBaseImageBuild` failed https://werft.gitpod-dev.com/job/gitpod-custom-jenting-change-workspace-nightly-9749.53#integration%20test:test-image-builder

[2022-05-12 12:32] lucasvaltl opened #9971 "[Self-Hosted] Notify Self-Hosted Users when they lost features above 10 users"
## Is your feature request related to a problem? Please describe
Currently, errors due to licensing issues are not handled. This means that:
- If a feature is not available to a use a feature (in the dashboard), there is a silent error in the javascript console but no notification to the user. Specifically, the EE_License_Required Error (see #3918)

## Describe the behaviour you'd like
- From a te

[2022-05-12 12:33] lucasvaltl opened #9972 "[Self-Hosted] Handle No More Seats on License Error"
## Is your feature request related to a problem? Please describe
Currently, errors due to licensing issues are not handled. This means that:
- If a user is blocked from signing up because there are no more seats available on a self-hosted license, the error is returned in the URL but this is unclear to the user because they just see the sign up page again.

## Describe the behaviour you'd like
- T

[2022-05-12 12:43] gtsiolis commented on #5095
Ah, maybe we're using different limits on the Bitbucket integration. @AlexTugarev Do you know? Cc @jldec

[2022-05-12 12:48] lucasvaltl opened #9974 "[Self-Hosted] Proactive Admin notifications"
## Is your feature request related to a problem? Please describe
Currently, an admin of a self-hosted installation can only see the state of their installation regarding license if they proactively look into the license tab of the admin age themselves, or the KOTS Installation UI. This means that they might only get notified of an issue (e.g. out of seats) when it is too late, potentially causing

[2022-05-12 13:22] MrSimonEmms commented on #9974
I like this. I guess we have to think about how we configure the broadcast medium.

In ascending order of difficulty, I'd suggest something like:
1. push notification from the browser. I think you can configure these to be sent, even if you don't have your browser open on the webpage
2. Slack/Teams notifications
3. Email - even though it's an old technology, it's always fiddly to set it up and we'

[2022-05-12 13:23] MrSimonEmms commented on #9971
Initially I thought it might not be right to have this sent to every user, but I think I was wrong - admins may not be on Gitpod daily but users will be, so their the "front-line" who can notify the admins if necessary

[2022-05-12 13:51] gtsiolis commented on #9974
Thanks for opening this, @lucasvaltl! This cought my attention!

Usually such notifications are :a: shown and persist directly in the product and :b: sent via email to (instance) admins, regardless if we'd like to show these on pro-actively or not.

Using the new alert component sounds ideal for such in-product notications. For example, this is how we could warn users that prebuilds have been paus

[2022-05-12 14:09] loujaybee opened #9975 "Provide instructions when JetBrains Gateway is not installed"
Currently, when a new user comes to Gitpod, and selects a JetBrains IDE and starts a workspace, they are greeted with a browser prompt. However, if the user does not have Gateway installed, this leads to an error, which is only logged in the browser, and no obvious user action is given. This issue is to catch that exception, and provide the user with instructions on how to install Gateway.

Could

[2022-05-12 14:31] gtsiolis commented on #9971
Similarly with https://github.com/gitpod-io/gitpod/issues/9974#issuecomment-1125023447, a global alert component could be used for informing admins or even users about the license status.

[2022-05-12 15:10] loujaybee opened #9977 "JetBrains Gateway does not update homepage (without restart)"
JetBrains Gateway homepage Gitpod buttons do not update on first visit.

**Steps to replicate**
1. Download JetBrains Gateway for the first time
2. Authenticate with Gitpod
3. Go back to the home page of Gateway

**Expected results**
1. Button "connect to gitpod" is updated to "gitpod workspaces" (or similiar)
2. The left-hand navigation is extended with the Gitpod tab + logo

**Actual results**
1

[2022-05-12 15:21] loujaybee commented on #9975
@gtsiolis - If you have ideas, or thoughts on this one, feel free to drop any suggestion 🙏

[2022-05-12 15:38] loujaybee opened #9978 "Remove browser redirect to open JetBrains Gateway workspaces"
The jump to the browser causes flashing and moving around between desktops, it would be good if the user can simply open the workspace in JetBrains without needing to go via the browser.

**Steps to replicate:**
1. Open JetBrains Gateway
2. Open workspace

**Expected result**
1. Workspace opens immediately

**Actual result**
1. Redirects to browser for workspace load

[2022-05-12 16:11] bbhxwl opened #9980 "plug-in unit PeachPie for Visual Studio Code。 I can't debug my net core. This plug-in is missing"
PeachPie for Visual Studio Code
   I can't debug my net core. This plug-in is missing

[2022-05-12 16:30] axonasif commented on #7832
Test

[2022-05-12 16:44] jimmybrancaccio opened #9981 "Add Option to Set Proxy Service as ClusterIP Type in KOTS Admin UI"
## Is your feature request related to a problem? Please describe

For users who don't use the Proxy service as a LoadBalancer and instead have their own LoadBalancer in place, it would be very helpful to have the ability to set the Proxy service as ClusterIP instead. I believe having to manually set this has caused several failed Gitpod updates for me.

## Describe the behaviour you'd like

Ideall

[2022-05-12 16:50] axonasif commented on #7832
test

[2022-05-12 16:55] jimmybrancaccio opened #9982 "Investigate KOTS Preflight Check Warning - Kernel Version Showing "No matching files" Message"
### Bug description

I have just recently noticed the preflight check for kernel version seems to not be working correctly. I am not positive what system it is checking the kernel of or the files for, but here is the `uname -a` output of my master node and two worker nodes:

[code]

They are above the pre-requisite of 5.4.0 however I am not sure what files its complaining about missing.

<img widt

[2022-05-12 17:03] axonasif commented on #7832
t

[2022-05-12 17:04] axonasif commented on #7832
t

[2022-05-12 17:08] axonasif commented on #7832
test

[2022-05-12 17:22] #8973 closed

[2022-05-12 17:22] atduarte commented on #8973
Closed in favour of smaller and more specific 🛹 epics.

[2022-05-12 17:25] atduarte commented on #8971
Should we rename this epic to be more focused on the user outcome? E.g. "Epic: Instant edit mode"

[2022-05-12 17:43] atduarte commented on #9018
Closing since this was partially done and the rest is represented by https://github.com/gitpod-io/gitpod/issues/8992

[2022-05-12 18:27] sagor999 opened #9984 "webapp: ensure that we can store snapshotVolumeID and relevant snapshot volume data in DB schema"

[2022-05-12 19:48] easyCZ opened #9986 "api.<domain> not accepting HTTP 2 traffic on VM Preview envs"
Preview envs go through ngingx ([config](https://github.com/gitpod-io/ops/blob/main/charts/ingress/environment/harvester/conf-cm.yaml)). The config doesn't seem to accept HTTP 2 requests correctly which causes the API endpoint to be unreachable by a gRPC client.

[(internal) Slack thread](https://gitpod.slack.com/archives/C01KGM9EBD4/p1651587064973659)

[2022-05-12 23:01] utam0k commented on #9775
Realistically cgroup v1 is still a major player. k8s only recently supported cgroup v2. it would not be surprising if there is software that only supports cgroup v1.

[2022-05-12 23:02] utam0k commented on #8901
@bbhxwl Thanks for your information. Do you have trouble with .Net 3.1?

[2022-05-12 23:55] #9749 closed

[2022-05-13 00:39] kylos101 commented on #9673
@utam0k what did you see in the logs and grafana about yesterday's issue? I think `ws-daemon` cannot init workspaces (but am not sure why), fails the liveness check (am not sure why), and then gets restarted.

I am not sure on this. Since the liveness check fails, I am skeptical reconnect time will help. :thinking:

How so? Probably. :smile:

That idea makes sense to me, because this issue impacts

[2022-05-13 00:48] shaoye commented on #9188
we switched to Ubuntu 2004 and it worked

[2022-05-13 01:06] utam0k commented on #9673
@kylos101 Thanks for your comment.
Checking the logs, I observed a large number of connection timeouts from workspace to ws-daemon at the same time.[[1](https://cloudlogging.app.goo.gl/JmNG7TJAM4qp7KwY6)] This is probably due to a delay in generating files for uds. This is not confirmed due to lack of logs.
So why the delay in generation? As you can see from the commit above, the uds file is creat

[2022-05-13 01:10] kylos101 commented on #9673
https://github.com/gitpod-io/gitpod/commit/b869dbe3455fb2727a39d026c758d95ddaa91277

Ah, I see, so, artificially recreate a timeout to see how things behave? I like it. Worth a shot. Especially if loadgen doesn't help recreate.

[2022-05-13 01:30] utam0k commented on #9673
@kylos101 In fact, this is how I was able to reproduce it yesterday. By reproduction, I mean that a workspace stops with the same error messages and pending status.

[2022-05-13 02:13] jenting opened #9990 "Fix broken workspace integration test TestMissingBackup(PVC)"
### Bug description

Fix the broken workspace integration test TestMissingBackup of PVC test  https://github.com/gitpod-io/gitpod/blob/81c5a507fd14b27675a1907393539da0a885bc78/test/tests/components/ws-manager/content_test.go#L188

[code]

### Steps to reproduce

Run the integration test
[code]

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No

[2022-05-13 02:43] jenting commented on #9990
cc @sagor999

[2022-05-13 04:40] jenting commented on #9782
It's only reproducible on the preview environment, but can't reproduce on core-dev.

[2022-05-13 05:54] AlexTugarev commented on #5095
The listings on Branches pages is quite expensive, thus we decided to cut the queries at 10 items initially. I'm not entirely sure how helpful or maybe even misleading the search bar is on this page 🤷🏻

The next iterations goal was/is to introduce pagination+search as to the Project's API, so that we can make use of it on the providers side. Unfortunately, this is a bit delayed – but definitely no

[2022-05-13 06:55] geropl commented on #9607
Still seems to be the case, see [slack](https://gitpod.slack.com/archives/C01KGM9ETU6/p1652422933278919?thread_ts=1651131209.453549&cid=C01KGM9ETU6).

[2022-05-13 07:12] akosyakov commented on #9839
I wonder whether we can propose some workaround for now. Maybe using Gitpod tasks and calling code cli from it? Or it can cause race conditions as well?

[2022-05-13 08:50] jldec opened #9994 "Show prebuild logs for all tasks"
The prebuild logs viewer in workspace startup, and in project prebuilds, only shows the logs for the first tasks.
This makes it difficult to debug prebuilds in workspaces with multiple tasks, e.g. multi-repo workspaces.

Since tasks can run in parallel, there need to be multiple log display areas in the page.
I quite like the way the werft UI does this.

![Screenshot 2022-05-13 at 09 48 28](https:

[2022-05-13 08:55] meysholdt commented on #9891
An important use-case for this feature: When a preview env gets created from a branch that only has old commits, it's being GCed immediately today. Implementing this feature would have prevented that.

Context: https://gitpod.slack.com/archives/C032A46PWR0/p1652431918110569?thread_ts=1652427026.649699&cid=C032A46PWR0

[2022-05-13 09:47] #9814 closed

[2022-05-13 10:13] utam0k commented on #9673
Hi, @Furisto. Did this problem appear when you did the load test?

[2022-05-13 10:24] utam0k commented on #9673
Today, I created workspace-preview and then tried launching multiple workspaces at the same time with a significant load (using stress-ng and dd commands), but could not reproduce the problem 😭

Perhaps this PR might be effective, but I don't know because I cannot reproduce the problem. However, it is worthwhile: xfs limits use locks, and depend on the number of workspaces managed by ws-manager, i

[2022-05-13 10:42] jldec commented on #9102
Approve - the DB config is hard to control, and too magical.

NOTE: there is a 4th mechanism - auto-inferred gitpod.yml for repos which don't have one. - see PR https://github.com/gitpod-io/gitpod/pull/7383

Making this less mysterious was discussed also in https://github.com/gitpod-io/gitpod/issues/6724 (closed)

[2022-05-13 12:18] geropl opened #10001 "Cleanup DB state after #7171"
Original issue: https://github.com/gitpod-io/gitpod/issues/7171

It seems we still have some users with a bad DB state. We should cleanup those duplicates.

Identify users by counting subscriptions per user, and display those with more than 10 should turn up the one in bad state.

[2022-05-13 12:20] geropl opened #10002 "Cleanup DB state after #7171"
Original issue: https://github.com/gitpod-io/gitpod/issues/7171

[It seems](https://gitpod.slack.com/archives/C01KGM9AW4W/p1652444018286329) we still have some users with a bad DB state. We should cleanup those duplicates.

Identify users by counting subscriptions per user, and display those with more than 10 should turn up the one in bad state.
[code]

[2022-05-13 12:33] gtsiolis opened #10004 "Removed deprecated library in favor of the new grayscale filters in tailwind"
### Problem to solve

We've been using a library[[1](https://github.com/benface/tailwindcss-filters)] to apply custom CSS filters to the dashboard. However, that library is now deprecated in favor of the new grayscale filters in tailwind.

Thanks @benface for creating `tailwindcss-filters` and adding the deprecation notice. ⚾

Thanks @laushinka for noticing this! 🏀

### Proposal

Deprecate `tailwi

[2022-05-13 14:09] jldec commented on #6730
Thanks all - the feedback is 100% valid
But I'm going to close this now for lack of specificity.
We will try to address feedback on specific errors after we ship https://github.com/gitpod-io/gitpod/issues/7925

[2022-05-13 14:09] #6730 closed

[2022-05-13 14:30] geropl opened #10008 "Revert Investigate #9924 and re-apply"
- [x] Temporary revert: https://github.com/gitpod-io/gitpod/pull/10006
 - [x] Investigate why #9924 breaks prebuilds, fix it, and re-apply

[2022-05-13 14:39] AlexTugarev commented on #10001
closing as dup of https://github.com/gitpod-io/gitpod/issues/10002

[2022-05-13 14:39] #10001 closed

[2022-05-13 15:14] mrzarquon commented on #9188
@ccli & @seenox what is your containerd version (`ctr version`)?

I'm tracking down info so we can get a resolution on this.

[2022-05-13 16:06] AndyDevman opened #10010 "Missing return values for NewAuthorizerFromDockerEnvVar() in /image-builder-bob/pkg/proxy/auth.go"
### Bug description

I think I've found a a bug with /image-builder-bob/pkg/proxy/auth.go

It looks like there should some return values specified here ? -  Compared to line 94 in the same file.
https://github.com/gitpod-io/gitpod/blob/42215c93025f5527000fb1aedfbf1bfa246067ba/components/image-builder-bob/pkg/proxy/auth.go#L81

The proxy.NewAuthorizerFromDockerEnvVar() function is called within /im

[2022-05-13 16:13] kylos101 commented on #7264
@princerachit how does GAR behave?

[2022-05-13 17:18] sagor999 opened #10011 "Some workspaces fail due to failure to add git safe.directory into global config"
### Bug description

I see some workspaces in us45 that fail with this error:
[code]
And there is also this:
[code]
Seems like sometimes safe.directory call fails. But I am a bit confused by the error that could not lock config file /home/gitpod/.gitconfig: File exists

Which can happen if some other git operation started but did not finish because we started to shutdown the workspace.

### Steps

[2022-05-13 18:24] shaal opened #10014 "Environment variables losing special characters when entered through Gitpod UI"
### Bug description

1. Create a private SSH key
2. Copy-paste it into Gitpod UI (https://gitpod.io/variables)
3. Open a new workspace
4. Assign that env var as your private key
[code]
5. When trying to use commands that require that private SSH key, results in "invalid key".

But If I use copy-paste with `gp env` in terminal (instead of step 2) - it works as expected.

### Steps to reproduce

(se

[2022-05-13 18:45] #10011 closed

[2022-05-13 20:17] sagor999 opened #10017 "Make sure PVC is working in dev environment"
If we create the PVC with `spec.storageClassName=""`, the Kubernetes will search the storage class name "" rather than using the default storage class (which is local-path) in the cluster, ref to https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume.

We should update the code then to not set storageClassName in that case. As that would be what users in self

[2022-05-13 20:18] sagor999 commented on #9990
@jenting this is an interesting one.
In this PR it longer crashes: https://github.com/gitpod-io/gitpod/pull/9475
But, it still fails with context deadline.
PVC is stuck in pending:
`no persistent volumes available for this claim and no storage class is set`
But looking at storage classes:
[code]
It seems like local-path one is supposed to be a default one (meaning if PVC doesn't specify storage cl

[2022-05-13 20:19] sagor999 commented on #10017
Depends on this being merged first: https://github.com/gitpod-io/gitpod/pull/9475

[2022-05-14 01:01] #9953 closed

[2022-05-14 06:13] felipealencar commented on #9875
Same problem here.

[2022-05-14 06:38] quixotictech-dev opened #10021 "Billing Says 98.5 of 100 hours remaining: All of it spent waiting for Workspace to load!"
### Bug description

For two days I have been unable to load a workspace for whatever possible reason.  Is load time supposed to count against plan hours?  Because you sure seem to require a lot of it and often end up not loading at all.  Fingers crossed that this is a bug and not Modus Operandi.  This program is no where near solid enough to expect someone to buy their load time.  Maybe if 20-30

[2022-05-14 06:40] bbhxwl commented on #8901
Yes, I haven't succeeded

[2022-05-14 06:41] bbhxwl commented on #8901
I don't know what specific steps to use?

[2022-05-14 07:17] purkhusid commented on #8901
@bbhxwl You need to use a custom docker image:
[code]

If you don't know how to use the custom dockerfile you can see how here: https://www.gitpod.io/docs/config-docker

[2022-05-14 15:33] ChamMach commented on #9875
Very surprised that there aren't more people complaining about it. Although it's about viewing the outputs/logs, for me, it becomes *complicated* not knowing exactly where the problem is

[2022-05-14 15:52] yellowsink commented on #8901
My script still works A-OK for me https://gist.github.com/yellowsink/79428ca1ef8dfa323315f914f1affd4f

[2022-05-15 02:57] bbhxwl commented on #8901
It works for me, thank you.
If I change the version, just change here?

[code]

[2022-05-15 03:21] bbhxwl opened #10023 "I don't understand how to install plug-ins?"
I don't understand how to install plug-ins?
Why is this the plug-in installed in c#.
[code]
Not this?

[code]

[2022-05-15 03:24] bbhxwl commented on #8901
https://docs.microsoft.com/zh-cn/dotnet/core/install/linux-ubuntu
Can I install it with this?

[2022-05-15 10:27] newbe36524 opened #10024 "Prebuild only run when first time of project add into self-host Gitpod"
### Bug description

I deploy a self-host Gitpod in Azure as https://github.com/gitpod-io/gitpod-microsoft-aks-guide says.

Everything works but some problem of prebuilds raised.

Prebuilds of DEFAULT branch only run at the first time when a new repo added as a project in gitpod.  After that, when I make some changes on the DEFAULT branch, it doesn't trigger prebuild. it's always in the READY stat

[2022-05-15 12:53] richardfrankza opened #10025 "Ability to remove pre-installed vs code extensions"
## Is your feature request related to a problem? Please describe
There are a few vs code installations that come with gitpod workspaces. There are some that have irritating update notices and/or I just don't need them.

## Describe the behaviour you'd like
Setting to disable extensions in gitlab.yml

## Describe alternatives you've considered
None

## Additional context
I get an irritating pop up

[2022-05-15 13:40] bbhxwl commented on #10021
So I bought unlimited time, but there is no Asian region, which is a pity.

[2022-05-15 16:01] jldec commented on #8933
See #8783 for example which was designed for workspace start screen only.

[2022-05-15 22:30] kylos101 commented on #9673
Hey @utam0k ,

I am thinking the following:

(Perhaps extending the timeout for ring1 might be useful.)

Will be interesting to see if gen45 (with ws-daemon backup improvements from @aledbf ) is less susceptible to this problem. Maybe add logging for now in 9996? This way we have logged errors, just in case, and will make it into next deployment.

Rather than increase timeouts, let's add logging (

[2022-05-15 22:59] felipealencar commented on #9875
Hello everyone, Idk who still is facing this issue, but I could see detailed information about my error by:
1. Selecting the option to run a default workspace;
2. Running my custom `.gitpod.Dockerfile` in a test:
`docker build -f .gitpod.Dockerfile -t gitpod-dockerfile-test .`
3. Finally, I could see the error messages related to the problems of my Dockerfile.

I hope it helps someone.

[2022-05-15 23:28] utam0k commented on #9673
I talked with @kylos101. Next steps
- Enhance `housekeeping` to save money and time.
- If we need, I put the traces into the startup process of a workspace

[2022-05-15 23:28] utam0k commented on #9673
I talked with @kylos101. Next steps
- Enhance `housekeeping` to save money and time.
- If we need, I put the traces into the startup process of a workspace

[2022-05-16 01:46] andymac4182 commented on #10023
There is many extensions that can be installed to support a single language. The docs covers how to get the id of the extension that you need to use. Also not all extensions are available at this point as this uses a different extension marketplace to the Microsoft copy of VSCode.

https://www.gitpod.io/docs/ides-and-editors/vscode-extensions

[2022-05-16 02:30] bbhxwl commented on #10023
Do I need to install the plug-in configuration file? I install it manually once, so I don't need to install it in the future?

[2022-05-16 05:36] bbhxwl opened #10027 "Support Maui"
Hope to support the Maui technology of net6 and preview the interface.

[2022-05-16 06:51] meysholdt opened #10028 "Reduce memory request of minio and workspaces in preview envs"
## Is your feature request related to a problem? Please describe
Reduce memory request of minio and workspaces in preview envs.

This will help to fit more workspaces into a preview VM.

## Additional context
https://gitpod.slack.com/archives/C01KGM9EBD4/p1652294079424289

[2022-05-16 06:54] akosyakov commented on #9839
@jeanp413 Just want to ask a stupid question before we go on with creating something like spring java extension pack. Will explicitly adding java redhat extension as first in .gitpod.yml resolve the issue?

[2022-05-16 07:24] #9782 closed

[2022-05-16 07:27] meysholdt commented on #9192
Related: https://gitpod.slack.com/archives/C01KGM9EBD4/p1652446804337589?thread_ts=1652432265.637629&cid=C01KGM9EBD4

[2022-05-16 07:28] bbhxwl opened #10032 "github Copilot support"
github Copilot support

[2022-05-16 07:54] pawlean commented on #10021
Hi @bbhxwl! It's worth tracking this here: https://github.com/gitpod-io/gitpod/issues/5534

[2022-05-16 08:09] akosyakov opened #10033 "[jb] performance and health dashboard"
After https://github.com/gitpod-io/gitpod/issues/9515 we can collect metrics on individual workspace pods.
As performance testing [[1](https://www.notion.so/gitpod/Java-Performance-e14d1acd4993410288b95e5687411172)] showed important metrics in context of JB are:
- allocated and used heap memory
- completions and typings latencies in both editor and terminal
- frequency and duration of background t

[2022-05-16 08:11] pawlean commented on #10032
Hi @bbhxwl! Copilot is GitHub only, I recommend you check out [Tabnine](https://www.tabnine.com/).

[2022-05-16 08:12] pawlean commented on #10032
Closing this for now, but feel free to open it if you have any questions! Also, please drop by our community [here](https://www.gitpod.io/chat) We'd love to chat some more there!

[2022-05-16 09:06] jenting commented on #8799
The integration test result https://werft.gitpod-dev.com/job/gitpod-custom-jenting-inte-test.0

@kylos101 should we close this issue?

[2022-05-16 09:17] mustard-mh commented on #9874
related https://github.com/gitpod-io/gitpod/issues/6650

[2022-05-16 09:55] bbhxwl opened #10035 "C # incorrect error prompt"
### Bug description

C # incorrect error prompt
My project can run, and he also suggested that he couldn't find this method

![image](https://user-images.githubusercontent.com/26525599/168567284-7fbdf9bb-badd-4309-862e-f6569d77cfa6.png)

### Steps to reproduce

![image](https://user-images.githubusercontent.com/26525599/168567284-7fbdf9bb-badd-4309-862e-f6569d77cfa6.png)
My project can run, and he

[2022-05-16 10:00] loujaybee opened #10036 "gp init returns "internal server error""
**Steps to replicate:**
1. Go to blank repo (or without `.gitpod.yml` / delete it - `rm .gitpod.yml`) in a gitpod workspace
2. Execute `gp init`
3. See output

**Expected result**
* No output

**Actual result**
* `2022/05/16 09:58:12 500 Internal Server Error `

**Note:** No network request appears to be made at the time.

![image](https://user-images.githubusercontent.com/5528307/168568127-b5d95e

[2022-05-16 10:05] andrew-farries commented on #10008
Working in preview environment https://af-test-noae1a9bf075.preview.gitpod-dev.com/. This is off main but with https://github.com/gitpod-io/gitpod/pull/10006 reverted (ie the bug should be reproducible there)

* Created a new project from https://github.com/andrew-farries/gitpod-playground
* A prebuild was created in `PENDING` state
* Watching the logs of the prebuild we saw the image build logs f

[2022-05-16 10:16] bbhxwl opened #10037 "How many months will there be an Asian node? The only thing less than codespaces is this."
I use gitpod in Asia, and the Ping delay is 300ms. After waiting for more than half a year, I still haven't realized the Asian node of gitpod. The Asian node of codespaces is Singapore, and the delay is only dozens.

[2022-05-16 10:17] #10023 closed

[2022-05-16 10:31] kylos101 commented on #8799
Amazing work, @jenting ! Thank you for looping in @princerachit and @utam0k to help support you on this effort, too.

@jenting let's wait till the next scheduled run is complete and successful, so we can see success in Slack. That should be tomorrow, right?

@atduarte this is a tech debt epic, and almost done. We wanted to consult with you before closing. Is there anything else we need to do?

[2022-05-16 11:04] jldec commented on #7759
not quite done - see remaining tasks in description.

[2022-05-16 11:16] gtsiolis commented on #10036
@loujaybee I could not reproduce this using VS Code latest or not using Browser or Desktop. 🤷

Do you have [a minimal, reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) or repository for this?

[2022-05-16 11:31] EugenWay opened #10040 "Create a workspace from subdirectory in monorepo"
Is it possible to create an isolated workspace from a subdirectory in a mono repository that contains app examples?

Like https://gitpod.io/#https://github.com/EugenWay/apps/tree/master/[apps-name-1]

Thank you!

[2022-05-16 11:32] akosyakov commented on #9934
We actually can add some analytics into Gateway plugin as @jeanp413 does it right now for VS Code desktop extension. In order to track installations, attempts to connect, their success/failure and reasons.

[2022-05-16 12:03] atduarte commented on #8799
@kylos101 agree with you that we should wait for tomorrow to validate that the scheduling is working and the run is successful. Will it continue to fail because of `TestMissingBackup/CreateWorkspace/it_can_run_workspace_tasks/pvc_backup_init`? Would be preferable to avoid broken windows.

[2022-05-16 12:14] gtsiolis opened #10041 "Improve prebuild-in-progress page layout and actions as well as make workspace start sequence clearer"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/9904#discussion_r871268558, the **prebuild-in-progress** phase:
1. Happens before the workspace loading phases (Checking, Creating, & Starting), however, it's not clear if it takes place before or after the rest of the workspace start phases.
2. Does not re-use the prebuild log output component from the prebuild page,

[2022-05-16 12:21] princerachit commented on #8938
The issue is due to the way we decode and split the auth string in our code. In the image-builder-mk3 we split by colon which results the json to get split into multiple strings.
https://github.com/gitpod-io/gitpod/blob/6913b4fb2b6bfa4e1149efd5105e005d9d380d4c/components/image-builder-mk3/pkg/auth/auth.go#L210-L215

Due to the check at line 211 the password is never set. This result in the auth st

[2022-05-16 12:44] gtsiolis commented on #9112
I can verify this is still the case for groups you don't have maintainer access. Wondering if this could be an easy fix. Cross-linking [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1652701958740479?thread_ts=1651851769.257229&cid=C02EN94AEPL) (internal). Cc @jankeromnes @jldec

[2022-05-16 13:21] akosyakov opened #10043 "extract cgroup library from ws-daemon in supervisor"
Supervisor and ws-daemon both need information provided by cgroups, but have slightly different implementation. We need to extract a common go library.

See [this discussion](https://github.com/gitpod-io/gitpod/pull/9796#discussion_r872432473) for more context.

[2022-05-16 13:46] mads-hartmann opened #10044 "Update documentation after ArgoCD installer migration"
- Change the example in [https://github.com/gitpod-io/ops/tree/main/deploy](https://github.com/gitpod-io/ops/tree/main/deploy) so it doesn’t use the old Gitpod Argo App
- ✅ [Debugging stuck/missing staging deployments](https://www.notion.so/Debugging-stuck-missing-staging-deployments-339c88b9ec8345a69f30de2d68ea806f)]

[2022-05-16 13:47] jeanp413 commented on #9839
@szab100 we were discussing a workaround that would consist on making a extension pack with the extensions that has dependencies in this case `vscjava.vscode-java-pack` and `pivotal.vscode-boot-dev-pack` as both depend on `redhat.java`, this way all extension in the extension pack will be awaited together to finish installation.
For publishing this new extension to open-vsx you would need to creat

[2022-05-16 14:23] #10008 closed

[2022-05-16 16:14] jeanp413 commented on #9955
VS Code server have this arguments `enable-remote-auto-shutdown`, `remote-auto-shutdown-without-delay` to properly shutdown server

[2022-05-16 17:06] atduarte commented on #10037
Hi @bbhxwl 👋 We understand that currently the experience is not the best, and want to do better but unfortunately we weren't yet able to prioritise that work. We will share be sharing the updates in #5534.

[2022-05-16 17:06] #10037 closed

[2022-05-16 17:55] kylos101 opened #10049 "[observability] fire alert when we have an excessive node count"
## Is your feature request related to a problem? Please describe
If many nodes are added, many workspaces start, begin to stop, but one gets stuck in terminating and the finalizer is not removed, the auto scaler can get "stuck" scaling down on that pod's node, and will not scale down till you remove the finalizer on that pod.

## Describe the behaviour you'd like
Look at grafana to assess what rat

[2022-05-16 18:37] #9380 closed

[2022-05-16 19:57] #9901 closed

[2022-05-16 20:01] richardfrankza opened #10051 "Blank docker build screen"
### Bug description

I use a custom dockerfile. When the image is building I receive no output. There is blank space where I think you should be printing the results of the docker build output?

### Steps to reproduce

Add a custom dockerfile as per the docs and add some more commands.

I've got

[code]

### Workspace affected

_No response_

### Expected behavior

I should see the steps of the do

[2022-05-16 20:39] filiptronicek commented on #9980
Created https://github.com/peachpiecompiler/peachpie/issues/1052 asking the authors to publish the extension :)

[2022-05-16 22:02] choicelildice commented on #10014
When I try that workaround I'm getting

`Error: bad flag syntax: -----END
Usage:
  gp env [flags]

Flags:
  -e, --export   produce a script that can be eval'ed in Bash
  -h, --help     help for env
  -u, --unset    deletes/unsets persisted environment variables`

It seems to be considering the ending of my private key as a flag for the `gp env` command.

[2022-05-16 23:05] sagor999 commented on #9710
@geropl while trying to repro this case, I noticed an odd behaviour that I think is due to a fix for #9676 :
when prebuild has finished, and snapshot is being taken, prebuild will show up in dashboard in ERROR state. After snapshot was taken, it will get updated into READY state. But when I go into list of prebuilds, it still shows up there as in ERROR state.

[2022-05-16 23:12] sagor999 opened #10054 "[prebuild] prebuilds are marked as error even though they are in ready state"
### Bug description

Here is a loom video showing an issue:
https://www.loom.com/share/55988106aa8a4fc39544a53a0611daaa

Here is a description from: https://github.com/gitpod-io/gitpod/issues/9710#issuecomment-1128221314
[code]

### Steps to reproduce

follow the steps in loom video

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

[2022-05-17 00:19] utam0k commented on #9688
However, in cgroup v2, the JVM's container support will probably not work effectively, since in cgroup v2 the workspace will not be able to see the cgroup values restricted to pods. This also is the case with supervisor.

[2022-05-17 00:44] #9980 closed

[2022-05-17 03:01] shaal commented on #10014
@choicelildice my bad, I updated the workaround command to include missing the quotes.

[2022-05-17 03:42] ghuntley commented on #9019
👍 for using HISTFILE approach.

[2022-05-17 06:28] #8799 closed

[2022-05-17 06:29] pawlean commented on #10040
Hi @EugenWay! Currently, this is not possible, but I encourage you to raise a feature request. 🙏🏼 I also recommend that you join our Discord server at https://www.gitpod.io/chat where our community hang out with questions like these!

[2022-05-17 06:29] #10040 closed

[2022-05-17 06:56] MHipo commented on #8092
@CNSKnight I also noticed collaborating is also difficult (as the Gitpod plugin might throw the similar error), because it is impossible to open a particular workspace - locally on the Vscode desktop. Did you try opening a workspace as a collaborator of a repo?

[2022-05-17 07:03] geropl commented on #9875
Scheduled this, as the user experience feels really broken :confused: .

@felipealencar Thank you for sharing the workaround! This is indeed what's happening: The `headless task failed: exit status 1` error is always emitted if there's some user-error with the image build.
That could be anything from error pulling the image, to a failing Docker command inside the docker file.

[2022-05-17 07:12] geropl commented on #10054
This is clearly a "misunderstanding" on the API level, about what intermediate conditions a workspace can be in. After #10053 got merged this should be clear.

When fixing this, we should extend our tests to not only cover singular status -> prebuild mappings, but also chains, and enforce constraints like "never go to error and back to available" etc. :+1:

[2022-05-17 07:12] ChamMach commented on #9875
Yep, thanks for the workaround! I realized it too by simply building the *problematic Dockerfile* on another gitpod.

Thanks to the team for taking this issue into account too! 🙏

[2022-05-17 07:28] mustard-mh commented on #9967
Close since all merged.

Documented tracking event info in notion [JetBrains](https://www.notion.so/gitpod/jb_active_language-6116a3a5d2264972a15520c1cfb2cc30) and [VSCode](https://www.notion.so/gitpod/vscode_active_language-12a8658ae26a49c6b659ae7ffe369ee4).

[2022-05-17 07:37] jankeromnes opened #10057 "Remaining issues for simplified team plans"
### Bug description

Remaining small problems before the new Team Billing can be un-hidden, to finish https://github.com/gitpod-io/gitpod/issues/7759 :

- [x] Staging does not handle the new Chargebee webhooks properly?

Potentially relevant error from the `payment` pod:

[code]

- [x] Did pro-ration on team join break?
- [x] Polish UI (especially in Dark theme) https://github.com/gitpod-io/gitpod

[2022-05-17 07:44] geropl commented on #8195
This did not see much work due to installer, and I'm on sick leave, so moving back to "scheduled".

[2022-05-17 07:52] richardfrankza commented on #10025
Thanks please close this then, my bad!

[2022-05-17 08:14] #9710 closed

[2022-05-17 08:22] akosyakov commented on #9967
@mustard-mh I'm reopening it.

Because @jakobhero brought that it would be cool to track all opened files. I was afraid that it will be expensive, since we don't really need to store all these events but rather count languages usages per a user. Maybe we can do it like suggested [here](https://gitpod.slack.com/archives/C01KPEPKX0A/p1652774680501139?thread_ts=1652194640.602929&cid=C01KPEPKX0A).

No

[2022-05-17 08:41] julia-leyton opened #10059 "Add information to Replicated support bundle"
In order to support troubleshooting for our Self-Hosted customers it would be great to include the following info in the current support bundle.

- ` network policy`
- `storageclass`
- `volumesnapshotclasses`
- output of `kubectl version`

[2022-05-17 08:50] jankeromnes commented on #9875
Maybe this error is related? (internal) https://console.cloud.google.com/errors/detail/CNif-a-gteWfNw;service=server;version=main.3268;time=PT1H?project=gitpod-191109

[2022-05-17 09:00] laushinka commented on #7925
@jldec @gtsiolis After seeing the changes it would require, I propose implementing the feedback in error messages to be a separate PR - otherwise it would be too big.

[2022-05-17 09:40] jakobhero commented on #7925
💯! also, it would be great if we could use the same event name as on the website, i.e. `feedback_submitted` for consistent data!

[2022-05-17 10:25] nandajavarma commented on #9981
This would in fact be a very worthy improvement to make. An immediate solution for this could be as follows:
- We add a field to our [experimental configuration](https://github.com/gitpod-io/gitpod/blob/main/install/installer/pkg/config/v1/experimental/experimental.go) to set `proxyServiceType`, by default being `LoadBalancer`
- From KOTS UI, this can be provided as a `patch` in the additional con

[2022-05-17 10:28] laushinka opened #10062 "Implement for error pages"
We should have the feedback emojis under error messages.
Proposed design in the epic[[1](https://github.com/gitpod-io/gitpod/issues/7925#issue-1119369431)].

Priority for this first iteration:
~~- Login~~
~~- New Project~~
- Start Workspace

[2022-05-17 10:31] princerachit commented on #8938
I have created configuration to debug this issue locally: https://github.com/gitpod-io/gitpod/tree/prs/json-key/components/image-builder-bob#how-to-try-locally

[2022-05-17 11:39] nandajavarma opened #10064 "Add KOTS preflights to check disk size"
## Is your feature request related to a problem? Please describe

Currently, we do not have a preflight check to ensure the nodes in the cluster has a minimum storage available. This could me a problem especially if they go with in-cluster storage and the node disk size is low. It could also be a good idea to warn them of reduced performance in case they choose to go for a standard disk as opposed

[2022-05-17 12:07] josepjaume commented on #8195
Hi! Sorry to chime in - this is a major blocker for us at Factorial, and probably the first source of frustration to transition to Gitpod. It gives people a sense of "unstability". In big repos with lots of activity, having to start over again makes people nervous 🙃. People end up understanding that they need to refresh at the end of the process, but that's far from ideal (especially given that fr

[2022-05-17 13:27] Sandared opened #10065 "GitLab token expires when workspace is reused"
### Bug description

I sometimes reuse workspaces when they are in a completely uncommitable state. That means I create them on day 1 and then reopen them on day 2. However after a certain amount of time I am not able anymore to push my changes to the remote git (GitLab in my case). Probably the tokens have expired?

### Steps to reproduce

Create a workspace.
Reopen it a few days later and try to

[2022-05-17 14:27] laushinka commented on #10054
Hi @sagor999, would you mind checking if this still happening? I checked in the Admin dashboard for your `prebuild-experiment` project and the prebuilds show as ready. We had a bug in the fix for #9676 and the fix was just deployed this morning.

<img width="640" alt="Screenshot 2022-05-17 at 16 27 24" src="https://user-images.githubusercontent.com/8015191/168835482-f4cc9d01-d2fa-4804-9895-eab7b23

[2022-05-17 15:10] YoungElPaso opened #10067 "Chrome Extension requesting weird new permissons"
### Bug description

The Chrome extension has been disabled for me since it requested new permissions that look odd/don't have any reference (as far as I can find) in the repository. Here's a screenshot

![image](https://user-images.githubusercontent.com/54349/168845171-3e9505c3-15e4-49e9-abe4-7362ba9cb689.png)

What's jihulab.com? Why does the extension need to access/alter data related to that s

[2022-05-17 15:23] kethavathsivanaik commented on #4130
It's because of Brave Ad Defender, It worked normal if we disable the Ad Defender

[2022-05-17 15:46] gtsiolis commented on #10067
Thanks for bringing this up, @YoungElPaso! This is expected due to the latest **browser extension** release[[1](https://github.com/gitpod-io/browser-extension/releases/tag/v1.14)] which includes changes in the manifest to support opening repositories from `jihulab.com`, formerly known as [gitlab.cn](http://gitlab.cn/)[[2](https://about.gitlab.cn/)][[3](https://about.gitlab.com/blog/2021/03/18/gitl

[2022-05-17 16:41] #9923 closed

[2022-05-17 16:49] atduarte opened #10070 "Use a single object storage bucket per Gitpod installation"
## Is your feature request related to a problem? Please describe
Currently, full object storage permission is required to install Gitpod as it creates and uses multiple storage buckets. This is a problem for many self-hosted customers. Additionally, AWS account default limit is 100 buckets [[1](https://docs.aws.amazon.com/AmazonS3/latest/userguide/BucketRestrictions.html)].

## Describe the behavi

[2022-05-17 17:36] jldec commented on #10054
@laushinka it looks like there may be other instances of this after the deploy this morning.
see [slack](https://gitpod.slack.com/archives/C03145ZD98D/p1652801913728589) (internal)

[2022-05-17 17:57] Craftzman7 commented on #8901
I can't install .NET versions other then 6.0. Would this ever be changed?

[2022-05-17 18:03] axonasif opened #10072 "GitHub.vscode-pull-request-github is outdated"
### Bug description

Starting a PR review or commenting on PR from Gitpod web VSCODE does not work.

Logs:
[code]

### Steps to reproduce

- Open a PR from Github.
- Add a comment on a changed file.
- Check if the comment was added on the PR on github.com

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

For mor

[2022-05-17 18:53] axonasif commented on #10040
Hey @EugenWay, have you tried doing `code <your-sub-dir-here>` on a Gitpod workspace?

[2022-05-17 18:59] axonasif commented on #10051
Duplicate of https://github.com/gitpod-io/gitpod/issues/9875

[2022-05-17 18:59] #10051 closed

[2022-05-17 19:17] sagor999 commented on #10054
@laushinka just tested and I am still seeing same behaviour. Prebuild is marked as failed after it is finished, and then once snapshot is created, it is updated to "ready".
When I go into prebuilds for the project though, I still see prebuild is marked as failed.

[2022-05-17 20:01] sagor999 commented on #8584
![Screenshot from 2022-05-17 13-00-06](https://user-images.githubusercontent.com/18602811/168899656-1fc184fe-154e-44b1-b03d-c28a65e67da5.png)
Seems like this is now correctly handled by IDE. Instead of crashing, you get an error for out of space now.
Closing this issue as fixed.

[2022-05-17 20:32] jeanp413 commented on #4281
Extension is published in both open-vsx and MS marketplace, closing this

[2022-05-17 20:32] #4281 closed

[2022-05-17 20:35] gtsiolis commented on #4281
Thank you, @jeanp413! 🎉

[2022-05-17 21:05] maphew opened #10080 "Firefox extension request permissions for unrecognized domain"
### Bug description

On relaunching Firefox Gitpod extension asks for permissions to access data for sites in the jihulab.com domain. That domain is not visibly associated with Gitpod and is not listed at https://addons.mozilla.org/en-CA/firefox/addon/gitpod/

![image](https://user-images.githubusercontent.com/486200/168909536-2beef271-d6de-4070-a12c-80d044d0366e.png)

### Steps to reproduce

see

[2022-05-17 21:08] gtsiolis commented on #10080
Thanks, @maphew! Cross-posting from https://github.com/gitpod-io/gitpod/issues/10067#issuecomment-1129032821:

However, we've reverted this change for now as others have asked about this, see https://github.com/gitpod-io/browser-extension/releases/tag/v1.15. Updating the extension should suppress this permission request.

Closing this for now, but feel free to reopen if you have any further questi

[2022-05-17 21:08] #10080 closed

[2022-05-17 21:33] sagor999 opened #10081 "[ws-daemon] sporadic crash of ws-daemon"
### Bug description

About once a day one of ws-daemons crashes.
Looking at the state of `ws-daemon` container:
[code]
Looking at logs, the last entry is:
`Received SIGINT - shutting down`

This would indicate that readiness or liveness prove had failed, and k8s restarted the container.
Cannot confirm 100%, since we do not persist k8s events in log storage right now.

Looking at how health checks

[2022-05-17 21:58] utam0k commented on #10081
I have some infomations:
- It seems to happen when the ws-daemon's gc happened. [grafana](https://grafana.gitpod.io/d/ws-daemon/gitpod-component-ws-daemon?orgId=1&var-cluster=us45&var-node=All&var-pod=All&var-grpc_method=All&var-datasource=VictoriaMetrics&from=1652766900000&to=1652777759000)
- There is a go-routine reak
    - https://github.com/gitpod-io/gitpod/blob/6b11a82af7532f2c04e6f14f18222f0

[2022-05-17 22:18] sagor999 commented on #10081
@utam0k hm. I can't find a correlation between metrics and actual pod restart.

[2022-05-17 22:31] utam0k commented on #8901
@Craftzman7 Thanks for your request. If you want, please create the issue or PR on https://github.com/gitpod-io/workspace-images 🙏

[2022-05-17 22:34] utam0k commented on #8901
@bbhxwl Hi, Were other versions available with custom images? If so, please let me know on https://github.com/gitpod-io/workspace-images/issues/831 🙏

[2022-05-17 22:36] csweichel commented on #9875
@jankeromnes @meysholdt looks like a certificate issue with the new application clusters:
[code]

[2022-05-17 23:01] utam0k commented on #10081
@sagor999
Can you see `Go Runtime Metrics` section  on [grafana](https://grafana.gitpod.io/d/ws-daemon/gitpod-component-ws-daemon?orgId=1&var-cluster=us45&var-node=All&var-pod=All&var-grpc_method=All&var-datasource=VictoriaMetrics&from=1652766900000&to=1652777759000)?
If you focus on ws-damon-2djrv, you will see that it is restarting during GC.

[2022-05-17 23:06] sagor999 commented on #10070
@aledbf is working on this: https://github.com/gitpod-io/gitpod/pull/10073
Assigning to him, as I was about to start working on this... good that I checked slack threads prior to diving in.
Please update issues when you start working on them.

[2022-05-17 23:07] aledbf commented on #10070
@sagor999 sorry about that.

[2022-05-17 23:20] sagor999 commented on #9736
Closing. Since if ws-daemon crashes, it might cause some WS to fail to terminate. So we do want to have pagerduty alert as is.

[2022-05-17 23:20] #9736 closed

[2022-05-17 23:23] sagor999 commented on #9506
@axonasif should this be closed now?

[2022-05-17 23:42] sagor999 commented on #8370
going to close it for now, feel free to reopen if you see this happen again.

[2022-05-17 23:44] sagor999 commented on #6243
Closing this, since Unleashed offers increased workspace size, and as of right now we don't have plans to offer increased size for other tiers.

[2022-05-17 23:44] #6243 closed

[2022-05-17 23:50] sagor999 commented on #8450
Was fixed in: https://github.com/gitpod-io/gitpod/pull/8519

[2022-05-17 23:50] #8450 closed

[2022-05-17 23:52] sagor999 commented on #8782
@utam0k is this still valid? or was it resolved?

[2022-05-17 23:53] utam0k commented on #8782
@sagor999 It was solved!

[2022-05-17 23:53] #8782 closed

[2022-05-17 23:55] sagor999 commented on #8913
@csweichel what do you think is an appropriate solution for this? :thinking:
Or should we just provide a better error to user when this happens so that they know why WS failed?

[2022-05-17 23:57] sagor999 commented on #8979
I believe this is working now, since we used to have firewall rule that would block ICMP packets.
Running in workspace right now:
[code]

Feel free to re-open if it still doesn't work.

[2022-05-17 23:57] #8979 closed

[2022-05-18 00:01] sagor999 commented on #9250
This seems to have been due to https://www.gitpodstatus.com/incidents/12tvkhs2gyrg

[2022-05-18 00:01] #9250 closed

[2022-05-18 00:02] sagor999 commented on #9259
This has been fixed at least 2 weeks ago and shouldn't happen again (fix was in k8s 1.23.6 which we upgraded to)

[2022-05-18 00:02] #9259 closed

[2022-05-18 00:37] sagor999 commented on #9263
Customer reported same issue in front (internal): https://app.frontapp.com/inboxes/teammates/9932874/inbox/open/41825492426

Looking in logs (internal): https://cloudlogging.app.goo.gl/rwv9Ld3m8aTntM6V6
there seems to be a lot of those errors about getting permission denied when accessing `/dst/.docker-root/overlay2`

@utam0k @Furisto would you guys be able to take a look at it (when you have a ch

[2022-05-18 02:34] utam0k opened #10086 "$ gpctl workspaces list"
## Is your feature request related to a problem? Please describe

We would like to be able to collect detailed information about the workspace via the gpctl command. We are currently using atop and htop commands, but what we really want to see should be per workspace, not per process. Perhaps it could also be used for integration testing.

## How to implement?

The easiest way to do this is to pla

[2022-05-18 03:08] utam0k commented on #9263
@chuck-confluent Hi, thanks for your report. I'll check the repository you suggested. This repository uses the `docker` command during running prebuild, right?
https://github.com/confluentinc/cp-demo/blob/8b4ab8ac2590eab977d9e06b3377009b8b31e0fd/scripts/start.sh#L18-L19

If yes, sorry, but gitpod can't use docker during prebuild yet.

[2022-05-18 03:10] utam0k commented on #9263
The `docker` on the workspace is running with a special wrap process we provide when the workspace is started and the user docker command process is run.

[2022-05-18 04:03] utam0k commented on #9263
hmm... My prebuild is success with https://github.com/confluentinc/cp-demo on SaaS

[2022-05-18 04:46] richardfrankza opened #10087 "Display more information during workspace build"
## Is your feature request related to a problem? Please describe

I'd like to know under which conditions a new image has to be built. It seems random to me, perhaps to do how often you clear cached images. It may also relate to how I've set up my workspace. With more logging and information during the create workspace process I would be able to make faster dev environment builds.

## Describe the

[2022-05-18 04:51] #9724 closed

[2022-05-18 04:51] #9722 closed

[2022-05-18 05:07] #9950 closed

[2022-05-18 06:00] akosyakov commented on #9932
@iQQBot Do you think a user can somehow make use of dot files to work around it for now?

[2022-05-18 07:00] DaniAkash commented on #10054
@laushinka this is still happening in my workspace as well

[2022-05-18 08:01] jldec commented on #10062
Let’s start with new workspace.
Login and New Project are lower priority

[2022-05-18 08:03] chrifro opened #10088 "Update Gitpod logo on loading screen"
**Problem**
 "If a temporary brand change remains constant (such as displaying ukraine flag) then that becomes our new brand.”
We'd like to switch back to the loading screen with the original logo, but without giving the impression that we go back to usual business ignoring the war in Ukraine and pretending everything is normal.

**Solution**
Let's switch back to the original logo, but add a tag t

[2022-05-18 08:45] #9937 closed

[2022-05-18 08:51] princerachit opened #10089 "Image builder does not support private container registry when gitpod uses same registry"
### Bug description

If gitpod installation contains image pull secret for a registry say `myreg.com` and user tries to configure the same registry provider to pull private images then gitpod fails to pull the image.
This happens because gitpod tries to use the existing credentials of imagepull secrets rather than the credential provided by the user.

e.g. We have europe-docker.pkg.dev access cred

[2022-05-18 08:52] princerachit commented on #8938
I found another bug with this implementation and have created a separate issue https://github.com/gitpod-io/gitpod/issues/10089

[2022-05-18 08:55] bbhxwl commented on #10035
The project is relatively large and inconvenient to get out, but it is certain that all the third-party libraries referenced by nuget prompt errors, but they can actually run.

![image](https://user-images.githubusercontent.com/26525599/168999669-f866bcd2-53a6-44df-8d3b-554de8b0a3db.png)

[2022-05-18 09:05] jldec opened #10090 "GitLab connection tokens auto-expire. Repository not found starting GitLab workspace. New Project feature broken."
GitLab appears to have changed the way they do token expiration.
This results in the following errors in Gitpod

- Repository not found Error opening GitLab workspace
  <img width="388" alt="image (2)" src="https://user-images.githubusercontent.com/849592/169303746-fd00dd04-7844-4b2b-9f5d-cf37751ed6e3.png">

- New project feature broken for all users with a GitLab connection - even when creating a

[2022-05-18 09:13] AlexTugarev commented on #10090
gitlab.com was updated recently and token refresh is now enforced. Unfortunately, there is no way on our end to invalidate  all users' tokens.

From: https://docs.gitlab.com/ee/integration/oauth_provider.html#expiring-access-tokens

[2022-05-18 09:31] jldec commented on #10054
NOTE:
With this issue, even though prebuild status is being incorrectly reported, prebuilds are succeeding, and workspaces should start properly. We are looking for a fix for the incorrect status.

[2022-05-18 10:09] princerachit commented on #10089
There are a few ways we can solve this problem.

1. Maintain a list of auths for a registry combining both WORKSPACEKIT_BOBPROXY_AUTH and WORKSPACEKIT_BOBPROXY_ADDITIONALAUTH. Try the next auth in the list if the first one fails. -> This is expensive as their would be multiple calls (as we need to retry)
2. Modify the bob proxy code to maintain two maps -> One for Target ref which will use WORKSPA

[2022-05-18 10:39] akosyakov opened #10093 "[code-browser] cannot reconnect dialog is back"
### Bug description

While reviewing https://github.com/gitpod-io/gitpod/pull/10045 I noticed that this dialog pops up again for both stable and latest. We should try to reconnect forever instead as it used to be.

<img width="1904" alt="Screenshot 2022-05-18 at 12 37 21" src="https://user-
images.githubusercontent.com/3082655/169020419-e28c0d8b-d156-4cc6-b819-43dbfe9157ca.png">

### Steps to repr

[2022-05-18 10:44] mustard-mh commented on #9955
@jeanp413 @akosyakov How to reproduce with Gateway and VSCode?

[2022-05-18 10:47] gtsiolis commented on #4196
Closing this in favor of https://github.com/gitpod-io/gitpod/issues/7925. Cc @laushinka @jldec

[2022-05-18 10:47] #4196 closed

[2022-05-18 10:49] akosyakov commented on #9955
Stop a workspace and it will trigger interrupt signal: https://github.com/gitpod-io/gitpod/blob/93be74e1dff5e67bec7aacaa748c9b1818d4076d/components/supervisor/pkg/supervisor/supervisor.go#L718

We need to change go programs which are managing JB and VS Code react on interrupt and shutdown gracefully.

[2022-05-18 10:55] mustard-mh commented on #9955
Yes, I'm trying to figure out if passthrough `SIGTERM` will work or not

[exit](https://github.com/gitpod-io/gitpod/commit/03e16425364f693d4e158fe15a9c8f72e66fc63f) works or [passthrough](https://github.com/gitpod-io/gitpod/commit/57a24d8950f52044939f6286f6ff6762fbad26b5) works

Will try it, so I would like to know if there is a significant difference between reindexing or not

[2022-05-18 12:06] meysholdt commented on #9875
In case the above error message is from production, then the request
```Get \"https://ca0da695-1b59-4827-9adf-f2054be7be7d.ws.gitpod.io/_supervisor/v1/status/tasks```
looks wrong because we don't have a ws-cluster named `ws` in prod.
Requesting the wrong URL would explain why the domains from the certs don't match.

There was a change in certs indeed (https://github.com/gitpod-io/ops/pull/2228), b

[2022-05-18 12:20] andreafalzetti commented on #9908
I needed some guidance so I started an [internal chat](https://gitpod.slack.com/archives/C01KGM9BH54/p1652874925600429) to speed up knowledge sharing.

The outcome of this thread is:

Do a refactor of supervisor + VS Code Desktop would be a big change especially to make it backwards compatible. In VS Code Web, we subscribe to supervisor's port status and we listen to status changes. We then emit n

[2022-05-18 12:25] jenting commented on #10017
I'd like to handle this one @sagor999
May I assign it to me?

[2022-05-18 12:33] meysholdt commented on #10028
Context:
* The k8s YAML gets generated by the [installer](https://github.com/gitpod-io/gitpod/tree/main/install). It also holds the config for [minio](https://github.com/gitpod-io/gitpod/tree/main/install/installer/pkg/components/minio).
* The YAML for workspaces gets created by [ws-manager](https://github.com/gitpod-io/gitpod/tree/main/components/ws-manager), and IIRC it's controlled by a config.

[2022-05-18 12:39] #8938 closed

[2022-05-18 12:39] corneliusludmann opened #10100 "Add config for S3 bucket to KOTS (Replicated) installer"
Follow-up issue: Add config for S3 bucket to KOTS (Replicated) installer.

_Originally posted by @corneliusludmann in https://github.com/gitpod-io/gitpod/issues/10073#issuecomment-1129955446_

[2022-05-18 12:59] #10054 closed

[2022-05-18 13:04] akosyakov commented on #9955
I think you will need to read from codebases. But from other side we already learned from JB folks that calling exit is the best and ensure that everything is preserved. Can we do it and be done with it? 😄

[2022-05-18 13:51] chuck-confluent commented on #9263
I’ve been having successful prebuilds for a little while now too. Feel free to close this issue unless it’s helpful to keep investigating. It maybe had something to do with the big outage that happened in April?

[2022-05-18 14:07] loujaybee commented on #7639
This is not just an issue with dotfiles, but when adjusting the IDE preferences (which is auto-saved) this button also appears to be necessary (as it's at the end of the form, when in fact it's unrelated to the IDE preferences)

[2022-05-18 14:56] andrew-farries commented on #9875
Working on the assumption that it's the workspace URL that's wrong and not the certificates, these are set here:

https://github.com/gitpod-io/gitpod/blob/faa6b3096c44aeffae9c1a7b0560091bed69d816/install/installer/pkg/components/ws-manager/configmap.go#L140-L141

so if the hardcoded `ws` component in the string is incorrect, then it looks like we missed adding some configuration to the installer t

[2022-05-18 14:58] sagor999 commented on #10017
@jenting assigned you. Thank you! :heart:

[2022-05-18 15:02] corneliusludmann opened #10103 "[kots] Support `/run/containerd/io.containerd.runtime.v2.task/k8s.io` as `ContainerDRuntimeDir` in KOTS installer"
The default `ContainerDRuntimeDir` in the installer is [`/var/lib/containerd/io.containerd.runtime.v2.task/k8s.io`](https://github.com/gitpod-io/gitpod/blob/845d71874b9221523ad18cc78e86f9c3c4719b10/install/installer/pkg/config/v1/config.go#L59). However, at least for the `AmazonLinux2` image, the path needs to be: `/run/containerd/io.containerd.runtime.v2.task/k8s.io`. In the KOTS installer job we

[2022-05-18 15:40] axonasif opened #10105 "Epic: Improved support for user-defined shells (e.g. fish / zsh, etc)"
Improve the support for user-defined shells such as zsh, fish, etc.

Includes, but not limited to:

* Improve documentation around `SHELL` environment variable
* Update Gitpod compatibility matrix
* Update default workspaces images
* Update any other parts of the product that assume bash (where possible)

**Relates to:**
* https://github.com/gitpod-io/gitpod/issues/9019
* https://github.com/gitpod

[2022-05-18 16:04] loujaybee opened #10106 "Clarify / update copy text for ssh-keygen"
Whilst the better long-term solution here is: https://github.com/gitpod-io/gitpod/issues/9932. A few users were confused about the password (which is embedded in the command), and why a key is required in order to get SSH access. This is already somewhat explained in the copy text, however, some tweaks could be made to better document the feature and explain better.

![image](https://user-images.g

[2022-05-18 16:13] mustard-mh commented on #9955
I have tried `exit` command manually(both stable and EAP), but it seems not `exit` command here

<img width="849" alt="image" src="https://user-images.githubusercontent.com/20944364/169091099-9cc877ce-431b-4b3b-9166-465242678248.png">

[2022-05-18 16:48] loujaybee commented on #10105
Agree, as I have this issue/challenge with using fish terminal, however `terminal.integrated.defaultProfile.linux` is VS Code specific, so would be good to have the configuration done somewhere that's IDe agnostic 🙏

[2022-05-18 18:05] sagor999 opened #10108 "Permission denied when accessing .docker-root/overlay2"
### Bug description

I see a lot (40k in last 3 hours) errors like this in SaaS:
[code]
Link to logs: https://cloudlogging.app.goo.gl/mZg3N1J2w58wm7fLA

This might be related to an issue customer is having as well:
https://app.frontapp.com/inboxes/teammates/9932874/inbox/open/41825492426

Potentially related issue: https://github.com/gitpod-io/gitpod/issues/9263

Would like to understand why we ar

[2022-05-18 18:08] sagor999 commented on #10108
@csweichel would you have any insight as to why we might be getting this error?

[2022-05-18 18:09] srudolph-credera commented on #5409
Looks like RHEL 9 is out with Kernel 5.14 - https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9/html/9.0_release_notes/architectures. That should open the door to Gitpod, right?

[2022-05-18 18:21] jgallucci32 commented on #5409
@srudolph-credera That is very unfortunate to hear. The minimum requirement is Kernel 5.2 as it includes a SYSCALL which was only made available in that version of the kernel. I'll dig through my notes to see which exact SYSCALL is being used to see if perhaps it will be backported to RHEL9.

[2022-05-18 18:25] srudolph-credera commented on #5409
@jgallucci32 - you've got me questioning my understanding of the Linux kernel versioning scheme, but it *looks* like 5.14 would be newer than 5.2: https://www.kernel.org/category/releases.html. Apologies if I confused things by leaving out the patch version: 5.14.0.

[2022-05-18 18:27] edmondo1984 commented on #7064
The fact that as we enable pre-built GitPod stopped working and we had to dig down on this thread caused us a lot of headache. A general commands on virtual env: virtual env are here to stay, and you want to support developers collaboration. Some people will use GitPod, other won't. Making necessary to change the docker image to support virtual env and pre-builts seems to make collaboration harder

[2022-05-18 18:28] jgallucci32 commented on #5409
@srudolph-credera Yeah that's my mistake, I need more sleep lol.

You are correct that is a newer version and technically should support the needed system call.

[2022-05-18 18:37] jwpjrdev commented on #7721
I agree with this, it's quite a painstaking process to test `.gitpod.yml` and `.gitpod.Dockerfile` changes. Perhaps some sort of hot reload feature could be provided to simply refresh the current workspace?

[2022-05-18 19:52] gtsiolis commented on #3727
Closing this as :a: it has been open for more than a year and :b: most, if not all, feedback has been addressed or moved to follow up issues! Additional feedback is always welcome. Thanks everyone! 🙏

[2022-05-18 19:52] #3727 closed

[2022-05-18 19:56] sagor999 commented on #10081
From recent crash:
`Readiness probe failed: Get "http://10.20.10.195:8086/ready": context deadline exceeded (Client.Timeout exceeded while awaiting headers)`

[2022-05-18 20:17] easyCZ commented on #9229
All the required items for this piece of work have been completed. Will move epic to Done.

[2022-05-18 20:18] #9229 closed

[2022-05-19 00:19] sagor999 commented on #10081
[this](https://grafana.gitpod.io/d/ws-daemon/gitpod-component-ws-daemon?orgId=1&var-cluster=us45&var-node=All&var-pod=ws-daemon-7f7vn&var-grpc_method=All&var-datasource=VictoriaMetrics&from=1652898710126&to=1652904720561) tells me that it might not be related to number of go routines.
container restarted 3 times in a row.

I think it is something with checking containerd status.
But, looking at lo

[2022-05-19 01:11] utam0k commented on #10108
I guess this problem is related to seccomp notify.
https://github.com/gitpod-io/gitpod/blob/e24461cb8bdbca89663b2e0d74a56db96bc97eb0/components/workspacekit/pkg/seccomp/notify.go#L426-L451

[2022-05-19 05:08] akosyakov commented on #9700
@ENate Could you file another issue? An error sounds like this workspace does not belong to you. Live workspace sharing is not supported for JB.

[2022-05-19 05:38] akosyakov commented on #9930
The first version should be 🛹 and allow following:
#### List ports
[code]

This command should print a table of ports with following columns:
- status: not served|failed to expose|exposing...|served
- label: port name + number
- visibility: public|private
- url
- description

#### Change visibility of ports
[code]

Example:
[code]

[2022-05-19 05:54] DaniAkash commented on #10054
Prebuilds are still getting marked as failed after they successfully finish.
<img width="570" alt="Screenshot 2022-05-19 at 11 01 49 AM" src="https://user-images.githubusercontent.com/6841445/169219669-3663d314-f955-445e-9d76-6bbc855600e5.png">

This is causing issues with merging PRs since gitpod is a mandatory check in our repositories

[2022-05-19 06:21] tommydrum commented on #7603
Another small feature request: automatic execution of `.install.sh` and other variants prepended with the `.`

Reason being: this being dotfiles, I try to keep everything in this repo.. a dotfile. (Feels cleaner for me, but that's subjective).

[2022-05-19 06:39] mads-hartmann commented on #9891
Currently the heuristics in the job means that if either of the conditions is true, it will delete the preview environment. So in this case, the preview environment would still be deleted as the branch is stale.

I think it's a good idea to change that though, e.g. so that if there's any DB activity we don't delete the preview environment.

[2022-05-19 07:25] #9946 closed

[2022-05-19 08:40] akosyakov opened #10118 "[jb] gp preview fails if running from .gitpod.yml"
### Bug description

See https://github.com/jenkinsci/design-library-plugin/pull/66#discussion_r876189440

The issue is that JB backend is not running yet. We should await always instead.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-19 08:41] ENate commented on #9700
Thanks @akosyakov . You are right in saying that the workspace does not belong to me. But I am a collaborator to the Git repo of the project and will like to open the project on my Vscode desktop. It seems it is not possible to open the repo/workspace on my vscode desktop if I sign into github with another work account. Does this mean it is not possible to open this project (on my vscode desktop)

[2022-05-19 08:43] akosyakov commented on #9700
@ENate Please move discussion to another issue. It is off-topic here. 🙏

[2022-05-19 08:55] andrew-farries commented on #9875
This is how we used to construct these URLs in the helm chart:

https://github.com/gitpod-io/gitpod/blob/2f988c93499926bd34d6728defbd9d9c0964797e/chart/templates/ws-manager-configmap.yaml#L74-L75

so it does look as though we need to set them via the installer in a similar way...

[2022-05-19 08:59] akosyakov commented on #10105
Yes, I think `SHELL` emv var is a still way to go. Honestly even if supervisor reads from `terminal.integrated.defaultProfile.linux` I doubt it will resolve issues with `fish`.

So the focus should be to resolve:

[2022-05-19 08:59] ENate commented on #9700
Ok Thanks

[2022-05-19 09:36] princerachit opened #10120 "Extending workspace timeout using ide button fails with error"
### Bug description

When trying to extent the workspace timeout of a workspace in us45 cluster the extension fails with an error (screenshot)

![image](https://user-images.githubusercontent.com/32481722/169263245-fcf8730b-1fa7-4752-8fc1-f3444d495d91.png)

### Steps to reproduce

Start a workspace in us45 cluster. Click on the workspace timeout extend button

### Workspace affected

https://gitpod

[2022-05-19 09:39] princerachit commented on #10120
Assigning to the webapp team as it looks like the webapp is sending incorrect cluster name to the ws-manager-api.

[2022-05-19 09:52] DaniAkash commented on #10054
Not sure if a fix is merged as part of any other PRs, but the issue is fixed now 👍🏽

[2022-05-19 09:55] laushinka commented on #10054
Hi @DaniAkash, thanks for updating that it's fixed now. We only just deployed the fix less than two hours ago 🙏🏽

[2022-05-19 10:03] #9962 closed

[2022-05-19 10:08] akosyakov commented on #6452
@jeanp413 With https://github.com/gitpod-io/openvscode-server/pull/346 one will be able to log out using account menu?

[2022-05-19 10:19] atduarte opened #10122 "Workaround is required to use .Net because of the `/proc/$$/maps` problem in shiftfs"
### Bug description

Official .net installation instructions do not work, and the user needs to know about the [available workaround](https://github.com/gitpod-io/workspace-images/pull/820) or use the [Gitpod .Net template](https://www.gitpod.io/docs/languages/dotnet) to be able to work with .net.

### Steps to reproduce

Try installing .Net without using [this workaround](https://github.com/gitpo

[2022-05-19 10:35] gtsiolis opened #10124 "Add feedback successful submission step in the feedback modal"
### Problem to solve

Following up from the discussion in https://github.com/gitpod-io/gitpod/pull/10061#discussion_r876113464, the feedback modal currently lacks a successful submission step.

Cc @laushinka because https://github.com/gitpod-io/gitpod/pull/10061
Cc @jldec because https://github.com/gitpod-io/gitpod/issues/7925

### Proposal

Add a feedback successful submission step in the feedbac

[2022-05-19 10:49] MODmasterBlock commented on #4656
I have this issue

[2022-05-19 11:03] jwpjrdev commented on #6818
I'd like to note that simply adding an action to cmd+shift+P would be a bit annoying on devices like phones or tablets because it takes a bit longer to open that menu. On iPads with hardware keyboards it's not that bad but the touch screen still makes it much harder to navigate.

Side note: palette not pallete

[2022-05-19 11:15] loujaybee commented on #9090
@avinashupadhya99 if you're able to re-replicate, could you [store the logs](https://www.gitpod.io/docs/troubleshooting) and [forward them to support](https://www.gitpod.io/contact/support)? 🙏

[2022-05-19 11:15] #9090 closed

[2022-05-19 11:18] #10025 closed

[2022-05-19 11:18] #10088 closed

[2022-05-19 11:18] suprmat95 opened #10125 "Gitpod - for react native environment"
## Is your feature request related to a problem? Please describe
Is it possible to run a react native environment in gitpod?  If yes, how?

## Describe the behaviour you'd like
I'd like to have a common react native environment for my team in gitpod.

## Describe alternatives you've considered
Virtual machine.

[2022-05-19 11:25] gtsiolis commented on #8484
Resolved in https://github.com/gitpod-io/gitpod/pull/10110. @jldec Feel free to open another issue if you think it's worth keeping track of removing the new message added in the workspace start page.

[2022-05-19 11:25] #8484 closed

[2022-05-19 11:38] lucasvaltl opened #10126 "Merge Internal Compatibility Matrix with the one in the docs"
## Is your feature request related to a problem? Please describe
There is potential for our internal product compatibility matrix to drift with the external docs one.

## Describe the behaviour you'd like
Make the [current docs page](https://www.gitpod.io/docs/self-hosted/latest/required-components) the source of truth by merging it with the [internal ](https://www.notion.so/gitpod/Product-Compati

[2022-05-19 12:14] jeanp413 commented on #6452
Yes, you can logout

[2022-05-19 12:15] axonasif commented on #7603
You can always call your other scripts from your main `install.sh`.

[2022-05-19 12:19] jenting commented on #9990
The current code, creating the PVC uses the "default" storageClass (which is empty) in ws-manager config.

According to https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume, if we create the PVC with spec.storageClassName="", the Kubernetes will search the storage class name "" rather than using the default storage class in the cluster.

[code]

Therefore, w

[2022-05-19 12:23] jenting commented on #10017
The current code, creating the PVC uses the "default" storageClass (which is empty) in ws-manager config.

According to https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume, if we create the PVC with spec.storageClassName="", the Kubernetes will search the storage class name "" rather than using the default storage class in the cluster.

[code]

Therefore, w

[2022-05-19 12:53] svenefftinge opened #10128 "Epic: Send users to our community"
### Summary

The gitpod community is a super helpful resource and we should make our users more aware of their existance.

### Context

Users should not doubt how and where to ask questions, suggest features or even contribute to Gitpod.
After all, Gitpod is open-source, developed openly and sports a super friendly and engaging community.

We have two places we should send users:
 - Discord
 - Git

[2022-05-19 13:22] jldec commented on #10090
This should be fixed now - thank you @AlexTugarev 🙏 .

[2022-05-19 13:27] #9021 closed

[2022-05-19 15:12] jenting commented on #10017
I think we could use this issue to track.

[2022-05-19 15:15] christian-bromann commented on #7603
@axonasif I don't understand the answer. I am trying to get my `zsh4humans` set up and need the default shell for the `gitpod` user to be `$(which zsh)` and not `bash`. Is there a way to define user custom vscode settings? (btw: I use the VSCode app not the browser).

[2022-05-19 15:31] trumbitta commented on #7603
@christian-bromann IIRC in order to have zsh as my default shell I set up the `$SHELL` environment variable in my user settings in Gitpod.

<img width="514" alt="image" src="https://user-images.githubusercontent.com/462705/169336735-7fe88ae8-aacb-4487-96f0-e12b6c80ae0e.png">

[2022-05-19 16:17] christian-bromann commented on #7603
@trumbitta thanks, this works when I create a new terminal within VSCode but fails when executing tasks. I could workaround it by modifying them but the idea of dot files is to create custom settings. So I guess a suggestion would be to have a Gitpod user allow to set the default shell for all their tasks.

[2022-05-19 16:21] christian-bromann commented on #7603
Ok, I have to correct myself: it seems that zsh is now used everywhere but all tasks started by gitpod come with this terminal UI:
![Screenshot 2022-05-19 at 18 19 41](https://user-images.githubusercontent.com/731337/169349520-07cb1e54-b1ff-4cd3-a37c-5b991d641fe1.png)
While a new shell correctly starts like this:
![Screenshot 2022-05-19 at 18 19 56](https://user-images.githubusercontent.com/731337

[2022-05-19 17:28] jldec opened #10133 "[Admin Dashboard] User page misses workspaces when they have no workspace instance"
e.g. https://gitpod.io/admin/users/c20adfaf-96fd-4267-992e-eced35b7c2fb

[code]

Note that one of the workspaces has no corresponding workspace instance (wsi values are null)

[2022-05-19 17:37] csweichel opened #10134 "Epic: Get rid of OTS (One-Time Secret)"
### Summary

The one-time secret (OTS) mechanism is used to deliver secrets to the workspace cluster. It's not location-aware which breaks workspace startup across regions.

### Context

The one-time secret (OTS) mechanism is used to deliver secrets to the workspace cluster. During workspace startup, `server` will create up to three OTS:
- one for the SCM token
- one for the Gitpod token
- potenti

[2022-05-19 18:24] csweichel commented on #6650
Before this can work we need to solve https://github.com/gitpod-io/gitpod/issues/10134
- or make OTS region aware

[2022-05-19 18:38] mteam88 commented on #9875
Really struggling without this!

[2022-05-19 19:06] loujaybee commented on #10036
@gtsiolis, hrm, I'm not getting the response anymore 🤔

I'll close, if I see it again, will re-open 🙏 !

[2022-05-19 19:06] #10036 closed

[2022-05-19 19:20] gtsiolis commented on #7639
Thanks @loujaybee, @andreafalzetti, @sagor999, and @filiptronicek for the feedback! Could not agree more with all the points you listed.

In the spirit of [minimum viable changes](https://www.notion.so/gitpod/Core-Values-Differentiators-2ed4c2f93c84499b98e3b5389980992e#0c2e0d6c8a99404b97ccdc206b573d72) and [shipping](https://www.notion.so/gitpod/Core-Values-Differentiators-2ed4c2f93c84499b98e3b538

[2022-05-19 19:57] gtsiolis commented on #10120
Thanks, @princerachit! See also https://github.com/gitpod-io/gitpod/issues/9173.

[2022-05-19 20:17] gtsiolis opened #10137 "Nudge users to connect more providers or edit permissions when searching for a repository in the new workspace modal"
### Problem to solve

Currently, when a new user signs up the default permissions for the GitHub provider does not include searching for repositories across GitHub organizations which can confuse users.

### Proposal

Introduce an empty search state when searching for a repository and no results show up, and nudge users to connect more providers or edit provider permissions.

| GitHub permissions

[2022-05-19 20:22] christian-bromann commented on #7603
fyi: behavior between using VSCode as application where
[code]
vs browser:
[code]

differs

[2022-05-19 20:22] gtsiolis opened #10138 "Improve page subheadings"
### Problem to solve

Currently, page subheadings include a generic description of what the page includes. In the spirit of our design principles ([form follows function](https://www.notion.so/gitpod/Enabling-Team-Product-Design-33f7d217be0d4db5a0666e7c99aece19#f53c83508a5d480bb65a3887f965ce74) (internal)), suing this space to provide an actual function or requirement for using the product could b

[2022-05-19 20:29] gtsiolis opened #10139 "Improve projects empty state and clarify the differences between projects and workspaces"
### Problem to solve

Users can be confused about projects and workspaces, as well as how they correlate.

While the existing [relevant docs](https://www.gitpod.io/docs/teams-and-projects) about **Teams** & **Projects** read quite clear, there's still some confusion around **Workspaces** & **Projects**.

See [relevant discussion](https://gitpod.slack.com/archives/C01KGM9DVRC/p1652990466748669) (in

[2022-05-19 20:40] gtsiolis commented on #10120
@princerachit I'll close this as duplicate in favor of #9173 but feel free to reopen if this describes a different issue.

[2022-05-19 20:40] #10120 closed

[2022-05-19 20:41] gtsiolis commented on #9173
Looping in @jldec because of the relevant comment in https://github.com/gitpod-io/gitpod/issues/10120#issuecomment-1131473520.

[2022-05-19 20:53] gtsiolis opened #10140 "Allow users to add a project from a workspace"
### Problem to solve

Re-posting from https://github.com/gitpod-io/gitpod/issues/10137:

See [relevant discussion](https://gitpod.slack.com/archives/C01KGM9DVRC/p1652990466748669) (internal).

## Proposal

Allow users to add a project from a workspace, listing all project benefits, as well as reading existing prebuilds configuration, etc.

[2022-05-19 21:37] florisvdg commented on #6993
(Posting this here, because the other issue is more about GPG in general)

Here's what I'm running into when SSH'ing into a Gitpod workspace with agent forwarding enabled:

1. In https://gitpod.io/workspaces, click `Connect via SSH`:
<img width="214" alt="image" src="https://user-images.githubusercontent.com/7430639/169405673-bc9fb3f0-458c-4344-96dc-b2b88ed376b3.png">

2. SSH into the Gitpod works

[2022-05-19 21:44] sagor999 commented on #6993
@iQQBot since I think you worked on SSH agent, can you provide some answers to above?

[2022-05-19 21:55] florisvdg commented on #9932
Couldn't agree more. This access code mechanism is a nice hack, but not so great. I expected a public key text box (e.g. https://github.com/settings/ssh/new) in some Gitpod settings pane like every other platform out there that offers SSH functionality.

Would be amazing if after adding a key you could simply do:
[code]

Or maybe even:
[code]

(Icing on the cake would be supporting agent forwardin

[2022-05-19 21:56] gtsiolis opened #10142 "Merge integrations and providers in user settings for the main providers"
### Problem to solve

Currently, one user per instance can add a git integration.

User settings are split into two for provider and integration connections.

While, we could surface the user who added the integration when trying to add a new integration (see [relevant comment](https://github.com/gitpod-io/gitpod/issues/5411#issuecomment-950171099)), it could be useful to merge these two lists for

[2022-05-19 22:27] trumbitta commented on #7603
Idk what to say... my shell is `zsh` everywhere and it works via the `SHELL` env variable without `/usr/bin` 🤷

You can also find my dotfiles repo some comments above.

[2022-05-19 22:38] tommydrum commented on #7603
Yea, this would be a pretty obvious solution, but also defeats the purpose of why people like me have the install script include a prepending dot. The point of the setup is that the `.install.sh` is the main setup file, and is hidden by `ls` or `ll`, leaving only the data as listable, not configuration or installation scripts. And if someone were to say "just delete the installer afterwords".. the

[2022-05-20 00:04] utam0k commented on #10122
If this issue will be resolved, we don't need to use this workaround
https://github.com/toby63/shiftfs-dkms/issues/21

[2022-05-20 00:07] sagor999 commented on #9496
This doesn't quite work for old way of doing things, since ws-daemon attempts to place `content.json` into `/workspace` folder:
https://github.com/gitpod-io/gitpod/blob/c1cd9bb777fd4798cbb590e24ba1f20e2d12e93c/components/ws-daemon/pkg/content/initializer.go#L126
It is not clear how easy it would be to change that function, and I don't think it will be worth the effort (and potential unaccounted ed

[2022-05-20 00:20] jenting opened #10145 "Display the git commits since previous success when workspace integration test failed"
## Is your feature request related to a problem? Please describe
Currently, when workspace integration test failed, we have to manually check the werft job to find the current failed commit ID and last succeed commit ID, it'd be good if we could provide all git commits between last success to current failed commits.

## Describe the behaviour you'd like
Include a link to GitHub that automatically

[2022-05-20 02:58] jeanp413 opened #10146 "Dashboard dark theme is out of sync with new website dark theme"
### Bug description

 website | dashboard
 --- | ---
 ![image](https://user-images.githubusercontent.com/25115070/169439309-0da5d3dc-4cf4-4917-8f93-8e7a60bd8117.png) | ![image](https://user-images.githubusercontent.com/25115070/169441401-af91d7e7-2a12-420d-9bef-13847d222e3b.png)

### Steps to reproduce

:point_up:

### Workspace affected

_No response_

### Expected behavior

_No response_

### Ex

[2022-05-20 04:58] princerachit commented on #7264
I haven't tested with GAR yet and don't plan to test it our anytime sooner. I will start with either dockerhub or gitlab and try solving one at a time.

[2022-05-20 06:16] AlexTugarev commented on #6650
Thanks for the sharing this!

@jldec, I think this issue here is not actionable at the moment. Let's pull out of scheduled, please!

[2022-05-20 06:40] utam0k commented on #9188
@ccll Hi, thanks for your information. Can you open this repository in your gitpod?
https://github.com/utam0k/gitpod-playground/tree/eStargz
`https://${your_gitpod}/#https://github.com/utam0k/gitpod-playground/tree/eStargz`

[2022-05-20 07:15] AlexTugarev commented on #9505
Hi @armanbilge! Thanks for reporting. We definitely need to improve the Project creation flow and messaging around it to get to a point, where things happening get clear.

What you've been seeing is a feature in Projects (https://github.com/gitpod-io/gitpod/pull/7383). Whenever you create a new project, and there is no .gitpod.yml found, Gitpod is automatically proposes a simple configuration to h

[2022-05-20 07:15] #9505 closed

[2022-05-20 07:28] #9928 closed

[2022-05-20 07:32] csweichel commented on #6650
@AlexTugarev one path forward would be to make OTS region aware (i.e. introduce something like eu.gitpod.io or the likes) and use that to name the OTS. This sits directly within webapps space.

[2022-05-20 07:48] jankeromnes commented on #9631
Okay, after investigating this for a bit (with long-running GCP-storage-probing scripts running in the background over many days), I have some good and bad news.

### The good news

By checking all officially garbage-collected prebuilds, I was able to find 96803 prebuild backups that were supposedly deleted (according to our DB) but were in fact still present in GCP. 🐛

I've thus deleted these 968

[2022-05-20 08:19] AlexTugarev commented on #10090
I think it's good to close now.

[2022-05-20 08:19] #10090 closed

[2022-05-20 08:21] AlexTugarev commented on #672
Theia is no longer used. Closing as obsolete.

[2022-05-20 08:21] #672 closed

[2022-05-20 08:21] AlexTugarev commented on #324
Theia is no longer used. Closing as obsolete.

[2022-05-20 08:21] #324 closed

[2022-05-20 08:23] AlexTugarev commented on #1965
Done in https://github.com/gitpod-io/gitpod/issues/8499

[2022-05-20 08:23] #1965 closed

[2022-05-20 08:25] #4061 closed

[2022-05-20 08:29] AlexTugarev commented on #5297
This is solved in https://github.com/gitpod-io/gitpod/issues/8501

[2022-05-20 08:29] #5297 closed

[2022-05-20 09:38] #7639 closed

[2022-05-20 10:35] gtsiolis opened #10150 "Help link in user menu redirects to an error page"
### Bug description

Following up from https://github.com/gitpod-io/gitpod/pull/10061, the moved help link inside the user menu redirects to an error page. Cc @laushinka

### Steps to reproduce

1. Open any dashboard page
2. Click the user avatar to open the user menu
3. Click the help link

### Screenshots

<img width="317" alt="Screenshot 2022-05-20 at 1 40 34 PM (2)" src="https://user-images.gi

[2022-05-20 11:44] andrew-farries commented on #9875
Re-opening this as #10127 had to be reverted because it broke preview environments (see [internal discussion](https://gitpod.slack.com/archives/C032A46PWR0/p1652996871215559)).

The installer (which we also use to deploy to preview environments) defaults to setting:

https://github.com/gitpod-io/gitpod/blob/b765e67295b42834445ae2078b8fa8452fe01467/install/installer/pkg/config/v1/config.go#L50

Whi

[2022-05-20 12:04] #9955 closed

[2022-05-20 12:48] jeanp413 opened #10153 "Selected color theme in website is not synced with dashboard and viceversa"
### Bug description

The selected theme is not shared between website and dashboard

### Steps to reproduce

If I select light/dark theme in the website it should also be changed in the dashboard and viceversa

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-20 12:55] davidwindell commented on #3059
Did anyone every get this to work? We've had descriptions in our yml's since this was merged but dont' see anything in the IDE

[2022-05-20 13:35] davidwindell commented on #3059
Ah, I've just found https://github.com/gitpod-io/gitpod/pull/9797 which explains it

[2022-05-20 15:24] #10044 closed

[2022-05-20 16:17] yaohui-wyh commented on #8704
Specify JVM max heap usage with `-XX:MaxRAMPercentage` vm options might be a better solution for containerized env?

Some potential problems with using `-Xmx`

1. If the Gitpod workspace memory limit is less than the `-Xmx` size, it would cause intelliJ backend server OOM and workspace crash
2. `-Xmx4g` might still not enough for some large project, and the fixed `-Xmx` parameter limit the heap si

[2022-05-20 16:35] yaohui-wyh commented on #8704
Some POC around modifying intellij backend server vmoptions in a Gitpod workspace:

1. modify the vmoptions:
    `sed -i "s/-Xmx2048m/-XX:MaxRAMPercentage=50.0/g" /ide-desktop/backend/bin/idea64.vmoptions`
2. restart the backend server by killing `/ide-desktop/startup.sh` (and supervisor would restart the script when the readinessProbe failed)
    `ps auxf /* find the pid */ && kill -9 <pid>`
3. s

[2022-05-20 17:07] patternstormdf opened #10160 "Gitpod API?"
Please, is there a way to programmatically start a Gitpod workspace? Thanks!

[2022-05-20 18:21] sagor999 commented on #7644
As a note:
When we switch to PVC, I think we will no longer require ws-daemon to be up 100% of the time.
In that case, we might be able to deploy faster\often by deploying new images and performing restart rollout of the updated component. (this might not work for all changes, but it might be enough for 95% of changes). And for remainder of 5% we can perform full cluster rotation.

Currently deplo

[2022-05-20 18:31] sagor999 opened #10162 "Add tests for createPVCForWorkspacePod"

[2022-05-20 21:23] sagor999 commented on #8198
@adg25 I think this actually has been fixed now with this: https://github.com/gitpod-io/gitpod/pull/9803
Let me know if you still encounter it. Old workspaces prior to this fix will not work, but after should be working now.
I will close this, but feel free to re-open if you are still experiencing this.

[2022-05-20 21:23] #8198 closed

[2022-05-20 21:25] sagor999 commented on #7311
I don't think PVC work would help here. This seems like webapp related issue potentially?
Though we did fix a bunch of issues related to prebuilds recently, and I am wondering if this is even still happens?
@jmls are you still experiencing this by any chance?

[2022-05-20 21:29] gtsiolis opened #10166 "Remove deleted members with deleted accounts from teams"
### Bug description

Noticed some teams include a deleted member account which has not been removed from some teams.

Examples:
1. https://gitpod.io/admin/teams/a5ce3f75-1b6a-4d88-ae9f-c9b42f5e8498
2. https://gitpod.io/admin/teams/f6dcbc28-ae19-4603-89bd-98fd1126010c

| Example 1 | Example 2 |
|-|-|
| <img width="647" alt="Frame 1084" src="https://user-images.githubusercontent.com/120486/169614948

[2022-05-20 21:46] gtsiolis commented on #10160
Soon, @patternstormdf! We're currently working on the first bits of our public API, which is planned for this quarter. You can follow progress on the relevant epic in https://github.com/gitpod-io/gitpod/issues/7900.

[2022-05-20 21:46] #10160 closed

[2022-05-20 22:43] mbrevoort opened #10168 "Create new branch from Projects/Branches page"
## Is your feature request related to a problem? Please describe
As a user, I find it frustrating that I can't easily create a new branch from the Gitpod web UI.

## Describe the behaviour you'd like
1. Navigate to Projects -> Branches page
2. Obvious call to action "Create Branch" or "New Branch"
3. Click "Create Branch" and a new git branch is created and appears in the list of branches.
4. I ca

[2022-05-20 23:13] mbrevoort opened #10169 "Open PR from Project/Branches"
## Is your feature request related to a problem? Please describe
As a user I want to be able to link to open a new Pull Request from the Project/Branches page, from the overflow menu. This plus #10168 would provide a complete workflow in the Gitpod UI when I need to do some work:
1. Create a new branch
2. Start a workspace
3. Make and test my change
4. Submit PR

## Describe the behaviour you'd li

[2022-05-21 04:58] bbhxwl opened #10172 "Email technical support has not replied for more than a day"
I have two bills generated by operational errors. Please delete them for me

[2022-05-21 11:21] meysholdt commented on #9899
prerequisite: https://github.com/csweichel/werft/issues/148

[2022-05-21 11:49] stephanrenggli opened #10173 "[selfhosted] Setting a CA file ignores all public Root CAs"
### Bug description

I have set up gitpod in a selfhosted environment with k3s.

The following services exist:
- Self hosted GitLab instance with Lets Encrypt certificate (gitlab.example.com).
- Self hosted Gitpod instance (gitpod.sd.internal) with a certificate from an internal CA (ca.sd.internal).
- Self hosted step-ca (ca.sd.internal) and step-issuer to issue Kubernetes certificates

I have man

[2022-05-21 15:21] jeanp413 commented on #10072
Thanks for reporting this @axonasif, this is fixed in production now

[2022-05-21 15:21] #10072 closed

[2022-05-21 15:38] #9667 closed

[2022-05-21 21:13] csweichel opened #10174 "GitpodWorkspacesStuckOnStopping alert is misleading"
### Bug description

The [`GitpodWorkspaceStuckOnStopping`](https://github.com/gitpod-io/gitpod/blob/5045e85f2aabcb53bed5c72e5aa10f859073eb2c/operations/observability/mixins/workspace/rules/components/workspaces/alerts.libsonnet#L29-L45) alert is misleading. It's checking if the number of workspaces in "STOPPING" is consistently higher than some (low) threshold.

It does NOT however check if it's

[2022-05-22 12:53] josh-dix opened #10176 "documentation typo"
### Bug description

Hi, I'm trying to read up about env variables in the documentation and stumbled on a sentence that doesn't make any sense to me. I still haven't had my coffee so maybe I'm just having some bad reading comprehension:

Thanks, Josh

### Steps to reproduce

not a technical issue, see description

### Workspace affected

_No response_

### Expected behavior

_No response_

### Exa

[2022-05-22 17:18] jldec commented on #5075
It appears that when there are enough repos, the UI breaks completely.
Adjusting priority and rewording description.

See [support thread](https://app.frontapp.com/inboxes/teammates/9932746/assigned/open/41997303114) (internal)

[2022-05-22 17:42] jldec commented on #9861
There appears to be some confusion about cluster-wide OAuth setup vs. registering private SCMs.

The git integrations section was indeed designed for non-admin users to add private integrations under their personal settings.

Configuring cluster-wide OAuth providers typically requires admin privs and happens at install time.
This is related to https://github.com/gitpod-io/gitpod/issues/9164.

[2022-05-22 17:52] jldec commented on #5075
We should at least offer a workaround to create a project by entering a repo URL instead of choosing from the list.

[2022-05-22 19:28] GamerCoder215 opened #10178 "Windows 11 Chrome Terminal View"
### Bug description

On Chrome (Windows 11, 101.0.4951.67 (Official Build) (64-bit) (cohort: Stable)), the GitPod VS Code desktop version has the terminal looking like swiss cheese.

![image](https://user-images.githubusercontent.com/54124162/169712581-9cebe5e3-9dfa-44e4-a5a3-d45b9fdba6e5.png)

### Steps to reproduce

1.) USe that Chrome Build on Windows 11
2.) Use GitPod as normally, see terminal

[2022-05-22 23:45] #10162 closed

[2022-05-23 01:50] utam0k commented on #9188
This issue is brought into by eStargz. Fortunately, we just removed it.
 https://github.com/gitpod-io/gitpod/pull/9492

[2022-05-23 01:50] #9188 closed

[2022-05-23 04:00] #9990 closed

[2022-05-23 04:00] #10017 closed

[2022-05-23 04:21] richardfrankza opened #10180 "Create an "after" directive in gitpod.yml"
## Is your feature request related to a problem? Please describe

When the workspace goes to sleep, data may be lost. For example, bash history or a database. I'd like to be able to preserve this information and restore it on start up.

## Describe the behaviour you'd like

We have `before` and `init` and `command` but I would like the ability to run a script as the workspace is closing down. For

[2022-05-23 04:34] utam0k opened #10181 "Support for idmapped mounts instead of shiftfs"
## Is your feature request related to a problem? Please describe
We may have a chance to use idmapped mounts instead of shifts. idmapped has the merit that it doesn't need to kernel module because this feature is included kernel since >= 5.12. I'm not sure the performance, but at least it's better than fuse.
https://github.com/lxc/lxd/pull/8778/files

And, it may help the self-hosted users because

[2022-05-23 05:39] axonasif commented on #10180
Duplicate of https://github.com/gitpod-io/gitpod/issues/3966

[2022-05-23 05:39] #10180 closed

[2022-05-23 05:42] axonasif commented on #10180
We have an Epic for shell histories specifically: https://github.com/gitpod-io/gitpod/issues/9019
For the meantime, if you're interested, take a look at here: https://github.com/axonasif/dotfiles, persisting shell histories is already possible with dotifles feature of gitpod, just not straightforward enough.

If you keep it under `/workspace` dir, your database will persist.

[2022-05-23 05:46] axonasif commented on #10178
Hey, please take a look at https://github.com/gitpod-io/gitpod/issues/4130

[2022-05-23 05:46] #10178 closed

[2022-05-23 05:58] axonasif commented on #10172
Hey, hopefully you will get your reply today 🙏

[2022-05-23 05:58] #10172 closed

[2022-05-23 06:20] jankeromnes commented on #9607
I believe this is now resolved (at least in private browsing / when logged out) 🎉 :

<img width="500" alt="Screenshot 2022-05-23 at 08 16 36" src="https://user-images.githubusercontent.com/599268/169755422-a5815141-03bd-4c4e-bdea-4c3b95fec8f2.png">

(Although, for my logged in session, Google still gives the dashboard as first result -- maybe because I've visited that result before -- but now with

[2022-05-23 06:20] #9607 closed

[2022-05-23 06:58] axonasif commented on #10125
Hey 👋
I think you reached out to us via email. Closing this.

Also, leaving https://github.com/jayfresh/react-native-expo-gitpod here for anyone stumbling upon this issue 😁

[2022-05-23 06:58] #10125 closed

[2022-05-23 07:00] neilkuantm commented on #9544
hi @kylos101 ~

we meet another issue about got this error.

But we still click `open workspace` it can be open successful.

I think `ws-manager` has some mistakes  at check if this workspace has last backup.

![image](https://user-images.githubusercontent.com/98370258/169761147-4b83309a-792f-4d15-b510-2e513b8afd93.png)

[2022-05-23 07:11] princerachit commented on #7264
It looks like some change that went in might have broken the azure integration too. I tried updating my gitpod installation using the installer from [a commit before ](https://github.com/gitpod-io/gitpod/compare/b76f997efda252058d4f1fdb6e2ca135ab641786) the last changes made into image-builder-mk3 and it failed.

<img width="2558" alt="image" src="https://user-images.githubusercontent.com/32481722

[2022-05-23 07:18] axonasif commented on #9506
Yes, thanks for the nudge 😄

[2022-05-23 07:18] #9506 closed

[2022-05-23 07:24] axonasif commented on #10032
You can open your workspace in Desktop VSCODE to use it.
See https://www.gitpod.io/docs/ides-and-editors/vscode

[2022-05-23 07:30] axonasif commented on #10021
@quixotictech-dev is this still happening?

[2022-05-23 07:30] axonasif commented on #10021
@quixotictech-dev is this still happening?

[2022-05-23 07:34] axonasif commented on #10027
@ghuntley any thoughts here 👀 ?

[2022-05-23 08:07] lucasvaltl opened #10183 "Expand Self-Hosted Telemetry With Customer ID"
## Is your feature request related to a problem? Please describe
Currently, all of the data we receive from each Self-Hosted Gitpod instance (assuming the user did not opt-out) is anonymised. (For context, the only data we currently receive is at the aggregated level: Gitpod version, number of users, number of instances and number of workspaces). This means that although we can extract general ins

[2022-05-23 08:09] lucasvaltl commented on #10183
Potential follow up - write a docs page about this.

[2022-05-23 08:18] corneliusludmann commented on #10183
Regarding sending the license ID vs. adding a custom customer field to the license:

- Using the license ID has the advantage that we don't need to add a custom customer field value to each license. We can just use the existing license ID and product-wise we are there.
- On the analytics side, license ID makes it a little bit harder because we need to integrate an additional data source (Replicate

[2022-05-23 08:40] meysholdt commented on #8729
The VMs seem mostly balanced across nodes now. "Mostly" may not be perfect, but it seems to be good enough for now.

[2022-05-23 08:40] #8729 closed

[2022-05-23 08:46] loujaybee commented on #9285
There is another use case for this: In some cases, frameworks, or even integrations with Gitpod open ports for their own use, however, it's not always explicit where this port came from/why it's been opened. Having descriptions and encouraging explicit naming or descriptions of ports could make it more clear when there's an unknown / undefined opened port, possibly by grouping or labeling these po

[2022-05-23 08:48] jakoberpf commented on #5512
@corneliusludmann I just tried installing gitpods with the installer and seeing this issue. I am not so familiar woth kots, so I don't know how to add overlays to debug this further. Maybe you got a hint for me?

[2022-05-23 08:58] meysholdt commented on #8869
Thank you @jenting and @fanlix!

works well for us now.

[2022-05-23 08:58] #8869 closed

[2022-05-23 09:07] jenting commented on #8999
v1.0.2 was out.

[2022-05-23 09:21] lucasvaltl commented on #10183
@jakobhero what would be your preferred implementation here? Might be easiest for us to jump on a call to quickly discuss the options here :)

[2022-05-23 09:39] gtsiolis commented on #9861
Cross-posting https://github.com/gitpod-io/gitpod/issues/10142 in case this could help resolve both issues. Cc @jldec @lucasvaltl

[2022-05-23 09:55] gtsiolis commented on #5075
Do we have a case where the UI breaks? The repositories list eventually always loads, correct?

Also, could it help to first improve the interaction, accessibility, and perceived loading time of the loading phase as a minimum viable change, by reusing the loading element from the branches, etc?

| BEFORE | AFTER |
|-|-|
| <img width="472" alt="loading-before" src="https://user-images.githubusercon

[2022-05-23 10:09] jankeromnes commented on #5075
FYI, I remember creating an org with 3500 repositories in it (under our GitHub Enterprise instance/user) because a customer was complaining that with several thousand repositories, the UI would take too long to load.

But actually, trying this now, the UI did take a little bit to load but wasn't too bad, and I do get the full list of repositories (all 3500+).

I absolutely agree that we need this

[2022-05-23 10:22] akosyakov opened #10185 "[jb] mavenprojects are not imported automatically with warm-up in prebuilds"
### Bug description

JetBrains IDE Issue: mavenprojects are not imported automatically with warm-up in prebuilds.

See this [internal thread](https://gitpod.slack.com/archives/C02BRJLGPGF/p1652080919910699)

### Steps to reproduce

- Enable IntelliJ in Gitpod preferences
- Start a workspace with prebuilds on https://github.com/gitpod-io/spring-petclinic
- Note the Explorer is empty.
  ![image](htt

[2022-05-23 10:25] lucasvaltl commented on #10183
Quick FYI that @MircoatGitpod gave his 👍 from a GDPR and privacy policy perspective.

[2022-05-23 10:48] jldec commented on #10081
Similar readiness failure messages again today (and multiple wsdaemon restarts -> critical alerts)
from describe pod 👇

[2022-05-23 10:56] akosyakov commented on #9839
@szab100 Was the pack helpful? We would like to understand whether you have anything blocking.

[2022-05-23 11:13] jakobhero commented on #10183
hi @lucasvaltl, thanks for bringing this to my attention! using the license ID seems like a reasonable path here that i would assume would be perceived as the least intrusive from a customer's perspective. here are some thoughts for the implementation:

- user attributes are typically tracked as traits with segment via the `identify` method, see [here](https://segment.com/docs/connections/spec/ide

[2022-05-23 11:39] lucasvaltl commented on #10183
Thanks for the very detailed analysis @jakobhero! I've checked with our customer experience team, and the added effort here seems negligible. @corneliusludmann what do you think is the implementation cost/complexity of the custom field approach?

[2022-05-23 12:06] jenting opened #10186 "Find a way to display workspace ID in GCP Snapshots page"
## Is your feature request related to a problem? Please describe
We want the GCP Snapshots page contains the information of workspace ID. So, it's convenient to see the snapshot belongs to which workspace ID.

Currently, the snapshot contains the PVC name _only_.
![image](https://user-images.githubusercontent.com/49380831/169938989-2cb63171-5f00-406d-8b39-d98eca5ca155.png)

And the PVC contains th

[2022-05-23 12:33] corneliusludmann commented on #10183
Technically, there is no difference in the implementation whether we send the license ID or a custom field via telemetry.

[2022-05-23 12:35] corneliusludmann commented on #10183
There is **no** webhook support.

[2022-05-23 13:15] chrifro opened #11302 "Hide www.gitpod-staging.com from search engines"
**Issue**:
we currently don't hide www.gitpod-staging.com, but it includes outdated information and visuals that would only confuse the user. It offers no value and should therefore be hidden for search engines
<img width="743" alt="Bildschirmfoto 2022-05-23 um 15 13 17" src="https://user-images.githubusercontent.com/46345125/169827650-f6ebdf0a-3567-4c5c-b663-142b480b0e20.png">

[2022-05-23 13:30] jenting commented on #10186
Reference PR https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/935

[2022-05-23 13:36] davemecha commented on #3059
@davidwindell yeah, I also can't wait for this feature to finally work- That would be so helpful...

[2022-05-23 13:44] Seenox commented on #9188
@mrzarquon  @utam0k sorry for the late reply (and bumping the issue).
Here is my `ctr version`:
[code]

And I'm not able to open the example repository.
Checked using `v2022.4.2`, installed using `kots`.

[2022-05-23 14:20] #10150 closed

[2022-05-23 14:46] atduarte commented on #8977
@kylos101 this is progress right?

[2022-05-23 14:55] atduarte commented on #6563
Replacing the owner team with self-hosted, as they would be the best team to update guidelines regarding using the installer for contribution workflows. cc @lucasvaltl

[2022-05-23 15:00] kylos101 commented on #9544
Hi @neilkuantm , how did you install Gitpod? Do you work with @jeffrey-zhang ?

[2022-05-23 15:02] atduarte commented on #8936
@SimonSiefke does this continue to happen?

[2022-05-23 15:04] twbluenaxela commented on #1594
This is still an issue.

[2022-05-23 15:17] kylos101 opened #10189 "[registry-facade] pulls twice on cache miss"
### Bug description

When we pull from US, this does so from EU. Therefore, pulling twice due to a cache miss (and missing cache often) becomes expensive.

### Steps to reproduce

This could be related a cache miss for a `workspace-image` (perhaps because we pushed new base images), or a cache miss on a newly built workspace image (for which we just built and pushed via image-builder-mk3).

### Wo

[2022-05-23 15:32] aledbf commented on #10189
Technical aspects should drive this change. The IPFS feature was added a long time after the component, and the additional interzonal costs were a side effect of the IPFS implmentation.

[2022-05-23 15:50] julia-leyton opened #10190 "Feature Request: multiple default gitpod.yml"
## Is your feature request related to a problem? Please describe
Enterprise customers having to gitpodify multiple repos that require the exact same or almost exact same config could do it more quickly by having a custom default gitpod.yml available.

## Describe the behaviour you'd like
Having a custom set of gitpod.yml files, customers working with a big number of repositories could easily refer

[2022-05-23 16:19] jldec commented on #10081
Looking at the GC times and they appear to correlate with the restarts.
There were several GCs which took more than 4 seconds

![Screenshot 2022-05-23 at 17 14 56](https://user-images.githubusercontent.com/849592/169863413-cc081c64-0920-4666-97ed-c374a00705a0.png)

[2022-05-23 16:57] sagor999 opened #10195 "observability: add metrics so we can measure frequency and duration of PVC snapshot backup and restore"
Frequency:
- PVC snapshot backup
  - `workspace_backups_success_total`.
  - `workspace_backups_failure_total`.
- PVC snapshot restore
  - `workspace_restores_success_total`.
  - `workspace_restores_failure_total`.

Duration:
- PVC snapshot backup: `gitpod_ws_manager_volume_snapshot_seconds`.
- PVC snapshot restore: `gitpod_ws_manager_volume_restore_seconds`.

[2022-05-23 17:02] sagor999 commented on #10070
@aledbf @kylos101 asked me to help out to take this issue\fix to the finish line, so going to assign it to myself.

[2022-05-23 18:14] sagor999 opened #10197 "Add snapshot controller support into dev environment"
## Is your feature request related to a problem? Please describe

Work with Platform team to ensure we have snapshot controller installed in preview env, so that snapshots would work in dev preview.

## Describe the behaviour you'd like

## Describe alternatives you've considered

## Additional context

https://github.com/gitpod-io/gitpod/issues/7901

[2022-05-23 18:24] atduarte commented on #10134
Added to workspace teams' project, even though it's shared work between WebApp and Workspace, to avoid this being forgotten.

[2022-05-23 18:33] RafidMuhymin commented on #8261
Currently, in the `Personal` plan, we get unlimited hours of usage and we can run up to 8 parallel workspaces. So currently, a user who has purchased the `Personal` plan gets `24 * 30 * 8 = 5760` hours technically. Now, if the plans get changed to be usage-based, then will a user get `5780 / 4 = 1440` hours if they enable 4X mode?

[2022-05-23 20:50] szab100 commented on #9839
Hey @akosyakov @jeanp413, sorry for the delay. I haven't tried the pack yet, it should be good as a workaround, but I am rather looking to get the underlying vscode issue properly fixed for the long run.

In general, this problem can be solved by running a topological sort of the extensions (based on their deps) initially and installing them in the resulting partitions (extensions on same levels c

[2022-05-23 22:15] johannesdrescher commented on #8778
Hi @atduarte! I do believe changing this behavior would be useful. It would allow users to change their outbound IP within Gitpod.

My use case is accessing services which are protected with an IP whitelist (e.g. a GKE cluster with the [authorized networks](https://cloud.google.com/kubernetes-engine/docs/how-to/authorized-networks) feature enabled). It is impractical and insecure to whitelist the

[2022-05-23 23:39] utam0k commented on #9188
@Seenox cc: @gitpod-io/engineering-self-hosted
Thanks for your confirmation.  It's turned out that the version of contained is probably irrelevant.  The main branch has already included fixed PR. So, please wait for releasing the latest self-hosted version. If you will get the same error with the latest main branch, please feel free to reopen this issue.

[2022-05-23 23:55] rohan-patra commented on #8261
IMHO, the current pricing strategy is the biggest draw for Gitpod over something like Codespaces. I know that Gitpod also offers a host of other features including integration with Jetbrains (extremely useful), but the ability to just use Gitpod without worrying about how many hours I am using is so amazing for me as someone using it for personal projects, school, and contributing to open-source p

[2022-05-23 23:57] jenting opened #10201 "Install a storage vendor which supports CSI snapshot in preview env"
## Is your feature request related to a problem? Please describe
Install a storage vendor which supports CSI snapshot in preview env.

## Describe the behavior you'd like
The workspace team is working on backup/restoring user workspace files from the S3 to PVC volume snapshot/restore, this is to address epic #7901.

We're making the CSI snapshot/restore workable in the GCP environment. To make it

[2022-05-24 01:24] jeanp413 commented on #9839
Hey @szab100, as you pointed out, proper fix would be doing a topological sort, but that would need a medium size refactor of the logic so I was kinda hesitant doing a PR implementing it and also they triaged it as backlog issue.

From the test I did with `vscjava.vscode-java-pack` and `pivotal.vscode-spring-boot` the [changes I did](https://github.com/gitpod-io/openvscode-server/blob/f35c6436559e

[2022-05-24 02:44] jenting commented on #10186
We should be able to achieve by adding the flag `--extra-create-metadata` to the csi-snapshotter and updates the gcp-compute-persistent-disk-csi-driver from [v1.4.0](https://github.com/gitpod-io/workspace-preview/blob/dd75d039626645389a7d5056554c9944c2a9cde2/gcp/deploy/kubernetes/images/stable-master/image.yaml#L55) to v1.7.0 that includes the [PR](https://github.com/kubernetes-sigs/gcp-compute-pe

[2022-05-24 06:03] mustard-mh opened #10203 "Generated file is not assign to current file"
### Bug description

In this PR https://github.com/gitpod-io/gitpod/pull/9797, I edited [gitpod-config-types.go](https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-protocol/go/gitpod-config-types.go) which have content below in its header

[code]

- File `gitpod-config-types.go` ask us to generate it by script [generate-config.sh](https://github.com/gitpod-io/gitpod/blob/main/componen

[2022-05-24 06:34] utam0k commented on #10049
This PR may alleviate this problem.
https://github.com/gitpod-io/gitpod/pull/10085

[2022-05-24 06:35] princerachit opened #10204 "Enable referring a private registry in gitpod Dockerfile"
## Is your feature request related to a problem? Please describe

I want to use a private registry in my gitpod dockerfile.

## Describe the behaviour you'd like

I want my gitpod config to look like the following:

[code]

and the contents of `gitpod.Dockerfile` to look like this:

[code]

When I open my repo I expect image build to work and start a new workspace.

## Describe alternatives you've

[2022-05-24 07:05] gtsiolis opened #10205 "Migrate InfoBox components to the new Alert component"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/issues/9411, this issue acts as a placeholder for migrating the `InfoBox` components which could be a bit more tricky, and could require some discussion upfront, given how it's been used in some cases, see https://github.com/gitpod-io/gitpod/issues/8701.

### Proposal

Migrate [`InfoBox`](https://github.com/gitpod-io/gitpo

[2022-05-24 07:05] gtsiolis commented on #9411
In the spirit of minimum viable change, I've updated the issue and split the InfoBox component migration to a separate issue.

[2022-05-24 07:06] lucasvaltl commented on #10183
Understood! Thanks for the estimate @corneliusludmann. I also spoke with Julia and she is ok with the added effort of filling in the custom field when creating a license. Given the need to do extra work on the data side (scrape replicated's API) & just the added effort of having to use a secondary table to find customer names whenever this data is used, I think it is net beneficial to go with the

[2022-05-24 07:08] scasei commented on #9981
Same problem here, would be very nice to have

[2022-05-24 07:18] kunxin-chor opened #10206 "Unable to open workspace on desktop Vs Code"
### Bug description

[Error  - 07:14:08.305] failed to access the local app: Error: workspace not found

### Steps to reproduce

1. Attempt to open workspace in VS Code
2. VS Code opens
3. Error in the popup says "Workspace not found"

### Workspace affected

kunxinchor-fatefoundrym-i2rmto3a64w

### Expected behavior

Opens in VS Code

### Example repository

_No response_

### Anything else?

_No

[2022-05-24 07:32] #9791 closed

[2022-05-24 07:32] akosyakov commented on #9839
Yes, then someone needs to contribute it to upstream. It is non trivial bug which most likely happens in very rare conditions, i.e. he is at play also how these extension depend on each other, for other dependent extension and maybe not the issue at all. Otherwise we would see already many complains in upstream.

I would be glad if someone to contribute to upstream. But unblock you could you pleas

[2022-05-24 08:42] jldec opened #10209 "Repo with incremental prebuilds temporarily stopped triggering prebuilds"
- created https://github.com/jldec/yarn-prebuild with an init task (`yarn install`)
- created a project -> first prebuild was auto-triggered
- turned on incremental prebuilds
- made several more commits
- after 4 additional commits (i.e. 4 incremental prebuilds) the repo stopped triggering prebuilds
- subsequent commits do not have a prebuild, so the init task is running in each workspace

#### up

[2022-05-24 08:55] jldec commented on #10209
I thought perhaps this was a rate-limiting issue, but we're nowhere close to 50 commits.
https://github.com/gitpod-io/gitpod/pull/8568

[2022-05-24 09:00] jenting opened #10210 "Update GCP PD CSI driver from v1.4.0 to v1.7.1 to include faster PVC mount time fix"
## Is your feature request related to a problem? Please describe
Currently, in the workspace-preview, we shipped the GCP PD CSI driver with v1.4.0, we should bump the version v1.7.1 which includes Pavel's work on making the PVC mounting time more faster.
But we have to wait the upstream to release v1.7.0 container image first. https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driv

[2022-05-24 09:04] jenting opened #10211 "Manually test PVC CSI snapshot backup/restore in AWS"
## Is your feature request related to a problem? Please describe
Test CSI snapshotter in AWS (follow the self-hosted team guide to deploy to AWS), installed with corresponding AWS CSI driver.
To see if the PVC snapshot/backup works good or not, and if the PVC mount time is slow or not.

## Describe the behaviour you'd like
Having a manually test the CSI snapshotter in AWS to see if it's works well

[2022-05-24 09:04] jenting opened #10212 "Manually test PVC CSI snapshot backup/restore in Azure"
## Is your feature request related to a problem? Please describe
Test CSI snapshotter in Azure (follow the self-hosted team guide to deploy to Azure), installed with corresponding Azure CSI driver.
To see if the PVC snapshot/backup works good or not, and if the PVC mount time is slow or not.

## Describe the behaviour you'd like
Having a manually test the CSI snapshotter in Azure to see if it's wo

[2022-05-24 09:07] purkhusid commented on #6243
@sagor999 Has this been discontinued in Unleashed? I just started a workspace and the size has gone down to 30gb

[2022-05-24 09:43] princerachit opened #10214 "[research] Investigate if GAR private registries are supported by gitpod"
### Bug description

Investigate if GAR container registry is supported by gitpod

### Steps to reproduce

NA

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-24 10:41] meysholdt commented on #10201
From my side, I have no objections against Longhorn. It's good that you know it well @jenting and that on the Platform side we could collect a bit of experience with it, too.

How much storage should be available per preview env? Currently, preview envs [request a 200 GB root drive](https://github.com/gitpod-io/gitpod/blob/bd8f2c7d9347a8c8cec37f57f094960281e00d88/.werft/vm/manifests.ts#L36). I und

[2022-05-24 10:50] princerachit opened #10215 "Dockerhub doesn't work as container registry for self hosted installation"
### Bug description

When dockerhub is configured as a container registry, the image-builder-mk3 fails to create image build pods.

gitpod configuration:

[code]

also tried urls: docker.io, registry.docker.io, registry-1.docker.io. Configured the experimental section too:

[code]

### Steps to reproduce

Use above configuration.

### Workspace affected

_No response_

### Expected behavior

It sh

[2022-05-24 10:55] jldec commented on #10209
After an hour, prebuilds have resumed - so this is not a bug - just a mystery.

![Screenshot 2022-05-24 at 11 54 25](https://user-images.githubusercontent.com/849592/170018942-a5da675c-d36e-47cd-8e6f-050ae137ccc1.png)

[2022-05-24 10:57] meysholdt commented on #10201
Proposed code changes:
Installer Longhorn here via Cloud-init, just like Certmanager:
https://github.com/gitpod-io/gitpod/blob/bd8f2c7d9347a8c8cec37f57f094960281e00d88/.werft/vm/manifests.ts#L323-L326

Disable the `local-path-provisioner` here by adding `--disable local-storage`
https://github.com/gitpod-io/gitpod/blob/bd8f2c7d9347a8c8cec37f57f094960281e00d88/.werft/vm/manifests.ts#L289-L303