[2020-09-01 23:42] filismino opened #1796 "Bug"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-01 23:50] tekumara commented on #1775
Doh! Taking your helpful suggestions, I've tried the following with `latest`:

`DOMAIN=127-0-0-1.ip.mygitpod.com` with https://127-0-0-1.ip.mygitpod.com/ is the same as above.

`DOMAIN=192-168-1-2.ip.mygitpod.com` with https://192-168-1-2.ip.mygitpod.com/ doesn't even get to the blank gitpod HTML page.

I must be doing something else wrong... This is on macOS where the [Docker networking](https://

[2020-09-01 23:51] filismino commented on #1796
Terminaux

[2020-09-02 09:20] svenefftinge commented on #1796
How can we help? please provide more information

[2020-09-02 09:20] #1796 closed

[2020-09-02 11:55] svenefftinge opened #1799 "GraphQL API"
We want to go away from the `gitpod-protocol` and JSON RPC in favor of GraphQL.
To that end we should enhance the existing admin API.

[2020-09-02 14:53] #1642 closed

[2020-09-02 17:07] pattacini commented on #921
Just wanted to let you know that starting today it's possible to pull images hosted on [GitHub Container Registry][1] using anonymous access 🎉

[1]: https://github.blog/2020-09-01-introducing-github-container-registry/

[2020-09-02 17:07] #921 closed

[2020-09-03 03:42] MaxPeal opened #1800 "setting git user.email via user ENV dont work."
### Describe the bug
setting git user.email via user ENV dont work.

### Steps to reproduce
enable Keep my email addresses private in github,
after this its not possibly to make a git push form gitpod,
as gitpod override it with
https://github.com/gitpod-io/gitpod/blob/master/components/ws-manager/pkg/manager/create.go#L527-L543
and:
in the bashrc:
[code]

see also
https://github.com/gitpod-io/git

[2020-09-03 05:40] svenefftinge commented on #1799
We will see

[2020-09-03 07:20] corneliusludmann commented on #1800
I have set the following environment variables in https://gitpod.io/settings/ with Organization/Repository filter `*/*` to my e-mail address I want to have in the Git history:
[code]

When I start a workspace, Git uses these e-mail addresses. Does this work for you?

[2020-09-03 13:26] corneliusludmann commented on #1740
See also https://github.com/minio/minio/issues/9868

[2020-09-03 14:38] #1686 closed

[2020-09-03 14:42] #1528 closed

[2020-09-03 19:48] McPringle commented on #1004
In the meantime, we migrated from Maven to Gradle (new run command: `./gradlew run`) and from Java 8 to Java 11. Today I tried it again with the actual version of GitPod and OpenJDK 11.0.5. Still the same problem. Unfortunately, I have no idea how I can help to fix this bug.

[2020-09-04 08:16] MaxPeal commented on #1800
i have try and set the following environment variables:

Name | Value | Organization/Repository
------------ | ------------- | -------------
EMAIL | idNummber+GithubUser@users.noreply.github.com | \*/\* |
GIT_AUTHOR_EMAIL | idNummber+GithubUser@users.noreply.github.com | \*/\* |  
GIT_COMMITTER_EMAIL | idNummber+GithubUser@users.noreply.github.com | \*/\* |  
GIT_CONFIG_NOSYSTEM | 1 | \*/\* |  
GI

[2020-09-04 09:08] MaxPeal commented on #1800
with

Name | Value | Organization/Repository
------------ | ------------- | -------------
GIT_AUTHOR_EMAIL | idNummber+GithubUser@users.noreply.github.com | \*/\* |  
GIT_COMMITER_EMAIL | idNummber+GithubUser@users.noreply.github.com | \*/\* |  

the push via the gui just failed without error message.
with a git push i get:
gitpod /workspace/foo $ git push
Enumerating objects: 5, done.
Counting ob

[2020-09-04 09:15] corneliusludmann commented on #1800
How does
[code]
look like? Is the author and committer e-mail of your newly added commits correct?

By the way: It needs to be `GIT_COMMITTER_EMAIL` (with 2 `T`, sorry for my typo above).

[2020-09-04 09:24] MaxPeal commented on #1800
yes the the output of:
git log --pretty=fuller
looks corect.

[2020-09-04 10:32] corneliusludmann commented on #1800
Unfortunately, I'm not able to reproduce your issue.

1. With the environment variables `GIT_AUTHOR_EMAIL` and `GIT_COMMITTER_EMAIL` you can control which e-mail addresses should be used by Git. This seems to work for you as well since `git log --pretty=fuller` looks correct.
2. When I check `Keep my email addresses private` and `Block command line pushes that expose my email` in GitHub I'm not ab

[2020-09-04 10:38] corneliusludmann commented on #387
Which e-mail addresses are used when you commit changes? `git log --pretty=fuller` shows me the correct e-mail addresses I've set with `GIT_AUTHOR_EMAIL` and `GIT_COMMITTER_EMAIL` independent of what `git config -l` shows.

Note that you have to restart the workspace after setting env variables with `gp env` or the web interface.

[2020-09-04 12:58] corneliusludmann opened #1804 "[Gitpod k3s] exit in Gitpod container hangs"
When you exec in the Gitpod k3s container and want to `exit` it hangs forever.

The commit 3b1b7f11183c4972bd08478a3e44b183edf5ada1 recently fixed that you can at least stop the container but the root cause could be that a while loop in the `entrypoint.sh` is running forever.

1. Investigate if a while loop runs forever in `entrypoint.sh`
2. Even when a while loop runs forever, `sh` should exit an

[2020-09-04 13:52] corneliusludmann commented on #1804
Seems like I didn't have the latest image pulled. Does not occur with the latest image. Nevermind.

[2020-09-04 13:52] #1804 closed

[2020-09-04 15:03] ceefour opened #1806 "Nodejs: Ubuntu Focal Fossa (development branch) is not supported"
### Describe the bug
Ubuntu Focal Fossa (development branch) is not supported

### Steps to reproduce
Install nodejs within Dockerfile based on workspace-mysql

[code]

### Expected behavior
Using Ubuntu Focal official release (latest is 20.04.1) to ensure good software support.

### Additional information
https://gitpod.io/#https://gitlab.com/lovia/lovia-erpnext-bench

### Example repository
http

[2020-09-05 08:42] ceefour opened #1808 "Make workspace URL expose ports using the same hostname"
My use case is: https://discuss.erpnext.com/t/how-to-set-frappe-socketio-url-in-development-mode/65550

By default, Frappe/ERPNext requires web server (on port 8000) and socketio (on port 9000) using the same hostname (e.g. `http://localhost/` or `https://*.ws-us02.gitpod.io/`)

However, gitpod will allocate different hostnames for each port.

Please provide a way (i.e. `gitpod.yml` setting) so we

[2020-09-05 08:49] ceefour commented on #1496
I am hit by this too, according to https://www.gitpod.io/docs/ I am in Indonesia should get the Tokyo region or even Singapore (?). However I'm getting `ws-us02.gitpod.io` workspaces.

Manually changing it to `ws-ap.gitpod.io` as suggested by @Kreyren doesn't work...

![image](https://user-images.githubusercontent.com/24123/92301631-67429500-ef8f-11ea-9fbb-8ba38dc4e2c0.png)

[2020-09-05 08:49] ceefour commented on #1495
Doesn't work:

![image](https://user-images.githubusercontent.com/24123/92301620-542fc500-ef8f-11ea-9e88-7dd357408422.png)

[2020-09-05 16:08] swarnalatha510 opened #1809 "Unable to login"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-05 23:33] j-james opened #1810 "Ctrl + ` doesn't toggle the terminal window"
### Describe the bug
When the terminal is focused, pressing ctrl + \` makes a new terminal instance rather than minimizing the existing one. When the terminal is not focused, pressing ctrl + \` also makes a new terminal instance rather than focusing the existing one.

### Steps to reproduce
Open up a project in Gitpod, and press ctrl + \` twice.

### Expected behavior
The expected behavior would b

[2020-09-06 02:23] tekumara commented on #387
thanks @corneliusludmann you're right! The env var `GIT_AUTHOR_EMAIL` overrides the git config for `user.email`. So `git log --pretty=fuller` shows the `GIT_AUTHOR_EMAIL` value.

(`GIT_AUTHOR_NAME` also sets the name used for the commit).

[2020-09-06 09:19] tekumara commented on #1799
Sounds very cool. A genuine curious question, what advantages will GraphQL provide over JSON RPC?

[2020-09-06 13:30] flamecopper commented on #397
Ctrl+C and CTRL-V will do the trick

[2020-09-06 14:00] flamecopper commented on #1705
No the above command not working, abit troublesome. So I created mysql instance from another host.

[2020-09-06 14:08] abhikulshrestha22 opened #1812 "Unable to load workspace"
### Describe the bug
Many times a day the workspace will not start. it shows error connecting to the server

### Steps to reproduce
Keep working for some time on gitpod. and after sometime, it gives alert on workspace page about "error connecting to the server" and also shows offline on the workspace.

### Expected behavior
It should not get timed out so frequently.

### Additional information
Err

[2020-09-06 14:22] flamecopper opened #1813 "/etc/php/7.4/cli/php.ini:"
How can I edit this file?

I want to set the expose_php = off

But it says permission denied.

[2020-09-06 16:34] svenefftinge commented on #1812
Can you share where you are in the world and whether you are using any proxies?

[2020-09-06 16:40] svenefftinge commented on #1813
You need root privileges which you only have during docker build.
So you'd need to [add a `.gitpod.Dockerfile`](https://www.gitpod.io/docs/config-docker/#configure-a-custom-docker-image) and either du chmod on that file or change the file during the build.

[2020-09-06 16:41] svenefftinge commented on #1809
Please provide more context. E.g: How did you try to login, what error message did you see, what browser do you use?

[2020-09-06 16:46] svenefftinge commented on #1799
Good question. So far it seems mostly its popularity. Having spent a couple of hours on researching this further, I'm more and more sceptical this is a good use of our time TBH.

[2020-09-06 23:14] flamecopper commented on #1813
Hi there,

Can I confirm the following steps are correct:

`image:
  file: .gitpod.Dockerfile`

`FROM gitpod/workspace-mysql

USER root

# Install required dependencies
RUN true \
	&& apt-get update \
	&& apt-get -y install \
		apache2 \
		php \
		libapache2-mod-php \
		php-mysql \
		php-curl \
		php-gd \
		php-mbstring \
		php-xml \
		php-xmlrpc

# Do something
RUN printf '%s\n' "include /workspa

[2020-09-06 23:42] flamecopper commented on #1813
I was reading some where it says:

You need to open a new gitpod instance so that it rebuilds the environment.

[2020-09-07 00:08] flamecopper commented on #1813
Hi there,

I have a seperate question.
Is there a way to rebuild the entire workspace without having to clone a workspace?
I already edited the .gitpod.Dockerfile

[2020-09-07 05:08] abhikulshrestha22 commented on #1812
@svenefftinge  I am in India. And no I am not using any proxies.

[2020-09-07 06:36] svenefftinge commented on #1813
You need to push the change to your `.gitpod.yml` and `.gitpod.Dockerfile` to a branch. And then start a fresh workspace using that branch as a context URL. I.e. go to the branch on GitHub and prefix the URL with `gitpod.io#`.

[2020-09-07 14:57] jimbobding opened #1815 "Gitpod is saving changes to my code but not displaying them in teh preview"
### Describe the bug
When I save my changes in gitpd and then refresh my preview page the changes re not dispayed
### Steps to reproduce

### Expected behavior

### Additional information

### Example repository
This is occurring throughout the workspace

[2020-09-07 15:41] maxclac commented on #1330
Hi! I am encountering the same problem and it's nice to see that I was not the only one.

I would like to work on this point:

What is it meant exactly by 'changing the local IP of the server' here?

Thanks!

[2020-09-07 17:21] MGlolenstine commented on #1330
The problem there was, that it didn't want to connect to the kubernetes cluster when the ip was set to `localhost`. After I changed it to the ip of my server on the internal network `192.168.x.x` in my case (replace `x` with numbers), it started to work.

[2020-09-08 05:54] tekumara opened #1816 "preview - support 302 redirects"
When I preview an https URL that responds with a 302 redirect, the redirect isn't followed and instead I see:

[code]

If I open the https URL in the browser, the browser correctly redirects me.

Example repo:

https://github.com/tekumara/gitpod-jupyter

[2020-09-08 07:44] geropl opened #1818 "Determine "Total Cost of Ownership" (TCO) for Gitpod Self-hosted on GCP and AWS"
Currently we offer an easy way to install Gitpod Self-Hosted on [GCP](https://www.gitpod.io/docs/self-hosted/latest/install/install-on-gcp-script/) and [AWS](https://www.gitpod.io/docs/self-hosted/latest/install/install-on-aws-script/) but make no statement about the TCO - mainly because in the past that greatly varied with your config choices. It's also interesting for users how that relates to t

[2020-09-08 07:56] svenefftinge commented on #1815
Gitpod is just showing what the webserver you started in your workspace serves. If you can share your project we wight be more helpful, you probably forgot to build something or so?

[2020-09-08 09:22] henno opened #1821 "[Docs] Make clear that you need to create a new workspace (instead of restart the workspace) after adding a .gitpod.Dockerfile"
### Describe the bug
According to documentation it should be possible to install tools via dockerfile. For example MongoDB.

### Steps to reproduce
1. Create a gitpod workspace with Github
2. Add the following to .gitpod.yml
[code]
3. Add the following to .gitpod.dockerfile to install Mongo
[code]
4. Commit and push the changes
[code]
5. Stop and start the workspace
`Workspace > Stop workpsace`

#

[2020-09-08 13:40] corneliusludmann commented on #1821
It's important that you don't just stop and start your workspace but create a new workspace from this repo.

When you click on the `Start` button (on gitpod.io/workspaces or on the modal that appears after the workspace has stopped) it just starts the same workspace container again. You can resume your work exactly where you stopped the workspace.

However, when you open gitpod.io#https://github.c

[2020-09-08 13:48] maxclac commented on #1330
Where exactly do you change this IP?

[2020-09-08 13:50] MGlolenstine commented on #1330
That was ages ago, but I think I was able to change it within `GitPod` config file.

[2020-09-08 14:11] maxclac commented on #1330
OK, it does not work.

[2020-09-08 14:29] maxclac commented on #1330
Maybe it is better that I open my own issue.

[2020-09-08 14:49] gOATiful opened #1825 "Unable to start workspace, caused by `docker-credential-wincred` not found"
### Describe the bug
After a fresh install with helm on a self-hosted kubernetes instance, i am unable to start a workspace.
- Windows 10 Pro 1909
- Docker 19.03.12
- Kubernetes 1.16.5

![Errormessage](https://user-images.githubusercontent.com/46922279/92490579-7d4f9000-f1f1-11ea-8fe6-91c2fb81ea52.png)

However, `docker-credential-wincred` is executable and in the $PATH-variable on my machine.
###

[2020-09-08 14:57] #1825 closed

[2020-09-08 15:30] RDIL opened #1826 "Java language server fails to launch with missing injected dependencies"
### Describe the bug
Hi,

I've had this issue for a while now, but basically some time ago I installed the vscode-lombok extension to my GP to add support for it, but I recently removed it and now the java language server doesn't want to start because it says the extension is missing.  This is simply wrong because it should realize it was removed and no longer attempt to load it.

This happens on

[2020-09-08 16:27] RDIL commented on #1826
Log:
[code]

[2020-09-08 17:15] jankeromnes commented on #1826
Hey @RDIL!

Oops, seems to be the same bug as https://github.com/gitpod-io/gitpod/issues/1079#issuecomment-575550614 where the Lombok extension added something to your Gitpod user settings which persists after it was removed.

The fix is to go to File > Settings > Open Preferences, and then pick the User settings tab, and then click on the top right `{}` icon.

This will reveal the user setting fr

[2020-09-08 17:25] Deep-py opened #1828 "Python 3.8.4 Update!"
**Python 3.8.4** is here why the ide is still **3.8.3**??

[2020-09-08 17:26] RDIL commented on #1826
Thanks Jan, that fixed it!

[2020-09-08 17:26] #1826 closed

[2020-09-08 19:55] I201821180 opened #1829 "an example 1"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-08 20:10] jankeromnes commented on #1828
Hi @Deep-py! Hmm, good question. Normally we should receive an automated Pull Request like [this one](https://github.com/gitpod-io/workspace-images/pull/246/files) to auto-update the Python version.

I would say either Pyenv doesn't know about `3.8.4` yet, or there is a bug in our auto-update system (autofix.dev). I can investigate more tomorrow.

[2020-09-08 20:12] jankeromnes commented on #1829
Hi @I201821180! Welcome!

Please clarify your question or request about Gitpod.

[2020-09-08 20:12] #1829 closed

[2020-09-08 20:31] JesterOrNot commented on #1566
I'll give it a try.

[2020-09-08 23:47] JesterOrNot commented on #631
Yea the message has changed since but the issue is still present. Will take a look.

[2020-09-09 00:53] bacongobbler commented on #1740
FYI, this was fixed with https://github.com/helm/charts/commit/89a712556d2e3bb8c18acc350dca0bc9a5baba8d. Bump to a newer version of minio to receive the fix.

https://github.com/gitpod-io/gitpod/blob/0b05b751d0cd4d78e279cf99dfce8f384188190b/chart/requirements.yaml#L11

[2020-09-09 08:40] PirateBread commented on #340
I'm playing with GitPod now and I think it's a great tool but I think the option for a "persistent" user directory being super useful.

For example I'm used to saving my ZSH configuration + history to my personal home directory which I like to port with me on projects that I am working on.

I think GitPod should consider two use cases : totally ephemeral project workspaces which are strongly bound

[2020-09-09 09:01] #1828 closed

[2020-09-09 09:18] jankeromnes commented on #340
@PirateBread Agreed, and in fact we have already implemented a "full workspace backup" mechanism that removes the `/workspace` mountpoint and instead captures _every change_ made in your workspace, including in the HOME directory. (So, when you stop and restart a workspace, the entire file system with the exception of `/tmp` will be just as you left it -- you'll no longer need to worry about what'

[2020-09-09 15:49] #1788 closed

[2020-09-09 19:06] henno commented on #1821
Thanks! After many days of trial and error by me and then also countless trys by other persons that I delegated this task, we now managed to get it working.

"It's important that you don't just stop and start your workspace but create a new workspace from this repo."

This sentence is critical. This information is not explicitly given anywhere. Most importantly it's missing from https://www.gitpod

[2020-09-09 19:30] C-alcium commented on #1703
is there any plan to fix this?

[2020-09-10 05:49] jankeromnes commented on #1703
Hi @C-alcium, yes I'm still planning to work on this. I've already looked into it, but unfortunately my first suspicion wasn't verified, and I haven't been able to successfully debug this yet.

If you have any insight in debugging no-scroll issues on iPad, please let me know. Otherwise I'll try again soon.

[2020-09-10 05:51] jankeromnes commented on #1703
Also I think the Coder issue is about arrow keys and track pad, which have been fixed in webkit and already work well in Gitpod/Theia.

This issue is about any scrolling at all, in Markdown previews and Keybinding settings.

[2020-09-10 08:06] PirateBread commented on #1108
It would certainly be a nice feature if GitPod treated the path as the container for the workspace, and did not traverse up the tree but I also quite like the 1 repo 1 workspace convention.

[2020-09-10 08:12] PirateBread commented on #1821
My understanding is that GitPod workspaces are tied to a git commit ID. If you understand that it makes sense that you need to create a new workspace if you want to reference another commit ID.

[2020-09-10 13:08] flamecopper opened #1835 "PHP Server"
Hi there,

Is there a in built php server on the gitpod.
When I browser the .php extension file it will launch an preview on the browser?

[2020-09-10 15:13] AlexTugarev commented on #1835
Hi @flamecopper!

You'll find an example for a symfony application here: `https://github.com/gitpod-io/symfony-demo`. It's based on the [workspace-full image](https://github.com/gitpod-io/workspace-images/blob/master/full/Dockerfile) which pre-installs php.

Just open `https://gitpod.io/#https://github.com/gitpod-io/symfony-demo` in a new tab to try it out.

If you need to run apache as well, you

[2020-09-10 15:23] PirateBread opened #1836 "Does GitPod Self-Hosted support GitLab community edition?"
I have a very tightly controlled network where we run our own instance of GitLab community edition.

Does GitPod either free or paid, support accessing a GitLab community edition instance?

Thanks

[2020-09-10 16:09] Misterh-2 opened #1837 "Can not parse context into gitpod"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-11 01:47] sr229 commented on #1836
IIRC the self-hosted offering allows such since your use case is a air-gapped network.

[2020-09-11 07:44] corneliusludmann commented on #1837
Could you please provide more information?

[2020-09-11 07:46] corneliusludmann commented on #1836
Sure, you could add your local GitLab instance as auth provider. See https://www.gitpod.io/docs/self-hosted/latest/install/oauth/

[2020-09-11 07:48] corneliusludmann commented on #1816
Thanks for reporting.

@akosyakov: Could you have a look?

[2020-09-11 07:55] corneliusludmann commented on #1806
I cannot access your example repository. I get a 404. Is it a private repo?

Could you please provide at least your Dockerfile?

[2020-09-11 08:06] corneliusludmann commented on #1763
You can use `sudo` in your own Dockerfile: https://www.gitpod.io/docs/config-docker/

[2020-09-11 08:42] corneliusludmann commented on #1810
Why do you expect that `` Ctrl + ` `` focuses an existing terminal? In the `Terminal` menu, the entry `New Terminal` is bound to the shortcut `` Ctrl + ` ``. Thus, it works as I would expect it.

[2020-09-11 08:45] mehdihadeli commented on #1763
ok thanks

[2020-09-11 08:45] #1763 closed

[2020-09-11 08:55] j-james commented on #1810
Perhaps it's just because I'm coming from VS Code proper, but I'd expect there to be a default shortcut to raise / lower the terminal window. Particularly when working in a browser window with limited space, I find myself switching between running tests in the terminal and writing / reading full screens of code far more often than needing to open a new terminal because the current one is busy with

[2020-09-11 09:02] corneliusludmann commented on #1810
There is `Ctrl + J` that toggles the bottom panel (hit `F1` and search `Toggle Bottom Panel`).

[2020-09-11 09:22] gomyar opened #1839 "504 Error From Gitpod loading project"
### Describe the bug
Attempted to start a project from github.

Sorry, something went wrong 😓
Error 504

### Steps to reproduce
Login with Github and start a project

### Expected behavior
The project should load

### Additional information
Chrome Version 85.0.4183.83 (Official Build) (64-bit)

### Example repository
https://github.com/gomyar/metaphor

[2020-09-11 09:36] corneliusludmann commented on #1839
Thanks for reporting. Is this reproducible or has it occurred once?

[2020-09-11 09:50] gomyar commented on #1839
Seems pretty reproducible - that or the service loads very slowly.

[2020-09-11 10:18] corneliusludmann commented on #1839
Could you please check if it still occurs, @gomyar? We fixed a slow server instance ...

[2020-09-11 11:20] gomyar commented on #1839
This appears to be working normally again. Thanks guys.

[2020-09-11 11:20] #1839 closed

[2020-09-11 12:28] Misterh-2 commented on #1837
Morning. I fixed the issue

Thanks

Le ven. 11 sept. 2020 3:44 a.m., Cornelius A. Ludmann <
notifications@github.com> a écrit :

[2020-09-11 12:35] #1837 closed

[2020-09-11 13:57] koppor opened #1842 "Touch scrolling also for Explorer and Markdown Preview on ChromeOS"
### Describe the bug

I'm trying to integrate GitPod in a Java project (https://github.com/koppor/jabref/pull/446).

I am on the following environment:

[code]

I have opened gitpod.io in a tab.

I put the finger down in the Java editor and move the finger down. The text scrolls up. When doing the same gesture in the following "viewers", nothing happens

- "EXPLORER"
- Markdown preview
- Output, e

[2020-09-11 15:35] ceefour commented on #1806
@corneliusludmann Dockerfile below:

[code]

[2020-09-11 17:54] corneliusludmann commented on #1806
What I can see is that you try to install a lot of tools that are already installed in the `gitpod/workspace-mysql` image. I don't know your requirement but the only thing that really makes sense is to install `redis` like this:

[code]

- `mariadb-client` is not part of the MySQL image but the MySQL client. If you want to use `mariadb` you probably don't want to use the MySQL base image.
- Don't

[2020-09-11 19:11] ceefour commented on #1806
Alright, but ... is Gitpod base image indeed using a focal development image instead of a released one ? If so, I wonder why...
And whether Gitpod base image can run normally with using a released focal image .

[2020-09-11 22:36] hollaatyaboy opened #1843 "Conduct"
#1834  Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-12 05:54] hitzhangjie opened #1845 "gitpod overwrite the .gitconfig generated in Dockerfile"
### Describe the bug
I write a Dockerfile to generate the base Docker image, and reference the base image in .gitpod.yml. My base image is hitzhangjie/gitpod:latest.

This is my Dockerfile, I have configured some git aliases, but after gitpod started, I see that the .gitconfig file is replaced by a default one.

[code]

this is my .gitpod.yml:
[code]

### Steps to reproduce

1. update the .gitpod.

[2020-09-12 05:58] hitzhangjie commented on #1845
Oh, I checkout out a new branch, and start a new gitpod space. It works as expected.

Could I delete a stopped workspace?

[2020-09-12 09:06] jankeromnes commented on #1843
Thanks! But not enough information to be actionable, so closing.

[2020-09-12 09:06] #1843 closed

[2020-09-13 07:40] PatMyron commented on #688
This seems to have broken recently in Chrome (using version 85.0.4183.102)
Maybe related to https://developers.google.com/web/updates/2020/07/referrer-policy-new-chrome-default

[2020-09-13 10:15] randomserver commented on #1439
BUMP still seeing this issue on

https://gitpod.io/#https://github.com/randomserver/distributed-process-cluster

using a custom image based on fpco/stack-build

[2020-09-13 10:40] flamecopper opened #1846 "Gitpod Todo Tree"
Hi there,

I am trying to use TODO tree extension.
When I hit todo on the comments it doesn't really show any thing.
When I try to run it say something like : cannot find vscode-git-grep
"todo-tree: Failed to find vscode-ripgrep - please install ripgrep manually and set 'todo-tree.ripgrep' to point to the executable"

Seperately, I have a few others issues.

2ndly,
I am using PHP-CS-Fixer, how do

[2020-09-13 15:26] sr229 commented on #1846
I think ripgrep is supposed to be included with Theia, @svenefftinge, what do you think of this?

[2020-09-13 15:28] sr229 opened #1847 "Consider applying for GitHub Discussions Beta"
Currently some of the issues here are better off in the Discussions feature which is curretly in Beta. Since we're quite a large project I think GitHub would approve it considering the scale of the project merits such feature to be enabled here.

[2020-09-13 17:11] wolfymaster opened #1848 "[gitpod-db] Does not support MySQL 8.x caching-sha2-password"
# Issue

The `mysql` npm module still does not support caching-sha2-password plugin authentication which has replaced mysql_native_password as the default in mysql 8.x. Therefore, this dependency will cause the connection to fail when connecting to a mysql 8.x database cluster.

https://github.com/gitpod-io/gitpod/blob/49cd3880c32649e4f07ae18a6544ed87ff3b4026/components/gitpod-db/src/wait-for-db.t

[2020-09-13 22:29] richtong commented on #864
This seemed to be fixed and it does install now

[2020-09-13 23:01] flamecopper commented on #1846
So I do I get theia in the first place?
What are the advantage of using theia

On Sun, 13 Sep 2020, 23:26 Capuccino, <notifications@github.com> wrote:

[2020-09-14 02:58] sr229 commented on #1846
Gitpod uses Theia as the IDE framework for its editor experience, when we refer to Theia we refer to Gitpod's IDE usually.

[2020-09-14 03:07] sr229 commented on #1780
If you need assistance with integrating code-server, I'm all ears. However, during my experience with code-server porting with Eclipse Che, VS Code won't be aware of the additional container runtimes which Che is using for pluggable runtime tooling, I'm interested how would you tackle this.

Browsing VS Code's source there is a simple server we can use as well however I do think code-server would

[2020-09-14 03:13] sr229 commented on #1806
I doubt they're using dev branches of Ubuntu in production, since that's a rather large moving target. If we're going to use development versions we might as well target Debian Sid.

[2020-09-14 06:39] ChristinFrohne opened #1849 "Update media image"
The current media image is outdated

<img width="600" alt="Bildschirmfoto 2020-09-14 um 08 26 39" src="https://user-images.githubusercontent.com/46345125/93051909-81523680-f665-11ea-85ba-8482b5089adc.png">

New media image:
![Media-image-structure](https://user-images.githubusercontent.com/46345125/93052003-ab0b5d80-f665-11ea-8a21-70f3ec3c264d.jpg)

[2020-09-14 08:39] flamecopper opened #1850 "We are having trouble parsing your context"
We are having trouble parsing your context
Error: Cannot read property 'sha' of undefined
Please file an issue if you think this is a bug.

[2020-09-14 08:41] flamecopper commented on #643
I just faced this issues today, has it been fixed? It has been over a year

[2020-09-14 13:47] ChristinFrohne opened #1851 "Update meta description for gitpod.io"
### Describe the bug

meta subscription is outdated
<img width="307" alt="Bildschirmfoto 2020-09-14 um 15 42 31" src="https://user-images.githubusercontent.com/46345125/93093435-f98a1d80-f6a0-11ea-9d0c-c342694f305f.png">

### Solution
meta title: `Gitpod - Dev environments built for the cloud `
meta description: `Gitpod streamlines developer workflows by providing prebuilt, collaborative developme

[2020-09-14 14:19] jankeromnes commented on #1851
I think you meant `Gitpod - Dev environments built for the cloud` (past tense)

Also, maybe we could even change that line to `Gitpod - Dev environments in the cloud` (makes it even easier to understand that the dev environment is in the cloud, and not some product that we've built for some purpose but it's not clear how to get the product).

[2020-09-14 14:37] ChristinFrohne commented on #1851
of course thanks!

I'd stick with the sentence as we already have it, by that the messaging stays consistent. Also I like having "built" in it. That shows that Gitpod was always meant for the cloud and just pushed to it afterwards.

[2020-09-14 18:07] JesterOrNot commented on #1850
I thought this was fixed. @flamecopper Could you provide the repo?

[2020-09-14 18:35] #1845 closed

[2020-09-14 18:45] corneliusludmann commented on #1850
Without more context information / a repo link it's hard to say what the reason is. It could be that the `.gitpod.Dockerfile` that is referenced in your `.gitpod.yml` file not exist.

[2020-09-14 18:50] JesterOrNot commented on #1850
@corneliusludmann but wasn't the issue fixed? i.e. there should be a helpful error message now.

[2020-09-14 18:55] corneliusludmann commented on #1850
Don't think that this is already deployed.

[2020-09-15 08:21] corneliusludmann commented on #1806
You'll find the Docker file of the Gitpod base image here: https://github.com/gitpod-io/workspace-images/blob/master/full/Dockerfile

[2020-09-15 08:54] wulfthimm commented on #1847
We have a community site for discussions https://community.gitpod.io/.

[2020-09-15 09:25] wulfthimm commented on #1846
Theia does use ripgrep and it is installed as a dependency. It could be found at `/theia/node_modules/vscode-ripgrep/bin/rg` which is not a common path for node_modules. Therefore the extension could not find it. But it can be set directly in the preferences (File -> Settings -> Open Preferences).
![image](https://user-images.githubusercontent.com/12035025/93192680-3825e380-f746-11ea-814a-f1db8d0a

[2020-09-15 09:30] kittaakos commented on #1846
It is included:
[code]

Try to set the [path to the ripgrep binary](https://github.com/Gruntfuggly/todo-tree/blob/3b35d6c2be53399ea87e181fd9eff57ee77b9272/package.json#L497-L501) manually in your `.vscode/settings.json`. It should be something like this in Gitpod:
[code]

It works locally like this, although I do not know what I supposed to see in the TODO tree:
![Screen Shot 2020-09-15 at 11 29 0

[2020-09-15 09:34] jankeromnes commented on #1851
@nisarhassan12 would you be interested in fixing this? 🙏

[2020-09-15 09:35] wulfthimm commented on #1846
Git commands could be automated using a simple bash script.
[code]

[2020-09-15 09:36] jankeromnes commented on #1849
@nisarhassan12 Could you please also look into fixing this?

[2020-09-15 09:36] wulfthimm commented on #1846
4. What server need to be reloaded?

[2020-09-15 09:40] jankeromnes opened #1855 "The Access Control page doesn't work well on mobile"
### Describe the bug

Gitpod's Access Control page doesn't work well on mobile:

<img width="374" alt="Screenshot 2020-09-15 at 11 38 35" src="https://user-images.githubusercontent.com/599268/93194165-10d01600-f748-11ea-8b59-53189a4dd006.png">

### Steps to reproduce

1. Open https://gitpod.io/access-control/ in a mobile view

### Expected behavior

The flow direction should change from horitzonta

[2020-09-15 09:46] jankeromnes opened #1857 "The dashboard's top menu bar doesn't work well on mobile (right overflow)"
### Describe the bug

On mobile, the Gitpod dashboard's top menu bar overflows on the right of the screen, creating an awkward horizontal scroll:

<img width="375" alt="Screenshot 2020-09-15 at 11 41 47" src="https://user-images.githubusercontent.com/599268/93194683-a53a7880-f748-11ea-8a81-cb23287b0cbd.png">

### Steps to reproduce

1. Open https://gitpod.io/workspaces/ on mobile

### Expected beh

[2020-09-15 09:51] alblue commented on #1592
Given that GitPod is now open-source, do you have any pointers about how I could create a PR for this feature?

[2020-09-15 09:53] jankeromnes opened #1858 "The Workspaces List doesn't work well on mobile"
### Describe the bug

The list of Gitpod Workspaces doesn't work well on mobile:

<img width="375" alt="Screenshot 2020-09-15 at 11 47 17" src="https://user-images.githubusercontent.com/599268/93195242-4d504180-f749-11ea-9f3b-aa7806ba4d9f.png">

### Steps to reproduce

1. Open https://gitpod.io/workspaces/ on mobile

### Expected behavior

We should find a better layout for mobile.

But maybe we c

[2020-09-15 12:13] flamecopper commented on #1846
The issues doesn't exist now.
Just that sometime the commit message doesn't show until i refresh the page.

[2020-09-15 12:17] flamecopper commented on #1846
i use alias gitcomm= "git commit -am '<MSG>';git push"

[2020-09-15 12:40] flamecopper commented on #1846
Hi there,,

I got a seperate queries,
the gitpod somewhat hangs when a files with multiple lines like 1mb 2mb is open.
How do I reset the workspace?

[2020-09-15 12:41] flamecopper commented on #1846
Also sometimes I having this issues:
2019/04/25 12:21:33 error while issuing request: Post http://localhost:23000/gitpod/cli: net/http: request canceled (Client.Timeout exceeded while awaiting headers)

[2020-09-15 14:30] JesterOrNot commented on #1592
@alblue So you're proposing Gitpod looks for the .devcontainer/Dockerfile if no image / Dockerfile is provided?

[2020-09-15 16:40] alblue commented on #1592
Yes, along with the `context: .devcontainer` as well.

[2020-09-15 21:17] spillsthrills commented on #632
I have it compiling a dll for a simple F# console app in Gitpod.io but can't seem to get it to debug can you please show the task/launch configuration that works? I am relatively new to the F# world so apologize if this really obvious but, same setup that works on Ionide Mac Desktop fails to debug on Gitpod.io.

[2020-09-16 02:34] ceefour commented on #1806
Thanks @corneliusludmann, I will close this issue as it is specific to Nodejs installer script.

[2020-09-16 02:34] #1806 closed

[2020-09-16 03:40] pluserenity opened #2230 "AWS self-hosting failure occurs"
I'm trying to self-hosting to AWS with the official documentation.
https://www.gitpod.io/docs/self-hosted/0.5.0/install/install-on-aws-script/

And I run the following command as described in the documentation.
[code]
Then the following error occurred.
![image](https://user-images.githubusercontent.com/10428559/93288914-f1a0b980-f817-11ea-8e59-c330cf7456ab.png)

Perhaps I need to change the defini

[2020-09-16 03:43] ceefour opened #1859 "Send Pull request: Failed to submit - without explanation"
### Describe the bug

Send Pull request: Failed to submit - without explanation

### Steps to reproduce

1. Open https://www.gitpod.io/docs/config-docker/
2. Click pencil icon, which will open https://gitpod.io/#https://github.com/gitpod-io/website/blob/master/src/docs/config-docker.md
3. Fork to own repository
4. Edit file, then commit
5. Push to own repository
6. Make pull request to gitpod-io/w

[2020-09-16 04:35] vigneras opened #1860 "Error: cannot create initializer for unkown context type"
### Describe the bug
Can't access my workspace

### Steps to reproduce
Create a workspace from gitlab

### Expected behavior
Access to workspace granted

### Example repository
c1aaf38c-4a26-4322-92b2-054b9a198ab3

[2020-09-16 08:34] shahink41 opened #1861 "why?"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-16 08:58] jankeromnes commented on #1861
Why Gitpod? https://youtu.be/d6D-OUPnJeg

[2020-09-16 08:58] #1861 closed

[2020-09-16 10:37] bytefong opened #1862 "Last backup failed"
### Describe the bug

I was working on a workspace then it suddenly unresponsive. When I refreshed the page it said the instance is stopping. A few minutes later I got below message.

`last backup failed: backup timed out. Please contact support if you need the workspace data.`

I tried to open the workspace again and it's succeeded without my previous local commits.

My Workspace ID: b7155a40-f20

[2020-09-16 12:14] wulfthimm commented on #1862
Reply was send via Email.

[2020-09-16 12:37] #1862 closed

[2020-09-16 16:28] JesterOrNot opened #1863 "Create A Terraform Script to install self-hosted on Digital Ocean"
We should create a Terraform script to run Gitpod on Digital Ocean

[2020-09-16 18:40] corneliusludmann commented on #1860
Would you mind providing the Gitpod URL you have used to open your workspace?

[2020-09-17 02:51] wolfymaster commented on #1863
I'm running my self-hosted on DO - it has had some quirks, especiallty related to using their managed MySQL. If there is any help needed in building out DO support or scripts, I'm happy to lend a hand.

[2020-09-17 11:38] svenefftinge commented on #1780
code-server is not maintained and actually also no longer necessary as the vscode team has changed its project to allow running vscode in browsers through the last months. Going with that makes more sense as it is closer to the real thing.
WRT additional container runtimes in Che: Gitpod doesn't impose those requirements.

[2020-09-17 12:05] sr229 commented on #1780
@svenefftinge To be honest we would like to be in parity with Codespaces if we're integrating VS Code entirely, that's something we would like to do.

And I would opt in to more informative loading screens like what Codespaces does

![image](https://user-images.githubusercontent.com/14976516/93468136-1fbdf080-f921-11ea-9ca8-6b19e4470cba.png)

[2020-09-17 12:11] meysholdt opened #1866 "Document generic OAuth integration"
Gitpod supports OAuth providers beyond GitHub, GitLab, and bitbucket.org.

This is an example of the generic mechanism for Azure. It would also work for other OAuth providers.
This code goes into the Helm's `value.yaml` of your Gitpod installation.

[code]

[2020-09-17 12:13] mikenikles opened #1867 "Allow port visibility to be configured in .gitpod.yml"
I would be convenient to have the `PortVisibility` configurable in `.gitpod.yml` as outlined in the following example:

[code]

In web application development, JavaScript code in the browser often needs to call a backend API. If that backend API runs on Gitpod, it needs to be exposed publicly. To achieve that currently, it requires manual clicks to mark each backend API's port as public and to clo

[2020-09-17 15:04] Yael95 opened #1869 "Preview not working"
Preview does not show my html. Is there a problem with my configuration?

[code]

this simple html does not show on my preview

[2020-09-17 15:37] flamecopper opened #1870 "Several Issues"
Hi there,

1. I am using apachectl , I can start with a configuration file but cannot stop
2. Using apachectl server, I can edit the php.ini after I grant permission from the Dockerfile, but when I restart the workspace it goes back to the original
3. Is there an inbuilt diff tools in the gitpod?
4. I am importing a database of type MyISAM, when I try to convert to InnoDB table, the table become c

[2020-09-17 16:23] vigneras commented on #1860
I had to move fast, I deleted it.
Regards.

[2020-09-17 16:48] corneliusludmann commented on #1870
Hi @flamecopper,

It would be great if you could create a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example).

Here is what I can answer based on your description:
- Currently, everything that is not in the folder `/workspace` will not survive a workspace restart. That's probably why the changes in `php.ini` are not persistent.
- You can compare files in y

[2020-09-17 16:52] corneliusludmann commented on #1867
I thought every port that has an entry in the ports config section is public.

https://github.com/gitpod-io/gitpod/blob/b71f68fc1aaefbe12b62a4c6ab5137e9a3df29a7/components/server/src/workspace/workspace-starter.ts#L508

However, I also stumbled across it today and would love to have this config option (with me it was about the opposite case: making ports private).

[2020-09-17 16:54] corneliusludmann commented on #1869
Could you provide a [Minimal, Reproducible Example](https://stackoverflow.com/help/minimal-reproducible-example) or at least your configuration?

[2020-09-17 16:57] corneliusludmann commented on #1846
Is the original issue with the Todo Tree solved? If so, please close this issue.

Please open separate issues for different/unrelated questions/problems.

[2020-09-17 19:18] RDIL opened #1871 "Add option to drop some Gitpod layer metadata"
When building workspace images, Gitpod does this dumb process of modifying the bashrc file to add some configuration which doesn't need to exist assuming the image already does it.

If you want a more comprehensive idea on why this is extremely flawed, please see https://github.com/gitpod-io/gitpod/issues/1555.

## My proposed solution

Add an empty file to all images that are meant explicitly for

[2020-09-18 02:17] tekumara commented on #1780
Is code-server the same as [cdr/code-server](https://github.com/cdr/code-server) (which has a recent release) or that something different?

[2020-09-18 11:24] jankeromnes commented on #1869
Hi @Yael95!

I see in your screenshot that the `index.html` file changes were not saved (see the full white disk in the editor tab handle).

If you press <kbd>Cmd</kbd> + <kbd>S</kbd>, this should save the file, and also update the HTML live preview.

[2020-09-18 11:35] Yael95 commented on #1869
Thank you , and sorry for the bother.

[2020-09-18 11:35] #1869 closed

[2020-09-18 11:44] sr229 commented on #1780
@tekumara I think he meant Coder's code-server, though we're looking at our own approach in development here.

[2020-09-18 12:05] #1851 closed

[2020-09-18 16:24] Yael95 opened #1873 "Deploying from gitpod"
I was wondering if it is possible to deploy my web app as I am adopting gitpod as my work environment due to my machine's limitations. Can I deploy my web app to ( for instance Google cloud or app engine)? if so what is the procedure to follow as I feel more comfortable working on my projects on gitpod rather than setting up my environment in my local machine.

[2020-09-18 17:42] jankeromnes commented on #1869
No worries! Glad I could help 😊

[2020-09-19 02:17] everaldoferreira opened #1874 "Lógica"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-19 05:11] sr229 commented on #1846
@corneliusludmann looks like there isn't any outstanding issues at the moment based on my testing so this could be closed.

[2020-09-19 06:00] #1846 closed

[2020-09-19 06:32] sr229 commented on #1874
Please provide more info @everaldoferreira. What is the issue? And please use English, this is the medium of communication here.

[2020-09-19 06:34] sr229 commented on #1847
Honestly I think people would like to use GitHub itself for this kinds of community discussions since no one would like to make a seperate account just to engage with community if it's in GitHub at the moment - since GitHub has been opening up Discussions in limited beta.

[2020-09-19 06:37] sr229 commented on #1871
We could use `LABEL`s and parse them to automatically configure the container post-pull since this would allow us to use standard container features that are already builtin.

[2020-09-19 06:38] sr229 commented on #1842
Can confirm the issue in Chromium OS 87.

[2020-09-19 06:40] sr229 commented on #1812
Unfortunately I think this is a ISP issue rather than Gitpod's issue, contact your ISP since they may be dropping long lived sockets @abhikulshrestha22

[2020-09-19 06:42] sr229 commented on #1873
If you're aiming to deploy to Google Cloud Engine, you will need the Google Cloud CLI installed first, then set your token in your environment variables, you can find it on your account settings.

The Cloud CLI installation can be done in your workspace's Dockerfile and have your `.gitpod.yml` use that `Dockerfile.

[2020-09-19 06:45] sr229 commented on #1850
I couldn't reproduce the issue. @flamecopper please provide more information and a repo so we can reproduce, this is one of your issues that has vague info that we can't work out the issue out of. Avoid **making** issues without giving substantial evidence that the issue exists. You're not giving us even a screenshot or an error stack.

[2020-09-19 09:07] flamecopper commented on #1850
Hi Gitpod-Io

this issues are quite common
I thought you should have know
by the time I try to troubleshoot the other issues and find workaround,
hands are already full..

On Sat, 19 Sep 2020, 14:46 Capuccino, <notifications@github.com> wrote:

[2020-09-19 10:15] Yael95 commented on #1873
Thank you for your information. Do I need to install gitpod on my own cloud environment or I can do the deployment from gitpod?

[2020-09-19 10:24] sr229 commented on #1873
You can do it both on the public offering and your self-hosted solution! It's documented in the docs on how to do your custom Docker environment @Yael95.

[2020-09-19 10:37] Yael95 commented on #1873
Thank you guys for your info, have a bright weekend!

[2020-09-19 10:37] #1873 closed

[2020-09-20 07:09] ZBY0420 opened #1875 "bugs"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-20 12:34] abhikulshrestha22 commented on #1812
@sr229 I changed the network and still faced the issue. It happens mostly after keeping the tab open for hours.

[2020-09-20 12:38] sr229 commented on #1875
Please do not send empty bug reports - state what is the issue please.

[2020-09-20 13:49] flamecopper commented on #1821
Had it been there, it would have saved hours of frustrations from multiple persons from our team. >> same here for me, I supported adding it in.

[2020-09-20 15:11] JesterOrNot commented on #1863
I do have one question did you zet up external storage w/ minio and if so what values did you use?

[2020-09-21 06:17] ProtoByter opened #1876 "Can't use SDL even when using the VNC version"
### Describe the bug
You can't use SDL2 on gitpod as it doesn't have any render backends (OpenGL, Vulkan, etc.) (Based on info from SDL_GetError())

### Steps to reproduce
Try and create an sdl renderer in gitpod

### Expected behavior
The renderer to be made without being nullptr

### Additional information
For reference this is what SDL_GetError() returns:
`Couldn't find matching render driver`

[2020-09-21 07:47] wulfthimm commented on #1876
Gitpod is currently not supporting GPU rendering.

[2020-09-21 07:48] #1875 closed

[2020-09-21 07:48] #1874 closed

[2020-09-21 14:53] godndas2 opened #1880 "https://gitpod.io/#project=SpringBootWebSocket/https://github.com/heowc/SpringBootSample/tree/master/SpringBootWebSocket"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-21 18:52] #673 closed

[2020-09-22 07:33] maksimr opened #1881 "Live reload does not work for parcel/webpack"
Example project:

https://github.com/maksimr/playground

STR:

- Open `gitpod.io/#https://github.com/maksimr/playground`
- Open terminal `npm ci`
- Run task `npm start`
- In popup select `Make port public` and `Open preview`
- Change `index.js`

AR: Preview show old result
ER: Preview refreshed/reloaded and show new result

If manually press “Refresh” it would show new result

The same problem wit

[2020-09-22 07:33] akosyakov commented on #1880
Closing since the issue template is not filled in. Pleas take time to fill it in to explain the issue.

[2020-09-22 07:33] #1880 closed

[2020-09-22 07:41] akosyakov commented on #1821
Docs are open-sourced: https://github.com/gitpod-io/website/tree/master/src/docs PRs are welcomed!

[2020-09-22 07:49] akosyakov commented on #1881
I'm not sure whether it is gitpod issue or misconfiguration of parcel. The preview listens to file changes when an opened URL is pointing to a file. In this case though the content is fetch from a server started by parcel. I would expect that parcel or webpack devserver is responsible to trigger hot reload, and it should work in the preview and in a new browser window.

Could you point to docs abo

[2020-09-22 07:54] akosyakov commented on #1812
Did you find a workaround? Does restarting the browser helps or cleaning cookies?

[2020-09-22 07:57] akosyakov commented on #1850
@JesterOrNot @corneliusludmann Which fix do you mean?

@flamecopper a context is URL like: `gitpod.io#https://github.com/gitpod-io/gitpod/issues/1850`. Could you share it please?

[2020-09-22 07:58] maksimr commented on #1881
@akosyakov parcel already has preconfigured server with live reload. There are not so much room to configure it manually :(

https://parceljs.org/getting_started.html

But live reload works locally and in codesandbox (which use parcel by default)

I could create minimal example with webpack if it would help. Because webpack also doesn’t work for me

[2020-09-22 08:00] akosyakov commented on #1847
https://community.gitpod.io/ is using GItHub OAuth. As for now GitHub discussions have very limited features, like missing private communications and so on.

[2020-09-22 08:03] maksimr commented on #1881
@akosyakov I believe that I have not configured something properly on gitpod because for example
https://github.com/4GeeksAcademy/react-hello-webapp works for me but only for port **3000** if I change port on **8080** for example it would not reload the page so I believe there are some configuration for gitpod

[2020-09-22 08:18] akosyakov commented on #1859
@ceefour Could you check devtools next time whether there is any additional errors? We are displaying errors from GitHub but maybe something slipped away.

[2020-09-22 08:22] maksimr commented on #1881
Playground with webpack - https://github.com/maksimr/playground/tree/webpack

[2020-09-22 08:30] akosyakov commented on #1881
Parcel tries to establish a web socket to hot reload server but fails:
<img width="1674" alt="Screenshot 2020-09-22 at 10 27 31" src="https://user-images.githubusercontent.com/3082655/93859764-56e42700-fcbe-11ea-91b7-0a50b2b90a54.png">

We expect that external URLs shoudl be consrcuted like `${port}-${windowl.location.href}` and all on the same port. Parcel though does `${windowl.location.href}:${

[2020-09-22 08:31] akosyakov commented on #1881
Something like https://github.com/parcel-bundler/parcel/issues/2275 could help.

[2020-09-22 08:37] maksimr commented on #1881
@akosyakov thanks a lot! I have created an example with webpack.

I have tried to run in on PC to debug and see that requests to fetch changes failed
![image](https://user-images.githubusercontent.com/616193/93860568-f659e780-fcc7-11ea-9cfd-72a0b819ecf6.png)
![image](https://user-images.githubusercontent.com/616193/93860619-096cb780-fcc8-11ea-825c-70dfc1a3e52e.png)

[2020-09-22 08:41] maksimr commented on #1881
Hm... in webpack examples it tries to go on port 3000

[2020-09-22 08:52] akosyakov commented on #1881
@alesanchezr Hi, sorry to bother. Maybe you can shed some light how you managed to enable hot reload for https://github.com/4GeeksAcademy/react-hello-webapp and what is missing in https://github.com/maksimr/playground/tree/webpack?

[2020-09-22 09:05] akosyakov commented on #1881
It works with webpack-dev-server@3.3.1, but now with latest :(

[2020-09-22 10:17] maksimr commented on #1881
@akosyakov I was able to run live reload in latest webpack by passing `--sockPort=443`. Otherwise, webpack try to poll `<host>:<serverPort>` but gitpod.io proxy only `443` port

[2020-09-22 10:24] maksimr commented on #1881
Another solution use `--public` and `gp url`

 `webpack-dev-server -d --disable-host-check --host 0.0.0.0 --port 3000 --public $(gp url 3000)`

[2020-09-22 10:45] akosyakov commented on #1881
Maybe something worthwhile to document here: https://www.gitpod.io/docs/languages-and-frameworks/

[2020-09-22 17:25] Camji55 commented on #1701
Pull request merged: https://github.com/gitpod-io/browser-extension/pull/23

Closing issue. Thanks all!

[2020-09-22 17:25] #1701 closed

[2020-09-23 12:18] hm2075 opened #1887 "Self hosted gitpod and gitlab Auth issues"
Hi

i've installed gitpod (non-ssl) onto a local box,     and tried to integrate into our local gitlab instance (non-ssl)
when I hit the login button it redirects to gitlab,  accessing for authorisation and then the callback to gitpod occurs,   however gitpod just says

"Sorry, something went wrong 😓
Please allow Cookies in your browser and try to log in again."

disabled all extension and allowed

[2020-09-23 13:56] corneliusludmann commented on #1887
How does the `values.yaml` file of your helm installation look like? Do you have an `authProviders` section?

[2020-09-23 14:20] mfouesneau opened #1888 "clang++ compiler options (include libraries)"
I have a very minimal example and I cannot make it work properly.

The example is very minimal but includes a second header provided within the repository. However the editor does not find where this piece is and I cannot find where to put something similar to "--include-directory ${workspaceRoot}/include"

Could you help?

example here:
https://github.com/mfouesneau/gitpod_cpp_template

[2020-09-23 14:53] jankeromnes commented on #1888
Hi @mfouesneau, sure! I'll see if I can get this to work properly.

My first guess would be to configure `clangd`, the Language Server behind editor's C/C++ support, like so: https://github.com/Shadouw/HelloGitPod/blob/master/.theia/settings.json

However, we might have changed the C/C++ VSCode extension in Gitpod, so maybe that's no longer the correct way to configure this. I'll take a look.

[2020-09-23 14:56] mfouesneau commented on #1888
I did try that. Have a look at my configuration. The includes are not used there.

[2020-09-23 15:03] jankeromnes commented on #1888
I see in your [.theia/settings.json](https://github.com/mfouesneau/gitpod_cpp_template/blob/9100a8bc714939076749817bf6b7273b9f4b11ca/.theia/settings.json#L10-L12) that you've tried to configure something called `clangd.arguments`, but that doesn't seem to exist:

<img width="498" alt="Screenshot 2020-09-23 at 17 01 07" src="https://user-images.githubusercontent.com/599268/94030831-8bd7a300-fdbe-11

[2020-09-23 15:07] mfouesneau commented on #1888
When I do so I get a series of error notifications on clangd server that cannot start.

yes clangd.arguments does not work here.

[2020-09-23 15:07] hm2075 commented on #1887
Yes,

attached below

secret key,  id and callback all work fine,   its just on the redirect back that it doesnt seem to be picking up the session
`
 # Gitpod needs at least one auth provider to allow users to log in.
  # The auth providers below are examples only. Please change/remove them to fit your installation.
  authProviders:
  - id: "Local Gitlab"
    host: "aaa.xxx.xxx.xxx"
    protocol:

[2020-09-23 15:18] hm2075 commented on #1887
Attached below

id, secret key works fine as well as the callback,
just looks like its not picking up the session after that

[code]

[2020-09-23 15:22] corneliusludmann commented on #1887
@AlexTugarev Could you have a look?

[2020-09-23 16:00] hm2075 commented on #1887
both our gitlab and gitpod instances are non-ssl

i've got a feeling i'm going to have to end up adding ssl certs to both

[2020-09-23 16:03] AlexTugarev commented on #1887
@hm2075, which version of Gitpod did you install? At least the `protocol` attribute is not supported and `https` is used for OAuth in the latest release.

That could be related to "browser does not want to persist cookies in unsecure environments", which we've seen in the past.

[2020-09-23 16:05] AlexTugarev commented on #1887
btw, are you using one of the mainstream browsers, or something special?

[2020-09-23 17:16] ProtoByter commented on #1876
oh ok, is it planned?

[2020-09-23 18:06] skinny85 opened #1889 "Is it possible to know when a Pull Request is opened from a Gitpod workspace (for metrics tracking)?"
Hey all,

in an effort to track how impactful adding Gitpod support is to our project's contribution experience, I was wondering: is there any way to know (and count) whether a given Pull Request was opened from a Gitpod workspace?

Thanks,
Adam

[2020-09-23 20:45] alexcmonnet opened #1890 "Select all - Ctrl+a doesn't work in the New File and New Folder name box"
### Describe the bug
When prompted to name a new file or new folder, I'm unable to use the ctrl+a select all shortcut to select then delete the prepopulated 'Untitled.txt' in the input field.

### Steps to reproduce
1. Open a project in the Gitpod workspace.
2. Create a new file in the IDE
3. Select/focus on the input field in the pop-up titled 'New File'
4. Use the select all keyboard shortcut 'c

[2020-09-24 04:13] akosyakov commented on #1889
@jankeromnes Could you answer please?

[2020-09-24 04:16] akosyakov commented on #1890
It sounds like FF issue. It works in other browsers. Could you report a bug for them please: https://bugzilla.mozilla.org/home?

[2020-09-24 06:41] jankeromnes commented on #1889
Hey @skinny85,

For sure! Gitpod always remembers for which context URL (e.g. specific Pull Request URL) and commit SHA a workspace was created, so it's possible to get stats on that. (Note: Deleted workspaces will not show up in this data though.)

Long-term we'll likely want to expose this data (e.g. anonymized per repo / per PR usage stats) in some sort of dashboard, but for now I'm happy to an

[2020-09-24 07:31] aslafy-z commented on #1889
It could eventually be done by tagging these pull request with something like `opened-by: gitpod`, either manually as part of your contribution process or automatically added by gitpod (default labels in .gitpod.yml) to your PRs?

[2020-09-24 10:05] nisarhassan12 commented on #1849
Fixed in https://github.com/gitpod-io/website/pull/755

[2020-09-24 10:05] #1849 closed

[2020-09-24 11:52] Aju100 opened #1896 "Private key exposed in gitpod repo."
The private key and other credentials have been exposed to your repo. here is the link to where it's located.
https://github.com/gitpod-io/gitpod/blob/master/chart/secrets/messagebus/msgbus-client.pem

[2020-09-24 13:23] AlexTugarev commented on #1896
@Aju100 thanks for reaching out!

This isn't a critical thing, as it's just used to secure the internal message bus which is not exposed otherwise.

We definitely should add means of generating that key in helm and maintain on updates.

[2020-09-24 13:23] #1896 closed

[2020-09-24 13:59] Aju100 commented on #1896
@AlexTugarev  thank u for ur response

[2020-09-24 14:12] maksimr opened #1899 "Extension requires a license key every time when I open gitpod"
STR:

- Install an extension which requires a license
- Add license
- Reload page

AR: Extension requires to type license again

[2020-09-24 14:15] AlexTugarev commented on #1899
Hi @maksimr!

Which extension is it?

[2020-09-24 14:17] maksimr commented on #1899
@AlexTugarev similar to [quokkajs](https://marketplace.visualstudio.com/items?itemName=WallabyJs.quokka-vscode)

[2020-09-24 14:39] AlexTugarev commented on #1899
"similar to" but not exactly that one? it's hard do diagnose if it's not that one.

it would be great to see if there are any issues logged. if you don't mind to assist on that, please retry and have a look at the JS console in the dev tools of your browser. is there anything related logged?

[2020-09-24 14:49] maksimr commented on #1899
@AlexTugarev you can use Quokka

After set license key no any message in console

[2020-09-24 15:41] AlexTugarev commented on #1899
Just tried with the trial license. It seems to work 🤷‍♂️

[2020-09-24 15:58] hm2075 commented on #1887
added ssl certs to both gitlab and gitpod

unfortunately still seeing the error

[2020-09-24 16:08] alexcmonnet commented on #1890
Opened a bug report with Mozilla here: https://bugzilla.mozilla.org/show_bug.cgi?id=1667140

[2020-09-24 17:02] maksimr commented on #1899
@AlexTugarev it doesn't show license dialog again after page reload?

[2020-09-24 18:30] jessenich commented on #1719
Any updates or feedback on this from the developers? Would be extremely convenient to develop on an iOS tablet, especially for freelance devs like myself who travel a lot and/or appreciate switching up their workspace location on occasion. Even support for just the new iPad Pro + iPad Magic Keyboard attachment would be wonderful.

[2020-09-24 18:32] twalkera16 commented on #1719
I've also been having these issues!

[2020-09-24 18:34] twalkera16 commented on #1719
I have also been experiencing this same issue has there been any updates to this issue?

[2020-09-24 18:35] twalkera16 commented on #1719
I have also been experiencing this same issue has there been any updates to this issue?

[2020-09-24 18:42] hm2075 commented on #1887
hmmmm

i think i know what the issue could be

@AlexTugarev

myserver name is    gitpod.domain.xyz.uk

so when you click on login it is saying

set-cookie was blocked because domain attribute was invalid with regard to the current host url

does it come down to this line of code

 const baseDomain = hostParts.slice(hostParts.length - 2).join('.');

instead of 2 part,  for my instance its 3 part?

[2020-09-25 04:48] arleif-dfactory opened #1900 "Authorization token expired"
### Describe the bug
After a few hours of working perfectly Gitpod (self-hosted, AWS) suddenly stops working for cases where the .gitpod.yml contains an `image:` section. `The error is Request startWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: Error response from daemon: denied: Your authorization token has expired. Reauthenticate and try again.
Please file an issue i

[2020-09-25 07:27] AlexTugarev commented on #1887
That looks like a bug indeed. Thanks for helping to narrow down it!

[2020-09-25 08:17] AlexTugarev commented on #1899
No it doesn't.
I installed the extension and then requested/applied the trial license.

[2020-09-25 08:33] AlexTugarev commented on #1887
See https://github.com/gitpod-io/gitpod/pull/1903

[2020-09-25 09:28] AlexTugarev commented on #1900
@wulfthimm, do you know what needed for the image builder to work nicely on AWS?

[2020-09-25 09:47] jankeromnes commented on #1887
@AlexTugarev Note FYI: We seem to have exactly the same bug in our current open-source Gitpod deployments:

<img width="1440" alt="Screenshot 2020-09-25 at 11 44 48" src="https://user-images.githubusercontent.com/599268/94252739-a6c42780-ff24-11ea-9d3b-a8e9307affa7.png">

... click on "Connect" ...

<img width="1440" alt="Screenshot 2020-09-25 at 11 44 38" src="https://user-images.githubuserconten

[2020-09-25 10:06] maksimr commented on #1899
@AlexTugarev hm... have tried with trial license and all works fine.

[2020-09-25 10:47] maksimr commented on #1899
Close issue because now my own license also works fine after replace trial

[2020-09-25 10:47] #1899 closed

[2020-09-25 11:08] philjak opened #1906 "Adding (self-hosted) Gitlab Provider - Sorry, something went wrong 😓 Login not permitted"
### Describe the bug
I spawned gitpod by using the provided [docker-image](https://github.com/gitpod-io/gitpod/tree/master/install/docker/examples/gitpod). When trying to connect to my Gitlab (CE & EE 13.3.5), I get an error.

![image](https://user-images.githubusercontent.com/5772650/94259822-5b634680-ff2f-11ea-9d66-79d1ae071f85.png)

### Steps to reproduce
- Run docker image (with HTTPS)
- Add G

[2020-09-25 12:08] ChristinFrohne opened #1908 "missing notification if "write repo" is disabled"
### Describe the bug

I was unable to push a change. Error: Request push failed with message: Authentication failed. You may not have permission to access the repository or the repository may have been archived.

Apparently I disabled "write public repo" in access-control. @jankeromnes pointed me there 🙏
Gitpod should have shown a notification linking to https://gitpod.io/access-control/ by itself

[2020-09-25 14:15] JoeLouisDsantos opened #1910 "deleted work"
Hello,

So I was doing work on my Resume repository in Gitpod and was saving everything and made about 5 commits. I then decided to update and restart my laptop (mainly because it said it needed one, also because an image wasn't loading properly from Gitpod to the open port, all the code was correct so I thought maybe restarting my laptop could help) so I closed my browsers and other open applicat

[2020-09-25 14:18] #1910 closed

[2020-09-25 15:25] jankeromnes commented on #1910
Hi @JoeLouisDsantos!

I assume that you've found your work-in-progress again by visiting https://gitpod.io/workspaces/ and restarting your old workspace.

Going forward, we recommend to always commit and push your changes to your repository at the end of each coding session -- that way you're certain never to forget any valuable changes in an old workspace (especially since old/unused workspaces g

[2020-09-25 17:35] Yael95 opened #1911 "Deploying to a hosting server"
Hi,
I wanted to ask if it is possible to deploy a web app from gitpod to any hosting server that I have. I have my portofilio website and I want to deploy it and I do not know how I want to go around that using gitpod.

[2020-09-25 18:29] C-alcium commented on #1703
If I am able to carve out some time I'll look at it, but no promises at this time of year

[2020-09-25 18:32] philjak commented on #1906
Ok, I have an update.

Two different docs[1](https://www.gitpod.io/docs/self-hosted/latest/install/oauth/)[2](https://www.gitpod.io/docs/gitlab-integration/) say different scopes. If I add "read_repository" as well, I get to my Gitlab installation asking for authorization. Yay!  But after clicking on "Authorize", I get back to my Gitpod installation saying:

"Sorry, something went wrong 😓
Login wi

[2020-09-26 05:57] skinny85 commented on #1889
Thanks for the answer @jankeromnes . I was actually curious about the number of Pull Request that were opened to the [aws/aws-cdk](https://github.com/aws/aws-cdk) project from Gitpod workspaces, to maybe see how effective it is for enabling contributions to the project.

I would love to see that number, but since you mentioned it doesn't include deleted workspaces, I assume it's going to be much l

[2020-09-26 12:18] arleif-dfactory commented on #1900
Interestingly, I found this in the terraform.tfstate file. Note the expiry time. Is something failing to acquire a new token once that one expires?

[code]

[2020-09-26 14:26] arleif-dfactory commented on #1900
Update:
I worked around this by generating a new token from ECR, updating the gitpod-registry Secret and restarting the image-builder pod.

This confirms that the cause is that whatever is supposed to refresh the token, is not doing it. Any help is appreciated. Till then I will keep refreshing the token myself.

[2020-09-26 15:45] #1911 closed

[2020-09-26 15:48] Yael95 opened #1912 "Prettier not able to run on commad npm run format"
I installed prettier from npm then from the VS extensions view, but when I modified my package.json to add prettier to it through scripts property : {
  "name": "AdoptmeApp",
  "version": "1.0.0",
  "description": "",
  "main": "index.js",
  "scripts": {
      "format" : "prettier \"src/**/*.{js,html}\" --write",
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "repository": {

[2020-09-26 16:00] Yael95 commented on #1912
I actually solved the issue through manual install of the extension on vs for the whole user, and then writing a config file for prettier called : .prettierrc

[2020-09-26 16:00] #1912 closed

[2020-09-27 09:02] ceefour opened #1913 "Cannot open a GitHub repository with React Native - no error message"
### Describe the bug

Cannot open a GitHub repository with React Native - no error message

### Steps to reproduce

Open this repository: https://github.com/soluvas/Rocket.Chat.ReactNative/commit/c418e66fe4242c8d022eeff93c9bae960117ae3f

Gitpod is stuck:

![image](https://user-images.githubusercontent.com/24123/94360841-8f2e9f80-00da-11eb-8ba8-371354ea770e.png)

### Expected behavior

Opens the ID

[2020-09-27 22:50] melks commented on #1900
I'm also experiencing this with AWS self-hosted, but struggled to find the correct location/format to update the Secret into.

@arleif-dfactory , here's what I did, but it didn't seem to work:

1. Get my new ECR token:
`aws ecr get-login-password --region <my-region>`

2. Print yaml for old secret, store it, and replace the token with the one from (1):
`kubectl get secret gitpod-registry -o yaml`

[2020-09-28 10:15] arleif-dfactory commented on #1900
@melks What you used is the username and password encoded, not the correct token. There has to be a more elegant way, but this is what I did:
[code]

[2020-09-28 11:04] svenefftinge commented on #1913
I cannot reproduce any issues. The workspace loads fine. Looks like connection issues, but I couldn't find anything specific in our system.

[2020-09-28 11:04] #1913 closed

[2020-09-28 11:08] #1855 closed

[2020-09-28 11:12] wulfthimm commented on #1906
Hi,
it seems that the auth-provider credentials are not set properly. Please check your Gitlab authentification. Gitpod needs the permissions for `api` and `read_repository`. The callback url should be `https://<GITPOD_URL>/auth/<GITLAB_URL>/callback`.

[2020-09-28 11:32] philjak commented on #1906
Dear @wulfthimm

Thanks for your reply. That's what I set when was entering the details on the `/first-steps` page.

![image](https://user-images.githubusercontent.com/5772650/94427258-10e00500-018f-11eb-8f20-a6ddf6cf778a.png)

Scope as well as callback url are set that way as you mentioned.

[2020-09-28 12:51] ceefour commented on #1913
May I suggest gitpod to show *much* more detailed messages when opening a workspace?

When it works, it works.

But problem is when it doesn't, we aren't able to give any useful info anyway then when "the issue resolves itself" it will be closed because cannot reproduce.

In my time of using gitpod, there have been intermittent issues but I can never submit a proper bug report due to lack of debug

[2020-09-28 15:02] nisarhassan12 commented on #1881
I have opened an issue for it on the documentation website repo https://github.com/gitpod-io/website/issues/771. Will make a Pr soon.

[2020-09-28 15:48] oshelb commented on #1866
What is being done in the configFn?  It appears most return values are place holders, is that correct or do those need to be filled in?

[2020-09-28 15:50] philjak commented on #1906
Quick update: Same issue for github.com. But both, Gitlab.com and Github.com show 1 connected client

![image](https://user-images.githubusercontent.com/5772650/94455251-2404cc00-01b3-11eb-88c2-23f9489120e4.png)

[2020-09-28 15:58] maksimr commented on #1881
@nisarhassan12 but currently parcel doesn't have proper solution due their implementation, only webpack

[2020-09-28 16:01] ram-itzme opened #1915 "Project admins should be able to restrict the download of code from gitpod"
Can we make the "Download" functionality configurable in the gitpod? If the project admin is not comfortable with the developers(typically happens with startups that use freelancers/new developers where the trust & relationship is built from scratch), the admin should be able to restrict the download of the code from the gitpod. The development should completely happen from the pod.

[2020-09-28 16:10] nisarhassan12 commented on #1881
@maksimr Thanks. You're right. https://github.com/parcel-bundler/parcel/pull/3324

We will hopefully try to make a PR and have a proper solution in Parcel soon in the future.

For now We are planning to document something like [this](https://github.com/nisarhassan12/svelte/blob/7145c752efe1531d9523ff48bfad21e373d418aa/.gitpod.yml#L7) which is a hack we used to make Live reload work for [Svelte](ht

[2020-09-28 18:47] abdullahumer opened #1916 "bug"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-29 04:05] akosyakov commented on #1916
please reopen with the filled in template

[2020-09-29 04:05] #1916 closed

[2020-09-29 11:29] baharestani commented on #1274
It unusably slow

[2020-09-29 11:58] svenefftinge commented on #1274
Can you share more information? What exactly is slow and where are you located?

[2020-09-29 12:48] mrpher commented on #28
+1 vote for this, this would be a game-changer. 🤩

[2020-09-29 13:10] baharestani commented on #1274
Gitpod takes longer than a minute to load a git repository. I didn't wait longer than that so I don't know how much longer it would take but at least 1 minute.
I am located in Sydney, Australia.

[2020-09-29 14:33] RDIL commented on #1274
Yeah it can take like 3-4 minutes usually

[2020-09-29 16:03] shalinshah54-lab opened #1919 "unable to open git lab"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-09-29 16:07] shalinshah54-lab commented on #1919
Every time I open access control and allow repository access under GitLab and try to connect the error message of "Sorry something went wrong" Authorization failed Please try again.

I have been trying this same thing from last few days but getting the same message

[2020-09-30 15:45] AlexTugarev commented on #1919
@shalinshah54-lab, thanks for reporting! I'll have a look...

[2020-09-30 15:52] AlexTugarev commented on #1919
@shalinshah54-lab what's your account name on GitLab.com?

[2020-09-30 15:53] shalinshah54-lab commented on #1919
shalinshah54-lab

[2020-09-30 15:56] AlexTugarev commented on #1919
@shalinshah54-lab I think I've found the issue.

`Please confirm your GitLab account and try again.` is reported by GitLab.com. So, please go into your settings on GitLab.com and verify in order to do any OAuth based logins with GitLab.

Actually, we should have a message to display in such cases. I'll check if that is still the case. Not sure if that may went broken due to API changes 🤷‍♂️

[2020-09-30 16:04] shalinshah54-lab commented on #1919
And also i am unable to access repository when i enter the command git push. It says manage access, and it directs me to gitLab and when connect by giving access it says to update and then i cant update. Its just a normal button nothing is happpening if i click on it.

[2020-09-30 16:08] AlexTugarev commented on #1919
@shalinshah54-lab, so you've connected with gitlab.com by now?

What's checked for GitLab on  https://gitpod.io/access-control/ for you? `respository_access` is checked.

Is it one of your repositories? Is it public?

[2020-09-30 16:19] shalinshah54-lab commented on #1919
I have asigned it to public. I can see everything is connected here.  But when i push my file after commit command. It says manage your git access.

[2020-09-30 16:28] AlexTugarev commented on #1919
I still cannot find you :-(
gitlab.com/shalinshah54-lab is a 404

[2020-09-30 18:00] ceefour commented on #523
Where is #723 ?

[2020-09-30 19:55] dan-kez opened #1923 "Autogenerated project name exists - s3 bucket error. Results in needing to rebuild all assets"
### Describe the bug

On attempt to stand up self hosted git pod in aws the following error occurs during the terraform apply.

[code]

I've confirmed that `gp5577006791-storage` already exists

### Steps to reproduce
We run in `us-east-1`. I have also run without passing through `AWS_REGION_DEFAULT` and `AWS_REGION`.

The additional environment variables are due to MFA
[code]

### Expected behavi

[2020-09-30 21:11] thpglobal opened #1924 "Cursor in wrong location in Chrome 85"
### Describe the bug
The positioning of the cursor in the edit text is ahead of where it displays
### Steps to reproduce
Open any file. Go to the end of a line that extends further than a few characters.

### Expected behavior
The cursor should be positioned in alignment with the edited text

### Additional information
Cursors don't really show in a screen shot, but you'll notice the little box on

[2020-09-30 21:48] dan-kez commented on #1740
@corneliusludmann Just curious if you have any plans to merge the commit associated here

[2020-09-30 23:02] thpglobal commented on #1924
Ahah! I just discovered that it is specific to running Chrome in full-size (as distinct from to full-screen) mode. When I click to making the browser sizeable, all of a sudden it works. Maybe this info will help solve it.

[2020-10-01 03:30] limuzili opened #1925 "S3 policy permissions need to be set by hand for AWS installations"
cannot initialize workspace: cannot use configured storage: cannot create bucket: The specified bucket does not exist; last backup failed: workspace does not exist. Please contact support if you need the workspace data.
Please file an issue if you think this is a bug.

### Additional information
Error: Error creating S3 bucket: BucketAlreadyExists: The requested bucket name is not available. The b

[2020-10-01 05:56] limuzili opened #2231 "AWS can't start multiple workspaces"
OCI runtime create failed: container_linux.go:349: staring container process caused "exec: \"/theia/supervisor\":stat /theia/supervisor:no such file or directory":unknown Please file an issue if you think this is a bug

Gitpod successfully runs on Amazon's ec2 instance (self-host), but this error is reported when I try to start multiple workspaces, that is, only one workspace can run at the same t

[2020-10-01 06:44] meysholdt opened #1926 "Error: found in Chart.yaml, but missing in charts/ directory: docker-registry, minio, mysql"
I get error

when I run `terraform apply` on the gcp-terraform scripts directly from this repo.

Expectation: There should be no error and Terraform should run `helm dep update` as needed.

[2020-10-01 07:06] maxclac opened #2232 "Gitpod installation failed; MySQL Pod in CrashLoopBackOff"
Dear all,

my first installation of GitPod failed because of MySql.

[code]

The MySQL pod has a CrashLoopBackOff status:

[code]

This is a self-hosted GitPod where MySQL is installed on the same machine as the Master Node.

[code]
[code]

What should I do?

[2020-10-01 12:16] meysholdt opened #1928 "install should fail when db-migration fails"
When `db-migration` fails, `helm install` will not terminate or (if invoked by Terraform) timeout after 5min.

It would be awesome, if
* the user could see the stdout of the `db-migrations` during install
* install would fail immediately if `db-migrations` fail.

The challenge here is that currently `db-migrations` run as a Kubernetes Job that's triggered via Helm hook and helm has (AFAIK) no way

[2020-10-01 12:21] arghyadeep-k opened #1929 "Add deep integration support for Codeberg"
Deep Integration works great with Github, Gitlab & Butbucket but isn't supported on Codeberg yet.

Requesting to implement it for Codeberg as well so that users can create a workspace by appending https://gitpod.io/# to their Codeberg URL.

[2020-10-01 12:23] arghyadeep-k commented on #1929
I'm willing to help on this but not sure where to start.

[2020-10-01 12:31] corneliusludmann commented on #1925
Is it a duplicate of #1923?

[2020-10-01 12:33] corneliusludmann commented on #1923
Thanks for reporting this issue.

@wulfthimm Is this something for you?

[2020-10-01 12:55] AlexTugarev opened #1931 "[ide] Check location usage in Theia gitpod extension"
In several cases we rely on current location in the frontend of the gitpod extension:

<img width="947" alt="Screen Shot 2020-10-01 at 14 44 12" src="https://user-images.githubusercontent.com/914497/94811359-8c42f000-03f5-11eb-8d08-ca673dc0f430.png">

Current master received just recently a change to the supervisor host frontend, which changes the location url like this:

[code]

We should make su

[2020-10-01 14:00] limuzili commented on #1925
duplicate?

No, they are two different problems, both on AWS's ec2 instance.

Details:

I authorized all the S3 policy permissions to the user automatically created by gitpod, and then the gitpod bucket was created, the instance can run normally, and the problem is solved.

[2020-10-01 14:07] corneliusludmann commented on #1925
So, if I understand this correctly, you tried to install Gitpod to AWS and it needs an additional, undocumented step (“authorized all the S3 policy permissions to the user automatically created by Gitpod”) to make it running, right? Thanks a lot for reporting this!

[2020-10-01 14:13] corneliusludmann commented on #1925
@wulfthimm Could you have a look at this issue?

[2020-10-01 15:25] corneliusludmann opened #1932 "Revise permission scope acquisitions for GitLab"
Add a more fine-granular permission scope acquisition for GitLab.

See also: https://gitlab.com/gitlab-org/gitlab/-/issues/259254

/cc @AlexTugarev

[2020-10-01 15:44] nisarhassan12 commented on #523
@ceefour Looks like #723 got deleted here is the recovery of that https://github.com/gitpod-io/gitpod/issues/1273

[2020-10-02 11:31] svenefftinge opened #2108 "[GitLab] No button on issues and MRs"

[2020-10-02 15:30] gtsiolis opened #2107 "Include typescript as a dev dependency"
### Problem

While trying to [build](https://github.com/gitpod-io/browser-extension#build) this locally I run into the following error because I didn't have typescript installed.

[code]

### Proposal

Unless this hurts performance or packaging, maybe it's worth including `typescript`, as well as `@types/events`, as a dev dependency which would resolve this issue.

[code]

@geropl since you added

[2020-10-03 15:55] pleclech opened #1936 "Can't download workspace on self hosted gitpod with custom minio server"
### Describe the bug
When trying to download a workspace from a self hosted gitpod installation with a custom minio server, we got an error :
Sorry, something went wrong...

### Steps to reproduce
- install a self hosted gitpod
- configure a minio server which is not builtin
- create a workspace
- stop the workspace
- try to download the workspace

### Expected behavior
- we should be able to doan

[2020-10-03 23:56] I-Cat opened #1937 "IMPORTANT ! ACCESED all of your Dev Files"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

hello im not too sure but I think I can access all of gitpod files by doing an cd  command
it puts me to the root of git pot could be bad? If the Wong person pushes code? I Hope I Helped thanks.

[2020-10-04 00:00] I-Cat commented on #1937
![Gitpod](https://user-images.githubusercontent.com/68921721/95003953-0a002a80-05b3-11eb-87ed-dc209948b254.PNG)

[2020-10-04 05:55] kaushikikrityy commented on #1464
I am facing the same  issue .

[2020-10-04 06:22] svenefftinge commented on #1937
I'm pretty sure that is not a problem. It is intended that you can `cd` around. It is your container and unless you invite someone no one else can access it.

[2020-10-04 06:22] #1937 closed

[2020-10-04 06:51] svenefftinge opened #1938 "[proxy] Nilpointer"
In staging the proxy paniced

The preceding error message is:

[2020-10-04 06:59] svenefftinge commented on #1931
start a workspace on staging and try to share it
<img width="677" alt="Screenshot 2020-10-04 at 08 58 49" src="https://user-images.githubusercontent.com/372735/95009132-df988680-061f-11eb-8b7d-00d1410bc31a.png">

[2020-10-04 07:16] svenefftinge opened #1939 "[Theia] No more heartbeats"
On staging I started a workspace and then closed the tab.
Just noticed that the workspace is still running.

[2020-10-04 07:19] svenefftinge commented on #1939
Checking the database there are no entries in d_b_workspace_instance_user anymore (since last deploy on friday)

[2020-10-04 07:25] svenefftinge opened #1940 "[Theia] supervisor client error"
On load I see
[code]

[2020-10-04 07:34] svenefftinge commented on #1939
Checking the WS connection there are no `heartBeat` messages sent anymore.

Also I noticed that on staging the websocket connection to the gitpod server seems to be reconnecting a lot.
<img width="256" alt="Screenshot 2020-10-04 at 09 34 26" src="https://user-images.githubusercontent.com/372735/95009773-db229c80-0624-11eb-9e5f-e8bd879341a4.png">

[2020-10-04 08:17] moshfeu commented on #1681
Can I clarify the issue?

[2020-10-04 12:29] akosyakov commented on #1939
ws-proxy bogusly with empty message and 200 code then a supervisor is not ready yet to provide a workspace info, as follow-up breaking heart beat

[2020-10-04 13:32] akosyakov commented on #1940
It is a duplicate of https://github.com/gitpod-io/gitpod/issues/1939

[2020-10-04 13:32] #1940 closed

[2020-10-04 14:25] ceefour commented on #1273
Keep this alive

[2020-10-04 16:55] felipecrs commented on #1458
Perhaps this should be moved to Theia instead?

[2020-10-04 16:56] felipecrs commented on #1444
:-(

[2020-10-04 17:49] koppor commented on #638
checked with https://gitpod.io as of today and the issue persists.

[2020-10-04 18:20] cyrilchemparathy opened #2233 "integrated gitlab?"
would be fantastic if the self hosted gitpod deployment could optionally include a self-hosted gitlab instance in the deployment...

[2020-10-04 19:28] #410 closed

[2020-10-04 19:48] akosyakov commented on #1939
There were also issues in the supervisor frontend code. I've fixed them in https://github.com/gitpod-io/gitpod/pull/1941/files#diff-a9065f9684620c2a5474ad01384dad97R17-R18

I as well got rid of the call to the supervisor workspace info endpoint, since at the moment of the scheduling the heart beat I already have instance if from the server: https://github.com/gitpod-io/gitpod/pull/1941/files#diff-

[2020-10-04 22:21] ret394 commented on #1550
If the OSS code has the corresponding commit, you can try to reproduce it.

I'll take a look at it definitely, once someone from Gitpod extends the time limit for my account, 50 hours is a pretty tight leash. 🔍

---

thanks

[2020-10-05 04:02] wolfymaster opened #1942 "[image-builder] Can't connect to docker daemon (digitalocean)"
# Issue

The image-builder pod seems to not be able to resolve DNS for localhost when trying to connect to docker host in:
`image-builder run -v --config /config/image-builder.json`

![image](https://user-images.githubusercontent.com/6290908/95036188-22e10c80-0695-11eb-93ce-12733e332e94.png)

# Testing

Exec'ing in the container and running `nslookup localhost` results in `no servers could be reac

[2020-10-05 05:48] csweichel commented on #1939
I've raised a PR for fixing the ws-proxy behaviour: https://github.com/gitpod-io/gitpod/pull/1943

[2020-10-05 06:24] spoenemann commented on #884
Trying to verify whether this is still valid, I get

with the snapshot link above.

[2020-10-05 06:25] csweichel opened #1945 "[supervisor] Workspace startup animation is broken"
### Describe the bug
It's no longer the cube all the way, but also includes the stock Theia animation:
![image](https://user-images.githubusercontent.com/3210701/95046317-41222900-06e4-11eb-9883-30a2958826c2.png)

### Steps to reproduce
Start a workspace from master

### Expected behavior
We should see the Gitpod cube all the way

[2020-10-05 07:30] wolfymaster commented on #1942
I think I figured this out, after a couple more hours of digging, I found that DigitalOcean ships their Managed Kubernetes with [Cilium](https://cilium.io/). By applying the following, the image-builder pod was able to connect to kube-dns and spin up as expected.

[code]
source: https://github.com/cilium/cilium/blob/master/examples/policies/kubernetes/namespace/kubedns-policy.yaml

I have no famil

[2020-10-05 07:33] #1938 closed

[2020-10-05 07:36] wolfymaster commented on #1863
This is coming up on my todo. I can follow up when I have storage solidified.

[2020-10-05 07:50] akosyakov commented on #1939
should be resolved by https://github.com/gitpod-io/gitpod/pull/1941 and https://github.com/gitpod-io/gitpod/pull/1943

[2020-10-05 07:50] #1939 closed

[2020-10-05 08:37] akosyakov opened #1948 "add ide feature flag"
Only if it is enabled a user can pick an alternative IDE, otherwise Theia shoulde be used always.

[2020-10-05 08:59] csweichel commented on #1948
I think this should be a _permission_ in the gitpod-io code. In core we're not concerned much, but on gitpod.io we are.

[2020-10-05 11:07] AlexTugarev opened #1950 "Settings: error logged if no tokens present"
[code]
logged on frontend JS console.

[2020-10-05 11:15] ceefour commented on #1496
Keep alive

[2020-10-05 12:51] #163 closed

[2020-10-05 13:43] JordanStebbings opened #2247 "GCP Installation Script"
Hey there,

I'm trying to install GitPod on Kubernetes via the instructions found here:

https://www.gitpod.io/docs/self-hosted/0.5.0/install/install-on-gcp-script/

I have used a subdomain, which I have mapped the public IP to my DNS and after it successfully ran, I keep getting this error:

Error in fetching sampling strategy: Error: connect ECONNREFUSED 0.0.0.0:5778.

Couldn't find any issues r

[2020-10-05 14:09] #1931 closed

[2020-10-05 14:09] #1945 closed

[2020-10-05 15:11] #1919 closed

[2020-10-05 16:25] shehrozasmat opened #1951 "my repository is public by it is not loading up on workspace from bitbucket"
i made my repo public on bitbucket i tried creating workspace but it didnt work as shown in the attached image
![image](https://user-images.githubusercontent.com/5235000/95105834-276afb00-0751-11eb-8018-9fea1e57b731.png)

[2020-10-05 18:08] Gilleece commented on #470
A year later and I'm having this issue on brave. I've closed all gitpod tabs but still can't access it again. It seems like going through a different browser fixes the problem, I've been using gitpod on brave without issue for a while now and I definitely didn't go offline.

[2020-10-05 19:57] nisarhassan12 commented on #564
I'm trying to await port 4200 here via `gp await-port 4200` https://github.com/nisarhassan12/open-event-frontend/blob/54c3257932d5032e82270efe9b2a7a1f13cd4db7/.gitpod.yml#L2 but it seems to be failing with the following error:

![image](https://user-images.githubusercontent.com/46004116/95125604-a6226100-076e-11eb-9c58-7d4029e3f383.png)

[2020-10-06 00:12] sr229 commented on #1583
No longer seeing this bug so I think we can close this. @svenefftinge, can you confirm?

[2020-10-06 02:45] arleif-dfactory commented on #1900
Hi,

I'm hoping to stop using the workaround and adopt a proper solution. Which leads to the question: Is this a bug, bad setup, or just a feature (ECR token refresh) not yet supported?

Can someone confirm that the token refresh is something Gitpod doesn't handle yet? Any thoughts on this capability should be added? Perhaps I can contribute towards adding the capability.

[2020-10-06 05:06] subhendukundu commented on #1594
This is still an issue.

[2020-10-06 05:12] laike9m commented on #787
Hi Sven, may I ask what is the correct way to configure (and share) theme as of now?

[2020-10-06 07:46] AlexTugarev opened #1953 "[theia] add length limit for user storage resource"
as it's backed by the database it may otherwise lead to blockers.

[2020-10-06 07:56] AlexTugarev opened #1954 "[supervisor-frontend] annoying message box on workspace restart"
given a timed out workspace.
when selecting "restart workspace",
you will be asked multiple times whether you really want to leave the page. after 3rd click you'd assume this is broken.

/cc. @akosyakov

[2020-10-06 12:04] akosyakov commented on #1954
I wonder is not it the same in production? If you have the workspace timeout overlay and you forgot some changes then on page closing you will have such notifications from Theia?

Or you can reproduce it always even without dirty changes?

[2020-10-06 12:07] AlexTugarev commented on #1954
never seen it's popping up more than one time.

and yes, there were few unsaved changed.

[2020-10-06 12:07] akosyakov commented on #1954
yes, it is exactly the same:
<img width="800" alt="Screenshot 2020-10-06 at 14 05 11" src="https://user-images.githubusercontent.com/3082655/95199393-0c45cd00-07dd-11eb-8fb0-d232213bc6a4.png">

I will try to see whether it is possible to emulate onbefore unload event to persist local data and remove ide frame before the page reload. If not we can try to catch onbefore unload event in stop its prop

[2020-10-06 12:10] AlexTugarev commented on #1954
no it's not the same.

with the supervisor changes in place you'll see the dashboard pages `stopping...` > `stopped.` on timeout. and on `restart workspace` you'll see the `reload site?` box, which reappears several times if you accept.

[2020-10-06 15:44] samuelcaldas commented on #1637
the problem is not the extension support. I can install the extension. I just can't change the language. even with the Portuguese language extension installed.

[2020-10-06 16:07] alesanchezr commented on #545
If you ask me, I no longer have this issue. 😄

[2020-10-06 16:11] oshelb commented on #1887
+1

[2020-10-07 07:19] corneliusludmann commented on #1951
The context URL that you try to use does not work. Just open your repo in your browser (https://bitbucket.org/shehrozasmat/signer/src/master/) and add the prefix `https://gitpod.io/#` in front of your URL like this:

https://gitpod.io/#https://bitbucket.org/shehrozasmat/signer/src/master/

I am curious: How did you get the URL you tried to use? By hand or is there a malicious path to it somewhere?

[2020-10-07 07:38] #1948 closed

[2020-10-07 10:08] akosyakov commented on #1954
Eventually figure it out. That's the start workspace page is spamming with redirect events.

[2020-10-07 10:52] akosyakov opened #1958 "theia does not handle location reload"
If theia runs `window.locaiton.reload`, ide iframe gets reloaded, but never revealed.

[2020-10-07 11:15] #632 closed

[2020-10-07 11:18] #746 closed

[2020-10-07 11:19] #745 closed

[2020-10-07 11:19] #1954 closed

[2020-10-07 11:25] akosyakov opened #1959 "avoid confirmation dialog on restarting a workspace"
Steps to reproduce:
- start a workspace
- make dirty changes and don't save them
- rearrange layout
- stop the workspace and click the start workspace button when the workspace is stopped
- there should not be any dialogs since the workspace is gone and dirty changes cannot be saved already
- on reload though layout changes should be restored, plus any other ide local information like history of o

[2020-10-07 13:03] csweichel opened #1961 "[design doc] Workspace teardown script/command"
Moved to [Notion](https://www.notion.so/gitpod/Teardown-Command-0b1cdd2675994c4ca5e2baf416f92e8c)

[2020-10-07 13:54] svenefftinge commented on #1961
what about?

[2020-10-07 14:15] FreakyDug opened #1962 "Development environment with multiple hostnames"
Our site has components hosted under different subdomains from the same application server. For local development, we've set up DNS records for component1.dev.example.com, component2.dev.example.com, etc. pointed at localhost. Django then routes to the right component based on the url.

Is there a way to do something similar with Gitpod? I tried setting up a CNAME pointed at the URL my dev server

[2020-10-07 15:28] svenefftinge commented on #1961
I think we should at least write the logs into a file next to where we have the logs for prebuilds.

[2020-10-07 18:16] mikenikles commented on #554
I run into the same challenge working on a web application that uses cookies which have "SameSite" set to true.

@davemecha Have you managed to find a workaround to update `/etc/hosts`?

[2020-10-07 21:06] alycda commented on #1860
I have this issue trying to open one of my workspaces, but I was able to resolve by using the GitPod: Ready to Code button on my gitlab repo's README.

[2020-10-08 06:29] csweichel commented on #1961
So far supervisor's API always describes operations, not events or hooks. The thing that we're asking supervisor to do is to teardown the workspace. To avoid confusion we could call it `PrepareForStop` instead of `TeardownWorkspace` though. WDYT?

[2020-10-08 15:25] #1213 closed

[2020-10-08 15:25] #1320 closed

[2020-10-08 15:48] amentler commented on #1073
I have the same Problem with a lombok plugin . Im happy to have found this issue here but i dont know how to _really_ fix it, except adding the plugin to my workspace, though i dont need it there!
i used the plugin within another workspace and perhaps i installed it for me as a user and not just for the workspace (i deinstalled it later).
the repository i am using works for other people so its pro

[2020-10-08 16:02] meysholdt opened #1965 "Support Bitbucket Server"
It would be awesome if Gitpod self-hosted would not only support bitbucket.org, but also Bitbucket Server.

Here is what I know so far:

1. Bitbucket Server does not have the capability to act as an identity provider (e.g. via OAuth). Instead, Bitbucket is typically hooked up to an external identity provider, such as [Keycloak](https://www.keycloak.org/) or [Atlassian Crowd](https://www.atlassian.

[2020-10-08 16:04] Sandared commented on #1073
Hey :)
If you are not using Lombok, but you still get the error, then you can remove this part from your settings.json:
`-javaagent:\"/tmp/vscode-extensions/GabrielBB.vscode-lombok@0.9.9/extension//server/lombok.jar\""` and be fine.

[2020-10-08 16:26] amentler commented on #1073
where is that file?
in the root i did a
find -name "settings.json" -exec grep -i "lombok" '{}' \;
and a
find -name "settings.json" -exec cat {} \;

there is no settings.json that contains something similar to that line.

[2020-10-08 16:42] Sandared commented on #1073
I think you can only Open that File directly in a running Gitpod workspace via Ctrl+;

[2020-10-08 18:53] patrick1135 opened #1966 "why my workspace has ben bloked?"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-08 21:04] LinqLover opened #1967 "git does not detect file being closed by editor"
### Describe the bug
If I type `git commit` into a console and close the commit message tab, git does not detect this.

### Steps to reproduce
1. Open a repository in gitpod
2. Type into the console:
[code]
3. A tab for the commit messages opens, close it [optionally: edit it before and save the changes]

### Expected behavior
The commit is completed and git terminates.

### Actual behavior
The gi

[2020-10-08 21:43] amentler commented on #1073
thanks! i had been in the settings before but i hadnt found the right setting or the button to go into text mode.

the solution was to either edit the settings in the text mode using that tiny little button on the top right of that window showing `{}` (bad usability) and then deleting `-javaagent:\"/tmp/vscode-extensions/GabrielBB.vscode-lombok@0.9.9/extension//server/lombok.jar\""` (what sandared

[2020-10-09 01:11] neelimakapoor1 opened #1968 "using opera instead of chrome"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-09 03:34] akosyakov commented on #1968
Hi, do you experience any concrete issues? Opera is based on Chromium engine, as well as Chrome and Edge.

[2020-10-09 03:35] akosyakov commented on #1967
Are you sure that you don't have the same workspace opened in another window somewhere? It is known bug unfortunately that we wait for all windows.

[2020-10-09 07:34] akosyakov commented on #1966
We are blocking users that don't apply to our terms. Usually this means you were running a miner, tried doing a DoS from a workspace or something similar. If you feel the blocking is not justified, please rech out to info@gitpod.io.

[2020-10-09 07:34] #1966 closed

[2020-10-09 09:32] corneliusludmann commented on #1961
Thanks for writing this down, @csweichel! :+1:

I only have a few questions of understanding:

Is this also the case for the currently implemented FWB CLI call? If not, why do the requirements differ here?

The “pause IDE” call is not implemented yet, right?
https://github.com/gitpod-io/gitpod/blob/758ccbe50dd9286c351573cbb41e6d9f2781a6a8/components/ws-sync/pkg/syncd/service.go#L669-L675

The actu

[2020-10-09 14:22] LinqLover commented on #1967
Hm, I cannot reproduce the issue right now, maybe I had opened it twice ... If there is already a known bug, this issue is probably redundant. Thanks for the reply!

[2020-10-09 14:28] adorokhin70 opened #1969 "error creating Bitbucket.org workspace from self-hosted gitpod"
### Describe the bug
the "Error: Couldn't parse context 'https://bitbucket.org/gitpod/spring-petclinic/src/master/'." message appears ons elf-hosted gitpod (gcp) upon trying to create workspace bitbucket project. Please note that the same works for gitpod.io

### Steps to reproduce

1. have self-hosted gitpod
2. type https://<self-hosted-url>/#https://bitbucket.org/gitpod/spring-petclinic/src/mast

[2020-10-09 14:34] arleif-dfactory commented on #1923
I hit the same problem, reproduced it multiple times, and worked around it. The code appears to have some timestamp logic to generate the project name, but that doesn't kick in. All of us get the exact same project name every time we run that command. The project name is used for the bucket name, and obviously s3 doesn't like that.
To work around this:
1) Use `terraform destroy` to clean up if you

[2020-10-09 22:25] skinny85 opened #1971 "Pre-builds don't work for PRs"
### Describe the bug

In our [aws/aws-cdk project](https://github.com/aws/aws-cdk), we have pre-builds enabled. However, for some reason, they don't for PRs, even though created from the same repository (example: https://github.com/aws/aws-cdk/pull/10730 ).

The [documentation](https://www.gitpod.io/docs/prebuilds) states that these should be enabled by defaults.

The prebuilds still work fine for

[2020-10-10 03:16] #1201 closed

[2020-10-10 12:40] fbigun commented on #705
[code]

I encountered such a problem

[2020-10-10 13:11] Bradders81 opened #1973 "When I login a message is received that says "we are having trouble parsing your content"
### Describe the bug
trouble parsing your content when I log in

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-10 13:12] akosyakov commented on #1958
fixed by getting rid of iframe

[2020-10-10 13:12] #1958 closed

[2020-10-10 14:36] rpm222 opened #1974 "https://twitter.com/mmmmoohm?s=11"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-11 03:00] nisarhassan12 commented on #564
Having a similar issue for https://github.com/nisarhassan12/svgr

https://github.com/TypeFox/gitpodify/issues/476

The port did not seem to be working I was getting port 800 didn't respond which does not usually happen in a Gatsby project. As a workaround I have added the following:

[code]

which seems to be failing with the following error:

![image](https://user-images.githubusercontent.com/460

[2020-10-11 11:57] arleif-dfactory opened #1975 "Extension installation fails on AWS based installation that uses s3 as storage"
### Describe the bug
No extensions can be installed.

### Steps to reproduce
1) `docker run --rm -it -v "$PWD/awsinstall":"/workspace" eu.gcr.io/gitpod-io/self-hosted/installer:latest aws`
2) Open any workspace
3) Try to install any extension, in either project or user space.
4) The installation fails with error `The UI says "root ERROR Failed to share magicstack.MagicPython@1.1.1 extension from m

[2020-10-11 19:06] csweichel commented on #1961
Indeed it is. I thought it important to mention it here because unlike for FWB, the timing is important for the teardown. If the FWB call doesn't delay the container removal, that might result in some data loss worst case. If the teardown call doesn't delay the container removal, the teardown command might not even be executed. But you're right, the timing matters for both cases.

That's correct.

[2020-10-11 19:57] Bapt5 opened #1976 "How can we save our work in our repository in GitHub ?"
Hello
I haven't how can we save our work in our repository in GitHub ? Can someone help me ?

[2020-10-12 03:05] nisarhassan12 commented on #1023
@guillett You can try `https://gitpod.io/from-referrer/`
[code]

[2020-10-12 06:29] guillett commented on #1023
I gave it a try and it is working. Thanks!

[2020-10-12 07:02] meysholdt opened #1977 "Workspace-Pool must be able to scale to zero"
When installing Gitpod self-hosted on GCP, workspaces run in a dedicated GKE node pool, the "workspace pool". To save costs, this pool should scale down to zero nodes when no workspace is running.

[2020-10-12 07:05] meysholdt opened #1978 "Option to disable sharing outside team/org"
As a company that uses gitpod.io, I may want to have the option to enforce that my employees do not share workspaces (running or snapshots) with people outside the company.

[2020-10-12 07:55] wulfthimm commented on #1976
Hi,
if you want to contribute, you can fork this repository, commit your changes to your fork and make a pull-request.
https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2020-10-12 07:59] #1974 closed

[2020-10-12 08:06] Bapt5 commented on #1976
@wulfthimm I don't want to contribute I just want to save MY work on MY account.

[2020-10-12 08:21] jankeromnes commented on #1971
Hi @skinny85!

By default, prebuilds are disabled for Pull Requests from forks:

https://github.com/gitpod-io/gitpod/blob/1548367b5cc61c8e7baf4c6e1508972afe349038/components/server/ee/src/prebuilds/github-app-rules.ts#L21

https://www.gitpod.io/docs/prebuilds/#configure-the-github-app

You can enable them by adding this to your `.gitpod.yml`:

[code]

[2020-10-12 09:08] vicentemovil opened #1979 "Cannot pull image: Back-off pulling image after creating new workspace"
### Describe the bug
Everytime I try to create a Workspace I get the following error:
cannot pull image: Back-off pulling image "reg.gitpod.io:8081/remote/cb6df334-f5d2-4290-b14d-5d31d943569c"; last backup failed: workspace does not exist. Please contact support if you need the workspace data.

[2020-10-12 09:12] vicentemovil commented on #1979
Now everytime i try to create a workspace I get the following error:

**We are having trouble parsing your context
Error: Cannot read property 'sha' of undefined**

[2020-10-12 09:12] Domchap90 opened #1980 "Cannot access my workspace"
### Describe the bug

Upon trying to gain access to my workspace, in stage 2/3 i get the error message in red:
cannot pull image: Back-off pulling image "reg.gitpod.io:8081/remote/e8fed701-9738-4cc7-837b-cd85bb2ccbfd"

### Steps to reproduce

Simply opening my work space.

### Expected behavior

The work space to open.
### Additional information

### Example repository

[2020-10-12 09:16] corneliusludmann commented on #1979
Thanks for reporting. We are currently investigating this issue.

[2020-10-12 09:21] corneliusludmann commented on #1980
Thanks for reporting. Duplicate of #1979?

[2020-10-12 09:25] corneliusludmann commented on #1979
Should be fixed now. Could you please test it again?

It was an SSL cert issue for some of our users. Sorry for the inconvenience.

[2020-10-12 09:25] chris3522 opened #1981 "Unable to run workspaces"
### Describe the bug

All my workspaces are not launched or are suddenly stopped : here two errors with two workspaces

`Last run 5 minutes ago: last backup failed: cannot delete workspace from store. Please contact support if you need the workspace data.`

And,

`Last run 4 minutes ago: cannot pull image: Back-off pulling image "reg.gitpod.io:8081/remote/3af22935-a5bf-4b9f-8795-c918769f44f6"`

##

[2020-10-12 09:26] corneliusludmann commented on #1981
Thanks for reporting. Duplicate of #1979? Should be fixed now.

[2020-10-12 09:28] jankeromnes commented on #1979
I can confirm that the problem was fixed.

Will update https://status.gitpod.io

[2020-10-12 09:28] #1979 closed

[2020-10-12 09:34] Domchap90 commented on #1979
yes fixed now

[2020-10-12 09:49] akosyakov opened #1982 "leverage service workers"
There are primary 2 use cases:
- IDE frontend does requests before IDE backend is ready, in this case we want to delay them
  - service workers cannot intercept web socket connection, but we already handle them in the supervisor frontend
- have only one connection to the gitpod server from the browser.

Service workers are only available in the secure context, so there should be a fallback for htt

[2020-10-12 09:50] chris3522 commented on #1981
Yes i's fixed, many thanks.

[2020-10-12 09:50] #1981 closed

[2020-10-12 09:53] svenefftinge commented on #564
Seems to be a timing issue that has been resolved in staging already (due to changes in architecture).
Can you try and confirm?

[2020-10-12 10:09] nisarhassan12 commented on #564
Thanks. I have tested twice the below error is gone
![image](https://user-images.githubusercontent.com/46004116/95733670-e5cfd800-0c9b-11eb-915b-fe1081361069.png)

but now when I open the workspace and once the
[code]
has been executed I get the following the preview seems to be taking forever to load and the prompt is asking me to Save some file:

![image](https://user-images.githubusercontent.co

[2020-10-12 10:52] akosyakov opened #1983 "capture supervisor frontend and IDE logs"
Right now Theia is capturing its own logs. It am not sure whether it works for supervisor frontend and Code logs. The latter does not log much on backend mostly errors, but pipes everything to the frontend.

cc @csweichel @svenefftinge

[2020-10-12 10:57] akosyakov opened #1984 "http caching for the blobserve across workspaces"
Blobserve serves immutable static files but they are cached only in the context of single workspace, since each workspace has a unique URL.

An idea is to redirect requests to all resources which can be served by the blobserve to versioned URLs with long-lived caching: https://web.dev/http-cache/#versioned-urls It will aggressively force clients to use static files from the disk cache without doin

[2020-10-12 11:00] #1959 closed

[2020-10-12 13:06] wulfthimm commented on #965
Unfortunately, we cannot support the forwarding of the SMTP standard port.

[2020-10-12 14:28] #1980 closed

[2020-10-12 14:30] skinny85 commented on #1971
Hi @jankeromnes ,

the PR I gave as an example (https://github.com/aws/aws-cdk/pull/10730) does not come from a fork - it was created from a branch of the repository itself.

Thanks,
Adam

[2020-10-12 17:00] HarshJainofficial opened #1985 "Issue"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-13 09:57] Sandared commented on #873
Any update on this issue yet? Unfortunately I neither couldn't get vetur to work with my project (see https://community.gitpod.io/t/vetur-extension-not-working/1960/2)

[2020-10-13 11:13] akosyakov commented on #1982
We could also investigate even more aggressive caching than https://github.com/gitpod-io/gitpod/issues/1984. With the approach for #1984 a call to a server still required for redirect. This limitation possible could be worked around in the service worker.

[2020-10-13 13:35] #1985 closed

[2020-10-13 13:36] svenefftinge commented on #1976
You need to push your changes back using `git`. This can be done either via command line or by using the Git UI in the Gitpod IDE. See https://www.gitpod.io/docs/git/

[2020-10-13 13:36] #1976 closed

[2020-10-13 13:38] svenefftinge commented on #1973
Please share more information, such as the URL you were useing.

[2020-10-13 13:44] svenefftinge commented on #1969
Did you add the Bitbucket auth provider configuration?
You need to [create an auth app on bitbucket.org](https://support.atlassian.com/bitbucket-cloud/docs/integrate-another-application-through-oauth/) and then configure your gitpod self-hosted version accordingly.

[code]

[2020-10-13 14:00] svenefftinge commented on #873
Fixed in staging

[2020-10-13 14:19] Sandared commented on #873
Awesome :) any time estimate when it will be available in production?

Sven Efftinge <notifications@github.com> schrieb am Di., 13. Okt. 2020,
16:01:

[2020-10-13 14:20] JohannesLandgraf opened #1989 "After cancelling a pers. subscription users should access remaining credits before subscription end date"
**Based on user feedback**

After consolidating accounts and moving a user with a Personal Account to another account held by the same company, Gitpod told the user he will able to use his remaining credits and then he'll be moved to an open source account.

After logging in a day later, he was told:

Next to the UI bug in the dark mode of the dashboard (see below), it still shows he has almost 10

[2020-10-13 14:26] svenefftinge commented on #1971
Thank you for bearing with us on this and providing all this feedback. I looked into the system and found that a lot of the prebuilds from your repo timeout after 1h. Do you see any possibilities to make prebuilds run in less than 1h even on very packed nodes?
FYI: Revising the prebuild feature in order to bring more visibility to these kind of issues is top on our list and will be tackled next mo

[2020-10-13 14:54] riseno opened #1990 "GCP self-host installation error"
I tried to install self-host gitpod on GCP, but error shows as
[code]

is that something that i wrong or its the issue in gitpod terraform config?

[2020-10-13 23:10] tekumara opened #1991 "Python language server not started"
When I start my python project the Python Language server doesn't start. How do I make it start?

[2020-10-13 23:11] tekumara commented on #1991
Create a .gitpod.yml using the wizard:
[code]

Restart, and the language server will be loaded

[2020-10-13 23:11] #1991 closed

[2020-10-13 23:47] tekumara opened #1992 "pyright extension fails to start"
### Describe the bug

The Pyright server crashed 5 times in the last 3 minutes. The server will not be restarted.

### Steps to reproduce
Add the pyright extension (v1.1.48) to a repo

### Expected behavior
pyright should work

### Additional information
[code]

### Example repository

https://github.com/seek-oss/aec

[2020-10-14 03:12] akosyakov opened #1993 "break down gitpod-protocol to gitpod-server-api and gitpod-shared"
gitpod-protocol is used in dashboard start page and the supervisor frontend which should load as fast as possible to avoid the empty screen on navigation to the workspace URL. These pages primarily using it to access the gitpod server API, but get a lot of dependencies with it like inversify.js and so on. It would be good to clean up and extract code reused between different components to `@gitpod

[2020-10-14 03:13] akosyakov commented on #1992
It is requiring Node.j 12. Theia on gitpod.io is running on Node.js 10 still. We fixed it already on staging env.

[2020-10-14 04:20] 1915071t opened #1994 "https://gittk.cs.kobe-u.ac.jp/kamada/advalgosamples.git"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-14 05:16] skinny85 commented on #1971
Thanks @svenefftinge . Unfortunately, the pre-build already does the minimum amount of work (no unit tests, no compatibility check, etc.), and I can't come up with a way to make it shorter.

It's true that our build times have increased lately, and so that might be the reason for the recent timeouts.

I'm looking forward to seeing what you come up with for visualizing these!

Thanks,
Adam

[2020-10-14 05:16] #1971 closed

[2020-10-14 08:08] jankeromnes commented on #1876
On a side-note, I believe that you could enable software-rendering without having a physical GPU on the machine.

I've successfully used that in the past to allow Mozilla's experimental Rust browser engine Servo to run in Gitpod, specifically by tweaking noVNC's start-up flags in my Dockerfile:

https://github.com/gitpod-io/definitely-gp/blob/30f6a09fa5f0a7eaaa9cd0b7174b534a738bf21b/servo/.gitpod.

[2020-10-14 09:49] jankeromnes opened #1995 "[GitLab] Gitpod cannot find Dockerfiles in sub-directories"
### Describe the bug

When specifying a Dockerfile in your `.gitpod.yml` on GitLab, but the Dockerfile is located in a sub-directory (i.e. not in repo root), then Gitpod fails with:

<img width="600" alt="Screenshot 2020-10-14 at 11 47 56" src="https://user-images.githubusercontent.com/599268/95972770-23a33c80-0e13-11eb-9328-84b12e97511d.png">

### Steps to reproduce

1. Create private repo in Git

[2020-10-14 10:11] svenefftinge commented on #1989
The dark mode bit is `fixed-not-deployed` 🏷️

[2020-10-14 10:57] tekumara opened #1997 "ERROR: Can not perform a '--user' install. User site-packages are not visible in this virtualenv."
### Describe the bug
Not able to install python packages inside a virtualenv.

### Steps to reproduce

1. Open https://gitpod.io/#https://github.com/tekumara/typed-cookie
2. Source the venv: `. venv/bin/activate`
3. `pip install pytest`

### Expected behavior
The python package is installed into the virtualenv

### Additional information
[code]
### Example repository

https://github.com/tekumara/t

[2020-10-14 13:51] #1984 closed

[2020-10-14 15:20] corneliusludmann commented on #864
I'll close this now.

[2020-10-14 15:20] #864 closed

[2020-10-14 15:21] #1776 closed

[2020-10-14 17:21] markcalloway opened #1998 "Gitpod k3 builds"
Hi

looking at the various builds

https://console.cloud.google.com/gcr/images/gitpod-core-dev/EU/build/gitlab-k3s?gcrImageListsize=30

anything upto  master.90 or so would work fine with docker-compose or docker run using something like

docker run --privileged=true -ti  -e DOMAIN='xxx' -e  DNSSERVER='xx' -p 80:80  -v $(pwd)/values.yaml:/values/values.yaml
	-v $(pwd)gitpod-docker:/var/gitpod/dock

[2020-10-14 18:25] corneliusludmann commented on #1998
The current master has a bug in the `entryscript.sh`. It should work in docker-compose but not with docker run. I'm currently working on a fix and let you know when it's done.

I'm also working on documentation. However, the docker containers with k3s are still experimental.

[2020-10-14 18:48] markcalloway commented on #1998
apart from docker are there any recommendation/tips on how to get this running on an on premises server.

could install kubernetes but how would you go from a git clone of https://github.com/gitpod-io/gitpod   to  setting it up on kube?

could do helm charts but latest version seems to be a month or two behind

[2020-10-14 18:53] corneliusludmann commented on #1998
Our latest official release is 0.5.0 from 2020-08-25T13:04:24.130Z (see https://charts.gitpod.io/). We are working currently on a new release but have to fix some bugs first.

You'll find the latest helm charts here: https://github.com/gitpod-io/gitpod/tree/master/chart

[2020-10-14 20:51] jgallucci32 opened #1999 "image-builder fails with 'OCI runtime create failed' error"
### Describe the bug

The `image-builder` pod fails to start with the following error message when using Docker CE on RHEL7
[code]

### Steps to reproduce
1. Install Gitpod self-hosted on a Red Hat Enterprise Linux 7 host with Docker CE
2. Deploy self-hosted install from helm chart

### Expected behavior
The pod `image-builder` should be active.

### Additional information

Docker version 19.03.13

[2020-10-14 20:52] jgallucci32 commented on #1999
As a workaround, I was able to get the pod to start by removing `--userns-remap=default` from the entrypoint of the `image-builder` pod.

[2020-10-14 23:31] khader8 opened #2000 "28514424e2c7b533f5fb19dc7917c269ccc6464d549662e7e88e9db389a12f91"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-15 07:53] AlexTugarev commented on #1997
@tekumara please make sure to store the packages of your virtual envs under `/workspace`, in order to preserve them at workspace restart, or for prebuilds.

currently, only the `/workspace` location is backed up. this limitation will be removed in a future release.

[2020-10-15 10:20] AlexTugarev commented on #1969
The configuration ☝️ should work. Just one note: this should go into the `values.yaml`

[code]

[2020-10-15 11:26] csweichel opened #2001 "Implement Content Store"
Design Docs are something we're just getting started with.
Discussing them in the linear fashion afforded by GitHub is cumbersome.
To try something else, I've moved this design doc to Notion.

Everyone can read and comment.

[The document is here](https://www.notion.so/gitpod/Content-Store-87971bede96b4ac2bcd7279e1e2458c3).

[2020-10-15 11:32] #2000 closed

[2020-10-15 11:32] akosyakov commented on #2001
We should avoid storing the complete user home. It can have configurations only relevant for the current workspace instance, for instance, Code will store workspace extensions and layouts next to sharable user data. It reminds me that each operating system has conventions about where to store portable data and caches (and it is not user home), something similar was discussed in Theia and Code: htt

[2020-10-15 11:36] csweichel commented on #1999
Thanks for reporting this.
We haven't tested Gitpod Self-Hosted on any Red Hat platform, but it would seem that out of the box they're incompatible with Docker's user namespace remapping feature.

I'm happy to see you've already found the workaround. Beware: this gives all users of your installation potentially privileged access to your host (albeit wrapped in a couple of linux namespaces). For tr

[2020-10-15 11:37] csweichel commented on #1990
It would seem that the installer chooses an outdated version of GKE. Did you use the "one line" Docker-based installer or use the terraform scripts directly?

[2020-10-15 11:49] csweichel commented on #2001
We could make it so that the `home` blob always includes `$HOME/.config` and `$XDG_CONFIG_HOME`. If they're the same path, all the better.

[2020-10-15 11:52] akosyakov commented on #2001
I think I can force Gitpod Code server particularly respect `XDG_CONFIG_HOME`, so your proposal just to use `XDG_CONFIG_HOME` sounds good. 👍

[2020-10-15 12:49] hm2075 opened #2002 "Gitpod OAuth errors"
Hi

following on from this fix
https://github.com/gitpod-io/gitpod/pull/1903

I managed to get this session fix.7  version running on kubernetes

on the plus side I can now authenticate with gitlab.com which wasnt working prior to the fix

unfortunately for the self hosted version of gitlab I have I am seeing

OAuth Error. Please try again.

I took some logs for the server and can see

for gitlab.

[2020-10-15 13:22] svenefftinge commented on #2001
Should be the otherway around so we don't serve no existing entries during deletion?

[2020-10-15 13:26] svenefftinge commented on #2001
Would be good to keep track of lastRead and lastWrite separately.

[2020-10-15 13:28] csweichel commented on #2001
If we did it the other way 'round we'd run the risk of "forgetting" about content blobs (deleting them from the database) while their actual content is still around.
This way, if we're serve a "deleted" content blob, i.e. one that still exists in the database but whose content is gone, server can still answer correctly if it gets a `NOT_FOUND` from content service.

[2020-10-15 13:29] csweichel commented on #2001
`LastAccess` very much has a `LastRead` semantic, except that it's initialised with the time that the blob was created (a detail missing in the doc above).

Would we also record `lastWrite` for statistics sake?

[2020-10-15 13:30] svenefftinge commented on #2001
Yes, but (see my edited comment above) the content blobs should be immutable so only the DB entry needs to have update information.

[2020-10-15 13:34] svenefftinge commented on #2001
We could have a two phase deletion, where we mark the entry deleted and then only after a successful deletion really wipe the entry. We do it like that for other data that is GCed.

[2020-10-15 15:07] corneliusludmann commented on #1906
FYI: That happens when you add the provider via the web wizard only. When you add

[code]

to your `values.yaml` login works as expected.

[2020-10-15 15:47] corneliusludmann commented on #1906
The problem is that `isInSetupMode` is `false` here but should be `true`:
https://github.com/gitpod-io/gitpod/blob/e8dd11c180406ae5f5258baaf0c9812d4cf65d37/components/server/src/auth/authenticator.ts#L120

It's `false` because the new user is in the DB already and this line
https://github.com/gitpod-io/gitpod/blob/e8dd11c180406ae5f5258baaf0c9812d4cf65d37/components/server/src/auth/authenticator.ts

[2020-10-15 18:18] jgallucci32 commented on #1999
@csweichel Thanks for confirming. I am going to attempt to do the following from the RHEL guide which says it is supported since RHEL 7.4 according to [this document](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux_atomic_host/7/html/getting_started_with_containers/using_the_docker_command_and_service#user_namespaces_options).

Add option to kernel
[code]
Modify sysctl.conf

[2020-10-15 18:37] jgallucci32 commented on #1999
Well that was easy, running the above commands seems to have resolved the issue. I was able to restart the image-builder pod with the `--userns-remap=default` flag back in and it worked first try. I will keep monitoring for other issues but it appears to be working just the same as it was before.

Suggest this gets added to the documentation as a pre-requisition for using RHEL/CentOS.

[2020-10-15 19:12] philjak commented on #1906
@corneliusludmann Awesome. I can confirm that this is working. I tried this before, but I used the `oauth.yaml` file based on [that repository](https://github.com/gitpod-io/self-hosted/blob/master/values/oauth.yaml) (with first line `gitpod:`). Without using `gitpod:` it's working now!

Thanks a lot!

[2020-10-15 20:04] hm2075 commented on #2002
I have strong feeling this may be because  my self-hosted version of gitlab is using certificates that are generated in house,

can't test non-ssl as there is no option to switch to http  in values.yaml auth provider in this version

[2020-10-15 21:59] jgallucci32 opened #2004 "Request createWorkspace failed with message: 14 UNAVAILABLE"
### Describe the bug

When creating a new workspace the following error is returned from the Web UI
[code]

### Steps to reproduce
1. Deploy Gitpod self-hosted (clean install)
2. Connect to Gitlab repository

### Expected behavior

Workspace launches

### Additional information

Red Hat 7.8 (Docker CE 19.03.13)
Self-hosted installation (0.40) integrated with GitLab (on-premise)

URL: `https://gitp

[2020-10-15 22:25] woreware99 opened #2005 "Fix me"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-16 01:54] itsDelronTSM opened #2006 "launch a new workspace"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-16 03:39] akosyakov commented on #2005
Please reopen with the template filled in.

[2020-10-16 03:39] #2005 closed

[2020-10-16 03:40] akosyakov commented on #2006
Hello, do you experience any issues with launching workspaces? Please reopen with the issues template filled in with concrete details. Sharing workspace id would be helpful.

[2020-10-16 03:40] #2006 closed

[2020-10-16 03:45] akosyakov commented on #1999
Self hosted docs are open sourced here: https://github.com/gitpod-io/website/tree/master/src/docs/self-hosted If someone would like to make a PR.

[2020-10-16 04:59] svenefftinge opened #2007 "[GitLab] Use "Commit Email" for commits"
GitLab has labels for emails and we should the "commit email" instead of the primary one for commits.

[2020-10-16 07:21] philjak commented on #2004
I can confirm I have the same issue with my docker-compose self-hosted Gitpod. After fixing issue #1906 this is the current error that pops up.

[2020-10-16 08:06] corneliusludmann commented on #2004
I also had this error with 0.4.0 occasionally. Usually, a re-deploy fixed the problem.

Since 0.5.0 this has never happened to me again. Have you tried to upgrade to version 0.5.0?

[2020-10-16 09:50] #1569 closed

[2020-10-16 10:37] philjak commented on #2004
So I'm using the current ``latest`` tag from ``eu.gcr.io/gitpod-core-dev/build/gitpod-k3s``

This uses ``eu.gcr.io/gitpod-io/self-hosted/theia-server:0.5.0``

[2020-10-16 12:59] #1887 closed

[2020-10-16 14:15] AlexTugarev commented on #2002
Hi @hm2075!

The error you've pasted indicates, this is an issue in the OAuth2 Ping Pong

Searching for that error message shows various possible reasons, e.g. proxy firewalls which restricts the communication between the Gitpod server pod and the GitLabSelfHosted.

Can you please describe your infrastructure?

[2020-10-16 14:20] AlexTugarev commented on #1906
@philjak and @corneliusludmann the setup mode is meant to replace the `oauth.yaml`.

Only Auth Providers created via the UI can be verified. And you should not see the Setup page, if any statically defined Auth Providers are configured in values.yaml, it that's different, this is a bug.

[2020-10-16 14:26] corneliusludmann commented on #1906
@AlexTugarev No auth providers are configured in `values.yaml`. The auth provider is configured via Web UI. Please read [here](https://github.com/gitpod-io/gitpod/issues/1906#issuecomment-709416309), that the TOS check prevents that the auth provider will be verified.

[2020-10-16 15:02] csweichel opened #2011 "MinIO installation does not support FWB"
### Describe the bug
During an FWB workspace start the node's containerd will attempt to pull layers directly from MinIO, because that's what the registry-facade told it to do. For GCP that works well because GCP is globally available. MinIO is only available within the cluster.

### Steps to reproduce
Re-start an FWB workspace with MinIO storage.

### Expected behavior
The workspace should start.

[2020-10-16 15:59] hm2075 commented on #2002
Thanks @AlexTugarev

Starting again

version : master.109
imagePrefix: eu.gcr.io/gitpod-core-dev/build/

On centos8,     installed kubernetes and got master 109 working,     local minio and mysql installation
all pods come up fine
gitpod is installed on premise behind corporate firewall
due to issues with split parts in domain name i registered  a seperate domain  xxxx.com  and pointed it to our I

[2020-10-16 16:22] vaasu20 opened #2012 "how to stop a running code"

[2020-10-16 16:33] jgallucci32 commented on #2004
I ran some wireshark captures on the pods and what I find strange is the server pod is making a tcp/8080 connection to the image builder and getting connection resets. This is surprising because the image-builder is not listening on tcp/8080 so why would the server pod be making this connection attempt in the first place?

@corneliusludmann I see only 0.5.0 available for gitpod chart and not gitpo

[2020-10-16 17:07] ArtemGr commented on #1131
Copy-pasting a snippet of mine:
[code]

[2020-10-16 17:31] jgallucci32 commented on #2004
Well the server is definitely configured to communicate to image-builder over tcp/8080. Here is the list of environment variables from within the server pod:
[code]
However, I can verify that `image-builder` is in fact NOT listening on tcp/8080 so perhaps this has not been deployed correctly (even though it is marked as active)

[2020-10-16 17:51] Coala753 opened #2013 "site"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-16 17:56] corneliusludmann commented on #2004
Thanks for your analysis, @jgallucci32.

The gitpod-selfhosted repo is deprecated. I just added a note. The Gitpod 0.5.0 helm charts work more or less the same. You'll find sample `values.yaml` files at https://github.com/gitpod-io/gitpod/tree/master/chart and https://github.com/gitpod-io/gitpod/tree/master/install/helm.

It would be great if you could check if you experience the same with Gitpod

[2020-10-16 18:01] philjak commented on #2004
@corneliusludmann I'm not sure if it's helpful, but I'm experiencing the same issue when using the [provided docker-compose.yaml](https://github.com/gitpod-io/gitpod/blob/master/install/docker/examples/gitpod/docker-compose.yaml). I'm happy to provide some logs if you tell me what you need.

Thanks,
philjak

[2020-10-16 18:24] akosyakov commented on #2013
please fill in the template with the additional information, thank you

[2020-10-16 18:24] #2013 closed

[2020-10-16 18:25] akosyakov commented on #2012
Could you elaborate please?

[2020-10-16 20:20] hm2075 commented on #2002
I wonder if its something to do with this

https://github.com/binario200/passport-social-auth

"The thing is that oauth2.js does not take in consideration the proxy environment variables when it performed the requests. Blocking the web app to get authenticated (receive the access token and the github user info)"

[2020-10-16 21:48] ffeldhaus commented on #1273
@geropl Several months have passed, do you have an update on the current status? Is there anything missing you need from the underlying infrastructure?

[2020-10-17 00:09] jgallucci32 commented on #2004
@corneliusludmann @philjak I was able to get past this issue with a workaround. It came down to the MTU setting of the Docker-in-Docker image being set to 1500 when Kubernetes (which uses Calico networking) has an overlay with MTU 1450 on the base container/pod.

In order to fix this I had to add the flag `--mtu=1450` to the entrypoint for the image-builder pod. Here is a snippet of the manifest f

[2020-10-17 00:14] jgallucci32 opened #2014 "cannot initialize workspace: unable to get local issuer certificate"
### Describe the bug

Workspace cannot initialize due to Custom CA certifiate used by Gitlab. It fails to launch with this error
[code]

### Steps to reproduce

1. Deploy Gitpod into Kubernetes
2. Integrate with Gitlab which uses an HTTPS with a Custom CA certificate
3. Launch Workspace

### Expected behavior

Workspace launches

### Additional information

Red Hat 7.8 (Docker CE 19.03)
Kubernetes

[2020-10-17 10:15] mittalyashu commented on #26
I tried passing the url with `--public` flag but it didn't work either

[code]

Even tried passing the port

[code]

That didn't work either.

[2020-10-17 10:20] mittalyashu opened #2015 "Run command only after init"
As stated in this [article](https://www.gitpod.io/blog/gitpodify/):

[code]

We need to this little hack to run a client process after installing the packages.

It would be nice to have a proper support like

[code]

[2020-10-17 10:20] lunny commented on #80
Since the Gitea's API v1 is simliar as Github API v3, I think it will not be too hard.

[2020-10-17 12:55] devlocalhost commented on #941
i have the same issue, when i try to load a project, im stuck at the loading screen, and its not the internet fault, i have a poor wifi (6-7mbps) but still, i dont think its the internet...

[2020-10-17 12:56] devlocalhost commented on #941
the workspace loads btw, i dont have any issue with the workspace

[2020-10-17 13:46] svenefftinge commented on #2015
We have `gp sync-done <name>`  resp. `gp sync-await <name>` for that, which allows for even more fine grained management of concurrent processes.
E.g.:
[code]

[2020-10-17 13:48] svenefftinge commented on #267
This has been implemented in the meantime see
https://github.com/gitpod-io/gitpod/issues/2015#issuecomment-710978460

[2020-10-17 13:48] #267 closed

[2020-10-17 13:48] #2015 closed

[2020-10-17 13:54] svenefftinge commented on #1997
Has this issue been resolved and can be closed?

[2020-10-17 14:12] svenefftinge opened #2016 "[Feature] UserDirs"
## Context
With gitpod users use fresh containers all the time. In order to leverage caches and user specific configuration used by many tools, we need a way to retain user-specific state between multiple workspace sessions.

One obvious use case is keeping user settings from vscode across sessions. While we could build a special solution as we did with our Theia IDE, that would make sure the tool

[2020-10-17 21:03] jgallucci32 commented on #2014
I was successfully able to workaround this issue by doing the following:

1. Create Kubernetes secret `gitpod-ca-root` with trusted root CA certificates:
[code]
2. Manually add the `volume:` and `volumeMounts:` parameters to the `ws-sync.yaml` deployment file to overwrite the trusted certificate authorities:
[code]
4. Redeploy `ws-sync` pod

[2020-10-18 02:26] mittalyashu commented on #2015
@svenefftinge I tried to find more about `gp sync` in the documentation, didn't find anything related to it.

[2020-10-18 13:18] hm2075 opened #2017 "Enabling https"
Hi

I am making good progress in getting this running on centos8 and vanilla kubernetes

1. how do I enable ssl on these later builds,  (not selfhosted)   but rather   master.101
without certificatesSecret and ws-proxy disabled I can navigate to non ssl gitpod without issue and can authenticate with gitlab.com

[2020-10-18 15:05] escapeoneone opened #2018 "iframe to localhost in gitpod"
###### I not very know English language

### Describe the bug
If the extension opens the server then when you open it in the Gitpod tab it will be Iframe on localhost:_{port}_
Using TabNine as an example
### Steps to reproduce

1. Open TabNine settings
![Screenshot from 2020-10-18 17-55-55](https://user-images.githubusercontent.com/54133395/96371626-339c8280-116b-11eb-9a08-19c59f008bf1.png)

2. Op

[2020-10-18 15:29] hm2075 commented on #2017
resolved

for anyone watching this

[2020-10-18 16:57] hm2075 opened #2019 "Gitpod external docker registry cert"
Hi

i think I am on my final few issues

version : master.101
imagePrefix: eu.gcr.io/gitpod-core-dev/build/

Front end shows
Error: Request createWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: Error response from daemon: Get https://docker-registry.xxx.com:5000/v2/: x509: certificate signed by unknown authority

however I am not using custom certs -   these are from io

[2020-10-18 19:34] jgallucci32 commented on #1999
PR created for documentation https://github.com/gitpod-io/website/pull/811

NOTE: I created a separate page for other settings such as configuring for Rancher Kubernetes. This way the page can expand in the future for other vendor-specific implementations.

[2020-10-19 03:14] akosyakov commented on #2018
Hello! Could you clarify which extensions? Extensions should use `vscode.webview.asWebviewUri` to create proper external URIs instead of hardcoding localhost: https://code.visualstudio.com/api/advanced-topics/remote-extensions#always-use-aswebviewuri

[2020-10-19 06:00] boomik305 commented on #2018
- PlatformIO

- TabNine

[2020-10-19 07:14] maksimr opened #2021 "Result of gp url in .gitpod.yml different from gp url inside terminal"
STR:

- Add.gitpod.yml
- Add `command: gp env SANDBOX_URL="$(gp url 8080 2>/dev/null)" && echo $SANDBOX_URL`
- Open terminal and run `gp url 8080` it would be different from `$SANDBOX_URL` value

### Expected behavior

Add possibility setup container environment variable with public url

### Example repository

https://github.com/maksimr/playground/blob/master/.gitpod.yml#L3

[2020-10-19 07:14] #2017 closed

[2020-10-19 08:25] hm2075 commented on #2019
closing this

for anyone following

when creating private docker registry,  you need to include both crt and immediate crt,   concat both together

[2020-10-19 08:25] #2019 closed

[2020-10-19 09:47] wulfthimm commented on #2014
We usually use letsencrypt to avoid problems with a custom CA as docker is also not working with self-signed certificates.

[2020-10-19 09:49] #1994 closed

[2020-10-19 09:49] wulfthimm commented on #1994
There is no response, so I have closed this issue.

[2020-10-19 14:08] jgallucci32 commented on #2014
@wulfthimm Let's Encrypt is not an option in our environment. In addition to internal web servers using custom-signed certs, we also require support for SSL web inspection at the internet boundary. The good news is I have a working Gitpod environment where Docker, image-builder, server, and ws-sync pods are all working with Custom CA certificates using a similar approach in my previous comment.

[2020-10-19 14:57] hm2075 opened #2023 "Workspace issues"
Hi

getting very close to getting this going

https://eu.gcr.io/gitpod-core-dev/build
master:109

getting pending pod

no suitable node found: Zero nodes available!",

![image](https://user-images.githubusercontent.com/53794682/96468255-c6005d00-1223-11eb-8a94-8c34fe300925.png)

                   node.kubernetes.io/unreachable:NoExecute op=Exists for 300s
Events:
  Type     Reason            Age

[2020-10-19 15:15] svenefftinge opened #2024 "[Bitbucket] Tokens expiring soon results in "unauthorized""
When a token is expired (for bitbucket tokens are expiring after 2h) we see 'user unauthorzed!' when starting a workspace.
Only after logging in and out the token seems to get refreshed.
CC @AlexTugarev Does that make sense, or did I miss something?

[2020-10-19 15:24] AlexTugarev commented on #2024
Without more info this is hard to tell, but my best guess is, this has nothing to do with the git hoster at all. Otherwise we would see something like "couldn't parse context"

It sounds like we're not handling unauthenticated errors for `/start` URLs, which we definitely should and already do for creation of new workspaces. In that cases we're redirecting to the login handler with the request to

[2020-10-19 16:56] hm2075 commented on #2023
Gitpod schedules two kinds of workloads: the Gitpod installation itself (which we refer to as meta) and the workspaces. Ideally both types of workloads run on seperate nodes to make makes scaling easier. Depending on your cluster size that may not be feasible though. Either way, you need two node labels in your cluster:

gitpod.io/workload_meta=true which marks the “meta” nodes and
gitpod.io/workl

[2020-10-19 16:56] #2023 closed

[2020-10-19 19:15] hm2075 opened #2025 "502 Bad Gateway"
@corneliusludmann

think i am going to need your expertise :)

I am making good progress in getting
master.100
https://eu.gcr.io/gitpod-core-dev/build

working on a clean centos build,   i've been making plenty of notes and will compile once I am done so that its available for the community

so far got working the following

installed mysql seperately
installed minio
installed external docker regi

[2020-10-19 19:18] philjak commented on #2004
Awesome @jgallucci32 ! I can confirm. Edited the image-builder deployment and it's working!

[2020-10-19 22:09] hm2075 commented on #2025
i think its coming down to ws-proxy

currently I am getting

{"message":"🚪 ws-proxy is up and running","serviceContext":{"service":"ws-proxy","version":""},"severity":"info","time":"2020-10-19T22:07:39Z"}
{"addr":":60060","message":"serving pprof service","serviceContext":{"service":"ws-proxy","version":""},"severity":"info","time":"2020-10-19T22:07:39Z"}
{"@type":"type.googleapis.com/google.devto

[2020-10-19 22:30] alesanchezr opened #2026 "Bug: Copy & Paste files does not work"
### Describe the bug
When copy & pasting files from one folder to another it does not work.

### Steps to reproduce
1. Right click on any file that is inside any folder.
2. Select (click) on the "copy" menu option.
3. Right click on another folder (but not the same as the file parent folder)
4. Select the "paste" menu option.

### Expected behavior
A new file should be created on the destination f

[2020-10-20 07:13] akosyakov commented on #2018
I could not find a usage of this API in source code of `TabNine` extensions. Please open a feature request for them to support running in the remote context according to this docs: https://code.visualstudio.com/api/advanced-topics/remote-extensions

[2020-10-20 07:42] hm2075 commented on #2025
place fullchain, cert, privkey etc in secrets/https-certificates

run

kubectl create secret generic proxy-config-certificates --from-file=secrets/https-certificates

then use secret and path

[2020-10-20 07:42] #2025 closed

[2020-10-20 07:53] svenefftinge commented on #2021
The command `gp env` doesn't set an environment variable in the current container or even shell, but only stores it in the Database, such that it gets injected on next start. But since you'll get a new workspace id for each new workspace you start on a project, it doesn't make sense to store the output of `gp url` in a gitpod env var.
So what you probably want to do is something like:
`export SAND

[2020-10-20 07:53] #2021 closed

[2020-10-20 07:54] svenefftinge commented on #2021
I hope this helps, please tell us if not. Also please open more tickets if you have other questions, or simply ask in https://community.gitpod.io

[2020-10-20 07:57] svenefftinge commented on #2026
The context menu commands don't work in browsers because they don't allow JS to access the user's clipboard.
Please use the system shortcuts instead. You should get a notification on the bottom right about that.
<img width="528" alt="Screenshot 2020-10-20 at 09 56 12" src="https://user-images.githubusercontent.com/372735/96557542-b122d880-12ba-11eb-8d08-0992dfb869db.png">

[2020-10-20 08:09] maksimr commented on #2021
@svenefftinge unfortunately `export` isn't what I want exactly. My goal is set env variable globally for the container. For example I want to open new terminal and expect that `SANDBOX_URL` would refer on `gp url 8080` for the current container.

But thanks for the explanation how `gp env` works. My bad I have missed this moment in documentation.

[2020-10-20 08:10] nicok1 opened #2027 "Kubernetes Operator for Gitpod"
Hello,
I would be very happy if Gitpod would provide an operator (https://operatorframework.io/). This could also be published directly in Operator Hub. (Free advertising?)
This operator should ideally be able to perform automatic upgrades in Kubernetes. This would greatly simplify the installation of Gitpod self hosted and make Gitpod management much easier.

[2020-10-20 11:17] hm2075 opened #2028 "Workspace not loading"
Hi

using later builds found at
https://eu.gcr.io/gitpod-core-dev/build

hopefully this is the last of the issues

Warning  FailedScheduling  21s   workspace-scheduler  no suitable node found: Zero nodes available!

I have labelled accordingly

  gitpod.io/workload_meta: "true"
    gitpod.io/workload_workspace: "true"

[2020-10-20 13:38] jgallucci32 commented on #2028
Do the following dynamic labels generated by Gitpod appear on the nodes?
[code]

[2020-10-20 13:46] jgallucci32 opened #2029 "cannot initialize workspace: cannot connect to ws-sync"
### Describe the bug

Gitpod cannot initial workspace with the following error
[code]
Further investigation of the logs of the deployed workspace show the Theia server immediately shutting down
[code]
What is interesting is this error does not occur 100% of the time. Applying changes to the helm chart causing certain pods to redeploy will allow it to work. It does not occur when using a single-nod

[2020-10-20 14:29] hm2075 commented on #2028
beta.kubernetes.io/arch: amd64
    beta.kubernetes.io/os: linux
    gitpod.io/diskPressure: "true"
    gitpod.io/theia.master.109: available
    gitpod.io/workload_meta: "true"
    gitpod.io/workload_workspace: "true"
    gitpod.io/ws-sync: available
    kubernetes.io/arch: amd64
    kubernetes.io/hostname: xxx
    kubernetes.io/os: linux
    node-role.kubernetes.io/master: ""

[2020-10-20 15:07] hm2075 commented on #2028
cleansed the system,  removed orphaned workspaces etc,

tracking ws-sync

{"error":"rpc error: code = Unavailable desc = connection error: desc = \"transport: Error while dialing dial tcp 10.100.202.176:22999: connect: connection refused\"","instanceId":"94d79c2d-da55-46fd-8a24-e8c8f37c1296","message":"backup canary unavailable - maybe because of workspace shutdown","serviceContext":{"service":"ws

[2020-10-20 15:11] hm2075 commented on #2028
i see the error

`{
  "location": "/mnt/workingarea/122a0f82-f811-4506-8da5-27d29aeab6d1/haxe-gitpod",
  "message": "Running git clone on workspace",
  "serviceContext": {
    "service": "ws-sync",
    "version": ""
  },
  "severity": "debug",
  "stage": "init",
  "time": "2020-10-20T15:09:48Z"
}{
  "@type": "type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent",
  "c

[2020-10-20 17:08] jgallucci32 commented on #2029
It turns out it is a problem with the host networking configuration of the `ws-sync` pod. I had to add the following to its manifest as a workaround to get around this problem:
[code]
I am curious if other deployments see this or if this is specific to RKE due to its default pod security polies not allowing this.

[2020-10-20 17:12] jgallucci32 commented on #2028
@hm2075 I saw the same error `cannot find container we just received a create event for` and dug a little deeper to find out the Theia supervisor is failing to launch and shuts down. Suggest looking at the error described in https://github.com/gitpod-io/gitpod/issues/2029 to see if it matches your case. In my case I was able to fix it by correcting the ws-sync pod networking as described in the is

[2020-10-20 17:52] alesanchezr commented on #2026
Oh you are right, I didn't see the notification but you are right its showing up.
I guess you can close this 😄

[2020-10-20 19:05] hm2075 commented on #2028
ws-sync has gone in the later build,  check out the latest master branch

only realised  after i made a proper school boy error rm -rf

now ive got

Last run a few seconds ago: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"/theia/supervisor\": stat /theia/supervisor: no such file or directory": unknow

i think i've seen this error logged before  here

[2020-10-20 19:27] jgallucci32 commented on #1975
I am receiving the same `Error: Upload failed` message when dragging and dropping a downloaded extension using K8s-native self-hosted installation (v0.5.0). Here is the full error from the workspace container
[code]

[2020-10-20 19:33] kylelemons commented on #1990
This reproduces for me with the online docker installer.

The current version for the [stable track](https://cloud.google.com/kubernetes-engine/docs/release-notes) is "1.16.13-gke.401".

To avoid having to keep the version up to date, you can use the terraform [google_container_engine_versions](https://www.terraform.io/docs/providers/google/d/container_engine_versions.html) data provider:

[code]

[2020-10-21 03:45] riseno commented on #1990
i ran this command to install on GCP
[code]

[2020-10-21 06:46] hm2075 commented on #2028
@AlexTugarev @corneliusludmann

comes down to this

`[
  ws-daemon-kzjw5
]{
  "@type": "type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent",
  "ID": "bb6d3643577da5abd06a1aa6c77d7ac2f77dd6bd7ed030bab5c6e35329376aec",
  "containerImage": "",
  "error": "not found\ngithub.com/containerd/containerd/errdefs.init\n\t/workspace/go/pkg/mod/github.com/containerd/containerd@

[2020-10-21 09:40] sr229 opened #2032 "Local Dev over Skaffold"
I believe it would be nice if we can get this working with local dev over with Skaffold to promote a easier development pipeline for those who want to help with development and want to test the changes in their development Kubernetes cluster.

[2020-10-21 14:07] strausmann commented on #1860
I just had the same problem. GitPod self-managed with a GitLab self-managed behind it.

I created a new repository in GitLab. Then loaded the empty repository with the gitpod. Then I created the .gitpod.yml, the README.md and a .env.example. Created a commit in the GitPod and then tried in vain to push it into the master branch. The only way I could create the push was via the terminal.
Now the se

[2020-10-21 14:22] ranglang commented on #1990
same error

[2020-10-21 14:27] ranglang commented on #1990
googleapi: Error 400: Master version "1.15.12-gke.9" is unsupported., badRequest

[code]

[2020-10-21 15:10] ranglang opened #2034 "Self hosted can'd be install via docker"
### Describe the bug

If you don't have your own (sub-)domain available, leave this field blank and we'll get a temporary one for you.
That domain will work for at least 30 days, but is not meant for productive installations.
You can, at any time move to your own domain by editing aws/main.auto.tfvars and re-running this installer.
domain ? gitpost.wintercoming.xyz
   running command: terraform [i

[2020-10-21 15:27] jankeromnes commented on #2028
Hi @hm2075! Sorry about this issue. It probably comes from the fact that `ws-daemon` is a brand new component that we haven't had the opportunity to extensively test yet.

In fact, using the latest available commit in https://github.com/gitpod-io/gitpod is not something we support at this time (i.e. you're free to try that, but you may run into all sorts of problems, and we won't be able to effect

[2020-10-21 15:30] svenefftinge opened #2036 "[supervisor] `export` in `before` doesn't have effect"
Try https://gitpod-staging.com/#https://github.com/ant-design/ant-design and see that the DEV_URL
env var is not properly set for the subsequent `npm start` command.

[2020-10-21 15:58] olearycrew opened #2037 "When integrated with GitLab, many places still say 'GitHub'"
### Describe the bug
There are a number of places that say "GitHub" (assumably hardcoded) even when integrated with a different SCM (e.g. GitLab).  For example:

<img width="489" alt="image" src="https://user-images.githubusercontent.com/6044920/96746013-c1a78180-1394-11eb-8945-681bce5e24f7.png">

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository
htt

[2020-10-21 17:04] jgallucci32 commented on #2037
Please provide more details. I am currently seeing the custom FQDN of our on-prem Gitlab server with a v0.5.0 deployment on vanilla Kubernetes.
![image](https://user-images.githubusercontent.com/9018897/96753364-a0d73000-1384-11eb-8f1e-1eb1f31ba31b.png)

[2020-10-21 18:26] jgallucci32 commented on #1965
Technically speaking the Application Links between the Atlassian products already support and use OAuth so in theory Gitpod would need to be configured in a similar manner. Not sure what the limitations are but you can configuring Incoming Authentication for OAuth. The required fields are
* Consumer Key
* Consumer Name
* Public Key (SSL cert)

Optionally you can specifcy the `Consumer Callback URL

[2020-10-21 18:53] hm2075 commented on #2028
hi @jankeromnes
no need to be sorry,   I am in no rush at this moment in time to move this into production,

i moved to the later builds because of a fix (session:fix)    that isnt available in 0.5.0

is there a requirement to have a seperate gitpod self hosted version?         your made codebase is pretty good,  shouldnt you just look to provide instructions on that? otherwise won't you have too

[2020-10-21 23:47] mikenikles commented on #1867
Amazing, thanks for your help with this Cornelius.

[2020-10-22 04:19] svenefftinge commented on #1860
Do you get the mentioned error (Error: cannot create initializer for unkown context type) when you try to start the workspace from the workspaces list in your dashboard?

[2020-10-22 04:26] svenefftinge opened #2039 "[supervisor] I see the 'this task ran as part of a prebuild" message in prebuilds"
https://gitpod-staging.com/#prebuild/https://github.com/nisarhassan12/svgr

<img width="801" alt="Screenshot 2020-10-22 at 06 24 05" src="https://user-images.githubusercontent.com/372735/96824545-58288100-142f-11eb-82b5-2a0b1bcc9932.png">

[2020-10-22 04:36] svenefftinge commented on #2039
Not sure if this is new, though. Just didn't see it before but could be because it is the last thing before a redirect so maybe I never noticed.

[2020-10-22 05:00] nisarhassan12 opened #2040 "[staging]: activating 'Material Theme' extension fails"
### Describe the bug

On Gitpod staging saw this prompt on the workspace startup

![image](https://user-images.githubusercontent.com/46004116/96826532-fa0a9680-144c-11eb-8a97-7219c1fc4567.png)

### Steps to reproduce

Open a new workspace on `gitpod-staging`. I have opened 2 workspaces so far both of them showed the above prompt.

### Expected behavior

### Additional information

### Example repo

[2020-10-22 05:12] nisarhassan12 opened #2041 "error while issuing request: Post "http://localhost:23000/gitpod/cli""
### Describe the bug

The port did not seem to be working I was getting port 8000 didn't respond which does not usually happen in a Gatsby project. As a workaround I have added the following:

[code]

which seems to be failing with the following error:

![image](https://user-images.githubusercontent.com/46004116/95669206-4a553f00-0b97-11eb-8dee-6dccc8894588.png)

Ref: https://github.com/TypeFox/gi

[2020-10-22 05:29] svenefftinge commented on #564
closed as dupe of https://github.com/gitpod-io/gitpod/issues/2041

[2020-10-22 05:29] #564 closed

[2020-10-22 06:04] strausmann commented on #1860
Yes

[2020-10-22 07:06] strausmann commented on #1860
Please, reopen this issue, thanks

[2020-10-22 07:32] cozyGalvinism commented on #1990
I have the same issue... Unfortunately, I have no idea how to re-build the image myself ^^'

[2020-10-22 08:03] akosyakov opened #2042 "refactor gp to use supervisor instead of Theia"
The supervisor can deal with most of services, except `open` and `preview`, without an IDE at all. It will speed up tasks for instance since they don't need for Theia to start up on `gp url`.

It depends on https://github.com/gitpod-io/gitpod/pull/1909

[2020-10-22 08:09] akosyakov commented on #2039
It is new, my bad, will do a PR promptly. Good catch!

[2020-10-22 08:52] akosyakov commented on #2040
Which repo did you open?

[2020-10-22 09:01] akosyakov commented on #2040
Moved to open vsx repo: https://github.com/open-vsx/publish-extensions/issues/196 not gitpod or theia issue

[2020-10-22 09:01] #2040 closed

[2020-10-22 11:01] nisarhassan12 commented on #2040
Sorry for the late reply. I think all the repositories which I open via staging. I'm not sure How the extension was installed but it is installed under the user tab in the extensions pane.
![image](https://user-images.githubusercontent.com/46004116/96863036-b5e4b980-147f-11eb-8b40-73b5bb1c0a22.png)

[2020-10-22 11:22] akosyakov commented on #2040
@nisarhassan12 ah, it is installed for your user

[2020-10-22 11:36] strausmann commented on #1860
Can you reproduce the problem?
I think the problem is the empty repository...
Can I still send you any logs?
I'm using the GitPod Docker container variant

[2020-10-22 11:48] #2039 closed

[2020-10-22 11:59] nisarhassan12 opened #2045 "[staging]: open preview / open in browser does not seem to work i.e you can't view what's being served on port 8000"
### Describe the bug

Open Preview / Open in Browser does not seem to work i.e you can't view what's being served on port 8000 staging also trying the following command:

[code]

Does not seem to work as expected either.

### Steps to reproduce

Open any workspace on staging ie. maybe try https://gitpod-staging.com#https://github.com/gitpod-io/contribute.dev and you won't be able to open the previ

[2020-10-22 12:07] nisarhassan12 commented on #2045
Tested another project and tried port 8080 which seem to work.

[2020-10-22 12:19] nisarhassan12 opened #2046 "Error: operation not permittied: missing create permission on workspace."
### Describe the bug

Sometimes it randomly happens that a workspace does not start with the below error:

[code]

![image](https://user-images.githubusercontent.com/46004116/96870324-2abcf100-148a-11eb-9e0b-236dfe20da7b.png)

The issue seems to happen on both staging and production.

### Steps to reproduce

This happens randomly while opening workspaces.

### Expected behavior

### Additional inf

[2020-10-22 12:22] #2036 closed

[2020-10-22 12:27] akosyakov commented on #2045
@csweichel it would be better if you have a look, somehow ws-proxy does not know about internal port.

[2020-10-22 13:59] AlexTugarev opened #2047 "[settings page] error logged for "create gitpod token""
[code]

[2020-10-22 19:56] hm2075 commented on #2028
happy to close for now

[2020-10-22 19:56] #2028 closed

[2020-10-22 19:58] hm2075 commented on #2002
@AlexTugarev

it wasnt proxy,     i had suspected corporate signed certificates so applied  digicert ssl certificates to both gitpod and gitlab and it worked straight away

you can close this issue after you have reviewed

[2020-10-23 00:27] jgallucci32 opened #2049 "Error: build failed: cannot check base image exists"
### Describe the bug

When using a Dockerfile in your .gitpod.yml configuration while Gitpod is configured for an external Docker registry the following error appears:
[code]
This issue occurs if the custom Docker registry does not have the repositories `workspace-images` and `base-images` created prior. This was tested against Docker Trusted Registry specifically.

### Steps to reproduce

1. Depl

[2020-10-23 00:28] jgallucci32 commented on #2049
In case these are needed, here are the detailed logs from the image-builder pod:
[code]

[2020-10-23 00:35] jgallucci32 opened #2050 "cannot download Git auth OTS: certificate signed by unknown authority location"
### Describe the bug

When building a custom image using a Dockerfile in your .gitpod.yml configuration, it fails to build if Gitpod is using an SSL certificate signed by a custom CA with the following error:
[code]
The reason this is happening is the selfbuild image is hard-coded to use `alpine:3.9` here https://github.com/gitpod-io/gitpod/blob/1e1b01c0529c31ad7e9c1e60315d887abe741791/components/

[2020-10-23 00:41] jgallucci32 commented on #2050
This is one which could not be fixed with a simple Helm chart modification like other SSL cert problems since the selfbuild containers are launched outside of Kubernetes using Docker-in-Docker. Therefore a sidecar must be created to fix this as a workaround. Steps for the workaround:

1. Copy `ca-bundle.crt` to the docker build directory
2. Create the `fix.sh` script
[code]
3. Create the `Dockerfi

[2020-10-23 06:24] csweichel commented on #1860
The logs from `ws-sync`, `ws-manager` and `server` would be very helpful indeed.

[2020-10-23 07:18] akosyakov opened #2051 "report workspace start failure error in the loading screen"
If the workspace failed to start reports the error at stopping/stopped state. Right now it is visible for couple second and then removed.

[2020-10-23 07:19] akosyakov commented on #2051
@svenefftinge @csweichel  Any objection doing it? Quite annoying trying to capture it or digging through ws manager events logs.

Also error rendering could be removed, like avoid cantering it and use proper line breaks.

[2020-10-23 07:36] akosyakov opened #2053 "don't run IDE for headless workspaces"
We used to do it for tasks and logging, but since it was moved to the supervisor, IDE is not required anymore.

[2020-10-23 11:44] akosyakov commented on #2041
@nisarhassan12 Can be closed?

[2020-10-23 11:59] nisarhassan12 commented on #2041
@akosyakov Yeah. I'll do it.

[2020-10-23 11:59] #2041 closed

[2020-10-23 18:23] kav opened #2054 "Helm template -n doesn't work the way you'd expect"
Worth noting:  https://github.com/helm/helm/issues/3553

https://github.com/gitpod-io/gitpod/blob/11406fc3972dab4620b02db0ba120d78a76a6ae4/chart/helm-template.sh#L11

[2020-10-24 03:07] ganapathy-df opened #2055 "Unable to create workspace : https://github.com/DevFactory/mf-trilogy-group-avolin-tradebeam-gtm"
While trying to create a workspace getting the following error

Sorry, something went wrong 😓
Error: Request createWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: Error response from daemon: Head https://060260394319.dkr.ecr.us-east-1.amazonaws.com/v2/workspace-images/manifests/835c95423ec4d3254bb7fa41910686e75630a97a4b74f8cc9accb9d01a8d4841: no basic auth credentials
P

[2020-10-24 14:26] vickybiswas opened #2056 "no basic auth credentials"
### Describe the bug
Cannot create or start Workspace

### Steps to reproduce
Create or start a workspace

### Expected behavior
start thea

### Additional information
Sorry, something went wrong 😓
Error: Request createWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: Error response from daemon: Head https://060260394319.dkr.ecr.us-east-1.amazonaws.com/v2/workspace-images

[2020-10-25 13:49] jibe-b opened #2057 "Error 403 for served app"
The exposed port of my node app returns sometimes a 403 error.

https://9000-********-*****-****-****-************.ws-eu01.gitpod.io/

![Screenshot from 2020-10-25 14-47-24](https://user-images.githubusercontent.com/6146483/97108965-0c950200-16d1-11eb-924e-45fc99536dc7.png)

[2020-10-25 13:52] jibe-b commented on #2057
Thankfully it only lasts less than 5 minutes. It is nonetheless annoying when paying a monthly rate.

[2020-10-25 14:41] ceefour opened #2058 "Support multiline environment variables"
### Describe the bug

Multiline environment variable is not working properly

### Steps to reproduce

1. Go to https://gitpod.io/settings/
2. Set a multiline environment variable, e.g. `JWT_PUBLIC_KEY` (PEM encoded)

### Expected behavior

* UI is showing the value correctly
* Value is passed to environment correctly

### Additional information

Applies to any workspace.

### Example repository

A

[2020-10-25 17:43] jibe-b opened #2059 "Workspace for gitlab public project fails to load"
![Screenshot from 2020-10-25 17-46-39](https://user-images.githubusercontent.com/6146483/97113352-15460200-16ea-11eb-9499-77045864af3b.png)

[2020-10-25 17:46] jibe-b commented on #2059
Well, I first thought it might be on your side but I realize it is probably in the yaml configuration of my repo, I will start by removing the basic configuration I made (no stakes at removing it) and keep updated.

[2020-10-25 18:29] jibe-b commented on #2059
Removing the yaml config fixed it, that must have been a mistake on my side.

[2020-10-25 18:29] #2059 closed

[2020-10-26 07:43] nisarhassan12 opened #2061 "[staging]: diff view does not work properly"
### Describe the bug

On staging the diff view does not work properly i.e there is no colour highlighting for the additions and the subtractions:

![image](https://user-images.githubusercontent.com/46004116/97145693-71f7fa00-1788-11eb-9797-93e01208dedd.png)

![image](https://user-images.githubusercontent.com/46004116/97145703-76bcae00-1788-11eb-80bc-8b22ec544062.png)

### Steps to reproduce

- Ope

[2020-10-26 08:22] nisarhassan12 opened #2062 "[staging]: Open Ports tab does not renders what ports are running."
### Describe the bug

[staging]: Open Ports tab does not renders what ports are running.

![image](https://user-images.githubusercontent.com/46004116/97149167-29433f80-178e-11eb-9be9-005ede5bcecf.png)

### Steps to reproduce

I think I only saw this in one workspace and I'm not able to re-produce this in any other workspace so far.

### Expected behavior

### Additional information

### Example re

[2020-10-26 08:41] nisarhassan12 opened #2063 "[staging]: No logs regarding the tasks in `.gitpod.yml`"
### Describe the bug

A few days back I opened a workspace for https://github.com/nisarhassan12/blueprint and there were No logs regarding the tasks in `.gitpod.yml`

![image](https://user-images.githubusercontent.com/46004116/97150911-a374c380-1790-11eb-8f95-9fd0021a731e.png)

I tried a new workspace and I'm unable to re-produce the above.

### Steps to reproduce

### Expected behavior

### Addit

[2020-10-26 08:54] nisarhassan12 commented on #2063
I'm able to reproduce this randomly, this time around the log is a bit different though:

![image](https://user-images.githubusercontent.com/46004116/97152423-aec8ee80-1792-11eb-9904-0d3d03f8afb5.png)

[2020-10-26 08:57] csweichel commented on #2063
This is a distinct IO issue. I've filed the issue there.

[2020-10-26 08:57] #2063 closed

[2020-10-26 09:14] corneliusludmann commented on #2058
Thanks for the report. [Currently, we don't support multiline env vars.](https://community.gitpod.io/t/enviroment-variables-do-not-respect-shell-expansion/1579/2?u=corneliusludmann) You could use base64 encoding and a startup command as a workaround.

[2020-10-26 09:16] corneliusludmann commented on #2062
Do you have a workspace ID of the workspace?

[2020-10-26 09:18] nisarhassan12 commented on #2062
Sorry. I don't have the ID.

[2020-10-26 09:21] corneliusludmann commented on #2057
Hi @jibe-b,

With that little information, it is difficult to say what could be the cause. Is it reproducible? Could you provide an [example repo](https://stackoverflow.com/help/minimal-reproducible-example) or at least which process serves the app at port 9000?

[2020-10-26 09:24] corneliusludmann commented on #2056
Could you please provide more information about your setting? Is it a self-hosted installation or gitpod.io?

[2020-10-26 09:25] corneliusludmann commented on #2056
Is it a duplicate of #2055?

[2020-10-26 09:34] corneliusludmann commented on #2055
Hi @ganapathy-df,

I get a 404 for the repo URL. Is it a private repo?

[2020-10-26 12:27] hm2075 commented on #1975
same issue on centos8 build,   v0.5.0  self hosted

[2020-10-26 12:48] jibe-b commented on #2057
The app served is a node app, serving gatsby (static site generator).

The issue came erratically so no, I don't know how to reproduce it either.

In case it happens again I will update this issue, hopefully providing more information.

[2020-10-26 13:12] corneliusludmann commented on #2037
On gitpod.io it is still as @olearycrew said. It's already fixed for self-hosted and in this repo but not deployed to prod yet.

[2020-10-26 13:16] corneliusludmann commented on #2034
See
- https://community.gitpod.io/t/error-unsupported-terraform-core-version-when-using-the-aws-installer-image/2018/2?u=corneliusludmann
- https://community.gitpod.io/t/error-for-one-liner-installs-on-gcp-and-aws/1992?u=corneliusludmann

Does this solve the problem?

[2020-10-26 13:23] #2026 closed

[2020-10-26 13:26] corneliusludmann commented on #2057
Thanks for the feedback. I'll close this issue for now. Feel free to re-open it if you have more information. :+1:

[2020-10-26 13:26] #2057 closed

[2020-10-26 14:06] akosyakov commented on #2062
@nisarhassan12 Could you try against https://github.com/gitpod-io/gitpod/pull/1909?

[2020-10-26 14:10] dbanck commented on #1990
You don't have to rebuild the image yourself. After running it for the first time, you can edit the terraform files in the `$PWD/gpinstall` folder.

I've updated the `min_master_version` in `gpinstall/gitpod/gcp/modules/kubernetes/main.tf` to match the current GCP version and the installation is working.

[2020-10-26 14:24] AlexTugarev opened #2065 "[staging] prebuilt logs aren't displayed."
[code]
they are there, but not displayed

[2020-10-26 14:25] cozyGalvinism commented on #1990
Ah, I missed that. Thanks. I will try that and report back.

[2020-10-26 14:27] nisarhassan12 commented on #2062
@akosyakov I tried against https://github.com/gitpod-io/gitpod/pull/1909 and this is the terminal output:

![image](https://user-images.githubusercontent.com/46004116/97184483-c8812a80-17c0-11eb-90d3-ddab3077aba4.png)

No logs regarding the tasks which were supposed to run on this terminal although the ports view is rendered as expected looks like the task `yarn dev` ran but there were no logs and

[2020-10-26 14:31] nisarhassan12 commented on #2062
I tried another workspace againist #1909 http://cw-supervisor-ports.staging.gitpod-dev.com/#https://github.com/gitpod-io/website where it seems to work fine:

![image](https://user-images.githubusercontent.com/46004116/97185357-c370ab00-17c1-11eb-9acd-fac0fe9ec830.png)

[2020-10-26 15:01] akosyakov commented on #2065
Do you know how to reproduce? Could you check that it is not another incarnation of https://github.com/gitpod-io/gitpod/issues/2063 If so it has to be fixed in io.

[2020-10-26 15:06] AlexTugarev commented on #2065
With starting a prebuilt workspace ;-)

[2020-10-26 15:07] akosyakov commented on #2045
I will tackle it in https://github.com/gitpod-io/gitpod/pull/1909

[2020-10-26 15:19] jibe-b opened #2066 "Display custom html while workspace loads"
The moment gitpod loads a workspace could be used to display custom content defined by the workspace owner in the gitpod.yml file.

Indeed on the instance served by gitpod, there could still be also some gitpod tips&tricks.

[2020-10-26 15:39] AlexTugarev commented on #2065
Chris logged it already.

[2020-10-26 15:39] #2065 closed

[2020-10-26 16:00] ceefour commented on #2058
Yes, so I think this becomes a feature request.

[2020-10-26 16:52] BenjaminBeichler commented on #2004
@philjak could you tell, what is exactly needed to change in the docker-compose.yaml ?

[2020-10-26 18:44] hm2075 opened #2067 "helm chart minio bug + extension upload bug"
### Describe the bug
when a user sets up their own instance of minio,  gitpod server deployment continues to use hard coded values

update chart/templates/server-deployment.yaml

[code]

replacing these hard codes values with those from values.yaml

with a linked issue on uploading extensions,   users using minio pod or external minio are unable to upload extensions

[2020-10-26 19:09] jgallucci32 commented on #1975
@arleif-dfactory Any chance you are NOT using `us-east-1` region for S3? If you look at the header request that region is being specified. If you are using a different region, then this might be a possible error.

I am using a self-hosted install and the region is set to `local` which is incorrect with my on-premise S3 storage expects the region to be.

[2020-10-26 19:26] corneliusludmann commented on #2067
Thanks for investigating this, @hm2075! :+1:

https://github.com/gitpod-io/gitpod/blob/92c9494a44165cb345bc1de10cec6a59ad699d6d/chart/values.yaml#L381-L388

[2020-10-26 19:31] hm2075 commented on #2067
we will get there,    i think there is a knock on effect with creating / saving plugins

<Code>SignatureDoesNotMatch</Code>
<Message>The request signature we calculated does not match the signature you provided. Check your key and signing method.</Message>

[2020-10-26 19:54] corneliusludmann commented on #2066
Thanks for the suggestions, @jibe-b. By the way: PRs are very welcome.

[2020-10-26 21:45] hm2075 commented on #1975
hi guys

tracking this on  https://community.gitpod.io/t/unable-to-upload-install-extensions/2039/6

https://github.com/gitpod-io/gitpod/issues/2067

there are two seperate issues here

1.  server-deployment not correct
2.   i dont think its calculating the signature correctly

[2020-10-26 22:40] BenjaminBeichler commented on #2004
okay, my current fix is to create a new volume which maps /chart/templates to a local folder and insert a modified image-builder-deployment.yaml

but this problem should be fixed in the dockerimage, I think the mtu could statically be changed without great impact also to non DinD environments

[2020-10-26 22:56] BenjaminBeichler opened #2068 "Cannot Resolve Workspace Image in docker-compose based self hosted instance"
### Describe the bug
When creating a new workspace the following error is created:

[code]
### Steps to reproduce
install gitpod via docker-compose.yaml with lets-encrypt https-certificates supplied

### Expected behavior
workspace should be created

### Additional information
the registry pod is running
this is created with docker-compose exec
[code]

[2020-10-27 01:16] jgallucci32 commented on #1975
Thanks @hm2075 I will take a look at the other issues.

FYI I was able to confirm this problem can be reproduced using the provided Minio pod (non-s3gateway) using local Kubernetes-provided storage. This might help rule out this being an s3gateway issue talking to S3 storage.

[2020-10-27 01:39] arleif-dfactory commented on #2067
@hm2075 yes, those two are indeed the root causes. Seems like some special characters are double encoded while generating the signed URL.

I was able to work around this by writing a little service to create the signature correctly, and then calling it from the nginx lua script, right between the call to the server and minio. Was just too hackish to contribute the fix into the GitPod repo :smile:

[2020-10-27 02:02] jgallucci32 commented on #1975
Ok looks like the error is from Minio and the code is `Missing Fields`. I'm going through the trace now to determine which fields might be missing.

[2020-10-27 05:28] iWangJiaxiang opened #2069 "K8S deployment doc: Too less information to finish helm value setting"
For example, this doc [Docker Registry Docs - Gitpod](https://www.gitpod.io/docs/self-hosted/latest/install/docker-registry/) tells admin how to setup private docker registry and the steps are as followed:

![image](https://user-images.githubusercontent.com/19409802/97260513-e8aff880-1857-11eb-9e92-6f30dddaf206.png)

But there is nowhere I could find detailed info about `values/registry.yaml` file

[2020-10-27 05:59] philjak commented on #2004
Thanks @BenjaminBeichler for sharing. I really just edited the running deployment - so this was no persistent change. But until the issue has been fixed, I guess I'll also try to using a temporarily volume.

[2020-10-27 07:33] hm2075 commented on #2067
Yes,  I noticed that I had to decode the url

@corneliusludmann  the first fix is easy but I couldn't see how the url is generated for the second issue

[2020-10-27 08:17] corneliusludmann commented on #2068
Just to make sure: Do you use the latest docker image?
[code]

[2020-10-27 08:34] hm2075 commented on #2067
ran a complete trace on this from   mc admin tools

`08:32:28.290 [200 OK] s3.HeadBucket nexusdevops.com:9000/gitpod-nexusdevops--com-plugins 10.244.0.203      136µs       ↑ 88 B ↓ 218 B
08:32:28.330 [400 Bad Request] s3.PutObject nexusdevops.com:9000/gitpod-nexusdevops--com-plugins/cc325b04-e306-451f-9c88-f87538e4715d.plugin.f6f5690a-84d0-49f2-ab8d-ba2b5b64a863.dbaeumer.vscode-eslint~2.1.8?X-Amz-

[2020-10-27 08:35] corneliusludmann commented on #2004
@jgallucci32 Thank you very much for investigating this issue. :+1:

To make sure that this fixes the issue I ran some tests with the `docker-compose.yaml` setting: Without your fix, in 4 of 10 cases, I get the “failed to connect to all addresses” error after deployment. With your fix, I successfully deployed Gitpod 10 times in a row without this error. It's still a rather small sample, but I am c

[2020-10-27 08:39] BenjaminBeichler commented on #2068
yes, actually I use this docker-compose file https://github.com/gitpod-io/gitpod/blob/master/install/docker/examples/gitpod/docker-compose.yaml

[2020-10-27 10:04] corneliusludmann commented on #2068
A few more questions:
- Do you have a custom `values.yaml` file?
- Is `registry.gitpod.beichler.info` configured in your DNS correctly? Could you ping it from your node?
- What does `docker-compose exec gitpod cat /etc/resolv.conf` say?

[2020-10-27 10:59] BenjaminBeichler commented on #2068
no

I set a wildcard cname in my DNS-Config to the host which runs the docker-daemon. If I ping, this ist the output:
[code]
Hopefully the reverse-name resolution is not problematic.

[code]
I hope the search domain is not critical, but I could change it.

[2020-10-27 11:00] BenjaminBeichler commented on #2068
Within the container the ping is also successfull:

[code]

[2020-10-27 12:16] hm2075 commented on #2067
`C:\Development>mc admin trace -v local
nexusdevops.com [REQUEST s3.HeadBucket] 12:12:59.603
nexusdevops.com HEAD /gitpod-nexusdevops--com-plugins
nexusdevops.com Proto: HTTP/1.1
nexusdevops.com Host: nexusdevops.com:9000
nexusdevops.com Authorization: AWS4-HMAC-SHA256 Credential=minio/20201027/us-east-1/s3/aws4_request, SignedHeaders=host;x-amz-content-sha256;x-amz-date, Signature=7e1dab3cc7714f7

[2020-10-27 12:17] hm2075 commented on #2067
the get request is fine,

and then on the put request we see the credentials are encoded and signature is probably wrong too

[2020-10-27 12:40] jgallucci32 commented on #2067
@hm2075 I was able to get a valid request on the PUT by replacing the `%252F` characters with `/` in the `X-Amz-Credential` URI Query Parameter. It seems the request is not properly encoding the URL. I used cURL to test and verify.

[2020-10-27 12:53] hm2075 commented on #2067
can we log this

 ngx.var.targetUrl = response.body;

https://github.com/gitpod-io/gitpod/blob/24f7b609bf79b247d72d1841282639726bcd5891/chart/config/proxy/lib.gitpod-plugins.conf#L42

and see what the response.body is?

[2020-10-27 13:02] jgallucci32 commented on #2067
I'll see if I can get that to log.

Side note, I also replaced `%252F` with `%2F` which is the actual encoded character for a `/` and the request works as well. Something is using the wrong character replacement for the `/` in the request.

[2020-10-27 13:12] arleif-dfactory commented on #2067
@jgallucci32 @hm2075
I logged it while debugging this and you will find it look something like this
`http://minio.default.svc.cluster.local:9000/gitpod-xxx-plugins/4fb826c7-dcba-4827-a6bb-be93af4895cc.plugin.0e311ac5-fca1-438e-9f87-5c3bc1314501.eamodio.gitlens~10.2.1?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=xxxxxxxxxxxx%252F20201027%252Fus-east-1%252Fs3%252Faws4_request&X-Amz-Date=2020102

[2020-10-27 13:24] hm2075 commented on #2067
wonder if its using a third party plugin to encode?

https://www.npmjs.com/package/aws4  ??

[2020-10-27 13:40] jgallucci32 commented on #2067
From this page https://www.npmjs.com/package/aws4 I noticed the following

Looking at `gitpod-plugin-deployer.js` it appears this is being changed for fix an issue with gcloud-storage
[code]
So it is quite possible the changing of the Content-Type and removing the `application/x-www-form-urlencoded` is what is breaking this.

[2020-10-27 14:18] hm2075 commented on #2067
Explains why cloud gcp works but selfhosted doesnt

What would happen if we patch the response.body and do a replace in the conf file ?

[2020-10-27 15:10] akosyakov commented on #2045
@nisarhassan12 Could you try to reproduce it in #1909?

[2020-10-27 15:40] hm2075 commented on #2067
here's my hack job

![image](https://user-images.githubusercontent.com/53794682/97324958-5b29d400-186a-11eb-8054-4af6cae51a8c.png)

` response.body = response.body:gsub("%%252F", "%%2F");
        ngx.log(ngx.ERR, " RESPONSE FROM HM :  " .. response.body );
`

@corneliusludmann

I dont think this is a valid fix,     more like a patch job on the helm templates
what do you think

[2020-10-27 15:48] akosyakov commented on #2061
[code]

The editor web worker cannot be launched.

[2020-10-27 15:54] nisarhassan12 commented on #2045
@akosyakov Thanks. I have tried it against #1909 and it seems to work i.e I'm able to preview what is on port 8000 but live-reload/HMR does not seem to be working.

[2020-10-27 17:48] DanTup commented on #988
@akosyakov out of interest - what/where was the fix for this? Seeing the same issue on another Theia based editor and I'm not sure whether it's due to an old version of Theia or something else (like in hosting infrastructure-specific code). Thanks!

[2020-10-27 19:23] jgallucci32 commented on #2067
@hm2075 You were on the right track. It looks like the correct function is `ngx.unescape_uri` from the [Lua Documentation](https://openresty-reference.readthedocs.io/en/latest/Lua_Nginx_API/#ngxunescape_uri) which will correctly unescape the `%252F` characters to `%2F`. Because the response body from the first request is being used to generate a new URL escaping the encoding here makes most sense.

[2020-10-27 20:25] hm2075 commented on #2067
Excellent ,

We still need to fix the first issue though ,  whereby server deployment has hard coded minio values.

[2020-10-27 21:07] jgallucci32 commented on #2067
@hm2075 I'm unable to reproduce the initial issue. I deployed Gitpod v0.5.0 self-hosted into a native-Kubernetes deployment using Rancher and it worked with both the default Minio values as well as overwritten values for s3gateway functionality.

I do think I see what the issue might be. When I configured Minio to be an s3gateway I had to set the minio values in two places. It has to be defined at

[2020-10-27 21:27] LinqLover opened #2073 "Connect gitpod.io account with self-hosted GitLab instance"
I seem to miss any proper documentation. I have a self-hosted GitLab instance and followed [these steps](https://docs.gitlab.com/ee/integration/gitpod.html) to enable the Gitpod integration.
Unfortunately, when I open <https://gitpod.io/login/>, I only see three buttons for logging in with GitHub, GitLab.com, and BitBucket, but there is no button for connection my self-hosted GitLab instance. Also

[2020-10-28 07:50] petrukngantuk commented on #52
any ETA about this one?

[2020-10-28 08:22] corneliusludmann commented on #2067
Thank you very much for investigating this, @jgallucci32 @hm2075 @arleif-dfactory! Awesome contribution!

And thanks for the PR #2072, @jgallucci32. I'll take care that this one will be reviewed soon!

I'll also have a look at the initial issue of whether we need to fix the `server-deployment.yaml` template for external minio instances.

[2020-10-28 09:49] rajanagori-hl60 opened #2074 "Gitpod install on cloud server"
I just wanted to ask about the gitpod installation on my cloud server. I'm trying to install the gitpod instance with creating the docker-compose file with all the images from gitpod/workspace-full repo and up the instance. docker-compose file runs the instances but exited same time. I check the docker container logs but can't find any appropriate information regarding.

[2020-10-28 11:17] mithunansivakumar opened #2076 "Issue after update?"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-28 11:49] akosyakov commented on #988
It is here: https://github.com/gitpod-io/gitpod/blob/master/components/theia/packages/gitpod-extension/src/browser/gitpod-parse-localhost.ts

[2020-10-28 14:43] ranglang commented on #2034
fixed.

PWD/awsinstall , find .terraform dir and then remove it, change version in main.tf

[2020-10-28 14:43] #2034 closed

[2020-10-28 14:51] corneliusludmann commented on #2074
Do I understand it correctly that `docker-compose up` fails? Could you please post at least the last lines from `docker-compose logs`?

[2020-10-28 14:53] corneliusludmann commented on #2073
Unfortunately, that's not possible yet. It's a feature that is coming soon but currently, you have to host your own Gitpod instance for that.

[2020-10-28 14:58] #2056 closed

[2020-10-28 15:24] nisarhassan12 opened #2078 "unable to launch chromium"
### Describe the bug

The Chromium Renderer process seems to be crashing when I try `npm test` which uses Cypress under the hood.

![image](https://user-images.githubusercontent.com/46004116/97457262-6a3c7f00-195b-11eb-9647-e8cd02794871.png)
![image](https://user-images.githubusercontent.com/46004116/97457303-71638d00-195b-11eb-853f-003a4e81f8ba.png)

### Steps to reproduce

Open https://github.co

[2020-10-28 16:30] hm2075 opened #2081 "Server specifications"
Hi

what would you recommend for a small team of developers,    about 8 developers and at most 4-5 developers working on an angular/dotnet core app,

server : centos8

ram and disk space

also

![image](https://user-images.githubusercontent.com/53794682/97466353-ea9eb800-193a-11eb-80ed-45ea4ec368f8.png)

what does 1m mean?       and how does requests and limits come into play?

thanks

[2020-10-28 16:42] Yael95 opened #2082 "Vetur Installation on project"
I just tried to install Vetur which is an extension for syntax highlighting for the vuejs framework and a bunch of other useful things, but when I install it i guet this issue popping out after the installation : **_Activating extension Vetur failed: Cannot read property 'includes' of undefined._**
Do you know how can I solve it as do not get all the capacities of the extension and the necessary s

[2020-10-28 19:57] fabrizim commented on #1881
I got this working using a similar approach as the svelte patch, adding the following to the `init` task in the .gitpod.yml file:

    sed -ri "s/hostname\s+\s':'\s+\sprocess\.env\.HMR_PORT/hostname.replace(\/^(\\d+)\/, process.env.HMR_PORT) + ':443'/" ./node_modules/parcel-bundler/src/builtins/hmr-runtime.js

Hope that helps someone else. FYI - this is only for parcel v1.

[2020-10-29 04:07] fbigun opened #2083 "why my workspace has ben bloked?"
I am prompted after logging in to gitpod

---------
[code]

I don't know where the problem is, can I continue to use it.

[2020-10-29 04:29] rajanagori-hl60 commented on #2074
It is only showing "No logs available".

[2020-10-29 07:35] nisarhassan12 commented on #1881
Thanks, @fabrizim for sharing this.

@jankeromnes is probably working on a Pr for parcel v2 once that is merged we will no longer have to hack our way around this and we will be able to do it like it's done here https://github.com/gitpod-io/sveltejs-template.

The time this https://github.com/nisarhassan12/svelte/blob/7145c752efe1531d9523ff48bfad21e373d418aa/.gitpod.yml#L7 was wriiten I think ther

[2020-10-29 09:14] wulfthimm commented on #2083
You get blocked if you have acted against the terms of services that are described [here](https://www.gitpod.io/terms/). If you think that there is a failure, please reach out to contact@gitpod.io  and file a complaint.

[2020-10-29 10:19] #2083 closed

[2020-10-29 11:56] wulfthimm commented on #2069
The content of the `registry.yaml` is by default:
[code]

You can find the old one [here](https://github.com/gitpod-io/self-hosted/tree/master/values) or look for the values to configure the registry in [this file](https://github.com/gitpod-io/gitpod/blob/3e5b45b8c411405003f556e56ebb397b1d0d64f1/chart/values.yaml#L160).

[2020-10-29 12:10] akosyakov opened #2084 "redesign the stopped loading screen"
I’m missing go to workspaces and GitHub (context) links.

[2020-10-29 12:11] akosyakov opened #2085 "reloading the stopped loading screen does not restart the workspace"

[2020-10-29 12:14] akosyakov commented on #2062
let's track terminal issues separately, in regard to ports I think it is addressed in https://github.com/gitpod-io/gitpod/pull/1909

[2020-10-29 12:24] akosyakov opened #2086 "verbose output from gitpod task terminals on attach"
Now:
[code]
Compare to production:
[code]

[2020-10-29 12:38] akosyakov commented on #2045
@nisarhassan12 I am not sure that HMR related to ports handling or it is ws proxy issue. Could you file a separate issue please and mark it with staging label?

[2020-10-29 13:03] corneliusludmann commented on #2074
That's odd. Could you please describe your steps in more detail?

[2020-10-29 13:26] corneliusludmann commented on #52
No ETA yet but I can give you hope that in the not too distant future there will be some news on that topic.

[2020-10-29 13:51] wulfthimm commented on #2082
Have you checked that it is not related to the extension itself? Could you give us more information about the version of the extension? Have you installed Gitpod yourself or are you using Gitpod.io?

[2020-10-29 13:57] k-samarth opened #2087 "Not authorised"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-29 13:58] wulfthimm commented on #2081
In general you need for a small team about 3 nodes with each one having 8 CPUs and 8 GB RAM. The storage depends on the size of workspaces you are running. `workspace-full` needs about 8 GB storage so I guess about 200GB space to store workspace data. You can use bigger machines to increase the workspace density on one node or you can make the nodes smaller so that unneeded servers will be shutdow

[2020-10-29 14:00] wulfthimm commented on #2087
Please add some information.

[2020-10-29 14:02] wulfthimm commented on #2076
Please add some information.

[2020-10-29 14:05] LinqLover commented on #2073
Where is the feature coming soon being traced?

[2020-10-29 14:13] #2066 closed

[2020-10-29 14:22] wulfthimm commented on #2058
We have taken notice of that request. Many thanks for the contribution.

[2020-10-29 14:27] wulfthimm commented on #2073
We have put the information into our list and will discuss the release of this feature.

[2020-10-29 14:38] wulfthimm commented on #2032
https://skaffold.dev/

[2020-10-29 14:41] #2029 closed

[2020-10-29 14:52] hm2075 commented on #2081
Thanks for the detail
Much appreciated

[2020-10-29 14:52] #2081 closed

[2020-10-29 17:03] katmatt opened #2088 "Git push on github doesn't work"
### Describe the bug

I can't push my branch created in gitpod to github.

### Steps to reproduce

I created a new `test` branch with git pod working on my blog (see https://github.com/katmatt/katmatt-blogs) and I then tried to push my changes to github. Then I get the following error:
![Screenshot 2020-10-29 at 17 51 12](https://user-images.githubusercontent.com/231232/97606154-c234bd80-1a0f-11eb

[2020-10-29 17:39] Yael95 commented on #2082
I tried to install it directly from the store on gitpod.io, just type very and try to install it it throws an error.

[2020-10-29 21:15] alesanchezr commented on #1881
I don't know if I'm too late @jankeromnes @maksimr but here is how @unocongafas was able to fix this issue within our boilerplates: Add this into your webpack.config:

[code]

[2020-10-30 01:08] johndunderhill opened #2089 "Shell scripts leave 'zombie' (defunct) processes behind"
### Describe the bug
Shell scripts which create background processes leave 'zombie' (defunct) processes behind when the script is terminated with an interrupt (ctrl-c).  The processes are owned by the root process (1) and are already dead; they can't be killed or removed (hence, zombie).  These accumulate over time, and the kernel does not 'harvest' or remove them.  We can find no way to prevent t

[2020-10-30 01:16] robertoleitealves opened #2090 "busca-sequencial"
// Busca sequencial
// Parâmetros:
// 1º: lista de itens a ser pesquisada
// 2º: valor a ser pesquisado
// Retorno:
// A posição da lista onde foi encontrado o valor pesquisado OU
// o valor convencionado -1 caso o valor buscado não tenha sido encontrado

function buscaSequencial(lista, valorBusca) {
  for(let i = 0; i < lista.length; i++) {
      // Encontrou o que está buscando: retorna a posiçã

[2020-10-30 03:27] sr229 commented on #2032
Yep! Skaffold is a good tool for testing a Kubernetes app locally like for example a Docker Desktop Kube cluster.

[2020-10-30 04:44] #2090 closed

[2020-10-30 04:48] akosyakov commented on #2088
cc @AlexTugarev maybe you have an idea what is going wrong.

[2020-10-30 08:04] corneliusludmann commented on #2084
Some thoughts on this:

I would love …
- to have a “go to workspaces” link (as Anton mentioned already)
- to have a context link (as Anton mentioned already) → link to GitHub / GitLab / Butbucket context
- to have the info if the workspace has uncommitted / unpushed changes (as we have in the workspace list), probably also other info from the workspace list like workspace start time, stopped time,

[2020-10-30 08:30] DanTup commented on #988
@akosyakov great, thanks!

[2020-10-30 08:46] rajanagori-hl60 commented on #2074
Yes, First I take the pull of the latest Image then make file.yml file in which I have mention the gitpod image with ports and finally docker-compose -f file.yml up -d

[2020-10-30 09:09] akosyakov commented on #2045
nvm, HMR was addressed in #1909 as well, see https://github.com/gitpod-io/gitpod/pull/1909/commits/bad296b6585507907964d693ae5220baa99b13d6

[2020-10-30 09:23] BenjaminBeichler commented on #2068
@corneliusludmann is any information missing ?

[2020-10-30 11:54] benxiao opened #2091 "bug"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-10-30 12:09] corneliusludmann commented on #2088
Sounds like a (temporary?) network issue. Can you reproduce it, @katmatt?

[2020-10-30 12:20] katmatt commented on #2088
I stumbled over this issue already last weekend and I tried to push my changes to github multiple times. I even tried `git push ...` from the integrated terminal. And tried to open a fresh gitpod workspace. And I always got the same error.

And I was able to reproduce it yesterday too. I can give it another try, but from my users perspective it doesn't look like a network issue.

[2020-10-30 12:29] corneliusludmann commented on #2088
Thanks, @katmatt. You're right.

[2020-10-30 12:30] corneliusludmann commented on #2088
By the way: What is the output of `git push ...` on the terminal?

[2020-10-30 12:39] katmatt commented on #2088
On the integrated terminal it looks like this:
[code]
And I didn't remember that it was asking for my user name 😞