[2021-09-17 07:17] akosyakov commented on #5732
/schedule

[2021-09-17 08:25] jankeromnes commented on #5374
Many thanks @gtsiolis!

However, the SVG is not square, so adding a spin animation to it makes it look like a misaligned wheel 😅 I've tried fixing the SVG coordinates manually, but didn't succeed.

Could you please provide another spinner SVG with transparent background and the same height & width? (So that rotating it around its center creates a perfect circle)

[2021-09-17 08:32] #5717 closed

[2021-09-17 08:36] #5699 closed

[2021-09-17 09:21] ghuntley opened #5733 "The browser interrupted the opening of a new tab or window. Press 'Open' to open it anyway."
On iPadOS15b7 in Safari doing ctrl+shift+p -> open-context requires human interaction to open the context.

![Welcome — gitpod-ws (Workspace) — Gitpod Code](https://user-images.githubusercontent.com/127353/133759222-9fc21f46-aa77-4c0d-95fc-76f6776ab0ff.png)

[2021-09-17 09:21] shaal opened #5734 "update to VS Code 1.60.2 to cherry pick recovery fixes"
### Bug description

Choosing 'Latest VSCode' (in preferences) - breaks debugging with VSCode

![image](https://user-images.githubusercontent.com/22901/133756350-ec70986b-ff0e-410a-aa70-402b4529bb13.png)

### Steps to reproduce

1. Go to https://gitpod.io/preferences
1. Under "Default IDE", choose 'VS Code - LATEST' option
1. Open any repo that can be debugged in VSCode, ie. https://gitpod.io/#htt

[2021-09-17 09:26] akosyakov commented on #5734
/schedule

[2021-09-17 09:26] akosyakov commented on #5734
@jeanp413 We need to fix it before aligning stable with latest. Could you have a look please?

[2021-09-17 09:40] JanKoehnlein commented on #5066
/schedule

[2021-09-17 09:40] roboquat commented on #5066
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5066#issuecomment-921658588):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-17 09:41] JanKoehnlein commented on #5374
/schedule

[2021-09-17 09:41] roboquat commented on #5374
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5374#issuecomment-921658973):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-17 09:50] svenefftinge commented on #5732
"Don't show again" is good!

[2021-09-17 10:05] aledbf commented on #5253
Can we close this issue? The fixes were deployed and the `Terminating` behavior is not there anymore.

[2021-09-17 10:37] #5732 closed

[2021-09-17 10:43] JohannesLandgraf commented on #5583
FWIW, with the /quickstart section in docs we (in words) followed a similar flow: https://www.gitpod.io/docs/quickstart/ruby-on-rails

[2021-09-17 11:32] phimae opened #5737 "Checkout Page not reachable"
A user [reported](https://gitpod.slack.com/archives/C01KLC52R0D/p1631720743000300) the following:

"_tried to renew my subscription with gitpod but the system blocks me, and
doesnot lead me to the checkout page._"

We should check if that is a bug to be sure not more users will be affected

[2021-09-17 11:34] #5706 closed

[2021-09-17 11:36] JanKoehnlein commented on #5598
/assign

[2021-09-17 12:03] akosyakov commented on #5734
It actually just bite me so I'm looking into it.

[2021-09-17 12:12] gtsiolis commented on #5374
Oh, no! You're right @jankeromnes! Here's one with correct dimensions. 🙈

[code]

[2021-09-17 12:18] gtsiolis commented on #5374
Small update to the SVG. Cc @jankeromnes

[code]

[2021-09-17 12:19] jankeromnes commented on #4693
The fix was deployed on July 13th and we've successfully issued refunds where applicable, so this issue can now be closed.

[2021-09-17 12:19] #4693 closed

[2021-09-17 13:06] jimmiebtlr opened #5740 "Copy/Paste not working on chromebook with dvorak programmer layout"
### Bug description

Ctrl-C - Shows some sort of context menu.
Ctrl-V - Shows "No code actions available"
Ctrl-Shift-V - Selects all code in file, and opens I think a context/code complete menu.
Ctrl-Z - Comments/Uncomments

I assume gitpod is somehow getting the normal keyboard inputs rather than the one the rest of my computer is using, though typing works fine.

### Steps to reproduce

Using ch

[2021-09-17 13:28] jankeromnes commented on #5280
A potential workaround could be to update `brew` in `gitpod/workspace-full`. That way, there is no need to run `brew update` for a while, and installing the Stripe CLI might work again.

To do this, we can commit one change to the [HomeBrew image layer](https://github.com/gitpod-io/workspace-images/blob/02b4999b13e24032f86bec67aaf0133718e63b7f/full/Dockerfile#L61-L74) in order to invalidate the Da

[2021-09-17 13:31] #5526 closed

[2021-09-17 13:37] akosyakov commented on #5734
It is broken in the upstream. It will be part of VS Code 1.60.2: https://github.com/microsoft/vscode/milestone/165 So we should update once more before updating the latest.

[2021-09-17 13:52] jankeromnes commented on #5612
Happy to take a look at this again next week 👍

[2021-09-17 16:04] iamulya opened #5743 "License pertinent information on the Admin console"
Currently on the admin console, an admin can only see user related information. It would be necessary, especially for the self-hosted variant, to have license pertinent information as well, for e.g. license no., type of license, #seats available under license, #seats currently unused etc. Those would be the "mvp features" that the enterprise world is quite used to.

As an extension of this feature

[2021-09-17 16:15] csweichel commented on #5718
Great find @AlexTugarev - we'll have a look

/team workspace

[2021-09-17 16:16] csweichel commented on #5718
/schedule

[2021-09-17 16:16] roboquat commented on #5718
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5718#issuecomment-921919514):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-17 16:16] csweichel commented on #5718
/assign @aledbf

[2021-09-17 16:16] aledbf commented on #5718
@AlexTugarev I think an easy fix to this situation is to add an additional route in server and instead of checking the cookie, send a request and do the check there, returning ok or error.

[2021-09-17 17:51] ArthurSens commented on #4182
Fixed by #5726

[2021-09-17 17:51] #4182 closed

[2021-09-17 17:58] ivelin opened #5746 "Error: No Python Language Server Installed"
### Bug description

It is not clear which if any python language server works with gitpod at this time.

The Python extension available in the Gitpod marketplace suggests it comes with Pylance. However when a gitpot workspace launches it complaints that there is no Pylance installed.

1. Accepting the Install option does not lead to any actual installs. If there is an install error, it does not m

[2021-09-17 20:25] akaFTS opened #5747 "Support devcontainer.json as an alternative to .gitpod.yml"
Since both VSCode Development Containers and GitHub Codespaces are using devcontainer.json as their lingua franca for configuring images and extensions, it would be great if Gitpod could also adopt it so that we don't need to duplicate those settings in two different configuration files.

[2021-09-18 01:09] jeanp413 commented on #5715
We tested this today with @akosyakov and we couldn't reproduce, so I'll make a PR enabling this by default.

[2021-09-18 02:56] shism2 opened #5752 "Gitpod down"
### Bug description

When opening workspace "Allocating resources" indefinitely.

### Steps to reproduce

Open a workspace

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-18 03:17] gengjiawen commented on #5752
@akosyakov @csweichel Same here.

[2021-09-18 03:42] eByte23 commented on #5090
Any update on this issue? Dev time experience for .NET doesn't work at all for me with this and is a blocker.

[2021-09-18 04:34] GhostzLab commented on #5752
Same

[2021-09-18 04:38] smacintyre commented on #5752
Same here

[2021-09-18 04:41] shism2 commented on #5747
Good idea

[2021-09-18 04:44] ujjal-zaman commented on #5645
Hello there.
The problem appears again.
Allocating resources....
This message showing for while please fixed this issues

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Cornelius A. Ludmann ***@***.***>
Sent: Friday, September 10, 2021 11:07:42 PM
To: gitpod-io/gitpod ***@***.***>
Cc: Ujjal Zaman ***@***.***>; Mention ***@***.***>
Subject: Re: [gitpod-io/git

[2021-09-18 04:47] smacintyre commented on #5752
Also prebuilds are not being run.

[2021-09-18 05:17] corneliusludmann commented on #5752
Thanks for reporting. I triggered the on-call person.

[2021-09-18 05:24] corneliusludmann commented on #5645
https://github.com/gitpod-io/gitpod/issues/5752#issuecomment-922187092

[2021-09-18 05:36] ghuntley commented on #5752
Howdy folks, confirming that something is not functioning correctly and we are investigating. Keep an eye on https://www.gitpodstatus.com/incidents/hrt9xd9jkdyn for updates.

[2021-09-18 05:54] shism2 commented on #5752
Not sure if it's related but I was testing out the "Open in VSCode" feature that was released and went afk for a few hours before this happened.

[2021-09-18 06:38] meysholdt commented on #5752
Workspaces on the US cluster start fine again. There was a connectivity issue between internal services that we have resolved now.

[2021-09-18 06:38] #5752 closed

[2021-09-18 06:48] svenefftinge commented on #5670
This has bitten us again. Until we have found the cause, we should build some robustness into our grpc connections. E.g. reconnecting if after certain timeout and/or idleness.

[2021-09-18 06:49] svenefftinge commented on #5747
See also https://github.com/gitpod-io/roadmap/issues/16

[2021-09-18 07:01] svenefftinge opened #5753 "No alter on workspace incident"
We didn't see an alert for the latest incident, although it was clear that something went wrong, because of so many unschedulable workspaces. We need an alert for this ASAP so we notice this before users do.

[2021-09-18 07:10] gengjiawen commented on #4520
Any progress on this ? I have been installed my extension all the way recently, feeling bit of tired.

[2021-09-18 07:11] csweichel commented on #5753
were workspaces actually unschedulable, or did we not see updates from bridge?

[2021-09-18 07:23] csweichel opened #5754 "[ws-manager-bridge] Export status update received metric"
Such a metric is a good indicator for a broken connection to the workspace cluster. We would do well to establish an alert on this metric: if the rate drops to zero that's a problem, and we'll want an alert in addition to forcefully restart the bridge.

related: #5753

[2021-09-18 07:25] csweichel commented on #5754
/schedule

[2021-09-18 07:25] roboquat commented on #5754
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5754#issuecomment-922232315):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-18 07:25] csweichel commented on #5754
/assign @csweichel

[2021-09-18 07:26] svenefftinge commented on #5690
I agree this needs to be smooth, we should probably put in a warning starting with the 8th user or so.

You obtain a key where the domain and number of seats are encrypted.

Someone doing oauth with the self-hosted instance. I.e. at the moment we really just count the number of users in the DB.
Might make sense to go for active users per month eventually.

'Teams' allow you to group people togethe

[2021-09-18 23:46] #4472 closed

[2021-09-18 23:46] #4431 closed

[2021-09-19 02:50] akaFTS commented on #5747
Closing this issue since @svenefftinge's is pretty much exactly the same.

[2021-09-19 02:50] #5747 closed

[2021-09-19 08:07] gengjiawen commented on #5515
@akosyakov Is this got reverted, I am still seeing 1.59 in production.

[2021-09-19 09:52] YosanAI opened #5758 "Expose Https ports"
Hello
currently, only HTTP ports can be exposed. Just for this reason, I cant use Gitpod because the project I am working on launches the client on 3000 port using HTTPS.

[2021-09-19 12:01] domdomegg opened #5759 "[cli] Open browser"
Similar to the `gp preview <url>` command, it'd be useful to have a `gp browser <url>` command that would open a new browser tab.

This would be similar to the `open-preview`/`open-browser` values possible for the `ports[n].onOpen` configuration in .gitpod.yml.

Use case: I am building a React app. I want to wait until the dev server is running before opening the browser (rather than just when the

[2021-09-19 15:24] haouarihk commented on #329
it will help with testing aswell, so you don't have to deal with "not the same domain" kind of stuff

[2021-09-19 22:12] andrisole92 opened #5761 ".gitpod.yml will not run"
### Bug description

Hi there,

So I need to install Ruby 3 and npm dependencies automatically, maybe even run the server. I have the following `.gitpod.yml` in the root directory, but it will not run.

[code]

### Steps to reproduce

Please see above.

### Expected behavior

I am opening workspace and having ruby-3.0.0 installed as well as all other tasks finished running (or at least start execu

[2021-09-20 05:33] iQQBot opened #5762 "When server restart, running workspace is not allow pull/push git repo"
### Bug description

When `server` restart, running workspace is not allow pull/push git repo.

see log in /tmp/gitpod-git-credential-helper.log
time="2021-09-20T04:36:59Z" level=info msg="error getting token from supervisior" error="rpc error: code = NotFound desc = no token available"

in supervisor log
2021/09/19 16:46:28 jsonrpc2: protocol error: reconnecting-ws: bad handshake: code 200

webso

[2021-09-20 06:32] csweichel opened #5763 "[ws-manager] Maintains stale connections to ws-daemon"
### Bug description

ws-manager might maintain connections to endpoints which are no longer valid/available, because it doesn't re-validate that connections in its pool. This causes stray error messages and memory leaks.

### Steps to reproduce

not sure

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-20 06:32] csweichel commented on #5763
/schedule

[2021-09-20 06:32] roboquat commented on #5763
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5763#issuecomment-922667390):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-20 06:32] csweichel commented on #5763
/assign @aledbf

[2021-09-20 06:41] akosyakov commented on #5762
/schedule

[2021-09-20 06:41] roboquat commented on #5762
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5762#issuecomment-922670426):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-20 06:45] akosyakov commented on #5761
I have not tried yaml file, probably there is some parsing issue. But to install tools is better to use Dockerfile not tasks: https://www.gitpod.io/docs/config-docker

Please see https://www.gitpod.io/docs/languages/javascript#node-versions and https://www.gitpod.io/docs/languages/ruby#ruby-versions

[2021-09-20 06:46] akosyakov commented on #5759
`preview $url --external` - previews URL with system wide URL opener

[2021-09-20 06:46] #5759 closed

[2021-09-20 06:54] csweichel commented on #5758
Hi,

do you mean that:
1. your service needs to do the HTTPS termination instead of Gitpod, e.g. because you're using a custom CA?
2. Or does your project happen to serve (valid) HTTPS, it  would be OK if Gitpod did the HTTPS termination, but Gitpod cannot forward to it at all?

In case of the 1., the [local companion app](https://www.gitpod.io/docs/develop/local-companion#gitpod-local-companion)

[2021-09-20 06:55] akosyakov commented on #5515
It is available if you switch to latest VS Code in settings: https://gitpod.io/preferences But it is turned out that debugging is broken in upstream for web targets. We are awaiting 1.60.2 recovery release to make it stable.

[2021-09-20 06:58] akosyakov commented on #5746
Pylance is proprietary and cannot be installed in Gitpod. Jedi should work, at least I cannot reproduce issues in our example repo: https://github.com/gitpod-io/template-python-django

You can use VS Code Desktop btw to make use of Pylance: https://www.gitpod.io/docs/develop/vscode-desktop-support

[2021-09-20 07:01] gengjiawen commented on #5515
Thanks. I will wait 1.60.2 is ready :)

[2021-09-20 07:19] akosyakov commented on #5715
resolved by https://github.com/gitpod-io/gitpod/pull/5750

[2021-09-20 07:19] #5715 closed

[2021-09-20 07:39] akosyakov commented on #5762
I can reproduce it in preview env too.

[2021-09-20 07:46] #5718 closed

[2021-09-20 07:48] geropl opened #5764 "[dev] Fix broken integration test execution on staging"
We regularly executed integration tests but those are broken at the moment. This effort is meant to fix this for staging.

This might also include grouping the existing tests by what kind of cluster (full/workspace) they can be executed against.

[2021-09-20 07:51] JanKoehnlein commented on #5764
/schedule

[2021-09-20 07:51] roboquat commented on #5764
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5764#issuecomment-922702746):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-20 07:52] gengjiawen opened #5765 "smart install extension"
Latest jest-runner only support 1.60.

Currently is 1.59, maybe we can automatically install supported version for vs 1.59 instead of popup an install error.

https://github.com/firsttris/vscode-jest-runner

### Current gitpod behavior

![image](https://user-images.githubusercontent.com/3759816/133971093-086a8412-7bd4-4b88-bd00-fd103207f6b4.png)

### local vscode(1.58) install proper version
![ima

[2021-09-20 07:57] #5754 closed

[2021-09-20 08:07] JanKoehnlein commented on #5737
/schedule

Check the basic flow. In parallel it would be great to get more information form the user: What exactly they did and what UI response from Gitpod they get

[2021-09-20 08:07] roboquat commented on #5737
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5737#issuecomment-922711395):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-20 08:29] jankeromnes commented on #5280
Hi @shafy! I've fixed the `brew update` problem in https://github.com/gitpod-io/workspace-images/pull/502, but `brew install stripe/stripe-cli/stripe` is still broken for me:

[code]

I think that's due to this bug in Stripe CLI's Homebrew formula: https://github.com/stripe/stripe-cli/issues/645

Alternatively (see last comment in that issue) it seems that you could potentially get a working Strip

[2021-09-20 08:34] geropl commented on #5764
This is already been worked on: https://github.com/gitpod-io/gitpod/pull/5572

[2021-09-20 08:34] #5764 closed

[2021-09-20 09:53] akosyakov opened #5767 "[local app] resolve ssh connection does not always succeed although workspace is running"
### Bug description

<img width="469" alt="Screenshot 2021-09-20 at 11 46 43 AM" src="https://user-images.githubusercontent.com/3082655/133984148-c9c575a6-3ab9-4a72-9aa0-1d605c75e2ab.png">

We should also simplify the local app in the case of running build-in, i.e. it should not observe all workspace but only on demand.

### Steps to reproduce

See above.

### Expected behavior

_No response_

###

[2021-09-20 09:53] akosyakov commented on #5767
/schedule

[2021-09-20 09:54] #5762 closed

[2021-09-20 10:28] akosyakov commented on #5765
If there is a compatible version with 1.59 in Open VSX it would be already installed automatically.

[2021-09-20 10:33] gengjiawen commented on #5765
I am afraid it's not current behavior, I have to manually specific the version, see https://github.com/gengjiawen/crawler-toolbox/blob/0ad0dbdbb8930a945a3c0c6bc730e2e58b25b7a1/.gitpod.yml#L13.

Otherwise the install will fail as the pic show.

[2021-09-20 11:16] gtsiolis commented on #4456
Hey @ntziolis! FYI, We've added this feature request on the roadmap[[1](https://github.com/gitpod-io/roadmap/projects/1)] for the next quarter. 🗺️

[2021-09-20 11:29] akosyakov commented on #5765
Most likely the extension is not published properly to Open VSX, i.e. metadata don't have proper engine or something like that. Someone can debug and try to understand what is missing, but I don't think it makes sense since we are targeting to bring 1.60 for everybody this week anyway.

[2021-09-20 12:07] gengjiawen commented on #5765
Not likely: https://github.com/firsttris/vscode-jest-runner/blob/41a2a1e2b4a700b9832d49738dd2c767745038ef/package.json#L15

I am not saying this extension. But this default install feature has flaws when find plugin matching with current vscode.

[2021-09-20 12:12] ntziolis commented on #4456
Great to hear. This is currently blocking us from adopting the gitpod way of doing things.

Since we cannot use prebuilds (private npm registry), each dev currently creates a single pinned workspace per project and reuses it. This is because creating a new workspace per issue would take too long without prebuilds.

[2021-09-20 12:59] ivelin commented on #5746
Thank you for the clarification. We are using a custom image based on `gitpod/workspace-full`
https://github.com/ambianic/ambianic-edge/blob/master/.gitpod.Dockerfile

[2021-09-20 13:26] akosyakov commented on #5765
It is the same code which is used in VS Code Desktop which is used by all installations. We don't have any special handling in Gitpod.

[2021-09-20 13:37] #5328 closed

[2021-09-20 13:47] ChristinFrohne opened #5769 "Update start-up times for Gitpod vs Codespaces"
The first infographic on [Gitpod vs Codespaces](https://www.gitpod.io/gitpod-vs-github-codespaces) from September 2020 is outdated and needs an update.

@jankeromnes listed the steps to reproduce the current example [on slack](https://gitpod.slack.com/archives/C01LDA27WJC/p1630675207109300?thread_ts=1630667805.105900&cid=C01LDA27WJC)

While looking into this, it would also be great if this sentenc

[2021-09-20 13:57] svenefftinge opened #5770 "No logs when visiting a running prebuild"
Reproduce:
 - start prebuild
 - go to prebuild page and follow logs
 - at a later point (during uploading image) reload page and see that there are no logs.

[2021-09-20 13:58] csweichel commented on #5430
With the new image-builder we'll also support buildkit during workspace image builds. Expect this to be available within the next two weeks.

[2021-09-20 14:01] svenefftinge opened #5771 "Rerunning Prebuild does nothing"
When clicking "Rerun Prebuild" on a branch (or "retrigger" on prebuild list the action name should be the same as on branches I think) nothing seam to happen.
<img width="1125" alt="Screenshot 2021-09-20 at 15 59 15" src="https://user-images.githubusercontent.com/372735/134015540-1c1d0057-3b7d-4ae4-b960-a3843c03c210.png">

[2021-09-20 14:48] bbartels commented on #5090
Same, been a paying customer for two months but have not been able to use my .NET workloads on the service :/ @csweichel

[2021-09-20 14:53] svenefftinge opened #5772 "Prebuilds order is not stable"
Go to https://gitpod-staging.com/t/gitpod-io/gitpod/prebuilds
and see how the prebuilds are orderd by triggertime desc. Now go into the details of one prebuild and click on the project again (on the top). The prebuilds are now not sorted anymore.
<img width="1181" alt="Screenshot 2021-09-20 at 16 53 15" src="https://user-images.githubusercontent.com/372735/134023789-07c369c0-21f9-4326-99e0-69d31f8

[2021-09-20 15:03] danroot commented on #5090
I'm evaluating gitpod for my company, but no working dotnet is a show-stopper.

[2021-09-20 15:07] MrSimonEmms commented on #5090
@eByte23 @bbartels @danroot have you tried the workaround detailed in https://github.com/gitpod-io/gitpod/issues/5064#issuecomment-899326802?

[2021-09-20 15:11] geropl commented on #5551
Closing now as I consider the first round of logging cleanup as finished. Needless to say that this is a process we have to keep repeating! :slightly_smiling_face:

[2021-09-20 15:11] #5551 closed

[2021-09-20 16:11] tommygonzaleza opened #5773 "Is not letting me open any workspace"
### Bug description

When I try to open any workspace, this is showing up:
![image](https://user-images.githubusercontent.com/56565994/134035831-13ce40c2-31f6-4dd5-abab-179b1566ca0e.png)

### Steps to reproduce

Go to workspaces, and click on the name to open it.

Or trying to opening them from github with the extension

### Expected behavior

Open the workspace

### Example repository

https://gi

[2021-09-20 16:13] jankeromnes commented on #5773
Hi @tommygonzaleza! Thank you for reporting this problem.

We're currently investigating an incident in the US cluster (workspaces not starting, increasing failure rate): https://www.gitpodstatus.com/

This is likely related, and we're working on resolving this as soon as possible. Sorry for the disruption.

[2021-09-20 16:20] jankeromnes commented on #5773
We've identified and fixed a problem, and US service is recovering. We're continuing to monitor the situation, but Gitpod should now basically work again in the US.

[2021-09-20 16:27] jankeromnes commented on #5773
Incident resolved :) https://www.gitpodstatus.com/incidents/zvzg25zpw4g9 thanks again for the report!

[2021-09-20 16:27] #5773 closed

[2021-09-20 16:34] JohannesLandgraf commented on #3738
@shaal and myself did a demo today and received the feedback that showing more information here / being more transparent would help a lot

[2021-09-20 17:00] #5763 closed

[2021-09-20 17:52] danroot commented on #5090
@MrSimonEmms I was able to get that to work for a console app, not asp.net core, but I think that's more a dotnet/docker network issue and will open separate issue if I can't resolve on my own.  Running/building through docker is definitely not ideal though, as it adds a layer not otherwise needed.

[2021-09-20 18:53] #5661 closed

[2021-09-20 19:44] scottbradybuckii commented on #5261
@akosyakov Any gitpod workspace that I use seems to have this same issue. I have a hello world repo that is producing the same error: https://github.com/scottbradybuckii/gitpod-local-errors

[code]

The gitpod-local-companion version is `gitpod-local-companion version main.1440`
I am running on Arch Linux

[2021-09-20 20:53] mikenikles opened #5774 "Let the marketing website know who's logged in"
In https://github.com/gitpod-io/website/pull/973, we would like to dynamically update the header nav based on the following criteria:
* Anonymous visitor: Display "Sign Up" and "Login" buttons
* Signed in visitor: Display a "Dashboard" button instead of the "Sign Up" and "Login" buttons

There's a `gitpod-user=loggedIn` cookie, but the website sets that for each visitor so that the Gitpod login sc

[2021-09-21 00:08] aledbf commented on #3978
Still an issue https://cloudlogging.app.goo.gl/R2qpZfNZJLGp8TmK7

[2021-09-21 00:44] eByte23 commented on #5090
@MrSimonEmms as @danroot has outlined above, the workaround doesn't work for all situations.

Big thing for myself is it breaks all intelligence for code base.

Running through docker I think I did get it to build original when I tried, but I don't want to be dependent on docker directly in my repo for the dev time experience.

[2021-09-21 01:39] ghuntley opened #5777 "housekeeping(dei): improve choice of language"
From https://github.com/gitpod-io/gitpod/pull/5581#issuecomment-914909750

[2021-09-21 06:34] akosyakov commented on #5261
Could you share logs of the local companion with me please? You can send them to anton@gitpod.io

[2021-09-21 06:59] akosyakov commented on #5767
We should also exit the local app after some timeout if it is running like build-in and all requested workspaces are stopped.

[2021-09-21 07:43] MrSimonEmms commented on #5491
I've had a call with @laushinka about this. I propose that we don't solve this issue in the existing Helm charts, but we solve the issue in the Installer. This means that it'll be a (slightly) slower fix, but will be a much better solution to the problem.

[2021-09-21 07:44] MrSimonEmms commented on #5491
/assign

[2021-09-21 07:48] geropl commented on #5770
During upload of the backup you mean? We should have the log uploaded by then, and also serve it. Sounds a bit like a broken re-try or sth.

Could also be a consequence of https://github.com/gitpod-io/gitpod/pull/5688: I noticed that this caused some prebuilds to not properly upload logs and backups.

[2021-09-21 08:23] atduarte opened #5778 "Add a method to forward a specific port to local app api"
When opening a workspace with Jetbrains IDEs, we will need to establish an SSH connection and forward the IDE backend port. Currently, the only options would be to:
1. Use the local app to auto-tunnel all ports of the workspace. Not ideal as the IDE will also port forward after the connection is established showing random ports to the users.
2. Implement port forwarding in the local IDE plugin. No

[2021-09-21 08:24] jcayzac opened #5779 "gitpod requests access to all my github repos"
### Bug description

GitPod requests access to all my GitHub repos, not just the repo(s) I want to use with GitPod.

### Steps to reproduce

- Add your repo after `gitpod.io/#` and launch.
- GitHub asks to grant access to all repos.

### Expected behavior

GitHub asks to grant access to that repo only, or to filter which repos can be accessed. I know this is supported, because I just went through

[2021-09-21 08:37] laushinka commented on #5737
@geropl and I started investigating the issue yesterday. We checked the activities of this user on Chargebee and in the logs: the user tried to pay on 21 July but the credit card failed due to insufficient funds. Since this was never paid, when the user tried to upgrade their account again, Chargebee rejected it and responded with an error, thus blocking the user from continuing with checkout. In

[2021-09-21 08:39] jankeromnes commented on #5779
Hi @jcayzac!

Thank you for the feedback.

Unfortunately, this is a limitation of GitHub's OAuth apps, which are different from "GitHub Apps". For somewhat complicated reasons, Gitpod uses both an OAuth app and a GitHub app:

- OAuth app: Works with scopes
  - Used to log in to Gitpod (only requires a valid email address)
  - Works even if you provide no access at all (i.e. Gitpod can clone your p

[2021-09-21 09:12] jcayzac commented on #5779
Thanks for the long explainer.

[2021-09-21 09:12] #5779 closed

[2021-09-21 09:24] gtsiolis commented on #4640
Closing this as we've deprecated Theia in favor of VS Code editor, see https://github.com/gitpod-io/gitpod/issues/4459 and https://github.com/gitpod-io/gitpod/issues/4486.

[2021-09-21 09:24] #4640 closed

[2021-09-21 10:08] jankeromnes commented on #5771
Happy to take a look at this after https://github.com/gitpod-io/gitpod/issues/5374 and https://github.com/gitpod-io/gitpod/issues/5612 (but not assigning myself right now in order to limit work-in-progress -- please feel free to take this issue if you want it 😊)

[2021-09-21 10:43] svenefftinge opened #5782 "[configurator] Show latest default branch prebuild"
When I go to the configurator, it should show me the logs of the latest prebuild.
Currently it shows:
<img width="1130" alt="Screenshot 2021-09-21 at 12 41 44" src="https://user-images.githubusercontent.com/372735/134157213-61a4b558-73c4-4d20-9252-f29a9d9c96c3.png">

although there has been a recent prebuild.

[2021-09-21 12:19] gtsiolis opened #5784 "Do now allow prebuild re-triggering on successful prebuilds"
### Problem to solve

Following up on the [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1627030449477400?thread_ts=1627026808.472200&cid=C021Q4BL8E8) (internal) about triggering prebuilds, we should not allow users to trigger prebuilds for successful prebuilds. Cc @AlexTugarev @jankeromnes @svenefftinge

Leaving the trigger option could create more confusion, especially as :

[2021-09-21 12:53] YosanAI commented on #5758
When the app launches port:3000 i get :
`Port 3000 Not Found

Please make sure this port is exposed and your application is up and running`

The project I want to work on is [this](https://github.com/YosanAI/XREngine)
I forked the project to add `.gitpod.Dockerfile` and `.gitpod.yml` you can find the forked version [here](https://github.com/YosanAI/XREngine)
 You can find more info about my issue

[2021-09-21 12:54] svenefftinge opened #5785 "Simplify the Project Configuration page by using the Workspace Start page to show Prebuild logs"
Instead of showing the logs on the right handside we should just forward to running workspace with prebuild.
This will make it simpler for us and users, because the loading screen is already more mature and users will end up in a new workspace (they even have all the capabilities to skip prebuild, use default images, etc.)
Furthermore the UI is less crowded (more space for the editor).

We should

[2021-09-21 12:59] YosanAI commented on #5758
This [doc](https://www.gitpod.io/docs/config-ports) says that only Http servers can be exposed on Gitpod.
`Ports are mapped to their own URLs. In a workspace you can get the URL mapped to a port using gp url <port>. At the moment you can only expose HTTP servers.`

[2021-09-21 13:02] ArthurSens opened #5786 "[gpctl] Missing modules in go.sum"
### Bug description

When compiling `gpctl`, it fails with the error:
[code]

### Steps to reproduce

[code]

### Expected behavior

Compiling should succeed with no error

### Example repository

_No response_

### Anything else?

Our current deployment pipelines depend on `gpctl` to shift traffic between clusters. We're currently unable to use automation because we need to make manual fixes to m

[2021-09-21 13:05] atduarte commented on #5778
We have another related issue. As the IDE backend port will be internal, the local app is incapable of tunneling it (see[ internal discussion](https://gitpod.slack.com/archives/C02CBKZEVS8/p1632226236132700?thread_ts=1632213062.126900&cid=C02CBKZEVS8)).

The plan is to proceed with https://github.com/gitpod-io/gitpod/issues/5642 first.

/cc @akosyakov

[2021-09-21 13:08] jankeromnes commented on #5785
I agree that this change has a lot of benefits, and see the following pros and cons (mostly the same as what you said):

Pros:
- Simplifies the Configurator UI (becomes just an editor)
- Simplifies the dashboard (goes from 3 different "Prebuild views" to just 2: the logs of a Prebuild, and "Prebuild in Progress" in start screen)
- Better reflects the different prebuild stages (image build, allocat

[2021-09-21 13:48] aledbf opened #5790 "[ws-daemon] Random runc errors"
### Bug description

Unexpected runc exit status `open /sys/fs/cgroup/cpuset/gogogo/cpuset.cpus: no such file or directory`

[code]

### Steps to reproduce

N/A

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-21 13:50] aledbf commented on #5790
@csweichel ping. This issue canceled today's deployment (gen17)

[2021-09-21 14:02] svenefftinge opened #5791 "[dashboard] branch details"
We should have a branch detail page, which would show
 - the last and any prebuilds before that
 - a link to remote repo and branch

[2021-09-21 14:08] geropl commented on #5701
This seems to be caused by two "update d_b_workspace_instance" calls racing each other: we're not using locks/transactions on DB tables explicitly.

Innodb executes all singular statements insides transparent transaction. If those statements require to update the same row the "deadlock" message is thrown (cmp. [docs](https://dev.mysql.com/doc/refman/5.7/en/innodb-deadlocks-handling.html), esp.: `I

[2021-09-21 14:08] #5701 closed

[2021-09-21 15:06] phimae commented on #5737
Thanks for the fix, Laurie! I think this would be @ChristinFrohne. I will respond to the respective slack thread

[2021-09-21 15:47] csweichel commented on #5790
It's surprising this is showing up now. The root cause might be that all ws-daemon init container use the same "container name", which means they use the same cgroup paths. It's conceivable that they'd interfere. I'll raise a PR to fix this.

[2021-09-21 15:48] csweichel commented on #5790
It's surprising this is showing up now. The root cause might be that all ws-daemon init container use the same "container name", which means they use the same cgroup paths. It's conceivable that they'd interfere. I'll raise a PR to fix this.

[2021-09-21 17:14] #5790 closed

[2021-09-21 18:23] #5786 closed

[2021-09-21 20:40] beriberikix opened #5814 "Enable (or unblock) Web APIs for interacting with devices such as WebUSB, Web Serial & Web Bluetooth"
Hello! We're in the hardware/IoT space and for our use case we need to interact with physical devices on a users machine for programming & debugging. One straightforward approach is to leverage W3C APIs for [WebUSB](https://wicg.github.io/webusb/), [Web Serial](https://wicg.github.io/serial/) & [Web Bluetooth](https://webbluetoothcg.github.io/web-bluetooth/) that are currently available in Chromiu

[2021-09-21 20:59] beriberikix opened #5801 "SSO integration from a 3P for the cloud edition"
We're looking to integrate Gitpod into our public documentation/tools and as part of our primary developer experience (we <3 it!) One challenge we want to overcome is the UX for new users to Gitpod. When  on our site, they'll have an account with us and presumably not an account on Gitpod. When they launch a new dev environment, they then need to pick an IDP, go through whatever steps they need fo

[2021-09-22 00:14] aledbf opened #5804 "[blobserve] Should serve pre-compressed static assets"
Similar to what [caddy provides](https://github.com/caddyserver/caddy/blob/master/modules/caddyhttp/fileserver/staticfiles.go#L284-L310) in order to avoid compressing every request.

[2021-09-22 00:14] aledbf commented on #5804
/team workspace

[2021-09-22 05:12] #5734 closed

[2021-09-22 06:37] akosyakov commented on #5642
/schedule

[2021-09-22 06:37] roboquat commented on #5642
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5642#issuecomment-924630037):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-22 08:11] akosyakov commented on #3059
/schedule

[2021-09-22 08:11] roboquat commented on #3059
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/3059#issuecomment-924689910):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-22 09:21] JanKoehnlein commented on #5770
/schedule

[2021-09-22 09:21] roboquat commented on #5770
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5770#issuecomment-924744164):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-22 09:22] JanKoehnlein commented on #5519
/schedule

[2021-09-22 09:22] roboquat commented on #5519
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5519#issuecomment-924744640):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-22 09:22] gbraad opened #5807 "Inclusion of the Tomorrow Night Bright extension"
Would it be possible to allow the use of

  * https://marketplace.visualstudio.com/items?itemName=ms-vscode.Theme-TomorrowKit

At the moment there is a Tomorrow Night Blue theme that does not do it for me ...

Note: [ref 1](https://twitter.com/gbraad/status/1435497212201504774), [ref 2](https://twitter.com/gbraad/status/1392374386062155776)

[2021-09-22 09:22] JanKoehnlein commented on #5331
/schedule

[2021-09-22 09:22] roboquat commented on #5331
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5331#issuecomment-924744946):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-22 09:24] JanKoehnlein commented on #5771
/schedule

[2021-09-22 09:24] akosyakov commented on #5807
License looks good, but since it is MS i don't expect them publishing to Open VSX. You can file an issue and PR here to auto publish with service account: https://github.com/open-vsx/publish-extensions

cc @jankeromnes

[2021-09-22 09:24] #5807 closed

[2021-09-22 09:24] akosyakov commented on #5807
Yeah, twitter is not the best support channel.

[2021-09-22 09:26] JanKoehnlein commented on #5774
/schedule

[2021-09-22 09:26] roboquat commented on #5774
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5774#issuecomment-924747631):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-22 09:28] gtsiolis commented on #5331
Friendly reminder, this is only needed when Teams & Projects is enabled for a user. 🎗️

[2021-09-22 10:06] gbraad commented on #5807
It was a question ;-)

Will see what I can do to et this... so wondering how the blue theme got there.

[2021-09-22 10:18] HonkingGoose opened #5808 "Use GitHub Discussions instead of `community.gitpod.io`"
## Problem

The `community.gitpod.io` site requires a new account.
I don't like having many accounts for things like this. I would much prefer to be able to use my GitHub account to get help. 😉

## Proposed solution:

I would like this project to use the GitHub Discussions feature, instead of using a separate site.
Learn more about GitHub discussions in the official GitHub docs: https://docs.githu

[2021-09-22 10:20] gbraad commented on #5807
It seems the repository https://github.com/microsoft/vscode-themes/ is a shared one, and https://github.com/microsoft/vscode-themes/tree/main/tomorrow is specific for the packaging of the Tomorrow Theme. Not sure about the format:

https://github.com/gbraad/open-vsx-publish-extensions/commit/08f7f6f5c05032beecb1f3f24bc8925d9bea2e7e

[code]

[2021-09-22 11:11] bbartels opened #5810 "Ability to specify resource usage targets for workspaces"
The ability for users to specify a resource target for workspaces may be beneficial.
I have a couple workspaces that will never require the default 30GB persistent storage/12GB ram/7vCPU default that Gitpod provides.
Adding configuration to .gitpod.yaml to allow users to specify the maximum number of resources one would require within a given workspace, would allow for smarted provisioning of reso

[2021-09-22 11:35] laushinka commented on #5737
After discussing with @geropl, once @ChristinFrohne informs the user, we can close this ticket. The decision is due to the following considerations: 1) This is a rare case, 2) The task of sending a response to the frontend is currently not testable due to [not being able to run a Chargebee test environment](https://gitpod.slack.com/archives/C01KGM9EBD4/p1632229699201500).
New issues will be create

[2021-09-22 12:08] pawlean commented on #5808
I like this idea a lot! I've proposed it internally (and shared your thoughts!) Thank you for sharing :)

[2021-09-22 13:05] akosyakov commented on #5814
We could try to contribute to VS Code to resolve it. Adding to prod inbox to decide.

[2021-09-22 13:19] csweichel commented on #5753
/assign

[2021-09-22 13:19] csweichel commented on #5753
first step: https://github.com/gitpod-io/gitpod/pull/5755

[2021-09-22 13:25] 0Grit commented on #5814
https://github.com/microsoft/vscode/pull/117786

[2021-09-22 13:34] #5538 closed

[2021-09-22 13:35] csweichel commented on #5689
/assign @aledbf

[2021-09-22 13:37] #5708 closed

[2021-09-22 13:37] #5253 closed

[2021-09-22 13:39] csweichel commented on #5573
/schedule

[2021-09-22 13:39] roboquat commented on #5573
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5573#issuecomment-924940521):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-22 14:03] akosyakov commented on #5261
It seems that your workspace is running us15 and it looks like https://github.com/gitpod-io/gitpod/commit/0564c20b9b9a2c25270bd378be908593c92ea0c3#diff-65cc0869db34e619521c73193ee38a940a8e56d627b7573cb1351fb2cd690af3 change was not deployed there yet. @wulfthimm is it correct?

[2021-09-22 14:49] #5737 closed

[2021-09-22 15:12] aledbf commented on #4938
Yesterday we had a full disk event where one workspace was using almost 1TB.

[2021-09-22 15:16] laushinka commented on #5066
@gtsiolis Should we go with this proposal for now?

[2021-09-22 15:33] meysholdt commented on #4938
Post-Mortem issue from yesterday's incident: https://github.com/gitpod-io/security/issues/4 I'm closing it as a duplicate of this issue.

[2021-09-22 15:53] csweichel commented on #5758
I was able to replicate the issue. A simple example:

[code]

The former curl works, the latter doesn't.
We could have ws-proxy accept insecure HTTPS servers in workspaces.

[2021-09-22 16:35] Moritz-Hoeppner opened #5816 "Gitpod not working properly in the US"
### Bug description

This morning I could not start any workspaces in gitpod. I am accessing from the US.
Now the extension store seems to be down.
![image](https://user-images.githubusercontent.com/43564759/134384940-a292046a-5731-41cd-b696-bbe9740bc9c6.png)

### Steps to reproduce

Open a workspace from the US.

### Expected behavior

_No response_

### Example repository

_No response_

### Any

[2021-09-22 17:24] piniondevs commented on #5816
Yeah same thing happened to me too.

[2021-09-22 17:32] tahlilma commented on #5816
I actually made opened the same issue a few months ago which you can read right here.
[https://github.com/gitpod-io/gitpod/issues/4600](url)
Last time it fixed itself and hopefully that happens this time too.

[2021-09-22 17:42] jefedeoro opened #5817 "Marketplace extentions not available."
### Bug description

Can not load any extentions.

We cannot connect to the Extentions Marketplace at this time, Please try again later.

### Steps to reproduce

open the project https://gitpod.io/#....
Marketplace not available.

### Expected behavior

Marketplace loading

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-22 17:46] #4478 closed

[2021-09-22 18:52] philschatz commented on #4904
Hello :wave: ! It seems this proxy has a problem. https://open-vsx.gitpod.io/vscode/gallery/extensionquery seems to have the wrong certificate so installing extensions no longer works (see screenshot).

![image](https://user-images.githubusercontent.com/253202/134404049-192533bd-99f4-4a84-a4db-ff99e53c9751.png)

[2021-09-22 19:40] meysholdt commented on #5816
Thank you for bringing this up and apologies for the trouble. The issue has also been reported here: https://github.com/gitpod-io/gitpod/issues/5817

[2021-09-22 19:40] #5816 closed

[2021-09-22 19:41] #5817 closed

[2021-09-22 19:43] meysholdt commented on #4600
This issue was resolved back in June. It looks like we forgot to close it back then. Doing that now.

[2021-09-22 19:43] #4600 closed

[2021-09-22 19:56] jefedeoro commented on #5817
Thank you

[2021-09-22 22:04] Moritz-Hoeppner commented on #5816
Everything works again. Thank you. Greeting from Nordakademie :)

[2021-09-22 23:42] #5413 closed

[2021-09-23 01:51] Merith-TK commented on #332
HEY need a new invite link

[2021-09-23 01:57] Merith-TK opened #5821 "archlinux support for containers"
I have been trying to get gitpod to launch a archlinux base container
https://github.com/Merith-TK/gitpod-workspace
And have had *somewhat* sucess outside of errors such as `/etc/pacman.conf` not actually existing, yet existing at the same time for some weird reason, along with `alpm` failing to load.

Do note, this container starts just fine when using docker build so I have zero clue wtf the git

[2021-09-23 02:46] bigint opened #5822 "Able to change profile name and email"
It would be great if there is an option to update the profile name and email, for not it seems like the input field is disabled 🤔

[2021-09-23 03:03] bigint commented on #5771
Can normal users able to see this option in gitpod.io?

[2021-09-23 03:05] axonasif commented on #5712
I'm waiting for the aarch64 build of `local-companion-app` binary for being able to use it on my ARM device.
Or would it be possible to use if I mange to compile https://github.com/gitpod-io/gitpod/tree/main/components/local-app for my CPU architecture?

I also created an [issue](https://github.com/gitpod-io/gitpod/issues/5320).
Thanks, waiting for it eagerly.

[2021-09-23 04:59] axonasif commented on #5712
Update:
So I was able to cross-compile `local-companion-app` component for aarch64(arm) directly from Gitpod itself and it works!
![2021-09-23-103539_1598x720_scrot](https://user-images.githubusercontent.com/39482679/134455942-d8e43542-5e16-4b8a-beb8-2b618ff8bfc1.png)

Although I'm a bit confused after reading [this page of Gitpod documentation](https://www.gitpod.io/docs/develop/vscode-desktop-su

[2021-09-23 05:11] aggmoulik commented on #4656
@AlexTugarev is anyone working on the issue?

[2021-09-23 06:04] akosyakov commented on #5712
`Open in VS Code` brings own version of the local companion, it does not use own which is configured by a user. You don't need manually install the local companion when you are using VS Code Desktop, but it can still be used standalone for other use cases like for VIM users.

Please file an issue to support such architecture as well that VS Code Desktop downloads the proper version.

For now there

[2021-09-23 06:05] akosyakov commented on #5261
@scottbradybuckii Yesterday all clusters were updated. Could you try again?

[2021-09-23 06:10] pawlean commented on #332
Hey @Merith-TK! We have an official Discord server now: https://gitpod.io/chat Come and join us!

[2021-09-23 06:54] JanKoehnlein commented on #5771
@bigint We are currently rolling out this feature to selected users for beta testing. Are you interested?

[2021-09-23 07:00] bigint commented on #5771
Of course why not 😄 I DMd my Gitpod email do your Discord

[2021-09-23 07:03] Shigetorum635 commented on #5692
Update: Apparently it is random? Sometimes happens othertimes not.

[2021-09-23 07:03] #5692 closed

[2021-09-23 07:11] axonasif commented on #5320
As mentioned in https://github.com/gitpod-io/gitpod/issues/5712#issuecomment-925507834, I could compile `local-app` component for arm64 architecture with the following command:
[code]
This would mean to support the RaspberryPi and other ARM based devices if Gitpod would provide binaries for the arm64 architecture officially :smiley:

I can download VSCODE for arm64 from this official link: https:/

[2021-09-23 07:12] jankeromnes commented on #5772
Should be fixed in https://github.com/gitpod-io/gitpod/pull/5809

[2021-09-23 07:14] gbraad commented on #5807
https://github.com/open-vsx/publish-extensions/pull/445

[2021-09-23 07:15] jankeromnes commented on #5374
The new spinner is now merged, but the initial attempt to add visual feedback to the `Trigger Prebuild` button failed and we decided to close the PR. One step back, two steps forward. 🔜

[2021-09-23 07:18] axonasif commented on #5712
Hi @akosyakov, thanks for clarifying it.

I just bumped a pre-existing issue https://github.com/gitpod-io/gitpod/issues/5320#issuecomment-925557804

I am unable to find this settings on my VSCODE. Also another odd thing is that there are two identical extensions available in the marketplace, which feels confusing.

![2021-09-23-131536_1598x720_scrot](https://user-images.githubusercontent.com/39482

[2021-09-23 07:27] akosyakov commented on #5712
This setting is not public, just open json file and add it.

One extension is running in your local VS Code to open SSH window, another is running in Gitpod workpsace to integrate with Gitpod tasks and so on. Do you think we can do something to clarify it? You actually does not need to install them, VS Code will do it for you at proper timing.

[2021-09-23 07:28] akosyakov commented on #5320
@axonasif PRs are welcomed as well!

[2021-09-23 07:32] axonasif commented on #5712
Got it.

Oh, these weren't automatically installed. I'm not sure, could be a issue on my side.

[2021-09-23 07:39] corneliusludmann opened #5823 "[proxy] Disable debug logging for OpenVSX cache proxy"
Currently, the logging of the OpenVSX cache proxy in production is pretty loud. It's good to have this in production for some weeks to make sure the proxy works as expected but in the long term, we should remove the debug logs.

I would propose we keep the logs until Oct 29th and remove them afterward.

[2021-09-23 07:44] axonasif commented on #5320
Sure thing! Although I'm not sure what's responsible for producing the binaries and pushing them to `gitpod.io/static/bin` as in the blog post: https://www.gitpod.io/blog/local-app#installation

https://github.com/gitpod-io/website/tree/main/static seems to be it but not exactly 😅

[2021-09-23 07:47] akosyakov commented on #5712
Did you do `Open in VS Code` from web version? VS Code Desktop should ask you then do you want to install Gitpod extension?

[2021-09-23 07:53] axonasif commented on #5712
I did. I use Gitpod from Firefox. After clicking on the button a new empty file with some encoded gitpod.io url in the file-name opens up on my VSCODE.

Please take a look at the VSCODE window on right-side of this screenshot. For the left window I had to manually run `local-companion-app` and then connect via `Remote - SSH` extension in VSCODE.

![2021-09-23-102456_1598x720_scrot.png](https://use

[2021-09-23 08:00] gtsiolis commented on #4656
@aggmoulik no one is working on this at the moment. Is this a blocking issue for you?

[2021-09-23 08:13] akosyakov commented on #5320
Apps are compiled with: https://github.com/gitpod-io/gitpod/blob/main/components/local-app/BUILD.yaml
Published with: https://github.com/gitpod-io/gitpod/blob/d54282c8ed59dd5b48373253bd6f26685cff9ec1/components/dashboard/leeway.Dockerfile#L19-L21

[2021-09-23 08:16] #4936 closed

[2021-09-23 08:16] akosyakov commented on #4199
It happened to me on reconnection during opening then ide is never get started.

[2021-09-23 08:19] corneliusludmann opened #5824 "[VSCode] Extension host process does not start in some cases"
### Bug description

I have some trouble with opening branches / PR of gitpod-io/gitpod with the latest VSCode in PROD. E.g. when I open [this prebuilt PR](https://github.com/gitpod-io/gitpod/pull/5795) (happens also with other prebuilt branches on gitpod-io/gitpod), I see the following symptoms:
- The Gitpod menu entries ar disabled.
- Running the command open components/server hangs forever.
- T

[2021-09-23 08:20] akosyakov commented on #5824
/schedule

[2021-09-23 08:26] meysholdt opened #5825 "Fix HTTP metrics in "server" dashboard"
Our metric endpoint gitpod_server_http_requests_total should not export the "query" part of the URL inside the route label, because it leads to too many different values for the "route" label and break the HTTP metrics in the "server" dashboard.

See https://github.com/gitpod-io/observability/issues/260 for details and examples.

[2021-09-23 08:29] meysholdt opened #5826 "Enable XFS for preview envs"
Just like we have it in prod already.

This is needed to implement https://github.com/gitpod-io/gitpod/issues/4938.

[2021-09-23 08:36] akosyakov commented on #5643
/schedule

[2021-09-23 08:36] roboquat commented on #5643
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5643#issuecomment-925609561):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-23 08:37] akosyakov commented on #5643
/assign @atduarte

[2021-09-23 08:41] akosyakov commented on #5814
/schedule

We agreed to try to move https://github.com/microsoft/vscode/pull/117786 forward.

[2021-09-23 08:41] roboquat commented on #5814
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5814#issuecomment-925614000):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-23 08:43] JanKoehnlein commented on #4936
The original issue has been worked around, and there are lots of changes since then in the handling of pre-builds. Feel free to  add new issues if the problem persists in a similar way.

[2021-09-23 08:48] JanKoehnlein commented on #5254
Not sure what the action on this could be. @svenefftinge mentioned a predicate in `ws-manager-bridge` to be checked ([this one?](https://github.com/gitpod-io/gitpod/blob/c00a164e49a3cc48eb38aefc9bac315fe9e5c9ce/components/ws-manager-bridge/src/meta-instance-controller.ts#L41)). Other than that I'd close this issue in favor of new, more actionable ones

[2021-09-23 08:52] JanKoehnlein commented on #5825
/schedule

[2021-09-23 08:52] roboquat commented on #5825
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5825#issuecomment-925621588):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-23 08:55] JanKoehnlein commented on #5769
Could this be handled in DCS? @ghuntley or @mikenikles ?

[2021-09-23 09:22] akosyakov commented on #5320
We don't have capacity to handle it right now. Let's try in a week or 2.

[2021-09-23 09:23] akosyakov commented on #5712
It looks wrong, maybe vscode URI system handler does not work on arch linux :(

[2021-09-23 09:26] #5772 closed

[2021-09-23 09:29] axonasif commented on #5712
Okay so I finally made the `Open in VS Code` button to work on my ARM device. `--open-url` parameter was missing in my `vscode` installation `$HOME/.local/share/applications/code-url-handler.desktop`file. I also had to specify a custom path for `local-app` since this is an ARM device. Thanks to @akosyakov for providing me a tip above!

One thing I should mention is that I had to use `Open in VS Co

[2021-09-23 10:44] jankeromnes commented on #5771
@bigint you can enable this new Teams & Projects UI by visiting `/new`, and then create teams & add projects 😁 notes:
- Some features are still a bit rough / may not work properly. If anything looks off, please report 😊🙏
- The new Teams are unrelated to the current Team Plans (i.e. you can create and manage them totally independently -- we're thinking about migrating legacy Team Plans to the new T

[2021-09-23 10:56] svenefftinge opened #5830 "[VS Code] Signal to users that your are using the insiders build (or latest)"
I had switched to latest some time back and now got surprised by a non-functional IDE.
Users should be reminded somehow that they are running latest.

[2021-09-23 11:04] JanKoehnlein commented on #5198
We're currently still swamped, but this issue will be definitely reconsidered when you bring add it to groundwork again later.

[2021-09-23 11:08] atduarte opened #5831 "[Epic] Jetbrains Remote Development Support"
Implementation epic of https://github.com/gitpod-io/roadmap/issues/20

## Plan

- [x] #5603
- [x] #5643
- [ ] clean up the backed plugin to rely on supervisor info endpoint, see https://github.com/gitpod-io/gitpod/pull/6152#discussion_r728641112
- [x] #5642
- [ ] #5644
- [x] #5641
- [ ] #5778

[2021-09-23 11:35] ryneal opened #5832 "Code challenges/tests support"
I'd love to leverage Gitpod as a way to recruit and assess talent.

Tools such as Codility & TestGorilla force candidates to use the in-built web IDE, which is often difficult to work with and debug. Giving candidates a fair advantage where they have a real working environment to do a talent assessment test would be a vast improvement and give a more realistic assessment, hence improving talent ac

[2021-09-23 11:40] bigint commented on #5771
Thanks @jankeromnes

The first bug 😄

![image](https://user-images.githubusercontent.com/69431456/134500738-71d4c6b4-9ca7-4318-983a-44c39144a684.png)

[2021-09-23 12:50] bigint opened #5833 "Deadline exceeded while running manual prebuild"
### Bug description

![image](https://user-images.githubusercontent.com/69431456/134509547-5ed4dde4-73a5-446f-a23d-c9817de35320.png)

### Steps to reproduce

Trigger manual prebuild from config page with this config

[code]

[2021-09-23 12:50] bigint commented on #5833
/cc @jankeromnes

[2021-09-23 12:51] bigint commented on #5771
Created a new issue for this https://github.com/gitpod-io/gitpod/issues/5833

[2021-09-23 12:53] dragonDScript commented on #332
Deleted since the new server is more active

[2021-09-23 13:07] lechien73 commented on #5761
I am having a similar issue. The `init_tasks.sh` file runs when the workspace is initialised, but the `command` task does not run when it is restarted.

[code]

[2021-09-23 13:59] shafy opened #5834 "Gitpod GitHub app error when configuring existing organization"
### Bug description

When configuring the [Gitpod GitHub app](https://github.com/apps/gitpod-io) with a profile or organization that already was given access to single repos before, the following error appears after clicking "Save".

"Request registerGithubApp failed with message: ER_DUP_ENTRY: Duplicate entry 'github-1234-claimed.user' for key 'PRIMARY'".

Despite this error, the app is correctly

[2021-09-23 14:59] scottbradybuckii commented on #5261
@akosyakov It's working for me now, thank you!

[2021-09-23 15:00] #4511 closed

[2021-09-23 15:01] #5261 closed

[2021-09-23 15:08] #3051 closed

[2021-09-23 15:14] csweichel commented on #5381
/assign @rl-gitpod

[2021-09-23 15:15] csweichel commented on #4938
/schedule

[2021-09-23 15:15] roboquat commented on #4938
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4938#issuecomment-925910776):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-23 16:41] rfay commented on #3051
Yippeee!!!1

[2021-09-23 18:38] corneliusludmann commented on #5642
Based on the discussion with @akosyakov, @atduarte, and @csweichel I would suppose the following solution.

## Objectives

The goal is to allow us to add a second “IDE” to the workspace image. This second “IDE” is actually a backend service that allows to connect an external/remote IDE to the running workspace (e.g., a desktop IDE like IntellJ). If the remote IDE cannot connect for some reason or

[2021-09-23 20:29] bwklein commented on #768
This hugo server command enables live reload for me on Gitpod.

`hugo server -D -F --baseUrl $(gp url 1313) --liveReloadPort=443 --appendPort=false --bind=0.0.0.0`

[2021-09-24 00:57] Decipher opened #5845 "Extensions fail on latest VSCode"
### Bug description

When using the Latest VS code, extensions fail to initialise, tasks fail to run and there are no source control plugins available.

![image](https://user-images.githubusercontent.com/161090/134602478-2f329be7-24d6-4718-9cd0-c63359f2c4dd.png)

### Steps to reproduce

1. https://gitpod.io/preferences
2. Set to Latest VS Code
3. Run a GitPod: https://gitpod.io/#github.com/druxt/d

[2021-09-24 01:00] shaal commented on #5845
I noticed that today as well.
I don't think it was like that yesterday (not sure what changed)

[2021-09-24 01:36] rl-gitpod opened #5846 "Add 'out-of-band' workspace backup"
## The original description
Following on from #5751 which assumes that most of the Gitpod infrastructure is running effectively we should have the ability to backup from outside that infra i.e. from the nodes directly in the unlikely event that the Gitpod infrastructure is in a poor state.

This is achievable using a script to `gcloud compute ssh/scp` to log onto each node, find the required works

[2021-09-24 01:39] rl-gitpod commented on #5846
/assign

[2021-09-24 01:39] bigint opened #5847 "Project URL is not slugified for GitLab repos"
### Bug description

![image](https://user-images.githubusercontent.com/69431456/134605314-24aa2e2a-da0c-4e3d-bd34-2cf98ea38b10.png)

Here is how the URL looks like `https://gitpod.io/projects/Timesheet%20Remainder`

### Steps to reproduce

- Create new GitLab Repo with the name `Gitpod Test`
- Connect it to Gitpod projects
- Open the project and check the URL

### Expected behavior

https://gitpo

[2021-09-24 01:40] bigint commented on #5847
/cc @gtsiolis the GitLab expert 😄

[2021-09-24 01:41] rl-gitpod commented on #5846
/schedule

[2021-09-24 02:05] rl-gitpod commented on #5846
/assign @rl-gitpod

[2021-09-24 02:06] rl-gitpod commented on #5846
/unassign

[2021-09-24 02:06] rl-gitpod commented on #5846
/assign @rl-gitpod

[2021-09-24 04:55] DaveAuld opened #5850 "gitpod.yml validation and/or execution using the gp command"
I recently used `gp` to create the template `.gitpod.yml` file.
After editing I was looking at how I could validate or test the file, and found the process of stop and starting the workspace or creating a new workspace after pushing the file to the repo pretty tedious, especially after a few attempts of trying to achieve what I wanted.

It would be great if the `gp` command had an `--execute` and/

[2021-09-24 05:09] sheldonhull commented on #5321
I'm guessing I could compromise with this by having a github repo that defines just some scripts and gitpod config, inject in a secret for my access token and then clone inside the repo or as part of my bootstrap setup.

I don't think Azure DevOps integration is likely based on the future long-term compared to GitHub (most of the effort is now going to GitHub), but maybe a create work-around would

[2021-09-24 07:25] JanKoehnlein commented on #5523
@gtsiolis can you decide from the UX perspective and make this actionable?

[2021-09-24 07:28] JanKoehnlein commented on #5583
Are there any insights on the effort yet? Given the time until the official launch we should maybe postpone that and remove it from "needed for shipping"

[2021-09-24 07:29] corneliusludmann opened #5852 "[server] Move `vsxRegistryUrl` config value from `server-configmap.yaml` to `server-ide-configmap.yaml`"
~~@akosyakov: What is about the config value `codeSync`? Is it under IDE team responsibility as well?~~

[2021-09-24 07:30] akosyakov commented on #5852
Yes, it is too. But maybe with another issue, there we maybe need a restart of express application to pick up new settings.

[2021-09-24 07:32] corneliusludmann opened #5853 "[server] Move `codeSync` config value from `server-configmap.yaml` to `server-ide-configmap.yaml`"
https://github.com/gitpod-io/gitpod/issues/5852#issuecomment-926410072

[2021-09-24 07:45] pawlean commented on #768
Thank you @bwklein for the contribution! If anyone is reading this thread, we also have a Hugo x Gitpod template that works ✨ https://github.com/gitpod-io/template-hugo

[2021-09-24 07:46] jankeromnes commented on #4526
Very much agree! Thank you for suggesting this @vbuterin2. 🙏

We're currently considering adding a new Gitpod workspace cluster in Singapore. Please follow the progress by subscribing to this issue: https://github.com/gitpod-io/gitpod/issues/5534

[2021-09-24 07:46] #4526 closed

[2021-09-24 07:50] pawlean commented on #5845
Yeah, we've been seeing this across the board (internally too) I think @akosyakov is looking into this right now.

[2021-09-24 07:53] akosyakov commented on #5845
duplicate of https://github.com/gitpod-io/gitpod/issues/5824

[2021-09-24 07:53] #5845 closed

[2021-09-24 08:45] #5694 closed

[2021-09-24 08:48] akosyakov commented on #5761
@lechien73 Could you share workspace id please?

[2021-09-24 08:52] AlexTugarev commented on #5774
Hi @mikenikles! `gitpod-user=loggedIn` is set when you [successfully logged into the web app](https://github.com/gitpod-io/gitpod/blob/b3b1aed62f94874ad9e6af1fab2ad58bd05b9f4d/components/dashboard/src/Login.tsx#L73). It is not set just on a visit.

That should already be possible with the current state.

[2021-09-24 09:15] AlexTugarev commented on #5519
@gtsiolis, I created https://github.com/gitpod-io/gitpod/pull/5854 for the Gitpod icon part of this issue.

Please verify, that reloading from any team page redirects to gitpod.io. I could not reproduce it.

[2021-09-24 09:27] doppeldenken opened #5856 "Extension version on .gitpod.yml not honored"
### Bug description

The version specified in the `.gitpod.yml` is not honored by default.

### Steps to reproduce

For example:

[code]

Gitpod sometimes starts with the latest version, not the one specified, sometimes it starts with the specified version, but it updates after Gitpod is up and running:

![image](https://user-images.githubusercontent.com/59898907/134651194-b83926e1-7fc7-43a7-b5c7-

[2021-09-24 09:30] eduardoaemunoz commented on #5636
Found a fix:

[code]

The above is not necessary if using sops as root (`sudo su` before trying to decrypt).

See GnuPG [docs](https://wiki.archlinux.org/title/GnuPG#su).

Before closing this issue, I would like to know why we are not the owners of the pseudoterminal being used and if the above has any concerns regarding security, etc.

[2021-09-24 10:19] domderen commented on #3051
Hey, I still see Docker version 19 in gitpod. Could someone tell me how long could it take to deploy it?

[code]

[2021-09-24 11:08] laushinka commented on #5066
I'll unassign myself for now while we decide on an approach 🙏🏽

[2021-09-24 11:32] aledbf commented on #3051
@domderen the fix is already deployed. The update of docker in the workspace images will land next Monday
https://github.com/gitpod-io/workspace-images/pull/508

If you want to test docker 20 today you can update docker in any running workspace with
[code]

[2021-09-24 12:13] Sxpherr opened #5858 "Terminal does not load"
I have this issue for two days now, it always shows me that (I tried and different workspaces)![image](https://user-images.githubusercontent.com/66752592/134672339-f919a411-3c63-4fbe-882a-1cd0efb5aa4d.jpeg)

[2021-09-24 13:02] gtsiolis opened #5861 "Consider merging the unified workspaces list"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/5555, we've decided to merge the two Workspaces lists (Active, All) into one. However, we've split the list into two parts where active and pinned workspaces are grouped at the top of the page while stopped and inactive workspaces at the bottom of the list.

This is a follow-up issue to continue the discussion in https://github

[2021-09-24 13:03] akosyakov commented on #5858
Which version of VS Code do use latest or stable? Which versions of device, operating system, browser?

[2021-09-24 13:08] Sxpherr commented on #5858
I'm using ipados 15, firefox and the latest version

[2021-09-24 13:25] eduardoaemunoz commented on #5856
Actually the behaviour is back..

Just after starting Gitpod:

![image](https://user-images.githubusercontent.com/59898907/134681661-cd3c7249-52a9-453b-95b1-e7a779b84710.png)

As before, my .gitpod.yml:

[code]

It seems the right version is installed first, then the latest?

My settings in VSCode (are there other settings that could potentially help with this?):

`"update.mode": "none"`

`"extens

[2021-09-24 13:29] shaal opened #5862 "Cannot generate a workspace snapshot"
### Bug description

After opening DrupalPod in Gitpod, I open the hamburger menu on top-left corner, and choose `Gitpod: Share Workspace Snapshot`

I see `Capturing workspace snapshot` dialog -
![image](https://user-images.githubusercontent.com/22901/134681256-c4891509-15e3-46d8-b8ed-9c3b449e9f18.png)

After a few minutes, it displays an error -
![image](https://user-images.githubusercontent.com/

[2021-09-24 13:35] eduardoaemunoz commented on #5856
It's weird because in a different repository the correct version extension is installed. In this case, I have an init task. Could that have any impact at all? I'm going to trigger pre builds for the Gitpod that is buggy.

[2021-09-24 14:00] aledbf opened #5863 "Reduce verbosity of workspace logs skipping messages from extensions"
/team ide

internal link https://cloudlogging.app.goo.gl/whwPiuxNGTkWSdBT8

[2021-09-24 14:00] roboquat commented on #5863
@aledbf: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5863):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or suggestions related to my behav

[2021-09-24 14:01] roboquat commented on #5863
@aledbf: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5863):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or suggestions related to my behav

[2021-09-24 14:01] aledbf commented on #5863
/team IDE

[2021-09-24 14:01] roboquat commented on #5863
@aledbf: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5863#issuecomment-926649653):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or suggesti

[2021-09-24 14:28] csweichel commented on #5681
It's not that clear cut I'm afraid. We should talk through how we think the interfaces should look like

[2021-09-24 14:30] ArthurSens opened #5864 "[preview-environment] For monitoring-satellite werft job succeeds before ingress is ready"
### Bug description

When deploying a new preview with monitoring-satellite, the werft job succeeds before the ingress is ready.
![image](https://user-images.githubusercontent.com/24193764/134691232-2f574de8-4828-48c8-b13e-5571c47beed4.png)

This can be quite confusing as we try to access the Grafana or Prometheus URL and it returns an error. After waiting for the ingress to get ready, everything

[2021-09-24 14:32] gtsiolis commented on #5583
Thanks @JanKoehnlein! Moving this to the _Next Iteration_ for now unless we manage put some effort on this for next week.

[2021-09-24 14:40] gtsiolis commented on #5611
This seems to be still an issue, see another example:

However, let's move this to the _Next Iteration_ in the relevant project board[[1](https://github.com/orgs/gitpod-io/projects/7/views/3)] as this affects a really small set of prebuilds.

| Prebuilds List | Prebuild |
|-|-|
| <img width="1093" alt="p-1" src="https://user-images.githubusercontent.com/120486/134693419-2248b00a-6745-4243-bb01-49c

[2021-09-24 14:58] jankeromnes commented on #5611
Indeed, good catch!

I think that in some cases, when the prebuild instance fails (i.e. the [WorkspaceInstance](https://github.com/gitpod-io/gitpod/blob/5885a2afb65b4d0ebbf0a99d489ee40872773cf2/components/gitpod-protocol/src/workspace-instance.ts#L9-L54) has a failure condition and stops), for some reason the prebuild status is not updated (i.e. [PrebuiltWorkspace](https://github.com/gitpod-io/git

[2021-09-24 15:12] csweichel commented on #5642
@corneliusludmann Thank you for the detailed analysis and write-up. A few comments:
- `remote_ide_ref` in registry facade: I originally thought we could combine this with the content layer, but the ordering of things would break. It makes sense to maintain this as a separate field. To make the `SpecMappedImage` source handle an empty reference, you could return an empty `ImageLayerSource` [here](h

[2021-09-24 15:15] csweichel commented on #5758
After internal discussion we've decided to not add support for this feature at this time, because the local companion app solves this issue already, and provides a native/local experience.

I'll close this issue for now, please re-open if the local companion app does not solve the problem for you.

[2021-09-24 15:15] #5758 closed

[2021-09-24 15:24] gtsiolis commented on #5351
@jankeromnes since you added the loading indicator on the _Branches_ page in https://github.com/gitpod-io/gitpod/pull/5809, do you think it makes sense to do the same for the _Prebuilds_ page as it could be slightly slow to fetch prebuilds for active proejcts. For example, see https://gitpod.io/t/gitpod/gitpod/prebuilds. ❓

[2021-09-24 16:10] csweichel opened #5866 "[ws-manager-bridge metrics] Cluster score and cordoned metrics don't work"
### Bug description

The ws-manager-bridge cluster score metric does not change its value. The metrics are present though.

### Steps to reproduce

Observe this in production

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-24 16:10] csweichel commented on #5866
/schedule

[2021-09-24 16:10] roboquat commented on #5866
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5866#issuecomment-926752048):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-24 16:10] csweichel commented on #5866
/assign @csweichel

[2021-09-24 16:32] mteam88 opened #5867 "Docker unistalling"
### Bug description

Docker is installed on gitpod.io, but after closing and reopening the workspace, docker is (sometimes) no longer installed. When attempted to reinstall, the extension button thing says "Installing"
![Screenshot 2021-09-24 12 28 05 PM](https://user-images.githubusercontent.com/84196639/134709330-a07212ab-739c-4967-94ac-71db5f02e09e.png)
It continues like this and seems to be lo

[2021-09-24 17:38] meysholdt opened #5869 "Upgrade Docker in Werft"
The docker engine used by Werft is `Docker version 18.06.1-ce, build e68fc7a`.

We might want to something more recent, e.g. [`20.10.8-dind`](https://hub.docker.com/_/docker).

[2021-09-24 19:07] corneliusludmann commented on #5642
@atduarte Could you add a link to the internal discussion? How can I call the `status` method?

[2021-09-24 19:26] atduarte commented on #5642
@corneliusludmann done.

`remote IDE` sounds a bit confusing as the "remote" concept depends on context (the origin). For example "remote IDE" uses the "local app"—the same device is being called remote and local. I suggest using local IDE.

Unless something weird is being done, values in protobuf messages are identified by their index and the name of the attribute is not present. As such compatib

[2021-09-24 20:23] rroseselavy42 commented on #5867
encountering same issue in both vscode and vscode latest.

Looks like problem also does not allow manual extension install. I am not sure how to get more info to be helpful.

[2021-09-24 21:16] kelizoliva commented on #5867
Same issue here too!

[2021-09-24 22:39] jappyjan opened #5870 "Blank Terminal on iPad OS 15"
### Bug description

The Terminal stays blank on an iPad

Actual Behaviour:
Terminal Shows "Invisible" Characters and a blinking Cursor.
I can select stuff but i dont see a single character.
I can type but i dont see what i type
see screenshot for reference

![IMG_3174FC3941D1-1](https://user-images.githubusercontent.com/10154260/134746421-f1416d9f-a5b4-4c1f-8691-162003bd07b1.jpeg)
d.

### Steps t

[2021-09-25 00:26] aledbf commented on #5870
Closing. Duplicate https://github.com/gitpod-io/gitpod/issues/5040

Please check comment https://github.com/gitpod-io/gitpod/issues/5040#issuecomment-892376295 for a workaround

[2021-09-25 00:26] #5870 closed

[2021-09-25 09:27] #4516 closed

[2021-09-25 10:37] YosanAI commented on #5758
Was not able to install the local companion app on windows. It looks like a 64-bit software. Do you have the x86 version?

[2021-09-25 10:40] YosanAI opened #5872 "x86 Version of The local companion app."
I tried to install the local companion app for windows. But I am not able to open the installer. It gives me an error that it's not compatible with my version of windows. My windows version is x86.

[2021-09-25 17:01] LinqLover opened #5873 "Resuming a timed-out container does not rerun `gitpod.yml`"
### Bug description

I have experienced this issue several times: I am working in a container for some time (gitpod.io, no subscriptions), after some time of inactivity, it goes to sleep, and when I return to it, the `gitpod.yml` contents seem not to be re-run correctly. Concretely, my `gitpod.yml` contains a single task for installing node v16 (`nvm install 16`), but when I resume the container,

[2021-09-25 17:57] mteam88 commented on #605
Would love a "blank-template" in the template section. Make things a lot easier!

[2021-09-26 04:19] Adityak4201 opened #5875 "Docker is taking forever to install"
### Bug description

Whenever I open an existing workspace or create a new workspace, the docker extension starts installing and it keeps on installing forever. It is not completing its installation.

This issue is happening in all the workspaces.

Here is the snapshot of the workspace:
![image](https://user-images.githubusercontent.com/72034967/134793462-f1a9efac-35cf-4a09-b73b-2f4f24d1d724.png)

[2021-09-26 04:22] #5875 closed

[2021-09-26 06:04] #4531 closed

[2021-09-26 12:07] vavdoshka opened #5876 "Building custom image is stuck when "RUN brew install tfenv""
### Bug description

Gitpod being stuck on attempt to build the image with `tfenv`. More then 20 minutes for sure without any progreess.

![image](https://user-images.githubusercontent.com/11683992/134806935-125317d9-09b1-4973-8bc7-dce8c531ef7d.png)

[code]

### Steps to reproduce

run gitpod with

`.gitpod.yaml`
[code]

`.gitpod.Dockerfile`
[code]

### Expected behavior

the gitpod is started wit

[2021-09-26 13:09] htbrown commented on #1196
Also having this problem but with product and file icon themes - seems to be something up with the syncing because it reverts back to none/default with a reload.
Plugins I'm using are [Material Theme Icons](https://marketplace.visualstudio.com/items?itemName=Equinusocio.vsc-material-theme-icons) and [Fluent Product Icons](https://marketplace.visualstudio.com/items?itemName=miguelsolorio.fluent-ico

[2021-09-26 17:55] #3184 closed

[2021-09-26 17:55] #4540 closed

[2021-09-26 17:55] #3812 closed

[2021-09-26 19:13] AjXUthaya opened #5877 "New ws-eu18 cluster is missing persistent state for extensions from session to session"
### Bug description

I noticed i was switched from eu16 to eu18 if i remember correctly, ever since i have to install vscode extensions every time i start up the workspace

### Steps to reproduce

1. Spin up a workspace on the eu18 server
2. Install a vscode extensions
3. Fully stop & restart the workspace and check your extensions, all extensions installed in the previous session is gone

### Exp

[2021-09-26 23:44] Decipher opened #5878 "Add ability to create gitpod instance in subdirectories"
**As a project maintainer I want the ability to have multiple Gitpod configuration files within subdirectories so I can demonstrate multiple examples of my project.**

This is something already available with Codesandbox.io, using the following format:
https://codesandbox.io/s/github/[USER/REPO]/tree/[BRANCH]/[DIRECTORIES]

e.g.:
- https://codesandbox.io/s/github/nuxtlabs/examples/tree/master/rout

[2021-09-27 01:02] tob1k commented on #5876
FWIW I'm seeing the exact same behaviour

[2021-09-27 06:48] akosyakov commented on #5642
I think we should rename `remote` to `dashboard`. Both web and desktop IDEs are remote meaning that they are running backends in Gitpod workspaces. The only difference is a ui kind: `web` meaning using `browser`, and `desktop` meaning some native desktop app.

[2021-09-27 07:04] akosyakov commented on #5858
duplicate of https://github.com/gitpod-io/gitpod/issues/5040

[2021-09-27 07:04] #5858 closed

[2021-09-27 07:17] akosyakov opened #5881 "investigate cause of open vsx proxy requests' timeouts"
Many requests are times out after 10 mins: https://console.cloud.google.com/logs/query;query=resource.type%3D%22http_load_balancer%22%20%22open-vsx%22%0A%2528httpRequest.latency%3E%2210s%22%20OR%0AjsonPayload.latency%3E%2210s%22%2529;timeRange=P3D;cursorTimestamp=2021-09-27T07:09:08.424077Z?authuser=2&project=gitpod-191109

We should know whether it is cause by Caddy or upstream issues.

[2021-09-27 08:13] laushinka commented on #5066
Sorry accidentally clicked the close button 🤦🏻‍♀️

[2021-09-27 08:15] laushinka commented on #5066
/assign @laushinka

[2021-09-27 08:19] corneliusludmann commented on #5642
### Regarding the term that we use for the second kind of IDE images

Indeed. I personally find “local IDE” confusing for the same reason—it's a matter of the origin. However, because we already have the “local app” it would make sense to call it “local IDE” as well. Then we are aligned with the terms. :+1:

Another option would call it “external IDE”. Perhaps that would be even more accurate?

Yo

[2021-09-27 08:24] corneliusludmann commented on #5642
I mean the change from

[code]

to

[code]

would be incompatible or at least need to be handled. Just renaming is not a bug problem (but you still need to change the code occurrences that refer to the attributes of the generated code).

[2021-09-27 09:11] akosyakov commented on #4520
@gengjiawen Could you try now?

[2021-09-27 09:19] gengjiawen commented on #4520
works like a charm. Thx for the hard work 👍

[2021-09-27 09:20] akosyakov commented on #4520
ok, closing, please reopen if there are still issues

[2021-09-27 09:20] #4520 closed

[2021-09-27 11:00] akosyakov commented on #5642
From user perspective:
- Remote IDE means that it is running on a remote machine, like anything remote. We don't generally speak though about remote IDEs because there are 2 applications at least: client and backend. And only backend is always running in Gitpod workspace. On user machine we only run IDE frontend. When we speak local IDE, we mean that a user uses some local IDE app as a frontend to

[2021-09-27 11:32] corneliusludmann commented on #5642
Just to make it clear: I don't have any problems with speaking about Desktop IDEs to our users in our docs etc. I just think that we should call it in the code more open and technically accurate. Technically, there is no reason that an external IDE that connects to the workspace is a Desktop IDE. I just want to prevent that we call it `desktop_ide` everywhere in our code and in the future we use t

[2021-09-27 11:34] meysholdt commented on #4689
We removed postman from all deployments in this commit. https://github.com/gitpod-io/ops/commit/efc03e0c62e580ebd078892ce5bd111cbd61278f.

Removing from Platform inbox and assigning back to @ChristinFrohne to see if there is more to do here.

[2021-09-27 11:36] gtsiolis commented on #605
Hey everyone, adding a small update here: We're currently considering adding a way to start a new workspace and create a new repository by cloning a template in https://github.com/gitpod-io/gitpod/issues/5583. 💡

FWIW, Adding a blank template could be an option we could add later there. Cc @ciurte-freelance @mteam88

Regarding Teams & Projects, this is currently in preview (see https://github.com/

[2021-09-27 11:37] meysholdt commented on #5869
see also https://github.com/gitpod-io/security/issues/2#issuecomment-927645880

[2021-09-27 11:40] rajin100000 opened #5883 "Prebuild doesn't execute after restarting terminal"
### Bug description

I was gonna install java using sdk and I didn't want to install it everytime I open the workspace. That's why I have written a `.gitpod.yml` file in root of my workspace. Here is the file:-
[code]

But the sdk version is not the latest, that's why I have added a new line in the file:
[code]
But we need to restart our terminal after updating SDKMAN. I searched in google and kne

[2021-09-27 11:52] mteam88 commented on #5071
I think this is a good idea.

[2021-09-27 12:07] akosyakov commented on #5867
I think it is caused by https://github.com/gitpod-io/gitpod/issues/5881

[2021-09-27 12:17] geropl commented on #5689
@aledbf https://github.com/gitpod-io/gitpod/issues/5573 could be related, if https://github.com/gitpod-io/gitpod/pull/5688/files#r708026135 really is the issue.

[2021-09-27 12:24] pawlean commented on #5883
Hi @rajin100000 - have you tried putting it in a `.gitpod.Dockerfile` instead? Relevant docs [here](https://www.gitpod.io/docs/config-docker).

[2021-09-27 12:27] pawlean commented on #5877
Hi @AjXUthaya! I was unable to reproduce this. Can you just check you've got Settings Sync switched On?

<img width="339" alt="2021-09-27 at 13 26 12 - Google Chrome" src="https://user-images.githubusercontent.com/17087373/134907749-f9d923ff-924f-4d9b-87ee-d65ea2fb442c.png">

[2021-09-27 12:32] domderen commented on #3051
Hey @aledbf

Thanks for the update, I checked gitpod today and indeed it is updated to Docker 20 :)

Unfortunately this version still has an issue when trying to run k3d locally:

[code]

I'm assuming that the error `rootfs_linux.go:76: mounting "cgroup" to rootfs at "/sys/fs/cgroup" caused: operation not permitted: unknown ` is related to security permissions that would be required to run k3d in

[2021-09-27 12:36] gtsiolis commented on #4634
This is still relevant. Adding **meta: never-stale** label.

[2021-09-27 12:38] gtsiolis commented on #4635
This is still relevant. Adding **meta: never-stale** label.

[2021-09-27 12:43] #5519 closed

[2021-09-27 12:46] pawlean opened #5884 "Python extension is not running"
### Bug description

A community member has reported that they cannot run their Python extension on their workspace. Their first occurrence of this was September 23rd. The user is still experiencing this same issue today.

See below screenshot of what they are seeing. They cannot use the Python extension because it says "Reload required" but I'm assuming that when the user has tried to reload, thi

[2021-09-27 12:56] gengjiawen commented on #5290
Any update on this ? I have been add gitpod to more repos. but this get need lots of work compared to old days.

[2021-09-27 13:33] csweichel opened #5886 "[gitpod-db] use testcontainers for DB tests"
At the moment the gitpod-db DB tests expect a database to be available in the environment. Instead, they could assume there's Docker available which is an easier assumption to make. Using [testcontainers](https://github.com/testcontainers/testcontainers-node) they could start a database if need be.

This would let us remove the `testdb` container from the build pod and simplify the workspace setup

[2021-09-27 13:38] 0916dhkim opened #5887 "Quotation marks are added to environment variables"
### Bug description

I am experiencing a bug in gitpod tasks.
Quotation marks are added to the environment variables specified in `.gitpod.yml` file.

### Steps to reproduce

https://github.com/hatchways/messenger-starter
1. Open this repository in gitpod.
2. "Backend" task fails.
3. Run `echo $DATABASE_URL` in the failed "Backend" terminal.

### Expected behavior

`$DATABASE_URL` should be `postg

[2021-09-27 13:52] akosyakov commented on #5884
/schedule

[2021-09-27 13:53] roboquat commented on #5884
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5884#issuecomment-927896803):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-27 13:55] pawlean commented on #5887
Related discussion on forum: https://community.gitpod.io/t/quotation-marks-are-added-to-environment-variables/5154

[2021-09-27 13:56] aledbf commented on #3051
@domderen this issue is about docker 20. Please follow https://github.com/gitpod-io/gitpod/issues/4889 for k3s/k3d support.

[2021-09-27 14:00] akosyakov commented on #5867
Could you try again please?

[2021-09-27 14:03] mteam88 commented on #5867
sure! get back to you soon

On Mon, Sep 27, 2021 at 10:01 AM Anton Kosyakov ***@***.***>
wrote:

--
Thanks,
Matthew

[2021-09-27 14:39] AlexTugarev opened #5888 "[projects] New configuration is not present when opening the first workspace"
How to reproduce:

1. Follow the `/new` wizard and create a new project without an existing config in the repo.
2. On the configuration page: add any config and hit `Run Prebuild`, then wait for it to finish.
3. Now select `New Workspace` and see the new workspace is started from the prebuild.
4. Expected: see uncommited changes in Git view representing the config from the dashboard
5. Actual: no

[2021-09-27 14:48] #4921 closed

[2021-09-27 15:42] LinqLover opened #5889 "Gitpod Remote extension overrides `remote.SSH.configFile` setting"
### Bug description

After installation this extension has overridden my Extension overrides `remote.SSH.configFile` setting. This is not okay; it has broken all my already configured hosts via the Remote-SSH connection.

### Steps to reproduce

Install Gitpod Remote extension

### Expected behavior

Remote-SSH connections should still work

### Example repository

_No response_

### Anything else

[2021-09-27 15:51] asthomasdk opened #5890 "Document proxy caddy configuration and make it configurable"
I had to work around an issue with headers not being set correctly for previeweing an aplication we are developing and testing in Gitpod. To do that I ended up hacking the Caddyfile in the proxy pod - which seems to have done the trick.

To make it easier to to this and also persist the changes, without havinng to build new customo images, I think it would work to adjust the proxy deployment so th

[2021-09-27 16:03] aledbf commented on #5890
Can you share details about the changes?

Right now, the Caddyfile contains the mandatory config for Gitpod, and we also have a configmap for optional/configurable things
https://github.com/gitpod-io/gitpod/blob/main/chart/templates/proxy-configmap.yaml

[2021-09-27 16:05] asthomasdk commented on #5890
Sure - I was having problems with proxied requests getting mixed https/http headers and getting blocked by the browser.

So I ended up adjusting the `security_headers` sesction to :
`Content-Security-Policy    "upgrade-insecure-requests; frame-ancestors self https://*.{$GITPOD_DOMAIN} https://{$GITPOD_DOMAIN}"`

[2021-09-27 16:07] geropl commented on #5770
I'm having a hard time reproducing this.

What could indeed be improved is the status indicator on the "View Prebuild" view: It shows "Running/Prebuild in progress..." when the pod is not even deployed.

[2021-09-27 16:09] pawlean commented on #5873
Hi @LinqLover! I've been unable to reproduce this. Can you maybe share some before and after screenshots or perhaps record a short video demonstrating this? That certainly doesn't seem right!

[2021-09-27 16:20] asthomasdk commented on #5000
I believe there is also another issue regarding external registry support in the Gitpod setup.

You can work around this by setting variables for your registry credentials in your user profile. You can then use these to login to the registries so that automated pulls and pushes can be made to these registries. This is not idea, but works in most cases. One case where it does not work, however, is

[2021-09-27 16:23] asthomasdk commented on #1699
Reading this again - does that mean that if I have the `image-builder-registry-secret` correctkly created, that this will be used generally by gitpod to access external registries? If that is the case, then it could mean that I can get references in my `.gitpod.yml` to a private image to work. Right now this has to be a public image for this to work.

[2021-09-27 17:30] mikenikles commented on #5774
It's on the marketing website where we set the cookie for each visitor ([code](https://github.com/gitpod-io/website/blob/main/src/hooks.ts#L64)).

This was added so that visitors of the marketing website who move on to logging into Gitpod don't see the welcome section on the left side of the login screen.

Due to that, we can't use the `gitpod-user=loggedIn` cookie because for every marketing webs

[2021-09-27 17:51] JRedOW opened #5891 "User Scripts"
# Explanation

Currently, there are user extensions, user vscode settings, and user environment variables.  I propose that user tasks are added.  They would be run at command (or in their own step), and can be configured in the dashboard like environment variables with a scope.

# Reasoning

There are many tasks a user may want run in their workspaces without adding it to all their projects' confi

[2021-09-27 17:54] AlexTugarev commented on #5774
I can't follow. That cookie kind of indicates that there is an active Gitpod session. If there is need to jump over the welcome screen, there needs to be a dedicated switch built into the dashboard.

[2021-09-27 18:11] rfay commented on #3051
Please note that the `sudo apt-get install docker-ce -y` upgrades only the docker *client* to 20.10, not the server. The server is what we needed upgraded... If we didn't get the server upgrade in this issue, it should probably be reopened.

[2021-09-27 18:19] filiptronicek commented on #5774
Just linking this here, from my suggestion back in April 😄
https://github.com/gitpod-io/gitpod/issues/3727#issuecomment-817339620

[2021-09-27 18:53] aledbf commented on #3051
All [workspace-*](https://app.circleci.com/pipelines/github/gitpod-io/workspace-images/1188/workflows/c8699b54-2896-4bdf-9a6a-31ba19229b90/jobs/6449?invite=true#step-104-534) images are updated to 20.10.8
after https://github.com/gitpod-io/workspace-images/pull/508

@rfay maybe you need to trigger a build to use the latest version?

[2021-09-27 18:54] aledbf commented on #3051
@iQQBot no, that's only for the dev-environment image (which is used by the gitpod team)

[2021-09-27 18:58] aledbf commented on #3051
https://gitpod.io/#https://github.com/gitpod-io/template-python-flask
![docker](https://user-images.githubusercontent.com/161571/134968558-3f79d3c9-cae3-41c3-accc-002593b0b731.png)

[2021-09-27 19:38] rfay commented on #3051
I have no idea the status of this issue.  I tested it on a brand new workspace. No idea what "trigger a new build" would mean.

I do confirm that creating the test workspace `template-typescript-node` at gitpod.io results in a docker 20.10 server AND client.

But I had already done launched a new one of my own... What's the difference? I've created a couple of new workspaces from scratch and get d

[2021-09-27 20:14] shaal commented on #5876
Please help, I have the same issue.
Running `brew update && brew install drud/ddev/ddev` in `.gitpod.Dockerfile` is slow with errors.
![image](https://user-images.githubusercontent.com/22901/134978321-69cac042-9270-48e5-a7b3-37d44faccf25.png)

Typing the same command in a new Gitpod workspace runs fast with no errors.

[2021-09-27 20:55] gtsiolis commented on #5279
Closing as this has been resolved in #5555. Future improvements could include merging the unified workspaces list (see https://github.com/gitpod-io/gitpod/issues/5861), removing the pinning functionality, re-introducing the global workspaces list, and more.

[2021-09-27 20:55] #5279 closed

[2021-09-27 23:08] jgallucci32 commented on #5558
/close

[2021-09-27 23:11] jgallucci32 commented on #5647
After upgrading from RHEL 8.3 to Ubuntu 20.04 (with no other changes to components) the workspaces now launch successfully. This confirms later version of Gitpod will not run on RHEL 8 and you must have at least Kernel 5.2 to operate.

/close

[2021-09-27 23:14] jgallucci32 commented on #5410
Update: I was able to get Gitpod v.0.10.0 working on RKE. The biggest roadblock was the underlying OS. Had to upgrade from RHEL 8 to Ubuntu 20.04. Here is my current configuration validated

Gitpod v0.10.0
RKE 1.20.11
containerd 1.4.9 (installed using Docker CE, but CRI enabled for containerd)
Ubuntu 20.04 LTS

@ghuntley What details do you need for this setup and where should I post them?

[2021-09-28 00:27] shaal commented on #5876
Minimum replicable repo -
https://github.com/shaal/testing-gitpod-imagebuild

[2021-09-28 00:29] shaal commented on #5862
I tested this also by opening https://github.com/gitpod-io/gitpod in Gitpod, and coose from the menu: `Gitpod: Share Workspace Snapshot`, same error.

[2021-09-28 00:48] hpssjellis commented on #605
@thaysom22 @gtsiolis I am always good to try new stuff.
I also post on twitter as @rocksetta

[2021-09-28 01:11] ghuntley commented on #5410
Thanks for the update!

Right here in this thread (via a gist if required) so that the information is discoverable by all.

Assuming no knowledge of RKE. Whats involved getting Gitpod Self-Hosted running from scratch on RKE?

[2021-09-28 05:41] svenefftinge opened #5892 "[vscode] editor opens with uninitialized git repository"
Feedback through email:
"""
One thing I did notice is that sometimes it also opens up, and seems like things are fine, but Source Control says that I don't have a git repository initialized yet.  If I reload the page, that problem resolves and everything loads up as expected, with the correct information in the Source Control tab.  This reload sometimes also opens up some prompts and information t

[2021-09-28 05:47] akosyakov commented on #5892
We need more info to act on that. His frontend logs, workspace id if possible.

[2021-09-28 06:30] #5866 closed

[2021-09-28 07:04] csweichel commented on #5642
[code]

would indeed be incompatible with the current API. However,
message WorkspaceSpec {
    // IDEImage configures the IDE images a workspace will use
    message IDEImage struct {
        // web_ref is a reference to an OCI image used for serving the web-based IDE
        string web_ref = 1;
        // remote_ref is an optional reference to an OCI image used for serving remote IDEs
        st

[2021-09-28 07:05] csweichel commented on #5642
Also +1 for `desktop` rather than `remote` IDE

[2021-09-28 07:05] rl-gitpod commented on #5381
@aledbf I cannot reproduce this. I tried using kubectl delete on the ws-daemon pod and kill -9 on the ws-daemon after exec-ing into it. Any other suggestions?

The logs are [showing this error in another ws ](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-09-28T06:53:02Z;query=%22ws-daemon%22%0A%22did%20not%20find%20a%20Git%20working%20copy%22%0Atimestamp%3D%222021-09-28T06:53:02

[2021-09-28 07:06] csweichel commented on #4121
We're not currently working on full workspace backup. We'll pick this issue back up when we continue work on that feature.

[2021-09-28 07:06] csweichel commented on #5804
/schedule

[2021-09-28 07:06] roboquat commented on #5804
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5804#issuecomment-928915669):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-28 07:29] jankeromnes opened #5895 "Bad top menu when trying to use an expired Team invite"
### Bug description

When you try to use a Team join invite that has expired (~was revoked) or no longer exists, you see this error page:

<img width="1438" alt="Screenshot 2021-09-28 at 09 24 36" src="https://user-images.githubusercontent.com/599268/135042312-e00748f9-077e-4058-9a7b-af9351ccc798.png">

If you pay close attention to the top menu, it makes no sense (Branches? Prebuilds? Configure?

[2021-09-28 07:29] ChristinFrohne commented on #4689
Thanks! The emails are already in Chargebee. But there is a sending issue due to our subscription limitations, but that's another issue. So I would close this one.

[2021-09-28 07:29] #4689 closed

[2021-09-28 07:31] jankeromnes commented on #5895
Cc @AlexTugarev FYI

[2021-09-28 07:32] akosyakov commented on #5889
Hi, sorry for breaking you. Unfortunately we decided to take this shortcut for now. We are investigating alternatives like https://github.com/gitpod-io/gitpod/issues/5602 But it does not sound like a quick fix. If you have simpler ideas from user perspective please share.

[2021-09-28 07:33] akosyakov commented on #5884
We updated python and jupyter extension in Open VSX and it resolved the issue.

[2021-09-28 07:33] #5884 closed

[2021-09-28 07:48] akosyakov commented on #5881
I assigned meta for now, since proxy component belong to this team. But maybe it makes sense to run a dedicated proxy service for Open VSX.

[2021-09-28 08:30] AjXUthaya commented on #5877
Sync is active and the packages are listed in the gitpod config, for some reason the "pkief.material-icon-theme" package is the only one that manages to install. Added some screenshots that show extensions being installed + sync is active + listed in gitlab config -> stoping workspace -> starting workspace -> all extensions but material icon theme is gone/uninstalled for the workspace
![Screenshot

[2021-09-28 08:33] akosyakov commented on #5881
/schedule

[2021-09-28 08:33] roboquat commented on #5881
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5881#issuecomment-928976294):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-28 08:35] corneliusludmann commented on #5642
Since there were other alternatives like `local` or `external` IDE, I read this as you think the term `desktop` IDE is still the most appropriate despite that we probably enable other non-desktop IDEs with this feature, right? :rofl: Probably this is simply the term that most people here can relate to. :+1: Then let's stick with `desktop_ide`! :rocket:

Sure. We are on the same page here. Just wan

[2021-09-28 08:35] csweichel commented on #5518
/team meta

[2021-09-28 08:36] pawlean commented on #5876
Thank you for all the detail everyone! Especially to @shaal for the minimum replicable repo, super useful. I've come across the same issue. Let me raise it internally :)

[2021-09-28 08:37] divyaishafoundation commented on #5884
Yeah it is working now. thank you

[2021-09-28 08:55] #5825 closed

[2021-09-28 08:59] pawlean commented on #5862
I could not replicate this. 🤔 This is what I see:

<img width="457" alt="2021-09-28 at 09 59 00 - Google Chrome" src="https://user-images.githubusercontent.com/17087373/135056788-ac5beadd-8a84-47ee-b0a3-0cb78aa6ecc1.png">

What version of VS Code are you on?

[2021-09-28 09:20] AlexTugarev commented on #5591
'Cannot reproduce. See https://gitlab.com/AlexTugarev/empty-project, there is a typo in the config (`poart`) but the config is not validated at all:

<img width="1447" alt="Screen Shot 2021-09-28 at 11 15 05" src="https://user-images.githubusercontent.com/914497/135060146-4b57ad3a-c1db-411c-afe7-6ffdde9dc07e.png">

[2021-09-28 09:26] svenefftinge opened #5901 "Update TypeScript Dependencies"
@aledbf did a PR a few weeks ago, which should be taken over by someone from @gitpod-io/engineering-meta in order to rebase, update, and land it.

https://github.com/gitpod-io/gitpod/pull/5468

[2021-09-28 10:01] corneliusludmann commented on #5642
Here is a first draft: https://github.com/gitpod-io/gitpod/compare/clu/intellij-ide

Still with a lot of rough edges and not everything has been considered but working prototype:

**User preferences:**

![Peek 2021-09-28 11-53](https://user-images.githubusercontent.com/24960040/135065370-dbf6f7d6-daf6-4869-b21e-68c9aa656584.gif)

**Workspace start:**

![Peek 2021-09-28 11-59](https://user-images.g

[2021-09-28 10:05] geropl commented on #5770
Now it seems we found a case where the `supervisor` api won't respond while the pod is running, not allowing to list the available streams and thus preventing the logs from being shown, until the prebuild is done (when we are presented the offline logs).

[2021-09-28 10:19] svenefftinge commented on #5891
That's a really good question. One could argue that running a script is the more powerful abstraction, as I could clone any (dotfile) repo and run arbitrary initializers. OTOH automatically (and conveniently) applying the conventions of a user's dotfile repo certainly makes sense, too.

[2021-09-28 10:24] gtsiolis commented on #5066
Posting below the new design specs for team deletion flow. Cc @laushinka

FWIW, in contrast with the specs initially added in the isue description, the new specs follow the existing pattern of tabs to surface projects settings that currently include only team deletion action. Future additions to this project settings page could include team renaming (see https://github.com/gitpod-io/gitpod/issues/

[2021-09-28 10:41] svenefftinge commented on #5791
I think the prebuild page already mostly does what we need.
<img width="1458" alt="Screenshot 2021-09-28 at 12 40 05" src="https://user-images.githubusercontent.com/372735/135072263-90bb5e81-1473-4853-8585-ab20a7ac2c8f.png">

if we change:
 - the breadcrumb to use the branch name
 - show previous prebuilds below.

[2021-09-28 10:45] csweichel commented on #5689
/assign @csweichel

[2021-09-28 10:49] bigint opened #5902 "GitLab CI external status for Gitpod"
It would be great if Gitpod could comment or create an external status for GitLab MRs

Here is how Vercel does it 😄

![image](https://user-images.githubusercontent.com/69431456/135073131-2d5e46b5-7c03-4b67-ad51-9532817a17bc.png)

![image](https://user-images.githubusercontent.com/69431456/135073159-a108c43e-8732-467e-bf7e-86b9b54b8f47.png)

/cc @gtsiolis 🏀 @dnsmichi 🦊

[2021-09-28 10:53] filiptronicek commented on #5902
@bigint are you thinking this but for GitLab? All for it! 🎉
![image](https://user-images.githubusercontent.com/29888641/135073887-22045038-6ff2-42c4-9bed-265d2002da16.png)

[2021-09-28 10:54] bigint commented on #5902
Exactly

[2021-09-28 11:15] JRedOW commented on #5891
Dotfiles are definitely a possible alternative.  In my opinion mixing of the two ideas like the second storage option I listed (editable bash files in dashboard) would be the best option, as it gives almost as much customization as dotfiles, without the issue of loading a repository.  Perhaps the user could even mark if the script was an init task or a command, matching the dotfile system.  The on

[2021-09-28 11:27] shaal commented on #5862
Vscode 1.59
I tried various browsers - Chrome, edge, Firefox. Still see the same error on both Gitpod repo and drupalpod repo.

[2021-09-28 11:28] akosyakov commented on #5867
I'm closing it, please open a new issue if it still happens.

[2021-09-28 11:28] #5867 closed

[2021-09-28 11:32] geropl opened #5904 "Distinguish between prebuild "Running" and "Preparing""
Currently, when viewing a prebuild, we're presented with this screen, which hangs for quite some time (sometimes minutes):
![image](https://user-images.githubusercontent.com/32448529/135067640-5f7842b4-b64a-4a01-8f62-038fc06c04ec.png)

This generates the feelings of "brokeness" because sth is "Running", but we do not see any effect for ages (=minutes). In fact the underlying workspace pod has mayb

[2021-09-28 11:32] geropl commented on #5770
Created https://github.com/gitpod-io/gitpod/issues/5904 ("Distinguish between prebuild "Running" and "Preparing"")

[2021-09-28 11:55] danisafta commented on #4330
what version of containerd are you using and what version fixes this? I have encountered the same problem on v1.4.6. Is there any specific commit that fixes this?

[2021-09-28 11:57] shaal commented on #5862
I updated the description of this issue, to clarify this bug is happening only on some complex repos (DrupalPod, Gitpod, etc.), while on simpler repo (typescript demo workspace) I am able to create a snapshot.

[2021-09-28 12:01] akosyakov commented on #1196
@htbrown Could you try again? And if still does not work please file a new issue. This issue is about Theia editor which we don't use by now.

[2021-09-28 12:05] shaal commented on #5862
@akosyakov I tested this times, one after the other, different repos, etc.
Are you able to take a snapshot of Gitpod or drupalpod repos?

[2021-09-28 12:08] geropl opened #5905 "Specific 404 handler for teams (& projects)"
A general 404 redirect to `www.gitpod.io` (away from the webapp) is bad for UX because if user mistype/miscopy/don't have access to a team (or project) they end up on the webpage. This is not a dead-end per-se, but definitely feels arkward and requires additional mental work to get back.

Would be nice to distinguish between:
- looks like a team URL:
  - "team does not exists or you don't have acc

[2021-09-28 12:17] akosyakov commented on #5862
`takeSnapshot` server api hangs for very long time. I think meta team should look why is it. cc @JanKoehnlein @gtsiolis

[2021-09-28 12:20] gtsiolis commented on #5862
I could reproduce the issue. Thanks @shaal for reporting and @akosyakov for the ping. 🏓

[2021-09-28 12:25] gtsiolis commented on #605
@hpssjellis I've enabled Teams & Projects for your account. Feel free to take a look and provide any feedback (see https://github.com/gitpod-io/gitpod/issues/5095). 🙏

[2021-09-28 12:33] #5824 closed

[2021-09-28 12:33] shaal commented on #5280
👋
This issue is back...

To replicate:
* Open any workspace (ie. https://gitpod.io/#https://github.com/gitpod-io/template-typescript-node)
* Run in terminal - `brew update`

[2021-09-28 12:40] geropl commented on #5904
/cc @gtsiolis

[2021-09-28 12:44] meysholdt opened #5906 "High Database Load"
[We just saw a spike in Load on the US Database](https://console.cloud.google.com/logs/query;query=logName%3D%22projects%2Fgitpod-191109%2Flogs%2Fcloudsql.googleapis.com%252Fmysql-slow.log%22%0Aresource.labels.region%3D%22us-west1%22;timeRange=PT24H;cursorTimestamp=2021-09-28T12:25:27.028734Z?project=gitpod-191109). This did not do any harm today; However, if such a spike peaks a bit higher, we'll

[2021-09-28 13:16] meysholdt commented on #5826
Q: fastest way to kick this off?

Proposal:
* add a new node pool to the `code-dev` cluster that has the same localSSD configuration the workspace-pool in staging and prod.
* in values.yaml, [set `setupSSDRaid: true` for `wsDaemon`](https://github.com/gitpod-io/ops/blob/771d9029598feebb66cc2805a5287c9f0857d62a/charts/gitpod_io/values.ws-cluster.yaml#L33)
* tweak the Werft job to get your preview e

[2021-09-28 13:22] wulfthimm commented on #5826
That is the fastest way to implement a XFS in GKE although I am interested in going a bit deeper on how using XFS on top of an already ext4 formated disk.

[2021-09-28 13:24] purkhusid commented on #5876
Any update? It's pretty much impossible to try to build any custom images at the moment.

[2021-09-28 13:28] geropl commented on #5770
new hint: could incremental prebuilds be involved?

[2021-09-28 13:29] csweichel commented on #4938
/assign

[2021-09-28 13:46] geropl opened #5908 "Prebuild status indicator on "Branches" can be misleading"
Situation: Th status indicator for the branch says "Ready" (because a prebuild for a former commit exists), but the current HEAD has none (yet). Because the branch details contain a commit (short) hash I as a user assume the commit and prebuild are connected (and wonder why I can a workspace build on the wrong commit), while they aren't.
![image](https://user-images.githubusercontent.com/32448529/

[2021-09-28 14:02] synedra opened #5909 "gitpod workspace-full is not working"
### Bug description

My repo is here: https://github.com/synedra/appsembler-tiktok

In there I'm using gitpod/workspace-full:latest

But the touch command when adding the gitpod layer is not working because the new ubuntu base doesn't seem to like touch using ~.

Which image should I use instead?

### Steps to reproduce

Connecting to workspace logs...
sha256:f5de6aa1cbf69ab48173c7a595ae0e9e655723

[2021-09-28 14:30] laushinka commented on #5066
A couple of follow-up questions:
1. What do we want to happen when a team is deleted? Do we want to wipe it from the DB, or do a "soft" delete (not show it but stays in the DB)?
2. Do we want to track the deletion event? @jakobhero

[2021-09-28 14:47] Terra316 opened #5910 "Extremely long startup time for large repositories"
I'm working on a particularly large repository, and I'm in the process of the image build. I've been waiting half an hour for the workspace logs to load, and it's eating up time. Gitpod has been very, very fast and helpful with many projects, and I love using it. But, actually, a while ago when I used it in the past with the same repository, and it built the image fairly easily. Is there anything

[2021-09-28 14:50] jeanp413 commented on #4535
@shaal sorry for the late reply,
Regarding you issue opening `http://localhost:port` in the simple browser works fine, the issue in your case is that drupal is serving your page with `X-Frame-Options: SAMEORIGIN` header in the response, maybe you could configure it so it doesn't send that header during development.

I'll close the issue for now, thanks.

[2021-09-28 14:50] #4535 closed

[2021-09-28 15:08] Terra316 commented on #5910
I managed to reconfigure it so that it gets all the way to Initializing Base Image context, but not any farther.

[2021-09-28 15:10] aledbf commented on #5670
Closing. Context https://cloudlogging.app.goo.gl/eKQx1MPA3uq9bW7W8

Note: we should reduce the verbosity of the default level shortly.

[2021-09-28 15:23] gtsiolis commented on #5847
Thanks for bringing this up @bigint! This makes sense!

Looping in @jankeromnes and @AlexTugarev who also brought up this issue in a [recent discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1632842370226700) (internal).

[2021-09-28 15:24] jankeromnes commented on #5847
Nice catch! Thanks for reporting this @bigint (and thanks @gtsiolis for pointing me to it when I also complained about this 😁).

I believe the current situation is:
- There is only `project.name`, which is used in URLs and displayed in the UI
- For GitHub projects, we import the slug as `project.name`
- For GitLab projects, we import the full-text name as `project.name`

Instead, it would be bette

[2021-09-28 15:54] synedra commented on #5909
Now I get

Err:10 https://apt.llvm.org/focal llvm-toolchain-focal Release
  Could not wait for server fd - select (11: Resource temporarily
unavailable) [IP: 199.232.198.49 443]
Reading package lists...
E: The repository 'https://apt.llvm.org/focal llvm-toolchain-focal Release'
no longer has a Release file.

On Tue, Sep 28, 2021 at 8:19 AM iQQBot ***@***.***> wrote:

[2021-09-28 18:08] princerachit commented on #5675
I manually reproduced the issue:
[code]

Upon inspecting the path it complained about I can see that the git repo nng is corrupted. This is the reason why we see above error, hence failure during prebuilds

[code]

Above indicates that the git repo `nng` is corrupted. We cannot add a corrupted git repo to index.

[2021-09-28 18:09] bwklein commented on #5892
Example: https://orange-thrush-ew0nnwto.ws-us18.gitpod.io/

How the Source Providers tab looks at first.

![image](https://user-images.githubusercontent.com/12104446/135141080-0a2a8d85-ab4a-4148-9e24-2461412f425d.png)

Switching back to the SP tab after the command completes and the server is running.

![image](https://user-images.githubusercontent.com/12104446/135141150-1a1c33ea-bf82-45cd-855d-dc

[2021-09-28 18:55] jgallucci32 opened #5911 "[self-hosted] Ability to change default theme for self-hosted installations"
With recent updates the default theme for the Dashboard and IDE are light. I understand for the SaaS offering this is the default, but it would be very useful if there was a way to define what the default theme is for self-hosted installations.

For example, when deploying the helm chart there could be a flag `defaultTheme` which could be set to `dark` and then for new users and workspaces the def

[2021-09-28 20:29] purkhusid commented on #5090
Also blocked by this issue. Would love to see some movement on it.

[2021-09-28 20:42] drumm commented on #4973
I worked around this by going back to the initial user account used to set up Gitpod in our GitLab instance, and adding the read_repository scope to that account's application.

[2021-09-28 21:19] purkhusid commented on #5090
Also, the docker workaround is not really a great workaround since IDE support requires that the `dotnet` installation works correctly

[2021-09-28 22:39] fwdmo commented on #5909
I have same error i thought there is something wrong with my Dockerfile

[2021-09-28 23:57] jgallucci32 commented on #5690
What happens now with the current version (v.0.10.0) when the 11th user is added? Is this a soft (warning) or a hard (cannot login) type failure?

Currently on 0.6.0 which has been pretty stable for half a year and looking to upgrade to 0.10.0 which in addition to some instability might restrict use of the product after upgrade.

[2021-09-29 00:39] wolfy01 commented on #5014
Brave's adblocker did it for me. Disabling it fixed the issue

[2021-09-29 00:50] synedra commented on #5909
Now it builds, but won't launch:
https://github.com/synedra/appsembler-tiktok

On Tue, Sep 28, 2021 at 9:11 AM iQQBot ***@***.***> wrote:

[2021-09-29 02:40] rl-gitpod commented on #5675
/assign

[2021-09-29 02:43] rl-gitpod commented on #5675
This is looking like an issue between git version 2.30.1 (the current base image version) and the newer version installed in the ./installLinux.sh. v2.33.0

If I remove the git version update it does not error.

I can repro it other workspaces by apt-get update git, then git cloning a repo and trying to stash it.

[2021-09-29 04:14] orellabac commented on #4973
Thanks I will try that out

[2021-09-29 05:01] princerachit commented on #5675
Thanks @rl-gitpod . Can we possibly do anything about it? IIUC the gitpod users can choose their own image for prebuilds, right?

For the default base image that we provide, we can downgrade the git version to a stable one.
We should also open an issue with `git` about this. WDYT?

[2021-09-29 05:05] rl-gitpod commented on #5675
Still digging, but that is what I'm thinking/planning.

Will update as soon as I have something concrete.

[2021-09-29 05:55] svenefftinge commented on #5066
We for sure want to track that event. I think it would automatically be tracked as we are tracking all buttons?

Also deleting a team implies deleting its projects and the workspaces of all the associated users. So there needs to be a big warning around this, telling you about the impact including details of number of workspaces and projects that will be deleted.

[2021-09-29 05:57] svenefftinge commented on #5066
I think they should be soft-deleted but we need to make after deletion they no longer block their name from being used again.

[2021-09-29 07:00] svenefftinge opened #5915 "[dashboard] workspaces wrongly shows "new project" button"
On a personal account when there are no projects, I see the "new project" button on the /workspaces list.

[2021-09-29 07:02] akosyakov commented on #5892
In the bottom panel you can find `Output` view if you click on it there is a drop-down for different channels. Could you look please through them, most interesting are below the separator. We don't store these logs, they are only on stored on your machine. Look for any errors. You can also enable browser devtools and see what kind of errors you have there.

For some reasons the extension host proc

[2021-09-29 07:49] geropl commented on #5906
Looking at the linked slow logs this seems to be caused by queries of the form:
[code]
which we execute much more since recently.

Also, we seem to be lagging an index on `buildWorkspaceId`. While it's in the [code](https://github.com/gitpod-io/gitpod/blob/9ffcfd487fcf327838e1c4910eaa60bba1eadbe0/components/gitpod-db/src/typeorm/entity/db-prebuilt-workspace.ts#L51-L53) the DB does not know about i

[2021-09-29 07:49] geropl commented on #5906
/schedule

[2021-09-29 07:49] roboquat commented on #5906
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5906#issuecomment-929926966):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-09-29 07:57] AlexTugarev commented on #5906
@geropl that's definitely something we need to optimize. In the mentioned timeframe such queries take +1 s in most cases. I'm just not sure if this is cased by high load, or casing the high load 🤷🏻‍♂️

Another instance, which may impact the perf a lot more is `workspaceDB.findSessionsInPeriod`, which has a footprint of

[2021-09-29 08:01] csweichel commented on #5090
Unfortunately this behaviour is tied to the kernel version we're using. For the time being we have no influence over the kernel we run on - that is something we're actively trying to change, but don't have an ETA yet.

Will update once we have a more concrete timeline.

[2021-09-29 08:02] localgod commented on #5182
Does work in Edge 94.0.992.31
Does not work in FF 92.0.1

[2021-09-29 08:03] geropl commented on #5906
We cannot distinguish here, but past experiences shows it's always a host of small queries generating the load. :-)

Yes, that's a long-standing and known issues with our payment/billing infra. We could easily compact these (to not require 22k rows to be sent :grimacing: , but never did so, yet). One of the many things I hope we get rid of when we tackle payment.

However, in the light of this onl

[2021-09-29 08:09] csweichel commented on #5862
/schedule

[2021-09-29 08:09] roboquat commented on #5862
@csweichel: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5862#issuecomment-929941338):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-09-29 08:11] princerachit commented on #5669
## Jaeger Trace

![image](https://user-images.githubusercontent.com/32481722/135228626-04946793-25b5-4c83-ae54-75646005be3d.png)

## GKE

[Google Cloud Platform](https://console.cloud.google.com/kubernetes/pod/us-west1/prod-meta-us01/default/server-869b8d4fbb-ftkwz/details?project=gitpod-191109)

The server pod had CPU utilization spike during the duration

![image](https://user-images.githubuserc

[2021-09-29 08:15] svenefftinge commented on #5254
I cannot remember unfortunately, let's close this for now.

[2021-09-29 08:15] #5254 closed

[2021-09-29 08:15] #5591 closed

[2021-09-29 08:16] svenefftinge commented on #5888
/schedule

[2021-09-29 08:16] roboquat commented on #5888
@svenefftinge: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5888#issuecomment-929946893):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-29 08:16] svenefftinge commented on #5330
/schedule

[2021-09-29 08:16] roboquat commented on #5330
@svenefftinge: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5330#issuecomment-929947550):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-29 08:17] svenefftinge commented on #5518
/schedule

[2021-09-29 08:17] roboquat commented on #5518
@svenefftinge: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5518#issuecomment-929948069):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-29 08:18] svenefftinge commented on #5904
/schedule

[2021-09-29 08:18] roboquat commented on #5904
@svenefftinge: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5904#issuecomment-929949133):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-29 08:26] princerachit commented on #3109
I am reopening this issue as I can see that the issue still exists.
Currently deployed version [commit](eu.gcr.io/gitpod-core-dev/build/server:commit-b235c42cb698da0b5f8d7707e903d877fc4fb989) i.e. [main.1495](https://github.com/gitpod-io/ops/commit/88c19b313c9063101eb9bdefb05627e0e72c25f3)

![image](https://user-images.githubusercontent.com/32481722/135231517-e9957038-3fc9-417b-a192-90aa5744b828.p

[2021-09-29 08:28] purkhusid commented on #5090
?

[2021-09-29 08:30] purkhusid commented on #5090
Is there any issue that I can subscribe to so that I can follow the progress?

[2021-09-29 09:07] #5915 closed

[2021-09-29 09:12] jankeromnes commented on #5910
Hi @Terra316! Sorry for the waiting time on these builds. Gitpod tries to keep waiting times to a minimum.

Could you please share your repository URL if it's public, or some workspace IDs, so that we can investigate what went wrong?

[2021-09-29 09:14] akosyakov opened #5921 "[local-app] don't produce new version only if build version is changed"
Otherwise VS Code Desktop users download new version each day.

[2021-09-29 09:41] princerachit commented on #5669
Further investigation revealed that their was a network utilization spike:

![image](https://user-images.githubusercontent.com/32481722/135244209-90c32485-02ab-4385-be70-687a14354989.png)

and some API calls were failing too:

![image](https://user-images.githubusercontent.com/32481722/135244163-2965f13d-09ac-454d-ba27-5073f64df852.png)

[2021-09-29 09:42] csweichel commented on #5876
This issue increases the priority for the image-builder-mk3 rollout. Once #5693 is merged, we'll deploy that one which should fix this issue, too.

[2021-09-29 09:51] #5497 closed

[2021-09-29 09:51] #5597 closed

[2021-09-29 10:05] akosyakov commented on #5845
It was resolved, please try again.

[2021-09-29 11:23] geropl opened #5922 "[supervisor] Enable access to task output in CLOSED state"
Context: https://github.com/gitpod-io/gitpod/pull/5918#pullrequestreview-766352251

Until now we use a combination of `supervisor` APIs to get hold of headless logs:
 - `tasks.tasksStatus`: to list all available tasks and their terminals
 - `terminals.listen`: get the actual terminal output

But `terminals.listen` will only work for terminal that are in `RUNNING` state; if one goes into `CLOSED` w

[2021-09-29 11:33] akosyakov commented on #5922
I will remove it from the inbox. We don't accept feature requests for now. Focus on bug fixes and reliable deployments.

[2021-09-29 11:34] #5585 closed

[2021-09-29 11:53] gtsiolis opened #5923 "Add links to commits from branches and prebuilds"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/5587, we've added some links to the branch on the branches page. However, the original issue (see  #5585) described the addition of adding links to commits which could be useful on _Branches_ and _Prebuilds_ pages.

See relevant comment in https://github.com/gitpod-io/gitpod/pull/5587#discussion_r718264256.

[2021-09-29 11:56] #5770 closed

[2021-09-29 11:57] akosyakov commented on #5830
We also agree to rename latest to insider. cc @jeanp413

[2021-09-29 12:03] akosyakov commented on #5814
Unfortunately after team discussions we realised that we don't have capacity for upstream issues and have to focus more on bug fixes and robust deployments. I removed it from the scheduled for now.

[2021-09-29 12:03] akosyakov commented on #5342
Unfortunately after team discussions we realised that we don't have capacity for upstream issues and have to focus more on bug fixes and robust deployments. I removed it from the scheduled for now.

[2021-09-29 12:03] akosyakov commented on #4781
Unfortunately after team discussions we realised that we don't have capacity for upstream issues and have to focus more on bug fixes and robust deployments. I removed it from the scheduled for now.

[2021-09-29 12:04] akosyakov commented on #3059
Unfortunately after team discussions we realised that we don't have capacity for upstream issues and have to focus more on bug fixes and robust deployments. I removed it from the scheduled for now.

[2021-09-29 12:04] akosyakov commented on #5850
Unfortunately after team discussions we realised that we don't have capacity for new features and have to focus more on bug fixes and robust deployments for now.

[2021-09-29 12:05] akosyakov commented on #5889
/schedule

[2021-09-29 12:05] roboquat commented on #5889
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5889#issuecomment-930112980):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-29 12:06] akosyakov commented on #5853
`codeSync` seems to be quite stable component, i.e. we did not deploy it since march, so i remove it from inbox for now. Let's do after we decoupled other IDE components.

[2021-09-29 12:07] akosyakov commented on #5852
@corneliusludmann I'm accepting it. Hope you can take care of it. We should also think how it is configurable for different versions of IDE.

/schedule

[2021-09-29 12:07] roboquat commented on #5852
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5852#issuecomment-930114395):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-29 12:07] #5689 closed

[2021-09-29 12:07] akosyakov commented on #5863
/schedule

[2021-09-29 12:08] roboquat commented on #5863
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5863#issuecomment-930114855):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-29 12:08] akosyakov commented on #5921
/schedule

[2021-09-29 12:08] roboquat commented on #5921
@akosyakov: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5921#issuecomment-930114999):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-09-29 12:17] geropl commented on #5573
Should be fixed with this one: https://github.com/gitpod-io/gitpod/pull/5897

[2021-09-29 12:38] 0Grit commented on #5814
Totally get it.

[2021-09-29 13:02] akosyakov commented on #4199
I looked at fresh data since last deployment 7 days, still 1.8% of user sessions seem to be stuck even with fixed events.

[2021-09-29 13:14] csweichel commented on #5876
Root cause of this issue: https://status.cloud.google.com/incidents/QSirAFiyN5yMeeE6GNxq?_ga=2.66285422.-1381644037.1603351900

[2021-09-29 13:18] aledbf opened #5924 "[ws-manager-bridge] Unexpected error generating prometheus metrics"
### Bug description

[code]

cc @csweichel

[2021-09-29 13:18] akosyakov commented on #4199
Hm, i think date are still not very clean. We are losing now unload event. If I filter out events which never even see ide-init and unload then we get: 0.8% I will move unload event to more reliable place and for now assume that no unload and ide-init means the page was closed very fast, but we need to verify it later.

[2021-09-29 14:46] gtsiolis opened #5925 "Redirect users to the members list when trying to join a team they have already joined"
### Problem to solve

When a user is trying to join a team you've already joined they see the following error page.

See also [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1631009839127300) (internal). Cc @AlexTugarev

| Joining a team you've already joined |
|-|
| ![gitpod io_teams_join_inviteId=f2c69638-1d9b-483e-bad0-61a0e81204a8](https://user-images.githubusercontent.com

[2021-09-29 14:59] jankeromnes opened #5926 "Impossible to add a project (repository list capped at 100?)"
### Bug description

1. I would like to add https://github.com/gitpod-io/workspace-images to our `Gitpod` team on https://gitpod.io

2. Heading to `/new`, I select the `GitHub` provider, and then the `gitpod-io` org

3. In the list of repositories, I cannot find `workspace-images`

<table><tr><td>
<img width="1440" alt="Screenshot 2021-09-29 at 16 55 21" src="https://user-images.githubusercontent.

[2021-09-29 15:04] gtsiolis commented on #5926
See also relevant discussions[[1](https://gitpod.slack.com/archives/C021Q4BL8E8/p1630576961062200?thread_ts=1627546160.099300&cid=C021Q4BL8E8)][[2](https://gitpod.slack.com/archives/C021Q4BL8E8/p1627555924104600?thread_ts=1627546160.099300&cid=C021Q4BL8E8)] (internal).

[2021-09-29 15:27] dnlbowers opened #5927 "Gitpod unable to initialise new work spaces"
### Bug description

Workspace stuck on loading screen

### Steps to reproduce

Launch gitpod from any github repository

### Expected behavior

A workspace should load

### Example repository

Any

### Anything else?

Thats it

[2021-09-29 15:40] jankeromnes commented on #5926
Thanks for the context @gtsiolis! It would seem that the limit of 100 could be due to pagination (we previously got only 30 results -- GitHub's default number of results per page -- and we've raised that to 100 -- GitHub's maximum results per page).

To fix this, we should properly handle pagination when getting repositories of an org (i.e. get the first 100 results, then query the next 100, etc u

[2021-09-29 15:41] lechien73 opened #5928 ""Error: Not connected to message bus" when starting workspaces"
### Bug description

When starting workspaces, Gitpod is failing to load with the error "Not connected to message bus"
![Screenshot 2021-09-29 at 16 38 58](https://user-images.githubusercontent.com/21156053/135302487-5830c518-1a66-41c8-a279-e4067a1d7f6e.png)

### Steps to reproduce

Attempt to start a workspace and it will either spin forever or return the above error.

### Expected behavior

Norm

[2021-09-29 15:51] gtsiolis commented on #5928
Thanks for reporting @lechien73! The team is already on it. ⚡

We're currently investigating, see https://www.gitpodstatus.com/incidents/bptcrqdnw7sz. 💡

Let's also keep this issue open in favor of https://github.com/gitpod-io/gitpod/issues/5927 as the issue title is more descriptive here. Cc @dnlbowers

[2021-09-29 15:51] vinnieOrdobas commented on #5928
experiencing the same issue over here:
https://screenshot.click/29-42-62035-8871.png

[2021-09-29 15:52] vinnieOrdobas commented on #5927
experiencing same issue over here: https://screenshot.click/29-42-62035-8871.png

[2021-09-29 15:53] C-Undritz commented on #5928
Experiencing the same here.  In addition; within the workspaces menu I get the additional when hovering above the red dot
![gitpod_fail_message](https://user-images.githubusercontent.com/72443150/135304660-bc872697-801e-4443-8057-21c76caa297a.png)

[2021-09-29 16:00] jankeromnes commented on #5928
The incident is now resolved (workspaces can start again), but we're continuing to investigate what happened to `message-bus` and are closely monitoring the EU cluster.

Sorry for the disruption!

[2021-09-29 16:08] C-Undritz commented on #5928
Thank you for the speedy resolution!

[2021-09-29 18:28] konne opened #5929 "port ignore is not working as expected"
### Bug description

I have this config:

[code]

![image](https://user-images.githubusercontent.com/1100969/135327260-1e2b36af-2b78-4ea6-a101-27a1dfec1612.png)

In I don't expect to see that message boxes like they are visible for that ignored ports

### Steps to reproduce

use the yaml and have a service that open ports in the ignored space

### Expected behavior

see decs

### Example repositor

[2021-09-29 18:31] konne opened #5930 "gp sync-await for init commands"
If you are building complex init / command preBuild jobs it getting tricky to handle all cases that can happen.

1. init is started parallel to command (because no prebuild available and user click on without prebuild)
2. preBuild is available

To handle this I have at the moment the following code that is not nice:

[code]

It would be great if just all task with it names (example above "Dependen

[2021-09-29 18:36] jankeromnes commented on #5930
Thanks for the useful feedback!

A potential workaround here could be to add an awaiting `init` task the the second `command`, e.g. like so:

[code]

I think this should handle all cases well (e.g. prebuild vs no prebuild).

[2021-09-29 18:36] konne opened #5931 "~/.config/Code/User/settings.json no access to User settings"
### Bug description

The normal path to access user settings for vscode is not available in gitpod.

I also searched in the root dir with find -name for settings.json, but no file is filled with the user settings.

Use case:
We have already .vscode/settings.json in our repo so that it is used for all local developers with vscode.
We have to add settings that are only available for the gitpod conte

[2021-09-29 18:40] konne opened #5932 "auto reload for port not found &| better control of auto open ports"
During the setup of software like ng serve the port is sometime already opened and gitpod opens the page,
but the app is still not available and this lead to the following screen.

![image](https://user-images.githubusercontent.com/1100969/135328874-8c7ca63a-e92e-4ef5-958d-355e707cb6f9.png)

The wish is that this page just has a small js script that reloads that page every 5 sec. So after the app

[2021-09-29 18:45] konne commented on #5930
@jankeromnes thanks for that idea. I will try
I didn't get the idea from the docu to have an init & command in one block.
So it would be great if you can maybe add some more docu around using of those prebuild tasks.

[2021-09-29 18:49] konne opened #5933 "pre build logs with wrong terminal width"
### Bug description

Hi,

if I look at the prebuild logs they look really ugly:

![Uploading image.png…]()

### Steps to reproduce

add an init with npm ci & maybe some docker pull
and look at the logs after the prebuild is done

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-09-29 19:06] konne opened #5934 "run vscode commands via gp command"
It would be great to run any kind of vscode command via the command line for example with your gp tool.

This could be for example a run command in vscode, so that I run a command and automatically attach to a process,...

[2021-09-29 19:08] jankeromnes commented on #5930
@konne Aha, in this case, you could also simplify like this:

[code]

Then there is no need to synchronize. 🙂

Good point. Which docs did you look at specifically? (I ask because https://www.gitpod.io/docs/getting-started#init-script seems to have an example with both a `init` and a `command` for the same terminal)

[2021-09-29 19:39] konne commented on #5930
@jankeromnes
yes. I can confirm your solution is perfectly working.

I have another use case if the wait could be even on the task level.
I fully install another shell and make adjustments for configs,...
[code]

The issue for me is now, that the second terminal is already opened in the beginning and so my changes to the
shell and other stuff is not applied.

My Idea is to have something like:

[c

[2021-09-29 20:14] mikenikles opened #5936 "Allow prebuilds for specific branches"
In the `.gitpod.yml`, we have the following option to enable prebuilds on all branches:

[code]

I would like more granularity either through a regex, an array of branch names or a combination of the two.

_Regex_
[code]

_Branch names_
[code]

_Combination of regex & array_
[code]

A good use case is https://github.com/gitpod-io/openvscode-server. Prebuilds run for the `main` branch, but not `gp-

[2021-09-29 20:55] meysholdt commented on #5928
closing, because it's resolved.

[2021-09-29 20:55] #5928 closed

[2021-09-29 21:42] dtate-wave opened #5937 "[self-hosted] Starting workspace immediately stops with error "cannot mknod fuse...file exists""
### Bug description

When starting a new workspace, after the image is built the workspace immediately stops. The workspace pod is then immediately deleted. Looking into the `ws-daemon` logs this seems to be an issue with `/app/nsinsider` failing due to a file already existing.

`ws-daemon` logs:
[code]
Remediation actions tried:

1. Created new GKE meta and workspace nodes
2. Updated GKE cluster

[2021-09-29 22:30] jldec commented on #5320
+1 to add the MacOS arm64 build as well.
"Open in VS Code" with an M1 Mac currently fails because the default darwin binary is compiled for x86.

[code]

[2021-09-30 01:03] rl-gitpod commented on #5675
It is due to [this change in git](https://github.com/git/git/commit/6e773527b6b03976cefbb0f9571bd40dd5995e6c#diff-70525b6b89c7cac91e520085d954a68671038d218b77d22855e938ab075a68d8L1006) around the [sparse-index](https://fossies.org/linux/git/Documentation/technical/sparse-index.txt) introduced in v2.31+

It still exists in the current master and I've reported it to the git mailing list.

[2021-09-30 02:40] carlosal1015 commented on #5821
Hi @Merith-TK, maybe you will be interested to look this pull request.

Since I do no see the logs, I suspect that is related with [this solution](https://github.com/the-ashh/build-arch-action/blob/master/Dockerfile#L6).

[2021-09-30 02:54] shaal opened #5941 "Avoid making users wait for long prebuilds"
## Is your feature request related to a problem? Please describe

Prebuild on DrupalPod can take 5-20 minutes (assuming it does not fail).
The entire time the prebuild is running, no new workspace can be opened for project work.

## Describe the solution you'd like

Use the latest successful prebuild when opening a workspace for a repository.
To start working on a project, users shouldn't wait for

[2021-09-30 03:16] Decipher commented on #5941
I use Gitflow as my primary workflow, it would be nice if it were possible to have a "release branch" prebuild usable by the "main branch" after it is merged, and before the new prebuild has been built.

Alternatively, tag based or commit hash based prebuilds could be used when dealing with multi-branch workflows.

[2021-09-30 03:30] bigint opened #5942 "Is there any way to open an empty bash"
Is there any way to open an empty bash instead of the last mentioned tab in gitpod.yml?

![image](https://user-images.githubusercontent.com/69431456/135382301-933bc0d7-79b9-413a-83a0-a5856ccc10ff.png)

It would be great if `bash` is opened instead of `Dev Server: node`

My config

[code]

[2021-09-30 03:37] bigint opened #5943 "MySQL port get disconnected not sure why"
### Bug description

Whenever a new workspace is fired, sometimes MySQL connection get lost but it worked fine in prebuild

![image](https://user-images.githubusercontent.com/69431456/135382811-848078f2-b052-43f8-9508-9425478d776d.png)

### Steps to reproduce

Here is the repo https://gitlab.com/yo/devparty

There are no such steps, it is happening only sometimes

### Expected behavior

Connection

[2021-09-30 03:52] rl-gitpod commented on #5675
See also [this in Slack](https://gitpod.slack.com/archives/C01RC164G48/p1632967704012900)

[2021-09-30 03:56] #3424 closed

[2021-09-30 04:08] axonasif commented on #5320
@akosyakov I was wondering about where is the source code of [gitpod.gitpod-desktop](https://marketplace.visualstudio.com/items?itemName=gitpod.gitpod-desktop) hosted at. Any hints or is it not public yet?
Thanks.

[2021-09-30 05:52] ayoubelmhamdi commented on #4130
https://github.com/gitpod-io/gitpod/issues/5014#issuecomment-891781810

[2021-09-30 06:11] konne commented on #5932
@rohan-patra thanks for your PR on this issue

https://github.com/gitpod-io/gitpod/pull/5938

[2021-09-30 06:24] konne opened #5945 "sometime some docker services crash: OCI runtime failed: container_linux.go"
### Bug description

We have sometimes the issue that if I starting multiple containers with docker-compose up that some of them are crashing with the following error. Even in a fresh new started workspace. But in most cases, it works just perfectly without any change.

![image](https://user-images.githubusercontent.com/1100969/135398015-60a56a84-85c1-42a6-88d2-ab180611e18c.png)

If you have the c

[2021-09-30 07:50] #4962 closed

[2021-09-30 07:51] pawlean opened #5946 ""Not enough credits. Please book more." user error"
### Bug description

One of our users have come across this error when they are trying to open their Gitpod workspace.

![image001](https://user-images.githubusercontent.com/17087373/135410238-6509e2b8-4f76-411d-95c0-c430496de49a.png)

They are currently part of the Professional Plan and have a team seat assigned to them. We've checked if the owner's payment is up-to-date which it is.

### Steps t

[2021-09-30 07:54] jankeromnes commented on #5946
Oops 🙈 this looks indeed like a bug (firstly, this error should not be displayed like that, and secondly, it shouldn't even occur if you're on the Professional plan).

@pawlean could you please share the user ID and workspace ID if you have access to them?

[2021-09-30 08:08] pawlean commented on #5946
user ID: c3cce350-9b54-4762-99e1-d4835f7f6183
workspace ID: indigo-scallop-oz5nyyei

[2021-09-30 08:14] AlCalzone opened #5947 "Feature request: Automatically prebuilt shareable snapshots"
I'm maintaining a project which is heavily dependent on user-contributed JSON configuration files. These have to follow a strict set of rules, including formatting, linting, ..., see https://zwave-js.github.io/node-zwave-js/#/config-files/contributing-files for details.

When using VSCode offline, the environment is configured to make this a no brainer with auto-format on save, a JSON Schema and s

[2021-09-30 08:25] kevin-ci opened #5949 "Website not loading and workspaces not starting"
### Bug description

gitpod.io is not loading for me. Several of our students are experiencing the same issue. I'm getting the following alert:
![image](https://user-images.githubusercontent.com/57438532/135415844-bf4726f6-acdd-4c9f-873d-e44d6f8c6a69.png)

### Steps to reproduce

Issue happens when navigating to https://gitpod.io/

### Expected behavior

_No response_

### Example repository

_No

[2021-09-30 08:32] jankeromnes commented on #5949
Hi @kevin-ci! Thanks for the report. We're seeing an incident in the EU region and are currently investigating. We'll try to restore service as soon as possible.

[2021-09-30 08:35] konne opened #5950 "don't share ignored ports in local companian app"
at the moment just all ports are share from the remote system to the local system.
We need to control this, that only some ports that shared.

The port control options needs more options:

hidden ... fully hidden even not visible in the vscode remote explorer
notshared ... not available via local Companion app
onlylocalhost ... only bound to localhost in Companion app

[2021-09-30 08:47] C-Undritz commented on #5949
Just to chime and add that I am having this issue also.   I have been looking at 'Preparing workspace' for 30 minutes.

[2021-09-30 09:02] pawlean commented on #5949
Hi @C-Undritz, thank you! We're currently seeing an incident. Details [here](https://www.gitpodstatus.com/incidents/jgn29yrlqpjb). Please bear with us!

[2021-09-30 09:38] csweichel commented on #5943
We had an incident in the eu18 cluster earlier today that still affects the port exposure.
Service should resume as normal over the course of today.

Can you confirm that your workspace ran in eu18? You'd see this based on the workspace URL.

[2021-09-30 09:40] csweichel commented on #5945
/schedule

[2021-09-30 09:40] roboquat commented on #5945
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5945#issuecomment-931147290):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-30 09:41] csweichel opened #5951 "Alert on "regular not active" workspace increase"
This is a good indicator that workspaces are broken in a cluster.

[2021-09-30 09:47] csweichel opened #5952 "Back-off auto-port exposure when server reports backpressure"
When the `openPort` call to server fails because ws-manager's `ControlPort` call reports `ResourceExhausted`, supervisor keeps calling `openPort` which means we're never getting out of this situation.
![image](https://user-images.githubusercontent.com/3210701/135429321-f39c593e-4b16-4f9d-98d7-486df252953f.png)

Instead, supervisor should implement some form of (exponential?) back-off for the `open

[2021-09-30 09:48] princerachit commented on #5804
Have we analyzed performance improvement that we would get if we do this?

[2021-09-30 09:50] csweichel commented on #5951
/schedule

[2021-09-30 09:51] roboquat commented on #5951
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5951#issuecomment-931163793):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-09-30 09:51] csweichel commented on #5753
requires https://github.com/gitpod-io/gitpod/pull/5843

[2021-09-30 09:52] csweichel commented on #5951
requires https://github.com/gitpod-io/gitpod/pull/5843

[2021-09-30 09:52] csweichel commented on #4938
requires https://github.com/gitpod-io/gitpod/issues/5826

[2021-09-30 09:53] svenefftinge opened #5953 "Enable T&P for everyone"
The T&P UI layout has been hidden during development. We can remove it now so people can discover it.
For existing users, this will change the dashboard from:

<img width="1452" alt="Screenshot 2021-09-30 at 11 52 39" src="https://user-images.githubusercontent.com/372735/135430525-1c00252e-3620-4e52-9a94-0d1711e358fd.png">

to

<img width="1390" alt="Screenshot 2021-09-30 at 11 53 11" src="https:/

[2021-09-30 09:54] meysholdt opened #5954 "Have graphs for number of open / closed connections"
During yesterdays incident we were on the wrong track for a while because connection counts are not surfaced in Grafana. The metric endpoints are there, just graphs in Grafana are missing.

Metrics:
https://github.com/gitpod-io/gitpod/blob/eed37839c4b1da0c9760dad40a27b7a81b5c1456/components/server/src/server.ts#L309-L310
https://github.com/gitpod-io/gitpod/blob/a1dc90b927c89524def92e7c542b90eaac11

[2021-09-30 09:55] JanKoehnlein commented on #5953
/team meta
/schedule

[2021-09-30 09:55] roboquat commented on #5953
@JanKoehnlein: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5953#issuecomment-931170405):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-09-30 09:55] JanKoehnlein commented on #5953
/schedule

[2021-09-30 09:55] roboquat commented on #5953
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5953#issuecomment-931170865):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-30 10:00] JanKoehnlein commented on #5886
Thanks for the recommendation. Would you mind bringing this up again ~1 week?

[2021-09-30 10:03] bigint commented on #5943
@csweichel This happened in us18, and this is happening for past one week 🤔

[2021-09-30 10:03] JanKoehnlein commented on #5908
@gtsiolis What do you think?

[2021-09-30 10:04] JanKoehnlein commented on #5925
/schedule

[2021-09-30 10:04] roboquat commented on #5925
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5925#issuecomment-931179217):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-30 10:05] JanKoehnlein commented on #5926
I think we won't get that done before the launch of Teams and Projects. Please bring this up again later

[2021-09-30 10:06] JanKoehnlein commented on #5954
/schedule

[2021-09-30 10:06] roboquat commented on #5954
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5954#issuecomment-931180839):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-30 10:10] JanKoehnlein commented on #5847
I think this is not needed for the launch. Let's bring this up later

[2021-09-30 10:17] meysholdt opened #5955 "Have an alert on excessive messagebus queues."
Somewhere in the [following graph](https://grafana.gitpod.io/d/messagebus/gitpod-component-messagebus?orgId=1&from=1632825717780&to=1632995226351) there is an incident hiding:

![image](https://user-images.githubusercontent.com/239422/135437027-40b5f94e-cc56-4e97-8efc-e8e280c78a4f.png)

It would be useful to have an alert if the number of queues go through the roof.

Proposal: When https://github.

[2021-09-30 10:19] gtsiolis commented on #5908
Thanks @geropl! Going with the first proposal to show status indicator for latest commit only sounds a good step forward.

FWIW, We do have design specs most prebuild status phases including PENDING, RUNNING, etc. and I can see the RUNNING state popping up when a new prebuild is triggered.

❓ **question**: Are we not surfacing a prebuild phase here?

| Branches with prebuilds status |
|-|
| <img w

[2021-09-30 10:21] meysholdt opened #5956 "Alert on connection count problems"
It would be useful to have an alert on the metrics from this https://github.com/gitpod-io/gitpod/issues/5954.

Not sure what the exact alert criteria/threshold should be, but from a high-level perspective the following scenario are strong indicates for a real problem:
* number of connections increase indefinitely
* connections are not being closed

Proposal: When https://github.com/gitpod-io/gitpo

[2021-09-30 10:50] gtsiolis opened #5958 "Submit team creation form on enter in the onboarding flow"
### Problem to solve

When going through the onboarding flow (`/new`) the team creation form does not submit on enter as done with the standalone team creation page.

See also https://github.com/gitpod-io/gitpod/issues/4951. ➿

Cc @svenefftinge because of a recent discussion.

| New team from `/new` | New team form `/teams/new`|
|-|-|
| <img width="435" alt="Screenshot 2021-09-30 at 1 47 15 PM" sr

[2021-09-30 10:55] gtsiolis opened #5959 "Improve no access placeholder illustration"
### Problem to solve

This is a placeholder issue for discussing improvements to empty state illustrations like the  no access placeholder illustration.

Pasting below an early draft.

| BEFORE | AFTER |
|-|-|
| <img width="1440" alt="Screenshot 2021-09-29 at 2 09 43 PM (2)" src="https://user-images.githubusercontent.com/120486/135258628-6ab97969-1ba3-4a44-81db-182a25660c7e.png"> | <img width="144

[2021-09-30 11:00] laushinka commented on #5066
@svenefftinge After discussing with @AlexTugarev, for this first iteration it could be enough to have the team and its associated projects marked as deleted, because workspaces will be garbage-collected eventually.

[2021-09-30 11:09] JanKoehnlein commented on #5955
/schedule

[2021-09-30 11:09] roboquat commented on #5955
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5955#issuecomment-931223388):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-30 11:09] JanKoehnlein commented on #5956
/schedule

[2021-09-30 11:09] roboquat commented on #5956
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5956#issuecomment-931223633):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-09-30 11:15] svenefftinge commented on #5066
Ok, good. I like making this a small improvement for now. FWIW pinned workspaces would never be deleted through GC, but I think this ok and provides some additional motivation to further improve this in a second round. :-)

[2021-09-30 11:35] JanKoehnlein commented on #5330
Let's do this after the launch

[2021-09-30 11:45] aledbf commented on #5804
@princerachit gzip is one of the more expensive operations. We already have this approach implemented in [dashboard](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/leeway.Dockerfile#L13-L17)

[2021-09-30 11:47] AlexTugarev commented on #5573
@geropl, I'm afraid this is not the case

Should be fixed with this one: #5897

[2021-09-30 12:16] AlexTugarev commented on #5904
It's even worse. We've just seen prebuild workspaces in `building` state were presented as READY. After ~5min the prebuild status was updated again.

[2021-09-30 12:16] mjaindwave commented on #5937
Dear Gitpod developers,

Without getting this issue resolved, we are unable to continue with Gitpod's self-hosted option at D-Wave systems. This is a top blocker for us and we could really use your attention on this.

Is there any supported environment configuration that worked for you successfully in using the self-hosted model of Gitpod? Also, do you have any troubleshooting suggestions?

As men

[2021-09-30 12:28] jimmiebtlr commented on #5740
There's a setting that seems to fix it for me.  Don't recall the exact name, but changing it from "keyboard_code" -> "code" fixes it for me.

[2021-09-30 12:28] #5740 closed

[2021-09-30 12:32] shaal commented on #5941
Skipping prebuild is not solving the problem at all, because the goal is to get to 'ready to code' state.

It's fine to use older prebuild that was completed successfully. It is similar to working on a branch for a few days while main development branch got further ahead.

[2021-09-30 12:35] shaal commented on #5904
Is this issue going to solve https://github.com/gitpod-io/gitpod/issues/5941 as well ?

[2021-09-30 13:32] JanKoehnlein commented on #5690
We're currently a bit swamped. Please bring this up again in a week or so

[2021-09-30 13:53] #5461 closed

[2021-09-30 14:23] #5953 closed

[2021-09-30 14:31] ArthurSens commented on #5954
Just wanted to point out that Grafana's Explore is always there for you to query metrics that are not shown in a dashboard 😬

[2021-09-30 14:35] ArthurSens commented on #5956
While I know that it's good to know about connection problems. I'm still in favor of not adding alerts that are not related to user-experience.

Our users don't care if "messagebus has connection problems", they care that their workspaces are not starting! In a Grafana dashboard that is dedicated to "Workspace start SLO", we can add messagebus metrics and easily discover if the reason why workspac

[2021-09-30 14:37] ArthurSens commented on #5955
Same as in https://github.com/gitpod-io/gitpod/issues/5956#issuecomment-931381051

[2021-09-30 15:17] JanKoehnlein commented on #5464
How can I reproduce this?

If it must be fixed before the first shipping, please add it to groundwork before tomorrow.

[2021-09-30 15:26] JanKoehnlein commented on #5707
Closed by #5726

[2021-09-30 15:26] #5707 closed

[2021-09-30 15:35] jankeromnes commented on #5791
@svenefftinge Isn't it actually the Prebuild**s** (with an 's') page that already does what we want? I.e.

1. Click on Project to see active Branches
2. Click on specific Branch to see list of Prebuilds (i.e. just like the current Prebuilds page, but just for one Branch)
3. Click on specific Prebuild to see the logs

To me, it doesn't make sense to show the logs of one Prebuild, and then a list of

[2021-09-30 15:40] JanKoehnlein commented on #5956
I don't quite agree. IMHO, the purpose of this alarm is to notify us something is going wrong, such we can take action *before* it becomes so bad it's hurting our users. Is that against the ideas of alerts?

In this particular case, we never really cleaned up websocket connections, leading to leaked memory on `server` and `messagebus` that would make them unoperable within ~90min.

[2021-09-30 15:55] mikenikles opened #5964 "In-workspace onboarding v2"
In https://github.com/gitpod-io/openvscode-server/pull/110, we released v1 of the in-workspace onboarding.

As a follow-up, here are some ideas.

## Change the look & feel to match what VS Code does

<details>
  <summary>Screenshot</summary>
    <img src="https://user-images.githubusercontent.com/788827/135488091-75218bcf-c07e-49b3-bea6-4de90a41b324.png" />
</details>

In particular, use each step

[2021-09-30 16:14] jankeromnes commented on #5464
Just to clarify, it is expected to always see the spinner (because we always need to check for a potential committed `.gitpod.yml`).

However, if you have:
1. Manually changed the configuration
2. Clicked on `Run Prebuild` at least once

Then opening the Configurator should show you your manually changed configuration (after the spinner, but it should not show a green "Project type detected" follo

[2021-09-30 16:17] jankeromnes commented on #5464
To reproduce:

1. Add a new Project with a repository that doesn't have a `.gitpod.yml`
2. See the auto-detected config
3. Manually change the configuration
4. Click on `Run Prebuild` (as soon as a Prebuild is started, the config is saved)

Then, visit the Configurator page again for your Project.

Expected result: If you have not committed a `.gitpod.yml` since then, you should see your manually

[2021-09-30 16:18] JohannesLandgraf commented on #5964
Excellent work with v1 @mikenikles! I really like the tone of it. Some small suggestions for improvement:

- [ ] At the end of each section add a 'Next button' to move e.g. from 'What is Gitpod?' to 'Prebuilds do the heavy lifting'
- [ ] For the CTAs (click here for e.g. the docker command, open ports) kumquat coloured buttons will work better
- [ ] Describe in 'Full access to a terminal' the shor

[2021-09-30 16:21] JohannesLandgraf commented on #5964
And another thing: I think the Get Started with Gitpod onboarding flow should replace the Welcome Tab (or open as the primary one next to the Welcome one)

[2021-09-30 16:21] mikenikles commented on #5774
Hey Alex, we're absolutely on the same page with that. To me, using the `gitpod-user=loggedIn` cookie is not the right approach. Hence, this issue is to find an alternative approach for the marketing website to let the login screen know a visitor already saw the marketing site.

Maybe Sven's comment here explains it better than I can: https://github.com/gitpod-io/website/pull/973#issuecomment-9197

[2021-09-30 16:26] filiptronicek commented on #5964
Would be great to fit a <kbd>Open in VS Code: Insiders</kbd> there, too!

[2021-09-30 16:26] mikenikles commented on #5964
_At the end of each section add a 'Next button' to move e.g. from 'What is Gitpod?' to 'Prebuilds do the heavy lifting'_
There isn't an API at the moment to do that, I wanted to add that in v1.

_For the CTAs (click here for e.g. the docker command, open ports) kumquat coloured buttons will work better_
👍 Will see what I can do here in terms of styling. Possibly inline CSS may do the trick.

_Desc

[2021-09-30 16:36] JohannesLandgraf commented on #5964
What I meant is having a real button :)

[2021-09-30 16:41] ArthurSens commented on #5956
By relying on alerts of "probable causes", yes we can be faster to react when this alert did show us the exact cause, but it can also trigger a lot of false positives. Paging people to act on an alert that does not reflect on a real problem is terrible. It makes our team members lose trust in our on-call process. It makes us work in a bad mood and we want to get out of the on-call schedule as soon

[2021-09-30 16:46] jankeromnes opened #5965 "Impossible to join team from different DB region"
### Bug description

When users try to join a team from a different DB region (EU/US), they see this error page:

![image (3)](https://user-images.githubusercontent.com/599268/135496965-6b1e4657-ec54-45a1-82fb-2750cf59032d.png)

### Steps to reproduce

1. Create team in EU
2. Send invite link to users in US

### Expected behavior

Invite link should work in all regions

### Example repository

_No

[2021-09-30 19:19] TheBestMoshe commented on #5933
![961250bd6c9f3c7eaa4a7e615cf88b8b662114f9_2_690x367](https://user-images.githubusercontent.com/34072688/135517166-820446ee-84fa-482c-9173-137fef7b8323.png)

I'm just reposting @konne's screenshot as it seems to have not uploaded properly.

I also have the same issue.

[2021-09-30 23:31] rl-gitpod opened #5970 "Add integration test for workspace backup"
Once the refactoring #5572 is merged add a test for workspace backup #5751

[2021-10-01 03:15] jgallucci32 commented on #5031
This is a great request and there is tremendous value for self-hosted installed behind slow company firewalls. One advantage here is you can use something like Artifactory or Nexus to act as a remote repository for open-vsx.org to be able to cache on-demand at scale. I'm going to see if I can manually test this on 0.10.0 since the IDE replacement commands seem simple enough to put in manually. Can

[2021-10-01 03:37] bigint commented on #5943
Also now sometimes getting failed in prebuilds too 🤔

![image](https://user-images.githubusercontent.com/69431456/135561488-345def6c-fe94-4d2a-8e39-b5e188a52853.png)

[2021-10-01 04:17] rl-gitpod commented on #5381
I randomly selected 20 workspaces where this error was reported in prod and all of them were ghost workspaces which do not have a checkout location and so are expected to output this error. In looking for ways to guard against this unnecessary logging (userID==all 0's==system user) I accidentally managed to repro the actual problem!

This workspace was started using a template and does not have a

[2021-10-01 05:19] #4570 closed

[2021-10-01 05:56] AlCalzone commented on #5947
Got any documentation on that? The only thing I've found is in relation to shared workspaces, which is very clear:

Then on the other hand, I'm not sure where I can see the actual prebuilds (or automatic prebuilds are not working).

[2021-10-01 06:20] princerachit commented on #5804
This is being discussed internally in this [slack thread](https://gitpod.slack.com/archives/C01KGM9AW4W/p1632995338430400). There are no prebuilt static assets in blobserve. The relevant assets are downloaded on demand and then used based on the requests. Another catch is the fact that the blobs that are downloaded by blobserve in order to serve client requests can be GCed too.

It is unclear if h

[2021-10-01 06:22] JanKoehnlein commented on #5464
That's what I tried as well, and I couldn't reproduce it either.

[2021-10-01 06:40] AlCalzone commented on #5947
Yeah, that's what I meant. That part of the URL got lost from my comment.

[2021-10-01 06:50] #5331 closed

[2021-10-01 07:06] AlexTugarev commented on #5941
@shaal, that's not a general rule. If you open a workspace for a commit A it's just an exception that you'd be happy to get a prebuilt workspace for commit B.

[2021-10-01 07:09] #5965 closed

[2021-10-01 07:11] AlexTugarev opened #5974 "[teams] Reword header to meed current features"
<img width="495" alt="Screen Shot 2021-09-30 at 16 01 42" src="https://user-images.githubusercontent.com/914497/135579943-d1e95b5e-9e73-4783-a42f-a932734105a7.png">

We should leave out subscriptions for now and adjust link to the docs.

[2021-10-01 07:12] #5374 closed

[2021-10-01 07:12] #5771 closed

[2021-10-01 07:12] princerachit commented on #5246
I cannot see this error in our logs anymore.
Looking at the code I suspect this error could occur when a workspace is scheduled while an installation of a different version of gitpod is in progress.

In nut shell this is what I think happened:
1. Cluster had version X of gitpod installed
2. An attempt to install new version of gitpod was made
3. ws-daemon was not completely rolled out
4. scheduler

[2021-10-01 07:22] ChristinFrohne opened #5975 "Users don't understand how to change Git providers"
We get several support requests because users don't understand how to change git providers.

**Common steps:**
- they try to log in with another Git provider than they used the first time.
- they get the error "Email address already exists. Log in using a different provider."
- they are confused and contact support. Some are thinking the solution is deleting the account and creating a new one. So

[2021-10-01 07:24] AlexTugarev commented on #5975
@ChristinFrohne, do you have a story/description for that case?

[2021-10-01 07:26] ChristinFrohne opened #5976 "Users don't know how to cancel their subscription"
We get several support requests from users asking how they can cancel their subscription

**Possible issue:**
there is no `cancel subscription` button on https://gitpod.io/plans. The only way to cancel a subscription is to downgrade. But this doesn't seem to be obvious.

**Possible solution:**
Add a `cancel subscription` button that would automatically move the user to the open source plan.

cc @g

[2021-10-01 07:31] gtsiolis commented on #5974
Thanks for noticing and opening this @AlexTugarev! I'll pick up this minor issue! 🧺

[2021-10-01 07:35] chrifro opened #5977 "users have multiple active plans without knowing"
We got a few support requests about users not understanding why they are billed for multiple subscriptions.

Issue:
users have one active personal subscription and two active team subscriptions. After canceling one, they don't understand why they are keep being billed for it.

Wouldn't it make sense to allow only one active subscription per user?
Could the UI reflect better which subscriptions are

[2021-10-01 07:50] gtsiolis commented on #5976
@ChristinFrohne I'm closing this in favor of https://github.com/gitpod-io/gitpod/issues/4453 which links back to https://github.com/gitpod-io/gitpod/issues/3948#issuecomment-869453517 that suggests we add an action button for managing subscription as described in this issue.

Feel free to reopen this issue in case I'm missing something and this is not a duplicate but describes a different issue. 🏓

[2021-10-01 07:50] #5976 closed

[2021-10-01 07:54] gtsiolis opened #5978 "Last prebuild timestamp is misaligned and breaks layout"
### Bug description

:a: The last prebuild timestamp is not aligned next to the branch name on the project cards. This was an issue since https://github.com/gitpod-io/gitpod/pull/5098.

:b: Also, back in https://github.com/gitpod-io/gitpod/pull/5961 where the last prebuild timestamp was updated it surfaced the state _a few seconds ago_ which breaks the card layout.

### Steps to reproduce

1. Add

[2021-10-01 08:36] meysholdt commented on #5956
if we look at the [following query](https://grafana.gitpod.io/explore?orgId=1&left=%5B%221632516306891%22,%221633063300439%22,%22VictoriaMetrics%22,%7B%22exemplar%22:true,%22expr%22:%22sum(server_websocket_connection_count)%20by%20(cluster)%22%7D%5D):
[code]

![image](https://user-images.githubusercontent.com/239422/135588649-74dc53ae-0178-4b07-953d-8a1c6d6febf8.png)

We can see the incident prett

[2021-10-01 08:39] AlCalzone commented on #5947
Ok it seems like this is already working as intended. However, the documentation could be made clearer, at least it wasn't immediately obvious to me.
Also seeing the status of prebuilds would be nice - but that's already on the roadmap.

I'll let the maintainers decide what they want to do with this issue.

[2021-10-01 08:40] pawlean commented on #5947
Thank you for the clarification both of you - I'll make sure this feedback is added to the documentation.

[2021-10-01 08:41] AlexTugarev commented on #5975
@ChristinFrohne, I just checked with vercel.

The thing is, they are storing any Login Connections on backend indefinitely, i.e. even if you disconnect once and try to login, they remember your previous connection and let you in.

[2021-10-01 08:43] #5925 closed

[2021-10-01 08:50] ChristinFrohne commented on #5976
Great, thanks! Would it make sense to move #4453 back to the engineer inbox so we don't forget about it @gtsiolis ?

[2021-10-01 08:52] gtsiolis commented on #5976
@ChristinFrohne absolutely! Although we probably won't be able to take a closer look before the launch of teams and proejct next week. I've added #4453 to groundwork, feel free to add there any further comments. 🏓

[2021-10-01 08:53] csweichel commented on #5280
/schedule

[2021-10-01 08:53] roboquat commented on #5280
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5280#issuecomment-932045958):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-01 09:39] AlexTugarev commented on #5906
<img width="1156" alt="Screen Shot 2021-10-01 at 11 33 49" src="https://user-images.githubusercontent.com/914497/135599121-4dd17458-e6ed-443f-8b5c-e4716a98a2f0.png">
<img width="1478" alt="Screen Shot 2021-10-01 at 11 35 57" src="https://user-images.githubusercontent.com/914497/135599124-7f52e9ad-9202-456f-919d-a412aa9a6360.png">

Reopening, because the d_b_code_sync_resource queries are even hott

[2021-10-01 09:44] laushinka commented on #5330
Is this still happening? I tried with my personal account and I can see my avatar.
<img width="382" alt="Screenshot 2021-10-01 at 11 41 06" src="https://user-images.githubusercontent.com/8015191/135599872-00569677-3e15-4b0a-bf1d-0702cd280a59.png">
:

[2021-10-01 09:52] gtsiolis commented on #5330
@laushinka Yes, this is still happening but only affects group avatars as described in the issue! You can add more groups at GitLab.com first in order to see these here, see [relevant docs](https://docs.gitlab.com/ee/user/group/#create-a-group).

[2021-10-01 09:53] laushinka commented on #5491
/remove-team "meta"

[2021-10-01 09:55] princerachit commented on #5246
Since we are not seeing this error and the explanation above is most likely the cause, I am closing this issue.

[2021-10-01 09:55] #5246 closed

[2021-10-01 09:56] laushinka commented on #5330
@gtsiolis Turns out I needed to create a project first on GitLab under the group, in order for it to show up in the New Project page. It didn't show up with only a group for me.

[2021-10-01 09:58] gtsiolis commented on #5330
Ah, yes! That's expected as it does not make much sense to list it there when there are no projects inside, right? What do you think?

[2021-10-01 10:02] thiagops opened #5979 "VSCode Terminal's text is invisible in Safari"
### Bug description

If you open the built-in terminal, its output is not visible at all.
You are still able to select the text and click any links, though.
I can reproduce in _Safari Version 15.0 (16612.1.29.41.4, 16612)_ in the _macOS 11.6_ on the M1 MacBook.

### Steps to reproduce

- Using Safari 15.0, create a workspace on Gitpod, such as https://gitpod.io/#https://github.com/gitpod-io/templa

[2021-10-01 10:07] thiagops commented on #5979
Closing. Just realised it's a known VSCode issue 😅
https://github.com/microsoft/vscode/issues/133710

[2021-10-01 10:07] #5979 closed

[2021-10-01 10:46] gtsiolis opened #5980 "Add support for adding projects from Bitbucket.org git provider"
### Problem to solve

In the first iteration of Teams & Projects we've added support for adding projects from GitLab.com and GitHub.com git providers.

![Screenshot 2021-11-22 at 00 00 56](https://user-images.githubusercontent.com/849592/142784411-78aaffaf-3cff-449e-b363-9e93819d6876.png)

### Proposal

The natural next step here is to add support for adding projects from Bitbucket.org git provide

[2021-10-01 10:58] gtsiolis commented on #5977
@ChristinFrohne the proposal in https://github.com/gitpod-io/gitpod/issues/3948#issuecomment-869453517 could also help here. WDYT?  💡

Cross-posting below the design sepcs for visibility. Feel free to close any of these issues as duplicates and update the issue description with the proposal if it makes sense.

[2021-10-01 11:12] csweichel opened #5981 "[image-builder] image build did not produce a workspace image"
### Bug description

Sometimes the image builder mk3 does not produce an image, but errors with `image build did not produce a workspace image`

### Steps to reproduce

Find a base image that exhibits this behaviour and run bob to build the workspace image

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-01 11:12] csweichel commented on #5981
/schedule

[2021-10-01 11:12] roboquat commented on #5981
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5981#issuecomment-932138428):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-10-01 11:41] shaal commented on #5941
@AlexTugarev I couldn't understand your comment, can you clarify what you meant?

Compared to working with a local environment, a commit can be a Readme file, or a php file, that doesn't change the environment, and by running `git checkout main` I can get the latest files in the repo. But when there's a lengthy prebuild that takes 15 minutes, it stops everyone from opening new workspaces that whol

[2021-10-01 11:44] #5974 closed

[2021-10-01 11:50] AlexTugarev commented on #5941
@shaal that only applies to interpreted code and static resources. in case a transpiler/compiler is part of the build, it's likely needed to be called again, otherwise the editor and e.g. preview of your app are potentially not in sync.

[2021-10-01 12:12] hm2075 commented on #5064
had the same issue on self-hosted

i built my own docker image,

[code]

using dotnet core 6.0 preview

when attempting to do a dotnet watch run  I got the same errors as others mentioned

The specified task executable location "/run/containerd/io.containerd .......

for resolution

I copied  /usr/share/dotnet folder to /tmp
and then used

/tmp/dotnet/dotnet watch run

and it worked just fine.   G

[2021-10-01 12:18] shaal commented on #5941
@AlexTugarev I agree.

But we need to make improvements to the existing process.
It depends which file was change, and how does it affect everyone that waiting to open a new workspace.
Compared to local environment experience, perhaps a very short process of compile needs to run, as oppose to time of full recompile/setup of a clean environment from scratch.

[2021-10-01 12:18] davemecha opened #5984 "Self hosted GitLab pull / push not possible - CA verification failure with workspace-full image"
### Bug description

Some problems working with my self hosted GitLab emerged.

Starting the workspace runs fine, so the repo is perfectly cloned. But when I try to pull or push, I get an error (and a warning, that is also new):

[code]

2 days ago I was able to work with the same repo without any problems. The GitLab instance is hosted on Google Cloud with letsencrypt certs. When I access the Git

[2021-10-01 12:49] ArthurSens commented on #5956
We might think now that "just this one alert is okay, we'll have a better one in the future", but being soft to adopt something that is not a good practice usually opens doors to keep doing it just because "it is the most convenient now". We really need to work on good alerting practices. It has passed 10 months that we discuss SLOs and we never move forward with it 😕.

---

Now some further expla

[2021-10-01 13:47] hferentschik commented on #1337
Is there any progress on this?

[2021-10-01 16:17] hm2075 opened #5988 "Unable to create prebuilds"
### Bug description

Prebuilds do not work in self hosted version  0.10.0.  Error unable to insert null in creationTime

resolved locally using

alter table d_b_prebuilt_workspace MODIFY creationTime timestamp(6) null;

probably wont work for those using mysql that is part of the charts

### Steps to reproduce

Run prebuild on self hosted instance

### Expected behavior

_No response_

### Example

[2021-10-01 16:31] hm2075 commented on #5984
i see the same in self hosted gitpod together with self hosted gitlab

comes up with operation requires additional permissions,  read_repository even though it has been explicitly set

[2021-10-01 16:42] AlCalzone commented on #4588
I've got to agree here. As described in https://github.com/gitpod-io/gitpod/issues/5947, I maintain a repository which is heavily dependent on external contributors, some of which aren't very familiar with git and GitHub. For them, the workflow for working with forks in Gitpod is suboptimal to say the less.

Ideally, when they click on a link to open my repository in gitpod, their environment woul

[2021-10-01 18:29] szab100 commented on #3051
Hi,

[2021-10-01 18:29] AjXUthaya commented on #5984
Same issue here, assuming it has something to do with [Let's Encrypt's Root Certificate is expiring!](https://scotthelme.co.uk/lets-encrypt-old-root-expiration/). Is there a simple workaround that we need to do or will this be fixed automatically after a patch?

[2021-10-01 19:48] rfay commented on #3051
I had to use #imagebuild to get docker 20.10, https://gitpod.io/#imagebuild/https://github.com/drud/ddev

Until that no matter what I did I got docker 19.03

[2021-10-01 21:24] #4495 closed

[2021-10-01 21:24] #4585 closed

[2021-10-01 22:12] bwklein commented on #5892
I have attached a zip file of the logs from devtools (.log extension with the workspace name included in the filename), and from the UI in the `Output` tab, with each option in the list labeled in the (.txt) files.

The two files with `_after-reload` are the same files with the log data that showed up in devtools and `Output` after I clicked the reload button in my browser.  I will add that when I

[2021-10-02 01:32] shaal commented on #5941
This might be similar to what @Decipher suggested -
When creating a PR, and pushing commits to that branch, a prebuild is running (while `main` stay intact).

It would be awesome if I could make sure `prebuild` finished running (and tested), and then when merging to `main` (or tagging a release), a new prebuild is no longer needed, because it already completed running on that commit.

[2021-10-02 08:35] revolter commented on #5040
This happens on macOS too, not only on iPadOS.

[2021-10-02 08:45] hm2075 commented on #5090
had the same issue on self-hosted

i built my own docker image,

[code]

using dotnet core 6.0 preview

when attempting to do a dotnet watch run  I got the same errors as others mentioned

The specified task executable location "/run/containerd/io.containerd .......

for resolution

I copied  /usr/share/dotnet folder to /tmp
and then used

/tmp/dotnet/dotnet watch run

and it worked just fine.   G

[2021-10-02 11:49] bsideup commented on #5886
Hey folks! I am one of the Testcontainers maintainers - feel free to ping me if you need an assistance or some questions to be answered 👍

P.S. I would like to use this opportunity to say thank you for working on Gitpod - it is great, and I am one of the believers in Cloud IDEs being the future of modern development environments 💯

[2021-10-02 14:24] rfay commented on #3051
Still can't do use buildkite for muti-arch build

        echo "pushed drud/$item"; \
done
[+] Building 6.4s (1/1) FINISHED
 => ERROR [internal] booting buildkit                                                                                                            6.4s
 => => pulling image moby/buildkit:buildx-stable-1

[2021-10-02 18:27] #3451 closed

[2021-10-02 23:00] shism2 commented on #5430
Just checking to see if this is still to be released soon?

[2021-10-02 23:00] shism2 commented on #5430
@csweichel

[2021-10-03 02:49] JuanBrachoDev commented on #5949
Hello, posting in here as it seems to be a similar issue but my open ports don't get past "Detecting". Just giving my 2 cents in case it helps.
![ports](https://user-images.githubusercontent.com/73586967/135737633-0805d70a-bcc9-4562-ab8f-808c95241723.png)
.

[2021-10-03 04:16] #43 closed

[2021-10-03 04:39] eric-naguras commented on #4684
Hmmm, a bit complicated.
It would be so easy to add this (as a choice) to gitpod.

[2021-10-03 07:51] cloudsbird commented on #5534
Can we know when This Feature will be ready?

[2021-10-03 08:03] bigint commented on #5534
Yes we are loving to see it!

[2021-10-03 09:03] smacintyre opened #5992 "Extremely High Load Averages, Networking issues, and Prebuilds not working"
### Bug description

**Cluster:** ws-us18

**Repo:** Everyone I've tried. (eg. https://aqua-raven-8c3oj2wp.ws-us18.gitpod.io/)

**Load Averages:**
[code]

**Network Issues:**
Can't download from NPM:
[code]

**Prebuilds:**

No prebuild for repos that have changed since Friday afternoon ICT. This with the network failures, makes gitpod unable to start repos that have started since then.

### Steps

[2021-10-03 09:43] julkhami commented on #1781
It seems like these remote SSH options (Chisel, Local Companion app) require installation of something on a local machine, so for example you can’t SSH in to your terminal with just an SSH app like Termius. Is there any way to do this or will there be in the future?

[2021-10-03 13:24] smacintyre opened #5993 "Suddenly, pipx cannot be installed on the gitpod/workspace-full image"
### Bug description

A Dockerfile, based on ` gitpod/workspace-full`, my team has been using for months has suddenly started failing when installing `pipx` on new repoes. Repoes that have previously do prebuilds work fine with the exact same docker file.

If I click then `Continue With Default Image` button and try to run the exact same commands, everything works.

**Error**

[code]

### Steps to

[2021-10-03 14:43] afjiei0f0e0f0 opened #5994 "Accessing localhost of gitpod"
### Bug description

Hello,

I used the chrome extension and built apache/solr (`./gradlew assemble`)

After the build (which pass successfully) I've tried to run the web-service (`bin/solr [-c] start`), which run by default on port 8983.
The service start running successfully and a popup with the text "A service is available on port 8983" came, I chose "make public" and then "open in browser".

i

[2021-10-03 16:20] hm2075 opened #5995 "Extensions management"
Self hosted 0.10 -nightly

extensions are not stored locally,  only a reference to the open vsx entry exists in storage

upon creation of new workspaces,  extensions are re-downloaded to user's workspace,   the version is not maintained and users are updated to the latest version of those extensions.   Developers may require certain versions of the extension due to compatibility issues.

[2021-10-03 16:35] hm2075 opened #5996 "Auth popup"
### Bug description

When setting up gitpod for the first time on self hosted.

if user enters incorrect details on the Oauth popup there is no way to close the dialog.  All settings that have been input are greyed out.  User/admin is expected to reload the page which might not be obvious.

### Steps to reproduce

create a brand new self hosted installation

assign git provider but provide incorre

[2021-10-03 18:33] hm2075 opened #5997 "Delete workspace gui issues"
### Bug description

![image](https://user-images.githubusercontent.com/53794682/135766900-1f9d541d-da90-479c-83a5-b26ee4a2a925.png)

long project names do not fit in window

### Steps to reproduce

delete workspace that has a long project name

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-10-03 21:09] hm2075 commented on #5995
"extensions.autoUpdate": false

didnt know u could do that

[2021-10-04 03:01] aggmoulik commented on #4656
No, I was wondering whether I can work on this issue.

[2021-10-04 05:37] akosyakov commented on #5804
We are not taking new feature requests at the moment.

[2021-10-04 06:06] akosyakov opened #6000 "[code] update latest to VS Code 1.61"
There is already a release branch: https://github.com/microsoft/vscode/tree/release/1.61
We should set up the same branch in our fork with changes from gp-code and test it.

[2021-10-04 06:36] princerachit commented on #5280
I could reproduce the error and can see that Agent Smith is penalizes the ws as it is running a blacklisted:
[code]

[2021-10-04 07:17] akosyakov commented on #5995
sounds like a dup of https://github.com/gitpod-io/gitpod/issues/5856

[2021-10-04 07:17] #5995 closed

[2021-10-04 07:20] princerachit commented on #5280
I have raised a similar workaround PR https://github.com/gitpod-io/workspace-images/pull/517 again but we need to find a better way to deal with this issue.

[2021-10-04 07:21] akosyakov commented on #5952
We already have it in the supervisor: https://github.com/gitpod-io/gitpod/blob/49d667b776eca1a28dff3a3013e22d4309502960/components/supervisor/pkg/ports/exposed-ports.go#L157-L182

We only expose one port at the time with exponential back-off.

[2021-10-04 07:24] akosyakov commented on #5950
Eventually we would like to provide CLI which allows to control auto tunnelling as well as tunnelling of individual ports.

[2021-10-04 07:27] dominik4545 opened #6003 "Subfolder instead of subdomain"
Dear gitpod-team,

I wanted to use your self-hosted environment and would be very happy if you would support subfolders (e.g. https://ide.mydomain.com/ws/asdf) instead of subdomains (e.g. https://asdf.ws.ide.mydomain.com).

Could you please think of this feature? It would help me (and maybe others as well) :)

Thanks & best regards,
Dominik