[2022-09-15 13:16] Pothulapati commented on #11811
So, More context on this issue:

With the gitpod-eks-guide, We built custom AMI images where we [update containerd config](https://github.com/gitpod-io/gitpod-eks-guide/blob/main/ami/files/gitpod/containerd.toml#L28), and [restart it ahead](https://github.com/gitpod-io/gitpod-eks-guide/blob/main/ami/scripts/shared/docker.sh#L77) to make this work.  As we don't have something similar for GKE, and A

[2022-09-15 13:17] geropl commented on #12591
Looping @jankeromnes and @gtsiolis in here as they are both involved in this. I like the "enhance new workspace modal" idea!

[2022-09-15 13:20] geropl commented on #9974
@lucasvaltl We further built out the `AppNotifications` mechanism. I think it should be able to handle all the usecases you described above. Would it work if you look into that for the license-related use-cases, and approach @AlexTugarev if you need assistance on the code?

[2022-09-15 13:29] Pothulapati commented on #11811
Updated the issue to reflect the current behaviour (i.e removed gke mention) as it applies to all cloud providers in the reference architectures right now.

[2022-09-15 13:29] geropl commented on #12216
Hm, this feels a bit at odds with how we envision workspace: create for a single task, develop, push and "throw it away". What's the reason you watn to re-use your workspace? (or did I get this wrong? 🤔)

[2022-09-15 13:30] geropl commented on #12208
@akosyakov `gp` is owned by Team IDE, right?

[2022-09-15 13:32] #10402 closed

[2022-09-15 13:34] geropl commented on #12203
@AlexTugarev I believe you had a commit with a fix somewhere...? Cannot find it anymore.

[2022-09-15 13:35] geropl commented on #11959
I think this has been resolved, right? 🤔

[2022-09-15 13:35] #11959 closed

[2022-09-15 13:37] axonasif opened #13004 "Show error logs on the loading screen if dotfiles installation script exits with a non-zero code"
### Bug description

It can be hard to notice that your dotfiles script is failing suddenly. In order to inspect `$HOME/.dotfiles.log`, it's necessary to at least have the IDE start but if you have a relatively complex dotfiles installation script and it fails, it can sometimes cause the IDE to not start.

### Steps to reproduce

- In your dotfiles script, do something like `sudo rm -rf /ide`

###

[2022-09-15 13:40] geropl commented on #11796
Hey @ajhalili2006 , thx for reporting. However I feel that this is very far from our current trajectory. I will close this to clearly communicate that it's not on our roadmap. Meanwhile the issues stays here for future reference. 🧘

[2022-09-15 13:40] #11796 closed

[2022-09-15 13:45] geropl commented on #9971
Same as mentioned [here](https://github.com/gitpod-io/gitpod/issues/9974#issuecomment-1248092633): No UI work required, only thing required is to implement the check against the license on the backend.

[2022-09-15 14:06] mrsimonemms opened #13006 "AWS reference architecture errors if external DB no enabled"
### Bug description

See [code](https://github.com/gitpod-io/gitpod/blob/main/install/infra/modules/eks/database.tf#L28). It needs a `count` parameter adding and changing the `security_group_id` to include `count.index` instead of `0`

[code]

### Steps to reproduce

As above

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### An

[2022-09-15 14:07] jenting opened #13007 "[PVC] ws-manager event workers hang forever once over 100 VolumeSnapshots and ws-manager restart"
### Bug description

The ws-manager contains 100 workers to handle the events from the workspace pod and volume snapshot.
If there are over 100 VolumeSnapshots are ready to the ws-manager be restart, the ws-manager can't handle any pod and volume snapshot event because all the workers hang forever.

### Steps to reproduce

- Create over 100 VolumeSnashots.
- Try to open the workspace, the workspac

[2022-09-15 14:07] easyCZ commented on #11378
Re-opening as we'll want to follow-up with other db records, as well as lower the retention period.

[2022-09-15 14:07] AlexTugarev commented on #12970
First step: bumping GL library in https://github.com/gitpod-io/gitpod/pull/13001

[2022-09-15 14:11] andrew-farries commented on #12684
Removing my assignment from this now that https://github.com/gitpod-io/gitpod/pull/12942 is merged.

Users can now sign up for UBP, so this issue is unblocked.

[2022-09-15 14:11] Furisto commented on #12708
@jldec @mbrevoort @atduarte Given the above information, would you like to proceed with adding a smaller workspace class?

[2022-09-15 14:19] easyCZ opened #13009 "Remove d_b_billed_session and corresponding usage"
We've introduced the `d_b_billed_session` to track usage between Stripe and Chargebee, but we're not planning to use it goign forward. We can clean up.

Clean up the following:
- [ ] Calls into `BillingService.SetBilledSessions`
- [ ] Remove API `BillingService.SetBilledSessions`
- [ ] Once we confirm no usage, remove the table

[2022-09-15 14:34] laushinka commented on #13009
@easyCZ Are you working on this?

[2022-09-15 14:41] axonasif commented on #12216
_Maybe to have some memories contained within workspaces, just so that you can revisit in future time_ 😆

[2022-09-15 14:42] svenefftinge opened #13010 "[UBP] switch cost center strategy on stripe cancellation"
When a user cancels their payment in stripe, we should update the cost center and set it to `billingStrategy: 'other'` as well as setting the spendingLimit to the default for free users.

The event sent from Stripe on cancellation is called [customer.subscription.deleted](https://stripe.com/docs/billing/subscriptions/cancel#events)

[2022-09-15 14:48] easyCZ commented on #13009
To remove the calls: https://github.com/gitpod-io/gitpod/pull/13011

[2022-09-15 14:52] axonasif commented on #12877
Having parameter expansion just feels more nice for the peace of mind 😝

<img width="929" alt="Screenshot 2022-09-15 at 8 52 21 PM" src="https://user-images.githubusercontent.com/39482679/190436187-27e006dd-5e6b-444b-9a39-8845a8d08101.png">

[2022-09-15 14:56] axonasif commented on #12977
Hey @akshatnarayangupta, which are the things that needs to be persisted between workspaces? The authentication?

[2022-09-15 15:03] easyCZ commented on #13009
Remove RPC implementation: https://github.com/gitpod-io/gitpod/pull/13012
Remove proto definition: https://github.com/gitpod-io/gitpod/pull/13013
Remove Go DB model: https://github.com/gitpod-io/gitpod/pull/13014

Once these land, we can also drop the table.

[2022-09-15 15:23] #12399 closed

[2022-09-15 15:38] HadesArchitect commented on #419
Ciao Andrea!

Long story short, we have quite an edge case, so I doubt you'll really invest your time into that. It's a training platform over gitpod, my team works in the developer relations field to help engineers learn how to use Apache Cassandra, Apache Pulsar, etc.

We would like to embed gitpod to our academy.datastax.com (open, free, oss-learning project) but looks like we will have to keep

[2022-09-15 16:15] kylos101 commented on #12544
Creating the user, if not using our base image:

[code]

[2022-09-15 16:30] nandajavarma opened #13017 "[bug] Fix the S3 backend registry pre-flight check failure for eks automated test"

[2022-09-15 16:44] Pothulapati commented on #11811
FYI: Updated the issue description to include information from the comments that I had here, and deleted them to prevent confusin.

[2022-09-15 17:07] allezxandre opened #13019 "Cannot open in VSCode on macOS 13 beta, getting a `certificate has expired` error"
### Bug description

After starting a Gitpod Workspace, I am able to use the workspace from the browser, but trying to open it in VSCode Desktop fails, the logs read:

[code]

https://user-images.githubusercontent.com/39482679/190467685-23304b93-b91e-4753-9de0-7c9cbb889aff.mp4

### Steps to reproduce

Go to any workspace (<https://gitpod.io/#https://github.com/gitpod-io/gitpod>), open in VSCode (D

[2022-09-15 17:11] axonasif commented on #13019
Hey @allezxandre, could you grab the logs zip by following [this](https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-vs-code-web-and-desktop)? You can use this issue link as a reference on the email then.

[2022-09-15 17:20] allezxandre commented on #13019
Sent 📬 , thanks

[2022-09-15 17:57] kylos101 commented on #11454
@julia-leyton I am going to close this issue for now, we could not recreate it. If the customer is able to recreate and share a related support bundle, let us know? Happy to reopen.

[2022-09-15 17:57] #11454 closed

[2022-09-15 17:58] kylos101 commented on #10612
Hi @jenting what release cycle do they generally follow, can you share a link? If none, can you reach out to Matt again?

[2022-09-15 18:11] fergalquinn77 opened #13020 "Can't see open ports or the shared button on status bar. Pop-ups not showing either"
### Bug description

Hi there, normally you see the status of your workspace on the bottom left of your workspace (e.g. shared) and you can toggle. In addition, it normally shows open posts on the bottom right. In addition, when you open a post e.g. 8000, it asks do you want to open in your browser...none of these are working for me..

### Steps to reproduce

I turned on the gitpod chrome extensio

[2022-09-15 18:12] MangelMaxime commented on #12783
@geropl The second configuration I gave is what should be used when running inside of VSCode Desktop.

But it doesn't solve my problem, because I want to be able to run the project from both Gitpod Web and Gitpod VSCode Desktop.

# Current situation

*Note: The configuration I am mentioning below is what is computed when executing the project*

## Native desktop

The configuration currently used i

[2022-09-15 18:43] thisisommore commented on #12877
Not the good UX, It is not good duplicate one env variable with exact same value but double entries due to different scopes

[2022-09-15 22:05] akshatnarayangupta commented on #12977
Actually I we have an application where ask user for authentication, after authentication we allow them to edit few files(its some kind of task), they can complete it within any span of time, we sync their work from time to time and then mark them as passed or failed, but the issue we are facing is, when the user tries to again open the workspace wuing the gitpod.io/#github.repository they end up

[2022-09-15 22:15] sagor999 commented on #12983
I looked on workspace cluster side for instances that have this error, and according to logs it is coming from pods\containers that got into some really weird\odd state.
They all seem to have failed to start(?): `cannot connect to daemon from ring0`
So it is very odd that somehow bridge got an update that container was running after being stopped.

Ideally I would love to investigate traces for th

[2022-09-15 22:58] #13007 closed

[2022-09-15 23:18] tobil4sk commented on #10831
Just to update, https://github.com/microsoft/vscode/pull/158666 has been merged. With the next vscode release this issue should be resolved.

[2022-09-16 01:25] jenting commented on #12387
Assign to @sagor999 to validate it 🙇‍♂️

[2022-09-16 06:05] vamche commented on #419
We have a similar use-case for tutorials, to embed the GitPod along with the learning material.

[2022-09-16 06:06] #12283 closed

[2022-09-16 06:25] jenting commented on #12935
I tried different views of the metrics `process_open_fds`, to send the alerts as soon as possible.

![image](https://user-images.githubusercontent.com/49380831/190570248-b924ad51-cb5d-4311-ab98-625b6c560c48.png)

However, view with the sum of `process_open_fds`, at 09/13 05:30 UTC, the value is still slow.

We could consider sending alerts if the sum of `process_open_fd` over 3,000,000, but it ind

[2022-09-16 07:36] geropl commented on #12718
Hey @sagor999, :wave:

let me re-phrase, to make sure we're on the same page:
 - you see a prebuild configured by - and running with credentials from - user A
 - that prebuilds is using all features flags/config from user A (<-- incl. PVC flag)
 - when user B gets around and opens a workspace based on that prebuild, it breaks for them, because they cannot use the PVC workspace class

If that's a c

[2022-09-16 07:36] akosyakov commented on #13019
This error is from Node.js and was fixed in recent versions. You should upgrade to latest VS Code.

[2022-09-16 07:39] akosyakov commented on #13019
@iQQBot Could it be that some certificates expired on the system level? Do you know how one can troubleshoot it?

[2022-09-16 08:31] mrsimonemms opened #13026 "Automation environments in Werft"
As of today, Gitpodders have the ability to create a preview environment in Werft, either through `/werft run preview` or by selecting the checkbox in a PR. This is very helpful from a SaaS point of view, but there are options for self-hosted users that are not captured by this automation.

The intention at this stage is not to capture every single permutation of self-hosted installation type but

[2022-09-16 08:31] mrsimonemms opened #13027 "Create AirGapped preview in Werft"
Build an automation in Werft that allows for creation of an airgapped Gitpod infrastructure. When deploying to this, the expectation is that the installer will upload all KOTS/Gitpod images to the container registry and pull from there.

There should be both a Werft command (eg, `/werft run airgapped-preview`) and a checkbox added to all PRs. This will also add an additional preview box under the

[2022-09-16 08:32] mrsimonemms opened #13028 "Create HTTP Proxy preview in Werft"
Build an automation in Werft that allows for creation of an airgapped Gitpod infrastructure with an HTTP Proxy that allows traffic to connect to the public internet. It must use the airgapped configuration as a base to prove that the connections are going via the proxy server and not leaking directly to the public internet. Unlike with airgapped, this cluster should still be able to connect to the

[2022-09-16 08:44] allezxandre commented on #13019
Yes I am already running the latest version. Here's my VSCode about:

[code]

(My VSCode auto-upgraded from 1.71.1 to 1.71.2 earlier today, but the issue is still present. This issue also happens running on a fresh install of VSCode Insiders)

[2022-09-16 09:00] axonasif opened #13029 "Add python IDE configuration to integrate with pyenv"
## Is your feature request related to a problem? Please describe

Right now it's being done externally (from an IDE perspective) at [here](https://github.com/gitpod-io/workspace-images/blob/86212df19c9f06ce263987e6efa23740ef6c5d05/chunks/lang-python/python_hook.bash#L96-L103).

## Describe the behaviour you'd like

Upon the existence of ms-python.python and detection of `pyenv` on the workspace, a

[2022-09-16 09:18] mrsimonemms opened #13030 "Add the new environments to the nightly tests"
The new airgapped and proxied environments are useful to prove that our software has introduced no regressions. Configure nightly tests to ensure that the application still meets the test cases.

- [ ] AirGapped
- [ ] HTTP Proxy

[2022-09-16 10:51] MrSimonEmms commented on #11271
Superseded by #13030

[2022-09-16 10:51] #11271 closed

[2022-09-16 10:59] MrSimonEmms commented on #13026
See also [RFC](https://www.notion.so/Future-preview-environments-00b475e599344c61b527cedd22364c21) from Aleks

[2022-09-16 11:00] mads-hartmann commented on #12824
Quick note from chat with Chris

[2022-09-16 11:11] easyCZ opened #13034 "Alert on FinalizeInvoice errors"
When `BillingService.FinalizeInvoice` errors, alert on it.

[2022-09-16 11:14] easyCZ opened #13035 "FinalizeInvoice fails with "this property cannot be expanded""
FinaliezeInvoice is erroring with:
[code]

Find a fix.

[2022-09-16 11:25] jonathanjfshaw commented on #6794
I need something like this, both for cloning production database and getting composer packages.

[2022-09-16 12:01] AlexTugarev commented on #8952
Possible related issue https://github.com/microsoft/vscode-pull-request-github/issues/3847

[2022-09-16 12:11] tomatebeans commented on #12451
executed:   `docker exec gitpod kubectl logs deployment/image-builder-mk3 image-builder-mk3`
output logfile: [dockerlogimagebuildermk3.txt](https://github.com/gitpod-io/gitpod/files/9583821/dockerlogimagebuildermk3.txt)

[2022-09-16 12:11] allezxandre commented on #13019
After some investigation, the issue appears to be VSCode-related, as using `node-fetch` on the same URLs from the Node REPL does not error.

As a temporary fix I found in https://github.com/microsoft/vscode/issues/136787#issuecomment-968771447, I set the following setting in VSCode and Gitpod works again after a reload:

[code]

[2022-09-16 12:37] #13035 closed

[2022-09-16 12:38] AlexTugarev commented on #9253
The proper way to solve this is to make a [contents](https://docs.github.com/en/rest/repos/contents) request to read the raw URL from response, or event use that request to fetch the content.

[2022-09-16 13:06] Furisto opened #13041 "Limit network connections of users on the free tier"

[2022-09-16 13:11] easyCZ commented on #13034
To do this, it's not enough to alert on the `FinalizeInvoice` RPC (on gRPC), we also need to alert on the incoming webhook endpoint - that is on public-api-server

To do that, we need to track metrics from baseserver - https://github.com/gitpod-io/gitpod/pull/13040

[2022-09-16 13:16] akosyakov commented on #13019
@allezxandre thank you, we also do some improvements on our side, but it is a great hint, we could document it and point out via a notification if it happens

[2022-09-16 13:22] kylos101 commented on #12282
WebApp involvement should be done now because `server` logs all stop workspace requests as of https://github.com/gitpod-io/gitpod/issues/12283

[2022-09-16 13:24] AlexTugarev commented on #12203
this happens to happen in the `isStudent` check. AFAIR it was a missing `return`. commit is gone, but that's a quick fix.

[2022-09-16 13:25] mrsimonemms opened #13043 "High workspace failure rate in EU64"
### Bug description

- At approx 12:30UTC, the workspace failure rate started to escalate, peaking just after 13:00UTC.
- An [alert](https://gitpod.pagerduty.com/incidents/Q1UQK5EW2JZLAM) was fired
- This reduced quickly, but then remained at an elevated rate from ~13:05 UTC
- It appeared to be creeping up, so call an incident
- @Furisto joined the call, and which time it dropped back down to norm

[2022-09-16 15:15] svenefftinge commented on #12741
fixed by https://github.com/gitpod-io/gitpod/pull/13016

[2022-09-16 15:15] #12741 closed

[2022-09-16 15:16] svenefftinge commented on #13010
fixed with https://github.com/gitpod-io/gitpod/pull/13016

[2022-09-16 15:16] #13010 closed

[2022-09-16 15:17] jimmybrancaccio opened #13048 "Sync OAuth Primary Email to d_b_users Table"
## Is your feature request related to a problem? Please describe

When working with customers in support there are time when I want to verify them by searching the email address that submitted the support ticket with what we have in our database (to ensure they match). However there are times when a customer updates their primary email address at their SCM. This causes the value store in the `d_b_

[2022-09-16 19:21] Furisto opened #13050 "Cpu limiting is not working sporadically"
### Bug description

Sometimes the cpu limiting is not working

### Steps to reproduce

1. Launch a bunch of workspaces with stress-ng. You can use [this repository](https://github.com/Furisto/workspace-stress/tree/disable-tasks), which will start stress-ng automatically.
2. Close the workspaces
3. Open new workspaces. The new workspaces will not be limited

This is due to an error returned [here]

[2022-09-16 19:57] #13019 closed

[2022-09-16 20:06] sagor999 commented on #12718
Yeah, correct summary.

[2022-09-16 21:19] felladrin opened #13051 "[jb] Allow override "test-repo" in `launch-dev-server.sh`"
_Originally posted by @andreafalzetti in https://github.com/gitpod-io/gitpod/pull/12875#pullrequestreview-1106020477_

[2022-09-16 21:34] ghuntley commented on #12682
Not really. Strange that this was right away closed.

There’s two actionable things here:

- The Gitpod loading screen does not provide enough context to user what is happening. Codespaces provides insights and reassurances that the loading is well still loading. Codespaces has a progress indicator essentially.
- Codespaces loads 80 seconds faster.

[2022-09-16 22:14] kylos101 commented on #12718
@geropl

Given this block
https://github.com/gitpod-io/gitpod/blob/5bae14df896a36f92fce7ca423ae22db32c16383/components/server/src/workspace/workspace-starter.ts#L851-L860

It seems like the problem could be that we're passing `pvcEnabledForPrebuilds` as true in the options, when really, it's `false` for the project, but true the user has the `persistent_volume_claim` feature flag set.

I see optio

[2022-09-16 23:08] sagor999 commented on #12718
@kylos101 no, this is not correct.
`pvcEnabledForPrebuilds` is set to true ONLY when project has PVC enabled.

So in our case prebuild is correctly ran without PVC (since project has it disabled), but then it would open workspace with PVC enabled since user has PVC flag enabled, and then that flag would get baked into prebuild somehow. And this only happens when running prebuild via `#prebuild` ur

[2022-09-16 23:41] aledbf commented on #12682
@ghuntley thank you for bringing this to our attention.

The difference is related to the `git clone` command between the two platforms.

In Gitpod, you can find we use `git clone --no-single-branch --depth 1` while in Codespaces, they are more specific using `git clone --branch master --depth 1` (you can find the command in /workspaces/.codespaces/.persistedshare/creation.log)

Here is a screensh

[2022-09-17 06:32] ghuntley commented on #12682
Legend as always Alejandro

[2022-09-17 13:24] shaal commented on #9564
@rfay yeah, these URLs do not work.
Go to your Gitpod's user page.
Top-left corner, choose `ddev` as team (I think that is you and I there)
![image](https://user-images.githubusercontent.com/22901/190859166-96e32a66-aa4b-4179-bf51-d4a58e068000.png)
That would take you to https://gitpod.io/t/ddev/ddev
then, manually add `/events` at the end of URL (for me it's https://gitpod.io/t/ddev/ddev/events)

[2022-09-18 01:47] david-bakin commented on #12682
Suppose that gitpod changes _back_ to _not_ having `--no-single-branch` - then in that case if you wanted to checkout a different branch would you have to `git pull` something?  Would you actually have to do something to get all the _tags_ (i.e., including other branch names)?  If so I like the _current_ behavior instead.  If it is changed I'd like to suggest adding a property to `.gitpod.yml` to

[2022-09-18 01:55] Mk1206mk commented on #12473
https://gitpod.io/teams/join?inviteId=4b7c076e-e0b1-42c7-9ebb-1b6197888e94

[2022-09-18 10:46] jldec opened #13056 "Off-by-one difference between total usage and usage detail in usage list"
I noticed this in a personal usage view for a user who only had 1 workspace session (I manually opened gitpod.io/usage).

The total in the left says 11 credits, but the session in the list says 10.0 credits. Perhaps we are rounding incorrectly for the total?

<img width="1100" alt="Screenshot 2022-09-18 at 12 39 56" src="https://user-images.githubusercontent.com/849592/190898227-5273ee51-86e4-430b

[2022-09-18 12:38] islami00 commented on #10248
The doc url for anyone else who runs into this:
https://www.gitpod.io/docs/config-ports#local-port-forwarding

[2022-09-18 13:58] #13041 closed

[2022-09-18 15:35] aledbf commented on #12682
When you open a workspace, Gitpod only checks the last commit to open the UI as soon as possible.

From https://git-scm.com/docs/git-clone:

Once the UI is ready (and the .gitpod.yaml file is processed), the rest of the repository is fetched in the background.

You should see no changes without `--no-single-branch` once `git fetch` finishes.

[2022-09-18 15:56] megafinz commented on #12783
@MangelMaxime not sure if it will actually help you solve your problem, but you can try setting up [Tailscale](https://www.gitpod.io/docs/configure/tailscale#network-bridging) network between your dev machine and gitpod workspace. By enabling MagicDNS in Tailscale you will have predictable URL for the workspace (you can even customize the URL yourself).

[2022-09-18 21:13] kylos101 commented on #12718
:+1: ah, okay, I was unsure if I had the right block/path/flow, thank you @sagor999 for clarifying! @sagor999 it might help to sync with @geropl or another on webapp team. Could you share a calendly link with Gero?

[2022-09-18 21:59] jldec commented on #12675
We are trying to avoid the following situation

- A team or individual cancels their prepaid Chargebee plan in order to upgrade to postpaid usage-based billing.
- No UBP usage shows up until the end of the Chargebee billing period because those subscriptions currently continue running after cancellation, until the prepaid period has ended.

See internal disucussions [here](https://www.notion.so/gi

[2022-09-18 22:54] jldec opened #13058 "Error: Request getNotifications failed with message: /usage.v1.BillingService/GetUpcomingInvoice INTERNAL: failed to find customer"
Noticed this error in the dashboard (browser developer console) on gitpod.io while doing UBP walkthrough ([internal](https://www.notion.so/gitpod/Usage-based-Pricing-for-Teams-end-2-end-Walkthrough-53d41966254245ab8ae77112dc639e54)) with a new team. ([admin](https://gitpod.io/admin/teams/a6308ddb-9e4c-4b06-9beb-caa92dd9808b)). That team has been configured with usage-based billing.

The same error

[2022-09-18 23:07] jldec opened #13059 "Workspaces start even though usage limit exceeded for the team"
The usage limit is not working for a new team on gitpod.io configured with UBP.
Current total usage is showing 153 credits, but limit is set to 100 credits.

- no notification
- workspaces are starting normally

This may be related to #13058

Noticed this on gitpod.io while doing UBP walkthrough ([internal](https://www.notion.so/gitpod/Usage-based-Pricing-for-Teams-end-2-end-Walkthrough-53d4196625

[2022-09-18 23:22] jldec opened #13060 "Usage in usage view is not updated within 15 min"
New usage takes much longer than 15min to appear in the usage view of a team with UBP billing configured.
This will be a problem for users, and also for us internally because it slows down our testing.

See [internal discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1663340288083649?thread_ts=1663339548.024379&cid=C02EN94AEPL) - this may be related to missing DB indexes.

[2022-09-19 00:06] kylos101 commented on #12708
@Furisto thank you for this bit of info:

I think that is acceptable given the small workspace class. Appreciate you sharing the result! :+1:

[2022-09-19 00:20] kylos101 commented on #12682
@jldec can you share if there are existing issues for :point_up: or would it make sense to track in new issues? I ask because @aledbf is addressing performance observations as part of #13053.

[2022-09-19 00:27] kylos101 commented on #12629
See again [here earlier today](https://werft.gitpod-dev.com/job/gitpod-workspace-run-integration-tests-main.123/raw) @meysholdt

[2022-09-19 00:46] #12413 closed

[2022-09-19 01:44] kylos101 commented on #12908
@jenting do you think you solved the root cause for this issue in https://github.com/gitpod-io/gitpod/pull/12995? If yes may I ask you to close this issue?

[2022-09-19 02:02] jenting commented on #12908
Yes, I think #12995 is the root cause, closing it.

[2022-09-19 02:02] #12908 closed

[2022-09-19 03:22] knshkp opened #13062 "Opencv error"
### Bug description

Yeah when i were installed opencv on gitpod and when I use it to some project by imported the cv2 so then it give me the imported error

2022-09-19 03:11:38.703 Uncaught app exception
Traceback (most recent call last):
  File "/workspace/.pyenv_mirror/user/current/lib/python3.8/site-packages/streamlit/runtime/scriptrunner/script_runner.py", line 556, in _run_script
    exec(co

[2022-09-19 04:05] axonasif commented on #12977
@akshatnarayangupta ok, that helps to better understand!

Since you already sync things, so you can sync the value of `$GITPOD_INSTANCE_ID` and `$GITPOD_OWNER_ID` as well. These are environment variables.

Later in the beginning of your script, you can:
- Check if `$GITPOD_WORKSPACE_ID` is already there on your sync-server based on `$GITPOD_OWNER_ID`.
  - If it is, then compare the value of local

[2022-09-19 04:33] axonasif commented on #13062
From your error logs, this is probably where it's all failing:
[code]

Gitpod does not provide GPUs for now. However, you might be able to workaround this by installing `libgl1`:

[code]

Even if opencv works with it, remember that it's going to be software acceleration but not hardware, so the computation performance will be noticeably slow.

[2022-09-19 04:38] axonasif commented on #13020
Hi @fergalquinn77, something might be going wrong within your browser if you're using Gitpod on browser. You might want to check the console logs and/or try a different browser. Additionally, please follow [this](https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop) to help our IDE team to help you.

[2022-09-19 04:39] axonasif commented on #10831
cc @jeanp413 @akosyakov

[2022-09-19 04:53] Pothulapati commented on #12953
If folks haven't started working on this, I'm happy to take it up!

[2022-09-19 05:00] kylos101 commented on #12935
@jenting can you share the query you found most promising?

[2022-09-19 06:33] akosyakov commented on #10831
@tobil4sk It should be in VS Code insider on our side already. Select **latest** in https://gitpod.io/preferences and try.

[2022-09-19 06:42] easyCZ commented on #13060
This is a known issue at the moment. To fix this, we need the following changes:
* https://github.com/gitpod-io/gitpod/issues/11378
* https://github.com/gitpod-io/gitpod/pull/12706

This has been currently blocked due to new indices causing downtime.

For now, we could change the wording to say (refreshes every 1h) which is roughly how often we do it now. See [dashboard](https://grafana.gitpod.io/

[2022-09-19 06:44] akosyakov commented on #13020
It seems that VS Code is failing to load Gitpod extension. We will need to get logs to get to the root cause: https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop Please ping us again when logs are provided.

[2022-09-19 07:14] Pothulapati commented on #12084
Closing this as its not a specific GItpod issue and only happens with `fedora` and a filesystem configuration that already seems to have a fix.

Feel free to re-open if more users fall into this specific issue so that we can document or do something else here.

[2022-09-19 07:14] #12084 closed

[2022-09-19 07:16] #11303 closed

[2022-09-19 07:24] easyCZ commented on #13009
Removal of table: https://github.com/gitpod-io/gitpod/issues/13009

[2022-09-19 07:32] #12970 closed

[2022-09-19 07:37] alvarobartt commented on #9386
Thanks @reeceyng, that worked!

[2022-09-19 07:38] svenefftinge opened #13067 "[usage] Show the sum of usage, not the balance"
We are currently showing the credit balance the user or team had at the end of the currently selected period.
We should instead show the sum of all usage in the given selected period.

[2022-09-19 07:57] easyCZ commented on #13034
Currently blocked on fixes to observability release pipeline.

[2022-09-19 08:07] akshatnarayangupta commented on #12977
hey @axonasif ,
Thanks for the help, but i am still facing some issue executing the above pseudocode, can you please help ---
the line  **if gp preview "https://gitpod.io/start/#${ws_id}" --external; then {**
is giving the following error -

Unable to connect to VS Code server: Error in request.
Error: connect ECONNREFUSED 127.0.0.1:23000
    at TCPConnectWrap.afterConnect [as oncomplete] (node:ne

[2022-09-19 08:26] felladrin opened #13069 "Add a button to VS Code Ports View that adds the port to .gitpod.yml in case it's missing there"
Add a button to VS Code Ports View that adds the port to _.gitpod.yml_ in case it's missing there.

For cases when ports are decided during the development, or when we notice a third-party service is using some port and we want to set its 'onOpen' behavior to 'ignore', for example.

There could be another button, along with the four that already exist, to add it to .gitpod.yml.
Displaying the butt

[2022-09-19 08:45] jankeromnes opened #13070 "Wrong status shown in "create workspace" page when allocating resources"
## Is your feature request related to a problem? Please describe

Currently, when you create a new workspace, it can sometimes spend a few minutes in "Pending" state.

This is because `server.createWorkspace()` currently waits for the workspace to be actually started before returning, and during scale-up it can sometimes take several minutes before the workspace is actually started.

This causes u

[2022-09-19 08:52] AlexTugarev commented on #13070
@jankeromnes, where would we get events or state update from during `User could see this instead ("start")`?

[2022-09-19 08:52] easyCZ opened #13071 "Upgrade Configcat SDK clients in JS/Node"
ConfigCat is detecting we're using outdated SDKs - [see report](https://app.configcat.com/product/08da1258-64fb-4a8e-8a1e-51de773884f6/outdatedsdks)

Update these SDKs to squash the warning.

[2022-09-19 08:54] jankeromnes commented on #13070
@AlexTugarev The start page can figure this out given an ID, right?

You can try this yourself during scale-up:
1. Create a new workspace -- it gets stuck in "checking..." for several minutes
2. Meanwhile, open the workspaces list in a new tab, and open the same workspace -- there it's already in the "preparing" phase with a dynamic loader

I think the second option is a more accurate (and less st

[2022-09-19 09:00] geropl opened #13072 "ConfigCat: Use new proxy route as source for retrieving config.json"

[2022-09-19 09:11] svenefftinge commented on #12883
Have we checked our data if this would help?

[2022-09-19 09:23] AlexTugarev commented on #12684
This needs to be verified. I think it's already solved.

[2022-09-19 09:35] axonasif commented on #12977
@akshatnarayangupta I updated that line now, check again 👍

[2022-09-19 09:50] AlexTugarev commented on #12158
@geropl, I'd consider this to be low-prio and would pick it up, if we run low on issues in scheduled.

[2022-09-19 10:08] loujaybee commented on #13069
Copying internal comment from discussion:

---

We indeed should probably think about the “drift” of a users configurations when in a workspace more generally, e.g.
* When user installs tools
* When user installs extensions
* When user copies secrets

As these can all be “lost” when the user starts a new ephemeral workspace and adds friction. We should where we can “nudge” users towards codifying

[2022-09-19 10:24] AlexTugarev commented on #12684
Verified in a test deployment, cf. https://github.com/gitpod-io/gitpod/pull/13076#issuecomment-1250836541
✅

[2022-09-19 10:24] #12684 closed

[2022-09-19 10:41] svenefftinge opened #13079 "[ubp] Cannat adjust spending limit on Gitpod team"
The latest changes have added a billingStrategy to costCenter but didn't update the existing Gitpod team accordingly.
So it the DB it still is reflected as a non-stripe billingStrategy for which we don'T allow changing the spendingLimit (the UI throws: `Setting a usage limit is not valid for non-Stripe billing strategies` at you).

[2022-09-19 10:47] shepherd1530 commented on #1585
Is something like Okteto possible with GitPod?

[2022-09-19 10:57] akshatnarayangupta commented on #12977
hey @axonasif
Now this  gp ports await 23000 1>/dev/null && gp preview "https://gitpod.io/start/#${ws_id}" --external
is not working , it went inside if then but it didn't open a new webpage

[2022-09-19 11:09] fergalquinn77 commented on #13020
Thanks for coming back - here you go ;-)

On Mon, 19 Sept 2022 at 07:44, Anton Kosyakov ***@***.***>
wrote:

--
Fergal Quinn <https://www.linkedin.com/in/fergal-quinn-85247316/>
w: +353 (0)71 910 3201
m: +353 (0)87 667 8591
e: ***@***.***

[2022-09-19 11:18] axonasif commented on #13020
@fergalquinn77 did you email us the logs?

[2022-09-19 11:25] fergalquinn77 commented on #13020
Maybe it didn't upload via email - here you go ;-)
[vscode-web-logs-20220919T110848.zip](https://github.com/gitpod-io/gitpod/files/9598458/vscode-web-logs-20220919T110848.zip)

[2022-09-19 11:30] axonasif commented on #13020
@fergalquinn77 since these logs may contain sensitive information[[1](https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop)], so I deleted it from here and reuploaded manually on our slack, it would've been best if you had emailed us at support@gitpod.io :) but not necessary now.

[2022-09-19 11:42] axonasif commented on #12977
Can you share a screen recording of what's happening and how you're executing this script?

[2022-09-19 11:44] gtsiolis opened #13086 "Make workspace (class) preferences available only when users select a UBP-enabled billing account"
### Problem to solve

While we're rolling out UBP (Usage-based pricing) for teams, **workspace (class) preferences** are still visible and selectable when users set their personal account as their billing account.

See [relevant discussion](https://gitpod.slack.com/archives/C027AUU7BC3/p1663330064548559) (internal). Cc @jldec

### Proposal

Make workspace class preferences available only when user

[2022-09-19 11:54] akshatnarayangupta commented on #12977
I just noticed the chrome is blocking the pop-up 👀

[2022-09-19 12:08] axonasif commented on #1707
Hey @havogt @integrate-your-mind @samuelj123 @siawkz @nkoporec @lagoQ, this has been possible for the last few months, check this out to quickly get started with Neovim et' all: https://github.com/axonasif/dotfiles-sh

[2022-09-19 12:09] svenefftinge commented on #12883
We could blacklist any phone numbers that have been used by blocked accounts.

[2022-09-19 12:36] axonasif commented on #1585
@shepherd1530 see:
- https://www.youtube.com/watch?v=dgtuEgmsLoQ
- https://www.okteto.com/blog/modern-development-environments-for-cloud-native-applications-using-gitpod-and-okteto/

[2022-09-19 12:50] #12708 closed

[2022-09-19 13:07] #12203 closed

[2022-09-19 13:12] #13079 closed

[2022-09-19 13:19] fergalquinn77 commented on #13020
Great - thank you

[2022-09-19 13:20] axonasif commented on #10702
You can try [this](https://github.com/axonasif/dotfiles-sh#vscodeadd_settings) if you wish to do from dotfiles.

[2022-09-19 13:36] axonasif opened #13091 "Can't remove synced extensions from settings sync"
### Bug description

I have settings sync and `gitpod.remote.syncExtensions` enabled but there is an odd issue. A bunch of unknown extensions (to me) are automatically installed, even if I manually mark Do not sync extension and uninstall, they appear back on my next workspace. These un-synced extensions are also added on `settingsSync.ignoredExtensions[]` (as you can see on the screenshot) but th

[2022-09-19 13:38] andreafalzetti opened #13092 "Detect if plugin is installed"

[2022-09-19 14:10] loujaybee commented on #7906
The [changelog is updated with documentation](https://www.gitpod.io/changelog#sync-local-vs-code-extensions).

Will start to begin phased release to users.

[2022-09-19 14:16] adrienthebo opened #13095 "[self-hosted] 20022.08.0 support bundle does not contain pod logs"
### Bug description

In Gitpod 2022.07.x, support bundles contained `logs` and `log-collector` directories containing logs of running pods and prior pods, respectively. Recent troubleshooting has shown that support bundles created from Gitpod 2022.08.0 don't contain these directories.

### Steps to reproduce

Create a support bundle based on 2022.08.0 and confirm that they are missing the expected

[2022-09-19 14:17] jankeromnes commented on #12718
Whoops, the `#prebuild` URL prefix is deprecated and should be removed soon, because it bypasses pretty much everything we've built in the past years: https://github.com/gitpod-io/gitpod/issues/4353

The supported ways to trigger Prebuilds are (by order of preference):
1. Push a new commit to a branch with Prebuilds enabled
2. Click on the "Run Prebuild" button in Gitpod's UI for a failed or cance

[2022-09-19 14:19] loujaybee commented on #12183
Assigning to @jeanp413 to close when released / verified as working !

[2022-09-19 14:20] loujaybee commented on #12972
Looks related to, and probably could live with:

- https://github.com/gitpod-io/gitpod/issues/11862

[2022-09-19 14:21] loujaybee commented on #13091
Related to:

- https://github.com/gitpod-io/gitpod/issues/7906

[2022-09-19 14:26] jankeromnes commented on #4353
Good news: I believe there is now team-wide alignment on the fact that the "Run Prebuild" button should always trigger a new prebuild (regardless of whether there is already a successful commit available for the commit).

This will allow us to:
1. Make the `Run Prebuild` button always trigger a new prebuild consistently
2. Remove the deprecated and broken `#prebuild/` URL prefix

[2022-09-19 14:28] jldec commented on #13059
@svenefftinge is this resolved now? I can no long reproduce the issue.

[2022-09-19 14:39] svenefftinge commented on #13059
Yes, it got resolved with changes from last week.

[2022-09-19 14:39] #13059 closed

[2022-09-19 15:06] geropl commented on #4353
I wonder if this is captured by https://github.com/gitpod-io/gitpod/issues/12010? :thinking:

[2022-09-19 16:34] jwpjrdev commented on #7720
Can't resize windows in browser VS Code on iPad. Seems to be a VS Code issue because it also is a problem in Codespaces.

[2022-09-19 17:07] jeanp413 commented on #12183
Closing as already fixed on stable

[2022-09-19 17:07] #12183 closed

[2022-09-19 17:37] felladrin opened #13100 "[jb] Ensure workspaces containing the Maven Wrapper start with it correctly configured"
Currently, when we start a workspace that contains a `.mvn/wrapper/maven-wrapper.properties` file, it should start with Maven configured to use the Maven Wrapper, but instead, it's starting configured to use the Bundled Maven version.

We need to fix it to work as described on [IntelliJ IDEA Docs](https://www.jetbrains.com/help/idea/maven.html), where it says: "When you open an existing Maven proj

[2022-09-19 17:44] kylos101 commented on #12327
@jenting we moved this a week later too, we can wait to do the related delete for test snapshots, and harden this process once we're dog fooding.

[2022-09-19 17:46] Pothulapati commented on #12953
If folks haven't started working on this, I'm happy to take it up!  @nandajavarma @adrienthebo

[2022-09-19 18:24] #9508 closed

[2022-09-19 20:21] akshatnarayangupta commented on #12977
Hey @axonasif , sorry for disturbing again

THE FLOW STILL SEEMS TO BE A BIT OFF.....explaining

Is there some command to redirect automatically? Or if we are opening in new tab close the previous tab automatically and delete the workspace created and move to the new tab.

ie when the old workspace already exists, close the tab with the new workspace, delete the new workspace and move to the new t

[2022-09-19 20:56] akshatnarayangupta commented on #12977
And one more thing is **customized** pop-ups allowed?

Maybe we can give popup to choose if they want to open a already existing workspace.

[2022-09-19 21:44] david-bakin opened #13102 ""Cannot restore backup" due to multiple very large `core` files."
### Bug description

A user (not me) reports frustration due to not being able to restore a backup, as per the following message:

![cannot-restore-core-files](https://user-images.githubusercontent.com/4162948/191123679-58f13f89-4df2-42c3-b009-9cb7229f9333.png)

Notice that the problem complained of is "no space left on device" and the problem appears to be attempting to restore multiple core dump

[2022-09-19 23:18] jenting commented on #12718
🤔 but I remember my reproduce steps are
- push a new commit to a branch
- Click the "Run Prebuild" button in Gitpod's UI

[2022-09-19 23:21] jefer94 commented on #12640
I have the same issue

[2022-09-19 23:32] sagor999 commented on #12718
@jenting can you try to repro this? I was only able to repro this when using #prebuild url. 🤔

[2022-09-20 01:42] david-bakin commented on #12682
Ah! That's the key.

[2022-09-20 02:47] kylos101 commented on #12345
@Furisto can you build an ephemeral cluster in the US region, land on the cluster using a VPN, and leverage the additional tracing to debug this issue? I ask so we don't lose a day waiting for the deploy, but also because this issue is rather persistent for folks using the US cluster. :pray:

[2022-09-20 02:49] sagor999 commented on #12345
You can also use `ephemeral-g67-2` cluster as well (I am using it to test gen67). It will be until EOD of Tuesday (PST).

[2022-09-20 04:24] jeanp413 commented on #10831
Closing this as @tobil4sk PR got merged upstream, you can test it by installing vscode-desktop insiders

[2022-09-20 04:24] #10831 closed

[2022-09-20 04:46] jeanp413 commented on #13091
@axonasif you need to sync the uninstallation first i.e. remove them from `gitpod.remote.syncExtensions` and then uninstall so they are removed from the sync server, then if you want to only install an extension locally add it to `gitpod.remote.syncExtensions` first or use the `Install (do not sync)` action

[2022-09-20 05:40] kylos101 commented on #12453
@Furisto a related issue: https://github.com/gitpod-io/gitpod/issues/13102 (not sure if you want to link in your draft PR)

[2022-09-20 06:58] geropl opened #13105 "[usage-based] Team Owners are no longer able to re-assign seats"
Once a user is `usage-based`, they should no longer be able to signup for new subscriptions.
But they should still be able to modify their existing one's.

[2022-09-20 07:06] akosyakov commented on #13091
@jeanp413 is there something to document? cc @loujaybee

[2022-09-20 07:17] axonasif opened #13107 "code -r . <some-other-files> does not work properly on vscode web"
### Bug description

Trying to reopen the VSCode web instance with a different code-workspace root directory and a relative file to it does not work as expected. This is not an issue on VSCode desktop.

See the video below if it's not fully clear what I mean:

https://user-images.githubusercontent.com/39482679/191192199-8b1648c7-cdb0-4fc9-9baa-b0509f774c94.mp4

### Steps to reproduce

- Open a wor

[2022-09-20 07:22] akosyakov commented on #13107
@axonasif VS Code Web cli is not the same as for VS Code Desktop cli. I think you need to open an issue in https://github.com/microsoft/vscode to support it.

[2022-09-20 07:34] jankeromnes commented on #4353
@geropl Possibly, but that issue mentions several different problems, and doesn't give indications on what should actually be done.

[2022-09-20 07:45] easyCZ commented on #13034
Alerts are configured here - https://github.com/gitpod-io/gitpod/pull/13109
Runbooks are still needed.

[2022-09-20 08:28] MrSimonEmms commented on #13095
My anecdotal evidence is that the Fluent Bit logs are missing on some installations and not on others. When I developed it, I believe I tried it on k3s, GKE and AKS but I know of at least one GKE user that's not got these appearing in their support bundles.

Will investigate

[2022-09-20 08:59] #11270 closed

[2022-09-20 09:13] MrSimonEmms opened #13114 "Add validation check to ensure that, if limiting user registrations, there is at least one exception"
If the "user limit" is enabled, you can end up in a world of pain if there are no exceptions. The application allows you to log in, but then it automatically blocks that user as not in the exceptions list.

[2022-09-20 09:23] mads-hartmann commented on #12628
We're now running version 0.3.7 of werft - I'll check back tomorrow to see if the restarts have stopped.

[2022-09-20 09:30] geropl commented on #12718
I think I found the bug; it is as @jenting described.

The problem:
 - [here](https://github.com/gitpod-io/gitpod/blob/7a23e97cf64fc2fe59e957fcf3a2dcde8a9aa40f/components/server/src/workspace/config-provider.ts#L122-L135), we define `persistent_volume_claim` as "persistent" for a workspace
 - [here](https://github.com/gitpod-io/gitpod/blob/1ba4edc7fcc8f89c8d406ef0bb3843235817ed34/components/server

[2022-09-20 10:09] jankeromnes commented on #12453
FYI, I've just restored a workspace backup for an affected user.

The workspace backup was 168.1 GiB (so unrestartable), and this is what I found inside:

[code]

So, just a heads up that these `core` files can be as large as `160GiB`(!)

[2022-09-20 10:28] gtsiolis opened #13116 "Replace the editor selection cards with the new dropdown component used in the start with options new workspace modal"
### Problem to solve

Currently, we're using the [`SelectableCardSolid`](https://github.com/gitpod-io/gitpod/blob/fe26d2613df2f85667829c9de86bbeb187dc81cf/components/dashboard/src/components/SelectableCardSolid.tsx) component in multiple areas in the dashboard like the Editor, Workspaces, etc.

While the options for _Editor_ and _Workspaces_ will grow over time, they will always remain finite. See

[2022-09-20 10:50] mrzarquon commented on #11811
I believe we addressed this in our ALB advanced guide - https://www.gitpod.io/docs/self-hosted/latest/advanced/eks-with-alb-and-nlb#0-node-configuration

[2022-09-20 12:28] jacobparis opened #13122 "Settings Sync restart prompt has no way to dismiss"
Currently there is no way to dismiss the VS Code Settings Sync Modal:

![image](https://user-images.githubusercontent.com/5528307/191258364-85eafa04-3b96-4147-b975-4986260f5a42.png)

[2022-09-20 12:31] loujaybee commented on #13122
Copying internal response:

[2022-09-20 12:55] atduarte commented on #12883
There are a couple of things we could, and believe we should, do:
1. Add a "Blocked phone numbers" tab to /admin, like we have for repositories. Allowing to add new, modify, delete numbers manually
2. Look for phone numbers used too many times and block all associated accounts.
3. Automatically block a phone number when the user is blocked. And unblock when the user is unblocked.
4. Stop deleting

[2022-09-20 13:03] easyCZ opened #13124 "Epic: Server reliability improvements"
This epic tracks improvements to server reliability.

In particular, it focuses on the following:
* Appropriate status codes to eliminate 5xx errors
* Improved error tracking and detection

Issues:
- [x] #13125
- [x] #13127
- [x] #13128
- [x] #13129
- [x] #13130
- [x] #13131
- [x] #13132
- [x] #13133
- [x] #13134

[2022-09-20 13:12] easyCZ opened #13125 "Nearly 50% calls to joinTeam return 500 status code"
![Image](https://user-images.githubusercontent.com/1419286/191266737-6bb9b1e5-6cd5-4bff-935e-39132e87458b.png)

Query: `sum(increase(gitpod_server_api_calls_total{method="joinTeam"}[7d])) by (statusCode)`
[Dashboard](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28incr

[2022-09-20 13:31] easyCZ opened #13127 "createTeam fails with code 500"
[Dashboard](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_api_calls_total%7Bmethod%3D%5C%22createTeam%5C%22%7D%5B7d%5D%29%29%20by%20%28statusCode%29%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22instant%22:true%7D%5D,%22range%22:%7B%

[2022-09-20 13:31] easyCZ opened #13128 "sendHeartBeat fails with code 500"
[Dashboard](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_api_calls_total%7Bmethod%3D%5C%22sendHeartBeat%5C%22,%20statusCode%3D%5C%22500%5C%22%7D%5B7d%5D%29%29%20by%20%28statusCode%29%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22ins

[2022-09-20 13:35] youssefMes commented on #7001
same for me

[2022-09-20 13:36] easyCZ opened #13129 "deleteWorkspace fails with status code 500"
[Grafana](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_api_calls_total%7Bmethod%3D%5C%22deleteWorkspace%5C%22,%20statusCode%21%3D%5C%22200%5C%22%7D%5B7d%5D%29%29%20by%20%28statusCode%29%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22

[2022-09-20 13:40] easyCZ opened #13130 "triggerPrebuild is returning 500 code errors"
<img width="1588" alt="Screenshot 2022-09-20 at 15 39 06" src="https://user-images.githubusercontent.com/1419286/191273397-984e95ba-1b6b-433e-a73a-8e81167a4116.png">

query: `sum(increase(gitpod_server_api_calls_total{method="triggerPrebuild"}[7d])) by (statusCode)`

[Grafana](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22

[2022-09-20 13:44] easyCZ opened #13131 "getNotifications is returning 500 code errors"
[Dashboard](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_api_calls_total%7Bmethod%3D%5C%22getNotifications%5C%22%7D%5B7d%5D%29%29%20by%20%28statusCode%29%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22instant%22:true%7D%5D,%22range%2

[2022-09-20 13:47] easyCZ opened #13132 "registerGithubApp is returning 500 code errors"
<img width="1595" alt="Screenshot 2022-09-20 at 15 47 51" src="https://user-images.githubusercontent.com/1419286/191275044-ab224fc7-e06f-47f7-9e35-421d641f1f75.png">

[Grafana](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_api_calls_total%7Bm

[2022-09-20 13:59] easyCZ opened #13133 "sendPhoneNumberVerificationToken fails with 500 status codes"
query: `sum(increase(gitpod_server_api_calls_total{method="sendPhoneNumberVerificationToken"}[7d])) by (statusCode)`

[Dashboard](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_api_calls_total%7Bmethod%3D%5C%22sendPhoneNumberVerificationToken%

[2022-09-20 13:59] easyCZ opened #13134 "verifyPhoneNumberVerificationToken fails with 500 status codes"
<img width="1594" alt="Screenshot 2022-09-20 at 16 01 03" src="https://user-images.githubusercontent.com/1419286/191278298-850b4237-d2b3-4778-864d-d7f3af9ce8db.png">

[Grafana](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_api_calls_total%7Bm

[2022-09-20 14:10] jankeromnes commented on #13125
Good catch! 💯

Looking at the code, I have a strong suspicion that this is about trying to join a team where you're already a member:

https://github.com/gitpod-io/gitpod/blob/3ac0c02e2d62b0755177baa0591db8399c4caebe/components/gitpod-db/src/typeorm/team-db-impl.ts#L182-L184

(Otherwise, if a valid invite really wasn't found, it would be a 404 response:

https://github.com/gitpod-io/gitpod/blob/3a

[2022-09-20 14:21] nandajavarma commented on #12953
Yup! I was not planning to pick this up before the quarter ends. Please go ahead!

[2022-09-20 14:30] #9253 closed

[2022-09-20 14:34] #12199 closed

[2022-09-20 14:51] kylos101 commented on #11852
This is no longer blocked as of https://github.com/gitpod-io/gitpod/issues/12283

[2022-09-20 15:04] adrienthebo commented on #13095
I performed some preliminary testing yesterday using a dev license; the support bundle did contain logs as expected. It _might_ be that this is a limitation in how we're sending logs via replicated for production licenses or a mis-firing redactor.

[2022-09-20 15:17] mrzarquon opened #13135 "Directly support Azure Blob Storage instead of shimming to it via Minio"
## Is your feature request related to a problem? Please describe
Currently we ship two versions of minio in our image list, because AKS blob storage was [deprecated](https://github.com/bitnami/charts/issues/10258) and we also want a way to support S3 for incluster storage, which pulls in another image.

This makes [mirroring images and tagging them with release](https://github.com/gitpod-io/gitpod

[2022-09-20 15:23] MrSimonEmms commented on #13135
AFAIK, this will require a change in the [content-service-api](https://github.com/gitpod-io/gitpod/blob/main/components/content-service-api/go/config/config.go#L14,L28) to add Azure as an option.

This will also require a change in the [Installer's `storage.go`](https://github.com/gitpod-io/gitpod/blob/main/install/installer/pkg/common/storage.go#L95,L34)

[2022-09-20 15:54] adrienthebo opened #13136 "Support GitHub Enterprise subdomain isolation"
## Description

GitHub Enterprise supports [domain isolation](https://docs.github.com/en/enterprise-server@3.5/admin/configuration/configuring-network-settings/enabling-subdomain-isolation) which hosts user content in separate subdomains from the main GitHub Enterprise installation; when enabled the `ghe.example.com/raw` endpoints are moved to `raw.ghe.example.com/[...]`.  At present the GitHub En

[2022-09-20 15:55] adrienthebo commented on #8429
Hi @akashkrishnan, thanks for reporting this! It looks like your GitHub Enterprise installation uses subdomain isolation; I've created https://github.com/gitpod-io/gitpod/issues/13136 to track this issue. If you have any more information about this issue it would be great to add that to the new ticket!

[2022-09-20 17:07] jeanp413 commented on #13107
Hey @TimothyStiles, actually it probably is a bug in our fork of vscode in the browser and not an upstream bug

[2022-09-20 17:14] TimothyStiles commented on #13107
@jeanp413 thanks for telling me! I'll close it now.

[2022-09-20 18:30] adrienthebo opened #13139 "[self-hosted] Consider separating k8s system pods from Gitpod IDE/meta/workspace-service pods"
## Description

The AKS documentation is [pretty emphatic](https://learn.microsoft.com/en-us/azure/aks/use-system-pools?tabs=azure-cli) that production clusters should isolate system workloads (coredns, metrics-server) from user workloads. However, the [microsoft-aks guide](https://github.com/gitpod-io/gitpod-microsoft-aks-guide/blob/main/setup.sh#L90-L107) uses the default nodepool for Gitpod ser

[2022-09-20 18:36] metcalfc commented on #13139
@adrienthebo I'm supportive. We've seen several deployments already that would be safer if this was the case.

[2022-09-20 18:52] easyCZ commented on #13125
It is, I looked at the logs for this. The API behaves weirdly here, it throws an error with "Already in a team" (or similar) which it then checks for with a regex on the client side. Here, we should probably use the 409 HTTP Status code to indicate that the membership already exists.

[2022-09-20 18:54] easyCZ commented on #13124
I'll happily accept that as a fix for this :) I do suspect some instances may actually be legitimate issues, however.

[2022-09-20 19:11] MrSimonEmms commented on #13139
Broadly supportive of this change too.

If we're using Terraform, I guess we could have a `independent_control_nodes` boolean (or something similar). That would then enable us to support enterprises who want the safety of separate system pods, or the cheapness of not.

[2022-09-20 19:33] LeoDog896 commented on #5814
I'm trying to connect a camera to gitpod for a robot project -- having these types of APIs exposed can really help!

[2022-09-20 19:45] Furisto commented on #12453
@utam0k I will be OOO for the next three days. If you have the bandwidth can you take a look at this? The preferred option would be to not have these dump files created at all (the [rlimit option](https://github.com/gitpod-io/gitpod/pull/12814)). Another option would be to [exclude these files from backup](https://github.com/gitpod-io/gitpod/tree/fo/exclude-core).

Disabling core dumps currently m

[2022-09-20 19:47] Furisto commented on #12345
Unassigning myself because I will be OOO for the next three days. We have [additional tracing](https://github.com/gitpod-io/gitpod/pull/13097) for this problem now. If anyone has the bandwidth feel free to pick this up.

[2022-09-20 19:50] aledbf commented on #12453
@Furisto I will take this issue, use your draft PR, disable by default core dumps and enable the feature, and set the soft and hard limits using the .gitpod.yml

[2022-09-20 21:47] akashkrishnan commented on #8429
Hi @adrienthebo, yes, it must be the isolated domain feature. I was able to get around the issue by setting up a Cloudflare worker to do a redirect. Thanks for filing the new ticket!

[2022-09-20 22:46] mbrevoort commented on #12883
This seems pretty reasonable and would catch a lot of cases automatically while avoiding some legitimate phone number reuse scenarios.

[2022-09-20 23:09] jenting opened #13146 "[PVC][integration test] restart control plane components when/after volume snapshot in-progess/done"
## Is your feature request related to a problem? Please describe

Add/modify the integration test to test the control plane component (ws-manager, snapshot-controller) restart when volume snapshot in-progress _or_ after volume snapshot is done.

## Describe the behaviour you'd like

- To catch this issue #13007 in the automation test
- To test the regular workspace test case 6 (During the workspac

[2022-09-20 23:43] kylos101 opened #13147 "KOTS: stop running workspaces prior to upgrading existing workspace for single cluster ref arch"
## Is your feature request related to a problem? Please describe

We do not support live upgrades for the single cluster ref arch while workspaces are running.

## Describe the behaviour you'd like

Before KOTS begins a deployment:
1. Prompt the user if it is okay to proceed with the deploy to an existing cluster, share this should be done during an outage window planned with their business.
2. St

[2022-09-20 23:51] kylos101 commented on #13147
@lucasvaltl @corneliusludmann may we ask for your help in treating this as a priority for the September release?

cc: @aledbf @atduarte

[2022-09-21 00:59] kylos101 opened #13149 "KOTS: prerender yaml & validate patch files, prior to proceeding with deploy"
## Is your feature request related to a problem? Please describe

Customer patch files do not get validated before we deploy. This can be painful during outage windows, where they're trying to proceed with an upgrade, have a malformed file, but don't necessarily know why the upgrade is failing.

## Describe the behaviour you'd like

A pre-flight check should fail if the patch file causes rendered

[2022-09-21 01:00] kylos101 commented on #13149
@lucasvaltl @corneliusludmann a customer ran into this issue recently when doing an update of a self-hosted Gitpod installation.

cc: @atduarte @aledbf

[2022-09-21 01:13] kylos101 commented on #12935
:wave: hey @jenting , have you tried an alert like this? https://www.robustperception.io/alerting-on-approaching-open-file-limits/

[2022-09-21 01:31] kylos101 commented on #12935
Hey @jenting , I recommend trying to write an alert that is node or workspace based, rather than cluster based.

[2022-09-21 01:53] kylos101 opened #13150 "[ws-manager-bridge] cannot use `gpctl clusters update <command>` in preview environment with empty short name"
### Bug description

`--name` is required with `gpctl`, but, shortname is empty, "" in the database and [preview config](https://github.com/gitpod-io/gitpod/blob/f61eacf1e8e5e0a0efb7353fe29ad57f25a93820/.werft/jobs/build/installer/installer.ts#L125), I think shortName used to be "default".

The `ws-manager-bridge` API requires name, too.

We need the ability to use `gpctl` command more easily in p

[2022-09-21 01:55] kylos101 commented on #13150
@geropl @meysholdt heads up, I'm not sure why the name for preview environments when we use `gpctl clusters list` is empty. For example, "must" it be empty, or, is this just an oversight of prior work?

[2022-09-21 02:57] jenting commented on #10677
/not-stale

[2022-09-21 05:39] jeanp413 commented on #13091
Don't think so as that's normal behavior, but we can mention vscode docs if needed

[2022-09-21 05:46] corneliusludmann commented on #13149
Thanks, @kylos101 for raising this feature request. I'll close this as a duplicate of https://github.com/gitpod-io/gitpod/issues/12015.

We couldn't implement this easily in the past. However, the refactoring @MrSimonEmms did recently enables this. We will have this in the next release.

[2022-09-21 05:46] #13149 closed

[2022-09-21 05:49] corneliusludmann commented on #13147
I'm afraid we are quite limited regarding the KOTS UX and cannot ask the user. @MrSimonEmms any ideas?

[2022-09-21 06:44] #13114 closed

[2022-09-21 06:46] MrSimonEmms commented on #13147
We cannot add a "this is the impact" type message, but there is always a confirmation before the deployment is made (unless they have auto-deployments configured). Documenting the impact in the Gitpod docs is the only option.

Am I right in thinking that the reason for stopping the workspaces is to enforce the workspaces to backup to the storage?

---

## Suggestions

1. I'd also suggest that, rat

[2022-09-21 06:50] AlexTugarev commented on #13048
@jimmybrancaccio, I think we need to clarify on this one. Now, we have a `User.email` attribute which one can manage on https://gitpod.io/account manually, and this one should be used for communications etc. primarily.

Then there is a primary email address fetched from each SCM provider per identity, which should be used to create commits with. At this point there is a gap with private email addr

[2022-09-21 06:57] lucasvaltl commented on #13147
My idea here for an absolute skateboard would be to add a preflight check (should be top of the list of preflight checks in the UI) to check for running workspaces. If workspaces are running, the check should fail and point to the (new) documentation page around stopping workspaces in this [PR](https://github.com/gitpod-io/website/pull/2766).

[2022-09-21 06:58] MrSimonEmms opened #13151 "Refactor the installer envvars"
As part of #12687, there were a number of suggested changes to the envvars made the in the review. This ticket is to implement these suggestions.

1. expand all `REG_` envvars to `REGISTRY_`
2. change `REG_INCLUSTER_STORAGE_S3_BUCKETNAME` to `REGISTRY_INCLUSTER_STORAGE_S3_BUCKET_NAME`
3. any other envvars as you see fit

This will need to change in:
 - [envvars.go](https://github.com/gitpod-io/git

[2022-09-21 08:15] easyCZ commented on #11378
We're currently not deleting Prebuilds for Workspaces which we're purging, this leaves zombie records.

We'll need to do 2 things:
* Start deleting the prebuild records in the GC loop
* Retrospectively find all prebuilds which don't have a WS and delete these

To actually start deleting prebuild records - [PR](https://github.com/gitpod-io/gitpod/pull/13152), we will need the following:
* Add `dele

[2022-09-21 08:19] jldec opened #13154 "Credits column in usage detail view is misaligned and truncation is annoying"
Content in the Credits column should be aligned right, and I think overflow:hidden would work better (instead of ellipses) when the "min" units string does not fit.

<img width="992" alt="Screenshot 2022-09-21 at 10 12 27" src="https://user-images.githubusercontent.com/849592/191452356-209e4a7f-bc26-4e28-bf1a-0d471e0bb2ce.png">
<img width="1161" alt="Screenshot 2022-09-21 at 10 12 05" src="https:/

[2022-09-21 08:20] svenefftinge opened #13155 "[billing] Show current credit balance"
In the billing view of an account (individual or team) we currently only show the spending limit but not the current credit balance. We should show that as well.

[2022-09-21 08:29] francoisdtm opened #13156 "Specify branch for dotfiles repository"
## Is your feature request related to a problem? Please describe
My dotfiles are separated into different branches (one per machine). The `gitpod` branch is not the default one, and therefore I cannot use it for GitPod.

## Describe the behaviour you'd like
I would like to be able to choose which branch GitPod will clone and install into my workspaces.

## Describe alternatives you've considered

[2022-09-21 08:41] #12984 closed

[2022-09-21 08:43] geropl opened #13157 "Stripe: Create observability into the type, rate and return code of API calls we issue against Stripe"
As it says in the title. An example is the metric `gitpod_server_api_calls_total` ([link](https://grafana.gitpod.io/d/Gj5DE-O7k/meta-overview?orgId=1&editPanel=36)) from which we get insight into error rates, repsonse times and type of method called.

[2022-09-21 08:48] easyCZ commented on #13157
Implementation-wise, we should use a HTTP Client tripper to compose an HTTP client which also exports metrics. See https://dev.to/stevenacoffman/tripperwares-http-client-middleware-chaining-roundtrippers-3o00 for examples

[2022-09-21 08:58] jankeromnes commented on #13157
FYI, Stripe Dashboard > Developers already has this:

<table><tr><td>
<img width="755" alt="Screenshot 2022-09-21 at 10 58 00" src="https://user-images.githubusercontent.com/599268/191461942-30a32ea8-187f-4beb-ba81-5f6207ed324a.png">
</td><td>
<img width="750" alt="Screenshot 2022-09-21 at 10 58 11" src="https://user-images.githubusercontent.com/599268/191461949-1976fff1-9ea2-41bc-8a78-fed20242d20

[2022-09-21 09:04] easyCZ opened #13158 "Goland does not set GOPATH to the same value as Workspace environment variables"
### Bug description

When I launch gitpod on one of my [personal repositories](https://github.com/easyCZ/seer), Goland automatically detects GOPATH (in IDE config) and sets it to home/gitpod/go.

If I do the exact same thing with our gitpod-io/gitpod repo, it for some reason sets it to home/gitpod/go-packages. This then causes the IDE to not have the dependencies and requires me to manually ask it

[2022-09-21 09:08] easyCZ opened #13160 "Enable db-sync for d_b_prebuilt_workspace and d_b_prebuilt_workspace_updatable"

[2022-09-21 09:17] felladrin commented on #13158
Extra info: When we uncheck the "Use GOPATH that is defined in system environment" option and ask GoLand to sync the project dependencies, it prints this warning:
[code]

[2022-09-21 09:21] geropl commented on #13157
Still seems worth implement the low-hanging parts on our end. a) Grafana is more flexible in displaying data, and b) we can build alerts with our common tools.

[2022-09-21 09:25] easyCZ commented on #13157
Stripe will only have server metrics - for requests that actually reached it. If we fail to contact Stripe for whichever reason, we'd be blind - we need client side metrics also.

[2022-09-21 09:55] easyCZ commented on #13160
https://github.com/gitpod-io/gitpod/pull/13164 and https://github.com/gitpod-io/gitpod/pull/13163 add the necessary migrations.
Next we need to configure these tables in db-sync

[2022-09-21 10:25] AlexTugarev commented on #12969
This error blocks from team deletion, if payment is not configured.

[2022-09-21 11:08] mads-hartmann commented on #12822
I've debugged this a bit now and it's not `objcopy` but it might be `tar`ing up the cache which takes time.

Here's how I looked into it. I installed `ts`.

[code]

Using `ts` and redirecting `stderr` to `stdout` we can get timestamps for each of the logs. With verbose logging `-v` we get a pretty good idea of what Leeway is doing and what is taking time:

[code]

⬆️ The above will use a new `-Dve

[2022-09-21 11:12] felladrin commented on #13158
On YouTrack, when searching for [Goland sync dependencies](https://youtrack.jetbrains.com/issues?q=Goland%20sync%20dependencies) or [GOPATH](https://youtrack.jetbrains.com/issues?q=GOPATH), I could only find these related issues:

- [Implement ability to automatically run `go mod download`](https://youtrack.jetbrains.com/issue/GO-9454/Implement-ability-to-automatically-run-go-mod-download)
- [Ask

[2022-09-21 11:14] jldec opened #13166 "Improve content of notifications when the Usage Limit is reached"
The current notification text does not provide enough guidance.

To fix:

- Follow the same detailed explanation as the workspace start error message which mentions the team
- Both should also link to your personal billing settings page where you can change billing accounts.

Existing notifications:
<img width="1034" alt="Screenshot 2022-09-20 at 18 47 33" src="https://user-images.githubuserconten

[2022-09-21 11:15] mads-hartmann commented on #12822
It appears to be `tar`ing

[code]

[2022-09-21 11:29] fergalquinn77 commented on #13020
Hi there, any update with this?

[2022-09-21 11:32] mads-hartmann commented on #12822
If we `tar` without compression (`without z`) it takes less than a second

[code]

But then the archive is `1015M` instead of `431M` which isn't great.

I was looking into why it was so big to begin with though.

[code]

<details>
  <summary>Full output of <code>du -h</code></summary>
  <pre>
120K    ./components--all-docker
20K     ./install-installer--raw-app/pkg/components/migrations
24K     ./

[2022-09-21 11:38] easyCZ commented on #13160
Configuration of db-sync is here https://github.com/gitpod-io/gitpod/pull/13165/files, needs to be merged only after we deploy the migrations tho.

[2022-09-21 12:02] easyCZ commented on #13154
Originally, the ellipsis existed because we were storing the credits with high precision. Now, we only store them with a 2 digit precision. To fix the ellipsis, we could simply stop truncating and show the 2 decimal points that we now guarantee to have on the results.

[2022-09-21 12:05] axonasif commented on #13156
This is a useful thing to have, however you could use a install.sh script to determine which files are symlinked.

[2022-09-21 12:07] easyCZ commented on #13056
@jldec Would it be acceptable to show the total usage to 2 decimal points? We're guaranteed that all the results store at most 2 decimal points, this means that the resulting total usage will also have at most 2 decimal points. This would then remove any rounding all together and ensure the total matches the sum of the entries.

[2022-09-21 12:08] mads-hartmann commented on #12822
⬆️ I believe that because the package install/installer:app is "generic" it copies over the caches of it dependents which means they become part of the build cache of `install/installer:app`. One way to solve is then to simply have the `install/installer:app` package `rm -rf` those caches so they don't become part of it's own cache (see [commit](https://github.com/gitpod-io/gitpod/pull/13120/commi

[2022-09-21 12:15] akshatnarayangupta opened #13171 "Custom popups similar to the one where we ask confirmation for deletion of workspaces. I want to show custom popups similar to that."
## Is your feature request related to a problem? Please describe
When a user opens a git repo in Gitpod we want to show them some message in Custom pop-ups. Since terminal messages might not be visible/can be missed.

## Describe the behaviour you'd like
I would like the users to select on option With some message. Fo example - Do you want to continue opening this workspace? Agree/Disagree

## Des

[2022-09-21 12:15] axonasif commented on #12640
@jefer94 this can be fixed by removing `pyenv update` on here:
https://github.com/breatheco-de/apiv2/blob/ca7892e40d76835cb024e1acecfd80c4138fe32a/.gitpod.Dockerfile#L20

Will push a patch that will not cause errors with `pyenv update` by default.

Removing the gitpod setup of [pyenv](https://github.com/gitpod-io/workspace-images/tree/main/chunks/lang-python) means that it won't have integration w

[2022-09-21 12:20] axonasif commented on #13171
This is out of scope for Gitpod as of now, it's more of a VSCode thing, we do not develop VSCode, Gitpod only implements it. If you wish such functionality, you may consider developing a [custom VSCode extension](https://code.visualstudio.com/api/get-started/your-first-extension) to achieve that.

Closing this to continue on [here](https://github.com/gitpod-io/gitpod/issues/12977#issuecomment-1251

[2022-09-21 12:20] #13171 closed

[2022-09-21 12:23] axonasif commented on #12977
@akshatnarayangupta why do you need to confirm since you want to make it mandetory anyway?
And there is no need to delete the files in your workspace since you're stopping it with `gp stop`.

Try doing it this way, it will also block ctrl+c:
[code]

[2022-09-21 12:40] kylos101 commented on #13147
Yes. Otherwise, the workspaces will continue to run, KOTS will delete the gitpod installation (including `ws-daemon`), and those running workspaces will never have their data backed up, resulting in data loss and :crying_cat_face: users.

[2022-09-21 12:44] kylos101 commented on #13147
I'm working on a test for this, @MrSimonEmms , where basically we want to prevent users from starting workspaces during outage windows for updates.

Options:
1. Ideally we'd use `gpctl` to update the cluster score to 0, or cordon it, so we do not try sending workspace starts to it
2. Another option may be to `kubectl scale --replicas=0 deployment/ws-manager -n gitpod`, but the UX is poor here beca

[2022-09-21 12:45] kylos101 commented on #13147
@lucasvaltl That will help for workspaces that are running before the upgrade is attempted, however, we also need to put the Gitpod installation into a state where it doesn't allow users to try starting workspaces...otherwise they'll have a poor experience during the upgrade.

[2022-09-21 12:47] MrSimonEmms commented on #13147
Thanks for the clarification @kylos101. I agree with @lucasvaltl's earlier comment of having a 🛹 and then bringing this additional stuff into it. From experience, upgrades tend to only take a couple of minutes to run - if it's done immediately before the `helm upgrade` command a user will likely not be able to start a workspace quick enough for it to be a problem in most cases

[2022-09-21 12:50] kylos101 commented on #13147
@MrSimonEmms do we prompt the user to see which ref arch they're using? If they're using the single cluster ref arch, and there are running workspaces, it would be great if the deploy process can hard fail, sharing that workspaces are currently running.

In other words, my understanding is that the pre-flight checks are soft, and can be ignored. I'd hate for an administrator to shoot themselves in

[2022-09-21 12:54] MrSimonEmms commented on #13147
@kylos101 No, the only prompt is a big "deploy" button - they can choose to skip the pre-flight checks, where there's another "we don't recommend this - it may break things" alert. Again, we don't have any control over this content or whether they can skip it.

The idea is the pre-flight checks are idempotent and that a change only happens when they click "deploy"

[2022-09-21 12:58] #13056 closed

[2022-09-21 13:15] lucasvaltl commented on #13147
Fair! What I proposed at least lessens the pain. If we can also get the installation into a state where new workloads cannot be started - all the better. Was just not sure if we can get something done for this in a reasonable timeframe :)

[2022-09-21 13:22] mbrevoort commented on #10168
No stale bot, no.

[2022-09-21 13:30] mbrevoort commented on #10168
It would be great if there was a way to do this via the deep link URL as well something like `https://gitpod.io/?action=create-branch#https://github.com/mbrevoort/my-repo`

[2022-09-21 13:35] jimmybrancaccio commented on #13048
Whatever the answer is, I would like to be able to look up a customer in the Gitpod admin UI using the email address they created their support ticket with and compare it with a "known good" email address (likely the primary email address of their primary SCM) of their Gitpod account.

[2022-09-21 13:35] jimmybrancaccio commented on #10738
As far as I know this is still an issue.

[2022-09-21 13:40] akshatnarayangupta commented on #12977
@axonasif Since we just closed the workspace using gp stop, but later if the user ends up creating many inactive workspaces, it will cause a minor confusion.

[2022-09-21 13:55] jkaye2012 commented on #9629
Is anyone looking at this? I don't think it's been resolved.

[2022-09-21 13:57] tomatebeans commented on #12451
updated image: `docker pull eu.gcr.io/gitpod-core-dev/build/local-preview:latest`
message seems different:
![image](https://user-images.githubusercontent.com/108106367/191523295-4899c682-210d-4af7-93c8-c08bb9890cea.png)

then: `docker exec gitpod kubectl logs deployment/image-builder-mk3 image-builder-mk3 > outputlog2.txt`
[outputlog2.txt](https://github.com/gitpod-io/gitpod/files/9617245/outputlo

[2022-09-21 14:04] gtsiolis commented on #10168
@mbrevoort Alternatively, we could offer users more control on the **workspace start** page so that even if the branch does not exist they could ad-hoc create the branch and start a workspace in one click as long as they have permissions to create branches on the repository.

Currently, we show an error page with a nudge which is not so useful and an action button that throws the users back to squ

[2022-09-21 14:29] jankeromnes opened #13177 "Store Stripe Customer ID internally, and make StripeService.findCustomerByAttributionId use the stored ID when available"
## Is your feature request related to a problem? Please describe

This is a follow-up to https://github.com/gitpod-io/gitpod/pull/13002, but the bug was actually pre-existing:

- Sometimes (maybe around 1 in 10 times?) when you subscribe a team to Stripe, creating the subscription randomly fails:

<img width="600" alt="Screenshot 2022-09-21 at 16 21 40" src="https://user-images.githubusercontent.c

[2022-09-21 14:43] #12453 closed

[2022-09-21 15:07] nandajavarma opened #13180 "Support Bitbucket and Gitlab SCM for self-hosted nightly tests"
Support Bitbucket and Gitlab SCM for self-hosted nightly tests

_Originally posted by @nandajavarma in https://github.com/gitpod-io/gitpod/issues/12772#issuecomment-1253843763_

We currently only connect with Github SCM to run the tests against. This has to be expanded to support other SCMs

[2022-09-21 15:09] nandajavarma opened #13181 "Setup a more reliable nginx proxy setup to redirect upon SCM authentication"
Setup a more reliable nginx proxy setup to redirect upon SCM authentication

_Originally posted by @nandajavarma in https://github.com/gitpod-io/gitpod/issues/12772#issuecomment-1253847666_

Currently we have a very temporary solution in-place. That is to run a simple nginx server with a docker-compose file in a GCP VM. This has to be made more reliable

[2022-09-21 15:13] aledbf commented on #12453
@a0v0 this issue is fixed but still waiting for deployment (during the next 24hs)

[2022-09-21 16:07] #12824 closed

[2022-09-21 16:09] jeanp413 commented on #13020
@fergalquinn77 I took a look at the logs but nothing concrete on them, does this happen with all of your workspaces? if so, when it happens again, could you open browser developer tools and share the logs (those are fine to share here)

[2022-09-21 16:18] fergalquinn77 commented on #13020
Yes - here is another with the same problem.

On Wed, 21 Sept 2022 at 17:09, Jean Pierre ***@***.***> wrote:

--
Fergal Quinn <https://www.linkedin.com/in/fergal-quinn-85247316/>
w: +353 (0)71 910 3201
m: +353 (0)87 667 8591
e: ***@***.***

[2022-09-21 17:47] andreafalzetti commented on #13092
This issue is slightly related to https://github.com/gitpod-io/gitpod/issues/10924, if we could find a way to bring attention to a warning to the user, it could be re-used in other areas, such as the issue just mentioned.

An idea that I had was using the backend control center.

[2022-09-21 17:52] adrienthebo commented on #13095
I've rooted around the [support-bundle log collector](https://github.com/replicatedhq/troubleshoot/blob/v0.42.0/pkg/collect/logs.go) and [kotsadm interface to support-bundle](https://github.com/replicatedhq/kots/blob/v1.85.0/pkg/supportbundle/execute.go) to look for obvious pitfalls or where more troubleshooting information might lie. The log collection code is a little bit strange and warrants a

[2022-09-21 19:15] jldec commented on #13166
cc: @gtsiolis for design consideration 🙏 .

[2022-09-21 19:16] jldec opened #13187 "The usage limit almost reached (80%) notification can be distracting"
All team members see the notification when usage reaches 80% of the limit.
The only way to make it go away permanently (afaik) is to increase the limit.
Our options to fix this are:

~~1. Make the percentage at which this triggers configurable but leave the behavior unchanged~~
2. Only show the notification to team owners (good enough for now)
~~3. Replace the dashboard notifications with email no

[2022-09-21 19:42] jldec opened #13188 "Restrict access to shared running workspaces"
This issue specifically covers MVC access restriction on shared running workspaces
Any of the following would be a reasonable first step.

- A modification of the default behavior to limit access to users who can access the underlying repo (similar to #8257)
- A team-level configuration flag turning the feature on/off for all workspaces associated with a team
- A team-level configuration flag limi

[2022-09-21 19:49] jldec commented on #13188
Note workspace aspect (from [comment](https://github.com/gitpod-io/gitpod/issues/8257#issuecomment-1042723942))

cc: @atduarte , @gtsiolis

[2022-09-21 21:32] atduarte commented on #12444
Related with https://github.com/gitpod-io/gitpod/issues/13188

[2022-09-21 22:29] kylos101 opened #13191 "Epic: schedule outage windows to support in-place upgrades"
## Is your feature request related to a problem? Please describe

Outage window user defined messages are not visible in the Gitpod dashboard or from the IDE, and cannot be scheduled via the administration view. Additionally, manual intervention is required to honor an outage window (stop running workspaces & disable start of new workspaces).

## Describe the behaviour you'd like

As an administra

[2022-09-21 23:45] kylos101 opened #13193 "[preview environments] unstable network led to many workarounds in integration tests"
### Bug description

:wave: hey there Platform team, in https://github.com/gitpod-io/gitpod/issues/12248, we found it necessary to make many code changes to make the integration tests and related port-forwarding more fault tolerant of unstable network conditions.

I'm not sure if the problem is exclusive to Harvester, or core-dev in GCP, or both, and wanted to give you a heads up. For example, thi

[2022-09-21 23:48] utam0k commented on #13193
This often happened during [the context test](https://github.com/gitpod-io/gitpod/blob/main/test/tests/workspace/contexts_test.go).

[2022-09-21 23:52] utam0k opened #13194 "Add an integration test for core dump"
## Is your feature request related to a problem? Please describe

Add an integration test for core dump to prevent  recurrence
https://github.com/gitpod-io/gitpod/issues/12453

## Describe the behaviour you'd like

We can run the test

## Describe alternatives you've considered

## Additional context

It will surely be useful for self-hosted testing.

[2022-09-22 03:37] Pothulapati opened #13196 "[gitpod-db] Move telemetry queries out of Global ORM layer"
## Is your feature request related to a problem? Please describe

Currently, Telemetry queries are all part of the global ORM layer which are then called by the
`telemetry` API. This is not a requirement at all, and can be separated into its metric-central DB
facade or directly use and access the DB

## Describe the behaviour you'd like

Global ORM layer should be specific to application queries.

[2022-09-22 04:36] utam0k opened #13197 "Improved speed of workspace integration test"
## Is your feature request related to a problem? Please describe

The workspace integration tests take about 1.5h on werft now. 2 hours is the limit for the werft job. We know that we will reach 2 hours in the near future.
e.g. https://werft.gitpod-dev.com/job/gitpod-workspace-run-integration-tests-main.122/logs

## Describe the behaviour you'd like

Run up to two workspaces in parallel

## Descri

[2022-09-22 05:09] Siddhant-K-code commented on #8260
[Internal Discussion mention](https://gitpod.slack.com/archives/C03EG2PND38/p1663822719639499?thread_ts=1662692848.524439&cid=C03EG2PND38)

[2022-09-22 05:19] utam0k commented on #13197
These are my flash ideas:
- Create the multiple preview env for ws-manger tests and workspace tests
    This should at least pull time to the longest workspace test, saving 1191 seconds(part of the ws-manager test).
- Investigation of tests that can be run concurrently
    Currently, all tests are in series. This was to prevent flakey Possibly some tests could be done in parallel and still be fine

[2022-09-22 05:26] jenting commented on #12935
For the node-based metric `node_filefd_allocated`, the [grafana query](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22H%22,%22editorMode%22:%22code%22,%22expr%22:%22node_filefd_allocated%7Bcluster%3D%5C%22us64%5C%22%7D%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22instant%22:true,%22hide%22:false%7D,%7B%22refId

[2022-09-22 05:59] #13131 closed

[2022-09-22 06:00] axonasif commented on #12977
If you wish to do so: `sudo rm -rm "$GITPOD_REPO_ROOT";`

[2022-09-22 06:31] easyCZ opened #13198 "[usage] Move Stripe handling from server to usage"
## Is your feature request related to a problem? Please describe

We've accumulated a decent amount of Stripe logic in the `server` component, but we also have stripe interaction on the `usage` component. Ideally, we want to co-locate all Stripe interaction on a single component to reduce our mental overhead when dealing with Stripe problems.

We would introduce a StripeService on the usage compon

[2022-09-22 07:04] easyCZ commented on #13131
@jankeromnes Landing https://github.com/gitpod-io/gitpod/pull/13178 caused this issue to close. But I believe the fix introduced does not actually fix the API returning 500 errors - it handles them on the UI side but does not stop them from happening server side. Are you happy for me to re-open?

[2022-09-22 07:20] vulkoingim commented on #13197
In general I would suggest to run tests in parallel where possible, as this would be (IMO) the easiest and least invasive change you can make. Moreover, it is a good practice in general.

If you need more resources for the VM you can run the preview environment with `-a with-large-vm=true`, which would give you a VM with double the resources - `6` -> `12` CPU and `12` -> `24` GB RAM.

Preview-envi

[2022-09-22 07:50] jankeromnes commented on #13131
Hi @easyCZ! 👋

Actually, https://github.com/gitpod-io/gitpod/pull/13178 handles them server side 😇

<img width="1386" alt="Screenshot 2022-09-22 at 09 46 46" src="https://user-images.githubusercontent.com/599268/191688758-d7dbd96b-3c01-499e-8e92-fd5b8907e816.png">

And looking at the code, I'm pretty sure that this does fix the API returning 500 errors (unless `super` throws, but that [seems unlik

[2022-09-22 07:54] easyCZ commented on #13131
Thanks @jankeromnes, I must have confused the PRs. This does look like it indeed handles them. I'll do some validation on this from the metrics side post rollout and will re-open if we continue to see issues.

[2022-09-22 07:55] jldec commented on #12341
According to https://stripe.com/docs/billing/subscriptions/coupons#promotion-codes

[2022-09-22 08:22] jldec opened #13201 "currency"

[2022-09-22 08:36] easyCZ opened #13202 "Rollouts print deprecation warning for typeorm migrations:run"
[code]

See https://werft.gitpod-io-dev.com/job/ops-deploy-prod-meta-main.124

[2022-09-22 09:14] mads-hartmann commented on #12350
I'm closing this issue for now and we can clean up later if/when we feel like it

[2022-09-22 09:14] #12350 closed

[2022-09-22 09:14] AlexTugarev opened #13204 "[prebuild] PENDING during image build"
### Bug description

During the image build of a prebuild the status is rendered as PENDING, though there is already something going on.
<img width="457" alt="Screen Shot 2022-09-22 at 11 05 39" src="https://user-images.githubusercontent.com/914497/191707293-8c0d8b79-229e-4967-9313-b0433ecdd192.png">

### Steps to reproduce

1. create a project with a .gitpod.dockerfile, which will require an imag

[2022-09-22 09:18] #12862 closed

[2022-09-22 09:25] #12015 closed

[2022-09-22 09:28] #12822 closed

[2022-09-22 09:32] AlexTugarev commented on #13204
In addition, more of a MEMO:
* the dockerfile tried to `apt-get install package_not_found`
* the image build failed with code 100 (I think)
* image logs are gone on reload after it was finished
* prebuild stuck in PREPARING state

link to [internal discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1663838268777969?thread_ts=1663837657.369859&cid=C02EN94AEPL) for context.

[2022-09-22 09:53] meysholdt commented on #12886
Hello!

Thanks for bringing up this issue. I think the question of how we migrate the database is critically important not only for SaaS-deployment experience, but also for the install/upgrade experience of Gitpod Self-Hosted. In the spirit of the delivery team, we should find a solution here that works for SaaS as well as for Self-Hosted.

There are plenty of blog posts around this topic and "[Ru

[2022-09-22 10:01] mrzarquon commented on #13191
Implementation wise, I'd want to be able to announce a maintenance window ahead of time. So in the current admin view, having a maintenance window section and option to define a time (ie, Tuesday 9am UTC until 11am UTC), would correspond to an end user on the US West Coast seeing "Gitpod will in maintenance from 1am until 3am Tuesday, your workspaces will be halted and you will not be able to laun

[2022-09-22 10:06] gtsiolis commented on #12444
Some thoughts:
1. I don't think investing time for generating single-use or user-scoped shared workspace URLs is worth the effort.
2. The fixed share button that also includes the state sounds perfect for surfacing this kind of information, see [relevant discussion](https://gitpod.slack.com/archives/C01KPEPQYE6/p1658518674537959) (internal).
3. Maybe we could bundle all these Gitpod-specific infor

[2022-09-22 11:11] mrzarquon commented on #12979
Found this comment again - i think the fix for EKS would be we update our infra terraform scripts to do [post_bootstrap_user_data](https://github.com/terraform-aws-modules/terraform-aws-eks/tree/master/modules/eks-managed-node-group#input_post_bootstrap_user_data) and just add ```
cat << CONFIG >> /etc/containerd/config.toml

[plugins."io.containerd.grpc.v1.cri".registry]
config_path = "/etc/conta

[2022-09-22 11:17] AlexTugarev commented on #13204
closing as dup of https://github.com/gitpod-io/gitpod/issues/11248

[2022-09-22 11:17] #13204 closed

[2022-09-22 11:30] Kevin-mit-C opened #13206 "[self-hosted][air-gaped] openvsx-proxy doesn't follow http 3xx redirections"
### Bug description

In our air-gaped environment, yust the openvsx-proxy is able to connect to https://open-vsx.org. If VSCode trys to install an extension, it can't download the extension, because of an http 3xx redirections to https://openvsxorg.blob.core.windows.net.

### Steps to reproduce

[code]

### Workspace affected

_No response_

### Expected behavior

[code]

### Example repository

_

[2022-09-22 11:31] #13151 closed

[2022-09-22 11:37] AlexTugarev opened #13207 "[prebuild] stuck in PENDING if image build fails (due to error in dockerfile)"
### Bug description

see https://github.com/gitpod-io/gitpod/issues/13204#issuecomment-1254770596 for context. while the linked issue is a dupe, this follow up seems to be a valid in itself.

if the image build exits with error code > 0, e.g. failure during `apt-get install zzz`, the workspace instance is marked as stopped, but the prebuild workspace won't be marked as failed. this means the state

[2022-09-22 11:46] svenefftinge opened #13208 "[admin] search queries are really slow"
## Is your feature request related to a problem? Please describe
The search queries on the admin dashboard are really slow in SaaS. After landing https://github.com/gitpod-io/gitpod/pull/13161 these slow searches get triggered automatically when visiting a list.

## Describe the behaviour you'd like
Searches are faster and less heavy on the SaaS prod DB

# solution
I'll check if we can make the se

[2022-09-22 11:49] mrzarquon opened #13209 "Make "nightly/latest" release images configurable for IDE in self hosted environments"
## Is your feature request related to a problem? Please describe
For airgapped customers that aren't allowed to automatically mirror images with `latest` or `nightly` tags, their users can't use the option for `latest` as part of their IDE preference.

If they want to enable this to work, they have to manually import the image and tag it with nightly/latest separate from the automated workflow.

#

[2022-09-22 12:35] loujaybee commented on #10168
Currently, I do this by going to GitHub, making a branch in the UI, then using the browser extension to open that branch.

I also wonder where we draw the line when re-implementing Git**Hub** UX into Gitpod.

![image](https://user-images.githubusercontent.com/5528307/191748217-aeff63ab-8a64-4409-8279-6fac40f862a7.png)

[2022-09-22 13:01] #13208 closed

[2022-09-22 13:33] AlexTugarev commented on #13207
The fix is buried in https://github.com/gitpod-io/gitpod/pull/13113. Going to extract it later on.

[2022-09-22 14:10] easyCZ commented on #12840
Just exploring this issue further to make it implementable.

I'm assuming the goal here is to add a new property to the attributes we can specify in the JS/TS wrapper for ConfigCat.

I'm also assuming we want the property to be something like:
`tier` = `stripe` | `chargebee` or not set when the user is not on a paid subscription.

In ConfigCat, it's not possible to match against multiple propertie

[2022-09-22 14:13] easyCZ commented on #12840
Similarly, you cannot specify the rule for % based rollout with another matching condition.

[code]

[2022-09-22 14:22] #12718 closed

[2022-09-22 14:26] easyCZ commented on #12840
On the code level, implementing this should boil down to calling to the [BillingMode](https://github.com/gitpod-io/gitpod/blob/main/components/server/ee/src/billing/billing-mode.ts#L22) service.

I believe we need to go through the service, because there is additional logic to determine the billing which is not self-contained elsewhere. This also introduces a dependency on another feature flag - `

[2022-09-22 14:39] axonasif commented on #13091
Hey @jeanp413, where can I find `gitpod.remote.syncExtensions`? Not available on my `settings.json`.

[2022-09-22 14:47] Ramblurr commented on #10813
Please don't close this issue

[2022-09-22 15:00] MrSimonEmms commented on #13147
@kylos101 do we also have to stop building images as well as running workspaces? If so, is there a different label that we delete by?

[2022-09-22 15:29] purkhusid commented on #12791
I raised the issue originally because rust-analyzer is failing to publish to open-vsx(https://github.com/rust-lang/rust-analyzer/issues/11080) and I wanted to work around this by using the release on github.

[2022-09-22 15:58] priyal32 commented on #12225
@gtsiolis I'm new to open source and this community so I'm kinda having trouble locating the file. As I understand it should be in one of the folders in gitpod/components/dashboard/src but I'm not sure where to go from there. Do I go to components and then arrow.tsx? Any help would be appreciated!

[2022-09-22 16:35] kylos101 commented on #12782
Hi @lucasvaltl , can you help me? I'm not sure what is needed from Team Workspace for this issue. Is there something specific that is needed?

[2022-09-22 16:36] kylos101 commented on #13197
My vote would be to try this:
[code]

And then try running tests in parallel, to see what the outcome is.

[2022-09-22 16:37] kylos101 commented on #13197
@utam0k will leave in the inbox for now, please focus on existing groundwork (scheduled status). :pray:

[2022-09-22 16:51] jimmybrancaccio commented on #13095
So I just got a support bundle from someone and they're using `release-2022.08.0.10`. It included both `logs` and `log-collector` directories with logs in each. ([Front ticket](https://app.frontapp.com/open/cnv_jtxotqi)).

[2022-09-22 17:27] jeanp413 commented on #13091
@axonasif sorry I meant `settingsSync.ignoredExtensions`

[2022-09-22 17:28] adrienthebo commented on #12979
Added this to the single cluster reference architecture GA release to ensure it's tracked, but we may shift this ticket to the beta.

[2022-09-22 19:17] kylos101 commented on #12345
These instance IDs were created, have no start time, and stopped after 60m, which suggests this problem may not just be related to prebuilds:

a0a48d3d-e44f-45a6-943a-365816c93a76
fdd59231-4eee-4d7c-a1ff-7e9b9aecc895

[2022-09-22 19:37] jimmybrancaccio opened #13217 "Display Timestamp When Hovering Mouse Over Start Time on Workspace Page"
## Is your feature request related to a problem? Please describe

When troubleshooting workspace where many instances are involved it would be very helpful to see a timestamp of the start time from the latest instance ID of the workspace. This will help when comparing timestamps while looking at the database where I can see a list of all instances of a workspaces.

## Describe the behaviour you'd

[2022-09-22 20:09] francoisdtm commented on #13156
I changed the default branch for an easy fix, but yes it can be automated

[2022-09-22 20:42] MrSimonEmms commented on #13095
The support bundle in the first message has a `log-collector` directory, but the files are called `log-collector-errors.json` and the contents are about how it cannot create the `/gitpod` directory on the node.

I can see that it's on GKE. There's definitely at least one other customer who's having issues on GKE, so I'm going to focus efforts on that

[2022-09-22 20:50] MrSimonEmms commented on #13147
@kylos101 I've had a play and created a draft PR at #13125. Unfortunately, on the app I'm testing, the workspace pod seems to have stuck on terminating.

I presume that if I were to put a `--force` or `--grace-period`, then there's going to be the danger that it will not backup the workspaces properly. Is there any safe way I can avoid the workspace termination from getting stuck?

[2022-09-22 20:59] kylos101 commented on #10886
@sagor999 gonna close this issue, as there are no PRs linked to it, and we're using the Notion doc to plan release deploys/release.

[2022-09-22 20:59] #10886 closed

[2022-09-22 21:26] kylos101 commented on #13147
@MrSimonEmms  Yes sir, that is the desired effect.

It is not desirable to use force or grace-period.

What type of workspace were you testing with? Regular, prebuild, imagebuild?

[2022-09-22 22:50] sagor999 commented on #12744
It worked without issues.
I did not see any IOPS spikes in grafana as well.
Tested with loadgen with 20 workspaces, then with 30, then  with 100. (20 and 30 with stop and start at the same time).

[2022-09-22 22:50] sagor999 commented on #12747
It worked without issues.
Tested with loadgen with 20 workspaces, then with 30, then  with 100. (20 and 30 with stop and start at the same time).

[2022-09-22 22:51] sagor999 commented on #13146
I tested restarting both snapshot-controller and ws-manager after and during workspace shutdown and both worked flawlessly as far as I can tell.
Also tested ws-manager restart with 150 volume snapshots.

[2022-09-22 23:15] jenting commented on #12638
We could check the Definition of Done (DoD) to see which test cases are left. If that's not enough, we can link the notion page.

[2022-09-23 00:21] jenting commented on #13146
Nice 🤩 Thank you @sagor999

[2022-09-23 01:11] jenting commented on #9508
It's now in Team Workspace https://grafana.gitpod.io/d/image-builder/gitpod-component-image-builder?orgId=1&refresh=30s

[2022-09-23 04:04] kylos101 commented on #12744
Thanks, @sagor999 ! Could you share `What IOPS and bandwidth were achieved`? I'm curious to compare with what we have now.

Sweet!! Could you share a link to the Grafana and some pictures for posterity? Just super excited, and am glad the test worked out well. :grin:

[2022-09-23 04:04] kylos101 commented on #12744
Also, @sagor999 could you add this to our project and update the status? :pray:

[2022-09-23 04:10] kylos101 commented on #12747
@sagor999 why 100 workspaces, instead of 125% of our peek volume in the last month? :thinking: I would feel comfortable, even though it will cost to run the test, that we can handle that related volume. This way we're not doing for the first time in production. :sweat_smile:

Can you show the start and stop graphs from the overview dashboard, so we can peek at what those shapes look like? For exam

[2022-09-23 04:14] kylos101 commented on #13146
@sagor999 thank you so much!

@jenting the issue description and title confuse me, because they mentions both loadgen and integration tests. I think they will be similar effort...therefore my preference would be to do with integration tests (so we test more often, instead of once a week). Also, this will keep loadgen flexible...if we need to restart ws-manager or snapshot-controller, we can do man

[2022-09-23 04:26] jenting commented on #13146
I don't have a strong reason to add a restart control plane component on both loadgen and integration tests.

But I was like to catch the incident we met that over 100+ VolumeSnapshot, restart control plane, and create new workspace will hang.
I think it can only be caught if we run loadgen test because the integration test generally would not have stress test on over 100+ VolumeSnapshots. But we

[2022-09-23 05:13] axonasif commented on #4465
Recent discord discussion: https://discord.com/channels/816244985187008514/1022647638115487855

[2022-09-23 05:18] svenefftinge commented on #13187
Is distracting (or better alerting) not the original intend of this message?

[2022-09-23 05:21] svenefftinge commented on #13166
I think it should mention the billing account and provide a link to switching to a different one (i.e. a link to the user's billing settings).
e.g. "The usage limit for 'team/user name' is almost reached. [Manage billing]."

[2022-09-23 05:22] svenefftinge commented on #13154
I think this is fixed. Please reopen if I'm missing something.

[2022-09-23 05:22] #13154 closed

[2022-09-23 06:23] lucasvaltl commented on #10460
We should look into failing gracefully on license expiration - see internal [context](https://gitpod.slack.com/archives/C01LDA28WV6/p1663913871621199?thread_ts=1663848237.534179&cid=C01LDA28WV6)

[2022-09-23 06:48] MrSimonEmms commented on #13147
@kylos101 thanks for clarifying.

Regular workspace this time, but I've seen that behaviour on all types of workspace.

It's one of those funny things that I've found over the years that if you run `kubectl delete pods <workspace>` it often hangs. It's not a problem when you're on a test instance and you just want to kill it, but it's a different thing if you're doing it programmatically on _EVERY

[2022-09-23 07:05] jldec commented on #9280
This has come up with matching error message in this [customer context here](https://gitpod.slack.com/archives/C033MA45L5S/p1662728987470089) (internal).

[2022-09-23 07:31] geropl opened #13225 "Fix bad query in findAllWorkspaceAndInstances"
This issue was brought up again by [this change](https://github.com/gitpod-io/gitpod/pull/13161). We hotfixed the query on the client side with [this commit](https://github.com/gitpod-io/gitpod/commit/453033ca36449210281e21cc45817951f45bcc60).

After investigation during https://app.incident.io/incidents/217 we found the root cause:
[code]
It's issued from [this method](https://github.com/gitpod-i

[2022-09-23 07:33] geropl commented on #13217
@gtsiolis What do you think? Personally I feel this would be helpful as well, but I faintly recall we discusses this at some point already. :thinking:

[2022-09-23 07:37] RCheesley opened #13226 "PRs are not getting the Gitpod button (and they have a proper description)"
### Bug description

We have had several PRs recently where the Gitpod button has not been appended.

Examples:

https://github.com/mautic/mautic/pull/11481
https://github.com/mautic/mautic/pull/11491
https://github.com/mautic/mautic/pull/11486
https://github.com/mautic/mautic/pull/11485

### Steps to reproduce

Create a PR, and no button is shown - all our recent PRs have this issue.

### Workspa

[2022-09-23 07:48] Kevin-mit-C commented on #13206
Hey @axonasif, unfortunately, the error is not related to the open-vsx.org disorder you mentioned.

It is a malfunction of the pod openvsx-proxy when handeling http 3xx responses (https://github.com/gitpod-io/gitpod/tree/main/components/openvsx-proxy).

[2022-09-23 08:02] axonasif commented on #13206
Ah, I overlooked then, sorry about that. Reopening the issue and putting it on IDE inbox.

[2022-09-23 08:03] #13067 closed

[2022-09-23 08:04] axonasif commented on #13226
Related: https://github.com/gitpod-io/gitpod/issues/7488

[2022-09-23 08:28] jldec opened #13229 "Clean up plans page in dashboard to match website pricing and page"
See https://gitpod.io/plans and https://www.gitpod.io/pricing

- Rename OPEN SOURCE with FREE
- Remove mention of Teams under the PROFESSIONAL plan (since the Teams feature is available to all users).

#### existing content (at the time of this issue)
<img width="1232" alt="Screenshot 2022-09-23 at 10 13 23" src="https://user-images.githubusercontent.com/849592/191918805-7a174fbf-1245-44ab-b3ef-a4

[2022-09-23 08:33] lucasvaltl commented on #12541
Closing this for now, feel free to re-open if the questions above still stand.

[2022-09-23 08:33] #12541 closed

[2022-09-23 08:36] lucasvaltl commented on #12639
@securitymirco were you able to check with @KlasenK?

[2022-09-23 08:42] lucasvaltl commented on #12969
@geropl what is the ask here towards the self-hosted team? If this is about spinning up self-hosted environments to test this, you should be able to use the environments during next week's release week to test this :)

[2022-09-23 08:42] securitymirco commented on #12639
Not yet - sorry , @KlasenK do you know where we've got our license information stored? "License.GPF.txt" does seem to exist - License.enterprise.txt does seem to exit.

[2022-09-23 08:51] lucasvaltl commented on #13191
This should be an epic that will require the involvement of all other teams. I'll rename this to clarify that this is an epic :)

[2022-09-23 08:52] lucasvaltl commented on #13191
@kylos101 does it make sense to add the other teams, including workspace, to this already? We will need someone to drive this and break it down.

[2022-09-23 08:55] geropl commented on #12840
BTW here is a first attempt: https://github.com/gitpod-io/gitpod/pull/13138

[2022-09-23 09:19] fergalquinn77 commented on #13020
Hi there,

Is there an update on this?

Fergal

On Mon, 19 Sept 2022 at 07:44, Anton Kosyakov ***@***.***>
wrote:

--
Fergal Quinn <https://www.linkedin.com/in/fergal-quinn-85247316/>
w: +353 (0)71 910 3201
m: +353 (0)87 667 8591
e: ***@***.***

[2022-09-23 09:31] #12823 closed

[2022-09-23 09:33] axonasif commented on #13091
@jeanp413 I tried this r8n but it didn't help, maybe I'm doing something wrong 😅 ?

[2022-09-23 09:56] MrSimonEmms commented on #13095
Having done some investigation, it looks like it's due to the `/gitpod/log-collector` directory is not always present on the nodes. I've done a fix in #13233 which ensures that directory is always present and that stops filling the support bundles up with all the `log-collector-errors.json` files.

[2022-09-23 10:15] geropl commented on #13009
@easyCZ Is this already "Done", or rather "in progress"?

[2022-09-23 10:15] #13009 closed

[2022-09-23 10:15] geropl commented on #13160
"Done", or "In progress" ? 🤔

[2022-09-23 10:15] #13160 closed

[2022-09-23 10:17] geropl commented on #12012
https://github.com/gitpod-io/gitpod/pull/12777 is now in a state where we could test and merge it.

Before we actually do this: @mrzarquon Could you have a look at the changes and see if that would solve you problem? The installer config now allows to reference a secret to read the custom CA from.

[2022-09-23 10:28] svenefftinge opened #13235 "Don't allow blocked users to delete their account"
We have the right to keep data of users who have violated our terms (abuse). So we should disable the possibility to delete the user account for blocked users.

[2022-09-23 10:44] svenefftinge commented on #13235
It's already the case (done in [PR](https://github.com/gitpod-io/gitpod/pull/9372)).

[2022-09-23 10:44] #13235 closed

[2022-09-23 10:52] andreafalzetti opened #13238 "[JetBrains Gateway] Active connections are not removed consistently"
### Bug description

In some instances the active connection is not removed and the plugin thinks an IDE is connected while it's not true. This make impossible to connect again unless killing the JB Gateway itself.

### Steps to reproduce

Not clear as of now. I've tried many ways but never managed to reproduce in production.

### Workspace affected

_No response_

### Expected behavior

_No respo

[2022-09-23 11:21] jldec commented on #13056
@easyCZ Yes, that's fine. :)

[2022-09-23 11:39] geropl opened #13239 "High error rate on 'openPort'"
The last week we regularly see nigh rates on the `openPort` API call. Things that seem to happen:
 - client (IDE) calls `api.openPort`
 - `server` talks to `ws-manger`
 - `ws-manager` at some point returns error codes `RESOURCE_EXHAUSTED` and `DEADLINE_EXCEEDED`
 - client does retry

This leads to these questions:
 - What is the root cause for `DEADLINE_EXCEEDED`?
 - Could it be that `RESOURCE_EXH

[2022-09-23 11:57] Pothulapati commented on #11792
Merged https://github.com/gitpod-io/gitpod/pull/13123, which adds a confirmation from the user before proceeding but not sure if closing this is the right thing to do. Hence, Reopening it. Feel free to close it if you feel so.

[2022-09-23 12:22] easyCZ commented on #13160
Weird, this was dragged into the Done column (this morning) in the Current Sprint but that didn't seem to have updated the status..

[2022-09-23 12:46] loujaybee commented on #3966
Adding to IDE team sync next week to [see if we can pick up the open PR and get it completed](https://github.com/gitpod-io/gitpod/pull/11287).

[2022-09-23 12:55] AlexTugarev commented on #9280
@sagor999, on https://github.com/gitpod-io/gitpod/issues/9280#issuecomment-1155788364

If incremental prebuilds are disabled in project settings, that code path wont be taken because the `context.commitHistory` isn't populated, see
https://github.com/gitpod-io/gitpod/blob/65259116838445c1e6b0e71dd91d7aa000f36b48/components/server/ee/src/workspace/workspace-factory.ts#L108

and the call site:
https

[2022-09-23 13:27] #12883 closed

[2022-09-23 13:30] jankeromnes opened #13243 "Setting 'Usage Limit' is inconsistent"
### Bug description

Setting the 'Usage Limit' for a newly subscribed team is inconsistent:

<a href="https://youtu.be/ZCOoxP-eNkg"><img width="600" alt="Screenshot 2022-09-23 at 15 38 42" src="https://user-images.githubusercontent.com/599268/191973041-af5cab4d-5c5d-480c-ae83-470e037fd878.png"></a>

### Steps to reproduce

1. Upgrade a team to Usage-Based
2. Set a custom Usage Limit
3. Reload the

[2022-09-23 13:49] geropl commented on #12840
Citing from the PR:

[2022-09-23 13:53] #13000 closed

[2022-09-23 13:57] ArthurSens opened #13246 "Alerts: Add linter to CI"
When we used Jsonnet to create alerts, we used a small jsonnet script and [promtool](https://github.com/prometheus/prometheus/tree/main/cmd/promtool) to make sure all alerts are working. We lost this validation check once we migrated to YAML. As a consequence, we've been merging broken alerts and only noticing it by looking at prometheus-operator logs.

We should re-implement this validation for a

[2022-09-23 14:50] andreafalzetti opened #13248 "Display available/used disk space in JetBrains backend control center"
## Description
Currently, we display workspace class and the allocated disk space, but we don't display the used/available storage. We should extend the [backend control center](https://user-images.githubusercontent.com/2318450/191988988-e800872d-e49a-4fcd-9c87-488a243c66be.png) with an additional progress bar showing the used/available disk space.

[2022-09-23 14:51] akosyakov commented on #13248
@andreafalzetti it depends on https://github.com/gitpod-io/gitpod/issues/12676

[2022-09-23 14:54] andreafalzetti commented on #13248
thanks, I was trying to understand if there was any limitation, removing `good-first-issue` for now then.

[2022-09-23 15:04] geropl opened #13249 "Investigate including DB tables into support bundles"
Motivation: To better be able to support customers facing issues, like it happened recently ([internal link](https://www.notion.so/gitpod/2022-8-0-Upgrade-Failure-for-Quizlet-76f58f61b4434aca87e3a525f9a5b478#86f262a6f4ed44008f4322a3bfa39227)).

Tasks:
 - [ ] Clarify what questions we want to answer (we might not want to include all tables because of size and data confidentiality concerns)
 - [ ] I

[2022-09-23 15:23] jeanp413 commented on #13020
@fergalquinn77 could you open browser developer tools and share the logs when this issue happens :pray:

[2022-09-23 16:11] adrienthebo commented on #13095
We've seen issues with both the KOTS provided log collector as well as the `fluent-bit` log collector; this issue will alleviate the latter issue but we haven't located the root issue of the KOTS log collector failure.

As a side note, analyzing a support bundle that was missing the `log-collector` directory also indicated that fluent-bit was **not** running.

[2022-09-23 16:25] adrienthebo opened #13251 "Support bundle checks should warn when workspace-services are colocated with workspaces or prebuilds"
## Is your feature request related to a problem? Please describe

A recent support issue revealed that workspace pods were being killed when `ws-daemon` was consuming large amounts of memory. Colocating workspaces with `ws-daemon` in this manner presents a risk of service degradation that users should be warned of when operating a production Gitpod cluster.

## Describe the behaviour you'd like

K

[2022-09-23 17:24] kylos101 opened #13254 "[ws-daemon] avoid hitting workspace memory limits"
## Is your feature request related to a problem? Please describe

Sometimes the Workspace container gets oomkilled because the node's oomkiller is triggered due to high memory utilization.

Thanks, @aledbf , for the idea!

@csweichel @Furisto @utam0k wdyt? :thinking: @atduarte for awareness.

## Describe the behaviour you'd like

Wrap the cgroup inside the workspace with a lower memory limit. Like

[2022-09-23 18:29] adrienthebo commented on #13095
We generated and uploaded a support bundle from a customer that was affected by the absent `/logs` directory; this time around the logs were collected as expected by KOTS. This lends support to the theory that it could be an upstream issue; we'll start pushing on that angle.

The customer also reported that during the Gitpod install, they observed the fluent-bit daemonset being created, pods being

[2022-09-23 19:19] easyCZ commented on #13034
Alerting rules failed silently during deployment - https://github.com/gitpod-io/gitpod/pull/13255 fixes that

[2022-09-23 19:33] kylos101 opened #13256 "[content-init] workspace start is slow, waits between `awaiting seccomp fd` and `supervisor: workspace content available`"
### Bug description

:wave: sometimes workspace starts can take many minutes, and the delay (for some cases) is inbetween [here](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-09-19T04:44:27Z;query=%225740c71b-c6ea-4735-ae15-93daacc7982e%22%0Atimestamp%3D%222022-09-19T04:44:27Z%22%0AinsertId%3D%22w499gwt4enkk0e51%22;summaryFields=:false:32:beginning:false;timeRange=2022-09-19T03:

[2022-09-23 22:16] sagor999 commented on #12747
@kylos101 was concerned about the cost. But if you are ok with it, I can do loadgen with 700 workspaces. ok?
![image](https://user-images.githubusercontent.com/18602811/192063758-25ba48ae-24d1-4519-ad74-e1cd6ea5dbcd.png)
Here is the graph of workspace start up. It does look the same as regular workspaces to me.

[2022-09-23 22:18] kylos101 commented on #12747
:wave: @sagor999 thanks for sharing bud, I am okay with the cost :+1: :+1: , especially it finds issues or mitigates risk. Could you do 900? We recently hit 830. :rocket: So long as you can delete snapshots after, we should be :ok: .

[2022-09-23 22:26] kylos101 commented on #13239
[High rate](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28rate%28grpc_server_handled_total%7Bservice%3D%5C%22gitpod-ws-manager%5C%22,%20grpc_method%3D%5C%22ControlPort%5C%22%7D%29%29%20by%20%28cluster,%20grpc_code%29%22,%22legendFormat%22:%22__auto%22,%22range%22:tru

[2022-09-23 22:26] sagor999 commented on #12744
IOPS:
![image](https://user-images.githubusercontent.com/18602811/192064616-1c6b348b-6c22-41c5-9048-12dd87fb864e.png)
Large spikes are from RAID device when node start ups I believe (pulling images my guess).
PVC disks seem to have around 100-200 iops on them (some workspaces were stress-ng).

[2022-09-23 23:28] priyal32 commented on #12225
@gtsiolis I think I found the file (https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/components/UsageView.tsx) but the sort arrow is not imported. I see that it was imported in like one of the previous versions?

[2022-09-24 04:21] #12470 closed

[2022-09-24 09:29] irinaqwerty852 opened #13262 "Cena"
## Is your feature request related to a problem? Please describe

## Describe the behaviour you'd like

## Describe alternatives you've considered

## Additional context

[2022-09-24 14:27] Siddhant-K-code commented on #13262
Closing this, as this doesn't contain anything

[2022-09-24 14:27] #13262 closed

[2022-09-24 16:36] AymanZahran opened #13263 "Add a Hook Task Before Gitpod Workspace Termination"
I am facing additional management overhead for cleanup resources after my workspace stop (Ex: Delete Okteto Cluster [Dev Environment] after deleting Gitpod Workspace)

It would be awesome to add a feature in the gitpod.yml to run tasks just before the termination of the workspace container (Similar to prebuild but before termination)

At the time being since this feature is not exists, I am deleti

[2022-09-24 16:42] loujaybee commented on #9131
A similar experience in Codespaces now.

![image](https://user-images.githubusercontent.com/5528307/192109265-1ad65406-557a-4380-85c0-84d3f8b43bb0.png)

[2022-09-24 17:11] axonasif commented on #13263
Similar: https://github.com/gitpod-io/gitpod/issues/3966

[2022-09-24 17:19] tnir commented on #7864
@meysholdt According to your comment in https://github.com/gitpod-io/gitpod/pull/10199#issuecomment-1195274701, didn't you do anything on this problem? 🤔

[2022-09-24 17:25] benvp commented on #10917
Are there any plans for integrating fig?

[2022-09-24 21:10] #10321 closed

[2022-09-24 21:41] #12685 closed

[2022-09-24 21:54] easyCZ commented on #13239
<img width="1608" alt="Screenshot 2022-09-24 at 23 50 33" src="https://user-images.githubusercontent.com/1419286/192119862-151bd8a0-1893-48ab-bf77-40bf4597b837.png">

The above shows requests (and failures with codes) across our systems. Most notably, `WorkspaceManager.ControlPort` is returning ResourceExhausted.

This is caused by our own rate-limiter - [dashboard](https://grafana.gitpod.io/explo

[2022-09-24 22:01] easyCZ commented on #13239
Because we use go-grpc-middleware on our gRPC clients, [we'll automatically retry](https://github.com/grpc-ecosystem/go-grpc-middleware/blob/master/retry/options.go#L19) `ResourceExhausted` requests. This is the root cause of the `DEADLINE_EXCEEDED` - each request has a maximum deadline and because we retry (and keep getting ResourceExhausted), we reach the context deadline.

[2022-09-24 22:46] easyCZ commented on #13239
Each time this issue occurs, there's also a [spike in ETCD errors](https://grafana.gitpod.io/d/dxEjpXn4z/grpc-client?orgId=1&from=1663738229888&to=1663763966058&var-service=etcdserverpb.KV&var-service=etcdserverpb.Lease&var-service=etcdserverpb.Maintenance&var-service=etcdserverpb.Watch&var-method=All&var-type=All):
<img width="1603" alt="Screenshot 2022-09-25 at 0 45 46" src="https://user-images.

[2022-09-24 22:49] easyCZ commented on #13239
Interestingly enough, it looks like the `ws-manager` does not seem to have any explicit rate limiting config. However, from the metrics, [it looks like the rate limit is set to 100 per minute per method](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28grpc_s

[2022-09-24 23:41] janpio commented on #9023
I doubt this has been fixed.

[2022-09-24 23:43] kylos101 commented on #13239
:wave: @easyCZ where were you looking at `ws-manager` where you didn't see related config? I assume webapp cluster or a preview environment?

Here is the ControlPort config in `eu68`:

[code]

We configure [here](https://github.com/gitpod-io/ops/blob/299ad451d1ef5d67ad5c15412786aaea665dd557/deploy/workspace/installer-values.yaml#L29-L32) via installer settings.

[2022-09-25 00:08] kylos101 commented on #13239
@easyCZ let us know if you need any support from the Workspace Team? For now I'm going to leave it in the inbox, but if you need help next week please reach out to @aledbf . :pray:

[2022-09-25 01:34] RCheesley commented on #10239
Bump

[2022-09-25 03:06] jeanp413 commented on #12349
I took a look but couldn't reproduce it

[2022-09-25 03:58] julienmarie opened #13266 "Can't connect. SSH closes connection."
### Bug description

Can't connect via VS Code Desktop or SSH.

VSCode Logs:
[code]

[2022-09-25 04:04] jeanp413 commented on #13107
Took a deeper look and actually is kinda expected behavior of upstream code as the with the exposed API is only possible to open a folder or a workspace [[1](https://github.com/microsoft/vscode/blob/da506e9b8d86a7265d53255ef8a8603d792d74f5/src/vs/workbench/services/host/browser/browserHostService.ts#L49-L79)]
So it's Ok to reopen the issue upstream, sorry for the confusion.

[2022-09-25 08:31] #10347 closed

[2022-09-25 08:31] #7315 closed

[2022-09-25 08:31] #6300 closed

[2022-09-25 08:32] #10380 closed

[2022-09-25 08:33] #10270 closed

[2022-09-25 08:34] #10422 closed

[2022-09-25 08:34] #9982 closed

[2022-09-25 08:36] #10437 closed

[2022-09-25 08:36] #9286 closed

[2022-09-25 08:36] #8445 closed

[2022-09-25 08:37] #9832 closed

[2022-09-25 08:37] #10451 closed

[2022-09-25 08:38] #9473 closed

[2022-09-25 08:39] #9615 closed

[2022-09-25 08:40] #10434 closed

[2022-09-25 08:41] #7323 closed

[2022-09-25 08:41] #10521 closed

[2022-09-25 08:41] #8251 closed

[2022-09-25 08:42] #10550 closed

[2022-09-25 08:42] #8263 closed

[2022-09-25 10:37] #10557 closed

[2022-09-25 10:38] #10587 closed

[2022-09-25 10:38] #10584 closed

[2022-09-25 10:39] #9192 closed

[2022-09-25 10:39] #10064 closed

[2022-09-25 10:39] #7733 closed

[2022-09-25 10:40] #9311 closed

[2022-09-25 10:41] #9454 closed

[2022-09-25 10:41] #9414 closed

[2022-09-25 10:42] #9439 closed

[2022-09-25 10:42] #9483 closed

[2022-09-25 10:43] #9697 closed

[2022-09-25 10:43] #9693 closed

[2022-09-25 10:43] #9685 closed

[2022-09-25 10:43] #7253 closed

[2022-09-25 10:44] #7747 closed

[2022-09-25 10:44] #7748 closed

[2022-09-25 10:46] #7245 closed

[2022-09-25 10:46] #9702 closed

[2022-09-25 10:46] #8693 closed

[2022-09-25 11:51] eric-wieser opened #13267 "/usr/bin/gp: not found"
### Bug description

The [gitpod command line interface, `gp`](https://www.gitpod.io/docs/command-line-interface), seems not to be present on the default gitpod image.
The configured git `credential.helper` setting expects it to be there.

### Steps to reproduce

Checkout a clean workspace of a repo that does not contain a `gitpod.yml`. Attempt to run `git push`:
[code]

### Workspace affected

er

[2022-09-25 12:45] csweichel commented on #13267
I saw the same behaviour:

My workspace is also missing `/usr/bin/gp`. I started more workspaces which all landed on the same node (`workspace-ws-eu68-large-pvc-pool-7wvj`), and there `/usr/bin/gp` is missing, too.

@eric-wieser's workspace is running on `workspace-ws-eu68-pool-s7zk`, i.e. a different (non-PVC) node.

In the same workspaces docker isn't running, because
[code]

Trying to write to

[2022-09-25 13:24] aledbf commented on #13267
that sounds an issue with shiftfs

[2022-09-25 13:26] eric-wieser commented on #13267
Yes, I got the same thing.

[2022-09-25 13:27] richardfrankza commented on #13267
Same here, hitting this issue currently on eu67.

[2022-09-25 14:06] kylos101 commented on #13267
@richardfrankza we were not able to recreate the issue on eu67 or us67. Are you still having trouble? If yes, could you share the workspace name so we can examine?

[2022-09-25 14:18] csweichel commented on #13266
Probably the same root cause as https://github.com/gitpod-io/gitpod/issues/13267.
While investigating the logs I saw SSH key related errors (cannot write key).

[2022-09-25 14:19] csweichel commented on #3966
Relevant discussion: https://github.com/gitpod-io/gitpod/pull/11287#issuecomment-1190241322

[2022-09-25 15:08] jwpjrdev commented on #7722
can someone make this never-stale?

[2022-09-25 15:41] kylos101 commented on #13267
@eric-wieser @richardfrankza we've shifted traffic back to eu67 and us67 to avoid this issue, @aledbf confirmed it is an issue with shiftfs on eu68 and us68.

If you continue to have trouble, let us know which workspace it's on? Closing this issue for now.

[2022-09-25 15:41] #13267 closed

[2022-09-25 15:44] kylos101 commented on #13266
@julienmarie we've shifted traffic back to eu67 and us67 to avoid this issue, @aledbf confirmed it is an issue with shiftfs on eu68 and us68.

Please try restarting the workspace from the dashboard, it'll select us67, and you should be all set. If you continue to have this trouble, let us know and we'll reopen the issue.

[2022-09-25 15:44] #13266 closed

[2022-09-25 17:36] kylos101 commented on #12838
@corneliusludmann @Pothulapati I need to create some bandwidth in our groundwork, and am moving this back to our inbox. Please let me know if there is a time constraint or customer who is waiting for this research.

[2022-09-25 19:09] easyCZ commented on #13239
Thanks @kylos101, I was indeed looking at `ws-manager` in the WebApp clusters. I'll separately try to follow-up why it's in the WebApp clusters if that's not the instance being used.

Current hypothesis is that this issue is due to natural increase in traffic on EU clusters over time. It could be compounded by the nature of "engineers beginning their work at the time of the incident and thus start

[2022-09-25 19:29] easyCZ commented on #11378
We've now purged all Workspaces and Workspace Instances from 2 years ago and we've cought up against the current rate workspaces entering this purging window - [dashboard](https://grafana.gitpod.io/d/Di90As74k/components-server-garbage-collection?orgId=1&from=now-7d&to=now).

https://github.com/gitpod-io/gitpod/pull/13234 switched purging to after 1 year from content deletion.

We're also now purg

[2022-09-25 20:31] kylos101 commented on #13239
@easyCZ :+1: :+1:

I believe `ws-manager` is in WebApp cluster because we have `image-builder-mk3` there. As a expected effect, that gives us the ability to see image builds in webapp clusters on the [grafana dashboard](https://grafana.gitpod.io/?orgId=1&refresh=5m&var-datasource=VictoriaMetrics&var-cluster=All).

Good point. Our peek concurrent workspaces has been quite high lately.

We might be

[2022-09-26 00:27] utam0k commented on #13254
@kylos101 This problem happens with cgroup v2(SaaS), right? I'd like to know if we have to consider cgroup v1.

[2022-09-26 00:30] kylos101 commented on #13254
@utam0k it happens with cgroup v1 on self-hosted, not sure about saas and cgroup v2.

[2022-09-26 00:31] utam0k commented on #13254
@Furisto How about set `memory.high = memory.max * 0.95`? WDYT? But, probably this setting will affect https://github.com/gitpod-io/gitpod/issues/11156. Last time it was supposed to be 80%(default value of kubelet), so it should be better than that.

[2022-09-26 00:32] utam0k commented on #13254
Oops, that was unexpected. Thanks.

[2022-09-26 00:36] utam0k commented on #13254
For cgroup v1 it can't support memory QoS. Currently we avoid OOM by clearing the cache periodically, but this will not be enough for the self-hosted customer. The easiest workaround is to upgrade cgroup v2. But I'll give it some thought.
https://github.com/gitpod-io/gitpod/blob/main/components/ws-daemon/pkg/cgroup/plugin_cachereclaim.go

[2022-09-26 01:03] utam0k commented on #13254
I'll have to experiment a bit more to fully understand the behavior, but what about having a two-level cgroup?
1st level: container hard limits set by kubelet
2nd level: a little less than the hard limit (95%) of memory limit for the workspace
Then, if all workspace processes belong to this second level and the supervisor is not selected for OOM (e.g., nice value), it may be possible to prevent th

[2022-09-26 01:03] utam0k commented on #13254
In cgroup v2, this is different, but there are already two levels of cgroup.

[2022-09-26 01:05] utam0k commented on #13254
It might be possible to make this second level value user-configurable by giving the user the cgroup namespace; I don't see any reason not to use the cgroup namespace in cgroup v1 as far as I know, so it should be possible. Well, this is an optional feature.

[2022-09-26 01:08] utam0k commented on #13197
@vulkoingim I didn't know `with-large-vm` option. Great! Thanks.

[2022-09-26 01:35] kylos101 commented on #12638
The DoD is perfect, I see 2 tests have PRs, and 2 are left (need PRs). Thank you, @jenting !

[2022-09-26 01:54] #9784 closed

[2022-09-26 01:54] #9785 closed

[2022-09-26 01:58] #9856 closed

[2022-09-26 01:59] #9878 closed

[2022-09-26 02:03] #9910 closed

[2022-09-26 02:08] #9364 closed

[2022-09-26 02:09] #9977 closed

[2022-09-26 03:44] jenting opened #13278 "workspace integration test failed with git ls-remote --exit-code origin main failed (exit status 2)"
### Bug description

The workspace integration test failed with an error message
[code]

### Steps to reproduce

https://werft.gitpod-dev.com/job/gitpod-build-to-gc-inte-br.15

### Workspace affected

_No response_

### Expected behavior

The integration test pass

### Example repository

_No response_

### Anything else?

Related to https://github.com/gitpod-io/gitpod/pull/13241

[2022-09-26 04:17] huweiATgithub opened #13279 "Option for init submodules before building docker image"
## Problem
I have a repository whose Dockerfile lies in a submodule.
I tried to use this file, but it says the file does not exist.
[code]
I guess this might be due to the submodule is not initialized.

## Describe the behavior you'd like
Provide option to control workspace initialization behavior: initialize submodule before building the docker image.

## Describe alternatives you've considered
M

[2022-09-26 04:44] #12248 closed

[2022-09-26 04:56] jenting opened #13280 "[PVC] The workspace with PVC keeps in terminating state"
### Bug description

At the gen67 cluster, the workspace with the PVC feature flag keeps terminating.

The symptom is the workspace pod starts the disposal process, and the volume snapshot is ready to use.
But somehow, the event does not receive by the receiver _or_ does not send to the sender.

### Steps to reproduce

We don't know yet but it looks like we need to do more loadgen testing.

https:

[2022-09-26 06:14] jenting opened #13282 "[PVC] orphan PVC left if the ws-manager unable to start workspace pod"
### Bug description

Two scenarios:
- _PVC bound, but workspace pod gone_: the PVC object exists even though the workspace pod is gone.
  The orphan PVC object still exists within the cluster even though the workspace pod is gone. And the ws-manager with errors
[code]

- _PVC bound and workspace pod Terminating_: the PVC state from pending -> bound after one hour because of the [GCP limitation](ht

[2022-09-26 06:20] jldec commented on #12358
This column is not sortable since https://github.com/gitpod-io/gitpod/pull/12501
closing.

[2022-09-26 06:20] #12358 closed

[2022-09-26 06:23] jldec commented on #12359
General improvements necessary in the component layout behavior (not just spacing).

[2022-09-26 06:24] alvaromartmart commented on #10252
I believe this is still relevant as it disrupts the experience when trying to run merged PRs in a Gitpod environment

[2022-09-26 06:28] #11917 closed

[2022-09-26 06:29] AkshatNGupta commented on #12977
Hey @axonasif , I read somewhere that in active workspaces are deleted after 14 days. If that's so, We are building our application so that the users can come in and attend the program as they wish and resume back as they wish. Like hackerearth/hackerrank. If the inactive workspaces are deleted, our purpose will be defeated for such cases.

For workspaces to not be deleted we have to pin them manu

[2022-09-26 06:36] Pothulapati commented on #12953
This seems to be related https://github.com/gitpod-io/gitpod/issues/12492

[2022-09-26 06:51] svenefftinge opened #13283 "[usage] Ensure usage data for the last three months exists"
We need the usage data for the past three months in order to have the new usage view filled. It would be great to build this into the product so that the data also gets filled in self-hosted installations.

[2022-09-26 06:59] jenting opened #13284 "Cannot open the workspace when open from the issue"
### Bug description

![image](https://user-images.githubusercontent.com/49380831/192212520-8294b221-9d7d-4908-80a2-3d526b6dcc91.png)

### Steps to reproduce

When running the [integration test](https://github.com/gitpod-io/gitpod/blob/9aa153e559070b28547d3ceff055d90898088994/test/tests/workspace/contexts_test.go#L44-L49), it can't open the workspace success.

We create a preview env from the main

[2022-09-26 07:02] jenting commented on #13284
cc @aledbf

[2022-09-26 07:03] svenefftinge commented on #13243
Looks like a race. The 1,000,000 credits are set as a default when there is no cost center.

[2022-09-26 07:11] geropl commented on #13187
Related: #13166

[2022-09-26 07:14] geropl commented on #8830
This has likely been fixed in the meantime by the introduction of `EntitlementService`. We still need to verify whether expectations are aligned.

[2022-09-26 07:17] utam0k commented on #13278
I have one question. Should this modify the test, or is this something that contentInitializer should handle (or ignore)?

[2022-09-26 07:23] geropl commented on #12955
Some of this has already been tackled by other recent PRs. Maybe we're already done here, but we should verify.

[2022-09-26 07:23] jldec commented on #12686
Per discussion ([internal](https://gitpod.slack.com/archives/C02EN94AEPL/p1663755673106779?thread_ts=1663748289.192209&cid=C02EN94AEPL))

[2022-09-26 07:23] #12686 closed

[2022-09-26 07:26] jenting commented on #13278
I use Jaeger to catch the initializer sent from the server, and it does not contain the _TargetMode_ and _CloneTarget_ from the start workspace request. That's why we can't reproduce it when we open the workspace from Gitpod GUI.

For the short term, we could fix it with an integration test.

But I am thinking about the long term. We should change the workspace integration test that sends requests

[2022-09-26 07:29] svenefftinge opened #13286 "[usage] Show a bar chart for usage"
We collect usage data for every workspace session and prebuild. In order to get a better overview of who, where, how and when usage happens it would be helpful to have a visualization similar to the ones you get in e.g. Google Cloud.

I've played around with this idea in the [PR](https://github.com/gitpod-io/gitpod/pull/13261).

![image](https://user-images.githubusercontent.com/372735/192217855-c

[2022-09-26 07:29] lucasvaltl opened #13287 "Research and implement versioning for reference architectures"
Although likely less frequently over time, our reference architectures are bound to change over time. This means that customers will be on different versions of the reference architectures, and require a good upgrade experience. This means, we need to think carefully about versioning the reference architectures and related topics:
- How to version reference architectures (this is related to https:

[2022-09-26 07:31] svenefftinge opened #13288 "[usage] Allow more flexible time ranges"
Currently, we only allow showing usage for the last calendar month. It would be great to default top the current billing cycle, but also allow picking arbitrary ranges. This is especially helpful when looking for patterns and outliers in the data.

Some potential widgets to explore:
- https://coreui.io/react/docs/forms/date-range-picker/#custom-ranges
- https://rsuitejs.com/components/date-range-p

[2022-09-26 07:31] #13017 closed

[2022-09-26 07:32] nandajavarma opened #13289 "[ref-arch/terraform] Fix the s3 pre-flight check failure"

[2022-09-26 07:34] svenefftinge opened #13290 "[usage] Allow filtering by team member"
Would be helpful to allow filtering usage data by user to better understand how team members are using Gitpod.

[2022-09-26 07:52] geropl commented on #11397
Linked to: #6770

[2022-09-26 07:53] lucasvaltl opened #13294 "Regular load tests for Single Cluster Reference Architecture"
We should have a process & tooling in place to load test the single cluster reference architecture regularly (e.g. at least once a quarter) with ever increasing numbers. This is to build trust and confidence with customers.
- Way of doing load tests (best to use [loadgen](https://github.com/gitpod-io/gitpod/tree/main/dev/loadgen))
- A way of storing results such that we can compare over time. This

[2022-09-26 07:55] geropl commented on #12938
I assume this is a dupe of #12902 and #6770 right now. Will close this as those have already been scheduled.

[2022-09-26 07:55] #12938 closed

[2022-09-26 07:58] svenefftinge commented on #12415
Closing this for now as we are loading fast enough atm.

[2022-09-26 07:58] #12415 closed

[2022-09-26 07:58] easyCZ commented on #12491
Resolved as part of https://github.com/gitpod-io/gitpod/issues/13034

[2022-09-26 07:58] #12491 closed

[2022-09-26 07:58] jldec commented on #13187
The problem is that everyone on the team is notified, but only team owners can do something to change the limit.

How about proceeding with option #2??

[2022-09-26 08:17] axonasif commented on #12977
Hey @AkshatNGupta

As of today, no.

I would encourage you to raise a feature request to add a subcommand on the `gp` CLI for pinning workspaces.

You could also do it via our API but it's not here yet: https://github.com/gitpod-io/gitpod/issues/10798

[2022-09-26 08:20] mads-hartmann commented on #12717
Closing this as I believe it was due to the incident. If it happens again, please let us know 🧡

[2022-09-26 08:20] #12717 closed

[2022-09-26 08:28] svenefftinge commented on #12345
Another case ([internal thread](https://gitpod.slack.com/archives/C020VCB0U5A/p1664173192055139))

[2022-09-26 08:30] axonasif commented on #13279
Hey @huweiATgithub, could you just clone the repository and initialize the submodules from a dockerfile `RUN` instruction? Here's something below that might give you an idea of how a workspace starts:
![gitpod-diagram](https://user-images.githubusercontent.com/39482679/192230020-82296070-e356-4fbf-9fc4-73efaf90cd0c.png)

[2022-09-26 08:32] #13278 closed

[2022-09-26 08:39] easyCZ commented on #13034
Alerts have now propagated.

![Image](https://user-images.githubusercontent.com/1419286/192231973-bd948ddd-b669-41de-aba4-87bc86af12f3.png)

[2022-09-26 08:40] easyCZ commented on #13034
This is now complete.

[2022-09-26 08:40] #13034 closed

[2022-09-26 08:46] akshatnarayangupta opened #13297 "Subcommand on the gp CLI for pinning workspaces."
## Is your feature request related to a problem? Please describe
Inactive workspaces are deleted by Gitpod after 14 Days. To prevent a workspace from being deleted, you can pin it in your list of workspaces. Pinned workspaces are kept forever.

## Describe the behaviour you'd like
We are looking for ability to keep workspace for more than 14 days, without having to explicitly pin it. Is there a wa

[2022-09-26 08:47] axonasif commented on #12977
@AkshatNGupta you might be interested in checking out how 4geeks integrate with gitpod for their educational platform: https://www.gitpod.io/for/education/4geeks

[2022-09-26 08:48] techvlad opened #13298 "Add ability to customise `tasks` in gitpod.yml"
## Is your feature request related to a problem? Please describe
Not related to a problem, little DX improvement

## Describe the behaviour you'd like
In VSCode we can change icon and colour for terminal
![telegram-cloud-photo-size-2-5298705551577956386-x](https://user-images.githubusercontent.com/13676043/192233288-00c5c0f6-66a3-4751-87c6-c1994ce84807.jpg)
Would be nice to have ability to customi

[2022-09-26 08:49] axonasif commented on #13297
To team-ide: I assume ide team owns the `gp` CLI component even though `workspace-pinning` might be a bit webapp scoped. Feel free to readjust if needed 👍

[2022-09-26 09:12] #12416 closed

[2022-09-26 09:27] geropl opened #13299 "test"

[2022-09-26 09:27] loujaybee commented on #13297
Seems logical, thanks for raising @akshatnarayangupta !

[2022-09-26 09:45] julienmarie opened #13300 "502 issue on supervisor"
### Bug description

Open Workspace stuck

### Steps to reproduce

Launch workspace.
I get 502 on https://julienmarie-bonoboom-lucynkfxy3g.ws-us67.gitpod.io/_supervisor/v1/status/supervisor and link to open in VSCode never appear.
I can connect throught SSH though

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

[2022-09-26 10:04] MrSimonEmms commented on #13095
@adrienthebo I had a look at the [Slack thread](https://gitpod.slack.com/archives/C033MA45L5S/p1663955806236589) and I'm very confused. I don't even know why the `system:serviceaccount:gitpod:installer` would be deleting the FluentBit resources - AFAIK, the `installer` service account shouldn't be affecting anything with regards to the base KOTS manifests.

One thing to note is that we have remove

[2022-09-26 10:26] Pothulapati commented on #12451
Hey @tomatebeans,

Thanks for the reply!

Hmm, Looking at the `image-builder-mk3` logs, I see a bunch of registry not allowed logs on `docker.io`. I just built a local-preview image that includes `docker.io` registry in the allow list. Can you run the the same command but with the following image?
[code]

Also, If even that does not work. Can you post the `image-build` logs itself by running `dock

[2022-09-26 10:37] jankeromnes commented on #13299
It worked! 🎉

[2022-09-26 10:37] #13299 closed

[2022-09-26 10:50] jankeromnes opened #13301 "Epic: Implement free tier for individuals in usage-based billing"
### Summary

Implement a free tier for individuals in usage-based billing.

### Context

https://www.notion.so/gitpod/UBP-Individual-Tier-343575c38d0e432588a38732cd7362b4 (internal)

### Value

- Translate the existing Chargebee-based free tier into our new usage-based billing with Stripe

- Continue providing an amazingly useful service for free to individuals, open source developers, early adopt

[2022-09-26 11:13] jankeromnes opened #13302 "When usage-based individuals upgrade by adding a credit card, subscribe them to the new Stripe Price with built-in free tier"

[2022-09-26 11:19] gtsiolis commented on #12225
Nice catch, @priyal32! ⚾

We've recently removed the sorting functionality but we'll probably come back to this later. Let me close this for now as this is no longer relevant.

[2022-09-26 11:19] #12225 closed

[2022-09-26 11:20] gtsiolis commented on #9103
Closing this as it's no longer reproducible. 📕

[2022-09-26 11:20] #9103 closed

[2022-09-26 11:40] jankeromnes opened #13307 "Add the new individual Stripe Price IDs to Gitpod's configuration"

[2022-09-26 11:55] LorenzHenk commented on #12349
Looks like this was fixed recently, doesn't happen for me anymore 👍

[2022-09-26 12:17] #12817 closed

[2022-09-26 13:20] mads-hartmann opened #13313 "Build: Enable the ability to build install/preview:docker in Werft again"
In https://github.com/gitpod-io/gitpod/pull/13093 `install/preview:docker` was turned into a dynamic package to make it optional to build. However, it appears that dynamic packages currently break `leeway exec` (see https://github.com/gitpod-io/leeway/issues/100) and due to a misunderstanding install/preview:docker was removed from the "all" package dependency tree in https://github.com/gitpod-io/

[2022-09-26 13:26] #12870 closed

[2022-09-26 13:49] easyCZ commented on #13239
I've dug a bit deeper into this and I've got the following observations:

There is a very direct correlation between a WebApp deployment and requests to `openPort`. After a rollout, when clients re-connect, they seem to "verify that the correct ports are in fact open" - this results in increased calls to `openPort`.
<img width="3280" alt="Screenshot 2022-09-26 at 15 41 07" src="https://user-images

[2022-09-26 14:08] jankeromnes commented on #13307
Still missing https://github.com/gitpod-io/gitpod/pull/13311 before this is entirely fixed.

[2022-09-26 14:21] #13207 closed

[2022-09-26 14:25] david-bakin commented on #8623
I'd like to point you to this comment - https://github.com/gitpod-io/gitpod/issues/9209#issuecomment-1098347728 - where I suggest considering the use case where you want to use Gitpod to work on repos where you have no access to that repo to add a `.gitpod.yml` and it will never happen.

What I'd particularly like is _environment variable expansion_ within `.gitpod.yml` _expecially_ in the `additi

[2022-09-26 14:28] aledbf commented on #13239
@easyCZ the ETCD queries are from meta clusters?

[2022-09-26 14:45] easyCZ commented on #13239
EU-67
[code]

[2022-09-26 14:52] jimmybrancaccio opened #13320 "Account Blocked When Using OpenWrt Repo"
### Bug description

When creating a workspace using [OpenWrt](https://github.com/openwrt/openwrt) and then opening a file to edit it (in this specific case it was the `[feeds.conf.default](https://github.com/openwrt/openwrt/blob/master/feeds.conf.default)` file it causes the account to get blocked.

[Google Logs Entry](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-09-23T09:00:0

[2022-09-26 15:08] securitymirco commented on #12639
@tv42 Yes that would be `License.enterprise.txt` instead.

[2022-09-26 15:23] jimmybrancaccio opened #13323 "Setting Email Address With '+' Under Settings > Account Fails to Update Git Configuration in Workspace"
### Bug description

When I go to Settings > Account and set the email field to something like `jimmy+test@mydomain.com`, spin up a new workspace and look at what the value is by running `git config user.email` I see it does not include the `+`. It looks like somewhere along the line of creating the workspace we're failing to handle the `+` symbol properly.

### Steps to reproduce

There's a coupl

[2022-09-26 15:26] julia-leyton commented on #13249
adding @hellofromspark to follow up on this

[2022-09-26 15:26] easyCZ commented on #11315
How do we approach nuking the records from the DB? Do we need to make the cleanup work in self-hosted instances also? Or were probes only a cloud concept?

One approach is to write this as a migration which deletes the records, but that in itself may not work too great in terms of the interaction with `db-sync`.
Alternatively, we run this as a scheduled job on `server`.

[2022-09-26 15:38] JesseRigon commented on #13323
This is especially important in that github creates a public facing email for git commits if you choose to keep your email private. This generated email includes a plus and there is no option on github to modify the generated email that I can see.

My support ticket is actually the reason this issue was posted and its surprising to me that this github private email issue has never previously occur

[2022-09-26 16:09] MrSimonEmms commented on #13147
I've done some more investigation on this and can confirm that `gpctl workspaces stop` __WILL__ work - eventually...

The problem is that `gpctl` only authenticates via a `kubeconfig` file. When running normally, that's fine. However inside a pod, we don't have a `kubeconfig` file as we're authenticating as a service account.

The refactored Installer as an [authClusterOrKubeconfig](https://github

[2022-09-26 16:12] JesseRigon commented on #13323
I've worked around this for now using the dotfiles repo feature. This works, but I use gitpod.yml and this is the only thing in this repo so even though this works I don't think it devalues the bugs importance.

FYI, what doesn't work is using gitpod variables. The special character email bug is present there as well. This is assuming the hierarchy of importance for pulling variables goes Accounts

[2022-09-26 16:19] adrienthebo opened #13327 "[self-hosted] Attach metadata to Gitpod cluster indicating the reference architecture version"
## Is your feature request related to a problem? Please describe

The reference architectures are in a state of active evolution; changes like splitting up the headless and regular workspaces have a non-trivial impact on the cluster operation.

## Describe the behaviour you'd like

When users create infrastructure based on the reference architecture, some sort of metadata should be attached to the

[2022-09-26 16:21] adrienthebo commented on #13327
Duplicate of https://github.com/gitpod-io/gitpod/issues/13287

[2022-09-26 16:21] #13327 closed

[2022-09-26 16:23] adrienthebo commented on #13287
Adding some notes for how we could attach this (from #13327)

- Per @lucasvaltl's comment, a configmap in a non-gitpod namespace (as this information should be persisted even if the gitpod namespace is wiped
- Attached as an annotation on the nodegroup/nodes, so if an update is partially applied we can identify that a partial update may have been applied

[2022-09-26 16:30] MrSimonEmms opened #13329 "Allow gpctl to authenticate from a service account token"
Currently, `gpctl` can only authenticate via a `kubeconfig` file. In order to be able to be bundled in the Installer to stop workspaces/image builds prior to a deployment, it must be amended to enable authentication via a service account token.

As an example of how this could work, see the [authClusterOrKubeconfig](https://github.com/gitpod-io/gitpod/blob/main/install/installer/cmd/config_cluster

[2022-09-26 16:34] MrSimonEmms opened #13330 "Allow gpctl to receive a namespace flag"
When running in the Installer job, the namespace will be configured via the `NAMESPACE` environment variable - this is very unlikely to be `default`

Currently, `gpctl` only receives the namespace from the kubeconfig's context - ideally, both `-n` and `--namespace`

[2022-09-26 16:48] david-bakin commented on #9866
@easyCZ - Are epics supposed to just go stale?  Especially one where progress has been made? Also I don't get why the bot marked it completed when two tasks above are still unchecked? And shouldn't it take a _person_ not a bot to close an epic?  Just curious.  Especially as I'm waiting for various (other0 API things to actually happen (e.g., to be able to trigger a prebuild via a GitHub/GitLab CI

[2022-09-26 16:53] MrSimonEmms commented on #13095
It seems that the cause of the problem is [this line](https://github.com/gitpod-io/gitpod/blob/2022.08.0/install/kots/manifests/gitpod-installer-job.yaml#L314-L316), which was added to `2022.8.0` to avoid conflicts from the customisation patch label change (the reason why it was a required release).

As part of the September release, we should test that:

[code]

[2022-09-26 17:23] jimmybrancaccio opened #13331 "Workspace Image Being Rebuilt Every Time When Using RUN in .gitpod.Dockerfile"
### Bug description

In troubleshooting a recent ticket it appears there's a difference between our self-hosted instance and our SaaS offering in how image builds are handled.

On our SaaS instance when I have a `.gitpod.yml` file with:

[code]

and a `.gitpod.Dockerfile` with the following:

[code]

and I start a new workspace an image is built as expected. Once the workspace is spun up I then st

[2022-09-26 17:27] nandajavarma opened #13332 "[kots] fix the s3 preflights to use `aws s3` cli instead of `mc`"
Currently we use `mc` instead of `aws s3` cli to run the preflights check for s3 storage. `mc` requires a lot more permission that `aws cli` does and hence we have to create an IAM with `AWSS3FullAccess` policy to get it to pass even though Gitpod doesn't need it

[2022-09-26 17:31] nandajavarma opened #13333 "[terraform] Reduce the `s3` IAM role permissions from `AWSS3FullAccess`"
Once the preflight check for s3 uses `aws s3` instead of `mc`, reduce the policy for IAM user.

_Originally posted by @nandajavarma in https://github.com/gitpod-io/gitpod/issues/13332#issuecomment-1258381441_

[2022-09-26 17:32] MrSimonEmms commented on #13329
Found a workaround

[2022-09-26 17:32] #13329 closed

[2022-09-26 17:32] MrSimonEmms commented on #13330
Found a workaround

[2022-09-26 17:32] #13330 closed

[2022-09-26 18:42] jimmybrancaccio opened #13334 "Main Admin Dashboard Page on SaaS Instance (/admin/users) Is Slow To Load"
### Bug description

In the past 7 days or so the main page in the admin dashboard (`/admin/users`) has been much slower to than previously. Prior to about a week ago the page would load within 2-5 seconds. At this time it takes ~30 seconds for the page to load. While the page is loading searching is not possible.

### Steps to reproduce

1. Clear your web browsers cache.
2. Visit https://gitpod.i

[2022-09-26 18:58] csweichel opened #13335 "Rework CRD to match Kubernetes best practice"

[2022-09-26 18:59] csweichel opened #13336 "Introduce foundational controller tests in mk2"
In mk1 we relied heavily on fixture tests. While convenient, they also carry a lot of burden and outdated state. Instead, we need a simple API to test several controller transitions, including resource creation (e.g. pod).

We also need to test the interaction with the gRPC API and CR.

[2022-09-26 19:18] jeanp413 commented on #12349
Closing this :+1:

[2022-09-26 19:18] #12349 closed

[2022-09-26 19:24] csweichel opened #13338 "Extract `WorkspaceAdmission` CRD used by ws-proxy"
To reduce the API load when users change their port or workspace sharing settings. This way `ws-proxy` doesn't need an informer for the whole workspace, but just for the `WorkspaceAdmission`.

Spec contains a `PortSpec` and `AdmissionLevel`.

[2022-09-26 20:32] huweiATgithub commented on #13279
Thank you @axonasif, the figure is clear.
From the figure, it is unclear what is the section "preprocess a few things" before the docker build. In the figure, it seems the repo is cloned after the docker image has been built. But I think a repo needs to clone before an image is ready to be built.

As the repo is private, it is not easy to do the cloning in a safe way in a RUN instruction.

[2022-09-26 21:17] #13147 closed

[2022-09-26 21:21] MrSimonEmms commented on #13147
I figured out how to use the `gpctl` function in a service account authorised environment. The deletion of workspaces now happens immediately before deployment and is in a function controlled by @gitpod-io/engineering-workspace

[2022-09-26 22:31] #13280 closed

[2022-09-26 22:38] jenting commented on #13147
@MrSimonEmms
Could you please open an issue for this?
Or would you like to come out with a PR to enhance it? That would be great.
Thank you.

[2022-09-26 22:56] sagor999 commented on #9496
Changed title of the issue.
Once PVC is fully working, remove old code path instead of trying to merge those two together in the meantime.

[2022-09-27 00:24] sagor999 commented on #12387
I am marking workspace task as Done, since workspace part is complete at this point.

[2022-09-27 01:30] CoolCoderSuper commented on #7751
Can't wait for Rider

[2022-09-27 02:23] #13284 closed

[2022-09-27 04:54] utam0k opened #13345 "Make the integration test be able to run to SaaS production/ephemeral cluster"
## Is your feature request related to a problem? Please describe

Integration tests cannot flow into production due to differences with some preview environments.
- blobsever doesn't exist on a workspace cluster
- test user doesn't exist

<details>
<summary>Full error log</summary>

[code]

</details>

## Describe the behaviour you'd like

Run (and pass) the integration tests

## Describe alternat

[2022-09-27 06:41] easyCZ opened #13347 "Set gitpod team CostCenter to Stripe"
[Context](https://gitpod.slack.com/archives/C02EN94AEPL/p1664186143718479)

[2022-09-27 06:50] MrSimonEmms commented on #13147
@jenting I opened #13329 and #13330 last night, but closed as not required as found a workaround.

If you want to reopen them and work on them, please do but it's not urgent any more

[2022-09-27 06:56] jankeromnes commented on #13070
Here is a screencast demonstrating the problem:

<a href="https://youtu.be/-nMP1zJg0-A"><img width="849" alt="Screenshot 2022-09-27 at 08 56 00" src="https://user-images.githubusercontent.com/599268/192454967-add49394-4756-4a12-a450-ff9b9d744309.png"></a>

[2022-09-27 07:39] atduarte commented on #11852
During the refinement meeting, @utam0k mentioned he saw the error recently. We don't know exactly how to approach other than looking at the new logs and trying to understand what's going on. There's currently no hypothesis.

[2022-09-27 07:43] jankeromnes commented on #13307
Actually the configuration template also needed to be modified. Final fix will come via https://github.com/gitpod-io/ops/pull/5498 (internal).

[2022-09-27 07:44] easyCZ commented on #9866
@david-bakin Sorry about this. Looks like we had a mis-configuration with the bot and it ended up closing this accidently. It definitely should not have been closed. Re-opening.

[2022-09-27 07:50] atduarte commented on #13320
We need to:
1. Verify log entry is related with openwrt
2. If it's "torsocks", we need to understand what it is and what to do about it
3. If it's "packetcrypt", we already removed it

[2022-09-27 07:51] easyCZ commented on #13060
US migrations now applied. We still need to apply the `stoppingTime` migration in EU

[2022-09-27 07:53] meysholdt commented on #12905
It happened again here:
https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220927000016.0/raw
https://gitpod.slack.com/archives/C03E52788SU/p1664237567527239?thread_ts=1664237077.239809&cid=C03E52788SU

[2022-09-27 08:02] easyCZ commented on #13060
To apply the EU indices, execute the following:

[code]

Expected run time is ~25 minutes.

[2022-09-27 08:04] #11757 closed

[2022-09-27 08:21] mustard-mh commented on #13239
We can also reduce num of `openPort` requests by change `supervisor` and `proxy` 's behavior

Open ports with private must be default behavior, we don't need to send openPort(private) requests

It (private) should be done in `proxy` component

[2022-09-27 08:33] jankeromnes commented on #13347
Thanks for cutting this ticket! I've updated our Usage Limit from 200 000 to 150 000, and this fixed our team's CostCenter billingStrategy:

<img width="1199" alt="Screenshot 2022-09-27 at 10 30 21" src="https://user-images.githubusercontent.com/599268/192475814-125465ef-ced1-469c-8baf-64eeeef38a44.png">

[2022-09-27 08:33] #13347 closed

[2022-09-27 08:50] lucasvaltl commented on #12029
Replaced by https://github.com/gitpod-io/gitpod/issues/13191

[2022-09-27 08:50] #12029 closed

[2022-09-27 09:01] jenting opened #13353 "[PVC] loadgen testing Pod can't mount Volume"
### Bug description

Running the loadgen test with PVC feature flag, some of the pods can't mount the volume
We ran the loadgen test twice
- 1st round: 1 of 100 workspaces can't be up
- 2nd round: 16 of 100 workspaces can't be up

The pod event log
[code]

### Steps to reproduce

https://gitpod.slack.com/archives/C02F19UUW6S/p1664263343721969?thread_ts=1664240249.861729&cid=C02F19UUW6S

Related up

[2022-09-27 09:11] svenefftinge opened #13355 "[usage] test `TestUsageService_ReconcileUsage` seems to be flaky"
In this [build](https://werft.gitpod-dev.com/job/gitpod-build-se-flexible-termination-period.2/raw) the test failed although there were no relevant changes.

[2022-09-27 09:19] loujaybee commented on #10581
Waiting on a build from JetBrains for this one.

[2022-09-27 09:23] geropl commented on #12675
I setup a preview environment [here](https://gpl-12675-proration.preview.gitpod-dev.com/plans) and tested with the following settings modified:
![image](https://user-images.githubusercontent.com/32448529/192481114-caccd488-9222-4289-9824-29bf97d2ed41.png)

For context: We didn't do this initially when implementing Chargebee integration to prevent abuse scenarios, and instead did "proration" in-pro

[2022-09-27 09:28] #13307 closed

[2022-09-27 09:29] loujaybee commented on #12884
Also assigning @andreafalzetti as he said he might have some time, if not I will pick this up!

[2022-09-27 09:42] akosyakov commented on #13092
I don't think that checking plugins dir is good idea. Using API hooks should be safer.

[2022-09-27 09:44] MrSimonEmms opened #13357 "Investigate inconsistent licence loading in self-hosted instances"
## Problem

When a new Gitpod instance is started, the first user goes to create their user account and the error `Error: Maximum number of users permitted by the license exceeded` is returned.

Ultimately, no users are able to log in leaving an unusable instance.

## Root cause

It seems to be a problem that the `server` call to `kotsadm` fails and the fallback licence is not properly loaded. A l

[2022-09-27 09:49] easyCZ commented on #7845
At the moment, there continue to be [requests made](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28grpc_server_handled_total%7Bjob%3D%5C%22ws-manager%5C%22,%20cluster%3D~%5C%22prod-meta.%2A%5C%22%7D%5B1m%5D%29%29%20by%20%28cluster,%20grpc_method%29%22,%22le

[2022-09-27 10:02] andreafalzetti commented on #13238
I wasn't able to replicate this bug consistently. When working on the `backend-plugin` and using `launch-dev-server.sh` frequently, it happens but in prod, I never got it yet.

@felladrin I've also tried `File -> Invalidate Cache -> Restart` but didn't happen to me. Does it happens for you consistently that way?

[2022-09-27 10:04] #12866 closed

[2022-09-27 10:16] AlexTugarev commented on #13357
@MrSimonEmms, just to clarify on this: the issue seems to be that the server is fetching the license only once on start, and it might happen that the license service is not yet available, because if you restart server (to repeat the request effectively) the request succeeds.

Looking at the code, the `licenseEvaluator.validate` is never called, thus the validation isn't repeated after initializati

[2022-09-27 10:19] lucasvaltl opened #13359 "Epic: [Self-Hosted] Tag self-hosted related images with their corresponding release."
### Summary

Tag self-hosted images on a per release basis to allow for customers to automatically mirror them in their airgapped registries.

### Context

To mirror images to their airgap environment cusotmers have to add them by tag, if we had a gitpod-release-version tag, they could have more easily found the images to add with a simple regex.

Having this feature going forward ensures they can

[2022-09-27 10:25] MrSimonEmms commented on #13357
@AlexTugarev yes. I created the Replicated licensor and wanted to keep the changes to `server` to a minimum. If we did make a call each time then it _SHOULD_ work, although I guess there's the potential for that to introduce new bugs if the `kotsadm` service isn't available.

We almost want a nuanced approach - if the licence has loaded "correctly", then should use the in-memory licence otherwise,

[2022-09-27 10:44] pawlean commented on #13300
Hey @julienmarie! 👋 I just checked your account and it looks like this workspace is no longer stuck in stopping. Is this still an issue?

[2022-09-27 11:09] jankeromnes opened #13362 "Show workspaceClasses display names and extend config with credits"
## Is your feature request related to a problem? Please describe

Show workspace classes' display names instead of their internal names in the Usage view.

## Describe the behaviour you'd like

E.g., instead of showing `g1-large` (the internal name), we should show `Large` (the display name).

Internal names and display names are configured [here](https://github.com/gitpod-io/ops/blob/208e9f7b2dc2

[2022-09-27 11:14] andreafalzetti commented on #13238
I seem to be able to reproduce this when using `launch-dev-server.sh` and once I connect to the test-repo, I terminate the dev-server and the IDE disconnects automatically without removing the connection properly from activeConnections.

[2022-09-27 11:30] jacobparis opened #13364 "Give user a time estimate for long workspace starts"
## Is your feature request related to a problem? Please describe

When a workspace is starting, we have very little transparency into what's going on. Sometimes workspaces start in seconds – other times, in tens of minutes. There are legitimate reasons for it to take a while, for example if a workspace is scaling from Small to Large, but users should know when this is going to happen

Right now, t

[2022-09-27 11:40] easyCZ commented on #7845
Currently it looks like `image-builder-mk3` is not correctly reporting any server metrics. That's a necessary pre-requisite for us to be able to move it - we need to be able to observe it.
To that end, I've [moved image builder to use baseserver in this PR](https://github.com/gitpod-io/gitpod/pull/13363) which also fixes the metrics reporting - we know metrics from base server do work correctly.

[2022-09-27 11:52] mads-hartmann commented on #12628
It hasn't restarted in over 4 days

[code]

And it only restarted twice in the last 7 since the release

![Image](https://user-images.githubusercontent.com/83561/192517982-4a6a17b7-cbec-44c0-930e-74935093c59a.png)

Closing this for now.

[2022-09-27 11:52] #12628 closed

[2022-09-27 12:05] jankeromnes commented on #13347
Side note: While the CostCenter billingStrategy got fixed, the change caused an invoice finalization that reset the current monthly balance for team Gitpod.

To get accurate numbers sent to Stripe again, we needed to undo the invoice finalization. See also [Slack](https://gitpod.slack.com/archives/C027AUU7BC3/p1664270891147159?thread_ts=1664269991.720149&cid=C027AUU7BC3) (internal).

[2022-09-27 12:06] drviver commented on #8930
same issue

[2022-09-27 12:09] svenefftinge opened #13365 "[supervisor] Processes started in terminals do not get a SIGTERM signal on stop"
We only SIGTERM the main process of the terminal and rely on propagation which doesn't seem to happen with the interactive bash processes.

We need to make sure we SIGTERM all the processes started within the terminals before SIGTERMING the main process.

[2022-09-27 12:12] easyCZ commented on #13239
We're currently looking into how the backoff strategy works from the IDE <> Server side. @AlexTugarev is also exploring how we can better propagate context cancellations (client decides to give up) into the grpc call made against `ws-manager`. Both of these are short term fixes.

We need to understand what impact the current rate of calls has on the cluster level ETCD. We need to assess if increas

[2022-09-27 12:23] geropl commented on #13365
Asking for clarification: You mean the root process of the (user-visible) workspace , right? Is that`supervisor`?

[2022-09-27 12:23] svenefftinge opened #13369 "Base usage measurement on `stoppedTime`"
We are currently using `stoppingTime` but we should use `stoppedTime` as the time it takes to stop a workspace depends on the size of a workspace. Also, we are introducing `terminationGracePeriodSeconds` property to extend the stopping time [[ref](https://github.com/gitpod-io/gitpod/pull/13352)].

[2022-09-27 12:29] geropl commented on #13369
Jep, I think this in itself is worth the change.

[2022-09-27 13:16] mittalyashu opened #13370 "Workspace timeout with SSH connection"
### Bug description

I've SSHed into Gitpod workspace using Jetbrains Gateway SSH provider.

The Jetbrains Client started indexing in the background, while I was coding.

But the workspace just timeout-ed assuming no one is working on it.

---

Not sure if this part plays any role, but even just by enabling this it should keep the workspace from not stopping.

<img width="536" alt="CleanShot 2022-

[2022-09-27 13:23] #13302 closed

[2022-09-27 14:18] adrienthebo commented on #13289
Did we address this issue in https://github.com/gitpod-io/gitpod/pull/13317?

[2022-09-27 14:25] geropl commented on #12969
Issue: "Usage View" is visible in self-hosted but shows broken content. (context: https://gitpod.slack.com/archives/C01KLC56NP7/p1664288507520209 )

[2022-09-27 15:11] loujaybee commented on #12107
We've instrumented this one with data, we'll drop this one from the current iteration and pick up again for investigation in another week or two.

[2022-09-27 15:14] loujaybee commented on #9189
This one should be an epic according to @iQQBot, let's discuss and break this one down 🙏

Assigning to myself to work with Pudong on that!

[2022-09-27 15:19] loujaybee commented on #7906
Currently on hold as we're reviewing the data, and it seems that some users are not able to enable properly.

It's possible to enable manually, but we won't yet roll out to all users.

[2022-09-27 15:22] loujaybee commented on #11955
Will move to backlog for now, still important that we make this change as it improves usability for SSH users and for VS Code Desktop. However, we're still closing off some other work, so we'll come back to this one soon.

[2022-09-27 15:24] loujaybee commented on #12972
Moving to backlog as we don't have capacity for this right now, but will hopefully be able to pick up again soon.

[2022-09-27 15:25] loujaybee commented on #13029
I'll need to do some investigation into this one.

[2022-09-27 15:27] loujaybee commented on #3966
Removing from IDE sync, as looks like @svenefftinge is looking into this ! 🙏 🚀

https://github.com/gitpod-io/gitpod/pull/11287

[2022-09-27 15:29] MrSimonEmms opened #13374 "Add the redactors configmap to the collected data for a KOTS support bundle"
It will be very useful to see the redactors that are specified in a support bundle, to ensure that they are being applied correctly. This should be as simple as adding a [selector](https://github.com/gitpod-io/gitpod/blob/main/install/kots/manifests/kots-support-bundle.yaml#L100,L104) for the labels.

This should go into `main` and the September release

[2022-09-27 15:42] charlesreid1acom opened #13375 "cannot find terminal once it is closed"
### Bug description

I close the terminal pane in gitpod. Now, I need to get it back. There are no controls to get it back, no buttons to get it back, no menu options to get it back. I can't right click and "open a terminal here". None of the buttons are usefully labeled, so I have to hover over each individual button to see if it opens a terminal.

I just want to open a new terminal pane once it

[2022-09-27 15:43] andreafalzetti commented on #13238
I suspect it might occur on workspace timeout. Worth testing the scenario.

[2022-09-27 15:45] geropl commented on #12675
Tested a bit with Team Subscriptions:
 - old, seat-based subscriptions work :heavy_check_mark:
 - new, membership based subscriptions work :heavy_check_mark:
   - Charges for during-the-month upgrades are not refunded on downgrade, because Chargebee doesn't do proration on unbilled charges ([source](https://www.chargebee.com/docs/2.0/unbilled-charges.html#faq_how-is-proration-applied-on-unbilled-c

[2022-09-27 17:18] mikenikles opened #13377 "Port view is empty"
### Bug description

The new default ports view appears empty.

### Steps to reproduce

Start a workspace with the following ports defined in `.gitpod.yml`:

[code]

### Workspace affected

_No response_

### Expected behavior

The ports view lists all ports.

### Example repository

It happens for a private repo. If additional info is required beyond the ports configuration in `.gitpod.yml` as sh

[2022-09-27 17:42] tomatebeans commented on #12451
Thanks, currently in progress:

It seems taking more than the usual 5mins ( though system resources are almost not used ):
![image](https://user-images.githubusercontent.com/108106367/192598291-0ed5d45a-5dec-4f5c-a354-08fb922fe9c9.png)

will try again in another day

[2022-09-27 18:36] jimmybrancaccio commented on #10881
We can probably close this one out since we're moving to usage based billing. A new issue could be opened in the future if we have a similar feature for adding credits.

[2022-09-27 18:37] #10881 closed

[2022-09-27 19:07] NealKaviratna opened #13379 "Port Explorer missing"
### Bug description

when I start my pods now, I no longer see the port explorer plugin.

### Steps to reproduce

# Start a new gitpod workspace
# Observer left side bar

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-09-27 19:08] NealKaviratna commented on #13379
I see, it's moved to be in a different area now

[2022-09-27 19:08] #13379 closed

[2022-09-27 19:12] chuck-confluent commented on #8257
whoa whoa whoa...a workspace snapshot may have sensitive credentials in files ignored by git. The owner of the workspace should reserve the right to limit access to the URL or revoke the URL at any time, regardless of what repo permissions people have.

[2022-09-27 19:29] chuck-confluent commented on #8257
If someone accidentally creates a snapshot URL instead of sharing a running workspace, is that snapshot url public and available at all times? You can kill a shared running workspace, but can you manage access or kill a snapshot? I'm looking at https://www.gitpod.io/docs/sharing-and-collaboration#how-to-take-a-snapshot-url and it only describes how to create the snapshot url. It does not mention a

[2022-09-27 19:32] #13374 closed

[2022-09-27 19:58] aledbf opened #13381 "Add option to set Jaeger authentication"
## Is your feature request related to a problem? Please describe

Right now there is no option to set JAEGER_USER and JAEGER_PASSWORD

## Describe the behaviour you'd like

Option to set the reference to a secret

## Describe alternatives you've considered

## Additional context

- Related to #13385

[2022-09-27 20:18] andreafalzetti commented on #12884
Is this issue to update both website docs and changelog?

Re: website docs, are we blocked by the docs restructure?

cc @loujaybee

[2022-09-27 21:06] aledbf opened #13382 "Unexpected ratelimit behavior (NewRatelimitingInterceptor)"
### Bug description

I'm trying to understand how the bucket size and refill work. The current rate limit appears to be [60 request per minute](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28grpc_server_rate_limiter_calls_total%7Bgrpc_method%3D%5C%22%2Fwsma

[2022-09-27 21:31] mbrevoort commented on #11968
In summary, as a user, I should be able to:
* access a list of all snapshots URLs that I generated
* delete a snapshot URL, invalidating it

Today it's possible to delete a workspace and still be able to access the snapshot URL. Is this desired? If not, snapshot URLs should be invalidated immediately when a workspace is deleted. If this is desired, as a user, I should be able to see a consolidated

[2022-09-27 22:34] sagor999 commented on #13239
I believe ETCD load is due to what `ControlPort` does internally: it lists pods (etcd operation), and then updates annotations on the pod if open port was changed (etcd operation).

Is it possible that after webapp rollout there is an excessive influx of ControlPort calls that switch ports off and on again? Causing annotations churn on the pods? :thinking:

[2022-09-27 22:39] charlesreid1acom commented on #13375
Answered my own question, the tiny hamburger menu icon in the top left is actually like a Windows Start Menu button, in that it opens a pop-out menu, and one of those menu options is labeled "Terminal," and that submenu has an option to open a new terminal panel.

Interface is not intuitive at all. When I accidentally closed my terminal tab, it completely interrupted what I was doing, and I was un

[2022-09-27 22:39] #13375 closed

[2022-09-28 01:28] aledbf opened #13385 "Add additional JAEGER_TAGS and JAEGER_SERVICE_NAME env vars"
## Is your feature request related to a problem? Please describe

No

## Describe the behaviour you'd like

Add additional labels with information about the component and version of the installer.
An additional dynamic value would be great (like ws-us68)

https://www.jaegertracing.io/docs/1.38/client-features/

## Describe alternatives you've considered

Use kubectl patch to append the variables.

[2022-09-28 04:58] #12979 closed

[2022-09-28 06:36] akosyakov commented on #8816
We could put manifest file with version in first layer of IDE image under the same path and then use blobserve to resolve it in ide-service.

[2022-09-28 06:43] csweichel commented on #11968
Today users can invalidate snapshots [by deleting their workspace](https://github.com/gitpod-io/gitpod/blob/sefftinge/supervisor-processes-13365/components/server/src/workspace/workspace-factory.ts#L64-L72).

[2022-09-28 06:45] lucasvaltl commented on #10588
Our stale bot has closed this - we unfortunately did not get to this in this quarter because of competing priorities. I'm removing this out of the Q3 roadmap and putting it back into the future backlog until we can prioritise this again.

[2022-09-28 06:48] mustard-mh commented on #13377
I tested it https://github.com/mustard-mh/test/tree/hw/port-view with both stable and latest browser code, both worked. Could you try it on your side? Or provide more information like screenshots, [logs](https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop), window log

[2022-09-28 06:54] Pothulapati commented on #11811
With https://github.com/gitpod-io/gitpod/issues/12979#event-7474205110, We made `self-signed` work on EKS single-cluster reference architecture guides! This is done by adding the script that @mrzarquon suggested, as `post_bootstrap_user_data`.

Keeping this issue open as support GKE and AKS still isn't there due to the lack of similar options in those environments.

[2022-09-28 07:00] axonasif commented on #13370
Hey @mittalyashu, please also follow https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-jetbrains-client

[2022-09-28 07:11] axonasif commented on #13279
Upon re-reading your issue, I understood what you meant 🙏
Added it to our webapp team inbox to take a look into implementing it.

Thanks for the feedback @huweiATgithub, it was changed to `Parse .gitpod.yml` now 👍

[2022-09-28 07:12] axonasif commented on #13279
Also, as you mentioned about the Gitpod's multi-repo feature, for the meantime [this](https://www.gitpod.io/docs/multi-repo-workspaces#delegating-configuration) might be interesting for you.

[2022-09-28 07:19] jankeromnes opened #13389 "Adjust cost centers and usage limits depending to spec"
For un-upgraded cost centers (i.e. not Stripe customer), the usage limit should be:
- **500 credits** for individiual users (the free tier)
- **0 credits** for teams

These should also not be customizable (hard usage limit).

Then, for upgraded cost centers (i.e. Stripe customers), the usage limits should default to:
- **1000 credits** for individual users (customizable, but you can only set it to

[2022-09-28 07:20] jankeromnes commented on #13243
I can take a look at this issue while implementing https://github.com/gitpod-io/gitpod/issues/13389 👀

[2022-09-28 07:30] jldec opened #13390 "Usage tab is visible for all teams in the September self-hosted release build"
The usage tab should not be visible yet in self-hosted builds of Gitpod.

#### To reproduce

- Log in to a SH test deployment (see [notion](https://www.notion.so/gitpod/Self-Hosted-Release-2022-09-0-0534b6ba181b476cb1826e358a7149f9#60d436b917f3403da062a88301c31837) internal)
- Create a team
- Usage tab is visible
- Go to user settings
- Usage tab is visible

#### team
<img width="1128" alt="Screen

[2022-09-28 07:43] Pothulapati commented on #13294
Related https://github.com/gitpod-io/gitpod/issues/12515

[2022-09-28 07:49] jldec opened #13392 "Cannot delete teams in self-hosted RC build"
It appears that there is a dependency on Stripe configuration in team deletion

#### To reproduce
- Log in to a SH test deployment (see [notion](https://www.notion.so/gitpod/Self-Hosted-Release-2022-09-0-0534b6ba181b476cb1826e358a7149f9#60d436b917f3403da062a88301c31837) internal)
- Create a team
- Try to delete the team - nothing happens in the UI

Watching ws response in Network tab of browser de

[2022-09-28 07:54] jldec commented on #12969
FYI - edited issue description to include 2 new issues as sub-tasks (fix usage view and team deletion)

[2022-09-28 08:00] Pothulapati commented on #13294
👋🏼

More points from my [experience of load testing the EKS single-cluster guides manually](https://github.com/gitpod-io/gitpod/issues/10869#issuecomment-1235529947):
### Using loadgen
- Feels best to use `loadgen`, as its being improved consistently and something we can rely on.
- The only point of concern is considering this as a complete load/scale testing suite, as it exclusively focuses on wo

[2022-09-28 08:13] jldec opened #13395 "Cannot create new project on self-hosted September RC build"
Self-hosted RC builds have been deployed and cofigured to authenticate against GitHub.
This means that users should be able to create projects with GitHub repositories.
Trying to create a new project results in a spinner, which never stops.

#### To reproduce

- Log in to a SH test deployment (see [notion](https://www.notion.so/gitpod/Self-Hosted-Release-2022-09-0-0534b6ba181b476cb1826e358a7149f9#

[2022-09-28 08:14] mittalyashu commented on #13370
I've sent the logs on support email, but I am generating these logs after 19 hours, I am not sure if this attachment will contain the logs of the current issue. 🤷‍♂️

[2022-09-28 08:20] jankeromnes commented on #13395
Thanks! I was able to reproduce this.

Opening the browser console, I see this error:

[code]

(However, I also see that the "New Workspace" modal is able to fetch repositories -- you can try this yourself by hitting Cmd+O from anywhere in the dashboard.)

[2022-09-28 08:25] jankeromnes commented on #13395
Going into `/integrations`, I see that my GitHub token has zero permissions. Also, trying to grant permissions fails (modal closes again, there is no visible error but also no permissions are added).

| No permissions | Cannot grant any permissions |
| --- | --- |
| <img width="1438" alt="Screenshot 2022-09-28 at 10 23 31" src="https://user-images.githubusercontent.com/599268/192728447-e32fa18d-b6

[2022-09-28 08:49] csweichel commented on #13188
When we originally built the workspace sharing feature we made provisions for this.

To implement team-level sharing (or any other form of "scoped" runtime sharing), we'd extend the current workspace admission spec with a "team" mode. This would cause `ws-manager` to produce a `guest token` (in addition to today's `owner token`) which is valid until the admission is changed to a different mode. Th

[2022-09-28 08:50] csweichel commented on #13188
Both features, IMHO live well in the scope of a "policy skateboard" we should be thinking about.

[2022-09-28 08:59] csweichel opened #13397 "Add additional security to admin panel access"
## Is your feature request related to a problem? Please describe
Today the admin panel lives on the same API endpoint as the remainder of functionality. While guarded by resource and function scopes, we would benefit from additional layers of security.

Key concerns with the current state are that spear phishing/social engineering or impersonation (someone stealing the session somehow) attacks.

N

[2022-09-28 09:25] #13390 closed

[2022-09-28 09:25] mrzarquon commented on #10440
you can get around the UDP limitation using tailscale, but since we don't support tailscale ssh on the workspace, you end using a gitpod ssh gateway session to start the mosh-server but then connect the mosh-client via the tailscale IP / port / session token

[2022-09-28 09:28] csweichel commented on #13397
A reasonably simple skateboard for implementing MFA and the different endpoint would be to move the admin panel behind [Teleport](https://goteleport.com/docs/architecture/proxy/). We'd disable the /admin route and admin RPC calls on the main interface, and require that to be accessed on a different port which would only be available through teleport.

[2022-09-28 09:32] csweichel commented on #13188
A short term fix would be to introduce a query token that needs to be passed in order to access a shared workspace. I.e. knowing the URL is not enough.

[2022-09-28 09:34] securitymirco commented on #13188
Lets react rather quickly on this one and put a short term fix in place until we've got a full solution.

[2022-09-28 09:37] jankeromnes commented on #13395
I believe this might be a problem in how the GitHub integration was configured for this Self-Hosted installation, because it doesn't seem to have an OAuth App. [Context](https://gitpod.slack.com/archives/C02EN94AEPL/p1664356086871249?thread_ts=1664308949.936319&cid=C02EN94AEPL) (internal)

[2022-09-28 09:59] #10496 closed

[2022-09-28 10:02] Pothulapati commented on #12492
From the docs, I can see the following:

Calico is installed by an operator which manages the installation, upgrade, and general lifecycle of a Calico cluster. The operator is installed directly on the cluster as a Deployment, and is configured through one or more custom Kubernetes API resources.

Considering that both manifests & operator are supported (but operator is recommended), I would err o

[2022-09-28 11:02] gtsiolis opened #13405 "Update billing page layout for teams and personal accounts"
### Problem to solve

Taking into account all the required changes to support the switch to UBP (Usage-based pricing), a more flexible layout and UX is needed to support functionality like credit balance (https://github.com/gitpod-io/gitpod/issues/13155) and allowing individuals to upgrade to UBP (https://github.com/gitpod-io/gitpod/issues/13301).

### Proposal

Update billing page layout for team

[2022-09-28 11:22] gtsiolis commented on #12359
Closing this as the credits column truncation has been fixed and the type column issue is no longer relevant as all available types fit ok in the existing layout.

[2022-09-28 11:22] #12359 closed

[2022-09-28 11:28] gtsiolis commented on #11953
Closing this as all points mentioned above have been resolved except the one regarding the sidebar elements which is being tracked in https://github.com/gitpod-io/gitpod/issues/11685.

Future improvements on the sidebar elements include https://github.com/gitpod-io/gitpod/issues/13288, https://github.com/gitpod-io/gitpod/issues/13290, etc.

[2022-09-28 11:28] #11953 closed

[2022-09-28 11:31] #13392 closed

[2022-09-28 11:50] gtsiolis commented on #13229
@jldec Just run into this issue.

1. The Open Source plan name can be changed through Chargebee, not sure if any other checks need to take place before making this change.
2. Removing Teams on the Professional plan in the dashboard sounds good! What about the Team Plans in the website side, shall we drop this, too?

[2022-09-28 12:00] mteam88 opened #13408 "Gibberish after builds in gitpod terminal"
### Bug description

After starting a gitpod workspace (usually not for the first time) I sometimes (usually) see something like the following:
[code]
Just above the prompt in the terminal.
![image](https://user-images.githubusercontent.com/84196639/192768795-eae76b2f-91a7-4985-90f9-09b273e299f6.png)

### Steps to reproduce

Not sure if it is happening for other users... I just opened a workspace

[2022-09-28 12:18] mteam88 commented on #9423
Still waiting for this! I would be happy to help someone with this.

[2022-09-28 12:48] jankeromnes commented on #13243
I can no longer reproduce this issue. Maybe it was fixed meanwhile?

Let's close this for now, and re-open if it comes back.

[2022-09-28 12:48] #13243 closed

[2022-09-28 13:10] mustard-mh opened #13410 "VS Code Browser Release 1.72"
### Bug description

Endgame: https://github.com/microsoft/vscode/issues/161755

Expected release date: 10/05

DRI: @jeanp413 @filiptronicek
Plan:

- [x]  Create corresponding release branches for `main` and `gp-code/main`
    - [x] Create release branch `release/1.72`
    	- Execute the rebase from upstream: `./scripts/sync-with-upstream.sh upstream/release/1.72 release/1.72`
    - [x] Create rel

[2022-09-28 13:28] shaal commented on #8252
Please add `meta: never-stale` to this issue

[2022-09-28 13:41] mikenikles commented on #13377
Thanks for testing, Huiwen. For your test repo, I do see the ports listed. I use stable VS Code in the browser.

<details>
  <summary>Screenshot</summary>
  <img width="934" alt="image" src="https://user-images.githubusercontent.com/788827/192791665-c6ee4b48-b5a7-45e2-b42d-c7088054858c.png">
</details>

I sent the requested logs to the support email address.

[2022-09-28 13:55] loujaybee commented on #6740
Renamed the title of this issue, it was created a long time ago when our understanding of JetBrains Gateway was just forming. We can see now the opportunity to focus on Maven for the time being to get the Prebuilds and opening IDE experience working really well. I'll scope this issue down now to just Maven. However, we'll come back and open a companion issue for Gradle also in time. Learnings from

[2022-09-28 15:21] nandajavarma opened #13416 "[terraform] make variable names consistent across different modules"
_Originally posted by @nandajavarma in https://github.com/gitpod-io/gitpod/issues/13412#issuecomment-1261074023_

[2022-09-28 17:16] florisvdg opened #13418 "Support SSH and agent forwarding in the VS Code extension"
## Is your feature request related to a problem? Please describe

SSH agent forwarding [works great now](https://github.com/gitpod-io/gitpod/issues/6993) with Gitpod. This lets me use SSH within my remote Gitpod workspace, including Git commit signing (🎉), without the private key ever leaving my local device (🎉). This works great, but I can only get it to work if I use the `Connect via SSH` option

[2022-09-28 17:28] loujaybee commented on #12004
Renaming from "Self-Host" Open VSX (which was more solution-focused) whereas the problem here is to have private, and manageable VS Code extensions, whether that's via Self-Hosted OpenVSX as a component or otherwise.

[2022-09-28 19:18] mteam88 commented on #13408
Love all the 👍, but anyone have the same issue?

[2022-09-28 19:23] mteam88 commented on #9019
Any updates on this? Specifically: any workaround in place or theoretically possible.

[2022-09-28 19:50] davidwallacejackson commented on #7721
Just here to be another squeaky wheel -- I'm doing devex for my team, and we have a good mix of VS Code and JetBrains developers. It would be really sweet to have a first-class way to share a containerized development environment between both, and it seems like there's potential in the developing devcontainer spec to encode what both tools would need.

The hard thing about using e.g. a shared Dock

[2022-09-28 20:28] #10942 closed

[2022-09-28 23:15] jenting commented on #10612
[v1.8.0-rc1 release](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/releases/tag/v1.8.0-rc1)
We could tried it at ephemeral cluster _or_ workspace preview now 🚀

[2022-09-29 01:14] huweiATgithub commented on #13279
Thank you! It could be better if the image-building process can be customized/hooked by providing more options under `image` section.

[2022-09-29 01:53] jenting commented on #10612
@sagor999 I have a question, if we would want to add custom labels to `VolumeSnapshot`, should we use the [v1.8.0 release](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/releases/tag/v1.8.0-rc1) release?
Because I like like to delete the VolumeSnapshot by labeling so we could remove the snapshots generated by the ephemeral cluster.

[2022-09-29 02:25] sagor999 commented on #10612
Yeah, that is the only way or build our own version of it that has that commit.
It will also require creating separate snapshot classes, similar to how I did with storageClasses (as label is specified there).

[2022-09-29 02:34] jenting commented on #10612
If I understand correctly, creating separate volume snapshot classes with different labels.
The volume snapshot and volume snapshot content will inherit the labels from volume snapshot classes, correct?

[2022-09-29 03:02] sagor999 commented on #10612
yup!

[2022-09-29 03:11] mickmister commented on #12216
@geropl Many of my larger tasks/branches/PRs are longstanding. I've been using each workspace to capture ongoing progress on separate tasks. Some tasks have specific setups for the task, so it's beneficial to have it as a saved workspace while I'm still working on them

[2022-09-29 03:18] jenting commented on #12327
This issue is blocked by issue #10612 because we need the snapshots to have the labels.
After that, we could remove the ephemeral cluster generated snapshot by label filter.

[2022-09-29 05:36] geropl commented on #13060
Done with the steps above :heavy_check_mark:

[2022-09-29 05:43] geropl commented on #12675
Enabled proration in prod:

![image](https://user-images.githubusercontent.com/32448529/192948670-4632bce0-f369-4b94-9b30-31c95011dd71.png)

[2022-09-29 05:43] #12675 closed

[2022-09-29 05:46] jenting commented on #12560
The startWorkspace request, field `workspaceLocation` is a required field.
ref to https://github.com/gitpod-io/gitpod/blob/27dfab97902614858cf95bdd6ef082d0321e0b19/components/ws-manager/pkg/manager/manager.go#L587

[2022-09-29 05:47] loujaybee opened #13430 "Feedback Issue: Docs Navigation Restructure"
Hey ! You might notice the Gitpod documentation looking different today!

That's because we've overhauled how we showcase Gitpod in our documentation (see below).

Some notable changes (though, there are much more!):

1. Separate sections to learn Gitpod, e.g. "introduction" as a new user vs "configure" as an existing user Gitpod
3. Entities like workspaces, teams and projects all have a top-level