[2022-09-29 06:06] jenting commented on #12638
I have finished all the DoD, closing this issue.

[2022-09-29 06:06] #12638 closed

[2022-09-29 08:23] easyCZ commented on #13177
Linking further context from [internal discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1664261553210779)

[2022-09-29 08:23] jenting commented on #12560
Without `checkoutLocation` with PVC, the error message shown
[code]

[2022-09-29 08:48] benvp commented on #12791
I have the same issue as I need an extension which includes a language server which needs to be compiled with the same version running the project (ElixirLS).

My workaround for now is to build the extension in the Dockerfile and then install it using a `folderOpen` vscode task. This works both in the browser and in VSCode locally.

Would love to see this fixed and also support local paths to exte

[2022-09-29 09:00] imileusnic opened #13440 "Creating new git integration reports "Provider for this host already exists" no matter that provider is not visible on page"
### Bug description

Working integration to self-hosted GitLab was disconnected and visible on the list of integrations. But day later it was not anymore visible (I did not do anything that I am aware of). When I tried to create new integration to the same self-hosted GitLab I receive error "Provider for this host already exists".

### Steps to reproduce

1. Git integration to self-hosted GitLab w

[2022-09-29 09:00] mrsimonemms opened #13441 "Add AWS and Azure CLIs to Gitpod workspace"
Now the expectation for testing of Self-Hosted releases has shifted from the sole responsibility of the Self-Hosted test to every team, the AWS and Azure CLIs should be installed to the base Gitpod Docker image.

These are used to get Kubeconfig files for the test clusters

[2022-09-29 09:22] #13313 closed

[2022-09-29 09:32] mustard-mh opened #13443 "Better alias for gp-cli ports visibility"
See more detail discuss here https://github.com/gitpod-io/gitpod/pull/13253#discussion_r981521113

**Proposal / Thoughts**

- Allow `gp ports update 3000 --visibility=public` to change more attribute
- `gp ports publish 3000` or `gp ports hide 3000` to change visibility
- `gp ports set-visibility` with `3000:public` or `3000 public` or make them all in flags

[2022-09-29 09:42] #10835 closed

[2022-09-29 09:53] #11449 closed

[2022-09-29 10:46] lucasvaltl opened #13446 "[Self-Hosted][KOTS] Registry connection preflight check sending false positive"
### Bug description

Registry connection preflight check sending false positive when using Artifactory. Note that in theory, artifactory is [not officially supported](https://www.gitpod.io/docs/references/compatibility?admin).

This also might be the case when using Gitlab

### Steps to reproduce

Spin up artifactory, use it in the Gitpod installation, run preflight checks. See if test comes back

[2022-09-29 10:49] MrSimonEmms commented on #13446
I believe this is also the case when using GitLab

[2022-09-29 10:50] andreafalzetti commented on #12884
Removing myself from assignees due to lack of time

[2022-09-29 11:01] lucasvaltl opened #13448 "[Self-Hosted] Support (private) ECR natively"
## Is your feature request related to a problem? Please describe
ECR is the standard registry in the AWS eco-system. Currently, it is not supported by Gitpod Self-Hosted. Specifically for private ECR registries, you need to authenticate with them and they have short lived tokens. This currently does not work with how Gitpof expects auth against registries to work (with long lived tokens).

## Desc

[2022-09-29 11:02] lucasvaltl commented on #13448
Jumped the gun on this - duplicate of https://github.com/gitpod-io/gitpod/issues/12104

[2022-09-29 11:02] #13448 closed

[2022-09-29 11:08] lucasvaltl commented on #12104
Note that we should not just support ECR, but also private ECR registries. I will update the description.

context from @mrzarquon about what would be needed here (copied from private slack message) - will also add this to the description:

but to support ECR requires us to :
support accepting the name of an existing docker kube secrets in our install, instead of username/password (this is because

[2022-09-29 11:34] mrzarquon opened #13452 "[kots] Allow for users to provide references to external secrets or service accounts"
## Is your feature request related to a problem? Please describe
Currently the KOTS install insists that secrets that access external services be entered into the configuration. This causes problems because KOTS then stores those secrets as static values in the config files.

For any service or solution where the secrets are rotated outside of KOTS, when a user goes to perform a redeploy, their se

[2022-09-29 11:36] mrzarquon commented on #12104
I created this issue around accepting references to secrets instead of insisting we store the secrets in kots configs - https://github.com/gitpod-io/gitpod/issues/13452

[2022-09-29 13:14] jenting commented on #10612
I built it `jenting/gcp-compute-persistent-disk-csi-driver:v1.8.0-rc1_linux_amd64`, and I will try it tomorrow.

[2022-09-29 13:16] #11397 closed

[2022-09-29 13:30] jldec opened #13458 "Admin user list page is slow to open on gitpod.io, creating friction for admins"
Since #13161 the user list page is auto-populated (no search required) but this takes 20 or more seconds on gitpod.io, making it hard to open the admin console without waiting.

cc: @svenefftinge as author of #13161

[2022-09-29 13:44] gtsiolis commented on #13458
@jldec is this a duplicate of https://github.com/gitpod-io/gitpod/issues/13334?

[2022-09-29 13:45] jldec commented on #13458
I also noticed that starting a search while the intial open-page query is still in progress will cause the search input to be lost and the search results to be replaced by the default (empty) results of the intial page load.

[2022-09-29 13:45] svenefftinge opened #13460 "Make usage attribution more intuitive by respecting projects and team membership"
Currently, we tell users that they should use a global switch in order to tell Gitpod where their workspaces and prebuild usage gets attributed to. This is not intuitive and leads to surprises where I don't find usage for a certain project under that team.

# Proposal
Instead of treating the global Billing Account setting as the primary choice, let's only fall back to it as the catch-all default i

[2022-09-29 13:47] jldec commented on #13458
sigh - thought I did a search before creating this one...
duplicate - closing

[2022-09-29 13:47] #13458 closed

[2022-09-29 13:47] jldec commented on #13334
I also noticed that starting a search while the intial open-page query is still in progress will cause the search input to be lost and the search results to be replaced by the default (empty) results of the intial page load.

[2022-09-29 13:48] jldec commented on #13334
scheduled as this makes our admin dashboard painful to use.

[2022-09-29 14:27] mrzarquon commented on #13359
Flattening the namespace *and* tags also comes with some consequences - we use three versions of minio at the moment, one for [shimming](https://github.com/gitpod-io/gitpod/issues/13135) to AKS, one for in cluster storage, and one brought in by kots.

We end up with two mysql containers because we don't use the exact same tags across the internal mysql container for accessing mysql, and the mysql

[2022-09-29 14:32] loujaybee commented on #10645
Removing WebApp from here, as seems more IDE and Self-Hosted 🙏

[2022-09-29 17:18] jwpjrdev commented on #7721
quite honestly i do think it would be smart to deprecate the `.gitpod.yml` file and just adopt `devcontainer.json` only. it would result in clearly organised projects that work across architectures and would definitely improve the devx of maintaining infra between environments. it's a bit of a radical change and would have to be rolled out over a long period of time (and would require still suppor

[2022-09-29 17:21] adrienthebo commented on #13095
This issue was resolved in 2022.09.0 as part of the Golang rewrite of the installer.

[2022-09-29 17:21] #13095 closed

[2022-09-29 17:47] chuck-confluent commented on #13408
Yes, it's happening to me too. I could assume the thumbs up are folks who, like me, have come to the issues and searched for "jq error"

[2022-09-29 18:11] karpa opened #13468 "Run task on Shutdown"
## Is your feature request related to a problem? Please describe
Large (in terms of file count and GB) workspaces are slow to open.

## Describe the behaviour you'd like
We would like to have the ability to delete files and data on shutdown, in order to have faster workspaces on open.
i.e add a 'shutdown' task like the 'command' task https://www.gitpod.io/docs/references/gitpod-yml#tasksncommand

[2022-09-29 18:31] sagor999 commented on #13256
I think this is the same issue as https://github.com/gitpod-io/gitpod/issues/12345
It is waiting on prebuild\content initializer to do its thing.

[2022-09-29 19:23] sagor999 commented on #12345
A bit more info on this: https://gitpod.slack.com/archives/C02F19UUW6S/p1664476833923239
tl;dr
it uses direct http download code path, instead of gsutil, which might explain why sometimes it stalls out or takes a lot of time.

[2022-09-29 20:00] loujaybee commented on #10128
Unfortunately this was not completed this quarter, will put on the roadmap backlog for future consideration.

[2022-09-29 21:34] sagor999 commented on #10612
@jenting probably no need to build you own version of it anymore: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/releases/tag/v1.8.0

[2022-09-30 01:01] david-bakin commented on #13408
I get this for a _new_ workspace on a repo that has no `.gitpod.yml`.  (Just one repetition of `cp:`, `rm:`, `jq:` though.)

There _is_ a dotfile repo though - but it is at a commit that really has nothing in it at all - https://gitlab.com/bakins-bits/dotfiles-gp/-/tree/c54704461cde7e157c81c0d5c2cb466e04ca684b

[2022-09-30 01:02] jenting commented on #10612
The container image does not released 😢
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/1056

[2022-09-30 02:14] jenting commented on #10612
I build our own `jenting/gcp-compute-persistent-disk-csi-driver:v1.8.0`

[2022-09-30 02:57] szab100 opened #13474 "Scope wildcards in user environment variables not working"
### Bug description

It seems that using wildcards (*) in the scopes of user env variables are not working, env vars are only visible in workspaces if the scope is either */* or fully qualified (entirely matching the workspace context's owner/repository).

### Steps to reproduce

(Self-Hosted: 2022.08.0)
1. Create an environment variable using * in the repository name, eg "myproject*", which shoul

[2022-09-30 07:31] andrew-farries commented on #13395
I can confirm that I am able to create a new project on the newly configured AKS SH test installation.

Closing this as a configuration error with the previous test environment.

[2022-09-30 07:31] #13395 closed

[2022-09-30 08:16] MrSimonEmms commented on #9873
@jldec seemingly not. This is from the September release candidate of Self-Hosted
![image](https://user-images.githubusercontent.com/275848/193224670-6872e2c9-f917-4d3f-a61e-aa6455e8ce19.png)

[2022-09-30 08:16] lucasvaltl commented on #12639
@meysholdt can we mark this as complete?

[2022-09-30 08:20] #12639 closed

[2022-09-30 08:22] lucasvaltl commented on #13385
@aledbf could you provide a bit more info on this - where do you want this option to live? Is this about the installer?

[2022-09-30 08:31] lucasvaltl commented on #13453
Closing issue as the EKS guide is deprecated in favour of the reference architectures. Please see [EKS guide readme ](https://github.com/gitpod-io/gitpod-eks-guide)for more information.

[2022-09-30 08:31] #13453 closed

[2022-09-30 09:11] incident-io[bot] opened #13479 "git ls-remote --exit-code origin main failed (exit status 2)"
This resulted in rolling back gen69.

---

The `additionalRepositories` with two repos
- One repo with main branch
- One repo with master branch

Create workspace, and the workspace can't be up because the error message
[code]

https://gitpod.slack.com/archives/C0201TXMV54/p1664527019087929?thread_ts=1664526482.396849&cid=C0201TXMV54

----

_This action was created from [Incident 230](https://app.

[2022-09-30 09:12] loujaybee opened #13480 "Improve the latest IDE image experience for Self-Hosted customers"
**Context**
* We have a "latest" feature in Gitpod SaaS for IDE images, however for Self-Hosted customers have to wait until the next release of Gitpod Self-Hosted to benefit from the latest IDE images
* This release process also complicates matters as we have to ensure things like Gitpod extensions release cycles are backwards compatible with Self-Hosted versions.

**Overview**
This issue is to t

[2022-09-30 09:13] jenting commented on #13479
cc @aledbf

[2022-09-30 09:36] mrzarquon commented on #13480
@loujaybee `latest` works for self hosted (since they can pull from our registries live), however in the case of an airgapped install, the `latest` image is a snapshot from when the airgap bundle was created. For airgapped the customer would have to manually update the mirrored / internal tag of latest for those users.

Publishing `latest` builds with also a date tag would allow for airgapped cust

[2022-09-30 09:53] mrzarquon opened #13482 "[Self-Hosted][Docs] Update reference architectures to include AWS specific ELB timeouts"
## Is your feature request related to a problem? Please describe
The default Classic load balancer behavior has a very short timeout that terminates the SSH session if left idle.

## Describe the behaviour you'd like
Add instructions on how to use the customization of services with annotations to include:
`service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "1800"`

To the proxy

[2022-09-30 10:55] jldec opened #13485 "Missing dashboard feedback for some workspace start errors"
This error was shown on workspace start but there was no dashboard feedback widget for users.
Related to #10402

<img width="801" alt="Screenshot 2022-09-30 at 12 48 15" src="https://user-images.githubusercontent.com/849592/193255240-9ad6ed8b-aca1-4476-868f-9d31b3321bb8.png">

[2022-09-30 10:58] jldec commented on #13485
Note the feedback should include both the generic error (in red) and the additional text (in grey below it)

[2022-09-30 11:00] AlexTugarev opened #13486 "[BitbucketServer] Prebuilds are broken on branch context"
### Bug description

We see a blocker for prebuilds on branches of BBS repositories.

Given a context URL like `https://bbs.server.com/projects/proj1/repos/repo1/browse?at=refs%2Fheads%2Ffoo`, the context parser computes `refs/heads/foo` as value for `ref`, which is fully qualified and might be necessary for API calls, but it's apparently wrong for git operations.

Git initializer fails with:
[cod

[2022-09-30 11:12] #13166 closed

[2022-09-30 11:36] easyCZ commented on #11315
Final piece - removal of instances from the DB is here https://github.com/gitpod-io/gitpod/pull/13477

[2022-09-30 11:40] jldec commented on #9873
Scheduled

[2022-09-30 12:05] axonasif opened #13489 ".gitpod.yml tasks won't be created for a tag branch context"
### Bug description

When you open a repo's tag(branch), the "tasks" in ".gitpod.yml" won't be created/started.
The variable `$GITPOD_TASKS` doesn't exist either.

### Steps to reproduce

- Open https://gitpod.io/#https://github.com/logto-io/logto/tree/v1.0.0-beta.10
- Notice that no task terminals were created.
- Also notice that the env variable `$GITPOD_TASKS` doesn't exist either. (`env | grep

[2022-09-30 12:21] aledbf commented on #13479
The change [in this line](https://github.com/gitpod-io/gitpod/blob/57fdeaa31726f34e2a3d1c25e97088fa330c7ebf/components/content-service/pkg/initializer/git.go#L178) --exit-code  ensures exactly that, the remote branch is valid.

In that place, I see two courses of action:
- this is expected
- or we need to remove the ls-remote command (without the exit-code flag) only checks the repository is reach

[2022-09-30 12:33] atduarte opened #13490 "[Get rid of OTS] Load testing"
Part of validation of https://github.com/gitpod-io/gitpod/issues/10134.

[2022-09-30 12:36] lucasvaltl opened #13491 "Last backup failed: final backup failed Error on Self-Hosted 2022.09rc4 when manually stopping workspace"
### Bug description

<img width="1678" alt="Screenshot 2022-09-30 at 14 18 34" src="https://user-images.githubusercontent.com/22516873/193271011-2d5c8af3-e7b2-48a6-aa80-30dfe472e726.png">
When manually stopping a workspace, I recieved an error that the "last backup failed: final backup failed." This happened after I had the workspace running for some time (about one hour), and then extended the ti

[2022-09-30 12:42] atduarte commented on #13491
@lucasvaltl I know it will take a while, but could you check whether it's reproducible? Also, the logs you mentioned in Slack would help for sure 🙏

[2022-09-30 12:54] csweichel commented on #13468
Thank you for opening this issue.
It does look like a duplicate of https://github.com/gitpod-io/gitpod/issues/3966.

Please feel free to reopen if you disagree.

[2022-09-30 12:54] #13468 closed

[2022-09-30 12:58] lucasvaltl commented on #13491
Working on getting the logs. Fwiw, the workspace id in question was: `gitpodio-website-qots97tlz3s`

[2022-09-30 13:00] MrSimonEmms commented on #13491
The support bundle (with all the logs etc) is uploaded to our [Vendor portal](https://vendor.replicated.com/troubleshoot/analyze/2022-09-30@12:59)

The config.yaml is:

[code]

[2022-09-30 13:01] MrSimonEmms commented on #13491
The support bundle (with all the logs etc) is uploaded to our [Vendor portal](https://vendor.replicated.com/troubleshoot/analyze/2022-09-30@12:59)

The config.yaml is:

[code]

[2022-09-30 13:05] lucasvaltl commented on #13491
I can confirm that this error is reproducible, at least in the environment at hand. I've tried to shut down three workspaces and all of them ended in the error state mentioned in this issue.

[2022-09-30 13:27] axonasif commented on #13408
Sorry for the inconvenenice folks, it should get fixed after https://github.com/gitpod-io/workspace-images/pull/928 is merged.

[2022-09-30 13:27] jldec commented on #12021
Got this errer after a workspace timed out running on self-hosted preview env on Azure with a build from today.
![](https://user-images.githubusercontent.com/849592/193279643-acd5461f-b879-48fa-a8f8-13e5f0c6a739.png)

[2022-09-30 13:31] lucasvaltl commented on #13491
other environments (Azure and AWS) are unaffected

[2022-09-30 13:42] MrSimonEmms commented on #12011
I've updated a potential point of misconfiguration from "Gitpod's public facing certificate (certificate/https-certificates)" to "secret/https-certificates".

The Installer doesn't actually care about the `certificate/https-certificates` resource, just the secret that cert-manager generates. This is why we don't need cert-manager for this, because we only ever interact with the secret - it matters

[2022-09-30 14:36] easyCZ commented on #13239
For now we've not seen a recurrence. Closing for now and we can re-open if this makes a come-back.

[2022-09-30 15:06] lucasvaltl commented on #13491
I can confirm that this issue does NOT happen on a GCP environment I spun up myself using terraform. From that, we can conclude that this is specific to the GCP environment I was using and likely an issue with the environment rather than Gitpod.

[2022-09-30 15:09] atduarte commented on #13491
Thank you @lucasvaltl!

[2022-09-30 15:09] #13491 closed

[2022-09-30 15:12] atduarte opened #13494 "Validate or document breaking changes on Self-Hosted September Release"
As part of the September's release, we (workspace team) need to validate that no breaking changes were introduces or document otherwise.

[2022-09-30 15:15] mteam88 commented on #13408
@axonasif Can you explain what the issue is?

[2022-09-30 15:16] lucasvaltl commented on #12021
FYI that I tried to reproduce what @jldec experienced above on my (newly created, via terraform) GCP environment. I set the global timeoutDefault  to 5m and had 2 different workspaces time out successfully after the 5 minutes. That of course does not mean that this never happens, but at least that this is flaky 🤔

[2022-09-30 16:00] #13490 closed

[2022-09-30 16:04] atduarte commented on #13490
@Furisto
<img src="https://media.giphy.com/media/elCqBPvwgchbiC3AFs/giphy.gif"/>

[2022-09-30 16:18] shayani opened #13496 "Cannot wait for workspace to initialize: workspace is not initializing or ready"
### Bug description

When trying to start a container, often it fails with error: "cannot wait for workspace to initialize: workspace is not initializing or ready".

Example container: [eventaservo-eventaservo-xrkag8heoko](https://gitpod.io/start/#eventaservo-eventaservo-xrkag8heoko)

`.gitpod.yaml` file: https://github.com/eventaservo/eventaservo/blob/main/.gitpod.yml

### Steps to reproduce

Cli

[2022-09-30 16:28] andreafalzetti opened #13497 "Update onboarding IDE selector"
Nice catch, @andreafalzetti! Agree, let's go with a boring (simple) MVC fix like the two rows of four for now. 🤝

[code]

| BEFORE | AFTER |
|-|-|
| <img width="1440" alt="Screenshot 2022-09-30 at 5 05 18 PM (2)" src="https://user-images.githubusercontent.com/120486/193287749-082c6528-7c4a-4028-b5f1-5d30f8a73e70.png"> | <img width="1440" alt="Screenshot 2022-09-30 at 5 05 31 PM (2)" src="https://u

[2022-09-30 16:46] axonasif commented on #13474
Related https://github.com/gitpod-io/gitpod/issues/12877

[2022-09-30 16:55] axonasif commented on #13474
Hi @szab100, do you mean the variables from https://gitpod.io/variables ? Also, could you share the extension that you tested with? AFAIK, it should work.

[2022-09-30 17:01] adrienthebo commented on #12969
This item has been marked as completed in the 2022.09.0 release document ([internal notion](https://www.notion.so/gitpod/Self-Hosted-Release-2022-09-0-0534b6ba181b476cb1826e358a7149f9#2d065ca75cab4e14b61cfa4f7d129c62)), I believe this issue is done.

[2022-09-30 17:10] axonasif commented on #13408
@mteam88 the python chunk in our workspace images tries to add configuration to the Machine settings of VSCode, which fails sometimes to due the missing parent directory and the lack of error handling. The mentioned PR above aims to address that.

[2022-09-30 17:15] axonasif commented on #9019
@mteam88 if you wish to persist bash history only, then it's fairly simple. Just create a new env var called `HISTFILE` at https://gitpod.io/variables with the value of `/workspace/.bash_history` and set the scope to `*/*`.

[2022-09-30 17:26] mittalyashu opened #13498 "Alert/notification for workspace timeout"
## Is your feature request related to a problem? Please describe

While working in a workspace and if you get distracted with some other work or something, after a certain period of time the workspace timeouts automatically without a notification or alert.

## Describe the behaviour you'd like

It would be nice to have a notification telling the workspace is timing out soon.

## Additional context

[2022-09-30 19:58] #11318 closed

[2022-09-30 20:50] david-bakin opened #13500 "`coreDump` property of `.gitpod.yml` marked deprecated in schema"
### Bug description

`coreDump` property of `.gitpod.yml` is marked deprecated in schema because it is "experimental" - but it has shipped and shows up in the release notes and in the docs without "experimental" remark.

(Deprecation in schema means it shows up with red squiggles in VSCode (with YAML (Red Hat) extension, I guess).)

<img width="535" alt="image" src="https://user-images.githubuserc

[2022-09-30 20:52] #9767 closed

[2022-09-30 20:52] #9801 closed

[2022-09-30 20:52] #9909 closed

[2022-09-30 20:52] #9978 closed

[2022-09-30 20:52] #9986 closed

[2022-09-30 20:53] #10010 closed

[2022-09-30 21:26] aledbf commented on #13385
@lucasvaltl sorry, yes, someplace in the installer where we can set this and propagate it to all the components.

[2022-09-30 23:02] sagor999 commented on #13320
@atduarte it is `torsocks` indeed. And it is a package that is part of `openwrt`. It attempts to build\download it, and agent smith detects it and blocks account. :thinking:

But we also blocking `openwrt` as a binary as well.

[2022-09-30 23:03] tnir commented on #10935
This should not be closed yet.

[2022-10-01 02:22] #13479 closed

[2022-10-01 06:19] axonasif commented on #12893
@david-bakin I would suggest to share your ideas from here to https://github.com/gitpod-io/gitpod/issues/9025, as both seems to be the same issue 😄

[2022-10-01 06:23] axonasif commented on #13498
Possibly related: https://github.com/gitpod-io/gitpod/issues/7685

[2022-10-01 06:32] axonasif commented on #10917
Hey @RostyslavDzhohola, do you need the fig integration for when you ssh into Gitpod from your terminal?

[2022-10-01 06:35] #7832 closed

[2022-10-01 07:08] mittalyashu opened #13504 "De-attach/share/transfer database b/w workspaces"
## Is your feature request related to a problem? Please describe

To run a workspace, we do have a database seed script, but sometimes that's is not enough.

After accumulating a bunch of data in a single workspace, it's really difficult to re-generate all that data again (manually).

**NOTE:** The data I am talking about here is not the seed data

In those cases, is there any way to transfer/shar

[2022-10-01 11:29] stauder opened #13506 "cannot resolve workspace image: failed to do request: Head "https://registry.gitpod.elunisis.com/v2/workspace-images/manifests/83a9d3182651700079941607ed08dd881ae242394d76ed2221520cbda3b79230": remote error: tls: handshake failure"
### Bug description

With a fresh self-hosted installation based on Ubuntu 20.04.5 LTS (GNU/Linux 5.15.0-48-generic x86_64)
I get this error, whatever repository I open:

![CleanShot 2022-10-01 at 12 09 11@2x](https://user-images.githubusercontent.com/10399966/193404301-c6898d7b-e010-45b6-a183-54225037947f.png)

cannot resolve workspace image: failed to do request: Head "https://registry.gitpod.DO

[2022-10-01 12:40] mittalyashu commented on #13430
If this config schema for `mainConfiguration` is correct in [this repo](https://github.com/gitpod-io/demo-multi-repo-backend/blob/main/.gitpod.yml).

As `mainConfiguration` seems to be at the root.

Then the docs might needs to be updated:

| | |
| --- | --- |
| ![CleanShot 2022-10-01 at 18 08 01@2x](https://user-images.githubusercontent.com/29014463/193410063-1ea5ad5f-6c93-4c51-bcf3-f915b865e0ce.

[2022-10-01 14:29] Hardik500 commented on #12537
Hey, @gtsiolis @svenefftinge I would like to work on this issue

[2022-10-01 15:01] benvp commented on #10917
That would be my usecase. Tried with installing the ssh integration but this didn't work for me.

[2022-10-01 15:43] svenefftinge commented on #12537
Awesome! Thank you @Hardik500.

[2022-10-01 16:53] Siddhant-K-code commented on #13497
I can take that up 🙋‍♂️

[2022-10-01 17:01] Siddhant-K-code commented on #10128
What are the expected changes in IDE to make^ this possible?

[2022-10-01 17:46] Siddhant-K-code commented on #7488
Maybe Following will fix this

https://github.com/gitpod-io/gitpod/blob/9f8bf5f4a1662ad9f0eb169e1724b2ed7dddb2b5/components/server/ee/src/prebuilds/github-app.ts#L573

[code]

[2022-10-01 19:03] karpa commented on #3966
I read that some users had success by using SIGTERM. Can you post a link or some instructions on how you do it?

[2022-10-01 20:43] mkoeppe opened #13508 ".gitpod.yml: Multi-line tasks lack error handling"
### Bug description

The description of multi-line tasks in https://www.gitpod.io/docs/configure/workspaces/tasks#multi-line-tasks is incomplete and lacks a discussion of error handling.

In https://trac.sagemath.org/ticket/34623 we observed that error in one command are ignored and Gitpod just continues to execute the following commands.

The examples shown in this documentation in this section a

[2022-10-01 21:00] MrSimonEmms commented on #13506
Hi @stauder, are you using a publicly signed cert or a self-signed one?

Can you provide a KOTS support bundle, please (go to the "troubleshoot" section in the KOTS dashboard? Please encrypt it using GPG with my [public key](https://gist.github.com/MrSimonEmms/b742ced9016488e84424e5609bbb0e68).

[2022-10-01 21:31] MrSimonEmms commented on #13397
@csweichel as is now my catchphrase, "how would that affect self-hosted?"

Teleport is fine for gitpod.io, but all Gitpod instances have an /admin endpoint. I'm not against there being a different solution for non-SaaS, but it is a consideration.

[2022-10-02 01:09] axonasif commented on #3966
Hey @karpa, until #11287 is deployed, you can use this snippet on your `.gitpod.yml`:

[code]

[2022-10-02 02:41] jeanp413 commented on #13418
@florisvdg Gitpod extension delegates ssh connection to the MS remote - ssh extension so agent forwarding should just work if you configure it in your `~/.ssh/config` file
Try something like this
[code]

[2022-10-02 04:59] david-bakin opened #13512 "Prebuild on a branch failed when fetching additional repository that didn't have that branch"
### Bug description

Pushed commits to a new branch `lldb-attempts` in GitLab repo, prebuild was triggered, it seemed to completely build the custom `.gitpod.Dockerfile` but then failed with

[code]

Log cut/pasted from prebuild window: https://gist.github.com/david-bakin/51c7240de342148f228133e57983c1bd

Oh wait a sec!  When I _reopened_ the prebuild window I see a _different_ SYSTEM ERROR:

[cod

[2022-10-02 05:30] david-bakin opened #13513 "lldb doesn't work with vscode (desktop) + microsoft c++ extension + clang 15"
### Bug description

Apparently you need to be a god to get `lldb` to work in general and with vscode in particular.  It certainly doesn't work out of the box, and there are multiple alternatives, non supported.  You also have to apparently ensure you're in a docker container with sufficient capabilities (apparently systemtap is needed for lldb).

So - since I am _not_ knowledgeable in any way abo

[2022-10-02 16:35] tomatebeans commented on #12451
Seems for me, the new image is not able to start the webserver:

![image](https://user-images.githubusercontent.com/108106367/193465375-3aa62719-2ba7-441f-af8d-bbb6edf0548f.png)

[2022-10-02 16:51] kylos101 commented on #13345
@utam0k can you open a separate issue to `fix blobserve tests` and include the related logs? Also, when creating that new issue, please add to the IDE Team inbox/project. Why? `blobserve` is an IDE component now.

This way, we can remove `blobserve` from #13345, and it can just focus on test user not existing.

[2022-10-02 16:56] kylos101 commented on #13345
@utam0k did you try running the tests against an ephemeral cluster using your own username, `utam0k`? I ask because your account exists, I recall @sagor999 doing in the past with his own ID.

[2022-10-02 16:57] kylos101 commented on #13353
:wave:  @jenting do we have a workaround for the meantime?

[2022-10-02 17:32] #13408 closed

[2022-10-02 19:00] david-bakin opened #13514 "Stale bot should tag issues it closes with a unique tag!"
Currently issues closed by the stale bot just get closed (and it isn't even the stale bot which is shown as the closer!)  The stale bot should tag issues that it closes with a unique tag so they can be searched for (and triaged!) (or have the never stale tag applied if appropriate!)

Unless the query `is:closed label:"meta: stale"` is supposed to be sufficient ...

[2022-10-02 19:17] jldec commented on #13229
Thanks @gtsiolis

1. I don't really understand the [naming logic](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/settings/Plans.tsx#L74-L79) but the dashboard should say "FREE".
2. Yes, I it's incorrect to list "Team Plans" as a feature on the Professional plan tile on the website.

Free or Personal plan users can use the "team plans" feature to create a team plan, but they

[2022-10-02 20:04] jldec commented on #12246
Hi @giseletoledo, please share the email that you have on your GitHub or GitLab account by contacting support via email contact@gitpod.io or the [support page](https://www.gitpod.io/contact/support). This will enable us to investigate. Please mention this issue. #12246

If you signed up to Gitpod with a previous (now deleted) GitHub or GitLab ID and are using a new ID with the same email, then we

[2022-10-02 21:59] hkjolhede commented on #11811
Do you have any suggestions for using self-signed certificates on K3s clusters? I have an external HAProxy that does the TLS termination, so I have setup the cluster to use self-signed certificates internally. Everything works except for the registry, meaning I can't build any workspaces.

[2022-10-02 23:43] giseletoledo commented on #12246
Thank you, i send it to support.

Em dom., 2 de out. de 2022 17:05, Jürgen Leschner ***@***.***>
escreveu:

[2022-10-03 01:13] utam0k commented on #13345
Right now we need new user tokens for testing. preview environments and such probably use pre-embedded users. The problem is how to do this since there is no such user in production. Of course, one option is to use the same user as in the preview environment.
https://www.notion.so/gitpod/Run-the-integration-test-to-self-hosted-environment-d0fa0fe1cc3f48169fdcf856146b2273

[2022-10-03 01:36] utam0k opened #13517 "Integration test fails due to blob server not being in the workspace cluster"
### Bug description

This issue was created from https://github.com/gitpod-io/gitpod/issues/13345. The integration test fails due to the blob server not being in the workspace cluster.

<details>
<summary>error log</summary>

[code]

</details>
The integration

### Steps to reproduce

Run integration tests to ephemeral cluster or production environment

### Workspace affected

_No response_

### E

[2022-10-03 01:36] utam0k commented on #13345
https://github.com/gitpod-io/gitpod/issues/13517

[2022-10-03 01:44] utam0k commented on #13494
Checking... https://github.com/gitpod-io/gitpod/compare/2022.08.0...2022.09.0-rc4

[2022-10-03 03:38] jenting commented on #12327
https://www.notion.so/gitpod/Deploy-checklist-for-workspace-clusters-a8a06edfc1474c7b83377f0a84e67c87#e61efc12dd56478a83397bfd54d6f65b

[2022-10-03 03:41] kylos101 commented on #13191
@lucasvaltl we'd at least want webapp and workspace. Although, it would be nice to have feedback from within your IDE that is related to an outage, too. For example, to see the outage window, or that my workspace is shutting down due to an outage.

[2022-10-03 04:11] utam0k commented on #13494
My note(WIP)
- [Bump runc from 1.3 to 1.4](https://github.com/gitpod-io/gitpod/commit/21b1d3d6741504bde9b633302b7cb0997ce16b81)

[2022-10-03 06:05] Pothulapati commented on #12451
👋

This issue seems to be about k3s itself not starting as we can't seem to connect to the kubernetes cluster. Did something change? i.e Moving to WSL2 or something?

The new image doesn't really change anything except for adding new gitpod configuration 🤔 which should prevent Gitpod from starting if soemthing is wrong but shouldn't effect k3s in any way.

[2022-10-03 06:56] utam0k commented on #13494
@atduarte can we close this issue?

[2022-10-03 06:58] #12969 closed

[2022-10-03 07:15] #13494 closed

[2022-10-03 07:39] abitrolly opened #13520 "init task doesn't stop on failure"
### Bug description

Gitpod doesn't stop with an error when init task command fails.

### Steps to reproduce

 In the `.gitpod.yml` below (for Ruby project) `gitpod/workspace-ruby-2` image comes without `yarn`, but init script continues to run after `yarn install` failed.

[code]

### Workspace affected

abitrolly-gitlabdocs-1ymjgt70jro

### Expected behavior

Failure and stopping after `yarn inst

[2022-10-03 07:47] #11865 closed

[2022-10-03 08:24] jldec opened #13521 "Usage view date range is off for previous month"
For the non-current months, the usage view is querying for a date range which ends one day before the end of the month.

<img width="1294" alt="Screenshot 2022-10-03 at 10 22 10" src="https://user-images.githubusercontent.com/849592/193532538-f0a2563e-b7f3-4871-ae75-c3be7fb38097.png">

[2022-10-03 09:16] gtsiolis commented on #13514
Thanks for the proposal, @david-bakin!

I agree, there's benefit is marking issues closed from the stale bot with a unique label but the **~meta: stale** label would suffice for now as stale bot automatically adds this before closing an issue, see [relevant query](https://github.com/gitpod-io/gitpod/issues?q=is%3Aissue+is%3Aclosed+stale+label%3A%22meta%3A+stale%22) and example comments[[1](https:/

[2022-10-03 09:46] #13051 closed

[2022-10-03 09:52] loujaybee commented on #419
Updating title to remove "iframe" as there might be other solutions to the problem here, but it's not clear. If you're finding this issue and you need this for some reason, would be great to get the context behind the problem that you're solving.

[2022-10-03 10:21] gtsiolis opened #13523 "Extension button to open in Gitpod is lacking proper spacing (margin) when viewing tree files"
### Bug description

See button spacing in the following screenshot:

<img width="495" alt="Screenshot 2022-10-03 at 1 17 54 PM" src="https://user-images.githubusercontent.com/120486/193554772-bb1c887c-61bc-436e-8e8b-ac2c6a2211d1.png">

Thanks @andreafalzetti for noticing! 🏀

### Steps to reproduce

Go to any repository while having the browser extension installed and open a single file from the t

[2022-10-03 10:25] jenting commented on #13353
Nope. I tried to reproduce it five times, but I can't reproduce it now.

[2022-10-03 10:30] #10612 closed

[2022-10-03 10:30] #12327 closed

[2022-10-03 10:54] gtsiolis commented on #12537
@Hardik500 You can find the detailed design specs linked above in https://github.com/gitpod-io/gitpod/issues/12537#issuecomment-1232785471.

Feel free to open a PR and link back to this issue. 🏓

[2022-10-03 11:10] Hardik500 commented on #12537
Thanks for the reference @gtsiolis

[2022-10-03 11:40] aledbf opened #13527 "Branch names should not be used to checkout additionalRepositories"
### Bug description

When a repository contains a .gitpod.yml with `additionalRepositories`, and we open a branch, that branch name does not necessarily exist in the additional repositories.

![Screenshot from 2022-10-03 08-40-21](https://user-images.githubusercontent.com/161571/193568514-1c8505fb-7967-4a2c-8ccd-cfcd7d807683.png)

### Steps to reproduce

Open a workspace using https://github.com/g

[2022-10-03 11:53] rushiagr opened #13528 "Jetbrains gateway link doesn't work"
### Bug description

Text says `If you don't see an open dialog in your browser, make sure you have the [JetBrains Gateway with Gitpod Plugin](https://www.gitpod.io/docs/ides-and-editors/jetbrains-gateway#getting-started-jetbrains-gateway) installed on your machine, and then click Open in PyCharm below.`, but when I open the link, it says 404, and opens this link: https://www.gitpod.io/docs/ides-a

[2022-10-03 12:40] jenting opened #13531 "[PVC] unable to open the workspace with download initializer"
### Bug description

function `GetContentLayerPVC` returns `no backup or valid initializer present` when the StartWorkspace request with the download initializer.

https://github.com/gitpod-io/gitpod/blob/14a1ffd65baa3ce8269a7659c1a9de789f4d570e/components/ws-manager/pkg/manager/imagespec.go#L50-L107

### Steps to reproduce
Set the `persistent_volume_claim` feature for your user

Open the workspac

[2022-10-03 12:42] jenting commented on #13531
cc @sagor999

[2022-10-03 13:19] kylos101 commented on #13527
@aledbf I added to the webapp inbox.

cc: @geropl

[2022-10-03 13:41] kylos101 commented on #13527
nvm, I see you linked a PR :smile:

[2022-10-03 14:27] andreafalzetti commented on #9621
Just experienced this while testing JB on a free-tier account

[2022-10-03 14:35] gtsiolis commented on #13229
Thanks for clarifying, @jldec!

Took a stab at this by opening https://github.com/gitpod-io/gitpod/pull/13538 and https://github.com/gitpod-io/website/pull/2840. Feel free to take a look when you're free to pass these to someone on the team. 🏓

[2022-10-03 15:27] easyCZ commented on #13521
[Fix PR is here](https://github.com/gitpod-io/gitpod/pull/13543)

[2022-10-03 15:32] nandajavarma commented on #12868
Moving this in done for now. Since we have [this](https://www.notion.so/gitpod/WIP-Self-hosted-automated-nightly-pipelines-fdc5a202e67b4197aa00d93b98d57927)

[2022-10-03 15:32] #12868 closed

[2022-10-03 15:36] #11274 closed

[2022-10-03 15:36] nandajavarma opened #13544 "[installer-tests] Fix the integration tests"

[2022-10-03 15:37] Hardik500 commented on #12537
@gtsiolis In terms of adding new styling changes, do I also have to add the styling that is related to mobile and compact displays?
Also, what about infinite displays, cause I am not seeing that being handled right now?

[2022-10-03 15:45] Hardik500 commented on #12079
I would like to work on this issue, if no one else has taken it

[2022-10-03 15:55] andreafalzetti commented on #12079
Thanks for the interest, @Hardik500!

I think nobody has worked on this right recently, no PRs were opened so I'd say: feel free to take ownership :)

[2022-10-03 15:58] axonasif commented on #13520
Hi @abitrolly, all your `tasks` run inside a `bash` (?`$SHELL`). Gitpod can only assert the exit status of the `$SHELL` process. Normally `bash` or other shells don't halt on a failure of a command unless you explicitly ask it to. Since your last command `bundle exec nanoc compile` is not exiting with a non-zero code, so `bash` also inherits that before it's own `exit`. Hence Gitpod can't determin

[2022-10-03 15:58] Hardik500 commented on #12079
Sure @andreafalzetti

[2022-10-03 16:05] loujaybee commented on #7671
Temporarily removing @andreafalzetti as owner, will need to figure out who picks this up again in Q4.

[2022-10-03 16:11] Siddhant-K-code commented on #13528
Hey @rushiagr 👋🏼

Thanks for raising the issue.
We've missed out on adding a redirect in our new re-structured [docs. website](https://www.gitpod.io/docs)

It is fixed now in https://github.com/gitpod-io/website/pull/2842

[2022-10-03 16:11] #13528 closed

[2022-10-03 16:16] jimmybrancaccio commented on #13512
I can confirm this is replicable. I was just working on a support ticket where this was happening. Thanks @david-bakin for getting this issue in! 😁 🎉

[2022-10-03 17:06] axonasif commented on #13508
What you're saying about error handling is true, it's upto the `bash` shell.

However, in your example snippet, you have `exit 1`, which will exit the task shell itself. So it's not an appropriate example. I believe you wanted to express the fact that commands within a task which are run inside a `bash` shell do not halt on errors status. This would showcase what you wanted to:
[code]

Notice the

[2022-10-03 17:18] axonasif commented on #13504
Hey @mittalyashu, https://github.com/gitpod-io/gitpod/issues/9284 would be helpful for your usecase.

[2022-10-03 17:24] mkoeppe commented on #13508
Yes, of course, you're right.

[2022-10-03 17:28] #13508 closed

[2022-10-03 17:28] #13520 closed

[2022-10-03 19:36] easyCZ commented on #13355
I've attempted to reproduce this with the following:
[code]
After 1k re-runs, all the tests pass.

@svenefftinge Are you okay to close for now and re-open if we see this happen again? The only other alternative I see is running the same repeated runs on werft but unsure if that's worth it at this point.

[2022-10-03 19:38] david-bakin commented on #13527
See also #13512

[2022-10-03 19:55] easyCZ commented on #13334
When the page loads, it makes a request for
[code]
Which takes around ~21 seconds.

Subsequent query for a term "easy"
[code]
Takes ~7 seconds.

Removing the search term and searching again makes
[code]
And takes ~21 seconds again.

This is caused by the underlying DB query being slow.

[2022-10-03 19:58] easyCZ commented on #13334
![Image](https://user-images.githubusercontent.com/1419286/193667530-2cdf31e0-c43c-464d-8f7b-37ef9a86ae38.png)

From metrics, we can see that indeed this used to perform better and started happening around Sept 22 - [metrics](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22F%22,%22editorMode%22:%22code%22,%22expr%22:%22h

[2022-10-03 20:00] easyCZ commented on #13334
This looks to be introduced with this commit - https://github.com/gitpod-io/gitpod/commit/29c88a7ffaf1bd8a8ee943ba6312d982e0274982

[2022-10-03 20:08] andreafalzetti commented on #13513
@david-bakin it's great to see interest for Gitpod from the C++ space. It would help if you could elaborate more on what you attempted so far? For example:
- did you try [customizing](https://www.gitpod.io/docs/configure/workspaces/workspace-image#configure-a-custom-dockerfile) the default workspace image? Could you share a `Dockerfile`?
- did you check out the [C++ section of the docs](https://ww

[2022-10-03 20:45] andreafalzetti commented on #13500
@david-bakin unfortunately in the JSON schema there isn't support for experimental or beta properties so we use the deprecation as a way of highlighting experimental features, I and feel the pain of seeing those red lines underling correct syntax 😅

On another note, although the JSON schema should be the source of truth I agree that the docs and changelog we should also reflect the experimental st

[2022-10-03 21:17] kylos101 commented on #12744
Thanks, @sagor999 . It looks like when a node is saturated with PVC workspaces and has high R/W data, that system load also goes up (which is expected because we're not limiting I/O on each PVC).

How is CPU usage when there's heavy disk R/W? Can you share a link to the Node Resource Usage for the above node from Grafana and attach a picture to this issue for posterity? It should still be present

[2022-10-03 21:19] kylos101 commented on #12747
Hi @sagor999 , it looks like we have [an issue](https://github.com/gitpod-io/gitpod/issues/13353), sometimes, and, we're unsure if it's related to load.

For now, I recommend the following:
1. Close this issue, 12747
2. In https://github.com/gitpod-io/gitpod/issues/13353, run a load test [with a large number of workspaces](https://github.com/gitpod-io/gitpod/issues/12747#issuecomment-1256729588),

[2022-10-03 21:41] kylos101 commented on #13353
@jenting how did you try to reproduce? I assume you tried starting 100 workspaces. Did you try any other permutations? For example, 200 or 400 workspaces?

[2022-10-03 21:55] hkjolhede commented on #11811
@MrSimonEmms Thank you! That worked like a charm.

[2022-10-03 22:40] sagor999 commented on #13353
I've looked at upstream issue for this, and it appears to intermittent error, that google folks cannot repro, and hence are not able to pin point where the problem might be.

It appears one workaround for this is to delete the pod and re-create it. Which I believe we can do as part of startWorkspace call (we used to do something similar for another k8s bug with memory oom).
So we could I think app

[2022-10-03 22:50] sagor999 commented on #13353
@jenting do you by any chance remember what is the status of the pod when this happens? Was it still pending? Or was it already in the running phase?

We can do an easy workaround implementation for it here, but I need a full yaml capture of the pod definition when this happens to properly implement it. Would you be able to try to repro it again?
The code can be added here:
https://github.com/gitp

[2022-10-03 23:01] Nefelim4ag opened #13551 "ImageBuild can't pull workspace-full"
### Bug description

[code]

### Steps to reproduce

I use a local installer on EKS, external/internal, version (2022.06.01 ... 2022.09.0-rc5) of the installer doesn't affect anything.
Even changing the image repo to the local proxy cache doesn't affect log output and behavior.
("docker.io/gitpod/workspace-full:latest" to "proxy-cache/gitpod/workspace-full:latest")

### Workspace affected

_No res

[2022-10-03 23:03] #13146 closed

[2022-10-03 23:04] Nefelim4ag commented on #13551
https://github.com/gitpod-io/gitpod/issues/7114#issuecomment-988647983 same as here

[2022-10-03 23:13] jenting commented on #13353
@sagor999
If I remember correctly, two cases:
- Pod is still pending: it was kept in pending state for at least 30 mins. The PV status is healthy in the GCP console. The CSI mount point exists in the host node. (This happened when Toru ran the loadgen)
- Pod is running: described the pod, and it showed the error message. But after a few seconds, the pod can mount the volume, and the pod is running

[2022-10-03 23:32] sagor999 commented on #13353
Aha, good. Since it was pending, it will be much easier to have a workaround.
Thank you for trying to repro it again :pray:
If you will be able to repro it, grab pod definition in yml format, that way it will be easier to make a proper fix (to know which exact field to check for that specific error)

[2022-10-03 23:33] sagor999 commented on #13353
If you will not be able to repro, let me know, and I will make a blind fix. :sweat_smile: :see_no_evil: :eyeglasses:

[2022-10-04 02:24] david-bakin commented on #13513
I have tried everything available on the net for this problem.  It isn't gitpod specific (though perhaps part of the fix has to do with the way the workspace's container is configured).

I did get lldb itself to work.  (That happened here: https://gitlab.com/bakins-bits/env-wrappers-cpp/-/commit/aa54f10a1205f41ca9400585b251612f3fc60c3e)

The problem is the integration with VSCode (Desktop) with (o

[2022-10-04 02:25] david-bakin commented on #13500
Ah, so it is _still_ considered experimental?  That's ok of course.  But then I agree, it's the docs/changelog that are missing information.  I thought it was released.  (I can ignore the squiggles.)

[2022-10-04 02:33] kylos101 commented on #11852
@jenting @utam0k As this is Scheduled, and not In-progress, I removed you both from assigned. This way, it is "free" for later, when someone has bandwidth, then it can be assigned and status changed accordingly. :smile: Have a nice day you two! :wave:

[2022-10-04 02:34] utam0k commented on #11852
@kylos101 :100: Thanks

[2022-10-04 03:17] kylos101 commented on #12622
:wave: I'll create a new issue referencing this one :smile:

[2022-10-04 03:17] #12622 closed

[2022-10-04 03:19] kylos101 opened #13556 "[preview] Unable to build preview environment, not all pods ready in kube-system namespace"
### Bug description

Hi there :wave: , @sagor999 just bumped into this issue, albeit probably not for workspace pods.

For example, this time it was pods in the `kube-system` namespace.

[code]

Upon examination, it looks like `core-dns` and `local-path-provisioner` could not schedule:
[code]

### Steps to reproduce

Here is the related werft job where we bumped into the problem:
https://werft.git

[2022-10-04 03:31] measutosh commented on #13497
Hi @andreafalzetti , I have modified the code as suggested above, raised a PR [13557](https://github.com/gitpod-io/gitpod/pull/13557).
Please have a look.

Thanks

[2022-10-04 03:50] abitrolly opened #13558 "tasks: Fail on error by default (run with `bash -e`)"
## Is your feature request related to a problem? Please describe

Gitpod multiline tasks don't fail if the failed command is in the middle (https://github.com/gitpod-io/gitpod/issues/13520).

For example, this inevitable failure will result in great success.
[code]
Which is equivalent to this `bash` call.
[code]

https://github.com/gitpod-io/website/pull/2843 adds an explanation with a code snippe

[2022-10-04 03:54] abitrolly commented on #13520
Hi @axonasif. Thanks for the explanation. I filled a request #13558 to invert the default behavior to what, I believe, most CI/CD users expect.

[2022-10-04 04:39] tomatebeans commented on #12451
I think I don't remember something significant.
I tested using the usual image ( from the local preview instructions ) but I only remember it working despite the new image not working.

Today I pulled the usual image with no changes, ... maybe I have broken something:

![image](https://user-images.githubusercontent.com/108106367/193735495-f1bb7469-94b4-48b9-b36c-916f2bc49aa4.png)

I'll check again

[2022-10-04 05:12] measutosh commented on #13497
hey @Siddhant-K-code ,sorry for the MR , I know it's not good to pickup an issue where someone else is working but I just saw and jumped staright into this

[2022-10-04 05:14] svenefftinge commented on #13355
Sure, thanks for looking into it.

[2022-10-04 05:14] #13355 closed

[2022-10-04 05:45] utam0k opened #13559 "test: Automatic detection of whether PVC is operational or not"
## Is your feature request related to a problem? Please describe

The self-hosted test is not an environment in which PVC can operate. Currently, we have to change the code to make the test work.
We can reduce this friction by detecting if the PVC test can run and skipping the test if necessary.

## Describe the behaviour you'd like

Pass the test on an env without PVC env

## Describe alternative

[2022-10-04 05:56] kylos101 commented on #11713
@sagor999 thank you for reopening! I removed the PR from the Workspace project, as the issue is already there and In-Progress.

[2022-10-04 05:56] kylos101 commented on #11713
Thank you @jenting for linking this issue and PR! :smile:

[2022-10-04 06:05] #13229 closed

[2022-10-04 06:50] spearki opened #13562 "SSH `exec` output race condition"
### Bug description

Running a non-interactive command over SSH often returns nothing instead of the output I expect.

### Steps to reproduce

Run this a few times against a workspace:

[code]

In my case, it returns no output at all around 50% of the time.

If I add a short sleep to the shell command, this is more reliable:

[code]

I suspect `sshproxy` is closing the client connection too early?

[2022-10-04 07:29] akosyakov commented on #13558
I guess it could be alright to run like that in prebuild workspaces, but in regular workspaces it will close a terminal on first errored statement.

[2022-10-04 08:04] easyCZ commented on #13521
Re-assigning to @jankeromnes for validation.

[2022-10-04 08:08] jldec opened #13570 "Select editor non-scrollable modal UX adds friction to onboarding flow"
New users are prompted to select an editor after they sign in.

Unfortuntately this modal does not scroll and the action button is off screen for normal sized desktop browsers already taking up a the full height of the screen.

Clicking on the default editor selection does not submit or dismiss the form.

Since part of the form is obscured, a cautious user will look for the cancel/dismiss control

[2022-10-04 08:09] jldec commented on #13570
Related to #13116
cc: @gtsiolis @loujaybee

[2022-10-04 08:11] akosyakov commented on #13500
Moved to the workspace team, since they are working on this feature.

[2022-10-04 08:12] akosyakov commented on #13504
You could try to generate data in the docker image or use external database.

[2022-10-04 08:18] stemount commented on #13430
You forgot the URL, I opened up the screenshot and wondered why half the page was missing!

I'm just gonna leave this here ;-)

## Gitpod New Documentation
https://www.gitpod.io/docs/introduction

[2022-10-04 08:19] gtsiolis commented on #13570
Closing this as a duplicate of https://github.com/gitpod-io/gitpod/issues/13497, which already contains a good MVC solution. Cc @andreafalzetti

Thanks for noticing, @jldec!

[2022-10-04 08:19] #13570 closed

[2022-10-04 08:19] akosyakov commented on #12448
Thank you for the issue. It is an interesting idea. @fbricon I wonder is there some way to prerun java LS on CI that it opens the project quicker on the startup in VS Code?

[2022-10-04 08:21] gtsiolis commented on #13570
Just noticed there's a community contributor who already picked this up in https://github.com/gitpod-io/gitpod/pull/13557.

[2022-10-04 08:28] gtsiolis commented on #13497
It's ok @measutosh! Generally, it's best to avoid working on issues with already an assignee, but since this is a fairly trivial change and there was no open PR[[1](https://github.com/gitpod-io/gitpod/pulls/andreafalzetti)] from @andreafalzetti, let's move forward with the changes in https://github.com/gitpod-io/gitpod/pull/13557.

@andreafalzetti I've re-assigned this to @measutosh. 🍫

[2022-10-04 08:31] eliezedeck commented on #7829
I'm still getting this issue right now: `https://eliezedeck-workspace-yb0kjyp3sio.ws-eu67.gitpod.io/`

You should be able to see the actual project on your end. But currently, I consistently get stuck at **"Allocation resources ..."**

[2022-10-04 08:42] abitrolly commented on #13558
@akosyakov is it possible leave terminal open with a message that the task it terminated listing failed step and instructions how to continue or restart the task? That would be in ideal UX.

[2022-10-04 08:44] akosyakov commented on #13558
Have you tried to create a shell script and do `set -e` there and the run it from `init: ./.gitpod/my-init.sh`? I would think you will have the entire control like that?

[2022-10-04 08:52] stemount commented on #13430
Overall, fabulous job on building documentation, I really like the code samples and how the tables show arguments. That is very elegant and helpful.

The mobile version is very good, looks like a lot of work went into that!

Hopefully this feedback is relevant and welcome here, I've worked for the GOV.UK a number of times so I've had web accessibility drilled into my head. I suspect there may be G

[2022-10-04 09:10] jenting commented on #13353
I tried to reproduce this issue the whole day (I ran 10 times with 100 regular workspaces with PVC), but I got no luck that I couldn't reproduce it.

[2022-10-04 09:13] meysholdt commented on #13556
I see in the failed job that the pods did not come up because the k3s node was not ready:
[Waiting for k3s]   Warning  FailedScheduling  33m                  default-scheduler  0/1 nodes are available: 1 node(s) had taint {node.kubernetes.io/not-ready: }, that the pod didn't tolerate.
[Waiting for k3s]   Warning  FailedScheduling  4m1s (x27 over 32m)  default-scheduler  0/1 nodes are available: 1

[2022-10-04 09:28] pawlean commented on #7829
Hey @eliezedeck! I saw your message on Discord and wanted to close this loop 🔁 Everything should be good again, but let us know if you see any other issues.

[2022-10-04 09:50] #13334 closed

[2022-10-04 09:54] easyCZ opened #13574 "Epic: Dashboard communicates with Public API"
### Summary

This epic focuses on removing technical blockers which prevent the dashboard (web application) to use the Public API to retrieve data.

This epic does not focus on implementing and migrating API calls that dashboard makes over to public api.

### Context

We want to give ourselves a stronger API interface which can be consumed by dashboard, but also external clients. The first step is

[2022-10-04 10:18] gtsiolis commented on #9898
+1000 for this.

[2022-10-04 10:38] #13497 closed

[2022-10-04 11:20] abitrolly commented on #13558
@akosyakov I can move everything into separate script, wrap into `(set -e; ...)` as instructed by docs, but that won't be the default behavior anymore.

[2022-10-04 11:45] gtsiolis commented on #13523
Closing this as it has been already resolved in https://github.com/gitpod-io/browser-extension/pull/63.

We just released [`v1.16`](https://github.com/gitpod-io/browser-extension/releases/tag/v1.16) that includes the fix. Thanks @andreafalzetti!

[2022-10-04 11:45] #13523 closed

[2022-10-04 12:23] loujaybee opened #13580 "Open workspace with multiple IDEs"
There are some cases where users have asked for multiple IDEs for the same workspace.

**It's possible to do:**
1. VS Code Browser + JetBrains Desktop
    b. Via Gitpod open page if VS Code Desktop is default setting
2. VS Code Browser + VS Code Desktop
    a. Via command palette if VS Code Browser is default user setting
    b. Via Gitpod open page if VS Code Desktop is default setting

**It is n

[2022-10-04 13:07] andreafalzetti commented on #12884
@loujaybee shall we close this? anything missing?

[2022-10-04 13:50] andreafalzetti opened #13581 "Support stable/EAP versions for gateway-plugin"
Currently, Gateway-Plugin code, on main branch, supports only a single version: the stable. But there are moments when the plugin built with the Stable SKD stops working on EAP IDEs due to the incompatibility with the EAP SDK.

We solved this problem in our backend-plugin by always building two versions of the plugin: one for Stable IDEs using Stable SDK, and another for EAP IDEs using EAP SDK [[#

[2022-10-04 13:57] andreafalzetti commented on #13238
Today I faced this bug again, when a workspace failed to connect: [internal discussion](https://gitpod.slack.com/archives/C01KGM9BH54/p1664881251100649)

[2022-10-04 13:57] #12345 closed

[2022-10-04 14:13] #8377 closed

[2022-10-04 14:17] #12884 closed

[2022-10-04 14:17] loujaybee commented on #12884
Thanks @andreafalzetti ! Yep, [documentation in changelog here](https://www.gitpod.io/changelog/september-gitpod-release-2022#jetbrains-backend-control-center---gitpod-workspace-actions).

[2022-10-04 14:23] loujaybee commented on #13498
I would consider this as part of:

- https://github.com/gitpod-io/gitpod/issues/9038

Which is dependent on:

- https://www.gitpod.io/docs/configure/billing/usage-based-billing

I will remove from inbox for now, and link to that epic 🙏

[2022-10-04 14:23] loujaybee commented on #13498
This also looks like a duplicate of:

- https://github.com/gitpod-io/gitpod/issues/11263

[2022-10-04 14:34] jeanp413 commented on #13206
@Kevin-mit-C you need to configure proxy settings in your workspaces too, openvsx doesn't server actual content only the metadata, vscode will follow the redirections.

[2022-10-04 14:39] loujaybee commented on #11901
Relates to:

- https://github.com/gitpod-io/website/issues/2368

[2022-10-04 14:43] subinamathew commented on #9127
Hi,
I would still prefer the second version that is not truncated and would Upvote it we use multiple git repos with similar hostname.

[2022-10-04 15:23] kylos101 commented on #13353
@jenting @sagor999
* What was the peek # of running workspaces that you achieved at one time when trying to recreate?
* Did you try starting 100, leaving them running, starting another 100 but at the same time stopping the initial 100?

In other words, test with more than 100 workspaces that are both starting and stopping. This way you have PVC creation and snapshot happening at the same time, wit

[2022-10-04 15:31] Hardik500 commented on #12079
https://github.com/gitpod-io/gitpod/issues/12079#issuecomment-1265726543
@andreafalzetti Any thoughts?

[2022-10-04 15:32] Hardik500 commented on #12537
https://github.com/gitpod-io/gitpod/issues/12537#issuecomment-1265655487
@gtsiolis @svenefftinge thoughts?

[2022-10-04 15:34] gtsiolis commented on #12537
@Hardik500 Feel free to skip anything related to responsive layout.

In the spirit of our [ship skateboards](https://www.notion.so/Ship-skateboards-f7f54cb1c69643e9ac42c9f2ddd9e46f) value, we can always break down the issue into smaller pieces and open a follow-up issue for the mobile layout. 🛹

[2022-10-04 15:37] #13527 closed

[2022-10-04 15:37] #13512 closed

[2022-10-04 16:16] Konard opened #13587 "cannot initialize workspace: cannot initialize workspace: prebuild initializer: git fetch -p -P --tags -f failed"
### Bug description

[code]

### Steps to reproduce

Open GitPod for https://github.com/deep-foundation/dev/tree/252e5761f2589752fbf8d247c3d365d7798be157

### Workspace affected

deepfoundation-dev-5i3tw4ma3x0

### Expected behavior

GitPod starts as usual loading the prebuild successfully.

### Example repository

https://github.com/deep-foundation/dev/tree/252e5761f2589752fbf8d247c3d365d7798be15

[2022-10-04 16:19] Menzorg commented on #13587
yep. Wainting for work

[2022-10-04 16:46] kylos101 commented on #13556
@meysholdt would a skateboard be to update the job, so that that level of detail is output to Werft raw logs (at least the kubectl describe node)? This way it's available for continued troubleshooting and eventual closing of this issue - especially if other issues warrant similar input to do troubleshooting.

[2022-10-04 17:04] suenot commented on #13587
The same problem.

[2022-10-04 17:33] jeanp413 commented on #13377
This is a firefox bug, workaround for now is reload the tab

[2022-10-04 17:47] kylos101 commented on #13559
@utam0k how would you recommend we do? For example, one option might be to change the configmap which stores the installer settings used to install Gitpod. If PVC is enabled there, then proceed with testing PVC. Can you think of any other ideas?

cc: @sagor999 @jenting

[2022-10-04 18:49] sagor999 opened #13591 "[PVC] integration test for testing .gitpod.yml using incorrect repo"
### Bug description

Currently we test if opening a repo without .gitpod.yml works when using PVC approach.
It was not due to this: https://github.com/gitpod-io/gitpod/issues/13531
Turns out integration test is running against gitpod-io/empty repo, which does not have any git history.

### Steps to reproduce

n\a

### Workspace affected

_No response_

### Expected behavior

_No response_

### Exa

[2022-10-04 18:54] jeanp413 opened #13592 "[SSH] Bug in supervisor_env"
Context https://discord.com/channels/816244985187008514/1026757361714602015/1026759476323299328

[2022-10-04 19:25] #12745 closed

[2022-10-04 20:35] easyCZ commented on #13125
Fix for returning appropriate status codes: https://github.com/gitpod-io/gitpod/issues/13125

[2022-10-04 20:36] easyCZ commented on #12959
As an extension, include it in a ws-manager-bridge dashboard to make it readily consumable.

[2022-10-05 02:09] jenting commented on #13559
Not sure if it's doable or not.

We could check the CSI driver contains the CREATE_DELETE_SNAPSHOT capability to determine we should test PVC feature or not.

[2022-10-05 02:10] david-bakin commented on #13513
Here's another tip on docker container configuration from a guy who wrote yet another lldb-using vscode extension: https://github.com/vadimcn/vscode-lldb/wiki/Debugger-startup-problems#a-packet-returned-an-error

[2022-10-05 02:18] david-bakin opened #13597 ""More Actions..." menu always drops down even if there isn't enough room"
### Bug description

Check it out:

<img src="https://user-images.githubusercontent.com/4162948/193967746-dbb5fd9e-2d34-45b9-a516-755462ab8581.png" width="50%">

Menu should know it's close to the bottom of the window and drop _up_.  (Other webs apps know to do it.)

### Steps to reproduce

Position "starting workspace" page appropriately and it's easy.  (It's easier to get into this state if you

[2022-10-05 03:43] kylos101 opened #13598 "[tests] regressions for workspace components are hard to prevent"
## Is your feature request related to a problem? Please describe

We're seeing some PRs merged to main while integration tests are still failing for workspace components. This is expected, because tests are not blocking.

However, in hindsight and practice, non-blocking tests create pain. For example:
1. It creates unexpected pressure as we get close to deploying when tests are failing (literally

[2022-10-05 03:48] #13418 closed

[2022-10-05 04:07] kylos101 commented on #12747
As #13353 was resolved, I recommend proceeding with a load test of large scale. :dancers:

[2022-10-05 04:54] kylos101 commented on #12935
@jenting I recommend handing this off to @utam0k , as he is on-call this week, to see if he can finish.

@utam0k perhaps you could look later this week?

[2022-10-05 05:09] utam0k commented on #13256
Apparently, not only is it slow, but it can lapse for up to an hour and fail to boot. Perhaps a different cause, but the symptoms are similar.
https://cloudlogging.app.goo.gl/QX4BZ6HK4wBueEpv6

We can see https://github.com/gitpod-io/gitpod/blob/0412c5f4619b58a0bbd270adae3613ef82458e62/components/supervisor/pkg/supervisor/supervisor.go#L1364 on this log,
but before reaching https://github.com/gitp

[2022-10-05 05:53] #9873 closed

[2022-10-05 07:38] easyCZ commented on #10002
@geropl This got auto-closed. Should we re-open?

[2022-10-05 08:07] #10797 closed

[2022-10-05 08:19] spearki commented on #9019
@axonasif Unfortunately it looks like `HISTFILE` gets [truncated at workspace startup](https://github.com/gitpod-io/gitpod/blob/1d8fe14c23ee852db8234975b330dd365ea63357/components/ide/code/startup.sh#L12), so you only get history from the (n-1)th session, and only in task terminals (which happen to start early enough to load the history before the truncate happens).

Do you think it would be possi

[2022-10-05 08:41] loujaybee commented on #7751
Hey folks, wanted to give a quick update (as many have asked!). Firstly, thanks so much to all our users who have given [feedback in the community](https://www.gitpod.io/community) for our JetBrains integration. Please continue to do so, we're learning a lot from you and we're able to refine the experience based on your input.

If you're late to the party, I wanted to give a little background and

[2022-10-05 08:43] Hardik500 commented on #11846
@gtsiolis @Harixomxsingh I can work on this issue, if no work has been done on this yet.

[2022-10-05 08:44] gtsiolis commented on #11846
@Hardik500 I couldn't find any open PR linking back to this issue, feel free to pick it up. 🏓

[2022-10-05 08:46] Hardik500 commented on #11846
Awesome @gtsiolis, I'll be picking it up then

[2022-10-05 08:48] geropl commented on #12012
Dropping assignment here while waiting for more input/feedback.

[2022-10-05 09:12] lucasvaltl commented on #11276
@nandajavarma did we deal with this problem somewhere else? I feel like we looked at this issue and this is a duplicate.

[2022-10-05 09:14] lucasvaltl commented on #11792
Will close this for now - we have a skateboard fix, let's measure the impact of that and then iterate.

[2022-10-05 09:14] #11792 closed

[2022-10-05 09:25] lucasvaltl commented on #12738
@MrSimonEmms  what is the status of this? :)

[2022-10-05 09:27] lucasvaltl commented on #11756
@MrSimonEmms is this fixed with the new preflight check that validates the installer config?

[2022-10-05 09:28] lucasvaltl commented on #12002
Given that there is an open PR for this, I moved this to in-progress and assigned you @adrienthebo

[2022-10-05 09:31] lucasvaltl commented on #11718
We now have [docs](https://www.gitpod.io/docs/configure/self-hosted/latest/configuring-workspace-resources) around this - so closing this.

[2022-10-05 09:31] #11718 closed

[2022-10-05 09:43] andreafalzetti commented on #12079
On how to debug `server` better to ask @gitpod-io/engineering-webapp as they own this component

[2022-10-05 09:47] lucasvaltl commented on #10464
Moving this back into backlog as we have done considerable work here but won't be focusing on this right now.

[2022-10-05 09:48] lucasvaltl commented on #9929
@MrSimonEmms is there any open issue in here that we should be working on? I'd like to close this epic and instead work on the open issues separately as individual issues.

[2022-10-05 09:59] andreafalzetti commented on #13191
If we have good support for this in the dashboard we could consider not updating all IDEs to support this feature, at least for first iterations 🛹

[2022-10-05 10:01] lucasvaltl commented on #11967
Duplicate of https://github.com/gitpod-io/gitpod/issues/12782 - let's keep that ticket for now.

[2022-10-05 10:01] #11967 closed

[2022-10-05 10:09] MrSimonEmms commented on #9929
Yeah, I think this can be closed

[2022-10-05 10:09] #9929 closed

[2022-10-05 10:11] MrSimonEmms commented on #11756
@lucasvaltl once this feature is wired into the `validation config` command in the Installer, this will get run as part of the preflight.

[2022-10-05 10:14] florisvdg commented on #13418
Ah, now I got it to work! I did have that snippet already in my SSH config, but what the issue was is that when opening a workspace, VS Code tries to recover the previous shell, which had stale environment variables. Exiting it and creating a new one fixed it for me. Could be nice to mention this caveat in the docs as well.

[2022-10-05 10:19] #13187 closed

[2022-10-05 10:23] lucasvaltl opened #13606 "[KOTS] Allow users to set workspace resources in UI instead of config patch"
Currently, workspace resources can only be set via a config-patch. Given that almost every user is setting this, and that this can be error prone, we should lift this into the installation UI.

- Allow users to set workspace resources in installation UI
- Ideally, have defaults depending on the reference architecture in use: i.e. if using single cluster, just select single cluster in the dropdown.

[2022-10-05 10:29] chriswyatt1 opened #13608 "Start Gitpod in specific subdirectory for explorer sidebar"
Hi, this is probably trivial.

I have searched through all the issues and the docs, but how do you start an environment in a specific subdirectory within the explorer side bar in VS code?

In the following repo (https://github.com/seqeralabs/nf-training-public/tree/new_container_nextflow_22.09.7), I want to start in the `/workspace/nf-training-public/nf-training` folder (which I already cd into in

[2022-10-05 10:41] andreafalzetti opened #13609 "[Browser Extension] Inject Gitpod button is broken unless page reloads"
## Bug
Currently, when using GitHub, the `Gitpod` button is not injected is the page is opened from a link inside another GitHub page.

## Steps to reproduce
1. Open the Gitpod Pull requests page
2. Click a PR
3. Note how the button is not injected anymore
4. Reload the page
5. Note how the button now appears

[2022-10-05 10:42] andreafalzetti commented on #13609
@gtsiolis do you know/remember if this is a conscious decision or are we not intercepting the draft status?

[2022-10-05 10:47] MrSimonEmms commented on #12738
@lucasvaltl going to have a look now

[2022-10-05 11:01] MrSimonEmms commented on #12738
I cannot recreate this, so will close.

If you are experiencing this problem, please give as much detail as you can so we can recreate this issue properly

[2022-10-05 11:01] #12738 closed

[2022-10-05 11:56] MrSimonEmms commented on #666
Interestingly, I've been having a play with @JanKoehnlein's [basic idea](https://github.com/gitpod-io/gitpod/issues/666#issuecomment-1027737922) and have come into conflict with some permissions issues.

When I run `gpg --gen-key`, it ultimately ends with the following error:
[code]

I get the same error when importing the secret key - `gpg --import private.asc`
[code]

However, if I run with `sud

[2022-10-05 12:20] jenting commented on #13531
Since the code of PVC is similar to FWB.
So I enabled the FWB and opened the https://github.com/utam0k/utam0k.github.io, and it failed with the same error message.
![image](https://user-images.githubusercontent.com/49380831/194058854-1d6f680a-cf21-4e4e-84c6-398bb80f760e.png)

[2022-10-05 12:45] sagor999 commented on #13531
@jenting do not use FWB. that code has not been tested in a very long time.

[2022-10-05 12:49] jenting commented on #13531
I want to ensure the FWB would hit the same error because the code is similar.

[2022-10-05 13:03] Konard commented on #13587
We pushed one more commit and the problem is gone.
With the latest commit it works now.

[2022-10-05 13:13] MrSimonEmms commented on #13506
Closing as no response

[2022-10-05 13:13] #13506 closed

[2022-10-05 13:40] jenting commented on #13559
Or, we could check the ws-manager ConfigMap, `snapshotClass` is empty string to determine we should test PVC or not.

[2022-10-05 14:17] axonasif commented on #9019
Hmm @spearki, wasn't aware of that line.

In that case, you could put [this file](https://github.com/gitpod-io/workspace-images/blob/584ad0b4e69c294116f5d099a4e2ede102ee2e90/base/bashrc.d/persist_hist.sh) to `$HOME/.bashrc` from your dotfiles to workaround, it's guaranteed to work. Just copy pasted from this [repo](https://github.com/axonasif/dotfiles-sh) with a few changes.

[2022-10-05 14:42] gtsiolis opened #13618 "Users can no longer access or use the plans page"
### Bug description

Users no longer see the [Plans](https://gitpod.io/plans) menu item in user settings. While the **[/plans](https://gitpod.io/plans)** page remains accessible, upgrading to another plan does not work.

Re-posting two relevant code sections from a [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1664974335014249) (internal):

https://github.com/gitpod-io/gitpo

[2022-10-05 14:49] easyCZ commented on #13177
Occurrence of this raised internally during Workspace Start - [details](https://gitpod.slack.com/archives/C02EN94AEPL/p1664978399985299)

[2022-10-05 15:57] jimmybrancaccio opened #13623 "Improve Verbiage When Trying to Create a Workspace from an Organization in GitHub"
This was originally reported in a support ticket. I see we [have some documentation](https://www.gitpod.io/docs/configure/authentication/github#errors-with-private-repositories-on-github-orgs) in regards to this specific issue but I believe we have an opportunity here to improve the error message shown to the user when they try creating a workspace from a private repository in an organization.

Pe

[2022-10-05 16:02] kylos101 commented on #13623
@jimmybrancaccio can you share a set of steps on how to reproduce? For example, this could even be a link to open a Gitpod workspace resulting in the error you described.

[2022-10-05 16:12] jimmybrancaccio commented on #13623
@kylos101 The customer outlined this in their ticket (in my comment and their last reply). :)

Briefly:

Accounts were created in Gitpod first (using GitHub as their auth provider). An organization was then created in GitHub by a user that was different then the one whom opened the ticket. The reporting user however did join the organization. When the user tried opening a private repository from t

[2022-10-05 17:23] axonasif commented on #13562
Similar issue on a discord-question:
- https://discord.com/channels/816244985187008514/1020726397423067306

[2022-10-05 17:28] akosyakov commented on #3966
@karpa here is an example of how one can set it up till we have shutdown commands: https://github.com/akosyakov/gitpodify-docker-compose/blob/docker-compose_check/.gitpod.yml

[2022-10-05 17:30] axonasif commented on #13608
Hey @ewels, [this here](https://github.com/gitpod-io/gitpod/issues/8623#issuecomment-1232806473) might help.

We should probably get this documented well.

[2022-10-05 17:39] kylos101 commented on #13496
:wave: hey there @shayani, I updated the issue description with some details (sample repo and steps to recreate). May I ask you to validate if I am correct, that your problem is basically you're not always able to restart workspaces that were previously running and stopped?

[2022-10-05 17:39] kylos101 commented on #13496
And, thanks to @axonasif for relaying this issue. :pray:

[2022-10-05 17:40] adrienthebo commented on #13551
Hi @Nefelim4ag, thanks for submitting this issue! To confirm my understanding, you're running Gitpod on EKS; can you indicate which container registry you're using to store the images that Gitpod is building? Do you have any custom container registry credentials configured in the KOTS UI?

[2022-10-05 17:43] kylos101 commented on #13496
FYI, I just tried starting the same repo (above), and got:

On https://eventaservo-eventaservo-giocbj09bak.ws-us67.gitpod.io/:
[code]

Which is actually this issue: https://github.com/gitpod-io/gitpod/issues/10569

Going back to this [comment](https://github.com/gitpod-io/gitpod/issues/13496#issuecomment-1268736300), please let us know how you generally go about recreating the issue?

[2022-10-05 17:44] kylos101 commented on #10569
Hey @utam0k , I just added this to groundwork as part of the breakdown column. I say this, because I bumped into the issue [here](https://github.com/gitpod-io/gitpod/issues/13496#issuecomment-1268740933).

[2022-10-05 18:25] ArthurSens commented on #13246
Hey @meysholdt, I've noticed that this was moved from "Continuous Delivery" to "monitoring and observability". Well, looking at the team's structure now, I don't see how this falls under "Operational Experience" either 😅. It would be nice if we could sync on issues before just throwing it around inboxes 😛

That said, could we pair on this one at some point? I believe this linter will have to work

[2022-10-05 18:27] shayani commented on #13496
Hi! Yes, the new description looks correct 👍
Thanks

[2022-10-05 18:57] ducphamle2 commented on #11901
Sure. Here's an example that we use .gitpod.yml: https://github.com/oraichain/oraiwasm

Basically, if we want to jump into the oraiwasm/ dir instead of /workspace/, then we will need to explicitly write the workspace location as /workspace/oraiwasm. As far as I know, there's no other way to set it like: /workspace/$ROOT_DIR, for example.

The extension is built by my team. We have had a workaround

[2022-10-05 20:00] ewels commented on #13608
Awesome - this looks ideal, we'll give it a try. Thanks @axonasif !

[2022-10-05 20:46] kylos101 commented on #12021
Another occurrence ([Internal](https://gitpod.slack.com/archives/C02F19UUW6S/p1665000596221749))

[2022-10-05 21:28] easyCZ commented on #13177
An initial draft of this is [here](https://github.com/gitpod-io/gitpod/pull/13622)

The draft chooses to store the (Stripe Customer ID, Attribution ID) tuple in a new table, independent of CostCenter but it can easily be changed to use it. The reason for storing it in a new table are the semantics of the CostCenter - new cost centers for an attribution get created but in the case of Stripe, the cu

[2022-10-05 21:35] mbrevoort commented on #13191
Is the intent to put Gitpod into maintenance mode so that Gitpod can be updated or to update the underlying infrastructure?

If it is to upgrade Gitpod, then we should instead strive to support live upgrades that allow running workspaces to continue to run. We should seek to eliminate the need for a maintenance mode completely. If we absolutely need one we should minimize the impact to developers.

[2022-10-05 23:44] utam0k commented on #13559
@kylos101 @jenting
I would recommend relying on our product rather than relying on Kubernetes because I think it is easier to control and understand mechanism.

[2022-10-05 23:46] kylos101 commented on #13559
Rely on product how @utam0k ? Do you mean like a Gitpod config map, which contains installer options used to do the last install or upgrade?

[2022-10-05 23:48] utam0k commented on #13559
Oh no, I was trying to figure out which of the two methods JenTing suggested would be easier for us to do. Presumably, the capability of the above method is a value that is managed by Kubernetes, right? Well, I think both methods are very good.

[2022-10-05 23:49] utam0k commented on #13559
So, I recommend this one

[2022-10-06 00:33] #13531 closed

[2022-10-06 01:08] kylos101 opened #13632 "Enable protected secrets by default in the installer for self-hosted"
We made it possible to enable `protected_secrets` via the installer surface, it is disabled by default.

https://github.com/gitpod-io/gitpod/pull/13484

The intended outcome of this issue, is to ship `protected_secrets` as enabled by default.

[2022-10-06 01:09] kylos101 opened #13633 "Enable protected secrets by default in the saas without using configcat"

[2022-10-06 01:09] kylos101 opened #13634 "Remove old OTS code"
- [ ] identify components requiring changes
- [ ] Remove the code and related tests
- [ ] Remove the `protected_secrets` feature flag from config cat
- [ ] Update architectural diagrams

[2022-10-06 01:37] jenting commented on #13559
@utam0k
Could you please help to check the ws-manager ConfigMap snapshotClass is empty in the self-hosted installation?

[2022-10-06 01:42] jenting commented on #12747
Pavel asked me to load test with 1000 regular workspace.

[2022-10-06 01:46] jenting commented on #12747
Pavel asked me to load the test with 1000 regular workspaces.

[2022-10-06 02:08] huweiATgithub opened #13635 "role of owner should be prohibited from changing role"
### Bug description

I created a team with only me.
I can't help myself when I see the drop-down
![image](https://user-images.githubusercontent.com/37072526/194197888-8d2b4b97-71cb-4c06-b067-69ae7940d145.png)
and click `member`.

Then, I find myself as a member of a team without an owner.

I can't open `Settings` in the project anymore.  (I don't dare leave it now 😭 )
Once I click `Settings`, it j

[2022-10-06 03:07] spearki opened #13636 "Unexpected Dockerfile caching behaviour"
### Bug description

I think this is a known issue (within Gitpod at least), but it was a surprise to me that with a line in a `.gitpod.Dockerfile` like:
[code]
...changes to `the_file` don't actually trigger a rebuild of the image. We internally came up with the same workaround of using a dummy ENV var to break the cache manually and force a rebuild when any dependent files change.

It would be g

[2022-10-06 03:09] utam0k commented on #13587
Thanks for your great information. I could reproduce this problem thanks to your information.
https://gitpod.io/#https://github.com/deep-foundation/dev/tree/252e5761f2589752fbf8d247c3d365d7798be157

Failed workspaceId: https://deepfoundation-dev-21s7cqdh1va.ws-us70.gitpod.io/
[Trace](https://github.com/deep-foundation/dev/compare/252e5761f2589752fbf8d247c3d365d7798be157...main)

[code]

[2022-10-06 03:15] utam0k commented on #13587
For some reason, there aren't some commits that git tries to fetch
- https://github.com/deep-foundation/hasura/commits/214366ccb657b95c68bb45cc281edfadd89827c6
-  https://github.com/deep-foundation/hasura/commits/c83de572d2cbb3c467e266499891320ac6a6f702
[code]

[2022-10-06 03:43] spearki opened #13637 "Allow forwarding privileged ports in VSCode Desktop"
## Is your feature request related to a problem? Please describe
Using VSCode Desktop, workspace listen ports less than 8000 are assigned a free high-numbered port on the local machine, instead of being mapped to the same port number as the workspace.

![image](https://user-images.githubusercontent.com/1217253/194207149-ed0de219-f42b-42b3-b5f7-8225b6255f18.png)

## Describe the behaviour you'd lik

[2022-10-06 04:28] spearki commented on #9019
@axonasif We actually applied a very similar change to your draft PR to our own Docker image, and this is where we discovered the truncation problem. Doing it in dotfiles is also subject to the same truncation. We are now doing `sed -i '/truncate/d' /ide/startup.sh` as a workaround, but this is obviously an awful hack.

[2022-10-06 04:42] axonasif commented on #9019
@spearki ah, yeah, makes sense... I use `fish` for interactive use... so never noticed 😅

[2022-10-06 05:05] Siddhant-K-code commented on #12704
Also, worth noting that: Currently it shows release notes for every new workspace (it should be limited to the first workspace only, after every release)

Related [Internal Discussion](https://gitpod.slack.com/archives/C01KPEPNBD0/p1664987281685579)

[2022-10-06 05:06] loujaybee commented on #12704
This is a bug, not expected behaviour let's raise a separate issue 🙏

[2022-10-06 05:11] Siddhant-K-code opened #13638 "Release Notes in every workspace"
### Bug description

Currently it shows release notes for every new workspace (it should be limited to the first workspace only, after every release),

### Steps to reproduce

- Open Multiple workspaces (parallel or one after the other) you will see a VS Code tab of release notes in each workspace.

### Workspace affected

_No response_

### Expected behavior

It Should show Release Notes for once

[2022-10-06 05:11] Siddhant-K-code commented on #12704
Opened a new issue here: https://github.com/gitpod-io/gitpod/issues/13638

[2022-10-06 05:45] #13591 closed

[2022-10-06 06:59] utam0k opened #13639 "Use `gcloud storage` instead of `gsutil`"
## Is your feature request related to a problem? Please describe

According to [Google official blog ](https://cloud.google.com/blog/products/storage-data-transfer/new-gcloud-storage-enables-super-fast-data-transfers), gcloud has better performance than `gsutil`.

https://github.com/gitpod-io/gitpod/blob/27068da167adc9c95026375a0ee9f37cd75c530f/components/content-service/pkg/storage/gcloud.go#L210

[2022-10-06 07:19] utam0k commented on #13559
@jenting It looks like `snapshotClass` is always `""`

[2022-10-06 07:31] jenting commented on #13559
Thank you 🙏

[2022-10-06 07:41] akosyakov commented on #13637
@spearki Could you share which operating system you are using?

[2022-10-06 08:15] #11378 closed

[2022-10-06 09:13] josepjaume commented on #12583
Great idea! Would be a game changer for us!

[2022-10-06 09:16] loujaybee commented on #11801
Example error message shared by @filiptronicek in [internal thread](https://gitpod.slack.com/archives/C02CBKZEVS8/p1665000894895399)

![image](https://user-images.githubusercontent.com/5528307/194275021-357a5ae0-8157-45cc-8320-01bbf31a1492.png)

[2022-10-06 09:35] gtsiolis commented on #13635
Thanks for noticing, @huweiATgithub! This is already known and tracked in https://github.com/gitpod-io/gitpod/issues/11452. Please, feel free to drop a message in support with your single-member team if you want to restore the permissions. If there's another owner in that team, I'd suggest reaching out to them to restore your permissions.

[2022-10-06 09:35] #13635 closed

[2022-10-06 09:45] lucasvaltl commented on #13191
The intent of this was the latter - to put Gitpod into maintenance mode to allow for an update. The underlying assumption is that we won't be able to get to a state of "live upgrades" soon, and hence we need this to ease the pain of maintenance windows. @kylos101 How fair is this underlying assumption?

[2022-10-06 09:48] abeluck opened #13641 "Cannot open local vscode workspace when ControlPath is specified in ~/.ssh/config"
### Bug description

When the local ssh client is configured to use a `ControlPath` for all connections, gitpod sometimes cannot be used locally because often the full name of the host and user is over the [108 character limit](https://man7.org/linux/man-pages/man7/unix.7.html) for unix domain socket names.

### Steps to reproduce

1. Add the following to your `~/.ssh/config`

[code]

2. Try to op

[2022-10-06 11:56] easyCZ commented on #13157
Client-side metrics from server [PR is here](https://github.com/gitpod-io/gitpod/pull/13645)

[2022-10-06 12:26] aledbf commented on #13639
Two comments, this is still alpha and the speed is similar to gsutil.
Let's wait until this at least beta.

[2022-10-06 12:49] PatelN123 commented on #7350
Commenting here to upvote this.

[2022-10-06 12:59] mads-hartmann commented on #12795
I think I found the problem when debugging something else. See this comment https://github.com/gitpod-io/ops/issues/5720#issuecomment-1269949085

[2022-10-06 13:07] kylos101 commented on #13191
@lucasvaltl we might want feedback from WebApp and IDE, too, I'm not sure if/how their components can do live update with the single cluster ref arch.

From a workspace perspective, to achieve live upgrades for workspace components "now", we'll need a high availability ref arch which includes governed workspace clusters (like we do with the saas).

However, once we're on PVC with self-hosted, we s

[2022-10-06 13:10] #13460 closed

[2022-10-06 13:16] axonasif commented on #13641
Hi @abeluck, why not use one static control path?
If you wish to it this way, you could wrap the `ssh` command to generate random short filenames under `/tmp/` to use them as the Control socket. Here's a tiny project doing that in case you're interested:
https://github.com/axonasif/gssh

I'll add this to our IDE team inbox to see if there's a fix for this.

[2022-10-06 13:24] akosyakov commented on #13641
I assume you are using auth token not SSH keys? Have you tried with configured keys?

[2022-10-06 13:56] MrSimonEmms commented on #9772
I've put this as the delivery for now, but there's a part of me that thinks this is in the WebApp team's remit

[2022-10-06 13:57] thisisommore opened #13650 "Do not use `workspaceLocation` when the path is invalid and show error notication on VSCode"
### Bug description

Clicked gitpod button as I usually do and this happened
<img width="670" alt="image" src="https://user-images.githubusercontent.com/51229945/194331778-af3eccce-f863-4510-87ef-cca546a10e13.png">

### Steps to reproduce

Go to https://gitpod.io/#https://github.com/TheLazarusNetwork/go-helpers
See the issue

### Workspace affected

thelazarusnet-gohelpers-wjka5j790e3

### Expecte

[2022-10-06 13:58] thisisommore commented on #13650
[code]
<img width="413" alt="image" src="https://user-images.githubusercontent.com/51229945/194332515-022cc82e-937e-4bfb-856f-debd729404b9.png">

[2022-10-06 14:55] Nefelim4ag commented on #13551
I use gitpod installer, not KOTS (kots is just stuck at license upload and useless IMHO )
I've tried to use harbor registry, but even with a built-in container registry (inCluster: true) (which uses the same underline docker registry container) that doesn't work, because it can't pull workspace-full image from docker.io registry.

[code]

with built-in registry:

[code]

[2022-10-06 14:57] Nefelim4ag commented on #13551
[imagebuild.log](https://github.com/gitpod-io/gitpod/files/9725859/imagebuild.log)

one of logs I've collected

[2022-10-06 15:00] andreafalzetti opened #13654 "[JetBrains] Stabilize stable releases and simplify maintenance"
## Description

- [x] Refactor JetBrains GHA workflows for IDEs and backend-plugin to be updated in one bigger job, but only when all IDEs have been released to stable (meaning, we wait to create the PR if one IDE has not been updated by upstream yet). Only then we realease new stable IDE images and new backend-plugin as stable in Gitpod
    https://github.com/gitpod-io/gitpod/pull/14013

- [x] Pu

[2022-10-06 15:03] geropl commented on #12886
Thx @meysholdt for sharing that idea. What I like about the idea is the consistency it brings. The downside is that:
 a) we impose the constraint that every deployment has at least two pods, and is rolled out a properly configured `RollingUpdate` strategy
 b) we need `db-awaiter` to learn about a new channel (either read from DB or k8s) to learn about "migration in progress"

I don't think we need

[2022-10-06 15:17] jimmybrancaccio opened #13656 "False Positive When Linting Large Amount of Files"
### Bug description

When in a workspace and when using a linter on a large amount of files (in this case ~7000 files) it will get caught by `agent-smith` and the workspace will be stopped and user blocked. I recommend viewing the attached support ticket for further information.

[Google Logs Entry](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-10-04T10:38:10Z;query=%2245554c37-

[2022-10-06 15:26] akosyakov commented on #13654
In which content it is relevant? Compatibility checks can be done with verifyPlugin command locally. We don't want to install from marketplace on backend since SH distribution should be self-contained.

[2022-10-06 15:43] thisisommore commented on #13650
Oh damn typo

[2022-10-06 16:31] tomatebeans commented on #12451
my recent changes is 22h2 windows 11 update, but I'm getting the same behavior, the `:tar-lp-reg-docker.8` is really not working while the default `:latest` is working.

- A
Tried it again, and the default `:latest` image has activity, and finished less than 6mins ( although it leads to the same issue) :
[cpu usage is about 35%, significant disk and wifi activity]
![image](https://user-images.gith

[2022-10-06 17:33] david-bakin commented on #13636
Should _also_ be rebuilt if `FROM` refers to an image which has changed in its repo (this happens when, e.g., the tag is `:latest`) (see [this comment](https://github.com/gitpod-io/gitpod/issues/11455#issuecomment-1188368440)).

[2022-10-06 17:53] vyas-n commented on #13191
Even with the live update feature, I'd still like for there to be a maintenance mode feature in Gitpod Self-hosted.

A couple of situations that I don't see live-update resolving are:
- Setting the maintenance mode for a cluster-wide change (for example, changing the default storage class for persistence volume claims)
- Migrating in-cluster gitpod dependencies to external dependencies (such as th

[2022-10-06 19:07] kylos101 commented on #10569
Removed from team workspace groundwork, this should be fixed by IDE team and [this PR](https://github.com/gitpod-io/gitpod/pull/11287), @svenefftinge @akosyakov @loujaybee for awareness. For example, the expectation is that docker-compose down will be run as part of shutdown, before content backup.

[2022-10-06 19:08] kylos101 commented on #13496
Removed from team workspace groundwork, this should be fixed by IDE team and [this PR](https://github.com/gitpod-io/gitpod/pull/11287), @svenefftinge @akosyakov @loujaybee for awareness. For example, the expectation is that docker-compose down will be run as part of shutdown, before content backup.

[2022-10-06 19:17] easyCZ commented on #13157
Metrics from server are coming through nicely on staging

![Image](https://user-images.githubusercontent.com/1419286/194399417-34ad7939-ab84-41f7-9bf8-293790119096.png)

However, metrics from `usage` include the full path in their labels which also includes Subscription IDs - this would lead to high cardinality of these metrics and will need to be reworked. We'll need to strip the IDs and sub-reso

[2022-10-06 21:27] andreafalzetti opened #13661 "[JetBrains] Integration tests fail silently for Gateway Plugin"
### Bug description

In [this workflow](https://github.com/gitpod-io/gitpod/blob/main/.github/workflows/jetbrains-integration-test.yml), we run integration tests of the JetBrains plugins, however, it seems to silently fail when there is an incompatibility with the JetBrains gateway.

In the following example, the gw plugin was not installed successfully however the GHA workflow passed successfully

[2022-10-06 21:56] aaronrodriguez-qz opened #13662 "Keyboard shortcuts don't work in GitPod Code when using alternative keyboard layout (Dvorak)"
### Bug description

OS: Ubuntu 20.04

Keyboard shortcuts involving any character that is mapped differently in the current keyboard layout (e.g. Dvorak) vs QWERTY do not work as expected. These shortcuts are only available using the physical locations of the letters/symbols on a QWERTY layout. The IDE doesn't respect the current keyboard layout when responding to keyboard shortcuts.

Examples:
`C

[2022-10-06 23:52] utam0k commented on #13639
:+1:

[2022-10-07 01:43] kylos101 commented on #13632
@jenting reassigned to you, thank yous!

[2022-10-07 06:56] #13632 closed

[2022-10-07 07:37] #12786 closed

[2022-10-07 07:39] akosyakov commented on #13496
@kylos101 agree that docker-compose down should be run, but users still can forget to do it when a workspace should restart regardless from backup, why does not it happen?

[2022-10-07 07:40] akosyakov commented on #10569
@kylos101 the same like here https://github.com/gitpod-io/gitpod/issues/13496#issuecomment-1271227907 There is no guarantee that a user does a right thing, why workspace cannot be restarted when they do wrong thing?

[2022-10-07 07:54] akosyakov commented on #13637
@spearki Unfortunately we blocked on it by https://github.com/microsoft/vscode-remote-release/issues/4589 It seems some  users are using socat to work it around [[1](https://github.com/microsoft/vscode-remote-release/issues/3922#issuecomment-727601356)]

[2022-10-07 08:19] svenefftinge opened #13666 "Workspaces hang in terminating when stopped after redeploy"
reproduce:
1) start a workspace in a preview environment
2) push a change so that the preview environment gets redeployed
3) try stopping the still running workspace.
4) observe it keeps hanging in Terminating

I'm not sure if this is specific to the preview environments or happens in other installations as well. In Saas we wouldn't see it because we create new clusters, but in Self-Hosted it coul

[2022-10-07 08:30] andreafalzetti opened #13668 "Workspace actions in VS Code Desktop are not visible in self-hosted installation"
### Bug description

Testing vscode desktop in self-hosted 2022.8 shows Gitpod actions requiring being owner of the workspace not being shown. Also, the make port public icon in the ports view was not working correctly.

It seems to be a bug on our gitpod remote extension, not able to recognise the owner.

### Steps to reproduce

- Spin up a self-hosted installation for 2022.8
- Try to make a port

[2022-10-07 08:59] shayani commented on #13496
I got another workspace (on same repository) that cannot start (https://gitpod.io/start/#eventaservo-eventaservo-59o3sm76wlw).

But the wrost thing is that I had unpushed changes on it that is lost now :(

[2022-10-07 09:01] shayani commented on #13496
Also, I use Gitpod for 3 repositories, but I'm only having this error in one of them... Why?

[2022-10-07 09:09] easyCZ commented on #13177
After some exploration and a sync with @svenefftinge, we'll take the following staged approach:

1. Firstly, we'll move the lookup of a customer to usage. This change will not necessarily improve the situation in terms of the error, but it will co-locate it such that we can better monitor and apply fixes in a single place.
2. Next, (based on metrics) we'll introduce a table which stores the (Strip

[2022-10-07 09:10] easyCZ commented on #13177
Over time, we'll also be looking to move the bulk of CustomerCreation and Subscription creation over to `usage` to co-locate it there. This will allow for the domain of usage & billing to sit solely with the `usage` component.

[2022-10-07 09:35] akosyakov commented on #13377
@jeanp413 Do we have an issue in upstream to link to?

[2022-10-07 09:38] akosyakov commented on #12448
I opened the issue in VS Code Java: https://github.com/redhat-developer/vscode-java/issues/2724

[2022-10-07 09:40] akosyakov commented on #13650
It was the issue with a user configuration, correct? Is there something else to do?

[2022-10-07 10:01] easyCZ opened #13674 "Investigate getWorkspace call degradation starting on Sept 22"
Investigate degradation identified in SLO - https://pyrra.gitpod.io/objectives?expr=%7B__name__=%22webapp-get-workspaces-latency%22,%20namespace=%22monitoring-central%22,%20team=%22webapp%22%7D&grouping=%7B%7D

[2022-10-07 10:14] laushinka commented on #13362
What do "old" mean from the users' perspective?

[2022-10-07 10:31] atduarte opened #13675 "Workspaces node pool is slow to scale up"
**Is your feature request related to a problem? Please describe.**
Whenever there's a big spike in started workspaces (e.g. morning starts in Europe) workspaces hang in "Preparing workspace" for a longer time.

**Additional context**
[Internal Slack thread](https://gitpod.slack.com/archives/C02F19UUW6S/p1665126551182899)

[2022-10-07 11:09] #13365 closed

[2022-10-07 11:33] Nefelim4ag commented on #13551
[imagebuild.log](https://github.com/gitpod-io/gitpod/files/9733498/imagebuild.log)
Another one on 2022.09.0-RC6

[2022-10-07 12:06] lucasvaltl commented on #12021
Ran into this again. Stopped two workspaces at the same time on an AWS Self-Hosted Environment (2022.09rc6). One was fine, the other showed the `The container could not be located when the pod was terminated` error. @nandajavarma will link asupport bundle with the logs. The workspace in question was: `lucasvaltl-getrobotisla-clmsdohpu5r.ws.release-aws.[...]`

[2022-10-07 12:17] nandajavarma commented on #12021
[Here is the link](https://vendor.replicated.com/troubleshoot/analyze/2022-10-07@12:15) to the support bundle for the `release-aws` cluster

[2022-10-07 12:44] ShaunSHamilton commented on #13609
Same for me. This is what I see in the console:

[code]

I have no idea if that second error at all relates 🤷‍♂️

[2022-10-07 13:50] kylos101 commented on #12318
@sagor999 here are some [recent traces](https://jaeger-us-prod.workspace-preview.gitpod-io-dev.com/search?end=1665150517397000&limit=1500&lookback=24h&maxDuration&minDuration&operation=finalizeWorkspaceContent&service=ws-manager&start=1665064117397000&tags=%7B%22error%22%3A%22true%22%7D), which may provide more clues. Could you peek at let me know? I'd like to add to groundwork next week, as it'll

[2022-10-07 14:16] axonasif commented on #13650
Yes, the path had a typo @akosyakov

But we could show an warning for that and not use the non-existent path.

[2022-10-07 15:43] mrzarquon opened #13682 "Dotfiles break in some proxy environments"
### Bug description

tl,dr; we don't honor no_proxy when cloning dotfiles.

Supervisor copies https_proxy and http_proxy into the git clone subroutine, but ignores the [no_proxy](https://github.com/gitpod-io/gitpod/blob/219b71f89423d90f72da13fd1810d4a04a9ec49d/components/content-service/pkg/git/git.go#L183-L196) value.

For users whose SCM instances that host their dotfiles repo are behind the pro

[2022-10-07 15:45] andreafalzetti commented on #13661
One way to detect this error is by inspecting the `idea.log` file as suggested by @felladrin 💡

Validated locally, eg: ` cat idea.log | grep "Problems found loading plugins"`

[2022-10-07 16:47] jeanp413 commented on #13377
Nope as I can't reproduce upstream with MS cdn, also workaround for this firefox bug is already there (empty script tag) and works with MS cdn

[2022-10-07 17:34] gtsiolis opened #13684 "Update billing account settings section"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/13564#discussion_r988911557 (Cc @jankeromnes), when users join and the UBP (Usage-based Pricing) is enabled for them, what they see under `/billing` can be confusing.
1. There's an unselected card which can be selected.
2. The footnote copy can be confusing and inaccurate, as we now support billing for personal accoun

[2022-10-07 18:10] mrzarquon commented on #11476
Cross Zone support will need to be tested. GKE has support for [region wide persistence](https://cloud.google.com/kubernetes-engine/docs/concepts/persistent-volumes#regional_persistent_disks), but EKS's GP2/ebs type doesn't.

In EKS, once a workspace is launched, it is tied to the availability zone it's PVC was created in. Which can be a problem if in the future that zone has 0 workspace nodes in

[2022-10-07 23:41] zeroZshadow commented on #7373
Traefik can currently be used, although it's not entirely idea.
You can change the deployment to use ClusterIP instead of LoadBalancer in the advanced settings, and then apply the following Traefik IngressRoutes to get the right traffic forwarding.

[code]

Make sure to update the namespace and domain names accordingly.

Sadly I havn't been able to use a normal `IngressRoute` due to gitpod not sup

[2022-10-08 02:05] kylos101 commented on #12747
👍 makes sense, you might need to increase the quota beforehand. Please submit a request a few days prior to increase the quota. @vulkoingim shared some advice on how to do, if you have any trouble or questions, let me know?

[2022-10-08 05:42] gengjiawen opened #13689 "vim not working due to server error"
### Bug description

[code]

### Steps to reproduce

install vscode-vim extension.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-10-08 06:24] adimitria commented on #3794
+1 from me, annual plan = less work when I send it to accounting

[2022-10-08 10:58] thisisommore opened #13691 "Weird error message when workspace is stopped"
### Bug description

This message comes when workspace is stopped, but it is weird since my workspace starts without any issues, happen to me second time
<img width="454" alt="image" src="https://user-images.githubusercontent.com/51229945/194704018-2d88e4a1-bdce-44a2-8dbc-24246b5d0b6e.png">

### Steps to reproduce

Open any workspace in gitpod
Stop it
And see the error

### Workspace affected

_No

[2022-10-08 11:57] Asmit2952 commented on #10479
Can I pick this up?

[2022-10-08 12:00] Asmit2952 commented on #10479
I checked the gitpod-vscode-desktop repo, and it already has an icon file in package,json. Is this issue fixed?

[2022-10-08 18:57] jeanp413 commented on #13513
@david-bakin Seems your repo is private so I couldn't test it myself https://gitlab.com/bakins-bits/env-wrappers-cpp.
But have you tried using https://github.com/vadimcn/vscode-lldb, it work pretty well for me debugging rust

[2022-10-08 19:16] jeanp413 commented on #11901
@ducphamle2 is there a reason why you have `workspaceLocation: '.'` in your gitpod.yml, if you remove it then vscode will open `/workspace/oraiwasm` by default

[2022-10-08 19:57] easyCZ commented on #13125
Since the rollout, the 500 errors have disappeared.

![Image](https://user-images.githubusercontent.com/1419286/194725737-d7505835-8ed9-4a6c-81f4-73e5958e6803.png)

Marking as complete.

[2022-10-08 19:57] #13125 closed

[2022-10-08 21:59] atduarte commented on #13689
High probability of being related with https://www.gitpodstatus.com/incidents/n3fmby1tdn01

[2022-10-08 22:13] david-bakin commented on #13513
Oops, fixed (access issue). Good to know about `vscode-lldb` - I've actually installed it as an extension but haven't tried it.  Will do so now and report back.

[2022-10-09 02:37] stillborn333 opened #13695 "dudi chaddouthit0@gmail.com"
## Is your feature request related to a problem? Please describe

## Describe the behaviour you'd like

## Describe alternatives you've considered

## Additional context

[2022-10-09 12:52] davemecha commented on #9262
I'm really not happy with the new ports view but I'm not sure if I should open new tasks for them. I've got the following issues.

* The new ports view is sooo slow. When opened, I have to wait too long till I can use it. (I assume this is already reported in #11426)
* I don't like the location of the new ports view. I often need to always see my terminal, but I also want to access the ports view.

[2022-10-09 13:07] davemecha opened #13698 "Ports view disappears after drag & drop (web)"
### Bug description

When moving the ports view to another location (e.g. into the side panel on the left) the view disappears and can not be activated from any menu any more.

### Steps to reproduce

* Drag the ports view and drop it into the left side-bar.
* The view does not appear

### Workspace affected

_No response_

### Expected behavior

The view should be visible where dropped

### Examp

[2022-10-09 14:39] jldec commented on #13635
Duplicate of #11452

[2022-10-10 00:11] kylos101 commented on #13633
Done last Friday.

[2022-10-10 00:11] #13633 closed

[2022-10-10 00:45] shayani commented on #13496
I removed Docker compose from my Gitpod configuration but still I'm having problems reusing a Workspace. Basically, ALL workspaces I create for this repository cannot be reused.

[2022-10-10 04:56] spearki opened #13700 "Dotfiles task hooks"
## Is your feature request related to a problem? Please describe
Users can currently control their baseline environment configuration via dotfiles, but the `install.sh` script is run before IDE startup, so there's a limit to what a user can customise for a particular repo.

## Describe the behaviour you'd like
Be able to run scripts from the user's dotfiles repo as a separate supervisor task at di

[2022-10-10 04:58] spearki commented on #13636
Thank you! Hopefully will help others avoid this pitfall in the future.

[2022-10-10 05:07] spearki commented on #13637
Understood @akosyakov, thanks for that context. We will probably just stick with local companion for now.

Possibly dumb question, but what's the difference between a remote extension and an SSH extension? You would need to handle the SSH part yourself in a remote extension?

[2022-10-10 06:41] wangsijie commented on #13489
Is there any updates?

[2022-10-10 07:19] #12795 closed

[2022-10-10 08:04] jankeromnes commented on #13389
In addition to the customizable / non-customizable / minimum value specs mentioned above, there is a suggestion by @svenefftinge to always ask new Stripe customers what limit they want when they sign up:

I've put the defaults into the usage component because of the get-or-create semantic of cost centers. But they will always be created as `billingStrategy: other` and Stripe cost centers are alway

[2022-10-10 08:30] easyCZ commented on #13389
While doing this, it would be great to do it in a such a way that it complements the other scheduled issue in the current sprint - https://github.com/gitpod-io/gitpod/issues/13198 - that is move more of the handling logic to usage.

[2022-10-10 08:36] #13695 closed

[2022-10-10 08:39] easyCZ commented on #13157
Fix for the high cardinality metrics is here - https://github.com/gitpod-io/gitpod/pull/13701

[2022-10-10 09:44] Nefelim4ag commented on #13551
[code]

[2022-10-10 09:46] Nefelim4ag commented on #13551
https://docs.docker.com/registry/spec/auth/token/

I already seen same sort of error in issues somewhere here.. but looks like your registry client are misbehaving

[2022-10-10 09:58] vulkoingim commented on #12747
I have requested an increase last Thursday, and have contacted our account manager to help push the case - I'll keep you posted with any news.

[2022-10-10 10:27] andreafalzetti opened #13707 "Integrate `gp cli` with `ide-metrics-api` for at least one command"
## Description
If we integrate `gp cli` with `ide-metrics-api` we can collect errors happening in the go client.

[2022-10-10 10:34] easyCZ commented on #13177
We've been able to reduce the calls to Stripe by leveraging the Cost Center.
* https://github.com/gitpod-io/gitpod/pull/13690
* https://github.com/gitpod-io/gitpod/pull/13704

[2022-10-10 11:29] akosyakov opened #13710 "reduce cost of supervisor observability"
See internal thread [[1](https://gitpod.slack.com/archives/C02F19UUW6S/p1665399481708829?thread_ts=1665126551.182899&cid=C02F19UUW6S)]

[2022-10-10 12:19] gtsiolis opened #13712 "Surface context on the workspace start page when creating a new or opening an existing workspace"
## Problem to solve

Currently, when users create a new workspace or open an existing workspace, they go through the **workspace start** page (Checking, Creating, etc) without surfacing the original context.

Sometimes, opening a workspace can take up to 5 minutes and users can be lost as we're showing a generic page for **_any_** context or repository they open.

### Proposal

There are several i

[2022-10-10 12:23] jmls commented on #13486
this is a real problem with us for one of our customers .. please can we have some feedback on this

[2022-10-10 12:24] jldec commented on #13155
This will also be resolved by #13564

[2022-10-10 12:30] easyCZ commented on #13239
@aledbf Looks like the rate limit either did not work, was not sufficient, or was not the cause of this issue. We're still observing this.

@akosyakov Has the randomized backoff change been released?

[2022-10-10 12:37] mads-hartmann opened #13714 "Leeway: Use branch build cache by default without requiring gcloud auth login"
Currently Werft and Gitpod Workspaces share the same Leeway cache. That's because `LEEWAY_REMOTE_CACHE_BUCKET` is set to `gitpod-core-leeway-cache-branch` in Gitpod workspaces and on branches in Werft and the default argument for `--cache` is `remote`

[code]

Notice that after using `gcloud auth login --no-launch-browser` and logging in, Leeway will use the cache rather than build all the depende

[2022-10-10 12:39] akosyakov commented on #13239
yes

@mustard-mh has a PR to improve decrease expose attempts for private, but we did not have time to review it yet

[2022-10-10 12:46] #13675 closed

[2022-10-10 13:30] easyCZ commented on #13239
I'm also moving the WebApp deploy 15 minutes earlier to get a clearer signal between IDE and WebApp rollouts - [PR](https://github.com/gitpod-io/ops/pull/5787)

[2022-10-10 13:36] meysholdt commented on #13598
hey @kylos101, do you have examples for PRs that got merged even though the tests were failing? I would like to understand better why failing tests are not blocking.

[2022-10-10 13:44] akosyakov commented on #13239
fyi we already moved deployment to 12 CET. there is 2 hours delay.

[2022-10-10 14:02] easyCZ commented on #13239
The updated rate limit looks to apply - we're seeing it at 72 per minute.

![Image](https://user-images.githubusercontent.com/1419286/194879639-fd237925-a47d-406a-97ff-dd1f57d665ed.png)

But we're still hitting it, and fairly regularly at 8.25 UTC.

I've adjusted the response codes from server to treat it as a 429 rather than a 500 [here](https://github.com/gitpod-io/gitpod/pull/13717)

[2022-10-10 14:13] jeanp413 commented on #7906
Let's just leave it as an opt in setting and remove the cofig cat key, also update docs.

[2022-10-10 14:14] easyCZ commented on #13239
Ah, didn't notice. Will close my change. Thanks!

[2022-10-10 14:16] stillborn333 opened #13719 "<div id="" class="vcard">"
https://github.com/danger/peril/issues/504#issue-1402133405

[2022-10-10 14:18] jeanp413 opened #13720 "Support porfile sync in sync server"
PR https://github.com/gitpod-io/gitpod/pull/13620

[2022-10-10 14:27] jeanp413 opened #13721 "Improve local port exposure"
PR https://github.com/gitpod-io/gitpod/pull/13449

[2022-10-10 14:28] #13721 closed

[2022-10-10 14:30] gengjiawen commented on #13689
Still not resolved

[2022-10-10 14:38] loujaybee commented on #13562
@iQQBot investigated - can you provide any information from that investigation, Pudong? We might need some more information before we can resolve.

[2022-10-10 14:40] #13719 closed

[2022-10-10 15:10] akosyakov commented on #9262
Yeah, we had it like that for 2 months and hoped that all users provided feedback [[1](https://www.gitpod.io/changelog/new-ports-explorer-changelog-view-and-connection-improvements-for-vs-code)]. A bit sad that feedback come so late. Right now we should discuss whether reintroduce the setting or address issues for new view.

[2022-10-10 15:54] axonasif commented on #12079
I'll try mentioning @jankeromnes from the webapp team, could you please help @Hardik500 with some clues 😇 ?

[2022-10-10 17:10] sonali-rajput opened #13726 "When switched to different go-version( from go1.19 to go1.18) sudo, make, pyenv command not found"
### Objective

According to my project requirements I had to run make generate for an older version of go.
when I installed the older version of go and tried setting its path as :

` export GOROOT=$(go1.18 env GOROOT)`
`export PATH=${GOROOT}/bin;${PATH} `
it shows :
` bash: /home/gitpod/sdk/go1.18.7/bin: Is a directory `
`bash: pyenv: command not found `

when running ` go version `
it shows:
`  g

[2022-10-10 17:26] shaoye commented on #12782
we can confirm it also doesn't work on EKS

[2022-10-10 17:32] adrienthebo commented on #11935
This looks like it's chatter from the VS Code remote host connector, @gitpod-io/engineering-ide can you take a look?

[2022-10-10 18:20] jeanp413 commented on #11935
yeah those come from the [kubernetes extension](https://github.com/vscode-kubernetes-tools/vscode-kubernetes-tools), not really much we can do about it, maybe report that to the extension repor and ask for a setting to disable it, or maybe remove vscode server logs out of pod logs and redirect to a file cc @akosyakov

[2022-10-10 19:14] kylos101 opened #13732 "IDE consumes system cache over time, causing long running workspace to get OOMkilled"
### Bug description

### A self-hosted customer reported
We’re seeing long-running pods get killed by k8s due to memory usage with our self-hosted installation.

I had assumed it was a memory leak or something else that we’re doing, but after testing it looks like the kernal cache is growing and eventually causing the pod to get killed. During that time there’s no real increase in memory usage by

[2022-10-10 20:05] loujaybee opened #13733 "Splash page for editor does not "scroll to view" dropdown."
**Steps to replicate (see video):**
* Open workspace on mobile with desktop IDE preference set
* Click to open browser

**Actual results**
* Clicking dropdown shows no visual change.

**Expected results**
* View is scrolled down or at least the dropdown is shown.

https://user-images.githubusercontent.com/5528307/194943789-dc557c9d-741a-44f0-8e15-6c39ad93be99.mp4

[2022-10-10 20:10] loujaybee commented on #13733
Closed as duplicate of: https://github.com/gitpod-io/gitpod/issues/9326

[2022-10-10 20:12] #13733 closed

[2022-10-10 20:18] kylos101 commented on #13732
@akosyakov @loujaybee for awareness

[2022-10-10 20:28] jldec opened #13734 "Incorrect billing mode for teams without usage-based billing configured"
Since #13461 was merged it appears that teams which have no billing configured are showing up in users's choice of "**Default Billing Account**".  e.g. In my case I see wow-team which was not there before and does not have UBP configured.

<img width="1064" alt="Screenshot 2022-10-10 at 22 25 14" src="https://user-images.githubusercontent.com/849592/194947021-07c1dc05-4186-4489-845e-4c2a756bd3cd.p

[2022-10-10 20:30] Pothulapati opened #13735 "[self-signed] workspace creation fails in `release-2022.09.0`"
### Bug description

On a self-signed instance of GItpod (for example `local-preview`), The workspace creation fails with a `CreateConfigError` in Kubernetes. Digging more on that we see the following error in Kubernetes

[code]

This seems to because of `NODE_EXTRA_CA_CERTS` being marked as a protected secret but still not rightly loaded into the workspace secret as a key. The same can be confirm

[2022-10-10 20:49] easyCZ commented on #13239
The linked issue https://github.com/gitpod-io/gitpod/pull/13449 looks super nice, it would remove the source of the requests and hence mitigate this issue 👀

[2022-10-10 22:00] Furisto commented on #13254
@kylos101 Let me restate this to ensure that we are on the same page: We currently have (slightly  simplified)
[code]
What you would like is for the user processes to run inside a different cgroup than workspacekit, supervisor and ide. Is that correct?

[2022-10-10 22:09] nVitius commented on #8778
Running into the same issue. Starting tailscale w/ the exit-node flag crashes the workspace.

[2022-10-10 22:42] jeanp413 commented on #13698
@davemecha I guess you are using firefox? This is duplicate of https://github.com/gitpod-io/gitpod/issues/13377

[2022-10-11 01:08] Nefelim4ag commented on #13551
Hm... do I need a calico cni on EKS to make gitpod work? Does calico required for anything else than just network security policies?

[2022-10-11 06:54] akosyakov commented on #11935
I think they are already stored in files, the question whether we would like stop logging IDE logs from supervisor at all. We do it for now to detect some exceptions. But since we have other means of error logging by now maybe we should give it a try.

[2022-10-11 06:55] jenting commented on #13353
Reopen it because it does not work as expected.

https://gitpod.slack.com/archives/C02F19UUW6S/p1665469849252539?thread_ts=1665464017.670309&cid=C02F19UUW6S

[2022-10-11 07:17] jldec opened #13741 "Bitbucket Server test instance for WebApp"
We need a straightforward way to deploy a Bitbucket Server (BBS) instance to test BBS integrations, prebuilds, webhooks etc.

For more context see (internal) threads [here](https://gitpod.slack.com/archives/C02EN94AEPL/p1665471875342609?thread_ts=1665404792.768879&cid=C02EN94AEPL) and [here](https://gitpod.slack.com/archives/C020VCB0U5A/p1665408144235579?thread_ts=1665406882.043179&cid=C020VCB0U5A

[2022-10-11 07:27] jldec opened #13742 "Mark Bitbucket Server (self-hosted Bitbucket) integrations as Beta"
Given that Private Bitbucket Server integrations with Gitpod have known gaps like @9012, it would be appropriate to signal this with a Beta tag in the docs and integration UI.

[2022-10-11 07:54] GitpodFrontApp commented on #8559
Hey Maxence,

Can you tell us more about the environment in which the cluster is running? With self-signed, We have some known issues in GKE, as GKE `containerd` does not support custom certificate.

—
Team Self-Hosted Community Captain
Gitpod | @gitpod

This is your Request ID: cnv_iucz34a

How would you rate our help?
{{survey}}

--- original message ---
On June 17, 2022, 7:55 AM GMT+5:30 ***@**

[2022-10-11 08:05] easyCZ commented on #13177
Moving to validation. We'll need to land the [remaining mitigation](https://github.com/gitpod-io/gitpod/pull/13704) and then monitor. Depending on resulting metrics we may be able to stop here.

[2022-10-11 08:17] easyCZ commented on #11452
Fix is [here](https://github.com/gitpod-io/gitpod/pull/13744)

[2022-10-11 08:19] davemecha commented on #13698
@jeanp413 No, I'm not using Firefox. I'm using Chrome OS on a Chromebook. And it doesn't appear to be a duplicate to me.

I don't have any issues with the ports view after launching the workspace. And it's not about the ports view being empty. It's just not there and cannot be retrieved.

[2022-10-11 08:23] easyCZ commented on #12886
What are the concrete requirements for migrations for Self-Hosted?
* Does the installation need to stay up and operation during the migration?
* Is the expected workflow to introduce downtime?

This significantly affects how the migrations should operate (and how (if) the db waiter should behave) - for example if continued uptime is required, we cannot apply the new version of deployments because

[2022-10-11 08:34] jldec commented on #13486
@jmls we're looking at this - can you confirm that this is only an issue with Bitbucker Server (not bitbucket.org cloud).

[2022-10-11 08:54] jldec commented on #12853
@sbhrule15 can you confirm that you are configuring bitbucket.org from a self-hosted instance of Gitpod and let us know the version?

Users connecting their accounts to bitbucket.org from gitpod.io (using the Gitpod-managed OAuth, not user-managed) see the full-set of OAuth scopes in their integration.

<img width="1111" alt="Screenshot 2022-10-11 at 10 48 24" src="https://user-images.githubuserco

[2022-10-11 08:59] #13486 closed

[2022-10-11 09:07] fergalquinn77 commented on #13020
Hi there,

I am also having issues logging into Heroku from this workspace. So if I
type heroku login or heroku login -i or heroku status - it just hangs..

On Mon, 19 Sept 2022 at 12:09, Fergal Quinn ***@***.***> wrote:

--
Fergal Quinn <https://www.linkedin.com/in/fergal-quinn-85247316/>
w: +353 (0)71 910 3201
m: +353 (0)87 667 8591
e: ***@***.***

[2022-10-11 09:08] loujaybee commented on #8191
Not sure if related (or fix in a separate ticket). But a comment from Discord:

[2022-10-11 09:10] jmls commented on #13486
@AlexTugarev awesome ! thanks - any expectation of eta so I can inform the customer ?

[2022-10-11 09:21] #11452 closed

[2022-10-11 09:53] AlexTugarev commented on #13486
@jmls, I'll try to verify that workspaces do start as expected for branch contexts once the running deployment is done, then post an update here.

[2022-10-11 10:00] jldec opened #13749 "Admin dashboard pagination is broken"
- Search for "gitpod"
- Click on page 3 at the bottom - expect to see last page with the "Gitpod" team at the end - but nothing happens
- Click on page 1 - last page appears with "Gitpod" team at the end

[2022-10-11 10:16] jldec commented on #9292
Updated description with partially completed sub-issues and marking as done for Q3.

[2022-10-11 10:16] #9292 closed

[2022-10-11 10:19] axonasif commented on #13020
Hey @fergalquinn77, I'm unable to reproduce. How did you install it?
I just did:
[code]
<img width="819" alt="Screenshot 2022-10-11 at 4 19 45 PM" src="https://user-images.githubusercontent.com/39482679/195065096-5808730f-f142-4bd5-bc05-494ee3b4b51e.png">

[2022-10-11 10:26] corneliusludmann commented on #13551
Hi @Nefelim4ag! I'm afraid we can't do much here to support your case. It seems that for some reason Docker Hub is not reachable. Maybe you are using a HTTPS proxy? I would recommend that you're asking your questions in the [Gitpod community](https://www.gitpod.io/chat) instead. There are other members who might be able to help you to investigate your case.

By the way: We do not support Harbor cu

[2022-10-11 10:26] #13551 closed

[2022-10-11 10:28] akosyakov commented on #13698
@jeanp413 could you have a look again please

[2022-10-11 10:39] jldec opened #13754 "Epic: Improve workspace starts with prebuilds on busy repos"
Users are often blocked waiting for prebuilds when they try to start workspaces on repositories which see frequent commits and have a long prebuild time.

This epic aims to address the problem in stages.

- [x] #13900
- [x] #12582
- [x] #12583

[2022-10-11 10:46] andreafalzetti commented on #8474
<img width="804" alt="Screenshot 2022-10-11 at 11 45 53" src="https://user-images.githubusercontent.com/2318450/195070354-be1a8f69-60e7-401d-8906-3f7078947885.png">

This is now available, am I missing anything or shall we close the issue?

cc @loujaybee @mikenikles

[2022-10-11 10:48] axonasif commented on #13700
Hey @spearki, actually there are many ways you can detect things within a Gitpod workspace.

There are certain environment variables, state files. And there's also `gp` CLI for you to query a few things.

This might be useful for some usecases but what I've found is, for vscode, it's better to do before vscode server starts.
- If you wish to wait for VSCode-Web to start, [here's an example](https:

[2022-10-11 11:51] #13381 closed

[2022-10-11 11:51] #13385 closed

[2022-10-11 11:51] felladrin opened #13761 "Automatic Port Forwarding stopped working on JetBrains EAP IDEs"
### Bug description

Automatic Port Forwarding stopped working on JetBrains EAP IDEs.

### Steps to reproduce

1. Start a workspace from [https://github.com/gitpod-io/empty](https://github.com/gitpod-io/empty) using the Latest IntelliJ IDEA
2. Open a new terminal and check that when running `python3 -m http.server 2593` it doesn't automatically forwards the server port, so we're unable to access t

[2022-10-11 12:00] shyim commented on #8623
I would like to use this feature to clone my repository inside another repository.

For the context: My repository is an extension for another.  So I have to install first the other repository and clone my repository inside a specific folder.

For this I would like to install inside an `additionalRepository` my repository. I did that currently all using init section and moving files, but this brea

[2022-10-11 12:03] kradchenko commented on #11696
Hi @gtsiolis! I would like to work on this issue!

[2022-10-11 12:05] gtsiolis commented on #11696
You're welcome, @kradchenko! Feel free to mention this issue once you open a pull request to resolve this. 🏓

[2022-10-11 12:19] AlexTugarev commented on #13486
@jmls, it looks good now. I could start workspaces for branch URLs.

[2022-10-11 12:22] gtsiolis opened #13764 "Always display the absolute time in a tooltip when using the relative date and time format"
### Problem to solve

We've been using **relative** and **absolute** date and time formats across the product. For example, see [projects](https://gitpod.io/t/gitpod/projects), [members](https://gitpod.io/t/gitpod/members), and [usage](https://gitpod.io/t/gitpod/usage) for the Gitpod team in Gitpod.io.

Generally, both absolute and relative formats can be useful depending on each use case. 💡

:a:

[2022-10-11 12:26] gtsiolis commented on #13217
@jimmybrancaccio This seems like a valid feature request. Thanks for the ping, @geropl! 🏓

**suggestion**: Adding a tooltip on the relative date and time make sense!

---

Pasting from a follow-up issue in https://github.com/gitpod-io/gitpod/issues/13764 to describe the general problem and how to approach a solution holistically:

[2022-10-11 12:46] mikenikles commented on #8474
The new ports UI is great and resolves this. It doesn't work in Firefox though, that's tracked in #13377.

[2022-10-11 12:46] #8474 closed

[2022-10-11 12:51] jldec opened #13765 "Epic: MVC API for user and team management"
Enterprise customers need to automate their Gitpod user management so that they can onboard and maintain users in their Gitpod teams.

The goal of this epic is to provide a minimal solution for user management through an API.

Details and breakdown tbd.

[2022-10-11 12:59] loujaybee commented on #7184
Moving to Q4 on roadmap, however most of the critical issues are now addressed, we mostly just need to update docs and announce! ... Watch this space !

[2022-10-11 13:01] mads-hartmann opened #13767 "Preview: Improve cache-hit of dev/preview:build"
Currently the "cache hits" for `leeway build` in a Workspace is not the same as in Werft - `leeway` wants to build a lot more packages when executed in a Gitpod workspace

Screenshot of Leeway plan in Werft

![Image](https://user-images.githubusercontent.com/83561/195097214-fa5c5a28-3ece-467b-8788-a89a684a3f0f.png)

Screenshot of Leeway plan in Gitpod workspace

![Image](https://user-images.github

[2022-10-11 13:26] shyim opened #13770 "Jetbrains: Installing extensions does not work with prebuild enabled"
### Bug description

When you add Jetbrains extensions to your gitpod.yml and later enable prebuild. The extensions will not be installed anymore.

### Steps to reproduce

Have a gitpod with

[code]

It works

Enable prebuild in gitpod

The extensions are missing now

### Workspace affected

_No response_

### Expected behavior

The extensions are always installed

### Example repository

_No resp

[2022-10-11 13:38] mrzarquon opened #13771 "Incorrect rolesAndPermissions field values in a users mysql entry causes workspace failures"
### Bug description

If a user account has incorrect values for `rolesAndPermissions` in their mysql record, they are unable to launch workspaces and get a generic `headless error: 1` message, and service logs make it appear as though it is a permissions issue with either the host of the workspace-images repository or the source of the workspace-base image. Since most users don't realize what exac

[2022-10-11 14:01] easyCZ opened #13773 "Remove Probe Workspaces Garbage collector"
With all the Probe Workspaces now deleted, we can remove the garbage collector - revert this PR https://github.com/gitpod-io/gitpod/pull/13713

[2022-10-11 14:07] kylos101 commented on #13735
Hi @Pothulapati thank you for the report!

Customers can workaround this by disabling the feature at install time with a patch like so:

[code]

However that does carry some risk (outlined [here](https://www.gitpod.io/security/log)).

As background, we enabled protected secrets by default [here](https://github.com/gitpod-io/gitpod/pull/13664).

[2022-10-11 14:15] kylos101 commented on #13735
@Pothulapati it looks like this is blocking `local-preview`. Have you been able to confirm if it is blocking a single cluster ref arch that is using self-signed certs?

[2022-10-11 14:23] SethG911 commented on #10032
This is not true. Github Copilot can be used in a myriad of IDEs and on any repo type, not just Github. I use it in combination with my Gitlab repos all the time and I even use it in other Visual Studio Code Server instances/providers. There is no reason that GitPod should not be able to handle this. I can install the extension manually, but it fails to authenticate. Again, I don't have this issue

[2022-10-11 14:27] Pothulapati commented on #13735
:wave: Good Morning, @kylos101 !

Currently, I can only confirm that it fails in local-preview which is a self-signed instance, but I am verifying the same in `self-signed` AWS now. Will update once I get this up! 👀

Correct. Because we haven't done a `local-preview` release yet so no user effect yet. We should add the configuration that you specified if we plan to do a release.

[2022-10-11 14:42] easyCZ commented on #11315
All probe workspaces have been deleted from SaaS.

I've created a follow-up to remove the garbage collector - https://github.com/gitpod-io/gitpod/issues/13773. Closing as complete.

[2022-10-11 14:42] #11315 closed

[2022-10-11 14:47] kylos101 opened #13774 "[dev image] use a Jammy based base image"
Update [this image](https://github.com/gitpod-io/gitpod/blob/8dc8bea32b67fe6a93d54e84a9ee05aa52191961/dev/image/Dockerfile#L5), to use a Jammy based image, which'll help us dogfood Jammy usage in Gitpod.

Related:
https://github.com/gitpod-io/workspace-images/issues/810
https://github.com/gitpod-io/workspace-images/pull/932
https://github.com/gitpod-io/workspace-images/pull/814

[2022-10-11 14:50] mrzarquon commented on #12012
@geropl the secret reference works for me, refreshing the CA contents is likely not what cert-manager is equipped to do (it is about updating and refreshing client certificates from a CA, but not refreshing a generic secret that happens to be a CA pubkey by downloading a new pub key from a url endpoint.)

[2022-10-11 15:02] jldec commented on #13754
#### Related issues
- #5941
- #6815
- #9789

[2022-10-11 15:19] axonasif commented on #10032
@SethG911 there are licensing issues with using Copilot outside of Github/Microsoft owned interfaces.

You can use it by opening your workspace on local vscode (the Proprietary VSCode, not https://vscodium.com/)

If GitHub ever decides to publish `GitHub Copilot` on https://open-vsx.org, we can officially use it on Gitpod and other VSCode clients.

[2022-10-11 15:30] dalisoft opened #13776 "SSH not connectable on macOS"
### Bug description

I'm cannot connect to Gitpod via Gitpod Remote. First think it's bug on my side and re-checked my all access, SSH keys and etc, debugged and searched logs and found the reason all is OK but just bug on my macOS

Report bug: `unix_listener: path "/tmp/dalisoft-vscodeworkspac-{RANDOM}@dalisoft-vscodeworkspac-{RANDOM}.ws-eu70.gitpod.io:22.P4x8eOXXXXXTlZ1M" too long for Unix domai

[2022-10-11 15:52] mikenikles opened #13777 "Sort Ports view"
## Is your feature request related to a problem? Please describe
No.

## Describe the behaviour you'd like
I'd like the Ports view sorted by port so I can find the one I'm looking for quickly.

## Describe alternatives you've considered
None.

## Additional context
My project has 14 open ports, having them sorted would make it easier to find the one I'm looking for.

[2022-10-11 16:04] mikenikles opened #13778 "Two browser tabs open when I click a port's address"
### Bug description

When I click the "Address" of a port in the Ports view, it opens two browser tabs instead of one.

### Steps to reproduce

1. Start a workspace for https://github.com/gitpod-io/website
2. Open the **Ports** view
3. Click on the "Website(3000)" port's **Address** URL

### Workspace affected

All

### Expected behavior

One browser tab opens.

### Example repository

https://git

[2022-10-11 16:04] jldec opened #13779 "Epic: Improve UX of searches and lists in the admin dashboard"
- [ ] Perform a sensible search when opening for the first time
- [ ] Paginate search results
- [ ] Use reasonable defaults for ordering
- [ ] Provide an indication in the UI which attributes are being searched e.g. "Search for users by email, git ID, and name."
- [ ] Don't include deleted data in the results (or make that optional)
- [ ] Use URL parameters so that searches can be shared and bookm

[2022-10-11 16:10] jmls commented on #13486
thanks, will let the customer know

[2022-10-11 16:24] ducphamle2 commented on #11901
I just tested by removing the workspaceLocation, and it worked! Somehow I thought it was mandatory to set a workspaceLocation variable. Thank you!

I think we can close this issue now

[2022-10-11 17:14] #11901 closed

[2022-10-11 17:40] dalisoft opened #13782 "Slow startup performance"
Type: <b>Performance Issue</b>

Hi GitPod teams.
I'm today got Open-Source plan from GitPod, i'm so happy and started tested but found it slow-downs my SSH connection and Startup performance.

I hope it can help fix issue.
Startup sometimes 1-second, sometimes 120ms but it's the longest started extension

- [Global settings](https://github.com/dalisoft/vscode-config/blob/master/settings.config.jso

[2022-10-11 18:16] Pothulapati commented on #13735
@kylos101 Can confirm that the issue also happens with self-signed EKS instance. I have one at `https://3c759-aws.tests.gitpod-self-hosted.com/workspaces`, but you can get the same by running

[code]

[2022-10-11 19:18] lucasvaltl commented on #10461
Marking this as complete - @MrSimonEmms is the outstanding issue (https://github.com/gitpod-io/gitpod/issues/10908) still relevant?

[2022-10-11 19:18] #10461 closed

[2022-10-11 19:23] lucasvaltl commented on #11316
This is somewhat solved by https://github.com/gitpod-io/gitpod/pull/13123 - will close this for now. @Pothulapati feel free to reopen if you think this is still relevant even with the fixes mentioned above.

[2022-10-11 19:23] #11316 closed

[2022-10-11 19:24] lucasvaltl commented on #9075
Removing from Q3 roadmap and closing this as we need to replan this - most of this has been done though, the issues left are either hard to do or not planned.

[2022-10-11 19:58] nVitius commented on #6687
@loujaybee @geropl
Can we re-open this issue?

Right now I'm having to conditionally enable `Access-Control-Allow-Credentials` if I detect that my app is running on gitpod. It would be nice if the proxy handled that for us.

[2022-10-11 20:03] loujaybee commented on #13777
Hey @mikenikles — just checking, if this is already covered by:

1. https://github.com/gitpod-io/gitpod/issues/7764

Also, possibly related:

1. https://github.com/gitpod-io/gitpod/issues/10294
1. https://github.com/gitpod-io/gitpod/issues/10275

If you think it's sufficiently different happy to keep, but wanted to signpost those others as potential duplicates.

[2022-10-11 20:22] jimmybrancaccio commented on #13732
As a side note, I am having users in support tickets whom are reporting this to run the following in a workspace and then to send me over the created log file:

[code]

[2022-10-11 20:22] jimmybrancaccio commented on #13254
As a side note, I am having users in support tickets whom are reporting this to run the following in a workspace and then to send me over the created log file:

[code]

[2022-10-11 20:34] mikenikles commented on #13777
Yes, #7764 covers it.

[2022-10-11 20:34] #13777 closed

[2022-10-11 20:34] kylos101 commented on #13254
Potentially? What would the user experience be like if we did that? For example, would user processes be oom killed within the workspace, making it less likely for the workspace to be oom killed? Assuming the IDE and extensions memory usage remains low.

[2022-10-11 20:54] jeanp413 commented on #13698
Fixed in https://github.com/gitpod-io/openvscode-server/commit/4e566342849b494651383099088327dfeab91c86, should be deployed with vscode recovery release tomorrow

[2022-10-11 20:54] #13698 closed

[2022-10-11 21:11] chuck-confluent commented on #12217
I've been experiencing this.

.gitpod.yml file:
- https://github.com/confluentinc/demo-database-modernization/blob/3d7e9a692ed2197240bd85ed4468687084354c6c/.gitpod.yml

Prebuild logs:
![image](https://user-images.githubusercontent.com/48225759/195198819-f3f87f7e-3ef8-4fbb-91f1-6b7b46ac0447.png)

My python virtual env is being created, packages installed, and the CLI is being installed in prebuild.

[2022-10-11 21:24] davemecha commented on #9262
Sorry I missed that. Unfortunately sometimes I don't check the changelog. Maybe you could add a feature to suggest new experimental features to users in the UI (with an option to easily toggle the features, like e.g. Google does this sometimes). With this users would get easier aware of changes, possibly trying stuff more often so you might get more feedback.

[2022-10-12 00:25] nVitius opened #13785 "Tailscale DNS does not work"
### Bug description

Following the documentation on https://www.gitpod.io/docs/integrations/tailscale leads to a Tailscale installation that does not work with Tailscale's DNS.

There's some more history on that problem in this issue:
- https://github.com/gitpod-io/gitpod/issues/8049 (See [comment](https://github.com/gitpod-io/gitpod/issues/8049#issuecomment-1037491970))

Also an open issue on Tai

[2022-10-12 00:46] nVitius commented on #8778
The output from `ssh -vvv` when connecting to a workspace via ssh after trying to start tailscale with an `--exit-node` option:
![image](https://user-images.githubusercontent.com/3804041/195223773-ba3a155c-160e-4e37-b184-74e13056a048.png)

[2022-10-12 01:05] nVitius commented on #13785
For what its' worth, I also tried updating to tailscale `1.30.2` and saw the same issue.

[2022-10-12 01:15] utam0k commented on #13254
I expect the user's process to be OOM because the mem hard limit of the user's cgroup is smaller. The supervisor should remain and the workspace should remain.l

[2022-10-12 01:19] utam0k commented on #13254
Another way to do this is eventfd. This is a function that can detect OOM events in the cgroup and process them in userland. I haven't tried it, but it should be possible with `memory.oom_control` and `cgroup.event_control`. I can't be sure if it is really possible without spending a bit of time on it. In other words, ws-daemon would pick a process and kill it before the OOM of the workspace. Mayb

[2022-10-12 01:44] adrienthebo commented on #9618
Thanks for submitting this! We see this as an issue coming up and will look into it; we may adopt something like this to support our [reference architectures](https://github.com/gitpod-io/gitpod/issues/12714).

[2022-10-12 01:45] kylos101 commented on #13735
Okay, thanks @Pothulapati . :grimacing: For the meantime, I think we'll need to recommend the :point_up: workaround till a fix is pushed. Would it be appropriate to add a comment in the September Upgrade instructions?

I'd love to wait till the next self-hosted release, if possible, to ship a fix. Let us know your thoughts? The trade-off of using the workaround (disabling `protected_secrets`) is t

[2022-10-12 02:02] kylos101 commented on #13282
@jenting can you share why this moved back from In-Validation, and what the plan is for next steps here, in this issue? Also, this seems like it will be a blocker to releasing PVC to a larger group (other than Gitpodders). cc: @sagor999

[2022-10-12 02:05] kylos101 commented on #11852
@sagor999 could you peek at the new logs, to see why the workspaces are stopping, to help form a plan of attack for this? I'm going to move this from Scheduled to the Inbox for now.

[2022-10-12 02:38] jeanp413 commented on #12633
Fixed upstream https://github.com/microsoft/vscode/pull/163389, will cherry-pick it, will be in tomorrows insiders and in the next stable release 1.73

[2022-10-12 02:38] #12633 closed

[2022-10-12 04:08] jenting commented on #13282
The original solution has side effect that the workspace can not be terminated because we delete PVC object too early which makes the PVC in terminated state (thank to finalizer). However, when snapshot controller takes snapshot, it adds finalizer to PVC object but it fails because the finalizer can't add when object is terminated. So, the snapshot failed.

I think it's not blocker because the PVC

[2022-10-12 06:12] jenting opened #13787 "loadgen: support parallel loadgen running"
## Is your feature request related to a problem? Please describe

In our deployment test case, we need to run two loadgen in parallel to make sure the functional works as expected.
1. start the first loadgen run and leave it running
1. wait for the first run reaches the #workspaces
1. start the second loadgen run while stopping the first loadgen run

During the step 3, there are some problems:
- t

[2022-10-12 07:37] easyCZ commented on #13362
We currently have two datasets that define information relating to Workspace Classes.
1. [config](https://github.com/gitpod-io/ops/blob/208e9f7b2dc264c68a01a89ef763de43f680315e/deploy/production/meta-eu02/app/installer-config.yaml#L186-L218)
2. [usage config](https://github.com/gitpod-io/ops/blob/208e9f7b2dc264c68a01a89ef763de43f680315e/deploy/production/meta-eu02/app/installer-config.yaml#L177-L1

[2022-10-12 08:12] MrSimonEmms commented on #10461
@lucasvaltl no, that's sort of a duplicate of the "check config" preflight - will close

[2022-10-12 08:12] MrSimonEmms commented on #10908
No longer necessary

[2022-10-12 09:16] Weidav opened #13793 ""Open in Integrated Terminal" won't work in VS Code"
### Bug description

A right click on a folder and "Open in Integrated Terminal" just opens a terminal in home directory, and not the selected directory.
This happens only in VS Code, in the browser it works.

### Steps to reproduce

- open a workspace
- Gitpod: open in VS Code
- right click on a folder other than home-dir

### Workspace affected

_No response_

### Expected behavior

_No response

[2022-10-12 09:37] jenting commented on #12747
Leaving a note here.

Running 1k workspaces test took over 1 hour, so we had to increase the workspace timeout from 1 hour to 3 hours before running the loadgen test. Otherwise, after the loadgen reaches 1k workspaces, the number of running workspaces would be less than 1k.

[2022-10-12 09:41] jenting commented on #12747
We need to increase the workspace timeout from 1 hour to 3 hours before running the loadgen test.
![image](https://user-images.githubusercontent.com/49380831/195308372-dc3b3ad5-1db8-4c90-986a-7097903db44f.png)

The workspace startup time is under 8.53 mins.
![image](https://user-images.githubusercontent.com/49380831/195308423-223ab817-8f43-40ca-a1aa-59312a031aaf.png)
![image](https://user-images.g

[2022-10-12 10:08] mustard-mh commented on #13239
Ports local expose works well so far [[grafana](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%28rate%28grpc_client_handled_total%7Bgrpc_method%3D%5C%22ControlPort%5C%22,%20service%3D%5C%22gitpod-server%5C%22%7D%29%29%22,%22legendFormat%22:%22__auto%22,%22range%22:true,

[2022-10-12 10:41] mthmulders commented on #11368
Rather than ignoring the issue for three months and then announcing to close it, would it be possible to actually give a meaningful reaction to my question/report?

[2022-10-12 10:55] tnir commented on #8812
Will check it out later.

[2022-10-12 11:03] TomCools commented on #11368
Let's go to the Gitpod booth at Devoxx? :-)

[2022-10-12 11:35] Furisto commented on #13254
I have been thinking in the same direction, specifically I was inspired by what Facebook has done with [oomd](https://facebookmicrosites.github.io/oomd/). Oomd would not work for self-hosted as it only supports cgroup v2, but the principle is interesting. We could use oomd for SaaS and write our own implementation for cgroup v1 or just use our own implementation for both.

Another option that coul

[2022-10-12 11:45] dragonDScript commented on #6967
Don't stale

[2022-10-12 11:47] easyCZ commented on #13157
Metrics are now exposed properly [see dashboard](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22gitpod_stripe_requests_completed_seconds_count%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22instant%22:true%7D%5D,%22range%22:%7B%22from%22:%22now-1h%22,%22to%22:%22now

[2022-10-12 11:47] #13157 closed

[2022-10-12 11:49] easyCZ commented on #13177
So far, this has been working well. We've also got observability into the errors in [metrics ](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22gitpod_stripe_requests_completed_seconds_count%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22instant%22:true%7D%5D,%22range

[2022-10-12 12:06] easyCZ commented on #13362
@gitpod-io/engineering-workspace What's your appetite for including `credits` in the definition of a Workspace Class?

[2022-10-12 12:15] andrew-farries opened #13800 "Sync the `d_b_workspace_cluster` table"
As part of https://github.com/gitpod-io/gitpod/issues/9198 we want to start syncing the `d_b_workspace_cluster` table with `db-sync`.

Currently, the table differs between US and EU regions because each table contains only the data relevant to that region. For example, in the EU table, the `eu70` workspace cluster is marked as available and the `us70` cluster is cordoned. In the US cluster `eu70`

[2022-10-12 12:36] shyim opened #13802 "Gitpod ports await look also is the service available"
## Is your feature request related to a problem? Please describe
When you start a MySQL server in Docker and you want to execute a MySQL command directly it's annoying as you have to wait for the right moment where the server is available

With `gp ports await 3306` you get notified when the port is reachable. But port reachable is not the same as useable. You get then weird errors like `MySQL ser

[2022-10-12 12:53] jldec opened #13804 "Prorate final payment when individual users cancel their $€ 9.00 paid subscriptions."
When users cancel a paid subscription which includes a credit allowance, like the personal paid plan, they should not be penalized for cancellations right after subscribing, or at the start of a billing period.

#### Effect of cancellation:
- Issue final invoice for that month.
- Usage limit drops back down to the free plan limit (500 credits).
- The charge for the $€ 9.00 flat-rate amount is pro-

[2022-10-12 12:57] jldec commented on #12623
Unscheduled because AFAIK this has not come up again in any support requests.

[2022-10-12 13:40] jimmybrancaccio opened #13807 "No Button to Start Workspace When In-Progress Prebuild Finishes"
### Bug description

When a user goes to start a new workspace and a prebuild is in-progress for the context the user will see a 'prebuild in-progress' screen. When the prebuild finishes no button or option shows to then start up a workspace from that prebuild. Even refreshing the page may not show the prebuild has been completed, they may instead see that a new prebuild has been started and thus

[2022-10-12 14:16] jimmybrancaccio commented on #11162
This happened to me the other week again. I booted up my server and had ~400 versions between what I had installed and the latest version. I ended up shutting down my cluster so it wouldn't case rate limiting at Docker.

I would say this is a low priority because I am probably one of the few using the Unstable channel, but it would be very helpful to have an option to skip these pre-flight checks,

[2022-10-12 14:19] chriswyatt1 commented on #13608
Awesome, worked great, thanks @axonasif

[2022-10-12 14:19] #13608 closed

[2022-10-12 14:28] adrienthebo commented on #13441
Does [this](https://github.com/gitpod-io/gitpod/blob/main/dev/image/Dockerfile#L183-L189) cover the need for AWS?

[2022-10-12 14:55] adrienthebo commented on #12690
Closing this as part of housekeeping, apologies if this is still needed 😊

[2022-10-12 14:55] #12690 closed

[2022-10-12 15:01] jldec opened #13809 "Replace ¢ with $ and clarify Balance in UBP billing settigs UI"
- Users will understand $0.10 more easily than 10¢ when they read descriptions of plans in the UI.
- The indicator shows used credits but the word `BALANCE` suggests that it shows remaining credits. How about `BALANCE USED` instead?

[2022-10-12 15:20] axonasif commented on #13778
Hey @mikenikles 👋
I tried the following on google chrome:
- `python -m http.server 3000`
- And then click the 🌏 button on ports list to open a browser tab

But was unable to reproduce, could you please share us the [logs](https://www.gitpod.io/docs/help/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop) when you notice this again 🙏 ?

[2022-10-12 15:23] jimmybrancaccio opened #13810 "Do Not Display 'Open in VS Code Desktop' Button When Opening a Shared Workspace"
When I have set VS Code desktop as my default IDE under Settings > Preferences and then open a shared workspace URL I see a green button 'Open in VS Code Desktop'. At this time however [shared workspaces cannot be opened in VS Code desktop](https://www.gitpod.io/docs/configure/workspaces/collaboration#sharing-running-workspaces) thus making this button confusing or mis-leading.

I believe we could

[2022-10-12 15:33] axonasif commented on #13778
Also tried on Firefox with https://github.com/gitpod-io/website r8n.

[2022-10-12 16:03] mikenikles commented on #13778
I tried again now and it doesn't happen. If only Gitpod publicly shared when releases happen and what exactly was deployed as part of it, the community could actually determine what may have fixed/broken stuff. Not your fault Asif of course, but @JohannesLandgraf could do something about it if he wanted to.

[2022-10-12 16:08] abitrolly opened #13812 "Customizeable favicon for workspaces, different icon for www.gitpod.io"
## Is your feature request related to a problem? Please describe

I'm always frustrated when I need to find and switch to Gitpod workspace tab after visiting a dozen of references.

## Describe the behaviour you'd like

1. Different tab icon for the main site at www,gitpod.io and tab with Gitpod workspace
2. Customizable icon for workspace in `.gitpod.yml`
3. Different favicon when workspace is lo

[2022-10-12 16:11] csweichel commented on #13735
Do we understand how these two things interact? I.e. why self-signed certs stop working, where they break and how that's related to protected secrets?

[2022-10-12 18:35] huweiATgithub opened #13815 "JetBrains server starts without loading user's bashrc"
### Objective

I ran into an issue when using PyCharm with the [workspace-full](https://hub.docker.com/r/gitpod/workspace-full).
The server-ide started without the initialization steps defined in `.bashrc`.

## Description and how to reproduce
- Launch any workspace with PyCharm and workspace-full image.
- Create a python script and run it using PyCharm's run [configuration](https://www.jetbrains.

[2022-10-12 19:00] jeanp413 commented on #13662
@aaronrodriguez-qz that's expected, because limitation in browser there's only a few keyboard layouts harcoded in vscode itself, so to make it work you need to explicitly tell vscode your key mappings
1. Open vscode desktop and run `Developer: Inspect Key Mappings (JSON)` command, this will open a file with the key mappings
2. Open gitpod code in browser and run `Change Keyboard Layout` command, s

[2022-10-12 19:00] #13662 closed

[2022-10-12 20:59] chuck-confluent commented on #12217
I just tried with a different github account in an incognito browser and it worked as intended. There's some weird auth issue happening. Try logging out and logging back in or even clearing your browser cache.

[2022-10-12 21:46] sagor999 commented on #11852
Hm. I looked in traces (US) and looked in GCP logs for that error and cannot find one.
:thinking:

[2022-10-12 21:48] mikenikles commented on #13778
It's back 🎉. I emailed the logs as requested.

https://user-images.githubusercontent.com/788827/195453904-6f2a0ff4-cb5a-41b3-b6aa-d1771fcc031f.mov

[2022-10-12 23:36] utam0k commented on #13254
@Furisto PSI is a very interesting tech to me, but I was concerned that oom(PSI) might lead to complications for our product. WDYT? I think simple is better. I think all approaches are effective in their own way. Excellent. As for cgroup v2, can't memory QoS deal with this to some extent?

But this issue hasn't been put into the schedules column. Why not list the methods in order of cost-effective

[2022-10-13 00:21] kylos101 commented on #13735
Hi there, @utam0k is going to take a look at this issue, to see if we can patch the September release.

cc: @lucasvaltl @corneliusludmann @Pothulapati

[2022-10-13 00:40] utam0k commented on #13254
I think we should socialize in RFC before attempting. WDYT?, @Furisto

[2022-10-13 01:28] jenting commented on #12364
[Internal discussion thread](https://gitpod.slack.com/archives/C020VCB0U5A/p1661406662631689)

[2022-10-13 01:37] mbrevoort opened #13819 "VSCode Ports list on Safari broken icons"
### Bug description

The ports list in VSCode on Safari has broken icons. See the comparison between Chrome and Safari (Version 16.0 (17614.1.25.9.10, 17614))
<img width="1330" alt="image" src="https://user-images.githubusercontent.com/30455/195478429-c1fe2135-614a-432e-99a4-4d16db2efe03.png">

### Steps to reproduce

1. Open a workspace with ports like https://gitpod.io/#https://github.com/gitpod

[2022-10-13 01:41] kylos101 commented on #12364
[Related grafana that may help us compare cluster generations in the future](https://grafana.gitpod.io/explore?left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22datasource%22:%7B%22type%22:%22prometheus%22,%22uid%22:%22P4169E866C3094E38%22%7D,%22exemplar%22:false,%22expr%22:%22%23%20gen71%20regular%20workspaces%5Cn%20%20%28%5Cn%20%20%20%20%28%5Cn%20%20%20%20%20%20%28sum%20by%

[2022-10-13 02:01] mbrevoort commented on #13778
Logs attached for that session:
[vscode-web-logs-20221013T015851.zip](https://github.com/gitpod-io/gitpod/files/9769772/vscode-web-logs-20221013T015851.zip)

[2022-10-13 02:21] #12740 closed

[2022-10-13 02:49] mikenikles commented on #13778
It's Firefox in my case.

[2022-10-13 05:48] jenting commented on #12747
Change the loadgen custom timeout value to 180m (3 hours) when the start workspace does not work. The workspaces still time out after 60 minutes 🤔.

As an alternative, I create multiple loadgen to stress testing until we reach 1k workspaces.

Below is the overall result, and in general, it looks good to me.
Except there are still some workspace failures per second happened, and I think it's becaus

[2022-10-13 06:53] easyCZ commented on #13249
@hellofromspark Would you be able to help us clarify what questions we want to be able to answer when we include DB tables in the support bundle? A couple of questions on this come to mind:

* Are we looking for raw data, or aggregate data?
* What are the privacy/security concerns around exporting this data? Do we need to communicate to customers specifically which data would be exported?

[2022-10-13 08:02] akosyakov commented on #13239
Could be closed?

[2022-10-13 08:04] easyCZ commented on #13239
Will close today after the critical time window just to have an extra day of validation.

[2022-10-13 08:06] Thomas-Gitpod commented on #11368
@jacobparis

[2022-10-13 08:38] jenting commented on #12021
From the above all reported, the issue happened when the workspace was stopping. I'm wondering if it's because of this
- the ws-daemon backing up the content to GCS
- the ws-daemon requests lots of resources from the node because backing up the content
- the kubelet evicts the workspace pod because this node is out of resource
- the workspace pod transited into an [unknown state](https://github.co

[2022-10-13 08:55] megafinz opened #13826 "UX: Open Workspace in New Tab"
## Is your feature request related to a problem? Please describe
Currently if I need to open multiple workspaces I need to:
1. Open https://gitpod.io (assume that I'm logged in to https://gitpod.io already).
2. Left-click on the "Actions" button to open the context menu of Gitpod.
3. Right-click on the "Open" menu item to open the browser context menu.
4. Click "Open Link in New Tab" menu item.
5.

[2022-10-13 09:23] Furisto opened #13827 "Support Large workspace class in preview environments (has default and small now)"
## Is your feature request related to a problem? Please describe
We should support the same workspace classes in preview environments that are available in SaaS.

## Describe the behaviour you'd like
I am able to select different workspace classes in a preview environment.

## Describe alternatives you've considered
Continue using just the default workspace class.

[2022-10-13 09:41] harshsinghatz commented on #13826
What if someone doesn't want their workspace to open on another tab? I guess currently one can you do both if they wish to

[2022-10-13 09:48] megafinz commented on #13826
To me this looks like a non-issue. Is there any inconvenience in opening a new tab in this case?

[2022-10-13 09:53] lucasvaltl opened #13829 "Do one load test for Single Cluster and one Load test for PoV"
We should gain further confidence in the beta of single cluster and do a load test using loadgen to see how far we can scale this. This should also test the autoscaling behavior.

Last loadtest results can be found here: https://github.com/gitpod-io/gitpod/issues/10869

[2022-10-13 09:56] lucasvaltl opened #13830 "Security and compliance review of single cluster reference architecture"
In order to further solidify confidence in the single cluster reference architecture, we should:
- [ ] Do a manual review of the potential threats and vulnerablities
- [ ] Use a tools like snyk to sense check the terraform modules for best practices (@mrzarquon has been doing this). Other tools:
  - E.g. [tflint](https://github.com/terraform-linters/tflint) which has common best practices for clou

[2022-10-13 10:01] jenting commented on #13827
Currently, the preview env supports default (30Gi disk) and small (20Gi disk) workspace classes already. @Furisto

[2022-10-13 10:14] lucasvaltl commented on #12000
Closing this as all issues here are now part of https://github.com/gitpod-io/gitpod/issues/12709

[2022-10-13 10:14] #12000 closed

[2022-10-13 10:22] lucasvaltl opened #13832 "[Ref Archs] Support IO Limiting"
### Description
Support IO limiting on Self-Hosted / our reference architectures (especially the single cluster one) in the same way we do on SaaS.

### Context
- [Internal document about scoping this](https://www.notion.so/gitpod/aaa10271df1c4a519dd4c6937f237c72)
- [Another internal document](https://www.notion.so/gitpod/fbfcf9a4a1914c44a59cfde165a591f3#fcbb8196a64c40aea25b27a0666fe4ac)

--> @ Wo

[2022-10-13 10:27] lucasvaltl opened #13833 "[Ref Archs] Support `CPU limiting` (i.e. ws-daemon CPU limits)"
### Description
Support CPU limiting (via `ws-daemon`) in Self-Hosted / our reference architectures. Ideally also via the KTOS UI, see https://github.com/gitpod-io/gitpod/issues/9661

### Context
- [Internal document about this](https://www.notion.so/gitpod/fbfcf9a4a1914c44a59cfde165a591f3#eed6c1a600fc40579b192b5053032fab)

--> @ Worksapce team - no action needed as of now. This is something we wa

[2022-10-13 10:31] lucasvaltl opened #13834 "[Ref Archs] Full review of ref archs for security and compliance"
Build on top of https://github.com/gitpod-io/gitpod/issues/13830 to do a full review of the security and adherence to cloud provider best practices of the reference architectures in specific. For example, we should be ensuring that we are not exposing things (e.g. ports) that we do not want to expose.

--> The first step here would be to come up with an idea of what is worth doing and why.

### Ad

[2022-10-13 10:33] jankeromnes opened #13835 "Improve default usage limit UX when upgrading to Stripe"
## Is your feature request related to a problem? Please describe

**Currently**: When you upgrade to Stripe, the front-end picks a sensible initial value for your new cost center (1000 credits * team members). You can then adjust this limit based on your liking once the upgrade process is complete.

**Possible alternatives**:
- Move the initial value selection logic back to server (see proposal: h

[2022-10-13 11:06] gtsiolis opened #13837 "Use a different favicon based on workspace status"
### Problem to solve

The Gitpod logo is used as a favicon for the website, dashboard, and workspaces regardless of workspace state.

Given the upcoming changes with the usage-based pricing, having a better view of the running workspaces which consume credits or errored workspaces that need attention could be useful to provide better :a: [visibility of system status](https://www.nngroup.com/articl

[2022-10-13 11:09] gtsiolis commented on #13812
Hey @abitrolly! I can totally relate to this.

I'm not sure about changing the website favicon

1. Customizing the favicon for workspaces has been brought up again, but not sure if this is the best way forward, as this would introduce another point of friction or configuration that could go wrong.
2. Using a different favicon for the website could be interesting, but I'd definitely consider using

[2022-10-13 11:10] #13581 closed

[2022-10-13 11:20] robguy21 commented on #7489
+1 for`southafricanorth` or `af-south` 😬 Would love to dodge the 190+ ping without needing to self-host

[2022-10-13 11:40] easyCZ commented on #13239
Pattern looks good. Closing.
<img width="2687" alt="Screenshot 2022-10-13 at 13 39 45" src="https://user-images.githubusercontent.com/1419286/195586860-5d1ed11a-abc8-4fc8-8b19-95c27e884444.png">

[2022-10-13 11:40] #13239 closed

[2022-10-13 12:25] jankeromnes commented on #13389
Fixed in https://github.com/gitpod-io/gitpod/pull/13746 and https://github.com/gitpod-io/gitpod/pull/13798

[2022-10-13 12:25] #13389 closed

[2022-10-13 12:32] Hardik500 commented on #11846
@gtsiolis An update on the Tailwind v3 upgrade, it seems that the process is not that straightforward for upgrading to tailwind v3.
Cause **tailwindv3** requires **PostCSS v8**, which in turn requires **react-scripts v5.0**.
But craco doesn’t support react-scripts v5.0, as per their official docs ( https://github.com/dilanx/craco#support although some are saying that alpha builds do support those,

[2022-10-13 13:24] MrSimonEmms commented on #13441
Yeah, looks like it. So, just Azure necessary then

[2022-10-13 13:34] #13592 closed

[2022-10-13 13:54] mustard-mh commented on #13778
The link is an `<a>` tag, two tabs opened may relate to this (calling `preventDefault()` in codebase).

Will check it with Firefox and Arc 🙏

[2022-10-13 14:00] mustard-mh opened #13843 "Dashboard env setting with multiple line support"
Gitpod support env with multiple lines like below

[code]

But it still shows with one line only in Dashboard settings

<img width="587" alt="image" src="https://user-images.githubusercontent.com/20944364/195602356-f28fc04d-1b96-4670-9ada-9edac3c24330.png">

[2022-10-13 14:02] Konard commented on #13587
We had to revert our previous commit, and now GitPod fails again here in the latest commit:
https://gitpod.io/#https://github.com/deep-foundation/dev/tree/f7a8192d4a909c4fd64600d402110d54e30a0abf

Last working commit was:
https://gitpod.io/#https://github.com/deep-foundation/dev/tree/295a0e0e05cab16f7801d1f579245e6445f8e59b
_**This link can be used as a temporary workaround.**_

What we know about

[2022-10-13 14:11] Hardik500 commented on #13712
@gtsiolis I would like to work on this issue. Is this up for grab, or some discussion is required on this one?

[2022-10-13 14:25] jldec commented on #13809
Discussed with @gtsiolis and decided that this change makes sense. Using two words for `BALANCE USED` is not ideal, but no better alternative came to mind, and we don't want to invert the indicator in the UI (to show remaining usage) just because the heading is a bit off.

[2022-10-13 15:18] #13761 closed

[2022-10-13 15:43] axonasif commented on #13826
cc @gtsiolis

[2022-10-13 15:47] megafinz commented on #13826
@axonasif welp, today I learned, thank you for that :)
1. Didn't know you could cmd-click a link to open it in a new tab.
2. Didn't know you could click a workspace name to open it.

[2022-10-13 15:48] #13778 closed

[2022-10-13 16:07] jimmybrancaccio opened #13846 "Using dotfiles to Append to ~/.bashrc Causes Workspace to Stop Immediately After Starting When VS Code Desktop Is Selected"
### Bug description

When using the dotfiles feature AND attempting to add a new file into `$HOME/.bashrc.d/` OR appending to `$HOME/.bashrc` AND having your IDE preference selected to VS Code Desktop, the workspace is unable to start up. The workspace seems to go through the Initializing Content step, but then stops.

This video shows me trying to start a workspace with VS Code Desktop selected u

[2022-10-13 16:21] #13707 closed

[2022-10-13 16:34] gbiagini commented on #9036
Hi, so like @ChristianHuff-DEV, I am also fond of the individual plans of Gitpod.

I know I'm not exactly in the main target audience, but I'm a doctoral student building bioinformatics tools and I use the Student Unleashed plan.

I derive a huge benefit from being able to conduct my research from anywhere, especially transitioning from home and lab without having to maintain multiple local develo

[2022-10-13 17:00] andreafalzetti opened #13847 "Report erorrs from `gp-cli` to `ide-metrics-api`"
## Is your feature request related to a problem? Please describe
Now that we've landed the integration with `ide-metrics-api` [[1]](https://github.com/gitpod-io/gitpod/pull/13752) we can continue following up:

- Add util.logError in all known errors
- Provide the userId
- Find a way to capture unhandled exceptions at root level, e.g: [[1]](https://www.digitalocean.com/community/tutorials/handling

[2022-10-13 19:22] benvp commented on #13846
Thanks for creating this issue. To add a little more info:

1. When using VSCode browser and doing `cmd+p -> Open in VSCode` it works.

Don't know if it helps, but the same issue also occurs if you just add a `exit 1` to your dotfiles...

[2022-10-13 19:25] kylos101 opened #13849 "Adjust GitpodWorkspaceStatusCeased to work in monitoring-central"
## Is your feature request related to a problem? Please describe

The problem is that the alertmanager rule evaluation is moving to monitoring central, and some rules need to be updated. In this case, the rule ownership also needs to be fixed.

## Describe the behaviour you'd like

1. Currently this is defined in the workspace folder, and should move to meta.
2. As we move to monitoring-central, i

[2022-10-13 20:21] mbiesiad opened #13852 "Error and Uncaught (in promise) Error: User is not authenticated"
### Bug description

`Error` and `Uncaught (in promise) Error: User is not authenticated. Please login.` occurs.

### Steps to reproduce

1. Go to: `https://gitpod.io/login/` or `https://gitpod.io/workspaces`
2. Check DevTools Console

### Workspace affected

_No response_

### Expected behavior

It's secure for mentioned case and appropriate handled - no error in Console.

### Example repository

[2022-10-13 20:23] kylos101 commented on #12744
@sagor999 is there anything left to do for stress testing individual nodes?

[2022-10-13 20:35] sagor999 commented on #12747
Yeah, it does depend on ws-daemon, since ws-daemon tracks workspace state in json file. So during dispose we still have to tell daemon to clean up that state file on its end. (something that we can get rid of in wsman mk2).

Have you looked at the reason for failures?

[2022-10-13 20:37] sagor999 commented on #12744
I don't think so, plus individual PVCs should be less taxing on the system then massive RAID drives that we have currently. :pray: (especially that we use software RAID)

[2022-10-13 21:11] Furisto commented on #13254
@utam0k @kylos101 See https://www.notion.so/gitpod/Avoid-hitting-workspace-memory-limits-1ab8cd8b2d4d4f248c4dd8b0dc6d34f2

[2022-10-13 21:51] #13735 closed

[2022-10-13 21:53] kylos101 commented on #13735
Thanks for the solve @utam0k and for the teamwork @Furisto and @Pothulapati !!! :handshake:

[2022-10-14 00:10] harshsinghatz commented on #13837
Hey @gtsiolis, Can I work on this??

[2022-10-14 00:45] sbhrule15 commented on #12853
@jldec  That is correct - this is connected to Bitbucket Cloud, with a self-hosted of version of GitPod, running version 2022.8.0.

<img width="252" alt="image" src="https://user-images.githubusercontent.com/65102852/195737177-f804f39e-e474-4a39-adbc-bb7d62f99cfe.png">

[2022-10-14 02:13] sagor999 commented on #12747
Then it is most probably related to ws-daemon bookkeeping or something similar. At the very least it does not seem related to PVC code, which is good. :)

Re: Commit
that does look good I think. I think you are right, and there is no need to wait for daemon if using PVC. I guess only edge case I can think of right now if workspace never got ready (WaitForInit waits for ready state), then we will s

[2022-10-14 02:13] jenting opened #13856 "[PVC] massive workspace stopping, two workspaces report cannot find workspace from ws-daemon"
### Bug description

There is a chance that the ws-daemon reports it can't find the workspace while the workspace pod stopping. https://github.com/gitpod-io/gitpod/blob/c9528c8c3ef22757646a623898c4e7d01975edf8/components/ws-manager/pkg/manager/monitor.go#L1074-L1083
It makes the symptom
- workspace pod is terminating forever
- PVC object is bound
- VolumeSnapshot object is ready to use
- The snaps

[2022-10-14 02:15] HuaxingL commented on #12738
@MrSimonEmms Hi,Mr.Simon. I'm not sure if this bug has been fixed.

[2022-10-14 02:17] sagor999 commented on #13856
I think this is probably ws-daemon bug rather then PVC issue.
I have a feeling same issue will occur if stopping 1k of regular workspaces.
:thinking:

[2022-10-14 05:39] jenting commented on #12747
I think we could simplify the flow to check the `workspaceNeverReadyAnnotation` during the workspace disposal process, because the annotation `workspaceNeverReadyAnnotation` be removed once the [workspace initialization is ready](https://github.com/gitpod-io/gitpod/blob/63e49da4afa839446dec74c9b7ce35045ee260aa/components/ws-manager/pkg/manager/monitor.go#L624-L700).

Then, call the [finalizeWorksp

[2022-10-14 06:34] axonasif commented on #13776
Seems to be related with https://github.com/gitpod-io/gitpod/issues/13641

Could you please setup your ssh-keys on Gitpod so that you do not have to use an access-token like that?
https://www.gitpod.io/docs/configure/user-settings/ssh

[2022-10-14 06:37] axonasif commented on #13691
Hey @thisisommore, thank you for reporting. Are you still seeing this? If not we can close the issue, or you could share the workspace URL/ID if it persists.

[2022-10-14 06:45] utam0k commented on #13254
@Furisto Thanks :heart:

[2022-10-14 06:59] axonasif commented on #13846
Related: https://github.com/gitpod-io/gitpod/issues/12100

[2022-10-14 07:29] #13809 closed

[2022-10-14 07:37] dalisoft commented on #13776
@axonasif I am using SSH keys. Added public keys on Gitpod, locally using private key and SSH key is without password. Is there any step missing?

[2022-10-14 08:02] MrSimonEmms commented on #12738
@HuaxingL please explain

[2022-10-14 08:34] gtsiolis commented on #13837
Absolutely, @harshsinghatz! Feel free to open a pull request and link back to this issue.

[2022-10-14 08:36] utam0k commented on #12935
@jenting This incident was caused by ws-manager with PVC after all, right? So I don't think the alert really needs to be issued until just before the fd of the node is depleted, which is about 80% of the time. What do you think?

[2022-10-14 08:38] jenting commented on #12935
I agree with you. We could put the threshold 80% and I did check our overall fd usage, we are far away from 80%. (If I remember correctly, the fd usage is under 10%).

[2022-10-14 08:40] utam0k commented on #12935
The problem with the fd of the supervisor should have been a side issue and not the root cause.

[2022-10-14 08:48] jenting commented on #12935
Yes, I think the ws-manager failed to handle any pod event.
It caused all related components which would interact with the ws-manager might be impacted. For example, the component does not handle the connection between the ws-manager correctly.

[2022-10-14 08:49] utam0k opened #13861 "image-builder: Use `zstd` for a workspace image compression instead of `gzip`"
## Is your feature request related to a problem? Please describe

Support for zstd[^1][^2][^3] compression, now we are using `gzip`, which is default for `buildkit`
zstd is said to be much faster than gzip.

[^1]: https://www.infoq.com/news/2022/09/amazon-gzip-zstd/
[^2]: https://aws.amazon.com/blogs/containers/reducing-aws-fargate-startup-times-with-zstd-compressed-container-images/
[^3]: https:/

[2022-10-14 10:02] geropl commented on #3966
@svenefftinge on holidays, so took it out of progress for now.

[2022-10-14 10:34] ghost opened #13862 "Workspace files lost after timeout"
### Bug description

Created a workspace and left it idle for sometime all the files i created under /workspace/ directory is lost.

### Steps to reproduce

Create a workspace
Create a file in /workspace/ directory
Let the workspace timeout

### Workspace affected

_No response_

### Expected behavior

To have the files not getting removed and be persistent.

### Example repository

_No response_

[2022-10-14 10:46] dalisoft commented on #13776
[code]

I'm found workaround (maybe a solution?) to get it working, separate logic in `ssh config` gives me possibility to get code in VSCode desktop and remote executing to save power and energy.

Thank you for help and right direction for solving this case

[2022-10-14 11:07] gtsiolis commented on #7385
The UX around setting and managing `.dotfiles` could definitely benefit from another iteration. ➿

Posting below some early designs from a past exploration:

| Disabled `.dotfiles` | Enabled `.dotfiles` |
|-|-|
| <img width="895" alt="Disabled" src="https://user-images.githubusercontent.com/120486/195832592-4af703c8-c8bb-4f9b-b1c3-1ae07e7731eb.png"> | <img width="895" alt="Enabled" src="https://us

[2022-10-14 12:04] #13177 closed

[2022-10-14 12:35] easyCZ opened #13867 "Add config hash to usage component to ensure component is restarted on config change."

[2022-10-14 12:54] #12581 closed

[2022-10-14 12:57] jldec commented on #12853
There appears to be a discrepency between how self-hosted and gitpod.io do BBS registrations.

[2022-10-14 13:52] alileza commented on #10245
I wonder what about something like

[code]

I think that would be cleaner. But there will be a hard dependency between `url` command and `preview` command. I'm not sure how critical that is for maintenance.

I drafted a PR there for an example, could groom the PR a bit more with test if this looks good

[2022-10-14 14:07] mrzarquon commented on #13785
@nVitius it appears it was a tailscale issue, I ran into this also and updated to 1.32 (released just after this issue opened) and appears to work again:

[code]

[2022-10-14 14:30] kylos101 commented on #13861
@utam0k can you update the issue description to better describe how this will benefit users? For example, will users see time savings when pulling container images? If yes, what is the expected time savings?

[2022-10-14 14:31] kylos101 commented on #13861
For now I've classified this change as "user quality of life". In other words, it does not seem like it is an essential change that we need "now". Is that right, @aledbf and @utam0k , that it's a nice to have? I'm just trying to make sure I understand the related motivation or "the why" for this issue.

[2022-10-14 14:37] loujaybee opened #13873 "JetBrains Fleet Support"
TBC

[2022-10-14 14:44] kylos101 commented on #13282
I see, thank you, @jenting .

[2022-10-14 14:50] Furisto commented on #13362
@easyCZ Feel free to add it

[2022-10-14 15:13] jimmybrancaccio opened #13874 "Enabling 'Cancel Prebuilds on Outdated Commits' Causes Some Prebuilds to Be Marked as SYSTEM ERROR / Failed"
### Bug description

When enabling the 'Cancel Prebuilds on Outdated Commits' functionality on a project it can cause some prebuilds to go into a SYSTEM ERROR state and the prebuilt workspace is marked as failed. It also logs as an ERROR in the cluster - "workspace failed". This appears to mostly happen when a prebuild is longer running and a new commit is pushed to the projects repository.

While

[2022-10-14 15:16] kylos101 commented on #13362
@Furisto I assume you mean feel free to add like @easyCZ shared?
 1) [add it to the installer config](https://github.com/gitpod-io/ops/blob/208e9f7b2dc264c68a01a89ef763de43f680315e/deploy/production/meta-eu02/app/installer-config.yaml#L186-L218)
2) parse the installer config to [add to the usage config](https://github.com/gitpod-io/ops/blob/208e9f7b2dc264c68a01a89ef763de43f680315e/deploy/productio

[2022-10-14 15:24] david-bakin commented on #7689
For anyone who finds this after the forced changed to require a Team for access to the prebuilds page of the dashboard:  You might get this "unknown prebuild" error on an initial prebuild after the conversion.  Fix is apparently to check in some kind of commit (anything trivial will do, like a harmless whitespace change somewhere).  That has (in at least one instance) kicked out a _new_ prebuild p

[2022-10-14 16:15] axonasif commented on #13587
Two more possible instances of this error:
- https://discord.com/channels/816244985187008514/1030465759329124403
- https://discord.com/channels/816244985187008514/1029427380000919574

[2022-10-14 16:16] axonasif commented on #9280
Possible (new) duplicate:
- https://github.com/gitpod-io/gitpod/issues/13587

[2022-10-14 16:36] kylos101 commented on #9280
Thank you for sharing, @axonasif!! [This](https://github.com/gitpod-io/gitpod/issues/13587#issuecomment-1277665040) is interesting. cc: @aledbf @csweichel

[2022-10-14 16:50] loujaybee opened #13877 "Prompt users to restart unhealthy workspaces"
Unfortunately sometimes workspaces have a bad deploy (it happens). We need some way to push notifications (or highlight) to users to prompt them to restart a workspace if it's unhealthy for some reason. This could surface in the IDE or the dashboard.

[2022-10-14 16:51] loujaybee commented on #13877
We should consider adding "tainted" or other as an official workspace status. Relates to:

- https://github.com/gitpod-io/website/pull/2858/files

[2022-10-14 18:17] loujaybee commented on #10245
Closing for now, as we have the workaround composing the two commands as @akosyakov suggested. I still feel that's a clunky API for what feels like a fairly common action, though (that said, it is very "linux" in a composition sense, though).

[2022-10-14 18:17] #10245 closed

[2022-10-14 18:19] loujaybee commented on #10245
@alileza — sorry I did not see your pull request until just now!

@akosyakov — do you think there's an API in here that could make sense, or you still feel this is unnecessary given the composed example?

[2022-10-14 18:26] thisisommore commented on #13691
It did happen to me two times last week, but not this week let's see, not sure if that is solved though, also doesn't happen to any particular workspace, but I will share the ID when it happens again

[2022-10-14 19:01] jimmybrancaccio commented on #13819
This might be related to #7293.

[2022-10-14 19:19] kylos101 opened #13878 "ops: fix configuration for image-builder-mk3"

[2022-10-14 20:58] kylos101 opened #13881 "Manual functional testing for doing image builds in workspace cluster"
1. In addition to all of [these use cases](https://www.gitpod.io/docs/configure/workspaces/workspace-image) working
2. We also need image builds to work from private registries associated with Gitpod Projects, too. [Draft instructions](https://github.com/gitpod-io/website/issues/1704#issuecomment-1275403894) are located here.

[2022-10-14 21:21] utam0k commented on #13861
@kylos101 Thanks for your comment.
We could take detailed data, but that would take some time. For example, how small the size of the image will be and the time it will take to affect the startup of the container. We didn't dare to do that this time because I need time. Do you want me to decide on a time box and take data?

[2022-10-14 21:23] utam0k commented on #13861
yes, However, I expect implementation to be fairly straightforward.

[2022-10-14 21:29] kylos101 commented on #13861
:wave: @utam0k no, thank you for asking, though. :smile:  Please ignore this issue for now, let's leave in the inbox. That way, you can focus on groundwork that is either in-progress or scheduled.

[2022-10-14 21:31] utam0k commented on #13861
I agree with you👍 I was just going to write the issue as an idea as I don't think we should spend time on it now either.

[2022-10-14 21:47] kylos101 commented on #12935
@utam0k if we no longer need an alert, please close this issue as not planned?

@jenting is there a separate issue that needs to be created to solve `s-manager failed to handle any pod event.`? If yes, can you share if this is related to PVC or in general? I ask to limit scope, so we can focus on closing this issue (either by creating an alert or losing this because we don't need an alert, and mak

[2022-10-14 22:01] kylos101 commented on #11183
@Furisto to follow-up on our conversation from earlier today:
1. PVC may solve this, but self-hosted may not have PVC for a while.
2. We should see if we can do a tactical solution here. For example, gracefully stop containers long before dispose starts, really close to after either (1) a workspace times out or (2) a user stops a workspace.

[2022-10-14 22:06] kylos101 commented on #12747
:wave: @jenting what is left for this issue, or, can we consider the stress testing for a saturated cluster done? I ask because I see you created https://github.com/gitpod-io/gitpod/issues/13856, but am not sure if there are other issues.

[2022-10-14 22:10] kylos101 commented on #13856
Hi @jenting, for posterity, are you working on a fix in https://github.com/gitpod-io/gitpod/compare/jenting/pvc-finalizeWorkspaceContent?

Also, does this result in data loss? What intervention is required from workspace team when this happens, to make sure `ws-manager` triggers the backup, so user snapshot finishes?

[2022-10-14 22:13] kylos101 commented on #12744
Okay, thank you @sagor999 ! Closing. 😁

[2022-10-14 22:13] #12744 closed

[2022-10-14 22:35] nVitius commented on #13785
@mrzarquon I tried with 1.32.0 but the DNS issues persist for me. Not sure about SSH, I haven't tried that use-case at all.

[2022-10-15 00:23] #13691 closed

[2022-10-15 01:43] incident-io[bot] opened #13884 "Define a rollback policy in case of incompatible schema changes"
In case of schema changes that remove columns or tables, we should have a clear message that rolling back to a previous version should not be the first option because rollback migration scripts do not exist in the previous one.

Example https://github.com/gitpod-io/gitpod/pull/12873

----

_This action was created from [Incident 249](https://app.incident.io/incidents/249?ctx=pHxT9YZFHxGBekP2KZZWl5

[2022-10-15 08:32] jenting commented on #12747
No other issues, let's close it.

[2022-10-15 08:32] #12747 closed

[2022-10-15 12:40] jldec opened #13885 "isUsageBasedBillingEnabled feature flag is not checked for users without a team"
The feature flag `isUsageBasedBillingEnabled` will not be detected for users without a team

This bug in getBillingModeForUser() was introduced in #13859
See billingmode.ts in https://github.com/gitpod-io/gitpod/commit/a4870ce5db87d35a4547afee07836e82018e50e3

[2022-10-15 13:14] jldec opened #13886 "Users who are on team with no billing configured cannot upgrade to usage-based billing"
Discovered while trying to workaround #13885 by creating a dummy team for a new user

The existence of the team which has the default billingMode = chargebee results in getBillingModeForUser() response
`{ mode: "chargebee", canUpgradeToUBB: true }`

[renderBillingMenuEntries](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/settings/settings-menu.ts#L55) appears to be unaware

[2022-10-15 17:51] alileza commented on #10245
@loujaybee no problem, so I guess it's safe to close the PR for this?

[2022-10-15 17:59] sb2nov commented on #4889
@csweichel any updates on the issue?

[2022-10-15 18:12] #12865 closed

[2022-10-15 19:33] jldec commented on #13885
fixed by #13888

[2022-10-15 19:33] #13885 closed

[2022-10-15 19:34] jldec commented on #13886
#13888 was marked to fix incorrect issue - re-opening.

[2022-10-15 19:59] LarisaLG commented on #10972
The same problem and still building something
![image](https://user-images.githubusercontent.com/17884814/196005501-9e7c0496-ddd0-4773-822b-d51be4bd8984.png)

[2022-10-15 20:26] LarisaLG opened #13889 "gitpod freeze on building image"
### Bug description

gitpod freeze on building image

### Steps to reproduce

![image](https://user-images.githubusercontent.com/17884814/196006251-dd5c49d3-3099-4063-8177-6d9dcd4680c8.png)

### Workspace affected

larisalg-hand2hand-pviuoz9779o

### Expected behavior

Stopped workspace

### Example repository

_No response_

### Anything else?

_No response_

[2022-10-16 06:37] Hardik500 commented on #12079
@jankeromnes Would love it if you could point me to some docs or any clues.

[2022-10-16 06:37] Hardik500 commented on #11846
@gtsiolis Thoughts?

[2022-10-16 12:10] jldec opened #13892 "Clarify notification to "remove projects under personal accounts in Q1'2023.""
Users with projects under their personal accounts currently see the following notification. This was introduced in #13414

This should be changed so that users are not left thinking that their project data will be deleted. Suggested wording:

The docs page for projects should be also updated to include a deprecation notice. see https://github.com/gitpod-io/website/issues/2934

#### Example of the

[2022-10-16 13:11] #12451 closed

[2022-10-16 14:46] RLungarella13 opened #13893 "Can't scroll in visual studio code while using Safari"
### Bug description

I open my gitpod workspace and everyting works fine, but when i try to scroll nothing happens. I am using a magic keyboard but it doens't work with fingers either. I tried using other browsers, Chrome worked, but I don't like how it is optimized with the magic keyboard. Is there a fix?

### Steps to reproduce

Opening a gitpod workspace

### Workspace affected

_No response_

[2022-10-16 19:32] jldec opened #13894 "[Early Access] Enable UBP for unbilled teams whose owners are feature-flagged for UBP"
When individuals try out UBP for personal accounts via the "Early Access" program, they should also be able to try out UBP for their own team. This will allow a more complete evaluation and better feedback.

Notes:

- These teams will not automatically receive a discount.
- Team which already have Chargebee team-billing should not be auto-enabled for UBP until those plans are cancelled.

[2022-10-17 00:41] kylos101 commented on #13256
I am going to remove this from groundwork for now.

We experienced a similar issue on Friday, and @iQQBot added a change in https://github.com/gitpod-io/gitpod/pull/13828

It should ship in `gen72`. We can consider adding to groundwork in the future if the issue continues.

[2022-10-17 00:56] incident-io[bot] opened #13895 "Revisit installer timeout, so that it's long enough for DB migrations"
The install experience for 9.1 appears to timeout, perhaps because of long running DB migrations

----

_This action was created from [Incident 249](https://app.incident.io/incidents/249?ctx=7Bua9E%2FBsbxOvzPdvfP5Zdq2vvwiQVbT5G%2FLnCMyI6pazGABYkp3fY%2BB4%2B6gVWE3k1gkuBIIVSZRtoS6ZFrBYBcghY8MDkA3Hv%2FuyBqAzwl1b8hrwAQ5IeK2GawEbajvMxCgI37vQcIzCpw%3D) by Kyle, using [incident.io](https://app.incident.i

[2022-10-17 00:57] incident-io[bot] opened #13896 "Test DB upgrade path from 8.x (last release) to 9.1 (the current release)"
A customer recently upgraded from 8.x to 9.1, and experienced "unknown column `DBProject.config` in `field list`"

----

_This action was created from [Incident 249](https://app.incident.io/incidents/249?ctx=icKhXmYGmppzOBu4ClUun5Jw7lm0k0JVl%2FSDoZzdXSHsoOGEU7GcuMmnu%2BU9pt6rpy%2FpYaHHijXgrpP6mDjrbM0vZViz1dB4iLZ59F0xenW9fBwvLpvjwGxrw4nNGLyrJlJSovQRLlgBqks%3D) by Kyle, using [incident.io](https://a

[2022-10-17 06:25] HuaxingL commented on #12738
The problem I described still occurs:

[2022-10-17 06:35] jenting commented on #13856
It's good to fix, but testing requires lots of time because it happens when we stop 1k workspaces simultaneously.

I'd suggest we put this issue as good to fix.

No data was lost, but the ws-manager metrics report data loss (false alarm).

The volume snapshot is ready to use, and we just need to ensure the volume snapshot information is written to DB thru. ws-manager-bridge so the user can reopen

[2022-10-17 07:38] akosyakov commented on #10245
I think there are already well known commands how to achieve it.  We should consider what to do with them if we are going to duplicate functionality in another place. `gp url` originally is intended to have only one function.

[2022-10-17 07:40] easyCZ commented on #13867
Fixed in https://github.com/gitpod-io/gitpod/pull/13870

[2022-10-17 07:40] #13867 closed

[2022-10-17 07:54] geropl commented on #10355
I don't think this is the case anymore, but we need somebody to validate that.

[2022-10-17 07:57] gtsiolis commented on #11035
Still relevant, marking as ~never-stale.

[2022-10-17 08:43] gtsiolis commented on #13874
Nice catch, @jimmybrancaccio! ⚾

Not sure if this is related, but the GitLab project is experiencing these system errors and the project has this project setting enabled, see [relevant issue](https://gitlab.com/gitlab-org/gitlab-development-kit/-/issues/1531) and relevant discussions[[1](https://gitpod.slack.com/archives/C02EN94AEPL/p1656359079959819)][[2](https://gitpod.slack.com/archives/C02EN94

[2022-10-17 08:47] jldec opened #13900 "Allow workspaces to start from prebuilds built against older git commits"

[2022-10-17 09:14] easyCZ opened #13903 "Add observability to connect-go calls to Public API"
Currently we can observe the connect-go calls with standard http metrics. But we can do better by using a connect-go interceptor.

* Expose metrics
* Add grafana dashboard

[2022-10-17 10:17] atduarte commented on #12364
@jenting @kylos101 should this be moved to Ops?

[2022-10-17 10:24] geropl commented on #13894
This adds a cyclic dependency. Let me think about how to unblock that.

[2022-10-17 10:25] vulkoingim commented on #13884
As an addition to this - I would recommend revisiting how features, especially ones that rely on DB migrations are deprecated. Specifically destructive actions - in this instance a column removal,  should never happen at the same time the feature is deprecated. For self-hosted releases there should be at least 1 release between the removal of the feature and the destructive action in order to avoi

[2022-10-17 10:32] lucasvaltl commented on #10355
I believe this is fixed - have not run into this when creating a project in the last two months.

[2022-10-17 10:46] ashwathirao commented on #4671
Created a workspace and left it idle for sometime all the files i created under /workspace/ directory is lost.

This has been happening since 14 October

Steps to reproduce

Create a workspace
Create a file in /workspace/ directory
Let the workspace timeout

[2022-10-17 10:48] geropl commented on #13804
But when you cancel your subscription, your billing period ends immediately: that's why you receive an invoice. 🤔

Did we think about enabling proration in Stripe? The credit model rather well for that (because we know the exact number we want to refund).

 /cc @jankeromnes bc you maybe know whether enabling proration is as easy as I hope it is.

[2022-10-17 10:51] mrzarquon commented on #13785
@nVitius can you try launching this workspace and see if it works with your tailscale account -

https://github.com/mrzarquon/gitpod-gpg

You may need to force a [rebuild](https://www.gitpod.io/docs/configure/workspaces/workspace-image#manually-rebuild-a-workspace-image) of the repo you're using. If you were using the above example repo, then this url would launch a new workspace after rebuilding