[2022-11-07 10:21] akosyakov commented on #14122
It is just an idea. I will remove it from the project for now. Since we have other priorities.

[2022-11-07 10:22] akosyakov commented on #14272
can be closed?

[2022-11-07 10:47] filiptronicek commented on #14272
@akosyakov I think there may be some recovery releases that would go under this issue.

[2022-11-07 10:49] jenting commented on #11476
I think we don need to work on this issue anymore. @atduarte

[2022-11-07 10:54] akosyakov commented on #13513
Is there anything yet to work on? @david-bakin have you managed to use another extension?

[2022-11-07 11:33] easyCZ commented on #14363
extend the [GetStripeSubscriptionResponse](https://github.com/gitpod-io/gitpod/blob/f52f5817a6bce420b62bc1dcdec0a977e077da53/components/usage-api/usage/v1/billing.proto#L98-L100) to also contain billingPeriod information

The StripeSubscription will only contain details if there's a Stripe subscription. It seems like we need the CostCenter for this. However, currently Stripe doens't set the NextBi

[2022-11-07 11:45] pawlean commented on #14455
Hey @chiyanglin-AStar! 👋🏼

Our documentation details how to install extensions [here](https://www.gitpod.io/docs/references/ides-and-editors/vscode-extensions#vs-code-extensions). Feel free to also drop by [our community Discord server](https://www.gitpod.io/chat) for help with these types of questions!

Let me know if I can help with anything else.

[2022-11-07 11:45] #14455 closed

[2022-11-07 12:25] meysholdt opened #14474 "build.sh should bump version for every build"

[2022-11-07 12:31] gtsiolis commented on #14469
Re-posting some elements from VS Code Desktop working with GitHub Codespaces as following a similar approach could help users navigate through Gitpod alternative using the same flow.

### Sidebar, Target, and  Login

- **Sidebar**: Area 1️⃣ describes an existing path that GitHub Codepsaces is using through [Remote Explorer](https://marketplace.visualstudio.com/items?itemName=ms-vscode.remote-explo

[2022-11-07 12:36] jldec opened #14475 "Replace "Usage-based" with "Pay-as-you-go""
Pay-as-you-go is friendlier, less-jargony, and somewhat self-explanatory.
This change would impact the folowing dashboard UI elements.
The first page below requires the most re-design thinking.
Separate docs issue to follow UI changes gitpod-io/website#3004
cc: @gtsiolis

## team billing - no billing configured
<img width="1100" alt="Screenshot 2022-11-07 at 12 14 35" src="https://user-images.gith

[2022-11-07 12:50] subinamathew commented on #13682
Do you have a lead time on this issue?

[2022-11-07 13:01] abitrolly opened #14476 "Alternative .gitpod.yml location"
## Is your feature request related to a problem? Please describe

I'm always frustrated when the root of the project is filled up with dozens of .dotfiles.

## Describe the behaviour you'd like

Autodetect location of `.gitpod.yml` in other dot dirs, and show debug message about it on startup.

## Describe alternatives you've considered

* Specify location to `.gitpod.yml` in URL.

## Additional c

[2022-11-07 13:32] meysholdt commented on #14439
Is this issue about completely removing the logs, or is it about hiding them in CI by default while still having a way to access them?
I assume the latter because I assume the logs are useful to see if the build is doing something (downloading stuff) and to see the exact versions that got pulled into the build.

If it's about hiding the logs, we should fix https://github.com/gitpod-io/ops/issues/5

[2022-11-07 13:54] meysholdt commented on #13598
hi @kylos101! Thank you for the details. I see two used cases here - can you clarify which one you're after?

1. When an engineer runs integration tests on a PR, and the tests fail, the failings tests do not prevent the PR from being merged. ---> If this is true, it's a bug. I created this PR https://github.com/gitpod-io/gitpod/pull/14477 to reproduce the issues, but the behavior is as expected -

[2022-11-07 14:25] NoeSamaille opened #14478 "Adding self-hosted git provider shows "Provider for this host already exists""
### Bug description

Adding a self-hosted git provider shows "Provider for this host already exists".

I suspect one Gitpod user in my company has already created this integration so there is no way for me or any other gitpod users to use my company's Github instance?

### Steps to reproduce

1. Go to [Gitpod integrations](https://gitpod.io/integrations)
2. Click _**New Integration**_
3. Select **

[2022-11-07 14:34] jankeromnes commented on #14463
Didn't we decide that the Usage page should be completely unrelated to any billing cycle?

I remember us reaching a conclusion akin to:
- Billing page should reflect your exact current billing cycle usage
- Usage page should show your latest Usage, independently of any cycles, and e.g. allow you to see "last  day", "last 7 days", "last 30 days", etc

Cc @easyCZ as I think you originally advocated

[2022-11-07 14:56] gtsiolis opened #14479 "Inform users when a workspace is starting using the last successful prebuild from a previous commit"
### Problem to solve

Following up from :a: the changes in https://github.com/gitpod-io/gitpod/issues/13944 which now allows users to skip prebuild by using the last successful prebuild, and :b: the upcoming changes in https://github.com/gitpod-io/gitpod/pull/14303 which will add a project setting for always skipping prebuild in progress, users could benefit from a subtle hint on the workspace sta

[2022-11-07 15:09] kylos101 commented on #13598
Hi @meysholdt , thank you for clarifying, I'm after use case 2. Tests take 30m with a regular vm, 20m with a large vm. Thanks, @utam0k for improving test run times! [Internal ref](https://gitpod.slack.com/archives/C02F19UUW6S/p1667810989616529?thread_ts=1667779205.307279&cid=C02F19UUW6S).

[2022-11-07 15:16] kylos101 commented on #13353
:wave: @sagor999 can you pick [this](https://github.com/gitpod-io/gitpod/issues/13353#issuecomment-1305642732) up today :pray: ? I ask because we need to know if Alejandro's [suggestion](https://github.com/gitpod-io/gitpod/issues/13353#issuecomment-1304650612) helps avoid the `virtio_scsi` detach/attach issues. Let us know if you have any questions or want to sync on the observations :point_up: ?

[2022-11-07 15:24] sagor999 commented on #14439
Removing them from CI by default would be a great start.
But I would imagine either way it would require some sort of leeway modification to enable that, so created issue https://github.com/gitpod-io/leeway/issues/107

[2022-11-07 15:27] sagor999 commented on #14451
That is by design. That is done so that when we GC snapshots, they will be auto removed from GCP. Otherwise as you mentioned we would need to run `gcloud` util directly to remove them.
Though adding finalizer might be a good idea to prevent accidental deletion by admin.

[2022-11-07 15:30] gtsiolis commented on #14364
@kylos101 I've opened https://github.com/gitpod-io/gitpod/pull/14393 to try resolving both https://github.com/gitpod-io/gitpod/issues/14381 and https://github.com/gitpod-io/gitpod/issues/14382. However, I'm no longer actively working on #14381 and have listed how we can move forward with that PR in https://github.com/gitpod-io/gitpod/pull/14393#issuecomment-1302120475.

[2022-11-07 15:33] gtsiolis commented on #13712
@Hardik500 Yes, using the context element should be ok to add here. Let us know if you open a PR for resolving this.

[2022-11-07 15:34] kylos101 commented on #14364
Thanks @gtsiolis ! I've added #14381 and #14382 to the WebApp board and set the status for both to in-progress. @geropl I'm not sure if there are other attributes on the project that should be set for WebApp team?

[2022-11-07 15:39] gtsiolis commented on #14364
Thanks, @kylos101! I've removed the ~**needs visual design** label and removed this issue from the **product design board** for now. From what I understand, #14380, listed in the issue description, could benefit from some design input, but let me know if this is the case. Cc @atduarte

[2022-11-07 15:40] andreafalzetti opened #14480 "[JetBrains] Auto-merge PRs updating backend-plugin EAP versions"
For the backend-plugin latest (EAP) version updates, we want the PRs to be accepted automatically if the build succeeds so that @roboquat can merge them immediately.

Related code:
https://github.com/gitpod-io/gitpod/blob/e2f03743b531242ccfa489c0e5ac27ce98e4c3be/.github/workflows/jetbrains-update-plugin-platform.yml#L9-L16

[2022-11-07 15:41] andreafalzetti opened #14481 "Allow running IDE integration tests for specific IDE instead of whole IDE team suite"

[2022-11-07 15:44] gtsiolis opened #14482 "Use a friendlier error message in the dashboard when creating a team with an existing name"
### Problem to solve

The product no longer surfaces a user friendly error message when a user tries to create a team using an existing team name.

This could be related to the recent switch to consume our API internally for such operations, see possibly relevant pull request in https://github.com/gitpod-io/gitpod/pull/14406. Cc @easyCZ

See [relevant discussion](https://gitpod.slack.com/archives/

[2022-11-07 15:46] kylos101 opened #14483 "Prevent workspace content download (remove endpoints or change permissions)"

[2022-11-07 15:47] kylos101 commented on #14364
:wave: @easyCZ I've created https://github.com/gitpod-io/gitpod/issues/14483 to track your [recommendation](https://github.com/gitpod-io/gitpod/issues/14483), thank you for providing a couple options.

[2022-11-07 15:52] gtsiolis commented on #14364
@kylos101 #14393 could already cover #14483, but I'll leave this to @easyCZ to decide, see https://github.com/gitpod-io/gitpod/pull/14393/commits/3efa8bc1dc804fef034d9d1fdb841b34bd0e6e88 from #14393.

[2022-11-07 15:57] #12758 closed

[2022-11-07 15:57] kylos101 commented on #14243
:wave: @geropl I just added this issue to our [internal milestone plan](https://www.notion.so/PVC-for-Regular-Workspaces-Milestones-8ace913ac67e4b68b6b9758cc7dea551?d=05f080d599b6444cb4668815deb13adf#13c7ba5a26b6491b96c682fe0b487f0c) for PVC and regular workspaces. Let us know if it is okay, or if it needs to be pushed out?

[2022-11-07 15:57] jankeromnes opened #14484 "Gitpod Terminal sometimes forgets its own height (garbled `less` output)"
### Bug description

If you use `git diff`, `git log`, or any other terminal command that's using `less` to paginate output, you're probably seeing this bug regularly:

<a href="https://youtu.be/ujG9pKhUFE8"><img width="600" alt="Screenshot 2022-11-07 at 16 57 07" src="https://user-images.githubusercontent.com/599268/200355732-dfccfb89-ebd0-47fb-9754-c80e88355369.png"></a>

It seems that the termi

[2022-11-07 15:59] PlanexDev commented on #14459
iOS Safari 15.6. This started happening a few days ago, never happened before

[2022-11-07 16:21] MrSimonEmms commented on #14444
Cornelius and I settled on a `5m` timeout for the reason that there is no way to stop a deployment from within the KOTS dashboard. If we set it to much longer than that then users will have to manually stop the job if they've started a deployment from the dashboard which is both undocumented and a pretty-awful experience.

What might be a better, more rounded experience would be to add a config op

[2022-11-07 16:25] sagor999 commented on #13353
@kylos101 here is a draft PR that mounts PVC as block device: https://github.com/gitpod-io/gitpod/pull/14486
@aledbf it is a bit unclear to me (not super familiar with workspacekit) but how\where did you want to mount that block device inside workspacekit? Did you mean to do it in ring0? I am not sure about all security privileges inside workspacekit and how to implement that mounting. Maybe you c

[2022-11-07 16:49] geropl commented on #12012
Clartified the requirements with @mrzarquon [here](https://gitpod.slack.com/archives/C02EN94AEPL/p1667829987354629) (internal thread).

Scheduling this once [this](https://gitpod.slack.com/archives/C02EN94AEPL/p1667839405988639?thread_ts=1667829987.354629&cid=C02EN94AEPL) has been clarified.

[2022-11-07 16:53] filiptronicek commented on #14222
@abitrolly to make sure, is the thing you are looking for a links to report bugs like these? I took a look and we do specify these in the source code [[1](https://github.com/gitpod-io/openvscode-server/blob/gp-code/release/1.73/extensions/gitpod-web/package.json)], but it seems like they are ignored for built-in.

![Image](https://user-images.githubusercontent.com/29888641/200367920-69dee7db-12b7-

[2022-11-07 18:20] sagor999 commented on #13353
@aledbf could this `virtio_scsi` error be a kernel bug that might be fixed in a different kernel version? :thinking:

[2022-11-07 18:22] aledbf commented on #13353
You can find the [fsprep.go code here](https://github.com/gitpod-io/gitpod/commits/cw/kata)

[2022-11-07 18:27] aledbf commented on #13353
My suggestion to use a block device is to isolate the use of the attached disk in the pod and ensure that once terminated; there is nothing else using it. This only removes one variable that could be related to the pending operation in the virtio_scsi work queue

[2022-11-07 18:51] Sidduppal commented on #8318
I'm facing this on Brave. Any updates on how to resolve this?
It worked well for a few days and then it couldn't connect anymore.

[2022-11-07 19:01] jeanp413 commented on #14248
Small repro:
You need to not have anything running in 32456 port
[code]

@mustard-mh maybe related to some optimizations we did about not firing event for ports, [this logic](https://github.com/gitpod-io/openvscode-server/blob/ce5566276e561303d92bec32a9f58008cddd5270/extensions/gitpod-web/src/extension.ts#L320-L328) is always returning false

[2022-11-07 19:34] jankeromnes commented on #14482
Thanks @gtsiolis for spotting this issue!

FYI, we were already trimming user-unfriendly parts of error messages in this page:

https://github.com/gitpod-io/gitpod/blob/88fa55e9a240e2b682919a779f47347f4842e6fe/components/dashboard/src/teams/NewTeam.tsx#L65

I guess we'll simply need to adjust this code to remove the new user-unfriendly prefix. 😇

[2022-11-07 20:02] easyCZ commented on #14482
With the Public API using `connect-web`, we have access to much richer error messages. We can handle the errors as per https://connect.build/docs/web/errors without needing to trim.

The problem here is that the Go API client for the Websocket API bundles the code and the message together. We need to unbundle (or handle explicitly) these in the Public API, it's currently done here
https://github.c

[2022-11-07 20:39] easyCZ commented on #14113
Currently, we publish a version of the client on every commit because we have a default setting in our [WORKSPACE.yaml](https://github.com/gitpod-io/gitpod/blob/main/WORKSPACE.yaml#L7).

The desired state of the publishing is as follows:
* When we do land a change on main, publishing a client is OK
* We shouldn't publish to NPM on every commit on a branch. We should however have the means to do so

[2022-11-07 21:52] easyCZ commented on #14482
https://github.com/gitpod-io/gitpod/pull/14490 adds support to better unwrap error responses from `server` -> `public-api`.

On the client, we still need to handle these as well, we should do the following:
[code]

[2022-11-07 23:36] jenting commented on #13353
I agree with @aledbf that the problem was some processes were still using the disk so VM couldn't detach the disk successfully.

But I do not understand why we use the block device approach and mount within workspacekit. So we can ensure that once the pod is terminated, there is no process still using it. 🤔
Is it because the workspacekit will gracefully shut down before the workspace pod is remove

[2022-11-08 00:02] adrienthebo opened #14491 "[self-hosted] installer job might be evicted during installation, disrupting the install process"
### Bug description

While debugging upgrades on an installation with a flaky node, we witnessed an installer job nearly complete but be evicted right before the installation process completed. This badly disrupted the installation process and was trigger to reduce node pressure on a node that wasn't hosting meaningful workloads.

### Steps to reproduce

Induce ephemeral storage node pressure on t

[2022-11-08 00:13] sagor999 commented on #13353
exactly. in theory once the pod is terminated, anything that was using it should be gone as well.

[2022-11-08 01:39] sagor999 commented on #13353
https://github.com/gitpod-io/gitpod/pull/14486
@aledbf I am stuck on not being able to mount that block volume device from inside the rings (tried ring0 and ring1), both fail with permission denied when attempting to run this line:
https://github.com/gitpod-io/gitpod/blob/8d6c1ce615b110aeabe0ff29d1d25c3575e117df/components/workspacekit/cmd/rings.go#L239

It seems like it might require container to

[2022-11-08 02:11] adrienthebo opened #14495 "[self-hosted] prebuilds may be scheduled during Gitpod upgrade"
### Bug description

During a debugging session of a gitpod self-hosted upgrade we noticed that prebuilds were being created during the upgrade process. We assume that workspaces will be stopped during the upgrade process; prebuilds break this assumption in a pretty surprising way and may lead to odd workspace behaviors if ws-daemon is restarted on a node containing a running prebuild.

### Steps

[2022-11-08 05:00] jenting commented on #13353
Here is the code to run in privileged mode.

https://github.com/gitpod-io/gitpod/blob/f89208dde3186a90620661c1381013e5f95d1a72/components/ws-manager/pkg/manager/create.go#L714-L718

[2022-11-08 05:52] sagor999 commented on #13353
ah. good find @jenting. so it does run as privileged when using kata. that would explain why mounting worked there and not in my branch.
@csweichel any workarounds that you might know? @Furisto @utam0k maybe you guys know how can we mount block volume device inside the container without using root.

[2022-11-08 06:32] andreafalzetti opened #14497 "Add Rider and CLion IDEs"
Part of Epic: https://github.com/gitpod-io/gitpod/issues/7751

[2022-11-08 06:36] jenting commented on #13353
@sagor999 I did grant the root permission when running the fsprep, but I still got the permission denied error. I will try to figure out why today.

[2022-11-08 06:42] utam0k commented on #11183
@Furisto
I noticed that this problem is for all upper-layer files. Perhaps it is a change that occurred within a container. This file is supposed to be deleted when dockerd stops. In other words, I thought I was receiving a SIGKILL, so I made this change. What do you think? I just couldn't figure out how to reproduce it and would love to hear what you know how to do.
https://github.com/gitpod-io/g

[2022-11-08 07:19] svenefftinge commented on #14061
see also #13070

[2022-11-08 07:21] svenefftinge commented on #14061
I think we should fix this by making `StartWorkspace` in ws-manager return as early as possible and then use the status updates to report any problems or state changes going forward. Is that something team workspace could do?

[2022-11-08 07:38] easyCZ commented on #14074
@jankeromnes The main benefit is identifying how much of the time from the SLO is taken up by the StartWorkspace call to ws-manager, vs the part on the WebApp side. The intent is that we need to understand if the WebApp side is getting worse, such that we can fix it, if needed. Otherwise, know that we're not regressing on our side.

[2022-11-08 07:48] easyCZ commented on #14113
As for how to clean up the released packages:

1. Sign into NPM on the CLI
2. List all the releases of the `public-api` pacakge with `npm view @gitpod/public-api versions --json`
3. Identify the ones we want to keep. Currently, the following seem to fit the bill:
[code]

Unpublish all the other ones, using `npm unpublish @gitpod/public-api@<version>`

[2022-11-08 08:07] utam0k commented on #13353
@jenting @sagor999 Do you want to use root permission from the host/node, right? If yes, the workspacekit doesn't have it. ws-daemon has it. so you need to talk to ws-daemon from workspacekit via IWS sever.

[2022-11-08 08:12] utam0k commented on #13353
Why can `sudo` be used but not real root? That question is an excellent starting point. This is because workspacekit uses a technique called rootless containers to make it appear as if root can be used. However, this root is only a pretense and cannot affect the host. Maybe these slide will help you.
https://app.pitch.com/app/presentation/2755ff58-8d31-4251-98a6-568dc35d1493/1673b972-a1a8-4e42-8b1

[2022-11-08 08:13] jenting commented on #13353
@utam0k We want the workspacekit to have the root permission to format the mounted block device inside the container.

[2022-11-08 08:27] mads-hartmann opened #14501 "Monitoring satellite fails to install in preview environments"
Monitoring satellite is currently failing to install in preview environments wit the following error. Example job [here](https://werft.gitpod-dev.com/job/gitpod-build-as-workspace-centralized-alerting.5/raw). See internal Slack report [here](https://gitpod.slack.com/archives/C01KGM9EBD4/p1667856500407799).

[code]

I'm going to have a look to see if this is due to recent changes in how we create a

[2022-11-08 08:29] geropl commented on #14061
Yes, that's the long-term goal.

We've discussed this for quite some time now. @svenefftinge In the context of this issue instead of waiting for Team Workspace, I'd rather try if we can remove some of our assumptions in the dashboard. E.g., we could quickly check if listening on instance updates/polling for workspace instance _before_ `startWorkspace` returns helps here. If yes, that'd be an accep

[2022-11-08 08:33] #12583 closed

[2022-11-08 08:36] atduarte commented on #14264
Identified as `blocked` as we are waiting for the deployment of the new logs and respective insights.

[2022-11-08 09:00] chiyanglin-AStar commented on #14455
@pawlean tks a lot for reply !   but I follow instruction , still not work !    and I am not allowed to drop message in Discord !
                 just provide this extension info. to you for reference :
                            https://marketplace.visualstudio.com/items?itemName=EugenWiens.bitbake
                            https://github.com/bjorkstromm/vscode-bitbake

[2022-11-08 09:11] Furisto opened #14504 "Execute specific integration tests instead of all"
## Is your feature request related to a problem? Please describe
Executing all integration tests can take a while. It would be great if one could specify which of the integration tests should be executed. This would speed up integration of PRs as one could then do` integration-test=TestCpuBurn,TestPrebuild` to execute only the tests that have been failing.

## Describe the behaviour you'd like
Spe

[2022-11-08 09:13] utam0k commented on #13353
I'll have to give it a try, but what about hooking the process with a seccomp notify mount? Wouldn't that device be visible from the hostt?

https://github.com/gitpod-io/gitpod/blob/f53edf7c9710e644f4ddd9580941b41f3020dac1/components/workspacekit/pkg/seccomp/notify.go#L212

[2022-11-08 09:28] akosyakov commented on #14113
- I think we should keep publishing from main under tag like `next` or something for each commit regardless of how we do publish for `latest` tag.
- For latest I guess we will need to do it manually if we want to be conscious about versions communicating API changes, or with some automation like conventional commits?

Do we plan to follow `semver`? or rather bump minor version each month and major

[2022-11-08 10:25] jenting commented on #13353
@utam0k But we did a trial that runs the container with the command `/.supervisor/workspacekit fsprep` which did not run the ring0/ring1/ring2. However, it does not work. Related code
- https://github.com/gitpod-io/gitpod/blob/71573f4275b5d402baf9c281fee0c7986c9dc496/components/ws-manager/pkg/manager/create.go#L748-L757
- https://github.com/gitpod-io/gitpod/blob/jenting/13353/components/workspacek

[2022-11-08 10:33] laushinka opened #14506 "Personal usage page does not show settings menu"
`https://gitpod.io/usage` should show the settings menu as well.

| ACTUAL | EXPECTED |
| - | - |
| <img width="423" alt="Screenshot 2022-11-08 at 11 30 22" src="https://user-images.githubusercontent.com/8015191/200541617-0712c544-b868-4034-bb9e-5b606ef04bd6.png"> | <img width="323" alt="Screenshot 2022-11-08 at 11 32 12" src="https://user-images.githubusercontent.com/8015191/200541903-c9a0ba44-4e

[2022-11-08 10:49] mads-hartmann opened #14509 "Read segments analytics token for preview environments from a secret"
Previously the segment token was passed in through Werft attributes, which meant that the tokens would be instantly leaked as they show up in the Werft UI.

Tarun and I will instead move the token to a secret and read it on-demand instead.

[2022-11-08 12:22] Furisto commented on #13353
Why does it need to be workspacekit that runs the fsprep? You could implement the operation in IWS and then call it from workspacekit.

[2022-11-08 12:24] gtsiolis commented on #14506
Currently, the usage page is designed as a full page layout.

See also [relevant discussion](https://gitpod.slack.com/archives/C027AUU7BC3/p1666879099675049) (internal) and https://github.com/gitpod-io/gitpod/issues/14240.

[2022-11-08 12:29] svenefftinge commented on #14463
I think it would be useful to default to the current billing cycle and then allow users to flexibly pick any other range.

[2022-11-08 12:43] geropl commented on #9564
@jankeromnes Given our recent changes [[1](https://github.com/gitpod-io/gitpod/pull/14461)]: Is there a combination of config that you could recommend shaal to use to fix this problem? :thinking:

[2022-11-08 13:08] mxcl commented on #14476
In fact we'd like to offer some kind of collaboration where tea defines how to build a project in that projects README using executable markdown and gitpod can infer that itself (without tea/cli).

[2022-11-08 13:09] #13749 closed

[2022-11-08 13:22] kylos101 commented on #13353
@Furisto using IWS may put us back into the original issue, where a process above/outside the workspace container is involved with attach/detach of the disk.

See [this comment](https://github.com/gitpod-io/gitpod/issues/13353#issuecomment-1306402373) for background.

[2022-11-08 13:26] jankeromnes commented on #9564
Thanks for the ping @geropl! Hi @shaal -- long time! 😁

So, to understand the problem at hand, I'm ignoring the issue title and all the previous comments before https://github.com/gitpod-io/gitpod/issues/9564#issuecomment-1291427091 (but please let me know if I'm missing something).

Aha, I see that your prebuilds are getting cancelled. There are two recent changes that could help figure out why:

[2022-11-08 13:36] aledbf commented on #14495
@adrienthebo to avoid any new workload in the cluster, you should cordon the cluster or adjust the score to 0 (gpctl)

[2022-11-08 13:38] #14509 closed

[2022-11-08 14:51] #14381 closed

[2022-11-08 14:52] easyCZ opened #14520 "Remove workspace download APIs"

[2022-11-08 14:54] easyCZ commented on #14364
I've added a task to this epic - https://github.com/gitpod-io/gitpod/issues/14520 to remove the backend parts. It required more changes than were worth bundling into it.

[2022-11-08 14:55] easyCZ commented on #14520
Duplicate of https://github.com/gitpod-io/gitpod/issues/14483

[2022-11-08 14:55] #14520 closed

[2022-11-08 15:12] abitrolly commented on #14476
Oh I like that. Especially if README.md can having a collapsible section with the location of these files. What should be the convention for section name? Or just freestyle text at the beginning of the line?

[code]

Although for human consumption, I would stuff this at the end of file.

<details>
  <summary><h3>Config<h3></summary>

[code]
</details>

---

And the template.

    <details>
      <

[2022-11-08 15:15] gtsiolis commented on #14382
Closing this as it was resolved in https://github.com/gitpod-io/gitpod/pull/14393.

[2022-11-08 15:17] gtsiolis commented on #14364
**heads-up**: @kylos101 The download functionality has been removed (merged, not deployed yet) from the workspaces list (https://github.com/gitpod-io/gitpod/issues/14381) and the admin dashboard (https://github.com/gitpod-io/gitpod/issues/14382).

We still need to resolve https://github.com/gitpod-io/gitpod/issues/14483 to completely remove the functionality. Cc @atduarte

[2022-11-08 15:24] gtsiolis commented on #14280
Adding this to the [product design board](https://github.com/orgs/gitpod-io/projects/29). 🎹

Cross-linking [relevant discussion](https://gitpod.slack.com/archives/C0463A2KQUU/p1666880391797149) (internal):

[2022-11-08 15:39] easyCZ commented on #14364
The backend removal PRs are open, referenced in the issue
* https://github.com/gitpod-io/gitpod/issues/14483

[2022-11-08 16:11] sagor999 commented on #13353
I think there is a workaround for permission issue.
We can run mounting of device as init container that runs as privileged container. Each container has its own sec context. I will implement that later today.

[2022-11-08 16:42] jimmybrancaccio opened #14529 "Scaling Up/Down Service Nodes in EKS Causes Problems With Pods That Use Persistent Volumes"
### Bug description

When scaling down a services node and then scaling it back up you may see that services/pods on that node fail to come back online due to volume mounting issues because of availability zones. This was originally reported with the OpenVSX Proxy but I was also able to replicate the issue with the MinIO pod.

### Steps to reproduce

1. Create an EKS cluster using the single-clust

[2022-11-08 17:25] gtsiolis commented on #14378
Opened https://github.com/gitpod-io/website/pull/3007 to resolve this.

[2022-11-08 17:53] froboy opened #14531 "Forking forked GitHub Repo fails"
### Bug description

Trying to publish a branch to a public GitHub repo you do not have privileges to correctly triggers the "Create Fork" flow, but then forking fails with `Git: remote upstream already exists.`

Logs report:

[code]

I also tried to manually remove the upstream before the process with `git remote remove upstream` but `git remote -v` reports the upstream remains no matter how I tr

[2022-11-08 18:02] froboy commented on #14531
Workaround for this is manually creating the fork and adding it via `git remote add...` but that requires extra steps which might be challenging for a novice contributor.

[2022-11-08 18:34] adrienthebo commented on #14529
Copying discussion from slack:

A cursory glance indicates that EBS volumes are scoped to a single availability zone; to support a multi-AZ cluster we'll need to switch to using EFS (which is 3x the cost of EBS). We're seeing a lot of development and support overhead to cover all possible self-hosted deployment scenarios and the reference architectures should nominally minimize the amount of area

[2022-11-08 18:36] NatoBoram opened #14533 "Don't open a new tab on update"
## Is your feature request related to a problem? Please describe

It is rude to interrupt my workflow by opening a new tab while I'm working...

## Describe the behaviour you'd like

Can you, like, not do that? Please?

## Describe alternatives you've considered

At least have a setting to disable this behaviour...

## Additional context

![Screenshot](https://user-images.githubusercontent.com/104

[2022-11-08 18:39] denismaggior8 commented on #9585
Actually, I managed Gitpod to work on GKE with custom CA cert, using a combination of a DaemonSet, a Secret and a ConfigMap.
What is your preferred way with which to contribute with my manifests? Adding @csweichel in the loop.

[2022-11-08 19:24] a-b opened #14536 "VPN connectivity via .gitpod.yml"
## Is your feature request related to a problem? Please describe
We need a way to connect my dev container to the private network via VPN to access internal resources.

## Describe the behavior you'd like
Dev containers can establish a VPN connection and access internal resources at an early provision stage.

## Describe alternatives you've considered
An alternative is to deploy GitPod inside the

[2022-11-08 20:01] svenefftinge commented on #10963
@gtsiolis this setting is not only for prebuilds but for all workspaces. So I opted for moving it into the workspace section.
Can you review? https://github.com/gitpod-io/gitpod/pull/14535

[2022-11-08 20:46] #12582 closed

[2022-11-08 20:47] svenefftinge commented on #5941
This is now available in project settings.

[2022-11-08 20:47] #5941 closed

[2022-11-08 20:47] svenefftinge commented on #6815
This is now available in project settings.

[2022-11-08 20:47] #6815 closed

[2022-11-08 20:50] svenefftinge commented on #9789
We could relatively easy add an additional context menu action on the projects branches list, that starts workspace from git.
Alternatively, a special context URL could do the trick as well.

[2022-11-08 20:50] #13754 closed

[2022-11-08 21:29] jmls commented on #6815
when will this be rolled out ? I see a "Skip prebuilds" - but no way of specifying a directory changed to trigger the prebuild  ..

[2022-11-08 21:37] sagor999 commented on #13353
Init container idea did not work. Mount does not persist between init container and regular container. :(
Or at least I do not know how to make it persist. Mount works though in init container (since I can run it as root privileged container). Just do not know how to make it persist between containers, if that is even possible.

[2022-11-08 22:00] kylos101 commented on #10963
@Furisto as Sven is taking this over, may I ask you to:
1. Remove this issue from the Workspace project
2. Close your [draft PR](https://github.com/gitpod-io/gitpod/pull/14257)?

This way our board has less "in-flight". :bow:

[2022-11-08 22:09] kylos101 commented on #11183
@utam0k are you able to recreate this issue when using PVC (like with Gitpod project and repo)? Or, are you only able to recreate when using backup powered by object storage? If the problem is isolated to object storage, we should wait, PVC may solve. If you can recreate the problem with PVC too, let us know?

[2022-11-08 23:02] filiptronicek commented on #14222
@mustard-mh could you please take a look at https://github.com/gitpod-io/openvscode-server/pull/462? It should be a 🛹 fix for this, as I didn't find an easier solution for forcing the display of the metadata - and I think it's enough.

@abitrolly with the changes done in the above Pull Request, would you be alright for you if the extensions view would look like this (see mainly changes in descript

[2022-11-08 23:54] aledbf commented on #14264
new metric deployed, waiting for errors....
![Screenshot from 2022-11-08 20-53-02](https://user-images.githubusercontent.com/161571/200701657-47a6ae75-91b1-4f14-95a6-fc0e9a38adc1.png)

[2022-11-09 01:43] sagor999 commented on #13353
I am out of ideas, so for now removing myself as assignee.

[2022-11-09 01:44] abitrolly commented on #14222
Can't comment for some reason. Testing.

[2022-11-09 01:44] abitrolly commented on #14222
Awesome! Thanks. An improvement would be to explain what it really does, because "integration" doesn't make it clear.

I would also leave the naked link..

https://github.com/gitpod-io/openvscode-server/tree/gp-code/main/extensions/gitpod-web

The other thing that is not clear, is iwhyssues are not belong to this repo?

[2022-11-09 02:02] tomwheeler opened #14541 "October Release Notes seem to delay or break initialization"
### Bug description

My workspace is created from [this repo](https://github.com/temporalio/edu-101-go-code/) and defines tasks to display a README.md file and open the Simple Browser at startup. This has worked fine for several months, but this evening I found that my workspace now shows the "October GitPod Release 2022" page at startup instead.

There are two problems here. We're using GitPod to

[2022-11-09 02:26] PlanexDev commented on #14459
Tested this on Chrome 103 on Linux, no bug

[2022-11-09 02:53] utam0k commented on #13353
@jenting
First, we don't allow running the workspace pod as a host root user from the security view. It is too dangerous.

Do you know which system call permissions are missing? Could it be a system call that is prohibited by seccomp?
Could it be a system call that is prohibited by seccomp?
https://github.com/gitpod-io/gitpod/blob/main/components/ws-daemon/seccomp-profile-installer/main.go

[2022-11-09 02:58] utam0k commented on #13353
The IWS server has a nsinsider that creates a temporary process and puts it into an arbitrary Linux namespace (e.g. workspace). Can this be used?

[2022-11-09 03:24] svenefftinge commented on #14199
Did you consider creating multiple teams?

[2022-11-09 03:57] fawaz-alesayi commented on #14459
Can confirm the same issue.
Blink v16.0.1.616

[2022-11-09 04:40] fsanterva commented on #817
I installed yarn, curl, git and neovim via sudo apt, but when timeout and open it up, all install apt are gone :( how do we solve this?

[2022-11-09 04:41] fsanterva commented on #817
I installed yarn, curl, git and neovim via sudo apt, but when timeout and open it up, all install apt are gone :( how do we solve this?

[2022-11-09 05:56] utam0k commented on #11183
@kylos101 That's what I'm wondering too. However, I don't know how to reproduction this issue, I was asking @Furisto
And if the problem is that processes in the workspace receive SIGKILL, this is a much more abstract problem. In other words, it is likely that there is software other than dockerd that will terminate without being given time to clean up afterwards. e.g. supervisor

[2022-11-09 07:20] abitrolly commented on #10440
@iQQBot why allowing UDP traffic Kubernets LoadBalancer policy won't work? Not sure what Gitpod is using, but I guess it is here https://github.com/gitpod-io/gitpod/blob/main/install/installer/pkg/common/networkpolicies.go

[2022-11-09 07:26] abitrolly commented on #10440
@iQQBot `mosh` allows to specify the port, so I guess it can be fixed. So what it should do?

[2022-11-09 07:49] #14481 closed

[2022-11-09 07:50] #14482 closed

[2022-11-09 07:53] #14480 closed

[2022-11-09 08:10] #11941 closed

[2022-11-09 08:41] jldec commented on #14199
How about  creating projects on private repositories - this would limit workspaces to users with git access to the underlying repo. (I understand that projects would still be still visible

[2022-11-09 08:47] #14361 closed

[2022-11-09 08:47] #14468 closed

[2022-11-09 09:05] #11020 closed

[2022-11-09 09:53] akosyakov commented on #13070
@jankeromnes You did not have a look at browser logs by any chances to exclude that it is some kind of frontend bug?

[2022-11-09 09:54] #5765 closed

[2022-11-09 10:16] axonasif commented on #14459
Hi, could you guys please follow this?
- https://www.gitpod.io/docs/help/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop

[2022-11-09 10:19] axonasif commented on #14541
Related: https://github.com/gitpod-io/gitpod/issues/12704

[2022-11-09 10:22] axonasif commented on #14541
`gp open README.md` is probably unable to detect IDE ready state, so it's blocking further execution.

[2022-11-09 10:24] axonasif commented on #14536
Hi @a-b, would tailscale work for your usecase?
https://www.gitpod.io/docs/configure/tailscale

[2022-11-09 10:26] axonasif commented on #14533
Hi @NatoBoram, you will have an option soon.
https://github.com/gitpod-io/gitpod/issues/12704

[2022-11-09 10:28] axonasif commented on #14531
Hi @froboy, can you reproduce this on [VSCode Desktop](https://www.gitpod.io/docs/ides-and-editors/vscode)? (assuming that you're using Gitpod on VSCode Web)

[2022-11-09 10:32] axonasif commented on #14476
Possible duplicate: https://github.com/gitpod-io/gitpod/issues/729

[2022-11-09 10:35] axonasif commented on #14455
Hi @chiyanglin-AStar, not sure why you can't drop message on discord, maybe try again 😅

You can use that extension by opening your workspace on vscode desktop:
- https://www.gitpod.io/docs/ides-and-editors/vscode

[2022-11-09 10:39] tuxflo opened #14549 "[Azure] Deployment not starting up"
### Bug description

I'm trying to setup gitpod (community license) on Azure to evaluate the tool for our onboarding and dev experience.
I followed the [Azure Installation Guide](https://github.com/gitpod-io/gitpod-microsoft-aks-guide) for the requirements and then did the kots install.
Even though with the preflight checks all green gitpod reports the status "Missing" in the dashboard and the tro

[2022-11-09 10:41] axonasif commented on #14416
Thank you @lnicola 🙂

[2022-11-09 11:00] #11816 closed

[2022-11-09 11:18] chiyanglin-AStar commented on #14455
@axonasif  tks a lot !  it could be that I am not familar with discord !

                   I know that bitbake extension can support vscode desktop ,  my question is how to add this extension in vscode browser !  if it can't support for now , just let me know ! tks  a lot !

[2022-11-09 11:20] #14467 closed

[2022-11-09 11:24] #11552 closed

[2022-11-09 11:25] #11248 closed

[2022-11-09 11:26] #9897 closed

[2022-11-09 11:26] #10624 closed

[2022-11-09 11:27] jldec commented on #14199
Another workaround which removes the need for projects (users just need to be members of the team) is for users to set their default billing account to point to the team in their user preferences.

From https://www.gitpod.io/docs/configure/billing/usage-based-billing

<img width="756" alt="Screenshot 2022-11-09 at 11 24 37" src="https://user-images.githubusercontent.com/849592/200818406-71bd1e85-2

[2022-11-09 11:28] #11595 closed

[2022-11-09 11:29] #11182 closed

[2022-11-09 11:29] #9664 closed

[2022-11-09 11:30] #10849 closed

[2022-11-09 11:30] #10253 closed

[2022-11-09 11:51] gtsiolis commented on #11528
Closing this as usage layout and colors have been updated.

[2022-11-09 11:51] #11528 closed

[2022-11-09 11:51] gtsiolis commented on #11527
Closing this as usage layout and colors have been updated.

[2022-11-09 11:51] #11527 closed

[2022-11-09 11:51] akosyakov commented on #14061
We tried to explore an idea here: https://github.com/gitpod-io/gitpod/pull/14547 by introducing artificial timeouts in ws-manager. It does not seem that listening to events help if there is an PVC since they are created before the pod. It does help if there are issues after creation of the pod.

I'm not sure how to verify the change. One idea is to have a look at percentiles of createWorkspace cal

[2022-11-09 11:52] gtsiolis commented on #12027
Closing this as most points here have been resolved in https://github.com/gitpod-io/gitpod/pull/13590.

[2022-11-09 11:52] #12027 closed

[2022-11-09 11:57] akosyakov commented on #14459
It seems to be a regression in the upstream: https://github.com/microsoft/vscode/issues/165416

Try to disable gpu acceleration how suggested here: https://github.com/microsoft/vscode/issues/165416#issuecomment-1302651173

[2022-11-09 11:59] axonasif commented on #14455
It's possible to use it on the browser(web) version, but I can't show you how. So in other words.. yeah, it's not supported **right now**.

But, you can get it on the browser(web) vscode by asking the extension author to publish on https://open-vsx.org/, resharing a (tag)link  which Pauline had already shared 🙂 :
- https://www.gitpod.io/docs/references/ides-and-editors/vscode-extensions#where-do-i

[2022-11-09 12:01] jldec opened #14552 "[UBP] Usage-based users cannot see workspace classes after downgrading existing paid plans to Free"
Users who downgrade (cancel) their individual Chargebee plans in order to access usage-based features are unable to see the workspaces classes preference even once they are back on the Free plan.

This was reported by several users

- [here](https://app.frontapp.com/open/msg_zmb1fka) (internal)
- [here](https://app.frontapp.com/open/msg_zmd4fpm) (internal)
- [here](https://app.frontapp.com/open/ms

[2022-11-09 12:08] laushinka commented on #14280
Thanks for the context, @gtsiolis!
Looking at the past designs briefly we could use the same base. Some WIP to keep in mind:
- Creation will require more input than just name, but also description, scopes, expiration time. Depending on the length of scopes list, it might affect whether we use a modal on creation.
- List of tokens shows more details e.g. when it expires, maybe when it was last used

[2022-11-09 12:12] #11751 closed

[2022-11-09 12:15] laushinka commented on #14280
@gtsiolis [RFC](https://www.notion.so/gitpod/Gitpod-Tokens-RFC-69b617426bd040e295a95c623b725218) is accepted 👍🏼

[2022-11-09 12:22] Pothulapati commented on #14549
Hey @tuxflo

Thanks for raising the issue. Looking at the analysis.json in the uploaded bundle, I can see a bunch of cert-manager issues. Did you configure cert-manager correctly so that it can get the relevant domain TLS be issued through let's encrypt? 🤔

There are relevant steps in the [azure guide on them](https://github.com/gitpod-io/gitpod-microsoft-aks-guide#dns-records). Also, If you can f

[2022-11-09 12:27] axonasif commented on #9171
If you can shell into a docker container locally, as a user I'd expect it to work on Gitpod too without any extra efforts 😄
We could detect which package manager exists and pass commands to it, if none, we could try installing `nix` package manager in the system and install via it.

[2022-11-09 12:29] gtsiolis commented on #14280
Thanks for the heads-up, @laushinka!

Regarding the context in https://github.com/gitpod-io/gitpod/issues/14280#issuecomment-1308654514, I haven't read the RFC in-depth yet but the list of options listed there looks long. Should we consider breaking the list of features into smaller pieces as MVC [skateboards](https://www.notion.so/Ship-skateboards-f7f54cb1c69643e9ac42c9f2ddd9e46f) to avoid [scope

[2022-11-09 12:32] easyCZ commented on #13634
There remains server-side implementation of the OTS retrieval on `server`. Is that in scope for removal? @Furisto

[2022-11-09 12:34] chiyanglin-AStar commented on #14455
@axonasif very tks a lot for explanation ! not sure that arthor have interest to follow open-vsx to revise !
                  if you have any better tool for yocto or bitbake on vscode , please let me know ! tks again !

[2022-11-09 12:41] gtsiolis commented on #14280
@easyCZ Perfect, sounds good! I'll dive into more designs for this features in the next few days.

[2022-11-09 12:57] axonasif opened #14556 "`gp ports await` subcommand errors with: cannot read /proc/net/tcp6"
### Bug description

Noticed this after I opened `workspace-images` repo on Gitpod, a task was using `gp ports await` subcommand.
<img width="1437" alt="Screenshot 2022-11-09 at 6 51 55 PM" src="https://user-images.githubusercontent.com/39482679/200836110-26044e7a-8b88-494b-bd46-45883c637835.png">

[code]

### Steps to reproduce

- Open https://gitpod.new or https://github.com/gitpod-io/workspace-

[2022-11-09 13:00] easyCZ commented on #14483
I've removed the following related to WorkspaceDownload

* Server endpoints
* Proxy plugin
* Content service endpoints

I can no longer find any references in our codebase to workspace download and I believe this is now complete. Closing. Re-open if you believe there is something else required.

[2022-11-09 13:00] #14483 closed

[2022-11-09 13:03] #14114 closed

[2022-11-09 13:05] easyCZ commented on #14482
Validated this change works in prod.

![Image](https://user-images.githubusercontent.com/1419286/200837915-13c0c992-be66-4fa2-ad24-ccff4e9dcff8.png)

[2022-11-09 13:09] geropl commented on #11574
I think this idea is still relevant, and we continue to discuss it.

[2022-11-09 13:12] #14552 closed

[2022-11-09 13:26] gtsiolis commented on #14482
Looks great, @easyCZ! Thanks for confirming. 🏓

[2022-11-09 14:22] gtsiolis commented on #14381
Validating this works in production.

[2022-11-09 14:22] gtsiolis commented on #14382
Validating this works in production.

[2022-11-09 14:43] geropl opened #14560 "[db-sync] Fix potential lost update"
There is a gap in db-sync that might lead to lost updates/inserts in some scenarios. The details are outlined in [this doc](https://www.notion.so/gitpod/db-sync-data-consistencies-investigation-3393541c4cc94808b96ade68b22d506c).

While we are in the process of https://github.com/gitpod-io/gitpod/issues/9198 we still intend to use it to ensure data quality before we migrate to a different system. S

[2022-11-09 14:45] gtsiolis commented on #4977
Closing this as we're removing the **workspace download** functionality in the scope of workspace file durability (https://github.com/gitpod-io/gitpod/issues/7901).

See also https://github.com/gitpod-io/gitpod/issues/14364#issuecomment-1301901454:

Cc @kylos101 @atduarte

[2022-11-09 14:45] #4977 closed

[2022-11-09 14:49] jankeromnes opened #14561 "Epic: Allow annual credit pre-commitments for usage-based"
### Summary

In the context of usage-based, we would like to allow customers to pre-commit to a certain number of usage credits over (e.g.) the next 12 months.

### Context

- [RFC](https://www.notion.so/gitpod/RFC-enable-selling-Public-SaaS-UBP-annual-commits-multi-tenant-a735e7a6fb5a4f32a7296ae545874398) (internal)
- [Slack thread](https://gitpod.slack.com/archives/C027AUU7BC3/p1667993271227099)

[2022-11-09 14:50] #14459 closed

[2022-11-09 14:59] jimmybrancaccio commented on #11626
I had a peek at the logs and there's [still instances](https://cloudlogging.app.goo.gl/z7Jd3bXgG7KJ4aTb9) where this is happening.

[2022-11-09 15:08] mads-hartmann opened #14562 "Build: Regression in publish-to-npm causing us to publish NPM packages for all branches"
The Werft job is supposed to only publish packages to NPM under the following conditions

1. If the build is from the main branch
2. If the `publish-to-npm` attribute is set (/werft publish-to-npm or -a publish-to-npm=true)

Currently it appears to be publishing NPM packages always. See the Versions tab [here](https://www.npmjs.com/package/@gitpod/public-api).

[Slack discussion](https://gitpod.sl

[2022-11-09 15:11] jimmybrancaccio commented on #11929
I just checked again and can confirm this is still an issue.

[2022-11-09 15:55] jenting commented on #13353
Thank you @utam0k. It works as expected, reference [branch](https://github.com/gitpod-io/gitpod/tree/jenting/13353).
The left problem is some of the folders/files UID/GID is incorrect.

But I think we could rerun the loadgen first to see whether changing PVC with the block device fix this issue or not.
And I am worried that choosing IWS to mount/format the disk does not fix this issue because we h

[2022-11-09 15:59] #14556 closed

[2022-11-09 17:38] froboy commented on #14531
@axonasif yes, it looks like the same behavior in VSCode Desktop:
<img width="647" alt="zzztest_—_yusaopeny_docs__SSH__ycloudyusa-yusaopenydoc-zczgvwqn68i_ssh_ws-us75_gitpod_io_" src="https://user-images.githubusercontent.com/238201/200900688-fbcdf71f-2614-46cf-974f-6e28c862492c.png">

Also just for kicks I cloned [the repo](https://github.com/YCloudYUSA/yusaopeny_docs) locally and the upstream is

[2022-11-09 18:28] #12194 closed

[2022-11-09 18:34] kylos101 commented on #14264
[Still happening in us75](https://cloudlogging.app.goo.gl/JB82pNWbk5s5saHt9), doh! 132 in the last 24h.

[2022-11-09 20:46] omarkohl opened #14576 "CORS Preflight OPTIONS request with private port is blocked with 401 Unauthorized"
### Bug description

My app is separated into an API and a GUI, started on different ports. If the API port is public, everything works fine. If the port is made private, then the OPTIONS request never reaches the API but seems to be blocked by Gitpod.

[code]

This request never reaches my API. Instead I see the following response in the browser console:

[code]

This suggests to me that Gitpod i

[2022-11-09 21:53] kylos101 commented on #11183
@utam0k @Furisto I am going to remove this issue from our project (for now) as we plan to proceed with PVC. Let's plan to reevaluate after PVC is being used.

[2022-11-09 22:30] kylos101 commented on #14451
Removed from scheduled groundwork for now, let's treat this as a Day 2 item, pending how things go with PVC running at 10%.

[2022-11-09 22:31] kylos101 commented on #11020
Closing as not planned and removing from project.

[2022-11-09 22:35] kylos101 commented on #14556
Thank you @aledbf for picking this up!

[2022-11-09 22:39] kylos101 commented on #13598
Here's another reason to require passing tests prior to merge.

https://gitpod.slack.com/archives/C03E52788SU/p1667954858802449

The Workspace tests are broken. 😢

It's possible we broke them? But hard to tell, so now we have to go splunking.

[2022-11-09 23:24] utam0k commented on #13353
@jenting I'm glad to hear that :heart_eyes:   Is there any other help you need now?

[2022-11-10 00:20] kylos101 commented on #10134
@atduarte this is done now, let @Furisto know if you need any support for validation?

[2022-11-10 00:22] kylos101 commented on #8261
@atduarte as this is successfully in early preview now, can we move to done?

[2022-11-10 04:30] gengjiawen opened #14579 "[browser extension] flakiess too much on github"
### Bug description

Not showing gitpod button.

![image](https://user-images.githubusercontent.com/3759816/201000802-5a9ab97b-7976-47ff-b161-cc70baaab8bd.png)

### Steps to reproduce

Not stable reproduce, but occured too frequently recently.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

Maybe add a second

[2022-11-10 08:06] geropl commented on #13945
I feel this has been superseded. Correct me if I'm wrong. 🙃

[2022-11-10 08:06] #13945 closed

[2022-11-10 08:07] geropl commented on #13804
@jankeromnes In light of recent discussions I will close this for now. D'accord?

[2022-11-10 08:07] #13804 closed

[2022-11-10 08:12] easyCZ commented on #10134
There still seem to be OTS implementation on Server, and it's also being called/used - [metrics](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22datasource%22:%7B%22type%22:%22prometheus%22,%22uid%22:%22P4169E866C3094E38%22%7D,%22editorMode%22:%22code%22,%22expr%22:%22sum%28increase%28gitpod_server_http_requests_

[2022-11-10 08:12] j0nes2k commented on #14556
Is a fix for this already deployed? Running into the same issue at the moment...

[2022-11-10 08:16] jankeromnes commented on #13944
@geropl Good catch! No, I indeed think that our current approach (automatically re-using an older prebuild when possible) is better than offloading choice and complexity onto our users.

Let's close this ticket for now. I believe https://github.com/gitpod-io/gitpod/issues/14479 is now the more relevant issue, if we want to provide more clarity to users when an older prebuild is used, but I'd also

[2022-11-10 08:16] #13944 closed

[2022-11-10 08:17] jankeromnes commented on #13804
Sounds good to me, thanks!

[2022-11-10 08:18] easyCZ commented on #14243
@kylos101 This was left accidentally in our previous sprint and didn't show up on the new one, so it went "out of sight, out of mind". I'm picking it up now.

[2022-11-10 08:32] gtsiolis commented on #13944
Thanks for the ping, @jankeromnes!

No, this was still on the **[product design inbox](https://github.com/orgs/gitpod-io/projects/29)**. 😁

Let's keep that open as you mentioned to keep track of this. I think bringing better visibility of which commit you're using in the prebuild could be useful on the workspace start, if not also on the workspaces list. 💭

[2022-11-10 08:37] akosyakov commented on #14556
It should be deployed today at 12 CET.

[2022-11-10 08:45] #10963 closed

[2022-11-10 09:05] MrSimonEmms commented on #14529
This might not necessarily be relevant to the issue at hand, but why does an AWS user have a Minio pod in their Gitpod cluster? As I recall, Minio should only be there if they're using in-cluster object storage or Azure for storage (in this case, it's just a gateway to provide an S3 interface - nothing gets stored on the cluster).

Could the problem be solved by switching over from in-cluster stor

[2022-11-10 09:37] #8261 closed

[2022-11-10 10:16] jenting commented on #13353
I make another approach, using the init container to mount the block device and format it.
In this way, the PVC feature does not rely on the IWS anymore. Here is the [branch](https://github.com/gitpod-io/gitpod/tree/jenting/pavel-13353).

[2022-11-10 10:51] dangercrow commented on #11914
Unstaling.

[2022-11-10 10:53] #14378 closed

[2022-11-10 11:41] omarkohl commented on #14576
I created a small example repository that reproduces the issue. I updated the issue description. This is the repository. The README contains step by step instructions to reproduce the problem https://github.com/omarkohl/gitpod-cors

[2022-11-10 11:55] easyCZ commented on #13674
The degradation seems to have happened between at least 14 of Octoboer to 20 October. Since then, the APIs have returned to normal behaviour. Closing, we can re-open if needed.

![Image](https://user-images.githubusercontent.com/1419286/201084185-25a9edce-db74-4d1a-a169-174f561fcfa7.png)

[2022-11-10 11:55] #13674 closed

[2022-11-10 12:43] #13254 closed

[2022-11-10 12:54] #14501 closed

[2022-11-10 14:06] mittalyashu opened #14585 "Move gitpod related files to `.gitpod` directory"
To have a clean project tree and have consistency just like other providers, it would be nice to have all Gitpod related configuration files to `.gitpod` directory.

As far I know there are currently these files Gitpod uses:
* `.gitpod.yml`
* `.gitpod.Dockerfile`

[2022-11-10 14:07] mittalyashu commented on #14585
_I don't see any label added_ 👀

This is a feature request 🙂

[2022-11-10 14:38] gtsiolis commented on #14585
Hey @mittalyashu! Thanks for opening this, closing it as a duplicate of https://github.com/gitpod-io/gitpod/issues/729.

[2022-11-10 14:38] #14585 closed

[2022-11-10 14:42] mittalyashu commented on #14585
and here I spent 10 minutes searching for an existing issue 🤦‍♂️😂

Thanks George

[2022-11-10 16:09] Furisto commented on #10134
@easyCZ @kylos101 I believe @geropl wanted to remove it.

[2022-11-10 16:24] atduarte commented on #9629
@jkaye2012 sorry for taking so long to get to this.

@loujaybee @akosyakov could it be related with IDE integration or heart beating? Doesn't seem workspace related.

[2022-11-10 16:25] atduarte commented on #12182
@gounthar did it happen again?

[2022-11-10 16:32] jkaye2012 commented on #9629
They are shared above - that's all the information I have unfortunately (considering this was two months ago)

[2022-11-10 17:11] akosyakov commented on #9629
We reworked heartbeating in July [[1](https://github.com/gitpod-io/gitpod-vscode-desktop/commit/39353b7f0834fe46d6e78d7049049f8d6453ce2b)] for VS Code Desktop. Do you have issues now?

[2022-11-10 17:24] atduarte commented on #12682
Resolved and published: https://www.gitpod.io/changelog#faster-startup-times-for-large-repositories

[2022-11-10 17:24] #12682 closed

[2022-11-10 17:26] atduarte opened #14590 "Replace use of shiftfs"

[2022-11-10 17:34] jkaye2012 commented on #9629
I don't think I've had any issues this week. The original issue was in September, so well after that rework.

[2022-11-10 20:41] jldec opened #14591 "[admin][UBP] Grant free credits to users in admin dashboard"
Admins should be able to grant additional credits to users E.g. to unblock their usage if they had out-of-control prebuilds before switching to UBP.

Example [here](https://gitpod.slack.com/archives/C027AUU7BC3/p1668112223326439) (internal)

[2022-11-10 20:45] jldec commented on #14591
A reasonable option would be to reset the clock on their free tier so that they start with a fresh 500 credits.

[2022-11-10 21:04] jldec commented on #14506
Let's keep it full page - this navigation weirdness does not justify redesigning the page.

To maintain discoverability, we could remove it from the settings sidebar, and put it in the main user dropdown at the top instead.

[2022-11-10 21:04] #14506 closed

[2022-11-10 21:38] adam-tylr commented on #5095
I'm running enterprise self hosted connected to SaaS Gitlab in an organization with thousands of repositories. It took about a minute to load the list of repos to choose from and it's not practical for me to find the one I need. We heavily make use of Gitlab subgroups to sort projects by org and team but the UI only displays the repo name. We have many projects with same or similar names but in di

[2022-11-10 23:12] kylos101 commented on #13353
Awesome, nice work @sagor999 and @jenting !!! :rocket:

@jenting for Friday, can you:
1. test that you can restart workspaces?
2. assert integration tests pass?
3. see if you can recreate the issue with loadgen?

Good luck! :four_leaf_clover:

[2022-11-11 02:10] jenting commented on #13980
PR both merged, waiting for the deployment, and closing it.

[2022-11-11 02:10] #13980 closed

[2022-11-11 04:34] Cvetk0 commented on #10799
👍 - looking forward to having an API for team and project management.

[2022-11-11 06:56] jenting commented on #13353
Leaving a note here.

We need to _umount_ the block device before requesting Kubernetes to create the PVC snapshot.
Otherwise, the workspace content does not exist in the PVC snapshot.

[2022-11-11 07:31] omarkohl commented on #14576
For what it's worth, GitHub Codespaces has exactly the same problem (same code base?) and yesterday there was confirmation that the issue is real and that my hypothesis concerning the OPTIONS request and authentication is correct.

https://github.com/orgs/community/discussions/15351

So now it's a race, who will fix it first, Codespaces or Gitpod :wink:

[2022-11-11 08:04] easyCZ opened #14595 "Document UBP domain model"
We want to extend our architecture diagram with documentation on UBP, in particular on the UBP domain model and relevant data storage.

This should cover the following:
* Which tables do we use, and their meaning
* How does data flow into them, and how are they modified
* What do we expect to exist for particular types of Billing modes.

[2022-11-11 08:09] svenefftinge opened #14596 "[code] I'n no longer logged in to GitHub"
I noticed that I'm no longer automatically logged in to GitHub when starting a workspace with browser vs code.

The GitHub Pull Request extension was not installed. Trying to manually install it results in:

[2022-11-11 09:07] MrSimonEmms opened #14598 "[Installer]: when `kind: Meta`, workspace node label errors still show"
### Bug description

The node label checker in `installer validate cluster` shows missing workspace errors even when `kind: Meta` is set.

Also, check the inverse (no workspace errors when `kind: Workspace`)

### Steps to reproduce

Use installer with `kind: Meta` against a workspace-only cluster

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

[2022-11-11 09:07] MrSimonEmms commented on #14598
/cc @nandajavarma

[2022-11-11 09:28] loujaybee opened #14600 "Epic: Improve configuring Gitpod docs"

[2022-11-11 10:53] mads-hartmann commented on #12830
Once https://github.com/gitpod-io/gitpod/pull/14601 is merged, the easiest way to test this is to run `leeway run dev/preview:build` once to build and populate the cache, and then run `leeway run dev/preview:build` again to see how long it takes rebuild the images even when nothing changes ☺️

[2022-11-11 11:32] #14363 closed

[2022-11-11 11:37] Pothulapati commented on #14529
First, This happens because `openVSXProxy` statefulset has a redis container attached that has a PVC volume called `redis-data`. Because of the use `PVC` in the reference architecture (which has a requirement of being reliable and thus zone independent), A new instance could be on different zone causing this problem.

I and @lucasvaltl had a discussion about this, and have the following points:
-

[2022-11-11 11:50] easyCZ opened #14602 "Implement CreatePersonalAccessToken RPC"
Implement https://github.com/gitpod-io/gitpod/blob/main/components/public-api/gitpod/experimental/v1/tokens.proto#L49

We will need to do the following:
- [x]  Add a migration to create the new table to store these tokens https://github.com/gitpod-io/gitpod/pull/14724
- [x]  https://github.com/gitpod-io/gitpod/pull/14770
- [x] Define a DB model in Go, under the `public-api-server/pkg/db` - see exa

[2022-11-11 12:40] #14279 closed

[2022-11-11 12:44] easyCZ opened #14605 "Epic: [public-api] Experimental ProjectsService"
### Summary

In this epic, we will implement and use Projects Service on the public-api.

### Context

We want to define and implement the Projects Service to start the migration of APIs to the Public API. To do this, we need to first implement our APIs in experimental mode, and dogfood them in dashboard.

In this epic, we implement and dogfood the following:

CreateProject
GetProject
ListProjects

[2022-11-11 12:45] easyCZ opened #14606 "Define Projects API"

[2022-11-11 12:49] Pothulapati commented on #14529
Created https://github.com/gitpod-io/gitpod/pull/14603 which does 2 i.e making PVC optional through the `disablePVC` option.

[2022-11-11 13:30] #14474 closed

[2022-11-11 13:46] svenefftinge commented on #14596
seems to work now

[2022-11-11 13:46] #14596 closed

[2022-11-11 13:48] laushinka opened #14609 "Implement GetPersonalAccessToken RPC"
Implement a GetPersonalAccessToken RPC.

[2022-11-11 13:48] laushinka opened #14610 "Implement ListPersonalAccessTokens RPC"

[2022-11-11 13:48] laushinka opened #14611 "Implement RegeneratePersonalAccessToken RPC"

[2022-11-11 13:48] laushinka opened #14612 "Implement UpdatePersonalAccessToken RPC"

[2022-11-11 13:48] laushinka opened #14613 "Implement DeletePersonalAccessToken RPC"

[2022-11-11 13:48] laushinka opened #14614 "Implement empty PersonalAccessToken page in the dashboard"
Behind the feature flag `personalAccessTokensEnabled`

[2022-11-11 13:48] laushinka opened #14615 "Implement token creation page/modal"

[2022-11-11 13:48] laushinka opened #14616 "Implement token regeneration UI"

[2022-11-11 13:49] laushinka commented on #14465
Outcome of this ticket is included in the [Epic](https://github.com/gitpod-io/gitpod/issues/14280) description.

[2022-11-11 13:49] #14465 closed

[2022-11-11 13:49] laushinka opened #14617 "Implement scopes update UI"

[2022-11-11 13:49] laushinka opened #14618 "Implement delete token UI"

[2022-11-11 13:54] svenefftinge commented on #14591
We should allow admins to do these things:
- [ ] Add usage entries to adjust the current credit balance in both directions.
  - they need a special usage kind as well as a mandatory description and userId of the admin.
- [ ] Adjust spending limit of cost-center
- [ ] See usage

@jldec What is the order in which you want to see this in production?
@gtsiolis We need design input on how to switch bet

[2022-11-11 14:15] easyCZ opened #14619 "Implement server API to check if a User has permission to operate on a token"
Public API has so far only been proxying requests to server. As a result, the authentication on Public API only checks for the presence of credentials, rather than actually authenticate the credentials.

In order to guard access to the Tokens endpoints, we need to be able to authenticate the call. Currently, the resource guards are buried in server without any ability for us to access them from th

[2022-11-11 14:49] #14606 closed

[2022-11-11 14:52] DhanielB opened #14621 "Feedback Issue:"
### Objective

i'm having a lot of problems with gitpod, my time limit is over and i hadn't saved my files, now i'm about to be **fired**, if i don't submit the project by monday **my boss fires me**, **_HOPE SOME SOLUTION AND FAST_**

[2022-11-11 14:54] DhanielB opened #14622 "I BEING FIRED BECAUSE OF GITPOD"
i'm having a lot of problems with gitpod, my time limit is over and i hadn't saved my files, now i'm about to be **fired**, if i don't submit the project by monday **my boss fires me**, **_HOPE SOME SOLUTION AND FAST_**

[2022-11-11 15:37] easyCZ commented on #14619
Thinking about this more, I believe we can simplify this by using the following:
`getLoggedInUser`. This will resolve to the current identity and will allow us to ensure that requested data matches the user.

[2022-11-11 15:45] axonasif commented on #14622
Hi @DhanielB, could you contact support?
https://www.gitpod.io/contact/support

[2022-11-11 15:45] #14622 closed

[2022-11-11 15:46] axonasif commented on #7901
Question: How would someone who ran out of hours get their data back?
Contact support? It'd be better if they could self-serve.

[2022-11-11 15:48] axonasif commented on #14621
Duplicate of https://github.com/gitpod-io/gitpod/issues/14622

[2022-11-11 15:48] #14621 closed

[2022-11-11 15:53] axonasif opened #14626 "VSCode desktop stuck on "Installing local extensions on remote" progress bar"
### Bug description

Yesterday I updated to latest vscode and also updated my Gitpod extension, since then I saw this happening.

### Steps to reproduce

- Update to latest vscode desktop client and gitpod extension.
- See this being stuck:
<img width="575" alt="Screenshot 2022-11-11 at 9 52 02 PM" src="https://user-images.githubusercontent.com/39482679/201377221-93fdc7a8-b2fc-47a4-9f78-6c3dca6c48

[2022-11-11 15:55] jacobparis commented on #14626
I can confirm I have also been facing this for at least a week

[2022-11-11 16:18] shaal commented on #11426
Github's Codespaces interface has a similar Ports panel.
Clicking on "Ports" panel in Codespaces opens right away with no delay.

[2022-11-11 16:41] WVerlaek commented on #13353
@jenting a bit of a hack, but would it be possible for the `preStop` hook to send a SIGTERM to the workspace entrypoint and wait until it exits, before running `fsfreeze`? I'm not sure if k8s will let the preStop hook continue to run after the container itself exits though

[2022-11-11 20:31] jldec commented on #14591
@svenefftinge priorities from product side are:

1. unblock users who hit their limit due to unforeseen reasons like runaway prebuilds - this is probably best done by adjusting the credit balance, but could also be done with a **temporary** usage limit bump.
2. grant a **permanent** increase/decrease in free tier usage limit e.g. for open source maintainers.
3. see current total usage, credit limi

[2022-11-11 22:46] kylos101 commented on #13353
Related: https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/608

[2022-11-12 04:09] kylos101 commented on #12983
Moving back to the inbox, to create bandwidth in our groundwork.

cc: @atduarte

[2022-11-12 04:41] SNWCreations commented on #7901
Question: Will this change prevent us to download a single file in the workspace? (Will the "Download..." button in the right-click menu of a file still available?)
Sometimes, I need to update my artifact on another server by downloading the artifact from Gitpod server and upload it to my server manually.

[2022-11-12 05:18] akshatnarayangupta opened #14633 "Command to check if the workspace is deleted or alive/ command to pin/ command to manage..etc"
## Since inactive workspaces are deleted after a span of 30 days, when they are not pinned. So is there a way/ terminal command to check using the WORKSPACE_ID that whether a workspace is alive or dead without opening it?

## I would like to have some command to execute the task suggested above.

## Or is there a terminal command which can pin the workspace so that it does not automatically gets d

[2022-11-12 05:49] kylos101 commented on #13915
Similar trouble in `us75`:
[code]

[2022-11-12 09:23] Coriago commented on #7721
Please support this feature. The spec is open source and already building in room to support other platforms. I don't want to maintain multiple standards and risk having inconsistent environments because one spec lacks features. After all, isn't consistency the whole point of doing dev containers?

[2022-11-12 10:26] akosyakov opened #14634 "consider number of nodes in GitpodWorkspaceTooManyRegularNotActive alert"
Right now it fires even when there are enough nodes. Internal thread [[1](https://gitpod.slack.com/archives/C01TNS8EVQT/p1668246448877059)]

[2022-11-12 14:57] akshatnarayangupta commented on #14633
@axonasif

[2022-11-12 21:21] jldec opened #14636 "Move "Usage" out of the Settings sidebar and into the user dropdown"
The previous solution to #13968 added a link to the sidebar, but this is awkward since other settings pages preserve the sidebar, but the usage page takes up the full width.

This issue proposes moving the `Usage` link into the main user dropdown menu, under `Settings`, making the usage page reachable from all dashboard pages.

<img width="1100" alt="Screenshot 2022-11-12 at 20 51 48" src="https:/

[2022-11-13 10:42] edson-sooraj commented on #2239
Can somebody explain in detail how to solve this error?

[2022-11-13 15:02] AngryMaciek opened #14640 "add code linting based on `pyproject.toml`"
### Objective

Would be cool to include parsing of `pyproject.toml` in the linting section here:
https://www.gitpod.io/docs/introduction/languages/python#linting

[2022-11-13 17:27] mpysys opened #14642 "Workspace loading very slow and can't load preview"
### Bug description

I have been struggling to open my workspace as it's taking forever and the times I have been able to access it, it leads to me not being able to open my preview... infinite loading time.

### Steps to reproduce

gitpod.io/workspaces
python3 manage.py runserver

### Workspace affected

#mpysys-noozproject-vkhc75dfu7v

### Expected behavior

_No response_

### Example repository

[2022-11-13 21:52] Glydric22 opened #14647 "Exposed public port cannot bind"
### Bug description

When i configure gitpod.yml i set
[code]
and the port shows on exposed ports as open, but if i run `python -m http.server 80` or every server on 80 it say cannot bind to 0.0.0.0/80, other ports are working

### Steps to reproduce

add
[code]
to config.yaml
run
`python -m http.server 80`

### Workspace affected

_No response_

### Expected behavior

the server should be up and

[2022-11-14 00:46] #13197 closed

[2022-11-14 02:17] dnegrisolli commented on #14529
I'm facing a similar problem but in a K8s instance baremetal.
The validate-config Pod can't go further, and shows the problem:
[code]
Any ideas?

[2022-11-14 06:52] Pothulapati commented on #14529
@dnegrisolli Interesting, But I don't think its a PVC issue that is happening here i.e pods not being able to spun up in a zone as PVC was created in a different zone.

But I'm guessing your issue is around the node labels. Currently, [Gitpod separates all the components based on node labels](https://www.gitpod.io/docs/configure/self-hosted/latest/reference-architecture/single-cluster-ref-arch#kub

[2022-11-14 08:09] glebbash commented on #7721
With [Codespaces](https://github.com/features/codespaces) now having free hours and [devcontainer features](https://code.visualstudio.com/blogs/2022/09/15/dev-container-features) feature it's probably time to take devcontainer spec seriously.

[2022-11-14 08:52] #12960 closed, assigned to andrew-farries

[2022-11-14 08:57] geropl commented on #6770
Dropping assignment because not actively working on it atm.

[2022-11-14 09:13] jldec opened #14652 "[UBP] handle UBP rollback scenario for paid UBP subscribers"
Once we start rolling out UBP to all users, if we need to rollback (reverse free users back to non-UBP), teams and users on paid UBP (Stripe) subscriptions should be able to continue working with those plans. We should not cancel their subscriptions.

[2022-11-14 09:21] geropl opened #14654 "Investigate downwards trend in webapp-create-workspace-latency"
https://pyrra.gitpod.io/objectives?expr={__name__=%22webapp-create-workspace-latency%22}&grouping={}&from=1665998389662&to=1668417589662

![Image](https://user-images.githubusercontent.com/32448529/201622723-e613ef8a-b5a1-47f4-855a-68c7fdfd9c22.png)

[2022-11-14 09:52] mustard-mh opened #14655 "Ports tunnel status in Ports view not reflect immediately"
### Bug description

Need to refresh window to make UX update

See also [[tunnel with remote explorer]](https://www.gitpod.io/blog/local-app#remote-explorer-ports-view)

### Steps to reproduce

- Open workspace with VSCode Destkop
- Check tunnel icon (eyes) with local-companion

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

###

[2022-11-14 09:53] jankeromnes commented on #13070
@akosyakov Thanks for looking into this! From what I remember, there was no specific frontend bug in the browser console. But, the next time I see this problem, I'll check again just in case.

[2022-11-14 10:40] #14463 closed

[2022-11-14 10:50] akosyakov commented on #13070
@jankeromnes yes I had yesterday 3 times and there were not any error in logs 👍

[2022-11-14 10:51] akosyakov commented on #13070
btw @jankeromnes I'm not looking into it, we tried something last week https://github.com/gitpod-io/gitpod/issues/14061#issuecomment-1308635501 but it would be better if webapp team takes over the experiment 🙏

[2022-11-14 11:06] #14636 closed

[2022-11-14 11:10] svenefftinge commented on #14591
Unassigning myself, because we need input from @gitpod-io/product-design

[2022-11-14 11:11] svenefftinge commented on #14591
Also see [#14367](https://github.com/gitpod-io/gitpod/issues/14367)

[2022-11-14 11:17] svenefftinge commented on #13369
It still seems a little unclear of what event is best to use for measuring the session end. I suggest we postpone this change until we are clearer.

[2022-11-14 11:19] axonasif commented on #13776
Another report: https://app.frontapp.com/open/cnv_k9dhi6i

User was trying to open their workspace in VSCode but they hit this issue due to their `user/repo` name being big. Can we reopen this issue?

[2022-11-14 11:19] svenefftinge commented on #14652
Disabling the feature flag would do this, no?

[2022-11-14 11:20] akosyakov commented on #13776
sure, do it

[2022-11-14 11:23] svenefftinge commented on #14061
I think we all agree that ultimately ws-manager should return immediately. As this seem to be hard with the current design and there are ideas of a new version of that would solve it, I'm trying to make "as small as possible" intermediate fix to the UX part of the problem.

[2022-11-14 12:26] easyCZ commented on #14464
This started happening on Oct 15

[logs](https://console.cloud.google.com/logs/query;query=resource.labels.pod_name%20:%20%2528%22server%22%2529%0A%22QueryFailedError:%20ER_NO_DEFAULT_FOR_FIELD:%20Field%20'userId'%20doesn't%20have%20a%20default%20value%22;timeRange=P60D;cursorTimestamp=2022-11-14T08:18:40.537Z?authuser=0&project=gitpod-191109)

[2022-11-14 12:32] easyCZ commented on #14464
Started with version `main.5165`

[2022-11-14 12:39] easyCZ commented on #14464
The issue seems to be somewhere between these commits:
https://github.com/gitpod-io/gitpod/compare/fccdaa3921a58f00caa834b8dcf3a21120478d45...a4870ce5db87d35a4547afee07836e82018e50e3

[2022-11-14 12:44] geropl opened #14661 "Epic: Deprecate GitHub Apps"
### Summary

We still support "Gitpod" GitHub Apps that users can install on their GH orgs/repos, and are used to setup webhooks and update prebuild status on PRs. Since Q1/22 we have a different mechanism to register webhooks, which became the default, because it's much more convenient.

Because of the following reasons we are looking onto deprecating it:
 - you have to use 1 App per Gitpod insta

[2022-11-14 13:34] axonasif commented on #14579
cc @corneliusludmann @gtsiolis

[2022-11-14 13:38] axonasif commented on #14531
Thank you for sharing your findings 🙏

Since it's on the IDE team inbox, @andreafalzetti, can you please help to move this issue forward? (maybe escalating it to some other team if IDE doesn't own this)

[2022-11-14 13:42] axonasif commented on #14647
Possible duplicate of https://github.com/gitpod-io/gitpod/issues/9376

[2022-11-14 13:42] #14647 closed

[2022-11-14 13:46] axonasif commented on #14640
Hi @AngryMaciek, thank you for raising this issue!

Do you have any suggestions or pointers? I am personally not very familiar with Python.

And BTW, that page source code lives [here](https://github.com/gitpod-io/gitpod/issues/9376#issuecomment-1159149038), feel free to contribute if you want!

[2022-11-14 13:47] axonasif commented on #2239
Hi @edson-sooraj, which browser are you using?

[2022-11-14 13:50] axonasif commented on #14633
Hi @akshatnarayangupta, please subscribe to https://github.com/gitpod-io/gitpod/issues/14280

Once that's out, it could offer you most of these functionalities.

[2022-11-14 13:50] #14633 closed

[2022-11-14 13:52] #14560 closed

[2022-11-14 14:19] huy-lv commented on #2436
there is no option: Reset workspace layout

[2022-11-14 14:22] axonasif commented on #14576
Hi @omarkohl, this issue is now forwarded to an engineering team.

Meanwhile you may take a look at the following resources:
- https://www.gitpod.io/docs/configure/workspaces/ports#local-port-forwarding
- https://www.gitpod.io/docs/configure/workspaces/ports#cross-origin-resource-sharing-cors
- https://github.com/gitpod-io/gitpod/issues/459

[2022-11-14 14:26] axonasif commented on #2436
cc @jeanp413

[2022-11-14 14:39] svenefftinge commented on #14654
This seems to correlate with how long `ws-manager/startWorkspace` takes. See also #14061

[2022-11-14 14:54] svenefftinge commented on #14661
The GitHub App allows for doing certain actions as "Gitpod", that is indeed only comments and checks on PRs and issues atm. I agree we should decouple prebuilds and projects from github app installations.

[2022-11-14 15:01] dnegrisolli opened #14666 "[self-hosted] Baremetal install can't pass from validate-config"
### Bug description

I'm facing a problem in a K8s instance baremetal.
I'm using ingress-nginx, metallb and trying to install the gitpod from Helm in the gitpod namespace.
The validate-config Pod can't go further (and I can't move to the control panel), and shows the problem:

[code]
2- The ingress for the main URL (gitpod.artyou.net) is done but I also don't know the service I should point it. I'

[2022-11-14 15:03] andreafalzetti opened #14667 "Fix terminal port forwarding when happening from gitpod defined task"
[Auto-forward Task Terminals Ports on JetBrains IDEs #10986](https://github.com/gitpod-io/gitpod/pull/10986) got merged, but we need to keep track of this limitation:

- Forwarded ports on Terminals from Gitpod Tasks won't display the message "Your application is listening on ports" that you see when you start a server on a standard IntelliJ Terminal Widget.

| Open port on Gitpod Task Terminal |

[2022-11-14 15:06] andreafalzetti commented on #10581
on for it soon.

I've captured the work mentioned here in this ticket: https://github.com/gitpod-io/gitpod/issues/14667

[2022-11-14 15:22] loujaybee commented on #7184
Some issues reported, need to resolve and link them here before we close.

[2022-11-14 15:24] mustard-mh commented on #7408
@loujaybee to look into what can we do further with this Epic

[2022-11-14 15:26] #14614 closed

[2022-11-14 15:28] loujaybee commented on #9757
- We intend to scope this down and exclude auth + token related APIs to simplify
- We should consider scoping this down to the current version (version 1 - experimental)

[2022-11-14 15:32] mustard-mh commented on #11862
@nandajavarma what is the status of the integration test in SH, as they are working in IDE job channel stably these days.

Is this Epic still make sense? Any further plans?

[2022-11-14 15:39] andreafalzetti commented on #14297
@loujaybee this Epic is specific for JetBrains. We have sub-tasks to achieve the "happy path" being covered by automated tests.

#11862 is more generic. At the moment there is no overlap

[2022-11-14 15:39] #14222 closed

[2022-11-14 15:47] mustard-mh commented on #7527
@loujaybee Could you create an Epic for this issue (VSCode flow improvement)? 🙏

[2022-11-14 15:51] mustard-mh commented on #14155
@andreafalzetti Could you try to reproduce it since you're on-call this week 🙏

[2022-11-14 16:00] mustard-mh commented on #14533
@loujaybee  Another issue for Epic: VSCode flow improvement

[2022-11-14 16:46] adam-tylr opened #14672 "[Self-Hosted] Support global registry credentials for workspace builds"
## Is your feature request related to a problem? Please describe

I'm an enterprise customer. We store our Gitpod workspace base images in a private Gitlab registry. We use our own workspace images instead of the ones you guys provide because we need to build in things like our private certificates and proxy settings. Our Gitpod instance is configured with the additional credentials required to pu

[2022-11-14 17:54] andreafalzetti opened #14673 "Epic: Streamline JetBrains release process"
### Context

Supporting integration with many JetBrains IDEs can be very daunting if we don't automate the repetitive tasks. This epic groups a series of tasks to simplify the curent state of release for JetBrains IDEs within Gitpod.

### Value

By automating repetitive tasks we can focus on more valuable deliverables

### Acceptance Criteria

* EAP release is fully automated

### Ongoing work

**

[2022-11-14 18:16] kylos101 commented on #13353
@sagor999 @jenting [this comment](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/608#issuecomment-1314087512) is super interesting.

Specifically:

For each approach we've tried, how do we know processes aren't using the disk/device at workspace stop, before we detach the PVC?

[2022-11-14 18:32] sagor999 commented on #13353
We only detach PVC when container is stopped.
So there is probably some zombie\ghost process that might be still doing IO after container stopped. :thinking:

[2022-11-14 18:56] jeanp413 commented on #2436
There's `View: Reset View Locations` command

[2022-11-14 19:27] easyCZ commented on #14243
The GC batch size reduction (and frequency increase) landed in production during today's rollout. Closing the issue. If there's anything else we can help with, let us know and reopen the issue.

[2022-11-14 19:27] #14243 closed

[2022-11-14 19:28] andreafalzetti opened #14675 "[JetBrains] Document release process and versioning"
We need to document:

- the release process (EAP/stable)
- versioning (with dependencies eg. SDK)

Additionally, update the website docs, follow-up of: https://github.com/gitpod-io/website/pull/3030#discussion_r1029199765

[2022-11-14 19:37] andreafalzetti opened #14676 "[JetBrains] Fix SDK updater script to always use newer versions"
We have a bug in the script that updates the SDK for JetBrains plugins, see: https://github.com/gitpod-io/gitpod/pull/14658/files

[2022-11-14 20:10] kylos101 commented on #13598
It turns out there was a code change on the WebApp side that broke Workspace tests. In other words, we're more coupled than we'd like.

Workspace tests take 33m to run on a regular vm, 20m on a large VM. Thank you, @utam0k for [this change](https://github.com/gitpod-io/gitpod/pull/14260)!

[2022-11-14 20:52] YoungElPaso commented on #11183
I'm also having this issue - presumably the same reasons. This makes Gitpod unusable for half of my work... and makes the service generally unreliable.

[2022-11-14 21:26] kylos101 commented on #14243
Thank you, @easyCZ !

[2022-11-14 22:01] kylos101 commented on #14293
Hi @mustard-mh , I tested https://github.com/gitpod-io/gitpod/pull/14650 with https://gitlab.com/kylos101/prebuild-experiment/-/blob/kylos101/customer-image/.gitpod.yml#L1, which should cause an error due to the `gitpod` user missing, but, the error message only mentions the exit status is 1. I was expecting a better error message to the user, for example, a message sharing that the `gitpod` user

[2022-11-14 22:01] kylos101 commented on #14293
cc: @akosyakov

[2022-11-14 22:26] WVerlaek commented on #14293
Maybe on workspace startup failure, if it's an alpine-based image we can somehow show that it's not something we support currently?

[2022-11-15 01:41] kylos101 commented on #14293
@WVerlaek Can you create that as a separate issue for supervisor and inbox to IDE team?

[2022-11-15 01:47] kylos101 commented on #14293
@WVerlaek whoops, thank you! For this issue, could you update the description? For example, `Steps to recreate` should avoid using an alpine image as the base image.

@mustard-mh what happens if you try using a custom image that is not alpine based? For example, is the error `exit status 1`, or does the error message indicate something else - like the `gitpod user is missing`?

[2022-11-15 02:32] jenting commented on #13353
The UID/GID issue is fine. The big problem/challenge is ws-manager has to request workspace pod to execute `fsfreeze` before the workspace disposal process which makes ws-manager couple to ws-daemon again.

[2022-11-15 06:00] mustard-mh commented on #14293
If you use custom image that is not alpine based, it will success, because even you don't have gitpod user, supervisor will create it, but it still can failed by some reason, e.g `missing useradd or adduser`

We will continue improve this error message in following PR

[2022-11-15 07:10] andreafalzetti commented on #14155
from initial tests, I can reproduce, and I believe the extension gets stuck in detecting the environment (eg maven home) properly. I've tried passing custom settings but didn't work what I tried.

<img width="489" alt="Screenshot 2022-11-15 at 06 15 33" src="https://user-images.githubusercontent.com/2318450/201853034-53ee8fa0-c2e1-4ae4-8a6c-6949e33f5dc5.png">

[2022-11-15 07:33] gtsiolis commented on #14636
YAS! Thanks everyone for making this change! 💯

[2022-11-15 08:27] felladrin commented on #14676
Listing here the two solutions we have for it (in order of preference):
1. Continue using https://www.jetbrains.com/intellij-repository/snapshots/index.json, but sort (descending) by `lastModifiedUnixTimeMs` before picking the first one (considering the filters we already have).
2. Use https://www.jetbrains.com/intellij-repository/snapshots/index.html as it comes already sorted. In this case we us

[2022-11-15 09:08] andreafalzetti opened #14683 "[JetBrains] Speed up testing of Gipod's plugin for JetBrains Gateway"
When we make changes to the gateway-plugin, we have to manually download it, uninstall the previous one, install, restart, etc..

It would save time if we had a way to test a given version in 1-click (eg. CLI tool to do automate all manual steps)

[2022-11-15 09:54] andreafalzetti commented on #14676
@felladrin I would try first to sort the array, as parsing the HTML is not very friendly 😄

[2022-11-15 10:43] WVerlaek opened #14687 "test: Workspace parallel e2e tests job not failing on test failure"
### Bug description

See e.g. https://werft.gitpod-dev.com/job/gitpod-build-cw-reload-auth-12104.2/logs, there was a workspace e2e test failure, but the overall job still succeeded. It's most likely to do with the new [parallel tests](https://github.com/gitpod-io/gitpod/pull/14260), would be the first place to look to fix this

### Steps to reproduce

Run workspace parallel e2e tests with a failin

[2022-11-15 10:45] andreafalzetti commented on #6576
Test notification

[2022-11-15 10:47] andreafalzetti commented on #6576
test

[2022-11-15 10:47] andreafalzetti commented on #6576
test 3

[2022-11-15 11:35] meysholdt opened #14693 "Have `previewctl url` to show the URL of a running preview environment"
## Is your feature request related to a problem? Please describe
`leeway run dev:preview` prints the URL of the preview environment. However, if you clear your terminal, you loose access to the URL. There should be a convenient way to find the URL.

## Describe the behaviour you'd like
Introduce `previewctl url` to print the URL of a preview env.

## Describe alternatives you've considered

## Add

[2022-11-15 11:36] geropl opened #14694 "[db-sync] Re-sync d_b_usage"
After https://github.com/gitpod-io/gitpod/issues/14560 has been fixed we still need to cleanup the diff in d_b_usage.

[2022-11-15 11:41] jldec commented on #14367
Additional suggestions (from discussion with @gtsiolis)

- Can combine credits used / usage limit in one block with 2 actions
- Can show UBP Plan (billing strategy) re-using the existing "Plan" element and combine that with showing next reset date in the same block.

[2022-11-15 11:51] CutestNekoAqua commented on #1929
this is still relevant and needed

[2022-11-15 12:05] gengjiawen opened #14695 "More transparency on gitpod prebuilds"
### Objective

we are using it https://github.com/nodejs/node, But prebuilds seems never work.

Is it because code submmited to frequently or the project is too big?

[2022-11-15 12:10] #14598 closed

[2022-11-15 12:12] jldec commented on #14591
From discussion with @gtsiolis

- action uses standard hypertext link to Grant extra credits
- Trigger modal form for both, with action/Cancel buttons
- Requires a "Reason" to be entered by the admin
- Free tier, individual plans only
- One time grant only - entered into ledger
- Enter amount (typically 100 or 200)
- Effect will be to reduce "Credits Used" (number should decrease after)
- nice to

[2022-11-15 12:27] andreafalzetti opened #14697 "[JetBrains] Evaluate if we can remove custom logic to detect JDK"
As a follow-up of this ticket being deployed: https://youtrack.jetbrains.com/issue/IDEA-296866/Automatically-pick-the-Java-on-PATH-if-module-SDK-isnt-explicitly-set

We need to check if the new logic works in EAP and decide if we can remove the custom logic to detect the JDK

[2022-11-15 13:50] jankeromnes opened #14700 "[Usage-based] Untie paid Stripe subscriptions from calendar months"
## Is your feature request related to a problem? Please describe

Until now, we force all Stripe subscriptions to go from calendar month to calendar month, instead of sign-up-date to sign-up-date + 1 month.

However, this is problematic for individual paid subscriptions, because of the 9€ flat fee.

## Describe the behaviour you'd like

Thus, let's untie all Stripe paid subscriptions from calendar

[2022-11-15 13:58] meysholdt opened #14701 "[dev:preview] Fewer packages should always be rebuilt"
## Is your feature request related to a problem? Please describe
When running a leeway build inside a fresh Gitpod workspace, the following packages are being built:

[code]

## Describe the behaviour you'd like
To make our dev loop faster, this should be as few packages as absolutely necessary. This issue is about reducing the number of packages that are always rebuilt.

Possible solution strateg

[2022-11-15 14:03] meysholdt opened #14703 "[dev:preview] don't redeploy pods unless they have changed"
## Is your feature request related to a problem? Please describe
When running `leeway run dev:preview` without changes, some pods are re-deployed anyway:

Example:
[code]

## Describe the behaviour you'd like
Pods should not be restarted (or re-deployed) when the underlying components don't change.

## Describe alternatives you've considered

## Additional context

[2022-11-15 14:22] meysholdt opened #14704 "[dev:preview] install monitoring-satellite, too"
## Is your feature request related to a problem? Please describe
`leeway run dev:preview` should install a monitoring satellite, too.

Update by Mads (17.11.2022)
- Current workaround: Run `leeway run dev/preview:deploy-monitoring-satellite`
- Once we fix this issue we have to update the docs too [here](https://www.notion.so/gitpod/Getting-access-to-Grafana-and-Prometheus-in-preview-environments-f

[2022-11-15 14:24] easyCZ commented on #14464
While parigin with @AlexTugarev, we've narrowed it down to a hypothesis that this is caused by the OAuthCode table, which stores the `userId` but allows `null` values, whereas the schema requires NOT NULL.

Alex will follow-up with a validation whether this is indeed the cause.

[2022-11-15 14:30] easyCZ commented on #14464
Validation: https://github.com/gitpod-io/gitpod/pull/14706

[2022-11-15 14:36] meysholdt opened #14707 "[dev:preview] run deploys (terraform, k8s) in parallel"
## Is your feature request related to a problem? Please describe
`leeway run dev:preview` currently runs `terraform applyy` to create/update the preview-VM before it runs `leeway build`.

## Describe the behaviour you'd like
* `terraform apply` should run in parallel to `leeway build`
* installing monitoring-satellite should run in parallel to installing Gitpod.

## Describe alternatives you've co

[2022-11-15 14:42] meysholdt commented on #14707
Idea:
* Describe infra, monitoring-satellite, and gitpod-install as leeway-packages, so Leeway will run them in parallel.
* Ensure Leeway will always rebuild the package, so that package can make the decision internally. To always rebuild: e.g. add `version` to `argDeps` or mark package as ephemeral (not sure if this works).
* The package impl decides if a re-deploy needs to happen: It stores a le

[2022-11-15 14:48] felladrin opened #14710 "[JetBrains] Make it clear that if the workspace were loaded with VS Code IDE, users wouldn't be able to connect with JetBrains IDEs"
## Task

Make it clear that if the workspace were loaded with VS Code IDE, users wouldn't be able to connect with JetBrains IDEs.

If users try to connect with JetBrains IDE, they will receive an error message like _"Failed to fetch gateway join link"_ because the JetBrains backend won't run in this case.

## Related Issues

- https://github.com/gitpod-io/gitpod/issues/11671#issuecomment-123627148

[2022-11-15 15:21] #13155 closed

[2022-11-15 15:27] svenefftinge commented on #14061
The PR is merged and deployed. I couldn't reproduce the described issue and can also verify from [the logs](https://cloudlogging.app.goo.gl/znDAbMmsnb51jtMA8) that the change has an effect.

[2022-11-15 15:27] #14061 closed

[2022-11-15 15:49] jimmybrancaccio commented on #8370
Reopening this again since it appears to have [happened again](https://app.frontapp.com/open/cnv_k9jt2h6).

[2022-11-15 15:56] mustard-mh opened #14714 "Extensions show error in .gitpod.yml"
### Bug description

`.gitpod.yml` show error messages with vscode extensions, even we have installed them successfully

![image (10)](https://user-images.githubusercontent.com/20944364/201965547-8d2b77ec-04b5-492c-8bb7-d1fe72d68453.png)

See also [internal chat](https://gitpod.slack.com/archives/C045J13P8A1/p1668527259356059?thread_ts=1668526706.395539&cid=C045J13P8A1)

[2022-11-15 15:57] jimmybrancaccio commented on #8983
Hey @svenefftinge! Are we going to reimplement this functionality in another issue?

[2022-11-15 16:02] svenefftinge commented on #8983
FWIW: I disabled the initial search because the search is super slow on gitpod.io and worth to be avoided when not needed.

[2022-11-15 16:14] Furisto opened #14715 "Introduce detailed metrics for initializers"
## Is your feature request related to a problem? Please describe
We observed a performance degradation for content init in gen75 compared to gen74 and would like to understand better which part got slower

## Describe the behavior you'd like
Add metrics for each content initializer that capture the different phases of content initialization

[2022-11-15 16:15] jimmybrancaccio commented on #8983
So it looks like on the Users page we just show the users name, their email address and the time their Gitpod account was created. I don't remember how many accounts we pull for the first page but pulling 50 ran in 122ms for me (querying against the gitpod.io SaaS database):

[code]

This could be a 🛹 to at least show the last 50 created accounts on the page without having to run a search first.

[2022-11-15 16:17] Furisto opened #14716 "Support different initializers in loadgen"
## Is your feature request related to a problem? Please describe
We would like to catch regressions in content init before they are deployed to production.

## Describe the behaviour you'd like
Loadgen should support the specification of different content initializers

## Describe the alternatives you have considered
Use an integration test instead

[2022-11-15 17:28] gtsiolis commented on #14591
Adding below some visuals to help with the implementation. Cc @svenefftinge @jldec

| User (Data) | User (Modal) |
|-|-|
| <img width="1440" alt="User" src="https://user-images.githubusercontent.com/120486/201985685-18fb07f2-1636-483e-819c-1087c6e7a8f3.png"> | <img width="1440" alt="User-1" src="https://user-images.githubusercontent.com/120486/201985771-d282bac8-ed96-4124-9de5-1dc0a1559f83.png"> |

[2022-11-15 17:30] gtsiolis commented on #14367
Added some relevant design specs that could be overlapping for this issue in https://github.com/gitpod-io/gitpod/issues/14591#issuecomment-1315644715.

[2022-11-15 18:56] jimmybrancaccio commented on #14591
This looks super cool @gtsiolis! 🧡 The only suggestion I have is to show the full "audit log" entry instead of an excerpt. Perhaps make the log element or 'container' the same width as the 2 elements above it (balance used and cycle resets).

[2022-11-15 19:02] gtsiolis commented on #14591
Thanks @jimmybrancaccio!

Indeed, surfacing all the information sounds better. I deliberately added this as this could out of the scope of this iteration.

Alternatively, using a tooltip for the full note entry could be nice, as long as a user can hover and click any links inside the note. In any case, it could be interesting to also enforce a max character limit so that notes don't span much. Thi

[2022-11-15 21:55] YoungElPaso commented on #11183
Workaround for anyone else who has this issue before it's resolved: manually stop and clean up all containers and volumes before stopping your workspace.

Removing all containers and volumes is  PIA but as so far worked for me.

Wish Gitpod had a 'stop' task that we could automate this or any similar task in to fully teardown a workspace if we wanted.

[2022-11-15 23:44] utam0k commented on #11183
@YoungElPaso Thanks for finding a workaround. We plan to extend the grace period from the time a process in the workspace receives the SIGTERM to the time it exits to 3 minutes on the next deployment. Currently, it is 30 seconds. Perhaps this will affect this issue. Please wait for a little.

[2022-11-16 02:40] jenting commented on #8370
We did see the mount failed due to `no space left on device`, [log](https://cloudlogging.app.goo.gl/T1qLECk9ZNS8MhRf6).

[2022-11-16 02:50] jenting commented on #13353
The probability of occurrence on gen75, [log](https://cloudlogging.app.goo.gl/goWM5xXzrgVubjYh7).

[2022-11-16 04:38] #14272 closed

[2022-11-16 07:29] raphaeltm commented on #8952
I'm running into this issue as well. I'm not using multi-repo, but I do have ~20 submodules. I'm not sure if I have anything more meaningful to add, but I figured I'd add my voice here. It's frustrating because it prevents work on any other GitHub-based repos.

[2022-11-16 08:06] #14619 closed

[2022-11-16 08:09] AlexTugarev opened #14726 "[prebuilds] workspace starts with derived config, wrong image, and no prebuild"
Happened once for me yesterday, I started a workspace on g/g but ended up with a derived config, wrong workspace image and no prebuild.

When digging through the [logs](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-11-15T14:15:19.341Z;pinnedLogId=2022-11-15T14:15:19.341Z%2Fizentz4oyrqh937p;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22gitpod-191109%

[2022-11-16 08:33] easyCZ commented on #14464
The fix in https://github.com/gitpod-io/gitpod/pull/14706 didn't actually fix the issue, we're still [getting the errors ](https://console.cloud.google.com/logs/query;query=resource.labels.pod_name%20:%20%2528%22server%22%2529%0A%22ER_NO_DEFAULT_FOR_FIELD%22;timeRange=PT30M;cursorTimestamp=2022-11-16T08:32:27.360Z?authuser=0&project=gitpod-191109)

[2022-11-16 09:09] geropl commented on #14726
We should definitely investigate how this can happen. @AlexTugarev Do you have any IDs, so we can investigate on a specific data set? Or at least a link to the logs?

[2022-11-16 09:12] AlexTugarev commented on #14726
I've added the [link](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-11-15T14:15:19.341Z;pinnedLogId=2022-11-15T14:15:19.341Z%2Fizentz4oyrqh937p;query=resource.type%3D%22k8s_container%22%0Aresource.labels.project_id%3D%22gitpod-191109%22%0Aresource.labels.location%3D%22europe-west1%22%0Aresource.labels.cluster_name%3D%22prod-meta-eu02%22%0Aresource.labels.namespace_name%3D%22defa

[2022-11-16 09:49] meysholdt opened #14729 "[dev:preview] throw error when executed on main branch"
## Is your feature request related to a problem? Please describe

The command `leeway run de:preview` throws unhelpful errors when executed on the git `main` branch.
Developers should never run it on the `main` branch because the `main` preview env is shared, updated by CI, and should not be tampered with by individual developers.

However, I fear developers are very likely to run accidentally `le

[2022-11-16 10:39] mobi3006 commented on #8952
shouldn't

- https://github.com/microsoft/vscode-pull-request-github/pull/4043

fix the issue?

On my v.0.54.0 of "GitHub Pull Requests and Issues" it is not yet fixed. Giving the pre-release version (v0.55.2022111609) a chance ...

[2022-11-16 10:56] mads-hartmann opened #14734 "[dev:preview] Write a warning if users run dev:preview from a branch that hasn't been pushed to GitHub"
Currently we will GC any preview environment if the branch doesn't exist in GitHub. That means that if a user

1. Starts a workspace off main
2. Creates a branch
3. Runs dev:preview and iterates on some feature

Then we'll likely garbage collect the preview environment while they're working with the preview environment.

The short-term solution is to write a warning when users run `leeway run dev:

[2022-11-16 11:29] #14700 closed

[2022-11-16 11:30] #14729 closed

[2022-11-16 11:32] felladrin commented on #14676
Just found the issue! Will create a PR in a moment.

[2022-11-16 11:51] jldec opened #14739 "[Admin dashboard] Show billing detail for teams"
Teams with billing enabled need a "Billing" indicator in the team detail page, similar to the "Plan" indicator for Users.

The values for this should be one of the following:

- `Professional` or `Unleashed` (if team is on a Chargebee team-billing plan)
- `Usage-based` (if team is on a Stripe UBP subscription)

Related to #14367

[2022-11-16 12:28] gtsiolis commented on #4455
Re-opening as this is still relevant.

[2022-11-16 12:29] #14714 closed

[2022-11-16 12:34] gtsiolis commented on #14739
@jldec Shall we also drop the `BillingMode` column?

| User with `chargebee` | User with `usage-based` |
|-|-|
| <img width="755" alt="Frame 11392" src="https://user-images.githubusercontent.com/120486/202181916-2179e631-2eb9-4cab-8e07-5aa017e04359.png"> | <img width="755" alt="Frame 1139" src="https://user-images.githubusercontent.com/120486/202181983-c981e4d0-1616-4b3d-a6eb-58363c49958d.png"> |

[2022-11-16 12:37] jldec commented on #14739
@gtsiolis - no - the BillingMode is true for UBP-enabled teams (feature flagged), even if they have not yet configured any team-level billing.

[2022-11-16 12:59] andreafalzetti commented on #14155
@mustard-mh @jeanp413 is there a way to see logs for vscode extensions? I suspect it gets stuck at detecting the maven home or some other param from the workspace, but without logs it's hard to say.

[2022-11-16 13:46] svenefftinge opened #14743 "JSON-RPC doesn't transport JS Date"
Lately introduced API (cost center) includes JS Date types, which are not JSON and therefore not properly un/marshalled.

[2022-11-16 14:40] #14734 closed, assigned to mads-hartmann

[2022-11-16 15:00] #14676 closed

[2022-11-16 15:32] #14743 closed

[2022-11-16 15:59] akosyakov commented on #14099
@andreafalzetti I think it is not applicable after https://github.com/gitpod-io/gitpod/pull/14566 We don't match config folder anymore, but precompute it. Closing?

[2022-11-16 16:01] #11862 closed

[2022-11-16 16:27] jimmybrancaccio commented on #14591
@gtsiolis Tooltip would be great. Not having the full entry could make this somewhat pointless especially if the more useful information is at the end of the log entry which ends up getting truncated. If we do initially launch this with the log entry truncated we should make sure that anyone who leaves notes knows to put the important content first so it doesn't get truncated.

[2022-11-16 16:42] gtsiolis commented on #14591
@jimmybrancaccio Thinking about this again, I'd a) avoid the tooltip, b) increase dropdown width, c) use fixed scrollable dropdown height as we do with workspace changes so that all information can be accessed, and let users be conscious about this field if needed.

[2022-11-16 17:03] geropl commented on #14464
We identified the root cause to be [this line](https://github.com/gitpod-io/gitpod/blob/0d7f5d66d3d130d640a3b936fc3e1ca994fb0cc7/components/gitpod-db/src/typeorm/auth-code-repository-db.ts#L61). The log PR did not trigger because of the missing `await`.

[2022-11-16 17:10] gtsiolis opened #14754 "Fix broken links in emails we send to users"
### Bug description

Links included in emails we're sending to users link to broken pages.

For example, in the email titled _Personalize your workspace – Add your favourite VS Code extension_, we're linking to https://www.gitpod.io/docs/vscode-extensions which no longer exists.

This could affect more emails we send out.

Cc @Siddhant-K-code @loujaybee because https://github.com/gitpod-io/website

[2022-11-16 17:20] gtsiolis opened #14755 "Unsubscribing from emails we send to users does not work"
### Bug description

Clicking on **unsubscribe here** on emails we send to users does not seem to work.

Users see a successful unsubscription message, but opening /notifications does not seem to reflect the change.

Cc @chrifro @MichaelAring @phimae because of a [relevant task](https://www.notion.so/gitpod/7431896ad7c04b7a8ad45af2632d41c6) (internal)

| Successful unsubscription message | Notific

[2022-11-16 17:36] loujaybee commented on #3966
Bumping this one again, as it has come up again in conversations with integration partners. Having this feature would be incredibly powerful for showcasing infrastructure spin up and tear down with Gitpod, especially in the context of ephemeral cloud infra environments as a natural extension of Gitpod. Again, let's see who can [pick up the draft PR](https://github.com/gitpod-io/gitpod/pull/11287)

[2022-11-16 19:09] raphaeltm commented on #10025
Can we re-open this? I'm pretty sure I never installed the GitHub Pull Requests and Issues plugin and it keeps showing up, even when I disable sync:
![Extension GitHub Pull Requests and Issues — chewy-global — Gitpod Code 2022-11-16 at 11 05 44 AM](https://user-images.githubusercontent.com/910895/202270873-47c8aaf4-1516-43e8-b8dc-fe0ef9a38f70.jpg)

I think it might be responsible for causing probl

[2022-11-16 20:24] jeanp413 commented on #14531
@aledbf  is not possible to remove upstream remote `git remote remove upstream`  it gets added automatically again, is this related to `GitInitializer` in content-service?

[2022-11-16 20:30] aledbf commented on #14531
@jeanp413 that [is done here](https://github.com/gitpod-io/gitpod/blob/aba04a0e803e0aa6468449becef734f058c036d4/components/content-service/pkg/git/git.go#L359-L378) and is really old. I don't have enough context of the reason for that.
ping @csweichel

[2022-11-16 21:15] kylos101 commented on #14704
For now, I assume the workaround is `werft run github -a with-observability=true` from the context of an existing preview environment (testing now).

[2022-11-16 21:21] kylos101 commented on #14704
Nada.

[code]

Tried in https://werft.gitpod-dev.com/job/gitpod-build-kylos101-containerd-metrics.0/raw, but got:
[code]

@meysholdt is there another way to install monitoring into a preview environment? I ask because [this page](https://www.notion.so/gitpod/Getting-access-to-Grafana-and-Prometheus-in-preview-environments-f2938b2bcb0c4c8c99afe1d2b872380e) is out of date, I think (at least it menti

[2022-11-16 22:09] jeanp413 commented on #14155
@ArbeenaAzeeb1 could you try again, we just did some updates related to java extension, can you still reproduce?

[2022-11-16 22:53] jeanp413 commented on #14531
ah sorry, it's the GitHub PR extension who's doing it :facepalm:

[2022-11-17 00:49] xzmeng commented on #7489
Can't believe there's still no progress on this issue after nearly a year and a half, I've heard a gitpod ex-employee complain about high latency pain within your team (in Asia Pacific or Oceania) . What I really can't understand is that this requirement is to simply deploy an additional k8s cluster in another data center of GCP, but the gitpod team seems to have no motivation to do this at all. I

[2022-11-17 01:40] bbhxwl commented on #7489
Very good. I support what you said.

[2022-11-17 01:43] smacintyre commented on #7489
This is exactly right. I switched back to mostly local development because gitpod is just too slow. It's actually been two years since this was original promised.

[2022-11-17 01:46] bbhxwl commented on #7489
Although I bought a one-year license, I didn't use it for an hour. There will be no renewal later.

[2022-11-17 03:17] a-b commented on #7719
I'm wondering if some workaround is possible. What if we link folders like `/home/linuxbrew/.linuxbrew` to `/workspace`? Perhaps this could have some reflection in `.gitopod.yml` ?

[2022-11-17 07:18] scasei commented on #13915
Any news here? Have the same error on my cluster. My workaround is to edit the replicaset and have higher timeout values. Is it possible, that google has some thing of firewall and blocks some IPs?

[2022-11-17 07:22] svenefftinge commented on #14591
The credit notes would end up as a usage entry. So I propose we just show the whole usage data in a list.
WDYT of adding a tab on top of the workspaces list (members for teams) and add a tab "usage"?

[2022-11-17 07:24] svenefftinge commented on #11469
I'd love to have an audit lof for all operations and get rid of all the duplicate `admin*` APIs entirely but instead work with privileges and use the common APIs.

[2022-11-17 07:28] svenefftinge commented on #13070
this is "fixed" now (at least the UX)

[2022-11-17 07:28] #13070 closed

[2022-11-17 07:41] mads-hartmann commented on #14704
@kylos101 Right now the easiest is to run `leeway run dev/prevew:deploy-monitoring-satellite` from your workspace. And you're right, the docs are very out of date - let me update them ☺️

[2022-11-17 07:50] mads-hartmann opened #14759 "[dev:preview] Add retry to previewctl install-context invocation"
We don't currently retry the `previewctl install-context` invocation in `leeway run dev:preview` which sometimes result in the following error

[code]

[2022-11-17 07:56] Siddhant-K-code commented on #14754
I think we need to redirect the provided^ URL to [`vscode-extensions`](https://www.gitpod.io/docs/references/ides-and-editors/vscode-extensions)? It would be a quick fix, will send out the PR.

[2022-11-17 08:16] mads-hartmann commented on #14704
I updated [the docs](https://www.notion.so/gitpod/Getting-access-to-Grafana-and-Prometheus-in-preview-environments-f2938b2bcb0c4c8c99afe1d2b872380e) and updated the issue to mention `leeway run dev/preview:deploy-monitoring-satellite` as a current workaround

[2022-11-17 08:52] geropl commented on #14694
Done.

[2022-11-17 08:52] #14694 closed

[2022-11-17 09:19] jldec opened #14760 "[Admin dashboard] - Show multiple lists under a user or team"
The admin dashboard should able to represent the relationship between a user and other entities like usage and teams. Currently we only show workspaces.

The same requirement exists for teams e.g. to show team members + team projects + team usage.

How about additng tab navigation to toggle between differrent lists inder the user or team detail.

[2022-11-17 09:32] jldec opened #14762 "[Admin, UBP] Show usage details for users and teams"
Allowing admins access to the usage ledger for user or team would be helpful for admin and support.

The list can be similar in design as the personal and team usage views, including date range selection and total usage.

#### additional requirements
- Show negative entries with descriptions like credit adjustments or monthly free-credit resets.

This is dependent on #14760 for design input

[2022-11-17 09:34] #14754 closed

[2022-11-17 09:36] jldec commented on #14591
@svenefftinge I agree with having a separate usage detail list view, but I would split that out and try to finish the credit adjust first.

I have created 2 issues for followup.
-  #14760
-  #14762

cc: @gtsiolis

[2022-11-17 09:53] meysholdt opened #14764 "[dev:preview] use static Gitpod installer config where possible"
## Is your feature request related to a problem? Please describe
Right now, we use the `installer` to generate an empty config, and then we use `yq` to set all values. This architecture was valuable in the very early days of the installer when there were frequent changes to the config format.

Today, this architecture is unnecessarily hard to read and maintain.

Generating the config:
https://gith

[2022-11-17 10:05] meysholdt opened #14765 "[dev:preview] reduce (or remove) post-processing of config."
## Is your feature request related to a problem? Please describe
Today, we post-process the YAML generated by the `installer` before applying it to a preview environment.
This is slow and hard to maintain.

Invocation of post-processing:
https://github.com/gitpod-io/gitpod/blob/9e45cb089a8569bddcfbec624d57f5a2b083f082/dev/preview/workflow/preview/deploy-gitpod.sh#L492-L496

Post-processing example

[2022-11-17 10:05] felladrin commented on #14697
I've checked it today, and unfortunately, we'll need to keep our service that auto-sets the JDK.

On EAP (223.x) IDEs, without our service, when opening a repository that has the `.idea` folder with `misc.xml` defining which JDK to use, it works great: (In this example, the [misc.xml defines it to use JDK 17](https://github.com/Gitpod-Samples/spring-petclinic/blob/e2abf7109a5a828b614717d6342434542

[2022-11-17 10:36] akosyakov commented on #14155
@ArbeenaAzeeb1 @LorenzoBettini if you have a reproducible repo it would be helpful that we can confirm exactly for your case 🙏

[2022-11-17 10:39] felladrin commented on #13654
This Epic seems complete. Shall we close it?

[2022-11-17 10:59] EricJones720 commented on #12246
I'm having the same issue. New user. How do I fix this? Thanks in advance.

[2022-11-17 11:41] svenefftinge commented on #14591
Sure, I meant to say that I will not add the dropdown part that @gtsiolis and @jimmybrancaccio were talking about.

[2022-11-17 11:48] gtsiolis commented on #14591
Sounds good, @svenefftinge!

Do we need any designs for this yet?

[2022-11-17 11:56] svenefftinge commented on #14591
Yes & Yes! 😅

[2022-11-17 12:04] gtsiolis commented on #14591
On it. ✋

[2022-11-17 12:48] andreafalzetti commented on #13654
Good call, @felladrin :)

[2022-11-17 12:48] #13654 closed

[2022-11-17 13:28] LorenzoBettini commented on #14155
@akosyakov I did some experiments some time ago in this repo https://github.com/LorenzoBettini/maven-gitpod-example I'm trying to reopen it right now... apparently, installing Java extension pack is taking ages so I still can't verify that the problem is fixed. Is https://github.com/gitpod-io/spring-petclinic working?

[2022-11-17 13:33] LorenzoBettini commented on #14155
and while installing the extension I get a popup on the right-bottom saying "missing gallery"

[2022-11-17 13:47] gounthar commented on #12182
No, thank you, all sorted out. 🙏

[2022-11-17 13:47] #12182 closed

[2022-11-17 13:50] atduarte commented on #7489
Thank you @xzmeng, @bbhxwl and @smacintyre for caring so much about Gitpod, and again raising this issue with us—we really do hear your feedback, and we have been discussing internally this issue / feature and how we can make it happen. It’s not that easy to see the work that Gitpod is doing behind-the-scenes to progress with issues like this one, but believe us when we say that we’re working towa

[2022-11-17 13:56] #10185 closed

[2022-11-17 13:56] #13100 closed

[2022-11-17 13:59] gtsiolis commented on #14591
I'm adding below another iteration of the designs taking into account the comment above in https://github.com/gitpod-io/gitpod/issues/14591#issuecomment-1318527904.

Cc @svenefftinge @jldec

| Add Credits note (Diff:  Rephrased 🅰️ alert and 🅱️ help text) |
|-|
| <img width="1440" alt="User" src="https://user-images.githubusercontent.com/120486/202464359-cd8a0e95-61e5-4f18-b05d-281a92f9d74e.png"> |

[2022-11-17 14:07] akosyakov commented on #14155
yes, there is a bug in VS Code taking it forever, you can work around by reloading the page

Ouch, I have not seen such. Could you share a screenshot or collect logs https://www.gitpod.io/docs/help/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop 🙏

[2022-11-17 15:06] LorenzoBettini commented on #14155
@akosyakov yes, reloading seems to fix the problem with Java extensions being installed.

I confirm that now I can run the tests:

![image](https://user-images.githubusercontent.com/1202254/202482086-960f64b8-8021-4152-a10e-92ee84ed439c.png)

:)

[2022-11-17 17:24] andreafalzetti opened #14772 "[JetBrains] Add end range for Gateway Plugin"
# Description
Currently when the Gateway updates itself, the Gitpod plugin will not necessarily update to newer version, and this causes errors such as the one in the screenshot below.

Specifying and end range for the plugin support, will prevent this and force users to notice and install the latest version of Gitpod's plugin

[2022-11-17 18:11] mustard-mh commented on #14531
Hi @froboy 👋

Close as it's a known [issue upstream](https://github.com/microsoft/vscode/blob/1ac5ea41e191611f130e0ae216e4a5dd1966f1f5/extensions/github/src/pushErrorHandler.ts#L70). But once you try to rename or remove remote `upstream`, it will be added again by `Github PullRequest` extension (issue https://github.com/microsoft/vscode-pull-request-github/issues/4209)

cc @akosyakov @jeanp413

[2022-11-17 18:11] #14531 closed

[2022-11-17 18:35] scasei commented on #13915
@msiegenthaler thanks, this fixes it for me also

[2022-11-17 20:51] kineticsquid opened #14774 "Cannot initialize workspace: cannot restore backup: ... Permission denied tar"
### Bug description

I'm attempting to set up a Gitpod workspace for https://github.com/kineticsquid/pass-docker. When the workspace goes idle and I attempt to restart it, I get the following error. I'm able to consistently reproduce this. I don't see this with other workspaces.

<img width="906" alt="Screen Shot 2022-11-17 at 3 04 48 PM" src="https://user-images.githubusercontent.com/681707/20255

[2022-11-17 20:51] andreafalzetti commented on #10025
Thanks for raising the issue again @raphaeltm 🙏

I was able to replicate and didn't find any imemdiate workaround. I agree with you and it would be nice to opt-out from undesired pre-installed extensions. This ticket needs re-wording, could you create a new feature request ticket? 🙏

[2022-11-17 21:36] froboy commented on #14531
@mustard-mh thanks for the research! I'm totally ok with "we wont fix it... (but someone else might)". 😄

[2022-11-17 22:49] kylos101 opened #14775 "[ws-daemon] cannot start workspace `No space left on device`"
### Bug description

The user may see something like this:
[code]

Here is a related [trace](https://jaeger-us-prod.workspace-preview.gitpod-io-dev.com/trace/4e483a512adfe10a) for context. The [TAR we were trying to restore](https://console.cloud.google.com/storage/browser/gitpod-prod-user-689efde1-144b-48e9-abf1-15412e48dbec/workspaces/seqeralabs-nftrainingpu-slkxphp0a78?pageState=(%22StorageObje

[2022-11-17 22:50] kylos101 commented on #14775
@aledbf @utam0k for :eyes:

[2022-11-18 01:41] utam0k commented on #14775
I rebooted with a full workspace disk, but could not reproduce. It seems more likely that it depends on the node than the workspace.

[2022-11-18 04:54] utam0k commented on #14775
When I tried to launch workspace-preview, I encountered a message similar to this issue and could not launch the workspace.
[code]

[2022-11-18 06:04] Siddhant-K-code opened #14777 "Feature-Request: `Disable Student Plan` button in admin panel"
## Is your feature request related to a problem? Please describe
How Can an admin disable the Student plan for a user?

## Describe the behaviour you'd like

Having a `Disable Student Plan` button similar to `Disable Professional Open Source Plan`

![image](https://user-images.githubusercontent.com/55068936/202631975-213d1d91-d9fa-4cdd-9db2-d4b822244f40.png)

## Describe alternatives you've consid

[2022-11-18 06:41] utam0k commented on #14775
It looks like the allocation to `/var/gitpod/workspaces` is quite small. This is workspace-preview.
[code]

[2022-11-18 08:05] geropl commented on #14159
@kylos101 My understanding is that we can delay the work here until we are clear on how PVC is moved forward with. Correct? :thinking:

[2022-11-18 08:18] laushinka commented on #13362
Thanks for the nudge! Sorry, I was sure I had moved the card to `In Validation`. Will do that! Status is making sure this week that the new config is working well and we can remove the old one 🙏🏽

[2022-11-18 09:19] gtsiolis commented on #14777
Not sure if it's worth the effort since we're planning to end support GitHub Student Pack in favor of better alternatives for the team and wider community, see **[relevant RFC](https://www.notion.so/gitpod/693cba37767e4c3c895d1420eaedb91c)** (internal).

See also [relevant RFC](https://www.notion.so/gitpod/d7af057f0b6042b3af92c12e7cb00179) (internal) for potential improvements for the professional

[2022-11-18 09:59] mustard-mh opened #14782 "Request ideReady and contentReady twice in supervisor-frontend"
### Bug description

Request ideReady and contentReady twice in supervisor-frontend

![image (10)](https://user-images.githubusercontent.com/20944364/202674689-53fc5c75-397f-4fdc-9bbd-b302a25ead39.png)

### Steps to reproduce

- Start a workspace in Gitpod
- Open DevTool / Network tab
- Check request number

[2022-11-18 10:05] mustard-mh opened #14783 "Add integration testing for supervisor ports expose"
Code Browser uses supervisor API to [expose ports](https://github.com/gitpod-io/openvscode-server/blob/5ab7644a8bbf37d28e23212bc6f1529cafd8bf7b/extensions/gitpod-web/src/extension.ts#L310-L339), but we don't aware it before and did some changes which break browser external URL

In case of regression https://github.com/gitpod-io/gitpod/issues/14248

[2022-11-18 10:17] #14248 closed

[2022-11-18 10:27] felladrin commented on #12676
A user on Discord also asked for a way to track the workspace space usage [[1](https://discord.com/channels/816244985187008514/1043068292505546772)].

[2022-11-18 11:05] navicstein commented on #14774
Having this issue too

[2022-11-18 11:41] axonasif commented on #14647
@Glydric22 use:

[code]

[2022-11-18 12:25] utam0k commented on #14774
@kineticsquid @navicstein Thanks for your report. This issue is duplicated https://github.com/gitpod-io/gitpod/issues/11183. Please keep watching this one :pray:

[2022-11-18 12:25] #14774 closed

[2022-11-18 12:39] akosyakov commented on #12676
It seems we can calculate it in supervisor instead with: `df --output=size,used / /workspace`
Seconds line is the disk space. Ephemeral space is a difference between first and second line.

[2022-11-18 12:43] #14497 closed

[2022-11-18 12:53] akosyakov commented on #14782
It can happen because of timeout for instance: https://github.com/gitpod-io/gitpod/blob/63245668cf70f1122f8405735d0eb7f9da039d74/components/supervisor/frontend/src/ide/supervisor-service-client.ts#LL62C20-L62C20 and would be the right thing to do

[2022-11-18 12:53] felladrin commented on #12126
It has been fixed on JetBrains IDEs v223 (Current EAP) [[1](https://youtrack.jetbrains.com/issue/CWM-7222/Cant-detect-that-a-terminal-widget-was-closed-on-Thin-Client)].

It worked like a charm, but now, when we close JetBrains EAP Client (by clicking "X" button in the client window), it also considers that the terminals all terminal widgets were closed on purpose (which, in our case, causes all G

[2022-11-18 12:53] akosyakov commented on #14782
Did you check debug log for this line: https://github.com/gitpod-io/gitpod/blob/63245668cf70f1122f8405735d0eb7f9da039d74/components/supervisor/frontend/src/ide/supervisor-service-client.ts#L60?

[2022-11-18 13:29] mads-hartmann commented on #13714
This will potentially be fixed by [Option 2 in this RFC](https://www.notion.so/gitpod/Removing-GCP_ADC_FILE-22ff70b2e3024728aadf43dbfde73dde)

[2022-11-18 13:35] WesleyMConner opened #14788 "Cannot start a workspace because no workspace clusters are available"
### Bug description

No luck starting https://gitpod.io/start/#opigencetech-flexsearch-atsly76gvmu this morning. Additionally, the workspaces page suggests 'no changes', but this doesn't seem correct.

### Steps to reproduce

Attempt to launch workspace from workspaces page.

### Workspace affected

https://gitpod.io/start/#opigencetech-flexsearch-atsly76gvmu

### Expected behavior

Normally start

[2022-11-18 13:40] easyCZ opened #14789 "Configure per-user rate limit for Prebuilds (and other resources)"
Setup per-user rate-limiting of prebuilds (and other resources) to prevent excess load, but also guard against exceedingly large volume of requests from a single user.

Ref: https://gitpod.slack.com/archives/C04BGTDQCSH/p1668778332100729

[2022-11-18 13:41] WesleyMConner commented on #14788
Same issue for https://gitpod.io/start/#opigencetech-utils-yzkn1f590hh

[2022-11-18 13:47] jeromelaban commented on #14248
Thanks!

[2022-11-18 13:48] axonasif commented on #14788
Hi all, please subscribe to https://www.gitpodstatus.com/incidents/9q9yk3wjj5rb

[2022-11-18 13:48] #14788 closed

[2022-11-18 14:01] akosyakov commented on #14155
@jeanp413 @mustard-mh it seems to be the follow up of https://github.com/gitpod-io/gitpod/issues/14626? Closing as a dup?

[2022-11-18 14:03] 6uliver commented on #11183
I've just lost a couple of hours of work because of this issue. 😠
My "_best practice_" for these cases was to download the workspace by hand, extract the content on my local machine, commit the changes and push it. It's a very ugly workaround when I would like to use a cloud IDE.

Fortunately there is an epic which goal is to "Better protect user data" so that "they will not lose data.": https://g

[2022-11-18 14:05] 6uliver commented on #7901
Maybe this issue should be part of this epic to not lose my workspace's content on a regular basis: https://github.com/gitpod-io/gitpod/issues/11183

[2022-11-18 14:13] axonasif commented on #11183
@6uliver sorry for the trouble, could you please email us at support@gitpod.io with your workspace ID? Our support team could try getting a backup for you.

[2022-11-18 14:16] mustard-mh commented on #14248
@jeromelaban it's not deployed yet 🙏 , will ping you if we are going to deploy it to SaaS Gitpod

[2022-11-18 14:17] 6uliver commented on #11183
Sure, thank you for your help, maybe I will write. But it's a temporary solution to ask support to restore my workspace every time when this problem happens :)

[2022-11-18 14:27] geropl opened #14791 "[prebuilds] More effective rate-limit (Rate-limit prebuilds per user?)"
We currently do rate limit Prebuilds per `contextURL`m but this leaves lot's of opportunity to accidentally shoot yourselves in the foot. Examples:
 - copying a repo (how this turn into webhooks out depends on the SCMs instance configuration, actually)
 - installing a noisy bot on your repo

We should also rate-limit on a per user basis.

[2022-11-18 14:37] mustard-mh commented on #14782
They are two succeed requests (same kind) with both `ok=true`

[2022-11-18 14:50] jimmybrancaccio commented on #14591
Looks great @gtsiolis! How would one see the credit notes for all time? I see it looks like the dropdown would _only_ show the notes from the current billing cycle?

[2022-11-18 15:10] felladrin commented on #12126
ℹ️ Started testing the abovementioned changes in [this branch](https://github.com/gitpod-io/gitpod/tree/felladrin/avoid-closing-task-terminals-when-client-gets-closed), but had to pause it. Will continue looking into it later.

[2022-11-18 15:53] Furisto commented on #14775
Currently we use [this check](https://github.com/gitpod-io/gitpod/blob/7944aaff4de66685aabb435ddaf6494dddf71296/components/ws-daemon/cmd/run.go#L161) to ensure that enough space is available (which requires that 21 GB are available) on the volume. We still saw it in gen76 so this check does not seem to be effective. We now attempt to solve it by increasing the [initial size](https://github.com/git

[2022-11-18 16:53] kylos101 commented on #14159
@geropl :100: yes

[2022-11-18 17:07] jimmybrancaccio opened #14797 "Running Prebuild on Branch Without New Commits Doesn't Behave as Expected"
### Bug description

When running a prebuild manually from the dashboard UI on a branch that doesn't have any new commits compared to where it was branched from it will run a prebuild against where the branch was created from and not the branch itself. For example, if `main` is my main branch and I create a branch from that, `my-new-branch` and run a prebuild. It will run the prebuild on `main` an

[2022-11-18 18:03] sagor999 commented on #13353
Removed from workspace project for now as we are rethinking our PVC approach.

[2022-11-18 18:03] sagor999 commented on #14159
Removed from workspace project for now as we are rethinking our PVC approach.

[2022-11-18 18:51] jeanp413 commented on #14155
yep this is duplicate of https://github.com/gitpod-io/gitpod/issues/14626

Original issue about running java test should be fixed now

[2022-11-18 18:51] #14155 closed

[2022-11-18 19:52] andreafalzetti commented on #14099
I am probably missing some context because I am not following what you said.. As far as I understand at the moment, the consent modal could still be an issue sometimes?

The issue were noticed in both prebuild situations or when using a custom registry.

Happy to close if these scenarios are not happening now

[2022-11-18 23:29] kylos101 commented on #14775
Fixed in https://github.com/gitpod-io/gitpod-packer-gcp-image/pull/193

[2022-11-18 23:29] #14775 closed

[2022-11-19 05:47] abitrolly commented on #8600
I just got hit by this while trying to "Open in Gitpod" this tile https://gitlab.com/abitrolly/gitlab/-/tree/dev-gitpod-image/.gitpod.yml

[2022-11-19 08:27] laurentkempe opened #14799 "Using JetBrains Gateway 2022.3 RC and Rider doesn't load project files"
### Bug description

Starting a new Gitpod workspace from JetBrains Gateway with Rider, starts the workspace on Gitpod, then JetBrains Client is started with my .NET Solution loaded but I cannot see something else than the solution file (.sln) and the project file (.csproj) in Solution view which displays 1 project, 1 unloaded

![image](https://user-images.githubusercontent.com/272612/202841476-c1

[2022-11-19 08:38] andreafalzetti commented on #14799
Thanks for trying our and reporting the issue 🙌

I suspect that you are using the default Gitpod workspace image which doesn't come with `dotnet` installed. The easiest way to install dotnet in Gitpod is to use the dedicated workspace image: `workspace-dotnet`. This can be configured in `.gitpod.yml` and `.gitpod.Dockerfile`, example:

In `.gitpod.yml`:
[code]

In `.gitpod.Dockerfile`:
[code]

Ful

[2022-11-19 08:47] laurentkempe commented on #14799
In the meantime, I installed the .NET SDK 7.0 by hand and can compile and run the project from the CLI. But I still cannot load the project from JetBrains Client.

I will try your proposal @andreafalzetti and let you asap

[2022-11-19 08:48] laurentkempe commented on #14799
I guess you mean `.sln`, my repos as only one [ChiseledDocker.sln](https://github.com/laurentkempe/ChiseledDocker/blob/master/ChiseledDocker.sln)

[2022-11-19 09:04] laurentkempe commented on #14799
Thanks a lot @andreafalzetti it works now 🎉🎉🎉🎉

Having `.gitpod.yml` and `.gitpod.Dockerfile` fixed the problem at the end.
https://github.com/laurentkempe/ChiseledDocker/blob/master/.gitpod.yml
https://github.com/laurentkempe/ChiseledDocker/blob/master/.gitpod.Dockerfile

![AwesomeGrandmaGIF](https://user-images.githubusercontent.com/272612/202843390-aa85a021-c6aa-4cf7-acb9-499efdc662a9.gif)

[2022-11-19 09:04] #14799 closed

[2022-11-19 14:25] ritikareddy29 commented on #188
I also use a chromebook and I can only upload files, not folders

[2022-11-19 23:00] jldec opened #14800 "SelectWorkspaceClass in ProjectSettings should not depend on PVC feature flag"
The new workspace class selector is not visible in any project settings on gitpod.io
It appears that the selector depends on the PVC feature flag.

https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/projects/ProjectSettings.tsx#L162-L164

This feature has been requested in connection with this [customer support issue](https://gitpod.slack.com/archives/C03372UP877/p1668878163941

[2022-11-19 23:42] jldec commented on #14800
Related to #14535

[2022-11-20 04:14] shaal opened #14802 "Prebuild should be stopped when a branch is deleted"
### Bug description

I made some final changes to a branch, knowing I'll merge it through a PR right after.

I pushed the commit to the branch, created a PR to merge that branch to `main` branch, merged it, and deleted the branch.

I checked Gitpod's dashboard and saw that the new `main` branch is running prebuild, which is what I expected.
But I also saw that the other branch I worked on (now alr

[2022-11-20 05:37] abitrolly commented on #10440
@iQQBot wdyt?

[2022-11-20 20:36] #14800 closed

[2022-11-20 20:41] kylos101 commented on #13785
:wave: @nVitius I just tried to reproduce steps in this issue, but, I was able to `ping google.com` (it resolved and I got replies).

[code]

But I did not  `have MagicDNS disabled` and `set a couple Global Nameservers up` and `"Override local DNS" flag turned on`. I will add those steps to `steps to recreate`, and queue for our team to investigate. More updates to follow!

[2022-11-20 23:17] Garvit-k opened #14807 "Gitpod terminal becomes unresponsive"
### Bug description

The terminal and vs code features becomes unresponsive and only way to solve it is to refresh the whole page.
The internet connection is stable and at 100 Mb/s throughout.
Using: Firefox Developer Edition 108.0b3 (64-bit)

### Steps to reproduce

After running 1 command in terminal it becomes unresponsive.

### Workspace affected

stellar-sorobanexamples-gb8hrfm5pa5

### Expec

[2022-11-20 23:39] will-beta commented on #14107
also having this issue. expecting updates.

[2022-11-20 23:40] will-beta commented on #10972
also having this issue. expecting updates.

[2022-11-21 00:52] kylos101 commented on #14264
[Observation](https://grafana.gitpod.io/explore?orgId=1&left=%7B%22datasource%22:%22P4169E866C3094E38%22,%22queries%22:%5B%7B%22refId%22:%22A%22,%22editorMode%22:%22code%22,%22expr%22:%22sum%20by%28blobSource,ok%29%20%28gitpod_registry_facade_registry_blob_req_dl_total%7Bcluster%3D%5C%22us77%5C%22%7D%29%22,%22legendFormat%22:%22__auto%22,%22range%22:true,%22instant%22:true%7D%5D,%22range%22:%7B%22

[2022-11-21 05:16] jeanp413 commented on #14484
Upstream issue https://github.com/microsoft/vscode/issues/166682 but seems it's already fixed in insiders.
@jankeromnes could you try insiders and see if you can repro there
Closing for now

[2022-11-21 05:16] #14484 closed

[2022-11-21 06:02] axonasif commented on #10440
@iQQBot we appreciate you sharing all the technical/cost related issues that this may have. 🙏

But as an user who's looking to default to SSH for Gitpod usage, this is a big blocker. Having this ability would make SSH more sane to use with Gitpod. ssh-gateway is such an amazing capability Gitpod got that unlocks many possibilities, now only if mosh worked with it, then nothing like it.

[2022-11-21 07:01] svenefftinge opened #14810 "[projects] Introduce "no setting", i.e. default to user's setting for workspace classes"
The workspace classes on the projects setting don't make a visual distinction between "no setting" and the set to the default class. But internally the difference is that an explicit project-level setting overrules any user settings.

We need a way in the project settings that communicates/allows setting to "default/ no setting".

[2022-11-21 07:04] #14529 closed

[2022-11-21 07:20] svenefftinge opened #14811 "[project settings] Allow setting workspace class for prebuilds independently"
## Is your feature request related to a problem? Please describe
For prebuilds some teams might want to use a different workspace class than for the actual workspaces.

## Describe the behaviour you'd like
We should allow settings the workspace class for prebuilds. Workspaces started from prebuilds unfortunately can only use larger classes. So a setting where prebuilds run in a larger workspace cl

[2022-11-21 07:49] mads-hartmann commented on #14157
This is breaking some workflows for developers, so worth prioritising now that people are using `leeway run dev:preview` ☺️ More context [here](https://gitpod.slack.com/archives/C02EN94AEPL/p1669016488966189?thread_ts=1668547800.331949&cid=C02EN94AEPL)

[2022-11-21 08:00] mads-hartmann commented on #14157
A suggestion from Chris:

We have source related rules for docker already.

I think this would be great way to tackle the problem.

1. Extend vet to detect the kinds of files that are causing problems (node_modules, dist folders, etc)
2. Bump Leeway in the workspace. Run `leeyway vet` and fix all the problems
3. Remove the deletion of the files in build.sh

[2022-11-21 08:58] axonasif commented on #14647
It's basically how your shell works, `sudo` doesn't preserve the user-environment variables by default, `-E` flags makes it do. Moreover, `$(command -v python3)` is expanded to `/home/gitpod/.pyenv/shims/python3` before it gets passed as an argument to `sudo`, so `sudo` can directly execute `python3` without iterating over `PATH` env-var to avoid possible conflict as we're using `-E` flag.

[2022-11-21 09:10] axonasif commented on #14107
Hi @will-beta, could you share your workspace ID for investigation?

[2022-11-21 09:11] axonasif commented on #14807
Hi @Garvit-k, can you reproduce this on a different browser?

Moreover, could you try in [Firefox troubleshoot mode?](https://support.mozilla.org/en-US/kb/diagnose-firefox-issues-using-troubleshoot-mode#w_troubleshoot-mode-window)?

And if could could provide your vscode logs:
- https://www.gitpod.io/docs/help/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop

[2022-11-21 09:28] axonasif commented on #188
Hi @ritikareddy29, you could create an archive of the files you want to upload (e.g. `zip`, `tar` and etc.)

[2022-11-21 09:34] AlexTugarev commented on #14277
Going to break down in smaller parts to replace this.

[2022-11-21 09:42] felladrin commented on #14697
I've informed JetBrains about it. [[Internal Discussion](https://gitpod.slack.com/archives/C02BRJLGPGF/p1669023495085699)]

[2022-11-21 09:44] jldec opened #14814 "[UBP] Don’t immediately block free-tier users with heavy prebuild usage when UBP is enabled"
Users with a lot of prebuild usage should not be blocked immediately when we turn on UBP.

#### Taking the following steps to address this:
  - [x] #9898
  - [x] #4353
  - [x] #15144

#### Earlier suggestions
- Enabling UBP should reset the free tier cost center to 500 fresh credits even if past usage was higher
- Users with high prebuild usage should see a warning notification when they have used

[2022-11-21 10:04] AlexTugarev commented on #14464
Unbelievable, this is still not working.

[2022-11-21 10:06] andreafalzetti opened #14815 "[JetBrains] Document RIder and CLion"
Adding docs for Rider and CLion in our website

[2022-11-21 10:12] aledbf commented on #14264
To be able to do that, we need to change registry-facade methods that return io.ReadCloser to io.SectionReader like in [nerdctl](https://github.com/containerd/nerdctl/blob/main/pkg/ipfs/registry.go#L197)

[2022-11-21 10:51] michielbdejong commented on #10108
I'm still seeing this error:
[code]

This is with the prebuild from https://github.com/muze-nl/federated-timesheets-tests/pull/2

[2022-11-21 11:00] svenefftinge commented on #14791
As @AlexTugarev pointed out in https://github.com/gitpod-io/gitpod/pull/14796 the limiting is done by `cloneURL` (not `contextURL`) which makes sense. The incident we had last week was probably caused by races with the underlying DB state. I suggest closing this.

[2022-11-21 11:00] #14427 closed

[2022-11-21 11:02] mustard-mh commented on #14248
Sorry for being late, it's been [deployed](https://github.com/gitpod-io/gitpod/pull/14761#event-7846174827) to production SaaS Gitpod. @jeromelaban

[2022-11-21 12:08] MichaelVoelkel opened #14818 "Opening port does not work"
### Objective

Hi,

I want to use VNC, however, I cannot use the container that Gitpod provides because I have my own custom image.

Now, that works in essence fine. I have VNC running on 5900 and my local netcat also tells me that this is working fine.

However, the exposed port seems to be seen ONLY as https... this makes no sense, I want to have the port open but not via https clearly, the prot

[2022-11-21 12:13] axonasif commented on #14818
Hi @MichaelVoelkel, you can find some info here:
- https://github.com/gitpod-io/workspace-images/tree/axonasif/add_docs/chunks/tool-vnc#workspace-full-vnc

[2022-11-21 12:14] axonasif commented on #14818
And about http ports on the web version, https://github.com/gitpod-io/gitpod/issues/459 is relevant.

[2022-11-21 12:16] MichaelVoelkel commented on #14818
Ok, thanks, got it!
So I will have locally something that tunnels VNC via https and expose that. Not perfect, but ok

[2022-11-21 12:48] jldec opened #14819 "[UBP] Configure higher usage limit on "Gitpod for Open Source" plan users"
[Gitpod for Open Source](https://www.gitpod.io/for/opensource) plan users will receive a higher credit allowance under UBP. This higher usage limit setting should persist indefinitely (not expire at the end of the month)

The Current plan should be labeled “Open Source”.

Besides the difference in plan name and higher credit limit, the Billing page should behave just like other Free-tier users.

S

[2022-11-21 13:44] mads-hartmann opened #14820 "Build hygiene: Reduce usage of dontTest: true in package definitions"
We currently have 31 packages that use `dontTest: true` - that means their test suites (if any) won't run.

[code]

We should:

1. Get back to a state where no (or very few) packages use `dontTest: true` (talk with the teams that own the packages)
2. Find a way better catch and help fix problems like this in the future: e.g. run `leeway vet` as part of the pre-commit hook and have it write a warni

[2022-11-21 14:34] jldec commented on #14810
@svenefftinge @gtsiolis

How about showing the "use default" (no setting) state in both personal and project settings?
This would allow for users to receive a different default when it is modified say at the org level 😉 .

[2022-11-21 14:57] axonasif commented on #10440
I assume https://github.com/gitpod-io/gitpod/issues/459 is the main issue?

[2022-11-21 15:20] jeanp413 commented on #14541
Can you repro this consistently? I wasn't able to repro this with latest release

[2022-11-21 15:57] loujaybee commented on #3966
Linking this docs effort for workspace lifecycle updates:
- https://github.com/gitpod-io/website/pull/2858

Opportunity to document shutdown behaviours and hooks for users to listen to.

[2022-11-21 16:34] tomwheeler commented on #14541
I could reproduce it 100% of the time when I reported it (I recall trying it at least 7 times over a 24-hour period, using two different browsers, and the workspace failed to properly initialize in all cases). However, I just tried it again and it's working.

To be clear, the release notes are still being displayed (which is a problem because unexpected windows like that are an unwelcome distracti

[2022-11-21 17:01] gtsiolis opened #14829 "Create a patch from workspace changes"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/issues/14364, it could be interesting to explore new ways to provide better alternatives for exporting workspace changes locally or in the cloud, without requiring users to download the full workspace.

See also [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1668813874167919) (internal). Cc @kylos101

[2022-11-21 17:36] kylos101 commented on #14800
@jldec I removed from the Team Workspace inbox. Let us know if anything is needed in a new issue?

[2022-11-21 17:44] abitrolly commented on #10440
Found this diagram [here](https://www.gitpod.io/docs/configure/user-settings/ssh#what-is-ssh-gateway).

![image](https://user-images.githubusercontent.com/8781107/203094395-3995d21b-74ce-41d7-b015-491b8a101e5a.png)

If I have multiple workspaces open, how SSH Gateway knows which one to forward to? IP is the same, user name is the same, SSH key is the same.

[2022-11-21 17:45] jldec opened #14831 "[UBP] Nudge individual users on paid per-seat plans toward pay-as-you-go"
When we bring UBP to all users, those on paid plans may not realize that they need to cancel their plan in order to get UBP features like large workspaces.

Two obvious places to put the nudge would be:
- in the personal /preferences page where users go to select their own default workspace class
- in the docs page for workspace classes

[2022-11-21 17:50] andreafalzetti commented on #10440
@abitrolly each workspace has a different workspace ID, `https://<WORKSPACE_ID>.<CLUSTER>.gitpod.io/` the SSH connection cmd is `ssh '<WORKSPACE_ID>@<WORKSPACE_ID>.ssh.<CLUSTER>.gitpod.io'`

[2022-11-21 18:15] abitrolly commented on #10440
@andreafalzetti `mosh` uses `user@` too at least for initial connection.

[code]

So to make traffic pass LoadBalancer should allow UDP packets to travel to SSH Gateway, and then the gateway needs to figure out from which user the packet comes from. I am not sure how it is done for SSH. SSH Gateway then should be running SSH server to terminate secure connection, but then traffic to workspace will

[2022-11-21 18:22] gtsiolis commented on #14831
Following up from a [recent discussion](https://www.notion.so/gitpod/Usage-Based-Pricing-Cross-Team-Sync-11a30192a6254bbdb9cce1e070635e80#d1883548c29f4d0da5597433686f27be) (internal), we could also add a nudge on the top of the existing team billing page that links to the docs page with instructions how to upgrade, see draft design below.

| Draft design for UBP nudge in team billing |
|-|
| <img

[2022-11-21 19:08] LuigiSousa commented on #3481
This error came back again

[2022-11-21 19:13] LuigiSousa opened #14833 "Terminal"
### Bug description

Terminal doesn’t have prompt, already restarted, closed, opened a new one, but still not working.

### Steps to reproduce

Open a terminal and doesn’t appear anything…
![9FC7BC19-0FBD-42BF-B345-04F5F8CB86CD](https://user-images.githubusercontent.com/102445865/203139769-a2c43b59-c116-4865-a13a-cb8733f4d983.jpeg)

### Workspace affected

No

### Expected behavior

A terminal

##

[2022-11-21 20:31] easyCZ commented on #14129
The change was reverted in https://github.com/gitpod-io/gitpod/pull/14751, will need to be re-added.

[2022-11-21 21:57] jeanp413 commented on #14541
Good to hear it's working :+1: , for the option to disable release notes we are tracking that here https://github.com/gitpod-io/gitpod/issues/12704

[2022-11-21 21:57] #14541 closed

[2022-11-22 02:52] 1992w opened #14837 "pull image "proxy.replicated.com/proxy/gitpod/busybox:1":401 Unauthorized"
### Objective

"proxy.replicated.com/proxy/gitpod/busybox:1": failed to resolve reference "proxy.replicated.com/proxy/gitpod/busybox:1": failed to authorize: failed to fetch oauth token: unexpected status: 401 Unauthorized

[2022-11-22 07:51] msiegenthaler opened #14840 "Workspace timeout 30m on self-hosted"
### Bug description

Since I updated from 2022.8.0 to 2022.10.2 on our self-hosted instance we experience very short workspace timeouts of just 30 minutes. Previously we had the following config
[code]

that gave us longer timeouts.
Also we cannot extend the timeout anymore from VS Code (Cannot extend workspace timeout: Error: enterprise license required).

We run the free community version with 3

[2022-11-22 09:31] #14591 closed

[2022-11-22 09:31] #14367 closed

[2022-11-22 09:31] #14739 closed

[2022-11-22 09:31] jldec opened #14844 "[Admin, UBP] Show workspace class preference for projects in Admin dashboard"

[2022-11-22 09:51] jldec opened #14845 "[Admin] Projects list should hide deleted projects and support pagination"
For consistency with other lists in the admin dashboard, the projects list should not show the deleted projects, and it should support longer lists with pagination.

[2022-11-22 10:23] Furisto commented on #14504
@kylos101 This issue is not for running the integration tests locally in your workspace because as you have mentioned running a subset of tests is already possible there. The focus of this issue is on speeding up PRs. Often only a single test is failing and after fixing that test having to run every test with `integration-test=workspace` on the PR takes time (although less now that we have paralle

[2022-11-22 10:32] gtsiolis opened #14847 "Update balance element in billing page"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/14594 and a recent chat with @svenefftinge, we'd like to simplify how we surface the available balance, monthly quota, and usage data on the billing page.

### Proposal

To simplify the current state, we could move a way from showing the used credits to available credits, rename usage limit to monthly quota, etc.

| B

[2022-11-22 11:03] Furisto commented on #13254
This has not been deployed with gen77 (probably due to the way it was deployed). Need to wait for gen78.

[2022-11-22 11:12] gtsiolis commented on #10773
Thanks for opening this, @david-bakin! The core issue starts with the unnecessary or duplicate information of the context URL, repository name, and workspace description which we allow users to change.

Some improvements described in https://github.com/gitpod-io/gitpod/issues/3594 should already cover mot of the issues raised here.

Differentiating pinned workspaces is something we probably need,

[2022-11-22 11:12] #10773 closed

[2022-11-22 11:34] jldec commented on #14831
@svenefftinge I have descoped this to single change in /preferences.

[2022-11-22 11:35] jldec commented on #14831
cc: @gtsiolis

[2022-11-22 12:32] axonasif opened #14850 "“deprecate” env property of .gitpod.yml"
Please see [internal discussion](https://gitpod.slack.com/archives/C01KPEPNBD0/p1669115410000429) for context. 🙏

[2022-11-22 12:36] akosyakov commented on #14280
@gtsiolis Is there a design available?

[2022-11-22 12:37] gtsiolis commented on #14280
@akosyakov I'm currently working on this. I'm planning to upload some early designs today. Any feedback or something that designs should take into account?

[2022-11-22 12:44] akosyakov commented on #14280
@gtsiolis nope it just we wanted to start to work on it. If we do some cross cutting slices it would be good to have some ideas about UI.

[2022-11-22 12:50] mads-hartmann opened #14854 "Build hygiene: Only use {version} tags for "external" images"
We tag our docker images with `:${version}` quite a lot. We also tag them with `${__git_commit}`

[code]

In our "versions manifest" we only refer to the "commit" tags, and not the version tags.

It would be nice to only produce the docker tags that we need.

Talk to the teams to figure out if it is okay to remove those tags.

[2022-11-22 14:57] gtsiolis commented on #14280
Posting some early designs for the personal access tokens (PATs) flow, including 1️⃣ the empty state and 2️⃣ the new token modal. I’ll add later today, 3️⃣ the new token confirmation and 4️⃣ the listing of existing tokens. Cc @laushinka @easyCZ

| 1️⃣ No tokens | 2️⃣ New token |
|-|-|
| <img width="1440" alt="Empty" src="https://user-images.githubusercontent.com/120486/203340048-e7d33a49-48b8-4f59

[2022-11-22 15:06] vasucp1207 opened #14859 "Nothing showing in terminal in Safari"
### Bug description

I open a workspace in Safari and notice that gitpod terminal not showing anything.

### Steps to reproduce

I check whether the terminal is working or not by typing **git checkout main**, and surprisingly the command works in the terminal but the terminal is totally empty.

<img width="1414" alt="Screenshot 2022-11-22 at 8 43 48 PM" src="https://user-images.githubusercontent.c

[2022-11-22 15:06] gtsiolis commented on #14614
The **empty state** contains more than the side menu, right? Shall we reopen this? Cc @laushinka @MichaelAring

See relevant comment in https://github.com/gitpod-io/gitpod/issues/14280#issuecomment-1323809687

[2022-11-22 15:13] laushinka commented on #14614
Thanks for the designs, George.
This ticket aimed to have an empty page behind a feature toggle, so that anyone who picks up the UI work can just start.
I don't think this is the same as what you show in the design, since it involves showing the list of personal access tokens and a modal to create new ones.

[2022-11-22 15:15] tdensmore commented on #14280
Quick question about the "Permissions" checkbox: does this need to be checked for the PAT to work as expected? If not, what are the default permissions? I have seen these split into USER and ADMIN options for other products, but maybe that does not apply yet since we are still building out our public API set?

[2022-11-22 15:31] gtsiolis commented on #14614
Thanks for clarifying, @laushinka!

I brought this up because this issue was listed in the tasks list in https://github.com/gitpod-io/gitpod/issues/14280. 💡

Let's leave this as is, hopefully the empty state can be tackled along with one of the tasks related to the UI like https://github.com/gitpod-io/gitpod/issues/14615. 🤝

[2022-11-22 15:37] gtsiolis commented on #14280
Hey @tdensmore! Cross-posting from the [relevant discussion](https://gitpod.slack.com/archives/C01KPEPQYE6/p1669129929009669?thread_ts=1669129212.853829&cid=C01KPEPQYE6) (internal) for visibility:

[2022-11-22 15:38] laushinka commented on #14614
Yess, now that we have designs we can polish the UI tickets. I think the listing and the creation can be worked on separate tickets, so I'll create the UI to only do the listing, as that is the one that's missing. Thanks for the nudge!

[2022-11-22 15:39] laushinka opened #14860 "Implement List tokens UI"
Show the list view as in the designs (without creation functionality).

- [Link](https://gitpod.slack.com/archives/C01KPEPQYE6/p1669129212853829) to the empty design
- [Link](https://gitpod.slack.com/archives/C01KPEPQYE6/p1669151203668149) to the view with items

| [Empty](https://gitpod.slack.com/archives/C01KPEPQYE6/p1669129212853829) | [Has items](https://gitpod.slack.com/archives/C01KPEPQYE6/p

[2022-11-22 15:40] laushinka commented on #14614
[List tokens ticket](https://github.com/gitpod-io/gitpod/issues/14860)

[2022-11-22 15:47] WVerlaek opened #14862 "[image-builder-mk3] Unable to fetch build logs for build that waited on node scale-up"
### Bug description

`image-builder-mk3` is unable to fetch and stream back image build logs from an image build that had to wait for a node to scale up.

`image-builder-mk3` keeps retrying [here](https://github.com/gitpod-io/gitpod/blob/main/components/image-builder-mk3/pkg/orchestrator/monitor.go#L396), trying to get the build logs from the workspace supervisor task URL, but keeps timing out dur

[2022-11-22 16:08] AlexTugarev opened #14864 "[stripe] don't create a Customer twice on internal errors"
We've seen an error in preview environment, where a Stripe Customer was created multiple times on UBP upgrades.

A theory for that error is that when we're about to re-subscribe and fail to find a customer for a (let's assume) stable AttributionId, we immediately create a new Customer on Stripe. Unfortunately, we're not examining the failure code from `billingService.getStripeCustomer({ attributio

[2022-11-22 16:47] andreafalzetti opened #14865 "[VS Code] Inconsistent behaviour between Browser and Desktop for ports notifications and preview"
### Bug description

Opening the same project should have consistent behaviours between VS Code Browser / Desktop.

Issues I've noticed:
- when opening [this project](https://github.com/andreafalzetti/gitpod-sh-testing/blob/main/.gitpod.yml) in Browser I get this notification:
<img width="541" alt="Screenshot 2022-11-22 at 17 44 45" src="https://user-images.githubusercontent.com/2318450/203372285-

[2022-11-22 17:37] #14149 closed

[2022-11-22 21:00] gtsiolis commented on #14280
Adding below more design specs for the token creation.

| Creating the first token | Refreshing the list |  Creating the second token |
|-|-|-|
| <img width="1440" alt="List" src="https://user-images.githubusercontent.com/120486/203419449-92828517-a033-48c4-91d9-bd28a2af9384.png"> | <img width="1440" alt="List-2" src="https://user-images.githubusercontent.com/120486/203419542-67bbdb73-c6ab-4910-88

[2022-11-22 22:31] kylos101 commented on #14504
I see :bulb: , thanks @Furisto ! As this is related to devX, I will add to their related project for consideration. They're considering https://github.com/gitpod-io/gitpod/issues/13598.  cc: @meysholdt

[2022-11-22 22:32] kylos101 commented on #14504
@Furisto also, I removed Team Workspace from this, as it's more of a cross cutting concern that should be handled by DevX.

[2022-11-23 00:44] abitrolly commented on #10440
I mean SSH Gateway is kind of https://en.wikipedia.org/wiki/TLS_termination_proxy It terminates SSH connection - meaning it doesn't forward it, and initiates new SSH connection instead.

So for `mosh` the SSH Gateway can not terminate `mosh` connection, because that would mean `mosh-server` would run on the gateway and will forward events from gateway's terminal. So there should be some kind of pr

[2022-11-23 04:32] jldec commented on #12341
More research reveals that promotion codes cannot be used in the Stripe Portal in our case customers can only cancel their subscriptions. See https://stripe.com/docs/customer-management/get-started#limitations

This means that the promo code would have to be entered earlier, when first setting up the subscription.

[2022-11-23 08:08] abitrolly commented on #10440
There is a related issue in `mosh` https://github.com/mobile-shell/mosh/issues/970

[2022-11-23 08:11] gtsiolis commented on #10142
This should be easier to resolve now with Gitpod Dedicated, as the Git integrations can live in the admin settings for each instance. Cc @jldec @lucasvaltl

[2022-11-23 08:30] michielbdejong opened #14878 "Continuation of #10108"
### Bug description

Continuation of https://github.com/gitpod-io/gitpod/issues/10108#issuecomment-1321863968
It seems that it was fixed in May but it seems to be happening again.

### Steps to reproduce

See https://github.com/gitpod-io/gitpod/issues/10108#issuecomment-1321863968

### Workspace affected

michielbdej-federatedti-uagmoe54t0u

### Expected behavior

_No response_

### Example reposi

[2022-11-23 08:37] michielbdejong commented on #14878
<img width="1215" alt="Screenshot 2022-11-23 at 09 36 56" src="https://user-images.githubusercontent.com/408412/203502425-45e7c7ef-96bd-4f44-ab87-c716bfb286c5.png">

[2022-11-23 08:44] gtsiolis commented on #12341
@jldec Could it help if we added a functionality to _Add funds_ to the billing balance and use a promo code there?

To clarify, the initial idea of the proposal of this issue was to allow users to add funds but with a discounted price or no price at all, not apply a discounted rate or something.

[2022-11-23 09:44] geropl commented on #13985
@AlexTugarev Can we close this one? Looking at the activities it looks this might be a left-over.

[2022-11-23 09:48] geropl commented on #9564
Closing this issue because I think we already mitigated this. Users now have more control over Prebuilds on the project level, and should be able to avoid the situations mentioned above:

![Image](https://user-images.githubusercontent.com/32448529/203516229-b1818c8a-389d-4dbf-a0a6-56b56be710e4.png)

[2022-11-23 09:48] #9564 closed

[2022-11-23 09:52] RCheesley commented on #14807
I am experiencing the same issue with Chrome repeatedly - commands are not being typed, and it becomes completely unresponsive.

[2022-11-23 09:53] laushinka commented on #14860
Tagging you here @gtsiolis for visibility. I will be working on this.

[2022-11-23 10:26] gtsiolis opened #14884 "Add last used timestamp for personal access tokens"
### Problem to solve

Following the work in https://github.com/gitpod-io/gitpod/issues/14280 and the [relevant RFC](https://www.notion.so/gitpod/69b617426bd040e295a95c623b725218#acd7ce54915d4b7da44dd819845da973) (internal), the personal access tokens currently do not store or surface the last used timestamp which is usually a best practice for access tokens.

See also [relevant discussion](https:/

[2022-11-23 10:44] easyCZ commented on #14884
When we implement this, we should store the data in a separate table which contains (Token ID, LastUsed) as fields. We would expect this table to be hit hard - on every API request to perform the update.

The update of last used must be non-blocking, and perhaps we should consider only storing the "date" of when it was last used and performing a conditional update on the data, instead of storing t

[2022-11-23 10:51] mrzarquon commented on #14626
I just checked and saw that `use local app` somehow got enabled again in my case, disabling it and this behavior stopped.

<img width="725" alt="image" src="https://user-images.githubusercontent.com/57210/203528298-20dff2e8-2285-4eb8-a8b9-a835ec89fa2e.png">

[2022-11-23 11:02] mittalyashu opened #14887 "Have prebuild settings from dashboard in `.gitpod.yml`"
## Is your feature request related to a problem? Please describe

![IMG_3728](https://user-images.githubusercontent.com/29014463/203530396-f6623fd7-2a28-427c-9191-09d6dc7665a8.jpeg)

Have a single place to allow configure project prebuild settings from `.gitpod.yml` file.

## Describe the behaviour you'd like

Or even better to have two-way settings from UI (dashboard) to `.gitpod.yml` and vise-ve

[2022-11-23 11:04] gtsiolis commented on #14887
Thanks @mittalyashu! Do you think https://github.com/gitpod-io/gitpod/issues/7426 covers the feature request here?

[2022-11-23 11:15] andreafalzetti commented on #14807
@RCheesley any public repo or steps for us to try reproduce?

[2022-11-23 12:04] RCheesley commented on #14807
I emailed logs to the troubleshooting address as requested. Several PRs on mautic/mautic I have been testing today and yesterday are having this issue.

[2022-11-23 12:13] jldec commented on #12341
Thanks for the suggestion @gtsiolis

This issue is specifically to enable self-service use of Stripe promo codes by extending our payment form. We need all the nice coupon features built into Stripe e.g. expirations, and single-use

There's a separate issue to extend our credits model with our own coupon-like behavior, which would allow Gitpod or 3rd parties to grant credits, and maybe your sugges

[2022-11-23 12:23] jldec commented on #12341
@gtsiolis I updated the issue title and description to reflect this new information.

[2022-11-23 12:23] gtsiolis commented on #12341
Thanks, @jldec !

[2022-11-23 12:36] jldec commented on #14814
Clarification required - Let look at usage data to see how many cases like this are expected.

[2022-11-23 12:36] #13903 closed

[2022-11-23 12:37] easyCZ commented on #13574
This is now complete.

[2022-11-23 12:37] #13574 closed

[2022-11-23 12:46] jldec commented on #14819
@geropl, @svenefftinge could you confirm that this approach makes sense.

[2022-11-23 12:52] corneliusludmann commented on #14444
@adrienthebo and @mrsimonemms: What's the state of this issue? Is there still work needed or can this be closed?

[2022-11-23 13:24] jldec commented on #14810
@gtsiolis
This configuration on projects is optional and the selection UI needs an unselected state.

New and existing projects have no workspace class config and the UI should show that, because it means that the user's preference, or the installation default will be used. Simply showing that default as selected is confusing/wrong because it depends on who is looking at the setting and what their

[2022-11-23 13:52] kylos101 commented on #13927
Updated ☝ to account for secrets management

[2022-11-23 13:53] #14609 closed

[2022-11-23 13:55] mrsimonemms commented on #14444
Fixed by #14500

[2022-11-23 13:55] #14444 closed

[2022-11-23 14:14] aledbf opened #14891 "Add native support for AWS ECR"
## Is your feature request related to a problem? Please describe

Provide native support to use ECR as a container registry and also allows the use of IAM Roles for Service Accounts (in pods)

## Additional context

https://aws.amazon.com/es/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

[2022-11-23 14:15] aledbf opened #14892 "Add native support for AWS S3"
## Is your feature request related to a problem? Please describe

Provide native support to use S3 as object storage and also allows the use of IAM Roles for Service Accounts (in pods)

## Additional context

https://aws.amazon.com/es/blogs/opensource/introducing-fine-grained-iam-roles-service-accounts/

[2022-11-23 14:41] laushinka commented on #14860
@gtsiolis Did we have an idea what the `Learn more` link would redirect to?

[2022-11-23 14:44] gtsiolis commented on #14860
@laushinka I was hoping for a section in our **docs**[[1](https://www.gitpod.io/docs/configure/user-settings)], but feel free to drop the link if we are not planning to add docs before adding this feature. Cc @easyCZ @jldec

[2022-11-23 14:44] jimmybrancaccio commented on #14280
I wonder if it's worth using a yellow alert component for the "nudge" text. I like the alternative with the modal too - but perhaps remove the footer of the model since there's already a copy button/function in the text field.

Look great though, really nice job!

[2022-11-23 14:47] gtsiolis commented on #14280
Thanks for the feedback @jimmybrancaccio!

I'd avoid relying on the alert component for everything we add as this could be overwhelming for users. We're already using lost of alerts for other cases like local preview, usage limit, etc.

For the latest designs, we're leaning towards a non-modal approach as it would scale better with more permissions that we'd like to add over time, see [relevant di

[2022-11-23 14:49] laushinka commented on #14860
Good point 💯 By the time this gets rolled out we should have documentation for it as well. I'll create a separate issue for this (instead of including a placeholder link now) so we don't forget. Thanks!

[2022-11-23 14:51] mustard-mh commented on #14860
@laushinka  Does `List tokens` include create?

[2022-11-23 14:54] laushinka commented on #14860
@mustard-mh Hi, Huiwen! It doesn't include create as I wrote in the description.

Will you be working on the create functionality or other UI? If yes let's sync so I can help unblock or align :)

[2022-11-23 14:54] gtsiolis commented on #14860
**fyi**: Updated the designs in the issue description to include the latest which do not include the _Last used_ element.

[2022-11-23 15:22] buggtb opened #14895 "Allow custom ssh configs (X11 forwarding)"
I would like to develop an app that isn't a webapp or a cli, which i appreciate feels like going back to the dark ages.

I'd like to develop and run a Swing app on a gitpod workspace, but not mess around with VNC. Since we now have ssh connections I should be able to change the ssh config to allow X Forwarding and then hopefully be able to tunnel through the connection to my localmachine.

Sadly t

[2022-11-23 16:01] easyCZ opened #14896 "Implement ListProjects"

[2022-11-23 16:03] easyCZ commented on #14610
This is now complete.

[2022-11-23 16:03] #14610 closed

[2022-11-23 16:22] qwezey opened #14898 "gitpod installer "cannot detect containerd location" on microk8s cluster"
### Bug description

while installing the gitpod on a microk8s Kubernetes cluster, the gitpod installer "cannot detect containerd location". even though microk8s uses containerd

### Steps to reproduce

1. setup a microk8s Kubernetes cluster
2. install gitpod via kots

### Workspace affected

_No response_

### Expected behavior

gitpod installs successfully

### Example repository

_No response_

[2022-11-23 17:24] mustard-mh commented on #14615
We are going to look into this @jeanp413 @iQQBot @mustard-mh

cc @laushinka

[2022-11-23 17:37] jeanp413 commented on #14626
@mrzarquon `use local app` is deprecated as you can see in the description

BTW this is an upstream bug https://github.com/microsoft/vscode/issues/166196

[2022-11-23 20:58] easyCZ opened #14900 "Remove description field from PAT"

[2022-11-23 21:31] kylos101 commented on #14891
:wave: @csweichel today you mentioned this would impact `image-builder-mk3` and `registry-facade`. I'll leave this in a `breakdown` status, to show this requires investigation.

@sagor999, when you return from vacation, may we ask you to investigate and socialize a proposed solution with @csweichel?

I spent some time investigating `image-builder-mk3` :point_down:.

## image-builder-mk3

### Possi

[2022-11-23 21:41] kylos101 commented on #14892
:wave: @gitpod-io/engineering-workspace , @csweichel is going to start breaking this down, no need to cover as part of refinement. Unless of course you're in refinement "now" with Chris, and want to socialize. :smiley:

[2022-11-23 21:42] kylos101 commented on #14264
Moving back to our inbox for now, [this](https://github.com/gitpod-io/gitpod/issues/14264#issuecomment-1321813599) is not trivial, and we need the bandwidth to focus on other groundwork.

cc: @atduarte

[2022-11-24 05:13] jenting commented on #13559
The PVC integration test is disabled #14838. This issue is no longer valid.

[2022-11-24 05:13] #13559 closed

[2022-11-24 06:44] svenefftinge commented on #14814
I'd prefer to generalize this warning to all kinds of low credits. We could email people on low credits.

[2022-11-24 07:54] gengjiawen commented on #14579
Anyone working on this ? This is quite annoying, happens everyday.

[2022-11-24 07:54] easyCZ opened #14910 "Documentation for Personal Access Tokens"

[2022-11-24 07:55] easyCZ opened #14911 "Ensure observability for Personal Access Tokens feature & add SLO"

[2022-11-24 07:56] easyCZ opened #14912 "Server & Public API Accept PATs when authorizing requests"

[2022-11-24 08:26] easyCZ commented on #10134
From an [internal conversation](https://gitpod.slack.com/archives/C02EN94AEPL/p1669277282001569) it looks like the other client which is generating traffic against the OTS endpoints are Desktop IDEs.

@loujaybee @akosyakov Would you be able to validate if this is indeed the case and the Desktop IDEs use the OTS? What would be the effort to remove OTS from them so that we can remove the endpoints e

[2022-11-24 08:34] andreafalzetti opened #14913 "[JetBrains] Using new UI triggers UI Mismatch error dialog"
In latest JetBrains IDE, opting in for the new UI causes an error dialog and asks for restart. When restarting, the IDE does not automatically reconnect.

![7C90EB91-3392-4B6E-B5AB-2B7683FDB919](https://user-images.githubusercontent.com/2318450/203790732-88e3d891-8ac2-4805-a096-55275f4f4eba.jpeg)

[2022-11-24 08:42] atduarte opened #14914 "Investigate how to add support for AWS ECR"
Investigate how to achieve ~https://github.com/gitpod-io/gitpod/issues/14891~ #12104

- [x] ~build eks environment~ (We use the preview env with private AWS ECR)
- [x] setup private ECR
- [x] setup identity in IAM with proper roles
- [x] setup service account in EKS to use identity from ☝
- [x] run some experiments to determine a design that works. Options:
   - [x] ...define an ECR secret that ro

[2022-11-24 08:44] atduarte commented on #14914
@kylos101 suggestion for image-builder-mk3:

### Possible idea

Have bob proxy (which runs in a separate network and mount namespace [[1](https://github.com/gitpod-io/gitpod/blob/bce5754a359c44784355c6a94c79eacc63649139/components/workspacekit/cmd/rings.go#L547)][[2](https://github.com/gitpod-io/gitpod/blob/bce5754a359c44784355c6a94c79eacc63649139/components/image-builder-mk3/pkg/orchestrator/orch

[2022-11-24 08:50] csweichel commented on #14264
Implementing this a special case on top of IPFS should be reasonable straight forward. The IPFS source already returns a `ReaderAt` [[1](https://github.com/gitpod-io/gitpod/blob/8d8cdbfcabca4f584c9dfc536e6f0f68b02b86f8/components/registry-facade/pkg/registry/blob.go#L407-L415)]. We use that ReadCloser with `io.CopyBuffer` [[2](https://github.com/gitpod-io/gitpod/commit/88f310a172fd6a6c2826e047261c

[2022-11-24 08:57] gtsiolis commented on #14579
Hey @gengjiawen! I don't know anyone working on this.

Could you list some steps to reproduce this?

There are a couple more similar issues like https://github.com/gitpod-io/gitpod/issues/8171.

[2022-11-24 08:58] #14759 closed

[2022-11-24 09:00] gengjiawen commented on #14579
I think it's different, since my case the button disappears. Is it possible you can sentry to browser extension to track this ?

Or add a second button like sourcegraph ?

[2022-11-24 09:00] felladrin commented on #2186
Thanks for bringing it up! The IDE team responsible for this part won't be able to prioritize it now. But it's been added to https://github.com/gitpod-io/gitpod/issues/7671 Epic, and it will be revisited later.

We love the will to contribute! Although we won't be able to give the directions for what/where to change (due to it not being planned yet), you can submit your PR, and it will be for sure

[2022-11-24 09:04] atduarte commented on #7901
**Update:**
Blocker functional issues, and significantly increased workspace startup times were found on the current technical design. 😞

After internal discussions, given backup success ratio is high and stable following adjacent improvements, and that the implementation of the new design will be considerably faster to do after https://github.com/gitpod-io/gitpod/issues/11416, we have decided to

[2022-11-24 09:05] Palanikannan1437 commented on #2186
Ohh I see, sure I'll try exploring around and see if I could come up with a PR! Thank you😄

[2022-11-24 09:10] gtsiolis commented on #14117
This is now worse as the button is never visible on folders or files after the introduction of the new file browser on GitHub[[1](https://github.blog/2022-11-15-a-better-way-to-search-navigate-and-understand-code-on-github/)].

[2022-11-24 09:10] gtsiolis commented on #14579
Can you confirm this is always the case even after page reload?

We did fix an issue with the button disappearing in https://github.com/gitpod-io/gitpod/issues/13609 but the button is still going invisible in some cases, especially after the introduction of the new browser on GitHub[[1](https://github.blog/2022-11-15-a-better-way-to-search-navigate-and-understand-code-on-github/)], https://github.

[2022-11-24 09:21] atduarte commented on #11183
I'm sorry we haven't solved this yet, @6uliver and @YoungElPaso. I just tested the repository linked above (thanks, @6uliver!) and the error continues to happen.

@kylos101 given the huge impact of this error, I will add this to breakdown

[2022-11-24 09:41] gtsiolis commented on #14579
Thanks, @gengjiawen! Seems then like a duplicate of https://github.com/gitpod-io/gitpod/issues/14117. I'll close this one but feel free to reopen of this describes a different issue.

[2022-11-24 09:41] #14579 closed

[2022-11-24 09:42] gengjiawen commented on #14579
When will new release available ? This is really annoying.

[2022-11-24 09:48] #14900 closed

[2022-11-24 09:50] gtsiolis commented on #14579
@gengjiawen Someone from the team or the community has to pick up https://github.com/gitpod-io/gitpod/issues/14117 first. It would really help if you could add there any steps to reproduce the issue mentioned here.

[2022-11-24 10:04] #14602 closed

[2022-11-24 10:07] #14159 closed

[2022-11-24 10:07] svenefftinge commented on #14159
we've decided to discontinue/roll-back the PVC work as is.

[2022-11-24 10:12] #14896 closed

[2022-11-24 10:59] pawlean commented on #14895
Hey @buggtb! I wasn't sure if this is a feature request because I don't know if this is entirely possible... Looping in @loujaybee from IDE who may be able to help shine some light on this. 💡

[2022-11-24 11:00] mrsimonemms commented on #14898
MicroK8s is not a supported Kubernetes engine. Please see [our reference architectures](https://www.gitpod.io/docs/configure/self-hosted/latest/reference-architecture) for a list of supported engines, or [my own k3s setup](https://github.com/MrSimonEmms/gitpod-k3s-guide).

[2022-11-24 11:00] #14898 closed

[2022-11-24 11:16] dword-design opened #14919 "gitpod/workspace-full image fails with "headless task failed: exit status 1""
### Bug description

`gitpod/workspace-full` fails with `headless task failed: exit status 1`. No other error message.

### Steps to reproduce

Add docker image with `FROM gitpod/workspace-full:latest`

### Workspace affected

_No response_

### Expected behavior

The workspace is opening

### Example repository

_No response_

### Anything else?

_No response_

[2022-11-24 11:20] buggtb commented on #14895
Well if it is possible I couldn't figure it out! and it'd be far more lightweight to be able to forward an X session over SSH than running a VNC session, so if we could figure out a pattern if it doesn't exist to enable X Forwarding it would make old school app development easier.

[2022-11-24 12:03] gtsiolis commented on #14811
Adding below the design specs for adding this feature in project settings, following a recent discussion with @svenefftinge.

Changes include:
1. Adding the workspace class selector under the prebuilds section.
2. Adding a section subtitle for the prebuilds section.
3. Rephrasing the subtitle in workspaces section to match the new subtitle of the prebuilds section.

| BEFORE | AFTER |
|-|-|
| ![pr

[2022-11-24 12:29] jldec commented on #8076
This came up again recently ([support link](https://app.frontapp.com/open/cnv_kca78wa) - internal)

[2022-11-24 12:33] geropl commented on #8076
@jldec Could we solve this problem by finding an alternative to GitHub Apps? E.g., if we nudge people to use Personal Tokens with the relevant scopes, and use that to write PR status updates/comments and install webhooks? :thinking:

[2022-11-24 12:57] Kwok-he-Chu opened #14923 "Detecting which URL was used to spin-up the Gitpod Environment"
## Is your feature request related to a problem? Please describe
I have multiple applications that can be spun up within the same repository.

## Describe the behaviour you'd like
I would like gitpod to run a specific application on-startup. If there are multiple applications, it should be based off where the user came from (see example below). Ideally: Gitpod is aware from which subfolder it spun

[2022-11-24 13:09] AlexTugarev commented on #8076
I'm pretty sure this is a day one situation with workspace start. The new thing about this was introduced with Projects in Gitpod. We leave a perception that the repository access is granted because it's possible to add the `GH App "Gitpod"` to the project using the New Project wizard. Unfortunately, the `GH App` and the `GH OAuth App` have a distinct accessibility models. The GH Org maintainer ne

[2022-11-24 13:12] #14219 closed

[2022-11-24 13:30] jankeromnes commented on #14814
To clarify, why shouldn't they get blocked immediately? (I.e. why is that problematic?)

My thinking is:
- Some users may have an extraordinarily heavy prebuild usage, but this isn't intentional
- When we switch to usage-based GA, they notice this heavy usage (i.e. they get blocked, see a notification, checkout their usage, see what is causing the excessive usage)
- Armed with this knowledge, thes

[2022-11-24 13:59] #14615 closed

[2022-11-24 14:16] Kwok-he-Chu commented on #14923
Thanks for the swift response @axonasif, I'll take a look!

[2022-11-24 14:16] axonasif commented on #14923
Not sure if this falls under IDE team, but put it to your inbox (IDE team). Possibly related issue:
- https://github.com/gitpod-io/gitpod/issues/8252

[2022-11-24 14:20] axonasif commented on #14895
Yo @buggtb 🤘

I haven't tried x11 forwarding yet (well because the gitpod servers are too distant for me), but vnc forwarding works (as you already know I suppose?). [some extra info [here](https://github.com/gitpod-io/workspace-images/tree/axonasif/add_docs/chunks/tool-vnc#workspace-full-vnc)]

Under which location? `/etc` or `$HOME`?

[2022-11-24 14:27] buggtb commented on #14895
Yeah I know of the VNC support, I just feel like X window forwarding is lighter weight and should require a 1 line change in the SSH config instead of an image with VNC support.

https://gitlab.com/spiculedata/custom-gitpod-full/-/blob/main/Dockerfile#L13 I tried this yesterday where I stuck in a custom ssh config and when you open the base image you can see the enabled support but when its used i

[2022-11-24 14:47] axonasif commented on #14919
Hi @dword-design, I just tried reproducing your issue at https://github.com/axonasif/test/tree/workspace-full but was unable to, could you please share the contents of your custom dockerfile?

[2022-11-24 15:05] axonasif commented on #14895
That helps! My question: Have you tried to put it as `~/.ssh/config` from your [dotfiles](https://www.gitpod.io/docs/config-dotfiles)? The user `config` file takes precedence before the system-wide config IIRC.

[2022-11-24 15:12] axonasif commented on #14878
Duplicate of https://github.com/gitpod-io/gitpod/issues/11183

[2022-11-24 15:12] #14878 closed

[2022-11-24 15:15] axonasif commented on #14859
Hi @vasucp1207, does this help?
- https://github.com/gitpod-io/gitpod/issues/14459#issuecomment-1308640577

[2022-11-24 15:15] buggtb commented on #14895
I've not but we're talking the sshd daemon here not a ssh session which traditionally at least can't be configured by a user.

[2022-11-24 15:20] Kwok-he-Chu commented on #14923
The solution above worked flawlessly, thank you for providing a clear example @axonasif Are there any future plans of including this information in (for example) an Gitpod environmental variable?

[2022-11-24 15:24] axonasif commented on #14895
@buggtb In that case, you still could do it via dotfiles to configure the daemon.

- Open your `dotfiles` repo on Gitpod
- Run: `printf '' > install.sh && chmod 755 install.sh`
- Use the following contents in it:
[code]

[2022-11-24 15:30] axonasif commented on #14923
Great to hear! That's something @loujaybee could help with I think 🙏

[2022-11-24 15:35] mrsimonemms commented on #14840
If you're under 10 users, you should have the "enterprise" features. Try restarting your server components as there's a known bug where they sometimes don't pick up the licence.

`kubectl delete pods -n gitpod -l component=server` should do the trick.

Please reopen if that doesn't solve it for you, adding any additional information you have.

[2022-11-24 15:35] #14840 closed

[2022-11-24 16:16] dword-design commented on #14919
@axonasif jup there you go:

https://github.com/dword-design/try-gitpod-error/tree/master

https://gitpod.io/#https://github.com/dword-design/try-gitpod-error/tree/master

[2022-11-24 16:18] dword-design commented on #14919
That's weird sometimes it's working and sometimes not

[2022-11-24 16:19] axonasif commented on #14833
Hi @LuigiSousa, we need more info, could you please share?

- What's your browser?
- Could you follow this?: https://www.gitpod.io/docs/help/troubleshooting#gitpod-logs-in-vs-code-browser-and-desktop

[2022-11-24 16:33] andreafalzetti opened #14931 "Epic: Improve JetBrains prebuilds"
- Follow-up on this TODO: https://github.com/gitpod-io/gitpod/blob/main/components/server/src/ide-service.ts#L45
- Fix Rider prebuilds

[2022-11-24 16:54] Pothulapati opened #14933 "[database-migrations] Run it as a precursor to application deployment"
## Is your feature request related to a problem? Please describe

Currently, WebApp changes that include database migrations are done in two separate PR's (i.e database
migration change and the webapp changes) while making sure that the database migration is deployed first
and then the webapp changes.

## Describe the behaviour you'd like

The above process includes mental overhead which is unnece

[2022-11-24 17:28] felladrin opened #14935 "[JetBrains Gateway] "Client authentication failed: Invalid redirect_uri" when trying to login in Gitpod"
### Bug description

When clicking "Connect in Browser" in Gitpod Plugin:
<img width="912" alt="image" src="https://user-images.githubusercontent.com/418083/203837184-09498743-d9ee-48ba-8ac7-030b692038f3.png">

A user will receive the following error if the port in the OAuth URL (e.g. `https://gitpod.io/api/oauth/authorize?client_id=jetbrains-gateway-gitpod-plugin&redirect_uri=http%3A%2F%2F127.0.0

[2022-11-24 19:29] #14860 closed

[2022-11-24 19:47] kasperk81 commented on #5705
still getting the same error in terminal. what is needed to make lldb work in gitlab terminal?

ran `sudo apt install lldb` then `lldb ls` (or `lldb  node` or any binary you wish to run under debugger) and then `run` in lldb's repl:
[code]

otoh, gdb just works in the same terminal: `gdb ls` and `run` in its repl.

[2022-11-24 20:15] jldec opened #14939 "[UBP] Dashboard notification of pay-as-you-go on first use of Gitpod after switch"
Users would benefit from a notification in Gitpod when they have been switched to pay-as-you-go billing.

### suggested design
- shown once after usage-based feature has been enabled
- modal or banner (tbd)
- dismissable
- not alarming (not an error)
- ideally visible on first login or in dashboard (if already logged in) or in new workspace
- only shown to existing users, not new signups
- content

[2022-11-24 20:34] jldec opened #14940 "[UBP] Disable subscriptions to old plans after UBP has been enabled"
After switching to UBP, `Plans` and `Team Plans` are no longer linked from the Settings menu if users are not on any plans, but those pages are still reachable at gitpod.io/plans and gitpod.io/teams.

Users should only be able to use those pages to Cancel existing paid plans or Downgrade to Free.

Upgrades, or buttons to create other Chargebee subscriptions (E.g. Create Team Plan) should be disabl

[2022-11-24 20:53] kasperk81 commented on #13513
yes, lldb (a 12 yo debugger) does not work from terminal in gitpod like gdb (36 yo): https://github.com/gitpod-io/gitpod/issues/5705#issuecomment-1326800023 (i tried several images from gitpod.io gallery and all of them have same result)

in any ubuntu/debian based pod: execute `sudo apt install lldb` in terminal followed by `lldb <any program>` then type `run` in lldb repl. it will greet with (wo

[2022-11-24 21:54] getBoolean commented on #14833
I am also getting this issue on iPadOS 15.1 safari

[2022-11-25 00:20] utam0k commented on #14891
Come to think of it, we do have experience with EKS. Maybe we can give ourselves some hints?
https://github.com/gitpod-io/amazonlinux-testing

[2022-11-25 00:23] utam0k commented on #14891
@aledbf In terms of the registry-facade, the API basically follows the OCI distribution spec, so there should be no need to make any changes to that part of the API, right? Shouldn't there be an impact on IPFS?
Is it correct that the part that needs to be changed is the authentication and authorization part that uses the API?

[2022-11-25 00:46] axonasif commented on #14833
Check this:
- https://github.com/gitpod-io/gitpod/issues/14459#issuecomment-1308640577

[2022-11-25 01:32] gengjiawen commented on #14579
flakiness.

It's just normal use-case, sometimes I just open a github project, the button just not there.
I think the extension lacks error report and trace too, perhaps add sentry will help here.

[2022-11-25 04:08] jgao1025 opened #14942 "A way to check/manage undeleted workspaces at /var/gitpod/workspaces on the host nodes regularly."
## Is your feature request related to a problem? Please describe

workspace sometimes won't be deleted; leaving diskspace filling so quickly.

## Describe the behaviour you'd like

In a K3S cluster, when a workspace pod get stuck in terminating for some reason, chances are that the workspace code won't be deleted. These workspace code will be left in the system permanently. There is no way to dele

[2022-11-25 07:28] jldec commented on #6673
Closing in favor of #14025

[2022-11-25 07:28] #6673 closed

[2022-11-25 08:21] geropl commented on #14791
I think the core issue is that we rely on a static rate limit per time. Because of this, we fear we will block users for too long if we tighten the limit, thus ending up with one that's very open - and not limiting enough.
I will turn this into a leaking bucket limit, which will allow us to tighten the limit considerably while still remaining responsive.

[2022-11-25 08:30] easyCZ opened #14944 "Handle PATs UI loading states"
When we're loading PATs (either List, Get, Create etc), add a loading screen transition.

[2022-11-25 08:30] easyCZ opened #14945 "Show errors when interacting with PATs"
When requests for PATs fail, show the errors to users such that they know what failed.

[2022-11-25 08:30] easyCZ opened #14946 "Add client-side validation for PATs name"
PAT names must match a regex (https://github.com/gitpod-io/gitpod/blob/main/components/public-api/gitpod/experimental/v1/tokens.proto#L23). This regex is already enforced on the backend, but we should validate client side to provide a better UX

[2022-11-25 08:30] easyCZ opened #14947 "Highlight expired PATs in ListView"
When a PAT is expired, we s hould highlight it in some form to communicate the fact it is expired.

CC @gtsiolis if you've got design ideas how to do this.

[2022-11-25 08:41] easyCZ opened #14948 "Missing validation for Prebuild Settings"
### Bug description

There is missing validation on custom prebuild settings, like `prebuildEveryNthCommit`. When it is updated, we happily accept negative numbers. We should reject such requests.

### Steps to reproduce

Set prebuild every nth commit to -10

### Workspace affected

_No response_

### Expected behavior

negative numbers, or even 0, are rejected

### Example repository

_No respons

[2022-11-25 08:51] jankeromnes opened #14949 "Deprecate and remove "Cancel Prebuilds on Outdated Commits" feature"
## Is your feature request related to a problem? Please describe

In an effort to optimize Prebuilds, we've previously introduced a Project Settings feature called "Cancel Prebuilds on Outdated Commits":

<img width="691" alt="Screenshot 2022-11-25 at 09 38 54" src="https://user-images.githubusercontent.com/599268/203937577-9b9fc98f-ec27-4572-ac58-db417ac8777a.png">

What this feature does is: Whe

[2022-11-25 08:54] easyCZ commented on #14949
Should also deprecate (not remove) it from https://github.com/gitpod-io/gitpod/blob/main/components/public-api/gitpod/experimental/v1/projects.proto#L51 used by the public api

[2022-11-25 09:03] AlexTugarev opened #14951 "[sso/oidc] Proto definitions for OIDC ProviderConfig in public-api"
part of Epic: Single sign-on (SSO) #7761

* ProviderConfig entity can be a superset of [oidc.ProviderConfig](https://github.com/coreos/go-oidc/blob/fb9e00951dc7a7d035e7664a5df116c3563afbd7/oidc/oidc.go#L137-L164) or [oidc.RelyingParty](https://github.com/zitadel/oidc/blob/356dd89ae4fad3e95ba118ec3ee51f0b42c97448/pkg/client/rp/relying_party.go#L30-L67)
* Derive useful additional attributes from exi

[2022-11-25 09:03] AlexTugarev opened #14952 "[sso/oidc] Implement OIDC ProviderConfig services"
part of Epic: Single sign-on (SSO) https://github.com/gitpod-io/gitpod/issues/7761

this depends on #14951

* First itereation of services should not be concerned about update cycles at all
* DB migration and persistens is required

[2022-11-25 09:04] AlexTugarev opened #14953 "[sso/oidc] Add new `auth` module to host OIDC client"
part of Epic: Single sign-on (SSO) https://github.com/gitpod-io/gitpod/issues/7761

[2022-11-25 09:05] AlexTugarev opened #14954 "[sso/oidc] Add `/session` endpoint to `server`"
part of Epic: Single sign-on (SSO) #7761

In an [internal discussion](https://www.notion.so/gitpod/OpenID-Connect-SSO-integration-ce0f915f1e2d4329bc2a00a2a6f9d7a7#39fd8f955e7144cbaca6e221c5be0613) we've concluded that it would be fine to add this endpoint intermediately, which would allow us to start out without adding session management to `iam` component.

* To be called by `iam` services intern

[2022-11-25 09:05] AlexTugarev opened #14955 "[sso/oidc] Implement OIDC client in `iam` component"
part of Epic: Single sign-on (SSO) #7761

* Should use OIDC Client Configs from DB
  * a simple workaround to decouple the efforts would be to read them from configmap first

* Underlying libraries, e.g. the actual protocol mechanics are the following. (that's a different view on the dependency question, as the all-in-one projects like oauth2-proxy come with drawbacks w.r.t configuration needs.)

[2022-11-25 09:07] #14277 closed

[2022-11-25 09:31] gtsiolis commented on #14947
Let's use an orange color for the expiration date to indicate that attention is required. Additionally, we could append an exclamation icon to make it more prominent, see designs below. Cc @easyCZ

| Expiring access token |
|-|
| <img width="1440" alt="Expires" src="https://user-images.githubusercontent.com/120486/203947263-f8ce4fd3-73cf-4dee-b9f2-6bab6bf84aef.png"> |

[2022-11-25 09:32] AlexTugarev commented on #14278
@gtsiolis, we would like to sync with you on this issue.

[2022-11-25 09:39] #14701 closed

[2022-11-25 09:54] mads-hartmann commented on #14439
The Leeway issue has been fixed, keeping this open version [0.6.0](https://github.com/gitpod-io/leeway/releases/tag/v0.6.0) is in use in our dev image.

[2022-11-25 10:05] laushinka commented on #14947
Nice. How about we also add text so it says "Expired on Nov 24, 2022"?

[2022-11-25 10:07] #14616 closed

[2022-11-25 10:07] #14618 closed

[2022-11-25 10:08] mads-hartmann opened #14956 "Error from server (NotFound): secrets "harvester-<preview>" not found"
Example [here](https://gitpod.slack.com/archives/C032A46PWR0/p1669362943573349) and from our feedback form [here](https://www.notion.so/gitpod/leeway-run-dev-preview-Feedback-fc9f47f7d7fa4589b900cd98a2dada7b#52d0ea95481040808542197c3e8d8a62).

When deploying gitpod it fails with

[code]

 We should detect when this happens and either handle it gracefully or at least provide an error message to the

[2022-11-25 10:14] gtsiolis commented on #14947
@laushinka I'd keep the verb out of there to avoid the duplication since we already have the column title. If we decide to redesign the table list layout or remove the list header we could duplicate this prefix to all tokens like the following:

However, it could make sense to duplicate the expiration prefix to make this information even more prominent. You're welcome to try using the prefix to se