[2021-11-18 21:42] kylos101 commented on #6792
/team workspace

[2021-11-18 21:42] kylos101 commented on #6518
/close

[2021-11-18 21:43] #6518 closed

[2021-11-18 23:02] #5946 closed

[2021-11-19 01:04] metcalfc opened #6793 "[oauth] Allow hosts on non standard ports"
GitLab happily runs on ports other than 443. Allow the hostname to use other ports.

![image](https://user-images.githubusercontent.com/31925/142521234-ad59c332-89ad-4eae-b19e-44a8b2568801.png)

[2021-11-19 01:12] gtsiolis commented on #6793
Nice catch, @metcalfc! Possibly a duplicate of https://github.com/gitpod-io/gitpod/issues/5305?

[2021-11-19 01:13] metcalfc commented on #6793
@gtsiolis Seems like it. I'll have more info tomorrow.

[2021-11-19 03:14] zpthree opened #6794 "One SSH key for the account that gets shared with each workspace on account"
## Is your feature request related to a problem? Please describe

Nothing is broke but I do see it as a problem. It's a pain to have to add an ssh key to every new workspace, add it to github, add it to production server, add it to staging server, etc.

## Describe the behaviour you'd like

It would be great if you we had one ssh key for each account that got used on each workspace on the account

[2021-11-19 06:14] abkunal commented on #6342
Please add me!
Discord username - abkunal#7658

[2021-11-19 07:47] geropl opened #6795 "Investigate DB CPU spikes"
Internal links:
 - https://gitpod.slack.com/archives/C01TNS8EVQT/p1637295459055900
 - https://gitpod.slack.com/archives/C01TNS8EVQT/p1637275179055600

[2021-11-19 08:15] akosyakov opened #6796 "shallow clone breaks git rebase, gitlens, timeline and other features"
### Bug description

At the same time Codespaces doing shallow clone as well, but don't have such issues. Some should investigate why it does not work nicely in Gitpod.

Creation log from a Codespace:
[code]

I noticed that Codespaces using git 2.33.0, but Gitpod is using 2.30.1 Maybe new git has some special handling.

### Steps to reproduce

Start a workspace on big repo and try to do rebase (PR

[2021-11-19 08:25] jankeromnes commented on #6710
Probably yes, but if both dashboard and OS preference were already dark, and the loading screen still flashed white, I suspect there could also be a different bug hidden here.

Maybe safer to wait a bit and see if this issue still reproduces now that #6747 got merged and deployed?

[2021-11-19 08:31] jankeromnes commented on #6688
Ah, indeed you're right, that's an excellent point. If we disable the `/#prebuild/` URL prefix, we essentially prevent anyone from [enabling prebuilds on Bitbucket or GitLab Self-Managed](https://www.gitpod.io/docs/prebuilds#on-bitbucket). 🤦

I guess this sort of disqualifies 2. and 3. from https://github.com/gitpod-io/gitpod/issues/6688#issuecomment-972911980, leaving only:

as a reasonable optio

[2021-11-19 08:49] svenefftinge commented on #6796
For reference [previous analysis](https://github.com/gitpod-io/gitpod/pull/6464#issuecomment-958747894) with the codespaces behavior.

[2021-11-19 08:55] Tawnygoody opened #6798 "Unable to save gitpod workspace"
### Bug description

I am unable to save any changes made in my gitpod workspace. This has been a re-occuring issue this week. I can open the workspace but as soon as i try to save any changes then the blue clock on the explorer tab appears as if its trying to load something.

### Steps to reproduce

I've cleared the cache and history in my browser and re-opened the workspace - same issue.

### Wo

[2021-11-19 09:01] jankeromnes commented on #6785
Great idea! 💯 I'd love to see frequent & automated meta deployments (and one key benefit to me is that this will guarantee truly seamless, reliable and small deployments).

A few nuances I felt like adding here:

- I don't know if it's possible to have 100% automatic rollback in case of trouble: When things go wrong, perhaps we'll always need at least _some_ manual assessment / intervention

- Als

[2021-11-19 09:02] nisarhassan12 opened #6799 "[notifications page]: make the UI indicate that the users can signup for the newsletter"
In https://github.com/gitpod-io/website/issues/1229 We decided: to link to https://gitpod.io/notifications so that the users can signup for the newsletter from there.

As stated in https://github.com/gitpod-io/website/issues/1229#issuecomment-973179404 currently the UI for the notifications page on the dashboard is not descriptive enough to indicate where to signup for the newsletter.

## Solution

[2021-11-19 09:03] ad-si opened #6800 "Add first class support for editing files remotely in Sublime Text"
## Is your feature request related to a problem? Please describe

While VSCode has come a long way, I think Sublime Text is still the better text editor and I would like to use it for editing files in Gitpod.

## Describe the behaviour you'd like

An `Open in Sublime Text` command

## Describe alternatives you've considered

Some easy way of mounting the workspace locally maybe?

## Additional con

[2021-11-19 09:31] csweichel commented on #6796
From Jan in Slack:

[2021-11-19 09:34] #6345 closed

[2021-11-19 09:40] MrSimonEmms opened #6801 "[Installer] create a workspace that can be used for installing a Gitpod instance"
This can then be used in the Installer readme with everything set up ready to go

A Gitpod workspace to create a Gitpod instance may well be peak Gitpod

![Inception](https://media.giphy.com/media/bUkXxGkGYb5bq/giphy.gif)

[2021-11-19 09:42] Tawnygoody commented on #6798
It appears that this is only a problem when trying to make changes to the TESTING.md file

[2021-11-19 09:46] geropl commented on #6785
Make sense to gather this information

Yes. To achieve that it might make sense to move some things out of the current one. Currently we're mixing top-level service indicators (e.g. API request success rate) with per-pod metrics. IMO it make sense to move those into a separate dashboard.

List of outcomes:
 - clean Meta Overview dashboard
 - clean Meta Service Pods dashboard
 - alerts, esp. for su

[2021-11-19 09:53] geropl commented on #6796
Broken usecases for me:
 - `git blame`: gitlens showing odd info, sending me towards debugging Gitlens/Gitpod and finally using GitHub for lookups
 - `git rebase`: trying to start a rebase on `main` gave weird diffs. This one would have sent me back to local VSCode.

 If I had not known about this change because of internal communication I would have not been able to fix both situations. IMO it's

[2021-11-19 10:19] #6700 closed

[2021-11-19 10:28] #6732 closed

[2021-11-19 10:35] geropl commented on #6795
internal discussion: https://gitpod.slack.com/archives/C02EN94AEPL/p1637308112001200

@AlexTugarev Found out that:
 - there has been a single, very slow query on the `d_b_prebuild_workspace_updatebale`
 - this table accumulates broken entries over time, as it does not handle all cases
 - the functionality of that table is handled in a more generic way in https://github.com/gitpod-io/gitpod/blob/ma

[2021-11-19 10:35] #6795 closed

[2021-11-19 10:46] #6653 closed

[2021-11-19 10:46] akosyakov commented on #6653
resolved by https://github.com/open-vsx/publish-extensions/pull/494

[2021-11-19 11:04] MrSimonEmms opened #6803 "Have an envvar with the IDE value"
## Is your feature request related to a problem? Please describe

Multi-user teams would like to automate tasks based on which IDE are being used for development. Depending upon which IDE in use, certain tasks will need to be differentiated.

## Describe the behaviour you'd like

Have an envvar set with an enum of the values. For example, `GITPOD_IDE` with values `VSCODE_BROWSER`, `VSCODE_EXTERNAL

[2021-11-19 11:06] loujaybee commented on #6803
Relates to: https://github.com/gitpod-io/gitpod/issues/6602

[2021-11-19 11:49] jldec commented on #6779
/unschedule
/unassign @jankeromnes

Based on discussion in https://github.com/gitpod-io/gitpod/issues/6688#issuecomment-973863958 this is not doable without providing an alternative to trigger prebuilds for Bitbucket and self-hosted users first.

Thanks @shaal for pointing out.

[2021-11-19 11:54] jankeromnes commented on #6688
Okay, @AlexTugarev identified that the infinite redirect loop is likely caused by this fix https://github.com/gitpod-io/gitpod/commit/1de8d787e14ab4ea2033cee1e4cc8add28467ad9 currently not being deployed on workspace clusters.

So, this bug will likely be resolved by the next workspace cluster deployment.

/unassign
/unschedule

[2021-11-19 12:08] jankeromnes commented on #6650
This sounds like a sensible and really good idea. 👍

Unfortunately, it does not solve the egress due to popular prebuilds getting consumed in all regions (for example, our starter templates typically have one prebuild that gets opened in many thousands of workspaces in all regions -- if a popular prebuild is stored in a single region, then all other regions will constantly transfer it multiple tim

[2021-11-19 12:24] geropl commented on #5862
IDE part got merged: https://github.com/gitpod-io/openvscode-server/pull/169#pullrequestreview-810983135
Available on "insiders" per tomorrow.

[2021-11-19 13:08] #6746 closed

[2021-11-19 14:01] corneliusludmann opened #6804 "[jetbrains] Fix update image GitHub action"
Automatically creating a PR for a JetBrains image update does not work. I guess it's a permission issue.

https://github.com/gitpod-io/gitpod/runs/4263291122

To test this action I used the `push` event to trigger it. Perhaps it uses other credentials when used as a corn job.

[2021-11-19 14:06] shaal commented on #5862
@geropl Thank you! cannot wait to test it out!

[2021-11-19 14:15] shaal commented on #6688
Thank you @jankeromnes
Unrelated to this topic specifically, more general Gitpod question - are there tests written for each feature in Gitpod? If yes, I would assume test would break showing that a code change made another functionality stop working. If no, is there a reason or a plan of when tests will be implemented?

[2021-11-19 14:17] geropl opened #6805 "[db] Missing index on projectId / creationTime"
Slow log: https://console.cloud.google.com/logs/query;cursorTimestamp=2021-11-19T13:33:32.157296Z;query=logName%3D%22projects%2Fgitpod-191109%2Flogs%2Fcloudsql.googleapis.com%252Fmysql-slow.log%22%0Atimestamp%3D%222021-11-19T13:33:32.157296Z%22%0AinsertId%3D%222%23583386024174%23979887871142546947%23slow%231637328812157296000%2300000000000fdb74-0-0@a1%22?project=gitpod-191109

Query:
[code]

[2021-11-19 14:24] kylos101 opened #6806 "[core-dev] - Prepare environment for Installer"
- [ ] Validate we have core-dev backups for the core-dev cluster...just in case applying Installer yaml destroys state we need for it to function
- [ ] [Add Installer affinity labels to nodes](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/cluster/affinity.go#L9-L13) (Terraform code change)

<strike>
- [ ] Create two namespaces to be used for manual testing of the installer
- [ ] Crea

[2021-11-19 14:29] geropl opened #6807 "[db] Maintenance: missing indexes"
Recent DB CPU spikes turned up more missing indexes:

- [x] https://console.cloud.google.com/logs/query;cursorTimestamp=2021-11-19T13:55:35.697582Z;query=logName%3D%22projects%2Fgitpod-191109%2Flogs%2Fcloudsql.googleapis.com%252Fmysql-slow.log%22%0Atimestamp%3D%222021-11-19T13:47:29.620270Z%22%0AinsertId%3D%222%23583386024174%23979887871142546947%23slow%231637329649620270000%230000000000102e5a-0-0

[2021-11-19 14:31] kylos101 opened #6808 "[Werft] - Update build to support Installer"
Dev
- [x] Update werft CI to use cached Installer (thanks @csweichel! [kick started here](https://github.com/gitpod-io/gitpod/tree/cw/werft-demo))
- [x] Update werft CI to use Installer binary to init config
- [x] Update typical config values and render K8s yaml
- [x] Post process K8s yaml for expected changes (node pool assignments, host port)
- [x] Post process K8s yaml for unexpected changes in

[2021-11-19 14:32] jankeromnes commented on #6688
I like this question 😁 we do have some tests (e.g. unit tests for some things like DB entities & persistence), but this bug highlights an area were we still should improve. I know of some integration tests we've built (but they are not reliable enough, so we typically ignore them, which makes the problem worse 🙈) and I've heard about plans to have interactive UI tests in the IDE, but all-in-all, I

[2021-11-19 14:34] corneliusludmann commented on #6804
I just see that the IntelliJ part of the action worked (see https://github.com/gitpod-io/gitpod/pull/6802), only the GoLand part failed. Maybe just a hick-up? :thinking:

[2021-11-19 14:37] svenefftinge commented on #6796
We could consider building a vs code extension that detects shallow cloning and provides UI (e.g. notification) to tell users about it and an action to inflate the shallow clone.

[2021-11-19 15:05] gsharma-jiggzy commented on #5409
@pawlean can you make a channel in discord?

[2021-11-19 15:07] j143 commented on #4060
I have lost my `git stash` data. I would be good to have this feature.

[2021-11-19 15:13] SergioVzqz commented on #628
To those who were a little lost, like me, the solution is, in your react app root folder create a file with the name `.env.development.local` then add the `DANGEROUSLY_DISABLE_HOST_CHECK=true` in that file.

[2021-11-19 15:30] MrSimonEmms opened #6810 "[Installer]: report on container registry problems"
This is to be used as a notepad for an issue. Please ignore

- this worked with all clouds/container registries before #6681 was merged - why is GCP external not working in Self-Hosted when working for SaaS?
- FQDN workspaces use https://github.com/csweichel/test-repo/tree/1c287d4c5ef15f97e12b8316191c22cf47b8c1d3
- non-FQDN workspaces use any GP example
- also check https://github.com/csweichel/te

[2021-11-19 15:45] pawlean commented on #5409
Hey folks! Let's [get this started](https://discord.com/channels/816244985187008514/911280850132410418) 🚀

[2021-11-19 16:57] JanKoehnlein commented on #6531
/assign

[2021-11-19 17:19] csweichel commented on #6573
As Jenting pointed out, this is the right way to go: https://kubernetes.io/docs/concepts/workloads/controllers/job/#ttl-mechanism-for-finished-jobs

[2021-11-19 20:08] #4809 closed

[2021-11-19 20:08] metcalfc commented on #6789
Gitlab has a nice example to follow.

https://docs.gitlab.com/charts/installation/storage.html#using-the-custom-storage-class

[2021-11-19 20:19] metcalfc commented on #6766
Its possible that the rate of installers is going to be frustrating without an auto update function. Should we consider imagining more of a stream than point releases?

[code]

[2021-11-19 22:54] marriaymalik opened #6814 "Trackpad scrolling not working on iPad"
### Bug description

Currently using Gitpod on a iPad Pro (M1), with the magic keyboard that comes with a trackpad. I’ve found that I can’t use the trackpad to scroll through the files, and the only means of scrolling is by using the scroll bar on the side or by using the touch screen.

### Steps to reproduce

- Open a repo in Gitpod
- Using the magic keyboard trackpad, try and scroll down

### Wo

[2021-11-20 03:31] mahmoudajawad commented on #6692
@akosyakov, Just a last thought, can the SSH functionality be built-in in Gitpod extension, then make Gitpod extension available to Codium?

[2021-11-20 05:43] shaal opened #6815 "Avoid prebuilds for some commits"
## Is your feature request related to a problem? Please describe

Prebuild is triggered for ANY file that gets updated, for an example - update `README.md` and no one can use the repo until the prebuild process is done, even that it doesn't make sense to run prebuild for such change.

## Describe the behaviour you'd like

* Add a setting `auto` in `.gitpod.yml` to enable (current default) or disab

[2021-11-20 06:11] akosyakov commented on #6692
If VS Codium makes [remote API](https://github.com/microsoft/vscode/issues/128820#issuecomment-881289127) stable and provide a way to provision VS Code server compatible with a version of VS Coduim then yes.

[2021-11-20 06:48] #4831 closed

[2021-11-20 21:02] Davidffry commented on #576
I agree with you, I would like to have a cli-tools or an API endpoint outside the gitpod var.
I would automating update the envs vars for exemple.

[2021-11-20 22:26] jldec commented on #5980
Scope of effort is comparable with GitLab - see PR  https://github.com/gitpod-io/gitpod/pull/5120
fyi - Bitbucket has introduced groups ==> even more like GitLab

[2021-11-20 23:49] andreafalzetti commented on #4456
Can't wait to have this as well 👀 Trying to install private NPM packages during a prebuild.

[2021-11-21 03:14] omenking opened #6818 "Gitpod Pallete Command to Terminate and Launch a New Workspace for faster .gitpod.yml interation"
## Is your feature request related to a problem? Please describe

When you are iterating on a .gitpod.yml file you need to terminate and launch a new workspace.
The flow from terminating and launching the new workspace is clunky.
![image](https://user-images.githubusercontent.com/7776/142748009-02e9fb20-ee2b-4a69-9ef3-7cc4224a0a3b.png)

## Describe the behaviour you'd like

It would be really nice

[2021-11-21 03:44] muthuishere commented on #6342
+1 sign me up

[2021-11-21 07:20] mahmoudajawad commented on #6778
This issue does exactly occur to me now randomly. I'm working around this by stopping the workspace and starting it again.

[2021-11-21 08:46] tankefugl opened #6819 "Unable to start a workspace in VS Code locally on a chromebook"
### Bug description

I attempted to replicate my workflow from my Windows development machine to a Chromebook with Linux and VS Code installed. Opening VS Code locally fails with an error message on all workspaces.

### Steps to reproduce

1. Start any Workspace
2. When the workspace has been opened in the browser, run the command `Gitpod: Open in VS Code`
3. Observe that VS Code starts locally an

[2021-11-21 10:08] filiptronicek commented on #6494
Tried running the local app on Windows 11 [22494.1000] and the server seems to be listening on ports ~51900
![image](https://user-images.githubusercontent.com/29888641/142757585-62765eca-9ddc-42b4-8ccc-d26d9ef35f9f.png)

Looks like this port range is set in the local app's source though:
https://github.com/gitpod-io/gitpod/blob/a30a1bff483b02df67e01791b44dfb5bf025d344/components/local-app/main.go#

[2021-11-21 11:41] tankefugl commented on #6819
tankefugl@penguin:~$ uname -a
Linux penguin 5.4.139-16311-g330b3df0010b #1 SMP PREEMPT Tue Oct 26 20:44:34 PDT 2021 x86_64 GNU/Linux

[2021-11-21 12:05] MrSimonEmms commented on #6766
@metcalfc possibly. We consciously decided against that so we could bake in the image tags into the binary so we could make the release management "here's the binary - install Gitpod and we guarantee it'll work". The other advantage of that is that we can lock down the config API versions.

I guess there's the possibility that it was the wrong decision, but it was actually a thought-out decision r

[2021-11-21 13:03] MrSimonEmms opened #6820 "[Installer]: internal certificate validation"
One of the biggest changes between the old Helm charts and the new Installer is how the internal certificates are generated. Helm used it's internal CA/Cert generation functions to generate a one-time certificate which had no automated renewal process. The Installer user Cert Manager to create an internal CA and allows certs to be generated from that.

- [x] check that Cert Manager actually is abl

[2021-11-21 13:11] MrSimonEmms commented on #6820
Thanks to @aledbf for suggesting this approach

[2021-11-21 13:30] MrSimonEmms commented on #6573
Predictably, it appears that `TTLAfterFinished` alpha features are not enabled in Azure. Whilst it's the right way to go long term, we need to have something that is able to work if the alpha feature is not enabled, regardless of cloud

[2021-11-21 17:01] aledbf opened #6823 "Enable use of internal SSL self-signed certificates to pull images"
/team workspace
/assign
/schedule

[2021-11-21 17:02] aledbf commented on #6823
/schedule

[2021-11-21 20:05] Seenox commented on #5690
On the verge of [changes](https://www.docker.com/blog/updating-product-subscriptions/) in Docker Desktop subscription model, a lot of companies are currently actively looking for a good, solid and even better replacement for their developers. I believe this a great time for GitPod to offer unlimited users in free tier with limited functionalities and by doing that, they will of course win a lot of

[2021-11-21 20:24] behrica commented on #2419
I made an Gitpod configuraton for Emacs in novnc here:
https://github.com/behrica/my-gitpod-template

[2021-11-21 20:37] jldec commented on #5095
@acrefoot I would suggest checking that you have the GitHub App for gitpod.io configured with access to your org and repositories. You can do this by visiting https://github.com/apps/gitpod-io/installations/new

This link is also shown below the list of repos at gitpod.io/new where it says `Repository not found? Reconfigure`.

[2021-11-21 20:38] behrica commented on #2419
I am perfectly fine, with the fact that in my configuration VsCode is started "as well".
So I don't see it super important to "replace VsCode".

I am wondering if Gitpod should gain some form of customisation options,
so that some "part" of the final Dockerfile (see line 21 onwards)  which "I want" (and not the project)
can be customise by me.
So that the project Dockerfile (which would be part of

[2021-11-21 20:55] behrica commented on #2419
Maybe this could be done rather simple:
- Before building an image, Gitpod is looking in the repo for a *user specific Dockerfile*. This could be a file following a convention , linked to my gitpod user name / email:  `.gitpod_Carsten Behring_.dockerfile`
- This user specific Dockerfile get appended as is to the dockerfile specified in: gitpod.yml/image/dockerfile
- Image gets build from combined

[2021-11-21 21:57] jldec opened #6826 "Customize the Login page for unauthenticated users arriving from an "Open in Gitpod" context"
This only applies to the login/signup page presented to unauthenticated users, landing at gitpod.io with a #-prefixed git repo context. Using the repo context we should present those users with a simpler, less-generic Login page to improve the conversion rate for new signups arriving from this source.

- Remove the welcome section on the left
- Show the Gitpod logo and name
- Change "Log in" to "L

[2021-11-22 01:10] jgallucci32 commented on #5690
The PR https://github.com/gitpod-io/website/pull/1218 will clarify the Open Source "Community Edition" which is unlimited users and no enterprise features and the "Free Tier" which has enterprise features and limited to 10 users. Once the PR is updated this ticket should be able to be closed as there are two separate editions. Asking for unlimited users AND enterprise features for Free isn't somet

[2021-11-22 01:14] #5181 closed

[2021-11-22 01:22] jean commented on #5206
Ugh stale bot

[2021-11-22 01:58] kylos101 commented on #6806
@ArthurSens I updated this issue to simplify.

Given the head start Chris gave us with the automation on Friday, I think it would be best if we proceeded with these two tasks.

What do you think?

[2021-11-22 02:00] kylos101 commented on #6806
/team Workspace

[2021-11-22 02:00] kylos101 commented on #6806
/schedule

[2021-11-22 02:03] kylos101 commented on #6808
/team workspace

[2021-11-22 02:03] kylos101 commented on #6808
/schedule

[2021-11-22 02:05] kylos101 commented on #6806
@ArthurSens can you start a draft PR for the Terraform changes?

I'll start a draft PR for the werft job changes in #6808

[2021-11-22 02:34] kylos101 commented on #6808
/status in-progress

[2021-11-22 07:31] svenefftinge commented on #6826
💯 Three small suggestions:
1) Can we remove the "Log in / Sign up" headline? I don't think it adds any value, as the main action is to "Continue" and it tones down the "what" (i.e. "Open a cloud based development environment for ..."
2) The repo URL should be shortened to the usual `group/name` pattern.
3) Let's keep the "Continue with GitHub" resp. "Continue with GitLab" buttons, as they not only

[2021-11-22 07:39] akosyakov commented on #6706
I don't think it is feasible and worth doing conceptually. We will need to customize each editor to respect settings from .gitpod.yml which is rather hard task in first place and will require maintenance. I would prefer clean separation of concerns:
- .gitpoy.yml for workspace specific configurations, tasks, ports, and so on
- editor specific configurations via settings files of corresponding edit

[2021-11-22 07:56] akosyakov commented on #6800
I think for such editors we should open up Gitpod for external contributions, similar to https://github.com/gitpod-io/gitpod/issues/2419.  It is certainly possible already, but very far from current focus.

For now you can do following:
- install the local companion to enable SSH: https://www.gitpod.io/blog/local-app
- use sftp to mount Gitpod workspace into your filesystem
- use Sublime

As far a

[2021-11-22 08:26] akosyakov commented on #6761
This one is expected if you don't have the local companion running.

[2021-11-22 08:27] akosyakov commented on #6761
I could not reproduce it:
<img width="1904" alt="Screenshot 2021-11-22 at 09 27 07" src="https://user-images.githubusercontent.com/3082655/142827726-3a8cfbb5-1184-4c10-9f74-e25e042810b3.png">

[2021-11-22 08:39] #6573 closed

[2021-11-22 08:40] #6665 closed

[2021-11-22 08:44] MrSimonEmms opened #6828 "[Installer]: establish minimum K8s version and set validation check"

[2021-11-22 09:03] MrSimonEmms commented on #6573
This does work in Azure 1.21 as @aledbf said 🎆

[2021-11-22 09:19] csweichel commented on #6828
/team workspace

[2021-11-22 09:19] csweichel commented on #6828
/schedule

[2021-11-22 09:19] roboquat commented on #6828
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6828#issuecomment-975315440):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-22 09:21] loujaybee commented on #6769
Thanks for raising / ensuring the feedback here got actioned @corneliusludmann 🙏

Given this seems like a minor UI tweak, let's add it to the groundwork. I do agree that the fundamental fix will come as part of #6602, but I'd be happy to make some temporary usability improvements in the short term 🙏  Since I think some overall UX revisions should be made here I'm not overly opinionated here on A v

[2021-11-22 09:24] csweichel commented on #6828
Checking a lower bound for the minor version should be fine (e.g. `>= 1.21`).
Introducing a constraint for the patch version would indeed be too unreliable (e.g. `>= 1.21.6` is too much).

Are we sure that the version we'll be looking at here always follows semver? I could certainly imagine some folks getting creative in their versioning here :)

[2021-11-22 09:34] #6680 closed

[2021-11-22 09:37] #6531 closed

[2021-11-22 09:38] MrSimonEmms commented on #6828
Very good question. As this is the Kubernetes version, I'd expect that it would follow semver although it may add a patch version (eg, 1.21.2-some-fancy-name) which would make Golang think it was a prerelease version - as with the Linux kernel check, so long as we put `>= 1.21.0-0`, it'll get around that.

As with all these checks, in reality they're warnings. A user is still able to install Gitpo

[2021-11-22 09:42] laushinka commented on #6785
After discussion with @geropl, the tasks for this issue:

- [ ] Create an issue to create an alert for workspace failure rates, assigned to the Workspace team.

- Changes to the overview:
- [ ] Create sections in our Grafana overview e.g. general and external (workspace)
- [ ] Create a Grafana panel under the external dashboard for the workspace failure rate.
- [] Edit websocket by clientType
- []

[2021-11-22 10:04] loujaybee commented on #6466
Great job on the write-up here @gtsiolis !

Came here to note that also from a priority / value point of view that having better contribution paths is a benefit to a lot of companies looking to assess and adopt Gitpod.

See: [Internal Discussion](https://gitpod.slack.com/archives/C01KLC56NP7/p1637257998137900)

[2021-11-22 10:33] akosyakov commented on #6494
It says that supervisor from some workspace is forwarded on 51894.

[2021-11-22 10:35] akosyakov commented on #6778
Just to clarify: it happens only when you run docker in Gitpod?

[2021-11-22 10:39] MrSimonEmms opened #6829 "[Installer]: update RabbitMQ Helm chart when PodDisruptionBudget update applied"
We're using `8.16.0` of the Bitnami RabbitMQ chart. This gives this warning:

[code]

A [PR](https://github.com/bitnami/charts/pull/8018) has been created to apply the suggestion in the warning. When this is merged and released, we should upgrade our RabbitMQ version to apply this change

[2021-11-22 11:00] konne commented on #6778
@akosyakov for me, we run everything inside docker, so I can confirm that it happened with something that runs inside docker, but no other assumptions around that

[2021-11-22 11:53] csweichel commented on #6810
Generalising: the issue seems to arise when we want to pull a base image from docker hub. The question then becomes: why does it work when testing in a workspace, or more broadly, why does it work at all?

[2021-11-22 12:00] csweichel opened #6832 "Changes in workspace-full don't show up in prod"
### Bug description

When making a change in workspace-full, e.g. the recent addition of tailscale, they don't show up in production.

### Steps to reproduce

Change workspace-full or workspace-base and expect the change to show up in the default image.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No respo

[2021-11-22 12:05] geropl commented on #6805
Moved into: #6807

[2021-11-22 12:05] #6805 closed

[2021-11-22 12:16] geropl opened #6833 "[db] High DB CPU load due to Team Subscriptions (it seems)"
We have a near-perfect correlation between alerts firing ([internal link](https://gitpod.pagerduty.com/incidents/Q24UOVGN0Q7YCL?utm_source=slack&utm_campaign=channel)) and [TS methods calls](https://grafana.gitpod.io/d/server/gitpod-component-server?orgId=1&refresh=30s&from=1637572530619&to=1637583330619&viewPanel=62) (US).

[2021-11-22 12:21] TSGeek commented on #6342
Hi there, i would be happy to try the beta. (discord tag : TheSuperGeek#7885)

[2021-11-22 12:25] jldec commented on #6826
Thanks @svenefftinge - good suggestions - How about this (see screenshot below)?

- We could make the user/repo name link back to github
- We could also shorten `for the repository <user/repo>` to just `for <user/repo>`

![Screenshot 2021-11-22 at 12 23 22](https://user-images.githubusercontent.com/849592/142861310-c32ae967-93ed-4055-995e-d03ff7ffd21e.png)

[2021-11-22 12:44] geropl commented on #6833
Fix might be as easy as to fix https://github.com/gitpod-io/gitpod/issues/6807

[2021-11-22 13:00] geropl commented on #6818
In my mind I was calling this "Gitpod: Open New Workspace on Same Context" :+1:

[2021-11-22 13:27] akosyakov commented on #6814
Could you file an issue in upstream please: https://github.com/microsoft/vscode

[2021-11-22 13:27] #6814 closed

[2021-11-22 13:30] akosyakov commented on #6798
Could you share the repo please?

[2021-11-22 13:47] MrSimonEmms commented on #6810
@csweichel I wonder if this is the key. I've added loads of additional (insecure) logs in a branch (not to be merged) and found something interesting....

I've checked the response from [repo.Auth.Authorize](https://github.com/gitpod-io/gitpod/blob/d39edb2a450c436ee058bea9cbbc19226a73743d/components/image-builder-bob/pkg/proxy/proxy.go#L173).

In GCP, it *ALWAYS* returns back without an error (eve

[2021-11-22 14:42] MrSimonEmms commented on #6810
It appears that in Azure, the `www-authenticate` value that comes back from the initial call to `https://registry-1.docker.io/v2/gitpod/workspace-mongodb/manifests/latest` is to `auth.ipv6.docker.com` rather than `auth.docker.com`.

And I've no idea why

[2021-11-22 14:51] jeanp413 commented on #6796
@akosyakov yes I'll work on this today

[2021-11-22 15:02] JanKoehnlein commented on #6421
Moving this to backlog

[2021-11-22 15:18] svenefftinge commented on #6818
I'd love to make this a gp CLI command, which takes the current `.gitpod.yml` (and dockerfile) and starts a fresh workspace with an explicit prebuild stage. The CLI would output the build logs (docker build, prebuild, tasks) to standard out and at the end (ready state) print a link so one can optionally go open the IDE. The workspace stops when I terminate the process.

We can then have IDE comman

[2021-11-22 16:33] corneliusludmann commented on #6787
/assign

[2021-11-22 16:37] kylos101 commented on #6808
@csweichel @MrSimonEmms there are many properties in [values.dev.yaml](https://github.com/gitpod-io/gitpod/blob/main/.werft/values.dev.yaml), which we don't generally specify with out of the box configuration (at least I did not when testing in GCP playground).

I am going to start merging them

[2021-11-22 17:01] GitMensch commented on #6653
What about Gitlab or otherwise hosted extensions?

[2021-11-22 17:10] MrSimonEmms opened #6839 "Bulk delete workspaces"
## Is your feature request related to a problem? Please describe

Sometimes I want to clear up old workspaces, especially when I have a lot. It's rather frustrating that the delete process is three clicks (select workspace -> delete -> confirm) which makes deleting more than 2-3 a very tedious experience.

## Describe the behaviour you'd like

Have a bulk delete button with a select box next to th

[2021-11-22 17:22] kylos101 commented on #6808
As next steps I'm going to:
1. Test to see if a component's yaml (like `agent-smith`) impacts the rendering process
2. Check to see if we have [configuration](https://github.com/gitpod-io/gitpod/blob/sje/installer-readme/installer/pkg/config/v1/config.go) in the Installer that cover top level settings such as [these resource ones](https://github.com/gitpod-io/gitpod/blob/main/.werft/values.dev.yam

[2021-11-22 17:25] filiptronicek commented on #6653
@GitMensch we are currently looking into that, please see https://github.com/open-vsx/publish-extensions/issues/503.

[2021-11-22 17:29] jankeromnes commented on #6600
What about using a suffix to guarantee that new Project slugs are always unique within the Team?

E.g. in [your example](https://github.com/gitpod-io/gitpod/issues/6600#issue-1046951702):
- `github.com/jldec/website` could have been created first, with the slug `website`
- `github.com/fmctraining/website` could have been created later, with a slug like `website-1`
- (then, if you try to add anothe

[2021-11-22 17:32] jankeromnes commented on #6600
Alternatively, we could also use input field validation to enforce uniqueness, and allow users to edit the slug until it is unique, like when creating new GitHub repositories:

<img width="536" alt="Screenshot 2021-11-22 at 18 30 48" src="https://user-images.githubusercontent.com/599268/142908002-09b6af50-d06c-4326-9023-135e7784e0b4.png">

[2021-11-22 17:42] kylos101 commented on #6806
/team platform

[2021-11-22 17:42] roboquat commented on #6806
@kylos101: The label(s) `team: platform` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6806#issuecomment-975767856):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or s

[2021-11-22 18:00] kylos101 commented on #6808
Adding YAML for our agent-smith component from install.dev.yaml to our Installer config does not impact the rendering process.

[The configuration available to us is in this struct.](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/config/v1/config.go#L61-L86) There are many options which are overridden in core-dev.

### For discussion

I think our options are:
* Update the installer to

[2021-11-22 18:02] behrica commented on #2419
I thought further about it,
and it is true that Gitpod supports what I want already today via "tasks".

A start task (which can be any script) could somehow install all needed, and allow emacs start on "single command".
The "personalisation" of that could maybe be done, once dotfile support is there.

Nevertheless I am not 100 % happy about this.

The reason is that the choice of IDE is very perso

[2021-11-22 18:08] behrica commented on #5198
What's about "different dot files" per project ?
Maybe I want a different emacs config per project.

So far, I have one, on my computer. (for all projects)

But maybe dev-containers will bring me to "several emacs configurations, **different per project**.

This might happen, as my current, single, Emacs configuration need to support all languages I work with (and email and an and  Emacs = OS).

I

[2021-11-22 18:13] yyoncho commented on #2419
@behrica FYI there is https://github.com/emacs-lsp/lsp-gitpod

[2021-11-22 18:19] kylos101 commented on #6808
@MrSimonEmms what do you think Re: [this comment](https://github.com/gitpod-io/gitpod/issues/6808#issuecomment-975781444)?

[2021-11-22 18:21] mfouesneau commented on #4805
yes please

[2021-11-22 18:48] loujaybee opened #6840 "`/#get-started` redirects to `/new` instead of dashboard for authenticated users"
### Bug description

Going to `/#get-started` redirects to `/new` instead of the dashboard for authenticated users.

This can be [viewed in this usability study (internal link)](https://www.notion.so/gitpod/Vinny-Ruia-f687beea5c79434aa3c3bbc66dc16f9a) @ 31:48

### Steps to reproduce

* Login to Gitpod
* Go to: https://www.gitpod.io/#get-started
* Click "continue with GitHub"
* Redirects to: https:

[2021-11-22 20:18] zpthree opened #6841 "Return to Dashboard link on the Your Workspace is Ready screen"
## Is your feature request related to a problem? Please describe

No
## Describe the behaviour you'd like

It would be nice to have a "Return to Dashboard" button on the "Your Workspace is Ready!" screen.

<img width="727" alt="image" src="https://user-images.githubusercontent.com/28521478/142929197-e1906332-c6bc-4157-9301-bafe2b05f0a8.png">

## Describe alternatives you've considered

## Addition

[2021-11-22 20:33] jldec commented on #6600
Excellent ideas - I like them both.

Let's move forward the automatic addition of -2, -3, ... for the 2nd, 3rd slug etc. if it isn't too much extra work to implement. That's much better than simply blocking the process as proposed earlier.

I don't think we have a good place in the /new UI to prompt for the slug name - but the proposed owner + name + validation input UI would great for a separate

[2021-11-22 20:33] Davidffry commented on #1699
And not for the self-hosted environment ?

Thanks ;-)

[2021-11-22 20:42] loujaybee commented on #6706
I think some of these comments also apply to: https://github.com/gitpod-io/gitpod/issues/6602

[2021-11-22 20:50] abngal commented on #6761
I'm trying to run a websocket server inside gitpod and what I'm getting the same SSL error.
Used wscat inside gitpod terminal: `npm i -g wscat`

External ws server looks ok

< Request served by 125363a3

[2021-11-22 20:55] behrica commented on #2419
@yyoncho Very interesting.
In my approach above everything hardcoded, but I load "my" doom config from github.

I still see the issue, that a "project setup" vs "IDE setup" would somehow require 2 dockerfiles.

And one of this is
"fixed and project specific"

while the other is
"user specific, and more then one needed per user, eventually slightly different per project".

Maybe the user specific p

[2021-11-22 21:02] behrica commented on #2419
If a user X works on 3 project

Project A
Project B
Project C

he should in my view be able to says any of:

1. I want to use the "same" Emacs setup in A,B,C.
   (same means pointing to one place wit a common setup)
   -> changing it + rebuild images applies the changes in A+B+C

2. I want to use "three different" Emacs setup for A,B,C
 -> so independent Emacs setup for A,B,C

3. Anything between.

[2021-11-22 21:05] yyoncho commented on #2419
@behrica this is what lsp-gitpod does - it has the config in lsp-gitpod and then you can open whatever project you want using that config. Similarly, you can fork lsp-gitpod project, change the docker image and use that repo as a root. Of course, it will be better and more convenient if you can configure the docker image to run via env/url variable.

[2021-11-22 21:14] behrica commented on #2419
Yes, but the "project maintainer" needed to worry about this different Emacs setups.

In my view, a project contributor should be able to "swap IDE", independent from tee `gitpod.*` files of the project.
So he should be able to "add" to it in some form.

As a project maintainer I want to support a single IDE only, maybe for convenience always the default VSCode only.

[2021-11-22 21:17] yyoncho commented on #2419
Again, this is what `lsp-gitpod` does. The project's `.gitpod` files are irrelevant - it is using `lsp-gitpod`'s `.gitpod` files.

[2021-11-22 21:20] behrica commented on #2419
I am the maintainer of `https://github.com/scicloj/sklearn-clj` as example. This needs Clojure + Python.
As a maintainer I want to worry about ONE setup which has both working.
So for "easiness" I would decide to just support Gitpod, with a very simple Dockerfile + calva extension.

If now one of my contributors want to use Emacs, it's his problem.
But it would be "nice, if that user could re-use

[2021-11-22 21:31] behrica commented on #2419
Maybe your example "https://github.com/emacs-lsp/lsp-gitpod" is not the best for our discussion,
as it is about an Emacs plugin.

I talk about projects, which can be developed either using Emacs or VsCode, for example Clojure projects.
or python projects.

I (as maintainer) would like to :
- specify one IDE setup in the code repository
- leave contributors the freedom to  swap the IDE while still

[2021-11-22 21:43] behrica commented on #2419
Current Gitpod does not allow do do this, im my view.
I am not sure what exactly is missing, but it is about lack of "user/project specific customisation options".

Or maybe options to "modularize" the Dockerfile, into a projects specific and a user specific part.

[2021-11-22 21:48] jeanp413 commented on #6796
@akosyakov @svenefftinge I took a look at codespaces logs (you can run `Codespaces: export logs`) and in the `StartEnvironment.log` you can see they just run `git fetch --unshallow` in the background. It takes some time to do the unshallow so if you run `git log` as soon as the ide shows up you'll just see the last commit.

So, should we fixed this in the gitpod supervisor side or ide extension si

[2021-11-22 21:48] behrica commented on #2419
VsCode does not allow this neither, so there I cannot look neither for the feature I would  like to see.

[2021-11-22 21:58] behrica commented on #2419
An other "interesting use case" would be to be able to "reuse" the .gitpod and .gitpod.Dockerfile without using GitPod at all.
(This should not be discussed here, as we are in "discussions of GitPod features).

Maybe some contributors of my project above, don't want to use  Cloud Editors at all. It would be nice, if they could use the gitpod files to setup something local (build the image, runs st

[2021-11-22 22:33] kasperk81 commented on #1251
@JesterOrNot, I just tested on gitpod.io with:

[code]
errors out:

Error while connecting to libvirt: Error making a connection to libvirt URI qemu:///system?no_verify=1&keyfile=/home/gitpod/.ssh/id_rsa:
Call to virConnectOpen failed: Failed to connect socket to '/var/run/libvirt/libvirt-sock': No such file or directory

see https://community.gitpod.io/t/cant-find-featurepreview-option-in-gitpod-

[2021-11-22 23:46] CalebDelbridge commented on #6342
I would like access (Jax#6986)

[2021-11-23 02:35] kylos101 commented on #6808
@MrSimonEmms I am all set, please ignore, I spoke with @csweichel, and will create some follow-up issues (some for the Installer to set new affinity values, and others to remove deprecated settings from server).

[2021-11-23 02:51] kylos101 opened #6842 "[Installer] Set affinity for all workloads"
## Is your feature request related to a problem? Please describe

Set affinity for all workloads in Installer

## Describe the behaviour you'd like
Below you will find a list of pods.

Each is grouped into a section where those pods types should have a common affinity.

Currently, I think the Installer sets affinity for agent-smith, registry-facade, and ws-daemon.

This list was built with @csweic

[2021-11-23 02:51] kylos101 commented on #6842
/team workspace

[2021-11-23 07:47] jldec commented on #5785
/schedule

As discussed with @AlexTugarev I would like to include this issue as a candidate for this week's push toward simplifying and improving the usabilty of the conifiguration page.

[2021-11-23 07:47] roboquat commented on #5785
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5785#issuecomment-976230318):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-23 08:03] jakobhero commented on #6826
Great suggestions! In order to attribute events to their respective groups in A/B testing, it would be sufficient to pass a property for those users that are shown the new change, e.g. `test_group: 'A'`. The events itself should be captured in the same way as they currently are, i.e. `page` call for a first time visitor, `path_changed` call for a visitor who has been redirected from the dashboard

[2021-11-23 08:10] #6787 closed

[2021-11-23 08:15] svenefftinge commented on #6796
Yes, it should only happen on workspace starts not on prebuilds.

[2021-11-23 08:19] akosyakov commented on #6841
@gtsiolis @loujaybee @corneliusludmann I think something like that was discussed somewhere, like having stop workspace button?

[2021-11-23 08:24] akosyakov commented on #4805
@mfouesneau I think it is better if you open a new issue by now and explain what you are trying to achieve in which project and what does not work. This issue is quite old.

[2021-11-23 08:28] svenefftinge commented on #6826
Do we need to roll this out in A/B mode? FWIW I'm super confident it is an improvement over the current situation.

[2021-11-23 08:32] akosyakov commented on #6761
Could you provide exact steps please? 🙏

[2021-11-23 08:32] JanKoehnlein commented on #4890
This issue has been set to scheduled by our automation because the label "meta:stale" was added. Unscheduling

[2021-11-23 08:33] mfouesneau opened #6843 "c++ debugging minimal project configuration"
### Bug description

I've been spending a lot of time trying to understand how gitpod differs from local vscode configuration. No success. I've found many issues on the topic and could not identify a solution.

I have a simple hello-world code with CMake and I've trying to setup the workspace such that I can also use the debugging features. No success.

gitpod.yml
[code]

launch.json
[code]
task.j

[2021-11-23 09:02] akosyakov commented on #6843
@WebFreak001 sorry for direct message, but could you help to understand why it can be impossible to add breakpoint to cpp file? It seems that your extensions enables them for cpp language. You can try in gitpod with: gitpod.io#https://github.com/mfouesneau/blackbodystars

[2021-11-23 09:05] mfouesneau commented on #6843
I can add them but when running they are not used/detected.

It might be related to the compilation without the debug build type
[code]

[2021-11-23 09:07] corneliusludmann commented on #6841
Indeed. What do you think about something like this:

![image](https://user-images.githubusercontent.com/24960040/142996537-89552653-67ea-4622-833c-f1ea756c8388.png)

@gtsiolis Any ideas for UX/wording improvements?

Related issue: https://github.com/gitpod-io/gitpod/issues/6769

[2021-11-23 09:10] #6807 closed

[2021-11-23 09:12] mfouesneau commented on #6843
The current workspace does not work offline with vscode anymore.

[2021-11-23 09:15] akosyakov commented on #6796
@jeanp413 can you take it? You can use [isHeadless](https://github.com/gitpod-io/gitpod/blob/a92f4be204834b1ed2608f7023898c73344fcff3/components/supervisor/pkg/supervisor/config.go#L341-L344) check to filter out workspaces which does not need unshallowing.

[2021-11-23 09:16] loujaybee opened #6846 "JetBrains is not working on self-hosted installations"
### Bug description

Reported by a user:

### Steps to reproduce

* Follow installation steps for self-hosted
* Configure JetBrains in preferences
* Attempt to load a new workspace

### Expected behavior

Can use JetBrains in self-hosted installation

[2021-11-23 09:32] corneliusludmann commented on #6769
/assign

[2021-11-23 09:48] WebFreak001 commented on #6843
it might be because of the old breakpoint definition format in package.json that I still have in the currently released native debug (if that's the extension you are talking about)

If that's the reason you should be able to enable breakpoints by installing the C/C++ extension or enabling the "allow breakpoints everywhere" setting.

[2021-11-23 09:51] mfouesneau commented on #6843
I add this issue before. Indeed cleaning things worked. However, once defined, the run did not stop at the points.

I think I solved this issue with `-DCMAKE_BUILD_TYPE=Debug`, when using `gdb` type run. However, this makes gitpod configuration incompatible with my offline computer using vscode.
Anyone knows with `cppdbg` is not available on gitpod?

[2021-11-23 09:59] akosyakov commented on #6843
It is a proprietary and can be used only with official MS products. You can VS Code Desktop integration to make use of it: https://www.gitpod.io/docs/editors/vscode#VS%20Code%20Desktop

[2021-11-23 10:02] mfouesneau commented on #6843
Thanks. Although that is defeating the point of an online IDE.
https://github.com/microsoft/vscode-cpptools/issues/6388

[2021-11-23 10:03] akosyakov commented on #6740
@U1F984 yes, but there are several issues:
- desktop IDEs right now are not running in prebuilds
- index is not stored in /workspace folder, so it is not cached and does not survive restart

[2021-11-23 10:05] mfouesneau commented on #6843
happy to close, I think there is no bug

[2021-11-23 10:08] #6843 closed

[2021-11-23 10:14] akosyakov commented on #6846
Which team should be assigned?

[2021-11-23 10:15] gtsiolis commented on #164
Re-opening as this is still relevant. 📖

[2021-11-23 10:19] z3ky opened #6848 "Request createWorkspace failed with message: 14 ... Unknown Error: { "code": -32603 }"
### Bug description

Get this error on a new self-hosted installation of gitpod v0.10.0 on ubuntu 20

Request createWorkspace failed with message: 14 UNAVAILABLE: No connection established
Unknown Error: { "code": -32603 }

After calling gitpod with a repo url, the browser shortly shows "checking" then the error message from above.
All pods are running and I got no erroneous kubernetes events.
Sam

[2021-11-23 10:23] geropl commented on #6833
/schedule

[2021-11-23 10:23] roboquat commented on #6833
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6833#issuecomment-976375014):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-23 11:16] #6623 closed

[2021-11-23 12:21] geropl commented on #6833
Seems to be fixed with https://github.com/gitpod-io/gitpod/issues/6807, closing for now.

[2021-11-23 12:21] #6833 closed

[2021-11-23 13:19] ghuntley commented on #6848
Howdy z3ky, when you say "on Ubuntu" can you please expand what that means?

Which guide from https://www.gitpod.io/docs/self-hosted/latest/requirements did you follow?

ps. Maybe it's best to continue this discussion over in the Gitpod Self Hosted room in https://www.gitpod.io/chat

[2021-11-23 13:19] mads-hartmann commented on #6808
I'm unassigning @ArthurSens from this and removing it from the Platfrom Groundwork project. @ArthurSens is available to help in any way he can and answer any questions you have but if there's some code changes that we (Platform) need to make we should create separate issues for that so we can get an overview of what Platform needs to help with ☺️

[2021-11-23 13:20] mads-hartmann commented on #6806
I'm unassigning @ArthurSens from this and removing it from the Platfrom Groundwork project. @ArthurSens is available to help in any way he can and answer any questions you have but if there's some code changes that we (Platform) need to make we should create separate issues for that so we can get an overview of what Platform needs to help with ☺️

[2021-11-23 13:22] ghuntley commented on #6846
Self-Hosted needs a new release (last one was > months ago) and thus this is a topic of the installer and/or providing ADHOC instructions to the person how to consume main.

[2021-11-23 13:57] MrSimonEmms opened #6849 "[image-builder-bob]: cannot authenticate against external registries"
When using an external registry, the authentication token is not properly applied. This means that the image builder authentication retries expire, returning a 502 Bad Gateway error to the dashboard logs

## To recreate

[code]

Create the `registry-secret` using `kubectl`:

[code]

Once running, deploy the application to your cluster and start a workspace (one of the example projects are fine)

I

[2021-11-23 15:26] kylos101 opened #6851 "[installer] default for enableLocalApp"
## Is your feature request related to a problem? Please describe

enableLocalApp currently defaults to false (for the helm charts and Installer).

## Describe the behaviour you'd like

Consider defaulting to true in Installer source code, as the Installer is intended to be used for future installs. [This way this feature is always available with new installs.](https://www.gitpod.io/blog/local-app)

[2021-11-23 16:08] geropl opened #6852 "[server] Mem leak: @grpc/grpc-js channels"
[Todays work on dashboards](https://github.com/gitpod-io/gitpod/pull/6845) revealed that we have a memory leak in `server`.
The following screenshot shows before and after deployment. (The steep increase on one instance was me taking a heapsnapshot).
![image](https://user-images.githubusercontent.com/32448529/143057518-cff8e304-793d-4386-a6d5-9e194ab607ed.png)

After taking heapsnapshots and inves

[2021-11-23 17:03] beep-boop-remo opened #6853 "Unable to open workspace on Desktop"
### Bug description

When I chose the `Open in VSCode` option in the browser workspace, it doesn't open the workspace on the desktop. It instead just loads infinitely
![image](https://user-images.githubusercontent.com/81965134/143069973-b485307c-5c5a-4cf4-acb8-e12ff94ab0bb.png)

### Steps to reproduce

1. Chose the `Open in VSCode` option in a browser workspace

### Workspace affected

_No respons

[2021-11-23 17:13] kylos101 commented on #6849
/team workspace

[2021-11-23 17:39] kylos101 commented on #6842
/project "Product Engineering Groundwork"

[2021-11-23 17:44] kylos101 commented on #6851
/team IDE

[2021-11-23 17:44] roboquat commented on #6851
@kylos101: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6851#issuecomment-976924222):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or sugges

[2021-11-23 18:13] csweichel commented on #6852
Indeed there isn't, e.g. the transparent retry when `UNAVAILABLE` does not work in grpc-js. We have manual [retry mechanisms for this in some places](https://github.com/gitpod-io/gitpod/blob/main/components/ws-manager-api/typescript/src/promisified-client.ts#L32-L61) and [manual connection management in others](https://github.com/gitpod-io/gitpod/blob/main/components/ws-manager-api/typescript/src/

[2021-11-23 19:21] kylos101 opened #6855 "[server] remove makeNewUsersAdmin configuration and behavior"
## Is your feature request related to a problem? Please describe

Remove **makeNewUsersAdmin** configuration and behavior from Server component

## Describe the behaviour you'd like

First user to connect to a new cluster has admin rights.

## Describe alternatives you've considered

Keep **makeNewUsersAdmin** configuration and behavior, but, add it to the Installer as configuration, [similar to h

[2021-11-23 19:21] kylos101 commented on #6855
/team meta

[2021-11-23 21:13] npw3202 commented on #6566
Any progress on this?

[2021-11-23 21:13] npw3202 commented on #6566
@csweichel

[2021-11-23 21:48] U1F984 commented on #6740
If it is unfeasible to store the system directory in /workspace maybe [Shared project indexes](https://www.jetbrains.com/help/idea/shared-indexes.html#project-shared-indexes) could be used. However this is an ultimate edition feature.

[2021-11-23 23:00] mqsaud commented on #3118
I have issue port 8000 stuck on detecting

[2021-11-23 23:03] josephflorian365 commented on #438
Why is the open ports widget not appearing in the gitpod IDE?

[2021-11-23 23:03] josephflorian365 commented on #747
Why is the open ports widget not appearing in the gitpod IDE?

[2021-11-23 23:09] XBeg9 commented on #4456
meanwhile, what will be the recommendation to use a private registry for prebuilds? is env vars injected into custom docker build phase?

[2021-11-24 00:15] kylos101 commented on #6849
/team workspace

[2021-11-24 01:10] jefer94 commented on #4886
I think that's not the right approach set `PIP_USER=false` in `.gitpod.yml`, this should be in the official docker image

[2021-11-24 01:30] kylos101 commented on #6806
Resolved in #323

[2021-11-24 01:30] #6806 closed

[2021-11-24 01:31] kylos101 commented on #6808
/status in-progress

[2021-11-24 01:34] shaal commented on #4456
@andreafalzetti @XBeg9 I am using my user environment variables during prebuild here -
https://github.com/shaal/DrupalPod/blob/main/.gitpod/drupal/envs-prep/prepare-environments-gcs.sh#L8

[2021-11-24 07:15] z3ky commented on #6848
Thanks for the fast response. After some further testing I decided to reinstall K3s. Now, Gitpod works :)
I don't now why, I just enjoy.

For others having this issue, I don't think that Gitpod was the cause.

For installation, I followed
https://www.gitpod.io/docs/self-hosted/latest/installation/on-kubernetes
on a regular Rancher K3s Cluster without any custom configuration on Ubuntu 20.04 LTS

[2021-11-24 07:38] geropl commented on #6852
/schedule

[2021-11-24 07:38] roboquat commented on #6852
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6852#issuecomment-977608900):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-24 07:45] hm2075 opened #6858 "Extensions re-downloaded"
### Bug description

Extensions are downloaded each time a workspace is started,   if for some reason an extension is no longer available for example
angular language services which has been down on open vsx for a few days users are unable to use the extension

this is not the first time this has happened,   previously it was the omnisharp plugin that was broken.

We shouldn't allow gitpod to go a

[2021-11-24 07:51] zhouzilong2020 commented on #6719
thanks a lot, that works.

But still, If I shut down my VPN, everything is just fine, and just as I turning it on, the refreshing begin...
Dose this two have some connection?

[2021-11-24 08:12] csweichel opened #6859 "[observability] Add alert when workspace failure rate increases"
We need an alert when the workspace failure rate in any cluster exceeds 1 failure per second for at least 5 minutes.
As a follow up, we'll want to write a runbook for this case.

[2021-11-24 08:46] csweichel commented on #6849
/schedule

[2021-11-24 08:46] roboquat commented on #6849
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6849#issuecomment-977658089):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-24 08:46] csweichel commented on #6849
/assign

[2021-11-24 09:03] loujaybee opened #6861 "Update public docs to reference the private beta instructions"
As a step towards opening the BETA for JetBrains, we need to [update the public docs](https://www.gitpod.io/docs/editors) so that we have public-facing documentation on how the private Beta works.

This means taking: https://www.gitpod.io/docs/editors/jetbrains-private-beta

And integrating it with:
* https://www.gitpod.io/docs/editors/goland
* https://www.gitpod.io/docs/editors/intellij
* https:/

[2021-11-24 09:05] loujaybee commented on #6861
Maybe one for you @filiptronicek if you want to help us out with some of the website documentation 🚀

[2021-11-24 09:27] #6849 closed

[2021-11-24 09:33] akosyakov commented on #747
@josephflorian365 Could you check remote explorer view please? We are talking about web version, right?

[2021-11-24 09:34] akosyakov commented on #3118
@mqsaud sounds like https://github.com/gitpod-io/gitpod/issues/6778 ?

[2021-11-24 10:05] jankeromnes commented on #6638
(To clarify the acronym[[1](https://acronyms-suck.com/)], I believe "PI" means "Personal Identifiable Information" here)

[2021-11-24 10:10] #6804 closed

[2021-11-24 10:11] #6848 closed

[2021-11-24 10:12] MrSimonEmms commented on #6842
@csweichel @kylos101 what, if any, affinity should the in-cluster Docker registry and the Jaeger operator have?

[2021-11-24 10:29] JanKoehnlein commented on #6650
We're a bit swamped at the moment. Moving this to our backlog to bring it up later

[2021-11-24 10:48] JanKoehnlein commented on #6725
We're swamped. Added to backlog

[2021-11-24 10:49] akosyakov commented on #6796
It also breaks creating PRs from VS Code Web sometimes. After unshallowing it works again.

[2021-11-24 10:56] JanKoehnlein commented on #6391
Sorry, as we're a bit swamped ATM, I have to unfortunately move this to our backlog.

Chances to get this fixed are much better if you file separate GH issues for the individual problems.

[2021-11-24 10:59] MrSimonEmms commented on #6566
Hi @npw3202. Apologies for the delay - this slipped through.

There are container names that I don't recognise in your list, specifically `db-777b859bdd-p4cvk`. If you look at https://github.com/gitpod-io/gitpod-gke-guide#verify-the-installation, you'll see the container should be `cloudsqlproxy`. I wonder if this is because we've recently updated the guide to use our new Installer rather than Hel

[2021-11-24 10:59] #6566 closed

[2021-11-24 11:08] loujaybee opened #6864 "Investigate licensing with latest JetBrains images"
The latest JetBrains images appear to require a license [[1](https://github.com/gitpod-io/gitpod/pull/6802#issuecomment-975701930)]. We need to investigate what needs to be done on our side, and possibly update the: https://www.gitpod.io/docs/editors/jetbrains-private-beta JetBrains beta documentation.

[2021-11-24 11:12] jldec commented on #6724
/schedule
/assign @AlexTugarev

Given that you are working on #5785
This would leave only 2 states to worry about to explain with a message to the user

1. The configuration above will be used for the first prebuild or other start tasks, and included as an uncommited file in the workspace. Committing the file to your repository will allow Gitpod to use it for future workspaces.

2. This repository

[2021-11-24 11:13] roboquat commented on #6724
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6724#issuecomment-977774979):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-24 11:15] laushinka opened #6865 "Add GCP support for monitoring satellite"
## Is your feature request related to a problem? Please describe
As part of the Meta team's [first steps into automatic deployment](https://github.com/gitpod-io/gitpod/issues/6785), we need to improve our monitoring and observability.
Unfortunately some metrics are currently only available in GCP, such as [database CPU utilization](https://console.cloud.google.com/monitoring/dashboards/resourceLis

[2021-11-24 11:15] laushinka commented on #6865
@geropl Please correct/edit where needed.

[2021-11-24 11:59] csweichel commented on #6771
/schedule

[2021-11-24 11:59] roboquat commented on #6771
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6771#issuecomment-977810196):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-24 11:59] csweichel commented on #6771
/assign

[2021-11-24 12:00] csweichel commented on #6638
/schedule

[2021-11-24 12:00] roboquat commented on #6638
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6638#issuecomment-977810662):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-24 12:05] davemecha commented on #6796
This really confused me in some projects and I had some hard merges and blamed another third party tool for messing up our repo. When I had a similar problem in another repo, I stumbled on the shallow clone. (I didn't know about this git feature).

Is there some changelog where changes on production and on feature preview are tracked, where I can check next time when something feels odd? It would

[2021-11-24 12:44] #6719 closed

[2021-11-24 12:45] zhouzilong2020 commented on #6719
Thanks a lot!

[2021-11-24 12:59] akosyakov commented on #6796
I created an issue to document it: https://github.com/gitpod-io/website/issues/1278

[2021-11-24 13:00] #6769 closed

[2021-11-24 13:00] #6841 closed

[2021-11-24 13:01] ghuntley commented on #6447
Safari extension is coming. In the iPadOS and iOS ecosystem browser extensions are distributed as applications and that paves the way to future expansion.

https://twitter.com/GeoffreyHuntley/status/1463492555878719502

[2021-11-24 13:59] geropl commented on #6643
@iQQBot then I guess the workspace was subject to workspace garbage collection (forgot to pin it :see_no_evil: ).

new exmaple workspace (prod):
workspaceId: `teal-whitefish-l87hrwxv`
instanceId: `0dfa2f61-d609-41e4-9be3-744ea1c1e7f9`

Note how those are `instance.status` says contains `"headlessTaskFailed": ""`, while logs say different: https://storage.cloud.google.com/gitpod-prod-user-a5bfab1e-

[2021-11-24 14:02] MrSimonEmms opened #6867 "[Installer]: change authProviders from raw data to a secret"
Currently, the `authProviders` in the config.yaml is an array of objects with sensitive data in. **THIS IS A BAD IDEA*** and will probably raise concern with self-hosted users with additional security/compliance requirements.

Current - array of objects

[code]

Proposed - array of secrets

[code]

Each secret would then have the data in an expected format similar to the current auth provider conf

[2021-11-24 14:02] MrSimonEmms opened #6868 "[Installer]: add licence key to config"
The Installer currently has no way of adding a licence key to a deployment. Establish a way of providing a license key to an installation.

# Initial suggestion

As the Helm version used a plain text key, it is likely that the key will need to be provided in plain text for the moment.

[code]

# Better idea

If a secret can be used, it should be. If this is provided in a ConfigMap, it's likely tha

[2021-11-24 14:39] shaal commented on #6688
I cannot replicate this issue any more.

Do you know what was the code that broke / the code that fixed it?

[2021-11-24 14:52] #6688 closed

[2021-11-24 15:08] #6028 closed

[2021-11-24 15:29] XBeg9 commented on #4456
@shaal does it mean that every single user should put this env into config until this feature will be done?

Just out of curiosity, when prebuild triggers, specifically for team, which envs will be injected into the build pipeline?

[2021-11-24 15:48] nisarhassan12 opened #6869 "misleading errors when git push fails due to the failure of the pre-push hook"
### Bug description

When using the arrow shown in the below screenshot to push the commits
![Screen Shot 2021-11-24 at 8 24 05 PM](https://user-images.githubusercontent.com/46004116/143266287-63258c88-bffd-402a-9dfa-57b570247e28.png)
it gives misleading error messages that are not accurate.

One misleading error message and the steps to reproduce that are below details about the other can be seen

[2021-11-24 16:07] #6842 closed

[2021-11-24 16:25] pawlean commented on #4061
I can't close this issue, but it's done. @ghuntley can you close it for me?

[2021-11-24 16:34] boris-remo opened #6871 "Misleading VS Code Extension docs"
### Bug description

https://www.gitpod.io/docs/vscode-extensions#user-extensions state that all you have to do to have user extensions available in all workspaces is to install them through the VSCode UI.
It doesn't mention that you're supposed to do this in the browser instance.
VSCode settings are not stored when set in a desktop instance.

### Steps to reproduce

1. Open workspace in VSCode on

[2021-11-24 16:39] geropl opened #6872 "[staging] BLOCKER: d_b_workspace_cluster broken"
Column TLS not correctly parsed after #6775

[2021-11-24 17:10] kylos101 commented on #6868
@MrSimonEmms hey, was talking with @csweichel , and for now we can set licenses through the UI.

@metcalfc , what's the desired user journey for the installation process as it pertains to setting licenses programmatically?

[2021-11-24 17:12] MrSimonEmms commented on #6868
@kylos101 where do we do that? I've looked in both the "admin" and "settings" sections and can't see anything that looks relevant there.

It's probably worth keeping this ticket as a long-term goal

[2021-11-24 17:23] kylos101 commented on #6868
@MrSimonEmms that's a great question! I'm not sure...what happens if you try browsing to a `/plans` view in self-hosted? My guess is that it won't let you view...perhaps because a Chargebees integration is lacking (or some other configuration).

[2021-11-24 17:34] ntziolis commented on #4456
@shaal Are you sure this works? @gtsiolis Does prebuild have access to user env variables? If so which user? the user that connected the repo? This could be a great workaround if thats the case. So far and based on my tests this was not the case.

[2021-11-24 17:45] MrSimonEmms commented on #6867
@iQQBot there is a section in the UI for this already - you can add and remove config once set

[2021-11-24 17:48] rfay opened #6874 "Gitpod "open in" should be set-able per project, not just per-user"
## Is your feature request related to a problem? Please describe

The new Jetbrains open-in-local feature is great, but you have to choose it for the whole user. I work in GoLand for many projects, but PhpStorm for many others.

## Describe the behaviour you'd like

I'd want to be able to configure the "open in" at the project level, not the user level.

Currently it's all-in for one tool, and tha

[2021-11-24 18:02] metcalfc commented on #6868
100% Ideally, I would pass it to the installer as a flag with the path to the file and the installer would "do the right thing".  I imagine it lives in the database so if we inject it via a Secret/ConfigMap let's clean up the Secret/ConfigMap after so folks aren't confused where it lives.  Otherwise, I imagine it's an API call to get it in?

We don't want folks to need kubectl access to update the

[2021-11-24 18:03] csweichel commented on #6638
@iQQBot please do - I am not working on this

/assign @iQQBot

[2021-11-24 18:27] XBeg9 commented on #4456
@ntziolis same here, if envs are injected into prebuild phase even from project / team level, this is gonna be a security issue

[2021-11-24 18:37] jgallucci32 commented on #4456
As a workaround try creating the file `.gitpod/Dockerfile` then specifying inside of it
[code]
Then in your `.gitpod.yml` file you would add this entry
[code]
This will allow the env vars to be configured per-project and stored in source code for the project.

[2021-11-24 18:40] XBeg9 commented on #4456
this way you are exposing the secret, right? @jgallucci32

[2021-11-24 18:43] jgallucci32 commented on #4456
If you had sensitive data in the env var then yes. But the examples above were using all non-sensitive env vars so this workaround would be OK in those cases.

[2021-11-24 19:28] abngal commented on #6761
My bad, sorry it seems wss port is correctly done/forwarded by gitpod.
I have created a [simple websocket server](https://www.js-tutorials.com/nodejs-tutorial/simple-websocket-example-with-nodejs/) and I can access it from outside gitpod.
I have to use `wss://` though, using `ws://SERVER` resulted on my error above.
This works:

Connected (press CTRL+C to quit)
< Hello! Message From Server!!

I th

[2021-11-24 20:24] #6810 closed

[2021-11-24 20:26] #6299 closed

[2021-11-24 20:26] #6401 closed

[2021-11-24 20:30] MrSimonEmms commented on #6289
I don't think this is necessary now. It's fairly obvious if all pods are in `running` state

[2021-11-24 20:30] #6289 closed

[2021-11-24 20:31] #6423 closed

[2021-11-24 20:31] #6422 closed

[2021-11-24 21:16] jldec opened #6875 "Improve design of /new project start-page for onboarding flow"
The start page of the New Project onboarding flow contains some rough edges.

## When app is not installed (GitHub only)
(see screenshot below)

- [x] Replace _Select a Git repository..._ with an explanation of what a Project is (under "New Project")

- [x] Show a label above the dropdown:

- [x] Show user account in the dropdown.
- [x] Replace the box with "No Access..." with a friendlier explana

[2021-11-24 21:41] jldec commented on #6875
/schedule

Scheduling this now because it provides aditional context for #5583
Considering the scenario where a new repo is being created from a template, and the GitHub app is not yet installed, the first section above may be helpful, since it does not suggest selecting any repository from a list.
cc: @jankeromnes

[2021-11-24 21:41] roboquat commented on #6875
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6875#issuecomment-978271525):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-24 22:22] #5196 closed

[2021-11-24 22:26] rfay commented on #4129
To me this is still really important. I think you could add a little information to the URL and make gitpod hugely more valuable.

[2021-11-24 22:47] scottyeager commented on #5014
Disabling Brave's adblocker also resolved this issue for me.

[2021-11-25 01:38] gbraad commented on #6449
https://github.com/gitpod-io/gitpod/pull/6472#issuecomment-961691344
Waiting for image builder mk3

[2021-11-25 03:59] dtate-wave opened #6876 "Minio Helm chart dependency no longer available (or is offline)"
### Bug description

When running a `helm repo update`, the minio helm chart that is defined in `chart.yaml` is no longer available and returns a 404:
[code]
May be related to https://github.com/gitpod-io/gitpod/issues/6284, where minio has deprecated this chart in favor for an operator-based chart.

### Steps to reproduce

[code]

### Workspace affected

_No response_

### Expected behavior

`hel

[2021-11-25 05:23] chiyanglin-AStar commented on #1265
I have another type issue:   I try to do some code in gitpod , like web ui ,  but I need qemu machine as host ,    is there any comment about what kind of setting about gitpod ?   some other constraints , qemu 2443 is for web ui restful api request !

[2021-11-25 05:25] ghuntley commented on #5534
Me too. I'm in Sydney [1] as well (and I work at Gitpod). I find the latency workable but indeed it could be better. All in good time. Gitpod is right now working on getting underlying primitives for architecture solid to make it possible to deploy anywhere and keep operational support costs (human time) scalable. Hold on. It'll be worth it.

[1] https://www.ghuntley.com/anywhere

[2021-11-25 05:33] ghuntley opened #6877 "Memes"
# overview

It turns out folks are starting to create Gitpod memes. Let's collect them!

# instructions

- Attach your memes as comments on this thread (please keep memes respectful, safe for work and ensure they are compliant with Gitpod's [code of conduct](http://www.gitpod.io/code-of-conduct)
- Come hangout in https://www.gitpod.io/chat

[2021-11-25 05:35] ghuntley commented on #6877
# prebuilds

![FE--Il6XwAogpda](https://user-images.githubusercontent.com/127353/143385272-9ca64dda-e511-4cb4-aa3f-8628e07831cd.jpeg)

# works on my machine

![FE8acXaWQBAVOIc](https://user-images.githubusercontent.com/127353/143385327-4fb1b767-2e75-401d-801d-5a8da9a3244c.png)

[2021-11-25 07:40] akosyakov commented on #6803
In the case with desktop we actually run 2 ides. There is already an env variable for web: `GITPOD_IDE_ALIAS` which is either `code` or `code-latest`. We can add `GITPOD_DESKTOP_IDE_ALIAS` by analogy.

One thing is that we don' want env var to be an api, but instead one should use supervisor info endpoint to read such data or maybe we can add it to `gp` for end users, i.e. `gp info ide` and `gp in

[2021-11-25 07:45] akosyakov commented on #6853
If you press cancel and then try again without quitting VS Code. It does not help?

[2021-11-25 07:53] JanKoehnlein commented on #5217
I think this has been superseded by the in product tutorial. Please reopen if I am wrong.

[2021-11-25 08:03] MrSimonEmms commented on #6876
Thanks for reporting this @dtate-wave. We'll schedule some time to switch it over.

As an aside, the [Installer](https://github.com/gitpod-io/gitpod/tree/main/installer) uses the [Bitnami version of this chart](https://github.com/bitnami/charts/tree/master/bitnami/minio) which is not deprecated and is a drop-in replacement for this chart

[2021-11-25 08:04] MrSimonEmms commented on #6284
Closing in favour of #6876 as the chart is now unavailable.

In answer to your question @hrpatel, we've switched over to the [Bitnami version](https://github.com/bitnami/charts/tree/master/bitnami/minio) of this chart in the [Installer](https://github.com/gitpod-io/gitpod/tree/main/installer) which is not deprecated and is a near-exact drop in replacement

[2021-11-25 08:04] #6284 closed

[2021-11-25 08:13] jankeromnes commented on #6600
Sure! Sounds good to me. 👍

/assign

I was more thinking of a single page that contains the entire Project creation flow (i.e. replacing our current multi-page wizard flow). Such a UI could live in there, although I don't have a very clear picture of what exactly such a single page form should look like.

[2021-11-25 08:14] jankeromnes commented on #6727
Happy to take this once once it gets scheduled.

[2021-11-25 08:32] svenefftinge commented on #4129
Thanks for keeping this alive @rfay. You might be right that my hypothesis is not accurate.
I also think your argument regarding disposable dev environments is great. Why would we want to give our dev environments names (e.g. purple scorpion) if they are disposable.

So I'd vote for doing as described in https://github.com/gitpod-io/gitpod/issues/4129#issuecomment-886429830

cc @jldec

[2021-11-25 08:38] JanKoehnlein commented on #6872
/schedule

[2021-11-25 08:38] roboquat commented on #6872
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6872#issuecomment-978954647):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-25 08:40] JanKoehnlein commented on #6872
/assign @geropl

[2021-11-25 08:54] JanKoehnlein commented on #6852
/assign @geropl

[2021-11-25 08:59] #6772 closed

[2021-11-25 09:10] trumbitta commented on #6877
![image](https://user-images.githubusercontent.com/462705/143412587-1b041bb0-a2e5-4e6a-9631-cd28ce5281c3.png)

[2021-11-25 09:28] akosyakov opened #6887 "[code-insider] No view is registered with id: gitpod.workspace"
### Bug description

Start any workspace with VS Code insider. It seems not all Gitpod views are registered anymore.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-11-25 09:30] loujaybee commented on #4129
Thanks for raising @rfay! I've seen some other issues on this topic that I think have the same underlying issue, but with different proposed solutions. So I wanted to throw in a couple alternative / additional solutions / thoughts:

1. When in a browser context, we could also **consider altering or modifying the page title**. https://github.com/gitpod-io/gitpod/issues/6360 this has been discussed

[2021-11-25 09:35] loujaybee opened #6888 "Auto generate gitpod.yml from CI configurations"
There are a few different sources of metadata that exist in a repo that we can extract to help, such as GitLab CI files, or GitHub action YAML files.

Why?
1. Quick initial project set-up (i.e you don't need to understand the YAML syntax etc)
2. Don't have duplicate configurations, or refactor into a Makefile, or common bash script, etc.

I believe @gitpod-io/engineering-meta were already thinking

[2021-11-25 09:41] akosyakov commented on #6858
Please see the answer here: https://community.gitpod.io/t/java-plugins-not-working/5640/15?u=akosyakov

An issue for angular: https://github.com/open-vsx/publish-extensions/issues/506

[2021-11-25 09:41] #6858 closed

[2021-11-25 09:41] loujaybee commented on #6392
This could actually be used for different use-cases, such as providing:

1. A logical path back to the dashboard (this was an issue observed in usability testing)
2. Helping users to understand their workspace context, e.g. https://github.com/gitpod-io/gitpod/issues/4129 and https://github.com/gitpod-io/gitpod/issues/6227

[2021-11-25 09:53] jankeromnes commented on #6888
Interesting idea, thanks @loujaybee!

FYI, we already have some basic `.gitpod.yml`-generating code here:

https://github.com/gitpod-io/gitpod/blob/main/components/server/src/projects/config-inferrer.ts

- It's used to auto-generate a `.gitpod.yml` when you're adding a new Project that doesn't have a `.gitpod.yml` file yet
- It checks for several files in the repo in order to guess what your `init

[2021-11-25 10:24] akosyakov commented on #6778
@csweichel I looked at supervisor logs when it happens and https://github.com/gitpod-io/gitpod/blob/bb1349fd9489661007bcd92cbff91438212e1e86/components/supervisor/pkg/ports/ports.go#L486-L495 is never executed for such port. The last log is `auto-exposing port`. There was not changes in exposed ports service besides removing global port, so it seems it blocks on control port request to server. I a

[2021-11-25 10:28] akosyakov commented on #6761
@abngal Good call! I only now see it.

@trusktr URL does not look correct, Gitpod supports only 2 ports: 8080 and 443. All other ports are emulated via prefixing. On your image port is `:24678`. You should drop it and then it will work.

[2021-11-25 10:28] #6761 closed

[2021-11-25 10:43] #6638 closed

[2021-11-25 10:52] #6823 closed

[2021-11-25 10:57] #6872 closed

[2021-11-25 11:01] AlexTugarev commented on #5522
We couldn't reproduce this issue. I also assume, some of this cases are linked to failed prebuilds, or to existing ones, so that it's not clear when to expect a dirty `.gitpod.yml` file to be contributed.

Let's reopen when we can actually reproduce this issue.

[2021-11-25 11:01] #5522 closed

[2021-11-25 11:04] geropl commented on #6642
Reopen because https://github.com/gitpod-io/gitpod/pull/6775 did not fix but broke it and had to be reverted: https://github.com/gitpod-io/gitpod/issues/6872

[2021-11-25 11:08] #6876 closed

[2021-11-25 11:10] csweichel commented on #6778
Unfortunately we don't trace this interface 🤦

That said, auto-exposure is only neccesary in the "public exposure" case since we've moved away from Kubernetes services. Hence we could make this part be a bit more "tolerant" towards auto-exposure failure.

[2021-11-25 11:12] gtsiolis commented on #6839
Thanks @MrSimonEmms! Agree, making it easier to delete multiple or all workspaces sounds definitely interesting. Closing this as a duplicate of https://github.com/gitpod-io/gitpod/issues/4233 but feel free to reopen if this describes a different problem. Cc @jldec

[2021-11-25 11:12] #6839 closed

[2021-11-25 11:32] loujaybee opened #6894 "Implement analytics on changes to the `.gitpod.yml`"
**Context:** This one is important as it will give us data around when a user is updating this file as part of their onboarding journey. e.g. are users updating the file on their first visit? second visit? etc

We would like to know: if / when a user is changing or updating their gitpod.yml.

Ideally, we would gather fine-grained data on which properties the user is updating on the YAML file. This

[2021-11-25 11:32] gtsiolis commented on #5217
Re-opening as this is still relevant since the empty state illustration is still visible after dismissing or going through the get started walkthrough (product tutorial) within the IDE. Cc @JanKoehnlein

Re-posting from https://github.com/gitpod-io/gitpod/issues/5217#issuecomment-899634588:

Looping in @gitpod-io/engineering-ide to help decided whether it's worth keeping this issue around.

[2021-11-25 11:49] loujaybee opened #6895 "Implement analytics on generic VS Code pop-up / toast notifications"
Currently, in VS Code we have a lot of pop-up notifications appearing, that have caused some frustrations / difficulties for users (as shown during usability). It would be useful information to see what users are going with regards to these pop-ups, which ones are users suppressing, when, and why? This ticket is to implement tracking events on the pop-up notifications. Some notifications include C

[2021-11-25 11:50] gtsiolis commented on #5022
Marking this as never stale.

[2021-11-25 11:51] gtsiolis commented on #5125
Marking this as never stale. Looping in @jldec.

[2021-11-25 11:52] gtsiolis commented on #5269
Marking this as never stale.

[2021-11-25 11:53] gtsiolis commented on #5332
Marking this as never stale and good first issue.

[2021-11-25 11:56] loujaybee opened #6896 "Implement analytics on git (git commit)"
**Context:** Tracking a `git commit` is a strong signal that a user is doing something "meaningful" in a workspace, and is useful as the "end" point for our onboarding funnel. A git commit signals that the user has understood things like: Gitpod is a container image, gitpod is mutable and not read-only (e.g. it's not just a https://vscode.dev/ type application), etc.

---

We currently don't know

[2021-11-25 12:01] loujaybee opened #6897 "Implement analytics on the "Get Started with Gitpod" walkthrough"
When opening VS Code for the first time, you are presented with a "welcome to Gitpod" VS Code page, which walks you through different aspects of Gitpod. We need to add analytics to track:

* Are users dismissing the walkthrough?
* Which tabs are users navigating to?
* Are users clicking on the command links.
* Anything else noteworthy that can help us to assess how useful/valuable this walkthrough

[2021-11-25 12:12] loujaybee opened #6898 "Implement analytics on Dockerfiles"
Currently, we have no visibility into how users are engaging with Dockerfiles within gitpod, i.e if the user has created a Dockerfile, and when they do that.

**Note:** by implementing analytics on the `.gitpod.yml` https://github.com/gitpod-io/gitpod/issues/6894 we might be able to get sufficient data about the Dockerfile and/or re-use the same (or similar) implementation.

**DISCLAIMER:** We nee

[2021-11-25 12:17] jldec commented on #6686
I would say 2, 3, 4 are all more important than 1
It would be good to address those explicitly.

[2021-11-25 12:34] akosyakov commented on #6874
I guess you mean per project but on user level, i.e. each user can decide which project he wants to use for different repos. It is very typical in java world for instance to only commit gradle or maven setup but let devs use IDE of preference.

[2021-11-25 12:35] geropl commented on #6852
Saw those. Mentioned it to verify it's still like that after the upgrade. Conclusion: it is :-)

[2021-11-25 12:38] loujaybee commented on #6798
Moving "to investigate" removing from groundwork until we have further replication steps.

[2021-11-25 12:44] loujaybee opened #6899 "Gather questions from private beta users and update documentation (FAQs)"

[2021-11-25 12:44] JanKoehnlein commented on #6770
I am trying to reverse-engineer the action for this issue form the given context. Please clarify: Is this about
1) adding an additional (timeout-based?) mechanism on the `ws-manager-bridge` that also works when the cluster goes donw without deregistering, or
2) taking further action in the `ws-manager-bridge` when receiving a forced deregistration request
3) None of the above (please specify)

[2021-11-25 12:44] loujaybee commented on #6899
Closing as duplicate of: https://github.com/gitpod-io/gitpod/issues/6861

[2021-11-25 12:44] #6899 closed

[2021-11-25 13:20] kylos101 commented on #6808
Hi, we're functional in #6827 now as of the latest commit. There are some loose ends to clean-up (tasks in this issue, and TODOs int he code), but the good news is we can run a build in werft and get an environment now.

[2021-11-25 13:30] akosyakov commented on #6778
It actually happened to me very often today and it seems first hanging port blocks all consequent:
<img width="326" alt="Screenshot 2021-11-25 at 14 30 20" src="https://user-images.githubusercontent.com/3082655/143450298-b2c1ebb5-c1de-4da4-be3f-653fa89c7bab.png">

[2021-11-25 13:31] akosyakov commented on #6778
I am not sure what do you mean? It does not fail, it hangs forever.

[2021-11-25 13:31] corneliusludmann opened #6900 "Set project root based on workspace context folder"
When you open a workspace with a folder in the context URL like this one:

https://gitpod.io/#https://github.com/gitpod-io/gitpod/tree/main/components/ide/jetbrains/backend-plugin

We currently start the IDE with `/workspace/gitpod` as project root that has the folder `components/ide/jetbrains/backend-plugin` unfolded in the tree view. It would be even more useful when we change this behavior to o

[2021-11-25 14:00] jankeromnes commented on #688
Please don't just re-open old feature requests that lead to the development of a new feature, but instead create new specific issues about how exactly the feature is broken or needs to change. 🙏

For example, maybe we could open issues about:
- `/from-referrer/` not working in Safari (that's by design, because Safari censors referrers)
- `/from-referrer/` not working in Brave? (not sure about this

[2021-11-25 14:00] #688 closed

[2021-11-25 14:02] trumbitta commented on #5332
I wanted to contribute, and this seemed to be a very simple issue but...

- Opened in Gitpod
- Found `components/dashboard`
- Read the README in there and configured `craco.config.js` as advised
- Ran `yarn run start`

[code]

Any hints?

[2021-11-25 14:09] gtsiolis commented on #5791
Removing all assignees until we get back to this.

[2021-11-25 14:25] corneliusludmann commented on #6778
/assign

[2021-11-25 14:33] trumbitta commented on #5332
Well I don't have it anymore since I threw "the workspace away like a paper towel" 😉 😉 😉 but it was pretty much like this as per the instructions in [README.md](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/README.md):

[code]

[2021-11-25 14:34] trumbitta commented on #5332
I'm guessing `SaaS Gitpod host` is not the literal value to use, although it is written in the README using "`" as if it were. I don't know what the real value to use is though.

[2021-11-25 14:37] jldec commented on #6686
Another interesting idea (credit @svenefftinge) to reduce the amount of cognitive load required from users:

How about providing a default selection/name (and offer a simpler [continue] button) so that you can get through this page without necessarily making a conscious selection decision.

The proposed default would be:

- select the personal account for personal repos
- select new team, pre-popu

[2021-11-25 14:38] rfay commented on #6874
Yes, I do mean project-level and of course under control of the user. I guess because I don't have anybody else in the project I use I forget that. That does make it more complicated.

[2021-11-25 14:56] trumbitta commented on #5332
Oh so you are not an actual bot after all 🤣

Thanks for the pointers! I'll also propose a clarification in the README then :)
I was half expecting a completely local Gitpod instance for development, tbh, without the need to point to gitpod.io

@iQQBot I don't think I know what `Google development tool` is. Any hints on that?

[2021-11-25 15:25] trumbitta commented on #5332
I now get to this screen
![image](https://user-images.githubusercontent.com/462705/143466931-ff24f983-2150-44f5-91fb-0b35746b6c8b.png)

But when I click "Continue with GitHub" (and it only works if I pop out the browser window from the in-editor preview) it redirects me to the real gitpod.io.

It's not clear to me what I should type into the cookie property, since a cookie is an object with a name

[2021-11-25 15:26] trumbitta commented on #5332
(I'll update the README once I get this to work :D )

[2021-11-25 15:37] trumbitta commented on #5332
Nope, I can't get it to work: it still opens the page in the latest screenshot, then redirects me to the real gitpod.io once authenticated.

I tried with both `cookie: "_gitpod_io_",` and `cookie: "<the value of the cookie>",

[2021-11-25 15:41] corneliusludmann commented on #6778
@akosyakov Do you have a workspace ID or a link to the logs for your case?

I had a look in the logs of the workspace `apricot-scorpion-yeo25j03` of the issue opener and I cannot find the issue that you observed there (missing `auto-exposed port` log). For the port that is marked as `detecting` in the screenshot (`3980`) there is a `auto-exposed port` message ([log entry](https://console.cloud.goo

[2021-11-25 15:44] jankeromnes opened #6903 "Support archive context URLs (e.g. .tar / .zip)"
This is a revival of https://github.com/gitpod-io/gitpod/issues/86

## Description

We would like to support opening archive URLs with Gitpod, e.g. like so:

[code]

This should give you a workspace containing all the files/directories from that archive, but no Git repository yet (i.e. no `git init` -- repository creation can then be done in a second step)

## Use cases

- Allowing users to start

[2021-11-25 15:44] trumbitta commented on #5332
Nice, thank you! Now it works :)

[2021-11-25 15:52] jankeromnes opened #6904 "Epic(experiment): Allow creating a new repository from within the IDE"
It would be cool to have a quick & convenient way to create a new repository from inside the IDE.

This would play particularly well when combined with this other feature request: https://github.com/gitpod-io/gitpod/issues/6903, as opening a workspace based on an archive will give you a workspace without any repository (i.e. no `git init` was run).

Maybe the IDE could even detect that you current

[2021-11-25 15:53] akosyakov commented on #6778
I actually was able to reproduce it with new workspaces today. I think the workspace id was `ivory-swift-u1uxar3a` and port `24678`. It happened like 4-6 hours ago.

It was opened for this context: https://github.com/trusktr/solid-lume-starter/commit/35c342675ca82244027be2f309edea615ba4c051 and start a server with `npm i && npm run dev` command.

[2021-11-25 16:47] pawlean commented on #6877
Courtesy of @JacobParis 👇🏼

![image](https://user-images.githubusercontent.com/17087373/143478555-ba3eb8fb-aab8-483e-973a-a812bfb2262b.png)

<img width="597" alt="2021-11-25 at 16 46 13 - Google Chrome" src="https://user-images.githubusercontent.com/17087373/143478504-9daa7e70-59d8-4354-926e-ce708a284229.png">

[2021-11-25 16:51] jeanp413 commented on #6887
Insider build is fixed now

[2021-11-25 16:59] loujaybee opened #6905 "Attach workspace ID to all IDE analytics events"
Currently, it's hard to see what's going on within users sessions, as we can not distinguish whether events occur as part of the same "session" or not. This issue is to add workspace ID's to all IDE generated events. In a workspace context, the workspace ID serves as a good proxy for a session.

[2021-11-25 17:01] jankeromnes opened #6906 "Epic(experiment): Create new projects and enable prebuilds from within the IDE"
It would be great if the IDE allowed users to enable Prebuilds for their repository via a simple quick action.

I guess the IDE would need to be aware of:
- Whether Prebuilds are already enabled or not for the current repository (and whether there is already a Gitpod Project associated to it)
- Whether the current user is authorized to enable prebuilds (which implies the creation of a Gitpod Proje

[2021-11-25 17:11] svenefftinge commented on #6906
Enabling prebuild would imply creating a Gitpod project as well.

[2021-11-25 17:24] jldec commented on #6906
aah 💡

[2021-11-25 18:05] filiptronicek commented on #6903
@jankeromnes, I think this is an excellent feature to implement. A bit worried about zip bombs, and whether there is an efficient way to prevent them.

[2021-11-25 18:12] jankeromnes commented on #6903
@filiptronicek That's an excellent point, thank you. I think uncompressing such untrusted archives could happen as a workspace initialization step, and ideally workspace initialization should have similar safeguards as running workspaces, i.e. where we already run untrusted user code today and have safeguards in place against abuse.

[2021-11-25 18:39] #5227 closed

[2021-11-25 20:40] akosyakov commented on #6887
@jeanp413 It's still hapenning.

[2021-11-25 21:55] ghuntley opened #6909 "[insiders] emit console.log on workspace boot if person is using insiders"
## Is your feature request related to a problem? Please describe

If a person is using insiders emit a 🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨🚨 informing them that they are running insiders:
- if someone is looking at console log it is likely because Gitpod isn't working for them
- if someone is using insiders then the console.log should nudge people to switch to stable
- inform person if problem persists please raise a suppo

[2021-11-25 22:27] jeanp413 commented on #6887
It was(or is? taking a look again) because of the migration of proposed API https://github.com/microsoft/vscode/pull/137724
`enableProposedApi` is now deprecated and from now on extensions should use `enabledApiProposals`

[2021-11-25 23:07] jeanp413 commented on #6887
Fixed it, I missed to include some proposed api for the remote view, the new approach to include proposed api is not really good as you need to ask one by one explicitly and it does not throw any error during compilation for apis that only require to update the package.json like the views api

[2021-11-25 23:37] gtsiolis commented on #5035
This is still relevant. Cc @jldec

[2021-11-25 23:44] #6887 closed

[2021-11-25 23:45] gtsiolis commented on #5862
Closing this as the fix has landed in production. Cc @shaal @zuernBernhard

1. https://github.com/gitpod-io/gitpod/pull/6144
2. https://github.com/gitpod-io/openvscode-server/pull/169

Thanks, everyone!

Cc @geropl

[2021-11-25 23:45] #5862 closed

[2021-11-25 23:50] gtsiolis commented on #1932
Re-opening as this is still relevant.

The fix in GitLab will be part of the next monthly self hosted release (14.6) in Dec 22 but it’s already available on GitLab.com, see https://gitlab.com/gitlab-org/gitlab/-/merge_requests/74646.

See also [relevant discussion](https://gitpod.slack.com/archives/C01KLC547EH/p1637323878004900) (internal).

Cc @AlexTugarev @jldec

[2021-11-25 23:56] gtsiolis opened #6910 "Improve more actions button on the workspace start page when opening in desktop IDEs"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/issues/6841 and https://github.com/gitpod-io/gitpod/pull/6847, we've added a dropdown button with more options besides opening a workspace in VS Code in Browser. Cc @corneliusludmann @akosyakov @JanKoehnlein

The current implementation brings in the following issues:
1. Redandunt right padding on the secondary button (see down chevr

[2021-11-25 23:58] gtsiolis commented on #5336
Closing this since it seems to be no longer relevant.

[2021-11-25 23:58] #5336 closed

[2021-11-26 01:03] U1F984 commented on #1965
I've investigated this for a bit, here's what I found out:

- As mentioned before Bitbucket supports "Application Links". Internally this is using OAuth v1, which is a different protocol to v2 ([docs](https://developer.atlassian.com/server/jira/platform/oauth/))
- The permissions granted are very broad, or at least I can't see any way to scope them apart from read/write (granting access to everyth

[2021-11-26 01:20] hrpatel commented on #6284
Thank you!

[2021-11-26 04:42] shaal commented on #5862
Thank you for fixing this!
I can confirm I am able to make snapshots again.

[2021-11-26 06:39] #6796 closed

[2021-11-26 07:04] #5251 closed

[2021-11-26 07:50] geropl commented on #5862
Thx @gtsiolis , missed the deployment.

[2021-11-26 07:50] jankeromnes commented on #5583
Following yesterday's [discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1637855390120100) (internal), we've decided to discontinue work on this issue (i.e. choosing a template during Project creation) for now, and instead focus on https://github.com/gitpod-io/gitpod/issues/6903 (i.e. opening archives in Gitpod); https://github.com/gitpod-io/gitpod/issues/6904 (allowing repository creatio

[2021-11-26 07:55] jankeromnes commented on #688
In response to @PatMyron in https://github.com/gitpod-io/gitpod/issues/688#issuecomment-691628472:

On Mac OS, using Chrome 95.0.4638.69 (Official Build) (x86_64), I'm able to visit https://github.com/freeCodeCamp/freeCodeCamp and click on the "setup | automated" Gitpod badge (which uses `/from-referrer/`). This works for me.

Is `/from-referrer/` still broken for you? On which repository?

[2021-11-26 08:30] svenefftinge opened #6918 "Allow whitelisting github profiles for prof open-source"
We'd like to proactively whitelist open-source developers, so that when they sign up they are already on the professional open-source plan. The list would probably grow to max 50k entries. It should be enough to update the list through code PRs and deployments. So can be either DB migrations or in-memory (haven't done the math). This should also work for existing sign-ups so I guess we'd basically

[2021-11-26 08:49] akosyakov opened #6919 "remove logging of bearer token from reconnecting websocket"
### Bug description

Right now they are logged as a part of https://github.com/gitpod-io/gitpod/blob/d86242978d0a23efeac7d6c7e5fe6b97d0e69c9f/components/gitpod-protocol/go/reconnecting-ws.go#L221

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-11-26 08:55] svenefftinge opened #7722 "Epic: Start Fresh Projects"
New projects are usually started in a dev environment. Therefore we want to allow starting workspaces that are not connected to a remote git repository. they might be completely empty or seeded based on an archive.

- [ ] https://github.com/gitpod-io/gitpod/issues/6903
- [x] https://github.com/gitpod-io/gitpod/issues/6904
- [x] https://github.com/gitpod-io/gitpod/issues/6906

[2021-11-26 09:08] akosyakov commented on #6904
Also a user can go to GitHub create a repo and follow GH guidance as he will do on local machine? Should not we ship rather than `gh` cli instead: https://cli.github.com/manual/gh_repo_create

[2021-11-26 09:26] akosyakov commented on #6904
Actually VS Code already have something built-in:
- if you don't have git repo yet:
<img width="1904" alt="Screenshot 2021-11-26 at 10 22 45" src="https://user-images.githubusercontent.com/3082655/143557698-3d8a4963-c0ff-4b1d-b7d7-6684660ce7bb.png">
<img width="1904" alt="Screenshot 2021-11-26 at 10 22 55" src="https://user-images.githubusercontent.com/3082655/143557717-d637366b-927c-4d9b-8861-0ff

[2021-11-26 09:27] akosyakov commented on #6904
For GitLab though. We will need to enhance built-in git vscode extension.

[2021-11-26 09:34] corneliusludmann commented on #6903
To be honest, I don't see the use case for opening a workspace with an archive file as context URL. Why should I provide a (template) source code as an archive file instead of a (template) repo? Isn't it pretty cumbersome to maintain and publish an archive file with code instead of publishing a (template) Git repo? I mean, it doesn't need to be a GitHub / GitLab / Bitbucket repo but could be any G

[2021-11-26 09:46] svenefftinge opened #6921 "Always Infer `.gitpod.yml`"
Since we now have the possibility to infer a `.gitpod.yml` and start a workspace with it so that the derived config file is added to the workspace's project folder. I think we can do this always if there is no `.gitpod.yml`.

see also #6922

[2021-11-26 09:50] svenefftinge opened #6922 "Auto generate `.gitpod.yml` from `.devcontainer`"
The `.devcontainer` format is quite similar to `.gitpod.yml` and I believe we have everything handy to read the `.devcontainer` file in cases there is no `.gitpod.yml` and translate it on the fly, so that in a started workspace I'll be greeted with the tasks and dependencies I'm expecting.

[2021-11-26 09:52] corneliusludmann commented on #6919
@akosyakov Do we need the header in the logs at all? Could we remove it entirely? Or should we just remove the bearer token from the header?

[2021-11-26 09:55] akosyakov commented on #6919
I think we should remove it.

@aledbf i think you added it, do you know which info is interesting?

[2021-11-26 10:02] #6820 closed

[2021-11-26 10:09] #6755 closed

[2021-11-26 10:09] #6757 closed

[2021-11-26 10:09] #6801 closed

[2021-11-26 10:15] corneliusludmann commented on #6919
/assign

[2021-11-26 10:38] svenefftinge commented on #6686
FWIW I think we could stay with the current design if we just make the `Continue` button on the individual account always visible and prefill the team with the name of the org (adding a number, when there's a conflict).
Also, I too would be in favor of skipping the entire step when a user imports a personal project.

[2021-11-26 10:38] #5134 closed

[2021-11-26 10:43] #6852 closed

[2021-11-26 11:05] corneliusludmann commented on #6778
Here is an update of my findings so far:
- It's pretty hard to reproduce. I get this in production from time to time but never in a preview env on core-dev. That makes it hard to debug.
- I don't see the behavior @akosyakov described [above](https://github.com/gitpod-io/gitpod/issues/6778#issuecomment-979067746). I always see both logs `auto-exposing port` and `auto-exposed port`, even in the work

[2021-11-26 12:23] akosyakov commented on #6900
I don't oppose it, since current folder context is not really useful. What surprised me though today that I cannot change a folder in IntelliJ which what actually devs do while working on mono repos or just checking out another repo. I think we need to clarify with JetBrains whether it would be possible from client to open another project or folder. If not I guess we will need to think about the s

[2021-11-26 12:34] Johnzzon commented on #6342
Updating with discord tag: `johnzzon#7058`

[2021-11-26 12:59] j0nes2k opened #6927 "Docker Images not being built after merge back to master"
### Bug description

When making changes to the gitpod.Dockerfile in branches, docker containers are being built for each change in this file. When merging this branch back to master, the docker containers are not being built on master.

We are using a hosted environment on gitlab.com, if that makes a difference.

### Steps to reproduce

- create new branch from master
- change something in `.gitp

[2021-11-26 13:20] corneliusludmann opened #6928 "Add desktop IDE port to supervisor internal ports"
In `supervisor`, we pass a [list of internal ports](https://github.com/gitpod-io/gitpod/blob/70bb65bc051bc69d426e63db1e2510437b045f34/components/supervisor/pkg/supervisor/supervisor.go#L207-L209) to the [port manager](https://github.com/gitpod-io/gitpod/blob/70bb65bc051bc69d426e63db1e2510437b045f34/components/supervisor/pkg/ports/ports.go#L30). This also includes the port where the IDE is listenin

[2021-11-26 13:27] akosyakov commented on #6928
Yes, i think so, that it does not pop up in ports view and does not get auto exposed/tunneled. 👍

[2021-11-26 13:52] kiview commented on #6342
Please add me: `Kiview#1902`

[2021-11-26 14:01] avinashupadhya99 commented on #6877
![image](https://user-images.githubusercontent.com/52544819/143592150-4b4fcfc8-c76e-4ecf-9c51-29eb59a8e8a1.png)

[2021-11-26 14:36] csweichel commented on #6851
This should always be true. We introduced the flag during development of the local app.

[2021-11-26 14:38] csweichel commented on #6867
/team meta

This would affect meta and how that configuration is consumed.

[2021-11-26 14:40] JanKoehnlein opened #6929 "[db] remove FORBIDDEN_SLUGS"
Now that we have a dedicated slug (/t/:team) for teams (see #5544), maybe there's no need to use a fixed list of forbidden slugs and we could potentially remove the [FORBIDDEN_SLUGS](https://github.com/gitpod-io/gitpod/blob/5d751e330d37680e6b6ab5cf6ef7b5e9496f71be/components/gitpod-db/src/typeorm/team-db-impl.ts#L19) list.

See also https://github.com/gitpod-io/gitpod/pull/6878#issuecomment-979995

[2021-11-26 14:49] AlexTugarev commented on #6867
@iQQBot, it's the Setup [page](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/Setup.tsx) which is meant here. It allows you to setup an Git Integration right after deployment when no auth provider is provided by configuration. That used to be our self-hosted path, as it allows to set up OAuth more user friendly.

👍🏻 for converting those to secrets.

[2021-11-26 14:50] #6600 closed

[2021-11-26 14:54] MrSimonEmms commented on #6867
Not sure if this would be applicable, but I did something very similar in `content-service-api` in #6777. I added an additional `AccessKeyIdFile` and `SecretAccessKeyFile` param to the config - if they're set, the constructor reads the contents from the specified file and sets to `AccessKeyID` and `SecretAccessKey`. I wonder if a similar approach could be followed here?

That way, it keeps the sam

[2021-11-26 15:00] fiveable-jferg commented on #6342
I would love to try this out: fiveable-jferg@9866

[2021-11-26 16:16] codemzy opened #6930 "Struggling to turn making port private on and off"
### Bug description

Sometimes I need to make a port public just for a short time, the only way I have found to do this (once the port has been exposed after the first time and the pop-up in the bottom right doesn't appear anymore) is the little padlock symbol next to the port. Clicking it off and on rarely works for me, it will just stay the same status. And sometime it will say it's public but i

[2021-11-26 16:20] codemzy opened #6931 "Closing workspace UX seems to be broken"
### Bug description

For the last week or so, closing a workspace seems to be buggy, sometimes, the status page that comes up will say something like 'Starting workspace' when it's actually closing it. And if I go to my workspace dashboard it will say it has stopped running but that workspace status page won't update to 'stopping' or 'stopped' like it used to.

### Steps to reproduce

Close a work

[2021-11-26 16:21] #5573 closed

[2021-11-26 16:21] #6435 closed

[2021-11-26 16:43] PatMyron commented on #688
96.0.4664.55 (Official Build) (arm64)

[2021-11-26 16:52] jgallucci32 commented on #1965
What about Crowd, does that support OAuth v2? A lot of orgs use crowd for SSO which has native Bitbucket Server integration.

Alternatively, there is a workaround in the wild to get Keycloak to act as a GitLab Auth endpoint for Mattermost (search for blog online for how to do it). So what if rather than support Bitbucket the goal to be to support a more general OAuth app like Keycloak which can al

[2021-11-26 17:17] MrSimonEmms opened #6932 "[Self-hosted]: cannot search users/workspaces without enterprise license and error is console only"
### Bug description

When I go to `/admin/users` in my self-hosted instance and click "search", I'm not able to search without an enterprise license. Whilst this is fine, the error only appears in the console.

It would be nice to have the error in the actual dashboard - an alert-style error

![image](https://user-images.githubusercontent.com/275848/143614298-4d311531-147e-452a-8dc0-1a17b1210a07.p

[2021-11-26 20:55] kylos101 commented on #6851
Okay, I'll include in #6827 and set it [here](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/components/server/configmap.go#L52). Thanks!

[2021-11-26 21:58] UnrealApex opened #6934 "Adding Atom as One of the Available Editor Choices for Gitpod"
It would be nice if Atom could be one of the editor choices for Gitpod.

[2021-11-27 01:33] kylos101 opened #6936 "[installer] - ghosts created in AM terminate on image pull"
This was observed in #6808 while using the Installer in core-dev to create preview environments.

Ghost pods are created AM (UK time) but terminate with an image pull error.

CC: @MrSimonEmms @csweichel

[2021-11-27 01:35] kylos101 commented on #6936
/team workspace

[2021-11-27 05:10] shaal commented on #4456
@XBeg9 @ntziolis Yes, this works 100%.

But I did not try this with a team.
When I manually run prebuild, or when I push a commit and prebuild runs automatically, it's reading the environment variables that are saved in my Gitpod user account.

If it couldn't read the environment variables, it wouldn't be able access the Google Cloud Storage.

[2021-11-27 08:32] ntziolis commented on #4456
@shaal Interesting, I wasn't aware that running prebuilds manually was possible. Turns out this seems to be due to us using github. The gitpod prebuild registration process for gitlab/gitbucket seems to include an additional step of running the initial prebuild manually to register the necessary hooks, I found this info [here](https://www.gitpod.io/docs/prebuilds#on-gitlab).

I think that's very i

[2021-11-27 08:32] jjjack1 commented on #2041
anyone help me to connect to my own url? not gp url

[2021-11-27 09:17] #6919 closed

[2021-11-27 10:45] jankeromnes commented on #688
Thanks for confirming @PatMyron. Can you share the repository URL?

(Note: If your repo is private, GitHub does not send referrer information, so `/from-referrer/` will not work. Hard-coding the repository URL is a good workaround when `/from-referrer/` doesn't work.)

[2021-11-27 11:19] ghuntley opened #6939 "Request registerGithubApp failed with message: ER_DUP_ENTRY: Duplicate entry 'github-20960233-claimed.user' for key 'PRIMARY'"
### Bug description

Request registerGithubApp failed with message: ER_DUP_ENTRY: Duplicate entry 'github-20960233-claimed.user' for key 'PRIMARY'

### Steps to reproduce

1. Created new GitHub Org (securitytxt)
2. Installed Gitpod app into securitytxt
3. This happend

<img width="1151" alt="2021-11-27_21-18-16" src="https://user-images.githubusercontent.com/127353/143679042-19abb44d-541e-4d00-b6d

[2021-11-27 11:31] csweichel opened #6940 "[ws-manager] cdwp affinity test is flakey"
### Bug description

See https://werft.gitpod-dev.com/job/gitpod-build-main.1922

This test normally passes but fails occasionally. Probably because the order in the expressions array is not stable.

### Steps to reproduce

Run enough builds

### Workspace affected

_No response_

### Expected behavior

It should not fail like this.
We could enforce a stable order while merging the pod template an

[2021-11-27 11:31] csweichel commented on #6940
/schedule

[2021-11-27 12:31] jldec commented on #4977
This feels broken.

I believe this only applies during the very first workspace start. If you stop and then restart a workspace, the download will return the last saved state even while the workspace is running.

[2021-11-27 15:08] sahil48 opened #6942 "Add a button to quickly access the command pallet for smartphones and tablets"
## Is your feature request related to a problem? Please describe
The iPad and iPhone virtual keyboard do not have shortcut buttons (ctrl, alt, cmd). As a result, it not possible to use keyboard shortcuts without a connected bluetooth keyboard.

## Describe the behaviour you'd like
An easy to click button to access the command pallet (https://www.alphr.com/open-command-vs-code/) to make it easier t

[2021-11-27 16:51] #5247 closed

[2021-11-27 16:51] #5263 closed

[2021-11-27 17:13] #6940 closed

[2021-11-27 17:18] iQQBot opened #6943 "[werft] no-test flag is broken"
### Bug description

[werft] no-test flag is broken

### Steps to reproduce

see https://github.com/gitpod-io/gitpod/pull/6937

### Workspace affected

_No response_

### Expected behavior

no run test

### Example repository

_No response_

### Anything else?

_No response_

[2021-11-27 21:57] pawlean commented on #2041
As in local host? https://www.gitpod.io/docs/editors/vscode

[2021-11-27 21:59] pawlean commented on #6934
Thanks for the feature request!

I don't think we'll be supporting Atom any time soon, but we appreciate your feedback and support.

FWIW, you might want to check out what else is coming up for Gitpod support [here](https://www.gitpod.io/docs/editors).

[2021-11-27 22:03] pawlean commented on #6614
Thanks for leaving this bug report! I can confirm that I was able to replicate this. Our team will look into this when they can, thanks for supporting Gitpod!

[2021-11-27 22:35] ghuntley opened #6945 "Dashboard project configuration journey for .NET results in failure"
### Bug description

The Gitpod dashboard provides instructions on how to configure a .NET project which does not work due to https://github.com/gitpod-io/gitpod/issues/6460

### Steps to reproduce

See https://twitter.com/firstdrafthell/status/1464637394393739274?s=20

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything

[2021-11-27 22:35] shaal commented on #4456
@ntziolis yes, when I push commit to a branch, it automatically triggers a prebuild run (which is set at bottom of `.gitpod.yml`), and it can read my user variables.
I do not know how it does it, or what will happen when someone else will try running it (I would guess and hope it will look into who's the user that pushed the commit, or triggered the manual prebuild)

[2021-11-28 00:28] jjjack1 commented on #2041
I bought url domain for anyone who can be accessed to my homepage

[2021-11-28 09:48] ghuntley commented on #5090
Hey folks,

Have some great news. Gitpod has almost moved off GKE. We are currently running a canary deployment of new infrastructure and are at 40% load. Within the next couple days, we will be 100% out of GKE. If your workspace opens in http://ws-prod-ws-us19.gitpod.io .http://ws-prod-ws-eu19.gitpod.io then you are on the new infrastructure which resolves this problem.

[2021-11-28 10:15] josepjaume commented on #6342
I'd like to be part of the beta, please:

josepjaume#0870

[2021-11-28 12:29] ghuntley commented on #6945
Closing this out as it won’t be an issue in a couple of days.

[2021-11-28 12:29] #6945 closed

[2021-11-28 14:48] rfay commented on #6446
I just tested and with current gitpod, host-gateway doesn't work at all. None of the intent of this issue seems to have been dealt with.

* Running a container with `docker run --add-host host.docker.internal:host-gateway` does not result in a `host.docker.internal` that is reachable from inside the container.
* No docker0 interface was added either.
* The one thing that did change is that `docker

[2021-11-28 16:44] rfay commented on #6446
Thanks for the reply!

I guess I could say it would help to know about `experimentalNetwork`. Is it in docs anywhere? Wasn't mentioned here was it?

When/how will it become non-experimental?

[2021-11-28 19:33] jldec commented on #6903
How about renaming this issue "template context URLs" and starting with the simplest design for template maintainers/publisher first, which I think would be a link to a public repo (on a supported git provider).

I would expect the url to be able to point to a branch (HEAD) or a tag/commit (SHA) for templates just like we do for for workspaces.

Since adding support for private repos is probably t

[2021-11-28 21:07] jldec commented on #6906
This feels like a joint effort, interfacing from inside the IDE to the Gitpod server/api to create a project with a repo which includes .gitpod.yml configuration.

[2021-11-28 23:26] bxthomas opened #6950 ".NET Core "blazor server" project exits on debugging"
### Bug description

Using a basic blazorserver project created with the command "dotnet new blazorserver" and with the standard .NET 6 .gitpod.Dockerfile and .gitpod.yml added to the project, everything works correctly except for when launching with VS Code's inbuilt debugging.  The debugging proceeds as normally until "app.Run" and then the process exits.  Note that launching the process from th

[2021-11-29 00:15] #5301 closed

[2021-11-29 00:16] #5284 closed

[2021-11-29 00:48] ghuntley commented on #6950
👋 @bxthomas have you applied the workarounds at https://github.com/gitpod-io/gitpod/issues/5090#issuecomment-981054892? By the end of the week you won't need them but for now it's needed.

[2021-11-29 00:49] ghuntley commented on #1965
Thank you for going down the rabbit hole and providing your research!

[2021-11-29 07:14] wulfthimm commented on #5317
@iQQBot , you need to be added to a group and @meysholdt has the permission to do that, I do not, sorry.

[2021-11-29 07:49] akosyakov commented on #5412
I think it was done partially. We can have an event now when someone shares the workspace. It would be good also to have an event when someone joins the shared workspace, i.e. owner is not a user in VS Code extension.

[2021-11-29 07:53] akosyakov commented on #6601
@corneliusludmann Should we track adding a caddy proxy for IDE team serving IDE icons under this issue as well or create another issue?

[2021-11-29 09:01] corneliusludmann opened #6955 "[ide] Serve IDE logos independently of the dashboard"
With #6601, we are on a path to deploy IDE options independently from dashboard resp. server. For this, we also need a way to deploy IDE logos for the preferences page.

Possible solutions:
1. Deploy a dedicated web server (e.g. Caddy) that serves the logos. This web server may also get more tasks in the future.
2. Store the SVG directly in the IDE config map. Downside: Would make the config map m

[2021-11-29 09:02] corneliusludmann commented on #6601
→ https://github.com/gitpod-io/gitpod/issues/6955

[2021-11-29 09:15] csweichel opened #6956 "Enable ephemeral storage limits"
Enable ephemeral storage limits using XFS and `LocalStorageCapacityIsolationFSQuotaMonitoring` feature gate. See [here](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-emphemeralstorage-measurement-1) for more details.

[2021-11-29 09:19] akosyakov commented on #2041
@jjjack1 Could you create a new issue please? And provide more details. What are you doing, what do you expect and what goes wrong pelase.

[2021-11-29 09:25] corneliusludmann opened #6957 "[openvsx-proxy] Remove `/debug/vars` endpoint"
The OpenVSX proxy exposes the endpoint `/debug/vars`. It seems that the `expvar` package that is used by the Prometheus go client library automatically exposes this [[1](https://groups.google.com/g/golang-codereviews/c/RSef7RQq9F4), [2](https://github.com/dgraph-io/badger/issues/1002)].

In production, we currently prevent exposing this endpoint via the load balancer. However, on the long term, it

[2021-11-29 10:03] jldec commented on #6826
/schedule

[2021-11-29 10:03] roboquat commented on #6826
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-981474239):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-29 10:07] loujaybee opened #6959 "Augment analytics data with auto-incrementing workspace number"
There is no easy way to see usage of the 1st, 2nd, 3rd (etc) workspaces launched by a user for the purposes of analytics (e.g. visualize the events/features that a user is interacting with on each subsequent visit to a workspace). This would enable us to build a retention graph similar to the one in the insights report [1]. It would useful if this value could be added as property on existing analy

[2021-11-29 10:11] loujaybee opened #6960 "Investigate Mixpanel sessions on per-workspace basis"
Currently, Mixpanel appears to only allow a session to be tracked on an overall user basis, rather than on a per-workspace basis, the purpose of this issue is to investigate whether it would be possible to create visualisations on a single workspace basis, which is useful for onboarding, and what changes we'll need to make this possible.

Outstanding:

- [ ] Contact support regarding the use-case

[2021-11-29 10:17] laushinka commented on #6351
/assign

[2021-11-29 10:31] laushinka commented on #6351
@gtsiolis Is the "Reload Data" button used a lot / helpful? Maybe related to the previous point? 👇🏼

@gtsiolis The link didn't direct me to a comment regarding reload data, though.

[2021-11-29 10:38] #6513 closed

[2021-11-29 10:42] #5332 closed

[2021-11-29 10:44] LEDlastchance commented on #6959
I understand I apologize for any trouble. My account was hacked by someone in your outfit. Someone who stole my real business name to make smut over seas with it while I worked my butt to the bone and took care of her helped her get her kids back. That's the truth. It's already being looked into by Grit, Google, Facebook,and also my federaly insured AND PROTECTED invoice program and app. And I rea

[2021-11-29 12:23] jankeromnes commented on #6727
Proof-of-concept:

https://github.com/gitpod-io/gitpod/commit/87df2ee4e23b179b5437ccbd61a5ee4beb12b549

<img width="1434" alt="Screenshot 2021-11-29 at 13 23 05" src="https://user-images.githubusercontent.com/599268/143867553-081a8cc8-13bb-4b73-89b6-8d9f46006ee6.png">

[2021-11-29 12:39] gtsiolis commented on #5114
Removing assignee until we pick this up again. See also closed PR in https://github.com/gitpod-io/gitpod/pull/5126. Cc @jldec

[2021-11-29 12:41] gtsiolis commented on #3403
Removing assignee until we pick this up again. Cc @jldec

[2021-11-29 12:41] gtsiolis commented on #4465
Removing assignee until we pick this up again. Cc @jldec

[2021-11-29 12:59] gtsiolis commented on #6351
@laushinka the button was added because we currently do not fetch in background new data in the page, see comment in https://github.com/gitpod-io/gitpod/pull/3723#discussion_r606983903. Oh, just noticed the link is not working. It seems there are some console log errors when loading https://github.com/gitpod-io/gitpod/pull/3723#discussion_r606983903 which could be related. I'm attaching the screen

[2021-11-29 13:34] sakurayang commented on #6342
I am also interested in it, please:

`Gerardyang#7694`

[2021-11-29 14:06] laushinka commented on #6351
Yes, agree! Did that [in the PR](https://github.com/gitpod-io/gitpod/pull/6962) 🙏🏼

[2021-11-29 14:18] yeongsheng-tan commented on #6342
I would like to be in the game toooooooo…

[2021-11-29 14:47] rjayasinghe commented on #6342
Please add me ☺️

[2021-11-29 15:02] edwarnicke commented on #6342
Please add me :)

Discord username: edwarnicke#0840

[2021-11-29 15:08] ItCameFr0mMars commented on #6342
Guys you can try it out here:
https://github.com/gitpod-io/template-jetbrains-intellij-idea
it works pretty well.

[2021-11-29 15:35] csamak commented on #6342
I'd also like to try it: `Quail#6102`

[2021-11-29 15:58] JohannesLandgraf commented on #6342
Not quite correct :) In the private beta you can connect a Gitpod container via Jetbrains' Gateway product to your local Jetbrains IDEs. The link you are referencing refers to their Projector implementation.

[2021-11-29 16:20] ItCameFr0mMars commented on #6342
I see, I thought that everyone was missing out lol. Anyways I'd love to test the beta
My discord: `ItCameFr0mMars#6559`

[2021-11-29 16:22] geropl opened #6965 "`code new-file` no longer creates a new file and opens an editor"
I as a user expect `code new-file` to create `new-file` and open an editor on it like it did in the past.

![image](https://user-images.githubusercontent.com/32448529/143904462-8b027bb6-8269-4c70-a497-04a3663fb08a.png)

[2021-11-29 16:24] inistor commented on #6342
I'd love to git it a try, too. Please add me - thanks!

[2021-11-29 17:33] loujaybee opened #6967 "Allow access to Gitpod as an authenticated user"
**Context:** Having a method of cloning / starting a project in an unauthenticated manner can value to users onboarding. Via a non-authenticated flow, we can present to the user upfront how Gitpod works and brings value to them before they are required to hand over their login credentials, this is especially relevant to apps like Gitpod that handle access to sensitive information.

There are many

[2021-11-29 17:36] loujaybee commented on #6904
Thanks for raising @jankeromnes !

This feels a little like we're solving a problem we think users will have. I agree with @akosyakov here that there are ways to do this within VS Code (if the user is versed) or via the old-school terminal approach.

I think it's best to proceed with this issue by lifting the restriction around requiring a repo to clone, and then assess if users do struggle with t

[2021-11-29 17:57] loujaybee commented on #6906
Thanks for the issue @jankeromnes ! 🙏

I think this makes sense. Since prebuilds are in my mind, an optimization of an existing configuration (e.g. `init`), without an existing configuration, a prebuild appears (from a user perspective at least) to bring no value. So I think it makes sense to defer until the user has understood what gitpod is, and what the YAML file / configuration is before we as

[2021-11-29 18:24] csweichel commented on #6956
/schedule

[2021-11-29 18:24] roboquat commented on #6956
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6956#issuecomment-981897509):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-29 18:38] loujaybee opened #6969 "Rearrange `/new` team page to make "option" between personal/team more prominent"
Currently, when creating a project via the `/new` flow, the user is given a choice about whether to create a new team or not.

Findings from usability testing:
* Users are not aware that this page is a choice (most did not notice/find the personal project option)
* Users are not aware of the benefits that a team brings them
* Users are entering arbitrary / random team names to "speed up" the step

[2021-11-29 19:07] loujaybee commented on #6686
Relates to: https://github.com/gitpod-io/gitpod/issues/6969

[2021-11-29 19:20] gtsiolis commented on #6969
Thanks for opening this and providing the low-fidelity mockup, @loujaybee!

FYI, we're currently working on updating this page in https://github.com/gitpod-io/gitpod/issues/6686. Posting below an early draft in case it helps that is also using familiar patterns and components across the product. Feedback is welcome. Cc @jankeromnes @jldec

| Early draft for team selection designs |
|-|
| <img widt

[2021-11-29 19:38] jeanp413 commented on #6965
Took a look and it seems it's a regression from this PR https://github.com/microsoft/vscode/pull/136359
Will create an issue upstream later today maybe with fix

[2021-11-29 19:44] loujaybee commented on #6342
Hey folks! It seems the cat is well and truly out of the bag on this one! [[1](https://en.wikipedia.org/wiki/Letting_the_cat_out_of_the_bag)] 😆 , with the recent JetBrains announcements for remote development: https://www.jetbrains.com/remote-development 🚀

Also see our Tweet: https://twitter.com/gitpod/status/1465324008950353926?s=20

You'll be pleased to know that the JetBrains beta is available

[2021-11-29 19:44] #6342 closed

[2021-11-29 21:09] gtsiolis commented on #6710
Closing this as seems to be resolved with the deployed changes in https://github.com/gitpod-io/gitpod/pull/6747.

[2021-11-29 21:09] #6710 closed

[2021-11-29 22:12] loujaybee commented on #6300
Some additional use-cases for extended timeouts, or greater configuration/control around timeouts.

* Companies who are passing the dev environment about between users, e.g. QA (it could be argued here, that the better option for the user might be to try and ensure environments have all the necessary configuration within them, rather than requiring longer static environments).

Also related [inter

[2021-11-29 22:50] loujaybee opened #6974 "Implement analytics on Gitpod browser extension usage"
Track how many users are using the Gitpod browser extension. This tracking can be added by appending a query parameter to all URL's which come from the browser extension, registering the event, then cleaning up the URL.

[2021-11-29 23:02] pocky commented on #6342
Hello,

If you want to add phpstorm to the list, I will happily test it! :smile:

My discord username: pocky#2708

[2021-11-29 23:48] jldec commented on #6840
I believe this is by design - "Connect Git repository" should mean the same thing to authed vs. unauthed users.

[2021-11-29 23:49] jldec commented on #6840
![Screenshot 2021-11-29 at 23 49 12](https://user-images.githubusercontent.com/849592/143960631-8ffa8655-f77f-4132-b8c2-18be67c0994f.png)

[2021-11-30 04:27] #6522 closed

[2021-11-30 04:27] AaronBeaudoin commented on #6522
Discovered the root problem and made a separate more targeted issue.

[2021-11-30 07:29] iQQBot opened #6976 "workspace does not recycle zombie processes"
### Bug description

workspace does not recycle zombie processes

### Steps to reproduce

use leeway build, you can see lot of zombie processes
![image](https://user-images.githubusercontent.com/8299500/144004315-f40d4a42-ae34-4a08-b1e5-98dd477d868f.png)

### Workspace affected

_No response_

### Expected behavior

recycle zombie processes

### Example repository

_No response_

### Anything else

[2021-11-30 07:49] #6626 closed

[2021-11-30 07:56] geropl commented on #6351
(context: [PR review](https://github.com/gitpod-io/gitpod/pull/6962#pullrequestreview-818660469))

Besides the button will also need to adjust the proxy route `/workspace-download/get/<wsId>`. Because of CORS we need it to be a transparent proxy, but atm it only does "lookup + redirect" ([config](https://github.com/gitpod-io/gitpod/blob/6954bbdfe70f531625af16cb5ebb2b37ee52b974/components/proxy/con

[2021-11-30 08:00] laushinka commented on #6351
@geropl Sounds great! Let's have a quick call on this 🙏🏽

[2021-11-30 08:30] MrSimonEmms opened #6979 "Wire up the `ImagePullSecrets` for Gitpod components"
The Installer `config.yaml` contains a `imagePullSecrets` key which is an array of pull secrets to be used when pulling images by deployments etc. Ensure that this property is wired up in all Gitpod components (ie, not external dependencies from Helm)

[2021-11-30 08:34] akosyakov commented on #6300
Have you tried snapshots instead: https://www.gitpod.io/docs/sharing-and-collaboration#sharing-snapshots. It will take the snapshot of your current workspace which can be later instantiated by any user async. In such way you don't need to share running workspace.

[2021-11-30 08:38] akosyakov commented on #6957
Does it go away if we put OpeVSX Proxy behind caddy proxy eventually? i.e. we could prohibit debug endpoint there?

[2021-11-30 08:40] akosyakov commented on #6934
@UnrealApex as far as I know atom does not have support for remote development like VS Code. I can only imagine that you use sftp to mount filsystem locally and work on it. You can already achieve it via the local companion: https://www.gitpod.io/blog/local-app

[2021-11-30 08:57] akosyakov commented on #6905
Hm, are you sure that we don't have it. In code it looks like all events in VS Code already have it.

[2021-11-30 09:00] akosyakov commented on #6233
I think it is already done by @jeanp413 ?

[2021-11-30 09:05] akosyakov commented on #6678
dup of https://github.com/gitpod-io/gitpod/issues/3059

[2021-11-30 09:05] #6678 closed

[2021-11-30 09:27] laushinka commented on #6351
After discussion with @geropl, we have two tasks for this issue:

- [ ] Add download button to admin dashboard
- [ ] Adjust the [workspace download route config](https://github.com/gitpod-io/gitpod/issues/6351#issuecomment-982373095)

[2021-11-30 10:28] jldec commented on #6826
Related issue https://github.com/gitpod-io/gitpod/issues/4696 brought up 2 edge-cases

1. user with integrations for 2 providers, arrives at login for prefixed repo on provider1, chooses provider2 in login UI
2. user with integration for provider1, arrive at login for prefixed repo on provider2

[2021-11-30 10:53] loujaybee opened #6980 "Add analytics to understand user-based configurations"
This ticket is to track the configurations a user might make to their own editor when they get set up. This is interesting as we'll be able to see:

* Do users bounce before installing extensions?
* Do users realise they can configure their environment?
* Can the users find all the extensions that they want/need?

## User settings (settings.json)

This covers things like: fonts, themes, etc.

## E

[2021-11-30 10:57] loujaybee commented on #6980
@filiptronicek, @jeanp413, @akosyakov, @corneliusludmann do you have thoughts you can add here? How possible are the above data points to gather? Are there any solutions I'm overlooking?

[2021-11-30 11:26] loujaybee opened #6981 "Implement analytics on file opening events in VS Code"
As part of onboarding, we need events that define when a user has achieved recognition of the "read-only" aspects of Gitpod. A reasonable heuristic at this point would be to see if the user has interacted with the directory structure and/or the file system. This ticket is to instrument these events within VSCode to see when a user has opened a workspace and explored the internal file structures.

[2021-11-30 11:37] loujaybee commented on #6969
@gtsiolis ! Thanks so much for iterating on the design 🙏 Yeah 100% I tried to deliberately make the mock up low(er) fidelity (on reflection: using hand-drawn UI components would make this distinction clearer).

The mockup you provided does meet most of my original ideas / thoughts 🚀

One area that it doesn't meet though, is that we're still not providing any context to the user about _why_ they sh

[2021-11-30 11:44] gtsiolis commented on #5334
Looping in @jldec based on our discussion around scrolling within the repository selection area.

[2021-11-30 11:52] csweichel commented on #6930
May be related to https://github.com/gitpod-io/gitpod/issues/6778
Looks like the `openPort` request does not always succeed.

[2021-11-30 11:56] csweichel commented on #3258
Fixexd by now using the `experimentalNetwork` flag

[2021-11-30 11:56] #3258 closed

[2021-11-30 11:57] gtsiolis commented on #5350
Marking as never stale and looping in @jldec for visibility. Pasting below an early draft from past discussions.

| Early draft for prebuild increment |
|-|
| <img width="1440" alt="Prebuild" src="https://user-images.githubusercontent.com/120486/144043116-5738e806-cdfe-4c94-ae6b-3bebcbb52286.png"> |

[2021-11-30 11:58] gtsiolis commented on #5351
Looping in @jldec for visibility.

[2021-11-30 11:59] akosyakov commented on #6980
Maybe we can instrument OpenVSX proxy instead to analyze query requests? The thing is that OpenVSX is not complete, i.e. we have extensions in the service account which are still not published because of build failure, but they are popular in MS marketplace like `vsciot-vscode.vscode-arduino`. I think we would like to know whether even user tried to search for extension.

[2021-11-30 12:01] gtsiolis commented on #5343
This seems to be half-resolved now. However, we still need a basic empty list placeholder when there are not results.

Re-posting the proposal:

Also, updated the issue title to be more specific about the other half of this proposal.

Cc @jldec based on our last discussion on search, see [relevant notes](https://www.notion.so/gitpod/Meta-J-rgen-x-George-bd1c65cca0c44c63ada29186ec0a957d#5726a347813

[2021-11-30 12:01] akosyakov commented on #6980
Sounds like https://github.com/gitpod-io/gitpod/issues/5601.

[2021-11-30 12:08] jankeromnes commented on #5351
Yes 👍 happy to add these.

[2021-11-30 12:13] jankeromnes commented on #6156
Based on https://github.com/gitpod-io/gitpod/issues/6156#issuecomment-951652677, removing this again from groundwork, for now.

[2021-11-30 12:13] gtsiolis commented on #5067
Cc @jldec for visibility.

[2021-11-30 12:18] jankeromnes commented on #6391
Many thanks for the in-depth debugging of how prebuilds work! 🙏

Based on https://github.com/gitpod-io/gitpod/issues/6391#issuecomment-977762407, removing temporarily from Groundwork, although I agree we should fix these problems if they still occur.

Additionally, I agree that it would be better to have separate issues for separate problems, in order to know which problems are already solved and

[2021-11-30 12:31] JanKoehnlein commented on #6642
We rolled back the fix as the solution seems to be more difficult that initially thought. @geropl please remove this issue from groundwork if you're not going to give this a second shot in the next week.

[2021-11-30 12:33] JanKoehnlein commented on #6903
Rescheduled for Q1 2022

[2021-11-30 12:39] jankeromnes commented on #6903
In case it's helpful, here is my work-in-progress branch (re-)implementing archive context URLs: https://github.com/gitpod-io/gitpod/tree/jx/archive-context

When I last tested it, it was missing a custom content initializer:

<img width="615" alt="Screenshot 2021-11-30 at 13 38 03" src="https://user-images.githubusercontent.com/599268/144048713-f7ee8bd1-522b-48e4-acf4-09107260c7b4.png">

It was b

[2021-11-30 12:41] JanKoehnlein commented on #5115
/schedule

[2021-11-30 12:41] roboquat commented on #5115
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5115#issuecomment-982599715):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-30 12:42] JanKoehnlein commented on #6743
/schedule

[2021-11-30 12:42] roboquat commented on #6743
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6743#issuecomment-982600288):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-30 12:44] jankeromnes commented on #5583
In case this is helpful in the future, here is my work-in-progress branch implementing a "create a repository from a template repository" feature:

https://github.com/gitpod-io/gitpod/pull/6850

https://github.com/gitpod-io/gitpod/compare/jx/project-templates

https://github.com/gitpod-io/gitpod/commit/6b081ddd0796b9d37c773fec2081b8cea28192c4

It's able to successfully create new repositories from

[2021-11-30 12:49] JanKoehnlein commented on #4977
I am inclined to always disable the download button if the workspace is running, as the user might expect the current state not the last backup. Unfortunately, this is often the last resort  to get at least some data when workspaces are not stopping for whatever reason. Maybe labeling it "Download (latest) backup" would be better and disabling if there is no backup?

[2021-11-30 12:51] JanKoehnlein commented on #5351
/schedule

[2021-11-30 12:51] roboquat commented on #5351
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5351#issuecomment-982607142):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-30 12:53] mfulton26 commented on #6300
In my use case during a technical interview I don't want the candidate to have a link they can share with others for the coding problem after the interview and I want access to the code the candidate wrote after the interview so unless there is a way to invalidate a snapshot URL I think for some use cases sharing a running environment is best.

[2021-11-30 12:56] gtsiolis commented on #4977
Agree. We could disable and provide some context on why the button is disabled through a tooltip or a label inline.

Alternatively, we coud remove the download button when downloading is not possible.

FWIW, we have a similar but lower-impact situation when deleting workspaces in `PREPARING` phase, see https://github.com/gitpod-io/gitpod/issues/4173 and https://github.com/gitpod-io/gitpod/pull/518

[2021-11-30 12:59] JanKoehnlein commented on #6939
Dupe of #6421

[2021-11-30 12:59] #6939 closed

[2021-11-30 13:01] JanKoehnlein commented on #6932
@jldec Shouldn't we rather disable the `admin` routes for non enterprise installs?

[2021-11-30 13:07] jankeromnes commented on #5351
Woohoo! Rock'n'roll 😎

[2021-11-30 13:08] jankeromnes commented on #5351
/assign

[2021-11-30 13:12] jankeromnes commented on #5351
TODO:

- [x] Loading indicator for _Branches_
- [ ] Loading indicator for _Prebuilds_
- [ ] Loading indicator for _Prebuild_

Could also be worth it:

- Loading indicator for _Projects_ (to avoid the single-reshuffle of all projects when the latest prebuilds are fetched)

[2021-11-30 13:26] geropl commented on #6785
Here a quick summary of outcomes that we deem separate from this issue but still come up during our work:

Meta Overview:
 - [ ] add DB CPU graphs (source: gcloud) (platform issue: https://github.com/gitpod-io/observability/issues/31)
 - [ ] API response times (+ on server dashboard!) (source: add prometheus metric)

Meta Services:
 - [ ] add graphs for log rates (error/warn/info) (source: either

[2021-11-30 13:26] gtsiolis commented on #5351
Yes, this was also briefly mentioned in a past meta team meeting.

A loading indicator could be a good MVC but a skeleton loader could be even better for the Projects and Prebuild pages due to page structure.

[2021-11-30 13:47] geropl commented on #6785
Last pieces:
 - [Rollback notes](https://www.notion.so/gitpod/How-to-Rollback-Meta-Deployments-5321dfb659a24259b950e106b8ead821) (to be verified/proof read)
 - extended [deployment template](https://www.notion.so/gitpod/Meta-Deployment-Log-7ec4a522d6bb4e72ba30477d3904ff67) with:
    - hint to how-to-rollback
    - post deployment checks for metrics

[2021-11-30 13:47] #6785 closed

[2021-11-30 13:55] aledbf commented on #6956
/assign

[2021-11-30 14:14] jeanp413 commented on #6233
Yes, this is done, I'm close this.

[2021-11-30 14:15] #6233 closed

[2021-11-30 14:15] #6601 closed

[2021-11-30 14:17] csweichel commented on #5198
More [details in the RFC](https://www.notion.so/gitpod/dotfiles-in-Gitpod-workspaces-b46b8723e9fe4efdbede72daa311961f)

[2021-11-30 14:36] jeanp413 commented on #6965
This is already fixed upstream https://github.com/microsoft/vscode/commit/950423beced7ceb28062c7377c8271bbfd54b762
Should be fixed in tomorrow's insiders.

[2021-11-30 14:52] JanKoehnlein commented on #6743
/assign

[2021-11-30 15:01] aledbf commented on #5090
Closing. We are now 100% out of GKE. So this is not an issue anymore.
No workaround is needed.

Also, apologies for the time it took to fix this issue.

[2021-11-30 15:01] #5090 closed

[2021-11-30 15:01] aledbf commented on #6950
Closing. We are now 100% out of GKE. So this is not an issue anymore.
No workaround is needed.

[2021-11-30 15:07] jldec commented on #6686
Notes from sync with @jankeromnes and @gtsiolis

- Decision is to use a single-click in-list selection model (A) instead of 2-step select + [Continue] (B)
- Each list item has a small indicator to help users understand that it is selectable (part of the list) and shows the selection state.
- List items can be selected without any button showing on hover
- The last item "New Team" can show an input

[2021-11-30 15:14] #6643 closed

[2021-11-30 16:19] SirLemyDanger commented on #6756
The problem might me docker. I am on a k3s cluster and I have configured my cluster to transparently pull images from eu.gcr.io via a private registry. The resulting image name, although not downloaded from eu.gcr.io directly still starts with eu.gcr.io.

So an alternative could be to run your installer in the cluster and not use docker at all.

[2021-11-30 16:48] #5351 closed

[2021-11-30 17:21] #6976 closed

[2021-11-30 18:46] JanKoehnlein commented on #6743
When creating a project from a GitLab repo, [we use the team owner's token](https://github.com/gitpod-io/gitpod/blob/473274c157408f88bb45e2804033c83ad9e34122/components/server/src/projects/projects-service.ts#L125) to install the pre-build automation. In this case, this fails because the owner doesn't have a GItLab token yet, so we throw an error.

This raises a couple of questions
1) In the above

[2021-11-30 18:59] SirLemyDanger commented on #6756
I had to setup a mirror for each of the used repositories. At the moment I mirror docker.io, gcr.io, eu.gcr.io and quay.io. However I'm not sure which of these I needed for gitpod.
So for each of the 4 mirrors I have one entry in the registries.yaml in /etc/rancher/k3s/

Can be tested with `crictl pull alpine`

[2021-11-30 19:12] jldec commented on #6686
/schedule

[2021-11-30 19:12] roboquat commented on #6686
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6686#issuecomment-982937117):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-30 22:04] jldec commented on #6903
I have renamed this issue to clarify the objective and align with the discussion above.

Thanks @jankeromnes, @filiptronicek, @corneliusludmann, @svenefftinge, @loujaybee for all your thoughtful inputs.

[2021-12-01 01:51] tyler36 commented on #4977
I prefer the option of a disabled button with text explaining why. This shows that the feature is usually available but currently is not because <insert reason here>.

Removing buttons could be seen as removing features.

[2021-12-01 06:53] ajhalili2006 commented on #5451
Keeping this issue open for a couple of days, possible added to the backlog in the future.

[2021-12-01 07:49] akosyakov commented on #5466
It is still the issue.

[2021-12-01 07:49] akosyakov commented on #6965
verified it works in Insiders.

[2021-12-01 07:49] #6965 closed

[2021-12-01 08:03] akosyakov commented on #6778
I think you are right, I overlooked something by mistake. I could not see them hanging right now. Actually all returns successfully.

[2021-12-01 09:04] jankeromnes commented on #4050
I would absolutely _love_ to add minimum viable responsiveness to our dashboard. This unfinished business has been gnawing at me for months now.

I can time-box this e.g. to one or two days if that's helpful.

[2021-12-01 09:13] geropl commented on #4456
Extennded feature request: **Add "Team Environment Variables" to prebuilds**

In the past we would pass personal environment variables into all prebuilds. This enabled usecases where you need to integrate with third-party services that are not public (log infra, build caches, docker registries, ...). IMO it's important that we:
 a) provide this extension point
 b) be consistent between prebuilds a

[2021-12-01 09:20] #6351 closed

[2021-12-01 09:31] jankeromnes commented on #6743
Wow. Excellent and scary find. Thanks!

@AlexTugarev For GitLab, do you remember why we impersonate a random owner from the Team to install the Prebuilds webhook, as opposed to doing it as the user who is adding the project? I think I remember a meeting where we agreed that impersonating other users is bad practice, and doing things as the logged-in user is:
- better (impersonation is bad)
- safer

[2021-12-01 09:41] MrSimonEmms opened #6989 "Wire up the `ImagePullSecrets` for Helm components"

[2021-12-01 09:41] MrSimonEmms opened #6990 "Configure Helm dependencies to allow them to be pulled from a custom container registry"

[2021-12-01 09:44] geropl commented on #6664
@JanKoehnlein plans to raise this cross-team with the goal to have a per-repo solution.

[2021-12-01 09:49] Johnzzon commented on #6342
Another PhpStorm user here, would love to try this!

[2021-12-01 10:01] #6045 closed

[2021-12-01 10:08] #5364 closed

[2021-12-01 10:18] jankeromnes commented on #6686
/assign

[2021-12-01 10:33] laushinka commented on #6826
/assign

[2021-12-01 11:03] #6943 closed

[2021-12-01 11:13] MrSimonEmms opened #6992 "[fusefs]: docker in workspace not working"
### Bug description

It seems that running `docker run -it --rm <container>` is returning the dreaded `proc` error again when deployed with the Installer. Thanks to @csweichel's suggestion, it seems to be to work with the `fsShiftMethod` - if you set to `fuse` (the default) then it fails. Setting to `shiftfs` makes it work

This is **NOT** an issue in the SaaS offering.

### Steps to reproduce

Ru

[2021-12-01 11:16] jankeromnes commented on #6727
Actually my proof-of-concept is nearly complete, so might as well schedule and raise a Pull Request.

Happy to iterate on the UX in the PR 😇

/schedule

[2021-12-01 11:16] roboquat commented on #6727
@jankeromnes: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6727#issuecomment-983539064):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-12-01 11:33] MrSimonEmms commented on #6207
An example setting has been documented in the readme. No further action required

[2021-12-01 11:33] #6207 closed

[2021-12-01 11:45] #5306 closed

[2021-12-01 11:45] #5282 closed

[2021-12-01 11:53] jldec commented on #6826
edge case 1: mitigated by only showing the button for matching provider

edge case 2: this is problematic, because with the change as proposed by this issue, you'll be encouraged to create a new account with the matching provider2  - which will lead to an error if you use the same email, or 2 Gitpod accounts if you use a different email.

[2021-12-01 12:00] richbayliss opened #6993 "Allow forwarding of SSH & GPG agents in VSCode extension."
## Is your feature request related to a problem? Please describe
When using the VSCode extension to connect to my workspace, I would like to have my SSH and GPG agents forwarded so that I have access to my signing keys for commits and SSH keys for accessing resources.

## Describe the behaviour you'd like
The extension should offer some commands to enable the forwarding of the agents.

## Describe

[2021-12-01 12:10] jldec commented on #4696
@AlexTugarev - Do we know enough after the user has logged in with the wrong provider, make the error message more helpful, and let the user know that they need to create an integration with the 2nd git provider (matching the repo which they are trying to open a workspace on)?

[2021-12-01 12:10] #6743 closed

[2021-12-01 12:12] jldec commented on #6826
Let's proceed with the design as shown, and try to mitigate edge case 2 in #4696

[2021-12-01 12:15] jldec commented on #4696
We plan to limit the choice of buttons to the one matching the repo in #6826

But we also need to handle the case where you don't have an integration yet for the requested git provider (matching the repo being opened in a workspace) so we should try to tell the user to do that via the error message (see comment above)

[2021-12-01 12:33] csweichel commented on #6992
/schedule

[2021-12-01 12:33] roboquat commented on #6992
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6992#issuecomment-983597495):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-01 13:21] purkhusid commented on #6243
This is also required for organizations that have big monorepos. In my case we have a single monorepo that is built using Bazel and the build has a lot of outputs and I'm currently hitting the 30gb limit.

I would love for this change to go through so that I can continue using Gitpod in our monorepo.

[2021-12-01 13:36] AlexTugarev commented on #4696
first of, @jldec please be aware of the issue from https://github.com/gitpod-io/gitpod/issues/4696#issuecomment-875349220, where we might end up pushing logged out users to create a new account with a different provider.

on the https://github.com/gitpod-io/gitpod/issues/6826, which looks like a great improvement, I believe this must include a  feature to remember existing provider connections on

[2021-12-01 14:19] csweichel opened #6996 "Better dynamic CPU limiting"
## Problem
Gitpod is multi-tenant, i.e. several users share one machine. Every user should get their "fair share" of CPU time. Kubernetes supports [CPU limits per container](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#meaning-of-cpu), which translate to configuration of the [CFS bandwidth control](https://www.kernel.org/doc/html/latest/scheduler/sched-bwc.html) w

[2021-12-01 16:21] jldec commented on #6932
Either way works - a visible nudge can help to make users aware that they need a license :)

Silent browser console errors should be treated more like bugs. It would be helpful from an operations perspective if we had a way to collect those, just like server-side logs.

[2021-12-01 16:22] aledbf opened #6999 "Cannot access /dev/fuse - Operation not permitted"
### Bug description

/dev/fuse cannot be used

### Steps to reproduce

From a workspace start an SSH server and try to mount a directory using `sshfs`

[code]

Also, running  `cat /sys/fs/cgroup/devices/devices.list` does not returns the expected output

### Workspace affected

_No response_

### Expected behavior

`sshfs` should work

### Example repository

N/A

### Anything else?

_No response_

[2021-12-01 16:22] aledbf commented on #6999
/team workspace
/schedule

[2021-12-01 16:22] roboquat commented on #6999
@aledbf: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6999#issuecomment-983807450):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behav

[2021-12-01 16:23] aledbf commented on #6999
/schedule

[2021-12-01 16:47] laushinka commented on #6826
@jldec Is there a case where we would still show this image?

<img width="462" alt="Screenshot 2021-12-01 at 17 46 57" src="https://user-images.githubusercontent.com/8015191/144276719-5d4584fa-ba10-49b8-97a1-0333e213760e.png">
e?

[2021-12-01 17:32] gtsiolis commented on #6931
I could reproduce this when using network throttling. Cc @shaal

https://user-images.githubusercontent.com/120486/144283976-f41b302d-f074-42bc-8563-c0a269c94340.mov

g

[2021-12-01 17:48] XBeg9 commented on #4456
@geropl I agree, it doesn't make any sense to inject user-level ENV variables into the prebuilt phase, this way you can expose a lot of sensitive information. Project / Team level is a way to go.

[2021-12-01 17:48] jldec opened #7001 "Authorizing a provider already used by another Gitpod account shows confusing popup"
### To Reproduce
- Login to Gitpod
- Go to settings, integrations
- Connect to another provider using a login for which you already have a different Gitpod account

### Questions about the popup (below)
- What will happen when you press Continue?
- Will something get disconnected?
- Will you be logged out from the current account, and logged into the other account?
- What does it mean to select th

[2021-12-01 17:50] shaal commented on #6931
Thank you, and yes - that's what I'm seeing.
Last few days - Close Workspace, became slow / unpredicted.

[2021-12-01 18:06] shaal opened #7002 "Opening workspace takes a very long time, when prebuild generate big artifacts"
### Bug description

A workspace with optimized custom docker image (340MB with 1 layer), opens quickly, in about 5 seconds.
That same workspace, takes a very long time to open (over a minute), if the prebuild generated big artifacts.

### Steps to reproduce

Choose a repo, open it in Gitpod and measure how long it takes to load.
Add `init` start task in `.gitpod.yml`, that creates a large file (i

[2021-12-01 18:25] jldec commented on #4696
@AlexTugarev i understand the extra new account problem but in this case new signups are also getting led into this error condition because we don't tell them that they probably should not signup using provider A to open a workspace on provider B, because if they do that they also need to add an integration for B.

I would like to use this issue to make the current error page (shown above) more in

[2021-12-01 18:35] jldec commented on #6826
We show the login with this left-pane for any action on the dashboard when unauthed and missing cookies.
E.g. I was able to bring it up by deleting all browser history/cookies and then going to any of the following
https://gitpod.io/login
https://gitpod.io/new
https://gitpod.io/projects

This change should only apply when landing unauthed at `gitpod.io/#<git-repo-URL>` to start a workspace on that

[2021-12-01 18:42] gtsiolis commented on #6826
FYI, regarding the left section there, cross-posting from https://github.com/gitpod-io/website/issues/907#issuecomment-910301281:

Cc @laushinka @jldec

[2021-12-01 18:49] jgallucci32 commented on #5512
In the next week or so I should have a Rancher v2.5.9 cluster to test and verify this was an issue with Rancher and not a problem with the chart.

[2021-12-01 19:05] shaal commented on #7002
I added 2 more examples, of slow workspace opening, using `workspace-full` and `workspace-base` -

https://github.com/shaal/gitpod-default-image-speed-test/tree/5gb-dummy-file-with-workspace-base
and
https://github.com/shaal/gitpod-default-image-speed-test/tree/5gb-dummy-file-with-workspace-full

[2021-12-01 19:38] JonathanTreffler commented on #80
I really need this :).
Would be nice if Gitea could be integrated soon.

[2021-12-01 19:40] szab100 commented on #6992
@MrSimonEmms Thanks, verified to be working on gke-guide based deployments:

After adding `yq e -i '.workspace.runtime.fsShiftMethod = "shiftfs"' "${CONFIG_FILE}"` & reinstall:

[code]

[2021-12-01 22:21] jldec commented on #6927
Hi @j0nes2k
We have not been able to reproduce this. When you merge a branch with a Dockerfile change, the commit on the default (master/main) branch should trigger a new prebuild AND a new docker build before that.

Would you mind sharing your Dockerfile and .gitpod.yml (or even better, a public repo reproducing the issue) so that we can investigate further?

Thanks

[2021-12-01 22:40] aledbf opened #7006 "[installer] Generated manifests for proxy contains duplicated ports"
### Bug description

Trying to use proxy with `hostNetwork: true` was not possible OOTB because the proxy and kube-rbac-proxy containers contain the same ports 80, 443, and 9500.

### Steps to reproduce

Render a configuration using the installer and check the proxy deployment ports

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

[2021-12-01 22:41] aledbf commented on #7006
/team workspace

[2021-12-01 23:19] gtsiolis opened #7007 "Allow users to request access to a team"
### Problem to solve

The new Teams & projects feature allows users to create teams and invite team members. Team members ca add repositories as projects that can be part of only one team. There are use cases where users with proper permissions[^1] are trying to add projects but are not able to add the repository in a new team.

Currently, we inform the user when the project is already part of the

[2021-12-01 23:37] colin-grapl commented on #6342
Intellij Ultimate user, would be interested.
[code]

[2021-12-01 23:43] aledbf commented on #4889
@csweichel with the new k3s clusters now I get
[code]

[2021-12-01 23:53] gtsiolis opened #7008 "Prompt users to create a new team when adding a repository from an non-personal account"
### Problem to solve

Currently, when going through `/new` prompt users to select a team after selecting a repository. We recently removed this prompt when a user is trying to add a repository from the personal account, see https://github.com/gitpod-io/gitpod/pull/6966.

However, a) creating a team for repositories from personal accounts does not sound helpful and b) users could go through adding

[2021-12-02 00:04] gtsiolis opened #7009 "Do not allow prebuilds when GitHub app is not configured or GitLab webhook is removed"
### Problem to solve

When a user removes or reconfigures the Github app, removes the GitLab webhook, or is removed from a project, you can still trigger a prebuild from the dashboard.

For GitHub, the prebuild go through the `RUNNING` and `SUCCESS` states with no error.

For GitLab, the prebuild go through the `RUNNING` and `SUCCESS` states with the following error:

[code]

### Proposal

Do not

[2021-12-02 00:10] gtsiolis opened #7010 "Show feedback on the project card when there's need to reconfigure the app for GitHub or reinstall the webhook for GitiLab"
### Problem to solve

Currently, when removing (or reconfiguring) the GitHub app or removing the GitLab webhook the project, there's no feedback to the user the GitHub app needs to be reconfigured or the webhook is missing. See also https://github.com/gitpod-io/gitpod/issues/7009.

### Proposal

On the project card, show some feedback there's project needs to be reconfigured, whether this is GitHu

[2021-12-02 00:37] gtsiolis opened #7011 "Show feedback on the prebuilds page when there's need to reconfigure the app for GitHub or reinstall the webhook for GitLab"
Following the proposal in https://github.com/gitpod-io/gitpod/issues/7010, we could probably some some feedback on the prebuilds page the project needs to be reconfigured, whether this is GitHub app reconfiguration or adding the webhook back.

![5wa8sv](https://user-images.githubusercontent.com/120486/144336571-60bfffa1-f29c-4cbc-ae89-076fa0757ad4.jpg)

[2021-12-02 00:53] ghuntley commented on #80
Wanna send in a pull-request that adds support? We would accept it.

Come join https://www.gitpod.io/chat in the contributing channel.

The approach would be to add a new context parser (see https://github.com/gitpod-io/gitpod/pull/5367)  and integrate it with https://docs.gitea.io/en-us/oauth2-provider/

[2021-12-02 01:48] aledbf opened #7013 "cgroups v2 breaks fuse support"
### Bug description

When cgroups v2 is not explicitly disabled using the setting `systemd.unified_cgroup_hierarchy=0` fuse does not works anymore.

To verify if cgroups v1 is enabled check `cat /sys/fs/cgroup/devices/devices.list` does not returns an error.

### Steps to reproduce

N/A

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No respon

[2021-12-02 01:48] aledbf commented on #7013
/team workspace

[2021-12-02 01:55] aledbf commented on #7002
@shaal we still need to transfer the additional 5Gb to the node from the container registry. Keep in mind that the nodes in the cluster rotate periodically (download the image again), and also, you can open the same repository and land in two different nodes.

That said, we are actively working on improving the build process, layers, caching, and distribution to improve scenarios like the one you

[2021-12-02 02:00] aledbf opened #7014 "[installer] Add additional check verifying cgroups v2 is disabled"
xref: https://github.com/gitpod-io/gitpod/issues/7013

[2021-12-02 02:00] aledbf commented on #7014
/team workspace

[2021-12-02 04:12] techknowlogick commented on #80
Would Gitpod be amenable to sponsoring a Gitea maintainer to submit a PR to Gitpod to support Gitea integration?

(I am one of the project leads of Gitea and am able to facilitate coordination with Gitea maintainers if the answer to above is yes)

[2021-12-02 07:14] #5307 closed

[2021-12-02 07:14] #5197 closed

[2021-12-02 07:14] #5137 closed

[2021-12-02 07:14] #5211 closed

[2021-12-02 07:42] peat-psuwit opened #7015 "Firefox: Ctrl + Shift + {Left, Right, Home, End} is broken after a terminal is opened & closed"
### Bug description

On Linux running Firefox, Ctrl + Shift + {Left, Right, Home, End} will stop working after terminal has been opened & close. One use these key binding to select words at word boundaries or until the start/end of line.

### Steps to reproduce

1. With a freshly opened window, open a file with some text in it (or just type some).
    - Try using Ctrl + Shift + Right, text should

[2021-12-02 07:46] akosyakov opened #7016 "[gp cli] tasks support"
[Gitpod CLI](https://github.com/gitpod-io/gitpod/tree/main/components/gitpod-cli) should provide following commands to access tasks:
- `gp task list` to list [workspace tasks](https://github.com/gitpod-io/gitpod/blob/fc0c0a613c354444056ff43dfcc55c5acc9052a6/components/supervisor-api/status.proto#L65-L75) and their state
- `go task attach <id>` to attach to a workspace task by [an id](https://githu

[2021-12-02 07:53] akosyakov commented on #7015
It sounds like an issue in upstream indeed. Could you file in VS Code repo instead?

[2021-12-02 07:53] akosyakov commented on #7015
I'm going to close it please reopen if it is not upstream.

[2021-12-02 07:53] #7015 closed

[2021-12-02 07:56] csweichel opened #7017 "image-builder-mk3 can nil-deref"
### Bug description

[code]

### Steps to reproduce

Run with enough load

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-02 07:56] csweichel commented on #7017
/schedule

[2021-12-02 07:56] roboquat commented on #7017
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7017#issuecomment-984376233):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-02 08:15] gtsiolis commented on #5086
Reopening this as it's still relevant.

[2021-12-02 08:16] gtsiolis commented on #4983
Reopening this as it's still relevant.

[2021-12-02 08:19] gtsiolis commented on #5516
Marking as never stale as this is still relevant.

[2021-12-02 08:36] akosyakov commented on #3059
Descriptions can be super long how we would display them in the remote explorer? It is already quite crowded there. Would be tooltip enough?

cc @davemecha since you had some ideas.

[2021-12-02 08:40] MrSimonEmms commented on #7013
Is this what's happening in #6992 I wonder

[2021-12-02 08:40] MrSimonEmms commented on #7014
I can see the check using `cat /sys/fs/cgroup/devices/devices.list`, but how do we confirm this from the Kubernetes API?

[2021-12-02 08:44] #5507 closed

[2021-12-02 08:50] geropl opened #7019 "[image-builder-mk3] Image build fails because of /workspace not being persisted between steps (?)"
To reproduce: https://gitpod-staging.com/#https://github.com/geropl/roborally

I think the build relies on some files being persisted in `/workspace` between build steps (error message: `error: rustup is not installed at '/workspace/.cargo'`).

Dockerfile: https://github.com/geropl/roborally/blob/master/.gitpod/Dockerfile

[code]

/cc @csweichel

[2021-12-02 08:54] csweichel commented on #7019
/schedule

[2021-12-02 08:54] roboquat commented on #7019
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7019#issuecomment-984419790):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-02 09:51] geropl commented on #7019
Not necessarily. But something has changed (docker image resolution, base image, ...) so this build fails now, but worked 1-2 days ago. And it's not in that repo :wink:

[2021-12-02 10:04] davidwindell commented on #3059
As an end-user, the biggest advantage by far of this would be to make it easy for newcomers to our projects to know exactly which of the ports they should use to view the primary application/web server.

In most of ours, we have ~6 ports shown but only one of them (8080) is actually used by developers working on the project.

Either the ability to highlight a port (i.e. "Launch Application") or to

[2021-12-02 10:07] geropl commented on #7019
That cannot be, because I definitely re-build this Dockerfile on staging multiple times since then.

But maybe we pinned the `gitpod-io/workspace-full:latest` somewhere in the old `image-builder`? That would explain this!

[2021-12-02 10:08] loujaybee opened #7022 "Add PyCharm Support"
Add PyCharm to the list of support IDE's as part of the JetBrains integration.

- [x] Add PyCharm support to the configuration page (https://gitpod.io/preferences)
- [ ] Update public facing documentation (https://www.gitpod.io/docs/editors/pycharm)

[2021-12-02 10:15] loujaybee opened #7023 "Improve automated rollout of JetBrains IDE's"
We currently are raising a new PR [[1](https://github.com/gitpod-io/gitpod/pull/7004)] for each new JetBrains IDE configuration / version bump. This ticket is to investigate the possibility of improving the process, to ensure that we have the latest IDE's rolled out into production in an efficient, stable manner.

[2021-12-02 10:32] loujaybee opened #7025 "Persistent state between workspaces"
**Note:** If we had discussions set up, this issue is more of a discussion than an issue/solution.

There are some situations where users need to have an element of persistence between their workspaces for the purpose of user configurations, and general continuity between the UX of a local env, and an ephemeral environment.

Some notable examples:

1. Bash history for auto-complete
2. IDE/plugin c

[2021-12-02 10:41] jankeromnes commented on #6877
I made this one a while ago:

![compiling (1)](https://user-images.githubusercontent.com/599268/144406313-5488e259-afc1-4e9e-82df-2e5a95f9395f.png)
Credit: [kxcd](https://xkcd.com/303/)

---

Might become outdated soon 😁 (due to our new k3s clusters / updated `containerd` / faster parallel image pulls)

[2021-12-02 10:47] pawlean commented on #6877
This one was from when I first started and kept sending this to all my dev friends group chats. 🍊 #advocacy

![E6xIuRNXoAIL2tS](https://user-images.githubusercontent.com/17087373/144407526-e13c2c35-f99f-449f-8cc0-ace146797180.jpeg)

[2021-12-02 10:48] csweichel commented on #4889
I ran the same command in a workspace with `experimentalNetwork: true` and got past that point. There's heaps of debug output:

<details><summary>here an excerpt</summary>
[code]
</details>

[2021-12-02 10:50] MrSimonEmms commented on #6756
This script works quite nicely. Generate your installer config using the default `repository: eu.gcr.io/gitpod-core-dev/build` value (eg, `installer render --config config.yaml > default-repo.yaml`) and then run this script:

[code]

[2021-12-02 10:57] corneliusludmann commented on #7023
This especially makes sense when we introduce early-adopters versions ([internal discussion](https://gitpod.slack.com/archives/C01KGM9BH54/p1638442118354100?thread_ts=1638436313.350800&cid=C01KGM9BH54)). Proposal how this can be achieved:
- Make sure that the PRs are merged automatically. We need to figure out how this is possible without the needed reviews/approvals.
- Let the images be tagged as

[2021-12-02 11:13] loujaybee opened #7026 "Proposal: Experimental features interface / API"
This issue is a proposal to implement for a product-wide approach for experimental features in Gitpod.

## Context / Motivations
We already have the concept of "VS Code Insiders" which is an experimental pre-release designed for power-users to be able to test out features in VS Code before they're rolled out to the full user base (see below) [[1](https://gitpod.io/preferences)].

<img src="https:/

[2021-12-02 12:50] gtsiolis commented on #5517
Still relevant!

[2021-12-02 13:01] davemecha commented on #3059
I would prefer a name over a description. The use case is similar to the terminals and the visualization could be as well:

![image](https://user-images.githubusercontent.com/137976/144426195-0a136d88-1dc9-4266-9ef6-033d63b09a31.png)

A tooltip would be better than nothing, but I don't think it's that helpful. I work often with multiple ports in projects. If one doesn't want to use the port names,

[2021-12-02 13:13] gtsiolis commented on #5309
Still relevant. Cc @jldec

[2021-12-02 13:22] corneliusludmann commented on #6741
In my opinion, there is nothing we can do here for the following reasons:

- I cannot reproduce the issues.
- These seem to be issues on JetBrains' side. The only thing we can do is to report issues to JetBrains.
- They may be fixed already with the latest JetBrains release.
- Most of them will be not relevant anymore once we get rid of the Code With Me path.

I'm closing this issue for now. Feel

[2021-12-02 13:22] #6741 closed

[2021-12-02 13:25] corneliusludmann commented on #6864
Since we agreed on using the latest releases as images (not the early-access program images anymore), users need a license now. Thus, I think we don't need this issue anymore. Agreed?

I'll close this for now. Fell free to re-open if needed.

_PS: We still need to update the website regarding the needed license, right?._

[2021-12-02 13:25] #6864 closed

[2021-12-02 13:26] roboquat commented on #6900
@corneliusludmann: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6900#issuecomment-984626372):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agains

[2021-12-02 14:30] akosyakov commented on #3059
We could have both, short name as a prefix and description as a tooltip?

[2021-12-02 15:02] davemecha commented on #3059
Sure, as far as the tooltip is only displayed when a description field is provided in `gitpod.yml` this might be an option.

Gitpod could track the usage of those features when parsing the yml files and maybe improve further depending on usage data. :)

[2021-12-02 15:14] akosyakov commented on #6864
Here is the PR: https://github.com/gitpod-io/website/pull/1298 but we need to bump all JetBrains products to release first.

[2021-12-02 15:18] geropl commented on #7019
@iQQBot I confirmed that it's the base image and not image-builder.

Also, with a fresh `image-builder` (devstaging) it works as well. :heavy_check_mark:

Closing.

[2021-12-02 15:18] #7019 closed

[2021-12-02 16:22] jelaniwoods opened #7036 "Unable to create/open workspaces that reference a Docker image with the SHA digest"
### Bug description

This morning I started having issues opening workspaces.

I getting this error message that seems to indicate an issue pulling the Docker image:

![image](https://user-images.githubusercontent.com/17581658/144460092-246d9b12-f185-4d98-aff5-36ad9543243e.png)

I'm not able to proceed even when I try to use the default image.

The repository can be found here: [https://github.com

[2021-12-02 16:41] MrSimonEmms opened #7037 "[Installer]: add recommended K8s labels"
There are a series of [recommended labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/common-labels) that should be added to all Kubernetes applications. These will make traceability easier for @gitpod-io/platform. Add these labels to our `DefaultLabels` function

| Label | Value |
| --- | --- |
| app.kubernetes.io/name | "gitpod" |
| app.kubernetes.io/instance | "gitpod" |

[2021-12-02 16:51] Vaibhav-Lodha commented on #6342
Interested in Pycharm, discord : Vaibhav#2151

[2021-12-02 17:10] abeluck commented on #666
Another solution here that I think is much closer to being a reality is to use Remote GPG Agent Forwarding (https://wiki.gnupg.org/AgentForwarding).

This would be the ideal solution for those already using the local VS Code feature.

We can piggy back on the SSH connection to forward the local gpg-agent to the remote gitpod.

[2021-12-02 17:12] MrSimonEmms opened #7039 "[Installer]: add codeowners"

[2021-12-02 17:22] ArthurSens commented on #7037
After a quick call with @csweichel, I think those labels will not help us with tracing at all. See https://github.com/gitpod-io/gitpod/pull/6973#issuecomment-984833742

Following Kubernetes best practices is still a good idea though, nothing against this addition :)

[2021-12-02 17:36] #7037 closed

[2021-12-02 17:56] csweichel commented on #6868
We probably don't want to add paths or flags to the installer. The `--namespace` flag is already questionable.
Instead, if we want to support pulling in a license at installation time (as compared to having someone set it up as one of the first actions on the UI), we should follow the "better approach" outlined by @MrSimonEmms above.

[2021-12-02 18:58] woss commented on #666
I would also like to mention that I checked today GitLab access token and I couldn't find the GPG/PGP permission scope ( relates to https://github.com/gitpod-io/gitpod/issues/666#issuecomment-651321561)

That sounds like a viable solution, but it seems that would only work for the desktop Vscode and not for the browser ( no local system to connect to)

Another suggestion would be https://www.agwa.

[2021-12-02 19:17] woss commented on #6993
there is a discussion about similar thing here #666  hope that helps

[2021-12-02 19:17] woss commented on #666
maybe look into this https://keys.pub/ and their https://keys.pub/docs/specs/wormhole.html approach

[2021-12-02 19:24] kylos101 opened #7042 "Use dazzle v2 image in Gitpod dev base image"
This will give Gitpodders a chance to dog food the new workspage-images prior to releasing to the general public.

1. [The image Gitpodders use is built by werft, and its base image needs to be updated here](https://github.com/gitpod-io/gitpod/blob/main/dev/image/Dockerfile#L5). This will need to point at the [full combined image](https://github.com/gitpod-io/workspace-images/blob/ws-team/dazzle-r

[2021-12-02 19:45] csweichel opened #7043 "[image-builder] bob proxy does not handle digest references"
### Bug description

[We've seen reports](jelaniwoods/appdev2021-base-rails@sha256:91427ecf043c8cdd8040bbd3626eb9bbbf3bee99d44ed3d1281504f71681d661) of workspace images no longer working with mk3 when are specified as digested reference, e.g. `jelaniwoods/appdev2021-base-rails@sha256:91427ecf043c8cdd8040bbd3626eb9bbbf3bee99d44ed3d1281504f71681d661`.

The screenshot indicates that the bob proxy is

[2021-12-02 20:09] abeluck commented on #666
Those also look like other possible solutions too.

However I’d like to point out that for those orgs which use PGP smartcards, remote forwarding the GPG agent will be required, none of the other solutions (gpg-agent in the browser, extra private keys, etc) will address that use case.

The use case for PGP in gitpod is not just for signing commits. It’s also for secrets management (e.g., with [moz

[2021-12-02 21:03] csweichel commented on #7043
/schedule

[2021-12-02 21:03] roboquat commented on #7043
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7043#issuecomment-984999024):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-02 21:03] csweichel commented on #7043
/assign

[2021-12-02 21:16] #7043 closed

[2021-12-02 22:06] gtsiolis commented on #6826
@jldec what do you think of the following proposal? Cc @laushinka

| CURRENT | DRAFT | PROPOSAL |
|-|-|-|
| <img width="1440" alt="Screenshot 2021-12-03 at 12 05 01 AM (2)" src="https://user-images.githubusercontent.com/120486/144510654-084a22fc-306f-4156-a762-9eff2796ff2e.png"> | <img width="1440" alt="2" src="https://user-images.githubusercontent.com/120486/144510435-7c449d38-8dc9-417f-9a2b-6c28

[2021-12-02 23:29] laushinka commented on #6826
@gtsiolis Sorry I only saw you posted this after I created a PR! 😵 I was going with the previous ones I saw on Figma.. I won't mind continuing the discussion of course. Also feel free to take a look at the [PR](https://github.com/gitpod-io/gitpod/pull/7046) if you think it would be useful..

[2021-12-02 23:34] gtsiolis commented on #6826
No worries, @laushinka! Let's wait for some feedback from @jldec first but we could move forward with the proposed designs[[1](https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-975469912)] in this iteration as this is already an improvement and improve later. Terima kasih!

[2021-12-02 23:36] laushinka commented on #6826
@gtsiolis [Your points](https://gitpod.slack.com/archives/C02EN94AEPL/p1638479686320100?thread_ts=1638453834.313000&cid=C02EN94AEPL) are very valid, and @jldec and I discussed this at length as it's not a straightforward. We ended up going with [this approach](https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-983582329) for this ticket. As this is an important ticket, I'm also down to d

[2021-12-02 23:37] laushinka commented on #6826
@gtsiolis Just saw your reply againnn.. 🙈 Time for bed maybe for both of us

[2021-12-02 23:57] gtsiolis commented on #6910
@corneliusludmann I've added the design specs in the issue description. Feedback is welcome! 🍊

**fyi**: The dropdown button will be used in a few other places like in https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-985039468. In the next iteration we could improve this page by including the context but this could be considered out of the scope of this issue.

[2021-12-03 00:23] stephenavocado opened #7048 "14 UNAVAILABLE: No connection established"
### Bug description

14 UNAVAILABLE: No connection established

![image](https://user-images.githubusercontent.com/81815137/144523532-25b2aac3-a5e9-438c-8099-f7fbb2242fd4.png)

### Steps to reproduce

Opened workspace

For 30 minutes prior, workspace did open, but was producing errors related to ruby version and server connection

![image](https://user-images.githubusercontent.com/81815137/1445236

[2021-12-03 00:25] stephenavocado commented on #7048
Also will not allow me to create new workspaces from my repo

[2021-12-03 02:02] ghuntley commented on #6552
👋 Resolved via https://github.com/gitpod-io/template-flutter/pull/1

[2021-12-03 02:02] #6552 closed

[2021-12-03 02:03] ghuntley commented on #7048
Howdy @stephenavocado; I've been unable to replicate this but there has been one other report recently. Can you please reconfirm If you are experiencing issues?

[1] https://twitter.com/GeoffreyHuntley/status/1466571997807136768?s=20

[2021-12-03 02:26] stephenavocado commented on #7048
Hello - yes still experiencing the issue. I believe the source of the issue is being discussed here:

https://community.gitpod.io/t/unable-to-open-workspaces-that-use-custom-docker-image/5707/3

[2021-12-03 02:45] ghuntley commented on #7048
Hmm unable to replicate and logs don't show anything that sticks out.

- [x] Launched base-rails via https://gitpod.io#https://github.com/appdev-projects/base-rails and routed to US cluster

<img width="1440" alt="2021-12-03_12-43-03" src="https://user-images.githubusercontent.com/127353/144535885-d1ce68ec-f4b4-4f72-b39b-35d95123d1d9.png">

- [ ] launched https://ghuntley.com/new and routed to us

[2021-12-03 02:46] ghuntley commented on #7048
@stephenavocado can you please confirm if you are using vscode or vscode insiders?

<img width="1345" alt="Screen Shot 2021-12-03 at 12 46 12 pm" src="https://user-images.githubusercontent.com/127353/144536215-ed3f7de6-22a1-4041-856a-3e6fc5c2fbf9.png">

[2021-12-03 02:54] ghuntley opened #7049 "Github application requires authorization to ALL repos"
## Is your feature request related to a problem? Please describe

https://web.archive.org/web/20211203025159/https://community.gitpod.io/t/github-authorization-all-repos/5708

![78caadb4359487e266a7869735ebf87c25249a76_2_690x365](https://user-images.githubusercontent.com/127353/144537039-a66a8d23-0277-44cd-be57-6d0844dab73e.png)

[2021-12-03 02:56] ghuntley commented on #7049
Hey Devz3n,

Select the "only select repositories" option on that screen.

<img width="1212" alt="2021-12-03_12-56-00" src="https://user-images.githubusercontent.com/127353/144537226-06479b3d-eee0-444c-acf7-6050d6c41fdb.png">

Regards,
Geoff

[2021-12-03 03:07] stephenavocado commented on #7048
This is the affected repo: https://github.com/stephenavocado/PainNavigator

I am using VS Code

[2021-12-03 03:07] stephenavocado commented on #7048
Workspace: https://gitpod.io/start/#teal-armadillo-3asc7h4s

[2021-12-03 03:12] ghuntley commented on #7048
**update:** I've identified elevators errors in telemetry related to prebuilds circa 2h-3h hours ago but service is now within acceptable ranges. Moving on to looking into workspace logs - thanks for supplying the identifier.

<img width="745" alt="Screen Shot 2021-12-03 at 1 11 03 pm" src="https://user-images.githubusercontent.com/127353/144538597-3f96260c-e4b4-4f11-a283-51f3b95ee753.png">
t

[2021-12-03 03:24] stephenavocado commented on #7048
Appreciate your assistance!

[2021-12-03 03:33] ghuntley commented on #7048
Got it. Starting incident response. Apologies for the inconvenience and bringing in some additional minds to look at this. The key to reproducing is the that repository needs to be private (need to reconfirm) and trigger a rebuild of a docker container (confirmed).

<img width="718" alt="Screen Shot 2021-12-03 at 1 31 26 pm" src="https://user-images.githubusercontent.com/127353/144540532-a4bb78f7-

[2021-12-03 04:03] axonasif commented on #7016
So this will be something like `tmux` I assume.
For that case I have a suggestion, I think it would be better to have a separate UI for the gitpod tasks, more like how the `Remote Explorer` works on Gitpod.

[2021-12-03 06:46] axonasif commented on #6877
My internet sometimes 😅
![5wg5qm.jpg](https://user-images.githubusercontent.com/39482679/144557791-f40bf007-c3e6-4553-94ab-ff15c1c08a2a.jpg)

[2021-12-03 06:58] axonasif commented on #6877
The feeling when you can just simply checkout a project without setting up anything by yourself 😁
![iMarkup_20211203_125447.jpg](https://user-images.githubusercontent.com/39482679/144559233-84b3a7c5-f82a-4de8-83a8-b140adc9d98c.jpg)

[2021-12-03 07:29] jankeromnes commented on #7048
I think we're talking about several different, probably unrelated problems here:

- The error `UNAVAILABLE: No connection established.` seems to indicate a connection problem in our cluster. Might have been temporary, would be good to investigate.

- Pulling an image with a SHA pulls a slightly different image: https://community.gitpod.io/t/unable-to-open-workspaces-that-use-custom-docker-image/57

[2021-12-03 07:45] csweichel opened #7050 "bob proxy ignores digest"
### Bug description

When users specify a digested base image ref, we ignore the digest wile building the workspace image.

### Steps to reproduce

Open a workspace from `jelaniwoods/appdev2021-base-rails@sha256:91427ecf043c8cdd8040bbd3626eb9bbbf3bee99d44ed3d1281504f71681d661`

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### A

[2021-12-03 07:45] csweichel commented on #7050
/schedule

[2021-12-03 07:45] roboquat commented on #7050
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7050#issuecomment-985286847):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-03 07:45] csweichel commented on #7050
/assign

[2021-12-03 08:21] akosyakov commented on #7016
It is for terminal users via SSH. Generally whatever we have in UI should be reflected in Gitpod CLI as well.

In VS Code we don't need UI, gitpod tasks are automatically opened in terminals on workspace startup.

[2021-12-03 08:39] geropl opened #7051 "[cleanup] Look into deprecating GraphQL"
For some time now we have had a graphql endpoint at https://gitpod.io/api/graphql

As we (Team Meta) are not aware of any clients, we'd like to remove it because:
 - maintenance burden
 - amount of (outdated) dependencies
 - potential for creating security issues because  we do not have it on our "radar" when making code changes
 - is not document or advertised anywhere
 - paves the way for a more

[2021-12-03 08:41] geropl commented on #7051
Steps:
 - [ ] identify clients (none?)
 - [ ] come up with strategies to migrate
 - [ ] remove/block `/graphql` route (brownout)
 - [ ] finally remove the implementation from our code.

[2021-12-03 08:45] #7039 closed

[2021-12-03 08:51] jankeromnes commented on #6826
Many thanks for improving the login UX! 🙏

In response to https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-985039468:

I know I wasn't specifically asked, but I felt like adding my 2 cents 😇 please ignore if unhelpful.

- `CURRENT` I like how obvious this screen is (it's clearly a login screen -- not sure what's after it, but I'm 0% confused regarding what to do)

- `DRAFT` I like how

[2021-12-03 08:58] axonasif commented on #7016
I agree, I like to do most of my tasks from cli when possible.

Here I was thinking about an UI for the detached background gitpod `command` tasks in the web version of Gitpod. But if course, cli should be there too.

[2021-12-03 09:45] csweichel opened #7053 "[image-builder] Forcing tags does not work"
the bob-proxy forces the tag of the base-ref and target-ref by [rewriting the downstream manifest URL.](https://github.com/gitpod-io/gitpod/blob/b6c0295c4a7191d9b9cdfd0f99123c2d1b9cb12a/components/image-builder-bob/pkg/proxy/proxy.go#L70-L75) The intention is to limit the access users have to the images in the respective repositories.

This fails if one tries to access a multi-platform image, e.g.

[2021-12-03 09:45] csweichel commented on #7053
/schedule

[2021-12-03 09:45] roboquat commented on #7053
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7053#issuecomment-985373742):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-03 09:54] #7050 closed

[2021-12-03 10:04] abeluck commented on #666
Ok, good news :) I have managed to get gpg-agent forwarding working from my local workstation to the remote gitpod. I can successfully perform pgp operations (decrypting, signing) on my USB smartcard (plugged into to my local workstation) inside the gitpod.

The procedure is a bit of a manual one, and would greatly benefit with a little polish from the local companion I suspect.

1. Copy your ~/.g

[2021-12-03 10:51] corneliusludmann opened #7054 "`server` stops sending events to `supervisor` occasionally"
We observed in production that from time to time `server` stops sending events (instance updates) to `supervisor`.

We see this in the following symptoms:
- Ports get stuck in `detecting` state because we don't get an instance update in [`expose-ports.go`](https://github.com/gitpod-io/gitpod/blob/bb1349fd9489661007bcd92cbff91438212e1e86/components/supervisor/pkg/ports/exposed-ports.go#L103) (issue