[2021-08-09 12:30] csweichel commented on #4802
/assign @MrSimonEmms

[2021-08-09 13:25] gtsiolis opened #5118 "Add deprecation warning for the existing teams feature"
### Problem to solve

The upcoming **Teams & Projects** feature is going to be released in the next days. We're also working on some Plans & Pricing updates which will based on Teams & Projects, to be released later this year.

However, we're still using the term _Team_ within the existing _Teams_ feature, which could confuse our users. See [relevant docs](https://www.gitpod.io/docs/teams).

See a

[2021-08-09 14:07] jankeromnes commented on #3841
We should probably turn these warnings into errors.

Also, in order not to suddenly break everyone's build, maybe we can add problematic files to a `.eslintignore` file, and the gradually work towards making that file smaller.

[2021-08-09 14:08] akosyakov commented on #5110
Discussed on the engineering call that to add it to the groundwork inbox to research on the solution which can preserve partial cloning and inflate the workspace afterwards when it is needed. Maybe add a flag in .gipod.yml to enable such inflation for special cases, like this one and https://github.com/gitpod-io/gitpod/issues/4914

[2021-08-09 14:09] aledbf commented on #5110
Maybe we can make this git feature optional using a setting to the `gitpod.yml` file?

[2021-08-09 14:17] gtsiolis opened #5119 "Mention the user who already imported the repository as a project"
### Problem to solve

In the upcoming **Teams & Projects** feature, a user can try importing a repository as a project. However, there will be cases where someone on your team, with proper permissions to install the app for GitHub[[1](https://www.gitpod.io/docs/github-integration#enable-prebuilds)] or the hook for GitLab[[2](https://www.gitpod.io/docs/gitlab-integration#enabling-prebuilds)], has a

[2021-08-09 15:28] csweichel opened #5122 "[dashboard] Long project names are cut of which makes them hard to tell apart"
When opening a long repo name, e.g. `github.com/some-long-org/business-unit-and-department` the context on the dashboard is cut of and it's very hard to tell workspaces apart.

[2021-08-09 15:36] JanKoehnlein opened #5123 "[agent-smith] add another miner to blacklist"
Internal discussion here https://gitpod.slack.com/archives/C01KPEPKX0A/p1628521998013200?thread_ts=1628514901.012300&cid=C01KPEPKX0A

[2021-08-09 17:00] csweichel commented on #4889
We (mainly @leodido) managed to get a bit further on this journey.  The next issue is our lack for `fdopen` and `procfs` (TODO: link issue).

Complete list of steps:

1. download and install k3s
[code]
2. Create a `/dev/kmsg` file in the workspace. This must be done as root from the node, but can be empty. A simple `touch` is enough.
3. Make sure `newuidmap` and `mount.fuse3` is present
[code]
4.

[2021-08-09 17:02] leodido commented on #4889
To do not have `k3s` installation error out run it like so:

[code]

[2021-08-09 17:26] csweichel opened #5124 "Make runc's proc mount work again"
### Bug description

A recent [change in runc](https://github.com/opencontainers/runc/commit/0ca91f44f1664da834bc61115a849b56d22f595f) broke `procfs` mounts in Gitpod workspaces. Specifically the way `proc` is mounted now (see [here](https://github.com/opencontainers/runc/blob/0ca91f44f1664da834bc61115a849b56d22f595f/libcontainer/rootfs_linux.go#L1062-L1066)) seems to break.

This might be a matte

[2021-08-09 17:58] alesanchezr commented on #4914
Yeah I know we are using that.

[2021-08-09 18:36] gtsiolis commented on #4469
@jankeromnes your call! Posted the comment in https://github.com/gitpod-io/gitpod/issues/4469#issuecomment-893859148 in case it could make this issue obsolete or redundant. In terms of UX or Product both options could suffice. Looking forward to see how this implementation will work in action. 👀

[2021-08-09 18:57] #5123 closed

[2021-08-09 19:01] gtsiolis commented on #5122
Thanks for opening this @csweichel! The pain point described in this issue could be resolved once we ship **Teams & Projects** and properly surface workspaces under each team (see https://github.com/gitpod-io/gitpod/issues/4921).

The end goal is to have workspaces under personal account with links to personal projects if they exist and group all workspaces under each team for all associated proje

[2021-08-09 19:07] gtsiolis opened #5125 "Link to the project when there's an associated project"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4966 we added Projects for individual accounts. However, we're still listing workspaces and link back to the repository instead of the project itself.

### Proposal

If there's a associated project below each account, link back to the project when there's an associated project.

| Workspaces (Personal Account) |
|-|
| <img widt

[2021-08-09 19:41] dlbock commented on #1926
Anyone else still having this issue? I'm on terraform `1.0.4` and still seeing this happen.

I'm installing the [SonarQube helm chart](https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube) and getting the following error:

[code]

`postgresql` and `ingress-nginx` are listed as dependencies in [requirements.yaml](https://github.com/SonarSource/helm-chart-sonarqube/blob/m

[2021-08-09 20:40] JanKoehnlein commented on #4630
On the settings page, we state

Maybe we should wait until end of August?

[2021-08-10 03:06] rmchale commented on #3601
I think this would be very useful for iPad development

[2021-08-10 03:12] rmchale commented on #2419
This goes against what what gitpod is to me.  Which is a full-web IDE.  I want to develop from my iPad.

[2021-08-10 04:26] plank-tools opened #5129 "Workspace creation erroring out on special character #"
### Bug description

Some of my branches reference the issue number of the branch. So, my feature branches always start with a "feature/#". When I try to create a workspace on this branch, it fails because it can't find a branch with the url-encoded value of # which is %23. So it fails.

### Steps to reproduce

Create a branch in gitlab with the special character # in the middle of the branch name

[2021-08-10 06:10] akosyakov commented on #3601
@rmchale Have you tried https://github.com/svenefftinge/try-jetbrains-projektor?

[2021-08-10 06:13] akosyakov commented on #4630
But we should start working on it.

[2021-08-10 06:30] akosyakov commented on #4520
Interesting it also does not work for my extension: https://open-vsx.org/extension/akosyakov/gitpod-monitor

[2021-08-10 07:12] svenefftinge commented on #898
We should not include workspace names, because they are ephemeral. Instead, we should use a combination of project and user.
Something like `|team|-|project|-|port|-|username|.ws.gitpod.io` should work.

We should surface the public URLs in the ports view.
When not available we can assign a different one (e.g. add a number to the end).

This would not be possible with the proposal above. Do we kno

[2021-08-10 08:11] JanKoehnlein commented on #4520
/schedule

[2021-08-10 08:17] JanKoehnlein commented on #5110
Let's investigate this with a timebox of one day.

/schedule

[2021-08-10 08:20] csweichel commented on #4630
I'm afraid we're a bit stuffed on groundwork right now. Please add back in a week's time.

Also there are plenty of other code issues scheduled :)

[2021-08-10 08:20] jankeromnes commented on #5079
For transparency, what does "IWS" mean here?

_(Also, please [always avoid acronyms](https://gist.github.com/anonymous/ca9721fbf27e77667abb) 😇🙏)_

[2021-08-10 08:21] Milo123459 commented on #4520
Also bit of an offtopic question, can I connect to my git pod from my desktop vscode and not the in browser one?

[2021-08-10 08:26] csweichel commented on #5006
This is not an application problem, but rather an infrastructure one. The scheduler produces the regular Kubernetes signals.

If we want to improve this situation, we need to schedule more ghosts, tune the scalar or use a different one.

[2021-08-10 08:29] akosyakov commented on #4520
@Milo123459 please track https://github.com/gitpod-io/gitpod/issues/4780 Preview is going to be released later this month.

[2021-08-10 08:30] Milo123459 commented on #4520
Thanks! Saw your extension and was curious

[2021-08-10 09:09] gtsiolis commented on #5122
Alternatively, using better truncation, by truncating the middle part would also work and would be more preferable maybe as it would introduce a change we can leave there without the need to remove later. 💡

For example, showing: `github.com/som…department` instead of `github.com/some-long-org/…`.

[2021-08-10 09:29] bravoalpha79 opened #5132 "Worskpace fails to open with "cannot pull image""
### Bug description

Upon student trying to open an existing workspace, the following error is received:

![image](https://user-images.githubusercontent.com/45522344/128842476-634cb4fa-d1de-4158-9fa2-ab1cb50ddeb1.png)

This has been going on since yesterday and this morning again - the workspace was opening normally before that.

### Steps to reproduce

Affected workspace:

https://teal-limpet-fz3

[2021-08-10 09:39] gtsiolis commented on #4839
@jankeromnes do you remember if you checked out a new branch and made the changes there? Noticed this recently but I could be wrong.

[2021-08-10 09:54] suneetk92 opened #5133 "Workspace sync is breaking the VSCode UI"
### Bug description

VSCode UI is not initializing the properly because of setting sync when launching an existing workspace.

![image](https://user-images.githubusercontent.com/12783242/128846207-01b67c31-1dfc-4344-98a2-cae0a0eca90d.png)

### Steps to reproduce

1. Enable VSCode
2. Launch a new workspace. -> First time everything works as expected.
3. Refresh / Relaunch the workspace. -> In the c

[2021-08-10 09:56] suneetk92 commented on #5133
When I delete all the entries from `d_b_code_sync_resource` table, then on next refresh everything works as expected.

[2021-08-10 09:57] suneetk92 commented on #5133
Also, disabling the "Setting sync" on first time helps.

[2021-08-10 10:00] akosyakov commented on #5133
Which base image do you use? VS Code does not support alpine.

[2021-08-10 10:02] suneetk92 commented on #5133
image - workspace-full
template - https://github.com/gitpod-io/template-haskell

self-hosted

[2021-08-10 10:05] akosyakov commented on #5133
You should check Gitpod server logs as well as the output channel for sync can give some clues.

[2021-08-10 10:11] #5079 closed

[2021-08-10 10:21] svenefftinge commented on #4761
We can create a REST API on the server (e.g. `/unsubscribe?userid=293z4h34r7334743d?type=newsletter`) that would do the change and redirect to the "Unsubscribed" website page that Christin shared above.

That API wouldn't require a login, of course, so anyone can unsubscribe any user if they know the userid. I believe there's not a lot of harm done in that case and the user ids are not publicly vi

[2021-08-10 10:21] suneetk92 commented on #5133
Looks clean to me.

`/ # kubectl logs -f --tail 0 server-56cdbc46ff-kmqmt server
{"component":"server","severity":"DEBUG","time":"2021-08-10T10:20:22.572Z","environment":"production","region":"local","context":{"userId":"ba325ea3-c768-48cc-917b-7b91053cdb7d"},"message":"clientRegion: undefined"}
{"component":"server","severity":"INFO","time":"2021-08-10T10:20:22.572Z","environment":"production","r

[2021-08-10 10:22] suneetk92 commented on #5133
It's more of a frontend issue.

In network tab, everything looks fine. all requests has a proper response.

[2021-08-10 10:31] akosyakov commented on #5133
Your frontend logs says that code-sync server endpoint failed to respond properly. Maybe DB corrupted for some reasons

[2021-08-10 10:33] csweichel commented on #4761
A few thoughts on this:
1. Where does the userID come from? The user isn't logged in anymore, so how does the system know which userID to use? Would we send this as an unsubscribe link in the email?
2. userID's are not secret, i.e. we don't specifically protect them and there's a very good chance that we "leak" them somewhere. That said, if the "REST API" always redirects to the page and returns n

[2021-08-10 10:49] gtsiolis commented on #4948
Pasting below the new specs for the project configuration page. Cc @jankeromnes @AlexTugarev @svenefftinge

| Detecting | Detected |
|-|-|
| <img width="1440" alt="Detecting" src="https://user-images.githubusercontent.com/120486/128853803-2321a240-d208-46b6-9211-52336ee683a3.png"> | <img width="1440" alt="Detected" src="https://user-images.githubusercontent.com/120486/128853780-365452e4-de25-4517-

[2021-08-10 10:53] jankeromnes commented on #4948
Wow! These specs are extremely good ✨😍🎯

Many thanks! 🙏 Will start implementing them in my next PR 🚀

[2021-08-10 11:02] gtsiolis commented on #4948
Thanks, @jankeromnes! Let me know if anything looks unclear. 🤓

[2021-08-10 11:22] akosyakov opened #5134 "user insight into workspace health"
Recently I had issues with OOM kills and wrote https://github.com/akosyakov/gitpod-monitor to get overview of memory usage in the workspace. It spawned some discussions to built it in the product to provide better user insights and allow preemptive measurements.

From @csweichel:

Aslo form @jankeromnes:

We could think of some cli tool which gives user k8s metrics around CPU, memory and disk usag

[2021-08-10 11:24] suneetk92 commented on #5133
I clean wipe everything and setup the gitpod again with buildin mysql, but the results were same.

First time everything works, in the database I can see all the code-sync reference, all files are available in minio.

![image](https://user-images.githubusercontent.com/12783242/128858230-6cc0626a-c6d1-4700-9877-e1854de0a470.png)

![image](https://user-images.githubusercontent.com/12783242/128858288

[2021-08-10 12:02] akosyakov commented on #5133
How response look like in devtools for GET requests?

[2021-08-10 12:25] suneetk92 commented on #5133
2nd times, only extension api is called and then code breaks:
![image](https://user-images.githubusercontent.com/12783242/128866174-11579521-541d-4208-9d49-e179d0dc8cf4.png)

I just tried to remove the `extension` entry from the `d_b_code_sync_resource` and then it is able to load the UI properly.

[2021-08-10 12:42] svenefftinge commented on #4914
We definitely are going to add project-level environment variables, soon.

[2021-08-10 12:51] svenefftinge commented on #5110
Agreed, that we should make the partial clone an **opt-in** feature that one can enable through `.gitpod.yml`.

It's too bad this improvement is not transparent enough to make it opt-out, but the impact of not being able to fork (#4914) and sometimes experiencing oom kills and/or long waiting times on git blame is surprising and will leave users with a bad experience. I'd rather compromise on the

[2021-08-10 15:09] princerachit opened #5137 "Helm deployment of latest gitpod commit fails"
### Bug description

Helm is complaining about missing variable `codeImage.stableVersion` for the [latest commit](https://github.com/gitpod-io/gitpod/commit/7826291736fe9ca241782989e759612131572529).

[code]

### Steps to reproduce

Deploy latest mentioned version of gitpod.

Use a values.yaml file which overrides `workspace.codeImage` key.

Helm would complain about the missing key.

### Expected

[2021-08-10 15:17] svenefftinge commented on #5132
I restored the workspace.

[2021-08-10 15:17] #5132 closed

[2021-08-10 15:53] stephenavocado opened #5138 "Worskpace fails to open with "cannot pull image""
### Bug description

Upon trying to open an existing workspace, the following error is received:

Oh, no! Something went wrong!
cannot pull image: rpc error: code = Unavailable desc = connection error: desc = "transport: Error while dialing dial unix /run/containerd/containerd.sock: connect: no such file or directory"

This has been going on since yesterday and this morning again - the workspace w

[2021-08-10 16:37] bravoalpha79 commented on #5132
Thank you so much!!

On Tue, 10 Aug 2021, 17:20 Sven Efftinge, ***@***.***> wrote:

[2021-08-10 17:27] csweichel commented on #5124
### How to reproduce easily
[code]

[2021-08-10 18:03] #4469 closed

[2021-08-10 18:17] suneetk92 commented on #5133
https://github.com/gitpod-io/vscode/blob/126b2f5128b5281e5357fcb71728f4f77e9f2bfc/src/vs/platform/userDataSync/common/userDataSyncStoreService.ts#L294

Code is expecting a ETag, which is not available in Minio?

[2021-08-10 18:50] csweichel commented on #5124
/assign

[2021-08-10 18:51] nisarhassan12 commented on #4839
I had this issue on my workspace where I didn't check out a new branch.

[2021-08-10 19:03] csweichel commented on #4889
We've tested the steps above on a branch with #5139 (the runc proc mount fix), and have encountered the following error:
[code]

It's really odd that the `move_mount` syscall would fail with `permission denied` considering it's run as root. According to the `move_mount` [man page](https://lwn.net/Articles/802095/) this happens when:

respectively

[2021-08-10 19:43] suneetk92 commented on #5133
Settings contain the etag:
![image](https://user-images.githubusercontent.com/12783242/128924500-a1e847be-7e7d-4ea0-bc7f-b84b51912580.png)

globalSettings do not contain etag:
![image](https://user-images.githubusercontent.com/12783242/128924731-d149212f-d965-45be-b5b9-83ca65c55798.png)

[2021-08-10 19:54] suneetk92 commented on #5133
While writing the data, minio is returning the etag
![image](https://user-images.githubusercontent.com/12783242/128926146-87ab27fe-23a7-4cd0-b7a2-729a87f674b0.png)

But it is lost somewhere :(

[2021-08-10 20:10] meysholdt opened #5141 "[cloudcosts] automatically scale down ghosts on empty clusters"
Today, ghosts "appear" and "disappear" based on the fixed schedule ws-scheduler's config-map.

Due to our deployment strategy, we often have empty k8s clusters on stand-by.
Our staging clusters are also empty most of the time.

The past has shown that it is not practical to manually scale up/down the node count when clusters go on (or return from) stand-by. On staging the desirability of nodes may

[2021-08-10 20:43] stephenavocado commented on #5138
Hi, @svenefftinge - sorry to bother you. I saw you help with a similar issue earlier today and wondering if it might be an easy fix for my issue.

[2021-08-10 22:01] adam-tylr commented on #5122
My company has some project names well over 100 characters. I like the truncation idea. Maybe showing the full path on a tooltip or something if you mouse over. We have a few repos that might have the same name but live in a different business unit's folder for example. That would let us verify the whole path if we needed to.

[2021-08-11 06:03] svenefftinge commented on #5138
This has [happened a lot](https://cloudlogging.app.goo.gl/qrzAUUmcwb6GF4KZ6) yesterday.

[2021-08-11 06:11] svenefftinge commented on #5138
@stephenavocado I have reset your workspace so you can start it again. Sorry for the inconvenience.
Leaving this open, to fix the root cause.

[2021-08-11 06:14] svenefftinge commented on #4156
We still see regular workspace start failures, that leave workspaces in a state where user can no longer start them.
Besides fixing the root cause fo those failures we also need to make sure that a failed workspace start doesn't hinder starting a workspace again.

[2021-08-11 06:57] svenefftinge commented on #4156
Also users themselves should be able to stop workspaces. Currently [it seems](https://jaeger.gitpod.io/search?end=1628663444163000&limit=20&lookback=1h&maxDuration&minDuration&operation=%2Fwsman.WorkspaceManager%2FStopWorkspace&service=ws-manager&start=1628659844163000) like the stop request just fails because ws-man doesn't find the pod anymore.

[2021-08-11 07:02] akosyakov commented on #5133
Do you use any adblocking software or firewalls which removes etags? See for the context: https://github.com/gitpod-io/gitpod/issues/4391#issuecomment-889545562

[2021-08-11 07:05] suneetk92 commented on #5133
I don't believe so, because `etag` is available for `settings`.

[2021-08-11 07:11] jemand771 commented on #5124
just to be sure I don't open a duplicate of this - is this error the same or caused by something else?
[code]
additional info:
[code]

[2021-08-11 07:25] Tmuat opened #5146 "Build Failed"
### Bug description

When opening a workspace I get the following error....

Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume

### Steps to reproduce

When opening workspace...

red-cicada-8k0n95ie

### Expected behavior

I would expect the workspace to build the image and open

### Example repository

My workspace is red-cicada-8k0n95ie

[2021-08-11 07:33] #5146 closed

[2021-08-11 08:14] GuillaumeBiton commented on #5040
Hi, just try "terminal.integrated.gpuAcceleration" set to off and terminal renders on ios15. thanks

[2021-08-11 08:33] akosyakov commented on #5110
VS Code (git) does not allow to commit sometimes because of it:
<img width="1904" alt="Screenshot 2021-08-11 at 10 32 17" src="https://user-images.githubusercontent.com/3082655/128996878-879124fc-9ef0-4836-96f6-890f8620d0d8.png">

[2021-08-11 08:35] csweichel commented on #5141
We should rather automate this as part of the deployment process where we update the config accordingly.
Also, if we had control over the scheduler (move out of GKE) we could do away with ghosts almost entirely.

I don't see that we'll need to/or make a change here at this point. Hence removing from groundwork.

[2021-08-11 08:43] csweichel commented on #4968
We have directly user-impacting issues incoming that need more attention.
It's unusual that we de-schedule an issue once it's been scheduled, but have no other choice on the matter.

[2021-08-11 08:43] csweichel commented on #4968
/dont-schedule

[2021-08-11 08:43] roboquat commented on #4968
@csweichel: dont-schedule is not yet supported

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4968#issuecomment-896627803):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubern

[2021-08-11 08:47] csweichel commented on #5138
Note, that all workspaces belonging to `00000000-0000-0000-0000-000000000000` are ghosts. That's not to say we don't have an issue here, but to help judge the impact.

[2021-08-11 08:55] markfirmware commented on #4161
No, the problem is in the window manager in the novnc viewer. See #4132

[2021-08-11 08:55] #4161 closed

[2021-08-11 09:11] csweichel commented on #4784
Closing for now - will reopen if the issue persists

[2021-08-11 09:11] #4784 closed

[2021-08-11 09:12] csweichel commented on #4809
In conversation with @meysholdt we've decided to skip this feature for now. Removing from groundwork.

[2021-08-11 09:23] JanKoehnlein commented on #4965
The PR has been rolled back as it was breaking deployment (while it was working fine in the preview env).

The (suspected) cause is that the `code` element from the `values.yaml` in `gitpod-io` is overwritten and not merged in the deployment by the `code` element in the `values.yaml` that is generated from the image manifests during deployment, thereby deleting the additional `stableVersion` prope

[2021-08-11 09:35] JanKoehnlein commented on #5084
Sorry, but due to high load and little resources in groundwork, we cannot schedule this issue ATM.
Please try to solve it with the crew or bring it in again in a few days.

[2021-08-11 10:35] svenefftinge commented on #5138
I already had filtered them out in that query (`-jsonPayload.userId="00000000-0000-0000-0000-000000000000"`)

[2021-08-11 10:50] AndyMc3000 opened #5148 "Emmet not working in GitPod"
### Bug description

I can't get the Emmet extension to work in my workspaces. This happened after the migration to VS code. I have tried working with the settings.json etc but can't get it to work. It seems this is an known issues for some users. Can you suggest a fix or an alternative extension I can use for auto tagging?

### Steps to reproduce

Whe I start typing an html tag, I don't get tag s

[2021-08-11 10:52] csweichel commented on #4156
/schedule

[2021-08-11 10:52] csweichel commented on #5138
/schedule

[2021-08-11 10:55] csweichel commented on #5129
/schedule

[2021-08-11 10:57] csweichel commented on #5138
/assign

[2021-08-11 10:58] csweichel commented on #5124
this is indeed the same issue

[2021-08-11 11:01] svenefftinge commented on #5138
There are also many other [workspaces that fail](https://cloudlogging.app.goo.gl/q7oo9KWq98cAUox57) for other reasons.

[2021-08-11 11:50] akosyakov commented on #5148
@AndyMc3000 Could you share your repo please? And confirm that you have VS Code selected here: https://gitpod.io/preferences

Emmet extension is built-in and should work out of the box.

[2021-08-11 11:51] suneetk92 commented on #5133
@akosyakov Thanks for pointing me in right direction. I am able to resolve the issue now.

Issue was because my website is behind cloudflare and certain features in cloudflare remove the ETag - https://support.cloudflare.com/hc/en-us/articles/218505467-Does-CloudFlare-support-ETag-headers-

For me just disabling the Brotli optimization helped.

[2021-08-11 11:51] suneetk92 commented on #5133
We can close this issue now. Thanks again for the reference.

[2021-08-11 11:53] akosyakov commented on #5148
I just verified that emmet extension is installed and works:
<img width="1904" alt="Screenshot 2021-08-11 at 13 51 47" src="https://user-images.githubusercontent.com/3082655/129024056-b3923c98-3c74-40fd-89f5-b774f32b204c.png">

Which language does your file have? Maybe it is not supported by emmet. Docs says that following is supported from https://code.visualstudio.com/docs/editor/emmet#_how-to-e

[2021-08-11 11:55] gtsiolis opened #5150 "Add documentation for teams and projects"
### Problem to solve

The upcoming Teams & Projects feature does not have any documentation at the moment. In addition, there's also some existing documentation about the current Teams feature, see [`/docs/teams`](https://www.gitpod.io/docs/teams) which could cause some confusion to the users.

### Proposal

Let's add some documentation around teams and projects as well as add a deprecation notice

[2021-08-11 11:55] #5133 closed

[2021-08-11 11:56] AndyMc3000 commented on #5148
Hi Akosyakov,

I can confirm that VS code is my default IDE.

My shared workspace link is; https://orange-rabbit-fj9oof28.ws-eu14.gitpod.io/

I'm just using HTML and CSS right now. My project is a Django/Python app.

Thanks,
Andy

[2021-08-11 11:58] akosyakov commented on #5148
@AndyMc3000 You should not share workspace on internet like that! It is enough for me to know workspace id.

[2021-08-11 12:06] akosyakov opened #5151 "User data of shared workspace override data of invited user"
### Bug description

Join another user workspace and then try to start another. You will see that your extensions now are overriden by owner extensions.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-11 12:06] AndyMc3000 commented on #5148
Oh, ok. Thanks for the tip!

[2021-08-11 12:12] akosyakov commented on #5148
It seems that `hookyqr.beautify` breaks it, if you disable it then emmet works again.

[2021-08-11 12:19] akosyakov commented on #5148
I noticed weird thing. If I just type ctrl space then it does not give me any emmet proposals, if i type `ul` for example then I see them. I verified though that it is the same way on desktop.

[2021-08-11 12:35] AndyMc3000 commented on #5148
Brilliant. I disabled all my extensions and closed and opened my workspace. Emmet is now working (I just need to know figure which of the extensions broke Emmet).

Thanks for your help Akosyakov!

[2021-08-11 12:35] #5148 closed

[2021-08-11 12:37] akosyakov commented on #5148
ok, keep us posted, if you figure out which combination is it, we can have a look then
also try to reproduce then with dekstop VS Code, if it is reproducible we need to repo it upstream on extensions or vscode repo

[2021-08-11 12:37] akosyakov commented on #5151
I think it is one line fix here: https://github.com/gitpod-io/vscode/blob/gp-code/extensions/gitpod-web/src/extension.ts#L121

i.e., it should `context.user` not `context.owner`.

But we need to get https://github.com/gitpod-io/gitpod/pull/5107 first merged

[2021-08-11 13:49] stephenavocado commented on #5138
Thank you so much!

[2021-08-11 13:56] patajones commented on #3051
I have the same erro using container image `gitpod/workspace-full:latest`

[code]

[2021-08-11 13:58] jemand771 commented on #3051
@patajones see #5124

[2021-08-11 14:33] patajones commented on #5124
the same problem here

[code]
Using container image gitpod/workspace-full

Docker version:

[code]

Something I noticed, when I open the demo project https://gitpod.io/#https://github.com/gitpod-io/spring-petclinic , its work. Looking `docker version` the differences are:

`containerd 1.4.4`
`gitpod Version 1.0.0-rc93`

[2021-08-11 14:37] patajones commented on #5124
is there a workaround for this problem?

[2021-08-11 14:38] patajones commented on #5124
is there a workaround for this problem?

[2021-08-11 14:47] MrSimonEmms commented on #5099
I'm using Ubuntu 21.04 with Chrome 92.0.4515.131 (latest as of 11/08/21) and I can't recreate this issue - is it possible that this has been fixed in a later version of Ubuntu/Chrome? I've tried this in fresh workspace created in Chrome, and an existing workspace created in FF and both the same.

[2021-08-11 15:25] lutzky commented on #5099
Confirmed, this no longer reproduces for me. In the [chromium changelog](https://chromium.googlesource.com/chromium/src/+log/92.0.4515.107..92.0.4515.131?pretty=fuller&n=10000), the following change stands out as potentially having fixed this, even though the description mentions backspaces specifically, and stuff about IME so I'm not 100% sure this is the thing that fixed it:

https://chromium.go

[2021-08-11 15:33] csweichel commented on #5099
Thank you @lutzky for the hint 🚀

[2021-08-11 15:33] #5099 closed

[2021-08-11 15:44] leodido opened #5156 "Disable userfaultfd for unprivileged users"
Following up from an [internal discussion](https://gitpod.slack.com/archives/C01MLB7J24T/p1628680795008400?thread_ts=1628603354.007100&cid=C01MLB7J24T).

### Context

The `userfaultfd` syscall (and subsequent API) can be misused making it easier to exploit existing use-after-free bugs that might otherwise only make a short window or race condition available.

By using the `userfaultfd` system call

[2021-08-11 15:48] #4802 closed

[2021-08-11 16:02] rathermuneer commented on #1545
While trying to start a workspace I am facing the same issue as above. Any solutions here?

[2021-08-11 16:49] ciurte-freelance commented on #605
I subscribe to this. Can`t wait to see it implemented

[2021-08-11 17:16] yababer opened #5158 "Can not start our pods"
### Bug description

We are seeing this issue when spawning a new pod:

Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume:

### Steps to reproduce

Spawn a new pod from gitlab

### Expected behavior

the pod starts up

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-11 17:17] anglinb commented on #1545
I'm hitting this too, status site says "Service Under Maintenance" https://www.gitpodstatus.com/

[2021-08-11 18:09] orellabac commented on #2700
In my case, I am working on from a Citrix VM. Access to other sites can be enabled but a fixed IP is needed as well as ports.

[2021-08-11 18:21] gclayburg commented on #5124
I just ran into this issue on a gitpod instance.  I also noticed that things worked fine when I opened another project.  The one that fails has a newer runc installed:

[code]

The gitpod instance where docker works uses 1.0.0-rc93:
[code]

@patajones I was able to work around this issue by downloading and installing an older version of runc.  I have no idea if this would cause other problems thou

[2021-08-11 18:23] taylorcoffelt commented on #5158
Looks like they ran out of space in the US Cluster:
https://www.gitpodstatus.com/
![image](https://user-images.githubusercontent.com/690213/129082731-70b46077-8452-446b-9c97-c2b843a7b1fe.png)

[2021-08-11 18:24] svenefftinge commented on #1545
Sorry for that! It should be resolved now.

[2021-08-11 18:34] svenefftinge commented on #5158
It is resolved now.

[2021-08-11 18:34] #5158 closed

[2021-08-11 18:36] ChristianHuff-DEV commented on #5124
@gclayburg Thanks for sharing your workaround. I works for me too.

[2021-08-11 19:08] #5124 closed

[2021-08-11 19:30] WesleyMConner commented on #5124
@gclayburg ... A brute-force roll back in my current gitPod instance works for me as well.
@csweichel  - Is Gitpod likely to roll back to the older runc (for new instances) while work on a fix continues?

[2021-08-11 20:07] shaal opened #5159 "Launching Gitpod from github.dev URLs"
Github added today a new "vscode preview" feature.
(source: https://twitter.com/natfriedman/status/1425504734530650114?s=20)

_(screenshot of https://github.dev/phase2/outline)_
![Screen Shot 2021-08-11 at 3 55 00 PM](https://user-images.githubusercontent.com/22901/129094752-cf3d3ed5-5a23-400d-b0d4-be226e1bfa40.jpg)

There are 2 missing features, preventing users from launching Gitpod when visitin

[2021-08-11 20:12] danBamikiya opened #5160 "Unable to build docker container using `docker build` and `docker-compose build`"
### Bug description

I tried to build a container using `docker-compose build` and later using `docker build` but both methods resulted in an error:
[code]

I tried using another workspace but both resulted in the same error.

### Steps to reproduce

Try to build a container image using `docker build` or `docker-compose build`.

### Expected behavior

It should build the images.

### Example repos

[2021-08-11 20:17] danBamikiya commented on #5160
I was supposed to create this Issue some hours ago. But after getting busy with some other stuff and returning to create it, I checked for other related issues and found this issue #5124 which looks solved by this PR: #5139 so I'm closing this issue.

[2021-08-11 20:17] #5160 closed

[2021-08-11 20:18] danBamikiya commented on #5160
My images now build as expected.

[2021-08-12 06:04] akosyakov commented on #5159
We can do it as a web VS Code extension.

[2021-08-12 08:09] JanKoehnlein commented on #5151
/schedule

[2021-08-12 09:33] wintercounter commented on #5160
Unfortunately, I'm still having this issue.

[code]

`apk add` is where it fails.

[code]

[2021-08-12 10:13] MrSimonEmms commented on #4156
Looked at with @csweichel. Seems the node and cluster have been destroyed and this issue has been fixed subsequently. See #4683 and #5130

[2021-08-12 10:13] #4156 closed

[2021-08-12 10:36] csweichel commented on #5090
/assign @MrSimonEmms

[2021-08-12 10:49] jakobhero commented on #5061
I have chatted with the customer support of customer.io to address this issue. The takeaways are:

1. Metrics will maintain the activities of deleted users
2. The deletion of users in customer.io cannot be done with workflow actions, but the API call to delete the user can be made from a [webhook action](https://customer.io/docs/webhooks-action/#creating-a-webhook-action) inside of customer.io. I

[2021-08-12 10:52] #5156 closed

[2021-08-12 10:56] danBamikiya commented on #5160
@wintercounter try the workaround in [this comment](https://github.com/gitpod-io/gitpod/issues/5124#issuecomment-897048987)

[2021-08-12 11:05] #4229 closed

[2021-08-12 11:18] jakobhero commented on #5061
**UPDATE**
Users are automatically deleted through a [campaign](https://fly.customer.io/env/106338/campaigns/9/overview?channels=email_webhook) in customer.io that is triggered everytime a deletion event comes in and then calls the deletion endpoint of customer.io.
What still remains is to clean up the users that are marked as deleted (`deleted_at` attribute is set). I will tackle this in the afte

[2021-08-12 11:34] adi-g15 opened #5171 "Starting docker containers failing with "mount through procfd: operation not permitted""
### Bug description

When starting a container through the terminal, it fails with:

![image](https://user-images.githubusercontent.com/37269665/129189586-1f2d4902-b111-4cfe-8239-826eb930bb54.png)

### Steps to reproduce

1. Open gitpod with any repo, eg. https://gitpod.io/#https://github.com/adi-g15/zeeve-learnings
2. docker run -it ubuntu

### Expected behavior

_No response_

### Example reposi

[2021-08-12 11:43] shaal commented on #5159
I don't think we are talking about the same thing, also the tag `editor: code` is not reflecting what this feature request is about.

This is not about creating alternative to Github's vscode preview, but a scenario where a Gitpod user is already in vscode preview and trying to launch Gitpod interface, which right now is impossible.

[2021-08-12 11:57] pawlean commented on #5171
I also see this issue, and someone else pointed it out [on our community page.](https://community.gitpod.io/t/custom-docker-image/4537)

[2021-08-12 13:16] jakobhero commented on #5061
**UPDATE #2**
Cleaned up all 461 users marked as deleted from customer.io. Closing this issue.

[2021-08-12 13:16] #5061 closed

[2021-08-12 14:11] csweichel commented on #5171
The workspace contains `runc` in version 1.0.1 which breaks right now. We have a fix on main (https://github.com/gitpod-io/gitpod/pull/5139) but it's not deployed yet. This should happen by the end of today (CEST timezone).

[2021-08-12 14:41] jankeromnes opened #5176 "Rate limit prebuilds"
### Bug description

Today at around 13:24 UTC, there was a sudden jump in the number of prebuilds: Over about a minute, the repository https://gitlab.com/yo/gitlab triggered nearly 100 new prebuilds.

Unfortunately, this put excessive pressure on the US cluster, and in particular on the database, which lead to several workspaces not being able to start (for example: https://community.gitpod.io/t/

[2021-08-12 15:04] MrSimonEmms commented on #5090
/assign

[2021-08-12 16:00] #5023 closed

[2021-08-12 17:00] svenefftinge commented on #5122
We should cut off the `github/gitlab` bit (people know where their repos sit) so it renders s `org/repo`. With projects (coming soon) we will also show it as `org/project` which is the same pattern GitHub and GitLab uses.
I think truncating in the middle would be a little strange/special, but providing tooltips makes a ton of sense.

[2021-08-12 22:11] filiptronicek opened #5179 "Rewrite the `.` keybind to open GitPod"
## Description and context
Just yesterday, GitHub announced that its [Codespaces ](https://github.com/features/codespaces) are available for Teams and Enterprise users, along with a neat little keybind for opening a repo in the online editor. I agree, that this single-key shortcut is not the most practical per se ([an interesting Tweet about this](https://twitter.com/RReverser/status/1425766918053

[2021-08-12 22:56] CarlosAraki commented on #3051
Hello! I have the same problem with a custom Dokerfile `FROM node:12` based. 😢

` OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: rootfs_linux.go:76: mounting "proc" to rootfs at "/proc" caused: mount through procfd: operation not permitted: unknown`

[2021-08-13 05:11] ghuntley commented on #3051
Confirmed reproducible.

[code]

[2021-08-13 05:26] ghuntley commented on #3051
Workaround at https://github.com/gitpod-io/gitpod/issues/5124#issuecomment-897048987 and fix is pending deployment at https://github.com/gitpod-io/gitpod/issues/5171#issuecomment-897673602

[2021-08-13 06:36] #4109 closed

[2021-08-13 06:36] #3814 closed

[2021-08-13 06:36] #4874 closed

[2021-08-13 06:36] #3695 closed

[2021-08-13 07:12] ChristinFrohne opened #5181 "Add option to download invoices in the dashboard"
**Issue:**
Once a user cancels her/his subscription, they can't access the billing-button anymore and therefore don't have access to their old invoices.

**Proposed solution:**
add a permanent view for invoices that are not connected to the Chargebee UI

**Note:** Despite this issue, viewing invoices is quite hidden and difficult to find. We could reduce support emails by making them more visible.

[2021-08-13 07:12] laushinka commented on #4761
PR done [here](url)

[2021-08-13 07:18] svenefftinge opened #5182 "[Code] Issues with Webviews"
### Bug description

For instance on our website repo, I cannot open any webviews. But get an error message:
[code]

### Steps to reproduce

open https://gitpod.io/#https://github.com/gitpod-io/website
Wait for the simple browser window to be opened after port 3000 serves.
Alternatively, open an image in a preview.

### Expected behavior

_No response_

### Example repository

_No response_

### A

[2021-08-13 07:49] meysholdt opened #5183 "Users not accepting GitLab ToS should not look like application error in Gitpod"
@ghuntley noticed that we've got many requests on gitpod.io/sorry which he (validly) thought may be an indicator to a larger problem.

On the LoadBalancer, I can see that [many of these requests have gitlab.com as referrer](https://console.cloud.google.com/logs/query;query=resource.type%3D%22http_load_balancer%22%0AhttpRequest.requestUrl:%22sorry%22;timeRange=PT12H;summaryFields=httpRequest%252Fre

[2021-08-13 08:11] JanKoehnlein commented on #5176
/schedule

[2021-08-13 08:12] JanKoehnlein commented on #5122
/schedule

[2021-08-13 08:13] JanKoehnlein commented on #5182
/schedule

[2021-08-13 08:37] corneliusludmann commented on #5122
What about replacing github.com / gitlab.com / bitbucket.org with their logos? Since I use both, GitHub and GitLab repo, it would help me to spot the right repo. And a small icon would not take that much space.

[2021-08-13 08:49] gengjiawen commented on #4520
@akosyakov Also my https://open-vsx.org/extension/gengjiawen/vscode-wakatime-gitpods. Any progress on this ? I have to install this for every repo.

[2021-08-13 09:37] laushinka commented on #4761
@svenefftinge @csweichel After investigating with @jakobhero, we realized that not every newsletter subscriber is a user on Gitpod, e.g. the blog and the DevX newsletter. Therefore it seems that we will have to use the email address for the API.

@ChristinFrohne We will have to change the links manually in customer.io, therefore could you tell @jakobhero or I in which email campaigns we want to ha

[2021-08-13 10:27] gtsiolis opened #5185 "Trim the amount of prebuilds surfacing the dashboard"
### Problem

The upcoming **Teams & Projects** feature will surface prebuilds in the dashboard. However, this is still not optimized to fetch all prebuilds, see https://github.com/gitpod-io/gitpod/issues/5038

For example, see https://gitpod-staging.com/gitpod-io/gitpod/prebuilds (internal).

### Proposal

Before improving the performance for fetching prebuilds or adding any kind of pagination, we

[2021-08-13 11:14] meysholdt opened #5187 "Payment-endpoint is crash-looping"
Commit https://github.com/gitpod-io/gitpod/commit/df20a0ab13dd8f7d1e711b8744be9fb961f97316 sends container `payment-endpoint` crash-looping via

[code]

[2021-08-13 11:14] danBamikiya commented on #4192
@AlexTugarev how can I pay for my subscription when it has finished but the billing cycle hasn't finished. I really need to continue my work ASAP. Thanks.

[2021-08-13 11:20] NgiapPuoyKoh commented on #5132
Reopening this issue
Tried several times to day to start workspace that was restored it is stuck in image build
https://gitpod.io/start/#teal-limpet-fz3ezfxe

[2021-08-13 11:37] NgiapPuoyKoh opened #5188 "Issue with restored Worskpace for closed issue #5132"
### Bug description

Attempted to open workspace with several tries

This workspace opened normally yesterday afternoon and evening US EST

### Steps to reproduce

Affected workspace:

https://teal-limpet-fz3ezfxe.ws-us13.gitpod.io/

![BuildingImage](https://user-images.githubusercontent.com/61414348/129351093-e4114824-a7a9-4df0-8312-d5ff05edbd62.png)

### Expected behavior

Workspace opens withou

[2021-08-13 11:38] ChristinFrohne commented on #4761
It will only affect new emails that we are sending e.g. Changelog, DevX Digest or Newsletter. You can just send me the link and I'll update the templates.
Later this evening we will send a newsletter, but the new logic won't be live until then, right?

FYI, the existing onboarding campaign uses the unsubscribe logic from customer.io which works fine. When unsubscribing from the onboarding campaign

[2021-08-13 11:55] patajones commented on #5124
Pull Request https://github.com/gitpod-io/gitpod/pull/5139 didn't fix the problem.

[2021-08-13 12:43] pawlean commented on #5132
I've just seen your other issue #5188 - we're looking into it!

[2021-08-13 12:44] pawlean commented on #4192
Hey @danBamikiya! Can you send us an email at contact@gitpod.io? :)

[2021-08-13 13:07] jankeromnes commented on #5188
Hi @NgiapPuoyKoh!

From our side, this workspace appears to be running currently. Is it possible that this situation is resolved now?

FYI, sometimes it can happen that the "Building Image" screen doesn't show any logs, even when there is a build in progress. In that case, it should still automatically open the workspace when the image rebuild is done.

Please let us know if it still doesn't work,

[2021-08-13 13:26] MineCommanderCN opened #5191 "Can't run "dotnet build" or "dotnet restore" in Gitpod"
### Bug description

I'm a .NET developer using Gitpod and recently it seems that I can't use `dotnet build` and `dotnet restore` in Gitpod workspace. I always get the same exception:
[code]
Last time I used Gitpod was about 4 months ago and `dotnet build` runs well then. There is also a [post](https://community.gitpod.io/t/dotnet-core-nodefailedtolaunchexception/4369) about the similar error in t

[2021-08-13 13:49] NgiapPuoyKoh commented on #5188
Thank you Pawlean and Jan
I am able to start the gitpod workspace and run my app

Any idea that happened and is there anything I can do to avoid this
I have had 3-4 incidence of issues with the workspace during the past 6 days

Please advise

[2021-08-13 13:52] NgiapPuoyKoh commented on #5188
FYI I tries to restart the workspace several times between 6am until I submitted this ticket
I tried using incognito window, close and reopen every few minutes etc...

In future are there specific steps I should take to get the gitpod workspace started?

[2021-08-13 13:58] jemand771 commented on #5124
@patajones this issue still has the "awaiting deployment" label, so I guess it will take a short while for the fix to become active
https://github.com/orgs/gitpod-io/projects/3#card-66515391

[2021-08-13 14:07] jankeromnes commented on #5188
You're quite welcome! 😊

Ah, that's great -- thanks for confirming! I'll close this issue then.

Sorry about that 🙈 Normally, your workspace should almost never need to rebuild its image once it has been created.

However, in the past week or so, there have been two things that may have caused the more frequent rebuilds:

- We have deployed new changes to Gitpod's image-builder. When this happens,

[2021-08-13 14:07] #5188 closed

[2021-08-13 14:22] ArthurSens commented on #4950
I saw this issue on the "Awaiting Deployment" column but doesn't really make sense to me since it is not related to our SaaS offering, is it? (It's not waiting for deployment because we don't deploy this anywhere).

Should I just move it to "Done"?

[2021-08-13 14:26] pawlean commented on #5191
Hey! Thanks for flagging this, #5064 also covers this I believe and [this community post.](https://community.gitpod.io/t/net-projects-not-working/4516).

[2021-08-13 14:30] ArthurSens commented on #5124
We've just deployed this to production, but the traffic is shifted slowly to make sure we don't put too much load in the new cluster.

If you open a workspace now and see `eu14` or `us14` in its URL, this should be fixed. If you end up on "15", you can close the workspace and try to open another one until you end up on "14".

At this exact moment, the chances to end up in each cluster is 50%-50%,

[2021-08-13 15:39] danBamikiya commented on #4192
@pawlean I already found a workaround by downgrading then upgrading again and paying. I'll sure send y'all an email next time!

[2021-08-13 15:40] maksimr opened #5194 "Text invisible in the terminal (Safari 15.0)"
### Bug description

No font in the terminal Safari **Version 15.0** (16612.1.26.1.4, 16612)

### Steps to reproduce

STR:

- Open https://gitpod.io/#https://github.com/maksimr/playground in **Safari 15**
- Open Terminal
- Type `ls`

### Expected behavior

Should show text in the terminal

### Example repository

https://gitpod.io/#https://github.com/maksimr/playground

### Anything else?

https:/

[2021-08-13 16:08] ghuntley opened #5195 "$ gp stop"
Stops a workspace.

[2021-08-13 16:23] chlbri opened #5196 "Expo start show black screen"
### Bug description

I run an react native app, but when I run yarn start (expo start), I got az black screen in the browser for developper tools.

### Steps to reproduce

Create a react native app and after all steps, tun expo start.

### Expected behavior

It has to show the developper tools

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-13 16:50] leodido opened #5197 "[agent-smith] support tracing the connect system calls"
More details on why we need this in this [internal discussion](https://gitpod.slack.com/archives/C021LT6GUJG/p1628675130094500).

Will soon expand more here (or in the corresponding PR).

[2021-08-13 16:55] dnsmichi opened #5198 "Epic: Personalize workspaces from a user-configurable dotfiles repository"
## Proposal

Provision the environment from a dotfiles repository, e.g. https://gitlab.com/dnsmichi/dotfiles

May need a special entry point in the .gitpod.yml similar to init/tasks: https://www.gitpod.io/docs/config-gitpod-file

## Context

Question from @eddiejaoude in the stream at https://www.youtube.com/watch?v=tOrr4r_pNQc

GitHub Codespaces provides this feature: https://docs.github.com/en/c

[2021-08-13 17:09] ArthurSens opened #5199 "`gpctl completion bash` is failing."
### Bug description

On our private repository, we use `gpctl completion bash` in our prebuild tasks so we can easily manage our clusters when opening a workspace.

Recently, this command started to fail with the message:
[code]

### Steps to reproduce

1. Install gpctl
2. run `source <(gpctl completion bash)`

### Expected behavior

Completion to be installed with no failures

### Example reposit

[2021-08-13 17:24] ArthurSens commented on #5199
/assign

[2021-08-13 17:57] dnsmichi commented on #5198
FYI @gtsiolis @pawlean

[2021-08-13 20:08] Cahllagerfeld opened #5216 "[Start Task Example] Await Docker Container to start"
I'm having the following scenario

[code]
I need to wait until the docker-container started with `docker-compose up` until the command `npm run start:dev` can be executed. Is this possible with `gp sync-await` and `gp sync-done` as the docker-compose will be a process that doesnt terminate.

Thanks in Advance

Greetz

Cahllagerfeld

[2021-08-13 20:23] eddiejaoude commented on #5198
Yes please! This would be amazing 💥

[2021-08-13 21:09] aledbf commented on #5087
@akosyakov how I can trigger this error?

[2021-08-13 21:54] ghuntley commented on #5171
Resolved and in production.

[2021-08-13 21:54] #5171 closed

[2021-08-13 21:54] ghuntley commented on #3051
Resolved and deployed into production.

[2021-08-13 22:30] filiptronicek commented on #5196
I have been having issues with Expo and GitPod, too, but if you just want things to work, try [GitPod's local companion](https://www.gitpod.io/blog/local-app), it helped me a lot and I was able to run my expo app just fine.

[2021-08-13 22:37] rfay commented on #3051
Does deployment take a long time? When I saw this come through, I did a `docker version` on a new gitpod instance and

[code]

[2021-08-13 23:11] aledbf commented on #3051
There is no update to docker (yet). The change in production is related to the `procfd` issue.

[2021-08-14 03:54] beriberikix opened #5201 "Embeddable widgets for documentation"
https://twitter.com/beriberikix/status/1426348601806970882?s=19

The long form context is in the Twitter thread but we'd love to leverage Gitpod as part of our documentation by embedding an environment with samples so that users can run them right from the browser. This would ideally be a slimmed down UX, so not the full IDE, with some level of customization and the ability to pass in runtime info

[2021-08-14 05:04] ghuntley commented on #3051
Oops, apologies. Thanks, @aledbf.

[2021-08-14 06:13] bigint commented on #5198
Love to see it ✨

[2021-08-14 07:33] jankeromnes commented on #5201
Hi @beriberikix, many thanks for this cool feature request! I love this idea, and have also always wanted to have such a Gitpod embed / runnable code sample for any language / framework.

I think these could be good potential next steps here:

- [ ] Discussing this idea with our product team, in order to maybe add it to our roadmap

- [ ] Building a quick prototype with a `iframe` that opens a Git

[2021-08-14 11:41] chlbri commented on #5196
I will try it. Thanks you.

Envoyé à partir de Courrier pour Windows

De : Filip Troníček
Envoyé le :vendredi 13 août 2021 22:30
À : gitpod-io/gitpod
Cc : chlbri; Author
Objet :Re: [gitpod-io/gitpod] Expo start show black screen (#5196)

I have been having issues with Expo and GitPod, too, but if you just want things to work, try GitPod's local companion, it helped me a lot and I was able to run m

[2021-08-14 12:48] beriberikix commented on #5201
That's spot on. I'd also love an Edit button that opens a full Gitpod experience, either in the iFrame or a new page.

A lot of documentation platforms already have the syntax highlighting (ex. we use [Docusaurus](https://docusaurus.io/docs/markdown-features/code-blocks)) so I was originally thinking of that being not in the slimmed UX embed but that actually makes sense. Often times samples come

[2021-08-14 12:49] Iacopo454 opened #5203 "Workspace not working"
### Bug description

I have created yesterday a new workspace but after a few hours I can not anymore open this workspace.
After launching the project, the window states stopping.
Please see attached the workspace:  https://green-hoverfly-vgcjlwus.ws-eu14.gitpod.io/

### Steps to reproduce

Just click on the link workspace:  https://green-hoverfly-vgcjlwus.ws-eu14.gitpod.io/

### Expected behavior

[2021-08-14 13:44] #3489 closed

[2021-08-14 13:44] #3589 closed

[2021-08-14 13:44] #3645 closed

[2021-08-14 13:44] #3700 closed

[2021-08-14 13:44] #3799 closed

[2021-08-14 13:44] #3842 closed

[2021-08-14 13:44] #1419 closed

[2021-08-14 13:44] #70 closed

[2021-08-14 13:44] #3094 closed

[2021-08-14 13:44] #3298 closed

[2021-08-14 13:44] #3442 closed

[2021-08-14 13:44] #3370 closed

[2021-08-14 13:44] #3420 closed

[2021-08-14 13:44] #3408 closed

[2021-08-14 13:44] #3781 closed

[2021-08-14 13:44] #3834 closed

[2021-08-14 13:44] #3485 closed

[2021-08-14 13:44] #3923 closed

[2021-08-14 13:44] #3949 closed

[2021-08-14 13:44] #4008 closed

[2021-08-14 13:44] #3963 closed

[2021-08-14 13:44] #4086 closed

[2021-08-14 13:44] #4083 closed

[2021-08-14 15:52] filiptronicek opened #5204 "Better feedback when copying URLs"
When on the integrations page in the settings, one can create a custom GitHub/GitLab self-hosted GitPod integration. When creating an integration, the user has to copy a redirect URL, which is triggered by pressing a button. That's alright, but I think we can have some sort of feedback when the copying was either successful or if there was a problem with it.

## Approach
The icon in use is (AFAIK)

[2021-08-14 20:19] malvim commented on #80
So is this anywhere on the roadmap by now? This would be great to have...

[2021-08-14 20:55] #4162 closed

[2021-08-14 22:46] NgiapPuoyKoh opened #5205 "Workspace that was restored (Issue#5132) and (Issue#5188) stuck on Stopping Mode"
### Bug description

This workspace opened normally earlier today
Now it is stuck in Stopping Mode

Note: This workspace was restored  4 days (Issue#5132) and was stuck on Thursday (Issue#5188)

### Steps to reproduce

Affected workspace:
https://teal-limpet-fz3ezfxe.ws-us13.gitpod.io/

![workspaceStopping](https://user-images.githubusercontent.com/61414348/129461950-086f1ea8-42b3-4cb1-8f63-1c2b03

[2021-08-14 23:06] NgiapPuoyKoh commented on #5205
Similar issues have been reported in the gitpod community channel.
I a going to check in tomorrow first thing in the morning US EST 4am
This disruption all week is impacting my progress on my project and had impacted my ability to meet the submission deadline

[2021-08-14 23:14] batleforc commented on #3157
For the one like me who is still searching for an answer, we are in the first case of this link : https://www.gitpod.io/docs/self-hosted/latest/troubleshooting
We need in this case to add two folders (well, i had to) .
So to make it short, your likely to add:
[code]

In your values.custom.yaml

[2021-08-15 08:06] jean opened #5206 "https cert issue?"
### Bug description

When opening up an existing workspace using Chrome on Android, I got this warning:
![Screenshot_20210815-142752_Chrome](https://user-images.githubusercontent.com/84800/129471552-db4a03af-4b10-4601-ab08-c49dae019ca2.jpg)

### Steps to reproduce

Open an existing workspace.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No resp

[2021-08-15 08:17] jean opened #5207 "Enable recovery if a workspace is not found"
When opening an Android desktop icon for a workspace that went away, the resulting error screen does not present a way to recover, e.g. by browsing to my account screen.
![Screenshot_20210815-143008_Chrome](https://user-images.githubusercontent.com/84800/129471904-31fff213-bb33-4baf-bfe1-b7835e5bfd4e.jpg)

[2021-08-15 09:14] vultuk commented on #5194
Your terminal will be visible if you go into settings and search for the following setting.

`terminal.integrated.gpuAcceleration`

Then change the setting to...

`off` or `canvas`

[2021-08-15 12:58] Shuhari-Zap commented on #4130
I can confirm. Just joined Gitpod on v1.58.2 and it's back for me as well.

[2021-08-15 13:58] somehowchris opened #5209 "Terminal is invisible"
### Bug description

As displayed in the forum, when I open the instances webpage and execute a command there is something going on but nothing seems to be outputted.

### Steps to reproduce

 - Get a IPad (pro)
 - Get iOS 15 pb
 - Open an instances webpage in Safari (same in Brave and Chrome)
 - Open a terminal and see

### Expected behavior

The Terminal should output a clearly readable text

##

[2021-08-15 16:17] youssseeef commented on #5209
I am facing the same issue, it seems that the latest updates for IPadOS 15 cause this to happen (I think from public beta 3), so might be something that changed in Safari that broke this.

[2021-08-15 16:23] youssseeef commented on #5209
@somehowchris seems that there is a workaround for this here: https://github.com/gitpod-io/gitpod/issues/5194#issuecomment-899020876

[2021-08-15 18:24] jakobhero opened #5210 "[analytics] referrer data of many first time visitors is internal link"
### Bug description

Currently, our analytics data lists 'https://gitpod.io/ as the second most freqent entry in the `referrer` field for first time visitors of Gitpod. I suspect this is due to an internal redirect occurring before the page call is tracked. Not knowing the the previous page visited of new website visitors prevents us from analyzing what sources our users are coming from.

### Step

[2021-08-15 19:01] somehowchris commented on #5209
@somehowchris If I’m correct I am using the public beta 5 and sure a workaround is cool for the time (and thanks for the link) but not the best and hopefully not the final solution

[2021-08-15 19:18] jakobhero opened #5211 "[analytics] enable geographical segmentation of users"
Some analytics providers (e.g. Mixpanel) segment users through client IP addresses (or ranges). Ususally the cleint IP should be automatically collected and forwarded for every tracking call done from the client side, but this is currently not the case. Associating our users with a geographical regions would greatly enhance our user understanding.

[2021-08-15 21:50] UnrealApex opened #5212 "Firebase keeps getting mysteriously uninstalled in my projects"
### Bug description

I've noticed that after installing Firebase in a Gitpod workspace and returning to it after a few days, firebase is gone as if it was never installed, but files like the `.firebaserc` and `serviceAccountKey.json` are still there unmodified.

### Steps to reproduce

1. Create a new Gitpod workspace
1. Install Firebase  with `npm install -g firebase-tools`
1. Wait 3 days
1. Open

[2021-08-16 03:53] #4163 closed

[2021-08-16 04:21] asabi commented on #340
Yep, will be great to see this feature live. I did not realize that it is not persistent, got everything running, was super happy only to lose everything in the home directory 😢.

Any update on this?

[2021-08-16 06:18] china-bin opened #5214 "rm -rf not support window"
Consider using rimraf

https://github.com/isaacs/rimraf

[2021-08-16 06:20] #5214 closed

[2021-08-16 06:51] JanKoehnlein commented on #5187
/schedule
/assign

[2021-08-16 07:13] akosyakov commented on #5212
Where is it installed? Only content of `/workspace` folder is preserved for now. Please see https://github.com/gitpod-io/gitpod/issues/340

[2021-08-16 07:14] akosyakov commented on #5209
duplicate of https://github.com/gitpod-io/gitpod/issues/5040

[2021-08-16 07:14] #5209 closed

[2021-08-16 07:14] akosyakov commented on #5194
duplicate of https://github.com/gitpod-io/gitpod/issues/5040

[2021-08-16 07:14] #5194 closed

[2021-08-16 07:17] akosyakov commented on #5206
I seen the same for pinned workspaces for old clusters. cc @meysholdt

[2021-08-16 07:19] akosyakov commented on #5201
VS Code relies on to be run in the top browser context, some features won't work in iframe.

[2021-08-16 07:24] #5191 closed

[2021-08-16 07:27] akosyakov commented on #5182
I cannot reproduce it :(

[2021-08-16 07:36] lawrencetaur commented on #5064
I'm facing the same issue with dotnet build on #5191 Is there a temporary work around we can work with until this is fixed?

[2021-08-16 07:41] akosyakov commented on #5087
You should be able to reduce content limit here to reproduce: https://github.com/gitpod-io/gitpod/blob/6f15a4355420eddec28478b175311c843e4a1198/components/server/src/code-sync/code-sync-service.ts#L214-L216

@jeanp413 pointed out that we return 500 here: https://github.com/gitpod-io/gitpod/blob/ae0698e830a9553f7f44ab564003fe86ecd078d9/components/server/src/server.ts#L211-L213 Maybe it is a reason.

[2021-08-16 08:05] JanKoehnlein commented on #5187
/assign

[2021-08-16 08:09] #5187 closed

[2021-08-16 08:32] MrSimonEmms commented on #5064
@lawrencetaur You can run it inside a Docker container in the workspace. For example:

[code]

[2021-08-16 09:45] pawlean commented on #5205
Apologises @NgiapPuoyKoh! I've responded to your Twitter DM and community posts. Let us know if you have any more issues!

[2021-08-16 09:45] #5205 closed

[2021-08-16 09:51] pawlean commented on #5203
Hey @Iacopo454! I can see that your workspace is running now :) Apologises for this! We will be shipping a fix for these stopping workspaces soon. Please reach out if you have any more questions!

[2021-08-16 09:51] #5203 closed

[2021-08-16 09:52] NgiapPuoyKoh commented on #5205
Thank you Pauline, I was able to start the workspace
Any updates on the root cause and resolution to the issue to prevent recurrences?

[2021-08-16 10:39] pawlean commented on #5207
Hey @jean, can you help me understand your issue? (Or is this a feature request? 🤔)

Are you requesting some sort of button that returns you to the gitpod.io/workspaces dashboard when you encounter this error?

[2021-08-16 11:06] akosyakov commented on #4935
What do we do when workspaceLocation is workpace file? Do we fall back to checkout location? @svenefftinge ?

[2021-08-16 11:11] akosyakov commented on #4935
And just to clarify it's only going to work for task terminals, regular VS Code terminals are controlled by VS Code frontend and we cannot change there.

[2021-08-16 11:34] gtsiolis opened #5217 "Replace editor empty state illustration"
### Problem to solve

Users that have toggled off the welcome page on VS Code are seeing a generic illustration.

See also [relevant discussion](https://gitpod.slack.com/archives/C01KGM9BH54/p1629109910001600) (internal).

### Proposal

We could consider replacing that illustration with something more related to Gitpod, like using a grayscale version of the logo. See optimized SVG code below:

[co

[2021-08-16 12:10] pawlean commented on #5216
Hey @Cahllagerfeld! Great to see you here 😊

I've spoken to Gitpodders internally about this, and here's the suggestion 💡

Can you try `gp await-port <number>`? So you wait for docker-compose to start a container that may start some web server on a port? Give that a go!

[2021-08-16 13:06] akosyakov commented on #4199
I add more tracing info https://github.com/gitpod-io/gitpod/pull/5220 to estimate impact and track down the cause.

[2021-08-16 13:25] akosyakov commented on #4520
Thanks to Open VSX issue. The following request returns nothing and because of it VS Code does not treat extensions as compatible:
[code]

[2021-08-16 13:32] Cahllagerfeld commented on #5216
Thanks for your response!!

[2021-08-16 13:39] pawlean commented on #5216
No problem @Cahllagerfeld! Let me know if I can help with anything else at all :)

[2021-08-16 13:40] #5216 closed

[2021-08-16 13:41] akosyakov commented on #4520
An issue in the upstream: https://github.com/eclipse/openvsx/issues/317

[2021-08-16 14:13] PEZ commented on #688
I just tried this on Safari Version 14.0.3 (16610.4.3.1.7) and it failed. However, the error page shown provides instructions that I think are pretty good:

<img width="443" alt="image" src="https://user-images.githubusercontent.com/30010/129577375-6b33bbc7-d706-480d-828a-1ebb4932b53e.png">

I'm undecided if this makes me use this link or not, but for everyones information! 😄

[2021-08-16 14:25] UnrealApex commented on #5212
Good question, not exactly sure. I would assume the install location is the "default" for `npm`. How would I be able to find the install location?

[2021-08-16 15:08] bigint opened #5224 "`addComment`, `addBadge`, `addCheck` support for GitLab projects"
I can see that GitHub integration have `addComment`, `addBadge`, `addCheck` for prebuilds

It would be great if GitLab supports that too 🤞🏻

/cc @gtsiolis

[2021-08-16 15:09] asthomasdk commented on #1699
Any news or development thoughts on this?

I have managed to work around this by adding envrionment variables through my profile in gitpod. This is hack though, as it is very unsecure.

It would make sense to have custom docker registries that can be setup and managed just like the integrations to external git repos. Having to manually create secrets in kubernetes is a little clumsy ;-)

[2021-08-16 15:23] JanKoehnlein commented on #5199
/schedule

[2021-08-16 15:30] JanKoehnlein commented on #5217
We currently have nine issues for VS code in our pipeline and only @akosyakov working on them. It also doesn't sound like the most important feature ATM, given it's only for users who explicitly switched off the welcome page.

[2021-08-16 15:34] JanKoehnlein commented on #5212
After installing, try `which firebase` in the terminal

[2021-08-16 15:36] PEZ opened #5225 "Opening files from jar-files sometimes fails"
### Bug description

My Clojure Extension for VS Code, Calva, suppports navigating to library source files in jar-archives.

This feature fails often for me in Gitpod. Never fails in VS Code.

### Steps to reproduce

1. Open a workspace using this link: https://gitpod.io/#https://github.com/pez/rich4clojure
2. Open the file `src/rich4clojure/hard/problem_164.clj`
3. On line 58, use the mouse to ho

[2021-08-16 15:39] JanKoehnlein commented on #5211
/schedule

[2021-08-16 15:41] JanKoehnlein commented on #5210
/schedule

[2021-08-16 15:43] JanKoehnlein commented on #5183
/schedule

[2021-08-16 15:50] #5199 closed

[2021-08-16 16:11] gtsiolis commented on #5217
Thanks @akosyakov @JanKoehnlein!

Agree, from product perspective this is also a nice-to-have.  🏓

[2021-08-16 17:18] axonasif opened #5226 "Allow mounting ISO, squashfs and ext* filesystem images"
Hi,
I found that we can't mount `.iso`(9660), `.sfs`(squashfs) or `.img`(ext4, ext2, ext3) images via the `mount` command.
Although it appears some of the filesystem types are allowed to be mounted, such as `tmpfs`.
Would it be possible to allow the mounting of such filesystem types within Gitpod in the future?
This could make operating system development easier though.
Thanks.

[2021-08-16 17:22] shaal commented on #4925
Perhaps this is related?
While working on this branch https://github.com/shaal/DrupalPod/tree/setup-modes, before a PR is created -

When I push changes, and open in a new tab - https://gitpod.io/#https://github.com/shaal/DrupalPod/tree/setup-modes -
I see the `prebuild` screen, which is what I expected to see. When the prebuild is done, the workspace is loaded with Gitpod interface, and I can see

[2021-08-16 18:02] tommygonzaleza commented on #5205
Hello, other teammates and I are facing the same issue! Please let us know how to prevent it or when the issue is solved

[2021-08-16 18:06] tommygonzaleza opened #5227 "Workspace is stucked on stopping mode."
### Bug description

I'm having the same problem that the one explained in this issue: https://github.com/gitpod-io/gitpod/issues/5205

### Steps to reproduce

I just tried to open a workspace and it didn't let me, it got stuck on stopping mode before opening it.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-16 19:17] tommygonzaleza commented on #5227
It is telling me this:
![image](https://user-images.githubusercontent.com/56565994/129617661-87739747-a924-430d-a1a7-61ea1b2f0de2.png)

[2021-08-16 19:58] yababer commented on #5227
I just had a similar issue, I was working in a pod and it suddenly stopped.  That pod is stuck in stopping mode.

The new pod is stuck in allocating resources mode.

[2021-08-16 19:59] yababer commented on #5205
Agreed, we are having the same issue as well.

[2021-08-16 20:24] UnrealApex commented on #5212
Thanks, here it is:
 <samp>/home/gitpod/.nvm/versions/node/v14.17.3/bin/firebase</samp>

[2021-08-17 00:15] tyler36 commented on #4977
@shaal , disabling the download link makes sense. Adding a tooltip / popup explaining would improve the user experience.

At the moment it feels "broken".

[2021-08-17 02:08] gilesbutler commented on #898
I've been following along with this thread as I came to Gitpod looking for something similar. I've actually switched to GH Codespaces now but thought I'd share my setup on how I got a custom domain / stable URL working with Gitpod and Cloudflare. Hopefully it helps others.

I created node script called `dev-server-redirect.js` which contains the following...
[code]
It essentially grabs the dev env

[2021-08-17 02:12] jean commented on #5207
Hi!

Yes, this can count as a feature request. When added to the home screen on
Android, there's no location bar or other browser chrome (yay!), but that
does mean a link to my dashboard would be appreciated here.

On Mon, 16 Aug 2021, 17:39 Pauline P. Narvas, ***@***.***>
wrote:

[2021-08-17 04:42] ebrevdo commented on #4779
I'm also using ssh to run custom bazel commands (building an OSS project)... it takes a while to build and in the meantime the workspace times out and dies :)

[2021-08-17 05:18] ghuntley commented on #5198
This has been heavily discussed internally and yes, we want to do it or help enable someone in the community to do it!

<img width="444" alt="2021-08-17_15-17-14" src="https://user-images.githubusercontent.com/127353/129667675-18ecdebb-56c1-406f-be12-90c0dc11242b.png">

[Internal discussion link](https://gitpod.slack.com/archives/C01KGM9DVRC/p1627490845128400?thread_ts=1627475035.128100&cid=C01KGM

[2021-08-17 06:26] akosyakov commented on #5110
Discussed with @svenefftinge We are reverting it till there is no better solution which does not break blame but most importantly fork.

[2021-08-17 06:39] akosyakov commented on #5110
partial clone was revered in https://github.com/gitpod-io/gitpod/pull/5152

[2021-08-17 06:39] #5110 closed

[2021-08-17 06:39] akosyakov commented on #4914
partial clone was revered in https://github.com/gitpod-io/gitpod/pull/5152

[2021-08-17 06:39] #4914 closed

[2021-08-17 06:41] akosyakov opened #5231 "reintroduce partial clone"
See https://github.com/gitpod-io/gitpod/pull/5152

We should reintroduce it in such way that it does not break [forking](https://github.com/gitpod-io/gitpod/issues/4914) and [blaming](https://github.com/gitpod-io/gitpod/issues/5110).

[2021-08-17 06:46] akosyakov commented on #5212
@UnrealApex You should have a custom Dockerimage and instal firebase there: https://www.gitpod.io/docs/config-docker
It is not recommended to rely on the same workspace, but start a new workspace each time which is created from Dockerfile and your github repo: https://www.gitpod.io/docs/workspaces

[2021-08-17 07:23] meysholdt opened #5232 "Segfault in blobserve"
we see this [segfault](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-17T07:00:14.408204001Z;query=%22invalid%20memory%20address%20or%20nil%20pointer%20dereference%22%0Atimestamp%3D%222021-08-17T02:10:40.594956268Z%22%0AinsertId%3D%22vr01v4rb29c9f9ng%22;summaryFields=resource%252Flabels%252Fcluster_name:false:32:beginning;timeRange=P1D?project=gitpod-191109) in prod.

[code]

[2021-08-17 07:28] meysholdt opened #5233 "Segfault in Supervisor"
We see [this segfault](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-17T00:39:31.409283310Z;query=%22invalid%20memory%20address%20or%20nil%20pointer%20dereference%22%0Atimestamp%3D%222021-08-16T15:41:56.480483589Z%22%0AinsertId%3D%222k5kg35brlxs9md8%22;summaryFields=resource%252Flabels%252Fcluster_name:false:32:beginning;timeRange=P1D?project=gitpod-191109) in prod several ti

[2021-08-17 07:51] filiptronicek commented on #4236
Wow, this is cool, had no idea one could add non-ASCII characters to git branches 😄, but according to [git's docs](https://git-scm.com/docs/git-check-ref-format) it's really valid.

[2021-08-17 08:01] JanKoehnlein commented on #5233
/schedule

[2021-08-17 08:01] JanKoehnlein commented on #5232
/schedule

[2021-08-17 08:05] corneliusludmann commented on #5233
/assign

[2021-08-17 08:07] JanKoehnlein commented on #5231
Though I am convinced improving performance is important, I think we should ATM focus on issues that increase stability instead. Feel free to bring this up at a later point in time.

If you have any particular idea how to avoid the prior pitfalls, don't hesitate to add them to this issue. The clearer the path to a solution the more likely it will be scheduled.

[2021-08-17 09:20] pawlean commented on #5205
Hi @tommygonzaleza @yababer - we're currently looking for a fix here. Please see: https://www.gitpodstatus.com/ for details and updates!

[2021-08-17 09:21] pawlean commented on #5227
Hi both - I believe I responded to you on another issue and on Discourse. But right now, we're looking into this issue. https://www.gitpodstatus.com/ Please bare with us and keep an eye out for this!

[2021-08-17 09:43] bigint commented on #4236
I can reproduce this issue 👍🏻

![image](https://user-images.githubusercontent.com/69431456/129703172-dd6943c9-5ec3-4617-a585-85a06425749f.png)

[2021-08-17 10:32] JanKoehnlein commented on #5232
/assign @corneliusludmann

[2021-08-17 10:42] jakobhero commented on #4761
Maintaining the preference for the onboarding campaign in customer.io is fine for now, but we will look to move ALL subscription preferences back to the subscription centre in the dashboard to 1) have the DB as only source of truth for all signed up users and 2) provide signed up users a better UX (if there is a dedicated area for managing subscriptions for any service that I have signed up for, I

[2021-08-17 11:34] #4965 closed

[2021-08-17 11:51] filiptronicek commented on #4236
Did a bit of research on this, looks like this is happening just with GitLab, GitHub opens these non-ascii characters just fine (tried `yümmy`, `gítpóď`).

This error is thrown in https://github.com/gitpod-io/gitpod/blob/de5ee830711ac2f501d458492ce3f6f4eb20ce9b/components/server/src/gitlab/gitlab-context-parser.ts#L264, and it looks like the branch's name is just incorrectly parsed without decodin

[2021-08-17 12:08] geropl opened #5237 "Agent Smith signature check fails because of permission issues"
### Bug description

Agent Smith cannot check signatures of running processes at all because of permission issues. All violations that are found are found because if blacklisted commands, not exec signatures.

Log [link](https://cloudlogging.app.goo.gl/KcAc7153HjjXA6uE8)

Example log output:
[code]

### Steps to reproduce

- Create a preview environment
- start a workspace
- check log of (relevant

[2021-08-17 12:32] bigint commented on #4236
/cc @dnsmichi

[2021-08-17 15:22] beriberikix commented on #5201
Got it. So that makes more of the case for the slimmed down UX for an inline iframe and a link to open a new window for the full gitpod experience.

[2021-08-17 15:37] stefanstoeckigt commented on #3909
I get the same issue with v0.10.0

[2021-08-17 17:04] jrdzha opened #5243 "Image Builder Runs out of disk space - Unable to start Gitpod"
### Bug description

Cannot launch Gitpod with error:

`Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume: `

### Steps to reproduce

Launch any gitpod workspace in the US.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

We are relying on Gitpod for our main work and are on the Professiona

[2021-08-17 17:12] aledbf commented on #5243
@jrdzha please try again

[2021-08-17 17:57] jrdzha commented on #5243
This has been resolved on our end. I'm wondering what Gitpod is doing about general stability? We are scaling our team, and cloud dev environments are a big part of our workflow, so it would be good to know if Gitpod is actively dealing with the stability problems, and what we can expect in terms of stability going forward? Thanks.

[2021-08-17 19:21] meysholdt opened #5244 "Segfault in ws-daemon"
Spottet twice in prod ([here](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-17T18:21:45.089600007Z;query=%22invalid%20memory%20address%22%0Aresource.labels.cluster_name%3D%2528%22gp-prod-ws-eu14-eu-west1%22%20OR%20%22gp-prod-ws-us14-us-west1%22%2529%0Atimestamp%3D%222021-08-17T16:21:40.469677134Z%22%0AinsertId%3D%22gqvs2k8h3qaw0eub%22;summaryFields=resource%252Flabels%252Fclu

[2021-08-17 19:27] meysholdt commented on #5233
Thank you for the fix! Unfortunately after today's deployment I'm still seeing segfaults in prod with that stacktrace.  Could you take another look? See [here](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-17T18:21:45.089600007Z;query=%22invalid%20memory%20address%22%0Aresource.labels.cluster_name%3D%2528%22gp-prod-ws-eu14-eu-west1%22%20OR%20%22gp-prod-ws-us14-us-west1%22%252

[2021-08-17 19:31] meysholdt commented on #5233
My Bad. The PR got merged right after the deployment and thus the fix has not been deployed yet.

[2021-08-17 19:31] #5233 closed

[2021-08-17 20:12] meysholdt opened #5246 "failed to create containerd container error"
While investigating containerd-restarts, I noticed we get this error rather often:

[Example](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-17T16:22:12Z;query=%22cannot%20load%20seccomp%20profile%22%0Atimestamp%3D%222021-08-17T16:22:10.842059Z%22%0AinsertId%3D%22o5ikatsxyvk74ro4%22;timeRange=P2D?project=gitpod-191109)

When searching for [4bf05fc08e7a95c8b2f04f3066f6f55739a42

[2021-08-17 20:33] Cahllagerfeld commented on #4690
I'd try to do this, if its not done yet (:

[2021-08-17 20:50] meysholdt opened #5247 "Staging: Prebuilds run twice on same context"
When [investigating a containerd restart](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-17T00:54:23.079922Z;pinnedLogId=2021-08-17T00:54:21.205557Z%2Frr7yqgwpgt1piy5x;query=%22gke-gp-stag-ws-us11-us--headless-pool-f9b4e1a6-mtvh%22%0Atimestamp%3D%222021-08-17T00:54:21.205557Z%22%0AinsertId%3D%22rr7yqgwpgt1piy5x%22;summaryFields=logName:false:32:beginning;timeRange=2021-08-17T0

[2021-08-17 21:00] meysholdt commented on #5247
When looking at `d_b_workspace` and sorting by `creationTime`, it looks like that it's only incremental prebuilds that run twice.

[2021-08-17 21:01] Cahllagerfeld commented on #4690
I think thats already done
[code]
[code]
[code]

[2021-08-17 21:13] meysholdt commented on #5247
The problem does not seem to happen on prod but only in staging:
[code]

[2021-08-17 21:21] meysholdt opened #5249 "initContainer of ws-daemon logs infos as errors"
In the bash script that creates the raid0, the `set -x` causes all statements to be printed to stderr when executed, which then get severity "error" in our log system.

Expectation: info-messages should not be errors. Maybe `-v` instead of `-x` does the trick. Or something with `BASH_XTRACEFD`.

see also https://serverfault.com/questions/296991/send-bash-x-output-to-logfile-without-interupting-sta

[2021-08-17 21:23] meysholdt commented on #5249
I'm filing this issue because the errors led to confusion [here](https://gitpod.slack.com/archives/C01KGM9AW4W/p1629199911275400?thread_ts=1629194188.271200&cid=C01KGM9AW4W)

[2021-08-17 22:27] meysholdt opened #5250 "liveness probe causes ws-daemon to be restartet"
[seen on staging](https://console.cloud.google.com/logs/query;query=%2528%22ws-daemon-phfmr%22%0AjsonPayload.source.component%3D%22kubelet%22%2529%20OR%0A%2528%2528logName%3D%22projects%2Fgitpod-staging%2Flogs%2Fkube-container-runtime-monitor%22%2529%20%0A-jsonPayload.MESSAGE%3D%22Start%20kubernetes%20health%20monitoring%20for%20container-runtime%22%2529;timeRange=2021-08-17T16:27:30.000Z%2F2021-0

[2021-08-17 22:31] aledbf commented on #5250
@meysholdt that's expected. The failure is related to contained not being available. We need to choose to kill ws-daemon or delegate the check to the probes. (workspaces keep doing things that could require interaction with containerd)

[2021-08-17 23:14] PEZ opened #5251 "Make homebrew install recent things"
When I install `clojure` using homebrew like so:

[code]

It installs an ancient version, `1.10.1.536`. If I do it on my own machine I get version `1.10.3.943`.

Even if I (in my workspace) try to upgrade, I get this:

[code]

I don't know the reasons Gitpod uses old packages, but I really would like to have an option to use the latest stuff.

[2021-08-18 00:02] PEZ commented on #5251
OK. So it seems to depend on which repository I try with.

* https://github.com/PEZ/pirate-lang -> ancient `clojure`
* https://github.com/PEZ/rich4clojure -> latest `clojure`

What gives?

[2021-08-18 00:33] shaal commented on #5251
@PEZ Here is one way to resolve this issue (by adding a comment to `.gitpod.dockerfile` and get it to rebuild the docker image.
https://github.com/PEZ/pirate-lang/pull/1

[2021-08-18 06:06] svenefftinge commented on #5198
This needs to be a user setting.
I think codespaces did a great job on this and we should implement the same semantics as described [here](https://docs.github.com/en/codespaces/customizing-your-codespace/personalizing-codespaces-for-your-account#dotfiles).

The settings should go under a new entry 'Dotfiles'.

[2021-08-18 06:12] svenefftinge commented on #5134
What is the use case for this? I mean as a user I don't want to be concerned that I run out of resources.

[2021-08-18 06:15] svenefftinge commented on #898
We should also consider if static IPs are important to support in addition or alternatively. It has been discussed [here](https://github.com/gitpod-io/gitpod/issues/2700), but I'd like to discuss this in this context. So I'm closing it.

[2021-08-18 06:16] svenefftinge commented on #2700
Let's continue the discussion in [this ticket](https://github.com/gitpod-io/gitpod/issues/898), which is similar enough.

[2021-08-18 06:17] svenefftinge commented on #5159
We should do two things.
 - support github.dev as a context URL (should be super easy as the slugs are the same as on GitHub)
 - enhance the browser extension so that starting a gitpod workspace from within github.dev editor is easy.

[2021-08-18 06:24] AlexTugarev opened #5252 "[db] issue with `creationTime` in baseline.ts"
### Bug description

Reported by @charleswhchan on the Gitpod Community Forum (https://community.gitpod.io/t/questions-about-database-schema-and-migration/4691)

There is a bug in the [baseline.ts](https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-db/src/typeorm/migration/1592203031938-Baseline.ts) which generates bogus `creationTime` columns. 3 instances of `creationTime timestamp(6

[2021-08-18 06:56] akosyakov commented on #5159
I wonder whether it should start a new window isntead of reusing the same. You don't want to loose work done in github.dev by mistake. But not sure also how dirty chagnes work there.

[2021-08-18 06:57] akosyakov commented on #5134
As a user one wants to know if something eats a lot and be able to optimize. Right now users are blind.

[2021-08-18 07:23] gtsiolis commented on #4556
/assign @Cahllagerfeld

[2021-08-18 07:23] roboquat commented on #4556
@gtsiolis: GitHub didn't allow me to assign the following users: Cahllagerfeld.

Note that only [gitpod-io members](https://github.com/orgs/gitpod-io/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/con

[2021-08-18 07:54] svenefftinge opened #5253 "Workspace Pods hang in Terminating"
This issue is about workspace pods that stay in terminating.
We had many of them last week, but there still seem to be a few cases.
I think we should do two things here:

1) Identify and fix the cause.
2) Create an alert for workspaces that hang in terminating for more than one hour.

Related but different: #5275, #5274, #5273

[2021-08-18 08:31] svenefftinge opened #5254 "[ws-manager-bridge] Regular clean up doesn'T seem to work"
The regular clean up in ws-manager-bridge should automatically mark workspace instances to 'stopped' if they have been hanging in 'stopping', 'preparing' or 'unknown'.

Telling from the [log entries](https://cloudlogging.app.goo.gl/C9LdZdcTspvm9SuY8) it seems like the query doesn't find workspaces that hang in 'stopping'.

[2021-08-18 08:35] MrSimonEmms commented on #5254
/assign

[2021-08-18 08:37] #4556 closed

[2021-08-18 09:26] gtsiolis commented on #4690
You're right @Cahllagerfeld! This was updated in the scope of https://github.com/gitpod-io/gitpod/pull/5112. Thanks for noticing. Let's close this. 📕

[2021-08-18 09:26] #4690 closed

[2021-08-18 10:20] atduarte commented on #1445
I certainly empathize with the shortcuts (e.g. cmd/ctrl-w) issue and loss of vertical space.

Currently, we are investing in improving the local experience by allowing users to seamlessly use their preferred local IDE. In my opinion, such an experience will feel more native and natural than a PWA, while it also solves the issues mentioned here.

We wrote a blog post with some preliminary details (

[2021-08-18 11:07] atduarte commented on #5243
Hi @jrdzha. I understand the frustration, and we are actively working to deal with the problem. Related issue here: https://github.com/gitpod-io/gitpod/issues/5253

[2021-08-18 11:08] stoopman commented on #1445
@atduarte I'll keep an eye on this for sure, it sounds promising!
I love the whole idea of Gitpod, but my main IDE is PHPStorm and I know it's available through projector in the browser, the developer experience just doesn't compare to using the native local app. You mention that you are investigating being able to use your preferred local IDE in combination with a remote workspace. Does that only

[2021-08-18 11:09] Prathamesh-Shanbhag opened #5258 "Add a Contributing Guidelines file to the Repo"
Adding a Contributing.MD file will make the repo conform to community standards making it better.

- To make your contributing guidelines visible in the repository's docs directory, type docs/ to create the new directory, then CONTRIBUTING.
- If a repository contains more than one CONTRIBUTING file, then the file shown in links is chosen from locations in the following order: the .github directory

[2021-08-18 11:15] atduarte commented on #1445
We will start with VS Code, but ultimately the goal is to support others :)

[2021-08-18 11:58] pawlean commented on #5258
I totally agree that this would be a great way for our community to contribute with this :) Thanks @Prathamesh-Shanbhag!

[2021-08-18 12:05] meysholdt opened #5260 "Solve the "Stuck in Stopping" issue"
We [sometimes see errors such as](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-18T12:00:48.748549Z;query=%22failed%20to%20unmount%20target%22%0A%22gke-gp-prod-ws-eu14-eu-workspace-pool-b6e0759a-b81k%22%0Atimestamp%3D%222021-08-18T12:00:48.748549Z%22%0AinsertId%3D%22bzfl2i4o4d1j6jg2%22;timeRange=PT15M?project=gitpod-191109)

To understand what is happening here I find the fol

[2021-08-18 12:34] thepherm commented on #5064
This works thanks!

[2021-08-18 12:56] Prathamesh-Shanbhag commented on #5258
I actually requested this because I'm trying to solve an issue on the dashboard Component of Gitpod but I'm unable to reproduce the error, so if there were proper steps as to how we can make the contributions that would be great! The issue was #5086

[2021-08-18 12:59] #5201 closed

[2021-08-18 12:59] #1445 closed

[2021-08-18 13:15] dragonDScript commented on #1445
Intellij is impossible to support, since it does not use web technologies. It'd be very hard  or impossible to support it.

Gitpod will support web-based IDEs.

[2021-08-18 13:39] meysholdt commented on #5260
If I search through the mounts of all processes for mounts of the contianerID but excluding the mount path that containerd uses via

[code]

I find

/run/containerd/io.containerd.runtime.v2.task/k8s.io/2bcfa10b5c47234bfba2b3a1faf2d1541640011014108c6693d36e3ffa471b8c/rootfs /mnt/node1/97abe94eed9fdae959a74efa9aaca4d70c566eef72f9f0ed1266c17047dfd5d4/rootfs/mnt/workingarea/4e034a95-672b-404a-b3b0-938

[2021-08-18 13:58] akosyakov commented on #1445
It is not about running Intellij in browser, but using local Intellij to connect to remote workspace. Similarly how VS Code Remote works: https://code.visualstudio.com/docs/remote/remote-overview JetBrains actively working on closing this gap for them: https://youtrack.jetbrains.com/issue/IDEA-226455

[2021-08-18 14:01] akosyakov commented on #1445
PHPStorm already support remote interpreters, some community members trying to make it work via [the local companion](https://www.gitpod.io/blog/local-app): https://community.gitpod.io/t/lets-talk-gitpod-local-companion-localhost/3998/7

[2021-08-18 14:22] stoopman commented on #1445
I just had a quick look at coder.com and it looks like they support local Intellij IDE in combination with the Code With Me feature to connect to the remote workspace. I guess this is a good approach as well?
https://coder.com/docs/coder/v1.20/workspaces/editors#code-with-me

[2021-08-18 15:03] apolopena commented on #4233
Someone please mark this the with never-stale label

[2021-08-18 15:11] gtsiolis commented on #4233
DONE, phew! Thanks, @apolopena! 🙂

[2021-08-18 15:34] gtsiolis commented on #3360
Reopening this as it's still relevant.

[2021-08-18 15:42] shaal opened #5261 "Errors displayed when connecting to Gitpod wokrspace using SSH (w/ Gitpod Local Companion)"
### Bug description

When connecting to a Gitpod workspace using SSH (with Gitpod Local Companion) - I am getting a few errors.
Perhaps it's related - the PATH env variable is different between Gitpod workspace vs. in the SSH session.

`ssh -F /tmp/gitpod_ssh_config green-swallow-3xe5xcjy`
Result:
[code]

One difference I noticed is the PATH env variable:
Gitpod Workspace:
[code]

SSH:
[code]

###

[2021-08-18 15:56] JanKoehnlein commented on #5250
We already relaxed the liveliness probe in https://github.com/gitpod-io/gitpod/pull/5255. Closing this

[2021-08-18 15:56] #5250 closed

[2021-08-18 15:59] gtsiolis opened #5262 "Deleting account returns an error and does not log out the user properly"
### Bug description

When a user tried to delete their account from the Account section in Settings the product returns an error in console and does not log out the user properly.

[code]

### Steps to reproduce

1. Go to [`/account`](https://gitpod.io/account)
2. Click _Delete Account_ button.
3. Type your email to confirm.
4. Click _Delete Account_.

### Expected behavior

The user should not se

[2021-08-18 17:05] danBamikiya opened #5263 "Cannot create `non-root` user in Docker in gitpod"
### Bug description

I cannot create a non-root user with sufficient privileges in Docker.
Typescript compiler needs to compile into a `build` folder before the server can be run but its currently impossible to for it to make the `build` directory because the root privileges was dropped for a non-root user in the Dockerfile so there's an `error TS5033: Could not write file '/app/build/server.js':

[2021-08-18 17:09] danBamikiya commented on #5263
/cc @ghuntley

[2021-08-19 05:58] akosyakov commented on #5261
duplicate of https://github.com/gitpod-io/gitpod/issues/4949

We have a fix for it already btw. Hope it is going to be released soon.

[2021-08-19 06:55] JanKoehnlein commented on #5244
Line numbers are not matching anything sensible in this commit. To me it looks like the log is from a state before that the commit fixed.

[2021-08-19 06:58] JanKoehnlein commented on #5262
@gtsiolis could you reproduce this?

[2021-08-19 07:07] svenefftinge commented on #1445
I'm currently somewhat holding my breath, since I hope Jetbrains is releasing the proper remote development support [rather soon](https://youtrack.jetbrains.com/issue/IDEA-226455#focus=Comments-27-5125731.0-0).

[2021-08-19 07:27] gtsiolis commented on #5262
@JanKoehnlein yes! User deletion seems to happen in the background but a) some errors pop up in the console, b) user is stuck in the deletion modal, and c) reloading the page will not let you login back in the same browser session. Maybe something is not set up properly with cookies or local storage?

| Delete | Login |
|-|-|
| <img width="1440" alt="Screenshot 2021-08-19 at 10 08 57 AM" src="http

[2021-08-19 07:49] JanKoehnlein commented on #5237
/schedule

[2021-08-19 07:50] JanKoehnlein commented on #5254
/schedule

[2021-08-19 07:52] JanKoehnlein commented on #5247
We currently lack the time to investigate this. If it happens again, please add this to groundwork again in a week or so

[2021-08-19 08:05] JanKoehnlein commented on #5249
We're currently swamped. Pleas bring this up again later

[2021-08-19 08:06] JanKoehnlein commented on #5253
/schedule

[2021-08-19 08:09] JanKoehnlein commented on #5198
I'd love to have that as well, but it doesn't currently fit into our schedule. Could you bring this up again later?

[2021-08-19 08:12] meysholdt opened #5265 "Optionally disable kube-health-monitor.sh"
This is a workaround for problems that result from restarts of `ws-daemon`, which may happen in consequence of `containerd`-restarts.

[2021-08-19 08:28] #4786 closed

[2021-08-19 08:28] #4918 closed

[2021-08-19 08:28] #4949 closed

[2021-08-19 08:28] akosyakov commented on #4780
Not yet, we are working on good startup flow for it.

[2021-08-19 08:29] #4935 closed

[2021-08-19 10:56] JanKoehnlein commented on #5262
/schedule

[2021-08-19 10:59] gtsiolis opened #5268 "Update the order of the prebuilds"
### Problem to solve

Currently, prebuilds order is chronological order, however, ideally the most recent prebuilds need to be at the top of the list.

| BEFORE | AFTER |
|-|-|
| <img width="1440" alt="Screenshot 2021-08-19 at 1 58 11 PM" src="https://user-images.githubusercontent.com/120486/130057490-7c736d8a-4c2c-410d-ab5d-24facb0016c1.png"> | <img width="1440" alt="Screenshot 2021-08-19 at 1 58

[2021-08-19 11:10] shaal commented on #5261
Thank you!

Where can I follow new releases of the local companion app?

On Thu, Aug 19, 2021, 01:58 Anton Kosyakov ***@***.***> wrote:

[2021-08-19 11:15] #5265 closed

[2021-08-19 11:18] gtsiolis opened #5269 "Add an empty state in project branches"
### Problem to solve

Following the proposal in https://github.com/gitpod-io/gitpod/issues/5022, there's also a need for an empty state in the branches page for projects when the repository is an empty repository.

| Branches for an empty repository |
|-|
| <img width="1440" alt="Screenshot 2021-08-19 at 2 15 52 PM" src="https://user-images.githubusercontent.com/120486/130059844-d70c05e9-a082-4e14

[2021-08-19 12:10] geropl commented on #5237
After having had a (quick) closer look it seems we might check some processes, just emit a plethora of error messages. But in a single test (for https://github.com/gitpod-io/gitpod/pull/5238 on devstaging), agent-smith did not find my binary.

We should check if this really works reliably.

[2021-08-19 12:45] geropl opened #5271 "[ws-manager] stuck in stopping: "container with exit code 1" ("cannot connect to daemon")"
### Bug description

This bug very likely hid behind a mitigation for another problem for some time. We don't properly stop workspaces when supervisor ["cannot connect to daemon"](https://cloudlogging.app.goo.gl/2tM8Vaopk6irXSoE6) and the container exits with code "1".

Event trace: https://www.notion.so/gitpod/Task-Force-ws-daemon-restarts-b659846b2fad457eb55ec91c61d82eba#e516e9f48b584e2e8076eb39

[2021-08-19 12:50] geropl opened #5272 "[ws-manager] Stuck in stopping: evicted, but not updated in DB?"
Example: 65e59dda-89db-401d-8d52-0c942a8202ac

Event trace for example: https://cloudlogging.app.goo.gl/qnREeAcQGtbWF3Bv5 (actions->download if required)

Db query:
[code]

instanceIds:
[code]

/cc @corneliusludmann

[2021-08-19 12:55] geropl commented on #5272
This seems to a problem with `db-sync`: DBs are out of sync.

[2021-08-19 12:58] geropl commented on #5272
nvm, this seems to have been a mysql client-caching issue :see_no_evil:

[2021-08-19 12:58] #5272 closed

[2021-08-19 13:04] geropl opened #5273 "[ws-manager] Stuck in stopping: cannot initialize workspace"
Instead of hanging in "stopping" forever these workspaces should become "stopped" eventually.

Event trace log: https://cloudlogging.app.goo.gl/QJY327RqEMDBPbrNA

DB query:
[code]

instanceIds:
[code]

[2021-08-19 13:10] geropl opened #5274 "[ws-manager] Stuck in stopping: IDE failed to start"
### Bug description

Instead of hanging in "stopping" forever these workspaces should become "stopped" eventually.

Event trace log: https://cloudlogging.app.goo.gl/WKaqhS2EQWt6qspw7

DB query:
[code]

instanceIds:
[code]

### Steps to reproduce

see above

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-19 13:13] geropl opened #5275 "[ws-manager] Stuck in stopping: cannot pull image"
Instead of hanging in "stopping" forever these workspaces should become "stopped" eventually.

Event trace log: https://cloudlogging.app.goo.gl/EXYxbuiVyATKGic47

DB query:
[code]

instanceIds:
[code]

[2021-08-19 13:25] corneliusludmann commented on #4126
There is `gitpod.io/#imagebuild/` already. (see [may changelog](https://github.com/gitpod-io/gitpod/blob/main/CHANGELOG.md#may-2021)) That triggers a rebuild of the workspace image. Is it what you are looking for?

[2021-08-19 13:30] corneliusludmann commented on #4126
@mikenikles We don't have this feature in our docs. Do you have some time to find a spot where we could add this?

[2021-08-19 13:46] JanKoehnlein commented on #5271
/schedule

[2021-08-19 13:46] pawlean opened #5276 "Error user deleting account"
### Bug description

Received this from a user:

I believe that they have now deleted their account as I can no longer see it, but I thought it was worth having this issue raised just in case it needs extra eyes on it.

### Steps to reproduce

Try to delete an account

### Expected behavior

Successfully deleting an account

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-19 13:48] gtsiolis commented on #5276
Thanks @pawlean! 🐾

Closing this as a duplicate of https://github.com/gitpod-io/gitpod/issues/5262, which is already scheduled in the engineering groundwork. Cc @JanKoehnlein

[2021-08-19 13:48] #5276 closed

[2021-08-19 14:11] atduarte commented on #4126
Thank you, @corneliusludmann.

@shaal will close the issue as it seems the functionality already exists. If you have further concerns feel free to reopen. :)

[2021-08-19 14:11] #4126 closed

[2021-08-19 14:12] gtsiolis commented on #4126
@atduarte could you open a follow up issue for potentially adding some documentation about this as @corneliusludmann mentioned in https://github.com/gitpod-io/gitpod/issues/4126#issuecomment-901917815?

[2021-08-19 14:16] atduarte opened #5277 "Add to documentation how to force workspace image rebuilds"
Currently, there's no information on how to force a rebuild of a workspace image, even though such functionality exists since May (`gitpod.io/#imagebuild/`)

See https://github.com/gitpod-io/gitpod/issues/4126#issuecomment-901917815

cc @mikenikles

[2021-08-19 14:22] svenefftinge commented on #5273
We should look into the cause of this failures. There might be different reasons, but [the logs reveal](https://cloudlogging.app.goo.gl/7UUkzYwC8DhN9ayQ8) that there seem to be many more cases than those that stuck in stopping in DB.

[2021-08-19 14:41] gtsiolis opened #5278 "Highlight the default branch for GitLab projects in branches"
### Problem to solve

GitLab projects do not a) list the default branch on top of all other branches or b) use a label to indicate the default branch.

| Branches for a GitHub project | Branches for a GitLab project |
|-|-|
| <img width="1440" alt="Screenshot 2021-08-19 at 5 40 17 PM" src="https://user-images.githubusercontent.com/120486/130088721-c4530a87-9ffe-4c9f-b421-bb51c412df56.png"> | <img

[2021-08-19 14:55] AlexTugarev commented on #5268
@gtsiolis did you see this in a preview environment, on staging, or on prod ?

[2021-08-19 15:07] gtsiolis commented on #5268
@AlexTugarev this is reproducible on a) [this preview environment](https://werft.gitpod-dev.com/job/gitpod-build-at-gitlab-projects.26) from https://github.com/gitpod-io/gitpod/pull/5120#issuecomment-901976859, b) staging, and c) production but only when triggering a prebuild manually from the _Branches_ page.

[2021-08-19 15:31] gtsiolis opened #5279 "Change workspaces list filter, garbage collection, and pinning"
### Problem to solve

**Filters:** The dashboard redesign back in https://github.com/gitpod-io/gitpod/issues/3426 split the workspaces list into _Active_ & _All_. The split was introduced to help educate users about the ephemeral nature of workspaces as users kept coming back to restart stopped workspaces that contained obsolete code. See also [Gitpod's Product Vision](https://www.notion.so/Gitpod

[2021-08-19 15:37] shafy opened #5280 "Running brew update causes environment to stop"
### Bug description

If I try to run `brew update` in an environment, it first runs for a while and then the environment stops.

### Steps to reproduce

1. Start a default Rails environment from the Gitpod examples
2. Run `brew update`

### Expected behavior

_No response_

### Example repository

https://github.com/gitpod-io/template-ruby-on-rails-postgres

### Anything else?

I wanted to update

[2021-08-19 15:50] AlexTugarev commented on #5278
This is already resolved in #5120

[2021-08-19 15:53] gtsiolis commented on #5278
Woohoo! Thanks, @AlexTugarev! 🏀

[2021-08-19 16:02] meysholdt commented on #5260
no further analysis needed and actions are tracked by other issues: closing.

[2021-08-19 16:02] #5260 closed

[2021-08-19 16:11] atduarte commented on #5204
The same modal seems to have a few other issues: (1) lack of white space between form values, and (2) error is shown as soon as the modal is opened. @gtsiolis wdyt? Do you agree that this is something we should change? If yes, we can group all of these in a new issue.

[2021-08-19 16:48] dragonDScript commented on #1445
What about chromebooks?

[2021-08-19 17:13] atduarte commented on #898
That seems reasonable. I'm just concerned with two things:
1. the edge case of having multiple workspaces of the same project, as the requirement is not met in those cases (i.e. it breaks), but can't really think of a better option.
2. the URL is stable for the individual and not for the whole team which requires additional steps from users (e.g. configure env. vars with their API keys). The only

[2021-08-19 19:08] JohannesLandgraf opened #5282 "Add better Projector Support"
We list Jetbrains as an integration in our docs https://www.gitpod.io/docs/integrations/jetbrains while the developer experience includes lot of friction.

According to a recent post people seem to be satisfied with Projector https://youtrack.jetbrains.com/issue/IDEA-226455#focus=Comments-27-5088721.0-0

Adding the Jetbrains Fleet as an option to Gitpod is also #1 requested feature from one of our

[2021-08-19 19:16] CarlosDomingues commented on #1056
This issue breaks `poetry` as [it also changes PYTHONPATH](https://github.com/python-poetry/poetry/issues/1729)

[2021-08-19 22:22] aledbf commented on #5244
Closing. Fixed in #5229

[2021-08-19 22:22] #5244 closed

[2021-08-19 23:33] tnir commented on #3946
Is this still pending? Or developing? This would look like an advantage over GitHub Codespaces to me.

[2021-08-20 00:32] SimpleSimpleAds commented on #3946
Nothing seems to get updated with these guys. Services go out a lot though. Looking I to new options because the support and stability are questionable.

It's a shame because I fundamentally like the product.

[2021-08-20 01:49] ghuntley opened #5284 "browser extension: This item is age restricted. To view it, sign in to your account."
### Bug description

<img width="823" alt="2021-08-20_11-47-22" src="https://user-images.githubusercontent.com/127353/130166165-e165eceb-2786-431d-a17d-3ad73229c93a.png">

### Steps to reproduce

https://chrome.google.com/webstore/detail/gitpod-dev-environments-i/dodmmooeoklaejobgleioelladacbeki?hl=en

### Expected behavior

Should be able to view or install the Gitpod browser extension if under 1

[2021-08-20 02:11] shaal commented on #4126
@corneliusludmann Thank you so much, I did not notice that feature before...
💪

[2021-08-20 02:11] ghuntley opened #5285 "If a person belongs to the GitHub organisation @maintainers then automatically upgrade their account"
If a person belongs to the GitHub organisation https://github.com/maintainers (circa 2400 people) then automatically upgrade their account to the [Gitpod is free for open-source maintainers plan](https://www.gitpod.io/docs/professional-open-source) when they access Gitpod. Thus removing the need for people to do applications to Gitpod by hand and reducing our customer support burden. This would no

[2021-08-20 06:12] akosyakov commented on #5261
We hope to get it out next week. It is not the issue with the local app, but SSH server. It did not propagate env vars to ssh sessions.

[2021-08-20 07:06] JanKoehnlein commented on #5122
/assign @laushinka

[2021-08-20 07:11] JanKoehnlein commented on #4730
/assign @laushinka

[2021-08-20 08:13] atduarte commented on #1445
Good question. For now, given the low usage by our users, the high cost of developing it, and our engineering capacity constraints we are not prioritizing it.

In the meantime, it may be worth checking the post @svenefftinge mentioned above ([link](https://itnext.io/i-wrote-a-chrome-extension-gitpod-window-here-is-what-i-learned-8583a3a179dd)) and the associated non-official extension [gitpod-wind

[2021-08-20 09:17] pawlean commented on #5280
Hey @shafy! I confirm that my environment also crashes when I try and run a `brew update` in that repo. Thank you for flagging this 🙏🏼

[2021-08-20 09:20] #5262 closed

[2021-08-20 09:29] JanKoehnlein commented on #5284
While this may look strange, this is according to our ToS

I know that GitHub allows minors as well, but European/German law forbids entering any contract with minors.

[2021-08-20 09:37] gengjiawen opened #5290 "[Feature request]add ready-to-code pull request to welcome screen."
I find it `Fully automate dev setup with Gitpod` feature is missing after switch to vscode.
Maybe we can add it back like in welcome screen.

Old PR generated by this: https://github.com/gengjiawen/monkey-rust/pull/1.

[2021-08-20 09:39] JanKoehnlein commented on #5246
We're currently swamped in groundwork. As the container eventually starts, I am not scheduling this now. Feel free to bring this in again.

[2021-08-20 09:43] JanKoehnlein commented on #5273
/schedule

for further investigation

[2021-08-20 09:43] JanKoehnlein commented on #5274
/schedule

for further investigation

[2021-08-20 09:43] JanKoehnlein commented on #5275
/schedule

for further investigation

[2021-08-20 09:47] svenefftinge commented on #5290
We should add a comment through the app to PRs that lists two links
 - to the prebuild page
 - start a dev environment

[2021-08-20 10:05] corneliusludmann commented on #5232
With #5241 deployed, we see now the following stack trace:

[code]

[2021-08-20 10:21] shafy commented on #5280
Thanks @pawlean ! Do you also have problems installing taps (e.g. `brew install stripe/stripe-cli/stripe`) with that repo or is that unrelated?

[2021-08-20 12:20] svenefftinge opened #5292 "Cannot delete my account"
In preview environments the account deletion fails with an empty message:
[code]

[2021-08-20 12:22] svenefftinge commented on #5292
Oh, it seems like the deletion happened somehow. I'm now always redirected to the log-in page and see an error in the javascript console:
[code]

[2021-08-20 12:22] AlexTugarev commented on #5292
likely a duplicate of https://github.com/gitpod-io/gitpod/issues/5262

[2021-08-20 12:54] #5278 closed

[2021-08-20 12:54] #5078 closed

[2021-08-20 12:58] felipecrs commented on #1445
And Chromebooks runs VS Code, if Linux support is enabled.

[2021-08-20 13:01] AlexTugarev commented on #5115
@gtsiolis, I suggest to limit the scope of this issue to self-managed GitLabs. We assume that it will work with little changes, just by relaxing the blocker.

With GHE things look much different. The configuration part of GItHub Prebuilds requires to generate a key and import it into Gitpod, which is currently supported at deploy-time only.

[2021-08-20 13:05] gtsiolis opened #5297 "Allow users to add projects in teams from self hosted GitHub providers"
### Problem to solve

Following https://github.com/gitpod-io/gitpod/issues/5115, the upcoming **Teams & Projects** feature supports adding repositories from GL (gitlab.com) and GH (github.com) but does not support projects from self hosted GitHub instances.

[2021-08-20 13:06] gtsiolis commented on #5115
Sounds absolutely reasonable, @AlexTugarev! I've only added this to avoid missing both points. Renamed this issue for GitLab self hosted and opened https://github.com/gitpod-io/gitpod/issues/5297 for supporting GitHub self hosted which I'd think also has a lower priority than this one. 🔅

[2021-08-20 13:25] JanKoehnlein commented on #5292
Duplicate of #5262

[2021-08-20 13:25] #5292 closed

[2021-08-20 13:40] pawlean commented on #5280
I also had the same issue when trying to install stripe. But I'm not 100% sure if it's related to this as I was looking on Stripe's repo and saw others complain about the same issue...🤔 This would definitely need further investigation! Thanks for highlighting.

[2021-08-20 13:57] shafy commented on #5280
Ok, good to know. Thanks!

[2021-08-20 15:37] dragonDScript commented on #1445
Althought most chromebooks are able to run vscode, including mine, it is slower than gitpod.

[2021-08-20 15:53] felipecrs commented on #1445
I suppose you mean it's slow when developing locally, right? The goal here was to use VS Code not to develop locally, but remotely connected to the Gitpod environment. Just like Codespaces.

[2021-08-20 17:38] aledbf opened #5301 "[ws-proxy] Add metric for event `no workspace info found - redirecting to start` (SLO)"
xref: https://github.com/gitpod-io/gitpod/pull/5300

cc @meysholdt @ArthurSens

[2021-08-20 18:12] ArthurSens commented on #5301
Hey! I think I'm missing some context here, what SLO are we talking about?

[2021-08-21 06:08] hrithikrtiwari commented on #5014
I still have the same problem with this latest August Update
![image](https://user-images.githubusercontent.com/42163313/130312395-469912be-b170-4199-94d8-0e70aad3abb2.png)

[2021-08-21 06:16] ghuntley commented on #5014
Same problem with GitHub Codespaces as well so confirming upstream vscode
issue.

On Sat, 21 Aug 2021, 4:08 pm Hrithik Tiwari, ***@***.***>
wrote:

[2021-08-21 11:39] shaal commented on #4537
This problem also happens on android tablet, running Edge Chromium

[2021-08-21 11:44] shaal commented on #4537
I tested Github.dev, and github1s.com
They all seem to have the same problem, VScode doesn't open on Android with Edge Chromium browser.

[2021-08-21 19:48] dragonDScript commented on #1445
Both locally and remotely. Using the browser is just better.

[2021-08-21 23:12] rfay opened #5303 "Don't show ports that are bound only to localhost"
### Bug description

When an application binds to a port on localhost only, as opposed to 0.0.0.0, there's no way that gitpod is going to be able to proxy it, so it might as well be ignored. AFAICT gitpod only proxies ports that are bound on all interfaces.

[DrupalPod](https://github.com/shaal/DrupalPod) and [ddev-gitpod](https://github.com/shaal/ddev-gitpod) use [ddev](https://github.com/drud/dd

[2021-08-22 00:43] shaal commented on #5303
+1 for getting this resolved.
The panel that displays all the ports available should only show ports that can actually be previewed or opened on a browser, otherwise it adds confusion.

[2021-08-22 00:49] TheBotlyNoob opened #5304 "Custom CSS"

[2021-08-22 05:26] akosyakov commented on #5303
It is by design. We auto proxy and auto expose localhost ports privately. You can start any service on localhost, click open in browser see that you can access it via exposed URL. If we won’t do it it will introduce a lot friction since each project has to be reconfigured to bound on 0.0.0.0. In fact that’s there we started.

[2021-08-22 05:27] akosyakov commented on #5303
If you have some known ports which don’t serve http then you can list them as ignored in .gitpod.yml to avoid notifications.

[2021-08-22 08:42] Gwzlchn opened #5305 "Gitpod cannot integrate the Self-Hosted Gitlab with the port number"
### Bug description

The url of our self-hosted GitLab instance has a port number, which is not the usual 80/443, so when I integrate our GitLab into the GitPod SaaS platform, it prompts that the host name is invalid.

I found out the following regex will filters out urls with port numbers
[components/server/src/workspace/gitpod-server-impl.ts#L1783](https://github.com/gitpod-io/gitpod/blob/34b420

[2021-08-22 10:08] putskan commented on #1191
@ivansglazunov @Dids
Is there a way to do it automatically on workspace creation?

[2021-08-22 12:54] shaal commented on #1191
You can clone repos using https instead of ssh. When using https, Gitpod uses the access you granted it under 'integrations' -> 'git providers'.

Otherwise if you want to use ssh, gitpod needs your private ssh key (which I have as environment variable to my user, and copy it during .gitpod.yml's start task into the correct file location at `~/. ssh/id_rsa`

[2021-08-22 13:10] Ro-phon opened #5306 "Development environment with multiple hostnames"
Hi,

I couldn't figure out how to configure multiple hostnames.

We have a PHP project that consists of different services.

- api.myproject.com
- www.myproject.com
- admin.myproject.com
- clientA.myproject.com
- admin-clientA.myproject.com
- ...

Routing is done at application level.

While Googling this I saw a (very) similar question but unfortunately it got closed https://github.com/gitpod-io/

[2021-08-22 13:22] carrete opened #5307 "Support custom images with labels, like toolbox?"
I understand some distros can't be supported because of libc issues, as in https://github.com/gitpod-io/gitpod/issues/3356, but what other issues would prevent supporting distros like Fedora which does use the correct libc? (Fedora 34 didn't work for me. The gitpod layer couldn't be applied.) I wonder if there's another way to address this issue. Toolbox supports custom images which must also meet

[2021-08-22 14:08] carrete commented on #3924
I get the same error message:

I'm using a custom docker image, https://gitlab.com/tvaughan/containers/-/blob/trunk/containers.d/gitpod-workspace/Containerfile, in https://gitlab.com/tvaughan/kibit-runner/-/blob/master/.gitpod.yml. The workspace is started without issue. However, every `docker run ...` command exits with the above error.

[2021-08-22 17:37] Cahllagerfeld opened #5309 "Allow users to search recent and examples in the new workspace modal"
When creating a new workspace from a template-repo, a search-function might be added to seach the existing templates.
![grafik](https://user-images.githubusercontent.com/43843195/130364570-e771fd43-d87b-4242-b6c2-004d61370785.png)

[2021-08-22 21:18] bdescalzo commented on #5064
Is there any news related to the fix of this bug? Thanks!

[2021-08-22 22:23] #4218 closed

[2021-08-23 00:21] markfirmware commented on #4044
.

[2021-08-23 03:50] sunny0826 opened #5311 "Add Suport for gitlab.cn"
Hi, I'm a [gitlab.cn](https://about.gitlab.cn/) team member and a loyal user of gitpod. Currently gitpod integrates well with `gitlab.com`, and I would like to integrate with `gitlab.cn`, both in the gitlab platform and in browser extensions, and I will help in any way I can. This will also bring more users from China to gitpod.

/label `git provider: gitlab` `component: browser-extension`

[2021-08-23 03:52] shism2 commented on #5261
Yes, I can't get it to work at all on windows.

[2021-08-23 03:54] shism2 opened #5312 "More detailed instructions on how to setup Local companion"
I haven't been able to setup the application at all. I'm not sure if it's a bug on windows or not. Please provide some more detailed instructions on how to set it up step by step.

[2021-08-23 05:10] svenefftinge commented on #5282
I agree, it would be great. We have too many other things and loose ends in the pipeline atm. Given that people [can use Projector already](https://www.gitpod.io/docs/integrations/jetbrains) and that the [Jetbrains' remote development seems around the corner](https://youtrack.jetbrains.com/issue/IDEA-226455#focus=Comments-27-5125731.0-0). Suggest we unschedule this for now. Please put it back in o

[2021-08-23 05:12] svenefftinge commented on #3360
I think it would make sense to tackle this in the context of the new pricing.

[2021-08-23 05:20] svenefftinge commented on #5279
We cannot never garbage collect, because that would blow up our storage usage. We've been there.

How about moving both active and inactive to one page, where we have a thin separator that starts with the garbage collection warning?

Something like this:

<img width="1170" alt="Screenshot 2021-08-23 at 07 19 58" src="https://user-images.githubusercontent.com/372735/130394459-867ecff5-363e-4526-b16

[2021-08-23 05:23] svenefftinge commented on #5285
If it's only 2400 people I wonder if it's really worth the extra engineering effort and having special code in our system for such a small special case.

[2021-08-23 07:15] gtsiolis commented on #3360
Agree, removing from Product Groundwork / Inbox for now.

FYI, Reopened this after seeing a [relevant discussion](https://twitter.com/yogicodes/status/1428010443491069957) from the community. Cc @bigint @filiptronicek

[2021-08-23 07:21] gtsiolis commented on #4196
Re-opening as this is still relevant and would be useful.

[2021-08-23 07:28] ghuntley opened #5313 "Your workspace is currently shared. Anyone with the link can access this workspace."
Hey folks, I shared out a workspace for the first time and here's my thoughts:

1. Ctrl+Shift+P -> Share Workspace
3. The dialog below is shown

<img width="522" alt="2021-08-23_17-24-33" src="https://user-images.githubusercontent.com/127353/130407242-41ccc8c5-e293-46fe-95b9-c33c8967c091.png">

2. I was expecting the contents of my clipboard to be replaced.
3. I was expecting the URL that has been

[2021-08-23 07:41] akosyakov commented on #5312
Hi, could you elaborate: what you did? what went wrong?

[2021-08-23 07:46] akosyakov commented on #5306
Have you tried to use subdomains of localhost, i.e. api.localhost.com, www.localhost.com, admin.locahost.com and so on. In this case you can make use of [the local companion](https://www.gitpod.io/blog/local-app). It auto tunnels services from a Gitpod workspace to provide them on localhost similarly how you will do in usual local setup.

An alternative but trickier, is to use your own DNS server

[2021-08-23 07:46] akosyakov commented on #898
Another place where I think stable URLs would help with a conjunction of own DNS server on client side: https://github.com/gitpod-io/gitpod/issues/5306

[2021-08-23 07:48] akosyakov commented on #5307
I think we discussed couple times to build for different archs, but it will add overhead on our side to build them and can somehow affect startup performance, maybe because of low image reuse not sure. cc @csweichel

[2021-08-23 07:52] akosyakov commented on #4537
Could it be that you don't use latest version? From your logs it seems that optional chaining is not supported. Could you share versions of OS and browsers?

[2021-08-23 07:55] akosyakov commented on #5304
Could you open a new issue with elaborated description? Thank you!

[2021-08-23 07:55] #5304 closed

[2021-08-23 08:05] svenefftinge commented on #5313
I wouldn't automatically overwrite the clipboard, but it would be good to add an action to the notification, that says "Copy URL to Clipboard" and in the message talk about "URL" not "link". Is that doable, @akosyakov?

[2021-08-23 08:06] akosyakov commented on #5313
It is given that a user allow clipboard access. Alternatively we can show hyperlink which user can click or copy as we do for snapshots.

[2021-08-23 08:07] svenefftinge commented on #5307
Can you share some reasons why supporting many different distros would be important? Just to get a bit more info to balance on the effort vs. value side.

[2021-08-23 08:10] gtsiolis commented on #5313
+1 for adding a call to action for copying the URL as this is also the case for snapshots.

<img width="473" alt="Screenshot 2021-08-23 at 11 09 02 AM (2)" src="https://user-images.githubusercontent.com/120486/130413169-6dbfc954-2431-4f06-bb44-9157d7b177ee.png">

[2021-08-23 08:51] svenefftinge opened #5314 "Adjust self-hosted License"
We offer one version to be installed that includes all the code (open-source & ee-licensed).
Without a professional self-hosted license, this should be limited to 10 registered users but include all features.

Professional self-hosted license starts with the 11th member and shall be 35 USD per month.

----

We need to update the [code](https://github.com/gitpod-io/gitpod/blob/main/components/licen

[2021-08-23 08:52] svenefftinge commented on #5314
cc @JohannesLandgraf, @pawlean, @ghuntley

[2021-08-23 09:00] ChristinFrohne opened #5315 "automatically enable "product tips" notifications for existing users"
**Context:**
we just introduced a third notification option ("Developer Experience & Product Tips") to the notification preferences. This preference is automatically enabled for all new users but disabled for existing ones.

**Proposed solution:**
enable the checkbox for "Developer Experience & Product Tips" for all users that formerly allowed marketing emails.
Note: We set the "changelog" checkbo

[2021-08-23 09:08] MrSimonEmms commented on #5059
I'm finding this when running v0.10.0 in K3S. In the meantime, v0.9.0 works on K3S as the change was introduced the day after v0.9.0 was published.

Also, https://community.gitpod.io/t/self-hosted-helm-bcrypt-error/4534

[2021-08-23 09:54] #5059 closed

[2021-08-23 10:36] #4780 closed

[2021-08-23 10:45] purkhusid commented on #4780
When can we expect this to be deployed?

[2021-08-23 10:56] axonasif commented on #4780
I'm with you too 😝, but eh, we just need to be patient.

[2021-08-23 11:13] akosyakov commented on #4780
Deployed soon, but we won't make it available to everybody immediately. If all go well in 1-2 week for everybody.

🙏

[2021-08-23 11:19] laushinka commented on #5122
Discussed this with @gtsiolis and decided to add a tooltip as a temporary solution to this issue until we launch Teams and Projects.

[2021-08-23 11:20] JanKoehnlein opened #5317 "[ci] make integration tests pass on staging"
The integration tests are run after deploying to staging. They currently fail.
Errors are logged to #o_gitpod-staging-com

[2021-08-23 11:24] wileymarques commented on #850
Most of the issues we have on the iPad is because Safari for mobile devices has a weird implementation for mouse support.

Maybe a native app could ship with a different WebView engine embedded in it. Although I’m not sure if Apple would allow that.

[2021-08-23 11:47] gtsiolis commented on #5122
Thanks @laushinka, adding below some more discussion points for transparency:
1. Replacing the provider domain name with an icon as described in https://github.com/gitpod-io/gitpod/issues/5122#issuecomment-898287715 could help but I'd suggest to be frugal with adding more icons when possible. Besides this, using the provider icon would work only as a provider type indicator as the domain could be

[2021-08-23 11:51] svenefftinge commented on #5066
We should introduce a settings page, where the team can be deleted similarly to how an account is deleted.

[2021-08-23 11:53] svenefftinge commented on #5066
see also https://github.com/gitpod-io/gitpod/issues/5067

[2021-08-23 11:53] svenefftinge commented on #5067
I think introducing a settings page isn't big effort and would make the UX symmetrical. See also https://github.com/gitpod-io/gitpod/issues/5066

[2021-08-23 12:00] svenefftinge commented on #5084
I'm much in favor of this, as it provides us a central control and solves this for other storage providers (minio). We are talking about log files of prebuilds so I assume egress isn't a problem here?

[2021-08-23 12:04] svenefftinge commented on #5084
FWIW here's the caddy plugin for the workspace content download : https://github.com/gitpod-io/gitpod/blob/main/components/proxy/plugins/workspacedownload/workspace_download.go

[2021-08-23 12:05] svenefftinge commented on #5084
Would be good if someone (@geropl maybe?) with more knowledge of caddy can take this. I assume it would be relatively easy based on the existing plugin.

[2021-08-23 12:20] jakobhero commented on #5211
After digging deeper, the IP addresses are already collected and the problem is caused when the events are forwarded to mixpanel. i am going to take on this now as it's no longer an engineering problem

[2021-08-23 12:26] AlexTugarev commented on #5185
<img width="496" alt="Screen Shot 2021-08-23 at 14 25 22" src="https://user-images.githubusercontent.com/914497/130446813-d2690744-4829-419b-bc5c-8be67df2fde9.png">

this is quite bad and results in an empty rendering.

[2021-08-23 12:35] carrete commented on #5307
@akosyakov, The idea is to not build the gitpod layer, but instead use the existence of labels to check that the image has been built to the proper specs. Or instead of labels, a script that can be run as a command which outputs details about the image.

[2021-08-23 12:36] carrete commented on #5307
@svenefftinge, Ubuntu has made many packages snap only which cannot be run in containers, such as chromium,  is one such reason.

[2021-08-23 12:48] axonasif opened #5320 "Produce linux-arm64 binaries for local-companion-app"
Hi, currently I'm using ~~Ubuntu Focal Fossa~~ ArchLinuxARM in an arm64 device. And I can run vscode natively since they support the arm64 architecture officially as well. It would be great if gitpod would produce the `local-companion` binaries for arm64 architecture too.
Thanks.

## Tasks
- [x] merge https://github.com/gitpod-io/gitpod/pull/6065 and deploy server
- [x] update Gitpod extension: ht

[2021-08-23 12:50] empz opened #5321 "Support for Azure DevOps repos & Azure AD sign-in"
A lot of companies are still using Azure DevOps, even though GitHub was acquired by Microsoft.

It would be nice to add support to add repos from an Azure DevOps organization. I supposed this would include adding SSO for Azure AD.

[2021-08-23 12:52] atduarte commented on #5182
Also couldn't reproduce in Chrome or Safari.

[2021-08-23 13:15] gtsiolis commented on #5285
Also, this seems to be an inactive community group since 2019, right? See also [README](https://github.com/maintainers/public-resources#readme).

Removing from Product Groundwork / Inbox for now.

[2021-08-23 13:21] JanKoehnlein commented on #5211
Thanks for the heads up. Unscheduling from engineering groundwork

[2021-08-23 13:22] svenefftinge opened #5324 "[ws-daemon] Clean up failed backups"
Seems like failed backups don't get removed.
Listing the largest users in ephemeral storage on a node lists these:
[code]

Those tars all have the same size (our limit) they are also long stopped.

[2021-08-23 13:31] ChristinFrohne commented on #4793
Jakob suggested adding another checkbox for the onboarding flow emails to the notification preferences. Previously we thought to keep the unsubscribe logic of the onboarding emails at customer.io to keep the effort of the new changes as low as possible. We now reconsidered that and decided to implement another checkbox, as the implementation isn't that complex and because there are several benefit

[2021-08-23 13:33] #5324 closed

[2021-08-23 13:58] svenefftinge opened #5326 "[ws-daemon] "cannot set new CPU limit""
We see [many logs](https://cloudlogging.app.goo.gl/LoZdKzdCA4za84zt9) with this error:
[code]

[2021-08-23 13:59] ChristinFrohne opened #5327 "Add another checkbox to email preferences"
Jakob suggested adding another checkbox for the onboarding flow emails to the notification preferences. Previously we thought to keep the unsubscribe logic of the onboarding emails at customer.io to keep the effort of the new changes as low as possible. We now reconsidered that and decided to implement another checkbox, as the implementation isn't that complex and because there are several benefit

[2021-08-23 13:59] #4793 closed

[2021-08-23 14:00] ChristinFrohne commented on #4793
The last comment will be addressed in issue #5327

[2021-08-23 14:05] aledbf commented on #5326
@svenefftinge this is the reason why I added addition context in ws-daemon to understand the reason https://github.com/gitpod-io/gitpod/pull/5082

[2021-08-23 14:15] laushinka opened #5328 "Change existing string values in DB to booleans"
### Bug description

![Screenshot 2021-08-23 at 09 15 25](https://user-images.githubusercontent.com/8015191/130458252-7f6cf7ca-32f0-4186-9ac6-079a5b668d1d.png)

Some values of allowsChangelogMail are strings when they should be booleans. This was caused by a migration on 20.08.2021 where the query incorrectly populated the field as strings, therefore it only affected data up to that date.

### Ste

[2021-08-23 14:31] akosyakov commented on #5313
/schedule

[2021-08-23 14:31] roboquat commented on #5313
@akosyakov: We have more than 20 cards scheduled. Above 15 only scheduler can perform this action. Those are:
  - csweichel
  - JanKoehnlein

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5313#issuecomment-903828619):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you

[2021-08-23 14:32] JanKoehnlein commented on #5313
/schedule

[2021-08-23 15:26] markfirmware commented on #3059
.

[2021-08-23 15:29] corneliusludmann commented on #4730
Steps to reproduce that issue:

1. Open https://gitlab.com/gitlab-org/gitlab/ in Gitpod and wait until the GitLab instance is up and running on port 3000 (could take some time).
2. Login into your GitLab instance (https://3000-xxxxx-xxxxxx-xxxx.ws-xxXX.gitpod.io/) with `root` / `5iveL!fe`.
3. After login into your GitLab instance, open a sample repo and copy the URL.
4. Append this repo URL to you

[2021-08-23 15:40] corneliusludmann commented on #4730
Thinking about it, it would probably be enough to use any random non-existing context URL, like https://gitpod.io/#https://my-gitlab.com/sample/repo since the proposed solution is to just change the error text with a link where you could add an integration for every context URL that cannot be parsed. You don't need to use an actual existing GitLab instance as a context URL as long as we don't want

[2021-08-23 17:09] gtsiolis opened #5330 "Group avatars fail to load for GitLab groups"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/5120#discussion_r690467889, group avatars fail to load for GitLab groups. 🦊

| Missing avatars on groups (a) | Missing avatars on personal accounts (b)|
|-|-|
| <img width="840" alt="Screenshot 2021-08-17 at 5 44 31 PM" src="https://user-images.githubusercontent.com/120486/129751165-38363e59-9b1a-4b19-9e12-0fe0aa05e33

[2021-08-23 17:16] gtsiolis opened #5331 "Default to personal account when importing a project from GitLab"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/5120#discussion_r690469441, when trying to import a project from GitLab,  the pre-selected account is a specific but maybe random group.

### Proposal

Default to personal account when importing a project from GitLab. 🦊

[2021-08-23 17:39] aledbf commented on #5090
@csweichel there is nothing to fix here besides upgrading the kernel.
From production:
[code]

From EKS (using kernel 4.13)
[code]

[2021-08-23 17:44] gtsiolis opened #5332 "Truncate branch name on the prebuilds page"
### Problem to solve

Branch name is wrapping when the branch name is long.

### Proposal

Truncate the branch name on the prebuilds page so that the branch name does not wrap into two lines for medium and large viewports.

| BEFORE | AFTER |
|-|-|
| <img width="1076" alt="branch-before" src="https://user-images.githubusercontent.com/120486/130492691-e17170e5-6413-403f-916f-a4b2602c3892.png"> | <i

[2021-08-23 17:53] gtsiolis opened #5333 "Add a hyperlink to the provider when importing a project"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/5120#discussion_r690460216, when importing a project, a text version of the provider domain is shown. We could provide a quick link back to that provider so that users could inspect project membership, create new projects, etc. that they can import in Gitpod.

Similar to the project header for Branches that links to t

[2021-08-23 17:58] gtsiolis opened #5334 "Use a smaller height for project container when selecting a project to import"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/5120#discussion_r692169692 and taking into account the updated design specs in #4948 and #4951, the project container when selecting a project to import is overflowing below the viewport height in some cases in small viewports.

### Proposal

What do you think of using a smaller max height like `max-h-52`?

| BEFORE |

[2021-08-23 18:28] gtsiolis opened #5335 "Truncate and link commit message on the branches and prebuilds pages"
### Problem to solve

Commit message can sometimes overflow into two lines of text in the Branches page.

### Proposal

Let's truncate the commit message but also link the commit message back to the provider. 🦊

| BEFORE | AFTER |
|-|-|
| <img width="1345" alt="Screenshot 2021-08-23 at 9 25 42 PM (2)" src="https://user-images.githubusercontent.com/120486/130498148-a91757f0-a95d-44e3-82db-76564f6a4

[2021-08-23 18:34] gtsiolis opened #5336 "Some prebuilds states are missing when surfacing prebuilds on the dashboard"
### Problem to solve

Some prebuilds states are missing when surfacing prebuilds on the dashboard. For example, see the list in https://gitpod-staging.com/gitpod-io/gitpod/prebuilds.

See also [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1627897617018600?thread_ts=1627893186.012900&cid=C021Q4BL8E8) (internal). Cc @AlexTugarev

<img width="1114" alt="Screenshot 2021-08-23 at

[2021-08-23 18:42] mike-seagull opened #5337 "add default gitpod.yml file"
A useful feature for me would be the ability to add a default gitpod.yml file for my profile. Alot of the time I end up using the same config file for many of my projects and it would be useful to keep from needing to copy a file between projects. And it becomes a hassle when I need to update this file everywhere if I want to change something.

[2021-08-23 18:43] gtsiolis opened #5338 "Remove prebuild increment until this feature is added"
### Problem

Currently, a prebuild increment number is suffixed at the end of the branch name in the prebuilds page.

### Proposal

Until this feature is added, let's remove that increment number.

| BEFORE | AFTER |
|-|-|
| <img width="859" alt="branch-before" src="https://user-images.githubusercontent.com/120486/130500442-45486bb9-c3c3-4290-8f42-4710c3924934.png"> | <img width="859" alt="branch-

[2021-08-23 20:17] shism2 commented on #5312
@akosyakov I was able to figure it out.

[2021-08-23 21:01] da-moon commented on #4886
@billsioros  I got that problem fixed in a hacky way by setting env vars in files under `/etc/profile.d/` and having `/etc/bash.bashrc` to source all files under `/etc/profile.d/` and some `sed` statements to update local `~/.bashrc` and `~/profile` file.

[code]
there are more steps involved so I would recommend you to read my Gitpod docker image [here](https://github.com/da-moon/virtualized-envi

[2021-08-24 02:55] akaFTS commented on #850
Apple won't allow a differente WebView engine but you do have much more leeway to fine-tune the experience, shortcuts, UI and so on.

I honestly do not see a Gitpod webapp working decently on iPad anytime soon given how bad Mobile Safari is.

[2021-08-24 04:24] shism2 commented on #5337
Good idea

[2021-08-24 06:23] #5312 closed

[2021-08-24 06:42] ghuntley commented on #4391
Raised https://github.com/gitpod-io/website/pull/874/files to document ClearURLs breaks Gitpod at the moment. If there are additional browser extensions identified please raise a new issue for each one. 🧡

[2021-08-24 06:42] #4391 closed

[2021-08-24 07:23] csweichel commented on #5138
The root cause was most likely the recent containerd instability issues. I'll close this for now and will re-open if the issue re-appears.

[2021-08-24 07:23] #5138 closed

[2021-08-24 07:24] csweichel commented on #5064
The root cause is this issue: https://github.com/gitpod-io/gitpod/issues/5090

I'll close this one in favour of #5090

[2021-08-24 07:24] #5064 closed

[2021-08-24 07:26] csweichel commented on #5326
I have only ever seen this issue when ws-daemon tried to set the value that was already set. E.g. the quota is set to `6000` and we try to set it to `6000` again.

[2021-08-24 07:31] svenefftinge commented on #5337
Can share what you put into your .gitpod.yml files? They are meant to define what is needed for a specific project, so all developers on that project can enjoy the same working setup.

[2021-08-24 07:32] csweichel commented on #5326
/schedule

[2021-08-24 07:32] csweichel commented on #5326
/assign

[2021-08-24 07:33] svenefftinge commented on #5328
Maybe tackle this together with https://github.com/gitpod-io/gitpod/issues/5315

[2021-08-24 07:39] svenefftinge opened #5341 "[ws-daemon] logs too many errors"

[2021-08-24 07:42] mike-seagull commented on #5337
https://github.com/mike-seagull/cloud_murmation/blob/master/.gitpod.yml
https://github.com/mike-seagull/gitpod-base/blob/master/.gitpod.yml
Here are examples where I used the same config file in each project.

[2021-08-24 07:45] #5341 closed

[2021-08-24 07:51] corneliusludmann commented on #5084
I can have a look but I don't know much about Teams & Projects yet. Can someone give me an intro to what I need to do to be able to download prebuild logs?

[2021-08-24 07:52] billsioros commented on #4886
Hello @da-moon,

I have already adopted the workaround described by @jefer94, but I appreciate the advice! Thanks very much 😄

[2021-08-24 08:00] csweichel commented on #5271
/assign

[2021-08-24 08:10] #5326 closed

[2021-08-24 08:12] #5185 closed

[2021-08-24 08:14] svenefftinge commented on #5311
Did you try to add gitlab.cn as a self-hosted GitLab as described [here](https://www.gitpod.io/docs/gitlab-integration#connecting-your-self-hosted-gitlab-account)?

[2021-08-24 08:25] sunny0826 commented on #5311
Sure, that's what I'm currently doing. I imported my project by prefixing the url with `gitpod.io/#` and had a great experience. But I would like `gitlab.cn` to automate the configuration like `gitlab.com` does.

[2021-08-24 08:25] svenefftinge commented on #3059
Having an explicit description that is shown in the view in VS Code would be great. Ideally, we also show the program that is serving the port. @csweichel I kind of remember you mentioned this was relatively easy.
I think we should allow for a description in the configuration and if that is not set we show the program name.

[2021-08-24 08:48] akosyakov opened #5342 "[code] integrate gitlab workflow extension"
It implies creating a merge request for https://gitlab.com/gitlab-org/gitlab-vscode-extension/-/issues/337 and then integrating in our version of Gitpod Code.

[2021-08-24 08:48] akosyakov commented on #5342
/schedule

[2021-08-24 08:48] roboquat commented on #5342
@akosyakov: We have more than 19 cards scheduled. Above 15 only scheduler can perform this action. Those are:
  - csweichel
  - JanKoehnlein

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5342#issuecomment-904450221):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you

[2021-08-24 08:53] csweichel commented on #5317
/schedule

[2021-08-24 08:54] csweichel commented on #5314
/schedule

[2021-08-24 08:58] gtsiolis opened #5343 "Hide the new project card when project search returns no results"
### problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/5318#discussion_r693933662, when project search returns no results the new project card is visible.

<img width="1105" alt="Screenshot 2021-08-23 at 3 34 52 PM" src="https://user-images.githubusercontent.com/120486/130447916-1cbabaa9-8867-4148-aec0-74796e191599.png">

### Proposal

Instead, we could a) hide the new pr

[2021-08-24 09:02] #4972 closed

[2021-08-24 09:06] meysholdt commented on #4962
a use-case: https://gitpod.slack.com/archives/C02C4S04PA6/p1629795915010500

[2021-08-24 09:07] #4761 closed

[2021-08-24 09:15] AlexTugarev opened #5344 "[Projects] Cannot access prebuild logs if not project owner"
### Bug description

When trying to access prebuild logs of a project where I'm not the installation owner, I see the following error `missing get permissions on workspace`.  The error does not appear on projects which I installed.

<img width="931" alt="Screen Shot 2021-08-24 at 10 24 21" src="https://user-images.githubusercontent.com/914497/130589582-270d38d6-1a3c-47d2-bf23-8defec141ffd.png">

T

[2021-08-24 10:02] akosyakov opened #5348 "[code-desktop] PATH env var is different between regular and task terminals"
### Bug description

For instance in https://github.com/gitpod-io/vscode task terminals have `yarn` installed, but user terminals don't have it.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-24 10:16] MrSimonEmms opened #5349 "Workspaces are not being backed up on EU15 cluster"
### Bug description

Workspaces on EU15 cluster are erroring when closing, due to backup file not being available to be uploaded to storage

Discovered during deployment to production this morning with @wulfthimm, @princerachit and myself

### Steps to reproduce

- Open new workspace
- Make a code change, without committing to repo
- Close workspace

### Expected behavior

Backups should be create

[2021-08-24 10:59] gtsiolis opened #5350 "Add prebuild increment next to the branch name"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/issues/5338 and https://github.com/gitpod-io/gitpod/pull/5346, prebuild increment has been removed before shipping Teams & Projects. However, it still sounds useful to have this number near each prebuild.

### Proposal

Let's add back the prebuild increment next to the branch name on _Branches_ and _Prebuilds_ pages.

[2021-08-24 10:59] gtsiolis commented on #5338
Added follow up in https://github.com/gitpod-io/gitpod/issues/5350 to restore this. 🏓

[2021-08-24 11:06] corneliusludmann commented on #5129
/assign

[2021-08-24 11:34] gtsiolis commented on #5344
Could not easily reproduce but sounds something we need to fix before shipping **Teams & Projects**. Adding this to the crew proejct board for now. Thanks @AlexTugarev!

[2021-08-24 11:41] #5338 closed

[2021-08-24 11:45] gtsiolis opened #5351 "Add loading indicator when fetching branches and prebuilds"
### Problem to solve

Loading Branches and Prebuilds for a project can still take a while for active projects, see https://github.com/gitpod-io/gitpod/issues/5038.

### Proposal

Until there's a better way to resolve these perfomance issues, we could introduce a loading indicator when fetching branches and prebuilds to improve the user experience.

This could use the loading indicator being introd

[2021-08-24 13:24] shism2 commented on #5337
One user experience issue I ran into was that if I use the github
repository "gitpod" shortcut button on a repo that doesn't have a
gitpod.yml at all then it can lead to quite some confusion. Especially for
a beginner.

Ideally there would be some way to select a default gitpod.yml to add or
some sort of mechanism that automatically notifies the user about a missing
gitpod.yml or begins the "gp in

[2021-08-24 14:57] bbartels opened #5360 ".NET workspace fails with MSB6004"
### Bug description

The build in the workspace fails with the following error:

```/home/gitpod/dotnet/sdk/5.0.205/Roslyn/Microsoft.CSharp.Core.targets(71,5): error MSB6004: The specified task executable location "/run/containerd/io.containerd.runtime.v2.task/k8s.io/9893fadb493f1802ef41dc3e7138768879832b73c9ee3e60759ad3c544a9d6ab/rootfs/home/gitpod/dotnet/dotnet" is invalid. [/workspace/template-

[2021-08-24 15:00] aledbf commented on #5360
Closing. The root cause is this issue: #5090

[2021-08-24 15:00] #5360 closed

[2021-08-24 15:02] robertlyson opened #5361 "Can't log in using GitHub account"
### Bug description

Hi,

I'm trying to log in using my GitHub account but after providing my credentials I'm receiving "Your browser did something unexpected" message.

![gif (22)](https://user-images.githubusercontent.com/2392583/130639341-1200061e-d980-41c8-8371-0084717f2386.gif)

Looks like the call `POST https://github.com/session` end up in status 422.

![image](https://user-images.githubuse

[2021-08-24 15:21] jankeromnes commented on #4700
Side note: DaemonSets can have [node selectors](https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#running-pods-on-select-nodes) to restrict them to some nodes.

This could allow limiting DaemonSets to only some nodes (for example, only 50% of the nodes, or 1 node for each deployment).

[2021-08-24 15:33] akosyakov commented on #5106
@gtsiolis I think we need another dimension for VS Code which allow to choose between Web, Desktop and Desktop Insiders in the settings view. On the loading screen for the running phase we need buttons to continue either with Web or Desktop.

[2021-08-24 15:57] atduarte commented on #4625
@twtwtw-gj could you please help me understand what problem you are trying to solve.

Currently, the docker image used is already configurable by changing the .gitpod.yml/.gitpod.Dockerfile.  https://www.gitpod.io/docs/config-docker#custom-docker-image

[2021-08-24 16:08] #5349 closed

[2021-08-24 19:49] ryanolsonx opened #5364 "Unable to create Gitpod workspace from Bitbucket private branch with format "feature/JIRA-123-summary""
### Bug description

I've been trying to start using Gitpod at work. While attempting to open a Bitbucket branch in the format "feature/JIRA-123-summary", I encounter an error "Oh, no! Something went wrong!" message with "Not found." When looking at your code, I'm not sure that the bitbucket-context-parser accounts for this scenario.

### Steps to reproduce

1. Create a private repository with bra

[2021-08-24 20:56] rotho98 commented on #4130
I have the same issue, half chars on all the terminal text

[2021-08-25 01:57] gengjiawen commented on #4520
@akosyakov I see you fixed upstream bug. Is there any timeline this deployed to gitpod.

[2021-08-25 04:44] haneenmahd opened #5365 "rename workspace"
Currently, there is no way you could edit the names of a workspace.
It is hard to remember those freaky names all the time.

[2021-08-25 05:07] ghuntley commented on #5365
I agree the current naming system needs to be revisited. The current proposal is to change the behaviour to generate names using org followed by the repo-name. Would this help?

See https://github.com/gitpod-io/gitpod/issues/3908 and https://github.com/gitpod-io/gitpod/issues/4129#issuecomment-886429830

Personally, I would be hesitant to advocate for a way to rename workspaces because the lifecyc

[2021-08-25 05:07] ghuntley commented on #3908
Closing this out and merging into https://github.com/gitpod-io/gitpod/issues/4129#issuecomment-886429830

[2021-08-25 05:07] #3908 closed

[2021-08-25 05:08] ghuntley commented on #4129
/schedule

[2021-08-25 05:08] roboquat commented on #4129
@ghuntley: We have more than 20 cards scheduled. Above 15 only scheduler can perform this action. Those are:
  - csweichel
  - JanKoehnlein

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4129#issuecomment-905187128):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you h

[2021-08-25 05:32] ghuntley commented on #5364
Observations are as follows:

1. Created https://bitbucket.org/ghuntley/gitpod-issue-5364 (as a public repository)
2. Pushed `feature/JIRA-123-summary` branch
3. Navigated to the branch in the Bitbucket UI which yields https://bitbucket.org/ghuntley/gitpod-issue-5364/src/9534e0b7e346f5908168cb13ea788d7ad2f8e2fa/?at=feature%2FJIRA-123-summary
4. Open with Gitpod button launches repository
5. Source

[2021-08-25 06:06] svenefftinge commented on #5335
Another truncate issue:

<img width="453" alt="Screenshot 2021-08-25 at 08 04 30" src="https://user-images.githubusercontent.com/372735/130735392-1692d7ee-e89d-4ea4-92bd-514db4fd96a3.png">

[2021-08-25 06:06] svenefftinge commented on #5335
Also this https://github.com/gitpod-io/gitpod/issues/5332

[2021-08-25 06:09] #4948 closed

[2021-08-25 06:14] gtsiolis commented on #5335
The branch truncation could be fixed in https://github.com/gitpod-io/gitpod/pull/5098, see https://github.com/gitpod-io/gitpod/pull/5098#discussion_r684603979. 🤿

[2021-08-25 06:19] svenefftinge opened #5366 "Old prefixing no longer works"
With the recent introduction of teams, we broke the alternative style for context URLs.

[code]

We need to at least support this for github.com, gitlab.com and bitbucket.org for backwards compatibility. Self-managed gitlabs need to migrate to the # syntax.

[2021-08-25 06:21] akosyakov commented on #4520
We are still investigating. The issue was not closed yet. Unfortunately I don't think we have capacity this week.

[2021-08-25 06:25] akosyakov commented on #3059
I think we could look at cmd of the pid behind the port, similarly how VS Code does it. If we cannot use eBPF.

[2021-08-25 06:30] ghuntley commented on #5364
Pushed https://bitbucket.org/gitpod/sample-repository/branch/feature/JIRA-123-summary as a test case.

[2021-08-25 06:43] csweichel commented on #5254
I reckon we tread lightly here. Looking at this on a "per-phase level":
- **preparing**: this should already be fixed in #5055. If we can find instances where this did not happen in time, we likely have a bug here we should fix.
- **stopping**: if we just introduced a timeout after which we consider an instance that was stuck in stopping stopped, we likely hide/shadow an actual problem. Also, what

[2021-08-25 06:44] csweichel commented on #5366
Should we introduce a deprecation warning, too? Or do we intend to support the "old way" indefinitely?

[2021-08-25 06:50] sunny0826 commented on #5311
@svenefftinge Bad news, currently only my account on gitlab.cn integrates with gitpod, other colleagues show `Provider for this host already exists.` when integrating, so it is not available to our SaaS users.

[2021-08-25 06:54] svenefftinge commented on #5311
You need to install the integration once. The other users should be able to authorize by just opening a gitlab.cn repo with gitpod. I.e. `https://gitpod.io/#https://gitlab.cn/group/repo`

[2021-08-25 06:57] svenefftinge commented on #5365
this is a duplicate of https://github.com/gitpod-io/gitpod/issues/4857

[2021-08-25 06:57] #5365 closed

[2021-08-25 07:02] AlexTugarev commented on #5361
Hi @robertlyson! It looks like you cannot login into github.com actually. Please try to login on github.com first.

[2021-08-25 07:13] sunny0826 commented on #5311
@svenefftinge  thx, I'm now looking for more team member to try gitpod, and we'll be integrating gitpod more deeply in [GitLab 14.2](https://about.gitlab.com/releases/2021/08/22/gitlab-14-2-released/#launch-a-preconfigured-gitpod-workspace-from-a-merge-request).

[2021-08-25 07:39] atduarte commented on #4129
Related with #898

[2021-08-25 07:45] robertlyson commented on #5361
Hi @AlexTugarev, thanks for the response! Actually, I'm already signed in to github.com otherwise I wouldn't be able to post comments here, but when I open a new tab and I go to gitpod.com and click `Continue with GitHub` I'm experiencing an error from the gif above.

[2021-08-25 07:50] robertlyson commented on #5361
Maybe this one will show better what I'm experiencing

![gif (25)](https://user-images.githubusercontent.com/2392583/130749408-5f27685d-940a-41f9-a865-69cbd99d9bfd.gif)

The funny thing is, it's all works fine when I try to log in into gitpod with GitHub in the browser's private session.

[2021-08-25 07:50] AlexTugarev commented on #5361
@robertlyson you are right about that. Still, github.com asks you to sign in. Which fails in turn, see the relevant part of your recording:

<img width="852" alt="Screen Shot 2021-08-25 at 09 47 28" src="https://user-images.githubusercontent.com/914497/130749119-e6833249-0ce1-4347-9544-73b083b54677.png">

Could it be some browser extension that limits access to github.com or any redirects back to

[2021-08-25 07:57] robertlyson commented on #5361
@AlexTugarev also GitHub doesn't ask me about 2FA code from auth app when redirecting from gitpod.io.
I'm using the latest version of https://brave.com browser.

Will try to disable all extensions and see how that does.

[2021-08-25 07:59] akosyakov opened #5368 "local-app is crashing with old token"
### Bug description

We need to detect it and invalidate token.

### Steps to reproduce

[code]

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-25 08:06] akosyakov commented on #5231
It seems the load timing is significantly high now. If it is the reason I think we should assign someone to investigate. I don't think the solution will appear othewise.

[2021-08-25 08:06] robertlyson commented on #5361
Just noticed, that when my sign-in to GitHub from gitpod fails, my original GitHub sessions die.

[2021-08-25 08:09] #4730 closed

[2021-08-25 08:10] #5122 closed

[2021-08-25 08:10] robertlyson commented on #5361
Disabled all extensions in Brave and now works like a charm, let me just find which one was causing pain and will let you know ;)

[2021-08-25 08:13] robertlyson commented on #5361
@AlexTugarev it was Bitdefender Anti-tracker extension, thanks for your help and thanks for gitpod.io, great tool <3

[2021-08-25 08:13] #5361 closed

[2021-08-25 08:17] csweichel commented on #5368
/schedule

[2021-08-25 08:18] csweichel commented on #3059
We have some provisioning for using seccomp-notify for extracting the command that opened the port. It's predominantly a supervisor and workspacekit change.

[2021-08-25 08:20] csweichel commented on #3437
This issue still matters indeed, but considering the current load we have I don't see how we can fit this in right now. I'll remove from groundwork for now. Please re-add at a later time.

[2021-08-25 08:21] csweichel commented on #3059
This would be a great feature to have. However, considering the current workload I don't see how we can fit this in. Please re-add at a later time.

[2021-08-25 08:33] #5252 closed

[2021-08-25 08:33] #5268 closed

[2021-08-25 09:09] svenefftinge commented on #5231
We should allow people to opt-in through the repository configuration on how a clone should happen.
I think it makes sense to allow general clone arguments. So people can use different kinds of clones. Also we might want to investigate if a shallow clone followed by an async inflation that happens when users are already on the workspace couel make sense. this could drastically reduce the size on t

[2021-08-25 09:40] AlexTugarev commented on #5361
That's good news, @robertlyson! Happy coding!

[2021-08-25 09:52] gtsiolis commented on #5231
An option to select partial clone, full clone, or clone using arguments could be something to consider adding in a projects settings area, next to features like project-level environment variables https://github.com/gitpod-io/gitpod/issues/4456. 💭

[2021-08-25 09:56] gtsiolis opened #5370 "Close remote connection when stopping a workspace"
### Problem to solve

The upcoming changes for supporting opening workspaces in the local VS Code (Insiders) do not support closing the remote connections when you stop the workspace through the command palette. This can lead to user to reconnection issues even after re-opening the local editor unless the connections is closed.

| Reconnection Status | Reconnection Modal | Error while reopening |

[2021-08-25 10:16] gtsiolis opened #5371 "Add projects in the new workspace modal"
### Problem

The upcoming Teams & Projects feature will introduce a way for users to create teams but also import git repositories as projects under a new top-level navigation item _Projects_. The workspaces list is still there for the personal account and soon teams may have a dedicated place for workspaces associated with projects under a team, see https://github.com/gitpod-io/gitpod/issues/4921

[2021-08-25 10:25] gtsiolis opened #5372 "Allow users to open a new workspace for any branch"
### Problem to solve

The upcoming **Teams & Projects** feature will introduce a way for users open a new workspace for any recent (active) branch (see https://github.com/gitpod-io/gitpod/issues/4422). However, there is still no way for opening a new workspace for a non-active branch through the dashboard.

### Proposal

If this sounds interesting, there are two possible entry points for adding a

[2021-08-25 10:26] gtsiolis commented on #4857
Thanks, everyone!
1. Closing this in favor of an older issue in https://github.com/gitpod-io/gitpod/issues/3946 regarding the point for renaming workspaces.
2. The upcoming **Teams & Projects** feature will allow users to quickly open a new workspace for any recent and active branch. @faisal-m16 I've added https://github.com/gitpod-io/gitpod/issues/5372 to track the feature request to open a new w

[2021-08-25 10:28] #4857 closed

[2021-08-25 10:51] atduarte opened #5373 "Repository search malfunctions when adding a new project"
### Bug description

Search input disappears and no results are found, after typing in the "Search repositories" box in https://gitpod-staging.com/new.

See https://www.loom.com/share/f2a582ef644440d592dc39dae16fb6eb

### Steps to reproduce

In staging, having the teams & projects functionality active, add a new project, and use the text box to search for a repository.

### Expected behavior

_No

[2021-08-25 11:01] atduarte commented on #5351
It would be also good to do something similar in the prebuild page, as it starts with an "unknown prebuild" title

![image](https://user-images.githubusercontent.com/666176/130779275-b0696b98-b869-4b77-8288-e67166765162.png)

[2021-08-25 11:15] atduarte opened #5374 "No feedback when triggering prebuilds"
**Problem**

After creating a project (gitpod-staging.com/new), since the prebuild didn't automatically run (at least, apparently) and I couldn't trigger it on the configuration page, I went to the prebuilds tab and triggered a prebuild.

That action resulted in no feedback. Refreshed but there was no entry in the list, so I tried again (multiple times?). 5 minutes later when I came back there wer

[2021-08-25 11:30] AlexTugarev commented on #5374
PR https://github.com/gitpod-io/gitpod/pull/5116 will improve the situation by updating the Prebuilds page once a prebuild was enqueued.

There is still a gap to bridge between the action of a user and the backend events being propagated back to the frontend. It would make sense to add some intermediate state on the frontend to signal the start of an action. Once we receive the first event on a pr

[2021-08-25 11:36] gtsiolis commented on #5374
Thanks for noticing @atduarte!

From a [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1625736950377200?thread_ts=1625736640.376900&cid=C021Q4BL8E8) (internal) (Cc @AlexTugarev):

From a [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1627030246476800?thread_ts=1627026808.472200&cid=C021Q4BL8E8) (internal) (Cc @jankeromnes @svenefftinge @AlexTugarev):

[2021-08-25 12:01] csweichel opened #5376 "[not-an-actual-issue] Testing groundwork automation"

[2021-08-25 12:01] csweichel commented on #5376
/schedule

[2021-08-25 12:01] roboquat commented on #5376
@csweichel: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438104):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my be

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438115):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438126):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438140):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438149):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438161):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438175):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438190):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:01] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438202):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438221):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438240):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438256):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438267):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438289):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438309):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438326):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438349):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438365):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438382):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438401):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438419):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438433):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:02] roboquat commented on #5376
@roboquat: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905438449):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-08-25 12:06] csweichel commented on #5376
/schedule

[2021-08-25 12:06] roboquat commented on #5376
@csweichel: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905441047):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my be

[2021-08-25 12:06] csweichel commented on #5376
/team IDE

[2021-08-25 12:14] csweichel commented on #5376
/team meta

[2021-08-25 12:16] csweichel commented on #5376
/team meta

[2021-08-25 12:16] csweichel commented on #5376
/schedule

[2021-08-25 12:20] csweichel commented on #5376
/schedule

[2021-08-25 12:20] roboquat commented on #5376
@csweichel: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5376#issuecomment-905451639):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-08-25 12:40] meysholdt opened #5377 "[admin] "Stop Workspace" button may not work"
Today we had cases where we could not stop workspaces via the "Stop Workspace" button in the admin panel.

See for example this [log entry](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-25T12:25:09.653Z;query=%22bronze-goose-aauhqxnv%22%20OR%20%2255492138-58b0-4b19-9833-891f5adf0590%22%0AjsonPayload.component%3D%22server%22%0Atimestamp%3D%222021-08-25T10:41:13.077Z%22%0Ainser

[2021-08-25 12:46] yusufali94 commented on #4628
This is still an issue in version 0.10.0!

[2021-08-25 12:50] yusufali94 opened #5378 "ws-proxy not using certificates"
### Bug description

Similar to this bug
https://github.com/gitpod-io/gitpod/issues/4628

However it is occuring with the latest 0.10.0 image for the self-hosted class of images.

### Steps to reproduce

Following the steps to setup https://www.gitpod.io/docs/self-hosted/latest/configuration/ingress

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_

[2021-08-25 12:53] yusufali94 commented on #4859
however it does not work unless you explicitly have a "tls.crt" file, see here https://github.com/gitpod-io/gitpod/issues/5378

[2021-08-25 12:54] meysholdt opened #5379 "Integration Test: Workspace Backup should succceed"
Yesterday, we needed to roll back deployment because workspace backup was broken.

We should have an integration test that ensures this never happens again.

Cause: https://github.com/gitpod-io/gitpod/pull/5325
Fix: https://github.com/gitpod-io/gitpod/commit/c31135bb66b625c1758d6657d1361f1e4d8f0992
Conversation: https://gitpod.slack.com/archives/C021LT6GUJG/p1629793948204700
Incident: https://gitp

[2021-08-25 12:55] csweichel commented on #5315
/team meta
/schedule

[2021-08-25 12:55] roboquat commented on #5315
@csweichel: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5315#issuecomment-905476275):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my be

[2021-08-25 12:55] csweichel commented on #5315
/schedule

[2021-08-25 12:55] roboquat commented on #5315
@csweichel: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5315#issuecomment-905476381):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-08-25 12:59] csweichel commented on #5210
/assign @jakobhero

[2021-08-25 13:00] csweichel commented on #5084
/team meta

[2021-08-25 13:00] csweichel commented on #5084
/schedule

[2021-08-25 13:00] roboquat commented on #5084
@csweichel: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5084#issuecomment-905480103):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-08-25 13:07] #5373 closed

[2021-08-25 13:18] adampapl opened #5380 "Gitpod browser plugin - Bitbucket branch detection problem"
### Bug description

I'm getting Not Found error when trying to create gitpod workspace from bitbucket branches where branch name consists of two parts eg: 'feature/gitpod' while all works ok with simple branch names like 'develop'

![image](https://user-images.githubusercontent.com/213903/130797270-56a82064-3c2c-4f6b-bd6a-d775424f4fa1.png)

Creating branch from single commit from the same branch

[2021-08-25 13:35] gtsiolis commented on #5380
Thanks for catching this @adampapl! ⚾

It seems to be an issue with parsing branch names with `/` but only for repositories in Butbucket.

[2021-08-25 13:41] gtsiolis commented on #5380
Oh, closing this as a duplicate of https://github.com/gitpod-io/gitpod/issues/5364. It seems a fix could be already underway in https://github.com/gitpod-io/gitpod/pull/5367. Cc @ghuntley

[2021-08-25 13:41] #5380 closed

[2021-08-25 13:42] AlexTugarev commented on #5246
This issue currently breaks prebuilds on staging.

[2021-08-25 13:45] yusufali94 commented on #5378
closed, add to add tls.cert = fullchain also

[2021-08-25 13:45] #5378 closed

[2021-08-25 14:45] aledbf opened #5381 "[ws-daemon] Internal state after restarts is incomplete"
### Bug description

If `ws-daemon` restarts we see the warning `"message":"did not find a Git working copy - not updating Git status"` when the workspace is terminated. This means the internal state is not fully reconstructed on restarts.

### Steps to reproduce

start a workspace
kill `ws-daemon` pod
wait until the new pod is ready
stop workspace

check `ws-daemon` logs

### Expected behavior

N

[2021-08-25 14:54] aledbf commented on #5317
/assign

[2021-08-25 15:43] csweichel commented on #5379
This [test already exists](https://github.com/gitpod-io/gitpod/blob/main/test/tests/workspace/content_test.go#L20).

[2021-08-25 15:43] #5379 closed

[2021-08-25 15:58] JanKoehnlein commented on #5314
/assign @laushinka

[2021-08-25 17:08] gtsiolis opened #5385 "Remove invite members button from the projects list for personal accounts"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4868, we've added a button to invite members to teams from the projects list.

After adding projects under individual accounts in https://github.com/gitpod-io/gitpod/pull/4966, the button remained there but leads to an error when you click the button! ⚠️

### Proposal

Let's hide the Invite Members button on the projects list f

[2021-08-26 02:40] bigint opened #5387 "Terminal font in Brave browser look weird"
### Bug description

Font in Terminal

![image](https://user-images.githubusercontent.com/69431456/130891283-fe56b1c2-7672-4f42-b350-dae9d56c529e.png)

Font in editor looks normal

![image](https://user-images.githubusercontent.com/69431456/130891318-4c7b305a-083f-4fbf-8e16-b105fe344685.png)

### Steps to reproduce

- Open GitPod in Brave browser
- Check the Terminal font

### Expected behavior

_

[2021-08-26 05:12] aviNrich opened #5388 "Switch opened files on with ctrl+tab and ctrl+shift+tab"
Hi,
I'm testing gitpod for my company. I noticed that I can't use ctrl+tab to switch between opened files.
This is actually crucial for our workflow. we feel stuck when we want to switch files... using the mouse for that slows the proccess.
Is there a way to configure `ctrl+tab` and `ctrl+shift+tab`?
Thanks

[2021-08-26 05:55] #5387 closed, assigned to nobody

[2021-08-26 08:27] jankeromnes opened #5389 "[dashboard] Possible EventEmitter memory leak detected. 11 logs listeners added. Use emitter.setMaxListeners() to increase limit"
### Bug description

[code]

<img width="1037" alt="Screen Shot 2021-08-25 at 16 14 09" src="https://user-images.githubusercontent.com/599268/130928569-565da1be-9010-4d59-a52a-cbc140dfb2ab.png">

### Steps to reproduce

1. Visit any dashboard page with logs and with semi-frequent component updates

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

The

[2021-08-26 08:40] ghuntley opened #5391 "Open in Gitpod button on iPad in Safari"
👋 taking Gitpod for a spin on an iPad and one of the first pain-points that come to mind is the lack of a “open-in-gitpod” button when viewing pull-requests because the there is no browser extension for Safari. It addition to this it appears that Google Chrome and Firefox on iPad do not support installing extensions.

- https://developer.apple.com/documentation/safariservices/safari_app_extensions

[2021-08-26 10:00] svenefftinge opened #5392 "[configuration] Don't suggest/allow starting another prebuild when one is running"
In configuration I can start a prebuild. When that is running tze "Run Prebuild" button is still green and active.
When I click it I loose the current logs and see an error message, telling me that I cannot start a prebuild because one is running already.

[2021-08-26 10:25] #5389 closed, assigned to nobody

[2021-08-26 11:04] KubeLouis opened #5394 "Request createWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: Error response from daemon: error parsing HTTP 404"
### Bug description

hello im using helm chart to deploy gitpod in kubernetes
when i was creating a workspace，it showed this：
![image](https://user-images.githubusercontent.com/67357731/130951664-6fb095c3-95f7-4ae5-a177-18fd9cf51f4c.png)
here's the logs in server
{"@type":"type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent","serviceContext":{"service":"server","vers

[2021-08-26 13:12] gtsiolis opened #5398 "Shorten latest prebuild timestamp on projects cards for better space usage"
### Problem to solve

Project cards currently link to the latest prebuild but using a verbose mode for surfacing the timestamp like _23 minutes ago_. This can cause elements to overflow when branch name is long or viewing on a smaller viewport.

Cc @laushinka @jankeromnes because of the [relevant discussion](https://gitpod.slack.com/archives/C01LDA27WJC/p1629905286251200) (internal) from yesterday

[2021-08-26 16:43] princerachit opened #5401 "Gitpod stuck in starting a workspace screen infinitely"
### Bug description

While trying to open/create a workspace the screen went into infinite loop of redirects. The page refreshed automatically and showed the same page everytime.

On inspecting the logs of ws-proxy it was clear that the response from ws-proxy was to redirect. However, the ws pod was already created and running.

ws-proxy logs:
[code]

### Steps to reproduce

Not reproduceable. Occ

[2021-08-26 17:08] alesanchezr opened #5402 "Confusing filter feature in the dashboard"
### Bug description

As you guys know, we are always bringing new users to Gitpod because all of our students are required to start using Gitpod from day one, the majority of them don't know how to code yet and that makes them great for testing the user experience of the site.

Right now, there is a recurrent issue that our students think Gitpod is deleting their Workspaces, when in reality, the w

[2021-08-26 17:37] #5402 closed, assigned to nobody

[2021-08-26 18:11] yusufali94 opened #5403 "Cannot integrate with self-hosted GitLab installed at relative URL (domain/path)"
### Bug description

Environment: gitpod.io and my self hosted gitpod instance
Gitlab Instance: `http://<domain>/gitlab`
(See https://docs.gitlab.com/ee/install/relative_url.html)

Note:
Able to successfully authorize gitlab as an integration. On my self hosted, was able to authorize as a oauth provider and login using the self hosted gitlab. Enabled GitPod at user level and at the gitlab instance

[2021-08-27 02:55] ghost opened #5404 "CMD + w on chrome should close a tab in VSCode"
CMD + w on chrome should close a tab in VSCode instead of asking if you want to close the chrome/browser window. I recently converted to using gitpod and i keep pressing CMD + w to close the VSCode tabs, realising i have to use my mouse instead. Would be a nice feature to add for other developers that are jumping over to gitpod to make the transition even smoother. Awesome product BTW!

[2021-08-27 04:20] #5404 closed, assigned to nobody

[2021-08-27 04:22] akosyakov opened #5405 "[code] worspaces extensions installed as sync"
### Bug description

It affects only latest VS Code, but should be fixed before it becomes stable.

### Steps to reproduce

Open gitpod-io/gitpod and see that all workspace extensions are synced.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-27 05:53] ghost opened #5406 "Docker stoped working"
### Bug description

gitpod /workspace/beststasjon $ docker run hello-world
Unable to find image 'hello-world:latest' locally
latest: Pulling from library/hello-world
b8dfde127a29: Pull complete
Digest: sha256:7d91b69e04a9029b99f3585aaaccae2baa80bcf318f4a5d2165a9898cd2dc0a1
Status: Downloaded newer image for hello-world:latest
docker: Error response from daemon: OCI runtime create failed: containe

[2021-08-27 06:08] #5406 closed, assigned to nobody

[2021-08-27 08:03] ghuntley opened #5409 "Gitpod Self-Hosted on Red Hat® OpenShift®"
Red Hat® OpenShift® does not currently work with Gitpod Self-Hosted but we would like to support the platform in the future. In this GitHub issue members of the community can organise and potentially work together to implement the necessary changes.

[2021-08-27 08:05] ghuntley opened #5410 "Gitpod Self-Hosted on Rancher Kubernetes Engine (RKE)"
Rancher Kubernetes Engine (RKE) does not currently work with Gitpod Self-Hosted but we would like to support the platform in the future. In this GitHub issue members of the community can organise and potentially work together to implement the necessary changes.

edit: the community has [identified a workaround](https://github.com/gitpod-io/gitpod/issues/5410#issuecomment-933905111). Please come jo

[2021-08-27 08:14] ghost opened #5411 "Only one user can have a custom git integration"
### Bug description

I just showed off the product and how it works for another colleague and it seems like only one user can integrate to a custom gitlab server. I had to remove it from mine so that he could do the integration, but as you see in the picture i am no longer able to integrate even tough i have no integrations setup on my personal account

![Screenshot 2021-08-27 at 10 08 30](https:/

[2021-08-27 08:30] akosyakov opened #5412 "[analytics] track usage of collaboration live sharing"
In order to estimate impact of https://github.com/gitpod-io/gitpod/issues/5151

[2021-08-27 09:44] csweichel opened #5413 "[test] TestBackup integration test fails"
### Bug description

This is NOT a false positive, the backup doesn't actually succeed:
[code]

### Steps to reproduce

In a core-dev context:
[code]

### Expected behavior

The test should succeed

### Example repository

_No response_

### Anything else?

Requires the changes of https://github.com/gitpod-io/gitpod/pull/5407 to be merged before the test even gets this far.

[2021-08-27 10:04] meysholdt opened #5414 "DEADLINE_EXCEEDED: gRPC communication trouble"
the query
[code]

returns 74 matches, all on cluster eu15 and all with status

[code]

[2021-08-27 11:23] meysholdt opened #5416 "Expose workspace failures via metric."
We did not see [these](https://github.com/gitpod-io/gitpod/issues/5414) failures in Grafana.

Let's compare logs and metrics of the last 24h:

1. [Logs](https://console.cloud.google.com/logs/query;query=logName%3D%22projects%2Fgitpod-191109%2Flogs%2Fcloudsql.googleapis.com%252Fmysql-general.log%22%0AtextPayload:%22DEADLINE_EXCEEDED:%20Deadline%20exceeded%22%0AtextPayload:%22UPDATE%22%0AtextPayload

[2021-08-27 14:07] #5385 closed, assigned to AlexTugarev

[2021-08-27 23:43] twtwtw-gj commented on #4625
I think that if there is a new button "set up a new workspace", after changing .gitpod.yml, we can reset my workspace more convenient than now.

[2021-08-28 05:25] ghuntley commented on #4244
Closing this out as redirects are now functioning. Any 404 on gitpod.io automatically now redirects to www.

[2021-08-28 05:25] #4244 closed

[2021-08-28 05:35] ghuntley commented on #5046
👋 @jasonrandrews. I'm closing out this issue but would love to see you over in the #gitpod-self-hosted room at https://www.gitpod.io/chat

Have opened the following housekeeping PR's so others don't experience the problems you did:
- https://github.com/gitpod-io/gitpod/pull/5144
- https://github.com/gitpod-io/gitpod/pull/5145

[2021-08-28 05:35] #5046 closed

[2021-08-28 05:40] ghuntley commented on #4625
So if I understand correctly @twtwtw-gj the dashboard would expose a way to search images on dockerhub (nb: only ubuntu images are compatible with vscode) then launch that image on Gitpod without establishing a git repository first?

<img width="603" alt="2021-08-28_15-38-37" src="https://user-images.githubusercontent.com/127353/131207604-73189d52-89ac-4511-8db8-d23901d3a7c4.png">

<img width="954

[2021-08-28 05:43] ghuntley commented on #3564
Placing this into the product inbox after [this incident](https://www.gitpodstatus.com/incidents/mpkdzm5rpbc5). Members of the community shared that they were having issues inside an existing GitHub issue that was already open thus visibility was limited. Gitpod needs a way to report faults within the product.

[2021-08-28 05:49] ghuntley commented on #3102
👋 Could folks within this issue:

1. Come join https://www.gitpod.io/chat in the #gitpod-self-hosted room.
2. Try again with v0.10.0 and report back with their experiences.

[2021-08-28 05:52] ghuntley commented on #4053
Requirements were documented last night at https://www.gitpod.io/docs/self-hosted/latest/requirements

[2021-08-28 05:52] ghuntley commented on #4053
ps: @cyrilcros and @flickerfly - come join www.gitpod.io/chat in the #gitpod-self-hosted room.

[2021-08-28 08:45] AnudeepGunukula opened #5427 "some theme extensions (monokai++) are not enabling in new workspace. (resetting back to default vscode theme in new workspace)"
### Bug description

extensions like monokai++ and some theme extensions are not showing as installed in new workspace.

even after making monokai++ as default in the settings also it is resetting to vscode default theme after opening new workspace.

while installing theme it is showing it is globally enabled but after opening new workspace, for 2 sec it is showing
monokai++ theme and then it is r

[2021-08-28 10:13] twtwtw-gj commented on #4625
Yes, thank you for understanding what I said.

[2021-08-28 11:39] kenzan-mryan commented on #5321
We also have clients who can only use Azure Repositories, so I second he comments above.

[2021-08-28 13:47] #4259 closed

[2021-08-28 13:52] atduarte commented on #3564
I agree it would be helpful surfacing the "Report a problem" in the application, particularly as many users may not be aware they can do so here. Although I'm not sure how it would help to have an additional channel, in which we would probably receive the same type of questions, requests, bugs, and false positives we already receive here. Would a link to [New issue](https://github.com/gitpod-io/gi

[2021-08-28 14:09] atduarte commented on #4625
If I understood correctly there are two requests:
1. To open an arbitrary Docker image from the dashboard, selecting it from the Docker Hub
2. To have a way to rebuild the workspace (or create a new one) using the edited .gitpod.yml/.gitpod.Dockerfile

Is that correct?

Could you please describe the use case or general problem you are trying to solve with the first one?

[2021-08-29 06:15] twtwtw-gj commented on #4625
Yes.

I usually edit .gitpod.Dockerfile in the gitpod dev environment. I often think , the procedure which includes git-committing, pushing and restarting my workspace is complicated.

[2021-08-29 10:23] aviNrich commented on #5388
Thanks

[2021-08-29 10:23] #5388 closed

[2021-08-29 12:01] progmatic-99 commented on #4044
Created a [PR](https://github.com/gitpod-io/workspace-images/pull/483)

[2021-08-29 16:38] #4248 closed

[2021-08-29 19:56] PEZ commented on #1004
I put this in the docker file to have it be part of the users environment before Code is started:

[code]

Would be really nice if it was part of the vnc image to start with.

[2021-08-29 20:36] koppor commented on #1842
Note that this was one reason that I moved away from Chrome OS. I am back on Windows 10 again. Thus, I cannot (properly) test.

[2021-08-29 21:18] stephenavocado opened #5429 "Evicted From Workspace - Ephemeral-Storage"
### Bug description

Was working on my project and all of a sudden got this error:

Evicted: The node was low on resource: ephemeral-storage. Container workspace was using 82083771, which exceeds its request of 0.

Not sure what to do

### Steps to reproduce

Was working in workspace:

https://amethyst-shrew-7l5syx6h.ws-us16.gitpod.io/

### Expected behavior

Workspace opens

### Example repositor

[2021-08-29 22:41] shism2 opened #5430 "Support buildkit"
Anyone? Is buildkit supported? I haven't been able to get it to work things like below to work: # syntax=docker/dockerfile:1.2

[code]

[2021-08-30 00:05] rfay commented on #5303
Sorry for the slow response... but

As far as I can tell a port that is bound only to the localhost network interface is unusable in Gitpod, and is not in fact proxied, and you cannot use it on the the exposed URL. My assumption here was that that was by design. I recommend that you either make it actually proxy http services that are bound only to localhost, or make it ignore services that are bo

[2021-08-30 00:34] ghuntley commented on #5429
👋 @stephenavocado we have retired the server which was running low on disk-space and are investigating why this happened to you. Can you please try restarting your workspace and report back.

[2021-08-30 01:27] stephenavocado commented on #5429
Thank you @ghuntley! I am able to access the workspace again.

[2021-08-30 03:57] KubeLouis commented on #5394
1：
[code]
2：
latest
3：
flannel
4：
**registry-facade**
[code]
**ws-manager**
[code]
**ws-daemon**
[code]
5：
[code]

[2021-08-30 04:09] #4144 closed

[2021-08-30 04:17] KubeLouis commented on #5394
thx I've done it

[2021-08-30 04:35] akosyakov commented on #5430
Alpine is not supported: https://github.com/gitpod-io/gitpod/issues/3356

[2021-08-30 04:36] akosyakov commented on #5427
duplicate of https://github.com/gitpod-io/gitpod/issues/5405

[2021-08-30 04:36] #5427 closed

[2021-08-30 05:41] ghuntley commented on #5429
Good to hear. We have 🆙 the size of disks in each node in the cluster to 600GB and will be monitoring the situation.

[2021-08-30 05:41] #5429 closed

[2021-08-30 06:07] shism2 commented on #5430
The lines I pasted are from the docker documentation as an example. It happens to me with ubuntu as well for example.

[2021-08-30 06:09] AnudeepGunukula commented on #5427
Hi , its good to know that this issue has already raised.
Thankyou @akosyakov

[2021-08-30 06:16] akosyakov commented on #5427
sorry linked the wrong issues, it should be https://github.com/gitpod-io/gitpod/issues/4520

[2021-08-30 07:47] csweichel commented on #5414
/team workspace

[2021-08-30 07:48] csweichel commented on #5414
/schedule

[2021-08-30 07:48] roboquat commented on #5414
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5414#issuecomment-908119099):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-08-30 07:51] dgigantino opened #5435 "SSL Cert for gitpod.io is expired."
### Bug description

The SSL cert for gitpod.io has expired

### Steps to reproduce

Try sign in at https://gitpod.io/login/

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

https://gitpod.io/login/ has an expired certificate
https://www.gitpod.io/ is fine

[2021-08-30 07:57] gengjiawen commented on #5435
I thought gitpod use caddy to auto-renew ssl certificate. Guess I am wrong :(

[2021-08-30 08:00] ghuntley commented on #5435
Confirmed. We are investigating.

[2021-08-30 08:03] gengjiawen commented on #5435
Also https://www.gitpodstatus.com/ failed to detect this.

[2021-08-30 08:07] meysholdt commented on #5435
We have resolved this. Please try again.

[2021-08-30 08:07] #5435 closed

[2021-08-30 08:12] geropl commented on #5344
@AlexTugarev FYI: WorkspaceLogs already has a [`RessourceAccessGuard`](https://github.com/gitpod-io/gitpod/blob/main/components/server/src/auth/resource-access.ts#L440) which allows everyone with "read" permission to repo to access the logs. Maybe we can re-use that for other stuff as well.

But I wonder if we should lift the permissions for `getWorkspace` in general. Maybe it'd be better to ask w