[2022-02-01 05:09] kylos101 commented on #7793
Reassigning @Furisto (as he'll be creating an issue, reaching out to Kinvolk for guidance).

[2022-02-01 05:19] utam0k commented on #7793
@kylos101 Thanks for your help 🙏  I have some I found a curious thing. The commit hash we are using seems to have been erased from main (or was never in main in the first place).
https://github.com/seccomp/libseccomp-golang/commits/88391784331306c118f447d44ad9c259dcf9e130

Also, it seems that seccomp notify is already implemented in `seccomp/libseccomp-golang` under fork. We may need to figure out

[2022-02-01 05:58] utam0k commented on #7936
@mickmister Hi! Thanks for your feature request. Even if you don't have a git repository, you can create a workspace from the "New Workspace" section on the following page. Is it different from this?
https://gitpod.io/workspaces

[2022-02-01 06:30] shaal commented on #7904
@axonasif console has lots of warnings and errors, but that's normal as far as I know.

![image](https://user-images.githubusercontent.com/22901/151922454-7cea6809-dda9-4522-a2da-ee6e3e2144e3.png)

After clicking in terminal these lines are added in `console.log`:
[code]

[2022-02-01 06:36] utam0k commented on #7793
related commit: https://github.com/gitpod-io/gitpod/commit/5f9f701835292bbe28e71c8eb70f8a09965cb5ab

[2022-02-01 07:06] jldec opened #7938 "Better instrument incoming webhooks via logging"
It would be helpful to validate from our logs that webhook events are being received from specific repositories.
This would allow us to debug issues lie #7648 more easily.

The log data should include the repo, and commit sha for webhook pushes from GitHub.

[2022-02-01 07:30] akosyakov commented on #7932
I really like to see versions too :) There are actually numbers too, i.e. 1.64-insiders, eap-213.103.14 and so on

[2022-02-01 07:57] #7688 closed

[2022-02-01 08:01] mickmister opened #7939 "Feature Request: Be able to specify fallback gitpod.yml file(s) for repos missing this file"
## Describe the behaviour you'd like

Similar to environment variable settings in that you can provide matcher for different repositories to apply the variable to, I would like to be able to set a default `gitpod.yml` file for certain repositories that do not have the `gitpod.yml` file in the repository at the moment.

[2022-02-01 08:21] utam0k commented on #7688
After this PR is applied to the production environment, I will look at the log.
https://github.com/gitpod-io/gitpod/pull/7926

[2022-02-01 08:25] utam0k commented on #7793
Seeing that there is no problem with shiftfs, there may be a problem with the combination of fusefs and seccomp notify.
For example, there was an issue with lxd like this.
https://github.com/lxc/lxd/issues/6440

[2022-02-01 09:16] MrSimonEmms opened #7942 "Investigate if the `JaegerOperator` config is necessary"
When the Installer was originally build, the JaegerOperator is installed to provide the operator was believed to be necessary for everything to function correctly. Investigate whether this is actually required for successful installation of Gitpod.

This operator does not provide a Jaeger dashboard (nor should it) - this is configurable via the Observability config option as an external deployment

[2022-02-01 09:27] mads-hartmann commented on #7942
The [JaegerOperator](https://github.com/jaegertracing/jaeger-operator) simplifies the deployment of Jaeger by following the Operator pattern. It adds CRDs so that if you want to deploy Jaeger you "simply" use their custom resource and the operator will use that to create the relevant k8s resources.

So if we don't have any Jaeger Operator CRDs in our installs it should be safe to remove ☺️

[2022-02-01 09:43] jldec commented on #7399
After discussion - let's leave the Disconnent action, but show users an error instead of simply disallowing the disconnect.
Error can say: `This git integration is required for authentication and cannot be removed.`

[2022-02-01 09:53] utam0k commented on #7858
@kylos101 Could you tell me if I'm understanding this correctly? Is this issue about making it possible to check the grpc request events from ws-manager-bridge to ws-manager with the `gpctl` command?

[2022-02-01 09:53] loujaybee commented on #7932
I think this is a really important issue.

1. Gives desktop and browser equal weighting in the app

We should mention this would resolve the inconsistency in

[2022-02-01 10:04] laushinka commented on #7399
Ah, I saw that @JanKoehnlein has picked it up. Sorry, was going to assign myself again but too late 🙈
Just for me to know next time, how does one test with a self-hosted git provider?

[2022-02-01 10:09] loujaybee commented on #7932
I think this is a (seemingly) small but really important issue—thanks for raising @gtsiolis !

1. It gives both desktop and browser more of a feeling to the user of equal weighting in Gitpod, which aligns best with having an orthogonal product [[1](https://www.notion.so/gitpod/Values-Attributes-2ed4c2f93c84499b98e3b5389980992e#10e6a778877949728fc17e6ce939c1ba)] and our IDE / product ambitions! 🚀
2

[2022-02-01 10:12] gtsiolis commented on #7932
Thanks for the feedback, @loujaybee!

This is currently an early design. We could probably improve the colors, keep the thick border or the tick, etc.

Completely agree. UX copy is also work in progress and you're right about the version is potentially unstable. We should probably include a hint about this.

[2022-02-01 10:16] #6370 closed

[2022-02-01 10:19] jldec commented on #7938
If we don't have a way to do this already, it would be good to keep track of when the last webhook was received, to show it later in the UI. see #7010

[2022-02-01 10:27] #7690 closed

[2022-02-01 11:19] Furisto opened #7945 "Ensure COPY . . is working correctly in custom workspace images"
### Bug description

Some users get a file name too long error when building images if they have specified COPY . .

### Steps to reproduce

- The content of the customer repository is initialized under /workspace e.g.
[code]
- The root directory for buildkit (which is used by buildkit to store the layers of the container image that is build) is located at /workspace/buildkit
- The context for the

[2022-02-01 11:19] jldec commented on #7925
Thanks @gtsiolis 🏓

The suggestions to link to feedback issues or another form are helpful, but they are not low friction enough. We need a way for users to provide their sentiment and a very quick bit of text without changing context or being faced with a myriad of questions (which tends to happen with issues).

I don't think we should rely on the same mechanism for system status (we need well-in

[2022-02-01 12:23] utam0k commented on #7793
I found it! Thanks.

[2022-02-01 12:33] loujaybee commented on #7183
Hey @svenefftinge not sure if you intended to update the title, but we're juggling a couple of different epics for JetBrains e.g. https://github.com/gitpod-io/gitpod/issues/7332 happy to update, but this one was to signify the Gitpod->JetBrains user experience, not sure if a better title makes sense. CC: @akosyakov 🙏

[2022-02-01 12:36] loujaybee commented on #7248
CC: @jakobhero if you have other thoughts to add here.

[2022-02-01 13:18] mads-hartmann commented on #7859
@kylos101 the work is being tracked in https://github.com/gitpod-io/observability/issues/31
@ArthurSens I'm assigning you to this, please leave a comment here and close it once the data source is available in production☺️

[2022-02-01 13:50] loujaybee commented on #7726
Note: nice to have, not currently urgent.

[2022-02-01 14:20] #7636 closed

[2022-02-01 14:29] ArthurSens commented on #7859
I believe those issues are a little bit different mads. Here they want new dashboards and alerts, which is indeed something that will be done by the workspace team.

What we(platform) still need to do is make preview environments have stackdriver datasources so other teams can develop their dashboards.

Alerts with google cloud monitoring can be developed already, using terraform :)

[2022-02-01 14:39] mads-hartmann commented on #7859
@ArthurSens Thanks for clarifying! So this issue is (partially) blocked by https://github.com/gitpod-io/observability/issues/31. Once that issue is done the Stack Driver data source should be available for the teams to use as they like in their dashboards, is that right? ☺️

[2022-02-01 14:40] ArthurSens commented on #7859
exactly!

[2022-02-01 14:50] JanKoehnlein commented on #7829
Thanks for the heads up. Let us know if you have a bit more information.

[2022-02-01 14:51] csweichel opened #7947 "Implement https://www.notion.so/gitpod/Workspace-start-cluster-selection-9dceafb290214af891cb31521ca8678d"

[2022-02-01 15:02] mads-hartmann commented on #7859
@ArthurSens Awesome, then I'll leave it assigned to you, and once the data source is available please unassign yourself and remove the issue form the Platform project ☺️

[2022-02-01 15:16] wulfthimm commented on #7545
The installer does not support the installation of the payment endpoint. `core-dev` preview environments do not support it neither as far as I saw it. We should discuss how and when the payment endpoint should be supported. In this state we might put too much work into it. I am adding the `blocked` label. It can be removed when there is plan how to support the payment endpoint. Maybe we should rem

[2022-02-01 15:28] JanKoehnlein commented on #7922
Thanks @ramank775 for this issue and for your offer to look at this. My first guess would be to look [here](https://github.com/gitpod-io/gitpod/blob/0cb0f38cadc880a99df34a99757f742684a644b4/components/server/src/bitbucket/bitbucket-context-parser.ts#L29). There is also a [test](https://github.com/gitpod-io/gitpod/blob/0bb6650e35a9a44962599a78a328fdea4716d143/components/server/src/bitbucket/bitbuck

[2022-02-01 15:47] wulfthimm commented on #7545
The `werft` argument `with-payment` will only add flags to the Helm installation ([ref](https://github.com/gitpod-io/gitpod/blob/ed8a3dc4f8007fde60e48934449d27ac2e2f5f43/.werft/build.ts#L887)). The installer does not support the deployment with a payment provider yet.

[2022-02-01 15:49] wulfthimm commented on #7545
I suggest that we remove the outdated configuration from the proxy and discuss the support with the WebApp-Team.

[2022-02-01 15:51] jankeromnes opened #7950 "Support 'git@github.com:{user}/{repo}.git` format in context URL"
## Is your feature request related to a problem? Please describe

Occasionally, users will try to open a repository in Gitpod like so:
https://gitpod.io/#git@github.com:gitpod-io/gitpod.git

This always results in an error page:

## Describe the behaviour you'd like

However, it's pretty obvious what users actually want to achieve.

I think Gitpod should automatically translate `git@github.com:git

[2022-02-01 16:38] svenefftinge commented on #7183
I wanted to have something clearer for the roadmap. Sorry if that changed the intent too much.
Can you make sure there is an item on the roadmap that reflects the Epic for Jetbrains integration being GA?

[2022-02-01 16:59] sagor999 opened #7953 "integration test not working in core-dev when running them in terminal"
### Bug description

You cannot run integration test manually from inside the terminal when your changes are deployed into core-dev. Something to do with permissions (will update once I will try that again)

### Steps to reproduce

Load gitpod in core-dev, try to run integration test

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

[2022-02-01 17:12] axonasif opened #7955 "Downloaded workspace file does not have any valid file extension specified"
### Bug description

A downloaded workspace file is a tarball(`.tar`) but it's causing confusion among users since it's not reflected in the downloaded file name. A user will normally have to figure out themselves what is kind of file they downloaded and how to deal with it, resulting in an even bad experience on top of whatever the incident led them towards downloading their workspace.

### Steps

[2022-02-01 17:16] loujaybee commented on #7183
@svenefftinge gotcha! Yeah, we currently have an epic for GA (however it didn't have an associated GitHub issue) on the IDE page, I'll refactor some things, as this epic will likely be closed now that Code With Me is now deployed 🙏  I'll make sure JetBrains GA is represented on the roadmap 🚀

[2022-02-01 17:17] loujaybee opened #7956 "Epic: JetBrains (IntelliJ IDEA) - GA"
Working on Java projects has at times been historically slow and tedious, as Java developers typically work with very large, monolithic, or mono-repo type codebases (one of Java's main strengths) that take a long time to install and index. Gitpod is perfectly positioned to improve the experience for these developers, and Gitpod will deliver an experience to this community that's second-to-none.

W

[2022-02-01 17:18] ArthurSens commented on #7799
I believe this was fixed some days ago :)

[2022-02-01 17:18] #7799 closed

[2022-02-01 17:20] jldec opened #7957 "OAuth integration and Workspace starts with Bitbucket Server v7.20"
This is the first step toward enabling integration of Gitpod with self-hosted BItbucket Server and Bitbucket Datacenter installations.

With their [v7.20 release](https://confluence.atlassian.com/bitbucketserver/bitbucket-data-center-and-server-7-20-release-notes-1101934428.html), Bitbucket Server and Datacenter now support OAuth2.

- [ ] Enable OAuth logins between Gitpod and a Bitbucket Server v

[2022-02-01 17:43] gtsiolis commented on #7957
@jldec see also https://github.com/gitpod-io/gitpod/issues/1965.

[2022-02-01 17:59] jeanp413 opened #7958 "Cannot run integration test by injecting user into db"
### Bug description
I want to run integration test that launch a workspace with a specific context URL without needing to logging into the preview environment first, so I want to inject a user into the DB inside the test that can launch a workspace. I've done some progress in https://github.com/gitpod-io/gitpod/pull/7380/files but need more work, will extract the part that injects the user into an

[2022-02-01 18:22] jeanp413 opened #7959 "Cannot run integration test when preview env is built with installer"
### Bug description
Running IDE integration test when preview env is built with installer fails with the following error, if the preview env is built with helm test succeed

[code]

[2022-02-01 19:26] MircoatGitpod commented on #5068
I would also like to add the following - let's carefully evaluate the business value of this feature request against the potential attack surface we create with that as well as the potential results.

If ever exploited this would have severe consequences and at the same time there is always an uncertainty on introducing possible bugs/vulnerabilities that remain undiscovered (to us).

[2022-02-01 20:54] gtsiolis commented on #7911
Resolved in https://github.com/gitpod-io/gitpod/pull/7913. Closing! 📕

[2022-02-01 20:54] #7911 closed

[2022-02-01 21:26] sagor999 commented on #7953
test if it is working with werft /with-vm annotation instead.

[2022-02-01 22:29] Furisto commented on #7793
@utam0k I tried to switch to the official seccomp golang lib (see [here](https://github.com/gitpod-io/gitpod/tree/furisto/seccomp)) but this causes workspaces not to open for me for in the preview environment (saying it has not found a backup for the workspace)

Another option could be to set our seccomp profile to allow everything and see if that improves anything. Could be that fuse does syscall

[2022-02-01 22:29] atduarte commented on #7795
I talked to the team to understand the cause of this issue and learned that this is related with a change (i.e., adding two new ports to a block list) we had to make to mitigate abuse. We are sorry this affected your workflows, will revert the change and will seek better mitigation strategies.

[2022-02-01 22:33] kylos101 commented on #7953
Yes, that would be good information, if it does not, we need to let the Platform Team know about supporting that use case.

[2022-02-01 22:34] kylos101 commented on #7953
If you can get an copy of the error, I would recommend creating a separate issue and assign it to Platform Team. This way they can triage the k8s permissions.

This way, you could repurpose this issue for asserting whether tests work with harvestor VM preview environments.

[2022-02-01 22:41] kylos101 commented on #7958
Hey @jeanp413 can you rebase your branch with main and try again?

I ask because:
1. @sagor999 got the tests fixed, which is merged into main, you can even specify the desired user to run certain tests with using a werft annotation.
2. the tests run in core-dev, if you run them as a werft job

Why is logging in first necessary? It's possible the changes @sagor999 made will help you do this now.

I

[2022-02-01 22:43] kylos101 commented on #7959
Hey @jeanp413 can you share from which branch you are experiencing this issue? I want to see if it is current with main.

[2022-02-01 22:55] jeanp413 commented on #7959
@kylos101 it happens on `main`, I just run it on a workspace that I had already opened to get the output for the issue

[2022-02-01 23:05] sagor999 opened #7963 "[ws-daemon] cannot set CFS quota"
### Bug description

seeing this in log spamming non stop:
[code]

might be related to this: https://github.com/gitpod-io/gitpod/issues/5326

customer reported following:
[code]

Not sure if timeout related to error that I am seeing in logs.

### Steps to reproduce

search for affected workspace in logs.

### Workspace affected

harlequin-limpet-1t9g3dau

### Expected behavior

_No response_

###

[2022-02-01 23:05] sagor999 commented on #7963
@csweichel do you know what might be going on here?

[2022-02-01 23:06] aledbf commented on #7963
@sagor999 please continue working on https://github.com/gitpod-io/gitpod/pull/7797

[2022-02-01 23:11] jeanp413 commented on #7958
Sure, I'll do it tomorrow as I need to finish something else today :pray:

My test starts a workspace with a context URL, so for that it calls the server API to start the workspace but that requires a user with a github token, right now I can run the tests manually by providing my user id but for that I need to log in first so it's stored inside the DB, the end goal is to run the test automaticall

[2022-02-01 23:13] sagor999 commented on #7958
@jeanp413 for the user it relied on user be already in DB and have proper github auth setup to run workspace tests. It would be great to see your addition of injecting user and github token into tests!

[2022-02-01 23:14] apolopena opened #7964 "Workspace legacy changes obliterates the git history"
### Bug description

This change
https://github.com/gitpod-io/workspace-images/pull/593

Removes all the git history on basically all the current out of the box gitpod workspace images.

With the history removed I can't tell if any of my underlying workspace images I used had code changes or were just moved to the legacy folder.

### Steps to reproduce

View any of the moved workspace image files

[2022-02-01 23:24] buggtb opened #7965 "Jetbrains plugin fails in windows"
### Bug description

When you follow the Gateway instructions for Jetbrains on a Windows computer it fails with:

Can not find connection provider

But launching the same workspace on my Fedora laptop caused the Gateway to work and everything come to life as expected.

### Steps to reproduce

Just launch an intellij backed workspace in Windows.

### Workspace affected

_No response_

### Expected

[2022-02-02 01:11] sagor999 commented on #7858
@utam0k not quite. What Kyle wants is every time there is any change done via `gpctl` that we would log that in `ws-manager-bridge` (maybe like this: `gpctl audit: <cluster> <what was changed>`). That way we can go into log viewer in gcp and check if there were any changes done.

[2022-02-02 01:29] utam0k commented on #7858
@sagor999 Oh I see, thank you very much 🙏   However, I have removed myself from the assignee because I got an issue to focus on.

[2022-02-02 03:46] ramank775 commented on #7922
Thanks @JanKoehnlein
I runs the integration testing with some hacks (avoid making calls to bitbucket). Context parsing seems to be working as expected. The ref is the branch name value match with the URL searchParams `at` and refType is `branch`.

[2022-02-02 05:27] ramank775 commented on #7922
Update

The issue seems to be with the gitpod browser extension. When we open the workspace from the button generated by the gitpod extension it doesn't consider the search params when creating redirection url.

Missed that completely on the first glance.

[2022-02-02 06:14] pseudozach commented on #7909
no, refresh doesn't help. still don't see it. Do I need to use local ms visual studio? Because I'm using the one on gitpod.io.

![Screen Shot 2022-02-01 at 10 13 53 PM](https://user-images.githubusercontent.com/3731591/152102344-2deba482-e7ff-4a5c-ab82-a2c0d8a677d2.png)

[2022-02-02 08:11] princerachit commented on #7858
We use [grpc-js](https://www.npmjs.com/package/@grpc/grpc-js) library for the GRPC server in ws-manager-bridge, it does not support server interceptors. I am evaluating other option to add logging on each request that the server receives.

[2022-02-02 08:19] akosyakov commented on #7965
PR is here: https://github.com/gitpod-io/gitpod/pull/7952 We are going to test and deploy it today.

[2022-02-02 08:45] utam0k commented on #7793
@Furisto
I tried to find out the cause of the error message. The reason why you get this message is because of a mistake in the Rule configuration. I think clarifying the cause of this error message would be a good next step.
https://github.com/seccomp/libseccomp-golang/blob/2a71848205430267e34457b3b771a37e7d584956/seccomp_internal.go#L433

Somewhere in `seccomp_rule_add_array()`, EINVAL should be

[2022-02-02 08:51] pawlean commented on #7909
@pseudozach Are you using the Local Companion App with your local VS Code? You should be looking at your local VS Code, not gitpod.io.

[2022-02-02 08:52] #7702 closed

[2022-02-02 09:03] mads-hartmann commented on #7545
@wulfthimm Thank for taking a look. Don't remove anything yet, but please reach out to the webapp team to understand what the state is for testing payments when using the installer.

[2022-02-02 09:05] wulfthimm commented on #7545
I have already reached out to Gero to make sure that we do not need the proxy anymore.

[2022-02-02 09:22] ArthurSens commented on #7859
The stackdriver datasource is working for previews and will land in [production](https://github.com/gitpod-io/ops/pull/950)/[staging](https://github.com/gitpod-io/ops/pull/949) soon :)

[2022-02-02 09:24] JanKoehnlein commented on #666
We currently don't really have the time to look into this. Secret management will come up on our roadmap sooner or later.

Until then I would
0) Generate keys yourself
1) Store the keys in a [user environment variable](https://www.gitpod.io/docs/environment-variables) in Gitpod
2) Use a [personal dotfile repo](https://www.gitpod.io/docs/config-dotfiles) to read that variable and configure git (as

[2022-02-02 09:25] ip69719 opened #7969 "Oh, no! Something went wrong! OutOfmemory: Pod Node didn't have enough resource: memory, requested: 2576980378, used: 65006469130, capacity: 66388508672"
### Bug description

Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 2576980378, used: 65006469130, capacity: 66388508672

### Steps to reproduce

Attempting to launch my existing Gitpod workspace.

### Workspace affected

https://ip69719-hellodjango-7mmiv2ne5bk.ws-eu30.gitpod.io/

### Expected behavior

Have my Gitpod workspace launch without an

[2022-02-02 09:27] meysholdt commented on #7446
I'm all in favor of a "global" registry to have high download speeds and low egress costs.

However, the [docs](https://cloud.google.com/container-registry/docs/overview#registries) say about gcr.io:

[2022-02-02 09:46] akosyakov commented on #7183
@loujaybee Can be closed?

[2022-02-02 09:50] akosyakov commented on #5778
We don't use lcoal app for desktop IDEs integrations anymore but SSH gateway.

[2022-02-02 09:50] #5778 closed

[2022-02-02 10:21] #7698 closed

[2022-02-02 10:42] atduarte opened #7973 "Allow users to always download the latest available workspace backup"
## Is your feature request related to a problem? Please describe

Currently, users are only able to download the backup of their workspace when it's stopped. This is a problem particularly if the workspace gets stuck in the `Stopping` state.

## Describe the behaviour you'd like

As a user I would like to always be able to download the latest backup. Even if it doesn't represent the latest state.

[2022-02-02 10:55] meysholdt commented on #7446
@mads-hartmann and I discussed this and here is our position :)

It would be great if official releases would not be downloaded from `eu.gcr.io/gitpod-core-dev` but from another registry. This is because the gitpod-core-dev is for development only and we need the liberty to "clean up" and purge all images from there if we choose to.

Instead, it would be great if the @gitpod-io/engineering-self-ho

[2022-02-02 11:07] MrSimonEmms commented on #7446
I think that it's broadly a good idea to have a registry that we own for public consumption. As we don't just support releases any more but any build in Werft, our registry would have to be a mirror of everything so we would need to be wary of the cost implications of this.

Personally, I think that having a solution that we don't have to manage from an infrastructure point of view would be ideal

[2022-02-02 11:22] meysholdt commented on #7446
If we can agree on an end-of-live for images, it's fine to support "any build in Werft" from `eu.gcr.io/gitpod-core-dev` :)
I assume supporting "any build" is valuable because users can try fixes immediately or help us test feature branches.  However, I'm not sure if it's good when users stay on these non-release builds forever.

This would allow us to remove images from `eu.gcr.io/gitpod-core-dev

[2022-02-02 11:35] wulfthimm commented on #7545
I spoke with Gero and he confirmed that there is no working solution with the installer. The proxy configuration is also outdated as the payment endpoint is using the same forwarding as the workspace URLs. I would close the issue and remove the outdated config from the proxy which also contains some forwarding for Jaeger as well.

[2022-02-02 11:49] gtsiolis commented on #7955
Oh, this is new.  Nice catch, probably a regression since this used to work ok by using the `.tar` file extension. ⚾

[2022-02-02 11:49] mads-hartmann commented on #7545
@wulfthimm Alright, please do the cleanup as part of this issue and then close it ☺️ Once the WebApp team moves to the installer we can assist them if there are any changes required from the VM side of things.

[2022-02-02 11:55] wulfthimm commented on #7545
I told Gero the same. If the process which is described in notion stays this way the support is already in place.

[2022-02-02 12:26] jldec commented on #7973
@atduarte there is already an issue / discussion about this in #4977

- new running workspaces have no backup, so the download link should be disabled. Currently it is there, but leads to an error page.
- any workspace which has been stopped at least once has a working backup link, which downloads the most recent backup, even when the workspace is running

[2022-02-02 13:18] #7965 closed

[2022-02-02 13:37] akosyakov opened #7980 "[jetbrains] fix git integration"
~Right now a user has to log in with GitHub. It would be nicer if JB backend can fetch GitHub token which is used by a user to authenticate in Gitpod.~

~Maybe it can be extended to other auth providers like GitLab/BitBucket~

It is turned not to be about GitHub integration, but that git does not work. Gitpod integrates on git level via credential helper, but JB backends by default does not rely o

[2022-02-02 13:39] purkhusid commented on #6243
@jankeromnes Are there any plans to increase the size or request a bigger disk for a specific project?

[2022-02-02 13:42] JanKoehnlein commented on #7922
Good catch, @ramank775!

The `browser-extension` repo shares the same issues, so you can just create a PR there and link it to this issue.

[2022-02-02 13:42] akosyakov opened #7981 "[jetbrains] many exceptions on spring petclinic example"
### Bug description

Exceptions like:
[code]

To reproduce start with petclinic example.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-02 13:44] utam0k commented on #7793
I have created a repository to reproduce libseccomp errors. We can reproduce it by changing the URL to the preview environment when you open it. This will speed up the feedback loop so that we can try more things ;)
https://github.com/utam0k/libseccomp-golang-playground

[2022-02-02 14:01] JanKoehnlein commented on #7866
This is what we do in the server: https://github.com/gitpod-io/gitpod/blob/fa62003417248d638df419b90e35847b037e56f9/components/server/ee/src/user/user-service.ts#L44-L45

[2022-02-02 14:17] kylos101 opened #7983 "Workspace shutdown unexpectedly"
### Bug description

On February 1 @ 11:02pm UTC, the workspace shutdown unexpectedly after a minute.

[Related discord thread.](https://discord.com/channels/816244985187008514/938192626543362140)

### Steps to reproduce

@shaal are you able to recreate this with any particular public repos?

### Workspace affected

https://phase2-hfdrupal-s60ok2xajnq.ws-us30.gitpod.io/

### Expected behavior

The

[2022-02-02 14:19] kylos101 commented on #7983
@shaal can you share if this has happened more than once, or just the one time? If more than once, how frequent is it?

[2022-02-02 14:20] jankeromnes commented on #6243
Great question @purkhusid. I'm aware of internal discussions regarding the ability to get "bigger workspaces", but I think until now this is only for CPU (e.g. see https://github.com/gitpod-io/gitpod/issues/7487).

Deferring to @gitpod-io/engineering-workspace / @atduarte regarding any plans to increase workspace disk size or making it configurable.

[2022-02-02 14:24] csweichel commented on #6243
The plans outlined in #7487 indeed refer to CPU only at this point. Considering that the larger workspaces would be available to paying customers, it's not obvious if increasing the disk size for those workspaces would actually solve a problem.

[2022-02-02 14:44] purkhusid commented on #6243
My team is currently on the Professional plan and I'm already enconoutering the 30gb limit in our monorepo. Would it be possible to have bigger disk for those on paying plans?

[2022-02-02 15:18] shaal commented on #7983
I created a small public repo that reproduces the issue.
https://github.com/shaal/gitpod--custom-docker-image-tester

You'll see that it cannot find `docker` in terminal, and after a couple of minutes - it shuts off

[2022-02-02 15:27] shaal commented on #7983
I noticed this error in console, after running in that small repo `sudo apt-get update`

![image](https://user-images.githubusercontent.com/22901/152183736-72722a7b-c66b-4b60-9745-2aebacdf57aa.png)

Full console error - https://gist.github.com/shaal/6faf4687253964a1e2e0f03157ce974e

[2022-02-02 15:33] ZCube commented on #7700
@RedstoneWizard08 I was very worried about you. I'm glad you came back.  I was surprised when this issue disappeared, so I made a merge request first. I'm looking for the remaining errors and fixing them.
![image](https://user-images.githubusercontent.com/781225/152185074-fc341531-812c-430a-ad63-72d3e2467e97.png)

[2022-02-02 15:50] RedstoneWizard08 commented on #7700
Hmmmm.....Okay.

[2022-02-02 15:53] RedstoneWizard08 commented on #7700
@ZCube [GitPod ARM](https://github.com/gitpod-arm) was flagged. It is no longer public. I have created a ticket with GitHub support
![Screenshot 2022-02-02 7 51 51 AM](https://user-images.githubusercontent.com/94275204/152188993-fc1d7473-3582-48f6-a8e8-408c04e13cbd.png)
.

[2022-02-02 16:09] RedstoneWizard08 commented on #7700
[code]

and then

[code]

Where is the config path?

[2022-02-02 16:12] ZCube commented on #7700
You have to render it using the helm chart or installer. The result contains the corresponding config settings.

[2022-02-02 16:19] akosyakov opened #7986 "move blobserve behind ide proxy"
Otherwise we bound to workspace team deployment to deploy insiders.

[2022-02-02 16:21] pseudozach commented on #7909
I tried both. refreshed and opened it in local VS code. I still don't see
the option to tunnel all interfaces.

On Wed, Feb 2, 2022 at 12:51 AM Pauline P. Narvas ***@***.***>
wrote:

[2022-02-02 16:35] #7874 closed

[2022-02-02 16:54] RedstoneWizard08 commented on #7700
Okay.

[2022-02-02 17:34] kylos101 commented on #7795
@vseager @jordeu `2525` should be available to you now, may I ask you to try again? If the issue is continuing, let us know and we'll reopen this issue.

[2022-02-02 17:34] #7795 closed

[2022-02-02 17:46] #7947 closed

[2022-02-02 17:56] averycho opened #7988 "Error when creating a new workspace"
### Bug description

I am receiving an error when trying to create any new workspace and am unable to open a previously created workspace. Below is a screenshot of the error I am seeing. Even when deleting existing workspaces and trying to start a new one I see the same error.

<img width="511" alt="Screen Shot 2022-02-01 at 5 19 28 PM" src="https://user-images.githubusercontent.com/62025193/15220

[2022-02-02 18:40] pseudozach commented on #7909
I don't even see the ports in the `remote explorer` view in local VS Code
![Screen Shot 2022-02-02 at 10 38 54 AM](https://user-images.githubusercontent.com/3731591/152217090-b0d816b1-f75c-4360-a22e-d6a30fc14b06.png)

[2022-02-02 18:40] robartsd commented on #666
This is the same place I get stuck trying to set up code signing in the browser.

[2022-02-02 18:41] kylos101 commented on #7983
@csweichel @sagor999 when you free up, may I ask [you to inspect the logs](https://cloudlogging.app.goo.gl/aJwijQ9mJ1Hvn86k6), to see why @shaal 's workspace stopped unexpectedly after a minute?

@shaal it seems like you're also having a prebuild issue. May I ask you to create a separate issue, moving the related content from this issue to that new one? The `workspace-base` image hasn't changed re

[2022-02-02 18:47] kylos101 commented on #7859
Cool! @ArthurSens can you share how we are doing that now with terraform? :pray:

[2022-02-02 18:50] kylos101 commented on #7958
Yes, I agree, @sagor999 , thank you!

@jeanp413 @akosyakov  I am going to add this issue to the IDE team inbox. This way you all can prioritize injecting user and github token into tests. If, once you're able to move that work from scheduled to in-progress, any assistance is needed from Team Workspace, please give us an early heads up by adding Team Workspace back to this issue, and we'll pick it

[2022-02-02 19:13] atduarte commented on #7318
After some research I believe 2 days is reasonable, and we could go with 36 hours.

First, looking at the SaaS data from this year, we only had 0.00035% of the workspace instances living for more than 48 hours. If we were to set the max lifetime to 36h it would impact 0.0005%. And 24h, 0.017%.

| Percentile  | Minutes |
| ------------- | ------------- |
| .5  | 17  |
| .9  | 121 |
| .999  | 769  |

[2022-02-02 19:39] gtsiolis opened #7991 "Remove truncation and allow horizontal scroll through the entire team invitation URL"
### Bug description

When a user tries to invite other team members they are presented with a modal that includes an invitation URL.

While there's a shortcut button to copy the invitation URl to the clipboard, the user can horizontally scroll on the disabled text input.

| 1 | 2 |
|-|-|
| <img width="427" alt="invitation-url-1" src="https://user-images.githubusercontent.com/120486/152224650-8036d

[2022-02-02 19:47] Furisto commented on #7793
@utam0k Found out what the issue with the official libseccomp golang is. [This](https://github.com/seccomp/libseccomp/blob/51b50f95e1fb717e4560818f8b90b7ebde314ad1/src/db.c#L1200-L1202) is the place where the error occurs in libseccomp. It is not possible to use Tsync and Notify together unless we are api level 6. [Here](https://github.com/seccomp/libseccomp-golang/blob/2a71848205430267e34457b3b77

[2022-02-02 19:48] RedstoneWizard08 opened #7992 "Internal Authentication Database"
## Is your feature request related to a problem? Please describe

It is not related to a problem.

## Describe the behaviour you'd like

I would like for GitPod to allow people to sign up with email and use workspaces there without a GitHub, GitLab, or Bitbucket account. It would allow people to link those accounts later but just try GitPod without any of that.

## Describe alternatives you've con

[2022-02-02 20:36] gtsiolis commented on #3530
Looping in @jldec since this could help us surface small feedback to users in many places across the product.

[2022-02-02 21:34] apolopena commented on #7904
I think it might have to do with the entire browser window not having focus but being on screen like in the case where there are mulitple monitors involved. I will investigate this further.

[2022-02-02 21:54] ip69719 commented on #7969
Good Day! Just wanted to confirm that I was able to launch the workspace just now. Hopefully it was just a one off occurrence :-) Thank you!

[2022-02-03 00:29] pyr0gan commented on #7830
Users of the [Figment Learn Solana pathway](https://learn.figment.io/protocols/solana) have been impacted by this bug. We have been using Gitpod with great success - A resolution or workaround to this issue would be greatly appreciated! 😄

[2022-02-03 03:02] mickmister commented on #7936
@utam0k When I click "New Workspace", I'm given a choice for what to use as the starting point of my new workspace. There is a "Recent" tab that shows repositories from my existing workspaces, and an "Examples" tab that has different templates made for GitPod.

I suppose what I'm asking for is a blank slate. This would be the equivalent of a git repository with no commits, or the equivalent of run

[2022-02-03 03:12] mickmister commented on #7939
Seems like a duplicate of https://github.com/gitpod-io/gitpod/issues/7608, since both issues are trying to solve the same problem of letting multiple repositories use the same `gitpod.yml`

[2022-02-03 03:14] ramank775 commented on #7922
Hi @JanKoehnlein I have open an PR https://github.com/gitpod-io/browser-extension/pull/53 please have a look

[2022-02-03 03:48] axonasif commented on #7969
People who were found to be reporting this issue so far:
- [1](https://discord.com/channels/816244985187008514/816246578594840586/938364841922527292)
<img width="632" alt="Screenshot 2022-02-03 at 9 36 18 AM" src="https://user-images.githubusercontent.com/39482679/152277401-c5a07cdd-55ee-4aab-9f04-8b016bb5e6fc.png">

- [2](https://app.frontapp.com/open/cnv_iovr7uy) (Internal Frontapp)

cc @kylos10

[2022-02-03 04:13] ljieyao commented on #1445
looking forward for this feature, desperately need to install it as PWA, anyone started working on this already?

[2022-02-03 05:56] ghuntley opened #7994 "You are about to authorize Gitpod local control client to access your Gitpod account including data for all workspaces."
## Scenario

On a fresh install of macOS with VSCode.

1. Open workspace in Gitpod via web
2. Ctrl+Shift+P -> Open in VS Code
3. VS Code prompts to install Gitpod extension which I press yes to.
4. Browser is opened up with a consent screen pictured below

<img width="723" alt="2022-02-03_16-52-13" src="https://user-images.githubusercontent.com/127353/152288922-c209ef61-5e7b-4d09-b9bd-888d8e25b3ef

[2022-02-03 07:32] axonasif commented on #7909
@pseudozach are you using windows/mac/linux?

[2022-02-03 07:32] MrSimonEmms commented on #7741
@ttauchen  @johnktims can you check if this is still a problem with the [2022.01 release](https://github.com/gitpod-io/gitpod/releases/tag/2022.01) please? I changed the `fsShiftMethod` to `shiftfs` by default which is typically the cause of it

[2022-02-03 07:42] pseudozach commented on #7909
macos m1

On Wed, Feb 2, 2022 at 11:32 PM AXON ***@***.***> wrote:

[2022-02-03 08:06] jankeromnes opened #7995 "Unhandled "Not enough credits" error in StartWorkspace page (only handled in CreateWorkspace)"
### Bug description

When you run out of hours, and you try to restart a workspace, you don't see the usual "Limit reached: Out of hours" modal (with Call-To-Action and upgrade flow).

Instead, you just see a generic `Not enough credits, please book more` error:

<img alt="Not enough credits, please book more" src="https://user-images.githubusercontent.com/599268/152303932-bf4102a1-be60-45df-bfca-

[2022-02-03 08:07] akosyakov commented on #7994
We are going to rework VS Code Desktop integration with usage of SSH Gaetway at some point and then there won't be local app auth anymore. A user will need to authotize Gitpod VS Code extensions still, but I think then it will sound more familiar.

[2022-02-03 08:09] axonasif commented on #1445
@hrishirc @ljieyao
## If you're on chrome-desktop:
- You can install gitpod.io as a chromium app from `top right three dotted icon> More Tools> Create Shortcut` while being on the https://gitpod.io page
<img width="1212" alt="Screenshot 2022-02-03 at 1 36 19 PM" src="https://user-images.githubusercontent.com/39482679/152300425-fc73a0ba-4f06-4be4-abf9-72f386ac5223.png">

- Or you can use a [chromiu

[2022-02-03 08:21] #7922 closed

[2022-02-03 08:22] ArthurSens opened #7996 "werft: Add Honeycomb trace URL to job results"
It would be a lot more convenient if every job would have its own trace URL as a result.

Right now, to find a trace, it demands knowledge around how to do queries in Honeycomb, and thus its not accessible for everyone

[2022-02-03 08:24] jankeromnes commented on #7759
Does it really? The fact that you can be part or not part of a team plan has always created ambiguity and confusion -- as a team lead, should I purchase an individual plan for me and a team plan for my team mates, or invite myself to my team plan? What happens if I accidentally do both of these?

(See the numerous support emails we received saying "I accidentally created a plan for myself and a pl

[2022-02-03 08:24] z3ky commented on #7324
I get the same error message from imagebuild pods on Ubuntu 20.04 5.4.0-96-generic using installer release-2022.01.10. ShiftFs is also enabled.

[2022-02-03 08:27] JanKoehnlein commented on #7922
Thanks a lot @ramank775 for the contribution!

We are trying to release that ASAP.

[2022-02-03 08:31] pawlean commented on #7939
You're right @mickmister! Will close this.

[2022-02-03 08:31] #7939 closed

[2022-02-03 08:32] pawlean commented on #7936
Hey @mickmister, this seems to be a duplicate of #605. Is that right?

[2022-02-03 08:34] axonasif commented on #7936
It might not be.

[2022-02-03 08:36] pawlean commented on #7830
@pyr0gan Thanks for the tag! Looping in my colleague @kylos101 who may know more about this issue. Thanks!

[2022-02-03 08:50] geropl commented on #5176
This just lead to an incident: https://app.incident.io/incidents/101
Thus added it to #7812

/cc @jldec

[2022-02-03 08:50] geropl opened #7997 "PrebuildWorkspaceUpdateable missing indexes"
We had [an incident](https://app.incident.io/incidents/101) which turned out to be caused by missing indexes on the table `d_b_prebuild_workspace_updateable`.

We should:
 - check all queries for the table and create indexes if needed
 - double-check that we're not missing more indexes: We had similar indexes in the past, and it feels like we just lost our indexes at some point in time. We can com

[2022-02-03 09:04] utam0k commented on #7793
@Furisto Thanks for your report. It is very helpful to me.
We finally succeeded in getting the forked repository from seccomp/libseccomp to work with linux kernel 5.6 and below, API level 6 and below 🎉
I've sent out a PR for the changes I need to make to the forked repository.
https://github.com/gitpod-io/libseccomp-golang/pull/1
After this PR is merged, I will make a PR to change workspacekit to

[2022-02-03 09:13] utam0k commented on #7793
@kylos101 @Furisto
docker did not work with fusefs in the upgraded environment of libseccomp. This reveals the next problem. The next step is to investigate and resolve the behavior of fusefs and seccomp notify (and possibly other factors). However, this is not the purpose of this issue and I think it should be a different issue. What do you think?

I did some research on this today and all I know

[2022-02-03 09:31] JanKoehnlein commented on #7759
Completely agree. That was a remnant from prior versions. We are not going to support unbilled members until we feel some commercial pressure.

[2022-02-03 09:53] Pothulapati commented on #7360
Hey 👋🏼

Today, I ran into this, while running a self-hosted instance of gitpod with let's encrypt for SSL!

Based of comments from https://github.com/gitpod-io/gitpod/pull/5944#issuecomment-933665265, This happens when your server's root cert is [cross signed by the already expired `DST ROOT CA X3` issuer cert](https://letsencrypt.org/docs/dst-root-ca-x3-expiration-september-2021/), while your cli

[2022-02-03 10:12] shanecoen opened #8003 "Error when opening gitpod workspace"
### Bug description

Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 2576980378, used: 65006469130, capacity: 66388508672

### Steps to reproduce

Every time I try to open workspace from gitpod

### Workspace affected

shanecoen-loverunning-5csdqzuguxp

### Expected behavior

expect gitpod to open workspace with any errors

### Example repository

[2022-02-03 10:44] loujaybee commented on #7183
@akosyakov yep! Just moving other issues out to the GA epic, all good to close !

🥳 🚀 congrats, folks!!

https://github.com/gitpod-io/gitpod/issues/7956

[2022-02-03 10:44] #7183 closed

[2022-02-03 10:52] #7997 closed

[2022-02-03 11:09] meysholdt opened #8005 "Searches for workspaces never return"
### Bug description

When searching for a workspaceID (e.g. `0a88a641-6bfb-4fe1-8924-84c7e98bff07`) on https://gitpod.io/admin/workspaces, the icon (magnification glass) keeps spinning for 10min+ and I never get search results.

### Steps to reproduce

(see above)

### Workspace affected

_No response_

### Expected behavior

The search should return in less than a second.

### Example repository

[2022-02-03 11:21] laushinka commented on #8005
Yes, currently we search on the contextURL and we have no index there. We should work on this soon as this is an ongoing problem. @jldec

[2022-02-03 11:23] 0xJem opened #8006 "~/.ssh/ is cleared between runs"
### Bug description

If a workspace encounters a timeout and is relaunched, the contents of the `~/.ssh/` directory are cleared. This makes it cumbersome to get running again, as the keys need to be copied over.

### Steps to reproduce

1. Open a workspace in VSCode (probably on the web too, but I've only tested VSCode)
2. Copy across keys into `~/.ssh/`
3. Let the workspace timeout. VSCode won't

[2022-02-03 11:54] #2702 closed

[2022-02-03 11:56] AlexTugarev commented on #7492
Just for completeness, Gitpod only supports **https** connections to identity providers. Sensitive information and credentials should not be transmitted without encryption.

[2022-02-03 11:58] jldec opened #8007 "A cancelled subscription appears to prevent user from applying coupon."
I have not reproduced this, but it appears (from this [support user](https://app.frontapp.com/open/cnv_iopxyx6) - internal) that a cancelled subscription makes it impossible for users to apply a coupon without creating a new subscription first.

- new user signed up on the free plan
- subscribed to monthly Professional plan
- cancelled after 5 months, and reverted to the free plan
- received coupo

[2022-02-03 12:19] gtsiolis commented on #7492
Thanks for the reminder, @AlexTugarev! 💡

[2022-02-03 12:27] jldec commented on #7925
MVC outline - following [internal discussion](https://www.notion.so/gitpod/WebApp-Design-Sync-Feb-3-2022-c36014b1796b49f1bc515264da405ab3)

- "Send feedback" text link
- The link should be unobtrusive, but visible on every dashboard page, including admin pages
- The link should open a modal popup with a feedback form, very similar to the docs feedback form
- Use the same emojis for collecting sent

[2022-02-03 12:49] atduarte commented on #8006
Currently, only the `/workspace/` folder is backed up and therefore preserved.

We are planning to tackle this issue by implementing a "full backup of the workspace". See https://github.com/gitpod-io/gitpod/issues/7719. Given that, will mark this as a duplicate.

[2022-02-03 12:49] #8006 closed

[2022-02-03 13:09] jldec commented on #5176
Scheduled this issue.
Similar to https://github.com/gitpod-io/gitpod/issues/7400

[2022-02-03 14:12] ArthurSens commented on #7546
After investigation, I believe this is a no-op for us. Since we're using the installer route in CI for harvester VMs, we've got this feature added by default.

As you can see, the annotation is set [here](https://github.com/gitpod-io/gitpod/blob/3a2fb8b5a3914cd9260c53393c0e99dd728ad89d/.werft/build.ts#L158), and used by the installer [here](https://github.com/gitpod-io/gitpod/blob/3a2fb8b5a3914cd9

[2022-02-03 14:16] #7545 closed

[2022-02-03 15:59] kylos101 opened #8013 "Enhance Admin Node dashboard"
## Is your feature request related to a problem? Please describe

We could not view detailed info about a node in GCE during [this incident](https://gitpod.slack.com/archives/C0312QU68A3).

[We can see some data in Grafana](https://grafana.gitpod.io/d/gitpod-admin-nodes/gitpod-admin-node?orgId=1&refresh=30s), but it doesn't give us insight to what the node is doing "now".

## Describe the behaviou

[2022-02-03 16:12] Pothulapati commented on #7360
So, I was able to fix it by building a version of the `gitpod` extension that had a latest version of `node-fetch`. Obviously, Ass we can't expect servers to not have root certs signed by the expired `DST ROOT CA X3` issuer. Updating the client, to use the latest version of SSL library that knows about ISRG Root X1 is the right way to fix this issue!

Will raise a PR, and update progress here in t

[2022-02-03 16:21] buggtb opened #8014 "Disable the Open IntelliJ button for a small period of time to stop users opening workspace twice"
When I go to open a workspace, there is a button that says Open IntelliJ, but in the time my brain has processed that, its also started the automatic opening of the workspace, and so I've on occasion clicked the button and had it open both at the same time, which of course tries to launch the same thing twice.

The end result is IntelliJ opening, so its not broken, but it would make sense, to do s

[2022-02-03 16:33] filiptronicek opened #8015 "[vscode-desktop]: Can't preview private ports"
### Bug description

Private Gitpod ports can't be accesed by the VS Code Desktop WebViews, rendering them unusable (well, not rendering them at all 😝)

I think this is a similar issue to https://github.com/gitpod-io/gitpod/issues/4924#issuecomment-886427061, at least the root cause - we need to send a cookie / header with the request, because the WebView does not auth at all, so it receives a `40

[2022-02-03 17:12] axonasif commented on #8006
@atduarte in your `.gitpod.yml` `before:` task you can do such a thing:
[code]

Also, you can utilize the dotfiles[^1] `install.sh` if you want to avoid doing this for each and every repo via `.gitpod.yml`.
And in fact, you can save your ssh keys as an env var on https://gitpod.io/variables and use that to configure them for each workspace via scripting `install.sh` of the dotfiles feature. Althou

[2022-02-03 17:38] #7983 closed

[2022-02-03 17:48] loujaybee opened #8017 "Epic: Foundation of IDE integration testing"
#### Context
Currently, IDE team does not have any means to run end-to-end testing which makes it hard to ensure quality.

#### Value
- QA for major VS Code extensions deployed by https://github.com/open-vsx/publish-extensions
- QA for changes done by other teams but affecting IDEs like SSH gateway
- Automated rollout of new IDEs versions.
- Automated rollout of new IDEs components.

#### Acceptan

[2022-02-03 17:49] axonasif opened #8018 "Support 'git@github.com:{user}/{repo}.git' format for '.gitmodules'"
## Is your feature request related to a problem? Please describe

There are conflicts when both HTTP and SSH URL format is used in `.gitmodules`[^1]
If you open this repo on gitpod, you will notice that for some reason the HTTP one got its files wiped out, this doesn't happen when all of the submodules have HTTP based URLs and everything is just fine.

Upon manual submodule sync attempt, you will

[2022-02-03 19:04] axonasif commented on #7992
@RedstoneWizard08 I think you should share your feedback regarding email auth at here instead https://github.com/gitpod-io/gitpod/issues/6967

Closing this for now.

[2022-02-03 19:04] #7992 closed

[2022-02-03 19:09] axonasif commented on #7988
Hi @averycho, can you share your `.gitpod.Dockerfile` and `.gitpod.yml` contents? It would be also helpful if you could share your repo if it's public.

[2022-02-03 19:38] RedstoneWizard08 commented on #7700
@ZCube [`gitpod-arm`](https://github.com/gitpod-arm) has been unflagged

[2022-02-03 21:01] Furisto opened #8020 "Investigate why using fuse overlayfs causes /proc not being mountable by docker in workspace"
### Bug description

When fuse overlayfs is configured it is not possible to use docker in a workspace as mounting /proc for the container fails.

[code]

### Steps to reproduce

- Switch to fuse overlayfs
- Start a workspace
- docker run hello-world

### Workspace affected

_No response_

### Expected behavior

Docker should run container successfully

### Example repository

_No response_

### A

[2022-02-03 21:01] Furisto commented on #7793
@utam0k I created new issue: #8020

[2022-02-03 22:17] gtsiolis opened #8021 "Close the new integration modal when the integration is successfully added"
### Problem to solve

Currently, when adding an integration for a self hosted provider, the new integration modal remains open when the integration is successfully added.

See also [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1643926436870879) (internal). Cc @laushinka @corneliusludmann

### Proposal

Close the new integration modal when the integration is successfully adde

[2022-02-03 22:32] sagor999 commented on #7983
@shaal when #7989 will get deployed into prod (sometime next week I believe) you should now see a proper error as to why docker was not able to start up, instead of crash.

[2022-02-03 22:59] kylos101 opened #8022 "Gitpod repo - Java failure on start-up - package not found - package="components/ide/jetbrains/gateway-plugin:plugin""
### Bug description

The Java terminal yields an error for jetbrains gateway-plugin.

### Steps to reproduce

Start a new Gitpod in Gitpod from the GItpod repo.

This error is logged in the Java terminal:
`FATA[0001] package not found                             package="components/ide/jetbrains/gateway-plugin:plugin"
exit`****

### Workspace affected

https://gitpodio-gitpod-1x7jufpclok.ws-us30.g

[2022-02-04 02:26] sagor999 commented on #7988
Try to install this in your `.gitpod.Dockerfile`:
https://git-lfs.github.com/

[2022-02-04 05:20] kylos101 commented on #7830
Hi @pyr0gan :wave: ,

I was reading through [the linked PR](https://github.com/figment-networks/learn-web3-dapp/pull/240#issue-1122558497), and I rather like this thought `...users to deploy to a test validator running inside of Gitpod instead of the devnet cluster`.

Have you considered using [tasks](https://www.gitpod.io/docs/config-start-tasks#start-tasks), to automate the configuration and sta

[2022-02-04 06:22] 0xJem commented on #8006
Thanks all for the feedback/suggestions!

Not entirely comfortable putting SSH keys into the variables, so the `before` task will have to do.

[2022-02-04 07:46] #7793 closed

[2022-02-04 07:49] akosyakov opened #8024 "[jetbrains] add actions for common gitpod links/features"
Similar to what we have in VS Code:
<img width="533" alt="Screenshot 2022-02-04 at 08 49 52" src="https://user-images.githubusercontent.com/3082655/152491595-0920373d-baa2-4a4f-bd52-840a4a118b84.png">

<img width="655" alt="Screenshot 2022-02-04 at 08 50 50" src="https://user-images.githubusercontent.com/3082655/152491729-b67eb19a-cf7e-451e-a058-34cbd9458626.png">

Not Open in VS Code obviously :D

[2022-02-04 07:54] #7858 closed

[2022-02-04 08:54] akosyakov opened #8026 "[jetbrains] label release update PRs with IDE label"
Right now, it is hard to discover them.

[2022-02-04 08:56] utam0k commented on #8020
I didn't get any clues today. I'll leave you with what I tried and didn't work.
- Change the version of fuse-overlayfs( `v1.4.0` / `v1.8.2`)
- Put 3 seconds of sleep in `mountProc()` and check if it works with shiftfs. By doing this, I tried to find out if the delay in operation is caused by this issue. But shiftfs worked fine.
- Set dockerd storage driver to fusefs-overlay
- Verifie that overlayf

[2022-02-04 09:05] jordeu commented on #7795
@kylos101 I can confirm that port 2525 is working again. But in fact we were using port 587 that it is still blocked. We've moved this test to use a local smtpd server, so it is not affecting us anymore. Thanks.

[2022-02-04 09:11] wulfthimm commented on #7547
We need to set up a new application in Gitlab with the callback-url `https://preview.gitpod-dev.com/auth/gitlab/callback`. I can not find any Gitlab account that can be used for that purpose in 1Password.

[2022-02-04 09:33] akosyakov opened #8028 "display warning for latest IDE versions on the loading screen"
For latest versions like VS Code Insiders and EAP of JB products we should display a warning at all phases of the loading screen and provide an action to switch to restart a workspace with a corresponding stable version of a selected product.

### Designs

| Preparing | Running |
|-|-|
| <img width="1440" alt="Preparing" src="https://user-images.githubusercontent.com/120486/158705245-ee345d3d-1c03

[2022-02-04 09:34] akosyakov commented on #8028
@gtsiolis we will need a design for it.

cc @loujaybee

[2022-02-04 09:58] akosyakov commented on #7848
It has to be done to enable https://github.com/gitpod-io/gitpod/issues/7980

[2022-02-04 10:06] wulfthimm commented on #7859
@kylos101 Please reach out to me when you have any question.

[2022-02-04 10:08] mads-hartmann commented on #7859
@kylos101 I'm removing this from the Platform project. Please re-add it if you want to follow up ☺️

[2022-02-04 10:41] manni8436 opened #8029 "Unable to open workspace"
### Bug description

When I try to open the workspace, it says opening for a few seconds and then changes to stopping and stays there constantly,

hard refresh and reload does not fix it.

### Steps to reproduce

attempt to open workspace

### Workspace affected

azure-butterfly-abg0ankl

### Expected behavior

the workspace should open and I would be able to access my code and project

### Exampl

[2022-02-04 10:46] ChristianKohler opened #8030 "Provide "Open in Gitpod" button as png"
## Is your feature request related to a problem? Please describe
VS Code extensions don't allow svgs in the readme:

![image](https://user-images.githubusercontent.com/4374178/152515969-af81edc7-e8b5-4fe9-ba83-32b792b87acd.png)

## Describe the behaviour you'd like
Provide a  `https://gitpod.io/button/open-in-gitpod.png` next to the `https://gitpod.io/button/open-in-gitpod.svg`

## Describe altern

[2022-02-04 10:55] Pothulapati commented on #7360
https://github.com/gitpod-io/openvscode-server/pull/305#issue-840141234 PR bumps the node-fetch, which fixed what I was facing locally but this could also be caused when they are using an older version of code (and thus getting an older version of `electron`). So, Updating Vs Code could very well fix the issue!

Thanks!

[2022-02-04 11:21] ArthurSens opened #8031 "Previews: Adjust logging configuration"
[We've just introduced aggregated logging to Harvester previews with Fluent-bit and Stackdriver](https://github.com/gitpod-io/gitpod/pull/8011).

We should investigate if we can make the DevX experience better by tailoring fluentbit config to:
* Drop unnecessary or duplicated attributes
* Add extra attributes that can make log search easier for a specific preview.

[2022-02-04 11:23] ArthurSens opened #8032 "Previews: Document aggregate logging"
[We've just introduced aggregated logging to Harvester previews with Fluent-bit and Stackdriver](https://github.com/gitpod-io/gitpod/pull/8011).

We need to document how it works and how other engineers can make the most out of it.

[2022-02-04 11:29] meysholdt commented on #7547
I don't have an account for the Gitlab application either.

@wulfthimm do the credentials on core-dev unveil which account we use there? If not, maybe the @gitpod-io/engineering-Webapp team can clarify which account should be used. Is it a shared account? Or just a random personal account?

[2022-02-04 11:49] loujaybee commented on #7981
Maybe this one @iQQBot can help us with.

[2022-02-04 11:50] wulfthimm commented on #7547
I can only see a client id and secret. My guess would be that it is a random presonal account. I will ask.

[2022-02-04 12:15] ZCube commented on #7700
@RedstoneWizard08 I separated the build environment from the source. https://github.com/gitpod-arm/gitpod-builder

[2022-02-04 12:52] csweichel opened #8035 "Implement globally optimal dynamic CPU limiting in ws-daemon"

[2022-02-04 12:58] wulfthimm commented on #7548
I have created a new application in bitbucket and changed the secret `preview-envs-authproviders-harvester` in `core-dev` accordingly. As it is not part of our IAC I created a new issue as it also includes other provider ([ref](https://github.com/gitpod-io/ops/issues/1024)).

[2022-02-04 12:59] wulfthimm commented on #7548
The login does work and can be tested by starting a new preview-environment on a VM.

[2022-02-04 13:23] AlexTugarev commented on #7547
Need to admit, it's still my personal account which is used for the `GitpodDevStaging` OAuth App, and I recall we were not able to find out who maintains the official Gitpod account on gitlab.com to change this when we tried once.

[2022-02-04 13:26] kylos101 commented on #7859
What @ArthurSens shared is perfect, thank you, @mads-hartmann and @wulfthimm .

[2022-02-04 13:57] akosyakov opened #8037 "[jetbrains] suppress closing IDE backend dialog"
### Bug description

<img width="663" alt="Screenshot 2022-02-04 at 14 56 06" src="https://user-images.githubusercontent.com/3082655/152541020-d0239afe-1b21-4331-9656-0b1aa6572f3a.png">

In our case the supervisor makes sure that IDE backend is always running. It is a meaningless choice.

It happens only in 221.*

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expec

[2022-02-04 14:49] atduarte commented on #7489
It's clear that we want to have a Singapore cluster (`asia-southeast1`) to fix the current issue we have in APAC, and would include only that one in the spirit of MVC.

Given our focus on reducing latency to values below 100ms, it might be relevant to consider South America but I wouldn't attribute the same level of urgency given the feedback from the community, data on usage, and resource costs.

[2022-02-04 14:56] pawlean commented on #8029
Do you have an example repo we can look at?

[2022-02-04 15:09] manni8436 commented on #8029
Good afternoon,

Sorry I didn’t see your comment notification.

The browser editor is already set to VS Code as you asked me to do

Many thanks
Emanuel

[2022-02-04 15:10] manni8436 commented on #8029
I had a look at the settings to do what yob adviced me and the setting is already on VS Code

[2022-02-04 16:38] domsq opened #8042 "Gitpod workspace unable to start"
### Bug description

When trying to load a workspace, I'm getting the error "Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 2576980378, used: 65006469130, capacity: 66388508672".

### Steps to reproduce

Navigate to https://gitpod.io/workspaces, locate workspace "blue-condor-ttglki79" and click it to try get it to load. I only have the option to

[2022-02-04 16:47] manni8436 commented on #8029
Hi,

I tried to open my workspace again and it didn't work

[2022-02-04 16:54] pawlean commented on #8042
Can you open a new workspace from that same context by any chance?

[2022-02-04 16:54] geropl opened #8043 "[dashboard, server] Prevent redirect loops that trigger "startWorkspace" in a loop"
Ways to solve this:
 - 1. level:
   - fix the broken assumption in the dashboard (error handling)
 - 2. level:
   - have preventive measures in place in `dashboard` (e.g., exp. backoff for `startWorkspace`)
   - have preventive measures in place in `server`: rate-limit `startWorkspace` more strictly

Proof that this issue enforced [this incident](https://app.incident.io/incidents/104): https://ui.

[2022-02-04 17:12] sagor999 commented on #8043
Just want to add that we should try to fix it ASAP as it makes us ddos ourselves.

[2022-02-04 17:16] csweichel commented on #8043
💯 agreed.

@jldec can you make sure this gets high up on the priority list?

[2022-02-04 18:10] filiptronicek commented on #5179
First pointer: the logic for opening in github.dev is handled here:
https://github.githubassets.com/assets/app/assets/modules/github/behaviors/open-in-github-dev.ts

[2022-02-04 18:14] atduarte commented on #8042
Looks like another occurrence of https://github.com/gitpod-io/gitpod/issues/7969 😞

Will close to avoid duplication, but feel free to reopen in case I missed something

[2022-02-04 18:14] #8042 closed

[2022-02-04 19:36] #7826 closed

[2022-02-04 19:40] pyr0gan commented on #7830
Hey @kylos101 👋 ,

It's not a bad idea, though the way it was working before where users were interacting directly with Solana's devnet was good. We were trying to reduce complexity for the sake of new learners. More experienced developers would likely be able to figure out the issue and work around it without our help.

My only real issue with making test validators a part of the tutorial is that

[2022-02-04 19:50] randomir opened #8045 "User environment variable name/value length validation missing"
### Bug description

Variable name can not be longer than 255 chars, but the error is never displayed to the user (if console output is not counted).

Similarly for the value (but different limit, 64k).

### Steps to reproduce

Try creating a [variable](https://gitpod.io/variables) with name longer than 255 chars.

After clicking "Add Variable", the dialog will close, but variable will not be adde

[2022-02-04 21:17] shpetimselaci commented on #4130
Seems that this still an issue for the Brave, but only if you have the "Shields Up".

Here's the shields up example:
![image](https://user-images.githubusercontent.com/23242179/152604000-5bc1a18f-a212-4598-aa5d-aaa9a6dbe088.png)

Here's the shields down example:
![image](https://user-images.githubusercontent.com/23242179/152604088-204c7196-d9b4-4972-93da-d5a058aeb001.png)

I am using this Brave:
[

[2022-02-04 21:19] shpetimselaci commented on #4130
It is a bit annoying when the workspace url changes all the time and I have to turn the shields down every time.
Let me know whether I can contribute with a PR or something similar.

[2022-02-04 21:49] apolopena commented on #7904
Yeah my tests show this happens when the entire browser window does not have focus. I updated the bug, reproduction steps, and a respository that isolates the bug to it's simplest implmentation. Please give it a whirl.

[2022-02-04 22:02] Fibs7000 commented on #6675
So there is basically no option to run this without a loadbalancer?

[2022-02-04 22:09] RedstoneWizard08 commented on #7700
@ZCube sorry I've been away all this week - GitHub issues (as you know) and it was also the last week of the semester soo.....
Anyways, how would I get a local instance of GitPod (ARM) running on a server? I want to test it out to look for bugs.

[2022-02-04 22:10] MrSimonEmms commented on #6675
@Fibs7000 not via the config as set. However, you do have the option to post-process the YAML and the [given example](https://github.com/gitpod-io/gitpod/tree/main/installer#post-processing-the-yaml) is changing the service load balancer to a `ClusterIP`

[2022-02-04 22:57] Fibs7000 commented on #6675
Hm... tried that but only getting a white screen... even if https is not setup correctly it should give me anything right?

[2022-02-05 04:30] MrSimonEmms commented on #6675
HTTPS must be configured as the web server sends out an [HSTS](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Strict-Transport-Security) header. If you have a white screen, you'll need to look through the logs as to the problem - probably in `proxy` or `server` pods

[2022-02-05 04:31] #6675 closed

[2022-02-05 07:01] johnnyfleet opened #8049 "Unable to ssh via magicdns name using tailscale"
### Bug description

I have been using tailscale for a while now from gitpod and working well. However I noticed today that I'm unable to ssh using the dns names - only tailscale ip.

I've checked using tailscale set up on local vm and that works fine so suggests something wrong with how it is running in gitpod?

### Actual behaviour

[code]

### Steps to reproduce

Navigate to [https://github.com

[2022-02-05 09:18] ZCube commented on #7700
@RedstoneWizard08  This is my test sequence now.
The holidays are over, so the response will now be slow.

1. Clone
git clone https://github.com/gitpod-arm/gitpod/
git checkout zb/mariadb
cd gitpod/installer

2. Create config file (k3s)
gitpod.config.yaml
[code]

3. Install Cert-Manager

4. Render
[code]

5. Install
[code]

[2022-02-05 12:49] NormalGaussian commented on #7894
This bug is no longer an issue:

* confirmed no longer duping on private repo's in both gitlab and github

As no work seems to have been done to directly address this issue I looked into the commits since the report to determine the issue and the fix. The following is the most likely place:

Changes to `components/gitpod-cli/cmd/credential-helper.go`
* incidentally broken by : https://github.com/g

[2022-02-05 14:43] akosyakov opened #8050 "[jetbrains] don't infer vscode section"
For JB users (has JB product as default editor) or JB workspaces (started with JB product as default) we should NOT infer any vscode configurations in .gitpod.yml.

cc @svenefftinge

[2022-02-05 21:07] kylos101 opened #8051 "Change GitpodWorkspaceTooManyRegularNotActive to an alert and update criteria"
## Is your feature request related to a problem? Please describe

[The current warning](https://github.com/gitpod-io/gitpod/blob/main/operations/observability/mixins/workspace/rules/components/workspaces/alerts.libsonnet#L62) goes unnoticed (as it is a warning and does not page), and fires too frequently.

## Describe the behaviour you'd like

Change the warning to an alert (which pages), and alte

[2022-02-05 23:15] woss commented on #666
Hi guys, I was playing around with the idea to host my own little server which would have the keys and do the git commit signing with GPG. This way gitpod wouldn't have to host users GPG keys. This works from the system and there is no need to implement anything in the Vscode for now since all the passphrase is on the server.

I know that's not best practice in the security sense but I have no ide

[2022-02-06 00:31] #6536 closed

[2022-02-06 10:38] #6437 closed

[2022-02-06 10:38] #6380 closed

[2022-02-06 10:38] #5959 closed

[2022-02-06 10:38] #6347 closed

[2022-02-06 11:13] SchindlerTo commented on #7110
Due to https://github.com/couchbase-examples/python-quickstart/pull/4 I looked into this again but I am still not able to figure it out.
Our setup uses an image that is based on python:3.9.7 and just installs a bunch of "unrelated" stuff (unrelated to gitpod).
To follow the proposed solution, we would have to change this image (that has no dependency on gitpod workspace base/full). This which may

[2022-02-06 14:48] SchindlerTo commented on #7110
Ok so I added the following to our Dockerfile which fixes the issue in gitpod, just as @tiamot recommended :+1: Thanks for the solution! Adidtionally, it seems like the addition of these env variables does not interfere with our other uses of the container :)

Our gitpod file:
[code]

.devcontainer/Dockerfile:

[code]

[2022-02-06 14:48] #7110 closed

[2022-02-06 15:31] mikenikles commented on #5964
Thanks Filip. Yes Anton, that sounds like a sensible approach.

[2022-02-06 17:14] RedstoneWizard08 commented on #7700
@ZCube, so I could theoretically create and run this shell script:
[code]

[2022-02-06 17:23] RedstoneWizard08 commented on #7700
@ZCube I think after this is done I'm gonna work on a multiplatform docker image where it has GitPod pre-installed and the only thing you need to provide is a domain.

[2022-02-06 17:41] kylos101 commented on #7754
@Furisto unassigned you as this is still scheduled. If you're actively working, please assign and move to in-progress, otherwise feel free to leave "as is". :+1:

[2022-02-06 21:38] Furisto commented on #8020
- There are a few issues on the fuse-overlayfs repository which mention files not showing up. The recommendation is to use the timeout=0 option but this did not have any effect
- I used workspace preview to test with what we use in production and it is the exact same behavior there. Based on this and what we have previously found it, I am skeptical that this is caused by seccomp.
- Checked dmesg,

[2022-02-07 02:55] kylos101 opened #8054 "Set up faster CPU workspace cluster"
The larger cluster must have admission constraint: `{ type: "has-more-resources" }`

The config map for workspace requests and limits stored in `ws-manger` for workspaces must be increased to cut the density in half (from 20 to 10 workspaces). Double the memory and CPU requests and limits.

The config map for prebuild requests and limits is stored in `workspace-templates`. I'm not sure if prebuild

[2022-02-07 04:07] shaal opened #8055 "Invalid characters in terminal after special characters were displayed during prebuild"
### Bug description

Invalid characters in terminal after special characters were displayed during prebuild.

![image](https://user-images.githubusercontent.com/22901/152722687-bd0724eb-5bfe-48cb-931b-1fccf33e96cc.png)

In the screenshot above -
After`mc` (Minio client) was running during prebuild (these are the green characters),
A new workspace opens with invalid characters in terminal (ie. `11;

[2022-02-07 06:33] iQQBot opened #8056 "too many "wait: no child processes" in gcp log"
### Bug description

Too many "wait: no child processes" in gcp log

### Steps to reproduce

https://cloudlogging.app.goo.gl/zFFZgtR8VgCPqKfr9

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-07 07:08] #7903 closed

[2022-02-07 07:33] akosyakov commented on #8056
@iQQBot VS Code Inisiders was broken last week, leading to such errors. Do you still see them happening? @jeanp413 pinned Insiders to stable for now while working on the fix.

[2022-02-07 08:34] akosyakov commented on #7360
It was published, please try.

[2022-02-07 08:34] #7360 closed

[2022-02-07 08:46] gemmaellis16 opened #8058 "Workspace won't load"
### Bug description

HI there, my workspace is stuck on this, this morning can you help me please?
It says -

Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 2576980378, used: 65006469130, capacity: 66388508672

### Steps to reproduce

Not sure

### Workspace affected

lavender-mockingbird-lwvgnui0

### Expected behavior

![Screenshot 2022-02-07

[2022-02-07 09:18] julienbusset opened #8059 "Can’t install Symfony CLI without updating ca-certificates"
### Bug description

When I run the commands to install the Symfony CLI as mentioned at [https://symfony.com/download](https://symfony.com/download) in the Linux section, I get:
[code]

If I try to update the ca-certificates by doing `sudo apt install ca-certificates`, I get:
`ca-certificates is already the newest version (20210119~20.04.2).`

To update the certificates, I have to run `sudo apt up

[2022-02-07 09:30] jldec opened #8060 "[Admin] Search for team by name or slug and show team details"
From discussion[[1](https://www.notion.so/gitpod/WebApp-Notes-Admin-for-Teams-Laurie-J-rgen-Feb-10-2022-f75d2e6f886a44ceb23bc57c419ab28c)](internal):

Search for teams
- by name
- by slug (helpful for team names with funny characters)

- Results - order by created desc
    - [x] Name + team URL (/t/slug) underneath
    - [x] Created date (order by desc) show arrow in heading
    - [x] Indicate del

[2022-02-07 10:11] princerachit commented on #7969
From an internal old thread:

But we have gotten rid of the ws-scheduler and the issue is showing up in the prod env. I suspect this might be due to the kubernetes scheduler that we are using.

[2022-02-07 10:25] utam0k commented on #8020
I had created a script to manually create a rootless container. This aims to make debugging easier.
https://gist.github.com/utam0k/026d9afbf57ae358063c8cce75a9ad0f

I've succeeded in getting it to work locally using `fuse-overlayfs`. I have not yet been able to get it to work on gitpod and mount it using `overlay`.
https://gist.github.com/utam0k/026d9afbf57ae358063c8cce75a9ad0f#file-run_container-

[2022-02-07 10:31] mads-hartmann commented on #7548
@wulfthimm Did you reopen this on purpose? :)

[2022-02-07 10:55] gtsiolis opened #8063 "Users can not re-add git integrations that have been removed"
### Bug description

When a Git integration with a self hosted GitLab instance gets removed, users cannot add the same Git integration back.

Cc @laushinka because we ran into this while testing https://github.com/gitpod-io/gitpod/pull/7946.

<img width="529" alt="Screenshot 2022-02-07 at 12 17 50 PM (2)" src="https://user-images.githubusercontent.com/120486/152774752-52876162-b588-4dc7-83a9-51733

[2022-02-07 11:03] mads-hartmann opened #8064 "Declutter the .werft folder"
De-clutter the `.werft` folder by moving everything that isn’t a job spec (or a `ts` file for a job) to a sub-folder — a few examples below

- values.*.yaml go to preview/helm/
- post-process.sh to preview/installer/

[code]

Part of the internal RFC ["Decomposing the build job"](https://www.notion.so/gitpod/Decomposing-the-build-job-2327d3cd8dfa4520b0ad994ab1b49dfd)

[2022-02-07 11:16] mads-hartmann opened #8065 "Split build.ts into multiple files"
The “build” job - `build.yaml` and `build.ts` - has grown to a point where it has become hard to maintain.

As a small step towards making it easier to main we want to split the responsibilities of build.ts into separate files.

The split could be made like so

[code]

Part of the internal RFC ["Decomposing the build job"](https://www.notion.so/gitpod/Decomposing-the-build-job-2327d3cd8dfa4520b0ad

[2022-02-07 11:21] mads-hartmann opened #8066 "Run prettier formatting and test for formatting in builds"
To ensure consistent formatting of the build job TypeScript code we should:

1. Format all `ts` code in .werft with prettier
2. Add a prettier format check to our build and block PRs on it

Part of the internal RFC ["Decomposing the build job"](https://www.notion.so/gitpod/Decomposing-the-build-job-2327d3cd8dfa4520b0ad994ab1b49dfd)

[2022-02-07 11:28] gtsiolis commented on #8063
@laushinka I could not reproduce this again, feel free to close this if you also cannot reproduce it. 🏓

[2022-02-07 11:28] #8063 closed

[2022-02-07 11:38] wulfthimm commented on #7548
Yes, because I do not know if changing the secret manually is sufficient to close the issue.

[2022-02-07 11:55] mads-hartmann commented on #7548
@wulfthimm As you created a follow up issue to move it into IaC I think that's okay and we can close this ☺️

[2022-02-07 11:55] #7548 closed

[2022-02-07 12:33] konne opened #8070 "OCI Runtime create failed"
### Bug description

I don't know if this is new or something related to #7666

![image](https://user-images.githubusercontent.com/1100969/152788656-e95f2f19-768d-4eb8-a1ee-b26fc83ed281.png)

### Steps to reproduce

docker-compose up

### Workspace affected

https://vizlib-gucci-y03ugq7rbem.ws-eu30.gitpod.io/

### Expected behavior

_No response_

### Example repository

_No response_

### Anythin

[2022-02-07 12:57] #8022 closed

[2022-02-07 13:43] ttauchen commented on #7741
Pod ws-daemon does not start using the new installer:

[code]

I assume this is due to shiftfs beeing enabled.

Do i need to install additional dependecies?

[2022-02-07 14:09] #7741 closed

[2022-02-07 14:42] atduarte commented on #8035
Is this a duplicate of https://github.com/gitpod-io/gitpod/issues/8035 or is there a difference I'm missing?

[2022-02-07 15:05] wulfthimm commented on #7547
There is already a group for [Gitpod on gitlab.com](https://gitlab.com/groups/gitpod-io) and it would be benefitial if we could be at least a maintainer of that group.  @svenefftinge, @gtsiolis, @jankeromnes

[2022-02-07 15:09] gtsiolis commented on #7547
FYI, only group owners can invite others, see [relevant docs](https://docs.gitlab.com/ee/user/permissions.html#group-members-permissions). Cc @svenefftinge

Thanks for the ping @wulfthimm! 🏓

[2022-02-07 15:19] gtsiolis commented on #7547
Also, there's a separate user account ([`@gitpod`](https://gitlab.com/gitpod)) which could be also helpful here. Maybe we could share the credentials for that account in 1Password if this is preferred. 💡

[2022-02-07 15:27] jankeromnes commented on #8043
FYI, a few links to more context about this problem, in case anyone finds this useful:

- https://github.com/gitpod-io/gitpod/issues/5401
- https://github.com/gitpod-io/gitpod/issues/6688
- [Slack thread](https://gitpod.slack.com/archives/C02EN94AEPL/p1637312973013200?thread_ts=1637310880.010600&cid=C02EN94AEPL) (internal)

[2022-02-07 15:46] geropl commented on #8043
Here's the `startWorkspace` traces from Friday: https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/8xyAV6hi4Jj
It shows that for a single user the same workspace is always re-starting the same workspace.

[2022-02-07 16:21] geropl commented on #8043
Reproducable in devstaging by:
 - copying the relevant `ws-daemon` label from the node, e.g. `gitpod.io/ws-daemon_ready_ns_staging-gpl-8043-redirect-loop: "true"`
 - scaling down `ws-daemon` (e.g. by requiring a non-existing node label)
 - manually re-adding said `ws-daemon_ready...` node label :+1:

[2022-02-07 16:42] laushinka commented on #8063
Oh, good to know, thanks! Hope I don't run into it again 🤗

[2022-02-07 16:56] geropl commented on #8043
The plan is to:
 - [ ] enable basic rate-limiting (per `server` instance) and handle re-tries in `dashboard`
 - [ ] fix the underlying communication issue between the page served by `ws-proxy` / workspace cluster and the dashboard / app cluster by adding an parameter (`not found`) that helps the dashboard disting
 - [ ] (optional) find persistent means to enforece rate-limiting (looking at recent

[2022-02-07 17:05] IDerr commented on #80
Would love to see it too !

[2022-02-07 17:21] safwentrabelsi commented on #80
Would be nice if Gitea could be integrated soon...

[2022-02-07 20:14] heitorlessa commented on #4886
Came here to say that apparently this has been fixed in the latest Gitpod version -- I've just launched a project managed by Poetry + pre-commit that didn't work before.... and setup worked in the first try.

[code]

[2022-02-07 21:29] jldec opened #8076 "Errors working with private repos on GitHub orgs, caused by missing 3rd party access for Gitpod"
GitHub orgs now restrict 3rd party application access by default. This means that even after the Gitpod app is installed on the org E.g. when creating a /new project, 3rd party access to the org is **not** automatically granted to the Gitpod app.

Subsequent attempts to start a workspace on a **private** repo in the org will produce errors like: `Repository not found` with
`Your access token was u

[2022-02-07 21:39] jldec commented on #8076
Many users with private repos in orgs are hitting this issue. Treating as a bug because there is no visible indication in the UI for what is happening (console errors are hidden) and no links to instructions for how to fix.

### Suggested fixes:

1. (If possible), when installing the app on the repository during /new, it should also enable 3rd party access.
2. The 2 start workspace error messages

[2022-02-07 21:47] jldec commented on #8076
## Correct 3rd party access
_only the Gitpod app required below_

![Screenshot 2022-02-07 at 21 03 57](https://user-images.githubusercontent.com/849592/152877072-57e61303-62f5-4c56-af2d-f3a52852b17e.png)

## Missing 3rd party access
![Screenshot 2022-02-07 at 20 08 52](https://user-images.githubusercontent.com/849592/152877075-b2b51f7e-3e2b-42fd-b6e3-dea9d2e31e66.png)

[2022-02-08 01:36] mikenikles commented on #7881
I talked with a CTO today and they have 200+ microservices, each in their own git repository. They'd like to configure variables at the team level so individual projects inherit the variables.

[2022-02-08 02:23] #4199 closed

[2022-02-08 02:23] #6362 closed

[2022-02-08 02:29] codygriffith commented on #80
I'd love to be able see this happen

[2022-02-08 04:02] kylos101 commented on #7843
All planned work for this has been completed. :+1:

Way to see this through, @sagor999 ! :muscle:

[2022-02-08 04:02] #7843 closed

[2022-02-08 04:48] princerachit opened #8081 "Workspace pods stuck in terminating state without backup"
### Bug description

One of the nodes recently had issue in the eu30 cluster. Some pods got stuck in terminating phase while others were running smoothly. The stuck pods did not have backups. The stuck pods got garbage collected around 60min after they got stuck.

Refer: https://app.incident.io/incidents/102

### Steps to reproduce

NA

### Workspace affected

_No response_

### Expected behavior

[2022-02-08 05:15] #7959 closed

[2022-02-08 05:19] TheBeeBoi commented on #3356
Now I know why this wasn't working on my dockerimage, I thought it had something to do with the user..

[2022-02-08 05:40] #7958 closed

[2022-02-08 05:46] princerachit commented on #7969
There was a similar [issue reported in v1.22](https://github.com/kubernetes/kubernetes/issues/104560). This has been fixed in v1.23. I am going to look at the logs and then try to reproduce the issue in a local cluster.

[2022-02-08 06:00] princerachit commented on #7969
Just for future debugging here is an instance which failed due to out of memory `e4b0690e-dffc-4a04-bd12-90fa5300a2df`

[2022-02-08 06:07] princerachit commented on #7969
We have the following count
`"SELECT count(*) FROM d_b_workspace_instance where region = 'eu30' and status like '%OutOfmemory%';"`: 159
`"SELECT count(*) FROM d_b_workspace_instance where region = 'us30' and status like '%OutOfmemory%';"`: 14
`"SELECT count(*) FROM d_b_workspace_instance where region = 'us29' and status like '%OutOfmemory%';"`: 0
`"SELECT count(*) FROM d_b_workspace_instance where

[2022-02-08 06:16] huweiATgithub commented on #6561
I tested in a new workspace.
I see now there is no such bashrc prepend/append stuff.
The PYTHONPATH env now works as expected. Thank you!

[2022-02-08 06:23] princerachit commented on #7969
From dashboard it looks like during the error duration more workspaces were in the creating phase.

[2022-02-08 08:11] #7996 closed

[2022-02-08 08:15] axute commented on #80
is there a update? @svenefftinge @jldec

[2022-02-08 08:18] xiduis15 commented on #80
it would be a great improvement !

[2022-02-08 08:21] wulfthimm commented on #7547
I have added a new [application to gitlab.com](https://gitlab.com/oauth/applications) using the `gitpod` account and copied the credentials directly to the secret in `core-dev`.

[2022-02-08 08:32] princerachit commented on #7969
Found another [open issue ](https://github.com/kubernetes/kubernetes/issues/107679)which talks about all resources in general. There is also [this comment](https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-1005074672) on issue https://github.com/kubernetes/kubernetes/issues/106884 which explains the problem verbosely and how it can be solved.

Overall it is clear that the issue i

[2022-02-08 08:39] wulfthimm commented on #7547
I successfully created a preview-environment on Harvester and was able to login using Gitlab.com ([1](https://wth-test.preview.gitpod-dev.com/)). There is an issue that covers the problem that the credentials saved in the secret on `core-dev` are not persisted in our IAC ([2](https://github.com/gitpod-io/ops/issues/1024)).

[2022-02-08 08:39] #7547 closed

[2022-02-08 08:46] utam0k commented on #8020
The items of the merged directory are created by a docker using overlay mount, which probably has a different mount namespace than nsinsider. The contents of the merged directory are created by docker mount, which is probably a different mount namespace than nsinsider, so if you use nsinsider and try to move mount, you may not be able to see it in the nsinsider namespace. It needs some more verifi

[2022-02-08 08:58] anbraten commented on #80
Looking at the code and places the [integration of Bitbucket](https://github.com/gitpod-io/gitpod/search?p=1&q=bitbucket) (probably a rather limited support compared to Github) was done with, it shouldn't be to hard to open a PR with basic Gitea support 😉

[2022-02-08 09:47] #8026 closed

[2022-02-08 10:16] purkhusid commented on #6243
Would it not be possible to increase the size to 50gb while a more configurable solution is being worked on? @jankeromnes
I've been enjoying using Gitpod for our monorepo but as the repo gets bigger it gets closer and closer to being unusable.

[2022-02-08 10:24] purkhusid commented on #7812
I would like to add an issue that I've seen happen for my repo:

1. Be in the Web UI and click `Open Workspace` on a branch that has an active prebuild
2. Wait until the prebuild finishes and the workspace is automatically opened
3. Notice that the it seems like the prebuild was not presisted and the prebuild steps have been triggered inside the workspace on workspace open

[2022-02-08 10:24] princerachit commented on #7829
I looked for the warning `"websocket in strange state"` but it seems to be [not too bad during that time](https://console.cloud.google.com/logs/query;query=%22websocket%20in%20strange%20state%22;timeRange=2022-01-25T10:18:21.569Z%2F2022-01-31T10:18:21.569Z;cursorTimestamp=2022-01-25T16:00:03.052Z?project=gitpod-191109).

[2022-02-08 10:29] princerachit commented on #7829
I cannot interpret anything in [the dashboard](https://grafana.gitpod.io/d/server/gitpod-component-server?orgId=1&from=1643141354222&to=1643328695720&var-cluster=prod-meta-eu01&var-node=All&var-pod=All&var-method=All&var-datasource=VictoriaMetrics&var-http_route=All) that can establish the relation bw server and the error.

[2022-02-08 10:51] j-frost commented on #6347
[code]

[2022-02-08 11:12] atduarte commented on #8059
The `workspace-mysql:latest` image wasn't yet updated, and the certificates changed. To remediate the situation you may use `workspace-mysql:2022-02-04-10-54-10`. This image will be tagged as latest very soon.

Related with https://github.com/gitpod-io/gitpod/issues/5984.

[2022-02-08 11:26] jankeromnes opened #8088 "Design improvements for the new "New Workspace" modal"
## Suggested improvements
Based on [discussion](https://www.notion.so/gitpod/WebApp-design-sync-Feb-10-2022-0b45d55d7a2749beb9325a5b0fa28b11#14c19ede17794925951bafe1f971ab1a) (internal)

1. **Recover behavior to show recents by default** ([#8380](https://github.com/gitpod-io/gitpod/pull/8380) ✅)
    - Autopopulate results even when input is empty
    - Tweak result ranking to show recents first

[2022-02-08 12:28] #7981 closed

[2022-02-08 12:49] #7683 closed

[2022-02-08 12:56] princerachit commented on #8051
We had a spike today which was followed by stuck in stopping state
![image](https://user-images.githubusercontent.com/32481722/152991415-fc71bd6c-ae38-4b13-9fd5-d66b3ef2ec16.png)

[2022-02-08 12:58] loujaybee opened #8091 "Epic: Mono Repo Support"
An issue to gather customer feedback on different challenges surrounding mono-repo setups. If you are experience issues with mono-repo's and Gitpod right now, please let us know in the comments about your current setup, and what challenges you are facing 🙏

- https://github.com/gitpod-io/gitpod/issues/8252

[Internal link](https://gitpod.slack.com/archives/C02P236JZPC/p1666064762225039)

[2022-02-08 13:07] jldec commented on #8050
@akosyakov confirming that this is a perception issue only - including vscode extensions does not create any problems besides noise in the file and a bit of "what the hey is that doing there??" for some users.

cc @loujaybee

[2022-02-08 13:20] jldec commented on #7894
Thank you for the detailed feedback @NormalGaussian
This issue should have appeared in our inbox for triage, and handled with much more active communication.
We will do what we can to improve that going forward.

[2022-02-08 13:22] akosyakov commented on #8050
Yes, it is not about technical issues, but respecting user preferences: JB user opens the project and then he see that we put a file in his project with VS Code configurations.

[2022-02-08 13:29] laushinka commented on #8005
Current Honeycomb duration tracing[[1](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/nZ7mf4rWHDW?hideCompare)] (thanks, @mads-hartmann!)

[2022-02-08 13:48] #7564 closed

[2022-02-08 13:53] rogwild opened #8092 "Can't open workspace in VS code"
### Bug description

Can't open workspace in VS code, it works only in browser.
VS code opens, but I have this error in console

[code]
![Снимок экрана 2022-02-08 в 16 49 40](https://user-images.githubusercontent.com/15786352/153000154-041cb005-1e40-465b-87f4-e9332ae6263a.png)

### Steps to reproduce

1. Open workspace
2. Click button "Gitpod: Open in VS code" in left top menu
3. Open output logs

[2022-02-08 13:57] akosyakov commented on #8092
Try to close VS Code and kill all processes with gitpod in name and then try again. Also you should see show logs after sometime in bubble notification. Is there anything suspicious there?

[2022-02-08 14:05] rogwild commented on #8092
What console command should I run on MacOS?

[2022-02-08 14:05] AlexTugarev commented on #7894
If that's related to multiple tokens (which in itself is something to be solved, and potentially by simplifying the multi-meta setup) I just created the https://github.com/gitpod-io/gitpod/pull/8093 which addresses the issue from @NormalGaussian's [comment](https://github.com/gitpod-io/gitpod/issues/7894#issuecomment-1025052214).

[2022-02-08 14:11] jankeromnes commented on #8088
We could also bake in [this requirement](https://github.com/gitpod-io/gitpod/issues/7554#issue-1099658469):

I think we could even make all modals a bit larger, as [suggested](https://gitpod.slack.com/archives/C02EN94AEPL/p1643971961919849) (internal) by @geropl:

[2022-02-08 14:33] JanKoehnlein commented on #7894
@NormalGaussian I am very sorry for the missing attention. The fix https://github.com/gitpod-io/gitpod/pull/8093 seems to address this and is scheduled for deployment on Thursday 9am CET. It would be great if you could confirm then that it works.

[2022-02-08 14:38] JanKoehnlein commented on #7082
Removed priority label, because the user impact is currently mitigated by on-call. Doesn't mean we're not working on this.

[2022-02-08 14:57] davemecha commented on #3794
Hi Gitpod team. I'd really like to have the option for an annual plan.

My main reason is that I want to reduce my effort and costs with accounting. To have just one invoice a year would save me time and money.

Additionally I'd be happy for a small discount for a yearly plan.

So please put this to your roadmap - also for team accounts. 🙏

[2022-02-08 15:00] jldec commented on #8050
Scheduled this assuming it is a simple enhancement to our gitpod.yml inference logic.

[2022-02-08 15:05] jldec commented on #8043
Removed `priority: highest (user impact)` label given that b[asic rate-limiter](https://github.com/gitpod-io/gitpod/pull/8073) should limit impact to single-user now.

[2022-02-08 15:06] csweichel opened #8096 "Failed to download OTS in US cluster (possibly happens for prebuilds, only)"
### Bug description

Looking at the logs we're seeing a surprising amount of OTS download failures as part of workspace content initialisation: https://console.cloud.google.com/logs/query;query=%22cannot%20download%20OTS%22%0A;timeRange=PT24H;cursorTimestamp=2022-02-08T14:43:32Z?project=workspace-clusters

Each of those failures is likely to yield a failed workspace - at least if the repo was priv

[2022-02-08 15:07] geropl opened #8097 "Workspace list stays blank when displaying `git` contextURLs"
Example

![image](https://user-images.githubusercontent.com/32448529/153015439-1e5465d5-85d8-4af2-b92f-56241ade5315.png)

/cc @jankeromnes

[2022-02-08 15:11] csweichel commented on #8013
Does this really have direct user impact? It's about our own visibility, not about user-facing system behaviour, no?

[2022-02-08 15:12] atduarte commented on #7988
@averycho did @sagor999 suggestion solve the issue?

Will remove `priority: highest (user impact)` for now, given a potential solution was provided.

[2022-02-08 15:14] kylos101 commented on #8013
No, [but, it's post-incident related](https://github.com/gitpod-io/gitpod/labels?q=directly), which is the second half of the label description.

Would it help if we separate the label from post-incident related work?

[2022-02-08 15:15] jldec commented on #4879
Prioritizing as part of #7812

[2022-02-08 15:19] csweichel opened #8098 "[integration-test] Load test proc mount in a workspace"
## Is your feature request related to a problem? Please describe
On several occasions we have broken Docker containers in a workspace due to intermittently failing proc mounts, e.g. due to libseccomp issues (see #7793). We've seen reports that the problem seems to persist https://github.com/gitpod-io/gitpod/issues/8070.

We must add an integration test which runs the proc stress test (mount `/proc

[2022-02-08 15:36] #8035 closed

[2022-02-08 15:48] Chuxel commented on #7721
Hey there! Just wanted to mention that we're in the process of opening up the dev container spec to be like the VS Code LSP. We plan to house the spec at https://github.com/microsoft/dev-container-spec and are looking into the release of a reference implementation. We're still early in the process, but we're happy to collaborate on the spec - there's already a few things we plan to do like providi

[2022-02-08 15:51] sagor999 commented on #7969
@princerachit high count for eu30 is due to outage that we had, where new workspaces were started non stop and we reached autoscaler limit. I think that's why EU30 has such a high number comparing to other clusters.

[2022-02-08 15:57] csweichel commented on #8013
I think so - I was under the (mistaken) impression that we had a priority label for this case already

[2022-02-08 16:10] gtsiolis opened #8101 "Consider using the same and the instance URL when triggering the browser dialog to open in desktop editor"
### Problem to solve

When using a desktop editor, the automatic browser dialog that pops up to prompt users to open in application is using the workspace URL while when manually triggering the dialog with a button click, the instance URL is used.

This could be confusing to users as this dialog triggers the same action. ❗

In terms of user experience, using the shortest possible could be a good w

[2022-02-08 16:42] sasdallas opened #8102 "No ports open on `workspace-full-vnc`"
### Bug description

I cannot access the VNC server in my gitpod workspace. `.gitpod.yml` is configured to run image `workspace-full-VNC`, but no open ports are listed. This is really weird, because it was working before.

### Steps to reproduce

1. Stop your GitPod workspace
2. Start your GitPod workspace
3. No open ports

### Workspace affected

workspace-full-vnc

### Expected behavior

VS code

[2022-02-08 16:59] csweichel opened #8103 "[docker] Support arguments to Docker daemon"
## Is your feature request related to a problem? Please describe
We automatically start the Docker daemon when it's needed in the workspace. Currently users cannot provide their own arguments to that daemon, which bars them from using things like [userns-remap](https://docs.docker.com/storage/storagedriver/vfs-driver/). We should provide a way for folks to add those arguments.

## Describe the beh

[2022-02-08 17:02] kylos101 commented on #8058
Hey @gemmaellis16 , thank you for sharing this report, we're actively looking into this issue in #7969, therefore I am going to close this as a duplicate. May I ask you to subscribe in #7969?

CC: @princerachit

[2022-02-08 17:02] #8058 closed

[2022-02-08 17:07] jonathan-wondereur commented on #6469
I would also ❤️ this, I have been using nova.app and would like to continue using it instead of switching to VS Code ... I wonder why this issue was closed?

[2022-02-08 17:17] kylos101 commented on #6008
Hey @laushinka , I am closing this for two reasons, but wanted to share why. :smile:

1. At the time of this issue's creation workspace clusters were running in GKE, but now we're on K3s.
2. This issue is no longer happening (I searched in the logs for our past two generations of workspace clusters).

[2022-02-08 17:17] #6008 closed

[2022-02-08 17:41] jankeromnes commented on #8102
Hi @sasdallas!

Looking at your repository's [`.gitpod.yml` commit history](https://github.com/sasdallas/reduceOS/commits/main/.gitpod.yml), I see three relevant changes (from oldest to latest):

1. Use base image `gitpod/workspace-full` (no VNC): https://github.com/sasdallas/reduceOS/commit/72c11b5595eb92b3d8ac03d3f99976ddfa968da0
2. Use base image `gitpod/workspace-full-vnc` (with VNC, i.e. shou

[2022-02-08 17:50] kylos101 opened #8104 "Prototype using persistent volumes for storage of user data"
## Is your feature request related to a problem? Please describe

This is a test and learn, so we can explore using persistent volumes to store `/workspace` data. https://www.notion.so/gitpod/Ensure-durability-and-availability-of-user-workspace-files-9edff6bbf87248d5ac73a7d4548ee4b3

## Describe the behaviour you'd like

**Happy path:**
Store working copy files, `/workspace`, on a distinct persist

[2022-02-08 18:14] jankeromnes commented on #4353
Now that https://github.com/gitpod-io/gitpod/pull/7422 is merged and deployed, I think we no longer need the manual prebuild prefix.

@jldec maybe we can rename this issue to "Deprecate and remove Prebuild Context URLs" and schedule it?

It's a quick fix, and I believe it's both no longer useful and actually broken and harmful from a security standpoint (since anyone can trigger Prebuilds for any

[2022-02-08 18:15] jankeromnes commented on #4353
Side note: the `/#incremental-prebuild/` prefix should go away too. It's equally broken (no project association) and was never announced in the first place (it was more of an internal hook for us to test Incremental Prebuilds).

[2022-02-08 18:44] RedstoneWizard08 commented on #7700
https://github.com/gitpod-arm/vscode-linux-build-agent

[2022-02-08 19:02] NormalGaussian commented on #7894
It already works. From [this comment](https://github.com/gitpod-io/gitpod/issues/7894#issuecomment-1030618404):

I have no way to verify https://github.com/gitpod-io/gitpod/pull/8093 as it doesn't seem to have been the source of my issue. I would also emphasise [my comments on that code](https://github.com/gitpod-io/gitpod/issues/7894#issuecomment-1025052214) were an outsiders passive observation

[2022-02-08 19:43] Furisto commented on #8020
I was looking into if we maybe enter the wrong mount namespace because the pid translation is somehow broken when we use fuse-overlayfs, but this does not seem to be the case. The process we take the namespaces from is runc:[2:INIT] in both cases.

fuse
[code]

shiftfs
[code]

Working now from https://github.com/gitpod-io/gitpod/tree/furisto/debug-fuse

[2022-02-08 20:19] somehowchris commented on #6469
Sry, I closed it as it seemed that gitpod was moving into "only vscode" waters and many of the devs seem to work on core or additional features to gitpod but I haven't seen yet any enthusiasm around adding a further IDE

[2022-02-08 20:25] csweichel opened #8105 "Support Git LFS during content init"
## Is your feature request related to a problem? Please describe
During content initialisation we should support Git LFS, i.e. install it [here](https://github.com/gitpod-io/gitpod/blob/main/components/ws-daemon/leeway.Dockerfile#L17)

## Describe the behaviour you'd like
Git LFS should just work

[2022-02-08 20:28] csweichel opened #8106 "[workspacekit] Use veth instead of slirp4netns"
## Is your feature request related to a problem? Please describe
Today we use slirp4netns to connect the network namespace of our workspaces. While convenient and easy to use, this comes at a runtime cost because we make networking a userland issue.

## Describe the behaviour you'd like
Instead, we should defer to the ws-dameon IWS to create `veth` pairs between ring1 and the workspace pod.

[Also

[2022-02-08 20:40] sagor999 opened #8107 "[installer] Rename and print OR remove `--danger-use-unsupported-config` flag"
### Bug description

when using experimental settings in installer, error message is not very helpful.
would be good to tell user how to enable experimental options in that message.
Also, after digging through source code I did find the switch for it:
`-danger-use-unsupported-config   enable use of unsupported config`
which doesn't mention anything that it enables experimental settings.

### Steps

[2022-02-08 20:49] metcalfc commented on #8107
This is a rough UX. Can we change to flag to something that connects it to `experimental` ?

```--enable-experimental-config```

The user of the installer is considered someone who is ok with low-level access and is often other Gitpod folks. I think the safety is good but we should still make it easy. To go with this, when we warn folks lets tell them how to fix it, ie add the flag vs just ignore

[2022-02-08 21:09] shaal commented on #4353
Pleeeeease do not remove manual prebuild prefix.
It is the only way I can prebuild DrupalPod project, which is hosted in a Gitlab self-hosted environment.
https://git.drupalcode.org/project/drupalpod

I still didn't figure out how to add DrupalPod project to gitpod.io/projects, see https://github.com/gitpod-io/gitpod/issues/7781

[2022-02-08 21:17] shaal commented on #7812
@purkhusid I've seen that as well.
When I disable all automatic prebuild in Github - I no longer see that.
After a commit, if I didn't manually trigger a prebuild, I'll see the `init` tasks running when I open worksapce.
If I trigger a prebuild - I'll see the `init` tasks in prebuild, and after that every new workspace will not run again the `init` tasks.

[2022-02-08 22:53] RedstoneWizard08 commented on #7700
@ZCube https://github.com/gitpod-io/vscode-linux-build-agent/pull/1

[2022-02-08 23:04] ashutoshpw commented on #3794
I would like this too. As Gitpod.io is using chargebee for this, I believe that should be easier to implement.
Please put this to your roadmap - If someone could provide me a little guidance around setting up Gitpod Development environment, I can work on this!

[2022-02-09 02:05] ghuntley commented on #80
<img src="https://media1.giphy.com/media/yoJC2K6rCzwNY2EngA/giphy.gif?cid=ecf05e47udezcajc0ibmadvxm3yhohx331g4x6iqchntudsf&rid=giphy.gif&ct=g">

Gitpod would accept a pull request that adds support. :)

[2022-02-09 02:14] ghuntley commented on #80
Happy to raise the amount of ongoing sponsorship to Gitea from Gitpod @techknowlogick once the integration is in place as part of our open-source sustainability fund as Gitea once integrated would officially be in Gitpod's bill of materials.

<img width="1285" alt="2022-02-09_12-38-55" src="https://user-images.githubusercontent.com/127353/153108420-6abd9899-8053-4ad0-8a99-41117b93a05e.png">

Here'

[2022-02-09 02:29] gengjiawen opened #8111 "vim is broken"
### Bug description

latest vim not working

### Steps to reproduce

open any repo and install vim

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?
From console, maybe upstream issue ?
[code]

Update:
Temp solution: install good old vim https://github.com/gitpod-io/gitpod/issues/8111#issuecomment-1034790930

Fal

[2022-02-09 03:35] kylos101 commented on #8096
[Also interesting.](https://cloudlogging.app.goo.gl/JTmV6uzLgYJh9FBN9)

[2022-02-09 03:42] kylos101 commented on #8070
Hey @konne I am so sorry to sound like a broken record, but, is this something that happens consistently, or intermittently when you `docker-compose up`? I assume intermittent, but do not want to assume. Let us know?

[2022-02-09 03:48] kylos101 commented on #8081
Hey @princerachit what is the expected outcome for this story? I ask because we have some related. [[1](https://github.com/gitpod-io/runbooks/issues/321)][[2](https://github.com/gitpod-io/runbooks/issues/316)]

I ask because if the pods are already gone, I do not believe we'll be able to use `gpctl` to remove them.

Are you intending to set their final state to stopped again?

[2022-02-09 04:02] princerachit commented on #8081
The expected outcome is to figure out what caused the issue.

[2022-02-09 04:29] apolopena opened #8113 "gitpod/workspace-mysql no longer installs apache2"
### Bug description

Any `.gitpod.Dockerfile` using:
[code]
or
[code]
no longer has apache2 installed

This breaks alot of things.

All docker image build steps will break if an assumed directory such as /etc/apache2/ is used to lets say copy a `apache2.conf ` file over or something like that which is a typical thing to do.

Note: `workspace-full` is unaffected.

### Steps to reproduce

Create a w

[2022-02-09 04:34] princerachit commented on #7969
I have moved the issue back to scheduled as there is not much we can do unless a patch is released upstream

[2022-02-09 04:56] akosyakov commented on #8111
Please make sure to report it in upstream. It sounds like a new version was published which pulls node deps in browser target?

[2022-02-09 05:13] TheBeeBoi commented on #3246
lol

[2022-02-09 05:16] TheBeeBoi commented on #6877
![image](https://user-images.githubusercontent.com/97726243/153126517-97dc8efe-22b9-484f-b66f-e3c202fdee24.png)

[2022-02-09 05:18] TheBeeBoi commented on #6877
I've spent literally days trying to use my custom dockerimage to use godot with gitpod

[2022-02-09 06:23] gengjiawen commented on #8111
Uptream: https://github.com/VSCodeVim/Vim/issues/7469

[2022-02-09 06:44] gengjiawen commented on #8111
For anyone don't want to suffer the long waiting pain, please search vim for gitpod.

I have uploaded the good old vim 1.21 to openvsx.

[2022-02-09 07:23] AlexTugarev commented on #7781
@shaal, please help us to sort out issues with the project integration of self-managed GitLabs. It seems to be some sort of incompatibility in the API, which blocks the reading of projects here. We've seen similar with a very old installation of GitLab, thus would you mind to provide the version number?

[2022-02-09 07:34] svenefftinge commented on #4886
Awesome, thanks for verifying.

[2022-02-09 07:49] svenefftinge commented on #7064
Is this still an issue with the new images?

[2022-02-09 08:37] akosyakov commented on #6508
As far as I understand JB has a canonical way for that:
- https://www.jetbrains.com/help/idea/managing-plugins.html#required-plugins
- and then check in .idea folder

[2022-02-09 08:49] jankeromnes commented on #4353
As usual, many thanks @shaal for surfacing dependencies we're (or I'm) not aware of! 🙏 🥇

Will edit the issue title + description, and also directly link to any issues that need to be resolved first before the prefix can go.

[2022-02-09 09:01] jankeromnes commented on #7781
Alternatively, maybe you could invite one of us to your Self-Managed GitLab instance? I think this could make debugging easier.

[2022-02-09 09:17] #8097 closed

[2022-02-09 09:30] utam0k commented on #8020
I installed the following code. It did not cause an error with shiftfs, but it did cause an error with fuse. It is possible that for some reason the merge directory is not being propagated to the required location when the overlayfs is mounted. We don't know yet where it should be propagated to. It seems obvious, but this made it clear that there should be a directory, but there isn't.
https://git

[2022-02-09 09:39] raaone7 commented on #7881
+1 please

[2022-02-09 09:55] AlexTugarev commented on #7781
@jankeromnes, thanks for the hint!

Just signed up successfully to https://www.drupal.org/u/alextugarev

[2022-02-09 09:55] atduarte commented on #6508
Found this page that might be useful: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems

[2022-02-09 10:12] konne commented on #8070
@kylos101 happens roughly about 10% of the starts. So we can as a workaround just restart docker-compose up and usually, it is working then but still, it is annoying.

[2022-02-09 10:23] AlexTugarev commented on #7781
I should be able to reproduce now.

[2022-02-09 10:50] akosyakov commented on #7863
@mustard-mh is going to look into, but since it is hard to reproduce and needs good knowledge of VS Code @jeanp413 please mentor here and provide all necessary support 🙏

[2022-02-09 10:53] Pothulapati commented on #6602
I think, Just like how GitHub recently has been doing a[ lot of](https://cli.github.com/) [work](https://code.visualstudio.com/blogs/2018/09/10/introducing-github-pullrequests) focusing on workflows and power users. We should also be doing similar stuff at some point but this definitely may not be high priority now!

With us, starting to support many clients i.e Vs Code, Jet Brains, CLI (for Vim,

[2022-02-09 11:05] jldec commented on #7894
Thanks for confirming that and for the additional pointers @NormalGaussian .
cc: @AlexTugarev

[2022-02-09 11:05] #7894 closed

[2022-02-09 11:34] jldec opened #8117 "Error starting workspaces based on prebuilds which use git LFS"
This is a clarification of #7988

The git-lfs binary is available in the Gitpod base image, so prebuilds can call now call `git lfs` commands without first installing git-lfs. [[1](https://github.com/gitpod-io/workspace-images/blob/ca92f62a62e65eb404b23fa1cda8a769040b03db/base/Dockerfile#L62)] The git lfs commands are availabe from any default-image Gitpod workspace terminal.

If a prebuild uses a

[2022-02-09 11:36] jldec commented on #7988
Closing in favor of https://github.com/gitpod-io/gitpod/issues/8117 which explains the cause of this.

[2022-02-09 11:36] #7988 closed

[2022-02-09 11:41] AlexTugarev commented on #7781
@shaal, please check with this URL https://git.drupalcode.org/api/v4/projects?min_access_level=40 and let me know, how many projects are accessible to your account having `Maintainer (40)` permissions. See https://docs.gitlab.com/ee/api/members.html#valid-access-levels for more details on the access levels in GitLab.

For me this is empty, actually I'm not able to see any in there.

GItLab project

[2022-02-09 11:46] #7565 closed

[2022-02-09 11:50] konne opened #8118 "prebuilds stopped working"
### Bug description

I only get prebuilds in my team if I manually trigger them:

![image](https://user-images.githubusercontent.com/1100969/153194302-2d80b3a0-a976-4f3c-ba5e-8b7e2857a2c4.png)

until 16 days ago (15 from yesterday) it stopped to have automatic prebuilds:

![image](https://user-images.githubusercontent.com/1100969/153194404-3992e294-1ccd-4a81-a55a-9898ad3fe9f1.png)

incremental pre

[2022-02-09 11:59] #7848 closed

[2022-02-09 11:59] #7980 closed

[2022-02-09 12:00] csweichel commented on #8117
This is a duplicate of https://github.com/gitpod-io/gitpod/issues/8105 - LFS init for prebuilds happens as part of the content initializer.

[2022-02-09 12:00] #8117 closed

[2022-02-09 12:07] jmls commented on #8105
this is a serious roadblock for us :(

[2022-02-09 12:11] Furisto commented on #8020
Yes, that aligns with my previous observation that the mount is performed successfully when I create the directory beforehand. See

That is interesting because when I tested it I saw the same issue happening in 5.13 and 5.4. Will retest.

My understanding is that it does not enter one of the ring namespaces, but enters the namespaces of runc when it is about to create the container.

[2022-02-09 12:14] utam0k commented on #8020
I think I may be wrong. I tried to use `-v` to specify the version of setting fuse config. I'll test it again tomorrow.

[2022-02-09 12:17] Furisto commented on #8020
Drawing a diagram sounds good. Considering that it is now the end of your day, I could start with a draft PR and then we complete it together.

[2022-02-09 12:25] #8005 closed

[2022-02-09 12:49] jeanp413 commented on #8111
@gengjiawen quick question, couldn't you just install the old version through vscode ui instead of uploading it to openvsx? is that a bug?

[2022-02-09 13:11] shaal commented on #7781
@AlexTugarev i can see projects listed on that url https://git.drupalcode.org/api/v4/projects?min_access_level=40

But I could see them only after I went to https://git.drupalcode.org and logged in (with my Drupal account)

[2022-02-09 13:14] AlexTugarev commented on #7781
that is expected.

☝🏻  could you do this, please?

[2022-02-09 13:16] jonathan-wondereur commented on #6469
Interesting, on the [roadmap](https://github.com/gitpod-io/roadmap/projects/1) and their [website](https://www.gitpod.io) Gitpod is saying that they are bringing out support for the JetBrains IDEs soon...

![image](https://user-images.githubusercontent.com/38539725/153208734-05029056-3007-476b-a9ca-185a7d0c7162.png)

[2022-02-09 13:19] julienbusset commented on #8059
Hi Duarte, thank you for your concern.
Is PHP included in this image? I get this:
```/usr/bin/env: ‘php’: No such file or directory```
and
```no PHP binaries detected ```
cf [https://gitlab.com/julienbusset/symfony-gitpod-demo/-/tree/changement-image](https://gitlab.com/julienbusset/symfony-gitpod-demo/-/tree/changement-image)

[2022-02-09 13:24] shaal commented on #7781
@AlexTugarev sure, relevant log entries for what? What should I try doing?

I just tried adding again any project that is hosted on drupal.org (empty list)
![Screenshot_20220209-082312](https://user-images.githubusercontent.com/22901/153210029-de1f0f8e-02d5-47ba-b88a-c58caeff4649.jpg)

If it's easier we can also discuss this on Gitpod discord.

[2022-02-09 13:52] loujaybee commented on #7575
I'm hoping that this small docs clarification https://github.com/gitpod-io/gitpod/pull/8120 and a full commitment to the inbox process for teams should be sufficient here. I think we also need to ensure that all folks doing issue triage also fully utilise the inbox process and that becomes the one and only way of ensuring an official update to any issue.

[2022-02-09 14:17] sasdallas commented on #8102
Hi, @jankeromnes.\
Thanks for reaching out!

I tried to restore `.gitpod.yml` and `.gitpod.Dockerfile` from that commit, then stopped and started the workspace again, but it didn’t update. I’m not sure why.

[2022-02-09 14:19] sasdallas commented on #8102
Oh, and also, those files were removed because of `.gitignore` I think.

[2022-02-09 14:28] jankeromnes commented on #8102
Hi @sasdallas!

Ah, simply restarting an existing workspace won't work for Dockerfile changes -- for this, you'll need to actually:

1. commit the `.gitpod.yml` and `.gitpod.Dockerfile` files again (you may indeed need to remove them from `.gitignore` first)
2. push this commit to your repository
3. create a new workspace based on the new changes

(For stability reasons, restarting an old workspac

[2022-02-09 14:29] sasdallas commented on #8102
@jankeromnes ah, that makes sense! I will try that right now.

[2022-02-09 14:39] sasdallas commented on #8102
@jankeromnes Thanks so much!\
Can’t believe all I had to do was make a new workspace on the branch.

[2022-02-09 14:39] #8102 closed

[2022-02-09 14:40] #8105 closed

[2022-02-09 14:41] kylos101 opened #8122 "Add integration test for Git LFS"
## Is your feature request related to a problem? Please describe

Git LFS was failing during content-init until we added support for it in https://github.com/gitpod-io/gitpod/pull/8119.

## Describe the behaviour you'd like

Support for Git LFS should be covered in a proper integration test as part of our content tests.

## Additional context

https://github.com/atduarte/lfs-test/tree/init

[2022-02-09 14:45] atduarte commented on #8059
The `workspace-mysql` is now updated with the certificates and given that was the original motive of the issue I will close it. 🙏

Regarding PHP: this is related with apache2 being missing, please subscribe to this other [issue](https://github.com/gitpod-io/workspace-images/issues/675).

[2022-02-09 15:06] csweichel commented on #4889
With recent [cgroup v2 fixes](https://github.com/k3s-io/k3s/pull/2844), I figured I give this another try.
On a machine with cgroup v2 enabled, I ran the k3s server without agent using the [latest release](https://github.com/k3s-io/k3s/releases/tag/v1.23.3%2Bk3s1), I started an agent separately using a custom build from https://github.com/k3s-io/k3s/commit/13728058a4e997d8e6168f473299918394f446ef

[2022-02-09 15:13] JanKoehnlein commented on #7064
Looks like it's at least improved: I forked the repo above, removed the `image` section from the `.gitpod.yml` file, started Gitpod and ran
[code]

[2022-02-09 15:27] jldec commented on #7648
From (internal) [thread](https://gitpod.slack.com/archives/C02EN94AEPL/p1643368559365809)

Our tracing reports that push events are being received, but prebuilds are not being triggered because of an authorization error in `fetchConfig`.

[code]

from @AlexTugarev

We would need to check few things:

- which account/token is used for the fetchConfig? is it the same as the installer, or at least on

[2022-02-09 15:33] kylos101 commented on #8103
[This is a nice reference PR which @Furisto and I found](https://github.com/gitpod-io/gitpod/pull/7063/files), which shows how to add data to the `.gitpod.yml`, and then make it possible to use that related data in a workspace as an environment variable.

[Also, here are the args supported by dockerd.](https://docs.docker.com/engine/reference/commandline/dockerd/) Some of the args can repeat (ones

[2022-02-09 15:33] jankeromnes commented on #8102
@sasdallas You're quite welcome! Hope this helps 🙂

Also, I took the liberty to send you a [Pull Request](https://github.com/sasdallas/reduceOS/pull/2) with what a fully-automated dev setup might look like for your project. Feel free to use it for inspiration or to discard it as seems best. 😁

[2022-02-09 15:43] jankeromnes commented on #8088
Cool suggestion from @felladrin on [Slack](https://gitpod.slack.com/archives/C02EN94AEPL/p1644420170539039) (internal):

In the modal's current empty state, the text "Example repositories" could be a link, which either:

- 🅰️ pre-fills the input with `gitpod-io/template-` to show all example repos, or

- 🅱️ links to our public index of example repos: https://www.gitpod.io/docs/quickstart#templates

[2022-02-09 16:12] jldec commented on #8118
Similar to issue #7648, internal [tracing](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/jN9zAYcSZyT) shows auth failures in fetchConfig starting January 24.

One hypothesis is that this Gitpod project belongs to a team which has an owner who does not have GitHub access to the repo in question. @konne could you check whether this may be true? The owners would appear in the membe

[2022-02-09 16:13] axonasif commented on #6469
Actually, people have been using gitpod with jetbrain IDEs for some time, although it's still in beta. We're definitely open to adding more IDE support, it's just our engineers need more time to finish something and pick up what's next.

[2022-02-09 16:14] kylos101 commented on #7829
Hey @princerachit, @sagor999 and I observed this behavior yesterday while server event loop lag was high.

@geropl @JanKoehnlein can you think of a way for us to artificially cause server event loop lag to increase, so we can test this hypothesis?

[2022-02-09 16:50] konne commented on #8118
does all owners have to have github / gitpod access?
Do you choose the first one of the list?

![image](https://user-images.githubusercontent.com/1100969/153249081-c75ef149-ef6c-43f3-bcd6-3890361fb639.png)

[2022-02-09 16:59] jldec commented on #8118
We pick the "first" owner returned from the DB, but I'm not sure what the order is unfortunately (it's a bit tricky to ascertain). If you could test whether this owner auth hypothesis from your side that would be great. I'll also try to follow up from our side to improve our logging and error reporting or find another way to get past this.

[2022-02-09 17:01] jldec commented on #8118
@konne Please feel free to reach out via email at contact@gitpod.io if you prefer to discuss more privately.

[2022-02-09 17:07] jab commented on #4886
I just tried removing the `export PIP_USER=false` workaround from my `.gitpod.yml` and now I'm once again getting errors like:
[code]
from the GitPod `init` task showing up in the terminal. See https://github.com/jab/bidict/pull/234.

Are you sure this is fixed?

[2022-02-09 17:08] princerachit commented on #7969
I tried to create out of resource for CPU and memory but could only re produce it  successfully for CPU in a single node cluster in workspace-preview.

[2022-02-09 17:47] heitorlessa commented on #4886
I tried with a repo without a `.gitpod.yml` and worked consistently on three attempts - `PIP_USER` was false by default as comment above. Perhaps it's using a newer image as I haven't used for months?

[2022-02-09 18:09] konne commented on #8118
@jldec
the first owner approach is not really a good one and I assume that is already the issue.
Can you please extend the rights and have an admin and owner.
Owner is the person who need to have the github connection (please also check and show if not okay)
and the admin can also administer the team, but is not the owner.

[2022-02-09 18:15] konne commented on #8118
@jldec I can confirm. Our admin now connected the github account to gitpod and now its instantly working.

[2022-02-09 18:18] mustard-mh commented on #7443
To reproduce this issue, we can
1. Open a `empty` new workspace [like this](https://gitpod.io/#github.com/mustard-mh/empty) which terminal will not shown automatically (if it does, we should drag hidden it and start a new one)
2. Wait a moment (wait the terminal console load res)
3. Open terminal

|Incorrect|Correct|
|:-:|:-:|
| ![image](https://user-images.githubusercontent.com/20944364/153261261

[2022-02-09 18:45] sagor999 opened #8127 "Add deployment metadata/labels to PRs"
## Is your feature request related to a problem? Please describe
When we release new gen of workspace clusters and shift traffic to that. Do our customers actually know about it?
Do they know what is fixed?
We mark issues as resolved/merged in github, but I think from customer standpoint it might not be clear when those fixes are actually pushed out.
Do we want to introduce special label on PR/Iss

[2022-02-09 19:00] #8051 closed

[2022-02-09 19:25] jeanp413 commented on #7443
@mustard-mh tried your steps but cannot reproduce :thinking: how do you open the terminal? I use the <kbd>ctrl+`</kbd> shortcut.

I took a look at this a long time ago and from what I remember is a race condition when creating the process and xterm.
I know it happens in gitpod production and it was easier to reproduce from sources mid of last year but now It's really hard, I tried multiple times b

[2022-02-09 19:34] kylos101 commented on #8020
Nice teamwork, @utam0k and @Furisto ! :handshake:

I agree, having a diagram will help us decide later how to build a solution, or at least resume this research.

Once the diagram is ready, may I ask you to save the diagram to Github, and then move this issue to our inbox? I will link it to a related epic so we can pick it up again at a later time.

CC: @metcalfc we may have to talk about when mig

[2022-02-09 19:36] ArthurSens commented on #8127
https://github.com/gitpod-io/gitbot/tree/main/plugins/deployed-labeler belongs to us, so I believe we could also extend it apply to a single commit instead of a batch 🙂

[2022-02-09 19:39] kylos101 commented on #8098
Once this is implemented, assuming you can now recreate proc mount failures roughly 10% of the time, schedule #8070.

[2022-02-09 20:00] kylos101 commented on #7885
Removing this from scheduled work for now, moved to the "Cluster and Node Improvements" epic. I consider that to be a short lived backlog. @aledbf @sagor999 we things end up rotting there I'll plan to close them. But this way, they exit our inbox.

[2022-02-09 20:04] kylos101 commented on #7929
@atduarte for your consideration. :smile:

[2022-02-09 20:05] gtsiolis commented on #7662
Looping in @loujaybee in case this could be a easy fix that's also confusing to others, too.

[2022-02-09 20:06] mustard-mh commented on #7443
@jeanp413 are you use vscode stable? I can reproduce this consistently with stable version, but insider can't

[2022-02-09 20:09] jeanp413 commented on #7443
I'm using insiders will try stable, but does this mean is "fixed" in insiders or that it's even harder to repro =S

[2022-02-09 20:23] kylos101 commented on #7318
@jldec hey there :wave: ,

@atduarte brings up an interesting point Re: setting user expectations if we forcibly stop a workspace due to it exceeding the max lifetime.

Notifying the end-user somehow feels like a feature that would live in a WebApp cluster. WDYT?

@atduarte in the meantime, I am going to schedule this, so that we get a configurable 3 day limit set.

[2022-02-09 20:26] kylos101 commented on #8081
@sagor999 as part of the work that you're doing with durability for user data, may we ask you to keep an eye out for this? For example, are there any scenarios you see, where we add a finalizer to the workspace, but never trigger a backup?

[2022-02-09 20:29] jeanp413 commented on #7443
Using stable I can repro the with your steps @mustard-mh
Don't see any changes related that could fix this, so I guess it's just harder to repro :disappointed:

[2022-02-09 20:30] atduarte commented on #7929
Actually, had the opportunity to talk about this epic with @sagor999 in our coffee chat 😅 I agree this is something we want to do, and it's important we have it represented in the project (Thank you!) but currently for me it isn't in the top list, given the number of fires we are trying to put out. Agree with the order [here](https://github.com/orgs/gitpod-io/projects/16/views/8).

[2022-02-09 20:41] jldec commented on #8118
Thank you for following up on that @konne - that is very helpful!

We will look into your suggestion to support both **admins** and **owners** in order to prevent this problem from recurring.

[2022-02-09 21:04] akosyakov commented on #7863
@shaal I looked at your logs unfortunately they are not really helpful :( they do confirm my assumption that extension host process does not start but they don't point to any error.

Could you try to collect data from ouput view behind the separator, especially for `Remote Server` and `Remote Extension Host` please:
<img width="1444" alt="Screenshot 2022-02-09 at 22 02 43" src="https://user-images

[2022-02-09 21:12] kylos101 commented on #7782
Hey @pmassizzo , I am going to close this issue for now, if you are still experiencing this trouble, please reopen and let us know? I could not find a record of your workspace (using this , or a log entry for your user around the time of this incident.

[2022-02-09 21:12] #7782 closed

[2022-02-09 21:38] jldec opened #8128 "Prebuilds stop working for team projects when an owner without repo access joins the team"
This issue is a result of investigating #7648 and #8118.

Team-project prebuilds depend on the 1st (returned from DB) team-owner's permissions. If that user does not have the right access to the repo, then the prebuilds stop working. This can start happening if another team-owner is added later, after the project has been working for a while.

`findProjectOwner()` is called during `handlePushEvent

[2022-02-09 21:42] jldec commented on #8128
One [suggestion](https://github.com/gitpod-io/gitpod/issues/8118#issuecomment-1034051721) for a fix from @konne is to separate the roles of admin and owner.

[2022-02-09 21:44] jldec commented on #8118
Closing this as resolved, tracking root cause in #8128.

[2022-02-09 21:44] #8118 closed

[2022-02-09 21:47] sagor999 commented on #7969
Yeah, I think that would be a good test.
It is odd that it happens. Since k8s scheduler schedules one pod at a time. So even if we have a spike in workspaces, they will still get scheduled one a time on nodes, and when they are, pod is given requested memory.
So next pod should not get scheduled on the node that doesn't have enough memory, yet somehow it seems to happen.

[2022-02-09 21:49] sagor999 commented on #7885
Yeah, I think this one can be closed for the time being. If we will start seeing high load on coredns pods, or excessive latency for dns queries, then we can return back to exploring using nodelocal dns cache for that.
So I will go ahead and close this issue, we can always re-open it in the future.

[2022-02-09 21:49] #7885 closed

[2022-02-09 21:51] jldec commented on #8128
another suggestion from @jankeromnes

[2022-02-09 21:51] kylos101 commented on #5846
backup script
[code]

upload script
[code]

[2022-02-09 21:51] sagor999 commented on #8081
This might be due to ws-daemon not receiving state update from workspace to perform backup. And then it is just stuck in limbo after that. And it might not receive state since AFAIK those state updates are not guaranteed to arrive.
I will keep this issue in mind.

[2022-02-09 21:53] sagor999 commented on #7929
Alternative solution to this is spinning up our own bare metal cluster (in hetzner for eg) that would only do prebuilds. And it might be much cheaper then running this in GCP even on spot VMs. (Idea from Alejandro)

[2022-02-09 21:59] Furisto commented on #8020
Could not get done everything today, but here is the PR: https://github.com/gitpod-io/gitpod/pull/8129
[Diagram](https://github.com/gitpod-io/gitpod/blob/9c5e23a2e5a1d773d91b65e47fba7674f9e39e3d/docs/dev/architecture.svg)

[2022-02-09 22:08] kylos101 commented on #8020
Thanks, @Furisto! If there's anything else you need to add tomorrow, you're welcome to prior to starting other things. This way you can feel good about leaving it in a state that is "done".

@Furisto would it help if @utam0k reviewed the diagram, or would you like them to wait?

[2022-02-09 22:28] Furisto commented on #8020
@kylos101 I thought that @utam0k could use the diagramm as a base if he wants and add his own observations.

[2022-02-09 22:40] kylos101 commented on #7830
Hey @pyr0gan I believe I found the network requirements for devnet, [here](https://docs.solana.com/running-validator/validator-reqs#networking) and [here](https://docs.solana.com/cluster/bench-tps#developer-testnet), and am scheduling an issue to fix this for you. Just wanted to give you a heads up! Have a good one.

[2022-02-09 22:47] kylos101 commented on #8020
That would be perfect, I figure he could also review what you did, too. I just wanted to make sure that if you had more you wanted to do, you knew it was okay to spend time putting the rest of your thoughts into the diagram. :smile:

[2022-02-10 01:02] kylos101 commented on #7969
Some additional thoughts @princerachit :
1. Can we gauge the frequency for this in the logs? What about the database?
2. Does this show up in our Honeycomb traces?
3. After trying `loadgen benchmark`, consider using `loadgen run` in a bash script, to more incremently (and over a longer period) put load on a cluster, to see if that helps recreate the problem.

[2022-02-10 01:08] kylos101 commented on #7829
Another potential culprit is ws-manager-bridge, if you can think of a way to make it perform poorly, that would be an ideal scenario to see if it causes this condition to occur.

[2022-02-10 01:42] sagor999 commented on #8104
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver
Is working in local k3s cluster in workspace-preview project. Supports all GCP PD type (standard, balanced, ssd). Creates and deletes PVC and provisions GCP disks without issues. (testing only zonal PVCs, since regional PVC are much more expensive and not needed in our case). Testing using PVC of size 30G. Regional PVCs woul

[2022-02-10 02:26] sagor999 commented on #8104
Personally I would vote for an option of using PVC with a pod that absorbs attachment time cost. It adds a bit of complexity, since each ws-daemon now need to keep track of it and add them ahead of time, but that doesn't seem like it adds too much complexity. And to me it looks like pros outweigh cons.

[2022-02-10 02:35] huweiATgithub commented on #6494
@filiptronicek Would you share your windows dynamics range: `netsh int ipv4 show dynamicport tcp`

For those who also have this problem, you can change the dynamics ports range in windows to make the local-companion app works. For example,
[code]
so that the port used by local-companion is not in the range. (restart needed)

After setting this, I can confirm everything works smoothly.

[2022-02-10 02:39] sagor999 commented on #6061
I believe this particular issue should have been fixed with this: https://github.com/gitpod-io/gitpod/pull/7926

[2022-02-10 02:41] sagor999 commented on #4852
This should be fixed now via: https://github.com/gitpod-io/gitpod/pull/8119
I am closing this issue now, but if git-lfs still not working, please comment\re-open.

[2022-02-10 02:41] #4852 closed

[2022-02-10 02:58] pyr0gan commented on #7830
Magnificent! Thank you!

[2022-02-10 05:58] princerachit commented on #8104
Thanks for the in depth analysis and testing @sagor999 ! I have a few questions:
1. Did you test what would happen if the node is deleted due to some reason?
2. Does the PVC auto detaches? How do we attach it to a new node for backup? -> Use persistent Volume of pod spec?

[2022-02-10 06:39] sagor999 commented on #8104
1. if node is deleted pvc will stay there. even if cluster is deleted pd disk can still remain and later on we can create pvc out of it for data recovery.

2. yes, if node is gone csi driver will detach pvc. it can then be mounted by any other pod running on a different node.

[2022-02-10 07:05] princerachit commented on #7969
@kylos101 I am going to run those tests. But I am not sure if that would help us recreate the issue. As pointed out in the bug, the kubelet still accounts the resources of terminating pods but scheduler does not so it tries to schedule a pod on a node which does not have sufficient resources. Running loadgen would not create such a scenario IMO

[2022-02-10 07:08] princerachit commented on #7969
spin up an ephemeral cluster
set a cap for the workspace pool to something medium (10 nodes)
confirm the starting # of nodes is X (I think three)
use loadgen benchmark to start 300 workspaces, to see if the scaler can keep up or not? I would expect there to be trouble as you approach 200 workspaces. If the autoscaler is having trouble, then perhaps sooner. My recollection is more like a stress tes

[2022-02-10 07:30] konne commented on #8128
@jankeromnes

The idea is great to have less friction and support for users because it will in most cases just automatically work.
The disadvantage is for me that if I look into enterprise readiness it has not a predicted usage of tokens and even sometimes in that case you want to really define which token is used for access. This is in most cases related to forbidden or limited usage tracking or

[2022-02-10 07:47] princerachit commented on #7969
I just found [this comment](https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-990028254) which says that the OutOfCpu issue (similar to memory) was fixed in 1.23

[2022-02-10 07:56] geropl commented on #7829
@kylos101
Regarding reproducing event-loop lag high: No, I don't know of any way to do so, sorry. And it might be related to general slowness, but involvement in persistent problems (longer than 1-2s) is more unlikely.

This, in turn, is very likely. First of all, you should see either a) high DB CPU usage, or b) high ws-manager-bridge CPU usage.
If both is not the case, you could also c) look for

[2022-02-10 07:57] geropl commented on #7829
[This](https://github.com/gitpod-io/gitpod/issues/7829#issuecomment-1032433427) message from @princerachit looks interesting as well:

This could happen if workspaceClusters are not registered properly (for whatever reason, cannot imagine one :shrug: ).

[2022-02-10 08:59] princerachit commented on #7969
I am not able to reproduce the issue. I left a comment on the [most active issue](https://github.com/kubernetes/kubernetes/issues/106884#issuecomment-1034653785)

[2022-02-10 09:32] akosyakov commented on #5179
@gtsiolis Is it only merged or released too?

@filiptronicek I moved it to awaiting deployment in groundwork, please move to done when it is available to users.

[2022-02-10 09:34] gtsiolis commented on #5179
@akosyakov This has been also released (`v1.13`) on GitHub[[1](https://github.com/gitpod-io/browser-extension/releases/tag/v1.13)] and Firefox Add-ons[[2](https://addons.mozilla.org/en-US/firefox/addon/gitpod/)]! I've been waiting for the approval of the submission in the Chrome Web Store[[3](https://chrome.google.com/webstore/detail/gitpod-always-ready-to-co/dodmmooeoklaejobgleioelladacbeki)].

[2022-02-10 09:40] filiptronicek commented on #8111
Thinking the same, if you install the extension, there is a menu when you click on the caret next to the <kbd>Uninstall</kbd> button. @gengjiawen, could you try if this works? I'm not really sure how to make sure whether Vim is working correctly 😕
<img width="755" alt="image" src="https://user-images.githubusercontent.com/29888641/153379663-f9a396c3-a558-47d0-9151-5fad4f148298.png">

[2022-02-10 10:29] atduarte commented on #6061
I'll close the issue, as we believe we solved it and can't reproduce. We can reopen in case the problem arises again

[2022-02-10 10:29] #6061 closed

[2022-02-10 10:45] schickling commented on #6645
👋  @stale

[2022-02-10 11:11] gengjiawen commented on #8111
I don't want to do it in every my opened gitpod workspace.

It works. But you have to reload it. I have uninstall this one, I have publish another one using my name as publisher

<img width="308" alt="image" src="https://user-images.githubusercontent.com/3759816/153395068-3fa194a4-1458-4396-98c1-88813544e594.png">

[2022-02-10 11:20] krystxf opened #8133 "Settings page on mobile layout"
It would be nice to have a responsive settings page. Probably with some sort of drop down menu instead of the side menu on mobile. I'm willing to help with the styling, but I need some suggestions to get it the way you'd like.

[2022-02-10 12:14] csweichel commented on #8104
The PVC approach indeed looks promising. Do I understand correctly that we'd need to delete the temp pod to free up the PV for the workspace? If so, that would incur the deletion time of that pod, which may include time for the CSI driver to detach the PV.

Are there other means to pre-provision/pre-attach the PVs to nodes? I'm asking because we just got rid of "ghosts" which we'd essentially need

[2022-02-10 12:28] Furisto commented on #8104
@sagor999 Do you know what the impact on read/write performance would be?

[2022-02-10 12:44] mads-hartmann commented on #8066
Grabbing this as it's blocked by https://github.com/gitpod-io/gitpod/issues/8065

[2022-02-10 13:29] jldec commented on #8060
@gtsiolis
Please see MVC spec for new team admin pages above.
Happy to take addditional suggestions from you if you have.

[2022-02-10 13:32] pawlean commented on #8133
Thanks for your feedback, @krystofex! I'm looping in @gtsiolis for information. 😊

[2022-02-10 13:58] felladrin commented on #8088
Another suggestion: disable spell checking, autocomplete, and autocorrect on the input field, by adding these attributes to the html input tag:  `autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"`

[2022-02-10 14:17] jldec commented on #8088
@jankeromnes  - I have updated the description above based on our discussion.
@gtsiolis - If you have a figma design which which matches the new outlined changes, please add image inline above.

[2022-02-10 14:23] mads-hartmann commented on #8064
Grabbing this as it's blocked by https://github.com/gitpod-io/gitpod/issues/8065

[2022-02-10 15:07] loujaybee commented on #7181
Closing, in favour of the ongoing process of managing Open VSX plugins that can be seen here:

https://github.com/orgs/gitpod-io/projects/13/views/30

[2022-02-10 15:07] #7181 closed

[2022-02-10 16:10] apolopena commented on #4254
Not stale

[2022-02-10 16:11] apolopena commented on #4254
I am sorry wrong bug, this can stay closed. I do see this issue but hardly ever anymore

[2022-02-10 16:19] loujaybee commented on #5889
Issue will likely be completed within VS Code GA: https://github.com/gitpod-io/gitpod/issues/7184

[2022-02-10 16:51] jimmybrancaccio opened #8137 "Improve Experience When Deleting a Workspace Where a Workspace Pod Doesn't Exist"
### Bug description

This stems from an issue reported by [a user in Discord](https://discord.com/channels/816244985187008514/879915120510267412/940663941573533706).

They had run out of disk space which caused building new images (for new workspaces) to fail. An entry for the workspace was created in MySQL, however the pod itself for the workspace was never created (because of the disk space issu

[2022-02-10 17:19] jonathan-wondereur opened #8138 "Timeout Limit Increase /w Mutiple GitPod Instances"
## Is your feature request related to a problem? Please describe
I am frustrated that I can not extend the workspace timeout on two projects at the same time. I work on one project that has two GitPod instances, one for the front end and one for the backend. When I toggle on the extended timeout for one project it disables it for the other. This can be quite frustrating, especially if I am doing a

[2022-02-10 18:24] sagor999 opened #8142 "[workspace cluster] allow arbitraty admission constraints"
## Is your feature request related to a problem? Please describe

Currently cluster constraints seem to be hard coded here:
https://github.com/gitpod-io/gitpod/blob/6b87feda1f34fa575cc49518e31e38fa0cee731f/components/ws-manager-bridge/src/cluster-service-server.ts#L307
This makes it difficult to test and add cluster level features easily.

## Describe the behaviour you'd like

For example, I would

[2022-02-10 18:45] sagor999 commented on #8104
https://github.com/gitpod-io/ops/blob/ff7e87b7a7ced2425cd9110160270369be003ee5/deploy/workspace/cluster-up.sh#L263
It doesn't seem like we are actually using local-ssd drives at all. We are attaching two pd-balanced disks to the node.
We do create them with `auto-delete=yes` probably so that we don't need to worry about cleaning them up afterward, but that had a side effect that when node is delet

[2022-02-10 19:36] kylos101 commented on #7969
Hey @princerachit as a heads up, [this PR may help solve this issue](https://github.com/gitpod-io/gitpod/pull/8139).

[2022-02-10 20:03] sagor999 commented on #8104
So tl;dr of sorts:
Currently we are using two pd-balanced disks in raid 0 that we use for workspace storage, both disks are set with `auto-delete=true`. Some problems with existing approach:
1. If node dies, disks get deleted and data lost. (we can improve this by setting auto-delete to false and then have a reaper process that can delete disks that have been properly backed up).
2. All workspaces

[2022-02-10 20:37] jefer94 opened #8145 "The terminal looks weird sometime"
### Bug description

In some time I open a gitpod and the terminal look weird
![image](https://user-images.githubusercontent.com/3018142/153492255-41d34d47-9a80-4f84-ba59-ff3876fbb08a.png)

### Steps to reproduce

I don't know

### Workspace affected

jefer94-apiv2-l5rbzma219o.ws-us31

### Expected behavior

The terminal look normal

### Example repository

https://github.com/jefer94/apiv2/tree/de

[2022-02-10 20:43] jefer94 commented on #8145
![image](https://user-images.githubusercontent.com/3018142/153493176-9ae44548-02e4-4326-b0a6-cce59fcd9ec1.png)

[2022-02-10 21:01] kylos101 commented on #8104
Thank you for the tl;dr @sagor999 ! :rocket:

Does Google have any way for us to get priority and reduce this time, like reserving a certain amount of disks or paying for the storage ahead of time?

Regarding the initial questions:

In hindsight, we know we can do this, I did this with Mo a while back on a separate incident.

It would be good to your thoughts on the design for how `/workspace` bac

[2022-02-10 21:37] jldec commented on #7482
pushing for a fix for this also in #8076 since there are issues working directly with private repos on orgs.

[2022-02-10 21:40] jldec commented on #7613
Removing from groundwork for now.

[2022-02-10 21:42] jldec commented on #8133
Moved to investigating/visual-design

[2022-02-10 22:47] sagor999 commented on #8104
on GCP it seems like limit is 128 disks per VM:
https://cloud.google.com/compute/docs/disks/#pdnumberlimits

[2022-02-10 23:53] oktayacikalin commented on #5014
Same here in elementary OS 6.1.

[2022-02-11 08:10] geropl commented on #8096
I think we should focus on unifying our DBs into one, so we don't need to expose app cluster identity to users. Especially given how long this has been in prod, and how resource constraint we as a team are (/cc @JanKoehnlein ).

As a bandaid, we could extend this timeout to 20s, which should in all but very rare cases plenty of time to include the db-sync roundtrip.

[2022-02-11 08:12] geropl commented on #8050
@akosyakov This would also include storing info about the IDE in `WorkspaceInstance`, right? AFAIK we only store docker image digests so far.

[2022-02-11 08:21] AjXUthaya commented on #8018
Rewriting from SSH to HTTPS URL is a solution but it means that other developers not using GItPod have to update this back just so they can work locally, i think adding adding SSH support for git is a more long term solution that would make it so using GItPod causes less friction with other developer not using it.

[2022-02-11 08:52] akosyakov commented on #8050
I have not looked at the code honestly. It is just bound to a user then you can check user settings. If it is bound to a workspace on the startup it should be possible to figure out what will be injected, if it is bound to already created workspace instance then yes we need this information then.

[2022-02-11 08:57] svenefftinge commented on #8050
In case it turns out to be hard to pass the information down the inferred, we can generally disable the extension inference for now.

[2022-02-11 09:58] axonasif commented on #8145
Could be, it's either his browser config or `terminal.integrated.gpuAcceleration`

[2022-02-11 10:46] akosyakov opened #8151 "[jetbrains] gp open cannot open a file outside the project"
### Bug description

Try gp open /ide-desktop/backend/plugins/remote-dev-server/bin/launcher.sh

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-11 11:23] AlexTugarev commented on #8128
@konne, given that we'll fix the selection of a user account to fetch repo installation with, I would like to understand that point of yours. If a project belongs to a team, any team member's token with necessary permissions should be good to use for prebuilds. That should solve problems with rate limitation and improve reliability.

[2022-02-11 12:38] arianvp opened #8153 "Ipv6 connectivity inside gitpod workspace"
## Is your feature request related to a problem? Please describe
My kubernetes cluster is only reachable over ipv6. I want to deploy my app from gitpod to kubernetes but unfortunately the workspace only gives me an IPv4 address and no ipv6 addres.
[code]

## Describe the behaviour you'd like
I'd like to have ipv6 connectivity inside my gitpod workspace. Bonus points if gitpod.io is also reachable

[2022-02-11 12:49] #8050 closed

[2022-02-11 13:20] geropl opened #8154 "[ws-manager] Remove trailing "Please contact support..." from error messages"
This is a dashboard/UI concern, and should not be part of the error message.

Source: https://github.com/gitpod-io/gitpod/blob/6509092ad43c0253e541b05882cab1a033da3cec/components/ws-manager/pkg/manager/status.go#L377-L378

Context: https://github.com/gitpod-io/gitpod/pull/8125#pullrequestreview-880089702

[2022-02-11 13:27] geropl opened #8155 "[dashboard] Unify workspace (instance) visuals across dashboard"
At the moment we copy'n'paste code for displaying a workspace (instance) and their state in various places, leading[ to incosistencies](https://github.com/gitpod-io/gitpod/pull/8125#pullrequestreview-880089702).

We already have code in place for the [status indicator](https://github.com/gitpod-io/gitpod/blob/5ff578ed67e45f62932c6ac148324f015b9104ae/components/dashboard/src/workspaces/WorkspaceEnt

[2022-02-11 14:24] csweichel opened #8156 "[content-initializer] Composite content initializer shadows errors"
### Bug description

When we use a composite content initializer (e.g. when server produced a `.gitpod.yml`) that shadows the errors produced by other content initializer, e.g. git. This in turn leads to hard-to-debug content init failures.

### Steps to reproduce

Open a repo for an installation we cannot clone from (yet parse the context), which does not contain a .gitpod.yml.

### Workspace aff

[2022-02-11 14:25] geropl commented on #8155
@gtsiolis You were _seconds_ faster! :laughing:

But we should really have a bot for this... :confused:

[2022-02-11 14:27] csweichel opened #8157 "[ws-daemon] Log InitWorkspace request, not just in trace"
## Is your feature request related to a problem? Please describe
Today ws-daemon logs the redacted `InitWorkspaceRequest` to the distributed trace, but not logs. This makes Gitpod hard to debug when there's no tracing available.

## Describe the behaviour you'd like
We should log the redacted request to the logs.

[2022-02-11 14:44] axonasif commented on #8155
Do you mean a bot for adding labels and such 👀 ?

[2022-02-11 14:44] gtsiolis commented on #8155
@geropl I agree, [`gitbot`](https://github.com/gitpod-io/gitbot) has great potential in helping in such triage operations. Usually, inferring team labels from component labels sounds optimal.

[2022-02-11 15:45] geropl commented on #7082
Dropping assignment, as I'm not actively working on this.

[2022-02-11 15:54] corneliusludmann commented on #8091
Somehow related:
- https://github.com/gitpod-io/gitpod/issues/6900
- https://github.com/gitpod-io/gitpod/issues/6645

[2022-02-11 16:49] #8128 closed

[2022-02-11 17:17] csweichel opened #8162 "Empty .gitpod.yml files produce an error"
### Bug description

When a repo carries an empty `.gitpod.yml` file, that repo won't open anymore because the validation fails:

<img width="347" alt="image" src="https://user-images.githubusercontent.com/3210701/153637783-662147b6-a47a-4c32-8359-23027cd82291.png">

### Steps to reproduce

Open https://gitpod.io/#https://github.com/csweichel/test-repo/blob/empty-gitpod-yml/

### Workspace affecte

[2022-02-11 17:39] konne commented on #8128
@AlexTugarev for example in enterprise usage of GitLab I know companies that check the usage of API tokens also per IP.
If the system just selects a random one it can be that this generates a false positive alarm.
I don't see you current in general as a problem it will work in 99,999% of customers. I just wanted to highlight that sometime admins want to have better control.

[2022-02-11 20:27] omenking commented on #2459
I'm starting to record my free KCNA course and I was hoping to use Gitpod to show how to use Kubernetes.

I cannot run KIND on Gitpod because of this CGroups error:

<img width="972" alt="Screen Shot 2022-02-11 at 3 23 29 PM" src="https://user-images.githubusercontent.com/7776/153665307-d17946df-b743-465b-a2a3-67698e61c726.png">

[2022-02-11 21:21] #8154 closed

[2022-02-11 22:41] davemecha opened #8165 "Enable billing emails again with attached invoice for accounting automation"
## Is your feature request related to a problem? Please describe

Since January 2022 you discontinued sending billing emails with the invoice attached. (In discord you mentioned this change is to reduce "spam".)

Due to this change I cannot automate my accounting for Gitpod any more. E.g. forwarding the email to my accounting tool (like kontist.com or papierkram.de) or triggering cloud functions t

[2022-02-11 22:56] sagor999 commented on #7830
@blockchainlover2019 @pyr0gan can you try again and let me know if connectivity is now restored for you?

[2022-02-12 00:19] sagor999 opened #8169 "[core-dev] registry facade in crash loop due to namespace name being too long"
### Bug description

https://github.com/gitpod-io/gitpod/blob/8f370dc4c3da2df09c357679c5471be08799fa74/chart/templates/registry-facade-daemonset.yaml#L84

[code]

KUBE_NAMESPACE env variable has to be trimmed to make sure that resulting label name is not longer than 63 characters

### Steps to reproduce

Open the workspace from an issue with a very long name.
Observe that registry facade is in cra

[2022-02-12 00:42] DentonGentry commented on #8049
I doubt the fix for https://github.com/tailscale/tailscale/issues/3531 will be applicable here, that one is very specific to systemd-resolved which I don't think gitpod uses.

A couple things would be useful:
- during a time when MagicDNS isn't working, please run "tailscale bugreport" from a shell and send the output to support@tailscale.com. That gives us a point in telemetry to look at.
- what

[2022-02-12 03:05] sagor999 commented on #7754
So if backup is missing, then over here we will return an error, since we cannot download anything:
https://github.com/gitpod-io/gitpod/blob/7216e78f9437ceed4d3e9e57a0318fd66a1fe125/components/content-service/pkg/initializer/initializer.go#L425
This causes workspace to fail to init:
https://github.com/gitpod-io/gitpod/blob/a2c08bc8dcd6560470e519e6fe4dc92808a4671b/components/content-service/pkg/exe

[2022-02-12 03:17] sagor999 commented on #2459
@kylos101 @atduarte  I realized that we don't have an epic that would track all work required to add cgroup v2 support. So we should probably add that.

[2022-02-12 03:43] mikenikles commented on #8092
I don't even see the "Gitpod" extension in the output dropdown. When I click "Gitpod: Open in VS Code Insiders" in my running workspace, the local VS Code Insiders starts, asks me if I want to allow an extension to open a URI and when I accept that, nothing happens.

[2022-02-12 04:31] shaal commented on #8092
I see what @mikenikles screen recording show.
When I try again, I get a little further, where it make an initial connection with the local vscode, and I choose `continue`, but then getting an error that connection cannot be established.
![image](https://user-images.githubusercontent.com/22901/153696554-45138639-c88a-4ff2-bd3c-9d27bab0b11e.png)

[code]

[2022-02-12 05:13] shaal commented on #8092
I tried this also with local regular VSCode (not the `insiders` version) - it worked!
The failure I had in the previous comment, is with `insiders` version of VS Code.

[2022-02-12 05:22] MaikoTan opened #8171 "Gitpod button showing inside the security vulnerability alert in GitHub"
### Bug description

When the owner enabled "Dependabot alert" on Github, and open a repository that contains potential security vulnerabilities, the "Gitpod" button would be added to that alert notification instead of the right side behind other buttons.

See the screenshot:
![image](https://user-images.githubusercontent.com/19927330/153696551-94c0ed7f-3b98-4c7d-96a7-5094f9a648b2.png)

This notif

[2022-02-12 08:19] #6402 closed

[2022-02-12 08:19] #6191 closed

[2022-02-12 08:19] #6471 closed

[2022-02-12 08:19] #6474 closed

[2022-02-12 08:19] #6478 closed

[2022-02-12 08:19] #5996 closed

[2022-02-12 08:19] #5911 closed

[2022-02-12 09:25] axonasif opened #8172 "Error: cannot start a workspace because no workspace clusters are available"
### Bug description

This issue seems to be quite frequent, the error message `Error: cannot start a workspace because no workspace clusters are available` is probably seen after being stuck in `Allocating Resources` for a while.

Users who reported to be facing this issue:

- @shaal [on Discord](https://discord.com/channels/816244985187008514/816246578594840586/939715845934968864), workspace-id:

[2022-02-12 09:25] axonasif opened #8173 "Error: cannot start a workspace because no workspace clusters are available"
### Bug description

This issue seems to be quite frequent, the error message `Error: cannot start a workspace because no workspace clusters are available` is probably seen after being stuck in `Allocating Resources` for a while.

Users who reported to be facing this issue:

- @shaal [on Discord](https://discord.com/channels/816244985187008514/816246578594840586/939715845934968864), workspace-id:

[2022-02-12 11:44] filiptronicek opened #8174 "GitLab commit tree URL parsing issue"
### Bug description

If you want to check the file structure of a commit, you are probably opening it with Gitpod in 2 different ways:
1. From the commit page ([GitHub example](https://github.com/gitpod-io/website/commit/bf46bb2803f647b774f6ac5cde702279279358c4), [GitLab example](https://gitlab.com/gitpod-mirrors/website/-/commit/bf46bb2803f647b774f6ac5cde702279279358c4))
2. From the file tree of

[2022-02-12 15:21] sagor999 commented on #8172
duplicate of #8173

[2022-02-12 15:21] #8172 closed

[2022-02-12 16:31] akosyakov commented on #7025
@abkunal Sorry for the late reply. I checked and these settings are stored as part of system config folder, so checking in of .idea folder is not enough. Could you try to follow https://www.jetbrains.com/help/idea/sharing-your-ide-settings.html to enable Settings Sync with JB account?

[2022-02-12 17:30] jefer94 commented on #8145
Many of this configs help to resolve the problem, but this still being a bad behavior of console

[2022-02-12 18:20] kylos101 commented on #8173
Hey @axonasif thank you! Each of these instances lines up very close to occurrences of high event loop lag with our Server component. I wonder if there is a correlation. For example, when the Server event loop lag is high, it is possible there is trouble routing the user to a workspace clsuter.

I am going to include our WebApp team, so that they can help investigate. @JanKoehnlein and @jldec for

[2022-02-12 20:30] johnnyfleet commented on #8049
Hi there @DentonGentry - I've just tried again using the steps I outlined in the issue summary.

I've emailed the bug report to the support email.

RE: The contents of /etc/resolv.conf:

[code]

[2022-02-12 21:25] DentonGentry commented on #8049
I started a gitpod from https://gitpod.io/#https://github.com/gitpod-io/template-tailscale and see similar behavior, the /etc/resolv.conf file contains:
[code]

The tailnet configuration has a Split DNS domain configured, which the basic Linux /etc/resolv.conf cannot express, so it should contain:
[code]
and have tailscaled functioning as a recursive proxy.

In the tailscaled tab I see an error: `

[2022-02-13 03:24] mikenikles commented on #8173
This has been happening again for the last 60 minutes.

[2022-02-13 06:02] akosyakov opened #8177 "[jetbrains] gracefully handle plugin installation"
In order to install some plugins JB backend has to be restarted. In this case the thin client opened by gitpod gateway-link get closed and does not reopen without going again through the browser loading screen. We should instead reopen the thin client in such cases.

[2022-02-13 12:45] ajhalili2006 opened #8178 "local-app: Handle access token storage if keyring isn't running on enviroments such as WSL"
## Is your feature request related to a problem? Please describe

One of the painpoints of running the Local Companion in server environments where there's no GUI installed by default or in case of WSL, the distro's init system of choice isn't ran as PID 1 so we need to use the good old `/etc/init.d` scripts.

[code]

## Describe the behaviour you'd like

Possibly store the access token generated

[2022-02-13 19:43] jeanp413 commented on #7443
I think this got fixed in https://github.com/microsoft/vscode/commit/e3dcaa1fdac18c1aeb965527ff3a9d553c5890cb, @mustard-mh we can check in our meeting on Monday

[2022-02-13 23:07] kylos101 commented on #8173
Thanks, @mikenikles, [that lines up with another occurrence of server event loop lag](https://gitpod.slack.com/archives/C01TNS8EVQT/p1644722849010879?thread_ts=1644722525.383919&cid=C01TNS8EVQT).

I've added this to the WebApp inbox, and am certain @JanKoehnlein and @jldec will consider for scheduling & triage. If you notice this behavior again, and there's no alert, I recommend `/pd trigger` with

[2022-02-13 23:38] kylos101 commented on #7485
Yes, I think that makes sense.

I believe it is destructive, but the high garbage collection was too. I wouldn't advocate for restarting ws-daemon (if we think the workspaces are healthy and running) without running a test to confirm impact to running workspaces (like in core-dev or workspace-preview).

Also, if we did have to act on this runbook, we'd have to restore user data, too (assuming we s

[2022-02-14 00:03] kylos101 commented on #7754
@sagor999 I just added this to the WebApp Team project/inbox, this way it will be visible along with other issues, and can be prioritized accordingly. :+1: Also, I like the idea you shared, about asking the user how they would like to proceed - that is a better experience than just landing on the error itself.

[2022-02-14 00:37] jimmybrancaccio commented on #6656
@stale No.

[2022-02-14 03:26] mustard-mh commented on #7443
Yes, also find it out, the default value of xterm.js is `cols=2` `rows=1`

[2022-02-14 03:34] mustard-mh commented on #7443
( If you pass cols=0 and rows=0

[2022-02-14 04:00] dkp1903 opened #8183 "Switching branches via version control throws untracked files error because of `.gitpod.yml`"
### Bug description

`.gitpod.yml` is tracked by Git by default, and therefore, when I try to switch branches using the version control tab to a branch that doesn't have the file, it throws an error asking me to remove my 'changes', when I didn't even make an actual change - it's the `.gitpod.yml` file that's come in, and most users might not be able to place it

### Steps to reproduce

I open a w

[2022-02-14 07:16] akosyakov commented on #6740
System config and cache directories were moved under `/workspace` folder as a part of https://github.com/gitpod-io/gitpod/pull/8158.

We need to add ability to include JB backend into prebuilds. There following things to consider:
- indexes created by one backend is mostly not reusable by created by another backend, so there should be a way to configure for which backend indexes should be created

[2022-02-14 07:18] akosyakov commented on #6508
It turned out that required plugins are not installed, but rather IDE complain if they are missing:
<img width="655" alt="Screenshot 2022-02-13 at 07 23 11" src="https://user-images.githubusercontent.com/3082655/153817355-18ebbdda-5813-4d2e-9891-23befd3bb79a.png">

[2022-02-14 07:37] jldec commented on #1965
OAuth2 for Bitbucket Server and Datacenter was announced with v7.20
https://confluence.atlassian.com/bitbucketserver/bitbucket-data-center-and-server-7-20-release-notes-1101934428.html

Tracking basic Gitpod support in https://github.com/gitpod-io/gitpod/issues/7957

[2022-02-14 07:44] svenefftinge commented on #6740
It should be in `.gitpod.yml` if we create a dependency from the init task.
Would it as an intermediate solution be ok to simply download the binaries (in docker or init task) instead of configuring the IDE on project level?

[2022-02-14 08:03] princerachit opened #8184 "Custom, per-user, default workspace image"
## Is your feature request related to a problem? Please describe

Gitpod uses workspace-full image as the default workspace images for repos which do not have .gitpod.yml file. I want to configure the default workspace image for all such repos at a central place.

## Describe the behaviour you'd like

Given the user wants to configure the default workspace images for all their workspace without a

[2022-02-14 08:43] JanKoehnlein commented on #5577
PaySafeCard is not suppoted by any of our payment providers/gateways (Stripe, Chargebee), so it is clearly out of reach ATM.

PayPal is, but requires some more investigation what that would mean for our backoffice. This is unlikely going to happen in Q1 2022.

[2022-02-14 08:54] princerachit commented on #7318
Which component should trigger the shutdown? Can we inject some code in the workspace it self to shutdown or do you propose to do this via ws-daemon or ws-manager?

[2022-02-14 09:45] pawlean commented on #8171
I wasn't entirely sure where this would live, my gut was to the WebApp team but please let me know if it's another one! cc @jldec

[2022-02-14 09:48] loujaybee commented on #5412
Removing from current inbox for now.

[2022-02-14 09:51] loujaybee commented on #6392
@imskr - Sure, if you want to provide some details here of what you plan, we can try to collaborate before you spend invest too much time in a PR. 🙏 Also linking related roadmap item: https://github.com/gitpod-io/gitpod/issues/7537

[2022-02-14 09:56] loujaybee commented on #462
https://github.com/gitpod-io/gitpod/issues/7193 - Relates to the roadmap item to improve command line experience.

https://github.com/gitpod-io/gitpod/issues/8104 - I wonder if persistent workspace volumes would also overlap here.

[2022-02-14 10:05] csweichel opened #8186 "Speed up image pulls using IPFS"
## Is your feature request related to a problem? Please describe
Today we pull all images from a central registry. While this is the standard way, it can become a performance bottleneck when starting many different, possibly large images. We already optimise for layer re-use, yet image pull remains one of most time-consuming tasks during workspace startup.

One way we could try and improve the sit

[2022-02-14 10:08] loujaybee commented on #8145
Moving to scheduled to assess if the bug is in Gitpod, or an upstream issue (as before).

[2022-02-14 10:09] loujaybee commented on #5014
Moving to scheduled to investigate. 🙏

[2022-02-14 10:12] loujaybee commented on #7397
Moving to scheduled for investigation. @filiptronicek could you check if this is still an issue? 🙏

[2022-02-14 10:24] loujaybee commented on #6794
Thanks for raising @zpthree, we definitely can see where you're coming. Whilst there would be some interactions with IDE, this feels like something that's implemented more on workspace / web app level. CC: @jldec

[2022-02-14 10:25] #7485 closed

[2022-02-14 10:29] loujaybee commented on #7410
We should also consider in future about whether this feature allows the user to switch overall IDE, or just the version.

Removing from inbox for now 🙏

[2022-02-14 10:33] loujaybee commented on #8178
Thanks for raising, @ajhalili2006. Since local companion app is still beta, we'll be taking a look into this as part of the move of local companion to GA. Thanks! 🙏

Also related roadmap item: https://github.com/gitpod-io/gitpod/issues/7185

[2022-02-14 10:37] loujaybee commented on #7662
Thanks @gtsiolis ! For sure does look like a small fix, let's see if we can get it updated soon! 🙏

[2022-02-14 10:40] loujaybee commented on #7861
Thanks for raising @mustard-mh ! 🙏

We should look at this when we review Gitpod ipad support: https://github.com/gitpod-io/gitpod/issues/7720

[2022-02-14 10:44] loujaybee commented on #6447
Linking related roadmap item: https://github.com/gitpod-io/gitpod/issues/7720

[2022-02-14 10:47] loujaybee commented on #605
Linking to existing roadmap item: https://github.com/gitpod-io/gitpod/issues/605

[2022-02-14 10:54] gtsiolis commented on #8154
Thanks @geropl for opening this and @sagor999 for picking this up! 🏀

[2022-02-14 11:08] loujaybee commented on #4924
@shaal - Marked as never-stale 🙏

[2022-02-14 11:18] #7246 closed

[2022-02-14 11:18] loujaybee commented on #7246
In progress with usability.

[2022-02-14 11:25] shaal commented on #4924
Thank you @loujaybee

[2022-02-14 11:37] csweichel commented on #8173
We will want to add counter vec metric which counts how many workspaces we route to a cluster, and how often we fail to find a cluster. Alerting on the latter would be sensible.

[2022-02-14 11:49] gtsiolis commented on #8133
Thanks for opening this, @krystofex! This is related to the responsive layout of the dashboard in general, see also https://github.com/gitpod-io/gitpod/issues/4050.

Thanks for the ping @pawlean! 🏓

[2022-02-14 12:11] gtsiolis commented on #8133
Regarding settings layout specifically, let me cross-post below an early design from a [relevant discussion](https://gitpod.slack.com/archives/C01KGM9BUNS/p1625656466130800?thread_ts=1625644808.128800&cid=C01KGM9BUNS) (internal).

Cross-posting also a [relevant doc](https://www.notion.so/gitpod/Mobile-friendly-Gitpod-a383083509754d77a355d769dd699975#3ce5bf63a4ae418981af58b23daa9717) (internal) fro

[2022-02-14 12:23] csweichel commented on #7754
Core issue: as @sagor999 pointed out, we're not actually checking if there's a backup available but just assume that because there's a prior workspace instance there must be a backup.

I see two ways to replace this assumption:
1. as part of the workspace startup we could ask content service if the workspace has a backup. We'd add a corresponding function to the [`ContentService`](https://github.c

[2022-02-14 12:39] jonathan-wondereur opened #8190 "VS Code Desktop Timeout Too Quickly"
### Bug description

Often when I am trying to connect VS Code desktop I get a timeout error with the connection before I get the prompt to accept the fingerprint of the server.

(Note the overlay that prevents me from selecting continue shows up before the notice of the fingerprint).

![image](https://user-images.githubusercontent.com/38539725/153865565-182b5f43-f867-41f3-b9b3-da0946b620af.png)

[2022-02-14 12:47] akosyakov opened #8191 "[code] fix gp cli while running next to jb product"
Since https://github.com/gitpod-io/gitpod/pull/8025 gp open/preview always exepct JB product if it is enabled, so they break in VS Code Web. We should redesign it by relying on notification service on supervisor instead of env vars.

[2022-02-14 12:50] akosyakov opened #8192 "[jetbrains] extend IDE backend label"
Instead we should show there Gitpod logo and workspace id. In the dropdown menu we can add common actions, see https://github.com/gitpod-io/gitpod/issues/8024

We should override com.jetbrains.rdserver.unattendedHost.customization.GatewayClientCustomization for it. It is also possible to add actions to the dropdown menu by adding your actions to the UnattendedHostDropdownGroup action group.

[2022-02-14 12:58] jankeromnes commented on #8133
Awesome, many thanks for getting the ball rolling and offering to help here @krystofex! ♥️🚀📱

And thanks @gtsiolis for re-surfacing the initial designs!

I like many of their aspects.
- For the top-right menu, I guess `Admin`, `Docs` and `Help` could indeed get folded into the Avatar drop-down menu
- For the Settings menu (and other similar sub-menus), I'm not a big fan of the big drop-down select

[2022-02-14 13:03] geropl opened #8193 "[preview environment] Support combination of: with-observability + installer"
Currently we have to use the helm chart in preview environments if we want to tests sth wrt observability.

As we're moving closer to installer being our only install option, we should support the combination `with-observability` + installer in our deploy scripts as well.

[2022-02-14 13:30] Furisto commented on #8020
Solved by #8181

[2022-02-14 13:30] #8020 closed

[2022-02-14 13:51] geropl opened #8194 "[observability] node-exporter insufficient capabilities"
I see this error when deploying with-observability: https://werft.gitpod-dev.com/job/gitpod-build-gpl-tracing-disable-errors.7#deploy:deploy
[code]
`kubectl describe ds node-exporter` shows:
[code]
The PSP is there, but not namespaced (so overriden/re-used by every monitoring-satellite installation) and has
[code]
configured.

[2022-02-14 14:06] ArthurSens commented on #8194
I believe this is an issue from upstream. We're making kube-prometheus adopt security best practices, like [dropping unnecessary capabilities](https://github.com/prometheus-operator/kube-prometheus/pull/1610), but looks like we forgot to update the [pod-security policies](https://github.com/prometheus-operator/kube-prometheus/blob/main/jsonnet/kube-prometheus/addons/podsecuritypolicies.libsonnet)

[2022-02-14 14:15] kylos101 commented on #8020
@corneliusludmann @metcalfc hey there, now that this issue is solved, Gitpod's `docker in workspace` feature should work with fuse overlay (I recall some customers cannot use shiftfs, and must use fuse). I'm not sure if this warrants creating yet another version of the installer, but, wanted to give you both a heads up for consideration.

CC: @MrSimonEmms

[2022-02-14 14:20] kylos101 commented on #8020
Thank you so much @Furisto and @utam0k, for methodically working this issue, documenting your findings, and ultimately bringing it to a resolution. Your depth of knowledge is impressive, and your passion and drive are both admirable and visible in everything that you do. Well done!

[2022-02-14 14:26] MrSimonEmms commented on #8020
@kylos101 I would favour this going out in the February release rather than putting it out as a separate hotfix release

[2022-02-14 14:46] wulfthimm commented on #8194
Here is the PR that should fix the problem. https://github.com/prometheus-operator/kube-prometheus/pull/1642

[2022-02-14 15:07] filiptronicek commented on #7397
Hi there @hm2075 👋! Could you please provide a bit more detailed reproduction steps? You mentioned this not working in self hosted, have you tried using [gitpod.io](https://gitpod.io/)?

I tried to reproduce the issue, but I am not sure how to exactly check whether the extension is working, since I couldn't find any logs from the extension after just installing it (although I needed to install dot

[2022-02-14 15:14] ArthurSens commented on #8194
Confirmed that it is running!
![image](https://user-images.githubusercontent.com/24193764/153890887-20bcf872-ad11-4997-8b7e-c0a5ba709b5d.png)

[2022-02-14 15:14] #8194 closed

[2022-02-14 15:16] #8156 closed

[2022-02-14 15:41] geropl opened #8195 "[prebuild] Not starting workspace once the prebuild is done"
Instead, user is left handing with prebuild log, reading "exit" at the end. Reload starts the workspace properly.

Screenshot:
![image](https://user-images.githubusercontent.com/32448529/154690797-4b21f4c4-a4a3-448e-a5fe-292ca169d003.png)

Idea: Might be triggered by us [fixing the status updates recently](https://github.com/gitpod-io/gitpod/pull/7968).

/cc @jldec not the issue I had in mind duri

[2022-02-14 15:52] axonasif commented on #7969
Another report today: https://app.frontapp.com/open/cnv_iruiv9m

[2022-02-14 16:01] geropl opened #8197 "[dashboard, (server?)] Inconsistent derivation of prebuild status"
This leads to inconsistencies in our UI (prebuild says "FAILED", but re-triggering yields "cannot start - still running") and strange errors ([hanging on prebuild logs](https://github.com/gitpod-io/gitpod/issues/8195)).

Examples where we're interested in the state/properties of a prebuild, but use different sources:
 - [PrebuildLogs](https://github.com/gitpod-io/gitpod/blob/945a8080cc8b5be4a83e89

[2022-02-14 16:02] geropl commented on #8197
/cc @jldec I tried to dig up all places in the code I could think off. Might still be incomplete.

[2022-02-14 16:03] adg25 opened #8198 "Opening old workspaces stuck on pulling container image"
### Bug description

Recently (last 2 weeks, maybe more) members of my team have not been able to open previously closed workspaces. Opening new pods with the gitlab browser extension works just fine, but re-opening pods gets stuck on the "Pulling container image" step. I don't think there's anything out of the ordinary with our setup, we have a .gitpod.yml which specifies pulling the latest image

[2022-02-14 16:52] #7399 closed

[2022-02-14 17:33] Furisto opened #8200 "Allow customization of the workspace with user specific tools"
## Is your feature request related to a problem? Please describe
As a developer I have a bunch of favorite tools that I would like to be available in every one of my workspaces but these tools are not necessarily relevant for every developer working on the project so I would not want to add them to the docker image for the project. As an example, I might prefer using ripgrep instead of grep or bat

[2022-02-14 18:33] sagor999 opened #8202 "Research a possibility of using pd disks with auto-delete=false to prevent loss of backups"
Currently we are attaching gcp disks to the VM directly, and those disks are created using `auto-delete=true`.
Whenever node is experiencing health issues and gets deleted, those disks are deleted as well, causing loss of user data.
As part of RFC: https://www.notion.so/gitpod/Ensure-durability-and-availability-of-user-workspace-files-9edff6bbf87248d5ac73a7d4548ee4b3 this github issue would explor

[2022-02-14 18:35] sagor999 commented on #8104
Closing this issue, as PVC approach is out of scope for now. Will concentrate on approach described in #8202

[2022-02-14 18:35] #8104 closed

[2022-02-14 18:50] felladrin commented on #6525
I started looking into it today and will leave here some notes as reminders for later:

On [jetbrains/backend-plugin](https://github.com/gitpod-io/gitpod/tree/8bdd0ca581eea5fd361c40b562cdc2eb345005fe/components/ide/jetbrains/backend-plugin), we should mimic what we're doing on [openvscode-server's registerTask method](https://github.com/gitpod-io/openvscode-server/blob/6ee8dc4c04033fa549b2a2ce5634

[2022-02-14 19:36] mads-hartmann commented on #8193
Scheduled this as we're going to be Installer-only in our VM environments, so might as well get this fixed now :)

[2022-02-14 20:10] mads-hartmann commented on #8193
Once this is fixed we should update [Sending traces to Honeycomb from preview environments](https://www.notion.so/gitpod/Sending-traces-to-Honeycomb-from-preview-environments-ab5c18cd588242cca9105e3e40c4c1e8)

[2022-02-14 21:34] mickmister opened #8203 "Feature Request: Create a Gitpod landing page for a project"
## Describe the behaviour you'd like

I'd like to be able to greet new developers to the project with a message, documentation, or instructions when they open the project in Gitpod. This would be similar to the "Get Started" page that vscode shows when you first open it. Maybe this is already possible with Gitpod?

I think it would be sufficient to render the project's `CONTRIBUTING.md` file if it

[2022-02-14 21:41] gtsiolis commented on #8203
@mickmister have you tried using `gp open`[[1](https://www.gitpod.io/docs/command-line-interface#open)] or `gp preview`[[2](https://www.gitpod.io/docs/command-line-interface#preview)]?

[2022-02-14 22:35] dragonDScript commented on #5577
Consider PaySafeCard tho. It would allow hobby developers to pay for gitpod without providing their banking details or a paypal account.

[2022-02-15 00:38] sagor999 opened #8205 "New controller: node-backup-watcher"
## Is your feature request related to a problem? Please describe
This is required by this: #8202
When node goes away, we need to make sure that all backups were completed on that disk.

## Describe the behaviour you'd like

This controller would use gcloud to list all disks in the project and would filter them by the label of the cluster.
Once it finds a disk that is no longer attached to the VM,

[2022-02-15 00:46] sagor999 commented on #8202
So we can mount existing disk as PVC into the cluster.
Here is the plan, broken up into several issues:
1. In workspace preview env, add support for adding a new VM to the cluster (to simulate scale up): https://github.com/gitpod-io/workspace-preview/issues/12
2. In workspace preview env, add support for installing GCP CSI driver (for PVC support from disk): https://github.com/gitpod-io/workspace-

[2022-02-15 01:00] smacintyre opened #8206 "Port XXXX Not Found -- The constant need to clear gitpod cookies"
### Bug description

The past couple months my team has been seeing constant "Port XXXX Not Found" errors when opening previews in the browser. The application is running and the port is being served; the work around is clearing **all** `gitpod.io` cookies and stored data and reopening the workspace then it will be served.

- The majority of the it works, but this is happening 2-3 per team member

[2022-02-15 01:10] mikenikles opened #8207 "Feedback Issue: Dazzle v2 workspace images"
## Objective

This issue is to track feedback related to the newly built Dazzle v2 workspace images.

See related [roadmap item](https://github.com/gitpod-io/workspace-images/issues/628).

[2022-02-15 04:46] axonasif commented on #8184
Related issue: https://github.com/gitpod-io/gitpod/issues/6275

[2022-02-15 05:07] kylos101 commented on #7830
:wave:  @BlockchainCrazy95 @pyr0gan hi there, just checking in, is it better now?

[2022-02-15 05:54] axonasif opened #8208 "Load zfs kernel module for workspaces"
## Is your feature request related to a problem? Please describe

`zpool` cli is not fully functional without the `zfs` kernel module

## Describe the behaviour you'd like
Have the `zfs` kernel module loaded along other standard modules that we have currently.

## Describe alternatives you've considered

One could run a separate system via `QEMU` but that might not be so ideal.

## Additional cont

[2022-02-15 06:10] smacintyre opened #8209 "Prebuilds failing -- getting Server Error"
### Bug description

Prebuilds not executing. Getting the following message:

[code]

### Steps to reproduce

Execute a prebuild -- see the main branch on the @arctian/nxity repo

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-15 06:17] axonasif commented on #8209
Related #7413

[2022-02-15 07:04] axonasif commented on #8200
Cross-related: https://github.com/gitpod-io/gitpod/issues/8184

[2022-02-15 07:11] axonasif commented on #8198
@adg25 I think it would be helpful for our `workspace-team` if you can share the affected workspace-id too!

[2022-02-15 09:37] pyr0gan commented on #7830
@kylos101 @sagor999 It does appear to be, yes 😄  I was able to deploy a program to Solana devnet as before! Thanks so much 🚀

[2022-02-15 09:41] ghuntley opened #8212 "whitelist github profiles for prof open-source"
# overview

# request

Here is the list of handles ([internal link](https://docs.google.com/spreadsheets/d/1sz2R5jYdvEGYlK4zJ3UC-ttiw5_wXgQorxJ31jDQ9jw/edit?usp=sharing)). Can you please insert them?

# related issues

- https://github.com/gitpod-io/gitpod/issues/6918#issuecomment-993349746.

[2022-02-15 09:47] Yajo commented on #3733
Thanks @rrapstine. I currently use that extension locally because I recently switched to VSCodium. However, it seems forbidden in gitpod:

![imagen](https://user-images.githubusercontent.com/973709/154036262-2397eeac-86f2-48f9-af2d-9d197364f82b.png)

[2022-02-15 09:48] easyCZ opened #8213 "Report broken gitpod.yml in Github status check"
### Bug description

A build triggered from a Github Pull Request which contains an invalid `.gitpod.yml` does not show a (failing) Gitpod status check.

In the image below, there is no Gitpod status check when yaml fails to parse.
<img width="501" alt="Screenshot 2022-02-15 at 09 42 26" src="https://user-images.githubusercontent.com/1419286/154035844-a220401c-fc80-4dba-a259-92e6eebb8815.png">

Cu

[2022-02-15 09:49] ArthurSens commented on #8193
@mads-hartmann you have quite a [big one](https://github.com/gitpod-io/gitpod/issues/8065) refactoring our whole CI pipeline, should we wait for you to get that done? I'm afraid of merge conflicts getting in your way 😬

Happy to help get your PR merged as soon as possible

[2022-02-15 11:08] csweichel opened #8217 "[server] rolesOrPermissions is not iterable"
### Bug description

<img width="476" alt="image" src="https://user-images.githubusercontent.com/3210701/154050015-d4c34197-62d4-45d1-abea-1c3356ca9fbc.png">

### Steps to reproduce

Started a workspace on a fresh dev environment

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-15 11:16] csweichel commented on #8205
Since we're incurring a GCP dependency anyways, maybe we could simplify the process of accessing the disk. There are a lot of things that can fail in steps 2 - 4. For example, we could have the node-backup-watcher run on dedicated nodes and attach the disks directly to those nodes (i.e. outside of Kubernetes).

[2022-02-15 11:24] csweichel commented on #8205
Also, we'll want to tie that process into the workspace status somehow. I.e. ideally we can maintain the same interface towards the application cluster in the regular backup and recovery case.

[2022-02-15 11:36] aledbf commented on #8205
Why not just use of https://github.com/kubernetes-csi/external-snapshotter?
- decouples backup/restore from Gitpod
- improve ws-daemon memory?
- remove object storage from Gitpod (performance?)
- Native cloud snapshot

ws-daemon creates the snapshot object instead of handling the tar/untar and gcs operations, removing one of the sources of state and huge memory utilization.

[2022-02-15 12:23] #7830 closed

[2022-02-15 12:27] jldec commented on #7648
User reports that prebuilds have resumed after removing the additional owner (who did not have repo access).
@jaredp you should be able restore the owner role for that member now that #8128 is fixed.

[2022-02-15 12:27] #7648 closed

[2022-02-15 12:49] #8217 closed

[2022-02-15 12:58] corneliusludmann opened #8221 "[installer] Don't set default workspace template when no workspace template is given"
The installer renders a default workspace template when no workspace template is given. However, the default behavior should be that no workspace template is rendered in this case.

Here is a possible fix: https://github.com/gitpod-io/gitpod/commit/84abaa8c5f900218d9237cbb8eb215ec28977bd6

[2022-02-15 13:02] corneliusludmann opened #8222 "[installer] Add disableDefinitelyGP config value"
For an airgap installation, it is necassary to disable checking the [definitely gp repo](https://github.com/gitpod-io/definitely-gp) for Gitpod configuration.

Here is a possible fix: https://github.com/gitpod-io/gitpod/commit/21cfb0c3231a3823084c60d891263b0d22ec2719

[2022-02-15 13:04] corneliusludmann opened #8223 "[installer] Fix experimental ws-daemon config"
When an experimental config value is given but nov value for cpuLimitConfig is given, the installer fails with a null pointer error.

This should be fix the bug: https://github.com/gitpod-io/gitpod/commit/dc49323850591b6c8b8c433265072b0c8b0bbb90

[2022-02-15 13:10] corneliusludmann opened #8224 "[installer] Make OpenVSX URL configurable"
If users want to use their own OpenVSX instance (e.g. in an airgap installation), they need to configure their own OpenVSX URL.

[2022-02-15 13:11] corneliusludmann commented on #7432
I created 2 dedicated issues for that:
- https://github.com/gitpod-io/gitpod/issues/8222
- #8224

This one is relevant as well:
- https://github.com/gitpod-io/gitpod/issues/8221

[2022-02-15 14:21] jldec commented on #8195
@geropl can you clarify how to to repro this?

What do you have to do, to see a prebuild log (I assume in the dashboard) when you are expecting to start a workspace?

[2022-02-15 14:26] geropl commented on #8195
This happened to me a couple of times last days (1 week) now on the gitpod-io/gitpod repo. I started a workspace, and was show the "Prebuild in progress" view with logs flowing in. I left the tab as this usually takes a couples of minutes.
When I came back the prebuild had clearly finished (noticable because of the last line saying "exit"). Now, because we don't show the actual status of that preb

[2022-02-15 14:52] geropl opened #8226 "[supervisor] Ensure we fetch IDEOptions/desktopIDEConfig on re-start"
So far we set [dekstopIDEConfig](https://github.com/gitpod-io/gitpod/blob/c0bbf911db3a13c23cd7da8a124c17b5046e245c/components/supervisor/frontend/src/index.ts#L119-L123) and [IDEOptions](https://github.com/gitpod-io/gitpod/blob/0fa9200ac83835463267630ab01f79a01a1db5fb/components/dashboard/src/start/StartWorkspace.tsx#L131-L132) onload. With the [recent change away from auto-reload behavior](https:

[2022-02-15 14:59] sagor999 commented on #8205
@aledbf using PVC is expensive and adds about 20 second delay to pod start up due to the time it takes to attach that PVC to the node on which pod is scheduled to run. Plus there would be some additional delay added for how long it takes for gcp to restore snapshot and create a disk out of it (I assume it is fast, but it will probably still add 5+ seconds)

[2022-02-15 15:01] sagor999 commented on #8205
@csweichel Yes, I was thinking of using labels on disk to maintain the state of backup, so that if one of the steps fail, we can easily retry on next run.
Idea of running this on a dedicated node pool is great!

[2022-02-15 15:08] sagor999 commented on #8208
@csweichel any concerns with adding that module? and I assume we have to add it to k3s VM image? Or do we add it in supervisor\ws-daemon? :thinking:

[2022-02-15 15:31] csweichel commented on #8208
I reckon we'd add it in the VM image.
We'd then need to an integration test to make sure we keep the module around

[2022-02-15 17:23] jeromebaum opened #8230 "Support student pricing without having to change the main email on the github account"
I am currently in full-time education. I would like to get access to gitpod's student pricing. Customer support informs me that I can only do this if I change the main email address on my github account to the university email address.

I would rather not reduce the security of my github account by adding an email account that is hosted by someone other than my main email provider. I could elabora

[2022-02-15 17:31] sagor999 commented on #8202
After talking to @csweichel, we decided to drop PVC approach for disk mounting, and instead mount disk directly to a dedicated VM (in a separate node pool) via `gcloud compute instances attach-disk`. This will simplify the overall process, as now we don't need to spawn special pod to handle backups, it all can be done inside the new controller instead.

[2022-02-15 18:20] buggtb commented on #7370
![Screenshot_from_2022-02-14_19-31-41](https://user-images.githubusercontent.com/103544/154124145-cb5d9944-042a-4441-8c06-a304ed75aa75.png)
![Screenshot_from_2022-02-14_19-31-51](https://user-images.githubusercontent.com/103544/154124150-7bde5b4a-e70e-46c1-aef6-3fd28136d14b.png)

I've seen similar to the above, in my case I found it instead of deleting it, but its also not entirely obvious whats g

[2022-02-15 23:41] metcalfc opened #8232 "[self-hosted] Document how to use Gitpod within an http_proxy environment."
This started with openvsx. Folks were trying to figure this out through experimentation. They started by setting `https_proxy` for openvsx-proxy and that allowed searching of extensions. They then set `https_proxy` in the workspace settings in VS Code and that seemed to work.

We should document what the right way is to do this.

[2022-02-16 02:31] kylos101 commented on #7969
@axonasif we're shipping generation 32 "right now" which includes this fix, all new workspaces will start with it in 4 hours time. Thanks for helping organize the community here!!! :hugs:

[2022-02-16 03:33] utam0k commented on #8070
@konne Hi, we have made some improvements in this area(seccomp notify).
https://github.com/gitpod-io/gitpod/pull/8004

Could you tell me if this still happens in an environment where this `ws-eu$(number)` part of the workspace's URL is set to 31 or 32? I tried to run the redis image multiple times in parallel using docker in 31 environments, and it worked without any problems. We are lucky if the

[2022-02-16 07:11] akosyakov commented on #7909
Local companion only works with VS Code Web. For VS Code Desktop we rely on Remote SSH from MS. Please consult: https://code.visualstudio.com/docs/remote/ssh#_forwarding-a-port-creating-ssh-tunnel

[2022-02-16 07:34] akosyakov commented on #6561
@jankeromnes @huweiATgithub Can be closed?

[2022-02-16 07:52] Cahllagerfeld commented on #8030
The Buttons live in the [`dashboard`](https://github.com/gitpod-io/gitpod/blob/30da76375c996109f243491b23e47feefab7217f/components/dashboard/public/button/open-in-gitpod.svg).
Our workflow is converting the svg to png and open PR in the `main`-repo.
Do we need to rebuild the button as `png` or can we just convert it from `svg` to `png` @ChristinFrohne

[2022-02-16 08:14] ChristinFrohne commented on #8030
Isn't it the same button as in the [component library](https://www.figma.com/file/VL0CJpHqcDJVJ4BEkoyRFV/Gitpod-Website-Component-Library?node-id=513%3A527)? If you need a .png file, you can select` .png `in the export settings and set the size to 3x.
<img width="207" alt="Bildschirmfoto 2022-02-16 um 09 12 13" src="https://user-images.githubusercontent.com/46345125/154222789-4d77b00a-21bd-449e-91

[2022-02-16 08:18] kunxin-chor opened #8235 "Stuck at connecting to workspace logs"
### Bug description

1. Begin a new workspace by clicking on the green button [Launch in Gitpod]
2. Displays "connecting to workspace logs"
3. No response

![image](https://user-images.githubusercontent.com/14900791/154223624-3993574b-b526-4cac-87ce-a6acef2ce2df.png)

### Steps to reproduce

1. Begin a new workspace by clicking on the green button [Launch in Gitpod]
2. Displays "connecting to work

[2022-02-16 09:01] geropl commented on #8212
Steps I did:
 - filter out all entries containing `@`
 - prefixed all entries with `github.com/`

Ran them with a query of the form:
[code]

Started with a handful of entries including a test account of mine: worked as expected:
![image](https://user-images.githubusercontent.com/32448529/154230594-ec010c66-4989-4c6c-83bd-fe1da967a0b8.png)