[2022-08-30 08:14] geropl commented on #12499
Ok, thx for the example link. Don't have time to look into it right now, but scheduled it :spiral_notepad:

That might be expected behavior, depending on the case.

[2022-08-30 08:25] #10572 closed

[2022-08-30 09:14] loujaybee commented on #9296
Adding a note here, as @Siddhant-K-code noted that Codespaces has some similar functionality for allowing a user to create a devcontainer configuration file using VS Code command palette actions. Worth factoring in that behaviour and how that functionality works if we move forward with this feature / idea.

[2022-08-30 09:23] lucasvaltl commented on #10649
@Pothulapati I know that you were going to look into this, did you make any progress?

[2022-08-30 09:26] lucasvaltl commented on #11792
Might be solved by https://github.com/gitpod-io/gitpod/pull/12468 (this is merged but [might actually not work](https://gitpod.slack.com/archives/C01KLC56NP7/p1661776420773429))

[2022-08-30 09:30] kapke commented on #11982
I see. Sadly this is way beyond what's easy for the environment I need.
On the other hand, Nix with flakes does the job just fine in my case, I looked at Docker mostly to have the workspace load instantly instead of having to wait couple of minutes for Nix to fetch everything.

[2022-08-30 09:44] Pothulapati commented on #10649
@lucasvaltl Not yet! Haven't spent anytime at all on this.

Unassigning hence, and will assign me back once I start working to prevent confusion.

[2022-08-30 09:54] loujaybee commented on #11199
Linking related comment about extending loading milestones as user feedback:

[2022-08-30 10:05] loujaybee commented on #6874
Adding additional user feedback:

[2022-08-30 10:06] svenefftinge commented on #12347
If we fail to accurately set a stopped time we should not guess a duration, but set the stoppedTime and stoppingTime to the startedTime. The basic rule is: when in doubt the cost is on us. Not sure if this renders this scenario a non issue, though.

[2022-08-30 10:25] karpa opened #12504 "Open url in new browser tab"
## Is your feature request related to a problem? Please describe
If i run "gp preview $(gp url 8080)" it opens inside VS code a browser preview.

## Describe the behaviour you'd like
How can i make it open the URL on a different browser tab (or window)?

## Describe alternatives you've considered
None..

[2022-08-30 10:53] axonasif commented on #12504
Hi @karpa, you can use `gp preview $(gp url 8080) --external` to open in a separate browser tab.

Tip: You can always try `gp <subcommand> --help` or in this case `gp preview --help` to learn more about the available flags :wink:

[2022-08-30 10:53] #12504 closed

[2022-08-30 10:58] axonasif commented on #11739
Both scripts are calling the same parent script, the only difference is that the `browser.sh` is passing on an additional CLI argument: `"--openExternal"`, which is why I think it's aliased `browser.sh`

[2022-08-30 11:05] axonasif commented on #12490
Hey @melaraj2, thanks for posting this.
However it seems to be a duplicate of https://github.com/gitpod-io/gitpod/issues/8573 😅

[2022-08-30 11:05] #12490 closed

[2022-08-30 11:13] svenefftinge opened #12506 "Usage Reconciler fails with "invalid memory address or nil pointer dereference""
The usage reconciler fails with a [nil pointer dereference](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-08-30T10:56:50Z;query=resource.labels.container_name%3D%22usage%22%0Aresource.labels.pod_name%3D%22usage-7f6487666c-jvnj6%22%0Atimestamp%3D%222022-08-30T10:56:50Z%22%0AinsertId%3D%224bo9e7lvg6ql7qua%22;summaryFields=jsonPayload%252Ferror:false:32:beginning;timeRange=2022-08-

[2022-08-30 11:14] svenefftinge commented on #12487
I think this is now fixed but we have [another error](https://github.com/gitpod-io/gitpod/issues/12506) now.

[2022-08-30 11:43] jenting opened #12507 "[PVC] Propagate workspace pod labels to PVC and VolumeSnapshot"
## Is your feature request related to a problem? Please describe

Propagate workspace pod labels to PVC and VolumeSnapshot, so we are easier to debug/troubleshoot the PVC and
VolumeSnapshot belonging to which workspace ID. Currently, workspace pod labels are
[code]
It'd be good if the PVC and VolumeSnapshot included at least these labels
[code]

## Describe the behaviour you'd like

The PVC and Vo

[2022-08-30 12:19] karpa commented on #12504
Thanks for the quick response.

The commnd is working if i run it directly to the command line. But if i add the command inside a bash script (e.g hook_commnd.sh) it does not open the tab. Should i add some extra option?

Thanks

[2022-08-30 12:32] loujaybee commented on #12490
Thanks for the feedback, @melaraj2 ! This is definitely a use case we've heard before, especially in the context of open source, where users are often jumping between projects or for companies where many repo's are more the norm than a single repo or mono-repo. Generally speaking we do want to facilitate the ability for Gitpod to provide a "golden path" for those using your project, so as much as

[2022-08-30 12:33] loujaybee commented on #8573
Copying through some context provided by @melaraj2 in:

- https://github.com/gitpod-io/gitpod/issues/12490

As quite relevant here:

[2022-08-30 12:33] loujaybee commented on #8573
Related user feedback:

Also shared in:

- https://github.com/gitpod-io/gitpod/issues/6874

[2022-08-30 12:37] mbrevoort commented on #6874
Another option would be to combine of **Ask me every time** with select and  **Never ask again**, saving a per user, per project setting. However, we would need to show these settings somewhere for each user, allowing them to delete them (oops, how do I undo that?).

[2022-08-30 12:39] jimmybrancaccio commented on #12484
@jwpjrdev A few folks including myself have been using Blink on our iPads.

[2022-08-30 12:50] geropl opened #12510 "WebApp deployments can trigger 502s"
During todays WebApp deployment [we saw 502 errors](https://gitpod.slack.com/archives/C03UJUD5W79/p1661853956147719) when trying to access the dashboard.

We need to investigate:
 1. which component caused this error (load balancer, network endpoint group, proxy, server, ...?)
 2. try to fix the cause to make sure we can safely rollout new versions soon

[2022-08-30 12:53] geropl commented on #12510
[Proxy logs](https://cloudlogging.app.goo.gl/4wJ1nNd21kPRg8Gv6) show no sign of 502 whatsoever.

[2022-08-30 13:18] meenajaeiei opened #12513 "[Self-hosted installation] unable to see imagebuild logs"
### Bug description

Gitpods UI doesn't show image build Logs
![Uploading Screen Shot 2565-08-30 at 19.20.47.png…]()

### Steps to reproduce

I checked every pods during the **imagebuild-** pods was working, I checked inside the imagebuild- pods by `kubectl exec -it <imagebuild-pod-name> && tail -f /workspace/.gitpod/prebuildlog ` and found the Log build was really exist
<img width="828" alt="Scre

[2022-08-30 13:30] geropl commented on #12510
GLB [logs show a spike in 502](https://cloudlogging.app.goo.gl/ufNGzuH9Q7poyCFGA), especially on API routes:
 - https://gitpod.io/api/gitpod
 - https://gitpod.io/api/ots/get/...
 - https://gitpod.io/api/v1
 - https://gitpod.io/api/auth/workspace-cookie/...

:bulb: Uh, but we also saw an [(D)DOS spike](https://cloudlogging.app.goo.gl/EA5bbSrfsrwofHzN9) again! ([example](https://console.cloud.google

[2022-08-30 13:33] axonasif commented on #12504
In that case you could try `( gp ports await 23000 1>/dev/null && gp preview $(gp url 8080) --external ) &` in your bash script.

[2022-08-30 13:36] #12510 closed

[2022-08-30 14:08] shaal commented on #7906
@jeanp413 I found out what was missing.
I had to open Gitpod's VSCode extension, and choose "use pre-release".
Now it's installing my extensions!

[2022-08-30 14:50] karpa commented on #12504
Now it does work running from script, but i must have the tab in focus to open the new tab.
i.e if i run it and go to another tab (reading email or SO) it does not open the tab. As soon as i go to the gitpod tab, it opens.

[2022-08-30 15:55] purkhusid commented on #7721
Has a decision been made on if Gitpod will support devcontainer.json instead of gitpod.yml?

[2022-08-30 16:18] Pothulapati opened #12515 "[infra-testing] Add `loadgen` testing to automated tests"
## Is your feature request related to a problem? Please describe

Currently, We already have a way to run integration & update tests on self-hosted Gitpod instances
across cloud provides. This has already been useful before performing releases.

Load testing is also pretty useful for self-hosted instances, so that we can understand
and document bottlenecks and limits of architectures.

## Describe

[2022-08-30 16:19] aledbf opened #12516 "Session secret should be different per installation"
### Bug description

or at least generate a new new during the first installation

Right now, the session secret is not changed `Important!Really-Change-This-Key!`

### Steps to reproduce

Run the installer using the default options

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-08-30 17:04] adrienthebo opened #12517 "self-hosted/docs: Use reasonable node min, max, defaults for proof of value reference architecture"
## Is your feature request related to a problem? Please describe

At present the GKE proof of value cluster architecture uses the following values

| Setting | Default |
| --- | --- |
| Starting node count | 1 |
| Min node count | 1 |
| Max node count | 50 |

When working on the EKS proof of value documentation it was discovered that a single node cluster doesn't have enough CPU to create a worksp

[2022-08-30 17:11] david-bakin commented on #10474
I haven't seen this for a long time - closing this issue as no longer relevant

[2022-08-30 17:13] #10474 closed

[2022-08-30 17:55] kylos101 opened #12518 "[ws-manager] workspaces enters STOPPED many times on one stop"
### Bug description

![image](https://user-images.githubusercontent.com/1272076/187507652-2bfa31ce-6cd7-4ea7-b188-ec34af35b9a5.png)

Error was: `last backup failed: cannot find workspace aac2832a-716f-401f-8f67-c61aa0dafc2f during WaitForInit.`

### Steps to reproduce

Create a new workspace
Touch to add an empty file
Stop the workspace

### Workspace affected

https://gitpodio-gitpod-i330bmmjge0.

[2022-08-30 17:57] sagor999 opened #12519 "Workspace sometimes goes from STOPPING to STOPPED to STOPPING again"
### Bug description

This causes workspace to fail, as it tries to dispose again, and encountes NotFound error, since workspace state is gone already.

Trace flow:
![image](https://user-images.githubusercontent.com/18602811/187509143-143ffc86-6052-4de7-a3b2-13dc34c358ae.png)

First dispose:
![image](https://user-images.githubusercontent.com/18602811/187509241-b8a48096-8c4d-401a-bf5c-129e05b3137e.p

[2022-08-30 17:59] kylos101 commented on #12518
Closing in favor of https://github.com/gitpod-io/gitpod/issues/12519

[2022-08-30 17:59] #12518 closed

[2022-08-30 18:18] #12476 closed

[2022-08-30 18:44] #12519 closed

[2022-08-30 19:19] corneliusludmann commented on #12479
Hi @roshvin! Thanks for reaching out. To help you, I need more information like your actual configuration. Could you write an e-mail to troubleshooting@gitpod.io and append your [support bundle](https://www.gitpod.io/docs/self-hosted/latest/support-bundle)?

I'm closing this here for now. Please let me know when you cannot reach out via e-mail for some reason.

[2022-08-30 19:19] #12479 closed

[2022-08-30 19:26] sagor999 commented on #12494
@jenting would not this be fixed by #11912 ?

[2022-08-30 20:01] #10847 closed

[2022-08-30 20:49] glebbash commented on #7721
@Chuxel good to know that, will definitely need to try a setup with single Dockerfile for both GitPod and Codespaces.

[2022-08-30 22:19] sagor999 opened #12527 "[PVC] When using PVC some files in .git folder have root ownership instead of gitpod"
### Bug description

When using PVC some files in .git folder have root ownership instead of gitpod.
This might be related to the issue where chown errors out.
Something somewhere might not be running with the correct user or permissions when using PVC code path.

### Steps to reproduce

open workspace with PVC

### Workspace affected

_No response_

### Expected behavior

_No response_

### Examp

[2022-08-30 22:23] jenting commented on #12494
From my testing, nope.

[2022-08-30 23:04] aledbf opened #12529 "Request sendHeartBeat unsuccessful"
### Bug description

Logs https://cloudlogging.app.goo.gl/mpSnbH6YFbQpQJCd6

### Steps to reproduce

Not sure. Found searching for InstanceStartFailures

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

`Request sendHeartBeat unsuccessful: 403/"operation not permitted: missing update permission on workspaceInsta

[2022-08-30 23:12] aledbf opened #12530 "No repository for "DBAuthProviderEntry" was found"
### Bug description

[code]

### Steps to reproduce

Logs https://cloudlogging.app.goo.gl/X6kAEW4d8TxpecZV6

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-08-30 23:12] tiudvek opened #12531 "In-browser Emacs?"
## Is your feature request related to a problem? Please describe
Lately, I have used doom emacs in my projects, and I love it; except for the part where I don't have much space.

## Describe the behavior you'd like
Basically just basic emacs in the start, and then it has support for `.emacs.d` and the other stuff.

## Describe alternatives you've considered
Just normally use emacs on my computer,

[2022-08-30 23:14] aledbf opened #12532 "Request deleteWorkspace failed with internal server error"
### Bug description

[code]

### Steps to reproduce

Logs https://cloudlogging.app.goo.gl/hmLoXHcxu5fsgB4y7

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-08-31 05:58] #12477 closed

[2022-08-31 06:57] svenefftinge opened #12537 "Pagination links not properly themed"
The links on the bottom of a paginated table are not properly themed.

<img width="1177" alt="Screenshot 2022-08-31 at 08 57 20" src="https://user-images.githubusercontent.com/372735/187613448-ab5db4fc-f931-4cc9-8e89-65bd8caa903a.png">

[2022-08-31 07:31] julia-leyton opened #12538 "self-hosted/docs: Upload and update for airgapped setups via CLI"
## Is your feature request related to a problem? Please describe

Add documentation for CLI commands for uploading and updating airgapped setup
## Describe the behaviour you'd like

It would be useful to have the CLI option for customers who don't want to upload the airgap bundle and KOTS via UI.
## Describe alternatives you've considered

Replicated docs (it's accurate as well, we could save our

[2022-08-31 09:17] yenicelik commented on #8952
same issue. was repeatedly building repos, but this is not mentioned anywhere in the pricing or plan structures

[2022-08-31 09:20] svenefftinge commented on #12347
As a first step, we need to make sure that we can split usage records for workspace instances that span multiple usage periods (currently month).
I'll look into adding a column `period` to create a composite key with `instanceId`. And change the reconcilation to consider all instances that have either no `stoppingTime` or a `stoppingTime` in the current period. As a result, we can have multiple us

[2022-08-31 09:24] gtsiolis commented on #12537
Besides the styling issues, pagination also comes with some usability issues, see https://github.com/gitpod-io/gitpod/issues/12027.

[2022-08-31 09:28] yenicelik commented on #7064
have the same issue, the `init` functionality is basically not there

[2022-08-31 09:57] #12293 closed

[2022-08-31 10:14] atduarte commented on #9181
@kylos101 is this still a problem? 🤔

[2022-08-31 10:14] svenefftinge opened #12540 "[Admin] Allow manually verify users"
The phone verification doesn't work for everyone. For instance, we currently have an issue with phone numbers from China as the government is quite restrictive.

As a fall back we should allow admins to manually verify users when they have reached out to support.

[2022-08-31 10:14] Learntotolearn opened #12541 "[Self-Hosted]Some problems encountered with self-hosting"
### Objective

1. When uploading a license, you will always be prompted with an error. I have installed the command provided when an error is reported, but it is not useful to me.
![image](https://user-images.githubusercontent.com/85656971/187654297-90cb8b54-a32e-4103-86ab-86a9f548b7df.png)
![image](https://user-images.githubusercontent.com/85656971/187654439-6ab98332-dff7-47a4-bd23-48f83e6271c1.p

[2022-08-31 10:18] atduarte commented on #459
@kylos101 have no idea on how difficult this would be. Do you have any idea?

[2022-08-31 10:21] lucasvaltl commented on #10719
Closing this as it is done via https://github.com/gitpod-io/gitpod/pull/11971

[2022-08-31 10:21] #10719 closed

[2022-08-31 10:26] atduarte commented on #10797
@loujaybee based on that changed the issue to be more actionable to the workspace team. LMKWYT

[2022-08-31 10:41] gierschv commented on #8623
This features work great, we have 5 additional repositories in one of our workspaces.

Similar to @ThePaulMcBride feedback, I was wondering if that would be possible to opt-in for some of them to automatically add them to the VSCode workspace next to the main repository?

Kind of equivalent to this UI feature:

![Screenshot 2022-08-31 at 12 38 26](https://user-images.githubusercontent.com/396537/1

[2022-08-31 10:58] gtsiolis commented on #12537
Thanks by the way for noticing, @svenefftinge! 🏀

For the styling issues, the initial design specs linked in https://github.com/gitpod-io/gitpod/issues/12027, https://github.com/gitpod-io/gitpod/issues/11483, and https://github.com/gitpod-io/gitpod/issues/11285 should already cover what we need to changes here.

Just added also some [detailed designs](https://www.figma.com/file/3fdBIQangZxnOPm35uW

[2022-08-31 11:16] atduarte opened #12544 "Documentation: Custom Docker Image requirements"

[2022-08-31 11:20] axonasif commented on #8623
Hey @gierschv, we're doing it on this `gitpod` repo itself.

To make this work, you have to create a `.code-workspace` file and define the folders you would like to be loaded.
https://github.com/gitpod-io/gitpod/blob/ccb148f2a65f1be9a97f76342685b369792165db/gitpod-ws.code-workspace#L2

Next, you have to tell gitpod to use that `.code-workspace` file like so:
https://github.com/gitpod-io/gitpod/blo

[2022-08-31 11:24] axonasif commented on #12531
Try this:
https://github.com/emacs-lsp/lsp-mode/issues/2845#issuecomment-926154392

[2022-08-31 11:26] axonasif commented on #12504
Thats a safety feature I think.

[2022-08-31 12:09] robertoperuzzo commented on #9565
I guess I'm facing the same issue because after enabling xdebug in my workspace I get

[code]

[2022-08-31 12:14] jankeromnes opened #12546 "[Usage] Fix old workspace class names and merge creditsPerMinute config"
### Bug description

https://github.com/gitpod-io/ops/blob/3c4358a7f9fed6a017eb9cf021f7861821ce0d2a/deploy/production/meta-eu02/app/installer-config.yaml#L171-L206

### Steps to reproduce

1.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-08-31 12:16] mads-hartmann commented on #12350
A quick update. `with-integration-tests` already is an existing Werft flag, and it does indeed **try** to run all integration tests. However, in the last 60 days it has only been used 7 times across 3 branches ([source](https://ui.honeycomb.io/gitpod/datasets/werft/result/tTF5oXTXqG7)) - and they were all by me 🤣 The job doesn't work as it was never updated to work with preview environments in Har

[2022-08-31 12:20] loujaybee commented on #9038
I'm going to take ownership of this for the time being, and assign to `team: IDE`.

I'm also going to update from Q3 as this feature is dependent upon:

- https://github.com/gitpod-io/gitpod/issues/9036

Due to the sensitivity / importance of the dependent pricing changes (i.e it's important we get it right) that it doesn't make sense to push for this change to be delivered in Q3.

[2022-08-31 12:41] lucasvaltl commented on #12541
Hey @Learntotolearn - which self-hosted license are you using? I assume you are using the [community license](https://www.gitpod.io/community-license)?

[2022-08-31 12:50] #12275 closed

[2022-08-31 12:50] Learntotolearn commented on #12541
Hello，
Yes community license, here is part of the information I got in the mail:
You can download your free community license below. You'll have access to the full feature set until you reach 10 users.

[2022-08-31 13:00] Learntotolearn commented on #12541
Is there any difference between self-hosted license and community license?

[2022-08-31 13:05] jldec opened #12547 "Spending limit notification is too sticky"
Following up from #12467

The observed behavior now (at least in the preview environment I tested) is that once the spending limit notification become visible, it does not go away until dismissed (by clicking on the `X`). This happens even if the user navigates to another page, or the page is refreshed, or the user logs out and in again.

This is problematic especially after user has managed to ge

[2022-08-31 13:08] #12430 closed

[2022-08-31 13:14] #12388 closed

[2022-08-31 13:22] gierschv commented on #8623
Awesome! I didn't know you could put a `.code-workspace` config here. From the docs it sounds like you can only pass the path of the folder you want to use as workspace root. It works perfectly :)

[2022-08-31 13:27] karpa commented on #12504
The safety feature is from browser or VS Code?

Running the bellow code it does open the new tab/window even if it's not in focus.

`setTimeout(openNewTabWithDelay, 3000);
function openNewTabWithDelay() {
  window.open("https://www.w3schools.com");
}`

[2022-08-31 13:58] loujaybee commented on #12155
**Note:** Does not include Self-Hosted users, for Self-Hosted, please see:

- https://github.com/gitpod-io/gitpod/issues/12475

[2022-08-31 14:06] shaal opened #12551 "Changes after imagebuild are not reflected in workspace"
### Bug description

Astro project requires `pnpm` version 7.9.5, its workspace open with version `7.9`.

Running `https://gitpod.io/#imagebuild/https://github.com/withastro/astro` shows the build process is indeed updated pnpm to version 7.9.5, but opening a new workspace afterwards still have pnpm version 7.9

### Steps to reproduce

Build image - https://gitpod.io/#imagebuild/https://github.com

[2022-08-31 14:08] #12507 closed

[2022-08-31 14:23] chientrm commented on #5596
Nah. Just get the coordinate of the user via IP address and pick the nearest server. Every server should be located in a city. AFAIK Gitpod's running on GCP.
Moreover, many cloud provider like CloudFlare Pages/Worker already append IP and lat/long in HTTP request header 🤭.

[2022-08-31 14:25] lucasvaltl commented on #12541
The community license is just one of the two self-hosted licenses we have :) So in theory, you should be all good with the community license. I am not aware of an issue with it. Where are you based (roughly)? I suspect this might be a networking issue.

[2022-08-31 14:35] Learntotolearn commented on #12541
The deployed gitpod is self-hosted and can't be used which makes me sad.

[2022-08-31 14:38] Learntotolearn commented on #12541
Workspaces can be added successfully, but cannot be opened.
Web Tips:
HTTP ERROR 401

[2022-08-31 14:46] MrSimonEmms commented on #12196
@csweichel yeah, that's basically the intention

[2022-08-31 15:42] lucasvaltl commented on #12541
This makes me sad as well :)

If you can, could you please [create a support bundle](https://www.gitpod.io/docs/self-hosted/latest/support-bundle) and send it to troubeshooting@gitpod.io? This includes information and errors from your installation and might help us better understand the issue.

[2022-08-31 15:58] geropl commented on #10722
PRs to implement alerts are done/in review.

Next steps:
 - test alerts in prod
 - write a piece in notion with links to all alerts

[2022-08-31 16:06] david-bakin opened #12553 "docs: Need a page (easily found) for all the gitpod url prefixes"
### Bug description

There's no single list anywhere in the documentation of all the magic URL prefixes, e.g., `#imagebuild` (which I just discovered today by accident), `#prebuild`, etc.  There should be.

For example - there _should_ be a url prefix for opening the (main) repo on a specific branch, rather than the default.  Is there?  Dunno, can't find it in the docs, but that doesn't mean it do

[2022-08-31 16:10] jldec opened #12554 "Unsupported initializer error opening snapshot in GItpod (internal) preview environment"
- In a PR /werft with-preview
- Start a workspace and invoke "Gitpod: Share Workspace Snapshot"
- Try to open snaphot URL in a new browser window

`cannot initialize workspace: cannot inject initializer secrets: unsupported workspace initializer in walkInitializer - this is a bug in Gitpod`

[2022-08-31 16:17] jimmybrancaccio opened #12555 "Account Blocked When Using Netdata Repo and Docker Container"
### Bug description

I have created a new workspace using the [Netdata repository](https://github.com/netdata/netdata) and then started up the Netdata container using their suggested command:

[code]

Within 5-10 seconds my workspace stopped and I see a Forbidden message:

<img width="885" alt="Screen Shot 2022-08-31 at 11 13 30" src="https://user-images.githubusercontent.com/405585/187727579-f569

[2022-08-31 16:42] axonasif commented on #12553
I assume you saw these already:
- https://www.gitpod.io/docs/config-docker#manually-rebuild-a-workspace-image
- https://www.gitpod.io/docs/prebuilds#manual-prebuilds

I agree that it would be handy to have a page pointing to these, thanks for bringing up this idea 😄
Since its a docs thing, so I'm going to move it to the `website` repo.

[2022-08-31 17:12] #12540 closed

[2022-08-31 17:38] ArthurSens commented on #10386
Done long ago :)

[2022-08-31 17:38] #10386 closed

[2022-08-31 17:38] ArthurSens commented on #10387
For some reason the related PR didn't close this one 🤔

[2022-08-31 17:38] #10387 closed

[2022-08-31 18:06] kylos101 commented on #12464
@jenting as getting PVC working with regular prebuilds is a higher priority, for now, I will move this back to scheduled. 🙏

[2022-08-31 18:46] kylos101 opened #12560 "Fixes to support PVC on loadgen and integration test"
Today, we got workspaces running with loadgen via this branch, https://github.com/gitpod-io/gitpod/commits/fo/pvc-chown. However, that left us with some questions and changes to make:

- [x] ~Why was SupervisorRef added?
https://github.com/gitpod-io/gitpod/compare/fo/pvc-chown#diff-67b4c7f3957772e87beb608fc54eb2bdc7959210d20c2ceb8dcd08f06df0801aR71~
- [x] ~Remove sleep
https://github.com/gitpod-io

[2022-08-31 19:16] atduarte commented on #10963
I don't currently see the need for that, and given our inability to downgrade storage it might be confusing.

---

After thinking about prebuilds' and project workspace class attribution, I have the following proposal:
By default ALL prebuilds use Standard. Only way to override it is by defining the workspace class in the .gitpod.yml. Which impacts prebuilds and workspaces.

It's simpler and easie

[2022-08-31 21:03] #11581 closed

[2022-08-31 22:01] adrienthebo opened #12566 "self-hosted/docs: reference architecture troubleshooting documentation"
## Is your feature request related to a problem? Please describe

Developing the EKS reference architecture has revealed a healthy collection of failure modes and errors that can prevent an EKS cluster from coming online; because these errors occur before any Kubernetes services can come online we can't use our existing troubleshooting systems (preflight checks and support bundles) to identify and

[2022-08-31 23:15] adrienthebo commented on #12492
Tacking a comment onto this issue, we should also document [_why_ we're using Calico](https://github.com/gitpod-io/website/pull/2571/files#r954127345).

[2022-09-01 01:36] Learntotolearn commented on #12541
I feel very much that I have sent an email to this mailbox.

[2022-09-01 02:03] sagor999 commented on #12527
This is no longer happens. :thinking:
@kylos101 :eyes:

[2022-09-01 02:03] #12527 closed

[2022-09-01 07:02] #11269 closed, assigned to nobody

[2022-09-01 07:09] #12197 closed

[2022-09-01 07:26] utam0k commented on #12021
I found we can reproduce this issue with our integration test on the preview environment.

[2022-09-01 08:00] geropl commented on #11557
FYI: A number of PRs has been merged to a) filter out noise b), but also improve logging and tracing of such events. Waiting for the next deployment to have more insights here.

[2022-09-01 08:40] #7555 closed

[2022-09-01 08:44] #12169 closed

[2022-09-01 08:46] #12343 closed

[2022-09-01 09:44] Torsten85 commented on #12416
Small addition: Reinstalled everything, this time with the `calico` backend, but the folders are growing again.

[2022-09-01 10:02] svenefftinge commented on #12506
fixed

[2022-09-01 10:02] #12506 closed

[2022-09-01 11:04] mrsimonemms opened #12578 "Use Gitpod fixtures for verifying the data in the golden files"
[Feedback](https://gitpod.slack.com/archives/D02A3GZCULC/p1662028896994289) from @csweichel on the Installer unit tests

Investigate these comments and make any changes as appropriate

[2022-09-01 11:31] lucasvaltl opened #12579 "[Local Preview] Track failure reasons for Local Preview Prerequisite Check Event"
## Is your feature request related to a problem? Please describe
We currently get an event for the most important stages of the local preview installation process. However, we do not get more info than this meaning that we are not sure which prerequisite checks  failed and can thus not improve the product.

## Describe the behaviour you'd like
- Output the results from the Prerequisites check in t

[2022-09-01 12:19] jankeromnes opened #12580 "Better surface Stripe sign-up errors in the UI"
### Bug description

Follow-up to https://github.com/gitpod-io/gitpod/issues/12343 / https://github.com/gitpod-io/gitpod/pull/12376

When testing the PR, we noticed two separate UX problems:

1. When you sign up with a given currency, then cancel, then try to sign up with a different currency, Stripe fails with this error:

[code]

It would be cool to handle this problem specifically, e.g. by prev

[2022-09-01 12:21] gtsiolis opened #12581 "Remove the pointer cursor on the timestamp column in team usage page"
### Problem to solve

While we dropped the timestamp sorting order in usage in https://github.com/gitpod-io/gitpod/pull/12501, we left behind the cursor-pointer class on the column header.

See [relevant diff](https://github.com/gitpod-io/gitpod/pull/12501/files#diff-133f74f34700fb70678ded1312ecb51ced6f277b9fba8ddb4b51fb95a45b202dL236-L246).

Cc @AlexTugarev @easyCZ @svenefftinge @jldec

### Propo

[2022-09-01 13:00] svenefftinge opened #12582 "Incremental Workspaces"
Starting prebuilds should be as fast as possible.

Incremental Workspaces would allow starting a workspace using a prebuild that ran for an older commit (based on commit history) and then run the init tasks on top of that when the workspace starts. This allows benefitting from the caching on the file system just like you would in a local dev environment.

Activating this behavior would mean that u

[2022-09-01 13:00] svenefftinge opened #12583 "Run Fewer Prebuilds"
(Idea from a discussion with @mbrevoort)

We currently run prebuilds on every push. This has two problems:
- highly frequented branches are constantly running prebuilds so they are constantly cancelled and there's rarely a usable prebuild.
- Many other prebuilds are also not used.

### Proposed Solution
Run only the full prebuilds and [allow workspaces to use them to start incremental workspaces](

[2022-09-01 13:13] frank-hollmann commented on #5409
open_tree syscall and ebpf are necessary for gitpod in ocp 4.x.  open_tree is in rhel 8.4 and ebpf is supported since rhel 8.1.  the corresponding rhcos releases are supporting the requested functionality as well.

So gitpod should be usable unter OCP 4.7 and later.

[2022-09-01 15:14] lucasvaltl opened #12587 "GCP Single Cluster Terraform not deleting default node pool"
### Bug description

Contrary to expectations, I can still see the default node pool running once the cluster has been created (I assume that is the top one here:
<img width="1346" alt="Screenshot 2022-09-01 at 17 01 04" src="https://user-images.githubusercontent.com/22516873/187949844-fa990298-d381-408a-90e8-83b62e6e1e6e.png">

### Steps to reproduce

Create cluster with the current terraform tha

[2022-09-01 17:30] david-bakin opened #12591 "Add "new workspace at context" to three-dot menu of projects at Projects page"
My most frequent use case is _not_ launching a workspace via the Github/Gitlab browser extension.  It's looking at the Projects page and doing "New workspace" from the three-dot menu of a particular project.

It would actually be great to have access to the "Context" feature from a particular project - I envision an additional three-dot menu item for "New workspace at context" which gives you a te

[2022-09-01 17:35] mikenikles commented on #12345
This was ok for ~5 days but it started to happen again yesterday & today.

[2022-09-01 17:38] mikenikles commented on #12455
This has been an issue for a while: https://github.com/gitpod-io/gitpod/issues/12345

[2022-09-01 18:10] #12395 closed

[2022-09-01 18:30] loujaybee commented on #11073
[Quote from the community](https://discord.com/channels/816244985187008514/1014887108835553342/1014944090825166923)

[2022-09-01 18:54] mrsimonemms opened #12596 "Epic: KubeCon Demo"
# Summary

Gitpod are sponsors of [KubeCon North America 2022](https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/) between 24th and 28th Oct 2022, as well as having two speaking engagements at the conference

# Context

This should be a cross-team task. Whilst @gitpod-io/engineering-self-hosted will take the lead from a practical point of view, this will represent all of Gitp

[2022-09-01 19:14] sagor999 commented on #12345
Moved it into Breakdown phase for workspace  team.

[2022-09-01 19:17] lovettchris commented on #912
I agree, I'm seeing the same thing and pulling my hair out trying to figure out why my .gitpod.yml file is being ignore, I even created it with "gp init"!

[2022-09-01 19:17] mrsimonemms opened #12597 "Specify hardware required for a great demo"
See [internal RFC](https://www.notion.so/gitpod/Gitpod-Demo-at-Kubecon-via-a-Self-Hosted-Instance-13782aaee9d04810975de4c845d6a50d) for discussion

[2022-09-01 19:17] mrsimonemms opened #12598 "Purchase hardware"

[2022-09-01 19:18] mrsimonemms opened #12599 "Configure hardware"

[2022-09-01 19:18] mrsimonemms opened #12600 "Decide on suitable repo(s) for demonstrations"

[2022-09-02 00:51] utam0k commented on #10671
dup: https://github.com/gitpod-io/gitpod/issues/12248

[2022-09-02 00:51] #10671 closed

[2022-09-02 01:48] Learntotolearn commented on #12541
Happily, the third question is supported by official technicians. The problem has been found and solved.
Solution:
[code]
The reason is that some network policy blobserves are making mischief.
Thank you very much for Jimmy B's help.

[2022-09-02 02:06] mustard-mh commented on #12470
Preparing a new release to make js-debug gets `tunnels` proposal API, and align `extensionEnabledApiProposals` fields with MS 🙏

[2022-09-02 06:12] lucasvaltl commented on #12541
Happy to hear that the problem has been solved. The email did not work because I missed a letter in that email address, it should be troubleshooting@gitpod.io - very sorry about that! Were you able to resolve your 1. and 2nd question as well?

[2022-09-02 06:12] mittalyashu commented on #11671
Any update on this issue 🙂

[2022-09-02 07:13] nandajavarma commented on #7433
Closing this issue in favor of https://github.com/gitpod-io/gitpod/issues/10620

[2022-09-02 07:13] #7433 closed

[2022-09-02 07:15] nandajavarma opened #12609 "terraform: Create separate service accounts in GKE module"

[2022-09-02 07:16] nandajavarma opened #12610 "[terraform] use k3s instead of k3sup to create k3s cluster"

[2022-09-02 07:19] #12587 closed

[2022-09-02 08:55] lucasvaltl commented on #12451
Hey @tomatebeans thanks for raising this. I'm sorry that this did not work immediately - let's see how we can fix this :) @Pothulapati, would you be so kind at take a look at this? I assume the first step here will be to gather some logs.

[2022-09-02 09:33] Pothulapati commented on #12451
Hey @tomatebeans, Thanks for the detailed descriptions `dalong with the video).

Because you seem to have went till the Gitpod UI, I don't think looking at the `k3s` logs would be useful. The `image-builder-mk3` are the logs that that I think would be useful. Can you share the logs of the same?

Thanks

[2022-09-02 09:48] pawlean commented on #912
Hey @lovettchris! Can you share a repo with your `.gitpod.yml` configuration? I'd like to see if I can replicate this.

[2022-09-02 10:40] mehuylsharma commented on #5005
@jankeromnes Hey! Having a similar issue, could you stop this workspace as well please?
`https://gitpod.io/start/#mehulsharma-gitlab-fg6u3rfnza2`

[2022-09-02 10:56] jankeromnes commented on #5005
Hi @mehuylsharma! Thanks for the ping. I've asked our on-call team to take a look.

[2022-09-02 11:33] andreafalzetti opened #12615 "Moving JetBrains Gateway window across two screen displays breaks render (only for first installation)"
Related YouTrack issue: https://youtrack.jetbrains.com/issue/CWM-6826/Remote-Development-dialog-content-disappear-when-moving-to-different-monitor

### Bug description

The first time a user installs the Gitpod plugin in JB Gateway and the user has multiple displays/screens and they move the JetBrains Gateway window from one display to another, the Gitpod plugin does not re-render. This bug only o

[2022-09-02 11:34] Pothulapati commented on #10869
👋🏼

**Update:**

I've worked on the **EKS side of things** in the single-cluster reference architecture, this week. This required working on #12577 as we need to scale the cluster based on the number of workspaces. Once that change was merged, The loadgen just worked like you would expect.

Because the images were part of `gitpod-dev` registry (which is a private registry), We used #12174 that was

[2022-09-02 12:19] kylos101 commented on #10869
@Pothulapati could you share a link to the loadgen config that you are using? :pray:

[2022-09-02 12:41] jacobparis commented on #729
I'd like to see tools adopt a `/config` convention as a place to put their configuration files. I think it would only take a few big players to start before other tools follow suit

[code]

[2022-09-02 13:49] Pothulapati commented on #10869
**Update on the 500 workspaces load suggestion:**

We started out well until 250 workspaces.

![image](https://user-images.githubusercontent.com/7892868/188159825-c9904c87-82eb-40a2-a395-41753fb32650.png)

But once we reached the 60m mark, A bunch of workspaces timed out. As I can't find any errors on the components, This is probably a timeout thing. So, Even though the loadgen applied 500, We end

[2022-09-02 14:46] #12410 closed

[2022-09-02 15:15] charIeszhao commented on #9017
It would also be great if gitpod can provide a switch or a checkbox in the subject PR, so that people can only trigger the preview env deployment when they turn on the switch. This helps save the server cost and potential build time in each PR.

[2022-09-02 15:17] liam-j-bennett opened #12622 "Preview Env jobs can fail waiting on unnecessary pods"
From Anton: https://gitpod.slack.com/archives/C032A46PWR0/p1662128693010439

Essentially, after using the installer to deploy gitpod, we (correctly) wait for the pods within the namespace to be ready. However, the namespace is used for Workspaces, which can fail or can have long startup/termination periods. Therefore, it makes sense to exclude them from the ready check in general, as they are not

[2022-09-02 15:41] jldec opened #12623 "Waive verification for users on paid plans"
Users on paid plans are unlikely to abuse Gitpod.

Those users should be able to sign up without verification. Being added to a paid plan should allow them to skip verification before starting workspaces, even if their GitHub or GitLab account is new, or they are using Bitbucket.

The BillingMode API may be helpful to implement this in a way which is forward-compatible with usage-based billing.

S

[2022-09-02 16:39] #9848 closed

[2022-09-02 16:51] loujaybee commented on #3738
I think this is related, or a duplicate of:
- https://github.com/gitpod-io/gitpod/issues/11199

The linked issue is a bit more specific, to define these events, but this issue looks like it's about having them viewable on workspace start. The two are certainly related and/or solving similar challenges.

[2022-09-02 16:53] #12546 closed

[2022-09-02 17:16] YoannBuch opened #12625 "Improve usability of JetBrains Gateway when experiencing authentication errors"
There are situations where a user might have the wrong logged in user, is not authenticated properly, or some other authentication related error that means they cannot access their workspace. Currently these errors are not obvious, not the resolution path. We should look to provide users in JetBrains Gateway who get authentication errors with:

1. Improved error messaging when they receive the `op

[2022-09-02 17:51] lovettchris commented on #912
This was my first attempt:
https://github.com/leanprover/lean4-samples/commit/f37fcef85dbeaa31222852413ece3ff59b9e26d7

If you try this you will see `which lean` fails after workspace comes up:
https://gitpod.io/#https://github.com/leanprover/lean4-samples/commit/f37fcef85dbeaa31222852413ece3ff59b9e26d7

So I stopped using `init` and so my latest version in `https://gitpod.io/#https://github.com/l

[2022-09-02 18:18] KayakinKoder commented on #12010
Being able to force a rebuild, without conditions, would have saved us a lot of time on our team's initial gitpod setup (and would save us time going forward).

"Without conditions" meaning _even if_ the prebuild succeeded, and _even if__ the commit is the same. Why? External dependencies. For example, we update our custom docker image with some important new thing; currently, we have to push a fa

[2022-09-02 18:32] ctrlaltdylan opened #12627 "Ability to support ENVs for monorepos"
## Is your feature request related to a problem? Please describe
Monorepos host multiple apps in one repository.

If one or more of the apps use the same ENV variable, there's a conflict.

Currently Workspace ENV vars are only specific to the repository, not to a sub-app.

## Describe the behaviour you'd like

Would be great if the ENV definition in the task was able to support dynamic ENVs.

Then

[2022-09-02 18:49] kylos101 opened #12628 "Preview environment takes too long to start, causing workspace integration tests to fail"
### Bug description

Sometimes the preview envrionment takes too long to start, causing the initial workspace integration test job to fail.

### Steps to reproduce

Refer to this [internal conversation](https://gitpod.slack.com/archives/C03E52788SU/p1662051454479299) for context.

### Workspace affected

_No response_

### Expected behavior

Ideally we'd wait longer for the environment to start, a

[2022-09-02 18:52] kylos101 opened #12629 "Preview environment fails to start due to cert-manager webhook, preventing workspace integration tests from running"
### Bug description

In this case, the preview environment job failed, which prevented the tests from running.

The failure was:
[code]

### Steps to reproduce

Refer to this [internal slack thread](https://gitpod.slack.com/archives/C03E52788SU/p1662143960600599?thread_ts=1662122068.594929&cid=C03E52788SU) for context

### Workspace affected

_No response_

### Expected behavior

Ideally the web-h

[2022-09-02 19:16] kylos101 commented on #12629
Another reference: https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220902190031.0/raw

[2022-09-02 19:22] geropl commented on #10722
- [x] Alerts have been tested (and fixed)
 - [x] there is a [notion doc about our alerting setup](https://www.notion.so/gitpod/Alerts-b7296dcdcadc4fa8a7df2f234ae66303)
:heavy_check_mark:

[2022-09-02 19:22] #10722 closed

[2022-09-02 20:05] kylos101 commented on #12497
@jenting I updated Additional Context for this issue to reduce the # of required tests for regular workspaces, please review?

[2022-09-02 20:08] kylos101 commented on #12497
:wave:  @jenting regarding cases 2 and 3 (which warrant new tests), if I were to run those cases, would you expect them to pass? I ask because [this discussion](https://gitpod.slack.com/archives/C02F19UUW6S/p1662133142820379?thread_ts=1661998100.115679&cid=C02F19UUW6S) is unresolved.

[2022-09-02 20:16] adrienthebo opened #12631 "self-hosted/docs: EKS ref architecture may not indicate how to fetch EKS credentials"
## Is your feature request related to a problem? Please describe

The EKS reference architecture doesn't mention the `aws update-kubeconfig` command, which is used to fetch cluster credentials for a pre-existing cluster. It may be that [`eksctl` will automatically fetch these credentials](https://eksctl.io/introduction/#cluster-credentials) this path hasn't been verified. In addition if users are

[2022-09-02 20:28] tiudvek commented on #12531
sheesh nice

[2022-09-02 20:28] #12531 closed

[2022-09-02 21:33] kylos101 commented on #12345
I see the same problem with `gitpodio-gitpod-aditftfbhhh`.

[code]

[code]

Given these [logs](https://cloudlogging.app.goo.gl/HxVnWKs5uen1HyzM9), `supervisor` hasn't signaled that content-init is done.

No errors in the trace either:
![Image](https://user-images.githubusercontent.com/1272076/188238148-45dd19b9-bf55-4243-b006-2381cbc4be3d.png)

@sagor999 @utam0k is there a way to inspect the "curr

[2022-09-02 23:10] jenting commented on #12497
Yes, I expect them to pass

[2022-09-02 23:11] jenting commented on #12497
Thanks for the detailed check, I agree those two tests do not require testing against the PVC feature flag.

[2022-09-03 00:58] tomatebeans commented on #12451
Hi, tried it again today with the same result.

Sorry I currently know where the `image-builder-mk3` logs are.

Currently the logs I saw are just from one container (viweing at docker desktop and at portainer).

![image](https://user-images.githubusercontent.com/108106367/188249551-f99bbf4c-5328-4aad-9afa-c2a2be4a88f4.png)

[_gitpod_logs.txt](https://github.com/gitpod-io/gitpod/files/9481588/_gitp

[2022-09-03 03:46] Jehong-Ahn opened #12633 "Don't `open-preview` if there is an opend preview tab already."
## Is your feature request related to a problem? Please describe
When a stopped container restarts, there should be opend preview tab.
In this situation, gitpod.yml `open-preview` setting will create another preview tab with another split window.

## Describe the behaviour you'd like
Before open preview tab, the gitpod should inspect other preview tab already opend.

[2022-09-03 08:50] atduarte commented on #12230
@mrzarquon maybe I misunderstood what you are saying, but the image is only rebuilt if it's definition (Dockerfile) changes or you force it,IIRC 🤔

[2022-09-03 10:41] Nishchit14 opened #12634 "bulk variables or .env file support for workspace"
## Is your feature request related to a problem? Please describe
I have more than 30 variables for my monorepo. It is hard to add one by one at workspace creation, and also difficult to manage/update on the go while developing.

## Describe the behaviour you'd like
It would help if there is a feature available to add/update variables in bulk. It would be even better if we can upload the .env file.

[2022-09-03 10:48] Nishchit14 opened #12635 "workspace stuck at loading"
### Bug description

Many times it's been loading the workspace for more than an hour. If I create a new workspace then It takes a couple of minutes but when I open the old workspace then It's loading without showing any logs/errors for hours.

<img width="467" alt="image" src="https://user-images.githubusercontent.com/5078921/188266901-b0259301-dabb-4f97-8b92-84421b654b9f.png">

### Steps to repr

[2022-09-03 10:50] Nishchit14 commented on #12635
Finally, it's TIMEOUT

<img width="540" alt="image" src="https://user-images.githubusercontent.com/5078921/188267126-c5574e2e-8516-49a8-a83e-58c3780d665b.png">

[2022-09-03 12:17] SAHRIYahyaAbdelkadouss commented on #8939
tried running the commands of installation in the .gitpod.yaml but it didn't work

[2022-09-03 12:20] jldec opened #12636 "Feedback Issue: Usage-based billing"
Invite comments and questions from early access users of usage-based billing.
See #9036 for more details.

[2022-09-03 13:27] sivinnguyen commented on #9386
Thanks, it works for me

[2022-09-03 16:50] vyas-n commented on #9618
Commenting so that this doesn't get stale,

I run into exactly this issue when running in my k8s cluster. I run into resource allocation issues unless I either dedicate a k8s cluster just for GitPod (what I'm currently doing) or I start killing off the pods that are currently running on the GitPod nodes (not good and not scalable).

[2022-09-04 02:15] akashkrishnan commented on #8429
`https://${host}/raw/${org}/${name}/${commitish}/${path}` doesn't seem to be a valid route on our GHES 3.6 installation. For us, the following should work: `https://raw.${host}/${org}/${name}/${commitish}/${path}`

[2022-09-04 03:30] Jehong-Ahn commented on #425
Probably, the gitpod need an access for original repo as well as for forked repo.

[2022-09-04 06:40] mustard-mh commented on #11671
This can happen if your default IDE is not `Jetbrains` IDE, which means that if you choose VSCode in your [preference](https://gitpod.io/preferences) when you open the workspace, it's doesn't support to switch to another `desktop IDE` while workspace running, if you want to run the workspace with another IDE, you have to go to your preference and change your IDE before you open the workspace.

[2022-09-04 13:03] mittalyashu commented on #11671
That's really interesting, it didn't even cross my mind.

Let me give it a try.

[2022-09-04 13:26] axonasif commented on #12634
Duplicate of https://github.com/gitpod-io/gitpod/issues/12243

[2022-09-04 13:37] axonasif commented on #912
Hey @lovettchris.

Here's the reason why you needed to do that: https://www.gitpod.io/docs/prebuilds#workspace-directory-only

AFAIK `command` tasks are spawned in time, it could be your IDE lag to pop up the terminal in time.
Not sure but https://www.gitpod.io/docs/command-line-interface#sync-await might be interesting for you.

[2022-09-04 16:51] sharebear commented on #12453
I'm experiencing this too... I didn't see the issue when doing `brew install <thing>` interactively in the terminal, but it's definitely when calling `brew install <thing>` during `init` on a task similar to @a0v0's example.

[2022-09-04 19:46] kylos101 commented on #12021
How so @utam0k ?

[2022-09-04 19:49] jldec opened #12637 "Reword "Spending limit" -> "Usage limit""
Reasons for this change:
1. Expressing the limit in credits in makes more sense when it is actually a usage limit rather than a spending limit.
2. A limit on total usage is easier to interpret (and implement) than a limit on spending which would have to consider free credits, prepayments, and discounts.
3. If this feature does not depend on any payment model, it can also be used for non-paid usage

[2022-09-04 20:06] kylos101 commented on #12497
@jenting could you move the `Prebuild tests for PVC` tasks to a separate issue? That way, this issue doesn't stay "in progress" for "too long" in our groundwork. :bow:

[2022-09-04 23:29] jenting opened #12638 "[integration tests] add prebuilds workspace PVC integration test from PVC test plans"
## Is your feature request related to a problem? Please describe

Manually go thru. the PVC test plans take about half a day, and it's too long for each release to manually test against all the PVC test plans.

## Describe the behaviour you'd like

Trying to add more integration tests from the PVC test plans if possible, and make the manual PVC tests as small as possible.
Therefore, we could minim

[2022-09-05 01:00] tv42 opened #12639 "License.txt refers to nonexistent License.GPF.txt"
### Bug description

Said file does not exist. Did you mean License.enterprise.txt?

### Steps to reproduce

https://github.com/gitpod-io/gitpod/blob/2871bdc1b853dbdef502c54cf950e7319babef61/License.txt#L6

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-09-05 01:43] msusanrbrown opened #12640 "Gitpod fails to compile image"
### Bug description

When I try to open my repo using Gitpod I get this error:

[code]

<img width="997" alt="image" src="https://user-images.githubusercontent.com/19242955/188343298-0af41cfd-5612-4479-a7ef-4501e79b3283.png">

<img width="1021" alt="image" src="https://user-images.githubusercontent.com/19242955/188343362-8557366f-2a08-4806-b64c-50405be6a011.png">

### Steps to reproduce

open gitp

[2022-09-05 02:09] tiudvek commented on #11339
this is why i left gitpod.

[2022-09-05 03:09] skrmain commented on #12581
Hi @gtsiolis,

Can I work on the Issue...?

[2022-09-05 05:22] utam0k commented on #10651
@adrienthebo @kylos101 What is the status of this issue? I ask because https://github.com/gitpod-io/gitpod/pull/11255 processed this epic, right?

[2022-09-05 05:29] kylos101 commented on #10651
I think you meant @atduarte ?

And no, it does not finish the epic yet. Instead of limiting, it'll record where it would have limited, and we'll be able to use a new graph @Furisto added to the `ws-daemon` dashboard, to determine how often workspaces would have been limited. We can then use that knowledge to determine if we need to tune the configuration, prior to actually limiting.

[2022-09-05 05:31] Pothulapati commented on #10649
Started working on this, and hence assigned myself

[2022-09-05 06:20] akosyakov commented on #12625
@YoannBuch Please share logs as explained here: https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-jetbrains-gateway

[2022-09-05 06:22] akosyakov commented on #12625
@YoannBuch This workspace does not seem to belong to you. Live sharing of workspaces is not supported by JB products. cc @loujaybee

[2022-09-05 06:46] axonasif commented on #11183
I encountered this issue as well.
<img width="567" alt="Screenshot 2022-09-05 at 12 45 26 PM" src="https://user-images.githubusercontent.com/39482679/188382057-33839e0d-ca0b-479f-b0f3-db9f68305c29.png">
[code]
WS ID: `gitpodio-workspaceimage-5wke6grm46l`

[2022-09-05 07:36] YoannBuch commented on #12625
Thanks for the reply @akosyakov.

I do have access to this workspace in gitpod.io, however maybe there's a mismatch between what Jetbrains Gateway thinks I am vs who owns the workspace?

How does Gateway know in the first place who I am? How does it connect to gitpod.io? I don't recall setting up any credentials.

[2022-09-05 07:38] akosyakov commented on #12625
It is using an account with which you authenticated the plugin. You can click logout and then loging again. If you changed account in your browser.
<img width="1370" alt="Screenshot 2022-09-05 at 09 38 27" src="https://user-images.githubusercontent.com/3082655/188394655-ceb4e245-0ea3-4a85-a95d-51c44f52f2be.png">

[2022-09-05 07:46] YoannBuch commented on #12625
Ok makes sense... I had totally forgot that step :man_facepalming:

Thanks a lot!

I guess a nice error message on the UI would be helpful in that case :)

You can close the issue :+1:

[2022-09-05 07:53] mads-hartmann commented on #12628
Some quick thoughts
1. We should update your job to be resilient to errors from Werft. From a quick glance it looks like it's just failing if we get at 503 when polling the state of the jobs. In that case we can just ignore the error and poll again :relaxed:
1. We should have better insights the Werft API - currently we have no monitoring for that AFAIK

[2022-09-05 08:05] mads-hartmann commented on #12628
And a quick clarification: The integration tests don't fail because the preview environments start too slowly, it's because we get an error when querying for the state of the Werft job for the preview environments. At least from looking at the logs from the job https://werft.gitpod-dev.com/job/gitpod-custom-to-stablization-test.19 mentioned in the thread ☺️

[code]

[2022-09-05 08:16] aabkn301 commented on #7881
Could be very useful to be able to inject API keys that live at organization level.

Btw, support for tool like doppler.com can be useful also to have a better secret management.

Currently we use an init scritpt that download env from doppler and inject them in the current workspace using gp env :)

Thanks a lot for your amazing product,

[2022-09-05 09:11] axonasif commented on #12504
Probably VSCode, @jeanp413 might know better.

[2022-09-05 09:29] #12160 closed

[2022-09-05 09:40] loujaybee commented on #12089
Thanks for the input @atduarte 🙏

Yup. I think there's an overlap with these issues, also:
- https://github.com/gitpod-io/gitpod/issues/11199
- https://github.com/gitpod-io/gitpod/issues/3738

Agree it's a big effort if we are to apply this everywhere. However just to be clear though: the scope of this issue is to implement one or two examples, establish the pattern and then we can roll out and it

[2022-09-05 09:45] loujaybee commented on #12625
Thanks for raising @YoannBuch!

Actually, rather than close I'm going to convert this issue from a bug to a feature request. It'd be good if we're able to show user information, or better debug messaging in the Gateway for these types of authentication errors. I've updated the description, but have captured your original context in a toggle so we have it for future reference, thanks!

[2022-09-05 09:46] loujaybee commented on #12625
Would be good to define this as an application error code, with a description, e.g. applying the following approach:

- https://github.com/gitpod-io/gitpod/issues/12089

[2022-09-05 09:49] gtsiolis commented on #12581
@skrmain Yes, any open issue is available for picking up. Just make sure there's no one assigned and there's not any work-in-progress PR linking back to an issue. 🏓

[2022-09-05 09:59] Pothulapati commented on #10649
@lucasvaltl The query that you mentioned seems to calculate **users who created atleast 3 workspace instances of a single workspace in the last 7 days** i.e they could all be on the same day, and not **users who created workspace instances in 3 days of the last 7 days**.

I'm trying for the later now, Feel free to tell me otherwise if that's not what you need.

[2022-09-05 10:34] #11682 closed

[2022-09-05 10:35] #11608 closed

[2022-09-05 10:36] nandajavarma opened #12647 "Automated self-hosted release pipeline"
Currently the release process has a lot of manual involvement eventhough we have a lot of pieces already in place.  This task automates it one step further to reduce the release time. The main tasks are:

- Add a werft flag to trigger release job, `werft run self-hosted-rc-release`
- Calculates the tag, updates the tag in terraform modules and local preview (committing it), creates the tag and pus

[2022-09-05 10:36] loujaybee commented on #12627
Thanks for raising @ctrlaltdylan, I'll try to provide more updates in the coming weeks, but refining and further improving the mono-repo experience is something that's indeed very important to us, and lots of users. However it will also require some overall thinking about how to improve the experience generally as there are some intertwined points of friction. I don't yet have a nice summary issue

[2022-09-05 12:05] andreafalzetti commented on #9848
@buggtb A new version of the Gitpod plugin has been released which comes with a fix for this :)

[2022-09-05 13:02] schickling commented on #9531
This is a very common "papercut" for me as it's a manual step when opening any workspace in Gitpod. Hopefully this gets fixed soon :)

[2022-09-05 13:15] nisan1337 commented on #11183
I encountered this issue twice for today.
<img width="451" alt="image" src="https://user-images.githubusercontent.com/87061773/188457910-f8db2ae5-6cf4-46b3-bd81-019071fd3165.png">
I am suspecting this occurs because I left some docker containers(with compose) running and manually stopped the workspace.

[2022-09-05 13:22] gtsiolis commented on #12010
Thanks for the feedback, @KayakinKoder! [FWIW](https://en.wiktionary.org/wiki/FWIW), we did some design exploration in the past for adding something like this to allow users to re-trigger a prebuild for any branch.

Re-posting here for visibility but I'll also circulate your feedback internally:

| Early design on allowing users to re-trigger a prebuild |
|-|
| <img width="1440" alt="Prebuilds" sr

[2022-09-05 13:28] loujaybee commented on #11201
We were originally intending to move the plugin to GA without the GA of IntelliJ itself, however we'll go back to moving to GA the JetBrains Gateway:

- https://github.com/gitpod-io/gitpod/issues/7956

Closing this issue to avoid confusion.

[2022-09-05 13:28] #11201 closed

[2022-09-05 14:01] jankeromnes commented on #12582
Thanks @svenefftinge for proposing this and https://github.com/gitpod-io/gitpod/issues/12583! I agree that implementing these two ideas could be a game changer, allowing very large + high-frequency projects to benefit from prebuilds as well. (And I also really like the `value / implementation cost` ratios of these two issues. 💯)

On the "Prebuild in progress" UX, I wonder whether it's better to:

[2022-09-05 14:11] loujaybee commented on #11716
We're blocked on this one based on some upstream Open VSX issues @akosyakov is going to chase those up and we'll pick this up when some of those issues are resolved.

[2022-09-05 14:12] loujaybee commented on #12268
Waiting for the deployment of this.

[2022-09-05 14:14] loujaybee commented on #7906
Deployed currently in pre-release, we need to move this now to an experimental rollout:

1. Setup for a phased release and rollout
2. Add analytics to track success during rollout

[2022-09-05 14:15] loujaybee commented on #12254
Current update: PR Is up:

- https://github.com/gitpod-io/gitpod/pull/12446

But we need to resolve some of the outstanding discussions, would be good to get @geropl and WebApp teams help to unblock this one 🙏

[2022-09-05 14:17] loujaybee commented on #12470
We have some reports of issues with programmatic opening of web views:

@mustard-mh will have a look (if possible an issue would be good to track 🙏)

[2022-09-05 14:22] loujaybee commented on #12107
We've added some analytics and observability for this error, and we can see the error. However, we don't currently have a clear view of how many users this is affecting right now. The next step is to get a clearer picture on the % of users that this is affecting right now.

@filiptronicek is going to take a closer look.

[2022-09-05 14:35] gtsiolis commented on #11911
Cc @loujaybee for visibility because of https://github.com/gitpod-io/gitpod/issues/11716 and in case this could help until https://github.com/gitpod-io/gitpod/issues/11716#issuecomment-1237097624 can be resolved.

[2022-09-05 14:36] #11373 closed

[2022-09-05 16:13] lucasvaltl opened #12655 "[Local Preview] Show Full Logs"
## Is your feature request related to a problem? Please describe
I used the local preview yesterday, and found it difficult to diagnose why it didn’t work. Getting to the logs is difficult

## Describe the behaviour you'd like
Being able to show the full logs (e.g. with a keypress or a flag) would be handy

## Context
- [Internal discussion](https://www.notion.so/Product-Engineering-Sync-2ebc3b847

[2022-09-05 17:28] #12497 closed

[2022-09-05 18:38] jeanp413 opened #12660 "Not able to get OAuth-like flow to callback VS Code in browser"
More context https://discord.com/channels/816244985187008514/1015881863929274378/1015881867301498880

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_3qgwa)

[2022-09-05 18:50] andreafalzetti opened #12661 "[JetBrains] Bring to foreground existing ThinClient window when connecting to a ws"
When opening multiple times the IntelliJ IDE for the same workspace, we currently, display an info popup saying that an existing IDE is already connected to the workspace. In `2022.3` build of JetBrains SDK we will have access to `ThinClientHandle#focusClientWindow` to request focus on the existing window.

[2022-09-05 19:05] #12475 closed

[2022-09-06 03:33] MaikoTan commented on #8171
![image](https://user-images.githubusercontent.com/19927330/188541310-c83ae815-dcb6-4503-8f57-c7091d1f25e8.png)

Is this resolved? Still it happens on my side, I tested with Chrome / Vivaldi / FireFox, all got the same result.

[2022-09-06 03:34] jenting commented on #12118
This is duplicated of #11854, and it's deployed already.
Closing this issue now. Feel free to reopen it once you still encounter it.
Thank you.

[2022-09-06 03:34] #12118 closed

[2022-09-06 04:51] jenting opened #12666 "[PVC] Open a fresh new workspace, it uses large node pool. Relaunch the workspace, it uses standard node pool"
### Bug description

The user workspace class preference is standard.
The prebuild was built with large workspace class.

Open a fresh new workspace from the prebuild project, and then the workspace uses the large node pool because the prebuild was built on a large node pool. Relaunch the workspace, and then it uses a standard node pool. So, the workspace pod can't be up.

This is because the Volu

[2022-09-06 05:41] #11453 closed

[2022-09-06 05:42] Pothulapati commented on #12655
👋🏼

 I think the most straightforward way to fix this is to remove the `--rm` flag from the documentation which [just cleans up the container](https://docs.docker.com/engine/reference/run/#clean-up---rm). And when ever the `run` command fails. We could just ask them to copy over the logs by running `docker container cp gitpod:logs.txt ./logs.txt`. WDYT?

[2022-09-06 07:08] geropl commented on #12416
Thank you @Torsten85 ! Based on that data I think the workspaces you're seeing there are Prebuilds. This might be if you are the one who registered the prebuild webhook.

Either:
 A) The workspace deletion is broken with minion (rather unlikely, but easy to reproduce + verify)
 B) Prebuild GC is not or mis-configured. Or it works as expected, but the period to keep them alive is too big.

[2022-09-06 07:23] geropl commented on #8952
To clarify:
 - this is a rate limit imposed by GitHub
 - AFAIU this might happen if you use multi-repo, where - depending on the size and structure/config - we are currently pulling a lot of (possibly redudant) info on each workspace start

[2022-09-06 07:27] geropl commented on #12065
Hey @jmls ,

could you share `server` logs right after this error appeared? Without it's hard to understand what might have happened.

[2022-09-06 07:29] geropl commented on #12554
@kylos101 Do you have some context on what might be going wrong here? 🤔 Could this be due to PVC rollout/testing?

@jldec Do you have a workspace ID handy?

[2022-09-06 07:29] lucasvaltl commented on #12655
Works for me :)

[2022-09-06 07:30] geropl commented on #12513
Hey @meenajaeiei , thank you for reporting.

I think the info about KOTS is the relevant part here.

@MrSimonEmms Could you help us setting up a self-hosted installation to debug this? Or maybe you have one handy? 🤔

[2022-09-06 07:33] geropl commented on #12290
@akosyakov Added team IDE as having an action "Delete Workspace" is more IDE territory I feel.

[2022-09-06 07:36] geropl commented on #12282
Related PR: https://github.com/gitpod-io/gitpod/pull/12386

@sagor999 I think this problem might be resolved by that, right? 🤔

[2022-09-06 07:45] lucasvaltl commented on #11792
Maybe the skateboard here is to always have a warning in the prerequisite check output in the CLI that warns that ARM / M1 macs are not supported. I.e. it is always there, wether you have a ARM based chip or not, those that don't have these chips can ignore this.

[2022-09-06 07:46] geropl opened #12672 "BillingMode: ignore personal OSS subscription"
Currently user on a UBP plan are not switching to BillingMode `usage-based` in case they own a OSS subscription.
We should filter that out, as UBP is strictly more powerful, and should never block anybody from using UBP.

[2022-09-06 07:48] geropl opened #12674 "Admin: Display BillingMode on User and Team details pages"
Currently it involves users participation to debug their Billing/Usage-based migration troubles. We should have a simple display on the User's/Team's admin page to inspect their current `BillingMode`.

[2022-09-06 07:51] geropl opened #12675 "Avoid double-charges when chargebee plans are cancelled and replaced with UBP"
For the migration case Chargebee -> UBP it makes sense to pro-rate paid plans on cancellation, to avoid people having to pay twice for a given period of time.

[2022-09-06 07:59] akosyakov opened #12676 "expose workspace and ephemeral disk space usage and limit to supervisor"
Right now in JB user see only disk usage of the entire node. We would like to show real disk space. I think it also makes sense to show usage of ephemeral disk space to improve awareness for users about differences between them.

[2022-09-06 08:18] MrSimonEmms commented on #12513
@geropl sure thing. Let me know when you want to schedule this and I'll get one ready for you

[2022-09-06 08:39] gtsiolis commented on #8171
This is still an issue, @MaikoTan!

[2022-09-06 08:52] AlexTugarev commented on #12065
@jmls and @geropl, I believe we've already investigated this issue on internal channels.

While the underlying issue was resolved, we've scheduled https://github.com/gitpod-io/gitpod/issues/12158 to improve inspection of those kind of issues by forwarding the necessary error states.

[2022-09-06 08:56] andreafalzetti commented on #12615
Closing as confirmed to be an upstream issue: https://youtrack.jetbrains.com/issue/CWM-6826/Remote-Development-dialog-content-disappear-when-moving-to-different-monitor

[2022-09-06 08:56] #12615 closed

[2022-09-06 09:06] MrSimonEmms opened #12678 "Create a `config` command"
As part of the refactored installation process, a key part of the application will be the configuration generation.

To that end, there should be a new `config` root command which everything will stem from. This will be about manipulating a config file that is then submitted to the Installer for rendering into the generated YAML that can be deployed to the Kubernetes cluster.

As part of this, we

[2022-09-06 09:43] #12637 closed

[2022-09-06 09:50] bangzhuzhu commented on #4889
@csweichel Is it possible to start a server in a docker without --privileged? I saw a lot of error msg like when I do such job

[2022-09-06 10:12] Torsten85 commented on #12416
@geropl Thanks. You are right... only the users who have registered the prebuild hook seeing the rapidly increasing folder count!

So I think its case "B". But how do I configure the prebuild garbage collector? I've just used kots to install everything.

[2022-09-06 10:53] jbduncan commented on #9208
I think it's worth re-opening this issue. :)

[2022-09-06 10:54] richardcase commented on #9208
Same here :+1:

[2022-09-06 10:57] gtsiolis commented on #9208
Thanks @jbduncan @richardcase! Let me reopen this and loop in @atduarte and @kylos101 from the workspace team in case this is something we'd like to work on. 🏓

[2022-09-06 11:01] ghuntley opened #12682 "Performance of opening a monorepo is very slow vs GitHub Codespaces"
### Objective

Open https://github.com/NixOS/nixpkgs in Gitpod and at the same time open https://github.com/NixOS/nixpkgs in GitHub codespaces.

GitHub Codepaces loads in <10 seconds.

Gitpod loads in > 90 seconds.

GitHub Codespaces provides the user with a detailed overview and logs of what it is doing.

Gitpod provides a bouncing logo and "initialising context"

[2022-09-06 11:12] ghuntley commented on #12682
Some extra perf stuff:

**Gitpod**

[code]

**GitHub Codespaces**

[code]

[2022-09-06 11:13] jldec opened #12684 "[UBP for individuals] Configure a usage limit for usage-based billing in personal settings"
The design and behavior of this UI should be very similar to the UBP usage limit input for teams.

- The limit value is pre-set to x credits, where x = the free credit allowance for individuals.
- Thie UI should allow the value to be set above (or equal to) the free credit allowance, but not below.

![Image](https://user-images.githubusercontent.com/849592/188622052-89620a39-f285-4b09-b628-c83a851

[2022-09-06 11:13] jldec opened #12685 "[UBP for individuals] Configure usage-based billing in personal settings"
This lives in the Billing page at https://gitpod.io/billing in your personal settings, where we already show your team billing account if active.

![Image](https://user-images.githubusercontent.com/849592/188619141-9a3b0040-6d10-4696-8ce0-bd97c06e2a8c.png)

---

A new section on the same page should show personal UBP billing as inactive when no payment method has been configured.

![Image](https:/

[2022-09-06 11:14] jldec opened #12686 "[UBP for individuals] Show personal usage when usage-based billing is configured"
This view will live at gitpod.io/usage. The UI should show a tab at the same top level as personal settings, similar to the way team usage lives alongside team settings.

Behavior of the personal usage view should mirror the team usage view, with similar selection of time-range for billed and unbilled usage, and the same details in each colum.

In addition to the "total" credits used, the UI shoul

[2022-09-06 12:13] geropl opened #12690 "TEst issue A"

[2022-09-06 12:18] #12124 closed

[2022-09-06 12:52] mads-hartmann commented on #12628
It looks like Werft is restarting quite often:

[code]

Looking at the logs:

[code]

We see quite a few readiness and liveness probes failing ([source](https://cloudlogging.app.goo.gl/y7garQUydamXAoJKA))

![Image](https://user-images.githubusercontent.com/83561/188640133-1272aa50-4a56-4a66-a54e-c534a838e912.png)

[2022-09-06 14:05] kylos101 opened #12700 "Workspace start is stuck on "Allocating resources""
### Bug description

We intermittently see workspaces getting stuck forever on:
![image](https://user-images.githubusercontent.com/1272076/188655788-bc942e41-46ea-418a-9128-90180896498b.png)

### Steps to reproduce

Not 100%, but...

But, we can try recreating by:
1. making an ephemeral cluster

And then looping through this a few times, to see if the issue can be recreated:
1. cordoning the XL no

[2022-09-06 14:15] svenefftinge commented on #12684
The usage limit is unrelated to the amount of credits we grant on for free. I.e. It should be always 0 when there is no pay-as-you-go plan active. We should think of the usage limit as a debit limit.

[2022-09-06 14:18] Pothulapati commented on #12015
👋

Un-assigning myself as this is now planned to be done differently with the new installer env abstraction. Happy to take it up in the new path too if you haven't already made progress @MrSimonEmms

[2022-09-06 14:53] jeanp413 commented on #12254
Closing this as it got deployed

[2022-09-06 14:53] #12254 closed

[2022-09-06 15:43] kylos101 commented on #11318
Consider using the identify related to this [user token](https://github.com/gitpod-io/gitpod/blob/bf59b02156086e9422266d244657f62b5d53e8a2/test/tests/workspace/contexts_test.go#L98)

[2022-09-06 17:02] loujaybee opened #12704 "Customise onboarding (Customise when: Gitpod release and Gitpod Walkthrough are shown)"
**Context**
There are some cases where users might not want the changelog (for Open Source, and Self-Hosted, etc).

**Use Cases**
1. For optimised "onboarding" flows in Open-Source or Self-Hosted
2. When hopping hosts, Self-Hosted installs or onto SaaS (you will see a changelog multiple times)
3. When creating a custom onboarding flow into Gitpod in Self-Hosted - Self-Hosted customers often have a

[2022-09-06 19:08] #12072 closed

[2022-09-06 19:13] kylos101 commented on #12282
@geropl #12386 is for prebuilds, but, this issue is for regular workspaces. Could you add additional logging to the webapp side, so that when calling stop, the reason for stopping is also logged? :pray:

[2022-09-06 19:14] lovettchris commented on #912
I see, the connection between prebuilds, init, and workspaces was not super clear in my mind, but on re-reading that page I can see it now.  It still would have been nice to include some sort of warning in the terminal window saying why my init task was being ignored. That would have prompted me to read this page more closely and understand the conneciton.

[2022-09-06 19:15] kylos101 commented on #11852
FYI, we need webapp to add logging, so that we can know "why" stop workspace is being called via https://github.com/gitpod-io/gitpod/issues/12282. Once that is done, then we can proceed with this particular issue.

[2022-09-06 19:26] kylos101 commented on #12345
Moving this to scheduled, the thought being, we can tackle this two ways:
1. Add more logs and traces around the usage for gsutil when initiallizing content, and inspect calls that fail where we're potentially eating the failure (causing us to wait to timeout for 60m).
2. Try starting 10 workspaces from the Gitpod repo via prebuild, if one of them hangs, consider using pprof to see "where we stopp

[2022-09-06 19:36] kylos101 opened #12708 "Recommend a workspace-class that is smaller than g1-standard and test feasibility"
## Is your feature request related to a problem? Please describe

From a harvester preview VM or workspace-preview, we want to see if a small workspace class (smaller than g1-standard) performs well enough for simple workloads. If it is a good experience, then, we'd want to amend webapp and workspace, to support a new "small" workspace class, prior to enabling UBP and workspace classes for individ

[2022-09-06 19:46] adrienthebo opened #12709 "Epic: Reference architecture Beta release"
### Summary

This epic tracks outstanding work for the beta release of the GKE and EKS reference architectures.

Follow-up GA epic: https://github.com/gitpod-io/gitpod/issues/12714

### Context

Feedback from end users deploying the reference architecture has identified potential pitfalls and areas of improvement. These issues are to be tracked in a single location so we have an agreed upon defini

[2022-09-06 20:04] aledbf commented on #12345
Before considering this, please check if the download is the cause of the slow behavior.

I would focus not on the download but on what we do after that, meaning, decompress and run `chown`.

[2022-09-06 20:10] kylos101 commented on #12666
Reassigning to @Furisto given [this thread](https://gitpod.slack.com/archives/C02F19UUW6S/p1662474919716689?thread_ts=1662439921.990069&cid=C02F19UUW6S)

[2022-09-06 21:07] mickmister opened #12713 "Feature Request: Show workspace Name/Description in the "workspace timed out" page"
## Is your feature request related to a problem? Please describe

At the moment, the name of a workspace is only visible in the dashboard. You can't see it in the editor view, nor the "workspace timed out" page.

## Describe the behaviour you'd like

I'd like for the workspace name be at the top of the editor view (possibly in the "title" of the HTML doc header as well), and in the "workspace time

[2022-09-06 21:11] kylos101 commented on #5534
:wave:  hey there, please refer to https://github.com/gitpod-io/gitpod/issues/7489 as the source of truth for supporting more regions than just EU and US. We are closing this issue to consolidate to the single issue.

[2022-09-06 21:11] #5534 closed

[2022-09-06 21:11] kylos101 commented on #6139
:wave:  hey there, please refer to https://github.com/gitpod-io/gitpod/issues/7489 as the source of truth for supporting more regions than just EU and US. We are closing this issue to consolidate to the single issue.

[2022-09-06 21:11] #6139 closed

[2022-09-06 21:31] mbrevoort commented on #12708
Overall we are trying to assess if there is a viable workspace resource size below `g1-standard` that could support development of what type of projects. The resources described above seem like a great place to start.

[2022-09-06 21:33] mbrevoort commented on #12708
In addition, how would such a resource profile affect pod scheduling, resource utilization and noisy neighbor conditions?

[2022-09-06 22:20] #11226 closed

[2022-09-06 22:47] adrienthebo opened #12714 "Epic: [Self-Hosted] reference architecture GA release"
## Summary

This epic tracks outstanding work for the general availability release of the GKE and EKS reference architectures.

Preceding epic: https://github.com/gitpod-io/gitpod/issues/12709

## Acceptance criteria

This is a placeholder issue, acceptance criteria TBD

## Tasks

**General**

- [ ] #13287
- [x] #13833
- [x] #13834
- [x] #13832
- [ ]  https://github.com/gitpod-io/gitpod/issues/124

[2022-09-06 23:16] adrienthebo opened #12715 "[self-hosted/docs] update reference architecture Kubernetes versions to track updates"
## Is your feature request related to a problem? Please describe

At present the EKS and GKE installation guides use hardcoded Kubernetes versions when creating the underlying Kubernetes clusters. While `eksctl` accepts a Kubernetes version number that will pick up the latest patch release (eg `1.22`) a better mechanism is needed to ensure that the reference architecture version stays current.

##

[2022-09-07 00:21] jenting commented on #12464
From my observation, after workspace ready, the content is
- Without PVC: from-prebuild
- With PVC: from-other

[2022-09-07 00:23] kylos101 commented on #12628
Nice detective work, @mads-hartmann ! 🚀 Do we limit the CPU or memory for werft pods? In other words, is it possible they might need more resources?

[2022-09-07 01:28] kylos101 commented on #12345
@aledbf good point Re: starting many workspaces at once! We should be able to try that at once by starting 5-6 workspaces at the same time (occupying a node) for the Gitpod repo when using the large workspace class.

[2022-09-07 02:16] kylos101 commented on #12560
@jenting are you sure 1 (SupervisorRef) is still needed? I am skeptical of it. Also, I believe 3 (WorkspaceLocation) and 4 (CheckoutLocation) were resolved in #12567.

[2022-09-07 02:17] kylos101 commented on #12560
Also, how does this related to `integration test`? I believe it would be better if loadgen and integration test changes were tracked in separate issues.

[2022-09-07 02:19] jenting commented on #12560
Remove the `SupervisorRef`.

I think the loadgen test and integration test do not require the parameters `WorkspaceLocation` and `CheckoutLocation` in the start workspace request. These two parameters should be _optional_.

[2022-09-07 02:54] kylos101 commented on #12560
Why?

In other words, what is the side effect if we do not do this issue?

[2022-09-07 04:00] kylos101 opened #12717 "[werft] sometimes Harvester VMs timeout, causing werft builds to fail"
### Bug description

Given this [job](https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220907031337.0/raw), and it's [machine](https://harvester.gitpod-dev.com/dashboard/c/local/harvester/kubevirt.io.virtualmachine/preview-wk-inte-te7319239f65/wk-inte-te7319239f65#basics), it looks like it has been starting for 33 minutes.

From what I can tell, the VM pod was never scheduled to a node

[2022-09-07 04:02] kylos101 commented on #12717
Related:
https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220907015739.0/raw
https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220907015734.0/raw
https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220907013042.0/raw
https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220907013036.0/raw

[2022-09-07 04:04] jenting commented on #12666
Note: it happens _only_ with the PVC feature flag.

[2022-09-07 04:06] kylos101 commented on #12629
Another: https://werft.gitpod-dev.com/job/gitpod-build-wk-inte-test-20220907030249.0/raw

[2022-09-07 04:35] jenting opened #12718 "[PVC] Prebuild without PVC, user A account with PVC and trigger rebuild, user B account without PVC"
### Bug description

The prebuild project _without_ PVC.

The user A account _with_ PVC, add new branch X and commit, push branch X to the repo, trigger prebuild on Gitpod. The prebuild runs _without_ PVC.
The user B account _without_ PVC, open that branch X, the user B uses PVC.

### Steps to reproduce

The prebuild projects _without_ PVC.

- The user A account _with_ PVC.
- The user B account _w

[2022-09-07 07:10] #7824 closed

[2022-09-07 07:16] akosyakov commented on #12708
java, golang, typescript. keep in mind hungry depends on size and complexity of the project, not extensions itself

[2022-09-07 07:16] mads-hartmann commented on #12717
Investigation happening in the internal Slack channel inc-2022-09-07-internal-unable-to-create-preview-environment and this PR might cause VMs to start again https://github.com/gitpod-io/gitpod/pull/12719

[2022-09-07 07:18] utam0k commented on #12717
@mads-hartmann There is no problem. These all VMs are temporary VMs for running integration tests

[2022-09-07 07:51] jenting commented on #11713
We still see this in the `us64` cluster.

[2022-09-07 07:52] meysholdt opened #12721 "My Workspace is sooo slow"
Dear support team,

My workspace is soooo slow. Please help.

Regards,
  A passionate user

P.s. This issue is part of an exercise. Please let the participants of the exercise respond.

[2022-09-07 07:54] svenefftinge opened #12722 "[UBP] Have a more helpful paywall"
With UBP when I run out of credits I get a button to go to the dashboard.
Got the message below although I'm the owner of the team.
<img width="556" alt="Screenshot 2022-09-07 at 13 56 09" src="https://user-images.githubusercontent.com/372735/188872616-c507df4c-6cf9-4f5a-875b-f642677e0941.png">

Would be great to point me to the respective billing page.

[2022-09-07 08:29] andrew-farries commented on #12721
We are investigating the incident and will reach out again when we have update.

[2022-09-07 08:45] andrew-farries commented on #12721
We have mitigated the incident and will be monitoring until we are confident that everything is calm. Apologies for the trouble, and have a good day.

[2022-09-07 08:54] #11915 closed

[2022-09-07 08:57] Mosaab-Emam commented on #1705
For anyone still facing this problem, restarting the workspace will not work. You will have to delete from workspaces and create it again, then gitpod will build the docker image.

[2022-09-07 09:01] incident-io[bot] opened #12725 "Test follow-up action"
This is just a test

----

_This action was created from [Incident 206](https://app.incident.io/incidents/206?ctx=4bxXPRdJ4Y741XiYLKkuL8kpxZjcppuvYAwiXbkvy%2Bel%2BbdpgkQsIJ9IvywDu0nsUdiGr1q79w8Fb2pRlJSiXjfmIiHEOPMI8KTprxmdYxXjiang5NflPUZvzf5llz3zzTkoUj456ij17b4%3D) by Andrea Falzetti, using [incident.io](https://app.incident.io) 🔥_

[2022-09-07 09:01] andreafalzetti commented on #12725
Closing as just a test

[2022-09-07 09:01] #12725 closed

[2022-09-07 09:06] loujaybee commented on #12466
Is this related to or duplicating:
- https://github.com/gitpod-io/gitpod/issues/898

Also somewhat related to:
- https://github.com/gitpod-io/gitpod/issues/11355

[2022-09-07 09:16] #12721 closed

[2022-09-07 10:04] Pothulapati commented on #12084
So, Digging more on the specific logs. It seems more to be a issue around `fedora` and filesystem mounts inside kuberentes. Similar issues have been reported with other minimal kubernetes tools as per https://github.com/kubernetes-sigs/kind/issues/2411

The work around here seems to be to manually mounting that into the container. I'll update the specific user on the same, and see from there!

[2022-09-07 10:47] HuaxingL opened #12728 "User restriction"
### Bug description

The email address has been set on the KOT config page, users with other email addresses can still register

### Steps to reproduce

As shown in the screenshot below:
![image](https://user-images.githubusercontent.com/111476113/188859746-e19c5d0b-977b-4156-a0f2-e942c367f923.png)
![image](https://user-images.githubusercontent.com/111476113/188860113-3b1588ff-d1f5-4f7a-a106-d3422

[2022-09-07 12:42] mbrevoort opened #12735 "Notification when workspace has started"
## Is your feature request related to a problem? Please describe
Sometimes workspaces take a little while to start, and it's convenient to go do something else meanwhile rather than staring at the loading screen. But it's easy to get distracted and be burdened to continue to check on the progress.

## Describe the behaviour you'd like
If the browser tab is unfocused when the workspace successfully

[2022-09-07 13:52] mads-hartmann commented on #12628
Looking at the logs from the pod before it restarted using the following command

[code]

It looks like it might be the `github-integration` plugin which is getting data it doesn't know how to parse, and then decides to `exit 1`

[code]

[2022-09-07 13:58] mads-hartmann commented on #12628
Looking at the last 30 days this has happened 120 times, so it isn't a regression in the latest version fo Werft which was deployed 8 days ago.

[Source](https://cloudlogging.app.goo.gl/g37bPBqUyyWBxXip8)

![Screenshot 2022-09-07 at 15 57 50](https://user-images.githubusercontent.com/83561/188897039-88d8c740-053d-4b25-8ad6-95c1f64870f2.png)

[2022-09-07 14:15] jimmybrancaccio opened #12737 "Change Color of Verify User Button"
## Is your feature request related to a problem? Please describe

This isn't necessarily a problem but rather an improvement. I noticed myself glazing over the new Verify User button because of it's current coloring.

## Describe the behaviour you'd like

In order to differentiate the Verify User button from the Block User and Delete User buttons I believe it would be helpful to give it a blue col

[2022-09-07 14:51] MrSimonEmms opened #12738 "The BlockNewUsers param is no longer being respected by server"
### Bug description

The Installer has a `BlockNewUsers` block which is passed into the Server's config map. The purpose of this is to offer measure of security to self-hosted owners who do not wish for their instance to be used by people not authorised.

### Steps to reproduce

### 1. In KOTS, enable the user management option and enter your domain (eg, `simonemms.com`)

![image](https://user-ima

[2022-09-07 15:40] geropl opened #12739 "Proxy ConfigCat config in caddy"
Currently, we're using ConfigCat client libraries from a wide variety of environments. All those clients periodically go to https://configcat.com/ and fetch the config from there directly.

Now Team IDE plans to/already uses ConfigCat to rollout features of with different lifecycles then the rest of Gitpod (delivered via marketplace to clients with different upgrade strategies vs. single version o

[2022-09-07 15:44] geropl commented on #12739
BTW here's an example of a Caddy plugin in our codebase: https://github.com/gitpod-io/gitpod/blob/242cc634adf0c8ec2594259554965694fad4a08a/components/proxy/plugins/headlesslogdownload/headless_log_download.go#L42

[2022-09-07 16:16] nandajavarma opened #12740 "Update terraform modules to support nodepool for headless workspaces"
Update the terraform module to reflect the changes made to the reference architecture via [this PR](https://github.com/gitpod-io/website/pull/2652).

[2022-09-07 16:22] svenefftinge commented on #12675
Could we maybe not store an attributionID if the billingMode is not UBP? That way they would not end up in the ledger table.

[2022-09-07 16:34] svenefftinge opened #12741 "[UBP] Model free plan and other subscriptions"
The current free plan is 50h per month. We need to make sure that new users get a monthly credit entry for that.

### Design Proposal

We will enhance the `CostCenter` type to contain information about a `billingStrategy`. There will initially be two strategies: `stripe`, `other`.

All cost centers with a `stripe` strategy are managed by stripe. So we will treat them as we do now (i.e. update the

[2022-09-07 18:31] kylos101 commented on #11760
@jeanp413 we are going to try and resolve this issue via https://github.com/gitpod-io/gitpod/issues/12453. Just wanted to give you a heads up! We'll likely try and do via workspacekit. Internal [link](https://github.com/gitpod-io/gitpod-packer-gcp-image/issues/162#issuecomment-1238744081) for reference.

[2022-09-07 18:31] #11760 closed

[2022-09-07 18:34] kylos101 commented on #12453
:wave: hi, we might be able to resolve this issue by making a change to our `workspacekit` component, by setting soft limits for the workspace, using the [prlimit syscall](https://linux.die.net/man/2/prlimit). For example, set `RLIMIT_CORE` to 0. [Reference](https://linux.die.net/man/2/prlimit#:~:text=to%20this%20size.-,RLIMIT_CPU,-CPU%20time%20limit).

I've added this issue to our team's backlog,

[2022-09-07 19:14] kylos101 opened #12744 "Performance test PVC with a single node saturated with workspaces"
## Is your feature request related to a problem? Please describe
We should test how a node behaves when it is full of workspaces using PVCs, where there is disk activity in the workspaces.

## Describe the behaviour you'd like
1. Start a regular workspace in the cluster using PVC on a single node.
2. Cordon the other two nodes
3. Run loadgen, once to fill half of the node, ~9 workspaces
4. Begin t

[2022-09-07 19:36] kylos101 opened #12745 "Use ConfigCat to throttle adoption of PVC"
## Is your feature request related to a problem? Please describe
Presently, we rely on a few things to determine if a workspace should start with PVC.

1. They are restoring [a workspace that previously used PVC](https://github.com/gitpod-io/gitpod/blob/1fe5162c9feb7adc088ca9ad1de4dd9ed1d35260/components/server/src/workspace/config-provider.ts#L130-L136) (either from a prebuild or prior run of a r

[2022-09-07 20:03] Furisto commented on #12453
I can disable the core dumps for the workspace with setrlimit, but I think we would want to preserve the option to create core dumps if the user wants it. However once the value is set by workspacekit, I get "Operation not permitted" when using ulimit from within the workspace. Allowing prlimit64 and setlimit in the seccomp profile does not have any effect.

[2022-09-07 21:22] kylos101 opened #12747 "Performance test PVC with a cluster saturated with workspaces"
## Is your feature request related to a problem? Please describe

We should test how a node behaves when it is full of workspaces using PVCs, where there is disk activity in the workspaces, and many workspaces are starting, running, and stopping.

The # of regular workspaces we decide to run as part of this test should be 125% of the peek volume we saw in our EU cluster over the last month.

## De

[2022-09-07 21:46] kylos101 opened #12748 "Delete must not delete cluster if there are no unbound PVCs"

[2022-09-07 21:51] kylos101 commented on #10612
@sagor999 is there an ETA for upstream to release new driver?

[2022-09-07 23:52] sagor999 commented on #10612
Not as far as I know... :( Just have to wait, or we can build it ourselves and use our own version until then.

[2022-09-08 02:32] skrmain commented on #12581
Hi @gtsiolis,

I have made the change and raised the PR.

[2022-09-08 05:51] svenefftinge commented on #12741
The expiration algorithm could work as follows:
`Max(0, <currentBalance - SumOfNonExpiredCredits>) = expiration debit`

Example (Imagine we are at 2023-03-01):

| Credits  | ExpirationDate | Description | Date |
| ------------- | ------------- | ---------- | ---- |
| 50  |  2023-02-01  | Free credits January 2023 | 2023-01-01 |
| -10  |     | Coding Session | 2023-01-03 |
| 100  |  2023-08-01  | S

[2022-09-08 06:01] svenefftinge commented on #12741
The subscription data that drives the loop could look like this:

[code]

[2022-09-08 06:52] easyCZ commented on #12739
The URL for the config is `https://cdn-global.configcat.com/configuration-files/<PUBLIC_API_KEY>/config_v5.json`

I believe the client library understands `etag` and 302 responses which should be used in case the config has not changed since the last etag (etag is used as a hash of the contents more-less)

[2022-09-08 06:57] jenting commented on #12494
I verified this issue with PR #12734, and it works well.

[2022-09-08 08:10] geropl commented on #12672
Instead, people default to usage-based in that case.

"Professional Open-Source" is translated to our Usage-Based model separately.

/cc @svenefftinge

[2022-09-08 08:11] geropl commented on #12064
@andrew-farries I'm unsure in what state this issue is in. Can we close it? :thinking:

[2022-09-08 08:15] #12672 closed

[2022-09-08 08:25] HuaxingL opened #12757 "User restriction configuration does not take effect"
### Bug description

After setting the email address on the KOTS configuration page, it can still register the gitpod instance as another email address

### Steps to reproduce

1.Set the email address on the KOTS configuration page and save it, the example is as follows：
![image](https://user-images.githubusercontent.com/111476113/189072809-5c42f2b9-aec0-4f3b-9f8c-200e3bb91894.png)
2.Sign in with

[2022-09-08 08:26] #12728 closed

[2022-09-08 08:43] geropl opened #12758 "BillingMode: If you're blocked to reach UBP by Team Seats/Team Subscriptions: Render Owner/Team Names in Billing(+ Admin) UI"
In cases where users cannot gain UBP (Free Tier) because they still are on a Chargebee Team Seat/Team Subscription: Render the names of those in the UI under:
 - personal billing
 - admin: user details

Internal example: [Slack link](https://gitpod.slack.com/archives/C02EN94AEPL/p1662626011955119?thread_ts=1662625572.245669&cid=C02EN94AEPL)

[2022-09-08 08:48] andrew-farries commented on #12064
Yes, let's close it. It's obsolete now given the move to the ledger-based reconciler.

[2022-09-08 08:48] #12064 closed

[2022-09-08 08:53] ghuntley commented on #6139
This need reopening

[2022-09-08 08:54] ghuntley commented on #7489
This needs reopening

[2022-09-08 09:13] jankeromnes commented on #12758
Thanks for filing this issue @geropl! I agree that showing "(legacy) Team Plan owner" or "(new) Team name" would be super helpful to remove any assigned team plan seat you no longer want.

## Additional note

In personal billing, we indicate any team plan memberships (from both legacy and new team plans) with a simple "Team seat assigned" label in https://gitpod.io/plans :

<img width="600" alt="S

[2022-09-08 09:16] geropl commented on #12758
@jankeromnes Thank you, that make sense.

I think that in addition, we should also show that list on the "Billing" page in [the "canUpgradeToUBB" case](https://github.com/gitpod-io/gitpod/blob/2814f385bc20036ef193b38bd717d0053c1b05ef/components/server/ee/src/billing/billing-mode.ts#L155-L159).

[2022-09-08 10:05] MrSimonEmms commented on #12757
This is a duplicate of #12738

[2022-09-08 10:06] gtsiolis commented on #12738
Ideally, we could also move this configuration to the admin dashboard instead of relying on KOTS. 💡

[2022-09-08 10:08] MrSimonEmms commented on #12738
@gtsiolis yes, that's the long-term plan - still need to get the bug fixed though

[2022-09-08 10:10] #12757 closed

[2022-09-08 10:12] pawlean commented on #7489
Hey @ghuntley! This issue is open 🙌 Unless I'm misunderstanding what you mean something else? 🦩

[2022-09-08 10:17] loujaybee commented on #7489
There seems to be some confusion that is related to the closing of the following issues:

- https://github.com/gitpod-io/gitpod/issues/5534
- https://github.com/gitpod-io/gitpod/issues/6139

Please note: **This is not a an update of the status of this issue (closing or opening).** The reason for the consolidation is that we now have a proliferation of different regional issues being raised by user

[2022-09-08 10:18] loujaybee commented on #6139
Please see [related comment](https://github.com/gitpod-io/gitpod/issues/7489#issuecomment-1240515469) on #[7489](https://github.com/gitpod-io/gitpod/issues/7489), copied below:

---

There seems to be some confusion that is related to the closing of the following issues:

https://github.com/gitpod-io/gitpod/issues/5534
https://github.com/gitpod-io/gitpod/issues/6139
Please note: This is not a an u

[2022-09-08 10:19] loujaybee commented on #5534
Please see [related comment](https://github.com/gitpod-io/gitpod/issues/7489#issuecomment-1240515469) on #[7489](https://github.com/gitpod-io/gitpod/issues/7489), copied below:

---

There seems to be some confusion that is related to the closing of the following issues:

- https://github.com/gitpod-io/gitpod/issues/5534
- https://github.com/gitpod-io/gitpod/issues/6139

Please note: This is not a

[2022-09-08 10:41] Pothulapati commented on #9611
@corneliusludmann Is this important?

I think the main blocker for this is the that when a user uses the cert-manager options, We need to load the `cert-manager` CA, and hence we don't provide this option all together.

We can fix this by, Expanding the internal cert loading options to load a list of certificates and not just one.

[2022-09-08 12:11] jankeromnes opened #12768 "[SLO] `createWorkspace` and `startWorkspace` API methods are too slow"
### Bug description

We've recently implemented these three SLOs:

- During each month, we'll serve 99% of `createWorkspace` requests successfully within 10 seconds
- During each month, we'll serve 99% of `startWorkspace` requests successfully within 10 seconds
- During each month, we'll serve 99% of `getWorkspaces` requests successfully within 5 seconds

That's because creating workspaces, starti

[2022-09-08 12:17] Furisto commented on #12708
Tested this with the gitpod-io/website repository. Running tests and making code changes works well but trying to build the website leads to OOM kills or network disconnects due to not being enough memory available.

[2022-09-08 13:53] jankeromnes commented on #12768
@gitpod-io/engineering-workspace What is the expected response time (or SLO) of `/ws-manager/startWorkspace`?

See also [this comment](https://gitpod.slack.com/archives/C02EN94AEPL/p1662639651940899?thread_ts=1662637018.194149&cid=C02EN94AEPL) (internal) by @csweichel:

[2022-09-08 14:19] meysholdt opened #12774 "My Workspace is sooo slow"
Dear support team,

My workspace is soooo slow. Please help.

Regards,
  A passionate user

P.s. This issue is part of an exercise. Please let the participants of the exercise respond.

[2022-09-08 14:58] jimmybrancaccio commented on #12774
**THIS IS AN EXAMPLE INCIDENT RESPONSE - DISREGARD**

Can you let me know what workspace is affected by providing the ID of the workspace? May you also provide me with steps I can use to replicate this slowness. I'd also like to make you aware of an on-going incident that may be related to this slowness you're experiencing. You may read and subscribe to the incident to keep up-to-date on it here:

[2022-09-08 15:18] jimmybrancaccio commented on #12774
**THIS IS AN EXAMPLE INCIDENT RESPONSE - DISREGARD**

We were able to identify the issue and have put a fix into place.

[2022-09-08 15:18] #12774 closed

[2022-09-08 15:24] kylos101 commented on #12768
Hi @jankeromnes , we don't have one currently, but, thanks for the idea. :smile:

Can you share a link to the Honeycomb trace you mentioned above? I assume you're referring to a trace from production. 214s, is about 3.5 minutes, which would make sense if we were scaling up a node at that time to schedule the related workspace pod.

To confirm it was node scale-up, with the instanceId, from the `wo

[2022-09-08 15:30] kylos101 commented on #12453
Okay, thanks for the heads up, @Furisto . Perhaps this is something to socialize next week with @utam0k as part of Breakdown. I'll check with @aledbf and @sagor999 today too, to see if they have ideas.

[2022-09-08 15:35] geropl commented on #12768
I think conceptually, the ideal case would be if ws-manager would handle that call in an async fashion. :sun_with_face:

@jankeromnes But until we're there, we could try to _exclude_ all a) time and b) error cases that are introduced by `ws-manager` connections. With that we'd still have an imperfect picture (because we'e loose insight there), but we'd put the focus on the WebApp parts for starter

[2022-09-08 15:43] aledbf commented on #12453
Disabling core files hides the issue, some process is restarting and generating those files. I understand this is an issue with disk space but maybe we need to just disable it (as first step) but we also need to report something to the user. The later can be after removing the noise of the core files.

[2022-09-08 17:30] kylos101 commented on #12554
@geropl I do not. Maybe?

This problem appears to be isolated to preview environments, so maybe a bad configuration.

For example, it works in production (this is a restoration of a snapshot):
https://indigo-galliform-h9ipi64ih2w.ws-us64.gitpod.io/
![image](https://user-images.githubusercontent.com/1272076/189187000-a044397a-3859-4e1a-9fd5-8e778ba0ad8a.png)

But, it does not work in preview enviro

[2022-09-08 17:36] kylos101 commented on #12554
Ah, I think this may be related to OTS, hint `cannot inject initializer secrets`. [Ref.](https://github.com/gitpod-io/gitpod/commit/8248935e445bd0189d6c3b1145b57d1d923f79a9)

[2022-09-08 17:37] kylos101 commented on #12554
I just added this to the related epic, https://github.com/gitpod-io/gitpod/issues/10134, we haven't enabled OTS in production, and don't plan too soon. But, when we do, we'll tackle this issue as part of that epic.

[2022-09-08 18:08] kylos101 commented on #12708
@mbrevoort good questions!

The pods would be scheduled to a dedicated node pool for the small workspace class, so, they wouldn't impact pods being scheduled to other node pools (like standard and large).

Initially we'd control density via memory requests, but, may want to consider CPU requests, too. For example, memory requests would be 2Gi, and CPU might be 1 core, or .5 cores, etc.

I do wonde

[2022-09-08 18:09] kylos101 commented on #12708
Okay, good to know, @Furisto !  Bummed to hear, though. :wink:

[2022-09-08 18:14] kylos101 commented on #10134
Added: https://github.com/gitpod-io/gitpod/issues/12554 to the epic

[2022-09-08 18:34] sagor999 commented on #12768
This is most probably the case when we are waiting for new node to spin up and waiting for Pod to actually become scheduled (as Chris mentioned).
StartWorkspace call has a 10min timeout as well.
I am not sure what the impact will be if we were not to wait for the Pod to become scheduled before returning from that function.

[2022-09-08 19:00] aledbf commented on #12453
I think that's fine for the first step. This issue is mostly related to brew and npm that run as gitpod.

[2022-09-08 19:07] kylos101 commented on #12282
Hey @geropl , can you help set our expectations on when this may be able to join other Scheduled webapp work? :pray:

[2022-09-08 19:08] kylos101 commented on #11852
Added Blocked label, because we're waiting for webapp to schedule and do logging in https://github.com/gitpod-io/gitpod/issues/12282

[2022-09-08 19:14] kylos101 commented on #12453
@Furisto can you share how the change might be done? I assume in `workspacekit` but am not sure how. For example, would you use another syscall, other than `setrlimit`? I ask so that we can schedule this related work. :bow:

[2022-09-08 19:21] kylos101 commented on #12700
Unfortunately, we missed the trace capture for this...

But, we can try recreating by:
1. making an ephemeral cluster

And then looping through this a few times, to see if the issue can be recreated:
1. cordoning the XL nodes
2. try starting a workspace
3. the node will scale up, and either the issue will happen or not
4. stop workspace
5. go back to step 1 (cordoning node)

[2022-09-08 19:44] adrienthebo opened #12782 "[self-hosted/docs] GKE (and potentially EKS) scale to zero with node labels might not scale up"
## Is your feature request related to a problem? Please describe

Placeholder issue

## Additional context

- [Cluster autoscaler FAQ: How can I scale a node group to 0?](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-can-i-scale-a-node-group-to-0)
- [Cluster Autoscaler scaling from 0 on AWS EKS stops working after CA pod is restarted](https://github.com/kuberne

[2022-09-08 20:02] MangelMaxime opened #12783 "Gitpod and Vite UX is not great"
### Objective

Hello,

I am using Gitpod and prefer to use the VSCode Desktop for a better experience with the shortcuts/terminal.

When using Vite with Gitpod we need to specify some setting for HMR to work correctly:

[code]

The problem is that when running Gitpod inside of VSCode Desktop, then Gitpod open the application on `localhost` and then Vite HMR is unable to connect to the websocket.

[2022-09-08 20:07] MangelMaxime commented on #12783
When using VSCode Desktop, this is the configuration which works:

[code]

[2022-09-08 20:11] #8024 closed

[2022-09-08 20:16] kylos101 commented on #12718
:wave:  @jenting I just tested this, and got same result. Here are supporting details:

project has pvc disabled, https://gitpod.io/t/prebuild-experiment/prebuild-experiment

user has PVC enabled, https://gitpod.io/admin/users/8df3495b-685d-46e0-9820-009cc3b4afd8

prebuild did not use PVC, which is expected, because it's disabled on the project. Details:
[code]

Same user has PVC disabled now

PVC

[2022-09-08 20:46] andreafalzetti opened #12786 "Update gradle-intellij-plugin to 1.9.0"
## Description

When building the `gateway-plugin` we get a reminder to update the `gradle-intellij-plugin` to `1.9.0` (we currently run the `1.7.0`)

[code]

Currently, updating to `1.9.0` breaks the build due to this issue: https://github.com/JetBrains/gradle-intellij-plugin/issues/1099

In [this PR](https://github.com/gitpod-io/gitpod/pull/13018/files) an update to `1.8.1` was tested successful

[2022-09-08 20:49] #12666 closed

[2022-09-08 20:49] #12494 closed

[2022-09-09 01:59] jenting commented on #12718
I think when open the workspace, we should check the prebuild project PVC enabled or the user's PVC enabled.

If one of the condition hits, we send start workspace request with feature flag `persistent_volume_claim`. Otherwise, the start workspace request must not contains feature flag `persistent_volume_claim`.

[2022-09-09 03:06] axonasif opened #12791 ".gitpod.yml:vscode:extensions are not auto installed on Desktop VSCode"
### Bug description

I have added an extension here:
https://github.com/axonasif/test/blob/fed82b192cddb3339dfce36b1d07d53a5580ae22/.gitpod.yml#L6

However it doesn't get installed when I have VSCode Desktop selected as the default IDE on my https://gitpod.io/preferences

### Steps to reproduce

- Follow: https://www.gitpod.io/docs/ides-and-editors/vscode-extensions#installing-an-extension
- Follo

[2022-09-09 03:33] kylos101 commented on #11713
Moved back to breakdown, since we're still seeing in `us64`, we should talk about a strategy in refinement on how to proceed, and update the issue description, prior to moving this back to scheduled.

[2022-09-09 03:47] kylos101 commented on #12718
:wave: @jenting ,

A couple questions:
1. Do you mean prebuild workspace or regular workspace?
2. Why check prebuild project PVC setting, or user PVC feature flag?

Considerations:
1. the PVC setting on the project (we check this now, it controls if the prebuild runs with PVC or not)
2. the PVC feature flag on the user (we check this now, it controls if new regular workspaces start with PVC or not

[2022-09-09 03:55] kylos101 commented on #12021
@utam0k can you share? 🙏

[2022-09-09 03:58] kylos101 commented on #10612
@sagor999 is there a PR for which we can inquire about the release? I ask because I think @jenting did similar last time...and then the release was cut rather quickly. :pray:

[2022-09-09 04:00] jenting commented on #10612
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/1017#issuecomment-1227370762

[2022-09-09 04:04] jenting commented on #12718
regular workspace

Because if the project was built with PVC, then for any user who open the regular workspace from that prebuild will force to use PVC.

Because the user enables PVC, open workspace from prebuild (with PVC or without PVC) or from git clone, the regular workspace should use PVC.

[2022-09-09 04:36] kylos101 commented on #12718
I like your idea, @jenting . My only concern with user feature flag in its current form, is that it is hard to roll out. For example, we have to set it via Admin page, or SQL query.

Ideally we'd set the `persistent_volume_claim` feature flag for regular workspace start from the `server` component using rules that we define in configcat. This way its not exclusively at the user level.

Checkout ht

[2022-09-09 05:32] utam0k commented on #12021
Just run an integration test. However, I will include a fix to ignore this issue in the integration test.

[2022-09-09 05:34] axonasif commented on #12783
Relates with #459

[2022-09-09 05:58] geropl commented on #12282
Hey @kylos101 , sorry for not being clear here. We'll have it at the top of the queue on Monday. :+1:

[2022-09-09 06:00] geropl commented on #12554
:+1:

:bulb:

@kylos101 thx for sharing those insights

[2022-09-09 06:59] akosyakov commented on #12791
@axonasif Why would you do it like that? You can list ms-vscode.cpptools. VS Code Desktop is using MS Marketplace and can install from there.

[2022-09-09 07:01] utam0k opened #12795 "werft rarely runs a job twice in one run."
### Bug description

https://github.com/gitpod-io/gitpod/pull/12793/files#r966677722

You can see in this log that the wait to build the preview environment should be one time, but it appears twice for some reason
e.g. https://werft.gitpod-dev.com/job/gitpod-custom-to-test-pfw.137/logs

Perhaps it is a network condition issue. It might be related to this.
https://github.com/gitpod-io/gitpod/issues

[2022-09-09 07:10] axonasif commented on #12791
As we discussed internally, it was to see if I can reproduce the bug as one of our community members bought it up on discord 😄

[2022-09-09 07:24] mads-hartmann commented on #12795
I have seen something similar for other long running jobs (don't have a link at hand I'm afraid). My theory is the following:

Werft is just tail'ing logs from the pods that are running (AFAIK) so I suspect that it gets confused for some reason and tails the logs twice. So I think this is a UI problem rather than Werft running the job twice ☺️

[2022-09-09 07:46] geropl commented on #12012
I started to look into this in [this draft PR](https://github.com/gitpod-io/gitpod/pull/12777/files).

So far, it allows to set an optional installer config at `database.ssl.ca` that configures all DB-accessing code to configure a custom CA for verifying SSL connections. It's not tested yet, but should be straight forward.

@mrzarquon Does that solve you usecase?

As far as I understand the semant

[2022-09-09 07:56] florisvdg commented on #10362
Bonus: promoting this workflow would also bring in commit signing for free! (though GitHub only for now) https://github.blog/changelog/2022-08-23-ssh-commit-verification-now-supported/

[2022-09-09 08:25] svenefftinge opened #12802 "[server] Create CostCenters for Individuals"
Individuals that have not subscribed to UBP (put in credit card with Stripe) should automatically get a CostCenter with `billingStrategy: 'other'`. and a `spendingLimit` that matches the amount of workspace hours they currently have in their billingMode. That is we crate such a cost center for every individual no matter they are freemium, prof OSS or have a paid plan with chargebee.
Users should n

[2022-09-09 08:26] geropl commented on #12674
Solved with https://github.com/gitpod-io/gitpod/pull/12770

[2022-09-09 08:26] #12674 closed

[2022-09-09 08:26] jldec opened #12803 "Indicate current usage period in usage view, and show text when empty"
The screenshot below shows usage after clicking on `August` to show usage for August.

- the currently selected period (August) should have a grey background
- the main list area should say `No billed usage for this period.`

<img width="1103" alt="Screenshot 2022-09-09 at 09 20 16" src="https://user-images.githubusercontent.com/849592/189305920-c2d3f0f1-b0c6-47d9-959b-d844ba07688e.png">

[2022-09-09 08:29] geropl commented on #12768
I assume we'd need to store state outside of the Pod, which would/could be solved by `ws-manager-mkii` IIRC. But probably not something we want to tackle now, hence the suggestion to exclude it. :+1:

[2022-09-09 08:32] jldec opened #12804 "Usage list pagination does not advance to current page"
When I advance to the 3rd page, I should see 2 | 3 | 4 ... 9 in the view below

<img width="488" alt="Screenshot 2022-09-09 at 8 25 40" src="https://user-images.githubusercontent.com/849592/189307521-db2226a1-3053-40ab-a412-e3eaf3d6bcf2.png">

From discussion ([internal](https://gitpod.slack.com/archives/C02EN94AEPL/p1662704781797589))

[2022-09-09 09:09] svenefftinge commented on #12347
This si solved/outdated now.

[2022-09-09 09:09] #12347 closed

[2022-09-09 10:24] AlexTugarev commented on #12802
Hi @svenefftinge!

You mean the `stripe` billing strategy here, right?

Could you point where to find this?
https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-protocol/src/billing-mode.ts

[2022-09-09 10:25] #12739 closed

[2022-09-09 10:26] mrzarquon opened #12812 "Tag all component images with the release tag matching the gitpod-installer image's tag"
## Is your feature request related to a problem? Please describe
Currently customers who want to automate mirroring of gitpod releases to an internal registry for installation have to write their own custom tooling, either around download airgapped bundles from replicated or running the gitpod-installer from each release and [then parsing the output](https://github.com/gitpod-io/gitpod/blob/main/i

[2022-09-09 10:26] mrzarquon opened #12813 "Provide a standard URL to retrieve metadata on gitpod self hosted release artifacts (images)"
## Is your feature request related to a problem? Please describe
In order to automate the importing of Gitpod releases, users need a known way to get that information. Currently that information only resides in the gitpod-installer binary. Retrieving that information involves download it and [then parsing the output](https://github.com/gitpod-io/gitpod/blob/main/install/installer/docs/air-gap.md).

[2022-09-09 10:32] svenefftinge commented on #12802
Yes

Sorry, it's not in their billingmode but in their subscriptions.

[2022-09-09 10:36] mrzarquon commented on #12812
This may require we make a more unique tag name (ie, `gitpod-release-2022...` instead of just `release` since we have third party components (mysql, registry, fluent) that we will have to tag (and push to our own gcr.io namespace - a benefit because some orgs might also have to perform a separate request for each registry they can mirror from)

[2022-09-09 11:13] mads-hartmann commented on #12795
@iQQBot Oh wow, that's unexpected! Would you be able to do a quick "echo" before `exit 0` so that we can grab the logs and get a sense of how often this happens and possibly dive a bit deeper when it does

[2022-09-09 11:17] mrzarquon opened #12816 "Mirror external artifacts used in a gitpod release under our gcr.io namespace"
## Is your feature request related to a problem? Please describe
For organizations that are operating in an airgapped mode but have to pull images through their registries instead pushing them via the kots cli, one step in configuring the mirror process may require them to get each images registry added to an allowlist. In practice this can take weeks or months for some organizations.

## Describe

[2022-09-09 11:43] loujaybee commented on #12349
Small update, I've added this to our next iteration for review. We did some investigation but could not consistently replicate, however we'll keep digging in until we find the issue, thanks for raising @superboss224, hopefully we can get the issue fixed up soon!

[2022-09-09 11:47] mrzarquon commented on #12812
This enables an alternative solution to https://github.com/gitpod-io/gitpod/issues/10359 that would allow us to ship an imageless airgap bundle to customers who have setup their own replication process of our images internally.

[2022-09-09 11:53] Furisto commented on #12708
Higher chance of WorkspaceStuckInStopping alerts because more workspaces mean more backups and we have a concurrency limit for backups. On the other hand the backups should be smaller, so they will go faster.

[2022-09-09 11:57] corneliusludmann commented on #12639
@securitymirco are you that person that can help us with this?

[2022-09-09 12:06] securitymirco commented on #12639
@corneliusludmann not directly but let me check with @KlasenK

[2022-09-09 12:31] AlexTugarev opened #12817 "Webhook events are not registered properly for GitHub PRs"
On GitHub PR updates we are missing proper `pull_request.synchronize` handling for webhook event registration.

Also, it we're triggering two prebuilds for the same commit, one for the PR event (context URL is the PR,) and another for the `push` event (context URL is the branch.)

Follow-up to https://github.com/gitpod-io/gitpod/pull/11356

[2022-09-09 12:59] MrSimonEmms opened #12820 "Allow to add the environment variable"

[2022-09-09 13:00] MrSimonEmms opened #12821 "Add automated tests with HTTPS proxy"

[2022-09-09 13:01] kylos101 commented on #12629
Additional manifestations of this related failure:
https://gitpod.slack.com/archives/C03E52788SU/p1662690511179629
https://gitpod.slack.com/archives/C03E52788SU/p1662690520439169

[2022-09-09 13:02] mads-hartmann opened #12822 "Build speed: Slow build of installer/installer:app"
We are seeing slow builds speeds for `installer/installer:app` even when no changes were made to the source code of the component.

The component gets build with every build because it has an `argdeps` on `version`. This is okay for now, but rebuilding the component should be super fast (less than a second) but we're seeing build times of above 30 seconds.

From experience the build is fast when y

[2022-09-09 13:09] mads-hartmann opened #12823 "Build speed: components/supervisor:docker and glitpod-cli"
We're seeing that `components/supervisor:docker` is being rebuild on every build even when no source code changes to the component have been made.

This is because `components/supervisor:docker` depends on `gitpod-cli` which in turn has an argdep dependency on `version` ([ref](https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-cli/BUILD.yaml#L17)).

As `version` gets updated on every

[2022-09-09 13:12] mads-hartmann opened #12824 "Build speed: Install/preview-docker"
The component `install/preview` gets rebuild on every build because it has an `argdeps` dependency on `version`. This dependency is needed, which means that for now, we can't avoid having the component be rebuild with every build.

However, we can make it optional to build the component. install/preview:docker isn't needed on all branches, so we could hide it behind a "with-preview-docker" Werft a

[2022-09-09 13:17] mrsimonemms opened #12825 "Workspace team changes to support HTTP_PROXY"
This is the known list of issues. This may be added to until the parent ticket is closed.

- [x] #12829
- [x] #12832

Related PR where foundational work was done: https://github.com/gitpod-io/gitpod/pull/12726

[2022-09-09 13:17] mrsimonemms opened #12826 "WebApp team changes to support HTTP_PROXY"
This is the known list of issues. This may be added to until the parent ticket is closed.

- [x] #12874

[2022-09-09 13:17] mrsimonemms opened #12827 "IDE team changes to support HTTP_PROXY"
Currently, there are no known issues to support for this team. Until the parent ticket is closed-as-done, this should not be closed

[2022-09-09 13:18] mads-hartmann opened #12828 "Build speed: Install/installer:docker"
Builds of install/installer:docker is taking rather long (40s) even when the component source code isn't changed.

Looking at the [Dockerfile](https://github.com/gitpod-io/gitpod/blob/main/install/installer/leeway.Dockerfile) we see that the order commands can be improved with respect to layer caching. We should move line 9 just below `COPY --from=alpine/helm:3.8.0 /usr/bin/helm /usr/bin/helm`

[2022-09-09 13:20] mrsimonemms opened #12829 "allow for injection of envvars into imagebuild/workspace templates from the Installer"
As part of the Installer work to introduce support for HTTP_PROXY, we have created a `ProxyEnv` function that injects the six envvars from a customisable secret - see [code](https://github.com/gitpod-io/gitpod/blob/ef3867df9948b3815b6f3634ddce6cef05d2e056/install/installer/pkg/common/common.go#L71,L89).

Both the imagebuild and workspace templates require these six envvars in the [workspace](https

[2022-09-09 13:33] mads-hartmann opened #12830 "Build speed: components:docker-version"
We're seeing slow builds of `components:docker-version` (+30). The [Dockerfile](https://github.com/gitpod-io/gitpod/blob/main/components/leeway.Dockerfile) is rather simple so it's unclear how that would take 30s. Could be that it had to pull the alpine image.

We're currently only depending on alpine to get access to `cat`. E.g. a few places we run ([example](https://github.com/gitpod-io/gitpod/b

[2022-09-09 13:43] mrsimonemms opened #12832 "Receive error code 502 when pushing images to container registry through a proxy"
During the investigations of #10769, I made a simple version of #12829 by hardcoding all the envvars into an image. This gave a series of 502 errors when pushing images to my container registry.

Once the work for #12829 has been done, this will be the next thing to do.

**[NB](https://www.britannica.com/dictionary/NB)** this ticket is more an _[aide-mémoire](https://www.merriam-webster.com/dictio

[2022-09-09 13:51] #11399 closed

[2022-09-09 13:59] geropl commented on #11214
Closing as dupe of https://github.com/gitpod-io/gitpod/issues/12387

[2022-09-09 13:59] #11214 closed

[2022-09-09 14:00] MrSimonEmms opened #12835 "Make sure that all pods are considering the `https_proxy` environment variable"
Duplicate of #10484

[2022-09-09 14:00] geropl commented on #10961
Should be fixed with https://github.com/gitpod-io/gitpod/issues/11327.

[2022-09-09 14:00] #10961 closed

[2022-09-09 14:02] Pothulapati opened #12836 "Internal SSL Certificates in Gitpod"
Currently, We generate a bunch of certificates using `cert-manager` for various components
that require SSL for their communication i.e registries, etc. The current architecture looks like this

![ssl](https://user-images.githubusercontent.com/7892868/189367338-b4d66a3d-de6f-4fe9-b07b-88939df105f1.png)

While the current status works, There is a common consensus around cleaning up stuff
that isn't

[2022-09-09 14:03] #12804 closed

[2022-09-09 14:03] buggtb commented on #6877
Gitpod on a Jag courtesy of @jrz813

![Screenshot 2022-09-09 150126](https://user-images.githubusercontent.com/103544/189368324-d06a2a42-3e20-4858-bf06-f877b20c45e2.png)

[2022-09-09 14:04] geropl commented on #10247
FYI: There has been a [recent change](https://github.com/gitpod-io/gitpod/pull/12770) that effectively hides Chargebee/Stripe info + actions for Self-Hosted.
It's based on BillingMode, which is `none` for Self-Hosted (bad naming is my bad: should be called: `license` 🙈 ).

Does that help for now @lucasvaltl (cmp. [PR](https://github.com/gitpod-io/gitpod/pull/12770) for screeshots)

[2022-09-09 14:06] geropl commented on #12065
Ok. I'm going to close this one in favor of https://github.com/gitpod-io/gitpod/issues/12158, then.

D'accord?

[2022-09-09 14:06] #12065 closed

[2022-09-09 14:10] Pothulapati opened #12838 "use-case of `ws-manager-client-tls` certificate"
Part of #12836

While the use-case of other certificates i.e `docker-registry` are clear i.e them being the server side certificates of components, That does not seem to be the case with `ws-manager` as they seem to have two certificates i.e `ws-manager-tls` and `ws-manager-client-tls`.

[`ws-manager-client-tls` namely](https://github.com/gitpod-io/gitpod/blob/main/install/installer/pkg/components

[2022-09-09 14:11] Pothulapati commented on #12836
Clean up part of this depends on https://github.com/gitpod-io/gitpod/issues/12838

[2022-09-09 14:28] geropl opened #12840 "ConfigCat: forward property for PAID tier (Chargebee or Stripe)"

[2022-09-09 14:29] kylos101 commented on #12708
@Furisto can you share a link to the branch where you made these related changes? It would be good to get a second pair of eyes 👀  on the related configuration for the experiment.

@mbrevoort would you like any further investigation to this resource permutation, or other resource permutations? The small configuration we originally socialized does not look promising.

[2022-09-09 14:45] kylos101 commented on #12825
Thanks, @MrSimonEmms ! I've added both issues to our inbox, but removed this parent from the inbox (as its more of a tracking issue).

As you add new children to this, please add them to our inbox?

PS: I like this flow, it will make it easier to chunk out the work, I really appreciate the breakdown.

[2022-09-09 14:58] kylos101 commented on #12832
@MrSimonEmms does this issue rename align with the problem you were experiencing?

[2022-09-09 15:19] kylos101 commented on #12829
@MrSimonEmms  it seems like we're much closer than I realized to having a feedback loop that support the proxy use case!

1. :heavy_check_mark:  [a self-hosted environment built with kots](https://github.com/gitpod-io/gitpod/pull/12229), this is :rocket: awesome!
2. :white_check_mark: [kots proxy support](https://github.com/gitpod-io/gitpod/pull/12726) in the Gitpod product. :pray: thank you so mu

[2022-09-09 15:23] kylos101 commented on #12838
Added to groundwork, thanks for laying out the questions so nicely, @Pothulapati !

[2022-09-09 17:26] kylos101 commented on #12745
Related: https://github.com/gitpod-io/gitpod/issues/12840

[2022-09-09 18:21] MrSimonEmms commented on #12825
Thanks @kylos101. My expectation is that there may be WebApp and IDE team work for this feature in future, so it made sense to separate the tasks into individual teams.

Will add anything new to the inbox as requested

[2022-09-09 18:23] MrSimonEmms commented on #12832
Sure. It's perfectly plausible that this issue goes away when #12829 is done, so this issue shouldn't be worked on until that other issue is done

[2022-09-09 18:33] MrSimonEmms opened #12847 "Update the SaaS deployment process to use the refactored `config` commands"
As part of the parent task, the Installer's configuration commands have updated. These will need to be incorporated into the SaaS process for building the YAML files for deployment to our clusters.

- [ ] The `init` command is now deprecated in favour of `config init` #12678
- [ ] There are detection commands for the ShiftFS status and containerd location (this may not be needed) #12198
- [ ] Ther

[2022-09-10 00:21] adrienthebo opened #12848 "Gitpod 2022.08.0 doesn't support cpu burst/min values"
### Bug description

Gitpod SaaS supports the ability to specify min and burst limit values; this value does not appear to work in Gitpod self-hosted

### Steps to reproduce

Apply the following config patch during installation:

[code]

The installer will fail with the following:

[code]

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No resp

[2022-09-10 01:00] david-bakin opened #12850 "`jq` error on opening new workspace: some object and `null (null) cannot be multiplied`"
### Bug description

Opened a workspace.  This workspace has no `.gitpod.yml` nor `.gitpod.Dockerfile` in the branch being opened.  However, on opening:

1. There are both a `.gitpod.yml` and `.gitpod.Dockerfile` in the repo at top-level.
2. terminal window for `Gitpod Task 1: bash` shows:
[code]

Also:

Not my `.gitpod.yml`:
[code]

Not my `.gitpod.Dockerfile`:
[code]

### Steps to reproduce

Ope

[2022-09-10 04:09] axonasif commented on #12850
Hey @david-bakin, I just opened your repo but I don't see this error :eyes:
Can you try again?

[2022-09-10 04:27] david-bakin commented on #12850
I just got it again on a new open (via the gitpod button on the repo)!  But I also had opened it a little earlier and didn't get it.  So it seems intermittent.

[2022-09-10 04:27] jenting commented on #12420
If the repo is without submodules, the issue is fixed.
If the repo is with submodules, the issue is still open.

[2022-09-10 05:01] axonasif commented on #12850
I opened it twice right now to recheck, if you spot it again, do share.
A fix for that issue was pushed https://github.com/gitpod-io/workspace-images/pull/922. Sometimes your workspace might use a cached `workspace-full` image since it hasn't been long, so using `#imagebuild` helps.

[2022-09-10 05:02] david-bakin commented on #12850
ok, but this is a new workspace with a new .gitpod.yml referencing workspace-python:latest.  I mean, I only started using it on this branch of the repo tonight - even the branch is new tonight.

[2022-09-10 07:14] mads-hartmann commented on #12847
The `init` command isn't used as pat of SaaS deployments. We only use the `render` command - see [here](https://github.com/gitpod-io/ops/blob/main/charts/argocd/patches/configmap.yaml#L31) and [here](https://github.com/gitpod-io/ops/blob/main/scripts/installer/render-with-wrapper.sh#L53) ☺️ The config files are checked into git, e.g. [here](https://github.com/gitpod-io/ops/blob/main/deploy/product

[2022-09-10 09:42] juliusv commented on #10405
Staleness prevention bump :)

[2022-09-10 13:05] corneliusludmann commented on #12848
This configuration has been part of `main` for a short time period but since it was a breaking change, [it was reverted with this PR](https://github.com/gitpod-io/gitpod/pull/12261). As far as I know, it has never been released with this config change.

Are there customers that need this? Then we should create a customer issue with the proper priority and raise a feature request to Team Workspace.

[2022-09-10 18:58] kylos101 commented on #12248
@utam0k may I ask a favor? Can you alter the script which triggers test runs, so that it deletes prior branches, prior to starting? In this way, we can be sure we do not start too many preview VMs. [Internal reference.](https://gitpod.slack.com/archives/C01KGM9EBD4/p1662793389381669?thread_ts=1662621986.692229&cid=C01KGM9EBD4)

[2022-09-10 19:58] MrSimonEmms commented on #10397
Removing staleness

[2022-09-10 20:03] MrSimonEmms commented on #12068
Yes. I don't see much benefit to having a common licence. I don't necessarily object to this not being done.

Yes, 💯 - this is the cost of having the additional visibility.

[2022-09-10 20:05] MrSimonEmms commented on #12015
Thanks @Pothulapati. I've added this to the main refactoring ticket

[2022-09-10 21:04] kylos101 commented on #10397
:wave: @MrSimonEmms can you check the description? The # referenced (10397) indicates this depends on itself.

Also, do we have a workaround for this now in KOTS? I assume [this](https://github.com/gitpod-io/gitpod/pull/10685) is a workaround. In other words, do we have any users who cannot install Gitpod because of this issue, or are they okay because of the above PR?

I agree the product should

[2022-09-10 21:42] kylos101 opened #12973 "[Docs Feedback]: single cluster ref arch suggestions for AWS networking"
### Page URL

https://www.gitpod.io/docs/self-hosted/latest/reference-architecture/single-cluster-ref-arch#networking

### User feedback

## Suggestions

One for external-dns and another for cert-manager.

1. Prior to the external-dns suggestion, I was blocked because I was unclear how to create the policy and related service account for an existing cluster. There might be a better way than the on

[2022-09-11 04:23] RudraSen2 commented on #666
https://www.infoworld.com/article/3648993/visual-studio-code-for-web-gets-verified-github-commits.html

This link shows how VSCode Web implements commit signing

[2022-09-11 12:52] bitsnaps commented on #9789
I wish to see that feature, before spin up a workspace (not during the starting), this make it easy for automation (e.g. from urlwith `?/skip-rebuild=0`), @svenefftinge I've just saw `Skip rebuild` button at the starting, is that feature already implemented?

[2022-09-11 13:24] bitsnaps commented on #12290
I think it could also be better to add a Delete button right after stopping the workspace, instead of going to the Dashboard then delete it from there.

[2022-09-11 14:57] axonasif commented on #12850
Closing this as it's a duplicate of https://github.com/gitpod-io/workspace-images/issues/925
If you notice it again, please feel free to comment here.

[2022-09-11 14:57] #12850 closed

[2022-09-11 16:47] sbhrule15 opened #12853 "Bitbucket pullrequest scopes incorrectly not implying repository scopes"
### Bug description

When providing an OAuth consumer for Bitbucket cloud, and choosing the `pullrequest:write` scope, GitPod does not imply the proper repository scopes in the UI or in the web IDE. Currently the only issue I've noticed is frequent popups in the IDEs saying they do not have the proper scope. Per Bitbucket on the pullrequest:write scope:

Here is BitBucket's documentation on this s

[2022-09-11 20:05] MrSimonEmms commented on #10397
@kylos101 good spot. I think that's an old comment, so I've removed it.

[2022-09-11 23:39] kylos101 commented on #12021
@utam0k do you mean temporary ignore? For example, so we can incrementally have tests passing in main branch, while a fix is done for the failing test?

[2022-09-11 23:42] kylos101 commented on #12420
👋 @jenting I moved this issue from Breakdown to Scheduled, as you identified the reason this is still open [here](https://github.com/gitpod-io/gitpod/issues/12420#issuecomment-1242624855). Thank you for the find!

[2022-09-11 23:53] kylos101 commented on #12387
@sagor999 looks like webapp has related work Scheduled for this issue, let's leave this In-Validation until that is deployed. 👍

@geropl 🙏 thank you for Scheduling related work! As an FYI, we're tracking this in our In-Validation column, so we'll bump into and check/review it weekly.

[2022-09-12 00:54] mikenikles commented on #12345
In case this helps with troubleshooting: I've used Gitpod's EU cluster for a few days and haven't seen this issue. However, as soon as I switched back to the US cluster half an hour ago, I'm now stuck on "**Initializing content …**".

[2022-09-12 01:23] kylos101 commented on #12248
Related: https://github.com/gitpod-io/gitpod/issues/12021#issuecomment-1243069224

[2022-09-12 01:29] kylos101 commented on #12709
👋 @lucasvaltl, when you and @atduarte are back, it would be good to brainstorm a section for `The guides should follow current Gitpod SaaS best practices`. I'm certain @aledbf can help add related detail, but, it would be good to understand your intent, so we have boundaries.

Also, I added https://github.com/gitpod-io/website/issues/2716 to the EKS section, based on my recent experience following

[2022-09-12 02:32] kylos101 commented on #10886
@sagor999 may I ask you to create an issue to track whether `chown` can be removed for PVC, and add it to the epic as a day 2 item?  I say this because I am skeptical we can remove for PVC "now".

For now, it seems like it depends whether the git content init was done from a prebuild versus a regular workspace. [Example](https://github.com/gitpod-io/gitpod/issues/12420#issuecomment-1242624855).

[2022-09-12 02:42] kylos101 commented on #12840
@geropl it looks like this is part of week 37! :partying_face: Is that official? I ask because the issue has no status (is not Scheduled). :pray:

[2022-09-12 05:35] Pothulapati commented on #12451
@tomatebeans

You should be able to get the `image-builder-mk3` logs by running `docker exec gitpod kubectl logs deployment/image-builder-mk3`. Can you please share those logs?

Thanks :)

[2022-09-12 06:13] axonasif opened #12857 "[dashboard] Workspace list: toggle between "inactive" and "active" at the top"
### Objective

From @shaal on [discord](https://discord.com/channels/816244985187008514/1018502882259107921):
I checked this page - https://www.gitpod.io/docs/life-of-workspace#garbage-collection
It says To know exactly how long your past workspaces will be kept, a message is displayed at the top of the workspaces list in your dashboard.
I don't see such message, I only see next to each workspace

[2022-09-12 06:14] axonasif commented on #12857
cc @gtsiolis 🏓

[2022-09-12 06:59] #12678 closed

[2022-09-12 06:59] #12847 closed

[2022-09-12 07:23] akosyakov commented on #12827
@iQQBot Do you see whether there are any possible actions from our side are required? Go components should respect it already?

[2022-09-12 07:28] jldec commented on #12708
@Furisto @kylos101 - Would you be able to share more details about which processes are consuming more memory and causing problems when building the website?

[2022-09-12 07:52] akosyakov commented on #12290
@geropl @gtsiolis  It was also my thought that the stopping/stopped screen should have the delete button.

[2022-09-12 07:56] geropl commented on #12840
@kylos101 We're experimenting with a new process. Let's see how it works out. Currently, "no status" = no guarantee :wink:

[2022-09-12 08:15] svenefftinge commented on #12741
I'm adding a `nextBillingTime` field as well that the control loop can use to find cost centers that need to be billed.

[2022-09-12 08:51] akosyakov opened #12862 "[jetbrains] gateway hangs to connect sometimes"
### Bug description

I got it once in prev envs after trying to use in 1 week. My token was invalid, since prev env were recreated. But instead of connecting, GW gitpod plugin hanged for some time without any UI and only then tried to reauthenticate. We should invalidate token and do auth again immediately.

<details>
<summary>You can see 30 secs delay in logs:</summary>
[code]
</details>

### Ste

[2022-09-12 08:52] crcdng commented on #11339
Currently there is a modal pop-pup without data protection note, no explanation how you use the phone number, no opt out, no link to a data protection statement - all of which appears to be in violation of GDPR. In doubt, check with your data protection officer.

<img width="934" alt="Screenshot 2022-09-12 at 10 47 45" src="https://user-images.githubusercontent.com/830492/189612407-69d4214a-8de4-4

[2022-09-12 09:12] AlexTugarev commented on #12686
Also, the PR to re-enable attribution of personal account is merged as well. https://github.com/gitpod-io/gitpod/pull/12839

[2022-09-12 09:13] csweichel opened #12863 "Images without addgroup fail with no feedback"
### Bug description

Using an image without `addgroup` command fails the workspace without feedback - the workspace just stops.

### Steps to reproduce

Open a workspace with the following `.gitpod.yml`:
[code]

### Workspace affected

_No response_

### Expected behavior

The user should receive appropriate feedback, because `supervisor` writes to `/dev/termination-log`.

### Example repository

[2022-09-12 09:20] github-activity commented on #5075
test

[2022-09-12 09:21] github-activity commented on #7832
test

[2022-09-12 09:50] mittalyashu commented on #9221
Please add this option, it's really time consuming to open Gitpod dashboard, every-time the workspace times out.

Due to this limitation, I have to stick to single workspace use, for working on multiple tasks. Instead of using new workspace per task.

[2022-09-12 09:52] geropl commented on #12491
@easyCZ Is this still relevant?

[2022-09-12 10:13] nandajavarma opened #12865 "[terraform] Use GCP and AWS reference architecture to run automated tests"

[2022-09-12 10:14] nandajavarma opened #12866 "[terraform] Move k3s module to reference architecture section"

[2022-09-12 10:15] nandajavarma opened #12867 "[terraform] Setup basic single-cluster setup for Azure terraform module"

[2022-09-12 10:16] nandajavarma opened #12868 "[installer-tests] Create Documentation for the Automated testing pipeline"

[2022-09-12 10:22] nandajavarma opened #12870 "[installer-tests] Fix the Github SCM Authentication issue"

[2022-09-12 10:32] jankeromnes commented on #12292
The coupon has been created and is ready for use. ✅

Until #12341 is implemented though, this coupon needs to be applied manually by a Stripe admin to an existing Stripe subscription (i.e. after a customer has subscribed to usage-based by adding a valid payment method). I'm happy to help with this -- please simply ping me when needed.

[2022-09-12 10:32] #12292 closed

[2022-09-12 10:43] svenefftinge commented on #12803
I opted for adding information about the displayed range, as we should go away from the fixed calendar month views anyway. FWIW I like the usage view in vercel

<img width="1261" alt="Screenshot 2022-09-12 at 12 43 26" src="https://user-images.githubusercontent.com/372735/189634594-3df85916-2016-4648-ac67-00528c1342a2.png">

[2022-09-12 10:58] easyCZ commented on #12487
Resolved.

[2022-09-12 10:58] #12487 closed

[2022-09-12 11:05] easyCZ commented on #10937
We won't be going with this approach. Instead we'll approach it with https://github.com/gitpod-io/gitpod/issues/12741

[2022-09-12 11:05] #10937 closed

[2022-09-12 11:11] easyCZ commented on #12283
So taking a higher level view, there's no reason we wouldn't attach the Stop reason as a first class property in the request, but also into the underlying WorkpsaceInstance representation (in both WebApp side, but also `ws-manager` side). That way, the reason can be consumed by both sides (and presumably both have a strong interest in this for SLOs - customer triggered Stop is good, if the system

[2022-09-12 11:33] AlexTugarev commented on #12547
Resuming work on this.

[2022-09-12 12:20] mrsimonemms opened #12874 ""new Git integration" page does not respect the proxy settings"
When attempting to create a new Git integration on a proxied server, the test to see if a host is reachable does not get routed through the proxy.

There are a few possible reasons why this may be the case:
1. the `is-reachable` library [doesn't support it explicitly](https://github.com/sindresorhus/is-reachable/issues/7) (although it looks like `got` does)
2. does the call get made from the serve

[2022-09-12 12:23] easyCZ commented on #12840
A couple of notes for this issue:

* Because ConfigCat is declarative, the best we can do is have a property in ConfigCat which is `tier` and we can match on some enum values (or bool).
* The enum value for a given user can only be determined at runtime and during evaluation of the feature flag - in other words the client that performs the evaluation has to know the value of `tier` for the given u

[2022-09-12 12:25] thisisommore opened #12877 "Allow multiple scopes in env variables"
## Is your feature request related to a problem? Please describe

Creating and managing enviroment variables with only one scope is hard, for example, I want to create env `SECRET` for repos under my user `thisisommore` and under my company `lazarus` which is only possible with `*\*` since `lazarus/*,thisisommore/*` is not possible and I will get this error if I try to do so
![image](https://user-

[2022-09-12 13:00] corneliusludmann commented on #12738
Just to be sure: The config value in the installer is set correctly, the value is set in the server's config map correctly, and still, the server does not pick this config up, right?

That means that can be easily reproduced in an ordinary preview env by adding the config to the installer config or server config map without the need for the KOTS installation flow, right? (I mean, that could be eas

[2022-09-12 13:07] akosyakov commented on #7751
With https://github.com/gitpod-io/leeway/issues/93 done, we can simplify our build process to add more components easier.

[2022-09-12 13:18] geropl commented on #12802
Close like this is not necessary atm.

[2022-09-12 13:18] #12802 closed

[2022-09-12 13:29] andrzejsokolowski commented on #9182
I can give additional information about this topic:

We have tested this quite extensively:

On mac, the liveshare extension works through gitpod without issues. It connects and works as intended.
On WINDOWS, though, vscode (and vscode insiders) throws an error when trying to share a workspace:

`Starting collaboration session: An error was encountered while querying information from the operating

[2022-09-12 13:33] svenefftinge opened #12880 "[protobuf] Use better TypeScript binding"
The generated typescript bindings are supoptimal and there are way better more idiomatic code generators.
I have played around with https://github.com/stephenh/ts-proto which provides a nice API and is compatible with https://github.com/improbable-eng/grpc-web

[2022-09-12 13:33] svenefftinge commented on #12880
Follow up to https://github.com/gitpod-io/gitpod/pull/12843

[2022-09-12 13:44] kylos101 commented on #12708
👋 @Furisto in hindsight, in talking with @aledbf , let's change the test as follows:

1. Make a new branch in the ops repo with these related changes, and share with us here for reference
2. Deploy an ephemeral cluster
3. Share cluster access using `new-workspace-cluster` to @mbrevoort and @jldec , so they can experience the related performance/behavior.

[2022-09-12 13:57] geropl commented on #12738
thx @corneliusludmann and @MrSimonEmms for highlighting. Scheduled for next week. :calendar:

[2022-09-12 13:58] MrSimonEmms commented on #12738
@corneliusludmann yes, you're correct - the config is set correctly so it can be deployed anywhere and the bug should still exist

[2022-09-12 14:07] easyCZ opened #12881 "Ensure invoice does not go above Usage Limit"
We want to ensure that the number of credits on an invoice is at most the value of the spending limit. This is to provide users with a guarantee that they will not be charged for more than their spending limit.

To achieve this, we will need to do the following:
* When updating a spending limit, prevent setting it below any existing accrued usage. The spending limit can be increased, but it cannot

[2022-09-12 14:32] jldec opened #12883 "Limit phone number re-use for verification"
Followup to #12258

Phone number verification would probably be more effective if it did not allow re-use of phone numbers across accounts. There appear to be services which provide low-friction re-usable phone numbers for circumventing verification.

[2022-09-12 14:42] loujaybee opened #12884 "Docs + Changelog for JetBrains common actions"
Documentation + Changelog item for the following PR:

- https://github.com/gitpod-io/gitpod/issues/8024

[2022-09-12 15:02] sagor999 commented on #12283
@easyCZ great idea!

[2022-09-12 15:02] geropl opened #12886 "Epic: [installer] Rollout migrations first"
# Problem

Currently, `installer render` renders all YAML files for all components. If they are applied in one step (as it's currently the case for A Self-Hosted installations as well as B current ArgoCD applications), migrations and code changes are applied in parallel. Depending on timings, this might cause code to hit an unprepared DB, which might end up in all kind of user-errors.

# Situation

[2022-09-12 15:10] geropl commented on #6770
@jankeromnes Please ping if I can help with additional context/details 👍

[2022-09-12 15:19] jakobhero commented on #10649
i've had a look and agree, this query should do the trick instead:
[code]

let me know if there are other details that you would like to discuss about this @Pothulapati , happy to jump on a quick call anytime!🏀

[2022-09-12 15:25] jankeromnes commented on #6770
Many thanks @geropl! Planning to start looking into either this or https://github.com/gitpod-io/gitpod/issues/12283 once https://github.com/gitpod-io/gitpod/issues/12580 is done.

[2022-09-12 17:57] janLo commented on #8396
We would also be very much interested in such a feature for self-hosted — not particularly GPU support but device plugin support in general. We use the [smarter device manager](https://gitlab.com/arm-research/smarter/smarter-device-manager) as a very simple way to allow access to `/dev/kvm` within our cluster. With this, all we need to do is to add the `smarter/kvm` resource to the pod.

For the G

[2022-09-12 18:12] #12464 closed

[2022-09-12 18:25] #12660 closed

[2022-09-12 18:59] Craftzman7 commented on #7721
Is this confirmed to be on the roadmap?

[2022-09-12 19:17] #12198 closed

[2022-09-12 19:25] sagor999 opened #12892 "[PVC] investigate if possible to remove chown"
see if possible to get rid of chown completely when using PVC.
It is slow, and ideally we should not need to do it, but right now when running git ops to checkout repo, it sometimes checks out files as root, rather than as gitpod user.

[2022-09-12 19:25] sagor999 commented on #10886
@kylos101 done: https://github.com/gitpod-io/gitpod/issues/12892

[2022-09-12 19:57] kylos101 commented on #12892
@sagor999 here is a related [idea](https://github.com/gitpod-io/gitpod/issues/9280#issuecomment-1149492129) from @csweichel that I bumped into yesterday.

[2022-09-12 20:00] david-bakin opened #12893 "Add "checkup" or "doctor" option to `gp` command line"
Add a command `checkup` to the `gp` tool that does some basic "diagnostics"/"troubleshooting"/_"sanity checks"_ on the workspace/repo.

For example:
- Does it have a `.gitpod.yml`?
  - If not, does it have something else that _might_ be a `.gitpod.yml`, e.g., `gitpod.yml` or `.gitpod.yaml`?
  - If so, does it syntax check? Any unknown attributes? Anything else that can be detected that is wrong ab

[2022-09-12 21:36] aledbf commented on #11449
This should be implemented in the current alpha, not even in beta. Delaying this until alpha means customers in production are exposed to node issues (loss of nodes and content), bad performance, and noisy neighbors.

ping @csweichel

[2022-09-12 21:36] sagor999 commented on #11713
This is not an error any more.
This is simply a by product of how gRPC logs its errors in tracing.
When we call `/wsdaemon.WorkspaceContentService/WaitForInit` we need to return a correct error: NotFound
This is normal behaviour.
Unfortunately that gets logged as error, even though NotFound is not considered error here, since we already disposed workspace. It is handled correctly by `finalizeWorks

[2022-09-12 22:47] dimm0 commented on #9698
I'm really trying to deploy gitpod in my own cluster with my own registry and S3 storage that I already have and that work really well.

But... GitLab registry is unsupported, ceph S3 is unsupported in all variants (as blob storage and as backend for containers)

So I'm stuck with manually deploying a layer on top of other stuff... And I have to do it myself, instead of using gitpod's built-in one

[2022-09-12 23:46] utam0k commented on #12248
[At the end of the integration script](https://github.com/gitpod-io/gitpod/blob/d4fe26f45f7c8ba281bc93e0f9e2d08e2a0d7a0a/.werft/workspace-run-integration-tests.sh#L63) runs delete a branch that the script creates. I wonder why deleting branch code sometimes isn't run. I guess it relates to this issue.
https://github.com/gitpod-io/gitpod/issues/12795

And I have added a workaround for this issue ye

[2022-09-12 23:57] utam0k commented on #12021
@kylos101 Sorry for my lack of information. I'm going to put this if statement into the main branch. Please note the link I shared is not in the main branch.
https://github.com/gitpod-io/gitpod/blob/4e824503da137d43ae901f37b972400254ca5b68/test/pkg/integration/workspace.go#L522-L523

[2022-09-13 00:31] sagor999 commented on #12420
Since I spend a bit of time debugging a wrong issue, for posterity:
PVC prebuild -> PVC workspace = works
regular prebuild -> PVC workspace = broken

[2022-09-13 01:01] jenting commented on #12420
Thank you @sagor999.

I forget to mention it happens in regular prebuild -> PVC workspace.
But it's good that you have verified PVC prebuild -> PVC workspace works because I missed testing this case yesterday.

[2022-09-13 02:46] gjw0813 opened #12899 "Edit permission not showing save button and not scrollale on 14inch laptop"
### Bug description

![image](https://user-images.githubusercontent.com/76611833/189796258-21fa184f-ffde-424f-9109-f5cb0c874868.png)

### Steps to reproduce

goto https://gitpod.io/integrations, click edit permissions.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-09-13 02:49] #12420 closed

[2022-09-13 03:56] jeanp413 commented on #9839
This got fixed upstream https://github.com/microsoft/vscode/pull/159822, and is already available in nightly vscode web, will be available in next stable release 1.72.0

[2022-09-13 03:56] #9839 closed

[2022-09-13 05:27] Nishchit14 opened #12900 "cannot initialize workspace: cannot restore backup: tar /dst: tar /dst: exit status 2"
### Bug description

I am getting this error

![image](https://user-images.githubusercontent.com/5078921/189815976-264d6b3a-fa74-420f-9bb6-98c06643c3ac.png)

### Steps to reproduce

I have just opened the workspace. It took 30min at the loading state and then showed the above error.

### Workspace affected

 firecampio-firecamposs-bps0eci09jd

### Expected behavior

_No response_

### Example repo

[2022-09-13 05:41] Nishchit14 commented on #11183
facing it too, lost many file changes and .env setup
#12900

[2022-09-13 05:45] ptrthomas commented on #12660
@jeanp413 thanks ! when would this fix be available on gitpod.io/workspaces ?

[2022-09-13 05:50] #9102 closed

[2022-09-13 05:50] AlexTugarev commented on #12738
@MrSimonEmms, for completeness, could you please paste an example of the `blockNewUsers` config json. I couldn't find any related changes made in this area in the past 5 months.

[2022-09-13 06:12] #12655 closed

[2022-09-13 06:25] MrPeacockNLB commented on #11379
Hi,

you can use https://traefik.me/ to get valid LE certs to be used with a reverse proxy in front e.g. NginX or Traefik to terminate wiht TLS. You can download https://traefik.me/cert.pem and https://traefik.me/fullchain.pem from there site.

https://gitpod.treafik.me will resolve to 127.0.0.1

[code]

[2022-09-13 06:41] MrSimonEmms commented on #12738
@AlexTugarev the configmap is:

[code]

[2022-09-13 06:48] MrSimonEmms commented on #12738
The server configmap is:

[code]

[2022-09-13 07:29] #12580 closed

[2022-09-13 08:07] mads-hartmann commented on #12828
Reopening as PR was reverted in https://github.com/gitpod-io/gitpod/pull/12860

[2022-09-13 08:27] geropl commented on #10247
As Lucas is out: What you'll see in Self-Hosted now is this reduced set of properties+actions (only BillingMode will be "none" instead of "usage-based"):

![Image](https://user-images.githubusercontent.com/32448529/189851090-a30a84e6-1a1f-4489-b8e6-f22a2872d402.png)

I'm closing for now; we can always re-open later.

Fixed with: https://github.com/gitpod-io/gitpod/pull/12770

[2022-09-13 08:27] #10247 closed

[2022-09-13 08:28] MrSimonEmms commented on #12738
Worked through the issue with @AlexTugarev and couldn't reproduce

[2022-09-13 08:30] utam0k opened #12904 "Pod is not deleted when workspace pod status gets Error"
### Bug description

When the workspace pod is an error (i.e., .status.phase == "Failed"), the workspace remains undeleted.
[internal link](https://app.incident.io/incidents/210)

This is probably due to the fact that the finalizer is not erased. Because we have succeeded in clearing the Error pod [by erasing the finalizer](https://gitpod.slack.com/archives/C04245JPHKL/p1663057536849389?thread_ts=

[2022-09-13 08:38] #12268 closed

[2022-09-13 08:42] meysholdt commented on #12629
Seen again here: https://werft.gitpod-dev.com/job/gitpod-build-se-small-usage-ui-impr.9/raw
Context: https://gitpod.slack.com/archives/C032A46PWR0/p1663058556909449?thread_ts=1663056299.288899&cid=C032A46PWR0

[2022-09-13 08:44] jankeromnes commented on #12283
For reference, here are all the locations I could find where we issue a `StopWorkspaceRequest`:

<details><summary>When stopping a workspace via the API</summary>

https://github.com/gitpod-io/gitpod/blob/b634fb3836fb1ac546ccfbfc74a6f7a0ea32febc/components/server/src/workspace/gitpod-server-impl.ts#L734-L754

</details>

<details><summary>When deleting a workspace via the API</summary>

https://gi

[2022-09-13 08:47] laushinka commented on #12881
Do we need a design for how we show this message to the user? cc @jldec @gtsiolis

[2022-09-13 09:00] #12803 closed

[2022-09-13 09:05] kylos101 commented on #12904
@aledbf what do you think of us adding a new control loop to ws-manager that will do the above clean-up?

One one hand, it'll keep the # of pods low which are "bad". But, on the other hand, it will mask a problem.

[2022-09-13 09:19] mads-hartmann commented on #12886
@geropl This sounds great 🧡 Currently the Werft job also takes care of scaling down db-sync ([ref](https://github.com/gitpod-io/ops/blob/55ed89a696001823d042963b9be2615a5035210b/.werft/deploy-prod-meta.ts#L71)) - would we need a separate hook for that?

[2022-09-13 09:26] MrSimonEmms commented on #12738
I'm going to reopen as need to check that the configmaps are being reloaded correctly by the Installer

[2022-09-13 09:28] geropl commented on #12886
Ah, you're right. I guess we do. :+1:  Not sure if ArgoCD supports that, though. And maybe we could make db-sync smarter so we do not have to solve this on the infra level.

[2022-09-13 09:36] mads-hartmann commented on #12886
At a quick glance there's nothing about ordering in the docs about hooks. We would have to look at bit closer to see what our options are if we go this route ☺️

I'd prefer this of course, but I don't have a sense of how much work that would be.

[2022-09-13 09:47] meysholdt opened #12905 "[preview-envs] deleing cert fails and prevents new preview env to start"
## Is your feature request related to a problem? Please describe
Errror:
[code]

The error "the server doesn't have a resource type "harvester-sje-instal001a780843" sounds like we call `kubectl` with the wrong syntax. E.g. `kubectl delete` instead of `kubectl delete cert`.

## Describe the behaviour you'd like
no error:

## Describe alternatives you've considered

## Additional context
Build: http

[2022-09-13 09:53] jankeromnes commented on #12283
Thanks for the discussion & great ideas here!

In https://github.com/gitpod-io/gitpod/pull/12906 I've added a `reason` field to every `StopWorkspaceRequest` we issue, of type `StopWorkspaceReason` (a new enum).

- Does this look useful?
- Are the specified reasons helpful?
- Should this `reason` also be logged and/or added to tracing?

[2022-09-13 10:10] #12828 closed

[2022-09-13 10:10] geropl commented on #9198
Old workspace cluster table PR: https://github.com/gitpod-io/gitpod/pull/8539

[2022-09-13 10:27] kylos101 opened #12908 "Workspaces do not initialize because they cannot connect to ws-daemon"
### Bug description

Workspaces do not initialize because they cannot connect to ws-daemon. As a result, users were unable to start workspaces in the US region.

[code]

### Steps to reproduce

Unsure

### Workspace affected

gitpodio-templatepython-vlhvnj7u60f

### Expected behavior

Ideally it would connect, and the workspace would start.

### Example repository

_No response_

### Anything else

[2022-09-13 10:38] #12835 closed

[2022-09-13 10:38] #12820 closed

[2022-09-13 10:38] #12821 closed

[2022-09-13 11:28] jankeromnes commented on #6770
Okay, I'm now blocked on [this question](https://github.com/gitpod-io/gitpod/issues/12283#issuecomment-1245172696) and have already started [one distraction](https://github.com/gitpod-io/gitpod/pull/12911), so I guess now is the time to pick this one up! 😆 🚀

[2022-09-13 11:33] jankeromnes commented on #6770
From this comment https://github.com/gitpod-io/gitpod/issues/6770#issuecomment-1004697480 I deduce that we want:

Please let me know if I got that wrong.

[2022-09-13 11:37] DRFR0ST commented on #8076
It seems to be fixed after granting permissions to the org from the integrations view.
https://gitpod.io/integrations

[2022-09-13 12:30] JokerTheBond opened #12915 "Workspace not found"
### Bug description

When I open my usual workspace I get the error:

"Oh, no! Something went wrong!
Workspace not found!"

### Steps to reproduce

/

### Workspace affected

coffee-gorilla-uf186pcy

### Expected behavior

/

### Example repository

/

### Anything else?

I have received no warning that the workspace was going to be deleted. Now it seems disappeared, I can't see it anymore in my d

[2022-09-13 12:34] #12880 closed

[2022-09-13 13:10] laushinka commented on #12881
Unassigning based on [this](https://gitpod.slack.com/archives/C02EN94AEPL/p1663066260300139?thread_ts=1662984984.475409&cid=C02EN94AEPL) internal discussion.

[2022-09-13 13:21] axonasif commented on #12915
Hey @JokerTheBond, we have an ongoing [incident](https://www.gitpodstatus.com/incidents/v9pdpmcbgz6g), maybe it's an instance of that. I'm adding your issue to our workspace team inbox to take a look. Thanks for your patience 🙏

[2022-09-13 13:25] AlexTugarev commented on #9564
Hi @rfay and @shaal!

I just checked if a new workspace on `drud/ddev` repository is opening with a new prebuild 👍🏻 It does 😌
Then I checked with the database records for the past 500 prebuilds to see if there were any recent issues. The last error was 2 months ago, and seems to be somewhat exceptional ("workspace is not ready" error message.)

Considering this, I hope the bug fixes were made over

[2022-09-13 13:47] AlexTugarev commented on #12758
@geropl, did you already start working on this?

[2022-09-13 14:02] axonasif commented on #12893
Probably related with https://github.com/gitpod-io/gitpod/issues/7671

[2022-09-13 14:07] easyCZ opened #12922 "Visually indicate which month in the Usage view is currently being displayed"
When viewing the usage view, the user cannot tell which month they are currently viewing.

Repro:
1. Go to https://gitpod.io/t/gitpod/usage
2. Switch to another month
3. See no visual indication of which month is selected

[2022-09-13 14:08] #12922 closed

[2022-09-13 14:12] Pothulapati commented on #10792
After we merged https://github.com/gitpod-io/gitpod/pull/12174, This is supported now through kots!

There is https://github.com/gitpod-io/gitpod/issues/12060 that helps us to also add this option to the installer but not too important. Closing this hence.

[2022-09-13 14:12] #10792 closed

[2022-09-13 14:20] jankeromnes commented on #6770
@geropl Would love to chat about this more, if you have time. I've added TODOs in two potential fix locations in https://github.com/gitpod-io/gitpod/pull/12912/files but I'm not really sure which is best or what the implications are. 💭

[2022-09-13 14:59] jimmybrancaccio opened #12924 "Improve Environment Variable Redaction in Logs"
### Bug description

The redaction of environment variables when `observability` is set to `DEBUG` needs to be fixed/improved. For example I have the following environment variables setup:

[code]

which shows up in the logs of the `ws-manager` pod as:

[code]

The biggest issue I see here is that `{ "name": "SECRET_PASSWORD", "value": "i-am-leaked-in-the-logs-yikes" },` is not being redacted prop

[2022-09-13 15:00] svenefftinge commented on #11587
I think this has been implemented.

[2022-09-13 15:00] #11587 closed

[2022-09-13 15:22] JokerTheBond commented on #12915
Thanks for the help. https://www.gitpodstatus.com/ is now saying that today's incident was solved however I still get the same error "Workspace not found"

[2022-09-13 15:27] #10286 closed

[2022-09-13 15:29] jeanp413 commented on #9189
This week we need to do migration

[2022-09-13 15:46] jeanp413 commented on #12038
Closing this, @Pothulapati let me know if you can still repro

[2022-09-13 15:55] gtsiolis commented on #11587
@svenefftinge Thanks for noticing! This issue was about improving the design of the empty state layout, not adding the empty state for previous months as described in https://github.com/gitpod-io/gitpod/issues/12803 and https://github.com/gitpod-io/gitpod/pull/12858.

But let's keep this closed until the design of the empty state becomes a real issue.
In the meantime, I may open a PR for updating

[2022-09-13 16:10] AlexTugarev commented on #8952
That happens to me today. I was working on a single Gitpod workspace for +1h and the only thing that could have drained the API rate is the GitHub Pull Requests extension.

<img width="465" alt="Screen Shot 2022-09-13 at 10 45 23" src="https://user-images.githubusercontent.com/914497/189951715-2ddd9c1a-2831-424e-9986-8aa1125f393c.png">

That said, there is no easy fix for this. If the Pull Request

[2022-09-13 17:30] gtsiolis commented on #8815
This is still relevant.

[2022-09-13 17:38] rfay commented on #9564
No @AlexTugarev it appears to me that the behavior is the same as it has been for many months. I just did as described in this issue and created https://drud-ddev-wvzajgo5czi.ws-us65.gitpod.io/ and nothing was any different. The prebuild had not been done, and it went through the whole prebuild again instead of using an existing prebuild.

BTW, https://www.gitpod.io/t/drud/ddev/events is a 404 for

[2022-09-13 19:09] Naqij opened #12927 "Refreshing issue"
### Bug description

Live preview of the website is not working.
when I open repository and type python3 -m http.server it opens like normal but if I make changes to the code and refresh the live preview it just keep loading and doesn't do anything.
I did "control + shift + r" as well but nothing happens.

### Steps to reproduce

Refresh the live preview and it gets stuck loading.

### Workspace a

[2022-09-13 19:53] priyal32 commented on #12225
Hi! is this issue still open to work on?

[2022-09-13 20:42] jeanp413 commented on #12660
@ptrthomas it will take some time as deployment of this fix depends on workspace team schedule maybe 1-2 weeks

[2022-09-13 21:49] #12768 closed

[2022-09-14 02:04] jenting opened #12935 "[observability] create an alert when file descriptors exhausted"
## Is your feature request related to a problem? Please describe

create an alert when file descriptors exhausted

## Describe the behaviour you'd like

Having an alert when the number of file descriptors exhausted

## Describe alternatives you've considered

None

## Additional context

https://gitpod.slack.com/archives/C04245JPHKL/p1663083593170859

[2022-09-14 02:35] aledbf opened #12936 "Connection issues from ws-daemon to containerd socket are hidden in default log level"
### Bug description

Unless ws-daemon logs are configured at debug level, there is no indication of containerd troubles

### Steps to reproduce

Start a cluster, stop containerd in one node, and check ws-daemon pod logs. There will be no indication of issues

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No

[2022-09-14 03:03] kylos101 commented on #11454
Removing the related high priority for now, and reached out to @julia-leyton for help.

[2022-09-14 03:14] pybern opened #12938 "Unable to start workspace. Stuck at stopping."
### Bug description

Attempts to start a workspace goes from preparing to stopping and gets stuck there. The workspace was last used a couple of hours ago.

### Steps to reproduce

Open workspace.

### Workspace affected

https://pybern-dream-ujgolxy8don.ws-us64.gitpod.io/

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-09-14 03:34] kylos101 commented on #12248
I am not sure @utam0k. Let's ask Mads.

@mads-hartmann , what do you think Re: #12795 causing too many preview VMs to be created?

@utam0k , what if we exit the script early, before branch delete? :thinking: Would that avoid garbage collection of branch and preview?

Ok :cool:

Has the issue happened (where too many VMs are created) occurred since you did #12793?

@mads-hartmann what do you think?

[2022-09-14 03:35] kylos101 commented on #12248
@utam0k can you update the description, so that we can tell current status, and remaining plans?

[2022-09-14 04:08] whenzei opened #12939 "Workspace stuck at "stopping" state"
### Bug description

Unable to start the workspace as it is stuck at the "stopping" state

### Steps to reproduce

https://gitpodio-templaterustcl-7o718qd8cqo.ws-us64.gitpod.io/

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-09-14 04:57] pybern commented on #12938
#12939 linking similar issue

[2022-09-14 06:38] gtsiolis commented on #12225
@priyal32 Yes! Feel free to open a pull request and reference this issue. 🏓

[2022-09-14 06:42] AlexTugarev commented on #9564
@rfay, thanks for the workspace id, I'm looking into this shortly.

[2022-09-14 07:10] axonasif commented on #12915
@JokerTheBond in that case I would recommend to raise a ticket via https://www.gitpod.io/contact/support

[2022-09-14 07:10] #12915 closed

[2022-09-14 07:11] axonasif commented on #12938
Hey @pybern, you can raise a ticket via https://www.gitpod.io/contact/support regarding your workspace issue.

[2022-09-14 07:13] axonasif commented on #12938
Related: https://github.com/gitpod-io/gitpod/issues/12908

[2022-09-14 07:18] axonasif commented on #12927
Hey @Naqij, could you check your console logs?

Which browser are you using?

You can try opening the preview-window in a separate browser tab.

[2022-09-14 08:26] mads-hartmann commented on #12248
I'm really mystified by that issue to be honest. It could be that it is causing more branches/VMs to be created. I would expect https://github.com/gitpod-io/gitpod/pull/12793 to have resolved that though ☺️

Yeah I think that would be the most robust solution for now ☺️

[2022-09-14 08:32] jankeromnes commented on #6770
Had a brief chat this morning. Summary:
- Marking all running instances as stopped/failed in the "force-de-register cluster" RPC call makes sense (no need to do it in the reconciler)
- In a second step (maybe a follow-up), we'll likely need an additional singleton bridge that regularly garbage-collects all instances that are currently "running" in a cluster that is no longer registered

[2022-09-14 08:52] Nishchit14 commented on #12900
It is working now. Incident has been resolved.

[2022-09-14 08:52] #12900 closed

[2022-09-14 09:08] jmls commented on #12183
did you find a solution ? I also want to prevent this from showiing by default

[2022-09-14 09:35] #12609 closed

[2022-09-14 10:05] woss commented on #666
The VScode relies on the git + gpg program that YOU install on YOUR computer. you have the private key and public key, VSCode is ,only using it. Also the way HOW it is using it is via the git itself, especially via the `gpg.program` key in the `.gitconfig` file.  Which you can set to any gpg cpmpliant program. What you think it is simple it is far from it.

You have to understand that Gitpod is no

[2022-09-14 10:23] utam0k commented on #12248
@mads-hartmann @kylos101 I omitted to take into account the case where a job was forcibly deleted due to a timeout in the middle of the process. Presumably the job will be forced to terminate in about 2 hours, right? The branch is not erased at that time, right?
By the way, do you have a good idea to create a preview environment for testing without creating a branch?

[2022-09-14 10:25] utam0k commented on #12248
I updated it

[2022-09-14 10:30] mads-hartmann commented on #12248
Yeah, this is why I think it will make things more robust if you delete stale branches at the beginning of the job ☺️ In the best case there won't be anything to clean up, but if there is some edge case we weren't aware of that is causing the cleanup logic to not run, then at least we know the next job would clean it up ☺️

It's possible now, but's its not quite intentional that it works I'd say.

[2022-09-14 11:06] AlexTugarev opened #12952 "Project is considered inactive incorrectly"
We found a case in which a project is considered inactive, which means prebuilds are not executed when push events are registered. Unfortunately, there were workspaces started for the very same context URL, which means the activity was not detected as expected. There is nothing in the UI what could help our users to identify the situation.

Here are the relevant entries from the database:
[code]

[2022-09-14 11:22] nandajavarma opened #12953 "[terraform/aws] Install Calico after deleting the default CNI"
This is a big step missing towards syncing the terraform module with the reference architecture. Follow the discussion here https://gitpod.slack.com/archives/C01KLC56NP7/p1663153953823739

[2022-09-14 12:10] AlexTugarev commented on #9564
@rfay, once again, thanks for revealing this issue and showing great patience 🙏🏻

We looked into the project details and learned about a [bug](https://github.com/gitpod-io/gitpod/issues/12952) which leads to prebuilds being cancelled, because the project was considered inactive incorrectly. Database entries clearly show recent workspace starts days before a push event was registered, thus prebuild

[2022-09-14 12:11] easyCZ opened #12955 "Ensure workspace instances have a stoppingTime when they are stopped"
In order to improve data quality of workspace instances, we need to ensure that all instances which are stopped (`phasePersisted = 'stopped'`) also have a `stoppedTime`.

This is required to ensure that usage & billing remains accurate.

One can identify these cases in the DB with the following SQL query:
[code]

There are 2 parts to this:
1. Ideally we want to fix the root-cause of this - identif

[2022-09-14 12:32] jankeromnes commented on #12283
Thanks again for the `StopWorkspaceReason` idea @easyCZ!

I gave this a first shot in https://github.com/gitpod-io/gitpod/pull/12906, and started with the following reasons:

[code]

However, after challenging this a bit, it still feels underspecified, so more discussion & alignment is likely needed before we can actually make such a change to the high-stakes `StopWorkspace` protocol.

Meanwhile (

[2022-09-14 12:45] geropl opened #12959 "[ws-manager-bridge] Setup a metric "instance_forcefully_stopped""
We have a couple of control loops that "clean up" bad state that we detect, and mark workspace instances as "stopped" afterwards.

At the moment, we just log these cases as info. In addition, we should also increase a metric that says "hey, we just fixed sth up in the DB, but ideally this should not happen", e.g. `instance_marked_stopped` or similar.

[2022-09-14 12:49] geropl opened #12960 "[server] Add SLO for image-build completed successfully"
We are currently lacking insight into how often image-builds are not completed successfully. Especially we suspect, that rollouts of `server` might lead to updates about image-builds are being lost.
To proof that, and to be able to hunt this down, we should introduce a metric + SLO.

- [ ] Create metric
- [ ] Create SLO

[2022-09-14 13:18] kevinhq commented on #4671
this is happening again on my workspace. pretty disappointing. I've send you email to restore it asap

[2022-09-14 13:31] mrzarquon opened #12964 "AWS Terraform Ref Arch is too permissive"
### Bug description

Inheriting from our old EKS guide, we still set `"arn:aws:iam::aws:policy/AmazonS3FullAccess"` on the S3 user accounts, which grants global S3 access to the user.

There is no reason to do this now that we support specifying an S3 bucket for an object store. And it could cause this creation to fail in the instances where the user running the terraform code doesn't have permiss

[2022-09-14 13:49] #12964 closed

[2022-09-14 14:01] tomwheeler commented on #12183
No, unfortunately, I did not find a solution to this.

[2022-09-14 15:11] mrzarquon commented on #12012
@geropl Thinking about this, while the rds option for the mysql option fast tracks that specific use case, for doing test connections, we'd still need the CA exposed there (maybe we extract it from the module?).

Downside of using the CA upload method is we then encode the CA into the users gitpod configuration file, so they will need to know to refresh that in 2 years when it expires:
[code]

The

[2022-09-14 15:17] jeanp413 commented on #12183
@tomwheeler This is fixed in vscode web `1.71.1`, you should see it one more time when opening a new workspace but then it won't show anymore, let me know if that's not the case

[2022-09-14 15:30] loujaybee commented on #12877
Thanks @thisisommore for the feedback! Housekeeping: This looks like it was originally assigned to IDE team, I think this is more related to WebApp, however? I also couldn't find a label for the environment variables feature, we could possibly do with one. Assigned to WebApp team inbox.

[2022-09-14 15:41] adrienthebo commented on #12345
I ran into this issue this morning; when opening a gitpod-io/gitpod pull request (https://gitpod.io/#github.com/gitpod-io/gitpod/pull/12871) 4 times in succession the first three have been hung for 10 minutes and the last workspace launched successfully.

This has happened on a regular basis for the last few weeks, about 1/3rd of the workspaces I create against gitpod-io/gitpod fail.

This seems t

[2022-09-14 16:07] jldec opened #12969 "Usage-based pricing - validate that self-hosted Gitpod users are not impacted by UBP changes"
Feature flags _should_ ensure that there is no impact of UBP on self-hosted Gitpod installations, but this needs to be validated.

- no unexpected UBP-related errors during install or at run-time
- no billing config or usage view for teams or individuals
- no workspace or prebuild errors related to usage limits

#### known issues
- [x] #13390
- [x] #13392
- [x] #13395

[2022-09-14 16:13] jankeromnes opened #12970 "Impossible to add some GitLab repositories as a Project when you're a maintainer of more than 100 repositories"
### Bug description

When you want to add a repository as a new Project in Gitpod, Gitpod first gets the list of all the possible repositories you could add (grouped by account), and then lets you find the repository you want to add via scrolling or searching/filtering.

Unfortunately, in the case of GitLab, we only fetch the first 100 repositories that you could add:

https://github.com/gitpod-io

[2022-09-14 16:30] gtsiolis commented on #12970
Cross-posting in case it helps, there’s support for [offset-based pagination](https://docs.gitlab.com/ee/api/index.html#offset-based-pagination) which we could use to increase the page size here. But maybe this is not available through the API? 🤷

For example:

[code]

See [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1663172660241819?thread_ts=1663140993.635109&cid=C02EN94A

[2022-09-14 16:33] kylos101 commented on #9280
Removing from Workspace project for now @geropl @sagor999 .

[2022-09-14 16:33] jankeromnes commented on #12970
There is actually one workaround: Using the browser console to create a Project manually.

Say I want to add my repository https://gitlab.com/jankeromnes/test-before as a Project to one of my Teams, but for some reason, Gitpod's UI won't show it to me. Then, I can still do this:

1. Run `await window._gp.gitpodService.server.getTeams()` in order to find the team ID under which I want to create the

[2022-09-14 16:39] Furisto commented on #12708
@kylos101 @jldec Tested this on an ephemeral cluster and the performance looks better there. See https://www.loom.com/share/fc6fb07dd05b4621841d90f5a0f41dc8. I have given you access to the ephemeral cluster @jldec

[2022-09-14 16:40] jankeromnes commented on #12970
@gtsiolis Good catch!

Unfortunately, this isn't quite as simple, because the maximum allowed page length is 100:

<img width="823" alt="Screenshot 2022-09-14 at 18 35 39" src="https://user-images.githubusercontent.com/599268/190212442-bb85d572-f9ed-4448-9ece-6b6825887d49.png">

The proper solution to get all results would be to implement API pagination, i.e.:

1. Query the first 100 results (i.e.

[2022-09-14 17:10] jankeromnes commented on #12970
Apparently, Gitbeaker (the library we use to fetch GitLab data) is already supposed to handle pagination and return all results: https://github.com/jdalrymple/gitbeaker#offset-pagination 🤔

But maybe that feature or the version of Gitbeaker we use has a bug with pagination? Or we're not using it properly? 🤷

[2022-09-14 17:37] iQQBot opened #12972 "Add supervisor file descriptor count check in IDE integration test"
## Is your feature request related to a problem? Please describe

Some changes may cause file descriptor leak, we need to check the file descriptor count after running a long-time integration test

[2022-09-14 18:17] loujaybee commented on #12183
Thanks for raising @tomwheeler - aside from the workshop use case, I wanted to note that this also causes a challenge for Gitpod use cases where users want to use Gitpod as part of some "onboarding" flow, either onboarding into an Open Source project, or just into a project in general. We want to allow users the ability to configure as much of the onboarding as possible to be tailored to their nee

[2022-09-14 18:57] sagor999 commented on #12345
this could be due to lost connection and maybe gcloud util not recovering from this correctly. :thinking:

[2022-09-14 19:08] rfay commented on #9564
The problem, you see, is that I'm not the only one using this, and it's used in many different ways. So manually running a prebuild (when???) is not really an option.

The same thing happens of course with [ddev gitpod launcher](https://drud.github.io/ddev-gitpod-launcher/) as well. But it's run with different arguments by random users, requiring a different prebuild.

`https://gitpod.io/#DDEV_REP

[2022-09-14 19:59] kylos101 commented on #12282
:wave: @geropl , it looks like this is not currently scheduled, is that intentional? I ask because of [this comment](https://github.com/gitpod-io/gitpod/issues/12282#issuecomment-1241531220).

For background, we are blocked on two things:
1. adding this issue (itself) to groundwork
2. continuing the resolution for https://github.com/gitpod-io/gitpod/issues/11852

[2022-09-14 20:20] kylos101 commented on #12708
@jldec let us know what you think? 🙏

Wow, nice, @Furisto ! As a next step, I recommend you:
1. Share a link to the branch containing your configuration changes? This way we can review it.
2. Do a test with loadgen and a regular workspace you actively use. For example, fill up a node (leaving enough room for 1 regular workspace), and then connect with a regular workspace, to see what the performan

[2022-09-14 21:15] #12867 closed

[2022-09-14 22:58] sagor999 commented on #12718
Hey @geropl
We need webapp help on this one.
tl;dr
starting prebuild via gitpod.io/#prebuild/<repo>
incorrectly (in my opinion) bundles prebuild and workspace together, specifically, feature flags from workspace are somehow getting coalesced with prebuild itself.

Here is a correct scenario:
User pushes a commit into repo
User triggers prebuild (or it gets triggered automatically).
Prebuild comple

[2022-09-15 00:45] akshatnarayangupta opened #12977 "I am looking to be able to get back to the same state as of before even when a new workspace is opened"
## Is your feature request related to a problem? Please describe
I am looking fo a feature to clone/copy the contents of the snapshot, so that i can enable to users of my application to always be able to restore back to the same point from where they left.

## Describe the behaviour you'd like
I have a github repository, which when opened in gitpod authenticates the users and asks them perform som

[2022-09-15 02:28] jenting opened #12978 "Failed image builds can result in many workspace instances, hiding the original issue"
### Bug description

The workspace can't be started, this started out as an image build failure, but we allowed the user to try restarting the workspace (or restarted the workspace ourselves), resulting in new instances that could not start (because there was no backup).

When an image build fails, we provide the user with an option to start the workspace using the default image. It is possible th

[2022-09-15 02:36] utam0k commented on #12978
@jenting ring1 is called twice because of uid mapping, so I think it is natural to appear `ring1 stopped` at one time.
https://cloudlogging.app.goo.gl/QkZXunGJaKnfud6w

[2022-09-15 04:00] Pothulapati opened #12979 "[single-cluster/eks] Support for `self-signed` certificates"
### Bug description

The new single cluster eks reference guide does not seem to support self-signed certificates.
The image build fails with the following error:

![Screenshot 2022-09-15 at 9 38 47 AM](https://user-images.githubusercontent.com/7892868/190312055-0e96cfc9-257b-49c7-9f8e-1f54b0b7a1ff.png)

[code]

This seems to because of the `containerd` on the node is not configured to trust the `

[2022-09-15 05:42] AlexTugarev commented on #12952
A correction to the data queried initially. I've learned that only team members workspaces do count for the activity of projects. 'Going to follow this separately, but here are the recent workspace starts filtered for team members only.

[code]

[2022-09-15 05:59] AlexTugarev commented on #9564
Absolutely. We understood the issue you're seeing and can reproduce. There is an inactivity detection for project which effectively disables prebuilds for your project incorrectly, see https://github.com/gitpod-io/gitpod/issues/12952. In addition to fixing the behavior behind the scene, we're going to implement a warning alert from https://github.com/gitpod-io/gitpod/issues/9232 with a helpful act

[2022-09-15 06:07] rfay commented on #9564
The slug is in fact drud, and in this case the project drud/ddev. If you describe how to navigate to the events URL instead of the link I'll find it and tell you what it is.

[2022-09-15 06:19] jldec opened #12982 "Admin dashboard - team list cannot be searched by team slug"
I was unable to search for "gitpod-ubp-test-team", but I _was_ able to search for "Gitpod UBP" or "UBP test team".

[2022-09-15 06:22] jldec commented on #12708
Initial (single workspace) evaluation with the gitpod-io/website repo did not reveal any issues.
I was able to `npm run  build` and edit content while watching the dev server live-reload.
Memory and CPU both crept up toward 100% during the build, but I did not observe any errors.

[2022-09-15 06:44] geropl commented on #12969
For ensuring exactly this we introduced the concept of `BillingMode`, with the possible values of `none`, `chargebee` and `usage-based`. And the relevant lines of code are [here](https://github.com/gitpod-io/gitpod/blob/2d2c70f62c4799fe1bf0dca0aa55d4c70bb09386/components/server/ee/src/billing/billing-mode.ts#L78-L82): if `enablePayment` is not set to `true` by the installer, the `BillingMode` for

[2022-09-15 07:02] geropl commented on #12282
@kylos101 Sorry for the back-and-forth. I was under the impression that you asked that logging why StopWorkspace is called (https://github.com/gitpod-io/gitpod/issues/12283) is what you asked [here](https://github.com/gitpod-io/gitpod/issues/12282#issuecomment-1241117861), so I scheduled that.

Coming back to the original question:

So far we don't give any guarantee that we don't call StopWorkspa

[2022-09-15 07:04] easyCZ opened #12983 "Workspace failed to start, instance appears to have gone from stopped to running"
### Background

I'm debugging data consistency between ws-manager and ws-manager-bridge. There are instances where we receive an update for a workspace instance which moves from "stopped" into "running".

We already make use of the event GenerationID which allows us to skip events which are not the most recent. So from the "messaging" perspective, the reason for this update is not ordering of even

[2022-09-15 07:24] MrSimonEmms opened #12984 "Wire up the code changes in KOTS"

[2022-09-15 07:54] loujaybee commented on #10105
Hey folks, I have broadened the scope of this issue to be an epic to contain other sub issues about improved support for user defined shells. I will start to update the description with other related issues. If you have issues with any shell when using Gitpod, please raise an issue with the specific issue you are facing, and we can then link it here to track general progress towards improved user-

[2022-09-15 07:56] geropl commented on #12264
@laushinka could you document the outcome of the Slack discussion here? 🙏

[2022-09-15 08:03] #11679 closed

[2022-09-15 08:10] geropl commented on #12939
Thank you for reporting @whenzei ! :pray:  Your workspace has been stopped by now.

I'm closing this issue because:
 - we're already working on a fix here: #12902
 - it's a duplicated entry of #12938

[2022-09-15 08:10] #12939 closed

[2022-09-15 08:19] geropl commented on #12938
@kylos101 I think there are two or three parts in here:
 1. Why can't the workspace start properly?
 2. Why does bridge receive updates for `stopping`, but never sees any `stopped` state?
 3. Why does bridge not clean those cases up, eventually? (being worked on in #12902 )

Regarding:
 1. Sounds like an effect of https://github.com/gitpod-io/gitpod/issues/12908. D'accord?
 2. Is Team Workspace lo

[2022-09-15 08:23] geropl commented on #12955
@easyCZ There is disconnect between the first paragraph "missing stoppedTime" and the query ("missing stoppingTime"). FWIW "missing stoppingTime" was originally considered a valid state. But would see your point in setting it anyhow. It's just that old data does not do it, and we'd need to think about back-filling it.

[2022-09-15 08:53] geropl commented on #11378
Assigned to Milan after discussion [here](https://gitpod.slack.com/archives/C02EN94AEPL/p1663231989562139?thread_ts=1663230002.297579&cid=C02EN94AEPL).

[2022-09-15 09:05] geropl commented on #12758
@AlexTugarev Yes, [here](https://github.com/gitpod-io/gitpod/pull/12805). Continuing today.

[2022-09-15 09:10] geropl commented on #12012
This is actually an oversight on my end: it should be a `Secret` on the control plane, really. Fixing the PR.

Yes, cert renewal can be solve with external tools like `cert-manager`, for instance.

FWIW: Some cloud providers (like) GCP offer SSL proxies to encrypt traffic between k8s cluster workloads and DBs. Maybe AWS has something similar?

[2022-09-15 09:27] geropl commented on #12955
FWIW:
 - there also are DB entries without **stopped**Time in the DB (3728) (query: `SELECT * FROM d_b_workspace_instance WHERE stoppedTime = '' AND phasePersisted = 'stopped' ORDER BY creationTime DESC;`)
 - the underlying issue got fixed ~4 weeks ago with [this commit](https://github.com/gitpod-io/gitpod/commit/ddd81defdc51994acd9368b5cc10172214ae4587)
 - there are three more recent entries, but

[2022-09-15 09:39] jankeromnes commented on #11847
Could this be a regression? (Happened today in production)

[code]

<img width="1438" alt="Screenshot 2022-09-15 at 10 36 12" src="https://user-images.githubusercontent.com/599268/190370976-b82c0b04-d619-47d6-867c-baf756aead03.png">

[2022-09-15 09:43] geropl commented on #11557
This root cause here has been fixed (bad reporting).

[2022-09-15 09:43] #11557 closed

[2022-09-15 09:46] #5409 closed

[2022-09-15 09:47] #4160 closed

[2022-09-15 09:48] #4245 closed

[2022-09-15 09:48] #4538 closed

[2022-09-15 09:48] #4737 closed

[2022-09-15 09:48] #4860 closed

[2022-09-15 09:48] #5088 closed

[2022-09-15 09:48] #5285 closed

[2022-09-15 09:48] #5410 closed

[2022-09-15 09:48] #5450 closed

[2022-09-15 09:48] #5618 closed

[2022-09-15 09:48] #6091 closed

[2022-09-15 09:49] #6092 closed

[2022-09-15 09:49] #6282 closed

[2022-09-15 09:49] #6447 closed

[2022-09-15 09:49] #6450 closed

[2022-09-15 09:49] #6553 closed

[2022-09-15 09:49] #6909 closed

[2022-09-15 09:49] #9956 closed

[2022-09-15 09:49] #11061 closed

[2022-09-15 09:49] #11062 closed

[2022-09-15 09:49] #11063 closed

[2022-09-15 09:49] #11738 closed

[2022-09-15 09:49] #11739 closed

[2022-09-15 09:49] #11740 closed

[2022-09-15 09:49] #11763 closed

[2022-09-15 11:59] AlexTugarev commented on #12970
@jankeromnes, are you planing to work on this? If not, I'd start working on it.

[2022-09-15 12:44] jankeromnes opened #13000 "[Stripe] Enable automatic tax on transactions"
## Is your feature request related to a problem? Please describe

We've now configured and enabled Stripe Tax in production:

<img width="924" alt="Screenshot 2022-09-15 at 14 34 21" src="https://user-images.githubusercontent.com/599268/190404910-ae43ffe1-df44-4502-8b9b-53b3030f8650.png">

The last step is to follow [this guide](https://stripe.com/docs/tax/subscriptions) in order to enable automat

[2022-09-15 12:47] Furisto commented on #12708
This is the configuration that I am using. I just edited the configmap of ws-manager directly:
[code]
Here [is a video](https://www.loom.com/share/49369e974020492bbf2f0c2d7e610bae) of me using the workspace while the loadtest is running. I am building the project while editing the code and just navigating around. You can see that code completion is not working very well, but otherwise it is fine.

[2022-09-15 12:52] geropl commented on #12877
@thisisommore Wouldn't using two variables solve the issue here? 🤔

[2022-09-15 12:53] geropl commented on #12899
@gtsiolis This is the "no scrollbar" bug again.

@gjw0813 Just to make sure you're unblocked: You can zoom out to be able to click the button.

[2022-09-15 12:57] geropl commented on #12874
@MrSimonEmms Can you share any timeline on when we plan to over proxy support? Somehow that went past me, completely. I'd even go so far and question the decision to support it in the first place. Feels like we pushing an infrastructure concern into the product, really... 😕

/cc @corneliusludmann

[2022-09-15 13:01] MrSimonEmms commented on #12874
@geropl timelines are not really set yet - in reality, I think the official answer is "shortly after the first paying customer requires this feature".

I agree that we don't want to be putting infrastructure concerns into the application. Largely, this is not the infrastructure side of things but it's making sure that the application respects the settings so that it can be installed in this enviro

[2022-09-15 13:10] geropl commented on #12783
@MangelMaxime is this issue resolved with the configuration you found? If yes, I think #459 is the solution here.

[2022-09-15 13:11] geropl commented on #12713
@gtsiolis I bet you have thought about this already?

[2022-09-15 13:12] geropl commented on #12737
@gtsiolis linking you because of color in the UI 🙃

[2022-09-15 13:14] geropl commented on #12682
Hey @ghuntley! 👋
Regarding the performance comparison: That's something we're constantly monitoring and improving. I'm in favor of closing the issue as it's not actionable, and already covered by a constant process. Fine with you?