[2020-02-14 00:41] carl-parrish commented on #983
Do we have an update on when this will be deployed?

[2020-02-14 14:03] edking94 opened #1223 "it saying permissions are suddenly not granted"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional Information

### Example Repository

[2020-02-14 14:10] jankeromnes commented on #1210
@artalar thanks! But my error message says:

[code]

I'm not using SSH authentication, so I don't think that's the problem.

[2020-02-14 14:10] jankeromnes commented on #1223
Hi @edking94, thanks for reporting this problem.

It looks similar to https://github.com/gitpod-io/gitpod/issues/1210, right?

[2020-02-14 14:10] AlexTugarev commented on #1223
@edking94 this is likely the same as https://github.com/gitpod-io/gitpod/issues/1210
'Working on a resolution.

[2020-02-14 14:27] edking94 commented on #1223
thank you!

[2020-02-14 14:48] svenefftinge commented on #1221
The settings editor is generally in a bad shape and going to be replaced completely, soon.

[2020-02-14 14:49] jankeromnes commented on #1223
Closing this issue as duplicate. Please subscribe to #1210 for updates.

[2020-02-14 14:49] #1223 closed

[2020-02-14 16:31] jankeromnes commented on #983
@carl-parrish The fix got deployed, but we simply forgot to remove the label.

[2020-02-14 16:37] jankeromnes commented on #1175
@svenefftinge FYI this continues to happen to me occasionally (duplicate search results):

<img width="224" alt="Screenshot 2020-02-14 at 17 28 35" src="https://user-images.githubusercontent.com/599268/74549851-ac9a6900-4f50-11ea-917c-f5f503c3d5b7.png">

[2020-02-14 18:50] Kreyren commented on #1222
@JesterOrNot Not sure i was rather thinking about something like this being used as a terminal

![image](https://user-images.githubusercontent.com/11302521/74558734-1c195400-4f63-11ea-9f41-1c2076642264.png)

So that it would be independent from the windows and could be called on demand while it opening under 1 sec

[2020-02-14 18:53] JesterOrNot commented on #1222
Thanks for the suggestion :smile:, however, his is more of a theia thing I'll file an issue of there for it to be tracked

[2020-02-14 18:53] Kreyren commented on #1221
@svenefftinge that would be cool i hate the vscode's preferences and prefer atom-like.

[2020-02-14 18:54] Kreyren commented on #1222
@JesterOrNot thanku

[2020-02-14 18:56] JesterOrNot commented on #1222
For future tracking please see https://github.com/eclipse-theia/theia/issues/7158

[2020-02-14 18:56] #1222 closed

[2020-02-14 20:21] Kreyren commented on #1211
Relevant https://github.com/nektos/act/issues/74

[2020-02-14 22:07] Kreyren opened #1224 "Allow to create a draft PR"
![image](https://user-images.githubusercontent.com/11302521/74572064-cd79b300-4f7e-11ea-9f10-dd200474b275.png)

[2020-02-15 20:07] sofa82 opened #1225 "arduino"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional Information

### Example Repository

[2020-02-15 20:23] JesterOrNot commented on #1225
Hello @sofa82, and welcome to GitHub and our community! 😄 Can you help explain your issue?

[2020-02-15 20:25] sofa82 commented on #1225
Hellow my frind

[2020-02-15 20:27] sofa82 commented on #1225
I want to make a smart irrigation system using arduino

[2020-02-15 20:28] JesterOrNot commented on #1225
Cool! What do you need to do that?

[2020-02-15 20:35] sofa82 commented on #1225
I want to bluid this system using real time clock to operate the system according to specific time rang and i want to link the system to the Internet and i do not know how

[2020-02-15 20:36] JesterOrNot commented on #1225
This is not really my field but you could try https://www.gitpod.io/blog/local-services-in-gitpod/

[2020-02-15 22:44] Yash-Varshney opened #1226 "Module not found."
Hey devs,
I was working on golangci-lint. but my code raise an exception that --
Exception: b'/home/gitpod/.pyenv/versions/3.7.6/bin/python3.7: No module named golangci-lint\n'
any idea How to resolve ?
Thanks

[2020-02-16 00:15] JesterOrNot commented on #1226
Hello @Yash-Varshney and welcome to the Gitpod community 😄! Can you send a link to the repo in question?

[2020-02-16 08:30] Yash-Varshney commented on #1226
hye. I didnt get you. I was developing shouldi api of dffml.
https://ad5f7ab5-f1cb-4feb-8387-d42bbaa03ed6.ws-ap01.gitpod.io/#/workspace/shouldi
this is link to the repo.
thanks

On Sun, Feb 16, 2020 at 5:45 AM Sean Hellum <notifications@github.com>
wrote:

[2020-02-16 10:33] Yash-Varshney commented on #1226
sorry for the wrong info.
the golangci_lint module is not a python module. I was looking it in python3.7
Does anyone know the relative path for go modules ?

[2020-02-16 13:24] JesterOrNot commented on #1226
`/home/gitpod/go` is the goroot

[2020-02-17 08:25] svenefftinge commented on #1226
`GOPATH` points to `/workspace/go`

[2020-02-17 08:30] #1139 closed

[2020-02-17 08:31] svenefftinge commented on #1187
Thanks for pinging us. We have a fix that we are testing in our staging environment. To be deployed next Wednesday. cc @csweichel

[2020-02-17 08:34] svenefftinge commented on #800
You can enable autosave in the preferences.
[code]

[2020-02-17 08:37] #816 closed

[2020-02-17 08:37] svenefftinge commented on #500
Did you try installing one of these extensions?
https://marketplace.visualstudio.com/search?term=blade&target=VSCode&category=All%20categories&sortBy=Relevance

[2020-02-17 11:04] wolfy01 opened #1227 "You've been blocked. Please file an issue if you think this is a bug."
Is it possible that I could get the reason for this? I would like to know what I did wrong, and if possible, have another chance

[2020-02-17 13:51] jankeromnes commented on #1227
Hi @wolfy01! Thank you for reaching out.

The block happened because our system detected what seemed like Denial-Of-Service attacks launched from one of your workspaces this morning between 05:00 and 06:00 UTC. Please note that this is against our [Terms of Service](https://www.gitpod.io/terms/), and that Gitpod is meant for development.

I've just removed the block, and apologize if this was a mi

[2020-02-17 13:51] #1227 closed

[2020-02-17 14:01] G00359991 opened #1228 "gitpod workspace: pod the node was low on resource."
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional Information

### Example Repository

[2020-02-17 14:02] G00359991 commented on #1228
It's telling me the resource is low, but it was working fine a few hours ago, and I hadn't added anything or taken away anything in that time. So why is this happening?

[2020-02-17 14:10] martingr1 opened #1229 "Evicted: Pod The node was low on resource: [DiskPressure]"
### Describe the bug
I get the message Evicted: Pod The node was low on resource: [DiskPressure], when loading my workspace. It won't load.

### Steps to reproduce
Start GitPod, click open workspace.

### Expected behavior
Workspace to open.

### Additional Information
N/A

### Example Repository

[2020-02-17 15:01] jankeromnes commented on #923
Closing as duplicate of #1080. Please add any more details there (workspace IDs, URLs, screenshots, etc).

[2020-02-17 15:01] #923 closed

[2020-02-17 15:04] jankeromnes commented on #1229
Thank you @martingr1 for filing this issue. We're investigating this problem.

Closing as duplicate of #1187. Please add any information that could help the investigation there (workspace IDs, URLs, screenshots, etc.)

[2020-02-17 15:04] #1229 closed

[2020-02-17 15:04] jankeromnes commented on #1228
Thank you @G00359991 for filing this issue. We're investigating this problem.

Closing as duplicate of #1187. Please add any information that could help the investigation over there (workspace IDs, URLs, screenshots, etc.)

[2020-02-17 15:04] #1228 closed

[2020-02-17 15:15] svenefftinge commented on #1187
We need to do two things here.
1) make sure this doesn't happen in the first place
2) mark errored workspaces as stopped immediately (they currently timeout for an hour and block users)

[2020-02-17 16:14] Yash-Varshney commented on #1226
thanks for the help !!

[2020-02-17 16:14] #1226 closed

[2020-02-17 21:15] felipecassiors commented on #1215
The `gp open --wait` would be awesome! Looking forward to it.

[2020-02-18 00:00] wolfy01 commented on #1227
Hi @jankeromnes, sorry if this seemed like a Denial-Of-Service attack, I made a proxy bot for a site, may have been a bit overkill. I will take this into account in future projects.... Sorry D:

[2020-02-18 00:03] alesanchezr commented on #800
Oh perfect.

[2020-02-18 00:33] Kreyren commented on #800
Is `.theia/settings.json` now recognized per repository?

*i'm still using /worspace/reponame/.vscode/settings.json and i hate it*

[2020-02-18 03:12] carlosdaniel15 opened #1230 "x"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional Information

### Example Repository

[2020-02-18 03:14] JesterOrNot commented on #1230
Hello @carlosdaniel15 and welcome to GitHub and welcome to the Gitpod community! 😃
Can you help explain the issue?

[2020-02-18 09:31] svenefftinge opened #1231 "Prebuilds initially have prebuilding user's vscode extensions"
When I start a prebuild workspace, prebuilt by another user, I initially get his vscode extensions.

[2020-02-18 10:09] svenefftinge commented on #800
you can use either `.theia` or `.vscode`. `.theia` has priority.

[2020-02-18 12:17] Kreyren opened #1232 "rustlang(bug?): gitpod is unable to change build.target-dir"
### Describe the bug

My repository expects rls to build in `build/rustlang` which does not seem to be possible
![image](https://user-images.githubusercontent.com/11302521/74734831-aad1ed80-524f-11ea-951b-21545f323c7b.png)

### Steps to reproduce

1. Make a new repo
2. Invoke `cargo init`
3. Try to change `build.target-dir` from `target/` on `build/rustlang` and expect failure

### Expected behavi

[2020-02-18 12:25] Kreyren commented on #1232
Works now, i don't know what changed..

![image](https://user-images.githubusercontent.com/11302521/74735961-0d2bed80-5252-11ea-812d-495cfa4337a8.png)

[2020-02-18 16:31] Kreyren commented on #1232
Does not work again:

![image](https://user-images.githubusercontent.com/11302521/74756132-660c7d80-5274-11ea-8128-b13f9c591860.png)

I don't know what is causing this bug seems to happend on random

[2020-02-18 16:53] Kreyren commented on #1232
It works again now..
![image](https://user-images.githubusercontent.com/11302521/74758338-7c680880-5277-11ea-8a6b-a7320bacd5d8.png)

Errors are displayed which may be relevant.

Seems that invoking `cargo clean` fixes the issue for some time.

[2020-02-19 05:14] alesanchezr commented on #800
Ok so I have aded autosave to all exercises, I also added video introduction and tutorials for some of them but I'm still missing something, I beta-test the exercise engine with students every day and **I think I need a way to open a modal, is there any way?** Some if the exercises like the React.js ones are getting some traction, ~40 likes in github already!

I need the modal because its the only

[2020-02-19 05:30] mendujeevan opened #1233 "i am unable to parse my context from github to gitpod"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional Information

### Example Repository

[2020-02-19 05:59] ivgd01 commented on #1072
this bug appears again

[2020-02-19 06:14] ivgd01 opened #1234 "Failed to build custom docker image, Debian/Ubuntu or Alpine based images."
### Describe the bug
reference to steps according to gitpod.io/doc

### Steps to reproduce
paste the link ""https://gitpod.io/#https://github.com/ivgd01/testgitpod/tree/dev"" in the chrome browser, then press Enter

### Expected behavior
build the simple custom docker image successfully

### Additional Information
no

### Error Message
Error: build failed: rpc error: code = Internal desc = cannot

[2020-02-19 06:58] mauroindigne opened #1235 "Cant create workspace"
### Describe the bug

When opening a new Gitpod of this template, im greeted with and error message and can not open my workspace
### Steps to reproduce

- Open a template
- click Green "gitpod" button
- message pops up with error
### Expected behavior

I need my work space to be opened.
### Additional Information

### Example Repository

[2020-02-19 07:13] mparkcode commented on #1072
Hi there, this bug has appeared again:

Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume: Error response from daemon: No such image: gitpod.io/image-builder/selfbuild:d206635ad520e60517fa3ca4c42ca6b2966e0bcce32474021253a2753a0f262f
Please file an issue if you think this is a bug.

Using the same template: https://github.com/Code-Institut

[2020-02-19 07:16] mparkcode opened #1236 "Unable to open gitpod workspace from template"
### Describe the bug
Unable to open workspace from template  https://github.com/Code-Institute-Org/gitpod-full-template

### Steps to reproduce

### Expected behavior
Expected to be able to open workspace from template

### Additional Information
This bug occured previously on Jan 13 https://github.com/gitpod-io/gitpod/issues/1072

Error: build failed: rpc error: code = Internal desc = cannot crea

[2020-02-19 07:27] svenefftinge commented on #1236
It seems to happen in asia cluster, only.

[2020-02-19 07:28] svenefftinge commented on #1235
thanks for reporting, it is a duplicate of #1236

[2020-02-19 07:28] #1235 closed

[2020-02-19 07:29] svenefftinge commented on #1234
Thanks for reporting. It is a duplicate of #1236.

[2020-02-19 07:29] #1234 closed

[2020-02-19 07:30] svenefftinge commented on #1233
Is this the same as #1236 ? If not please open a new ticket and provide more information.

[2020-02-19 07:30] #1233 closed

[2020-02-19 07:30] svenefftinge commented on #1234
works again, sorry for this.

[2020-02-19 07:30] svenefftinge commented on #1235
works again, sorry for this.

[2020-02-19 07:32] svenefftinge commented on #1236
It works again. Thank you for reporting it including helpful details and sorry for the interruption.

[2020-02-19 07:32] #1236 closed

[2020-02-19 07:35] mparkcode commented on #1236
Great, thanks for the prompt response and fix.

[2020-02-19 07:38] #1230 closed

[2020-02-19 07:39] svenefftinge commented on #1224
dupe of #360

[2020-02-19 07:39] #1224 closed

[2020-02-19 08:37] kittaakos opened #1237 "`Copy GitHub link` is broken in diff editors."
### Describe the bug

### Steps to reproduce

`Copy GitHub link` is broken in diff editors.

 - Open Gitpod on this PR: https://github.com/eclipse-theia/theia/pull/7159
 - In the `sidepanel.css (4d4f6c293907893670c7aa7c11b55c4811d004a3) ⟷ sidepanel.css` diff editor right-click in line 85 and select `Copy GitHub link`.
 - I have this URL: https://github.com/Anasshahidd21/theia/tree/dc16e5841d5a3476

[2020-02-19 08:39] kittaakos opened #1238 "Typo in the GH issue template `occured` -> `occurred`"
### Describe the bug

### Steps to reproduce

Go to https://github.com/gitpod-io/gitpod/issues/new, you can see there is a typo in the template:

`occured` -> `occurred`

### Expected behavior

### Additional Information

### Example Repository

[2020-02-19 09:25] akosyakov commented on #1133
Partial fix will be deployed next week, please see https://github.com/eclipse-theia/theia/issues/7054#issuecomment-587389681 for details.

[2020-02-19 09:32] Sandared commented on #1133
Awesome :) Thank you!

[2020-02-19 12:46] svenefftinge commented on #800
I believe fo such scenarios it would be better to go with a VS Code extension. There you can send messages: https://code.visualstudio.com/api/references/vscode-api#MessageOptions

[2020-02-19 14:44] Kreyren opened #1239 "How to scale GUI apps depending on the preview size?"
### Current

![image](https://user-images.githubusercontent.com/11302521/74844922-7da83c80-532e-11ea-9b24-b7c4a56b4a9a.png)

### Expected

![image](https://user-images.githubusercontent.com/11302521/74845057-b2b48f00-532e-11ea-8452-c6366941931c.png)

---

I need some solution to make diagrams willing to change the software if there is something better.

[2020-02-19 15:48] RossComputerGuy opened #1240 "Internal server error"
### Describe the bug
Trying to open a repo using `http://gitpod.io/#https://github.com/user/repo` does not work and causes an internal server error message to pop up.

### Steps to reproduce
1. Open a repo

### Expected behavior
The repo to start opening

### Example Repository
https://github.com/ExpidusOS/builder/tree/redesign

[2020-02-19 15:56] jankeromnes commented on #1239
Hi @Kreyren, excellent point. I've been meaning to do something here for a while now, because I think it's quite unfortunately that the noVNC virtual desktop doesn't automatically resize with the preview pane.

One flagrant example is https://github.com/techwithtim/Hangman/, a really cool Python demo that can be started automatically in Gitpod, however the Hangman game window opens in the center o

[2020-02-19 15:57] jankeromnes commented on #1239
More related to your question though, I think that once we have a virtual desktop with an auto-adaptive size, any GUI apps that's maximized should also follow the preview dimensions... hopefully.

[2020-02-19 16:02] jankeromnes commented on #1004
Doesn't seem to be the missing JavaFX, as we've reintroduced it, but the problem is still there.

For what it's worth, the empty window is beige now instead of yellow. Any help or ideas here would be much appreciated. 🙏

[2020-02-19 18:04] jankeromnes commented on #1240
Hi @RossComputerGuy, please try again, this should be resolved.

FYI this was caused by a GitHub incident today: https://www.githubstatus.com/ -- this also affected Gitpod, or at least its components that depend on GitHub, like OAuth sign-in and cloning repositories.

[2020-02-19 18:05] jankeromnes commented on #1240
Closing as GitHub's incident is marked as resolved. Please do comment here if you're still seeing issues though.

[2020-02-19 18:05] #1240 closed

[2020-02-19 18:10] #1238 closed

[2020-02-19 18:10] jankeromnes commented on #1238
Great catch! Many thanks, fixed.

[2020-02-19 18:14] jankeromnes commented on #1237
Funny enough, https://github.com/gitpod-io/gitpod/issues/322 was filed exactly 1 year ago, on February 19th! 😂 🎂

In honor of this, I think we should fix it.

[2020-02-19 20:46] Kreyren commented on #1239
## Self-Diagnostics

### Autoscale function?
noVNC apparently supports autoscale (https://github.com/novnc/noVNC/issues/763)

Research required.

[2020-02-19 20:55] Kreyren commented on #1239
ping @jankeromnes Running https://6080-....gitpod.io/vnc.html with following configuration fixes the issue. Is that usable for gitpod implementation?

![image](https://user-images.githubusercontent.com/11302521/74875404-77cc4e80-5362-11ea-965d-d0247b598e36.png)

[2020-02-19 23:14] jankeromnes commented on #1239
Amazing, thank you so much @Kreyren for researching this! 🎉 🙏 💯

I don't have time to test it now, but if this works well we should probably make that the default behavior in Gitpod, e.g. via a noVNC `launch.sh` option in:

https://github.com/gitpod-io/workspace-images/blob/8a146a2cf092181723e63979e58605a413f84115/full-vnc/start-vnc-session.sh#L15

(assuming the desired configuration can be passed

[2020-02-19 23:16] JesterOrNot commented on #1239
@Kreyren Awesome 💯

[2020-02-20 00:43] JesterOrNot commented on #1239
I'll look into preparing a PR

[2020-02-20 08:14] ivanraybuglosa commented on #288
How does another user expose your port? I'm sharing my workspace with another person and it seems that he cant expose the port.

[2020-02-20 09:25] svenefftinge opened #1241 "[Sharing] Guest users cannot expose a port"
### Describe the bug
Guest users on shared workspaces cannot expose a port.
The pop up is shown, but pressing expose doesn't do anything.

Workaround:

Enter the port in a .gitpod.yml and reload the browser.

[2020-02-20 09:26] svenefftinge commented on #288
@ivanraybuglosa thanks for reporting. I have filed a ticket https://github.com/gitpod-io/gitpod/issues/1241

[2020-02-20 09:34] ivanraybuglosa commented on #1241
I actually did the workaround but still can't show the running app. Is there anything else that I can do? Thanks for the help!

[2020-02-20 12:15] svenefftinge commented on #1241
I tried that myself before posting it here and it worked for me. To avoid missunderstandings here is what I did:
1) created a `.gitpod.yml` in the root of the project with the following contents
[code]
2) shared the workspace with someone. The person needs to be logged in with gitpod.
3) start a webserver, e.g. `python3 -m http.server 4000`

The guest user should the a notification, asking whether

[2020-02-20 12:26] aggsol opened #1242 "Vala syntax highlighting"
Having syntax highlighting for `*.vala` files would be great. As a first work around using the C# highlighter for files with `*.vala` extension would be very helpful. Those two language are very similar.

[2020-02-20 12:59] JesterOrNot commented on #1242
I will look into this!

[2020-02-20 13:03] JesterOrNot commented on #1242
Would something like this work?
![image](https://user-images.githubusercontent.com/50386709/74936044-08308080-53af-11ea-99ae-a92a922f6ea8.png)

[2020-02-20 13:05] JesterOrNot commented on #1242
If so add the following to your [.gitpod.yml](https://www.gitpod.io/docs/config-gitpod-file/)
[code]

[2020-02-20 13:28] aggsol commented on #1242
@JesterOrNot Oh yes! Thank, works perfectly.

[2020-02-20 13:44] JesterOrNot commented on #1242
Glad to be of help 🙂

[2020-02-20 13:44] #1242 closed

[2020-02-20 14:41] #1239 closed

[2020-02-20 14:43] jankeromnes commented on #1239
Thanks a ton for the fix @JesterOrNot! 🙏 🎉

I just merged the fix, so this should land in production as soon as the `master` build is through (E.T.A ~30min I think).

[2020-02-20 14:48] Kreyren commented on #1239
@jankeromnes note https://github.com/novnc/noVNC/issues/1370#issuecomment-588687241

[2020-02-21 01:04] mparkcode opened #1243 "Unable to create workspaces based on repositories"
### Describe the bug
Unable to create workspaces based on repositories
### Steps to reproduce
Click on gitpod button on a repository

### Expected behavior
A gitpod workspace to be created

### Additional information
error message:
cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/0a371eb9-1600-4629-bd91-c9f0ec04ba66: no space left on device

[2020-02-21 01:10] JesterOrNot commented on #1243
This is a known issue with Kubernetes please try refreshing and see if that helps

[2020-02-21 01:16] mparkcode commented on #1243
Hmm, the problem seems to be persisting

[2020-02-21 01:17] 505799690 commented on #1243
same problem

[2020-02-21 01:24] JesterOrNot commented on #1243
I'll let my colleagues know

[2020-02-21 01:29] rayson1223 opened #1244 "No space left on device"
### Describe the bug
cannot initialize workspace: cannot initialize workspace: cannot initialize workspace: git initializer: git clone https://github.com/eclipse-theia/theia.git . failed (exit status 128): Cloning into '.'... fatal: write error: No space left on device fatal: index-pack failed
Please file an issue if you think this is a bug.

### Steps to reproduce

Generate a new pod

### Expecte

[2020-02-21 01:52] JesterOrNot commented on #1244
Hello @rayson1223 and welcome to the Gitpod community
This is a duplicate of #1243 please voice your concerns there if you would like

Thank you for contributing!

[2020-02-21 01:52] #1244 closed

[2020-02-21 02:25] boraoren commented on #1243
same problem

[2020-02-21 02:37] devlights commented on #1243
same problem

[2020-02-21 02:39] rayson1223 commented on #1244
Hello @JesterOrNot , my bad that didn't check the issues list before I posting.
Thank you for verifying! =)

[2020-02-21 02:40] JesterOrNot commented on #1244
It's no problem 😃

[2020-02-21 02:44] xys20071111 opened #1245 "Cannot open an exist workspace."
### Describe the bug

When I tried to open an exist workspace,it falied to start.
### Steps to reproduce

1:Log in
2:Open an exist workspace.
3:It will happen
### Expected behavior

It should work as usual as yesterday.
### Additional information

cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/ef3d52cd-0089-4a6b-a338-4ec4db9945fb: no space

[2020-02-21 02:51] JesterOrNot commented on #1245
Hello @xys20071111 and welcome to the Gitpod community :100:
We are aware of this see #1243

Thanks for contributing 😃

[2020-02-21 02:51] #1245 closed

[2020-02-21 02:52] martin0607 opened #1246 "No space left on device"
When I start a workspce it shows "Cannot initialize workspace.........no space left on device".
So I remove my workspace and create a new one, still same issue.
Does my account limited?

[2020-02-21 02:55] zhangsean commented on #1243
same problem

[2020-02-21 02:56] Tshoes opened #1247 "no space/can not mount workspace"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-21 02:57] #1247 closed

[2020-02-21 02:58] Tshoes opened #1248 "no space left on device"
### Describe the bug
 cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/e618eeb6-8d2b-426a-bdeb-bdb5eee2ea1c: no space left on device
Please file an issue if you think this is a bug.

[2020-02-21 02:58] JesterOrNot commented on #1246
Hello @martin0607 and welcome to the Gitpod community! 😄 This is already being tracked in #1243

Thanks for contributing!

[2020-02-21 02:58] #1246 closed

[2020-02-21 03:04] boraoren commented on #1248
you can follow https://github.com/gitpod-io/gitpod/issues/1243 @JesterOrNot

[2020-02-21 03:06] JesterOrNot commented on #1248
Thanks, @boraoren

[2020-02-21 03:06] #1248 closed

[2020-02-21 03:07] kugared94 opened #1249 "cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/83966c08-1407-4783-9625-d97e12458627: no space left on device Please file an issue if you think this is a bug."
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-21 03:08] kugared94 commented on #1243
cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/83966c08-1407-4783-9625-d97e12458627: no space left on device
Please file an issue if you think this is a bug.

[2020-02-21 03:11] JesterOrNot commented on #1249
Hello, @kugared94 and welcome to the Gitpod community this! Thank you for contributing! :100:

This issue is currently being tracked in #1243

Please take any concerns you have there if you would like 😄

[2020-02-21 03:11] #1249 closed

[2020-02-21 03:13] jankeromnes commented on #1243
Thank you for reporting this, and sorry for the disruption. We're investigating.

[2020-02-21 03:31] matthewpoyner opened #1250 "cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/5c01adc4-0269-43b5-90a4-9d2b27fb7087: no space left on device Please file an issue if you think this is a bug."
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-21 03:31] jankeromnes commented on #1243
Update: We found the root cause of this problem, and are starting to free up space in all nodes. Service should start recovering from here on out.

[2020-02-21 03:32] jankeromnes commented on #1250
Hello! So sorry about this, already tracked in #1243. We're currently resolving this incident.

[2020-02-21 03:32] #1250 closed

[2020-02-21 03:34] matthewpoyner commented on #1250
Ah, no worries - thank you Jan

On Fri, 21 Feb 2020 at 16:32, Jan Keromnes <notifications@github.com> wrote:

[2020-02-21 03:38] devlights commented on #1243
I have confirmed that the problem has been resolved. Thanks :)

[2020-02-21 03:39] mparkcode commented on #1243
Yup looks like it's working again, great stuff, thanks.

[2020-02-21 03:42] JesterOrNot commented on #1243
Closing this as resolved then!

[2020-02-21 03:42] #1243 closed

[2020-02-21 03:46] xys20071111 commented on #1243
It works.I can countine my things.

[2020-02-21 03:52] jankeromnes commented on #1243
I confirm the issue is resolved. Thanks a lot for your patience and help.

As next steps, we will improve our disk usage monitoring; alerting; and disk quota enforcement.

In the future, when reporting operations issues and/or downtime, please try to mention which global geographical region you're seeing this problem in (e.g. Asia, Europe, North America -- or ideally the cluster name if you know i

[2020-02-21 16:49] BSFishy opened #1251 "Vagrant support"
I have been using Gitpod for a little bit now, because it lets me write code on any machine I use while I'm at school. This is great, because I always have an environment where I can write code without worrying about clutter, dependencies, or whatever else. While this is all fine and good, I also want my projects to be easily accessible to anyone, even those not using Gitpod. To help with this pro

[2020-02-21 16:56] Kreyren commented on #1251
Can you give me a summary of that? Maybe all you need is to add `RUN apt install vagrant` in dockerfile ?

[2020-02-21 17:07] BSFishy commented on #1251
[Vagrant](https://www.vagrantup.com/) is a tool to easily manage virtual machines, aimed towards software development. It is a flexible system built to work using other software such as VMWare or VirtualBox. The idea is that you can clone a repository and run `vagrant up` to setup and start a virtual machine that is configured using a `Vagrantfile` in the repository's root. Then you can run `vagra

[2020-02-21 17:32] Kreyren commented on #1251
FWIW: this configuration https://github.com/Kreyren/gitpod-tests1/tree/9b8020e48b5ebdbe7ba4ef4be9368e9be76ce8cd results in

[code]

[2020-02-21 17:49] Kreyren commented on #1251
Apparently it is possible to pass `--device` argument in docker run that should give us the required access.

Checking weather it is sane to use

[2020-02-21 17:59] JesterOrNot commented on #1251
Hello @BSFishy and welcome to Gitpod! 🎉
I've heard of vagrant, however I have never used it myself does it require KVM?

[2020-02-21 18:04] Kreyren commented on #1251
vagrant is just a command line tool, the providers it uses are where the work is actually done. essentially vagrant captures the config you define and calls out to tools like vboxmanage or docker to do any work - From #vagrant on freenode

Seems that the virtual box is an issue here where we need /dev/vboxdrv as mensioned in https://github.com/gitpod-io/gitpod/issues/1251#issuecomment-589754601 to

[2020-02-21 18:07] JesterOrNot commented on #1251
cc @geropl @csweichel @meysholdt

[2020-02-21 18:08] Kreyren commented on #1251
FWIW i'm in #vbox waiting for response

[2020-02-21 18:09] Kreyren commented on #1251
may be relevant: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2008-3431

[2020-02-21 18:11] Kreyren commented on #1251
Relevant: https://www.scmagazine.com/home/security-news/oracles-virtualbox-vulnerability-leaked-by-disgruntled-researcher/

[2020-02-21 18:14] BSFishy commented on #1251
I just wanted to clarify: I didn't mean to imply that Vagrant should outright replace Docker. What I was trying to say is that there could be an option in the config file to specify that the repository uses a Vagrantfile, which would be used to setup the container, rather than a Dockerfile.

[2020-02-21 18:15] JesterOrNot commented on #1251
I see you mean for users to have the option to write their config in a Vagrant or Dockerfile?

[2020-02-21 18:17] JesterOrNot commented on #1251
@BSFishy would running Vagrant in a workspace require root or Docker see #52

[2020-02-21 18:19] Kreyren commented on #1251
afaiu this expects the ability to run `vagrant up` which reads `Vagrantfile` to set up VMs for development, i.e testing the software on freebsd kernel.

[2020-02-21 18:22] BSFishy commented on #1251
I wouldn't assume so. I haven't actually worked with Vagrant yet, as I haven't had access to a development environment outside of Gitpod, but I think it only manipulates the underlying providers, i.e. VMWare or VirtualBox. If the provider needs root access to create or interact with virtual machines, it probably would too.

[2020-02-21 18:23] JesterOrNot commented on #1251
I know but would the VMs that vagrant is spinning up require root

[2020-02-21 18:25] BSFishy commented on #1251
In order to install packages through something like apt, I think so. Although since it is in a separate virtual environment, I would expect it to be fine...

[2020-02-21 18:28] JesterOrNot commented on #1251
This depends on #39 being fixed as we don't allow root inside our workspaces for security reasons @csweichel can explain it better than I can

[2020-02-21 18:29] Kreyren commented on #1251
Based on #vagrant it should work on rootless system, investigating atm

[2020-02-21 18:37] BSFishy commented on #1251
Just read through a tiny bit of VirtualBox documentation. From what I saw, actually creating and running virtual machines doesn't actually require root permissions. That would mean that I could technically install Vagrant and VirtualBox in a Gitpod container right now (ignoring the issue with installing VirtualBox). I could then create a Vagrantfile and spin up a virtual machine using Vagrant, whe

[2020-02-21 20:27] BSFishy commented on #1251
**Breaking:** Vagrant actually has native support for [using Docker a its provider](https://www.vagrantup.com/docs/docker/). Potentially this could be used instead of using virtual machines? Although being able to make virtual machines in Gitpod would be very cool.

Additionally, Vagrant also allows you to [make your own provider](https://www.vagrantup.com/docs/plugins/providers.html). Potentially

[2020-02-21 21:27] Kreyren commented on #1251
Vagrant allows configuration of docker images this does not mean that it can run be used as invidual sandboxing method.

I'm currently having minor success with vagrant on Docker using KVM/QEMU which does not have the mensioned security issue.

[2020-02-21 23:36] Kreyren commented on #1251
cc @meysholdt @svenefftinge this configuration https://github.com/Kreyren/gitpod-tests1/tree/809456e4bf16825911b1e5f4e1695d9c210f8466 should work on gitpod assuming kvm module providing /dev/kvm.

[2020-02-22 00:41] JesterOrNot commented on #1251
We cannot use KVM @Kreyren

[2020-02-22 00:42] Kreyren opened #1252 "Unwanted PS1 manipulation"
Seems that gitpod is manipulating PS1 env var which makes it impossible to be customized by the end-user in https://gitpod.io/environment-variables/.

Requesting the ability to customize PS1 this way.

[2020-02-22 00:48] JesterOrNot commented on #1251
I'll start some testing in https://github.com/JesterOrNot/Gitpod-Vagrant

[2020-02-22 01:31] Kreyren commented on #1251
Elaborate

[2020-02-22 01:34] JesterOrNot commented on #1251
From our Slack channel
![image](https://user-images.githubusercontent.com/50386709/75083806-33b38800-54e1-11ea-9477-e1fa018901ca.png)

[2020-02-22 01:39] Kreyren commented on #1251
@JesterOrNot can you elaborate further? The hardware supports it based on available info

Grrr

[2020-02-22 01:41] JesterOrNot commented on #1251
You don't have to use slack that is an internal TypeFox chat the issue that has more info has become private

[2020-02-22 01:42] Kreyren commented on #1251
Make it public then so that we can evaluate the options :p

[2020-02-22 01:43] JesterOrNot commented on #1251
I can't I don't even have access to it anymore 😅

[2020-02-22 01:45] Kreyren commented on #1251
@JesterOrNot Get the access then? Allowing KVM shoudn't be an issue in terms of security and maintainance we have the resources to configure it.

[2020-02-22 01:46] Kreyren commented on #1251
btw.  we also have the resources to run rootless docker which is based on available info a vulnerability waiting to hapend where i wasn't able to find any legitimate usecase for it to run as root.

[2020-02-22 01:50] JesterOrNot commented on #1251
https://blog.trendmicro.com/trendlabs-security-intelligence/why-running-a-privileged-container-in-docker-is-a-bad-idea/

[2020-02-22 01:53] Kreyren commented on #1251
@JesterOrNot From quickread i dont see anything that would conflict with proposed since i was told that running root on a rootless dockerd is sane assuming sane configuration.

[2020-02-22 01:54] JesterOrNot commented on #1251
![image](https://user-images.githubusercontent.com/50386709/75084174-eab10300-54e3-11ea-8d27-468cd4d63da3.png)

[2020-02-22 01:56] Kreyren commented on #1251
@JesterOrNot
![image](https://user-images.githubusercontent.com/11302521/75084186-b3ac1300-551e-11ea-9016-dcab407f7370.png)

That's why i mensioned sane configuration (linux's permission system is very good compared to XNU if that's where the concern comes from), trying to fetch security checklist for you atm.

[2020-02-22 05:01] ivgd01 opened #1253 "is there potential disk space leak in docker/kubernate based system?"
### Describe the bug
First, thanks to gitpod for providing us such a great place to work/study/play with codes.
I'm totally new to coding, and docker, as I know gitpod is a cool system, it based on docker/kubernate cluster systems which can manage thounds of sub-nodes.

But in this week, I encounterred two critical/block issues, like #1234 #1243
which the root cause is the device run out of the di

[2020-02-22 05:17] ivgd01 commented on #1253
may related issue for referrernce ??
https://github.com/moby/moby/issues/21925

[2020-02-22 05:33] Kreyren commented on #1253
From available info i would guess that there is a problem with something relevant to garbage collection or assuming that most of the users affected seems to be located in US (based on the time of filled issues) i guess that hoster in US might have problems with hardware health that may cause a data corruption that then require restoration from backups which based on my experience has similar sympt

[2020-02-22 08:03] svenefftinge commented on #1253
There are different issues regarding disk space and we are shipping fixes on Wednesday.

[2020-02-22 08:46] mouse484 opened #1254 "file can't save"
### Describe the bug

file can't save

### Steps to reproduce

Save file (ctrl + s)

### Expected behavior

File is saved

### Additional information

Does not occur every time
Once that happens, the file can't save.
![image](https://user-images.githubusercontent.com/38714187/75089364-49858380-559b-11ea-8709-19b6b09c45b6.png)

### Example repository

[2020-02-22 10:09] geoffpopple opened #1255 "Error when starting workspace"
### Describe the bug
cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/f3c929b1-ce3f-4f58-b60a-2574397d0e4b: no space left on device
Please file an issue if you think this is a bug.

### Steps to reproduce
Start the workspace

### Expected behavior
Workspace to start

### Additional information
https://abf0a1d4-00e8-443e-ac13-76a8e8220c25.ws-

[2020-02-22 10:29] jankeromnes commented on #1255
Hi @geoffpopple, thank you for reporting this. We're investigating.

[2020-02-22 10:45] jankeromnes commented on #1255
This is now fixed, please try again. We apologize for the disruption, and we'll make sure that similar problems cannot reoccur in the future.

Details: One server in our `ap01` cluster had a 100% full disk. It contained a temporary copy of a 150GB workspace(!) Removing the temporary copy fixed the problem. Also, we're implementing proper disk quota enforcement so that workspaces cannot grow indefi

[2020-02-22 10:45] #1255 closed

[2020-02-22 10:48] jankeromnes commented on #1254
Hi @mouse484, thank you for reporting this problem, and especially for providing a screenshot of the full error message. 👍 Also, we're very sorry for the disruption to your work.

I think that this problem was due to a full disk in the `ap01` cluster, see #1255. This should now be fixed. Please try again. Also, if saving still doesn't work, please comment here or re-open this issue.

[2020-02-22 10:48] #1254 closed

[2020-02-22 17:07] JesterOrNot opened #1256 "Build errors when building haskell project"
### Describe the bug
Haskell Project's Dockerfile builds for an hour or so and then this happens
![image](https://user-images.githubusercontent.com/50386709/75096203-ea0b8180-5562-11ea-8e86-3c5f6073b045.png)

### Steps to reproduce
Open https://gitpod.io/#https://github.com/JesterOrNot/summoner/tree/hie
### Expected behavior
1. output a human-readable error
2. Not error on valid build
### Addition

[2020-02-22 21:48] Kreyren commented on #1200
FWIW: Rust analyzer is now available as official vscode extension

Tried to implement it with required datatype helper on https://github.com/RXT0112/Zernit/tree/6ceaff2979918b85654a9397072b8e97408cdab6

which results in:

[code]

[2020-02-22 21:53] Kreyren commented on #1200
ping @JesterOrNot Can you take a look at this and approve for transfer if this is a theia bug so that i am not flooding their bug tracker with something that might be a gitpod bug? ^-^

[2020-02-23 01:15] Kreyren opened #1257 "Rate-limited by github bottlenecks gitpod?"
Based on following i believe that i am being rate limited by github when i am working on complicated projects (this happens after every new commit)
![image](https://user-images.githubusercontent.com/11302521/75101732-8ecca400-55e1-11ea-897a-c7c46f2f3c01.png)

This seems to transfer on gitpod which results in same issue:

![image](https://user-images.githubusercontent.com/11302521/75101720-6cd32180

[2020-02-23 01:35] Kreyren commented on #1257
Further evidence on this theory
![image](https://user-images.githubusercontent.com/11302521/75102048-25e72b00-55e5-11ea-97c4-b4cdddd990e2.png)

[2020-02-23 02:41] #1178 closed

[2020-02-23 03:44] Kreyren opened #1258 "Running gitpod in CLI/TUI?"
**Context:** My contributors asked me if gitpod can be run from terminal which it currently can assuming sufficient configuration, but it is not possible to trigger the instance from a terminal excluding using linx or other CLI browsers with github/gitlab login.

Requesting a method to allow building a workspace with a method to use remote access to gitpod instance to allow contributors to work wi

[2020-02-23 06:30] jankeromnes commented on #1257
But the yellow warning seems to indicate that some tab in your browser is going crazy on CPU, thus slowing down the entire browser.

Have you checked `about:performance` if you're using Firefox?

[2020-02-23 06:31] jankeromnes commented on #1257
The Gitpod errors seem weird though. Does the browser devtools console show any interesting errors?

[2020-02-23 07:02] Kreyren commented on #1257
I was checking htop where the utilized system resources were around 43% on CPU where i had X amount of tabs open where only gitpod and github were showing this after issue specifically after a commit for up to 5 mins (seems to get worse depending on the amount of bots and code changes).

I've reproduced the issue to check `about:performance`:
![image](https://user-images.githubusercontent.com/1130

[2020-02-23 07:03] Kreyren commented on #1257
Sidenote: I am using debian dockerimage where this issue is present on gitpod's image as well.

[2020-02-23 07:19] Kreyren commented on #1257
I also believe that the issue is not present if workflows are disabled, but this needs more investigation to confirm.

[2020-02-23 14:04] jankeromnes commented on #1257
Thanks for these additional details!

Hmm. It looks like the YouTube tab is using a lot of CPU. Does this issue also reproduce when you don't have any YouTube tabs open? (Also, note: I think `about:performance` actively collects perf data from tabs, so results may become clearer / more relevant after running for several seconds.)

Then it seems to me that, contrary to what `about:performance` show

[2020-02-23 14:51] jankeromnes opened #1259 "Workspace stopped even though Terminal was being scrolled frequently (mobile)"
### Describe the bug

<img width="300" alt="Screenshot_20200221-110501_Brave" src="https://user-images.githubusercontent.com/599268/75114191-51552e80-5654-11ea-90ce-2e85e703e8bd.png">

### Steps to reproduce
1. Open a Gitpod workspace on mobile (e.g. Brave browser)
2. Long-press Terminal tab handle to maximize it
3. Start a long running process (e.g. a build)
4. Frequently scroll the Terminal outp

[2020-02-23 14:52] TravelTimN opened #1260 "Asia servers going offline constantly"
### Describe the bug
I offer student support to developers who use Gitpod (specifically our template https://github.com/Code-Institute-Org/gitpod-full-template), and only students on the Asian servers are experiencing this issue. The servers constantly go from online to offline, very regularly. If they share their workspace with me, I can see this as well.

### Steps to reproduce
Use the template

[2020-02-23 15:53] svenefftinge commented on #1260
Was that happening shortly before you entered the issue? I tried now using a VPN through Sydney. So super long turnaround, but never saw the yellow status bar.

[2020-02-23 15:56] svenefftinge commented on #1260
We had a couple of users burning a lot of CPU in the asia cluster two hours ago. This could lead to insufficient CPU cycles for other servers. We have a better CPU sharing model implemented in staging, which will be deployed to production on Wednesday. Thanks for reporting this.

[2020-02-23 16:36] chirifa201 opened #1261 "ghty"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-23 17:14] Kreyren commented on #1261
@chirifa201 Is this a mistake?

[2020-02-23 18:04] nishk5 opened #1262 "Out of space"

[2020-02-23 18:33] TravelTimN commented on #1260
@svenefftinge thanks Sven. I didn't hear anything back from the students in Asia after this (middle of the night there for them). I'm back on tomorrow and left a message for a colleague based in Asia as FYI in case they see similar issues tomorrow morning. Thanks for the update!

[2020-02-23 19:20] jankeromnes commented on #1262
Hi @nishk5, could you please provide a workspace URL or a screenshot?

[2020-02-23 19:40] Kreyren commented on #1251
Referencing https://github.com/vagrant-libvirt/vagrant-libvirt/issues/1078#issuecomment-590098120 for more info.

[2020-02-23 19:41] jankeromnes commented on #1262
Thanks a lot for reporting this. The problem should be resolved now. Please try again.

[2020-02-23 19:41] #1262 closed

[2020-02-23 19:43] Kreyren commented on #1251
Referencing https://github.com/docker/compose/issues/7244#issuecomment-589941607 for rootless docker.

[2020-02-24 01:34] Kreyren opened #1263 "REQUEST: Allow end-users to chose their preferred dockerimage"
My repository supports running gitpod in ubuntu and debian docker containers where there is no way for the end-user to chose which one is preferred.

Requesting to add a method to define multiple dockerimages for end-user to choose from.

[2020-02-24 08:30] #1261 closed

[2020-02-24 08:32] svenefftinge commented on #1200
Yes, seems like we need to implement that API in Theia. Could you open a ticket there?

[2020-02-24 13:55] shivaay1234 opened #1264 "Error while building any AOSP ROM on MAC"
I'm getting this error when trying to build any ROM on my MAC. I haven't even managed to build a single ROM due to this issue.
The code below is for the pixel experience ROM based on android 10 and the device I'm building for is the Xiaomi Redmi Note 3(kenzo).
All ROMs give me the exact same error.
Please help me guys. Really wanna learn... :(

The error:

[code]

[2020-02-24 14:05] jankeromnes commented on #1264
Hi @shivaay1234, welcome to Gitpod!

Unless I'm mistaken, this issue doesn't seem related to Gitpod, but rather to AOSP and to MacOS.

Please see https://source.android.com/setup/contribute/report-bugs for how to report issues like that.

[2020-02-24 14:05] #1264 closed

[2020-02-24 14:12] shivaay1234 commented on #1264
@jankeromnes  I'm really sorry. I'm new, so I didn't know where to ask. Sorry.

[2020-02-24 14:19] jankeromnes commented on #1264
@shivaay1234 No need to be sorry. 🙂 When in doubt, it's always better to ask, even if it's not the right place. Then at least people can point you in the right direction. 👍

[2020-02-24 16:25] AlexTugarev commented on #718
I'm closing this as it seem to be a single issue and from `net::ERR_FAILED` error I'm reading that has something to do with the internet connection in general.
@jean please post an update if it occurs again 🙏

[2020-02-24 16:25] #718 closed

[2020-02-24 16:27] AlexTugarev commented on #248
This issue looks outdated.

[2020-02-24 16:27] #248 closed

[2020-02-24 21:12] BSFishy commented on #1251
Afaik, this issue relies more on the support of virtual machines in general, rather than the support of Vagrant. Should another issue be created to document VM support in general?

Although it would be nice for native support of Vagrant like that of Docker.

[2020-02-25 17:07] BSFishy opened #1265 "VM Support"
Support for running virtual machines inside of Gitpod would be awesome. For example, using something like VirtualBox to create and run a virtual machine inside of the Gitpod workspace.

This is related to #1251 and is the issue blocking that functionality. In that issue, virtual machines have been discussed and decided to be put into another issue.

There are [security concerns with VirtualBox](ht

[2020-02-25 23:05] BobHerold opened #1266 "I'm unable to open any of my Workspaces; they can't get past the "Pulling Docker Images...(2/3) https://b5ba9c52-2ffb-4757-afc2-93ccd69c2f47.ws-us02.gitpod.io/"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-25 23:07] BobHerold commented on #1266
they finally loaded after about 15 minutes !

[2020-02-25 23:09] ColbyWTaylor commented on #1266
Experiencing same issue- successfully opened gitpod, tried doing an npm install and immediately unresponsive (but no "connection warnings" or status update as usual). Eventually went to dashboard, saw it was running, started again, and got caught on the "pulling doccker images 2/3" warning.

Rference space: d13a88b9-8ef1-4ad1-a5a2-d23b10b9d661

[2020-02-25 23:26] ColbyWTaylor commented on #1266
Just checked again, space opened, but no access to terminal and consistently getting "offline" orange...

[2020-02-26 06:58] Kreyren commented on #1265
I've got it working to a reasonable degree, waiting for upstream to process the info

VirtualBox is for security reasons mensioned in https://github.com/gitpod-io/gitpod/issues/1251#issuecomment-589881514 not an option untill this is resolved which is doubtful assuming current oracle maintainance and concerns mensioned in https://wiki.debian.org/VirtualBox thus there should be a tracking for this

[2020-02-26 07:07] martin0607 opened #1267 "Cannot create sandbox"
Describe the bug:
Workspace won't start due to this problem.
Steps to reproduce:
Login and start gitpod
https://bba1e5f3-8c34-47d6-8d06-7b5384c6b946.ws-ap01.gitpod.io/
Result:
![1](https://user-images.githubusercontent.com/32560181/75320428-9faf3b00-58a9-11ea-933d-a307a9b73db7.png)

Cannot create sandbox.

[2020-02-26 07:30] #1267 closed

[2020-02-26 08:15] kwokkakit opened #1268 "No space left on device"
### Describe the bug
 No space left on device

cannot initialize workspace: cannot initialize workspace: cannot restore backup: tar /mnt/workingarea/7edbcdc6-7c96-4266-b4ea-2370d54ccf85: exit status 1;tar: write error: No space left on device
Please file an issue if you think this is a bug.

[2020-02-26 08:20] jankeromnes commented on #1268
Hi @kwokkakit, sorry about this problem, and thanks a lot for reporting it. We're investigating.

[2020-02-26 08:22] svenefftinge commented on #1266
Thanks for reporting. There were some heavy processes yesterday that burned a lot of CPU on some nodes. These are usually crypto mining or similar. So other workspaces were affected.

We have been aware of this noisy neighbourhood effect for longer and have finally deployed a fix, which is now active. The change gives each workspace a limited CPU bucket, that will downgrade the number of CPU cores

[2020-02-26 08:22] #1266 closed

[2020-02-26 08:25] akosyakov opened #1269 "conversations view is broken"
<img width="1420" alt="Screenshot 2020-02-26 at 09 25 12" src="https://user-images.githubusercontent.com/3082655/75325906-f00ea480-5879-11ea-8bb9-2f1c4c1bb3ff.png">

[2020-02-26 08:56] jankeromnes commented on #1268
This incident should be resolved. Thanks for your patience.

Also, since we've introduced proper disk space quotas this morning, it should not happen again.

[2020-02-26 08:56] #1268 closed

[2020-02-26 09:39] #584 closed

[2020-02-26 09:39] #1071 closed

[2020-02-26 09:39] #1161 closed

[2020-02-26 09:39] #1187 closed

[2020-02-26 09:39] #1210 closed

[2020-02-26 09:39] #1215 closed

[2020-02-26 09:39] #1231 closed

[2020-02-26 09:39] #1241 closed

[2020-02-26 09:39] #1253 closed

[2020-02-26 09:39] #1260 closed

[2020-02-26 09:40] #1157 closed

[2020-02-26 10:13] jankeromnes commented on #584
@nisarhassan12 Setting the `EDITOR` variable in https://gitpod.io/environment-variables/ is now supported! 🎉

[2020-02-26 10:38] svenefftinge commented on #1260
The fix/change is now deployed in production.

[2020-02-26 10:38] svenefftinge commented on #1253
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1241
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1231
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1215
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1210
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1187
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1161
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1157
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #1071
The fix/change is now deployed in production.

[2020-02-26 10:39] svenefftinge commented on #584
The fix/change is now deployed in production.

[2020-02-26 10:44] svenefftinge commented on #1138
You should enable prebuilds on your projects. This would not cache it in the docker image, but as part of the `/workspace`.

[2020-02-26 11:09] imdigo commented on #854
Any update?
Did it fixed on theia-ide?

[2020-02-26 14:02] nakitamccool opened #1270 "Latest changes unsaved following Gitpod timeout (resulting in hours of work being lost)"
Latest changes unsaved following Gitpod timeout, lost work as a result. Impacting students in the EU region.

Raising this bug on behalf of @PeterLenting (one of multiple Code Institute students affected by this issue)

Original comment from @PeterLenting:
I was working in Gitpod, had just finished adding a checkout-app to my project when Gitpod told me there was a timeout. I went to my dashboard,

[2020-02-26 14:06] armedcor commented on #1270
Have 13 students in a classroom effected by this now.

[2020-02-26 14:07] jimbobding opened #1271 "Sandbox error"
Hi

Had an issue today in which my workspace failed to load and was greeted with this error
![Screen Shot 2020-02-26 at 13 50 25](https://user-images.githubusercontent.com/55886146/75351790-9c638180-58a0-11ea-8449-d57cf2dc8245.png).
everything seems to be okay now but I just thought I would flag it with you

[2020-02-26 14:08] fudge88 commented on #1270
I was working on my project- sharing my workspace with my tutor- when we it crashed. I reloaded it to find my work from the previous 2 hours had disappeared- despite me pushing my commits. When I logged on again to share my workspace with my tutor again- I received a pop up telling me I cant make any active changes to my workspace.

[2020-02-26 14:12] kevin-ci commented on #1270
Have had a further four students affected.
Descriptions:

[2020-02-26 14:49] Taitdanielle commented on #1270
I've lost a good few hours work. Student care helped but started again. Currently on my 2and project which is making me fall behind.

[2020-02-26 15:00] MelBiggs commented on #1270
I returned to my project after lunch to find the new files I worked on today, and committed and pushed to Github, have disappeared from my Gitpod files. My Github files are still there however

[2020-02-26 15:05] tgarratt commented on #1270
Took a 40 minute break from my code to go get something to eat. Came back as normal and my workspace had gone to sleep as expected, rebooted it to see old code which was strange because I could see how it should have been on my live site but after a refresh on the site I could see that the code had all gone...

[2020-02-26 15:05] mark-obeirne commented on #1270
Received this error message:

Workspace Not Running
Status: stopped
Cannot initialize workspace: cannot create sandbox.

Pressed Start to reopen Gitpod but it was several commits behind what I had pushed to Github.

[2020-02-26 15:14] jankeromnes commented on #1270
Hi all, we are super sorry about this problem. Losing hours of work is incredibly frustrating, and should never happen.

The data loss that occurred today was due to a fault in a new workspace disk quota mechanism that was deployed early this morning. We had extensively tested this code in our staging environment, and this bug did not occur then, so this took us by surprise.

We have already disab

[2020-02-26 15:34] jankeromnes commented on #1271
Hi @jimbobding, many thanks for reporting this, as screenshots and complete error messages are really helpful when troubleshooting an issue.

Also, I believe this is #1270, so I'll close this issue for now. Please let me know if this is still happening, or if you think that it's a different issue.

[2020-02-26 15:34] #1271 closed

[2020-02-26 16:34] BSFishy commented on #1265
@Kreyren So would the KVM/QEMU combination be viable for running VM's in Gitpod? What sort of features are missing, if any? Is there anything stopping it from being fully usable inside of Gitpod?

[2020-02-26 16:36] johnmckinzie opened #1272 "apt install not working"
I'm trying add Hugo to the full workspace Docker image. Below are my files:

`.gitpod.yml`
[code]

`.gitpod.Dockerfile`
[code]

I'm also getting the following error when I try and run `sudo apt` in the shell:

`sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid' option set or an NFS file system without root privileges?`

Anything jump out as incorrect? Is there a plac

[2020-02-26 16:37] JesterOrNot commented on #1272
Can you send the link to the repo that is problematic?

[2020-02-26 16:39] JesterOrNot commented on #1272
Also, you cannot run things as root in our workspaces for security reasons see #39

[2020-02-26 16:39] JesterOrNot commented on #1272
And welcome to the Gitpod community by the way :tada:

[2020-02-26 16:39] johnmckinzie commented on #1272
Haha, thanks! And thank you for the quick response.

https://github.com/johnmckinzie/lcr-hugo/tree/docker-hug

Roger that on running as root. 👍

[2020-02-26 16:42] JesterOrNot commented on #1272
I found the issue, I will prepare a small PR

[2020-02-26 16:45] johnmckinzie commented on #1272
Great. Thank you so much for the help. I'm definitely intrigued by Gitpod for several use cases, so I'm excited to start using it.

[2020-02-26 16:46] JesterOrNot commented on #1272
In your .gitpod.yml file you have this
[code]
This init command will fail because there is no Update command as far as I know did you mean for this to be a label?

[2020-02-26 16:48] JesterOrNot commented on #1272
See https://github.com/johnmckinzie/lcr-hugo/pull/1

[2020-02-26 16:48] JesterOrNot commented on #1272
If this is meant to be a label let me know and I can show you how to do that

[2020-02-26 17:34] johnmckinzie commented on #1272
The git command is just to set the repo email to the github masked one. I probably don't need it after it's run once. Probably need to look at the lifecycle of the container.

I merged PR the and pulled the branch but `hugo` is still not installed/found.

[2020-02-26 17:58] JesterOrNot commented on #1272
![image](https://user-images.githubusercontent.com/50386709/75373101-3f130480-588f-11ea-82a3-cbaee7f3123f.png)

Hugo is in $PATH try `hugo new site <SITENAME>` where SITENAME = the name of the site

[2020-02-26 18:07] jankeromnes opened #1273 "[recovered issue #723]: Is there a prebuilt image which is suitable for android app development?"
_It seems that GitHub accidentally took down issue #723, but they kindly provided the missing content so that we could re-post it._

---

@dongfangxunlei at `2019-08-13T06:55:40Z`:

@svenefftinge at `2019-08-13T12:07:40Z`:

@JesterOrNot at `2019-10-05T15:21:45Z`:

@JesterOrNot at `2019-10-05T15:28:27Z`:

@jankeromnes at `2019-10-08T08:51:36Z`:

@JesterOrNot at `2019-10-08T13:01:46Z`:

@JesterOrNot

[2020-02-26 18:08] johnmckinzie commented on #1272
[code]

[2020-02-26 18:11] JesterOrNot commented on #1272
Which branch are you on? We merged into the docker-hug branch

[2020-02-26 18:14] johnmckinzie commented on #1272
[code]

[2020-02-26 18:16] JesterOrNot commented on #1272
That is odd. Try creating a new workspace

[2020-02-26 18:25] johnmckinzie commented on #1272
It's working now after creating a new workspace. Weird that it would rebuild by start/stopping workspace. Thank you for all your help!

[2020-02-26 18:26] JesterOrNot commented on #1272
No problem!

[2020-02-26 18:26] JesterOrNot commented on #1272
Should we close this issue?

[2020-02-26 18:29] johnmckinzie commented on #1272
Done.

[2020-02-26 18:29] #1272 closed

[2020-02-26 23:57] Kreyren commented on #1267
Disclaimer: I am not gitpod staff, trying to help based on my own experience

This is not helping since this instance has been created for you, which is not shared
![image](https://user-images.githubusercontent.com/11302521/75399002-6b646a80-58fb-11ea-97ea-dce59038f25e.png)

Which would require following on your end:
![image](https://user-images.githubusercontent.com/11302521/75399130-c302d600-58f

[2020-02-27 00:00] Kreyren commented on #1210
@svenefftinge Can you reference the relevant code which fixes the issue? It would help us to better understand how gitpod works for contribution

[2020-02-27 00:06] Kreyren commented on #1273
@jankeromnes Can you make TLDR from this? It's unnecessarily long.

[2020-02-27 00:06] Kreyren commented on #1273
![image](https://user-images.githubusercontent.com/11302521/75399736-5e487b00-58fd-11ea-9eae-6234a6165c5b.png)

Seems to be relevant to https://github.com/gitpod-io/gitpod/issues/1265

[2020-02-27 00:19] Kreyren commented on #1265
As mentioned in https://github.com/gitpod-io/gitpod/issues/1251#issuecomment-589881514 it's possible assuming the usage of libvirt provider in vagrant that requires providing `/dev/kvm` (meaning loaded kvm kernel module) for udev to be able to create `/var/run/libvirt/libvirt-sock` to fix this issue on environment https://github.com/Kreyren/gitpod-tests1/tree/809456e4bf16825911b1e5f4e1695d9c210f84

[2020-02-27 00:51] JesterOrNot commented on #1273
Basically
Issue reporter: I want to develop android!
Sven: Not possible
Me: I'll take a stab take a look at https://github.com/JesterOrNot/Gitpod-Android
Me: I did it (sends a lot of screenshots with Android Studio installed)
Jan: Great job Sean
Me: Oh I need KVM
Jan: Hmm we could A: Use physical  device via inlets, B: downloading a flashable image from Gitpod (with flashing tools included) C: Use

[2020-02-27 03:30] JesterOrNot commented on #1210
Sorry, @Kreyren AFAIK this is all in a closed sourced repository

[2020-02-27 03:55] Kreyren commented on #1273
@JesterOrNot thank you! ^-^

i think i understand the issue, but i don't know why is solution proposed in https://github.com/gitpod-io/gitpod/issues/1265#issuecomment-591711957 not an option?

[2020-02-27 03:59] JesterOrNot commented on #1273
Neither do I, Does it work?

[2020-02-27 04:00] JesterOrNot commented on #1273
@geropl if you have time can you take a look?

[2020-02-27 04:00] Kreyren commented on #1273
@JesterOrNot i believe that referenced sourcehut is a proof of it working well.

[2020-02-27 04:00] JesterOrNot commented on #1273
I know but what about _in gitpod_

[2020-02-27 04:01] Kreyren commented on #1273
@JesterOrNot looks like same usecase to me just different product hosted

[2020-02-27 04:02] JesterOrNot commented on #1273
No, I mean do we have KVM/QUEMU running in a workspace?

[2020-02-27 04:06] Kreyren commented on #1273
@JesterOrNot Based on available info we don't since that would require sharing /dev/kvm to dockerd thus proposed to replace docker with vagrant which is based on available info more secure, more efficient on system resources and does not have these limitations and is compatible with current dockerfile configurations.

hardware used on gitpod based on the data that i was able to harvest from it sup

[2020-02-27 08:19] akosyakov commented on #1133
@Sandared please try again, how does it work for you now?

[2020-02-27 08:38] Sandared commented on #1133
Hey @akosyakov it works now! Thank you!
The only thing that's odd is every time I change it I get such a notification:
`Do you want to overwrite the changes made to 'backend/rest/impl/src/main/java/io/qbilon/backend/rest/impl/ClassABC.java' on the file system?`

Is this intended? If so, can I turn this off?

[2020-02-27 09:16] akosyakov commented on #1133
Not, that's why I said it fixed partially. Unfortunately i did not have enough time to figure out why java LS ignoring some dirty buffers which we sent after the rename.

[2020-02-27 13:14] svenefftinge commented on #1210
Yes, sorry, as Sean mentioned. The part that fixed it is closed sourced.
Please open an issue, if you still see this happening.

[2020-02-27 13:54] geropl commented on #1273
@JesterOrNot Thanks a ton for your investigation. The runtime change required to be able to (potentially) open up KVM is on our radar but not within short reach. It's more several months than weeks and we're not ready to commit to a timeline for it, yet.

@Kreyren Thank you for the suggestions. We're observing the space for some time now and indeed are favouring options that would make Gitpod feel

[2020-02-27 14:22] RDIL commented on #1201
No, I have jedi enabled...

[2020-02-27 14:25] Kreyren commented on #1273
Why that long? I see this being deployed under 12 hours with hardening.

Would be willing to provide the userland and kernel assuming hardware info and abstract provided.

[2020-02-27 15:33] ColbyWTaylor opened #1274 "Gitpod slow?"
### Describe the bug

Gitpod seems to responding unusually slowly- having issues getting into dashboard as well- other websites not an issues. Is there a server issue? Referencing: e6a33b5e-b87b-4537-ae70-09342337a95a

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-27 15:52] nabildroid commented on #1274
me too I experience that

[2020-02-27 16:08] RDIL commented on #1274
Same

[2020-02-27 17:02] svenefftinge commented on #1274
Just tried to reproduce in US cluster, but seems fine. I see a node that was high on CPU usage during the time you reported this, though.
Was it the startup of workspaces or the usability of them that was affected?

[2020-02-27 17:12] RDIL commented on #1274
Both

[2020-02-27 17:12] svenefftinge commented on #1270
Here's what happened:

At 13:00 yesterday we rolled out a feature that broke the workspaces of some users, including yours. A feature we had brought into production that morning falsely flagged some workspaces as “not running” - despite them being actively in use. When we rolled another update at 13:00 the system identified those “not running” workspaces and shut them down which caused the timeout

[2020-02-27 17:12] #1270 closed

[2020-02-27 17:13] svenefftinge commented on #1274
Is it still like that for you right now?

[2020-02-27 17:13] RDIL commented on #1274
Its being slow running right now for me, but startup isn't a problem anymore.

[2020-02-27 17:31] svenefftinge commented on #1274
Could you provide more details on what exactly is slow? Is it content assist, typing in terminal or running processes in the terminal?
What languages are you working with?

[2020-02-27 17:33] RDIL commented on #1274
I'm working with React/JSX, and the websockets and git operations are the slow part

[2020-02-27 17:35] diegoernani opened #1275 "Autentication Gitlab"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-27 18:01] jankeromnes commented on #1275
Hi @diegoernani, are you having a problem of some sort? It is hard to tell from your issue title / comment.

[2020-02-27 22:56] davimury opened #1276 "Error: Cannot read property 'sha' of undefined"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-02-28 00:43] Kreyren commented on #1276
afaik this means that there is a syntax error in your gitpod.yml file

[2020-02-28 08:15] svenefftinge commented on #1276
Please share more information - ideally a link to a public repository to reproduce the error.

[2020-02-28 11:48] Sandared opened #1277 "Collapse empty subfolders"
In Gitpod/Theia each subfolder is displayed in the file explorer regardless of it being empty or not. Especially in larger multi module Java projects this leads to very deep nested folder structures like this one:

![image](https://user-images.githubusercontent.com/5059773/75546129-30ac2080-5a28-11ea-895a-c1ead761e596.png)

It would be awesome to have a mechanism like in VSCode that collapses such

[2020-02-28 14:46] ColbyWTaylor commented on #1274
Also working with react, the text being entered wouldn't respond for several seconds, trying to open a directory was delayed, but no issues with other websites.

[2020-02-28 14:48] ColbyWTaylor commented on #1274
worked fine later on, btw

[2020-02-28 22:47] BSFishy commented on #1251
I've been working quite a bit, trying to get this to work these past two days. As @Kreyren said, the kvm kernel module needs to be loaded. To my knowledge, I think that is the last thing that needs to happen to allow all of this to work (although I very much could be wrong).

I have brought my repository [here](https://github.com/bitmodo/assertions) to a point where it could be working, but I am g

[2020-03-01 04:25] mouse484 opened #1278 "Can't open repository with #(%23) in branch name"
### Describe the bug

Can't open repository with #(%23) in branch name
### Steps to reproduce

Open link like below:
`gitpod.io#https://github.com/user/repo/tree/%23◯`
### Expected behavior

Gitpod starts properly
### Additional information

[code]

### Example repository

[2020-03-01 10:36] akosyakov commented on #1277
It's called compressing, not collapsing, but anyway an issue in the upstream: https://github.com/eclipse-theia/theia/issues/4783

[2020-03-01 12:58] Sandared commented on #1277
Ah thanks for clarifying. That would be a super handy feature :)

Looking forward to it!

Am So., 1. März 2020 um 11:36 Uhr schrieb Anton Kosyakov <
notifications@github.com>:

[2020-03-02 12:31] davimury commented on #1276
I fixed the error, but take me a while to understand the error, you could
show more simplified eros like "  there is a syntax error in your
gitpod.yml file", would easy to fix the error if with was like that

Em sex., 28 de fev. de 2020 às 05:15, Sven Efftinge <
notifications@github.com> escreveu:

[2020-03-02 13:14] felipecassiors opened #1279 "Support `settings` in `.gitpod.yml`"
Support VS Code/Theia `settings` entries in `.gitpod.yml` would help us to ensure an even more concise developer environment.

Visual Studio Code Remote Containers already supports it: https://code.visualstudio.com/docs/remote/containers#_container-specific-settings

[2020-03-02 13:19] svenefftinge commented on #1279
Just to ensure we are on the same page, here. You are asking to override workspace level settings through a gitpod-specific settings entry in `.gitpod.yml`?

[2020-03-02 13:20] svenefftinge commented on #1276
Thanks, I agree. Closing this as a duplicate of #717.

[2020-03-02 13:20] #1276 closed

[2020-03-02 14:03] felipecassiors commented on #1279
Oh, didn't notice `{{workspaceFolder}}/.theia/settings.json` work for that. Despite it seems obvious since `vscode` supports the same thing, it would be useful at least if the documentation pointed this.

[2020-03-02 14:42] Kreyren commented on #1279
Feel free to contrib to docs (https://github.com/gitpod-io/website) then :p

Or do you want me to process it?

[2020-03-02 14:57] felipecassiors commented on #1279
I can do, however, most likely I won't have time this week =/. Feel free to do it if you want =).

[2020-03-02 15:30] RDIL opened #1280 "Stop. Opening. Previews."
### Describe the bug
It seems like recently, a Gitpod update came out.
It now opens previews even if set to open the browser in the config.
This may be a bug, or a feature, but either way I am fed up with it.

PLEASE, make it STOP.  THIS is a BIG PAIN.

[2020-03-02 15:54] jankeromnes commented on #1280
Hi @RDIL, thanks for reporting this annoying-sounding issue.

Could you please provide a repository URL where this error can be reproduced?

Also, please note that `onOpen: open-browser` can lead to some problems, e.g. because many browsers prevent websites from opening "pop-ups" by default (because they're usually unwanted ads). We try to detect such blocks in Gitpod, and open a notification inst

[2020-03-02 15:56] RDIL commented on #1280
You can reproduce on https://d179dbc7-889d-44da-914f-c4ba814e77c6.ws-us02.gitpod.io - its a private repo so I'm going to stop sharing in 10 minutes

[2020-03-02 16:00] JesterOrNot commented on #1280
I was unable to reproduce this :(
![image](https://user-images.githubusercontent.com/50386709/75693523-a56f9c80-5c6c-11ea-8e27-21d3619f020f.png)

[2020-03-02 16:01] RDIL commented on #1280
It only happens on first start

[2020-03-02 16:02] jankeromnes commented on #1280
Please provide a repository URL where this issue can be reproduced, or a screencast.

[2020-03-02 16:03] RDIL commented on #1280
https://github.com/rdil/eduaid - I'll give you collaborator so you can open it since its private

[2020-03-02 16:25] Kreyren commented on #1280
This may be irelevant, but while i was working on gitpod/website where i've notice it opening a preview on page build which i also find pretty annoying.

confirm relevance and i will provide steps to reproduce

[2020-03-02 16:32] jankeromnes commented on #1280
This is because of this `.gitpod.yml` configuration:

https://github.com/gitpod-io/website/blob/d4369f5db174999d3737a7245417729bb36d6d79/.gitpod.yml#L2-L3

I.e., whenever something becomes active on port 8000, Gitpod automatically opens a preview for that port.

[2020-03-02 16:38] svenefftinge commented on #1280
Do you use `create react app`? It does open the website in a browser on start and we are now supporting such calls. I.e. it behaves as it would do locally (open a browser tab).
You can disable that with a command line flag.

[2020-03-02 16:41] jankeromnes commented on #1280
Bug confirmed in Gitpod production in Firefox on Mac OS:

- `.gitpod.yml` says `onOpen: open-browser`:

<img width="273" alt="Screenshot 2020-03-02 at 17 38 13" src="https://user-images.githubusercontent.com/599268/75696949-a9bbaa00-5cac-11ea-8be7-051e943c6b75.png">

- when the port becomes active, port 8000 is opened in both a (blocked) pop-up and a preview panel:

<img width="600" alt="Screensho

[2020-03-02 16:42] jankeromnes commented on #1280
You can disable that with a command line flag.

Ah, that should be it.

@RDIL If you start your server with `BROWSER=none yarn start`, the preview no longer opens.

I think you can also configure `BROWSER` on a project- or user-wide basis in https://gitpod.io/environment-variables/

[2020-03-02 16:43] RDIL commented on #1280
Ahh okay, thanks @jankeromnes!

p.s. thanks a ton for blurring the content ❤️

[2020-03-02 16:46] #1280 closed

[2020-03-02 16:48] BSFishy commented on #1251
@JesterOrNot So would it be possible to have the KVM kernel module enabled? Or is there some other outlying problem that would prevent that? I would like to be able to use Vagrant as soon as possible, so having the kernel module loaded would be the next step I believe.

[2020-03-02 18:13] Kreyren opened #1281 "CI(featureReg): Trigger only if gitpod relevant pathname has been edited"
### Description
It seems that it's not possible to get Gitpod bot to trigger a prebuilt depending on files changes

### Expectation
Expecting gitpod to trigger prebuild **only if** commit or merge request changes `.gitpod.yml` file or `gitpod` directory.

### Reasoning
Less noise in the CI

[2020-03-02 18:19] Kreyren commented on #1257
I was busy so i couldn't check it, but it seems that the issue fixed itself.

Will reopen if it happens again and provide the required info.

[2020-03-02 18:19] #1257 closed

[2020-03-02 18:24] Kreyren commented on #1198
@JesterOrNot vim extension has performance issues https://github.com/gitpod-io/website/pull/512/commits/0382ca746baf10823ba2faef71836097c4ce9e8b

I would rather propose custom modelines recognized for gitpod instead of using vim modelines.

[2020-03-02 18:26] Kreyren commented on #1191
I though there is a solution using GitHub API, but that does not seem to be the case.

What about giving end-users few megs of storage assigned as custom homedir that could have these?

[2020-03-02 18:28] Kreyren commented on #1172
closing as stale

[2020-03-02 18:28] #1172 closed

[2020-03-02 18:31] Kreyren commented on #1076
Closing as duplicate of https://github.com/gitpod-io/gitpod/issues/1191

[2020-03-02 18:31] #1076 closed

[2020-03-02 18:33] Kreyren commented on #1039
closed as stale

[2020-03-02 18:33] #1039 closed

[2020-03-02 18:33] Kreyren commented on #1009
closing as stale

[2020-03-02 18:33] #1009 closed

[2020-03-02 18:34] Kreyren commented on #995
duplicate of https://github.com/eclipse-theia/theia/issues/6754

[2020-03-02 18:34] #995 closed

[2020-03-02 18:36] Kreyren commented on #966
Duplicate of https://github.com/gitpod-io/gitpod/issues/1265

[2020-03-02 18:36] #966 closed

[2020-03-02 22:15] Fuork opened #1282 "Projeto Teste Java"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-02 23:18] SpainTrain opened #2238 "Running GCP script produces fatal warning"
After going to https://gitpod.io/#https://github.com/gitpod-io/self-hosted/tree/master , received this warning/failure, which exited with non-zero code:

[code]

I have verified that project and zone are correct.

[2020-03-03 00:45] JesterOrNot commented on #1282
Hello @Fuork, and Welcome to the GitHub and Gitpod communities 🎉  Can you explain what you mean?

[2020-03-03 09:06] jankeromnes commented on #1282
Closing because not enough information was provided.

[2020-03-03 09:06] #1282 closed

[2020-03-03 09:18] ckoncz-hwx commented on #544
Had a chance to test it now. GDB still outputs a scary warning, but debugging works!

[code]
Thank you!

[2020-03-03 09:27] jankeromnes commented on #544
Awesome! Thanks for the update @ckoncz-hwx 👍

Yes, the "warning: Error disabling address space randomization: Operation not permitted" message looks a bit worrying, but you can safely ignore it.

FYI, it's because GDB tries to make a few things more stable by default, because it makes some sorts of debugging a bit easier, but GDB also works really well without that. You can disable this feature wi

[2020-03-03 10:28] Kreyren opened #1283 "feaReq: Allow shell for overwriting theia's settings"
Apparently overwriting theia's setting based on shell language is not available:
![image](https://user-images.githubusercontent.com/11302521/75766744-ebe2fb00-5d41-11ea-85bd-9796ed5d78ed.png)

Requesting it to be added

[2020-03-03 10:40] #1279 closed

[2020-03-03 10:48] svenefftinge commented on #1281
Why is that? The prebuild usually builds your project, so most files in a repo are considered input.

[2020-03-03 10:50] svenefftinge commented on #1191
Yes, that would be possible. The user home however is also configured by the docker build, so we'd need to make sure the suer specific things lie on top. We are close to a solution for that, but it is too early to commit to an actual date.

[2020-03-03 11:18] #949 closed

[2020-03-03 12:52] qkmc-rk commented on #26
The dev server isn't accepting external requests. You need to put below's config

// vue.config.js
module.exports = {
    // options...
    devServer: {
        disableHostCheck: true
    }
}
Where is the file vue.config.js located or do I need to create it? I'm using vue/cli 3.9
You can create a file with that name if you don't have it and add it on the root of your project (same level as package

[2020-03-03 13:36] Kreyren commented on #1281
Optimization so that we woudn't have to wait for gitpod to process the request when it's not needed.

I'm triggering the prebuild manually depending on when it is needed since gitpod likes to build even when the end result is the same at previous (uneccesary waste of system resources and delay in deploy)

[2020-03-03 14:01] JesterOrNot opened #1284 "Pull Request CI in Gitpod"
Add CI checks like this
![image](https://user-images.githubusercontent.com/50386709/75782784-14a8c780-5d25-11ea-9b86-21a23403b3be.png)
Here
![image](https://user-images.githubusercontent.com/50386709/75782807-212d2000-5d25-11ea-940e-ec1db038f1ba.png)

[2020-03-03 14:01] JesterOrNot commented on #1099
My bad

[2020-03-03 14:30] jankeromnes commented on #1284
I think that's an excellent idea! Many thanks.

I see this being really helpful e.g. for preview URLs in CI checks (that way you can open the PR preview from Gitpod instead of having to jump back to the PR tab first).

[2020-03-03 14:58] zeethecoder opened #1285 "git pod error"
### Describe the bug

Error: build failed: cannot build base image: The command '/bin/sh -c apt-get update && apt-get install -y pkg-config python3-dev' returned a non-zero code: 100
### Steps to reproduce

kept trying to restart my teacher tired to trick it and couldn't figure it out
### Expected behavior

### Additional information

### Example repository

https://a5d8d8aa-2199-4cab-b334-be37dcf

[2020-03-03 15:33] jankeromnes commented on #1285
Hi @zeethecoder,

Thank you for reporting this problem. I was able to reproduce it by visiting https://gitpod.io/#https://github.com/zeethecoder/gugs

Also, thank you for providing the repository URL. I'll take a look, and see if I can send you a PR that fixes this problem.

[2020-03-03 15:40] Kreyren commented on #1285
The IP works http://91.189.88.174/

So it seems like an issue on with gitpod's networking assuming following used?
[code]

[2020-03-03 15:51] jankeromnes commented on #1285
FYI, `:branch-mysql` is a temporary development tag, which hasn't been updated in 9 months. The image should be `gitpod/workspace-mysql` (or `gitpod/workspace-mysql:latest`, which are the same thing).

I'm not sure that this is required, given that Python 3 is already installed in `gitpod/workspace-full`. But I may be wrong.

[2020-03-03 16:52] Sandared opened #1286 "[Java] Rename class does not work correctly when class is annotated"
### Describe the bug
When I rename a class that has an annotation then instead of renaming the class Gitpod/Theia removes the annotation and turns the visibility modifier into the new class name, e.g.,
This:
[code]
 becomes this when renamed to Test2:
[code]
This only happens when the class is annotated with something.
A non-annotated class is renamed fine.

### Steps to reproduce
* select class t

[2020-03-03 17:02] jankeromnes commented on #1285
@zeethecoder I've sent you a PR: https://github.com/zeethecoder/gugs/pull/1 please take a look when you have time 🙂

[2020-03-03 17:22] JesterOrNot opened #1287 "Theia Plugins"
Allow for users to extend theia with plugins, possible config in `.gitpod.yml`

[code]

[2020-03-03 17:33] alesanchezr commented on #1285
Thank you @jankeromnes this project was created using the academy boilerplate:
https://github.com/4GeeksAcademy/flask-rest-hello

I implemented the same changes you made but upgrated to python 3.7, thank you!

The two errors you mention happen because the command `pipenv init` should only run one time during the entire project life, that I why I tried adding it into the "init" section of the gitpo

[2020-03-03 17:45] jankeromnes commented on #1285
Aha, I was suspecting this, because I noticed you were the top committer 😄 (but I couldn't find an upstream repository for https://github.com/zeethecoder/gugs/ )

Awesome!

[code]

I guess you no longer need a custom `.gitpod.Dockerfile`, and could simply reference `image: gitpod/workspace-mysql:latest` in your `.gitpod.yml` instead.

Also, for the `.gitpod.yml` tasks syntax, I was experimenting w

[2020-03-03 18:04] Kreyren commented on #1287
elaborate? is this `extensions:` in gitpod.yml?

[2020-03-03 18:53] JesterOrNot commented on #1287
what do you mean?

[2020-03-03 19:16] Kreyren commented on #1287
I am not familiar with theia, requesting more info to how is that relevant to gitpod.yml

[2020-03-03 19:37] MangelMaxime commented on #1210
Before the release of the fix I didn't have the error.

But now, I am seeing this error each time I am pushing to a repo even if the `git push` command is working. I am not sure how I can provide reproduction or more info about this problem.

[2020-03-04 10:08] alanassis opened #1288 "Error: cannot create build volume"
Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume: Error response from daemon: create build-0e2e5dfcf45ef4aec3c4b58b3b7795a43e5ac6f387f725f86d045fca493915de-1583316365: error while creating volume path '/var/lib/docker/165536.165536/volumes/build-0e2e5dfcf45ef4aec3c4b58b3b7795a43e5ac6f387f725f86d045fca493915de-1583316365/_data': mkdir /va

[2020-03-04 10:14] alanassis commented on #1288
I got this message too: "cannot initialize workspace: cannot initialize workspace: cannot create workspace: mkdir /mnt/workingarea/a44152f1-261c-4c86-ad04-453724b04ca5: no space left on device
Please file an issue if you think this is a bug."

[2020-03-04 10:40] akosyakov commented on #1287
@JesterOrNot I think VS Code extensions is already enough. Theia plugin is just another name for them.

[2020-03-04 11:09] marcoz1903 opened #1289 "teste"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-04 11:11] jankeromnes commented on #1289
It works! 🎉

[2020-03-04 11:11] #1289 closed

[2020-03-04 13:50] JesterOrNot commented on #1289
What works?

[2020-03-04 14:10] jankeromnes commented on #1289
I assume that opening this issue was a test. It seems to have worked.

[2020-03-04 14:11] JesterOrNot commented on #1289
Ok

[2020-03-04 14:38] Kreyren commented on #1289
I was expecting a cake for taste.. it was a lie

[2020-03-04 17:34] ColbyWTaylor opened #1290 "Syntax highlighting goes white""

[2020-03-04 17:35] JesterOrNot commented on #1290
Hello @ColbyWTaylor can you explain the issue and perhaps send some screenshots or a screencast?

[2020-03-04 17:50] ColbyWTaylor opened #1291 "Syntax highlighting goes "white""
Hi! The past few days we've noticed a lot of the code goes "white" after a few minutes. The only way to bring back the expected syntax highlighting is by restarting the workspace. Any idea why this might be happening? Thank you in advance :)

[2020-03-04 17:52] JesterOrNot commented on #1291
Hello @ColbyWTaylor can you explain the issue and perhaps send some screenshots or a screencast?

[2020-03-04 17:52] JesterOrNot commented on #1290
Closing as has less info as #1291

[2020-03-04 17:52] #1290 closed

[2020-03-04 18:34] pawankp550 opened #1292 "Evicted: Pod The node was low on resource: [DiskPressure]. ; last backup failed: pod has no hostIP. Please contact support if you need the workspace data. Please file an issue if you think this is a bug."
Getting this error when I start the work space. Used it around 2 hours before I saw this error. This is an important pod. Please help

[2020-03-04 19:23] meysholdt commented on #1288
This issue has been resolved few minuted after it happened 9h ago.

[2020-03-04 19:23] #1288 closed

[2020-03-04 21:14] Kreyren opened #1293 "bug: Wrong linting on github actions"
![image](https://user-images.githubusercontent.com/11302521/75923401-49239d00-5e65-11ea-83ef-c2a36cd19f9a.png)

This syntax is valid, see https://github.com/Kreyren/dockerfreeze/pull/1/checks?check_run_id=486049924

### Expected
Expecting theia to provide correct linting

### Additional info
Snapshot
[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io#snapshot/6b5246

[2020-03-04 21:45] ColbyWTaylor commented on #1291
![image](https://user-images.githubusercontent.com/16373392/75925906-87a26300-5e37-11ea-9fe5-54acbe0f1719.png)

[2020-03-04 21:46] ColbyWTaylor commented on #1291
In the past it has occurred when a session closes so I just refresh, might be something to do with dependencies not getting called if there's a break in the connection?

[2020-03-04 22:10] JesterOrNot commented on #1291
CC @akosyakov

[2020-03-05 09:20] svenefftinge commented on #1293
We are pulling JSON schema from http://schemastore.org/json/.
So it seems like http://json.schemastore.org/github-action is wrong?

[2020-03-05 09:22] svenefftinge commented on #1293
Seems like it is outdated. There are other issues along this line: https://github.com/SchemaStore/schemastore/issues/928

[2020-03-05 09:54] Kreyren commented on #1293
@svenefftinge https://github.com/SchemaStore/schemastore/issues/928 seems like different issue

[2020-03-05 11:09] Kreyren opened #1294 "FeaReg: Add 'packages:' property in `.gitpod.yml`"
Proposing to add property `packages:` in `.gitpod.yml` that would expand in dockerfile instructions to add packages on target dockerfile.

### Example use

in `.gitpod.yml`

[code]

Expands in

[code]

[2020-03-05 11:11] jankeromnes commented on #1291
Just happened to me as well, after returning to a tab that I had left open:

<img width="587" alt="Screenshot 2020-03-05 at 12 10 41" src="https://user-images.githubusercontent.com/599268/75976261-5d55b180-5eda-11ea-9b83-dfd9f5c099f4.png">

The devtools browser console has this error:

[code]

[2020-03-05 11:17] jankeromnes commented on #1291
Oh, and all the language support features are gone. I guess that the TypeScript language server died for some reason?

<img width="250" alt="Screenshot 2020-03-05 at 12 16 17" src="https://user-images.githubusercontent.com/599268/75976679-2fbd3800-5edb-11ea-89af-a6d6f5364e38.png">

[2020-03-05 11:19] jankeromnes commented on #1291
Note: Simply refreshing the tab works around the problem (it successfully restarts the TS language server after a brief hang).

[2020-03-05 12:54] Kreyren opened #1295 "Compatibility for luna-lang?"
Referencing https://luna-lang.org/ which is graphical programming language written in haskel with IDE written in rustlang

See demonstration https://youtu.be/RWzsDPZjOoo?t=83

Is there a way to implement this to work in gitpod? I am considering using this for a package manager downstream.

Or is there any alternative that gitpod is able to support that would allow contributors to use GUI to script

[2020-03-05 12:55] JesterOrNot commented on #1295
I'll see if I can get an example repo setup!

[2020-03-05 12:56] Kreyren commented on #1295
Apparently luna developers are preparing for 2.0 release which should provide web-view editor.. Could we support alternative to theia on gitpod?

[2020-03-05 12:56] JesterOrNot commented on #1295
Sure!

[2020-03-05 12:57] Kreyren commented on #1295
Referencing ENSO which is the mensioned editor

https://github.com/luna/enso

[2020-03-05 13:23] Kreyren commented on #1295
Seems to work using the lasted commit that passed the CI https://github.com/luna/ide/tree/6614e2ab1e9d67b2b56a97d49d4aa30eed4e8122

[2020-03-05 14:03] ColbyWTaylor commented on #1291
Yes the refresh has been well used with this issue! For diagnosing, I get it while typing sometimes- so maybe related to tabbing or something deeper that tabbing triggers?

[2020-03-05 14:06] wdanilo commented on #1295
@Kreyren thanks for mentioning us! I'm from the Luna team. Just FYI, currently, CI does not pass as a dependency of a binary in Rust was broken this night and a lot of Rust packages/binaries stopped building: https://github.com/rust-lang-nursery/failure/issues/342 . It should be fixed soon. And you are right, our new GUI can be found here https://github.com/luna/ide . However, it is not yet in rea

[2020-03-05 15:13] Kreyren commented on #1295
@wdanilo thanks for info appreciated ^^

It seems to have the codebase to build in semi-working state, is there any commit that is capable of semi-functional runtime?

Could you provide more info for the functionality?

to provide context i'm working on a package manager on https://github.com/RXT0112/Zernit that is expected to have bunch of functions defined in libraries which are then expected to

[2020-03-06 00:29] wdanilo commented on #1295
Yes, the `master` branch should build fine and work. We keep `master` always in a working stage.

Currently, in the GUI 2.0 you can run a lot of benchmarks of our WebGL renderer + some initial nodes view. During next weeks a full-blown node-editor should appear.

What is the exact use case here? Do you want to visually define the pipeline of operations?

[2020-03-06 05:55] parzival0611 opened #1296 "I AM UNABLE TO LOG IN TO GITPOD"

[2020-03-06 07:58] AlexTugarev commented on #1296
@parzival0611, sorry to hear about that. I just checked the logs, and it looks like GitHub didn't recognize your token for the "read email" request. It was OK during the OAuth process though.

Just in case, please try again. It might be a glitch with GitHub servers. In Gitpod we've a retry strategy in place for such cases.

[2020-03-06 09:14] Kreyren commented on #1295
@wdanilo Let's move the Zernit usecase in it's separate issue so that this can be used for tracking of gitpod's compatibility for luna/enso.

See https://github.com/RXT0112/Zernit/issues/61

[2020-03-06 09:36] #1296 closed

[2020-03-06 09:47] AlexTugarev commented on #1296
@parzival0611 any news?

[2020-03-06 13:13] Kreyren commented on #765
@AlexTugarev Why did you close it?

[2020-03-06 14:19] AlexTugarev commented on #765
Reopening, as it was not yet deployed.

[2020-03-06 18:26] JesterOrNot commented on #855
This issue is back
![image](https://user-images.githubusercontent.com/50386709/76111303-a58dd600-5fa5-11ea-87c8-72a93be56dab.png)

[2020-03-06 19:05] JesterOrNot commented on #855
![image](https://user-images.githubusercontent.com/50386709/76114194-30bd9a80-5fab-11ea-94b5-ab20802524cf.png)

[2020-03-06 20:37] pprasha opened #1297 "not allowing both gitlab and github"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-06 21:20] Kreyren commented on #1297
@pprasha can you elaborate on the issue?

[2020-03-07 11:56] oakerele-web opened #1298 "How can I copy and paste in Gitpod? I have tried every way that I know but it's not working for me in Gitpod"
How can I copy and paste in Gitpod? I have tried every way that I know but it's not working for me in Gitpod

[2020-03-07 12:05] Kreyren commented on #1298
CTRL+C and CTRL+V works for me.. You can also select using mouse and right click to open a menu with `Copy` and `Paste`

[2020-03-07 12:44] oakerele-web commented on #1298
Thanks @Kreyren CTRL+V works but I have tried the mouse right click to copy and paste but did not work.
My other observation is that I have to type out my closing tags myself i.e. </p>, it does't come automatic. Do you have the idea of what I have done wrong or is it in the setting?

[2020-03-07 13:22] oakerele-web commented on #1298
Don't worry. I have discovered what to do. Thank you very much.

[2020-03-07 13:22] #1298 closed

[2020-03-07 13:34] Kreyren commented on #1298
Can you elaborate on the solution?

[2020-03-07 18:07] Kreyren opened #1299 "Diagraming in gitpod?"
Referencing https://github.com/RXT0112/Zernit/issues/59 for requirement tracking

I am a have hard time finding a diagramming tool that plays well with gitpod.

Can you recommend me some so that i wouldn't have to make one from scratch? ^-^

[2020-03-07 21:16] jankeromnes commented on #1299
@Kreyren I know that several projects are using Sprotty to generate diagrams in Gitpod.

Also, I remember a JS implementation of Dot, and there is also https://github.com/tpatel/OpenSequenceDiagrams.js/ for sequence diagrams. There are probably more diagramming libraries that could work well in Gitpod. :) (Actually even Dot itself now that I think of it.)

[2020-03-08 02:52] tianhaoz95 opened #1300 "typo in automated project initialization"
### Describe the bug

The automated project initialization initializes my `.gitpod.yml` to have the following:

[code]

where "s" is missing from "something".

### Steps to reproduce

open an empty project and click on init project button

### Expected behavior

should be "something"

### Additional information

n/a

### Example repository

[2020-03-08 12:37] ColbyWTaylor opened #1301 "We are having trouble parsing your context (Resolved and posting this for general info)"
### Describe the bug

"Couldn't parse text" response after trying to open:

Error: Couldn't parse context '/assets.breatheco.de/apis/activity/coding_error,BC_ASSETS_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJjbGllbnRJZCI6MTQwLCJpYXQiOjE1ODM0Mjg5NTksImV4cCI6MzMxNDAzODA5NTl9.F14mpqZE2K_AD1TuvGrp8VEVUObkW-7b4rC3gqfHsFc,BC_STUDENT_EMAIL=colbyt.093@gmail.com/https://github.com/4GeeksAcademy/flask-re

[2020-03-08 12:54] Kreyren commented on #1299
@jankeromnes Sprotty is perfect! Thanks!! ^-^

In theory i can also use it to generate a dependency graph for packages o.o

Is there any configuration for sprotty to run in gitpod? (So that i can develop the diagrams on it)

[2020-03-08 16:51] Kreyren opened #1302 "Rustlang: Cargo run --features is not allowed in the root of a virtual workspace"
### Describe the bug

![image](https://user-images.githubusercontent.com/11302521/76167233-7a51e500-6165-11ea-86e0-f598408722b1.png)

[code]

### Steps to reproduce

1. `git clone https://github.com/pistondevelopers/conrod`
2. run `cargo run --release --features "winit glium" --example all_winit_glium`
3. Expect failure due virtual environment

\- OR -

Use snapshot under

### Expected behavior

F

[2020-03-08 17:27] Kreyren opened #1303 "Forking on gitpod takes up to 56 seconds"
### Describe the bug

Pressing the fork button
![image](https://user-images.githubusercontent.com/11302521/76167869-39a89a80-616a-11ea-917a-0b980253ab30.png)

Takes up to 58 seconds to open the required GUI to finish forking, this takes too much time.

### Steps to reproduce

1. Open any repository on gitpod that you have not forked
2. Try to fork it and expect long delay

### Expected behavior

S

[2020-03-09 07:25] jankeromnes commented on #1300
Oops, I thought we had fixed this already. Thanks for the reporting @tianhaoz95!

I've fixed the typo, and the fix should roll out with our regular bi-weekly deployment this Wednesday.

[2020-03-09 07:25] #1300 closed

[2020-03-09 07:41] AlexTugarev commented on #1106
Reopening, as the fix isn't yet deployed.

[2020-03-09 08:48] svenefftinge commented on #1210
Please ignore the error message, as it is working otherwise. We have a fix that is going into production on Wednesday.

[2020-03-09 22:03] oakerele-web commented on #1298
Yeah, I discovered that all I have to do is type the letters without the tags and press tab button e.g. for <div> to come as <div></div>, all I need to do is type div and press the tab button. That is the answer to my second question that I said "I have discovered what to do"

[2020-03-09 23:35] JesterOrNot commented on #1298
Please See https://www.gitpod.io/docs/html-in-gitpod/ for closing tags in HTML! Let me know what you think of the guide if you get the chance

[2020-03-10 15:53] Kreyren commented on #1299
solved

[2020-03-10 17:58] jankeromnes commented on #1299
@Kreyren It seems that the Sprotty repo is itself configured for Gitpod: https://github.com/eclipse/sprotty

Not sure if that answers your question though. If not, could you please clarify?

Also, happy diagram-making! 📊 🥳

[2020-03-10 18:20] Kreyren commented on #1299
yep i was blind and missed it :smile:

[2020-03-11 07:31] gerardo-junior opened #1304 "Add commit verified signature with pgp"
Generate a pgp key by account and add on github account and configure git on the gitpod container layer

![](https://i.imgur.com/nlyzJff.png)

https://help.github.com/en/github/authenticating-to-github/about-commit-signature-verification

[2020-03-11 16:18] tmorehouse commented on #1045
If a repo has a `/.github/PULL_REQUEST_TEMPLATE.md` I would like to see that as the pre-populated pull request placeholder

[2020-03-11 17:23] JesterOrNot opened #1305 "Gitpod to support rebuild current workspace"
Having to close the current workspace and having to build a new one can be confusing for new users, we should make a way to trigger the rebuild of the current workspace

[2020-03-11 17:27] JesterOrNot opened #1306 "Gitpod to support opening minimal editor on docker build image fail"
We should open a minimal version of theia when a workspace fails to build so the user doesn't have to use the weird preview thing in the workspace, this would allow for a swift way to resolve issues without the need of having to separate tabs

[2020-03-12 08:05] AlexTugarev commented on #1183
I think this is a generic `@theia/git` issue as got the same when fiddling with remotes manually.

[2020-03-12 09:57] hallvard opened #1307 "Improve support for forking to personal repo at gitlab"
Now that gitpod supports gitlab, it would be nice to have two features now currently available only for GitHub. BTW, my scenario is sharing a repo to a university class with the setup and initial code for an assignment, where the students' submissions are their personal fork (also on gitlab)

- A warning if the user doesn't have write access to the original, and hence cannot push.
- Easy forking t

[2020-03-12 09:59] lechien73 opened #1308 "Cannot create workspaces from a template"
### Describe the bug
When trying to create a new workspace based on a pre-defined template with a `.gitpod.dockerfile` and `.gitpod.yml file`, we get the error in the attached screenshot. Creating a workspace from a blank repository works without issue.

### Steps to reproduce
Visit https://github.com/Code-Institute-Org/gitpod-full-template, click on *Use this template*, create a new repository ba

[2020-03-12 10:06] nisarhassan12 opened #1309 "Workspace fails to start."
I'm trying to start a workspace for: https://gitpod.io/#https://github.com/nisarhassan12/projectvisbug
![image](https://user-images.githubusercontent.com/46004116/76509837-73cbb200-6472-11ea-8781-7b38f656802f.png)

[2020-03-12 10:07] likibikangben opened #1310 "error"
Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume: Error response from daemon: No such image: gitpod.io/image-builder/selfbuild:ba2eeb0d5ce9f211f69b92c42ce48af11b06e74ef72db6a19a4f119ea12d37e3

[2020-03-12 10:07] csweichel commented on #1308
Hi,

Thank you for reporting this.
The issue has been resolved.

[2020-03-12 10:10] #1308 closed

[2020-03-12 10:10] #1309 closed

[2020-03-12 10:13] nisarhassan12 commented on #1310
Hi, Thank you for reporting this.
The issue has been resolved.

[2020-03-12 10:13] #1310 closed

[2020-03-12 10:28] ashur-k opened #1311 "TEMPLATE ERROR"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-12 10:35] svenefftinge commented on #1311
duplicate of #1308

[2020-03-12 10:35] #1311 closed

[2020-03-12 13:22] anikethsaha opened #1312 "How to add vscode extension whose `.vsix` is not present"
First of all! Thanks a lot for gitpod and with your `professional open source` program !

I noticed after downloading the released package of `prettier` and noticed it doesnt have `.vsix` file in it. Is there any way to have these extensions running in gitpod ?
After cloning and building prettier for vscode , it just gives `extension.js` file and I think its not compatible with gitpod ! (I tried d

[2020-03-12 13:32] corneliusludmann commented on #1291
Does `F1` → `>TypeScript: Restart TS server` helps as well?

[2020-03-12 13:49] corneliusludmann commented on #1303
Can you reproduce it or does this happen to you often? I used your snapshot and it took less than 3 seconds that the message appears after hitting the `Fork...` button. Recently, GitHub had some API outages. Maybe that was the reason?!

[2020-03-12 14:00] corneliusludmann commented on #1312
The `package.json` of `prettier` has a `vscode:package` script defined:
https://github.com/prettier/prettier-vscode/blob/9476a014323f41da7e89a05f133671a97a53ac07/package.json#L71-L72

Run `yarn && yarn vscode:package` and you get a `prettier-vscode-x.xx.x.vsix` file. Of course, you can build the *.vsix in Gitpod as well: https://gitpod.io/#https://github.com/prettier/prettier-vscode

[2020-03-12 14:05] anikethsaha commented on #1312
.opps. ! I did build it but only checked the dist.
thanks

[2020-03-12 14:05] #1312 closed

[2020-03-12 17:10] Kreyren commented on #1303
Happens every time

Possible, i will let you know if the issue persist.

[2020-03-12 18:31] entibo opened #1313 "No space left on device"
### Describe the bug
Similar to what was reported in other issues (eg. https://github.com/gitpod-io/gitpod/issues/1268)
Cluster is `eu01` and it worked yesterday.

[2020-03-12 18:46] jankeromnes commented on #1313
Hi @entibo, thank you for reporting this problem. We're looking into it.

[2020-03-12 19:41] svenefftinge commented on #1313
This should be resolved now.

[2020-03-12 19:41] #1313 closed

[2020-03-12 19:41] jankeromnes commented on #1313
@entibo There was a bad node in the Europe cluster. We have removed it, and also removed another one that acted up this morning.

Could you please try again?

[2020-03-13 04:56] svenefftinge commented on #1291
I've seen that, too, now. For some reason all extensions are unloaded, so that command from TS doesn't exist anymore.

[2020-03-13 04:57] svenefftinge commented on #1183
Isn't it just a missing update on after fork, no?

[2020-03-13 08:48] Christoph-Harms opened #1314 "Vetur error message concerning VSCode version"
### Describe the bug
The following error message appears when opening a workspace and having the vetur extension installed. The extension does not seem to be completely dysfunctional though, at least the syntax highlighting still works.
<img width="506" alt="Bildschirmfoto 2020-03-13 um 09 24 36" src="https://user-images.githubusercontent.com/17005834/76604587-4b45c580-650f-11ea-81e9-a32aced37bc6.

[2020-03-13 08:49] entibo commented on #1313
Working now. Thanks a lot!

[2020-03-13 20:25] Kreyren commented on #1303
assuming solved, will reopen if this issue persist

[2020-03-13 20:25] #1303 closed

[2020-03-14 16:05] pprasha commented on #1297
on Gitpod it doe snot let me connect both accounts

[2020-03-14 16:16] alesanchezr commented on #1285
Thank you for your detailed response @jankeromnes! Students are not experiencing errors anymore :) You guys can close this if you want.

I have not had any issues using `;` so far.

I'll be monitoring the boilerplate and share any improvements/knowledge we gain overtime! 😄

[2020-03-15 01:55] zhuohoudeputao commented on #1275
Sorry, something went wrong 😓
GitLab authentication failed. Please try again in a few minutes.
_________________________________________________________________
When I change access to github, it appears.

[2020-03-15 11:59] JackBen2019 opened #1315 "Unable To Push To GitHub Via GitPod"
I'm currently working on a repository and whenever I add 'git push' into the command line, it says that it was unable to access the repository and that access was denied to the account I'm currently logged into? (see screenshot below)

![image](https://user-images.githubusercontent.com/52998869/76700928-4f5f1800-66b4-11ea-8483-ebbe24f36f0c.png)

### Example repository
https://github.com/JackBen201

[2020-03-15 12:03] JesterOrNot commented on #1315
Hello, and welcome to the GitHub and the Gitpod community :tada: Can you show your access control page?

[2020-03-15 12:05] JackBen2019 opened #1316 "Flask installed, but unable to access it"
I've installed Flask via the command line and moved all the installed packages into the requirements.txt file so I know that Flask was definitely installed. I've also referenced Flask in my run.py file by adding '**from flask import Flask**'.

Now, when I try to run my 'run.py' file, it tells me that there is no module named 'flask'. I've added some screenshots below so you can see what I'm enteri

[2020-03-15 12:09] JesterOrNot commented on #1316
Try doing `python3 run.py` as you installed it with `pip3` it seems.

[2020-03-15 18:15] JackBen2019 commented on #1316
That's worked, thank you!

[2020-03-15 18:16] JackBen2019 commented on #1315
Apologies, but I'm not sure what page you're referring to there?

[2020-03-15 21:06] JesterOrNot commented on #1316
Glad to hear it! 🎉

[2020-03-15 21:06] #1316 closed

[2020-03-15 21:09] JesterOrNot commented on #1315
See https://www.loom.com/share/35e0bde4082247a296d05e156fc2f767

[2020-03-16 04:29] Kreyren opened #1317 "Ability to index legal documents in gitpod?"
I am trying to make a license in a gitpod-friendly way (https://github.com/RXT0112/Zernit/blob/init-new/LICENSE/EN-LICENSE.md) so i've decided to use a markdown where the issue is that i can not automatically index the points:

![image](https://user-images.githubusercontent.com/11302521/76723316-17ed7b80-6747-11ea-83e3-5d718f542ef9.png)

Green is expected

Red is not expected since the required in

[2020-03-16 04:52] Kreyren commented on #1317
FWIW i need a way to maintain legal documents where the tracking for the points should be customizable i.e

[code]

where if following is added:

[code]

Gitpod is expected to process it alike:

[code]

this should also be visible on the repository for public (alike google docs) and ideally allow scripting of the content alike:

[code]

is used for indexing of the license version to be changed on

[2020-03-16 09:17] TheFirstMe opened #1318 "Accessing development server very slow."
### Describe the bug
I am working on a GatsbyJS project. The development server starts quickly but when I try to open it loads forever.

[2020-03-16 09:30] jankeromnes commented on #1318
Hi @TheFirstMe, if your repository is public, could you please share the repo URL?

This would be helpful for us to try and reproduce the slowness, and be able to investigate & potentially fix it.

[2020-03-16 09:32] TheFirstMe commented on #1318
@jankeromnes Here’s the repo URL: https://github.com/TheFirstMe/ieeesb

[2020-03-16 09:34] TheFirstMe commented on #1318
@jankeromnes I’m working on the branch “ react-bootstrap-to-theme-ui-migration” right now

[2020-03-16 09:42] jankeromnes commented on #1318
Thanks! I'm taking a look.

What are all the commands that you run in Gitpod to achieve this?

Side note, you may want to put these commands into your `.gitpod.yml`, replacing the stub `init` and `command` instructions:

[code]

(E.g. replace `echo 'init script'` with `yarn install-dependencies`, and `echo 'start script'` with `gatsby start-dev-server` or so.)

This will make Gitpod run your usual

[2020-03-16 09:47] TheFirstMe commented on #1318
After switching over to the branch I mentioned above,

[code]
Not giving the commands to start Gatsby dev server because it requires the environment variables. The development server issue happens on both Gatsby and Storybook

[2020-03-16 09:49] TheFirstMe commented on #1318
Thanks I’ll do that.

[2020-03-16 09:50] TheFirstMe commented on #1318
Thanks I’ll do that.

[2020-03-16 09:50] Kreyren commented on #1299
Reopening, it turned out that i am incompetent https://github.com/eclipse/sprotty/issues/166 or sprotty configuration for theia is outdated and i do not know how to update it >.>

[2020-03-16 09:52] jankeromnes commented on #1318
FYI you can open that branch directly in Gitpod, e.g. by opening the branch in GitHub and then clicking the Gitpod button, or by visiting a URL like:

https://gitpod.io/#https://github.com/TheFirstMe/ieeesb/tree/react-bootstrap-to-theme-ui-migration

Thanks! I'll try these and look for any signs of slowness.

[2020-03-16 10:08] jankeromnes commented on #1318
First, I noticed that `npm install` takes a little over 3 minutes:

So you can already save 3 minutes of waiting by making Gitpod do this work ahead-of-time (i.e. before you actually open a workspace):
1. Add `npm install` to the `init` step in `.gitpod.yml`
2. Enable [prebuilt workspaces](https://www.gitpod.io/docs/prebuilds/)

[2020-03-16 10:09] AlexTugarev commented on #1275
@zhuohoudeputao I'm checking this. Thanks for reporting 🙏

[2020-03-16 10:24] jankeromnes commented on #1318
On the other hand, the `npm run storybook` command ran pretty fast  (20 seconds).

But the Gitpod UX is not ideal here (i.e. it opens both a notification, to ask you whether you want to open port `6006` in a Preview pane or Browser tab, but it also opens a Preview anyway -- likely because Gatsby or StoryBook use the `BROWSER` environment variable).

I would suggest that you specify the port `6006`

[2020-03-16 10:31] TheFirstMe commented on #1318
@jankeromnes So is that the problem? There’s also
[code]
that prevents a preview from opening.

[2020-03-16 14:56] svenefftinge commented on #1297
If you go to https://gitpod.io/access-control/ you should see your auth status with both GitLab and GitHub. Please tell us what you tried and how your expectations were not fullfilled.

[2020-03-16 14:58] svenefftinge commented on #483
https://github.com/gitpod-io/gitpod/issues/1023

[2020-03-16 14:58] #483 closed

[2020-03-16 14:59] svenefftinge commented on #1023
ATM there is a basic command already.
<img width="626" alt="Screenshot 2020-03-16 at 15 58 51" src="https://user-images.githubusercontent.com/372735/76771084-194a9280-679f-11ea-88ff-a74e73073a7b.png">

[2020-03-16 15:30] AlexTugarev commented on #1315
@JackBen2019 thanks for reporting! We found a bug in detecting the repo URL for with the built-in permission check should be triggered, thus you didn't see a notification suggesting to open https://gitpod.io/access-control/ and give Gitpod permissions necessary to allow `git push`.

You can solve it manually by navigating to https://gitpod.io/access-control/ and allowing `write public repos`.

[2020-03-16 15:40] JackBen2019 commented on #1315
Ah brilliant! I've just gone onto the access control page, updated the relevent options and it's now allowing me to push.

Cheers Alex!

[2020-03-16 16:00] Kallibuss2 opened #1319 "Houston, i have a problem!"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-16 16:09] JesterOrNot commented on #1319
Hello @Kallibuss2 and welcome to GitHub!, What is the issue you are having?

[2020-03-16 16:11] AlexTugarev commented on #1275
@zhuohoudeputao could you try again, please? it seems, that GitLab's API server are busy sometimes.

[2020-03-16 18:08] erivaldodantas opened #1320 "Error with GitLab"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-16 18:52] JesterOrNot commented on #1320
Hello @erivaldodantas, and welcome to Gitpod! Can you explain what is going wrong?

[2020-03-17 09:17] jbicker opened #1321 "In PR workspaces open editors don't get preserved after reload"
Reproduce:
Open a workspace from PR.
Open some editors.
Reload the page.
The editors are not open anymore.
Instead the PR Diffs are opened again.

Expected behavior:
to see the editors I've opened before reload also after reload.

[2020-03-17 10:15] nisarhassan12 opened #1322 "Request push failed with message: fatal: could not read Username for 'https://github.com': No such device or address"
### Describe the bug

I was previously able to push to my repo but I'm not longer able to.

![image](https://user-images.githubusercontent.com/46004116/76846137-d9001880-6861-11ea-8cf1-977a497c48a5.png)

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

https://github.com/nisarhassan12/react-use-gesture

[2020-03-17 10:21] AlexTugarev commented on #1322
Hi @nisarhassan12 👋
Do you see any errors on JS console?
Also, please check the state of https://gitpod.io/access-control/, have you granted write permissions?

[2020-03-17 10:52] nisarhassan12 commented on #1322
Thanks, @AlexTugarev :slightly_smiling_face:  This is what my access control state looks like:

![image](https://user-images.githubusercontent.com/46004116/76849243-dbb13c80-6866-11ea-9ad5-ff6060a4b394.png)

Also, I have opened a new workspace from the same repo and it seems to work well. I think the problem was unique that workspace. I will let you know If I will see this problem in the future.

[2020-03-17 11:57] zefklop opened #1323 "Unable to build custom docker image"
### Describe the bug
I get this message when trying to launch my workspace :  Error: build failed: rpc error: code = Internal desc = cannot create build volume: cannot create build volume: %!w(string=)
Please file an issue if you think this is a bug.

### Steps to reproduce
open https://gitpod.io/start/#fc17ae56-7de2-43f2-98e6-5c22017c6cb9 (from https://gitpod.io/#https://github.com/zefklop/reacto

[2020-03-17 11:59] felipecrs opened #1324 "Implement an init system by default"
How about implementing an init system, such as [s6-overlay](https://github.com/just-containers/s6-overlay)? This would make it easier for people to define background services and would let us start the database instances in the official images without the need for the final user to manually add the command in `.gitpod.yml`.

[2020-03-17 12:00] felipecassiors commented on #1324
See [this](https://github.com/felipecassiors/spring-crud/pull/1) as an example.

[2020-03-17 12:18] #801 closed

[2020-03-17 12:36] timoch opened #1325 "ctrl-z does not work"
### Describe the bug
UI menu for Undo shows ctrl-w. But this will close my tab when I press it.
Changing the keyboad layout preferences does not work (original binding is ctrlcmd+z, switching to ctrl+z does not work)

### Steps to reproduce
I think it is related to my keyboard layout (be-fr). So try opening a session with that layout.

### Expected behavior
I should be able to set ctrl-z as the un

[2020-03-17 12:45] timoch commented on #1325
changing my keyboard layout to en-us show the Undo menu item associated with ctrl-z but it does not work either

[2020-03-17 12:48] Kreyren commented on #1325
Try changing the shortcut for the Undo in keyboard shortcuts:
![image](https://user-images.githubusercontent.com/11302521/76857544-f4fdbd00-6855-11ea-9d7b-45676b98a733.png)

[2020-03-17 13:10] timoch commented on #1325
I tried this already. using ctrl-z as an undo shortcut does not work. If I use ctrl-d for instance, it does work.

If my keymaps.json indicates ctrl-z and I press ctrl-z. it doesn't work
If my keymaps.json indicates ctrl-z, and I press ctrl-w. it tries to close the tab
If my keymaps.json indicates ctrl-w and I press ctrl-z, **it works** (and the menu item shows ctrl-z)

This looks related to chrom

[2020-03-17 13:11] Kreyren commented on #1325
@timoch Can you try binding it to for example `Alt+z` ? Afaik depending on your window focus management the web browser that you are using might not relay the shortcut to theia (gitpod) but instead to the web browser.

[2020-03-17 13:33] timoch commented on #1325
alt+z in keymaps.json lets me use alt+w as a shortcut and vice versa
alt+m in keymaps.json lets me use alt+, as a shortcut and vice versa

looks like I have to convert whatever key I want from my fr-be layout to the corresponding en-us layout key in keymaps.json

[2020-03-17 13:39] jankeromnes commented on #855
Oops, thanks  for reporting this @JesterOrNot.

Does the browser devtools console show you any errors when this happens?

Cc @AlexTugarev

[2020-03-17 13:42] AlexTugarev commented on #855
@JesterOrNot and @jankeromnes we forgot to update this GH issue after last deployment. This false negative was fixed.

[2020-03-17 13:42] #855 closed

[2020-03-17 15:32] zefklop commented on #1323
This one closed itself; everything is fine now.

[2020-03-17 15:32] #1323 closed

[2020-03-17 15:38] TheFirstMe commented on #1318
@jankeromnes Any updates? I have updated the yml file as you suggested but the result is the same.

[2020-03-17 15:55] TheFirstMe commented on #1318
After 5-10 minutes of waiting, it finally loaded. But its not ok that I have to wait that long everytime :(

[2020-03-17 15:59] TheFirstMe commented on #1318
Hot reloading is also slow. Changes are reflected in 10 seconds or so.

[2020-03-17 16:14] MGlolenstine commented on #80
How far is this support right now?

Any plans at all?

[2020-03-18 00:56] Kreyren commented on #1325
Seems like a gitpod/theia bug to me then :thinking:

[2020-03-18 06:07] Kreyren opened #1326 "Wrong highlights in .travis.yml file"
Highlighted is unexpected -> Expecting proper highlighting for comments in yaml

![image](https://user-images.githubusercontent.com/11302521/76930507-f0cdb000-68e6-11ea-8e3a-f3b10a6f6f03.png)

See https://gitpod.io#snapshot/b3fddcef-a550-4f8d-b2ea-d27425c15b48

[2020-03-18 09:34] pkriens opened #1327 "Support bnd"
Would it be possible to support bnd & OSGi? Currently your Java environment does not have a classpath. I am the owner of the bnd project and am willing to do the work if you can provide guidance. I see you use visual code? Is it sufficient to add bnd to VC?

https://github.com/bndtools

Looking forward to your feedback.

[2020-03-18 13:00] corneliusludmann commented on #1327
Thanks for your interest and for offering your help.

To be honest, I'm not 100% sure what you mean. But I am sure we can figure that out together.

At first, we do not use VSCode, Gitpod ist based on [Theia](https://theia-ide.org/). However, Theia supports VSCode extensions. Gitpod supports Java as well as Maven / Gradle out of the box. You could find [more information in the docs](https://www.gi

[2020-03-18 13:12] pkriens commented on #1327
Thanks for the extensive answer. I'll take  look at Theia and will come back after I understand what the implications are.

[2020-03-18 14:40] RDIL opened #1328 "High demands"
Hello Gitpod team,
I get it, with nCOVID-19, it is most likely stressful right now.  I'm opening this issue because Gitpod is being very slow.  Just trying to run a React app development server, looking at htop, all 16 of the CPUs are above 80% usage.  I can understand how it may be because people at home/in quarantine need ready-to-code environments since many can't reach their work machines, but

[2020-03-19 08:00] vhemery opened #1329 "Can not open close nor delete a workspace"
### Describe the bug
My workspaces are stuck in a mode where I can't take any action on them.
The Open button is available but inactive.
![image](https://user-images.githubusercontent.com/7920847/77041022-6609b580-69b9-11ea-84cc-1c0a54752b08.png)

I can't delete the workspace :
![image](https://user-images.githubusercontent.com/7920847/77040961-483c5080-69b9-11ea-8739-8b51e85a79d8.png)

When I try

[2020-03-19 09:09] svenefftinge commented on #1328
Hi, thanks for the feedback. We have noticed this situation in US cluster and will apply the required changes ASAP.

[2020-03-19 09:22] svenefftinge commented on #1324
Yes, it makes sense. I thin we should just treat `CMD` properly.
One open question however is, what we do about the output. I'd think this should be routed to a terminal. Also the usual contract that the container stops when the command terminates should probably not be implemented.

[2020-03-19 09:29] #1315 closed

[2020-03-19 12:19] Kreyren commented on #1315
irelevant to do topic

how do you make those videos?

[2020-03-19 12:59] svenefftinge commented on #80
It is not directly on the roadmap but wouldn't be too hard to add.
We are prioritising such integrations based on demand.

[2020-03-19 14:35] JesterOrNot commented on #1315
First of all, it was completely relevant, he didn't know how to get to the page for the authentication for push access. Second of all I use [loom](https://chrome.google.com/webstore/detail/loom-for-chrome/liecbddmkiiihnedobmlmillhodjkdmb)

[2020-03-19 15:23] jankeromnes commented on #1329
Hi @vhemery, many thanks for reporting this issue.

This symptom (workspace status = "Unkown") indicates that our workspace manager lost track of your workspace. So it won't allow you to perform any action on it (start, stop, open, delete) in order not to lose any data (e.g. if it contained unpushed commits, we let it time out and get backed up).

This situation should resolve itself after a maxim

[2020-03-19 15:57] vhemery commented on #1329
It's been a day. So I don't think it will resolve itself soon.

Wouldn't it make sense to enable some options with a warning in such case ?
I mean, when I try and delete, I do expect to lose data...

[2020-03-19 17:20] jankeromnes commented on #1329
Indeed, this time it seems to be different -- we've found several workspaces stuck in "Unknown" state, and it started happening since last week's production deployment, so this is likely a new bug. Also, these workspaces don't even seem to have ever started.

Oh, I'm sorry, I didn't notice that you were now totally unable to use Gitpod due to this bug. Many thanks for providing detail reproduction

[2020-03-19 17:45] jankeromnes commented on #1329
@vhemery FYI I've manually set your 4 "unknown" workspaces to "stopped". This should allow you to continue using Gitpod while we're fixing the underlying bug. Thanks again for your help!

[2020-03-19 21:18] MGlolenstine opened #1330 "Having problems during installation"
I'm trying to install Gitpod onto my `kind` Kubernetes cluster.

After installing 'kind`, I create a cluster. Then I clone this repository and [follow the instructions](https://www.gitpod.io/docs/self-hosted/latest/install/install-on-kubernetes/), but there's a problem after the third command under installation.

First of all, I don't have the `configuration.txt` file, and after the `update`, it f

[2020-03-19 21:50] JesterOrNot opened #1331 "Rust LLDB debugging fails"
### Describe the bug

When starting rust debugging I get the following error

![image](https://user-images.githubusercontent.com/50386709/77117946-0c2cde00-6a01-11ea-8b64-9e25dda8850a.png)

However, in the staging environment, there is something more helpful

![image](https://user-images.githubusercontent.com/50386709/77117996-2e266080-6a01-11ea-86b9-3e45c44b47ba.png)

### Steps to reproduce
- Use

[2020-03-19 21:54] JesterOrNot commented on #1319
Closing due to lack of answer from the reporter, please if this problem comes up again file another issue

[2020-03-19 21:54] #1319 closed

[2020-03-20 06:43] svenefftinge commented on #1328
We have moved prebuilds to its own cluster which has improved the situation significantly according to our data. Can you confirm?

[2020-03-20 06:43] #1328 closed

[2020-03-20 08:10] meysholdt commented on #1330
Hi @MGlolenstine !

that's an awesomely detailed bug report.

The message `Error: failed post-install: timed out waiting for the condition` can mean that a Kubernetes Job named `db-migraiton` failed. Right after running `helm upgrade --install`, can you check if there is a pod named `db-migraiton...` and inspect the log output of that pod? You can do that by running `kubectl logs db-migraiton-foob

[2020-03-20 08:12] vhemery commented on #1329
Thanks.
Not sure this is what triggerred the issue, but when I try restarting one of these workspaces, I get

I also get this message when starting a new workspace on https://github.com/TypeFox/theia-workshop/tree/exercise-0 and then the workspace is also in Unknown state. So it looks like it is related to me.

On the other hand, I can start a new workspace on https://github.com/vhemery/ecf2018-th

[2020-03-20 08:19] MGlolenstine commented on #1330
Thanks for the response!
I'll try it out and report back!

[2020-03-20 08:25] MGlolenstine commented on #1330
I'm afraid your suspicions were correct indeed @meysholdt .
The `db-migrations-r9p2z` (in my case) is returning errors for failing to connect.
[code]
To fix that, should I just add [this](https://www.gitpod.io/docs/self-hosted/latest/install/database/) to the installation?

Thanks for the help!

[2020-03-20 08:45] MGlolenstine commented on #1330
Ok, I passed the DB init phase.
The problem was, that the DB is hosted on the same machine I'm running kubernetes on, so I ran it with `localhost:3306`, and it failed to connect.
After I changed it to the local IP of the server, it connected successfully.

I'm going to see if everything else passes, if it does I'm going to be closing this issue.

Thanks for the help!

[2020-03-20 09:06] MGlolenstine commented on #1330
Now I'm facing another problem.
There's 52 migrations that have to be run, but the installation times out before migrations have completed.
Now after running it for the third time (first time and second times did 10 migrations each), I get the following error:
<details>
<summary>Error message</summary>

[code]
</details>

[2020-03-20 09:32] MGlolenstine commented on #1330
@meysholdt
Is there a way to manually run the migrations, as the installation automatically shuts down the pod after the timeout exits.
Either to manually run them or to change the timeout to something longer.

[2020-03-20 10:25] hallvard opened #1332 "View in Github button should be View in some-host-here"
When closing a workspace originating from a gitlab repository, the button View in Github is misleading / confusing. Perhaps the button could show the host name of the repo directly? That would work with self-hosted gitpods, too (or our setup with access to gitlab.stud.idi.ntnu.no)

[2020-03-20 12:25] RDIL commented on #1328
Yup, looking back to normal.

[2020-03-20 17:28] JesterOrNot commented on #1143
See

[code]

Full example repo [here](https://github.com/JesterOrNot/Gitpod-V)

[2020-03-20 18:38] jankeromnes opened #1333 "`gp url` is broken (but not `gp url <port>`)"
### Describe the bug
`gp url` is broken in Gitpod.

### Steps to reproduce
1. Open any repository in Gitpod
2. Try running `gp url`

### Expected behavior
It should print the workspace URL.

### Additional information
Instead, it fails with:

[code]

### Example repository

[2020-03-20 19:27] corneliusludmann commented on #1327
I'll close the issue for now. Feel free to open it again if desired.

[2020-03-20 19:27] #1327 closed

[2020-03-20 20:20] jankeromnes commented on #1327
Cc @vorburger and @sandared who may know better about OSGi and/or bnd in Gitpod 😇

Also, this tutorial about using Java in Gitpod may be helpful here: https://www.gitpod.io/docs/languages/java/

[2020-03-21 16:07] Jazzthedog opened #1334 "We are having trouble parsing your context Error: NotFoundError"
### Describe the bug

We are having trouble parsing your context
Error: NotFoundError

### Steps to reproduce

Just logged in to try this service.

[2020-03-21 17:05] Sandared commented on #1327
@pkriens when you say supporting bnd/OSGi then do you mean something like bndTools just for Theia/VSCode (which would be awesome btw!  😁) or do you mean altering the classpath at development time, so that I immediately am warned (compiler error) )when I for example try to access types within a private package?

[2020-03-21 23:03] alesanchezr opened #1335 "Imposible to build workspace"
This repository has been working since more than a year ago, today its giving me a message:
[code]
This is the workspace:
https://gitpod.io/start/#d197e52b-7f45-4b3a-a644-f1a46f45ace0

What could this be? 🤔

[2020-03-21 23:05] JesterOrNot commented on #1335
![image](https://user-images.githubusercontent.com/50386709/77238506-9494b580-6b9e-11ea-8ca8-a72f2cab40d6.png)
Can you give the link to the repo?

[2020-03-22 00:30] alesanchezr commented on #1335
Of course: https://github.com/breatheco-de/projects

[2020-03-22 00:51] JesterOrNot commented on #1335
Can you show a screenshot of the error?

[2020-03-22 01:36] JesterOrNot opened #1336 "Gitpod to support a --minimal option"
Create a `--minimal` command line flag for `gp init` that would generate the following

`.gitpod.yml`
[code]

`.gitpod.Dockerfile`
[code]

`-m` could be the shorthand flag.

[2020-03-22 03:04] alesanchezr commented on #1335
![Screen Shot 2020-03-21 at 10 02 08 PM](https://user-images.githubusercontent.com/426452/77241430-50b6a600-6bc8-11ea-8084-6d02d5668d7a.png)

[2020-03-22 04:46] JesterOrNot commented on #1335
That's odd, it works for me 🤔

![image](https://user-images.githubusercontent.com/50386709/77242599-249e2380-6bce-11ea-91ac-a65ce612aa46.png)

[2020-03-22 06:22] alesanchezr commented on #1335
Maybe it's a us problem? 🤔Usually the US servers seem less stable.

[2020-03-22 06:24] alesanchezr commented on #1335
Ok I tried opening again and it works, its just the old workspace that is broken who knows why. Thank you!!!

[2020-03-22 06:24] #1335 closed

[2020-03-22 09:25] MGlolenstine commented on #1330
Anyone knows anything?

[2020-03-22 11:26] nisarhassan12 commented on #1322
@AlexTugarev I'm having the same issue once again.

![image](https://user-images.githubusercontent.com/46004116/77248199-67f1a400-6c59-11ea-9889-68ecc5973b4f.png)

this is what I get in the JS Console:

![image](https://user-images.githubusercontent.com/46004116/77248234-abe4a900-6c59-11ea-98f4-948c50488f95.png)

I have not done anything with the Access Control it is the same as shown in https://g

[2020-03-22 13:15] Kreyren commented on #1143
psa: memory leak is apparently expected to be resolved in the near future see https://github.com/vlang/v/issues/3972#issuecomment-596239985

with proper tracking for critical bugs making is usable for production?

@JesterOrNot Is that sufficient solution for Gitpod ?

[2020-03-22 13:24] meysholdt commented on #1330
hey, yes, your database saying `You have an error in your SQL syntax` is not good :)
What database in what version are you using?

I haven't tried running `db-migrations` outside Helm, but looking the Helm chart, I think it's possible via `docker run`:
1. Launch this container `gcr.io/gitpod-io/db-migrations:v0.3.0`
2. make sure it has these ENV variables set to your values: `DB_HOST`, `DB_PORT`,

[2020-03-22 14:42] JesterOrNot commented on #1143
Try it out I haven gotten everything worked out yet but it should be ok for compiling

[2020-03-22 19:28] ngryman opened #1337 "Feature Request: Support Kubernetes"
Hey there, first of all, great work with Gitpod 👏

I would be very interested in migrating our local environment to Gitpod. However, our product needs several containers to run in development mode.

So I would have 2 questions:

1. Do you plan to support k8s or any orchestration tool (ie. Docker Compose) in the future?
2. Meanwhile, what do you think about using DinD and Kubernetes IN Docker: http

[2020-03-22 20:12] JesterOrNot commented on #1337
Hello, @ngryman, and welcome to the Gitpod community! :tada: @svenefftinge Correct me if I'm wrong, but I think we have plans to support it in the future. However, right now it would require root or root-like permissions, which as of now we don't allow, please, see the following issues for information: #52 #39

[2020-03-22 23:41] LewLeal opened #1338 "Error al ingresar!!!"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-22 23:41] LewLeal commented on #1338
No me deja ingresar a la practica!!!

[2020-03-22 23:41] #1338 closed

[2020-03-23 04:38] tmorehouse commented on #1045
The PR template is highly important to us to ensure that contributors follow our guidelines for PRs... with our template, if they do not follow our template guidelines, then the PR will most likely be closed automatically.

[2020-03-23 08:26] svenefftinge commented on #1337
Yes, we are working towards allowing DinD. For the time being here's how we develop kubernetes applications (i.e. Gitpod itself) using Gitpod.
https://www.freecodecamp.org/news/developing-kubernetes-applications-with-joy/

[2020-03-23 09:20] csweichel commented on #1333
fixed but not deployed yet

[2020-03-23 10:13] svenefftinge commented on #1336
FWIW I wouldn't expect a dockerfile with `--minimal`.

[2020-03-23 10:14] svenefftinge commented on #1334
Is this reproducible? Can you explain what exactly you are doing?

[2020-03-23 14:59] kescardoso opened #1339 "Unable to open current workspace on gitpod"
### Describe the bug
Workspace status shows as "Stopping", and "Stop" and "Open" buttons are unclickable.

### Steps to reproduce
I refreshed my workspace after coming from my lunch break and I was then unable to reopen it again from the list of workspaces

### Expected behavior
I should be able to restart it as I normally do and continue to work on my code

### Additional information
e81f0a06-967

[2020-03-23 15:00] kescardoso commented on #1339
<img width="1164" alt="Screenshot 2020-03-23 at 16 00 00" src="https://user-images.githubusercontent.com/47559909/77330259-5e327400-6d1f-11ea-8b9b-8bb7591b3a69.png">

[2020-03-23 15:55] Kreyren commented on #1143
Mine implementation also seems to work, see https://github.com/gitpod-io/workspace-images/pull/153

Can't check atm (i don't have a timeframe for it)

[2020-03-23 16:09] svenefftinge commented on #1339
Thanks for reporting it. We are looking into this.

[2020-03-23 17:20] svenefftinge commented on #1339
This is now fixed.

[2020-03-23 17:20] #1339 closed

[2020-03-23 19:57] MGlolenstine commented on #1330
@meysholdt Sorry for the late response.
I'm using `10.4.12-MariaDB Arch Linux` for the server. It's the latest build from the AUR, so it should be what we need.

I'm gonna test out the suggestions you gave me and will edit this comment as soon as I get something.

[2020-03-23 20:52] MGlolenstine commented on #1330
@meysholdt
When I run the migration in the docker container, I get more information about the error.
It looks like the error happens on the following query

[code]
I'm not that familiar with the SQL, so I'm not sure what is supposed to be there and what could be wrong.

<details>
<summary>Full error log</summary>

[code]
</details>

[2020-03-24 12:20] meysholdt commented on #1330
Do you have a chance to try Oracle MySQL?  I'm not sure how big the differences between MariaDB and MySQL are, but we didn't test Gitpod on MariaDB.

[2020-03-24 13:20] MGlolenstine commented on #1330
I had a problem, when after removing the MariaDB and installing MySQL, MariaDB was still running.

After I sorted that out, it worked flawlessly.

Thanks for your help!

[2020-03-24 13:20] #1330 closed

[2020-03-25 02:29] HPestock commented on #188
I have the same problem, I usually just send the files to another device, say a phone for instance, and I upload it from there.

[2020-03-25 12:01] nisarhassan12 opened #1340 "The panel for creating PR is somewhat hidden, especially with Dark Reader extension."
### Describe the bug

A maintainer who tried Gitpod for the first time gave this feedback https://github.com/mobxjs/mobx/issues/2316#issuecomment-603671271:

![image](https://user-images.githubusercontent.com/46004116/77534298-2f9cd080-6eba-11ea-88e2-dc6586ea5c53.png)

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-25 14:32] svenefftinge commented on #1274
We have moved out prebuilds to a dedicated node pool and believe this was causing the slowness. Please keep us posted.

[2020-03-25 14:32] #1274 closed

[2020-03-26 06:22] svenefftinge commented on #188
@HPestock are you on a chromebook, too?

[2020-03-26 08:21] kittaakos opened #1341 "Do not log '🎉 You just saved x minutes of watching your code build.' if the build has failed."
[code]

I opened Gitpod on this PR: https://github.com/eclipse-theia/theia/pull/7422

[2020-03-26 13:42] Kreyren commented on #1265
@geropl Can you provide more info on gitpod support for virtualization? Some timeline tracking would be nice for this so that i can adapt my projects for this limitation..

[2020-03-26 13:58] nisarhassan12 commented on #1322
I'm seeing this issue quite a lot and each time opening a new workspace seems to solve the problem.
![image](https://user-images.githubusercontent.com/46004116/77654994-9e019180-6f93-11ea-9ba3-967371a9f4b1.png)

My access control settings are still the same.

[2020-03-26 14:02] svenefftinge commented on #1341
Should rather be: You just saved 4 minutes of watching your code **fail**. 😄

[2020-03-26 14:03] akosyakov opened #1342 "Is it possible to run Docker CLI (for example, 'docker run hello-world') inside Gitpod?"
If so, how?

Transferred from https://github.com/eclipse-theia/theia/issues/7427

[2020-03-26 14:50] JesterOrNot commented on #1342
Sorry no, See #52

[2020-03-26 14:54] iqbal224 opened #1343 "fix"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-26 14:57] kittaakos commented on #1341
Hmm, another PR has timed out. Can someone please verify?
Steps to reproduce:
 - Open any PR on Theia,
 - Click on the `Gitpod` button for the PR. (The `Gitpod` extension was installed to my browser, Brave, as a Chrome extension),
 - Wait until you see the Gitpod logo, then switch to any other browser tab so the Gitpod tab does not have the focus, it cannot `requestAnimationFrame`.
 - After 5-10 m

[2020-03-26 15:06] zefklop opened #1344 "Enable cpp-debug plugin from theia-cpp-extensions"
Hello,

I'd like to perform some (remote) debugging with GDB on a C/C++ application on gitpod (self-hosted).

For some reason, I could configure C/C++ thanks to instructions from this page :
https://github.com/eclipse-theia/theia-cpp-extensions/tree/master/packages/cpp

Similarly, I expected to be able to follow instructions from there :
https://github.com/eclipse-theia/theia-cpp-extensions/tree/m

[2020-03-26 15:30] Kreyren commented on #1343
@iqbal224 I assume that this is a mistake? :p

[2020-03-26 15:44] nisarhassan12 opened #1345 "Workspace pre-build seems to be taking quite long due to pod is pending"
### Describe the bug

Workspace pre-build seems to be taking quite long and this is what is showing up

![image](https://user-images.githubusercontent.com/46004116/77662837-2dac3d80-6f9e-11ea-9828-6e9a6ef7ca91.png)

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-26 15:47] kevinhq commented on #501
Any update on this?  I got into problem installing ruby version with rvm and it looks like it's a problem with sudo permission.

[2020-03-26 15:49] kevinhq commented on #39
sudo: effective uid is not 0, is /usr/bin/sudo on a file system with the 'nosuid' option set or an NFS file system without root privileges?

Get this error on installling certain ruby version with rvm. Guess this IDE is not for me yet.

[2020-03-26 20:03] JesterOrNot opened #1346 "Workspace doesn't boot on docker image build"
### Describe the bug
Workspace does not boot and tries for about an hour and fails
<img width="960" alt="Screenshot 2020-03-26 14 50 31" src="https://user-images.githubusercontent.com/50386709/77691294-9ed5fb80-6f72-11ea-9275-5737f2dc161d.png">

### Steps to reproduce
unknown

### Expected behavior
Workspace boots as usual

### Example repository
[JesterOrNot/Gitpod-Qsharp](https://github.com/Jest

[2020-03-26 20:05] JesterOrNot commented on #1346
Workspace now gets past build, waiting to see if it fully boots

[2020-03-26 20:11] JesterOrNot commented on #1346
it boots now

[2020-03-26 20:11] #1346 closed

[2020-03-27 01:28] sportshead opened #1347 "cannot initialize workspace: cannot initialize workspace: cannot initialize workspace: git initializer: git clone https://github.com/chromium/chromium.git . failed (exit status 128): Cloning into '.'... fatal: write error: No space left on device fatal: index-pack failed Please file an issue if you think this is a bug."
### Describe the bug
cannot initialize workspace: cannot initialize workspace: cannot initialize workspace: git initializer: git clone https://github.com/chromium/chromium.git . failed (exit status 128): Cloning into '.'... fatal: write error: No space left on device fatal: index-pack failed
Please file an issue if you think this is a bug.

### Steps to reproduce
try to gitpod chromium

### Expect

[2020-03-27 15:28] 02052002 opened #1348 "rayan ggg@hjsgt"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-03-28 11:08] Lrvineshaw opened #1349 "Is the workspace directory partition fixed at 15gb?"
My current project USES more than 15gb of disk space, and I tried to go to another directory for the project, but any file creation behavior prompted read-only, so does that mean I can't continue using gitpod?
![image](https://user-images.githubusercontent.com/34879145/77840071-9f120900-71b5-11ea-9a0b-fa10dac1e619.png)

[2020-03-28 13:33] #1343 closed

[2020-03-29 10:13] svenefftinge commented on #1349
Yes, we have put in this limit. Could you elaborate what kind of project it is and why it is consuming that much disk space?

[2020-03-29 10:16] svenefftinge commented on #1347
We are testing a disk space limitation that is currently set to 15GB. It seems to be too low for large projects like Chromium.

[2020-03-29 10:17] #1348 closed

[2020-03-29 10:21] svenefftinge opened #1350 "[git] Issues with merge conflict commands"
While cherry picking into my git repository, on clicking either of the first 2 options (keep changes, keep both,…) in the editor corresponding to my incoming changes, many a times only few parts are removed, not as intended to remove all three of these <<<<<<<, ======= and >>>>>>>. Also these buttons are not working when viewed from a smartphone, either in the normal mode or desktop mode.

See htt

[2020-03-29 10:26] svenefftinge commented on #1291
should be fixed now.

[2020-03-29 10:26] #1291 closed

[2020-03-29 10:26] svenefftinge commented on #1333
deployed now

[2020-03-29 10:26] #1333 closed

[2020-03-29 10:26] svenefftinge commented on #1185
This has been fixed.

[2020-03-29 10:26] #1185 closed

[2020-03-29 10:26] svenefftinge commented on #665
Fixed in production

[2020-03-29 10:26] #665 closed

[2020-03-29 10:31] svenefftinge commented on #1341
This is due to : https://github.com/gitpod-io/gitpod/issues/1345 which is going to be fixed Monday morning (Europe)

[2020-03-29 11:37] Lrvineshaw commented on #1349
An image smart recognition project that I'm currently working on myself does use a lot of libraries, and maybe I could try the paid service to get around that

[2020-03-30 03:48] Kreyren commented on #813
@JesterOrNot any info on this? I would like to use paludis docker for paludis downstream development

[2020-03-30 06:33] nisarhassan12 opened #1351 "Unable to find the installed EditorConfig extension"
### Describe the bug

I have the following in `.gitpod.yml`  but I don't see it installed in the extensions tab.

[code]

![image](https://user-images.githubusercontent.com/46004116/77881683-eb724d00-7278-11ea-80d5-dcccbdecf941.png)

This is what I get in the console:
![image](https://user-images.githubusercontent.com/46004116/77881842-3c824100-7279-11ea-82ba-a62defacbb05.png)
![image](https://use

[2020-03-30 11:32] nisarhassan12 opened #1352 "Gitpod app: re-enable adding the gitpod button + description on every issue as a preference."
I suspect that not every contributor goes through the Readme or Contributing.md maybe those contributing for the first time or those who are beginners do.

One thing for sure is that issues are always looked and read quite carefully. I think It would be nice if we were to have the Gitpod app add comments with the Gitpod button + some description (i.e what Gitpod does).

@svenefftinge told that we

[2020-03-30 11:39] jankeromnes commented on #1352
Great idea! Many thanks for suggesting it.

Some additional thoughts:
- A Gitpod button/link could also be added to PR templates / issue templates (although maybe that's not something the Gitpod App should do?)
- Alternatively, the Gitpod App could also add a Gitpod button/link only to issues labelled with `good-first-issue` or `help-wanted` (or custom set of labels), instead of all issues. This m

[2020-03-30 12:12] nisarhassan12 commented on #1352
@jankeromnes  Thanks! I would be in favour of having it on all issues unless it's highly requested. I have seen some popular OSS projects which don't bother to add labels like `help-wanted ` or `good-first-issue`  and so on, on almost the entirety of issues.

Maybe we could make this configurable as a preference which is disabled by default.

I have also seen projects which do have these labels ad

[2020-03-30 18:12] arita37 commented on #758
any workaround ?

[2020-03-31 00:37] Jazzthedog commented on #1334
Hello,

It was just my first attempt to try to log in. Nothing really special.I am
using
chrome latest version. I will use another profile and disable all my
extensions and try again. Thanks.

On Mon, Mar 23, 2020 at 6:15 AM Sven Efftinge <notifications@github.com>
wrote:

[2020-03-31 09:18] nisarhassan12 opened #1353 "Allow pasting images from clipboard to PR comments"
This is what I get when I paste an image from clipboard to the Pr comment:
![image](https://user-images.githubusercontent.com/46004116/78009326-4cbe1d00-735a-11ea-8d21-fbde1d11a812.png)

Allow pasting images from clipboard to PR comments like it is in Github Comments.

[2020-03-31 13:21] AlexTugarev commented on #1275
🎉 the fix was deployed!

[2020-03-31 13:21] #1275 closed

[2020-03-31 13:23] AlexTugarev commented on #765
The fix was deployed by now 🎉

[2020-03-31 13:23] #765 closed

[2020-04-01 00:23] JesterOrNot commented on #813
We don't have the resources right now. However, if you don't like APT you can use some Alpine based images where you can use APK.

[2020-04-01 01:51] RDIL commented on #1201
Hey @AlexTugarev,
Terribly sorry for the delay, but now I'm ready to get this fixed.

I have mypy and flake8 enabled on my user-level, but since this is an organization project I'm not sure if it will apply.

I have flake8 and mypy enabled in my repos `.theia/settings.json`, and one of my startup tasks makes sure they are installed, however when I open a Python file for the first time, I am greete

[2020-04-01 01:53] RDIL commented on #1201
One more thing - for current linter it says "multiple in use" - flake8 is a linter but mypy is a static analysis engine which I wouldn't technically call a "linter", but it seems theia does.

[2020-04-01 06:43] hitchcott commented on #1138
@svenefftinge I have enabled prebuilds, but when opening the workspace, it will always re-run the `npm build` step, which is taking a long time. Is there a way to either run this step automatically, or cache specific folders this step as well?

Specifically, for gatsby projects, it will speed up builds significantly (and reduce load on gitpod) if we are able to specify folders to cache between upd

[2020-04-01 12:39] kevinhq commented on #39
Nvm. Fixed with customization on Dockerfile.

[2020-04-01 14:46] KieranHolroyd opened #1354 "Private repo error 502"
### Describe the bug
https://gitpod.io/auth/github/callback on private repo not working, location: https://gitpod.io/sorry/#Error%20502 i get this in the response header. i upgraded my account and everything.

### Steps to reproduce
open my private repo? or update my access controls

### Expected behavior
load my repo... or change the controls

### Additional information
WebSocket connection to 'w

[2020-04-01 14:52] KieranHolroyd commented on #1354
i just tried to relog to see if that fixes it, i can't login anymore...

[2020-04-01 14:56] AlexTugarev commented on #1354
Hi @KieranHolroyd! I'll try to help. Let me check the logs.

[2020-04-01 15:12] AlexTugarev commented on #1354
Could it be, that you've tried to access https://gitpod.io/auth/github/callback for a second time? GitHub responded with an error code 502 at 16:54:25.497 CEST.

[2020-04-01 15:36] KieranHolroyd commented on #1354
i don't think so, i just clicked the gitpod button, then grant permissions

[2020-04-01 16:40] AlexTugarev commented on #1354
I think this was just a glitch with accessing GitHub servers. While there is no downtime logged, https://downdetector.com/status/github/ shows at least one report from the same time.

Please, let us know if it happens again!

[2020-04-02 01:59] gmright2 opened #1355 "Bug-fall"
### Describe the bug

Control in command bug keep falling to bring back gitlab repostory into a relationship with gitpod

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-02 02:08] gmright2 opened #1356 "Pod-bug/fallout"
How can a developer or a user can  fix this problem  should a user be able to call support via email  or the intrusion it will be commit in the master repostory to fix bug

![664FBAD2-6FF3-4B6D-91F1-E8B5782EFB21](https://user-images.githubusercontent.com/59498844/78203328-4e700980-745c-11ea-9322-2f0acfb2cfee.jpeg)

[2020-04-02 08:05] jankeromnes commented on #1012
Fixed!

[2020-04-02 08:05] #1012 closed

[2020-04-02 08:08] corneliusludmann commented on #1014
Fixed in production.

[2020-04-02 08:08] #1014 closed

[2020-04-02 10:35] hriebl opened #1357 "VSCode R extension fails to open an R terminal"
### Describe the bug

The VSCode R extension recommended in the docs (https://www.gitpod.io/docs/languages/r/) fails to open an R terminal and falls back to a shell instead.

### Steps to reproduce

Create the workspace https://gitpod.io/#https://github.com/hriebl/asp20model/tree/hriebl/gitpod-setup (the R package installation takes a while, sorry), press F1, and run the "R: Create R terminal" com

[2020-04-02 13:05] hriebl commented on #1357
This is probably related to this bug: https://github.com/eclipse-theia/theia/issues/6574

[2020-04-02 13:56] geropl commented on #1265
@Kreyren Sorry for the misunderstanding. We're not working on allowing virtualization inside Gitpod but looking into virtualization techniques for hosting Gitpod workspaces themselve. Virtualization _inside_ workspaces _might_ be a by-product, but is certainly not a primary goal. Thus I cannot give you a timeline.

[2020-04-02 15:43] KieranHolroyd commented on #1354
Okay, sorry, i was just rather confused by it. but it does seem to be from github.

[2020-04-02 15:43] #1354 closed

[2020-04-02 21:40] ttopholm opened #1358 "Environment Variables and org/rep"
### Describe the bug
If you have folders in gitlab.com, like <Organization>/<folder>/<repository> the environment variable created after a gp env foo=bar will be <Organization>/<folder>, but if you do a gp env -e you are not getting the variables back, because your repo is in <Organization>/<folder>/<repository>, the only workaround so far is to use */* in Org/rep in settings.

### Steps to reprod

[2020-04-02 22:45] GrzegorzMekal opened #1359 "bug iss"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-03 07:27] corneliusludmann commented on #1358
It's not entirely clear to me what you mean by “folder structure”. I guess you mean nested groups / subgroups like `gitlab.com/mygroup/mysubgroup/myproject` (probably your examples in your description are broken since they are recognized as markup).

Indeed I can confirm that setting env vars in a nested group does not work with `gp env`. Thanks for reporting!

[2020-04-03 07:29] ttopholm commented on #1358
Thx @corneliusludmann that was exactly what I meant ;-)

[2020-04-03 08:19] Kreyren commented on #813
@JesterOrNot Elaborate on the resources?

[2020-04-03 08:27] Kreyren opened #1360 "Contrib request: Testing of Paludis on gitpod"
Requesting contrib to https://github.com/Exheredrey/Exheredrey for gitpod configuration that would allow testing of paludis (https://paludis.exherbo.org/) on gitpod assuming that mensioned repository is made to develop downstream for package manager which expects testing.

### Tried solutions:
- Docker, not an option according to https://github.com/gitpod-io/gitpod/issues/1342
- Vagrant (Ideal sol

[2020-04-03 10:10] meysholdt opened #1361 "Issue with stopping workspace."

[2020-04-03 12:31] jankeromnes commented on #1359
Hi @GrzegorzMekal. Please describe the bug you are seeing.

Also, please let me know if you have any question -- I'm happy to help.

[2020-04-03 12:31] #1359 closed

[2020-04-03 17:22] MangiringJosua commented on #155
git -c diff.mnemonicprefix=false -c core.quotepath=false --no-optional-locks push -v --tags --set-upstream origin master:master
remote: Permission to MangiringJosua/magangperpus.git denied to masrilpars.
fatal: unable to access 'https://github.com/MangiringJosua/magangperpus.git/': The requested URL returned error: 403
Pushing to https://github.com/MangiringJosua/magangperpus.git
Completed with er

[2020-04-03 18:11] zxh1986123 opened #1362 "test"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-03 18:11] zxh1986123 commented on #1362
test

[2020-04-03 19:50] jankeromnes commented on #1362
It works! 🎉

[2020-04-03 19:50] #1362 closed

[2020-04-04 22:44] kreibaum opened #1363 "Many shortcuts don't work with the Neo 2 keyboard layout"
### Describe the bug
When using gitpod with the Neo 2 layout multiple shortcuts don't work. Most prominently, this includes ctrl+S for saving as well as ctrl+C, ctrl+V for copy and paste.

I am on Ubuntu 19.10 and this is a Problem in both Firefox and in Chromium

The layout Neo 2 is a special German layout included with most Linux distributions. I have included an image of the layout to give an i

[2020-04-05 00:36] ritikkumar opened #1364 "Access grant issue"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-05 11:15] Phreno opened #1365 "Editing a file modify the other one in the previous tab"
### Describe the bug
Editing a file modify the other one in the previous tab

### Steps to reproduce
Open 2 tabs with differents files (no split screen)

### Expected behavior
focus the far right tab (aka tab 2) and edit the text

- expect tab 2 to render wysiwyg
- expect tab 1 to be unchanged

### Additional information

![image](https://user-images.githubusercontent.com/1321367/78473255-6a66fa00

[2020-04-05 14:32] kevin-ci opened #1366 "Unable to load or create workspaces"
### Describe the bug
Workspaces stuck on loading screen.

### Steps to reproduce
Go to https://gitpod.io/workspaces/ and attempt to open a workspace. Is happening with multiple workspaces and users at Code Institute.

![image](https://user-images.githubusercontent.com/57438532/78501182-7a3c0980-7752-11ea-8069-b67b76cf9502.png)

[2020-04-05 14:35] kevin-ci commented on #1366
Opening pages from previously running workspaces returns a 500 Internal Server Error.

[2020-04-05 14:36] Natte-Z commented on #1366
I have issues with reviewing my code in the external browser (port 8000) with the following error message
<img width="482" alt="Screenshot 2020-04-05 at 16 35 35" src="https://user-images.githubusercontent.com/59930239/78501343-9f814580-775b-11ea-8c02-8abb8318f1f6.png">

[2020-04-05 14:40] TravelTimN commented on #1366
![image](https://user-images.githubusercontent.com/41592028/78501550-c20f6080-7753-11ea-8b6c-de5c3c7dc946.png)

I am also affected here, not able to create a workspace.

[2020-04-05 14:45] kevin-ci commented on #1366
Loading workspaces eventually time out to this:
![image](https://user-images.githubusercontent.com/57438532/78501659-6b565680-7754-11ea-9112-1a8bd49aebb4.png)

[2020-04-05 14:50] Kreyren commented on #1366
FWIW unable to reproduce in europe.

[2020-04-05 14:52] Kreyren commented on #1364
@ritikkumar Is this a mistake or can you elaborate on the issue?

[2020-04-05 14:53] Kreyren commented on #1360
Contribution submitted assuming resolved soon.

[2020-04-05 14:53] #1360 closed

[2020-04-05 14:55] Kreyren commented on #1351
Same issue here, looks like theia bug to me?

[2020-04-05 15:30] MauRuRo commented on #1366
Having the same issue: It's either stuck loading on Acquiring Node: 1/3  OR it doesn't show a status at all.
<img width="1517" alt="Schermafbeelding 2020-04-05 om 17 29 05" src="https://user-images.githubusercontent.com/26464846/78502790-1cfc8400-7763-11ea-809b-a752f1f34934.png">

[2020-04-05 15:57] lionkiller900 commented on #1366
I am also affected by this.

[2020-04-05 16:02] meysholdt commented on #1366
There is trouble with the Gitpod EU cluster. We're routing all traffic to US and Asia-Pacific now until we have resolved the trouble with the EU cluster.

[2020-04-05 16:07] MauRuRo commented on #1366
After multiple tries I'm also being redirected to the "Need more parallel workspaces? Upgrade Now!" page of gitpod. It seems al my previous workspace startup requests are still "pending" even though I've closed all the tabs.

<img width="1251" alt="Schermafbeelding 2020-04-05 om 18 05 12" src="https://user-images.githubusercontent.com/26464846/78503644-453ab180-7768-11ea-8d21-7881fa078e7c.png">

[2020-04-05 16:08] VioletViolaVi commented on #1366
I can't open my workspaces from gitpod or github.

[2020-04-05 16:08] VioletViolaVi commented on #1366
![image](https://user-images.githubusercontent.com/62072827/78503680-115b8e00-7760-11ea-8714-019bbd0519e9.png)

[2020-04-05 16:30] meysholdt commented on #1366
We've resolved the trouble. The EU cluster is back online.
Please file new issues in case trouble persists.

[2020-04-05 16:30] #1366 closed

[2020-04-05 18:37] KrisK1978 opened #1367 "Gitpod Workspace not opening"
Hi,
I am not able to open my workspace. Tried several times but no success.

![image](https://user-images.githubusercontent.com/46022746/78506851-728d5c80-7774-11ea-9676-3af3d56930b1.png)

I tried to close the workspace in Workspaces environment but the Close button is not responding.

![image](https://user-images.githubusercontent.com/46022746/78506907-e4fe3c80-7774-11ea-9c9d-d42af93a7af8.png)

[2020-04-05 19:07] viktorasLipinskis opened #1368 "Workspace does not stops running"
### Describe the bug

The workspace does not stops running, I also cannot Open it again. Seems that my hours is calculating...
### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-05 19:54] viktorasLipinskis commented on #1368
workspace id: d1cc895d-db3f-4851-a91f-a892ffe88192

[2020-04-05 19:57] Natte-Z opened #1369 "Unable to load or create workspaces"
Describe the bug
Workspaces stuck on loading screen.

Steps to reproduce
Go to https://gitpod.io/workspaces/ and attempt to open a workspace. Is happening with multiple workspaces and users at Code Institute.

_________________________________________-

This was registered as bug 1366 earlier this evening, but I (living in Stockholm) still experience the same since it started a few hours ago.
Hope

[2020-04-05 20:07] Sarosim commented on #1366
It does persist, My workspace still doesn't open.

[2020-04-06 07:10] Murtaza-arif opened #1370 "How to get delete workspace?"
How to get delete workspace?
I don't know that I have to pin the workspace now they are gone is there any way to get it back they are very important for me

[2020-04-06 07:33] akosyakov commented on #1363
cc @spoenemann

[2020-04-06 08:00] spoenemann commented on #1363
@kreibaum we need your help to solve this issue. Could you do the following:

 * Connect your Neo 2 keyboard to a **Windows** PC
 * Install Node.js 10 and Yarn as described here: https://github.com/eclipse-theia/theia/blob/master/doc/Developing.md#building-on-windows
 * Clone https://github.com/eclipse-theia/theia
 * Run `yarn` (it doesn't matter if it fails to build all packages)
 * Run https://g

[2020-04-06 08:31] #1367 closed

[2020-04-06 11:26] kreibaum commented on #1363
I think there may be a bit of a misunderstanding about the keyboard. It is a normal German QWERTZ keyboard and I am just using a different layout through software (and blind typing).

Do your comments still apply in that case?

(I can also try to debug what exactly happens in theira if you give me some hints where to start)

[2020-04-06 12:15] AnGherase opened #1371 "the link does not open"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-06 13:53] spoenemann commented on #1363
There's no need to debug, we just need to generate a layout file using the [generator script](https://github.com/eclipse-theia/theia/blob/master/packages/core/scripts/generate-layout.js).

You're right, I forgot that it's usually sufficient to set the keyboard layout in the operating system (independently of the actual hardware). In this case someone should check whether the layout is available on

[2020-04-06 15:15] Kreyren commented on #1351
@nisarhassan12 Seems that this extension is already built-in? So i assume that the failure caused by installing the duplicate in theia?
![image](https://user-images.githubusercontent.com/11302521/78574301-19800000-782a-11ea-9375-f00a87e6feb9.png)

[2020-04-06 15:47] havogt opened #1372 "Docs: broken link to gitpod-io/django-locallibrary-tutorial"
### Describe the bug
The link to the Django example is broken here https://www.gitpod.io/docs/languages/python/#python-project-examples

`https://github.com/` is missing

[2020-04-06 15:49] jankeromnes commented on #1372
Oops, great catch! Many thanks @havogt for reporting this 🙏 will fix now

[2020-04-06 15:53] #1372 closed

[2020-04-06 16:27] alesanchezr opened #1373 "🐞 Pre-build breaks the workspace"
### Describe the bug
I have the following steps on the init phase of the gitpod.yml:
[code]
As you can see this steps manipulate a database, and that is what behaves weird sometimes.

### Steps to reproduce
1. Clone [this repo](https://gitpod.io/#prebuild/https://github.com/alesanchezr/flask-rest-hello) (it should be pre-built already).
2. Make sure Gitpod successfully triggered the pre-build our

[2020-04-06 16:41] alesanchezr commented on #561
Hello @meysholdt I wanted to follow up on this, I have more information about this error, basically the error happens 30% of the times, when it happens I just tell the students to try again 2 or 3 times and then it works.

[2020-04-06 17:10] akosyakov commented on #1351
Yes, it is a bug, if you try install built-in extension as a workspace extension of exactly the same version then it is INSTALLED, but not displayed as a workspace extension.

[2020-04-06 18:44] HPestock commented on #188
Yes, I hate the thing.

[2020-04-07 14:24] paytonrules opened #1374 "Workspace Snapshots Blog example does not work"
### Describe the bug

The link to a sample workspace snapshot in the blog https://www.gitpod.io/blog/workspace-snapshots does not open. This is the link at the bottom of the blog: https://gitpod.io/#snapshot/f7f5954a-250b-4113-909c-aae88b64321c.

The console reports the following when you follow that link:

### Steps to reproduce
Click the link at the bottom of the above blog, it isn't working.

#

[2020-04-07 16:23] jankeromnes commented on #1370
Hi @Murtaza-arif, actually there is no need to email support@, I have just restored all of your old workspaces.

Please double-check https://gitpod.io/workspaces/ and delete those that you no longer need.

[2020-04-07 16:23] #1370 closed

[2020-04-07 19:38] JesterOrNot commented on #1357
I'm sorry it does not work, I will look into this.

[2020-04-07 19:53] JesterOrNot commented on #1371
Hello @AnGherase, and welcome to the GitHub and Gitpod communities! :tada: Could you explain the issue a bit?

[2020-04-08 06:08] LimpingNinja commented on #1287
@akosyakov Is it? They don’t install by drag and drop and there are some that I would consider very important to add before using GitPod, like this:

https://github.com/redhat-developer/netcoredbg-theia-plugin

This allows .NET core debugging via the Samsung debugger (which can’t happen with the stander net core debugger due to licensing). If “Theia plugin” is just another name then how would you

[2020-04-08 06:29] akosyakov commented on #1287
@LimpingNinja Are you sure there is no VS Code extension already using this debug adapter?

[2020-04-08 07:26] LimpingNinja commented on #1287
@akosyakov I'm not sure why the Theia/Che team would make this a VSCode extension, as VSCode is allowed to use the .NET Core Debugger.  From what I understand, this was made specifically to resolve an issue with Theia lacking the capability to use that debugger and bolster Che's 1st class support of .NET: https://github.com/eclipse/che/issues/12790

I saw a comment from @svenefftinge about a year

[2020-04-08 11:49] tgarratt commented on #551
Does this problem just resolve itself then? I currently have a workspace that has been stopping for 21 hours... which is insane. Is there anything anyone found to speed up this process as there is a couple of pending commits. Cheers

[2020-04-08 12:16] spoenemann opened #1375 "Non-helpful error message when the fork of a PR has been deleted"
### Describe the bug
When you open a PR in Gitpod that was created from a fork, and the fork is deleted again, Gitpod displays

### Steps to reproduce
 * Fork a repository
 * Create a PR to the original repository
 * Delete the fork
 * Open the PR in Gitpod

### Expected behavior
The error message should make clear that the repository does not exist.

### Example repository
https://github.com/ecli

[2020-04-08 12:19] jankeromnes commented on #1375
I very much agree that this error message is super unhelpful.

Originally reported as https://github.com/gitpod-io/gitpod/issues/4

[2020-04-08 12:50] jdf opened #1376 "Refresh control and/or keybinding for web preview"
I can't find a way to cause the web preview to refresh/reload after making a change to my HTML or JavaScript.

Thanks!

[2020-04-08 14:33] stefan-ci opened #1377 "Unable to create or reopen workspace"
Bug description:
Workspaces get stuck on loading screen.
![image](https://user-images.githubusercontent.com/58422733/78796382-22014380-79ae-11ea-9d54-0c29a9482228.png)

Steps to reproduce:
Go to https://gitpod.io/workspaces/ and attempt to open a workspace
go to a GitHub repository and click on the GitPod button. This is happening with multiple workspaces and users at Code Institute.

![image](htt

[2020-04-08 14:35] stefan-ci commented on #1377
Seems to be related to:
https://github.com/gitpod-io/gitpod/issues/1366
https://github.com/gitpod-io/gitpod/issues/1367

[2020-04-08 14:35] Natte-Z commented on #1377
And here we go again. Gitpod is again not loading -.-
<img width="661" alt="Screenshot 2020-04-08 at 16 35 07" src="https://user-images.githubusercontent.com/59930239/78796695-f6cf2200-79b6-11ea-82b2-e7c9f99611d4.png">

[2020-04-08 14:36] TravelTimN commented on #1377
Also experiencing the same... unable to load any workspaces, it's stuck here:
![image](https://user-images.githubusercontent.com/41592028/78796760-a9e74d80-79ae-11ea-82e2-7c9898029d63.png)

[2020-04-08 15:18] jankeromnes commented on #551
Hi @tgarratt, sorry about that. This bug is currently being investigated. In the meantime, we have to manually update the "Stopping" workspaces to "Stopped" (and also make sure that you don't lose any Gitpod hours for all that "stopping" time).

[2020-04-08 16:27] tgarratt commented on #551
Awesome, all sorted now. Hours don't seem to have been used either!  Thanks

[2020-04-08 17:23] dslovin opened #2239 "Offline or Websockets are blocked"
I tried the self hosted installer script for GCP, and recieve the following error.

![Screenshot 2020-04-08 at 1 16 18 PM](https://user-images.githubusercontent.com/2700620/78813869-b01ffe80-799b-11ea-92c1-ea9b0b536964.png)

Everything looks right otherwise, thoughts? Not sure which logs to look at. There is no firewall between us. I have tried on firefox and chrome on multiple OS's. Have tried by

[2020-04-08 18:12] JesterOrNot commented on #1357
CC @akosyakov

[2020-04-08 22:51] AttilioGiglio opened #1378 "no puedo ingresar"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-09 00:41] avoorhees opened #1379 "Oauth Redirect"
I'm running a django application that uses social auth (google authentication).

Since django thinks the app is running on `http://127.0.0.1:8000/` the redirect after logging in is going to localhost (which obviously isn't running b/c I'm using gitpod).

Have other people encountered a similar issue?

[2020-04-09 01:08] JesterOrNot opened #1380 "Gitpod to support Docker Config"
I would like to propose that we allow for Docker configuration i.e. no-cache I was thinking syntax like

[code]

What do you guys think?

[2020-04-09 05:06] Lxxyx opened #1381 "[prebuild] cannot initialize workspace"
### Describe the bug

Open the workspace and get error:

cannot initialize workspace: cannot initialize workspace: cannot initialize workspace: prebuild initializer: git checkout -B master origin/master failed (exit status 1): Branch 'master' set up to track remote branch 'master' from 'origin'. Reset branch 'master' Your branch is up to date with 'origin/master'. env: ‘node’: No such file or dire

[2020-04-09 05:51] Murtaza-arif commented on #1370
Hi Gitpod-Io/Gitpod,
Can you check this workspace as well
https://a2237ce2-7db6-4884-a99e-c8f757e6de9a.ws-ap01.gitpod.io/#/workspace/PyTLDR
https://f29dac02-e335-45e6-a56a-3c0a2b44eeaf.ws-ap01.gitpod.io/#/workspace/text-summarization

Thanks

On Tue, Apr 7, 2020 at 9:54 PM Jan Keromnes <notifications@github.com>
wrote:

[2020-04-09 06:37] jankeromnes commented on #1370
Hi @Murtaza-arif,

These two workspaces are alive and well, and you should be able to find them in your workspaces list at https://gitpod.io/workspaces/

Worst case, if you don't find them for some reason, please email support@gitpod.io and we will be able to email you a backup archive of these workspaces.

[2020-04-09 07:13] Kreyren commented on #1380
I am simple man, if you propose more configuration i say yes~

[2020-04-09 10:48] kunxin-chor commented on #736
Hi,

I have tried generating the connection string via the method above, and it doesn't seem to work. Here's my sample connection string:

mysql://remote@3306-b56c270d-9f91-4154-a6ac-df568bdee40c.ws-us02.gitpod.io/test

I keep getting a timed out error, using DBeaver. I have make sure to create the remote user and the test database. The port 3306 is also public.

[2020-04-09 11:29] Kreyren opened #1382 "Checkboxes are not clickable in git preview"
![image](https://user-images.githubusercontent.com/11302521/78890443-f80b5800-7a65-11ea-8fde-fe0b99875eec.png)

Expecting them to be clickable to checkout the box in merge request

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io#snapshot/f2cb0c54-7726-4b6a-a5eb-2efd5dd1b5e3)

[2020-04-09 11:35] Kreyren commented on #1378
Elaborada?

[2020-04-09 11:36] Kreyren commented on #1378
Posible duplicada de https://github.com/gitpod-io/gitpod/issues/1377

[2020-04-09 11:37] Kreyren commented on #1377
I don't have this problem in EU (Czechia).

[2020-04-09 11:38] kescardoso opened #1383 "Can't start workspaces in Europe"
### Describe the bug
Worked fine until last night, but today I am trying to open my workspace again and I get this error: Error: "2 UNKNOWN: Channel Destroyed
Please file an issue if you think this is a bug.""

I don't remember doing anything to erase my workspace last night. This is very scary. I would be very thankful to have some help. Thanks

[2020-04-09 11:39] isontheline commented on #1383
Same here

[2020-04-09 11:45] KrisK1978 commented on #1377
Having this problem again, no workspace is loading :-(

[2020-04-09 11:45] kescardoso commented on #1383
@isontheline I downloaded the files and will start a new workspace with what I have.  I wonder if this is an issue with the system....

[2020-04-09 11:51] jankeromnes commented on #1377
Hey, sorry for the lack of response yesterday, we missed this issue.

It was caused by a 40 minutes long Google Cloud outage:
- http://status.gitpod.io/incidents/3aa735d4
- https://status.cloud.google.com/incident/zall/20005

Not sure what's happening right now though, taking a look.

[2020-04-09 11:53] jankeromnes commented on #1377
Nothing yet on https://status.cloud.google.com/ -- will keep checking.

On our side, we see an increase in failed workspaces since about 30 minutes ago. Investigating.

[2020-04-09 11:54] jankeromnes commented on #1378
Thanks for reporting! But there is not enough information for this to be actionable.

[2020-04-09 11:54] #1378 closed

[2020-04-09 12:06] isontheline commented on #1383
Related to #1377

[2020-04-09 12:10] jankeromnes commented on #1383
Hey, sorry about this @kescardoso. We're currently investigating an outage that started about 30 minutes ago that prevents workspaces from starting in the Europe cluster.

Specifically `Error: "2 UNKNOWN: Channel Destroyed"` means that our workspace manager had to be restarted, and it should be temporary.

But let's track this new outage here, since https://github.com/gitpod-io/gitpod/issues/1377

[2020-04-09 12:11] jankeromnes commented on #1377
This issue was actually about yesterday's global Google Cloud outage, which has been resolved.

Let's track today's new outage in https://github.com/gitpod-io/gitpod/issues/1383.

[2020-04-09 12:11] #1377 closed

[2020-04-09 12:14] jankeromnes commented on #1383
We're actively investigating this issue, and will resolve or mitigate it as soon as possible. Sorry about the disruption to your work -- we're doing our best to restore service ASAP.

I'll now update https://status.gitpod.io.

[2020-04-09 12:17] kescardoso commented on #1383
@jankeromnes thank you for the update, I saw the other issue about the outage, I will keep watching it here. Thanks!

[2020-04-09 12:39] isontheline commented on #1383
@jankeromnes May you switch to another continent cluster ?

[2020-04-09 12:50] PEZ commented on #731
This seems to be happening now again. I'm in Stockholm, if that's relevant to the issue.

[2020-04-09 13:37] jankeromnes commented on #1383
@isontheline That's indeed what we did: we re-routed Europe traffic to North America while working on the Europe cluster.

We've now mitigated this issue, and will deploy a fix shortly. The service seems back to operational, so I've resolved the incident on https://status.gitpod.io

Please try again, and if you're still seeing issues, please let me know.

[2020-04-09 13:40] isontheline commented on #1383
@jankeromnes Thank you !
New pulled workspace works as expected.
This old one stucks in "pending" state : c9dd8ef3 (but I can now work, thanks !)

[2020-04-09 13:44] jankeromnes commented on #1383
FYI, Gitpod also recently became much more popular, and we're seeing record numbers everywhere. While this makes us super happy, it also adds a bit of stress on our system, and challenges some assumptions we've made in the past. We're doing our best to cope with the influx while also guaranteeing a flawless user experience, and we really appreciate your goodwill and patience when some of these sma

[2020-04-09 13:45] jankeromnes commented on #1383
Aha, thanks for mentioning, I'll check back on "stuck" workspaces.

[2020-04-09 14:03] kescardoso commented on #1383
@jankeromnes thanks, workspaces working again!

[2020-04-09 14:28] jankeromnes commented on #1383
Awesome! Many thanks for the updates 👍

[2020-04-09 14:28] #1383 closed

[2020-04-09 15:07] jankeromnes commented on #731
@PEZ Thanks for reporting this, and sorry about the disruption. I think you were affected by https://github.com/gitpod-io/gitpod/issues/1383.

[2020-04-10 03:29] WadaTokisada opened #1384 "test"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-10 07:54] jankeromnes commented on #1384
@WadaTokisada It works! 🎉

[2020-04-10 07:54] #1384 closed

[2020-04-10 12:31] prajwalgowdahg opened #1385 "not able to parse the context"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-10 18:39] isontheline opened #1386 "Unusable workspaces due to high load on the node (WS-EU01)"
### Describe the bug
I cannot use my workspaces because of the high load on the node :
![Capture d’écran 2020-04-10 à 20 37 03](https://user-images.githubusercontent.com/44212923/79014441-35a5d900-7b6b-11ea-8d2b-4e4c4e12394f.png)

### Steps to reproduce
Just launched my workspaces as usual

### Expected behavior
A load less than 5.0/10.0

### Additional information
Node : WS-EU01

[2020-04-10 22:20] grahamas opened #1387 "Julia REPL doesn't open on particular repository"
### Describe the bug
When I try to open a Julia REPL with Julia language support installed, it opens a shell.

### Steps to reproduce
1. Open the Gitpod on https://github.com/FluxML/model-zoo/
2. Use the command palette to open a Julia REPL

### Expected behavior
After step 1, I would expect a REPL to be open. Instead, a command prompt is open.
After step 2, I would expect a REPL to open. Instead,

[2020-04-11 02:03] JesterOrNot commented on #1387
Hello @grahamas, and welcome to the Gitpod community! 🎉 I looked at the project and it appears that Julia is not installed, this is odd (to say the least) since the image used is an official Docker image. To see an example of how to properly configure Julia for Gitpod please see our [example repository](https://github.com/gitpod-io/Gitpod-Julia). in the meantime, I will create a PR for the specifi

[2020-04-11 06:16] jankeromnes commented on #1386
Hi @isontheline, thank you for reporting this, and sorry for the disrupted development experience.

Yesterday evening (CEST), a server in the `ws-eu01` cluster started seeing unusually high CPU load. I had marked it for removal from the cluster, but for some reason, it only got removed around 45 minutes ago.

We'll investigate what happened there, and see how we can restore service quality much fa

[2020-04-11 06:16] #1386 closed

[2020-04-11 06:20] kevinhq commented on #616
Hi.

I am using ubuntu 16.04 image and didn't install solargraph gem. Ruby 2.3.8 works fine there except there's always an alert about solargraph.

Can I disable this alert? I don't think Ubuntu needs solargraph for Ruby.

[2020-04-11 06:29] jankeromnes commented on #1385
Hi @prajwalgowdahg, please provide more information, like:
- a screenshot of the problem
- the URL you tried to open when this problem happened

Unfortunately, the current issue has not enough information, so we can't do anything to help you.

[2020-04-11 06:44] kevinhq commented on #1177
I hope you can make scroll a bit wider on all browsers.

Tried this on Chrome Version 80.0.3987.163 on macos catalina.

![alt text](https://i.ibb.co/PGGt5gX/Screen-Shot-2020-04-11-at-1-33-54-PM.png "Logo Title Text 1")

[2020-04-11 09:06] jankeromnes opened #1388 "Suggestion: Move workspace actions from "avatar menu" into a more obvious dedicated menu"
Currently, common workspace actions like:
- take a snapshot
- share running workspace
- stop workspace

are "hidden" in the IDE's top-right "avatar menu" (you need to click on the avatar to see it). I think it would make sense to move it into a dedicated menu that is more visible/obvious to users.

Suggestions:
- The "File" menu already has "stop workspace" -- maybe it could have "snapshot" & "sha

[2020-04-11 14:07] Lxxyx commented on #1381
Is there any progress on this issue? @JesterOrNot

[2020-04-11 14:09] jankeromnes commented on #1381
Hi @Lxxyx, no progress sorry, this issue slipped through because other incidents took priority (see https://status.gitpod.io). I'll look into it now.

[2020-04-11 14:10] jankeromnes commented on #1381
Removing label `critical`, because Gitpod doesn't seem to be down for everyone, cc @JesterOrNot.

[2020-04-11 14:11] jankeromnes commented on #1381
I was able to reproduce the issue:

<img width="1348" alt="Screenshot 2020-04-11 at 16 11 17" src="https://user-images.githubusercontent.com/599268/79046110-22e4e000-7c0f-11ea-9a59-23054c31e226.png">

[2020-04-11 14:17] jankeromnes commented on #1381
So, first of all, our system believes that there is a prebuild available for https://github.com/midwayjs/midway's latest commit https://github.com/midwayjs/midway/commit/673f07a947c2d7f13a737ac221d84508364b0553:

[code]

So Gitpod will try to use it. I will take a look at what the actual prebuild contains, to see if that gives any insights into what's going wrong here.

[2020-04-11 14:21] jankeromnes commented on #1381
Next, it seems that the prebuild is hosted in the `asia-east1` region, while I thought we had migrated this cluster to the `us-west1` region. Maybe that has something to do with the bug.

[2020-04-11 14:25] jankeromnes commented on #1381
Ah, when I'm inside the prebuild, and I do the command that fails, it gives me `git-hooks` errors. Maybe `git-hooks` are not well supported by Gitpod's prebuild initializer?

[code]

[2020-04-11 14:41] jankeromnes commented on #1381
I think this is simply our prebuild system not handling git-hooks well.

I believe the error message `env: ‘node’: No such file or directory` is thrown by the `post-checkout` Git hook, probably because the prebuild loader is not an actual development environment (i.e. it's likely missing `node` in the `PATH`).

[2020-04-11 20:51] Kreyren opened #1389 "Support for ion"
Requesting support for ion https://github.com/redox-os/ion
- vscode extension unknown

[2020-04-11 21:38] JesterOrNot commented on #1389
I'll give it a shot see https://github.com/JesterOrNot/Gitpod-Ion

[2020-04-11 21:52] JesterOrNot commented on #1389
Done!

![image](https://user-images.githubusercontent.com/50386709/79055696-a7862d00-7c14-11ea-9fe1-269e77a79484.png)

[2020-04-11 22:21] Kreyren commented on #1389
That was fast O.o thanks ^-^

[2020-04-11 22:21] #1389 closed

[2020-04-11 22:22] Kreyren opened #1390 "Support highlighting for ion-shell"
Requesting highlighting support for ion https://github.com/redox-os/ion
- vscode extension unknown

[2020-04-12 01:26] JesterOrNot commented on #1390
I'll look into it

[2020-04-12 01:44] JesterOrNot commented on #1390
I could find no such extension, so I'll try to write it instead.

[2020-04-12 10:14] Kreyren opened #1391 "I can't fork! - TypeError: NetworkError when attempting to fetch resource."
### Describe the bug

![image](https://user-images.githubusercontent.com/11302521/79066284-17e58a80-7cb7-11ea-9570-c8b7d6075ae0.png)

### Example repository

[![Open in Gitpod](https://gitpod.io/button/open-in-gitpod.svg)](https://gitpod.io#snapshot/7b976ed1-fed8-4b57-9f23-d3bc1dbe788c)

[2020-04-12 10:15] Kreyren commented on #1391
Works now

[2020-04-12 10:16] Kreyren commented on #1391
Nevermind!

[2020-04-12 13:02] dellagustin commented on #688
@svenefftinge , this is great
https://github.com/gitpod-io/gitpod/issues/688#issuecomment-514247244
Exactly what I was looking for, otherwise the hardcoded one is kind of pointless for contributors using forks.

[2020-04-13 02:58] Lxxyx commented on #1381
Thanks reply,expect this issue to be fixed in a subsequent update @jankeromnes

[2020-04-13 02:58] blablanumerodeux opened #1392 "Live Sare crash"
### Describe the bug

When creating a shared session i get this:
[code]

### Steps to reproduce

### Expected behavior

### Additional information

https://db86aebf-1040-47ed-923f-2fc36f438ae9.ws-us02.gitpod.io/

### Example repository

[2020-04-13 13:34] Kreyren opened #1393 "FeaReq: Add icons for ion files"
Currently ion files has default icon:
![image](https://user-images.githubusercontent.com/11302521/79124220-29549280-7d9c-11ea-901e-c00ac662a589.png)

Requesting adding icon representing ion

[2020-04-13 14:36] Kreyren commented on #1393
FWIW i would contribute these, but it seems that this part of gitpod is close-source

[2020-04-14 10:33] svenefftinge commented on #1392
Can you provide a pointer to your repository or share a snapshot URL?

[2020-04-14 10:34] svenefftinge commented on #688
Yes, but it only works on public repositories as Github.com doesn't send referrer headers from private repositories.

[2020-04-14 10:37] svenefftinge commented on #616
The Ruby extension needs solargraph, so without it you won't get any editing support.

[2020-04-14 12:36] JesterOrNot opened #1394 "YAML Hover Bug"
Original post: https://github.com/eclipse-theia/theia/issues/7537

### Describe the bug
![image](https://user-images.githubusercontent.com/50386709/78849964-8f779900-79db-11ea-8c0e-e15e1245f816.png)

YAML hovers provide an incorrect description

### Steps to reproduce

unknown

### Expected behavior

correct hover

### Additional information

Chrome Console:

![image](https://user-images.githubuse

[2020-04-14 13:19] NickBaker11 opened #1395 "Files won't save"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-14 14:35] pxg950110 opened #1396 "mytest"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-14 16:27] vahega opened #1397 "I can't open the full template master"
### Describe the bug

### Steps to reproduce

### Expected behavior

### Additional information

### Example repository

[2020-04-14 19:54] blablanumerodeux commented on #1392
here you go:

[snapshot](https://gitpod.io#snapshot/c9c670a6-6152-4cbc-9a63-5d1112ab340b)

[2020-04-15 07:27] cmarqu commented on #39
@kevinhq What was the problem in the end, i.e. what was the customization you did?

[2020-04-15 09:43] akosyakov commented on #1180
I believe Theia fix was already deployed to Gitpod for it.

[2020-04-15 09:43] #1180 closed

[2020-04-15 10:53] lechien73 opened #1398 "Cannot run apt-get from dockerfile after Ubuntu 19.04 EOL"
### Describe the bug
Our custom dockerfile installs tools and runs `apt-get update -y`. Since the update to Ubuntu 19.04, this now causes an error. The text is below and a screenshot is attached:

Reading package lists...
E: The repository 'http://archive.ubuntu.com/ubuntu disco Release' does not have a Release file.
E: The repository 'http://archive.ubuntu.com/ubuntu disco-updates Release' does n

[2020-04-15 11:08] jankeromnes commented on #1398
Hi @lechien73!

Sorry for the disruption. As mentioned via email, we actually upgraded to 19.04 almost a year ago: https://github.com/gitpod-io/workspace-images/pull/94

However, what probably caused the recent breakage is that 19.04 reached end-of-life on 23 January 2020: https://wiki.ubuntu.com/Releases so I think many Apt repositories are now pulling their packages for Disco (I know at least `p

[2020-04-15 11:10] jankeromnes commented on #1398
See also https://github.com/gitpod-io/workspace-images/pull/203 where I'm planning to run a few experiments and see if we can quickly fix your build.

[2020-04-15 11:16] jankeromnes commented on #1398
@lechien73 Oh, one more thing: I notice in your Dockerfile that you're running `apt-get update` and `apt-get install` in different `RUN` instructions.

https://github.com/Code-Institute-Org/gitpod-full-template/blob/master/.gitpod.dockerfile#L7-L14

That's problematic, and could be the root cause of the `apt-get` problems you're seeing.

When you do:

[code]

Both instructions can be cached at dif

[2020-04-15 11:28] lechien73 commented on #1398
Thanks Jan, unfortunately the same problem happens even with a standard `apt-get update -y` and nothing else. I guess it is due to 19.04's EOL status, as you said.

[2020-04-15 11:38] lechien73 commented on #1398
Yes, the actual issue is that Disco has been removed from the Ubuntu repos: http://archive.ubuntu.com/ubuntu/dists/

[2020-04-15 12:05] akosyakov commented on #1325
@timoch Which input did you try undo? Editor? Git input?

[2020-04-15 12:07] timoch commented on #1325
That would be the editor. I don't remember what was going on for other
parts of the UI.

On Wed, Apr 15, 2020, 14:05 Anton Kosyakov <notifications@github.com> wrote:

[2020-04-15 12:09] akosyakov commented on #1325
It sounds like a bug related to keyboard layout handling. cc @spoenemann

[2020-04-15 12:10] jankeromnes commented on #1398
Indeed. 🤦 I confirm that all Gitpod image builds are now broken:

<img width="893" alt="Screenshot 2020-04-15 at 14 01 44" src="https://user-images.githubusercontent.com/599268/79335351-25eb1380-7f22-11ea-818f-14c626dc42d1.png">

The errors are the same as yours:

[code]

This means that workspaces with a custom .gitpod.Dockerfile that's using `apt-get` are now broken.

However, workspaces that do

[2020-04-15 12:35] spoenemann commented on #1325
@timoch where have you changed the keyboard layout? In your OS or in Theia (there's a command for that)?

Could you look into your browser log? There should be an info regarding the detected keyboard layout after Theia has loaded.

[2020-04-15 13:56] Kreyren commented on #1398
*@kreyren would just use debian stable assuming ubuntu being maintained by incompetent developers and is being pita to manage in production system*

[2020-04-15 14:22] jankeromnes commented on #1398
Update: We've merged the Ubuntu Focal 20.04 upgrade. A new `gitpod/workspace-full` is being built, and should be pushed to Docker Hub in < 60 minutes.

Other images like `gitpod/workspace-mysql` and `gitpod/workspace-mongodb` will follow shortly after.

[2020-04-15 14:44] jankeromnes commented on #1398
Re-update: These images are now based on Ubuntu 20.04:
- `gitpod/workspace-full:latest`

[2020-04-15 15:53] jankeromnes commented on #1398
Ok, all major Gitpod images online are now based on Ubuntu 20.04, which fixes this issue. Thanks for your patience!

[2020-04-15 15:53] #1398 closed

[2020-04-15 17:01] Kartikkman commented on #854
@svenefftinge  Hi thanks for Awesome product , but we are facing scroll issue , Can you fix it ? It makes hard to scroll through Code !!

[2020-04-15 17:41] kunxin-chor opened #1399 "MySQL won't start (error connecting)"
### Describe the bug
`mysql -u -root` won't work

### Steps to reproduce
1. Create a new repo on Github
2. Run Gitpod
3. Choose to setup project
4. Choose 'Default+MySQL' workspace
5. Close workspace
6. Start a new workspace
7. At terminal, type in `mysql -u root`

### Expected behavior
MySQL command line to show up

### Additional information
[code]

### Example repository
https://github.com/kunx

[2020-04-16 01:37] JesterOrNot opened #1400 "Gitpod to support `gp install`"
I would like to propose a new subcommand for the Gitpod CLI `gp install` this would take a path to a `*.vsix` file and install it. This would make working with VSCode extension development in Gitpod a bit easier.

[2020-04-16 03:19] Kreyren commented on #1400
dup of https://github.com/gitpod-io/gitpod/issues/1097

[2020-04-16 03:41] Hattshire opened #1401 "Support modifying existing problem matchers"
Merging this commit 😥
https://github.com/eclipse-theia/theia/commit/cf86e86857c45ab82366508cd270d217d6d66b04

[2020-04-16 08:24] lechien73 commented on #1399
Having the same problem since the Ubuntu 20.04 upgrade.

[2020-04-16 08:47] havogt commented on #425
Any news on this? I run into this issue today.

[2020-04-16 09:12] Kreyren commented on #52
Any update on this?

[2020-04-16 12:36] jankeromnes commented on #1399
Many thanks for reporting this. I'm not sure exactly what causes the problem, but it's likely due to the upgrade to MySQL 8 (side-effect of the Ubuntu 20.04 upgrade).

I'll try to find what exactly is incompatible with MySQL 8 in our default MySQL configuration: https://github.com/gitpod-io/workspace-images/tree/master/mysql and then fix it.

[2020-04-16 12:48] jankeromnes commented on #1399
Also, it seems that @lechien73 was able to fix / work around this problem in [this msyql.cnf](https://github.com/Code-Institute-Org/gitpod-full-template/blob/6104236fbf5276aed2c59676d0de6686ff665bf4/.theia/mysql.cnf) by removing a few config parameters:

[code]

Maybe we could try removing some of these as well. I'm not even sure why we have them to be honest.

[2020-04-16 13:02] jankeromnes commented on #1399
The MySQL 8 configuration originally proposed by @eryjus in https://github.com/gitpod-io/workspace-images/pull/100/files#diff-f8507bef6331e741bc1ebaf18bcfab35 has similar notable differences:

[code]

[2020-04-16 13:03] jankeromnes commented on #1399
I guess we'll remove `query_cache_limit`, `query_cache_size`, `expire_logs_days` and `max_binlog_size` from our config. That could fix it. I'll make a PR.

[2020-04-16 13:05] lechien73 commented on #1399
The error log specifically showed `query_cache_limit` as being an unknown option, which could be part of the new MySQL implementation. I'd also removed the `bind_address`, since localhost was assumed if not specified.

[2020-04-16 13:11] #1399 closed

[2020-04-16 13:15] jankeromnes commented on #1399
I've just merged the fix to deploy a new `gitpod/workspace-mysql` as quickly as possible. E.T.A. ~60 minutes.

 (No need to wait for CI on the PR, because Gitpod's MySQL image is already broken, and I'm pretty confident that this change can fix it.)

Thanks a lot for your help @lechien73 @kunxin-chor and @eryjus! 🙏

[2020-04-16 23:47] Kreyren opened #1402 "Allow end-user on the broken environment if desired"
Currently if the build fails gitpod exits with fatal:
![image](https://user-images.githubusercontent.com/11302521/79516982-3ba92780-804d-11ea-8984-85a866065cea.png)

Expecting the ability to force opening the environment even if it fails.

[2020-04-17 00:07] Kreyren opened #1403 "Add command to gp to close preview"
![image](https://user-images.githubusercontent.com/11302521/79517905-e15d9600-804f-11ea-8946-bce929f3ed20.png)

I was using `git commit -m "$(head /dev/urandom | tr -dc A-Za-z0-9 | head -c10)" && git push && gp preview https://gitpod.io/#https://github.com/gitpod-io/workspace-images/pull/204` to test https://github.com/gitpod-io/workspace-images/pull/204 which is unreliable because it does not ref

[2020-04-17 00:15] Kreyren opened #1404 "Use indentation based on detected"
![image](https://user-images.githubusercontent.com/11302521/79518424-52ea1400-8051-11ea-9a0d-8c516a7d21cb.png)

Expect to use i.e indent one tab in file that is using indentation one tab

[2020-04-17 02:01] Kreyren opened #1405 "Theia is happy to follow invalid hyperlinks"
### Describe the bug

![image](https://user-images.githubusercontent.com/11302521/79524002-ba0ec500-805f-11ea-80df-e1b7d313b5f1.png)

### Expected behavior

Do not prompt to follow invalid links

### Additional info

Example code:
[code]

[2020-04-17 04:32] Kreyren opened #1406 "Annoying text at the top of the editor"
### Describe the bug

![image](https://user-images.githubusercontent.com/11302521/79532326-087a8e80-8075-11ea-9377-ba5ffe6dccfc.png)

### Steps to reproduce

1. Select random thing
2. Press CTRL+D
3. Withness the annoyance

### Expected behavior

Don't output annoying text unless in debug mode?