[2022-04-15 03:06] daveshook opened #9346 "docker-compose kill command does not behave properly"
### Bug description

When `docker-compose kill SERVICE` is executed in a gitpod workspace, it kills all containers. It should only kill the named container, i.e. `SERVICE`. When this command is run on an ubuntu host, it behaves correctly.

### Steps to reproduce

1. Start several docker containers
2. Run `docker-compose kill SERVICE` where `SERVICE` is equal to the name of one container.
3. All ru

[2022-04-15 09:36] jldec opened #9347 "Phantom alerts for server event loop lag after mitigating and auto-resolving"
ServerEventLoopLagTooHigh alerts are being re-triggered for some time after the issue has been resolved.
This creates additional (unnecessary) noise for on-call.

https://gitpod.pagerduty.com/incidents/889
https://gitpod.pagerduty.com/incidents/890
https://gitpod.pagerduty.com/incidents/891
https://gitpod.pagerduty.com/incidents/892

Service | Title | Time | Activity
-- | -- | -- | --
gitpod-prod

[2022-04-15 09:58] atduarte commented on #8784
@konne I have learned that we are quite limited in the number of SSL certificates we can generate [[1](https://letsencrypt.org/docs/rate-limits/)] and we wouldn't be able to implement this as described. 😞

For now I don't see a clear and straightforward alternative that is better than the local companion app trick or proxying to different ports. I will research the topic, and in the meantime if yo

[2022-04-15 11:08] akosyakov commented on #9131
- I don't think it is easy to implement technically, since IDE is owning top-window and assume layouting. Putting an IDE in iframe is not an option.
- I'm also very skeptical about putting alient elements over IDE. I think instead initial onboarding should be improved to get a user to a proper IDE and within IDE elements native should be used to surface Gitpod funtionality.

[2022-04-15 11:58] xxkabasakalxx opened #9350 "Letters do not show up clearly on terminal."
### Bug description

Hi,
On my Gitpod ide (brave Browser) letters do not show up cleary on terminal, as you can see on below. How can i fix this problem.
Thank you for your attention.
Have a good day.

![Letters on termimal](https://user-images.githubusercontent.com/63397523/163568028-07a07e15-a726-41dd-96b4-bcea0b16f2e1.PNG)

### Steps to reproduce

![Letters on termimal](https://user-images.gith

[2022-04-15 12:19] daveshook commented on #9346
Upgrading `docker-compose` to version `2.4.1` corrects this issue.

[2022-04-15 12:49] trumbitta commented on #6877
![using-gitpod-like-a-god](https://user-images.githubusercontent.com/462705/163572665-b957c8d2-baac-429c-b16d-9669eff5786a.gif)

[2022-04-15 12:57] daveshook opened #9351 "Container does not rebuild even with #imagebuild"
### Bug description

When launching a workspace based upon repo `https://github.com/confluentinc/learn-kafka-kraft`, the container never rebuilds. It seems to create the workspace using the existing custom public container defined by `gitpod.Dockerfile`. This is true even when using the `#imagebuild` option.

### Steps to reproduce

Launch the workspace with `https://gitpod.io/#imagebuild/https://

[2022-04-15 13:59] cjensenius commented on #8810
Reporting back, I created silver-mule-tjcnr87nn6f.ws-us40.gitpod.io from a snapshot, made changes and then took another snapshot. Launching from that snapshot created emerald-dove-p320icehvhn.ws-us40.gitpod.io which launched normally with no apparent problems.

Hope it's OK to close?

[2022-04-15 13:59] #8810 closed

[2022-04-15 15:28] Furisto opened #9352 "Improve load testing for clusters"
## Is your feature request related to a problem? Please describe
We need to ensure that new clusters are behaving correctly and are ready to serve traffic.

## Describe the behaviour you'd like
The load testing tool should be extended to
- Verify that started workspaces are entering running state
- The started workspaces should run a variety of workloads (io, memory, cpu) in order to verify that r

[2022-04-15 16:38] sagor999 opened #9353 "observability: add metrics so we can measure frequency and duration of tar backup and restore now (with tar)."

[2022-04-15 18:28] shaal opened #9354 "Issues accessing Fastly endpoints from within docker that runs in Gitpod"
### Bug description

Issues accessing Fastly endpoints from within docker that runs in Gitpod

When running `curl https://www.drupal.org/files/issues/2020-03-30/2759397-25.patch -vvv`, I am getting -
[code]
And then it hangs for a minute, and display
[code]

### Steps to reproduce

* Open any Gitpod workspace (tested in US Gitpod workspace)
* Confirm 10 times that you can run `curl https://www.fas

[2022-04-15 19:53] shaal commented on #7781
@AlexTugarev @jankeromnes Is there any update on this issue? Anything I can do to help?

[2022-04-15 20:02] shaal commented on #9354
@misterfalcon posted this on Gitpod Discord, not sure if it's related or not -
https://discord.com/channels/816244985187008514/839379835662368768/964597530648252476
[code]

[2022-04-15 20:45] motiapp commented on #9354
We think this is a Docker config issue on Gitpod's end relating to DNS resolution. Running `cat /etc/resolv.conf` in the container returns:
**nameserver 127.0.0.11
options ndots:0**

When running on our EC2 instance we get:
**search ec2.internal
nameserver 127.0.0.11
options edns0 trust-ad ndots:0**

From what I've read Docker is supposed to mirror **/etc/resolve.conf** from the host machine to th

[2022-04-15 21:08] aledbf commented on #9354
@motiapp what container are you using to get that output (I cannot reproduce the error)

[2022-04-15 21:17] daveshook commented on #9351
I added a fork to `https://github.com/confluentinc/learn-kafka-kraft`. The fork `https://github.com/daveshook/learn-kafka-kraft` builds correctly but the build of `https://github.com/confluentinc/learn-kafka-kraft` continues to use the existing prebuilt workspace.

I would appreciate some attention to this issue.

[2022-04-15 21:25] daveshook commented on #9351
I also tried to launch the workspace using `https://gitpod.io/#prebuild/https://github.com/confluentinc/learn-kafka-kraft` and it still fails to rebuild the customer container.

[2022-04-15 21:38] atduarte commented on #8784
Noticed there's another older issue with the same proposal: #7733. Will close this one.

[2022-04-15 21:38] #8784 closed

[2022-04-15 21:38] atduarte commented on #7733
From #8784:

[2022-04-15 21:47] motiapp commented on #9354
These are containers we setup in our repo and that get prebuilt and run when the workspace starts up.

[2022-04-15 22:27] sagor999 commented on #7836
I cannot reproduce this anymore. I think we fixed this when we were fixing an issue with OutOfMemory error.
Now when pod cannot be scheduled, ws-manager will delete it and try again.
I did notice a different type of error though:
workspace keep cycling from Stopped to Pending and back.
I think server keeps on trying to start it and there is no circuit breaker?
@geropl @jankeromnes
(to repro add a

[2022-04-15 22:33] atduarte commented on #898
What if 💡 we introduced a `gp subdomain [name]` command that created a stable and namespaced url in a proxy. The url would be namespaced by the team+project when the workspace is from a project, and the workspace owner is a member of that team. Otherwise, the url would be namespace by the user. _Don't think we have a unique "short" string per user, but could easily create it._

For example, if I e

[2022-04-15 22:57] atduarte commented on #8594
@kylos101 Scheduled the issue, after seeing these numbers.

[code]

[2022-04-15 23:21] aledbf commented on #8594
@atduarte the final fix for the issue in kubernetes v1.23.6 is scheduled for [Tuesday 19th](https://groups.google.com/a/kubernetes.io/g/dev/c/TZDoPS2C1IM/m/uzw368HQBQAJ?utm_medium=email&utm_source=footer)

[2022-04-16 00:26] shaal commented on #9354
This problem was partially fixed by https://github.com/gitpod-io/gitpod/pull/9356, now it doesn't happen in Docker.
But project that use `docker-compose`, still have the same issue.

It wasn't like that before today.

[2022-04-16 03:02] motiapp commented on #9354
We also are using `docker-compose`, and still seeing the issue. What makes no sense to me is I can get good responses from all sorts of sites using curl inside the container, except google.

[2022-04-16 05:11] motiapp commented on #9354
Here's a repo you can use to prove the failure I'm seeing:
https://github.com/motiapp/docker-test

[2022-04-16 15:54] shaal commented on #9354
According to @aledbf, this is a side effect of removing slirp4netns https://github.com/gitpod-io/gitpod/pull/8955#issuecomment-1091095660

A fix for docker was implemented yesterday, https://github.com/gitpod-io/gitpod/pull/9356

But it doesn't solve the problem for projects that use `docker-compose`, because docker-compose does not follow the value from dockerd.

A solution/workaround for docker-

[2022-04-16 16:22] motiapp commented on #9354
Excellent! I can confirm the network config works for me.

[2022-04-16 16:47] SimonHaas commented on #8693
same problem.

- Fresh install of k3s
- traefik disabled
- certs obtained via certbot (not cert-manager)
- gitpod.config.yml: containerdRuntimeDir: /run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io
- self hosted gitlab
- gitpod/workspaces is accessible
- error in browser: Error: image build did not produce a workspace image

simon@ubuntu-proxmox:~/projects/gitpod$ kubectl --kubeconfig /etc/

[2022-04-16 17:52] aledbf commented on #9354
Closing. Fixed by #9360 and #9356

@motiapp please open a workspace and run `docker-compose version`
Should return `Docker Compose version v2.4.1.2-gitpod`.

No change is required to the `docker-compose` yaml file.

[2022-04-16 17:52] #9354 closed

[2022-04-16 17:55] aledbf commented on #9346
Closing. The upgrade to 2.4.1 is available in gitpod.io

[2022-04-16 17:55] #9346 closed

[2022-04-16 18:01] motiapp commented on #9354
@aledbf confirmed, thanks!

[2022-04-16 19:09] mashuk999 opened #9364 "Share multiple Terminals in a single workspace"
## Is your feature request related to a problem? Please describe
I am not able to share outputs when working on multiple terminals. Also, when using Run and Debug, It's a huddle to describe what is happening in the code and since we have to use specific port we cannot launch multiple instance on different ports

## Describe the behaviour you'd like
Share/Hide multiple terminals to other developers

[2022-04-16 19:22] shaal commented on #7662
Yes please 😍

[2022-04-16 19:31] shaal commented on #9262
Can #7012 be part of this improvement?
I tried using names and descriptions for ports but couldn't see it in the VSCode interface in the browser
https://github.com/shaal/DrupalPod/blob/port-descriptions/.gitpod.yml#L38

[2022-04-16 20:27] nyurik commented on #7649
Same issue when running on Chrome on Ubuntu using Dvorak keyboard layout.

[code]

[2022-04-16 21:06] ismail709 commented on #4130
Thanks it fixed the issue for me

[2022-04-17 08:20] #7263 closed

[2022-04-17 23:59] axonasif commented on #8076
@jldec this issue is quite common, saw a good number of users experience this and were left clueless. Here's a recent one: [on Discord](https://canary.discord.com/channels/816244985187008514/839379835662368768/965399375834665020)

[2022-04-18 00:42] shaal commented on #9286
Yes please!
Being able to change ports programmatically, after workspace already running would be a great feature!

[2022-04-18 01:20] stephenavocado opened #9369 "Workspace keeps closing for no reason"
### Bug description

About a minute or two after initializing my workspace, the workspace is stopping.

### Steps to reproduce

Open workspace, follow normal steps - enter y to install expo cli, stop expo server, run yarn start --tunnel, which prompts you to install expo/ngrok globally. After the install, the server runs temporarily, then the whole workspace closes.

### Workspace affected

https:

[2022-04-18 02:51] kylos101 commented on #9341
Hey @Furisto , may we ask for your help with this issue when you return to work? Also, you may find this [internal grafana comparison intersting.](https://grafana.gitpod.io/explore?left=%7B%22datasource%22:%22VictoriaMetrics%22,%22queries%22:%5B%7B%22expr%22:%22sum(rate(node_disk_read_bytes_total%7Binstance%3D~%5C%22.%2B38.%2B%5C%22,device%3D~%5C%22md42%7Cmd43%7Cmd44%7Csda%5C%22%7D%5B1h%5D))%20by%

[2022-04-18 03:33] utam0k commented on #8901
We are in the process of investigating. The cause may be in the kernel, which is a bit difficult to investigate.

[2022-04-18 03:34] utam0k commented on #8901
@cristopher-rodrigues Can I ask you to give me the error message?

[2022-04-18 08:06] geropl commented on #7836
That's my line of thinking as well.

Yes, there was an regression introduced ~1,5-2 weeks ago that made this possible again. IDE has an issue for it, but can't find now, will link tomorrow.

Let's close this issue, as the original issue is fixed by now.

One question:

Do you ensure somehow that we're not moving back and forth through ws lifecycle stages? :thinking:

[2022-04-18 08:06] #7836 closed

[2022-04-18 08:37] atduarte commented on #9369
Because of recent abuse we had to temporarily block ngrok, which leads to the workspace being killed. We will revert this action as soon as we close this related issue https://github.com/gitpod-io/gitpod/issues/9341. cc @aledbf @kylos101

[2022-04-18 08:37] #9369 closed

[2022-04-18 08:48] raghur commented on #8901
Just tried this - didn't work.

[code]

[2022-04-18 09:47] princerachit commented on #9280
So far I tried these combinations could not reproduce the issue, in all these cases the submodule was a private module:

1. Push commit to branch b1 and then to branch b2
2. force push commit to b1 and then fresh commit to b2
3. Update submodule in b1 and then a new commit to b2
4. Force push commit updating submodule in b1 and then a new commit to b2

I suspect that these combinations are not wor

[2022-04-18 12:12] atduarte opened #9374 "Add Team and Project to OWI metadata in ws-manager, so we can inspect metrics by customer"
Example use cases:
1. Understand better the performance requirements of certain teams and project, and support research of #8261.
2. Provide context whenever we need to assist a customer.

cc @kylos101

[2022-04-18 12:19] atduarte commented on #9374
@kylos101 added "Project". WDYT?

[2022-04-18 13:21] stephenavocado commented on #9369
Ok thanks!

[2022-04-18 13:48] atduarte opened #9375 "Workspace didn't automatically start after the prebuild finished"
### Bug description

Started a gitpod-io/gitpod workspace, the prebuild was running, waited, but it never moved forward to starting the workspace even though the prebuild had finished.

<img width="983" alt="image" src="https://user-images.githubusercontent.com/666176/163817402-c09352a4-ef04-4923-b3b0-5a1dd38cb1cf.png">

### Steps to reproduce

Unsure.

### Workspace affected

_No response_

### E

[2022-04-18 15:19] kylos101 commented on #9352
Closed in favor of https://github.com/gitpod-io/gitpod/issues/7934

[2022-04-18 15:19] #9352 closed

[2022-04-18 15:55] shaal opened #9376 "New URL syntax for IDE vs. web, allow using ports below 1024"
## Is your feature request related to a problem? Please describe

Ports below 1024 are reserved for Gitpod, so common ports like port 80 and 443 cannot be used.
That creates friction in developer experience, when comparing to local development that doesn't have that limitation.

## Describe the behaviour you'd like

What if the current workspace URL would be reserved for IDE
https://shaal-myprojec

[2022-04-18 15:59] axonasif commented on #9376
Possibly related: https://github.com/gitpod-io/gitpod/issues/459

[2022-04-18 16:07] mustard-mh opened #9377 "Change default directory when SSH to workspace"
## Is your feature request related to a problem? Please describe

Now when we ssh to workspace, default directory is `/home/gitpod`, it's good to change it to `workspace/<repo>` so that it behaves like IDEs started.

We can add `$GITPOD_REPO_ROOT` to `~/.bashrc` to change it

[2022-04-18 16:12] kylos101 commented on #9374
Good clarification, thanks @atduarte !

[2022-04-18 16:39] #6859 closed

[2022-04-18 17:09] cdrini commented on #9311
Ugggh! But the PR that fixed the issue works? Even though there haven't been any changed to gitpod files since then??? https://gitpod.io/#https://github.com/internetarchive/openlibrary/pull/6430

[2022-04-18 18:50] jeanp413 opened #9380 "vscode about dialog don't show insiders label"
After https://github.com/gitpod-io/gitpod/pull/8783/ now `ideAlias` is always `code` for insiders and stable.
We need to look for other ways to differentiate vscode insiders and stable

[2022-04-18 19:24] geropl opened #9383 "GitHub.com: "Cannot read properties of undefined (reading 'id')""
### Bug description

![image](https://user-images.githubusercontent.com/32448529/163863927-6996d23f-293c-4f7d-9939-f7fcd5973954.png)

### Steps to reproduce

Open workspace on context: `https://gitpod.io/#github.com/gitpod-io/gitpod/tree/gpl/6285-edomains`

### Workspace affected

_No response_

### Expected behavior

It should open the workspace

### Example repository

_No response_

### Anythin

[2022-04-18 20:22] jeanp413 commented on #9350
duplicate of https://github.com/gitpod-io/gitpod/issues/5014
@xxkabasakalxx you can workaround it by disabling fingerprinting in `brave://settings/shields`

[2022-04-18 20:22] #9350 closed

[2022-04-18 20:26] xxkabasakalxx commented on #9350
Thank you very much.

[2022-04-18 20:35] CarlosDomingues opened #9386 "Error loading webview: Error: Could not register service workers: SecurityError: The operation is insecure.."
### Bug description

When opening a GitHub repository as a GitPod workspace, the following error is shown continuously: `Error loading webview: Error: Could not register service workers: SecurityError: The operation is insecure.`

Screenshot:

![unknown_001](https://user-images.githubusercontent.com/11181378/163873682-b78d82e7-5ae5-4c26-a13d-940b0d245f58.png)

I'm using:

- Fedora Linux 35
- Firef

[2022-04-18 21:18] aledbf commented on #9383
I also see
![Screenshot from 2022-04-18 14-30-54](https://user-images.githubusercontent.com/161571/163879614-fb0cda30-f2d3-43d8-a7e8-592b5ee181e3.png)

[2022-04-18 22:00] daveshook commented on #5521
Any chance this will be implemented? Having this option would really help me out in a project I am involved with.

[2022-04-18 22:18] david-bakin commented on #9183
This, plus in my case the sub-repo is in Github while the main repo is in Gitlab.  It is acceptable to me to have to do some additional setup outside of Gitpod for this to work.  For example, I suppose some sort of Github/Gitlab action on commit or push could send a message to Gitpod to trigger the prebuild of the main repo.  Maybe there's a way to use the "prebuild" url `gitpod.io/#prebuild/...re

[2022-04-18 23:02] daveshook commented on #9351
Issue has been resolved.

[2022-04-18 23:02] #9351 closed

[2022-04-18 23:15] #9353 closed

[2022-04-18 23:17] sagor999 commented on #9351
@daveshook do you mind posting how you fixed this issue in case if someone else will experience similar?

[2022-04-19 01:20] NotNoah commented on #9383
Also getting this when trying to load a new workspace with a queue'd prebuild

[2022-04-19 02:10] inlann opened #9387 "Will the concrete implementation of the IDE container be an abstract API in Gitpod's architecture?"
Hello:

Came from Gitpod discord community 😄

Last year, my company was trying to find an IDE framework to customize an IDE for the embedded industry. Since our team is full of Javascript engineers, we started out focusing on VS Code, the industry's leading IDE. But when we studied VS Code's source architecture, we found it difficult and inappropriate for a team to develop it collaboratively. Then

[2022-04-19 02:20] #7071 closed

[2022-04-19 02:20] #6724 closed

[2022-04-19 03:24] utam0k opened #9389 "Cgroup v2 with fusefs doesn't work"
### Bug description

Cgroup v2 with fusefs doesn't work. It seems workspace's cgroup doesn't exist.
[code]

### Steps to reproduce

Create the cgroup v2 with fusefs environment and run a workspace.
https://github.com/gitpod-io/workspace-preview/tree/to/fusefs

### Workspace affected

_No response_

### Expected behavior

Works fine

### Example repository

_No response_

### Anything else?

_No re

[2022-04-19 05:16] CompeyDev commented on #9383
Me too, here's my error:
![image](https://user-images.githubusercontent.com/74418041/163924907-b88c4316-cf1b-40b9-974e-cfb1e45f4f03.png)

[2022-04-19 05:17] shaal commented on #9383
I see it when I push a new commit, the prebuild status through projects page seems stuck.
When I open that branch in Gitpod workspace I see that error message like in the screenshot above, when I refresh the page the prebuild starts running.

[2022-04-19 06:02] trumbitta commented on #9383
😢

[2022-04-19 06:55] princerachit commented on #9280
I have moved this to scheduled column as my prebuilds are stuck in pending state. Team webapp is investigating the problem, I will pick it up once the issue is resolved.

[2022-04-19 06:59] princerachit opened #9392 "Prebuilds are stuck in pending state"
### Bug description

Several prebuilds of my project are stuck in pending state.
On investigating I saw their state in database was queued.

I can see that there are 5K+ prebuilds in queued state.

[code]

### Steps to reproduce

Push several branches in your project's repo.
You will see all the prebuilds getting stuck in pending state.

For some branches e.g. main prebuilds might run and succeed.

[2022-04-19 07:02] svenefftinge commented on #9183
It does if you have set up the webhook/GitHub App for the sub-repo.

[2022-04-19 07:03] svenefftinge commented on #9183
What is not working as expected in your case? You need to create two projects in Gitpod one for each repo.

[2022-04-19 07:08] princerachit commented on #9253
@gitpod-io/engineering-webapp based on the findings above by @jimmybrancaccio  do you think this is something that is under your expertise?

[2022-04-19 07:13] jankeromnes commented on #7781
Thanks for the ping @shaal!

@AlexTugarev is the issue status still up-to-date? (I.e. you are assigned, project says "In Progress")
- If you're still actively working on this, how can I help? 😊
- If you don't currently have time for this, could you please un-assign yourself, and reset the project status to "Scheduled", so that someone else can pick this up? 🙏

[2022-04-19 07:18] fredrikhgrelland commented on #8942
Hi @kylos101,

Unless you are running the `command` steps during a prebuild, I am not. See [this line](https://github.com/fredrikhgrelland/gitpod-public-sandbox/blob/main/.gitpod.yml#L8)

[code]

[2022-04-19 07:22] fredrikhgrelland commented on #8942
@geropl

Is there any more steps I can take in order to debug a potential supervisor/workspace-issue?
Before easter I was chasing a containerd isse that looked like it fit the bill, but am currently a bit stuck. https://github.com/containerd/containerd/issues/6402

[2022-04-19 07:27] geropl commented on #8942
@fredrikhgrelland What version of containerd are you on? :thinking:

[2022-04-19 07:41] akosyakov opened #9393 "Server is leaking streams to supervisor terminal."
### Bug description

It is a follow up: https://github.com/gitpod-io/gitpod/pull/9331 Apparently server leaks clients which stops reading and never close leading to stale prebuilds.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-04-19 07:49] fredrikhgrelland commented on #8942
@geropl I am running `containerd github.com/containerd/containerd v1.5.8 1e5ef943eb76627a6d3b6de8cd1ef6537f393a71`
This comes from the ami provided in the eks-guide https://github.com/gitpod-io/gitpod-eks-guide.
My plan was to update the build with a newer binary, but I am currently unsuccessful to build an ami with the code here: https://github.com/gitpod-io/gitpod-eks-guide/tree/main/ami because

[2022-04-19 08:08] csweichel commented on #898
Stable URLs is a repeated request, either generated (your proposal), or even manually set. Two key issues with stable URLs remain:
- they are an exclusive resource, hence cannot be re-used across multiple workspaces on the same context (whichever determines the stable URL)
- proxying off a central place introduces a new dependency between application and workspace clusters which comes at the expen

[2022-04-19 08:09] svenefftinge opened #9394 "Workspace Start Randomly Fails"
### Bug description

Starting a workspace on gitpod-io/gitpod randomly fails.
I started it and noticed that it turned into stopping on after start. Didn't see any errors on the UI.
Restarting it gave me the "no backup" error.

Starting another fresh workspace succeeded without problems.

Here are the logs for the first start:
https://cloudlogging.app.goo.gl/9NpHpMmpLnrDXiYW7

### Steps to reproduc

[2022-04-19 08:24] MrSimonEmms commented on #8795
Possible duplicate of #7264

[2022-04-19 08:31] svenefftinge commented on #9392
While the reported issue seem to have been caused by an db-sync problem, I see ~6k queued entries without the date filters. Some of them from 2019.

[2022-04-19 08:33] jankeromnes commented on #9383
Sorry about this new bug folks.

We believe this might have been a side effect of https://www.gitpodstatus.com/incidents/cpr3xxsw7dl6

However, let's still investigate it further, to make sure we're not missing any unrelated/new problems.

[2022-04-19 09:11] jankeromnes commented on #9383
Side note: The other mentioned error might be unrelated:

[code]

Looking at [HoneyComb](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/wXnruEsyRCv/trace/qGYmdpdj5ra?span=17720c478bfb1016) (internal), it looks like this can happen in `WorkspaceFactory.createForCommit`, specifically when storing a new Workspace:

https://github.com/gitpod-io/gitpod/blob/2f0b9462b0451f0974434fa36bd

[2022-04-19 09:22] princerachit commented on #9392
I am closing this issue as the related incident has been resolved. @svenefftinge maybe we can check with @gitpod-io/engineering-webapp  team about those entries and create a separate issue if required.

[2022-04-19 09:22] #9392 closed

[2022-04-19 09:28] svenefftinge opened #9395 "Prebuilds are stuck in 'queued'"
### Bug description

The DB contains +6k entries of prebuilds in 'queued' state. Would be good to understand what happens, clean things up and prevent these from being created further.

#### Updating prebuilt.state on failed prebuild start
During [this incident](https://www.gitpodstatus.com/incidents/cpr3xxsw7dl6) we discovered that there seems to be an ongoing issue with updating state for prebui

[2022-04-19 09:29] svenefftinge commented on #9392
ok done https://github.com/gitpod-io/gitpod/issues/9395

[2022-04-19 09:29] konne commented on #898
@csweichel one question, can this not be done via DNS aliases.
In general I expect a refresh period of 5mins would be for both sides acceptable.

[2022-04-19 09:31] geropl commented on #9392
@svenefftinge Ok you were faster. Copying over to #9395 s description.

[2022-04-19 10:07] jankeromnes commented on #9383
Regarding the original error:

[code]

When searching for occurrences in our logs, it looks like it might have stopped happening over an hour ago -- around the time we resolved the incident by deploying WebApp:

<img width="838" alt="Screenshot 2022-04-19 at 12 06 24" src="https://user-images.githubusercontent.com/599268/163980902-c6e34e90-2ab9-41e8-ab9d-9b1531b49a39.png">

[2022-04-19 10:22] svenefftinge commented on #9383
I wonder why those errors are logged without a stacktrace and with `info` severity.

[2022-04-19 10:32] csweichel commented on #9023
Just experienced the very same behaviour:

https://www.loom.com/share/9d00c982c7824e7c97b3c815a2b80c61

The workspace pod just logged:
[code]

[2022-04-19 10:38] tidley commented on #4130
Setting to 1 works better for me. Thanks

[2022-04-19 10:42] eran-or commented on #7458
It happened to me too on mac 2013. After some tries, I opened the log and tried again: 1. open the workspace on the browser , from there click on on open with vscode and then look on the log file (which was a good decision to make). Then the  log says trying to fetch url...
I clicked the url and it downloaded gitpod-local... file and then it asked for ssh permissions tnat it didn't asked before an

[2022-04-19 11:40] dragonDScript commented on #7057
don't stale

[2022-04-19 11:56] meysholdt commented on #5534
This issue was in the inbox of the platform team for some reason. However, there is not much the platform team can do here. Much rather
* the workspace team would need to set up a cluster in the desired region
* also, on the WebApp side newly starting workspaces would need to be routed to the new cluster based on latency. Not sure if this falls into the area of team workspace or team WebApp.

I'm

[2022-04-19 12:20] akosyakov commented on #9282
@akosyakov to extract an issue about a new component to collect prometheus metrics from workspaces.

[2022-04-19 12:24] svenefftinge opened #9399 "[server] QueryFailedError: ER_DATA_TOO_LONG: Data too long for column 'id'"
Some workspaces don't start, failing with the error in the title.
Originally filed [here](https://github.com/gitpod-io/gitpod/issues/9383#issuecomment-1102357103).

[2022-04-19 12:27] akosyakov commented on #7986
@iQQBot Could you file an issue for it and cc Chris please?

[2022-04-19 12:29] geropl commented on #9383
Closing as this resolved after fixing our DB issues (cmp. [comment above](https://github.com/gitpod-io/gitpod/issues/9383#issuecomment-1102446816)).

[2022-04-19 12:29] #9383 closed

[2022-04-19 13:06] matthijs-relay opened #9401 "Workspace randomly stopped while actively coding"
### Bug description

I was coding actively in a workspace for a while (through VS Code desktop). Then I briefly switched to a browser window (couldn't have been more than 5 minutes). When switching back to the VS Code window, the workspace seemed to have timed out for no good reason. Checked in the dashboard and it was in the "Stopping" state.

### Steps to reproduce

(not consistently reproducibl

[2022-04-19 13:22] svenefftinge commented on #9399
This would only happen for bad repo names without any latin characters in them (the cases were `---------`).

[2022-04-19 14:02] axonasif commented on #9401
Hey @matthijscollabai, can you grab your console logs when that happens again and email them to contact@gitpod.io with this issue as a reference 🙏 ?

[2022-04-19 14:20] #9341 closed

[2022-04-19 14:45] #6285 closed, assigned to geropl

[2022-04-19 15:26] jankeromnes commented on #6877
Looks good to me @geropl! ✅

![you shall not pass](https://user-images.githubusercontent.com/599268/164039317-9c9a397b-05e5-4311-a431-97b11a9d94e4.png)

[2022-04-19 15:58] geropl commented on #7597
@jldec Once you're back: can you look into splitting this up in follow ups? :pray:

[2022-04-19 16:20] axonasif commented on #5521
Hey @daveshook and @chuck-alt-delete you guys can also take a look at these in the meanwhile:
https://discord.com/channels/816244985187008514/905926786339188746/935549185485328404
https://discord.com/channels/816244985187008514/945099895763779635/945220962289332294

[2022-04-19 16:23] axonasif commented on #9386
Hey @CarlosDomingues, can you try in firefox safe mode?
https://support.mozilla.org/en-US/kb/diagnose-firefox-issues-using-troubleshoot-mode

[2022-04-19 16:28] kylos101 opened #9406 "Disk IO is not limited"
### Bug description

We tried to limit [here](https://github.com/gitpod-io/gitpod/issues/9341), in `ws-daemon`, but it is not currently working.

### Steps to reproduce

Run a workload that demands fast read or write, you'll get speeds in excess of 300Mi!

### Workspace affected

n/a

### Expected behavior

Your workloads should have disk IO limited, to some extent, so that the node and other work

[2022-04-19 16:37] jimmybrancaccio commented on #9253
Hey @jankeromnes! The URL looks like:

[code]

So it seems to be a bit different, and perhaps this is the cause? My GitHub Enterprise version is 3.4.1.

[2022-04-19 16:50] kylos101 opened #9407 "Why did fixing CPU limit annotation break CPU limiting with cgroup v2?"
### Bug description

We broke the gitpod.io/cpuLimit annotation when we introduced cpu limiting. We then broke cpu limiting [in this PR](https://github.com/gitpod-io/gitpod/pull/8459). As a result, many workspaces were trying to use 6 cores at the same time, and this resulted in a poor experience for users.

The intent of this issue is to:
1. Examine what [in this PR](https://github.com/gitpod-io/

[2022-04-19 16:57] Milo123459 commented on #9329
Related: #9136

[2022-04-19 17:33] jimmybrancaccio commented on #9253
I just did a little more work and determined things work fine on `release-2022.02.0.1` in combination with my GitHub Enterprise instance (thankful I have a secondary instance!).

[code]

So it looks like 9d4c6f2 may have broken things?

Ok, didn't submit comment cause I wanted to test more, so here's the outcome of testing more...

I change the image being used for the server component to to `eu.g

[2022-04-19 18:46] geropl opened #9408 "Pattern match email domains for blocking abusers"
Currently we're only able to blacklist complete email domains, but seeing abusers using subdomains to circumvent this.
We should be able to pattern match domain suffixes.

[2022-04-19 19:29] geropl commented on #9209
Thank you @ibrah3m and @david-bakin for sharing.

Do I understand correctly that you're using the multi-repo feature to emulate ".gitpod.yml injection" of sorts?
Are you aware of [definitely-gp](https://github.com/gitpod-io/definitely-gp)? We're going to deprecate it (because it's badly structured, and has maintenance issues), but I mentioned it here because it sounds like a similar use-case: shar

[2022-04-19 19:42] ibrah3m commented on #9209
it's kinda similar  but not exactly the same , I think in that case they need to pass 2 arguments #1 is the Gitpod.yml #2 the repo

this my face lack of resources in case they need shell script / custom docker image

were in my case you have 2 repos , you can put everything and after the prebuild the origin of the git will be replaced automatically to the targeted project
hope that's explain every

[2022-04-19 19:58] gtsiolis commented on #7613
Closing this as the first iteration of the new alert component was added in https://github.com/gitpod-io/gitpod/pull/8783. Thanks, @mustard-mh!

[2022-04-19 19:58] #7613 closed

[2022-04-19 19:58] geropl opened #9410 "Max. parallel workspace limit is not correctly enforced"
We initialize new instances with `phase: "unknown"` [here](https://github.com/gitpod-io/gitpod/blob/ed30d9696fd1c0ca5775a2d44d6b4a9e5709ba63/components/server/src/workspace/workspace-starter.ts#L690). When enforcing the max parallel workspace limit we filter that phase out, because we do not want to block people whose workspaces are stuck on nodes that got lost due to a data center went down.

We

[2022-04-19 20:13] gtsiolis opened #9411 "Migrate AlertBox components to the new Alert component"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/8783, we've added the next iteration of the alert component which introduces component variants for using the alert component for informing users, alerting users, etc.

Currently, there're two more `Alert`-like components which include `InfoBox` and `AlertBox`, see example screenshots below.

| Component: InfoBox | Component: A

[2022-04-19 20:47] unix-system opened #9412 "Create a OIDC Provider for Vault JWT access on each Pod"
## Is your feature request related to a problem? Please describe
If I host GitPod Self-Hosted, I want to have strong credential-less authentication that hooks into my Vault provider. Currently the only way to authenticate is to store some secret or environment variable and paste that into GitPod.

Likewise, if I wanted a higher security setup I could make it so the only way to access my developmen

[2022-04-19 20:51] #9020 closed

[2022-04-19 21:24] #9389 closed

[2022-04-19 22:40] david-bakin commented on #9183
@svenefftinge - I was confused - my take should actually be a separate issue.

My situation is that the main repository (on Gitlab) names the `additionalRepository` (over in Github) but _not vice versa_!  In fact, the "additionalRepository" doesn't even have a `.gitpod.yml`.  (So obviously it can't point back.)  Basically in my use case what I need to happen is that a commit/push/PR in the "additi

[2022-04-19 22:49] david-bakin commented on #9209
@geropl - yes, injection of `.gitpod.yml` and also `.gitpod.Dockerfile`.  It _is_ kind of like definitely-gp - except I'm not sure how you're expected to use those thing.  Maintain them separately but copy them into your forked repo?

Here, by the way, is my main repo that I'm currently doing this with: https://gitlab.com/bakins-bits/gitpod-setup-for-bitcoin-core-dev

Works great!  Except I can't

[2022-04-19 23:11] sagor999 opened #9413 "[kubecdl] doesn't handle a case if context already exists"
### Bug description

kubecdl doesn't handle  the case if context already exists

### Steps to reproduce

run kubecdl for the same cluster twice

### Workspace affected

_No response_

### Expected behavior

it should warn that context exists and maybe offer to overwrite it

### Example repository

_No response_

### Anything else?

_No response_

[2022-04-19 23:39] mteam88 commented on #9364
Good idea. This might be a part of a better workspace sharing UI and feature addition PR. +1

[2022-04-19 23:40] mteam88 commented on #9025
Really like this! Great idea!

[2022-04-19 23:47] mteam88 opened #9414 "Feature Request: Ability to add existing workspaces to projects"
## Describe the behaviour you'd like
In the projects page of gitpod.io (`gitpod.io/projects`) When selecting the hamburger (three dots) menu, have an option to add an existing workspace to that project (something like "Add an existing workspace.")

It may also be nice to add a way to add a workspace to a project from `gitpod.io/workspaces`

## Describe alternatives you've considered
It is currentl

[2022-04-19 23:49] david-bakin commented on #9171
(Mildly off topic:) Is it guaranteed that user `gitpod` will have id `33333`?

[2022-04-19 23:51] david-bakin commented on #5684
**PLUS:** Check that the digest of the base image is the same to use the cached version.

(I am seeing behavior where I don't think that's the case: My base image has a tag `:latest` but even if it changes the image (sometimes?) isn't rebuilt.

[2022-04-20 02:29] CarlosDomingues commented on #9386
That works. Also, I cannot reproduce the issue again by turning Troubleshoot Mode off. Likely some weird interaction with an extension. Will close this issue. Thanks for the help!

[2022-04-20 02:29] #9386 closed

[2022-04-20 03:31] utam0k commented on #8901
@purkhusid @silveredgold @yellowsink @cristopher-rodrigues @murratore @raghur cc: @pawlean
I was on a journey to find a workaround for a little while. Thank you for your patience.
First of all, this problem involves shiftfs[^1][^2](Thanks for sharing these, @aledbf); it worked fine with `fuse-overlayfs`, unfortunately, the users can't select the filesystem now. And changes to the linux kernel are

[2022-04-20 04:44] princerachit commented on #9253
Thanks for taking a look @jankeromnes , I am removing this from workspace team's inbox

[2022-04-20 05:28] kunxin-chor commented on #8910
Hi this works for me, thanks.

[2022-04-20 05:28] #8910 closed

[2022-04-20 05:42] princerachit commented on #7934
@kylos101 you recommended using the alternative option first rather than the actual proposal. Would it make sense to split this into 2 issues?

[2022-04-20 05:44] kylos101 commented on #7934
The options I listed are under alternatives section are:
1. using custom images
2. adding new cmd to loadgen

For now, I think we need to see the value from a simple solution, and then determine next steps. No sense in planning a second issue if we lack the results and learnings from the first.

[2022-04-20 05:51] kylos101 commented on #8671
This is no longer relevant. Why? We're switching to use PVCs, and we've added metrics to help measure content restore and content backup.

[2022-04-20 06:41] vijaykanwar commented on #157
Hi @svenefftinge

I am facing that issue. We are using connect-modrewrite npm package to create the proxy. But it's not working for gitpod vs code. i am able to run that local host but proxy of url not working. Below code. we are using gulp. here we are running the main solution on 8282 port and when in the url contains "/vijaykanwar/" , it's call other solution which is running on 8181. port both

[2022-04-20 06:43] svenefftinge commented on #9183
I have no idea how we could possibly support this. You would at least need to be able to install a webhook / GH app on that repo, otherwise, Gitpod doesn't get notified on new pushes.

[2022-04-20 06:52] #9408 closed

[2022-04-20 08:36] easyCZ commented on #8596
Using prior work to detect stale events, we can inspect if stale events are a problem for WorkspaceInstance updates also. In practice, we haven't observed stale event updates for prebuilds. The code-flow is as follows:

1. Receive a workspace instance update
2. Process it, and re-map to a db-record so that we can communicate the WorkspaceInstance status
3. Invoke a controller loop for prebuilds. I

[2022-04-20 09:09] Furisto commented on #93
Hey @jankeromnes, currently we do not show any tips anymore. @julia-leyton and I were just discussing how she is creating a FAQ and we are thinking about displaying it during the splash screen. Can you give us some context on why this feature has been removed?

[2022-04-20 09:17] ArthurSens opened #9419 "Remote-explorer opens localhost instead of `gp url`"
When opening a new port with remote-explorer I get redirected to localhost

https://www.loom.com/share/b3d4dd4758ae40f0a56580967d79e1e4

I'm not using VS Code insiders!

[2022-04-20 09:45] atduarte commented on #9276
Since IO limits were not working, do we still believe content-init and backups IO was throttled?

[2022-04-20 11:59] Furisto opened #9423 "Make better use of the splash screen"
## Is your feature request related to a problem? Please describe
We previously had [productivity tips](https://github.com/gitpod-io/gitpod/issues/93) during the splash screen, but they got removed during the [redesign](https://github.com/gitpod-io/gitpod/issues/93#issuecomment-1103699317). We should consider adding these back and adding even more useful information.

## Describe the behaviour you'

[2022-04-20 12:55] mteam88 commented on #9423
I really like these:
Solutions to commonly asked questions
Productivity tricks and tips

It is common on other platforms and wouldn't take much work to implement.

[2022-04-20 12:56] ThePaulMcBride commented on #8623
When working on local VSCode the `workspaceLocation` option doesn't seem to do anything. I have to navigate to the file described and then it prompts me to reload the workspace.

[2022-04-20 13:00] jenting commented on #8800
[Failed E2E test cases](https://werft.gitpod-dev.com/job/gitpod-custom-main.63)
- [ ]  TestBaseImageBuild
- [ ]  TestParallelBaseImageBuild
- [ ]  TestRegularWorkspaceTasks

[2022-04-20 13:17] jankeromnes commented on #9253
@jimmybrancaccio I don't believe that commit broke things, because it replaced an older format that also looks different from yours:

[code]

In your case, it looks like your GitHub Enterprise uses a Raw URL format that is similar to what `github.com` uses today. I wonder if the correct solution is to maybe always use the `github.com` format, even for GitHub Enterprise (assuming that all modern Gi

[2022-04-20 13:36] julia-leyton commented on #9423
This is a great idea Thomas! Could benefit a lot of users that are not aware of some feature or small tip that can help them make the most of Gitpod 🚀

[2022-04-20 13:52] cristopher-rodrigues commented on #8901
This worked for me! Thanks a lot! 🙏

[2022-04-20 14:41] akosyakov opened #9431 "[code-desktop] Implement `Gitpod: Collect Logs` comand"
It would be really helpful to implement a `Gitpod: Collect Logs` command so users can easily collect logs and shared them with us when they encounter some issue

This command should collect server and client logs and zip them in archive of a format `ws-${instance_id}-vscode-desktop-logs.zip`

[2022-04-20 14:57] meysholdt commented on #7864
Hi @tnir!

thank you for bringing up the question and apologies for the late response. The sentence you quoted actually reads slightly different (note the "if"):

I didn't look at your contribution, but I assume you do own the copyright of the entire work of authorship you submitted. If that is true, the instructions from http://www.gitpod.io/cla do not apply.

As Mads said, http://www.gitpod.io/c

[2022-04-20 15:20] svenefftinge commented on #8703
Regarding #9130 the [logs](https://cloudlogging.app.goo.gl/XMh1iCjHywKqpwpr8) show that the region and the server location seem to match, so probably not a db-sync issue.

[2022-04-20 15:30] #9174 closed

[2022-04-20 15:31] devops-at-alinea commented on #898
I was doing this via https://ngrok.com/.

I had a number of domains e.g mysite1.eu.ngrok.io, mysite2.eu.ngrok.io etc setup in ngrok.
These were also set in gitpod as variables e.g NGROK_DOMAIN =mysite1.eu.ngrok.io as was the NGROK_AUTH_TOKEN.

My .gitpod.yml had this in it:

[code]

This used to work very well - but now something has changed in gitpod and whenever I run ngrok the workspace just cl

[2022-04-20 15:44] geropl commented on #8703
I looked at a single failing case, starting from the log message ["jsonrpc2: protocol error: reconnecting-ws: bad handshake: code 401"](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-04-20T15:35:30.831976036Z;query=%22protocol%20error:%20reconnecting-ws:%20bad%20handshake:%20code%20401%22%0A-%22prebuild%22%0Aresource.labels.container_name%3D%22workspace%22%0Atimestamp%3D%222022-0

[2022-04-20 15:59] mustard-mh opened #9433 "Property aware users that they can choose IDEs with onboarding dashboard"
Property aware users that they can choose IDEs with onboarding dashboard

Further opinion: Display recommended template project after they choose some IDE in this page (i.e Goland => template-golang-cli)

It's a IDE feature in our [workshop](https://www.notion.so/gitpod/IDE-Discovery-Increase-awareness-of-desktop-and-JetBrains-IDE-features-to-new-and-returning-users-c98914780b394101bde0fa4be4842de

[2022-04-20 16:03] mustard-mh commented on #9433
As a part of https://github.com/gitpod-io/gitpod/issues/6707

[2022-04-20 16:07] mustard-mh commented on #9433
We may need to discuss the UX and text content about IDE select (see Description Image **After (onboarding)**)

cc @gtsiolis @loujaybee

[2022-04-20 16:32] jimmybrancaccio commented on #9253
@jankeromnes It's definitely possible that _isn't_ the commit that broke things, I'm kind of guessing here / throwing things out hah.

I do have subdomain isolation enabled in my GitHub Enterprise instance.

<img width="792" alt="github-enterprise-settings-1" src="https://user-images.githubusercontent.com/405585/164278923-50d0ffd8-2c56-4012-b558-c162cd98d5e9.png">

<img width="464" alt="github-ent

[2022-04-20 16:54] mustard-mh opened #9434 "Open workspace with custom IDE via URL"
Open workspace with custom IDE via URL. related PR https://github.com/gitpod-io/browser-extension/pull/59#discussion_r853098135

[2022-04-20 16:56] mustard-mh commented on #7525
close, will continue with this issue https://github.com/gitpod-io/gitpod/issues/9434

[2022-04-20 17:35] jankeromnes opened #9435 "Broken Gitpod button position in browser extension"
### Bug description

Seems like GitHub changed their CSS again, causing the Gitpod button to be misplaced:

| Empty repository: broken padding | Specific file: button is now below file |
| --- | --- |
| <img width="1439" alt="Screenshot 2022-04-20 at 19 31 33" src="https://user-images.githubusercontent.com/599268/164289399-0a3a7a5f-bc10-4458-92cc-34b87b53fd64.png"> | <img width="1436" alt="Screens

[2022-04-20 19:11] kylos101 commented on #8703
I see that @sagor999 is looking at this now, he's definitely the right person. :+1: Do you think we're emitting status many times, while exponentially backing off, and that is causing this behavior?

[2022-04-20 19:45] sagor999 commented on #8703
I think this might be due to retry logic. :thinking:
Reason for thinking so:
In logs provided, I see few updates with this message: `pod is pending`
When pod is pending and cannot get scheduled within 5 seconds, ws-manager will delete that pod and try to create a new one.
When it deletes the pod, it also removes the finalizer first.
If at the same time call is made to `extractStatusFromPod`:
https

[2022-04-20 19:51] csweichel commented on #8703
We could add an annotation when we create the pod and remove it once we're out of the retry logic. This annotation would inform the status updates we send out from ws-manager.

[2022-04-20 19:52] sagor999 commented on #8703
That's what I was thinking as well ^ @csweichel
I think it is fairly safe, with only exception is that if for some reason we fail to update the pod to remove that annotation after. But I guess we be very loud about that error if it happens.

[2022-04-20 21:37] SimpleSimpleAds opened #9439 "Port 8080 is no longer starting"
### Bug description

about a week ago port 8080 was no longer enabling.

### Steps to reproduce

start the workspace. ports no longer enable.

### Workspace affected

copper-chickadee-n8b9ub9u.ws-us34

### Expected behavior

ports enable when the workspace starts up

### Example repository

_No response_

### Anything else?

_No response_

[2022-04-20 21:39] gtsiolis commented on #8963
Closing this as duplicate of https://github.com/gitpod-io/gitpod/issues/9435 which seems to include screenshots with more use cases.

Thanks, @Cahllagerfeld! Cc @jankeromnes

[2022-04-20 21:39] #8963 closed

[2022-04-20 21:46] kylos101 commented on #8800
Hi @jenting I triggered an image build in this PR's preview envirionment with [this URL](https://jenting-fi2f9fc7a4ea.staging.gitpod-dev.com/#imagebuild/https://github.com/gitpod-io/template-python-flask), and it works. Here is [the related workspace](https://gitpodio-templatepython-qvs594h0tyt.ws-dev.jenting-fi2f9fc7a4ea.staging.gitpod-dev.com/) that I started. :+1: Cool!

These two tests pass wh

[2022-04-20 21:55] kylos101 commented on #9276
Closing this. [[1](https://github.com/gitpod-io/gitpod/issues/9276#issuecomment-1099201642)]

Plus, we're actively working on IO limiting [here](https://github.com/gitpod-io/gitpod/issues/9406).

[2022-04-20 21:55] #9276 closed

[2022-04-20 23:40] jenting commented on #8800
Yes, I believe it would pass with `werft` because `werft` uses the same secret in the testing namespace.

I'll start to debug the test case `TestRegularWorkspaceTasks` failed. The failure message is different from the above two test cases.

[2022-04-20 23:57] david-bakin commented on #9183
Looking more into the Gitpod issues list, seems like this is dependent on the "public api", assuming I understand it correctly, which will allow for triggering prebuilds.  I _can_ install a webhook on that repo, BTW, since it is a _fork_, but I don't want to pollute that fork with committed `.gitpod*` files.  So I'm using the multi-repo setup to inject them (essentially).

[2022-04-21 00:22] kylos101 commented on #9406
Initial solve for this was done in https://github.com/gitpod-io/gitpod/pull/9440, we are currently monitoring.

[2022-04-21 00:22] sagor999 opened #9442 "add support for restoring workspace from backup that was stored in GCS when using PVC"
This will allow smooth transition from non PVC approach to PVC approach.
Implement this by injecting a layer in registry facade that would download and untar backup.

[2022-04-21 01:47] #6186 closed

[2022-04-21 01:47] #7431 closed

[2022-04-21 02:39] utam0k commented on #8901
I updated the template repository for prebuild.
https://github.com/gitpod-io/template-dotnet-core-cli-csharp/compare/master...to/shiftfs

[2022-04-21 02:58] utam0k commented on #9407
@kylos101 Maybe #8459 is wrong? Does `this revert` point https://github.com/gitpod-io/gitpod/pull/9382?

[2022-04-21 05:21] wo3hap opened #9444 "Cannot create workspace on self-hosted instance"
### Bug description

Hello, I am trying to deploy Gitpod in [K3S](https://k3s.io/) on my own server. After a million times of tries (the installation is kind of confusing for me) I successfully have it deployed and accessible on port 80 and 443. I have added an integration which links to my **self-hosted** Gitlab, just the same as what I have done on [gitpod.io](https://gitpod.io). No authenticaio

[2022-04-21 05:42] akosyakov commented on #9434
A new prefix parser like `#editor:$editor(:$version)?` could work, not sure whether it can collide with env var prefix parser though. $editor should be alias from ide config map like code, intellij, and $version is stable or latest, by default stable.

[2022-04-21 06:39] geropl commented on #8274
This might be more common with an upcoming workspace PR (#9438 ), so we should prioritize this.

[2022-04-21 06:43] svenefftinge commented on #9439
Can you share an example repository or workspace snapshot to reproduce this?

[2022-04-21 06:49] svenefftinge commented on #9433
Wouldn't it be good to ask users what IDE they want to use per project? I'm thinking of asking them in the startup flow, before starting the workspace with an option to "never ask again for project xxx/yyy" which is the enabled by default.
Then in the settings, we could provide means to manage this as well, in case you want to be asked again later.

[2022-04-21 07:13] mustard-mh commented on #9434
will add something like `via`, i.e `goland:latest:browser-extension`, for track

[2022-04-21 07:17] utam0k commented on #9407
Hi, @csweichel. I'd like to confirm for you that `fixedLimiter` of CPU limit isn't implemented, right? Do you remember them?
This feels unimplemented to me, is that correct?
https://github.com/gitpod-io/gitpod/pull/8036/files#diff-49497202e6fb01e6a2d9fe29e32980d3c4f25dcdacfffd9b41e6447895ed27a5R213

[2022-04-21 07:45] #8359 closed

[2022-04-21 07:59] princerachit commented on #9280
# Reproducing the Error

I was able to reproduce this issue using incremental prebuild. Refer to the prebuild [url here](https://gitpod.io/projects/pub/52173a12-4887-40b7-8f07-c83ddfc4fb76) and [logs](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-04-21T07:31:27Z;query=%22009358d..0e84fa7%22%0Atimestamp%3D%222022-04-21T07:31:27Z%22%0AinsertId%3D%22dw91ites6d31t5ng%22;timeRange=PT

[2022-04-21 08:36] gengjiawen commented on #6576
Any progress on bring Clion ?

[2022-04-21 08:37] csweichel commented on #9407
@utam0k I'm not sure I follow. `fixedLimiter` is implemented [here](https://github.com/gitpod-io/gitpod/pull/8036/files#diff-49497202e6fb01e6a2d9fe29e32980d3c4f25dcdacfffd9b41e6447895ed27a5R221-R223).

[2022-04-21 08:38] lucasvaltl commented on #8703
fwiw, I also just ran into this issue within this workspace: https://gitpodio-website-kfjstnnof79.ws-eu34.gitpod.io/

My IDE theme is still dark though, contrary to what was said in the original issue description:

[2022-04-21 08:48] jankeromnes opened #9451 "Outdated default workspace image"
### Bug description

When opening a new Gitpod workspace for a repository that does not specify a custom image, we seem to be getting an outdated `gitpod/workspace-full` image.

For example, we get this `rustc` version out-of-the-box:

[code]

However, looking at the Rust chunk in Gitpod's default image, we see that:
- The version [was upgraded](https://github.com/gitpod-io/workspace-images/commit

[2022-04-21 08:52] devops-at-alinea opened #9452 "Running ngrok autocloses workspace"
### Bug description

I have been running [ngrok](https://ngrok.com) to provide stable urls for webhooks and callbacks.

This has been working for a long time, now suddenly when ngrok is run the workspace auto closes.

[Support stable URLs for endpoints](https://github.com/gitpod-io/gitpod/issues/898#issuecomment-1104071019)

### Steps to reproduce

Create a new workspace: https://gitpod.io/#https:

[2022-04-21 09:45] atduarte commented on #9452
Hi @devops-at-alinea. I'm sorry we broke your experience. Given abuse and IO limiting issues, we had to temporarily block ngrok.

[2022-04-21 10:43] princerachit commented on #9280
## Cause
I am not exactly sure of the reason of this failure, I will add logs and try to reproduce this in development env.
Right now my hypothesis is that since the `git fetch` is run in ring2 and `git submodule --init` is run in ring3, the submodule has a different user as owner or something on similar lines which causes subsequent git fetch to fail during incremental prebuild.

[2022-04-21 11:09] meysholdt commented on #8999
upgrade successful :)

[2022-04-21 11:09] #8999 closed

[2022-04-21 11:29] loujaybee opened #9454 "Update copy text on the JetBrains connection window"
It's not entirely clear what this connection window is for. We should update the copy text to make it more clear that the user can collapse it to the menu bar, and that they can return to JetBrains Gateway from this connection window. And provide some additional context for the links to the context/source control.

![image](https://user-images.githubusercontent.com/5528307/164448319-97a44dd0-c1bc-

[2022-04-21 11:44] svenefftinge commented on #9414
Understandably this is annoying if you get very attached to your workspace. It would however, need a change in how we model the association between workspaces. What you can do, though is take a snapshot of your beloved workspace and open that one. It should be associated with the project automatically. Removing it from the inbox for now.

[2022-04-21 11:50] mteam88 commented on #9414
@svenefftinge Thanks for replying, good workaround. The functionality though would be nice for all sorts of project related functions: adding, removing workspaces, multi-workspace environments etc.
It's a change that will make other changes easier...

[2022-04-21 12:05] shaal commented on #7719
Is there any update on this issue?

[2022-04-21 12:20] sagor999 commented on #7719
This is superseded by this epic: https://github.com/gitpod-io/gitpod/issues/7901
@atduarte should this one be closed now?

[2022-04-21 12:22] svenefftinge commented on #9395
I noticed that the `stoppingTime`s are always around the same seconds and happen in chunks at the same time. So probably some clean-up mechanism. 👀

[2022-04-21 12:28] atduarte commented on #7719
I though full workspace backup was out of scope for #7901 [[1](https://www.notion.so/gitpod/Using-PVC-Snapshots-for-workspace-storage-management-fd932e28a549409581c21d6f0a7953c8#869fb3486c004d1192b70692b5fc490b)] and that the PVC would only contain the `/workspace` folder 🤔

If #7901 solves this, I would leave this open as a issue but reference the durability epic.

[2022-04-21 12:32] sagor999 commented on #7719
@atduarte you are right, it is indeed out of scope for that epic. I got confused a bit here. :sweat_smile:

[2022-04-21 12:56] buggtb commented on #8704
I've been seeing some issues, but mine are a little different. My performance is okay because I stuck in a sed line to my dotfiles to fix it :) :

[code]

but I do have issues on occasion with key strokes just bring dropped which is increadibly irritating when you're having to go back and retype stuff extra slow to make it work. It doesn't have to have a high ping number or anything, it was happen

[2022-04-21 12:56] #9041 closed

[2022-04-21 12:56] #9180 closed

[2022-04-21 13:09] geropl opened #9456 "Handle abuse more transparently"
Currently we have the ability to a) automatically or b) manually block individual abusers whenever we notice abusive behavior. We're keeping track of a) using logs and b) using an internal Slack channel. Once an abuser is blocked, they are redirected to a page saying "you are blocked".

It would help tremendously to be able to communicate a "reason" to a user. For instance: "network scanning", "mi

[2022-04-21 14:20] jankeromnes opened #9461 "Optimization: Map GitHub API repositories during pagination, not after"
### Bug description

[Follow-up](https://github.com/gitpod-io/gitpod/pull/9231#discussion_r855194231) from https://github.com/gitpod-io/gitpod/pull/9231:

...

Relevant code:

https://github.com/gitpod-io/gitpod/blob/d1bb3bd096a8418d90186e42227a506372e97cf3/components/server/ee/src/prebuilds/github-service.ts#L30-L45

### Steps to reproduce

1. ?

### Workspace affected

_No response_

### Expecte

[2022-04-21 14:28] cnukwas commented on #5409
We're using OpenShift and interested in self-hosted Gitpods, is there any progress towards that?

[2022-04-21 14:50] #9461 closed, assigned to jankeromnes

[2022-04-21 15:12] aledbf commented on #9451
Closing. https://github.com/gitpod-io/workspace-images/runs/6114520068

[2022-04-21 15:14] #8703 closed

[2022-04-21 15:21] mustard-mh commented on #9433
@svenefftinge  If you want to choose different IDEs per repo, this PR may be helpful https://github.com/gitpod-io/browser-extension/pull/59.

For projects, maybe we can provide a context menu with IDE list

[2022-04-21 15:50] SimpleSimpleAds commented on #9439
Sure. This is occurring on all of my workspaces. Here is an example ::

https://gitpod.io#snapshot/4a86e0e4-e28f-4579-93ba-9ce68448ab39

On Thu, 21 Apr 2022 at 00:43, Sven Efftinge ***@***.***>
wrote:

[2022-04-21 15:53] andreafalzetti commented on #9433
@svenefftinge the concept of having a user-preferred IDE per project makes a lot of sense, we should put it on the roadmap IMHO 👍

At the same time it's still useful to have a default IDE for "everything" else not specified, I suppose.

I just want to highlight that with this issue we are trying to build a small analytics-driven experiment, very time-scoped, to see if we can increase awareness tha

[2022-04-21 16:10] axonasif commented on #8623
Hey @ThePaulMcBride, can you please describe more of what you're trying to do?

[2022-04-21 16:21] meysholdt commented on #9000
I've created a `centvester5` node, but it can't connect to the cluster because there is trouble with the LetsEncrypt certificate:
<img width="1049" alt="image" src="https://user-images.githubusercontent.com/239422/164505780-d30d64f8-7ef1-4e8a-a3c6-a53108e1d7e2.png">

I suspect the LetsEncrypt CA is not installed on the harvester Node.

I also tried to provide the IP (instead of the domain) of the

[2022-04-21 17:40] jankeromnes commented on #9451
Aha, perfect, many thanks @aledbf and @kylos101! 🙏

But, do I understand correctly that every Docker Hub update needs to be [triggered manually](https://github.com/gitpod-io/workspace-images/actions/workflows/dockerhub-release.yml) now?

I think this is unfortunate, because this has only two possible outcomes:

- We condemn ourselves to remember to trigger new manual builds all the time and foreve

[2022-04-21 18:02] kylos101 commented on #9451
Hi @jankeromnes , PRs do not publish to Docker Hub.

Every merge to main publishes to Docker Hub, with a timestamp tag, but explicitly avoids adding the `latest` tag.
* We encourage users to use the timestamped tag, as this ensures a predictable experience for their development environment.
* The timestamped tag is generally shared in the context of the PR or issue which it originated from.

A sep

[2022-04-21 18:12] loujaybee commented on #9433
IDE's per project settings is definitely something we want to experiment with (see #6874) there's been quite a lot of feedback from users that a per-project UX is needed on top of the global user preferences (CC: @andreafalzetti given your comment also about adding to the roadmap). However, at this stage, I wouldn't want to mix/merge the two: IDE visibility in onboard with per project IDE's just y

[2022-04-21 18:20] aledbf commented on #9451
Until we implement stargz or a similar approach, I think we need to continue manually tagging :latest before new workspace clusters

[2022-04-21 18:55] sagor999 opened #9469 "ws-manager: add support for snapshotVolume creation and PVC restore from it"

[2022-04-21 18:57] loujaybee commented on #7570
Closing in favour of: https://github.com/gitpod-io/gitpod/issues/6707

[2022-04-21 18:57] #7570 closed

[2022-04-21 19:28] loujaybee commented on #6706
Closing, as duplicate with other work https://github.com/gitpod-io/gitpod/pull/9445

[2022-04-21 19:28] #6706 closed

[2022-04-21 19:55] mustard-mh commented on #9433
We can also provide a command open users are at Dashboard and going to open a workspace here
When user is pressing `cmd`, present IDEs for them to choose

notice them by showing `cmd` `ctrl` etc tag in repo list right side, and put a layer (with small icon IDEs) when in Projects / Workspaces page

|Dashboard|IDEs Layer (i.e)| notice (i.e from Alfred)
|:-:|:-:|:-:|
|<img width="811" alt="image" src

[2022-04-21 21:31] sinansonmez opened #9473 "Last terminal on gitpod.yml is not focused"
### Bug description

There are three terminals listed on `.gitpod.yml`. One of the terminals include `openMode: split-right`
Expected behaviour is that last one should be in focus. However because of `openMode: split-right` the focus is on splitted terminals. When i remove `openMode: split-right`, it works as expected.

### Steps to reproduce

Open [this repo ](https://github.com/mattermost/matter

[2022-04-22 02:46] stephenavocado commented on #9369
Hey @atduarte - this is still affecting my workspace. Can we please resolve? I'm not able to progress right now and it's a big deal.

[2022-04-22 02:55] stephenavocado commented on #9341
This issue is still affecting me

[2022-04-22 04:16] axonasif commented on #9451
Seems like we will need to update this part of the doc to make it clear about our recommendation with easy-to-follow steps for that.
https://www.gitpod.io/docs/config-docker#docker-image-tags

[2022-04-22 04:20] axonasif commented on #9439
I think it would be better if you can create a minimal example repository where we can reproduce your issue. Also, just to confirm, are you using your gitpod workspace locally on VSCODE?
<img width="590" alt="Screenshot 2022-04-22 at 10 18 55 AM" src="https://user-images.githubusercontent.com/39482679/164600568-93b74ca4-8ef7-4c82-9a05-983793e9eac5.png">

[2022-04-22 06:02] huweiATgithub commented on #8646
I guess this might be due to the process that the `pyenv global` call is invoked after vscode is started.
Namely, vscode loads the version set in Dockerfile before you set the version via init.
A vscode reload (Ctrl+Shift+P -> reload or close and reopen web) will fix the version (I tested).

Another workaround is to add a Dockerfile that builds on top of the gitpod image and do the `pyenv global`

[2022-04-22 06:06] utam0k commented on #9407
@csweichel I'm sorry, I misunderstood. You are right. Thank you.

[2022-04-22 06:07] mustard-mh commented on #9434
I think I'm doing the same thing with `#referrer:`...

[2022-04-22 07:26] DaniAkash commented on #9452
@atduarte any timeline on when it can be unblocked?

[2022-04-22 08:08] AnnaPrints opened #9483 "JB Client doesn't rejoin session after "Restart IDE" action"
### Bug description

JB Client doesn't rejoin session after "Restart IDE" action, it's closed

### Steps to reproduce

Steps:

1. Run Gateway
2. Join a remote project on Gitpod instance
3. Find Action -> Restart IDE

Actual result: JB Client is closed, session isn't restarted
Expected result: JB Client is closed, after few seconds it's reopened for the same project

Logs:
Gateway: https://drive.go

[2022-04-22 08:35] tnir commented on #4526
#5534 has discussed only Singapore region though... 😭

[2022-04-22 08:50] lucasvaltl opened #9484 "Limit the scope access needed for S3/Blob storage"
## Is your feature request related to a problem? Please describe
Currently, (self hosted) Gitpod requires fairly expansive permissions to your bucket when using a Bucket you bring yourself (i.e. not minio set up by the installer). This goes against guidelines of security conscious organisations and thus would be a blocker. For example, Gitpod needs almost admin level access to S3 and the ability t

[2022-04-22 08:56] atduarte commented on #9369
@stephenavocado we weren't able to lift the ngrok block yet, but are close to doing so. This issue is being followed at https://github.com/gitpod-io/gitpod/issues/9452.

[2022-04-22 09:06] jmls opened #9486 "[Bitbucket] "Forbidden" error starting a workspace when user does not have access to upstream (forked) repo"
### Bug description

One, and only one, of my developers cannot start a workspace on any branch on a specific repository.

![image](https://user-images.githubusercontent.com/929523/164673487-c1307aa0-06e6-41f3-8246-3daeaf312260.png)

I thought at first that it may be some sort of permissions on the project, but no matter what we try he always gets this error. He can, however, start a workspace in

[2022-04-22 09:06] jmls commented on #9486
related discord conversation:

https://discord.com/channels/816244985187008514/966653206782439444

[2022-04-22 09:26] geropl opened #9487 "get rid of `kedge`"
`kedge` is still deployed, but not used in production or anywhere else anymore.
Except for staging, where we currently use it to dynamically register clusters. We should switch to the public ws endpoints, and remove all code.

[2022-04-22 09:42] #9195 closed

[2022-04-22 10:16] #8950 closed

[2022-04-22 10:26] geropl commented on #9395
This sounds related to a fix @andrew-farries is working on [here](https://github.com/gitpod-io/gitpod/pull/9453). At some point we seem to have started using `"unknown"` as the initial phase - which does not make sense to me, at all. We're seeking to fix this now, and

@andrew-farries Can you make sure we [introduce separate timeouts](https://github.com/gitpod-io/gitpod/blob/main/components/ws-man

[2022-04-22 11:00] jldec commented on #8076
This issue affects all users trying to use Gitpod on private org repos.

**Minimal suggested fix**
The 2 start workspace error messages should be fixed with the wording below, and link to this issue.

Scheduled - cc: @geropl

[2022-04-22 11:01] islami00 commented on #770
Hi, I'm having a similar issue. In my case, running `git` push freezes the workspace.
I only changed one file in this diff so I don't think size is a contributing factor here. curl works for github.com so I'm unsure where the issue is.

I tried pushing from the IDE and the github extension has been frozen since.

[2022-04-22 11:17] jldec commented on #9244
Confirmed that this still repro's with the repo https://github.com/jldec/date-plus

[2022-04-22 11:32] ThePaulMcBride commented on #8623
In this [article](https://www.gitpod.io/docs/multi-repo-workspaces) it says you can add a `workspaceLocation` line to the `gitpod.yaml` file so that both repos are opened in the IDE. This works when working in the browser IDE but when working with my local VSCode this doesn't work and only the main repo shows up. I can still right click in the file explorer sidebar and add it manually, so not the

[2022-04-22 11:37] jldec commented on #8451
Scheduled because #8645 is in progress, and this is a common support need.

[2022-04-22 11:42] jldec commented on #9291
Added #8452 to this Epic so that we can close #7597

[2022-04-22 11:46] jldec commented on #7597
Closing this because the Epic process requires epics to end.

- scheduled #8451 as urgent support followup.
- added #8452 to Epic #9291.
- treating other tasks including #8532 as lower priority for now.

[2022-04-22 11:46] #7597 closed

[2022-04-22 11:48] jldec commented on #9291
Added to Q2 roadmap per discussion with @geropl.

[2022-04-22 12:50] jldec commented on #9010
Resolved by https://github.com/gitpod-io/gitpod/pull/9135

[2022-04-22 12:50] #9010 closed

[2022-04-22 12:51] #9145 closed

[2022-04-22 12:52] akosyakov commented on #7525
@mustard-mh I don't think it is a duplicate of https://github.com/gitpod-io/gitpod/issues/9434.

[2022-04-22 12:59] svenefftinge commented on #9395
Yes, that explains why they are no signs in workspace-cluster the workspaces are probably building and timing out in the meantime (after 10min).

[2022-04-22 16:59] emattiza commented on #6576
As a user, when a workspace is running, I would like to open it from the jetbrains gateway without setting a user preference, or have a user preference that is multiple of the provided launch options. This would enable me to start a workspace without having to wait for preferences to cascade and then restart any new workspace with the appropriate remote link features enabled for the given ide of c

[2022-04-22 17:18] sagor999 opened #9496 "[PVC][chore] remove contentDescriptorToLayer in favor of contentDescriptorToLayerPVC"
After this [PR](https://github.com/gitpod-io/gitpod/pull/9242) gets merged, we should harmonize `contentDescriptorToLayerPVC` and `contentDescriptorToLayer` by switching to using `/.workspace' folder to place content.json file, instead of placing it into `/workspace` folder, and thus removing a separate code path for PVC implementation.
For more info: https://github.com/gitpod-io/gitpod/pull/9242#

[2022-04-22 17:27] kylos101 commented on #9452
Hi @DaniAkash @devops-at-alinea and @stephenavocado you should be all set now, may we ask you to try starting workspaces again?

[2022-04-22 17:28] kylos101 commented on #9452
Hi @ctrlaltdylan it looks like you may have been impacted by this issue, too. You should be able to start workspaces again, let us know if you're having trouble?

[2022-04-22 17:30] kylos101 commented on #9452
Hello, dear reader, if you were blocked within the last 3 days and are still having trouble, please leave a comment here and we'll reopen the issue.

[2022-04-22 17:30] #9452 closed

[2022-04-22 17:37] Methodician commented on #6522
@AaronBeaudoin so did you manage to get the emulator suite running?

[2022-04-22 18:45] kylos101 commented on #9406
@aledbf @Furisto is there anything outstanding for cgroup v1 or v2 that you can think of as it pertains to IO limiting?

- #9440 was the initial solve for cgroup v1.
- For cgroup v2, I see these changes: https://github.com/gitpod-io/gitpod/pull/9309 and https://github.com/gitpod-io/gitpod/pull/9404.

Would it make sense to [document cgroup support here for self-hosted](https://github.com/gitpod-io

[2022-04-22 18:48] dpurser-dev opened #9497 "Keyboard shortcut to toggle between terminal window and open script window"
## Is your feature request related to a problem? Please describe
No

## Describe the behaviour you'd like
Keyboard shortcut to change active window from terminal to open script (and back)

## Describe alternatives you've considered
Using the mouse

## Additional context
This would speed up execution of code

[2022-04-22 19:11] stephenavocado commented on #9452
All seems to be working for me. Anything to look out for in the future?

[2022-04-22 20:53] AaronBeaudoin commented on #6522
@Methodician Unfortunately in the end I found that Gitpod was getting in the way of my development experience more than it was helping, so I abandoned trying to get it working for my company and focused on improving my local development experience instead.

[2022-04-22 21:53] tnir opened #9499 "github.com/microsoft/vscode cannot be launched with Building Image"
### Bug description

https://gitpod.io/#github.com/microsoft/vscode (HEAD = ed06c9f3cf1fdbabd692df48d8c0dfd993b17434 as of writing) cannot be launched with "Building Image", but "Continue with Default Image" does work.

### Error log in `Building Image`

[code]

<details>
<summary>Full log</summary>

[code]
</details>

### Steps to reproduce

1. Open https://gitpod.io/#github.com/microsoft/vscode

[2022-04-22 22:07] RedstoneWizard08 opened #9500 "[workspace] allow use of multiplatform builds"
## Is your feature request related to a problem? Please describe

When I try to build a multiplatform docker image, it doesn't let me because it can't run privileged containers (like tonistiigi/binfmt), and it can't launch the buildkit container to start buildx.

## Describe the behaviour you'd like

I would like the ability to run these things so I can test building multiplatform images.

## Desc

[2022-04-22 22:08] tnir opened #9501 "docker run ubuntu:jammy apt-get update fails in a Gitpod workspace"
### Bug description

`docker run ubuntu:jammy apt-get update` fails in a Gitpod workspace while `docker run ubuntu:focal apt-get update` works:

[code]

With `--security-opt seccomp=unconfined`, it still works:

[code]

### Steps to reproduce

1. Launch a workspace in Gitpod (cloud) (with `gitpod/workspace-full`)
2. `docker run ubuntu:jammy apt-get update`

[code]

### Workspace affected

_No resp

[2022-04-22 22:09] RedstoneWizard08 opened #9502 "[workspace] add JetBrains IDEs"
## Is your feature request related to a problem? Please describe

I find vscode hard to use for coding in Java.

## Describe the behaviour you'd like

I would like JetBrains IDEs to be available with the use of Projector or something similar. This would allow for better development in a lot of languages.

## Describe alternatives you've considered

None

## Additional context

[2022-04-22 22:16] aledbf opened #9503 "ws-daemon plugins should stop running when the pod is in terminating state"
### Bug description

Avoid error logs

### Steps to reproduce

.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-04-23 00:21] mteam88 commented on #9502
I believe it is possible to turn on different IDEs in preferences. It is still in beta though.

1. Go here: https://gitpod.io/preferences
2. Select the IDE that you want. (There is JetBrains Pycharm, but I assume you will want the Java focused IntelliJ IDEA IDE).

[2022-04-23 01:52] kylos101 commented on #7645
@princerachit I am not seeing `node pool` as a parameter in the report, can you add in a follow-on PR? It can with node (host) and you added cluster. Let me know if I am missing `node pool` under another name?

[2022-04-23 05:21] parched commented on #7603
How does this work with VS Code User settings? My settings in `~/.config/Code/User/settings.json` don't seem to be applied. The User settings that gitpod lets you edit appears to be some virtual file?

[2022-04-23 09:09] lucasvaltl commented on #8703
Ran into it again (today @11:02 GMT+2) here: https://gitpodio-website-8vw6v27o15p.ws-eu41.gitpod.io/

FYI @sagor999

--> This time it switched my theme to white 🤔

[2022-04-23 11:27] laushinka commented on #7597
Thanks for following up, @jldec! How is #8532 related to the epic btw, is it a typo?

[2022-04-23 13:39] armanbilge opened #9505 "Instructions from `.gitpod.yml` are build run while it does not exist"
### Bug description

Opening a new workspace of my repo outputs:
[code]

However, there is no `.gitpod.yml` in my repo and there is no "Project" for this repo either.

### Steps to reproduce

Open https://github.com/armanbilge/schrodinger/ in GitPod.

### Workspace affected

_No response_

### Expected behavior

`.gitpod.yml` should not be processed when it doesn't exist.
There should be no `histo

[2022-04-23 13:45] axonasif commented on #9505
Also, attempting to trigger manual prebuild results in:
![image](https://user-images.githubusercontent.com/39482679/164903171-c8f86a23-e4b3-41a4-acda-db2b1a1593b2.png)

[2022-04-23 15:03] sagor999 commented on #8703
@lucasvaltl it is deployed with gen42 clusters. Yours was still on gen41.

[2022-04-23 16:48] axonasif commented on #9505
It seems like I'm experiencing this too, my new changes on `.gitpod.yml` aren't being reflected on the resulting workspaces. So, for example, a `task:command` is being run on a terminal that I had removed on a git-commit while it does not exist on the `.gitpod.yml` file present inside my workspace.

Repo: https://github.com/axonasif/flutter-web/tree/axon/refactor_template
Workspace: `axonasif-flut

[2022-04-23 17:15] axonasif opened #9506 "Workspace never starts and stays stuck in unknown state"
### Bug description

Was trying to open https://github.com/gitpod-io/template-flutter/tree/axon/refactor_dockerfile since yesterday, at that time `imagebuild` was happening. However, it would stay stuck in `# exporting layers` stage (what I could see in the **jumping G** logs box) everytime I tried.

Today, its just being stuck at `Preparing Workspace`, which shows `Unkown` state in the dashboard,

[2022-04-23 17:25] axonasif opened #9507 ""A prebuild is already running" - while the `.gitpod.yml` does not exist on the repo"
### Bug description

When trying to do https://gitpod.io/#prebuild/https://github.com/armanbilge/schrodinger, I get:
![image](https://user-images.githubusercontent.com/39482679/164917009-cfbd2d62-e8c9-40ef-bf07-5d9d5ced3f43.png)

However, there is no `.gitpod.yml` in the repo and does not get automatically created either when a workspace is opened.

### Steps to reproduce

Trigger a manual prebuil

[2022-04-23 18:19] code2k13 commented on #2695
I was able to reproduce this issue today with Edge running on Windows 11. Chrome works fine.

[2022-04-23 18:30] armanbilge commented on #9505
Update: I pushed a new commit to the `main` branch on my repo and the issue has gone away.

However, if you specifically create a workspace at the previous commit you can still reproduce the problem described in this issue.

https://github.com/armanbilge/schrodinger/tree/34f23cbe8e83f252d6157770fec083b006ae81cd

[2022-04-23 19:34] kylos101 commented on #8420
@geropl bumping this due to recent events last week. We lost a few nodes over the course of a few days, and roughly 60 workspaces were stuck in stopping.

[2022-04-23 19:36] kylos101 commented on #8420
[Context thread on Discord.](https://discord.com/channels/816244985187008514/967138905906368522/967505020318801990)

[2022-04-23 22:18] kylos101 commented on #9138
Resolved in https://github.com/gitpod-io/gitpod/pull/9335

[2022-04-23 22:18] #9138 closed

[2022-04-23 22:19] kylos101 opened #9508 "observability: move image-builder-mk3 dashboards to workspace folder"
It is currently on the webapp/meta dashboards.

[2022-04-24 18:42] krystofex opened #9510 "Browser extension button bug"
### Bug description

The Open button in Gitpod is not in the right place (using Brave)
![image](https://user-images.githubusercontent.com/48121710/164991431-e60bf862-2361-499f-ad57-e8cbfb985249.png)

### Steps to reproduce

Open file in repository in Github in Brave

### Workspace affected

_No response_

### Expected behavior

![image](https://user-images.githubusercontent.com/48121710/164991499-

[2022-04-24 21:52] #7572 closed

[2022-04-24 21:52] #6557 closed

[2022-04-24 21:52] #6227 closed

[2022-04-24 21:52] #7600 closed

[2022-04-25 00:44] tnir opened #9513 "Prebuild fails with non-userfriendly error message"
### Bug description

Prebuild fails with non-userfriendly error message "Error: headless task failed: exit status 1".

### Screenshot

![x](https://user-images.githubusercontent.com/10229505/165003570-9f1e52a9-a840-4919-9a2c-d487543ce64c.png)

### Conditions
1. On-fly launching workspace on the branch will fail as well.

### Steps to reproduce

1. Enable a project (from https://gitpod.io/new?user=

[2022-04-25 01:19] tnir commented on #9501
- cf. https://github.com/tianon/docker-brew-ubuntu-core/issues/236

[2022-04-25 03:26] shaal commented on #7737
Please add `never-stale`  label

[2022-04-25 03:36] kylos101 commented on #9244
Scheduled, thank you @geropl for the detective work, and @jldec for the repo detail.

[2022-04-25 06:58] akosyakov opened #9515 "[ide-proxy] expose endpoints to collect workspace metrics"
Since workspaces are ephemeral by nature we cannot poll them to collect metrics. Instead workspaces should increase counters on a new long living component which can expose them to prometheus. We could use IDE proxy for that.

[2022-04-25 06:59] akosyakov commented on #9282
It depends on https://github.com/gitpod-io/gitpod/issues/9515

[2022-04-25 07:08] DaniAkash commented on #9452
@stephenavocado I'm still getting the following error everytime I open my workspace with ngrok setup
<img width="589" alt="Screenshot 2022-04-25 at 12 38 09 PM" src="https://user-images.githubusercontent.com/6841445/165037979-5b2ea0a8-5954-41c1-ac9a-ebc00ca3aafa.png">

[2022-04-25 07:18] geropl commented on #9393
This is one of the potential sources for our accumulating event loop lag :point_up:

[2022-04-25 07:54] tnir commented on #7864
@meysholdt Thanks. I do not think CLA is ephemeral while a single PR is. If the author (or I) will not submit what the author do not have the copyright for work, they do not have to include these the in CLA they are signing, which will be effective for a while.

[2022-04-25 08:32] mustard-mh opened #9520 "Open workspace with custom IDE via API"
Open workspace with custom IDE via API, as a part of onboarding experiment

[2022-04-25 08:35] mickmister commented on #8203
@gtsiolis When I tried this, it seems that the vscode UI was trying to open a file through HTTP, rather than previewing it from the virtual file system. Is this consistent with your understanding?

[2022-04-25 09:24] Furisto commented on #9406
@kylos101 IO limiting with cgroup v2 does not really work yet. The best we could say is that if you want IO limiting for self-hosted then you need a system with cgroup v1.

[2022-04-25 09:28] loujaybee opened #9521 "Expose perf details for the current workspace"
When users are diagnosing challenges in a workspace, it would be good to expose container-specific performance information to help the user understand what is going on with their workspace and make necessary changes.

Ideally, this would be exposed as part of `gp cli` as this command can then be consumed via plugins in the various IDE's for IDE specific experience (e.g. the JetBrains integrated pe

[2022-04-25 09:44] atduarte commented on #9521
@sagor999 mentioned this idea in our [internal brainstorming](https://www.figma.com/file/Zk9lMCCdpCDXM0swhpEY3k/Brainstorming?node-id=2%3A37) too, and mentioned including latency, other than the usual CPU and RAM. Liked that idea 👌

[2022-04-25 10:35] MrSimonEmms commented on #9444
Hi @wo3hap. Your cluster doesn't meet the [required specifications](https://www.gitpod.io/docs/self-hosted/latest/requirements#minimum-kubernetes-requirements) which is almost certainly the root cause.

Specifically, it **MUST** be running on Ubuntu 18.04 or 20.04 (I'd suggest 20.04) and have the Kernel 5.4 or above. You're running on CentOS and the Kernel is 4.18.

Can you change your cluster to

[2022-04-25 10:41] wo3hap commented on #9444
Yes, I noticed that so later I have switched to Ubuntu 20.04 with 5.4 kernel. The kernel version warning in the validation is gone but still getting the same error...

[2022-04-25 10:45] wo3hap commented on #9444
In addit

In addition, my cloud server provider has a system image with k3s pre-installed on centos. I chose that image at first when purchasing for server. Later I switched to ubuntu 20.04 without k3s pre-installed.

[2022-04-25 11:09] AlexTugarev opened #9526 "[server] guard token renewals against races"
While working on https://github.com/gitpod-io/gitpod/pull/9524, I've noticed an issue the token service in the server component.

Multiple API requests are raced to fetch data as quick as possible when the context parsing machinery is running during workspace creation/start. The token service is inquired for each API request separately. And here comes the problem: the renewal process is triggered

[2022-04-25 11:48] MrSimonEmms commented on #9444
Next thing to check would be:

[code]

Those values are not typical of a k3s installation - see [my k3s guide](https://github.com/MrSimonEmms/gitpod-k3s-guide/blob/main/setup.sh#L121) for the values to use for these two properties

[2022-04-25 12:54] jankeromnes commented on #9486
Hi @jmls! Thank you for filing this issue. The screenshot and details you've provided will be helpful to identify exactly what's going awry here.

I'll take a look this afternoon to see if I can track down this error in Gitpod's logs/tracing.

[2022-04-25 13:14] akosyakov commented on #9393
Start a prebuild on https://github.com/gitpod-io/spring-petclinic You will see in logs of supervisor that at some point a client for prebuild page will be dropped after 5 secs of inactivity.

[2022-04-25 15:08] jankeromnes commented on #7881
With Project-level variables already in place, it seems pretty easy to add Team-level variables as well (can re-use most of the same code and UI).

Thus, I believe this should not be an "epic", but just a regular issue. Also, I'm happy to make this happen, and thus optimistically assigned myself.

Currently focused on finishing other high-priority items, but happy to pick this up if/when it gets "

[2022-04-25 15:23] kylos101 commented on #9406
Thanks for the heads up, @Furisto ! I've removed this from scheduled work for now, as we've resolved the saas issue with https://github.com/gitpod-io/gitpod/pull/9440.

I think we need to think about the business value of cgroup V2. Given IOLimit and CPU limit are both not working as expected for cgroup V2, I wonder if we can do a skateboard of `workspace classes` on cgroup v1, and fix cgroup v2 l

[2022-04-25 15:30] meysholdt opened #9530 "ws-daemon causes excessive logging costs"
## Is your feature request related to a problem? Please describe
ws-daemon causes excessive logging cloud costs in preview environments (three-digit EUR/day) due to excessive logging (several instances with 1MB/s).

I suspect these logs on STDERR to be the cause:
<img width="566" alt="image" src="https://user-images.githubusercontent.com/239422/165122231-aecc3885-3be2-40c1-8a02-ea04e483de22.png">

[2022-04-25 15:32] kylos101 commented on #8901
@utam0k I changed the status for this issue to blocked. Am I correct that you've provided a workaround, but, now we need a fix for shiftfs? If we need a fix for shiftfs for a long term solution, can you share a related link to an issue for shiftfs?

[2022-04-25 15:42] axonasif opened #9531 "VSCODE terminals are automatically created without any visible reason"
### Bug description

If you open a workspace, an extra terminal is always created by the `supervisor` and ide-process(on workspace-restart) with `bash` as the shell regardless of your default shell settings on VSCODE (I have `fish` as the default shell, and it does get used if I manually create a terminal)

### Steps to reproduce

Please check the video below:
https://www.loom.com/share/5beb29c354

[2022-04-25 15:45] jankeromnes commented on #9486
Some progress: This seems to be an error that happens during Bitbucket context parsing:

[code]

which means the error happens _somewhere_ in here:

https://github.com/gitpod-io/gitpod/blob/2f0b9462b0451f0974434fa36bd757420ef04e34/components/server/src/bitbucket/bitbucket-context-parser.ts#L151-L210

On a side note, there seem to be other token-related others affecting the same user, which may or

[2022-04-25 16:21] mickmister commented on #8203
My use case is to simulate clicking `Open Preview` in the context menu of a file in the file tree:

<img width="500" alt="image" src="https://user-images.githubusercontent.com/6913320/165131091-a1e15af9-9044-4bdb-9495-34976b3a66d9.png">

Maybe `gp open` or `gp preview` could support an optional flag to open a file in "preview mode"?

I've found a workaround for this, by hosting a markdown server h

[2022-04-25 17:06] jankeromnes commented on #9486
Okay, I think I found the problem:

- Your team member does indeed have access to the repository 👍 thus Gitpod is able to fetch relevant project details from the Bitbucket API

- However, when fetching these details, it sees that this repository has a **parent repository**, and so it also tries to fetch information for the parent repository:

https://github.com/gitpod-io/gitpod/blob/2f0b9462b0451f

[2022-04-25 17:12] axonasif commented on #2695
Hey @code2k13, it's probably due to some extension or browser config of yours on Edge. You might find something interesting on your `console logs`.

[2022-04-25 17:14] axonasif commented on #7603
Yes, it's stored on your browser.

[2022-04-25 17:16] axonasif commented on #9502
Hey @mteam88, thanks for helping!
Closing this assuming that @RedstoneWizard08 got a potential solution.

[2022-04-25 17:16] #9502 closed

[2022-04-25 17:22] axonasif commented on #9500
Hey @RedstoneWizard08, I don't think this is something we can support at the moment.
Please check this thread: https://github.com/gitpod-io/gitpod/issues/7358#issuecomment-1022951368
cc @utam0k

[2022-04-25 17:28] axonasif commented on #9499
I'm wondering if this is due to https://github.com/gitpod-io/definitely-gp/tree/master/vscode

[2022-04-25 17:34] axonasif commented on #6522
Hey @AaronBeaudoin, really sorry to hear that 😓
I do not have experience of what you described but I'm guessing that locally opening your workspace in your desktop vscode where all ports are forwarded to `http://localhost` might work for you.

Please see https://www.gitpod.io/docs/ides-and-editors/vscode

[2022-04-25 17:43] axonasif commented on #9497
Hey @dpurser-dev, this is already possible, please see https://code.visualstudio.com/docs/editor/integrated-terminal

[2022-04-25 17:43] #9497 closed

[2022-04-25 17:47] mustard-mh opened #9534 "Allow user to configure IDE configurations when onboarding start workspace"
Allow user to configure IDE configurations when onboarding start workspace.

Works for aware users Gitpod not only works with VSCode Browser. We got many IDEs.

 See also https://github.com/gitpod-io/gitpod/issues/6707, [Draft Figma](https://www.figma.com/file/1ofpgCa3XI0F4zZKhcgiGg/%236707?node-id=41%3A277)

|Draft|
|:-:|
|<img width="930" alt="image" src="https://user-images.githubusercontent.co

[2022-04-25 17:48] axonasif commented on #770
Hey @islami00, can you go through https://www.gitpod.io/contact/support with logs from https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-vs-code-web

[2022-04-25 19:32] kylos101 commented on #9530
@meysholdt @svenefftinge this was [resolved in production when we deleted `gen41` today at 10:00am GMT](https://cloudlogging.app.goo.gl/4eumfD3WkWVT1MdG7).

At this point, @meysholdt has removed all preview environments, which may not have been rebased from main.

Therefore, the only thing that is remaining, is that folks rebase from main before deploy a preview envirionment again. I'll send a rem

[2022-04-25 19:32] #9530 closed

[2022-04-25 19:48] aledbf opened #9536 "workspaces in terminating state when ws-daemon cannot be reached"
### Bug description

[code]

### Steps to reproduce

Trigger the creation of more than 50 workspaces per second

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-04-25 20:01] parched commented on #7603
Ok, would it be possible to make gitpod use the file in .config instead if it's present? Or, as a workaround, is there a way to write to the in browser file, so I can sync  it in the install script?

[2022-04-25 20:28] jldec commented on #9011
resolved by #9524

[2022-04-25 20:28] #9011 closed

[2022-04-25 20:52] corneliusludmann commented on #9308
@MrSimonEmms: Is this fixed with the following pull requests?
- https://github.com/gitpod-io/gitpod/pull/9455
- https://github.com/gitpod-io/gitpod/pull/9471

[2022-04-25 21:09] moza88 opened #9538 "Specify Language Version"
## Is your feature request related to a problem? Please describe

As we upgrade our code and experiment with different language versions l would like one Gitpod with one language version and another one with another language version.

For instance, I can't use this tool called Kubebuilder with 1.18 go, I have to use 1.17 go. I have other projects that require 1.18, so switching back and forth loca

[2022-04-25 21:51] Methodician commented on #6522
So, I'm not particularly adept with port forwarding and CORS issues and all of that, but I do feel motivated to try and make Gitpod work for my companies, so long as the gitpod team is willing to help out.

I usually use Gitpod in VSCode locally anyway for other reasons, and can confirm it does not help the issue. It looks to me like there is just a huge jumble of ports being created and re-routed

[2022-04-26 03:23] #8448 closed

[2022-04-26 05:40] #8037 closed

[2022-04-26 06:49] jmls commented on #9486
I've done a little more digging. The repo is question was *forked* from demo, and the user in question was not part of any group that had access to demo.

I'll need to do some more digging in order to figure out why the other users (who were part of the same group)  did not have the same problem.

Many thanks

[2022-04-26 07:28] tnir commented on #9499
Thanks for pointing out, but I do no think so. https://github.com/gitpod-io/definitely-gp/blob/d0832d385a65b0d990145184e6a36491d9cf0554/vscode/Dockerfile is based on focal, so we can run the following commands on Docker 20.10.14:

[code]
[code]

The error (even in ``ubuntu:focal`) looks like #9501, which is originated from `ubuntu:jammy` image 🤔

[2022-04-26 07:41] jankeromnes commented on #9486
Aha, thank you for clarifying. 👍 I've updated my comment above to say "upstream" instead of "parent" (to hint at upstream/fork relationship).

Also, a few updates:

- We've scheduled this issue for team WebApp so that anyone can pick this up when there is availability

- We've decided to change how Gitpod handles access problem on upstream repos: simply ignore/log such errors and omit the fork inf

[2022-04-26 07:48] MrSimonEmms commented on #9308
@corneliusludmann yes, this is _LARGELY_ achieved by these PRs. The only one that isn't is _why_ it failed, but there isn't an easy way how to get that out of KOTS. I'm going to proposing closing it, but I'm going to add a ticket to run DB/Storage/Registry connectivity checks in the pre-flight checks (I know Replicated say that's not what they're designed for, but I think they're essential for how

[2022-04-26 07:48] #9308 closed

[2022-04-26 08:02] Foxhoundn commented on #7313
@jeanp413 this has started happening again (now using VSCode Desktop) - the debugged extension just randomly shuts down and `Establishing SSH connection` notification appears in the main VSCode window.

Also this error appears in the browser where gitpod was launched from

[code]

[2022-04-26 09:15] utam0k commented on #8901
@kylos101 Support for ubuntu kernel is required. But it won't be a quick fix, how about planting a workaround for the dotnet image?

[2022-04-26 09:21] AlexTugarev commented on #7781
There were actually two issues in here, and one got resolved with integrating Bitbucket Server into the New Project page.

The remaining issue seems to be that the `getProviderRepositoriesForUser` returns empty response.

@shaal, what does https://git.drupalcode.org/api/v4/projects?min_access_level=40 return for you? For me, it's an empty array, which is expected as I'm not maintainer of any of th

[2022-04-26 09:28] jeffrey-zhang opened #9544 "data lost when workspace timeout and pod is in the terminating state"
### Bug description

Background, we are evaluating the gitpod and deployed it in our self-hosted AKS. The current deployed gitpod version is  2202.03.01.

We encountered the issue several times that the workspace will be timeout after 30 mins by default and it can't be opened again. The serious issue is that all data is lost once this issue occurred. And we try to find the lost data in the storage

[2022-04-26 09:48] purkhusid commented on #8901
Does it not make sense to add this workaround to the gitpod/workspace-base image? This bug could be affecting other workloads without you knowing.

[2022-04-26 10:20] geropl commented on #9393
De-scheduled because we removed memory pressure. Keeping it around for future measurements.

[2022-04-26 10:52] atduarte commented on #8594
From what I saw in [Kubernetes page](https://kubernetes.io/releases/), they haven't yet released the fix. Do we have any other alternative?

[2022-04-26 10:54] aledbf commented on #8594
@atduarte the fix is already deployed in gen42.

[2022-04-26 10:58] laushinka commented on #8836
After a realignment sync among @MircoatGitpod @geropl @gtsiolis and I, it was decided that since the Dashboard doesn't store any non-necessary cookies, we do not need a cookie banner or settings there.

Next steps:
1. @MircoatGitpod will create a privacy policy page that will be linked in the Dashboard and website.
2. The banner and settings will only be implemented in the website. cc @nisarhassan

[2022-04-26 10:58] #8836 closed

[2022-04-26 12:17] felladrin commented on #8192
Recently, JetBrains team indicated us how to make it work, so I'll note it here for us to work on it later:

On [plugin.xml](https://github.com/gitpod-io/gitpod/blob/main/components/ide/jetbrains/backend-plugin/src/main/resources/META-INF/plugin.xml) add the following line inside `<extensions defaultExtensionNs="com.intellij">`:
[code]

Then create a `GitpodGatewayClientCustomizationProvider.kt` f

[2022-04-26 12:18] jeanp413 commented on #7313
Hi @Foxhoundn could you create a new issue for this :pray: ?
this is different as vscode desktop uses remote ssh extension, also could you get some logs in the output windows for Gitpod and remote server
Thanks

[2022-04-26 12:28] valyc0 opened #9550 "no internet connection on container if network used"
### Bug description

if I create container with network, the is no internet connection inside it. If I start the same container without network it work

### Steps to reproduce

docker run --rm --name curl pstauffer/curl:latest curl http://www.google.com

#OK!

docker network create mynet

docker run --rm --net mynet --name curl pstauffer/curl:latest curl http://www.google.com

#KO!

### Workspace

[2022-04-26 12:59] imorri commented on #5014
Had the same issue with Brave on Mac and Solus, Firefox and Safari no issue.
I found disabling fingerprint tracking in Brave settings resolved the issue.

[2022-04-26 13:09] laushinka opened #9556 "Server logs incoming requests and their status codes"
Log incoming requests.

[2022-04-26 13:43] cjensenius opened #9559 "Prebuilds failing to compile for any changes to the .gitpod.Dockerfile"
### Bug description

Prebuilds in a private repo on gitpod.io hosted are failing with a variety of error messages:

 * https://gitpod.io/t/green-it/spower-backend/d3006b55-15d3-4ec8-9c2f-3b6b5acd7e7f - `Prebuild failed for system reasons. Please contact support. Error: 14 UNAVAILABLE: Connection dropped`
 * https://gitpod.io/t/green-it/spower-backend/0e3e8e14-ef08-4049-bb40-5ae202da0bb8 - `Prebuil

[2022-04-26 13:50] axonasif commented on #9506
Seen a few users who might be facing the same issue with new custom dockerfiles on Discord and Front.
Here's one from today: https://canary.discord.com/channels/816244985187008514/968502538699669604/968508799608565833

[2022-04-26 14:06] axonasif commented on #9506
Update: It seems to be working now.
Closing the issue 👍

[2022-04-26 14:26] lucasvaltl opened #9562 "Clean up Node Affinity Labels for Self Hosted to not use meta"
## Is your feature request related to a problem? Please describe
Currently, we require the following node affinity labels for a cluster that runs Gitpod Self-Hosted:
- `gitpod.io/workload_meta=true`
- `gitpod.io/workload_ide=true`
- `gitpod.io/workload_workspace_services=true`
- `gitpod.io/workload_workspace_regular=true`
- `gitpod.io/workload_workspace_headless=true`
--> we are still using the wo

[2022-04-26 14:57] axonasif commented on #9506
My bad, I spoke too soon 😓
It's still being stuck at `# exporting to image` after a new change to my dockerfile.

[2022-04-26 15:44] shaal opened #9564 "Prebuild runs only when opening new workspace"
### Bug description

`ddev` is set to have automatic prebuilds.
https://gitpod.io/t/ddev/ddev shows that `master` prebuild ran successfuly.
![image](https://user-images.githubusercontent.com/22901/165338554-2bd72d96-d97e-400a-9708-bbed53ea3dde.png)

Whenever I open a new workspace for ddev https://gitpod.io/#https://github.com/drud/ddev - I see the prebuild steps running in the terminal, instead o

[2022-04-26 15:54] shaal opened #9565 "docker bridge gateway is not available during prebuilds"
### Bug description

In order to run `xdebug` in ddev, ddev needs the ip of docker's bridge gateway.

During prebuilds, ddev displays an error that the value cannot be determined.
(same is true to opening a workspace after "Skip prebuild" button was pressed, or in case prebuild are failing, and Gitpod workspace open in "prebuild mode" (didn't have a better way to describe it).

### Steps to reprod

[2022-04-26 16:44] atduarte commented on #898
@csweichel I guess having HTTP only would solve most cases, and be a good 🛹.

[2022-04-26 17:18] sagor999 commented on #8594
Since actual fix was deployed and is in prod, I am going to close this issue now.

[2022-04-26 18:10] gtsiolis commented on #9534
In the past, we've successfully used the modal component for nudging users for new product updates or selecting an option to proceed, see https://github.com/gitpod-io/gitpod/issues/3297 and https://github.com/gitpod-io/gitpod/pull/4607.

This seems like a good use case to reuse the modal component as this could be useful also in https://github.com/gitpod-io/gitpod/issues/9534. What do you think, @

[2022-04-26 18:18] felladrin commented on #6525
@loujaybee, do you think we can close this, now that https://github.com/gitpod-io/gitpod/pull/9443 has been merged?

[2022-04-26 18:27] tobiasdiez opened #9568 "Improve opening flow + docs for VS Code Desktop (many popups)"
When you start a workspace in desktop VS code, you have to

1. Allow the redirect to desktop client
    1. https://docs.microsoft.com/en-us/deployedge/microsoft-edge-policies#autolaunchprotocolsfromorigins
    1. https://chromeenterprise.google/policies/#AutoLaunchProtocolsFromOrigins
    1. https://admx.help/?Category=Chrome&Policy=Google.Policies.Chrome::AutoLaunchProtocolsFromOrigins
    1. MS

[2022-04-26 19:56] jldec commented on #9395
Suspected [example](https://app.frontapp.com/open/cnv_j5h2rbe) of affected user (internal)
Is there a workaround or DB change we can use to mitigate?

[2022-04-26 20:03] jldec commented on #9513
Thank you for providing the repro - we are tracking improvements to our prebuild and imagebuild logging in our roadmap as part of #9291

[2022-04-26 20:38] #8559 closed

[2022-04-26 20:57] SimonSiefke opened #9570 "Error: Headless logs not found"
### Bug description

The prebuild never finishes and It is not possible to start a new workspace

Prebuild:
![gitpod-prebuild](https://user-images.githubusercontent.com/23744935/165388911-bf3f3cb7-4f17-4c55-9046-5e4676320131.png)

New Workspace:
![gitpod-new-workspace](https://user-images.githubusercontent.com/23744935/165389293-7fa62d46-312c-467b-9867-13c65e6fb66c.png)

### Steps to reproduce

No

[2022-04-26 21:02] SimonSiefke opened #9571 "Uncaught (in promise) Error: Request controlAdmission failed with message: Unknown workspace manager "eu01""
### Bug description

Share Workspace results in an error: Request controlAdmission failed with message: Unknown workspace manager "eu01"

![share-workspace](https://user-images.githubusercontent.com/23744935/165391584-838276e5-491c-4b02-aec0-6ea848d70031.png)

[code]

### Steps to reproduce

1. Create a workspace
2. Go to https://gitpod.io/workspaces
3. Click the 3 dots
4. Click "Share"
5. Error i

[2022-04-27 00:08] zpthree commented on #7860
Are project environment variables not accessible in the same way that regular environment variables are? I set up a bunch of project environment variables and made them visible in workspaces but they are not showing up with my other variables.

[2022-04-27 01:27] kylos101 commented on #8800
@jenting can you close this issue, create a new one for `TestRegularWorkspaceTasks`, and reach out to the IDE team for help in the new issue? Also, for the new issue, add it to the list of tasks in #8799, at the end. :pray:

This way #8800 is done, and you can move onto other issues in #8799, like sharing the status of tests in Slack. :smile: :+1:

[2022-04-27 01:32] jenting opened #9575 "Fix broken integration test TestRegularWorkspaceTasks"
### Bug description

The integration test TestRegularWorkspaceTasks is broken with the errors
[code]

The analysis root cause could be https://github.com/gitpod-io/gitpod/issues/8800#issuecomment-1108699447

### Steps to reproduce

[code]

## Tasks
- [ ] Fix supervisor test
- [x] Fix agent part which checks existence of files

### Workspace affected

_No response_

### Expected behavior

_No respo

[2022-04-27 01:34] jenting commented on #8800
Create a new issue #9575 to address to failed E2E `TestRegularWorkspaceTasks` because it involved cross IDE team as well as workspace team.

Close this issue.

[2022-04-27 01:34] #8800 closed

[2022-04-27 01:39] jenting commented on #9575
In the current code, I encounter the certificate issue, waiting for PR #9553 fixed.
We could revisit this issue once the certificate issue is addressed.

Related [Slack Thread](https://gitpod.slack.com/archives/C032A46PWR0/p1650952306655639).

[2022-04-27 03:05] jeanp413 commented on #9419
Hey @ArthurSens can you reproduce this consistently or it was a one time thing? From my investigation the url that gets opened in the browser is independent from vscode and supervisor, it just opens whatever url gets from [InstanceUpdates api](https://github.com/gitpod-io/gitpod/blob/de440410fb865d770bc33b135411e896a347323b/components/supervisor/pkg/ports/exposed-ports.go#L103-L124)
If you see it

[2022-04-27 03:49] jeanp413 commented on #9431
Fixed in https://github.com/gitpod-io/openvscode-server/pull/344

[2022-04-27 03:49] #9431 closed

[2022-04-27 07:30] AlexTugarev commented on #7781
@shaal, thanks very much for the details. There was one thing we didn't see in tests apparently.

[code]

This `group` kind is the key to the problem. While the API returns all projects from Gitlab using the current session auth (via browser), it's not showing projects in groups when authorizing with OAuth 2.0.

We need to check and clarify with Gitlab on the expectations here.

[2022-04-27 07:43] AlexTugarev commented on #7781
@shaal, just one question on the UI. You are sure to have clicked the drop down to select the `project` group?

<img width="418" alt="Screen Shot 2022-04-27 at 09 38 32" src="https://user-images.githubusercontent.com/914497/165467181-98c71422-4a9f-4fab-8723-415a9049968e.png">

[2022-04-27 07:55] chrifro commented on #5977
The issue still persists. cc @jankeromnes as you were working on updating the team subscription logic 🙂

[2022-04-27 08:05] ArthurSens commented on #9419
I can still reproduce it :)

Recorded a quick loom:
https://www.loom.com/share/e865979b2be94e3e825551ef31ecd23a

It does look like a very specific problem with the application itself that I'm trying to access

[2022-04-27 08:29] akosyakov commented on #6740
We shipped an **experimental** support of [indexing for IntelliJ IDEA using Prebuilds](https://www.gitpod.io/docs/ides-and-editors/intellij#indexing-using-prebuilds).

[2022-04-27 08:58] #8441 closed

[2022-04-27 09:29] geropl commented on #8972
@AlexTugarev Moved to "In progess" based on your assignment :wink:

[2022-04-27 09:37] dwy2002 commented on #9544
related error log
`
{"failed":"last backup failed: workspace timed out after backup (01h00m) took longer than 01h00m.","timeout":"workspace timed out after backup (01h00m) took longer than 01h00m","final_backup_complete":1,"stopped_by_request":1}`

but we cannot find more detail why the backup time out .

[2022-04-27 10:59] #9006 closed

[2022-04-27 11:10] aledbf commented on #8594
Latest numbers related to the issue:

[code]

(gen42 was deployed on the 22nd)

[2022-04-27 12:01] Furisto commented on #9506
One of the reasons why this can fail is that buildkitd is stuck in uninterruptible sleep. When inspecting the call stacks we see this:

[code]
 So buildkitd is trying to do IO with fuse as the underlying filesystem. Fuse is used by the stargz snapshotter

[code]
https://github.com/containerd/stargz-snapshotter/blob/main/docs/INSTALL.md

We see that the cpu instruction pointer points into non execu

[2022-04-27 12:21] shaal commented on #7781
@AlexTugarev
When I choose a git provider like Github itself, I can choose an organization, and then I see this list
![image](https://user-images.githubusercontent.com/22901/165516488-3c311c4e-df5a-4246-bdac-383f8aab2dcb.png)

When I choose Drupal Gitlab self-hosted as git provider, I see this
![image](https://user-images.githubusercontent.com/22901/165516684-f6fb78f5-ba0c-4783-a7fb-f38431cf7760.p

[2022-04-27 12:33] shaal commented on #7781
@AlexTugarev, I opened Devtools -> Network -> WS,
The first orange arrow shows the result when I select Github, the response is about 130k.
The second orange arrow shows the result when I select Drupal self-hosted Gitlab, the response is an empty array.
![image](https://user-images.githubusercontent.com/22901/165518514-0a8459ce-f982-46a7-baec-a1783d95668b.png)

[2022-04-27 13:03] aidarsgames commented on #2137
Hey, I've been waiting for 2 days for an answer from contact gitpod how long will it take?

[2022-04-27 13:16] lucasvaltl opened #9585 "Unable to use a self-signed certificate on Google Kubernetes Engine"
### Bug description

We are unable to use self-signed certs on GKE due to a limitation on the GKE side: you cannot allow containerd to trust other certificates without restarting containerd.

This issue was created to gather data about this problem.

### Steps to reproduce

Try to use self-signed certs on a self-hosted installation running on GKE

### Workspace affected

_No response_

### Expecte

[2022-04-27 14:39] CompeyDev commented on #9069
This error occurred again, same console errors, but this time I was able to grab the network logs (console is the same):
![image](https://user-images.githubusercontent.com/74418041/165544041-c964f884-7601-4821-a0e1-8c7defc8e29e.png)

[2022-04-27 15:09] axonasif commented on #9069
Hey @CompeyDev, can you try a different browser?

[2022-04-27 15:11] jeanp413 commented on #9419
Does this happens only with this port 8080 or any port?

Seems like it, can you reproduce in a preview environment so I can enable more logging in there or could you share the exact steps to get this `svc/argocd-server` running so I can reproduce myself?

[2022-04-27 15:11] cjensenius commented on #9559
I believe the issue may be resolved, I received a successful prebuild in https://gitpod.io/t/green-it/spower-backend/508c4c71-c12d-4e28-bc59-1bf455aa6d96

[2022-04-27 15:11] #9559 closed

[2022-04-27 15:15] CompeyDev commented on #9069
Tried multiple times before, the same error applies for any chromium based browsers, never faced with gecko variants.

[2022-04-27 15:43] CompeyDev commented on #9069
Going to do that next time onwards, although I don't think I have any extensions enabled.

[2022-04-27 17:12] nandajavarma opened #9590 "Make the Licensing UI responsive"

[2022-04-27 17:13] #9590 closed

[2022-04-27 17:37] zpthree opened #9591 "Project environment variables not showing up"
Are project environment variables not accessible in the same way that regular environment variables are? I set up a bunch of project environment variables and made them visible in workspaces but they are not showing up with my other variables.

_Originally posted by @zpthree in https://github.com/gitpod-io/gitpod/issues/7860#issuecomment-1110363950_

[2022-04-27 18:11] jldec opened #9592 "Feedback Issue: Bitbucket Server"
### Objective

The aim of this issue is to gather feedback on our **Bitbucket Server** integration.
Please add your feedback in comments below -- any feedback is welcome!

### More information
- [Docs](https://www.gitpod.io/docs/bitbucket-server-integration)

[2022-04-27 19:02] jldec commented on #8499
Thank you @AlexTugarev - Closing this epic now.
Docs landed in https://www.gitpod.io/docs/bitbucket-server-integration

[2022-04-27 19:02] #8499 closed

[2022-04-27 20:37] mitchelsellers commented on #7876
This is still an urgent need

[2022-04-27 21:12] shaal commented on #6782
please add `meta: never-stale` label to this issue

[2022-04-27 23:24] jenting opened #9597 "Run integration tests nightly against main for workspace components"
## Is your feature request related to a problem? Please describe
Run integration tests nightly against main for workspace components to make sure the latest main branch does not break the quality.

## Describe the behaviour you'd like
Run integration tests nightly against main for workspace components by werft job `with-vm` running on preview environment, after the job finish, send a slack notific

[2022-04-27 23:56] kylos101 commented on #9407
Closing, as we need to circle back to cgroup v2 at a later time. In other words, IO limits do not work in cgroup v2.

[2022-04-27 23:56] #9407 closed

[2022-04-28 00:03] kylos101 commented on #8901
@utam0k can you try adding your workaround to [a custom dockerfile](https://www.gitpod.io/docs/config-docker#configure-a-custom-dockerfile), using this as a [base image](https://hub.docker.com/r/gitpod/workspace-dotnet)?

You'll need to test in core-dev (fuse) and production (shiftfs), to see if workspaces using the custom base image with your workaround work with both overlay file systems.

[2022-04-28 00:12] sagor999 opened #9598 "cannot initialize workspace: no backup found; last backup failed: workspace does not exist."
### Bug description

Sometimes workspace can fail during shutdown with this error:
'cannot initialize workspace: no backup found; last backup failed: workspace does not exist.'

This happens because `DisposeWorkspace` can be called multiple times.
First call removes workspace id from the store, and second one will fail.

### Steps to reproduce

it happens randomly. Look in logs for 'workspace does

[2022-04-28 01:37] reustle commented on #6328
Currently the docs say:

Would it be technically feasible with the existing GitHub API to for example, allow anyone with a GitPod account that is linked to a GitHub account which has access to this repo to access the workspace? Thank you.

[2022-04-28 03:25] wo3hap commented on #9444
Occupied these days.

I propably messed up with the containerd runtime. At first I did not get it on my own, I checked `/var/lib/containerd/io.containerd.runtime.v2.task/k8s.io` but no such directory... So I made a directory named `k8s.io` !
I rolled back to that CentOS image at first, looked up `/run/k3s/containerd/io.containerd.runtime.v2.task/k8s.io/` directory and found these containers:

[cod

[2022-04-28 03:47] wo3hap commented on #9444
New `gitpod.config.yaml`
[code]

Validation:
[code]

[2022-04-28 03:49] kylos101 commented on #9521
CC: @aledbf @utam0k @Furisto this issue was created in response to [this internal Slack thread](https://gitpod.slack.com/archives/C02CBKZEVS8/p1650879128898139?thread_ts=1650544530.542929&cid=C02CBKZEVS8).

[2022-04-28 04:04] fanlix commented on #8869
prefer Solution1.
* make default `replias = 1`,  `locality = best effert`. get best performace within longhorn engine.
* for more data safty, user may change `replias = N` easily by longhorn ui to any existing pvc

for current version, v1.0.1
* very hard to set `default` replicas, easy for `existing` pvc handly
* easy to set locality by longhorn ui both `default` and `existing`

[2022-04-28 04:17] #9598 closed

[2022-04-28 05:19] utam0k commented on #8901
I've improved the custom image to work in both environments.
https://github.com/gitpod-io/template-dotnet-core-cli-csharp/blob/to/shiftfs/.gitpod.Dockerfile

[2022-04-28 05:51] utam0k commented on #8106
@iQQBot Deployment to https://github.com/gitpod-io/gitpod/pull/9212 to all workspace clusters is complete. We can take the next step.

[2022-04-28 06:56] #9433 closed

[2022-04-28 07:00] jenting commented on #9597
There is no werft deployed/installed in the preview environment, we can't run the integration test job which is deploying/running by the werft. That is, now we could only run the nightly integration test on the `core-dev` environment.

Besides that, sending the Slack notification to the workspace team slack channel might pollute the channel and I see the IDE team post the integration test result t

[2022-04-28 07:00] ArthurSens commented on #9419
Any port

I think the easiest way to do it is:

1. Open a workspace from this repo: https://github.com/gitpod-io/ops
2. Run the command `kubectl port-forward -n argocd svc/argocd-server <port>:80`. Changing `<port>` to any port you'd like

[2022-04-28 07:11] kylos101 commented on #9597
`core-dev` is going away at some point, to be replaced by Hertzner.

I believe when core-dev is gone, that main's preview environment should be generated by Hertzner. Can you ask Platform team what the plan is, for the main branch's preview environment? I hope it is Hertzner, but good to confirm.

#workspace-jobs is a good idea. :+1: We were talking about doing something similar for Front messages

[2022-04-28 07:11] geropl opened #9601 "We seem to be leaking ws connections"
In the context of #7082  [we suspected](https://github.com/gitpod-io/gitpod/issues/7082#issuecomment-996825731) that one of the reasons of accumulating event loop lag could have been that we leak ws connections. Further investigation and adding debug logs showed that we indeed seem to do. The exact cause is still unknown, but after looking at the code for `ws` (the websocket library we're using) w

[2022-04-28 07:25] mustard-mh opened #9603 "Better screen adaptation with Gateway plugin"
Right now for small screen (mine is Macbook Pro 14') with default size of window, we need to scroll to right to access `connect` button and other status of workspaces.

We need a better screen adaptation with Gateway plugin

|Image|Large one|
|:-:|:-:|
|<img width="1023" alt="image" src="https://user-images.githubusercontent.com/20944364/165699330-b8781128-19ee-4709-bc40-5f94242eef85.png">|<img wi

[2022-04-28 07:40] corneliusludmann opened #9604 "[self-hosted] Cannot use SCM (like GitLab) with a self-signed TLS cert"
With the April release, we support certificates that are signed by custom CA certs (self-signed TLS certs). However, creating a workspace from code of an SCM (GitLab, GitHub, Bitbucket) with a self-signed TLS cert does not work yet.

[code]

The error happens in the ws-daemon pod, specifically in the runc container used by ws-daemon to initialise the workspace content.

Possible solution:
[code]

[2022-04-28 07:48] csweichel commented on #9604
PR is in the works

[2022-04-28 07:58] jankeromnes opened #9607 "Gitpod dashboard messes with website SEO"
### Bug description

As reported [on Twitter](https://twitter.com/codepawn/status/1519579376882524161) (thanks Michel!), Gitpod's dashboard is now the first result you get when you [search "gitpod" on Google](https://www.google.com/search?q=gitpod):

<img width="955" alt="Screenshot 2022-04-28 at 09 49 00" src="https://user-images.githubusercontent.com/599268/165704077-bfd63795-c429-48d2-b038-994a

[2022-04-28 08:09] svenefftinge opened #9610 "[prebuilds] Delete prebuilds that are not on the tip of a branch"
We currently create prebuilds for every push and keep them until they get garbage collected. Most of them are not interesting as they no longer sit on the tip of a branch. While users can open workspaces on commits, it is not what they do so we can optimize by deleting all prebuilds as soon as they leave the tip of a branch.

[2022-04-28 08:18] jeanp413 commented on #9419
I could reproduce and yeah it's some config issue with the http server in svc/argocd-server, the port gets exposed correctly the thing is that the response from the server is a redirect to localhost as you said in your video

[code]

[2022-04-28 08:29] ArthurSens commented on #9419
I'm more than happy to close this issue if there's nothing to be done here :)

I'm sorry for taking your time investigating a dead-end 😬

[2022-04-28 08:45] jeanp413 commented on #9419
yeah I think it's fine to close it :+1:

[2022-04-28 09:04] corneliusludmann opened #9611 "[kots] Allow to add custom CA no matter which TLS option is selected"
Currently, in KOTS (Replicated) we allow to add custom CA certs only when you bring our own (probably self-signed) cert. For the case someone has an SCM with a self-signed cert but uses Cert-Manager for the Gitpod certs, there is no option to add the CA for the SCM to Gitpod. We could fix this by giving the option to add a custom CA in any case (no matter which cert you use for Gitpod) as long as

[2022-04-28 09:06] #9419 closed

[2022-04-28 09:24] jankeromnes commented on #9607
Update: We've decided to go with 2:

Source: [Slack (internal)](https://gitpod.slack.com/archives/C02EN94AEPL/p1651135687524419?thread_ts=1651133047.433819&cid=C02EN94AEPL)

[2022-04-28 10:16] loujaybee opened #9615 "Improve packaging + distribution of the local companion"
Currently, the local companion is downloaded and installed as an executable, which can lead to security warnings. We need to ensure the app can be downloaded from trusted registries, and signed where necessary to ensure user trust and prevent security warnings or flagging by anti-virus software etc.

https://developer.apple.com/documentation/notaryapi/submitting_software_for_notarization_over_the_

[2022-04-28 10:30] princerachit commented on #9280
I added [logs](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-04-28T09:05:17Z;query=resource.labels.container_name%3D%22ws-daemon%22%0Aresource.labels.namespace_name%3D%22staging-prs-prebuilds%22%0Atimestamp%3D%222022-04-28T09:05:17Z%22%0AinsertId%3D%22ji3zcneenz9u0u0c%22;timeRange=PT5M?project=gitpod-core-dev) to the code path where we perform fetch. The file permission looks co

[2022-04-28 10:30] gtsiolis commented on #7781
In case it helps, the only changes that were made to the **/projects** API endpoint from the release of the 14.9.3[[1](https://about.gitlab.com/releases/2022/04/12/gitlab-14-9-3-released/)] in April 12, 2022 to the next major 15.0 release which is already deployed on GitLab.com are the following two commits but not sure if these are related to the issue here.

[2022-04-28 11:28] locomoco28 opened #9618 "Support taint tollerations"
## Is your feature request related to a problem? Please describe

Gitpod only gets deployed on nodes with specific labels, but other workloads can be deployed on these nodes aswell. To fix this, the nodes can have taints applied to them. The Gitpod config should imo have an easy option to set taint tolerations instead of relying on post-processing the rendered manifest, because that's not recommen

[2022-04-28 11:51] shaal commented on #7781
@AlexTugarev Anything I can help with?

[2022-04-28 12:14] rcmurphy opened #9619 "Allow for automatic SSH trust"
## Is your feature request related to a problem?
Trusting individual workspaces is annoying

## Describe the behaviour you'd like

Use an OpenSSH CA to sign all workspace keys, avoiding the need to trust each individual host, and/or set the proper SSHFP DNS records to allow for DNS-based key trust for properly configured clients (probably the more secure of the two options IMO).

[2022-04-28 12:32] #9059 closed

[2022-04-28 13:16] mustard-mh opened #9621 "Gateway recent workspaces list won't refresh after logout and login"
### Bug description

Gateway recent workspaces list won't refresh after logout and login

<img width="1053" alt="image" src="https://user-images.githubusercontent.com/20944364/165760389-c1fc1b4b-3f43-4a06-abd5-303a010d4b5c.png">

### Steps to reproduce

1. Open Gateway with plugin Gitpod
2. Login one account A
3. Logout
4. Login another account B

### Workspace affected

_No response_

### Expecte

[2022-04-28 13:17] #9604 closed

[2022-04-28 13:18] meysholdt commented on #9000
[Fixed](https://gitpod.slack.com/archives/C01KGM9EBD4/p1651151885481809).

[2022-04-28 13:18] #9000 closed

[2022-04-28 13:19] meysholdt commented on #9000
How I solved the cert issue: https://github.com/harvester/harvester/issues/2199#issuecomment-1112114259

[2022-04-28 13:31] jankeromnes commented on #9607
I think this is a quick fix. Jumping on it as a quick break from #8041 😛

[2022-04-28 13:32] geropl commented on #9607
@jankeromnes Once done, please check with the other [seo issues](https://github.com/gitpod-io/gitpod/issues?q=is%3Aissue+is%3Aopen+label%3Aseo) and close/adjust if there is an overlap. :pray:

[2022-04-28 13:41] jankeromnes commented on #8196
I believe the solution would be to add the following HTTP header to all workspace preview responses:

[code]

Source: https://developers.google.com/search/docs/advanced/crawling/block-indexing

@geropl / @aledbf do you know where we could add this HTTP response header?

[2022-04-28 13:50] AlexTugarev commented on #7781
@shaal, can you check if there are any restrictions configured in the GitLab instance to the permission model?

I'll try to verify with a test instance of GitLab, maybe starting same version of GitLab in a workspace. But I don't yet see a way to proceed 😢

[2022-04-28 13:52] jankeromnes commented on #9607
Good idea! Done ✅

[2022-04-28 14:07] Terra316 opened #9626 "Gitpod has trouble loading large repos"
I would just like to be able to edit and compile my UE4 source with emscripten, but Gitpod can't load it. Can I get some help?

[2022-04-28 14:12] jenting opened #9627 "Fix the workspace integration tests that need a username in DB first"
### Bug description

The following integration tests need a username in DB first, however, the integration test should be able to mock the username into the DB rather than have a real username in DB.

- TestGitHubContexts
- TestWorkspaceInstrumentation
- TestGitActions

### Steps to reproduce

[code]

The above tests are skipped because of missing the username. The error message would be
[code]

E

[2022-04-28 14:14] ajhalili2006 commented on #9615
For Windows and macOS: Go for the regular code-signing step with a trusted CA.

For Linux: Things might go a bit tricky, since each distro has its own packaging formats and way to sign packages. If Gitpod prefers to manage the package repo for Local Companion themselves and not use distro-specifics, maybe GPG + checksums on both monthly releases and nightly builds is enough on my opinion.

[2022-04-28 14:16] #8508 closed

[2022-04-28 14:16] Terra316 commented on #9626
Never mind. It works fine as long as I don't use a custom docker image. However, for future reference, it would be nice for it to load with custom images.

[2022-04-28 14:16] #9626 closed

[2022-04-28 15:03] jmls commented on #8285
any update on this - it would save a lot of time and money ... ;)

[2022-04-28 15:06] jmls commented on #417
if you want to "skip" the prebuild, gitpod could also tag the commit witr the name of the previous prebuild (if there is one) so that the workspace could start quickly.

[2022-04-28 15:08] jmls commented on #7900
any updates on this ?

[2022-04-28 15:26] michaelcollabai opened #9629 "Workspace stopping while I'm working with it"
### Bug description

This is one example for an issue I've seen a couple of times this week.
I'm working with VS Code Desktop on a workspace and at some point notice that my files aren't saving anymore. The gitpod.io tab sill shows the workspace as running, but when I refresh after a while the workspace is "Stopping". It usually stays in that state far longer than if I stop the workspace myself.
A

[2022-04-28 15:30] shaal commented on #7781
@AlexTugarev Are you available for a chat / call on Gitpod Discord?
I don't know how to get access token to run `curl` commands like you did.
How can I tell if there are any restrictions configured in the GitLab instance to the permission model?

Also, we could ask/discuss some of these things with the people who are in charge of Drupal's infrastructure / Self-hosted Gitlab.

[2022-04-28 15:43] MrSimonEmms commented on #9444
I really don't know. I can't see any smoking guns in your config. Can I suggest you use [my k3s guide](https://github.com/MrSimonEmms/gitpod-k3s-guide) as I know that works?

[2022-04-28 15:50] wimax-grapl commented on #6243
^ 8671 has been closed out as no longer relevant; how does PVCs tie into this request now?

[2022-04-28 16:03] geropl commented on #7900
Hi @jmls, you can follow the current progress on the linked issue: https://github.com/gitpod-io/gitpod/issues/9229

As written in the description, we're currently focusing on our first internal client and their specific needs, and use the experience for that to lay out the foundations. How we're going to move forward beyond that specifically - e.g. how we prioritize adding more functionality is -

[2022-04-28 16:39] svenefftinge opened #9631 "Workspace contents not deleted"
### Bug description

I can still find *.tar files for old workspaces that are marked `hardDeleted` in the database.
For only my user this means we are unnecessarily carrying 3TB with us.

### Steps to reproduce

[code]

### Workspace affected

e.g. a002f42d-169a-463b-9d24-4b3f9d1ea844

### Expected behavior

Workspace contents should be deleted when a workspace is marked as deleted in the database

[2022-04-28 17:29] sagor999 commented on #6243
PVCs are part of this epic: https://github.com/gitpod-io/gitpod/issues/7901
Initial implementation doesn't explicitly target variable workspace sizes, but with support of PVCs it will be much easier to provide such flexibility.

[2022-04-28 18:43] axonasif commented on #9591
Hey @zpthree, from where are you trying to access them?

[2022-04-28 18:56] randomir commented on #8920
Let me rephrase my question: **why 2 seconds** in L50 of the `await-port`?

https://github.com/gitpod-io/gitpod/blob/bd3ba7cdecf78efb2e36d1665e3dc692460b0a33/components/gitpod-cli/cmd/await-port.go#L50

I would like to get to the bottom of why the difference in behavior on [our self-hosted version](https://ide.dwavesys.io/) (based on gitpod 0.9 / f496a745a08e9b8a2be23d8c0b5a326af09b69bc) and on [g

[2022-04-28 19:00] csweichel commented on #8920
The `await-port` code is very old. When it was written the port exposure did take some time because of DNS and the use Kubernetes services. None of those things plays a role anymore, we simply haven't come 'round to updating the `await-port` command :)

[2022-04-28 19:09] axonasif opened #9632 "Allow setting custom workspace `hostname`"
## Is your feature request related to a problem? Please describe

It would be nice if one could specify what their workspace Linux `hostname` can be.

## Describe the behaviour you'd like

Configure `hostname` from `.gitpod.yml`

## Describe alternatives you've considered

## Additional context

A user asked here internally: [frontapp](https://app.frontapp.com/open/cnv_j5aa2x6)

[2022-04-28 19:22] randomir commented on #8920
Ok, cool, thanks for the super quick answer.

Is there something we can do (I'm guessing on the infra side) on our self-hosted install (based on gitpod 0.9), to ensure the port is exposed within <insert-upper-bound>? Currently, not even those 2 seconds from the await-port are _always_ sufficient..

[2022-04-28 19:51] zpthree commented on #9591
@axonasif Trying to access them in the before and command tasks. I don't now if they're showing up in the before task or not because I switched over to use the automatic .dotfiles directory but that doesn't  seem to be available in the before command.

If I try to access them from the workspace (command line) they're not there, even with Visibility in Workspaces set to Visible.

[2022-04-28 20:15] qayshp commented on #2109
Marked stale, but I would use this! Can we reopen?

[2022-04-28 20:35] qayshp opened #9634 "Ability to add permissions for self-hosted, custom domains"
## Is your feature request related to a problem? Please describe
I love having the gitpod button show up on repositories at GitLab.com and Github.com, but don't get that pretty little button when on other installations of GitLab. This makes me sad.

## Describe the behaviour you'd like
An ideal implementation in Chrome would be like the JetBrains Toolbox Extension, which you can right-click on, an

[2022-04-28 20:36] qayshp commented on #9634
~label:"component: browser-extension"

[2022-04-28 21:18] shaal commented on #7781
@AlexTugarev, great news!
Neil Drumm (Drupal Association) was able to resolve the issue and wrote -
[code]

So now I can see DrupalPod (from Drupal's self-hosted Gitlab) and add it to my projects.
I do get 1 more error when I do that (although it seems that everything actually works as expected)
![image](https://user-images.githubusercontent.com/22901/165847397-eea2f122-5905-4161-87ad-520cbc3082d9

[2022-04-29 06:52] geropl commented on #7876
@mitchelsellers Thanks for raising again, I think we get similar requests quite often.

I'm not sure if this is something we'd work on in the near-term, because it's not just about workspaces, but also about prebuild execution and image builds (and where those images are stored/cached!). :thinking:

Some questions to better understand your usecase:
- Where would that option most useful:
  - projec

[2022-04-29 07:00] geropl commented on #8933
Cases I can think of:
 - (technical) websocket connection cannot be established: most common cause that triggers alert atm
If we had an unobtrusive alert component/banner, there are a lot of opportunities to use it for product-related stuff:
 - (product) warn/notify of double subscriptions (team+personal): we had an issue for that, cannot find it
 - (product) limit warnings for hour-limited subscr

[2022-04-29 07:04] geropl commented on #5290
@gengjiawen Do I understand correctly that you basically want the old "Gitpodify my project wizard" back? :thinking: IMO there was a bit of confusion before :point_up:

[2022-04-29 07:23] geropl commented on #9375
Dupe of: https://github.com/gitpod-io/gitpod/issues/8195

[2022-04-29 07:23] #9375 closed

[2022-04-29 07:34] geropl commented on #9564
This sounds as if the first problem is instransparency as to why the prebuild is not triggered earlier (bug or config issue?). The second one is to find out what the actual issues, and unblock @shaal

[2022-04-29 07:39] geropl commented on #9632
@axonasif Could you add more detail as to what's the motivation for this feature? :thinking: Is it about locally adjusting the hostname, or more about controlling a public DNS record? :thinking:

[2022-04-29 08:01] geropl opened #9639 "Abuse prevention: Ability to block workspaces by repository"
We saw a lot of (unintentional?) abuse over the last two weeks, mainly induced by [this repository](https://github.com/h0nde/roblox-claimable-group-finder).

In general it would be nice to be able to quickly respond to abuse/performance issues by (temporarily) blocking certain repositories.

[2022-04-29 09:19] aalcock commented on #5534
Adding a "me too". I am considering Gitpod for my team in Singapore, Thailand and the Philippines - but the ping time to EU/US makes it extremely painful (I'm getting between 200-400ms and I am on gigabit fibre).

[2022-04-29 09:33] geropl opened #9645 "Account Deletion might fail due to very old workspaces for unregistered clusters"
![image](https://user-images.githubusercontent.com/32448529/165919998-084c6c2c-38c1-4291-ba8a-91aa0f931503.png)

Internal discussion: https://gitpod.slack.com/archives/C032A46PWR0/p1651224485195929

Might very well be the cause for: https://github.com/gitpod-io/gitpod/issues/9631

[2022-04-29 11:57] ibrah3m commented on #9209
@geropl
### > 1. _injecting_/_overlaying_ a certain config (.gitpod.yml + Dockerfile) into a repository you don't have control over
Hi again, for me we don't need to Dockerfile but the main goal was this one, **yes** to be able to work on a public repository which not prepared to run in both gitpod and ddev (doesn't contain any yml & docker & ddev configs), we achieve that  by mix the public repo

[2022-04-29 12:18] ibrah3m commented on #9209
**>2- or sharing a certain config between multiple repos: that's what multi-repo support is for. Except that atm, it's limited to a 1-n connection, and the only way we can make prebuilds work.**

that's actually what we do we need to merge our configs in the public repo as I explained above .  :)

[2022-04-29 12:51] jankeromnes opened #9652 "Extend the DB schema and entities to support team subscriptions in teams"
Part of https://github.com/gitpod-io/gitpod/issues/7759 (public) / [RFC](https://www.notion.so/gitpod/Aligning-Team-Plans-and-Teams-9073db94359549918ab5c85cc364de46) (internal)

[2022-04-29 13:04] laushinka opened #9653 "Add mock implementation of GetPrebuild"
Mock implementation of GetPrebuild.
This will be updated later with the real logic.

[2022-04-29 14:30] weitzman commented on #7603
FYI I wasnt getting my dotfiles repo but the logs gave a clue at `~/.dotfiles.log`. I hadnt given Gitpod access to my private repos at Github. I fixed that and it now works as documented. Thanks for this feature.

[2022-04-29 15:02] geropl commented on #8195
Exactly my suspicion, at the code change seems to prove it. Will try to verify. :upside_down_face:

[2022-04-29 15:04] #8943 closed

[2022-04-29 16:43] kylos101 opened #9659 "[werft]: jobs fail often during "Flushing telemetry before stopping job""
### Bug description

Refer to [this build](https://werft.gitpod-dev.com/job/gitpod-build-main.3082) for an example. The build job fails often here.

The [preview environment](https://main.staging.gitpod-dev.com/workspaces) for main is alive "now" (9 minutes after the build was done), therefore I'm not sure that this was an actual failure.

I ask because if this is not real breakage, we should fix

[2022-04-29 18:54] axonasif commented on #9632
@geropl it's about altering the linux hostname, I tried to do this as an experiment (also mentioned in the frontapp link above) 🙏
https://github.com/axonasif/test/blob/test_hostname_change/.gitpod.yml

[2022-04-29 19:10] corneliusludmann opened #9660 "`NetworkIsReachableProbe` for `registry` has hard-coded `http` protocol and fails if registry is not listening on port 80"
`registry-facade` [[1](https://github.com/gitpod-io/gitpod/blob/811be9b72c288e3770cf1d90eb8b20ec39103edd/components/registry-facade/cmd/run.go#L134), [2](https://github.com/gitpod-io/gitpod/blob/811be9b72c288e3770cf1d90eb8b20ec39103edd/components/registry-facade/cmd/run.go#L138)] and `blobserve` [[3](https://github.com/gitpod-io/gitpod/blob/97bdaa6498529c2cce24e7c348db8df926149c49/components/blobs

[2022-04-29 19:14] corneliusludmann opened #9661 "Epic: [kots] Revise KOTS Installation Configuration UI"
### Summary:
A review, and subsequent fixes and improvements to the KOTS installation UI

### Context:
The current experience using the KOTS installation UI is not as good as we want it to be. There are several issues we want to work on - using the limited tools we have at our disposal (KOTS UI only has limited functionality). Issues:
- We don't link to the docs as much as we should to give more c

[2022-04-29 19:16] corneliusludmann opened #9662 "[kots] Add Docs for “Advanced customizations (Expert Mode)”"
([internal comment](https://gitpod.slack.com/archives/C01KLC56NP7/p1651251217917529?thread_ts=1651248380.457109&cid=C01KLC56NP7))

[2022-04-29 20:41] mickmister opened #9664 "Feature Request: When creating a multi-repo workspace from an `additionalRepository` project, allow the user to choose which commit to use for the `mainConfiguration` project"
## Is your feature request related to a problem? Please describe

Terms:
- parent project - maintains the Gitpod configuration for multi-repo project
- child project - the project pointing to the parent project, using `mainConguration` in `.gitpod.yml`

If I open a Gitpod workspace from a child project, I can only use the latest commit on the main branch of the parent project. I would like to be a

[2022-04-30 00:11] #9597 closed

[2022-04-30 03:23] jeanp413 opened #9667 "VS Code Release 1.67"
Endgame: https://github.com/microsoft/vscode/issues/148074

Expected release date: 05/04

DRI: @filiptronicek @jeanp413
Plan:

- [x]  Create corresponding release branches for `main` and `gp-code/main`
    - [x] Create release branch `release/1.67`
    	- Execute the rebase from upstream: `./scripts/sync-with-upstream.sh upstream/release/1.67 release/1.67`
    - [x] Create release branch `gp-code/

[2022-04-30 13:01] bigint commented on #5596
This is still not yet fixed 🤔

From India it always choose us clusters instead of eu

[2022-04-30 16:25] mickmister commented on #6736
+1 for @rfay's request for this to automate this!

[2022-05-01 12:33] MHipo commented on #8092
Tried opening gitpod remote on VSCODE desktop and got this error log:

[code]
The corresponding log file says:
[code]

[2022-05-01 13:31] #7143 closed

[2022-05-01 13:31] #7672 closed

[2022-05-01 13:31] #6691 closed

[2022-05-01 13:31] #7717 closed

[2022-05-01 13:31] #6818 closed

[2022-05-01 13:31] #7626 closed

[2022-05-01 13:31] #7149 closed

[2022-05-01 13:31] #598 closed

[2022-05-01 13:31] #7699 closed

[2022-05-01 13:31] #6684 closed

[2022-05-01 16:12] schickling commented on #7592
Still relevant.

[2022-05-01 16:26] hm2075 opened #9670 "Installer 2022.04.1 incorrectly sets openvsx url"
### Bug description

502 server error when finding extensions

### Steps to reproduce

install using 2022.04.1 installer

gitpod.config.yaml   contains

 openVSX:
  url: https://open-vsx.org

however when rendered to gitpod.yaml  it does a replace incorrectly to
"vsxRegistryUrl": "https://open-vsx.domain.com",

worked around this by manually replacing all these vsx urls

### Workspace affected

_N

[2022-05-02 00:47] kylos101 commented on #8901
@utam0k can you help me? Would it make sense to put the workaround in our dotnet chunk/base image https://github.com/gitpod-io/workspace-images/blob/main/chunks/tool-dotnet/Dockerfile, too? What you shared is a template that customers use for dotnet, but they don't have to necessarily use the template.

[2022-05-02 00:55] utam0k commented on #8901
@kylos101 I think this workaround should be included because .Net uses will always run into this problem with using SaaS. And  We don't know when this problem will be solved. So I have already sent out the PR.
https://github.com/gitpod-io/workspace-images/pull/820

[2022-05-02 01:07] #9627 closed

[2022-05-02 03:41] princerachit opened #9673 "Investigate Pending for long duration while the actual state was pod terminating"
### Bug description

Several prebuild pods were stuck in terminating phase for several hours in `us43` and `us43xl` clusters. However, the phase count in the dashboard was `Prebuild Pending`. Investigate why we had a conflicting states.

~~The outcome of this issue can be another issue to add timeout to pending prebuilds.~~

This problem impacted prebuild and regular.

Most of the nodes on which t

[2022-05-02 03:50] princerachit opened #9674 "[observability] Create an alert when prebuilds are stuck in pending state"
## Is your feature request related to a problem? Please describe

An alert should be triggered when there are prebuilds stuck in pending state.

## Describe the behaviour you'd like

An alert should be triggered when there are prebuilds stuck in pending state.
## Describe alternatives you've considered

NA

## Additional context

See https://github.com/gitpod-io/gitpod/issues/9673

[2022-05-02 03:56] kylos101 commented on #7934
@Furisto in hindsight, I think we should convert this into an epic, so that we can pick away at the bulleted items in the description. wdyt?

Let's catch up Tuesday to socialize? I wonder if there are other tasks that you think might be valuable to add to this, too.

CC: @atduarte

[2022-05-02 04:04] kylos101 commented on #9674
Hey @princerachit , wdyt of including regular workspaces too? I think excluding image builds makes sense, for now, as they're in the webapp cluster, but moving to workspace cluster soon.

[2022-05-02 04:07] princerachit commented on #9674
Hey @kylos101 sure, Let me check if GitpodWorkspaceTooManyRegularNotActive is any different. I will update this issue accordingly

[2022-05-02 04:17] princerachit commented on #9673
As @utam0k pointed out in an internal slack thread here is a [log](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-05-01T22:04:48Z;pinnedLogId=2022-05-01T22:04:48Z%2F0651t6si9ycfawrx;query=resource.labels.pod_name%3D%22prebuild-025802bb-ad03-41d8-a5e4-d95ca82c3b69%22%0Atimestamp%3D%222022-05-01T22:04:48Z%22%0AinsertId%3D%220651t6si9ycfawrx%22;timeRange=PT9H?project=workspace-clust

[2022-05-02 05:55] LaCocoRoco commented on #898
For OAuth2 Redirect Callback are necessary.
As suggested in this Issues i started to use cloudflare.
Is there any other way to handle this problem?
[code]

[2022-05-02 06:08] princerachit commented on #9674
Regular not active looks different from pending state. As captured in this runbook. When regular not active then the phase is creating.

I will update the issue to capture both prebuilds and regular workspaces

[2022-05-02 07:32] geropl opened #9676 "Finished prebuild does not switch to "available" after execution is finished (stuck in "running")"
Note: self-hosted installation

![blacked](https://user-images.githubusercontent.com/32448529/166204098-1b0d1f22-02be-40fa-80d1-3b27bb5a9661.png)

![image](https://user-images.githubusercontent.com/32448529/166199961-62922b67-8282-4725-935e-565949c545b9.png)

[2022-05-02 07:34] geropl commented on #9676
Not sure what's the cause here: UI bug, or status update gone wrong.

prebuild id: `b02d6a68-1b71-4958-b852-1d0fa4978453`

[2022-05-02 07:47] meysholdt opened #9678 "clean-slate-deployment should behave gracefully if there is nothing to clean"
## Is your feature request related to a problem? Please describe
Right now, the deploy-to-preview-environments on `main` fails, because the job has `clean-slate-deployment` enabled but there is no old preview environment to clean.

Example: https://werft.gitpod-dev.com/job/gitpod-build-main.3090

## Describe the behaviour you'd like
Don't fail if `clean-slate-deployment` is enabled but there is no

[2022-05-02 08:37] geropl commented on #9676
(possibly) related to #8195

[2022-05-02 08:41] akosyakov opened #9680 "[code-desktop] hearbeating is broken"
### Bug description

Users were reporting via support channel that hearbeating does not work anymore.
I tried to use as well and could not hearteating traces in `Gitpod Workspace` channel anymore.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-02 09:19] #9678 closed

[2022-05-02 09:35] mads-hartmann commented on #9678
Latest build on main succeeded https://werft.gitpod-dev.com/job/gitpod-build-main.3092 ☺️

[2022-05-02 09:38] meysholdt commented on #8746
fixed via https://github.com/gitpod-io/gitpod/pull/9671

[2022-05-02 09:38] #8746 closed

[2022-05-02 09:39] meysholdt commented on #8724
Fixed via https://github.com/gitpod-io/gitpod/pull/9671: use a Docker Hub account instead of installing/maintaining our own image registry.

[2022-05-02 09:39] #8724 closed

[2022-05-02 10:03] #9556 closed

[2022-05-02 10:20] princerachit commented on #7645
We decided that we can live with magnifiers button not working in the dashboard. So marking this as done. See the relevant internal [slack thread ](https://gitpod.slack.com/archives/C01KGM9D8LE/p1651456291807269?thread_ts=1651136493.159209&cid=C01KGM9D8LE)for more details

[2022-05-02 10:20] #7645 closed

[2022-05-02 10:54] #8413 closed

[2022-05-02 11:09] #9674 closed

[2022-05-02 11:14] Shaked commented on #9172
Is there any workaround for that?

[2022-05-02 11:21] meysholdt opened #9684 "Upgrade VM image"
## Is your feature request related to a problem? Please describe
Upgrade to the latest image that workspace clusters are using.

The instance template "[workspace-ws-eu43xl-pool](https://console.cloud.google.com/compute/instanceTemplates/details/workspace-ws-eu43xl-pool?project=workspace-clusters)" uses image "[gitpod-k3s-202204270643](https://console.cloud.google.com/compute/imagesDetail/projects

[2022-05-02 11:26] csweichel opened #9685 "[IDE] Make desktop IDEs contribute their own actions"
## Is your feature request related to a problem? Please describe
Today desktop IDEs assume that there's a link they can redirect to. This is not always the case. Sometimes a desktop IDE is used by running a command (e.g. #9323). If we wanted to introduce means other than redirecting to a URL, such as displaying some additional content, we would need to extend the dashboard on a case-by-case basis.

[2022-05-02 11:26] jldec commented on #7597
Yeah, that was a typo - thanks for noticing @laushinka

[2022-05-02 12:31] akosyakov commented on #6525
yes, let's close it

[2022-05-02 12:31] #6525 closed

[2022-05-02 12:36] jankeromnes opened #9687 "Support rr debugger (record-replay) by allowing the syscall `perf_event_open` in Gitpod workspaces"
## Is your feature request related to a problem? Please describe

Debugging software with [rr](https://rr-project.org/) in Gitpod currently doesn't work:

[code]

Initially reported by William Durand from Mozilla: https://twitter.com/couac/status/1521092130890031105

## Describe the behaviour you'd like

I suspect this fails because Gitpod's seccomp profile disables the syscall `perf_event_open` b

[2022-05-02 12:41] utam0k opened #9688 "Correctly display workspace's memory usage when running `free`"
Old title: "Intercepting sysinfo using seccomp notify"

## Is your feature request related to a problem? Please describe

Running the `free` command or other commands in the current workspace will display the host's memory usage. We should be able to work around this by intercepting `sysinfo` with seccomp notify and getting it from the cgroup value.  Also, memory is just one example, but perhaps o

[2022-05-02 12:42] jankeromnes commented on #9687
William also correctly [pointed out](https://twitter.com/couac/status/1521106718394138626) that we might want to make sure `rr` actually supports AMD CPUs first:

[2022-05-02 12:51] utam0k commented on #9521
How about this kind of solution?
https://github.com/gitpod-io/gitpod/issues/9688

[2022-05-02 12:59] willdurand commented on #9687
FWIW, this first warning cannot be solved currently. Creating the `/etc/sysctl.d/10-rr.conf`  file and reloading `sysctl` will skip the config file:

[code]

We can use `record -n` apparently, though. That being said, with `5.5.0` (installed as described in the issue above), there is another error:

[code]

What do we do now? We [build `rr`](https://github.com/rr-debugger/rr/wiki/Building-And-Inst

[2022-05-02 13:41] corneliusludmann commented on #5512
Closing this since it seems stale. Please let me know if this is still relevant.

[2022-05-02 13:41] #5512 closed

[2022-05-02 13:43] corneliusludmann commented on #6357
Consider this as closed with https://github.com/gitpod-io/gitpod/pull/9495. Please re-open if not.

[2022-05-02 13:43] #6357 closed

[2022-05-02 13:46] corneliusludmann commented on #7214
Is this still an issue? Based on the internal Slack discussion linked above, I would say that this is not important anymore!?

[2022-05-02 13:58] corneliusludmann commented on #7253
Is this still an issue? If yes, this is something for team workspace.

[2022-05-02 14:39] corneliusludmann commented on #7890
Fixed by https://github.com/gitpod-io/website/pull/1942

[2022-05-02 14:39] #7890 closed

[2022-05-02 14:42] laushinka opened #9693 "Move log middleware into baseserver"

[2022-05-02 14:52] meysholdt commented on #9659
([mention in Slack](https://gitpod.slack.com/archives/C01KGM9EBD4/p1651250691079339))

[2022-05-02 15:28] geropl commented on #9676
We had a chat with the user: in this case we have a bug in the state mapping (instance => prebuild): Snapshots could not be stored (because minio was out of disk space), and an instance update of `{"status": 6, "snapshots": ""}` did not results in a system failure (state: "failed" + "error")

[2022-05-02 15:34] geropl opened #9695 "[Projects/branches] UX confusion: "commit" is assumed to match "prebuild""
![image](https://user-images.githubusercontent.com/32448529/166261968-4b553d8d-20da-411a-b659-4a6bab73eb6f.png)
In this view users often assume that what they see as "commit" is the basis for the prebuild that's linked under the "prebuild state" (here: running).
This is not true:
 - the Git state is fetched from the hoster directly, and represents the latest HEAD state
 - prebuild is just the late

[2022-05-02 15:35] geropl opened #9696 "[bridge] Logs certificates"

[2022-05-02 15:36] corneliusludmann commented on #7396
Closing due to innactivity. Please feel free to open a new issue with more information when the error still exists.

[2022-05-02 15:36] #7396 closed

[2022-05-02 15:37] geropl opened #9697 "Workspace list: once a workspace is "stopped", there is no way to tell the error message"
This could be made accessible, e.g. with a hover.

[2022-05-02 15:39] geropl opened #9698 "[Self-Hosted] minio PVC defaults to 8Gi only"
We should fix two things:
 - choose a sane default that does work for some minimal testing (maybe 50Gi?)
 - provide means for users to (optionally) configure it without `yq`ing the resulting yaml

[2022-05-02 15:44] corneliusludmann commented on #7787
Solved with KOTS (Replicated) as recommended installation method.

[2022-05-02 15:45] #7787 closed

[2022-05-02 15:45] corneliusludmann commented on #7820
Done with https://github.com/gitpod-io/website/pull/1942

[2022-05-02 15:45] #7820 closed

[2022-05-02 15:47] corneliusludmann commented on #7853
Solved with KOTS (Replicated) as recommended installation method.

[2022-05-02 15:47] #7853 closed

[2022-05-02 15:56] corneliusludmann commented on #8693
@rbicker / @SimonHaas, in case it is still relevant for you: Could you please try to remove the network policies of blobserve?
[code]

[2022-05-02 16:11] DRSchlaubi opened #9700 "Epic: JetBrains dedicated ports window"
A dedicated ports view in JetBrains

Related issues:
- https://github.com/gitpod-io/website/issues/2958

<details>
  <summary>Original issue</summary>

## Describe the behaviour you'd like
In VS Code their is a Gitpod tool window for ports, IntelliJ has UI for ports, however that only works on the local machine the client is installed on, if you want to use the Gitpod port forwarding, you need to

[2022-05-02 16:50] MrSimonEmms commented on #7245
As far as I know, there's no one currently suffering this issue but I can imagine that if it does come up, we'll need to fix it quickly

[2022-05-02 16:53] SimonHaas commented on #8693
Problem still there. Removing the network policies did not help.

I will try the new web-installer and give feedback later this week.

[2022-05-02 16:57] corneliusludmann commented on #8693
Are you using calico as CNI? See also: https://www.gitpod.io/docs/self-hosted/latest/cluster-set-up/on-k3s

[2022-05-02 17:05] sagor999 commented on #7902
not stale.

[2022-05-02 17:20] jankeromnes commented on #9631
After [further investigation](https://github.com/gitpod-io/ops/issues/2087#issuecomment-1115135240) (internal), the most likely culprit for the increased storage seems to be that, when we garbage-collect old prebuilds, we do not properly delete to contents from the GCP bucket.

Here is the relevant code:

https://github.com/gitpod-io/gitpod/blob/50d7afdd9a20f50228bdb42a8148a7206d564c24/components/

[2022-05-02 18:02] MrSimonEmms commented on #9698
Rather than exposing loads of config for dependencies in the Installer, could you configure a separate Minio installation on your cluster (with Helm) and the connect Gitpod to it as an S3 store?

We definitely need to document this better, but that's my thoughts on more fine-grained config of our in-cluster dependencies

[2022-05-02 18:26] ionutale opened #9702 "plan remaining hours and progress bar"
### Bug description

on the plan page, the text in combination with hours and colors needs a bit of improvement.

i mean this
<img width="455" alt="Screenshot 2022-05-02 at 20 20 12" src="https://user-images.githubusercontent.com/2562455/166303325-c0c08d8b-add3-4d5b-abe1-61f872b3f9ea.png">

makes more sense than this at UX level
<img width="447" alt="Screenshot 2022-05-02 at 20 20 33" src="https:/

[2022-05-02 18:28] #9653 closed

[2022-05-03 05:40] ttauchen opened #9709 "Invoice via Mail | Multiple Invoice Recipients"
## Is your feature request related to a problem? Please describe
I am required by my comapany to provide the invoice of every tool / license i order via the company credit card.

## Describe the behaviour you'd like
Invoices beeing send out to a configured email address.

## Describe alternatives you've considered
Invoice beeing send out to the "plan owner".

## Additional context
Most cloud servi

[2022-05-03 05:44] ttauchen commented on #9709
Aaaaaan i found the option. Sorry.

Maybe it wasn't there when we started a long time back with you OR i missed it.

Cheers.

[2022-05-03 05:44] #9709 closed

[2022-05-03 06:47] geropl commented on #9631
@jankeromnes Did you check:
 - `server` logs for `wsgc: error during prebuild deletion`?
 - honeycomb traces `name = deleteOldPrebuilds`, especially a `HEATMAP(nrOfCollectedPrebuilds)` would be interesting

[2022-05-03 06:58] geropl commented on #9698
Maybe documentation is already it, or making more clear that this is _really not recommended_ to use in-cluster minio. But people tend to forget what they configured during installation time, and later are upset that their Gitpod does not work. :confused:

Just wrote it up this way ("add to our config") because that was the immediate reaction from the user: He did not care at all if minio is one o

[2022-05-03 07:03] geropl opened #9710 "[ws-manager] If a prebuild's snapshot fails with "out of disk" it does not report "failed" (just empty "snapshot")"
Corollary to: https://github.com/gitpod-io/gitpod/issues/9676

version: `2022.04.1` (self-hosted installation)

Instead of resulting in an status update of `"phase": 6, "conditions": { "failed": "some error" }`, ws-manager-bridge receives:
[code]

[2022-05-03 07:20] gtsiolis commented on #9702
Thanks for bringing this up, @ionutale! The proposal sounds like a good MVC (minimum viable change) with low impact.

We're currently working towards a usage-based pricing and will update this page in upcoming months, see https://github.com/gitpod-io/gitpod/issues/9036.

In the meantime, I've marked this as a ~good-first-time issue in case anyone from the community would like to pick this up.

[2022-05-03 08:14] darach commented on #6243
We are hitting size limits frequently with [tremor](https://github.com/tremor-rs/tremor-runtime) so an option to use/configure higher sizes would be great. A ( paid ) team plan that could allocate size limits by contributor would be of interest to us for sure!

[2022-05-03 08:56] laushinka opened #9712 "Public API server Metrics are scraped by Prometheus and show up in Grafana"

[2022-05-03 09:23] meysholdt opened #9713 "`install-k3s-kubeconfig.sh` should be agnostic to the CWD"
## Is your feature request related to a problem? Please describe

([src](https://gitpod.slack.com/archives/C01KGM9EBD4/p1651566454293699))

[2022-05-03 09:43] jenting commented on #9575
The supervisor opens the port on 22999 on IPv6 localhost address
[code]

Port forward to address 0.0.0.0 with local port 32999 to remote port 22999
[code]

Access with supervisor endpoint
[code]

I tried change the port-forward with `--address=localhost`
[code]

The supervisor opens the port on 22999 on IPv6 localhost address, and opened port 32999 on IPv4 and IPv6.
[code]

Access with supervisor

[2022-05-03 09:48] #7214 closed

[2022-05-03 09:49] GiooRomanadze commented on #1594
This is still an issue.

[2022-05-03 09:50] MrSimonEmms commented on #7476
Now included on https://www.gitpod.io/docs/self-hosted/latest/cluster-set-up#node-and-container-requirements

[2022-05-03 09:50] #7476 closed

[2022-05-03 10:36] princerachit commented on #9280
I am moving this issue into blocked state. See internal [slack thread](https://gitpod.slack.com/archives/C02F19UUW6S/p1651490322450949).

Gist: The snapshot contains the hidden submodule. When we run the git fetch -p --tags command, git finds that there was an update in the hidden submodule's sha reference. It then tries to update the submodule. However, the ssh-key required to fetch this submodul

[2022-05-03 10:44] ashutoshdhande commented on #9702
@gtsiolis may I work on this sir?

[2022-05-03 10:50] ionutale commented on #9702
@ashutoshdhande check this PR
https://github.com/gitpod-io/gitpod/pull/9716

[2022-05-03 11:42] jeanp413 commented on #9680
Took a look and heartbeat is send successfully to the server, also added a few missing events to send heartbeats https://github.com/gitpod-io/openvscode-server/commit/e400c62d05b8c92cf591d2debe975313b7232c83 and published a new version of the extension.

P.S.: Heartbeat traces are not shown in the `Gitpod Workspace` as it's just too much noise to have them logged, instead we log if there's any err

[2022-05-03 11:42] #9680 closed

[2022-05-03 11:54] jeanp413 opened #9719 "Connecting to a workspace with ssh gives error as RSA/SHA1 is deprecated"
RSA/SHA1 is deprecated https://www.openssh.com/txt/release-8.8

In the meantime we can add `-oHostKeyAlgorithms=+ssh-rsa` to the ssh command as a workaround

[2022-05-03 12:59] khuey commented on #9687
kernel.perf_event_paranoid is a single global config setting for the whole kernel. It can't be set inside a container.

This is perf_event_open(2) being disallowed by the seccomp policy.

[2022-05-03 13:06] CyriacBr commented on #9505
I have this issue as well. I removed the default `watch` command from `.gitpod.yml`, committed then pushed the changes (to main), but that command is still ran whenever I open the pod.

[2022-05-03 13:21] gtsiolis commented on #9702
No need to ask for permission, @ashutoshdhande! Feel free to open a PR for anything that you would like to contribute to.

I'd just make sure there's no linked PR anywhere in the issue and there's no assignee. In this case, looks like @ionutale moved fast and opened a PR to resolve this.

[2022-05-03 13:37] Furisto opened #9722 "Verify that started workspaces are entering running state on a node"
## Is your feature request related to a problem? Please describe
When performing a load test with loadgen we need verify that started workspace enter running state.

## Describe the behaviour you'd like
Start workspaces and then use the ws-manager workspace updates to get the workspace state.

[2022-05-03 13:41] Furisto opened #9724 "Create workspace repository for load testing"
## Is your feature request related to a problem? Please describe
Create a workspace repository that can be used for load testing.

## Describe the behaviour you'd like
Create repository which starts IO, CPU and memory tasks when creating the workspace.

[2022-05-03 14:13] kellySmi commented on #8145
Is there an open ticket for this issue, as I am still experiencing it. I noticed when viewing the browser in a second monitor is when this issue occurs. Viewing the browser in my laptop display, it looks as expected.

[2022-05-03 14:42] hm2075 opened #9728 "Installer 2022.04.1 extend timer regression"
### Bug description

new version no longer applies the extended timer option

times out after 30 mins

### Steps to reproduce

install latest version,   extend workspace timeout to 3h and wait 30 mins

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-03 14:46] kylos101 opened #9729 "workspace-preview: test image build in governed workspace-preview cluster"
Depends on: https://github.com/gitpod-io/gitpod/issues/9143

Setup a branch that:
1. allows all ingress for image-builder-mk3
2. at install time, sets the `movedImageBuilder` defaultFeatureFlag

To test:
  1. Create two single node clusters (webapp and workspace, govern the workspace one to webapp) using [workspace-preview](https://github.com/gitpod-io/workspace-preview)
  2. Image builds should w

[2022-05-03 14:48] sagor999 commented on #6243
@darach Unleashed plan already offers 50GB workspace size. You might want to try that.

[2022-05-03 15:18] jankeromnes commented on #9631
Good ideas @geropl, thanks. Will look into this.

Also, at first glance, my current guess is that we successfully delete GC'd prebuild backups for **US users**, but fail to delete them for **EU users**.

[2022-05-03 15:54] jldec commented on #8982
merging into #8983

[2022-05-03 15:54] #8982 closed

[2022-05-03 17:18] gsharma-jiggzy commented on #5409
@pawlean @cnukwas sorry had to drop openshift due to a shift in work.

[2022-05-03 18:31] sagor999 opened #9736 "Fix GitpodWsDaemonCrashLooping"
### Bug description

Currently [it fires ](https://github.com/gitpod-io/gitpod/blob/f70a58cea9c55574ce2dd12a10c9e2b3bd9e4042/operations/observability/mixins/workspace/rules/components/ws-daemon/alerts.libsonnet#L13)even when daemon crashes once and recovers.

### Steps to reproduce

n\a

### Expected behavior

We should change pagerduty alert to fire only when daemon is crash looping.

### Example

[2022-05-03 19:27] shawalli opened #9739 "Make terminal prompt user configurable"
## Is your feature request related to a problem? Please describe
My immediate request is to have the timestamp included as part of the terminal prompt. Having a timestamp record of commands run helps to track numerous things, such as how long a command took to run, when it was run, etc.

However, I think it'd be great to build in some prompt configuration into .gitpod.yml somehow. Even if it began

[2022-05-03 21:36] anonymouse-jj opened #9743 "Dockerfile multi stage support"
I often have different stages in a single Dockerfile and I'd like the option to specify the target in .gitpod.yml

Example .gitpod.yml:

[code]

[2022-05-03 21:38] #9142 closed

[2022-05-03 21:38] #9442 closed

[2022-05-04 00:11] david-bakin opened #9745 "`gp open` doesn't open file in desktop VSCode - just hangs"
### Bug description

Open some workspace using desktop VSCode.  Open a file, e.g., `gp open /home/gitpod/.bashrc`.

Expected result:  `~/.bashrc` opens in VSCode.

Actual result: `gp` command hangs.  Nothing happens in VSCode.

### Steps to reproduce

Open some workspace using desktop VSCode.  Open a file, e.g., `gp open /home/gitpod/.bashrc`.   Observe that `gp` simply hangs.

### Workspace affec

[2022-05-04 04:37] jenting opened #9749 "Change workspace integration tests nightly from core-dev to preview environment"
### Bug description

The platform team recently (May 2) change the default environment as preview environment, deprecated the core-dev.
https://gitpod.slack.com/archives/C032A46PWR0/p1651473669803169

Therefore, the nightly integration test can't run successfully.

### Steps to reproduce

Run the werft job
[code]

### Workspace affected

_No response_

### Expected behavior

_No response_

### Exa

[2022-05-04 04:45] anuragpathak21 opened #9750 "Self hosted integration with BitBucket Cloud does not work"
### Bug description

Self hosted integration with BitBucket Cloud
GitPod advertise integration with BitBucket even for self-hosted and fail to mention it's only BitBucker Server. This is very misleading. I wasted a day installing and realizing this fact too late.

### Steps to reproduce

Install GitPod self hosted and try to integrate with bitBucket Cloud

### Workspace affected

_No response_

##

[2022-05-04 06:52] geropl commented on #9149
@jldec Why not remove it completely? This being a DCS issue is correct I think.

@MichaelAring Happy to help out, though, with some historical context. :+1:

[2022-05-04 08:25] corneliusludmann opened #9751 "[eks-guide] Reduce variance by using the CLB load balancer instead of the ALB load balancer in the EKS Guide"
In our [EKS guide](https://github.com/gitpod-io/gitpod-eks-guide/), we currently use the ALB load balancer instead of the CLB load balancer. This was for historical reasons where we needed to do the TLS termination in the load balancer. However, our supported setup does the TLS termination in the proxy component. Also ALB breaks the SSH support (and thus the support for desktop IDEs).

To reduce v

[2022-05-04 08:44] #8906 closed

[2022-05-04 08:54] Pothulapati commented on #9751
Yep, As you rightly said, We use a a ALB right now preventing us from doing SSH there.

I'll updathe repository to instead create a CLB so that this is fixed!

[2022-05-04 09:14] easyCZ opened #9752 "Expose Public API in Staging on SaaS"
So far we've only configured Public API to be deployed in Preview Environments. We would like to also deploy it in staging environments.

This entails adding the `experimeental.webApp.publicApi` config to the staging deployment such that it gets deployed.

Acceptance Criteria:
* Public API deployed in staging
* Public API is reachable

[2022-05-04 09:16] easyCZ commented on #9752
This is how we enabled it in preview: https://github.com/gitpod-io/gitpod/pull/9260

[2022-05-04 09:48] andreafalzetti commented on #7639
I was about to create an issue for this, but it already exists, so +1 from me too :)

[2022-05-04 09:50] jankeromnes commented on #9149
FYI `gitpod-staging.com` is now already de-indexed via `robots.txt` (and `noindex` meta tag).

So only `www.gitpod-staging.com` remains to be taken down, or at least de-indexed.

[2022-05-04 10:35] loujaybee opened #9757 "Epic: Integrate Auth + Workspace Management API's into VS Code Desktop"
| Context             | Integrate the newly created workspace Authentication and workspace management API's [#8512](https://github.com/gitpod-io/gitpod/issues/8512) into VS Code Desktop. |
|---------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2022-05-04 10:41] #8991 closed

[2022-05-04 10:43] loujaybee commented on #8513
Decreased scope to only SSH gateway integration.

Moved API integration for VS Code Desktop to separate epic: https://github.com/gitpod-io/gitpod/issues/9757

[2022-05-04 10:51] mrzarquon commented on #9719
the root is go/ssh and it looks to be almost done: https://github.com/golang/go/issues/49952

[2022-05-04 11:12] mrzarquon commented on #9751
It looks if we can move the SSH service to stand alone and configure it as loadbalancer, if one has an aws load balancer controller (not an ALB) properly configured, it should create the corresponding NLB: https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/service/nlb/

This has the benefit of continuing to use an ALB for SSL traffic to proxy, because in some customer enviro

[2022-05-04 11:24] #8122 closed

[2022-05-04 11:35] andreafalzetti commented on #9149
thanks @jankeromnes, I've updated the issue description

[2022-05-04 11:42] princerachit commented on #9575
Hi, I am looking into this error. Will update this issue once I find something.

[2022-05-04 11:59] AlexTugarev commented on #7781
@shaal, oh I missed the last paragraph of your last message.

That's a pity, that basically means, we'd need to scan the API surface used in Gitpod to enable it, right?
Just to make sure, is allow-listing of `GET /api/v4/*` no option at all?

[2022-05-04 12:06] #9713 closed

[2022-05-04 12:08] AlexTugarev commented on #7781
From reading https://github.com/gitpod-io/gitpod/blob/main/components/server/src/gitlab/api.ts#L101-L112, I can tell it's at least the following list of request (query params omitted)

[code]

[2022-05-04 12:13] AlexTugarev commented on #7453
@jldec, are you fine with closing this issue?

I think we need to start reading `https://<gitlab>/api/v4/version`

[2022-05-04 12:36] jldec commented on #9639
scheduled

[2022-05-04 12:56] #8883 closed

[2022-05-04 13:03] AlexTugarev commented on #9639
Taking it from here.

[2022-05-04 13:31] AlexTugarev commented on #8195
I was just hitting the same issue. I forgot to take a screenshot, but I verified that the `onPrebuildUpdated` (`available`) event  was received on 2nd or 3rd websocket connection and not on the initially created one.

[2022-05-04 14:02] MrSimonEmms commented on #9074
Looks like all the tasks are done so will close.

Reopen if necessary (and add more tasks)

[2022-05-04 14:02] #9074 closed

[2022-05-04 14:03] MrSimonEmms commented on #8905
I'm going to propose that, as this is covered by the dashboard, it's not needed yet

[2022-05-04 14:03] #8905 closed

[2022-05-04 14:10] lucasvaltl commented on #9562
Breaking change to every Gitpod installation out there - likely not worth the effort. Benefit - removes naming inconsistency. Drawback - everyone has to update Gitpod and their nodelabels. Won't do for now.

[2022-05-04 14:38] MrSimonEmms opened #9763 "Admin license screen showing "exceeded usage limit" on unlimited user license"
### Bug description

There is an error message on the admin license page saying that we've exceeded the number of users allotted by the license.

![image](https://user-images.githubusercontent.com/275848/166704695-1f2d12db-bc13-436d-85b7-9b2ff37a053b.png)

### Steps to reproduce

Go to Admin panel, license on gitpod.io

### Workspace affected

_No response_

### Expected behavior

The error messag

[2022-05-04 14:41] gtsiolis commented on #9763
Nice catch, @MrSimonEmms! ⚾

It's also really great that now we surface this kind of information in the Gitpod.io instance. ✨ Cc @nandajavarma

Thank you for also deducting sensitive information from the screenshots. 🙏

[2022-05-04 15:09] princerachit commented on #9575
### Workspace logs
The workspace created through this test has the following logs

[code]

[2022-05-04 15:14] gtsiolis commented on #9763
@nandajavarma License type is missing but maybe that's expected in the case of Gitpod.io? Asking in case we could include a fallback here or adjust the layout (UX) in this case. Cc @MrSimonEmms

[2022-05-04 15:38] gtsiolis opened #9767 "Hide license type in admin dashboard when not applicable"
### Problem to solve

In **[/admin/license](https://gitpod.io/admin/license)** there are some edge cases where license type is not applicable.

Cc @nandajavarma @MrSimonEmms because https://github.com/gitpod-io/gitpod/issues/9763

| Screenshot from the license page in an instance |
|-|
| <img width="1021" alt="Frame 1059" src="https://user-images.githubusercontent.com/120486/166717927-8d5ed49e-bf7

[2022-05-04 15:55] gtsiolis commented on #8779
@geropl I had a note somewhere to come back to this.

We added this tooltip (title) back in https://github.com/gitpod-io/gitpod/pull/5323 to avoid hiding with truncation the full repository URL, see https://github.com/gitpod-io/gitpod/issues/8686#issuecomment-1062885768:

Re-posting from the same comment in https://github.com/gitpod-io/gitpod/issues/8686#issuecomment-1062885768:

I'll close this i

[2022-05-04 15:55] #8779 closed

[2022-05-04 16:24] josh-braid opened #9770 "Make it easy to get the ssh connection parameters inside browser editor"
## Is your feature request related to a problem? Please describe
Often, I open the gitpod editor and want to copy the ssh connection line, but it's not in the hamburger menu, so I have to open a new tab to go to my workspaces and copy the link.

## Describe the behaviour you'd like
I'd like to be able to get the link from inside the gitpod window, maybe in the hamburger menu next to the "Open in V

[2022-05-04 16:29] princerachit commented on #9575
The port-forward will always fail for supervisor port. When kubectl tries to port forward it does that in context of a network namespace. This network namespace is the one which was originally created for the pod. This is the same nw namespace where `./workspacekit ring0` command was run (the entrypoint). `workspacekit` creates a new set of namespaces in ring1 which in turn creates another set of

[2022-05-04 16:30] nandajavarma opened #9772 "[bug] Handle the case when there is no expiry date on a professional plan"
**Problem to solve**

In the admin dashboard, when the license is professional and if there is no expiry date, we get an unexpected behavior. The tagline under the license name says `Expires on Jan 1, 1` which instead should just say `Paid`.

[2022-05-04 16:47] #8901 closed

[2022-05-04 18:39] kylos101 opened #9775 "Epic: fully support cgroup v2"
### Summary

Our initial attempt at supporting cgroup v2 is located [here](https://github.com/gitpod-io/gitpod/issues/8350).

We ran it in production for a short while (April 11-April 20th, roughly). During this time, we had trouble with CPU and IO limiting, which forced a downgrade to cgroup v1.

The intent of this epic is to fully support cgroup v2 again, and remain on it, at least for the saas.

[2022-05-04 18:40] kylos101 opened #9776 "Support docker resource constraints"
## Is your feature request related to a problem? Please describe

Docker containers are subject to the resource constraints for their Gitpod workspace. Some customers would like to limit the resources that containers can use. This is to support testing of their applications using resource limits, but also prevent the Docker container from starving the Gitpod workspace of resources.

## Describe th

[2022-05-04 20:28] #9639 closed

[2022-05-05 05:15] jenting opened #9782 "Workspace integration test TestBaseImageBuild and TestParallelBaseImageBuild failed again"
### Bug description

The workspace integration tests TestBaseImageBuild and TestParallelBaseImageBuild failed again but with different error message
[code]

### Steps to reproduce

[code]

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-05-05 05:37] princerachit commented on #9782
This error is probably due to [this recent change](https://github.com/gitpod-io/gitpod/pull/9511) of owner for image build pods

[2022-05-05 06:22] shaoye commented on #9188
same issue here, did you solve it?

[2022-05-05 06:41] mads-hartmann opened #9784 "The 'entity.change.deletions[0]' resource named XXX does not exist errors when deleting VM-based preview environments"
I looked at our [Preview Environments](https://ui.honeycomb.io/gitpod/board/E8HEt73Ao6W/Preview-Environments) board this morning and In the last 24h we have an error rate of 26% when deletion preview environments ([query](https://ui.honeycomb.io/gitpod/datasets/werft/result/u7hXXvU1mvR/a/kTdh1cZLwy6/Failure-rate-of-preview-environment-deletion)). Looking at the error we have seen they are all rela

[2022-05-05 06:43] akosyakov commented on #9262
https://github.com/shaal/DrupalPod/blob/port-descriptions/.gitpod.yml#L38

@jeanp413 @felladrin a regression?

[2022-05-05 06:56] gtsiolis opened #9785 "Rename feature names in license page"
### Problem to solve

Reposting from https://github.com/gitpod-io/gitpod/pull/9343#discussion_r853455381:

Reposting also from https://github.com/gitpod-io/gitpod/pull/9343#discussion_r865599256:

Cc @nandajavarma because https://github.com/gitpod-io/gitpod/pull/9343

[2022-05-05 07:29] #8192 closed

[2022-05-05 07:33] MrSimonEmms commented on #9670
See [Server configmap](https://github.com/gitpod-io/gitpod/blob/5362e2295e1b2e741d143cf3184937628e497194/install/installer/pkg/components/server/configmap.go#L180) for code location

[2022-05-05 08:27] atduarte commented on #9775
I didn't know we needed this. Could you please elaborate on the reason? 🙏

[2022-05-05 08:42] jenting commented on #9575
Thanks Prince's analysys.
I'd prefer solution 1, but how do we get the supervisor original namespace?

[2022-05-05 09:41] ENate commented on #6576
Great job. But this gitpod plugin do not seem to work on Jetbrains Gateway version 2022.1.1 (build 221.5080.246). Besides, after installing the older version of Jetbrains Gateway (version 2021.3.2), it is still impossible to connect to the Gitpod workspace via SSH. Even after selecting the Intellij option from the workspace as described in the documentation.
Jetbrains Gateway 2022.1.1 do not open

[2022-05-05 09:43] andreafalzetti commented on #9380
I'd be keen to pick this up, I just have a couple of questions:

- what component is actually affected by this bug?
- what's the "vscode about dialog"?

cc @jeanp413 @akosyakov

[2022-05-05 09:51] laushinka commented on #9712
Closing this because after testing it in a preview environment and calling the API, `gitpod-public-api-server` does show up in Grafana.

[2022-05-05 09:51] #9712 closed

[2022-05-05 10:00] laushinka opened #9787 "Transform getWorkspace response"

[2022-05-05 10:00] jldec commented on #9172
Scheduled
see discussion ([internal](https://gitpod.slack.com/archives/C02EN94AEPL/p1651738961035579?thread_ts=1651647251.829929&cid=C02EN94AEPL))

[2022-05-05 10:09] geropl commented on #9410
update: we put a hold on this for this week to not conflict with other big changes that are due for rollout.

[2022-05-05 10:42] Meldiron opened #9789 "Feature Request: Skip prebuild loading"
## Is your feature request related to a problem? Please describe

My repository has prebuilds enabled, but the prebuild is pretty big and takes a few minutes to load. In a scenario when I am visiting PR to apply some changes as suggested in reviews, I want to open Gitpod to do it, but it takes minutes to spin up. I will end up cloning the repo locally instead of using Gitpod due to the long loadin

[2022-05-05 10:44] andreafalzetti commented on #9380
@akosyakov and I had a call and clarified the impact and work required.

Summary:
- The `ideAlias` property is part of workbench (part ofGitpod VS Code browser extension) and the misconfiguration could cause both visual and functional bugs (because we do not differentiate between `code` and `code-latest` anymore). The blast radius of the bug is not well defined.
- The agreed solution includes exte

[2022-05-05 11:23] loujaybee opened #9790 "Analytics: Track modal dismissal"
Currently, when triggering a modal close, the `dashboard_clicked` event is triggered. However, for modal dismissing there is no label property applied, only the `path` property, making it hard to distinguish between different clicks to dismiss a modal.

![image](https://user-images.githubusercontent.com/5528307/166912945-7467a5a8-ac5e-4862-bd08-1e40536cea99.png)

**Proposal** Implement a `modal_di

[2022-05-05 11:29] loujaybee opened #9791 "Analytics: Extend `ide_configuration_changed` analytics event with `location` (e.g. dashboard, preferences, workspace start)"
Previously, IDE configurations were only made via the `/preferences` page. However, with the introduction of changes to add IDE preferences for onboarding users https://github.com/gitpod-io/gitpod/pull/9432 and https://github.com/gitpod-io/gitpod/pull/9663, the IDE preferences will be seen in three locations:

1. Workspace start (e.g. a path with a context URL `/#https://github.com/person/project`

[2022-05-05 11:34] loujaybee opened #9792 "Analytics: git command events from JetBrains"
Current product onboarding ends when a user performs a `git push` from within the IDE. This event is only triggered currently in VS Code in the browser. With the changes to surface IDE options during onboarding, more users will be working for the first time in a desktop IDE https://github.com/gitpod-io/gitpod/issues/6707. We should look into implementing the same events, but also in the JetBrains

[2022-05-05 11:36] loujaybee commented on #9792
Closing, invalid.

[2022-05-05 11:36] #9792 closed

[2022-05-05 11:47] princerachit commented on #9575
`kubectl` cli does not have any configuration option for `port-forward` to choose the namespace (container namespace not kubernetes namespace) in which the port forwarding should run. Neither the kubelet code takes such configuration parameter.

One way to solve this could be run an exec command through kubectl inorder to expose the port. I still need to figure out how to do this and if this is fe

[2022-05-05 13:17] #9750 closed

[2022-05-05 14:03] felladrin commented on #9262
🤔 The code I [added on openvscode-server](https://github.com/gitpod-io/openvscode-server/pull/258/files#diff-e609d3d4a25fd55a970f555aecdf223dffca767f4d373ea439058bb88244acf3) is [still on gp-code/main](https://github.com/gitpod-io/openvscode-server/blob/8df396bfb2e2f641dfabb7df615521d07c68832d/extensions/gitpod-web/src/extension.ts#L408-L412).

[2022-05-05 14:55] MrSimonEmms commented on #9767
It's my understanding that there will always be a license, it's just that it may not be a license that the user has uploaded. It may be the "default license" (<= 10 users) or the "fallback license" (> 10 users)

If you're on the default license, it'll look similar to as it does in the screenshot. If it's the fallback, it'll only show the admin dashboard as an available feature and also show unlimi

[2022-05-05 16:33] andreafalzetti commented on #9380
I had a chat with @jeanp413, we agree to proceed with the approach he suggested cc @akosyakov

[2022-05-05 16:44] AllMight2099 commented on #9435
Hey there!
I fixed the browser extension issue here, but I can't push to the browser-extension repo because I guess I don't have the correct access rights to the repo, who do I contact for this?

[2022-05-05 16:50] jankeromnes commented on #9435
Hi @AllMight2099 -- many thanks for fixing this bug! 🎉

Would you be able to "fork" this repository, then push the fix to your fork, and then open a Pull Request here? 🙏 I'd be happy to review and approve it. 🚀

Let me know if you have any questions. 😊

[2022-05-05 16:53] AllMight2099 commented on #9435
Oh sure thing

[2022-05-05 17:26] AllMight2099 commented on #9435
@jankeromnes The PR's up and it's ready to be merged

[2022-05-05 19:03] nberlette opened #9798 "[bug] unable to start workspaces in desktop VSCode"
### Bug description

**All workspaces** fail to start when my settings are configured to open Gitpod in my desktop installation of VS Code or VS Code insiders, giving me a very cryptic error message. When my preferences are set to launch workspaces **in-browser**, everything works fine and as expected.

### Steps to reproduce

1. Change settings to launch in `VS Code`, not `in browser`. Insiders/R

[2022-05-05 19:24] RedstoneWizard08 commented on #9500
Okay. Thanks.

[2022-05-05 19:24] #9500 closed

[2022-05-05 19:25] RedstoneWizard08 commented on #7358
Note that to enable binfmt_misc support one way to do it (which I use the most) is running this command:

[code]

Note that I think this modifies files in /proc or /sys so it doesn't work on GitPod.

[2022-05-05 19:48] mrzarquon opened #9800 "KOTS incluster registry S3 dialog doesn't request region"
### Bug description

The S3 region defaults to "local" in the installation if one is just using S3 for the the registry backend and not anything else. In order to fix this, the deployment can be edited by hand, but a subsequent redeployment by kots when changing other settings will remove the change.

Introduced by https://github.com/gitpod-io/gitpod/pull/9701

### Steps to reproduce

Install in A

[2022-05-05 20:24] corneliusludmann opened #9801 "[self-hosted] Adding Custom CA fails for GKE `update-containerd-certificates` crashes"
Using self-signed certs for Gitpod installations on GKE is not supported yet. However, it should be possible to add a custom CA when e.g. GitLab is uses a self-signed cert and Gitpod needs to trust this cert.

Unfortunately, currently `update-containerd-certificates` crashes on GKE.

[see also (internal)](https://gitpod.slack.com/archives/C01KLC56NP7/p1651760805567009?thread_ts=1651485800.580789&c

[2022-05-05 21:19] shaal opened #9804 "Snapshot losing important Gitpod env vars"
### Bug description

When opening a Gitpod snapshot, the value of `GITPOD_REPO_ROOT` changes.
Original workspace:
`GITPOD_REPO_ROOT=/workspace/<my_project_name>`

After snapshot:
`GITPOD_REPO_ROOT=/workspace`

### Steps to reproduce

1. Open any repo on Gitpod
1. Run in terminal `printenv | grep GITPOD_REPO_ROOT`
1. You should see `/workspace/<your_repo_name>`
1. Create a new snapshot
1. Open that

[2022-05-05 21:48] Shaked commented on #9172
Unfortunately Slack is only for gitpod domain or invites only.

Is there a way to integrate bitbucket.org without the UI?

[2022-05-06 00:04] nberlette opened #9812 "[dupe] Workspaces fail to start when configured to open in local VS Code install"
### Bug description

Sorry if this is a dupe, I submitted an issue earlier regarding this but it's somehow just totally vanished as far as I can tell.

Anyway, when I have my Gitpod settings configured to open workspaces in my local VS Code install (regardless of Insiders or not), **all** workspaces fail during the startup process. I also get  a weird, cryptic error message. When I click on "Open

[2022-05-06 00:05] nberlette commented on #9812
Sorry, I'm able to locate the original issue now. Closing this one as it's a duplicate.

[2022-05-06 00:05] #9812 closed

[2022-05-06 01:02] felladrin opened #9814 "Expose a new variable `JETBRAINS_GITPOD_WORKSPACE_HOST` on Supervisor Info endpoint"
_Originally posted by @akosyakov in https://github.com/gitpod-io/gitpod/pull/9733#discussion_r865621686_

[2022-05-06 07:13] #9435 closed

[2022-05-06 07:18] anuragpathak21 commented on #9172
My Ticket #9750 was closed referencing this ticket, stating it can be tracked here. As you have moved the discussion internal, community cannot see what is going on. Can you please provide an update on what is the outcome of the discussion. Moreover, I also raised the misleading information on your site stating gitPod self-hosted integrates with BitBucket. It should be updated to "BitBucker Server

[2022-05-06 07:39] #9645 closed

[2022-05-06 07:40] gtsiolis commented on #9812
Thanks for closing this as a duplicate, @nberlette! Cross-posting for visibility, the duplicate issue can be found in https://github.com/gitpod-io/gitpod/issues/9798.

[2022-05-06 08:26] mustard-mh commented on #9670
@hm2075  Gitpod has a component `openvsx-proxy` which will cache some requests from clients and respond them if `open-vsx.org` request failed (under maintenance etc)

so, this one `vsxRegistryUrl` is URL of `openvsx-proxy`

[2022-05-06 08:30] mustard-mh commented on #9670
Response with 502 needs more input

[2022-05-06 08:30] mustard-mh commented on #9670
Response with 502 needs more input

[2022-05-06 09:01] #8326 closed

[2022-05-06 09:15] gtsiolis opened #9817 "Use a different button size for the browser extension on empty repositories in GitHub"
### Problem to solve

Following up from https://github.com/gitpod-io/browser-extension/pull/60, although moving the button inside the empty state layout is a great improvement, the button style does not follow the rest of the nearby buttons.

### Proposal

:a: Ideally, in this case, the button should use the small button size to match the nearby buttons.

:b: Alternatively, a boring (simple) solut

[2022-05-06 09:48] gtsiolis commented on #9798
@nberlette I could _not_ reproduce this on Gitpod.io.

Here's what should be shown after workspace start (loading) page is complete, when using VS Code Desktop as the editor:

| Using latest release | Not using latest release |
|-|-|
| <img width="1440" alt="Screenshot 2022-05-06 at 12 43 02 PM" src="https://user-images.githubusercontent.com/120486/167107996-ac79ff2c-f9ac-4f3f-92af-2f20179717d2.pn

[2022-05-06 09:52] #9763 closed

[2022-05-06 10:25] lucasvaltl opened #9820 "Change wording in KOTS Admin Install Console Welcome Page"
## Is your feature request related to a problem? Please describe
Currently, the first thing you see when opening up the kots admin console during installation is "welcome to gitpod":
<img width="642" alt="Screenshot 2022-05-06 at 12 20 08" src="https://user-images.githubusercontent.com/22516873/167113896-cf2cd3f4-16c5-4426-a734-c8f7389c6f0b.png">

This is confusing, because this is not Gitpod per

[2022-05-06 10:32] lucasvaltl opened #9821 "Fix guides and docs to mention that guides produce files as output"
Title should be enough - right now, the installation guides for the cloud providers create files used to then link components to the gitpod installation. This needs to be made more clear.

Internal discussion [here](https://gitpod.slack.com/archives/C01KGM9AW4W/p1651775983255399?thread_ts=1651764197.241229&cid=C01KGM9AW4W).

[2022-05-06 10:37] lucasvaltl opened #9822 "Avoid copy pasting between Guides and Replicated during Self-Hosted Installation Process"
## Is your feature request related to a problem? Please describe
Currently, you need to manually copy paste the output of our cluster set up guides (e.g. GKE guide) into the installation UI. This is error prone and can lead to issues that are hard to debug - case in point, I missed a letter while copy pasting and then my Gitpod installation was unable to talk to the Cloud SQL database that had bee

[2022-05-06 11:43] geropl commented on #524
Still the case, cmp. mtime here:
![image](https://user-images.githubusercontent.com/32448529/167125010-5a950d09-4462-4822-8fb0-bcc5e21c1559.png)

[2022-05-06 12:06] laushinka opened #9824 "Add metrics for server connection"
We want to keep track of how long it takes to create a connection

[2022-05-06 12:15] #9770 closed, assigned to nobody

[2022-05-06 12:21] nandajavarma commented on #9767
Just to add to the discussion, in the case of `gitpod.io` and `gitpod-staging.io`, I am deliberately avoiding to set the value of the licenseType https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/admin/License.tsx#L27
I am currently of the opinion that this can be removed. Especially since is a rather light operation on the server. At the time of adding the change, I was tryin

[2022-05-06 12:41] Furisto opened #9826 "Investigate imagebuilds stuck in terminating"
### Bug description

Imagebuilds are stuck in terminating. This does not seem related to the uninterruptible sleep problems we have seen recently as the containers are already gone, but Kubernetes still holds on to them. Removal of the finalizer and force deleting them is the only option to get rid of them.

### Steps to reproduce

Unknown at the moment

### Workspace affected

_No response_

###

[2022-05-06 13:00] corneliusludmann commented on #9660
Hi @AllMight2099! Thank you very much for the initiative. Appreciate this!

Unfortunately, this has been fixed already by https://github.com/gitpod-io/gitpod/pull/9727 (sorry that we haven't closed this issue).

Are you interested in contributing something else? If you're interested, I'd be happy to help you to find another suitable issue.

[2022-05-06 13:00] #9660 closed

[2022-05-06 13:25] AllMight2099 commented on #9660
Oh, that's alright!
And yessssss! I would love to have your guidance. I want to work on Gitpod's infrastructure so I was thinking of picking up issues #9274 and #8021 cause it seems like it would give me a good opportunity to go through Gitpod's code. Would you recommend I take these issues up? Or are there other issues that you'd suggest I work on?  Also, there's another link to an internal discu