[2021-12-03 12:19] Foge9627 opened #7055 "[APPROVALNOTIFIER] This PR is **NOT APPROVED**"
[APPROVALNOTIFIER] This PR is **NOT APPROVED**

This pull-request has been approved by: *<a href="https://github.com/gitpod-io/gitpod/pull/7046#pullrequestreview-822495063" title="Approved">Foge9627</a>*
To complete the [pull request process](https://git.k8s.io/community/contributors/guide/owners.md#the-code-review-process), please ask for approval from **laushinka** after the PR has been reviewed

[2021-12-03 12:35] IvoPereira opened #7056 "Could not establish connection to workspace-unique-name"
### Bug description

I am on Ubuntu 20.04.3 and I am not being able to use VS Code Desktop feature.

In VS Code Desktop I am receiving a "Could not establish connection to workspace-unique-name".

### Steps to reproduce

- Open a Gitpod workspace
- Click "Gitpod" in the bottom left corner
- Click "Gitpod: Open in VSCode"
- Accept all prompts in VSCode side
- Choose Linux when the following prompt

[2021-12-03 12:53] loujaybee commented on #6826
Hey folks 👋   Firstly, I _love the collaboration going on_ with these changes 😍 ! I don't have direct feedback, as I agree with much of what has already been said, and do not think more chefs will help 👩‍🍳

But I wanted to make a few remarks based on findings from usability testing, as I think it's important to keep the user and specifically, the users frame of mind front-and-center when we make d

[2021-12-03 12:58] #7055 closed

[2021-12-03 13:17] #7022 closed

[2021-12-03 14:14] dragonDScript opened #7057 "[desktop] workspace timeouts if you close the browser tab prematurely"
### Bug description

If you open a workspace in vscode and immediately close the tab it won't let you to connect.

### Steps to reproduce

1. Open a workspace.
2. Open the workspace in VSCode. When vscode is open and prompts you to "Continue", close the gitpod tab.
3. See error.

### Workspace affected

_No response_

### Expected behavior

Workspace should open no matter if the tab is open or clo

[2021-12-03 14:27] wilj commented on #7048
I'm experiencing the same problem starting workspaces in the US cluster:

[code]

Mine is also a private project with custom Dockerfile, but the Dockerfile does not reference the image by the SHA hash.

[2021-12-03 15:22] loujaybee commented on #6826
**Separate note:** A pragmatic option here could be to roll out the change out (for a week or so) measure the impact, and then be prepared to roll back if changes are seen to be detrimental, if they're positive, then we fix forward! 🚀

[2021-12-03 15:36] MrSimonEmms commented on #7014
Had a conversation about this with @aledbf. Verification won't be able to be done via the KubeAPI/Client-go. A validation check we could perform is to deploy a pod/job to the cluster to run this script and then return the value from there.

[code]

See also:
 - https://github.com/kubernetes/system-validators/blob/ca2e257c13e6d6e49e0de2a31d08c03c790f548f/validators/cgroup_validator_linux.go#L50

[2021-12-03 16:24] corneliusludmann opened #7060 "Fix ownership of installer files that belong to team IDE"
[This PR](https://github.com/gitpod-io/gitpod/pull/7059) needs approval from team IDE, meta, and workspace but should only need approval from the IDE team. That should be fixed.

_([internal discussion](https://gitpod.slack.com/archives/C02F19UUW6S/p1638548068040600))_

[2021-12-03 17:05] jimmybrancaccio commented on #5984
I can confirm that running `sudo apt-get update && sudo apt-get -y upgrade` worked for me. I am using the `gitpod/workspace-mysql:latest`. There actually seems to be quite a lot of outdated packages at the moment.

[code]

[2021-12-03 18:50] dunnry commented on #2419
Just commenting that we would be very interested in supporting custom IDEs in Gitpod.

[2021-12-03 19:08] rfay commented on #6446
`experimentalNetwork: true` is working for me, now the `docker network inspect` does the right thing, etc.

Thanks for this!

The one thing: We're worried about it being labeled "experimental" and that it could disappear now that we're depending on it...

[2021-12-03 19:24] IvoPereira commented on #7056
For reference, tried restarting, opening a workspace and then choosing to open in VSCode Desktop and got this error:
[code]

Will see what other approaches I might be able to test from the comment you mentioned.

I don't however have a Mac Keychain as I am running in Linux.

[2021-12-03 19:35] pri1311 commented on #6762
issue up for grab?

[2021-12-03 19:44] gtsiolis commented on #6762
Absolutely, @pri1311! 🏀

[2021-12-03 20:20] chuck-confluent commented on #3860
I think this is covered in
- https://github.com/gitpod-io/gitpod/issues/4889

Check there for progress. It seems like it's really close

[2021-12-03 20:51] apolopena commented on #7049
I just wanted all public repos like it was before. I would rather not add every public repo I work with by hand, I tend to work alot of new repos (testing gitpod integrations) and then destroy them later. Can you tell me why this changed?

[2021-12-03 21:05] Dragomeat commented on #6342
PhpStorm user. Please add me

Email:      i@dragomeat.com
Discord:  Dragomeat#2308

[2021-12-03 21:58] gtsiolis opened #7061 "Introduce a better and more compact login action button"
### Problem to solve

Currently, the login flow includes selecting on of the three providers (GitLab, GitHub, Bitbucket) onm the login page. However, buttons are using a secondary weight to avoid having multiple primary buttons, does not allow flexible solutions in cases like https://github.com/gitpod-io/gitpod/issues/6826, etc.

### Proposal

Introduce a dropdown button for selecting one of the a

[2021-12-04 00:11] gtsiolis commented on #6826
Thanks @jankeromnes and @loujaybee for you feedback! 🙏

@jankeromnes you're right about the orange element thing is particularly overwhelming. I've added https://github.com/gitpod-io/gitpod/issues/7061 to improve the login action buttons, etc.

What do you think of the following drafts? Cc @laushinka @AlexTugarev @geropl @jldec @svenefftinge

| Early draft for the long run | Early draft for this i

[2021-12-04 02:14] IvoPereira commented on #7056
Some more notes.

I was checking again the terminal and observed the mentioned ssh command.

Tried to run it in a separate terminal windows and got the Too many authentication failures message indeed. And that probably might be explained because I have several ssh keys that are all probably being tried on so the server ends up rejecting it.

`ssh -T -D 41351 -o ConnectTimeout=15 -F '/tmp/gitpod_ss

[2021-12-04 11:37] #4859 closed

[2021-12-04 11:37] #5311 closed

[2021-12-04 11:37] #3437 closed

[2021-12-04 11:37] #5376 closed

[2021-12-04 13:20] dragonDScript commented on #5036
Please assign this to me, I want to work on this.

[2021-12-04 14:23] svenefftinge commented on #6826
The point of this change was to reduce the noise and just tell people what is going to happen next. No side-tracking explaining Gitpod concepts or providing confusing choices. I think we have discussed that at length already.
So could we please just put in what @jldec proposed in https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-975469912 and see how it moves the needle?

[2021-12-04 14:57] kevin-ci opened #7064 "Remove unnecessary python packages from new workspaces"
## Is your feature request related to a problem? Please describe
Workspaces now seem to include a number of preinstalled Python packages.
![image](https://user-images.githubusercontent.com/57438532/144714035-7f3cdb90-b0bd-4bec-a5a6-5227d3646cf5.png)
![image](https://user-images.githubusercontent.com/57438532/144714038-fe9553c2-84d7-4fd9-9746-76d78d850a69.png)

Requesting that these be removed. It

[2021-12-04 16:29] bxthomas commented on #6950
@aledbf , I tried again with (what I think is the new version of gitpod) but the behavior is identical :-(

https://lavender-rabbit-m7uwq2t4.ws-us21.gitpod.io/

[2021-12-04 17:45] mikenikles commented on #1646
Re-opening to see if we can make the change suggested by Jan.

[2021-12-04 18:54] stephenavocado commented on #7048
Sorry I missed the question at the end - here is my browser console:

![image](https://user-images.githubusercontent.com/81815137/144721274-d5b71ad9-45de-4237-b635-46118a097440.png)

[2021-12-05 01:58] #5225 closed

[2021-12-05 01:58] #5391 closed

[2021-12-05 01:59] #4732 closed

[2021-12-05 01:59] #4925 closed

[2021-12-05 14:03] AjXUthaya opened #7066 "Dashboard with recent projects + workspaces for main screen instead of projects tab"
## Is your feature request related to a problem? Please describe

I have to switch over to workspaces every time i go into gitpod.io, i have no projects and have no plan of using that feature but by default it shows an overview of projects instead of workspaces like before.

## Describe the behaviour you'd like

A dashboard when you go into gitpod.io with both projects and workspaces instead of th

[2021-12-05 15:57] #4839 closed

[2021-12-05 15:57] #5416 closed

[2021-12-05 16:20] #7036 closed

[2021-12-05 17:40] pri1311 commented on #4050
The responsiveness issue also arises for the edit permissions modal. I didn't see this specifically mentioned anywhere, hence adding it here. Have to resize the window to 90% to see the update permissions button.
![image](https://user-images.githubusercontent.com/64613009/144757194-98af1185-947b-4b29-b174-e60af11e117b.png)

[2021-12-05 19:47] Methodician commented on #689
This is cool. Is there a way to get firebase login to run in the automated tasks? Even if I still have to click through the other browser tab it would be nice to not have to think about it.

[2021-12-05 21:41] atduarte commented on #6749
Same happened to me while a workspace was building an image.

[2021-12-05 23:59] ghuntley commented on #6918
Hey @gitpod-io/engineering-meta. I need your help with getting this shipped by the 13th and am looking for a volunteer to own the technical implementation so I can focus on the community side of things.

Meta responsibilities:

1. Gitpod will have a whitelist of open-source maintainers (Geoff to supply the list) in the form of GitHub handles.
1. Gitpod will automatically upgrade the user's plan to

[2021-12-06 05:31] oldrich-s opened #7070 "Vscode-textmate to do syntax coloring"
## Describe the behaviour you'd like
If I am not mistaken, Gitpod currently does not use vscode-textmate to do the syntax coloring. Is there a technical reason for that or is it just go and do it?

![image](https://user-images.githubusercontent.com/37391/144792404-d2fb739a-38da-4860-ab57-9fb8a2b1b616.png)

vs

![image](https://user-images.githubusercontent.com/37391/144792495-9d5c851b-dc79-41b4-a4

[2021-12-06 05:34] gbraad opened #7071 "Unable to use Fedora with Image builder mk3"
### Bug description

Formerly it was necessary to setup the user environment for the image, which meant that the image took responsibility to create the `gitpod` user and the necessary `CMD` to run.

Since the move to Image builder mk3 it should be possible to use a Fedora image (upstream for Amazon Linux) as a base. However, I run into issues. When I create the user beforehand it complains there

[2021-12-06 05:59] gbraad commented on #7071
### Solution

You need to add the user explicitly as:

[code]

[2021-12-06 07:42] geropl commented on #7054
/schedule

[2021-12-06 07:42] roboquat commented on #7054
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7054#issuecomment-986515394):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-12-06 07:42] geropl commented on #7054
/assign

[2021-12-06 07:50] akosyakov commented on #7056
Correct, it is bundled with Gitpod extension. `ETXTBSY` sounds like the extension cannot start the local companion for some reasons. But as far I understand it does not happen to you each time.

Not, the local companion generates own config and key.

What you explain makes sense https://superuser.com/questions/268776/how-do-i-configure-ssh-so-it-doesnt-try-all-the-identity-files-automatically if y

[2021-12-06 08:35] akosyakov commented on #5536
We switched to upstream server, so it is not under control anymore.

[2021-12-06 08:35] #5536 closed

[2021-12-06 09:10] akosyakov opened #7074 "[code-desktop] timeout the local app after 3 hours of inactivity"
Right not Gitpod VS Code extension start the local companion which runs forever. It leaves many dangling processes while testing in the preview envs.

It would be good [to add a new flag](https://github.com/gitpod-io/gitpod/blob/5bd176bfe71d86db9ec834881ef1bcd84263556e/components/local-app/main.go#L56-L111) `timeout` controlling for how long the local app can run if last workspace was stopped, by

[2021-12-06 09:15] akosyakov opened #7075 "[code-desktop] enable the local app listen to individual workspaces on demand"
Right now the local app listen to all workspace. In case of Gitpod VS Code extensions it creates unnecessary load on the server while we are interested only in several workspaces.

It would be good to add `listen` flag which controls whether it listen to all workspaces or not, by default it should be `true`. Gitpod extension will disable it instead the local app will start listening on demand when

[2021-12-06 09:28] geropl commented on #7054
Talked to @corneliusludmann :
 - seems not to be related to websocket reconnects because:
   - it's persistent per workspace (instance). if that'd be the case subsequent actions (open another port) should lead to resolution of all ports hanging in "detecting...". That's not the case.
 - server event distribution seems to be working as expected. Only potential semantic change: push last event on co

[2021-12-06 09:30] geropl commented on #7054
- Leads to error: `cannot update workspace pod` ([link](https://console.cloud.google.com/logs/query;cursorTimestamp=2021-12-06T08:38:33.853Z;query=resource.type%3D%22k8s_container%22%0A%22brown-panther-rxvqz0uw%22%0Atimestamp%3D%222021-12-06T08:38:33.853Z%22%0AinsertId%3D%22yr9ur0hjcplb6k1u%22;timeRange=PT1H?project=gitpod-191109)): race condition in `ws-manager`
 - could be the reason as it turns

[2021-12-06 09:31] #7017 closed

[2021-12-06 09:37] akosyakov opened #7076 "[gp-cli] allow to create snapshot"
[Gitpod CLI](https://github.com/gitpod-io/gitpod/tree/main/components/gitpod-cli) should have a new command `snapshot` which will create a snapshot and print its URL to the output or error.

To make a snapshot we should use [Gitpod Server APIs](https://github.com/gitpod-io/gitpod/blob/5bd176bfe71d86db9ec834881ef1bcd84263556e/components/gitpod-cli/pkg/gitpod/server.go#L35) similarly how it is done

[2021-12-06 09:47] csweichel commented on #7054
This is a workspace issue indeed. Will work on a fix.

/assign

[2021-12-06 10:21] akosyakov commented on #7070
Gitpod is using VS Code Web, and it does use textmate:

<img width="1904" alt="Screenshot 2021-12-06 at 11 19 28" src="https://user-images.githubusercontent.com/3082655/144829091-e1fe1f0e-ee75-482c-926d-36c6d4e4a585.png">

Could you check that your browser has WASM support. Otherwise it won't work. You can open devtools and see for errors related to wasm.

[2021-12-06 10:27] #5588 closed

[2021-12-06 10:31] jldec commented on #6826
Thanks for all the feedback everyone - This page is an important step in our onboarding experience so the thoughtful comments and suggestions are appreciated.

In an effort tilt the bias toward action and simplicity, let move forward with proposal (screenshot below)

NOTE We recognize that reducing the auth-button choices does mean a slightly higher possibility of existing (already-signed-up) user

[2021-12-06 10:37] kevin-ci opened #7077 "Python packages not persisting between workspace restarts"
### Bug description

Packages installed with Pip are not persisting between workspace restarts.

### Steps to reproduce

Open the following in gitpod: https://github.com/kevin-ci/gitpod-bug-demo

Use `pip3 install -r requirements.txt` to install the requirements. Then run `pip3 freeze` to ensure they're installed.

Manually stop and restart the workspace. When it restarts, run `pip3 freeze` again.

[2021-12-06 10:53] oldrich-s commented on #7070
I use the latest Chrome on Win10 - so WASM should not be a problem.

I have tried to run https://gitpod.io/#https://github.com/oldrich-s/musicope which is my old personal project and open server.js and got syntax coloring without textmate.

Doing the same via vscode.dev (https://vscode.dev/github/oldrich-s/musicope) provides the textmate syntax coloring as expected.

[2021-12-06 10:54] quental96 opened #7078 "Python init prebuild not working"
### Bug description

Hello,

Prebuilds in python are not working at all for me, and I am following exactly what the docs advise. My problem is even reproducible in the official gitpod pandas [example](https://github.com/gitpod-io/Gitpod-Pandas).

The prebuild looks like this:

[code]

When I launch any type of workspace that has this sort of prebuild for the first time, it seems to work. However,

[2021-12-06 10:57] quental96 commented on #7077
Opened a more detailed issue on the subject [here](https://github.com/gitpod-io/gitpod/issues/7078).

[2021-12-06 11:15] quental96 commented on #7078
Similar to [this](https://github.com/gitpod-io/gitpod/issues/7077).

[2021-12-06 12:05] akosyakov commented on #7070
It looks alright now:
<img width="1904" alt="Screenshot 2021-12-06 at 13 04 42" src="https://user-images.githubusercontent.com/3082655/144843011-2760c5ae-e2bd-4f20-a61a-73dbe934ad0e.png">

Maybe there was some hiccup with loading this wasm file. Can you still reproduce it?

[2021-12-06 12:24] oldrich-s commented on #7070
Unfortunately still the same. WASM loads properly but it seems that the languageId is wrong (plaintext).

![image](https://user-images.githubusercontent.com/37391/144845294-ff60ff22-8878-414b-a2dc-d2b890df44ca.png)

BTW: Nice that you provide source-maps. That helps to troubleshoot a lot 👍.

[2021-12-06 12:49] lechien73 commented on #7064
Additionally to this, the package bloat means that `pip3 freeze --local` no longer works properly for creating `requirements.txt` files and pushing these requirements to Heroku causes the app to no longer deploy.

[2021-12-06 12:50] lechien73 commented on #7077
Thanks @quental96 - please also link https://github.com/gitpod-io/gitpod/issues/7064 to the discussion due to the bloatware libraries that are now installed.

[2021-12-06 12:56] akosyakov commented on #7070
Do you have any special user extensions/settings?

[2021-12-06 12:59] JanKoehnlein commented on #7077
As of now, Gitpod only persists the `/workspace` folder between sessions. You might want to install the packages using a custom [dockerfile](https://www.gitpod.io/docs/config-docker) or teach `pip3` to use a subdir under `/workspaces` (https://stackoverflow.com/questions/2915471/install-a-python-package-into-a-different-directory-using-pip)

[2021-12-06 13:35] oldrich-s commented on #7070
So far I traced it to the order `registerTextMime` and `_registerDefinitionIfAvailable` is being executed in, which is like:

[code]

so by the time the textmate is being built `nonUserRegisteredAssociations` contains only `plaintext`

[2021-12-06 13:47] akosyakov commented on #7070
Sorry, I does not really follow, could you provide a code pointer? Did you try disable user extensions/settings?

[2021-12-06 13:53] gtsiolis commented on #6826
Thanks everyone and sorry for sidetracking the discussion with more designs in https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-985039468 and https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-985922724. 🙏

💭 **thought**: The proposed design from @jldec in https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-986645193 is certainly an improvement we can ship[[1](https:

[2021-12-06 13:54] oldrich-s commented on #7070
Sorry for not answering your question 😊.

I have tried to run the webpage in Chrome, Chrome with private mode and in MS Edge - all with the same result.

I am on 4g and I beleive that the issue happens because both the various languages and the texmate are being loaded async so on fast connection the languages load first and on slow connection the wasm loads first.

I am not on my pc but I can try

[2021-12-06 14:03] geropl opened #7082 "[server] Investigate server event loop lag"
We see an accumulating node.js event loop lag increase:
This is bad, because it is a min. (!!!) static addition to every API call.
![image](https://user-images.githubusercontent.com/32448529/144859517-46dcfd15-adf3-4151-94a9-274c117231c6.png)
(Source: [Grafana](https://grafana.gitpod.io/d/server/gitpod-component-server?orgId=1&viewPanel=24))

[2021-12-06 14:03] geropl commented on #7082
/schedule

[2021-12-06 14:04] geropl commented on #7082
/schedule

[2021-12-06 14:04] roboquat commented on #7082
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7082#issuecomment-986805390):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-12-06 14:04] geropl commented on #7082
/assign

[2021-12-06 14:46] gbraad commented on #7071
It would be ideal if the process would work and `useradd` and `groupadd` are also looked for in `/usr/sbin` by default.

[2021-12-06 15:19] shaal commented on #7061
I might be missing something here.
My experience with that page, is that the repo is hosted in 1 specific git provider.

That provider, is the ONLY provider you can choose in order to open that Gitpod workspace.
Why are there multiple options on that page?

Example: If a user is not logged-in to Gitpod, and trying to open this URL (which is hosted in Github)
https://gitpod.io/#https://github.com/s

[2021-12-06 15:27] jankeromnes commented on #6921
On second thought, it's probably a bit too early to put this into Groundwork.

Let's revisit this in a few weeks.

[2021-12-06 15:39] gtsiolis commented on #7061
Hey @shaal! Thanks for sharing this feedback. 🙏

Correct!

You can create an account on Gitpod using one of the three provider options regardless if the repository exists in one of these three providers options. Currently, when you pick a different provider from where the repository exists there are two possible flows:
1. You are redirected to the authorization required page which you linked above

[2021-12-06 16:25] #6999 closed

[2021-12-06 17:00] akosyakov commented on #6545
Please don't wok on this issue. I keep it for a candidate.

[2021-12-06 17:04] akosyakov commented on #7070
I meant VS Code extensions/settings. I thought maybe you installed something.

👍

[2021-12-06 17:07] shaal commented on #7061
@gtsiolis I have 1 more question.
If a user is logged in to Gitpod through Gitlab, but trying to open a public repo hosted in Github, why does the user need to add it as integration in Gitpod?
It is possible to `git clone` the repo with no password.

[2021-12-06 17:18] AlexTugarev commented on #7061
It is possible to git clone the repo with no password.

@shaal, because `git clone` will work only for public repos, other features that require REST/GraphQL API won't last long due to rate limitation, and `git push` won't work at all.

[2021-12-06 17:19] csweichel commented on #7054
#7079 does not fix this issue entirely. We correctly update the workspace instance status but the port view is still stuck.

[2021-12-06 17:54] apolopena commented on #3877
Is this really stale?

[2021-12-06 18:42] shaal commented on #7061
@AlexTugarev Thank you.
That is aligned with WHY I asked that question.
I am assuming that most public repos are opened in Gitpod in `read-only` mode, just like you would do locally on your machine.
We could let people open any public repo without asking for git provider integration, and deal with permissions once in Gitpod/VScode interface. This would be similar clone a public repo to my local ma

[2021-12-06 19:53] kevin-ci commented on #7077
@JanKoehnlein I really don't understand the reasoning behind these changes, or apathy shown in this thread.

The Gitpod homepage says:

The workspaces can hardly be called fresh if they're now bloated with so many packages that it breaks Heroku deployments, and the lack of package persistence between restarts has now made Gitpod objectively worse than Codespaces, its main competitor. I don't see h

[2021-12-06 20:05] dragonDScript commented on #5577
Pls don't close

[2021-12-06 20:17] andymac4182 commented on #5198
@csweichel Is that meant to be publicly viewable? I can't see that page.

[2021-12-06 20:37] gtsiolis opened #7087 "Nudge users to continue with the provider they previously used to sign in"
### Problem to solve

Following the design updates in https://github.com/gitpod-io/gitpod/issues/7061, the user can still run into the error[[1](https://github.com/gitpod-io/gitpod/pull/6484)] we show when they try to continue with a provider they haven't added in `/integrations` when opening a repository.

### Proposal

Following the design updates in https://github.com/gitpod-io/gitpod/issues/70

[2021-12-06 21:04] filiptronicek commented on #6894
@loujaybee this is a very interesting concept. I wonder if we could do more things on the client by just adding a tailored extension, which would take care of the whole `gitpod.yml` walkthrough process. This would mean nothing is sent back - good for our servers and also 0 latency. I imagine in this process there won't be too many features which we couldn't implement via an extension, but just a t

[2021-12-06 21:06] gtsiolis commented on #3829
Reopening as this is still relevant.

[2021-12-06 21:07] gtsiolis commented on #4050
Thanks @pri1311! I've reopened https://github.com/gitpod-io/gitpod/issues/3829 for this.

[2021-12-06 21:21] jldec opened #7088 "Remove configuration step from new project onboarding flow"
User experience testing has shown that most new users are not ready to learn about configuring their repo with a `.gitpod.yml` before opening their first workspace.

We should remove that step from the new project onboarding flow, but still give users access to the configuration page in the dashboard whenever they want to.

The suggested new project onboarding sequence is reduced to the following

[2021-12-06 21:22] jldec commented on #7088
/schedule

[2021-12-06 21:22] roboquat commented on #7088
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7088#issuecomment-987232178):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-06 21:28] JanKoehnlein commented on #7077
Sorry for the late reply. The persistence of the workspace folder only has always been this way. I suspect something has changed in the setup of the `workspace-full` image such that python packages are no longer persisted there.

/cc @ghuntley could you try to find out what's going wrong here?

You should be able to work around this by switching to an earlier workspace image in your `.gitpod.yml`

[2021-12-06 21:29] JanKoehnlein commented on #7064
/cc @ghuntley looks like a change in the `workspace-full`  image. See also #7077

[2021-12-06 22:20] jldec commented on #6826
Reminder to prioritize https://github.com/gitpod-io/gitpod/issues/4696 -
Show helpful explanation when opening a workspace and the git provider integration is missing

[2021-12-06 22:30] lechien73 commented on #7077
Thanks @JanKoehnlein - this seems to half work. I used one of the previous commits (commit-8fc141dbdd92030a435ead06617c6d37651d8312) and the build worked fine with none of the bloat; however, on stopping and restarting the workspace, the bloatware appears again. I'm going to try with an older commit and see what happens.

[2021-12-06 22:32] #6686 closed

[2021-12-07 01:07] apolopena opened #7090 "ppa:ondrej/php should not be the default PPA and is not used as recommended by the author for apache2 and nginx"
### Bug description

The latest [PHP update from 7.4 to 8.0](https://github.com/gitpod-io/workspace-images/commit/0132229c6b1c552009b4432f7612163f84dc5e96#diff-e9ad2eb43016881f65b443658a8d94f33a4f3750743e33326c529f899be708d3R28) in [gitpod/workspace-images/full](https://github.com/gitpod-io/workspace-images/blob/master/full/Dockerfile) switches the PHP repository to the untrusted (but trustable ;)

[2021-12-07 03:54] ghuntley commented on #7064
Hey @kevin-ci. Have bisected backwards +4 months worth of changes to workspace-full and these dependencies have been always installed. Have not tried going back further but even the version of the dependencies matches going back months so that almost rules out changes to workspace-full.

See https://gist.github.com/ghuntley/074a2a45f1af372d2e8572abf565419d

About to look into topics of pip version

[2021-12-07 04:04] ghuntley commented on #7064
re: Describe alternatives you've considered

One of the things that's always a good idea is to pin dependencies of the project by bringing your own Docker file as
[described over here](https://www.gitpod.io/docs/config-docker#configure-a-custom-dockerfile). The workspace-full  image provided by Gitpod is updated often and our update cadence may not match the update cadence of your projects. By pin

[2021-12-07 04:04] oldrich-s commented on #7070
I have just tried it this morning and everything works 👍. Probably some issue yesterday between the chair and the table 😇.

[2021-12-07 04:04] #7070 closed

[2021-12-07 04:48] shaal opened #7091 "Manually triggering `#imagebuild` dramatically lower the time to open a workspace"
## Is your feature request related to a problem? Please describe

Not sure if this is a bug or a feature.
Loading a workspace that uses a custom docker image which is hosted in hub.docker.com, takes a long time.
Manually triggering `#imagebuild` dramatically lower the time it takes to open the workspace.

## Describe the behaviour you'd like

This process should happen automatically, without waiti

[2021-12-07 04:50] rfay commented on #6446
`experimentalNetwork: true` seems to be fine, but we're uncomfortable using it when it's not the default. It works correctly, should be the default, but unfortunately I don't think ddev can adopt it until it's there by default.

[2021-12-07 04:56] rfay commented on #6446
Thanks @iQQBot

[2021-12-07 05:01] shaal opened #7092 "Pushing a new branch to a fork is successful but displays an error message"
### Bug description

After opening a repo in Gitpod, adding a fork of that repo, create a new branch and push that branch to the fork.
The push is successful, but there's an error message displayed:
![image](https://user-images.githubusercontent.com/22901/144968599-62c054dc-ea6f-4061-834c-284ed3f2a7fb.png)

### Steps to reproduce

1. Opening a repo in Gitpod - https://gitpod.io/#https://github.com

[2021-12-07 05:08] leopascual opened #7093 "major security issue when pushing to github"
### Bug description

Because when creating a workspace, name may stay as created (from template), after pushing branch created from my main br gh account.
I found out in the pull request I was asking to merged my branch into a main branch with the same repo name of the template workspace created, this repo was full of people where my branch was pushed with out my security. gitpod-io/template-pytho

[2021-12-07 05:27] ajimix commented on #4456
Came here after hours wondering why the environment variables were not exposed on the prebuild. I wish gitpod had documented it in their docs...

In any case, looks this is a big stopper for our company as we use private repositories which require private keys and we cannot expose them into the source code. I hope this can be implemented soon as it's a stopper for any medium/big company. Not using

[2021-12-07 06:02] AlexTugarev commented on #7061
@shaal, you are right about the pure `git` access to public repos, which would not require to authorize requests. the downside of this would be that shiny IDE extensions would not work without a token. but even without those IDE features, as of now, GItpod requires a token to be able to extract context information from the git hoster on workspace start.

also, it's a good question whether we want

[2021-12-07 06:13] AlexTugarev commented on #7087
@gtsiolis, in the proposal from above, two different providers are mentioned. Personally I'd expect to preselect the previously used provider by default.

Also, if there is recently updated information about provider connections, and we can assume that a provider isn't linked with your account, we should not pre-select it here even if the context URL points to it. In such cases it would be good to

[2021-12-07 06:43] AlexTugarev commented on #7088
@jldec, after re-reading this: Q2 is more of an alternative to the whole auto-inferring story, where we would not even try to automate anything. it would be the fastest way to start a workspace, though it would not contain any configuration file contributed. to try help users with the configuration we could refer to the docs on this "project created" page, perhaps even mentioning `gp init`.

[2021-12-07 06:51] AlexTugarev commented on #7092
I'm actually not sure about the component. @JanKoehnlein, please correct me if I'm wrong here.

It's the caller of `guessGitTokenScopes` API method which doesn't provide a `repoURL` to be parsed here when `git push REMOTE_NAME` is executed.

[2021-12-07 07:11] gtsiolis commented on #7087
@AlexTugarev You're correct! 🍊

Sorry for not making it clearer above but the screenshot describes the edge case where we pre-select a provider for the user but the user manually changes the provider option to a provider they don't have any connection with based on the second approach described in the issue description:

[2021-12-07 07:15] jankeromnes commented on #7088
I'm very much in favour of entirely skipping the configuration page in the onboarding flow, but **keeping** the auto-inferred `.gitpod.yml` and dropping it untracked inside new Project workspaces (as we already do today).

I see no value in removing the auto-inferrence today.

[2021-12-07 08:08] MrSimonEmms opened #7095 "[Installer]: incorrect pod security policies"
In my Terraform-build environment, I have enabled pod security policy and network config on GCP and found that there are issues with the pod security policies forbidding pod creation. Investigate and fix

Affected resources:
 - statefulset/mysql
 - statefulset/messagebus
 - daemonset/registry-facade
 - replicaset/minio-fcc44c67
 - replicaset/server-7d44ddf94f
 - replicaset/registry-7759cf6c97
 - r

[2021-12-07 08:35] gtlovett commented on #6342
Please add me!

[2021-12-07 08:57] akosyakov commented on #6955
It is not only about static images. We have different public services like OpenVSX proxy, blobserve and local apps. In IDE team we would like to have our own proxy which allow us to deploy such components independent from other teams.

Introducing this proxy now just for static images it is a first step in a right direction.

[2021-12-07 09:05] lechien73 commented on #7064
So, is it that older versions of `workspace-full` were automatically activating a venv and that is the changed behaviour @ghuntley?

When I create a new workspace using an older commit of `workspace-full`, it starts up without showing all of those packages installed. I've also tried running `source deactivate` to see if a venv is running, and it tells me `pyenv-virtualenv: no virtualenv has been a

[2021-12-07 09:07] akosyakov opened #7096 "[gp-cli] allow to extend timeout"
[Gitpod CLI](https://github.com/gitpod-io/gitpod/tree/main/components/gitpod-cli) should have a new command `timeout extend` which will [boost a workspace timeout](https://www.gitpod.io/docs/life-of-workspace#timeouts).

To extend a timeout we should use [Gitpod Server APIs](https://github.com/gitpod-io/gitpod/blob/5bd176bfe71d86db9ec834881ef1bcd84263556e/components/gitpod-cli/pkg/gitpod/server.go

[2021-12-07 09:21] akosyakov commented on #4861
@loujaybee is it a dup of https://github.com/gitpod-io/gitpod/issues/6818#issuecomment-975633422?

[2021-12-07 10:05] jldec opened #7098 "New project created page"
After creating a new project, users may not always want to open a workspace.

This is related to #7088 (see question 2)

Let's show a page to announce successful creation of the project, with buttons to [Open Workspace] or go [Back to Dashboard].

[code]

This will be useful to keep in mind for other future options like [Create another Project] or even an option to [Configure].
We could also add a

[2021-12-07 10:08] jldec commented on #7088
Possible value of removing auto-inference

1. Some users are not left wondering why there may have been a prebuild once but then it didn't happen again
2. We move on to other issues ;) - this is relevant if there are complications with the headless auto-inference which may take longer to resolve.
3. No waiting for auto-inference, especially on repos where inference doesn't find anything

Regarding

[2021-12-07 10:16] arxanas commented on #5578
Last time I checked, this had actually been fixed.

[2021-12-07 10:17] #5578 closed

[2021-12-07 10:17] akosyakov opened #7100 "generate snapshot URL on server"
Right now Gitpod CLI and Gitpod VS Code extensions have it hardcoded instead it could be provided by `takeSnapshot` method.

‼️ please don't work on it this issue for candidates.

[2021-12-07 10:30] laushinka commented on #6826
In order to have better analytics and a data-driven decision-making, after a [discussion](https://www.notion.so/gitpod/Meta-Sync-Dec-6-2021-4ee3c5ddae594d209cbf6dff52ed043f#bdff668e9e7a47b59e0c426c642423ac) in the Meta team, we will enable A/B testing for this page with a 50:50 ratio for each group once [this](https://github.com/gitpod-io/gitpod/pull/7081) is merged. This will be the first time we

[2021-12-07 11:00] gtsiolis opened #7101 "Allow users to transfer projects to another namespace (team or personal account)"
### Problem to solve

Currently, users can add or remove projects form a team or their personal account. The addition and removal process contains some friction that could be avoided when a user simply wants to transfer a project to another namespace (team or personal account).

### Proposal

Given that project settings start to build up with incremental settings (https://github.com/gitpod-io/gitp

[2021-12-07 12:32] #6704 closed

[2021-12-07 12:36] #7053 closed

[2021-12-07 12:44] loujaybee commented on #7026
Relates to #7081

[2021-12-07 12:46] #6979 closed

[2021-12-07 12:46] #6989 closed

[2021-12-07 12:46] #6990 closed

[2021-12-07 12:50] #6826 closed

[2021-12-07 13:06] #7076 closed

[2021-12-07 13:48] jankeromnes commented on #7088
I don't think there is a case where there is a prebuild once and then not again. Either there are never any prebuilds (e.g. if we remove auto-inferrence), or there are always prebuilds on every change of the repository (current situation).

Thankfully there is no complication there.

Inference now happens in the background, as soon as a user selects a repository, and by the time they finish the pr

[2021-12-07 15:46] lechien73 commented on #7064
So, further investigation reveals that the change took place back in June. Probably, our custom Dockerfile hadn't been updated, so the image hadn't rebuilt.

I've managed to solve it by creating a new Dockerfile, which builds from `workspace:base` and using the following Python installation:

[code]

This differs from the new default installation by setting `PIP_USER` to `yes` and removing the `PI

[2021-12-07 15:59] geropl opened #7108 "[tracing] Move Auth-/TOS-flow extensive logging to tracing"
Currently `server` traces more than it should around the auth and TOS flows which litters the logs (`grep` for "Auth-With", "Auth Provider Callback" and "(TOS)"). This has been necessary in the past to enable debugging.

Now that we have tracing available (soon), we should:
 - revise the information we're logging (should not contain PII)
 - move it over to tracing instead

We might need to setup t

[2021-12-07 15:59] geropl commented on #7108
/schedule

[2021-12-07 15:59] roboquat commented on #7108
@geropl: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7108#issuecomment-988060658):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behav

[2021-12-07 16:20] SchindlerTo opened #7110 "Unable to install sphinx with pip (sphinx-builder) / path issues (worked before)"
### Bug description

Setup:
We point to a docker file as the image in ``.gitpod.yml``. Starting gitpod, the image is built and a startup task is done (visible in the terminal). This startup task installs some packages, most notably sphinx (https://www.sphinx-doc.org/en/master/). Sphinx documentation is built by "sphinx-builder", which is installed by ``pip install sphinx``.

Problem:
After the sta

[2021-12-07 16:30] geropl commented on #7054
/team meta

Taking over again an trying to reproduce

[2021-12-07 16:37] loujaybee commented on #7026
CC @mikenikles — it would be useful if this could also apply to changes in the docs, as I'm thinking about how we ensure docs updates are synced also with feature updates, I believe you were thinking about moving docs into the main repo somehow so that we can review both at the same time?

[2021-12-07 16:41] JanKoehnlein commented on #7064
I am glad you found out how to fix this. Can this issue be closed then?

[2021-12-07 16:52] lechien73 commented on #7064
For us, it can @JanKoehnlein; however I'd strongly suggest reverting to this behaviour by default. We can't be the only people who use Gitpod in order to escape the need to create virtual environments, and the current behaviour will cause a lot of package confusion for users. The need to manually configure `pip` to store its packages in persistent storage also seems a bit user-hostile. The previou

[2021-12-07 17:15] #7095 closed

[2021-12-07 17:55] #5937 closed

[2021-12-07 18:07] jldec commented on #7098
/schedule

[2021-12-07 18:07] roboquat commented on #7098
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7098#issuecomment-988155657):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-07 18:16] jldec commented on #7088
Thank you @jankeromnes and @AlexTugarev
I'm happy with those counterpoints :)

Also thanks for all the work in https://github.com/gitpod-io/gitpod/pull/7102 to resolve this.

[2021-12-07 18:17] jldec commented on #7088
/assign @jankeromnes
/assign @AlexTugarev

[2021-12-07 18:23] jeanp413 commented on #6896
I think we can use this proposed API https://github.com/microsoft/vscode/blob/main/src/vscode-dts/vscode.proposed.terminalDataWriteEvent.d.ts

[2021-12-07 18:46] jldec commented on #7098
/assign @jankeromnes
/assign @AlexTugarev

[2021-12-07 20:07] exampro-dev opened #7113 "Gitpod Support page should say Discord instead of Discourse"
### Bug description

Gitpod is no longer using Discourse, so the wording here needs to be changed to Discord.
![image](https://user-images.githubusercontent.com/80976428/145098538-fd964acf-63e7-492e-82bf-3d428e467099.png)

### Steps to reproduce

🦩🦩🦩

### Workspace affected

_No response_

### Expected behavior

🦩🦩🦩

### Example repository

https://www.gitpod.io/support

### Anything else?

🦩🦩🦩

[2021-12-07 20:10] exampro-dev commented on #7113
SORRY! This is suppose to open on the Website!

[2021-12-07 20:10] #7113 closed

[2021-12-07 20:15] jldec commented on #4456
For the folks on this thread (thanks for all your feedback b.t.w.) I was wondering how we might get this done incrementally.

One possiblity as a first step may be to add support for "non-shared" or "personal" prebuilds which get access to your personal env vars.

Personal prebuilds would be auto-triggered on commit, but only for the owner-user. Other users would trigger those prebuilds manually o

[2021-12-07 20:25] ntziolis commented on #4456
Manually triggering prebuilds negates the usefulness of prebuilds.

Number one complaint of our devs when using gitpod is startup time.

Whatever interim solution would be it would have to allow for prebuilding for any commit made.

Options:
- always prebuilds with the env variables of the user that pushes a commit
- allow to specify a user which env variables are used

I would tend to prefer the

[2021-12-07 22:16] #4044 closed

[2021-12-07 22:22] MrSimonEmms opened #7114 "Image Builder Mk3 - image building fails when through installer"
### Bug description

When build a new image in an Installer-configured instance, get the following errors. Seems consistent in Azure and GKE.

[code]

### Steps to reproduce

Build a new workspace image

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

There have been changes to Image Builder Mk3 and Installer i

[2021-12-08 03:20] shaal commented on #4456
@ntziolis

I think it depends what happens during prebuild, in DrupalPod, manual prebuilds make perfect sense because it's a repo to prepare Gitpod workspace that host additional projects.

I'm curious to know what is the startup time you are getting with Gitpod workspace, and what is a "good" startup time for your team.
I've been working on lots of optimization in Gitpod+prebuilds and I would lov

[2021-12-08 06:22] ntziolis commented on #4456
I should have said in many use cases vs such a blanket statement.

We are seeing ~3-5min wait time without prebuilds. This is def too long to embrace the gitpod philosophy of always operating in a new workspace per task. Which we really would love to embrace but cannot.

Where does our wait time come from
1. We do node development using use nx for workspace management
To install the sheer amount o

[2021-12-08 08:15] #4625 closed

[2021-12-08 08:24] AlexTugarev commented on #7064
I'm trying to provide some light on this as it might be necessary to understand the actual expectation on the state of python package in a fresh workspace.

<details>
<summary>See the dependencies of pre-installed packages which perfectly match the packages contributed by the workspace full image.</summary>
<pre>
gitpod /workspace/gitpod $ pipdeptree -fl
autopep8==1.5.7
  pycodestyle==2.7.0
  toml

[2021-12-08 08:55] jldec commented on #6918
/schedule

[2021-12-08 08:55] roboquat commented on #6918
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6918#issuecomment-988617971):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-08 09:12] AlexTugarev commented on #5115
/assign

[2021-12-08 09:14] loujaybee commented on #6896
Spoke with @akosyakov and have reduced the scope on this to be tracking only "git" commands, rather than all terminals.

[2021-12-08 09:14] AlexTugarev commented on #6724
@jldec, I think this can be closed now, right? It's no longer relevant, if we remove the config page.

[2021-12-08 09:19] loujaybee commented on #6981
@akosyakov will update here with some more thoughts/notes on a technical solution.

[2021-12-08 09:22] loujaybee commented on #6895
@akosyakov noted some challenges:

* This might only work on web, not on desktop.
* This might be easiest / only possible for our own extensions

Both of these are fine as a first iteration if we cannot get data on the other pop-ups.

[2021-12-08 09:25] MrSimonEmms commented on #7114
It seems that the first release that's got this is problem in is `main.1995`. I think the associated commit is [35b026f65a636c74c04c448cd1911a2e288ca3ca](https://github.com/gitpod-io/gitpod/commit/35b026f65a636c74c04c448cd1911a2e288ca3ca)

[2021-12-08 09:26] lechien73 commented on #7064
I could be way off the mark here @AlexTugarev, because I couldn't find much documentation for the `PIP_USER` environment variable; however I think what was happening prior to the June change is that the required dependencies were being installed globally. The `PIP_USER=yes` environment variable set `pip` to work in user mode, so that global packages weren't displayed. When you started a new worksp

[2021-12-08 09:29] loujaybee commented on #6894
This one is a little tricky, so probably best if @akosyakov is able to collaborate with whoever picks this up to come up with a plan. As with all of the analytics tickets, having something working initially is better than trying to overthink it, and come up with something super comprehensive.

[2021-12-08 09:30] loujaybee commented on #6894
There is potentially some tracking added here [[1](https://github.com/gitpod-io/gitpod/blob/da3991c94b08365b6de71b9337ee69a338b21dfc/components/supervisor/pkg/supervisor/supervisor.go#L1306)], let's investigate if we have that data, and if those events are working as expected.

[2021-12-08 09:35] MrSimonEmms commented on #7114
Logs from `imagebuild-432e31c1-828d-45d5-8294-65593ea53e84`, building [template-typescript-react](https://github.com/gitpod-io/template-typescript-react)

[code]

[2021-12-08 09:38] geropl commented on #7082
Not fixed yet.

[2021-12-08 10:16] jankeromnes commented on #7098
Many thanks!

**Nit**: Putting the project name and team name on separate lines looks weird / kind of like a UI bug. Couldn't they be on the same line?

[code]

[2021-12-08 10:19] geropl commented on #7082
Will pause work on this, and see if it got better with the PRs linked above after tomorrows deployment.

[2021-12-08 10:26] geropl opened #7117 "[ops] Add a metric for "response time / API method""
We want to measure timings, and already do that with tracing, but should also have a metric for it (which is not subject to sampling, for instance).

Not sure what the best way to do this. I thought about a histogram, with a field "method". Investigate how others do it (ws-manager), and what good bucket sizes would be.

[2021-12-08 10:26] geropl commented on #7117
/schedule

[2021-12-08 10:26] roboquat commented on #7117
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7117#issuecomment-988685864):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-12-08 10:31] geropl commented on #7054
@csweichel @corneliusludmann What's a good way to reproduce? Maybe in devstaging? Started ~10 workspaces in prod and don't see it :eyes:

[2021-12-08 10:34] corneliusludmann commented on #7054
Unfortunately, I haven't found a way to reproduce this. :disappointed: It only happens in prod from time to time.

[2021-12-08 10:50] AlexTugarev commented on #7064
This is a great summary and exactly the intention behind the previous setup.

I pass the ball to @csweichel because of https://github.com/gitpod-io/workspace-images/pull/461. It seems to have been changed in order to overcome issues with pipenv, but I've no insight about the actual issue there.

[2021-12-08 10:57] laushinka commented on #6875
Will pick this up. @gtsiolis we can align on the visual design?

[2021-12-08 10:58] laushinka commented on #6875
/assign

[2021-12-08 10:58] geropl commented on #7054
Ha, got lucky now! :four_leaf_clover:

[2021-12-08 11:15] corneliusludmann commented on #6372
The only mitigation we have currently in place is to block new users (optionally with a passlist):

https://github.com/gitpod-io/gitpod/blob/baa41ece4b9b521a0ad62107fabcb6ef008d89a7/chart/values.yaml#L281-L283

https://github.com/gitpod-io/gitpod/blob/baa41ece4b9b521a0ad62107fabcb6ef008d89a7/.werft/values.dev.yaml#L45-L48

https://github.com/gitpod-io/gitpod/blob/baa41ece4b9b521a0ad62107fabcb6ef00

[2021-12-08 12:41] akosyakov opened #7121 "[code] remove forum action"
It was replaced by Discord and we have already chat with us.

[2021-12-08 12:41] geropl commented on #7054
From my testing it looks like - now that the workspace issue is fixed - this might be related to reconnects. I can now "fix" this by opening another port: if that succeeds, the update for the first port arrives as well, and resolves the sticky "detecting...".

I see `ws-manager` emits the correct event now. With honeycomb this would instantly solvable...  We have the traces now, but jeager cannot

[2021-12-08 12:41] akosyakov commented on #7121
@filiptronicek Could you take care of it? Ask @jeanp413 to review.

[2021-12-08 12:47] ramank775 opened #7122 "GitHub commit email as git author email"
## Is your feature request related to a problem? Please describe
When email privacy is enabled/ commit email is enabled on the github with block command line push with primary email.  Currently gitpod configure git user with the primary email which leads to GitHub rejects the commit.  User needs to be conscious before starting the work, which i feel adds little manual work for the user, and as a u

[2021-12-08 13:01] awmath commented on #7077
The issue most likely lies with this commit https://github.com/gitpod-io/workspace-images/commit/507a50aeb98b86396d8d3b705e1ed651ed0af6fe
Removing `PIP_USER=yes` makes `PYTHONUSERBASE=/workspace/.pip-modules` ineffective by installing all packages under `/home/gitpod/.pyenv/....` which is not persistent between WS restarts.

[2021-12-08 13:13] akosyakov commented on #6861
@loujaybee I removed it from the groundwork, since it was partly done by https://github.com/gitpod-io/gitpod/issues/6899

Should we keep it for additional points?

[2021-12-08 13:15] akosyakov commented on #5412
I removed it from the groundwork for now. We prioritize collecting analytics for initial onboarding.

[2021-12-08 13:15] SirLemyDanger opened #7123 "[installer] minio pod on k3s in crashloop"
### Bug description

Minio pod keeps crashing due to a failed liveliness probe.

### Steps to reproduce

1. Install k3s (without traefik) on a single node
1. install gitpod with installer (version see below in quote)
2. minio pod keeps crashing

{
  "version": "main.1982",
  "components": {
    "agentSmith": {
      "version": "commit-1c0c677313692945976566d0d042e4f033889de2"
    },
    "blobserve

[2021-12-08 13:15] quental96 commented on #7110
Maybe linked to [7078](https://github.com/gitpod-io/gitpod/issues/7078#issue-1072006712) or [7077](https://github.com/gitpod-io/gitpod/issues/7077#issue-1071991424)?

I think a solution for you may be to revert to an older docker image that used to work for you.

It seems like they have recently changed the way that workspaces are handled, especially for Python... And without even informing the us

[2021-12-08 13:17] SirLemyDanger commented on #7123
[describe_minio.txt](https://github.com/gitpod-io/gitpod/files/7676224/describe_minio.txt)
[logs_minio.txt](https://github.com/gitpod-io/gitpod/files/7676225/logs_minio.txt)

[2021-12-08 13:17] akosyakov commented on #5863
Removed it, since we don't control IDEs output. The option just don't log anything does not work for us, since in such case neither we are or user see anything.

[2021-12-08 13:18] akosyakov commented on #6900
I removed it, since I don't think @corneliusludmann have capacity to work on it anymore.

[2021-12-08 13:23] akosyakov commented on #6618
I removed it for now from the groundwork, since we focus on initial onboarding in Dec.

[2021-12-08 13:24] akosyakov commented on #6778
@iQQBot you can follow internal investigation here: https://gitpod.slack.com/archives/C01KGM9BH54/p1638873457412200

[2021-12-08 13:27] lechien73 commented on #7077
Can probably merge this with the discussion here: https://github.com/gitpod-io/gitpod/issues/7064

[2021-12-08 13:34] geropl commented on #6778
Relevant update: https://github.com/gitpod-io/gitpod/issues/7054#issuecomment-988777393

[2021-12-08 13:37] akosyakov commented on #6321
@loujaybee On which level do we want to measure it? Actions from IDE settings page on the dashboard?

[2021-12-08 13:40] geropl commented on #6918
IMO we should try to keep PII (GitHub handles/profile ids) out of the source code. Either we use a file (ConfigMap) that we regularly poll and keep in memory, or a DB table that we update by hands at first, maybe with a simple view later.

[2021-12-08 13:54] geropl commented on #7054
Will pause work here and wait until we have traces in honeycomb ([tomorrow](https://github.com/gitpod-io/ops/pull/424)).

[2021-12-08 13:57] akosyakov commented on #7054
Do you think it makes sense to install mitigation in supervisor for future anyway?

[2021-12-08 16:05] jldec commented on #7098
It looks like what we have no2 is the following (2 samples below)

@jankeromnes do you think these are more usable than the previous layout (with project and team on 2 lines, and with just the word `in <team>` instead of `in team <team>`?

My intuition is the having 2 lines is a bit easier to use.

![Screenshot 2021-12-08 at 16 01 11](https://user-images.githubusercontent.com/849592/145241118-6e75

[2021-12-08 16:07] jeanp413 opened #7126 "[ide] gp command doesn't work in gitpod-desktop"
### Bug description

How to reproduce:
1. Open a workspace in vscode desktop
2. Try running a gp command in console
[code]

### Steps to reproduce

see above

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-08 16:52] JanKoehnlein commented on #6664
Talked to @meysholdt and the platform team is figuring out a way how to do that on the repo, cross-team and cross-language. We discussed shortly whether we should have that as a merge gate in the build, but as I expect that to be triggered on existing old dependencies rather than newly added ones, this would always interfere with the normal dev workflow.

[2021-12-08 17:16] jwpjrdev commented on #4634
I might do this sometime. It's been driving me crazy for months.

[2021-12-08 17:25] jwpjrdev opened #7128 "Courses/learning/training"
## Is your feature request related to a problem? Please describe
It would be really really cool to see some form of a course(s) to run newbies through some basic examples (and maybe a few more complex ones?) to help them get a feel for Gitpod.
I think it would help lower the learning curve that it takes to get good at gitpodifying projects and maintaining them with Gitpod.

## Describe the behavio

[2021-12-08 17:39] jwpjrdev opened #7129 "Items in bottom of vscode are unclickable on touchscreens"
### Bug description

Buttons down at the bottom of VS Code are unclickable on touchscreens. In the attached screenshot, "YAML" and "Layout: U.S." are examples. When tapped/clicked, their background turns grey but nothing is shown. On a laptop, these work just fine.

![24F597B5-28E4-4D6C-AFD9-7B7284F405C2](https://user-images.githubusercontent.com/39033698/145255703-3ca9ebdc-eb0b-4231-9f3c-7263f6db

[2021-12-08 17:42] #7114 closed

[2021-12-08 18:09] jldec commented on #6724
Let's keep it to help those users who use the config page from the project dashboard.

[2021-12-08 18:10] jldec commented on #6724
/unschedule

[2021-12-08 19:03] jeanp413 commented on #7126
We published a new version with @akosyakov to the marketplace. Tested the new version manually and it's working now.
Closing this.

[2021-12-08 19:03] #7126 closed

[2021-12-08 19:09] stefanhoelzl opened #7130 "Building image fails with failed commit on ref"
### Bug description

The Building image steps fails with the following error message
[code]

with the `.gitpod.yml` having this content:
[code]

### Steps to reproduce

try to open https://gitpod.io/#https://github.com/stefanhoelzl/python-project-tools

### Workspace affected

_No response_

### Expected behavior

opening a workspace

### Example repository

https://gitpod.io/#https://github.com/s

[2021-12-08 21:01] ghuntley commented on #6918
ConfigMap/File means changes go through pull-request reviews which is very desirable. Can we head down this route?

[2021-12-08 21:27] jldec commented on #7088
Resolved by #7102

[2021-12-08 22:40] jldec commented on #7087
Following the deployment of #6826 (staging at the time of writing) the situation described can be reproduced as follhows

- create a gitpod account with provider-1 (e.g. gitlab) and no additional integrations
- clear cookies or open a totally new browser session
- navigate to a prefixed repo on a different provider (e.g. github)
- ensure that the login-from-context-6826 UI experiment is `true` in

[2021-12-09 02:24] #7130 closed

[2021-12-09 04:26] #5441 closed

[2021-12-09 05:26] #5448 closed

[2021-12-09 07:09] iQQBot opened #7135 "werft gitpod-wipe-devstaging is broken due k3scluster is destroy"
### Bug description

werft gitpod-wipe-devstaging is broken due k3scluster is destroy

### Steps to reproduce

see https://werft.gitpod-dev.com/

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-09 07:23] AlexTugarev commented on #7087
@jldec, another realistic way to get here: having the http session expire after some time and navigating to gitpod.io. in that case chances are that the local storage remain.

[2021-12-09 07:24] AlexTugarev commented on #7087
In case of an auth error as seen above, we should switch to the regular login screen, no?

[2021-12-09 07:53] AlexTugarev commented on #5115
@gtsiolis, just from re-reading the issue, I don't think tackling these risks is in scope of the [PR](https://github.com/gitpod-io/gitpod/pull/7125) to initially support self-managed GitLab instances. preserving details from remote services is a general improvement not directly depending on the provider.

[2021-12-09 08:07] ntziolis commented on #4456
@shaal I just saw your reference to discord hopping on there now.

[2021-12-09 08:26] akosyakov opened #7137 "notify supervisor about executed programs"
We would like to analyze them in supervisor and track relevant.

@csweichel Maybe it is something what @iQQBot can work given you provide a guidance?

cc @loujaybee

[2021-12-09 08:27] jankeromnes opened #7138 "Fix "Flash Of Unstyled Content" in new login screen"
### Bug description

There is a "Flash Of Unstyled Content" in Gitpod's new context-aware login screen.

Screencast (where I reload multiple times to show the problem):
https://youtu.be/Z8RAFGaXHuY

### Steps to reproduce

1. Make sure you're rolled into the new login screen experiment (in a browser console on gitpod.io)

[code]

2. Log out of gitpod.io

3. Visit https://gitpod.io/#https://github.

[2021-12-09 08:54] AlexTugarev commented on #5785
Resolved in https://github.com/gitpod-io/gitpod/issues/7088

[2021-12-09 08:54] #5785 closed

[2021-12-09 08:58] geropl commented on #7054
Using honeycomb this morning to query failing `openPort` calls:
 - query: https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/93PvwnA64wM
 - span: https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/93PvwnA64wM/trace/CndzDxaUZJ?span=90fe5498dd20b6bd (missing the original error message: will create follow up PR)
 - corrolate with logs:
    - `cannot update workspace pod`:

[2021-12-09 08:59] #6829 closed

[2021-12-09 09:03] #6868 closed

[2021-12-09 09:16] MrSimonEmms opened #7139 "[Installer]: registry has incorrect pod security policies"
As per #7095, the in cluster Docker registry doesn't have the correct pod security policies. This was separated out from that ticket as it requires a [PR to be accepted and merged](https://github.com/twuni/docker-registry.helm/pull/44) into the external registry

All other details as per the parent ticket

[2021-12-09 09:17] AlexTugarev opened #7140 "Unify all my workspaces on gitpod.io/workspaces"
When visiting `gitpod.io/workspaces`, it happens quite often that it get's unclear where I find a recent workspace item.

<img width="1356" alt="Screen Shot 2021-12-09 at 10 09 07" src="https://user-images.githubusercontent.com/914497/145366994-f8984219-a3b9-4618-9cde-7e38f03292f6.png">

It takes 4 clicks and page loadings to find the list of workspaces for the Gitpod project. This I have to repea

[2021-12-09 09:21] jankeromnes commented on #7140
Isn't it just 1 click?

<img width="1356" alt="active-in-team" src="https://user-images.githubusercontent.com/599268/145368862-66c0ee14-19e0-4273-ac71-2d7e59341c31.png">

[2021-12-09 09:26] AlexTugarev commented on #7140
TBH, that 1-liner is usually ignored by me, especially as there is a green dot, which somehow indicates a state to me and I'm not expecting navigation to be included.

[2021-12-09 09:28] jankeromnes commented on #7140
Thanks a lot for the feedback 🙏 then I think we should make this message more obvious / visible.

[2021-12-09 09:28] akosyakov commented on #6894
@jakobhero Could you check please whether we have `config-changed` in Segment, but which does not make to BigQuery for some reasons?

[2021-12-09 09:37] davemecha opened #7142 "Tailscaled not starting"
### Bug description

When starting a workspace with tailscale (e.g. the tailscale template) the tailscale daemon does not start.

Here is the console output from starting `tailscaled`:

[code]

### Steps to reproduce

* Add a `TAILSCALE_AUTHKEY` to [Gitpod environment variables](https://gitpod.io/variables) as described in the [docs](https://www.gitpod.io/docs/configure/tailscale)
* Launch the [te

[2021-12-09 09:52] Hyakusenrenma opened #7143 "We encountered a lot of problems in offline deployment"
### Bug description

![image](https://user-images.githubusercontent.com/24557078/145371666-e0c81c9c-56b1-4311-bbd5-a934f3679f77.png)
kubectl  logs ws-manager-7db4f76577-bmjh9 -n gitpod ws-manager
![image](https://user-images.githubusercontent.com/24557078/145371902-a7f8bb11-7f7c-4df2-a988-2705045bfd57.png)
![image](https://user-images.githubusercontent.com/24557078/145372226-b5221966-6d22-4b05-ae9

[2021-12-09 09:54] jakobhero commented on #6894
Hi @akosyakov, i had another look at the events coming into Segment and `config-changed` never makes it there. Also, the BigQuery destination is not configured to block any of the events. Are we sending the events to the source with the write key of [production trusted](https://app.segment.com/gitpod/sources/production_trusted/overview)?

[2021-12-09 09:58] akosyakov commented on #6894
I think it is configured here: https://github.com/gitpod-io/gitpod/blob/0851301c528287ad2a7b62deb40e0cb332585166/components/common-go/analytics/analytics.go#L42-L46 and sent here: https://github.com/gitpod-io/gitpod/blob/0851301c528287ad2a7b62deb40e0cb332585166/components/common-go/analytics/analytics.go#L92-L102

@csweichel Could it be that `GITPOD_ANALYTICS_WRITER` and `GITPOD_ANALYTICS_SEGMENT_

[2021-12-09 10:03] csweichel commented on #7054
Not yet, we're about to shift traffic to the new clusters today

[2021-12-09 10:12] jakobhero commented on #6894
For what it's worth, dashboard and server side analytics calls also depend on the configuration of those as far as i know and they don't seem to be affected.

[2021-12-09 10:26] AlexTugarev commented on #6172
I propose to unschedule this for now and await current changes to the onboarding flow. We can think of optimizing this steps later on.

[2021-12-09 10:26] AlexTugarev commented on #6172
/unschedule

[2021-12-09 11:31] MrSimonEmms opened #7145 "[Installer]: test prebuilds work with Installer deployments"
The Installer has been shipped but pre-builds were not part of MVP. Investigate where the Installer is with regards to pre-builds and schedule any required work

- [ ] Get prebuilds working
- [ ] Publicly document how to get prebuilds working in a self-hosted installation

[2021-12-09 11:41] loujaybee opened #7146 "Feedback Issue: Local Companion App"
An issue for collecting feedback on the local companion app: https://www.gitpod.io/docs/develop/local-companion

[2021-12-09 11:42] loujaybee commented on #6576
I think there was some confusion around the private beta for JetBrains ending and closing this issue, but since JetBrains is still in beta, I'll re-open and pin this issue 🙏

[2021-12-09 11:44] loujaybee commented on #7146
Explore whether it's possible to use local companion to integrate with client git apps like git_fork and git_extensions [[1](https://twitter.com/andymac4182/status/1468900406713479176?s=20)]

[2021-12-09 11:52] jwpjrdev commented on #7128
Yes, something a bit more interactive.

[2021-12-09 12:31] jwpjrdev commented on #6928
This seems simple enough. I could probably do it.

[2021-12-09 12:43] akosyakov commented on #7054
We did not observe API failures in the supervisor but missing events. We could try to force sync on reconnect and/or if port is not exposed within 1 min. But it makes thing complex. I see 2 issues:
- we need to ensure that we don't spam with getWorkspace
- we don't read old state by mistake, i.e. we force sync see that port is exposed, but then some delay event come that port is not exposed, could

[2021-12-09 12:47] geropl commented on #7054
@akosyakov I see plenty of failed `openPort` requests in the logs, which cause no port to be opened, and never trigger an update, at all. Does supervisor log those errors? Is maybe sth broken wrt error handling/transmission?

I will try to reproduced now and have a concrete example with traces.

[2021-12-09 12:52] csweichel commented on #7142
This does not come from a recent tailscale change but is most likely related to an infrastructure change on our end.

[2021-12-09 12:52] akosyakov commented on #7054
Yes, I think it should log them in following places:
- https://github.com/gitpod-io/gitpod/blob/e5be2b7225e06c68813a6dac86baff2a5f1d6091/components/supervisor/pkg/ports/exposed-ports.go#L166
- https://github.com/gitpod-io/gitpod/blob/e5be2b7225e06c68813a6dac86baff2a5f1d6091/components/supervisor/pkg/ports/ports.go#L487-L493
- https://github.com/gitpod-io/gitpod/blob/e5be2b7225e06c68813a6dac86baff2

[2021-12-09 12:53] tobiasdiez opened #7147 "[image-builder] Increase docker log size"
## Is your feature request related to a problem? Please describe
If you create a custom docker image, and during the build process a lot of text is displayed, that you may get

at some point.

## Describe the behaviour you'd like

Increase the log size, using e.g. https://stackoverflow.com/questions/65819424/is-there-a-way-to-increase-the-log-size-in-docker-when-building-a-container.

## Describe

[2021-12-09 12:55] csweichel commented on #7142
Quote from Discord:

Working on 08.12.2021
Broken on 09.12.2021

[2021-12-09 13:01] akosyakov commented on #6928
PRs are welcomed.

[2021-12-09 13:06] akosyakov commented on #7146
You can mount Gitpod workspace into your local machine, but it can be slow.

[2021-12-09 13:09] akosyakov commented on #6576
@loujaybee We need to update docs to point to this issue instead of closed one?

[2021-12-09 13:16] davemecha commented on #7142
I restarted my container yesterday (08.12.) several times and it worked everytime. When I started the container today in the morning, there was a short build screen when opening the container. Some new builds were done. After the container started, I had the tailscale error.

[2021-12-09 13:16] akosyakov commented on #6894
yes, i see it in each workspace

[2021-12-09 13:24] ghuntley commented on #7142
Confirming that https://ghuntley.com/new is now broken.

<img width="870" alt="Screen Shot 2021-12-09 at 11 23 25 pm" src="https://user-images.githubusercontent.com/127353/145404328-cf1b7a41-0fd2-49a2-8548-fef6734d6129.png">

[2021-12-09 13:29] geropl commented on #7054
Reproduced with another one of my workspaces (`yellow-weasel-1s0rp7u2`/`dd931bcb-5aaf-4a25-a514-83744ee973d2`). I tried to open ports in a row until it happened (8331, 8332, ... , 8334, 8335). Port 8334 was the last working one (`13:56:46.000 CET`), 8335 the broken (`13:58:52.000 CET`):
![image](https://user-images.githubusercontent.com/32448529/145404355-eec39c9d-b987-4959-b3b6-653f02bd5437.png)

[2021-12-09 13:38] SchindlerTo commented on #7110
Seems like this is related, thanks for the hint :)

One note thought: Our gitpod.yml file does not explicitly depend on workspace-full, we use a custom docker file that is based on python 3.9.7, i.e.:

[code]

However, that's where I'm not completely sure how gitpod works. It seems like we are not following following
https://www.gitpod.io/docs/config-docker strictly, since our Dockerfile does not

[2021-12-09 14:00] ajhalili2006 opened #7149 "prebuilds: Support for force pull of the latest image manifests on manually-triggered prebuilds and webhook prebuilds"
## About this Issue

On projects using custom workspace images either through `image` key in the configuration file or through their configured custom workspace Dockerfile, when Gitpod first found a workspace image, assuming container image repositories are checked by tags, are not in its local registry proxy, it'll pull from whenever the registry the image is located and then cached it aggressive

[2021-12-09 14:28] cjensenius opened #7152 "launch of US workspaces stuck in "Pending" or "Unknown""
### Bug description

As of 9:24a eastern timezone I am unable to launch new or existing workspaces. Existing ones are stuck in "Pending" and new ones only get to "Unknown".

Example new:
salmon-tortoise-4nmjrvtx

Example existing:
sapphire-dog-thlb9719
silver-swallow-av50bjny

Receiving the following error in the console for one of the affected workspaces:
XHR GET https://silver-swallow-av50bjny.w

[2021-12-09 14:32] cjensenius commented on #7152
Update: Issue may have been transient, I was able to launch a workspace successfully

[2021-12-09 14:46] cjensenius commented on #7152
I left sapphire-dog-thlb9719 and it eventually launched, so persistence seems to allow a window of opportunity to connect to the gateway successfully and proceed with the workspace launch.

[2021-12-09 14:54] kylos101 opened #7153 "[observability] alert when the regular workspace startup time leaves the 4-8s band"
## Is your feature request related to a problem? Please describe

We need an alert when the regular workspace startup time leaves the 4-8s band for at least five minutes. It should be coupled with start requests (look at incoming start requests from server/meta to ws-manager/workspace). As a follow up, we'll want to write a runbook for this case, which will likely require (1) manually scaling and

[2021-12-09 15:20] csweichel commented on #7142
tailscaled v1.16.2 exhibits the same problem. This is not related to the tailscale version

[2021-12-09 15:36] akosyakov commented on #7054
Also there are no errors/warnings logged in supervisor?

[2021-12-09 15:38] axonasif commented on #7142
A few days back after gitpod moving to GCP, I logged the kernel version to be `5.13.0-1006-gcp` but today it seems to be `5.13.0-1007-gcp`, maybe this kernel build got that module missing in the host machine or maybe it's not loaded there?

As per the error logs:
[code]
`tun` is not present under `/sys/module/`, I had tried to load it manually via installing `5.13.0-1007-gcp` kernel modules but se

[2021-12-09 15:45] jgallucci32 commented on #3909
I think this can be closed out as Moby (i.e. Docker) is not supported because it lacks a CRI interface. There is work in progress in https://github.com/Mirantis/cri-dockerd but it looks like it's limited to only a few K8s 1.21 distributions and not something which could be considered GA at the moment.

The workarounds posted in the comments enable CRI for existing Docker installs as it bypasses th

[2021-12-09 15:45] csweichel commented on #7142
I reckon the kernel version change you noticed comes from when we moved from the ws20 to the ws21 clusters. I checked the VM images we're running and they've remained stable (as expected).

The syscall that fails now is:
[code]
i.e. all of a sudden, from within workspaces we can no longer set the name of the tun device we get from `/dev/tap/tun`. We do get a device which means it’s not a missing `

[2021-12-09 15:49] axonasif commented on #7142
So it seems that tun is a built-in module.

[2021-12-09 16:34] j0nes2k commented on #6927
I have tried to reproduce this issue, but I am already running into errors trying to create a setup. Here is the public repository where I tried to reproduce as much as of our work setup as possible.

https://gitlab.com/j0nes2k/gitpod-issue-6927/-/tree/main/

You can find two branches - `main` and `feature/add_phrase_via_brew`. When merging back the feature branch to main, the Docker image for use

[2021-12-09 17:34] davemecha commented on #7142
In case that's helpful: My workspace that stopped working from yesterday to today was on `ws-eu21.gitpod.io` and it was AFAIK not moved to another host between restarts.

[2021-12-09 17:48] aledbf commented on #7152
Closing. This was a scale-up issue in the US cluster. Please check https://www.gitpodstatus.com/incidents/pzqk00yk44pp

[2021-12-09 17:48] #7152 closed

[2021-12-09 19:06] tobiasdiez opened #7157 "Build custom docker image: transferring context"
### Bug description

While building a custom docker image, I now constantly get messages of the form

mixed into the "normal" docker output. At some point, at about 11GB, the build then stops with "Error: headless task failed: exit status 1".

### Steps to reproduce

Going to https://gitpod.io/#imagebuild/https://github.com/sagemath/sagetrac-mirror/tree/public/build/gitpod.
I tried to delete all e

[2021-12-09 19:15] Gaberoids opened #7158 ""8000 detecting.." port is not working properly"
### Bug description

Port 8000 hangs on detecting state and the site does not run on a browser tab.

Multiple workspaces are affected. A lot of my colleagues are having the same issue. Issue started few weeks ago.

PS: stoping then opening the workspace sometimes help. Site run just fine even though port status is still in "detecting.." mode

### Steps to reproduce

0- Open your workspace.

1- On

[2021-12-09 19:21] akosyakov commented on #7121
Done?

[2021-12-09 19:45] jeanp413 commented on #7121
yeah, fixed in https://github.com/gitpod-io/openvscode-server/pull/256
Closing this.

[2021-12-09 19:45] #7121 closed

[2021-12-09 20:09] gtsiolis opened #7159 "Handle project access for non-repository members"
### Problem to solve

Users that don't have access to a repository they run into errors and empty pages when access a project in Gitpod.

### Proposal

TBD (To be discussed)

This can become more relevant as users adopt **Teams & Projects** and create teams with multiple projects across different providers with team members that don't necessarily have access to corresponding repositories. 💡

[2021-12-09 20:10] #5115 closed

[2021-12-09 21:06] csweichel commented on #7142
We have found the issue:
- two days ago we made the "experimental network mode" the default (#7063). As part of that change we removed the "WORKSPACEKIT_USE_NETNS" environment variable
- this morning we deployed this change, but not the change to workspacekit which enabled the "experimental network mode" by default
- at this point the experimental network mode code no longer be enabled, because `s

[2021-12-09 21:26] gtsiolis opened #7160 "Consider improving the fork repository prompt from within the workspace"
### Problem to solve

Currently, when you try to push code changes to a repository with no permissions we surface a notification that prompts the user to fork the repository, which can be missed when other notifications pop up during the same time as there's a limit of how many notifications stay visible. This is also an issue as notifications become more frequent with every new workspace and atte

[2021-12-09 22:17] gtsiolis opened #7161 "Improve paragraph accessibility in limits reached modals"
### Problem to solve

Text accessibility in limits reached modals fails to pass WCAG AA for normal text which is the WCAG 2.0 level we're aiming for.

https://github.com/gitpod-io/gitpod/blob/c715b3521f2a2d68937cdd44ecfa35674b3c10c5/components/dashboard/src/start/CreateWorkspace.tsx#L224

https://github.com/gitpod-io/gitpod/blob/c715b3521f2a2d68937cdd44ecfa35674b3c10c5/components/dashboard/src/sta

[2021-12-09 22:36] davemecha commented on #7142
I can confirm it's working again. Thanks for your quick and deep investigation. 🥳🙏

[2021-12-10 00:30] apolopena opened #7164 "archived gitpod community forum posts are not searchable and therefore permanently lost"
## Is your feature request related to a problem? Please describe
As of Dec 7th 2021 the gitpod community forums have been replaced with a discord server. That is great in that gitpod is making a better place for community support. What is really not great is the fact that every link to the community forum now takes you to the discord lobby and no further. In essence alsmost all the essential infor

[2021-12-10 05:00] ghuntley commented on #7164
Howdy @apolopena.

Great feedback, let's make some adjustments...

The [Archiveteam](https://wiki.archiveteam.org) was engaged to archive the forums and upload them to the internet archive. In order to give people like yourself more time the forums are back online in read-only mode whilst our own archive is taken and then afterwards the static archive will be served for a quarter or so. After this

[2021-12-10 05:32] #7142 closed

[2021-12-10 05:42] ghuntley commented on #7093
Is this the pull request? https://github.com/gitpod-io/template-python-django/pull/5

[2021-12-10 07:52] #7135 closed

[2021-12-10 08:13] geropl commented on #7054
Exactly. The traces I found are not super-helpful (because we cannot identify clients, and thus don't know for sure which one is connected or not: a good idea for the future would be for info in `User-Agent` or other headers).

[2021-12-10 08:16] akosyakov opened #7166 "[ide] add user-agent header to ws connection to server"
We should make sure that user-agent header is provided when we connect to server from the local companion and supervisor.

@iQQBot Could you take care of verifying it and adding missing headers if it is the case? 🙏

[2021-12-10 08:20] jldec commented on #5119
We know from user support questions that this is causing problems.
Let's implement the minimal solution to show a team owner name - a tooltip as proposed by @gtsiolis is fine.

[2021-12-10 08:22] AlexTugarev commented on #5980
/assign

[2021-12-10 08:37] geropl commented on #7166
In case of supervisor, it'd be awesome if `server` could learn about the `instanceId` of the connected workspace.

[2021-12-10 08:39] AlexTugarev commented on #7108
Reducing technical debt with this auth would be a great thing!

[2021-12-10 08:46] JanKoehnlein opened #7167 "[dashboard] Disable UI experiments for self-hosted"
UI experiments (#7081) allow us to gather user data on alternatives for the UI. But they for self-hosted installations, we should rather provide a single UI flow. Let's disable experiments for SH.

[2021-12-10 08:46] JanKoehnlein commented on #7167
/schedule

[2021-12-10 08:46] roboquat commented on #7167
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7167#issuecomment-990742578):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-12-10 09:22] JcdeA commented on #5534
I live in Seoul, but somehow Hong Kong wins with the least latency. I assume the actual DC isn't located in Seoul, as that wouldn't make much sense economically.

I have pretty good internet connectivity (~400mbps).

![Screenshot_20211210-181713_Chrome](https://user-images.githubusercontent.com/31413538/145549229-187fe0dd-220b-4325-a7fe-8cef1bafe31c.png)

I would be satisfied with a Singapore clus

[2021-12-10 09:33] Mrzhuxuhao opened #7168 "What environment do I need to install when I run gitpod in my webstorm（windows10）"
### Bug description

what should I do! Are there any tutorials

### Steps to reproduce

First run gitpod in my local webstrom!

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-10 10:06] geropl commented on #7167
One way would be to have a `enableUiExperiments` API call that defaults to `false`, and is configurable per `Config`.

To not force every client to ask for this on every page load we could cache this in `localStorage` (together with a timestamp), e.g., and only refresh every day or so.

[2021-12-10 11:35] pawlean commented on #7128
Ah yes, I totally get what you mean. This is definitely something @mikenikles and I have discussed before! Thanks for the request, keep an eye out for updates :)

[2021-12-10 11:37] pawlean commented on #7129
I can replicate this. As a workaround, can you connect a mouse/touch pad whilst you use your iPad? That usually works for me.

[2021-12-10 11:50] pabloa40 commented on #7129
vscode.dev has the same problem on ipad.

[2021-12-10 12:07] JanKoehnlein opened #7171 "[chargebee] webhook failure when updating expired credit card"
### Bug description

Chargebee reported a webhook fauilure on an "Payment Source Expiring" event.

Our `payment-endpoint` logs
[code]

### Steps to reproduce

It looks like this was the first time a user used a credit card in the same month in which it was expiring.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything els

[2021-12-10 12:14] JanKoehnlein commented on #7171
We use `paymentSource` (`VARCHAR`) and `resourceVersion` (`BIGINT`) as primary keys in the `d_b_paymnet_source_info`. When starting a subscription with an expiring creditcard, Chargebee sends events of type "payment source added" and "payment source expiring" with the same `resourceVersion` (usually this is icremented between events).

Looks like TypeORM doesn't correctly deal with primary keys of

[2021-12-10 12:17] JanKoehnlein commented on #7171
Maybe related to https://github.com/typeorm/typeorm/issues/6060 or https://github.com/typeorm/typeorm/issues/2930

[2021-12-10 12:17] JanKoehnlein commented on #7171
/schedule

[2021-12-10 12:58] akosyakov commented on #7158
duplicate of https://github.com/gitpod-io/gitpod/issues/7054

[2021-12-10 12:58] #7158 closed

[2021-12-10 12:59] akosyakov commented on #7166
Should we add it as another header, i.e. `X-Workspace-Instance-Id`?

[2021-12-10 14:46] trumbitta commented on #6877
Freshly made for a talk I'm working on:

![image](https://user-images.githubusercontent.com/462705/145592431-b040dc42-f00a-42a1-adff-0639ce948fb1.png)

[2021-12-10 15:25] strausmann commented on #666
I implemented it as follows based on this blog post from[@adangel](https://adangel.org/2021/11/07/gitpod-gpg-signed-commits/).

But I made some changes:

[code]

I want to make a signed commit by default when there is a GPG key. For my GPG signed commits I use a subkey, so I need to include that.

![image](https://user-images.githubusercontent.com/4519228/145597284-db343106-1519-4e68-b38a-8e82b901

[2021-12-10 15:27] pawlean commented on #6877
IT'S PERFECT 😂

[2021-12-10 15:46] akosyakov opened #7174 "[vscode-insiders] fix nightly tag resolution"
### Bug description

We need to pin oci-tool in server dockerimage and check that it works for VS Code Insiders. After this change is deployed by meta, we will revert pinning of insider image.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-10 17:38] jldec commented on #7149
Thanks @ajhalili2006 -- cache invalidation is hard :)

I wonder if using something similar to the Kubernetes image pull policy would help
From https://kubernetes.io/docs/concepts/containers/images/#imagepullpolicy-defaulting

[2021-12-10 20:40] tobiasdiez commented on #7157
I investigated it further, and it turns out that this was triggered by a `COPY . .` statement (copying the whole project into the docker container). After removing this with more selective copy statements the error disappeared.

While experimenting I once got the following error:
[code]
Thus, it seems like gitpod is exposing the workspace folder in the build context and this leads to a recursive c

[2021-12-10 23:25] jelaniwoods opened #7179 ".gitpod.yml doesn't respect the SHA of a custom Docker image"
### Bug description

I mentioned this issue previously on the [community forum](https://community.gitpod.io/t/unable-to-open-workspaces-that-use-custom-docker-image/5707/12) but it hasn't been resolved despite the fix in https://github.com/gitpod-io/gitpod/pull/7052.

Previously, I was able to reference a Docker image by using the commit SHA in the `.gitpod.yml` file.

[code]

Now it appears the S

[2021-12-11 00:27] #5243 closed

[2021-12-11 00:27] #5472 closed

[2021-12-11 00:27] #5470 closed

[2021-12-11 00:27] #5445 closed

[2021-12-11 07:09] ajhalili2006 commented on #7179
There's also a related feature request regarding that, which cache validation can sometimes be a pain: https://github.com/gitpod-io/gitpod/issues/7149

[2021-12-11 10:56] loujaybee opened #7180 "EPIC: Open VSX Proxy"

[2021-12-11 11:05] loujaybee opened #7181 "Epic: Stabilise VS Code extensions"
**Context** — Gitpod is involved with a repo which exists [[1](https://github.com/open-vsx/publish-extensions)] to allow publishing of VS Code extensions to Open VSX which have not been published by the VS Code extensions owner. The processes, tooling and scripting of this repo are not sufficient, as we are seeing VS Code extensions that are out-of-date, and/or broken in Gitpod. Causing upset user

[2021-12-11 11:06] loujaybee opened #7182 "Epic: Instrument "Onboarding" Growth Area Telemetry Data in IDE"
| Context             | We are aiming to improve the onboarding success rate into Gitpod (defined as the steps between sign-up and commit in a workspace) within the IDE team. This epic is to lay the groundwork / enabling work, such as adding data and analytics tracking to hosted VSCode. |
|---------------------|---------------------------------------------------------------------------------------

[2021-12-11 11:06] loujaybee opened #7183 "Epic: Implement SSH gateway (JetBrains)"
Currently the Gitpod JetBrains integration is using the Code With Me service as an interim solution, this epic contains all work to remove the Code With Me interim solution, and to implement an entirely Gitpod owned flow.

**Remaining work**
- [x] Workspace team to deploy SSH gateway
- [x] Meta team to deploy new version of the Gitpod server
- [x] Anton to finish UI for connection handling and gat

[2021-12-11 11:07] loujaybee opened #7184 "Epic: VS Code Desktop GA"
| Context             | This epic contains all details required to move VS Code Desktop from beta to GA                                                                                                                                                         |
|---------------------|-----------------------------------------------------------------------------------------------------------------------

[2021-12-11 11:07] loujaybee opened #7185 "Epic: Desktop Gitpod Experience (e.g. CLI or Trailer App)"
| Context             | Facilitate a direct command-line based approach to access and managing Gitpod workspaces from desktop.                                                                                                                                                     |
|---------------------|----------------------------------------------------------------------------------------------------

[2021-12-11 11:21] Walli33 opened #7186 "Hey"
## Is your feature request related to a problem? Please describe

## Describe the behaviour you'd like

## Describe alternatives you've considered

## Additional context

[2021-12-11 13:53] #5493 closed

[2021-12-11 15:07] danBamikiya commented on #5263
A sample repo that reproduces this error: [here](https://github.com/danBamikiya/non-root-user-gitpod)

[2021-12-11 18:06] #5394 closed

[2021-12-11 18:06] #4815 closed

[2021-12-11 22:01] #7186 closed

[2021-12-11 22:05] aledbf commented on #5430
Closing. The new image-builder is available in production.

@shism2 please try again and let us know if there are still issues. Thanks!

[2021-12-11 22:05] #5430 closed

[2021-12-11 22:45] etienne1911 commented on #6249
very annoying bug, making the editor a real nightmare to use
I'm using chromium 96 on linux and all ctrl- command (like ctrl-z for undo, ctrl-/ for comment, ctrl-A for select all) are misinterpreted.
Is there any update on this issue?

[2021-12-11 22:52] etienne1911 commented on #5460
Doesn't seems to be the case, I'm using chromium 96 on linux and still have the issue.
Unable to use any common shortcuts such as ctrl-z, ctrl-/, ctrl-a. This bug is really annoying...

[2021-12-12 11:47] #6728 closed

[2021-12-12 11:47] #7139 closed

[2021-12-12 18:36] #2700 closed

[2021-12-12 19:02] jldec commented on #7087
@AlexTugarev @gtsiolis : How about making this less dependent on browser memory.

During login/signup flow, ALWAYS offer users a chance to login with their existing account before creating a new account. This means that the login/sigup flow would present an extra step, when the identity is not recognized after authenticating:

[2021-12-12 20:43] kotx commented on #7061
I think this would be good, but IMHO it would be better if it kept the last selected provider active. So if I last logged in with GitHub on this browser, the button would default to GitHub rather than GitLab.

[2021-12-12 22:25] jldec commented on #5785
Hi @AlexTugarev - The Configuration page is still in use.
Why do you still think this issue no longer applies there?

[2021-12-12 23:43] jldec opened #7188 "Fix wording on new prefixed login/signup"
Please replace `development environment` with `developer environment`

See https://github.com/gitpod-io/gitpod/pull/7046/files#diff-d5bc06eb1f65c48cf02649444cb3081fdaaf7e45039b6975b7b021ef7a6a4aedR178

[2021-12-12 23:43] jldec commented on #7188
/schedule

[2021-12-12 23:43] roboquat commented on #7188
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7188#issuecomment-991994834):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-12 23:45] jldec commented on #7138
/schedule

[2021-12-12 23:45] roboquat commented on #7138
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7138#issuecomment-991995191):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-13 03:10] ghuntley opened #7191 "Display name of the repository on the "Repository not found" error screen"
## Describe the behaviour you'd like

I made a mistake with the URL passed into the context parser.

Gitpod provided a button to try again

So I mashed the try again button

Turns out it's user error but that could have been clearer!

Browsers now hide URLs!

<img width="670" alt="2021-12-13_13-08-48" src="https://user-images.githubusercontent.com/127353/145746397-dd4eff1a-18f0-4e41-8f2d-ed7f93a02

[2021-12-13 07:34] akosyakov commented on #7061
Could be similar button applied to other screens, for instance we have more actions... when workspace is started with the desktop ide. Could it be replaced with a drop down instead next to `Open in Intellij` button? I cannot find an issue unfortunately.

[2021-12-13 08:30] loujaybee opened #7193 "Epic: First-class Command Line"
This is a placeholder for a future epic/bet, more details coming soon:

Notes:
* Completing this likely gives us a much better experience for Vim / Emac users also.

Related:
* https://blog.console.dev/cli-first-devtools/
* https://clig.dev/
* Local companion GA https://github.com/gitpod-io/gitpod/issues/7185

[2021-12-13 08:31] loujaybee opened #7194 "Epic: First-class JetBrains browser support"
This is a placeholder for a future epic/bet, more details coming soon.

[2021-12-13 08:34] loujaybee opened #7195 "Epic(experiment): Choose preferred IDE during onboarding flow"
This is a placeholder for a future epic/bet, more details coming soon.

[2021-12-13 09:28] fr-esco opened #7196 "Bitbucket integration - Permissions expire at least once per day automatically"
### Bug description

At least once per day, permissions granted to Gitpod for Bitbucket integration get reset for no apparent reason.

Usually, I become aware of this because of an auth error I get when I try to push my work.

So, I have to disconnect and reconnect Bitbucket from the Integration dashboard. This step is pretty fast, because credentials are not required again and no new tokens are i

[2021-12-13 09:46] AlexTugarev commented on #7196
Thanks for reporting @fr-esco!

I'm trying to reproduce and see what's happening there.

OAuth token from bitbucket.org are supposed to get refreshed automatically, so there might be a new issue or a regression happening here.

[2021-12-13 11:06] MrSimonEmms commented on #7060
As #7059 has been merged, can this be closed?

[2021-12-13 11:28] corneliusludmann commented on #7060
Hmm … #7059 doesn't fix the ownership, does it? The actual issue here is that every change in `ide-configmap.go` needs to be approved by the meta team but should be approved by the IDE team only.

Same applies to:
- `installer/pkg/components/workspace/constants.go`
- `installer/pkg/config/versions/versions.go`

which has IDE-specific constants. It would be great when they can be separated somehow

[2021-12-13 11:29] MrSimonEmms commented on #7060
Oh yes, I recall us chatting about that. I'll put a proposal in for that

[2021-12-13 11:47] geropl commented on #7082
Taking CPU profiles reveals some candidates for improvements, but nothing explaining the accumulating lag, yet:
 - [ ] HostContextProviderImpl (38ms): `setTimeout(..., 2000)` does `O(n²)` sync work rather often ([source](https://github.com/gitpod-io/gitpod/blob/757a1594c6e5f14a268833b75411e449637c9d40/components/server/src/auth/host-context-provider-impl.ts#L48-L56)). Also, uses encrypted columns,

[2021-12-13 11:50] AlexTugarev commented on #7082
@geropl, happy to discuss findings and provide any details on the first two.

[2021-12-13 11:51] laushinka commented on #6875
@gtsiolis @jldec I'm assuming the tasks for when repositories can be listed depend on #5128? And do we still have pending discussions about what should happen here?

[2021-12-13 12:04] MrSimonEmms commented on #7060
@corneliusludmann I think that the PR meets the brief

[2021-12-13 12:18] akosyakov opened #7201 "[server] clean up ide config map and installer"
Some properties are not used anymore, see: https://github.com/gitpod-io/gitpod/blob/ced67ae93fc443ed60727dbe0cb9eca7a268b199/chart/templates/server-ide-configmap.yaml#L127

They should be removed from configmap and installer config.

@iQQBot feel free to grab

[2021-12-13 12:20] csweichel opened #7202 "[agent-smith] Add workspace count metric"
agent-smith detects workspaces based on the process structure. It's possible we break that inadvertently. If agent-smith had a metric which told us how many workspaces it's currently seeing, we could detect such situations if they happen.

[2021-12-13 12:20] loujaybee opened #7203 "Epic: Alert users of new Gitpod features"
Some features, like JetBrains are introduced into the application without users knowing. This feature would be to notify users about new product features from within Gitpod.

[2021-12-13 12:48] gtsiolis commented on #7203
See also https://github.com/gitpod-io/gitpod/issues/3956 and some relevant early drafts in https://github.com/gitpod-io/gitpod/pull/5806#issuecomment-926501804.

[2021-12-13 13:20] MrSimonEmms commented on #6846
@loujaybee do we know if this is on installations done via Helm or the Installer, or is it both?

[2021-12-13 13:22] gtsiolis commented on #7188
/assign @championshuttler

[2021-12-13 13:22] roboquat commented on #7188
@gtsiolis: GitHub didn't allow me to assign the following users: championshuttler.

Note that only [gitpod-io members](https://github.com/orgs/gitpod-io/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/

[2021-12-13 13:24] championshuttler commented on #7188
ping

[2021-12-13 13:25] championshuttler commented on #7161
ping

[2021-12-13 13:26] gtsiolis commented on #7188
No worries, @championshuttler! Once we get one of the two PRs[[1](https://github.com/gitpod-io/gitpod/pull/7187)][{2](https://github.com/gitpod-io/gitpod/pull/7189)] merged we'll be able to properly assign the issue. 🏓

[2021-12-13 13:26] MrSimonEmms commented on #6373
The [Installer](https://github.com/gitpod-io/gitpod/tree/main/installer) has now been released. Anyone after a more recent self-hosted release than the 0.10.0 Helm release should go there in the first instance.

Please raise any tickets dealing with issues you may have.

The Installer is brand new (the first release was just over 2 weeks ago) and, whilst stable and effective, may not work for ever

[2021-12-13 13:46] MrSimonEmms opened #7205 "[installer]: containerd runtime dir validation doesn't error"
### Bug description

If the containerd runtime dir is invalid, it doesn't actually error. It returns:

[code]

The exit code is also `0`

Check if this is in this one section or (more likely) a mistake in the whole config validation

### Steps to reproduce

Remove the `/` at the start of `workspace.runtime.containerdRuntimeDir` and run `installer validate config -c config.yaml`

### Workspace affe

[2021-12-13 14:53] geropl opened #7208 "[dashboard] Analytics: Measure time to page loaded"
During our last team sync we discussed it'd help to identify slow dashboard pages if we would not only know which pages was loaded, but also when it did finish rendering.

We could try to:
 - find a generic way to derive it from the browser
 - find a generic way to measure it in react
 - offer an explicit methods which we hook into react callbacks
 -
\cc @AlexTugarev @gtsiolis  bc you had some ide

[2021-12-13 14:54] #7174 closed

[2021-12-13 14:57] JanKoehnlein commented on #4456
/schedule

[2021-12-13 15:01] akosyakov commented on #7174
@jeanp413 will you revert changes to config map for latest version and we deploy it in 1 hour?

[2021-12-13 15:03] jeanp413 commented on #7174
yes, already created a PR https://github.com/gitpod-io/gitpod/pull/7209

[2021-12-13 15:17] MrSimonEmms opened #7210 "[installer]: support unique cookie secret"
The server [cookie secret](https://github.com/gitpod-io/gitpod/blob/8e3eb7ee444a72274381f3b7447dfa90685167f9/installer/pkg/components/server/configmap.go#L46) is currently hard-coded. Update this so it's randomised.

# Option 1: set a randomised string

Advantage: this is simple and would work nicely.
Advantage: no human interaction to generate this token
Disadvantage: it would force users to log

[2021-12-13 15:17] #6491 closed

[2021-12-13 15:53] jankeromnes commented on #4456
/assign

[2021-12-13 16:09] MrSimonEmms opened #7214 "List all third-party components and licenses"
We need to list all Third-Party components. In a next step we should check the OS licenses to ensure we’re not promising our customers a Gitpod that they need to purchase licenses for tools like MySQL.

Perhaps adding a `gitpod-installer licenses` command that exports all the licenses used. This should include all Golang/Helm dependencies used in the Installer and potentially any other dependencie

[2021-12-13 17:00] carlosal1015 commented on #5821
Hi @Merith-TK, right now is building succesfully https://github.com/Merith-TK/gitpod-workspace
Consider closing the issue.

[2021-12-13 17:12] jankeromnes commented on #4456
Okay, we've decided to move forward with Project-level environment variables, and I'll build a first iteration.

We'll likely implement this as a new feature under a Project's settings, and worry about aligning or deprecating the current User-level variables later. (This way, we can make it 100% clear upfront _where/when exactly_ the new Project-level variables are exposed, and there is no overlap

[2021-12-13 17:15] #7201 closed

[2021-12-13 17:30] kr-anurag commented on #5060
Hey @Dattito
Can you tell me that how did you install the extension? Like when I try to install it through the `.vsix` file, it throws an error saying that `no servers found`

[2021-12-13 17:53] borisyordanov commented on #6853
@akosyakov It fails too quickly, i'm not able to press Cancel

https://user-images.githubusercontent.com/12392666/145863242-06ed34f3-de8c-45c0-94cc-eec566fa0f40.mp4

[2021-12-13 19:20] jldec commented on #7159
Hi @gtsiolis would you mind please adding the steps required to reproduce this issue.

[2021-12-13 19:24] gtsiolis commented on #7159
@jldec I've added steps to reproduce in the issue description to clarify. Let me know if these don't look clear enough.

[2021-12-13 19:34] #6808 closed

[2021-12-13 20:20] kylos101 opened #7217 "Override Git variables for Gitpodders working on gitpod-io/*"
## Is your feature request related to a problem? Please describe

New Gitpodders must manually add variables for `GIT_AUTHOR_NAME`, `GIT_COMMITTER_NAME`, `GIT_AUTHOR_EMAIL` and `GIT_COMMITTER_EMAIL` for organization/repo `gitpod-io/*` [on their account's variables page](https://gitpod.io/variables). If they do not do this, their commits done for Gitpod will be associated with their main email addr

[2021-12-13 20:20] kylos101 commented on #7217
/team meta

[2021-12-13 20:41] kylos101 opened #7218 "gitpod-wipe-devstaging job fails for Preview Environments built with Installer"
### Bug description

The path to the script is likely wrong. For example, from `kubectl.ts`, instead of `./.werft/util/uninstall-gitpod.sh:`, it is just `./uninstall-gitpod.sh`.

### Steps to reproduce

The job is failing every 10 minutes for namespace `staging-kyleb-installer-werft`.

### Workspace affected

0

### Expected behavior

The job should pass

### Example repository

_No response_

###

[2021-12-13 20:56] jldec commented on #7159
Thanks - I suppose we could always improve the error message, but the behavior seems correct - users should not be able to see repositories through Gitpod which they cannot acces directly.

[2021-12-13 21:10] gtsiolis opened #7220 "Handle missing project configuration when the person who added a project left a team or a repository"
### Problem to solve

Currently, when the team member who added a project leaves a team or repository at GitLab:
1. We don't have a way reconfigure the project using a new token from another team member ❗
2. Users are still allowed to trigger prebuilds even if the webhook has been removed ❗

Could not reproduce the above for GitHub repositories as we'll need to set up the GitHub App.

### Proposal

[2021-12-13 21:23] gtsiolis commented on #7159
Yes, handling this with better error messages is a good way forward. since there's no much we can do about this and we most probably don't want to limit project visibility for users that are part of a team but don't have access to the actual repository. 🧀

[2021-12-13 21:26] kylos101 commented on #7218
/team workspace

[2021-12-13 22:22] #7218 closed

[2021-12-13 23:49] aledbf opened #7222 "ws-scheduler leaves workspaces in pending state if ephemeral storage is configured"
### Bug description

N/A

### Steps to reproduce

configure ephemeral storage and try to start a workspace

[code]

### Workspace affected

_No response_

### Expected behavior

Working workspaces

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-13 23:49] aledbf commented on #7222
/team workspace

[2021-12-14 00:44] PlentyCodeDev commented on #2739
this didn't work for me, I'm getting `sh: 1: cannot create /etc/hosts: Permission denied` did  it work for you?

[2021-12-14 01:22] Merith-TK commented on #5821
oh neat, thanks!

[2021-12-14 01:22] #5821 closed

[2021-12-14 03:55] shaal commented on #4456
@jankeromnes Thank you for all the work on this!
Did I understand your last comment correctly (ie: _GitHub/GitLab/Bitbucket repository access can give you access to Project-level variables_) ?

If I have an open-source project, hosted on Github, that will use Gitpod's future project-level environment variables, anyone that open that project in Gitpod, will have access to the project's environment

[2021-12-14 06:09] ntziolis commented on #4456
Thank you for the update. I would suggest to make the following disabled by default.

And i agree with @shaal, that if there is such implicit access to secrets it should generally be limited to folks that have a certain trust level. Write access to the source seems like the right path here.

[2021-12-14 06:43] roboquat commented on #7166
@iQQBot: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7166#issuecomment-993208920):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-14 07:42] #6727 closed

[2021-12-14 08:36] MrSimonEmms commented on #7025
There's a couple of things I'd love to see:
 - persisting files between workspaces to allow use of [Oh My ZSH](https://ohmyz.sh/) (this is a community-favourite request)
 - in addition to allowing mounting of envvars to workspaces, allow mounting of files, similar perhaps to how GitLab does it with CI/CD variables. I'd find this incredibly useful as I regularly have different Kubeconfig files that

[2021-12-14 08:40] #7205 closed

[2021-12-14 09:05] akosyakov commented on #6853
@borisyordanov from messages it looks like a token is invalid. Could you try following:
- stop VS Code
- stop all processes with gitpod in name
- remove gitpod token from the system keychain
- and then try again

We should work on better handling in such cases. It could be that you switched accounts on Gitpod for instance? Hope to prioritize some bug fixing for VS Code desktop in Q1.

[2021-12-14 09:24] loujaybee opened #7225 "Epic(experiment): Improve the feedback loop when updating .gitpod.yml"
This is a placeholder for a future epic/bet, more details coming soon.

[2021-12-14 09:25] geropl commented on #6918
I did go with a DB approach because it better fits how we use DB (all data, and PII) and ConfigMaps (just one, for genereal configuration). A ConfigMap is a somewhat strange extension point (with edge cases for SH), and would mean we'd need to either a) rollout each time we want to update that list or b), poll the filesystem (which recently showed to be slowing `server`s down).

[2021-12-14 09:35] geropl commented on #6918
@ghuntley The "input format" now would be a list of GitHub profile names a la:

[code]
That we turn into an `INSERT` (manually for now) and execute that against the DB.

The change did not land today, sadly, but I'm inclined to deploy it tomorrow morning (if there's no strong votum against it, and there's enough motivation to do so). Thursday at latest, that's our next regular deployment.

If you

[2021-12-14 09:39] loujaybee commented on #6955
What's the status of this issue now @akosyakov / @iQQBot ?

Can we move it to awaiting deployment?

Or is it still in progress?

[2021-12-14 09:42] akosyakov commented on #6955
It is still in progress. We need a second PR which moves icons from the dashboard to the proxy. @iQQBot Could you prepare it? We merge it though only after initial deployment of the proxy.

[2021-12-14 09:43] akosyakov commented on #6928
I think second one should be exposed otherwise JetBrains products are not going to work. I assume this issue is only about static port.

[2021-12-14 09:45] loujaybee commented on #6897
/schedule

[2021-12-14 09:45] roboquat commented on #6897
@loujaybee: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6897#issuecomment-993357791):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [

[2021-12-14 09:46] loujaybee commented on #6897
/assign

[2021-12-14 09:48] loujaybee commented on #6897
Related internal discussion [[1](https://gitpod.slack.com/archives/C01KGM9BH54/p1639074018482400)]

[2021-12-14 09:52] loujaybee commented on #6896
Is dependent upon: #7137

[2021-12-14 09:53] loujaybee commented on #6896
/schedule

[2021-12-14 09:53] roboquat commented on #6896
@loujaybee: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6896#issuecomment-993364424):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-14 09:56] loujaybee commented on #6981
/assign

[2021-12-14 09:56] loujaybee commented on #6981
Relates to: https://github.com/gitpod-io/openvscode-server/pull/257

[2021-12-14 09:56] loujaybee commented on #6895
/assign

[2021-12-14 09:56] loujaybee commented on #6895
Relates to: https://github.com/gitpod-io/openvscode-server/pull/257

[2021-12-14 10:01] JanKoehnlein commented on #6262
Still an issue for all PRs I review on the gitpod repo.

[2021-12-14 10:13] #7171 closed

[2021-12-14 11:15] ghuntley commented on #6918
Thank you Gero!

[2021-12-14 11:34] gtsiolis opened #7231 "Project settings navigation does not highlight active menu for previously added projects"
### Bug description

### Problem to solve

Before the fix in https://github.com/gitpod-io/gitpod/pull/6376 (Cc @laushinka) users were able to import projects from GitLab using the full-text name as the slug, see relevant comment in https://github.com/gitpod-io/gitpod/issues/5847#issuecomment-929335419.

See also https://github.com/gitpod-io/gitpod/pull/6723 (Cc @jankeromnes) in case this is releva

[2021-12-14 11:52] gtsiolis opened #7232 "Consider differentiating external links from internal links in the dashboard"
### Problem to solve

By default, any (internal) links that keep the user within Gitpod open in the same page rather than in a new tab or window. Currently, the dashboard includes internal links but also external links to repositories, branches, etc and this can sometime become confusing as :a: there's no clear differentiation of those links and the expected interaction as well as :b: the design o

[2021-12-14 12:51] #7161 closed

[2021-12-14 13:40] borisyordanov commented on #6853
It wasn't very clear how to follow your instructions. Here's what I did (I use Windows):
- I opened Task Manager and stopped all instances of VSCode and gitpod(there weren't any)
- Deleted all gitpod files from `C:\Users\Boris\AppData\Local\Temp`
- Tried to open VSCode from a gitpod workspace in my browser
- It failed again with the following error:

[code]

[2021-12-14 16:54] etienne1911 commented on #418
bumping an old thread but this doesn't work anymore as github now forbid password auth since august 2021.
any option to clone other git repo?

[2021-12-14 17:30] gtsiolis commented on #4702
Still relevant.

[2021-12-14 17:59] gtsiolis commented on #4951
Still relevant and something to potentially keep in sync with the new team selection designs updated in https://github.com/gitpod-io/gitpod/pull/7030. Cc @jldec

[2021-12-14 18:27] matthewhall-ca opened #7236 "Multiple URLs for one Gitpod"
## Is your feature request related to a problem? Please describe
We utilize a monorepo architecture and have multiple applications that run via our docker-compose file. The simplest explanation of this is that we have an Auth and a GraphQL service that run at

auth.app.docker
graphql.app.docker

## Describe the behaviour you'd like
The ability to utilize multiple URLs within one Gitpod environment

[2021-12-14 18:35] gtsiolis opened #7237 "Update provider selection header"
### Problem to solve

Following the updates in https://github.com/gitpod-io/gitpod/pull/7163, the provider selection step in the onboarding flow is still using some borders that could be removed from the elements.

### Proposal

Let's :a: remove the borders from the provider selection step and :b: move the help text below the heading.

Possibly, it's worth consolidating header structure for all st

[2021-12-14 19:34] apolopena commented on #7164
@ghuntley Thank you bringing the forum back online in read-only form for a limited time, this is very helpful!

Historically and honestly there have always been some holes in the gitpod documentation and the forum has filled those gaps nicely. In our busy lives I have opted to spend my time logging gitpod bugs rather than pointing out the shortfalls of the documentation but I will reconsider this

[2021-12-14 20:14] pathcl commented on #4889
After some small changes I was able to have k3s up & running. Not sure if natively though. Available here: [here](https://github.com/pathcl/k3s)

[2021-12-14 20:40] #7060 closed

[2021-12-14 21:03] shaal commented on #5303
Please add `meta: never stale` to this issue

[2021-12-14 23:09] gtsiolis commented on #4635
Cc @jldec in case we could prioritize this small fix.

Also adding this as a good-first-issue in case someone from the community would be interested in picking this up.

[2021-12-14 23:36] jldec opened #7238 "GitHub app"

[2021-12-14 23:40] #7238 closed

[2021-12-15 00:40] kylos101 opened #7240 "Route users to Discord for support"
[We're moving away from Discourse](https://community.gitpod.io/t/announcement-were-moving-away-from-discourse-forum/5698?u=kbrennan).

There are a few areas where we still route users to the Discourse forum and should update to Discord:
1. [Bug report](https://github.com/gitpod-io/gitpod/blob/main/.github/ISSUE_TEMPLATE/bug_report.yml)
2. [Issue template](https://github.com/gitpod-io/gitpod/blob/m

[2021-12-15 00:40] kylos101 commented on #7240
/team meta

[2021-12-15 02:29] gengjiawen commented on #5705
not stale

[2021-12-15 03:13] jeanp413 commented on #6896
From the vscode telemetry:
- there's telemetry for all commands in the git extension, it only logs the git command id, git commands executed from the terminal are not detected.

[2021-12-15 03:51] jeanp413 commented on #6980
From vscode telemetry:
- event name `updateConfiguration` logs all setting ids from the user but not their values
- event name `settingsEditor.settingModified` logs the setting id modified by the user but not the value
- event name `extensionGallery:install ` logs extension id
- event name `galleryService:downloadVSIX` logs extension id
- event name `extensionGallery:openExtension` logs extension

[2021-12-15 04:03] jeanp413 commented on #6981
From vscode telemetry:
- event name `activityBarAction` logs viewlet Id and whether it is shown or hidden
- event name `workbenchActionExecuted` logs command id (`workbench.files.openFile`, `workbench.action.files.save`) and context (`explorer`, `keybinding`)
- event name `editorOpened` logs mime type, scheme, file extension
- event name `fileGet` logs mime type and file extension
- event name `fi

[2021-12-15 04:27] jeanp413 commented on #6895
From vscode telemetry:
- event name `notification:show` logs id (number) and source (`core`, extension id)
- event name `notification:close` logs id (number) and source (`core`, extension id)
- event name `notification:hide` logs id (number) and source (`core`, extension id)
- event name `notification:actionExecuted` logs id (number), source (`core`, extension id) and `actionLabel`

[2021-12-15 04:55] jeanp413 commented on #6897
From vscode telemetry:
- event name `gettingStarted.ActionExecuted` logs command (`selectTask` a.k.a select step, `toggleStepCompletion`, `allDone`) and argument (extension id + step id)

[2021-12-15 06:31] AlexTugarev commented on #7196
Hi @fr-esco! I tried to reproduce and followed the description. Just a couple of minutes ago I did the last step after not using BB for +1 day. And I cannot see any issues.

Checking the logs shows, that it seems to work nicely in general. Last entry is for my account BTW
<img width="777" alt="Screen Shot 2021-12-15 at 07 27 51" src="https://user-images.githubusercontent.com/914497/146135147-d79bb

[2021-12-15 06:58] princerachit commented on #6333
We have migrated tracing installation to monitoring satellite in a script. This issue is not relevant anymore

[2021-12-15 06:58] #6333 closed

[2021-12-15 07:19] loujaybee commented on #6981
Hey @jeanp413! Looks like we are thinking pretty much the the same thing [[1](https://github.com/gitpod-io/openvscode-server/pull/257#issuecomment-994405752)].

The events you suggest are pretty much the same ones I suggested on the telemetry PR. But... I didn't manage to initiate/see the `editorOpened` event. I think those events you suggested make sense, let's go ahead with those, and convert th

[2021-12-15 07:41] #6918 closed

[2021-12-15 08:37] fr-esco commented on #7196
- I use Bitbucket on cloud, the one provided directly by Atlassian at bitbucket.org.
- My organization has no customizations nor policies in place.
- I use Google SSO to sign in Bitbucket
- No particular operations are involved.. sometimes _push_, sometimes _fetch_, ...

I don't know if it can be useful, but I remember that I started to experience this issue some time ago, when I added my GitHub a

[2021-12-15 09:16] MrSimonEmms opened #7245 "Investigate how /proc/<pid>/maps works in self-hosted"
Issue #5090 was raised earlier this year when we were running on GKE. As this was due to how Kubernetes working, the SaaS solution was to run Gitpod in k3s which has indeed solved the issue.

For self-hosted, this will likely still be an issue. Whilst I don't think there will be a single, one-size-fits-all solution, we certainly need to think about the advice we give to self-hosted users who encou

[2021-12-15 09:25] ghuntley commented on #7240
- [ ] Also gitpod/vscode needs updating to remove the references in the context menus.

[2021-12-15 09:52] roboquat commented on #7240
@ghuntley: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7240#issuecomment-994565876):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or sugges

[2021-12-15 10:13] #6861 closed

[2021-12-15 10:13] loujaybee commented on #6846
We'll need to investigate this one...

[2021-12-15 10:19] loujaybee commented on #6744
We need to learn a bit more here, and figure out if this relates to:

1. Caching of user settings
2. Caching of workspace values (e.g. prebuilds/incremental prebuilds)

Let's investigate...

[2021-12-15 10:24] loujaybee commented on #6740
@akosyakov can you link to full workspace back-up issues, etc that might be blocking this issue?

[2021-12-15 10:29] loujaybee commented on #6731
I think that before we can implement a wrapper for JetBrains, we need some implementation Gitpod wide, to enable this type of feature toggling. We could implement some tactical/cheap solution, but ideally we integrate with a more well thought out global feature for this. I think this is something that needs significant input more from the self-hosting side than from an IDE / Meta side. CC: @MrSimo

[2021-12-15 10:29] MrSimonEmms commented on #6731
cc @corneliusludmann

[2021-12-15 10:30] loujaybee commented on #6679
This is somewhat dependent on removing Code With Me: https://github.com/gitpod-io/gitpod/issues/5644

Let's wait until that work is done, before picking this up.

[2021-12-15 10:33] loujaybee commented on #6525
This will require some investigation, and discussions with JetBrains. @akosyakov can help here.

[2021-12-15 10:34] loujaybee commented on #6506
Relates to: https://github.com/gitpod-io/gitpod/issues/6525

[2021-12-15 10:39] loujaybee commented on #6321
Let's not overcomplicate it now (e.g. with analytics in the IDE itself).

Simply understanding how often users are enabling and disabling in preferences would be useful right now.

[2021-12-15 10:42] loujaybee opened #7246 "Gather more JetBrains IDE feedback from users"
Placeholder for some user research / testing.

Relates to: https://github.com/gitpod-io/gitpod/issues/6321

[2021-12-15 10:47] loujaybee commented on #6895
I've updated the title for this to be only the "generic" popup events. @akosyakov mentioned it might be useful to track our actual extensions, and have more specific events, however for now/this issue, let's only track the generic ones.

[2021-12-15 10:55] loujaybee opened #7248 "Implement a throttling / rate-limit strategy for VS Code events"

[2021-12-15 11:02] laushinka commented on #6875
Putting this comment in here for when we talk about the follow-up tasks to this issue https://github.com/gitpod-io/gitpod/pull/7163#discussion_r769484114

[2021-12-15 11:04] JanKoehnlein commented on #7240
/schedule

[2021-12-15 11:05] roboquat commented on #7240
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7240#issuecomment-994681201):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-12-15 11:55] loujaybee opened #7249 "Epic(experiment): Better support for multi-repo set ups"
### Summary

A discovery epic for investments into documentation, and product improvements related to understanding and documenting use-cases for multi-repository set-ups. The epic is concerned with documenting any existing approaches, rather than implementing product features.

### Context

Currently, Gitpod is built around some key product assumptions:

* A remote dev environment is configured i

[2021-12-15 12:31] jldec commented on #4635
thanks @gtsiolis

[2021-12-15 12:39] jldec opened #7250 "Surface workspace creation logs or errors when creating workspaces with private GitLab"
When workspaces fail to start for some reason it would be helpful to see their logs to understand the root cause.
One scenario where this might happen in when a private GitLab integration fails to connect.

See [support request](https://app.frontapp.com/open/cnv_ijklioa) (internal)

[2021-12-15 13:16] filiptronicek commented on #6897
In addition to the `gettingsStarted.ActionExecuted` events that @jeanp413 mentioned, there are a couple more, maybe not relevant at all, but wanted to leave this here for reference.

https://github.com/gitpod-io/openvscode-server/blob/91b97cec911a954bcd83d2613bb6d7b6bd4023ad/src/vs/workbench/contrib/welcome/gettingStarted/browser/gettingStarted.ts#L328 - the switch statement has most of the comman

[2021-12-15 13:44] shaal commented on #7249
TLDR: DrupalPod use a repo for the Gitpod environment setup, and another repo for the Drupal code that is being developed.

The DrupalPod project, was created to allow starting Drupal contributions in 1 click.

Setting up Drupal project is a complex task that can take a few hours for first timers.

DrupalPod use the following technologies to achieve its goal:
* custom browser extension - analyze d

[2021-12-15 13:59] rfay commented on #7249
[ddev-gitpod-launcher](https://github.com/drud/ddev-gitpod-launcher) uses its own repo with environment variables to load another specified repo. That way everything is all set up for the other repo. It's a pretty convoluted technique, https://github.com/drud/ddev-gitpod-launcher/blob/main/.gitpod/start_repo.sh. But amazing that it's do-able.

[2021-12-15 13:59] MrSimonEmms opened #7253 "[installer]: workspace resource requests are not implemented"
In the config.yaml, there is a snippet for request limits:

[code]

This has not yet been implemented or used inside the Installer.

Potentially related, the ghosts are set to `0` as they spin out of control when set to a greater-than-zero value (typically, we want this set to `10`)

[2021-12-15 14:05] akosyakov commented on #7240
I believe it was done last week. cc @filiptronicek ?

[2021-12-15 14:07] MrSimonEmms commented on #7253
Sometimes, we get out of resource errors. My assumption is that this is related, as I'm running this on a fairly decent cluster (6 x `Standard_DS2_v2` machines on Azure)
![image](https://user-images.githubusercontent.com/275848/146200971-2069c1cd-2983-47bc-b293-0ca612a38833.png)

[2021-12-15 14:50] filiptronicek commented on #7240
@akosyakov correct, we have made the changed in https://github.com/gitpod-io/openvscode-server/pull/256. It should already be fixed in VS Code Insiders, @ghuntley

[2021-12-15 14:53] roboquat commented on #7240
@ghuntley: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7240#issuecomment-994565876):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or sugges

[2021-12-15 15:38] akosyakov commented on #6896
We decided to go with tracking git push on credential helper level. Instrumenting git extensions will require maintaining another web socket connection to the server so we rather postpone it.

[2021-12-15 16:06] AnaG0307 opened #7255 "Workspace stuck in "stopping""
### Bug description

I was working on gitpod and the workspace stopped working and requested to refresh the page. I did but then it was not loaded properly. I did try to open it again through the dashboard but when clicking on the workspace it got stuck on "stopping". After a while, the message changed to "preparing" but it doesn't get any further and the pages refreshes itself over and over

###

[2021-12-15 16:19] jldec commented on #6875
@laushinka I think we can close this issue - the changes from #7163 cover almost all of the points.
We can work through #5119 separately.

[2021-12-15 16:25] John-wallace89 commented on #7255
Hi I'm seeing the same issue as well with my workspace:
https://gitpod.io/sapphire-chickadee-v75mlfae.gitpod.io/

[2021-12-15 16:26] jankeromnes commented on #4456
Thanks @shaal and @ntziolis for your feedback!

Yes, this is the current idea, but I'm happy to further discuss it so that we can work towards a better solution that addresses all use cases safely.

The arguments going for "project variables available in prebuild are also available in (any) workspace" go as follows:
- We want Prebuilds and Workspaces to remain consistent for the same Project/repos

[2021-12-15 16:26] laushinka commented on #6875
@jldec Oh you're right, I didn't realize. Awesome!

[2021-12-15 16:26] Jbachtiger commented on #7255
Hi, I have experience the same issue. My workspace link is https://gitpod.io/start/#maroon-woodpecker-g6aa7v66

[2021-12-15 16:27] princerachit opened #7256 "Build fails when trying to add a new dashboard"
### Bug description

While trying to add a new dashboard, PR build fails with [following error](https://werft.gitpod-dev.com/job/gitpod-build-prs-cluster-autoscaler-dashboard.6/raw):
[code]

### Steps to reproduce

Refer to [this PR](https://github.com/gitpod-io/gitpod/pull/7228) for the changes.

### Workspace affected

_No response_

### Expected behavior

Build should pass

### Example reposito

[2021-12-15 16:27] jldec commented on #6875
@gtsiolis feel free to open another issue to improve the UX/UI and design consistency of the repo list.

[2021-12-15 16:29] jeanp413 opened #7257 "Add HTTP endpoint to send telemetry"
## Is your feature request related to a problem? Please describe

Right now, in order to send telemetry from gp-code web we need to create a websocket connection to the server. It could be problematic to have too many connections to the server as we already have one in the gitpod-web extension.

## Describe alternatives you've considered

Create an HTTP endpoint so we can easily send telemetry to

[2021-12-15 16:31] akosyakov commented on #7257
For the context, it seems that we will need one web socket connection for each built-in extension reporting telemetry, so we would prefer HTTP endpoint.

[2021-12-15 16:47] princerachit commented on #7256
Closing this as the issue was with the branch not rebased on top of local changes.

[2021-12-15 16:47] #7256 closed

[2021-12-15 17:18] finnsterfran commented on #7255
I'm have the same issue [workspace](https://gitpod.io/start/#silver-horse-gmesmakg)

[2021-12-15 17:39] jankeromnes opened #7258 "No selection state in Project Settings for older GitLab Projects"
### Bug description

In the newly-introduced Project Settings page, there is a sub-menu with two sub-sections:
- General
- Configuration

Clicking on them works reliably, however, for older GitLab Projects (added before the support of both Project slug _and_ Project name), the selected sub-section doesn't show as selected:

| Old GitLab Project (no selection state) | New Project (works fine) |
| -

[2021-12-15 17:40] jankeromnes commented on #7258
/schedule

[2021-12-15 17:40] jankeromnes commented on #7258
/assign

[2021-12-15 17:40] gtsiolis commented on #7258
Duplicate of https://github.com/gitpod-io/gitpod/issues/7231? I should have cc'ed you in that issue. 🙈

[2021-12-15 17:50] jankeromnes commented on #7258
Woops! Indeed duplicate 😅 (I seem to never learn about searching issues before filing a new one 🙈 it was so much better when GitHub just showed you similar issues...)

[2021-12-15 17:50] #7258 closed

[2021-12-15 18:23] #6875 closed

[2021-12-15 19:02] gtsiolis commented on #5069
Definitely still relevant.

[2021-12-16 02:41] tiamot commented on #7110
### I have the same problem.
I had a project in gitlab that was working fine in gitpod, then I decided to try prebuilt workspaces.
Once I created a prebuild using `gitpod.io/#prebuild/` I started seeing this error:
`WARNING: The script flask is installed in '/home/gitpod/.local/bin' which is not on PATH.`
My `.gitpod.yml` has the following lines:
[code]
So when my `.gitpod.yml` now tries to run th

[2021-12-16 06:19] tiamot commented on #7110
@SchindlerTo , I think I have figured out our specific problem.
When a custom docker image is created there is no path to `/home/gitpod/.local/bin`
I'm not sure if this is something that recently changed (maybe gitpod previously added this to the path automagically).

To fix this problem I added `/home/gitpod/.local/bin` to the `PATH` variable in my `.gitpod.Dockerfile`

My .gitpod.Dockerfile:
[co

[2021-12-16 06:30] akosyakov commented on #6853
There should be credential manager on windows which store tokens. It is important that you remove gitpod token from there, and then stop the local companion processes they usually prefixed with `gitpod-local-companion` to make sure that old credential are not stored anywhere. The error in first video was indicating that you don't have access rights to access the workspace.

[2021-12-16 07:59] akosyakov opened #7263 "[code][web] PR view is empty on first load"
### Bug description

To reproduce:
- start a repo on PR
- a PR view will pop up, but it does not have content
- in output view for PR extension you will see something:
[code]
- click refresh in PR view, content will pop up now

I wonder whether it is race with unshallowing. If it is so we can hold on triggering preloading PR view till unshallow is done by supervisor or trigger refresh automaticall

[2021-12-16 08:35] fr-esco commented on #7196
It's just happened again while pushing 3 commits at once:
- workspace lavender-rodent-f3uirenb.ws-eu23.gitpod.io
- remote: Invalid username or password   fatal: Authentication failed for 'https://bitbucket.org/<workspace>/<repo>.git/'
- timestamp: about 2021-12-16T08:31 Z

[2021-12-16 08:58] jldec commented on #6557
/unschedule
needs more clarification/design.

[2021-12-16 09:06] yjwong opened #7264 "[image-builder] Some private registries do not work and fail with unauthorized access and bad gateway"
## UPDATE
Refer to the comments on this issue for latest findings. This issue had an incorrect  title and description which we realised on investigating the issue.

### Bug description

When building an image as part of creating a new workspace, the build fails with the following:

[code]

Upon investigation, the build fails because of this:

[code]

The upload of other layers work fine, but when

[2021-12-16 09:10] akosyakov commented on #3065
We merged our first test, not we need to setup nightly job for staging which run it.

@csweichel Should https://github.com/gitpod-io/gitpod/blob/main/.werft/run-integration-tests.yaml be used as a template?

[2021-12-16 09:13] jankeromnes commented on #7231
/schedule

[2021-12-16 09:13] jankeromnes commented on #7231
/assign

[2021-12-16 09:19] trumbitta commented on #5179
I think there's added value into doing whatever GitHub is doing, since I'm sure it's become muscle memory to some users at this point.

So, while I agree a single key is not ideal for every user, my suggestion is to keep it as is and maybe advocate for a multi-key bind with GitHub. When they change it, we change it as well.

[2021-12-16 09:37] geropl commented on #7108
IMO in the meantime we learned that:
 - it might be nice to add tracing for login (all HTTP requests in general!)
 - we don't want to remove the logging we have in place to maintain the "totality" quality of loggin

[2021-12-16 09:37] #7108 closed

[2021-12-16 09:37] bigint commented on #6896
So is this gonna be an anonymous data collection or do you collect user's data (example: ws id)?

[2021-12-16 09:46] geropl commented on #7082
There is now a draft PR for the biggest issues [mentioned above](https://github.com/gitpod-io/gitpod/issues/7082#issuecomment-992384108).

But the root cause remains unidentified. :confused: For the sake of making the holidays safe, I will add an alert to ensure we're not missing anything bad here.

[2021-12-16 10:11] pawlean commented on #7255
Thanks all for flagging! I've pinged folks internally 🙏🏼

[2021-12-16 10:46] timokrae opened #7305 "Processes spawned by extensions are not stopped on refresh of browser tabs"
Does this issue occur when all extensions are disabled?: No

- VS Code Version: Version: 1.63.0
- OS Version: Ubuntu 20.04.2 LTS (on gitpod.io)

Steps to Reproduce:

1. Install and activate extension which spawns a .NET process (e.g. omnisharp language server)
2. Refresh the browser tab
3. The old .NET process stays alive but when the extension is activated again a new .NET process is spawned -->

[2021-12-16 11:32] #7231 closed

[2021-12-16 12:20] loujaybee commented on #7026
Note: It has been discussed elsewhere to give community heroes some forms of early access to beta features, maybe this feature can help facilitate that, also.

[2021-12-16 12:24] Foxhoundn commented on #3059
Please, this would have been great + let me copy the whole URL from the ports view! :)

Also if there could be some indication of why / what opened other ports, that would be useful -

![CleanShot 2021-12-16 at 13 24 01](https://user-images.githubusercontent.com/8861481/146371521-8b58acb6-cd16-4a80-9b42-c761d646deb8.png)

[2021-12-16 12:27] MrSimonEmms opened #7268 "[installer]: provide additional validation around TLS cert"
Currently, the TLS cert is only [checked to ensure](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/config/v1/validation.go#L73) that it has the keys `tls.crt` and `tls.key`. Whilst this is a good starting point, additional validation can be considered

- Check that the secret type is `kubernetes.io/tls`
- Check that DNS is set to `$DOMAIN`, `*.$DOMAIN` and `*.ws.$DOMAIN` (this may not

[2021-12-16 12:38] jldec commented on #6969
Most of this was addressed in #6686 - removed from Groundwork but keeping in backlog for future reference.

[2021-12-16 12:48] jldec commented on #5075
Adding this to groundwork inbox for engineering investigation to better understand scope, and determine whether this could work without new caching infrastructure or whether it necessarily depends on something like Redis.

[2021-12-16 17:07] pawlean commented on #7026
This sounds awesome!

[2021-12-16 17:25] jldec opened #7271 "Revisit design of the new-project-created page and mention .gitpod.yml"
The layout and design of the new-project-created page from #7098 does not look polished and feels empty/jarring.

Let's revisit this, and provide the user with a little more information in addition to the existing link to the project.

**Proposed text**

[2021-12-16 18:04] borisyordanov commented on #6853
@akosyakov What tokens are you referring to?

How?

How?

[2021-12-16 18:28] bd82 commented on #4630
I'm just wondering.

The fact this issue is still open means gitpod is stlil using Theia under the hood?

[2021-12-16 19:00] JanKoehnlein commented on #4630
No, it doesn't. There is just some dead code and config to be cleaned up

[2021-12-16 21:13] trumbitta commented on #7061
I find the current implementation to be the most obvious and I'm not sure users would immediately understand they have options if the click on the caret (but that can be measured and validated).

My suggestion is to also add a help text under the split button, with a link that will open the dropdown.

Something like:

*Looking for more options? [Choose another login method]().*

[2021-12-16 21:17] gtsiolis commented on #7061
Thanks @trumbitta! Yeah, separating sign in and sign up pages and also using a help text like [described above](https://github.com/gitpod-io/gitpod/issues/7061#issuecomment-996198179) is also something we're considering. See also relevant comment in https://github.com/gitpod-io/gitpod/issues/7087#issuecomment-991952394. Cc @jldec

[2021-12-16 21:25] gtsiolis opened #7273 "Move project removal action under project settings"
### Problem

Project settings were recently introduced with incremental prebuilds settings in https://github.com/gitpod-io/gitpod/pull/7031 (Cc @jankeromnes @geropl) but currently the only way to remove a project can happen through the project more actions button on the projects list as the product didn't have project settings when the project removal action was added in https://github.com/gitpod-

[2021-12-16 21:30] gtsiolis commented on #7087
@jldec I could be wrong but this would require us to store account conenctions indefinitely, see:
1. https://github.com/gitpod-io/gitpod/issues/5975#issuecomment-954593558
2. https://github.com/gitpod-io/gitpod/issues/5975#issuecomment-952335133
3. https://github.com/gitpod-io/gitpod/issues/5975#issuecomment-932038650

[2021-12-16 22:18] gtsiolis opened #7274 "Make port not found page dark theme aware"
### Problem to solve

The product already adapts to dark or system theme for the dashboard (see https://github.com/gitpod-io/gitpod/pull/6747) and the editor (see https://github.com/gitpod-io/gitpod/issues/6403).

However, the `Port XYZ Not Found` page is still using light only theme.

| Port XYZ Not Found |
|-|
| <img width="1440" alt="Screenshot 2021-12-17 at 12 17 12 AM (2)" src="https://user-i

[2021-12-16 22:25] tkislan commented on #6342
Interested here: Pycharm, Webstorm, Datagrip
email: kislan.tomas@gmail.com

[2021-12-16 22:58] #2615 closed

[2021-12-16 22:58] #5553 closed

[2021-12-16 22:58] #5554 closed

[2021-12-16 22:58] #4537 closed

[2021-12-17 01:04] chenzhipei opened #7277 "Install gitpod-eks in China Ningxia region failed: Message returned: Error: b'Release "aws-load-balancer-controller" does not exist. Installing it now.\nError: timed out waiting for the condition\n' #37"
### Bug description

![image](https://user-images.githubusercontent.com/15027092/146471462-37c6a78a-6802-4f24-9e7a-6adfa634ff5a.png)

aws region: cn-northwest-1
eks version: 1.21

### Steps to reproduce

make install

[code]

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-17 01:49] jeanp413 commented on #7263
I tested this in codespaces and the PR entensions works just fine while the repo is shallow so it's something else (you get a notification error but the changes still show in the view I assume they used github API instead of git commands)
![image](https://user-images.githubusercontent.com/25115070/146475300-993dd869-5d01-475b-8c1b-6770864290ea.png)

[2021-12-17 03:22] jeanp413 opened #7278 "Opening upstream repo directly uses fork config"
### Bug description

When I open the vscode or a PR in vscode repo in gitpod it uses the dockerfile from openvscode-server, it should use the default image

### Steps to reproduce

1. open vscode repo or a PR in vscode repo in gitpod
2. :bug: observe it starts to build a docker image configured in openvscode server (fork) instead of using the default image

[2021-12-17 04:40] mikenikles commented on #7026
Yes, I have an experimental PR at https://github.com/gitpod-io/website/pull/1367.

The technical limitation we had in April no longer exists. There are a few tasks listed in the PR that need to happen first though.

[2021-12-17 04:51] mikenikles commented on #7128
A challenge we face with that is what language, framework, etc we use.

You notice with the Quickstart section in the docs, we now have dozens of them and they easily go out of date or even break.

If we choose Node.js for an interactive tutorial, what about someone who works with Rust?

Lots to consider, but in general I absolutely agree with a more interactive onboarding.

One thought we've had

[2021-12-17 07:00] jankeromnes commented on #7273
Should the project removal also have a confirmation prompt (e.g. where it says "Type `my-project`:"), or can it happen immediately like the current removal feature?

[2021-12-17 07:24] akosyakov commented on #6853
@filiptronicek Could you help here please? I don't have windows machine unfortunately.

[2021-12-17 07:38] akosyakov commented on #7263
@jeanp413 Could it be that extension is outdated or too new?

[2021-12-17 08:21] #6928 closed

[2021-12-17 08:34] #7278 closed

[2021-12-17 08:35] akosyakov commented on #7278
It is not a bug, one can configure repos externally. You can find a configuration here: https://github.com/gitpod-io/definitely-gp/tree/master/vscode I guess it is outdated already.

[2021-12-17 08:46] jankeromnes commented on #7171
@JanKoehnlein Random after-thought: Wouldn't `repo.update(primaryKey, shape)` have resolved the problem of duplicate entry that `repo.save(shape)` has?

[2021-12-17 09:04] filiptronicek commented on #6853
I just booted up my Windows 11 PC and everything works fine (although I needed to do it twice because at first, I got a SSH tunnel not configured error). @borisyordanov as @akosyakov mentioned, could you please remove all Gitpod credentials from the system keychain?

To get there, do the following:

1. Open the Control Panel
2. On the top right, instead of <kbd>Category</kbd>, select <kbd>Large Ic

[2021-12-17 09:05] akosyakov commented on #6853
@filiptronicek Could you elaborate on how to find and kill processes with gitpod in name? :)

[2021-12-17 09:15] filiptronicek commented on #6853
Sure thing, it's easy as pie, just open Powershell, and execute this command:
[code]

[2021-12-17 10:09] akosyakov commented on #3059
As first step we will allow to specify name prefix and tooltip description in .gitpod.yml

We could also auto derive prefix as application protocol by probing ports, and detect cmd which exposed the port as a description. But I think we need 2 new issues for that. cc @loujaybee

[2021-12-17 10:10] akosyakov commented on #3059
Do you know about `gp url`? Please file a new issue to add copy port URL command to VS Code.

[2021-12-17 11:30] aledbf commented on #7277
Closing. Duplicate https://github.com/gitpod-io/gitpod-eks-guide/issues/37

[2021-12-17 11:30] #7277 closed

[2021-12-17 11:39] MrSimonEmms opened #7282 "[installer]: rename the `repository` field as potentially ambiguous"
In the Installer `config.yaml` is the `repository` field - this is where users specify the container registry to use for *PULLING* images that are used in the Kubernetes installation. This is potentially ambiguous as repository could mean lots of things - Git, storage, container etc

## History of this field

Gitpod is a unique Kubernetes installation type. Most Kubernetes installations only pull

[2021-12-17 13:12] geropl commented on #7054
@akosyakov @corneliusludmann Since https://github.com/gitpod-io/ops/pull/406 has been applied to prod clusters (yesterday, 16.12) I cannot reproduce this issue. I will close this for now. It would be awesome if one of you could cross-verify nonetheless. :slightly_smiling_face:

[2021-12-17 13:17] jeanp413 commented on #7278
I see, Is there a way to disable it? I think there should be at least a checkbox in the dashboard

[2021-12-17 13:22] akosyakov commented on #7054
@geropl Just try to start as many ports as you can and see whether it happens?
@iQQBot Could you try? If it does not happen then we should revert https://github.com/gitpod-io/gitpod/pull/7083 and close https://github.com/gitpod-io/gitpod/pull/7058 + https://github.com/gitpod-io/gitpod/issues/6778

[2021-12-17 13:24] jldec opened #7285 "Workspace won't start with custom image: ERROR: failed commit on ref, unexpected commit digest, failed precondition"
This was [reported by support user](https://app.frontapp.com/open/msg_x75bi6i) (internal)
In that case

I created a [test repo](https://github.com/jldec/test-image) with just the image in .gitpod.yml
[code]

To repro error: https://gitpod.io/#https://github.com/jldec/test-image

[code]

[2021-12-17 13:27] geropl commented on #7054
I do it with `curl lama.sh | LAMA_PORT=8331 sh` and increment port with every call.

[2021-12-17 13:59] #5980 closed

[2021-12-17 14:50] jldec opened #7289 "Forbidden" error opening workspace on Bitbucket repo (only specific users)"
Certain developers are seeing Error `Forbidden` when trying to access a specific repo on Bitbucket.
They are able to open other repos without any issues, and the repo in question also opens for other users.
The issue is consistently reproducible, and the developers in questions can open other Bitbucket repos.
It only fails for that single repository and only for some users.

Specifics about this c

[2021-12-17 14:59] jimmybrancaccio opened #7290 "Allow Users To Select Their Default Dashboard Tab"
## Is your feature request related to a problem? Please describe

Since the implementation of Projects whenever I visit https://my-self-hosted-gitpod.com and am logged in I am now shown the Projects tab by default. I currently have no use for this feature and would prefer to see the Workspaces tab by default. While clicking on the Workspaces tab is minimal effort it would be less effort to just ha

[2021-12-17 15:47] jimmybrancaccio opened #7293 "Codicons Not Working In Simple Browser"
### Bug description

This is similar to or the same as #3758 however that issue is closed and the issue is still persistent on `main.2055` and on gitpod.io.

When using Simple Browser or anything else which uses Codicons they don't work. They show up as squares.

<img width="318" alt="Screen Shot 2021-12-15 at 10 37 51AM" src="https://user-images.githubusercontent.com/405585/146569313-571fbb72-fba

[2021-12-17 15:48] geropl commented on #7082
I happened to find a super-linear relationship between:
 - accumulated count of websockets created since `server` start
 - (naturally accumulating) node.js event loop lag

(steadily lines are connections, spiky lag. Note how those match so good they are hard to tell apart visually :see_no_evil: )
![image](https://user-images.githubusercontent.com/32448529/146570238-79640c16-b35b-466b-9333-30c76ff8

[2021-12-17 16:01] jmls opened #7294 "random containers fails to start"
### Bug description

when using docker in docker, we occasionally get a docker runtime error

[code]
The container affected constantly varies , and the containers run perfectly outside of a gitpod.io instance, so there is no issue with the container definition

### Steps to reproduce

cannot reproduce - doesn't always happen, and is always a random error when it does

### Workspace affected

any

[2021-12-17 17:47] jldec commented on #7087
I'd love to understand what information expires (do integrations expire and disappear from your settings?), and how we distinguish a login with an existing account from a new signup for a new account.

[2021-12-17 19:03] jldec commented on #7285
User suggested that this may be related to workspace disk usage
The problem started on Dec 13 (based on workspace_instances)
The snapshot size is ~17.6 GB

[2021-12-17 23:22] borisyordanov commented on #6853
@filiptronicek @akosyakov

Thank you very much for the detailed instructions!

I can confirm the issue is resolved, I'm able to open workspaces in VSCode Desktop

[2021-12-18 01:33] tiamot commented on #7078
Also Similar to https://github.com/gitpod-io/gitpod/issues/7110

[2021-12-18 01:49] tiamot commented on #7077
@lechien73, I think this is a different issue from `7064`. Issue `7064` is focused on removing unwanted packages that are installed in the `workspace-full` image (removing bloat).

I think the issue described by @kevin-ci is more focused on packages being installed in one workspace, and then not persisting to another.

I have a similar problem as the op. My issue is when I setup my environment to

[2021-12-18 04:09] tiamot commented on #7077
Here is the fix (thank you @lechien73, see: https://github.com/gitpod-io/gitpod/issues/7064#issuecomment-988049050):

## Problem & Solution Walkthrough
- Create a new repo (e.g. `test-for-prebuild`) in gitlab with a readme (or github or bitbucket, etc)
- Launch gitpod
- Initialize gitpod with `gp init`
- Edit .gitpod.yml
[code]
- Commit your changes and sync
### The library is installed in new wor

[2021-12-18 04:09] tiamot commented on #7078
Here is the fix (thank you @lechien73, see: https://github.com/gitpod-io/gitpod/issues/7064#issuecomment-988049050):

## Problem & Solution Walkthrough
- Create a new repo (e.g. `test-for-prebuild`) in gitlab with a readme (or github or bitbucket, etc)
- Launch gitpod
- Initialize gitpod with `gp init`
- Edit .gitpod.yml
[code]
- Commit your changes and sync
### The library is installed in new wor

[2021-12-18 04:10] tiamot commented on #7110
Here is the fix (thank you @lechien73, see: https://github.com/gitpod-io/gitpod/issues/7064#issuecomment-988049050):

## Problem & Solution Walkthrough
- Create a new repo (e.g. `test-for-prebuild`) in gitlab with a readme (or github or bitbucket, etc)
- Launch gitpod
- Initialize gitpod with `gp init`
- Edit .gitpod.yml
[code]
- Commit your changes and sync
### The library is installed in new wor

[2021-12-18 07:32] akosyakov opened #7299 "[local-companion] support self updating"
Right now:
- either the user should update manually
- or In VS Code Desktop Gitpod extension manages it somehow.

Instead the local companion should support self-updating.

Here is the golang module which can be used a start: https://github.com/sanbornm/go-selfupdate
One can have a look how it was adopted by https://pkg.go.dev/github.com/arduino/arduino-create-agent/updater
It looks we will need t

[2021-12-18 11:29] nojaf commented on #5090
Should this be working worldwide now? I think I still have the problem in `ws-eu23`.
I cannot run `dotnet tool restore` for example.

[2021-12-18 13:37] jldec commented on #7077
Thank you for sharing that @tiamot. 🙏

[2021-12-18 15:29] akosyakov commented on #5778
We need to verify it yet, but it seems that Gateway provides APIs capable to forward ports including of a tcp join link. We should use the local companion to establish a SSH tunnel to a workspace and then provide Gateway with SSH credentials and a tcp join link. I put the design here: https://www.notion.so/gitpod/JetBrains-server-to-client-flow-09a1262189054a21bcf7761ab0c54a64#5c5e814e4d68481d94d3

[2021-12-18 16:08] aledbf commented on #7294
Please make sure the docker version in the workspace is `20.XX` and not `19.XX`.

[2021-12-18 16:27] aledbf commented on #5090
@nojaf please post the output of running `cat /proc/self/maps` in a workspace terminal

[2021-12-18 16:36] nojaf commented on #5090
[code]

[2021-12-18 17:38] #7285 closed

[2021-12-18 20:43] jldec commented on #7285
Probable root cause:

The workspace was persisted with a baseImageNameResolved value of `mach4/gitpod-wordpress:delta@sha256:4449db51ff7b2e0421453f215dc6c296ec958b6cff5443fa8c64eef4fa84d63c`

The `:delta` [tag](https://hub.docker.com/r/mach4/gitpod-wordpress/tags) on dockerhub was subsequently updated, resulting in a new digest.

[2021-12-18 21:12] aledbf commented on #5090
It is. Please open a new issue and include the error you get

[2021-12-18 21:30] trumbitta commented on #5333
I find the *change* link pretty useful here! I have repos both on GitLab and on GitHub and that little link helps keeping me sane 😄

I'm all for adding the new proposed link 👍

[2021-12-18 22:07] trumbitta commented on #4634
Following the line of though of [this comment](https://github.com/gitpod-io/gitpod/pull/4417#issuecomment-860532577) from #4417 ("we should find a proper solution")

And having seen what happens at small resolutions / viewports:

![image](https://user-images.githubusercontent.com/462705/146656205-1a826f5a-7066-4b20-908e-fa7159674480.png)

I think reworking the whole dashboard app with a modern mob

[2021-12-18 22:47] akosyakov commented on #5778
Confirmed, managed to build a prototype with manually started local companion and tpc join link.

[2021-12-19 01:37] #5628 closed

[2021-12-19 01:37] #5631 closed

[2021-12-19 07:08] axonasif commented on #5532
The issue seems to be with `/usr/lib/wine/wine`, which is wine32 for running 32bit programs. 64bit programs just work fine with wine64. Here are some logs:
[code]

[2021-12-19 10:22] nojaf opened #7303 "Installing additional .NET SDKs breaks dotnet cli"
### Bug description

I'm in a scenario where I want to use the default .NET image (gitpod/workspace-dotnet:latest) and install additional SDKs because I need these for my project.
The goal is to download these SDKs using [dotnet-install scripts](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-install-script).

[code]

afterwards:

[code]

This all works out, but when I run `dotnet tool r

[2021-12-19 14:34] gengjiawen opened #7304 "extension massive failed"
![image](https://user-images.githubusercontent.com/3759816/146678675-5ff0d81c-3cc6-4849-9859-414ad9b3aaa9.png)

repo: https://azure-heron-4xtibqkx.ws-us23.gitpod.io/

[2021-12-19 16:02] corneliusludmann commented on #7304
https://www.gitpodstatus.com/incidents/bhv99dsg3pj0

[2021-12-19 17:00] dsbowen opened #7306 "Python packages not installed after installing in prebuild"
### Bug description

Python packages aren't installed after I pip install them in a prebuild.

### Steps to reproduce

I have a repo in gitlab with 1 file:

`.gitpod.yml`

[code]

The workspace opens with

[code]

### Workspace affected

_No response_

### Expected behavior

The `black` package should be recognized. Commands like the following should work:

[code]

### Example repository

Snapshot

[2021-12-19 18:10] axonasif commented on #7306
Hi @dsbowen, AFAIK this is not a bug 😅

You need to install those dependencies from Dockerfile as python modules seems to be installed under `/home/gitpod` but not `/workspace`. Init changes do not persist anywhere other than `/workspace`.

Here is a `.gitood.Dockerfile` example that you can use.
[code]

And use it from your `.gitpod.yml`
[code]

Now this makes me think that there should be a comm

[2021-12-19 20:35] dsbowen commented on #7306
Thank you!

Some of my confusion was based on the flask template, where there's a `pip install -e .` in init: https://github.com/gitpod-io/template-python-flask/blob/main/.gitpod.yml

I imagine editable installs can go in init, but other requirements have to go in a Dockerfile. That wasn't an obvious distinction to me.

[2021-12-19 20:35] #7306 closed

[2021-12-19 20:43] MrSimonEmms commented on #6491
I closed this issue because I couldn't recreate it and I didn't add enough detail to make it a useful issue. If you can add some more stuff to the ticket, I'll reopen it (please tag me)

[2021-12-20 01:31] gengjiawen commented on #7304
Looks fixed now.

[2021-12-20 01:31] #7304 closed

[2021-12-20 02:23] MatthewFagan opened #7307 "Bugs in github request caching"
### Bug description

In the file components/server/src/github/api.ts, lines 244, 250, 264, 273, and 288, the cache key is defined as ${params.owner}/${params.owner} instead of ${params.owner}/${params.repo}. This causes the caching of these requests to fail

Fix: Change ${params.owner}/${params.owner} to ${params.owner}/${params.repo}

### Steps to reproduce

Go to /workspaces page and hit F5. All

[2021-12-20 05:23] #5595 closed

[2021-12-20 05:23] #5646 closed

[2021-12-20 06:21] #7166 closed

[2021-12-20 06:32] gengjiawen commented on #5765
not stale

[2021-12-20 07:22] Foxhoundn commented on #3059
If I wanted to contribute myself, can I? Where is the repo that handles that?

[2021-12-20 08:16] #5119 closed

[2021-12-20 08:35] MrSimonEmms opened #7308 "[Installer]: create a config migration command"
In the Installer, the configuration YAML has an `apiVersion`. Create an Installer command which receives the old config and converts that to the new config version. Suggested command:

[code]

This will need to allow for incrementing multiple versions - eg, it's conceivable that someone could have a `v1` config file and want to be incrementing to `v3`. We should support that.

[2021-12-20 09:09] laushinka opened #7310 "Link the username that added the project"
As a follow-up to https://github.com/gitpod-io/gitpod/issues/5119, there should be a link to the Git provider profile of the username that added the project.

This was mentioned here[[1](https://github.com/gitpod-io/gitpod/pull/5128#discussion_r751438719)] and here[[2](https://github.com/gitpod-io/gitpod/pull/5128#discussion_r771569685_)] with a description:

[2021-12-20 09:20] jldec commented on #7310
/schedule

[2021-12-20 09:20] roboquat commented on #7310
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7310#issuecomment-997743074):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-20 09:25] laushinka commented on #7310
(Should've assigned myself using prow.)

[2021-12-20 09:26] svenefftinge opened #7311 "Prebuild Loading Screen doesn't auto progress when done"
### Bug description

When starting a workspace on which a rebuild is running, the screen blocks and shows the log output of the rebuild.
When done it should automatically progress to starting a new workspace.
It doesn't (always?) do that when the time spent on that page was long.

### Steps to reproduce

start a workspace on a commit that is being prebuild and the prebuild takes a few minutes

###

[2021-12-20 09:41] timokrae commented on #7305
@jeanp413 I tryed that but it did not help.

[2021-12-20 09:43] corneliusludmann commented on #7054
@geropl @akosyakov  Happens to me right now again for workspace `tomato-buzzard-nqdmbjxe` and port `1234`.

[2021-12-20 10:20] dragonDScript commented on #6967
Not only the terminal. Also some extensions like Python and JS Debugger etc.

[2021-12-20 11:01] laushinka commented on #7310
/werft run

[2021-12-20 11:33] Foxhoundn opened #7313 "Connection lost & workspace needs to be reloaded when debugging theme / extension after a certain time"
### Bug description

I have 2 workspaces in which I work on either a theme or a VS Code extension - both of these and only these workspaces are randomly disconnected after a certain random time - sometimes it's a few minutes, sometimes it's 20 minutes. I was finally able to get some log data of the console before the window was reloaded.

### Steps to reproduce

You could reproduce when working on

[2021-12-20 12:12] loujaybee commented on #6602
Referencing related internal conversation [[1](https://gitpod.slack.com/archives/C01KGM9BH54/p1639752092141000)]

[2021-12-20 12:52] akosyakov commented on #3059
It is here: https://github.com/gitpod-io/openvscode-server/tree/gp-code/main

[2021-12-20 13:12] JanKoehnlein commented on #7167
/assign

[2021-12-20 13:13] JanKoehnlein commented on #7167
I think we implement do that in a simpler way. As these experiments really only make sense for us to drive product decisions. So checking the URL should be sufficient.

[2021-12-20 13:16] JanKoehnlein commented on #7273
@jldec do we need visual design for this or can this be scheduled as is?

[2021-12-20 13:19] #6400 closed

[2021-12-20 13:27] corneliusludmann opened #7315 "Epic: Awesome Gitpod Installation and Update/Upgrade Experience"
## Summary
Gitpod can be self-hosted on-premises. For this, we have recently introduced the Gitpod installer. This epic is about enhancing the Gitpod installer and introducing release management to provide our self-hosted users with an awesome Gitpod installation experience.

## Context
Historically, we offered users [helm charts](https://github.com/gitpod-io/gitpod/tree/63c49622c11389bb379b53d145

[2021-12-20 13:57] corneliusludmann opened #7316 "Epic: Automated Self-Hosted Testing"
## Summary
Set up werft jobs that automatically install and test (running the [existing integration tests](https://github.com/gitpod-io/gitpod/tree/120872bfce3bbb7a7d1b3372282166745d9f9ec2/test)) Gitpod self-hosted from `main` on 4 representative infrastructure environments every night as well as manually on demand. Also the update path should be tested

## Context
Before we can publish a new Gitp

[2021-12-20 13:58] Livven commented on #7305
@akosyakov It happens on gitpod.io, but also with our (slightly customized version of) openvscode-server, so it's not specific to Gitpod.

[2021-12-20 14:40] akosyakov commented on #6778
@iQQBot supervisor reconnects to the server each 10 mins, during such reconnect we can miss some events, so let's add a mitigation which sync with server on reconnect.

Do you need some code pointers?

[2021-12-20 15:46] loujaybee opened #7317 "Make legal / updates to privacy policy regarding telemetry / tracking"
We are making some changes to the data that we're tracking, this issue is to track updates to our privacy policy / changes required to allow users to opt-in/out of telemetry and analytics data. To answer questions such as: https://github.com/gitpod-io/gitpod/issues/6896#issuecomment-995600300

Linking relevant internal conversation [[1](https://gitpod.slack.com/archives/C02K34NQ28P/p16400157210046

[2021-12-20 16:10] loujaybee commented on #7195
Duplicate of: https://github.com/gitpod-io/gitpod/issues/6707

[2021-12-20 17:07] csweichel opened #7318 "Workspace instances should have a max lifetime"
## Is your feature request related to a problem? Please describe
At the moment workspace instances can run an indefinite amount of time. This causes operational issues during cluster updates, and is seldom desired behaviour considering the ephemeral nature of Gitpod workspaces.

## Describe the behaviour you'd like
Workspace instances should have a maximum lifespan after which they're shut down au

[2021-12-20 17:11] jeanp413 commented on #7257
Alternatively, we can investigate how to send events directly to segment but need to avoid exposing segment sources to end users

[2021-12-20 17:15] cfoust commented on #6598
Running `git lfs uninstall` at the end of `init` makes this not happen.

[2021-12-20 17:42] #3059 closed

[2021-12-20 17:43] jldec commented on #7285
User [confirmed](https://gitpod.slack.com/archives/C02F19UUW6S/p1640021951233800?thread_ts=1639649541.185800&cid=C02F19UUW6S) that the fix worked.
Thanks @iQQBot !

[2021-12-20 17:56] jeanp413 commented on #7305
@timokrae I tested other extension using `LanguageClient` and couldn't reproduce the issue.
Could you share a repo containing a working extension so I can test directly? or be more explicit about what should I put in `"path/to/my.dll"` in the snippet above as I'm not really familiar with .NET
Thanks.

[2021-12-21 00:14] apolopena opened #7323 "Document experimentalNetwork: true for .gitpod.yml on the Gitpod website."
### Bug description

Currently at the time of writing this, searching the Gitpod documentation for the string `experimentalNetwork: true` only turns up documentation on implementing tailscale and nothing else.

### Steps to reproduce

 Search the [Gitpod Docs](https://www.gitpod.io/docs/) for the string `experimentalNetwork: true`

### Workspace affected

_No response_

### Expected behavior

The

[2021-12-21 01:23] JonathanTreffler commented on #7315
Have you considered offering a prebuilt VM Image for a standard Gitpod Self Hosted setup ?
Many mature open source projects (like Nextcloud) offer these and they are incredibly convenient.
Ideally, there would be a guided Setup (https certificate ...).

Motivation:
I tried installing Gitpod using the helm charts and using the standalone docker before, but have not succeeded yet.
The Installer is p

[2021-12-21 07:16] appcoders opened #7324 "[Installer] GitPod workspace does not come up with 'Error: image build did not produce a workspace image'"
### Bug description

Everything looks fine, I can register with our self hosted GitLab, but when I start creating the first workspace from GitLab I get

[code]

### Steps to reproduce

- Installed with installer TAG sje-installer-custom-ingress.2 see https://github.com/gitpod-io/gitpod/pull/7280
- K3S v1.21.7+k3s1
- Flannel Networking on private subnet
- No Traefik
- Installed NGINX Ingress via He

[2021-12-21 07:43] #5666 closed

[2021-12-21 09:03] jldec commented on #5330
/schedule

[2021-12-21 09:03] roboquat commented on #5330
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5330#issuecomment-998594983):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-21 09:17] jmls opened #7325 "Bitbucket provider does not return isDefault"
### Bug description

when trying to run a prebuild in the dashboard , a bitbucket repo returns the error

**"Error: Could not find a default branch in repository"**

### Steps to reproduce

![image](https://user-images.githubusercontent.com/929523/146903438-63ae42a8-83eb-4d4f-bc76-8c4ea7c0cff9.png)

press the "run preview" button and you get this error

![image](https://user-images.githubuserconte

[2021-12-21 09:18] loujaybee opened #7326 "Epic: Instrument "Activation & Retention" Growth Area Telemetry Data in IDE"
| Context             | To provide a better Gitpod experience, we need to ensure that users are able to discover all of Gitpod features. This aspect of the Gitpod experience is referred to as "Activation & Retention". The purpose of this epic is to instrument Gitpod with the necessary data points on all major Gitpod features. |
|---------------------|-----------------------------------------------

[2021-12-21 09:19] loujaybee commented on #6501
Duplicated by: https://github.com/gitpod-io/gitpod/issues/7182

[2021-12-21 09:19] #6501 closed

[2021-12-21 09:19] loujaybee commented on #6499
Duplicated by: https://github.com/gitpod-io/gitpod/issues/7326

[2021-12-21 09:19] #6499 closed

[2021-12-21 09:21] jmls commented on #7311
yup, I get this all the time

[2021-12-21 09:22] jmls commented on #7294
![image](https://user-images.githubusercontent.com/929523/146904820-cf4c5f97-8913-49fe-a933-6a9aba61bf79.png)

[2021-12-21 09:40] MrSimonEmms commented on #7324
@appcoders can you find the logs for a pod called `imagebuild*` (no hyphen) - this is the actual pod that builds the Docker image. It may be worth changing `fsShiftMethod: fuse` to `fsShiftMethod: shiftfs` as well

[2021-12-21 09:42] loujaybee commented on #6981
Let's consider this ticket done, and we can see where file events might be relevant in relation to the other epic: #7326

[2021-12-21 09:43] loujaybee commented on #7326
The file events mentioned by @jeanp413 [here](https://github.com/gitpod-io/gitpod/issues/6981#issuecomment-994271182) may also be relevant to this epic.

[2021-12-21 09:53] appcoders commented on #7324
@MrSimonEmms
Thanks for your quick reply.
I can see that a pod is scheduled but it does not start up at all and produces no log.
[Screenshot Lens App](https://cln.sh/IixFdL/download)
Installer Version: I used is sje-installer-custom-ingress.2

When using shiftfs it leads to ws-daemon backoff loop:
[code]

[2021-12-21 09:56] MrSimonEmms commented on #7324
Do you get anything useful explaining why the pod's not scheduled with `kubectl describe pods imagebuild*`?

Rather than clogging up here, do you want to chat in real time on Discord?

[2021-12-21 10:15] appcoders commented on #7324
Thanks to @MrSimonEmms, together via Discord we got the logs from the short-living imagebuild pods:

{"@type":"type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent","error":"fork/exec /proc/self/exe: operation not permitted","level":"error","message":"failed to start ring0","ring":0,"serviceContext":{"service":"workspacekit","version":"commit-41879d65678692b46eac76093

[2021-12-21 11:10] jldec opened #7328 "Support deployment of GitHub App in new installer"
The GitHub App is currently deployed using helm, at least for [preview environments](https://www.notion.so/gitpod/How-to-deploy-a-PR-with-a-working-GitHub-App-integration-d297a1ef2f7b4b3aa8483b2ae9b47da2) (internal).

This should be revised to use the newinstaller.

[2021-12-21 12:20] appcoders commented on #7324
For all users who encounter that issue: I used Debian 10 which is not working. With Ubuntu 20.04 everything is fine.

[2021-12-21 12:20] #7324 closed

[2021-12-21 12:42] jldec opened #7329 "Remove UI experiment for prefixed login - adopt change for all users"
https://github.com/gitpod-io/gitpod/issues/6826#issuecomment-987786422 was implemented as an A/B test.
The test showed that the change improved conversion to signup.

We can remove the experiment and make the change available to 100% of users who are presented with a login via this route.

[2021-12-21 12:43] jldec commented on #7329
/schedule
/assign @laushinka

[2021-12-21 12:43] roboquat commented on #7329
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7329#issuecomment-998748343):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-21 12:48] Foxhoundn opened #7330 "Impossible to uninstall extension(s), uninstalled extensions are synced & installed back"
### Bug description

I already deleted all my cloud sync settings twice. I constantly have to uninstall extensions that should not be installed at all. At this moment it would be probably less time consuming to turn off setting sync and do everything everytime manually.

https://user-images.githubusercontent.com/8861481/146932126-d5546feb-408b-41a8-8b19-70a97de6d200.mp4

### Steps to reproduce

I

[2021-12-21 13:30] loujaybee opened #7331 "Investigate SSH proxy"

[2021-12-21 13:31] loujaybee commented on #7331
Closing as duplicate of: https://github.com/gitpod-io/gitpod/issues/5602

[2021-12-21 13:32] loujaybee opened #7332 "Epic: JetBrains Gateway Integration (IntelliJ IDEA)"
| Context             | _JetBrains Gateway [[1](https://www.jetbrains.com/remote-development/gateway/)] is the entrypoint for all JetBrains remote development. The scope of this epic is to create a Gitpod JetBrains Gateway plugin and release it to the JetBrains gateway marketplace which allows a user to interact with Gitpod workspaces directly from gateway on their desktop._    |
|----------------

[2021-12-21 13:43] #5981 closed

[2021-12-21 13:46] shahery opened #7333 "open port option"
### Bug description

hello
i saw the video of using the gitpod platform and by using the gitpod, there must be an option present in the bottom of gitpod of (open port) but in my mac, I cannot see that option. I tried to find it a lot but could not find it.

### Steps to reproduce

just tell me the way i find that option. Thanks

### Workspace affected

yes, i cannot open my new browser again if I

[2021-12-21 13:48] laushinka commented on #7329
/assign
(Curious if another assign command will make roboquat move this to in progress.)

[2021-12-21 14:09] kylos101 opened #7335 "[observability] Team Workspace / Success Criteria dashboard -> no data"
### Bug description

The dashboard is empty, panes should display data.

### Steps to reproduce

[Browse here](https://grafana.gitpod.io/d/jgjwvIc7k/success-criteria?orgId=1)

### Workspace affected

n/a

### Expected behavior

Should contain data

### Example repository

n/a

### Anything else?

Is the datasource set correctly [here](https://github.com/gitpod-io/gitpod/blob/93ed40d14ad2fe166a9f25

[2021-12-21 14:09] kylos101 commented on #7335
/team workspace

[2021-12-21 14:11] kylos101 commented on #7335
/schedule

[2021-12-21 14:12] roboquat commented on #7335
@kylos101: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7335#issuecomment-998811395):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-12-21 14:12] #7310 closed

[2021-12-21 14:17] akosyakov commented on #6981
@loujaybee next VS Code stable release will be only in Feb, if you need it early please ask @jeanp413 to cherry pick changes into release branch and do a proper release.

[2021-12-21 14:19] akosyakov commented on #7333
Do you mean VS Code browser or desktop?

[2021-12-21 14:23] shahery commented on #7333
Vs browser I mean to say in the workspace part in the gitpod. See in the
terminal space in the gitpod.

On Tue, 21 Dec 2021 at 2:20 pm, Anton Kosyakov ***@***.***>
wrote:

[2021-12-21 14:33] kylos101 commented on #7153
/team workspace

[2021-12-21 14:34] kylos101 commented on #6859
/schedule

[2021-12-21 14:53] jldec commented on #7159
Looking at the error message which is there, that seems pretty close to what we want for workspace startup.
It is consistent with GitHub's behavior of showing 404 for private repos accessed by unauthed users.
We don't want to leak more information to unauthorized users.

What might be more promising as a way to improve the UX would be to show projects which won't work for you because of auth-failu

[2021-12-21 14:55] jldec commented on #5330
/assign @laushinka

[2021-12-21 14:56] jldec commented on #6311
/schedule

[2021-12-21 14:56] roboquat commented on #6311
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6311#issuecomment-998845423):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-21 15:01] jeanp413 commented on #7263
version is the same as GHPR extension does github releases, they just released a new version `0.34.2`, will wait for openvsx to pick it up and test again

[2021-12-21 15:05] jmls commented on #7002
I'm having the same issue, with the exception that my time differences are on a workspace that is simply opened, stopped and reopened. Using the workspace-full image and a prebuild

Times vary from 45s to over 2:30 for the same workspace with no changes

[2021-12-21 15:48] jeanp413 commented on #7278
@akosyakov does it make sense that I want to disable this feature (as you said the image is outdated and I can see repeating in the future) so I can create a new issue as a feature request?

[2021-12-21 15:56] akosyakov commented on #7278
yes, please open a PR

[2021-12-21 16:17] #6867 closed

[2021-12-21 16:42] jldec commented on #7328
See #7145 and related PR #7230 which includes GitHub app install.

[2021-12-21 17:16] jeanp413 opened #7336 "Add a way to opt-out of using definitely-gp for workspaces"
## Is your feature request related to a problem? Please describe

I was trying to open a new workspace of upstream vscode repo and got surprised that it was using some custom docker image instead of the default image, furthemore this custom image is broken and I couldn't open the workspace at all.
Later I found there's this global configuration repo `definitely-gp` https://github.com/gitpod-io/git

[2021-12-21 17:27] jeanp413 commented on #7293
@jimmybrancaccio are you still seeing this? I cannot repo in stable 1.63.2 nor 1.64 insiders

[2021-12-21 17:35] jimmybrancaccio commented on #7293
Hey @jeanp413, I have 1.63.2 (`main.2085`) and it's still showing squares for me. I made sure to clear out my browsers cache as well. I wonder if being on self-hosted has anything to do with it?

<img width="649" alt="Screen Shot 2021-12-21 at 11 32 59AM" src="https://user-images.githubusercontent.com/405585/146973608-2a6c746d-f58e-44bc-8087-577d21b4aa25.png">

<img width="567" alt="Screen Shot 20

[2021-12-21 17:55] jeanp413 commented on #7293
@jimmybrancaccio on what browser are you seeing this? I tested on chrome

[2021-12-21 17:56] jimmybrancaccio commented on #7293
@jeanp413 I am on Safari but as noted in my original post it looks like the CSS file may not be using the right path to the `ttf` file.

[2021-12-21 18:03] jeanp413 commented on #7293
I see thanks for the pointer :+1:  I'll check on safari

[2021-12-21 18:12] marcoaleixo commented on #6778
I'm having this "detecting..." problem.
By accident I discovered that if we run "gp forward-port any_port" Gitpod automatically is able to detect the state of the ports.
I'm posting this if anyone in future have the same bug until the team doesn't fix it.

[2021-12-21 18:23] jeanp413 commented on #7293
I can repro only in safari, chrome and firefox work fine

[2021-12-21 19:31] sedattanir opened #7338 "cannot resolve workspace image: hostname required"
### Bug description

Request startWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: hostname required

I didn't solve this error.

Ubuntu Server 20.04.3(1 master, 2 node), k3s latest, main.2071

https://media.discordapp.net/attachments/902831061220851712/922923814726295572/unknown.png?width=1440&height=638

### Steps to reproduce

After the installation is completed, the

[2021-12-21 20:50] jimmybrancaccio commented on #7293
LOL Of course it only happens in the one browser I use 🤦🏼 haha

[2021-12-21 21:10] jldec commented on #7082
Not fixed yet.

[2021-12-21 21:10] jldec commented on #7082
/schedule

[2021-12-21 21:10] roboquat commented on #7082
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7082#issuecomment-999096537):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-12-21 21:20] apolopena commented on #7338
I have the same issue.

[2021-12-21 21:20] Mr-Pete commented on #7338
Same here

[2021-12-21 21:22] carlosal1015 commented on #7338
Me too with [this configuration](https://github.com/cpp-review-dune/introductory-review/blob/main/.gitpod.yml) and [both](https://github.com/cpp-review-dune/introductory-review/blob/main/src/Docker/TeXLive.Dockerfile) [images](https://github.com/cpp-review-dune/introductory-review/blob/main/src/Docker/AUR.Dockerfile).

[2021-12-21 21:31] Mr-Pete commented on #7338
Try again Lads, up and running for me again

[2021-12-21 21:42] aledbf commented on #7338
Please check https://www.gitpodstatus.com/incidents/ygpkvrkl2nkf

We see sporadic 503 responses from docker hub pulling images.

[2021-12-21 22:06] aledbf opened #7340 "[observability] Team Workspace / Registry Facade Metrics - alerts"
## Describe the behaviour you'd like

If the pull rate is zero for more than five minute we should receive an alert.

![Screenshot from 2021-12-21 18-48-05](https://user-images.githubusercontent.com/161571/147003482-23e0e2ac-ca81-403e-bda4-3fed21f79534.png)

[2021-12-21 22:06] aledbf commented on #7340
/team workspace

[2021-12-21 22:24] apolopena commented on #7338
yeah back up for me

[2021-12-21 22:46] aledbf opened #7341 "[registry-facade] Improve message errors related to networking issues"
## Is your feature request related to a problem? Please describe

![unknown](https://user-images.githubusercontent.com/161571/147007204-fc232a90-b80b-478c-b33b-2062e7384b03.png)

## Describe the behaviour you'd like

[In case of any error resolving images](https://github.com/gitpod-io/gitpod/blob/a4751772fee9dfce8afd0e1b99f61bcc98a57fb1/components/registry-facade/pkg/registry/manifest.go#L140) (li

[2021-12-21 22:46] kylos101 commented on #7338
Hey @sedattanir thank you so much for reporting the issue! You should be all set now. Please check, and let us know if you're still having trouble?

[2021-12-21 22:46] #7338 closed

[2021-12-22 00:25] bd82 commented on #4630
Thanks for clearing this up.

[2021-12-22 02:05] #5102 closed

[2021-12-22 02:34] apolopena commented on #7338
Please re open or make a new issue. This issue is back.

[2021-12-22 03:04] kivirus opened #7343 "Bugs when open gitpod workspaces"
### Bug description

when I open my workspaces I have got the error  `Request startWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: hostname required` and can't open workspace
![workspace_fail](https://user-images.githubusercontent.com/26292087/147028512-8c42d7a8-d76a-47dc-aa27-19a60597959e.PNG)

### Steps to reproduce

Go to /workspaces page and open workspace

### Work

[2021-12-22 03:48] bigint commented on #5822
@filiptronicek

[2021-12-22 05:10] kunxin-chor commented on #7343
Same issue here

[2021-12-22 06:46] Foxhoundn commented on #7330
I've been debugging this a bit more

I uninstalled the extension `Bookmarks`, I refreshed the sync view but no new extensions entry was added. Basically no change.

But then I tried uninstalling the extension `Code Spell Checker` - now 2 things happen, there was both a Settings sync and Extensions sync.

I would have thought it would now sync both of the changes, yet only the latter was synced as

[2021-12-22 06:50] princerachit commented on #7343
Hi, we have identified the issue. Please follow https://www.gitpodstatus.com/ for latest updates.

[2021-12-22 07:13] bitsnaps commented on #7343
This is happening for me with any workspace, including the example workspaces available on the [home page](https://www.gitpod.io/), the issue is not resolved yet!

[2021-12-22 07:18] AjXUthaya commented on #7343
Same issue in ws-eu23, unable to create new + start existing

[2021-12-22 07:50] akosyakov commented on #6778
Yeah, it sounds exactly like a problem of missing events. If you forward another port a new event is issued which delivers proper state for first port too.

[2021-12-22 07:52] georg480 opened #7344 "workplaces don't open"
### Bug description

![image](https://user-images.githubusercontent.com/79664365/147055592-767ed614-6d9c-42e4-b7b9-4e969d22cfb9.png)

### Steps to reproduce

http://gitpod.io/#https://gitpod.io/workspaces

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-22 08:15] appcoders commented on #7343
Same issue on self-hosted enviroment.

[2021-12-22 08:21] John-wallace89 commented on #7344
My workspace is also not opening, although i'm getting a different error message
![image](https://user-images.githubusercontent.com/75330172/147059689-cce3394c-2fb0-4939-bccd-82ee95002fc5.png)
work space https://sapphire-chickadee-v75mlfae.ws-eu23.gitpod.io/

[2021-12-22 08:23] parasop commented on #7344
![image](https://user-images.githubusercontent.com/63485824/147060054-7838c03b-2ba1-4524-80bc-263324007c6b.png)

[2021-12-22 08:25] axonasif commented on #7344
This is a ongoing issue, we can keep an eye on https://www.gitpodstatus.com/incidents/g0kjpr3lbvbwband

[2021-12-22 08:25] vkton115 opened #7345 "Request startWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: hostname required"
### Bug description

getting this error message. unable to open my workspace
Request startWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: hostname required

happened during class and constant refreshing eventually got it to work. but now i'm trying to work on homework outside of classtime and it keeps failing.

### Steps to reproduce

### Workspace affected

_No respons

[2021-12-22 08:27] bravoalpha79 commented on #7344
Same thing on my end:

![image](https://user-images.githubusercontent.com/45522344/147060593-bcb8e161-ef2c-45ff-a81d-35a89f6d45dc.png)

Note: I am located in the EU, so it's not just US clusters being affected as the Status page seems to state.

[2021-12-22 08:27] John-wallace89 commented on #7344
@axonasif  - the above link doesn't seem to be working? i'm getting a 404.

[2021-12-22 08:29] axonasif commented on #7344
Sorry, maybe it was changed, edited my message.

[2021-12-22 08:30] parasop commented on #7344
how much time it will take for fix?

[2021-12-22 08:31] RyanRayn commented on #7344
Same here..
<img width="733" alt="Screen Shot 2021-12-22 at 9 29 52 AM" src="https://user-images.githubusercontent.com/65997202/147061214-a7bef272-6cd8-465a-9753-c151471e7261.png">
.

[2021-12-22 08:34] axonasif commented on #7345
This is an ongoing issue, please keep an eye on https://www.gitpodstatus.com/incidents/g0kjpr3lbvbw

All we can do is wait patiently and stay calm 😀

[2021-12-22 08:42] JamieT966 commented on #7344
<img width="297" alt="Gitpod not working" src="https://user-images.githubusercontent.com/93391397/147063037-371df5be-f387-48d5-8ac8-73722a554c9a.PNG">

Same.

[2021-12-22 08:55] akosyakov commented on #7293
@jeanp413 maybe it should be simply reported to upstream?

[2021-12-22 09:17] Foxhoundn commented on #7330
More debug info:

After uninstalling an extension I can see in the Sync log that:

[2021-12-22 10:14:22.284] [settingssync] [info] GlobalState: Updated remote ui state
[2021-12-22 10:14:22.292] [settingssync] [info] GlobalState: Updated last synchronized ui state
**_[2021-12-22 10:14:22.802] [settingssync] [info] Extensions: No changes found during synchronizing extensions._**
[2021-12-22 10:14:22

[2021-12-22 09:33] Foxhoundn commented on #7330
I just (again) cleared all of my Cloud data, and installed 3 extensions
![CleanShot 2021-12-22 at 10 25 42](https://user-images.githubusercontent.com/8861481/147069936-40e42ad6-1aae-49cc-8885-f26be062a317.png)![CleanShot 2021-12-22 at 10 25 57](https://user-images.githubusercontent.com/8861481/147069938-446576ce-69fc-4d43-bf36-51f5928ab5cf.png)

Then I **started** another workspace and it still ha

[2021-12-22 09:43] stefanhoelzl opened #7346 "cannot resolve workspace image: hostname required Unknown Error: { "code": -32603 }"
### Bug description

When trying to start a workspace I get this error message
[code]

### Steps to reproduce

[open this project](https://www.gitpod.io/#https://github.com/stefanhoelzl/pytest_docfiles/)

### Workspace affected

white-pinniped-n071u9hg

### Expected behavior

workspace should start up

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-22 09:51] akosyakov opened #7347 "Ensure that OpenVSX proxy actually helps"
### Bug description

OpenVSX was not available last week for 1 hour because of planned maintenance.
It caused [an incident](https://gitpod.slack.com/archives/C02RAHU3M26) on our side triggered by [user complaints](https://github.com/gitpod-io/gitpod/issues/7304).
We need to evaluate whether OpenVSX proxy actually helps in such cases and to which extend.

### Steps to reproduce

- Take OpenVSX prox

[2021-12-22 09:54] akosyakov commented on #7347
@gengjiawen What was the experience for you when it happened?

btw there is an upcoming maintenance this Saturday as well

[2021-12-22 09:59] gengjiawen commented on #7347
Extensions panel is empty. Besides that, other things like edit is okay. But I am a vim person, so very painful for me.
Open it in local vscode helped a lot.

[2021-12-22 10:07] JanKoehnlein commented on #5198
Thanks a lot for the PR.

@gtsiolis Please have a look at the dashboard changes. Maybe we need a repo chooser instead of the text field.

[2021-12-22 10:07] JanKoehnlein commented on #5198
/schedule

[2021-12-22 10:44] nedenneden32 opened #7348 "Oh, no! Something went wrong!"
### Bug description

edit in gitpod
 Request createWorkspace failed with message: 13 INTERNAL: cannot resolve workspace image: hostname required

Unknown Error: { "code": -32603 }

### Steps to reproduce

bu hatayı alıyorum yardım edermisiniz lütfen

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-22 10:45] laushinka commented on #7348
We're currently experiencing an outage due to issues pulling images from our cloud provider container registry. This is causing some workspaces not to start.
The cloud provider has confirmed the issue on their side, and are working towards the fix.
For status updates: at https://www.gitpodstatus.com/

[2021-12-22 11:33] stefanhoelzl commented on #7346
I am able to access the project again.

[2021-12-22 11:33] #7346 closed

[2021-12-22 11:37] akosyakov commented on #7330
duplicate of https://github.com/gitpod-io/gitpod/issues/3342

as a work around don't press reload immediately, wait a bit, or force sync

[2021-12-22 11:37] #7330 closed

[2021-12-22 11:38] akosyakov commented on #7347
true, but popular extensions like vim should work. If nothing works we should investigate why.

[2021-12-22 11:51] jimmybrancaccio commented on #7293
I almost thought it was one of my extensions in Safari but then remembered you replicated the issue in Safari too Jean. I tested within Firefox on my MacPro and I was able to see the icons. That's weird, I wonder what is causing the issue to occur in Safari only... 🤔

<img width="664" alt="Screen Shot 2021-12-22 at 5 47 24 AM" src="https://user-images.githubusercontent.com/405585/147088641-5a3130c

[2021-12-22 12:00] appcoders commented on #7343
Dispite the issue should be fixed
https://www.gitpodstatus.com/
Monitoring - Gitpod workspaces are starting now. We're continuing to monitor the situation.
Dec 22, 11:36 UTC

it still does not work on self-hosted env.

[2021-12-22 12:02] meysholdt commented on #5596
Not sure why this got labeled "platform". The enhancements would mostly need to happen in components owned by the meta team.

[2021-12-22 12:28] geropl commented on #7082
Thx to #7292 it's now clear that we leak the pingpong timer :see_no_evil:
![image](https://user-images.githubusercontent.com/32448529/147092531-3c5f9a0f-4971-4ffc-a733-ea40b77f9e95.png)

This line should fix it: https://github.com/gitpod-io/gitpod/pull/7292/files#diff-afb02a2ba5397f62d4eaf365273e0336e8b20fe0fb39ee0f8276573e72d016e0R27

[2021-12-22 13:51] Foxhoundn commented on #7330
Is half of the issue going to be ignored? Where I cleared my cloud data, installed 2 extensions, opened a completely different workspace and 15 extensions were installed there?

Extension not uninstalling immediately is seriously half of the issue here.

[2021-12-22 13:55] laushinka commented on #7348
The incident has been resolved.

[2021-12-22 13:55] #7348 closed

[2021-12-22 14:46] akosyakov commented on #5602
We agreed to prototype it but it should be time boxed by end of this year. It should not introduce any new components but implemented in ws-proxy. cc @iQQBot

[2021-12-22 14:47] jimmybrancaccio commented on #5984
For what it's worth the `workspace-full` image is still using the older `ca-certificates` package:

[code]

[2021-12-22 16:05] jeanp413 commented on #7293
yeah I'll create an issue upstream, I think it's a CSP issue (only in safari) that it blocks the font to be served by the service worker

[2021-12-22 16:11] jeanp413 commented on #7263
tested with version 0.34.2 and issue persist

[2021-12-22 16:28] jeanp413 commented on #6894
@akosyakov are you working on this if not what still needs to be done?

[2021-12-22 17:40] #5212 closed

[2021-12-22 17:40] #5649 closed

[2021-12-22 17:40] #5659 closed

[2021-12-22 17:40] #5657 closed

[2021-12-22 17:40] #5676 closed

[2021-12-22 17:43] ThomasOrlita commented on #5657
Please reopen, this is still a bug