[2021-07-17 01:06] faisal-m16 commented on #4838
Same Issue. When creating a new workspace with extension no task is running.

[code]

[2021-07-17 04:14] pawanpratapweb commented on #4769
sorry sir, it is due to my internet connection. it have another problem.
gitpod takes too much resources of my computer.

please solve this problem.

On Mon, Jul 12, 2021 at 12:34 PM Sven Efftinge ***@***.***>
wrote:

[2021-07-17 06:33] pawlean commented on #58
Replying to the PR here

[2021-07-17 06:35] pawlean commented on #58
testing reply<br>

[2021-07-17 06:53] pawlean commented on #52
replying again from front

[2021-07-17 09:26] sgarner opened #4852 "Gitpod should checkout Git LFS files in workspace"
Gitpod does not natively support repositories using Git LFS (Large File Support). It would be great if this could be addressed.

It is possible to work around this in some situations by manually installing git-lfs into the container and running `git lfs pull` in the workspace as an `init` task (in `.gitpod.yml`).

However that has limitations. In particular, LFS files are not available during the

[2021-07-17 10:42] #3835 closed

[2021-07-17 11:35] faisal-m16 commented on #4838
Update: After removing `env` from task `Run Client` it worked fine. But I am still confused why it was not running with `env`

[2021-07-17 16:03] jmcelreavey commented on #4838
is 'env' a useable option? Have you tried the command: `gp env DANGEROUSLY_DISABLE_HOST_CHECK=true`

[2021-07-17 16:59] Kaushik-Kalesh opened #4853 "Workspace Timed out while Active"
### Bug description

While I was working on a workspace, a message popped out on the screen saying "Timed out" or something, and that the workspace was to be stopped. Now, when I tried to re-open the workspace, it loaded forever saying "Allocating resources...", and after a while this error message popped up "Error: 4 DEADLINE_EXCEEDED: Deadline exceeded". I don't know what happened, it couldn't h

[2021-07-17 17:13] AstroOrbis opened #4854 "Gitpod not starting on Firefox latest version."
### Bug description

When I try opening any repo/workspace on Gitpod, it gets stuck on this message:
[code]

and

[code]

### Steps to reproduce

1. Use latest version of FireFox with no extensions installed.
2. Try starting any repo or workspace using Gitpod

### Expected behavior

The workspace should open.

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-17 19:37] faisal-m16 commented on #4838
https://www.gitpod.io/docs/references/gitpod-yml#tasksnenv `env` in tasks i defined here. I followed documentation.

I did other workaround in `command`: `DANGEROUSLY_DISABLE_HOST_CHECK: true yarn start`.

[2021-07-17 20:35] shaal commented on #4353
I have 2 questions regarding this issue:
1. Would it be possible to add to this issue, that only a person with permission to trigger a prebuild, will be able to see the output of the prebuild? (related to running `tmate` during dockerfile build https://github.com/shaal/DrupalPod/blob/debug-with-tmate/.gitpod/.gitpod.Dockerfile#L29-L34)
1. The other URL params (that creates environment variables in

[2021-07-17 20:41] shaal commented on #4854
@AstroOrbis unfortunately, I couldn't replicate the issues you had reported.
I tested it with Firefox 91.0b3 developer edition, no extensions installed.
I was able to open these repos with no errors -
https://gitpod.io/#https://github.com/shaal/DrupalPod (custom docker image)
and
https://gitpod.io/#https://github.com/shaal/fast (default docker image)

Can you please add more details, of specific F

[2021-07-17 21:08] shaal opened #4855 "Remove confirmation message when pasting content from clipboard"
## Is your feature request related to a problem? Please describe

I often need to copy/paste stuff into a Gitpod workspace. Every time I try pasting something, I am getting a warning that I have to approve before paste from clipboard can happen.

## Describe the solution you'd like

Remove confirmation message when pasting content from clipboard.

[2021-07-17 22:35] shaal opened #4856 "Prebuild process gets stuck (when updating `.gitpod.Dockerfile`)"
### Bug description

When updating `.gitpod.Dockerfile` and pushing it back to repo on a branch, the prebuild seems stuck.
It takes over half an hour (but I am not sure how long, perhaps 1 hour?) where all I see is this screen with jumping G.
(while console doesn't display any error)
![image](https://user-images.githubusercontent.com/22901/126050495-38c3f390-c289-44a6-a970-8d1a6c4f0b7f.png)

Comin

[2021-07-18 01:13] shaal commented on #4856
Update 1:

[2021-07-18 01:15] shaal commented on #4856
### Update 2:
Gitpod seems to keep restarting these prebuilds, you can see below that these are 4 new workpsaces.
In the meantime, I cannot do anything. I cannot stop these workspaces from rebuilding, and I cannot work on other things in the meantime (because it's maxed out on 4 active workspaces)
![image](https://user-images.githubusercontent.com/22901/126052664-004fee84-34e5-4cb5-aefb-9842eeee70

[2021-07-18 06:14] RayBB commented on #4851
Seems to be related to this: https://danielmangum.com/posts/runc-chdir-to-cwd/

[2021-07-18 09:44] faisal-m16 opened #4857 "Allow Renaming of Workspaces & More powerful new workspace"
## 1. Allow Renaming of Workspaces
Currently name for Workspaces are randomly generated, but when we have many workspaces of same context for different use it is getting confusing.

## 2. More powerful new workspace
Currently Recent in New Workspace shows you only default branch of recent repos. Making it to at-least select a branch will be great. Also, you can just give a text box which takes URL

[2021-07-18 10:49] akosyakov commented on #4855
It is a browser feature, not gitpod to protect malicious site from accessing clipboard programmatically without you knowing it.

In Chrome you can go to permissions settings for clipboard and enable it for [.*]gitpod.io

you should be aware though that in such way you allow access to apps running on port location

[2021-07-18 10:52] akosyakov commented on #4769
Could you elaborate please? It is not clear which resources and have to reproduce. Gitpod workspace is not running on your machine. Do you use self hosted solution?

[2021-07-18 11:31] shaal commented on #4857
++
Yes please!!

[2021-07-18 11:38] shaal commented on #4856
### Update 3:
After a few hours, it was no longer stuck.
I opened a workspace with the updated repo, and I saw the "build image" page, now displaying terminal messages as I expected. (I was able to SSH into the process of image build, since I use tmate in there)

[2021-07-18 11:48] shaal commented on #4856
### Update 4:
I added `ENV TRIGGER_REBUILD 1` to `.gitpod.Dockerfile`, and now I see this screen, which seems to be stuck again. No console errors, and nothing displayed in the "terminal" output.
![image](https://user-images.githubusercontent.com/22901/126065779-10573bb2-911f-4f2d-92c9-45c3452fda3a.png)

[2021-07-18 12:06] akosyakov opened #4858 "[local-app] trying to reconnect to stopped supervisors forever"
### Bug description

It seems to do with the local machine loosing connection and workspaces getting stopped in the meantime.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-18 13:11] aledbf commented on #3985
Closing. After https://github.com/gitpod-io/gitpod/pull/4847 this should not be an issue. This will be available in the next release.
As example
[code]

[code]

[code]

[code]

[2021-07-18 13:11] #3985 closed

[2021-07-18 19:35] #3858 closed

[2021-07-18 19:35] #1304 closed

[2021-07-18 22:28] #3875 closed

[2021-07-18 23:51] daronhudson opened #4859 "Applying SSL Certificates"
### Bug description

After generating let's encrypt certificates for the self-hosted version of gitpod and applying them to the necessary secret and upgrading the installation, the web portion still shows as using the traefik default certificate.

I'm not sure if it's something I did wrong or if it's just not applying them, but the secret contains my certificates.

I'm getting this error from my w

[2021-07-19 01:43] daronhudson commented on #4859
So after some tinkering I managed to fix the proxy.

It still uses the traefik default cert though.

Now when I try to connect to the url all I get is connection refused

[2021-07-19 03:14] daronhudson commented on #4859
Seems that port 443 is no longer opening.

[2021-07-19 03:39] ghuntley commented on #4856
https://gitpod.io/#https://github.com/ghuntley/learn-graphql/tree/gh/gitpodify

Confirming that I've also witnessed the following as of moments ago

<img width="798" alt="2021-07-19_13-36-48" src="https://user-images.githubusercontent.com/127353/126099322-632bdb03-78c1-4274-973d-26d803b29cf3.png">

[2021-07-19 03:44] ghuntley commented on #4566
Oh. This particular problem has been an annoying papercut. I use the Synthwave 84 theme which pops up on every load due to this logic at https://github.com/robb0wen/synthwave-vscode/blob/master/src/extension.js#L18 failing.

<img width="587" alt="2021-07-19_13-43-50" src="https://user-images.githubusercontent.com/127353/126099733-4d7dd28e-d416-49f3-b64f-4b430447a4ab.png">

[2021-07-19 04:16] ghuntley commented on #4852
👍

👋 I use git-lfs over at https://github.com/ghuntley/ghuntley with Gitpod and this is what I do.

Breaking down this to the best of my knowledge.

1. installation of the git-lfs binaries into the base image https://github.com/gitpod-io/workspace-images/blob/d57c5f4b47a2df0bad344ff6c6a0209bd862a352/base/Dockerfile#L36
2. configuration of appropriate bash hooks (example: https://github.com/ghuntle

[2021-07-19 04:32] ghuntley commented on #4852
Opened pull-request over at https://github.com/gitpod-io/gitpod/issues/4852 to add this in.

[2021-07-19 04:32] sgarner commented on #4852
Thanks for looking at this @ghuntley ❤️

My use case is to preload the mysql database in gitpod workspaces with data from an SQL file. I have a 100MB gzipped dump committed to the repository using LFS.

I wanted to `COPY` the dump in my Dockerfile and then `RUN` a mysql command to restore it inside the container during the image build. But this was not possible because at the time of the image bui

[2021-07-19 05:03] ghuntley commented on #4859
How were the certificates generated (ie provide CLI commands used if available)?

The error `cert_authority_invalid` typically is as a result of using self-signed certificates (not supported atm), expired certificates (unlikely but check!) or with trust roots (using your own CA is not supported atm)

[2021-07-19 05:09] ghuntley opened #4860 "gp-cli: add gp prebuilt && gp prebuild-logs"
An idea - add two helpers to the GP cli application.

[code]

[2021-07-19 05:11] ghuntley opened #4861 "gp-cli: gp rebuild"
An idea for useful helper for the GP cli application.

[code]

[2021-07-19 05:22] dclong commented on #340
It would great if the HOME directory can be used for storing configuration files (instead of using /workspace) as it is more consistent with the common setup and makes things much easier to run CICD pipelines.

[2021-07-19 05:45] daronhudson commented on #4859
I generated the certificates using letsencrypt through certbot exactly as the documentation was showing.
Upon inspecting the certificate that certbot provides, I noticed that it only covers *.ws.domain.com and not the additional 2 domains that certbot verifies.

[2021-07-19 08:38] thewilli opened #4862 "Allow for user-based customization"
The `.gitpod.yml` file allows to specify **required** extensions. But what about optional ones?

I'm working with a team on a project where some users like me do rely on the [vim keybindings](https://open-vsx.org/extension/vscodevim/vim), while others are happy with the default configuration. The same applies to VSCode *settings* that are sometimes customized in the same way for every project. Jus

[2021-07-19 08:39] geropl opened #4863 "[enhancement] More insight into the UX-perspective on workspace startup"
Historically we have mostly been looking at backend metrics when it comes to workspace startup(/failure) rates. Also, we have not been very good at separating "user/input errors" (where we're missing sanity checks, better feedback, general UX improvements) and "backend issues" (bugs, but also problems we have with some rare kubernetes/cloud provider condition): Both get spilled into the frontend n

[2021-07-19 08:39] gtsiolis commented on #3985
Thanks @aledbf for closing this and adding https://github.com/gitpod-io/gitpod/pull/4847! 🚀

[2021-07-19 08:44] geropl commented on #4856
Outch... this feels like a restart-cycle because we miss some signal. Might have been introduced with the recent headless-log changes. :confused:  Will dig into this shortly.

[2021-07-19 09:53] jankeromnes commented on #4862
Hi @thewilli! Many thanks for this great feedback.

You're right that your project's `.gitpod.yml` allows specifying which extensions should get installed automatically in every workspace, for everyone working on your project.

But there are also a few additional ways to install or recommend extensions that might address (parts of) your use cases. I'll list them below, but please feel free to poin

[2021-07-19 10:47] corneliusludmann commented on #4733
@svenefftinge Is there a reason you added the log message? Thinking about removing this. If you would like to have it for some reason I would move it as debug log to the right place instead.

[2021-07-19 11:14] corneliusludmann commented on #4773
/assign me

[2021-07-19 11:14] roboquat commented on #4773
@corneliusludmann: GitHub didn't allow me to assign the following users: me.

Note that only [gitpod-io members](https://github.com/orgs/gitpod-io/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/contri

[2021-07-19 11:15] corneliusludmann commented on #4773
/assign corneliusludmann

[2021-07-19 11:15] svenefftinge commented on #4733
It is wrong. I wanted to get a log, if the context is an additional content context. But it's not really important so can also just be removed

[2021-07-19 11:40] corneliusludmann commented on #4733
/assign

[2021-07-19 11:46] svenefftinge commented on #4863
We want this information in analytics as well, so I suggest we add this information in form of tracked events.

[2021-07-19 11:47] svenefftinge commented on #4786
We have an event track method on the gitpod-protocol now, that can be used.

[2021-07-19 11:49] svenefftinge commented on #4199
Scheduling for groundwork, because we have seen this issue twice last week, so potentially happens regularly.

[2021-07-19 11:59] svenefftinge commented on #4786
cc @jakobhero

[2021-07-19 11:59] #4773 closed

[2021-07-19 11:59] svenefftinge commented on #4863
cc @jakobhero

[2021-07-19 12:01] #4733 closed

[2021-07-19 12:59] geropl commented on #4856
Thx so much  @shaal for this treasure trove of data.

It's a bit entangled, bit it _seems_ like here are multiple strange things (bugs?) happening here:
 - the root cause for the `cannot resolve base image ref`: not sure where this comes from, yet
 - we seem to not terminate prebuilds properly which do not reach the kubernetes control plane (to be verified!)
 - we start new workspaces in a loop on

[2021-07-19 13:19] shaal commented on #4856
Thank you for the quick response, let me know if I can help testing.

[2021-07-19 14:01] #4828 closed

[2021-07-19 14:30] pranavr2003 opened #4869 "[priority] Browser window and port serving not working"
### Bug description

I've created a simple HTML file to test, and tried to run it using `webbrowser.open()` to open it on a browser. It opens on the side, but says `Not found`, for some reason. Clicking on the 'Open in browser' at the top right corner does nothing at all too.

Then I tried to open it on a port using Flask (which worked about 3 days ago) with a simple route and tried to render the

[2021-07-19 14:59] csweichel commented on #4199
/schedule

[2021-07-19 15:00] csweichel commented on #4863
/schedule

[2021-07-19 18:58] pranavr2003 commented on #4869
Port serving works now, but the Side browser and the open in browser button at the top right still doesn't.

[2021-07-19 21:33] AstroOrbis commented on #4854
After a little bit of reinstalliing and fixing MacOS settings, it works again! Thanks for trying though!

[2021-07-19 21:33] #4854 closed

[2021-07-20 02:26] cjensenius opened #4872 "Error: 4 DEADLINE_EXCEEDED Error launching existing workspace"
### Bug description

I am attempting to launch https://gitpod.io/start/#indigo-chickadee-cben01ge and am receiving the following error message:

Oh, no! Something went wrong!
Error: 4 DEADLINE_EXCEEDED: Deadline exceeded

### Steps to reproduce

Launch https://gitpod.io/start/#indigo-chickadee-cben01ge and wait

### Expected behavior

Normal launch of existing workspace

### Example repository

_N

[2021-07-20 02:27] cjensenius commented on #4872
I received the same behavior from https://gitpod.io/start/#coral-mandrill-fbuviks4

[2021-07-20 02:38] cjensenius commented on #4872
Earlier I had been working in the https://gitpod.io/start/#indigo-chickadee-cben01ge workspace when it was forced into the shutting down state, I did not see an error message during that process. The DEADLINE_EXCEEDED message arrived after that event for any workspace

[2021-07-20 02:41] cjensenius commented on #4872
Attempting to launch a new workspace from the same private repo yields a different error:

Oh, no! Something went wrong!

Connection got disposed.

[2021-07-20 03:02] cjensenius commented on #4872
The issue has resolved for indigo-chickadee-cben01ge, checking new workspace launches

[2021-07-20 03:17] cjensenius commented on #4872
New workspace failed with same Connection got disposed. error. I've reported what seemed like the relevant information, please let me know if you need anything else.

[2021-07-20 06:31] pacopeng opened #4874 "http://gitpod.ocp4.paco.com:30370/sorry#Please%20allow%20Cookies%20in%20your%20browser%20and%20try%20to%20log%20in%20again."
### Bug description

git clone https://github.com/gitpod-io/gitpod
git checkout -b v0.9.0 v0.9.0

######values.yaml################
[code]
****
helm upgrade  --install -f .gitpod-config/values.custom-eu.yaml gitpod .  --set version=0.9.0

login page --worked
![image](https://user-images.githubusercontent.com/5043946/126271357-3d24b007-ba3a-4d92-ba61-20943dc88d28.png)

jumped to gitlab for authenti

[2021-07-20 07:00] geropl commented on #4856
Ok, pinned it down:
 - the frontend does not properly end it's re-try loop to load headless logs but assumes we will navigate away once we have the first clear signal on "prebuild done". If there is an error during workspace start _before_ we generate an `ideUrl` (e.g., during imagebuilds) we can never navigate away from the prebuild logs view.
 - we do not handle the image builder error properly:

[2021-07-20 07:23] csweichel commented on #4869
Thank you for your feedback, especially regarding frontend-development. The port access takes a short while to become available at time times. We are looking into steps of making that quicker and more reliable, but don't have an ETA for those improvements yet.

Regarding the side browser: AFAIK it behaves like a browser running on your machine, hence I wouldn't expect `test.html` to just work. You

[2021-07-20 07:32] pranavr2003 commented on #4869
@csweichel Thanks for the clarification. But can you explain 'behaves like a browser running on your machine'? From what I understand it doesn't run on any ports and if it doesn't, why would `test.html` not work? Which kind of stuff would then run on the Side Browser?

[2021-07-20 08:14] csweichel commented on #4872
Thank you @cjensenius for the detailed report. We had a minor service outage yesterday (a system-critical service was evicted). We're looking into this.

[2021-07-20 08:21] csweichel opened #4877 "[ws-manager] Leaks memory"
### Bug description

ws-manager leaks memory in some circumstances (e.g. in `us11`).

![image](https://user-images.githubusercontent.com/3210701/126286806-a5db912a-8b3b-46e1-b3b8-50968126fe58.png)

We must find out what causes this leak and fix it.

This has adversely affected users: https://github.com/gitpod-io/gitpod/issues/4872

### Steps to reproduce

wait long enough

### Expected behavior

s

[2021-07-20 08:21] csweichel commented on #4877
/schedule

[2021-07-20 08:30] fntlnz commented on #4805
/assign @fntlnz

[2021-07-20 09:04] fntlnz commented on #4805
C/C++ debugging is working as intended. Let's analyze the gdb output we have line by line.

[code]

User did not compile the program with debugging symbols (this is why it **seems** that debugging is not working)

[code]
It is indeed working!

[code]

This is normal and debugging can still work despite this, we don't allow disabling ASLR in Gitpod as it will be dangerous.

[code]
This is the proof

[2021-07-20 09:04] geropl opened #4879 "UX: Dead end when image-build fails during prebuild"
### Bug description

When an image build for a preview fails, the user is left on alone on a HeadlessLogView, without any error being displayed.

The gap here stems from the fact that the HeadlessLogView assumes we will navigate away from it on workspace start, [no matter the prebuild result](https://github.com/gitpod-io/gitpod/commit/3b89aac5d08b2d62c32293940e609e46f98b0cdb). But we'll only do so

[2021-07-20 09:16] fntlnz commented on #4805
To disable the warning write this line in `~/.gdbinit`

[code]

[2021-07-20 09:23] csweichel commented on #4805
/close

[2021-07-20 09:24] #4805 closed

[2021-07-20 09:29] #4755 closed

[2021-07-20 09:31] #4818 closed

[2021-07-20 10:49] fntlnz commented on #4851
Hi @RayBB , thanks for opening this issue!

From what I can see, in `docker-compose.override.yml` there is a volume for `solr-updater` that mounts the current working directory into `/openlibrary`

[code]

The problem is that `/openlibrary` is also the current working directory for that container but since the user id does not match you get a permission error while starting the container.

This ca

[2021-07-20 10:53] #4851 closed

[2021-07-20 11:00] j0nes2k commented on #4333
Hi @corneliusludmann , thank you for the update! I am not sure if the prebuilds are executed every time on my feature branches, however I am sure that on this one a prebuild was not working. Please let me know if you need more information!

Timestamp: Jul 20, 2021 9:21am GMT+0200
Commit SHA: a06f24d7ac1fac1505c4cff27ae7a352d4084ca4

[2021-07-20 11:36] #3284 closed

[2021-07-20 11:41] aledbf commented on #4877
@csweichel this seems related to Jaeger (again)

![Screenshot from 2021-07-20 07-40-24](https://user-images.githubusercontent.com/161571/126317989-0ff01214-59c0-46c0-a9f4-24c4116bd68d.png)

[2021-07-20 11:46] extrawurst commented on #4779
I am connecting to my workspace via SSH and I seem to have to a) keep my browser window open and b) visit it once every 30min for the workspace not to timeout - is this issue going to fix that? or should I open a new issue for this?

[2021-07-20 11:56] akosyakov commented on #4779
@extrawurst it is about fixing your issue

[2021-07-20 11:58] akosyakov commented on #4869
Please for 3rd party extensions like five server to preview local files, see discussions here also https://github.com/gitpod-io/gitpod/issues/3831

[2021-07-20 12:15] ghuntley commented on #4877
See also https://community.gitpod.io/t/is-gitpod-down/4210/3 for affected users.

[2021-07-20 12:25] corneliusludmann commented on #4563
/assign

[2021-07-20 12:55] pranavr2003 commented on #4869
JS isn't working on Five Server, for some reason.
However
[code]
is working, as expected. However can you please clarify how Side Browser works/what it works on, if not for opening regular HTML files?

Thanks.

[2021-07-20 14:06] pretentious7 opened #4881 "accessing shared workspaces fails with startWorkspace failed"
### Bug description
Error applying to gitpod.io hosted service.

Attempting to access shared workspace from another user in team gives this error:

`Request startWorkspace failed with message: No workspace with id '<redacted>' found.`

### Steps to reproduce

- Start a new workspace with some github repo
- share workspace using gitpod overall menu or vscode plugin
- error appears on click for othe

[2021-07-20 14:40] shaal commented on #4856
@geropl Do you know why image build takes so long? At least in my case, `.gitpod.Dockerfile` takes less than a minute to install

[2021-07-20 15:12] corneliusludmann commented on #4881
Hi @pretentious7,

Sorry for the inconvenience. Could you do me the favor and check if this still happens?

[2021-07-20 15:16] corneliusludmann commented on #4333
Hi @j0nes2k! That was indeed very helpful. I had a look in the logs and found the problem:

[code]

I currently check what I can do for you. Do your (pre)builds always took that long? Or was it a failed one (for some reason)?

[2021-07-20 15:31] corneliusludmann commented on #4874
Could you please have a look at the logs of your server pod? Anything noticeable?

[2021-07-20 15:33] corneliusludmann commented on #4881
Also: In which region do you use Gitpod (rather EU cluster or US cluster)? In which region has the workspace been shared?

[2021-07-20 15:38] #4710 closed

[2021-07-20 15:41] csweichel commented on #4436
/schedule

[2021-07-20 15:46] csweichel commented on #4879
/schedule

[2021-07-20 16:04] geropl commented on #4879
/cc @jankeromnes @gtsiolis

[2021-07-20 16:07] geropl commented on #4199
@svenefftinge The issue is rather old, and I personally never experienced it. Do you have any workspace ids/more context one could start investigating on?

[2021-07-20 16:34] orellabac commented on #3966
This will great. It will allow me to do some simple telemetry or housekeeping tasks!

[2021-07-20 17:17] pretentious7 commented on #4881
Seems to work now! was in the EU cluster.

[2021-07-20 17:17] #4881 closed

[2021-07-20 19:30] bmnave opened #4885 "Gitpod Self-Hosted shipped with agent-smith enabled"
### Bug description

The agent-smith daemonset fails in deployment of Gitpod 0.10.0-alpha1 on a Self Hosted K8S install.  The log contains the following error:

`{"@type":"type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent","error":"program bpf_sys_getrlimit_setrlrimit_x: load program: invalid argument","level":"fatal","message":"error while loading and attaching bp

[2021-07-20 19:43] davegi commented on #4805
Thanks. This all works great and is a good overview of how gdb/compiler interact WRT symbols, but given that this is _your_ sample, shouldn't this be explained in or near the **Debugging** section on this ([C++ in Gitpod](https://www.gitpod.io/docs/languages/cpp)) page?
Also, this doesn't help at all at getting the IDE Debugger working in Chrome.

[2021-07-20 20:20] csweichel commented on #4670
/schedule

[2021-07-20 20:21] csweichel commented on #4877
hopefully fixed in https://github.com/gitpod-io/gitpod/pull/4883

[2021-07-20 20:21] #4877 closed

[2021-07-20 23:00] IdealAppsCloud commented on #4885
The v0.10.0 deployment also fails because there is no agent-smith 0.10.0 tag in the registry. What else? Haven't checked yet.
![Zrzut ekranu 2021-07-21 o 00 55 20](https://user-images.githubusercontent.com/56419191/126405806-07ee0477-b8e6-4ac7-90d4-8cb0cb67a5e6.png)

[2021-07-20 23:22] bmnave commented on #4885
Yup. I noticed this as well which is why I’m still playing with the alpha1 release yesterday. 0.10.0 was only tagged today so I figured all of the release artifacts haven’t been pushed out yet. Comparing the alpha1 release against the final shows no changes. So they should be effectively the same once those images are pushed.

[2021-07-21 03:45] jefer94 opened #4886 "Gitpod break the behavior of pre-commit of Python"
### Bug description

[code]

[code]

### Steps to reproduce

Select a workspace with Django, install pipenv, install pre-commit, do anything that use pre-commit

### Expected behavior

That pre-commit run in Gitpod without modify the `.bashrc` also is common break the docker image if we trying to mount other `.bashrc`

### Example repository

_No response_

### Anything else?

Here is my solution

[2021-07-21 07:13] j0nes2k commented on #4333
Thanks @corneliusludmann for looking into this! This was due to errors during testing, normal prebuilds should not take any longer than 15 min max.

I will continue to monitor this and let you know if I encounter missing prebuilds again.

[2021-07-21 08:08] csweichel commented on #4296
/assign

[2021-07-21 08:30] csweichel commented on #4879
If the image build for a prebuild fails, the following options come to mind:
1. restart the workspace with default image and no prebuild:
  - pro: starts a workspace immediately
  - con: it's not very clear to the user what just happened. They end up in a workspace with an unexpected image and no prebuild
2. restart the workspace with no prebuild:
  - pro: starts a workspace immediately
  - con: i

[2021-07-21 08:44] csweichel commented on #4199
Considering this is hard to reproduce, we might want to collect some more data on this issue first (https://github.com/gitpod-io/gitpod/issues/4863). I'll remove this from groundwork for now and give #4863 higher priority.

[2021-07-21 08:45] csweichel commented on #4879
Let's clarify on how we want to do this, and then re-schedule (due to its priority it will end up at the top of the list anyways).
I'll remove this from groundwork until then.

[2021-07-21 08:51] csweichel commented on #4173
Thank you for pointing this out. Except for "in preparation" workspaces in other phases can be stopped (which is what we're doing, actually). It would seem that the deletion doesn't happen reliably afterwards though, i.e. the workspace is stopped but not necessarily deleted).

[2021-07-21 08:56] geropl commented on #4856
Hm, not sure. Maybe my hypothesis (long build) is wrong, but it was the only way I could reproduce the error case.

It _could_ be that there is another error within `image-builder`. Thinking about it I always tested EU, could be that this error manifested in US only. :thinking: Will try that instance with the contexts you shared. But if that's the case, it's likely to go away with the new `iamge-b

[2021-07-21 08:57] geropl commented on #4857
:+1:

[2021-07-21 09:00] csweichel commented on #4863
I'd propose we make use of [our new API](https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-protocol/src/gitpod-service.ts#L223) to track the following events from the frontend:
- `workspace_starting` which fires for every step the user sees
- `ide_open` which is sent by the Gitpod extension in VSCode once it's been loaded

We'd correlate/identify the string of events using a frontend

[2021-07-21 09:15] fntlnz opened #4889 "Run k3s natively in Gitpod"
Right now, to run k3s in Gitpod the only viable option is to use emulation to create a VM as showed here https://github.com/fntlnz/gitpod-k3s.

I did some analysis of why, even if we are able to run Docker, k3s still does not work.

There are a couple of errors to solve

### Error 1 Snapshotter (:heavy_check_mark: )

[code]

Solution:

This is already solved, we can use `--snapshotter=fuse-overlay

[2021-07-21 09:20] corneliusludmann commented on #4885
Thanks for reporting.

1. The tagging of the `0.10.0` images went wrong for some reason. I'm investigating this currently. However, nothing has changed between `0.10.0-alpha1` and `0.10.0`. Therefore, you can safely use these images.
2. @fntlnz: Could you have a look regarding the agent-smith problem? I'm not able to reproduce this in my k3s cluster.

[2021-07-21 09:22] fntlnz commented on #4885
Thanks for bringing this to my attention @corneliusludmann - IIRC Agent smith should not be deployed by default or even required in self hosted clusters -  @csweichel do I remember correctly?

[2021-07-21 09:23] csweichel opened #4890 "Update MySQL to 8.0"
We're still running on MySQL 5.7 which is rather slow on some schema modifications - something [that MySQL 8 does much better](https://mysqlserverteam.com/mysql-8-0-innodb-now-supports-instant-add-column/).

## Steps forward
1. Analyse [the upgrade guide](https://dev.mysql.com/doc/refman/8.0/en/upgrading-from-previous-series.html) to make sure we're not relying on defaults that have changed
2. upd

[2021-07-21 09:23] csweichel commented on #4890
/schedule

[2021-07-21 09:26] corneliusludmann commented on #4885
Currently, it will be deployed for self-hosted as well.

https://github.com/gitpod-io/gitpod/blob/035fa4e1f107d2d73e250e8a853e1923aa9b313b/chart/values.yaml#L139-L144

One can set `disabled: true` here to disable agent-smith. Gitpod should work without as well. Probably this should the default for self-hosted?

[2021-07-21 11:22] csweichel commented on #4889
/schedule

[2021-07-21 11:47] geropl commented on #4879
Regarding 2:

This is exactly what happened in the incident where this was discovered. So no viable option IMO.

Regarding 3: Given the above "Skip Prebuild and use Default Image" feels like the only non-magic option that helps the user.

Another option:

   4. show a button "Open Docker Editor" bringing the user into the fast-feedback-loop we're implementing for the onboarding flow to fix this is

[2021-07-21 11:55] geropl commented on #4863
I propose we frame it slightly different: Instead of reporting `frontend-workspace-{{phase}}` (which - to me - implies we'd fill it from the wsi events we see in the frontend) I'd argue we are better off using "views rendered" as primary identifier (adding the workspace phase as meta data of course). The difference is the one of perspective: I'm more interested in the sequence (and the timings) of

[2021-07-21 12:03] geropl opened #4892 "[leeway] `with-retag` does not re-tag a package if nothing changed (e.g., not even `version`)"
### Bug description

`leeway` does not re-tag docker images if:
 - the package is already cached
 - the `version` does not change

This makes it hard to publish Gitpod releases because one has to artificially invalidate the cache (by using `no-cache`, for instance).

### Steps to reproduce

 1. run a full build on a commit
 1. run the build again on the same commit and with the same version and `w

[2021-07-21 12:37] geropl opened #4893 "Transparently re-try image builds if one fails with error code "INTERNAL""
During image builds we often experience short-lived situations where we starve for resource, e.g. disk space. For this reason we designed the system to be idempotent so we can re-start with confidence.

We don't do so, however. This should be as simple as adding a re-try loop with backoff.

This would catch issues like this: https://community.gitpod.io/t/error-build-failed-when-trying-to-build-a-d

[2021-07-21 13:20] Pawluq opened #4894 "Init command beeing run when opening snapshot"
### Bug description

When sharing a snapshot the init command in the start task “prepare webserver” is beeing run when opening it. According to the doc I think this shouldn’t be? The init command in the start task “setup” isn’t run as expected.

.gitpod.yml:
[code]

init_gitpod.sh
[code]

### Steps to reproduce

-

### Expected behavior

The init command is only run when creating the workspace as

[2021-07-21 13:33] fntlnz commented on #4889
I think we have two roads for this.

Make the process dumpable (better than making dumpable system wide `echo 1 > /proc/sys/fs/suid_dumpable`

[code]

Not sure about the security implications of this just yet

OR

Maybe it's a crazy and wrong idea but what if we  use our  seccomp notify mechanism to pass an unprivileged file handle and return that instead of the actual one in the proc filesystem?

[2021-07-21 13:37] csweichel commented on #4889
Probably a stupid question, but would that require `SECCOMP_NOTIFY_IOCTL_ADDFD`?

[2021-07-21 13:38] jakobhero commented on #4863
I mostly agree with your suggestion @csweichel , but I am also liking @geropl 's idea of a `views_rendered` event that contains the rendered view as properties for a slightly different reason: each event will result in a distinct table in the warehouse, so imo it is a good practice to unite tracking calls that 1) are thematically similar and 2) contain the same properties under the same event name

[2021-07-21 13:50] bmnave commented on #4885
@corneliusludmann

Confirmed that adding the following to my values.yaml file disables `agent-smith`:

[code]

Thanks!

[2021-07-21 14:10] leodido commented on #4889
Yup! [This code in the Kernel](https://kubernetes.slack.com/archives/DEBBADJRJ/p1626873057058500) **could** be the reason why that `write` fails.

First attempt would be to play with the sysctl knob (`/proc/sys/fs/suid_dumpable` at the moment is set to `2`).

[2021-07-21 14:21] corneliusludmann commented on #4563
I'm not able to reproduce this.

What I tried:

1. I started GitLab in a Gitpod repo. → https://gitpod.io/#https://gitlab.com/gitlab-org/gitlab
2. I patched GitLab because it uses `localhost` for the clone URL which obviously does not work when connecting to Gitpod (use `gp url 3000` as URL):
[code]
3. Make port 3000 public.
4. Connect this GitLab installation to Gitpod (Settings → Integration). I

[2021-07-21 14:21] #4563 closed

[2021-07-21 14:51] corneliusludmann commented on #4815
#4890 should be done first.

[2021-07-21 14:53] carldebilly commented on #3583
It's workign again.  You can close the issue.

[2021-07-21 15:00] #2977 closed

[2021-07-21 15:04] AlexTugarev commented on #4563
https://github.com/gitpod-io/gitpod/issues/4563#issuecomment-884229493 impressive!

[2021-07-21 16:32] leodido commented on #4889
A quick update on the progress made by me, @fntlnz, and @csweichel

<img width="1211" alt="image" src="https://user-images.githubusercontent.com/120051/126525075-155ce155-2074-4af7-8925-d49634b60d94.png">

Then inspecting with `strace`:

[code]

Creating `/dev/kmsg` (in the host) made us progress further.

The next error is about permissions on `/root/.rancher/...`. Specifying a directory (or play

[2021-07-21 18:25] liammcluckie opened #4896 "Current Gitpod workspace not loading fully"
### Bug description

If I try to open a recent gitpod workspace specifically my cook-house one it doesn't fully load. By this I mean it doesn't display any of the usual items on the bottom bar including branches, push, pull etc. If I try to run my local server this also doesn't work correctly, everything in my terminal displays as it should but the Gitpod pop up with the server link never displays

[2021-07-21 20:17] csweichel commented on #4892
I'd argue that we get rid of "with-retag" altogether. It potentially breaks future deployments and really feels like a remanent from the past. It would strike me though that I'm missing a use-case where it's still needed.

What are you using with-retag for?

[2021-07-21 20:18] csweichel commented on #4893
/schedule

[2021-07-21 20:20] csweichel commented on #4894
Thank you for the detailed description.
I reckon this is a duplicate of https://github.com/gitpod-io/gitpod/issues/4838 though.

We'll raise the priority of #4838 accordinly

[2021-07-21 20:35] csweichel commented on #4863
We could do both (if that doesn't impose too much traffic on segment). My main concern with tying this to the views is that the data will change if the views change.

Note also, that much like with the segment data we're producing from bridge, we do not have events here. We have a number of status updates that come in which do not necessarily indicate change. That said, I'd reckon that from a fron

[2021-07-21 21:36] AmalDjibo opened #4898 "Responsive preview"
I thnk GItpod would be 100x better if it had a responsive preview feature where you could pick whether the preview window match the pixel width/height of a phone, iPad, or desktop screen.

[2021-07-22 00:19] shaal opened #4899 "Unexpected image rebuilds"
### Bug description

This is something I see randomly, and I don't know where can I find any additional information about it.

Sometimes, when I open an existing gitpod-supported repo, I might see this screen below (`Building Image`)

I'm surprised to see it because I did not make any recent change in `.gitpod.yml` or in the custom image of the project.
![image](https://user-images.githubuserconte

[2021-07-22 03:50] alesanchezr commented on #4898
All major browsers do that pretty well, here is the documentation for chrome:
https://developer.chrome.com/docs/devtools/device-mode/

[2021-07-22 03:58] ghuntley commented on #4898
🎯 exact @alesanchezr. In your `.gitpod.yml` configure your webserver to `open-browser` (https://www.gitpod.io/docs/references/gitpod-yml/#portsnonopen) then use https://developer.chrome.com/docs/devtools/device-mode/

[2021-07-22 04:00] #3583 closed

[2021-07-22 04:36] rfay opened #4902 ""no space left on device" (docker-root) during gitpod initialization"
### Bug description

Running https://gitpod.io/#https://github.com/drud/ddev/pull/3103

During initialization I got:

b7750a8a910a: Download complete
write /workspace/.docker-root/tmp/GetImageBlob039063700: no space left on device
Failed to start simpleproj: exit status 1

while it was downloading images.

### Steps to reproduce

I expect you'll see this on https://gitpod.io/#https://github.com/dr

[2021-07-22 04:40] rfay commented on #4902
[code]

[2021-07-22 04:47] rfay commented on #4902
I guess this is a system allocation problem, because creating a new workspace from scratch everything worked fine, and

[code]

[2021-07-22 04:59] shaal commented on #4600
Extension Marketplace is not accessible in Gitpod again.

https://www.open-vsx.org screenshot:
![image](https://user-images.githubusercontent.com/22901/126591748-299db26c-3ef7-429b-82d0-786ef6bd64ae.png)

[2021-07-22 05:37] csweichel commented on #4838
/assign

[2021-07-22 05:37] shaal commented on #4856
I updated the `.gitpod.Dockerfile`, and then checked this URL
https://gitpod.io/#https://github.com/shaal/DrupalPod/blob/debug-with-tmate/.gitpod/.gitpod.Dockerfile

It still looks like the prebuild is stuck. I am assuming that's expected, because the fix will be done through the follow-up issues?

[2021-07-22 05:54] princerachit commented on #4902
Hi,
We found that one of the nodes (where your ws was scheduled) had very high disk usage which caused this error. We have fixed the issue.

[2021-07-22 06:39] csweichel commented on #4894
/schedule

[2021-07-22 06:46] csweichel commented on #4838
@jmcelreavey I'm afraid I cannot re-produce the issue. The repository you linked behaves as intended: the init task gets run during the prebuild, and is not re-executed when the workspace starts.

Note: we modify the terminal history to make it look like the task just ran. You can tell that the command ran as part of the prebuild because the log output appears before

[code]

To make sure this beh

[2021-07-22 07:08] csweichel commented on #4838
@faisal-m16 Unfortunately prebuilds don't give a whole lot of feedback when the `.gitpod.yml` has validation errors, which is what I suspect is the case here. We've recently added some functionality that provides feedback regarding the .gitpod.yml when opening the workspace. Please check if you see any validation errors when opening the workspace regularly.

[2021-07-22 07:17] svenefftinge opened #4904 "Bridge open-vsx outages"
Open-vsx.org has had too many outages in the past and it breaks all users when it's down.
In order to minimize the impact, we should add some sort of cache which we can use when open-vsx is not responsive.

I think https://github.com/gitpod-io/gitpod/pull/3677#issuecomment-884702943 could be revived.

[2021-07-22 07:20] csweichel commented on #4894
I'm afraid that's an error in the documentation. At the moment when starting a workspace from a snapshot, the `init` tasks are executed. It's odd that the `init` command _setup_ isn't.

We now have two ways forward:
1. update the documentation to reflect current behaviour
2. make workspaces started from snapshot behave like they're re-started workspaces (breaking change)

@svenefftinge wdyt?

[2021-07-22 07:20] csweichel commented on #4904
/schedule

[2021-07-22 07:22] svenefftinge commented on #4894
I consider the current state a bug, so I'm all for

[2021-07-22 07:22] csweichel commented on #4889
/assign @fntlnz

[2021-07-22 07:23] csweichel commented on #4894
/assign

[2021-07-22 07:31] #4902 closed

[2021-07-22 07:38] csweichel commented on #4904
/assign @corneliusludmann

[2021-07-22 07:56] #4894 closed

[2021-07-22 08:23] csweichel commented on #4899
Indeed the current mode is not ideal. Those unexpected image builds happen whenever
1. the underlying image changes, e.g. with a `.gitpod.yml` like
[code]
2. the gitpod layer changes which is part of a system update.

The best move would be to get rid of the gitpod layer altogether. With the advent of root in the workspace, we might have a path where we no longer need to defer privileged operation

[2021-07-22 08:24] csweichel commented on #4899
/schedule

[2021-07-22 08:42] csweichel commented on #4863
/assign

[2021-07-22 08:48] corneliusludmann commented on #4896
I think it's due to the outage of open-vsx.org. See:

- https://www.gitpodstatus.com/incidents/4lm081417v7h
- https://www.eclipsestatus.io/incidents/yd3qyk7g0xj3

Since it's solved, could you please check if it works again, @liammcluckie?

[2021-07-22 09:31] princerachit opened #4906 "Treat stopping workspaces as not-running"
### Bug description

When I have some workspaces in `Stopping` phase. They are still being counted as running and I get the error message that I have reached my limit of running parallel workspaces.

### Steps to reproduce

Start X workspaces matching your accounts parallel ws limit.
Stop them all.
Try starting a new ws when the older ones are still in stopping phase.

### Expected behavior

New w

[2021-07-22 09:32] princerachit commented on #4906
![image](https://user-images.githubusercontent.com/32481722/126618230-a2ad7453-df49-4c6a-8c17-61fbe2f95115.png)

[2021-07-22 09:46] jankeromnes opened #4908 "Prebuild logs are no longer being shown"
### Bug description

When starting a manual prebuild, we used to get headless logs displayed.

However, since recently this is no longer the case.

### Steps to reproduce

1. Start a manual prebuild for some repository, using the URL prefix `gitpod.io/#prebuild/`
2. No logs are displayed

Instead, the browser console shows errors like these in a loop:

[code]

<img width="1440" alt="Screenshot 202

[2021-07-22 09:48] csweichel commented on #4893
We can implement this behaviour for image-builder-mk3 easily, but mk2 makes no distinction between system failure and "user input errors".

I'd propose we take on this task once #4812 is done.

(removing from groundwork right now - please re-add once mk3 is merged)

[2021-07-22 09:48] csweichel commented on #4906
/schedule

[2021-07-22 09:49] csweichel commented on #4906
/assign

[2021-07-22 09:51] svenefftinge commented on #4908
/schedule

[2021-07-22 09:51] roboquat commented on #4908
@svenefftinge: We have more than 19 cards scheduled. Above 15 only scheduler can perform this action. Those are:
  - csweichel
  - JanKoehnlein

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/4908#issuecomment-884787892):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If y

[2021-07-22 09:52] csweichel commented on #4908
/schedule

[2021-07-22 10:19] #4906 closed

[2021-07-22 10:22] jankeromnes commented on #4908
Interestingly, https://gitpod.io/#prebuild/https://gitlab.com/gitpod/spring-petclinic **does** show prebuild logs in prod:

[code]

[2021-07-22 10:22] #3204 closed

[2021-07-22 10:22] #2808 closed

[2021-07-22 10:22] #3894 closed

[2021-07-22 10:32] akosyakov commented on #4904
I wonder how we test it, the issue was that VS Code is calling query endpoint to resolve extensions' URLs. Is this endpoint changeable at all? If not caching artifacts does not help.

[2021-07-22 10:38] ghuntley commented on #4908
Dupe of https://github.com/gitpod-io/gitpod/issues/4856#issuecomment-882209321

[2021-07-22 10:39] corneliusludmann commented on #4904
Don't know if I understand you right, @akosyakov. Actually, we don't want to cache artifacts (the actual extensions) at all but the queries to the registry. I implemented a caching for the query [here](https://github.com/gitpod-io/gitpod/pull/3677) already (for nginx, need to port this to Caddy). That worked pretty well.

[2021-07-22 10:48] akosyakov commented on #4904
That sounds good

[2021-07-22 10:50] csweichel commented on #4908
Closing this issue for now. Let's revisit when it re-occurs. Also, we're looking at prebuilds and their logs in #4856

[2021-07-22 10:50] #4908 closed

[2021-07-22 10:55] sgurlt commented on #4794
@pawlean Could you frame me a timeline when this is going to be fixed?

[2021-07-22 10:58] #4648 closed

[2021-07-22 11:41] csweichel opened #4911 "Remove old headless log remnants"
We still have some leftovers from the the old headless log infrastructure in place, e.g. in the ws-manager protocol, or bride when we transfer the log output to messagebus.

We should remove those old code paths.

[2021-07-22 11:42] csweichel commented on #4911
/assign

[2021-07-22 11:42] csweichel commented on #4911
/schedule

[2021-07-22 11:42] csweichel commented on #4911
/assigned

[2021-07-22 11:43] csweichel commented on #4911
/assign

[2021-07-22 14:32] #4812 closed

[2021-07-22 15:47] csweichel commented on #4892
Removing from groundwork right now - we'll re-add once it's clear what we need to do here.

[2021-07-22 16:48] tommygonzaleza opened #4914 "Gitpod is not letting me push my changes to github"
### Bug description

When I try to push my changes to github it fails.
![image](https://user-images.githubusercontent.com/56565994/126677180-4dcf96b4-5ee2-4a1f-98c8-66b6157875f3.png)
![image](https://user-images.githubusercontent.com/56565994/126677201-825b07ae-7d3f-4241-bb9a-a2113241b32b.png)

### Steps to reproduce

git add .
git commit -m "Any message"
git push

### Expected behavior

_No respo

[2021-07-22 18:07] jrdzha commented on #4914
Just to chime in here -- we are experiencing the same issue.

Running `git fsck` prints 100's of "missing blob".

However, when we remove the `.gitpod.yml`, so we use the default Gitpod image, then this issue goes away. This is only an issue when using a custom image.

[2021-07-22 18:33] jrdzha commented on #4914
For what it's worth, using a custom image, and then removing the workspace and cloning it manually solves this issue:

[code]

[2021-07-22 18:59] jrdzha commented on #4914
Changing our docker image to use `FROM gitpod/workspace-base:latest` fixed this issue for us. This may not be a good solution for many, but worked for us.

[2021-07-22 20:17] ArthurSens commented on #4914
Hey!

I'm trying to reproduce it somehow and I still couldn't do it. Do you have a repository that we could use as an example to reproduce this problem?

[2021-07-22 21:40] tommygonzaleza commented on #4914
https://github.com/LeonErasmusCh/jest-unit-test

[2021-07-22 21:57] ArthurSens commented on #4914
Hmmm, I noticed that this repository is completely empty. So it doesn't have a `.gitpod.yml` file nor a base image to create the workspace.

I tried creating an empty repository: https://github.com/ArthurSens/empty-repository and then opened a workspace from it and pushed some changes.

It worked just fine:
![image](https://user-images.githubusercontent.com/24193764/126714543-01e6ccaa-0bf1-4380-97

[2021-07-22 22:26] markfirmware commented on #4052
No this is not stale

[2021-07-23 01:47] pacopeng commented on #4874
@corneliusludmann , Thanks for you reminder , Here I paste the logs form server pod .
#########
{"@type":"type.googleapis.com/google.devtools.clouderrorreporting.v1beta1.ReportedErrorEvent","serviceContext":{"service":"server","version":"0.9.0"},"component":"server","severity":"ERROR","time":"2021-07-23T01:45:11.800Z","environment":"production","region":"local","message":"Error in fetching samplin

[2021-07-23 01:53] akosyakov commented on #4914
@jrdzha Which version of git do you use? What `git --version` prints?

[2021-07-23 02:37] akosyakov commented on #4052
What instruction do you follow to install xrdp? I wonder whether systemd is mandatory.

btw with [the local companion](https://www.gitpod.io/blog/local-app), one should be able to forward X11 over SSH. Wonder how does it feel compare to vnc.

[2021-07-23 02:47] akosyakov commented on #4869
@pranavr2003 The preview is an iframe which loads something from given source. Since your file belong to remote workspace in Gitpod, they are not accessible via localhost and you have to expose them. Five Server should do it for you by starting a file server, lama does the same.

Could you comment on #3831 and ping the author with steps to reproduce?

[2021-07-23 02:53] akosyakov commented on #4199
Ideally we need error logs from devtools. We used to collect frontend logs, maybe we can reintroduce it at least for error logs or using https://developer.mozilla.org/en-US/docs/Web/API/GlobalEventHandlers/onerror

[2021-07-23 03:01] akosyakov commented on #3127
@jyotsnaSharma10 Could you create a new issue please? Could you share workspace id, thanks.

[2021-07-23 05:08] #4838 closed

[2021-07-23 06:06] akosyakov commented on #4081
I think it affects first time users a lot, since they don't know that they have to grant access to GHPR extension.

[2021-07-23 06:14] RayBB commented on #4851
@csweichel btw just wanted to say this is fantastic info. Thanks for helping figure that out. Hope to add gitpods to Open Library soon!

[2021-07-23 06:15] akosyakov commented on #4805
Do you mean that it does not work from launch configuration created from VS Code? Which extension do you use? @fntlnz did you try to debug using VS Code debug view somehow or only from terminal?

[2021-07-23 06:20] akosyakov commented on #4199
Another alternative is to persist supervisor window logs in indexed db similar how VS Code persist and ask user to provide them later for failed worspace.

[2021-07-23 06:31] jrdzha commented on #4914
@akosyakov I'm using the `python:3.6` image, and `git --version` is printing out `git version 2.20.1`.

[2021-07-23 06:32] akosyakov commented on #4914
@jrdzha Could you try to upgrade to latest git and see whether issue persists? We switched to partial clone to speed up workspace startup, maybe it broken older git versions.

[2021-07-23 07:06] akosyakov commented on #4779
@extrawurst Could you clarify please what for you are using SSH?

[2021-07-23 07:08] extrawurst commented on #4779
using it to connect my local vscode to my gitpod workspace (#4780)

[2021-07-23 07:50] #4626 closed

[2021-07-23 08:14] liammcluckie commented on #4896
Hi, everything seems to be working fine now. Thanks for getting back to me!

[2021-07-23 08:14] #4896 closed

[2021-07-23 08:16] jankeromnes commented on #4420
Hello @gtsiolis 👋 😁 I wonder -- isn't this already implemented?

[2021-07-23 08:16] jankeromnes commented on #4622
Giving this a go 🖌️

[2021-07-23 08:22] gtsiolis commented on #4420
Hey @jankeromnes! The barebones are in place but we're still missing some design details like proper colors and spacing, hover states, prebuilds or branches information on the cards. Some of these also probably depend on the work in https://github.com/gitpod-io/gitpod/pull/4876. See also [relevant section](https://www.notion.so/gitpod/Teams-and-Projects-v0-2-30f5705202ac40cb884f7b428e08e381#7e7bd9

[2021-07-23 08:53] pawlean commented on #4853
Hey there @Kaushik-Kalesh! I've not been able to replicate this issue on my end, and I followed your steps to reproduce with no luck. I was wondering if it's a one-off. Are you still getting this issue?

[2021-07-23 08:57] jankeromnes commented on #4420
Aha, thanks! I was just wondering if this was still current.

No strong opinion, but I think it'd be good to have a precise checklist of what's still left to do.

If useful, I can start one based on your reply -- TODO:

- [x] barebones are in place
- [ ] align colors and spacing with spec
- [ ] implement hover states
- [ ] finalize prebuilds/branches information on the cards

[2021-07-23 09:00] fntlnz commented on #4805
@akosyakov  I didn't try any extension, I just made sure that gdb worked from the command line. Since extensions use gdbserver I thought this was enough.

Looks like [Native Debug](https://open-vsx.org/extension/webfreak/debug) is the only extension in open-vsx that can do that.

[2021-07-23 09:01] fntlnz commented on #4805
How to use it is described in the gitpod docs https://www.gitpod.io/docs/languages/cpp#debugging - so, compiling with `-g` and using that extension should work for you. Can you confirm @davegi ?

[2021-07-23 09:04] akosyakov opened #4918 "upgrade to VS Code 1.59.x"
https://github.com/microsoft/vscode/issues/128444
https://www.notion.so/gitpod/Gitpod-VS-Code-Upgrade-1aa1dfcfdc5147869ec5ffcf86f430a6

[2021-07-23 09:43] leodido opened #4919 "Proposal: Automating the generation of the engineering changelog"
As we plan to deploy more frequently, I think that automating the generation of the engineering changelog is a way to reduce the burden of the collateral details the development process has.

## Goal

Automate the generation of the engineering [CHANGELOG](https://github.com/gitpod-io/gitpod/blob/main/CHANGELOG.md) such that:

- Every PR gets associated with a set of **user-facing** changes
- Every

[2021-07-23 10:55] JohannesLandgraf commented on #4919
Nice 👍 Given that we deploy 2 times a week. In line with https://link.medium.com/qPXV6cqK7hb I think we should have at least a bi-weekly, potentially even weekly Changelog cadence.

[2021-07-23 11:23] svenefftinge opened #4920 "[Dashboard] Allow Projects for Individuals"
We should allow projects below individual accounts as well.
 - Individuals might feel squeezed into the concept of a team
 - will make teams and individuals more alike and therefore easier to grasp

### Designs
| BEFORE | AFTER |
|-|-|
| <img width="1000" alt="Personal Account - BEFORE" src="https://user-images.githubusercontent.com/120486/126787803-a400bd71-31f2-4699-afb3-b59bb2c7b29b.png"> | <im

[2021-07-23 11:28] svenefftinge opened #4921 "[dashboard] Have Workspaces below teams as well"
Workspaces should be associated with an account (individual or team) and shown in a list below that instead of a global list.
 - shows clearly where a workspace belongs (and how it gets billed)
 - aligns individual account and teams in structure

Workspaces that belong to a project of a team or my account will automatically count to that. Other (unassociated) workspaces will belong to what is set

[2021-07-23 11:40] csweichel commented on #4899
/assign

[2021-07-23 12:36] #3931 closed

[2021-07-23 12:47] AlexTugarev commented on #4622
@jankeromnes please base on https://github.com/gitpod-io/gitpod/pull/4876 🙏🏻  as I already added some changes to the menu structure.

[2021-07-23 12:48] ArthurSens commented on #4296
This change was deployed yesterday and, unfortunately, [the burn rate for Gitlab logins](https://grafana.gitpod.io/d/login-slo/gitpod-slos-login?orgId=1&refresh=1m&from=now-24h&to=now) is still very high.

![image](https://user-images.githubusercontent.com/24193764/126783562-3c312d16-76b8-403d-89bb-2ef2055ae3ae.png)

Should this Issue be reopened and re-added to Groundwork?

[2021-07-23 12:48] meysholdt opened #4922 "Can't connect to public port from inside workspace when cluster is using cilium networking"
### Bug description

From inside a workspace, one can usually `curl` the URL of a publicly exposed port. This does not work when the cluster is using cilium networking.

Connecting to the exposed port from the outside (e.g. the browser) works just fine.

### Steps to reproduce

hi Sebastian,

I can reproduce the problem.
1. open https://gitpod.io/#https://github.com/gitpod-io/spring-petclinic
2. e

[2021-07-23 12:57] jankeromnes commented on #4622
@AlexTugarev makes sense, thanks! I [agree](https://github.com/gitpod-io/gitpod/pull/4917#issue-695758804) 😁

[2021-07-23 13:02] meysholdt commented on #4922
I've cordoned the clusters eu12 and us12, so as a user you should no longer run into the bug. If your workspace is still running on an affected cluster, restarting it will move it back to non-affected clusters.

[2021-07-23 14:54] csweichel commented on #4919
I love the gratuitous use of automation in this proposal, especially when it comes to enforcing convention. A few comments:
- Do I understand this correctly that we would not be imposing a convention on the commit messages themselves, but would rather follow the "conventional commit message" format for describing the changes in the changelog?
- Regarding cadence: to me it would make most sense to

[2021-07-23 15:02] tommygonzaleza commented on #4914
I found out that the error is happening when you change the remote repository, can you try to replicate it?

[2021-07-23 16:51] alesanchezr commented on #4914
Yeah I can confirm that it happens in all my workspaces when I change the remote.

[2021-07-23 17:12] davegi commented on #4805
I'm sorry, I can't confirm. I've been playing w/this for a couple of hours, but I am not well-versed in the Linux toolchain, nor in how to get it to interact w/VS Code. What I am after is the ability to use your IDE to build and debug a multi-file (.c/.h) _hello world_ application. It shouldn't be this hard😎.
Starting w/your HelloGitPod sample:
- I can build w/cmake/make but how is this done w/the

[2021-07-23 17:56] #3883 closed

[2021-07-23 18:17] shaal opened #4924 "`gp await` doesn't work correctly when port is private"
### Bug description

While testing https://twitter.com/gtsiolis/status/1417927681946103821?s=20
(https://gitpod.io/#https://gitlab.com/gitpod-io/gitlab/)

I was seeing this message in terminal, and it took forever
[code]

Changing port 3000 from private to public - fixes it right away.

### Steps to reproduce

1. Open https://gitpod.io/#https://gitlab.com/gitpod-io/gitlab/
1. Wait for this kind of

[2021-07-23 18:29] shaal opened #4925 "Gitpod prebuild is not running when PR created"
### Bug description

After configuring Gitpod Bot to run on all repositories
![image](https://user-images.githubusercontent.com/22901/126824799-9ebd110d-38f4-465f-ba1c-8c2790edb356.png)

I added the `prebuild` section to `.gitpod.yml`
https://github.com/shaal/DrupalPod/blob/main/.gitpod.yml#L61

I created a PR https://github.com/shaal/DrupalPod/pull/24

I see this comment in the PR
![image](https:

[2021-07-24 09:25] #4872 closed

[2021-07-24 09:28] #165 closed

[2021-07-24 09:40] ghuntley commented on #3814
@devilankur18 could you please upgrade to v0.10.0 and report back?

ps. https://github.com/gitpod-io/gitpod-eks-guide :)

[2021-07-24 11:56] csweichel opened #4928 "[ws-daemon] Ensure we're respecting the `gcloud.tmpdir` when creating backups"
### Bug description

We seem to be creating the backup tars on the container `tmp` directory:
![image](https://user-images.githubusercontent.com/3210701/126867641-f74cd1dd-4588-4c68-a9ae-3bc790ccb717.png)

Also, we're not configuring the `sync-tmp` volume to use `ssd1` (@meysholdt)

### Steps to reproduce

Run in prod

### Expected behavior

We should respect the configured tmpdir

### Example rep

[2021-07-24 11:56] csweichel commented on #4928
/schedule

[2021-07-24 12:33] aledbf opened #4929 "[image-builder] (mk3) - the name of the bucket cannot be repeated (S3)"
### Bug description

The name of the bucket is `gitpod-user-image-builder`.

### Steps to reproduce

Build an image and check the name of the bucket

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-24 13:09] meysholdt commented on #4928
That is both fixed by https://github.com/gitpod-com/gitpod/pull/5691, isn't it?

[2021-07-24 13:50] csweichel commented on #4928
It is indeed. We should as a follow up ensure we always have valid configuration, ie make extra fields an error.

I'll modify this issue to reflect that.

[2021-07-24 13:51] csweichel commented on #4929
/schedule

[2021-07-24 16:00] #3310 closed

[2021-07-24 18:11] csweichel opened #4931 "[daemon] Provide heartbeat and warning if daemon goes away"
If ws-daemon is removed from a node, all workspace content is in danger. We should add a (e.g. heartbeating based mechanism through IWS) that warns users when this is the case.

[2021-07-25 10:11] csweichel opened #4933 "[ws-daemon] Prevent daemon from ever being evicted from a node"
ws-daemon is absolutely critical to Gitpod's operation and it must never be removed from a node.
We must find ways to prevent ws-daemon from ever being evicted or removed.

[2021-07-25 10:16] csweichel commented on #4933
/schedule

[2021-07-25 10:17] #3960 closed

[2021-07-25 18:47] mikenikles opened #4935 "Terminal does not open in the correct `workspaceLocation `"
### Bug description

When I set a `workspaceLocation` in my `.gitpod.yml` file, I expect the terminal to open in that directory. Currently, it opens in the `checkoutLocation` I specified.

### Steps to reproduce

1. Create the following `.gitpod.yml` file:
[code]
2. Open a new workspace based on that configuration

### Expected behavior

The terminal opens in the default `/workspace` directory sin

[2021-07-25 19:30] shaal opened #4936 "Prebuild got stuck, now workspace doesn't open"
### Bug description

I updated `.gitpod.yml`, which triggered a prebuild.
All the `init` tasks ran successfully, but this screen kept showing this for hours.
![image](https://user-images.githubusercontent.com/22901/126910678-ac1b2431-9422-466d-8a63-6457ab6edf15.png)

Trying to open the workspace (https://github.com/shaal/druxt.js/tree/gitpod), displays this error -
![image](https://user-images.git

[2021-07-25 20:36] csweichel opened #4937 "[ws-manager] Properly stop workspaces that time out during backup"
### Bug description

Right now when a workspace times out during backup it remains "stuck in terminating" because we don't set the disposal status annotation, and hence don't remove the finalizer.

### Steps to reproduce

Have the workspace time out in backup, e.g. due to a ws-daemon failure.

### Expected behavior

The workspace should stop properly.

### Example repository

_No response_

### An

[2021-07-25 20:37] csweichel commented on #4937
/schedule

[2021-07-25 20:41] csweichel opened #4938 "Support per-workspace disk space quota"
Workspaces don't have an enforced disk space quota right now. We have had two attempts at implementing this in the past:
1. mounting a disk image using the loopback device: was rather cumbersome and had difficult to manage failure modes that lead to data loss
2. ext4 quota: are not enforceable, but only tally up the used disk space

One possible way forward would be to add XFS quota support to ws-

[2021-07-25 20:43] csweichel opened #4939 "[ws-daemon] Too large backups are not deleted from the tmpdir"
### Bug description

When ws-daemon produces a backup and that backup exceeds a configurable size, the file is not uploaded to the remote storage. At the same time the file is not removed from the node, potentially adversely affecting the operations of the node.

We should remove such large backups, or better yet, don't produce them in the first place.

### Steps to reproduce

Create a workspace t

[2021-07-25 20:47] csweichel opened #4940 "[ws-daemon] Don't accept configuration with unknown fields"
As such configuration is most likely erroneous and will lead to system failure down the road. E.g. this was the root cause of the latest incident whereby ws-daemon was misconfigured which eventually lead to its eviction.

[2021-07-25 20:56] csweichel commented on #4940
/schedule

[2021-07-25 21:05] csweichel commented on #4939
/schedule

[2021-07-25 21:21] ArthurSens commented on #4940
Regarding misconfigured files. I highly recommend the use of CUE, where you can define a schema to your config and easily test it via CI with a single command `cue vet file.config schema.cue`

See also:
*  https://cuelang.org/docs/usecases/datadef/
* https://cuelang.org/docs/usecases/validation/

[2021-07-25 21:25] csweichel commented on #4940
Cue does sound rather interesting, but also dauntingly complex. Most of our configuration is generated using helm with a staggering number of degrees of freedom (another problem we must tackle). We'll always need runtime config validation.

[2021-07-25 21:28] #4939 closed

[2021-07-25 22:39] daronhudson commented on #4859
Hello? Is there anyone that can help with this? I've been dealing with this for over a week now and I've gone through multiple installations with no success so far. This is getting very frustrating.

[2021-07-26 01:48] akosyakov commented on #4935
Is it expected? Is it regression? cc @svenefftinge

[2021-07-26 01:53] akosyakov commented on #4064
It seems to be the issue with the image which you use. Please try https://computingforgeeks.com/how-to-fix-get-comp-words-by-ref-command-not-found/

[2021-07-26 01:56] akosyakov commented on #4914
I tried and could not reproduce with https://github.com/gitpod-io/vscode. I did:
[code]

Could someone provide an example repo and commands to reproduce?

[2021-07-26 02:34] akosyakov commented on #4924
Can it be related to https://github.com/gitpod-io/gitpod/issues/4922?

[2021-07-26 06:09] AlexTugarev commented on #4296
@ArthurSens and @csweichel, it's a one-line fix: https://github.com/gitpod-io/gitpod/pull/4944

[2021-07-26 06:12] pattacini commented on #4064
Thanks a lot @akosyakov.
Fixed via https://github.com/icub-tech-iit/documentation/commit/adf5e583eebe02362e19cbe50d9e36ea3c096a95.

I didn't think about that in the first place as I had the impression that in the past it wasn't even necessary to explicitly install `bash-completion`.

[2021-07-26 06:12] #4064 closed

[2021-07-26 06:13] csweichel commented on #4924
#4922 describes the inverse behaviour. There it doesn't work when the port is public; here it doesn't work when the port is private.

[2021-07-26 06:13] csweichel commented on #4924
/schedule

[2021-07-26 06:15] csweichel commented on #4935
The user impact is not clear. Just because something affects a user-facing feature doesn't mean it has actual user impact.

[2021-07-26 06:17] csweichel commented on #4129
This definitely needs feedback from @svenefftinge; wdyt?

(removing from groundwork until this becomes actionable)

[2021-07-26 06:22] csweichel commented on #4935
will remove from groundwork until it's clear if this is a regression or expected behaviour. Please re-add once this has become actionable.

[2021-07-26 06:25] csweichel commented on #4928
fixed in #4942

[2021-07-26 06:25] #4928 closed

[2021-07-26 06:31] #4296 closed

[2021-07-26 06:44] csweichel opened #4945 "Move qemu image build to Docker image rather than the init tasks"
Right now we're building the agent-smith qemu image for every prebuild. Instead we should be building it once during the image build. This way, prebuilds will be considerably quicker.

[2021-07-26 06:44] csweichel commented on #4945
/schedule

[2021-07-26 06:46] csweichel commented on #4924
/assign

[2021-07-26 06:51] csweichel commented on #4924
This is not an issue with `gp await-port` which only polls `/proc/net/tcp{6}` and is completely independent of public/private ports.

Rather it's to do with the following [line](https://gitlab.com/gitlab-org/gitlab/blob/2b9c44aeec31195a1b72fb806746c1935d6ebd01/.gitpod.yml#L58):
[code]
This line cannot succeed if port 3000 isn't public, because the request made to `$(gp url 3000)` is not authentica

[2021-07-26 06:57] svenefftinge commented on #4129
I think it's a good improvement. We currently have two name segments followed by 8 characters to make the workspace unique. Since seeing my name as the first segment wouldn't help me to distinguish workspaces, I propose to leave that out.

We can change the name function so that you can optionally pass in two segments that match the regexp `[0-9a-z]{2,16}`. We could include `_` which we use to rep

[2021-07-26 07:05] csweichel commented on #4938
Related KEP 1029: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/1029-ephemeral-storage-quotas/README.md

[2021-07-26 07:12] svenefftinge commented on #4935
It makes total sense and worked like that in Theia. So I'm all for changing/fixing this.

[2021-07-26 07:45] svenefftinge commented on #4945
Would the 22GB move into the image then as well?

[2021-07-26 07:46] ttauchen opened #4946 "Watching ports and opening browser results in many windows"
### Bug description

Dear devs,

[code]

Works nice initially, but we are using a server which recompiles once we edit a file and reservers via port 4004 (i assume the process fully restarts). This results in gitpod opening window after window after window. Any way i can prevent this? Could gitpod remember that a window is already open for 4004 and not open another one?

### Steps to reproduce

[c

[2021-07-26 08:12] jankeromnes commented on #4920
I'll give this a try! 🔧

[2021-07-26 08:18] svenefftinge commented on #4946
We use a constant [window name](https://developer.mozilla.org/en-US/docs/Web/API/Window/open) per port and workspace.

[2021-07-26 08:20] ttauchen commented on #4946
We are unable to pin the window name as it is set by the server and later altered by the static apps displayed inside (dependent on the location you navigaate to)

[2021-07-26 08:22] #4940 closed

[2021-07-26 08:27] leodido commented on #4919
Correct.
This proposes to enforce the Conventional Commits format only for describing the changes.
This translates to enforcing it only in the `release-note` block of the pull requests.

[2021-07-26 09:05] gtsiolis opened #4948 "Update project configurator designs"
Following the updates in project https://github.com/gitpod-io/gitpod/pull/4631 which added a cut through of the project configurator, the project configurator designs need to be updated.

### Designs

Adding below the first step of the project configurator.

| Authorize Provider |
|-|
| <img width="1440" alt="Pending" src="https://user-images.githubusercontent.com/120486/126963409-a8b862c3-cee3-4e

[2021-07-26 09:29] svenefftinge commented on #4920
@gtsiolis WDYT about reversing the tabs, I.e. make project the first one?

[2021-07-26 09:31] atduarte opened #4949 "SSH bash session (via local companion app) is wrongly configured"
### Bug description

When using the local companion app to connect via ssh to an existing workspace, a couple of bash errors are shown (see image below), the configured $PATH is different and the session doesn't start in the workspace folder.

![image](https://user-images.githubusercontent.com/666176/126966563-139a2ed0-06fa-44a1-a49b-5d70ef32e596.png)

![image](https://user-images.githubuserconten

[2021-07-26 10:03] gtsiolis commented on #4924
Thanks @csweichel for taking a closer look and @shaal for reporting this! 🏀

[2021-07-26 10:20] gtsiolis commented on #4920
Makes sense! Updated the screenshots in the issue description.

🍊 🍊 🍊 🍊

Cross-posting some notes from the [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1627291113017800) (internal) regarding URLs.

[2021-07-26 10:32] ghuntley commented on #4945
It's circa 2GB these days after https://github.com/gitpod-io/gitpod/blob/f654391fcb4e160ed933f6f8724d7d90e138bf4d/components/ee/agent-smith/scripts/prepare-bpf-dev-environment.sh#L26. Specific change: `--preallocation=off`

[2021-07-26 10:35] ghuntley opened #4950 "Gitpod Self-Hosted v0.10.0 is limited to only 50 hours"
### Bug description

https://community.gitpod.io/t/gitpod-self-hosted-pricing-clarification-limited-to-only-50-hours/3747

### Steps to reproduce

https://community.gitpod.io/t/gitpod-self-hosted-pricing-clarification-limited-to-only-50-hours/3747

### Expected behavior

Gitpod Self-Hosted should not be limited to 50 hours. It seems like the payment wall for SaaS is now active in the self-hosted e

[2021-07-26 10:36] #4863 closed

[2021-07-26 11:00] leodido commented on #4805
Hello @davegi,

regarding you not being able to set breakpoints, could you please double-check whether you have this setting on or not?

<img width="1397" alt="image" src="https://user-images.githubusercontent.com/120051/126978580-66a5cbf3-1089-4bc8-bc4a-b62dc279cdb8.png">

[2021-07-26 11:05] svenefftinge commented on #4946
Sorry, I meant to say "we *should* use a constant window name ...". I.e. how to we could fix your issue in the product.

[2021-07-26 11:07] svenefftinge commented on #4920
And same for projects.

[2021-07-26 11:47] gtsiolis opened #4951 "Update team creation designs"
### Problem to solve

Following the upcoming design changes for the project configurator (see https://github.com/gitpod-io/gitpod/issues/4948), the project team creation page would be better to use the same elements and style as the project configurator step for team creation.

Also, since the upcoming and new pricing changes will land later on, this is a good place to also inform users about pric

[2021-07-26 13:42] geropl commented on #4950
Seems like we've switched the default build output from OSS to EE, but haven't adjusted the Self-Hosted release process/code.

[2021-07-26 13:45] akosyakov commented on #4805
Should we reopen till clarified?

[2021-07-26 13:51] csweichel opened #4955 "Workspace teardown is unreliable"
### Bug description

There seems to be a timing issue where ws-daemon stops the IWS before workspacekit had a change to tear down the workspace. This causes workspaces to be stuck in "stopping".

[code]

### Steps to reproduce

Start and stop enough workspaces in core-dev.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-26 14:14] #4937 closed

[2021-07-26 14:23] #4422 closed

[2021-07-26 14:23] #4515 closed

[2021-07-26 14:27] csweichel commented on #4885
/schedule

[2021-07-26 14:28] csweichel commented on #4950
/schedule

[2021-07-26 14:28] csweichel commented on #4950
/assign @geropl

[2021-07-26 14:29] csweichel commented on #4885
/assign

[2021-07-26 14:35] gtsiolis opened #4958 "Follow up issues for the prebuilds pages"
Some follow up items from the Prebuilds pages added back in https://github.com/gitpod-io/gitpod/pull/4876.

- [ ] 1. Optimize SVG files, see https://github.com/gitpod-io/gitpod/pull/4876#discussion_r675570841.
- [ ] 2. Remove the _Settings_ tab from the project page, see https://github.com/gitpod-io/gitpod/pull/4876#discussion_r676554142.
- [ ] 3. Truncate commit message, see https://github.com/gi

[2021-07-26 14:51] geropl commented on #4950
Looking at the code there's nothing obvious. And re-reading the community issue closely I don't see proof that this is an code error. Will try verify.

[2021-07-26 15:34] tommygonzaleza commented on #4914
I'm sending you an example

[2021-07-26 15:42] tommygonzaleza commented on #4914
From this workspace: [https://gitpod.io#snapshot/f9b9f16c-f868-4ea0-b386-4c180ef151fc](https://gitpod.io#snapshot/f9b9f16c-f868-4ea0-b386-4c180ef151fc)

I'm using these commands:
`git remote set-url origin https://github.com/tommygonzaleza/testing-issue.git
git push -f`

[2021-07-26 15:45] tommygonzaleza commented on #4914
Maybe if you try to do it from this repository: [https://github.com/4GeeksAcademy/html-hello](https://github.com/4GeeksAcademy/html-hello)

Create a repository and push it to your new repository

[2021-07-26 16:26] meysholdt opened #4961 "Review test for "limit-writer" because in prod "limit-writer" is broken"
We see files in prod that exceed the size that limit-writer should have permitted.

Details: https://www.notion.so/gitpod/Workspace-backup-failures-fc81ee3098a64683b0f166317ce36a72

[2021-07-26 16:26] #4740 closed

[2021-07-26 16:30] meysholdt opened #4962 "have `gpctl workspaces backup`"
By default we trigger a backup only when a node stops.

It would be awesome to have a command such as `gpctl workspaces backup <workspace>` which would trigger the backup mechanism and otherwise leave the workspaces untouched (e.g. leave it running, etc.).

This would increase the chances to create a backup in case of an incident.

[2021-07-26 17:15] TheBotlyNoob commented on #774
same error... Is there a fix?

[2021-07-26 19:10] gtsiolis commented on #4100
Closing this for now. Cc @jankeromnes @AlexTugarev @svenefftinge as a friendly reminder to briefly check layout rendering in dark theme during the implementation for new pages like the ones in **Teams & Projects**. 🌕

[2021-07-26 19:10] #4100 closed

[2021-07-27 00:22] mikenikles commented on #4919
Thanks Leo, this is great!

The engineering changelog is the first step of a larger process to release www.gitpod.io/changelog, send a tweet, etc. Once this issue here is resolved, I'll work on automation for the other steps of the release process. Looking forward to automating as much of this as possible.

[2021-07-27 01:55] shaal commented on #4936
Running on another repo.
When I make changes in https://github.com/shaal/DrupalPod/pull/25, a prebuild runs automatically.

After running everything successfully, it stays like that forever -
![image](https://user-images.githubusercontent.com/22901/127082506-ebf9c8f9-5df0-4a97-9602-4e5d1db04c14.png)

But now,  I can open new Gitpod workspaces from that PR, even that the prebuild screen seems stuck

[2021-07-27 03:27] akosyakov commented on #4914
still works 🤔

[2021-07-27 03:32] akosyakov commented on #4946
It is actually internals of VS Code, not "we", and there is not API to pass it from the extension host to the main window.

[2021-07-27 03:35] pretentious7 opened #4963 "sftp support for local companion ssh"
[This](https://www.gitpod.io/blog/local-app) works great for ssh, but for whatever reason sftp is not enabled. This means I can't use sshfs, which would be a really convenient way for me to use vim locally to edit files on the gitpod instance.

(I currently use syncthing for this purpose, but it's a bit of a bodge)

Error that I get when I try sftp -F /tmp/gitpod_ssh_config <instance-name> is:
`ba

[2021-07-27 03:44] akosyakov commented on #4963
We ship with dropbear - the minimal SSH server. It does not have sftp support out the box, but you can install sftp server from Open SSH:
[code]

[2021-07-27 04:04] akosyakov opened #4964 "Don't abort prebuild if task failed"
Task failure means something potentially wrong with user code base. Aborting a prebuild in such case means that a user has to wait all over to see the same error.

Also from Sven:
We’d need to also stop executing follow up task.

[2021-07-27 04:14] pretentious7 commented on #4963
Ah thank you so much. I'm sorry for the unnecessary issue then (for some reason I thought changing ssh settings required systemctl restart, which obviously doesn't work). Thanks for the solution! It works now :)

[2021-07-27 04:24] akosyakov commented on #4963
The issue is good. It will make sense to have it installed by default

[2021-07-27 04:25] akosyakov commented on #4914
@tommygonzaleza Does it make a difference if you do `git push -f origin HEAD` i.e. explicitly specifying target origin?

[2021-07-27 04:27] akosyakov commented on #4566
@ghuntley a fix for https://github.com/robb0wen/synthwave-vscode/pull/224

[2021-07-27 04:48] akosyakov commented on #4566
a fix for docker: https://github.com/microsoft/vscode-docker/pull/3090

[2021-07-27 05:23] akosyakov commented on #4566
A guide how to fix such issues: https://github.com/microsoft/vscode-docs/pull/4700

[2021-07-27 05:24] akosyakov commented on #4566
@csweichel not sure how to proceed with it, I filed PRs but we have to wait till they are merged. Plus this issue is rather ongoing, we need to track such extensions and fix them one by one. How it should be represented in the groundwork?

[2021-07-27 05:24] akosyakov opened #4965 "[code] preview version for testing"
We need to use VS Code before giving it to end users. It would be good to allow deploying a new version without switching all users to it.

[2021-07-27 05:27] akosyakov commented on #4777
I integrated leeway into VS Code repo. One should configure GCP auth in prev env to make use of the cache.

[2021-07-27 05:27] #4777 closed

[2021-07-27 05:32] akosyakov commented on #4840
@Kaushik-Kalesh sorry I don't know working of Postman. If it is installed locally you should be able just use the local companion, if it is SaaS service, maybe it allows configuration similar to https://auth0.com/docs/applications/work-with-auth0-locally#use-local-domains-with-auth0 in this case you can use the local companion as well.

Having stable workspace URLs is hard problem, and we don't se

[2021-07-27 06:18] csweichel commented on #4566
Indeed we don't have a good representation for this state at the moment.
If there's no active work to be done here at the moment, I'd propose we remove it from groundwork and you keep it on your radar (e.g. set a calendar reminder for in a week). WDYT?

[2021-07-27 06:25] svenefftinge commented on #898
Another solution is to use https://ngrok.com/docs

[2021-07-27 06:26] akosyakov commented on #4840
duplicate of https://github.com/gitpod-io/gitpod/issues/898

[2021-07-27 06:26] #4840 closed

[2021-07-27 08:22] geropl commented on #4950
This seems indeed not be the case: https://community.gitpod.io/t/gitpod-self-hosted-pricing-clarification-limited-to-only-50-hours/3747/9?u=geropl

I will keep this open until this is verified, and we can discuss whether we want to change the UI, but will remove the prio label for now.

[2021-07-27 08:44] geropl commented on #4650
It turns out the helm chart and parsing interaction in `Env` is rather complicated. To make sure we do not miss any variance we take a 2 step approach:
 1. Introduce new `Config` shape which contains everything from `Env` (minus some basic refactoring and cleanup). This is **not used yet** to make sure we don't break anything, but instead just printed out on startup for reference.
 2. The next ste

[2021-07-27 09:08] geropl commented on #4650
Re-opening as #4882 was only the 1st of 2 PRs.

[2021-07-27 09:11] #4885 closed

[2021-07-27 09:20] alxmhe opened #4967 ".gitpod.yml not read, Custom Docker container not created"
### Bug description

I am unable to bootstrap my workspace with an initial setup from a Dockerfile.
When editing my fairly simple `.gitpod.yml`, I have this error:
[code]

Here is the file :
[code]

Tasks and ports configurations are also not read, so I believe the problem would be with the `.gitpod.yml` file.

### Steps to reproduce

Clone repository from Github, add a .gitpod.yml and .gitpod.Doc

[2021-07-27 09:27] csweichel commented on #4965
We should revive the feature preview flag and use it for this decision. It's still in the database, and we could re-set it for Gitpod folks only.

[2021-07-27 09:28] csweichel commented on #4965
To do this we'd pin the stable version and have the `components/ide/code` component build the "next generation".
We'd need an automatic mechanism to "promote" past builds to the stable build though. I reckon we could build something using prow.

[2021-07-27 09:51] gtsiolis commented on #4680
Added the design specs for the illustration in the issue description. 🏓

[2021-07-27 09:53] geropl commented on #4856
@shaal  I tried the context you linked above (https://github.com/shaal/DrupalPod/blob/debug-with-tmate/.gitpod/.gitpod.Dockerfile) and it hung for me as well, but during image build, not prebuild. And it did so in this `RUN`: https://github.com/shaal/DrupalPod/blob/debug-with-tmate/.gitpod/.gitpod.Dockerfile#L33-L36

top says:
![image](https://user-images.githubusercontent.com/32448529/127134396-0

[2021-07-27 10:00] csweichel commented on #4964
Just to clarify: the issue is that when a prebuild task fails, the prebuild is not failed and available, but rather unavailable because it's in the state "aborted"?

The latter state is intended for system failure, while there is an explicit "done_failed" state for prebuilds that ran successfully, but whose tasks failed. If the behaviour is as described above, that's a but we should fix :)

[2021-07-27 10:29] shaal commented on #4856
@geropl Yeah, I think the original problem of this issue was resolved, and #4936 explains better the problem I'm seeing now.
Closing this issue, Thank you all!

[2021-07-27 10:29] #4856 closed

[2021-07-27 11:10] akosyakov commented on #4964
yes, it seems so

[2021-07-27 11:26] JanKoehnlein commented on #4936
/schedule

[2021-07-27 11:28] akosyakov opened #4968 "[supervisor] title does not get updated anymore"
### Bug description

The task terminal title should update to reflect currently running process, but it shows only first now. It is a regression in the supervisor.

### Steps to reproduce

Open a task terminal, and execute some long running command like `watch ls -l`, you should see that task terminal displays `watch`, but it does not.

### Expected behavior

_No response_

### Example repository

[2021-07-27 11:30] csweichel commented on #4922
Cilium would be awesome to have, and we've been talking about this for a while. Considering the current workload however, we don't have an urgent need for the upgrade.

I'll unschedule this issue for now - please re-add in a week or two.

[2021-07-27 11:35] csweichel commented on #4964
This is most likely a bug in ws-manger where we've changed the way failing headless tasks are communicated to the system. If a headless task fails supervisor writes that to `/dev/termination-log`. However, ws-manager does not distinguish task from system failure well enough and also marks the pod with the `failed` condition. This causes ws-manager-bridge to mark the prebuild as aborted.

[2021-07-27 11:38] csweichel commented on #4938
We need to move out of GKE before we can actually operate or develop this change. Will re-add once we've made progress on that end.

[2021-07-27 11:45] csweichel commented on #4436
/assign @JanKoehnlein

[2021-07-27 11:46] csweichel commented on #4670
/assign

[2021-07-27 11:48] csweichel commented on #4964
/schedule

[2021-07-27 11:48] csweichel commented on #4961
/schedule

[2021-07-27 11:48] csweichel commented on #4962
/schedule

[2021-07-27 11:49] csweichel commented on #4935
/schedule

[2021-07-27 11:50] csweichel commented on #4081
![image](https://user-images.githubusercontent.com/3210701/127148058-b21037e0-c294-446f-b2ce-24f1e333b20f.png)

I cannot reproduce the issue, but may have given the correct scopes already.
We're also rather full on the scheduled work. I'll remove this from groundwork right now. Please re-add when there's a bit more space.

[2021-07-27 11:51] csweichel commented on #4889
/assign @leodido

[2021-07-27 11:53] csweichel commented on #4965
/schedule

[2021-07-27 12:02] csweichel commented on #4670
/assign @jankeromnes

[2021-07-27 12:29] jankeromnes commented on #4689
Aha, it seems that all remaining postman campaigns have been moved here: https://github.com/gitpod-com/postman/tree/main/src/notifications/campaigns

[2021-07-27 12:52] pawlean commented on #4967
Can you share your .Dockerfile as well? Or your repo where this is happening? Another user also brought this up recently:&nbsp;<a href="https://community.gitpod.io/t/error-loading-a-docker-file/4304" target="_blank" rel="noopener noreferrer">https://community.gitpod.io/t/error-loading-a-docker-file/4304</a>

[2021-07-27 12:53] jankeromnes commented on #4689
Given that Postman has been totally inactive since July 1st (as per our SendGrid data), we would like to sunset & remove https://github.com/gitpod-com/postman from any deployment.

@meysholdt / @wulfthimm what is the process for doing this?

[2021-07-27 12:56] #4961 closed

[2021-07-27 13:40] csweichel commented on #4964
/assign

[2021-07-27 14:21] stefanstoeckigt commented on #2615
@jgallucci32 any update on this issue being completed.

[2021-07-27 15:01] ad-si opened #4971 "Stage selected lines"
I'm looking for a way to stage selected lines. Apparently that's possible with the desktop VS Code: https://stackoverflow.com/questions/34730585/how-can-i-commit-some-changes-to-a-file-but-not-others-in-vscode. How can I do it in Gitpod?

[2021-07-27 15:04] ad-si commented on #4971
Ah just a few lines down is a working solution: https://stackoverflow.com/a/47331858
But I'd prefer to be able to do it in the source control view…

[2021-07-27 15:15] gtsiolis opened #4972 "Searching projects does not work"
### Problem to solve

Currently, searching for projects does not work using the search input.

Cross-linking https://github.com/gitpod-io/gitpod/issues/4420 and https://github.com/gitpod-io/gitpod/issues/4420#issuecomment-885498272.

[2021-07-27 15:18] manuelabarca commented on #4914
git push set-url origin url
git branch -M main
git push -u origin main

`Enumerating objects: 454, done.
fatal: remote error: upload-pack: not our ref 0038472301af887376b326d7873bb840a6bf2dcc
fatal: remote error: upload-pack: not our ref 0038472301af887376b326d7873bb840a6bf2dcc`

[2021-07-27 15:19] csweichel commented on #4886
Sounds like we should not be setting `PIP_USER=1` in workspace-full. Would that solve the issue?

[2021-07-27 15:20] csweichel commented on #4862
Thank you jan for your detailed response. I'll close this issue for now. Please re-open if the answer did not address your expectations.

[2021-07-27 15:20] #4862 closed

[2021-07-27 15:29] tommygonzaleza commented on #4914
Yes it is the same, and there are a lot of teammates that are facing the same issue

[2021-07-27 15:43] jefer94 commented on #4886
Really yes, the team of `pre-commit` perform a `pip install ...` to install the hooks dependencies from `.pre-commit-config.yaml` that normally work because `Python` by default not set `PIP_USER=1` but in `Gitpod` this environment is set, this configuration should still generating problems with more packages that should work locally but don't in `Gitpod` and this for any newbie is weird

[2021-07-27 15:57] orellabac opened #4973 "Sync Issue with Self-Hosted Gitlab Private Repo Sync"
### Bug description

If you are using a self-hosted gitlab instance with gitpod and you have a private repository you will find some annoying sync issues with the message:

An operation requires additional permissions: read_repository. Please grant permissions and try again.
However if you go the gitpod.io/integrations and try to add the read_repository permission:

### Steps to reproduce

Use a s

[2021-07-27 16:38] alesanchezr commented on #4914
Here is a loom video with the error:
https://www.loom.com/share/f877b5a8aaaf4607b58f44a435bfdc14

This is the repository but the error happens with all of them:
https://www.loom.com/share/f877b5a8aaaf4607b58f44a435bfdc14

[2021-07-27 16:44] mikenikles opened #4974 "Provide a `gp feedback`"
To make sure we provide the best user experience and allow anyone to provide feedback about their Gitpod experience, it'd be great to have a `gp feedback` CLI command.

Ideally, it's a two-question "survey":

[code]

In addition, `gp feedback` should understand positional arguments: `gp feedback 4 "Gitpod streamlines my daily workflows!"`

Response data should be captured in Segment.

[2021-07-27 17:14] alxmhe commented on #4967
Sorry I'm unable to share this private repository. I tried deleting the workspace and recreating it from scratch but the issue is still there.

Here is the `.gitpod.Dockerfile` file :
[code]

[2021-07-27 17:16] alxmhe commented on #4967
Here is a screenshot of the error mentioned above.

<img width="847" alt="Screenshot 2021-07-27 at 19 16 17" src="https://user-images.githubusercontent.com/6876954/127198758-2ef1bf47-7efd-4947-bf31-1e67f54b5fa9.png">

[2021-07-27 17:18] alxmhe commented on #4967
Also, sometimes, but rarely, the error is not displayed, the schema (gitpod-schema.json) is parsed (I can open it), but the Dockerfile is still not executed on workspace creation.

[2021-07-28 00:44] tyler36 opened #4977 "Download workspace shows error while any workpace is running for the first time"
### Bug description

When I clicked the `download` link on the dashboard, the page reloaded with an error
[code]

I tried 3 times but with same results. Unfortunately, the error is generic and therefore I am unsure what the problem might be.

My first attempts was with a gitpod session spawned by DrupalPod on [this issues](https://www.drupal.org/project/avif/issues/3188912)
I also attempted a gitp

[2021-07-28 01:48] ghuntley opened #4978 "Error: Cannot install 'CodeTour' because this extension is not a web extension."
### Bug description

1. v0.0.58 at https://open-vsx.org/extension/vsls-contrib/codetour
2. v0.0.58 at https://marketplace.visualstudio.com/items?itemName=vsls-contrib.codetour
3. Attempting to install in Gitpod yields

[code]

4. Works fine in Codespaces :)

<img width="1436" alt="2021-07-28_11-43-21" src="https://user-images.githubusercontent.com/127353/127250518-276c4e7e-b95d-43e2-a30d-2f3c214d3

[2021-07-28 04:59] akosyakov commented on #4978
I think it is an issue with how this extension is published to Open VSX. If it is a web extension then we should use web option similarly as for VIM extension. @jankeromnes @spoenemann could you help with this? It is probably published with the service account and extensions.json should be adjusted accordingly

[2021-07-28 06:19] apolopena commented on #4967
I get this error too
![image](https://user-images.githubusercontent.com/3060702/127273533-36fb0abe-92dc-46be-a114-a8c804f0b8c4.png)

[2021-07-28 06:46] csweichel commented on #898
One key question to answer here is how that stable URL gets assigned to a workspace? What if I have two workspaces open?

[2021-07-28 06:53] #4945 closed

[2021-07-28 06:57] jankeromnes commented on #4978
@akosyakov Like this? https://github.com/open-vsx/publish-extensions/pull/399/files

[2021-07-28 07:00] akosyakov commented on #4978
Yes, but we should unpublish bogus version first?

[2021-07-28 07:19] leodido opened #4979 "Double entry in the issue menu"
### Bug description

In `.github/.../config.yml` we explicitly link the security policy.

Thus, we see two items linking to it:

<img width="1172" alt="image" src="https://user-images.githubusercontent.com/120051/127274939-a4e766af-3d48-41bd-a914-8420089feda8.png">

By default, GitHub creates a list item if there is a SECURITY.md in the repo or in the `.github` repository of the organization. Such

[2021-07-28 07:54] csweichel commented on #898
From Slack:

@geropl
Some thoughts on the actual "redirector":
- |name|.|userId|.gitpod.io won't work because we need to limit ourselves to one level of wildcards (because of certificates)
- using meta/"proxy" for this is not nice for tying workspace-bound connections to it (again)
- the only reason we need "meta" is for the "name" -> "workspace" mapping
- (authentication is done by ws-proxy anywa

[2021-07-28 08:00] geropl commented on #898
Both contradict each other, no?

Not sure what you mean with this. What I implied above is that we want to have an "internal redirect" which is transparent to browsers - hence the strong connection. The reasons I thought this is a requirement was to support all kind of clients scenarios.

But it might make sense to go through those use-cases one-by-one and make sure they are important enough to wa

[2021-07-28 08:13] jankeromnes commented on #4680
Taking this on as a drive-by fix 😁 🚀

[2021-07-28 08:22] csweichel commented on #4081
/schedule

[2021-07-28 08:23] csweichel commented on #4968
/schedule

[2021-07-28 08:23] csweichel commented on #4955
/schedule

[2021-07-28 08:30] csweichel commented on #898
It would just be `ws`, not `ws-eu` and hence independent of the region. Basically I wasn't too fond of the `names` segment and figured that `ws` is closer to home.

I reckon we should avoid to actually tunnel traffic through the "redirector". That would
- incur considerable network load,
- increase cross-cluster egress cost,
- too tightly couple meta/workspace.

If we combined the simple redirect

[2021-07-28 08:33] geropl commented on #898
Got it, completely d'accord.

:+1:

That would be nice indeed! And would nicely match the semantics as we're offering a "name service" :slightly_smiling_face:

[2021-07-28 08:37] csweichel commented on #898
That still leaves us with a bunch of questions around the stable name itself:
- how does that name come to be? Is it computed based on the repo/context URL - and/or can users choose it?
- what happens if you start multiple workspaces that would want the same URL?
- how do we handle name clashes with other workspaces that might end up on the same "stable URL", esp. if users can influence that URL?

[2021-07-28 08:45] #4979 closed

[2021-07-28 09:03] codemzy commented on #898
Could it have the username or a unique string assigned to each user in the url? E.g. `|userId|-|custom-url|.ws.gitpod.io` and assuming stable urls will be a premium feature (e.g. on the paid plans) you get a random url how it is now as standard, and maybe the user could optionally assign the stable url (e.g. the custom url part of it). If they try to assign a stable url that they are already using

[2021-07-28 09:08] csweichel commented on #4965
During an offline discussion with @geropl we outlined the following solution:
- in the server IDE config we introduce `code-preview` which is set the current Code image build (the very same that previously set the `code` alias)
- we make the "VSCode Preview" a selectable IDE on the dashboard, much like Theia
  ![image](https://user-images.githubusercontent.com/3210701/127295636-b13d97d1-42bb-4664-

[2021-07-28 09:21] geropl commented on #898
So far I thought about this as a way to expose a workspace, so there's always a 1-1 connection between "stable name/URL" and "workspace". Following this `|workspaceId|.ws.gitpod.io` is the simplest solution that avoids most of the mention problems (name clashes).

Everything else - especially custom names (with possible per-user namespace) - would be an addon and could be handled atop of this.

[2021-07-28 09:50] codemzy commented on #898
That would work great for my needs. Even if you still include the port in the url `|workspaceId|-|port|.ws.gitpod.io` to allow for different ports to be used.

[2021-07-28 10:02] gtsiolis opened #4983 "Add linked pull requests for prebuilds and branches in the commit column"
### Problem to solve

Prebuilds pages added back in https://github.com/gitpod-io/gitpod/pull/4876 and https://github.com/gitpod-io/gitpod/pull/4970 didn't include links to PRs near the branch information as described in the relevant specs in https://github.com/gitpod-io/gitpod/issues/4515.

| Prebuilds (Current) | Prebuilds (Specs) |
|-|-|
| <img width="851" alt="Screenshot 2021-07-28 at 12 59 21

[2021-07-28 10:33] #4911 closed

[2021-07-28 10:46] atduarte opened #4984 "Proxy Segment CDN and API"
Our website respects the "DoNotTrack" setting, but we would like to avoid being wrongly blocked by ad-blockers—as that would seriously affect our ability to understand user activity.

As such, I would request that we set up two proxies as detailed by Segment [here](https://segment.com/docs/connections/sources/catalog/libraries/website/javascript/custom-proxy/). I propose that we proxy `cdn.segment

[2021-07-28 11:50] alxmhe commented on #4967
This repository, for example, also has the error.
https://github.com/laboiteadons/laboiteadons/tree/feature/gitpod
You may need to close and reopen the workspace to trigger the error.

[2021-07-28 11:55] alxmhe commented on #4967
I see the container is building correctly when starting Gitpod with this repository. Maybe the problem comes from .gitpod.yml and .gitpod.Dockerfile not being committed to git before.
Although, I often need these files to stay out of the repository.

[2021-07-28 11:58] alxmhe commented on #4967
Nope, on second opening the issue persists. Which mean you should be able to reproduce the bug now.

[2021-07-28 12:07] #4680 closed

[2021-07-28 13:27] csweichel commented on #4929
We should not create a bucket in the first place. We'll never create a backup or snapshot for an image build workspace.

[2021-07-28 14:36] csweichel opened #4988 "Admin dashboard queries are far too slow"
### Bug description

Right now the admin dashboard is almost unusable because the database queries are far too slow.
We must optimise those queries to make the admin dashboard more usable.

### Steps to reproduce

Use the admin dashboard

### Expected behavior

it should be near instantaneous

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-28 14:36] csweichel commented on #4929
/assign

[2021-07-28 14:43] pawlean commented on #4967
Ah yes, I see this as well. Thanks @alxmhe! I've flagged this as a bug, our engineering team will be notified here :)

[2021-07-28 15:25] geropl opened #4991 "All timed-out workspaces are marked as "bakcup failed" during backup"
### Bug description

Introduced with https://github.com/gitpod-io/gitpod/pull/4943 with fail all stopping workspaces that are performing a backup and having a timeout annotation. This was meant to enable timeout-behavior for workspace backups. But it seems we can also end up in this path if we stop a workspace on timeout, trying to make a regular backup.

### Steps to reproduce

 1. have a workspa

[2021-07-28 15:32] csweichel opened #4992 "[blobserve] String substitution is flakey"
### Bug description

Sometimes don't replace the `webview-foreign` string in content served by blobserve.

This is most likely because the string replacement does not happen as part of the synchronised blobspace prep.

### Steps to reproduce

Open enough workspaces

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-28 15:34] csweichel commented on #4991
/schedule

[2021-07-28 15:35] csweichel commented on #4991
/assign

[2021-07-28 15:35] csweichel commented on #4992
/schedule

[2021-07-28 15:52] #4929 closed

[2021-07-28 16:09] csweichel opened #4993 "[ws-manager] Remove old `workspaceSizeLimit` behaviour"
We used to produce "sandbox" files when the workspace size limit was set. With re-using this for backups, we inadvertently triggered this old behaviour.

We should remove this behaviour.

[2021-07-28 16:10] csweichel commented on #4993
/schedule

[2021-07-28 16:10] csweichel commented on #4993
/assign

[2021-07-28 16:31] #4993 closed

[2021-07-28 17:26] shaal commented on #3982
++ for this feature!

I see it in the dashboard, but I don't think it works affects the theme for a new user that see VSCode interface for the first time.
(I changed my VSCode theme to dark theme, and it remembers that option for me across workspaces).

[2021-07-28 17:36] akosyakov commented on #4992
Im not sure i understood the issue webview-foreign should be replaced by VS Code frontend code, it should not do anything with blobserve.

[2021-07-28 17:44] akosyakov commented on #4965
We can call it insiders and it can be used for early adapters. It is the same with desktop VS Code and should not be confusing.

[2021-07-28 17:46] akosyakov commented on #4914
I don’t know how to reproduce it but marking as high priority since it seems to affect a lot of users. cc @csweichel

it may be related to partial cloning

[2021-07-28 20:08] meysholdt commented on #4114
got bitten by this again.

[2021-07-28 20:19] DasSkelett commented on #4085
I seem to have encountered basically the same issue, but with apt: I'm installing a few packages, like Redis, Postgres etc., and the installation does happen during the prebuild as I can see the output of apt, but when I start the workspace, the packages are completely gone.

Thanks to this issue I now know that this is "by design" and expected – however this is not documented anywhere. I've searc

[2021-07-28 20:31] billsioros commented on #4886
Hello everybody!

I'm facing a similar (maybe even the exact same, but I'm not quite sure as I'm pretty new to Gitpod 😄) issue. Given the following `.gitpod.Dockerfile`:

[code]

`PIP_USER` remains set to `yes`. I have tried various values just in case (false, 0, no), as well as not using [Environment replacement](https://docs.docker.com/engine/reference/builder/#environment-replacement), with no

[2021-07-28 20:41] jefer94 commented on #4886
Should be great that .bashrc was generated getting the environment

@billsioros this was my solution
[code]

[2021-07-28 20:49] #4991 closed

[2021-07-28 20:54] #3998 closed

[2021-07-28 20:54] #2695 closed

[2021-07-28 21:34] billsioros commented on #4886
Hi @jefer94, thank you very much! Sadly my issue has not been resolved. Shouldn't `PIP_USER` (and possibly other environment variables set by the `Dockerfile` ) be respected, in any case?

[2021-07-28 21:38] gtsiolis commented on #4383
This is also happening when opening some browser previews which could be the same issue. Saw this after opening https://github.com/gitpod-io/vscode/pull/20 in Gitpod. 🤷

Cc @akosyakov

<img width="819" alt="Screenshot 2021-07-29 at 12 36 37 AM" src="https://user-images.githubusercontent.com/120486/127399498-909b734d-1277-4f47-89a0-0907b48a91e1.png">

[2021-07-28 21:54] gtsiolis commented on #4383
Added https://github.com/gitpod-io/vscode/pull/23 which could probably resolve this.

[2021-07-28 22:27] jefer94 commented on #4886
@billsioros no necesaryly, you have the `PIP_USER=yes` because the gitpod image has your own `.bashrc` file, if you run `gp open ~/.bashrc` you should see `PIP_USER` is being setting,  and this file is static

[2021-07-29 05:07] ttauchen opened #4999 "Include for .gitpod.yml"
Dear all,

i love the idea of as you advertise "development environment as a code". Surely at the moment .gitpod.yml already fullfills this promise but lacks the feature of referencing, requiering or including an additional config from other files and more important other repositories.

In our company we will most likely have a lot of rotating projects, restaffed quite often. The type of project a

[2021-07-29 05:12] ttauchen opened #5000 "Use GitLab private docker registry"
Hi all,

we sometimes need custom docker images for our pods. As some of our customes do not want exposure to the public we have to keep our groups and projects private inside gitlab.

We therefore also have to build our docker images for the gitpod dev environment inside a private repository and publish to the gitlab private registry.

It would be nice if gitpod could access these images as well.

[2021-07-29 06:47] billsioros commented on #4886
Hello again @jefer94. `PIP_USER` was being set to `no`, but after instnatiating a new virtual environment, attempting to install the dependencies resulted in nothing. I was able to resolve my issue by not instantiating a new virtual environment.

**If I'm correct**, Gitpod does not proceed to execute commands specified by tasks if a new shell is instantiated. But should this be considered an issue

[2021-07-29 07:28] geropl commented on #4936
Possibly related/dupe: https://github.com/gitpod-io/gitpod/issues/4879

[2021-07-29 08:12] #4964 closed

[2021-07-29 11:48] gtsiolis commented on #4999
Thanks @ttauchen for opening and writing this! Let's mark this as a feature request.

Also, cross-linking [a recent relevant discussion](https://community.gitpod.io/t/installing-extensions-in-docker/4337/4) from the community forum. 💬

[2021-07-29 12:03] gtsiolis opened #5002 "Only prebuilds for the default branch are surfaced on the projects list"
### Problem to solve

Currently, only prebuilds for the default branch are saurfaced on the projects list (cards).

Screenshots below contain early designs. 🙈

| Prebuilds | Projects |
|-|-|
| <img width="1380" alt="Screenshot 2021-07-29 at 2 58 54 PM" src="https://user-images.githubusercontent.com/120486/127488386-758cd7a0-e7ba-429c-ba19-a334d0344f87.png"> | <img width="382" alt="Screenshot 2021-

[2021-07-29 12:10] JanKoehnlein commented on #4546
Dupe or part of #4962

[2021-07-29 12:10] #4546 closed

[2021-07-29 12:12] gtsiolis opened #5003 "Link to all and latest prebuild from the project card"
### Problem to solve

Currently, project cards footer include a single link to `/prebuilds`.

Screenshot below contain early designs. 🙀

| Projects |
|-|
| <img width="899" alt="Screenshot 2021-07-29 at 3 08 11 PM" src="https://user-images.githubusercontent.com/120486/127489527-49827bd4-5503-4e31-b414-a02aa2b0e06f.png"> |

### Proposal

Ideally, the footer would include two links:
1. The left part

[2021-07-29 12:13] AlexTugarev commented on #5002
@gtsiolis can you describe what should be rendered instead, please?

[2021-07-29 12:19] gtsiolis commented on #5002
@AlexTugarev the initial idea was to always surface the latest prebuild on the project card as described in the specs in https://github.com/gitpod-io/gitpod/issues/4420. Does this make more sense to you?

Cross-posting below the relevant specs for visibility.

| Projects |
|-|
| <img width="1440" alt="121364262-4c4aea00-c940-11eb-8f84-135402d14066" src="https://user-images.githubusercontent.com/12

[2021-07-29 13:26] csweichel commented on #4114
I reckon the actual issue that we're relying on the public HTTPS certificates for registry-facade.
We've recently started to move to self-signed certs in this case.

@aledbf how much trouble would it be to port your changes over to main?

(removing from groundwork until this becomes actionable)

[2021-07-29 13:28] aledbf commented on #4114
@csweichel I need to sync in https://github.com/gitpod-io/gitpod/pull/4592 the latest changes from https://github.com/aledbf/gitpod-chart-cleanup

[2021-07-29 13:28] spoenemann commented on #4978
You can request unpublishing here: https://github.com/EclipseFdn/open-vsx.org/issues

[2021-07-29 13:30] csweichel commented on #4914
/schedule

[2021-07-29 13:53] JanKoehnlein commented on #4081
/assign

[2021-07-29 14:22] csweichel commented on #4992
Excellent point - I just jumped to the conclusion that it's blobserve.

The effect we're seeing is that some things try to make requests to `*.webview-foreign.` i.e. not a proper domain. There's some parts missing that would make this domain resolvable.

[2021-07-29 14:30] oswaldojerezz opened #5005 "Images stuck in "Building Image" message"
### Bug description

Gitpod images seems to be stucked at the preparing stage
![image](https://user-images.githubusercontent.com/48268734/127510437-80ed20bb-5735-4aed-b031-fba73d19a4f4.png)
![image](https://user-images.githubusercontent.com/48268734/127510511-18827821-25ee-43f8-9016-745a81fdb4b0.png)

### Steps to reproduce

Open a gitpod image

### Expected behavior

_No response_

### Example re

[2021-07-29 14:34] ArthurSens commented on #4929
@csweichel what do we do about mk3 issues? Should we move them to "Done" in the groundwork? Or do you want to rework something?

[2021-07-29 14:34] meysholdt opened #5006 "GKE cluster-scheduler decides too late to scale up"
We just had a case where image-builds did not run because not enough resources (aka nodes) were available.

When [looking at the logs](https://console.cloud.google.com/logs/query;query=%2528resource.labels.cluster_name%3D%22prod-meta-eu01%22%0AjsonPayload.message%3D%22scheduling%20a%20pod%20failed:%20Unschedulable%22%2529%0AOR%0A%2528resource.labels.project_id%3D%22gitpod-191109%22%0Aresource.labe

[2021-07-29 14:35] aledbf opened #5007 "[image-builder-mk3] Do not assume the two builds use the same registry"
### Bug description

Pulling from a private registry (gitlab.com) works fine for the first part (build base image) but the authentication is not available in the second part (gitpod layer). That triggers authentication errors (failed to fetch anonymous token: unexpected status: 403 Forbidden)

### Steps to reproduce

-

### Expected behavior

_No response_

### Example repository

_No response_

#

[2021-07-29 14:38] gtsiolis opened #5008 "Rename the prebuild trigger action"
### Problem to solve

Using the the verb trigger as a call-to-action may be confusing or complex for some users, see [relevant discussion](https://github.com/gitpod-io/gitpod/pull/4970#discussion_r678130892):

### Proposal

We could rename the call to action verb to _Run_ so that _Trigger Prebuild_ becomes _Run Prebuild_. 🏃

We also need to take into account how we use this verb when retrying a su

[2021-07-29 14:45] jankeromnes commented on #5005
Hi @oswaldojerezz!

Thank you for reporting this problem. This incident is also tracked here:
- https://www.gitpodstatus.com/incidents/7wn3vflm3pfh
- https://community.gitpod.io/t/workspace-stuck-on-build-and-build-log-not-working/4357

The problem has already been mitigated, but please allow up to 1h for the workspaces and prebuilds currently stuck in "Building Image" to time out automatically, a

[2021-07-29 15:02] M-E-C-20 opened #5009 "Workspace stuck building image"
### Bug description

The workspace is stuck trying to open and appears to be stuck at the building image stage.

![image](https://user-images.githubusercontent.com/69533668/127515940-f293946e-f525-4a83-87db-9764911f8ab0.png)

### Steps to reproduce

Open a workspace in gitpod.

### Expected behavior

Should open to workspace.

### Example repository

_No response_

### Anything else?

_No response

[2021-07-29 15:02] #4670 closed

[2021-07-29 15:05] csweichel commented on #4929
Nope, done is the right place.

It's just we have new issues also

[2021-07-29 15:06] csweichel commented on #5007
/schedule

[2021-07-29 15:06] csweichel commented on #5007
/assign

[2021-07-29 15:12] jankeromnes commented on #5009
Thanks for reporting this problem @M-E-C-20! And sorry that this is affecting you.

Closing as a duplicate of https://github.com/gitpod-io/gitpod/issues/5005 -- see also [this comment](https://github.com/gitpod-io/gitpod/issues/5005#issuecomment-889207141).

[2021-07-29 15:12] #5009 closed

[2021-07-29 15:13] csweichel opened #5011 "[ws-manager] nil deref in IsWorkspaceTimedOut"
### Bug description

[code]

### Steps to reproduce

run ws-manager

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-29 15:14] csweichel commented on #5011
/schedule

[2021-07-29 15:15] csweichel commented on #5011
/assign

[2021-07-29 15:17] aledbf opened #5012 "[ws-manager] nil pointer dereference"
### Bug description

[code]

### Steps to reproduce

-

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-07-29 15:18] ArthurSens commented on #5012
Duplicated of https://github.com/gitpod-io/gitpod/issues/5011 :)

[2021-07-29 15:18] #5012 closed

[2021-07-29 15:37] #5011 closed

[2021-07-29 15:45] lechien73 opened #5014 "Terminal Font Issue Has Returned with v1.58.2"
### Bug description

The terminal font issues that were fixed in https://github.com/gitpod-io/gitpod/issues/4130 have returned in the new version of VS Code.

![Screenshot 2021-07-29 at 16 38 07](https://user-images.githubusercontent.com/21156053/127522222-d0ed5483-a465-48be-883c-9557e7b199e4.png)

Again, the terminal font is distorted; however, this time, cycling the font in Settings doesn't make

[2021-07-29 15:50] meysholdt commented on #5006
I assume the cluster-autoscaler does indeed see the "Unschedulable" pods without delay, because the following curves overlay nicely. If there would be a delay one curve would have been shifted.

![image](https://user-images.githubusercontent.com/239422/127523813-ef2d27e7-f58f-4c18-9aee-90ed615d4f2e.png)

<details>
sum(kube_pod_status_unschedulable{cluster="prod-meta-eu01"})
sum(gitpod_ws_scheduler

[2021-07-29 15:52] #5007 closed

[2021-07-29 16:21] meysholdt commented on #5006
Same graph, but with the scale-up as blue line. I've scaled the line by factor 10 to make the effect more visible.

![image](https://user-images.githubusercontent.com/239422/127528433-de8d4853-4470-4500-9030-6084ba19e5d9.png)

[2021-07-29 16:25] kevin-ci commented on #5014
Same issue here. Same reproduction steps. Also using Brave - 1.26.67 Chromium: 91.0.4472.114 (Official Build) (64-bit)

[2021-07-29 16:36] #4013 closed

[2021-07-29 16:58] jankeromnes opened #5016 "Please force-stop workspace instances that are "stuck" in a bad state"
Following today's incident: https://github.com/gitpod-io/gitpod/issues/5005 a few workspaces and prebuilds got stuck in a bad state.

Specifically, they have a workspace instance stuck in `phase = 'preparing'`, even though no build is in progress (anymore) -- and they have remained in this "temporary" state for several hours at least.

It would be great to forcefully stop them again, so that they

[2021-07-29 17:04] jankeromnes commented on #5016
Note: I've tried force-stopping my own stuck workspace instance (`magenta-mongoose-gje7qut8` / `038c631b-c37a-4f6d-983d-3db7416a409b`).

Before my intervention, the instance looked like this in Gitpod's DB:

[code]

I then did this in order to force-stop it:

[code]

This successfully returned my workspace back to "stopped" in my Gitpod dashboard, however when I tried to start it again, it said:

[2021-07-29 17:06] jankeromnes commented on #5016
On a side note, there are several workspace instances stuck in similar "temporary" states, sometimes for quite a long time:

### For > 24h

[code]

### for > 1 month

[code]

I suppose these should all get forcefully stopped at some point.

[2021-07-29 17:42] Sarosim commented on #5014
Same here, Brave Version 1.27.108 Chromium: 92.0.4515.107 (Official Build) (64-bit)

[2021-07-29 18:27] akosyakov commented on #4963
@pretentious7 could you elaborate what for you are using sftp, do you use local editor to edit files in mounted fs?

[2021-07-29 19:09] heldr commented on #5014
A workaround I found is using [nativefier](https://www.npmjs.com/package/nativefier) to build your own Electron workspace.

[code]

[2021-07-29 19:43] fabiosantoscode opened #5017 "Issue with terminal when using Portuguese keyboard"
### Bug description

Starting today, I've started having trouble typing symbols such as `/`, `=`, `"` in the terminal. The wrong symbols appear instead.

### Steps to reproduce

 - Use a Portuguese keyboard layout, Ubuntu 20.04.2 and chrome `92.0.4515.107` (firefox and chromium don't have this issue)
 - Open the terminal
 - Type `echo "hello = 'world'"` into the terminal
 - Observe that you actual

[2021-07-29 19:48] fabiosantoscode commented on #5017
After posting this, I went and tried to reproduce this issue in chromium (from ubuntu snap), and I couldn't.

So I'm confused whether this issue is actually in VSCode, Chrome's official build or gitpod.

[2021-07-29 20:15] fabiosantoscode commented on #5017
It was apparently a chrome issue. I was able to verify that `keydown` events were being sent with the wrong key, and I removed my chrome profile folder.

Then my chrome reset and gitpod works fine now.

Sorry for the noise!

[2021-07-29 20:15] #5017 closed

[2021-07-30 00:23] jefer94 commented on #4886
In Gitpod I think is not necesary use virtualenv, but for you resolve you issue you need to set the `PIP_USER` before Gitpod open the custom docker image and for me it's safe, venv just prevent have conflicts dependencies, in you local machine is not recommended  install each dependency of each project in the system or user packages

[2021-07-30 00:34] wyndon commented on #4391
Since @akosyakov asked about extensions :

I'll share my experience.

From my tests, the [`ClearURLS`](https://addons.mozilla.org/en-US/firefox/addon/clearurls/) addon seems to mess up pretty much everything :
- Plugins (syntax highlighting, Live Share, etc.)
- Icons (they just aren't there)
- Preview window (it just does nothing)

I guess the only *real* issue is **plugins**, since Live Share, ic

[2021-07-30 02:24] danBamikiya opened #5018 "Is it possible to use Powershell terminal in Gitpod?"
I'll like to be able to run my Powershell scripts in Gitpod. Is that possible? If it is not when will it be possible?

[2021-07-30 02:52] bennothommo opened #5019 "Local Companion not working with self-hosted Gitpod Docker Image"
### Bug description

Per https://community.gitpod.io/t/local-companion-and-self-hosted-docker-image/4351/3.

When using a v0.10.0-1 Docker Image build of Gitpod, the Local Companion app does not seem to work. From what I can tell, the Oauth Authorize endpoint in the Docker Image either does not exist or is not configured to accept requests.

The following error is displayed on the browser window t

[2021-07-30 04:45] ghuntley commented on #5014
Confirming this happened to me moments ago on `https://peach-rabbit-vh29qfah.ws-us13.gitpod.io/`

[code]

[2021-07-30 08:22] jankeromnes commented on #5008
Actually, I thought we agreed that the context menu entry would be `Retrigger Prebuild`, and would only be available for failed / timed out prebuilds.

**Reason**: There is no point in re-triggering a prebuild that has already succeeded(!)

**Note**: This is different from the top-level action `Trigger Prebuild` (i.e. "trigger a new prebuild for the default branch"), which seems fine for now (but

[2021-07-30 08:46] gtsiolis commented on #5008
You are probably right here! 💯

Cross-posting some points from a [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1627026808472200) (internal):

🍊 🍊 🍊 🍊

Agree but this is action button is mainly for adding support to run ad-hoc prebuilds for a specific branches, when a prebuild for the default branch is garbaged collected, potentially injecting runtime environment variables, a

[2021-07-30 09:09] victoriajames3 opened #5020 "Stuck on Building Image Page"
### Bug description

I cannot open any workspaces. It has been stuck on building image since 2pm yesterday. I cannot delete my workspaces either to try and open new ones. The delete workspace button is simply inactive

### Steps to reproduce

Try to open a workspace.

### Expected behavior

I should be able to open my workspace in Gitpod

### Example repository

_No response_

### Anything else?

[2021-07-30 09:57] Sharon-B commented on #5020
I am also having the same issue since yesterday afternoon. Workspace stuck on building image for over 3 hours. Will there be any way to access this workspace again?

[2021-07-30 10:01] meysholdt commented on #5020
Hi @Sharon-B , hi @victoriajames3 !

There was a disk space Issue related to the image builder. I've cleaned the disks. Can you try again?

Apologies for the trouble.

[2021-07-30 10:41] Sharon-B commented on #5020
Hi @meysholdt,

I still have the same issue with that workspace, it's stuck on building image when I try to open it.

Thanks for your assistance on this.

[2021-07-30 12:55] gtsiolis opened #5022 "Add empty state for project prebuilds"
### Problem to solve

Currently, when adding a project in a team a) the product does not surface previous prebuilds and b) the project may not have any previous prebuilds.

### Proposal

To avoid having empty pages where it's not clear if the data does not exist or an error occurred while fetching the data we could add an empty state for the prebuilds page when adding a project.

A good first MVC

[2021-07-30 13:37] meysholdt opened #5023 "Don't pass VERSION env var into every container"
Our helm chart has a define block that adds generic env vars to every container, among them the variable VERSION.

https://github.com/gitpod-io/gitpod/blob/75d49f794a44f14e89449736f7c1e0a0b2db241e/chart/templates/_helpers.tpl#L176

This causes every container to restart on every deploy, making it impossible to upgrade a cluster with running workspaces without causing websocket-connection-drops (re

[2021-07-30 14:49] JanKoehnlein commented on #4965
/assign

[2021-07-30 15:08] orellabac commented on #2700
@akosyakov
Gitpod Companion is great, but in my case I need static IPs to allow using gitpod from restricted environments

[2021-07-30 17:19] pretentious7 commented on #4963
I don't really like vscode, and since I'm some distance from Europe or the US, the experience of using vim in the webshell is atrocious. Now rsync is kinda wonky for some reason, so my solution is to mount /workspace/ in gitpod using sshfs and then to use vim locally. This works fine for everything except grepping.

[2021-07-30 18:06] victoriajames3 commented on #5020
Hi @meysholdt
Thanks for getting back to me
I can create a new workspace now however I still cannot open the existing ones. However within the new workspace, Emmet isn't working and neither is the preview. I am using the python3 -m http.server command to create the preview window however I cannot preview any files I create. Sorry I am quite new at this but I have tried reloading, creating a new wo

[2021-07-30 19:20] tommygonzaleza commented on #4914
How can I help you solve it? Are you working on it?

[2021-07-31 04:55] #4869 closed

[2021-07-31 06:31] #4023 closed

[2021-07-31 09:12] jankeromnes commented on #4127
Not stale + agree this should definitely be mentioned in the docs! 😊🙏

[2021-07-31 11:48] shaal commented on #4126
Requesting to add `meta: never-stale` label to this issue

[2021-07-31 14:25] csweichel commented on #4914
The videos of @alesanchezr very super handy to understand the problem.
We're still trying to reproduce and understand the issue.

There should be news latest end of Monday (CEST).

[2021-07-31 15:40] #4039 closed

[2021-07-31 15:46] jjperezaguinaga commented on #5014
Confirming the same bug here, just started a new workspace now.

![image](https://user-images.githubusercontent.com/1128312/127745224-7afa1655-2ca1-4fee-a839-6b5e6e803b3b.png)

[2021-07-31 18:18] danBamikiya commented on #5020
This happened to me yesterday. What I did was create a new workspace from the same github repo but before I could start working on the workspace I noticed the former workspace already loaded so I continued my work there.

[2021-07-31 18:23] danBamikiya opened #5027 "`Docker-compose pause` not working"
### Bug description

I tried to pause my docker containers using `docker-compose pause` but it didn't pause. The errors it showed were:

`ERROR: for cuttlink_server  Cannot pause container 0de80443d2007f1c0accd5c04a84d087320a0bcb596961dbe16f793da615e2b3: OCI runtime pause failed: cannot toggle freezer: cgroups not configured for container: unknown`

### Steps to reproduce

Run a container using do

[2021-07-31 21:03] csweichel opened #5028 "Make registry-facade and image-builder provide the new base image annotation"
This would greatly help debug the base image chain of images running in a gitpod installation: https://github.com/ImJasonH/ImJasonH/tree/main/articles/oci-base-image-annotations

[2021-07-31 23:41] TheBotlyNoob commented on #5014
Same thing for me

[2021-08-01 00:31] aledbf commented on #5028
[Link to pre-defined annotations](https://github.com/opencontainers/image-spec/blob/main/annotations.md#pre-defined-annotation-keys) (already contains the mentioned annotation in the previous link)

[2021-08-01 07:42] apolopena opened #5030 "Gitpod is way too slow at 12:00am PDT 8/1/21"
### Bug description

A three minute task is taking over 15 minutes.

### Steps to reproduce

Intermittant. I believe that there is a time when certain clusters slow way down but I am not sure.

### Expected behavior

If a cluster is slowed way down due to unexpected disk usage _or_ expected cluster maintainence etc.. then the user should be notified/warned.

### Example repository

_No response_

[2021-08-01 10:36] gtsiolis commented on #3981
Re-opening as this is still an issue.

[2021-08-01 11:35] ntziolis commented on #942
As far as I understand the licensing for the marketplace, its not just that:
- gitpod (or other companies / editors ) are not allowed to pull from the marketplace directly for you
- but its generally disallowed to install the vsix into a non microsoft product even when you do so manually

The reason the download link is even there is for example so corporate customers can download a specific versi

[2021-08-01 11:42] ntziolis opened #5031 "Allow usage of private osix registry via the extension ui + gitpod file"
As of now the extension plugin seems hardwired to use the public open vsix registry. It would be greatly beneficial to also allow leveraging a private feed as well.

For starters it would be sufficient if it would be possible to override registry url via environment variables `GITPOD_VSIX_REGISTRY_URL` or similar, while defaulting to open vsix when not set.

This would allow users to host their ow

[2021-08-01 12:17] ghuntley commented on #5018
Yes, it is possible.

https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-core-on-linux?view=powershell-7.1

[2021-08-01 13:23] svenefftinge commented on #5016
Most of them are prebuilds. One that wasn't a prebuild had lots of `bash: eval: line 22: syntax error: unexpected end of file` [errors logged](https://cloudlogging.app.goo.gl/owvU1XpFFxgkiZg59) from `workspace` component.

[2021-08-01 13:28] #4041 closed

[2021-08-01 16:17] danBamikiya commented on #5018
@ghuntley Thanks!

[2021-08-01 16:17] #5018 closed

[2021-08-01 17:54] #3906 closed

[2021-08-01 17:54] #4050 closed

[2021-08-01 19:14] #4436 closed

[2021-08-01 19:24] csweichel commented on #4886
This is an issue with workspace-full itself. I've raised a PR in workspace-images to set `PIP_USER=no`

[2021-08-01 19:26] csweichel commented on #5016
We should have ws-manager-bridge correct such instances as part of its regular reconciliation loop.
If a workspace instance is stuck in `preparing` for longer than 2h, we would reset it to `stopped`.

[2021-08-01 19:26] csweichel commented on #5016
/schedule

[2021-08-02 00:26] #4019 closed

[2021-08-02 05:12] #3882 closed

[2021-08-02 05:22] shaal commented on #4936
Help please.
I noticed that after making changes in `.gitpod.Dockerfile`, even that the image-build process is running, and a prebuild seems to be running afterwards, the workspace itself is running all the `init` tasks, instead of receiving it from prebuild.

The solution I found, was initiating a manual prebuild (through `#prebuild` in the URL). It worked well whilw it was in a PR.
Now that I me

[2021-08-02 05:46] akosyakov commented on #4391
Removing etag will affect your experience a lot, you will loose settings and IDE won't be cached.

[2021-08-02 05:58] JohannesLandgraf commented on #4984
Hey @wulfthimm any ETA on the issue? Should be a very quick fix that currently unblocks our Segment efforts

[2021-08-02 07:19] akosyakov commented on #4971
It shoudl work exactly the same way in VS Code web version. Are you sure that you are switched to VS Code from Theia: https://gitpod.io/preferences

[2021-08-02 07:38] svenefftinge commented on #5016
Is this a dupe -> https://github.com/gitpod-io/gitpod/issues/4955

[2021-08-02 07:45] ad-si commented on #4971
![image](https://user-images.githubusercontent.com/36796532/127823080-4a1ed86c-5daf-4f50-a127-5846c12ec3b0.png)

This are the options I have when I'm in the source control tab:

![Screen Shot 2021-08-02 at 07 43 08Z](https://user-images.githubusercontent.com/36796532/127823235-aaf4fab7-1351-4980-a9bb-37415639dd66.png)

[2021-08-02 07:58] AlexTugarev commented on #4958
Reopening, as not all tasks are done yet.

[2021-08-02 08:02] gtsiolis opened #5034 "Add confirmation modal when deleting projects"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4970, we added the ability to delete projects. However, when you try to delete a project there's no confirmation for this action.

### Proposal

Add a confirmation modal when deleting projects. See also https://github.com/gitpod-io/gitpod/issues/4704#issuecomment-888334836. Cc @AlexTugarev

[2021-08-02 08:06] gtsiolis commented on #4704
Opened https://github.com/gitpod-io/gitpod/issues/5034 as a follow-up issue to address the comment in https://github.com/gitpod-io/gitpod/issues/4704#issuecomment-888334836. Cc @AlexTugarev

[2021-08-02 08:09] gtsiolis opened #5035 "Add triggerrer avatar information in prebuilds"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4970 we added prebuilds pages. However, these pages didn't include triggerrer avatar information for each prebuild. 🧑‍🚀

[2021-08-02 08:12] gtsiolis opened #5036 "Optimize SVG files used for icons"
### Problem to solve

Some SVG files used for icons that were recently added in https://github.com/gitpod-io/gitpod/pull/4970 could be optimized. 🧑‍🚀

Follow up issue from https://github.com/gitpod-io/gitpod/issues/4958, point 1. See also https://github.com/gitpod-io/gitpod/pull/4876#discussion_r675570841.

[2021-08-02 08:14] svenefftinge opened #5037 "Create a generic standalone vscode-web version"
Lots of people are interested in using vscode on the web. We should create a base branch in https://github.com/gitpod-io/vscode which only contains the bare minimum changes needed to run VS Code in a browser. Ideally our customizations are rebased on top of that.

[2021-08-02 08:24] gtsiolis opened #5038 "Improve performance for fetching active branches and prebuilds"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4970 we added _Branches_ and _Prebuilds_ pages for _Projects_.

However, these pages fetch a great amount data from third party providers which adds a noticeable delay during page load.

### Proposal

One improvement could be to add a loading state for fetching active branches and prebuilds.

Ideally, we could introduce some me

[2021-08-02 08:27] akosyakov commented on #4971
Hm, strange indeed, it appears there only if file is already staged. It seems to be some VS Code regression. Hope it gets resolved next versions.

You can try to select the change indicator in the editor ruler and use actions there:
<img width="1494" alt="Screenshot 2021-08-02 at 10 26 55" src="https://user-images.githubusercontent.com/3082655/127829074-139bb9ee-8b38-4559-b926-ec4c76f633d8.png">

[2021-08-02 08:27] gtsiolis commented on #4958
@AlexTugarev I'd suggest to open a couple of follow up issues for the remaining tasks instead of reopening a closed issue.  This can help us move faster and tackle issues separately if needed. What do you think?

1. Added https://github.com/gitpod-io/gitpod/issues/5036 for point 1.
2. Added https://github.com/gitpod-io/gitpod/issues/5035 for point 13.
3. Added https://github.com/gitpod-io/gitpod/i

[2021-08-02 08:40] AlexTugarev commented on #4958
@gtsiolis, sounds good!

[2021-08-02 08:47] jankeromnes commented on #5005
Updates:

- The [incident](https://www.gitpodstatus.com/incidents/7wn3vflm3pfh) was indeed resolved pretty fast. Hence, closing this issue (because new workspaces no longer get stuck in "Building Image").

- However, workspaces already stuck in "Building Image" are reported to be still stuck now (days later). This is a problem, and all stuck workspace instances need to be forced back to "stopped"

[2021-08-02 08:47] #5005 closed

[2021-08-02 10:45] rmchale opened #5040 "IPadOS 15 beta terminal does not render"
### Bug description

The text in the terminal window in iPadOS 15 does not render

### Steps to reproduce

Open a terminl window

### Expected behavior

The terminl window displays with a shell prompt

### Example repository

Any

### Anything else?

_No response_

[2021-08-02 11:32] #5020 closed

[2021-08-02 12:59] gtsiolis commented on #3639
Re-opening this as it's still an issue.

[2021-08-02 12:59] csweichel commented on #4988
this still a problem, but we don't have time for this right now.

[2021-08-02 13:00] gtsiolis commented on #3970
Re-opening this as it's still an issue. See also https://github.com/gitpod-io/gitpod/issues/3594.

[2021-08-02 13:00] gtsiolis commented on #3638
Thanks @jankeromnes for fix this in https://github.com/gitpod-io/gitpod/pull/3901 (see [diff](https://github.com/gitpod-io/gitpod/pull/3901/files#diff-289e945ddd7cbc2f8d552b92792839d7329dcd6f7001c6600136aee9bb2f32c9R75))!

[2021-08-02 13:53] shaal commented on #4936
I think I "solved" it, by making a change in `.gitpod.Dockerfile` file.

[2021-08-02 14:06] pawlean commented on #4936
I'm curious - what did you change?

[2021-08-02 14:19] shaal commented on #4936
Hi @pawlean I have a special comment in `.gitpod.Dockerfile`, exactly for these scenarios. I updated that comment to initiate an image rebuild.
https://github.com/shaal/DrupalPod/commit/9aedd250acfdb21dcd91aa38f89e034d5f808ca0#diff-880b52e6ca2bb12254505114898f0c6ba79405449754dfd236a7bee4fb871918R29

[2021-08-02 14:21] thaysom22 commented on #5005
Hi,
My workspace is still stuck after over 24h as shown in image above.
I cannot find a way to stop this workspace and it does not seem to time out as advised above.
Can someone help me manually stop my workspace?
Thanks

[2021-08-02 15:11] raymondkeogh commented on #5005
My workspace is stuck on Building Image also. This is the second time its happend and I had to start over with a new workspace last time. Should I just abandon this workspace as well?

[2021-08-02 17:55] shaal opened #5042 "[dashboard] Gracefully handle connection disposal"
### Bug description

Loading a workspace took very long time, at the end I got this:
![image](https://user-images.githubusercontent.com/22901/127903490-1a1f5c68-2a40-484d-9eb5-ad56c7279343.png)

### Steps to reproduce

It happened only once; But I've never seen it before.
I was able to open the URL in a new tab and it worked as expected.

This is the URL:
https://gitpod.io/#DP_PROJECT_NAME=feeds_e

[2021-08-02 18:47] rmchale commented on #5040
![DE210E2D-F742-4F22-AC04-758B5282B3FD](https://user-images.githubusercontent.com/265698/127909079-a74e3781-5be0-408d-81d0-20fa7a619ae4.jpeg)

[2021-08-02 19:23] jankeromnes commented on #5042
Hi @shaal! Thanks for raising this issue. 😁

I believe that "Connection got disposed" is an error that typically gets logged by the front-end when it cannot reach the back-end at all (e.g. when there is an Internet outage, or even a brief network flake out).

I was able to reproduce it by loading the dashboard, then turning off my laptop wifi, and then trying to navigate to a different page & back

[2021-08-02 19:52] jankeromnes commented on #4661
Hmm, but does this mean that we no longer want to migrate the "old style" entries in the DB? (I.e. close this issue for now.)

From really far away, it seems unnecessary to me to "automagically" create new Projects & Teams for current installations. Better let users do that action explicitly (it's easy to create Project even if you already have the app installed, right?)

Are there really two path

[2021-08-02 23:14] markfirmware commented on #4132
.

[2021-08-03 04:57] akosyakov commented on #5042
Probably dashboard should handle reconnections more gracefully.

[2021-08-03 04:58] akosyakov commented on #5040
@rmchale Have you tried to resize the terminal?

[2021-08-03 05:09] akosyakov commented on #4967
Hm, I cannot reproduce. Just to clarify:
- you do changes to .gitpod.yml
- you commit and push them (without this step your changes won't be applied)
- you start a new workspace and it fails to start, correct?

[2021-08-03 05:13] ghuntley commented on #4859
Can you please generate a [support bundle](https://github.com/gitpod-io/support-bundle) and then send it over to the address listed in the README?

Specific things to check:

- contents of `secrets/https-certificates` contains your letsencrypt certificates and that they are valid certificates.

From https://www.gitpod.io/docs/self-hosted/latest/configuration/ingress

- the k8 secret has been gener

[2021-08-03 05:14] #4628 closed

[2021-08-03 05:15] ghuntley commented on #4260
👋 Howdy folks; v0.10.0 has been released and we recommend upgrading. Closing out this issue please open a new one related to v0.10.0 if required.

[2021-08-03 05:15] #4260 closed

[2021-08-03 05:20] ghuntley commented on #3647
👋 The GCP and AWS installer has been retired and as of v0.10.0 we recommend using Helm using the instructions at https://www.gitpod.io/docs/self-hosted/latest/installation. Please upgrade and create a new issue if required 🧡

[2021-08-03 05:20] #3647 closed

[2021-08-03 05:20] rmchale commented on #5040
![CAE63598-FD83-4078-870C-6D5198CFEB14](https://user-images.githubusercontent.com/265698/127962028-30b5bd1a-f414-4014-80c1-eaf7a2f93e3a.jpeg)
Resizing had no effect

[2021-08-03 05:25] ghuntley commented on #3695
👋 @ryo-egch checking in as this issue as aged. Are you still experiencing problems and have you tried v0.10.0?

[2021-08-03 05:26] ghuntley commented on #4061
/assign @pawlean 👀

[2021-08-03 05:33] ghuntley commented on #4874
Can you please install v0.10.0 and report back? https://www.gitpod.io/docs/self-hosted/latest/installation

[2021-08-03 05:34] ghuntley commented on #3909
Howdy @pavan-tri can you please try v0.10.0 and report back? We have put together an EKS guide over at https://www.gitpod.io/docs/self-hosted/latest/installation

[2021-08-03 05:36] #4574 closed

[2021-08-03 05:36] ghuntley commented on #4393
Howdy @tedyage can you please try v0.10.0 and open a new issue if required. See https://www.gitpod.io/docs/self-hosted/latest/installation for instructions.

[2021-08-03 05:36] #4393 closed

[2021-08-03 05:38] ghuntley commented on #4109
👋 @ranzbak. Some time has gone by - can you please upgrade to v0.10.0 using the instructions at https://www.gitpod.io/docs/self-hosted/latest/installation and then we can continue troubleshooting.

[2021-08-03 05:46] ghuntley commented on #4053
👋 @cyrilcros and @flickerfly.

There's some mighty fine suggestions right there and some of them have been incorporated into the recent v0.10.0 release. Let's keep this issue open until more of your suggestions are implemented. If you would like to help out with contribution then 🧡 let me know how I can help.

ICYMI some of the improvements shipped over the last two weeks:
- [generating technical

[2021-08-03 05:54] AlexTugarev commented on #4661
have you tried that already?

Given the known issues with "OAuth vs GH-App", I'd see a fraction of installers not being able to see their installation in the New Project wizard. Importing as personal Project would remove that risk.

Which complexity do you mean? We already have the association of prebuilds to projects in place, the rest remains as is.

[2021-08-03 07:52] alxmhe commented on #4967
Two ways I triggered this bug (with the classic way of configuring .gitpod.yml).

1. Clone a repo, create the .gitpod.yml file, do not commit it (maybe because it's not my repo), restart container, .gitpod.yml is not read.

2. Clone a repo with a .gitpod.yml already configured (it's versioned!), the workspace seems to be created correctly, close the workspace, reopen the workspace, .gitpod.yml is

[2021-08-03 08:25] csweichel commented on #5016
/assign @MrSimonEmms

[2021-08-03 08:56] pawlean commented on #5005
Hey @raymondkeogh @thaysom22 - can you tell me the workspace ID so that I have a look at this for you?

[2021-08-03 09:05] raymondkeogh commented on #5005
Hi, the space is https://gitpod.io/start/#copper-buzzard-mboo124m. It says
there's not been any activity on it in 4 days but it was less than 48 hours
since i'd worked on it.

Thanks in advance,

Ray

On Tue, Aug 3, 2021 at 9:56 AM Pauline P. Narvas ***@***.***>
wrote:

[2021-08-03 09:13] JanKoehnlein commented on #4701
/assign @laushinka

[2021-08-03 09:41] csweichel commented on #3734
Passing `--shm-size=256m ` to the `docker run` command works as expected.

![image](https://user-images.githubusercontent.com/3210701/127994443-eda0ccad-5847-4a04-9f43-4feaa72cbf3f.png)

[2021-08-03 09:41] #3734 closed

[2021-08-03 09:46] csweichel commented on #4967
That's expected behaviour. Gitpod will only ever read a `.gitpod.yml` (w.r.t. to the image used for the workspace) from the repository. I.e. changing the image in `.gitpod.yml` in a running workspace, and restarting that workspace will not see the `image` change applied.
Note: this is by design. Workspaces remain "stable" across restarts.

Regarding 2: I've tried to reproduce the behaviour using h

[2021-08-03 09:46] #4967 closed

[2021-08-03 09:46] csweichel commented on #5023
/schedule

[2021-08-03 10:20] JohannesLandgraf commented on #4919
What is the next step here? Schedule to Groundwork?

[2021-08-03 10:53] pawlean commented on #4061
I'll add this to my list of videos to re-create. 👍🏼

[2021-08-03 11:49] lechien73 commented on #5014
My current workaround has been to edit `settings.json` and add the following new settings:

[code]

[2021-08-03 12:40] pawlean commented on #5005
Hey Ray! We've stopped that workspace for you now. Can you just check if you're able to restart your workspace? Also, how many hours you have left on your plan?

[2021-08-03 13:07] nightshade427 opened #5045 "VPN/PPP access"
I have a need to access remote data securely while in development. Need support for ppp/vpn to be able to access this data.

[2021-08-03 13:09] jasonrandrews opened #5046 "help with gitpod self-hosted on k3s"
### Bug description

I'm trying to follow the [example for self-hosted on k3s](https://github.com/gitpod-io/gitpod/tree/main/install/docker/examples/gitpod).

I have generated the random keys and put them in values/minio-secrets.yaml and generated the certificates for my custom domain and put them in the certs/ directory.

After running docker-compose up I can connect to the domain with my browser

[2021-08-03 13:21] MrSimonEmms commented on #4890
MySQL 8 authentication has changed which causes a few issues with NodeJS as they've changed the plugin from `mysql_native_password` to `caching_sha2_password`. None of the MySQL plugins for NodeJS support this new authentication mechanism.

There's a couple of workarounds:
- if you have access to the run command (eg, if it's in a Docker container), append the command with `--default-authentication

[2021-08-03 13:41] VinayBaviri opened #5047 "Gitpod + Flutter support"
Hii guys,

I recently started flutter and moved it to gitpod. Firstly i faced issue with syntax highlighting. By seeing the previous posts, added extensions and its works fine. But now, i can't able to navigate in the code base. Ex: If i use className.methodName() in one file and if i try to goto method definition by ctrl+click on that method name. Its not working. Also, flutter auto suggestions a

[2021-08-03 13:43] VinayBaviri commented on #792
Any suggestions on #5047 !!

[2021-08-03 13:44] VinayBaviri commented on #489
Any suggestion on #5047 !!

[2021-08-03 13:44] VinayBaviri commented on #114
Any suggestions on #5047 !!

[2021-08-03 14:03] ghuntley commented on #5046
Howdy Jason!

The `gitpod/install/*` folder is in a state of flux at the moment and I would recommend avoiding it - apologies for the time wasted will keep this issue open to track the need for improvements. Here are three solid resources for Gitpod Self-Hosted v0.10.0 with k3s:

- https://github.com/corneliusludmann/gitpod-k3s-droplet (what I use personally!)
- https://www.gitpod.io/docs/self-hos

[2021-08-03 14:12] thaysom22 commented on #5005
Hi @pawlean

The id of my stuck worskpace is: #tan-armadillo-vlqwczfi

It has now been stuck for over 48h.

If you are able to stop it manually for me that would be great!

Thanks

[2021-08-03 14:23] csweichel commented on #4914
/assign

[2021-08-03 14:26] ghuntley commented on #5045
👋 We recommend https://tailscale.com/kb/1111/ephemeral-nodes/

[2021-08-03 14:32] csweichel commented on #4914
### The good news
There's a ~fix~ workaround: pushing the repo to a new remote, rather than re-using `origin` works as expected.
![image](https://user-images.githubusercontent.com/3210701/128032708-51daae2e-2f4c-42ea-b8d4-090502a6011e.png)

### Why is this?
We recently started cloning repositories with `--filter=blob:none` (see [docs](https://git-scm.com/docs/git-clone#Documentation/git-clone.txt-

[2021-08-03 14:51] nightshade427 commented on #5045
I have existing vpn I need to connect to.

On Tue, Aug 3, 2021, 9:26 AM Geoffrey Huntley ***@***.***>
wrote:

[2021-08-03 15:36] raymondkeogh commented on #5005
Hi Pauline, That's worked. The workspace has started fine. It lost a fair
bit of code though. Is there any way of retrieving it? I hadn't pushed it
to github yet.

I'm on the unleashed plan so I think it's unlimited hours.

Cheers,

Ray

On Tue, Aug 3, 2021 at 1:40 PM Pauline P. Narvas ***@***.***>
wrote:

[2021-08-03 16:15] pawlean commented on #5005
I've raised this for someone to manually stop it for you - hang tight! In the meantime, it might be worth also starting a new workspace so that you can continue coding.

Unfortunately, that state is the last backup for your workspace before it got stuck. So sorry about this 😞 We are currently working on making this more reliable. https://github.com/gitpod-io/gitpod/issues/5016

[2021-08-03 18:14] raymondkeogh commented on #5005
Ok Thanks for your help anyway. All the best!

On Tue, Aug 3, 2021 at 5:16 PM Pauline P. Narvas ***@***.***>
wrote:

[2021-08-03 18:19] meganrogge commented on #5040
I pushed the workaround for this yesterday, to turn off terminal.integrated.gpuAcceleration.

[2021-08-03 20:29] jankeromnes commented on #5005
Indeed, sorry about that. Contrary to what we expected, the workspaces stuck in "Building Image" remained stuck indefinitely.

That's why it's important that we (Gitpod) focus on resolving the problem of stuck workspaces more generally in https://github.com/gitpod-io/gitpod/issues/5016

But, meanwhile, we're happy to manually unblock your workspaces upon request.

Thus, I have manually stopped the

[2021-08-03 20:34] mikenikles commented on #4914
Looking at the video, it feels to me that the suggested workflow should be to fork the repo before opening a Gitpod workspace. This avoids the issue of changing the remote URL entirely and is less work for people (compared to creating a workspace, creating a new GitHub repo, copying the remote URL, changing the remote URL in the workspace).

@ghuntley let's add a "Troubleshooting" section to the n

[2021-08-04 05:30] akosyakov commented on #4914
It means what any workflow from VS Code UI which involves clicking on fork notification is broken? i.e. after that a user cannot pull change anymore?

[2021-08-04 05:33] akosyakov commented on #5040
@meganrogge thank you for the hint!

@rmchale Could you try with `"terminal.integrated.gpuAcceleration": "off"` in your settings?

[2021-08-04 05:34] akosyakov commented on #4152
It was resolved already.

[2021-08-04 05:34] #4152 closed

[2021-08-04 05:50] Kaushik-Kalesh commented on #4840
@akosyakov ok thank you

[2021-08-04 06:23] csweichel commented on #4914
Not sure - does the VS Code fork action change the URL of the `origin` remote?

[2021-08-04 07:14] akosyakov commented on #4914
Yes, whenever you start from the repo and you cannot push, you will be notified to fork and it will update remotes. It is quite typical flow btw while contributing to external projects. As well as there are user cases when projects using forks to contribute but start from the main repo to reuse prebuilds: https://github.com/gitpod-io/gitpod/issues/4588 I hope we are not underestimating impact on u

[2021-08-04 07:20] akosyakov commented on #4914
It won't allow users to make use of prebuilds.

[2021-08-04 07:51] MrSimonEmms commented on #4919
I've done this sort of thing a few times. [CommitLint](https://github.com/conventional-changelog/commitlint) is very useful for enforcing the standards and then can use [Semantic Release](https://semantic-release.gitbook.io/semantic-release/) to generate a changelog as well as generating a new version number.

One thing to note - Semantic Release either sets versions to v1.0.0 or above, or an RC v

[2021-08-04 08:25] pawlean commented on #5027
I've been able to replicate this issue myself @danBamikiya - thanks for raising it. I've marked it as a bug for Engineering to have a closer look at :)

[2021-08-04 09:09] csweichel commented on #4914
In case they need to fork the repo afterwards, that is. Not prebuilds in general I'd think.

[2021-08-04 09:50] Dids commented on #1191
In addition to these, I also had to use the following:
[code]

[2021-08-04 10:58] #4920 closed

[2021-08-04 11:09] gtsiolis opened #5050 "Change default page to projects for personal accounts"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4966#discussion_r681651234, we've added support for having projects for individuals (personal accounts). 🙌

We'd like to default to Projects for both teams and personal accounts, see relevant discussion[[1]](https://github.com/gitpod-io/gitpod/issues/4920#issuecomment-886538402) and relevant code review comments[[2](https://git

[2021-08-04 11:35] etmmafl opened #5053 "Unable to delete workspace olive-eel-5r07flcd after 6 days (and counting)"
### Bug description

The DELETE button doesn't work on this workspace

![image](https://user-images.githubusercontent.com/19225255/128174020-55343d35-14b3-48cb-94a3-967163cd2614.png)
![image](https://user-images.githubusercontent.com/19225255/128173975-d93cf7dd-e578-4faa-b41a-ce4a9f460f51.png)

### Steps to reproduce

not sure

### Expected behavior

just delete the workspace

### Example reposito

[2021-08-04 11:48] JanKoehnlein commented on #4793
/assign @laushinka

[2021-08-04 11:48] JanKoehnlein commented on #4761
/assign @laushinka

[2021-08-04 12:10] #5002 closed

[2021-08-04 12:13] JanKoehnlein commented on #4081
After trying a lot of things without success, @akosyakov and me decided to leave it for now.

The main use-case is that a newcomer coming from a GitHub PR who hasn't granted the necessary scopes to GitHub for the GH PR extension yet ('read:user', 'user:email', 'repo') will have no hint where to start. The best way would be to make them sign up and then open the GH PR view (the detail view with the

[2021-08-04 12:15] danBamikiya commented on #5027
@pawlean Thanks!

[2021-08-04 12:45] #4701 closed

[2021-08-04 14:06] pavan-tri commented on #3909
Thanks for the update. I will keep you posted.

[2021-08-04 14:50] csweichel commented on #4706
how would we do this for registry-facade? We need to have the container runtime access the kubernetes pod.

[2021-08-04 15:12] csweichel commented on #4919
/schedule

[2021-08-04 16:51] izzqz opened #5057 "No syntax highlighting with broken extensions"
### Bug description

When I open example pod, https://gitpod.io/#https://github.com/gitpod-io/template-typescript-node. Syntax highlighting broken. And extensions page has infinity loading.

![image](https://user-images.githubusercontent.com/35831725/128219045-8fc0eb55-15d5-41e5-914e-31aadf2be523.png)

Looks the same as closed https://github.com/gitpod-io/gitpod/issues/2695, https://github.com/git

[2021-08-04 18:52] rmchale commented on #5040
Seemed to help.  I downgraded and will try more next beta.

[2021-08-05 01:15] alesanchezr commented on #4914
Our biggest challenge is always that we work with beginners or junior devs, they are not familiar with any flow and we try to reduce friction to the lowest.

Our strategy was to create repository templates allowing on-click setup by sharing a link like `gitpod.io#<template_repo_url>`. After the new workspace was initialized, students were asked to push to their own repo (by updating or adding the

[2021-08-05 02:20] adeewu opened #5064 "containerd mount is invalid"
the error is
[code]

is suport debug in gitpod?

[2021-08-05 05:10] akosyakov commented on #5057
Please check that you don't use any add blocking extensions, firewalls or antivirus software which can intervene with traffic.

[2021-08-05 05:10] akosyakov commented on #5057
I think it is a dup of https://github.com/gitpod-io/gitpod/issues/4391 Please reopen if not

[2021-08-05 05:10] #5057 closed

[2021-08-05 05:12] akosyakov commented on #5047
@VinayBaviri Can you share your repo?

[2021-08-05 05:59] ryo-egch opened #5059 "Error when using helm install"
### Bug description

following document, https://www.gitpod.io/docs/self-hosted/latest/installation/on-kubernetes  running

showed error
```Error: parse error at (gitpod/templates/proxy-configmap.yaml:43): function "bcrypt" not defined```

### Steps to reproduce

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?
GKE cluster
 - currentMasterVersion: 1.2

[2021-08-05 07:07] astrojuanlu commented on #1031
Naughty bot marking "one of the most-important bugs with Gitpod.io 🙃" as stale, grumpy subscriber leaving an annoying comment to revert ;)

[2021-08-05 08:09] Dattito opened #5060 "Github Copilot says the user is not on the whitelist"
### Bug description

I installed github copilot with the .vsix file. On my home machine, I can easily use Copilot, but installed on Gitpod, the extensions said I would not be whitelisted (I am whitelisted). I think the communication with Github fails.

### Steps to reproduce

- Installing Github Copilot via .vsix file (at https://marketplace.visualstudio.com/items?itemName=GitHub.copilot)
- Click

[2021-08-05 08:43] pawlean commented on #5053
I was unable to replicate this issue but I've seen that another user has +1 your issue so I've added a bug label. Engineering should be able to investigate further, thanks!

[2021-08-05 08:49] ChristinFrohne opened #5061 "remove deleted users from customer.io"
**Problem**
Currently, we just mark deleted users with "deleted at" in customer.io. By that, we keep their "dead" profiles and also continue paying for them. But more importantly, according to GDPR, we are obliged to delete all user data after their deletion "Under GDPR, data controllers and processors are obliged to return or delete all personal data after the end of services, or on expiry of a c

[2021-08-05 08:49] jankeromnes commented on #5060
Hi @Dattito!

Thank you for reporting this problem. Is it possible that you're using a different GitHub account on your home machine vs when logging into Gitpod? Otherwise, you're probably right, maybe it's the communication between the extension and GitHub that breaks somehow.

On a side note, did you know that you can also use Gitpod via your local VS Code on your home machine? You can do this w

[2021-08-05 08:51] Dattito commented on #5060
(Nice to now that I can use Gitpod from my personal VS-Code!)

I only have one GitHub-Account and I am surely logged in with this account.

[2021-08-05 09:11] Dattito opened #5062 "Terminal is unvisible"
### Bug description

When opening Gitpod on my iPad, the terminal is unvisible:
[![image](https://www.linkpicture.com/q/5F1999BA-7002-43B8-B3A4-BD5B93FA4F22.jpeg)](https://www.linkpicture.com/view.php?img=LPic610baacb76c881295080329)
I tried different Color-Styles, but nothing changed.
Maybe it is because I use iPadOS 15 beta?

### Steps to reproduce

- Open GitPod on iPad

### Expected behavior

[2021-08-05 09:13] akosyakov commented on #5062
duplicate of https://github.com/gitpod-io/gitpod/issues/5040

[2021-08-05 09:13] #5062 closed

[2021-08-05 09:20] gtsiolis opened #5063 "Can not delete projects for personal accounts"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4966#discussion_r681651234, we've added support for having projects for individuals (personal accounts). 🙌

However, deleting a project for personal accounts does not work as expected and returns an error in console.

[code]

Cc @jankeromnes @AlexTugarev

[2021-08-05 09:20] akosyakov commented on #5060
VS Code desktop support is very experimental at the moment, you can follow this steps to try: https://github.com/gitpod-io/gitpod/issues/1781

[2021-08-05 09:29] ghuntley commented on #5064
I've been able to reproduce this in https://github.com/ghuntley/gitpod-dotnet-csharp-breakpoints.

[code]

The `dotnet` application is installed in `/home/gitpod/dotnet/dotnet`.

[2021-08-05 09:41] akosyakov commented on #5064
Also reported by the community:
- https://community.gitpod.io/t/cannot-run-dotnet-tool-restore/4388
- https://community.gitpod.io/t/frequent-permission-denied-when-using-dotnet-core/1473

[2021-08-05 09:50] gtsiolis opened #5065 "Prebuilds are not always associated with the correct project"
### Problem to solve

@AlexTugarev mentioned that prebuilds are not always associated with the correct project. This is visible only with multiple projects (usually more than two). Cc @jankeromnes

[2021-08-05 09:51] gtsiolis commented on #5065
@AlexTugarev I could not reproduce this but let's keep this open to track the issue and keep an eye in case this happens again. 👀

[2021-08-05 09:53] AlexTugarev commented on #5065
@gtsiolis, the effect of this bug is that you won't see prebuilds on https://gitpod-staging.com/gitpod-io/gitpod/prebuilds

[2021-08-05 09:58] gtsiolis commented on #5065
Ah, ok! Thanks for clarifying @AlexTugarev! I can confirm this! ✔️

[2021-08-05 10:47] gtsiolis opened #5066 "Allow users to delete teams"
### Problem to solve

The upcoming changes for Teams & Projects do not include a way to delete a team.

### Proposal

In the long run, having team settings could be interesting and also a good place to surface a team deletion action. However, a minimum viable change (MVC) for this could be to a) add a more actions button next to the primary action button on the team page (projects list) and b) tri

[2021-08-05 10:49] gtsiolis opened #5067 "Allow users to rename teams"
### Problem to solve

The upcoming changes for Teams & Projects do not include a way to rename a team.

### Proposal

In the long run, having team settings could be interesting and also a good place to surface a team rename action. However, a minimum viable change (MVC) for this could be to a) add a more actions button next to the primary action button on the team page (projects list) and b) trigg

[2021-08-05 11:06] ghuntley commented on #5059
👋 @ryo-egch can you please share your `values.custom.yaml` via https://gitpod.sendsafely.com/dropzone/support? Then let me know the file upload identifier!

[2021-08-05 11:28] gtsiolis opened #5068 "Allow instance admins to impersonate users"
### Problem to solve

For instance admins, it could be useful to impersonate users so that they can see what a user sees. This can be helpful for debugging issues or helping out users by taking actions on behalf of the user.

See also [relevant discussion](https://gitpod.slack.com/archives/C01KGM9C9BQ/p1626163794181500) (internal). Cc @svenefftinge @geropl @jankeromnes

### User Flow

1. An instan

[2021-08-05 11:30] VinayBaviri commented on #5047
Hii @akosyakov ,

created one sample repo. U can find here
https://github.com/VinayBaviri/flutter-app/blob/master/FLUTTER/lib/main.dart.

Briefly,
created one sample widget and using inside of main.dart file. Now i want to navigate to sample widget definition from main.dart file it self.

[2021-08-05 11:35] #4950 closed

[2021-08-05 11:36] gtsiolis opened #5069 "Allow instance admins to manage teams and projects"
### Problem to solve

For instance admins, it could help to surface all instance teams and projects in the _Admin_ pages as this could be helpful for debugging issues or helping out users.

[2021-08-05 11:37] gtsiolis commented on #5066
Hi @ajhalili2006! Currently this is not possible but it definitely makes sense to add this feature along the way. Added https://github.com/gitpod-io/gitpod/issues/5069 to track this feature request. 💯

We currently only surface _Users_ and _Workspaces_ on the _Admin_ pages. We could consider surfacing _Teams_ and _Projects_ in the future as this could be helpful for debugging issues or helping out

[2021-08-05 13:10] ArthurSens opened #5070 "Agent Smith LimitCPUUse method doesn't do anything"
### Bug description

Agent-smith was rolled out with an empty method.

https://github.com/gitpod-io/gitpod/blob/3c9aa88dd0eea2c04d32c6863f081cf22bd2d33d/components/ee/agent-smith/pkg/agent/actions.go#L47-L50

Currently, processes that are penalized with this action won't be penalized at all

### Steps to reproduce

Not applicable

### Expected behavior

Processes should be penalized

### Example r

[2021-08-05 13:19] gtsiolis opened #5071 "Redirect new users to /new"
### Problem to solve

In the upcoming **Teams & Projects** feature, we'd like to also introduce an onboarding flow that helps users get a well-configured, prebuilt, ready-to-code dev environment for their project. See also https://github.com/gitpod-io/roadmap/issues/8. 🗺️

Back in https://github.com/gitpod-io/gitpod/pull/4443, we've added the first bits of this new onboarding flow (`/new`) but thi

[2021-08-05 13:51] laushinka commented on #4793
This is the mockup that @ChristinFrohne provided:
<img width="721" alt="Bildschirmfoto 2021-08-05 um 15 10 23" src="https://user-images.githubusercontent.com/8015191/128361513-9b538195-823e-42a9-a164-b00c27ea9b53.png">

[2021-08-05 14:09] gtsiolis opened #5072 "Highlight active team on the teams dropdown list"
### Problem

Currently, when opening the teams dropdown list there's no indicator for which team has been selected within the dropdown list.

This is a follow up issue from https://github.com/gitpod-io/gitpod/issues/4471.

### Proposal

Use `bg-gray-50` for indicating the actively selected team and `bg-gray-100` for the hover state.

| Active | Hover |
|-|-|
| <img width="401" alt="dropdown-active

[2021-08-05 14:10] gtsiolis commented on #4471
Opened follow up https://github.com/gitpod-io/gitpod/issues/5072 for point [3].

[2021-08-05 14:17] gtsiolis opened #5073 "Fix overflowing corners on the teams dropdown menu"
### Problem to solve

Currently, the teams dropdown menu surfaces some overflowing corners.

| Top | Bottom |
|-|-|
| <img width="615" alt="Screenshot 2021-08-05 at 5 15 20 PM" src="https://user-images.githubusercontent.com/120486/128365452-b1f11494-f466-45f5-a03d-3e38bd164639.png"> | <img width="620" alt="Screenshot 2021-08-05 at 5 15 24 PM" src="https://user-images.githubusercontent.com/120486/1

[2021-08-05 14:48] gtsiolis commented on #4471
Added https://github.com/gitpod-io/gitpod/pull/5074 to resolve points [1] and [2].

[2021-08-05 15:08] #4471 closed

[2021-08-05 15:39] JanKoehnlein commented on #4919
/assign

[2021-08-05 15:45] gtsiolis opened #5075 "Improve fetching long list of repositories"
### Problem to solve

Currently, during the onboarding flow, fetching all repositories can take a while which can be misleading for some users and affect user experience.

### Proposal

We could introduce an initial loading state when the request takes longer than X amount of time, paginate the list of repositories, and load more list entries with infinite scrolling.

Cc @AlexTugarev

TBD (To be d

[2021-08-05 15:52] #5065 closed

[2021-08-05 15:53] svenefftinge opened #5076 "Derive Teams & Projects from installations and existing prebuilds"
We want to create teams and projects for existing installations and prebuilds.
- One team per installation with only the installation user
- one project per repository for which we have created prebuilds in the past.
- update the prebuilds and assign them to the project

[2021-08-05 16:30] jankeromnes commented on #4948
Happy to take this on next week! Also, happy to collaborate on this (e.g. by reviewing small PRs in case you want to fix small parts of this 🏓)

[2021-08-05 16:32] gtsiolis commented on #4948
LET'S DO THIS ! 🏀

[2021-08-05 16:41] gtsiolis opened #5078 "Add support for importing GitLab projects"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4443, we added the first iteration for importing projects from GitHub.

### Proposal

We'll also need to add support for importing projects from GitLab before shipping this featrure. 🚢

Cc @AlexTugarev

[2021-08-05 17:49] csweichel commented on #5070
/schedule

[2021-08-05 17:52] csweichel opened #5079 "Suspicion: broken IWS after ws-daemon restart"
### Bug description

It seems that when ws-daemon restarts it either doesn't serve IWS of existing workspaces, or workspacekit does not reconnect to the new IWS.

This results in non-functional Docker daemon and failing workspace teardown. Probably the cause of #4955

### Steps to reproduce

1. Start a workspace
2. Restart ws-daemon
3. Try `docker run ...`

### Expected behavior

_No response_

##

[2021-08-05 21:09] izzqz commented on #5057
Yeah, it's a dub. Removing ETag filtering in ClearURLs works well.

[2021-08-05 21:19] izzqz commented on #4391
Now, the only way to fix this, is disabling ETag filtering completely In ClearURLs settings.

This issue is also described in the extension repo https://gitlab.com/KevinRoebert/ClearUrls/-/issues/977

[2021-08-05 22:20] howard-pinsley-lab49 commented on #5064
We're impacted by this bug as well.

[2021-08-05 22:21] gtsiolis commented on #4469
Cross-posting a comment from a [relevant discussion](https://gitpod.slack.com/archives/C021Q4BL8E8/p1625064176314500?thread_ts=1625063886.313200&cid=C021Q4BL8E8) (internal):

[2021-08-06 03:48] ryo-egch commented on #5059
I upload values.custom.yaml I made;  # 4ZK6-DB41

[2021-08-06 05:31] akosyakov commented on #4918
It is out: https://code.visualstudio.com/updates/v1_59 Time for first upgrade.

[2021-08-06 05:40] akosyakov commented on #4918
It is blocked though by refactorings of the server and extensions.

[2021-08-06 05:44] jankeromnes commented on #4469
I personally think this looks much less nice. I'm quite happy to have https://github.com/jankeromnes, and would find GitHub much less nice if I had to use https://github.com/jankeromnes-o9yti4go instead

[2021-08-06 06:06] csweichel commented on #4992
Will close for now - let's re-file/re-open this once we have more details on the failure mode.

[2021-08-06 06:06] #4992 closed

[2021-08-06 06:33] AlexTugarev opened #5084 "Logs of completed prebuilds are not loaded due to CORS issues"
### Bug description

Browser agents won't load prebuild logs from pre-signed URL like

`https://storage.googleapis.com/gitpod-prod-user-000000000000000000000000000/workspaces/teal-sadf-asdf/instances/000000-11111-22222-33333/logs/0?Expires=1628177023&GoogleAccessId=prod-meta-eu01-storage%40gitpod-191109.iam.gserviceaccount.com&Signature=`

CORS error from the network tab is `MissingAllowOriginHead

[2021-08-06 06:56] csweichel commented on #5064
I'm absolutely amazed to see dotnet/csharp digging this path out. It's something that should not necessarily be possible.

Either way, this is not so much a regression in containerd but most likely a bug in dotnet, or our own workspacekit. I have yet to find out where this path is coming from - I'm looking around https://github.com/dotnet/roslyn/blob/1cca63b5d8ea170f8d8e88e1574aa3ebe354c23b/src/Co

[2021-08-06 07:04] csweichel commented on #5064
I suspect it's the [`Assembly.Location`](https://docs.microsoft.com/en-us/dotnet/api/system.reflection.assembly.location?view=net-5.0#System_Reflection_Assembly_Location) used to determine the location of the `Utilities`, which in turn is used to try and find the `dotnet` binary.

I don't expect the code that implements this location bit to be open source, no?

I've seen there's a [`DOTNET_HOST_PA

[2021-08-06 07:29] csweichel commented on #5064
/schedule

[2021-08-06 07:29] csweichel commented on #5064
/assign

[2021-08-06 07:30] laushinka commented on #4793
@ChristinFrohne A couple of things:
1. I have updated the Scope above. Please take a look and confirm that they are as you expect.
2. Now that we have a "Save preferences" button, what behavior do you expect once the button is clicked?

[2021-08-06 07:52] ajhalili2006 commented on #5084
Does Google Cloud allows the access of files in a storage bucket as part of CORS request or do we need to do some NGINX/Caddy proxy tricks?

[2021-08-06 08:09] csweichel commented on #4955
probably caused by #5079 - closing this one for now. if we find that was not the cause we'll re-open.

[2021-08-06 08:09] #4955 closed

[2021-08-06 08:10] csweichel commented on #5079
/schedule

[2021-08-06 08:18] csweichel commented on #4918
/schedule

[2021-08-06 08:22] jankeromnes opened #5086 "Fix rounded corner / background gap in ContextMenu"
### Bug description

There is a breeze coming through this gap, and it should be fixed, ideally before the winter. 🌬️ 🥶

From https://github.com/gitpod-io/gitpod/pull/5077#discussion_r684024685 :

### Steps to reproduce

1. Click on any DropDown / ContextMenu in the dashboard
2. Zoom in
3. Feelsbadman

### Expected behavior

3. Feelsgoodman

### Example repository

https://github.com/gitpod-io/git

[2021-08-06 08:23] ghuntley commented on #5064
It is indeed open-source under MIT over at https://github.com/dotnet/runtime.

I've got some contacts, going to ask. Park for 12 hours?

[2021-08-06 08:26] #4622 closed

[2021-08-06 08:26] #5072 closed

[2021-08-06 08:26] #5073 closed

[2021-08-06 08:35] ghuntley commented on #5064
Attached you will find a [msbuild binlog](https://msbuildlog.com/):

- [debug.binlog.zip](https://github.com/gitpod-io/gitpod/files/6944302/debug.binlog.zip)

Here's how you configure vscode to generate them @csweichel:

<img width="643" alt="2021-08-06_18-34-21" src="https://user-images.githubusercontent.com/127353/128482106-1aa44624-ca10-4987-9387-ae50e804572a.png">

[2021-08-06 08:45] ghuntley commented on #5064
From https://live.msbuildlog.com/ and the attached binlog:

<img width="1436" alt="2021-08-06_18-43-42" src="https://user-images.githubusercontent.com/127353/128483411-f99f1738-e54d-4955-b7f2-f53fc5102da3.png">

<img width="1311" alt="2021-08-06_18-44-37" src="https://user-images.githubusercontent.com/127353/128483497-dd357c0c-1325-48ad-a4b7-53846828e1bf.png">

[2021-08-06 08:47] ghuntley commented on #5064
If you want to repro this then click this link https://gitpod.io/#https://github.com/ghuntley/gitpod-dotnet-csharp-breakpoints

[2021-08-06 08:52] akosyakov opened #5087 "bogus http status code for payload too large error"
### Bug description

I'm hitting the payload too large error for UI state, but the server does not return a proper error code, but internal server error:
<img width="1046" alt="Screenshot 2021-08-06 at 10 51 01" src="https://user-images.githubusercontent.com/3082655/128484386-dd5c8dc2-06c2-4847-8788-320c4bd71606.png">

We should fix the error code and increase allowed payload size of UI state.

##

[2021-08-06 08:56] ghuntley commented on #5064
Setting `DOTNET_HOST_PATH` does not work; the containerd value is replaced.

[code]

v5.0.205 of .NET

[code]

[2021-08-06 09:43] svenefftinge commented on #5076
We decided to not do this, but let users create projects themselve

[2021-08-06 09:43] #5076 closed

[2021-08-06 09:46] akosyakov commented on #4199
I just had a workspace stopped and then stuck in openning screen. Logs: https://console.cloud.google.com/logs/query;cursorTimestamp=2021-08-06T09:37:33.103647Z;query=%22lavender-fowl-d3u2v4se%22%0A-resource.labels.container_name%3D%22ws-proxy%22%0Atimestamp%3D%222021-08-06T09:37:31Z%22%0AinsertId%3D%22mco1lqloe1xabtgg%22?project=gitpod-191109 Basically IDE process was stopped and then could not st

[2021-08-06 09:57] ghuntley opened #5088 "Start recovery environment if `image:` in .gitpod.yml is incorrect"
Hey folks,

Currently, if something is wrong with the .gitpod.yml the user experience is this.

<img width="1004" alt="2021-08-06_19-55-50" src="https://user-images.githubusercontent.com/127353/128493268-051e5671-2c6e-4a4f-9ba3-c7f2c064d980.png">

It would be rad if there was a button that said "start recovery environment" (ie. workspace-full) so that the problem could be fixed in Gitpod instead o

[2021-08-06 09:59] akoeplinger commented on #5064
Setting `DOTNET_HOST_PATH` explicitly doesn't work because it's overridden here: https://github.com/dotnet/sdk/blob/2c011f2aa7a91a386430233d5797452ca0821ed3/src/Cli/Microsoft.DotNet.Cli.Utils/MSBuildForwardingAppWithoutLogging.cs#L44

.. and `GetDotnetPath()` eventually calls into
https://github.com/dotnet/sdk/blob/a30e465a2e2ea4e2550f319a2dc088daaafe5649/src/Cli/Microsoft.DotNet.Cli.Utils/Muxer.c

[2021-08-06 10:01] akosyakov commented on #4199
I think there is also a bug in the supervisor frontend, it should detect that the workspace failed and switch from `Opening IDE` screen to failed/stopped screen.

[2021-08-06 10:40] csweichel commented on #5064
I've modified @ghuntley's example like this:
[code]

Because of this very issue I could not build it in the workspace directly.
However, in a Docker container that worked no problem:
[code]

The result is as expected:
![image](https://user-images.githubusercontent.com/3210701/128498372-d2fefaa1-de92-4036-a5b6-8c66661fb74d.png)

[2021-08-06 10:45] ChristinFrohne commented on #4793
@laushinka I feel that there has been a misunderstanding between #4761 and this issue.
The mockup above is meant to be shown when someone uses the unsubscribe link in emails and it refers to #4761

The screen for the dashboard notification preferences already exists, see [https://gitpod.io/notifications](https://gitpod.io/notifications).
The scope for this issue would be

- [ ] make account notifi

[2021-08-06 10:49] csweichel commented on #4199
/schedule

[2021-08-06 10:57] ghuntley commented on #5064
strace available at https://gist.github.com/ghuntley/83c981cc9c038a52a447753c5ccb55e2

[code]

[2021-08-06 11:00] jankeromnes commented on #5086
@gtsiolis About the `good-first-issue` label: I considered adding it, but then I wasn't sure, because I myself don't know how to fix this problem (I tried a few things, like not rounding the background's corners but using `overflow: hidden` instead, but that didn't work).

In general for `good-first-issue`s, I like at least being able to point interested contributors in the right direction for a f

[2021-08-06 11:04] csweichel commented on #4199
/schedule

[2021-08-06 11:08] MrSimonEmms commented on #4936
/assign @MrSimonEmms

[2021-08-06 11:11] csweichel commented on #5064
It would seem that `mountinfo` is incorrect as is `/sys`. The latter would explain why I was able to run `dotnet build` in a Docker container in the workspace: the Docker container gets a proper `sysfs` mount, the workspace ring2 doesn't.

I'll file an issue.

[2021-08-06 11:11] gtsiolis commented on #5086
@jankeromnes fair point! No strong feelings either way. Removing the `good-first-issue` label. 🏀

[2021-08-06 11:14] csweichel opened #5090 "/proc/<pid>/maps is incorrect"
### Bug description

The `/proc/<pid>/maps` file is incorrect. It's unclear what causes this.
When running a Docker container in Gitpod, `/proc/<pid>/maps` is correct.

This is a possible cause of #5064

Possibly relevant issues:
- https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1843018
- https://github.com/dotnet/runtime/issues/30774

### Steps to reproduce

`cat /proc/self/maps`

contains p

[2021-08-06 11:15] csweichel commented on #5088
we have this kind of "recovery environment" in other situations already, namely when the image build fails or the gitpod.yml is invalid. We could re-use the same wording and behaviour.

[2021-08-06 11:17] akosyakov opened #5091 "[supervisor] defunct processes don't get reaped anymore"
### Bug description

Check process tree, there should not be defunct processes.

### Steps to reproduce

See above.

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-08-06 11:19] #5016 closed

[2021-08-06 11:26] gtsiolis commented on #4661
Closing this, following the update in https://github.com/gitpod-io/gitpod/issues/5076#issuecomment-894140788.

[2021-08-06 11:26] #4661 closed

[2021-08-06 11:28] gtsiolis commented on #4702
This looks like a good issue for Engineering Groundwork, right? Cc @jankeromnes @AlexTugarev @svenefftinge

See also https://github.com/gitpod-io/gitpod/pull/4408.

[2021-08-06 11:30] gtsiolis commented on #4703
Closing this for now as it's not reproducible.

[2021-08-06 11:30] #4703 closed

[2021-08-06 11:31] csweichel commented on #5084
We could set CORS config when creating a new bucket, something like [here](https://github.com/gitpod-io/gitpod/blob/7f25cc04ce14513b5eb8a053410565ad707f2da7/components/content-service/pkg/storage/gcloud.go#L168):
[code]

However, this comes with a set of drawbacks:
- in this naive form it would only work for new buckets
- it only works in GCP - for minio no such option exists. Does minio need this

[2021-08-06 11:31] gtsiolis commented on #5034
Maybe also a good fit for Engineering Groundwork. Cc @jankeromnes @AlexTugarev @svenefftinge

[2021-08-06 11:37] laushinka commented on #4793
@ChristinFrohne Ah you're right I got them mixed together! Sorry about that, I'll fix the Scope.

[2021-08-06 12:06] gtsiolis opened #5092 "Align invite member button on the team page"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/4868 we added an invite members button on the team page. However, the button seems to be misaligned.

[2021-08-06 12:07] AlexTugarev commented on #5084
@csweichel, first I was not sure if applying these bucket attributes in general would make sense, because it all contents of `/gitpod-prod-user-000000000000000000000000000/**/*`. But there isn't any additional risk to that either, because once the URL is served it can be used with HTTP clients other than browsers to ignore CORS.

[2021-08-06 12:23] csweichel commented on #5084
We'd need to apply the CORS attributes to all buckets. The one you refer to only holds the image builds, but not prebuild logs.
In the future the image build logs will carry user association as well, hence be in the user buckets, too.

[2021-08-06 13:14] #5092 closed

[2021-08-06 13:52] AlexTugarev commented on #5084
Nope, that's the log output of the workspace instance for the prebuild I'm interested in. These URLs are returned by the server now.

WDYT of patching this when we call `ensureExists`?

[2021-08-06 13:55] csweichel commented on #5084
I meant that `gitpod-prod-user-000000000000000000000000000` only holds the image-build logs.

Do we have the same CORS issue with minio?

[2021-08-06 13:55] ghuntley commented on #5088
Agreed

[2021-08-06 13:56] AlexTugarev commented on #5084
🤦🏻  oh this does exist indeed. I used that as a template. replace with `gitpod-prod-user-ID` then, please

[2021-08-06 14:12] gtsiolis opened #5095 "Feedback Issue: Teams & Projects 💬"
### Objective

The aim of this issue is to gather feedback on the **Teams & Projects** feature to be released in ~~August~~ October 2021. Any feedback is welcome! See also relevant blog post[[1](https://www.gitpod.io/blog/teams-and-projects)] and changelog entry[[2](https://www.gitpod.io/changelog/introducing-teams-&-projects)].

### Background

The upcoming **Teams & Projects** feature aims to :a

[2021-08-06 15:17] csweichel commented on #5070
/assign

[2021-08-06 15:43] akosyakov commented on #5091
I think it may cause a memory leak, start 2 terminals in https://github.com/gitpod-io/vscode/tree/ak/remote_ssh:
- `watch cat /sys/fs/cgroup/memory/memory.usage_in_bytes` - that's k8s use to detect used memory
- `watch cat /sys/fs/cgroup/memory/memory.stat` - decomposition of above on cache and rss memory, see https://www.kernel.org/doc/html/latest/admin-guide/cgroup-v1/memory.html#usage-in-bytes

[2021-08-06 15:55] lutzky opened #5099 "Terminal sometimes has duplicate keypresses"
### Bug description

The terminal sometimes repeats keystrokes. This doesn't always happen, but it's common enough to get me typing things like `git puush` or `export WRONG_ENV_VAARRIABLE`. This only occurs in the terminal - the text editor doesn't exhibit this bug.

### Steps to reproduce

In the terminal, type "ababab..." repeated. This yields:

    ababababababababababbabbabbababbababbabbabbaba

[2021-08-06 16:22] bstachmann commented on #5099
Same for me: `git staattus git staatuus git status`. Only happens when typing fast. Only happens in the terminal. Editor is fine.

Ubuntu 20.10, Chrome is also Version 92.0.4515.107 (Official Build) (64-bit)

[2021-08-06 16:31] bstachmann commented on #5099
Workaround: Use Firefox

[2021-08-06 16:42] csweichel commented on #5091
/schedule

[2021-08-06 16:42] csweichel commented on #5091
/assign

[2021-08-06 17:19] #4095 closed

[2021-08-06 17:29] lutzky commented on #5099
Confirmed, I cannot (with reasonable effort) reproduce this in Firefox.

[2021-08-06 17:43] csweichel commented on #5099
/schedule

[2021-08-06 17:53] csweichel commented on #4914
a quick thought: you can already add environment variables when starting a workspace: https://www.gitpod.io/docs/environment-variables#provide-env-vars-via-url

@svenefftinge wdyt about the ability to propose env vars from a URL for permanent addition? Maybe teams and projects could offer a better solution here?

[2021-08-06 23:56] daronhudson opened #5102 "Built in docker registry for self hosted not authorized"
### Bug description

When creating a workspace on v0.10.0 of the self hosted version, built on top of containerd and k3s, the workspace image builder successfully gets the necessary data and sends it off to the registry.

The workspace, however, fails to create and returns with:

`Request createWorkspace failed with message: 7 PERMISSION_DENIED: cannot resolve workspace image: not authorized

Unkn

[2021-08-07 01:00] #4102 closed

[2021-08-07 01:36] shaal opened #5103 "Downloading a running workspace result in an error"
### Bug description

While a workspace is running, going to https://gitpod.io/workspaces and downloading that workspace results in this page -
![image](https://user-images.githubusercontent.com/22901/128583819-949d1f08-e75f-47e7-a0b6-b9e9e8a927e5.png)

### Steps to reproduce

1. Start a Gitpod workspace
1. Go to https://gitpod.io/workspaces
1. The running workspace should have a green circle to th

[2021-08-07 04:47] akosyakov commented on #5042
I got the same today as well.

[2021-08-07 04:55] #4103 closed

[2021-08-07 07:51] #5091 closed

[2021-08-07 08:34] gtsiolis commented on #2663
Thanks @hunterchristian for bringing this up! We're also interested in adding a feature like this. This was closed because of the `stale-bot`, see https://github.com/gitpod-io/gitpod/issues/3657. Reopened and added the `never-stale` label.

[2021-08-07 09:49] akosyakov commented on #5087
Settting sync does not work for me anymore becuase of it.

[2021-08-07 10:01] akosyakov opened #5104 "[server] GITPOD_RESOLVED_EXTENSIONS is not valid json"
### Bug description

Actually it seems to be another bug, for some reasons GITPOD_RESOLVED_EXTENSIONS is not complete in my repo, so Code Server cannot install extensions:
<img width="1693" alt="Screenshot 2021-08-07 at 12 00 06" src="https://user-images.githubusercontent.com/3082655/128596528-1c1f5643-7848-419a-a3cc-28e030b465e4.png">

@csweichel Could it be that there is some length constraint o

[2021-08-07 12:48] akosyakov opened #5105 "[code] allow to manage workspace from remote ssh"
Right now one should use browser to start workspaces and target ssh view to connect to them.
It would be better to contribute own gitpod workspaces view which allows to list, start/stop and connect to workspaces.

[2021-08-07 12:50] akosyakov opened #5106 "[dashboard] support local vscode in settings"
That even if a user creates a workspace from the browser she gets the local VS Code.

[2021-08-07 14:01] #4107 closed

[2021-08-07 23:17] markfirmware commented on #4161
I still do not know how to restore a minimized window in the novnc view.

[2021-08-08 03:37] sr229 commented on #5047
@VinayBaviri can you also provide your reproduction steps and the addons you have used? It seems to be an issue regarding not having the appropriate VSIX extensions rather than Gitpod itself.

[2021-08-08 05:17] akosyakov commented on #5104
Jaeger tracing shows that the server sends a valid JSON to ws-manager.

[2021-08-08 05:54] akosyakov commented on #5104
I think many users are affected, for some reasons everything after last `=` is stripped. I see the same in GOFLAGS in this repo: https://github.com/gitpod-io/gitpod/blob/ebc8fde83c5c3509bc85a20f4dbf330f06d57a5c/dev/image/Dockerfile#L127

[2021-08-08 05:59] akosyakov commented on #5104
I see that environ of supervisor is good, but child processes are not.

[2021-08-08 06:03] akosyakov commented on #5104
It's a regression since https://github.com/gitpod-io/gitpod/pull/4923 We use `stings.Split` unconstrained.

/schedule

[2021-08-08 06:03] roboquat commented on #5104
@akosyakov: We have more than 21 cards scheduled. Above 15 only scheduler can perform this action. Those are:
  - csweichel
  - JanKoehnlein

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5104#issuecomment-894748610):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you

[2021-08-08 11:54] csweichel commented on #5104
/schedule

[2021-08-08 12:46] #5104 closed

[2021-08-08 16:55] #4058 closed

[2021-08-09 06:40] #5070 closed

[2021-08-09 07:05] akosyakov opened #5110 "slow git blame on files with large history leading to OOM kills"
### Bug description

Since last 2 weeks I start getting OOM kills while working on https://github.com/gitpod-io/vscode repo. After investigation it turned out that doing some git operations causes git gc/repack which runs for long sometimes and consumes memory. So newly started processes cannot get more memory and gets killed, eventually leading to the workspace eviction. I found several triggers

[2021-08-09 07:10] ChristinFrohne commented on #4761
Summary of the [internal discussion](https://gitpod.slack.com/archives/C01KGM9ETU6/p1628169492011100):

**Going forward we want to have two links in the email footer:**
1) update preferences (users needs to log in -> link already exists, no action needed)
2) unsubscribe (user is automatically removed from the current mailing list and sees a "you have been successfully unsubscribed" page)

**Next a

[2021-08-09 07:13] ChristinFrohne commented on #4761
The unsubscribe page can be a copied from the sent [contact form](https://www.gitpod.io/contact)  and would look similar to this:
![Bildschirmfoto 2021-08-09 um 09 09 54](https://user-images.githubusercontent.com/46345125/128670988-03f7291e-c9a7-4dc0-bc81-144c7ae75c38.png)

[2021-08-09 07:19] ChristinFrohne commented on #4793
Johannes suggested another wording for the third checkbox

Bring back joy and speed to your workflows

[2021-08-09 07:19] csweichel commented on #4962
/assign

[2021-08-09 07:21] csweichel commented on #5110
What happens if you do the same thing on a repo cloned without `--filter`?

[2021-08-09 07:24] svenefftinge commented on #5110
I can reproduce a super slow `git blame`.
E.g.
[code]
Takes minutes. I wonder if git has some sort of inflate operation, that would allow us to fetch the blobs async after the content initialization.

[2021-08-09 07:26] csweichel commented on #5110
been thinking the same thing - had a look a few days ago while looking into the `origin` issue, but found nothing. That's not to say such an operation doesn't exist, but it doesn't seem to be obvious. If we had such a thing though, we could heuristically inflate things.

Also, we should double check the Git issues. Is this resource demand/bad performance a known issue?

[2021-08-09 07:32] svenefftinge commented on #5110
Just stumbled over
[code]
which seems to do the trick. [Source](https://www.spinics.net/lists/git/msg390700.html)

[2021-08-09 07:40] csweichel commented on #5110
![image](https://user-images.githubusercontent.com/3210701/128673379-f9e1bb11-42cb-4117-8acb-8adc98046933.png)

it does not help when calling `git blame` unfortunately. To my understanding the command above helps when cloning the repo with a tree filter, rather than a blob filter.
Removing the blob filter altogether doesn't help either: `git -c "remote.origin.partialclonefilter=" fetch --deepen=99

[2021-08-09 07:44] svenefftinge commented on #5110
True, I ran it on a repo that was already inflated by running `git blame` on a large file, so  blame on other files were instant afterward. Generally, the inflation wouldn't help us much if we were running it eagerly, because many users would not wait for git clone but for content init from a prebuild. So if we always inflate it we are back to the same size on disk.

[2021-08-09 07:45] csweichel commented on #5079
The assumption was that this rarely to never happens in prod. We've recently seen ws-daemon failures though due to containerd failures.

Hence this issue is likely to impact users directly.

[2021-08-09 07:45] csweichel commented on #5079
/assign

[2021-08-09 07:54] csweichel commented on #5090
/schedule

[2021-08-09 07:55] csweichel commented on #5087
/schedule

[2021-08-09 07:58] csweichel commented on #5042
/schedule

[2021-08-09 08:29] pawlean commented on #4161
Hey Mark, have you tried what @thecrewmate876 suggested above?

[2021-08-09 08:31] pawlean commented on #5103
I confirm that I can replicate this issue as well 🤔

![CleanShot 2021-08-09 at 09 30 33](https://user-images.githubusercontent.com/17087373/128678825-ca3b4bf4-9527-44bd-a5da-ad139fcded9b.png)

[2021-08-09 09:12] #5063 closed

[2021-08-09 09:14] gtsiolis commented on #5063
Thanks for fixing this @jankeromnes!

[2021-08-09 09:15] gtsiolis commented on #4187
Closing this, feel free to reopen if this is still relevant. Cc  @jankeromnes @mikenikles

[2021-08-09 09:15] #4187 closed

[2021-08-09 10:03] jankeromnes commented on #4886
Isn't this rather an issue with the gitpod-layer?

https://github.com/gitpod-io/gitpod/blob/af51739d341bb2245598e275336ae9f730e3b41a/components/image-builder/workspace-image-layer/gitpod-layer/debian/gitpod/.bashrc-prepend#L39-L44

[2021-08-09 11:01] gtsiolis commented on #4977
Thanks for opening this issue @tyler36! FYI, downloading is currently not possible while the workspace is running. Providing a better error message could help here.

[2021-08-09 11:02] gtsiolis commented on #5103
Thanks @shaal! Closing this as a duplicate of https://github.com/gitpod-io/gitpod/issues/4977. See also https://github.com/gitpod-io/gitpod/issues/4977#issuecomment-895131507.

[2021-08-09 11:02] #5103 closed

[2021-08-09 11:09] gtsiolis opened #5114 "Add what's new modal entry for teams and projects"
### Problem to solve

Given the upcoming release of the Teams & Projects feature in the next weeks, it'd be great to use the What's New modal to inform the users about this feature.

### Proposal

Let's add a what's new modal entry for teams and projects.

**Title**: Teams & Projects
**Label**: New Feature
**Paragraph**: TBD (To be discussed)

Additionally, if we could also link to relevant docume

[2021-08-09 11:18] gtsiolis opened #5115 "Allow users to add projects in teams from self hosted GitLab providers"
### Problem to solve

The upcoming **Teams & Projects** feature supports adding repositories from GL (`gitlab.com`) and GH (`github.com`) but does not support projects from self hosted GitLab instances.

See also relevant discussion in https://github.com/gitpod-io/gitpod/pull/5113#discussion_r685091660. Cc @AlexTugarev

### Risks

This would require first to introduce any safety mechanisms that ma