[2022-02-16 09:02] mads-hartmann commented on #8193
@ArthurSens I'll try to get that PR merged today 🤞

[2022-02-16 09:22] dkelly255 opened #8238 "Oh, no! Something went wrong! OutOfmemory: Pod Node didn't have enough resource: memory, requested: 2576980378, used: 65006469130, capacity: 66388008960"
### Bug description

Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 2576980378, used: 65006469130, capacity: 66388008960

### Steps to reproduce

Attempting to launch my existing Gitpod workspace.

### Workspace affected

https://dkelly255-djangotutorial-quxbwl9i55a.ws-eu32.gitpod.io/

### Expected behavior

Have my existing Gitpod workspace lau

[2022-02-16 09:27] princerachit commented on #8173
I am closing this issue in favour of https://github.com/gitpod-io/gitpod/issues/8173 as in both the cases user saw the same issue of Allocating resources and the status in the db for the ws was `Error: cannot start a workspace because no workspace clusters are available`

[2022-02-16 09:27] #8173 closed

[2022-02-16 09:35] pawlean commented on #8238
Hey @dkelly255! We have an ongoing incident: https://www.gitpodstatus.com/incidents/6hc6n6zdkhnt

Hang tight 👍🏼

[2022-02-16 09:38] jldec commented on #6305
Scheduled.
The inconsistent behavior of prebuild status and logs is adding to the perception of prebuild unreliability.

[2022-02-16 09:39] MrSimonEmms commented on #8224
As part of this task, we should generate a new version of the `example-config.yaml` for the repo

[code]

[2022-02-16 10:39] dkelly255 commented on #8238
Hi,
I am still getting the same error – I have tried restarting my machine, and it happens when I try to open either workspace as of 10:34am:

***@***.***

From: Pauline P. Narvas ***@***.***>
Sent: 16 February 2022 09:36
To: gitpod-io/gitpod ***@***.***>
Cc: Dan Kelly ***@***.***>; Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Oh, no! Something went wrong! OutOfmemory: Pod Node didn't have

[2022-02-16 10:51] mjjstockman commented on #8238
Same for me on https://gitpod.io/start/#mjjstockman-setlistshare-nee26x1ripa

[2022-02-16 10:53] ajhalili2006 commented on #7299
Question is how do self-updates work if I compiled the Local App from source by myself?

[2022-02-16 11:00] loujaybee commented on #7194
With Fleet announcements since this issue, we're now going to remove official support for Projector templates from Gitpod. I'lll close this issue for now, unless the ecosystem changes, it looks like building a great desktop and/or gateway integration JetBrains will be our focus for now.

[2022-02-16 11:00] #7194 closed

[2022-02-16 11:16] dkelly255 commented on #8238
Note - rebuilding the workspace has allowed me to access again (I am still receiving the original error when trying to open the original workspaces) - so maybe a note should be added to the solution that folks need to rebuild their workspace to resolve? I had to reinstall the dependencies & applications after rebuilding the workspaces also and am hoping there will not be any issues or conflicts wh

[2022-02-16 11:30] sawyer01 commented on #8207
Plan to integrate an image for Elixir/ERLANG as well?

[2022-02-16 12:00] buggtb opened #8241 "SSL Cert warning on new Jetbrains workspaces"
### Bug description

For the past week or so when you launch a new workspace you get an SSL cert warning if using IntelliJ

### Steps to reproduce

Open a new workspace in intellij

### Workspace affected

_No response_

### Expected behavior

Don't give me a security warning, its not great.

### Example repository

_No response_

### Anything else?

Great work!

[2022-02-16 12:32] #8098 closed

[2022-02-16 12:33] akosyakov commented on #8241
@iQQBot any ideas?

[2022-02-16 12:40] buggtb commented on #8241
Ooooh, I looked again, my bad, its an SSH certificate check for the new process, its just weird gettting it in a popup graphical form, as it wasn't there before..

No problem. Although if you don't answer quickly you end up with multiples.
![Screenshot 2022-02-16 123817](https://user-images.githubusercontent.com/103544/154266293-92c6793b-89e6-463c-bac4-94dd131b7a00.png)
There's actually 6 there bu

[2022-02-16 12:40] #8241 closed

[2022-02-16 12:46] gtsiolis opened #8242 "Enabling . keybind to open repositories when using the browser extension does not work for logged in users on GitLab"
### Bug description

In https://github.com/gitpod-io/browser-extension/pull/54, we've added the ability to enable the `.` keybind  to open repositories in Gitpod. However, this seems to not work as expected for logged in users on GitLab.

See [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1644837995228049) (internal). Cc @filiptronicek @felladrin @akosyakov @loujaybee

### St

[2022-02-16 13:42] #8065 closed

[2022-02-16 13:51] pawlean commented on #8238
Hi folks! This issue seems to have been resolved now. If you are experiencing any other issues, feel free to comment here. 🙏🏼 Thank you all for the support!

[2022-02-16 13:53] mjjstockman commented on #8238
Hi pawlean!
I still can't open my workspace https://gitpod.io/start/#mjjstockman-setlistshare-nee26x1ripa

[2022-02-16 14:03] mustard-mh opened #8246 "Workspace with phase "Timed out" refresh didn't restart"
### Bug description

Workspace with phase "Timed out" refresh didn't restart. But with devTools Network, you can see that server has updated instance status with "running". And after refresh URL looks weird
https://gitpod.io/start/?not_found=true#gitpodio-ops-2v9ggs50f5l
https://gitpod.io/start/?not_found=true#gitpodio-ops-mpri4nsjyng

Click `Open Workspace` works

<img width="606" alt="image" src

[2022-02-16 14:44] jankeromnes commented on #8246
Yes 🎯 the new behavior was made like this on purpose:
- Before, we could have an infinite-redirect loop (e.g. on workspace fast crash) between `/start/` and the IDE URL, causing a sort of Denial-Of-Service attack against ourselves
- The new behavior no longer has this infinite-redirect problem (even on workspace fast crash), because it requires an explicit click on `Open Workspace` to actually res

[2022-02-16 14:57] jldec commented on #8197
Thanks @geropl - I agree and made a similar [comment](https://github.com/gitpod-io/gitpod/issues/6305#issuecomment-1041295238) earlier today.

[2022-02-16 15:34] buggtb opened #8247 "[jb] support EAP of Gateway (v. 221)"
### Bug description

I don't believe this was a glitch in the matrix, but I've not tested it this week.

When setting up a new machine over the weekend, I grabbed the gateway plugin from the Jetbrains website, installed it and couldn't find the Gitpod plugin. I realised the download offered was some 2022 build which didn't work with the plugin.

i dug around and found a link where I could cobble t

[2022-02-16 15:35] akosyakov commented on #8247
@buggtb please use stable version, for now we don't support EAP yet

[2022-02-16 15:36] buggtb commented on #8247
Yeah, but the link literally on their website from the link from your website, got me that version. I was just following the prescribed installation flow

[2022-02-16 15:38] buggtb commented on #8247
https://www.jetbrains.com/remote-development/gateway/ If I download the gateway from here, I get a 221 build not a 213 build.

[2022-02-16 16:07] akosyakov commented on #8247
@buggtb The instruction should be updated now to point out that Release version should be used and provide a link explaining to use Toolbox instead.

I will keep an issue around to support EAP too. We do it at the beginning of March.

[2022-02-16 16:07] geropl commented on #8226
This might also be the cause an issue where we do not reveal the IDE of a running workspace after the tab lost focus on laptop suspension ([issue](https://github.com/gitpod-io/gitpod/issues/8246)):
 - we now do not auto-start if runsInFrame
 - but we have a special case for revealing for the first time a workspace becomes RUNNING
 - this breaks for re-started workspaces or laptop suspenion

I thin

[2022-02-16 16:48] jankeromnes opened #8251 "Track keybinding usage/exploration in oder to make the dashboard more intuitive"
## Is your feature request related to a problem? Please describe

https://github.com/gitpod-io/gitpod/pull/7715 introduced a new dashboard-wide keybinding: `Ctrl/Cmd + O` (for "Open in Gitpod")

However, we're unsure whether this is the most intuitive keybinding for our users, who might also want to use `Ctrl/Cmd + K` or `Ctrl/Cmd + P` for example.

Getting insights into which keybindings are actu

[2022-02-16 16:58] loujaybee commented on #7447
Related: https://github.com/gitpod-io/gitpod/issues/7608

[2022-02-16 17:35] loujaybee opened #8252 "Support for parameterised configurations in `.gitpod.yml`"
### Current Approach

Currently, the way that gitpod works is via one single declarative syntax for a project set up, but, this approach doesn't work well for scenarios where you have (potentially) many different permutations of a given project or setup (e.g. mono-repo's or more advanced projects). Currently, the best way of doing this is via URL parameters or via environment variables that alter

[2022-02-16 18:00] sagor999 opened #8253 "Starting new workspace causes it to fail with OOM error from kubelet"
### Bug description

Sometimes workspaces fail to start due to OOM error from kubelet.
We suspect it happens when node is at capacity, but has workspaces that are still terminating.
It seems like k8s scheduler ignores terminating pods, but kubelet doesn't.
So scheduler schedules a pod on a node that it think it should be able to run on, but then kubelet rejects it with OOM error.

This seem to be

[2022-02-16 18:01] sagor999 commented on #8253
Related: https://github.com/gitpod-io/gitpod/issues/8238

[2022-02-16 18:23] kylos101 opened #8254 "Some headless workspaces get stuck in a Stopping status (Terminating in Kubernetes)"
## Is your feature request related to a problem? Please describe

The scheduler does not consider pods having a Terminating status, and when the Kubelet receives a new workload to run a headless workspace, depending on the node's resources, it may fail with OutOfMemory...growing the number of headless workspaces stuck in Stopping (Terminating) on that node.

## Describe the behaviour you'd like

O

[2022-02-16 18:37] sagor999 commented on #8254
Opposite. Only add finalizer when headless workspace has actually started.

Currently we have a bunch of them in terminating state stuck forever, because they are actually never started (kubelet killed it with oom and did not allow it to start) but because we added finalizer at creation, that finalizer is now not removed. so pod is stuck in permanent terminating state.

[2022-02-16 19:02] axonasif commented on #8235
Possible duplicate of https://github.com/gitpod-io/gitpod/issues/6305

[2022-02-16 19:58] filiptronicek commented on #8242
Thanks @gtsiolis for taking the time to take feedback and raise this issue ✨! I tried reproducing this, and couldn't. I double checked I'm on 1.13 and not running from sources.

I recorded a loom with me being logged in and the key bind working just fine, with the same being when not logged in: https://www.loom.com/share/084aa3735072447d9748f332c75b3904

I am rather puzzled as to how it could be t

[2022-02-16 20:04] buggtb opened #8255 "Open multiple workspaces in IntelliJ"
I found today I wanted to write the docs for a project in our doc repo, but the code was in its own repo.

So I launched 1 workspace in IntelliJ then tried to launch another and it tried, and then closed down. So it appears you can't open multiple projects, but thats not great, documentation is one example, but UI repo vs API repo and similar are another pattern I'll hit regularly and would have t

[2022-02-16 20:04] #7957 closed

[2022-02-16 20:20] buggtb opened #8256 "Group workspaces by project"
I had a whole bunch of workspaces available in my account today, they're spread about 4 or 5 different projects.

It would be really helpful if the workspace list was grouped by project at a higher level then sorted by workspace access date below that, so I can find the project I'm looking for before I look for the time I opened the project.

[2022-02-16 20:34] jldec opened #8257 "Restrict access to snapshot URLs"
Gitpod [snapshot URLs](https://www.gitpod.io/docs/sharing-and-collaboration#sharing-snapshots), provide a way to share a snapshot of a workspace e.g. for easy reproduction of test environments.

For workspaces of private git repos, these URLs could be used to access sensitive or proprietary files.

- Run the "Gitpod Share Workspace Snapshot" command in a workspace, to receive a new snapshot URL.
-

[2022-02-16 21:07] akosyakov commented on #8255
Opening multiple workspaces with IntelliJ for different project (repo + path) should be supported. If it is not it is a bug.

[2022-02-16 21:16] buggtb commented on #8255
I can't test this theory right now, but I wonder if its because I'm an licensed user and there's a seat collision, might be something related to that, which would be sad if true.

[2022-02-16 21:18] jankeromnes commented on #8257
Happy to give this a go tomorrow

/assign

[2022-02-16 21:28] fiveable-jferg commented on #8111
So yesterday I was able to just downgrade to version 1.21.10 and things worked fine, but today it's showing:

![image](https://user-images.githubusercontent.com/88333913/154359950-eda3b280-df9e-4d82-a8a0-340369e0e617.png)

even if I downgrade.  I'm not sure if this is due to a change on the gitpod side or on the upstream side, but it makes gitpod effectively useless for me.  :cry:

[2022-02-16 21:53] kylos101 commented on #7829
Hi @JanKoehnlein and @jldec :wave: , #8173 was [closed in favor](https://github.com/gitpod-io/gitpod/issues/8173#issuecomment-1041285181) of this issue. I wanted to give you a heads up, because, I know you had #8173 scheduled - and might be wondering what happened. :smile:

Also, @csweichel shared some feedback, for [related metrics on the WebApp side, which could help with alerting](https://githu

[2022-02-17 00:00] jeanp413 commented on #8111
@fiveable-jferg Did this happen in the same workspace or in a new one? what happens if you uninstall and reinstall again, does the issue persist?

[2022-02-17 00:35] jeanp413 opened #8260 "Install vscode extension from private repo"
Investigate if it's possible to install vscode extension using a URL to a private repo.
More context in [slack thread](https://gitpod.slack.com/archives/C01KGM9BH54/p1645050417564339)

[2022-02-17 01:54] fiveable-jferg commented on #8111
Same workspace.  Issue persists across workspace restarts (haven't tried fully rebuilding the workspace).  It's in the .gitpod.yml.  I've switched to @gengjiawen's republished version for the time being, but obviously not an ideal solution.

[2022-02-17 04:02] mustard-mh commented on #7443
Also file an issue in xterm.js https://github.com/xtermjs/xterm.js/issues/3647

[2022-02-17 04:05] mustard-mh commented on #7443
Should we cherry-pick the changes that upstream make https://github.com/microsoft/vscode/commit/e3dcaa1fdac18c1aeb965527ff3a9d553c5890cb to ensure our stable vscode works well? Or just wait for another release of vscode?

[2022-02-17 04:07] jeanp413 commented on #7443
Just wait for next stable release =)

[2022-02-17 05:51] akosyakov commented on #8111
@fiveable-jferg as a workaround you can switch to VS Code Desktop integration of Gitpod in preferences: https://gitpod.io/preferences

[2022-02-17 06:04] #6021 closed

[2022-02-17 06:04] #6135 closed

[2022-02-17 06:04] #6279 closed

[2022-02-17 06:04] #6547 closed

[2022-02-17 06:04] #6475 closed

[2022-02-17 06:04] #6468 closed

[2022-02-17 06:04] #5031 closed

[2022-02-17 06:40] mustard-mh commented on #8111
With `stable` vscode, we can use `.gitpod.yml` to specify a version of vim, and it works for me with version `1.21.10`

But vim `1.21.10` will fail with `insider` vscode

|.gitpod.yml|Works|
|:-:|:-:|
|![img](https://user-images.githubusercontent.com/20944364/154417210-35cdfa83-f52e-44b9-9676-54a4e87bc2de.png)|![img](https://user-images.githubusercontent.com/20944364/154417092-3aae8800-2616-4cbf-9

[2022-02-17 06:59] akosyakov opened #8262 "[jb] don't show 'failed to fetch join link' so eagerly"
Feedback:

[2022-02-17 07:06] akosyakov opened #8263 "[jb] workspace timeout if browser page is closed before client connects"
### Bug description

Feedback:

I suspect that a user closes the browser page and it triggers reducing timeout to 3 mins. We should rethink how to approach it. Disabling timeout there can backfire in the case if a client did not open thin client but only close the page, then we will spend user hours for 30 mins.

### Steps to reproduce

Start a workspace, open thin client and wait that it times ou

[2022-02-17 07:11] akosyakov opened #8264 "[jb] improve operability of GW UI"
It will be good to simple operability testing like using only keyboard and see what UI is properly reflects intent. For instance, selected workspace is not highlighted right now.

[2022-02-17 07:11] akosyakov opened #8265 "[jb] improve styling of GW UI"
### Bug description

In light theme there are some borders around buttons:
<img width="701" alt="Screenshot 2022-02-17 at 08 08 19" src="https://user-images.githubusercontent.com/3082655/154423563-b97dba97-ddff-42d3-ab60-d626529a6780.png">

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Any

[2022-02-17 07:20] akosyakov commented on #8263
A user confirmed that a browse page was closed.

[2022-02-17 07:24] akosyakov commented on #8111
I don't think it is a good idea to add user level extensions to .gitpod.yml.

But it is certainly good news that you can still use stable VS Code Web with VIM extension. VS Code Insiders can have temporarily regressions, since it is untested nightly build of our and MS changes.

[2022-02-17 08:14] #8056 closed

[2022-02-17 08:36] gtsiolis commented on #8257
This could also apply to running workspaces as well as snapshots, see https://github.com/gitpod-io/gitpod/issues/4841.

See also https://github.com/gitpod-io/gitpod/issues/4841#issuecomment-881277575.

[2022-02-17 08:37] corneliusludmann opened #8267 "[installer] Make all config values with sensible defaults optional"
In my opinion, we should make all config values that have sensible default values optional in the config file. E.g., it should be totally fine to use a config like this:
[code]

That would also make generating config values for e.g. replicated easier.

_see also https://github.com/gitpod-io/gitpod/issues/8266#issuecomment-1042696678_

[2022-02-17 08:45] corneliusludmann opened #8268 "[installer] Handle additional (unknown) config values as error during config validation"
Currently, the config validator checks only if necessary config values are present. It does not check, if there are additional values, that are unknown. We should treat additional / unknown config values as validation error.

**Why is this useful?**

I recently had a typo in my config file (typo in a config value name) and was wondering why the config changes didn't work. The proposed change would

[2022-02-17 09:00] gtsiolis commented on #6793
Closing this as duplicate of https://github.com/gitpod-io/gitpod/issues/5305. @metcalfc Feel free to re-open if this describes a different issue or feature request.

[2022-02-17 09:00] #6793 closed

[2022-02-17 09:00] jldec commented on #7754
Removed from WebApp Inbox for now - feel free to add back if necessary.

[2022-02-17 09:08] csweichel commented on #8257
Running workspace access is mediated by ws-proxy, who has no notion of the authentication on `server` side. We'd need to introduce `guest tokens` (which we conceived of when we introduced the `owner token`, hence the name).

[2022-02-17 09:16] loujaybee commented on #6744
Closing this now as spoke with @buggtb yesterday who is now using settings sync and native JetBrains features. Doesn't seem to be an immediate need for this issue right now, any remaining challenges look to be resolved by:

- https://github.com/gitpod-io/gitpod/issues/6706
- https://github.com/gitpod-io/gitpod/issues/6874

[2022-02-17 09:16] #6744 closed

[2022-02-17 09:18] corneliusludmann opened #8269 "[installer] Set MINIO_SKIP_CLIENT to yes for minio (needed for air-gap installations)"
In an air-gap installation, minio crash loops during the minio client configuration. Since I don't think that we need the minio client in the minio container for Gitpod, adding the following env var fixes this:

[code]

[2022-02-17 09:31] #7927 closed, assigned to nobody

[2022-02-17 09:34] loujaybee commented on #7764
Hey @chuck-confluent ! Thanks for raising, yep, we certainly see why this is frustrating.

We'll look to pick this issue up as part of the GA for VS Code:

- https://github.com/gitpod-io/gitpod/issues/7184

Bear with us, and hopefully we can get to it soon! 🙏

**Reminder** for anyone reading, that the source code is public, if anyone wanted to attempt a patch 🙏  You can find the code in [Open VS C

[2022-02-17 09:41] loujaybee commented on #7326
Whilst we are still waiting on this to be integrated into PLG areas dashboard [[1](https://www.notion.so/gitpod/PLG-Areas-Dashboard-6ff7bba7eec6413587ac5be7c3fde33a)] I'm going to adjust the scope to be only the instrumentation, and not the visualisation so that we can close this issue now, and raise follow up issues for integration with visualisations / dashboards.

[2022-02-17 09:41] loujaybee commented on #7182
Whilst we are still waiting on this to be integrated into PLG areas dashboard [[1](https://www.notion.so/gitpod/PLG-Areas-Dashboard-6ff7bba7eec6413587ac5be7c3fde33a)] I'm going to adjust the scope to be only the instrumentation, and not the visualisation so that we can close this issue now, and raise follow up issues for integration with visualisations / dashboards.

[2022-02-17 09:42] loujaybee commented on #7326
https://github.com/gitpod-io/gitpod/issues/6894 would also be useful, but let's pick that up in future.

[2022-02-17 09:42] #7326 closed

[2022-02-17 09:42] #7182 closed

[2022-02-17 09:49] loujaybee commented on #6894
Removing from scheduled as not a great deal we can do whilst we're waiting for visualisation dashboards to be created.

Since I've now closed the following epic (which used to contain this ticket). I'll now move this out of groundwork.
- https://github.com/gitpod-io/gitpod/issues/7326

[2022-02-17 09:49] loujaybee commented on #7525
Removing from scheduled, unlikely to be completed as part of the next release, but could be picked up in future.

[2022-02-17 09:50] #8269 closed

[2022-02-17 10:05] geropl opened #8271 "Identify meta-instances by name rather DB locality"
Epic: #7435

Currently have one DB per application cluster, and we're holding a `d_b_workspace_cluster` table in every DB separately. This works because we're copying the cluster configuration, and in theory adds additional flexibility for configuring traffic flow. The application cluster -> workspace cluster relation is so far maintained implicitly by DB locality.

This obviously breaks if we mov

[2022-02-17 10:37] jldec commented on #5075
Similar to new workspace modal

- list should appear immediately
- list should show more repo context (org/group/user important for large orgs with many repos)
- list could include merged repos for all provides

[2022-02-17 10:43] #7468 closed

[2022-02-17 10:46] jldec commented on #8076
Need visual design on showing errors for Project Branches and Project Config (currenty only in console)
cc: @gtsiolis

[2022-02-17 11:08] #7866 closed

[2022-02-17 11:30] wulfthimm commented on #8169
This problem is not only for namespaces but also for domain names. Both are using the branch name as basis.

[2022-02-17 12:14] felladrin opened #8274 "Dashboard: Can't delete workspaces which failed to be created due to lack of memory on pod"
### Bug description

After trying to open https://github.com/gitpod-io/gitpod repository on Gitpod and failing due to lack of memory, the workspaces that failed to open (it failed two times, as you can see in the screenshot below) got stuck in the dashboard, with “Failed” status. Then when I click the Delete Workspace button, it's not deleting them (triggering the error in the screenshot below).

[2022-02-17 12:24] csweichel commented on #7318
it would be ws-manager - we already have timeouting behaviour for various workspace phases. This would basically add one for `RUNNING` (next to and independently of the heartbeating mechanism)

[2022-02-17 13:32] jeanp413 commented on #8111
From my testing, when vim is listed in `.gitpod.yml` file it doesn't work in either stable or insiders, plus it auto updates to latest version which should not be the case. Uninstalling and reinstalling manually from extensions view and then downgrading to version `1.21.10` works fine

[2022-02-17 13:44] corneliusludmann commented on #8107
Given that the main config surface for most people out there should be the Replicated UI and that the term “experimental” in the config file should be warning enough, I would also vote for removing the flag entirely.

[2022-02-17 14:20] axonasif opened #8281 "Dotfiles are not being executed or installed"
### Bug description

Dotfiles `install.sh` script is not being executed and the `$HOME/.dotfiles.log` is empty.
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/39482679/154500316-7e740af0-9fe0-416d-bf4e-7003d62a56b9.png">

### Steps to reproduce

- Use your(or mine: https://github.com/axonasif/dotfiles) dotfiles in https://gitpod.io/preferences
- Open a workspace
- Che

[2022-02-17 14:20] #8064 closed

[2022-02-17 15:10] axonasif commented on #8281
@csweichel the issue still persists 😓

[2022-02-17 15:13] axonasif commented on #8281
`~/.dotfiles` is owned by root and `install.sh` is not executing and hence `~/.dotfiles.log` is empty. I wonder, is this related with recent `private repos support for dotfiles`?

[2022-02-17 16:15] adg25 commented on #8198
I tried opening a workspace I was editing yesterday and I got this error message:

Timed Out
last backup failed: cannot delete workspace from store.

Workspace is https://belvederetradin-tribe-3rrw2k0grv6.ws-us32.gitpod.io/

[2022-02-17 16:42] kylos101 commented on #8070
Hey @konne :wave: , hope you're doing well! May I ask, is your team still experiencing this issue? I ask because we shipped a fix about 8 days ago which may resolve this issue.

[2022-02-17 16:49] chuck-confluent commented on #5941
Maybe it would look like:
1. User launches a workspace and sees there's a prebuild in progress.
2. Text says "Do you want to launch from the previous snapshot instead of waiting for this prebuild? Note that your workspace would not reflect the latest changes. \<launch button>"

[2022-02-17 17:00] chuck-confluent opened #8285 "Trigger Prebuild only when certain files or directories change"
## Is your feature request related to a problem? Please describe
Triggering a prebuild on every commit can be very heavy. It might help Gitpod's backend infrastructure if users could specify directories and files that can be modified without triggering a prebuild. This is common in CI tools (see Gitlab's [rules:changes](https://docs.gitlab.com/ee/ci/yaml/index.html#ruleschanges) ). For example, I

[2022-02-17 17:18] sagor999 commented on #8274
I think this is for @gitpod-io/engineering-webapp to handle this case appropriately.
I will remove workspace for now from this issue, but feel free to tag us in if needed.

[2022-02-17 17:59] kiview commented on #6740
We are currently trying out Gitpod as maintainers of https://github.com/testcontainers/testcontainers-java/ and the IntelliJ integration is a big improvement for us a Java developer.

However, one of my main use cases is to review and try out PRs and because of the nature of our repository, IntelliJ will take 10 minutes or more to index the project. This makes using workspaces as throwaway instanc

[2022-02-17 20:21] konne commented on #8070
@kylos101 I'm this week Off. I will give you feedback next week after I talked with my devs.

[2022-02-17 22:21] andymac4182 commented on #7489
For my in Australia the only regions from GCP that get under 100ms were the Australian regions which for Data Sovereignty issues I would love as well. Otherwise the next best based on mean is asia-southeast2

[2022-02-17 22:24] andymac4182 commented on #7900
Can you please make the design doc public.

[2022-02-17 22:28] sagor999 commented on #8253
new approach based on @aledbf fix:
currently ws-manager just creates the pod and expects that it will get created.
Since k8s 1.22 that is no longer valid approach, and instead it should try to create the pod, and if it failed, try again. As it can fail due to out of resource errors (like cpu or memory).

[2022-02-17 22:29] csweichel commented on #4889
We're now in a state where the kubelet comes up and the node registers correctly. However, containers don't start yet, most likely because the kubelet reports `InvalidDiskCapacity`.

<img width="1531" alt="image" src="https://user-images.githubusercontent.com/3210701/154579670-293b1906-d838-43ae-b001-42e4b4b27363.png">

To make this happen, we had to:
- create `/dev/kmsg`
- use the latest master b

[2022-02-17 23:05] csweichel commented on #4889
### We have a running pod, on Kubernetes, inside a Gitpod workspace 🎉

**BEWARE:** this is pretty (very extremely) far from production ready. It's entirely unclear which features work, which don't and what the caveats are. It's a first important step, but it's just that: a first step.

<img width="1547" alt="image" src="https://user-images.githubusercontent.com/3210701/154585712-ee3ccca5-6978-43eb

[2022-02-17 23:48] mikenikles opened #8290 "A list view for projects"
## Is your feature request related to a problem? Please describe

I work with a company that has 150+ projects added to their team.

## Describe the behaviour you'd like

They'd like to have a list view to see more projects at a glance. Even when applying a search query, they often have many projects listed.

## Describe alternatives you've considered

Use the existing search feature to narrow dow

[2022-02-17 23:55] mikenikles opened #8291 "Ability to tag & group workspaces"
## Is your feature request related to a problem? Please describe

A customer I work with asks for a way to tag / group workspaces.

## Describe the behaviour you'd like

Instead of a list of all workspaces, the customer would like the ability to tag workspaces and see them grouped in the dashboard.

## Describe alternatives you've considered

N/A

## Additional context

[2022-02-18 00:05] mikenikles opened #8292 "Regression for "operation not permitted: missing get permission on workspace""
### Bug description

The same as #6549.

This happens for a customer I work with. Out of 150+ projects, some show this error while others don't. For the ones where the error shows up, some people see the error and others can start Prebuilds without error.

### Steps to reproduce

1. Create a project
2. Open the "Configuration" settings
3. Kick off a Prebuild

### Workspace affected

_No response_

[2022-02-18 00:41] mikenikles opened #8294 "Parse context from `.gitpod.YAML` as well (not `.YML` only)"
### Bug description

For projects that already contain a `.gitpod.yaml` configuration file, the new project onboarding (gitpod.io/new) process ignores that existing file and adds a second config file, `.gitpod.yml`. When the workspace starts, the already existing `.gitpod.yaml` file is ignored.

### Steps to reproduce

1. Create a new repo
2. Add a `.gitpod.yaml` config file with a `command` task

[2022-02-18 00:45] mikenikles commented on #5095
From a customer call: When someone edits the `.gitpod.yml` configuration in the dashboard, there is no visual indication whether the changes were saved.

Also, if multiple team members edit the configuration, it is unclear which settings will be used - the assumption is whoever saves last.

<img width="1108" alt="image" src="https://user-images.githubusercontent.com/788827/154595934-00762105-16b3-

[2022-02-18 02:04] joepurdy commented on #3966
This would unblock me on a number of different issues I've worked around in my own ways.

For starters we currently network a set of dependent workspaces together via Tailscale as [Ephemeral Nodes](https://tailscale.com/kb/1111/ephemeral-nodes/). The issue lies in the fact that despite being "ephemeral" Tailscale doesn't perform housekeeping until as long as 48 hours later. This leads to long forg

[2022-02-18 04:07] jean commented on #5207
Bump.

Github Stale Bots: A False Economy
Stale Bot’s are a type of automated bot on Github, which locks issues which are “stale” (as in have no recent activity). This seems like a helpful tool at first, but in reality it’s terrible for all parties involved.

https://blog.benwinding.com/github-stale-bots/
https://news.ycombinator.com/item?id=25821092

[2022-02-18 04:59] iQQBot opened #8296 "Remove SSH fingerprint confirm with JetBrains IDEs"
## Is your feature request related to a problem? Please describe

During the Jetbrains remote IDE integration, we found that there is an SSH fingerprint confirmation popup that pops up every time a new workspace is opened, and the user can only click on the confirmation for this popup, because the user can’t confirm for himself if the server fingerprint is correct

We want to introduce an API to e

[2022-02-18 07:57] geropl commented on #8274
@felladrin How long did you wait between 1) workspace failed and 2) try to delete?
 We do not allow any state-changing operation (e.g., delete) on workspaces that are still running. We rely on `ws-manager` to report the status, and terminate/delete workspace that failed. For rare cases where workspaces are "stuck in stopping", for example, we have timeouts: 1h in this case.

 @sagor999 What did yo

[2022-02-18 08:09] felladrin commented on #8274
It failed on Feb 16th at 11:15 AM, and I tried to delete it on Feb 17th at 12:38 PM, so a difference >25h.

I believe @sagor999 was talking about removing the tag "team: workspace" (which I added when I created the issue) (and adding "team: webapp" in place of it) on this issue. Cause the workspaces records are still listed in my dashboard:

<img width="1081" alt="image" src="https://user-images.g

[2022-02-18 08:16] geropl commented on #8274
Ok. We'll need to investigate. :+1:

[2022-02-18 09:36] corneliusludmann opened #8300 "[admin] Improve admin settings (telemetry) UX"
**issue**: Using the alert component[[1](https://github.com/gitpod-io/gitpod/blob/bb809461b56dcc13a74d21faa1ec943fb0b8639b/components/dashboard/src/components/AlertBox.tsx)][[2](https://github.com/gitpod-io/gitpod/blob/bb809461b56dcc13a74d21faa1ec943fb0b8639b/components/dashboard/src/components/InfoBox.tsx)], also known as`InfoBox`, feels a bit misleading. Also, including the payload expanded look

[2022-02-18 09:44] csweichel opened #8301 "Extend DebugApp as default means to debug Node services"
## Is your feature request related to a problem? Please describe
Our Go components offer great debuggability in production thanks to pprof and standardised interfaces. The TypeScript components lag a bit behind, but first [steps are underway](https://github.com/gitpod-io/gitpod/pull/8284) to improve the situation.

We should:
- [ ] Move the profiling functionality to the [DebugApp](https://github.

[2022-02-18 09:51] #8221 closed

[2022-02-18 10:15] corneliusludmann opened #8303 "[admin] Move admin check for pages to `App.tsx`"
On admin pages, we have checks like this:

https://github.com/gitpod-io/gitpod/blob/3f3ca7c01d96c16b7b68b04c36c22400f9d3efa0/components/dashboard/src/admin/UserSearch.tsx#L43-L45

It would be better to have something like this in `App.tsx`:

[code]

(based on the proposal of @jankeromnes, see [internal](https://gitpod.slack.com/archives/C01KLC56NP7/p1645177742553389?thread_ts=1645174903.467919&cid

[2022-02-18 10:23] svenefftinge commented on #8169
How about just cutting it off to make it fit into the 63 chars?

[2022-02-18 10:26] JanKoehnlein opened #8304 "[build] make werft fail early when the branch name is too long"
## Is your feature request related to a problem? Please describe
If your branch name for of your PR is too long (>40chars), the certificates for the preview env will not be fetched and the preview env deployment will fail. This is a very late step in the werft build and the error message is usually only visible when you browse the raw logs.

## Describe the behaviour you'd like
Werft should fail e

[2022-02-18 10:27] svenefftinge commented on #8304
I'd be in favor of just shortening the identifier.
See also https://github.com/gitpod-io/gitpod/issues/8169

[2022-02-18 10:36] jetdream commented on #3966
Our projects heavily rely on cloud infrastructure for development.

I see this feature extremely useful for cleaning up the associated cloud infrastructure
on **start tasks** we create AWS services instances using Terraform/Ansible - database, event bus, storage, stream processor etc
on **end tasks** we would destroy those instances

[2022-02-18 11:49] gtsiolis commented on #8290
@mikenikles could you provide a bit more context for this?
1. Is this about viewing all projects on GitHub or GitLab?
2. Is this needed when adding a repository as project in Gitpod?
3. Is this needed when starting a new workspace from a repository using the new workspace modal?
4. Something else?

[2022-02-18 12:05] jankeromnes opened #8309 "Cannot open snapshot for some GitLab repositories"
### Bug description

Taking snapshots no longer seems to work with private GitLab repositories.

Trying to open a snapshot that you took fails with:

<img width="479" alt="Screenshot 2022-02-18 at 13 02 22" src="https://user-images.githubusercontent.com/599268/154679756-cc219771-eb39-4070-8fec-cfcb7ad00bfc.png">

### Steps to reproduce

1. Open a private GitLab repository in Gitpod
2. Take a snaps

[2022-02-18 12:15] #6846 closed

[2022-02-18 12:47] Volodsher opened #8311 "Simple Browser Preview doesn't show changes"
### Bug description

I have just one simple html file. When I run $ python -m http.server 8000 it works for this session. But it doesn't wont to work properly for the next ones, showing old versions of the html file.

### Steps to reproduce

1. open the workspace.
2. create a simple html file.
3. put sum tags and text.
4. start server $ python -m http.server 8000.
5. Open Simple Browser. It shows

[2022-02-18 13:19] JanKoehnlein commented on #8274
Scheduled for investigation

[2022-02-18 13:24] geropl commented on #8195
Here's a screenshot, finally:
![image](https://user-images.githubusercontent.com/32448529/154690694-6e5aeb22-9f9a-4e78-814c-10a4e8689e20.png)

[2022-02-18 13:33] laushinka commented on #8005
Comparison tracing[[1](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/hm2LRsu4iLi)]

[2022-02-18 14:06] axonasif commented on #8311
I'm unable to reproduce your error, could you share a screen recording and your browser console logs after that happens?

[2022-02-18 14:16] loujaybee opened #8314 "Ensure all JetBrains templates work with latest JetBrains integration"

[2022-02-18 14:23] Volodsher commented on #8311
Thank you for reply! Would you pleas tell me what format of screen recording? thanks

[2022-02-18 14:29] #8253 closed

[2022-02-18 14:47] Volodsher commented on #8311
It's weird but now everything is working fine. But if I have again this problem is there any command to clear cache on the server or something else? also one more question, if I use simple preview do I have to refresh the page every time from the server root directory or it should be live: when I safe changes they automatically refresh on the Simple Browser page?

[2022-02-18 16:27] gtsiolis commented on #7925
Posting below a proposal for adding a feedback widget within the dashboard. Cc @jldec

Going through the navigation:

| Current | Breakdown | Scaling | Proposal |
|-|-|-|-|
| <img width="600" alt="Link-3" src="https://user-images.githubusercontent.com/120486/154721870-76ebf4e4-b453-483c-9ee2-35af1c5d96b8.png"> | <img width="600" alt="Link" src="https://user-images.githubusercontent.com/120486/1547

[2022-02-18 17:33] mikenikles commented on #8290
4. Something else :).

I updated the description, it's related to a team's Projects view, e.g. https://gitpod.io/t/gitpod/projects

[2022-02-18 17:43] mikenikles opened #8318 ""We are having trouble connecting to the server""
### Bug description

Once or twice per week, I can't start workspaces due to the following error popup:

<img width="431" alt="image" src="https://user-images.githubusercontent.com/788827/154734227-d4561c86-f68e-44a2-ba8b-d8ea3d72ea45.png">

In the browser console, I see the following:

[code]

### Steps to reproduce

No reliable steps yet. I did notice though the browser I use doesn't matter. Her

[2022-02-18 18:20] loujaybee opened #8319 "Add debug instructions to JetBrains documentation"

[2022-02-18 18:21] loujaybee opened #8320 "Document JetBrain's IDE plugin (e.g. client vs server)"

[2022-02-18 19:20] jeanp413 commented on #8111
Fixed in https://github.com/VSCodeVim/Vim/pull/7520#issuecomment-1044861338, already published into open-vsx too :tada:

[2022-02-18 19:20] #8111 closed

[2022-02-18 20:03] eiymba opened #8321 "Container Registry and S3 Clarification In The Docs"
The EKS installer's bash script modifies this parameter such that it it reads:

[code]

However, the actual readme of the installer suggests this yaml format:

[code]

So, am I correct it thinking that we can either use S3 as a container registry, or use an external private container registry?

[2022-02-18 23:46] sagor999 commented on #7778
I believe this might be fixed with this commit: https://github.com/gitpod-io/gitpod/commit/3179adc80256e0023569b3baeba7627e1fef3c0c
https://github.com/gitpod-io/gitpod/blob/3179adc80256e0023569b3baeba7627e1fef3c0c/components/ws-manager-bridge/src/bridge-controller.ts#L61-L92

Currently this function `this.metrics.updateClusterMetrics` throws exception and that causes line below to never execute, s

[2022-02-18 23:51] sagor999 opened #8323 "pulling container image message but actually installing vscode extensions"
## Is your feature request related to a problem? Please describe
I noticed that when I am waiting for workspace to start and sitting on "pulling container image" message, actual container is not actually pulling an image. Instead when I looked in logs, it was installing vscode extensions. Actual image pull was about 3 seconds and then for about 2 minutes it was installing those extensions.
Would i

[2022-02-18 23:51] sagor999 commented on #8323
Tagging @gitpod-io/engineering-ide @gitpod-io/engineering-webapp for input.

[2022-02-19 00:08] kylos101 opened #8324 "[prebuild] Not able to consistently view logs and start related workspaces"
### Bug description

This happens intermittently to some users. When opening a prebuild to view its logs, they sometimes see the following, the prebuild (which normally takes 10m) times out after an hour, and then the workspace cannot be started:
![image](https://user-images.githubusercontent.com/1272076/154758824-e8edc726-3b1b-4829-9aeb-acdd5686ddcc.png)

Refreshing the page results in the same s

[2022-02-19 00:38] kylos101 commented on #8309
Thanks for the heads up, @jankeromnes ! When we fix this, we should be certain to add a related integration test.

[2022-02-19 00:42] sagor999 commented on #8206
@smacintyre would you be able to open developer console in your browser when this happens and copy paste errors from it in here?
That will help to track this down.
I tried to repro this locally but had no luck so far.

[2022-02-19 05:25] akosyakov commented on #8323
How did you investigate it? Who was pulling images? Container was already running and VS Code was installing extensions? Server was doing it?

There is already such message `Opening workspace...`. It should be shown if a container is running and VS Code Server is starting, but extensions installation happens async. It should not block a server startup as for now. (cc @jeanp413 @mustard-mh)

[2022-02-19 07:45] jankeromnes commented on #8323
Wow, intriguing find @sagor999 👏

I'm also a little surprised, because the dashboard only shows `Pulling container image` when `workspaceInstance?.status.phase === "creating"`:

https://github.com/gitpod-io/gitpod/blob/f41c652a8416540a8f6df41d70bfc8db60eb47c3/components/dashboard/src/start/StartWorkspace.tsx#L387-L393

Then, when the image pull is done and the instance is created, I would expect i

[2022-02-19 12:33] Volodsher commented on #8311
https://user-images.githubusercontent.com/19806253/154800880-c2caf11a-b224-4fb7-bbad-7a1a80c3bf29.mp4

[2022-02-19 14:19] jeanp413 commented on #8323
As Anton said extension installation is async once the server started so it's not a blocker, IDE is marked as ready as soon as http server started and code services are created

[2022-02-19 15:26] mikenikles opened #8326 "Prebuilds don't run due to `last backup failed: workspace does not exist.`"
### Bug description

The Prebuild logs display the following console output in the dashboard:

[code]

<details>
  <summary>Screenshot</summary>
  <img src="https://user-images.githubusercontent.com/788827/154807097-4e146d08-41ac-4ea0-983b-289d45e7624b.png" />
</details>

However, the list of Prebuilds for that project lists the above Prebuild as "READY".

<details>
  <summary>Screenshot</summary>

[2022-02-19 15:33] mikenikles opened #8327 "The `gitpod/workspace-postgres` workspace image does not start the PostgreSQL database"
### Bug description

Instead of starting the PostgreSQL database, workspaces based on the `gitpod/workspace-postgres` image ([source](https://github.com/gitpod-io/workspace-images/blob/master/chunks/tool-postgresql/Dockerfile)) display the following errors in the terminal:

[code]

### Steps to reproduce

1. Create a new repository in GitHub
2. Commit a `.gitpod.yml` file with the following conten

[2022-02-19 15:38] mikenikles commented on #8323
@shaal FYI since you've asked for more transparency on the workspace startup screen.

[2022-02-19 17:11] shaal commented on #8323
@mikenikles thank you!
I think everyone would benefit from getting information on what they're waiting for.
Currently there's only 1 generic message `pulling container image`.
I had opened many issues regarding startup times, and lack of information.
One example is slowness caused by big artifacts that were generated during prebuild - https://github.com/gitpod-io/gitpod/issues/7002

[2022-02-19 18:04] mikenikles commented on #554
I removed the `meta: stale` label since this continues to be a valid issue with at least two people requesting it.

[2022-02-19 21:41] MrSimonEmms opened #8328 "Make the licensing match what's advertised"
On [Gitpod](https://www.gitpod.io/self-hosted), we advertise three self-hosted plans - community, free and professional.

In the [application](https://github.com/gitpod-io/gitpod/blob/main/components/licensor/ee/pkg/licensor/licensor.go#L81), we only provide two plan types - team and enterprise

This ticket is to make the application match what we advertise.

---

There are a few potential things

[2022-02-19 21:54] MrSimonEmms opened #8329 "Create and publish a "free" license"
A generic "free" Replicated license needs to created for users to download and consume. This will then need to be published to the Gitpod self-hosted docs.

In Replicated parlance, this will be a community license. However, this will be the Gitpod free license for 10 users and the Gitpod community license for more than 10 users - see [docs](https://www.gitpod.io/self-hosted)

As this will be used

[2022-02-19 22:06] MrSimonEmms opened #8331 "Allow additional users for providers of telemetry data"
As a quid pro quo, we should offer additional users to those who provide data. As a starting point, we should add an additional 10 users to those who provide data.

To ensure that this doesn't it doesn't cause unexpected behaviour when a user declines to send data, we need to include tests when there are 10+ users. We have two options for the correct behaviour - we need to decide which one we want

[2022-02-20 00:27] kylos101 commented on #2459
@csweichel @Furisto for consideration for the cgroup v2 epic

[2022-02-20 01:17] jeanp413 commented on #8111
BTW the bug where specifying a specific version of an extension in gitpod.yml but then it auto-updates to latest version is a known upstream issue https://github.com/microsoft/vscode/issues/63903, you could comment and upvote so it gets more attention to get fixed

[2022-02-20 04:20] #6459 closed

[2022-02-20 04:20] #6509 closed

[2022-02-20 04:20] #6589 closed

[2022-02-20 04:20] #6610 closed

[2022-02-20 04:20] #6341 closed

[2022-02-20 04:20] #6633 closed

[2022-02-20 05:10] axonasif commented on #8324
@jmls you can subscribe here for updates 🙏

[2022-02-20 05:20] #4781 closed

[2022-02-20 05:20] #6535 closed

[2022-02-20 05:20] #5141 closed

[2022-02-20 05:20] #6660 closed

[2022-02-20 05:20] #6668 closed

[2022-02-20 05:20] #5702 closed

[2022-02-20 10:30] jankeromnes commented on #6779
Now that https://github.com/gitpod-io/gitpod/issues/4353 has been renamed, closing this one as duplicate.

[2022-02-20 10:30] #6779 closed

[2022-02-20 13:25] alan-christian opened #8333 "VS Code typing errors on Android"
### Bug description

when I open gitpod on android it does not type correctly in the file it keeps bugging and deleting things

### Steps to reproduce

- open gitpod on android
- type something on a file

### Workspace affected

_No response_

### Expected behavior

to type normally

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-20 14:44] Madeline8 commented on #1032
Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 3435973837, used: 65865462583, capacity: 66388008960

I am not unable to submit my project, deadline tomorrow :(((

[2022-02-20 15:30] #8223 closed

[2022-02-20 15:33] jankeromnes commented on #8333
Thanks for reporting this problem @Nerd00F!

I can confirm that Gitpod's VS Code editing experience is erratic on Android. Both the editor and the terminal are affected.

Sending this issue to team IDE for consideration.

[2022-02-20 16:19] Nerd00F commented on #8333
Thanks.

[2022-02-20 16:54] axonasif commented on #8333
Hi @Nerd00F
- I recommend using [Kiwi](https://kiwibrowser.com/) browser(android), it features a full-blown Dev-console like desktop, chromium based and OSS.
- Visit https://gitpod.io/ and from your browser menu use `Add to Homescreen` button. (Works for most chromium browsers such as Google-Chrome, Brave, Opera, Kiwi, Vivaldi etc.)
- Your browser will detect it as PWA and install the app.
![Scree

[2022-02-20 17:00] Nerd00F commented on #8333
that's a lot of tools, he he

[2022-02-20 17:37] axonasif commented on #8333
Not a lot I think, hardly 3 😬

[2022-02-21 02:01] axonasif commented on #1032
@Madeline8 it should go away by itself on retrying, our workspace team is investigating.

[2022-02-21 02:02] kylos101 commented on #7778
@sagor999 I am guessing the next webapp deployment will be early this week. @geropl @JanKoehnlein , do you have an eta for when that may be?

[2022-02-21 05:09] mikenikles opened #8337 ""Open in VS Code" creates an empty `gitpod_ssh_config-*` file"
### Bug description

When I click "Gitpod: Open in VS Code" in a running workspace, local VS Code starts and times out after 30 seconds.

I notice three files were created:

[code]

I suspect local VS Code can't connect to the Gitpod workspace because the ssh config file is empty.

OS: Ubuntu 21.10

VS Code
[code]

### Steps to reproduce

1. Start a workspace
2. Click "Gitpod: Open in VS Code"
3.

[2022-02-21 08:16] JanKoehnlein commented on #7778
The plan is to deploy Tuesday 9am CET

[2022-02-21 08:41] #8323 closed

[2022-02-21 09:20] #8222 closed

[2022-02-21 09:37] Matte-gtr commented on #8238
Mine has done the same. https://gitpod.io/start/?not_found=true#pink-ostrich-p4sqvwjd

[2022-02-21 09:46] #1993 closed

[2022-02-21 10:17] #8257 closed

[2022-02-21 10:18] mads-hartmann commented on #8304
I believe this is being handled by https://github.com/gitpod-io/gitpod/pull/8316 (at least the fail early part) /cc @wulfthimm

Lets track finding a way to support longer branch names (e.g. by shortening it as you suggest) in a separate issue (I'll create it)

[2022-02-21 10:18] mads-hartmann commented on #8304
@wulfthimm I assigned this to you, please close it when you've merged your PR ☺️

[2022-02-21 10:19] loujaybee commented on #7408
Will remove this one from the inbox, but, it's something we should consider as part of:

- https://github.com/gitpod-io/gitpod/issues/7184

[2022-02-21 10:21] mads-hartmann commented on #8304
And here's the follow up issue https://github.com/gitpod-io/ops/issues/1252

[2022-02-21 10:21] jldec opened #8340 "Track snapshot usage with success and access-error events"
This is a followup issue to #8257.

Since this change may break some existing workflows, it would be good to add usage tracking for workspace starts with snapshot URLs so that we can monitor both success and (importanly) the error cases.

[2022-02-21 10:22] loujaybee commented on #8190
Thanks for raising @jonathan-wondereur ! We'll be updating the connection method of VS Code desktop soon, hopefully this should resolve the issue. We'll investigate this as part of the work to bring VS Code to GA. 🙏

- https://github.com/gitpod-io/gitpod/issues/7184

[2022-02-21 10:30] JanKoehnlein commented on #7467
Duplicate of https://github.com/gitpod-io/gitpod/issues/8271

[2022-02-21 10:30] #7467 closed

[2022-02-21 10:39] loujaybee opened #8342 "Address versioning format of gp CLI"
The GP CLI output for the `version` command "appears" incorrect. It is non-obvious for an end-user to use this metadata to be able to trace back this version and understand what it's referencing.

![image](https://user-images.githubusercontent.com/5528307/154938671-50d7d561-3edc-4683-909c-b74ee1484f03.png)

[2022-02-21 10:43] akosyakov commented on #8342
We version as all other components in Gitpod to track back to CI and commit, i.e. it reflects with which CI job is was built built from which we can track a commit. What do you want to change?

[2022-02-21 10:52] akosyakov commented on #7898
@jeanp413 I think we don't override `vscode-webview.net` in blobserve. My guess is that this custom webview is loaded in webworker, so it still tries to connect to MS endpoint, i.e. it is caused by https://github.com/gitpod-io/gitpod/issues/6437

[2022-02-21 11:01] loujaybee commented on #8342
I don't think that's will be obvious to a user.

If this output is used mostly by Gitpod staff for debugging purposes, I suggest we

1. Rename it and hide the command from the help page of the CLI [[1](https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-cli/cmd/version.go#L19)]
2. Swap the output to key-value/formatted output to make it more clear what the metadata is:
[code]
3. Swap t

[2022-02-21 11:09] akosyakov commented on #8342
Yes, I think we can hide from the help page. We introduce this option only to verify that we provide proper x-version header in request to server. Other options are more involving and I don't think very valuable to a user. A user can usually assume that everything is up-to-date. We deploy as soon as possible and workspace get cycled daily, as soon as you restart a workspace you get a latest gp-cli

[2022-02-21 11:12] jmls commented on #8285
+100 from me ;)

[2022-02-21 11:14] loujaybee commented on #5931
Thanks for raising @konne, we can look into ways to make user settings more configurable on a team / project level.

We'll also update the documentation to make it clearer how the settings sync currently works and how to override 🙏

Related: https://github.com/gitpod-io/website/issues/1276

Removing from inbox.

[2022-02-21 11:19] loujaybee commented on #6853
Thanks for the patience as we worked to get this fixed @borisyordanov 🙏

We'll be updating the connection method from desktop to Gitpod as part of:

- https://github.com/gitpod-io/gitpod/issues/7184

Which hopefully should resolve this issue for good.

Removing issue from inbox for now.

[2022-02-21 11:20] loujaybee commented on #7462
Given @jeanp413's comment above, please raise with the upstream plugin maintainers, if you have further issues, feel free to re-open the issue 🙏

[2022-02-21 11:20] #7462 closed

[2022-02-21 11:29] loujaybee commented on #8226
Thanks @geropl — given that this looks to be a smallish fix, let's pull into scheduled. 🙏

[2022-02-21 11:33] jldec commented on #8340
@jankeromnes do you know if there is already a log event we could track for these errors (in which case the urgency of this issue may be lower?)

[2022-02-21 11:56] veritem opened #8343 "Font broken on ubuntu 20.10"
### Bug description

![image](https://user-images.githubusercontent.com/53856673/154950740-3a950199-67e2-4a17-82ad-58aeb1c29c7c.png)

### Steps to reproduce

Open gitpod on ubuntu 20.10

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-21 12:12] #7891 closed

[2022-02-21 12:21] corneliusludmann opened #8344 "[telemetry] Wrong enable service ping state in admin dashboard after login"
When I log in to Gitpod (Self-Hosted) and go to Admin → Settings, the “Enable Service Ping” checkbox is not checked (which seems to be wrong). When I reload the page, the checkbox _is_ checked (which is correct). That happens only directly after login. When I navigate away (after the reload) and back to this page the state of the checkbox is correct.

![Peek 2022-02-21 13-16](https://user-images.g

[2022-02-21 12:23] #7916 closed

[2022-02-21 12:32] #7400 closed

[2022-02-21 12:34] axonasif commented on #8343
@veritem can you please provide more info and share some steps that we can follow to reproduce your issue?

[2022-02-21 12:44] akosyakov commented on #8226
@geropl I thought we fixed it already 🤔 ?

[2022-02-21 12:54] veritem commented on #8343
Open any repo on a fresh install of ubuntu 20.04.  Font's looks broken  in gitpod same as like this.
![image](https://user-images.githubusercontent.com/53856673/154959058-9350ed09-af25-4e8c-b7a3-450334a0d8f4.png)

[2022-02-21 13:07] geropl commented on #7082
### Update

For what has happened during the last weeks on this:
 - we identified several source of bad performance/CPU spikes/long sync blocks and merged/shipped fixes [[1](https://github.com/gitpod-io/gitpod/pull/7847), [2](https://github.com/gitpod-io/gitpod/pull/8227)]
   - [some](https://github.com/gitpod-io/gitpod/pull/8201) are still outstanding, but can be continued after [blockers](https:

[2022-02-21 13:16] axonasif commented on #8337
Thanks for raising @mikenikles! Our ide-team will be updating the connection method of VS Code desktop soon to direct SSH without any helper program, hopefully that would resolve the issue.

- https://github.com/gitpod-io/gitpod/issues/7184

[2022-02-21 13:29] #8321 closed

[2022-02-21 13:38] geropl commented on #7778
Just found this issue, and it's hard to believe that cluster update should not work at runtime. We noticed the metrics error to appear around Christmas (do not recall precisely).
@sagor999  Do you trigger a restart of `ws-manager-bridge` every time you deploy a new workspace cluster to mitigate, as part of your deployment script? :thinking:

[2022-02-21 13:38] Meldiron opened #8347 "applying cgroup configuration for process caused: failed to write "0-15""
### Bug description

When I created a new workspace, I got this error:

![image](https://user-images.githubusercontent.com/19310830/154965653-1a46fb97-195b-4cf4-aee7-3195e6604b6e.png)
Text:
[code]

It happened 3 times, but fourth one was fine. I can see my workspaces in Gitpod dashboard:

![image](https://user-images.githubusercontent.com/19310830/154965941-c2570761-0e9c-4a37-9a3b-ffb20a3ce148.png

[2022-02-21 13:46] axonasif commented on #8347
2 more reports:
- @Dragondscript on [discord](https://canary.discord.com/channels/816244985187008514/839379835662368768/945313058027343942), ws id: gameplexlaunche-api-1829qwitao5.ws-eu33
- mechad on [discord](https://canary.discord.com/channels/816244985187008514/945313233819029574/945314410220617811), ws id: ?

[2022-02-21 14:25] aledbf commented on #7778
Yes

[2022-02-21 14:34] Furisto commented on #8347
We had a misconfigured node. We removed it from the node pool. Please post here if you are still seeing problems.

[2022-02-21 15:11] mihairaulea opened #8349 "Gitpod commit author"
Hi,

I see that sharing my Gitpod link to other team members makes all the commits be under my name. How can i share my workspace with others (ideally, without them having to open an account with gitpod), and get the correct github/gitlab credentials for the commit?

Is this even possible? Thanks.

[2022-02-21 15:14] csweichel opened #8350 "Epic: Support cgroup v2"
## Summary
cgroup v2 support enables new workloads in Gitpod clusters, e.g. is a prerequisite for k3s support.

## Value
Today we only support cgroup v1. Cgroup v2 is namespaced and offers more functionality in combination with user-namespaces. It's the precursor to supporting things like k3s within workspaces.

## Acceptance criteria
- we can still run workspace clusters which use cgroup v1 where

[2022-02-21 15:48] jankeromnes opened #8352 "[Design] Team Plans v2"
## Context

- Part of [Epic: Simplify team plans and align with project teams](https://github.com/gitpod-io/gitpod/issues/7759)
- See also [User's Perspective](https://www.notion.so/gitpod/Aligning-Team-Plans-and-Teams-9073db94359549918ab5c85cc364de46#86e9dbfeaf1e40808fd822a15e902bcb) in the RFC

## Goals

We would like to implement a new "**Paid Plans**" page under Team Settings that allows:
- Se

[2022-02-21 15:51] akoenig opened #8353 "Prebuild fails when trying to use pnpm"
### Bug description

When using `pnpm` in the `init` task, the prebuild fails with:

![image](https://user-images.githubusercontent.com/224910/154988093-9a7a30ff-6148-4d54-b359-1a621527a277.png)

### Steps to reproduce

Add the following `init` task and trigger a prebuild:

[code]

### Workspace affected

_No response_

### Expected behavior

Should be possible to use `pnpm` within a prebuild.

##

[2022-02-21 16:22] john-shaffer opened #8355 ""Open in VS Code" doesn't work if settings.json is not writeable"
### Bug description

"Open in VS Code" requires write access to the User settings.json.

![Screenshot from 2022-02-21 10-06-25](https://user-images.githubusercontent.com/53870456/154992356-1ee1c235-e5ea-4119-aee9-9d84f76a625e.png)

I manually added the "remote.SSH.defaultExtensions" config to my settings.json, but I cannot add the path to the SSH config because it changes each time. It would be fi

[2022-02-21 16:50] dragonDScript commented on #8347
Thanks for the quick response. Working now

[2022-02-21 17:23] jankeromnes opened #8359 "Request getWorkspace failed with message: No identity with primary email for user: [...]!"
### Bug description

A recent incident affected all members of the Gitpod team and caused starting workspaces to fail with:

[code]

<img width="400" alt="No identity with primary email for user" src="https://user-images.githubusercontent.com/599268/154998921-644148ca-322c-42e0-9784-c16f5cbcc423.png">

This looks like a come back of this issue: https://github.com/gitpod-io/gitpod/issues/6035

###

[2022-02-21 17:23] aledbf opened #8360 "Enable workspace clusters only for prebuilds"
## Describe the behavior you'd like

Workspace clusters run two different workloads: prebuilds and workspaces. Right now is not possible to have workspace clusters only for prebuilds. The goal with only prebuilds is dedicated clusters in bare-metal servers outside cloud providers. In particular, one node cluster/s with at least 48 CPUs and 256GB of RAM and no limits.

[2022-02-21 17:30] loujaybee commented on #7900
Hey @andymac4182 👋

This request is very worthy of its own feature request / issue. This epic will likely not be the fully-fledged API, but a subsection of some of the API's as well as a foundation for future API's. I doubt all of the CRUD API's required for a fully working Terraform provider will be possible within this issue/epic alone.

I'll look into this to see if there's anything sensitive o

[2022-02-21 18:28] jldec commented on #8359
Scheduled.

Let's improve resilience first to scenarios where an account has no identities.
The 2 known places that break are:

1. If the account with no identy is part of a team, starting a workspace (for a project in the team?) fails.
2. The admin/users detail page is blank with the same error message e.g. https://gitpod.io/admin/users/

Reproducing (and preventing) this situation could be trick

[2022-02-21 18:31] aledbf commented on #8202
This was migrated from the previous approach (GKE). I am not sure if one disk can handle all workspaces IOPS or we need to switch back to SSDs (70% increase cost in storage)

[2022-02-21 19:41] alexanderkoh commented on #8145
I am facing the same situation since last week. Is there any interim fix?

[2022-02-21 20:26] dcb99 commented on #5321
My job uses Azure DevOps and we are looking to migrate to cloud workspaces, would be nice if gitlab had an integration.

[2022-02-21 20:54] easyCZ opened #8364 "Dotfiles installation lifecycle"
## Is your feature request related to a problem? Please describe

When dotfiles configuration is set, from the [documentation](https://www.gitpod.io/docs/config-dotfiles) it is not clear what the lifecycle (installation cycle) of the dotfiles is. From the documentation, it would seem that the dotfiles are **first** symlinked, and then one of the **installation** scripts are executed. This is, howe

[2022-02-21 22:50] kylos101 commented on #8070
@konne , just wanted to circle back to this and see how things are going? Hope you had a nice vacation.

[2022-02-22 00:45] utam0k opened #8368 "The cgroup files doesn't exist when page-cache reclaim"
### Bug description

The file may not exist when running page-cache reclaim.
https://github.com/gitpod-io/gitpod/pull/8366

We have to find out under what conditions this occurs and handle the error appropriately.

### Steps to reproduce

We need to find out how to reproduce this error message.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_N

[2022-02-22 01:31] mikenikles opened #8369 "Workspace startup screen stuck in "Running""
### Bug description

When I come back to a workspace that previously timed out, I see the usual workspace startup screen (e.g. pulling container image, etc.). At the end, the screen is stuck in the "Running" state.

I have to manually stop and restart the workspace to access it again. No browser console errors.

![image](https://user-images.githubusercontent.com/788827/155046220-032a9275-efe9-4fde

[2022-02-22 02:28] sagor999 commented on #8202
re: raid0
yes, that is definitely a concern. I will do tests first (synthetic though)

https://cloud.google.com/compute/docs/disks/performance
I am not sure if raid0 gets even close to ssd perf though.
we could also allocate a disk per several ws, instead of one per node to better spread the load.

[2022-02-22 03:39] smacintyre commented on #8206
@sagor999 Will do. It happens really randomly.

[2022-02-22 04:15] axonasif opened #8370 "No space left on device on trying to restart a workspace"
### Bug description

Here is the reported log by a user(very verbose):
<details>
  <summary>Expand me</summary>

cannot initialize workspace: cannot restore backup: tar /dst: tar /dst: exit status 2;tar: ./var/log/tinit/devSessionID1234-eid.log: Wrote only 2560 of 10240 bytes tar: ./firecracker-rootfs/runner/node_modules/tsconfig-paths/node_modules/.bin/json5: Cannot create symlink to ‘../json5/li

[2022-02-22 04:29] axonasif commented on #8369
I've been seeing this before it switches to the VSCODE interface. Although it doesn't stay stuck for me.

[2022-02-22 04:34] axonasif commented on #8347
Perhaps we can close it now.

[2022-02-22 04:34] #8347 closed

[2022-02-22 04:38] axonasif commented on #8355
Thanks for raising! Our ide-team will be updating the connection method of VS Code desktop soon to direct SSH without any helper program, hopefully this should resolve the issue. Please see

- https://github.com/gitpod-io/gitpod/issues/7184

[2022-02-22 04:53] princerachit commented on #8238
I am reopening this as the issue doesn't seem to be resolved yet.

[2022-02-22 05:18] princerachit commented on #8238
I found in the log that one of the workspaces which faced this issue[ had error message](https://cloudlogging.app.goo.gl/LL1KmFJsvSvjLq7i7) saying, "ran to completion". This means that our condition check is incorrect here
https://github.com/gitpod-io/gitpod/blob/f41c652a8416540a8f6df41d70bfc8db60eb47c3/components/ws-manager/pkg/manager/manager.go#L294-L314

We should have retry mecahnism if pod f

[2022-02-22 07:09] #8193 closed

[2022-02-22 07:12] jankeromnes commented on #8340
I think there is no such log event. Will try to send a quick Pull Request here.

[2022-02-22 07:54] #8340 closed

[2022-02-22 08:12] #8296 closed

[2022-02-22 08:30] axonasif commented on #8349
Duplicate of https://canary.discord.com/channels/816244985187008514/945336704812863569/945337294498439219

[2022-02-22 08:30] #8349 closed

[2022-02-22 08:39] jankeromnes opened #8375 "High performance impact of server.trackEvent -- let's re-evaluate when it gets called"
### Bug description

The API method `server.trackEvent()` is being called too frequently, putting excessive load on our servers.

It would be good to:
- [ ] find out which events are tracked the most frequently
- [ ] ... and re-evaluate whether they're still useful, or if we can stop tracking them
- [ ] ... if they're still useful, see if we can send them to our analytics backend (segment) directl

[2022-02-22 09:37] geropl commented on #7778
Got deployed this morning.

[2022-02-22 09:37] #7778 closed

[2022-02-22 10:26] konne commented on #8070
@kylos101 I will close this ticket. I got the info from the team that they don't saw the issue in the last few days.
If it happens again, I will create a new ticket and link this one.
THX

[2022-02-22 10:26] #8070 closed

[2022-02-22 10:50] akosyakov opened #8377 "VS Code Desktop: Auto forward ports from .gitpod.yml (sometimes ports are not detected or shown)"
Right now we rely on Remote SSH for VS Code Desktop support for port forwarding. It seems to have some auto forwarding built-in but it does not work always. We also observed that some extensions seem to be able to forward ports as well. Since we have a Gitpod extension running in their server we could investigate auto forwarding of ports from .gitpod.yml as well.

[2022-02-22 10:52] lhartley870 opened #8378 "Oh, no! Something went wrong! OutOfmemory: Pod Node didn't have enough resource: memory, requested: 3435973837, used: 65865462583, capacity: 66388008960"
### Bug description

Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 3435973837, used: 65865462583, capacity: 66388008960

### Steps to reproduce

Trying to launch my existing gitpod workspace

### Workspace affected

https://gitpod.io/start/#bronze-chinchilla-sc7zx3uc

### Expected behavior

My gitpod workspace to launch without errors

### Exam

[2022-02-22 10:55] #7318 closed

[2022-02-22 10:59] princerachit commented on #8238
Julian also reported OOM issue, this was because [finalizer could not be removed](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-02-22T10:30:46Z;query=%22gitpodio-website-n%22%0Atimestamp%3D%222022-02-22T10:30:46Z%22%0AinsertId%3D%226eba3b0rwgirboyf%22?project=workspace-clusters)
[code]

[2022-02-22 11:09] aledbf commented on #8202
What you are describing here is very similar to github.com/kubernetes-csi/external-snapshotter  (that project has the advantage that is not tied to GCP)
https://kubernetes.io/es/docs/concepts/storage/volume-snapshots/

[2022-02-22 11:28] JimLynx commented on #8378
This seems to be an ongoing issue with many of our students experiencing this (and opening tickets that aren't resolved).

Past ticket responses on the same error are not providing much context on how this can be resolved. either. Any advice would be much appreciated.

[2022-02-22 11:33] loujaybee commented on #7193
Closing this, as overlapped heavily with https://github.com/gitpod-io/gitpod/issues/7185, will use that epic / issue to track introduction of command line, etc going forward.

[2022-02-22 11:33] #7193 closed

[2022-02-22 11:36] loujaybee commented on #7956
Moving to Q3, we'll continue work on this, but unlikely we'll be able to GA until after JetBrains / Gateway GA's, which is expected later this year. Worth focusing first on VS Code Desktop GA and local companion / local CLI GA first.

[2022-02-22 11:49] JakubKocerha opened #8381 "Oh, no! Something went wrong! OutOfmemory: Pod Node didn't have enough resource: memory, requested: 3435973837, used: 65865462583, capacity: 66388008960"
### Bug description

Oh, no! Something went wrong!
OutOfmemory: Pod Node didn't have enough resource: memory, requested: 3435973837, used: 65865462583, capacity: 66388008960

### Steps to reproduce

Attempting to launch my existing Gitpod workspace.

### Workspace affected

https://gitpod.io/start/#jakubkocerha-boutiqueado-k5hjwzpdov4

### Expected behavior

Have my existing Gitpod workspace launc

[2022-02-22 12:23] Robrowno opened #8382 "Out of memory error"
### Bug description

Error where workspace becomes corrupt and unable to open.
Displays Out of Memory error when workspace is clicked on.

When opening a new workspace it reverts to an older version despite git commits and pushes.

![image](https://user-images.githubusercontent.com/98883458/155130847-c600880a-f4cb-4f7e-8240-96cafc162b1b.png)

### Steps to reproduce

Open Github dashboard
Attempt t

[2022-02-22 12:30] julkhami opened #8383 "Forum and support email not working"
### Bug description

I am unable to send emails in the support form or post to the community forum. It has been this way for 24 hours.

Does anyone know what’s going on?

Thank you

### Steps to reproduce

Submit message to support or post to forum

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-22 12:40] utam0k commented on #8368
https://github.com/gitpod-io/gitpod/pull/8366/files#r811764035

[2022-02-22 12:49] kylos101 commented on #8070
@konne fantastic news, thank you!

[2022-02-22 12:59] gtsiolis opened #8384 "Telemtry payload preview is now shown on the admin dashboard"
### Bug description

The new telemetry payload preview element added in https://github.com/gitpod-io/gitpod/pull/8272, seems to be broken on the admin dashboard of the Gitpod.io instance. Cc @Pothulapati @corneliusludmann

### Steps to reproduce

1. Go to [gitpod.io/admin/settings](https://gitpod.io/admin/settings).
2. Notice the broken telemtry payload preview element below the service ping check

[2022-02-22 13:01] corneliusludmann commented on #8384
@Pothulapati Could you have a look in the production logs to see why this fails? Let me know if you need help.

[2022-02-22 13:02] #8224 closed

[2022-02-22 13:27] gtsiolis opened #8385 "Epic: Improve dashboard navigation"
### Epic tasks

- [x] Move `Workspaces` into top right nav, move `Docs` and `Help` under profile
- [x] Soft-highlight all top nav elements to show context
- [x] Split team context button with 2 active hover areas
- [ ] https://github.com/gitpod-io/gitpod/issues/10976
- [ ] https://github.com/gitpod-io/gitpod/issues/7879

### Problem to solve

The dashboard navigation has grown over the last few mo

[2022-02-22 13:32] maphew commented on #7627
Yes please! I searched for and found this issue because my naive attempt to use _"Existing Docker configurations"_ by simply referencing the project Dockerfile in `.gitpod.yml` did not fare well, and I lack the knowledge so far to rebuild it for Gitpod land. With that in mind I present the Dockerfiles under https://github.com/OSGeo/gdal/tree/master/docker as fodder for you to consider while workin

[2022-02-22 13:55] gtsiolis commented on #8060
While working this, I'm taking a stab at re-ordering some of the navigation structure in favor of some upcoming dashboard navigation changes in https://github.com/gitpod-io/gitpod/issues/8385 in case these could be part of this issue. However, going with the existing layout pattern should suffice. Will post some designs specs later today. Cc @laushinka @jldec

[2022-02-22 14:14] gtsiolis commented on #8060
Posting below some specs that reuse existing patterns from the admin dashboard. Future iterations will probably re-order some of the navigation elements, see #8385.

| Teams List | Team Details | Team Details (Deleted) |
|-|-|-|
| <img width="1440" alt="Teams (List)" src="https://user-images.githubusercontent.com/120486/155149862-3f100a91-9659-4ceb-a1c8-c64c4af1e42a.png"> | <img width="1440" alt="

[2022-02-22 14:27] laushinka commented on #8060
@gtsiolis Thank you! I was a bit uninspired when thinking of what the team details should look like, and this looks good. Are the possible actions for each team member the same as the current actions? i.e. `Leave Team` or `Remove`

[2022-02-22 14:34] #6749 closed

[2022-02-22 14:35] AlexTugarev commented on #8375
I've created a draft (https://github.com/gitpod-io/gitpod/pull/8388) it doesn't aim to solve this issue entirely, but maybe it already reduces the load significantly enough.

[2022-02-22 14:37] corneliusludmann commented on #8384
It was most probably caused by this database query that produces too heavy load on our production database:

https://github.com/gitpod-io/gitpod/blob/5f6114c2823997874352f8cd8f2207fef1253f29/components/gitpod-db/src/typeorm/workspace-db-impl.ts#L337-L344

Needs to be investigated.

See also: [#8386](https://github.com/gitpod-io/gitpod/pull/8386)

[2022-02-22 14:45] gtsiolis commented on #8060
@laushinka Yes, I swinged between re-using the existing tabular pattern of the project detail page but also tabs to separate overview, members, and projects. However, I think going with a (simple) _boring solution_ here like the proposal in https://github.com/gitpod-io/gitpod/issues/8060#issuecomment-1047839340 sounds good for the first iteration.

Things to consider dropping:
1. The more actions

[2022-02-22 15:42] shaal opened #8394 "Prebuild is running but I cannot see the log"
### Bug description

It seems that the headless log server is not able to find the prebuild?

![image](https://user-images.githubusercontent.com/22901/155166758-2753e60d-4a6c-41eb-8730-2fb681e87830.png)

### Steps to reproduce

Start a prebuild, check the log?

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_N

[2022-02-22 15:46] CyriacBr commented on #8238
I've had the same issue since 8+ hours now. Is there anything us users can do?
https://www.gitpodstatus.com/ shows that all services are operational. Does that mean that this issue only impact very few workspaces? Can Gitpod support solve the issue at the workspace level?

[2022-02-22 17:14] csweichel opened #8396 "[research] Test GPU support in workspaces"
## Is your feature request related to a problem? Please describe
Kubernetes can make GPUs available in pods. Can those GPUs be used from within a Gitpod workspace?

## Describe the behaviour you'd like
GPUs should be possible to use if the underlying cluster supports it.

## How
Can we run Gitpod workspaces with GPU? Try changing the config map in-place for `ws-manager` and `workspace-templates` f

[2022-02-22 18:20] shaal commented on #7781
@AlexTugarev please see my question above ^

[2022-02-22 19:03] sagor999 commented on #8378
duplicate of https://github.com/gitpod-io/gitpod/issues/8238

we are working on fixing this. previous fix improved this but have not fixed 100%.

[2022-02-22 19:03] #8378 closed

[2022-02-22 19:04] sagor999 commented on #8381
duplicate of https://github.com/gitpod-io/gitpod/issues/8238

[2022-02-22 19:04] #8381 closed

[2022-02-22 19:05] loujaybee commented on #7248
Related: https://github.com/gitpod-io/gitpod/issues/8375

[2022-02-22 19:11] axonasif commented on #8382
Duplicate of #7969 https://github.com/gitpod-io/gitpod/issues/8238

[2022-02-22 19:11] #8382 closed

[2022-02-22 19:13] axonasif commented on #8377
I discovered a vscode settings 👀
[code]

[2022-02-22 19:13] sagor999 opened #8397 "[research] Test API server tuning for PVCs and PVC\Snapshot speed"
One more test on feasibility of using PVCs instead of dedicated disks.

Based on this from @aledbf : https://gist.github.com/aledbf/be33e0481177f789d44d0d22b77b4a33

Test using gitlab's repo, since it is big and will generate large backup file.

Two tests:
1. Test tweaking API server params to see if it would have any affect on PVC attach speed.
2. Test snapshot creation\restore and compare it to

[2022-02-22 19:19] axonasif commented on #7627
Hey @maphew, I think you were trying to use the alpine dockerfiles that you have on that repo, please keep in mind that we don't support alpine images as the base for now.

[2022-02-22 19:40] sagor999 commented on #8238
Just to update. We are working on a fix, and planning to release new version later this week. :pray:

[2022-02-22 19:55] #7726 closed

[2022-02-22 19:55] loujaybee commented on #7726
Fixed in latest version !

[2022-02-22 20:31] mikenikles commented on #8030
Not allowing untrusted SVGs in VS Code extensions is a security feature introduced by VS Code in summer of 2017 [[1](https://github.com/Microsoft/vscode-vsce/issues/183#issuecomment-311577587)].

There is a feature request to sanitize instead of banning SVGs in VS Code extensions [[2](https://github.com/microsoft/vsmarketplace/issues/38)].

I'm closing this based on research summarized in [this co

[2022-02-22 20:31] #8030 closed

[2022-02-22 23:05] RedstoneWizard08 commented on #7700
@ZCube I'm back again, I got suspended again, and I think it's because of the MinIO setup in `gitpod-arm/gitpod`.

[2022-02-22 23:09] RedstoneWizard08 commented on #7700
I'm working this out with GitHub support so this doesn't keep happening.

[2022-02-22 23:10] miketheman opened #8399 "Cannot start elasticsearch service due to kernel settings"
### Bug description

I've been searching high and low, and can't really figure out the right way to do this.

To run a docker-compose stack with an elasticsearch container alongside application containers, ES complains and exits with:

[code]

The usual (non Docker-in-Docker) remediation for this is:
[code]
or persisting a change in `/etc/sysctl.conf` and rebooting ([docs ref](https://www.elastic.

[2022-02-22 23:13] RedstoneWizard08 commented on #7700
Oh well, it doesn't look like this is going to happen. Sorry. 😞

[2022-02-22 23:13] #7700 closed

[2022-02-22 23:14] sagor999 commented on #8399
@csweichel @aledbf we can probably set this on base VM image. Any concerns?

[2022-02-22 23:24] aledbf commented on #8399
I think doing this at the node level could potentially increase the memory consumption of all applications running, not only in the workspace.

[2022-02-22 23:29] miketheman commented on #8399
My understanding is that this setting tells the kernel how much the maximum memory for a single process is allowed to consume, regardless of the actual amount of memory in use.
I might be wrong!

How would this setting increase memory consumption? Maybe it would allow memory-hungry applications to use more memfs/malloc memory, but it can never exceed the amount of memory configured for the contain

[2022-02-22 23:59] sagor999 commented on #8399
@miketheman alternatively have you considered switching elastic into development mode? it should log that as warning in that case instead of exception: https://www.elastic.co/guide/en/elasticsearch/reference/master/system-config.html#dev-vs-prod

[2022-02-23 01:06] sagor999 commented on #8397
first part of the test is unsuccessful:
passed following params into `install-k3s.sh`:
[code]
![Screenshot from 2022-02-22 16-54-52](https://user-images.githubusercontent.com/18602811/155245902-926ab80c-9758-4b11-a216-07d0424dde13.png)

no difference. still ~15s delay. @aledbf

[2022-02-23 01:37] kylos101 commented on #7778
Awesome, thank you, @geropl !

CC: @sagor999

[2022-02-23 01:40] sagor999 commented on #8397
Snapshotting results:
creating snapshot of 30G pvc:
![Screenshot from 2022-02-22 17-32-51](https://user-images.githubusercontent.com/18602811/155248434-1a6a02d0-7b8b-4872-a109-82e7f091ebdd.png)
Took about 90s. PVC contained one 10G file, but I believe it doesn't matter for snapshots.

Restoring PVC from snapshot:
![Screenshot from 2022-02-22 17-36-33](https://user-images.githubusercontent.com/1860

[2022-02-23 03:50] miketheman commented on #8399
@sagor999 I hadn't, but it's unclear how to set development mode from that page, or even from these docs: https://www.elastic.co/guide/en/elasticsearch/reference/current/bootstrap-checks.html#dev-vs-prod-mode

Were you able to use my reproduction repo (linked in original report) to start the service successfully somehow?

[2022-02-23 05:58] mikenikles commented on #8292
New report on Twitter: https://twitter.com/erctldysfnction/status/1496102049372684289

[2022-02-23 07:28] akosyakov commented on #8111
[here](https://github.com/VSCodeVim/Vim/issues/7530) is an issue to prevent such breakage please upvote 🙏

[2022-02-23 07:33] ChristianKohler commented on #8030
Hey @mikenikles

Very well researched and a super transparent communication 💪

Thank you for looking into it. I understand the limitations.

[2022-02-23 08:24] MrSimonEmms commented on #6874
I would love to see it being even more granular than that and being able to decide which Jetbrains IDE I use at runtime.

Real world usecase - I tend to want to use Goland when working with Go projects but IntelliJ when working on JS projects. When doing work on the Gitpod repo, this has both projects so I tend to switch between the two.

In my mind, this could work as a [split button](https://dae

[2022-02-23 09:01] #5403 closed

[2022-02-23 09:01] #6689 closed

[2022-02-23 09:52] JanKoehnlein commented on #8165
Thanks for reporting this issue. It seems like we have customers who need these emails and others who dislike them. So we switched defaults to and fro. To account for both cases, I've added a flag in _(Team) Plans > Billing > Account Details_ ([video](https://www.loom.com/share/29e18fbf7de44a0fa669388fe26101a9)) and enabled that for you.

[2022-02-23 09:52] #8165 closed

[2022-02-23 10:12] laushinka commented on #8060
@gtsiolis @jldec Feel free to play around in the draft PR to get early thoughts 🙏🏽

[2022-02-23 10:49] JanKoehnlein commented on #8291
Do they know you can _pin_ workspaces (from the hamburger menu)?

Tagging them sounds a bit too much like re-use (as opposed to ephemeral workspaces). Grouping _Projects_ sounds a bit better in that regard. But that's more a product question (cc @jldec)

[2022-02-23 10:53] JanKoehnlein commented on #8294
From the code, I don't see that we fall back to `.gitpod.yaml` anywhere, so I am switching this to _improvement_.

[2022-02-23 11:06] JanKoehnlein commented on #8353
Thanks for reporting. Unfortunately, I didn't manage to reproduce this. Can you provide a (minimum) example repository?

[2022-02-23 11:47] laushinka commented on #8060
@jldec @gtsiolis
1. I will be removing the `Owner/Member` dropdown, since we won't be allowing role changes right now.
2. I see there is a design view for the deleted team detail. However when a team is deleted, we also don't see any members because they will have been deleted as well.

[2022-02-23 12:10] faizananwar532 opened #8405 "Postman not sending request to ambassador running in docker"
### Bug description

Basically we have multiple services running inside docker-compose, I am attaching a sample repository which contain front-end, authentication service, ambassador api gateway and PostgreSQL running inside our docker-compose when we are running it locally we are able to send request from postman to ambassador which is running inside a container at http://localhost:8080, but when

[2022-02-23 13:29] axonasif commented on #8405
Resolved on [discord](https://canary.discord.com/channels/816244985187008514/943851713805316156/946035667249553498)

[2022-02-23 13:53] axonasif commented on #459
See https://gitpod.slack.com/archives/C02EN94AEPL/p1645623283439319

[2022-02-23 14:10] mikenikles commented on #8030
You're welcome. It initially looked like a simple task, but as is often the case in our industry, the devil is in the details 😅.

Btw feel free to use any of the png assets in [this comment](https://github.com/gitpod-io/gitpod/pull/8237#issuecomment-1042685296) if they fit your needs.

[2022-02-23 14:22] JanKoehnlein commented on #8375
@akosyakov was concerned about rate-limits when we send data to segment directly. I don't think [60M events in 10min](https://segment.com/docs/connections/rate-limits/) are a problem yet.

[2022-02-23 14:28] davidwindell opened #8408 "credential helper '/usr/bin/gp credential-helper' told us to quit"
### Bug description

Since somewhere around the beginning of February (working fine before), we've had problems with composer installs as follows:

[code]

This is causing a major headache for us.

### Steps to reproduce

[code]

### Workspace affected

_No response_

### Expected behavior

I don't fully understand the purpose of the credential-helper but for repos like this, it should not be used

[2022-02-23 14:32] akosyakov commented on #8408
@jeanp413 @iQQBot Could you have a look or find someone to look at it? It looks like recent changes introduced another regression?

[2022-02-23 14:37] AnnaPrints opened #8409 "Workspaces created via browser opened from Gateway go to VS Code, not the splash page."
### Bug description

There are some scenarios of using Gateway+GitPod which can confuse users.
When user create the first workspace via Dashboard in a browser, default preferences are:
Browser Editor: VS Code, Desktop Editor: None

### Steps to reproduce

**Steps:**

1. Launch Gateway, connect GitPod plugin
2. Click on “Connect to GitPod” option
3. Click on “Connect in Browser”
4. Connect GitHub/G

[2022-02-23 14:45] jldec commented on #8060
Looks good thanks @laushinka - adjusted description with additional tasks.

[2022-02-23 14:49] corneliusludmann opened #8410 "[license] Make the domain field optional"
Currently, we have a domain field in the license and we check that the domain matches the Gitpod domain. @metcalfc already mentioned that he would like to not ask for a domain when a customer approaches and with Replicated, we have at least some control about the distribution of the license as we see the number of installations in the vendor portal (I guess as long as it's not an air-gap installat

[2022-02-23 14:54] jankeromnes opened #8411 "unable to parse URL from normalized contextURL: 'snapshot/1234-abcd' TypeError: URL constructor: snapshot/1234-abcd is not a valid URL."
### Bug description

There is a new error being logged in workspaces list when you've opened a snapshot before. This also causes the displayed workspace context URL to be `undefined`:

<img width="555" alt="Screenshot 2022-02-23 at 15 21 18" src="https://user-images.githubusercontent.com/599268/155343918-3f038b92-1790-4833-93f5-eae27871a665.png">
<img width="707" alt="Screenshot 2022-02-23 at 15 2

[2022-02-23 14:55] corneliusludmann opened #8412 "[licensing] Treat any case where we do not have a valid license as if no license is installed"
Currently, an invalid license prevents any users to sign up. An installation with an invalid license should not be in a worse position than an installation with no license at all.

We have this behavior already to some extent so that we don't return an invalid license but a default license for some cases, e.g. here:

https://github.com/gitpod-io/gitpod/blob/896fe39ccf456e132a4c7dba968c18f7394e6fc8

[2022-02-23 15:04] jankeromnes commented on #8411
Looks like [ContextURL.getNormalizedURL](https://github.com/gitpod-io/gitpod/blob/5ff578ed67e45f62932c6ac148324f015b9104ae/components/gitpod-protocol/src/context-url.ts#L32) doesn't actually support snapshot URLs: it will remove the `snapshot/` prefix, then try to parse the rest as a URL, which fails:

https://github.com/gitpod-io/gitpod/blob/5ff578ed67e45f62932c6ac148324f015b9104ae/components/git

[2022-02-23 15:12] corneliusludmann opened #8413 "[licensing] Add a license page to the admin dashboard"
Add a page to the admin dashboard that shows the installed license with properties (number allowed users, actual users, domain restriction etc.).

[2022-02-23 15:13] corneliusludmann opened #8414 "[licensing] Don't cache (Replicated) license but call the kots server for each license call"
Currently, the license is fetched from the KOTS admin server on server start. When the license has been changed, we need to restart the server.

I would propose to call the KOTS license endpoint for each license check instead of holding the license in the cache.

Drawback:
- More API calls.

However, we do not check the license that often in Gitpod. And the KOTS endpoint is in the same network. Th

[2022-02-23 15:28] gtsiolis commented on #8413
This is also a customer request, see https://github.com/gitpod-io/gitpod/issues/5743#issuecomment-942284202 and [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1634129886345000) (internal). Cc @JohannesLandgraf

Feel free to add this to the 🥯 product design board[[1](https://github.com/orgs/gitpod-io/projects/29)] if this is something we'd like to work on soon. Cc @corneliuslu

[2022-02-23 15:31] gtsiolis commented on #5743
Closing in favor of https://github.com/gitpod-io/gitpod/issues/8413 which contains more relevant information and it's already part of the 🏡 self hosted board[[1](https://github.com/orgs/gitpod-io/projects/22)]. See also https://github.com/gitpod-io/gitpod/issues/8413#issuecomment-1048903394. Feel free to reopen if needed. Cc @corneliusludmann

[2022-02-23 15:31] #5743 closed

[2022-02-23 15:33] gtsiolis commented on #8412
See also https://github.com/gitpod-io/gitpod/issues/3918 for historical context and in case we can close one of these two issues as duplicate. Cc @corneliusludmann @AlexTugarev

[2022-02-23 15:33] corneliusludmann commented on #5743
Thanks for always being around to clean up, @gtsiolis! :rocket: :+1: :partying_face:

[2022-02-23 15:36] corneliusludmann commented on #8412
Thanks, @gtsiolis. I think the other issue is more about handling error messages. I added this to our project board since this is something that I had on my radar as well.

[2022-02-23 15:41] csweichel commented on #8399
The value seems to control the number of pages a process can malloc: https://sysctl-explorer.net/vm/max_map_count/. The effect on node stability is unclear though. I'd also much prefer we try the development mode first, prior to making such changes with unknown outcome.

[2022-02-23 15:58] csweichel opened #8417 "Make cgroup customizer support v2"
In cgroup v2 the `device` controller no longer exists, but the device access is mediated using BPF. We don't want to modify the BPF program at runtime, but instead add the device to the OCI runtime spec.

To this end we'd ship something akin to the `runc-facade` using an init container to the node, and use a RuntimeClass to configure the use of that runc-facade.

[2022-02-23 16:06] axonasif commented on #8190
Perhaps can we close the issue 🙏 ?

[2022-02-23 16:17] #6561 closed

[2022-02-23 16:37] sagor999 commented on #8238
Re-opening for now until we can confirm that OOM is fixed.

[2022-02-23 16:43] akosyakov commented on #8408
@davidwindell the fix was deployed, could you verify please? 🙏

[2022-02-23 18:28] gtsiolis opened #8419 "Introduce better filters or search options for the global workspaces list"
### Problem to solve

After introducing Teams & Projects[[1](https://www.gitpod.io/changelog/introducing-teams-&-projects)][[2](https://www.gitpod.io/blog/teams-and-projects)], differentiating workspaces for repositories that have been added as projects in teams, etc became more difficult.

Possible related improvements include:
1. https://github.com/gitpod-io/gitpod/issues/3594
2. https://github.

[2022-02-23 18:54] kylos101 opened #8420 "Allow users to "force stop" workspaces which are stuck in stopping"
## Is your feature request related to a problem? Please describe

This generally happens if the pod backing the related workspace enters a bad state while stopping.

## Describe the behaviour you'd like

After some preconditions (an hour being in stopping?), grant the user the ability to force stop their workspace through the dashboard.

Why? This gives the user the ability to access their workspa

[2022-02-23 19:33] vavdoshka commented on #5712
oh I think I have some improvement after I allowed VSCode to "run software lcoally that does not meet system's security polciy"

<img width="780" alt="image" src="https://user-images.githubusercontent.com/11683992/155393675-4d6377cb-4b77-4ae9-bf9d-78b388980002.png">

to have "Developer tools" in Security & Privacy -> Privacy

[code]

the change helped after reboot

[2022-02-23 20:32] CatChenal opened #8423 ""Getting requirements to build wheel ... error""
### Bug description

### Summary:
During gitpod build, 2 libraries listed in the repo's setup.cfg file lead to errors:
 * `attr` is apparently not installed -> "ModuleNotFoundError: No module named 'attr'" (see __Details__). Yet its import when python is running is flawless.
 * `mdurl` is not installed either but absence is detected via import of the source module.

### Details of the `attr` error

[2022-02-23 20:47] sagor999 commented on #8399
@miketheman just tried your repo and elastic seems to be working fine? I noticed you made a change to switch it to single-node mode which I believe is what switching it into development mode.
Let me know if this issue is resolved for you now.

[2022-02-23 20:49] adg25 commented on #8198
@axonasif Any update on this?

[2022-02-23 20:52] miketheman commented on #8399
Thanks for the pointers. I went ahead and tried out the [single-node (development) mode](https://github.com/miketheman/gitpod-es-repro/commit/e7aeca60f695913a401c98663e8f94e16652ccba), and it looks like that works for now.
If I ever needed to run a multi-node cluster for testing, we'd be back in the same spot, but that's a problem for another day.

[2022-02-23 20:52] #8399 closed

[2022-02-23 22:18] sagor999 commented on #8397
[code]
Attaching disk to VM takes 4s. I wonder why in k8s it takes longer than this. Could be an area to dig deeper.

[2022-02-24 00:22] GamerCoder215 opened #8425 "Installing Java via SDK does not stay after one session"
### Bug description

I'm working on a Java Project, and I need Java 17. When I run `sdk install java`, it installs Java 17 (Termux).

However, after the session ends (Times out / Workspace Stops), Java 17 is gone, and I have to redo `sdk install java`.

I think it is also worth mentioning that my WakaTime plugin also asks for my API Key when this happens as well, showing that it affects extensions

[2022-02-24 02:02] sagor999 commented on #8254
Our fixes to OOM actually apply here as well, since now if headless (or any) workspace did not start, it will remove finalizer and delete the pod.
So I think we can close this issue.

[2022-02-24 02:02] #8254 closed

[2022-02-24 02:08] sagor999 commented on #7461
I believe this was due to blocking all UDP traffic, which tailscale relies upon.
Since we disabled UDP firewall block, this should work now.
I will close this, but please re-open if it is not resolved.

[2022-02-24 02:08] #7461 closed

[2022-02-24 02:43] dword-design opened #8426 "Externally loaded images are manipulated"
### Bug description

When I load an image from an external URL, it seems to be manipulated in some way, there is a different image coming through than the original one.

### Steps to reproduce

See this minimal example and its readme:
https://github.com/dword-design/try-gitpod-git-lfs

It has an image stored in the repo and when downloading it via `wget`, the Git status will be modified. Works loc

[2022-02-24 04:22] jeanp413 commented on #7898
@akosyakov webviews fail to load because subdomain name is longer than 64 chars `https://webviewview-com-genuitec-codetogether-presence-webview-webview-foreign.ws-dev.jp-fix-webview-view.staging.gitpod-dev.com` this only affects us because we append `-webview-foreign`

[2022-02-24 06:47] davidwindell commented on #8408
@akosyakov tested and it works perfectly! Thanks for the incredibly fast turnaround on this.

[2022-02-24 07:14] ajhalili2006 commented on #6060
It's still in the backlog, I'm just bumping to ensure stale[bot] doesn't distrub again.

[2022-02-24 07:23] neilkuantm opened #8429 "Gitpod self-hosted create workspace parse `.gitpod.yml` error from Github Enterprise"
### Bug description

Gitpod create workspace parse `.gitpod.yml` from Github Enterprise repo got `Invalid gitpod.yml: Unparsable Gitpod configuration: YAMLException: end of the stream or a document separator is expected at line 27, column 25: ... authentication" style="word-wrap: break-word;"> ^`

![Screen Shot 2022-02-22 at 11 19 19 AM](https://user-images.githubusercontent.com/98370258/155476557

[2022-02-24 07:25] akosyakov commented on #7898
we prepend only `-foreign` as far as I remember. Why `webviewview-com-genuitec-codetogether-presence-webview-webview` is so long? It used to UUID. Did they change something in logic?

[2022-02-24 07:30] akosyakov commented on #7898
I think we should report it to upstream. Generally it will break on codespaces too if an extension name is 10 more characters long.

[2022-02-24 07:31] akosyakov commented on #7898
Particularly to fix this case you can replace: https://github.com/gitpod-io/openvscode-server/blob/6cc478c99ab7b4216e4c58f590a2a82afb0ad053/src/vs/gitpod/browser/workbench/workbench.ts#L573

with `https://{{uuid}}-foreign`

[2022-02-24 07:39] geropl commented on #8411
@jankeromnes As it turns out: yes. But most importantly, we should review the usage og `getNormalizedContextURL` in `server`: I recall we used it there, and assumed it to always be an URL.

In general this issues shows our problems with our data model and how we treat `contextURL`. :confused:

[2022-02-24 07:52] geropl commented on #8411
To expand a bit: The motivation with `"undefined"` was for us not to feel "safe" again with the current state, but press for a fix of the data model until we don't see something like this again.

[2022-02-24 08:49] pawlean commented on #8198
Might be one for @kylos101 - copying him in.

[2022-02-24 09:35] jldec commented on #5176
Remove highest priority label - not 🔥.

[2022-02-24 10:36] gtsiolis commented on #5022
Closing this as it was resolved in #7882. Thanks @laushinka! 🏀

[2022-02-24 10:36] #5022 closed

[2022-02-24 11:35] gtsiolis commented on #6328
Introducing :a: team-level or also :b: instance-level setting sounds interesting. 💭

We also recently disabled snapshots for repositories users don't have access to in https://github.com/gitpod-io/gitpod/pull/8306.

[2022-02-24 11:51] gtsiolis commented on #7532
Re-posting from the updated description in https://github.com/gitpod-io/gitpod/issues/7532#issuecomment-1013159175 as this would be more useful for team-level environment variables:

The intent of this feature request was to provide better visibility of variables that could potentially leak upon sharing a snapshot or a running workspace. However, this could be resolved with better information upon

[2022-02-24 11:51] #7532 closed

[2022-02-24 12:53] davemecha commented on #8165
Thanks a lot for this change. 🥳

[2022-02-24 13:16] geropl commented on #7829
@JanKoehnlein IMO it make sense to schedule this, and add metric for and alert on the scheduling success rate

[2022-02-24 13:55] #8267 closed

[2022-02-24 13:58] jeanp413 commented on #7898
For webview views id is generated from provider id [here](https://github.com/microsoft/vscode-extension-samples/blob/2feab6d8f185417e63eaef73b38dae36a6a5dafb/webview-view-sample/src/extension.ts#L7-L8) and [here](https://github.com/microsoft/vscode-extension-samples/blob/2feab6d8f185417e63eaef73b38dae36a6a5dafb/webview-view-sample/src/extension.ts#L23)

[2022-02-24 14:00] akosyakov commented on #6740
We don't support it natively yet, but I got it working in this branch: https://github.com/akosyakov/spring-petclinic

Important bits:
- make sure that your gradle/maven projects have configured java target compatible with Java in your image (11 in default image) otherwise JDK indexing is stuck: https://github.com/akosyakov/spring-petclinic/blob/d02d76efe688f5d339c69f075d73a03239841dcb/pom.xml#L32-

[2022-02-24 14:12] kylos101 commented on #8324
@jldec hey there, this could be a bug with `supervisor`. Looping in @akosyakov and the IDE team, adding to their inbox.

[2022-02-24 14:12] gtsiolis opened #8434 "Some workspaces show up with a null context URL in the JetBrains Gateway"
### Bug description

Some workspaces show up with a null context URL on the workspaces list inside the JetBrains Gateway.

Could not figure out how to reproduce the issue. However, it seems that switching between tabs (SSH, Gitpod, JetBrains Space) always replaces the null context URLs with valid context URLs.

| Example list (A) | Example list (B) |
|-|-|
| <img width="500" alt="155538160-d84d1ef

[2022-02-24 14:15] akosyakov commented on #8324
Did someone from @gitpod-io/engineering-webapp already investigated whether we don't lose them somewhere between supervisor and dashboard?

[2022-02-24 14:21] svenefftinge commented on #8324
Really just a theory, but we are currently (over) packing nodes with prebuilds. So that generally run much slower than usual, because they only get 0.7 CPUs (AFAIR).

So my theory is that in cases where a network request is initiated, but then due to CPU scheduling no further activity happens on that thread for a certain time, timeouts could be hit. We have seen lots of reports about very differen

[2022-02-24 14:26] gtsiolis opened #8437 "Can not connect to workspace when opening using a JetBrains IDE from the workspace start page"
### Bug description

When users are using a JetBrains IDEs, opening a workspace using a JetBrains IDE from the workspace start never connects.

<img width="1440" alt="Screenshot 2022-02-24 at 4 35 29 PM" src="https://user-images.githubusercontent.com/120486/155544797-013c8e6f-76ed-4c7d-96a3-feb01b3069c0.png">

### Steps to reproduce

1. Use a JetBrains IDE in the Desktop Editor section in [`/prefe

[2022-02-24 14:28] akosyakov commented on #8437
That's expected. It is logic of Gateway.

What is not expected that window can never connect.

[2022-02-24 14:31] gtsiolis commented on #8437
Ok, makes sense. I've updated the issue title and description.

[2022-02-24 14:35] adg25 commented on #8198
Thanks! We may have some idea of what's going on here actually. We are using Bazel as the build system for our mono repo and modified the bazelrc so that
[code]
Which means that the bazel build cache lives in /workspace instead of the default /home directory. We did this because the cache would take up more than 5Gi of space and crash all of our workspaces, and a recommendation from the gitpod dis

[2022-02-24 15:01] mads-hartmann commented on #8066
I won't finish this before I leave on vacation so moving it to a later iteration. The next step is to try and use the formatter that vscode ships with (see [here](https://github.com/gitpod-io/gitpod/pull/8245#issuecomment-1047198048) and [here](https://gitpod.slack.com/archives/C01KGM9BH54/p1645089446217389) for context)

[2022-02-24 15:24] svenefftinge commented on #8324
@kylos101 independent of whether this would improve the situation described in this ticket, I believe reducing the density to a point where still 80% of CPU is used most of the time makes sense. cc @csweichel

[2022-02-24 15:42] maphew commented on #7627
@axonasif  I was using ubuntu. I've since figured how to use the published image and then modify it post boot with RUN commands, so I'm not blocked anymore (tho' I still haven't cracked the nut of getting sudo to work passwordless):
- https://github.com/maphew/gdal/commit/4eb513dde5c5c0348b260f632bc6957dbc81bb00
- https://github.com/maphew/gdal/blob/4eb513dde5c5c0348b260f632bc6957dbc81bb00/.gitpod

[2022-02-24 15:44] Pothulapati opened #8441 "installer: generate documentation for configuration"
## Is your feature request related to a problem? Please describe

Currently, `Config` is the spec through which users pass configuration into the installer but it isn't
documented. This means users have to check the [golang types directly](https://github.com/gitpod-io/gitpod/blob/main/install/installer/pkg/config/v1/config.go) to understand what
all options are even allowed.

## Describe the behav

[2022-02-24 15:51] geropl commented on #8271
After discucssion with @csweichell we went with a variation of 2:

1. basic changes
  - introduce a new `governedBy` column: to maintain full rollback capability for webapp
  - on `gpl clusters update / register` have `bridge` set `governedBy` to `installationShortname` if governedBy is not set: decouples webapp deployment from workspace cluster deployments (which can still use the old contract in

[2022-02-24 15:58] TimWebb commented on #7898
Interesting details. If I'm following right, a workaround we can do on our side is change:
`vscode.window.registerWebviewViewProvider('com.genuitec.codetogether.presence.webview', ...`
To something short to workaround the issue? Aka.
`vscode.window.registerWebviewViewProvider('ct-presence', ...`
Basically any ID less than 32 characters or so to stay under the 64 limit with appendages.

For context

[2022-02-24 16:49] sagor999 commented on #6377
I believe we made improvements to our error messaging in the last months. @kylos101 can you confirm? If so, we can close this issue.

[2022-02-24 16:51] kylos101 commented on #6377
Hey @sagor999 , is it still possible to return this message to the user?

[2022-02-24 17:29] jeanp413 commented on #7898
Hi @TimWebb, yes a workaround would be to shorten the webview provider id in you extension, I'll also shorten the `-webview-foreign` suffix to `-foreign` in our side

[2022-02-24 17:33] sagor999 commented on #6377
Unfortunately it is not clear where this error even came from. And since it was created back in October, I cannot even find logs related to that workspace.
But I do know that we improved error reporting since then.
I will close this, and in case if it ever pops up again, we can re-open and investigate.

[2022-02-24 17:33] #6377 closed

[2022-02-24 17:42] rfay commented on #8294
This is a serious problem - The existing .gitpod.yml should be respected. This completely breaks everything that has a .gitpod.yml. Is there any workaround? This completely breaks https://github.com/drud/ddev-gitpod-launcher and really... everybody that ever had a .gitpod.yaml. I don't need this silly replacement .gitpod.yml:

[code]

This is  a super-critical bug, not an "improvement" as far as I

[2022-02-24 17:46] rfay opened #8445 ".gitpod.yml in project gets overwritten by gitpod on launch"
### Bug description

If I launch a project, the existing .gitpod.yml is overwritten with a dummy .gitpod.yml.

This is a serious problem - The existing .gitpod.yml should be respected. This completely breaks everything that has a .gitpod.yml. Is there any workaround? This completely breaks https://github.com/drud/ddev-gitpod-launcher and really... everybody that ever had a .gitpod.yaml. I don't ne

[2022-02-24 18:14] sagor999 commented on #8370
Hm. I ran a query looking for any node in workspace cluster that might have ran out of disk space, but none did.
Is there any way to repro this?
Repo that this workspace is referencing is private.
WS id: `devbookhq-firecrackerroo-niic3qbpk40`

[2022-02-24 18:15] jldec opened #8446 ""Prebuild in Progress" is often misleading or misbehaves."
When a prebuild is in progress, users who open a workspace on that branch see a screen showing "Prebuild in Progress" (example below),

1. Connecting to workspace logs... often fails so there is no way to see progress

1. While preparing the prebuild (e.g. pulling a large base image) there are no workspace logs to connect to. It would be better to show the actual status (with progress if possible)

[2022-02-24 18:16] jldec commented on #8446
cc: @jmls - related to https://github.com/gitpod-io/gitpod/issues/8324

[2022-02-24 19:15] persyjr commented on #531
I had the same issue, the reason is because the port isn´t configurate correctly, maybe you port changed.
You can write in the terminal: $learnpack start
after few minutes when you are conect a port.

[2022-02-24 19:19] rfay commented on #8445
I apologize for making this work now. I went into settings and forced a prebuild, and now it does the right thing.

I assume that this problem was caused by moving ddev-gitpod-launcher into a new team, which may have caused an invalid prebuild? So maybe that's how to recreate it... Unfortunately, now the problem won't happen with ddev-gitpod-launcher.

Interestingly enough, the problem seemed not

[2022-02-24 20:30] kylos101 commented on #8206
Hey @smacintyre we're switching to a new cluster now, over the next 3 hours it'll be come more likely that you'll land on `ws-us34.gitpod.io`. If you encounter trouble, and are able to share any errors, that'd be great!

[2022-02-24 21:55] edapm commented on #6615
@lucas-labs I appear to be having this issue as well
![image](https://user-images.githubusercontent.com/67737851/155614199-110cccf3-3bf7-4286-9837-285a5fe45644.png)

[2022-02-24 22:29] TimWebb commented on #7898
Happy to confirm @jeanp413 that this works!  Thanks kindly for the assistance.

<img width="301" alt="ss" src="https://user-images.githubusercontent.com/6605430/155618223-e883f50c-8181-4781-8497-bcf01c797630.png">
.

[2022-02-25 00:29] kylos101 opened #8448 "Alert when workspaces starting is zero but there are requests to start"
## Is your feature request related to a problem? Please describe
There could be requests to start workspaces, but no workspaces may be starting.

## Describe the behaviour you'd like

If webapp requests to start a workspace, and workspaces haven't been started after some criteria is met, we must send an alert to page on-call staff.

## Describe alternatives you've considered

If there are [request

[2022-02-25 00:42] kylos101 commented on #8198
Thanks for the heads up @adg25 !

How large of a `/workspace` were you having trouble with?

[2022-02-25 00:48] kylos101 commented on #8425
Hey @GamerCoder215 :wave: ,

Have you tried our [Java 17 image](https://hub.docker.com/r/gitpod/workspace-java-17) as a base image? [These instructions](https://www.gitpod.io/docs/config-docker#configure-a-custom-dockerfile) will help you configure and build a custom dockerfile for your project.

Also, you're encouraged to build custom docker files, using our [base images](https://hub.docker.com/u

[2022-02-25 00:48] #8425 closed

[2022-02-25 00:51] shaal commented on #6715
Please add `meta: never-stale` to this issue

[2022-02-25 00:58] sagor999 commented on #6598
@jldec we added support for git-lfs here: https://github.com/gitpod-io/gitpod/pull/8119
give it a try and please re-open if it doesn't work for you.

[2022-02-25 00:58] #6598 closed

[2022-02-25 01:02] kylos101 opened #8449 "[ws-manager] log requests to start and stop workspaces"
## Is your feature request related to a problem? Please describe

We only log workspace starts and stops if debug is enabled.

## Describe the behaviour you'd like

[Avoid changing this line](https://github.com/gitpod-io/gitpod/blob/f41c652a8416540a8f6df41d70bfc8db60eb47c3/components/ws-manager/pkg/manager/manager.go#L150), which is for debug purposes.

Add info loggers to [start](https://github.c

[2022-02-25 01:05] kylos101 commented on #7829
Hey @JanKoehnlein @geropl and @jldec :wave: ,

I spent some time researching this issue today for workspace `shaal-drupalpod-wp2k1qd0khc` and [this report in Discord](https://discord.com/channels/816244985187008514/939715845934968864/939716765838106694).

May I ask you to review and let us know if there's anything else we can do to help?

1. [This log from the gitpod project indicates `server` tri

[2022-02-25 01:08] sagor999 commented on #5705
@Furisto is this support with our runtime config? and if not, is this a complex task or an easy fix?

[2022-02-25 01:10] sagor999 commented on #5512
@jgallucci32 we have deprecated helm chart since then and instead are using installer. Would you be able to try it with the new installer? And see if this is still an issue?

[2022-02-25 01:16] sagor999 commented on #554
@davemecha we recently made a change that allows you to modify `/etc/hosts` now. Can you give this a try and see if it resolved your issue?
https://github.com/gitpod-io/gitpod/pull/8061

[2022-02-25 01:52] sagor999 commented on #7906
@akosyakov is that something that can be added? or not possible?
maybe via local companion app that can detect those extensions and send an event to install them on remote?

[2022-02-25 01:53] sagor999 commented on #7854
@metcalfc can you check with the customer?

[2022-02-25 01:54] sagor999 commented on #7496
@MichelleCoffey let us know if you can provide a repro repo, in the meantime will close this issue for now.

[2022-02-25 01:54] #7496 closed

[2022-02-25 02:03] sagor999 commented on #7477
hey @gitpod-io/engineering-ide
I believe we have heartbeat for this now, is that correct?

[2022-02-25 02:08] sagor999 commented on #7455
@sunhaolin will close this, but please re-open if it is still occurs.

[2022-02-25 02:08] #7455 closed

[2022-02-25 02:24] sagor999 commented on #7386
@shahery you can run inside your gitpod: `gp url <port>` to get the full url for chosen port.
I will close this, but feel free to re-open if issue still occurs for you.

[2022-02-25 02:24] #7386 closed

[2022-02-25 04:21] carsonsaldanha commented on #1137
For anyone else that comes across this issue, I fixed it with the following in `.gitpod.yml`:

[code]

And this in `.gitpod.dockerfile`:

[code]

[2022-02-25 07:30] akosyakov commented on #7906
What is wrong with `remote.SSH.defaultExtensions` ? We do change it to add one extension, but if you have others there they should be installed in each remote machine regardless whether it is Gitpod container or not.

[2022-02-25 07:32] akosyakov commented on #7906
There is also a command `Install local extension on remote` where you can check box all extensions. We could consider to add an option to run this command programatically.

[2022-02-25 07:43] akosyakov commented on #7477
Control of the title bar yes, but i don't really think that it is only solution.

[2022-02-25 08:03] akosyakov commented on #8255
@buggtb Could you collect gateway logs and send them to support@gitpod.io link this issue and me please? 🙏

[2022-02-25 08:07] akosyakov commented on #5931
We don't control VS Code settings. I am not aware that VS Code allow to configure on team/project level without either mixing them into each user settings or into project settings. The clean and primary way to share settings across the team is to commit them to git.  @jeanp413 do you know other ways?

[2022-02-25 09:02] mustard-mh opened #8450 "Can't restart a stopped workspace in some case"
### Bug description

Can't restart a stopped workspace in some case

After refresh, click  **Open Workspace** works
|Failed|After Refresh|
|:-:|:-:|
|<img width="1511" alt="image" src="https://user-images.githubusercontent.com/20944364/155685436-4e5519e7-ae18-40ac-8572-8ad8031bca67.png">|<img width="1511" alt="image" src="https://user-images.githubusercontent.com/20944364/155685555-9d6c65cc-92c8-4

[2022-02-25 09:18] laushinka opened #8451 "Show git providers in Admin user detail"
A lot of customer support involves looking up git providers for users.
It would help to show the list of git provider integrations that a user has, together with the userID and/or email for each.

[2022-02-25 09:22] laushinka opened #8452 "Show prebuild logs for Admin prebuild detail"

[2022-02-25 09:32] laushinka opened #8453 "Change "Search workspaces" to "Enter workspace ID" and disable contextURL search."
Workspace ID search returns quite fast, and searches usually do use the workspace IDs.
Therefore we will only allow workspace ID searches and disable the free text search.

[2022-02-25 09:33] laushinka opened #8454 "Fix search input to trim whitespace in all searches"
Searches with whitespaces (can happen when copy-pasting) would fail.

[2022-02-25 09:51] svenefftinge opened #8455 "[Bitbucket Server] Add support for prebuilds"
The Bitbucket server integration should support installing webhooks and prebuilds.

[2022-02-25 10:33] Furisto commented on #7963
I do not see this in the logs for eu34 and us34.

[2022-02-25 10:54] Furisto commented on #5705
@sagor999 Hard to say honestly. It looks we already tried to enable it, but it is obviously not working. We have to look into which layer in our stack causes the problem.

[2022-02-25 11:01] konne commented on #5931
I understand that you save the VSCode user settings in the browser cache and I know that VS Code only has the concept of user & workspace settings.
So maybe it could be the possibility that you first start the gitpod browser with empty settings that you can have "start" settings out of the project.

[2022-02-25 11:04] buggtb commented on #8255
Sent.

There is a

`2022-02-25 11:03:57,862 [76226689]   INFO - om.intellij.ssh.impl.sshj.sshj - Error from SSHJ local tunnel for SshjSshConnection(pixlise-pixlisegoapi-ohjq4ksv6ps@pixlise-pixlisegoapi-ohjq4ksv6ps.ws-eu34.gitpod.io)@39b65c51: Local client /127.0.0.1:57537 ==> Local server localhost:57536 ==> Remote server 127.0.0.1:5990: local to remote copier: java.net.SocketException: Connection

[2022-02-25 11:34] #8169 closed

[2022-02-25 12:05] akosyakov commented on #8437
A log of such backend
[idea.log](https://github.com/gitpod-io/gitpod/files/8140961/idea.log)
:

[2022-02-25 12:40] #8060 closed

[2022-02-25 12:44] mads-hartmann commented on #7864
So for context, this relevant as https://www.github.com/gitpod-io/cla redirects to https://github.com/gitpod-io/cla which is currently a private repository.

We're working on an improved CLA process which stores CLAs in that repository. It's not rolled out yet so the repository is private. We have an internal issue tracking it [here](https://github.com/gitpod-io/ops/issues/130).

[2022-02-25 12:56] gtsiolis commented on #7488
Thanks for the detailed write up, @shaal! I remember seeing a similar report from @JanKoehnlein in https://github.com/gitpod-io/gitpod/issues/3812.

This is also something to consider introducing as a preference in project settings, see https://github.com/gitpod-io/gitpod/issues/7426.

[2022-02-25 13:10] jldec commented on #6715
Part of the time not shown the the snapshot upload/download time.

[2022-02-25 13:14] gtsiolis opened #8457 "marked deleted"

[2022-02-25 13:14] gtsiolis commented on #8457
Accidentally opened this. Closing.

[2022-02-25 13:14] #8457 closed

[2022-02-25 13:49] laushinka commented on #8453
Cc-ing @geropl in case you disagree or have other thoughts 🙏🏽

[2022-02-25 13:58] geropl commented on #8453
@laushinka Thx for the ping.

Thoughts:
 - :100: agree with "disable free text search"
 - we should allow to search for `workspacenId` _and_ `instanceId`
 - either we keep the code that try to guess from the given IDs **or** add a dropdown for the searchtyp (with [workspaceId, instanceId]), which makes it explictily
 - if we choose the dropdown, this is straight forward to extend, e.g. for context

[2022-02-25 14:21] akosyakov commented on #5931
Not, we are, it is VS Code, we don't change anything there.

[2022-02-25 14:23] jeanp413 commented on #7898
Also created an upstream PR https://github.com/microsoft/vscode/pull/143951 so it uses an uuid internally like other webviews, will keep this open until that it's merged

[2022-02-25 14:47] adg25 commented on #8198
Certainly the 12G there is a problem to re-pull the container image after it's stopped - and the 3.5G is good enough (less than a minute usually). I don't really have a metric for "at X size we start having these issues", but there's rarely an in-between for devs anyway since usually we either operate with a full bazel cache or an empty one.

[2022-02-25 15:11] kylos101 commented on #8350
@csweichel I am slightly worried about the test effort associated with v1 (like for older self hosted clouds) and v2 (everything else).

Perhaps we could add a task to this epic, to also do integration testing with cgroup v1? Maybe it could even leverage some of the work that we do over the next few weeks for deploy automation. For example, when we build the packer image, do so with one image supp

[2022-02-25 15:13] aledbf commented on #8350
We disable v2 in the nodes because that breaks `ws-manager`

https://github.com/gitpod-io/gitpod-packer-gcp-image/blob/main/setup.sh#L81

[2022-02-25 15:28] jeanp413 commented on #5931
@konne can you try modifying `/workspace/.vscode-remote/data/Machine/settings.json` and see if that works for you?

[2022-02-25 15:33] ivelin commented on #8238
This issue persists. Got this message today:
https://discord.com/channels/816244985187008514/946790336271876126/946791517622775858

![Screen Shot 2022-02-25 at 9 24 54 AM](https://user-images.githubusercontent.com/2234901/155742692-e27d1653-ca56-4fb1-9457-4fced0f0f7b3.png)

[2022-02-25 16:03] SirLemyDanger opened #8462 "registry facade won't start in air gap network"
### Bug description

After a fresh installation of GitPod (Jan'22) the registry facade pod is crashing permanently.

Environment: K3s on Ubuntu
I set up K3s to pull images from a proxy (artifactory) by having a /etc/rancher/k3s/registries.yaml like this:

[code]

This works fine; all containers are being pulled and I can manually pull images with `crictl`.

However the registry-facade pod tries to

[2022-02-25 17:29] jeanp413 opened #8465 "Decouple gitpod extension release from gp-code release"
## Is your feature request related to a problem? Please describe

Right now gitpod extension lives in the gp-code branch as a built in extension, this is troublesome when we want to do a new release of the gitpod extension as it implies we also need to do a full release of gp-code

## Describe the behaviour you'd like

We should be able to release a new version of gitpod extension independently of

[2022-02-25 17:48] sagor999 commented on #8397
Closing, as research has been completed.

[2022-02-25 17:48] #8397 closed

[2022-02-25 17:50] sagor999 commented on #8202
We decided to go with PVC\Snapshot approach after all. Design doc will be drafted and later converted into issues.

[2022-02-25 17:50] #8202 closed

[2022-02-25 17:50] sagor999 commented on #8205
https://github.com/gitpod-io/gitpod/issues/8202#issuecomment-1051066250

[2022-02-25 17:50] #8205 closed

[2022-02-25 18:05] #8449 closed

[2022-02-25 18:08] sagor999 commented on #5705
@kylos101 added it to our inbox

[2022-02-25 18:17] #7963 closed

[2022-02-25 18:38] sagor999 commented on #8096
Reopening as this still occurs:
https://twitter.com/srherobrine23/status/1497265903641116675?s=20&t=Taai1veK0dkGdYsmYqKnvw
WS id: "1af7b6dd-37c0-4c7b-b9e8-a94858e5f339"
Logs:
[code]

[2022-02-25 20:42] loujaybee commented on #6744
Also relevant / related issue on JetBrains side: https://youtrack.jetbrains.com/issue/CWM-4987

[2022-02-25 23:05] sagor999 commented on #8238
We made another fix today and will monitor once it rolls out to production next week.
Previous fixes already reduced frequency of this happening, but it is not yet fully resolved. :(

[2022-02-25 23:54] kylos101 commented on #8198
Thanks for the heads up, @adg25 ! I've scheduled this for our team to do some research. Have a nice weekend!

[2022-02-26 01:11] sagor999 commented on #7236
[code]
The only way I see this working as of now is that instead of adding port name as prefix, we could provide a way to do something like this:
`gp url 3000 alias`
Which would produce this URL:
`https://alias-gitpodio-gitpod-2wijgs4mg4t.ws-us34xl.gitpod.io`
I am not sure if that would solve what you are trying to accomplish?

Alternatively, we are now allowing you to edit /etc/hosts in your work

[2022-02-26 01:14] sagor999 commented on #7168
We have documentation available here: https://www.gitpod.io/docs/
If you are trying to install gitpod as self hosted, then Windows 10 is not supported.
Otherwise if you are just opening a workspace, you can do it from any environment.
Let us know more details about the issue that you are having, as it is a bit unclear as of right now.
I will close this issue, but please re-open if you are still ha

[2022-02-26 01:14] #7168 closed

[2022-02-26 01:18] sagor999 commented on #7147
We have PR in the works that I believe would fix this issue for you by allowing to specify custom docker arguments: https://github.com/gitpod-io/gitpod/pull/8435

[2022-02-26 01:28] sagor999 commented on #7093
I think this is an issue with github extension, rather then with gitpod.
Github quite often asks me to merge PR into parent repo when forked, instead of my forked repo.

[2022-02-26 01:28] #7093 closed

[2022-02-26 03:26] jeanp413 opened #8467 "Make it possible to disable settings sync in vscode web"
Right now is not possible to disable settings sync in vscode web, there's a [TODO](https://github.com/gitpod-io/openvscode-server/blob/853e1ddbf3635a2307ffa2e85e334c52ed7cd107/src/vs/gitpod/browser/workbench/workbench.ts#L988-L993) for that in out fork that we need to implement

[2022-02-26 17:15] FacundoGdS commented on #551
Hello, as I see, this problem is already old but it is happening to me with this workspace:
https://github.com/4GeeksAcademy/master-javascript-programming-exercises

What can I do for stopping this 'stopping' procese? Because It's taking forever.
Thanks in advance!

[2022-02-26 17:38] FacundoGdS opened #8468 "Workspace stuck in 'stopping' procese"
### Bug description

Hello, as I see, this problem is already old but it is happening to me with this workspace:
https://4geeksacademy-masterjava-ysg3y6nfc2n.ws-us34xl.gitpod.io/

What is happening to me is that I go to the dashboard and I click on my workspace, then it won't open, instead of it, it stucks in a non-stop 'stopping' process...

What can I do for stopping this 'stopping' procese? Bec

[2022-02-26 17:41] ChristianHuff-DEV commented on #6576
Is there a way to open the IDE (Goland in my case) in a specific folder?

I have a mono repo that looks like this:
![Screenshot 2022-02-26 at 17 37 53](https://user-images.githubusercontent.com/46844303/155853346-81661d25-c116-482b-ad4f-aaf920ba6f52.png)

Only the "account-service" and "helpy" are Go projects. Other once (i.e. "webapp" is React) are not Go projects.

How can I open the IDE so that

[2022-02-26 17:47] eiswind commented on #8247
HI @akosyakov
Could you please add a link to the mentioned issue? I depend on some feature that only works with the EAP. So I'd like to check back on that.

[2022-02-26 17:56] sagor999 commented on #8468
We had an issue with some workspaces not stopping correctly but it was resolved. Sorry about that!
I will close this issue for now.

[2022-02-26 17:56] #8468 closed

[2022-02-27 00:41] #6361 closed, assigned to nobody

[2022-02-27 00:41] #6701 closed

[2022-02-27 00:41] #6658 closed

[2022-02-27 00:41] #6735 closed

[2022-02-27 00:41] #6720 closed

[2022-02-27 00:41] #6788 closed

[2022-02-27 05:12] shaal commented on #6730
Can we please add `meta: never-stale` to this issue?

[2022-02-27 06:11] paramsiddharth commented on #666
Looks really interesting, @woss ! Great work, I would love to test it out sometime.

[2022-02-27 21:39] kylos101 opened #8472 "Limit who can receive has-more-resources permission"
### Bug description

Users who have student discounts can receive the has-more-resources permission, if their plan is professional or unleashed.

### Steps to reproduce

Grant your user an unleashed plan who is also considered a student.

### Workspace affected

_No response_

### Expected behavior

`[userGetsMoreResources](https://github.com/gitpod-io/gitpod/blob/f36d44f6e6f940a7e14368bcbb876f100

[2022-02-27 21:46] jldec commented on #5176
Back on the urgent list after another close call ([internal](https://gitpod.slack.com/archives/C01KGM9DVRC/p1645984314944559))
cc: @kylos101

[2022-02-27 22:53] jldec opened #8473 "Epic: Deprecate definitely-gp"
Early Gitpod users were given the option of storing their config in https://github.com/gitpod-io/definitely-gp/ instead of in their own repo.  This feature is not documented anymore.

Workspaces start by looking for a directory in definitely-gp which matches the repo name, and then use the configuration from that directory. The configuration can include both gitpod.yml and a Dockerfile.

There are

[2022-02-27 23:27] jldec commented on #8473
@jankeromnes, assigned to you, since you helped review https://github.com/gitpod-io/gitpod/pull/7383 😃

Unless we can do smarter detection, we should probably remove definitely-gp as a source of inferred configurations.
Not copying those configurations into the repo, also makes it really hard for users to understand what's happening.

cc: @svenefftinge

[2022-02-28 00:29] smacintyre commented on #8206
@sagor999 @kylos101 Thank you for your response. Unfortunately (fortunately?) the problem has not reoccurred and there were no issues with the move to `ws-us34`.  So I don't have any more feedback. It seems since I opened this issue it has largely stopped. I'm sorry I haven't been able to provide any more details. Thank you for your help. If you wish to close this ticket, please go ahead.

Oh, any

[2022-02-28 00:31] utam0k commented on #8103
I reopened this issue because we have to add the documentation about how to use the new `DOCKERD_ARGS` .
https://github.com/gitpod-io/gitpod/pull/8435#issuecomment-1051546203

[2022-02-28 00:33] utam0k commented on #7147
#8435 only allows `remap` arguments from users, so we haven't solved this yet.

[2022-02-28 00:39] kylos101 commented on #8206
Hey @smacintyre okay, we'll close this issue, but, you're welcome to reopen if it rears its head again. :slightly_smiling_face:

[You may wish to subscribe to this issue](https://github.com/gitpod-io/gitpod/issues/7489). I cannot share an ETA now, but, if you subscribe to it that help you keep track of the related conversation.

[2022-02-28 00:39] #8206 closed

[2022-02-28 01:25] mikenikles opened #8474 "Provide an icon to copy a port URL"
## Is your feature request related to a problem? Please describe

To copy a port URL, I have to either open it in a new browser tab, copy the URL and close the browser tab or use `gp url <port>`, then select the output and copy it.

## Describe the behaviour you'd like

It would be nice if the VS Code Remote Explorer allowed individual port URLs to be copied to the clipboard. I imagine an icon nex

[2022-02-28 01:56] gengjiawen opened #8475 "headless task failed"
### Bug description

https://gitpod.io/#https://github.com/csweichel/gitpod-hello-ui-demo

### Steps to reproduce

Open the link

[code]

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-02-28 05:44] mikenikles commented on #8369
I started a brand-new workspace moments ago and it is now also stuck on that screen. A page reload or a click on "Open Workspace" results in the same situation.

If a workspace ID helps troubleshoot this, the most recent one with the issue is `webstonehq-platform-4801jrx8ut5`

[2022-02-28 08:05] akosyakov commented on #8247
@eiswind Do you mean in docs? Sorry I am not quite sure where we should mention this issue.

[2022-02-28 08:09] geropl commented on #8096
@sagor999 Would it make sense to sync on this issue to speed up investigation? Would love to understand what you discovered so far.

[2022-02-28 08:22] mikearnaldi commented on #6243
We are also hitting the limit frequently, while this has been a good driver to justify a bit of refactoring and cleanup on our repos there are some where I can't get around the limit. Would be extremely helpful if we could have a config to setup the disk size, we'd be also more then fine on having such workspaces more ephemeral in the sense that you could literally trash the workspace as soon as i

[2022-02-28 08:24] MrSimonEmms commented on #8107
I think I would respectfully disagree. The experimental config is not for most users (truthfully, it's mostly for SaaS) and there's a danger that people read "experimental" as "beta" or "this is some brilliant stuff that's coming in the future - use it now to be bleeding-edge" which it absolutely isn't.

It's unsupported configuration which allows users to go outside the tracks of the Installer's

[2022-02-28 08:37] jankeromnes commented on #8473
@jldec A quick fix for this could be to place the "kit" directory in [definitely-gp](https://github.com/gitpod-io/definitely-gp) under a "sveltejs" directory, to make the matching more precise.

From past experience, anything with 4 letters or less is prone to false-positive matches, and should be configured as "org/repo", not just "repo".

[2022-02-28 08:47] geropl commented on #8324
I'm closing this issue because the network timeout is not an inherent problem by itself, and can be mitigated by increasing npm network timeouts: `yarn install --network-timeout 60000`

Nonetheless, we should have follow up issues for:
 - Workspace: [due to high CPU density](https://github.com/gitpod-io/gitpod/issues/8324#issuecomment-1049909112) prebuilds can start/execute very slowly (might depe

[2022-02-28 08:50] corneliusludmann commented on #8107
OK, convinced me. In particular, I think @csweichel's [argument](https://github.com/gitpod-io/gitpod/pull/8477#issuecomment-1053985130) is key:

[2022-02-28 08:57] jldec opened #8479 "Epic: Mulit-repo workspace configuration - Beta"
**Summary**
This epic enables the configuration of Gitpod workspaces which span multiple repositories. The goal is to allow Gitpod to work well for more scenarios where the code for different components of a project is not maintained in a monorepo, but rather in separate git repos. A common example is back-end services and front-end implementations for different target platforms.

See [this RFC](h

[2022-02-28 09:01] jldec commented on #8479
Duplicate of https://github.com/gitpod-io/gitpod/issues/7608

[2022-02-28 09:01] #8479 closed

[2022-02-28 09:03] jmls commented on #8324
I strongly disagree with closing this issue. The npm isssue can be mitigated with yarn and timeouts - however we still have major issues with network and disk issues with docker compose which cause our prebuilds to have an 80% + failure rate.

[2022-02-28 09:14] geropl commented on #7829
@kylos101 Thx for the analysis, and I :100:% agree.

I think we should re-try, but not over such a long time period, but more in the order of a couple of seconds. Longer outages like [this one](https://cloudlogging.app.goo.gl/JrW4893xPRUMZnR69) should escalate instead, triggered by metrics and alerts.

To users, if the re-try fails as well because of "no cluster available", we should present a mes

[2022-02-28 09:18] akosyakov commented on #8465
We should think well about it, there are good properties right now that we can cherry pick some changes to old release and so on. Will we publish 2 different version to Marketplace? One for stable, another for nightly?

[2022-02-28 09:23] laushinka commented on #8453
Do we know in which cases or how often we search with instanceIds? If we go for now with guessing from the given input, it's very fast for workspaceId but still slow with instanceIds.

cc @jldec

[2022-02-28 09:24] csweichel commented on #8324
Discussion is still on-going if this is really a network issue. We continue to observe the behaviour of prebuilds, specifically looking into yours @jmls.

[2022-02-28 09:24] geropl commented on #8324
@jmls Can you share more details? This is news to me, as judging from the original description this issue seems to be specific to the npm issue.

[2022-02-28 10:25] fritterhoff opened #8481 "(Automated) Deleting of S3 Objects"
### Bug description

We're evaluating the use of a selfhosted gitpod instance. (Base OS Ubuntu 20.04, using the latest installer version on k3s, all components are in-cluster)
Obviously, at the moment S3 objects are kept forever, even if I delete the workspace.

It seems like the source code provides some functionality to delete the objects but I'm unsure how to trigger them or how they should be

[2022-02-28 12:06] jldec opened #8484 "Revert temporary Gitpod logo color change"
Reminder to switch back to our kumquat logo color - see https://github.com/gitpod-io/gitpod/pull/8478

[2022-02-28 13:49] jeanp413 commented on #8465
I think most changes in gitpod extension are independent of the gp-code release (the only exception being our custom cli changes) so just one version would be enough, also we can use the engine property in package.json to specify a minimun vscode version

[2022-02-28 14:00] semiribrahim opened #8487 "Activating the Pull Requests and Issues extension failed. Please make sure you have git installed."
### Bug description

On starting a new workspace, an error alert keeps getting displayed VS code with the error below:

**Activating the Pull Requests and Issues extension failed. Please make sure you have git installed.**

**GitHub Pull Requests and Issues** plugin seem to be shipped by default in VS code, would be useful if it could be optional.

![Screen Shot 2022-02-28 at 1 58 27 PM](https://u

[2022-02-28 14:30] jankeromnes commented on #5176
Happy to look into implementing a reasonable rate limit that doesn't break normal usage but prevents incidents.

[2022-02-28 14:35] laushinka commented on #8453
@gtsiolis I'll probably need your design input for a search dropdown 🙏🏽

[2022-02-28 14:39] gtsiolis commented on #8453
@laushinka adding this to product design board to take a look later.

[2022-02-28 14:54] adg25 commented on #8198
Thanks @kylos101. Unfortunately I can't share the repo with you since it's private but I can share some relevant metrics. We currently have 165 bazel BUILD files that include java_* cc_* py_* and container_* (library/binary/image/push) modules and in total about 47k lines of code

[2022-02-28 15:05] kylos101 commented on #8103
Thank you, @utam0k !  I've also moved this issue's status back to in-progress. Good catch.

@Furisto can you look at Mike's comment about adding documentation? My preference would be to add a new section on the existing environment variables page (for now).

[2022-02-28 15:07] kylos101 commented on #8198
Thanks, @adg25 that should help us recreate a similarly sized `/workspace`.

[2022-02-28 15:50] axonasif commented on #5226
Reopening for an user query at [Discord](https://canary.discord.com/channels/816244985187008514/947882257534832661/947883467268579368)

[2022-02-28 16:08] #7492 closed

[2022-02-28 16:29] Cahllagerfeld opened #8488 "[SEO] - Workspaces URL"
Hey Team Webapp,

we were fixing some SEO-related stuff inside the website repo, and have an open issue regarding the `/workspaces` url left.

The corresponding Issue with all relevant info can be found [here](https://github.com/gitpod-io/website/issues/1546).

[2022-02-28 16:59] laushinka commented on #8453
@gtsiolis Thanks! And it doesn't have to be a dropdown, something like a search with radio buttons would also work?
<img width="183" alt="Screenshot 2022-02-28 at 17 58 42" src="https://user-images.githubusercontent.com/8015191/156025346-77b969bd-d74a-401a-939b-690a2486981d.png">

[2022-02-28 17:09] sagor999 commented on #8096
@geropl I have not dig deep into this issue unfortunately and I think @csweichel have a deeper understanding of the problem.
But from what I understood, we have several possible scenarios:
1. OTS never gets created
2. It takes longer than 20 seconds for OTS to sync between databases, causes OTS timeout to trigger.
3. Maybe we somehow attempt to read same OTS twice, causing second read to always fa

[2022-02-28 17:58] eiswind commented on #8247
@akosyakov I thought there was a separate issue regarding the Gateway EAP Support, but I could not find any.

[2022-02-28 18:45] mcgrealife commented on #7955
+1 Without discord support, I would have not known it was a `.tar` file.

[2022-02-28 19:01] loujaybee opened #8492 "Airgapped JetBrains IDE's"
Ability to use JetBrains in an airgapped environment.

We need to download thin clients via some sort of proxy / not from the public internet.

Architecture diagram(s):
- https://www.jetbrains.com/help/idea/remote-development-overview.html#defs
- https://github.com/gitpod-io/website/pull/2334

[JetBrains issue](https://youtrack.jetbrains.com/issue/GTW-223)

#airgapped #airgap #air gap

[2022-02-28 19:07] loujaybee opened #8493 "Document SSH Gateway in the installer"
Update SSH installation steps in the installer (for JetBrains).

https://github.com/gitpod-io/gitpod/tree/main/install/installer

[2022-02-28 19:22] jeanp413 opened #8494 "VSCode settings sync error `Server did not return the ref`"
### Bug description

A user reported that settings sync is not working for him with the following error in console

[code]

Context:
https://gitpod.slack.com/archives/C032GEUGV09/p1645817535491169

[2022-02-28 20:53] jab commented on #4886
@svenefftinge, when you have a moment, could you please take a peek at https://gitpod.io/#https://github.com/jab/bidict/pull/238 (which shows that when I remove the workaround for this issue I get the `Permission denied...Consider using the --user option` error from my previous message), and possibly reopen this issue?

[2022-02-28 21:05] svenefftinge commented on #4886
I can reopen the issue, of course. We could certainly need some help from Python experts to figure out what's going on here.

[2022-02-28 21:15] jeanp413 commented on #8494
The issue was caused by [ClearURLs](https://chrome.google.com/webstore/detail/clearurls/lckanjgmijmafbedllaakclkaicjfmnk?hl) chrome extension, it has a feature to [remove all etag headers](https://github.com/ClearURLs/Addon/blob/3f707bfd3af06d1aea5cea9d6de45fd4ddab8651/core_js/eTagFilter.js)
Disabling that feature or removing the extension fixed the issue

[2022-02-28 21:15] #8494 closed

[2022-02-28 21:48] jab commented on #4886
Thanks!

[2022-02-28 22:17] gtsiolis commented on #8453
Breaking down the issue, here're some thoughts:
1. Removing free text search that tries to search across all fields like context, projects, etc sounds good! 💯
2. Keeping search visible and simple[[1](https://www.nngroup.com/articles/search-visible-and-simple/)] is a good UX practice. To this extend, I'd vote for keeping a simple search input instead of adding complexity ahead of search using a dro

[2022-02-28 23:01] kylos101 commented on #8324
I was able to reproduce the problem where logs cannot be viewed consistently for a running prebuild. It doesn't happen every time. To recreate I did roughly 5-10 commits (pushing on each commit), and for each prebuild, I would view the prebuild logs, go back to my list of prebuilds, and try to view the same prebuild a second time.

1. [Public repo](https://github.com/kylos101/prebuild-experiment)

[2022-02-28 23:10] kylos101 commented on #8324
Hey @geropl  :wave:, [is this info helpful](https://github.com/gitpod-io/gitpod/issues/8324#issuecomment-1054777290) for the intermittent issue, which prevents users from viewing active prebuild logs?

Is there anything else you'd like me to check? If yes, I can try recreating this again tomorrow if it helps - let me know.

I didn't get a chance to track down how we get [terminalId](https://github

[2022-02-28 23:13] davemecha commented on #554
@sagor999 Thanks for the update.

I don't have the use case right now any more, but I tested changing `/etc/hosts`.

Since the change of `/etc/hosts` is not persistent, it must be done on every workspace startup. So I did it with:

[code]

This works like charm. Thanks for implementing :)

[2022-02-28 23:13] #554 closed

[2022-02-28 23:52] sagor999 commented on #8198
I looked at logs and found interesting data point regarding `cannot delete workspace from store`:
[code]
Internal link for logs: https://cloudlogging.app.goo.gl/nH3fexYGbsGBcAkj7
My speculation is that as we are trying to remove the files, some node process keeps on writing files into that directory.
@csweichel Can you confirm if we completely shutdown all processes before attempting to delete the

[2022-02-28 23:57] jeanp413 commented on #7898
Upstream PR got merged, closing this.

[2022-02-28 23:57] #7898 closed

[2022-03-01 00:40] utam0k opened #8496 "Multiple version control of docker-related packages"
### Bug description

Maybe this issue should be raised [github-io/workspace-image.](https://github.com/gitpod-io/workspace-images), but now we control the versions of runc, docker-compose, and docker versions in workspace-image and gitpod-io/gitpod. For this reason, we don't use the versions which [docker-up/dependencies.sh](https://github.com/gitpod-io/gitpod/blob/main/components/docker-up/depend

[2022-03-01 01:09] utam0k opened #8497 "Make cache reclaim support v2"

[2022-03-01 01:10] utam0k opened #8498 "Make CPU limiting support v2"

[2022-03-01 01:11] utam0k commented on #8350
I created the issues to support cgroup v2
- https://github.com/gitpod-io/gitpod/issues/8497
- https://github.com/gitpod-io/gitpod/issues/8498

[2022-03-01 01:24] utam0k commented on #4886
@jab Maybe it has something to do with this issue.
https://github.com/gitpod-io/workspace-images/issues/664

[2022-03-01 01:32] sagor999 commented on #8481
We will be working on changing how we store workspace data and this might be obsolete in the near future.
So most probably we will not be looking to fix this currently, as this seems to be a low impact bug.

[2022-03-01 04:10] neilkuantm commented on #8429
Hi @Pothulapati .
The Github Enterprise `3.3`.
To request the raw format:
[code]
ref: https://docs.github.com/en/enterprise-server@3.3/rest/reference/repos#get-repository-content

I got the content via this way.

[2022-03-01 05:14] axonasif commented on #551
Hi,
Can you share the workspace id with us.

—
Prince
Team Workspace Community Captain
Gitpod | @gitpod

--- original message ---
On February 26, 2022, 10:45 PM GMT+5:30 ***@***.*** wrote:

Hello, as I see, this problem is already old but it is happening to me with this workspace:

https://github.com/4GeeksAcademy/master-javascript-programming-exercises

What can I do for stopping this 'stopping'

[2022-03-01 05:58] axonasif commented on #551
Hey @princerachit, this must be some sort of sorcery up there 😂
The message you're replying to from mail was deleted physically here on Github.

[2022-03-01 06:39] utam0k commented on #8497
I research how to implement cache reclaim. First of all, cgroup v2 doesn't have a way to reset the page cache in units of tasks. So we have to consider the new algorithm for the cache reclaim.
Next, describes the memory subsystem of cgroup v2.
https://github.com/giuseppe/enhancements/blob/5b4d3d5ec07b8e2ee7d231c6f99c09b0da04a48a/keps/sig-node/20191118-cgroups-v2.md

In other words, when low ~ min,

[2022-03-01 08:23] geropl commented on #7819
@CarterQC Just found your issue. It looks like your last command `node node_modules/webpack/bin/webpack.js --mode=development` returns with an exit code other than `0` (cmp. [code](https://github.com/gitpod-io/gitpod/blob/d98d7abfe54fb28eff9bce805736c17642a56c01/components/supervisor/pkg/supervisor/supervisor.go#L299-L306)). This leads to the "failed" state. (that we report prebuild timings - and

[2022-03-01 09:07] mickmister commented on #7939
The linked ticket is actually an epic, and this ticket could be included in that epic since this ticket is after the same goal. I'm thinking this would give a user more power within the Gitpod user settings, when a given repository hasn't been converted to use Gitpod yet.

[2022-03-01 09:30] laushinka commented on #8453
@gtsiolis Thanks for the comprehensive comment! Definitely a lot coming down the road and that's good to know.
Keeping it simple for now works, as long as admins can find the workspace they need quickly.
I can create a ticket already as a follow-up to improving the workspace (or any) search, so we make sure to schedule it and put ideas there 🙏🏽 cc @jldec

So the minimum changes here we can make ar

[2022-03-01 09:44] laushinka commented on #8453
If I understand your question correctly, should we allow searching for emails on the workspaces list? I haven't run into that usecase, but if there is please let me know.

This was also a question I had - what admins actually need to search on regarding workspaces. It seems that usually when there are customer issues, we ask for their workspace IDs and contextURL to investigate (Gero and Jürgen ca

[2022-03-01 11:13] geropl commented on #8446
I labelled this with `good-first-issue` not because it's easy to fix or of limited scope (more the opposite) but because it's relevant, yet a nice entry point to drill down into how our system works. Especially the webapp/IDE/workspace interaction.

[2022-03-01 11:45] jankeromnes commented on #5176
I did some [research](https://github.com/gitpod-io/ops/issues/1373#issuecomment-1055338729) (internal) on our top prebuild rates for February 2022:

Also, the "Dependabot" case is interesting:
- Developers probably don't need all Dependabot pushes to be prebuilt all the time. Maybe it's okay to fail some prebuilds in case of high-frequency push bursts?
- Also, auto-enabling Incremental Prebuilds f

[2022-03-01 11:52] jldec opened #8499 "Epic: Configure and fully support Bitbucket Server"
Gitpod users would like to use their own Bitbucket Server to work with Gitpod.

[code]

The experience of registering and connecting users should be at least on parity with private GitLab instances i.e. Bitbucket server integration should be available for both SaaS and and self-hosted so that enterprise users can evaluate the support.

- [x] #7957
- [x] #8455
- [x] #8603
- [x] #9062
- [x] #9010
-

[2022-03-01 11:52] neilkuantm commented on #8429
I think change
[code]
to
[code]
will work!

cc @Pothulapati

[2022-03-01 12:07] jldec commented on #8446
See also investigation by @kylos101 in https://github.com/gitpod-io/gitpod/issues/8324#issuecomment-1054777290

[2022-03-01 12:10] jldec commented on #8324
Thanks @kylos101 - we're tracking the (mis)behavior of the "Prebuild in Progress" page in #8446.
(I cross linked your comment / investigation there also)

[2022-03-01 12:22] jldec opened #8501 "Epic: Support GitHub Enterprise"
Gitpod users would like to use their own GitHub Enterprise instance to work with Gitpod.

The experience of registering and connecting users to GHE should be at least on parity with private GitLab instances.

Support for registering a GHE instance and performing authentication is already in place.

**Gaps** (_additional validation required_)

- [x] Registration of the GitHub App for Gitpod, for GH

[2022-03-01 12:44] geropl commented on #7681
Dropping test-assignment.

[2022-03-01 12:55] corneliusludmann opened #8505 "Remove dead code: Probe Workspaces"
In the past, we used probe workspaces to check if a workspace cluster is working:

https://github.com/gitpod-io/gitpod/blob/1c0ee09cdc6a827c5e4258c1c8369eb8e6914c5f/components/server/ee/src/workspace/workspace-health-monitoring.ts#L35-L36

However, we do not support and use probe workspaces anymore. We should remove all the dead code around probe workspace. That includes:
- The function mentioned

[2022-03-01 13:04] gtsiolis commented on #8453
Regarding https://github.com/gitpod-io/gitpod/issues/8453#issuecomment-1055225207:

@laushinka I was playing devil's advocate here. I also think this is not a useful or valid use case. 😈

I think just the workspace name (ID) suffices when it comes to customer support but I could be wrong. Cc @geropl @jldec

---

Regarding https://github.com/gitpod-io/gitpod/issues/8453#issuecomment-1055211887:

1.

[2022-03-01 13:06] geropl commented on #8453
IMO workspaceId is by far the most important one, so fine to take that approach as MVC.
`instanceId`, however, is also used during debugging. But as this is mostly done with DB connection open, the additional lookup in those cases is ok for now.

[2022-03-01 13:09] gtsiolis commented on #8453
Thanks, @geropl! Makes sense and probably would solve 90% of the use cases, right?

Later on we could introduce better ways to debug or discover **workspace instance IDs** from the admin dashboard while **browsing workspace IDs**, too.

[2022-03-01 13:31] jeanp413 commented on #8473
:100: to deprecate definetely-gp, I created an issue a while ago to at least make it configurable to opt-out https://github.com/gitpod-io/gitpod/issues/7336 as it was causing me trouble when opening upstream vscode repo

[2022-03-01 13:42] akosyakov opened #8507 "[jetbrains] integration testing cut-through"
We should be able to run end-to-end of JB integration from Gateway to Backend with the simple connectivity smoke test for EAP version on nightly basis.

[2022-03-01 14:08] utam0k commented on #8103
How about a field to pass arguments directly to dockerd without any conversion?
e.g. `{ "userns-remap": "gitpod:gitpod", "direct": ["--add-runtime", "gitpod", "--debug"]  }`
(I want to get a better field name 😭 )

[2022-03-01 14:14] svenefftinge commented on #7336
will be resolved by #8473

[2022-03-01 14:14] #7336 closed

[2022-03-01 14:44] chrifro opened #8508 "SEO: Google search console: Server error (5xx)"
According to Google Search Console, there are 64 pages that return a 5xx error. [[1](https://search.google.com/search-console/index/drilldown?resource_id=sc-domain%3Agitpod.io&item_key=CAMYEyAE)]

Most affected URLs are: https://gitpod.io/api/xyz
<img width="884" alt="Bildschirmfoto 2022-03-01 um 11 30 21" src="https://user-images.githubusercontent.com/46345125/156189644-6110133b-56a2-4af4-a6c5-db

[2022-03-01 14:57] filiptronicek commented on #8508
@ChristinFrohne should these endpoints even be indexed? I am guessing they are not needed for SEO and shouldn't be in anyone's search results 😄, maybe we should add the `/api/` route to https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/public/robots.txt?

I'm not sure who to cc / mention here though, maybe @jankeromnes?

[2022-03-01 15:36] cafsenra opened #8509 "ARM64 support not working"
### Bug description

On installing Gitpod on ARM64 k3s cluster with [gitpod installer](https://github.com/gitpod-io/gitpod/releases/tag/2022.02.0), I am getting the following error:
standard_init_linux.go:228: exec user process caused: exec format error

This error appears when the containers doesn't support ARM64. As I am using Gitpod arm64 installer, I would expect that this issue doesn't occurs

[2022-03-01 15:36] gtsiolis commented on #8501
See also https://github.com/gitpod-io/gitpod/issues/5297.

[2022-03-01 15:41] gtsiolis commented on #7713
Moving this to scheduled in the [product design board](https://github.com/orgs/gitpod-io/projects/29). 🥯

[ETA](https://en.wikipedia.org/wiki/Estimated_time_of_arrival): End of this week. ⏱️

[2022-03-01 15:59] svenefftinge commented on #8183
This is not a bug but intentional. Ideally `.gitpod.yml` should be versioned and shared with others working on a project. Therefore Gitpod adds it there and does not add it to `.gitignore`. Of course, if you don't want to add it you can ignore it. The behavior is very similar to other tools creating dot files in the working directory.

[2022-03-01 17:00] jab commented on #4886
Thanks @utam0k, I noticed that $PATH bug too! But it looks like I'm hitting something far weirder. Just left a comment in https://github.com/gitpod-io/workspace-images/issues/664#issuecomment-1055653244 in case anyone has any ideas. Thank you!

[2022-03-01 17:46] #7409 closed

[2022-03-01 18:21] loujaybee commented on #7537
Given the other ongoing priorities for the IDE team (internal link: [[1](https://www.notion.so/gitpod/RFC-IDE-Roadmap-2022-Q1-Q2-b40d21ede00b4b7091b759b4abab4fd8)] - mostly a narrative on current roadmap items) I'm going to move this deliverable to Q2 for now. This could be achieved in a small solution, and could be picked up in the mean time. Alternatively, if urgent, I think this is also somethi

[2022-03-01 18:36] loujaybee opened #8512 "Epic: Foundation for Gitpod API (workspace status and auth API's)"
| Context             | This epic is the first 🐣 baby-step towards creating a stable external public API for Gitpod by starting with two endpoints which are required to improve the IDE experience on desktop. This epic includes the creation of both: authentication API's and workspace status API's that will take the place of the currently undocumented / not contract-bound internal API's which are be

[2022-03-01 18:49] loujaybee opened #8513 "Epic: Integrate SSH Gateway into VS Code Desktop (SSH key upload & remove Local Companion)"
| Context             | Integrate SSH Gateway into VS Code Desktop to bring Gitpod users a more stable and reliable desktop experience . |
|---------------------|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2022-03-01 19:02] loujaybee commented on #7184
Moving to Q3, work will continue towards VS Code and GA, such as: https://github.com/gitpod-io/gitpod/issues/8513 but this work is unlikely to conclude in Q2.

[2022-03-01 19:12] loujaybee commented on #7671
Moving to Q3 as the currently proposed solution for this would be dependent upon https://github.com/gitpod-io/gitpod/issues/7185, which in turn is dependent on API changes introduced in https://github.com/gitpod-io/gitpod/issues/7900 and https://github.com/gitpod-io/gitpod/issues/8512. However, if required, some simpler (non-dependent) solutions could be found for immediate pain relief here rather

[2022-03-01 20:30] kylos101 commented on #5176
Hi @jankeromnes , would it be prohibitive to also include a check to see how many total prebuilds this user is running now, and not allow them to do more than 50?

[2022-03-01 20:49] mustard-mh opened #8516 "Sometimes the track event is not shown in the segment"
### Bug description

Sometimes the track event is not fully displayed in the segment `staging_untrusted`, need to investigate why this is the case.

See also https://github.com/gitpod-io/gitpod/pull/8313#discussion_r816767194

### Steps to reproduce

1. Build a preview env with segment
2. Check segment debugger

[2022-03-01 21:31] kylos101 commented on #5176
Hey @jankeromnes :wave: ,

I thought that might be, but wanted to ask for the sake of posterity (my lens was the one user, two repos, and ~100 PRs). Thank you very much for your thoughtful response!

Totally agreed, this will :100: help! :pray: :star2:

Those are excellent points! :1st_place_medal: I appreciate you sharing the related use cases / different ways to control the throttle.

@jldec is

[2022-03-01 21:45] kylos101 opened #8517 "[observability] variables do not update on time range change for Workspace reports"
### Bug description

The reports [here](https://grafana.gitpod.io/dashboards/f/Ejo1-zY7z/team-workspace), like for Agent Smith, do not refresh variables, like Clusters, when you change the time range. As a result, you cannot select clusters (or other variables) which do not appear on initial load for the default report's time range.

### Steps to reproduce

Load the [agent smith report](https://gr

[2022-03-01 22:45] utam0k commented on #4886
Thanks for your response. I'll check these comments.

[2022-03-01 23:22] utam0k commented on #4886
@jab I will close this issue in order to consolidate the issues. If you still have any questions, please reopen this issue or create a new issue.

@svenefftinge
Thank you for reopening. Thanks to you I was able to catch the problem.

[2022-03-01 23:22] #4886 closed

[2022-03-01 23:59] kylos101 opened #8520 "[agent-smitih] prevent excessive egress"
### Description

Agent Smith [has these settings](https://github.com/gitpod-io/ops/blob/63965d4f29485f372e62420aeb18285c3ea2504b/deploy/workspace/manifests/agent-smith.yaml#L213-L223) to define rules to be used to measure for excessive usage.

### Current behavior
We are not currently logging when [excessive egress](https://github.com/gitpod-io/gitpod/blob/4dbce8222be4d8df2804c59f269cedcfbae2a01d/

[2022-03-02 01:34] djsnipa1 commented on #4006
I’m having this exact same issue with all my workspaces. Anyone know why?

[2022-03-02 02:00] zhaogeyinzuo commented on #4006
me too

[2022-03-02 03:49] utam0k commented on #8497
I've researched the effects of cgv2 `memory.max`. When I set the `memory.max`, the kernel was like trying not to exceed a set value. For testing, we opened gitpod-io/gitpod in a workspace as follows and ran the following command
[code]
Then, in another terminal, I ran the following measurement command.

[code]
Details is [here](https://docs.google.com/spreadsheets/d/1f1oHMiF1ZUgXZs3MBhrbaHxt6PMCV4

[2022-03-02 08:18] jankeromnes opened #8523 "Allow deleting a team / a project from the admin panel"
It would be useful to be able to delete a team or a project from the admin panel.

Deleting a team should also chain-delete every owned resource (like projects).

---

To illustrate one use case: There are currently 128 undeleted teams without any members in our DB:

[code]

These member-less teams also have some projects associated to them, thus preventing these projects from being added by other

[2022-03-02 08:23] geropl opened #8524 "Remember last user choice for "auth provider" dropdown (client side)"
@akosyakov reports:

![image](https://user-images.githubusercontent.com/32448529/156323072-4eaeea04-90f5-4539-b879-8bceda9ab486.png)

[2022-03-02 08:42] geropl opened #8525 "Enable faster and cleaner rollouts for server pods"
We deploy `n` `server` pods in our clusters to enable basic scalability. The rollout strategy is `n-1+1` (stop old & start new, one-by-one).

What makes this slow atm, and also might lead to more user-facing errors than necessary, is that we do not properly handle the kubernetes lifecycle, especially the [termination parts](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-term

[2022-03-02 08:54] JanKoehnlein commented on #6642
@geropl is this still an issues? If so, please add the `never-stale` label

[2022-03-02 09:00] geropl commented on #6642
@JanKoehnlein No as pressing as originally, as now we have proper automation in place. Let's close it for now, and re-open later if it comes up again.

[2022-03-02 09:14] gtsiolis commented on #8523
Yes, please! See also https://github.com/gitpod-io/gitpod/issues/6311. Cc @jldec

[2022-03-02 09:34] akosyakov commented on #8262
it was resolved in the meantime.

[2022-03-02 10:03] lucasvaltl opened #8528 "Disable Workspace Timeout When Running in a Self-Hosted Manner"
## Is your feature request related to a problem? Please describe
I'm having the issue of workspaces timing out and thus shutting down even though I still want to use it.

## Describe the behaviour you'd like
Interactive way to change the timeout of a workspace to allow it to run continuously even after a script has finished and/or there is no user input/activity.

## Describe alternatives you've c

[2022-03-02 10:15] #8107 closed

[2022-03-02 10:27] ArthurSens opened #8529 "[installer/openvsx-proxy/statefulset.go] StatefulSetStatus should not be rendered"
When running `installer render`, the OpenVSX-Proxy statefulset is being rendered with the Status field populated.

The status field is something that is fully controlled by the Kubernetes API after a resource is applied, so having it populated doesn't make sense from the Installer point-of-view. Besides that, different Kubernetes versions might have different required fields and a invalid status m

[2022-03-02 10:35] corneliusludmann commented on #8528
A pretty simple fix would be to add a config value to the installer that allows setting the timeout timespan. With that, customers can set an outrageous amount of time as timeout (let's say 1 year or so).

Since the extending of timeouts is an enterprise feature, the values are set here:

https://github.com/gitpod-io/gitpod/blob/5b74af751837f95839e0a645b42bbdd10748fc40/components/server/ee/src/use

[2022-03-02 10:40] gtsiolis commented on #6311
It makes sense to never allow users to change their own role in a team regardless if they are the last remaining member, right?

[2022-03-02 11:04] #8453 closed

[2022-03-02 11:04] #8454 closed

[2022-03-02 11:05] fritterhoff opened #8531 "Configuration of email notifications for selfhosting"
At the moment the installer provides no out-of-the-box option to configure email notifications. The support/documentation should be extended at this place.

[2022-03-02 11:09] gtsiolis commented on #7007
Still relevant.

[2022-03-02 11:11] gtsiolis commented on #5334
We'll probably come back to this after the design improvements of the new workspace modal in https://github.com/gitpod-io/gitpod/issues/8088.

[2022-03-02 11:16] gtsiolis commented on #8523
From design perspective re-using the top-right corner actions to delete a team makes sense.

| User | Team (BEFORE) | Team (AFTER) |
|-|-|-|
| ![admin-user](https://user-images.githubusercontent.com/120486/156351442-631cd220-9ec9-4102-941f-14f8f5ba1627.png) | ![admin-team-before](https://user-images.githubusercontent.com/120486/156351450-e62e82ed-034e-4166-b440-a6484d7f3f65.png) | ![admin-team-aft

[2022-03-02 11:33] loujaybee commented on #8028
In addition to this, I think we need to review our documentation and copy-text to ensure that the expectations are set with users properly. If we have this flag on the workspace loading, I think copy text such as "what does this mean" which links to docs about the insiders and explains how it works / user expectations would also be useful.

[2022-03-02 11:34] loujaybee commented on #8028
@akosyakov - Would be nice if designed, but I wouldn't necessarily wait a design on this one as we could do something simple, draft an approach / PR and tweak based on feedback from @gtsiolis et al.

[2022-03-02 11:39] loujaybee commented on #8028
Also, this relates to: https://github.com/gitpod-io/gitpod/issues/7026. In future I think we should consider having less stable features more clearly documented, e.g. Chrome Canary is a separate product / download so it's very clear. Or with the JetBrains [EAP](https://www.jetbrains.com/resources/eap/) version marked clearly as EAP.

[2022-03-02 11:40] loujaybee commented on #8028
Created a companion issue in website docs: https://github.com/gitpod-io/website/issues/1700

[2022-03-02 12:09] jeanp413 commented on #3065
yes, all those three.

[2022-03-02 12:18] pawlean opened #8534 "[Please ignore] Test"
### Bug description

Testing integrations on Front

### Steps to reproduce

Testing integrations on Front

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-03-02 12:27] akosyakov commented on #8028
put in scheduled for IDE team as well

[2022-03-02 12:35] Furisto commented on #8497
- Wondering why the process was not killed by the OOM killer when it reached max. Do we set oom_score_adj to -1000 somewhere?
- How is the behavior with memory.high? memory.max only prevents the process from going over the limit but does not try to reclaim.

[2022-03-02 12:48] MaxAlber opened #8536 "Projects support for Gitpod Self-hosted Instances"
## Is your feature request related to a problem? Please describe
Right now the Project feature is not working for self-hosted Gitpod installations. As far as i know, its simply not supported yet.

## Describe the behaviour you'd like
It would be nice to have the feature enabled for self-hosted instances, since it's kind of a core feature when working in a team.

## Additional context
Right now, wh

[2022-03-02 13:05] MrSimonEmms commented on #8536
See:
- [#7781](https://github.com/gitpod-io/gitpod/issues/7781) for GitLab
- [#5297](https://github.com/gitpod-io/gitpod/issues/5297)+[#8501](https://github.com/gitpod-io/gitpod/issues/8501) for GitHub.

[2022-03-02 13:17] CyriacBr commented on #8238
Not sure if the fix shipped yet but I'm personally still facing that issue.

[2022-03-02 13:27] pawlean commented on #8534
Test 💯

[2022-03-02 13:40] #8534 closed

[2022-03-02 13:50] csweichel commented on #1699
We could make image builds aware of private registries. For example, we could introduce a special environment variable (on user and project level), e.g. `GITPOD_REGISTRY_AUTH` which carries essentially a dockerconfig json. During an image build these credentials would be available, so that one could build from a Dockerfile much like:
[code]

This would NOT enable a `.gitpod.yml` like:
[code]

It w

[2022-03-02 13:53] corneliusludmann opened #8540 "Epic: Gitpod KOTS (Kubernetes Off-The-Shelf) application (aka Replicated Installer)"
### Problem

Currently there are different ways to consume Gitpod - via our SaaS offering, and via a self hosted installation. We want to ensure that everyone, no matter how they are using Gitpod, is having a great experience. This is also true for larger customers with more stringent requirements.

### Proposed Solution

Wrap the Gitpod Installer with KOTS to allow for a streamlined experience in

[2022-03-02 14:17] jmls commented on #1699
that would work for us

[2022-03-02 14:22] m-Bilal commented on #6339
@loujaybee , @chuck-alt-delete Hi! I'm new to the Gitpod community. Can I please take this up?

[2022-03-02 14:55] jcornaz opened #8541 "rust workspace: install default rustup components"
## Is your feature request related to a problem? Please describe

A standard rust toolchain installation comes with many useful components such as [clippy](https://github.com/rust-lang/rust-clippy#readme) which is a linter helping to catch common mistakes and make rust code more idiomatic.

Most rust projects use Clippy, and having it pre-installed on the gitpod rust image would be nice.

## Descr

[2022-03-02 15:29] #8437 closed

[2022-03-02 15:29] akosyakov commented on #8192
We had to revert it for now, since branding can cause JB backend freeze as for now: https://github.com/gitpod-io/gitpod/pull/8542 It will be improved in future versions and we can try again.

[2022-03-02 15:35] gtsiolis commented on #8437
Thanks @akosyakov for the heads-up and @felladrin for fixing this! 💯

[2022-03-02 15:40] ajhalili2006 commented on #7439
I updated the issue description and title to reflect that self-hosted releases are versioned as CalVer, not Semver.

[2022-03-02 15:44] ajhalili2006 commented on #7900
What about authorization and authentication stuff? Will you go to the OpenID Connect route like others or the usual OAuth way like GitHub did? Will managing own OAuth clients be included in the epic roadmap?

[2022-03-02 16:05] jldec opened #8545 "Link to privacy policy from gitpod.io/login"
Currently gitpod.io/login links only to the terms of service page.

This should be modified to say

[2022-03-02 16:44] #8507 closed

[2022-03-02 16:49] loujaybee commented on #7671
Note: There is also the related use-case of iterating/feedback loop on updating dotfiles configuration (in addition to `.gitpod.yml`, which might be solved with the same solution, but there might be some way to improve the feedback loop for dotfiles iteration. Wanted to add that use-case here, also.

[2022-03-02 16:55] kylos101 commented on #8396
@lucasvaltl I've scheduled this work, as it'll require a code change for Workspace components.

[2022-03-02 16:59] adg25 commented on #8198
@sagor999 I don't have access to those logs, but that would make sense as a theory

[2022-03-02 17:05] geropl commented on #8472
Internal discussion: [slack](https://gitpod.slack.com/archives/C02F19UUW6S/p1646239639008149)

The current suggested solution is to add a column `noMoreResources` to the `TeamSubscription` table that is used in [userGetsMoreResources](https://github.com/gitpod-io/gitpod/blob/f36d44f6e6f940a7e14368bcbb876f100a013551/components/server/ee/src/user/eligibility-service.ts#L259) to filter out such subsc

[2022-03-02 19:49] kylos101 opened #8551 "Manually triggered prebuilds cannot be cancelled"
### Bug description

Manual triggered prebuilds cannot be cancelled, at least, given the example I've shared (which uses a loop to cause the prebuild to never finish and hit our 1 hour timeout).

Here is a picture of what I see as a user running a manual prebuild:
![image](https://user-images.githubusercontent.com/1272076/156440440-46369e22-c734-4707-8492-c453a171e21c.png)

This is unlike typical

[2022-03-02 19:51] gtsiolis commented on #7879
Closing this in favor of https://github.com/gitpod-io/gitpod/issues/8385.

[2022-03-02 19:51] gtsiolis commented on #7668
Closing this in favor of https://github.com/gitpod-io/gitpod/issues/8385.

[2022-03-02 19:51] #7668 closed

[2022-03-02 19:56] mustard-mh commented on #8516
I hook axios response of [segment](https://github.com/segmentio/analytics-node/blob/3b9542b4ce06490627d48ee380cdd1b59898cc59/index.js#L29)

request data contain both kind `ide` and `content`

response status 200, but segment debugger only record `content`

| Request Data | Segment Debugger |
| :-: | :-: |
| <img width="1059" alt="image" src="https://user-images.githubusercontent.com/20944364/15643

[2022-03-02 20:28] joepurdy opened #8553 "Workspace failing to start - gitpod/never-ready"
### Bug description

Our engineers are seeing an elevated rate of errors starting new gitpod workspaces. The failures look like this:
![image](https://user-images.githubusercontent.com/6409227/156436725-76aeee02-6d7f-4251-83f7-6c84defe5e28.png)

The specific error about failing to mark the workspace seems like an issue with the k8s layer and outside our control. Is this a known issue?

### Steps t

[2022-03-02 20:33] jadeastar commented on #4629
Is this issue still active?

[2022-03-02 21:41] kylos101 commented on #8394
Hi @shaal , this is a duplicate of #8446 and item number 1. I am going to close this, and recommend you subscribe to that issue.

[2022-03-02 21:41] #8394 closed

[2022-03-02 21:44] gtsiolis commented on #4629
It's alive, @jadeastar! We probably going to work on this in the near future if there's more demand. FYI, there're a few work arounds if you run into this issue, like re-creating the account, re-connecting a provider or using environment variables to set a different author name and email. 💡

[2022-03-02 21:45] jadeastar commented on #4629
I appreciate the fast response! Thank you for all your work :)

[2022-03-02 22:26] sagor999 commented on #8553
We already merged a fix for this: https://github.com/gitpod-io/gitpod/pull/8519
And this should be rolled out later this week into production.
This should be a temporary failure, and retrying should resolve it, though I understand this is not ideal.

[2022-03-02 22:32] sagor999 commented on #8238
It was not deployed yet into production. :(
It will be deployed later this week though. :pray:

[2022-03-02 22:33] joepurdy commented on #8553
Awesome! Thanks @sagor999 for taking care of this for us! 🎊

[2022-03-02 22:35] sagor999 commented on #8096
@geropl how does OTS gets synced between clusters? AFAIU, currently we are failing to download OTS because it was not replicated to the cluster from which we are making request.
Is there a way to speed up OTS reconcile process? Or is there some sort of guarantee time wise how long it might take to run reconcile?

[2022-03-03 00:30] gpalazuelosg commented on #1379
Same issue on my side.

[2022-03-03 00:39] utam0k commented on #8497
@Furisto I had made a big mistake 😭 All of the above results are setted to high, not max. The data is correct, but I had mistakenly written high as max.

[2022-03-03 01:04] sagor999 commented on #5846
@kylos101 with us transitioning to PVC\Snapshots for data storage, I think this is no longer relevant.
And to create an out of band snapshot, you would just create new `snapshot` object in the cluster, reference PVC of the workspace that you want to backup, and snapshot will be created for you.

[2022-03-03 01:05] kylos101 commented on #5846
Thank you! Sounds good.

Might be a good dimension to reference in the design doc, too. Basically the same comment you shared (above).

[2022-03-03 01:15] sagor999 commented on #8198
@aledbf when we start backup process, can you confirm if we ensure that all user processes in workspace have been stopped? I think this error above happens because some build process is still churning out files while we are  trying to backup and cleanup.

[2022-03-03 01:25] mickmister opened #8557 "Feature Request: Ability to rename terminals using shell commands"
## Is your feature request related to a problem? Please describe

At the moment, terminal names must be name in the `.gitpod.yml` file. I want to share different gitpod setups among different projects, and a lot of the projects have overlap. I would to share functionality between the projects through scripts defined outside of the `.gitpod.yml` files. Each `.gitpod.yml` file basically has no logic

[2022-03-03 01:29] mickmister commented on #8557
I want to say that if this was implemented, I would be all-in for using Gitpod. It's important that the management of each project can be done by common scripts in a repo dedicated to Gitpod configuration.

There is work being done to share configuration between projects https://github.com/gitpod-io/gitpod/issues/7608, but the system I've detailed above seems a little more flexible for my use case

[2022-03-03 01:46] jeanp413 commented on #8145
This is duplicate of https://github.com/gitpod-io/gitpod/issues/5014
@alexanderkoh you can try disabling brave adblocker

[2022-03-03 01:46] #8145 closed

[2022-03-03 01:51] jeanp413 commented on #7376
This got fixed while fixing another issue upstream https://github.com/microsoft/vscode/issues/141322

[2022-03-03 01:51] #7376 closed

[2022-03-03 01:57] jimmybrancaccio commented on #6300
STAHP stalebot! 😠

[2022-03-03 03:02] mickmister commented on #8557
Another request for this piece is to make it so the config repo does not need to keep track of the repos running the config repo's scripts. It seems like the current direction relies on the repos  needing to be linked both ways in the epic https://github.com/gitpod-io/gitpod/issues/7608

[2022-03-03 03:53] tnir commented on #6377
@sagor999 Thanks for checking. I think we can close this now.

[2022-03-03 07:28] utam0k commented on #8497
Additional research was done. I set the `memory.high` of the workspace to 10GB and used stress-ng to repeatedly stress 20GB for 30 seconds.

[code]
<details>
<summary>a script for logging</summary>

[code]
</details>

![image](https://user-images.githubusercontent.com/13010913/156511670-c879f055-bfe7-490c-858c-a7e57738f17d.png)

If the kernel exceeds the value of `memory.high`, it will try to redu

[2022-03-03 07:29] utam0k commented on #8497
@Furisto @csweichel  I'd like to hear what you think. And if you have any other good ideas, I'd love to hear them.

[2022-03-03 07:51] geropl commented on #8096
@sagor999 I will allocate some time today to look into this.

[2022-03-03 08:05] #8545 closed

[2022-03-03 09:12] csweichel commented on #8497
Thanks @utam0k for the level of detail - much appreciated.

It strikes me that option 1 would be the way forward. We could just live with the 80% setting and see how things behave in prod.

Re implementing the memory limit: how would the system behave if we lowered `memory.max`? The great thing about "bandwidth controlled resources" like CPU is that you can always reduce the bandwidth without adve

[2022-03-03 10:10] corneliusludmann opened #8559 "Support own CA certificate / self-signed certificated for self-hosted installations"
- [ ] Test what works and was not
- [ ] Write docs on how to use your own CA certificate
- [ ] Maybe add support to the installer if specific settings are needed
- [ ] Add support for CA in KOTS / Replicated installer

## See also:
- https://github.com/gitpod-io/gitpod/issues/2615
- https://github.com/gitpod-io/gitpod/pull/2984
- ([internal](https://gitpod.slack.com/archives/C01KLC56NP7/p164628667

[2022-03-03 10:14] corneliusludmann commented on #8559
Comment from @MrSimonEmms ([internal](https://gitpod.slack.com/archives/C01KLC56NP7/p1646295351494919?thread_ts=1646286675.863249&cid=C01KLC56NP7)):

[2022-03-03 10:45] laushinka opened #8561 "Workspaces list under user fetches all workspaces"
After this change[[1](https://github.com/gitpod-io/gitpod/pull/8503)], the user detail now fetches all workspaces instead of only the workspaces of the user.

[2022-03-03 11:16] gtsiolis commented on #8561
Thanks for opening this, @laushinka!

Cc @jldec as this was brought up in our last meeting.

[2022-03-03 11:19] laushinka commented on #8561
PR is ready 🙏🏽

[2022-03-03 11:35] #8516 closed

[2022-03-03 11:49] jankeromnes commented on #8501
_Logging my progress. Please let me know if I should do this somewhere else. 🙏_

### Current state

- We have a GitHub Enterprise installation for testing (thanks @metcalfc!)
- There are already [docs for connecting GitHub Enterprise](https://www.gitpod.io/docs/github-integration#github-enterprise-server):
  - Seems to be written for Self-Hosted (e.g. "starting your Gitpod installation, you’ll get

[2022-03-03 12:29] lucasvaltl opened #8566 "[Documentation] Gitpod Self Hosted Monitoring Guide"
## Is your feature request related to a problem? Please describe
As a user of the self-hosted version of Gitpod, once I have it running I need to be able to continuously monitor my installation in order to ensure a smooth operation. As such, I need to be able to see what is going on and especially what is going wrong and be able to drill into issues to then fix them.

## Describe the behaviour you

[2022-03-03 12:41] lucasvaltl commented on #8566
https://github.com/gitpod-io/customers/issues/29

[2022-03-03 12:42] lucasvaltl commented on #8566
customers/#29

[2022-03-03 12:43] lucasvaltl commented on #8566
gitpod-io/customers#29

[2022-03-03 12:45] #8561 closed

[2022-03-03 12:46] csweichel opened #8567 "[ws-daemon] Introduce cgroup v2 evacuation function in IWS and use from workspacekit"

[2022-03-03 13:02] #7942 closed

[2022-03-03 13:22] trumbitta opened #8569 "Workspaces starting with some missing things"
### Bug description

Details: https://discord.com/channels/816244985187008514/816246578594840586/948167113187659808

(copy-pasting from Discord)

workspace opened with no Gitpod extension? (there's no Gitpod: open in VSCode item in the command palette)
Not the first time this happened: opening a new workspace usually fixes it
If the workspace id is the first part of the URL minus gitpod.io , I'd r

[2022-03-03 13:50] pawlean commented on #8569
Based on @trumbitta's message, I'm led to believe this is an IDE issue. However, @loujaybee / @akosyakov if you don't think it is please pass it on to the relevant team.

[2022-03-03 13:55] jankeromnes commented on #8501
This logged error seems relevant:

[code]

Some other relevant snippets from around the error:

[code]

From what I can tell, the `client_id` and `client_secret` values look correct (except for a space in front of the secret? 🤔)

I guess this calls for a dev environment with more debug logs.

[2022-03-03 13:59] pawlean commented on #1379
@tylerstephens814 @gpalazuelosg I suggest looking into the Gitpod Local Companion app. Relevant docs [here](https://www.gitpod.io/docs/ides-and-editors/local-companion#gitpod-local-companion). Or adjusting your application to use gp URL. Relevant docs [here](https://www.gitpod.io/docs/command-line-interface#url).

[2022-03-03 14:00] jankeromnes commented on #8501
Okay, connecting the app worked, let's try opening a repository.

Opening a private repository fails with:

<img width="600" alt="Screenshot 2022-03-03 at 14 58 50" src="https://user-images.githubusercontent.com/599268/156579399-a1733e0c-b06b-49d2-a29b-bb5b3f8ccb95.png">

Clicking on `Grant` just goes back to the same error again. New thing to debug! 🙌

[2022-03-03 14:12] trumbitta commented on #8569
Just now I opened a workspace while a prebuild wasn't yet done, and the bug didn't show up

[2022-03-03 14:17] jcornaz commented on #3746
Because it cannot always be in the project repository. For example, as an open-source contributor, I may want to use gitpod, but the project I am contributing to may not want to maintain a gitpod config in their sources.

[2022-03-03 14:55] kylos101 commented on #8396
@lucasvaltl @corneliusludmann I've removed Team Workspace from this issue, and added to the self-hosted inbox.

[2022-03-03 15:10] jldec commented on #6932
Note discussion in #8328

could render this issue moot:

Even if we do keep limiting the use of the admin dashboard, the check should allow evaluation use when there are < 10 users.

[2022-03-03 15:15] jldec commented on #8328
cc: @lucasvaltl on the topic of making the Admin dashboard unrestricted for any license or user count.

[2022-03-03 15:26] kylos101 commented on #8528
@lucasvaltl which timeout are you referring?
1. The inactivity timeout (which is 1 hour, and depending on your plan, can be extended in VS Code by clicking a toggle in the bottom right, to 3 hours)?
2. The workspace total runtime timeout (36h)? After this timespan, we stop workloads, even if actively being used. [Introduced here as part of the installer config.](https://github.com/gitpod-io/gitpod

[2022-03-03 15:33] corneliusludmann commented on #8528
Thanks for your comment, @kylos101. Didn't know that something like the workspace total runtime timeout exists. As far as I know, it's about the inactivity timeout. However, when they want to run workspaces longer than 36 hours, we need to make the total runtime timeout configurable as well.

@lucasvaltl: Could you take care that someone clarifies with the customer the actual use case and how long

[2022-03-03 15:35] loujaybee opened #8572 "Directly embed JetBrains Gateway download on workspace loading screen"
Currently when opening a JetBrains IDE from the browser, the user is prompted to install the gateway, however that user has to leave the browser, go to JetBrains docs (**Figure 1**), find the right download, and install it. Instead we could directly offer users the JetBrains Gateway download from within the workspace start page (**Figure 2**), this will reduce the number of steps to use JetBrains

[2022-03-03 15:44] loujaybee opened #8573 "Open workspace in ad-hoc (per-workspace) editor or IDE"
Currently, if a user wants to use a different editor they are required to:

1. Go to preferences
2. Restart a workspace

**Example use cases:**
1. You want to use VS Code (web) editor for making "smaller" changes to documentation, markdown etc and having the in-browser functionality makes more sense.
2. You use a mono-repo with multiple languages or technology stacks and need or want an IDE for mu

[2022-03-03 15:49] geropl commented on #7812
In the context of [this issue](https://github.com/gitpod-io/gitpod/issues/8096#issuecomment-1058175304) we found that failing prebuild instances would sometimes:
 1.) fail on first start
 2.) be re-started (why?)
 3.) eventually stop, but without(!) an error: overriding the bad state with a"positive" signal in the DB :warning:
This could be a root cause for the perceived unreliability, of course.

[2022-03-03 15:57] loujaybee commented on #8409
Hey @AnnaPrints! Thanks a lot for the feedback!

Yeah, the complication here is that workspaces are created based on preferences and the IDE / backend is baked into the workspace on start (at least, currently). JetBrains gateway is (currently) just a list of those workspaces, and so it will respect your user preferences... however you are right, if you're coming from gateway you quite likely want

[2022-03-03 16:08] loujaybee opened #8575 "Auto-detect preferred workspace IDE based on repo contents or metadata"
Currently, the way Gitpod works with IDE preferences doesn't allow for flexibly opening workspaces outside of the global setting. However, there are scenarios where this behaviour leads to confusion, or is not inline with users expectations. See:

- https://github.com/gitpod-io/gitpod/issues/6874
- https://github.com/gitpod-io/gitpod/issues/8409

One potential solution is to allow users to specify

[2022-03-03 16:13] corneliusludmann commented on #8528
@charlevelz: Thanks for your feedback. Could you add more details about your use case? Gitpod is designed to run [ephemeral workspaces](https://www.gitpod.io/docs/workspaces) for software developing tasks. When you say that you're testing services, how exactly do you use Gitpod?

[2022-03-03 16:50] charlevelz commented on #8528
Hi @corneliusludmann thanks for your answer, i know perfectly the use ephemeral workspaces for software development tasks - however, i think that gitpod have multiple case uses. I like testing my "mini data-platform"  and - as a data engineer - I find gitpod a very useful platform for my use case -  but the timeout, it really hinders my goal.

![img](https://user-images.githubusercontent.com/88805

[2022-03-03 17:13] Furisto commented on #8496
Timely issue @utam0k, was thinking the same thing. We should remove docker and docker-compose at least. Runc and uidmap should stay as customers could create custom images where they install docker themselves and we cannot expect them to know that they also need to install these two dependencies in order to make docker ns-remap work.

@kylos101 What do you think?

[2022-03-03 18:13] dtate-wave commented on #6226
This would be a very useful feature to have available in `gp`.

[2022-03-03 18:23] gtsiolis commented on #6226
@dtate-wave This could be nice to have. Let me re-open this and check if there's more demand[[1](https://github.com/gitpod-io/gitpod#how-do-github-issues-get-prioritised)] from the community. I've also added ~"good-first-issue" and ~"help wanted" labels in case someone from the community would like to work on this. Cc @loujaybee

[2022-03-03 19:15] jeanp413 opened #8579 "CORS error when fetching vscode manifest"
### Bug description

Even though this error it's harmless as we don't support PWA yet, It would be nice to fix this error so it's not misleading when users report other issues

### Steps to reproduce

[code]

[2022-03-03 21:57] kylos101 commented on #8496
It's possible a user could avoid installing Docker and Docker Compose in their base image. Here is an example where the base image lacks both because the [base image is not from gitpod/workspace-*](https://hub.docker.com/u/gitpod). Thank you @mikenikles for the recent conversation in Slack, or I would have known about a minimal image to try!

- [Internal thread discussing a slim base image.](https

[2022-03-03 22:30] sagor999 opened #8584 "When pod hits ephemeral storage limit, it just shuts down without reason provided to the user"
### Bug description

When pod hits ephemeral storage limit, it just gets evicted by kubelet, and user might lose any unsaved work due to that.
We don't have any way to warn a user when they are approaching the limit.
And we do not provide a clear reason for workspace shutdown when this happens.

It is also would be great if we could provide a user information regarding which folder used the most e

[2022-03-03 22:32] metcalfc opened #8585 "[installer] ImagePullSecrets with mirror issue"
### Bug description

We were installing the Feburary release with a registry mirror. We had a config.yaml with a top level `ImagePullSecret` with the creds for the mirror. We were not using the mirror for the Gitpod image registry. So in cluster registry was still set.

When we applied the yaml, registry facade went into a crash loop because it was trying to pull from the mirror but was configured

[2022-03-03 22:38] #8567 closed

[2022-03-03 22:46] metcalfc opened #8586 "[installer] Host all images needed for install in a Gitpod registry"
Currently, the installer pulls images from three registries including two public registries:

[code]

Docker Hub rate limits are a challenge at large companies that use NAT gateways, VPNs, or HTTP proxy because Docker Hub rate limits anonymous pulls by IP address.  We also don't want to rely on their uptime. We should move all the images we need for an installation into our registry.

[2022-03-03 22:58] akosyakov commented on #8569
@mustard-mh @jeanp413 Could you investigate please? 🙏

[2022-03-03 23:55] sagor999 commented on #8096
Thank you @geropl for digging deeper into this!

I don't think actual ws instance is restarted 12 times, but some other process does retry conent-init 12 times it seems like.
@csweichel in case if you have some comments regarding this. Going through code I couldn't quite figure out where that might be happening though.

https://github.com/gitpod-io/gitpod/pull/8587

where do we lose it? Since in l

[2022-03-04 01:11] jeanp413 opened #8589 "Settings sync stores more than 20 resource revisions"
### Bug description

Settings sync stores more than 20 resource revisions when it should only be 20 rev max

### Steps to reproduce

![gp_setting_sync](https://user-images.githubusercontent.com/25115070/156679894-4c77bb3f-e38f-4d00-a888-831357408226.gif)

[2022-03-04 04:46] jeanp413 commented on #7863
This is fixed in insiders by https://github.com/gitpod-io/gitpod/pull/8313, will be available in next stable release 1.65 tomorrow Friday

[2022-03-04 04:47] jeanp413 commented on #8569
This is duplicate of https://github.com/gitpod-io/gitpod/issues/7863, it's fixed on insiders, tomorrow Friday we will release stable 1.65 with the fix @trumbitta
Closing this so we track in the original issue

[2022-03-04 04:47] #8569 closed

[2022-03-04 07:19] SirLemyDanger commented on #8586
We have an artifactory as a mirror. I was then able to install gitpod from there using a regestries.yaml for k3s like this:
[code]

(What I didn't achive is to teach the build in registry to pull images from there as well :( )

[2022-03-04 07:26] SirLemyDanger commented on #8462
re-checked with feb '2022 release. Still the case

[2022-03-04 07:32] SirLemyDanger commented on #8462
looks releated to the limitations metioned here: https://github.com/gitpod-io/gitpod/pull/6983

[2022-03-04 08:38] svenefftinge opened #8592 "[prebuilds] Failed Prebuilds without Snapshot are marked as 'available'"
There are many failing prebuilds without a snapshot that are still marked as `available` and therefore used for new workspace starts.
[code]

- We need to figure out why these workspaces fail (many have an error message (Out of Memory) but some don't).
- Make sure they are marked as failed, so they are not considered when starting a workspace.