[2022-07-05 09:07] loujaybee opened #11140 "Java 17 VS Code Extensions"
`vscode-java` VS Code Extension now defaults to Java 17.

See: https://github.com/redhat-developer/vscode-java/wiki/JDK-Requirements#about-the-java-17-requirement

However, our base image is running Java 17. We should investigate updating base images:

See PR raised from @geropl to bump to 17
- https://github.com/gitpod-io/workspace-images/pull/845

And epic for improving workspace image rollout:

[2022-07-05 09:21] meysholdt commented on #10823
https://github.com/gitpod-io/gitpod/pull/11122 is certainly an improvement, but not a fix yet, because `cmctl status certificate <cert>` is not used yet.

[2022-07-05 09:50] #11127 closed

[2022-07-05 10:07] corneliusludmann commented on #11136
In my opinion, the only sensible way is to use the proper Kubernetes client version that corresponds to that Kubernetes version we need to support (item (2) in the listing above).

According to the readme of `kubernetes/client-go`, that is how the Kubernetes client is designed. [Kubernetes is backwards compatible with clients and they backport bugfixes.](https://github.com/kubernetes/client-go#com

[2022-07-05 10:40] MrSimonEmms commented on #11136
It always seems to be @gitpod-io/engineering-workspace that bumps the versions - f this is done to get access to a new feature in the updated library, then this approach could cause problems.

[2022-07-05 11:22] Furisto opened #11144 "Give new workspaces more resources"
## Is your feature request related to a problem? Please describe
The experience of opening a new workspaces can be painful because setup tasks are running. Users have to wait until they can start working because not enough resources  are available  to fulfill all requests.

## Describe the behaviour you'd like
Give new workspaces a higher priority (maybe use the already existing Qos attribute) dur

[2022-07-05 11:26] akosyakov commented on #11139
I think it happened because I also have https://github.com/akosyakov/gitpod-monitor which does requests each 2 second from each window. I think we need then caching and debouncing in supervisor, that a result is served from a cache within 1sec for instance.

[2022-07-05 12:25] #10566 closed

[2022-07-05 13:38] geropl opened #11146 "[db-sync] Cannot sync due to datetime column type (DBBlockedRepository.updatedAt)"
[code]

We mitigated by running the old db-sync image for now. This has the drawback that DBBlockedRepository and DBSSHKeys are not synced, yet.

/cc @andrew-farries

[2022-07-05 13:39] corneliusludmann opened #11147 "[installer] Allow setting the rand seed as CLI argument for testing purposes"
The installer command `render` renders the manifests with different random generated values (e.g. passwords). For testing, it's pretty hard to compare the effect of code changes in the installer because comparing the output of 2 different runs leads to a lot of changes just due to new generated random values.

A CLI argument like `--random-seed 42` that leads to the call of `rand.Seed(42)` in the

[2022-07-05 13:42] geropl opened #11148 "Never get stuck in dead end in PrebuildLogs view"

[2022-07-05 13:47] corneliusludmann commented on #9751
Closing this because we handle this in the reference architecture and deprecate the guide repos soon.

[2022-07-05 13:47] #9751 closed

[2022-07-05 13:52] akosyakov opened #11149 "[java] improve inner loop around configuration of SDKs"
It would be nice if we can detect whether SDK required to run the project is pinned in the workspace configuration via Dockerfile instead of using the default workspace image. We could do it by using IDEs to detect SDK configured by projects at runtime and then comparing with one in the workspace image by statically analysing .gitpod.yml/Dockerfile or emulating the workspace using docker and perfo

[2022-07-05 14:36] #10459 closed

[2022-07-05 14:45] loujaybee opened #11152 "Epic: Optimised workspace class for Java / JetBrains IDEs"
JetBrains IDEs + Java dev can consume often more memory due to their architecture/design.

Related:
- https://www.gitpod.io/docs/references/gitpod-yml#jetbrainsproductvmoptions
- https://github.com/gitpod-io/gitpod/issues/8704#issuecomment-1160001026

We intend to integrate with the JetBrains command center to show perf metrics:
- https://github.com/gitpod-io/gitpod/issues/10580

And are investiga

[2022-07-05 14:49] jldec commented on #9036
Hi @ChristianHuff-DEV,

Thanks for the feedback - you make valid points.

Here are a couple of notes about the planned changes from Gitpod. Please note that these plans are not set in stone and may very well change.

- With usage-based billing, Gitpod will continue to offer limited free usage, in the form of recurring free usage credits.
- We're not quite ready yet to share details like per hour c

[2022-07-05 15:05] jeanp413 commented on #11076
@andreafalzetti could you take a look at this today and investigate

[2022-07-05 15:24] ChristianHuff-DEV opened #11153 "Command "sudo apt update" fails in workspaces using the VNC image"
### Bug description

When trying to run the update command inside a workspace that uses the VNC image, the following error occurs:
[code]

This prevents the possibility to install additional dependencies.

### Steps to reproduce

1. Open a workspace using the image `gitpod/workspace-full-vnc`
2. Run the command `sudo apt update`

### Workspace affected

ds92w4w0uhs.ws-eu51.gitpod.io

### Expected

[2022-07-05 15:31] mustard-mh opened #11154 "Improve new Ports view"
We intro new `Ports` view as an experimental feature, which can be enabled by setting `gitpod.experimental.portsView.enabled` to `true` in browser vscode settings.

![image](https://user-images.githubusercontent.com/20944364/177361981-e05cc77b-30b9-465e-8819-b76ec922246f.png)

And got some feedbacks

- [x] Drag and drop portsView to left sidebar, icon missed
- [x] Enable it in setting, but still n

[2022-07-05 15:34] ChristianHuff-DEV commented on #9036
Thanks for the answer.
The spending limit sounds like a great idea. I really came to love Gitpod and hope you'll find a way to make it work for companies and individual users.

[2022-07-05 15:43] loujaybee commented on #11063
`~/.dotfiles.log` is the file, however with `gp` being the main "API" in a gitpod workspace exposing these logs there would make sense. Will also link/relate to:

- https://github.com/gitpod-io/gitpod/issues/7671

[2022-07-05 16:59] atduarte commented on #11144
What alternatives were considered and discussed? Would ensure that the IDE has enough resources during that time be sufficient?

[2022-07-05 17:05] aledbf commented on #11144
I think this would be unfair to the other workspaces running in the node. I could even abuse that running tasks knowing that I have more CPU

[2022-07-05 17:14] #10244 closed

[2022-07-05 17:19] kylos101 opened #11156 "workspaces get sluggish as you approach 9GB or the pod memory limit"
### Bug description

When you do this, the IDE will become slow or inaccessible.

### Steps to recreate

Run this [internal sample program](https://gitpod.slack.com/archives/C03MW7QM15M/p1657035667834169?thread_ts=1657034884.010059&cid=C03MW7QM15M) to recreate.

### Workspace affected

_No response_

### Expected behavior

The workspace would ideally not become sluggish.

### Example repository

_

[2022-07-05 17:27] fritterhoff commented on #8531
Ah sorry I forgot to reply to your question. @jemand771 already explained what was my problem ;-)

[2022-07-05 18:55] kylos101 commented on #11144
:wave: @Furisto thank you for creating this issue. @aledbf and I tested this recently with gen47 and gen51, and observed the same trend. It's an existing/old problem, I think, generally encountered when workspaces (usually monorepos) try to run too much.

We should talk more before scheduling this issue, I am going to move back to our inbox for now.

For example, there may be other ways to solve t

[2022-07-05 19:06] #11051 closed

[2022-07-05 19:37] #10929 closed

[2022-07-05 19:56] meysholdt commented on #10823
fixed via https://github.com/gitpod-io/gitpod/pull/11141

[2022-07-05 19:56] #10823 closed

[2022-07-05 20:07] kylos101 commented on #8396
@KelSolaar Would you be interested in using GPU via our saas offering? If yes, please reach out to Andre via the calendly link he shared in https://github.com/gitpod-io/gitpod/issues/10650.

[2022-07-05 20:37] jkleve commented on #11090
I see. It wasn't clear to me from the gitpod documentation that you need to have write permissions on your repo or need to have the integration set up.

My solution was switching to gitlab where I do have the integration defined. Now it works.

[2022-07-05 23:39] jimmybrancaccio opened #11162 "Limit How Many Versions to Go Back When Upgrading From Older Version of Gitpod"
## Is your feature request related to a problem? Please describe

This evening I've attempted to update a Gitpod instance I have but that has been offline for a few months. This instance is using Unstable. It appears when I shut it down it was at `release-2022.04.1.2. Bringing it back online this evening I believe it was running preflight checks on all releases since then up until `main.3791` - or

[2022-07-06 07:55] csweichel opened #11167 "Adjust process niceness within a workspace"
## Is your feature request related to a problem? Please describe
Today all processes within a workspace have the same [niceness](https://medium.com/@chetaniam/a-brief-guide-to-priority-and-nice-values-in-the-linux-ecosystem-fb39e49815e0). When the CPU available to a workspace gets contested this leads to undesirable behaviour, e.g. disconnects.

## Describe the behaviour you'd like
Interactive pro

[2022-07-06 08:05] lucasvaltl commented on #10790
@MrSimonEmms could you take a look at this and see what the next steps are? We did try to get to the bottom of [this](https://gitpod.slack.com/archives/C01KLC56NP7/p1656599626509209) in this internal thread, but did not really get a good answer.

[2022-07-06 08:21] lucasvaltl opened #11168 "Epic: Understand and define next steps for Self-Signed Certs on GKE"
### Summary

Currently, Gitpod with self-signed certs does not work on GKE. We should define the next steps here and come up with a way to either mitigate this or make it work.

### Context

Currently, Gitpod with self-signed certs does not work on GKE. We should define the next steps here and come up with a way to either mitigate this or make it work.

### Value

- Allow for self-signed Self-Host

[2022-07-06 08:30] axonasif commented on #11107
Duplicate of https://github.com/gitpod-io/gitpod/issues/10958

[2022-07-06 08:30] #11107 closed

[2022-07-06 08:33] axonasif commented on #11105
Relates to: https://github.com/gitpod-io/gitpod/issues/9284

[2022-07-06 08:40] lucasvaltl commented on #11005
@MrSimonEmms would you mind taking a look at this as well and propose some next steps?

[2022-07-06 08:47] gtsiolis commented on #10976
Cc @jldec as we recently discussed this change. 🏓

[2022-07-06 08:48] Furisto commented on #11156
Testing on XL workspaces does not reveal sluggishness when approaching the memory limit.
 https://www.loom.com/share/74a0dcb1d2c1403599ae446d509340ac

[2022-07-06 09:05] #10337 closed

[2022-07-06 09:05] lucasvaltl commented on #10272
Step 1 should be to define what is worth documenting here.

[2022-07-06 09:11] lucasvaltl commented on #10600
@nandajavarma how does this ticket fit into your next steps for automated testing? Would you mind moving this to the relevant state: backlog if we are not going to work on it soon, and scheduled if we are going to work on it soon.

[2022-07-06 09:14] lucasvaltl commented on #10869
We should move this to scheduled once we have the terraform scripts ( #11027) and maybe a werft command to spin up a self-hosed environment.

[2022-07-06 09:22] Seenox commented on #9188
Also confirming the issue has been fixed. Thanks!

[2022-07-06 09:24] Seenox commented on #9981
@nandajavarma confirming https://github.com/gitpod-io/gitpod/pull/10537 has worked as expected for me. Thanks!

[2022-07-06 09:27] Seenox commented on #10353
@jimmybrancaccio not directly related to your issue. However, since I also use `ClusterIP` and had a similar issue, you might be interested in using https://github.com/gitpod-io/gitpod/pull/10537 to solve (part of) your issue.

[2022-07-06 09:32] kevinadhiguna opened #11170 "Vue.js (v3) mixed content error"
### Bug description

Hi, I can not run my Vue.js v3 app. It said :

[code]

![image](https://user-images.githubusercontent.com/43397636/177517022-bbc5e307-191f-4b9f-b6f3-d08c4039c408.png)

### Steps to reproduce

1. Open Gitpod workspace
2. Open a terminal inside the workspace
3. Install @vue/cli globally using npm : `npm install -g @vue/cli`
4. Create a Vue.js app (v3.2.13) : `vue create modal-pr

[2022-07-06 09:38] MrSimonEmms commented on #8789
I'm going to close this. The previous issue was that there was an issue with eStartgz in image builder on OSes other than Ubuntu. That has recently been removed.

I've checked this on a CentOS 9-based k3s cluster and able to build an image, start a workspace and run a Docker image inside the workspace

[2022-07-06 09:38] #8789 closed

[2022-07-06 09:39] lucasvaltl commented on #6731
On second thought, it would be better to add this as a configuration on a team level (also discussed [internally](https://www.notion.so/gitpod/Product-Sync-c339d5a970714a3cb6197c4c1980e48f#7e1e8ebd2ff34ee9a275437168958c06)). As such, removing team Self-Hosted.

[2022-07-06 09:40] aledbf commented on #11167
https://github.com/torvalds/linux/commit/304000390f88d049c85e9a0958ac5567f38816ee

[2022-07-06 09:42] lucasvaltl commented on #7695
Ok - I will close this. Increasing test coverage should always be something we do though.

[2022-07-06 09:42] #7695 closed

[2022-07-06 09:43] csweichel commented on #11167
solved by https://github.com/gitpod-io/gitpod/pull/11159

[2022-07-06 09:44] corneliusludmann commented on #7824
[See also](https://www.notion.so/gitpod/Self-hosted-automated-nightly-test-pipelines-fdc5a202e67b4197aa00d93b98d57927 ) (internal)

[2022-07-06 09:46] lucasvaltl commented on #7824
Team platform is writing an RFC about this by end of this week. Then we can refine this ticket.

[2022-07-06 09:47] MrSimonEmms commented on #6789
I'm going to close this as "not planned". There's been no other mention of this since November as in-cluster MySQL has sort of evolved as the backup choice - the preferred, enterprise-grade solution is always to use a managed/external database.

[2022-07-06 09:53] peat-psuwit opened #11171 "Ability to specify a Docker image without commiting to the repo e.g. via URL"
## Is your feature request related to a problem? Please describe

It's useful to be able to specify a Docker image without committing to the repo. For example:
- Sometimes I would love to use GitPod for a project. However, I don't want to push GitPod to everyone else in the project (or maybe the project maintainer doesn't like GitPod's concept).
- Or maybe I'm checking out some project for the fir

[2022-07-06 09:55] lucasvaltl commented on #8717
This is unlikely to be done soon - hence will close this for now.

[2022-07-06 09:55] #8717 closed

[2022-07-06 09:57] lucasvaltl commented on #8331
I would close this because I think this will not get done soon. We can re-open if this becomes relevant.

[2022-07-06 09:57] #8331 closed

[2022-07-06 10:00] lucasvaltl commented on #8958
We want to replace the EKS guide with [reference architectures](https://www.gitpod.io/docs/self-hosted/latest/reference-architecture) (EKS coming soon). Hence will close this ticket.

[2022-07-06 10:00] #8958 closed

[2022-07-06 10:04] geropl opened #11172 "RepositoryResourceGuard does not work reliably (for BB/multi-repos?)"
Context: https://github.com/gitpod-io/gitpod/issues/11148#issuecomment-1175979282

[2022-07-06 10:05] lucasvaltl commented on #9307
@MrSimonEmms would you mind taking a look at this and triage this?

[2022-07-06 10:08] lucasvaltl commented on #9310
To be realistic, we don't think we can execute on this soon - we would need to engage with Replicated, and they are unlikely to prioritise this for us. As such, I will close this for now.

[2022-07-06 10:08] #9310 closed

[2022-07-06 10:11] #9484 closed

[2022-07-06 10:17] MrSimonEmms commented on #10705
I've tried this with the `2022.6.0` release and get a similar issue, although with a different error. It looks like this returns the error in the Installer logs:

[code]

My feeling is that, if you're moving databases then there's no easy path for extracting the data and ingesting into the external DB. The likely scenario is that this would be a POC where someone is investigating using the externa

[2022-07-06 10:19] lucasvaltl commented on #9820
Closing for now - outside of our control.

[2022-07-06 10:19] #9820 closed

[2022-07-06 10:23] lucasvaltl commented on #9822
Could be part of reference architecture as the last step. We can create a config that KOTS can then pick up.

[2022-07-06 10:26] #9846 closed

[2022-07-06 10:31] #8861 closed

[2022-07-06 10:31] Furisto commented on #11156
Default workspace get extremely sluggish if a lot of memory is consumed. The reason for this is different values for the cgroup compared to XL workspaces.

Default
memory.high -> 10307919872 (9.6 Gibibyte)
memory.max -> 12884901888 (12 Gibibyte)
memory.min -> 3435970560 (3.2 Gibibyte)

XL
memory.high -> max
memory.max -> 17179869184 (16 Gibibyte)
memory.min -> 13743894528 (12 Gibibyte)

Once the w

[2022-07-06 10:32] lucasvaltl commented on #10059
@MrSimonEmms would you mind checking which one of these we already have, and which ones we should add and potentially create issues for that?

[2022-07-06 10:35] MrSimonEmms commented on #9838
I don't think we need to do anything on this. Since `2022.6.0`, we have Fluent Bit installed on clusters and installer logs are copied to a support bundle. If there are any issues with finding out what happened in any ephemeral pod (installer, workspaces, imagebuild), the are now in support bundles.

@mrzarquon please reopen if this isn't working for you in support

[2022-07-06 10:36] #10705 closed

[2022-07-06 10:45] lucasvaltl commented on #10484
Closing this as it is replaced by #10769

[2022-07-06 10:45] #10484 closed

[2022-07-06 10:46] lucasvaltl commented on #10808
@nandajavarma could you move this to `scheduled` if it is relevant and should get worked on soon?

[2022-07-06 10:47] MrSimonEmms commented on #8865
As of today, I don't think we need to do anything with this. The requirements for this should largely be driven by the Support Team as this is designed to automate the common questions.

The preflight checks have a lot of analyzers in and (seem) to catch most of the common questions before deployment.

I will close this, but inform the support team that we can add in additional tests as they requi

[2022-07-06 10:47] #8865 closed

[2022-07-06 10:50] MrSimonEmms commented on #8840
Closing as the 🛹 is done

[2022-07-06 10:50] #8840 closed

[2022-07-06 10:53] lucasvaltl commented on #11136
@csweichel & @kylos101 what are your thoughts on this? Are there any good reasons that we do not stick with the k8s client version that we need to support.

[2022-07-06 10:56] MrSimonEmms commented on #9307
I'm not sure this is an issue. The check is for the memory on each node, not cumulative - as the screenshot in the Rancher dashboard appears to only show cumulative values for the cluster, this doesn't necessarily prove an error.

Without wishing to revert to "it works on my machine", this check has been in place for quite some time and appears to be reporting the correct figures. Of course, pleas

[2022-07-06 11:06] MrSimonEmms commented on #10059
We don't have any of these in the [support bundle](https://github.com/gitpod-io/gitpod/blob/main/install/kots/manifests/kots-support-bundle.yaml).

Storage class is easy to add ([docs](https://troubleshoot.sh/docs/analyze/storage-class/)) as that's supported out of the box.

The Network Policy, VolumeSnapshotClasses and `kubectl version` aren't supported by default. However, these should be fairly

[2022-07-06 11:06] Furisto commented on #11156
This behavior is describe [here](https://kubernetes.io/blog/2021/11/26/qos-memory-resources/) and in more detail [here](https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2570-memory-qos). The relevant parts from the KEP are:

The value of the throttling factor is 0.8 by default and can be influenced through the Kubelet configuration:
https://kubernetes.io/docs/reference/config-a

[2022-07-06 11:14] MrSimonEmms commented on #9698
I'll make a change to the default value to 50GB as @geropl requested. I also think it's worth documenting how to create your own registry/database/minio on your own cluster if you want to customise things, but don't want to use an external service.

[2022-07-06 11:19] mrzarquon commented on #666
We've updated how we do remote IDE connections to all use SSH, and we've just added "bring your own ssh publickey" to gitpod.io, combined that means to enable gpg signing you via agent forwarding you can now accomplish it this way:
- add publickey to your profile
- update your .ssh/config to forward gpg keys to *.ssh.ws.gitpod.io servers, this is my example:
[code]
- Have a build task in your gitp

[2022-07-06 11:28] #11008 closed

[2022-07-06 11:28] #11009 closed

[2022-07-06 11:28] #11025 closed

[2022-07-06 12:07] #10941 closed

[2022-07-06 12:49] MrSimonEmms commented on #9698
I've changed my mind on this. I've just run an experiment where I've changed from `8Gi` to `50Gi` on a running instance and I get the following error:

[code]

My feeling is that we can catch all this with documentation as above. We probably could solve this issue if we had to, but in-cluster dependencies are meant to be used as conveniences to get running quickly not as long-term/high-performance

[2022-07-06 12:49] #9698 closed

[2022-07-06 12:51] csweichel commented on #9776
In a workspace running with cgroupv2, Docker/containerd actually creates a cgroup and correctly places the process in it. However, when running the container with `--cpus`, no `cpu.max` gets set.
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/3210701/177554203-1ed39197-e964-4d06-8ac3-0f03c23e3be6.png">

[2022-07-06 13:20] mrsimonemms opened #11178 "Document deploying your own database, object storage and registry"
## Is your feature request related to a problem? Please describe

For Gitpod self-hosted, we always recommend using managed cloud instances for _DOR_ - they are more performant and easier to manage and backup. It is anticipated that all enterprise customers and the majority of community users will follow this path. For convenience, we offer _DOR_ as in-cluster dependencies - these are intended to

[2022-07-06 13:23] axonasif commented on #11171
Duplicate of https://github.com/gitpod-io/gitpod/issues/6275

[2022-07-06 13:25] #11171 closed

[2022-07-06 13:27] geropl opened #11179 ""Continue with default configuration" seems to be broken"
![image](https://user-images.githubusercontent.com/32448529/177560940-a4a1e6fd-d3d3-4181-ae24-615a82eed27a.png)

On every click web console prints: "Error: Invalid gitpod.yml: should NOT have additional properties"

[2022-07-06 13:36] #11156 closed

[2022-07-06 13:36] #11146 closed

[2022-07-06 13:42] csweichel commented on #9776
Docker picks up `--cpus` correctly:
<img width="889" alt="image" src="https://user-images.githubusercontent.com/3210701/177562916-5100be97-24fb-4f50-a3eb-7774e49bfa1a.png">

But this entry doesn't get translated to `containerd` resources:
<img width="1433" alt="image" src="https://user-images.githubusercontent.com/3210701/177563126-db948dad-fc8a-4735-b27e-90e9ffcea57e.png">

Looking at the Moby co

[2022-07-06 14:44] MrSimonEmms commented on #11005
I can recreate this, but it requires additional investigation.

I found this error in `image-builder-mk3` pod:

[code]

Also, the `imagebuild` pod is returning `Error from server (BadRequest): container "workspace" in pod "imagebuild-16cd261a-3645-4a86-bafe-caf6e29b3372" is waiting to start: trying and failing to pull image`

My thought is that maybe the work I did in adding the registries to `.ex

[2022-07-06 14:50] loujaybee opened #11180 "Epic: Browser based terminal"
Epic covering the implementation of a terminal in the browser as an explicit IDE preference.

Related to spike: https://github.com/gitpod-io/gitpod/pull/8464

[2022-07-06 15:35] jimmybrancaccio commented on #11005
@MrSimonEmms That is _weird_! I had [someone in Discord](https://discord.com/channels/816244985187008514/991418942629351604/991815568451707050) with that same message and I was so confused as to why it was doing anything with Replicated...

[2022-07-06 15:41] jimmybrancaccio commented on #9310
@lucasvaltl Rather than close the issue, shouldn't we start the process of engaging with Replicated? Even if it's not a high priority for them this issue still stays open and we can note we've at least started the process with them?

Regardless we probably shouldn't close the issue but leave it open as I'm hoping it's something we'd work on (eventually). I would only close it if it's not something

[2022-07-06 15:47] jimmybrancaccio commented on #9307
@MrSimonEmms As noted above I think the issue is when KOTS is checking my controller node which has only 8GBs of RAM. This node is only used as a control-plane node and doesn't not have workspaces / I do not schedule anything to this node. I also just checked and saw that I have none of the 'gitpod' labels added to that node either. I only have the labels added to my other 3 nodes.

So I guess tha

[2022-07-06 16:08] akosyakov commented on #11167
@aledbf @csweichel Could you have a look please at https://github.com/gitpod-io/gitpod/pull/11159#issuecomment-1175834586? I don't think we adjust niceness of right processes.

[2022-07-06 16:11] aledbf commented on #11167
https://github.com/gitpod-io/gitpod/pull/11159#issuecomment-1176411872

[2022-07-06 17:08] #10666 closed

[2022-07-06 17:20] kylos101 commented on #11139
Scheduled. @Furisto is on-call this week, so the earliest he'd get to peek is next week. @utam0k if you get spare bandwidth this week, perhaps you can look? Probably easiest to recreate if you run `watch -n 1 gp top`.

[2022-07-06 18:13] sagor999 commented on #11136
I am personally not quite sure why do we need to be on the bleeding edge of k8s updates. :thinking: Seems like it is just asking for trouble, unless there is some very very specific need (like important security fix or something like that).

[2022-07-06 19:36] MrSimonEmms commented on #9307
I've just looked at the [test](https://github.com/gitpod-io/gitpod/blob/main/install/kots/manifests/kots-preflight.yaml#L195,L213) and it's likely that it's not checking the correct nodes. I'll have a check putting a filter in

[2022-07-06 19:50] fweth commented on #7649
Same with ChromeOS (which is technically Linux, but still wanted to mention).

[2022-07-06 21:11] jldec opened #11182 "Replace 'Company' with 'Company Name' in account profile"
Suggestion based on [feedback](https://gitpod.slack.com/archives/C01KPEPNBD0/p1657041828327789) (internal) to #11023
![Screenshot 2022-07-05 at 16 43 40](https://user-images.githubusercontent.com/849592/177643911-14e9d9d0-e047-4ec2-9ca7-a4849b4a65cf.png)

[2022-07-06 21:47] kylos101 opened #11183 "[content-service] cannot restart stopped workspace"
### Bug description

The full error on start is:

[code]
Logs:
https://cloudlogging.app.goo.gl/82CpwrNzW9oJWX1Q8

Log entry for the error:
https://console.cloud.google.com/logs/query;cursorTimestamp=2022-07-06T11:31:39Z;query=resource.labels.cluster_name%20:%20%2528%22eu51%22%2529%0A%22eb595f2b-7de4-4248-800d-7dfe0280f802%22%0Atimestamp%3D%222022-07-06T11:31:39Z%22%0AinsertId%3D%227hkbcwop4k5qd0t4

[2022-07-06 21:52] filiptronicek commented on #11180
Had the same thought as @felladrin in my head. I think this would make sense and make it clear and expose more users to connecting just to their terminal.

[2022-07-06 22:00] kylos101 commented on #11183
@utam0k is this something you could look at next, once you are free? :pray: It appears to be impacting many users.

[2022-07-07 01:28] jimmybrancaccio opened #11188 "Unable to Start a Workspace Using GitHub or GitLab Wiki Repository"
### Bug description

I am unable to open a new workspace using either a wiki from GitHub or GitLab. I tested with:

- https://github.com/jimmybrancaccio/gitpod-test.wiki
- https://gitlab.com/astuffedtiger/gitpod-test.wiki

Both return that 'the repository was not found'.

<img width="650" alt="Screen Shot 2022-07-06 at 20 22 55PM" src="https://user-images.githubusercontent.com/405585/177669999-c8a

[2022-07-07 02:09] jenting commented on #10531
Since the orphaned PVC appeared if the node be evicated by auto-scaler. Therefore, I'd like to propose Kubernetes controller patten reconcile the PVC, which means to have to persistent_volume_claim_controller to reconcile the PVC, the steps would be
- check the PVC is an orphaned PVC
- If no, do nothing. If yes,
  - create the corresponding VolumeSnapshot object to take the snapshot of the PVC
  -

[2022-07-07 02:23] jenting commented on #9167
/no-stale

[2022-07-07 03:56] shaal commented on #7904
Please add the label `meta: never-stale` to this issue, this issue is still a problem.

[2022-07-07 03:57] shaal commented on #7825
Please add the label `meta: never-stale` to this issue, this issue is still a problem.

[2022-07-07 03:58] shaal commented on #8826
Please add the label meta: never-stale to this issue, this issue is still a problem.

[2022-07-07 04:05] shaal commented on #6421
Please add `meta: never-stale` label to this issue.

[2022-07-07 04:16] sagor999 commented on #10531
hm. if we take volume snapshot, we also need to tell webapp server about it. and there is also a question of potentially overwriting newer volume snapshot for that workspace (example workspace failed, user opened workspace with previous snapshot and did some changes and closed it, and we try to create volume snapshot out of band here we will overwrite newer data).

[2022-07-07 04:17] sagor999 commented on #10531
you said you removed the node and pvc became orphaned.
was it because ws manager was also on that node? if yes, can you try this again with ws manager being on a different node.

[2022-07-07 04:46] jenting commented on #10531
No, the ws-manager is on a different node.

[2022-07-07 05:31] jeanp413 commented on #11076
Fixed in https://github.com/microsoft/vscode/pull/154313 and cherry picked to 1.69 release branch

[2022-07-07 05:31] #11076 closed

[2022-07-07 05:33] axonasif commented on #11170
Hey @kevinadhiguna, can you try opening your workspace on [Desktop VSCode](https://www.gitpod.io/docs/ides-and-editors/vscode)?

[2022-07-07 06:18] utam0k commented on #11183
I couldn't reproduce it with `watch -n1 gp top` on gen52 😭 Maybe it is related the load of the node.

[2022-07-07 06:40] laushinka opened #11189 "Prebuild logs button hidden from view"
[[Internal context](https://gitpod.slack.com/archives/C02SF4A050W/p1656942542481819)]

[2022-07-07 07:12] geropl opened #11190 "BitBucket: implement hasReadAccess"
The method is used to grant access to Prebuilds and Prebuild logs but [not](https://github.com/gitpod-io/gitpod/blob/76b51bc224acab4f17a3894b7343ff62e5e9da7a/components/server/src/bitbucket-server/bitbucket-server-repository-provider.ts#L146-L154) implemented [yet](https://github.com/gitpod-io/gitpod/blob/45f13cf8e9214db664adc23a418e53d92364fbb7/components/server/src/bitbucket/bitbucket-repository

[2022-07-07 07:25] lucasvaltl commented on #9310
👋 Thanks for raising this - currently, we are working under the principle of closing things we are unlikely to do any time soon - but we are happy to reopen them as they become a priority again. This is mostly done to keep the backlog clean and focused in order to facilitate internal team collaboration. Happy to talk about this!

I've started the process with replicated, you can follow along [here

[2022-07-07 07:45] lucasvaltl opened #11193 "Remove Notification Settings for Self-Hosted Users"
## Is your feature request related to a problem? Please describe
Currently, a user of Gitpod Self-Hosted sees the notification settings under the settings tab. However, we do not support sending notifications to or via Self-Hosted instances as of today ([internal conversation](https://gitpod.slack.com/archives/C01LDA27WJC/p1657115455333829))

## Describe the behaviour you'd like
Remove this page f

[2022-07-07 07:51] lucasvaltl commented on #8531
Hey @fritterhoff and @jemand771 - thanks for raising this. I'd like to better understand your use case here.

As of right now, we send two types of email notification - however currently not from self-hosted instances:
- Billing-related: these are not related to Self-Hosted, as billing works differently there - developers using a self-hosted instance are usually not concerned with billing.
- Tips/

[2022-07-07 07:51] #8531 closed

[2022-07-07 07:56] #10465 closed

[2022-07-07 07:57] jemand771 commented on #8531
hmm right, I haven't given too much thought about what I'd actually want to get 😅
I agree that promotional/billing-related emails are probably not relevant for selfhosted instances.
The only option that sounded relevant is "Account Notifications [required] - Receive essential emails about changes to your account"
I didn't really have anything specific in mind for this, I just expected there to be

[2022-07-07 08:02] lucasvaltl commented on #8531
That was a quick response :) If you think of anything feel free to add it into this ticket.

From my side, I thought it might make sense to send emails related to tips around getting the best out of Gitpod. Not something we will likely work on soon, but I think it would be valuable to spread Gitpod usage within an organisation/team.

[2022-07-07 08:22] filiptronicek commented on #11076
Thanks a lot, @jeanp413 🙏

[2022-07-07 08:33] abeluck opened #11195 "Tailscale ssh to a gitpod container: "Unable to change owner or mode of tty stdin: Operation not permitted""
### Bug description

I cannot tailscale ssh into a gitpod container. I've tried several different client devices with the same result.

Authentication via tailscale ssh works, but then the tty cannot be allocated and the process fails with:

`Unable to change owner or mode of tty stdin: Operation not permitted`

I can tailscale ssh into other non-gitpod containers without issue.

### Steps to repr

[2022-07-07 08:36] abeluck commented on #10961
I'm experiencing this issue quite persistently, happy to share my workspaces names via a primate channel if needed.

[2022-07-07 08:39] atduarte commented on #8396
@sigurdkb we are too :) SaaS comes first as it is the best way we have to learn and experiment ourselves, and then help others bring the same experience to Gitpod Self-Hosted.

It would be very valuable to me to better understand your needs. If you are willing, here’s my calendly link: https://calendly.com/andre-gitpod/15-minute-product-feedback

[2022-07-07 09:14] gtsiolis commented on #11182
Things to consider before updating the text label:
1. The term Company is the most common term for an input like this
2. Using short terms when possible is preferred
3. Name could be a bit ambiguous for a text label

Instead we could add a help text as seen in the initial specs, see https://github.com/gitpod-io/gitpod/issues/10999#issuecomment-1170455932.

| Account |
|-|
|  <img width="1440" alt=

[2022-07-07 09:16] phimae commented on #11182
had a short chat with @svenefftinge yesterday who gave some context: GitLab will pass the company domain instead of the name which is why he opted for name in the first place. This field is empty for existing users but will be pre-populated for new users that have the company or company domain property in their SCM

[2022-07-07 09:25] gtsiolis commented on #11182
Thanks, @phimae!

Agree, this makes sense. 💯

Using the domain here could be tricky or confusing to users without using any help text. 💭

Thinking about this again, maybe it could help to also change the text label from _Company_ to _Organization_ to also support institutes, open source orgs[[1](https://www.gitpod.io/for/opensource)], etc.?

[2022-07-07 10:40] loujaybee commented on #9038
https://github.com/gitpod-io/customers/issues/57

[2022-07-07 10:40] loujaybee commented on #9221
https://github.com/gitpod-io/customers/issues/57

[2022-07-07 10:43] loujaybee opened #11199 "Epic: Performance debugging of workspace loading"

[2022-07-07 10:48] filiptronicek opened #11200 "Analytics on `vscode.extensions` inside `.gitpod.yml`"
## The problem
Many users have trouble getting the extensions they are using to VS Code. Therefore, users may choose to install their extensions via URLs leading to their corresponding `.vsix` packages.

If we can get insights into what extensions they are using, we can talk to extension authors to publish to Open VSX to make a better experience.

## Proposed solution
Using the [gitpod-web](https:

[2022-07-07 10:53] loujaybee commented on #11199
CC: @lucasvaltl - I see this as a tool for the installer persona.
CC: @atduarte - Likely a big overlap with workspaces.
CC: @Furisto - Because of: https://github.com/gitpod-io/ops/issues/3070

See also [internal conversation](https://gitpod.slack.com/archives/C01KGM9DVRC/p1657021326559779).

[2022-07-07 11:06] loujaybee opened #11201 "Epic: JetBrains Gateway plugin GA"
Companion to the other JetBrains related work going into Gitpod. This issue only covers the [JetBrains Gateway](https://www.gitpod.io/docs/ides-and-editors/jetbrains-gateway) plugin / integration and **not** the integration with IntelliJ or other IDEs.

Relates to:
- https://github.com/gitpod-io/gitpod/issues/7751
- https://github.com/gitpod-io/gitpod/issues/7956

[2022-07-07 11:43] filiptronicek commented on #11200
Linking [an internal discussion](https://gitpod.slack.com/archives/C01KGM9AW4W/p1657013980441349?thread_ts=1657009367.430579&cid=C01KGM9AW4W).

[2022-07-07 13:32] geropl opened #11203 "TeamSubscriptions UI does not respect: multiple subscriptions with same CB subscriptions, deleted subscriptions"
1. Users are shown `deleted` and active subscriptions side by side
 2. The UI mashes slots from different subscriptions if they stem from the same CB ID.

[2022-07-07 13:40] mrsimonemms opened #11204 "Add analyzer to support bundle for S3 configuration"
A KOTS support bundle analyzer should be added with the following rules:

When using local registry **AND** s3 backend:
Search for `GET / HTTP/2.0" 503` in the logs
Display "Your registry backing is incorrect" and that they should change their S3 URL to "s3.<REGION>.amazonaws.com"

[2022-07-07 13:43] mrzarquon commented on #10790
Talking with @MrSimonEmms it looks like this is hard to detect because it only manifests by how the Registry service talks to S3, other services seem to handle it ok. We can't do things like force an S3 endpoint name based on region since that could block other S3-like endpoints. An analyzer that detects that the registry service is rebooting / falling over (which would then also create the worksp

[2022-07-07 13:45] mrsimonemms opened #11206 "Add documentation about aws s3 region endpoints to KOTS config dashboard"
If using local registry with S3 backend **AND** using a region other than `us-east-1`, the URL must include the region.

For example, for `eu-west-1`, this would be `s3.eu-west-1.amazonaws.com` rather than `s3.amazonaws.com`

**IMPORTANT** this does not affect the main object storage and Minio seems to handle this automatically. Also, we shouldn't amend the preflight check as there are multiple wa

[2022-07-07 14:17] axonasif opened #11207 "Custom fontFamily does not work for Safari browser"
### Bug description

Related:
- https://github.com/microsoft/vscode/issues/125968
- https://github.com/tuanpham-dev/code-server-font-patch

### Steps to reproduce

- Try to use a system installed custom font on `terminal.integrated.fontFamily` or `editor.fontFamily` on your Gitpod VSCode settings.
- Use your workspace on Safari

### Workspace affected

_No response_

### Expected behavior

_No res

[2022-07-07 15:25] amplifications commented on #11188
+1

I am trying a find a solution for this problem too

[2022-07-07 15:58] buggtb opened #11211 "Make subtitles more obvious"
https://www.gitpod.io/docs/command-line-interface#extend

it took me longer than I'd like to admit to realise extend was a subcommand under timeout, it feels like that there should be a great visual difference between titles on a command line doc page.

[2022-07-07 16:10] loujaybee opened #11212 "Infer name from public key uploaded."
Current `title` field in SSH key upload is mandatory, however we can first try to infer the name from the key to avoid a user being required to explicitly name the key.

<img width="499" alt="image" src="https://user-images.githubusercontent.com/5528307/177820871-8d7dbece-ea8e-440b-9585-5194f7adfe59.png">

[2022-07-07 16:16] #10958 closed

[2022-07-07 16:35] incident-io[bot] opened #11214 "Protect users from trying to restart failed workspaces that did not pass initial content-init"
It's possible for a user to try restarting a failed workspace that never successfully started.

When the above happens, we should add metadata to the workspace instance, such that server and dashboard can help the user.

For example, share with the user, that the original workspace never started and is not usable, however, a new workspace is being created given the original context.

----

_This a

[2022-07-07 16:44] incident-io[bot] opened #11215 "Alert when image builds are not ready"
The intent with this alert is to notify the on-call team when image builds are having trouble initializing, which can cause them to linger and never finish.

The phases from ws-manager doesn't necessarily help us here (creating, pending,stopping), so for the time being, we'll want to check if the pods are not ready for a sustained period of time. In other words, we cannot create a regular not acti

[2022-07-07 17:08] schickling commented on #11207
Quick update: I've given the `code-server-font-patch` by @axonasif a try but no luck so far:

![image](https://user-images.githubusercontent.com/1567498/177830858-3f791b4a-6549-426b-b80f-f802c58a8d93.png)

[2022-07-07 21:46] sagor999 commented on #10418
all changes are done in PRs referenced above.
Once all of them are merged, this task can be marked as done.

[2022-07-07 22:47] utam0k commented on #11139
This problem could not be reproduced. Is it still occurring in production?

[2022-07-08 06:23] #11203 closed

[2022-07-08 07:41] utam0k commented on #11183
There really seem to be a few more users with the same error.
https://cloudlogging.app.goo.gl/owK8qukCGMcpkKQk7
![image](https://user-images.githubusercontent.com/13010913/177942565-9aaf6030-c31a-492d-929f-c4923c4f5799.png)

[2022-07-08 07:42] utam0k commented on #11183
I removed the assignee by myself because I'll go into the vacation next week.

[2022-07-08 07:52] #11189 closed

[2022-07-08 08:15] MrSimonEmms commented on #10912
Hi @maratkanov-a, can you have a look at the questions in https://github.com/gitpod-io/gitpod/issues/10912#issuecomment-1171306601 please - that's what I need to get you up and running

[2022-07-08 08:31] kevinadhiguna commented on #11170
Sure I can. I did and it worked normally but why did you recommend to open in Desktop VSCode ?

Is there any difference ?

[2022-07-08 08:41] lucasvaltl opened #11223 "AWS Single Cluster Ref Arch: Create a nice transition to gitpod installation"
Currently, the [AWS single cluster reference architecture](https://github.com/gitpod-io/website/pull/2324) just ends without giving input into what one needs to fill out in the following Gitpod installation to connect said installation to the resources created in the ref arch.

We should change this by exposing the values one would use to connect the created resources to the subsequent gitpod inst

[2022-07-08 08:46] lucasvaltl opened #11225 "Go through PoC ref Arch GCP"
Go through the PoC Ref Arch (GCP) and ensure it works well. Improve anything that can be improved quickly and raise any major things that require more work or thought. Current state is here: https://github.com/gitpod-io/website/pull/2388

[2022-07-08 08:48] lucasvaltl opened #11226 "Adapt PoC Ref Arch to AWS"
Leverage the AWS single cluster ref arch (https://github.com/gitpod-io/website/pull/2324) to create an AWS version of the [PoC Ref Arch ](https://github.com/gitpod-io/website/pull/2388)

[2022-07-08 09:02] loujaybee commented on #8255
Relates to:
- https://github.com/gitpod-io/gitpod/issues/9848

[2022-07-08 09:04] yangbo19 opened #11227 "[JetBrains Gateway Plugin] "TransportException: Timeout expired" on Gateway v2022.1 & "Connect in Browser" button not working Gateway v2022.2"
### Objective

![1657266853848](https://user-images.githubusercontent.com/95022180/177944881-fbc518b3-9cf8-4abb-88e6-fc5e84f40665.png)

[2022-07-08 09:06] Pothulapati commented on #11113
Reoping as we also plan to run the telemetry job once again before the exit.

[2022-07-08 09:07] mustard-mh opened #11228 "All requests from Gateway to server is blocked"
### Bug description

All request from Gateway to server is missing, `sendHeartbeat` not works so that users will get timed out by their default time out duration if they only open JetBrains IDE.

See also user report in [discord](https://discord.com/channels/816244985187008514/994584933265846322), and [internal Chat](https://gitpod.slack.com/archives/C03LKE6AS93/p1657202967512559)

This bug come u

[2022-07-08 10:56] mrsimonemms opened #11233 "Custom CA Cert isn't placed in Blobserve"
### Bug description

When using a custom-generated TLS cert, the CA Cert isn't placed in the blobserve deployment. This results in the workspace not being able to be accessed.

### Steps to reproduce

![image](https://user-images.githubusercontent.com/275848/177979322-7bff9b06-8da5-40ab-a450-a1574f252306.png)

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example

[2022-07-08 12:00] geropl commented on #11172
After checking the logs, we see not a single occurrence of the errors logged above(`hasReadAccess error`). :relieved:

Another hypothesis:
 - this is a BitBucket problem: https://github.com/gitpod-io/gitpod/issues/11190
 - this is a problem with multi-repositories (for whatever reason)

[2022-07-08 12:04] geropl commented on #11172
Dropping for now until we fixed #11190 .

[2022-07-08 13:25] axonasif commented on #11170
It uses SSH and SSH port forwarding to your `localhost` under the hood. So your programs get to fetch stuff for example from `http://localhost:port/stuff` but not the gitpod mapped subdomain that you'd get on Gitpod web.

So, let me reiterate:

there are two things you can do to workaround this until https://github.com/gitpod-io/gitpod/issues/459 is resolved, right now you might be accessing via t

[2022-07-08 13:45] axonasif commented on #11195
While this might be an bug on the Gitpod side, I'd like to encourage you to use the built-in [direct method](https://www.gitpod.io/docs/ides-and-editors/command-line) of SSHing into a Gitpod workspace 😉

[2022-07-08 13:51] geropl commented on #11024
Just checked the logs:
 - there are no entries that the old code path has been taken the last 7 weeks ([link](https://cloudlogging.app.goo.gl/dw3WaSPXLjfpSMp48))
 - there are not entries that deprecating the new path triggered any errors during my manual tests ([link](https://cloudlogging.app.goo.gl/mEmtypK2xeii3kdt6))

Rolled this out to:
 - staging & dev
 - prod: Segment "Gitpod Internal"

[2022-07-08 14:21] #11228 closed

[2022-07-08 15:00] incident-io[bot] opened #11241 "Improve regular not active alert, it should trigger sooner"
We had an incident in production with workspaces staying in not-ready state for a very long period of time even though it was running. We realized this when a client reported the issue.
We need to improve the alerting in cases where regular workspaces are not ready for a very long period of time so the on-call team can catch this early.

----

_This action was created from [Incident 175](https://a

[2022-07-08 15:31] felladrin commented on #11228
ℹ️ The fix has just been deployed to Gitpod servers.

[2022-07-08 15:32] felladrin commented on #11227
ℹ️ The fix has just been deployed to Gitpod servers.

[2022-07-08 16:32] topher200 opened #11243 "`onOpen: open-preview` is not working"
### Bug description

`onOpen: open-preview` in `gitpod.yml` is expected to open a preview of the website served by the port on Workplace startup.

However, no preview is being opened.

### Steps to reproduce

This is broken in Gitpod's example documentation (as well as my own project).

1. Navigate to https://www.gitpod.io/docs/languages/html#try-it
2. Click "Open in Gitpod"

### Workspace affecte

[2022-07-08 18:30] aparedes commented on #5321
This could be a great asset to have in any big company that uses azure and can’t move their code to GitHub.

[2022-07-08 19:56] sagor999 commented on #10961
I think this is webapp related problem due to calling StartWorkspace again. For example, if original request timed out or errored out, server will try again by calling StartWorkspace again. At that point, owner token will be reset and cookie needs to be updated.

Assigning to webapp to investigate further.

[2022-07-08 19:59] sagor999 commented on #10961
Potentially, we could delegate creating ownerToken to server (webapp), that way it will persists between recreate attempts.

[2022-07-08 21:00] kylos101 commented on #10531
Thanks for sharing your [thoughts](https://github.com/gitpod-io/gitpod/issues/10531#issuecomment-1176961344), @jenting  and asking @sagor999 and @aledbf to provide input. :handshake: Have a nice weekend! :wave:

[2022-07-08 21:27] nandajavarma commented on #11241
Adding a bit more context to why we might have received the alert late:
Currently our rule basically is this:
[code]
![grafana png(1)](https://user-images.githubusercontent.com/2624550/178071622-e24082f9-724f-4907-8c09-079164ad23f2.jpg)

Around the time Build one first reported this issue (see [internal](https://gitpod.slack.com/archives/C03145ZD98D/p1657005586660919)) at around 9:15 AM European c

[2022-07-08 21:43] sagor999 commented on #10531
I am curious then how and why did we lose the pod and did not finish PVC backup process.
Since workspace pod should be stuck in terminating until ws-manager will finish back up and only then would remove finalizer.
Maybe we overlooked something in the clean up logic that allows to delete the pod without finishing backup? :thinking:

[2022-07-08 22:36] szab100 opened #11248 "Prebuilds show wrong Pending status while pulling & building image(s)"
### Bug description

Prebuilds show "Pending" status while they are already building the workspace's Dockerfile (basically the docker part), and the output is already being streamed to the UI as well. This phase - depending on the complexity of the used dockerfile & structure of base imgs - can last quite long and apart from the wrong UI messaging, the major issue is that due to this time spend in

[2022-07-09 05:33] yangbo19 commented on #11227
May be that I still don't know how to solve it.

[2022-07-09 12:59] felladrin commented on #11227
@yangbo19 are you still having this issue? If so, could you provide more details about what's happening?

Also please check this topic:

- [What should I do if JetBrains Gateway and Gitpod aren’t working?](https://www.gitpod.io/docs/troubleshooting#what-should-i-do-if-jetbrains-gateway-and-gitpod-arent-working)

Cause it could be related to your Gateway or Plugin being out of date.

[2022-07-09 13:12] felladrin commented on #7293
I suggest we change the title of this issue to the same used on the issue @jeanp413 created.
- https://github.com/microsoft/vscode/issues/139674

[2022-07-09 13:32] jayhale commented on #965
Has this been reconsidered since 2020?

It seems reasonable that paid users would have control over outgoing networking, given app development almost always depends on external services.

[2022-07-09 15:16] ChristianHuff-DEV commented on #6900
Looks like the issue was resolved and released. Can you share an estimate when someone is gonna take another look at this?

[2022-07-09 17:32] david-bakin commented on #7592
When implemented it the gitpod env vars including user defined env vars (incl per project env vars) should be part of the cache key.  So you could pass an env var (either set in the gitpod settings or via URL) and have that effect the dotfile execution.  See for example the discussion at https://discord.com/channels/816244985187008514/839379835662368768/995280980812255322

[2022-07-10 05:05] shesek commented on #11243
I'm experiencing the same issue.

[2022-07-10 05:48] #8731 closed

[2022-07-10 05:48] #7856 closed

[2022-07-10 05:48] #8423 closed

[2022-07-10 05:49] #8966 closed

[2022-07-10 05:49] #5878 closed

[2022-07-10 05:49] #8066 closed

[2022-07-10 05:49] #8647 closed

[2022-07-10 05:49] #8928 closed

[2022-07-10 05:49] #8929 closed

[2022-07-10 05:49] #7092 closed

[2022-07-10 05:49] #7723 closed

[2022-07-10 05:49] #8939 closed

[2022-07-10 05:49] #8838 closed

[2022-07-10 05:50] #8352 closed

[2022-07-10 05:50] #8855 closed

[2022-07-10 17:03] dragonDScript commented on #6967
+1 to never-stale

[2022-07-10 17:21] david-bakin commented on #5705
@axonasif - any chance to mark this "never stale"?

[2022-07-10 21:23] laushinka opened #11257 "Have skateboard of table with dummy data"

[2022-07-10 23:53] #8834 closed

[2022-07-10 23:54] #8557 closed

[2022-07-11 00:27] andrewsanchez commented on #7306
This had me scratching my head for awhile.  For a requirements file that uses a base requirements file (i.e., with  `-r base.txt` at the top of `dev.txt`):

[code]

[2022-07-11 00:39] #11241 closed

[2022-07-11 03:02] jeanp413 commented on #9235
Moved to https://github.com/gitpod-io/gitpod-vscode-desktop

[2022-07-11 03:02] #9235 closed

[2022-07-11 03:02] jeanp413 commented on #9236
Done https://github.com/gitpod-io/gitpod-vscode-desktop/actions

[2022-07-11 03:02] #9236 closed

[2022-07-11 04:40] yangbo19 commented on #11227
Thank you for your help.I face another question.
![1657514222197](https://user-images.githubusercontent.com/95022180/178189474-faf862ec-8371-4b78-ada4-31cfb60b97d7.png)
![1657514248366](https://user-images.githubusercontent.com/95022180/178189513-472c20da-57f3-43c8-bca9-52f485db5733.png)
I switched to this version.

[2022-07-11 05:57] Pothulapati opened #11259 "[local-preview] Differentiate btw `starting` and `running`"
## Is your feature request related to a problem? Please describe

Currently, It takes a while before Gitpod is ready even though
the status says `Gitpod is running` as its not checking for
readyness. This could be misleading for users.

## Describe the behaviour you'd like

Instead, Differentiate btw `starting` and `running`. Show appropriate
messages based on the status.

## Describe alternatives

[2022-07-11 06:16] jenting commented on #10531
According to the [autoscaler doc](https://github.com/kubernetes/autoscaler/blob/8c27f76/cluster-autoscaler/FAQ.md#what-types-of-pods-can-prevent-ca-from-removing-a-node) and the [PR](https://github.com/gitpod-io/gitpod/pull/4822), we use the annotation
`"cluster-autoscaler.kubernetes.io/safe-to-evict": "false"` to prevent the autoscaler scaling down the node.

Therefore, the node shouldn't be remo

[2022-07-11 07:05] #11257 closed

[2022-07-11 07:27] mustard-mh commented on #9201
I thought this issue has been fixed in that PR #8783 with line https://github.com/gitpod-io/gitpod/pull/8783/files#diff-f7dcb26962daf6bfdfa64d5694b28c680f2c2832943a8c6e858ba10fa50c1491R28

|Screenshot with stable IntelliJ|
|-|
|<img width="450" src="https://user-images.githubusercontent.com/20944364/178210833-24234274-bfe5-4b8b-8dbd-6aad642f4317.png" />|

[2022-07-11 07:30] mustard-mh commented on #9201
Not sure if we are going with it, since we have `alert` to notify users that the current IDE is latest/unstable below.

Feel free to reopen it

[2022-07-11 07:56] felladrin commented on #11227
That's right! You need to log in to Gitpod from the JetBrains Gateway. So clicking "Connect in Browser" should lead you to the Gitpod page, where you log in and authorize JetBrains Gateway to use your account. It's needed, to have access to your workspace list and start new workspaces.

Let us know if the login works.

[2022-07-11 08:10] #11259 closed

[2022-07-11 08:11] yangbo19 commented on #11227
I have clicked, but nothing happens.Do you have any idea?Thank you.

[2022-07-11 08:13] felladrin commented on #11227
Let me try to reproduce the issue here.

[2022-07-11 08:15] yangbo19 commented on #11227
What can I do for you ? Thank you for your help.

[2022-07-11 08:52] loujaybee opened #11263 "Workspace "about to" timeout prompt"
### Context

A challenge we have with workspace timeouts is often that users are using the workspace, but are: pre-occupied with some other work on their computer, or are performing some actions that aren't necessarily detected by the timeout logic, e.g. testing an application running on a port, or using some client connected via SSH.

Whilst we continue to improve the workspace timeout logic, imp

[2022-07-11 09:37] geropl opened #11265 "db-sync fails to sync SSHPublicKeys"
([internal discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1657196064801199?thread_ts=1657183128.463369&cid=C02EN94AEPL))

For unknown reasons db-sync refuses to insert public SSH keys. We have to find the offending query (e.g. by using staging) and understand what MySQL does not like about it.)

[2022-07-11 10:01] loujaybee opened #11266 "SSH tips & tricks"
In https://github.com/gitpod-io/website/issues/2371 we covered some of the basics of SSH access.

However, we should cover the additional topics that can help users:

1. Improving your security with a dedicated key
2. Setting up the SSH Agent
3. Allowing specific hosts

Similar to: https://code.visualstudio.com/docs/remote/troubleshooting

[2022-07-11 11:13] geropl commented on #11265
That sounds unrelated. Here the effect would be: If I connect to US cluster and store a secret, I cannot use it in the EU cluster.

[2022-07-11 11:16] felladrin commented on #11227
I've cleaned my JetBrains Gateway install and re-installed it from scratch, and it's working. These were the steps from me:

Installed the Gateway.
<img width="912" alt="image" src="https://user-images.githubusercontent.com/418083/178251982-8a5cb249-dbfb-4f92-b5bf-81a6f5d43805.png">

Clicked to install the Gitpod Extension.
<img width="912" alt="image" src="https://user-images.githubusercontent.co

[2022-07-11 11:16] felladrin commented on #11227
Could you please confirm also if you're using the latest Gitpod Plugin version?

If not, you'll see it asking for you to update it on JetBrains Gateway _Preferences >> Plugins_, like this:
<img width="978" alt="image" src="https://user-images.githubusercontent.com/418083/178250186-a0bce14a-2496-4840-986a-626ded8a0ccd.png">
If that's the case, update and let us know if it works.

[2022-07-11 11:19] lucasvaltl commented on #7316
Closing this as we fulfilled the acceptance criteria - we are running nightly tests on 4 platforms :)

[2022-07-11 11:19] #7316 closed

[2022-07-11 11:29] MrSimonEmms commented on #11106
I can't recreate this, but weirdly I could when I initially raised this ticket. I've tried it against the current version in `main` and also the [June release](https://github.com/gitpod-io/gitpod/releases/tag/2022.06.0) without success.

I'll add this as a specific unit test, but I think that's the best I can do in this

cc @mrzarquon

[2022-07-11 11:31] ChakshuGautam opened #11267 "Custom Headers"
## Is your feature request related to a problem? Please describe
Adding custom headers similar to how it is done for any reverse proxy. An example would be adding custom auth headers when developing applications. An alternative is to have a reverse proxy (like an nginx) in front of the application but since Gitpod is already proxying requests, it is best suited to have it in the same layer.

## De

[2022-07-11 11:39] nandajavarma commented on #11092
Fixed by #11093

[2022-07-11 11:39] #11092 closed

[2022-07-11 11:45] lucasvaltl commented on #11027
Closing this in favour of https://github.com/gitpod-io/gitpod/issues/10620 - will create separate new issues for this.

[2022-07-11 11:45] #11027 closed

[2022-07-11 11:46] lucasvaltl opened #11269 "Automated testing with S3 backed in-cluster registry"

[2022-07-11 11:46] lucasvaltl opened #11270 "Automated testing with Self-signed certs"
Add the ability to test with self-signed certs for our automated testing setup for Self-Hosted

[2022-07-11 11:46] lucasvaltl opened #11271 "Automated testing using Airgapped bundle"
Add ability to test airgapped for our automated testing set up

[2022-07-11 11:46] lucasvaltl opened #11272 "Customise operating system images - test on specific ubuntu version"

[2022-07-11 11:46] lucasvaltl opened #11273 "Visualisation for automated (self-hosted) failed tests for other teams"

[2022-07-11 11:46] lucasvaltl opened #11274 "Work with other to expand what they test"
This is driven by automated testing for self-hosted, by will also apply to anything that uses our integration tests

[2022-07-11 11:46] lucasvaltl opened #11275 "Self hosted automated tests with test customisation patch"

[2022-07-11 11:48] lucasvaltl opened #11276 "Fix certificate rotating with self-hosted automate testing to not run out of certs"

[2022-07-11 11:48] lucasvaltl opened #11277 "Clean up old self-hosted preview environments"

[2022-07-11 11:48] lucasvaltl opened #11278 "Implement basic cost management for automated testing cloud projects"

[2022-07-11 11:48] lucasvaltl opened #11279 "Example directories showing how to use self-hosted Terraform modules"

[2022-07-11 11:48] lucasvaltl opened #11280 "Create issues with tasks required to align terraform to ref arch for all existing cloud providers"
## Related Issues
- https://github.com/gitpod-io/gitpod/issues/11480

[2022-07-11 11:48] lucasvaltl opened #11281 "Research ways to maintain the reference architecture and terraform modules in Sync, and easy way to get to one from the other"

[2022-07-11 12:02] atduarte commented on #11267
Hi @ChakshuGautam! Thanks for the suggestion. As you mentioned you can do this by adding the headers yourself (potentially via proxy), and would prefer to keep it that way to keep the .gitpod.yml as simple as possible and focused on what can't be done otherwise. We may make exceptions to the rule when a change benefits the experience of a large number of users, but at the moment I don't have that

[2022-07-11 12:09] #11106 closed

[2022-07-11 12:16] felladrin commented on #10926
Partially fixed by https://github.com/gitpod-io/gitpod/pull/11117, and I noticed we have another issue to keep track of the nightly job: https://github.com/gitpod-io/gitpod/issues/11120 - so I'm going to close this one in favor of the other.

[2022-07-11 12:17] yangbo19 commented on #11227
Thanks for your help again!
![1657541577743](https://user-images.githubusercontent.com/95022180/178261575-cbc992d2-e0cd-43d6-84af-45510aeab30b.png)
But when I clicked connect to Browser,still nothing happen.
![1657541697720](https://user-images.githubusercontent.com/95022180/178261902-400d5eff-0e8f-4808-946e-9bc9a7e9604b.png)
Do you support its use in China?

[2022-07-11 12:25] felladrin commented on #11227
Maybe it's some conflict or cache with the account logged in the browser.

Could you try accessing https://gitpod.io/workspaces, logging out, and then clicking the "Connect in Browser" button?

Then, clicking on the button should lead you to this page:
<img width="1014" alt="image" src="https://user-images.githubusercontent.com/418083/178263401-60fa9989-0890-41e2-a236-4c022ea070a3.png">

Is this w

[2022-07-11 12:35] yangbo19 commented on #11227
I am soory that this method didn't work.I use github.
![1657542847077](https://user-images.githubusercontent.com/95022180/178265314-64ca47f2-e6a5-4d04-8289-2063680b5e8a.png)
I used gitpod this way before.

[2022-07-11 12:39] felladrin commented on #11227
Another thing I've noticed:

If you click the "Connect in Browser" button and it opens the login page, but right after you close the browser page (without logging in), if you click the "Connect in Browser" button again, it will do nothing (because it's still waiting for the response from the page that was closed).

And the only way to make the button work again is to close JetBrains Gateway app, r

[2022-07-11 12:39] akosyakov commented on #11265
@mustard-mh I don't see https://github.com/gitpod-io/gitpod/blob/cf7d6de5b03e39dadb4f1c5bd18d3fb1b9237585/components/gitpod-db/src/typeorm/entity/db-code-sync-resource.ts#L47 on DBUserSshPublicKey

@geropl Is it not necessary anymore?

[2022-07-11 12:41] geropl commented on #11265
It's not technical necessary, but good practice to try to keep TS and SQL in sync.

[2022-07-11 12:43] jenting commented on #10211
I use this [folder](https://github.com/gitpod-io/gitpod/blob/main/install/tests) to bootstrap an EKS cluster and follow the notion doc `Getting started with self hosted - AWS`.

I could bootstrap the AWS EKS cluster, install the snapshotter CRD and snapshot controller, and [aws-ebs-csi-driver](https://github.com/kubernetes-sigs/aws-ebs-csi-driver).

When requesting the volume from PVC, however, I

[2022-07-11 12:57] yangbo19 commented on #11227
I restarted my machine.It still didn't work.

[2022-07-11 12:58] akosyakov commented on #11265
@geropl @mustard-mh Can we verify somehow that all necessary db sync indexes are in place in production database?

[2022-07-11 12:59] yangbo19 commented on #11227
But I really appreciate your help.

[2022-07-11 13:24] felladrin opened #11284 ""Connect" button on Gitpod Workspaces list in JetBrains Gateway points to a URL that may be outdated"
### Bug description

"Connect" button on the side of each workspace name on the list of workspaces leads to outdated workspace URLs (e.g. `https://gitpodio-empty-z3ml0fq4itx.ws-eu51.gitpod.io/`) when it should lead to `https://gitpod.io/start/#gitpodio-empty-z3ml0fq4itx`.

![image](https://user-images.githubusercontent.com/418083/178271687-799a6660-6f33-49c9-a4f1-3c3ab66e3f96.png)

<img width="796

[2022-07-11 13:43] akosyakov commented on #11200
To be clear it is important for VS Code Desktop, not VS Code Browser. I think we need to add analytics in our validation logic in shared package in case of ui kind is desktop.

[2022-07-11 13:54] gtsiolis commented on #9201
Thanks, @mustard-mh! This issue is mostly about label button structure as well as slightly related to https://github.com/gitpod-io/gitpod/pull/9883 (Cc @ghuntley @loujaybee), https://github.com/gitpod-io/gitpod/pull/8464 (Cc @filiptronicek @felladrin), and https://github.com/gitpod-io/gitpod/issues/6910.

To better visualize the issue here, let me add below two screenshots of the button when using

[2022-07-11 14:09] gtsiolis commented on #8352
Looping in @jankeromnes @geropl @jldec in case we need to keep this issue open or open any follow up smaller issues with more concrete action items.

[2022-07-11 14:22] jldec opened #11285 "[UBP] Team usage view - Iterate based on designs"
Following up from recent PR #11257 - (screenshot 👇 )

| current | [latest figma designs](https://www.figma.com/file/3fdBIQangZxnOPm35uWJZX/Team-usage-view---Iterate-on-UI-based-on-designs%2C-feedback-%2311285?node-id=1274%3A8041) 🥯 |
| ------- | -------- |
| ![Screenshot 2022-07-11 at 15 29 00](https://user-images.githubusercontent.com/849592/178288039-d4686925-c042-4e9b-880a-eb485897b895.png) | <

[2022-07-11 14:25] akosyakov commented on #11227
@yangbo19 Please make sure to follow https://www.gitpod.io/docs/troubleshooting#gitpod-logs-in-jetbrains-gateway 🙏

[2022-07-11 14:28] svenefftinge commented on #3966
Adding it to `tasks` is problematic as those terminals might not even exist anymore or waiting for a command to return.
Also, this would make the time when such a command is executed a little fuzzy (before all terminals stop or one by one?).
So I think we should introduce a top-level hook for this:

[code]

[2022-07-11 16:20] jimmybrancaccio opened #11289 "Failure to Update From main.3555 To Build With fluent-bit"
### Bug description

I brought my old Gitpod install online last week and was able to get it updated from the April 2022 release to `main.3555`. Whenever I try to go to a build where `fluent-bit` is it fails with:

[code]

@MrSimonEmms and I tried to get it working but were unable too. We did `helm -un gitpod fluent-bit`, but that didn't work. We also tried updating to the June 2022 release but th

[2022-07-11 16:22] felladrin commented on #11227
We've received the logs @yangbo19, thanks for sending them.
It seems it's being blocked from your network. You mentioned it was working before, right?
Do you remember when the connection through JetBrains Gateway worked last time?
Was there some notable change on your network/firewall meanwhile?

[2022-07-11 16:45] felladrin opened #11291 "Refactor the Gitpod Server Launcher [Follow-up from #11232]"
To [fix the issue about JetBrains IDEs not signaling heartbeats](https://github.com/gitpod-io/gitpod/pull/11232), we've brought back code from a previous implementation. Now that we confirmed the problem is fixed, we need to [refactor the solution](https://github.com/gitpod-io/gitpod/pull/11232#discussion_r917586352) to avoid duplicated code and ensure it's covering all connection cases.

Also, we

[2022-07-11 19:35] sagor999 commented on #10531
that is a good test, as I think in this case we still should be able to backup PVC correctly.
Pod should be stuck in terminating state (because of finalizer) even if node was deleted. Or am I wrong here?

[2022-07-11 20:06] #11243 closed, assigned to mustard-mh

[2022-07-11 20:33] mustard-mh commented on #11243
Fixed and deployed to production

[2022-07-11 21:39] sagor999 opened #11294 "Need alert when node is having high % of failed workspaces on it"
Sometimes in SaaS nodes go bad.
Usually it manifests with high % of failed workspaces on that specific node only.
Example:
https://cloudlogging.app.goo.gl/TDbHWN9dZNRw6Dmk7
A lot of failures happened on one specific node

We need to have an alert for this so that we can proactively cordon that node and investigate as part of on-call.

[2022-07-12 01:32] andreafalzetti commented on #11179
Just experienced this. In my case, my `.gitpod.yml` was entirely commented out. The error in this case is: `Invalid gitpod.yml: should be object`

At every click to "Continue with default configuration", the request to `server` seems to include the right props:

[code]

However, `forceDefaultConfig` seems to be ignored by `server` 🤔

I had a quick look but I couldn't find anything obvious.

[2022-07-12 02:11] yangbo19 commented on #11227
I used JetBrains Gateway first time.I just downloaded it and installed gitpod.I didn't do other things.

[2022-07-12 02:50] jeanp413 opened #11296 "Verify Gitpod token in vscode-desktop is valid"
### Bug description

It's possible the Gitpod token that's stored in VSCode desktop could be deleted from the DB, so it's no longer valid and then trying to use internal API will fail.

Context https://gitpod.slack.com/archives/C02JV0QE45S/p1657089277877499

[2022-07-12 03:16] jeanp413 opened #11297 "Investigate why bash terminal take a long time to be ready"
### Bug description

Sometimes bash terminal takes a long time to be ready, so you end up in an empty view without the terminal prompt, pressing `Ctrl+C` makes the terminal prompt appear instantly but that should not be the case

Context https://gitpod.slack.com/archives/C01KGM9BH54/p1656962633894229

[2022-07-12 06:11] iQQBot opened #11299 "Cannot execute `mount --make-rshared /` in ubuntu base docker image"
### Bug description

When you run `mount --make-rshared /` in ubuntu base docker, it will return `mount: /: permission denied.`

[code]

### Steps to reproduce

start container: `docker run -it  --privileged --rm ubuntu`

in container: `mount --make-rshared /`

### Workspace affected

_No response_

### Expected behavior

should success

### Example repository

_No response_

### Anything else?

_

[2022-07-12 06:32] lucasvaltl opened #11301 "Local Preview Telemetry: Beginning of Installation"
## Is your feature request related to a problem? Please describe
For the local preview installation method we want to not only know how many users successfully installed it, but also how many tired in order to get an understanding of the success rate. This helps us understand how complicated or easy it is to install, and can potentially be used to measure the impact of any improvements.

## Descri

[2022-07-12 06:36] #11297 closed

[2022-07-12 06:54] jenting commented on #10531
The workspace pod in `Terminating` state, but the `status.containerStatuses.state` is in `running` state.
[code]

So, the [code](https://github.com/gitpod-io/gitpod/blob/004c0bc54bf97ff02886b4cc07d4dd27c8fd76e6/components/ws-manager/pkg/manager/monitor.go#L448) does not be executed. No VolumeSnapshot object be created if we enable the PVC feature flag, as well as no backup file upload to GCS if we

[2022-07-12 07:02] Pothulapati opened #11303 "[local-preview] Reduce resource usage"
## Is your feature request related to a problem? Please describe

While `local-preview` is for users who want to try Gitpod locally, it may not be as accessible yet
because there hasn't been work done to make it as light as possible. There are a bunch of obvious
 improvements that can be done:

- [x] Remove `cert-manager` dependency https://github.com/gitpod-io/gitpod/pull/11412
- [x] Reduce PVC s

[2022-07-12 07:55] jldec commented on #8385
@gtsiolis, I'd prefer to keep this Epic open since we still have 2 incomplete tasks - they're just not scheduled for immediate implementation.

[2022-07-12 07:59] gtsiolis commented on #8385
Sounds good, @jldec! Your call. 🏀

Just wanted to make to bring some visibility to these new follow-up issues.

[2022-07-12 08:00] jldec commented on #10997
Icebox area = Dashboard

[2022-07-12 08:16] gengjiawen commented on #9283
not stale

[2022-07-12 08:31] felladrin commented on #11227
@yangbo19, thanks for confirming. I believe this issue is due to network blocking, so I'd like to ask if you're using a VPN, and if not, would you be able to use one for us to confirm if it would solve the problem?

[2022-07-12 08:49] easyCZ commented on #10985
In https://github.com/gitpod-io/gitpod/pull/11043, we've added configuration to price different classes differently. The remaining work is to expose the WorkspaceType in the results. To do this, we'll need to join WorkspaceInstances with Workspaces.

We'll need to something like the following query to get the:
[code]

[2022-07-12 08:59] lucasvaltl opened #11305 "Preflight Check for SSH Gateway"
## Is your feature request related to a problem? Please describe
Currently, it is easy to miss the fact in the UI that you need check a box to enable SSH gateway.

## Describe the behaviour you'd like
- A preflight check that checks wether the box was ticket. If unticket, it should show a _warning_ that states that SSH gateway is not configured, and that this will mean that desktop IDEs will not w

[2022-07-12 09:08] sheffier commented on #10650
Really expecting to try GPU support! please ping me as soon as it can be tested

[2022-07-12 09:09] akosyakov commented on #11284
@felladrin We should align the logic here with dashboard. Just using start page is not enough, since it is another flow. IDE url in most case is the best option. I think it happens only when the cluster is gone. cc @aledbf @kylos101 correct?

[2022-07-12 09:10] #9248 closed

[2022-07-12 09:35] kevinadhiguna commented on #11170
Thank you @axonasif , but what if I already have an image in `.gitpod.yml` ?

[code]

How do I add `image: gitpod/workspace-full-vnc` ?

[2022-07-12 09:38] jenting commented on #11067
The problem is not we configure it at a project level, the root cause is that we use the wrong syntax for listing values

[code]

was
[code]

is
[code]

[2022-07-12 09:38] #11067 closed

[2022-07-12 09:42] andrew-farries commented on #10323
We decided:

1. Store usage data in a new table in the existing db, called `workspace_instance_usage` or similar. This will have fields: `instanceId`, `attributionId`, `startTime`, `stopTime`, `creditsUsed` and some kind of `generationId` to show the last report in which the instance appeared.

2. Separately, we would also like to persist the raw usage report (as json), possibly using `content-ser

[2022-07-12 09:47] pawlean commented on #11170
You configure it in the `.gitpod.Dockerfile` itself, see documentation [here](https://www.gitpod.io/docs/config-docker#configure-a-custom-dockerfile).

[2022-07-12 09:48] ynedelec commented on #10805
Hi,
This would be very, very valuable to us.

Without diving into too much details, our data scientists would use Gitpod for both software development and exploratory analysis. While the former doesn't require high specs environments, the later could have drastically different needs in term of CPU or RAM.

This is why having the possibility to trigger Gitpod workspaces with different specs is a re

[2022-07-12 09:55] geropl commented on #10323
That sounds good to me. I'm not sure we need 2. (the document store), though, but happy to learn about the motivation once we ticked 1.

Regarding the schema: I did not check all fields, but even given a `generationId`, a `generationTimestamp` or so would greatly help with debugging, at the very least.

[2022-07-12 10:12] mrsimonemms opened #11308 "[KOTS]: add ability to use custom workspace image stored in different private registry"
## Is your feature request related to a problem? Please describe

Whilst working with @nandajavarma on custom workspace images, we discovered that you can use a private image but that it **MUST** be in the same registry as the workspace images are being stored in.

## Describe the behaviour you'd like

 - Add "advanced" option in KOTS
 - Add option for "default workspace image" (defaulting to `git

[2022-07-12 10:19] Pothulapati opened #11309 "[local-preview] Add Arm (and Mac M1) support"
## Is your feature request related to a problem? Please describe

Currently, `local-preview` does not work on Arm platforms including Mac M1. There seems
to be a couple of reasons why
- Support for `k3s` inside a docker container (Looks like we have to upgrade our `k3s` to latest)
- Get our docker images built for `arm` platform

Doing the above things, Might also add support other devlces like ra

[2022-07-12 11:20] jldec commented on #10481
This is the expected behavior for students not on the GitHub student plan.

[2022-07-12 11:20] #10481 closed

[2022-07-12 12:17] geropl opened #11315 "[chore] Get rid of WorkspaceType "probe""
This includes:
 - shipping a migration to delete it from all installations
 ´´´
SELECT COUNT(1)
FROM d_b_workspace AS ws
WHERE ws.type = 'probe';
´´´
   still reveals a couple of instances
 - find last usages and types in code and remove those as well

[2022-07-12 12:25] lucasvaltl opened #11316 "[local-preview] Better messaging in CLI output on Limitations and Next steps"
## Is your feature request related to a problem? Please describe
We want to be very explicit about what the local preview can and cannot do. We will do this in our documentation, however not everyone reads this.

## Describe the behaviour you'd like
As such, we should also use the CLI output as a tool to:
- Make clear what the limitations are (performance, missing features)
- What to do abot this

[2022-07-12 12:26] saravanakumarthamilselvi commented on #9069
hi , same issue here. But difference is its not random . Not even successfull in creating the workspace once

[2022-07-12 12:30] gtsiolis commented on #9069
Thanks for chiming in, @CompeyDev! 🙏

Also, @saravanakumarthamilselvi opening a [new bug report](https://github.com/gitpod-io/gitpod/issues/new?assignees=&labels=type%3A+bug&template=bug_report.yml) describing what you see could really help. Comments on closed issues can easily go unnoticed. 💡

[2022-07-12 13:00] yangbo19 commented on #11227
![Uploading 1657630765629.png…]()
This is link.

[2022-07-12 13:26] jenting opened #11318 "[Get rid of OTS] Add an integration test for protected_secrets feature flag"
## Is your feature request related to a problem? Please describe
Add integration for the protected_secrets feature flag.

## Describe the behaviour you'd like

Have an integration test for the protect_secrets feature flag, it'd be good to test both public and private repo is able to launch a workspace and stops the workspace where the context is a private Git repo (not a prebuild).

## Describe al

[2022-07-12 15:11] sheldonhull commented on #5321
It’s also important to note the initial buzz was that Azure Devops was on a slow decline and would be phased out. I think the initial impression was inaccurate or the vision for it shifted as there is no real deprecation of the product and it’s used by many enterprises. This market is missed by Codespaces right now as well.

[2022-07-12 15:48] beriberikix commented on #5814
VSCode recently introduced a way to allow WebUSB from webviews - see https://github.com/microsoft/vscode/pull/152310 & https://github.com/thegecko/webusb-web-extension. Does this carry through to Gitpod as well?

[2022-07-12 15:48] #11299 closed

[2022-07-12 17:16] jimmybrancaccio commented on #11097
Customer (`cnv_jisdoqy`) experienced this issue today.

[2022-07-12 17:17] jimmybrancaccio commented on #8420
This would have been helpful to have had when working on (`cnv_jisdoqy`) in Front.

[2022-07-12 17:50] sagor999 commented on #10531
oh. that is quite interesting state.
can you check ws-daemon and ws-manager logs to see why it did not send terminate state into pod? :thinking:

[2022-07-12 20:57] kylos101 opened #11327 "[server] consider avoiding retry of StartWorkspace"
### Bug description

[This prebuild instance ID](https://cloudlogging.app.goo.gl/CC24SNiH529cQfAD9) was attempted to be started five times, which appears to be coming from `ws-manager-api`, and may be coming from [here](https://github.com/gitpod-io/gitpod/blob/main/components/ws-manager-api/typescript/src/promisified-client.ts#L111).

### Steps to reproduce

Try doing in a preview environment wher

[2022-07-12 21:16] kylos101 commented on #11284
@felladrin what is the first picture of? Is it the Gitpod Dashboard page, or some local JetBrains Gateway showing old workspaces?

@akosyakov assuming you can be certain the workspace is not running (or starting or stopping) and is truly off, I agree, you should link to something like `https://gitpod.io/start/#<WORKSPACE_ID>`.

[2022-07-12 21:47] blueberrymuffin3 opened #11328 "Gitpod self-hosted does not allow access to SharedArrayBuffer"
### Bug description

Gitpod self-hosted adds the "cross-origin-opener-policy: same-origin-allow-popups" header to workspaces, which breaks apps that use SharedArrayBuffer.
The header is added here: https://github.com/gitpod-io/gitpod/blob/aa2c51c80405c1d2da0d58840c27fa7fd0bb746b/components/proxy/conf/Caddyfile#L49-L56

For some reason, this doesn't seem to affect gitpod.io

### Steps to reproduce

[2022-07-12 22:35] bitsnaps commented on #70
If this feature is not possible to implement, consider [converting a github gist to repo](https://gist.github.com/ishu3101/830b556b487de5d69690) then push it to a Gitpod.
I'm not sure what would be the best possible way to automate this action though!

[2022-07-13 06:32] loujaybee opened #11335 "Epic: Resource Usage (Billing) Public APIs"
This issue is for public APIs that allow the viewing of usage data.

* Workspace minutes used
* Workspace starts
* Breakdowns per user/team
* Prebuild minutes

**Relates to:**
- https://github.com/gitpod-io/gitpod/issues/10798
- https://github.com/gitpod-io/gitpod/issues/10427
- https://github.com/gitpod-io/gitpod/issues/9036
- https://github.com/gitpod-io/gitpod/issues/10798
- https://github.com/

[2022-07-13 07:33] jenting opened #11336 "We did not backup content when the node goes to NotReady + Pod goes to Terminating"
### Bug description

We did not backup content when the node goes NotReady and the workspace Pod is terminating.

### Steps to reproduce

1. Create 2 nodes, 1 control plane node, 1 worker node (using the workspace-preview).
2. Launch a workspace, and the workspace Pod should be located on the worker node 🙏 .
3. Stop the worker node by disabling the k3s-agent `systemctl disable k3s-agent`.
4. Waits

[2022-07-13 07:37] atduarte commented on #11336
Is this with PVC or object storage?

[2022-07-13 07:44] jenting commented on #11336
Both!

[2022-07-13 07:58] #9307 closed

[2022-07-13 08:38] svenefftinge opened #11339 "Add Phone Verification for new Users"
In order to reduce the ever increasing amount of abuse on Gitpod, we'd like to make it hard for such people to get onto Gitpod. The hypothesis is that phone number verification would add an extra step that can reduce the amount.

The verification should happen before after signup but before they can start their first workspace. We could further reduce the friction for good users by whitelisting ba

[2022-07-13 08:53] gtsiolis commented on #11339
Cross-posting also some [relevant meeting notes](https://www.notion.so/gitpod/Product-Sync-d646bfe174284af98fd4397ad9145f94#47b55951499048179146b0fde48c171e) (internal) and two relevant RFCs[[1](https://www.notion.so/gitpod/02991a4e1d214b2a9325969b1c9acdfe)][[2](https://www.notion.so/gitpod/c472058591af4e57b2497a5b6ebc67cd)] (internal).

[2022-07-13 09:01] jenting commented on #10531
From my observation, the [code](https://github.com/gitpod-io/gitpod/blob/004c0bc54bf97ff02886b4cc07d4dd27c8fd76e6/components/ws-manager/pkg/manager/monitor.go#L448) does not be executed. I created a new [issue](https://github.com/gitpod-io/gitpod/issues/11336) for this case (not orphaned PVC).

[2022-07-13 09:19] jenting commented on #10531
Okay, so my next thing is to find a way to make the orphaned PVC happen.

[2022-07-13 09:21] nandajavarma commented on #10600
Closing this in favor of #11272

[2022-07-13 09:21] #10600 closed

[2022-07-13 09:44] geropl opened #11340 "Add more spam email providers to our blocklist"
Internal slack discussion:
https://gitpod.slack.com/archives/C02EN94AEPL/p1657573835161229

From @svenefftinge:
We have `EmailDomainFilterDB` for this already.

Consensus from slack thread was to maintain our own list of those throw away domains. Maybe we need a how-to document in notion on how to add new domain to that list?

---
:point_up:  copied from original issue created by @sagor999 in anot

[2022-07-13 10:57] MrSimonEmms opened #11344 "Get requirements for meta/IDE nodes"
Establish requirements for the meta/IDE nodes from the @gitpod-io/engineering-webapp and @gitpod-io/engineering-ide teams in the same way we have requirements for Workspace nodes (4vCPU/16GB RAM).

In lieu of any firm requirements, suggest 2vCPU and 4GB RAM

/cc @gitpod-io/platform

[2022-07-13 11:42] #11291 closed

[2022-07-13 12:33] MrSimonEmms opened #11347 "Create KOTS preflight checks"

[2022-07-13 12:49] MrSimonEmms commented on #11328
Hi @blueberrymuffin3, I can't recreate this. I've got this running on gitpod.io and on my own self-hosted instance (set up using [my k3s guide](https://github.com/MrSimonEmms/gitpod-k3s-guide))

# gitpod.io
![image](https://user-images.githubusercontent.com/275848/178736993-7eb8e6b4-76e7-4fbd-be31-e7831e6f63e0.png)

# My self-hosted instance

![image](https://user-images.githubusercontent.com/2758

[2022-07-13 13:11] gtsiolis commented on #11339
Moving this to _In Progress_ to catch up with the recently open https://github.com/gitpod-io/gitpod/pull/11346. Cc @svenefftinge

[2022-07-13 13:46] lucasvaltl opened #11349 "Run automated self-hosted tests on all supported Kubernetes versions"
Expand our test suite to run on all supported Kubernetes versions as defined in our [documentation](https://www.gitpod.io/docs/self-hosted/latest/cluster-set-up#supported-kubernetes-distributions).

[2022-07-13 14:14] lucasvaltl opened #11350 "[local-preview] Allow for opt out of telemetry"
## Is your feature request related to a problem? Please describe
Currently we send a telemetry event upon successful installation (note that this does NOT include any personally identifyable inf). We should allow users to opt out of this if they wish.

## Describe the behaviour you'd like
- A flag when running the command that disables analytics - ideally we follow known standards here, but I coul

[2022-07-13 14:27] jimmybrancaccio commented on #11097
Customer (`cnv_jiw5gju`) experienced this today.

[2022-07-13 14:37] ChristianHuff-DEV opened #11351 "Gitpod companion app unable to connect"
### Bug description

Executing the Gitpod companion app fails with the following error:

[code]

### Steps to reproduce

1. Open a workspace
2. Start the gitpod companion (`./gitpod-local-companion-darwin-arm64`)

### Workspace affected

mesadaapp-mesada-l8krf4nfzwk

### Expected behavior

The companion app to connect allowing me to access ports using *localhost*.

### Example repository

_No resp

[2022-07-13 14:45] jldec opened #11352 "More selective control of prebuilds by commit or PR"
On large projects, prebuild usage can become overwhelming e.g. when there is automation to merge changes into a large number of branches, many of which are unlikely to be opened as workspaces.

Gitpod already supports some configuration to limit prebuilds on GitHub repositories. For more details see https://www.gitpod.io/docs/prebuilds#github-specific-configuration

This issue proposes 2 additiona

[2022-07-13 15:15] loujaybee opened #11355 "Simplify SSH host - for memorising, constructing from URL, and pasting into SSH clients"
One current advantage of the SSH private key connection is that the URL is more stable than before, where you needed to go back to dashboard and copy/paste the access token (which reset on each workspace start).

New SSH key connection format:

**Format:** `{workspace-id}@{workspace-id}.{ssh-subdomain}.{workspace-generation}.{TLD}`
**Example:** `gitpodio-website-25tzkerndba@gitpodio-website-25tzke

[2022-07-13 15:31] Furisto opened #11357 "Support pvc workspace classes"
## Is your feature request related to a problem? Please describe
We need to test pvc for workspace backups without having impact on workspaces that are still doing backup with gcp object storage.

## Describe the behaviour you'd like
Define an internal workspace classes that are only available to gitpodders, that ensure that workspaces are started with pvc and are scheduled to different nodes.

[2022-07-13 15:42] tnir commented on #8812
Not stale.

[2022-07-13 15:44] Furisto opened #11358 "Update settings page with the latest design"

[2022-07-13 15:45] gtsiolis commented on #11339
Adding below some early designs on how the flow could look like, depending on the third party service API flexibility and if we're going to also block or allow dashboard access when a user has not completed user validation:

| Modal (Empty) | Modal (Input) | Modal (Invalid Input)
|-|-|-|
| <img width="1440" alt="UserValidationModalEmpty" src="https://user-images.githubusercontent.com/120486/178774

[2022-07-13 15:58] ChristianHuff-DEV commented on #11351
Is this related to https://twitter.com/gitpod/status/1547226715512082433?

[2022-07-13 16:28] 201flaviosilva commented on #11188
Me too, that feature would help a lot :)

[2022-07-13 17:04] blueberrymuffin3 commented on #11328
I believe this only happens when accessing the app through the browser VS Code instance, as the header is added by the caddy proxy. Forwarding the port to localhost seems to avoid the issue.

[2022-07-13 17:07] blueberrymuffin3 commented on #11328
I'm running version 2022.6.0, deployed with KOTS.

[2022-07-13 17:20] kylos101 commented on #10832
@ArthurSens adding you as an assignee on this because of the open PR. Is this okay? I'm not sure if this fits into your current week plan for Platform.

[2022-07-13 18:03] ArthurSens commented on #10832
Hi Kyle, unfortunately I don't plan to work on this issue this week. I think the way our teams are interacting on this one can definitely improve and the task is taking a lot longer than it should because of it 😬

I've spoken with @meysholdt in our last team sync, and I believe he'll set up a call so both teams can share knowledge about:
* Different ways to setup cgroupv2
* Different ways we can c

[2022-07-13 19:29] akosyakov commented on #11355
fyi gitpodio-website-25tzkerndba@ssh.ws-eu54.gitpod.io should work already, not sure whether we can do anything about cluster generation cc @iQQBot

[2022-07-13 21:20] LeVlad opened #11364 "Django server issue"
### Bug description

I have installed Django with allauth, psycopg2-binary, dj-database-url and gunicorn and can't seem to make "python3 manage.py runserver" work.

### Steps to reproduce

opened gitpod
saw that yet again the requirements were not saved and started to re-install the packages
1.pip3 install Django==3.2
2.pip3 install django-allauth==0.41.0
3.pip3 install dj_database_url psycopg2
4.

[2022-07-13 21:32] kylos101 commented on #11336
@jenting added to our durability epic as a task (you'll see a badge in this issue now, linking back to the epic at the top of this page)

[2022-07-13 22:55] sagor999 commented on #10418
all PRs have been merged.

[2022-07-13 22:55] #10418 closed

[2022-07-14 02:50] kylos101 commented on #10832
@ArthurSens :+1: thanks for the heads up!

@meysholdt :wave:,

For this issue, our goalis to have preview environments run with cgroup v2.

@jenting and @utam0k were asking about having a werft annotation to have the ability to go back and forth from cgroup v2 to v1 (depending on the annotation), but, that is outside the scope of this ask and should be a separate issue. In other words, that is jus

[2022-07-14 07:12] mthmulders opened #11368 "Init command for Java/Maven projects could be improved"
### Bug description

It seems that for Java projects, the default generated `.gitpod.yml` file has an `init` of `mvn install -DskipTests=false`.

As far as I'm concerned, there are two issues with this:

1. It encourages people to skip running tests.
2. It installs the project artifact(s) in the local repository.

### Steps to reproduce

Generate a `.gitpod.yml` file for any GitHub project that us

[2022-07-14 07:20] AlexTugarev commented on #5305
I propose a more comprehensive solution to this by replacing the regex to validate the URI by actually ping the host (including path) of the gitlab installation. This way we can test connectivity between server and gitlab and report any issues, which from time to time is a big pita to debug remotely.

[2022-07-14 07:45] iQQBot opened #11369 "`ws-daemon` sometimes didn't delete workspace file after backup"
### Bug description

`ws-daemon` sometimes didn't delete workspace file after backup

### Steps to reproduce

see workspace folder in node `/var/gitpod/workspaces`

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

The current mitigation for this is to `kubectl cordon` the node, but, it'd be ideal not to have thi

[2022-07-14 07:59] geropl commented on #10325
Dropping work here, as the "wiring" between `dashboard`, `server` and `usage` is done. Leaving for @andrew-farries to pick it up. :muscle:

[2022-07-14 08:55] #11190 closed

[2022-07-14 09:08] loujaybee commented on #9932
Updating that this the first iteration of this is now announced: https://www.gitpod.io/blog/ssh-key-upload

🙏

[2022-07-14 09:21] loujaybee opened #11370 "Import SSH public keys from 3rd parties (GitHub, GitLab, BitBucket)"
SSH keys can now be uploaded to Gitpod: https://www.gitpod.io/blog/ssh-key-upload

This issue is to investigate supporting ingesting keys already uploaded to 3rd parties that are connected with Gitpod.

Consideration:
- Removing keys when removed from 3rd party (and making this transparent)

Relates to:
- https://github.com/gitpod-io/gitpod/issues/9932
- https://github.com/gitpod-io/gitpod/issues/

[2022-07-14 10:25] loujaybee opened #11371 "Design principles for `gp` cli"
We could do with a set of design principles for `gp` CLI and/or any resultant clean-up to the API surface.

e.g. topics of:

* `<subject> <verb>`
* What lives top-level, etc.

Relates to:
- https://github.com/gitpod-io/gitpod/issues/10449

[2022-07-14 10:47] lucasvaltl opened #11373 "Cost Estimates for Single Cluster Reference Architecture"
## Is your feature request related to a problem? Please describe
To better understand the cost of running Gitpod, we should provide examples of how much it might cost to run the single cluster reference architecture. This should be helpful to those evaluating different reference architectures.

## Describe the behaviour you'd like
- A link to the cloud provider cost calculator with everything fill

[2022-07-14 10:49] gtsiolis commented on #11370
@loujaybee, this grabbed my attention and spent a few minutes on how this could look like.

Posting below an early designs, but let me know if you think this will be prioritized soon so I can work on more details and edge cases. 🥯

I think I also agree with @iQQBot on skipping syncing the keys as this could affect user control. Similarly, one can delete the key itself locally and the key would rem

[2022-07-14 11:08] lucasvaltl commented on #11373
Took an initial stab at this:

**GCP**

[https://cloud.google.com/products/calculator/#id=f947d94c-9ef1-4caf-8a6a-c06785a7dd9e](https://cloud.google.com/products/calculator/#id=da2b416c-bedf-4b14-a095-c4740c2db37c)

[[googlecloudcalculator_1657795692343.csv](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/6c85987d-9364-45fd-a804-8afa53494027/googlecloudcalculator_1657795692343.csv)](ht

[2022-07-14 11:12] lucasvaltl commented on #11373
I believe the best way forward is to wait until we have the terraform scripts and then use these to create the infra and then see in practice what services exactly are used to ensure that the cost estimate is accurate. Alternatively we spin up a reference architecture for each cloud provider manually.

[2022-07-14 12:04] xodia117 opened #11375 "react app not working"
### Bug description

Trying to npm start my react app and it will not load in browser or preview.

### Steps to reproduce

cd my-app
npm start

brower freezes or preview freezes whole gitpod.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

### Anything else?

_No response_

[2022-07-14 12:56] jmls commented on #5305
yeah we just hit this during a call with a prospective customer (embarrassing!)  - although we were using bitbucket.

We really need this fix! Please do not mark as "stale".

[2022-07-14 13:17] geropl opened #11378 "Wipe deleted Workspace (+ their WorkspaceInstances) at some point"
# Motivation
 - getting rid of old shapes/variance: our code is by now riddled with optional fields (like this: `someField?: string`) just because we once in 2018 had a period where we would not set those field. This is an attempt to get rid of those variance to at least have a chance to streamline the code
 - dead weight: This is about removing old _deleted_ workspaces only: It seems there is no

[2022-07-14 14:01] lucasvaltl opened #11379 "Investigate ways to not require adding custom cert to browser"

[2022-07-14 14:01] lucasvaltl opened #11380 "Research ways to not require creating Git Oauth app"

[2022-07-14 14:21] lucasvaltl commented on #5305
Changed title as this likely impacts both the SaaS and Self-Hosted versions of Gitpod. Ideally a fix applies to both :)

[2022-07-14 14:22] lucasvaltl opened #11381 "[Local-Preview] In-product nudge towards next installation steps (i.e. PoV reference Architecture)"
## Is your feature request related to a problem? Please describe
When a user successfully installed and seems to be using / happy with their installation, we should nudge them towards the logical next step in the user journey: to install Gitpod on K8s, likely via our PoV Reference architecture (https://github.com/gitpod-io/gitpod/issues/10622).

## Describe the behaviour you'd like
- When a user h

[2022-07-14 14:25] kylos101 commented on #10953
We just bumped into this issue on gen53 and gen54, too.

Scheduled the issue to groundwork.

[2022-07-14 14:47] lucasvaltl opened #11386 "Which installation method is right for you docs page"
A page in the documentation that gives an overview of the ways to install Gitpod, and specifically details which one is right for you.

Expects Single cluster and Proof of Value Reference Architecture (https://github.com/gitpod-io/gitpod/issues/10622) to be shipped.

[2022-07-14 21:10] #10953 closed

[2022-07-14 21:25] kylos101 commented on #10671
@jenting do you think this is related to our tests, or the preview environments? I ask because if preview environments, I am tempted to close this issue (as we plan to run them in self-hosted infra).

[2022-07-14 21:25] KaspianDev commented on #10667
This extension seems to do the thing (ssh extension replica, but OSS).
 - https://github.com/xaberus/vscode-remote-oss#readme=
 And it also seems most of the features from original work without change.

[2022-07-15 01:29] jenting commented on #10671
I can't 100% sure of the culprit. We could keep this open until we change to using the self-hosted infra. WDYT?

[2022-07-15 02:36] kylos101 opened #11397 "workspaces which cannot be scheduled to a cluster get stuck in Pending"
### Bug description

Workspaces which cannot be scheduled to a cluster get stuck in Pending.

### Steps to reproduce

In a preview environment, `kubectl cordon` the node. Try starting a workspace. It'll stay stuck in Pending for-ev-er!

### Workspace affected

n/a

### Expected behavior

The workspace should fail, and land in a permanent Failed phase

### Example repository

n/a

### Anything else

[2022-07-15 02:37] kylos101 commented on #11397
note: this may not be a problem with ws-manager, in hindsight, it might be a problem on the webapp side, and needs investigation.

[2022-07-15 03:20] jenting opened #11399 "[ws-manager-bridge] the number of workspace instances remaining seems to be wrong"
### Bug description

We wanted to delete the us53 cluster, the number of workspace pod is empty, so we triggered the werft job to delete the us53 cluster. But somehow, the ws-manager-bridge reported the number of running instances is 2.

[code]

After that, we check the DB according to the code logic
- https://github.com/gitpod-io/gitpod/blob/c752a16b46dcccd9446ada11add5cfc3213a30d4/components/ws-

[2022-07-15 05:20] #11296 closed

[2022-07-15 05:42] geropl commented on #11378
There are several motivations. I updated and listed them above. :point_up: :pray:

[2022-07-15 07:31] geropl opened #11401 ""Spending Limit" UI + storage"
Each CostCenter (e.g., an individual user or a team) can configure a spending limit as discussed in the ["Usage Based Pricing" RFC](https://www.notion.so/gitpod/RFC-Usage-Based-Pricing-133f8018a64344bb93dd9a65d82a9c6a#a22576b7b77646fd9ea0a08ac475de8b).
Here's a link to [the user story](https://www.notion.so/gitpod/Usage-Based-Pricing-User-Stories-0fc4ac2f2413449b95d70feb60177aaf#b9f6d7889ec14b3a86

[2022-07-15 07:35] mustard-mh commented on #11170
@kevinadhiguna  You can try with code below, it works well in your repo for me. Check doc here https://webpack.js.org/configuration/dev-server/#websocketurl

[code]

[2022-07-15 07:35] #11170 closed

[2022-07-15 07:40] geropl opened #11402 "Define & Implement Entitlement Service APIs"
This consists of several tasks:
 - [x] Setup EntitlementService in `server` / TypeScript
 - [x] Implement it for licenses
 - [ ] Implement it for Stripe
 - [x] Wire it up with existing code (e.g., Chargbee)

[2022-07-15 07:45] geropl opened #11403 "Setup and implement API to enforce limits (Paywall backend)"
On StartWorkspace, check if a limit has been hit, and notify the client.

[2022-07-15 07:48] geropl opened #11404 "Paywall + Notification UI"
When users hit their configured [Spending Limit](https://github.com/gitpod-io/gitpod/issues/11401) (implemented in #11403) they:
 1. need to be shown on StartWorkspace about their current state and shown options how to unblock them: [user story](https://www.notion.so/gitpod/Usage-Based-Pricing-User-Stories-0fc4ac2f2413449b95d70feb60177aaf#e4ae9ada8d714ee5bc1b3d52d3a5d978).
 2. they should be notif

[2022-07-15 08:30] pawlean commented on #11375
Can you share your repo with us @xodia117?

[2022-07-15 08:32] xodia117 commented on #11375
@pawlean Managed to sort the issue, turns out I had a minor syntax error which caused the crash

[2022-07-15 08:34] pawlean commented on #11375
Good to know! Thanks @xodia117, will close this issue. ✨

[2022-07-15 08:34] #11375 closed

[2022-07-15 08:58] #10764 closed

[2022-07-15 09:01] lucasvaltl opened #11408 "Move default `workspaceImage` setting out of experimental"
## Is your feature request related to a problem? Please describe
Currently, to set a global default workspace image, you need to add it to a config patch file in the following manner:
[code]

## Describe the behaviour you'd like
- Default workspace image can be set in the config - happy to chat about where and how exactly.
- We have a guide in our docs that explains how & why to do this and clarif

[2022-07-15 10:03] jenting opened #11410 "[workspace-preview] install snapshot CRDs before install gitpod"
### Bug description

We should install snapshot CRDS, and then run installer to install gitpod
Otherwise, the volume snapshot controller would not be created.

https://github.com/gitpod-io/gitpod/blob/6c395b5881ebcdf595baadc426ba8b121fc826e2/components/ws-manager/cmd/run.go#L203-L215

### Steps to reproduce

Create workspace preview, check the ws-manager log, the log does not display the `"control

[2022-07-15 10:25] laushinka commented on #11340
@MrSimonEmms and I have inserted more email providers into the DB. The list was constructed in the following way:
- Look at the blocked users listed in the #abuse Slack channel from the past month.
- Check whether their email domains are throwaways. We used both `https://www.mailcheck.ai/` and `https://check-mail.org/`.

The question is now how do we maintain and who maintains the updating of this

[2022-07-15 10:32] MrSimonEmms commented on #7264
https://github.com/gitpod-io/gitpod/issues/7264#issuecomment-1126224529

Seemingly, [GAR works fine](https://gitpod.slack.com/archives/C033MA45L5S/p1657734270368359) but requires the same configuration as GCP's container registry

[2022-07-15 10:38] AlexTugarev commented on #5305
@lucasvaltl, any chance you could help testing https://github.com/gitpod-io/gitpod/pull/11409 with a proper setup, i.e. with unusual port?

[2022-07-15 11:08] lucasvaltl commented on #5305
@AlexTugarev - Let me ask the team on Slack - will cc you and then we can see what we can do :)

[2022-07-15 12:04] geropl commented on #11344
@MrSimonEmms I wonder what kind of installation we're targeting here in terms of reference architecture. If we go for "Single Cluster Production Ready" that says 8vCPU/32GB RAM. I feel this is a tad too high, though, as we scale horizontally anyway. 4vCPUI/16GB looks way more reasonable.

Technically 2vCPU/4G would certainly work for Gitpod, and if we're looking to establish a hard boundary, that

[2022-07-15 12:17] MrSimonEmms commented on #11344
Is that for the `meta` nodes? I know we need that for the `workspace` nodes because of all the stuff they're doing with image building, but I had the feeling that the `meta` nodes didn't need to be as high

[2022-07-15 12:22] geropl commented on #11344
RAM is plenty, but CPU is weak. 2vCPUs is basically nothing, if you mix kubernetes, network virtualization overhead and not super performant runtime with a reasonable traffic. Even streaming workspace logs, for instance, tends to get CPU bound faster then you think.

As in: might work for singular users, but we should not recommend that for teams that are looking for the Gitpod experience (TM).
So

[2022-07-15 12:24] MrSimonEmms commented on #11344
This is more a test of "will it work" rather than "will it work well"? It's for the KOTS preflight checks where we can alert if they don't have a power enough node.

I'm perfectly happy to put as 4vCPU/16GB RAM - that's the setting for `workspace` nodes anyway

Also, I like "the Gitpod experience (TM)"

[2022-07-15 12:24] kylos101 commented on #10671
Okay, sounds good, I'll remove you as assignee and bring down in priority for now.

[2022-07-15 12:56] geropl commented on #11344
:100: Good, let's do that for now. I will see to update the ref arch to that value as well. I see no point in requiring 8cores as long as we scale. :+1:

[2022-07-15 12:57] MrSimonEmms commented on #11344
Thanks for your help @geropl 🎉

[2022-07-15 12:57] #11344 closed

[2022-07-15 15:11] loujaybee commented on #10525
Now possible: https://www.gitpod.io/docs/command-line-interface#timeout 🚀

[2022-07-15 15:11] andreafalzetti commented on #7096
Closed with https://github.com/gitpod-io/gitpod/pull/10619

[2022-07-15 15:11] #7096 closed

[2022-07-15 15:20] filiptronicek commented on #10245
Here's the piece of code responsible for opening in the browser that @akosyakov mentioned 👀
https://github.com/gitpod-io/gitpod/blob/0945a996fbc95f2bd074c87cb2f7a29dbdbf158e/components/gitpod-cli/cmd/preview.go#L33-L39

[2022-07-15 15:32] loujaybee opened #11415 "Show ssh connection command from `gp`"
Allow the user to get the SSH string from `gp`

The same as: https://github.com/gitpod-io/gitpod/issues/9230 but for `gp cli`, not VS Code.

[2022-07-15 15:41] filiptronicek commented on #11415
I'm voting for using `gp ssh` 👀

[2022-07-15 15:51] loujaybee commented on #9284
Relates to: https://github.com/gitpod-io/gitpod/issues/10804

[2022-07-15 15:54] loujaybee commented on #9833
Ideally if we add this, we start with `gp` CLI, and then update / extend this behaviour into the IDE / editor.

We'd also need to make sure we show workspace name on the JetBrains Gateway list.

[2022-07-15 16:07] filiptronicek commented on #9025
We could leverage https://github.com/xeipuuv/gojsonschema and load https://github.com/gitpod-io/gitpod/blob/main/components/gitpod-protocol/data/gitpod-schema.json to check against.

[2022-07-15 16:15] atduarte commented on #11339
Phone number verification example from Kaggle: https://www.loom.com/share/0e7d8b3bf7d2422aa6770ca37089d349

[2022-07-15 16:19] atduarte opened #11416 "Epic: Rewrite `ws-manager` as a Kubernetes controller"
## Summary

`ws-manager` is currently a very complex piece of software. This complexity reduces our throughput and increases the chance of introducing errors. That can be mitigated by rewriting it as a Kubernetes controller.

## Context

When we built ws-manager more then three years ago, kubebuilder wasn't a thing and writing Kubernetes controllers was hard(er). Also, we didn't know too much abou

[2022-07-15 18:42] sagor999 commented on #10315
Here is what happens:
https://cloudlogging.app.goo.gl/EGhVdWhrJeqLSnAX6

First workspace failed with:
[code]

Then one minute later, second workspace is started (I assume webapp is retrying here):
[code]

This is because of this check (I suspect):
https://github.com/gitpod-io/gitpod/blob/0945a996fbc95f2bd074c87cb2f7a29dbdbf158e/components/server/src/workspace/workspace-starter.ts#L274-L276
That fo

[2022-07-15 20:11] jgcrunden commented on #5409
From the little I've used Gitpod, I'm loving it!
I'm interested in it being able to run on Openshift. Just looking through the comments above to understand what's blocking it.
It seems for the two identified:
1. open_tree - @patrickeasters has found it was backported to RHEL 8.4
2. agent-smith using eBPF - I've found the following, suggesting it was [introduced in RHEL 7.6](https://www.redhat.com/

[2022-07-16 04:17] kevinadhiguna commented on #11170
Much Appreciated @mustard-mh , that worked well. However, does that configuration create a security issue ?

[2022-07-16 07:40] jeanp413 commented on #7458
@soshimee @RafidMuhymin could you install the pre-release version of `gitpod-desktop` extension and configuring your [ssh keys in Gitpod](https://gitpod.io/keys) before trying to connect again and let me know if that works or not :pray:

[2022-07-16 07:47] jeanp413 commented on #10288
@narkeeso @david-bakin with pre-release version of `gitpod-desktop` extension and  configuring your [ssh keys in Gitpod](https://gitpod.io/keys) it won't ask you for a password anymore when reconnecting after a workspace restart
![image](https://user-images.githubusercontent.com/25115070/179345479-c330312f-db0c-461a-9314-ff6c4a74d7b9.png)

[2022-07-16 08:16] ChristianHuff-DEV commented on #11351
It started working again.

[2022-07-16 08:16] #11351 closed

[2022-07-16 09:02] pyx900 opened #11422 "Unknown branch-name prefix"
### Bug description

Relates
- #5683

Currently, my user-name prefix on the branch names was quite long. So I shortened my name in
   - GitHub user name
   - GitPod user name

Yet, the branch names continues to be my long old user name. So where is the long name coming from ?

How do I reset this to use the newer short name ?

### Steps to reproduce

1. rename your user name
2. observe to see if c

[2022-07-16 13:58] RafidMuhymin commented on #7458
@jeanp413 yup! It's working now 🚀! I had to configure nothing! Thank you so much!

[2022-07-16 21:16] david-bakin commented on #10288
Took me a second to figure it out - you still get a "enter your password prompt" at the top of VSCode but you ignore it and click the "reconnect window" button down at the bottom right - and your restarted workspace hooks right up.  👍

[2022-07-17 10:59] nidhinmanu commented on #6311
@gtsiolis This problem still persists as I have ran into it today. Created a team, demoted myself to member accidentally, left the team hoping it would get deleted(I was the only member). And now locked out of using the team name as error outputs "Team name already in use".

[2022-07-17 12:55] GMFranceschini commented on #5889
I just had this issue, removed gitpod extension, and related `gitpod_ssh_config` file. I can't see my past host, nor can I connect to them again. This is very frustrating because I can't even restore the previous state. Any advice to clean up everything?

[2022-07-17 12:58] GMFranceschini commented on #5889
Ok, for anyone having the same issue: the solution is to edit the VScode setting `.json` to restore the original path to the ssh_config file, which was replaced by the gitpod one.

[2022-07-17 13:04] nemanjam opened #11423 ""Share workspace snapshot" hangs when limit of 3 snapshots/backups is reached"
### Bug description

Last two days I am unable to create workspace snapshot, popup just hangs for ever.

After investigation, @jimmybrancaccio figured out that it's related with the limit of 3 snapshots per workspace (which include workspace backups).

### Steps to reproduce

Open workspace and select `Share workspace snapshot`.

### Workspace affected

https://nemanjam-nextjsprismabo-h4e9fmpo6a5.

[2022-07-17 16:04] godalming123 opened #11425 "Window support"
## Is your feature request related to a problem? Please describe
I am new to gitpod and as far as I know there is no way to run electron apps because there is no way to show OS windows
## Describe the behaviour you'd like
When the terminal tries to launch a wayland backend window you should have an option as to wether you want the window as a browser window, as a tab or ontop of your IDE

## Addit

[2022-07-17 16:52] abdullahranginwala commented on #11212
Hello! This is my first time contributing to GitPod. Could you elaborate a little on this issue? I'm really excited to explore GitPod and your help will be really appreciated.

[2022-07-18 03:59] mustard-mh opened #11426 "First opening is very slow than previous Remote Explorer"

[2022-07-18 04:20] mustard-mh commented on #11170
@kevinadhiguna  No, others can visit the port you opened only once you make that port `public` https://www.gitpod.io/docs/config-ports#specifying-port-names--descriptions

|Account A| Account B|
|-|-|
|![image](https://user-images.githubusercontent.com/20944364/179444767-ed756a3f-234b-4647-9f41-4d7ee838ff5a.png)|![image](https://user-images.githubusercontent.com/20944364/179444743-68110d32-e2dc-4a

[2022-07-18 04:32] jeanp413 opened #11428 "Reject ssh connection when trying to connect to a stopped workspace"
Currently if we try to connect to a stopped workspace using SSH it will ask to authenticate using a password which is misleading that could indicate that connection is possible, instead the server should reject the connection as it doesn't make sense to connect to a stopped workspace

[2022-07-18 04:34] jeanp413 commented on #10288
Good catch @david-bakin I created an issue for that bug https://github.com/gitpod-io/gitpod/issues/11428

[2022-07-18 07:13] AlexTugarev commented on #11404
Hi @gtsiolis! Could we reuse the toast notifications from https://github.com/gitpod-io/gitpod/issues/3530 for the second part of this? WDYT?

[2022-07-18 07:27] Harinathlee commented on #2695
Disable or uninstall the "Color Identifiers" extension and reload the workspace. It worked for me.

[2022-07-18 07:41] mustard-mh commented on #11426
As we can see in Dev Network, most `Waterfall`s are spent on VSCode inner process, which we can't speed up or cache it
![image](https://user-images.githubusercontent.com/20944364/179460524-8365afbf-3eff-4d4b-98a9-85f1d3b8a584.png)

This is due to we are using VSCode's `WebviewViewProvider`. If we can use `Webview` to replace it, then we can cache it.

But according to VSCode doc https://code.visua

[2022-07-18 08:38] pawlean commented on #11425
Hi @godalming123! It might be worth you joining our Discord server where our community have gone through Gitpod Electron support. [Here's a relevant conversation.](https://discord.com/channels/816244985187008514/816246578594840586/976102479940956160) Come and [join us!](https://www.gitpod.io/chat) Closing this for now 😊

[2022-07-18 08:55] leganck commented on #80
any update?

[2022-07-18 09:18] anbraten commented on #80
I did most of the unit test cases for the context. But thats a quite time consuming task to support all of those different kinds especially the edge cases. For example opening an PR by using the issue url with a PR id to open a PR with Gitpod. Testing the result is also pretty difficult as I need to spint up my own Gitpod cluster each time to test my changes with all other components, but the Gitp

[2022-07-18 09:18] jenting commented on #10531
👋 Hey @kylos101 as we discussed, we tried to simulate a scenario where the admin _or_ on-caller accidentally deleted the workspace Pod and removed the finalizer, to see if we can make the orphaned PVC happen.

I have tried the below three cases:
- :white_check_mark: _Directly delete the workspace Pod_: the VolumeSnapshot created and the Pod/PVC be removed after the VolumeSnapshot is ready to use.

[2022-07-18 09:25] #10323 closed

[2022-07-18 09:48] ShalokShalom commented on #80
I think your chances to get it accepted are pretty high anyway 😊

[2022-07-18 09:49] anbraten opened #11436 "Use custom images / versions for local preview"
## Is your feature request related to a problem? Please describe

I want to be able to use the local preview #9075  for testing changes to Gitpod as it seems to be the easiest method to run my own Gitpod cluster.

## Describe the behaviour you'd like

To be able to test my own changes I need a way to set the docker image base to my own and provide my own image versions.
I would like to use my own

[2022-07-18 09:57] MrSimonEmms opened #11437 "Authentication via public key prevent VSCode desktop in Self-Hosted"
## Bug description

See [internal discussion](https://gitpod.slack.com/archives/C01KGM9BH54/p1657983304139299)
Steps to reproduce

## As above
Workspace affected

## No response
Expected behavior

## No response
Example repository

## No response
Anything else?

A workaround exists by downgrading the extension to v0.0.40. See [VSCode docs](https://code.visualstudio.com/updates/v1_30#_install-previ

[2022-07-18 11:54] jldec commented on #11285
@gtsiolis would you be able to provide a stripped down figma which shows the planned MVP UI elements (including the toggle) but not the additional features (like summary totals).

[2022-07-18 12:03] scheibling opened #11440 "Self-hosted (latest) + VSCode Gitpod 0.0.40+"
### Bug description

When updating the VSCode-plugin (Release) past 0.0.40, the below error is thrown when trying to sign in to a self-hosted (free tier) Gitpod instance. Gitpod.io still works.

Might be related to

[code]

### Steps to reproduce

- Upgrade vscode plugin to 0.0.41 or 0.0.42
- Start a workspace from the web interface
- Choose "Open in VSCode" or "Open in VSCode insiders"

### Works

[2022-07-18 12:29] felladrin opened #11441 "Can't connect to workspaces running JetBrains IDEs v222.2 when using JetBrains Gateway 222.1"
### Bug description

Due to a recent change in JetBrains infrastructure, JetBrains Gateway 222.1 is currently unable to connect to workspaces running JetBrains IDEs v222.2.

Error log:
[code]

The problem is with the file name which should be `jbr_jcef-17_0_3-osx-x64-b469.30.tar.gz` instead of `jbr_jcef-17.0.3-osx-x64-b469.30.tar.gz`. JetBrains team confirmed it's a known issue and will be fixed s

[2022-07-18 12:54] 201flaviosilva opened #11442 "Remove a user extension"
### Bug description

I've installed some extensions that I don't want to use any more and I try to remove them, but whenever I open a new workspace, the extensions that I supposedly removed already show up installed again.
Video example:

https://user-images.githubusercontent.com/55815265/179515679-d4044335-88cd-4b17-bb02-56f69f76801d.mov

### Steps to reproduce

I'm not sure how to reproduce this

[2022-07-18 13:08] godalming123 commented on #11425
The discord invite doesn't appear to work

[2022-07-18 13:56] drkstr101 commented on #1528
Somewhat related... How to authorize preview url for oauth2 logins...

[2022-07-18 14:05] geropl commented on #11030
@andrew-farries Do you mind if I take over here during my on-call week? :question:

[2022-07-18 14:06] geropl commented on #10757
That's outdated here, and already happening, so should not be part of this task anymore.

[2022-07-18 14:12] andrew-farries commented on #11030
Please do 😄

[2022-07-18 14:24] #9890 closed

[2022-07-18 15:09] jimmybrancaccio commented on #8523
This would have been useful to have as a customer submitted a ticket in Front (`cnv_jjlc2bu`) where there was no one on the team and no way to delete the Team from the admin UI.

[2022-07-18 15:13] akosyakov commented on #11426
From your screenshot, it looks like caching will save more than 1s is not it? On my connection it will bring down from 547 ms to 310 ms.

@iQQBot Can we add observability for latency in ws-proxy for blobserve routes? I want to know how much it takes to forward. Maybe we can save some time by caching? It is not much data and should not change often. cc @csweichel

[2022-07-18 15:56] lucasvaltl opened #11449 "[Self-Hosted] Guidance on workspace resource limits for Reference Architectures."
## Is your feature request related to a problem? Please describe
Currently we do not give guidence on setting limits for workspace sizes - we only set a default request (which is [here](https://github.com/gitpod-io/gitpod/blob/main/install/installer/pkg/config/v1/config.go#L60-L61) afiak).

## Describe the behaviour you'd like
In order to avoid any future complexities around this, we should more c

[2022-07-18 16:20] felladrin opened #11450 "JetBrains Gateway displays headless workspaces when prebuilds are triggered"
### Bug description

If Gitpod Plugin's main page is visible while a workspace prebuild is triggered, it will list that workspace.

We need to fix it to not display those headless workspaces, as they are also not shown in the Workspaces list from [Gitpod Dashboard](https://gitpod.io/workspaces).

![image](https://user-images.githubusercontent.com/418083/179556324-7692ae4a-a100-4d7b-9e4a-d5e6912e51

[2022-07-18 16:53] jeanp413 commented on #8465
This is not an issue as we just pin the latest gitpo-web version in [product.json](https://github.com/gitpod-io/openvscode-server/blob/8225b8cac374140ae82cbc8353a61c8d2650f6af/product.json#L683) it will be downloaded when building the release version. Just need to remember to update it if needed before self-hosted release. We already do this for gitpod-theme extension

[2022-07-18 16:56] jeanp413 commented on #8465
To move gitpod-web to it's own repo it would be good to mockup some of the supervisor API so we can test some features like ports while developing, then we can just package the extension and test it in production manually as we do for gitpod-remote currently

[2022-07-18 16:56] atduarte commented on #8261
@Furisto Could you please include the updates to the Large and Standard limits, as well as their relation to the release, to the plan?

[2022-07-18 17:14] kylos101 opened #11451 "[loadgen] ability to include previously stopped workspaces"
## Is your feature request related to a problem? Please describe

Right now we start new workspaces

## Describe the behaviour you'd like

It would be great to start existing workspaces, so we can test content restore / snapshot restore.

## Describe alternatives you've considered

n/a

## Additional context

Right now, we know that snapshot restore is a constant (roughly 30s).

[2022-07-18 17:24] gtsiolis opened #11452 "Prevent the only remaining team owner to change their role to member"
### Bug description

While we are now preventing the last team owner to leave a team (see https://github.com/gitpod-io/gitpod/issues/4623), we're not preventing the only remaining team owner to change their role to member, leading edge cases like member-less teams after leaving the team (https://github.com/gitpod-io/gitpod/issues/6311) or owner-less teams.

See also [relevant discussion](https://g

[2022-07-18 17:25] gtsiolis commented on #6311
Thanks for noticing, @nidhinmanu!

[FWIW](https://en.wiktionary.org/wiki/FWIW), I've opened a new issue for this specific bug, as this has been brought up a couple of times in the past.

[2022-07-18 18:08] sagor999 opened #11453 "Calling StopWorkspace on a workspace that is not fully up yet"
### Bug description

Currently if calling StopWorkspace on a workspace that has not fully started up yet will cause that workspace state to become failed.
We need to better handle this case. This is currently used by webapp to stop already running prebuild if newer prebuild has started (commit is obsolete, etc).

It is negatively impacting our workspace success rate (~5-10% depending on prebuild v

[2022-07-18 19:22] csweichel opened #11454 "registry-facade fails to authenticate against Google Artifact Registry"
### Bug description

When using [Google Artifact Registry](https://cloud.google.com/artifact-registry) as image-build registry - or as airgap mirror, workspace starts fail after some time of inactivity. That's because registry-facade can no longer authenticate against GAR properly. Restarting registry-facade resolves the issue.

In this case, registry-facade reports:
[code]

### Steps to reproduce

[2022-07-18 20:39] aucampia opened #11455 "Dockerfile always rebuilding with "Incremental Prebuilds" enabled"
### Bug description

I have Incremental Prebuilds enabled for my project (https://gitpod.io/projects/rdflib/settings), however every time I commit to a PR branch the docker build starts from scratch as far as I can tell.

### Steps to reproduce

1. Create a branch from https://github.com/aucampia/rdflib/tree/iwana-20220718T2235-gitpod-issue
2. Create a (draft) PR from the branch
3. Wait for it to

[2022-07-18 22:05] david-bakin commented on #11455
I noticed this in the past - but failed to report it, sorry.  IIRC in my case the container wasn't build _each_ time but _most_ times.  I couldn't figure out any pattern. But in any event it was rebuilt even though I had not pushed an updated `.gitpod.Dockerfile`.

This is a large time sink as docker container builds _especially_ off of Gitpod.io's "workspace-full" container, are quite slow.  And

[2022-07-18 23:20] jenting commented on #10531
🎯 Correct! The snapshot is ready to use.

[2022-07-19 01:52] hotlong commented on #945
[code]

[2022-07-19 02:23] kylos101 commented on #10531
Interesting. So we have a path where we do the right thing...except tell server to set the workspace status to Stopped. :thinking:

Does this seem like something that would be doable to intercept/catch/respond to? I ask because, it would be ideal if the Gitpod workspace were in a final state, so that the user could access and use the data.

[2022-07-19 02:26] utam0k commented on #10338
Fixed by https://github.com/gitpod-io/gitpod/pull/11400

[2022-07-19 02:26] #10338 closed

[2022-07-19 03:08] kylos101 commented on #11453
@sagor999 is this issue for prebuilds, or are you considering this to also include regular workspaces and image builds?

I'm going to assume prebuilds (at least for now).

It looks like we'd want the phase to be [stopped](https://github.com/gitpod-io/gitpod/blob/8130107b0fc343b1dbefcb444920406cd6290d7a/components/ws-manager-api/core.proto#L470), and failed to be considered false [[1](https://githu

[2022-07-19 06:13] utam0k commented on #9776
Docker needs systemd when cgroup v2 runs with rootless.
@csweichel Do you know any reason we continue to use rootless mode with cgroup v2?

[2022-07-19 06:32] jeanp413 commented on #11442
@201flaviosilva from the video you are restarting a workspace so the extensions appear as installed at the beginning as they're already on disk but if you wait a few seconds it until settings sync kicks in it should uninstalled them automatically, let me know if that doesn't work

[2022-07-19 06:53] AlexTugarev commented on #5305
Fixed in https://github.com/gitpod-io/gitpod/pull/11409

[2022-07-19 06:53] #5305 closed

[2022-07-19 06:58] akosyakov commented on #11426
I've unscheduled it for now, since it is tricky.

[2022-07-19 07:03] #10516 closed

[2022-07-19 07:03] #10515 closed

[2022-07-19 07:13] MrSimonEmms commented on #11437
Yes

[2022-07-19 07:13] #11437 closed

[2022-07-19 07:48] bigint commented on #5534
Still very slow in APAC region 😭

[2022-07-19 08:05] 201flaviosilva commented on #11442
Hey, thanks for replying, but that's just a demo video, because I already deleted those extensions a week ago, but they keep reappearing :)

(I recorded the video yesterday +/-)

[2022-07-19 08:27] micszc commented on #5305
HI, I'm still getting this error. I have updated gitpod to newest version -> 2022.6.1 and still there's error about Invalid host name.
What should I do to go further?

[2022-07-19 08:44] MrSimonEmms commented on #5305
Hi @micszc, this hasn't yet been released to the Self-Hosted version yet. It'll go out with the `2022.7.0` release, which is scheduled for around the 28th July.

[2022-07-19 08:48] micszc commented on #5305
Ok, thanks, sorry for being impatient :) I will wait for new release.

[2022-07-19 09:06] gtsiolis opened #11463 "Polish blocked repositories page layout"
### Problem to solve

Follow-up UX from https://github.com/gitpod-io/gitpod/pull/11446.

- [ ] 1. Use red text color for the delete option in the more actions dropdown, see https://github.com/gitpod-io/gitpod/pull/11446#discussion_r923697844.
- [ ] 2. Improve empty input validation error. Replace _Empty RegEx!_ with _Repository URL can not be empty_.
- [ ] 3. Improve table design (thinner rows in

[2022-07-19 09:13] mustard-mh commented on #11154
Will close this issue after vscode browser nightly build

[2022-07-19 09:16] gtsiolis commented on #11463
@geropl I was planning to mark these as a ~good-first-issue but saw that you already opened https://github.com/gitpod-io/gitpod/pull/11462 to address most of these issues. Feel free to leave out of https://github.com/gitpod-io/gitpod/pull/11462 anything that increases the scope of the PR as a new follow-up issue.

[2022-07-19 09:40] meysholdt commented on #11123
hi @andrew-farries, since all product teams own their deployment pipelines and there is nothing super special about this fix, this is something the WebApp team could do by themselfes, correct? Let me know if pointers would be helpful.

From the incident notes, the failed job:
https://werft.gitpod-io-dev.com/job/ops-custom-main.2234/raw

[2022-07-19 10:09] andreafalzetti commented on #10349
I will be picking up this task now, since I am on-call. I've started a chat with @iQQBot to discuss the approach and technical implementation.

cc @akosyakov

[2022-07-19 11:16] MrSimonEmms commented on #11005
Possibly related to https://github.com/gitpod-io/gitpod/pull/9553 - this is a note for me so I don't forget the PR number

[2022-07-19 11:40] loujaybee opened #11467 "Update supported SSH locations for VS Code Desktop"
Currently [the following file](https://github.com/gitpod-io/gitpod-vscode-desktop/blob/df8736acad2c135eb2c6dc1938ce41605ef763cb/src/ssh/identityFiles.ts#L10-L37) dictates the locations where SSH keys are found for VS Code Desktop connections.

This issue is to investigate removing this so it's not as brittle or explicit about locations, and will support behaviours such as [modifying the SSH key lo

[2022-07-19 11:46] loujaybee opened #11468 "Faciliate log collection for VS Code Desktop"
- Provide a CTA for a user to be able to show output logs when making connections to Gitpod via VS Code Desktop.

For example...

![image](https://user-images.githubusercontent.com/5528307/179743275-ed1e8958-14b4-417b-b8b5-58b88ea5eb94.png)

Relates to:
- https://github.com/gitpod-io/gitpod/issues/11467

See [internal link](https://gitpod.slack.com/archives/C01KGM9BH54/p1658231030867079?thread_ts=

[2022-07-19 11:56] geropl opened #11469 "Epic: Admin Audit Log"
### Summary

Have a log of all admin activities:
 - blocking users
 - adding/removing blocked repositories, emails, etc.
 - accessing of user's resources with admin privileges (e.g., "download workspace")

### Context

 - RFC: https://www.notion.so/gitpod/Audit-Log-for-Gitpod-Admin-Actions-630e57b049d348d79f9ba4aed2a0c70b
 - potentially overlapping Self-Hosted centric epic: https://github.com/gitp

[2022-07-19 11:57] geropl commented on #11463
Excellent idea! :bulb: I long planned to add an epic for this, [now there is one](https://github.com/gitpod-io/gitpod/issues/11469).

[2022-07-19 12:38] #11358 closed

[2022-07-19 12:44] gtsiolis opened #11472 "Migrate workspace class settings components"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/11435, we added support for selecting a workspace class for your workspaces. However, this settings area is not using the [`SelectableCardSolid`](https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/components/SelectableCardSolid.tsx) component which could benefit from using the same style, save us time from u

[2022-07-19 14:17] voncay opened #11475 "Stuck in an authentification loop with gitlab 😭"
### Bug description

I'm authenticated on my company's Gitlab.com account with my work email.
I click on the Gitpod button from my gitlab project.
The gitpod.io page invites me to continue with gitlab for the repository of my project, so I click on the invitation.
I'm having the following error:
"Email address already used in another account. Please log in with gitlab.com."

### Steps to reproduce

[2022-07-19 14:19] atduarte opened #11476 "Epic: PVC (Persistent Volume Claims) on Self-Hosted"
### Summary

To ensure workspace data durability we are moving from backups to object storage to using persistent volume claims (PVCs) and snapshots. We have started with SaaS (https://github.com/gitpod-io/gitpod/issues/7901) and will then focus on self-hosted with this epic.

### Value

Bringing the reduced chance of data loss, and associated system trust, to self-hosted customers.

### Acceptanc

[2022-07-19 14:25] mustard-mh commented on #7458
Feel free to reopen it if the new feature https://github.com/gitpod-io/gitpod/issues/7458#issuecomment-1186109935 not works for you

[2022-07-19 14:25] #7458 closed

[2022-07-19 14:50] mustard-mh commented on #8015
It's correct since `3000` with iframe is blocked by server (see error log), try with other port, and it works well

|3000|8080|
|-|-|
|![image](https://user-images.githubusercontent.com/20944364/179780319-b64ff0f4-dd26-40e1-a808-def6dd234779.png)|![image](https://user-images.githubusercontent.com/20944364/179780272-8e5ed3c7-1bbf-4176-a3b6-f559897e08d0.png)|

[2022-07-19 14:58] adrienthebo opened #11477 "Restrictive network security policies can interfere with kots database preflight checks"
### Bug description

Kots preflight checks are executed on the `kotsadm` pod and thus are run with the network access associated with that pod and node. External databases only need to be reachable from the services Kubernetes nodes (and there's a case to be made that workspace nodes should explicitly not be able to reach the database), which means that the kotsadm pod should be run on one of the

[2022-07-19 14:58] mustard-mh commented on #8015
You can disable that blocking behavior by comment this line and re-build / re-serve it

https://github.com/gitpod-io/template-typescript-node/blob/91ef21d1e7e39bf7db34e2680cb7e74ce50f63b9/src/app.ts#L58

[2022-07-19 15:09] balajib-b opened #11478 "Waiting for Admin Console to be ready ⠦Error: - Self Hosted"
### Bug description

root@ai:/home/gitpod# kubectl kots install gitpod
Enter the namespace to deploy to: gitpod
  • Deploying Admin Console
    • Creating namespace ✓
    • Waiting for datastore to be ready ✓
Enter a new password to be used for the Admin Console: •••••••••••••
    • Waiting for Admin Console to be ready ⠦Error: Failed to deploy: failed to deploy admin console: failed to wait for w

[2022-07-19 15:26] akosyakov commented on #11468
We discussed with @jeanp413 to open the output view automatically. And print where we looked for identity files and whether we found them there. If not something like `prompting a user to use a password`

[2022-07-19 15:32] lucasvaltl opened #11479 "[Self-Hosted] Add preflight checks to ensure vs-code server can be downloaded"
## Is your feature request related to a problem? Please describe
In order to ensure that VS-Code desktop works flawlessly, we should check that the gitpod installation (and thus the workspaces) can access the necessary URLs to download vs-code server.

## Describe the behaviour you'd like
- a preflight check for this that pings [these](https://code.visualstudio.com/docs/remote/ssh#_what-are-the-co

[2022-07-19 16:32] adrienthebo opened #11480 "Update EKS terraform module to use s3 access policy in EKS reference architecture"
At present our EKS terraform module grants [broad access to s3 buckets](https://github.com/gitpod-io/gitpod/blob/3955503d630aba05bda0352f99782a3ef3a8d16a/install/infra/terraform/eks/storage.tf#L11-L17) within an AWS account. This broad grant prevents access issues with object storage and the registry but diverges from the more strict policy laid out in the EKS reference guide. The EKS terraform mo

[2022-07-19 16:34] lucasvaltl commented on #11480
I believe this should be covered via #11280 cc @nandajavarma

[2022-07-19 16:35] #11480 closed

[2022-07-19 19:36] sagor999 commented on #11453
@kylos101 yes, for prebuilds.

Good point about phase. :thinking:
@geropl what state should be set on those prebuilds that were aborted? :thinking: I don't think we have "aborted" state and not sure if we want to add another state just for this case (seems like overkill?).
Want to ensure as Kyle mentioned that we don't attempt to use such prebuild later on.

[2022-07-19 20:06] tallgaijin opened #11482 "Issues with numpy and pandas, even in provided minimal project"
### Bug description

Getting a ModuleNotFoundError on pandas and numpy, even after the packages have been installed.

### Steps to reproduce

1. Open https://www.gitpod.io/docs/languages/python#pandas in Gitpod
2. Run

I get:
gitpod /workspace/Gitpod-Pandas (master) $ /home/gitpod/.pyenv/versions/3.8.13/bin/python /workspace/Gitpod-Pandas/src/app.py
Traceback (most recent call last):
  File "/work

[2022-07-19 20:22] tallgaijin commented on #11482
Seems like whether this error happens or not depends on how I run the script.

Using VS code run and debug feature results in this command and triggers the error:

gitpod /workspace/Gitpod-Pandas (master) $  /usr/bin/env /usr/bin/python3 /workspace/.vscode-remote/extensions/ms-python.python-2022.10.1/pythonFiles/lib/python/debugpy/adapter/../../debugpy/launcher 45153 -- /workspace/Gitpod-Pandas/sr

[2022-07-19 20:27] maratkanov-a commented on #10912
this was [my](https://github.com/gitpod-io/gitpod/issues/10912#issuecomment-1172103407) response for all 5 steps

[2022-07-19 20:44] gtsiolis opened #11483 "Add pagination or infinite scroll support"
### Problem to solve

Pagination. 📄

### Proposal

:a: **Pagination** breaks up content into multiple pages.
:b: **Infinite scroll** helps users parse a large number of items. Infinite scroll is also suitable when the list updates frequently and there are no sorting or filtering options.

Cc @laushinka @jldec because of our recent discussion related to pagination.

### Designs

| Pagination (Simpl

[2022-07-19 21:20] sagor999 opened #11485 "Move Furisto/workspace-stress repo under gitpod-io org"
This repo https://github.com/Furisto/workspace-stress  is used for benchmark testing of new workspace clusters.
Lets move it under gitpod-io org.
It is weird to use personal repo for something that is part of our workflow now.

[2022-07-19 22:30] dlabak-bt opened #11488 "Workspace shutting down after the inactivity timeout while actively working"
### Bug description

The workspace has consistently shut down after every 30 minutes (inactive workspace timeout) today even while I've been actively modifying and saving files, and running commands in the terminal.

The workspace should only shut down after 30 minutes of inactivity, not while I'm actively typing in the terminal window.

This occurs both while running the workspace in the web brow

[2022-07-19 23:18] sagor999 commented on #10315
need to redo the fix, as #11419 was reverted due to introduced bug.

[2022-07-20 03:55] #11440 closed

[2022-07-20 04:14] jeanp413 commented on #11440
Released version `0.0.43` fixing this so it's backwards compatible

[2022-07-20 07:48] #10757 closed

[2022-07-20 08:52] felladrin commented on #11441
I'm closing this issue because JetBrains Gateway 2022.2 will soon become the stable version, and users will be asked to update.

The current solution for people who requires using JetBrains Gateway 2022.1 is to use the Stable version of JetBrains IDEs. However, if there's no restriction, we recommend upgrading to JetBrains Gateway 2022.2.

[2022-07-20 08:52] #11441 closed

[2022-07-20 09:22] akosyakov commented on #11488
@dlabak-bt Could you please send to [support@gitpod.io](mailto:support@gitpod.io) affected workspace ids and when it happened. As well which interfaces did you use? VS Code Browser/Desktop, any JB IDE or direct SSH?

[2022-07-20 09:23] akosyakov commented on #11488
I removed from scheduled, see the issue does not have any troubleshooting information.

[2022-07-20 09:34] akosyakov commented on #11488
Just discussed with @iQQBot that in VS Code Desktop there is no heartbeating if a user only works with terminals and does not do any other UI actions, like typing in the editor. In VS Code Browser it is not the case though.

[2022-07-20 09:35] laushinka commented on #11483
Thanks for the designs!
@gtsiolis @jldec If paginated, how many results do we want to show per page?

[2022-07-20 09:48] lucasvaltl opened #11492 "No error/feedback if workspace resource request are misconfigured"
### Bug description

When I set my workspace resource request to a value that is not feasible (i.e. higher than what the nodes used have capacity for), I get no feedback whatsoever - but all my workspaces are stuck in "preparing workspace". This behaviour was observed in Self-Hosted (version 2022.06.1) but likely also applies to SaaS. See [loom](https://www.loom.com/share/cdf7b91e37004537b2bb2014a

[2022-07-20 09:54] gtsiolis commented on #11483
@laushinka, 20 is usually a good starting point for pagination that makes sense, but also depends on the context.

However, I'd say **let's go with 10**, which is also a common approach, for brevity following our approach with other product areas like the workspaces list (see inactive workspaces grouping, etc) and given the upcoming **collapsible component** to be added on each entry and the poten

[2022-07-20 10:12] mustard-mh opened #11494 "A package to share code between openvscode-server and gitpod-vscode-desktop etc"
Right now we have some similar/same code between [openvscode-server gp-code/main branch](https://github.com/gitpod-io/openvscode-server/tree/gp-code/main) and [gitpod-vscode-desktop](https://github.com/gitpod-io/gitpod-vscode-desktop).

We need an extra package for code sharing

[2022-07-20 10:32] gtsiolis opened #11495 "Add usage page empty state"
### Problem to solve

In the upcoming changes for adding usage pages, the default page layout will contain no usage data for new teams.

### Proposal

A boring (simple) solution would be to use a similar empty state as other product areas.

However, this is a good opportunity to:
1. Nudge users about usage-based pricing (UBP) for teams or individuals.
2. Link back to team billing for team owners.

[2022-07-20 10:58] gtsiolis commented on #11404
Posting for visibility after discussing with @AlexTugarev and @jldec, we're going to:
1. Surface a modal blocking workspace start when spending limit is reached
2. Possibly allow switching back usage attribution to user's personal account credits.
3. Link to billing when usage credits have been used.

Later on, we could ad-hoc allow resolving the issue for individuals users by allowing them to add

[2022-07-20 11:00] #11350 closed

[2022-07-20 11:23] #11347 closed

[2022-07-20 11:23] laushinka commented on #11483
Agree! I also thought 10 is a good start. For now we're doing the pagination in the client instead of the server, so once the data is loaded, going through the pages takes no time at all.

[2022-07-20 11:24] gtsiolis opened #11498 "Improve usage attribution for usage-based pricing in user settings"
### Problem to solve

In the upcoming changes for the usage-based pricing (UBP), we'd like to allow users to change their usage attribution from their personal account to a team they are a member of.

Currently, we've only shipped an [MVC](https://www.notion.so/gitpod/Core-Values-Differentiators-2ed4c2f93c84499b98e3b5389980992e#0c2e0d6c8a99404b97ccdc206b573d72) for this in user settings under **[/

[2022-07-20 11:28] laushinka commented on #11483
Exactly.

[2022-07-20 12:19] antcooper commented on #965
+1

I would like a way to send emails from a Gitpod environment. I use it for building websites (LAMP stack) and for some ecommerce projects need to be able to test transactional emails for order confirmation, forgotten password etc. Thanks

[2022-07-20 12:20] josepjaume commented on #9017
Brilliant idea 🤩! It'd be ideal for us (Factorial) as an organization. We have some stakeholders in product who don't use Gitpod (or GitHub for that matter) but would like to review the work we do in branches. We're managing to do this right now by creating workspaces for them and sending the URLs, but of course, expiry times are an issue, as well as having to go through us. Streamlining this woul

[2022-07-20 14:50] geropl commented on #11422
@pyx900 As a workaround you should be able to log out and login again to update that name. If that does not work, please open a separate bug report.

The parts about branch names I'd like to close in favor of #5683. 👍

[2022-07-20 14:50] #11422 closed

[2022-07-20 14:54] geropl commented on #11399
@jenting Could you elaborate on what the actual problem is here? The fact that we're querying the DB when deregistering the cluster? Or that you feel the numbers aren't correct? If it's the latter: What was the number you expected to see? E.g. in the cluster/by asking ws-manager?

[2022-07-20 15:00] geropl commented on #11327
@kylos101 Retries were introduced to cope with the fact start on a given workspace cluster might fail, but maybe another one is available to serve it.

Would it be ok to ensure not to re-try the same cluster here? 🧘

[2022-07-20 15:08] geropl commented on #11097
Cannot reproduce as well. 😕

[2022-07-20 15:08] #11097 closed

[2022-07-20 15:13] geropl commented on #11248
@szab100 I agree that the status and message we display is confusing.

I think that's fine, because image builds and prebuilds are foundamentally decoupled, and images might be reused my n prebuilds, so not taking that time into account IMO makes sense.

Technically, PENDING also make sense from the perspective of the prebuild, because it's waiting for the image build to finish. But we definitely

[2022-07-20 15:18] geropl commented on #10961
@iQQBot That looks like an interesting lead: https://github.com/gitpod-io/gitpod/issues/11327

I think ownerToken is a workspace concern, and I don't see immediate need to persist it. Instead, we should make sure that we don't properly propagate ownerToken to the browser (if possible).

[2022-07-20 15:49] samuel025 commented on #11364
try deleting your database and migrations folder. Then migrate and run

[2022-07-20 16:22] jimmybrancaccio commented on #8420
This would have been helpful to have had in `cnv_jkhffwq`.

[2022-07-20 18:18] jeanp413 commented on #10477
@M-Gonzalo  could you try the following and let me know if that works or not :pray:
- update your vscode settings.json with `"gitpod.remote.useLocalApp": false` or install the pre-release version of `gitpod-desktop` extension
- configuring your [ssh keys in Gitpod](https://gitpod.io/keys) before trying to connect again

![image](https://user-images.githubusercontent.com/25115070/179345479-c330312f

[2022-07-20 20:54] #10990 closed

[2022-07-20 21:03] blueberrymuffin3 commented on #11328
@MrSimonEmms are you able to test accessing the app through VSCode browser instead of through localhost (i.e. 3000-workspace-name.ws.example.com)?

[2022-07-20 21:31] dlabak-bt commented on #11488
I always go back to the web dashboard and click “open in vscode desktop”.

Today, the new workspace is working normally (not shutting down) and I’m following the same procedure that I followed yesterday.

From: Jean Pierre ***@***.***>
Sent: Wednesday, July 20, 2022 3:21 PM
To: gitpod-io/gitpod ***@***.***>
Cc: Labak, David ***@***.***>; Mention ***@***.***>
Subject: Re: [gitpod-io/gitpod] Workspa

[2022-07-20 22:21] nkeenan38 opened #11510 "Project Named "billing" Can't Be Managed in Dashboard"
### Bug description

In the dashboard, a team's projects can be managed under `https://gitpod.io/t/<team>/<project>`. Team Billing settings are managed under `https://gitpod.io/t/<team>/billing`. If a project is added named `billing`, then that project's settings cannot be managed due to the conflict with the Team Billing page.

### Steps to reproduce

1. Create a new team.
2. Create a new project

[2022-07-20 23:55] sagor999 opened #11511 "[ws-manager] not checking snc.InitWorkspace error in some cases"
### Bug description

https://github.com/gitpod-io/gitpod/blob/b9db8b349b767a77175ded388d898d56dd3ac165/components/ws-manager/pkg/manager/monitor.go#L867

this err is not checked in all cases.

### Steps to reproduce

happens during node scale up and prebuilds that were pending land on that node

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_N

[2022-07-20 23:56] sagor999 opened #11512 "[ws-manager] connectToWorkspaceDaemon does not check that daemon is ready"
### Bug description

https://github.com/gitpod-io/gitpod/blob/b9db8b349b767a77175ded388d898d56dd3ac165/components/ws-manager/pkg/manager/monitor.go#L849

this function does not check that daemon is live and ready to serve traffic

### Steps to reproduce

happens when nodes are scaled up

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No respon

[2022-07-21 00:01] aledbf opened #11513 "Add initContainer to workspace pods to ensure we can reach ws-daemon"
## Is your feature request related to a problem? Please describe

When the autoscaler adds a node, `ws-daemon` starts and in some edge cases the workspace can start and not be able to reach `ws-daemon` because the socket is not mounted in the pod (timeout of 2m)

## Describe the behaviour you'd like

Wait until the workspace can reach `ws-daemon` port to start the `workspacekit` ring0

[2022-07-21 00:06] aledbf opened #11514 "Refactor ws-daemon postStart hook"
## Is your feature request related to a problem? Please describe

After ws-daemon starts and pass the readinessProbe, we update the node labels that enable the scheduling of workspaces. In some edge cases, the `store` in `ws-daemon` is not ready and can introduce an issue creating the socket inside workspaces that are being created. The issue creates pods that timeout because cannot reach ws-daemo

[2022-07-21 01:34] #11512 closed

[2022-07-21 02:17] jenting commented on #11513
Related to #9536

[2022-07-21 02:20] jenting commented on #10624
Related to #11336

[2022-07-21 02:33] jenting commented on #11399
Well, the problem is that we run the werft job `workspace-cluster-delete` to tear down the cluster, and it displays the 2 instances are still running. However, after running the SQL query command to the production DB directly, it displays that 10 workspace works are in a stopping _or_ stopped state.

We are not sure whether the problem is the code bug _or_ we query the wrong SQL command to the pro

[2022-07-21 07:08] easyCZ commented on #10985
This is now complete.

[2022-07-21 07:08] #10985 closed

[2022-07-21 07:46] MrSimonEmms commented on #11328
I normally use VSCode Desktop, but I've tried it in-browser as well - the results are the same between the two. I'm using the [live preview extension](https://marketplace.visualstudio.com/items?itemName=ms-vscode.live-server) for the test.

On Gitpod.io, I get:

[code]

On my self-hosted instance, I get:

[code]

These are different to what you get through a [full browser](https://github.com/gitpo

[2022-07-21 07:46] #11328 closed

[2022-07-21 07:57] lucasvaltl opened #11521 "How to configure storage and retention policies for Gitpod"
Right now, we give little guidance towards how to best set up your storage in order to get the best out of gitpod but not pay too much on storage costs. This is a lot about how much data to retain and for how long. Some if this will likely depend on user preference.
Questions:
- Guidance on how much to retain for how long
- We should also speak to in-cluster vs. external storage. If using in-clust

[2022-07-21 08:16] mustard-mh commented on #10477
I'll close this issue, feel free to re-open it if it happens again

[2022-07-21 08:16] #10477 closed

[2022-07-21 08:17] gtsiolis commented on #11510
Nice catch, @nkeenan38! I remember running into this a similar issues back in https://github.com/gitpod-io/gitpod/issues/5516.

[2022-07-21 08:23] danielbraun89 commented on #1305
In github codeapaces:  Ctrl+P -> rebuild container.
Why does it have to be so difficult to implement in gitpod?  Also why is this marked as stale with no option to reopen? Your stale bot is way too aggressive

[2022-07-21 08:31] gtsiolis commented on #1305
Thanks @danielbraun89! We're currently working on this. You can track all progress in the epic https://github.com/gitpod-io/gitpod/issues/7671 which is currently planned for Q3'2022. Cc @andreafalzetti @loujaybee

[2022-07-21 10:52] #11483 closed

[2022-07-21 10:52] #11285 closed

[2022-07-21 10:53] laushinka commented on #10328
We can close this as all tasks have been completed.
There will still be more iterations on the UI - this will be tackled in follow-up issues.

[2022-07-21 10:53] #10328 closed

[2022-07-21 11:10] laushinka commented on #11495
Thanks for creating the issue, @gtsiolis!
We can also do the nudging [this way](https://gitpod.slack.com/archives/C02EN94AEPL/p1658312100766029?thread_ts=1658306651.019699&cid=C02EN94AEPL). Let me know what you think.

[2022-07-21 11:41] gtsiolis opened #11526 "Allow users to switch between months and update usage page sidebar designs"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/11481, the sidebar in the new usage page does not support switching between other periods (months).

### Proposal

| Sidebar | Sidebar (Dropdown) |
|-|-|
| <img width="500" alt="Sidebar-1" src="https://user-images.githubusercontent.com/120486/180205291-08396083-a9f0-4370-a303-64fbbcd5998a.png"> | <img width="500" alt=

[2022-07-21 11:52] gtsiolis opened #11527 "Update usage page colors in dark theme"
### Problem to solve.

Following up from https://github.com/gitpod-io/gitpod/pull/11481, the new usage page contains a table and a new sidebar design that does not render well in dark theme regarding color accessibility and information hierarchy.

| Light Theme | Dark Theme | Dark Theme (Table Hover)
|-|-|-|
| <img width="1440" alt="Screenshot 2022-07-21 at 2 50 17 PM (2)" src="https://user-images

[2022-07-21 11:56] gtsiolis opened #11528 "Update usage page colors and styles for the table content"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/11481, the new usage page table contains data that lacks proper layout, alignment, colors and more to create good information hierarchy.

| CURRENT | DESIGN SPECS |
|-|-|
| <img width="1440" alt="Screenshot 2022-07-21 at 2 50 17 PM (2)" src="https://user-images.githubusercontent.com/120486/180207873-de3dfa9e-6396-4e43

[2022-07-21 12:09] geropl commented on #11214
@kylos101 Do you recall what exactly was the case here? Is this about workspaces that have no content attached to it? :thinking:

[2022-07-21 12:15] geropl commented on #11188
So far we never supported opening Wikis in the first place so this is a feature request.

And while I understand the motivation and benefit, I don't think it makes sense to keep this issues around, because it's not in our current focus and we have to prioritize what we work on. 🧘

[2022-07-21 12:15] #11188 closed

[2022-07-21 12:21] gtsiolis opened #11530 "Improve pagination layout, design, and structure"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/11481, we need to update the pagination component. Some UX issues currently involved include:
1. Lack of proper disabled button states, see Previous and Next at the first or last page.
2. Lack of proper default, hover, and active states on buttons.
3. Lack of truncation when pages are more than what we can show.
4. ..

[2022-07-21 12:27] geropl commented on #6731
I can certainly see the value in having such a config. And it might make sense to start out with having in on team level.
Still, I wonder how this might actually look like, and how's responsible for maintaining those, and feel we might at least have a short discussion about this. /cc @jldec

[2022-07-21 12:30] geropl commented on #11121
I'm in favor of closing this for now, until we got rid of it entirely.

[2022-07-21 12:30] #11121 closed

[2022-07-21 12:42] gtsiolis opened #11532 "Limit usage access only to owners"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/11481, we probably need to limit access to the new usage page to team owners in the first iteration, as discussed with @jldec and @laushinka earlier today.

This is also breaking the UX for members, see screenshots below.

See also [relevant discussion](https://gitpod.slack.com/archives/C027AUU7BC3/p1658402047179849)

[2022-07-21 12:53] nandajavarma opened #11533 "Sync AWS `terraform` module with reference architecture"
TODOs:
- [ ] Update EKS terraform module to use s3 access policy in EKS reference architecture
- [ ] Update the security group permissions for EKS module
- [x] Update the disk size for the EKS module PR open here https://github.com/gitpod-io/gitpod/pull/11536

[2022-07-21 12:53] nandajavarma opened #11534 "Sync Azure `terraform` module with reference architecture"
## TODOs

- [ ] Update the `get-kubeconfig` in tests for azure to use terraform output

[2022-07-21 12:53] nandajavarma opened #11535 "Sync GCP `terraform` module with reference architecture"

[2022-07-21 12:58] #11065 closed

[2022-07-21 13:13] #11280 closed

[2022-07-21 13:15] geropl opened #11537 "We cannot reliably know the status of an image-build"

[2022-07-21 13:17] #11537 closed

[2022-07-21 13:21] geropl commented on #10864
I'd like to close this as symptom of #10134

[2022-07-21 13:21] #10864 closed

[2022-07-21 13:22] geropl commented on #10773
@gtsiolis Any thoughts on this?

[2022-07-21 13:26] geropl commented on #10747
@gtsiolis pinging you for awareness. I feel it would be nice to have a general solution for all our pages - even if it's suboptimal, e.g. like adding a scrollbar.

[2022-07-21 13:29] akosyakov commented on #10849
Try to add the following task in your .gitpod.yml:
[code]

[2022-07-21 13:32] akosyakov commented on #10849
Thank you for the feature request, as a workaround try to add a task in .gitpod.yml like:
[code]

It won't happen each time when a port is served but only once on first client to connect.

[2022-07-21 13:37] geropl commented on #10411
@lpmi-13 I tried to reproduce, but can't: https://github.com/geropl/domain-like.repo.io/tree/add_option works as expected, as well as the URL you provided 😕
Please re-open if you have a way to re-produce! 👍

[2022-07-21 13:37] #10411 closed

[2022-07-21 13:39] jimmybrancaccio opened #11538 "Improve Verbiage and Next Steps When Workspace Process Has Trouble Using a Container Image Specified in .gitpod.yml"
## Is your feature request related to a problem? Please describe

When a user has specified a container image to use for their workspace within their repositories `.gitpod.yml` file and the image either doesn't exist, requires some sort of authentication to access, or there's some other issue that prevents it from being used we show a rather generic error message. On the page which displays this e

[2022-07-21 13:42] geropl commented on #10310
@WilianZilv Gitpod does not store env vars bceause we're proponents of "dev environment as code".
Did you look into move that environment variable into one of these locations:
 - Dockerfile
 - .gitpod.yaml
    ![Image](https://user-images.githubusercontent.com/32448529/180228033-4987121d-8ac8-4e52-8670-0a6edfc1d9d3.png)
 - Project Env var
![Image](https://user-images.githubusercontent.com/32448529

[2022-07-21 13:42] #10310 closed

[2022-07-21 13:46] gtsiolis commented on #10747
Thanks for noticing, @FabienTregan! 👀

:a: Using a scrollbar area in the modal would be great and has been needed in the past, see https://github.com/gitpod-io/gitpod/issues/3829. Sounds also like a good [skateboard](https://www.notion.so/gitpod/f7f54cb1c69643e9ac42c9f2ddd9e46f) and boring (simple) solution, towards improving the overall responsive design of the dashboard (https://github.com/gitpo

[2022-07-21 13:47] gtsiolis commented on #3829
Closing this in favor of https://github.com/gitpod-io/gitpod/issues/10747 which contains more relevant information and two potential proposals for resolving this issue, see https://github.com/gitpod-io/gitpod/issues/10747#issuecomment-1191506907. Cc @kevinadhiguna

[2022-07-21 13:47] #3829 closed

[2022-07-21 13:55] mrsimonemms opened #11539 "Add minimum cert-manager version to reference architectures"
Since [#11524](https://github.com/gitpod-io/gitpod/pull/11524), there is now a hard requirement on a minimum version of [cert-manager](https://cert-manager.io/). As we use the [secretTemplate](https://cert-manager.io/docs/usage/certificate/#creating-certificate-resources), the minimum version is v1.5.0.

At the time of writing, the latest published version is v1.8.2

[2022-07-21 14:55] geropl commented on #10247
I agree with the goal (make admin pages useful for Self-Hosted users) but I feel SaaS has a legitimate need as well. 🙃

I'd be even happier if we:
 - could shift the perspective from "not relevant" and "separate" to "how to selectively display data and options based on context (Self-Hosted + SaaS)"
 - frame this request (and others with a similar direction) in the wider context of "Make Admin Dash

[2022-07-21 14:57] geropl commented on #10253
Moved to Team Workspace because of the reading of git status in multiple repositories.

[2022-07-21 15:51] AlexTugarev commented on #10065
It's this issue https://github.com/gitpod-io/gitpod/issues/10932.
I couldn't find the cause on our end, but instead learned about issues with the renewal process on Gitlab side when the refresh token is fairly old. 'Spent too much time on this :-(

[2022-07-21 16:00] #10021 closed

[2022-07-21 18:08] jimmybrancaccio opened #11545 "Improve Page Displayed to User When a Workspace Cannot Start From a Snapshot Due to the Snapshot Not Existing"
## Is your feature request related to a problem? Please describe

When I attempt to spin up a workspace using a snapshot URL that was provided to me and the snapshot does not exist I am shown an error about a timeout and "last backup failed: cannot find workspace during DisposeWorkspace.". I also see the 'Go to Dashboard' button and a 'Start Workspace' button. This isn't to helpful as clicking on

[2022-07-21 19:52] sagor999 commented on #11513
Spoke to @aledbf
His PR #11540 should fix this issue, as adding initContainer that would talk to ws-daemon is not as straight forward as we thought it would be (network policy (can't just curl ready probe from outside), rbac complications(cannot check daemon`s pod ready state from inside init container as that would require giving workspace access to list pods :grimacing: ).

[2022-07-21 19:52] #11513 closed

[2022-07-21 23:22] #11514 closed

[2022-07-21 23:39] dignakov commented on #7608
Just discovering gitpod and this feature, being able to select a branch would be very helpful (maybe even essential).

[2022-07-22 03:07] kunxin-chor opened #11551 "Site cannot be reached"
### Bug description

When attempting to open a workspace in Gitpod, or access a shared workspace, we get the _This site can't be reached_ error
![site-cannot-be-reached](https://user-images.githubusercontent.com/14900791/180353967-40b75b81-f0b1-4645-9964-1a17e3dd8149.PNG)

This seems to be the issue with the internet connection at the site as if we switch to another network Gitpod works with no is

[2022-07-22 05:53] #11284 closed

[2022-07-22 06:32] geropl commented on #10209
This sounds like a temporary issue. With our (preliminary) webhook events table we should be able to pinpoint such issues in the future. 👍

@jldec I will close this for now as I don't now how to action it; please re-open if this happens again! 🙏

[2022-07-22 06:32] #10209 closed

[2022-07-22 06:41] geropl opened #11552 "Prebuilds: Display time spent per phase (incl. image build + load time)"
## Is your feature request related to a problem? Please describe

Currently, users only have very limited information about a given Prebuild, although they have a direct interest to learn about the behavior and to optimize it.

## Describe the behaviour you'd like
Prebuild details should include:
 - time per phase during prebuild execution
 - incl. time per image build (if required)
 - incl. time

[2022-07-22 06:46] geropl commented on #11248
Could not agree more. :upside_down_face:  All of this information is valuable to users, and should definitely be displayed. I think it's worth having a [separate feature request](https://github.com/gitpod-io/gitpod/issues/11552) for that. :100:

Next weeks self-hosted release will come with a bunch of improvements to the prebuilds/image builds process, which I think should fix this behavior. Note

[2022-07-22 07:12] shandou commented on #1776
I am running into the same issue. Why is this issue closed without a resolution? Thank you!

[2022-07-22 07:38] andreafalzetti opened #11557 "Investigate increase of InstanceStartFailures"
### Bug description

Today I was paged 3 times in a few hours for `InstanceStartFailures` at the following times:

- [8:01 am GMT+2 (22/07/2022)](https://gitpod.pagerduty.com/incidents/Q27ZN74YVD4ZLE)
- [9:06 am GMT+2 (22/07/2022)](https://gitpod.pagerduty.com/incidents/Q1HO75MF14E1NW)
- [10:49 am GMT+2 (22/07/2022)](https://gitpod.pagerduty.com/incidents/Q037I4YHGW3P5J)

By looking at the [Grafan

[2022-07-22 07:44] akosyakov commented on #10692
I'm closing it, please follow https://github.com/gitpod-io/gitpod/issues/10692#issuecomment-1165843068. In the future it is going to become a default.

[2022-07-22 07:44] #10692 closed

[2022-07-22 07:45] akosyakov commented on #7458
For stable version you can configure `"gitpod.remote.useLocalApp": false` in your settings.json.

[2022-07-22 08:07] jenting commented on #10531
Okay, the problem is that we depend on the workspace Pod annotation `gitpod.io/disposalStatus` to determine the workspace state changes from STOPPING to STOPPED.
https://github.com/gitpod-io/gitpod/blob/e0579ef9388cee0c4c7a2c85588683167e0cb0f7/components/ws-manager/pkg/manager/status.go#L394

In the scenario, the workspace pod is forced to remove the finalizer before the volume snapshot is ready t

[2022-07-22 08:29] loujaybee opened #11559 "Optimise VS Code Desktop onboarding (with SSH public key)"
Recent changes to use upload SSH public key leaves us with opportunities to better guide the user when opening VS Code Desktop for the first time, e.g. encouraging the user to upload a public key, etc. This issue is to capture these improvements.

[2022-07-22 08:41] akosyakov commented on #9897
@krise86 If you can provide a repo to reproduce with steps it would help please? 🙏

[2022-07-22 09:22] atduarte commented on #10531
@jenting given this issue pertains to many different scenarios, and is being discussed for almost 2 months, could you please keep the description of the issue up to date with a summary of the conclusions? It will help others not involved in the conversation from the start to contribute 🎈

[2022-07-22 09:59] atduarte opened #11561 "Image upload fails with 413 (request entity too large)"
### Bug description

image-builder in 2022.6.1 (Self-Hosted) is failing to upload specific image layers, as it return a error 413 (request entity too large).

Rolling back to 2022.5.1 solves the issue.

### Steps to reproduce

[Internal Slack Thread](https://gitpod.slack.com/archives/C02JV0QE45S/p1658463645098329?thread_ts=1657259254.371779&cid=C02JV0QE45S)

### Workspace affected

_No response_

[2022-07-22 10:38] #11495 closed

[2022-07-22 11:08] AlexTugarev opened #11566 "Prebuilds for GHE are not authorized for non-owner commits"
### Bug description

We've just learned about a major flaw in GHE prebuild support which blocks all prebuilds from execution if the commit was pushed by anyone other than the webhook installer. In general it seems that the commit "sender" is used to authorize the prebuild in Gitpod, cf.

https://github.com/gitpod-io/gitpod/blob/85dfa458c47b5b30dd7843915212e25ebf67892d/components/server/ee/src/preb

[2022-07-22 11:14] laushinka commented on #11526
Hope you don't mind I reordered the wording to show the main task first 🙏🏽

[2022-07-22 11:19] gtsiolis commented on #11526
Thanks, @laushinka! PERMISSION TO EDIT: ALWAYS ON 🏀

[2022-07-22 11:33] #6707 closed

[2022-07-22 11:34] loujaybee commented on #6707
Thanks @andreafalzetti, yeah we were just monitoring some data. Gitpod now asks for preferred IDE for users who have not selected a default, after this point users can then change the selection freely from user preferences.

<img width="698" alt="image" src="https://user-images.githubusercontent.com/5528307/180431008-5f603c3a-e727-40f2-921f-3c045127afdf.png">

[2022-07-22 13:13] easyCZ opened #11572 "Usage view is only available for users on Usage Based Billing, disabled for Chargebee"
When a user/team is on a Chargebee plan, it should receive no Usage View data, and should be told that the Usage view is only available for users on the Usage Based Plans.

[2022-07-22 13:13] easyCZ opened #11573 "Usage view is only available for users on Usage Based Billing, disabled for Chargebee"

[2022-07-22 13:13] #11573 closed

[2022-07-22 13:39] AlexTugarev opened #11574 "Add Project.prebuildAuthorizedUser"
Issues like https://github.com/gitpod-io/gitpod/issues/11566 arise from the fact that the authorized user is not related to a project and when a push event is processes, it's not easy to find the account/credentials to run a prebuild with.

Since we introduced the Project as an umbrella for repositories and prebuild configuration, we may consider using it to persist a source of credentials (abstra

[2022-07-22 13:49] AlexTugarev opened #11575 "Refine Spending Limit modal"
A followup to https://github.com/gitpod-io/gitpod/issues/11401 as https://github.com/gitpod-io/gitpod/pull/11508 added just a simple version of the Spending Limit modal w/o the unlimited setting.

<img width="622" alt="Screen Shot 2022-07-22 at 15 46 02" src="https://user-images.githubusercontent.com/914497/180452506-e2139072-19d3-40f3-b7fa-1800a0590b58.png">

Here's a link to [the user story](htt

[2022-07-22 13:52] AlexTugarev commented on #11401
Created another issue for UI refinements as a follow-up.
https://github.com/gitpod-io/gitpod/issues/11575

[2022-07-22 13:52] #11401 closed

[2022-07-22 14:27] jldec opened #11578 "Avoid accumulating large amounts of webhook event data in d_b_webhook_event"
Followup to PR #11356

The JSON for raw events in `d_b_webhook_event` is quite large - and events will accumulate fast. Let's reduce the data which is retained long term, and avoid storing information which is never relevant to prebuilds.

[2022-07-22 14:28] easyCZ opened #11579 "Adjust usage attribution to prompt users when attribution is ambiguous"
In order to correctly attribute usage to either user or a team, we need to update our Workspace Instance attribution logic.

An `usageAttributionid` should always be set on a `WorkspaceInstance`, irrespective if the installation is SaaS or Self-hosted.

The logic to determine the `usageAttributionId` is as follows (in order of priority):
1. The user has made an explicit choice in their user settin

[2022-07-22 14:43] gtsiolis commented on #11579
@easyCZ Is this related to a different problem to solve from https://github.com/gitpod-io/gitpod/issues/11498?

[2022-07-22 14:46] easyCZ commented on #11579
@gtsiolis You've found this before I finished writing the description :)

It's related to the same problem. This focuses more on the backend logic but I think we can merge, tho the backend is likely needed a lot sooner than we can realistically do the UI changes.

[2022-07-22 14:51] geropl commented on #11172
We never got any negative feedback again after rolling out #11190, so assuming it's fixed for now.

[2022-07-22 14:51] #11172 closed

[2022-07-22 14:58] aledbf commented on #11327
Closing. Fixed in https://github.com/gitpod-io/gitpod/pull/11547

[2022-07-22 14:58] #11327 closed

[2022-07-22 14:58] geropl commented on #10087
I'm adding this not because we're going to action it soon, but it's a valid feature request 💯 .

[2022-07-22 15:13] adrienthebo opened #11581 "Document load balancer requirements more clearly"
Gitpod services (specifically HTTPS and SSH) are exposed to the outside world via load balancers; however we don't document this dependency at a high level on the [Gitpod installation prerequisites](https://www.gitpod.io/docs/self-hosted/latest#prerequisites-to-install-gitpod-self-hosted). In addition our reference architectures give brief setup instructions for load balancers but don't indicate s

[2022-07-22 15:17] SecludedL commented on #9036
Hello! We are a company using Gitpod Unleashed and would certainly be open to paying per usage (and pay more) if we could remove timeouts in certain situations (especially the 2/3-minute timeout triggered when someone closes the browser).

To explain our scenario and why we'd be open to pay for usage: we currently use Gitpod to deliver our coding tests to candidates. As we can't give them direct a

[2022-07-22 15:31] Furisto opened #11583 "Dashboard source workspace class names dynamically from server"
## Is your feature request related to a problem? Please describe
Support https://github.com/gitpod-io/gitpod/issues/8261

## Describe the behaviour you'd like
Workspace classes are currently hard coded in the dashboard component. Instead server should provide an endpoint that dashboard can use to retrieve the supported workspace classes.

[2022-07-22 16:27] atduarte commented on #9038
"Tab close timeout" is also an issue at times: https://github.com/gitpod-io/gitpod/issues/9036#issuecomment-1192679511

[2022-07-22 16:35] Phxntxm opened #11585 "User defined bash_aliases"
## Is your feature request related to a problem? Please describe

No, not a problem. This is purely a QOL change, but a very nice one to have IMO

## Describe the behaviour you'd like

I'd like there to be user settings where you can define aliases that will be thrown into any workspace you want (or possibly scoped to specific ones, similar to how environment variables have scope).

## Additional

[2022-07-22 17:09] gtsiolis opened #11586 "Improve spending limit alert notification"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/11556, the alert notification introduced could be improved in the following ways:
1. Update copy bringing in clarity for the spending limit. Maybe add a help link to docs if needed.
2. Provide a clear call-to-action (CTA) for users who see this alert.
3. Consider persisting the alert by making it non-closable.
4. Cons

[2022-07-22 17:16] gtsiolis opened #11587 "Improve usage page design when no data is present (empty state)"
## Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/11554 (Cc @laushinka @easyCZ @jldec), the usage page empty state could benefit from the following changes:
1. Reused the existing pattern and design of the empty state used elsewhere in the product, see screenshots below.
2. Update the empty state copy for better clarity. What are sessions, how can you check with other

[2022-07-22 17:24] gtsiolis commented on #11532
Closing as https://github.com/gitpod-io/gitpod/pull/11554, implemented a no access placeholder for team members. Cc @laushinka @easyCZ @jldec

[2022-07-22 17:24] #11532 closed

[2022-07-22 17:55] gtsiolis opened #11588 "Consider hiding usage tab for team members who are not owners"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/11554 (Cc @laushinka @easyCZ @jldec), the usage tab is currently visible to all team members regardless their role. However, access to non-owners is restricted, and the usage tab currently included a no access placeholder.

Issues with the current approach:
1. The application feels like something broke without providi

[2022-07-22 18:12] jimmybrancaccio commented on #11423
I've gotten at least 2 support tickets about this issue over the last few days. When investigating today I determined there appears to be a limit of 3 snapshots per workspace. I am not sure if this is something new we've implemented but it is causing issues for customers in turn tickets for support.

[2022-07-22 18:28] atduarte commented on #11423
@jimmybrancaccio I’m not entirely sure both issues (limit of 3 and hanging) are 100% related. Does it hang for you after the 3?

@nemanjam does this happen in all workspaces? Even if you start a new one?

[2022-07-22 18:33] jimmybrancaccio commented on #11423
@atduarte Yes, I just tested on a test workspace I have on SaaS. I actually thought it was an issue with `strace` but after looking in Google logs I found the error about hitting the maximum snapshots.

I forgot to leave a link to the [Google logs](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-07-17T12:54:15Z;query=%225f1ec7cb-ad26-4e1e-98f5-55a494c166e9%22%0Atimestamp%3D%222022

[2022-07-23 08:28] luxingxiao opened #11594 "Install Gitpod Self-Hosted failed"
### Objective

When I install gitpod in a self-built kubernetes cluster, it fails, and the installation is blocked in the "Waiting for datastore to be ready" stage. Describe pod found the following errors: 1 pod has unbound immediate PersistentVolumeClaims.

[2022-07-23 09:33] geropl opened #11595 "SEO: "no information for this page" (when logged in)"
Context:
 - prior issue: #9607
 - old discussion: [internal link](https://gitpod.slack.com/archives/C01KGM9ETU6/p1652422933278919?thread_ts=1651131209.453549&cid=C01KGM9ETU6)
 - latest discussion: [internal link](https://gitpod.slack.com/archives/C01KGM9ETU6/p1658115383569539)

[2022-07-23 09:47] sebastianjung commented on #8623
making vscode workspace files work with this would be great. Otherweise having both folder in the workspace by opening the parent folder would be an option too. For me at least.

[2022-07-24 02:36] TakehideSoh commented on #11423
I am one also encountering his issue.

[code]
From 2020

[2022-07-24 05:35] singhsidhukuldeep opened #11599 "GPU support for Data Science / ML work"
## Is your feature request related to a problem? Please describe
I have to port my code everytime I want to check functionality with GPUs

## Describe the behaviour you'd like
I would like an option to have Nvidia GPU attached gitpods

## Describe alternatives you've considered
I have a gaming laptop 😂

## Additional context
State of the art Data science development is very bound by compute. It wo

[2022-07-24 09:55] arusa commented on #1456
I'm currently waiting since 10min on "Pulling container image …"

[2022-07-24 13:39] gkramer commented on #11478
@balajib-b GitPod explicitly does not support arm64 yet, see:

spec:
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
        - matchExpressions:
<snip>
          - key: kubernetes.io/arch
            operator: NotIn
            values:
            - arm64

Question to the team: When will this be supported? [Today will be the first time

[2022-07-24 15:47] aledbf commented on #11599
Closing. Please follow the EPIC https://github.com/gitpod-io/gitpod/issues/10650

[2022-07-24 15:47] #11599 closed

[2022-07-24 17:10] singhsidhukuldeep commented on #10650
Can't wait to try GPUs. Please update as soon as we can try 😃

[2022-07-25 01:57] mustard-mh opened #11602 "Misleading heartbeat event when use Desktop IDE"
### Bug description

When we use Desktop IDE (VSCode Desktop, JetBrains), socket will sent heartbeat event with `wasClosed=true`, which is misleading

And it may cause workspace stop https://github.com/gitpod-io/gitpod/issues/11602#issuecomment-1193517921

### Steps to reproduce

- Select Desktop IDE
- Open a workspace and see Chrome DevTool Networks tab

See also [internal chat](https://gitpod.sl

[2022-07-25 02:01] mustard-mh commented on #11602
This is caused by we send `wasClosed=true` while browser sent `beforeunload` [event](https://developer.mozilla.org/en-US/docs/Web/API/Window/beforeunload_event)

https://github.com/gitpod-io/gitpod/blob/864214b8c856c14cae9c00bcc440203130cd1669/components/supervisor/frontend/src/ide/heart-beat.ts#L57

But change window's href will ask user to leave browser and trigger this `beforeunload` event

htt

[2022-07-25 02:34] jeanp413 commented on #8465
We have some custom changes in gitpod-code specifically custom menu contribution points (e.g. used to add menu options in help menu) that could make this a little troublesome, we need to test if the extension can activate even if this contributions points are not preset otherwise commenting/uncommenting these while developing will be annoying

[2022-07-25 03:06] jenting opened #11606 "Restart the ws-daemon cause the workspace pod sometimes Failed"
### Bug description

Manually restart the ws-daemon `kubectl delete pod -l component=ws-daemon`.
Sometimes the workspace pod goes into a _Failed_ state.

![image](https://user-images.githubusercontent.com/49380831/180682213-d797e72c-e0a1-4920-8c34-caa46f15fff6.png)
![image](https://user-images.githubusercontent.com/49380831/180682202-10468863-bf5b-445b-b7bf-36b117b4d820.png)

Note that, it's not a

[2022-07-25 03:17] david-bakin commented on #10683
And please see my comment here - https://github.com/gitpod-io/gitpod/issues/11455#issuecomment-1188368440 - where I suggest looking inside of custom dockerfiles to see if they need to be rebuilt automagically during prebuilds when the container they're based on changes.

[2022-07-25 03:33] mustard-mh commented on #11602
Once this leave alert is shown and the user closes the browser tab in 2 seconds, the workspace will stop (without new heartbeat)

You can reproduce it easily by use Chrome DevTool with command below (URL is not important, we just want a alert of Desktop APP opening)

[code]

[2022-07-25 03:51] #11154 closed

[2022-07-25 05:24] dey7322 commented on #2137
make a new gitpod account ez

[2022-07-25 06:32] #9282 closed

[2022-07-25 06:49] akosyakov opened #11608 "[code-browser] observability of extension installations and seach"
OpenVSX proxy provides some isolation to us against OpenVSX incidents. Unfortunately we don't really know to which extent. We need to have analytics on errors and latencies of extension installations and search from the perspective of a user. VS Code already provides such telemetry we need to use prometheus push gateway endpoint of the supervisor to observe it. We could start by counting errors on

[2022-07-25 07:30] #10325 closed

[2022-07-25 07:34] easyCZ commented on #11404
I've assigned this to you @AlexTugarev as I believe you've been focusing on this. Please un-assign if this is incorrect.

[2022-07-25 07:53] andrew-farries opened #11609 "Use dashboard `FeatureFlagContext` to retrieve and make feature flags available"
fbdaff0fea added a `FeatureFlagContext` to retrieve feature flags and make them available throughout the UI.

We should move all the feature flags into this context so that for all future feature flags there is a clear example to follow.

- [x] Refactor to extract a `PageWithSettingsMenu` component to make following changes easier (https://github.com/gitpod-io/gitpod/pull/11610)
- [x] Move usage b

[2022-07-25 07:54] easyCZ opened #11611 "Move usage component out of experimental installer config"

[2022-07-25 09:37] Torsten85 opened #11615 "502 error only on self-hosted multi node k3s cluster"
### Bug description

Hello,
I've strictly followed the guide on how to setup a self hosted instance on a multi node k3s cluster.

Everything works (dashboard, image build) until the workspace should be opened. All I see is a 502 error.
Investigating a little further, the `ide-proxy` logs

[code]

So it seems like the blobserve service is not responding.

Doing the whole installation process on a s

[2022-07-25 09:48] atduarte commented on #11561
From @jenting: I tried to find the difference between 2022.05.01 and 2022.06.01, and the only difference was introduced in this [PR](https://github.com/gitpod-io/gitpod/pull/10266).

[2022-07-25 10:23] loujaybee commented on #9262
Adding some feedback from a user in the community.

[2022-07-25 10:41] loujaybee opened #11616 "Make public option + copy link for VS Code Desktop"
We have a proposal to add making a port public to `gp` CLI in:
- https://github.com/gitpod-io/gitpod/issues/10835

However, we also don't have this behaviour in VS Code Desktop. This issue is to investigate this. Current understanding is that we are limited in what we can add, however this should be investigated further.

Related link:
- https://github.com/microsoft/vscode/issues/128820#issuecomme

[2022-07-25 12:28] Explosion-Scratch opened #11620 "Allow more static URLs"
## Is your feature request related to a problem? Please describe
![image](https://user-images.githubusercontent.com/61319150/180776721-c21c4673-02a7-41a4-90d0-6ce1534fde67.png)

## Describe the behaviour you'd like
It would be really nice to have URLs that didn't change for the period that the workspace was open. Maybe multiple workspaces could share a URL when one is dormant as well, for example:

[2022-07-25 13:07] atduarte commented on #11144
In an effort to keep the Inbox tidy and with only actionable work, I will close this in favour of #10861 as the desired outcome is similar. Feel free to reopen if you disagree.

[2022-07-25 13:07] #11144 closed

[2022-07-25 13:53] atduarte commented on #10797
@loujaybee Are there other env vars that you believe should be converted into a `gp` command other than the workspace class / info?

[2022-07-25 13:58] atduarte commented on #10363
Hey @florisvdg! Thanks for opening the issue, it's helpful for me to learn that some people are interested on it 🙂 We are only focused on x86 Linux for now and have no plans to change that, for now.

[2022-07-25 13:58] #10363 closed

[2022-07-25 14:03] atduarte commented on #9314
Given the non-reproducibility and staleness, will close this issue.

[2022-07-25 14:08] #10832 closed

[2022-07-25 14:12] atduarte commented on #9171
It would feel a bit magical to auto-install it, but we could do run a check after the image is built that would warn the user of the problem 🤔 @jankeromnes wdyt?

[2022-07-25 14:28] jankeromnes commented on #9171
Thanks for your response @atduarte!

More magical than what we already do?

I believe auto-installing `git` and `sudo` when necessary to make Gitpod work is a good solution, and it's in-line with our current behavior.

I believe that "using `FROM ubuntu` in Gitpod just works" is a much more valuable proposal for our users than "using `FROM ubuntu` in Gitpod fails, and there is some error message t

[2022-07-25 14:31] #10374 closed

[2022-07-25 14:34] loujaybee opened #11622 "Update changelog template (for pre-release features)"
### Objective

We've recently added an in-product changelog to VS Code, this issue is to update our changelog template to make sure that it highlights pre-release features to test (currently experimental ports view, SSH Gateway in VS Code Desktop)

[2022-07-25 15:04] atduarte commented on #8964
@AuxiliumCDNG thanks for creating the issue. To make sure I didn't miss anything: Your request would be only applicable to self-hosted use cases, right?

[2022-07-25 15:18] AuxiliumCDNG commented on #8964
@atduarte  Yes, a simple toggle on the config page of the kots dashboard that allows or denies the usage of public ports but still allows for private ports would be enough for me...
I don't know how one would use such a feature with your hosted version so it's a purely self-hosted feature in my mind...

[2022-07-25 15:22] atduarte commented on #9283
👋 @gengjiawen! Sorry for taking so long to get to this.

Disk space is limited 10GB in `/` plus 30GB in `/workspace`. A bigger option will be introduced with #8261. In the meantime, there's not much we can do :/

[2022-07-25 15:22] #9283 closed

[2022-07-25 17:30] jimmybrancaccio opened #11626 "Workspace Failing to Start Due To 'metadata.annotations' Too Long"
### Bug description

I received a support ticket today where a customer was unable to start their workspace. After digging [into the logs](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-07-23T09:59:48Z;query=%22bf938941-a5a5-43e1-aad9-a1af9836c11a%22%0Atimestamp%3D%222022-07-23T09:59:48Z%22%0AinsertId%3D%22w4k6r5qcu9dwizci%22;timeRange=P3D?project=workspace-clusters) it seems the

[2022-07-25 19:39] szab100 opened #11628 "slow 'new project' ui widget with large github enterprise instances"
### Bug description

The |Team or persona scope| / Projects / New Project widget has been super slow since the feature's debut when running against large Github Enterprise instances with 10s of thousands of repositories under many-100 git-orgs. Since the current implementation is filtering to show only the repos where the current user has 'admin' permissions only after all pages are fetched and it

[2022-07-25 19:45] szab100 opened #11629 "broken 'new project' widget when octokit/gh-api returns with null item(s)"
### Bug description

GH Enterprise (experienced with v3.3.9) instances (or at least its octokit client library) can contain null elements within the pages returned, therefore this ui widget is broken (basically frozen with no error msg) and preventing self-hosted users from setting up prebuilds for their git repositories.

### Steps to reproduce

This might be related to https://github.com/gitpod-

[2022-07-25 21:24] kylos101 opened #11632 "Add connection observability to workspace pods"
## Is your feature request related to a problem? Please describe

We lack insight to the max # of connections, and the rate in which individual workspaces consume connections.

## Describe the behaviour you'd like

The ability to track both metrics in Prometheus and Grafana.

## Describe alternatives you've considered

Continue observing connections at the node level, without drilling down to the

[2022-07-25 22:48] karpa commented on #7881
We would like to have prebuilt-only variables on projects.
We need to safely add a project variable (e.g a private key) BUT the variable is visible only during prebuild. (Thus not visible to users who work on the project)

[2022-07-26 01:38] utam0k commented on #11357
Who is working on this issue? I think @Furisto?

[2022-07-26 02:23] #10682 closed

[2022-07-26 02:25] JohnPirog-Array commented on #11423
What does this mean - when a limit of 3 snapshots is reached? I have three separate snapshots submitted to me that hang when I try to open them. I cleared out all my workspaces and deleted all inactive workspaces but still get this error trying to open the three snapshots that were submitted to me.

[2022-07-26 03:19] jenting commented on #11020
We still see the Goroutines increase in the us54 cluster. Reopen it.

<img width="1425" alt="image" src="https://user-images.githubusercontent.com/49380831/180915750-3060b29f-8b04-4dc8-adbd-ae24dc0f33c6.png">

[2022-07-26 03:48] jenting opened #11635 "Remove the PVC object if the workspace pod is never been ready"
### Bug description

We found that in some scenarios (eg, the workspace pod in ErrImagePull), the workspace pod never goes into the Running state.
After that, the workspace is stopped, but the PVC object doesn't be deleted.

### Steps to reproduce

No idea, but I saw it in workspace preview that the workspace pod is in ErrImagePull state and then terminating state.

<img width="645" alt="image" sr

[2022-07-26 03:57] #9776 closed

[2022-07-26 04:14] utam0k commented on #9776
@Furisto @aledbf Do you know why we continue to use a rootless mode of dockerd?

[2022-07-26 04:34] kylos101 commented on #11318
@jenting I am going to remove you for now. If you decide to do in the future, please assign yourself back.

[2022-07-26 05:39] singhsidhukuldeep opened #11636 "Intel Neural compressor using intel CPUs"
## Is your feature request related to a problem? Please describe
Can we have an option to spin up gitpod with latest intel CPU?

## Describe the behaviour you'd like
I would like to use Intel® Neural Compressor (formerly known as Intel® Low Precision Optimization Tool)

[System requirements](https://github.com/intel/neural-compressor#system-requirements)

## Describe alternatives you've considered

[2022-07-26 05:40] easyCZ commented on #10785
Investigating this further, the easiest seems to actually introduce the following Services and RPCs:
1. UsageService.CollectUsage()
2. BillingService.UpdateInvoices()
These two are then responsible for performing the respective parts of the control loops, can be invoked remotely but in the common case, are invoked periodically by the cron in the controller.

Doing so also gives us a couple of bene

[2022-07-26 06:12] akosyakov opened #11637 "browser observability of the workspace loading"
We need to have following metrics for the supervisor frontend and the loading screen:
- JS errors rate
- HTTP request errors rate and latencies
- JSON RPC errors rate and latencies

Actual errors should be logged in the browser console and reported to GCP error reporting.

Motivated by [[1](https://gitpod.slack.com/archives/C01KGM9BH54/p1658738324121439)][[2](https://www.notion.so/gitpod/Establish

[2022-07-26 06:25] andreafalzetti opened #11638 "VS Code Release 1.70"
Endgame: https://github.com/microsoft/vscode/issues/156110

Expected release date: 04/08

DRI: @andreafalzetti  @jeanp413
Plan:

- [ ]  Create corresponding release branches for `main` and `gp-code/main`
    - [ ] Create release branch `release/1.70`
    	- Execute the rebase from upstream: `./scripts/sync-with-upstream.sh upstream/release/1.70 release/1.70`
    - [ ] Create release branch `gp-cod

[2022-07-26 06:57] svenefftinge commented on #9036
hey @SecludedL, allowing custom timeouts is one of the main motivations behind going for usage based pricing. So we'll allow that soon. You can follow #9038.

[2022-07-26 07:13] laushinka opened #11640 "Show workspace details in usage list view"
_@jldec updated Aug 9_

Workspace details in a dropdown or inline in each row
Let's increase the page size to 50 for now (https://github.com/gitpod-io/gitpod/pull/12122)

**Must haves**
- usage type: prebuild OR workspace
- class (large / default)
- workspace ID
- repository context (link)
- started date/time (actual) (https://github.com/gitpod-io/gitpod/pull/12123)
- User ID or name

**Nice to ha

[2022-07-26 07:27] akosyakov opened #11641 "Align in-product changelog version with self-hosted installation."
Self-hosted users should see in-product changelog relevant for their self-hosted installation:
- We should align cadence of changelog with self-hosted releases.
- In-product changelog should show the latest changelog for the version of self-hosted release.

Relates to:
- https://github.com/gitpod-io/gitpod/issues/11675

[2022-07-26 07:27] svenefftinge commented on #11640
Looks great, some thoughts I had:
 - some of the header titles don't make sense
 - `project` (instead of `'repository`) should be a top-level property
 - `status` doesn't make so much sense here IMHO
 - `session` would probably confuse users more than it helps. Maybe we omit it and work with workspace id plus started time to reference an instance?
 - "Monthly Usage" could be something like "Usage

[2022-07-26 07:42] SecludedL commented on #9036
Thank you for the prompt response! Will we also be able to remove/extend the timeout for the "tab closed" event?

[2022-07-26 08:24] gtsiolis commented on #11526
For more clarification, the goal of the designs is to provide dropdown options only for the months that the team had active billing months.

This comes with a scalability issue as the list could grow a lot after a year or two, which can be tackled later by either introducing a scrolling area or trimming the list to the last 6 months.

However, in the future, I'd expect this to become clearer by pr