[2021-11-02 13:46] ionutale commented on #6342
I'm interested

[2021-11-02 14:15] jeanp413 commented on #6436
@akosyakov
open-vsx says 1.14.0 is the only published version for `stkb.rewrap`
[code]

[2021-11-02 14:25] akosyakov commented on #6436
@jeanp413 strange why it works in stable, maybe MS code disregards version check, then i think new behaviour is better

[2021-11-02 14:48] shaal opened #6514 "A colon in URL params silently breaks Gitpod interface in VSCode"
### Bug description

When opening URL of a repo where there's a colon in the URL params, it silently breaks Gitpod interface in VSCode:
* Gitpod menu items in main hamburger menu
* Ability to run `code` in terminal
* Ports panel
* etc...

![image](https://user-images.githubusercontent.com/22901/139871008-7a8f085a-f47b-40a7-a728-b7f9cf451f10.png)

### Steps to reproduce

1. Add URL params to any Gi

[2021-11-02 14:53] #6504 closed

[2021-11-02 15:03] csweichel opened #6515 "Properly update/restart deployments when config changes"
Some passwords are auto-generated. In lieu of persistent state management we need to properly restart all services affected by the config change.

[2021-11-02 15:04] csweichel opened #6516 "Make installer updatable"
Might just work OOTB once the minio operator is used, and #6515.
Even if the installation changed (i.e. is not idempotent) that's ok as long as the installation still works.

[2021-11-02 15:07] csweichel opened #6517 "Run installer as part of the GKE guide instead of helm charts"
Sitting on a branch with a PR raised towards `main`

[2021-11-02 15:07] csweichel opened #6518 "Run integration tests against a working installation"

[2021-11-02 15:07] csweichel opened #6519 "Make workspaces start"

[2021-11-02 15:07] JanKoehnlein commented on #6351
/schedule

[2021-11-02 15:07] roboquat commented on #6351
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6351#issuecomment-957780283):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-02 15:16] csweichel opened #6520 "Create test cluster for Kyle and Chris"
and on-board @kylos101 to that cluster

[2021-11-02 15:17] csweichel commented on #6520
/schedule

[2021-11-02 15:53] cortinico commented on #6342
Same ✋

[2021-11-02 16:03] AaronBeaudoin opened #6522 "Template for Firebase with working local functions emulator"
I've tried setting up a dev environment I use locally for developing a Nuxt.js website which utilizes Firebase Functions in Gitpod but I've been unsuccessful due to issues connecting my app with the Firebase emulator suite.

The issue seems to be that firebase is trying to access the functions emulator via HTTP, but since the exposed port URL is served over HTTPS I get a mixed content error. Would

[2021-11-02 16:04] MasonM commented on #6021
I ran into this issue too on EKS, but the workaround didn't seem to work. This seems to be the same bug as https://github.com/gitpod-io/gitpod-eks-guide/issues/25

[2021-11-02 16:05] corneliusludmann commented on #6485
Proposal:

---

![image](https://user-images.githubusercontent.com/24960040/139893669-f1a7f734-36ea-4806-bb33-9b799d65da31.png)

---

Suggestions for improvement or better wording are very welcome.

[2021-11-02 16:07] loujaybee opened #6523 "JetBrains IntelliJ IDE workspace times out"
### Bug description

The current heartbeat implementation seems to not be working with the IntelliJ IDE.

### Steps to reproduce

1. Open an IntelliJ IDE session
2. Work for ~30 minutes (until workspace timeout)
3. The workspace will close

### Expected behavior

The workspace remains open whilst actively working within IntelliJ

Also, see this [Internal conversation](https://gitpod.slack.com/arch

[2021-11-02 16:12] loujaybee commented on #5644
See also [this discussion with JetBrains](https://gitpod.slack.com/archives/C02BRJLGPGF/p1635850770016300). Their [documentation can be found here](https://docs.google.com/document/d/1ioL_6obENQHdUQ8RTipPL9wf3vz6WjzlGSxPFVhCcg0/edit#heading=h.lukfxhxjuybw).

[2021-11-02 16:19] JanKoehnlein commented on #6475
I'm not aware of any such process either.

Another solution could be to enable multiple CA certs on both ends first, which would allow to make the switch later in any order (not requiring a certain a deployment order).

But as the preceding discussion already brought up, we might want to tackle this in a larger attempt to manage secrets.

Maybe team-workspace has other ideas as well.

[2021-11-02 16:25] jldec commented on #5583
/schedule

[2021-11-02 16:25] roboquat commented on #5583
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5583#issuecomment-957916925):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-02 16:27] corneliusludmann commented on #6523
**Remark:** If you close the Gitpod browser tab after you started the IntelliJ desktop IDE your workspace will even timeout after only 5 minutes due to this bug.

[2021-11-02 16:35] #5071 closed

[2021-11-02 16:45] loujaybee commented on #6490
Will assign you to this one as well as me @jeanp413 ! 🙏

[2021-11-02 16:48] jgallucci32 commented on #6021
@MasonM Try adding this to your answers.yaml for the chart
[code]
I added this some time ago to the self-hosted install on RKE to address the issue with NodePorts and HostPorts and incorrect DNS resolution. Not sure if it is related, but I thought it might be worth a try.

[2021-11-02 16:52] loujaybee opened #6524 "Update public documentation with details about the private BETA"
This issue is to [update our existing JetBrains documentation](https://www.gitpod.io/docs/integrations/jetbrains) to detail the private BETA.

At a minimum the docs should contain:

* Overview of the general JetBrains integration
* A note about the password implementation within Code With Me
* A note about what "Code With Me" is, and what will happen to it
* A note about where any known issues wil

[2021-11-02 16:53] loujaybee commented on #6485
**Note:** I've now created a separate issue for any changes to the external-facing docs [#6524](https://github.com/gitpod-io/gitpod/issues/6524)

[2021-11-02 17:01] loujaybee opened #6525 "Build the `tasks` command API (.gitpod.yml) into JetBrains integration"
In Gitpod a user can [specify tasks](https://www.gitpod.io/docs/config-start-tasks) which are shell scripts executed on workspace container startup. We would like to allow users to interact with their terminal using the commands they specific in their `tasks` command them from within the thin client. In VS Code we are [using pseudo terminal API](https://code.visualstudio.com/api/references/vscode-

[2021-11-02 17:35] jldec commented on #6485
For consistency, I'd suggest `Beta` instead of `BETA` or `beta`.
See https://github.com/gitpod-io/gitpod/issues/6010#issuecomment-944579051 and (internal) [thread](https://gitpod.slack.com/archives/C01KGM9DVRC/p1634320884205700)

[2021-11-02 17:51] jldec commented on #6485
I would maybe move the Beta warning down and make it less loud/noisy.

I quite like the very terse, small, green pill + grey link (except on hover) which GitHub uses in the [new Projects Beta](https://github.com/orgs/github/projects/4247/views/7).

![Screenshot 2021-11-02 at 17 49 15](https://user-images.githubusercontent.com/849592/139918902-cf5c68ed-48a1-4ad0-a5da-ae51d8652ff6.png)

[2021-11-02 18:08] #6104 closed

[2021-11-02 19:46] corneliusludmann commented on #6485
Regarding capitalization of “BETA”: That the word “beta” next to the logo is written in upper case is because the pile labels we use are styled like this across the product (designed by @gtsiolis, I guess). We also use the pile label for the “INSIDERS” label next to VS Code. To be consistent with the pile label components we should keep upper case, IMO. However, we could also agree on designing a

[2021-11-02 20:14] atduarte commented on #6523
@corneliusludmann in this situation are the 5 minutes time out intended? Asking because you need to leave the page to proceed with the IntelliJ IDE and may take a while to connect (e.g., in the first time you have to download the IDE).

[2021-11-02 21:55] jldec commented on #5583
Addendum to OP - https://github.com/gitpod-io/website/issues/1194
Re-enable example workspace choice from Try Now and Sign Up buttons

[2021-11-02 21:56] jldec commented on #5071
Addendum to OP - https://github.com/gitpod-io/website/issues/1194
Re-enable example workspace choice from Try Now and Sign Up buttons

[2021-11-02 22:33] jeanp413 commented on #6436
@akosyakov for the second case i.e. `zxh404.vscode-proto3@0.4.2` the issue was that `workbench.extensions.installExtension` didn't accept an extension id with a version, I thought about how to workaround it (by downloading the vsix manually, etc). But in the end I decided to just make `workbench.extensions.installExtension` accept an id with version too as it was just a one line fix.
Created a PR

[2021-11-03 01:29] #5258 closed

[2021-11-03 04:58] ghuntley commented on #6279
I'm using insiders. Space in terminal would not work until attach and detach keyboard.

 https://user-images.githubusercontent.com/127353/140011755-39585fe3-00d4-4c03-b548-c5a220b5fed1.MOV

[2021-11-03 07:04] pawlean commented on #6514
Reproducible on my end, thanks for highlighting this @shaal.

[2021-11-03 07:35] akosyakov commented on #6436
thanks, it works now ❤️

[2021-11-03 07:35] #6436 closed

[2021-11-03 07:45] akosyakov commented on #6514
@JanKoehnlein @geropl wdyt? I'm not sure whether it is an issue in VS Code. I assign team ide for now that we don't have dangling bugs, but feel free to reassign if it should be resolved before redirecting to IDE.

[2021-11-03 07:47] csweichel commented on #6475
Bridge already holds certs specific to the cluster they connect to. I reckon we could just produce a new CA and certs and register the cluster that way.

[2021-11-03 07:47] csweichel commented on #6475
Have we tried to do this? I would not expect this to be an issue.

[2021-11-03 08:18] geropl commented on #6514
@akosyakov The context URL is correctly parsed in `server`/written to DB. I bet we re-construct it somewhere in the Gitpod extension...?

[2021-11-03 08:35] geropl opened #6530 "supervisor segfaults (staging)"
https://console.cloud.google.com/errors/CJjW3sXO0uz1SQ?time=P7D&project=gitpod-staging

[2021-11-03 08:39] geropl opened #6531 "[payment-endpoint] GitHub integration: reconcilePlan is broken"
https://console.cloud.google.com/errors/CK203s2T2-64mwE?time=P7D&project=gitpod-staging

[2021-11-03 08:42] akosyakov commented on #6514
Yes, it looks that only gitpod extension is broken, not even VS Code. I could not find anything from logs though.

[2021-11-03 08:43] geropl opened #6532 "UnhandledPromiseRejections from Probot"
- https://console.cloud.google.com/errors/CPil_tXR_b--fA?time=P7D&project=gitpod-staging
- https://console.cloud.google.com/errors/CNT4sajB7Nv8lgE?time=P7D&project=gitpod-staging

[2021-11-03 08:45] akosyakov commented on #6530
@corneliusludmann could you look at it? It seems to be caused by recent changes in startAndWatch IDE.

[2021-11-03 08:47] JanKoehnlein commented on #6531
/schedule

[2021-11-03 08:48] JanKoehnlein commented on #6532
/schedule

[2021-11-03 08:54] geropl commented on #6502
Turns out our the [commit](https://github.com/gitpod-io/gitpod/compare/592ba9808b7d7bd916670d20b97805ed8f02cfa5...7abe78c91792c18b0c22103c890b25ea3a4cdf05) broke migrations: https://werft.gitpod-io-dev.com/job/ops-build-main.465

Which we did not notice because we have a broken window for quite some time: https://werft.gitpod-io-dev.com/job/ops-build-main.464 :see_no_evil:

[2021-11-03 09:14] akosyakov opened #6533 "deploy gp cli independent"
In prod we still build images with mk2, which ships `gp` as part of the Gitpod layer. In preparation for mk3 we started to ship `gp` with supervisor:
https://github.com/gitpod-io/gitpod/blob/d3ce797ae7159a30b22b8c1436d3398435299c62/components/supervisor/pkg/supervisor/supervisor.go#L390-L399

If the gitpod-layer is present, `/usr/bin/gp` will be present which makes the symlink operation fail.

To

[2021-11-03 09:33] corneliusludmann commented on #6530
/assign

[2021-11-03 09:38] laushinka commented on #6068
/assign

[2021-11-03 09:40] jldec commented on #5119
Let's do this ™️

**1 caveat:** we have to be careful not to expose user information which the user is not already exposing e.g. if say the user's github id is visible, but their email is not visible, it would be better to expose their github id only.

**nit:** for usability, tooltips that require hovering are not the easiest (esp on touch devices), so making something visibile or clickable is pre

[2021-11-03 09:41] jldec commented on #5119
/schedule

[2021-11-03 09:48] loujaybee commented on #6135
Temporarily removing this from Groundwork, we will pick this one up at some point, but we need to do some investigation/thinking on how we need this to work, first.

[2021-11-03 09:53] loujaybee commented on #6487
Temporarily removing from GroundWork as this is related to the open BETA not the private BETA, so let's finish off all work for private BETA first.

[2021-11-03 09:56] csweichel commented on #6512
We need to make this change backwards compatible, i.e. an old server (which does not send the supervisor image ref) needs to work with a new workspace cluster (which might expect the supervisor image ref). To do that, we could just overwrite the static layer we currently add by changing the order of the [layer sources in registry facade](https://github.com/gitpod-io/gitpod/blob/56fe86ff90a5c0bb652

[2021-11-03 09:58] meysholdt commented on #6291
closing for now. Will re-open if the limit becomes a problem again.

[2021-11-03 09:58] #6291 closed

[2021-11-03 09:59] loujaybee commented on #6513
Since we've got it tracked in the GA epic, let's drop from Groundwork for now, and we can move in when we finish private + open beta 🙏

[2021-11-03 10:02] Johnzzon commented on #6342
Sign me up, this is very interesting!

[2021-11-03 10:04] loujaybee commented on #6533
🤔  This is an interesting one, what would the deploy path/process look like by the end of the changes? Where would the prod artifact be stored/fetched from?

[2021-11-03 10:05] atduarte opened #6534 "Change jetbrains-backend-plugin to rely on the info endpoint"
Currently, we rely on Env Vars. However, we should fetch the information from the `info` endpoint of the supervisor.

See https://github.com/gitpod-io/gitpod/pull/6152#discussion_r728641112

[2021-11-03 10:07] loujaybee commented on #6501
Temporarily removing from groundwork whilst we work on: #6499

[2021-11-03 10:08] atduarte commented on #6534
Duplicate of #6513

[2021-11-03 10:08] #6534 closed

[2021-11-03 10:10] loujaybee commented on #6487
Currently no work to do on our end for this, we're waiting on JetBrains for updates.

[2021-11-03 10:14] wisammechano opened #6535 "Some installed extensions got removed and preferences were reverted"
### Bug description

I was working on gitpod, and suddenly, I opened a workspace to find out some themes, extensions, and preferences were removed and reverted to fresh gitpod workspace. I tried another workspace and it is the same.

Example extensions that were removed:
- [Tomorrow and Tomorrow Night Theme Kit](https://open-vsx.gitpod.io/vscode/item?itemName=ms-vscode.Theme-TomorrowKit)
- [EJS la

[2021-11-03 10:23] csweichel commented on #6533
It would mean that `gitpod-cli` changes are subject to the same lifecycle as supervisor changes

[2021-11-03 10:32] vdesabou opened #6536 "Couldn't find issue or pull request error"
### Bug description

I wanted to try to open this PR https://github.com/confluentinc/cp-demo/pull/401, but I get:

![140043797-2a13e7a6-5780-4547-84bc-861ae858873a](https://user-images.githubusercontent.com/4061923/140044776-50ac9186-aad1-4e70-b8f4-8ce6e756d83d.jpg)

whereas it works for other colleagues, see https://github.com/confluentinc/cp-demo/pull/401#issuecomment-958842924

Any idea why it

[2021-11-03 10:47] MrSimonEmms commented on #6520
Done and sent details to everyone.

[2021-11-03 10:47] #6520 closed

[2021-11-03 10:55] corneliusludmann commented on #6502
When I try to change preferences (e.g. I try to tick the “Use Desktop IDE” checkbox), nothing happens besides this error message in the console:

[code]

([internal discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1635936210198600))

[2021-11-03 11:49] #4933 closed

[2021-11-03 13:43] #6258 closed

[2021-11-03 14:36] geropl commented on #6502
Now that the change is deployed to staging `db-sync` is crashlooping. Will prepare a fix.

[2021-11-03 14:55] MrSimonEmms commented on #6489
This is likely to require more changes. And, as #6515 has been fixed, this is not so pressing

[2021-11-03 15:00] #6455 closed, assigned to ArthurSens

[2021-11-03 15:16] svenefftinge commented on #5583
It would be nice to reuse something indeed, but this would
1) not work for GitLab users
2) kick users out of the project creation flow

Instead, we should have a single page where users can pick the org, name and whether the repo should be public/private. And then generate and initialize the project for them based on an archive.

[2021-11-03 15:48] corneliusludmann opened #6545 "Nicely handle OOM killed IDE processes"
For VS Code I also test what happens if IDE process gets OOM killed and it does not work with IntelliJ:
- if i kill launcher.sh workspace crashes
- if i kill startup.sh (which is unlikely) then it tries to start forever more and more instances and they crash immediately

_Originally posted by @akosyakov in https://github.com/gitpod-io/gitpod/pull/6538#issuecomment-959503542_

[2021-11-03 15:52] #6530 closed

[2021-11-03 15:57] geropl commented on #6502
Currently blocked by failing staging deployments: https://gitpod.slack.com/archives/C01KGM9EBD4/p1635954840148800

[2021-11-03 16:06] JanKoehnlein commented on #6509
From a (potential) customer's perspective, I find it odd to first log in (or even create an account) just to subscribe to a newsletter. There is no use for the newsletter subscription information within the product. It's only in the product's DB at the moment because we used to not have an external service for customer emails. A specialized tool like customer.io can also probably comply much bette

[2021-11-03 16:16] corneliusludmann commented on #6523
Still an issue, see https://github.com/gitpod-io/gitpod/pull/6527#issuecomment-959595483.

[2021-11-03 16:53] shaal commented on #729
Requesting to add `meta: never-stale` label to this issue.
I think this feature is important, is it going to be implemented?

[2021-11-03 17:00] laushinka commented on #5119
I have a stupid question - is it possible to allow anyone with proper permissions to create projects out of the same repos?  Or is this something that the git providers don't let us?

[2021-11-03 17:02] csweichel commented on #6519
/schedule

[2021-11-03 17:02] roboquat commented on #6519
@csweichel: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6519#issuecomment-959734704):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my be

[2021-11-03 17:02] csweichel commented on #6519
/team workspace

[2021-11-03 17:02] csweichel commented on #6519
/assign @csweichel

[2021-11-03 17:02] csweichel commented on #6519
/schedule

[2021-11-03 17:03] csweichel commented on #6519
/assign

[2021-11-03 17:03] csweichel opened #6547 "Add `install` command"
We should have an `install` command which
1. applies the runtime objects produced by `render`
2. forwards the log output of the migrations

In the future runs DoA checks on the installion.

[2021-11-03 17:33] MrSimonEmms opened #6548 "[Installer]: establish a way of running the db migration job on each run of `kubectl apply`"
This may be solved by #6573

[2021-11-03 17:36] jldec opened #6549 "Run Prebuild error: operation not permitted! missing get permission on workspace"
I created a [new project](https://gitpod.io/t/gitpod/projects) for a [repo](https://github.com/gitpod-io/template-typescript-node) which already had existing workspaces used by other users, but no project yet.

The GitHub app was installed on the org by a different team admin.

I navigated to the [project configuration page](https://gitpod.io/t/gitpod/template-typescript-node/configure) in the git

[2021-11-03 17:42] MrSimonEmms commented on #6548
Runs on from #6515

[2021-11-03 20:12] chuck-confluent commented on #554
I'd love this as well. Use case is education purposes where I'd like learners to use hostnames rather than `localhost` to connect to various containers running in docker compose. I want those applications to run inside and outside the docker-compose network without code changes or setting different environment variables.

[2021-11-03 20:44] chuck-confluent commented on #6459
I am interested in this as well

another related issue:
- https://github.com/gitpod-io/gitpod/issues/554

[2021-11-03 20:47] chuck-confluent commented on #554
It is possible to remove the `meta: stale` tag?

[2021-11-03 21:12] oravecz opened #6552 "Flutter install requires user input -- fail"
### Bug description

When trying the documented [Flutter Quickstart](https://www.gitpod.io/docs/quickstart/flutter#flutter-quickstart), the prebuild process requires user input to accept the Android SDK license agreement. As far as I can tell, there is no way to provide user input during the prebuild process. This causes this step to timeout after an hour, and the prebuild fails.

### Steps to rep

[2021-11-03 23:04] mikenikles commented on #6410
I wanted to make a data-driven decision to drop it, but completely agree. While it's a really nice feature to have and would make sense for the `template-*` repos, I'm hesitant to add it to the documentation because it is a bad user experience for anyone who is cautious of their online privacy and uses Brave or as Alex said, newer versions of Safari.

Measuring how many people end up on that "No R

[2021-11-04 02:11] jeanp413 commented on #6456
Fixed this in https://github.com/gitpod-io/openvscode-server/commit/24af6001623c1be73fd36c98c55b42e292af28fb. Please test it in tomorrow's insiders

[2021-11-04 02:20] vcyzteen opened #6568 "Cannot paste text in terminal using gesture in android"
Does this issue occur when all extensions are disabled?: Yes/No
A: No

- VS Code Version: Latest
- OS Version: Android 10
- Briwser: Chrome

The Problem:

https://user-images.githubusercontent.com/25115070/140428981-e519baeb-4e32-47a7-bdc6-6fe2e6d7201e.mp4

Hello sir I want to ask if I use android to open vscode gitpod if I want to copy text it can't. (like the video above) and if I space my comma

[2021-11-04 03:04] akaFTS commented on #6279
I'm using the smart (not magic) keyboard. I haven't spotted the issue in the last few days though, but I'm also not coding much on the iPad. Let's keep an eye out for it.

[2021-11-04 07:18] ghuntley opened #6553 "Rebuild all gitpod-io/template-* upon gitpod-io/workspace-images release"
# Why

As gitpod-io/template* seldom are updated (only when needed) the prebuilds may use older releases of gitpod-io/worksapce-images. We need a way to rebuild the prebuilds of gitpod-io/template* when a new version of workspace-images are released so that users get the latest SDK's and security patches.

# Context
- Users are asking why they still get nodejs 14 when our default workspace image i

[2021-11-04 07:30] meysholdt opened #6554 "Support pass-listing emails for preview envs"
Currently, in preview environments new users that don't have an `@gitpod.io` email address automatically get blocked.

In this case @shaal got blocked by this :(

![image](https://user-images.githubusercontent.com/239422/140273408-0948bbf4-d75f-433f-9e5f-b8d19049ecaf.png)

There are two ways to solve this:
a) `kubectx exec` into the `mysql` pod and edit `blocked` column in the `d_b_identity` table

[2021-11-04 07:46] JanKoehnlein commented on #6554
/schedule

[2021-11-04 07:46] roboquat commented on #6554
@JanKoehnlein: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6554#issuecomment-960524117):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-11-04 07:47] JanKoehnlein commented on #6554
/team meta
/schedule

[2021-11-04 07:48] roboquat commented on #6554
@JanKoehnlein: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6554#issuecomment-960524820):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my

[2021-11-04 07:48] JanKoehnlein commented on #6554
/schedule

[2021-11-04 07:48] roboquat commented on #6554
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6554#issuecomment-960524921):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-04 07:48] JanKoehnlein commented on #6554
/assign

[2021-11-04 08:31] csweichel opened #6556 "Support GCP storage"
in addition to just MinIO

[2021-11-04 08:31] csweichel commented on #6556
/schedule

[2021-11-04 08:36] atduarte commented on #6506
According to Jetbrains, currently there is no way to "Open an embedded browser" or "Open the external browser" using links. [[1](https://gitpod.slack.com/archives/C02BRJLGPGF/p1635968246037100?thread_ts=1635850800.016900&cid=C02BRJLGPGF)]
Relevant issue from their side: https://youtrack.jetbrains.com/issue/CWM-3678

[2021-11-04 08:42] konne commented on #5945
just now

rose-anaconda-pk9t8ahh

![image](https://user-images.githubusercontent.com/1100969/140283475-92cfe443-08c4-4aa2-8442-f81f960d47b8.png)

[2021-11-04 08:46] jldec commented on #5782
This would be moot if logs were moved out of the configuration page - see #5785

[2021-11-04 08:52] JanKoehnlein commented on #6549
/schedule

[2021-11-04 08:52] roboquat commented on #6549
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6549#issuecomment-960563017):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-04 09:39] #6519 closed

[2021-11-04 09:56] csweichel commented on #5198
Filling in some more detail here.

## Configuration and user flow
Users would point to a repository in their settings on the dashboard. This needs some visual design @gtsiolis.
When a workspace starts, prior to starting the IDE we'd clone the repo and put it in the home directory. Hence, when the IDE starts it'll pull files like `.bashrc` and `.bash_profile`.

## API changes
We could add a `dotfil

[2021-11-04 09:58] csweichel commented on #5198
/team IDE

[2021-11-04 09:58] roboquat commented on #5198
@csweichel: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5198#issuecomment-960607912):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or sugge

[2021-11-04 10:05] corneliusludmann commented on #6513
https://github.com/gitpod-io/gitpod/pull/6551#issuecomment-960547956

[2021-11-04 10:06] JanKoehnlein commented on #6554
TIL from @corneliusludmann:

[code]

[2021-11-04 10:12] corneliusludmann commented on #6554
More info: https://www.notion.so/gitpod/How-we-develop-e8ce7e562478458a9223eb9b797415b2#4b664647f18f4ceb89f084e0b5073757

[2021-11-04 10:14] #6523 closed

[2021-11-04 10:15] #6554 closed

[2021-11-04 10:40] titimoby commented on #6342
Oh my... 🤘

[2021-11-04 11:05] jldec opened #6557 "Reduce confusion between Team plans and new Teams"
Users of teams are concerned about how older Team plans interact with the new Teams.

- are memberships automically shared? (no)
- does deleting one kind of team affect the other kind? (also no)

While we work on consolidating the 2 kinds of teams and their memberships, it would be helpful to offer reassurances or clarifications in the UI and the documentation.

[2021-11-04 11:11] maksimr opened #6558 "ESLint plugin doesn't work in the editor"
### Bug description

ESLint plugin doesn't show problems in the editor

### Steps to reproduce

- Open [this project](https://github.com/maksimr/uikit)
- Type expression without `;`

ER: Editor show the lint problem
AR: No errors

### Workspace affected

_No response_

### Expected behavior

Editor shows the lint problem

### Example repository

https://github.com/maksimr/uikit

### Anything else?

[2021-11-04 11:30] akosyakov commented on #6558
I think eslint has some kind of trust mode in new versions. So you should click on eslint status bar entry and allow it execution of code from workspace. Maybe it can be configured to be always on per user.

[2021-11-04 11:34] maksimr commented on #6558
@akosyakov Hm... interesting. Before I saw modal dialogue with such kind of text and yup after accept it worked. But now no dialogue and if click on "ESLint" in bottom status bar it open output panel so I don't see where to enable it.

[2021-11-04 12:27] ruuds commented on #6342
Please sign me up!

[2021-11-04 14:22] csweichel commented on #6475
removing from groundwork

[2021-11-04 15:23] huweiATgithub opened #6561 "Can't set PYTHONPATH env through terminal.integrated.env.* settings"
### Bug description

PYTHONPATH env is a general way to let python import modules in custom locations.
When setting terminal environments variables through VSCode by adding key "terminal.integrated.env.linux" to settings.json, other environment variables work as expected. The PYTHONPATH env seems to be reset right before starting the terminal.

### Steps to reproduce

1. Open any workspace [whethe

[2021-11-04 15:29] huweiATgithub commented on #6561
It might be related to issue #1056 and https://community.gitpod.io/t/setting-pythonpath-not-working/282
In the latter one, Jan says gitpod unset PYTHONPATH on top of docker image before creating a workspace,
![image](https://user-images.githubusercontent.com/37072526/140354139-e02ab057-e8f5-489a-b49e-8ca916402ac6.png)

But however, after the workspace started, why PYTHONPATH is still unset.

[2021-11-04 15:33] JeromeRauline commented on #6342
+1

[2021-11-04 17:56] hm2075 commented on #6558
might be something to do with this

https://github.com/neoclide/coc-eslint/issues/117

i struggled with v8 too so I just dropped back to version 7

[2021-11-04 18:21] aledbf commented on #6466
/this-is-fine

[2021-11-04 18:23] aledbf commented on #6466
/this-is-fine

[2021-11-04 18:26] csweichel opened #6562 "Support GCP CloudSQL"

[2021-11-04 18:47] gtsiolis commented on #6466
@iQQBot yes, we've noticed some commands don't work and the team is currently working on resolving this.

🍊 🍊 🍊 🍊

❓ **question**: Were you trying to assign this issue to yourself?

💭 **suggestion**: Since this issue serves as an epic with sub-tasks related to community contributor experience that also includes tasks for team members like [5] and [6] from the proposal section in the issue descript

[2021-11-04 19:05] gtsiolis opened #6563 "Add contributing guidelines with a local kubernetes cluster or minikube"
### Problem to solve

Following the proposal in https://github.com/gitpod-io/gitpod/issues/6466, we'd like to do as part of making it easier for everyone to contribute to Gitpod and one of the steps we need to make is introduce some contributing guidelines with a local kubernetes cluster or minikube. 🧊

Looping in @iQQBot as they were interested in helping, see https://github.com/gitpod-io/gitpod/

[2021-11-04 19:07] aledbf commented on #6466
/this-is-fine

[2021-11-04 19:07] gtsiolis commented on #6466
It's ok @iQQBot! No need to delete any comments! 🙂

FYI, Added another task in the proposal of this issue (epic):

[2021-11-04 20:03] maksimr commented on #6558
@hm2075 looks like you are right. I guess that ESLint version from open vsx is out of date. Visual studio marketplace contains ESLint plugin with latest version **2.2.2** and on open vsx only **2.1.20**

[2021-11-04 20:04] #6558 closed

[2021-11-04 20:28] #6556 closed

[2021-11-04 20:46] ghuntley commented on #6562
Hell yeah 🏀✨🚀

[2021-11-04 20:51] csweichel opened #6565 "Support GCP image registry"

[2021-11-04 21:26] npw3202 opened #6566 "After following GCP setup guide, it appears that the created cluster cannot operate gitpod"
### Bug description

Specifically, I followed the guide for installing gitpod on gcp. I obtained:
[code]

The root of the other crashloopbackoffs appear to be an inability to connect to the db. Looking at the db:
[code]
any idea why additional IAM permissions need to be added?

### Steps to reproduce
[code]

### Workspace affected

_No response_

### Expected behavior

gitpod instance to work with

[2021-11-04 21:32] rgbrizzlehizzle commented on #6342
Sign me up pls :)

[2021-11-04 21:43] #5231 closed

[2021-11-04 21:57] gtsiolis commented on #6485
Hey everyone!

Thanks @corneliusludmann for adding the proposal in https://github.com/gitpod-io/gitpod/issues/6485#issuecomment-957883771 and including the background context in https://github.com/gitpod-io/gitpod/issues/6485#issuecomment-958114262! 🙏 ✖️ 2️⃣

🍊 🍊 🍊 🍊

Here're some thoughts on this design and the beta label:

1. **thought**: Going with uppercase or sentence case for the beta labels

[2021-11-04 22:25] gtsiolis commented on #6438
Good point @corneliusludmann! No strong feeling against the longer text.

**question**: Wondering why we require the extra step anyway to get the dynamic URL and the command. Could we get the command beforehand? See early design draft below. Cc @atduarte @loujaybee

<img width="1041" alt="Screenshot 2021-11-05 at 12 24 40 AM" src="https://user-images.githubusercontent.com/120486/140428815-6444ed4e

[2021-11-04 22:38] jeanp413 commented on #6568
@vcyzteen I fixed your video now it displays correctly, also I transferred the issue to the gitpod repo as you are using Gitpod.
Regarding your issue, that's indeed a bug with vscode/xterm.js, maybe you can workaround it by invoking paste using the keyboard.

[2021-11-05 01:59] vcyzteen commented on #6568
okay sir. thanks for thr answer

[2021-11-05 02:44] ghuntley commented on #5198
Let's follow the lead at https://docs.github.com/en/codespaces/customizing-your-codespace/personalizing-codespaces-for-your-account#dotfiles and in our documentation advocate for https://www.gnu.org/software/stow/ (and/or the convention documented in the previous link).

Thus Gitpod looks for the convention, executes the convention and it's the convention that does the symlink (not Gitpod)

10000%

[2021-11-05 02:56] bigint commented on #5198
This will support both bitbucket and GitLab right?

[2021-11-05 02:57] #4974 closed

[2021-11-05 02:57] #4946 closed

[2021-11-05 02:57] #4922 closed

[2021-11-05 03:21] jimmyp commented on #6342
Keen

[2021-11-05 03:45] mattalexx commented on #6342
Keen times infinity

[2021-11-05 06:09] shaal opened #6569 "Pushing new commits to a branch, does not stop a prebuild from a previous commit of the same branch."
### Bug description

I think a previously running prebuild should be cancelled if new commits are pushed to the same branch.

I noticed it after I pushed changes to a branch, and realized I forgot to make a small change.
![image](https://user-images.githubusercontent.com/22901/140465603-a8bb0de6-3c34-483a-83f2-b44ef3da4458.png)

### Steps to reproduce

Create long init task in `.gitpod.yml`.
After

[2021-11-05 08:12] ChristinFrohne commented on #6509
Alternatively, @atduarte suggested these steps:
1. Change the subscription settings page in Gitpod as @Jan mentioned to show the subscription information that exists in Customer.io (note: this needs to be aligned with the unsubscribe logic)
2. Change customer.io to use email and id as identifiers. This requires removing the duplicates first, which is tricky.
3. Change newsletter form on website to

[2021-11-05 08:23] MrSimonEmms opened #6570 "[Installer]: include Helm chart tar.gzs in binary"
The downloading of the files can take ages (and sometimes fails). As the versions are locked, embed the files in the binary so they don't need to be downloaded

[2021-11-05 08:35] JanKoehnlein opened #6571 "[dashboard] CTRL/CMD-click on New Workspace buttons should open new tab"
### Bug description

We should make sure, all "New Workspace" buttons open a new tab when clicked with CTRL (Win, Linux) or CMD down.
In particular, the ones on the project tabs _Branches_, _Workspaces_ and _Configuration_

### Steps to reproduce

Open a project's _Branches_, _Workspaces_ or  _Configuration_ tabs in the dashboard and CTRL/CMD clcik on the _New Workspace_ button

### Workspace affe

[2021-11-05 08:43] #6489 closed

[2021-11-05 08:43] atduarte commented on #6438
@gtsiolis That would be much better. Unfortunately, currently, we only get the link you see, that redirects to a second page, from the Jetbrains IDEs. We could maybe reverse engineer it, but this is to be changed entirely very soon. We will replace this _Code with Me_ connection that adds a hop and asks for a password, for a custom link that automatically opens the local IDE and no additional acti

[2021-11-05 08:43] MrSimonEmms commented on #6489
Have switched to the Bitnami Minio chart which is still supported and solves some of the update issues

[2021-11-05 08:45] meysholdt opened #6572 "Regression: `commit.yaml` disappeared from `versions` image"
There used to be a `commit.yaml` in the `versions` image.

Absence of commit.yaml breaks the automated deploy to staging because the gitpod-core submodule in the ops repo can not be updated.

To reproduce run `docker run -it eu.gcr.io/gitpod-core-dev/build/versions:main.1782 ls` and see that in the output there is no `commit.yaml`

[code]

[2021-11-05 08:51] meysholdt commented on #6572
I see the commit-sha1 is now inside the `versions.yaml`:

https://github.com/gitpod-io/gitpod/blob/636ef165f4255931c23fb2948e81c73cc75c4fb9/components/BUILD.yaml#L66-L67

[2021-11-05 08:52] JanKoehnlein commented on #6509
Team meta could do 1). The unsubscribe link of future emails should point to customer.io as well. We can add a temporary redirection on our server for existing emails.

We haven't touched customer.io yet, so 2), 4) and 5) sound like tasks for DCS. 3 could be done by DCS, too (@nisarhassan12 ?)

[2021-11-05 08:56] meysholdt commented on #6572
I'll fix this on the consumer side.

[2021-11-05 09:06] MrSimonEmms opened #6573 "[Installer]: jobs cannot be updated"
Context: the installer uses Kubernetes jobs to run the database migration. Each time the rendered output of the installer is `kubectl apply`'ed, the job resource is re-created.

Deploy a version of the application (eg, `main.1732`) and then deploy an update (eg, `main.1779`). The job fails because jobs are immutable, even though the previous job has run to completion

We need something that can de

[2021-11-05 09:19] #6572 closed

[2021-11-05 09:33] #6325 closed

[2021-11-05 09:33] #6441 closed

[2021-11-05 09:43] konne commented on #5945
happen again:

blush-vole-efcfmm4f.ws-eu17

![image](https://user-images.githubusercontent.com/1100969/140490848-7a34a01d-c801-4890-8404-2ea106b4f4f7.png)

[2021-11-05 09:48] loujaybee commented on #6438
Fully agree with @atduarte on this one. Let's see how the _Code With Me_ removal progresses. But, it's a nice suggestion @gtsiolis and I like the mock-up. It might be useful as a workaround depending on how quick JetBrains are... we might also want to re-use the design in the future 🙏

[2021-11-05 09:51] corneliusludmann commented on #6438
Great! I marked the [corresponding PR](https://github.com/gitpod-io/gitpod/pull/6507) with the changes as ready for review. @gtsiolis Is it something you can review?

[2021-11-05 10:25] corneliusludmann commented on #6485
As far as I know, in the near future we will add VS Code Destkop to the list of desktop IDEs (which will not be “Beta”). Therefore the labels next to the 2 JetBrains IDE would make more sense than next to “Use Desktop IDE”.

[2021-11-05 10:27] jldec opened #6575 "Open Workspace from team context should preserve team context when returning to dashboard"
This applies to any workspace which has a project under a team in Gitpod.

When navigating in the browser from the workspace back to the dashboard, users should not have to search for the team again, before seeing the workspace or project which they just came from.

One example of this the **/new project** flow:

- create a project on a repo
- open the workspace e.g. from the project configuration

[2021-11-05 10:29] corneliusludmann commented on #6485
Updated the [draft PR](https://github.com/gitpod-io/gitpod/pull/6505). Now it looks like this:

![image](https://user-images.githubusercontent.com/24960040/140496724-e63d30ca-2ab8-4d24-a1e6-e73b2108e95a.png)

The last thing that is missing in the PR is the proper link to the feedback issue. @loujaybee

[2021-11-05 10:45] loujaybee opened #6576 "Feedback Issue: JetBrains IDEs 💻"
## Objective

This issue is to track feeback related to the JetBrains Desktop Remote Development Support.

See related roadmap item [[1](https://github.com/gitpod-io/roadmap/issues/20)]

## Background

The JetBrains team has been hard at work [enabling remote development for the JetBrains editors](https://youtrack.jetbrains.com/issue/IDEA-226455#focus=Comments-27-5125731.0-0). This feature allows

[2021-11-05 10:47] loujaybee commented on #5712
I have temporarily unpinned to put up [the JetBrains issue](https://github.com/gitpod-io/gitpod/issues/6576), we'll get this issue back pinned following the JetBrains beta.

[2021-11-05 11:01] cyppan commented on #6342
I'm interested, thanks!

[2021-11-05 12:08] #6068 closed

[2021-11-05 12:09] #6515 closed

[2021-11-05 12:09] #6516 closed

[2021-11-05 12:32] Shulammite-Aso commented on #6403
Hi @gtsiolis @loujaybee  @akosyakov @ghuntley I'd like to take this up if no one is yet working on it.

I think defaulting workspace and dashboard color themes with system theme is great idea too.

If I'm free to take it up, would just need clarification on what is meant by "workbench"? I feel i have a very high level idea of what it might mean; the development environment allocated to each user,

[2021-11-05 12:57] gtsiolis commented on #6575
Clicking _Open Dashboard_ from the VS Code application menu goes back to `/` which redirects to the last selected team. I assume by _exit the workspace_, you mean stopping the workspace, right? ⚾

I've opened https://github.com/gitpod-io/gitpod/pull/6577 to try fixing this.

/schedule

[2021-11-05 13:08] gtsiolis commented on #6575
/assign @gtsiolis

[2021-11-05 13:11] jldec opened #6578 "Private repositories Limit Reached message"
A user [reported](https://app.frontapp.com/inboxes/teammates/9932746/inbox/open/40128293834) hitting a "Limit Reached" with a message mentioning "private repositories", when they tried to open a workspace on a private repo.

- best case they actually hit a different limit and this is just a bad message
- worst case there's a bug in how this usage toward limit was computed, and it also resulted in

[2021-11-05 13:13] csweichel opened #6579 "[installer] Fix ws-proxy role"
### Bug description

Recent ws-proxy changes broke ws-proxy w.r.t.  to the installer

### Steps to reproduce

Install using the installer

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-11-05 13:13] csweichel commented on #6579
/schedule

[2021-11-05 13:13] csweichel commented on #6579
/assign

[2021-11-05 13:36] jldec commented on #6557
/schedule

[2021-11-05 14:31] gtsiolis commented on #6571
@JanKoehnlein This does not include the instances that trigger a modal, right? I'd expect everything that triggers a modal to _not_ open in a new tab even if using CMD+Click. 🙏

1️⃣ **On Branches**, CMD+Click on New Workspace opens a new workspace in a new tab.

2️⃣ **On Workspaces**:
1. In a personal account (`/workspaces`), this will trigger a modal to select from Recent and Example repositories

[2021-11-05 14:44] jgallucci32 commented on #5690
One thing I think might help is to rebrand self-hosted into 2 editions, something like Gitpod Community Edition (CE) and Gitpod Enterprise Edition (EE)? This might help clarify the AGPL binaries are the core product, without enterprise features, and for unlimited users. Then for Gitpod EE you get 10 users free, pay after the 11th user.

[2021-11-05 14:47] #6575 closed

[2021-11-05 15:29] #6570 closed

[2021-11-05 15:58] gtsiolis commented on #5159
Thanks @iQQBot! 🏓
/assign @iQQBot

[2021-11-05 15:58] #5159 closed

[2021-11-05 16:02] jldec commented on #6578
Following up - granting additional hours did not fix the problem, and the dashboard shows plenty of remaining hours.

<img width="890" alt="hours_left" src="https://user-images.githubusercontent.com/849592/140541112-7ce83d7b-b4cf-4640-a0a2-2565421aec73.png">

[2021-11-05 16:06] ChristianHuff-DEV commented on #6342
I'm interested to try Goland.

[2021-11-05 16:09] laushinka commented on #6578
And I would assume that text shouldn't even still exist in our code, since private repos are free now.

[2021-11-05 17:25] yuhuishi-convect commented on #3860
Wondering what is the status for supporting DinD. Tried today and got the same error.
Looks like the referred issue has been closed.

[2021-11-05 18:47] gtsiolis commented on #6403
Hey @Shulammite-Aso! Every contribution is welcome!

Since :a: this has been removed from the **[Product Engineering Groundwork](https://github.com/orgs/gitpod-io/projects/3)** and :b: there's no assignee, no one from the team is actively working on this, so feel free to open a pull request for this. 🏓

Pasting from the [relevant docs](https://code.visualstudio.com/api/extension-capabilities/exten

[2021-11-05 18:57] gtsiolis commented on #6438
Thanks @atduarte for clarifying, @loujaybee for chiming in, and @corneliusludmann for opening https://github.com/gitpod-io/gitpod/pull/6507! 🏀

Looking forward for improving and making this flow more obvious to users.

[2021-11-05 19:12] #6438 closed

[2021-11-05 19:22] gtsiolis commented on #6578
No need to ask for permission, @iQQBot! Feel free to open a PR for anything that you would like to contribute to. 🏀

[2021-11-05 20:11] jldec opened #6588 "Unable to create a team plan on gitpod-staging"
This applies only to gitpod-staging.

After entering payment information, the new team plan in the dashboard stays stuck on `Payment in Progress` until what looks like a 15 minute timeout, when it disappears.

Clicking on the `Billing` button in the dashboard brings up the what looks like a successful subscription, and  provides links for the account, invoice etc.

![Screenshot 2021-11-05 at 13 45

[2021-11-05 20:21] andymac4182 commented on #6342
This will be awesome. Super interested

[2021-11-05 22:23] nyoungstudios opened #6589 "Gitpod cli with zsh (ohmyzsh)"
- I've build my own base Docker image for Gitpod derived from the `gitpod/workspace-base:latest` and `gitpod/workspace-full:latest` images.
- I've noticed that the Gitpod cli (`gp`) is not part of those Docker images (which is why I'm opening the Issue here). Thus, I assume that after pulling the Docker image specified in the `.gitpod.yml` file, it will mount the Gitpod cli
- Since I'm using zsh (

[2021-11-06 03:35] #3982 closed

[2021-11-06 11:24] philip-weber commented on #6342
I am very interested in trying out the interaction between JetBrains IDEs and GitPod. Please put me on the waiting list. Thank you!

[2021-11-06 13:26] a16bitsysop commented on #3356
The alpine wiki says gcompat is better:
https://wiki.alpinelinux.org/wiki/Running_glibc_programs

https://git.adelielinux.org/adelie/gcompat

But that did not work for me either, maybe it needs symlinking to another path?

https://pkgs.alpinelinux.org/contents?branch=edge&name=gcompat&arch=x86_64&repo=community

[2021-11-06 15:46] penja commented on #6342
I wanna play a game!

[2021-11-07 01:06] shaal commented on #3982
I don't think this is completed yet. Perhaps add `meta: never-stale` ?

[2021-11-07 05:23] tokt commented on #4889
@csweichel
Sorry to bother, I've been trying to follow the steps from https://github.com/gitpod-io/gitpod/issues/4889#issuecomment-895385399 and I got stuck at step 2: how do I "sudo touch /dev/kmsg" from the node level? Do I need to setup some magic before that?

[2021-11-07 07:26] #4999 closed

[2021-11-07 07:26] #4114 closed

[2021-11-07 10:35] csweichel commented on #4889
No bother at all. You'd need to run this experiment on a Gitpod installation where you have access the cluster Gitpod is running on. Once your workspace is running, you can
1. kubectl exec into `ws-daemon` on the machine your workspace is running on (`kubectl get pod -o yaml` and `kubectl describe node` come in very handy here)
2. identify your workspace. I usually do this by running `sleep 1234`

[2021-11-07 10:59] etienne1911 commented on #3356
Do you know if this issue affects other distributions such as arch linux or is only related to alpine?

[2021-11-07 11:38] a16bitsysop commented on #3356
Arch Linux is glibc based not musl so it should work, I tried to create a custom image from debian-slim and it errored out when integrating the Gitpod layer during launch, so I used gitpod/workspace-base with an alpine chroot which works now apart from making a single command/script to get into the chroot as Gitpod user.

The issue seems to be after you make a custom image Gitpod adds it’s own lay

[2021-11-07 15:21] #6276 closed

[2021-11-07 16:04] MrSimonEmms opened #6597 "[Installer]: connect GKE with external dependencies"
## Is your feature request related to a problem? Please describe

## Describe the behaviour you'd like

## Describe alternatives you've considered

## Additional context

[2021-11-07 16:19] jbduncan commented on #6342
I'd love to try out the Gitpod-JetBrains integration too. Thanks in advance. :)

[2021-11-07 16:44] jgallucci32 commented on #5031
@ntziolis Yes you understood that correctly, you can support private repositories using Artifactory as a third party service using the workaround I posted earlier. The configuration is not limited to Artifactory, and should be able to support other common enterprise repositories tools such as Sonatype Nexus. If authentication is required, the api keys could be added to the nginx.conf to support th

[2021-11-07 19:15] jldec opened #6598 "Cannot open workspace on git-lfs repository, where git-lfs is used in prebuild"
`git-lfs` does not appear to be available in the default image on Gitpod.
See https://github.com/gitpod-io/workspace-images/pull/553 and https://github.com/gitpod-io/workspace-images/pull/450

[Users](https://community.gitpod.io/t/cannot-start-a-gitpod-prebuild-unable-to-find-workspace-starting-logs/5554) are resorting to `brew install git-lfs` to get past this issue.

This works inside a workspac

[2021-11-07 22:15] jldec commented on #6578
cc: @jldec - reminder to follow up in [front](https://app.frontapp.com/inboxes/teammates/9932746/inbox/open/40128293834)

[2021-11-07 23:56] jldec commented on #5847
see https://github.com/gitpod-io/gitpod/pull/6376#discussion_r744337324 regarding why we are not fixing the slugs for existing GitLab repos at this point.

[2021-11-08 00:14] smacintyre commented on #5993
@csweichel Sorry, forgot to follow up on this. Setting either `PIP_USER` or `PIP_ENV` helped. Moved it to part of the init task worked.

[2021-11-08 00:14] #5993 closed

[2021-11-08 02:35] kylos101 commented on #6518
I learned how to manually run the integration tests and shared in #6599.

For posterity, we ran the tests a few times last week against a self-hosted installation, the results are below.

- [ ] Next steps, create issues to address the test failures and prioritize with the team.
  * There is related work happening in #5985.

## Run 1
### Summary (16 failures):
9 tests failed due to being unable to

[2021-11-08 02:35] jldec opened #6600 "Two different projects can be added with the same slug"
It's quite common to own repos in different GitHub orgs with the same repo name. E.g. `website` or commonly forked repos.

Adding those as projects under the same user or team results in projects with the same slug.

This creates a variety of problems e.g. clicking on either of the 2 projects in the Projects list, opens the same project tabs in the UI (the other project cannot be opened).

![Scree

[2021-11-08 04:36] ghuntley commented on #6518
Moin, @kylos101. Here's some insights I've learned which might be useful to you!

Integration tests of the context parsers are controlled via setting the tokens:
[code]

[2021-11-08 05:10] ghuntley commented on #6598
Observations:

[code]

[2021-11-08 06:48] akosyakov commented on #6558
Thanks for discovering it. We are working on better testing and updates for major extensions.

[2021-11-08 08:01] corneliusludmann opened #6601 "[ide/dashboard] Assemble IDE preferences based on server-ide-configmap"
Currently, the preferences page that allows the users to choose an IDE is hardcoded in the dashboard component. However, we actually have nearly everything that needs to assemble this page in the server-ide-configmap to make the available options independent from the dashboard deployments. We could add some extra values here:

https://github.com/gitpod-io/gitpod/blob/335215f565e2912d5d84db3f1502f3

[2021-11-08 08:07] akosyakov commented on #6601
@corneliusludmann I was wondering should not we apply approach similar to VS Code Insiders for JetBrains for now, i.e. whatever is merged to main is deployed nightly? Till we have a stable version.

[2021-11-08 08:12] #5060 closed

[2021-11-08 08:15] corneliusludmann commented on #6601
We could think about whether that would be a reduction in work for us (but don't think so at the moment). But this is independent of the proposal in this issue, right?

[2021-11-08 08:19] #6568 closed

[2021-11-08 09:13] akosyakov commented on #6403
@jeanp413 I looked through VS Code and could not find an easy way to customize default settings, i.e. like via workbench.ts. Maybe you have an idea whether it is possible? The only way I see is to change default values [here](https://github.com/gitpod-io/openvscode-server/blob/9d092bc97a8ec1050dc83bdb43ed3603aa74fccb/src/vs/workbench/services/themes/common/themeConfiguration.ts#L43-L71). Does it l

[2021-11-08 09:33] corneliusludmann commented on #6512
/assign

[2021-11-08 10:03] akosyakov commented on #6601
Yeah, i think this issue is good anyway. I was just wondering of minimal change to enable delivering JetBrains changes to production.

[2021-11-08 10:29] #6490 closed

[2021-11-08 10:34] akosyakov commented on #6456
It works thanks

[2021-11-08 10:34] #6456 closed

[2021-11-08 10:55] loujaybee opened #6602 "Epic: Improve the experience of opening desktop IDE/editors"
## Context

As Gitpod moves to a situation where we have more desktop IDE's integrated like JetBrains and VSCode Desktop, we need to start to think about **how we get desktop support into Gitpod as more of a first-class citizen** rather than as a bolt-on which is accessed only via the browser experience (e.g command palette or selected on workspace start-up).

For VSCode, the user currently has to

[2021-11-08 11:03] etienne1911 commented on #3356
I tried to launch archiso as docker image, but also had issue with gitpod layer..
I suppose it requires to replicate some steps from workspace-base... to set new gitpod user notably..
Currently have another issue with pacman which was reported before and probably caused by  glibc version on older docker version.

On the other hand, I looked at setting an arch chroot inside a default container. and

[2021-11-08 12:08] jldec commented on #5150
Closing this - since we have docs now and even a Beta notice :)

[2021-11-08 12:08] #5150 closed

[2021-11-08 12:16] gtsiolis commented on #5150
Thanks for coming back to this, @jldec! Missed closing this the initial PR in #842 was replaced in https://github.com/gitpod-io/website/pull/842#issuecomment-944415830.

[2021-11-08 13:13] meysholdt commented on #6330
Closing for now; We'll look at builds being stuck again in about at week when we have traces in Honeycomb.

[2021-11-08 13:13] #6330 closed

[2021-11-08 13:20] corneliusludmann commented on #6602
As far as I know, the extra step is only necessary for the “Code with me” integration. Once we have a more direct way of opening JetBrains we will open the IDE directly. E.g. for the VS Code integration, we have a `vscode://...` link that opens the desktop IDE.

Nevertheless, opening an additional browser tab to follow the progress is still useful, IMHO. This page also shows errors when the worksp

[2021-11-08 14:10] kylos101 opened #6604 "[test] 9 tests fail with "error parsing DB_PORT" for self-hosted"
### Bug description

We'll need to [extend the test framework](https://github.com/gitpod-io/gitpod/blob/a9dca2a2bf7f1562ee90e53b038d63f9cbba824f/test/pkg/integration/apis.go#L432) as the DB port comes from a secret now.

### Steps to reproduce

[Follow these steps](https://github.com/gitpod-io/gitpod/tree/main/test#manually-against-a-kubernetes-cluster) against a self-hosted installation of Gitpod

[2021-11-08 14:28] corneliusludmann commented on #6512
One part of this issue is to add the supervisor ref to the ImageSpec of the registry facade. That's obvious.

But the supervisor image ref is also part of the `ws-proxy` config:

https://github.com/gitpod-io/gitpod/blob/a30a1bff483b02df67e01791b44dfb5bf025d344/chart/templates/ws-proxy-configmap.yaml#L50

This seems to be used to handle supervisor frontend URLs via `blobserve`.

@csweichel How coul

[2021-11-08 14:32] jeanp413 commented on #6403
@akosyakov Why is not possible not set it in `configurationDefaults` in `workbench.ts`? Or is vscode just ignoring it?

[2021-11-08 14:33] akosyakov commented on #6403
@jeanp413 oh, thanks! I overlooked it.

[2021-11-08 14:34] akosyakov commented on #6403
@Shulammite-Aso You can contribute it here: https://github.com/gitpod-io/openvscode-server/blob/7a7d2cc5a46293eec48f9d1c619c95ce9c78640c/src/vs/gitpod/browser/workbench/workbench.ts#L834-L836, PR should be opened against gp-code/main branch.

[2021-11-08 14:41] Shulammite-Aso commented on #6403
Okay @akosyakov, would do just that!

[2021-11-08 14:42] ChristinFrohne commented on #6509
I discussed the issue again with @JohannesLandgraf and he agreed with the previous suggestion to only allow newsletter signups if the user signs in. Additionally, he had the simple and great idea to just link the newsletter signup button to [https://gitpod.io/notifications](https://gitpod.io/notifications). By that the users can adjust the settings themselves and we don't have any technical work.

[2021-11-08 14:56] #6445 closed

[2021-11-08 15:25] laushinka commented on #6509
Is there a reason why we would want to ask users to sign up to Gitpod to
sign up to our newsletters?
Also, we had tickets before to make sure that users don't have to sign in
in order to unsubscribe - but to subscribe they will have to? Essentially
we're making it easier for people to leave our newsletters than to sign up
to them.

Just a thought..

On Mon, Nov 8, 2021 at 3:42 PM christin ***@***.

[2021-11-08 15:53] laushinka commented on #6502
Re cookies:
Unlogged-in visitors to `https://www.gitpod.io/` get `ajs_anonymous_id` and `gitpod-marketing-website-visited` cookies.
Logged-in users get `gitpod-user`, `_gitpod_io_`, and `GCLB`.

[2021-11-08 16:42] JanKoehnlein commented on #6578
/schedule

[2021-11-08 16:42] roboquat commented on #6578
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6578#issuecomment-963350893):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-08 16:42] kylos101 commented on #6518
Thank you, @ghuntley !

It looks like there are 7 Typescript spec files that have integration tests:
* 6 tests for Github (1) / Gitlab (1) / Bitbucket (4) using the tokens you mentioned.
* 1 test for the DB, CodeSyncResourceDBSpec, which has 10s timeout

Some follow-up questions (I'll ask these in **help-me**, too):
1. Are there any other integration tests I have missed? I could not find others.
2

[2021-11-08 16:44] JanKoehnlein commented on #6600
/schedule

[2021-11-08 16:44] roboquat commented on #6600
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6600#issuecomment-963352279):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-08 16:52] JRedOW commented on #6459
I really need some way to change dns resolution within a workspace.  Many monorepos I work with hardcode the values of urls to prevent possible mistakes and security flaws (ex. Hardcoded Call To API in Svelte).  Without editing the hosts file, everything goes horribly wrong.  There should be some extremely easy way to edit hosts in the gitpod config (This would also give gitpod another advantage o

[2021-11-08 17:27] laushinka commented on #6600
Checked it together with @jldec and it's because of how we structure our url `/projects/:projectName/` - it assumes `projectName` will always be unique. This problem doesn't occur when the same project names are in different teams. We'll write down ideas here on how best to solve this name collision.

[2021-11-08 17:33] jldec commented on #6600
Discussed ideas with @laushinka for how to address this issue short term (without redesigning the flow.)

The simplest way may be to block users from creating projects with the same slug, the same way we block projects which point to the same repo.

In this case, it would be nice to tell users which existing project (in the same team) is using the slug - e.g. with a message like "Name already used

[2021-11-08 17:54] #4127 closed

[2021-11-08 17:59] gtsiolis commented on #5115
This was recently brought up in our discord server, see [relevant discussion](https://discord.com/channels/816244985187008514/816246578594840586/907316018790166638). Cc @jldec

[2021-11-08 18:11] #6290 closed

[2021-11-08 19:13] #5660 closed

[2021-11-08 19:13] #6446 closed

[2021-11-08 19:14] kylos101 commented on #6604
/schedule

[2021-11-08 19:14] roboquat commented on #6604
@kylos101: Cannot schedule issue - issue does not belong to a team. Use /team to specify one.

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6604#issuecomment-963490012):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my beh

[2021-11-08 19:15] kylos101 commented on #6604
/team workspace

[2021-11-08 19:15] kylos101 commented on #6604
/schedule

[2021-11-08 19:32] gtsiolis opened #6610 "Quitting VS Code Desktop throws an error in VS Code in Browser when using VS Code Insiders in preferences"
### Bug description

While using VS Code Insiders in **/preferences**, (force) quitting VS Code Desktop throws an error in VS Code in Browser.

This happens when force quiting the VS Code Desktop, not when closing the remote connection gracefully[[1](https://code.visualstudio.com/docs/remote/ssh#_disconnect-from-a-remote-host)].

This affects both a) VS Code and b) VS Code Insiders locally.

Click

[2021-11-08 19:34] kylos101 opened #6611 "Error for buildSearchableOptions task in prebuild log for components/ide/jetbrains/backend-plugin"
### Bug description

I received the below error when starting a new workspace for Gitpod.

The workspace is still functional, I wasn't expecting an error for Jetbrains though, and wanted to share.

[code]

### Steps to reproduce

[Start a new workspace for Gitpod.](https://gitpod.io/#https://github.com/gitpod-io/gitpod)

### Workspace affected

amber-damselfly-5r2y7f7i

### Expected behavior

No e

[2021-11-08 19:39] aledbf commented on #6611
/team ide

[2021-11-08 19:39] roboquat commented on #6611
@aledbf: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6611#issuecomment-963507729):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or suggesti

[2021-11-08 19:39] aledbf commented on #6611
/team IDE

[2021-11-08 19:39] roboquat commented on #6611
@aledbf: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6611#issuecomment-963507838):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or suggesti

[2021-11-08 19:41] kylos101 commented on #6611
/team "IDE"

[2021-11-08 19:41] roboquat commented on #6611
@kylos101: The label(s) `team: ide` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6611#issuecomment-963509361):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questions or sugges

[2021-11-08 20:05] Rtinox commented on #6342
Me too if possible, thanks in advance 😅

[2021-11-08 20:08] ciurte-freelance commented on #6342
I`d love to be able to join!

[2021-11-08 20:20] szab100 commented on #6342
+1, add me pls

[2021-11-08 20:42] gtsiolis commented on #4054
Thanks @shaal! 🏓

[2021-11-08 21:41] gtsiolis commented on #3771
Anything we could do to resolve the last outstanding task here and close this issue?

Cc @ChristinFrohne @JanKoehnlein

Cc @JanKoehnlein as your are assigned here. 🏓

[2021-11-08 21:50] sylhare commented on #905
A simple workaround would be to install the gems "locally", here is how I did it:
- Persist `bundle install` in prebuild:  https://github.com/sylhare/Type-on-Strap/pull/324

[2021-11-08 22:27] vavdoshka commented on #5712
please help, I got the "Open in VS Code" stuck on VS Code desktop side.

[code]

[2021-11-08 23:23] jab commented on #4886
I see this was closed a few months ago, but I just hit this issue. Has the fix been released yet?

In case it helps anyone else, I am working around this for now by prepending `env PIP_USER=false` to the `pre-commit install --install-hooks` command in my `init` section (see https://github.com/jab/bidict/pull/210/files).

[2021-11-09 02:16] misterjoshua commented on #6342
Please add me to the list!

[2021-11-09 02:58] ghuntley commented on #3771
See also [DCS > Brand Registry](https://www.notion.so/gitpod/8ad7efdacbe341ac968c6b7959bc4230?v=11a0e56a71944230b46448be7eb6fb35) (Internal Link) which is the source of truth.

[2021-11-09 03:18] skylacking04 opened #6614 "Large package like pip rasa not installing"
### Bug description

trying to install from a prebuild, or regular build for a python package rasa. I get error messages like

  Downloading sniffio-1.1.0-py3-none-any.whl (4.5 kB)
INFO: pip is looking at multiple versions of aiofiles to determine which version is compatible with other requirements. This could take a while.
INFO: This is taking longer than usual. You might need to provide the depe

[2021-11-09 07:24] lucas-labs opened #6615 "Unprotected private key file"
Does this issue occur when all extensions are disabled?: Yes

- VS Code Version: 1.61.2
- OS Version: Windows 10

I'm seeing the following error when trying to open with VSCode

[code]

The problem is with the permissions of the file gitpod_01460b4a-fe2a-4d71-8fee-f0d065765c8a_id_rsa. As the error says, permissions are too open:

![image](https://user-images.githubusercontent.com/12949236/14077573

[2021-11-09 07:37] ChristinFrohne commented on #6509
I agree it's not optimal, but as we are discussing this issue since June, I'd like some progress done so that the signups don't just end in a Google Sheet. Since June we have 160 sign-ups which is nice, but also not that many. I randomly checked some email addresses and most of them already had a Gitpod account, so for them, the signup wouldn't be a hurdle.

I'm happy if someone else picks up this

[2021-11-09 08:08] JanKoehnlein opened #6617 "[payment] prebuilds should be free for private repos"
## Is your feature request related to a problem? Please describe
Prebuilds on private repos are charged.

## Describe the behaviour you'd like
They shouldn't

[2021-11-09 08:08] JanKoehnlein commented on #6617
/schedule

[2021-11-09 08:08] roboquat commented on #6617
@JanKoehnlein: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6617#issuecomment-963905064):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against t

[2021-11-09 08:15] akosyakov commented on #5712
@vavdoshka Could you try to close VS Code and kill all processes with gitpod in name and they try again? If it does not help please collect logs and send them to anton@gitpod.io. Thank you.

[2021-11-09 08:27] GitMensch opened #6618 "gitpod extension (maybe a new one): allow integration with vscode.dev"
There are currently two gitpod extensions in the ms extension market, I think I fail to see from the README what they are actually for (the README seems to be about Gitpod, not about the extension).
That aside: It would be cool if there is an extension that allows using the existing gitpot workspaces in vscode.dev (providing Terminal/build/debug).

[2021-11-09 08:27] akosyakov commented on #6618
I don't think it is technically feasible. There is API between web workbench (vscode.dev) and VS Code Server running on the backend. It is not stable, i.e. it is only safe when web workbench and server are built from the same commit. Connecting arbitrary one likely is not going work and will break in subtle ways.

What could work if an extension which detects underlying git repo and suggest to ope

[2021-11-09 08:38] #6597 closed

[2021-11-09 08:41] GitMensch commented on #6618
If that would work also in a way that it creates the necessary workspace then this would be definitely useful.

Do you think you could clean up the extensions' README a bit to make more clear what the extensions actually do and if they are found at different repos adjust this content in the package.json (pointed all to the repo where I've created the issue).

[2021-11-09 08:42] laushinka commented on #6617
Is this issue created for transparency/issue tracking? Or because it could be handled in other places that are not covered by #6587?

[2021-11-09 08:53] akosyakov commented on #6386
I cannot proceed since testing VS Code against Gitpod in prev envs is broken right now.

[2021-11-09 09:39] loujaybee commented on #6602
Dropping in an additional note/user-feedback from @gtsiolis ([internal link](https://gitpod.slack.com/archives/C02CBKZEVS8/p1636398166105600))

Also, [link this Discord chat](https://discord.com/channels/816244985187008514/839379835662368768/907240495145693185) with a discussion regarding preferences for IDE's and projects.

[2021-11-09 09:42] #5028 closed

[2021-11-09 09:54] svenefftinge opened #6623 "[dev] Use standard GitHub approvals"
We currently allow `/approve` and `/lgtm` as alternatives to the approve action in Github. Unfortunately those actions don't set the 'approved' flag on GitHub but only set a label. In order to feed Athenian.co with the data it needs to provide proper times for the different cycle time phases we should align on always using the GitHub approve functionality.

Old habits die hard, so we should disabl

[2021-11-09 10:02] ghuntley commented on #6518
As the integration tests are hot and not mocked then there will be API quota tokens. Thus suggesting running this twice a day on cron against main?

[2021-11-09 10:58] geropl opened #6626 "[content-service] Logs 404 on DeleteUserContent if bucket does not exists"
- https://console.cloud.google.com/errors/CJO2u-nKrbfI9gE?service=content-service&time=P30D&project=gitpod-staging
- https://console.cloud.google.com/errors/CJKiw5TUjqP5sgE?service=content-service&time=P30D&project=gitpod-staging

expectation: should be ignored & not logged

[2021-11-09 11:09] JanKoehnlein commented on #6617
The former. It was created in parallel to the fixes in #6587.

Sent via Superhuman ***@***.***>

On Tue, Nov 09, 2021 at 9:42 AM, Laurie T. Malau ***@***.***>
wrote:

[2021-11-09 11:18] JanKoehnlein commented on #6509
So the MVC is website only, isn't it? I'll unschedule this ticket from groundwork then.

Yes, that's what GDPR forces us to do. Consent has to be proved, while unsubscribe has to be one-click.

[2021-11-09 11:20] #6578 closed

[2021-11-09 11:29] laushinka commented on #6509
Ah, got it. Thanks for the explanation.

On Tue, Nov 9, 2021 at 12:18 PM Jan Koehnlein ***@***.***>
wrote:

[2021-11-09 11:40] #6562 closed

[2021-11-09 11:42] MrSimonEmms opened #6627 "[Installer]: validate that external certificates contain the correct keys/structure"
- [x] Database
- [x] Container registry
- [x] Object storage
- [x] HTTPS Certs

by extending https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/config/v1/validation.go#L69

[2021-11-09 11:46] loujaybee commented on #6569
Thanks for adding @shaal !

Just came here to note that this behavior is how most CI tools also work, and the workflow would be to cancel any unwanted jobs. Might be quite difficult to work out whether or not a commit should or shouldn't be built 🤔

[2021-11-09 12:03] loujaybee commented on #6601
Just stopping by to say that I think this would fit nicely with our goals of independent deployments and reducing WIP. 🙏

Admittedly, I don't see this being used a lot in the long-term, but I can see how it'd be useful for the short-term as we start to add more IDE's, and might need to remove some.

**Note:** I've added it to the independent deployment epic that @corneliusludmann is currently work

[2021-11-09 12:05] loujaybee commented on #6545
Added to the Open BETA epic of JetBrains, removed from inbox, we can pull through all the open beta items when the private beta is opened up and feedback starts to come in 🙏

[2021-11-09 13:27] jldec commented on #6569
Perhaps some options to consider (for any branch with prebuilds)

- only serve workspaces with prebuilds for HEAD
- let users who are starting a new workspace know when a new prebuild on HEAD is pending
- scavenge and delete old prebuilds

OR

- serve workspaces with prebuilds for any commit
- keep older prebuilds available for some time

#### for additional awareness of prebuilds
- let users know

[2021-11-09 14:29] geropl opened #6629 "SyntaxError: Unexpected end of JSON input: error starting instance"
error reporting: https://console.cloud.google.com/errors/CNbk-u_GjcuKfg?service=server&time=PT6H&project=gitpod-191109
incident: https://app.incident.io/incidents/65

logs: https://console.cloud.google.com/logs/query;query=%0AlogName:%22stderr%22%0Aresource.type%3D%22k8s_container%22%0Aresource.labels.namespace_name%3D%22default%22%0Aresource.labels.container_name%3D%22server%22%0AjsonPayload.mess

[2021-11-09 14:31] mteam88 opened #6630 "No margin or footer below preferences page"
I see that there is no margin or preference below the selection for theme.
![image](https://user-images.githubusercontent.com/84196639/140942702-6dbf7ee1-9c23-43ad-953b-5cadd1c288fe.png)
This is scrolled all the way down.

This could easily be solved by including the Gitpod footer there or adding a margin to the bottom of the page.

[2021-11-09 14:37] csweichel commented on #6393
solved in #6405

[2021-11-09 14:37] #6393 closed

[2021-11-09 14:39] gtsiolis commented on #6630
Thanks @mteam88 for noticing! This is known, closing this in favor of https://github.com/gitpod-io/gitpod/issues/4634.

[2021-11-09 14:39] #6630 closed

[2021-11-09 14:40] csweichel opened #6631 "[image-builder-mk3] Keep credentials out of the workspace"
In image-builder-mk3 image-builds happen in headless Gitpod workspaces. Those workspaces are well isolated from each other and the node they run on. However, there's no such isolation between things that run inside a workspace, e.g. buildkit. If we placed the credentials required to push the image inside the workspace, users could potentially access those credentials during the image build.

We ne

[2021-11-09 14:40] csweichel commented on #6631
/schedule

[2021-11-09 14:40] roboquat commented on #6631
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6631#issuecomment-964213392):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-09 14:40] csweichel commented on #6631
/assign

[2021-11-09 15:48] geropl commented on #6629
Looks like the reason was a broken entry in the DB that's related to workspace clusters. This explains why we only saw this in prod EU: https://console.cloud.google.com/logs/query;query=resource.type%3D%22k8s_container%22%0Aresource.labels.namespace_name%3D%22default%22%0Aresource.labels.container_name%3D%22server%22%0AjsonPayload.message%3D%22error%20starting%20instance%22%0AjsonPayload.stack_tra

[2021-11-09 16:02] alkoclick opened #6632 "Gitpod badge in README.md doesn't work in Brave browser"
### Bug description

The "Gitpod: Ready to code badge" does not work on the Brave browser (perhaps other privacy-minded browsers too?) in Mac and Android.

### Steps to reproduce

- Using Brave browser on MacOS Catalina
- Go to https://github.com/gitpod-io/gitpod#readme
- Click the GitPod badge
- You will get the following:

<img width="548" alt="Screenshot 2021-11-09 at 14 44 35" src="https://use

[2021-11-09 16:08] akosyakov commented on #6558
Could you try again please? It should be fixed.

[2021-11-09 16:20] maksimr commented on #6558
@akosyakov works perfectly now! Thanks a lot

[2021-11-09 16:37] geropl opened #6633 "[dashboard] GitHub app installation: parameter 'installation_id' is undefined"
internal discussion: https://gitpod.slack.com/archives/C020VCB0U5A/p1636466199191100

When a user wants to install the Gitpod GitHub app it may happen that the `installation_id` URL parameter is `undefined`, resulting in a modal saying "Failed to install" which shows a DB error (duplicate primary key).

We should:
 - find out how this might happen
 - make the `installation_id=undefined` case nicer

[2021-11-09 16:53] geropl commented on #6629
Removed that row with:
[code]

[2021-11-09 16:53] #6629 closed

[2021-11-09 17:19] enriquecaballero commented on #6341
Having the same issue 🤔

[2021-11-09 18:18] joepurdy commented on #5534
Our engineers in APAC would be your best friend if there was a Gitpod cluster local to them in either Singapore or Mumbai 😁

Here's the GCP Ping from one of our engineers in Hyderabad, India
![image](https://user-images.githubusercontent.com/6409227/140981381-ddf83ef3-1134-498a-ace2-9ba0de96433f.png)

[2021-11-09 18:21] cwurtz commented on #6342
Please sign me up, thanks!

[2021-11-09 18:34] bigint commented on #5534
+1  for Mumbai region 😎

[2021-11-09 18:35] bigint commented on #5534
@svenefftinge Any updates?

[2021-11-09 19:22] vavdoshka commented on #5712
@akosyakov
I've wiped out VS Code and installed the latest Version: 1.62.1 (Universal), also killed the companion process and removed gitpod.io key from keychain.
Then tried "Open in VS Code" it prompted to install extension and authenticated to Gitpod after and still same issue.
Also I tired with standard full-worksapce image, same issue.

I have gathered the logs and did send them to anton@gitpo

[2021-11-09 20:05] jldec commented on #6633
#6421 is similar, but not exactly the same

After changing auth settings for the GitHub App (from all-repos to specific repos), @JanKoehnlein also saw a ER_DUP_ENTRY message.

[2021-11-09 20:30] jldec opened #6635 "Unresponsive Select action in repo selection in New Project form"
A user [reported](https://community.gitpod.io/t/new-project-select-not-working/5579) that a `Select` button was not working for them when selecting a repo to create a Project.

In this case the repo lives under a GitHub org, and the user mentioned that the authorizations in the org appear to be correct.

We are following up to investigate further, and are tracking in this Issue for reference.

[2021-11-09 20:32] kylos101 commented on #6604
In d2e9f27451cb7d5e77e4b041e57c3a741db85ec0, the installer was updated to populate ENV VARs from secret references.

[corev1.EnvVar](https://pkg.go.dev/k8s.io/api/core/v1#EnvVar) has various fields (Name, Value, and ValueFrom). The value field returns "" when trying to get a value that is backed by a secret reference.

We'll need a small code change to fix our integration tests to work with the in

[2021-11-09 20:51] jldec commented on #6421
Another user [reported](https://app.frontapp.com/inboxes/teammates/9932746/inbox/open/40165381514) something similar - except in this case the workspace failed to start.

### Workspace Error
Repository not found
The repository ' - - - ' is not found in your account.

[2021-11-10 00:35] laushinka commented on #6635
This happened during the incident and we rolled back. Looking at when the user reported it, it seems to coincide with when the incident happened.

[2021-11-10 02:36] huweiATgithub commented on #6561
Any updates on this? I think this is quite important for python users.
To the best of my knowledge, python will look up modules from its sys.path variable which contains the working directories and those directories inside PYTHONPATH. If one doesn't feel like modifying sys.path directly inside scripts, he or she will have to modify the PYTHONPATH variables.
Two common scenarios where users have to

[2021-11-10 06:19] huweiATgithub commented on #6561
Also see https://github.com/microsoft/vscode/issues/98490
The root cause of not having PYTHONPATH is unset it in bashrc.

[2021-11-10 08:18] geropl commented on #6588
/schedule

[2021-11-10 08:18] roboquat commented on #6588
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6588#issuecomment-964883709):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-10 08:25] #6332 closed

[2021-11-10 08:46] csweichel opened #6638 "[ws-manager] Redact GIT_EMAIL in event trace logs"
### Bug description

To reduce the PI surface in the logs

### Steps to reproduce

Start a workspace

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-11-10 08:53] geropl commented on #6588
Looks like our staging payment endpoint cannot be resolved.

internal discussion: https://gitpod.slack.com/archives/C01KGM9EBD4/p1636534393234000

[2021-11-10 08:58] laushinka commented on #6635
/schedule
/assign

[2021-11-10 09:06] geropl commented on #6588
New DNS entry is up and first events are fine.

[2021-11-10 09:06] #6588 closed

[2021-11-10 09:58] JanKoehnlein opened #6642 "[db] Revise hand-written TypeORM transformers"
### Bug description

The rollback of the last deployment due to #6629 was caused by our manually written transformers. We should carfeully review they don't just cover the happy path.

### Steps to reproduce

None

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2021-11-10 10:15] #6635 closed

[2021-11-10 10:26] geropl opened #6643 "Failing prebuilds are not reported as "headlessTaskFailed""
Exmaple workspace (staging):
 - log showing "exit status code 1": https://storage.cloud.google.com/gitpod-prodcopy-user-4525da00-348f-40e4-b7eb-7d2c4325000e/workspaces/amber-koi-wur0q4ky/instances/a363be89-19a5-40d5-80a1-bbdabc4c966e/logs/0
 - workspaceId: `amber-koi-wur0q4ky`
 - instanceId: `a363be89-19a5-40d5-80a1-bbdabc4c966e`
 - status:
[code]

[2021-11-10 10:33] schickling opened #6645 "New Gitpod from sub directory of a (mono) repo"
Similar to how GitHub has the [template repository feature](https://docs.github.com/en/repositories/creating-and-managing-repositories/creating-a-template-repository) I'd like Gitpod to support a similar workflow by being able to create a new Gitpod from a sub directory of a (mono) repo.

This workflow is already possible "locally" with the following terminal command:

[code]

**Use case:**
Many p

[2021-11-10 10:36] digiltd commented on #5712
Loving the desktop support btw, the ability to use keyboard shortcuts to flick between browser and ide has saved my sanity, no more hunting through multiple tabs in multiple browser windows for me!

@vavdoshka I used to have this happen quite regularly, though it hasn't happened in a while. But to fix it I would open the ssh config, find the file in Finder, delete it and the other gitpod files in

[2021-11-10 11:31] loujaybee commented on #6602
Noting an additional comment/feedback from the community [[1](https://discord.com/channels/816244985187008514/839379835662368768/907931354472251403)] about enabling a better flow for opening VSCode desktop.

[2021-11-10 11:32] loujaybee commented on #4781
Noting an additional comment/feedback from the community [[1](https://discord.com/channels/816244985187008514/839379835662368768/907931354472251403)] about enabling a better flow for opening VSCode desktop.

[2021-11-10 11:32] loujaybee commented on #4781
This issue is also related to: https://github.com/gitpod-io/gitpod/issues/6602

[2021-11-10 11:32] laushinka commented on #6600
Mentioning @AlexTugarev here after a brief mention of this issue earlier today.

[2021-11-10 11:33] loujaybee commented on #4782
Noting an additional comment/feedback from the community [[1](https://discord.com/channels/816244985187008514/839379835662368768/907931354472251403)] about enabling a better flow for opening VSCode desktop.

[2021-11-10 11:33] loujaybee commented on #4782
This issue is also related to: https://github.com/gitpod-io/gitpod/issues/6602

[2021-11-10 12:32] JanKoehnlein commented on #3771
I created a [PR](https://github.com/EclipseFdn/eclipsefdn-project-adopters/pull/153) agains the ecdtools repo, but it's currently blocked by the CLA process (my GitHub account is still tied to my Eclipse account with the TypeFox email address, and I cannot just edit that). I contacted Eclipse for steps to go ahead.

[2021-11-10 12:35] gtsiolis commented on #3771
Thanks @JanKoehnlein @ghuntley!

[2021-11-10 13:29] corneliusludmann commented on #6533
/assign

[2021-11-10 13:39] meysholdt opened #6649 "Workspace Pools should scale to zero nodes when there are no workspaces on it"
Context: https://www.notion.so/gitpod/Cloud-Cost-Down-7083ffcd5dbc432ab6acd84745221c9b#a2cdbda028b444caad01c4e98b6a5a58

This is beneficial for both staging and stand-by clusters in prod.
Related: [Scale Ghosts to Zero on empty clusters](https://github.com/gitpod-io/gitpod/issues/5141)

Proposed Solution: Configure all pods (which are not workspaces) in the workspace pool so that the cluster autos

[2021-11-10 13:53] meysholdt opened #6650 "Run prebuilds in the sorage-bucket's region"
Running a prebuild in the same geographical region of the storage bucket to which the prebuild will be uploaded saves us costs in two places:
* for all prebuilds, the compute egress costs from uploading the completed prebuild to its bucket.
* for incremental prebuilds, the storage egress of downloading a prebuild with the intention of updating it.

proposed solution: `ws-manager-bridge`/`server` s

[2021-11-10 13:57] corneliusludmann commented on #6645
Just a tiny note: Using a URL like https://github.com/contentlayerdev/contentlayer/tree/main/examples/mdx as context URL is supported already:

https://gitpod.io/#https://github.com/contentlayerdev/contentlayer/tree/main/examples/mdx

However, it just opens the file in the editor or the folder (in this case) in the tree view. It does not change the root folder for OpenVSX. But you can run `$ open

[2021-11-10 14:04] corneliusludmann opened #6651 "[jetbrains] Wait for content to prevent “Path does not exist” errors"
### Bug description

The JetBrains IDE backend service fails from time to time and we see the following error in the logs:

[code]

The reason could be that we don't wait for content readiness before we start the IDEs.

We could wait for the project folder in the script that starts the JetBrains IDE backend to fix this.

(see also [internal discussion](https://gitpod.slack.com/archives/C01KGM9BH54

[2021-11-10 14:06] rfay commented on #6446
I guess this isn't deployed yet.

[2021-11-10 14:10] JanKoehnlein commented on #6345
/assign

[2021-11-10 14:30] #3771 closed

[2021-11-10 14:38] akosyakov commented on #6535
Hi @wisammechano Could you use `Developer: Open Window Log File...` command and collect them for 2 use cases: (1) install a new extension with sync, and then (2) start a new workspace to check that it is sycned. We don't start frontend logs and they would be helpful to investigate. You can send them to anton@gitpod.io Thank you!

[2021-11-10 14:46] loujaybee commented on #6618
I'm not sure I fully understand the use-case for having an extension that's compatible with vscode.dev, do you mind expanding a little on what you're trying to achieve with that @GitMensch ?

Also, regarding the README's, you're right, it definitely is confusing, I've associated this issue with our GA of VSCode Desktop, we'll pick up this issue as part of that effort. Thanks a lot for raising that

[2021-11-10 15:19] #3639 closed

[2021-11-10 15:26] ItCameFr0mMars commented on #6342
I would love to help test this!

[2021-11-10 16:00] corneliusludmann commented on #6601
I have not considered in the proposal that dashboard is no longer part of server. That means that we don't have direct access to the server-ide-config in the dashboard. Well, it is pretty easy to expose the needed data via the server protocol. However, when we want to move this config to a dedicated IDE Configuration Service component in the long term I'm unsure if it's worth to add this to the se

[2021-11-10 16:34] loujaybee opened #6653 "Publish script should resolve VSIX files from GitHub releases for outdated extensions"

[2021-11-10 16:40] laushinka opened #6654 "Need a loading indicator when switching git providers to add new project"
There is no indication that something is happening when switching git providers - this can be taken as if the request did not work.
Currently for me it takes ~6 seconds when switching from GitLab to GitHub.

https://www.loom.com/share/83ad367219174b0ea660cd2a9677783d

[2021-11-10 16:51] coderroggie commented on #6342
Please add me to the list. Thanks!!!!

[2021-11-10 17:04] GitMensch commented on #6618
Sure. vscode.dev is now fully integrated in Github - open any path in the "code" tab and press a period "." opens vscode.dev at this place with the extensions of the user setup.
When I want to do actual work not just simple editing there's more needed - and it would be nice to have an extension I could install there that would open whatever I currently have open in a gitpod workspace.

[2021-11-10 17:26] jeanp413 commented on #6403
@gtsiolis should be in tomorrow's insiders so you can do quick check

[2021-11-10 17:50] jldec opened #6655 "Cleanup teams and projects when an account is deleted"
Users are [reporting](https://app.frontapp.com/open/cnv_igbm1ze) not being able to create projects after deleting (and recreating) their Gitpod account.

The New Project repo list will show "already taken" for projects left behind in deleted accounts

This happens because projects under deleted accounts were not cleaned up, preventing re-use of the repositories in those orphan projects.

### To Re

[2021-11-10 18:00] jimmybrancaccio opened #6656 "Unable To Share a Workspace in a Self-Hosted Environment"
### Bug description

When attempting to share a workspace I see that an enterprise license is required. However I believe this is wrong as no enterprise license should be required for this functionality. I could be wrong though.

<img width="374" alt="Screen Shot 2021-11-10 at 11 55 36AM" src="https://user-images.githubusercontent.com/405585/141167767-81a660e6-9c6a-41f5-93b0-d253765672f0.png">

<i

[2021-11-10 18:24] alanwilter opened #6657 "Project folder permissions won't let docker postgres work"
### Bug description

When starting a `gitpod` workspace, the project is checked out and the folder permissions are:
[code]
However, when starting a docker postgres container for the DB whose volume maps to the project folder to run some sql scripts to initialise the DB, this won't work unless folder permission is changed to `drwxr-xr-x`.

One may say that perhaps the way I'm doing these things is

[2021-11-10 18:41] gtsiolis commented on #6403
That's great to hear, @jeanp413!

Also, thanks @Shulammite-Aso for contributing! 🧡

[2021-11-10 19:18] kylos101 opened #6658 "Underscores are not visible in the terminal while Brave "Shields" are "Up""
### Bug description

As a developer who is working in a Gitpod workspace in the VS Code IDE, when viewing content in the terminal, then I should be able to see underscores. Underscores are not visible in the terminal while Brave "Shields" are "Up".

### Steps to reproduce

[Please refer to this video for a short demo. ](https://www.loom.com/share/eab01a39ddd047ce89c776232f50a32c)

For this, I crea

[2021-11-10 19:18] kylos101 commented on #6658
/team IDE

[2021-11-10 19:37] bbartels commented on #5090
Just tested the .NET 6 default template and it seems to work without the workaround!

[2021-11-10 19:40] jchannon commented on #5090
So just `image: gitpod/workspace-dotnet` in your gitpod.yml?

[2021-11-10 19:44] bbartels commented on #5090
Doesn't seem that way, have a look at https://github.com/gitpod-io/template-dotnet-core-cli-csharp, it uses a task to install .NET as a workaround.

[2021-11-10 20:05] jchannon commented on #5090
That link is the workaround?

On Wed, 10 Nov 2021 at 19:44, Benjamin Bartels ***@***.***>
wrote:

[2021-11-10 20:09] bbartels commented on #5090
Yeah, if you have a look at the `.gitpod.yml` and `.gitpod.Dockerfile` in that repository it should make sense!

[2021-11-10 20:14] jchannon commented on #5090
Literally no idea what you're saying. There's an existing bug with a workaround which you linked to but your original comment says you've tried a template without the workaround so not sure what you're getting at

[2021-11-10 20:32] jchannon commented on #5090
Ha ha no worries. Thanks for explaining that as there was a high chance I
was missing something :)

On Wed, 10 Nov 2021 at 20:30, Benjamin Bartels ***@***.***>
wrote:

[2021-11-10 23:03] kylos101 commented on #6604
/schedule

[2021-11-10 23:03] roboquat commented on #6604
@kylos101: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6604#issuecomment-965822220):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-10 23:29] kylos101 commented on #6518
Hi @csweichel , @MrSimonEmms ,

It takes about 10 minutes to [run the integration tests](https://github.com/gitpod-io/gitpod/tree/main/test#manually-against-a-kubernetes-cluster) against a self hosted installation.

The below failures are present for self-hosted. I thought resolving the DB_PORT issue would bring the # of failures down, but, I was wrong.

I plan to dig into these some more tomorrow

[2021-11-11 00:45] Velua commented on #5534
Can we pay extra to have a cluster get spun up in whatever GC supported area? Would love something in Sydney.

[2021-11-11 01:37] joepurdy commented on #5534
Can't speak for Gitpod's team, but I think the more realistic answer that is to self-host: https://www.gitpod.io/self-hosted

Maybe I'm wrong though and they'd be willing to explore bespoke regions if the price was right.

[2021-11-11 02:06] kylos101 opened #6660 "[server] Setup Integration tests to run on a schedule"
## Is your feature request related to a problem? Please describe

There are existing integration tests for Meta [1](https://github.com/gitpod-io/gitpod/blob/main/components/server/src/github/github-context-parser.spec.ts), [2](https://github.com/gitpod-io/gitpod/blob/main/components/server/src/gitlab/gitlab-context-parser.spec.ts), [3](https://github.com/gitpod-io/gitpod/blob/main/components/serve

[2021-11-11 02:07] kylos101 commented on #6660
/team meta

[2021-11-11 02:07] kylos101 commented on #6660
CC: @csweichel @ghuntley as a heads up

[2021-11-11 02:16] kylos101 commented on #6518
@csweichel  @MrSimonEmms I was surprised at some of these failures, like TestAdminBlockUser, which I haven't seen before with self hosted.

[2021-11-11 02:37] kylos101 commented on #6518
This is also related to #5317

[2021-11-11 06:48] corneliusludmann commented on #6488
/assign

[2021-11-11 07:11] hjvvoorthuijsen commented on #5095
We run a self-hosted instance of Gitlab. I can't seem to find a way to add a project for that git instance, only gitlab.com and github.com are shown.

I really love the project dashboard :clap: so it would be great if I can add projects from our self hosted gitlab instance.

[2021-11-11 07:32] geropl commented on #5862
No, roboquat! :upside_down_face:

[2021-11-11 08:57] #6565 closed

[2021-11-11 09:00] jldec commented on #5583
See also #6645

[2021-11-11 09:13] JanKoehnlein commented on #5862
@geropl Which state is this issue in now?

[2021-11-11 09:17] geropl commented on #5862
in progress. Waiting 1 day before merging the IDE PR, and then waiting for it being deployed: https://github.com/gitpod-io/openvscode-server/pull/169

lessons for me after this issue: try hard to have 1 issue per PR; everything else is cumbersome.

[2021-11-11 09:23] laushinka commented on #6655
@jldec I can reproduce. Did we give them a quick fix yet? (The Front link didn't redirect to the specific issue). If not we can mark the projects they need as deleted in the DB as a quick fix.

[2021-11-11 09:26] geropl opened #6662 "GitpodMetaMessagebusTotalQueues firing too often"
Investigate if either:
 - the query is wrong
 - the limit is too conservative
 - we have a real problem that requires fixing

[2021-11-11 09:29] #6502 closed

[2021-11-11 09:30] geropl opened #6663 "Handle huge numbers of slots diligently"
For some reason we're confronted with seat numbers of 100000 and higher.

ATM this results in OOM because we simply create an array and try to push it against the chargebee API.

Investigate and decide on how to handle this properly. Probably a combination of
 a) better handle a lot of slots and
 b) have a sane upper limit (wrt the current implementation)
would make sense.

[2021-11-11 09:54] geropl opened #6664 "Automatically scan dependencies for vulnerabilities"
To be able to maintain our current good patch-level we need an automatic detection of regressions and signalling of those. This might be either part of our CI pipeline, or a bot on the repository (or sth else).

[2021-11-11 09:58] geropl opened #6665 "review dev-environment and slim it down"
Currently `dev-environment` weights in at 15.2 GB (`docker images`).

`docker pull eu.gcr.io/gitpod-core-dev/dev/dev-environment:gpl-dev-reliable-wipe.19`

Depending if you happen to work on a fresh node or not, this considerably slows down workspaces starts (up to minutes!), which slows down cycles times. Also, _updating_ the dev image takes ~20mins atm.

There should be some easy targets, like r

[2021-11-11 10:00] #6514 closed

[2021-11-11 10:03] laushinka commented on #6655
/schedule after checking with @jldec

[2021-11-11 10:09] geropl commented on #6549
@jldec  To clarify: Was the user who installed the GitHub app part of your new team or not? (I interpret as: no)

Not sure if "T&P" has touched that yet, but: Before the user who installed the GitHub app was the one we used to run the prebuilds with. If he's not part of the team, the prebuild likely won't get `projectId` set.

[2021-11-11 10:44] laushinka commented on #6655
/schedule

[2021-11-11 10:44] roboquat commented on #6655
@laushinka: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6655#issuecomment-966196795):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the

[2021-11-11 10:44] laushinka commented on #6655
/assign

[2021-11-11 10:59] laushinka commented on #6600
Also looping-in @gtsiolis for the text and design.

[2021-11-11 12:54] behrica opened #6668 "Feature idea: Support second Dockerfile for user specific environment configuration"
## Is your feature request related to a problem? Please describe
As a project maintainer I want to describe the minimal development environment AND as a contributor I want to "add" to the minimal dev environment my development tools.

## Describe the behaviour you'd like
I want to be able to "add" anything to the minimal project dev environment
Maybe a rather simple way to do this would be allow a

[2021-11-11 12:58] behrica commented on #6668
I came to the idea by having created a .gitpod.Dockerfile for one project, and I realised that I have the 2 parts.
1. project specific
2. user specific (*I* want to use emacs)

See comments here:
https://github.com/behrica/my-gitpod-template/blob/main/.gitpod.Dockerfile

[2021-11-11 13:08] behrica commented on #6668
Maybe the issue of "where to store the information of the second Dockerfile" could be solved by extending the `gitpod.yml` and allowing a section with "one line per git pod useraccount" which points to a Dockerfile somewhere.

[code]

Out of this gitpod would build 2 dockerfiles / dockerimages.
1. append  Dockerfile + http://gist...xxxx../.Dockerfile
2. append Dockerfile + http://gist.yyyy..../.Do

[2021-11-11 13:16] behrica commented on #6668
Eventually related to this: https://github.com/gitpod-io/gitpod/issues/6109

[2021-11-11 13:22] behrica commented on #6668
I found more related issues / feature requests on "custom IDE".
Like: https://github.com/gitpod-io/gitpod/issues/2419

Maybe this proposal here, can be used for "custom IDE"  (as my Emacs example above),
but not only.

But indeed the more abstract use case for my proposal is "custom IDE" as well.

[2021-11-11 13:26] behrica commented on #2419
I am just doubting that an "emacs base image" wallone would be enough, because:

1. There are a lot of different flavors of emacs
2. The `.emacs.d` directory of every emacs needed to be copied in some form into the image.

One very different idea to allow a "custom IDE"  could be:
https://github.com/gitpod-io/gitpod/issues/6668

[2021-11-11 13:29] behrica commented on #2419
See here for a working example:
https://github.com/behrica/my-gitpod-template

This installs and starts Doom Emacs in novnc in browser including "my personal" doom emacs config.

[2021-11-11 14:18] laushinka commented on #6655
@jldec Should the teams that they are a sole owner in, also be deleted?

[2021-11-11 14:27] rfay commented on #6514
Thanks for the fix.

[2021-11-11 15:37] loujaybee opened #6672 "Make it easier to restart a remote session from desktop VSCode"
When using VS Code Desktop, the user typically goes to Gitpod, uses the command pallette, and opens their changes on their local machine to make edits, however if you go away and come back, the workspace will have closed, and it might not be transparent to the user about the best way to restart their session, regain their code and continue working.

[Source](https://twitter.com/rothgar/status/1458

[2021-11-11 16:48] shaal commented on #6514
I tested it by going to https://gitpod.io/#TESTING_URL_PARAMS_WITH_COLON=:/https://github.com/shaal/testing--gitpod-url-params-with_colon
I see the same issue as before.
Do we need to wait until the fix is deployed?

[2021-11-11 17:06] gtsiolis commented on #6514
Hey @shaal! Yes, this will be available in the next week or so after deploying the fix, see https://github.com/gitpod-io/gitpod/issues/6514#event-5602761042.

[2021-11-11 17:35] shaal commented on #6514
@gtsiolis I thought `moved this from Awaiting Deployment to Done` would mean it was deployed.
Is there a way to track what was deployed already vs. not ?

[2021-11-11 17:55] jldec opened #6673 "Revisit use of GitHub Marketplace and GitHub Student Developer Pack"
https://github.com/marketplace/gitpod-io
https://education.github.com/pack/

- [ ] Correct copy for Personal plan (remove references to private repos)
- [ ] Correct copy and icon for Student pack
- [x] #5702
- [x] #6531
- [ ] Handle paid plans through Gitpod dashboard

*screenshots Nov 11, 2021*

![Screenshot 2021-11-11 at 19 33 15](https://user-images.githubusercontent.com/849592/141357985-161fef

[2021-11-11 18:43] gtsiolis commented on #6514
@shaal Oh, wait! You're right! I thought this was still in _Awaiting Deployment_ but it seems the issue was moved from review to done in one step. Maybe this is an issue with any recent changes with the automation in place.

Let me loop in @JanKoehnlein and @ArthurSens in case they have more insights on this.

[2021-11-11 19:44] gtsiolis opened #6674 "Suppress VS Code notification to open in VS Code Dekstop on tablets or platforms where VS Code Desktop is not supported"
### Problem to solve

Currently, you open a new workspace using VS Code in Browsier you get a VS Code notification to open a workspac in VS Code Dekstop. However, this is not applicable when using Gitpod on tablets or platforms where VS Code Desktop is not supported.

<img width="493" alt="Screenshot 2021-11-04 at 11 00 24 PM" src="https://user-images.githubusercontent.com/120486/141359112-57e123f

[2021-11-11 20:31] yusufali94 opened #6675 "NodePort does not work"
### Bug description

I am hosting on a cluster with no LoadBalancer capabilities. I am trying to install using NodePort. Version 0.10.0

when I run a curl onto this port, `curl http://myIP:30370`, it responds back with connection refused. All the pods are running, nothing is in failure

See values.yaml
[code]

[2021-11-11 23:31] danroot commented on #5090
I was able to use  https://github.com/gitpod-io/template-dotnet-core-cli-csharp as suggested and run the hello world, after switching to .net6 in the csproj.    When  I attempted to create an ASP.NET app using dotnet new, I was never able to get port mapping correct.  The app ran in the commandline and exposed 2 local ports, and a popup asked if I wanted to make them public.  I did so, but when I

[2021-11-12 05:43] f97 commented on #80
Any update for this?  I can't use gitpod with gitea.

[2021-11-12 07:57] jianboy commented on #487
me too.

![image](https://user-images.githubusercontent.com/11532015/141431071-e42317c1-f42b-4910-b89d-b03477f9e0d2.png)

[2021-11-12 08:24] davemecha opened #6678 "Add a "name" attribute to ports in .gitpod.yml"
## Is your feature request related to a problem? Please describe

When I have multiple Ports (more than 5, sometimes up to 10) on a project I get confused about which service is behind which port.

## Describe the behaviour you'd like

It would be so awesome to be able to add a `name` attribute to the port like I can do with commands. The name should be displayed right next to the port in the Remo

[2021-11-12 08:46] loujaybee opened #6679 "Make it easier to restart a remote session from desktop JetBrains"
When using JetBrains, the user typically goes to Gitpod, opens a workspace and is prompted to use JetBrains, and opens their changes on their local machine to make edits. However, if you go away and come back, the workspace will have closed, and it might not be transparent to the user about the best way to restart their session, regain their code and continue working.

[Internal Link Source](https

[2021-11-12 08:52] AlexTugarev opened #6680 "Project URLs with dots are broken"
Since https://github.com/gitpod-io/gitpod/pull/6596 project URLs including dots are broken.

### How to reproduce
1. create a repo with a dot in its name (e.g. "foo.bar")
2. add that repo as a new project to a team
3. navigate to `/t/acme/foo.bar` and see it's redirected to `/#t/acme/foo.bar`

### Possible solution
Change the regex from the mentioned PR to match `github.com` and `gitlab.com` URLs

[2021-11-12 09:09] csweichel commented on #6566
/cc @MrSimonEmms

[2021-11-12 09:09] csweichel commented on #6566
/team workspace

[2021-11-12 09:47] svenefftinge commented on #6672
I think a frontend extension in VS Code that shows a notification when the workspace timed out (or alters the status bar color) would be great including a command to start the workspace again.

[2021-11-12 09:58] #6631 closed

[2021-11-12 10:22] #6604 closed

[2021-11-12 10:51] loujaybee commented on #6342
Thanks to everyone for your patience—**we're super pumped about this feature!** 🚀🚀🚀

**UPDATE:** So I've added a few of you here into a private Discord channel with instructions for the beta (it's those with the 👀  reaction emojis from me—it's not everyone yet, see below!).

I need to figure out the GitHub username <> Discord username mapping for the rest of you 🤪  so that I can get you added. If

[2021-11-12 11:04] pawlean commented on #6675
Hi @yusufali94! Do you have an example repo that I can look at and try and replicate? Also, are you using the local companion app or VS Code Desktop Support? I'm trying to gauge as to which URL you're trying to curl. See relevant docs [here](https://www.gitpod.io/docs/command-line-interface#url).

[2021-11-12 11:08] pawlean commented on #6632
Thanks for bringing this up, @alkoclick! I can reproduce this on Brave.

cc @mikenikles as a regular Brave Browser user. Any ideas on this fix?

[2021-11-12 11:15] AlexTugarev commented on #6663
@geropl perhaps we can get rid of the slots abstraction at all. Teams and memberships can serve the purpose of computing the amount of seats, no?

[2021-11-12 11:21] AlexTugarev commented on #6549
the answer is actually yes. otherwise I'd not be able to see the logs.

[2021-11-12 11:45] Dominic-Hoe opened #6684 "Make Gitpod report un-pushed workspace-only commits as changes"
## Is your feature request related to a problem? Please describe
I find it a little awkward when I'm working in Gitpod, then I push a local commit to finish later on, and I stop the workspace, because sometimes I later on forget that I have pushed local commits and remove the workspace, losing potentially hours of work.

## Describe the behaviour you'd like
An option in the Gitpod settings to allo

[2021-11-12 12:23] yusufali94 commented on #6675
so with this, I cant even git into the gitpod service. so when I browse to the gitpod instance, it doesnt respond back

[2021-11-12 12:27] geropl commented on #6663
That's what I somehow hope for: That the new "team" completely replaces the old "Team Subscriptions". I'm not sure this is the scope of this ticket, though, as we have to think about heavy-users like CodeInstitute and their usecases/workflows (bulk add/removal) as well.

[2021-11-12 13:28] loujaybee opened #6685 "Installed GoLand/IntelliJ JetBrains are throwing errors / failing to start"
### Bug description

The current JetBrains GoLand implementation has stopped working (see [internal link](https://gitpod.slack.com/archives/C01KGM9BH54/p1636718388034100))

We are currently [clarifying the situation with JetBrains](https://gitpod.slack.com/archives/C02BRJLGPGF/p1636718889043000) about when a new version of GoLand will be released.

### Steps to reproduce

- Select JetBrains GoLand

[2021-11-12 13:50] gtsiolis opened #6686 "Update team selection design for onboarding flow"
### Problem to solve

The Select Team step in the New Project onboarding flow contains some rough edges.

In the example below, a user "John Smith" (user-id **gptest1**) has selected the "website" repo on the left. The next step is the page outlined in grey on the right.

<img width="1130" alt="Screenshot 2021-11-12 at 20 29 35" src="https://user-images.githubusercontent.com/849592/141728876-a67a2

[2021-11-12 14:26] buggtb commented on #2419
I like the idea of providing the ability to integrate IDE's but in reality Idea and Projector seem like enough for me. I can potentially develop locally at home or via web browser when remote using an interface I am familiar with.

The bigger issue I have faced with leveraging Docker images(specifically the projector template) is that in that example the .jetbrains folder is mounted to provide the

[2021-11-12 16:22] AaronBeaudoin opened #6687 "Auto-Inject "Access-Control-Allow-Credentials" for Private Port Responses"
# Problem

To accept CORS requests on services running behind private ports, developers currently have to configure the service to accept credentials, even though they aren't actually using them. This is because Gitpod requires credentials to be sent, but when the response comes back from the service it will be rejected if it doesn't have the `Access-Control-Allow-Credentials` header.

# Desired B

[2021-11-12 16:28] shaal opened #6688 "Launching manual prebuild via URL keeps reloading the page"
### Bug description

When using `gitpod.io/#prebuild/<repo_url>`
Page keeps reloading itself every second, eventually gets to this screen -
![image](https://user-images.githubusercontent.com/22901/141500040-a3410365-efd6-4a15-b2e6-bfcfec323fbb.png)

While this is happening, open a new tab with `gitpod.io/#<repo_url>` (without `prebuild`), the screen shows a prebuild is running (terminal view), but

[2021-11-12 16:35] AaronBeaudoin opened #6689 "Add Documentation for Making Requests to Services Over Private Ports"
# Problem

Requests to services over private ports need to include an authentication cookie in order to make it to the service. Of course, that's what makes the port private, but this isn't explained anywhere in the documentation. Additionally, services behind private ports will need to respond with a `Access-Control-Allow-Credentials` header when responding to origins needing CORS (at least as lo

[2021-11-12 17:24] pawlean commented on #6675
Can you share an example with me? I'm trying to understand what the issue is!

[2021-11-12 17:45] yusufali94 commented on #6675
sure, so i did

`helm install -n gitpod  -f myvalues.yaml gitpod gitpod.io/gitpod --version=0.10.0`

The values is in the OP.
I expect now that when I go to `http://myIp:30370` it should show me the gitpod page. What actually happens is nothing pops up. The proxy service, `kubectl -n gitpod get services proxy` shows me that a service with a nodePort has been created. None of the pods are failing.

[2021-11-12 20:57] laushinka commented on #6655
@jldec The issue talks about what happens to projects when an account is deleted, but teams are also affected, and when a team is deleted, so are the projects. How about we update this issue to be about what happens to teams and projects when an account is deleted?

[2021-11-12 21:05] jldec commented on #6655
@laushinka - good suggestion - thank you!
I have updated the issue title and description.

[2021-11-12 21:23] jldec commented on #80
We are tracking requests for additional git providers. No updates a.t.m.

[2021-11-12 22:19] jldec commented on #5115
https://github.com/gitpod-io/gitpod/issues/5095#issuecomment-966046337

[2021-11-12 22:20] jldec commented on #5095
Thank you for your feedback @hjvvoorthuijsen - we are tracking this request in  ☝️ #5115

[2021-11-12 22:38] jldec commented on #6684
Thanks for reporting this @Dominic-Hoe - I can see how accidentally deleting a workspace with commits can be frustrating.

There is a red indicator showing a count of changes in the workspaces list in the dashboard, and also something similar in the workspace browser window after you close it.

Where do you go to remove remove workspaces?

![Screenshot 2021-11-12 at 22 35 06](https://user-images.g

[2021-11-13 00:29] ghuntley commented on #6662
Appears to be a pattern between 9AM to 10:30AM AEST.

[Internal link](https://gitpod.slack.com/archives/C01TNS8EVQT/p1636763214027500)

[2021-11-13 01:18] andymac4182 commented on #5198
Will users need to replicate their dotfiles repository into each provider or will you be able to pick which provider to pull from?

[2021-11-13 01:29] #6533 closed

[2021-11-13 03:10] huweiATgithub opened #6691 "Self hosted gitpod workspace-full image's environment variables set in Dockerfile gone"
### Bug description

After following this guide: https://github.com/gitpod-io/gitpod-gke-guide
and start workspace. Everything looks fine at the beginning. Later I found that almost all commands were not found in the workspace.
It turns out that the binaries are there but the environment variables are not set as expected as in the Dockerfile https://github.com/gitpod-io/workspace-images/blob/maste

[2021-11-13 06:11] ryangoodrich commented on #6342
please add me to beta!

discord: ryangoodrich
gitpod email: gitlab@ryangoodrich.com

[2021-11-13 10:39] mahmoudajawad opened #6692 "Open in VS Code doesn't work with Codium"
## Is your feature request related to a problem? Please describe
When using Gitpod, it is possible to switch from web browser to installed VS Code and work on the local application, however, some GNU/Linux do provide the free distribution of it; namely VS Codium only. Attempting to action with it doesn't provide any results.

## Describe the behaviour you'd like

Being able to use VS Codium as tar

[2021-11-13 12:49] vavdoshka commented on #5712
@digiltd

thank you for you help, unfortunately this did not work out for me, the "ssh_config" files created are just being empty on my side, nothing changes..

When I did a first pass on GitPod evaluation this Desktop Support worked well for me and I even used to it already and it is really hard to switch to browser due to that reason you mentioned already about dancing with the tabs, as well as

[2021-11-13 14:22] CaptainKnuddel commented on #6342
Please sign me up

[2021-11-13 17:12] EthanDevelops opened #6693 "Feature: Gitpod prebuilds integration with Github Actions"
## Is your feature request related to a problem? Please describe
Not really.

## Describe the behaviour you'd like
When a prebuild is finished, the Gitpod app could start a Github Action that shows the logs of the prebuild and if it was successful or not.

## Describe alternatives you've considered
Making a webhook that did that, making a separate app / program that does that.

## Additional conte

[2021-11-13 18:19] Dominic-Hoe commented on #6684
Hi, thanks for the response. I'm aware of this feature however from my testing it does not show changes from local commits, only uncommitted changes. That was the point of my feature request.

[2021-11-13 19:18] #1031 closed

[2021-11-13 19:18] #5053 closed

[2021-11-13 19:18] #4081 closed

[2021-11-13 19:18] #4132 closed

[2021-11-13 19:18] #5030 closed

[2021-11-14 12:19] jldec commented on #6688
Also [reported](https://app.frontapp.com/open/cnv_if2rt56) by another user via support.

[2021-11-14 12:49] bigint opened #6694 "Prebuilds are stuck for a long time"
### Bug description

![image](https://user-images.githubusercontent.com/69431456/141681737-9aa5973c-a1fe-450e-8779-240766f7f534.png)

![image](https://user-images.githubusercontent.com/69431456/141681769-58d7f503-5089-4ec7-96e3-cc4e696ef408.png)

### Steps to reproduce

https://gitpod.io/projects/Devparty/prebuilds

### Workspace affected

_No response_

### Expected behavior

_No response_

### E

[2021-11-14 13:59] jldec commented on #6600
A refinement of the above suggested behavior (which simply blocks creation of a duplicate slug) would be somehow to track the GitHub org (or GitLab group) associated with a team, and issue a warning when anyone creates a project which potentially shadows an existing repo in that org.

A variation would be a bulk project creation feature, which helps users to mirror all or some of the repos in the

[2021-11-14 14:40] jldec commented on #6684
Aah - that makes a lot of sense @Dominic-Hoe
Thanks for that suggestion!

[2021-11-14 15:39] fiorenzino commented on #6342
Please add me!

[2021-11-14 18:15] nitrotol commented on #6342
Me too!

[2021-11-14 19:55] jldec commented on #6549
### To Reproduce
- open the [Gitpod team](https://gitpod.io/t/gitpod) in the dashboard
- add a new project with the repo `template-typescript-node`
- click on "Run Prebuild" in the configuration page

For reasons I don't understand the problem is not reproducible with the repo `template-astro`

[2021-11-14 21:54] trakos commented on #6342
I'd like to try this, if you're still sending invites.

[2021-11-15 03:41] bigint commented on #5224
/cc @svenefftinge @dnsmichi

[2021-11-15 04:50] gengjiawen opened #6699 "[Bug] vim is broken"
Yesterday works good.

![image](https://user-images.githubusercontent.com/3759816/141724296-b3d68a88-b982-4241-9d75-31e7e87996fa.png)

[2021-11-15 05:10] gengjiawen commented on #6699
Maybe a cache issues. Re-open works.

[2021-11-15 05:10] #6699 closed

[2021-11-15 05:11] gengjiawen commented on #6342
count me in. Also I have been trying using this https://github.com/gengjiawen/cmake-showcase.
Glad official supports it.

[2021-11-15 06:08] jldec commented on #6686
Thanks for those designs @gtsiolis - I took the liberty of listing the rough edges I saw in the existing page and adding a screenshot in the description above.

[2021-11-15 07:02] AlexTugarev commented on #6694
Thanks for reporting!

We are working on a solution for this.

[2021-11-15 07:04] csweichel commented on #6357
Please outline why this needs to be configurable. Which use-cases do we need to support?

---

Pasting the PR comment for future reference:

[2021-11-15 07:06] csweichel commented on #6292
We do not want this feature because we cannot guarantee backwards compatibility of the configuration this way.
Once we allowed this, we could no longer change the underlying Helm chart or even move away from the helm chart altogether without introducing a breaking change.

When we see a concrete request from users to be able to make such configuration changes, we should investigate where that need

[2021-11-15 07:06] #6292 closed

[2021-11-15 07:07] csweichel commented on #6401
@AlexTugarev @geropl
is setting the auth providers using the configuration/env var still supported?

[2021-11-15 07:09] csweichel commented on #6548
I reckon it would be enough to run the migration for each new version of Gitpod, rather than for each run of `kubectl apply`. Only when the Gitpod version changes can changes to the database schema be introduced.

In that sense, if we e.g. added the migration version to the job name we might be sorted already. Let's wrap this up in #6573

[2021-11-15 07:09] #6548 closed

[2021-11-15 07:22] csweichel commented on #6357
I'm not sure this change makes sense this way - and I'm sorry for not reacting on the issue sooner.

1. The motivation that we need to add this "for debugging" does not warrant a config change. There are indeed cases where an increased replica-count of some components makes sense (e.g. SaaS prod), but for now the vast majority of installations will happily run with a replica count of 1.
2. Not all

[2021-11-15 08:23] corneliusludmann opened #6700 "Update server-ide-configmap in installer"
The server-ide-configmap helm template has been changed recently with these PRs:
- #6669
- #6367
- https://github.com/gitpod-io/gitpod/pull/6671

These changes need to be added to the installer as well.

See also:

_Originally posted by @csweichel in https://github.com/gitpod-io/gitpod/issues/6669#issuecomment-966986937_

[2021-11-15 08:24] MrSimonEmms commented on #6517
[PR](https://github.com/gitpod-io/gitpod-gke-guide/pull/12) ready for review

[2021-11-15 08:56] corneliusludmann opened #6701 "[registry-facade] Remove supervisor static layer"
Remove supervisor static layer from the registry facade config after #6669 has been deployed (~ end of Nov 2021).

See also: https://github.com/gitpod-io/gitpod/pull/6669#discussion_r749109630

[2021-11-15 09:09] geropl commented on #6401
@csweichel @MrSimonEmms It is, as we use that in production: https://github.com/gitpod-io/ops/blob/main/charts/gitpod_io/values.production.yaml#L95

Maybe we're just using that in the EE scenario or so. Happy to sync on this.

[2021-11-15 09:10] AlexTugarev commented on #6694
Prebuilds should work again after a faulty node was cordoned.

Happy coding!

[2021-11-15 09:10] #6694 closed

[2021-11-15 09:12] bigint commented on #6694
Hmm let me wait 🤞🏻

![image](https://user-images.githubusercontent.com/69431456/141754107-2d3bec53-bc98-4c49-a0aa-5da1e4fda84d.png)

[2021-11-15 09:17] JanKoehnlein commented on #6361
We don't have time for this right now, but it's a good idea so I put it into our backlog.

[2021-11-15 09:19] AlexTugarev commented on #6694
@bigint, I'm afraid that's an obsolete `RUNNING` state. Please try to cancel and re-trigger the prebuild. Also, the next update on a branch will trigger a new prebuild 🤞🏻

[2021-11-15 09:19] geropl commented on #6642
The typeorm behavior seems to have changed due to our upgrade: Before it was "ignore row", now it's "break query".

[2021-11-15 09:20] geropl commented on #6662
/schedule

[2021-11-15 09:20] roboquat commented on #6662
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6662#issuecomment-968689707):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-15 09:25] geropl commented on #6687
This is sth I'd like to discuss with workspace: As explained [here](https://github.com/gitpod-io/gitpod/issues/6662), we private ports in particular do behave special when it comes to credentials (required for us to authorize) and CORS (sth we could help out with, see @AaronBeaudoin explanation).

It's a tradeoff between "educating users" (adding doc) and "introducing magic", and I must admit I'm

[2021-11-15 09:59] gtsiolis commented on #4281
Re-opening as this is still relevant.

[2021-11-15 09:59] gtsiolis commented on #4977
Re-opening as this is still relevant.

[2021-11-15 10:04] jankeromnes commented on #6549
Hmm, this reminds me of a `TODO` I left for myself in the `cancelPrebuild` code:

https://github.com/gitpod-io/gitpod/blob/c715b3521f2a2d68937cdd44ecfa35674b3c10c5/components/server/ee/src/workspace/gitpod-server-impl.ts#L1600

If this problem is what I think it is, it has never been possible to cancel a prebuild that you don't directly own.

To make it possible to cancel team prebuilds, the acces

[2021-11-15 10:17] geropl commented on #6549
@jankeromnes I'd love to review, especially to learn what the underlying problem is :smile:

[2021-11-15 10:20] geropl commented on #6664
/schedule

Required for SOC2 compliane

[2021-11-15 10:20] roboquat commented on #6664
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6664#issuecomment-968742047):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-15 10:21] tim-cts commented on #6342
Please sign me up

[2021-11-15 10:35] MrSimonEmms opened #6704 "[installer]: create a readme"
A readme is needed to provide some context for the Installer. This should give an overview on how to use it, some common pitfalls and links to relevant issues that may provide external users with problems/questions

[2021-11-15 10:36] jankeromnes commented on #6549
@geropl Thanks for the offer! 🙏 (TL;DR I think it's "stop workspace" that isn't allowed for non-personal team workspaces, but I was planning to double-check these access guards anyway)

[2021-11-15 10:36] jldec commented on #6688
/schedule

[2021-11-15 10:37] roboquat commented on #6688
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6688#issuecomment-968756130):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-15 10:47] #6685 closed

[2021-11-15 11:12] pawlean opened #6705 "Features for Admin page"
Instead of going directly into the database to fix / update queries (_which is error-prone_), we should have actions available from the admin page. Some examples:

- Force stop / Mark as Stopped button when users workspaces are stuck in `stopping` state

See internal discussion [1](https://gitpod.slack.com/archives/C01KGM9AW4W/p1636971012136100?thread_ts=1636968588.135800&cid=C01KGM9AW4W)  and [2]

[2021-11-15 11:14] pawlean commented on #6705
I'll update this issue with more features that come up, but force stopping workspaces is a very frequent occurrence.

[2021-11-15 11:19] jldec commented on #6688
I tried this with one of my repos: https://gitpod.io/#prebuild/https://github.com/jldec/asyncbuilder.git
It produced a redirect loop with 10 calls to /start/

![Screenshot 2021-11-15 at 11 13 39](https://user-images.githubusercontent.com/849592/141773036-a5d06d45-eb1e-4728-a7b9-3513b9c61bd8.png)

[2021-11-15 11:26] loujaybee commented on #6602
Thanks for the detailed response @corneliusludmann !

Awesome 🙏

Agree. Some thoughts:

1. Should we only be allowing the user to start a desktop session from a browser? What about via companion app, or desktop initiated flows?
1.  We need to investigate how transparent it is to users that they can use multiple IDE's to interact with a single workspace and whether the flow makes this clear.
1. Usi

[2021-11-15 11:28] pawlean commented on #6675
I just realised that you are talking about a self-hosted installation, is that right? cc @MrSimonEmms @ghuntley who would probably know more than me in this case!

[2021-11-15 11:29] yusufali94 commented on #6675
yes!

[2021-11-15 11:29] loujaybee opened #6706 "Allow desktop IDE preferences (e.g. plugins) to be set via the `.gitpod.yml`"
Currently, the user can set their preferences for which IDE to open a global/user level, this issue/feature request is to track the ability to set IDE preferences via `.gitpod.yml`, e.g. extensions.

Related to: #6602

Related [discussion in Discord](https://discord.com/channels/816244985187008514/908754635999838239/908809451568529408)

Related JetBrains issue: https://youtrack.jetbrains.com/issue

[2021-11-15 11:38] MrSimonEmms commented on #6675
I don't think that `NodePort` is actually a supported `serviceType` for `proxy`. In the Installer, that option has been removed and we [now only support](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/components/proxy/objects.go#L35) `LoadBalancer` for that.

What are you running it on that means there's no load balancer support?

[2021-11-15 11:39] loujaybee opened #6707 "Epic: Allow user to configure preferred IDE configurations as part of onboarding"
**Goal/Intended Outcome**

Users are aware of JetBrains IDE’s when they first use Gitpod so that if they are a regular JetBrains user they can configure all future workspaces to use JetBrains.

**Proposal**
- Introduce a prompt for onboarding users (e.g. first workspace start)
- Present users with the current alternative IDE (JetBrains, etc) options, but also allow to dismiss
- If possible, we can

[2021-11-15 11:43] yusufali94 commented on #6675
`baremetal` with `wire-guard` to secure the communication. MetalLb does wont work under any circumstance even with 7946 (TCP & UDP)  allowed. I'm sure if I get the `loadbalancer` working, installing this tool will be easy (because I have before). But I was hoping it wouldn't be a blocker.

[2021-11-15 12:22] geropl commented on #6662
Query is fine, we have a real issue:
![image](https://user-images.githubusercontent.com/32448529/141781264-0bcc751d-8012-43e0-b73b-437a52915382.png)

We had the same issue for some time, but for whatever reason it intensified lately.

[2021-11-15 12:30] csweichel commented on #5596
The minimal steps to make automatic cluster choices would be:
1. add a kind of "ping" endpoint to ws-proxy, so that e.g. `ws-eu18.gitpod.io` does not answer with 404
2. add a `getAllStartManager` function to [`WorkspaceManagerClientProvider`](https://github.com/gitpod-io/gitpod/blob/a30a1bff483b02df67e01791b44dfb5bf025d344/components/ws-manager-api/typescript/src/client-provider.ts#L29) which retu

[2021-11-15 12:34] gtsiolis commented on #6688
Cross-linking [relevant discussion](https://discord.com/channels/816244985187008514/816246578594840586/908445240300535889) from discord.

[2021-11-15 12:50] csweichel commented on #6706
Which one would take preference? User or .gitpod.yml setting?

[2021-11-15 13:14] jankeromnes commented on #6654
Agreed! This has been bugging me as well. I'd be interested in working on it if nobody else wants to. 😊

[2021-11-15 13:21] jankeromnes commented on #5075
(Side note: I don't think pagination will provide enough of a speedup. When we request uncached data from GitHub or GitLab, it seems to be always slow, regardless of the size of the list you're requesting -- it's slow even if it's just one item.

I believe the more effective fix should be to do this request ahead of time and then cache the results, so that we load data from our DB (fast) and not f

[2021-11-15 13:32] laushinka commented on #6654
@jankeromnes Yas, please! I don't know why but for some reason in my head you're the loading indicator person.. 🤣

[2021-11-15 13:37] jankeromnes commented on #6654
Haha, sure! 😂 (I get annoyed when our app is being slow, and if I can't make it faster, at least building a loading indicator is therapeutic -- at least I can make _something_ show up really fast)

/assign

[2021-11-15 13:46] jankeromnes commented on #6654
/unassign

[2021-11-15 13:46] jankeromnes commented on #6654
/schedule

[2021-11-15 13:46] roboquat commented on #6654
@jankeromnes: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6654#issuecomment-968926155):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-11-15 13:46] jankeromnes commented on #6654
/assign

[2021-11-15 13:48] jankeromnes commented on #6654
But why move it back? 🤔

<img width="809" alt="Screenshot 2021-11-15 at 14 47 30" src="https://user-images.githubusercontent.com/599268/141792724-c3645033-6a20-48cd-b633-93df342286ea.png">

[2021-11-15 14:09] rfay commented on #6694
I'm unable to cancel prebuild. Using the UI doesn't do anything. Suggestions?

[2021-11-15 14:32] schickling opened #6709 "Vim extension doesn't work with system clipboard in Safari"
### Bug description

When using the https://github.com/VSCodeVim/Vim extension in Gitpod the following should work but doesn't:

- A) select some text -> copy via y and paste via CMD + V somewhere else
- B) copy some text via CMD + C and paste via p

Note: The above works perfectly in VSC locally.

### Steps to reproduce

See above

### Workspace affected

_No response_

### Expected behavior

_No

[2021-11-15 14:52] schickling opened #6710 "Gitpod VSC loading screen should respect my dark theme setting"
The Gitpod loading screen (before VSC is loaded) should respect my dark theme setting.

https://user-images.githubusercontent.com/1567498/141802524-f87b3199-09b2-4cc6-9263-da9300da1879.mp4

[2021-11-15 14:53] schickling commented on #6710
![](https://media0.giphy.com/media/lqVVqkqMolh9S/giphy.gif?cid=ecf05e476b4cs2ixhb7wbxnkyn9hcdisgu0s7iig7digvl69&rid=giphy.gif&ct=g)

[2021-11-15 15:08] gtsiolis commented on #6403
Closing as this has been resolved in https://github.com/gitpod-io/gitpod/issues/6403. Thanks again, @Shulammite-Aso!

[2021-11-15 15:08] #6403 closed

[2021-11-15 15:10] gtsiolis commented on #6710
Thanks for noticing @schickling! Could not agree more. I also noticed this earlier last week but could not reliably reproduce. Looping in @jankeromnes in case they have any insights on why this is happening. ❓

FYI, we've recently added system theme support for the editor, see https://github.com/gitpod-io/gitpod/issues/6403 and we're also considering changing dashboard default theme to system for

[2021-11-15 15:11] pawlean commented on #6710
Honestly, this issue should be prioritised alone after the use of that GIF. Thanks for the laugh @schickling!

[2021-11-15 15:15] jankeromnes commented on #6710
Agree, thanks for this issue!

I'm just confused as to why "Checking" is in Dark theme while "Creating" is in Light theme 🤔

@schickling Which dashboard "Theme" do you currently have selected in https://gitpod.io/preferences ? (This is what controls the color of non-workspace Gitpod pages, and as @gtsiolis mentioned it's currently Light by default, but should instead be System by default -- will f

[2021-11-15 15:17] jankeromnes commented on #6395
Yes 💯 💯 💯

I've wanted to do this for a while. @JanKoehnlein / @jldec cool to schedule?

[2021-11-15 15:20] akoenig opened #6712 "Unable to auth when using Gitpod Local Companion"
### Bug description

Hello everybody 🙂,

first of all, sorry for crossposting, but I think it is more a bug than a general question (I asked in https://community.gitpod.io/t/gitpod-local-companion-oauth2-failure/5604).

During the process of migrating our projects to Gitpod we encountered a project where we need the tunneling capabilities of the Gitpod Local Companion. Unfortunately, right now, wh

[2021-11-15 15:25] jankeromnes commented on #6694
Hi @rfay! If you open the browser console, does it show any relevant error when you try to cancel the prebuild?

Spoilers: If it says "operation not permitted! missing get permission on workspace" we're already working on a fix. If not, it might be a different/new bug.

[2021-11-15 15:32] jankeromnes commented on #6654
Don't doubt yourself @roboquat 🤗 first move was correct!

<img width="831" alt="Screenshot 2021-11-15 at 16 32 33" src="https://user-images.githubusercontent.com/599268/141809117-3194e2cb-88a1-4575-a61d-a30e8a695ee0.png">

[2021-11-15 16:21] schickling commented on #6710
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/1567498/141816979-fc724e9e-2c20-4a7f-b2bc-f826ca92a32a.png">

[2021-11-15 16:30] JanKoehnlein commented on #6345
To test it, we have to re-enable Bitbucket auth on core-dev. Waiting for team platform to [deploy the new secrets](https://gitpod.slack.com/archives/C01KGM9EBD4/p1636993758304200)

[2021-11-15 16:47] JanKoehnlein commented on #6345
/werft run

[2021-11-15 16:53] shaal opened #6715 "Prebuild estimating wrong time it took for prebuild"
### Bug description

I noticed it especially on long prebuilds, it is the same when starting a manual prebuild via URL, or by pushing a commit to a branch and using the Gitpod Projects UI -
![image](https://user-images.githubusercontent.com/22901/141820175-a5c4a3cf-bac0-4cad-a9a4-c0484cb21d63.png)

You can see the prebuild took 851 seconds (a little over 14 minutes), but the terminal interface (wh

[2021-11-15 17:52] rfay commented on #6694
No, it shows nothing. Just shows a momentary circle-wait icon and comes back to the red "Cancel Prebuild" button. No errors shown.

[2021-11-15 19:37] jeanp413 commented on #6709
@schickling Have you tried using this in your settings `"vim.useSystemClipboard": true`?

[2021-11-15 20:04] schickling commented on #6709
@jeanp413 yes but I had to disable it since when using it even yanking and pasting within the VIM mode didn't work anymore - so it only made things worse.

[2021-11-15 20:29] jeanp413 commented on #6709
mmm I'm using `"vim.useSystemClipboard": true` and it works fine for me, did you enabled clipboard access in your browser?
In chrome, a popup should appear asking for clipboard access.

[2021-11-15 21:15] zpthree opened #6717 "One config repo that runs on every new workspace."
## Is your feature request related to a problem? Please describe

Not necessarily.

## Describe the behaviour you'd like

It would be really handy to allow for a default config repo that can run on every new workspace. Or selecting a default config repo when you create a new workspace. I've used [Coder](https://coder.com/) in the past and this is what they do and it's really nice.

So if you have

[2021-11-15 23:12] acrefoot commented on #5095
I'm having some trouble getting Gitpod to recognize all the repositories it's been given access to in our organization. I shared two repos, and even created a workspace for the second one using `gitpod.io/#https://github.com/foo/bar`, but it doesn't show up under https://gitpod.io/new.

Any tips?

[2021-11-16 00:03] jean commented on #5207
Bump.

Github Stale Bots: A False Economy
Stale Bot’s are a type of automated bot on Github, which locks issues which
are “stale” (as in have no recent activity). This seems like a helpful tool
at first, but in reality it’s terrible for all parties involved.

https://blog.benwinding.com/github-stale-bots/
https://news.ycombinator.com/item?id=25821092

On Mon, 15 Nov 2021, 23:43 stale[bot], ***@***

[2021-11-16 00:19] #5105 closed

[2021-11-16 01:57] rfay commented on #6694
Pushing a new commit to the branch sorted this out, but it was definitely ugly.

[2021-11-16 03:06] tnb24 commented on #6342
+1, add me

[2021-11-16 05:20] shaal commented on #6391
I noticed that you can see prebuilds are running twice in the UI (on same commit, 2 prebuilds running):
I pushed a commit to a branch, which triggered the 2 simultaneous prebuilds -
![image](https://user-images.githubusercontent.com/22901/141925208-ea62ae90-0018-474a-a75a-56baf8cd631e.png)

[2021-11-16 07:15] csweichel commented on #6435
Excellent observation! Indeed, moving the the finalizer to creating should solve this issue.
Because of the `neverReady` annotation which controls the `doBackup` flag during `disposeWorkspace`, and which is removed/unset when the [content is actually ready](https://github.com/gitpod-io/gitpod/blob/a30a1bff483b02df67e01791b44dfb5bf025d344/components/ws-manager/pkg/manager/monitor.go#L580) this chan

[2021-11-16 08:22] svenefftinge commented on #6602
My 2 cents:
 - as long as we don't have a proper "start workspace" UI in the local IDEs or companion app, we will always start from web. In fact, starting from gitlab, github is still the primary flow. We can and should improve the start workspace logic and at some point bring this to all the uis we have but I think we can a few steps before without bothering too much about this future.
 - the UI

[2021-11-16 08:23] svenefftinge commented on #6706
I don't think the configuration for what IDE I want to use is something that should be configured on the repo (gitpod.yml) but is rather a user preference.

[2021-11-16 08:26] svenefftinge commented on #6707
I think generally it could make sense to ask the user when we detect certain IDE metafiles (e.g. `.idea`) in a project.
Including the "Don't ask me again for this project" or even "Don't ask me again for similar projects".
We can surface these settings in the user preferences so users could manage them there.

[2021-11-16 08:27] loujaybee commented on #6705
Pardon my ignorance, as I'm not fully clued up here.

But I wonder if we can use DB migration scripts for this flow (or re-use existing scripts) for this purpose.

See [internal discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1637051082391300?thread_ts=1636985355.375000&cid=C02EN94AEPL).

That said, force stopping a workspace does seems valid/frequent enough to promote to the admin dash

[2021-11-16 08:37] #6654 closed

[2021-11-16 08:41] zhouzilong2020 commented on #5401
Sorry to bother, I met the same problem even after #5499. The page just keep refreshing all the time.
Is the online version has not incorporated #5499 yet?

[2021-11-16 08:45] zhouzilong2020 opened #6719 "Gitpod stuck in refreshing a webpage after starting"
### Bug description

Here are my .yml for starting a frontend page
`  - name: Init Frontend
    init: cd ./frontend && yarn
    command: yarn dev
`
the service did start, but it stuck in refreshing like every 3s

### Steps to reproduce

you may reproduce this by click the link below
[](https://gitpod.io/#https://github.com/bytebase/bytebase/tree/feat/gitpod)

### Workspace affected

_No response_

[2021-11-16 08:53] akosyakov commented on #6709
@schickling Could you share which browser do you use?

[2021-11-16 09:21] akosyakov commented on #6712
Could you run `./gitpod-local-companion-linux --version`? Maybe it is outdated.

[2021-11-16 09:29] akosyakov commented on #6692
We rely on Remote SSH which is not allowed in VS Codium. I don't think it is feasible as for now without building another integration.

cc @loujaybee

[2021-11-16 09:29] #6692 closed

[2021-11-16 09:29] akoenig commented on #6712
@akosyakov Thanks for your response. We tested with a fresh install:

[code]

[2021-11-16 09:33] schickling commented on #6709
Update: Seems like this is a Safari limitation. Using `"vim.useSystemClipboard": true` in Chrome works but doesn't work in Safari in Big Sur. That's a bummer since Safari is my primary browser.

<img width="396" alt="image" src="https://user-images.githubusercontent.com/1567498/141959504-f750978a-81e7-4ed5-8c02-59ab47bf927a.png">

[2021-11-16 09:35] akosyakov commented on #6712
It looks outdated, my returns `main.1817`.

Could you delete and download a new one: https://www.gitpod.io/blog/local-app#installation

Could it be also that you changed Gitpod account? There is a following bug: https://github.com/gitpod-io/gitpod/issues/6452

[2021-11-16 09:36] #5047 closed

[2021-11-16 09:39] akosyakov commented on #6658
Firefox?

[2021-11-16 09:40] akosyakov commented on #6658
Have you reported it in https://github.com/microsoft/vscode/issues It is most likely an upstream issue.

[2021-11-16 09:44] akosyakov commented on #6561
@jankeromnes Maybe you know how to help out? It does not seem to be related to Ide, but workspace images. I am not sure which team to reassign?

[2021-11-16 09:45] akosyakov commented on #6601
Oh, I thought IDE Configuration Service which will be internal component which is exposed to the dashboard via the server anyway?

[2021-11-16 09:49] #6627 closed

[2021-11-16 10:09] jankeromnes commented on #6561
Sure! I think this is a workspace team topic.

I thought unsetting `PYTHONPATH` would go away with the removal of the "gitpod layer", but it seems that we still modify `~/.bashrc` with OS-specific code:

- [gitpod-layer/debian/gitpod](https://github.com/gitpod-io/gitpod/blob/main/components/image-builder/workspace-image-layer/gitpod-layer/debian/gitpod)
- [gitpod-layer/alpine/gitpod](https://githu

[2021-11-16 10:15] corneliusludmann commented on #6651
/schedule
/assign

[2021-11-16 10:15] roboquat commented on #6651
@corneliusludmann: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6651#issuecomment-970121552):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agains

[2021-11-16 10:21] LeDominik opened #6720 "npm install -g in prebuild - init is not working"
### Bug description

I'm running some `npm install -g` in the `init` step of gitpod's prebuild. It is running successfully and I can confirm _in the init-script_ that it works, but once in the console it has vanished... no idea why, I checked in the bashrc but I really don't know why that stuff disappears after clearly being there beforehand...

### Steps to reproduce

Use this .gitpod.yml

[code]

[2021-11-16 11:01] akoenig commented on #6712
Ahh, that was my fault. Thanks for the heads up, @akosyakov. I followed the link from the initial blog post and downloaded it from there.

[2021-11-16 11:01] #6712 closed

[2021-11-16 11:02] jldec commented on #5583
/assign @jankeromnes

Thanks Jan, let's start with a really minimal design as suggested by @svenefftinge

It would be great to have the mechanics of new repo creation with error handling working so that we can better understand the necessary user interactions, while we work on the UI design in parallel.

- the input template source comes from a selection earlier in the flow
- the org/name of the n

[2021-11-16 11:16] jankeromnes commented on #5583
Thanks @jldec, good idea!

One small note: I believe that there are at least two ways to create a repo based on a template:
1. Use the GitHub template feature ("Use this template" button going to `/generate` URL, e.g. https://github.com/gitpod-io/template-sveltejs/generate )
2. Do something more "manual" and generic based on an archive (e.g. https://github.com/gitpod-io/template-sveltejs/archive/r

[2021-11-16 11:17] pawlean commented on #6719
Hi @zhouzilong2020! Happy to help, can you share your repo? I'd like to try and reproduce it!

[2021-11-16 11:29] jldec opened #6724 "Project Configuration: No indication when or where config file was saved"
Users have a hard time forming a picture of what is happening to the config shown in the Project Configuration page. It would be really helpful to have a indication which tells users what the state is.  Suggestions below:

- Suggested configuration, will be saved in Gitpod and included as uncommitted file in workspace.
- Saved in Gitpod, suggest committing to repository.
- Saved in repository.

[2021-11-16 11:38] jldec commented on #6724
Related to #5522

[2021-11-16 11:39] #6517 closed

[2021-11-16 11:52] jldec commented on #6724
See also [#slack](https://gitpod.slack.com/archives/C01KPEPNBD0/p1634748754181500) (internal)

[2021-11-16 11:57] gtsiolis commented on #6706
+1. See also relevant past discussion in https://github.com/gitpod-io/gitpod/issues/4258.

[2021-11-16 12:02] jldec commented on #5522
/schedule

[2021-11-16 12:02] roboquat commented on #5522
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/5522#issuecomment-970203460):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-16 12:47] dlvhdr commented on #419
Hi @akosyakov,
I'm also trying to embed the openvscode-server in an iframe, but I'm getting "Forbidden." as the response.
When you said "In theory you can embed it", how would you manage to bypass this "Forbidden" error and why does it occur?

[2021-11-16 12:50] akosyakov commented on #419
It sounds like you don't provide connection token as a part of iframe src.

[2021-11-16 13:14] ChristinFrohne opened #6725 "Remove outdated subscription plans from Chargebee"
There are 4 outed subscription plans with no active users on Chargebee [[1](https://gitpod.chargebee.com/plans)]
- Standard (USD) [accidentally renamed to Basic]
- Standard (EUR) [accidentally renamed to Basic]
- Standard Team (USD)
- Standard  Team (USD)

**Action items**

- [ ] delete supcriptions in Chargebee

- [ ] remove it from/deprecate it in the code

Previous discussions [[1](https://gitp

[2021-11-16 13:36] corneliusludmann opened #6726 "[jetbrains] Track new JetBrains IDE version"
Add a cron job that tracks (and prepares PRs) when new versions of the JetBrains IDEs are published.

**Proposal:** Crawl the following pages:
- https://www.jetbrains.com/idea/nextversion/
- https://www.jetbrains.com/go/nextversion/

[2021-11-16 13:39] jankeromnes opened #6727 "Allow enabling/disabling Incremental Prebuilds in a Project's settings"
## Is your feature request related to a problem? Please describe

We have a feature called **Incremental Prebuilds** that can create new Prebuilds on top of older (compatible & successful) Prebuilds.

This feature can significantly speed up Prebuilds for projects that take > 10 minutes to build. (⚠️ For projects that take < 10 minutes to build, Incremental Prebuilds doesn't yield a significant spe

[2021-11-16 13:41] akosyakov commented on #6726
Sounds like we can have [Early Access](https://www.jetbrains.com/resources/eap/) for each JetBrains IDEs as well and probably bring them automatically similarly to VS Code Insiders.

For stable releases it seems JetBrains releases 3-4 times a year.

[2021-11-16 14:38] MrSimonEmms opened #6728 "[Installer]: In-cluster docker registry doesn't support non-default namespace"
### Bug description

In the templates in [/installer/third_party/charts/docker-registry](https://github.com/gitpod-io/gitpod/tree/main/installer/third_party/charts/docker-registry), the downloaded charts in `docker-registry-1.11.0.tgz` don't specify the `metadata.namespace: {{ .Release.Namespace }}` property. This means that the generated charts won't get installed to the same namespace if the nam

[2021-11-16 14:44] loujaybee commented on #6386
@akosyakov is there a related issue we can link this one to for unblocking it?

[2021-11-16 14:46] akosyakov commented on #6386
@loujaybee Actually it is unblocked now. @csweichel showed me how to switch to old image builder that i can change new changes. I will work on it again this week. Thank you for pointing!

[2021-11-16 14:51] rfay opened #6729 "Can't open any workspace on drud/ddev" "Cannot initialize workspace; exit status 1""
### Bug description

github.com/drud/ddev: Can't open any workspace (PR, master, branch, fork, etc)

It just starts out and then says "cannot initialize workspace: cannot initialize workspace; exit status 1"

<img width="879" alt="Gitpod_integration_for_website_projects" src="https://user-images.githubusercontent.com/112444/142007093-0cf7915b-0001-478b-82bf-700162b3c447.png">

I've been using this

[2021-11-16 14:54] pawlean commented on #6729
Thanks for reporting! We're on it. :) Thanks for your patience! Related [here](https://community.gitpod.io/t/cannot-initialize-workspace-again/5616).

[2021-11-16 15:00] shaal opened #6730 "Explain error status better and alert Gitpod of a bigger problem"
## Is your feature request related to a problem? Please describe

This morning, repos stopped opening in Gitpod.
![image](https://user-images.githubusercontent.com/22901/142006532-cd93928e-e32a-4695-a329-8f58e4e95251.png)

The error message is very vague.
At first, I thought it's something I've done wrong in my last prebuild, only then I realized it happens in every repo (but affecting only US clu

[2021-11-16 15:08] ChevronTango opened #6731 "Disable ItelliJ in Self Hosted"
## Is your feature request related to a problem? Please describe
Due to certain policy constraints beyond our control, we cannot run IntelliJ in our company. We have been very impressed with Gitpod as a whole however. We'd like the ability to disable IntelliJ in the config so our users can continue to use the other IDEs such as VS Code.

## Describe the behaviour you'd like
A flag in the helm char

[2021-11-16 15:26] rfay commented on #6729
Could you please add monitoring to your system so you don't have to find things like this out from people like us? That seems like a hugely important task!

[2021-11-16 15:30] csweichel commented on #6731
/team workspace
/cc @metcalfc

[2021-11-16 15:38] loujaybee commented on #6514
@jeanp413 are you able to confirm if this one is deployed / working?

[2021-11-16 15:40] csweichel opened #6732 "[ws-daemon] proc mount leaks masking tmpfs mounts"
### Bug description

When we produce a proc mount in ws-daemon, we mask the mount prior to moving it in place. It would seem that the `move_mount` operation leaves the masks dangling in the "proc mount staging".

This is most likely because of [`OPEN_TREE_CLONE` flag](https://github.com/gitpod-io/gitpod/blob/a30a1bff483b02df67e01791b44dfb5bf025d344/components/ws-daemon/pkg/iws/iws.go#L578). We nee

[2021-11-16 15:45] #6549 closed

[2021-11-16 15:48] loujaybee commented on #6321
Moving to groundwork, would be good to start to see how many users are using the integration 🙏

[2021-11-16 15:54] rfay commented on #6514
It's always a guessing game for those of us in the bleachers wondering when these things get deployed. I love how fast you work and how responsive you are, but there's lots of insecurity and wasted time trying things out and finding out they're either not deployed yet or don't show up until you use a new fresh workspace.

[2021-11-16 15:58] JanSeW commented on #6342
Wait, this is a thing? Count me in 🤩
DC: JanSe

[2021-11-16 15:59] titimoby commented on #6706
I use Gitpod for the ability to have really various environment.
So when I start a python project, I'm more willing to use PyCharm but if I work on some of my Go or TinyGo project, I will prefer Goland.
And as I also need to work on the main product, I need Kotlin/Java in IntelliJ.

This is especially true if a developer is working at day with IntelliJ but wants to collaborate to Open source proje

[2021-11-16 16:09] MrSimonEmms opened #6734 "Add additional monitoring alert to capture /proc mount out of disk space"
### Bug description

As part of [the incident today](https://app.incident.io/incidents/68), discovered that there were errors on the node discovered. These errors didn't trigger a PagerDuty alert and required a manual incident to be created.

Log in question

[code]

### Steps to reproduce

Not really reproducable now. Issue likely to be fixed by #6732

### Workspace affected

_No response_

### E

[2021-11-16 16:18] shaal commented on #6514
What @rfay said.

Also, I did test it again now, and can confirm it was deployed, because this test repo now works as expected -
https://gitpod.io/#TESTING_URL_PARAMS_WITH_COLON=:/https://github.com/shaal/testing--gitpod-url-params-with_colon

[2021-11-16 17:00] U1F984 commented on #6342
Please add me as well. Discord: Leo#2359.

[2021-11-16 17:27] gtsiolis commented on #6731
Since this is closely related to https://github.com/gitpod-io/gitpod/issues/2663 and we'll most probably eventually need to introduce more user control within the admin dashboard for features like this, we could add this as an admin dashboard feature where admin users have the option to enable or disable desktop IDEs for all users in a Gitpod instance.

[2021-11-16 17:42] jeanp413 commented on #6514
@loujaybee I also tested it and can confirm it's deployed, but it would be good to now why roboquat moved this to done directly

[2021-11-16 17:59] loujaybee opened #6735 "Improve external visibility of deployments/releases"
We don't currently have good visibility on where and when our PR's or changes are deployed.

Some fixes have been made in this space, but I'm creating this issue to track any progress publically.

See also:

https://github.com/gitpod-io/gitpod/issues/6514#issuecomment-970410669

Note: This issue might be a duplicate, please link to originals if we have any, if not, now we have an issue 🚀 ✨

CC: @g

[2021-11-16 17:59] loujaybee commented on #6735
Assigned to `platform` but tbh, I'm not 100% sure who this one should live with.

[2021-11-16 18:02] loujaybee commented on #6514
@rfay / @shaal - 100% we feel your pain too, and I hear you.

I've made a GitHub issue to track this: https://github.com/gitpod-io/gitpod/issues/6735 so we're public about progress here.

🙏 Thanks for the feedback, and hopefully we can make some improvements to the situation soon!

[2021-11-16 18:07] loujaybee commented on #6735
@ArthurSens has built:

https://github.com/gitpod-io/gitbot/tree/main/plugins/deployed-labeler

However, it needs to be integrated by the different teams before it comes into full effect.

I suggest we keep this ticket until we've implemented for all teams/components.

[2021-11-16 18:07] loujaybee commented on #6735
This is being integrated by meta: https://github.com/gitpod-io/ops/issues/290

[2021-11-16 18:23] jldec commented on #6720
Hi @LeDominik

`npm install -g` will link to globally installed files under `~/.nvm`

Unfortunately, Gitpod prebuilds using `init:` do not currently persist all changes under the home directory, just the workspace directory. See #340.

I suggest using a customized docker image. See the [docs](https://www.gitpod.io/docs/config-docker#configure-a-custom-dockerfile) for more information.

Thanks
Jürg

[2021-11-16 19:19] gtsiolis commented on #6563
Hey @iQQBot! Did you have the chance to take a look at this?

[2021-11-16 20:14] gtsiolis commented on #6727
Thanks for opening this, @jankeromnes!

FWIW, this was also brought up in a [recent product sync meeting](https://www.notion.so/gitpod/Product-Sync-6de7351c2617482f984b90bc9ffc9a53#09dc545a9a494fbe849b6d294d17a56c) (internal). The consensus was also to go with a project settings option. Cc @atduarte @csweichel @svenefftinge

**suggestion**: I'd suggest to include some help text to describe what is

[2021-11-16 20:24] rfay opened #6736 "Please update/refresh gitpod/workspace-full (old homebrew version)"
### Bug description

gitpod/workspace-full is getting really old, needs a refresh.

The homebrew in there is 3.2.14, but homebrew is now at 3.3.4. More than that, in the meantime they've changed from using linuxbrew-core to homebrew-core, which means that any attempt to update (and get current recipes) takes forever. And of course, since gitpod aims at "disposable workspaces", this means you have

[2021-11-16 20:24] gtsiolis commented on #6706
Thanks for the feedback, @titimoby! 🧡

**thought**: Relying on `.gitpod.yml` for selecting the editor sounds interesting but could easily break user experience as editor options can change in the long run, editors can be deprecated, self hosted instances could run earlier versions which don't necessarily support more editors, and more.

**suggestion**: Instead, what we could do is make this a proj

[2021-11-16 20:39] jldec commented on #5583
Yes - good point - I had similar intuitions, but after playing with the Vercel UI (see below) I think the "create repo" UX can be quite small & simple. See also [comments](#issuecomment-959407399) above.

![Screenshot 2021-11-11 at 22 53 43](https://user-images.githubusercontent.com/849592/142061442-e5c1dd5d-5bc8-4603-8a22-fa35c5779b15.png)

[2021-11-16 20:46] gtsiolis commented on #6395
Taking a **bias-for-action** and scheduling this in groundwork. @jldec feel free to remove if needed. Cc @JanKoehnlein

/schedule

[2021-11-16 20:49] shaal commented on #6736
Yes please!

[2021-11-16 20:58] rfay opened #6738 "Support: Lost control of team for rfay/ddev"
### Bug description

I use both github.com/drud/ddev and the fork github.com/rfay/ddev.

However, I can't manage prebuilds for rfay/ddev, and can't create/add a team for that.  The flyover says "Taken"

<img width="681" alt="Projects_—_Gitpod" src="https://user-images.githubusercontent.com/112444/142064307-d34bd4ec-2a2b-4ecd-b386-ab9fbab1c648.png">

I wouldn't be surprised if this was a result of

[2021-11-16 21:42] jldec commented on #6395
👍 to self-scheduling

[2021-11-16 22:07] Dominic-Hoe commented on #6684
You're welcome. :)

[2021-11-17 01:20] zhouzilong2020 commented on #6719
It's really odd, I should have pasted the link above. 😂
https://github.com/bytebase/bytebase/tree/feat/gitpod

[2021-11-17 07:57] jankeromnes commented on #6395
/assign

[2021-11-17 08:51] loujaybee commented on #6602
Small piece of feedback [[1](https://discord.com/channels/816244985187008514/910159138212966430/910362262106144778)] from a user in Discord, that they found it difficult to find the preferences, given that they were hidden under the checkbox.

[2021-11-17 09:03] loujaybee opened #6740 "Epic: JetBrains Prebuilds for Maven"
We haven't yet investigated this, this ticket is a placeholder for any changes required on our side to make indexing easier for IntelliJ and/or document any processes that improve the performance.

**Remaining**

- [x] Move warmup login in JetBrains Launcher
    - [x] Update JetBrains Launcher to support warmup command [[1]](https://github.com/gitpod-io/gitpod/pull/15233/files)
    - [x] Move warm

[2021-11-17 09:11] loujaybee opened #6741 "Unable to start JetBrains IDE (greyscreen)"
### Bug description

Some users are reporting issues opening the JetBrains IDE's, I haven't yet reproduced these issues, so raising an issue to investigate. Based on [this Discord discussion](https://discord.com/channels/816244985187008514/905926786339188746/909768556151988224).

![image](https://user-images.githubusercontent.com/5528307/142170542-00cf5725-0ddc-4531-b0b9-2360e5d2c454.png)

Stack t

[2021-11-17 09:11] loujaybee commented on #6741
Also mentioned (possibly related, possibly not)

![image](https://user-images.githubusercontent.com/5528307/142171143-89b75866-52a1-4c64-9e7a-924aeaef9514.png)

[2021-11-17 09:13] corneliusludmann commented on #6700
/schedule
/assign

[2021-11-17 09:13] roboquat commented on #6700
@corneliusludmann: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6700#issuecomment-971382624):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agains

[2021-11-17 09:21] flexzuu commented on #6342
Hey, Please add me too, Discord user name: flexzuu#4571

[2021-11-17 09:42] loujaybee commented on #6706
**Disclaimer:** This issue was also/mainly about extensions / customisations for the editor. Sorry, I put it together quite hastily, however the above discussion is also quite interesting! 🙏 I was referring mostly to having features/integrations as we do in the current [vscode namespace](https://www.gitpod.io/docs/references/gitpod-yml#vscode) in our YAML and `.gitpod.yml`, and/or [features like o

[2021-11-17 10:17] jankeromnes opened #6743 "Bogus error alert when a team member adds a new GitLab project"
### Bug description

When adding a new GitLab project as a team member, I'm immediately presented with an error alert:

<img width="1435" alt="Screenshot 2021-11-17 at 11 14 20" src="https://user-images.githubusercontent.com/599268/142181529-e2180556-001f-405d-a5cb-a6aeeefc7f4a.png">

However, adding the project was actually successful.

### Steps to reproduce

In a regular browser window:

1. Log

[2021-11-17 10:21] ghuntley commented on #4886
Have been ablet to reproduce this problem in workspace-images/

[code]

[2021-11-17 10:36] loujaybee opened #6744 "Cache/store user preferences for JetBrains IDE's"
It looks like on the surface that we need some solution similar to [VSCode settings sync](https://code.visualstudio.com/docs/editor/settings-sync) for JetBrains IDE's.

Creating this issue to add notes / investigation to.

Note: Given the discussion mentioned in Discourse. This could be potentially part of a wider solution about having persistence between workspaces.

Related issue in Discourse: h

[2021-11-17 10:56] jankeromnes commented on #6727
Added `self-hosted` label as requested by @metcalfc 👋

[2021-11-17 11:03] jankeromnes commented on #6738
/schedule

/assign

[2021-11-17 11:03] roboquat commented on #6738
@jankeromnes: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6738#issuecomment-971467674):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against th

[2021-11-17 11:08] jldec commented on #6738
Possibly related to https://github.com/gitpod-io/gitpod/issues/6655

[2021-11-17 11:10] jankeromnes commented on #6738
Hi @rfay!

Thanks for reporting this problem and providing helpful details.

Teams & Projects are still somewhat new features in Gitpod, and we're still iterating on making them more intuitive.

I can confirm that the Project linked to https://github.com/rfay/ddev still lives under the team called "junk", which has currently 0 members (that's it's even possible to get into this situation is a bug

[2021-11-17 11:19] jldec commented on #6684
Renamed issue because the word "local" can be confusing in the context of a hosted environment.

[2021-11-17 12:28] #6651 closed

[2021-11-17 12:45] dragonDScript commented on #6706
Personally, I was thinking of something similar to Windows' open with dialog + overridable per project config + per user config.

You could open the workspace with vscode, jetbrains, your config or the project config.

[2021-11-17 12:51] buggtb commented on #6744
Well going off of the projector template: https://github.com/gitpod-io/template-jetbrains-intellij-idea

It says map in .jetbrains for versioning, but you really don't want to do that because it stores all sorts of binary crud in there, cache folders, java installs the works. Even on a project where I've basically just checked out some Scala stuff and downloaded the dependencies the folder is alre

[2021-11-17 12:55] corneliusludmann commented on #6601
/assign

[2021-11-17 13:27] geropl opened #6746 "[payment endpoint] Have sanity check and error on large seats numbers instead of OOM"

[2021-11-17 13:42] U1F984 commented on #6740
The `remote-dev-server.sh` seems to support a `warm-up` command (similar to `installPlugins`) which could be used.

[2021-11-17 14:01] 0Grit commented on #6706
_Note: This is a rats nets of a concept that I'd personally love to avoid thinking about.
I'm not a pragmatist developer though, I am an early adopter. And this could be important for gitpod to cross reach the majority of the market. At the same time I wonder if it can wait until after you have a foothold in a niche market._

In my opinion the success of VSCode lies in the standards based approach

[2021-11-17 14:15] louis030195 commented on #4456
+1 for this feature 👍

[2021-11-17 14:29] #6736 closed

[2021-11-17 14:31] ghuntley commented on #6736
Baking and deploying now. New workspaces created in a couple hours (depending how long the pipeline takes) will use the latest version.

[2021-11-17 14:45] rfay commented on #6736
Thanks!

[2021-11-17 14:54] corneliusludmann commented on #6726
/assign

[2021-11-17 15:20] waleedhammam opened #6749 "Failed to delete a workspace"
### Bug description

Failing to delete workspace
![Screenshot from 2021-11-17 17-19-27](https://user-images.githubusercontent.com/10658229/142228346-f4c1515d-c8f5-4462-895d-0583d348b902.png)

### Steps to reproduce

- Create new workspace
- Try to delete it

### Workspace affected

 turquoise-marsupial-bb9bsba9

### Expected behavior

workspace is deleted when i click delete

### Example repositor

[2021-11-17 15:24] MrSimonEmms opened #6750 "[installer]: configure AuthProviders settings"
In call with @kylos101, we found out the issue with the `authProviders` array. Missing the `id`, `host` and `type` from the `AuthProviderConfigs`

[2021-11-17 15:42] #6395 closed

[2021-11-17 15:56] #6662 closed

[2021-11-17 15:57] gtsiolis commented on #6710
@jankeromnes is this also resolved with https://github.com/gitpod-io/gitpod/pull/6747? Cc @AlexTugarev

[2021-11-17 16:30] MrSimonEmms opened #6755 "[installer]: get image pull secret working"
Image Pull Secrets are a configured property in the [installer config](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/config/v1/config.go#L80) but are not yet connected up.

- [ ] apply to each Gitpod component deployment/daemonset etc
- [ ] apply to each Helm dependency
- [ ] ensure validation works on the config struct

Related links - ensure these tickets all work together
 - #6756

[2021-11-17 16:30] MrSimonEmms opened #6756 "[installer]: make repo mirroring easier"
Repository mirroring is something that is likely to be used by customers in an air-gapped environment. Currently, we have [repository](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/config/v1/config.go#L65) as a parameter in the config, which shouldn't need to change.

Create a command in the installer that outputs all images (including Helm ones) to Stdout in a JSON format to allow a

[2021-11-17 16:41] MrSimonEmms opened #6757 "[installer]: update Helm dependencies to use a custom container registry"
Currently, all Helm dependencies pull their images from the default path. In order to facilitate air-gapped installations, we must add the [repository](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/config/v1/config.go#L65) to each of the Helm dependencies.

**IMPORTANT** Gitpod does not host these images in our own container registry (and probably shouldn't need to either). If the `r

[2021-11-17 17:25] #6750 closed

[2021-11-17 17:28] MrSimonEmms opened #6759 "[installer]: fix jaeger-operator misconfigs"
There's misconfiguration in the Jaeger operator:

- [ ] the `values.yaml` has the `docker-registry` config [1](https://gitpod.slack.com/archives/C02F19UUW6S/p1637153356276400?thread_ts=1637153013.276100&cid=C02F19UUW6S)
- [ ] the `helm.go` values don't begin with `jaeger-operator`, so never applied [2](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/components/jaeger-operator/helm.go#L

[2021-11-17 17:29] shaal commented on #5277
@mikenikles Do you know if the documentation was added already?

[2021-11-17 18:03] gtsiolis commented on #5364
Adding this in groundwork in case the WIP in https://github.com/gitpod-io/gitpod/pull/5367 is 90% DONE and anyone from meta team could pick it up and push it through the finish line. 🏁

Cc @jldec @JanKoehnlein

/schedule

[2021-11-17 20:31] pawlean commented on #6730
Thanks for this feedback! I totally agree and hear you. I'm OOO right now, but I was thinking maybe a Twitter integration on Discord for our @gitpodstatus account as a starting point. I've also briefly looking at Statuspage Discord bots, but let me investigate this a bit more!

[2021-11-17 20:36] pawlean commented on #6719
I'm on the go right now but your gitpod workspace works flawlessly. Are you still seeing this issue? If so, can you take a screenshot? ![image](https://user-images.githubusercontent.com/17087373/142278221-2cc6f325-0bbe-46df-a064-3c1f379c6e9d.png)

[2021-11-17 20:52] trusktr opened #6761 "websocket not working on gitpod"
### Bug description

![unknown](https://user-images.githubusercontent.com/297678/142280068-21795041-d7c4-41c4-ba82-c4b83e3851da.png)

[code]

### Steps to reproduce

https://gitpod.io/#https://github.com/trusktr/solid-lume-starter/commit/35c342675ca82244027be2f309edea615ba4c051

[code]

then see the error in the console. Edit any file and expect hot module reload to update the app. It seems to do

[2021-11-17 20:57] tobiasdiez commented on #6283
Is there a ETA for when the build times is increased? For https://github.com/sagemath/sage we are currently also above the 1h mark.

[2021-11-17 21:41] gtsiolis opened #6762 "Improve colors used for labels and headings on dashboard integrations for the dark theme"
### Problem to solve

The colors used on the `/integrations` page within the dashboard do not follow the pattern used in `/workspaces` list.

### Proposal

Change label and heading colors for the dark theme in `/integrations` page.

| BEFORE | AFTER |
|-|-|
|  <img width="1440" alt="Screenshot 2021-11-17 at 11 24 31 PM (2)" src="https://user-images.githubusercontent.com/120486/142286867-2f2700d9-e

[2021-11-17 23:07] metcalfc opened #6763 "[installer] Add read from stdin"
So instead of:

[code]
You could also
[code]
Just a bit of UX syntactic sugar.

[2021-11-17 23:53] gtsiolis opened #6764 "Componetize headers and subtitles within settings pages"
### Problem to solve

While the product evolves more patterns strengthen the need to componetize parts of the product.

Cross-posting from https://github.com/gitpod-io/gitpod/pull/6390#issuecomment-952131293:

### Proposal

Following the comment from https://github.com/gitpod-io/gitpod/pull/6671#issuecomment-971587770, one of these patterns that seems to be around for a while is the headers and su

[2021-11-18 00:18] jldec commented on #6686
@gtsiolis, please let me know if you have questions about the list I added to the issue desciption above.

[2021-11-18 00:50] gtsiolis commented on #6686
@jldec I think points [2], [3], and [4] are partially or fully addresses with the proposal in the issue description, right?

Currently, :a: exploring ways to improve these issues using the existing proposal and :b: thinking how we can resolve the first point regarding the misleading header and flow phase indicator. Let's meet when I'm back next week and sketch together. What do you think?

[2021-11-18 01:10] zhouzilong2020 commented on #6719
I may identify where the problem lies. Anything went smoothly until I turned on my VPN and the page began to refresh instantly.
Here is the screen shot: https://youtu.be/bKkMGhKhSuQ

[2021-11-18 01:12] zhouzilong2020 commented on #6719
This may really bother developers in CHINA, where to some reason can not gain full access to the internet thus a VPN is a necessity.

[2021-11-18 02:29] jldec commented on #6680
/schedule

[2021-11-18 02:29] roboquat commented on #6680
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6680#issuecomment-972459545):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-18 07:41] #6726 closed

[2021-11-18 07:44] MrSimonEmms opened #6766 "[Installer]: improve distrubtion of gitpod-installer binaries"
## Is your feature request related to a problem? Please describe

As the future of Gitpod self-hosted, the Installer must be easily accessible. Currently, users need to search through werft for a build, pull the Docker image and run inside that.

## Describe the behaviour you'd like

A regular release cadence, appropriately numbered and released as GitHub packages.

## Describe alternatives you've

[2021-11-18 07:51] LeDominik commented on #6720
Hi, understood - makes sense for me. It would be great if that was documented with a big warning sign next to `init` as I believe I'm not the only one using `npm install -g` 👍

[2021-11-18 09:06] #6512 closed

[2021-11-18 09:08] corneliusludmann opened #6769 "Simplify button labels on desktop IDE open page"
**suggestion**: Although I appreciate the accuracy here, I still think this could be simplified as mentioned in https://github.com/gitpod-io/gitpod/pull/6270#discussion_r734679322 but do not want to go back and forth. I'd like to suggest once more going with something like _Open in XYZ_ but I'll leave this to you to decide.

**thought**: Also, happy to discuss this in a new follow up issue or http

[2021-11-18 09:12] corneliusludmann commented on #6601
Address minor preferences improvements during the changes:
- [Insiders Label](https://github.com/gitpod-io/gitpod/pull/6671#discussion_r751714659)
- [Subtitle colors](https://github.com/gitpod-io/gitpod/pull/6671#pullrequestreview-807219093)

[2021-11-18 09:14] #6488 closed

[2021-11-18 10:13] csweichel commented on #6731
/team meta

[2021-11-18 10:14] #5401 closed

[2021-11-18 10:27] geropl commented on #6688
This just triggered an incident because error rates went up. We should fix this before it get's costly again. :slightly_smiling_face:

[2021-11-18 10:35] svenefftinge commented on #6731
@ChevronTango Could you give a little more context on the kind of policy you have? I want to better understand those constraints to see if there is an alternative approach to disabling.

[2021-11-18 10:37] csweichel commented on #6734
We should rather fix the issue (see https://github.com/gitpod-io/gitpod/issues/6732)

[2021-11-18 10:37] #6734 closed

[2021-11-18 10:48] MrSimonEmms commented on #6734
Should there not also be additional monitoring as we've now had two incidents this week that haven't been automatically alerted?

[2021-11-18 11:10] jankeromnes commented on #6688
We previously agree to deprecate this manual prefix (`#/prebuild/<repo>`) in favour of the new Teams & Projects `Run Prebuild` button. Also, the manual prefix implementation is no longer correct (it doesn't associate Projects to prebuilds, doesn't use Incremental Prebuilds if enabled, etc).

Maybe we can mark this prefix as deprecated in the docs and make it redirect to the most sensible place.

I

[2021-11-18 11:18] jankeromnes commented on #4353
Given that this feature is broken (see https://github.com/gitpod-io/gitpod/issues/6688#issuecomment-972766653) I don't think it makes sense to spend a lot of effort to fix it just for admins.

Instead, it's probably better to make it redirect to the most sensible place (e.g. the Prebuilds page of the Project, if you have access to it, so that you can click on the new `Run Prebuild` button).

[2021-11-18 11:25] csweichel commented on #6732
/schedule

[2021-11-18 11:25] roboquat commented on #6732
@csweichel: Issue scheduled in the workspace team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6732#issuecomment-972778161):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against

[2021-11-18 11:25] csweichel commented on #6732
/assign

[2021-11-18 11:56] geropl opened #6770 "[ws-manager-bridge] Garbage-collect workspace instances whose workspace clusters are not available anymore"
context:
 - internal slack discussion: https://gitpod.slack.com/archives/C020VCB0U5A/p1636974437234400?thread_ts=1636963076.228900&cid=C020VCB0U5A
 - PR: https://github.com/gitpod-io/gitpod/pull/6682

[2021-11-18 11:59] csweichel opened #6771 "Make content initialisation failures more explicit"
## Is your feature request related to a problem? Please describe
When a workspace fails due to content initialisation issues, users only see something like this:
![image](https://user-images.githubusercontent.com/3210701/142411413-ebe71463-f8e5-4ef4-a0c8-0cf976e31fa0.png)

That's not a particularly helpful error message.

## Describe the behaviour you'd like
Users should receive an actionable and

[2021-11-18 12:27] geropl commented on #6746
/schedule

[2021-11-18 12:27] roboquat commented on #6746
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6746#issuecomment-972821394):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-18 12:28] geropl commented on #6663
Closing as dupe of #6746

[2021-11-18 12:28] geropl commented on #6642
/schedule

[2021-11-18 12:28] roboquat commented on #6642
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6642#issuecomment-972822279):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-18 12:36] loujaybee commented on #5430
@csweichel / @gitpod-io/engineering-workspace is there are any status you can share on this issue / when it might be available? I'm asking on behalf of a client 🙏

[2021-11-18 12:37] MrSimonEmms opened #6772 "[Installer]: configure and document S3 object storage"
- [x] Get the installer working with S3 storage. Consider implications of proxying through Minio
- [x] Ensure works with AWS
- [ ] ~#6776~
- [x] Validate secrets
- [ ] #6704

[2021-11-18 13:09] corneliusludmann commented on #5823
/schedule

[2021-11-18 13:14] JamesCullum commented on #1273
I found a neat way to do real Android development with Gitpod. I have created a template with a guide [here](https://github.com/JamesCullum/flutter-adb-template).

[2021-11-18 13:35] flauc commented on #4456
+1

[2021-11-18 14:02] MrSimonEmms opened #6776 "[Installer]: Cannot use S3 object storage in DigitalOcean"
DigitalOcean provides "Spaces", which is their version of S3-compatible storage. Despite having an identical API to S3, this works slightly differently to AWS S3 due to how the regions and endpoints are configured - the `endpoint` is "<regions>.digitaloceanspaces.com" - examples use `ams3`, but is the same for all regions. This is different AWS S3 which use a common `s3.amazonaws.com` and then set

[2021-11-18 14:21] jankeromnes commented on #6028
FYI, I believe that this was initially a typo.

When the workaround was described, it always mentioned both `GIT_AUTHOR_EMAIL` and `GIT_COMMITTER_EMAIL`.

I believe when we wrote this sentence into the dashboard page, the developer accidentally wrote `GIT_AUTHOR_NAME` instead of `GIT_AUTHOR_EMAIL`.

I would personally much prefer it to just replace `GIT_AUTHOR_NAME` by `GIT_AUTHOR_EMAIL` (as initi

[2021-11-18 14:22] konne opened #6778 "detecting state"
### Bug description

like you see in this picture this service runs perfectly and can be accessed with the browser, but
it is marked with a detecting state.

![image](https://user-images.githubusercontent.com/1100969/142432792-2c263d21-62f5-4a35-99d2-9388e3242109.png)

### Steps to reproduce

I don't know if you can reproduce it.

We have this situation that the port detection works perfect for no

[2021-11-18 14:23] jldec commented on #6688
I just repro'd another redirect loop with 28 cycles by prefixing a minmal repo which contains just a readme.

I would prioritize as follows:

1. fix or disable the redirect loop on manual /#prebuild/ contexts
2. if we simply disable it, we need some text to show people in the UI and docs page to link to. (will open issue for that)
3. dropping users into the project would be nice but I would not sp

[2021-11-18 14:37] #6759 closed

[2021-11-18 14:41] shaal commented on #6688
The new Projects UI is great, and a redirect or message for anyone who try using `/#prebuild/` sounds good.
We're still missing a `Run Prebuild button` in the UI, so there's no way to manually run prebuilds, unless you push a new commit to the branch.

[2021-11-18 14:46] jldec opened #6779 "Disable /#prebuild/ prefix"
The easiest way to deal with #6688 appears to be to disable the `/#prebuild/` prefix.

Suggested wording

![Screenshot 2021-11-18 at 14 41 35](https://user-images.githubusercontent.com/849592/142436716-c580d871-2286-4f0e-920b-c59494ebb0da.png)

See #6688 and #6688

[2021-11-18 14:46] jldec commented on #6779
/assign @jankeromnes

[2021-11-18 14:47] jldec commented on #6779
/schedule

[2021-11-18 14:47] #5823 closed

[2021-11-18 14:47] roboquat commented on #6779
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6779#issuecomment-972933264):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kub

[2021-11-18 14:47] csweichel commented on #5430
Unfortunately the rollout of this feature has proven rather difficult. While we're still expecting to roll out this feature at some point, I'll refrain from communicating timelines in this regard.

That said, we're still actively working on this.

[2021-11-18 15:15] wisammechano commented on #2175
Unfortunately, I've tried this and it doesn't work. The problem seems to be the internal port mapping for gitpod. Trying to connect through `gp url <portno>` output, but it hangs on no response for all ports: 27017, 80, 443 because gitpod URLs are actually proxied through https.

Though I wonder why URLs are as such, wouldn't it be close to usual behavior if a workspace had a unique url and then p

[2021-11-18 15:27] geropl commented on #6665
/schedule

[2021-11-18 15:27] roboquat commented on #6665
@geropl: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6665#issuecomment-972970873):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-11-18 15:28] rfay commented on #6738
Thanks for the quick response.

I am the only person who works on rfay/ddev. Please just move rfay/ddev over to my user account and kill off the junk team.

[2021-11-18 15:30] rfay commented on #6446
I'd appreciate if you could ping here when this gets deployed, thanks! It was merged 10 days ago.

[2021-11-18 15:36] shaal opened #6782 "[Security] Block certain gp commands when sharing a workspace"
## Is your feature request related to a problem? Please describe

Sharing a workspace, comes with a huge security flaw, because you also share your git credentials, and secrets stored in your user account.

## Describe the behaviour you'd like

When a workspace is shared, the commands `gp env` (access to user variables) and `gp credential-helper` (access to git credentials) should be disabled.
Tha

[2021-11-18 15:40] jankeromnes commented on #6688
Ah, you're right. There is a `Run Prebuild` button, but it's only available for Prebuilds that have failed or been cancelled. You cannot re-start a new Prebuild for a commit that was already Prebuilt (because we assume the new Prebuild will be identical to the already-existing Prebuild -- no need to re-do the same successful work twice).

Another reason we did that was that a lot of the Prebuild c

[2021-11-18 15:50] shaal commented on #6688
@jankeromnes that too.
Sometimes, certain things during prebuild just randomly fail (like download docker images, and there was a network issue that moment).

In upcoming version of DrupalPod, I offload the whole "full" prebuild process (that would take half an hour) to a separate manual process. During prebuild itself, I just download the artifacts that were produced during the manual process fro

[2021-11-18 15:50] jankeromnes commented on #6738
@rfay Done. Please confirm that you now see the rfay/ddev project in https://gitpod.io/projects and can access it again 🙏

[2021-11-18 16:03] rfay commented on #6738
Perfect, thanks so much!

[2021-11-18 16:03] #6738 closed

[2021-11-18 16:06] MrSimonEmms commented on #6400
I've found one more URL with a hard-coded gitpod.io

https://github.com/gitpod-io/gitpod/blob/main/components/dashboard/src/start/CreateWorkspace.tsx#L116

[2021-11-18 16:10] gsharma-jiggzy commented on #5409
Any way we can help out? I saw the RHEL9 beta is out and lots of gov work is RHEL and Openshift based.

[2021-11-18 16:11] MrSimonEmms commented on #6400
@iQQBot don't fret, it happens

[2021-11-18 16:36] jldec commented on #5980
@AlexTugarev would you be able to give us an idea of how much work this is? That would help us to prioritize this relative to other work. Thanks.

[2021-11-18 16:55] JanKoehnlein opened #6785 "[deployment] First steps towards automatic deployment of the meta cluster"
The steps we currently take to deploy meta are rather dull, and could as well be automated. I think the main reasons why we don't do that yet are
- We are afraid we are breaking something without being aware.
- We are unsure when and how to roll back.

Eventually, we'd like to reach automatic gradual deployments with automatic rollback ([internal doc](https://www.notion.so/gitpod/Gradual-Meta-Depl

[2021-11-18 17:04] jgallucci32 commented on #5409
@gsharma-jiggzy I recommend you ask @pawlean to create a the channel `#self-hosted-ocp` in Discord to begin the process of deploying/testing Gitpod on OpenShift Container Platform (OCP).

[2021-11-18 17:07] rfay commented on #6736
Confirmed updated, thanks!

Can this be automated to it happens regularly?

[2021-11-18 17:22] #6655 closed

[2021-11-18 17:57] corneliusludmann opened #6787 "[jetbrains] Remove werft secret"
We used to store the download links for the Jetbrains images in a secret for werft. Since they are publicly available now, we can remove the werft secret from the build process.

[2021-11-18 17:57] corneliusludmann commented on #6787
/schedule

[2021-11-18 17:57] roboquat commented on #6787
@corneliusludmann: Issue scheduled in the IDE team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/6787#issuecomment-973118280):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue agains

[2021-11-18 18:15] ChevronTango commented on #6731
The policy is that no IntelliJ products can be installed on any machine or used by any engineer for developing our products.

[2021-11-18 18:15] ryanberger-az commented on #5321
Hi,

We are also very interested in Azure DevOps integration. Right now, I am running a GitPod project out of a private GitHub with our team having access, but our main code repositories are within ADO. You can see how it is a pain in the butt to use a GitHub repo to build our GitPod environments, then commit code to a GitHub... then have to make those same changes into our Azure DevOps Repo's env

[2021-11-18 18:16] jacobPARIS opened #6788 "Add a Start Workspace option in the Workspaces page of the Dashboard"
## Is your feature request related to a problem? Please describe

If my workspace falls asleep, I can come back to the workspaces tab to start it again. The only option to do so is the "Open" item in the context menu for that workspace, which links to the `start` route and then opens the IDE in the browser

![image](https://user-images.githubusercontent.com/5633704/142472898-0e7a5930-8f96-4fee-a95

[2021-11-18 18:27] satarr commented on #5321
Highly needed feature. Please look into adding this functionality.

[2021-11-18 19:10] shaal commented on #6688
One more thought before we shut down the manual prebuild URL -

I am thinking of moving DrupalPod from GitHub to Drupal's own Gitlab self-hosted instance (i.e. https://git.drupalcode.org/project/drupalpod)
How do I manage or trigger prebuilds when it's not on Github.com or Gitlab.com?

Currently, I can manually trigger that repo with `/#prebuild` and get the prebuild running.
But without that, EVE

[2021-11-18 19:28] #6524 closed

[2021-11-18 20:01] metcalfc opened #6789 "[installer] mysql helm global.storageClass may need to be set"
I set a default storage class:

[code]

minio and registry respect that. mysql does not. In the Bitnami Helm chart the option is:

`global.storageClass` and by default its `nil`

When we render it down we might have to give it a value?

[2021-11-18 20:13] metcalfc commented on #6789
I tried adding a `StorageClassName` on the `volumeClaimTemplates`:
[code]
Its not flowing through to the StatefulSet.
[code]
I've also set a default storageclass. So I would have thought it would have just been picked up.
[code]

[2021-11-18 20:50] #3877 closed

[2021-11-18 20:50] #5006 closed

[2021-11-18 20:51] shaal commented on #3746
@geropl did you mean gitpod.io/projects

This issue is about allowing repos use external `.gitpod.yml` + `.gitpod.Dockerfile` setup.

[2021-11-18 20:58] metcalfc commented on #6789
Kubernetes is a journey.

We should likely require a default storage class or let folks set it.

[2021-11-18 21:38] metcalfc opened #6791 "[self hosted] Update the "Kubernetes" guide for the installer / single host path"
- [ ] Document required default storage class (related #6789)
- [ ] Automate external IP for the proxy service since there is no load balancer / cloud
- [ ] Update docs on gitpod.io (https://www.gitpod.io/docs/self-hosted/latest/installation/on-kubernetes)
- [ ] Publish VMware base VM/vagrant with Ubuntu and base requirements
- [ ] Publish script with installer customization

[2021-11-18 21:41] kylos101 opened #6792 "[test] New integration test failures with self-hosted"
### Bug description

Some of our integration tests fail (even though functionally Gitpod is okay) in self- hosted, this was discovered in #6518, when first running the tests against a self hosted installation in a GCP playground.

Those failures are [documented here](https://github.com/gitpod-io/gitpod/issues/6518#issuecomment-965929396), and will have to be fixed as follow-on work.

A draft PR wa