[2021-12-22 21:18] kylos101 commented on #7343
Hello, I am going to close this issue, as it is for the saas and [this incident](https://www.gitpodstatus.com/incidents/g0kjpr3lbvbw), which is resolved.

@appcoders it looks like you're having trouble with self-hosted. Does #599 cover your issue, or is there another issue going on? If there's another issue, it would be ideal to create a new one - this way we can socialize in that context. Appreci

[2021-12-22 21:36] Mob-Programming-Meetup-Austria opened #7350 "Shared workspace times out if workspace creator is idle but other collaborators are not"
### Bug description

We run a frequent Mob-programming meetup, where gitpod serves us very well for collaboration with low setup overhead for our participants.

It looks like the session times out if the workspace owner is idle for some time, even if the collaborators are actively using it.

In our sessions, sometimes the main collaborators are different users than the owner of the workspace (and

[2021-12-23 03:05] jeanp413 commented on #7313
I could reproduce this but it took a almost an hour =S
[code]

[2021-12-23 07:07] Foxhoundn commented on #7313
Amazing! I am glad It's not just me, thank you :)

Yesterday it didn't happen for 2 hours, then it started happening every ~30 mins.

[2021-12-23 07:08] mustard-mh commented on #7074
/assign

[2021-12-23 08:15] appcoders commented on #7343
@kylos101 We found the reason in here https://github.com/gitpod-io/gitpod/pull/7280#issuecomment-999630814.
So this is resolved for self-hosted. Thanks.

[2021-12-23 12:12] alexadark commented on #7345
It says the issue is solved, but for me, it is stills happening...

[2021-12-23 12:32] axonasif commented on #7345
The gitpod team is aware.
You can subscribe to https://www.gitpodstatus.com/incidents/4f25shfbb632/ for updates

[2021-12-23 13:42] kylos101 commented on #7343
Thanks for confirming @appcoders !

[2021-12-23 13:42] #7343 closed

[2021-12-23 13:46] kylos101 commented on #7344
Appreciate the help, @axonasif! As [this incident](https://www.gitpodstatus.com/incidents/g0kjpr3lbvbw) is resolved, I am closing the issue.

As a heads up, we just had [an incident in the EU region](https://www.gitpodstatus.com/incidents/4f25shfbb632) that may have impacted some of you.

[2021-12-23 13:46] #7344 closed

[2021-12-23 14:16] dsbowen opened #7353 "Install newer versions of python in gitpod/workspace-full image"
## Describe the behaviour you'd like

I'd like to be able to switch to a newer python version using pyenv without installing it myself.

## Describe alternatives you've considered

Custom Dockerfile or installing in the init step, but both of these solutions 1) require more work from your users, 2) make the prebuild take longer. In my experience, the init solution adds 1-2 minutes to the prebuild

[2021-12-23 14:55] #5686 closed

[2021-12-23 15:13] jimmybrancaccio commented on #7293
I think you're right @jeanp413 if CSP is the same as CORS (I'm not sure haha). I just noticed under the Develop menu in Safari there's an option to disable Cross Origin Restrictions, I checked that off and sure enough, the icons are now showing up properly 😁

<img width="512" alt="Screen Shot 2021-12-23 at 09 11 06AM" src="https://user-images.githubusercontent.com/405585/147259132-39c7c8a6-da11-41

[2021-12-23 15:39] jakobhero commented on #5210
Fixed with [Website #1312](https://github.com/gitpod-io/website/pull/1312) and #6784.

[2021-12-23 15:39] #5210 closed

[2021-12-23 16:00] jldec commented on #4629
The account name in the Gitpod account settings (and also in the account dropdown at the top of the dashboard) does not change when the GitHub account id is renamed on GitHub, or when the integration is removed and then reconnected (assuming another integration exists).

The user id on the integration is correctly updated.

# GitHub

![Screenshot 2021-12-23 at 15 52 12](https://user-images.githubu

[2021-12-23 21:20] kylos101 commented on #7345
Hi @alexadark are you still having trouble? I assume no, but, wanted to double check before closing the issue. Let us know?

[2021-12-23 21:43] #7335 closed

[2021-12-24 08:45] alexadark commented on #7345
@kylos101 yes thanks, all is fine now

[2021-12-24 09:33] Adityak4201 opened #7357 "WebSocket connection to 'gitpod-workspace-url' failed. Webpack dev server issue"
### Bug description

I have setup the react app using webpack dev server configuration. When I run the react app, it runs successfully. But fter a few seconds, I see error message in the console and react app UI does not update automatically on saving the code
`WebSocket connection to 'wss://3000-amethyst-chinchilla-dtjvlkn4.ws-us25.gitpod.io:3000/ws' failed: `
`[webpack-dev-server] Event {isTrust

[2021-12-24 12:11] 0xd61 opened #7358 "Add vm86 seccomp container runtime option to be able to run 32-bit binaries"
## Is your feature request related to a problem? Please describe
I need to execute a 32-bit binary in gitpod which is currently not possible because of seccomp restrictions.  The necessary syscall needed in the container runtime options is `vm86` (https://docs.docker.com/engine/security/seccomp/).

## Describe the behaviour you'd like
I'd like to run the 32-bit binary. Current output of strace:
[c

[2021-12-24 13:02] #7345 closed

[2021-12-24 13:06] csweichel opened #7359 "Set hostname to workspace ID rather than instance ID"
Right now we're inheriting the hostname set by Kubernetes. Kubernetes uses the pod name as hostname.
Instead of bind-mounting `/etc/hostname` we could just write our own file which contains the workspace name.

Benefits: looks much nicer when folks start customising their `PS1`, or when using tailscale.

[2021-12-24 13:55] axonasif commented on #7358
This should also solve #5532

[2021-12-24 15:43] jeanp413 commented on #7313
more logs from the server
[code]

[2021-12-24 17:11] Merith-TK commented on #5690
Any updates on this whole subject?
I am curious what the final verdict is as of this moment, as I personally am a fan of free teir having unlimited users, but enterprise features disabled.

[2021-12-24 17:36] hm2075 opened #7360 "Open in VScode issue (self hosted)"
### Bug description

using main.2090 branch

open in vscode option returns

Failed to connect to Gitpod workspace black-xerinae-jgitsfxe: FetchError: request to https://xxx.com/static/bin/gitpod-local-companion-windows.exe failed, reason: certificate has expired

same issue on previous builds

### Steps to reproduce

install main.2090  ,   open gitpod and select open in vscode

### Workspace affec

[2021-12-24 17:37] jgallucci32 commented on #5690
I just realized https://github.com/gitpod-io/website/pull/1218 was not linked to this issue. The PR has been merged and changes are now live at https://www.gitpod.io/self-hosted

The PR clarifies the Community Edition of Gitpod as being free, unlimited users, open source, and without enterprise features. The Enterprise Edition is still free for up to 10 users.

[2021-12-24 17:39] hm2075 opened #7361 "Add Version detail to self hosted"
## Is your feature request related to a problem? Please describe
No indication what version self hosted users are using

## Describe the behaviour you'd like
Need an about section in gitpod showing version number

[2021-12-24 21:22] #5524 closed

[2021-12-24 21:22] #5453 closed

[2021-12-24 21:22] #5667 closed

[2021-12-24 23:05] shaal commented on #5684
Was this implemented already?

[2021-12-25 08:05] georg480 commented on #6283
My prebuild is aborted after one hour, is there a parameter with which I can change the time? The option (Incremental Prebuilds
Enable Incremental Prebuilds Beta) for is also active.

[2021-12-25 10:58] gengjiawen commented on #5663
@stale not stale

[2021-12-25 16:38] Trott commented on #6283
As far as I know, the answer is still "no" but I want to share a workaround I've done that has helped me out a lot.

Here's the GitPod YAML config for one of my projects:

[code]

The `timeout 45m make -j16 || true` cause `make -j16` to run for 45 minutes. After that, it is terminated but the `|| true` causes a success status code to be provided rather than a failure status code. Since my builds t

[2021-12-26 08:26] #5716 closed

[2021-12-26 08:26] #5639 closed

[2021-12-26 08:26] #5638 closed

[2021-12-26 13:39] ajhalili2006 opened #7363 "extensions: Don't override sync setting for an extension if installed before opening a repository with that extension on Gitpod workspace conig's vscode.extensions"
## Is your feature request related to a problem? Please describe

When I add some of the extensions I use to `.gitpod.yml` on one repo and then creates a fresh workspace on another repo, some of these extensions are not installed due to `Sync This Extension` being unmarked when opening a repository with that extension on their configuration.

## Describe the behaviour you'd like

If a user has tha

[2021-12-26 19:30] PaulFWatts commented on #6342
I would like to join the beta for Rider. I have a license for all the JetBrains products and use Rider to code F#. Thanks!

[2021-12-26 22:38] #2956 closed

[2021-12-26 22:38] #5733 closed

[2021-12-27 01:33] gengjiawen commented on #5290
@stale not stale

[2021-12-27 11:54] gtsiolis opened #7366 "Highlight and pin the default branch for projects from Bitbucket"
### Problem to solve

Following up from https://github.com/gitpod-io/gitpod/pull/7251#discussion_r771400058:

| Branches for a GitHub repository |  Branches for a Bitbucket repository |
|-|-|
| <img width="1440" alt="Screenshot 2021-12-27 at 1 51 01 PM (2)" src="https://user-images.githubusercontent.com/120486/147469411-aadf8494-0f21-4f39-972e-1d20d089d96d.png"> | <img width="1440" alt="Screenshot

[2021-12-27 12:03] gtsiolis opened #7367 "Adding a project for a Bitbucket repository will not trigger any prebuilds or add any webhooks"
### Problem to solve

Back in https://github.com/gitpod-io/gitpod/pull/7251, we've added support for Bitbucket projects.

However, when adding a project for a Bitbucket repository will not trigger any prebuilds or add any webhooks. See relevant comment in https://github.com/gitpod-io/gitpod/pull/7251#discussion_r771406266:

### Proposal

Let's :a: add a webhook when adding a Bitbucket repository a

[2021-12-27 12:27] gtsiolis commented on #5822
Thanks for bumping this up, @bigint! Closing this in favor of https://github.com/gitpod-io/gitpod/issues/4629 and will bring this up internally. 🏓

[2021-12-27 12:27] #5822 closed

[2021-12-27 12:29] gtsiolis commented on #7325
Thanks for reporting this, @jmls!

This is probably related to https://github.com/gitpod-io/gitpod/issues/7366 as the default branch is also not detected in the _Branches_ page.

Cc @AlexTugarev @jldec because https://github.com/gitpod-io/gitpod/pull/7251

[2021-12-27 13:02] gtsiolis opened #7368 "Cancel previous scheduled and running prebuilds when new prebuilds are triggerred for the same branch"
### Problem to solve

Currently multiple prebuilds can be triggerred for the same branch. This can be innefficient and could allow users to exploit the platform under certain circumstances (see [relevant discussion](https://gitpod.slack.com/archives/C02EN94AEPL/p1640515448182100) (internal)). Cc @aledbf @jldec

See also more relevant discussions[[1](https://gitpod.slack.com/archives/C01KPEPMYSW/p1

[2021-12-27 13:23] gtsiolis commented on #7350
Thanks for bringing this up, @Mob-Programming-Meetup-Austria! 🍊

**issue**: This seems to conflict with the notion of ephemeral dev environments[[1](https://www.gitpod.io/docs/workspaces)] and surface a way to exploit the platform as this could easily break user control[[2](https://www.nngroup.com/articles/user-control-and-freedom/)].

**thought**: However and more importantly, I think the use cas

[2021-12-27 13:28] filiptronicek commented on #4629
This would be great; I think my account is still using my secondary email address while my primary one (filip@gitpod.io) is not used.

[2021-12-27 13:34] akosyakov opened #7369 "[code-browser] open in browser does not respect localhost anymore"
### Bug description

Steps to reproduce:
- follow https://www.gitpod.io/blog/local-app#installation to install the local companion
- use ports view to open in browser
<img width="509" alt="Screenshot 2021-12-27 at 14 32 05" src="https://user-images.githubusercontent.com/3082655/147476595-1885ba35-a329-49db-a166-cf742251ffa2.png">
- localhost port should be opened, but instead exposed is opened

##

[2021-12-27 13:36] akosyakov commented on #7369
Actually it works, it was an issue in the context of testing since the local app times out with running workspace: https://github.com/gitpod-io/gitpod/pull/7352

[2021-12-27 13:36] #7369 closed

[2021-12-27 13:55] akosyakov commented on #6894
@jeanp413 not actively

I wanted to sync with @csweichel with how generally we can get analytics directly from workspace to Segment in secure way. If it is not possible then the fix is rather simple, use GitpodServer in supervisor to track this event. You can make a PR for it, but we delay merging after talking to Chris.

[2021-12-27 14:02] Foxhoundn opened #7370 "Source changes not reflected in dashboard overview"
### Bug description

Source changes not reflected in dashboard overview

![CleanShot 2021-12-27 at 14 23 23](https://user-images.githubusercontent.com/8861481/147478658-6182ca74-4425-4bc2-ab67-37fc89acf6c7.png)
![CleanShot 2021-12-27 at 14 23 36](https://user-images.githubusercontent.com/8861481/147478662-e7b33b5a-e4f9-49b4-ae80-0d5a2d842c2b.png)
![CleanShot 2021-12-27 at 14 23 32](https://user-im

[2021-12-27 15:54] gtsiolis commented on #5611
No longer relevant as we do not include the second status label in the header.

However, we still need to handle links to :a: deleted prebuilds like the one linked in the issue description and :b: non-existent prebuilds. Cc @jldec

[2021-12-27 15:57] gtsiolis commented on #5683
Although sensible defaults sounds optiomal, this could be a nice small improvement which could be useful for larger groups with stricter development guidelines. Additionally, this could be better as part of the new project settings instead of the `.gitpod.yml` configuration. cc @jldec

[2021-12-27 16:00] gtsiolis commented on #5663
Thanks @gengjiawen! Re-opening this and looping in @akosyakov and @loujaybee in case someone could provide more input on this feature request.

[2021-12-27 16:05] gtsiolis commented on #5684
Re-opening and looping in @csweichel to verify if this is still relevant. 🏓

Thanks @shaal!

[2021-12-27 16:09] gtsiolis commented on #5895
This is still relevant. Going with the minimal top menu here could suffice. Cc @jldec

Additionally, a better error page could also suffice. Alternatively, redirecting to the previously selected team and showing a (toast) notification could be a good alternative. 💭

[2021-12-27 17:22] jldec commented on #7367
Thanks for opening this followup issue @gtsiolis
We should (within reason) try to offer a consistent UX for projects across git providers.
/schedule

[2021-12-27 17:22] roboquat commented on #7367
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7367#issuecomment-1001666311):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-12-27 17:22] gtsiolis commented on #7325
/assign @trumbitta

[2021-12-27 17:22] roboquat commented on #7325
@gtsiolis: GitHub didn't allow me to assign the following users: trumbitta.

Note that only [gitpod-io members](https://github.com/orgs/gitpod-io/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/contrib

[2021-12-27 17:30] #6762 closed

[2021-12-27 17:32] jldec commented on #7271
@gtsiolis - I would really like to add a little polish and the extra text to this.
/schedule

[2021-12-27 17:32] roboquat commented on #7271
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7271#issuecomment-1001669802):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2021-12-27 18:23] gopherpro opened #7373 "Add Traefik as proxy"
# Current state

At the moment GitPod only use NGINX as proxy. If you want to an other proxy like Traefik, you have to change the proxy service type to `clusterip` and now you cloud run Traefik in front of NGINX.

[code]
link to [values.yaml](https://github.com/gitpod-io/gitpod/blob/b53c34d330ca30ae7cf3476f5896a32223540c69/chart/values.yaml#L444)

# Idea

To make GitPod better and more usable for

[2021-12-27 18:32] aledbf commented on #7373
@gopherpro Gitpod does not use NGINX as reverse proxy. It uses Caddy. You can find the [definition here](https://github.com/gitpod-io/gitpod/blob/main/components/proxy/Dockerfile#L15)

Also, we are deprecating the helm chart, in favor of the [Installer](https://github.com/gitpod-io/gitpod/tree/main/installer)

[2021-12-27 18:32] #7373 closed

[2021-12-27 18:33] aledbf commented on #7373
Thank you for the suggestion, but for now, we are not planning to use Ingress as entry point for Gitpod.

[2021-12-27 18:48] gopherpro commented on #7373
Thanks for your fast feedback. It seems like I got the wrong information about the reverse proxy. My fault.

Maybe my idea is something for the future. :smile:

[2021-12-27 22:44] jeanp413 commented on #6894
@akosyakov is that related to this https://github.com/gitpod-io/gitpod/issues/7257#issuecomment-998117176. If so I'd be fine waiting as that would also help make straightforward sending telemetry in vscode core (instead of creating a web socket  connection)

[2021-12-27 23:26] ChamMach opened #7375 "Errors when switching to a user (with new shell env.)"
### Bug description

Hello,

When I want to become root I get some errors, but it depends on how I become root.

Example in the image below:

![image](https://user-images.githubusercontent.com/23166349/147513093-fa6aa6d7-f0ae-4f1b-b982-24b3f43f528a.png)

Same when I want to become an other user:

![image](https://user-images.githubusercontent.com/23166349/147513162-b2389735-7855-494c-a00d-b266d1f4

[2021-12-28 01:44] shaal commented on #5878
@Decipher is this feature still needed?

[2021-12-28 01:51] Decipher commented on #5878
Yes, I would still find this a very useful feature.

[2021-12-28 02:14] jwpjrdev commented on #605
Could someone mark this as never stale?
This is a pretty useful feature to have.

[2021-12-28 06:54] ChristinFrohne commented on #5769
If I remember correctly, @mikenikles said he will look into this 🙏

[2021-12-28 12:21] gtsiolis commented on #5923
Definitely still relevant. Cc @jldec

[2021-12-28 12:34] gtsiolis commented on #5905
**thought**: Probably a good improvement with small impact.

**suggestion**: Potentially breaking this down to smaller scoped issues with clear action forward and designs to implement could help.

Cc @jldec

FWIW, we already redirect some 404 pages to the website. For example:

1. Non-existent team: https://www.gitpod.io/t/xyz/

However, many inner pages still do not contain proper information. Fo

[2021-12-28 12:39] gtsiolis commented on #605
Looping in @jldec for visibility.

[2021-12-28 13:47] Mob-Programming-Meetup-Austria commented on #7350
Thanks for the timly response and great suggestions @gtsiolis

Unfortunately our events are live and synchronous collaboration sessions. We rotate the "Driver" role every 3-5 minutes while we do mob-programming. Usually we set the rotation time so that the first driver is back at the keyboard after 20-30 minutes at least in the ideal case. Often while practicing it takes longer to do a full round

[2021-12-28 14:42] akosyakov commented on #7357
`wss://3000-amethyst-chinchilla-dtjvlkn4.ws-us25.gitpod.io:3000/ws` is not valid Gitpod port url, you should remove 3000 from port part, i.e. `wss://3000-amethyst-chinchilla-dtjvlkn4.ws-us25.gitpod.io/ws`

Use `gp url 3000` to get a proper URL. You can also try [the local companion](https://www.gitpod.io/blog/local-app) instead for interoperability with localhost.

[2021-12-28 14:42] #7357 closed

[2021-12-28 14:43] akosyakov commented on #7360
I think it is something wrong with your local certificates, probably they have to be updated.

[2021-12-28 14:46] jeanp413 opened #7376 "Bogus reload button shows in extensions view for built-in extensions"
### Bug description

A reload button appears in extensions view for built-in extensions, this is caused because we copy vscode-web and vscode-reh in the same folder `/ide`, built-in extension are inlined in vscode-web but are also scanned again by the server causing the issue.

### Steps to reproduce

1. open workspace
2. open extensions view
3. select to show built-in extensions
4. :bug: observe

[2021-12-28 14:47] akosyakov commented on #7363
Could you clarify steps to reproduce:
- install golang extension as sync in some repo without .gitpod.yml
- open [gitpod-io/gitpod](https://github.com/gitpod-io/gitpod) which has golang in .gitpod.yml
- try to start another workspace on some repo without .gitpod.yml
  - expected that golang extension is installed, but it is not?

[2021-12-28 14:58] Adityak4201 commented on #7357
Thanks for the answer. But it has not solved my problem. In browser, the URL open is `https://3000-amethyst-chinchilla-dtjvlkn4.ws-us25.gitpod.io/` which is a valid gitpod URL but I don't know why web socket is trying to connect to `wss://3000-amethyst-chinchilla-dtjvlkn4.ws-us25.gitpod.io:3000/ws`.

This is error snapshot:
[Error image](https://ibb.co/sHnJ2JK)

Also, please tell me how can I remo

[2021-12-28 17:01] hm2075 commented on #7360
not entirely sure,      certs are good
some other person mentioned the same issue in discord

[2021-12-28 21:18] jldec commented on #5198
I tried this PR with my slightly naive dotfiles repo which just tries to set an alias using [`.bash_profile`](https://github.com/jldec/dotfiles/blob/main/.bash_profile)
See https://github.com/jldec/dotfiles

I noticed from the .dotfiles.log that we are symlinking the `.git` directory (bug) and also the `README.md` file (bug?), but not my `.bash_profile` (maybe because there is already a .bash_prof

[2021-12-28 23:49] ramank775 commented on #7122
Is there any update on this? can someone guide me through the code, i am happy to contribute.

[2021-12-29 00:00] jgallucci32 opened #7379 "[installer] Support for custom container images"
## Is your feature request related to a problem? Please describe

When running Gitpod in a closed environment (corporate firewall, air-gapped, etc.) it often times is necessary to use custom container images based on the upstream ones. For example, the `code/ide` image or the image used for workspace default might need a customized container to backport fixes before available upstream, use custom

[2021-12-29 07:15] axonasif commented on #7122
There are two things that you can do to overwrite some git configuration on Gitpod.

- By specifying internal git-config variables in your `.gitpod.yml`

- By exporting a git specific variable in your `.bashrc` dynamically. The variable of your interest is `GIT_COMMITTER_EMAIL`

[2021-12-29 10:17] #7074 closed

[2021-12-29 11:23] gtsiolis commented on #5342
Marking as never stale and removing from groundwork.

[2021-12-29 11:36] gtsiolis commented on #7350
@Mob-Programming-Meetup-Austria I think once we add better and more granular sharing (https://github.com/gitpod-io/gitpod/issues/4841) and introduce the new teams pricing (https://github.com/gitpod-io/roadmap/issues/17), would make it easier to effectively tackle this use case. Cc @jldec @svenefftinge

For example, :a: using a team[[1](https://www.gitpod.io/docs/teams-and-projects)] for this meet

[2021-12-29 12:03] ajhalili2006 commented on #7363
I tried installing Golang extension on an existing workspace, leaving `Sync This Extension` option checked.

![photo_2021-12-29_12-47-08](https://user-images.githubusercontent.com/34998342/147639759-9405a9a8-2140-4d68-a8ae-b0377ec0a552.jpg)

Then created a fresh workspace using `github:gitpod-io/gitpod` where that extension is added to the Gitpod config, and confirmed that option is unchecked.

![

[2021-12-29 12:04] ajhalili2006 commented on #7363
I tried installing Golang extension on an existing workspace, leaving `Sync This Extension` option checked.

![photo_2021-12-29_12-47-08](https://user-images.githubusercontent.com/34998342/147639759-9405a9a8-2140-4d68-a8ae-b0377ec0a552.jpg)

Then created a fresh workspace using `github:gitpod-io/gitpod` where that extension is added to the Gitpod config, and confirmed that option is unchecked.

![

[2021-12-29 12:22] georg480 opened #7382 "Der Prebuild wird erfolgreich erzeugt. Aber trotzdem werden die was bei before ausgeführt werden soll zwei mal ausgeführt einmal beim prebuild bauen und einmal beim Workspace öffnen. Ich will das es im prebuild alles ausgeführt wird und dann beim starten "direkt" verfügbar ist."
### Bug description

Der Prebuild wird erfolgreich erzeugt. Aber trotzdem werden die was bei before ausgeführt werden soll zwei mal ausgeführt einmal beim Prebuild bauen und einmal beim Workspace öffnen. Ich will das es im Prebuild alles ausgeführt wird und dann beim starten "direkt" verfügbar ist.

https://gitpod.io/#https://github.com/georg480/gitpod

### Steps to reproduce

Ist immer wieder gle

[2021-12-29 12:28] akosyakov commented on #7357
You need to tell webpack that it should use such url like here: https://community.gitpod.io/t/setting-up-webpack-dev-server-on-gitpod/1648/2

[2021-12-29 12:31] akosyakov commented on #7363
It looks expected: If you install an extension like `sync` then it will be installed like sync in all your workspaces except which have configured it explicitly in .gitpod.yml

[2021-12-29 13:01] svenefftinge commented on #7382
That is intended behavior. "before" is executed first on every workspace start no matter its a rebuild or a regular workspace start. Please use the `init` phase to run commands only during prebuild and not on workspace start.
See also: https://www.gitpod.io/docs/config-start-tasks#execution-order

If this doesn't help, feel free to open another issue.

[2021-12-29 13:01] #7382 closed

[2021-12-29 13:37] gtsiolis commented on #5958
This is still relevant even though we've updated the team selection during the onboarding flow in https://github.com/gitpod-io/gitpod/pull/7030. Cc @jankeromnes @jldec

[2021-12-29 13:45] gtsiolis opened #7384 "Some prebuilds use different status on project cards and prebuild page"
### Problem to solve

Some prebuilds use different status on project cards and prebuild page. See examples below:

| Project Card | Prebuild Page |
|-|-|
| <img width="357" alt="project-1" src="https://user-images.githubusercontent.com/120486/147668456-ae4108a4-92c7-4396-8acc-91940a1e1dff.png"> | <img width="1096" alt="project-3" src="https://user-images.githubusercontent.com/120486/147668461-adfc

[2021-12-29 14:40] #7359 closed

[2021-12-29 15:25] jldec opened #7385 "Repo Selection UI for dotfiles configuration"
The initial Beta implementation (PR #7337) of Dotfiles support uses a simple text input for users to configure the URL of their dotfiles repository.

This issue defines a repo-selection UI to make this process more friendly by allowing users to search for and select their dotfiles repo without leaving the dashboard.

**Proposed specifiication**

- Select any repo under your personal account (users

[2021-12-29 17:53] sedattanir commented on #6491
![image](https://user-images.githubusercontent.com/17693925/147689936-474d07a7-0d1d-4f30-a56f-97f912b16636.png)
I am getting the same error. what is the problem caused by?
If there's anything you want me to look at (logs, pods, etc), I can help you.

[2021-12-29 18:14] sedattanir commented on #6491
@MrSimonEmms Can you help me?

[2021-12-29 20:47] jmls commented on #7384
yah I confirm I see this as well

[2021-12-29 21:24] shahery opened #7386 "port 8000"
### Bug description

Most of the time when I start working in the github,  My port 8000 does not work and it wastes a lot of my time.

### Steps to reproduce

just correct port 8000

### Workspace affected

yes, i cannot open my new browser again if I close the previous one.

### Expected behavior

_No response_

### Example repository

love running repository[](url)

### Anything else?

_No respo

[2021-12-29 22:45] gtsiolis commented on #4634
Added #7388 to resolve this.

🍊 🍊 🍊 🍊

@corneliusludmann, following the comment in https://github.com/gitpod-io/gitpod/issues/4634, I've added a point about this in an internal draft I'm writing about design guidelines.

Re-posting from there:

[2021-12-30 09:36] #5746 closed

[2021-12-30 09:36] #3978 closed

[2021-12-30 13:45] #6921 closed

[2021-12-30 15:59] ionutale commented on #7386
I think i know what @shahery means in the ticket.
sometimes the popup is not triggered by the port that is open and listening for connections

<img width="464" alt="Screenshot 2021-12-30 at 16 57 42" src="https://user-images.githubusercontent.com/2562455/147767782-6852d45e-e02f-4854-9645-93a0847b5d9c.png">

 @shahery all you need to do is to:

- mac `cmd + click` on the link in the terminal
- win/

[2021-12-30 17:22] sedattanir commented on #7360
I have same errors. My local certificates are signed by letsencrypt. I can't use this option. It does not give certificate error on localhost. The certificate appears to be signed.

[2021-12-30 17:36] ionutale commented on #7370
is now shown if the workspace is running, if you close the workspace it works fine

<img width="1334" alt="Screenshot 2021-12-30 at 18 36 00" src="https://user-images.githubusercontent.com/2562455/147775170-2aeda225-d77e-4e2a-bd59-4093cd9a097a.png">

[2021-12-30 18:09] sedattanir opened #7396 "[self-hosted] ws-daemon service account error - cannot update node label"
### Bug description

![147689936-474d07a7-0d1d-4f30-a56f-97f912b16636 1](https://user-images.githubusercontent.com/17693925/147777252-324e7105-6386-4152-95a8-1d72d395a87f.png)

[code]

Vmware Workstation on ubuntu 20.04.3 LTS (latest) - 1 node
k3s - cloudflare
kubectl namespace gitpod
main.2090
#6491

### Steps to reproduce

I installed gitpod using installer. Other than that, I didn't do anything

[2021-12-30 18:13] sedattanir commented on #7386
have you tried? https://8000-{WORKSPACE URL}

[2021-12-30 18:14] shahery commented on #7386
Not yet but I will try.

On Thu, 30 Dec 2021 at 7:13 pm, Sedat ***@***.***> wrote:

[2021-12-30 19:37] hm2075 opened #7397 "Omnisharp extension loading failed"
### Bug description

On restart of a workspace

![image](https://user-images.githubusercontent.com/53794682/147782893-a54aa09b-cffa-403f-87af-a6f68061a4d7.png)

refreshing the browser will usually cause the extension to install just fine,   or have to manually install it again from extensions

bug wasnt present in 0.10,    currently using main.2090 self hosted

### Steps to reproduce

dotnet core

[2021-12-30 20:20] hm2075 opened #7398 "Workspace timeout"
### Bug description

main.2090

if workspace times out page gets stuck on

![image](https://user-images.githubusercontent.com/53794682/147785543-2c800c77-542c-4239-8206-58c905d00450.png)

refreshing browser restarts the workspace

### Steps to reproduce

install main.2090

open workspace,  wait for timeout

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example re

[2021-12-30 21:05] jldec commented on #5941
We are investigating possible approaches to this issue. I have renamed it to clarify the desired outcome.

[2021-12-30 21:21] jldec commented on #7149
@ajhalili2006 could you validate you're still seeing over-aggressive caching of tagged images?
Please provide an example with a .gitpod.yml and your image: specification.
thanks

[2021-12-30 21:38] jldec commented on #6815
Changed issue name to reflect desired outcome without being too prescriptive.

[2021-12-30 21:39] jldec commented on #7368
Duplicate of #6569

[2021-12-30 21:39] #7368 closed

[2021-12-30 23:08] jldec opened #7399 "Prevent users who register a self-hosted GitLab from disconnecting all other git integrations"
Users who register an integration with a self-hosted Gitlab instance can get into trouble by disconnecting all other git integrations.

E.g. A user who did this was cut off from their team plan subscription. (see [support ticket](https://app.frontapp.com/open/cnv_ildx6oa) internal). When the user tried to login again, a new account was created (without any indication) and the original account beca

[2021-12-30 23:22] jldec opened #7400 "Limit how many concurrent prebuilds can be triggered for a repo"
Users should not be able to trigger unlimited concurrent prebuilds for a repo.
Reasons include abuse prevention and unbillable resource consumption.

A concurrency limit would do the trick, but we need to be careful to ensure that the most recent commit is always prebuilt.

See further references in #7368

[2021-12-31 03:14] #5801 closed

[2021-12-31 03:31] iQQBot opened #7402 "Job `migrations` ttlSecondsAfterFinished does not work in preview environment"
### Bug description

When we want to migrations db, got some error

[code]

the feature gate `TTLAfterFinished` became beta in kubernetes v1.21, current preview environment is v1.20

### Steps to reproduce

if `migrations` image is changed, installer will failed

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

[2021-12-31 08:27] danutzcodrescu opened #7404 "Local Vscode Gitpod extension Apple M1 not active"
### Bug description

local vscode gitpod extension is not working on Apple M1 Macbook Pro 2020 (Big Sur). I tried multiple repos, but once the protocol links are triggered nothing happens (no ssh notification is happening, nor anything else). If I check the runtime status of the extension it says: `not yet active`.

The extension works fine for Vscode running on Windows PC or Macbook Pro Intel 16i

[2021-12-31 08:49] MichelleCoffey opened #7405 "Port8000 stuck on detecting"
### Bug description

Port 8000 is stuck on detecting

### Steps to reproduce

type python3 manage.py  runserver to open port

### Workspace affected

https://magenta-finch-44p7dax0.ws-us25.gitpod.io/

### Expected behavior

Port message should open

### Example repository

_No response_

### Anything else?

_No response_

[2021-12-31 10:17] ChamMach commented on #7375
Wrong place for this issue I think. So I created one here : https://github.com/gitpod-io/workspace-images/issues/608

[2021-12-31 10:17] #7375 closed

[2021-12-31 10:26] axonasif commented on #7404
@danutzcodrescu could you try running gitpod-companion-app separately?

Run these commands on your terminal:
[code]

[2021-12-31 10:33] danutzcodrescu commented on #7404
@axonasif thanks for coming back.

I managed to make it work by completely removing vscode, reinstalled it, open a workspace from gitpod on stock vscode and then apply settings sync. It seems that if I run settings sync before installing gitpod extension, something gets messed up and the extension no longer activates (maybe it conflicts with another extension).

In any case it works! Thanks for lo

[2021-12-31 10:34] #7404 closed

[2021-12-31 14:11] #7402 closed

[2021-12-31 15:51] ramank775 commented on #7122
@axonasif that helps.
Closing the issue

[2021-12-31 15:51] #7122 closed

[2021-12-31 19:39] jeanp413 opened #7408 "Epic: unify ports view between web and desktop"
Build a prototype of Ports view using webview in VS Code Browser which resembles Ports view from Remote SSH but provides our features.
As a result list difference between features.

[2021-12-31 19:46] jeanp413 opened #7409 "Clean up initial extension installation on vscode web"
Now that theia integration is being removed https://github.com/gitpod-io/gitpod/pull/7395, we should do some cleanup when we do the initial extension installation in vscode web.
Right now, we have some custom logic inside gp-code branch to do the extension installation, we need to simplify and move this logic to  the supervisor and install the needed extension using the server argument `--install-

[2022-01-01 13:04] jldec commented on #7009
thanks! 🙏 @gtsiolis

- It would indeed be nice to handle the missing webhook/app config with an indicator as suggested as in #7010
- But, I don't think we should prevent manually triggered prebuilds in this case - Allowing users to work without the automation seems reasonable to me.
- I could not reproduce the GitLab error which you mentioned probably because I'm not following the same steps that

[2022-01-01 13:04] #7009 closed

[2022-01-01 13:13] jldec commented on #7010
Renaming this issue to detect and show some feedback.

Note: Hovers/tooltips can be more difficult to use on touch devices - do you have a suggestion for working around that?

[2022-01-01 13:40] jldec commented on #7011
Thanks @gtsiolis - Given how many other prebuilds issues there are, I'd prefer to track this case in just one issue for now.
Closing in favor of #7010.

[2022-01-01 13:40] #7011 closed

[2022-01-01 14:00] jldec commented on #7010
@gtsiolis - as mentioned in #7011 - let's track this particular scenario in this one issue for now and try to deliver just the MVC to detect and indicate **somewhere** first.

It may make more sense to followup with something on the project settings page.

[2022-01-01 14:12] jldec commented on #7220
Thanks @gtsiolis
Could you please provide more details
(a) how to reproduce this issue (Is this specific to GitLab?)
(b) what is the unwanted outcome experienced by other Gitpod users?

[2022-01-01 14:48] jeanp413 opened #7410 "Investigate how to switch between vscode web stable and insiders from within vscode web itself"
It would be nice and better user experience to be able to switch between vscode web stable and insiders from within vscode web itself (codespaces already do this) rather than going to the dashboard preferences. Furthermore, with the current approach, it's not possible to switch the current workspace vscode version, for that you would have to update your dashboard preferences and then restart your

[2022-01-01 19:14] tobiasdiez opened #7413 "Manually prebuild errors with 502 Server Error"
### Bug description

Triggering a manual prebuild (using the `#prebuild` context) after some time prints the following error message. After this, no further updates are displayed (so it's unclear if there is still something happening) and after the 1h timeout one is redirected to the workspace IDE, where it appears that no prebuild has been taken place.

[code]

### Steps to reproduce

Go to https

[2022-01-01 20:42] kylos101 opened #7415 "Use default files from .github repo, override settings in some files where necessary"
## Is your feature request related to a problem? Please describe

[Org level issue templates have been configured](https://github.com/gitpod-io/.github), which was observed in #7241, but are not necessarily viable for all repositories. As a result, some settings in `.github` can become out of sync in a variety of repositories. For example (1) [some fields are custom, and should not be visible in a

[2022-01-01 20:49] jldec commented on #6156
The /new project page now explains projects better and links to the docs which state that:

---

![Screenshot 2022-01-01 at 20 46 34](https://user-images.githubusercontent.com/849592/147859902-b6f67887-fcc5-4534-88b5-6d2a2000b8f7.png)

[2022-01-01 20:49] #6156 closed

[2022-01-01 20:55] jldec commented on #5114
No longer needed - thanks for tracking and for the PR @gtsiolis

[2022-01-01 20:55] #5114 closed

[2022-01-01 21:03] jldec commented on #5333
Thanks @gtsiolis and @trumbitta - I think what we have now works reasonably well (I like the change link too).
closing

---

![Screenshot 2022-01-01 at 20 46 34](https://user-images.githubusercontent.com/849592/147860126-190c2cdc-7f86-4f74-a1f3-7ed8a33ebce6.png)

[2022-01-01 21:03] #5333 closed

[2022-01-01 21:09] jldec commented on #6969
Closing this since /new project users are far less exposed to team creation now.

I would suggest adding further comments or tracking the "Team Creation" UX in #4951

[2022-01-01 21:09] #6969 closed

[2022-01-01 21:14] jldec commented on #4951
FYI - current wording below

@gtsiolis I don't find the design jarring or problematic. Would suggest closing this issue.
---

![Screenshot 2022-01-01 at 21 10 34](https://user-images.githubusercontent.com/849592/147860259-e85ff6d0-0c1e-4015-98a8-30f5d53f7b07.png)

[2022-01-01 21:55] #5832 closed

[2022-01-01 21:55] #5833 closed

[2022-01-01 21:55] #5810 closed

[2022-01-01 21:55] #5808 closed

[2022-01-02 07:55] jldec commented on #5984
Root cause gitpod-io/workspace-images#599

[2022-01-02 14:05] jldec commented on #7399
### Proposal
Don't count self-hosted integrations toward logic of whether of not to show the "Disconnect" action.
The 2nd screenshot below should _not_ show a Disconnect action, just like the first 1st screenshot below.

---

![Screenshot 2022-01-02 at 13 29 45](https://user-images.githubusercontent.com/849592/147878250-44950074-9e4a-4a7f-993c-a578ac72e411.png)

---
![Screenshot 2022-01-02 at 12 3

[2022-01-02 14:06] jldec commented on #7399
/schedule

[2022-01-02 14:06] roboquat commented on #7399
@jldec: Issue scheduled in the meta team (WIP: 0)

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7399#issuecomment-1003721609):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [ku

[2022-01-02 14:15] jldec commented on #7325
/schedule

[2022-01-02 14:16] jldec commented on #7366
/schedule

[2022-01-02 14:33] jldec opened #7416 "Adding a project for a self-hosted GitLab repository does not add a webhook for prebuilds"
We added support for projects which point to repos in self-hosted GitLab instances in #7125

This is a followup issue to install a webhook on those repos, like we do for repos on gitlab.com

See #7367 for the equivalent issue for Bitbucket.

[2022-01-02 18:03] jldec commented on #5198
As mentioned in https://github.com/gitpod-io/gitpod/pull/7337#issuecomment-1002740006, I suggest shipping the first [MVC PR](https://github.com/gitpod-io/gitpod/pull/7337) as a BETA feature with just a text input UI, and later add a repo selection UI via followup issue #7385.

[2022-01-03 08:46] AlCalzone commented on #4588
bad bot

[2022-01-03 09:23] akosyakov commented on #7408
We should be careful here. There are features where we should align, and there are important integration points like ports. VS Code ports view is very limited to want we have now and switching to it will block us innovate in this point. I think it makes sense for VS Code desktop since we rely there on Remote SSH for port forwarding. But in case of web it does not make sense. We should rather study

[2022-01-03 09:25] akosyakov commented on #7409
Supervisor should be kept agnostic to concrete IDEs. We have though startup.sh and we could move this logic there.

[2022-01-03 09:27] akosyakov commented on #7410
I think it is interesting engineering challenge, but I'm not sure that it is a really big issue for end users. Most of them don't care about insiders.

[2022-01-03 10:36] akosyakov opened #7419 "VS Code Desktop cannot connect on staging"
### Bug description

On staging try to connect using VS Code Desktop. There was not any changes to VS Code Desktop, but to the local companion. So most likely a regression there.

### Steps to reproduce

See above.

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-01-03 10:56] #7325 closed

[2022-01-03 10:56] #7366 closed

[2022-01-03 11:09] gtsiolis commented on #7366
/assign @trumbitta

[2022-01-03 11:09] roboquat commented on #7366
@gtsiolis: GitHub didn't allow me to assign the following users: trumbitta.

Note that only [gitpod-io members](https://github.com/orgs/gitpod-io/people), repo collaborators and people who have commented on this issue/PR can be assigned. Additionally, issues/PRs can only have 10 assignees at the same time.
For more information please see [the contributor guide](https://git.k8s.io/community/contrib

[2022-01-03 11:12] schickling commented on #5198
Just wanted drop a (vague) idea here (and maybe it's already possible?):

It would be great if I could persist my VSC settings in a config file/folder which is part of my dotfiles. In my workflow this would replace the MS/GitHub-based settings sync with a more git-centric workflow that could also power GitPod's VSC settings at the same time (related to https://github.com/gitpod-io/gitpod/issues/37

[2022-01-03 11:21] trumbitta commented on #7366
![image](https://user-images.githubusercontent.com/462705/147924972-10dcd880-3f42-40e8-a51c-09d46d9191d5.jpeg)

I mean, @gtsiolis, let's fix that 🤷😉😉😉😇

[2022-01-03 11:50] #7419 closed

[2022-01-03 11:54] mads-hartmann commented on #6664
@meysholdt Is this something we want to write a brief RFC for?

[2022-01-03 12:21] #5856 closed

[2022-01-03 12:21] #5761 closed

[2022-01-03 12:21] #5636 closed

[2022-01-03 12:21] #5681 closed

[2022-01-03 12:23] gtsiolis commented on #5861
Re-opening as this could still be relevant. Cc @jldec

[2022-01-03 12:37] meysholdt commented on #6664
yes, an RFC is a good idea because it could help to brainstorm/discuss what scanning tech we want to use.

[2022-01-03 14:29] jankeromnes commented on #5525
Fixed in https://github.com/gitpod-io/gitpod/commit/3873545a38a5606bcd069b3da271415a8b345742

[2022-01-03 14:29] #5525 closed

[2022-01-03 14:45] jeanp413 commented on #7408
Could you point out what features would be missing if we use the tunnel view?

[2022-01-03 15:03] axonasif commented on #7016
@akosyakov I think it would be nice if the `tasks` subcommand had a restart/re-run task feature. Someone had asked about this in [Discord](https://discord.com/channels/816244985187008514/816246578594840586/902767340222025738). And I personally would find this feature useful too.

[2022-01-03 16:51] akosyakov commented on #7016
@axonasif yeah, i remember had same urge sometimes. How would it work? Rerun in the same terminal? Start a new terminal?

[2022-01-03 16:54] kylos101 opened #7423 "[observability] Warning when a workspace backup fails"
## Is your feature request related to a problem? Please describe

A workspace backup failure can result in users losing hours of work. Days if the workspace gets stuck in Stopping.
Also, manual intervention is time sensitive, as data is stored on nodes, before we persist to Google Storage.

## Describe the behaviour you'd like

An warning is visible in #a_gitpod-io_warning.

## Describe alternativ

[2022-01-03 16:54] kylos101 commented on #7423
/team workspace

[2022-01-03 17:17] axonasif commented on #7016
Maybe a flag to specify the behavior? Run it on the caller terminal by default. Similar to `gp preview` and `gp preview --external`

[2022-01-03 17:40] jgallucci32 commented on #4053
@ghuntley Would you mind updating the https://www.gitpod.io/docs/self-hosted/latest/requirements page to at least mention Gitpod now works on RKE with the recommended workaround posted in the referenced Github issue comments?

We've had Gitpod 0.10.0 running now for 3+ months in production on RKE 1.21.x without issue.

[2022-01-03 18:09] gtsiolis opened #7424 "Enable prebuilds for the default branch when adding a project for a GitLab or Bitbucket repository"
### Problem to solve

When adding a GitLab or Bitbucket (https://github.com/gitpod-io/gitpod/pull/7422) project, a webhook is being added. Prebuilds are by default enabled for the default branch for GitHub repositories. However, prebuilds are not enabled for the default branch until you manually trigger a prebuild using the prefixed URL. See relevant docs[[1](https://www.gitpod.io/docs/prebuilds#g

[2022-01-03 18:18] gtsiolis opened #7425 "Enable prebuilds for all branches when adding a project"
### Problem to solve

For GitHub repositories, when installing the GitHub App, prebuilds are enabled by default for the default branch. For enabling prebuilds for all branches, a user will need to defien this in `.gitpod.yml`, see [relevant docs](https://www.gitpod.io/docs/references/gitpod-yml#prebuildsbranches).

For GitLab and Bitbucket repositories, when adding aproject a webhook is installed.

[2022-01-03 18:21] gtsiolis opened #7426 "Introduce project settings for enabling prebuilds for branches, pull requests, etc."
### Problem to solve

Following the problem statement in https://github.com/gitpod-io/gitpod/issues/7425, :a: prebuilds are only enable for Github repositories for the default branch and :b:  prebuilds are not enabled when adding a repository as project.

### Proposal

Introduce a preference in project settings that allows enabling or disabling prebuilds for a) branches, b) pull requests, c)  pull

[2022-01-03 20:15] jldec commented on #7416
The fix for this issue should result in the equivalent of enabling prebuilds with a prefixed /#prebuild URL.

[2022-01-03 20:25] jldec commented on #7367
The fix for this issue should result in the equivalent of enabling prebuilds with a prefixed /#prebuild URL.

Users should not have to use the manually prefixed URL for prebuilds. This is important because (from https://github.com/gitpod-io/gitpod/issues/6688#issuecomment-972766653)

cc: @gtsiolis @AlexTugarev

[2022-01-03 20:48] jldec commented on #7426
thank you @gtsiolis - i have added this to our prebuilds investigations / backlog.

[2022-01-03 21:23] jeanp413 commented on #7376
hey @csweichel, need you input here, the proper way to fix this is to separate the front part of vscode from the server part (this is also done by codespaces), right now we have both front and server in the same folder `/ide` in the workspace we should decouple them, ideally only the server part should be in the `/ide` folder inside the workspace, while the front end part could live in the blobser

[2022-01-03 21:34] a16bitsysop commented on #3356
I have created a custom gitpod docker image now for alpine that starts in the alpine chroot, with the alpine abuild tools installed:
https://gitlab.com/a16bitsysop/alpine_gitpod

[2022-01-04 00:30] kylos101 opened #7431 "[dashboard] Prebuilds screen shows the same prebuild instance more than once with difference status"
### Bug description

I was expecting to see a single row for commit e17c7100 in the attached screenshot but there are two. For example, I'd expect to see one row with a status of Pending at first, and then it would change to Ready (or Canceled, depending on what I do).

![image](https://user-images.githubusercontent.com/1272076/147994306-df05af71-497d-4248-b37a-7979057c53c7.png)

### Steps to repr

[2022-01-04 00:31] kylos101 commented on #7431
/team meta

[2022-01-04 01:41] #6469 closed

[2022-01-04 07:49] Foxhoundn commented on #7370
Nope

![CleanShot 2022-01-04 at 08 48 35](https://user-images.githubusercontent.com/8861481/148026284-28e8cf8c-94e7-419d-b8be-cb2342f46ab9.png)

[2022-01-04 08:29] MrSimonEmms commented on #7396
@sedattanir does your installation allow you to run a workspace? In my experience, this is noise in the logs but doesn't actually stop it from working

[2022-01-04 08:52] #7329 closed

[2022-01-04 08:58] mads-hartmann commented on #6664
I have created a separate issue to write an RFC and scheduled it for the Platform team here https://github.com/gitpod-io/ops/issues/589. I'm closing this issue.

[2022-01-04 08:58] #6664 closed

[2022-01-04 09:14] csweichel commented on #7376
Moving them to separate folders is easier and less complex to implement. The relevant paths are already configurable:
- supervisor: [supervisor-ide-config.json](https://github.com/gitpod-io/gitpod/blob/7fc7fbd82850ba571ee3a2fe06c9c96af6d120f6/components/ide/code/supervisor-ide-config.json#L2) respectively [config.go](https://github.com/gitpod-io/gitpod/blob/d70eb530702440ac8c0eb91dd30270eebe7e9c1d

[2022-01-04 09:24] AlexTugarev commented on #7367
@jldec and @gtsiolis, just to clarify what enablement of prebulids means as it is implemented currently: two things needs to be true in order for a prebuild to start on a new commit. first the app/webhook needs to be installed to get the push event into Gitpod, and then the event handler needs to find/evaluate a Gitpod config for this repo to [decide](https://github.com/gitpod-io/gitpod/blob/24f7b

[2022-01-04 09:32] MrSimonEmms opened #7432 "[Installer]: add flag for air-gapped installation"
Air-gapped installations are a crucial part of the self-hosted strategy. We currently support repo mirroring for the pull images, but it is worthwhile adding an explicit `airgapped: true` flag to the Installer config. This will be to cater for configuration parameters which make calls to the internet.

Examples such as:
 - [Definitely GP](https://github.com/gitpod-io/gitpod/blob/b64cc5a2a75a5ad740

[2022-01-04 09:33] MrSimonEmms commented on #7432
/cc @corneliusludmann @metcalfc @csweichel

[2022-01-04 09:44] corneliusludmann opened #7433 "[self-hosted] werft job to install a nightly Gitpod installation"
Create a job that installs a Gitpod self-hosted installation as a nightly job and run the existing integration tests. Send a notification to Slack if the integration tests or the installation fails.

## See also
- https://github.com/gitpod-io/gitpod/issues/7316
- https://github.com/gitpod-io/gitpod-eks-guide

[2022-01-04 10:36] geropl commented on #6770
Sorry for lagging details: This is about adding a mechanism that ensures we don't leak workspaces dangling in any state other than `stopped` once a workspace cluster is de-registered.

We could discuss whether this should be:
 a) timeout-based, and workspace may re-appear if we re-register a workspace quickly enough. This would make it a bit more fault-tolerant and safe. This is samewhat tricky, a

[2022-01-04 10:38] geropl commented on #6770
Assigned this to epic "Simplified Multi-Meta"

[2022-01-04 10:40] pawlean commented on #7078
Thank you @tiamot @quental96 for sharing this. I'll make sure this is reflected in the docs as well. Appreciate the effort, I'll close this issue for now. But let me know if you are having any more issues 🙏🏼

[2022-01-04 10:44] geropl opened #7435 "Epic: Simplified Multi-Meta"
Summary:
 This is the epic for implementing "Simplified Multi-Meta" as specified in [this RFC](https://www.notion.so/gitpod/Simplified-Multi-Meta-9942f49ccfbe47b0a7e352970df13162).

Context:
 - basically summed up in [the RFC](https://www.notion.so/gitpod/Simplified-Multi-Meta-9942f49ccfbe47b0a7e352970df13162)

Value:
 - enables more Gitpod clusters (e.g., asia) without adding yet another DB
 - en

[2022-01-04 10:45] pawlean commented on #7405
I've been unable to replicate this, is this still an issue?

[2022-01-04 11:24] MichelleCoffey commented on #7405
Yes, I’ve fixed it. Thank you

Sent from my iPhone

[2022-01-04 11:44] pawlean commented on #7405
Awesome, thanks @MichelleCoffey. Can you close this issue?

[2022-01-04 11:53] AlexTugarev commented on #7424
Quickly checked with the behavior of https://github.com/gitpod-io/gitpod/pull/7422, and I need to disagree on that. There seems to be no limitation on branches once the webhook events are registered and a config can be fetched from the repository, it starts to prebuild, see ...

<img width="1505" alt="Screen Shot 2022-01-04 at 12 48 50" src="https://user-images.githubusercontent.com/914497/1480548

[2022-01-04 12:26] jldec commented on #7367
That matches my expectations @AlexTugarev
_I was just a bit confused by comments in the PR and in #7424. - sorry about that_

[2022-01-04 12:26] geropl opened #7436 "Remove PrebuildStatusMaintainer (last non-local writer to messagebus besides ws-manager-bridge)"
`PrebuildStatusMaintainer` is the last writer to non-local messagebus (besides ws-manager-bridge). In order to disable cross-cluster messages, we should disable it.

Note that this comes with a minor feature removal: We no longer push prebuild-statuus to GitHub commits.

Draft PR: https://github.com/gitpod-io/gitpod/pull/7284

[2022-01-04 13:21] geropl commented on #7054
@corneliusludmann We don't have any (relevant) tracing data for `tomato-buzzard-nqdmbjxe` :cry:

Will try to reproduce again...

[2022-01-04 13:32] abkunal commented on #7025
We are looking to adopt Gitpod with Pycharm for onboarding + development. The biggest friction seems to be that the IDE configuration doesn't persist on workspace restart.

**Features surviving workspace restart**
- IDE theme
- Debug and Test configuration

**Features not surviving workspace restart**
- Python interpreter configuration with Docker
- Modules indexing

Every time we restart a worksp

[2022-01-04 13:48] nisarhassan12 commented on #6799
@gtsiolis @jldec Can you guys look into this and have this scheduled to be implemented ? Thanks

[2022-01-04 13:53] geropl commented on #7054
I cannot reproduce this. :confused:

During the two weeks we see one kind of `openPort` related error in the traces: `operation not permitted: missing update permission on workspaceInstance` ([example trace](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/eS25NPxhZ6c/trace/Fgz3m98WM6K?span=7cf68b121d6afffd))

As this is dragging on for rather long, resulted in a couple of fixes/im

[2022-01-04 13:56] geropl commented on #7082
The change did not fix it. Will try sth else.

[2022-01-04 13:57] akosyakov commented on #7054
I think @jeanp413 mentioned it yesterday.

[2022-01-04 14:13] ajhalili2006 opened #7439 "local-app: Make the version string more SemVer compliant"
## Is your feature request related to a problem? Please describe

I want to maintain my own builds of the Local Companion app to more arches for Linux users (hint: `linux/386` and `linux/arm`), but the issue is the official builds aren't SemVer compliant, though I need to do some guesswork on getting the version string from its `--version` command.

[![image](https://user-images.githubusercontent.

[2022-01-04 14:18] jankeromnes opened #7440 "OCI runtime create failed - open /proc/sys/kernel/domainname: read-only file system: unknown"
### Bug description

A friend of mine is trying to use Gitpod for a customer project using `openldap` and `docker-compose`. The Docker image being used is `osixia/openldap:stable`.

They're currently hitting this error when running `docker-compose up`:

[code]

Is this a potential bug in Gitpod's Docker-in-Docker setup?

### Steps to reproduce

1. Have a `docker-compose.yml` similar to this one:

[2022-01-04 14:35] shaal opened #7441 "Interact with VSCode instantly, without waiting for full workspace to load"
## Is your feature request related to a problem? Please describe

It can take over a minute for a workspace with a large custom image or heavy prebuild artifacts to load. During that time, all you can do is watch a Gitpod logo jump.

## Describe the behaviour you'd like

Gitpod should display VSCode right away, without waiting for the workspace to fully load, allowing the user to interact with VSC

[2022-01-04 14:50] corneliusludmann commented on #7054
@geropl For me, it still happens from time to time that ports get stuck in detecting. Right no it's workspace `copper-fox-anmqze3a` and port 8080 that is affected.

[2022-01-04 15:01] jeanp413 commented on #7054
yeah it happened to me last week (or the week before that), even restarting the workspace (force stop and start the workspace again) didn't fixed it, eventually it's fixes by itself after some time of the workspace being stopped

[2022-01-04 15:23] geropl commented on #7054
Sorry, I don't see how I could act upon these "anecdotal" hints. :confused: I at least need a workspaceId/instanceId and a time range of ~1h to find sth.

Besides other (maybe related?) errors regarding rate-limiter and "missing update permission" I don't see anything regarding this in either traces or logging ([logs](https://cloudlogging.app.goo.gl/8zQfJ57WCybvf6XS8)). :shrug:

Again, I don't wan

[2022-01-04 15:42] #7367 closed

[2022-01-04 16:23] jeanp413 opened #7443 "Terminal text has wrong layout on startup"
### Bug description

![image](https://user-images.githubusercontent.com/25115070/148090455-74985e84-c189-4872-b88c-e2cdf3b2cb10.png)

### Steps to reproduce

1. Open a workspace
2. Open terminal panel
3. :bug: Observe terminal text has an odd layout

[2022-01-04 17:14] shaal commented on #6410
TIL - private repos cannot utilize `from-referrer`.

[2022-01-04 20:27] jgallucci32 opened #7446 "[installer] Use regionless GCR endpoints for better distribution of container images"
## Is your feature request related to a problem? Please describe
Previously the self-hosted container images were on `gcr.io/self-hosted` which is the regionless endpoint for GCR. They were moved to using the registry `eu.gcr.io/gitpod-core-dev` project, but that GCR project does not have the regionless endpoint enabled.

## Describe the behaviour you'd like
Enable the use of `gcr.io/gitpod-core-d

[2022-01-04 20:28] atomicpirate opened #7447 "Support Gitpods for multiple repos"
## Is your feature request related to a problem? Please describe
There seems to be a strong link between a Gitpod environment and a single Git repository. But say I have a situation where I have a library in repo A, and an application that uses that library in repo B. If I'm working on a change to the library and application in tandem, I may reasonably want to have a environment that allows me to

[2022-01-04 20:40] svenefftinge commented on #7447
Thanks for the detailed write-up! 🧡
I have a few questions that I think are hard but important to answer:
How would you as a user tell Gitpod which of the 28 repos should be cloned and which should come as a library?
How would Gitpod know how to integrate a project based on source vs. as a packaged library? (This usually requires programming language specific configuration)

### Another not mentio

[2022-01-04 20:50] svenefftinge commented on #7236
Sorry for the late feedback. I probably just didn't understand your request, but you should automatically get a URL per port, so when you start two services (no matter you start them through docker or directly) there will be two URLs that can be accessed. See also [the docs](https://www.gitpod.io/docs/config-ports).

[2022-01-04 20:52] svenefftinge commented on #7413
You can retrigger prebuilds from within the dashboard now. You'd need to create a project fro your repo and then should see the prebuilds. We are probably going to deprecate the `prebuild#` context URL.

[2022-01-04 20:53] matthewhall-ca commented on #7236
Correct but it would be nice if we could give it a "pretty" name instead. Its a bit confusing to keep track of all the different ports and how they map

[2022-01-04 20:55] svenefftinge commented on #6569
Can you elaborate on what challenges you expect here? I'm currently believing that just building the latest change per branch would do 😇 .

[2022-01-04 21:04] lukaszkukla commented on #7255
Hi Guys,
I am having this issue over 2 days now: [workspacy](https://gitpod.io/start/#aqua-boa-vowmhc0h)

[2022-01-04 21:09] dreamalligator opened #7448 "remove unnecessary gitpod thing"
### Bug description

Hi! I'd like to remove the weird Gitpod thing that appeared in our CI. Are there any docs for how to do this? Thanks!

### Steps to reproduce

Open a Pull Request. Scroll down to CI checks section.

![gitpod](https://user-images.githubusercontent.com/2218331/148124215-14558362-730d-443f-8ed5-8d50fac9f343.png)

### Workspace affected

all workspaces

### Expected behavior

We d

[2022-01-04 21:17] MrSimonEmms commented on #7446
If accepted, the Installer will need to be reconfigured to accept any future official Gitpod pull registries, eg as in [constants.go](https://github.com/gitpod-io/gitpod/blob/263119581e4f508bf87b1cea4adcc415df268a87/installer/pkg/common/constants.go#L20). The registry `eu.gcr.io/gitpod-core-dev/build` is considered the official Gitpod pull registry

[2022-01-04 21:19] tobiasdiez commented on #7413
Thanks! I'd later activated the github app and used the dashboard to trigger and monitor builds. The same problem occurred (i.e. the logs stopped working and after 1h the prebuild timed out). See for example https://gitpod.io/t/sagemath/sagetrac-mirror/0724903d-6879-422b-8d65-89659d9de03c After more changes to the gitpod.yml file the error disappeared, but I don't know what changes helped.

[2022-01-04 21:22] #7448 closed

[2022-01-05 00:19] jgallucci32 commented on #7446
If I remember correctly, self-hosted 0.4.0 started out on eu.gcr.io then switched in 0.5.0 to use the global endpoint. I guess my suggestion is you might consider doing this again and making `grc.io` the official Gitpod pull registry.

[2022-01-05 01:46] xootkama opened #7450 "Commits are Undetected"
### Bug description

When i want to merge or cherry pick something it shows accept incoming change ..etc in the file
but sometimes it does not show like that and mix with the code

### Steps to reproduce

?

### Workspace affected

No

### Expected behavior

Options as before

### Example repository

Maximum every repository

### Anything else?

_No response_

[2022-01-05 07:44] akosyakov opened #7452 "SSH over HTTPS to gitpod workspaces"
https://github.com/gitpod-io/gitpod/pull/7412 enables us to SSH directly into Gitpod workspace using standard SSH port. It is a standard practice to block this port in firewalls. In order to enable users to work it around we should allow to SSH over HTTPS as well.

@iQQBot mentioned that it is hard since ws-proxy already handles https port, but @csweichel i think knows a trick how to multiplex it?

[2022-01-05 07:59] #6929 closed

[2022-01-05 09:55] #4634 closed

[2022-01-05 10:07] jldec opened #7453 "Error running prebuilds on GitLab self-hosted v12.x"
The following error shows in the console when triggering a prebuild on a project for a GitLab self-hosted repository, using the "Run Prebuild" button in the project Prebuilds page.

[code]

The same error is visible in the Configuration page.

[2022-01-05 10:08] jldec commented on #7453
![Screenshot 2022-01-05 at 10 00 47](https://user-images.githubusercontent.com/849592/148199739-0bae6751-5257-4d1a-8397-57fd7d51a453.png)

![Screenshot 2022-01-05 at 10 02 47](https://user-images.githubusercontent.com/849592/148199705-c09a1b80-deb3-4d60-8a30-d4be34250ba5.png)

[2022-01-05 10:09] pawlean opened #7454 "Support codeberg and/or gitea"
## Is your feature request related to a problem? Please describe
This was requested by a user who isn't on GitHub, through a support email.

## Describe the behaviour you'd like
Support codeberg and/or gitea

## Describe alternatives you've considered

## Additional context

[2022-01-05 10:09] loujaybee commented on #5198
I've added myself as an assignee here @csweichel to reflect IDE teams support / involvement. However, please remove if confusing / you had another idea of yourself as assignee!

[2022-01-05 10:14] pawlean commented on #7450
Hi @xootkama! Let me try and help you here. Have you got any screenshots that I can look at? I'm finding it difficult to understand what you mean.

[2022-01-05 10:19] jldec commented on #7453
server trace:
[code]

[2022-01-05 10:44] #7454 closed

[2022-01-05 11:11] AlexTugarev commented on #7453
just compared the docs of the old version of self-managed GitLab with the recent one and it's clear that we're expecting a `web_url` property in the `GET branches` response which is missing back in old versions.

cf.
https://docs.gitlab.com/12.10/ee/api/branches.html
https://docs.gitlab.com/ee/api/branches.html

@jldec, given that the v12 releases of GitLab are quite old and the API looks differen

[2022-01-05 11:17] gtsiolis commented on #7453
Agree with @AlexTugarev here. GitLab 12.0 is quite old, released back in June 2019. 💯

[2022-01-05 11:26] axonasif commented on #7450
@xootkama I believe this is specific to the `git` usage you're making. We can try to help you further if you can provide us some reproducible steps from within Gitpod 🙂

[2022-01-05 12:12] sunhaolin opened #7455 "Error: stream unexpectedly closed in meteor project"
### Bug description

i run my project in gitpod, it shows
[code]
in terminal

### Steps to reproduce

project address: https://gitpod.io/#https://github.com/sunhaolin/meteor-myapp
meteor version 2.5.2

### Workspace affected

_No response_

### Expected behavior

not show Error: stream unexpectedly closed

### Example repository

https://gitpod.io#snapshot/8a5f1a5a-e568-4eb7-9a19-11864981d978

###

[2022-01-05 14:01] AlexTugarev commented on #7167
works as advertised!

/lgtm

[2022-01-05 14:02] #7167 closed

[2022-01-05 15:12] ryan-l-robinson opened #7458 "VS Code Not Opening"
### Bug description

When I try to launch desktop VS Code for a workspace, it does not load. I get the prompt in Edge to approve opening VS Code. VS Code launches with whatever the last (local) workspace I had open. There is a notification saying that it is trying to open the workspace, but it will spin on "Connecting to GitPod workspace" for hours until I either cancel or close VS Code.

This use

[2022-01-05 15:15] akosyakov commented on #7458
@jeanp413 could you try to reproduce it? It seems to be related to VS Code Desktop.

[2022-01-05 15:30] sualehasif commented on #6342
Hi Hi I would really love to be on the private beta for CLion.
Email sualeh@anysphere.net

[2022-01-05 15:35] borisyordanov opened #7459 "nvm changes do not persists"
### Bug description

Changing the node version with nvm only works in the current terminal. If another terminal is opened it uses a different node version

### Steps to reproduce

0. Change the `NODE_VERSION` env variable to your desired version
![image](https://user-images.githubusercontent.com/12392666/148244774-72e48fdb-0781-4abf-a4d7-9b4b1746eec4.png)

1. Add this task to `gitpod.yml`
[code]
2

[2022-01-05 15:46] jeanp413 opened #7460 "Changing vscode web editor keyboard layout is broken"
### Bug description

Changing vscode web editor keyboard layout is broken when switching between different layouts

### Steps to reproduce

1. Start a workspace
2. Click on the keyboard layout entry in the status bar
3. Select a different layout
4. Click again in the keyboard layout entry in the status bar
5. Select a different layout
6. :bug: Observe keyboard layout doesn't get updated

[2022-01-05 15:51] juliusv commented on #7460
Btw. my layout was never correct in the first place, it started out as "us" and couldn't be changed even initially - or maybe I changed it accidentally via some keyboard combo.

[2022-01-05 15:57] juliusv commented on #7460
For background, I'm on Ubuntu Linux with the latest Chrome (97.0.4692.71), though now with that latest Chrome it does allow me to change it once, but not after that first change anymore.

[2022-01-05 16:04] csweichel opened #7461 "Cannot connect to a postgres instance through tailscale"
### Bug description

I'm trying to connect to a postgres instance through tailscale. The DNS name resolves just fine, but `psql` cannot connect. Unsetting `PGHOSTADDR` has no effect. When using the IP instead of the name things work well. When I attempt the same connection from a VM outside of Gitpod but through tailscale, everything works as expected.

[2022-01-05 16:12] webermax commented on #5984
(sudo apt-get update && sudo apt-get -y upgrade indeed resolves it)

[2022-01-05 16:18] JanKoehnlein commented on #3109
Memory and CPU consumptiob now seem pretty constant. It's a bit harder to see as we deploy more often now.
We still have to investigate the server event loop lag  #7082

[2022-01-05 16:18] #3109 closed

[2022-01-05 17:26] haefele opened #7462 "vscode launch.json console integratedTerminal doesn't work"
### Bug description

I'm trying to use gitpod for a console application I'm developing.
It's a .NET 6 application, and I try to use the launch.json setting *integratedTerminal* so I can use `Console.ReadLine()` to read console input (see [here](https://github.com/haefele/CTime3/blob/try_gitpod/.vscode/launch.json#L15))

But my console application is not run in the integratedTerminal, but still in

[2022-01-05 18:42] ArthurSens commented on #3109
Could continuous profiling help you folks? I tried to introduce it to monitoring-satellite some months ago but got some [pushback](https://github.com/gitpod-io/gitpod/pull/6131) back then. I'd be happy to continue the work with it can help the meta team

[2022-01-05 21:35] svenefftinge commented on #7459
Gitpod currently only persists the file contents under`/workspace` between workspace sessions (a prebuild is also workspace). `nvm` however persists changes in the user home directory. In order to have them persisted you need to make those changes in the docker file.
You can [find instructions here](https://www.gitpod.io/docs/languages/javascript#node-versions).

[2022-01-05 21:35] #7459 closed

[2022-01-05 21:57] akosyakov commented on #7441
@loujaybee it reminds me that we had idea of progressive loading for long time. Not something to focus right now, but ideas for future.

[2022-01-05 21:58] akosyakov commented on #7016
Oh, I mean I'm not even sure what should be default behaviour :)

[2022-01-05 22:49] ryan-l-robinson commented on #7458
FYI: I just tried it on my personal laptop instead of my work laptop, and my personal GitPod account instead of my work GitPod account. That one worked. So that does support that there's something unique about my work laptop that isn't working with it anymore.

[2022-01-05 23:57] matthewhall-ca commented on #7440
We're seeing this as well with `docker-compose` inside of Gitpod. It's very inconsistent

[2022-01-06 00:52] #5883 closed

[2022-01-06 00:52] #5371 closed

[2022-01-06 00:52] #5890 closed

[2022-01-06 00:52] #5000 closed

[2022-01-06 03:05] jeanp413 commented on #7458
Cannot reproduce on Linux.
@ryan-l-robinson does your personal laptop also has Windows? Could you paste the log from the gitpod extension in the ouput panel from your work machine where it doesn't work.

![image](https://user-images.githubusercontent.com/25115070/148321757-930daab5-71a7-4f75-89f2-f229d961ebca.png)

[2022-01-06 06:14] axonasif commented on #7016
I'm not either, I was trying to compare it with such an existing implementation of another `gp` subcommand 🙂

[2022-01-06 06:22] axonasif commented on #7441
It will be really awesome when this is a reality. Although this might create the demand of more hardware resources.

[2022-01-06 06:31] axonasif commented on #7459
@borisyordanov you can also use `before:` task spec instead of `init:` but the dockerfile approach is recommended as @svenefftinge told.

[2022-01-06 07:34] jankeromnes commented on #7440
@matthewhall-ca Is it the same error for you at the end of the error message? (I.e. `write sysctl key kernel.domainname: open /proc/sys/kernel/domainname: read-only file system: unknown`)

[2022-01-06 07:45] #5198 closed

[2022-01-06 08:09] axonasif commented on #7255
@pawlean can you please forward his case 😁?

[2022-01-06 08:42] jmls opened #7466 "Document dashboard API"
## Is your feature request related to a problem? Please describe
I want to be able to integrate workspaces / prebuilds etc into my own dashboard within an app of mine. I can't find any documentation on the API used by the gitpod dashboard

## Describe the behaviour you'd like
The existing gitpod dashboard is using an undocumented api and it would be great if it were to document it

## Describe alt

[2022-01-06 10:00] geropl opened #7467 "Identify meta-instances by name rather DB locality"

[2022-01-06 10:02] geropl opened #7468 "Remove messagebus shovel"
Remove shovel by having ws-manager-bridge "pull" state from each cluster
Goal: Replace messagebus cross-clusters dependency with the (already existing) workspace-cluster dependency.

[2022-01-06 10:04] mads-hartmann opened #7469 "Provide automatic kubectl access to Harvester from Gitpod workspace"
We want to provide `kubectl` access to Harvester from within gitpod-io/gitpod workspaces. Harvester should be added as as a new context in the existing kuneconfig so that developers can use `kubectx` to manage contexts as they do now.

[2022-01-06 10:09] mads-hartmann opened #7470 "Fix reliability of SSH access to VM from Werft"
SSH access to the Harvester preview VMs have become unstable recently (since changing the VM image). We want to see if we can improve the reliability now without too much effort. A longer term solution is to implement SSH proxying, but we're hoping to do that later.

[2022-01-06 10:18] pawlean commented on #7455
Hey @sunhaolin! To help debug, maybe it's worth checking out if you can reproduce this error locally? It'd help us know if this is a Gitpod error or something in your code.

[2022-01-06 10:38] princerachit commented on #7255
All workspaces mentioned above are stopped now. Closing this issue

[2022-01-06 10:40] #7255 closed

[2022-01-06 11:25] meysholdt opened #7471 "Deploy to VM fails on first attempt du to SSH connection errors"
### Bug description

`Copying k3s kubeconfig` times out.
See https://werft.gitpod-dev.com/job/gitpod-build-as-k3s-gitpod.27

### Steps to reproduce

Create a fork of `main`, run via `werft run github -a with-vm=true`

### Workspace affected

_No response_

### Expected behavior

no error.

### Example repository

gitpod-io/gitpod

### Anything else?

I assume this can not be fixed by increasing th

[2022-01-06 12:51] axonasif commented on #7462
Hi @haefele , is this working fine in your local VSCODE IDE?

[2022-01-06 12:54] tmy2017 commented on #6576
Hi gitpod! first thanks for your great work, gitpod really empowers me to participate/experiment with many open source projects.

I have a question/feedback regarding JetBrains IDE desktop support (not sure is this issue the right place since it is so quiet here, but I also can not post on community.gitpod.io since there is in read-only now).

How to restart the **Jetbrains IDE backend** manually

[2022-01-06 12:54] haefele commented on #7462
Yes it does work in my local VSCode IDE when I open the gitpod workspace there.
Or do you mean, with all local source-code and launch.json?

[2022-01-06 12:58] axonasif commented on #7462
Thanks for the clarification, so indeed this is a bug related with the web version of VSCODE that Gitpod is using.

[2022-01-06 13:04] axonasif commented on #6576
Hi @tmy2017, just FYI: there is a channel specific to the jetbrains IDE at the [discord server](https://discord.gg/PwBUEzC96A)

[2022-01-06 13:05] appcoders commented on #5984
@webermax  This is right. But the image should be updated by gitpod team regularly and not by every user.

[2022-01-06 13:19] mads-hartmann commented on #7470
Duplicate of https://github.com/gitpod-io/gitpod/issues/7471

[2022-01-06 13:19] #7470 closed

[2022-01-06 13:20] konne opened #7473 "ssh between workspaces"
## Describe the behavior you'd like

that I can just call:

ssh WORKSPACEID
or
scp toWORKSPACEID

between workspaces that are running and I'm the owner.

[2022-01-06 13:29] webermax commented on #5984
@appcoders Sure :+1:  (how long?)

In the meantime one can very easy work around this via .gitpod.Dockerfile:

[code]

[2022-01-06 13:38] jankeromnes opened #7475 "Incremental Prebuilds can sometimes execute an outdated config"
### Bug description

When Incremental Prebuilds are enabled for a project, new prebuilds will look for a compatible parent prebuild (by looking up the ancestor commits) in order to use it as a base and make the new prebuild faster.

"Compatible" means, among other things, that both the parent and the new prebuild have the exact same set of `init`, `before` and `prebuild` tasks.

If a compatible pa

[2022-01-06 13:50] MrSimonEmms opened #7476 "[docs]: be explicit about the hosting requirements"
For running Gitpod, it is a requirement that the Kubernetes nodes use Ubuntu as their operating system. This requirement is only obliquely referenced in documentation, whether that's in the guides, the Installer readme or the main Gitpod.io website.

We should have a section describing what your cluster should look like and prominently say that Ubuntu is a requirement. In terms of versions, 18.04

[2022-01-06 14:09] #7469 closed

[2022-01-06 14:12] ryan-l-robinson commented on #7458
The personal laptop is also Windows, but Home instead of Professional and not managed by my organization. There's other variation in what apps are installed, but those are probably the two starting point differences.

Here's the output:

`
[2022-01-06, 9:02:43 a.m.] open workspace window: vscode://gitpod.gitpod-desktop/workspace/library.wlu.ca-drupal-9?%7B%22instanceId%22%3A%22cd0b6590-9b6a-4cb4-9

[2022-01-06 14:17] NormalGaussian opened #7477 "Show pod status in title bar"
## Is your feature request related to a problem? Please describe

I often work with many pods open, my interactions with them have unnecessary breaking context changes (lose train of thought / efficiency) and time wastes.

* Checking to see if a pod is open yet is a breaking context change, and I lose time if I haven't noticed it is open yet (or has errored)
* Jumping into a tab and scrolling to s

[2022-01-06 14:22] #6236 closed

[2022-01-06 14:23] MrSimonEmms commented on #5491
This has been fixed via the Installer.

[2022-01-06 14:23] #5491 closed

[2022-01-06 15:01] borisyordanov opened #7478 "Node Version instructions cause failure"
### Bug description

Following [these instructions](https://www.gitpod.io/docs/languages/javascript#node-versions) causes all workspaces to fail

### Steps to reproduce

Open [this PR/branch](https://github.com/borisyordanov/Gitpod-Node-Example/pull/2) in a gitpod workspace

### Workspace affected

_No response_

### Expected behavior

Official documentation recommends a way to change node version

[2022-01-06 15:06] meysholdt opened #7479 "Sweeper should clean up preview envs on Harvester, too"
## Is your feature request related to a problem? Please describe
today VMs on harvester do not clean up.

## Describe the behaviour you'd like
Sweeper should remove the preview-env-namespace on Harvester, just like it removes namespaces in core-dev today.

## Describe alternatives you've considered
none.

## Additional context
none.

[2022-01-06 15:15] ryan-l-robinson commented on #7458
Quick update: I've spent more time trying to narrow down which variable is making the difference. It seems the most likely culprit is the VPN/work network (I'm currently at home but this problem started when I was in person). In a relatively small sample size, it works if I have not yet connected to the VPN since restarting the computer. It does not work if I am currently connected to the VPN, or

[2022-01-06 15:20] jeanp413 commented on #7458
cc @akosyakov

[2022-01-06 15:26] borisyordanov commented on #7478
I adjusted the recommended syntax slightly to resolve the error, but the node version remains unchanged, despite the Dockerfile being executed correctly.

Link to changes - https://github.com/borisyordanov/Gitpod-Node-Example/pull/1/files

![image](https://user-images.githubusercontent.com/12392666/148406465-b3a69fbe-bd5f-4414-966b-6e4f597b5762.png)

![image](https://user-images.githubusercontent.

[2022-01-06 15:40] axonasif commented on #7249
# Here's an idea:

Users will be able to specify a bunch of sub-repos in their `.gitpod.yml` (similar pattern to specifying `extensions:`). The sub-repos should get cloned under `/workspace` after cloning parent repo. The sub-repos can have their own `.gitpod.yml`. Sub-repos will be listed in the VSCODE sidebar, from which the user can open another VSCODE instance in a new browser-tab (similar to

[2022-01-06 16:29] #5602 closed

[2022-01-06 16:41] JanKoehnlein commented on #7453
From [platform](https://github.com/gitpod-io/ops/issues/605#issuecomment-1006589748
)

[2022-01-06 17:28] filiptronicek opened #7481 "The `gitpod.yml` checker is repeatedly being triggered"
### Bug description

On PRs such as https://github.com/gitpod-io/gitpod/pull/7362, the https://github.com/gitpod-io/gitpod/blob/main/.github/workflows/check-gitpodyaml.yml workflow is being triggered on every PR update, making it less helpful and a lot more annyoying. It really makes the PRs affected a mess.

### Steps to reproduce

1. Make a PR here
2. Change the `gitpod.yml` file
3. Somehow upda

[2022-01-06 17:30] stockholmux opened #7482 "Unexpected result/error message on forked project from private repo in different org"
### Bug description

I forked a private repo from an organization in Github. This organization has *not* granted GitPod permission for private repos. I have granted permission for GitPod to see private repos in my personal account.

When I try to get use gitpod on this private fork, I get the message `Repository not found.` / `The repository 'stockholmux/<repo name>' is not found in your account.`

[2022-01-06 17:52] kylos101 opened #7485 "[observability] alerts for when ws-daemon garbage collection is excessive"
## Is your feature request related to a problem? Please describe

When garbage collection is excessive, it can cause workspaces to unexpectedly stop and backups to not work - resulting in data loss. This impacts customers because (1) they were not expecting a stop and (2) they lose data (which is their time and effort).

## Describe the behaviour you'd like

1. Send a warning alert if the duration

[2022-01-06 17:58] kylos101 commented on #7485
@aledbf @csweichel I listed a couple alternatives, not sure if there's anything else you'd consider?

[2022-01-06 18:05] endocrimes commented on #3746
A way to provide external gitpod configuration and dockerfiles would be great - especially when working on larger projects where it isn't always appropriate to commit external tool configuration into the repository.

An example there would be for working on Kubernetes - I have a fork that I work in (and just set up a GitPod workspace for), and can't commit the configuration to (if I want to mainta

[2022-01-06 18:22] aledbf commented on #7485
@kylos101 the proposed alerts make sense. That said :P, not sure what actions we could take besides running a profiler (that would not avoid an incident).

[2022-01-06 18:36] shaal commented on #6632
See https://github.com/gitpod-io/gitpod/issues/6410

[2022-01-06 18:43] sualehasif opened #7486 "VScode native liveshare issues"
### Bug description

Here is a bug report posted at the live share:
https://github.com/MicrosoftDocs/live-share/issues/4558

### Steps to reproduce

When I try to launch a session I get the error described above.

### Workspace affected

every workspace

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-01-06 18:53] #7078 closed

[2022-01-06 18:56] kylos101 opened #7487 "Epic: Workspaces with higher CPU capacity for Pro+ customers"
## Summary
We aim to mitigate issues that current paying customers are having with longer building/testing times, by providing all _Professional_ and _Unleashed_ customers with workspaces that have more CPU resources. This is to be achieved by running the workspaces in separate clusters where workspace density is cut in half.

## Context
Professional SaaS customers are experiencing slower building

[2022-01-06 18:56] shaal opened #7488 "Gitpod badge is not displayed when PR doesn't have description"
### Bug description

After adding `addBadge: true` to `.gitpod.yml`
[code]
When creating a new PR with no description, a Gitpod badge is not added to PR description.

### Steps to reproduce

Make sure your repo has this code in `.gitpod.yml` -
[code]

Create a new PR, make sure to only give a title to the PR, but no descirption.
Confirm that the PR has no Gitpod badge in its description.

### Work

[2022-01-06 19:06] kylos101 opened #7489 "More regional workspace clusters"

[2022-01-06 20:04] maksimr opened #7491 "VIM extension double input in Safari"
### Bug description

Input doubled. For example, if press `a` it would set `aa` etc.
The problem appear only in editor. Terminal, dialogue inputs works fine.
Also, looks like the issue goes from editor itself because version of VIM extension doesn't change since https://github.com/gitpod-io/gitpod/issues/6220.

Works properly in Chrome

### Steps to reproduce

STR:

- Open Safari
- Open a workspac

[2022-01-06 22:42] jldec commented on #4977
Let's fix the error with minimal additional complexity for now.
- Change Action to "Download Backup"
- Don't change behavior except if there is no backup - ok to omit - better to disable and show tooltip with "no backups".

[2022-01-06 23:00] gtsiolis opened #7492 "Properly handle provider host name when using http(s) prefix when adding a new integration"
### Bug description

When a user tries to add a Git integration, using a URL with the http(s) prefix leads to inproperly configured URL, Redirect URL, etc.

### Steps to reproduce

1. Go to [`/integrations`](https://gitpod.io/integrations)
2. Try adding a GitLab or Github integration using a URL including the http(s) prefix

### Workspace affected

_No response_

### Expected behavior

_No respons

[2022-01-06 23:07] gtsiolis commented on #5000
@ttauchen feel free to follow up with any comments or upvote https://github.com/gitpod-io/gitpod/issues/1699. 🏓 Cc @asthomasdk

[2022-01-07 00:21] gtsiolis commented on #3594
What do you think of this feature request, @jldec?

[2022-01-07 02:26] axonasif commented on #7482
I agree with you. I'm not sure but there can be some technical challenges here.

[2022-01-07 03:30] #5891 closed

[2022-01-07 03:30] #4330 closed

[2022-01-07 03:30] #3102 closed

[2022-01-07 03:30] #5558 closed

[2022-01-07 03:30] #5647 closed

[2022-01-07 03:30] #4121 closed

[2022-01-07 03:42] MichelleCoffey opened #7496 "Port 8000 Not found"
### Bug description

Port 8000 is not opening. Port 8000 not found.

### Steps to reproduce

try to create workspace and it does not open

### Workspace affected

https://magenta-finch-44p7dax0.ws-us25.gitpod.io/

### Expected behavior

Should open freely so I can see my site.

### Example repository

_No response_

### Anything else?

_No response_

[2022-01-07 03:49] axonasif commented on #7496
Hi @MichelleCoffey , do you have a public repository I can take a look at?

[2022-01-07 04:42] axonasif commented on #7478
Hi @borisyordanov, try the following code in your dockerfile.
[code]

Ref: https://github.com/gitpod-io/website/blob/752e34d17e48f84284c109958ca224ae7c7a0f22/gitpod/docs/languages/javascript.md#node-versions

[2022-01-07 06:00] timmypidashev commented on #80
This would be awesome...

[2022-01-07 07:52] akosyakov commented on #7458
VS Code Desktop right now relies on https://www.gitpod.io/blog/local-app. Could you try to install it and see whether you can SSH into workspace? Please also investigate log output of the local app bundled with VS Code Destkop, you can see a path to it in the output view, e.g. "log": "file:///c%3A/Users/RYROBI~1/AppData/Local/Temp/gitpod-local-companion-22904-33QFks7obsgc-.log"

VS Code Desktop is

[2022-01-07 07:57] akosyakov commented on #7491
@maksimr I think it should be reported to the upstream.

[2022-01-07 07:59] akosyakov commented on #7486
We don't provide any special integration for LiveShare in Gitpod. You can use VS Code Desktop to make use of Gitpod via Remote Development and Live Share. For LIveShare bugs please reach out to maintainers.

[2022-01-07 07:59] #7486 closed

[2022-01-07 09:18] akosyakov commented on #7257
@jeanp413 I chatted with it about @csweichel. The difference between trusted and untrusted that we verify events on the server, i.e. we sure for instance about user identity. But rather than that it does not provide any safety, since a user of workspace can have spam Gitpod Server with events too. I think we should enable untrusted production source as well and use it for analytics just be continu

[2022-01-07 09:30] csweichel commented on #7071
Good point. We're not actually starting the container as `root` (for obvious reasons), hence the process will respect only the `PATH` environment variable of the image. We could add a special casefor `/usr/sbin` here.

[2022-01-07 09:33] #4129 closed

[2022-01-07 09:43] akosyakov commented on #6981
I'm cloing it, but keep in awaitting deployment since it is not in stable.

[2022-01-07 09:43] #6981 closed

[2022-01-07 09:44] akosyakov commented on #6980
closing and moving into awaiting deployment since it is not in stable yer

[2022-01-07 09:44] #6980 closed

[2022-01-07 09:44] akosyakov commented on #6897
closing and moving into awaiting deployment since it is not in stable yer

[2022-01-07 09:44] #6897 closed

[2022-01-07 09:45] akosyakov commented on #6895
closing and moving into awaiting deployment since it is not in stable yer

[2022-01-07 09:45] #6895 closed

[2022-01-07 09:46] MrSimonEmms opened #7497 "[Installer]: validate cluster should accept a namespace"
The `validate cluster` call does not currently accept a namespace. It should accept a namespace via a `-n/--namespace` flag to run tests in that namespace.

Furthermore, it should check for the existence of the desired namespace

[2022-01-07 09:47] MrSimonEmms opened #7498 "Epic: Telemetry"
## Summary

For product improvement and growth measurement, we need to provide evidence of the adoption rate of self-hosted installations. To do this, we must provide an opt-out telemetry service that is able to "phone home" to provide anonymised statistical data.

This should be achieved via a screen when first loading up your Gitpod self-hosted instance (similar to connecting to an OAuth provide

[2022-01-07 09:49] akosyakov commented on #6894
@jeanp413 since we are fine to use untrusted, it would be good to investigate why supervisor cannot send to segment, we don't log any errors there to avoid spamming logs, but maybe it is good to enable them temporarily

[2022-01-07 09:57] akosyakov commented on #6851
@kylos101 What are expectations from IDE team here?

[2022-01-07 09:58] akosyakov commented on #7363
Can be closed? I am still uncertain what is the bug. @jeanp413 could you have a look as well, not fixing, but help to understand the issue

[2022-01-07 10:07] #6896 closed

[2022-01-07 10:35] MrSimonEmms opened #7499 "Name the components"
Proposed name is `installation-metrics` on @csweichel's [suggestion](https://github.com/gitpod-io/gitpod/pull/7503#issuecomment-1008642689)

[2022-01-07 11:46] kylos101 commented on #6851
Hey @akosyakov , this is an old issue and can be closed. At the time of authoring this issue, the installer was new, and creating this issue was our way of introducing you to it. [As you can see here](https://github.com/gitpod-io/gitpod/blob/8e79e27d1d32b8646bbfad78fede790004ba5080/installer/pkg/components/server/configmap.go#L58), the setting is defaulting to true now.

[2022-01-07 11:46] #6851 closed

[2022-01-07 11:51] jeanp413 commented on #7363
Yeah, I'll close it as it's the intended behavior as you explained.

[2022-01-07 11:51] #7363 closed

[2022-01-07 11:59] jeanp413 commented on #7293
Forgot to linked the upstream issue https://github.com/microsoft/vscode/issues/139674

[2022-01-07 13:22] JanKoehnlein commented on #7196
@fr-esco Did you experience this again?

[2022-01-07 13:32] MrSimonEmms opened #7500 "[Telemetry]: send data to server"
As a first pass of the telemetry server, create a Golang run-to-completion script which sends data to a segment.io.

Data to send:
 - Gitpod version
 - Gitpod installation ID - this should be an SHA256 hash of the installation domain name property

The data should be injected as an envvar.

Segment.io will require authentication. This key should be [injected at build-time](https://blog.alexellis.i

[2022-01-07 14:05] #7436 closed

[2022-01-07 14:19] stockholmux commented on #7482
@axonasif To my knowledge this is also not documented as a known issue. It would be nice to have something to preserve my hair - that shouldn't be a technical challenge.

[2022-01-07 14:26] jankeromnes commented on #4456
Alternatively, a more fine-grained option than a checkbox to control the visibility of Project environment variables could be a `visibility` selector with options such as:

[code]

However, for simplicity's sake, let's keep it as a on/off checkbox during initial implementation. This option could be a follow-up enhancement in case of strong interest.

[2022-01-07 14:30] axonasif commented on #7482
@stockholmux I meant that it could be a technical challenge to detect whether the private repo actually exists without having the necessary permissions granted beforehand. Sorry for not being clear enough 😅

[2022-01-07 14:48] #7471 closed

[2022-01-07 14:49] kylos101 commented on #5846
When setting up the out of band backup, it may:
1. Make sense to have the utilities accessible from the node, so they do not have to be downloaded
2. To implement using mage

CC: @aledbf and https://github.com/gitpod-io/runbooks/issues/316#issuecomment-1007456424

[2022-01-07 15:06] ryan-l-robinson commented on #7458
I've installed the local app. I then tried to SSH to a workspace (while on the VPN). This is one of the workspaces which is in the gitpod_ssh_config file, successfully added yesterday.

My command was:

`
PS C:\Users\ryrobinson> ssh -F C:\Users\ryrobinson\AppData\Local\Temp\gitpod_ssh_config-10900-vYDfcopxxEO9 yellow-boa-szcbz07e
`

The response after about a minute is:

`
ssh: Could not resolve h

[2022-01-07 15:09] borisyordanov commented on #7478
@axonasif It works! Thank you!

[2022-01-07 15:19] Shulammite-Aso commented on #7492
Hi @gtsiolis can I work on this? I just looked it up in the code and I think the user-provided URI needs to be stripped of any http(s) if they contain it.

[2022-01-07 16:15] kolloch commented on #1699
We would love to have support for this cloud version. I am not sure if I should add an extra issue for this since this was labeled with "self-hosted".

Optimally, the integration would work for the pre-builds. gitlab registry would work for us or ECR.

As a workaround, being able to inject private environment variables into the prebuilt might help -- but it is not ideal.

[2022-01-07 16:51] jankeromnes commented on #6724
I think we can close this page, as the Project Configuration page has been moved out of the onboarding flow, and will soon be removed entirely, because the Project Configuration feature itself is now deprecated in favour of the auto-generated `.gitpod.yml` that is now added to every unconfigured workspace.

[2022-01-07 16:54] axonasif commented on #7478
Please keep in mind that `init:` task file changes are only persisted for changes under `/workspace` dir. While that command I believe modifies files under `/home/gitpod`.

You can either use a `before:` task spec or just do from your Dockerfile? 🙂

[2022-01-07 17:18] borisyordanov commented on #7478
Using `before` worked, but for some reason, I couldn't get it installed in the Dockerfile. Thanks again!

[2022-01-07 17:18] #7478 closed

[2022-01-07 18:26] borisyordanov commented on #6853
@filiptronicek @akosyakov I wanted to follow up on this. I basically have to repeat the debugging steps your provided before opening any workspace. It appears to be impossible to have more than one workspace configured. It's possible to open the same workspace multiple times, but it's not possible to open two different workspaces at the same time, or in succession. My colleagues are experiencing t

[2022-01-07 18:29] matthewhall-ca commented on #7440
Apologies, no, we're seeing
`ERROR: for device-web  Cannot start service device-web: OCI runtime create failed: container_linux.go:380: starting container process caused: process_linux.go:545: container init caused: rootfs_linux.go:76: mounting "proc" to rootfs at "/proc" caused: mount through procfd: operation not permitted: unknown`

[2022-01-07 20:11] jeanp413 commented on #7460
Created a PR upstream https://github.com/microsoft/vscode/pull/140295

[2022-01-07 20:40] PatMyron commented on #4855
duplicate of https://github.com/gitpod-io/gitpod/issues/2177

[2022-01-07 20:45] PatMyron commented on #2177
@akosyakov is it possible to only prompt for permission when programmatically accessing the clipboard? Gitpod is the only site I've encountered that prompts when manually pasting

[2022-01-07 21:36] fr-esco commented on #7196
Yes, more than once per day.

[2022-01-08 13:44] scopsy commented on #6342
Hi! would love to join the private beta for webstorm

Discord username: scopsy

[2022-01-08 17:58] gtsiolis commented on #2177
@PatMyron see [relevant docs](https://www.gitpod.io/docs/configure/browser-settings#browser-settings):

[2022-01-08 18:06] axonasif commented on #2177
@gtsiolis I think @akosyakov above told a similar thing too (which is documented now 🙂) but I wonder if that's what he want, I'm kind of confused 😅

[2022-01-08 18:14] gtsiolis commented on #2177
Thanks for chiming in, @axonasif!

@PatMyron if the browser workaround described in https://github.com/gitpod-io/gitpod/issues/2177#issuecomment-1008080273 does not help, please open a new issue describing the feature request or bug report. This can help avoid re-opening a closed issue or continuing the discussion in a stale thread. 🏓

[2022-01-08 18:22] PatMyron commented on #2177
@gtsiolis understand the workaround, but I'm specifically asking why Gitpod is the only site I've encountered that prompts for extra permissions to be able to paste text? Is there some functionality where Gitpod is reading the clipboard at other times? Why can I paste text on other sites without this extra permission but not Gitpod?

[2022-01-08 18:32] axonasif commented on #2177
I guess this is specific to [VSCODE-WEB](https://github.com/gitpod-io/openvscode-server/tree/gp-code/main). I would encourage to create a new issue if there is some important matter you want to discuss about as @gtsiolis suggested!

[2022-01-08 18:51] gtsiolis commented on #2177
@PatMyron you would experience the same browser behavior for example also when trying to paste something in the terminal in [OpenVSCode Server](https://github.com/gitpod-io/openvscode-server/), [GitHub Codespaces](https://github.com/codespaces), etc. See also [relevant docs](https://code.visualstudio.com/docs/remote/codespaces#_how-do-i-allow-vs-code-to-access-my-clipboard-for-reading) from `code.

[2022-01-08 20:17] AjXUthaya commented on #6243
I think that if the dead space that is allocated has to be paid for by Gitpod, that it makes more sense that the default limit be lowered down to 15 GB which would be more than enough for most projects and then add the following features for projects that require higher space allocation:

- Show how much disk space is left per workspace in the dashboard
- Option to increase/upgrade disk space if t

[2022-01-08 23:04] ZRDKPoWeR commented on #6342
Zrdk76

[2022-01-08 23:29] #5942 closed

[2022-01-08 23:29] #5909 closed

[2022-01-08 23:29] #5853 closed

[2022-01-08 23:29] #5910 closed

[2022-01-08 23:29] #5922 closed

[2022-01-08 23:29] #4973 closed

[2022-01-09 12:22] AjXUthaya opened #7515 "Gitpod browser extension not support on self hosted gitlab servers"
## Is your feature request related to a problem? Please describe
The gitpod button does not apear for projects that are in a self hosted gitlab server.

## Describe the behaviour you'd like
Auto detect if it is a gitlab instance based on cookies that are set or if an element is present to then check if it is a project and generate the gitpod button regardless of weather the project is hosted on gi

[2022-01-09 12:36] axonasif commented on #7447
Might be related: https://github.com/gitpod-io/gitpod/issues/7249

[2022-01-09 13:22] Milo123459 opened #7516 "Option to never create `.gitpod.yml`"
## Is your feature request related to a problem? Please describe

Sometimes when contributing to a repository, you don't want Gitpod to make a .gitpod.yml. You can add it to the gitignore, but many projects like to keep their gitignores minimal. An option to disable a gitpod.yml file from being created would be nice.

## Describe the behaviour you'd like

An option in settings to stop gitpod from

[2022-01-09 16:29] #5947 closed

[2022-01-09 16:29] #5933 closed

[2022-01-09 16:29] #5943 closed

[2022-01-09 18:42] svenefftinge commented on #3746
I don't quite understand why the configuration needs to sit in another git repository. Can you explain a bit more?

Yes, Gitpod does allow to setup a project that holds a configuration (currently only the `.gitpod.yml`). We for sure should allow to author a `.gitpod.Dockerfile` there as well. Also, a current limitation might be that we require to also install the GitHub App as part of creating a p

[2022-01-09 19:16] rfay commented on #3746
The idea is to have a launcher that has gitpod configuration, rather than being intrusive on every single project. A random project (like a web project or something) doesn't need to have gitpod config itself (which also would need to be maintained). Instead, a launcher can launch it with config specified another way. Examples are https://github.com/drud/ddev-gitpod-launcher and https://github.com/

[2022-01-09 21:16] jldec commented on #7424
Closing as non-reproducible. Please file a new issue with repro steps if you believe this is still a problem. Thanks.

[2022-01-09 21:16] #7424 closed

[2022-01-09 21:17] jldec commented on #7425
Closing as non-reproducible. Please file a new issue with repro steps if you believe this is still a problem. Thanks.

[2022-01-09 21:17] #7425 closed

[2022-01-09 21:32] jldec commented on #7426
@gtsiolis would you mind correcting the description above given that new projects do enable prebuilds across git providers now.

Also regardig the proposal, could you please explain the benefit of moving this configuration out of .gitpod.yml and into the project settings? I would suggest that simply removing the "github" scope of the current configuration, but leaving it in .gitpod.yml just like t

[2022-01-09 22:03] jldec opened #7517 "Epic: Shared environment variables and secrets for prebuilds and workspaces"
**Summary**
Environment variables for workspaces are currently only configurable on a per-user basis and cannot easily be shared amongst a team of collaborating users.

Environment variables are not currently injectible into prebuilds.

This epic addresses both of these limitations, starting first at the project-level, and then the team level.

NOTE: Since environment variable are also used for se

[2022-01-10 07:35] svenefftinge opened #7518 "[GitHub App] Optional allow the PR check to fail when prebuild fails"
When a prebuild fails some users might want to treat this as a blocker to merge a PR, because it might break the dev environment.

### Proposal

Add an option to the GitHub App configuration (currently in `.gitpod.yml`, should move to dashboard/project btw.) which makes PR checks block when the prebuild failed.

[2022-01-10 08:08] jankeromnes commented on #6145
Not stale, still very relevant.

[2022-01-10 08:23] mads-hartmann opened #7519 "Use kube-api proxy instead of port-forwarding"
In https://github.com/gitpod-io/harvester/pull/10 we implemented a kube api proxy for VMs using <preview>.kube.gitpod-dev.com. We should use this instead of port-forwarding in our Werft job.

Currently the proxy doesn't appear to work. To reproduce take the following steps

1. Start a VM off a branch in gitpod-io/gitpiod, see [Using VM-based preview environments](https://www.notion.so/gitpod/Using

[2022-01-10 10:12] gtsiolis commented on #6154
Marking as never stale. Cc @jldec

[2022-01-10 12:13] corneliusludmann opened #7521 "[dashboard] Remove integration dialog has wrong button text (“Delete Workspace” instead of “Remove Integration”)"
When you want to remove an integration in the settings page the button says “Delete Workspace” but should “~Delete~ Remove Integration”.

![image](https://user-images.githubusercontent.com/24960040/148764048-68cc4600-6e83-48b3-9192-339e60275883.png)

[2022-01-10 12:25] gtsiolis commented on #7521
Oh, great catch @corneliusludmann! Thanks for opening this issue and adding the **good-first-issue** label. 🙏

Changed the title to suggest changing the title from _Delete Integration_ to _Remove Integration_ to follow verbs, voice, and tone used in this product area. Feedback is welcome!

[2022-01-10 12:26] svenefftinge commented on #7518
Oops, my assumption that this is easy to do doesn't hold anymore as [this PR](https://github.com/gitpod-io/gitpod/pull/7284) did remove the GH commit status code.

[2022-01-10 12:26] gtsiolis commented on #7492
@Shulammite-Aso Absolutely! Feel free to open a pull request and cross-link this issue there. 🏓

[2022-01-10 13:20] #5988 closed

[2022-01-10 13:23] AlexTugarev commented on #7196
Thanks for reporting the new timestamp. I could indeed find an issue with your tokens.

[code]

That's an unexpected situation where no token is returned.

[2022-01-10 14:24] laushinka commented on #5330
Sorry was assigned this since before the holiday. Going to pick something else for now.

/unassign

[2022-01-10 15:09] gtsiolis commented on #5330
@laushinka shall we also change the issue status on the groundwork board for visibility?

@jldec shall we :a: keep as scheduled until someone picks this up again or :b: remove it altogether from groundwork for now?

[2022-01-10 15:30] JanKoehnlein commented on #7257
Closing as described above

[2022-01-10 15:30] #7257 closed

[2022-01-10 16:19] akosyakov commented on #3342
@jeanp413 Please check with workspace team whether all workspace already have this change in. If so then we can deploy the fix to VS Code Insiders.

[2022-01-10 16:42] jeanp413 commented on #6186
Removing from groundwork as the main issue is fixed except for this edge case that will require changes in core vscode

[2022-01-10 16:52] loujaybee commented on #7023
Ideally we'll split this one down. @akosyakov and @iQQBot have also discussed some plans for this work.

[2022-01-10 17:05] loujaybee opened #7524 "First iteration gateway tile implementation (minimal)"

[2022-01-10 17:05] laushinka commented on #7117
/assign

[2022-01-10 17:18] loujaybee opened #7525 "Create "Open In Gitpod (JetBrains)" button"
Create an "Open In JetBrains" button, which allows users to force open a project within JetBrains. This UX would be useful to support our work on the JetBrains integration. In terms of solution, I believe this can be done via URL parameters.

Related to:
- https://github.com/gitpod-io/gitpod/pull/9467

[2022-01-10 17:39] MrSimonEmms opened #7526 "[Installer]: add telemetry as a cronjob"
Create a telemetry cronjob to provision the telemetry server in #7500 and add all the required runtime data

This need not be done for Helm

[2022-01-10 18:18] slashequip opened #7527 "Code (desktop): Blank window is opened in background"
### Bug description

When opening a workspace in VS Code (Desktop) a blank/empty window is opened (at best guess as part of initilization), a new window is used to open the connection to the workspace and this blank window is left in the background.

### Steps to reproduce

[code]

1. VS Code is fully quit.
2. Open any workspace, in Code Desktop, from the browser.
3. 2 windows will be opened, in t

[2022-01-10 20:45] slashequip opened #7529 "Code (desktop): Individual user defined 'remote' extensions."
## Is your feature request related to a problem? Please describe
I'm not sure _how_ possible this would be but here goes;
When using the desktop version of Code connected to a remote workspace there are locally installed extensions that are required to be installed on the remote workspace.

![Screenshot 2022-01-10 at 18 36 07](https://user-images.githubusercontent.com/2316916/148833569-756b70c2-e7

[2022-01-10 20:46] gtsiolis opened #7530 "Introduce a way to opt out from sending anonymous usage data during installation"
### Problem to solve

Following the proposal in https://github.com/gitpod-io/gitpod/issues/7500, currently there's no way to disable telemetry through the user interface while installing Gitpod.

### Proposal

A good first MVC (minimum viable change) could be to include a way to disable telemetry after installing Gitpod. ➿

Next steps could include allow disabling telemetry also through the admin

[2022-01-10 21:04] gtsiolis opened #7531 "Introduce a way to opt out from sending anonymous usage data through the admin dashboard"
### Problem to solve

Following the proposal in https://github.com/gitpod-io/gitpod/issues/7530, opting out from sending anonymous usage data through the admin dashboard is not possible.

### Proposal

Introduce a way to opt out from sending anonymous usage data through the admin dashboard.

TBD (To be discussed)

[2022-01-10 21:08] jldec commented on #7482
Thank you for reporting this @stockholmux - we will investigate from the Gitpod side.

_(I wonder if this may not be a bug on the GitHub api)_

[2022-01-10 21:20] jldec commented on #7482
Scheduled.

A number of users have reported issues opening workspaces on private repos in the last week or so.
E.g https://discord.com/channels/816244985187008514/928500420966510702
cc: @axonasif

[2022-01-10 21:57] jldec commented on #7482
### notes
1. Allowing forking of private repos is a (fairly recent) feature that needs to be enabled in the GitHub org settings, before a fork is even possible.
![Screenshot 2022-01-10 at 21 55 44](https://user-images.githubusercontent.com/849592/148845348-9add61a9-e1ab-4725-ac3d-2cd8e717e4e3.png)

2. Granting third-party applications access to act on behalf of organization members (also in the or

[2022-01-10 22:33] gtsiolis opened #7532 "Surface inherited user-specific environment variables in project-specific environment variables"
### Problem to solve

Following the work in https://github.com/gitpod-io/gitpod/pull/7295 to add project-specific environment variables, user-specific environment variables are _**not**_ visible when a users adds project-specific environment variables.

Food for thought and certainly out of the scope here: This could be also interesting for team-level variables that could be inherited on the proje

[2022-01-11 03:30] Krish-bhardwaj commented on #7521
Hi i am a fresher and a undergrad student , willing to contribute to our open source project can you assign me this issue .

[2022-01-11 09:28] jankeromnes commented on #7532
Thanks for filing a follow-up issue! 🙏

Sorry, I don't understand this part. Could you please elaborate on this problem?

[2022-01-11 09:33] gtsiolis commented on #7532
Oh, I skipped _not_ there. 😬

Updated the description. Do you think this feature request still makes sense to discuss further? I'm probably missing something here.

[2022-01-11 09:46] jankeromnes commented on #7516
Thanks for filing this feature request!

Note for the Meta team: If this is a highly requested and valuable feature, one relatively easy solution could be to make the `.gitpod.yml` inference code check for whether `.gitignore` has a `.gitpod.yml` entry, and in this case abandon guessing the config.

This would have the desired effect of not adding a `.gitpod.yml` to a workspace when the project "d

[2022-01-11 09:54] jankeromnes opened #7536 "Make the Project "Branches" page load faster"
## Is your feature request related to a problem? Please describe

Currently, when you open a Project, you land on its "Branches" page.

This page synchronously fetches the GitHub/GitLab/Bitbucket API without any cache, and thus typically makes you wait 30-40s before showing anything interesting.

This is terrible, but thankfully it could be pretty easy to fix:

## Describe the behaviour you'd like

[2022-01-11 10:00] jmls commented on #7294
bump .. hitting this error quite often now. Very frustratiing

[2022-01-11 10:07] jmls commented on #5945
we're having this happen on an increasing basis. If we do docker-compose down followed by docker-compose up it often solves the issue, so it can't be related to the containers or configuration

[2022-01-11 10:27] loujaybee opened #7537 "Epic: In Product Changelog (VS Code Browser + Desktop)"
| Context             | Currently, when new changes are released in Gitpod, users are not always aware of what has changed and why. For Gitpod, we have the [Gitpod changelog](https://www.gitpod.io/changelog), but the changelog can be easy for users to miss. This epic is to implement an in-product solution to help users become more aware of changes that are made to Gitpod.    |
|-------------------

[2022-01-11 10:58] gtsiolis commented on #3956
Cross-posting some relevant early design drafts on how this could look like, inlcuding 🍊 user menu from https://github.com/gitpod-io/gitpod/pull/5806#issuecomment-926501804, 🍋 feedback links from https://github.com/gitpod-io/gitpod/issues/3403#issuecomment-908328663, and 🥝 an early draft from past exploration.

| 🍊 | 🍋 | 🥝 |
|-|-|-|
| <img width="400" alt="134656170-46e2f1c3-772e-488a-815d-cc510bd

[2022-01-11 11:46] MrSimonEmms opened #7538 "Allow for optional pepper to further hash the domain hash"
The `GITPOD_DOMAIN_HASH` envvar receives a hash of the Gitpod domain. Whilst cryptographically secure, it's not too difficult to guess domains where Gitpod might be running and see if a hash is in the database.

As a further protection to anonymity, allow for an optional secret to be defined which add a pepper value and then further hashes the `GITPOD_DOMAIN_HASH` value in the component.

The Inst

[2022-01-11 12:12] MrSimonEmms opened #7539 "Add Segment token to telemetry binary"
The Segment token is added to the binary and build time. This will need to be sourced from a secure location that can be accessed from Werft.

From a defensive coding point of view, we should assume that this token can be read by nefarious actors. To that end, the token should be limited to adding new data to a specific location only - no reading/updating/deleting of data is to be permitted whatso

[2022-01-11 12:20] MrSimonEmms opened #7540 "Question - should we log the data we send to console?"
To further prove that we are not collecting anything more than the anonymous data, is it worth displaying what we send as a log message? Normally, it's bad practice to log what you're sending to a data store, but this would transparently display what we're sending so users can see exactly what we're collecting.

The `analytics.Track` object we're sending in the [send](https://github.com/gitpod-io/

[2022-01-11 12:44] AlexTugarev commented on #7196
@fr-esco, one thing I just spotted is that there were two server instances from both clusters (US and EU) handling related requests at that time. is there any chance you've been using any VPN service, etc.?

[2022-01-11 12:51] akosyakov commented on #7023
I think it can be break down to following issues:
- [ ] Provide EAP versions support which is built and delivered nightly similarly to VS Code Insiders. It should be an optional feature from user perspective, by default off.
- [ ] Enable smoke testing of the entire integration during the build including gateway and backend plugins.
- [ ] After that we can enable automatic upgrade for stable versio

[2022-01-11 12:55] akosyakov commented on #2177
Please file an issue in https://github.com/microsoft/vscode

[2022-01-11 13:08] geropl commented on #7051
- clients: a single self-hsoted client uses it for monitoring. Is still on an older version, so removal will not affect immediately. The goal is to offer an equivalent API as soon as they catch up.
 - migration: see above. We plan to offer a public API that has the same features
 - removal: here's the PR: https://github.com/gitpod-io/gitpod/pull/7504

[2022-01-11 13:08] #7051 closed

[2022-01-11 13:11] akosyakov commented on #7529
We rely on Remote SSH for VS Code Desktop and only provide integrations with Gitpod like showing your tasks and installing workspace extensions. The rest like port forwarding, extension management, user data sync and so on are done by VS Code Remote Development. Please consult its docs: https://code.visualstudio.com/docs/remote/ssh#_managing-extensions

[2022-01-11 13:18] #6955 closed

[2022-01-11 13:42] meysholdt commented on #7519
related: https://github.com/gitpod-io/gitpod/issues/7519

[2022-01-11 13:56] meysholdt opened #7542 "Support `with-clean-slate-deployment`"
When the Werft job creates preview environments on Harvester, it should honor the `with-clean-slate-deployment` flag.

Proposed solution: When the flag is set, the job should delete the preview-namespace on Harvester before proceeding to create the VM. This should force the job to effectively to a "clean slate install", because deleting the namespace also deletes the VM.

[2022-01-11 14:00] meysholdt opened #7543 "Verify / Configure Persistence"

[2022-01-11 14:07] meysholdt opened #7544 "Support `with-Observability`"
Preview environments on Harvester should support "observability" (aka have monitoring-satellite installed).

Proposed Solution:
a) always install monitoring-satellite
b) install monitoring-satellite only when the flag `with-Observability` is passed to the Werft job.

[2022-01-11 14:10] meysholdt opened #7545 "Support `with-payment`"
The flag `with-payment` should work in preview envs in Harvester as well as it does today for preview envs in core-dev.

This is for the ChargeBee integration (I think the webapp team has a notion page on it)

[2022-01-11 14:11] meysholdt opened #7546 "Support `with-ee-license`"

[2022-01-11 14:15] meysholdt opened #7547 "Support "Login using Gitlab""
For preview envs on Harvester, "login with GitLab" should work as well as it does today on core-dev.

We can test with gitlab.com, we don't need to use self-hosted GitLab

[2022-01-11 14:16] meysholdt opened #7548 "Support "Login using Bitbucket""
For preview envs on Harvester, "login with BitBucket" should work as well as it does today on core-dev.

We can test using bitbucket.org

[2022-01-11 14:18] slashequip commented on #7529
Thanks for the insight @akosyakov!

I think then that this is what I'm looking for: https://code.visualstudio.com/docs/remote/ssh#_always-installed-extensions

Adding something to user settings to install _my_ expected extensions, without having to update the `.gitpod.yml`. I will have a play around with these settings and then update the issue accordingly.

[2022-01-11 14:20] akosyakov commented on #7458
@ryan-l-robinson Could you try from the scratch and share entire log of the local app with us by sending to contact@gitpod.io? Please mention that it is for Anton and Jean Pierre.

You can also run the local app in debug mode with `--verbose`.

[code]

It happens when the local app cannot access Gitpod Server for some reason. It could be temporary, but it never stops and you don't see that it is c

[2022-01-11 14:21] akosyakov commented on #7529
It probably should go to docs. cc @mikenikles @loujaybee

[2022-01-11 14:40] ryan-l-robinson commented on #7458
Done. Log is sent.

[2022-01-11 14:48] iQQBot opened #7549 "Add tcp tunnel to proxy for self-hosted users to forward SSH requests"
A few days ago we introduced SSH gateway but it need load balancer for ws-proxy, which is not convenient for self-hosted users, we need to add tcp tunnel in proxy to forward SSH protocol to ws-proxy

[2022-01-11 15:12] #7240 closed

[2022-01-11 16:11] geropl opened #7550 "Websocket notification get lost sometimes - improve tracing"
Follow up for this issue: #7054

I managed to a) bump into some occurrences and b) was able to dig up the relevant traces [[1](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/pUajfjBhPa9/trace/3NfPvQHynZu?span=662a1db2645919bb), [2](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/dE1HJviFyNg/trace/AAT7c6zxrqM?span=1437f7d4385a0c80)]. These show that:
 - `openPort`

[2022-01-11 17:26] fr-esco commented on #7196
@AlexTugarev , I use the same PC on the same Internet connection and don't activate any firewall or VPN.

No filters are configured on Bitbucket.

[2022-01-11 18:35] kylos101 opened #7552 "[observability] update GitpodWorkspaceNodeHighNormalizedLoadAverage to trigger sooner"
## Is your feature request related to a problem? Please describe

[Our observability is described here.](https://github.com/gitpod-io/gitpod/tree/main/operations/observability/mixins)

[We have existing alerts for node storage.](https://github.com/gitpod-io/gitpod/blob/main/operations/observability/mixins/cross-teams/rules/components/nodes/alerts.libsonnet#L13)

[We have an existing warning](https

[2022-01-11 20:27] ArthurSens commented on #7552
Hey Kyle, we already have an alert for this(See [related PR](https://github.com/gitpod-io/gitpod/pull/6241#issuecomment-944357589)) but it is intentionally not set to critical due to its noise (e.g [alert](https://gitpod.slack.com/archives/C01TNS9FCQ3/p1641513409002900)). It is not exactly CPU usage, but normalized load average(current load average divided by the number of CPU cores of the node),

[2022-01-11 21:33] borisyordanov opened #7553 "Workspace open splash screen gets stuck when pulling container image"
### Bug description

When a workspace is being opened (it doesn't matter if it's a new one or an existing one) the splash screen is not dismissed quickly enough. Quiet frequently it's never dismissed at all and the user is left looking at the "Pulling container" message. Reloading the page resolves this and takes the user straight to the open workspace options.

![image](https://user-images.github

[2022-01-11 22:04] jldec opened #7554 "Epic: New Workspace Input"
**Summary**
The goal of this feature is to provide users with a great experience for starting workspaces.

**Context**
The existing "new workspace" UI has several limitations.

- It does not support opening workspaces on arbitrary repo context URLs
- It requires navigating to a workspaces list to click on the "New Workspace" button
- The modal UI feels too small and not commensurate with the impor

[2022-01-11 22:07] gtsiolis commented on #5095
@chuck-confluent Currently, we allow projects to be added only once across an instance. We recently shipped a change that includes the username who added a project. This indicates the repository has been added as a project under their personal account or a another team where they can invite you to join.

We're discussing also how we could make it easier to request to join a team when you see a pro

[2022-01-11 22:13] trumbitta opened #7555 "[Dashboard] refactor the CodeText utility component"
As detailed in the https://github.com/gitpod-io/gitpod/pull/7302#pullrequestreview-847622451 thread, the `CodeText`utility component seems to need a refactor replacing the `<span>` tag with a `<code>` tag which is the right semantic choice for such a component.

Beware:

- Are there any cases in the codebase where a `<span>` tag is actually the best choice?
- Will this change work seamlessly? Bett

[2022-01-11 22:31] mikenikles commented on #3956
Will someone who clicks an "Open in Gitpod" button see that dialog or do they have to visit the dashboard?

[2022-01-11 22:33] mikenikles commented on #6632
As per Ofer's link, the fix is not to use the `/from-referrer` link.

[2022-01-11 23:51] #4684 closed

[2022-01-12 02:29] kylos101 commented on #7440
Hi :wave: , [I tried to recreate this issue using the above docker-compose.yml](https://github.com/kylos101/OCI-runtime-create-failed), and it works in both the US and EU cluster (I tried with many workspaces). I even `ctrl + c` and ran `docker-compose up` many times, but was unable to recreate the problem.

@jankeromnes is it possible for them to share a public repo from which they are able to re

[2022-01-12 02:40] kylos101 commented on #7294
Hi @jmls,

May we ask you to share the name of a workspace where you encountered this trouble? Also, if you could share a timestamp for approximately when it happened, both pieces of info would help us better search through logs and traces.

Also, I realize it may not be possible, but if you're able to share a public repo where this issue can be reliably recreated, that would be super.

[It looks

[2022-01-12 05:31] necropolina commented on #7249
+1 for including repos in `.gitpod.yml` and having them cloned into `/workspace`. That's basically the pattern I'm using for a meta-repository. Just declaring the repos in a separate `repos.yml` and using a simple script to clone the repos before sending a `sync-done` that allows tasks to run for the cloned repositories - then run `code -add /workspace/*` during startup. ([put up a lil example her

[2022-01-12 05:51] Krish-bhardwaj commented on #7521
Hi can you help me locate where this Dashboard code / file is

[2022-01-12 05:57] Krish-bhardwaj commented on #7521
thank you didn't knew about it

[2022-01-12 06:00] Krish-bhardwaj commented on #7521
Is there any specific format for commit msg

[2022-01-12 07:25] svenefftinge commented on #7553
I have seen this on prebuilds and workspace image builds. It seems like a connection loss issue on long waits.

[2022-01-12 07:27] svenefftinge commented on #7550
@geropl sounds like https://github.com/gitpod-io/gitpod/issues/7553 is the same?
If so please close as duplicate 🙏

[2022-01-12 09:17] jankeromnes commented on #7440
Many thanks @kylos101 for investigating this issue, and even creating a minimal reproduction case! 🙏 💯

I believe their code is private, so I'm not sure how to effectively make progress here. I'll ask if they can see significant differences between their setup and https://github.com/kylos101/OCI-runtime-create-failed -- but otherwise, I don't see a clear path forward. Maybe a call with some live d

[2022-01-12 09:28] konne opened #7561 "Creation of new Workspaces stoped working"
### Bug description

We can still open existing workspaces from our Dashboard but if we try to open a new one everybody in the company get this screen

![image](https://user-images.githubusercontent.com/1100969/149103870-7a264fa3-b41b-497d-8d45-86e8e618c4f4.png)

### Steps to reproduce

go to github and click the gitpod button

### Workspace affected

_No response_

### Expected behavior

_No resp

[2022-01-12 09:36] schickling commented on #6127
Not stale.

[2022-01-12 09:45] iQQBot opened #7562 "In preview environment, ide image in setting is broken"
### Bug description

In preview environment, ide image in setting is broken

### Steps to reproduce

open a new preview environment

![image](https://user-images.githubusercontent.com/8299500/149114039-cfce83b2-c8d7-43e0-9e65-5392298577b6.png)

### Workspace affected

_No response_

### Expected behavior

_No response_

### Example repository

_No response_

### Anything else?

_No response_

[2022-01-12 10:07] geropl commented on #7054
Re-opening because of new reports:
 - #7553: Workspace not revealing
 - #7550: ports not opening

[2022-01-12 10:07] geropl commented on #7553
@borisyordanov Thx for reporting. This seems to be another symptom of https://github.com/gitpod-io/gitpod/issues/7054. Will re-open that one and close this as duplicate.

[2022-01-12 10:07] #7553 closed

[2022-01-12 10:07] geropl commented on #7550
Keeping this issue for the "improve tracing" part.

[2022-01-12 10:09] akosyakov commented on #7054
While working on JetBrains gateway plugin I also noticed that events are very often delayed and lost. Maybe though affected by performance of prev envs itself.

[2022-01-12 10:17] jankeromnes commented on #7532
Aha, makes a lot more sense now 😅 I feel like I should have been able to guess the missing _not_.

I'm still a bit confused about the second part though (🙈):

- I'm not 100% sure what you mean by "leak" here. I guess user-level variables that have a repositoryPattern which matches the project will also get exposed in project workspaces. But, this only happens for project workspaces _belonging to t

[2022-01-12 10:19] pawlean commented on #7561
Do you happen to have a repo I can look at? Did you change anything in your `.gitpod.yml` file? I sometimes see this issue when I've formatted my `.gitpod.yml` incorrectly.

[2022-01-12 11:23] geropl commented on #7468
The basic code change is quite simple: https://github.com/gitpod-io/gitpod/pull/7523

There are two problems left:
 - [ ] testing: make sure the updates we're sending are the ones we expect (e.g., same as before
 - [ ] double check that the `d_b_workspace_cluster` table in both DBs contains _all_ clusters
 - [ ] fix the "start workspace" case:
    - currently we're broadcasting "artificial" events

[2022-01-12 11:39] #7550 closed

[2022-01-12 11:39] jldec opened #7564 "Text input + autosuggest for New Workspace modal UI"
This is the first step to improve the UX for startig new workspaces in the dashboard. Specifically this removes the 2 tabs in the existing modal UI, and replaces them with a single input field with auto-suggest. The modal behavior (grey background) can remain the same. For additional context, see #7554

![Screenshot 2022-02-01 at 21 20 48](https://user-images.githubusercontent.com/849592/152053446

[2022-01-12 12:00] konne commented on #7561
no this are private repos. This is now already working again. I have here another workspace id from another user that had the
same issue.
We had no changes in the gitpod.yml and the underlying dockerfile and it was working yesterday and had issues today morning and now its working again. So I expect you had a temporary issue.

![image](https://user-images.githubusercontent.com/1100969/149136495-56

[2022-01-12 12:35] gtsiolis opened #7565 "Allow users to use private repositories as a dotfiles repository"
### Problem to solve

Dotfiles support was added back in https://github.com/gitpod-io/gitpod/issues/5198 and https://github.com/gitpod-io/gitpod/pull/7337, following the [relevant RFC](https://gitpod.notion.site/Dotfiles-in-Gitpod-workspaces-b46b8723e9fe4efdbede72daa311961f).

However, private repositories are not supported as described[[1](https://www.notion.so/gitpod/Dotfiles-in-Gitpod-workspace

[2022-01-12 12:40] gtsiolis commented on #7565
@jldec could you :a: verify if this is an issue and :b: whether it's worth scheduling instead of waiting for #7385? Feel free to close if needed.

[2022-01-12 12:47] geropl commented on #7054
@akosyakov It think it make sense if we meet again (soon) and come up with a strategy to pin down the root cause. The data from server (cmp. #7550) suggests that client and server do not agree upon who is connected and who not.

[2022-01-12 12:56] wulfthimm commented on #7519
I did not change the ingress settings and used the same convention as on staging. That means that the URL https://preview-<NAMESPACE>.kube.gitpod-dev.com:6443 is wrong. https://<NAMESPACE>.kube.gitpod-dev.com:6443 works without problems.
It is analog to accessing the preview-environment. You only exchange *.preview.* with *.kube.*.
![image](https://user-images.githubusercontent.com/12035025/149144

[2022-01-12 13:00] gtsiolis commented on #5198
Cross-posting from https://github.com/gitpod-io/roadmap/issues/21#issuecomment-1010208934 for visibility:

Cc @dnsmichi @behrica @andymac4182 @schickling @eddiejaoude @trumbitta @akosyakov @axonasif @bigint @Milo123459 @patmyron @nberlette @pawlean @jakehamilton @chyld @michael-bowen-sc @hoegertn @jcdea @brams-dev @kr-anurag @vnys @leodido

[2022-01-12 13:13] pawlean commented on #7561
Thanks for the update @konne, let me know if anything else shows up. Can you close this issue?

[2022-01-12 13:24] #7562 closed

[2022-01-12 13:40] kylos101 commented on #7440
@jankeromnes the other thing I would be curious about is - does this only happen during peek times, or does it happen during non-peek times, too.

I plan to pause the investigation for now, until we get more information.

[2022-01-12 13:44] MrSimonEmms opened #7566 "[Installer]: publish named Docker tags for Installer"
It would be helpful to have named tags for the Installer Docker images. Whilst it wouldn't be used in a productionised installation, it would be helpful when speaking to the community, writing documentation and guides.

Suggested named tags:

 - `latest`: this would track the stable releases, changing slowing
 - `unstable`: this would track the latest build in the `main` branch, changing rapidly

[2022-01-12 13:51] gtsiolis commented on #3956
In the past, we've been using this modal for blocking workspace start so users would see that either :a: by visiting the dashboard or :b: by trying to open a workspaces directly from a repository via clicking the _Open in Gitpod_ button, even when prefixing the repository with `gitpod.io/#`.

Ideally, we could define :a: which of these udpates would be blocking that require users to confirm or dis

[2022-01-12 13:52] gtsiolis commented on #7537
Cross-posting https://github.com/gitpod-io/gitpod/issues/3956#issuecomment-1009847704 for reference and visibility. See also https://github.com/gitpod-io/gitpod/issues/3956#issuecomment-1011067207:

[2022-01-12 13:54] loujaybee opened #7568 "Update preferences page for desktop IDE's"
On the preferences page for IDE's, currently the user is presented with the default browser editor, and the desktop one is behind a toggle. This update is to make the desktop IDE's more prominent in the UI, so they don't appear hierarchically as a second-class citizen.

**Note:** there are many more changes required to make the desktop IDE UX smoother https://github.com/gitpod-io/gitpod/issues/660

[2022-01-12 14:11] leodido commented on #5198
Lovely to see this finally come to life! 💟
Congrats all!

[2022-01-12 14:31] #7499 closed

[2022-01-12 14:31] #7500 closed

[2022-01-12 14:31] #7526 closed

[2022-01-12 14:31] #7539 closed

[2022-01-12 14:33] loujaybee opened #7570 "Epic: Alternative IDE's in onboarding (JetBrains, VS Code Desktop and Vim/SSH)"
| Context             | Currently, the only way to set up a desktop IDE is to set your IDE preferences in Gitpod, and then restart a workspace. As observed throughout usability, it is not obvious to many users that desktop IDE support exists in Gitpod. This epic is to facilitate different UX journeys for users when opening Desktop IDE's beyond updating preferences and restarting a workspace.  |
|-

[2022-01-12 14:38] #6321 closed

[2022-01-12 14:41] jeanp413 commented on #7054
@geropl FYI I got this workspace https://gold-tuna-qx6w1yza.ws-us25.gitpod.io/ right now and it can't detect the running ports

[2022-01-12 14:47] geropl commented on #7054
@jeanp413 I can find the [trace for your case](https://ui.honeycomb.io/gitpod/datasets/gitpod-production/result/fc7fmg4KPe5/trace/nDZBcnh7bE2?span=251701ca37935c27), but cannot see anything wrong. :upside_down_face: I'm preparing a PR to get more insights from the client side. Also, we get more conclusive insights to (maybe) rule-out `server` behavior tomorrow.

[2022-01-12 14:52] loujaybee commented on #6744
May also be impacted by: https://github.com/gitpod-io/gitpod/issues/6740

[2022-01-12 14:56] loujaybee commented on #6508
Relates to:

https://github.com/gitpod-io/gitpod/issues/6706
https://github.com/gitpod-io/gitpod/issues/6576#issuecomment-1006566022

[2022-01-12 15:12] #5804 closed

[2022-01-12 15:12] #5994 closed

[2022-01-12 15:12] #5892 closed

[2022-01-12 15:12] #5949 closed

[2022-01-12 15:42] buggtb commented on #7193
Would certainly be useful, personally I'd vote for spacemacs to give you a vim/emacs hybrid, but whatever, some form of Mosh/SSH & Terminal IDE support would be nice.

[2022-01-12 15:44] geropl commented on #7550
Note: #7054 is still unresolved, and actively being worked on (again).

[2022-01-12 15:46] MrSimonEmms opened #7571 "Create admin data table and store the telemetry status"
The installation-telemetry is an opt-out service where the status will be stored in a database. A database is use to allow for the admin users to opt in or out without having to reconfigure the application at cluster-level.

This will likely be more of an admin data table where the telemetry status is one part. It may require key/value pair support as well.

As a first iteration, suggest calling t

[2022-01-12 15:46] MrSimonEmms commented on #7571
/team self-hosted

[2022-01-12 15:46] roboquat commented on #7571
@MrSimonEmms: The label(s) `team: self-hosted` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7571#issuecomment-1011181108):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questio

[2022-01-12 15:48] buggtb commented on #7194
Personally I'd rather have Jetbrains in a browser than Jetbrains client download or connection to Idea, but what we have is good enough. Assuming they end up making Fleet a first class citizen and part of their future roadmap, I would certainly like to see Fleet added to the stack so that we can start that up just like we do with VSCode

[2022-01-12 15:52] MrSimonEmms opened #7572 "[Dashboard]: create telemetry screen on first-load"
Currently, if an installation is created **WITHOUT** any OAuth credentials, it's loads up a screen to add them in. The first part of this screen asks if you accept the T&Cs before adding the OAuth creds.

This should be changed so that this "accept T&Cs" screen is **ALWAYS** shown. An additional "would you like to send anonymous data" should be added - this should be worded so that it's an opt-out

[2022-01-12 15:53] MrSimonEmms opened #7573 "[Dashboard]: create telemetry screen in admin panel"
Further to #7572, the same opt-out question should appear in an admin panel to allow for admin users to change their status after initial installation

Once complete, the database should be change so that the `sendTelemetry` defaults to `true` #7591

[2022-01-12 16:27] PatMyron commented on #7385
Would love it to default if a repo is named `dotfiles`:
https://github.com/gitpod-io/gitpod/pull/7337#issuecomment-1002745115

[2022-01-12 16:44] #7518 closed

[2022-01-12 16:53] TylerZeroMaster commented on #7397
I have been investigating a similar issue with the [redhat.vscode-xml](https://open-vsx.org/extension/redhat/vscode-xml) extension.

Starting or reloading a workspace that has a xml document open commonly results in a variety of error messages and the absence of xml validation. If no xml document is open when your workspace loads, everything works as expected.

### Steps To Reproduce
1. Install th

[2022-01-12 16:53] zpthree commented on #5198
Looks like the dotfiles repo has to be public?

[code]

[2022-01-12 16:55] gtsiolis commented on #5198
@zpthree yes, you're right! We've opened a follow up issue to also support private repositories in https://github.com/gitpod-io/gitpod/issues/7565 and there's already a fix on the way from @iQQBot in https://github.com/gitpod-io/gitpod/pull/7569.

[2022-01-12 16:57] zpthree commented on #5198
@gtsiolis awesome! looks like my comment got deleted somehow so for anyone seeing this i was just saying that it looks like the dotfiles repo needs to be public.

[2022-01-12 17:06] loujaybee opened #7575 "Epic: GitHub "Governance" Processes"
An issue to help improve visibility on how GitHub issues are triaged, how roadmapping works, how labels are applied etc. Please use this issue to share thoughts and suggestions on how we can improve the GitHub contributing experience.

[2022-01-12 17:11] jldec commented on #7157
Another customer reported a similar problem in a [support request](https://app.frontapp.com/open/cnv_im7s896). (internal)

[2022-01-12 17:37] kylos101 commented on #5945
Hi @konne, I hope you're well! May I ask, if you're able to share the name of a workspace and time where you experienced this issue, that would be great. Also, if you're able to share a public repo where I can reliably recreate the problem that would be super. [I did a brief attempts here to recreate the problem, but was not successful.](https://github.com/gitpod-io/gitpod/issues/7440#issuecomment

[2022-01-12 19:18] gtsiolis commented on #7521
@Krish-bhardwaj Currently, there are no strict commit message guidelines, but also feel free not to worry about this. If a commit message needs to be improved the reviewer will bring it up. See also [relevant docs](https://www.gitpod.io/docs/contribute/features-and-patches/commit-message-convention) currently in WIP (work in progress). Cc @ghuntley

[2022-01-12 19:26] Krish-bhardwaj commented on #7521
Okay so when will my PR get merged

[2022-01-12 19:35] gtsiolis commented on #7521
@Krish-bhardwaj Usually, someone from the team will pick up the PR for a code review. I'll take a look later or tomorrow.

[2022-01-12 19:37] Krish-bhardwaj commented on #7521
Ok  🙂

[2022-01-12 19:46] Krish-bhardwaj commented on #7521
@gtsiolis i just wanted to know can i make any unique or intreasting project using git( i am a beginner have some exp with git)
Any suggestions

[2022-01-12 19:54] #7521 closed

[2022-01-12 19:59] gtsiolis commented on #7521
@Krish-bhardwaj Re-posting from a recent [relevant tweet](https://twitter.com/gtsiolis/status/1451605131519217668):

[2022-01-12 20:11] gtsiolis commented on #3657
Closing this as it's no longer pinned. Thanks @jankeromnes for initialy opening this. 🏀

[2022-01-12 20:11] #3657 closed

[2022-01-12 21:02] gtsiolis commented on #7537
A possibly good MVC step could be to continuously and reguarly update the changelog and simply link to the [changelog](https://www.gitpod.io/changelog) from the dashboard near user profile menu links. 🌔

[2022-01-12 22:56] schickling opened #7579 "Dotfiles install.sh script doesn't fully run"
### Bug description

I'm currently giving the new dotfiles feature (see #5198) a try and have been running into a few problems. It seems that my provided [`install.sh`](https://github.com/schickling/dotfiles/blob/main/install.sh) script is only partially executed. (I'm actually not sure what the problem is but would like to find out - **is there a way to see the logs of the executed `install.sh` s

[2022-01-13 01:52] kylos101 commented on #7461
Hey @csweichel , I recreated the problem [here](https://github.com/kylos101/tailscale-test).

I'm having trouble resolving DNS from Gitpod when using Tailscale Magic DNS for machines on my tailscale network. Interesting how when I `netcat -u 100.100.100.100 -v`, I get different results from both environments:

**VM**
ubuntu@database:~$ netcat -u 100.100.100.100 53 -v
Connection to 100.100.100.100

[2022-01-13 03:01] axonasif commented on #7579
I thought that's only for symlinking logs 😅
Just checked now and it seems STDOUT and STDERROR are there too, thanks for the info!

[2022-01-13 03:21] axonasif commented on #7579
@schickling basically the env profile wasn't loaded, so you need to use bash interactive mode to do that manually.
I just raised a PR https://github.com/schickling/dotfiles/pull/9

[2022-01-13 03:50] axonasif commented on #7516
@jankeromnes I had suggested him to put `/.gitpod.yml` in his repository but he was insiting that `It’s just that I’m contributing to a project and don’t want to add unnecessary clutter` cc @Milo123459

[2022-01-13 04:42] sr229 commented on #6342
Heya, sign me up! I'm Ayane#8660 on Discord.

[2022-01-13 07:20] pawlean commented on #6342
Hi folks, I see so many people wanting to be added to this but it is now, in fact, public to everyone. See [Lou's comment](https://github.com/gitpod-io/gitpod/issues/6342#issuecomment-981957772) above.

See the docs [here](https://www.gitpod.io/docs/editors/intellij) too.

[2022-01-13 07:30] wulfthimm commented on #7479
That would mean that sweeper running on k3s in a VM inside harvester has access to Harvester and the permission to remove namespaces. We would also need a way give a service account in k3s access to Harvester. That is a security risk unless we put much effort in it to create a separate service-account for each preview-environment on Harvester itself with the restrictions to remove only a specific

[2022-01-13 07:34] axonasif commented on #6342
Thanks for the clarification, I was still confused on it ahahah 😅

[2022-01-13 07:57] wulfthimm commented on #7543
- MySQL is used by default
- MinIO is used unless the storage is explicitly set to "gcp" ([ref](https://github.com/gitpod-io/gitpod/blob/f5c27bfd395cd26fa00016b018334355d77b0491/.werft/build.ts#L796))
- GCP container-registry is used by default ([ref](https://github.com/gitpod-io/gitpod/blob/f5c27bfd395cd26fa00016b018334355d77b0491/.werft/values.dev.yaml#L140)) and the internal docker-registry is

[2022-01-13 08:02] pawlean commented on #7290
Thanks for this feature request @jimmybrancaccio! I use Gitpod (not self-hosted) and actually agree with you on the default tab. I prefer the workspace tab as well. Maybe this also includes a potential conversation to include in Sass Gitpod as well as self-hosted. cc/ @jldec

[2022-01-13 08:27] MrSimonEmms commented on #6372
An additional consideration could be to allow sign ups from specific organisations. I'm not sure how this would work with BitBucket (and any future oauth-providers we support), but it should be possible with GitHub and GitLab.

For the record, the `blockNewUsers` is supported natively by the Installer as well and the configuration is identical to @corneliusludmann's example above:

https://github.

[2022-01-13 08:51] MrSimonEmms commented on #7571
/team self-hosted

[2022-01-13 08:51] roboquat commented on #7571
@MrSimonEmms: The label(s) `team: self-hosted` cannot be applied. These labels are supported: `team: IDE, team: meta, team: workspace`

<details>

In response to [this](https://github.com/gitpod-io/gitpod/issues/7571#issuecomment-1011923754):

Instructions for interacting with me are available [here](https://github.com/gitpod-io/gitbot/blob/main/plugins/customlabels/README.md). If you have questio

[2022-01-13 09:34] schickling commented on #7579
Thanks a lot @axonasif - this indeed seems to address the initial problem of the `install.sh` script not running properly - it now does. However...

This turns out to be a major problem - at least for my use case where setting up the dotfiles takes multiple minutes.
This now seems to have the result of opening any kind of workspace takes multiple minutes showing this screen (i.e. making it faster

[2022-01-13 09:36] schickling commented on #7579
Also, I'm not sure whether this is a separate issue or related to the dotfiles. Since having merged @axonasif's PR (thanks again ❤️ ) once a workspace has opened (after 2-3 min) it shows the following:

<img width="1616" alt="image" src="https://user-images.githubusercontent.com/1567498/149304286-2dc56e3b-0b55-4b56-a397-33e9b2f2cf68.png">

After clicking the reload button it seems to have wiped my

[2022-01-13 09:50] axonasif commented on #7579
@schickling yes you are right, it seems to take a bit longer to open, probably 2 minutes. But I'm unable to reproduce the other error that you mentioned. I open my PR with Gitpod and did some activities on the workspace for the last 5 minutes but nothing wrong yet.
![Screenshot_20220113-154813.png](https://user-images.githubusercontent.com/39482679/149306768-836b7fd1-e5f7-43c9-8f1c-3ed640484111.pn

[2022-01-13 09:55] geropl commented on #7054
Assigning to team IDE for the work on PR: https://github.com/gitpod-io/gitpod/pull/7574

[2022-01-13 09:56] axonasif commented on #7579
@schickling can you please try again and let me know if it's still happening 🙏?

[2022-01-13 10:05] #7519 closed

[2022-01-13 10:09] schickling commented on #7579
Still same error:

<img width="510" alt="image" src="https://user-images.githubusercontent.com/1567498/149310038-9395309e-ad0c-4b88-b0ef-7ec3907933ad.png">

[2022-01-13 10:09] axonasif commented on #7579
@schickling your MakeFile changes won't be persistent since you're running it from init stage.

[2022-01-13 10:14] laushinka opened #7583 "Make View Account Statement more usable"
The View Account Statement feature in the Admin dashboard is currently not readable, and even copying the JSON to a clipboard is painful because of a lack of scrolling.

| Current view | Proposed |
| - | - |
|<img width="273" alt="Screenshot 2022-01-13 at 11 13 30" src="https://user-images.githubusercontent.com/8015191/149310995-30504f2c-4f26-41ad-b2b3-29534ce1defd.png"> | No UI at all, just retur

[2022-01-13 10:21] konne commented on #5945
@kylos101 all the workspace ideas from my side I always added and the time was always like 2mins after it happen if you look to the comment.
No, we have no public repo, but I can make with you a teamviewer, zoom, whatever meeting, and show it to you.
We can not reliably reproduce it. During normal usage, it happens around 2-3 times a week per developer.

[2022-01-13 10:23] konne commented on #7561
Yes, you can do something: analyze why this happens!

We just rolled starting Monday gitpod to another 35 developers with Unleashed plan out, and this incident created a really bad sign for the devs to fully switch to gitpod.

[2022-01-13 10:27] csweichel opened #7584 "Integrate yara into agent-smith"
## Is your feature request related to a problem? Please describe
Right now agent-smith runs its own set of classifiers (rule matchers). We should add [Yara](http://virustotal.github.io/yara/) to the mix so that we can rely on existing rule sets.

## Describe the behaviour you'd like
I'd like agent-smith to be able to consume yara signatures. We could use [go-yara](https://github.com/hillu/go-yara)

[2022-01-13 10:31] schickling commented on #7579
Seems to work on stable. Thanks @axonasif @iQQBot

[2022-01-13 10:56] pawlean commented on #7561
Sorry about that - I've informed our team internally. 🙏🏼

I'll close this issue for now, but feel free to ping us again anytime.

[2022-01-13 11:23] schickling commented on #7579
Closing this issue as the mentioned problem is addressed via this: https://github.com/schickling/dotfiles/pull/9/files#diff-043df5bdbf6639d7a77e1d44c5226fd7371e5259a1e4df3a0dd5d64c30dca44fL1-R1

However the lack of caching for dotfiles is still a major problem for me (which unfortunately renders Gitpod with dotfiles enabled impractical for me to use).

[2022-01-13 11:23] #7579 closed

[2022-01-13 11:35] axonasif commented on #7579
I would encourage you to create a separate feature request for this 🙂

[2022-01-13 11:50] jldec commented on #7564
Visual design guidelines for this first implementation from the sync today:

- Keep the current modal dimensions and scrolling behavior and list size limit unchanged
- Render the auto-suggested results as simple git repo context URLs including the `http://git-provider/...` prefix
- No need for a submit button - click on any result to submit.

Suggestions for future improvements

- Render results w

[2022-01-13 11:52] ThePaulMcBride commented on #7249
This sounds like a great idea. Where I work, our app is powered by a handful of separate repos. A Next.js front end, a Ruby on Rails server, a background worker, and a few other micro services. When added a new feature, or especially when modifying an existing feature, we have to work on more than one of those repos at a time.

Maybe a configuration that works a bit like docker compose where you c

[2022-01-13 11:57] MrSimonEmms opened #7585 "Create an installation-admin endpoint inside server component"
Follows on from #7571

In order to maintain consistency in the database, an installation-admin endpoint should be created in the `server` to provide read-only access to the data. This will be used for the `installation-telemetry` component to read whether it should send telemetry data to SegmentIO.

This endpoint may need appropriate authentication to ensure that this data is not used nefariously.

[2022-01-13 11:59] gtsiolis commented on #6557
Removing assignment for now.

[2022-01-13 12:03] csweichel commented on #7461
I've created a local VM, ran postgres and dnsmasq to provide name resolution. I was successfully able to connect to the postgres instance from my workspace through tailscale.

![image](https://user-images.githubusercontent.com/3210701/149326512-66c1fac6-9f28-4266-b3e3-3c44636f8635.png)

The next thing to try is to replicate the RDS setup directly.

[2022-01-13 12:14] csweichel commented on #7561
I'm sorry you're seeing this. I've dug into the issue and found that it's the prebuild initializer that's failing while trying to do a `git fetch` ([internal logs](https://console.cloud.google.com/logs/query;cursorTimestamp=2022-01-12T09:24:57.793708223Z;query=%22aquamarine-clownfish-nolqpu4b%22%0Atimestamp%3D%222022-01-12T09:24:57Z%22%0AinsertId%3D%224nvl8356atorjhka%22;timeRange=PT48H?project=wo

[2022-01-13 12:16] djsnipa1 commented on #605
Could I please be added to try out this feature?

[2022-01-13 12:41] jmls commented on #7294
I just hit this issue on the workspace

amethyst-junglefowl-k8ue6rec.ws-eu25.gitpod.io

just before

Thu 13 Jan 2022 12:39:08 PM UTC

I have left the workspace open . Two containers failed to start

 Cannot start service node-data: OCI runtime create failed: container_linux.go:380: starting container process caused: close exec fds: open /proc/self/fd: no such file or directory: unknown

[2022-01-13 12:49] #7561 closed

[2022-01-13 12:52] csweichel commented on #7561
We have merged [a fix](https://github.com/gitpod-io/gitpod/pull/7589) and are rolling it out as we speak. You should be able to start workspaces again in the coming hours.

One contributing factor was that there were branches with overlapping names, i.e. at some point a branch `b` existed which was subsequently deleted and replaced by a branch `b/something`. This overlap in names combined with the

[2022-01-13 12:57] #5934 closed

[2022-01-13 12:57] #5970 closed

[2022-01-13 12:57] #5669 closed

[2022-01-13 12:57] #5873 closed

[2022-01-13 12:57] #6024 closed

[2022-01-13 14:44] chrifro opened #8196 "SEO: Deindexation of Workspace-URLs"
**Issue:**
Workspace-URLs can flood the search engine index. Workspace-URLs can lead to abusive SERPs

**Example:**
https://imgur.com/bt4RCe0
https://imgur.com/b11BtRz

**Solution:**
Deindexation of Workspace-URLs

[2022-01-13 14:57] jeanp413 opened #7590 "Investigate how to decouple code web stable and insiders configuration"
We need to investigate possible ways of decoupling code web stable and insiders config, it gets a bit cumbersome when we want to release a new code stable image, and we have modified the dockerfile (e.g. due to new upstream changes related to the server) since the last stable release and this changes are not backwards compatible

[2022-01-13 16:03] sr229 commented on #7441
I think this is possible now given the recent developments with github.dev and vscode.dev.

I think what we can do here in DX is this:

- Offer a basic VSCode Web Editor right off the bat. It won't provided advanced intellisense and not all extensions work.

- If the user specifically requests for a full workspace, we provide a notification popup detailing the progress of the full workspace then l

[2022-01-13 16:47] JohannesLandgraf commented on #7249
I think there is a shorter, simpler solution to the problem. I suppose that in the status quo if you have multiple repos for Front  - and Backend you also have multiple IDE windows opened on your local setup. Both services can talk to each other because they run on the same machine.

In the Gitpod world you can spin up to workspaces based on the individual repos that also essentially become two ID

[2022-01-13 16:50] ThePaulMcBride commented on #7249
If this is the kind of thing that could be configured as a project and automated, that would be amazing. Locally they are in different repos and are worked on in separate VSCode windows.

[2022-01-13 17:05] loujaybee commented on #7249
Added an issue to update the website docs to call out the current solutions more clearly for users: https://github.com/gitpod-io/website/issues/1461

[2022-01-13 17:10] konne commented on #7561
@csweichel can you please also add that we get a better log in if the rebuild initializer fails.
For example on this issue we had even the chance that we could:
1. just fix in our repo
2. make clear that this is not a gitpod issue
Again thanks for your search. We also had the same issue on our Jenkins build and someone fixed it just about two hours later and so I was then fixed. But there we had l

[2022-01-13 17:50] necropolina commented on #7249
Def into the Tailscale solution, but also think that an integrated alternative to metarepos & git submodules for multi-root workspaces would be great to have. We have a few groups of APIs and interfaces that can be highly coupled within the groups and may be loosely coupled between groups, so it can make sense to work on multiple repos from one IDE instance, at least within the groups.

I may swit

[2022-01-13 18:01] necropolina commented on #7249
With the pattern in the example repo that I posted, being able to declare the git branch for multiple repos in the `repos.yml`, and provide a single link or branch name to other devs so they can spin up a workspace with all repos at the right commit is... just nice.

I also think it's important to maintain the "all gitpod contexts can work" thing @svenefftinge mentioned. I currently have `.gitpod.

[2022-01-13 18:04] ThePaulMcBride commented on #7249
In practice that means I need to understand what tailscale is, how it works and how it should be used for my project. Honestly, it looks like it is probably the right solution for  though. It would be ideal if this could be configured through the Gitpod UI or through the config file in a way that isn't a bash script that someone in the team needs to take responsibility for understanding and make s

[2022-01-13 18:15] schickling opened #7592 "Dotfiles install script execution should be cached"
## Is your feature request related to a problem? Please describe

As mentioned [in this issue](https://github.com/gitpod-io/gitpod/issues/7579#issuecomment-1012045409) executing the [`install.sh`](https://github.com/schickling/dotfiles/blob/cc21cf26d5d19f596be53f1a6f03646e93330649/install.sh) script of my dotfiles currently takes 2-3 minutes (mostly by running Nix `home-manager`). This means using

[2022-01-13 18:16] schickling commented on #7579
Done: https://github.com/gitpod-io/gitpod/issues/7592

[2022-01-13 18:23] svenefftinge commented on #7249
Yes, we are working on getting to that ideal. In the meantime, it is super helpful to have folks like you trying this in order to make sure this is a good direction. 🙏

[2022-01-13 18:26] svenefftinge commented on #7249
@loujaybee I've updated the [epic description](https://github.com/gitpod-io/gitpod/issues/7249#issue-1080949760) a bit. Made it clearer we are talking about multi-repo setups and added descriptions for the two common approaches.

[2022-01-13 18:50] danieldietrich opened #7593 "VS Code does not work properly when opening Gitpod in Gitpod"
### Bug description

When opening a new Gitpod workspace https://gitpod.io/#https://github.com/gitpod-io/gitpod, VS Code does not show TypeScript errors in an open editor.

### Steps to reproduce

1. Create a new workspace
2. Open `StartPage.tsx` (open command palette (Cmd + P) and type file name)
3. Remove an import line at the top of the file and save the file

### Workspace affected

white-cond

[2022-01-13 19:02] imskr commented on #6392
Can I work on this?

[2022-01-13 19:52] shaal commented on #7249
Is there an existing/working example in Gitpod of 2 separate repos that can work together using Tailscale?

[2022-01-13 21:21] svenefftinge commented on #7249
I have [written down an RFC](https://www.notion.so/gitpod/Multi-Support-247be8565ed14d8e88cf4147a740c9fc) for how we could better support this.  Feedback would be awesome!

[2022-01-13 22:06] necropolina commented on #7249
Love it - the webhooks for triggering multi-repo builds from sub-repositories is the piece I haven't fleshed out for our setup yet. The tricky bit seems to be accounting for branches. Could end up with situations where changes to a sub-repo branch would trigger builds for multiple parent-repo branches, which would mess with the ability to launch the workspace for all repos from a sub-repo (maybe w

[2022-01-13 22:33] jldec opened #7597 "Epic: Admin dashboard enhancements to avoid SQL queries for support"
**Summary**
The goal of this epic is to enable the use of the admin dashboard, to resolve support scenarios which currently require SQL queries for inspection or direct SQL manipulation of data.

**Context**
Features such as teams, or projects and prebuilds cannot currently be inspected via the admin dashboard. This makes it difficult to support users in their use of these features.

Issues with i

[2022-01-13 22:47] stemount commented on #7249
### Multi-Repo GitPod

To go big brain there's a few things to be answered:
- [ ] When using the mono-repo approach, all developers would need organisational wide dependencies. This typically is granted in most organisations, but it then increases the size of a GitPod container (as in it's "docker image" it is running as you are working on it).
- [ ] What foul/harm is there in the organisation not

[2022-01-13 22:51] kylos101 opened #7598 "Observe (try to recreate) slow image build for customer repo"
### Bug description

The story:
As a Gitpod user, I want to quickly build my own images in a specified Dockerfile, so that I can customize the workflow for my development team.

The problem:
Some customers are experiencing delays with image builds. I (@kylos101) was able to recreate [using this](https://github.com/gitpod-io/gitpod/issues/7157#issue-1075903726), the image build took 55m.

Expected

[2022-01-13 23:54] kylos101 commented on #7598
[Sage can take a while.](https://ask.sagemath.org/question/25799/how-long-does-it-take-to-compile-the-sage-from-its-source/#:~:text=On%20older%20machines%2C%20it%20can,cooling%20is%20going%20on%20properly)

We found it can be 55m on meta, and 54m on workspace (view workspace-preview).

[2022-01-13 23:56] #7598 closed

[2022-01-14 00:02] kylos101 commented on #7157
Hey @tobiasdiez it looks like you solved the original problem, and [then experienced an error once](https://github.com/gitpod-io/gitpod/issues/7157#issuecomment-991279574).

If you're still experiencing the new problem, where the folder repeats, may I ask you to reopen this issue, and share the corresponding workspace URL? Thank you!

[2022-01-14 00:02] #7157 closed

[2022-01-14 00:38] mikenikles opened #7600 "Feedback Issue: Incremental Prebuilds"
## Objective

This issue is to track feedback related to Incremental Prebuilds.

See related roadmap item [[1](https://github.com/gitpod-io/roadmap/issues/1)]

[2022-01-14 02:07] kylos101 commented on #5945
Hey @konne :wave: , I'm sorry, I should have explained why I asked for data again.

We setup a new tracing system in mid-December 2021 :bulb: . Old data was not migrated to the new tracing system, therefore I cannot search for older workspaces. :disappointed:

If the issue happens again, and you get a moment, please share the related workspace? :pray:  I apologize, it is frustrating to share the s

[2022-01-14 02:52] kylos101 opened #7602 "Observe how to recreate "file name too long" error on image build"
### Bug description

The story:
As a Gitpod user, I want to specify a Dockerfile for my base image, so that I can customize the workflow for my development team.

Expected output:
The intent of this issue is read the `image-builder-bob` [code](https://github.com/gitpod-io/gitpod/blob/main/components/image-builder-bob/cmd/build.go), and then see if you can observe/see/test if you can recreate the p

[2022-01-14 04:43] mikenikles opened #7603 "Feedback Issue: Dotfiles Support"
## Objective

This issue is to track feedback related to Dotfiles Support.

See related roadmap item [[21](https://github.com/gitpod-io/roadmap/issues/21)]

[2022-01-14 05:39] akosyakov commented on #6545
It also turned out that backend restart itself for instance if a user install a new plugin. We should make sure that in such case we won't run 2 backends afterwards.

[2022-01-14 05:59] akosyakov commented on #7549
@iQQBot please don't forget to update [groundwork](https://github.com/orgs/gitpod-io/projects/13/views/27) once a day 🙏  I think you are working on this issue, but it is not in progress.

[2022-01-14 06:20] jeanp413 commented on #7460
This is fixed upstream, you can test in vscode web insiders, select it in your gitpod preferences.
Closing this.

[2022-01-14 06:20] #7460 closed

[2022-01-14 07:24] svenefftinge opened #7604 "[Dashboard] Single View for *My* Workspaces"
## Context & Issue

The dashboard has gone through some major changes during the last two quarters. We have introduced the notion of teams, projects and now finally also surface prebuilds.

We (I 🙄) have pushed for making projects center, so that it becomes the default start page as well as the default first thing to do for new users. I today think that both decisions didn’t improve the user exper

[2022-01-14 07:31] csweichel opened #7605 "[content-initializer] Provide actionable feedback when content init fails"
## Is your feature request related to a problem? Please describe
Today content initializer failure is a frustrating experience. Not only does the workspace not start, but the error message isn't helpful either.

## Describe the behaviour you'd like
We must aim to provide a message/feedback which gives more insight into what went wrong, for example:
- when git operations fail, show the output of Gi

[2022-01-14 07:33] csweichel commented on #7561
That makes perfect sense - something we had in the back of our minds but should have done a long time ago.
I've filed an issue and made sure it has the appropriate priority: https://github.com/gitpod-io/gitpod/issues/7605

[2022-01-14 07:50] mads-hartmann commented on #7543
Thanks for checking up o this @wulfthimm -  it sounds like we can just this issue right?

[2022-01-14 07:52] svenefftinge commented on #7443
I see this regularly on most of my workspaces. Seems to happen reliable when the output is sent before the terminal was rendered or so.

[2022-01-14 08:04] Gaberoids commented on #7054
Whats the current workaround for this?

When I used to get "8000 detecting.." I used to "stop" the workspace and "open" again. This would get me the 8000 port woking fine.

However, now, when I stop then open the workspace, I don't get any port opened at all, neither "8000 detecting.." shows anymore.

multiple workspaces are having this behavior:
- https://lavender-parrot-jxyb93hh.ws-us27.gitpod.i

[2022-01-14 08:11] #6056 closed

[2022-01-14 09:42] geropl commented on #7604
FWIW: I personally like:
 - Move the ‘workspaces’ tab to the left and redirect to it from gitpod.io/ (until we have a better replacement, e.g. a "create workspace page, or so)
 - Make `/workspaces` show _all_ my workspaces (again)

Having workspaces tabs under "teams" and "projects" might still be useful, but I'm not too involved and it might not be worth the additional complexity. Also, never use

[2022-01-14 10:07] tobiasdiez commented on #7602
As reported in https://github.com/gitpod-io/gitpod/issues/7157, for me the error seems to be related to a having a `COPY . . ` statement in the custom docker container.
What I suspect is that in the folder where the docker build command is issued from not only contains the content of the repository but also other gitpod-related folders (for example `/buildkit/runc-stargz`) and likely there is a sy

[2022-01-14 10:17] jldec commented on #7443
+1 - I thought it was a vscode insiders thing. After changing that setting the issue appeared to be fixed for one or two workspaces, but now I see the 2-char wide terminal most of the time on workspace start like before.

[2022-01-14 10:18] tobiasdiez commented on #7157
Thanks for looking into this. The problem disappeared after the following commit https://github.com/sagemath/sagetrac-mirror/commit/c0ce19ed03806b6b636b3af5762d3fd4bf32247b. So if you want to reproduce this, then I suggest to go back before this commit. The "to long filename" error indeed only appeared once, but the transferring context issue always happened and is likely a result of a similar rec

[2022-01-14 10:34] Stefan-J-Hanke commented on #7305
maybe related: https://github.com/microsoft/vscode/issues/140697

[2022-01-14 11:15] laushinka commented on #7583
Would there be a download button? Where would it be? @jldec @gtsiolis
Or instead of "View Account Statement" it becomes "Download Account Statement"?

[2022-01-14 12:51] jldec commented on #7604
Here's an example from the [preview environment](https://sefftinge-my-workspaces-7604.staging.gitpod-dev.com/) of #7606

- Of the 3 workspaces, the first was started from a prefixed URL, the 2nd from a project under my personal account and the the 3rd from a project under a team. For me, seeing all 3 in one list reduces mental load and makes things easier. 👍
- The content and layout of the rows in

[2022-01-14 12:52] svenefftinge opened #7608 "Epic: Multi-repo Workspaces"
## Goal

Enable workspace configuration consisting of multiple repositories without compromising on any of the contextual functionality of Gitpod. I.e. I want to be able to start a dev environment that has all the repos cloned and prebuild from any context of the participating repositories.

Additional discussion also in https://github.com/gitpod-io/gitpod/issues/7249

This should allow Gitpod to

[2022-01-14 13:07] rfay commented on #4129
Thanks for this! It's a great step forward.

https://rfay-ddev-ja8v4i6b4t0.ws-us27.gitpod.io/

[2022-01-14 13:38] jeanp413 commented on #7443
Upstream issue https://github.com/microsoft/vscode/issues/139457

[2022-01-14 14:00] borisyordanov commented on #7529
https://code.visualstudio.com/docs/remote/ssh#_always-installed-extensions is a workaround, not a solution. Codespaces doesn't have this deficiency - extensions and settings are synced across workspaces. If Gitpod wants to be competitive it should aim for feature parity.

[2022-01-14 14:38] #7604 closed

[2022-01-14 14:52] stockholmux commented on #7482
@jldec Yeah, note 2 is unlikely in my organization (bummer, but not a blocker) but the error message was my big issue.

[2022-01-14 14:54] ArthurSens commented on #7479
Why does sweeper need to run inside k3s? Can't we just deploy it to the Harvester cluster instead?

[2022-01-14 16:23] geropl commented on #7054
@Gaberoids I use to open/close another port, this fixed it for me.

What do you mean with "now"? "since today", "since last week", "right now"? (trying to pinpoint a release) Thx!

[2022-01-14 17:07] gtsiolis opened #7613 "Improve warning alert component design"
### Problem to solve

:a: The first version of the warning alert component design was based on high saturated colors[[1](https://en.wikipedia.org/wiki/Colorfulness)] and didn't adapt on dark theme colors (see screenshots below) as we did with labels in https://github.com/gitpod-io/gitpod/pull/4607.

| Delete deletion modal on light theme ☀️ | Delete deletion modal on dark theme  🌔 |
|-|-|
| <img w

[2022-01-14 17:21] jldec commented on #7583
this 👇

[2022-01-15 03:47] shaal commented on #4129
Thank you for getting this fixed! It's great.

I found a bug with repos that contain capital letters (ie. DrupalPod), and found the fix for that was already committed today :)
https://github.com/gitpod-io/gitpod/commit/5550be1eb29c28e932a116d14c61bf96c56d290d

How can we tell when will this fix be deployed to live Gitpod workspaces?

[2022-01-15 08:30] JanKoehnlein commented on #4129
Next deployment is planned for Tuesday 9am CET

Sent via Superhuman iOS ***@***.***>

On Sat, Jan 15 2022 at 4:47 AM, Ofer Shaal ***@***.***>
wrote:

[2022-01-15 09:11] ajhalili2006 commented on #6032
Closing due to https://github.com/gitpod-io/gitpod/issues/6032#issuecomment-934158867 and to be nice to stale-bot.

[2022-01-15 09:11] #6032 closed

[2022-01-15 09:22] ajhalili2006 commented on #7439
Technically speaking, while I can scrape it from the official ones, I want to also provide where commit in the upstream repo at the time the build happens on my own builds, which kinda painful because I think the Local Companion CLI is being built in part of daily prod deployments, I guess.

[2022-01-15 10:42] antunderwood opened #7620 "Custom ssh config is permanent"
### Bug description

When opening a workspace on VS Code desktop the custom ssh config is changed permanently so that I can no longer access the ssh cofig at .ssh/config

![image](https://user-images.githubusercontent.com/423/149618839-b1c55612-7198-4a94-af52-7e8b0619343f.png)

### Steps to reproduce

Open a workspace in VS Code desktop

### Workspace affected

_No response_

### Expected behavior

[2022-01-15 10:46] akosyakov commented on #7620
duplicate of https://github.com/gitpod-io/gitpod/issues/5889

[2022-01-15 10:46] #7620 closed

[2022-01-15 10:47] akosyakov commented on #5889
We released SSH Gateway this week which allows to connect to any Gitpod workspace directly without any local tooling. It should allow us to get rid of config file completely next month.

[2022-01-15 10:51] schickling commented on #5889
Looking forward to that. I assume this still allows me to use my own managed SSH servers via `remote.SSH.configFile` at the same time?

[2022-01-15 13:24] antunderwood commented on #5889
Looking forward to this. Also hope it doesn't override what extensions are automatically installed on remote ssh servers. At the moment these have been overridden by the just the gitpod extension rather than appending it

[2022-01-15 15:41] #7054 closed

[2022-01-15 16:15] akosyakov commented on #6931
should be fixed by https://github.com/gitpod-io/gitpod/pull/7621

[2022-01-15 16:15] #6931 closed

[2022-01-15 16:15] akosyakov commented on #6778
should be fixed by https://github.com/gitpod-io/gitpod/pull/7621

[2022-01-15 16:15] #6778 closed

[2022-01-15 16:18] #6545 closed

[2022-01-15 19:28] stemount commented on #7441
Playing devil's advocate, whilst I agree GitPod's loading screen is way too vague and doesn't help you debug a slow starting workspace (is it my machine, GitPod remote, has my workspace crashed etc)... are there actually any browser speed/load benefits of painting a more complete IDE?

I've only ever had a theory as its mostly loading my OS into RAM at this time more than anything but not checked

[2022-01-15 19:35] stemount commented on #7592
I've not used Nix, would it be more suitable in this scenario for you to fork the GitPod default workspace (or similar) as I am guessing it's not the dotfiles themselves but just that this environment is being built everytime you use GitPod.

[2022-01-15 19:42] stemount commented on #7516
Ah @Milo123459. Ace suggestion. For anyone who needs this immediately, (https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#excluding-local-files-without-creating-a-gitignore-file)[https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files#excluding-local-files-without-creating-a-gitignore-file] would be a good workaround so that you do not add/remove

[2022-01-15 19:43] #3066 closed

[2022-01-15 21:35] schickling commented on #7592
Would that approach still work for every repo/container I'm opening regardless of whether I have control over its `.gitpod.yml`?

[2022-01-16 04:25] axonasif commented on #7516
That's a nice that but unfortunately makes no difference since he will have to do that himself each time he opens a public repo that he want to quick-contribute without the hassle of dealing with such tasks.

[2022-01-16 05:18] axonasif commented on #7516
@Milo123459 this is possible with the brand new dotfiles support. Just use this repo link: https://github.com/axonasif/autodel_gitpod_yml on the dotfiles field at https://gitpod.io/preferences/

Or copy the contents of `install.sh` if you have your own dotfiles repo.

[2022-01-16 07:04] loujaybee opened #7626 "Open Gitpod from JetBrains desktop IDE(s) (IDE plugin command)"
Facilitate the ability to open a Gitpod workspace directly from a JetBrains IDE.

Related internal conversation [[1](https://gitpod.slack.com/archives/C02BRJLGPGF/p1642264825016200)].

[2022-01-16 07:50] loujaybee opened #7627 "Epic: How to re-use existing project scripts?"
There are lots of situations where projects have existing scripts for building/starting their projects:

* CI configurations (GitHub actions workflows)
* Makefiles
* devcontainer.json [1]
* Existing Docker configurations

This epic is to collate ideas about how we can leverage these scripts so that customers need to do minimal manual changes to their project in order to setup Gitpod support. Ideal

[2022-01-16 11:38] JonMerlevede opened #7628 "Unexpected connections to processes listening on localhost"
### Bug description

When opening a TCP socket on `127.0.0.1`, some local process establishes a connection to it every second (source is 127.0.0.1, random port). This causes issues e.g. with PySpark, which opens a socket and complains about bad data being sent to it. The same problem does not occur when listening to `0.0.0.0` or e.g. `127.0.0.2`.

I've also noticed that when listening on `127.0.0.

[2022-01-16 16:05] aledbf commented on #7628
@JonMerlevede the source of the connection is a local test of the port availability. This behavior is being refactored to avoid connections.

[2022-01-16 16:43] #7628 closed

[2022-01-16 16:51] jeanp413 commented on #7313
Reopening as this is fixed but not deployed to production yet.
@loujaybee how do we keep track if changes are deployed or not in the new project view?

[2022-01-16 18:18] ctrlaltdylan commented on #898
@atduarte while the routing of ports to localhost with the local companion app is a big improvement - how is one supposed to use HTTPS in conjunction with localhost?

ngrok seems to be the only alternative at the moment, but you're limited with the number of ports that can be signed.

Some development needs to be in HTTPs, like anything involving use of webcams, OAuth security restrictions, iframe

[2022-01-16 22:50] Merith-TK commented on #6275
Stalebot no

[2022-01-17 00:20] kylos101 opened #7632 "[observability] Set goal line for Workspace Startup Time (95%) to 40s"
## Is your feature request related to a problem? Please describe

Team Workspace [success criteria is tracked in this dashboard](https://grafana.gitpod.io/d/jgjwvIc7k/success-criteria?orgId=1&from=now-7d&to=now&editPanel=2).

The Threshold for Workspace Startup Time (95%) must be changed from 30s to 40s [as per this result](https://www.notion.so/gitpod/Product-Team-Workspace-279ad2698bd34d3d80d858

[2022-01-17 05:40] axonasif commented on #6275
@Merith-TK this is doable with the brand new dotfiles support.
I made you a dotfiles repo to get started from, simply use the link: https://github.com/gitpod-dotfiles/default_gitpod_yml on your https://gitpod.io/preferences

Also please close the issue if you feel that this resolves your need.

[2022-01-17 07:26] jmls commented on #7294
any further news on this ?

[2022-01-17 07:54] akosyakov commented on #7194
@buggtb sure, let's first get out more stable JB products out of beta and when Fleet is out of beta add it too

[2022-01-17 08:12] wulfthimm commented on #7479
Sweeper is bound to the preview-environment and has to run inside k3s as it checks the activity by accessing the local database. If the branch does not exist and the workspace is not frequently used sweeper will initialize the removal process.

Suggestion: We could add a cronjob that checks if a preview-namespace has no Gitpod installation and is older than a day. This way we do not interfer with

[2022-01-17 08:50] akosyakov commented on #7458
From logs indeed it looks like the local companion cannot reach gitpod.io host. Can you ping it?

[2022-01-17 08:54] akosyakov commented on #5889
Oh 😬 Please file another issue 🙏

[2022-01-17 08:58] akosyakov commented on #7441
Yeah, VS Code not the issue, but prerequisite that we should allow to fetch files from any workspace on backup, i.e. virtual file system for workspace backups. github.dev using GH api and vscode.dev using local system.

[2022-01-17 09:28] csweichel commented on #7627
Sounds a lot like the project configuration inference @gitpod-io/engineering-meta just shipped, no?

[2022-01-17 09:34] wolf-yuan-6115 opened #7634 "No prompt for billing information when upgrading from student to student-unlimited plan"
### Bug description

There is no prompt to input billing information after upgrade to Personal plan with GitHub student pack

### Steps to reproduce

- Get GitHub student pack
- Upgrade to **Personal** plan (Will be free because student pack, no need to enter any card info when Stripe prompt appears)
- After _purchase_ Personal plan, upgrade to **Professional or Student Unlimited plan**
- It will

[2022-01-17 09:36] pawlean commented on #7634
Hey @wolf-yuan-6115, can you share some screenshots with us? It'd help a lot to see what you're seeing.

[2022-01-17 09:37] wolf-yuan-6115 commented on #7634
Upgraded to student unlimited:
![Screenshot_2022-01-17-17-35-48-19](https://user-images.githubusercontent.com/58245644/149744800-5bc9ce66-e7c6-4530-a063-04c8c7e14f95.png)

Without card:
![Screenshot_2022-01-17-17-35-54-52](https://user-images.githubusercontent.com/58245644/149744858-86bdc2bb-89f2-470a-862d-58feee82ddf2.png)

[2022-01-17 09:46] JanKoehnlein commented on #7627
See also #7392

[2022-01-17 09:56] #7583 closed

[2022-01-17 09:57] jankeromnes commented on #7627
True. 🎯 I read this like a collection of feature requests (4 bullet points) & discussion about approach (1. vs 2.).

This sounds like a good idea in principle, but I wonder:

a. how easy it is to parse a GitHub Action / other CI config file (they generally come with complicated multi-step workflows, dependencies, extra features like between-step caches, or third-party workflows, etc)
b. how releva

[2022-01-17 10:03] laushinka opened #7636 "[Admin] Search for projects and show project details"
Admin page should allow searching of projects by entering the repo or the slug.

(The following screenshot is just a placeholder - this will need more design decisions)
<img width="483" alt="Screenshot 2022-01-17 at 11 13 21" src="https://user-images.githubusercontent.com/8015191/149750673-9c2d66de-8adf-48ce-a04e-eeb895613fe1.png">

#### Search

- [x] sub-string match anywhere in the cloneUrl (ass

[2022-01-17 11:46] jldec commented on #7564
See https://github.com/gitpod-io/gitpod/issues/3715#issuecomment-811947169 for additional UX ideas.

[2022-01-17 11:47] jldec commented on #3715
Closing this in favor of #7554 and #7564

[2022-01-17 11:56] #5814 closed

[2022-01-17 11:57] jldec commented on #7564
More UX ideas - also from https://github.com/gitpod-io/gitpod/issues/3715#issue-848492960

[2022-01-17 11:58] jldec commented on #5069
Closing in favor of epic #7597 and issue #7636

[2022-01-17 11:58] #5069 closed

[2022-01-17 12:02] gtsiolis commented on #6259
Cc @jldec in case this is something worth adding in https://github.com/gitpod-io/gitpod/issues/7597 or consider adding in the meta backlog. 🏓

[2022-01-17 12:05] gtsiolis commented on #5069
@jldec Maybe it's worth considering repurposing this issue by limiting the scope to searching teams, since we're probably going to need a separate issue about searching teams, right? 🏓

[2022-01-17 12:12] loujaybee commented on #7627
Yep—it definitely relates! The issue originates from some usability conversations, and conversations with/in the community.

As @jankeromnes mentioned, this issue is more on a higher-level than inference for specific config (unless our inference "engine" is somewhat generic / almost plugin-oriented. This issue is more about Gitpod's philosophy on integrating existing scripts. If/when we come to a

[2022-01-17 12:25] JanKoehnlein commented on #7082
Let's not close this before the lag has disappeared.

[2022-01-17 12:45] akosyakov commented on #6794
Is it in the context of VS Code desktop or generally for SSH access to Gitpod workspaces? We are working on new connectivity mode which does not require any tools/configurations anymore to connect. Will it be still useful? Basically you will be able to connect with `ssh <workspaceId>:<workspaceSecret>@<workspaceHost>`.

[2022-01-17 12:47] akosyakov commented on #7057
It is going to be a problem for all desktop apps. Maybe we should avoid sending close event from ready screen if desktop app was opened. Or have a special one.

[2022-01-17 13:02] mads-hartmann commented on #7479
@ArthurSens assigning to you and moving to in-progress based on our conversation in Slack ☺️

[2022-01-17 13:02] akosyakov commented on #6846
@iQQBot Will it be fixed with https://github.com/gitpod-io/gitpod/pull/7607? Or you discovered other issues while trying to setup VM?

[2022-01-17 13:08] akosyakov commented on #6846
Yeah, in regardless of the description. With #7607 the installer can be used to create self-hosted installation supporting JetBrains or we still miss something?

[2022-01-17 13:09] ArthurSens commented on #7479
Oh yes, sorry for not doing that myself 😬

[2022-01-17 13:50] laushinka commented on #6932
Initially I would go for removing the Admin tab from non-enterprise users, but a visible nudge also makes sense.
How about showing a disabled Admin tab with a locked icon, and a tooltip saying that it's only for Professional users? Probably there are better ideas, but something along this line?

[2022-01-17 14:10] filiptronicek opened #7639 "[dashboard] Make functionality of the dotfiles settings button more clear"
## Is your feature request related to a problem? Please describe
In the user preferences you can now set a repository for your dotfiles, which is great, **but** when you put in your desired dotfiles repository and you click <kbd>Save Changes</kbd>, it makes you question if you need to use this button for all settings (it really doesn't, [I checked](https://github.com/gitpod-io/gitpod/blob/4bdcf8c8

[2022-01-17 14:10] jeanp413 commented on #7462
This is an issue from the C# extension https://github.com/muhammadsammy/free-omnisharp-vscode (maybe https://github.com/Samsung/netcoredbg too).
Right now `free-omnisharp-vscode` just swaps the proprietary C# debugger with netcoredbg, the debug adapter is the same and some features are not compatible with netcoredbg. More info https://github.com/Samsung/netcoredbg/issues/80#issuecomment-1009072635

[2022-01-17 14:11] danieldietrich commented on #7593
I think we can close this ticket, I did not experience the problems anymore during the last days. Many thanks!

[2022-01-17 14:11] #7593 closed

[2022-01-17 14:14] zpthree commented on #6794
@akosyakov what I'm talking about is an SSH key at the user account level that gets shared among all the workspaces created on that account. That way you can add the public key to your different servers (staging, production, etc.), git accounts, and any other account you might access via SSH.

Specifically, for the workflow that I use I have different deployment commands that depend on SSH access,

[2022-01-17 14:37] trumbitta commented on #7603
https://github.com/trumbitta/dotfiles didn't 100% work for me

A `README.md` was indeed symlinked, but my customized `.gitconfig` wasn't

[I understand](https://discord.com/channels/816244985187008514/932639935473811486) this is due to the file already existing in the workspace.
Here's my reply to a suggested workaround (merging via install script):

[2022-01-17 15:17] Furisto commented on #7602
- I have used the default docker build (instead of our builder-bob component to see if that influences anything) and cloned the sagetrac-mirror repository into a directory outside of the workspace folder -> image build is successful
- Use default docker build within workspace directory -> image build is successful
- Checked the buildkit and stargz github repos for similar issues -> none found
- Tr

[2022-01-17 15:20] dragonDScript commented on #7057
Probably just vscode, due to how it works.

[2022-01-17 15:22] #7549 closed

[2022-01-17 15:28] MrSimonEmms opened #7641 "[Installer]: remove the deprecated TypeORM migration command"
In [installer/pkg/components/migrations/job.go](https://github.com/gitpod-io/gitpod/blob/main/installer/pkg/components/migrations/job.go), the TypeORM command used it returning deprecation warnings.

Change from `migrations:run` to `migration:run`

The functionality remains the same

[2022-01-17 15:50] #7641 closed

[2022-01-17 15:52] tkislan commented on #6794
@zpthree I actually already do this exact thing
It can be easily done through tasks:

[code]

[2022-01-17 15:53] kylos101 commented on #5945
Hi @konne , I just sent you an email asking for more information. This is intentional, I do not wish for you to share a [workspace snapshot URL](https://www.gitpod.io/docs/sharing-and-collaboration#sharing-snapshots) in this issue. Let us know if that's possible?

[2022-01-17 16:49] ryan-l-robinson commented on #7458
Yes, I can ping gitpod.io even when I'm on the VPN.

[code]

I can also browse gitpod.io with no issues.

[2022-01-17 16:54] axonasif commented on #7458
I feel this is more like a clientside issue which is hard to reproduce and also debug 😬, more like this one at discord: https://discord.com/channels/816244985187008514/839379835662368768/932334019583017040

[2022-01-17 16:58] ryan-l-robinson commented on #7458
Understood. Our network is blocking something that this particular function needs. If you have any suggestions for what I could ask our IT department (e.g. a port to unblock), that would be great. If not, go ahead and close this ticket and we'll accept that if we stick with GitPod we'll have to do it in a browser.

[2022-01-17 17:02] axonasif commented on #7458
@ryan-l-robinson we will try to help until we run out of ideas, closing this issue is the last resort 😅  . Can you try connecting to some other server via SSH on your terminal? Does that work?

[2022-01-17 17:06] ryan-l-robinson commented on #7458
Yes, I can SSH to other servers, including some within our network (staging servers) and some unrelated (my personal website).

[2022-01-17 17:21] axonasif commented on #7458
Okay thanks for testing that. Another thing that you can try is ssh'ing into the Gitpod generated config file with `-v` verbose flag? `ssh -v ` I mean.
Kindly copy paste the terminal logs here if there aren't any sensitive information in that 👍

[2022-01-17 17:21] svenefftinge commented on #7249
I've built a PoC for supporting multi-repository workspaces and [recorded a video](https://www.loom.com/share/77a03b7800a340bca2c373601f021b29).
Would be super helpful to learn if such a solution would help and how much, i.e. what kind of issues you could imagine, etc. 🙏

[2022-01-17 17:44] axonasif commented on #6794
@tkislan @zpthree you guys should be able to achieve that across all workspaces with the brand new dotfiles feature of Gitpod!

Just define your SSH key inside a variable at https://gitpod.io/variables/ with `*/*` scope.

Later create a dotfiles repo and have a `install.sh` script with the automation you want. Make sure to `chmod 755 install.sh` before committing the file.

For detailed info about

[2022-01-17 18:03] necropolina commented on #7249
Awesome! To confirm, opening a workspace from an issue would create or checkout an existing a branch named after the issue on all repos?

Also, are all of the sub-repo's `.gitpod.yml`s running or are they all built from the parent's?

Can parent repos be children of other repo's? (e.g., A ⊂ B ⊂ C, where opening a workspace from C would add B to the workspace, which in turn adds A.) Would be nice t

[2022-01-17 18:19] zpthree commented on #6794
@axonasif this is what we're both doing already. I'm currently manually adding a dotfiles repo and running an install.sh script that does this. The way Coder manages SSH keys is more painless. That's basically my point. It seems like a workaround to set it as a variable and then set it up with a script when Gitpod could automate that similar to how Coder does.

I'm mainly thinking about teams and

[2022-01-17 18:27] jeanp413 commented on #7313
This is deployed now :tada:

[2022-01-17 18:27] #7313 closed

[2022-01-17 18:37] #4456 closed

[2022-01-17 18:48] konne commented on #5945
@kylos101 sorry, I don't work day by day with gitpod so I rely a little bit on developer feedback. Here is the first entry:

purple-dodo-gqnfpk03 ; time: 11:15 CET 17.01.2022

![image](https://user-images.githubusercontent.com/1100969/149823620-3f6fe623-3665-473e-8452-2c5e49b623d2.png)

[2022-01-17 19:00] ryan-l-robinson commented on #7458
To generate the ssh config file, I have to go off the VPN. If I try to launch VS Code from GitPod while on the VPN, it will create the file but with nothing in it.

So I went off the VPN, launched VS Code from GitPod, which generated the file. I then tried to SSH to the host name that was showing in that file, with verbose logging, and got this response:

[code]

A couple of those files that it sa

[2022-01-17 19:29] kylos101 opened #7644 "Epic: automate deploy of workspace clusters"
## Summary

Automated deploys of workspace clusters happen weekly

## Context

We do not deploy automatically on a regular, scheduled basis. Therefore, it requires human hours to orchestrate the related deploy test and eventual execution (or backout).

## Value

We want to continuously deploy workspace clusters automatically, to regain those hours. Why? So we can spend more time shipping features

[2022-01-17 20:21] Merith-TK commented on #6275
What if i were to open a repo with a preset gitpod dotfiles? and my dotfiles utilized their own image seperate from the repos

[2022-01-17 20:49] jldec commented on #7613
Assigned to @jankeromnes per https://github.com/gitpod-io/gitpod/pull/7295#discussion_r786166821

[2022-01-17 21:08] kylos101 opened #7645 "[observability] Get better insight to disk I/O"
## Is your feature request related to a problem? Please describe

[Our current node overview lacks read/write specs for node disk I/O.](https://grafana.gitpod.io/d/gitpod-nodes-overview/gitpod-nodes-overview?orgId=1&refresh=30s). This makes it difficult to tell if we're stressing disks when troubleshooting, but also in general, from a planning standpoint.

## Describe the behaviour you'd like

[Se

[2022-01-17 21:27] kylos101 commented on #7645
@gitpod-io/platform hey there, can you help me? I want to schedule this work for the workspace team, so that we can have this new dashboard for workspace clusters (which I think will benefit all of our clusters), but have some concerns.

1. Can we consume external dashboards, given our libjsonnet configuration at Gitpod? Given the picture below, I assume yes, we should just have to import it (in a

[2022-01-17 21:54] kylos101 commented on #7645
@aledbf I am [soliciting feedback](https://github.com/gitpod-io/gitpod/issues/7645#issuecomment-1014898000) from the Platform team.

It seems like this dashboard would help with minimal customization (we could add cluster)! :heart_eyes: